[2020-08-11 10:16] buaziz commented on #5023
https://docs.abp.io/en/abp/latest/Startup-Templates/Module#separated-deployment-databases-scenario

[2020-08-11 10:17] buaziz commented on #5023
https://docs.abp.io/en/abp/latest/Startup-Templates/Application#httpapi-host-project

[2020-08-11 10:39] realLiangshiwei commented on #5023
OK. I will update the document. Thanks.

[2020-08-11 11:30] djordjedjukic commented on #2087
I would like to create RavenDB "plugin" for ABP.
@gterdem Do you have some code already, so I can continue?

[2020-08-11 11:46] mehmet-erim opened #5025 "Create unit tests for AuthFlowStrategy"
Related issue: #4994

[2020-08-11 12:51] #4994 closed, assigned to mehmet-erim

[2020-08-11 13:09] mehmet-erim commented on #4839
Hi @ChangYinShung

We may not remove NgxsStoragePluginModule from CoreModule. But we will fix the problem.

Thanks for the information.

[2020-08-11 13:47] mehmet-erim commented on #4963
Hi @davidzwa

We'll work to reduce the locale bundles, thanks for the information.

[2020-08-11 14:39] sebitsi commented on #4958
@armanozak

Can you please explain why you decide to remove ngsx and put all states to services ?

Related: #4254

[2020-08-11 14:50] armanozak commented on #4958
Hi @sebitsi,

We want to remove dependency to a specific state management library and let ABP developers choose their own state management library.

Have a nice day.

[2020-08-11 14:53] armanozak opened #5026 "Transform replaceable components from NGXS state to Angular service"
Related to #4958

[2020-08-11 15:05] sebitsi commented on #4958
@armanozak
Thanks for fast response.

What exactly this decision mean for me as developer ?
Will you create some base (generic) servicec, selectors etc. to support state management or selecting and using some state management is on us ?

[2020-08-11 15:25] armanozak commented on #4958
Once we finish the transition, singleton services will provide methods and properties to select state slices and change state safely. You will simply inject services and use their methods and properties to manage application state.

You will not need to, but you will be able to use any state management library you choose together with our services.

[2020-08-11 15:35] sebitsi commented on #4958
Sorry my question wasn't well defined.

After you finished transition and remove ngxs dependency will there be some infrastructure to support our states ?
Like IObjectMapper as infrastrucure and automapper as implementation of that infrastructure ?

It will be nice if we decide to replace ngsx with services as you do, to use same base classes as your code will.

[2020-08-11 16:21] NecatiMeral opened #5027 "Account-module - Architectural question"
Hi,

I've just a small question:

Is there a reason that not all APIs of the account module are defined in the `Application.Contracts` package?
The [AccountController](https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/AccountController.cs), which is in the `Volo.Abp.Account.Web` package defines some endpoints which would be nice to have

[2020-08-11 17:09] hikalkan commented on #2608
I am taking this to v3.2.

[2020-08-11 19:16] hikalkan opened #5028 "Document the account module"

[2020-08-11 19:19] hikalkan commented on #5027
Unfortunately that's not possible.

For example, see https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/AccountController.cs#L54

We are using `SignInManager.PasswordSignInAsync` which internally uses IdentityManager and finally adds a cookie to the current http response. That means it logins the current user. We can not make it working

[2020-08-11 19:23] hikalkan commented on #5020
is these what you are looking for: https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers/AccountController.cs#L73 or https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Logout.cshtml.cs

[2020-08-11 19:37] NecatiMeral commented on #5027
Hi @hikalkan,

thank you for your answer.
Wouldn't it be possible to create another interface in the `Application.Contracts` which is implemented by the `AccountController`?

By declaring a interface this way, it could be possible to use the controller with a dynamic C# API client.

Background:
We're trying to use the Account APIs to login users in a WinForms application. Directly using the apis w

[2020-08-11 21:15] ablekh commented on #5020
@hikalkan Thank you for your prompt reply and suggestions. I don't see how the second link is relevant (directly), but the first one seems to be. However, if we are supposed to refer to a specific `Task` class name (`Logout`, in this case) as a name of relevant controller in `asp-controller` (expecting value of `System.String Microsoft.AspNetCore.Mvc.TagHelpers.AnchorTagHelper.Controller` type), h

[2020-08-12 00:06] jack-gaojz-zz opened #5030 "[ERR] Method not found: 'System.__Canon AutoMapper.IMapper.Map(System.Object)'"
**Error message:**

2020-08-12 07:59:57.380 +08:00 [INF] Entity Framework Core 3.1.7 initialized 'BackgroundJobsDbContext' using provider 'Microsoft.EntityFrameworkCore.SqlServer' with options: using lazy-loading proxies
2020-08-12 07:59:57.383 +08:00 [INF] Executed DbCommand (2ms) [Parameters=[@__p_1='?' (DbType = Int32), @__now_0='?' (DbType = DateTime2)], CommandType='"Text"', CommandTimeout='3

[2020-08-12 00:45] maliming commented on #5030
* Steps needed to **reproduce** the problem.

[2020-08-12 01:25] carloszan opened #5031 "EntityChanges on MongoDb environment"
Version: 3.0.4

Well, as [docs](https://docs.abp.io/en/abp/latest/Audit-Logging) are saying, entity changes are not working for mongodb module. So, what I'm doing is I'm writing my own IAuditLogRepository.GetEntityChangeListAsync but of course, I inherit from MongoAuditLogRepository and override GetEntityChangeListAsync.
But the problem is: my audit logs doesn't save EntityChanges in AuditLogsInfo

[2020-08-12 06:01] hikalkan commented on #5027
You should use token based authentication and this `AccountController` is not for it.
The startup template has a [console application](https://github.com/abpframework/abp/tree/dev/templates/app/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp) which successfully authenticates and calls backend APIs using the C# dynamic proxies. You should follow the same approach for the

[2020-08-12 06:01] #4909 closed

[2020-08-12 06:04] hikalkan commented on #5020
You mean it works but Visual Studio shows warning/error? Or it doesn't work at all? If not working, how can I re-produce the problem?

[2020-08-12 06:05] hikalkan commented on #5030
I suppose you've upgraded to AutoMapper 10, but ABP modules are still using AutoMapper 9.
I suggest you to use AutoMapper 9 until we release ABP Framework 3.1 which uses AutoMapper 10.

[2020-08-12 06:05] #5030 closed, assigned to nobody

[2020-08-12 06:10] hikalkan commented on #5031
MongoDB has not a change tracking system, so we can't know the changed properties of an entity when it is updated.
Entity histories implemented for EF Core since it provides these changed entities on DbContext.SaveChanges.

If it was saving EntityChanges in AuditLogsInfo object, then we would already implement it. That's the essential problem.

So, this feature will not be available for mongodb un

[2020-08-12 06:10] #5031 closed, assigned to nobody

[2020-08-12 06:11] #4603 closed

[2020-08-12 06:16] #465 closed

[2020-08-12 06:24] xyfy commented on #4922
you can take a look at <https://github.com/serilog/serilog-settings-configuration>

[2020-08-12 06:24] ablekh commented on #5020
@hikalkan I haven't built it yet, assuming that it makes little sense to try build a solution with unresolved symbols.

FYI: the on-hover message `Cannot resolve controller Logout` appears only in JetBrains Rider (version 2020.1.4), which I'm using as my main IDE; relevant message in VS Code (I don't have Visual Studio) is `Loading...` (I suspect that, for some reason, VS Code's IntelliSense is no

[2020-08-12 06:31] hikalkan commented on #5020
I am also using Rider and getting the same warning on hover, but it works, don't worry :)
The IDE is looking to the current solution to find it, but it is defined in a NuGet package. So, this is a problem of IDEs actually. I couldn't find a way yet to make the IDE happy.

[2020-08-12 06:50] ablekh commented on #5020
@hikalkan Oh, wow! Color me surprised. :-) In that case, I will try to build the solution (as well as other examples) and will continue studying .NET and ABP Framework, which is quite impressive. 👍

`<rant>` I guess, I had higher expectations of modern IDEs. After all, if some symbols are defined in some NuGet packages, which are declared as part of a project or solution, why IntelliSense wouldn't

[2020-08-12 07:18] xyfy commented on #4953
Do you use `XXXApplicationObjectExtensions` to define the property?

like below
[code]

[2020-08-12 07:39] abllyboy commented on #4953
![image](https://user-images.githubusercontent.com/57399417/89988229-ce7f6900-dcb1-11ea-82db-047a8229d9a0.png)
The Create or Update Role's API is this ths same as the commercial. I didn't add or modify anything.

[2020-08-12 07:45] xyfy commented on #4953
pleease follow `Extending Data Transfer Objects` in  this doc
https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#extending-data-transfer-objects%EF%BC%89

[2020-08-12 07:51] KevinBassaDevelopment opened #5032 "AbpProfileService during Multitenancy: Switches to null tenant from grant during authorization"
- ABP Framework version 3.0.5.

**How to reproduce:**

- We have a solution that gets the tenant from the header during authentication on identity server (we use startup with identity server included in api host)
- We have a database per tenant approach, and the connection strings get correctly resolved in all services except AbpProfileService
- Call https://localhost:44347/connect/token, provide

[2020-08-12 07:53] xyfy commented on #4953
MapExtraPropertiesTo requires to define properties (as described above) in both sides (IdentityUser and IdentityUserDto in this case) in order to copy the value to the target object. Otherwise, it doesn't copy the value even if it does exists in the source object (identityUser in this example). There are some ways to overload this restriction.

https://docs.abp.io/en/abp/latest/Object-Extensions#m

[2020-08-12 07:55] abllyboy commented on #4953
ths, now I use other ways to deal this. I just  hope abp to fix this issue.

[2020-08-12 08:45] carloszan commented on #5031
Thanks. Now I understand the correct problem!

[2020-08-12 09:18] maliming commented on #5032
hi
I will check this.

[2020-08-12 09:37] jack-gaojz-zz commented on #5030
@hikalkan Thanks so much. :)

[2020-08-12 10:10] #4953 closed

[2020-08-12 10:55] NecatiMeral commented on #5027
Thank you @hikalkan.

We'll investigate this topic further. :-)

[2020-08-12 10:55] #5027 closed, assigned to nobody

[2020-08-12 11:31] hrx521 commented on #394
People have been waiting for a long time, and the big guys are finally going to start building the Blazer UI. I hope I can make some contribution. I believe that there will be many and enthusiastic contributors

[2020-08-12 11:48] tvddev commented on #394
I see there are now actual tickets for v3.2. Good news!

#5009

[2020-08-12 14:49] volethanh commented on #2878
hi @hikalkan, is there any plan to integrate this feature to the ABP Framework ?

[2020-08-12 15:18] hikalkan opened #5035 "Identity server is redirecting to wrong URL on errors"
It is redirecting to `/home/error?...` which is not available in the account module. we should (somehow, I don't know yet) configure it. Anyone knows?

[2020-08-12 15:52] buaziz commented on #4937
@hikalkan  how do I contribute to pro modules localizations?

[2020-08-12 16:58] hyzx86 commented on #2072
I have follow this document https://docs.abp.io/zh-Hans/abp/latest/How-To/Customize-SignIn-Manager
but the sample is login from mvc page
how can I use Jwt to login and  get the user token?

[2020-08-12 18:19] sebitsi commented on #4808
@hikalkan  As i can see from code, BasicAggregateRoot is put behind AggregateRoot.
What about AuditedAggregateRoot and CreationAuditedAggregateRoot ?

Is it possible to create BasicAuditedAggregateRoot and BasicCreationAuditedAggregateRoot too ?

It will be very usefull for us.

Regards

[2020-08-12 18:59] hikalkan commented on #4657
We changed to authorization code flow.. Account module will support both of authorization code and resource owner password flows. Authorization code will be default for new applications and we will create a simple guide to change for existing apps (very easy).

[2020-08-12 19:09] #4981 closed, assigned to nobody

[2020-08-12 19:10] hikalkan commented on #4853
We are already changing this feature. Follow https://github.com/abpframework/abp/issues/4881

[2020-08-12 19:10] #4853 closed

[2020-08-12 19:14] hikalkan commented on #4673
I see that you've created [TestMemoryDistributedCache](https://github.com/abpframework/abp/blob/dev/framework/test/Volo.Abp.Caching.Tests/Volo/Abp/Caching/TestMemoryDistributedCache.cs). Should we close this?

[2020-08-12 19:50] hikalkan commented on #2878
It is planned, but has no high priority. I haven't investigated the project yet. You can already use https://github.com/EasyAbp/Abp.EventBus.CAP it is up to date.

[2020-08-12 19:51] hikalkan commented on #4937
When you use the abp translate command, it includes modules too.

[2020-08-12 19:53] hikalkan commented on #4808
`BasicFullAditedAggregateRoot` naming seems strange to me ("basic" and "full" together). I think if you add audit properties, you can add two more standard properties (concurrencystamp and extraproperties) :)

[2020-08-12 19:58] hikalkan commented on #5020
I also didn't find a good plugin for it, which is especially useful for EF Core commands, like Add-Migration.  Currently I am using "dotnet ef migrations add ...". If you find, please inform me too 😄

[2020-08-12 20:00] buaziz commented on #4937
I thought it only included free modules not pro modules.

Ok thanks.

[2020-08-12 20:16] ablekh commented on #5020
@hikalkan I see. Sure, will definitely let you know. :-)

[2020-08-12 22:20] matt14m opened #5036 "ERROR: 'Volo.Abp.Account' module could not be found!"
Attempting to add source for the account module with the following CLI command:

abp add-module Volo.Abp.Account --with-source-code

Returns:

[14:49:53 WRN] ERROR: 'Volo.Abp.Account' module could not be found!

Version 3.0.5 (Stable channel)
Interface: MVC

[2020-08-13 00:40] #4673 closed

[2020-08-13 00:45] maliming commented on #5036
Try
`abp add-module Volo.Account --with-source-code`

[2020-08-13 00:49] maliming commented on #4461
See https://github.com/abpframework/abp/pull/4578

[2020-08-13 03:45] maliming opened #5039 "Add PredicateBuilder to framework"
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp/Linq/Expressions/PredicateBuilder.cs

[2020-08-13 05:36] sebitsi commented on #4808
@hikalkan Thanks for answere.

I'm asking if you will add BasicAuditedAggregateRoot and BasicCreationAuditedAggregateRoot as abstract classes without IHasExtraProperties and IHasConcurrencyStamp implemented.

Of course i can do myself. I think this two classes could be part of abpFramework too.

What do yo mean ?

[2020-08-13 05:43] jortygu opened #5040 "Global Query Filter Issues In BackGroundJob&Console"
Hi

* Your **ABP Framework version**.
   3.0.5
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
  MVC
* Exception message and **stack trace** if available (check the logs).
  No
* Steps needed to **reproduce** the problem.
  Demo:https://github.com/jortygu/AbpQueryFilterDemo
  Run AbpQueryFilterDemo.Jobs.Test , check the Active,it should be false

[2020-08-13 06:08] #5020 closed, assigned to nobody

[2020-08-13 06:09] hikalkan commented on #4937
Hi @buaziz sorry, I missed the "pro" part. For pro modules, please contact to info@abp.io I will send you the file to translate. Thanks a lot :)

[2020-08-13 06:30] hikalkan opened #5041 "Apply "How to fix the Chrome login issue for the IdentityServer4" by default"
@ebicoglu wrote an article about that: https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

We decided to implement this in the Account module and enable it by default for the startup templates.

[2020-08-13 06:38] hikalkan commented on #5041
It will be better to let this to developers since there is no issue with HTTPS. This problem only occurs with HTTP.

[2020-08-13 06:38] #5041 closed, assigned to nobody

[2020-08-13 07:56] #4880 closed

[2020-08-13 07:57] maliming commented on #4608
https://github.com/abpframework/abp/issues/5017

[2020-08-13 07:57] #4608 closed

[2020-08-13 08:37] xewn opened #5042 "Implements DbCommandInterceptor，command.CommandText is empty"
by Implements Class DbCommandInterceptor
from the method
[code]
return DbCommand.CommandText is empty

EF Core without using abp vNext is normal.

[2020-08-13 09:14] hikalkan opened #5043 "Move AbpRequestLocalization middleware on top of all in the startup template"
It is suggested to make it for existing projects, while you don't have to do.
Moving AbpRequestLocalization to top makes it possible for other middlewares to benefit from the localization.

[2020-08-13 09:29] colinin opened #5044 "Page turning results of the paging query do not match"
**Abp framework version: 3.0**

**Recurrence of problems: AbpQueryableExtensions.PageBy<T>(this IQueryable<T> query, int skipCount, int maxResultCount)**

That **IQueryable.Skip(skipCount * maxResultCount).Take(maxResultCount)** the expression tree compiled through Ef Core is correct,
However, this extension is **IQueryable.Skip(skipCount).Take (maxResultCount)**. Ef Core compilations of database

[2020-08-13 09:30] #5043 closed, assigned to hikalkan

[2020-08-13 09:31] hikalkan commented on #5043
Implemented with https://github.com/abpframework/abp/commit/31fcfbb4ffd9050d07fb7e1e03bf7f857dfb6bfd

[2020-08-13 09:35] colinin commented on #4591
Yes, In my self-created IdentityServer admin interface, the client permissions had changed, throwing this exception, so I got around this problem by overwriting the name of the permissions in my project

[2020-08-13 09:36] maliming commented on #5044
hi

How to reproduce the problem?

[2020-08-13 09:47] colinin commented on #5044
https://github.com/abpframework/abp/blob/31fcfbb4ffd9050d07fb7e1e03bf7f857dfb6bfd/modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/Clients/ClientRepository.cs#L31-L41

You can reproduce this problem when this API is called, such as **ClientRepository.GetListAsync(null, 2, 10, null);**

[2020-08-13 10:14] mehmet-erim opened #5047 "Add action callback property to EntityProp for extensible table"

[2020-08-13 10:34] leonkosak commented on #3815
@luisp88 the Dockerfile in the first post does not work for me.
![image](https://user-images.githubusercontent.com/39346964/90124782-3d67cb00-dd61-11ea-8e13-e8121276b296.png)

I don't know how your builder finds .conf file

[2020-08-13 12:11] pmjaleel commented on #4939
Hi ,

I agree that it is not completely an ABP issue. But if you look at the link below: which is what we are using,

https://docs.abp.io/en/abp/latest/Samples/Microservice-Demo

The services are behind the Front End gateway developed via Ocelot. In this scenario, we will not get the dashboard. Hence my question was was there any solution being recommended? So in a way, this issue can be related t

[2020-08-13 12:12] #4657 closed

[2020-08-13 12:36] realLiangshiwei opened #5050 "Improve the microservice example"
1. Use `https` instead of `http`
2. User profile page is not working

![image](https://user-images.githubusercontent.com/16813853/90135067-af153880-dda4-11ea-973e-132704906c2a.png)

[2020-08-13 13:09] kotishwerreddy opened #5051 "Can some on help me to Remove [Extraproperties, ConcurencyStamp] columns from my entity this expecting database table too"
Hello Everyone!

I'm using ABP.IO Framework to write API services,
when the time of using we are inherited AggregateRoot<int> to my entity it was expecting [Extraproperties, ConcurencyStamp] columns in the related table.

also tried with inheriting  Entity<int> getting dependency injection auto fac issue

Geeting below Exception :

 [ERR] An exception was thrown while activating eMedEvents.Control

[2020-08-13 13:13] sebitsi commented on #5051
As i can see there will be BasicAggregateRoot without ExtraProperties and CurrencyStamp in 3.1 version.
I think it is not possible for now.

Look at #4808

[2020-08-13 14:11] #5047 closed, assigned to mehmet-erim

[2020-08-13 16:08] olicooper commented on #4994
Related? https://github.com/abpframework/abp/issues/2980

It seems like the new code-flow implementation calls `/connect/token` endpoint every 4mins and refreshes the `access_token` but the user information doesn't update in the token. Should it automatically update?

[2020-08-13 20:11] hikalkan opened #5053 "Improvement suggestion for the "Implementing Passwordless Authentication in ASP.NET Core Identity" article"
This is most read article on the ABP Community so far. Thank you for it. I have one suggestion;

Describe the purpose, use cases and how it works in the Introduction section. I don't know that is "Passwordless Authentication". Befor I see the implementation details I thought it works like that: "I enter my email address, it is sending a link to my email, I click to the link and I login to the appl

[2020-08-13 20:17] mehmet-erim commented on #4994
Hi @olicooper

As you know, we are using the `angular-ouaht2-oidc` package to manage OAuth processes. The `setupAutomaticSilentRefresh` method of `OAuthService` has been called on the app initialization. (See https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/core/src/lib/strategies/auth-flow.strategy.ts#L44) I did not do anything for refresh token implementation. The package manag

[2020-08-13 20:48] NecatiMeral commented on #4229
I don't think this should get tagged as inactive. 😅

[2020-08-14 01:49] maliming commented on #5044
I don't see any problems. Can you explain it in detail?

[2020-08-14 01:58] maliming commented on #5040
This may be a problem caused by the service lifecycle . You can check if ICurrentActive is created as expected.

[2020-08-14 02:31] colinin commented on #5044
I've uploaded a repository of test code that you can run using an IIdentityRepository as a repository of tests

[AbpEfCoreQueryableExtensions.Test](https://github.com/colinin/AbpEfCoreQueryableExtensions.Test)

[2020-08-14 02:37] jortygu commented on #5040
hi @maliming ,

  ICurrentActive is auto injection via property injection way,and it's lifecyle is IScopedDependency. in mvc project, it work's fine(one request resolve an instance). in console project,the ICurrentActive.Active property is alway true,even i had change ICurrentActive.Active=false.i don't konw is there any configuration or attentions to be care in console project(or background job e

[2020-08-14 03:48] maliming commented on #5044
`skipCount` means entities count instead of page count.

[code]

![image](https://user-images.githubusercontent.com/6908465/90211810-5ab19d80-de24-11ea-87ac-6fe95da4d6cb.png)
![image](https://user-images.githubusercontent.com/6908465/90211822-63a26f00-de24-11ea-8620-efdc60801e30.png)

[2020-08-14 04:41] colinin commented on #5044
I know this, but most front-end paging components pass only the page number, not the page start number, and the controller doesn't adjust accordingly

[2020-08-14 04:43] maliming commented on #5044
This behavior is by design.

[2020-08-14 04:43] #5044 closed, assigned to nobody

[2020-08-14 07:31] buaziz commented on #5023
For others to know how to install redis on Windows.

To install Redis on your local machine:

- > Install the [Chocolatey Redis package](https://chocolatey.org/packages/redis-64/).
- > Run redis-server from a command prompt.

[2020-08-14 07:35] #5050 closed, assigned to realLiangshiwei

[2020-08-14 07:35] realLiangshiwei commented on #5023
I don't think it is necessary. Developers should know how to configure the development environment(like install redis.)

[2020-08-14 07:50] maliming commented on #5032
I can't reproduce the problem you encountered.

![image](https://user-images.githubusercontent.com/6908465/90226631-d96b0280-de45-11ea-8f5b-52d828bd244f.png)

![image](https://user-images.githubusercontent.com/6908465/90226613-d3752180-de45-11ea-9584-18236ad66d54.png)

[2020-08-14 08:22] journey191 opened #5055 "How to update the value of extra properties with int type"
I created a new field into datatable "ABPUsers":
[code]
And I defined an extra property:
[code]

Then I got "Gender" value in my APP correctly ,but I got an err when update user.
The err info in log:Unable to cast object of type 'System.Int64' to type 'System.Int32'

By the way,I did get the correct value of "Gender" before executing UpdateAsync，as beblow
[code]

[2020-08-14 08:30] realLiangshiwei commented on #5055
Can your share the error logs?

[2020-08-14 08:31] maliming commented on #5055
See https://github.com/abpframework/abp/pull/4920

[2020-08-14 09:40] KevinBassaDevelopment commented on #5032
Thanks for checking this!
Now I was able to track down the issue. The tenantid claim was missing because the tenantid was not set in the user table.

We chose to use a database per tenant, and to have a separate application managing the tenants (so without the 'default tenant' approach).
That's why we thought we can have the tenantId null on each tenant (so tenant may not know its own id).

[2020-08-14 10:07] Shtong opened #5056 "DynamicStringLengthAttribute throws NullReferenceException during AutoMapper initialization"
**ABP Framework Version**: 3.0.5
**User interface**: MVC

**Summary**:
We are in the process of updating our app to ABP 3.0.5. We encountered a problem while updating our Dtos to use `DynamicStringLengthAttribute` instead of `StringLengthAttribute`: when two Dtos are mapped together (with AutoMapper), and one of these classes use `DynamicStringLengthAttribute`, then the attribute constructor will

[2020-08-14 10:33] maliming commented on #5056
Try

[code]

[2020-08-14 10:44] #5056 closed, assigned to nobody

[2020-08-14 10:48] maliming commented on #5032
Is this reasonable? of course you can replace `AbpProfileService` with yours.

[2020-08-14 11:30] leonkosak commented on #2122
@hikalkan, forget about the issue. I think that this not worked because we commented out redis-related code dfrom Startup.cs. :)

[2020-08-14 11:32] leonkosak commented on #4990
This is great. Some kind additional documentation for abp. 👍

[2020-08-14 11:39] zsanhong opened #5059 "abp-dynamic-form didn't Localization in module"
when the same code in Application template, abp-dynamic-form can Localization the form correctly,but if I use the same code in module template,the  abp-dynamic-form can't Localization the form
[code]
in application:
![image](https://user-images.githubusercontent.com/5259153/90245653-aafd1f80-de65-11ea-8f07-aa9249cd70c3.png)

in module:
![image](https://user-images.githubusercontent.com/5259153/902

[2020-08-14 12:17] #4218 closed

[2020-08-14 12:22] yekalkan commented on #5059
Can you share cshtml.cs file of the page? Including Supplier model.

[2020-08-14 12:36] #5055 closed, assigned to nobody

[2020-08-14 12:44] #4839 closed

[2020-08-14 12:51] mehmet-erim commented on #4839
Hi @ChangYinShung

See the [PR comment](https://github.com/abpframework/abp/pull/5060#issue-467939259) to learn how to pass custom NgxsStoragePlugin options to CoreModule.

Thanks for reporting.

[2020-08-14 12:56] hikalkan opened #5061 "Global Features System"
## Introduction

The purpose of this system is to allow modules/applications define features which then can be enabled/disabled by the final application.

**This is not related to A/B testing or [multi-tenancy features](https://docs.abp.io/en/abp/latest/Features).**

## The Requirement

Let me explain the reason behind the Global Feature System;

We are currently creating **reusable modules**. Whe

[2020-08-14 14:38] zsanhong commented on #5059
CreateModalModel .cs
[code]
CreateUpdateSupplierDto.cs
[code]

[2020-08-14 14:44] zsanhong commented on #5059
in application,I didnot add controller in HttpApi project, and in module template ,I have to add a controller like this:
[code]
the onther code is all the same ,include the IService,Service,the entity,the entityDto

[2020-08-14 14:50] zsanhong commented on #5059
I change abp-samples-master of BookStore-Mvc-EfCore(Application) to module template, and I get the same result.when In Application,the abp-dynamic-form localization correct,but not localization in module

[2020-08-14 17:21] #4165 closed

[2020-08-14 23:52] xewn opened #5063 "Support for pulsar"
[pulsar](https://github.com/apache/pulsar)

1. Low latency durable storage
2. Topic and queue semantics
3. Load balancer
4. Function

[2020-08-15 03:34] zsanhong commented on #5059
I know the reason,In module template, should add  ApplicationContractsModule in webModule like follow:
the original code:
[code]
after code:
[code]

[2020-08-15 03:34] #5059 closed, assigned to nobody

[2020-08-15 03:39] ViatorLife commented on #4808
I added an additional aggregate root based on basic aggregate root, named Common Aggregate Root, not inherited by IHas Extra Properties, and added Audited Common Aggregate Root, Created Audited Common Aggregare Root and Full Audited Common Common Root, this complete set is used directly in the project.

[2020-08-15 08:12] onestow opened #5064 "Failed to validate project name. Should not rename a project downloaded from aspnetzero.com. You can contact to info@aspnetzero.com if you are using a licensed product."
StartIndex cannot be less than zero.
Parameter name: startIndex
System.ArgumentOutOfRangeException: StartIndex cannot be less than zero.
Parameter name: startIndex
   at System.String.Substring(Int32 startIndex, Int32 length)
   at Abp.AspNetZeroCore.Licensing.AspNetZeroLicenseChecker.iKo1Uonp7ETVIZw1Xo(Object , Int32 , Int32 )
   at Abp.AspNetZeroCore.Licensing.AspNetZeroLicenseChecker.GetHashedP

[2020-08-15 08:14] onestow commented on #5064
I didn't rename the project name

[2020-08-15 08:44] sebitsi commented on #4808
@SAssassin i know it is possible that i can create abstract class as you by myself.

My question for @hikalkan was if ABP team has plan to put some in framework.

[2020-08-15 09:50] #5064 closed, assigned to nobody

[2020-08-15 09:50] #2150 closed

[2020-08-15 11:05] tolemac opened #5065 "Override services on child service scope"
I would like to override service on service scope creation, something like that:

[code]

It can be useful for many tasks like user impersionation on background jobs or other task where you want change the default behaviour.

.Net Core dependency system does't support that but it's supported by [Autofac](https://autofaccn.readthedocs.io/en/latest/lifetime/working-with-scopes.html#adding-registrati

[2020-08-15 13:33] KovtunV opened #5066 "Unhandled exception details"
Hi, how can I send exception details to the client?
In "Abp boilerplate" I used to
`Configuration.Modules.AbpWebCommon().SendAllExceptionsToClients = true;`

[2020-08-15 14:22] realLiangshiwei commented on #5066
https://github.com/abpframework/abp/blob/6cd3e1f472562a508dcf985d3dd25fe7b37aa493/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs#L55

Currently the value of `SendAllExceptionsToClients` is always `false`. you can create a subclass and set the value to `true` when you need it.

I think we should create an options to configure.

[2020-08-15 14:31] KovtunV commented on #5066
@realLiangshiwei Thanks! Yep, it would be perfect if you created options to configure :)

[2020-08-15 18:33] hikalkan opened #5068 "Introduce LoginUrl and LogoutUrl options"
Creating a class, named `AbpMvcUiOptions`, like that:

[code]

This is needed when a module needs to make current user redirect to the login page before allowing to do something requires authentication.

[2020-08-15 18:33] #5068 closed, assigned to hikalkan

[2020-08-16 04:34] sdjnzjz opened #5069 "How can I query users by mobile phone number"
### How can I query users by mobile phone number
i will check phoneNumber unique for user；
it's not have method in IIdentityUserRepository. or how to extend

[2020-08-16 04:36] #5042 closed, assigned to nobody

[2020-08-16 05:18] maliming commented on #5069
See https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Guide

[2020-08-16 05:18] #5069 closed, assigned to nobody

[2020-08-16 07:09] CalvinTsui commented on #2804
I met the same problem and tried to install Redis, the same problem is showing

[2020-08-16 11:57] akshaybhagwat76 opened #5070 "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://login.xero.com/identity ...."
https://www.loom.com/share/53628225eb1442be9c2d231f6b53cd20

![image](https://user-images.githubusercontent.com/26058268/90333698-9ba4e000-dfe5-11ea-97b5-cb78f0e5d3a4.png)

![image](https://user-images.githubusercontent.com/26058268/90333699-9f386700-dfe5-11ea-916f-090b8b1b4fa1.png)

![image](https://user-images.githubusercontent.com/26058268/90333702-a19ac100-dfe5-11ea-8123-258c90062d62.png)

![i

[2020-08-16 12:02] maliming commented on #5070
Please get support in Zero support website or Github. This repo is for abp vnext.

[2020-08-16 12:02] #5070 closed, assigned to nobody

[2020-08-16 16:35] hikalkan opened #5071 "Add reactions to comments for the CMS Kit"
This will require nested widget system (I am not sure if it is supported yet).

[2020-08-16 16:41] hikalkan opened #5072 "Allow root "Components" folder in the web projects to have view component resources inside"
With their related JS/CSS files.
Views, Pages and Themes folders have this privilege, "Components" also would be fine. Currently, we put the view components under Pages/Shared/Components or a similar location.

[2020-08-16 17:50] papyr commented on #3725
Hi @hikalkan, in shared hosting they don't give us access to host containers, since its shared hosting. Mainly just we have to login in to Cpanel or a secure Shell and execute a script to setup.

So my request is for those shared Linux hosting scenarios, when we want to host in those Linux scenarios. I also think you will get a lot of traction if people can easily setup in shared hosting.

thanks

[2020-08-16 18:02] hikalkan opened #5073 "Should focus on the comment area after login and return back"
CMS Kit commit area shows a "Login to Reply" or "Login to Write Comment" buttons when user was not authenticated. It redirects to login and comes back to the same page after login. In this case, it should focus to the related commenting area for a better UX.

I added the related comment info to the loginUrlHash (see https://github.com/abpframework/abp/blob/dev/modules/cms-kit/src/Volo.CmsKit.Publi

[2020-08-16 18:08] hikalkan opened #5074 "Create Global Feature Action & Page filters to prevent usage of a controller/page if the feature was disabled"
There is a `RequiresGlobalFeature` attribute that can be declared for a controller or page.

Example:

[code]

If we add this attribute to a controller/page, the ABP Framework should check the feature and return a **404 (not found)** HTTP Response (and write a warning log) if we request this controller or page.

This is how it can be checked:

https://github.com/abpframework/abp/blob/d2af13fb1f2ba

[2020-08-16 18:11] #5061 closed, assigned to hikalkan

[2020-08-16 18:21] hikalkan opened #5075 "Design permissions for CMS Kit Comments"
Comment system has a different permission requirement;

* Allow/restrict to see the comments publicly, with an anonymous user.
* A policy to be able to write comments
* Should allow/disallow to edit/delete own comments
* Should allow/disallow to edit comments of other people

All these can also be configured per entity type.

[2020-08-16 18:26] hikalkan opened #5076 "Consider to remove setters from audit interface properties"
For example, `IHasCreationTime` (or `ICreationAuditedObject`) requires to add a public setter for the `CreationTime`. However, the creation time should not set later. It is only set when the entity is being created, and generally set by the ABP Framework.

We should consider to remove public setters from these interfaces to let the developer to be able to have private setters. ABP Framework then c

[2020-08-16 18:32] hikalkan opened #5077 "Add GetXXX methods to IUserLookupService"
It has FindXXX methods ([see](https://github.com/abpframework/abp/blob/dev/modules/users/src/Volo.Abp.Users.Domain/Volo/Abp/Users/IUserLookupService.cs)) which return `null` if the user was not found.

Add GetXXX for these FindXXX methods and implement for the [UserLookupService base class](https://github.com/abpframework/abp/blob/dev/modules/users/src/Volo.Abp.Users.Domain/Volo/Abp/Users/UserLook

[2020-08-16 18:35] #5077 closed, assigned to nobody

[2020-08-16 18:36] hikalkan commented on #5077
I see that it was already implemented as extension methods :)

[2020-08-16 18:54] dicksonkimeu opened #5078 "Lazy loading data on UI"
Am using asp.net razor pages option for UI with abp framework, Am loading 50,000 + customers lists with images in a UI. Any ideas on how I can lazy load them? Load more as i scroll?

[2020-08-16 19:10] leonkosak commented on #5078
Not the best answer, but we use DevExpress components (or Syncfusion). These components provide nice interface for partial loading (skip/take).

[2020-08-16 19:18] hikalkan commented on #5078
Hi @dicksonkimeu you should find a data table component. We have used [datatables.net](https://datatables.net/) for the module pages, but we don't have such a requirement. You can use another component for your page. As @leonkosak stated, paid components have such features.
However, this is not the business of the ABP Framework at all. So, I am closing this issue.

[2020-08-16 19:18] #5078 closed, assigned to nobody

[2020-08-16 20:10] #5036 closed, assigned to nobody

[2020-08-16 20:12] #4732 closed

[2020-08-16 20:18] #5035 closed, assigned to maliming

[2020-08-16 20:21] hikalkan opened #5079 "Unify Error pages (identity server & default)"
https://github.com/abpframework/abp/pull/5038 introduced a new error page. But we already have a default error page: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Controllers/ErrorController.cs#L37 (see [the view](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Views/Error/Default.cshtml)).

We

[2020-08-16 20:25] hikalkan commented on #4939
Don't expect everything from the microservice demo, it shows an overall design. Hangfire is a 3rd-party library with its own features and limitations.

I don't have experience on that and suggesting a good design requires to spend some time on it. If you find a good design, please share with the community.

[2020-08-16 20:25] #4939 closed

[2020-08-16 20:28] #2122 closed

[2020-08-16 20:33] hikalkan commented on #4808
Hi @sebitsi we don't plan to add these for now, please do it in your application.

[2020-08-16 20:40] hikalkan commented on #5065
We don't want to add DI-Framework specific feature that may not be possible to implement with other providers.

I suppose you can inject AutoFac services and directly use the AutoFac API (I suppose you should inject & use the `ILifetimeScope.BeginLifetimeScope`).

[2020-08-16 20:41] #5065 closed, assigned to nobody

[2020-08-16 20:44] hikalkan commented on #3725
This can be a good community article (https://community.abp.io/), but nothing to do for ABP documentation. If anyone can write such an article it is appreciated.

[2020-08-17 01:32] SmallShrimp opened #5080 "How to use ngx-datatable with pagination"
### Help

* **ABP Framework version** `3.0.5`.
* **User Interface** `Angular`

### Q
***Code:***
[code]
***my question***
- How to display pagination？
![image](https://user-images.githubusercontent.com/8120385/90349436-70b19f00-e06c-11ea-972b-486322d44f7e.png)

[2020-08-17 02:55] windsOne commented on #3462
@maliming please quick ,very thanks

[2020-08-17 02:58] maliming commented on #3462
There is nothing I can do except waiting. https://github.com/abpframework/abp/issues/3462#issuecomment-671848281

[2020-08-17 03:54] journey191 opened #5081 "How to make Email property not required"
I have updated column of datatable already by codes below:

**MigrationsDbContext.cs**
[code]
But I don't know how to change validation for DTO

[2020-08-17 06:41] #4775 closed

[2020-08-17 07:00] #5072 closed, assigned to maliming

[2020-08-17 07:03] #5074 closed, assigned to maliming

[2020-08-17 07:06] hikalkan commented on #5081
Email address is required by design.

If your user have no email address, just use `<username>@yourcompany.com` or a random email address for the users.

[2020-08-17 07:10] journey191 commented on #5081
I see,thanks

[2020-08-17 07:10] #5081 closed, assigned to nobody

[2020-08-17 07:50] KevinBassaDevelopment commented on #5032
We thought it works with the framework. As it does not, its of course not reasonable, as we want to stay close to the base abp framework. Now we are just storing the tenant ids as it does on default.

Does a setup make sense where there are only tenants, without a default tenant (so just throw exceptions if tenant info is missing in a call)?
It looks like ABP is setup around having a default tenan

[2020-08-17 09:31] #5039 closed, assigned to maliming

[2020-08-17 09:45] #4863 closed

[2020-08-17 09:50] #4605 closed

[2020-08-17 09:51] hikalkan commented on #4605
You should define a controller/service before using this tool. Otherwise, no meaning to run it.

[2020-08-17 11:11] #5079 closed, assigned to realLiangshiwei

[2020-08-17 11:11] leonkosak opened #5087 "Help needed: Docker (Angular)"
Does anyone have clue how to resolve CORS header 'Access-Control-Allow-Origin' missing issue in Docker.
We have separated HttpApi.Host and .IdentityServer (and of course Angular frontend).
Each of these three projects have dedicated container in Docker (separated IP addresses inside Docker network).

API (.HttpApi.Host) works - I can see Swagger when calling IP from host operating system.
Identity

[2020-08-17 11:12] #5066 closed, assigned to realLiangshiwei

[2020-08-17 11:32] hikalkan opened #5088 "Create a sample where tenant and host dbcontexts are separated"
It is possible once you understand the [connection string](https://docs.abp.io/en/abp/latest/Connection-Strings) and the [migration system](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations).
However, it would be useful to create a concrete example solution & document it.

[2020-08-17 13:27] hikalkan commented on #4121
I am closing this issue. You can send PR when you are ready. Thanks :)

[2020-08-17 13:30] hikalkan commented on #4760
This is basically done, but needs improvement and UI design which will be tracked with other issues.

[2020-08-17 13:30] #4760 closed

[2020-08-17 14:11] mehmet-erim opened #5090 "Create utility functions that return DatePipe format"
We will create `date-utils.ts` file that contains utility functions.

First, two functions named `getShortDateFormat` and `getShortDateShortTimeFormat` will be created. These functions can be used like below:

[code]

Result:

![image](https://user-images.githubusercontent.com/34455572/90405539-9363a800-e0ac-11ea-8385-e8860796b326.png)

[2020-08-17 15:58] luisp88 commented on #3815
I was focusing in build problem, so probably after resolving that I encountered other problems (as the one you're showing) and updated the dockerfile.
Use this instead:
[code]

PS: I started using custom commands for ng build because I had memory problems for compiling with production target.
ng-high-memory-integ in my package.json: node --max_old_space_size=8048 ./node_modules/@angular/cli/bin/ng

[2020-08-17 16:21] lukebooroo opened #5092 "Exception Subscribers in unit tests"
Hello,

I'm setting up something to use ExceptionSubscriber, seems to work fine, except I'm not sure how to get this working in unit tests?

[2020-08-17 16:26] olicooper commented on #4775
I have a few suggestions if that's okay?

1. Remove the `Microsoft.Data.SqlClient` dependency and let the developer choose which provider they use (the same way that the core Quartz library does it).
2. Add a dependency on `Quartz.Plugins.TimeZoneConverter` so that it integrates with the recent changes made here https://github.com/abpframework/abp/pull/3933
3. ~~As mentioned here https://github.co

[2020-08-17 17:07] leonkosak commented on #3815
Thank you @luisp88, but my dockerfile:

[code]

returns this error

![image](https://user-images.githubusercontent.com/39346964/90422972-f7419d00-e0bb-11ea-8953-f3157bb70951.png)

What is your Dockerfile for ASP.NET Core project?
I am experiencing this issue: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMissingAllowOrigin
ASP.NET Core projects (.HttpApi.Host and .IdentityServe

[2020-08-17 18:20] luisp88 commented on #3815
Just try `node --max_old_space_size=8048 ./node_modules/@angular/cli/bin/ng build` in your dockerfile (without npm run).
Allocating max_old_space_size is not mandatory (I had to use it because I was short in memory for build command). You can use ng build --prod or something else directly.
You can use npm run X when you define X in your package.json's "scripts" section (like an alias). Example: `n

[2020-08-17 18:37] hikalkan commented on #5092
I am assuming you're building a web application.

ABP handles exceptions in the exception action filter, in the web layer. If you are developing an integration test (that includes the aspnet core pipeline), your handler is executed as like in a normal web request.

However, for unit tests or testing up to the application layer, ABP won't handle exceptions. So, your test code should use `Assert.Thr

[2020-08-18 03:26] aricyu opened #5095 "How to assign value to AppUser attribute when adding user(IdentityUser)"
Version:3.0.5

Hi，thanks abp.
Currently I am using `IdentityUserManager.CreateAsync(identityUser)` to add user, but I added an attribute `NickName` to `AppUser`. How do I assign a value to `NickName` when adding a user?

#### AppUser
[code]

#### ConfigureCustomUserProperties
[code]

[2020-08-18 03:35] maliming commented on #5095
https://github.com/abpframework/abp/blob/938bab5b6a451032b688deb3ace92d1de0ff79fc/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Users/AppUser.cs#L10-L13

[2020-08-18 03:35] #5095 closed, assigned to nobody

[2020-08-18 03:50] aricyu commented on #5095
What do you mean?
How to assign values to AppUser's custom fields?

[2020-08-18 04:05] realLiangshiwei opened #5096 "Add Quartz.Plugins.TimeZoneConverter"
https://github.com/abpframework/abp/issues/4775#issuecomment-674979973

[2020-08-18 04:05] realLiangshiwei commented on #4775
Hi @olicooper ,

1.  https://github.com/quartznet/quartznet/pull/912 Quartz has removed the `Microsoft.Data.SqlClient` dependency, we will update when quartz version 3.2 is released
3.  https://github.com/abpframework/abp/issues/5096
4. https://github.com/abpframework/abp/pull/5094/commits/c535194fd187b710e503ba75058da55aa7e74e7d

[2020-08-18 04:53] #5096 closed, assigned to realLiangshiwei

[2020-08-18 06:00] maliming commented on #5040
You have confirmed the problem.

you can try to change its lifecycle, or use other methods to dynamically change the value of `Active `.

[2020-08-18 06:38] xyfy commented on #4778
not yet

[2020-08-18 06:38] pramodbobde commented on #2465
Hello @hikalkan  sorry I can not see Volo.Abp.MongoDB.CosmosDB package

[2020-08-18 06:41] maliming commented on #2465
hi @pramodbobde We haven't started yet.

[2020-08-18 06:42] mzqs5 opened #5098 "Why is default warehousing an instantaneous lifecycle?"
Recently, I was troubled by a problem. When using the same repository in different services, one added a piece of data, and the other queried the new data, and found that it could not be found. Later, we found that the instantaneous life cycle of the repository was not the same object. Should the warehouse be set to scope singleton according to the user's request to the end of the same unit of wor

[2020-08-18 06:50] pramodbobde commented on #2465
Now, Abp.io support CosmosDB or not? because I tried many ways to consume cosmmosDB but its my bad.
@maliming  @hikalkan  please guide

[2020-08-18 06:55] realLiangshiwei commented on #5098
Hi,
It has nothing to do with life cycle, See https://docs.abp.io/en/abp/latest/Unit-Of-Work#alternative-to-the-savechanges

[2020-08-18 06:55] #5098 closed, assigned to nobody

[2020-08-18 07:24] wuuer opened #5099 "how to solve System.ArgumentNullException : Value cannot be null. (Parameter 'provider')"
encounter this exception when running the unitest of the official sample demo BookStore-Mvc-EfCore

System.ArgumentNullException : Value cannot be null. (Parameter 'provider')

ServiceProviderServiceExtensions.GetRequiredService(IServiceProvider provider, Type serviceType)
    ApplicationService.LazyGetRequiredService[TRef](Type serviceType, TRef& reference)
    ApplicationService.LazyGetRequiredS

[2020-08-18 07:30] maliming commented on #5099
* Steps needed to **reproduce** the problem.

[2020-08-18 09:23] #5090 closed, assigned to mehmet-erim

[2020-08-18 09:40] maliming commented on #5099
Github's action doesn't report any error.

https://github.com/abpframework/abp-samples/actions

[2020-08-18 11:24] ChangYinShung commented on #4839
@mehmet-erim  thanks

[2020-08-18 11:47] cotur opened #5106 "Set `-m none` as a default for the ABP CLI"
For now, [abp cli](https://docs.abp.io/en/abp/latest/CLI) creates mobile project with default.

I think the mobile project creation should be optional.

It will be more good if we have a command that creates default empty mobile project whenever we want (adding mobile project to an exist project).

[2020-08-18 15:01] mehmet-erim commented on #4615
I will start this issue when v3.1-rc.1 is released.

[2020-08-18 15:30] leonkosak commented on #3815
Thanks @luisp88, but there is still error on the last step:
![image](https://user-images.githubusercontent.com/39346964/90532910-14d43c80-e178-11ea-88fd-41576a47d162.png)
How can I determine where is nginx.conf file?

Would you please share Dockerfile for .NET Core projects (.HttpApi.Host and .IdentityServer)? I suspect that kestrel webserver has to do with "CORS Missing Allow Origin"?

[2020-08-18 17:42] hikalkan opened #5109 "Inherit BackgroundEmailSendingJob form AsyncBackgroundJob"
Also, adding a missed overload of the IEmailSender.QueryAsync method that gets `from` address.

[2020-08-18 17:44] #5109 closed, assigned to hikalkan

[2020-08-18 19:03] hikalkan commented on #4987
Documented: https://docs.abp.io/en/abp/latest/Emailing

[2020-08-18 19:03] #4987 closed, assigned to hikalkan

[2020-08-19 00:56] #5099 closed, assigned to nobody

[2020-08-19 02:56] maliming commented on #2465
It's still in the roadmap.

#2532 CosmosDB integration with EF Core and MongoDB API

[2020-08-19 05:31] wakuflair commented on #5075
It's better to allow developers to add their own `CommentsPermissionProvider`, so that they can implement the authorization logic theirself.

A scenario for example: a blog author can delete comments belong to his/her post.

[2020-08-19 06:35] #4843 closed

[2020-08-19 06:51] maliming commented on #3923
https://docs.abp.io/en/abp/latest/Emailing#encrypt-the-smtp-password

[2020-08-19 07:35] hikalkan opened #5111 "Use async methods in the MailKitSmtpEmailSender"
[MailKitSmtpEmailSender](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.MailKit/Volo/Abp/MailKit/MailKitSmtpEmailSender.cs) is using sync methods while there are async versions for `client.Connect` and  `client.Authenticate` (check for others).

[2020-08-19 08:05] realLiangshiwei opened #5113 "Forget/reset password UI (Angular)"
Related : https://github.com/abpframework/abp/issues/2608

[2020-08-19 08:24] #5111 closed, assigned to realLiangshiwei

[2020-08-19 08:56] nonepassby opened #5114 "can not login by http (no ssl)"
- env:
abp version: 3.0.5
os: windows 10
app: demo app (just change db to mysql)

- problem:
use http://localhost:5000, user admin login failed.
use https://localhost:5001, user admin login success.

- logs from _http://localhost:5000_:

[2020-08-19 08:59] maliming commented on #5114
Related https://github.com/abpframework/abp/blob/9adab77257b31d40e4e4b1ae826a813d075efe4e/docs/en/Community-Articles/2020-08-12-Patch-Chrome-Login-Issue-For-IdentityServer4/POST.md

[2020-08-19 08:59] #5114 closed, assigned to nobody

[2020-08-19 10:21] heyuquan opened #5115 "use ioc error in BackgroundWorker,error dbcontext is dispose"
use ioc error in BackgroundWorker.
 i use inject repository in BackgroundWorker,but use this repository throw dispoed dbcontext error
like this:

System.ObjectDisposedException: Cannot access a disposed object. A common cause of this error is disposing a context that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your application. This ma

[2020-08-19 10:54] #4339 closed

[2020-08-19 11:25] real-zony commented on #5115
Hi @heyuquan,
You only need to add UnitOfWork Attribute.
[code]
If you have any questions, you can refer to my blog: [https://www.cnblogs.com/myzony/p/11647030.html](https://www.cnblogs.com/myzony/p/11647030.html)

[2020-08-19 12:11] hikalkan opened #5118 "Create a document to explain how to use the preview/rc releases"
Create `Previews.md` inside https://github.com/abpframework/abp/tree/dev/docs/en and explain how to use preview packages, how to return to the stable... etc.

[2020-08-19 12:18] heyuquan commented on #5115
@GameBelial
thank you.。

[2020-08-19 12:18] #5115 closed, assigned to nobody

[2020-08-19 12:36] #5005 closed, assigned to mehmet-erim

[2020-08-19 13:08] olicooper opened #5120 "UserId/UserName not present in some AbpSecurityLogs"
I think this record was a host admin logging in (through the angular client) so I don't expect the tenant information to be present. But I expected to at least see the UserId/UserName filled in? Is this a bug or intentional?

![image](https://user-images.githubusercontent.com/22296715/90638054-b4e79f80-e224-11ea-9f18-190a7e6a7be6.png)

We're on ABP v3.1.0-preview20200813

[2020-08-19 13:10] maliming commented on #5120
* Steps needed to **reproduce** the problem.

[2020-08-19 13:13] olicooper commented on #5120
Okay, I don't have much to go on but I will see what I can do. So do you think these fields should always be populated?

1. All users have passwords, they are not external logins.
1. They may have already had a valid access_token and not actually 'logged in' as such?
1. Using the password flow to submit login, with Angular 10 and `angular-oauth2-oidc` v10

[2020-08-19 13:31] mohammed-hussein commented on #4679
@minitoma  Thanks so much it solved my problem without breaking DDD , appreciated your help :)

I added  below code inside ConfigureServices method
`context.Services.AddTransient<ITaskRepository, TaskRepository>();`

[2020-08-19 13:52] mehmet-erim commented on #4417
Duplicate of #5026

[2020-08-19 13:52] #4417 closed

[2020-08-19 14:19] gterdem commented on #3573
@hitaspdotnet
We've updated docker images with 3.0.2 tag. `Latest` tags are still pointing to old version. We're discussing about it. Currently, you can use the docker images by using the `3.0.2` tag explicitly .

[2020-08-19 14:43] hikalkan opened #5122 "Add points to the application startup template to configure the global features"

[2020-08-19 14:47] olicooper commented on #5120
It looks like the normal password flow causes this issue to occur for me. I simply logged in on the angular client.
I noticed your fix #5121 - could we also populate the UserName field for `UserLoginFailureEvent` too?
Is it also possible to populate the ClientId like with the `Logout` Actions?

It might also be possible to populate the UserId field for the `LoginSucceeded` event because the UserId

[2020-08-19 16:16] luisp88 commented on #3815
Sorry, forgot to paste nginx configuration file in repo's root
[code]

[2020-08-19 17:21] leonkosak commented on #3815
@luisp88, lease ping me on email leon.kosak@gmail.com for more detailed situation. :) Thank you.

[2020-08-19 19:10] mehmet-erim commented on #5080
Hi @SmallShrimp

Pagination will appear when your total count of records is greater than 10.
The default value of ListService's `maxResultCount` is 10.

You can change this value in your component as shown below:

[code]

If you want the pagination to be always visible, you should ask a question on https://stackoverflow.com/questions/tagged/ngx-datatable to learn the answer

I hope I could help 😊

[2020-08-19 19:20] hikalkan commented on #5113
Thanks @realLiangshiwei for opening this issue. However, we won't implement this for the Angular UI. Because, beginning from the v3.1, Angular UI uses the MVC login form to authenticate the user (via authorization code flow) and all the MVC functionalities will be available to the Angular side.

[2020-08-19 22:08] rafaelgfirmino opened #5125 "nginx reverse proxy Identity not get configuration user."
I have been spending a lot of time trying to fix this particular problem of mine.
So I need help.

I have a project using abp.io and I tray put this project in my server of production but not success.  I try to access the router for recovery logged user in this route api/app/configuration.

I can login in the application, but when I try to get any request this error is printed in my console(I'm us

[2020-08-19 23:58] SmallShrimp commented on #5080
ok thanks! @mehmet-erim

[2020-08-19 23:58] #5080 closed, assigned to mehmet-erim

[2020-08-20 01:08] maliming commented on #5125
hi

Why the application request this URL?
Maybe its should be `https://SERVER/.well-known/openid-configuration`

This is a deployment problem and we can't provide much help.

[2020-08-20 01:18] maliming commented on #5120
hi @olicooper

I will recheck this function today. : )

[2020-08-20 01:26] #5113 closed, assigned to nobody

[2020-08-20 06:01] #5106 closed, assigned to yekalkan

[2020-08-20 06:06] #2608 closed

[2020-08-20 06:07] #5120 closed, assigned to maliming

[2020-08-20 09:32] #4327 closed

[2020-08-20 09:34] mehmet-erim commented on #5087
Hi @leonkosak

What is your Angular app running URL?

[2020-08-20 10:12] hikalkan commented on #5118
(you can inspire from https://github.com/abpframework/abp/blob/dev/docs/en/Blog-Posts/2020-08-20%20v3_1_Release/Post.md#get-started-with-the-rc-versions)

[2020-08-20 10:34] yacobcz opened #5132 "Documentation search is not working"
Hi, I think the search in the [documentation](https://docs.abp.io/) is broken.
The result of searching for any term is empty.
I mean "Search in documents", not "Filter topics" feature.
It affects all versions, languages and browsers.

![image](https://user-images.githubusercontent.com/6282139/90759448-ba0a2480-e2e0-11ea-8aff-1caefc60da88.png)
![image](https://user-images.githubusercontent.com/6282

[2020-08-20 10:51] hikalkan commented on #5122
done with https://github.com/abpframework/abp/commit/af1181d37bcc0549857b846b030fc9d9043ff6c7

[2020-08-20 10:51] #5122 closed, assigned to hikalkan

[2020-08-20 10:56] #5118 closed, assigned to yekalkan

[2020-08-20 11:15] #5015 closed, assigned to bnymncoskuner

[2020-08-20 11:41] rafaelgfirmino commented on #5125
Hi @maliming , I have many applications in this server, so I m using Nginx reverse proxy for redirect any microservices, qa-identity is a redirect to my container port xxx.xxx.xxx.:44300.

[2020-08-20 13:46] rreitbauer commented on #1449
Does this mean this problem does not exist in ABP.IO?

Is is possible to have different entities only on host or only on tenants?

[2020-08-20 14:59] hikalkan opened #5135 "Update/Revise the Angular Service Proxy Generation document"
https://docs.abp.io/en/abp/latest/UI/Angular/Service-Proxies

Please do it on the `rel-3.1` branch, so it appears on the 3.1 version documentation.

[2020-08-20 15:38] leonkosak commented on #5087
@mehmet-erim The problem is CORS issue, not URL. Of course, there are separated URLs (IPs) for API, IS and Angular.
Look also https://github.com/abpframework/abp/issues/3815

We have all in containers (API, IS, Angular, Nginx,... even DbMigrator and databases).
We also use Portainer (business reasons) and not docker-compose. API, IS and Angular are reacheable through Docker bridge to Ubuntu OS.
Lo

[2020-08-20 16:01] hikalkan commented on #5032
Just write an aspnet core middleware in front of the MVC middleware, check tenantid and return error to the client if it is null :)

[2020-08-20 16:15] hikalkan commented on #5075
Good case @wakuflair
We will see how we can do that (when you define a [policy](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies) it [overrides](https://docs.abp.io/en/abp/latest/Authorization#overriding-a-permission-by-a-custom-policy) the permission with the same name, maybe this can be a way of it)

[2020-08-20 16:35] hikalkan commented on #5132
@maliming maybe related to change of the branching system?

[2020-08-20 16:43] hikalkan commented on #1449
Startup template comes with a single dbcontext. So, all tables will be in all databases.
You need to separate the context and migrations. When you have 2 migrations dbcontexts, you can add host related tables to only one of them. https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations may help you to understand the database migration system and separate contexts for your application.

[2020-08-20 23:09] maliming commented on #5132
Duplicate of https://github.com/abpframework/abp/pull/4970

[2020-08-21 02:26] #5132 closed, assigned to nobody

[2020-08-21 06:17] maliming opened #5138 "Solution for unable to log in via http in the new chrome."
The new Chrome will block your application cookies because of the `SameSite` problem.

Error message in the console.

There are two solutions:
1. Use **https** for your website.(**recommend**)

2. **Add SameSite Cookie Policy**

https://github.com/IdentityServer/IdentityServer4/blob/18897890ce2cb020a71b836db030f3ed1ae57882/src/IdentityServer4/host/Extensions/SameSiteHandlingExtensions.cs
https://g

[2020-08-21 07:58] #4881 closed

[2020-08-21 08:01] armanozak commented on #3152
The new version of NGXS is still not released.

[2020-08-21 08:26] maliming commented on #5087
hi @leonkosak
Everything is fine in API application logs?

Maybe the plain asp net core application will have the same problem according to your deployment method because abp is also using the cors of asp net core.

[2020-08-21 08:54] bnymncoskuner commented on #3152
#FeelsBadMan

[2020-08-21 12:42] hikalkan commented on #5138
I suppose this is same of https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n right?

[2020-08-21 13:17] hikalkan commented on #394
Created a branch: https://github.com/abpframework/abp/tree/blazor-ui 😃
We'll make blazor-related stuff in this branch until the first usable version.
I will write under this issue if we need to inform the community about the progress.

[2020-08-21 13:18] yekalkan commented on #5071
It is supported.

[2020-08-21 17:21] jhulbertpmn commented on #394
very exciting!

[2020-08-21 19:12] Stirda commented on #3638
I am also looking for automatically login into application based on user windows profile, then query Active Directory which groups current user belongs to. @akinix Any suggestion?

[2020-08-22 00:42] expcat commented on #2882
https://github.com/protobuf-net/protobuf-net.Grpc
It is a code-frist base on grpc-dotnet

[2020-08-22 03:12] dolphinsd opened #5143 "split /api/abp/application-configuration"
For a large application putting localization in the configuration file is a waste of bandwidth.

Configuration might change an app path or load method, etc, no need to heavy weight it.

Abp is modular, so why does it load all strings at once, if you have 100 modules, that is a lot of string. Proper way is to load localization at the time as module is activated.

Nothing is modular if you load stri

[2020-08-22 03:48] jack-gaojz-zz opened #5144 "Upgrade the ABP to 3.0.5 version failed with the Nuget for the solution"
Current ABP version: 3.0.1
Visual Studio version: 2019 16.7.2

Description: Manage Nuget Packages for Solution -> Update all the "Volo.Abp.*” packages failed.
Always display the error messages: Object reference not set to an instance of an object.

![image](https://user-images.githubusercontent.com/40879710/90948035-421d3500-e46d-11ea-829a-b1c46f1d838e.png)

[2020-08-22 04:28] maliming commented on #5144
This is nothing to do with abp. You can try to edit the `csproj ` file of the project .

[2020-08-22 04:28] #5144 closed, assigned to nobody

[2020-08-22 04:43] #5138 closed, assigned to nobody

[2020-08-22 07:39] jack-gaojz-zz commented on #5144
When I upgraded from 2.9.0 to 3.01, everything is ok. But upgrade 3.0.1 to 3.0.5 faield.

[2020-08-22 10:08] alexandis commented on #3010
I suppose it's not correct way to add Extension Validator. You have to use AddExtensionGrantValidator  Extension in PreConfigure

[2020-08-22 15:48] #5071 closed, assigned to yekalkan

[2020-08-22 15:50] hikalkan commented on #5144
This problems seems related to NuGet package manager. A package can not do it.

[2020-08-22 17:19] hikalkan opened #5145 "Document the UOW level cache system"

[2020-08-22 17:41] hikalkan commented on #5143
This would be too week argument to say that it is not modular at all. ABP is modular on development time and brings all together on runtime as a single application. Anyway, I got your message and will think on that.

But, I must say that it is not so simple. It is not clear where a module begins and where another one ends. Multiple modules can add parts to a single page for example. Even the main

[2020-08-22 17:48] hikalkan commented on #2296
I see that Microsoft did something: https://github.com/microsoft/FeatureManagement-Dotnet (see document: https://docs.microsoft.com/en-us/azure/azure-app-configuration/use-feature-flags-dotnet-core)

[2020-08-22 20:39] aburakab commented on #2296
Do you think that ABP should adopt it as is?

[2020-08-23 09:44] hikalkan commented on #2296
I haven't tried it yet. However, it will direct work when you follow the Microsoft's document. You can use it today. When we work on this issue, we will try to understand if it would be good if we do something with the ABP Framework.

[2020-08-23 18:44] hikalkan commented on #394
It goes well until now :)

* I could integrate to the ABP Framework core package, which provides modularity and other fundamentals.
* I could integrate with AutoFac.
* I make [dynamic c# proxy system](https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients) working, which is exciting! see https://twitter.com/hibrahimkalkan/status/1297604576309321737
* Could be able to login via current ba

[2020-08-23 19:02] Stirda commented on #394
I am blown away by https://twitter.com/hibrahimkalkan/status/1297604576309321737 So awesome.

[2020-08-23 21:27] danielmeza commented on #394
@hikalkan So two excellent things has happen, you beat the most critical issues and fall in love with the power of c# in the browser! I hope this not stop and become Blazor in a first class citizen in the framework!

[2020-08-24 05:06] wakuflair commented on #394
So glad that the leader of the ABP team has fun with ABP on Blazor. 😆

[2020-08-24 05:22] 274188A commented on #394
anyone got the branch `https://github.com/abpframework/abp/tree/blazor-ui` working?

[2020-08-24 05:28] jhulbertpmn commented on #394
I started working with it earlier and was running into some strange project dependency issues. I didn't have too much time to spend on it to see if it was an issue with my VM or something else, but I'm not quite up and running yet

[2020-08-24 05:32] 274188A commented on #394
i'm assuming we need to run the CLI project from the said branch to gen up a solution - then change the refs over to use the source from the branch?  not sure...

[2020-08-24 05:41] hikalkan commented on #394
@274188A,

* Clone the repository and switch to the branch.
* Run the [build-all.ps1](https://github.com/abpframework/abp/blob/dev/build/build-all.ps1)
* Open the [startup template](https://github.com/abpframework/abp/tree/dev/templates/app/aspnet-core) on Visual Studio.
* Once the solution is ready (don't build or run yet), run the `dotnet restore` on the command line (in the [sln folder](https:/

[2020-08-24 05:41] 274188A commented on #394
yeah just tried it - so from the branch specified, built the release using powershell files
run the CLI project with for eample: new Acme.BookStore -u blazor

![image](https://user-images.githubusercontent.com/40014477/91007763-5c8f1400-e60f-11ea-9132-67e1042220a2.png)

this will generate the project for you...

[2020-08-24 05:41] hikalkan commented on #394
`-u blazor` is not implemented yet 😄

[2020-08-24 05:43] 274188A commented on #394
oh - i got something - thanks for clearing that up for me!

[2020-08-24 05:45] hikalkan commented on #394
Actually, it generates the Blazor UI, yes, but accidently. Because it doesn't delete the Blazor project from the solution. So, doesn't matter if you specify `-u blazor` or not :)

[2020-08-24 05:49] 274188A commented on #394
i see - appreciate i'm dealing with work-in-progress so all good :-)

[2020-08-24 06:04] jhulbertpmn commented on #394
I started fresh, ran through the steps above and I'm up and running. very cool!
I think what happened earlier is I tried a build/run before I ran the build-all.ps1 script and although I ended up getting a successful build something still wasn't right. Using the steps above in order though it worked just fine.

[2020-08-24 06:06] 274188A commented on #394
yeah i'm good now too..

[2020-08-24 08:22] SmallShrimp opened #5148 "How do I add a custom 'JwtSecurityTokenHandler'"
* **ABP Framework version** `3.0.5`.

# Q
 How do I add a custom 'JwtSecurityTokenHandler'

[2020-08-24 11:48] #5073 closed, assigned to yekalkan

[2020-08-24 12:07] maliming commented on #5148
Can you explain it in detail?

[2020-08-24 12:38] bnymncoskuner opened #5150 "Create docker image to ease up Angular dev and enable community support"
In the current state of the framework, it is almost impossible to write any `Angular` code and test it without proper backend. If there was a docker image with minimal setup (backend application, db, cache etc.) to provide APIs to the `Angular` application, it would make working on just `Angular` extremely easy. It would also enable support from the community.

[2020-08-24 13:56] banitt opened #5151 "Documentation issues"
1. https://docs.abp.io/api-docs/abp/rel-3.1/api/index.html (link in table of contents) redirects to 404
2. https://docs.abp.io/en/abp/latest/Best-Practices/Entities is not inserted in table of contents
3. Search is not working: https://docs.abp.io/search/en/abp/3.0/?KeyWord=Domain+Driven+Design

[2020-08-24 16:04] hikalkan commented on #5151
Thanks for reporting these.

1. We are currently publishing it. 3.1 is RC. It will be available soon. @erolarkat can you write when it is ready.
2. It is referenced from https://docs.abp.io/en/abp/latest/Best-Practices/Index Didn't add to the navigation menu, intentionally.
3. Duplicate of https://github.com/abpframework/abp/issues/5132 @maliming will it work with the next deploy?

[2020-08-24 16:35] erolarkat commented on #5151
Hi,

https://docs.abp.io/api-docs/abp/rel-3.1/api/index.html is available now.

[2020-08-24 19:58] olicooper opened #5154 "CLI "is not a valid version string" bug"
Abp CLI v3.1.0-rc.1

I was updating the core system and also tried updating the Angular client from `v3.0.5`/`v3.1.0-preview20200813` to `v3.1.0-rc.1` Using `abp update` or `abp switch-to-preview` throws the error:

[code]

Some thoughts:
- Maybe it is because my projects were using the old preview system? (I have an `.npmrc` file with `@abp:registry=https://www.myget.org/F/abp-nightly/npm`)
- May

[2020-08-24 20:11] olicooper commented on #5154
When using `yarn add @abp/ng.core@3.1.0-rc.1` I get an error: `Couldn't find any versions for "@abp/ng.core" that matches "3.1.0-rc.1"`
But I can see it in npm: https://www.npmjs.com/package/@abp/ng.core/v/3.1.0-rc.1

[2020-08-25 00:40] SmallShrimp commented on #5148
I want to customize the Token validator to implement custom logon validation logic for users

[2020-08-25 01:32] maliming commented on #5151
Search works now.

[2020-08-25 01:32] #5151 closed, assigned to nobody

[2020-08-25 06:10] maliming opened #5157 "Entering a password that does not meet the rules causes concurrent errors."
**Mongodb + MVC**
Maybe also exists in EF Core.

![image](https://user-images.githubusercontent.com/6908465/91129380-83ffe280-e6dc-11ea-9917-11553f7784b3.png)

![image](https://user-images.githubusercontent.com/6908465/91129405-911cd180-e6dc-11ea-9f4c-3fd5c880b528.png)

[2020-08-25 06:18] maliming opened #5158 "MongoDb transaction is not rolled back."
**MVC + MongoDb**

![image](https://user-images.githubusercontent.com/6908465/91130099-b52ce280-e6dd-11ea-813b-6b521bf606f3.png)
![image](https://user-images.githubusercontent.com/6908465/91130158-cb3aa300-e6dd-11ea-830d-3c569c35fba0.png)

[2020-08-25 06:18] xyfy opened #5159 "[question]can I set some applicatoin service use special JsonSerializerOptions"
abp v3.0.5

Can I set some services to return JSON in a specific format instead of all services?

[code]

what should I do?

[2020-08-25 06:24] realLiangshiwei commented on #5158
Related https://github.com/abpframework/abp/issues/347

[2020-08-25 06:28] yekalkan commented on #5154
Known issue. This will be fixed in 3.1.0-rc.2.

[2020-08-25 06:56] hikalkan commented on #5157
Interesting. It should be normally rollback the transaction, so the concurrency token in the database remain unchanged.

[2020-08-25 07:08] hikalkan commented on #5158
There is no transaction support with mongodb

[2020-08-25 07:08] hikalkan commented on #5157
There is no transaction support with mongodb. it should not be a problem with ef core.

[2020-08-25 07:09] hikalkan commented on #5158
should wait for https://github.com/abpframework/abp/issues/347

[2020-08-25 07:10] hikalkan commented on #5157
Should wait for https://github.com/abpframework/abp/issues/347

[2020-08-25 07:25] JSvanDonk commented on #5023
Maybe in addition to documenting Redis as a pre requirement, also add redis to the module template docker files? So by default this (all?) requirements are met when starting the docker containers for development.

[2020-08-25 07:29] ismcagdas opened #5160 "When clicking the menu item, route changes but menu stays opened"
Here is a sample screenshot;

![image](https://user-images.githubusercontent.com/4133525/91145250-d2ea4f80-e6bd-11ea-81cb-fbc977e4d0f1.png)

[2020-08-25 07:31] ismcagdas opened #5161 "Role labels are not displayed in Angular template"
in roles list of MVC project, labels like `static` and `public` are displayed but those labels are not displayed in Angular template.

[2020-08-25 07:33] ismcagdas opened #5162 "Login button doesn't look like a button on Web project"
When using an EF Core & MVC project with `tiered` option, login button in the Web project is not styled correctly. We can add `btn btn-primary` class to this button.

[2020-08-25 07:45] maliming opened #5164 "Update npm packages of template project to 3.1.0-rc.1(MVC)"

[2020-08-25 07:46] maliming opened #5165 "Update npm packages of template project to 3.1.0-rc.1(ANGULAR)"

[2020-08-25 08:56] xyfy commented on #5159
Because some interfaces get large data back, they need to compress the fields, and some fields with null values do not want to be returned to the foreground

[2020-08-25 08:56] xyfy commented on #5159
Can only create a new class to resolve it ? or other way??

[2020-08-25 09:18] armanozak opened #5167 "Remove solution name parameter from proxy generator"

[2020-08-25 09:23] SmallShrimp commented on #5148
![image](https://user-images.githubusercontent.com/8120385/91157023-60966100-e6f7-11ea-80f9-6afac096aa6e.png)

[2020-08-25 09:24] SmallShrimp commented on #5148
The example `JwtSecurityTokenHandler` shown in the figure has been replaced, but the breakpoint does not enter

[2020-08-25 09:26] SmallShrimp commented on #5148
Can someone help me

[2020-08-25 10:47] hikalkan opened #5168 "Use @abp/ng.schematics:proxy command from the ABP CLI to generate Angular service proxies"

[2020-08-25 10:51] Stirda opened #5169 "Automatic authentication with Windows (Active Directory / LDAP) account?"
I am looking for automatically login into application based on user windows profile, then query Active Directory which groups current user belongs to. I am aware of 3.1 improvements in external login. @leonkosak @akinix @maliming Any suggestion?

_Originally posted by @leonkosak in https://github.com/abpframework/abp/issues/3638#issuecomment-615035917_

BTW, is a comment in a closed GitHub issue n

[2020-08-25 10:59] hikalkan opened #5170 "ABP CLI generate-proxy command should check if @abp/ng.schematics package was installed"
Show an error:

"`@abp/ng.schematics` NPM package should be installed to the devDependencies before running this command!"

And don't continue if it was not installed. If would be good to install it, instead of error, however I am not sure if we can know the version to be installed.

Do it in the rel-3.1 branch, so it ships with the v3.1.

[2020-08-25 11:01] #5168 closed, assigned to hikalkan

[2020-08-25 11:21] bnymncoskuner commented on #5165
Fixed

[2020-08-25 11:21] #5165 closed, assigned to bnymncoskuner

[2020-08-25 11:21] #5164 closed, assigned to maliming

[2020-08-25 14:41] #4157 closed

[2020-08-25 17:07] #5167 closed, assigned to armanozak

[2020-08-25 19:38] erojasd commented on #4722
any idea what might be going on?

[2020-08-26 01:31] xdmushui commented on #4990
I recommend adding a hyperlink to the author's blog in the "author" label.

[2020-08-26 02:41] SmallShrimp commented on #5148
This is my solution!
[code]
***But how do I respond to an error message after a validation failure***

[2020-08-26 02:45] maliming commented on #5148
You can refer to `JwtBearerHandler` source code.

https://github.com/dotnet/aspnetcore/blob/master/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L103

[2020-08-26 03:06] SmallShrimp commented on #5148
yes! You are right.I looked at the code for `UseJwtTokenMiddleware` and I think I should process the HTTP response when`result.failure`has a value.
like this:
[code]
***My question***:
Now I've thrown the exception, but the API still returns the data normally

[2020-08-26 03:37] SmallShrimp commented on #5148
This is my solution!
[code]

[2020-08-26 03:37] #5148 closed, assigned to nobody

[2020-08-26 06:58] #5170 closed, assigned to yekalkan

[2020-08-26 07:47] bnymncoskuner opened #5177 "Ng-packagr should not be part of devDependencies of templates"
Both app and module templates have ng-packagr within their devDependencies. These templates is used to generate angular application by our users. Do they need to have ng-packagr? Can we remove it? @mehmet-erim

[code]

[2020-08-26 07:53] hikalkan commented on #4990
We are creating a profile page which will include details about the author and his/her bio, social links... etc.

[2020-08-26 07:57] hikalkan commented on #394
Made authentication & authorization working :)

![blazor-role-management](https://user-images.githubusercontent.com/1210527/91276577-6b4e0600-e78a-11ea-94e9-bfe1a97f6e4c.gif)

* All permissions are available as policy, so `<AuthorizeView Policy="@IdentityPermissions.Roles.Delete">` works as expected.

[code]

Working on the other fundamental features... ;)

[2020-08-26 08:31] maliming commented on #5169
hi @Stirda

I think you can implement yourself through `External Authentication`, I don't have experience with `Windows Active Directory`

https://github.com/abpframework/abp/issues/4977#issuecomment-670006297

[2020-08-26 09:12] Stirda commented on #5169
@maliming  I do too. But do you think automatic registering and automatic login are possible? In the past I succeeded in implementing Azure AD login by following [this contributor blog post](https://community.abp.io/articles/how-to-use-the-azure-active-directory-authentication-for-mvc-razor-page-applications-4603b9cf). Registering was automatic. So :

- Basic login: Need to be already registered >

[2020-08-26 11:16] jonny-xhl opened #5178 "Overriding a Service Class and request has not been registered"
I overrided  `IdentityUserAppService`  to throw an exception when I requested it .

error:(**The requested service 'ExaminationSample.TestExposeService.MyIdentityUserAppService' has not been registered**).

The code is same to [docs](https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services)

[2020-08-26 11:24] #5154 closed, assigned to yekalkan

[2020-08-26 11:44] bnymncoskuner commented on #4991
Merged into dev

[2020-08-26 11:44] #4991 closed, assigned to bnymncoskuner

[2020-08-26 12:41] mtozlu opened #5179 "Remove deprecated library dependency in demo projects"
IdentityServer4.AccessTokenValidation library is deprecated and not being maintained anymore.
Using `AddIdentityServerAuthentication` on ABP-CLI generated projects should be removed.
Further info can be found here;
https://leastprivilege.com/2020/07/06/flexible-access-token-validation-in-asp-net-core/

[2020-08-26 12:41] maliming commented on #5178
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-08-26 14:00] Stirda opened #5180 "Missing Check*PolicyAsync usage in documentation?"
In [official tutorial](https://docs.abp.io/en/abp/latest/Tutorials/Part-10?UI=MVC&DB=EF#bookappservice) the `*PolicyName` family is set in `BookAppService` ctor but I don't see any `Check*PolicyAsync` call in method overrides. Is this forgotten or is there an automagic somewhere calling them?

[2020-08-26 14:07] maliming commented on #5180
hi

It will automatically check the policy in `AbstractKeyCrudAppService` class.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/AbstractKeyCrudAppService.cs#L87

[2020-08-26 15:34] Stirda commented on #5180
@maliming I agree for `CreateAsync`. But tutorial overrides methods `GetAsync` and `GetListAsync` without calling any `Check*PolicyAsync` or base method.

[2020-08-26 15:40] hikalkan opened #5181 "Bug on dictionary type generation on the angular service proxy generation"
It was misunderstood :)

`{type1:type2}` is a dictionary where type1 is the key type and type2 is the value type.

[2020-08-26 15:42] hikalkan opened #5182 "Use the new "abp generate-proxy" for all the modules (angular UI)"

[2020-08-26 15:44] hikalkan opened #5183 "Revise all the angular documentation (Part I)"
We need to revise all the angular UI documentation and fill the missing parts.

[2020-08-26 16:31] alexandis opened #5184 "Dropdown button does not expand menu in mobile mode (narrow screen) in the replaced NavItemsComponent"
2.9.0, Angular UI.
I have replaced **NavItemsComponent** according to documentation.
Everything works properly in _Desktop_ mode when I click Profile, language and other icons in top right corner. However, when I narrow the browser window and layout is switched to _mobile_ mode (two icons) - clicking _Profile_ icon does not expand dropdown menu. Such problem is not occured when using built-in **Na

[2020-08-26 18:41] hikalkan commented on #5160
I think this is because you are still on the menu item with the mouse and the page switch is so fast :)

[2020-08-26 19:11] wboebel opened #5186 "Localizations in a module not being returned by the gateway service after 3.1.0-rc.2 upgrade"
Just upgraded a micro-service solution from 3.0.5 to 3.1.0-rc.2 according to the instructions in the blog post.

I have localizations defined in a module which are no longer included the the response from the ocelot gateway application-configuration method after upgrading from 3.0.5 to 3.1.0-rc2.

These localizations are defined in a module, which is hosted by a micro-service, which is behind a ga

[2020-08-26 19:40] wboebel commented on #5186
You can disregard.  Figured it out but sharing here in case it causes trouble for anyone else.

In the DomainSharedModule for the module, where the AbpVirtualFileSystemOptions are configured, in the AddEmbedded() method, I did not previously set a base namespace value.  This worked fine in v3.0.5 and my localizations were found.

Now in 3.1.0-rc.2 the localizations were not being found.  Adding th

[2020-08-26 19:40] #5186 closed, assigned to nobody

[2020-08-27 00:01] maliming commented on #5180
https://github.com/abpframework/abp/blob/27050189dc6653c851fa99ce191013c600a2bfad/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/AbstractKeyReadOnlyAppService.cs#L63
https://github.com/abpframework/abp/blob/27050189dc6653c851fa99ce191013c600a2bfad/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/AbstractKeyReadOnlyAppService.cs#L54

[2020-08-27 00:09] nischalsanghal opened #5187 "Docs Module standalone http 500 error on default page after setup"
Hello
I followed the steps here: https://docs.abp.io/en/abp/latest/Apps/VoloDocs  to create a standalone document project. I was able to run the VoloDocs.Web.exe and define a new project. But when I navigate to /documents it is throwing 500 error.
Any suggestions what to look for. I tried public/private repos with the appropriate access token as documented but no luck.

Will appreciate any kind of

[2020-08-27 00:30] maliming commented on #5187
Please check your application logs.

[2020-08-27 01:51] jonny-xhl commented on #5178
- ABP Version:3.0.5.
- I overrided the **IdentityUserAppService** is in the Application layer.
- **My code:**
[code]
- **Stack trace:**
[code]

[2020-08-27 02:05] maliming commented on #5178
Try `[ExposeServices(typeof(MyIdentityUserAppService), typeof(IIdentityUserAppService), typeof(IdentityUserAppService))]`

[2020-08-27 02:15] jonny-xhl commented on #5178
It's ok.
- Does the [document](https://docs.abp.io/zh-Hans/abp/latest/Customizing-Application-Modules-Overriding-Services) need to be updated?
- I'm not using it correctly?

[2020-08-27 02:27] evenlee opened #5188 "questio：Use GuidGenerator for CrudAppService"
When I use CrudAppService to create API, the guid is generated by repository.insertAsync(entity,true),
which means db generate the id, for consistency, how to user GuidGenerator for CrudAppService

[2020-08-27 02:43] maliming commented on #5178
Maybe, I will check it.

[2020-08-27 02:45] maliming commented on #5188
It's already has used the GuidGenerator.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/AbstractKeyCrudAppService.cs#L161

[2020-08-27 02:51] evenlee commented on #5188
Thanks for clarify @maliming ,see the code now, closed.

[2020-08-27 02:51] #5188 closed, assigned to nobody

[2020-08-27 03:03] jonny-xhl commented on #5178
Ok,thks!

[2020-08-27 03:24] maliming opened #5189 "Compatible Identity Server extension grant."
Maybe we just need to support it in the UI.

https://identityserver4.readthedocs.io/en/latest/topics/extension_grants.html

[2020-08-27 06:18] yekalkan opened #5191 "Cli: Running switch commands in aspnet-core folder should switch angular project as well if it exist"

[2020-08-27 06:24] nischalsanghal commented on #5187
2020-08-26 23:16:49.142 -07:00 [INF] Downloading content from Github (DownloadWebContentAsStringAsync): https://raw.githubusercontent.com/chiropad/docs/README.md
2020-08-26 23:16:49.142 -07:00 [INF] Start processing HTTP request GET "https://raw.githubusercontent.com/chiropad/docs/README.md"
2020-08-26 23:16:49.142 -07:00 [INF] Sending HTTP request GET "https://raw.githubusercontent.com/chiropad/d

[2020-08-27 07:37] bnymncoskuner opened #5192 "Add aria-hidden="true" to icon fonts in templates"
SonarQube consider usage of `<i class="fa fa-plus mr-1"></i>` a **bug**.

Here is the rule: https://rules.sonarsource.com/html/RSPEC-1100

We should add `aria-hidden` to icon usages throughout the project.

[2020-08-27 07:59] ismcagdas commented on #5160
Yes, the mouse pointer is still on the menu item. But, I expect menu to close when I click a menu item.

[2020-08-27 08:22] aicreed commented on #394
I've tried copying some of the blazor code in the branch on my current ABP Commercial app to replace angular and I'm getting the following error. Any ideas? Any other configuration changes I need to make to the API host in order to get this working?

![image](https://user-images.githubusercontent.com/47678215/91416078-cba27d80-e846-11ea-9718-90a6e683be28.png)

[2020-08-27 08:24] #5191 closed, assigned to yekalkan

[2020-08-27 08:50] cem1835 opened #5193 ".min file access problem"
![min file bug](https://user-images.githubusercontent.com/17495243/91418399-bfc0b680-e85a-11ea-8963-573f1c7dc837.PNG)

We generally have problems with .min file extensions.

The jquery-knob.min.js  in the picture returned 404 on the server but working on local. (Module Project)
İnfo: The project's bundling mode:none
and  everything in the sample 2 files is the same (content type etc.)

[2020-08-27 08:51] armanozak opened #5194 "Add "Clear" to AbpUi localization resource"
Related to volosoft/volo#3147

[2020-08-27 08:54] JadynWong commented on #5169
https://docs.microsoft.com/en-us/aspnet/core/security/authentication/windowsauth?view=aspnetcore-3.1

I think it has nothing to do with abp

[2020-08-27 09:17] #5162 closed, assigned to cotur

[2020-08-27 09:43] pramodbobde opened #5196 "Can not find microservices document while login to commercial"
Can not find microservices document while login to commercial.

ABP.IO without login:
May I know why http client and gateways endpoints for microservices demo are created in solution and written implementation in solution?

[2020-08-27 09:53] realLiangshiwei commented on #5193
Hi,

I can't reproduce your problem.

![image](https://user-images.githubusercontent.com/16813853/91425735-20b5b200-e88e-11ea-9465-69375dbe5461.png)

* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2020-08-27 10:31] cem1835 commented on #5193
ABP Framework version 2.9.0
you tried it on a local server but the problem is on IIS. Also works on my local pc too. ( and please create same file structure /js/candidate-statistic/jquery-knob.min.js)

[2020-08-27 10:32] Stirda commented on #5180
@maliming Base classes are good. Tutorial overrides not seems so. Look at their bodies (https://docs.abp.io/en/abp/latest/Tutorials/Part-10?UI=MVC&DB=EF#bookappservice).

[2020-08-27 10:34] maliming commented on #5180
You are right! Will be update the document.

[2020-08-27 11:34] leonkosak opened #5199 "Feature suggestion: Serilog.Sinks.File on deployable projects (.NET Core)"
It would be nice to add Serilog.Sinks.File (which is present in .DbMigrator project) to other deployable projects
(web - .Host, .IdentityServer for instance).

and added this line in Program.cs:

[code]

Writing log to console is useful when you have application inside Docker. :)
What do you think guys?

[2020-08-27 11:35] leonkosak commented on #5087
Agh! Wrong CorsOrigins defined in .IdentityServer. :(

[2020-08-27 11:35] #5087 closed, assigned to maliming

[2020-08-27 11:39] realLiangshiwei commented on #5193
I still can't reproduce your problem.

![image](https://user-images.githubusercontent.com/16813853/91437681-d556d000-e89c-11ea-834b-73775b8aa163.png)

[2020-08-27 11:47] leonkosak commented on #5169
@Stirda, currently my priority is complete installation of tiered-abp.io (abp Commercial) inside Docker environment.
If somehow IIS is required (via Windows Authentication option) for (semi)automatic login, this is not good solution for us.
For developing LDAP authentication there is no more requests for implementation for now.

[2020-08-27 11:49] #5194 closed, assigned to armanozak

[2020-08-27 11:57] leonkosak commented on #3815
Well, I dockerized Angular, but I have question. Is it somehow possible to set environment variables (which are inside environment.ts, environment.ts) during building on Docker installation?
It would be really annoying to build Angular Docker image for each client separately.

[2020-08-27 12:38] armanozak opened #5201 "Proxy Generator: Inherited generic interface gets imported from self"

[2020-08-27 12:40] armanozak opened #5202 "Proxy Generator: Additional command for removing generated proxy required"

[2020-08-27 12:48] armanozak opened #5203 "Proxy Generator: Accept __default as placeholder for a default parameter"

[2020-08-27 12:54] #5203 closed, assigned to armanozak

[2020-08-27 13:33] hikalkan opened #5205 "Add "--skip-cli-version-check" option to ABP CLI"
Skips to check the latest version of the ABP CLI. If you don't specify, it will check the latest version and shows a warning message if there is a newer version of the ABP CLI (current behaviour).

[2020-08-27 13:36] #5205 closed, assigned to hikalkan

[2020-08-27 14:01] maliming commented on #5187
hi

What's your project information that uses GitHub source?

https://docs.abp.io/en/abp/latest/Apps/VoloDocs#an-example-project-definition

[2020-08-27 14:03] hikalkan opened #5206 "Add configuring AbpDbContextOptions to the EF Core documentation"

[2020-08-27 14:08] maliming commented on #5199
Agree,  Especially when an error occurs while using the Rider, I need to check the log file instead of the console. : )

[2020-08-27 15:26] bnymncoskuner opened #5208 "Providing --dryRun parameter with abp-cli"
When generating code with `angular-cli`, if you pass `--dryRun`, `angular-cli` runs the given command and outputs whatever would be generated but it does not generate any code. Sometimes, it is quite to useful to check what will be generated before running the actual command. If `abp-cli` has a similar parameter, it will be useful to the users.

[2020-08-27 16:54] nischalsanghal commented on #5187
It's a private repo and I gave full control to the access token

![image](https://user-images.githubusercontent.com/43482899/91471508-11f9db80-e84b-11ea-9f89-99159cc6dbfd.png)

[2020-08-27 17:20] leonkosak commented on #5199
One more suggestion at this point.
Wouldn't be nice to move hardcoded "Logs/Logs.txt" in appsettings.json files?
https://github.com/serilog/serilog-settings-configuration

Even the code in Program.cs would be much simpler to init.

[code]

[2020-08-28 00:53] Rwing commented on #5199
Agree, but there seems to be a performance issue when using console logging.
FYI https://weblog.west-wind.com/posts/2018/Dec/31/Dont-let-ASPNET-Core-Default-Console-Logging-Slow-your-App-down

[2020-08-28 00:53] ZhaoYis opened #5210 "Can the development documentation be improved?"
Some of the development documents are still in TODO state, some are not fully documented,Can the development documentation be improved?

[2020-08-28 01:30] xyfy opened #5211 "use is4 api to login ,send tenantId header,but got the host user"
I am using the abp microservice sample , with abp v3.0.5

I am using the identity server 4  API  `/connect/token` to login in,  I send the header `_tenantId` ,but the api can not get it ,and return the  admin user of HOST

[code]

I got a access_token,I put it to <jwt.io> to show it ,it take the admin user's email of host  not the `__tenant`

[code]

[2020-08-28 01:32] xyfy commented on #5211
I have already call `      app.UseMultiTenancy();` in the host module
[code]

[2020-08-28 01:41] maliming commented on #5187
Can you follow the example of the document.

https://docs.abp.io/en/abp/latest/Apps/VoloDocs#an-example-project-definition

[2020-08-28 01:48] maliming commented on #5199
`AddConsole `for `debug `or `development ` will be good.

[2020-08-28 01:49] maliming commented on #5210
It's on the way.

[2020-08-28 01:49] #5210 closed, assigned to nobody

[2020-08-28 01:52] 274188A commented on #394
no javascript withdrawal symptoms?  : - )

[2020-08-28 01:58] xyfy commented on #5211
I use  **application/x-www-form-urlencoded** to request, got the same response

[code]

[2020-08-28 03:11] TuyenDinh1205 opened #5212 "Hide item administration on Menu"
I want to hide administration on menu. I'm using route.provider
 Please help me how to do it

ABP Framework version: 3.0.5
 User Interface type: Angular

![error](https://user-images.githubusercontent.com/34994601/91516826-a7ae6d00-e916-11ea-8935-8f45285d8fbd.PNG)

[2020-08-28 03:16] xyfy commented on #5211
it is only occur on the remote server, not local ,the local is correct~~~~~~

[2020-08-28 03:21] xyfy commented on #5211
the remote server is use same databse as local.

That's weird

[2020-08-28 03:25] realLiangshiwei opened #5213 "When tiered templates, tenants of independent databases cannot login."
Related https://support.abp.io/QA/Questions/379/Login-Error

[2020-08-28 03:35] xyfy commented on #5211
I use docker publish the code,use the same database....

[2020-08-28 03:38] nischalsanghal commented on #5187
I left the access token and user agent parameters blank.  It's showing the same exception.

2020-08-27 20:26:46.622 -07:00 [INF] Executing handler method Volo.Docs.Pages.Documents.Project.IndexModel.OnGetAsync with arguments (null) - ModelState is "Valid"
2020-08-27 20:26:47.621 -07:00 [INF] Not found in the cache. Requesting Index.md from the store...
2020-08-27 20:26:47.621 -07:00 [INF] Download

[2020-08-28 03:42] xyfy commented on #5211
I got it  ,I think it should be the **nginx** config ,I use nginx for  `Reverse proxy`

the nginx will  discard the custom header by default

I will try fixed the config

closed it

[2020-08-28 03:42] #5211 closed, assigned to nobody

[2020-08-28 03:44] xyfy commented on #5211
[code]

[2020-08-28 04:53] leonkosak commented on #5213
I have Angular UI (and separated IdentityServer) and separated databases for all tenants.
There is login issue (error) when I forgot to start Redis.

[2020-08-28 04:58] leonkosak commented on #5199
@maliming what about Serilog.Settings.Configuration? With Serlilog configuration inside appsettings.json you can enable console logging on-the-fly when needed without recompiling the code.

[2020-08-28 05:00] maliming commented on #5199
@leonkosak sounds great, I will check it.

[2020-08-28 06:31] realLiangshiwei opened #5215 "When tiered templates, tenants of independent databases cannot login (AngularUI)."
Related https://github.com/abpframework/abp/issues/5213

Should add tenant key to the request.

![image](https://user-images.githubusercontent.com/16813853/91529174-69777480-e93b-11ea-8853-090e7a67859e.png)

[2020-08-28 06:32] #5181 closed, assigned to armanozak

[2020-08-28 06:33] #5201 closed, assigned to armanozak

[2020-08-28 07:06] leonkosak opened #5217 "Background workers: Parallel processing - concept"
Situation:
Each tenant has its own dedicated database. The current implementation (look code below) is working, but is serial and therefore relatively slow if there are a lot of tenants and data for processing is growing fast (in each tenant).

[code]

There are some articles on the web where authors states that using [TPL Library](https://docs.microsoft.com/en-us/dotnet/standard/parallel-programm

[2020-08-28 08:25] ertucaglar opened #5218 "ExtraProperties field is not registered in MongoDb."
I abp.io framework version is 3.0.5

I'm using multiple database provider. PostgreSQL and MongoDB.

This my collection model for MongoDb collection.

`public class UserCollection : AggregateRoot<Guid>, IHasCreationTime, IHasModificationTime
    {
        public string Title { get; set; }
        public string Picture { get; set; }
        public string SubTitle { get; set; }
    }`

However, when

[2020-08-28 08:29] realLiangshiwei opened #5219 "Make Chinese localization work"
Browser sends the request accept-language parameter is `zh-CN`, but we are using `zh-Hans`.

[2020-08-28 08:35] realLiangshiwei commented on #5218
Please provide steps to reproduce

[2020-08-28 08:42] ertucaglar commented on #5218
I do not understand exactly what you want. Can you elaborate a little more please...

[2020-08-28 08:50] realLiangshiwei commented on #5218
I mean how to reproduce your problem.

[2020-08-28 08:57] realLiangshiwei commented on #1754
@tntwist  Hi, Are you still working on this? I will implement this feature, if you don't have time.

[2020-08-28 08:57] ertucaglar commented on #5218
Sorry, ok...

In my case...

- Followed abp.io mongodb instruction
- Create a mongodb collection entity your solution with extend AggregateRoot<Guid>.
For example:
`public class UserCollection : AggregateRoot<Guid>
...`
- Create new record on mongoDb:
`var row = new UserCollection();
var entity = new EntityDto();
entity.Title = "Test row";
row.SetProperty("Entity", entity);
_repository.InsertAsync

[2020-08-28 09:02] tntwist commented on #1754
@realLiangshiwei I was pretty busy the last two  weeks and wont have time to work on it till mid of september. So you can implement it.

[2020-08-28 09:20] realLiangshiwei commented on #5218
Hi,

For mongo, it is stored as a regular field, see the document: https://docs.abp.io/en/abp/latest/Entities#how-is-it-stored

[2020-08-28 09:33] ertucaglar commented on #5218
Oh nooo... :( ok thank you.

[2020-08-28 09:33] #5218 closed, assigned to nobody

[2020-08-28 14:14] ertucaglar opened #5220 "Authorization failed! Given policy has not granted"
Version: 3.0.5

I working on localhost and authentication is successful.

**On Localhost:**
1. Call to "/connect/token" with request body and than response the access_token
2. Call to "/api/identity/my-profile" with Bearer token and than response is current user information

However, AWS Elasticbeanstalk is not responding to the current user in production mode.
**On AWS**
1. Call to "/connect/toke

[2020-08-28 15:07] armanozak opened #5221 "Proxy Generator: Regenerate previously generated modules on every run"

[2020-08-28 18:48] hikalkan commented on #394
Anyone knows a UI kit for Blazor that is based on Bootstrap?

I see that the only one is https://github.com/chanan/BlazorStrap

https://github.com/stsrki/Blazorise also seems promosing. However, I am not sure if they continue to support that much of different libraries and the abstraction may be leaking (didn't investigate in deep).

Another option to directly use Boostrap code, but I don't like t

[2020-08-28 19:34] tvddev commented on #394
These might help? We use Telerik too, so maybe those guys and othrrs like syncfusion can contribute their free/trial versions and it gives people the option to pick them up?

https://www.matblazor.com/

https://jsakamoto.github.io/awesome-blazor-browser/#libraries---extensions-component-bundles

[2020-08-28 22:37] jhulbertpmn commented on #394
The SyncFusion Blazor components use Bootstrap and they are fantastic. They have their community license and the main commercial license of course - I don't know what the licensing implications would be

[2020-08-28 23:49] ertucaglar commented on #5125
I have a similar problem. I can login when I switch to the production environment, but CurrentUser.Id is always null.

I'm using AWS Elasticbeanstalk with Amazon Linux and nginx proxy

Help me please...

[2020-08-29 01:06] 274188A commented on #394
+1 https://www.matblazor.com -

i would assume you'd run into trouble if you tried selling the abp.zero library with another company's registered libs

[2020-08-29 01:14] kzmyvr opened #5224 "Permission Management responds slowly"
Hi,

![image](https://user-images.githubusercontent.com/5845762/91625103-42f22180-e9ad-11ea-8159-1d2570dfb34e.png)

Permission modal very slow opening.

version : 3.1.0-rc.3 - mvc
database : mysql

`2020-08-29 03:53:01.397 +03:00 [INF] Executed page /AbpPermissionManagement/PermissionManagementModal in 14490.3918ms
2020-08-29 03:53:01.397 +03:00 [INF] Executed endpoint '/AbpPermissionManagement/Pe

[2020-08-29 01:18] jhulbertpmn commented on #394
For what it’s worth- and I have no affiliation with Syncfusion, I just like the product- th Rey do have a form to request an open source license

https://www.syncfusion.com/products/community-contact-us

[2020-08-29 01:55] zh-wq opened #5225 "AbpIdentityOptionsFactory can not get currentUser or currentTenant"
Version: 3.0.5

While I want to define password for tenants, I override password settings by add WithProviders(TenantSettingValueProvider.ProviderName). However, when I set password for tenant users, I found that the password is not with correct passwordValidators. The reason is that I can not get currentTenant in AbpIdentityOptionsFactory or TenantSettingValueProvider.

[2020-08-29 02:27] tvddev commented on #394
https://github.com/stsrki/Blazorise

Looks to be pretty comprehensive.

[2020-08-29 08:47] #4874 closed

[2020-08-29 13:36] colinin commented on #5224
the permission services are not cache hit and are not batch queried for multiple providers, it is recommended to override the **PermissionAppService** to predetermine all providers that the permission needs to be retrieved and then batch queried, of course you can also use the cache

[2020-08-29 13:37] #4222 closed

[2020-08-29 13:42] hikalkan opened #5227 "Create Kafka integration document"
Create a document like https://docs.abp.io/en/abp/latest/Distributed-Event-Bus-RabbitMQ-Integration

I can make fixes on the documentation if we need it. You prepare an initial version.

[2020-08-29 13:43] hikalkan opened #5228 "Create a Kafka example application"
Create a sample application like https://github.com/abpframework/abp-samples/tree/master/RabbitMqEventBus (do it with nightly builds to now wait the 3.2 release and place under the abp-samples repo).

Wait for https://github.com/abpframework/abp/issues/5227 so you test the document too.

[2020-08-30 01:26] ram16g commented on #394
https://github.com/ArgoZhang/BootstrapBlazor  is pretty good

[2020-08-30 02:18] maliming commented on #5187
Please refer to below configuration .

![image](https://user-images.githubusercontent.com/6908465/91649772-03f5c600-eaaa-11ea-8b48-f906ca89b521.png)

[2020-08-30 03:08] maliming commented on #5220
You can check the application logs.

[2020-08-30 03:10] maliming commented on #5225
* Steps needed and code to **reproduce** the problem.

[2020-08-30 03:18] #4520 closed

[2020-08-30 03:19] #4475 closed

[2020-08-30 06:04] nischalsanghal commented on #5187
Ok followed exactly as in the doc, still ran into 500

2020-08-29 23:09:16.158 -07:00 [INF] Sending HTTP request GET "https://raw.githubusercontent.com/abpframework/abp/master/docs/en/Index.md"
2020-08-29 23:09:16.571 -07:00 [INF] Received HTTP response after 411.4931ms - "NotFound"
2020-08-29 23:09:16.573 -07:00 [INF] End processing HTTP request after 420.60560000000004ms - "NotFound"
2020-08-29

[2020-08-30 06:40] zh-wq commented on #5225
![image](https://user-images.githubusercontent.com/27350164/91652976-b770b180-eace-11ea-818c-949093739b20.png)

[2020-08-30 08:52] yinchang0626 opened #5229 "[angular] DynamicLayoutComponent didn't work when with a long time APP_INITIALIZER"
@mehmet-erim :Hi,
I think I find a bug about `GetAppConfiguration`  Action and create a [branch](https://github.com/FurtherSoftware/abp/commit/52d01f5096f48b22a47e37ade994e1a66230438c) to test it

1.Add a `APP_INITIALIZER` provider to AppModule:
[code]
Then `DynamicLayoutComponent`  didn't work fine when first time to load page:
![ezgif com-optimize](https://user-images.githubusercontent.com/16490

[2020-08-30 17:09] d-oit commented on #394
Overview UI components: https://github.com/AdrienTorris/awesome-blazor#component-bundles

By github stars:
-> https://github.com/ant-design-blazor/ant-design-blazor
is the activist project

Do you need same help?

[2020-08-30 17:27] hikalkan commented on #394
@do-it-ger I see ant-design-blazor is the most active one. Others have not so active development.
However, I want to use a bootstrap based one. Current UIs (angular & mvc) are using bootstrap and I don't want to include another UI framework that is not BS compatible. Still looking... I am checking blazorstrap and blazorise deeper.

[2020-08-31 01:55] siyangzzz opened #5230 "Configure multiple clientname in abp rabbitmq"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2020-08-31 01:55] #5230 closed, assigned to nobody

[2020-08-31 02:05] siyangzzz opened #5231 "Configure multiple clientname in abp rabbitmq"
is there anyway that i can configure multiple clientname in abp rabbitmq,i have a service that i have to direct different queue to consume.

[2020-08-31 02:44] #4560 closed

[2020-08-31 02:54] maliming commented on #5225
Please provide full details. Thanks.

[2020-08-31 03:29] zh-wq commented on #5225
The code above is only for find out what is wong. I try to inject the class above in IdentityUserManager and call "OverrideOptions" methd, Then I can get passwordValidators with tenant settings, which is what I want. The debug info show me that there is current user and tenant only in the last instance I injected.

[2020-08-31 05:08] ElderJames commented on #394
@hikalkan Can we contribute an ant-design-blazor template as an option??

[2020-08-31 06:09] #5178 closed, assigned to maliming

[2020-08-31 06:27] maliming commented on #5219
For developers who have this problem can try to use the following library to solve.
https://github.com/maliming/Owl.Abp.CultureMap

[2020-08-31 06:27] #5219 closed, assigned to maliming

[2020-08-31 06:51] tvddev commented on #394
What is the difference between the Pro and Normal versions of Ant Design Blazor? Would we end up having to buy something else and/or merge backend and UI changes from different places?

https://github.com/ant-design-blazor/ant-design-pro-blazor

[2020-08-31 07:17] ertucaglar commented on #5220
In my case, i setup the secure url on AWS Elasticbeanstalk, resolved this issue.

[2020-08-31 07:17] #5220 closed, assigned to nobody

[2020-08-31 07:36] yekalkan commented on #5187
A branch named "master" doesn't exist anymore. So, 404 error is normal.

Can you share your full configuration like the screenshot below?

![image](https://user-images.githubusercontent.com/5793291/91694746-c2cae800-eb75-11ea-8456-90f76b2d0ba6.png)

[2020-08-31 07:43] ElderJames commented on #394
@tvddev  Ant Design Blazor Pro is an out-of-box template and it is free.

[2020-08-31 07:57] hrx521 commented on #394
Ant-Design-Blazor is based on Asp.net core and Ant-Design.  Then,Ant-Design is a html/CSS library that used MIT License. Both Are fully open source and free.

[2020-08-31 07:57] mehmet-erim opened #5234 "Add a path to the tsconfig.json files for proxy folder"

[2020-08-31 08:04] #5202 closed, assigned to armanozak

[2020-08-31 08:04] #5221 closed, assigned to armanozak

[2020-08-31 09:06] yincen opened #5235 "Calling [Auto Api] , response status code 302 , why not 401 ?"
hi,
when i calling the [AUTO API] without login, why is the response status code 302 instead of 401.
version : 3.0.5
ui : MVC
In this case, I want the response to be 401.
how can i do ?
thank you !

[2020-08-31 09:10] maliming commented on #5235
Duplicate of #3848

[2020-08-31 09:34] ChangYinShung opened #5236 "Multi-Tenancy but some of tenant need binding domain name"
I already  deploy a Multi-Tenancy website and work fine.
someting like :
[code]
iis binding setting will be :
[code]
In some of case:
i already  buy  a domain name : companyName.com.tw
iis binding setting will be:
[code]

Question :
how to  fixed  tenant when user visit by http://companyName.com.tw (same as http://companyName2.demo.com.tw) ?

Create Domain Tenant Resolver?

[2020-08-31 09:38] realLiangshiwei commented on #5236
You can create your own tenant resolver. https://docs.abp.io/en/abp/latest/Multi-Tenancy#custom-tenant-resolvers

[2020-08-31 09:57] bnymncoskuner opened #5237 "[angular] Create a card component"
We use `card` `card-body` classes everywhere.
We should have a component as follows:

[code]

[2020-08-31 11:20] davidzwa opened #5238 "[Angular] rootNamespace' of type 'string | undefined' is not assignable to string index type 'string'."
* **3.1.0-rc3**.
* Angular (Abp Ng 3.1.0-rc3)
* error TS2411: Property 'rootNamespace' of type 'string | undefined' is not assignable to string index type 'string'.
* Build Angular app with @abp/ng.core

[code]

[2020-08-31 12:32] mgochmuradov opened #5239 "SignalR Authentication with Angular"
### The user is not getting authenticated when using an angular client.

### Framework details
* **ABP Framework version** : 2.9
* **User Interface**: Angular
* Exception message and **stack trace**:
[code]
* Steps needed to **reproduce** the problem:
1. Create a new project with angular UI,
2. Add SignalR module,
3. Create a simple hub with method `Join()` where we use `CurrentUser.GetId()`:
[cod

[2020-08-31 15:29] gterdem opened #5242 "Cannot add users and roles to organization unit on mongo db"

[2020-08-31 16:48] armanozak opened #5245 "Proxy Generator: Improve import experience of generated code"

[2020-08-31 17:33] rafaelgfirmino commented on #5125
Hi guys, I finally managed to solve this issue.
As I am using microservices in docker containers, I was making requests from different places. With that, I needed to fix my IssuerUri.

services.AddIdentityServer (x =>
{
    x.IssuerUri = "my_auth";
})
I solved my problem-based in this question in [StackOverflow](https://stackoverflow.com/questions/43911536/how-can-i-use-identityserver4-from-inside

[2020-08-31 17:33] #5125 closed, assigned to nobody

[2020-08-31 18:48] nischalsanghal commented on #5187
Ok that helps. I had master in the url. If I replace it with dev it works for ABP Framework. But the issue is still there for my repo

I have a private repo and the raw url has a token at the end:
https://raw.githubusercontent.com/chiropad/docs/master/README.md?token=AKLX6E7S2CGIJ57OZW4MVX27JVBO4

So I am putting this as the root url in the setup: https://github.com/chiropad/docs/master/
![image](

[2020-08-31 19:43] danielmeza commented on #394
We should use https://github.com/mrpmorris/fluxor :D

[2020-08-31 20:04] KevinFarrow commented on #394
"Note: This library has been superseded"

[2020-08-31 20:07] danielmeza commented on #394
I have updated the link to the new implementation https://github.com/mrpmorris/fluxor

[2020-08-31 20:18] #5242 closed, assigned to gterdem

[2020-09-01 01:08] #5227 closed, assigned to realLiangshiwei

[2020-09-01 01:30] maliming commented on #5239
hi
You can try add a middleware. and make it have a high priority.

[code]

[2020-09-01 05:56] maliming commented on #5199
@hikalkan

Should we use `serilog-settings-configuration`? what do you think?
https://github.com/serilog/serilog-settings-configuration

[2020-09-01 06:03] wakuflair commented on #4785
Is there a convenient way to configure the authorization for all the auto controller methods? Something like

[code]

@maliming

[2020-09-01 06:07] maliming commented on #4785
`AutoController` depends on the `[Authorize]` attribute on the application service.

[2020-09-01 06:11] wjkhappy14 opened #5248 "use DotNetty in abp web application"
Can i use **dotnetty**  in abp  web  application, reuse the service to handle **http** request and **tcp** command ?
i have tried,but got some errors ,the service  can't  init  ...... maybe  some troubles in  Ioc or DI.

can you give me some useful tips ?

[2020-09-01 06:15] wakuflair commented on #4785
The `[Authorize]` returns 401 if authorization failed, but `AutoController` redirects to the login page.

It's hard for mobile or other clients that only using API as a server due to this behaviour.

[2020-09-01 06:30] mgochmuradov commented on #5239
Yes, it is working now. Thanks!

PS: Also consider adding this to the documentation. This may help others too.

[2020-09-01 06:54] maliming commented on #5239
I think this is related to `AddIdentityServerAuthentication` method, and we are ready to replace it. see https://github.com/abpframework/abp/pull/5247

[2020-09-01 06:54] #5239 closed, assigned to nobody

[2020-09-01 07:16] maliming commented on #4785
This is the behavior of asp net core unless we use other methods to implement auto controllers.

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-3.1

[2020-09-01 07:26] #5053 closed, assigned to hikalkan

[2020-09-01 07:29] #5245 closed, assigned to armanozak

[2020-09-01 07:30] #5234 closed, assigned to mehmet-erim

[2020-09-01 08:02] #5180 closed, assigned to maliming

[2020-09-01 08:07] aricyu opened #5252 "BlobStoring：How to get the file access URL when using Aliyun, AWS"
**ABP Framework version**:3.0.5

The current practice of BlobStoring is to obtain the file stream from `Aliyun` and then return it to the front end. This is obviously a wasteful behavior.
Is there a way to get the file access URL?
I really want to get files directly from `Aliyun` instead of going through my own server.

[2020-09-01 08:09] hikalkan opened #5253 "Consider to decrease access token lifetime for the Angular & Blazor UI"
We've implemented refresh tokens with the v3.1. So, we can decrease access token lifetime. Current value is 1 year! 😄

We will do it for the startup template, anyone can do it now for their application, in the database (IdentityServerClients table) and in the data seed code.

Note: This can be a problem since refresh token was not implemented for other clients, like Blazor.

[2020-09-01 08:10] maliming commented on #5252
See https://github.com/abpframework/abp/issues/4989#issuecomment-670577121

[2020-09-01 08:10] #5252 closed, assigned to nobody

[2020-09-01 08:28] aricyu commented on #4989
Is it possible to add a GetAccessUrl method in `BlobProvider` and `BlobContainer`?

[2020-09-01 08:28] aricyu commented on #5252
@maliming  Is it possible to add a GetAccessUrl method in `BlobProvider` and `BlobContainer`?

[2020-09-01 08:39] mehmet-erim opened #5254 "Refresh Token API is called every 4 minutes"

[2020-09-01 08:48] gdlcf88 commented on #4989
So how to get the AccessUrl of a local file from File System Provider?

[2020-09-01 08:53] aricyu commented on #4989
@hikalkan
Most file storage providers (FileSystem needs to add wwwroot and set it to `fileSystem.BasePath = Path.Combine(hostingEnvironment.WebRootPath, "my-files")`) support direct connection to url to obtain files, why can't it be abstracted into a method? It's like getting a stream.

[2020-09-01 08:57] aricyu commented on #4989
@gdlcf88
If it is FileSystem, you need to set fileSystem.BasePath = Path.Combine(hostingEnvironment.WebRootPath, "my-files") and add wwwroot

If it is not set, I have no solution for the time being, which is also my confusion。

I am also confused about the FileSystem package. Why can BasePath set a folder outside the project, and what scenarios would require this? If it is just to look high-end, I

[2020-09-01 09:09] hikalkan opened #5255 "Introduce DynamicRangeAttribute"
Just like DynamicStringLengthAttribute (see https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Volo/Abp/Validation/DynamicStringLengthAttribute.cs and https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/DataAnnotations/DynamicStringLengthAttributeAdapter.cs)

[2020-09-01 09:33] #5254 closed, assigned to mehmet-erim

[2020-09-01 09:40] hikalkan commented on #5253
Also, it would be better to equalize id token and access token life times.

[2020-09-01 11:13] hikalkan commented on #394
Sure, you can. However, the problem is not creating a template. The actual problem is the modules. When I develop the UI of a reusable module, I should make an assumption about the HTML/CSS library used in the applications using this module. Bootstrap is our common assumption. If we create different templates with different HTML/CSS frameworks, then it will be hard to support multiple UI framework

[2020-09-01 11:52] 274188A commented on #394
Css isolation is coming which might help

[2020-09-01 12:14] hikalkan commented on #4990
* Profile page is available. Click to a username. Example: https://community.abp.io/members/alper
* Also, a summary of the profile is available at the end of an article.

[2020-09-01 12:15] hikalkan commented on #4990
Anyone can fill the public profile:

![image](https://user-images.githubusercontent.com/1210527/91850314-00a73980-ec66-11ea-90f7-f198d5e1fc78.png)

[2020-09-01 14:14] armanozak opened #5258 "Proxy Generator: Remote service name is different from module name"

[2020-09-01 15:07] albutta commented on #3807
There is still an issue with the solution provided in the article https://community.abp.io/articles/abp-suite-how-to-add-the-user-entity-as-a-navigation-property-of-another-entity-furp75ex
![image](https://user-images.githubusercontent.com/1998105/91868899-8979a180-ec75-11ea-9125-b2cf13683026.png)

[2020-09-01 15:27] #4873 closed

[2020-09-01 16:34] tvddev commented on #394
Isn't blazor a good opportunity to move beyond bootstrap? Most commercial users will likely buy Telerik or Synchfusion (or other) so being able to easily switch to those without legacy BS is attractive.

Fluxor looks pretty interesting for basic controls, I hadn't seen that before.

Apart from Blazor based implementation, by far the more attractive feature is how easy it will be to upgrade to new

[2020-09-01 16:42] leonkosak commented on #394
This is true in our case (DevExpress), but as I can see that not everyone (every company) want to add additional paid components to abp (or abp Commercial).

[2020-09-01 16:56] tvddev commented on #394
@leonkosak I agree, but that probably provides more support for a flexible architecture where it is easy for someone to plugin Devexpress or Telerik or MatBlazor etc. Then the AntBlazor team (or Synchfusion etc)  can easily create cool demos of how to plugin their UI framework and abp can focus on having a really robust template/functional multi-tenant framework?

[2020-09-01 17:01] jhulbertpmn commented on #394
Well said! It certainly makes sense that there needs to be some kind of standard baseline. Being able to plugin a particular package of ui controls on top of that is ideal

[2020-09-02 02:15] maliming commented on #4785
See https://github.com/abpframework/abp/issues/5235#event-3716370525

[2020-09-02 02:15] #4785 closed

[2020-09-02 02:20] maliming commented on #3807
hi @albutta

Please create a new issue.

 if it's related to abp commercial please get support via the support website.

[2020-09-02 07:45] 274188A commented on #394
I would recommend separating the *.razor and the *.razor.cs files (so they are nested)

It might be best to ue Boot Strap rather than trying to accommodate to so many different libraries...moving target

For those using external libraries - it's easy enough to change/adapt the *.razor definition and hopefully reuse some or all of the code-behind (*.cs)

[2020-09-02 08:01] NecatiMeral commented on #4778
You can suppress the warning in the project properties in the `build` tab.
Just add the warning code `CS0436` to the list of suppressed warnings.

[2020-09-02 08:03] NecatiMeral commented on #5021
Duplicate of #4778?

[2020-09-02 08:26] #5021 closed, assigned to nobody

[2020-09-02 08:31] maliming commented on #4778
We need more information to reproduce this problem.

[2020-09-02 09:01] yekalkan commented on #5187
root url for abp docs: `https://github.com/abpframework/abp/tree/{version}/docs/`

I can't see your repository, so you have to set root url for your project yourself. It shouldn't be hard.

[2020-09-02 11:02] #5258 closed, assigned to armanozak

[2020-09-02 11:21] armanozak opened #5266 "Proxy Generator: ABP CLI should warn developer when project has @abp/ng.schematics with a different version"
Currently, the CLI warns about missing `@abp/ng.schematics` package, but does not warn if the version does not match. This may be intentional, so there should be no hard error, but especially when there are breaking changes, the developer should have some clue to find the source of the problem.

An example error the developer gets currently:

[code]

The project has the schematics installed, but t

[2020-09-02 11:47] mehmet-erim opened #5267 "Routes are not sorted correctly when order is 0"

[2020-09-02 12:10] #5267 closed, assigned to mehmet-erim

[2020-09-02 14:13] kanadaj commented on #4778
@maliming Override any of the inbuilt templates by creating a file with identical name and path in the web project, as per https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface#overriding-a-razor-page-cshtml . On build, you will get the warnings above.

[2020-09-02 15:15] maliming commented on #4778
@kanadaj Could you provide a project?

[2020-09-02 16:34] kanadaj commented on #4778
@maliming https://github.com/abpframework/abp-samples/tree/master/Authentication-Customization

[2020-09-02 16:38] olicooper commented on #5023
Why do we have to have Redis on development environment? `tempkey.rsa` works well and offers the least resistance to get started. Redis isn't native on Windows so you have to use it through `Windows Subsystem for Linux` or use old versions or Redis etc. which makes it very messy when it used to work out-of-the-box before.

Can we enable it for production only instead?

**Edit:**

Okay, @realLiangs

[2020-09-02 17:44] ChangYinShung commented on #5236
So in my custom tenant resolver will :
Will find that if current domain name is `companyName.com.tw`  then set  context.TenantIdOrName=companyName (tenant will be set as `companyName`)

i will try it ,thanks.

[2020-09-02 18:21] danielmeza commented on #394
Fast is can be a good option for it, it respect all web standard and does not dependen on the framework.

[2020-09-02 19:41] hikalkan commented on #394
Creating HTML/CSS independent UI for the modules is not an easy thing. As I see, Blazorise doing something close to that. So, I am investigating it.

I think Fast is so new, so it is not an option currently.

[2020-09-02 20:05] #4464 closed

[2020-09-02 20:38] olicooper opened #5269 "How to override ABP API Controller (AccountController)"
I am trying to override the `SendPasswordResetCodeAsync` and `ResetPasswordAsync` methods of the `AccountController` but I am having issues. They both are `virtual` methods.

I followed the [Overriding Services](https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-an-application-service) guide and created the controller as follows:

[code]

But I

[2020-09-02 23:53] nischalsanghal commented on #5187
It is a private repository.
If I do a curl with github access token, like below, it pulls the file, so the root url is correct:
curl -H "Authorization: token mygithubaccesstoken" https://raw.githubusercontent.com/chiropad/docs/master/README.md

It appears that the access token is not getting passed correctly. By the way, single quote around Authorization: token.... did not work.

[2020-09-03 00:28] yZuoB opened #5270 "How To Remove API that Inherit the application service interface and AbpController"
hi
I created a simple project
![image](https://user-images.githubusercontent.com/10497416/92049705-b933c100-edbd-11ea-8005-444f83cc00e2.png)
But the system has automatically generated the following interfaces,
![image](https://user-images.githubusercontent.com/10497416/92050102-cbfac580-edbe-11ea-99d8-2786054da253.png)

 such as this interface.
![image](https://user-images.githubusercontent.com/10

[2020-09-03 02:11] realLiangshiwei commented on #5269
See https://stackoverflow.com/questions/37213937/asp-net-mvc-core-replace-controllers-using-custom-class-library

[2020-09-03 02:15] realLiangshiwei commented on #5023
Can not be used for production only, there will be inconsistent cache problems.

And I don't think installing Redis is a problem, developers should know this knowledge

[2020-09-03 02:19] realLiangshiwei commented on #5270
You can remove unnecessary modules

[2020-09-03 02:27] yZuoB commented on #5270
Remove the  Volo.Abp.*.Web ??

[2020-09-03 02:38] realLiangshiwei commented on #5270
Example: you want to remove the feature-management

you need to remove all `AbpFeatureManagement*Module`

[2020-09-03 06:11] yincen commented on #4785
This issue has been added to the milestone. See https://github.com/abpframework/abp/milestone/39

[2020-09-03 06:12] yincen commented on #4785
This issue has been added to the milestone. See https://github.com/abpframework/abp/milestone/39

[2020-09-03 08:39] hikalkan opened #5273 "Add GenerateDocumentationFile to csproj files"
To be able to produce the XML documentation as a part of the NuGet packages

[2020-09-03 09:25] #5273 closed, assigned to hikalkan

[2020-09-03 10:19] buaziz commented on #5023
use this

https://www.memurai.com/get-memurai

[2020-09-03 10:41] mehmet-erim opened #5275 "Use TreeComponent in permissions modal"
In the permissions modal, the current tree view is provided with the margin style.

![image](https://user-images.githubusercontent.com/34455572/92104932-bf8c6200-edea-11ea-97c0-8506c05494ca.png)

We will use the [NG Zorro TreeComponent](https://ng.ant.design/components/tree/en)

[2020-09-03 10:44] mehmet-erim opened #5276 "Use jsTree in permissions modal"
In the permissions modal, the current tree view is provided with the margin style.

![image](https://user-images.githubusercontent.com/34455572/92104932-bf8c6200-edea-11ea-97c0-8506c05494ca.png)

We should use the [jsTree](https://www.jstree.com/)

[2020-09-03 11:26] armanozak opened #5277 "Proxy Generator: Add proxy-index as separate command"

[2020-09-03 11:28] armanozak opened #5278 "Proxy Generator: A question mark is needed at the end of nullable string type and typeSimple"

[2020-09-03 12:33] #5277 closed, assigned to armanozak

[2020-09-03 13:11] bnymncoskuner opened #5280 "[Angular] add cursor: pointer to datatable column"
If an action is provided for `extensible-table`, we should add `cursor: pointer` to the corresponding column.

[2020-09-03 13:56] armanozak opened #5282 "ABP LocalizationPipe ignores localization parameter order"

[2020-09-03 13:57] #5280 closed, assigned to nobody

[2020-09-03 14:23] mehmet-erim opened #5283 "Create a directive to pass default minDate and maxDate values to ngb-datepicker"
We will create a directive named `NgbDatepickerDefaultDirective` to pass default values of `minDate` and `maxDate` inputs to `ngb-datepicker`.

Default values:

[code]

You will be able to change these values as shown below:

[code]

You will also be able to override these values by passing the inputs:

[code]

[2020-09-03 14:53] liej6799 opened #5286 "running api with dotnet command"
Hi, Is there a way to run the host application with dotnet command line.

Here are the things that I have tested:

- I can run the application with Visual Studio
- I can run the application with Rider
- I can run with **dotnet run** command specifying the project like:
**dotnet run --project test.HttpApi.Host**
![image](https://user-images.githubusercontent.com/52598803/92130361-38191000-ee37-11ea

[2020-09-04 00:56] realLiangshiwei commented on #5286
Please check logs

[2020-09-04 01:07] maliming opened #5287 "Update samples to 3.2."

[2020-09-04 01:15] xyfy commented on #5269
@realLiangshiwei  May it be updated in the the 'Overriding Services' guide ?

[2020-09-04 01:29] liej6799 commented on #5286
Hi, this are the things I have tried:
a. tail the Logs/logs.txt but nothing shows
b. delete the logs.txt, after run the command it will not create new file.

My guess would be not related to the logs or something.

Anyway, can you run the command such as **dotnet test.HttpApi.Host.dll** in your environment, see you having the same issue?

[2020-09-04 01:42] realLiangshiwei commented on #5286
I tried, it works fine.

[2020-09-04 02:33] maliming commented on #4778
Like @NecatiMeral  said you can suppress the warning.

https://github.com/OrchardCMS/OrchardCore/pull/3720

[2020-09-04 02:33] #4778 closed

[2020-09-04 03:03] realLiangshiwei opened #5288 "Consider supporting Automapper dependency injection"
Currently, we create Automapper when the application is initialized, But this way we cannot use Automapper's dependency injection function, like: https://docs.automapper.org/en/stable/Before-and-after-map-actions.html#asp-net-core-and-automapper-extensions-microsoft-dependencyinjection

https://github.com/abpframework/abp/blob/a130e0db8cc91d049be126d10bb9b11f0bf51cf1/framework/src/Volo.Abp.AutoMap

[2020-09-04 03:18] realLiangshiwei commented on #5288
Or we can consider compatible https://github.com/AutoMapper/AutoMapper.Extensions.Microsoft.DependencyInjection

[2020-09-04 03:29] guazilalala opened #5289 "abpVnext"

[2020-09-04 05:02] #5289 closed, assigned to nobody

[2020-09-04 08:06] davidzwa commented on #5238
Still present in 3.1

Only occurs on build, (`ng build`)

[2020-09-04 08:11] #4267 closed

[2020-09-04 08:11] #3884 closed

[2020-09-04 08:24] hexianggui opened #5291 "Proxy Generator: Recursive types cause infinite loop"
[code]
Normal in other modules
Is there too many apis for this module?
Can you help me? THKS!

[2020-09-04 08:27] davidzwa commented on #5238
The problem lies in `node_modules\@abp\ng.core\lib\models\config.d.ts` for the rootNamespace property in ApiConfig. It disappears when I remove the key in ApiConfig.

[code]

[2020-09-04 08:55] yeahe83 commented on #5023
so crazy that without a redis, you can even not make a bookstore.  - -!

[2020-09-04 09:17] redcatH opened #5293 "When there is an Action field in the input type attribute, AbpController GetListASync cannot be parsed normally"
Abp.Vnext version 3.1.0

[code]

Request URL: http://localhost:44393/api/identity/test?maxResultCount=10&skipCount=0
Request Method: GET

Why can't use `action` as a parameter name

[2020-09-04 09:21] heyuquan commented on #5230
i have the same question.
i see the abp vnext source code. i think now is not support.
references:framework\src\Volo.Abp.EventBus.RabbitMQ\Volo\Abp\EventBus\RabbitMq\RabbitMqDistributedEventBus.cs，that is ISingletonDependency。  maybe improved in future，add like **Factory

[2020-09-04 09:21] #5228 closed, assigned to maliming

[2020-09-04 09:24] realLiangshiwei commented on #5293
Please write English.

[2020-09-04 09:25] armanozak commented on #5291
Hi @hexianggui,

`Maximum call stack size exceeded` is usually  an infinite loop.

Could you please share the api-definition.json response and the environment.ts in your default Angular app?

BTW, the command parameters have changed, but it is not the reason behind this error.

[2020-09-04 09:31] realLiangshiwei commented on #5293
`action` is reserved-keyword for ASPNET Core: https://github.com/dotnet/aspnetcore/wiki/MVC-Reserved-Keywords

[2020-09-04 09:31] #5293 closed, assigned to nobody

[2020-09-04 09:34] hexianggui commented on #5291
THKS!
I found the reason!
It's the Tree Dto
[code]
I guess I'll have to switch to Tree at the front end
Do you have a goodidea?

[2020-09-04 09:39] armanozak commented on #5291
:)

I actually do have an idea for trees.

Check the `@abp/ng.components` package. It uses NgZorro tree with an adapter implementation for transforming flat models to a tree structure. You may find the source of the adapter [here](https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/components/tree/src/lib/utils/nz-tree-adapter.ts).

Should we close this issue now?

[2020-09-04 09:47] hexianggui commented on #5291
yes,thank you very much!

[2020-09-04 10:00] siyangzzz commented on #5230
yes,it's not support,i'am trying to use third party to extend,like cap.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "abpframework/abp"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年9

[2020-09-04 10:48] Xeevis commented on #394
I've ditched bulky UI kits like Bootstrap for the [TailwindCSS](https://tailwindcss.com/) so I would like to see some kind of abstraction in modules. TailwindCSS is low-level, unopinionated & modular PostCSS framework that works great deal in giving complete freedom for design, customization, abstraction, extensibility and optimalization (upon publish scans html/razor source files and tree-shakes

[2020-09-04 11:22] #5291 closed, assigned to armanozak

[2020-09-04 12:05] rygar08 opened #5296 "No available test documents for Mocking with nsubstitute"
Sorry To post here but I can’t find any documentation for using mocks in abp.io.

I'm trying to write a test for my FamilyAppService class (see below). I need to mock my IAutho instance in the constructor of the FamilyAppService. I tried mocking the IAutho With nsubstitute then adding it to a new instance of FamilyAppService (instead of using GetRequiredService()) but I get a 'System.ArgumentNullE

[2020-09-04 12:05] aricyu opened #5297 "How to determine user permissions in IDashboardAuthorizationFilter"
**ABP Framework version**:3.0.5

I want to judge user permissions in `app.UseHangfireDashboard`, but the following codes all return `false`

The login user has the provided permission name.

Thanks

`HangfireAuthorizationFilter`:
[code]
[code]

in module.cs:
[code]

[2020-09-04 12:40] Trojaner opened #5298 "Disabling datafilters doesn't work from other methods"
I have a method  that disables certain datafilters if you have a specific permission grant like this:
[code]

I am using it like this:
[code]

This does not disable the datafilter. To confirm it, I put a breakpoint in the DbContext and Datafilter.IsEnabled always returns true:

[code]

However it works if I do it directly in the GetListAsync method like this:
[code]

Using ABP 3.1

[2020-09-04 13:42] mehmet-erim opened #5299 "Implement the ng-zorro date picker component and use it instead of ngb-datepicker"

[2020-09-04 13:43] #5283 closed, assigned to nobody

[2020-09-04 14:27] liej6799 commented on #5286
Hi @realLiangshiwei thanks, I did not noticed there is a Log file from the bin folder. After checked it turns out the ports has been used haha. Thanks man I really appreciate it.. Anyway case closed now.

[2020-09-04 14:27] #5286 closed, assigned to nobody

[2020-09-04 14:38] MatthieuTruchet commented on #4590
Hi,

Do you have any news on this subject ?

[2020-09-04 16:13] #5282 closed, assigned to armanozak

[2020-09-04 18:15] kanadaj commented on #4778
@maliming Shouldn't it be part of the default templates then?

[2020-09-05 03:17] hexianggui opened #5302 "Generate-proxy:Multiple modules cannot be generated"
An API endpoint has multiple modules
After producing one module, generate other modules will report an error
**ENOTEMPTY: directory not empty, rmdir**
Am I using it the wrong way?
[code]
This is the API definition screenshot
![2020-09-05_111237](https://user-images.githubusercontent.com/30622318/92296607-f5efeb80-ef68-11ea-861c-06634ec04120.png)

[2020-09-05 08:03] xyfy commented on #4579
I still can not found a way to  use the two auth way  both  **jwt** and **cookie**

[2020-09-05 13:23] maliming commented on #5296
hi

You can refer to https://github.com/abpframework/abp/blob/d2b39c0087e3da6898367dc2b74401f314662fb0/modules/feature-management/test/Volo.Abp.FeatureManagement.Application.Tests/Volo/Abp/FeatureManagement/FeatureAppService_Tests.cs#L29-L33

[2020-09-05 13:54] maliming commented on #5298
hi @Trojaner

Can you reproduce this with the unit test method?

[2020-09-05 13:59] maliming commented on #5297
You can check the values of `ICurrentUser`.

[2020-09-05 16:17] hikalkan opened #5304 "Introduce AbpHttpClientBuilderOptions & Remove AbpHttpClientOptions.HttpClientActions"
* `AbpHttpClientOptions.HttpClientActions` was not properly designed and implemented. So, removed it in favor of `AbpHttpClientBuilderOptions.ProxyClientBuildActions`
* Removed `configureHttpClientBuilder` option from `AddHttpClientProxies` method since it was inconsistent.

These are breaking changes but I am including it to version 3.2, because they had already problems and they have never been

[2020-09-05 16:18] hikalkan opened #5305 "Document how to configure http client builders for dynamic c# proxies"
Based on https://github.com/abpframework/abp/issues/5304

[2020-09-06 04:50] rygar08 commented on #5296
This is perfect, just what I needed. Thank you.

[2020-09-06 05:44] #5296 closed, assigned to nobody

[2020-09-06 06:29] jonny-xhl opened #5306 "Why OrganizationUnitManager.AddRoleToOrganizationUnitAsync is not find role entity?"
- I test exceptions with the `CreateWithDetailsAsync` unit test cases.

[code]
- Exception
[code]

- Analyze
IIdentityRoleAppService CreateAsync is carrying a transaction commit.(await CurrentUnitOfWork.SaveChangesAsync();)

[2020-09-06 06:43] jonny-xhl commented on #5306
AddRoleToOrganizationUnitAsync parameter error.damn it.

[2020-09-06 06:43] #5306 closed, assigned to nobody

[2020-09-06 09:55] gdlcf88 opened #5307 "Should a completed UOW be the Outer in this case?"
I will reopen this issue soon.

[2020-09-06 10:08] #5307 closed, assigned to nobody

[2020-09-06 13:07] CaiJinHao opened #5308 "JWT invalid_client"
![image](https://user-images.githubusercontent.com/16984784/92326420-9686fe00-f084-11ea-936f-65168a0c71c0.png)
数据库种子数据都有，使用这段代码会报invalid_client，但是使用Module 的IdentityServer能够登陆
![image](https://user-images.githubusercontent.com/16984784/92326452-f67da480-f084-11ea-8cc4-62686bd4480f.png)
请问，这种问题如何处理？

[2020-09-06 13:33] maliming commented on #5308
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Please **write in English**.

[2020-09-06 14:56] hikalkan commented on #5159
I suppose there is no way to specialize a JSON serializer for a specific service in ASP.NET Core. You can try some workarounds (e.g. writing an aspnet core middleware to re-serialize it on a matching URL pattern).

[2020-09-06 14:56] #5159 closed, assigned to nobody

[2020-09-06 15:01] hikalkan commented on #4722
You should extend the AccountResource ([see](https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en.json#L11))

[2020-09-06 15:12] hikalkan commented on #5302
Is your Angular application running? If so, can you stop it and try again?
@armanozak can you check this?

[2020-09-06 15:17] armanozak commented on #5302
I don’t think this is about a running app. We have generated several modules in succession and have never received that error. The command even removes everything and regenerates all modules.

This error may be sth. about folder permissions, but I cannot reproduce it. Can you @hikalkan ?

[2020-09-06 15:21] hikalkan commented on #5224
Is that a one time problem or is it always slow? Actually, there is a caching system that uses Redis. Sometimes I see that redis cache is very slow. Are you using a local redis server, are you trying it in dev environment?

[2020-09-06 15:26] hikalkan commented on #662
Already done: https://docs.abp.io/en/abp/latest/Distributed-Event-Bus-RabbitMQ-Integration

[2020-09-06 15:26] #662 closed

[2020-09-06 15:31] hikalkan commented on #5231
It is [allowed](https://docs.abp.io/en/abp/latest/Distributed-Event-Bus-RabbitMQ-Integration#connections) to define multiple connections, but the event bus can only use one of them currently.

That's not possible yet. I am adding this to backlog.

Currently, the only workaround seems to re-write the RabbitMqDistributedEventBus class.

[2020-09-06 15:39] hikalkan commented on #5215
Closing?

[2020-09-06 15:40] hikalkan commented on #5302
I also haven't had this error before. I generally stop the angular app before proxy generation.

[2020-09-06 15:51] armanozak commented on #5302
Hi @hexianggui,

Are you running the command as administrator?

[2020-09-06 16:51] hikalkan commented on #5217
Would you consider to use RabbitMQ or HangFire provider for background jobs? It is possible to process messages in parallel with them.

[2020-09-06 16:56] hikalkan commented on #5199
Seems fine.

[2020-09-06 17:01] hikalkan commented on #5248
I personally don't have experience with dotnetty. Anyone?

You can ask this to Stackoverflow to get a better response.

[2020-09-06 17:19] #5255 closed, assigned to realLiangshiwei

[2020-09-06 17:35] hikalkan commented on #5269
I will work on this in the next milestone.

[2020-09-06 17:43] hikalkan commented on #5288
I didn't know this feature of the AutoMapper. While ABP [has a way](https://docs.abp.io/en/abp/latest/Object-To-Object-Mapping#iobjectmapper-tsource-tdestination-interface) to use DI on the mapping, such a support would be good.

You can implement and send a PR.

[2020-09-06 17:50] hikalkan commented on #5023
No, you can do. Just don't use a tiered solution for MVC (or don't use separate IDS for angular). In this way you will have a single server side application and you don't need to a distributed cache in development.

If you want to separate them, there will be two server applications and somehow they should use a shared cache. This is why the such a tiered startup template requires redis. Otherwise

[2020-09-06 17:53] hikalkan commented on #394
I started to use Blazorise and I am in contact with the creator of the Blazorise for cooperation possibilities.

[2020-09-06 18:02] hikalkan commented on #5298
Such a usage is not supported. AsyncLocal doesn't support when you change an value in an async method, then return the calling method and use it, unfortunately.

See my comment: https://github.com/dotnet/runtime/issues/17340#issuecomment-290396746

And the response from Microsoft team: https://github.com/dotnet/runtime/issues/17340#issuecomment-290419871

[2020-09-06 18:02] #5298 closed, assigned to nobody

[2020-09-06 18:03] hikalkan commented on #5298
BTW, you can implement this via dynamic proxying (interceptors). Just use a decorator attribute and check it in your interceptor.

[2020-09-06 18:10] armanozak opened #5311 "DTOs in @abp/ng.core are not suitable for strict null checks"
Example: `EntityDto` has an optional `id`, but it is not (and cannot be) optional.

[2020-09-06 18:13] Trojaner commented on #5298
Thank you for clarifying this. I will write an interceptor in that case.

[2020-09-06 19:51] chadboettcher commented on #631
I find this reply to be very unhelpful.  I have been struggling for hours to figure out how to override the theme components.  I've looked at the Stisla example that you referred to as well as the Basic theme in the code.  But every time I override a layout for example, all of the styles and scripts disappear from the source and all I am left with is <abp-style-bundle name="Basic.Global" /> in the

[2020-09-06 20:45] kzmyvr commented on #5224
@hikalkan Hi, yes it's always slow. I do not use redis. I'm experimenting in the dev environment.

[2020-09-07 00:57] hexianggui commented on #5302
Sorry for the late reply！

I think I've figured it out.
Error executing command when I open project with VS.
Successful execution, when I close the project, execute the command using the PwoerShell.
**So this has nothing to do with ABP!**
Runing the command as administrator, or close all IO for the project.

Using vs
![1](https://user-images.githubusercontent.com/30622318/92339267-d03d2080-f0e7-11

[2020-09-07 00:57] #5302 closed, assigned to armanozak

[2020-09-07 01:02] siyangzzz commented on #5231
thanks，i'll try it.

[2020-09-07 01:09] ElderJames commented on #394
😭😭😭

[2020-09-07 01:10] xyfy commented on #5159
it can do in controller,but can not in the application service

but the `microservice`'s api  need implete the `application service `

[2020-09-07 01:25] realLiangshiwei commented on #5215
Reproduced the problem using the v3.1 template.

@mehmet-erim Could you check it?

![image](https://user-images.githubusercontent.com/16813853/92340374-a33f3c80-f0ec-11ea-8d32-32fb7f5df52b.png)

![image](https://user-images.githubusercontent.com/16813853/92340382-acc8a480-f0ec-11ea-9cd9-a2cf566b6e5b.png)

[2020-09-07 02:02] wjkhappy14 commented on #5308
**### remind：Please write in English.**

my code works  well

public async Task<TokenResponse> RequestPasswordTokenAsync()
        {
            DiscoveryDocumentRequest discoveryDoc = new DiscoveryDocumentRequest()
            {
                Address = BaseAddress,
                Policy = new DiscoveryPolicy()
                {
                    RequireHttps = false,
                }

[2020-09-07 03:29] FingersMusic opened #5312 "identityuserorganizationunit cannot be extended"
Can identityuserorganizationunit inherit the ihasextraproperties interface, because I need to sort by user's department

[2020-09-07 03:50] bigqiusnow opened #5313 "CanActivate: [PermissionGuard] reports an error: The maximum call stack size is exceeded"
My Routing:
[code]

After I upgraded ABP to 3.1 from 2.9, My Angular  reports an error:  The maximum call stack size is exceeded. Please help.
![image](https://user-images.githubusercontent.com/30037177/92346515-8ceeac00-f0ff-11ea-9f68-26625d4f9919.png)

[2020-09-07 05:54] CaiJinHao commented on #5308
@maliming
 ABP Framework version is 3.1
Using the Module template, I could not find the specific reason for the error below the Logs newspaper while testing JWT.
Error is as follows:
2020-09-07 13:42:19.468 +08:00 [DBG] client configuration validation for client MyBookStore_Web succeeded.
2020-09-07 13:42:19.478 +08:00 [DBG] No matching hashed secret found.
2020-09-07 13:42:19.478 +08:00 [DBG] Sec

[2020-09-07 07:14] CaiJinHao commented on #5308
@wjkhappy14 Thank you for your answer, But I still haven't solved it

[2020-09-07 08:08] hejiajun107 commented on #812
Still some fields stay are 200 maxlength such as in PersistedGrant in ConfigureIdentityServer and in ConfigureAuditLogging which will lead to this error

[2020-09-07 08:11] fmpfmp opened #5314 "Suggestion:use string as the type of ICurrentUser.Id"
### Documentation

https://docs.abp.io/en/abp/latest/CurrentUser#authentication-authorization

ICurrentUser works independently of how the user is authenticated or authorized. It seamlessly works with any authentication system that works with the current principal (see the section below).

### GitHub Issues

As a general framework, the type of Id should not be fixed.

I recommend use string or obj

[2020-09-07 08:26] maliming commented on #5314
Why not `CurrentUser.Id.ToString()`?

[2020-09-07 09:00] wjkhappy14 commented on #5308
maybe you  should set the GrantType in the database      **IdentityServerClientGrantTypes**

[2020-09-07 09:01] wjkhappy14 commented on #5314
it's not a good Suggestion !

[2020-09-07 09:15] realLiangshiwei opened #5316 "Add unadded users/roles method to OrganizationUnitRepository"
This makes it easy to display users/roles when adding users/roles to the organizational unit

[2020-09-07 09:21] maliming opened #5317 "Create some directories to categorize the files under Volo.Abp.Identity.Domain."
It looks messy now.

https://github.com/abpframework/abp/tree/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity

[2020-09-07 09:28] realLiangshiwei commented on #5317
It sounds great, I think other modules also need to categorize

[2020-09-07 09:35] CaiJinHao commented on #5308
@wjkhappy14  Thank you, I finally solved the key problem.It's ClientSecret
var address = "https://localhost:44363/";
            var client = new HttpClient();
            var disco = await client.GetDiscoveryDocumentAsync(address);
            if (disco.IsError)
            {
                Console.WriteLine(disco.Error);
                return;
            }

            // request token

[2020-09-07 09:35] #5308 closed, assigned to nobody

[2020-09-07 09:58] mehmet-erim commented on #5212
Hi @TuyenDinh1205

You can patch the "Administration" route value as shown below:

[code]

See the [Modifying the Menu document](https://docs.abp.io/en/abp/latest/UI/Angular/Modifying-the-Menu) for more information.

[2020-09-07 10:09] AliyaBegum-AdapptLimited commented on #3302
How it worked I am also facing a same issue

[2020-09-07 10:50] #5161 closed, assigned to mehmet-erim

[2020-09-07 11:19] JadynWong commented on #5314
I think it can be considered. Currently, if a developer wants to use `ICurrentUser`, the design user table must use a guid as an identifier.

With strings, other components do not need to consider the user unique identification type of the current system. This is how AspNet core identity is designed.

https://github.com/dotnet/aspnetcore/blob/a190fd34854542266956b1af980c19afacb95feb/src/Identity/E

[2020-09-07 11:29] SecTex opened #5322 "Use IHtmlGenerator / TagBuilder in all necessary tag helpers"
Hi,

Is there a reason that some attribute values are not encoded when using abp's tag-helper?
If not, I would like to contribute a PR.

**Background**:
We want to give the user the opportunity to edit the localized texts. Accordingly, the values should be encoded.

**Example**:

✔️ Properly encoded
[code]

❌ Not encoded
[code]

[2020-09-07 12:02] #5179 closed, assigned to maliming

[2020-09-07 12:17] #4764 closed

[2020-09-07 12:37] maliming commented on #5322
I think this is the behavior of Razor Pages.

[2020-09-07 12:39] hikalkan opened #5324 "UI/UX design for the CMS kit rating component"
![image](https://user-images.githubusercontent.com/1210527/92388561-27f77e00-f120-11ea-9cae-4bfbb64868d8.png)

We should work on that to provide different visibility and usability options.

[2020-09-07 12:52] erojasd commented on #4722
Thanks for the reply.
The problem was fixed and it was due to an incorrect setting in OnApplicationInitialization within the HttpApiHostModule file

[2020-09-07 12:52] #4722 closed

[2020-09-07 13:18] volethanh commented on #4719
Hi @realLiangshiwei , how can I override the `/api/abp/application-configuration` to store and read from the cache as you mentioned ?

It's hurt every time I localize new string and then I have to build gateway again and again.

[2020-09-07 13:21] realLiangshiwei commented on #4719
You can override the `GetAsync` method

https://github.com/abpframework/abp/blob/8371b74839be57c955d7b6199d1ee10422e4cd26/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs#L69

[2020-09-07 13:21] ebicoglu opened #5325 "Create auto controller routes in kebap-case"
The current implementation uses camelCase.
Change this behavior to kebap-case-plural or enable users to set the endpoint manually, (because plural of a word can be hard and needs a library to find.)

![image](https://user-images.githubusercontent.com/9526587/92391655-bde1d780-f125-11ea-866f-493320219c9c.png)

[2020-09-07 14:17] #5238 closed, assigned to armanozak

[2020-09-07 14:19] SecTex commented on #5322
I don't think so.
Another example when using `AbpTabLinkTagHelper`:

input:
[code]

expected result:
[code]
actual result:
[code]

Therefore I have to encode the value `test` by myself, while the default tag-helpers handle encoding for me:
input:
[code]
actual result:
[code]

[2020-09-07 14:26] SecTex commented on #5322
Also, I would like to an fix an issue in [jquery-extensions.js](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js).
jQuery's `html()`-function is used in line 38 and 58. I recommend to use `text()` instead.

[2020-09-07 16:28] Loongle commented on #86
Is there any update

[2020-09-07 17:47] leonkosak commented on #86
I think that currently gRPC is more important to Volosoft than GraphQL and therefore no priority before abp v4.0.
Blazor UI option and support for .NET 5 are top goals for abp v4.0).

[2020-09-07 18:39] hikalkan opened #5327 "Feature Management Modal improvements (MVC UI)"
![image](https://user-images.githubusercontent.com/1210527/92411768-dcf65e80-f151-11ea-8a1e-9c5493f6f06e.png)

* Checkboxes should be on the left side of the feature name
* Child features should be only selectable when the parent was selected (recursively), just like the permissions.
* Numeric features should properly validate numbers (also in the server) and should show a numeric textbox.
* Test

[2020-09-07 18:39] hikalkan opened #5328 "Feature Management Modal improvements (Angular UI)"
see https://github.com/abpframework/abp/issues/5327

[2020-09-07 18:47] hikalkan opened #5329 "Group features on the feature management modal (MVC UI)"
Just like the permissions, features also has group system. Example:

[code]

However, current feature management modal doesn't implement this.

We should implement it just like the permission management modal, with tabs on the left side. This is a continuation of the https://github.com/abpframework/abp/issues/5327

Do this also for the SaaS module.

[2020-09-07 18:48] hikalkan opened #5330 "Group features on the feature management modal (angular UI)"
see https://github.com/abpframework/abp/issues/5329

[2020-09-08 01:33] fmpfmp commented on #5314
@maliming

For example, my system ID uses int, objectid, or distributed ID generated by other algorithms. These types cannot be converted to guids CurrentUser.Id , CurrentUser.IsAuthenticated Not available

[2020-09-08 01:37] fmpfmp commented on #5314
As the name of ABP, as a basic application framework, it is not a good practice to fix the basic type;

[2020-09-08 02:11] maliming commented on #5314
https://docs.abp.io/en/abp/latest/Guid-Generation#why-prefer-guid

[2020-09-08 02:11] #5314 closed, assigned to nobody

[2020-09-08 07:30] hikalkan opened #5332 "Document how to get feature values from the Angular UI"
https://github.com/abpframework/abp/blob/dev/docs/en/UI/Angular/Features.md

Write it in the latest rel branch, if it was already implemented. If not, we need to first implement a service to do that.

[2020-09-08 07:54] SecTex commented on #5322
Hi @maliming,

Is there a reason why you want to use IHtmlGenerator?
Another possibility would be to use the TagBuilder class. For example: e25cd9c0fe5e2ccaf8b781d3bc05e9c681f8c0c2

[2020-09-08 07:55] happygb21 opened #5335 "Proxy Generator: Recursive types cause infinite loop"
//[HttpGet]
        //[Route("www/{folder}/{name}")]
        //public async Task< FileResult > GetForWebAsync(string folder, string name) //TODO: output cache would be good
        //{
        //    var file = await _fileAppService.GetAsync(folder,name);
        //    return File(
        //        file.Bytes,
        //        MimeTypes.GetByExtension(Path.GetExtension(name))
        //    );

[2020-09-08 08:00] realLiangshiwei commented on #5330
I modified the API return values. so we better complete it at the same milestone. If you don't have time, please move the issue back to 3.3 milestones.

[2020-09-08 08:02] maliming commented on #5335
**Please provide more details.**

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-09-08 08:02] realLiangshiwei commented on #5329
The saas module does not need to be modified. It directly uses the page of the feature management module

[2020-09-08 08:10] hikalkan commented on #5327
Documentation is done: https://github.com/abpframework/abp/blob/dev/docs/en/Features.md

[2020-09-08 08:11] hikalkan opened #5336 "Feature Management documentation"
https://docs.abp.io/en/abp/latest/Modules/Feature-Management

[2020-09-08 08:16] mehmet-erim commented on #5026
# BREAKING CHANGE

`ReplaceableComponentsState` is deprecated. The new service created called `ReplaceableComponentsService`, use it instead of the state.
Layouts (application, account, empty) are no longer available from the store.

[2020-09-08 08:25] happygb21 commented on #5335
version:3.1
User Interface type Angular
Any service that adds this method and executes ABP generate proxy will report an error of "maximum call stack size exceeded"

[2020-09-08 08:49] yshulin opened #5337 "A embedded file "/wwwroot/libs/timeago/locales/jquery.timeago.en.js" error"
After I upgraded to 3.1.0, I encountered a problem in /Themes/AdminLTE/Layouts/Account.cshtml page. see below:

![error_1](https://user-images.githubusercontent.com/13978614/92453147-804a8080-f1f1-11ea-89e4-a5897da336e1.png)

I debug into code and found a null reference exception, just like:

![error_2](https://user-images.githubusercontent.com/13978614/92453650-1f6f7800-f1f2-11ea-874c-c51ff880f67

[2020-09-08 08:50] #5316 closed, assigned to realLiangshiwei

[2020-09-08 08:50] realLiangshiwei commented on #5327
wait for https://github.com/abpframework/abp/pull/5334, https://github.com/abpframework/abp/pull/5259 merge

[2020-09-08 09:23] #4556 closed

[2020-09-08 11:21] #5329 closed, assigned to realLiangshiwei

[2020-09-08 12:28] maliming commented on #5322
hi @SecTex

I just check the AspNet Core tag helper source code, not depth study. `TagBuilder `seems fine.

[2020-09-08 12:28] yekalkan opened #5339 "Widgets: Allow nested widgets"

[2020-09-08 12:39] maliming commented on #5337
* Steps needed to **reproduce** the problem. You can use a template project.

[2020-09-08 14:57] bnymncoskuner opened #5340 "[Angular] create an InternalStore for migration from Ngxs Store"
If we had a store of our own, it would be easy to slowly migrate from **Ngxs Store**

[2020-09-08 20:47] gterdem commented on #5312
@FingersMusic,
Can you explain a bit more about your use case? Your users has departments different than organization units?

[2020-09-09 00:45] yuyuguo1707 opened #5342 "Oracle 11g: the identifier name can not more than 30 characters"
i use abp 3.1 when i user oracle 11g ,When I use the Oracle 11g to generate the database , the identifier name too long,
i useoracle(p => p.UseOracleSQLCompatibility("11")) but it not use .
and  use  #1920 ，  still reproduce it。 whether the problem has been solved？

[2020-09-09 01:07] maliming commented on #5342
See https://github.com/abpframework/abp/issues/1920#issuecomment-577475627

[2020-09-09 01:07] #5342 closed, assigned to nobody

[2020-09-09 01:21] maliming commented on #4986
hi @buaziz
Can you share the http response?

![image](https://user-images.githubusercontent.com/6908465/92543318-bb929100-f27d-11ea-9062-c272fac0ac4d.png)

[2020-09-09 02:32] michelveloso opened #5343 "Use ABP Without Identity Server"
Hi,

Is it possible to use ABP Framework without Identity Server?

So that all tables referenced to the Identity Server stops being generated, but with the possibility of using ABP Modules?

And if possible, using customized user management and authentication tables with ABP Modules.

[2020-09-09 02:37] maliming commented on #5343
hi

Of course, you can use ABP without the Identity Server. you need to remove the identity server related module and code.

Abp will use I[identity](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity) for user manage etc.

[2020-09-09 02:51] michelveloso commented on #5343
@maliming great!

But without Identity Server module, I will be able to use ABP modules like Volo.Abp.Auditing, Volo.Abp.MultiTenancy, Volo.Abp.Features etc?

And if possible, using customized user management and authentication tables with that modules?

[2020-09-09 06:10] SmallShrimp opened #5344 "Method not found: 'Volo.Abp.EventBus.Distributed.EtoMappingDictionary"
*  **ABP Framework version**: `3.1.0`

An exception occurred after the upgrade:
![image](https://user-images.githubusercontent.com/8120385/92561065-104a0200-f2a6-11ea-8c7b-adfb758678bd.png)

[2020-09-09 06:10] SmallShrimp commented on #5344
Anybody know why

[2020-09-09 06:27] #5344 closed, assigned to nobody

[2020-09-09 06:29] buaziz commented on #4986
@maliming  I am referring to the text **_"An error has occurred!"_**

how do I localize this text ?

[2020-09-09 06:36] #5340 closed, assigned to bnymncoskuner, armanozak, mehmet-erim

[2020-09-09 06:44] maliming commented on #4986
hi

It belongs to **AbpUiResource**,

![image](https://user-images.githubusercontent.com/6908465/92563861-d7f8f280-f2aa-11ea-9cdb-8cc91c47d095.png)

https://github.com/abpframework/abp/blob/90d779453eab27f35bcfa7308f1a308aa5dee40e/framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en.json#L7

https://docs.abp.io/en/abp/latest/Localization#extending-existing-resource

[2020-09-09 06:50] #4986 closed, assigned to nobody

[2020-09-09 07:26] #4772 closed

[2020-09-09 08:53] hikalkan opened #5346 "Add global.json to specify the dotnet core version"
To prevent to use preview SDKs ot .net 5 before we migrate the solutions..

[2020-09-09 08:54] #5346 closed, assigned to hikalkan

[2020-09-09 08:56] FingersMusic commented on #5312
@gterdem I need to add a sortid field to the abpuserorganizationunits

[2020-09-09 09:38] hikalkan commented on #5329
@realLiangshiwei you are definitely right! 😃

[2020-09-09 09:40] gterdem commented on #5312
@FingersMusic I don't think IdentityUserOrganizationUnit entity can be extended since it is an associative entity (junction table) which doesn't exist in NoSql db contexts such as MongoDb.

Did you try sorting users by their organization units (by Id, Code, Name etc) with an extra repository method? What problems did you come across?

[2020-09-09 09:41] hikalkan commented on #5335
Move this to a dedicated controller and add `[RemoteService(false)]` to disable it.

@maliming is [RemoteService(false)] working in method level? Can you check it and implement it possible.

[2020-09-09 09:42] hikalkan commented on #86
@leonkosak writes a good answer, thanks :)

[2020-09-09 09:43] hikalkan commented on #86
BTW, you can always create GraphQL endpoints for your own application, no restriction.

[2020-09-09 10:39] #5026 closed, assigned to mehmet-erim

[2020-09-09 11:06] bnymncoskuner opened #5348 "[Angular] create a utility function for downloading blob objects"

[2020-09-09 11:07] hikalkan commented on #5335
@happygb21 can you try to add `[ApiExplorerSettings(IgnoreApi = true)]` to the method.

[2020-09-09 11:23] ebubekirdinc opened #5349 "How to test AbpPageModel when it contains ObjectMapper"
When I try to test AbpPageModel which contains ObjectMapper, it throws an error saying "System.InvalidOperationException: No service for type 'Volo.Abp.ObjectMapping.IObjectMapper' has been registered."

Test method:
[code]

 PageModel:
[code]
 Exception:
![resim](https://user-images.githubusercontent.com/11663718/92592048-a3376c00-f2a7-11ea-8bff-a571c00ed606.png)

[2020-09-09 11:27] realLiangshiwei commented on #5349
See https://github.com/abpframework/abp/tree/dev/framework/test/Volo.Abp.ObjectMapping.Tests

[2020-09-09 15:06] hikalkan opened #5353 "Allow to manage "Host Features""
Implemented by https://github.com/abpframework/abp/pull/5259

[2020-09-09 15:06] #5353 closed, assigned to nobody

[2020-09-09 15:07] hikalkan commented on #5327
@realLiangshiwei they are merged ;)

[2020-09-09 17:13] onurcanyilmaz opened #5354 "EntityFramework Core Oracle 3.x New Stable Release"
Hello,

EF Core Oracle Provider latest stable has been released today.
Related link : https://github.com/oracle/dotnet-db-samples/issues/49#issuecomment-689232173
Nuget Url: https://www.nuget.org/packages/Oracle.EntityFrameworkCore/3.19.80/

We waiting your new stable release for Volo.Abp.EntityFrameworkCore.Oracle
Can you help with this?

Thanks.

[2020-09-09 17:55] hikalkan opened #5355 "4.1"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2020-09-09 20:00] alexandis opened #5356 "After adding more localization texts, those are ignored in markup file"
2.9.0, Angular UI.
We have a lot of localization texts and adding more.
Now, after adding some texts today, I've noticed they are ignored (localization key is displayed as if no localization found in JSON file). No matter where I put those texts: at the beginning of JSON file or at the end.
If I place them in another JSON file that is short enough so far - the texts are displayed properly.

[2020-09-10 01:11] maliming commented on #5356
hi

* Steps needed to **reproduce** the problem.

[2020-09-10 02:03] maliming commented on #5335
`[ApiExplorerSettings(IgnoreApi = true)]` is works.

@armanozak Maybe we should handle this situation to prevent the error, what do you think?

[2020-09-10 02:59] xyfy commented on #4622
@jimmidier  Cool,I got the same err, came the same **ClientNames **

[2020-09-10 05:53] xyfy commented on #2074
@hikalkan  I am working with eventbus with rabbitmq,  can it take a **manual ack** option?    consumer B receive a message ,do othing ,and auto ack it. so consumer  B can not receive this message

[2020-09-10 06:30] #5348 closed, assigned to bnymncoskuner

[2020-09-10 06:53] #5135 closed, assigned to armanozak

[2020-09-10 07:05] gdlcf88 commented on #5106
Should the option `-m none` for mobile framework be added to the "en" [CLI document](https://github.com/abpframework/abp/pull/5107/files#diff-1a13459b5e34fe6a32671df319068e50L82-R83)?

[2020-09-10 07:49] mehmet-erim commented on #5184
Hi @alexandis

You should import the `SharedModule` (or `NgbDropdownModule`) to the `imports` array of `AppModule`:

[code]

I will update the document. Thanks.

[2020-09-10 08:01] maliming commented on #5343
Yes. I suggest you start with the document. https://docs.abp.io/en/abp/latest/

[2020-09-10 08:21] mehmet-erim commented on #5313
Hi @bigqiusnow

I can't reproduce the problem. Can you describe in detail how can I reproduce the problem?

Did you define your component via `route.provider`? [This document](https://docs.abp.io/en/abp/latest/UI/Angular/Modifying-the-Menu#how-to-add-a-navigation-element) will help you.

[2020-09-10 08:22] #5354 closed, assigned to maliming

[2020-09-10 11:21] mostafa1790 opened #5359 "Question abp : Best Practice To Write Unit Test For Code Coverage"
Hello,

kindly i have one question, i am using abp framework and i need to write unit test so shall i write unit test for all projects like domain , application services , api , ....etc or just for business methods in application services.

i just need you opinion and experience to code coverage my project

thanks.

[2020-09-10 13:06] sebitsi opened #5360 "[Angular] has no exported member 'ɵbl'."
Hi.

I have just downloaded latest 3.1.1 version of ABP.

`abp new Sebit.CIS -t app-pro -u angular`

after yarn and yarn start i got errors:

[code]

This is pure downloaded project without any modifications.
Just yarn and yarn start.

I'm using yarn version 1.22.4

Please advice.

[2020-09-10 13:48] mehmet-erim commented on #5360
Hi @sebitsi

We are looking for the source of the error and we will fix the problem.

You can ignore the errors temporarily, open `tsconfig.base.json` and add the `"skipLibCheck": true` property to the `compilerOptions` object as shown below:

[code]

[2020-09-10 15:28] sebitsi commented on #5360
@mehmet-erim Thanks for quick response. This workaround is working.

Now i have another issue.

My server has no account/login route anymore.
I mean it is in swagger. I can execute it as REST call with success.
But there is no page account/login anymore.

So if try to login from angular app i got

![image](https://user-images.githubusercontent.com/2194876/92753926-a5bec200-f38a-11ea-97a7-00a7859b6

[2020-09-10 15:37] sebitsi commented on #5360
Strange. I just made full (solution) rebuild.
Now it works....

[2020-09-10 15:46] dicksonkimeu commented on #5287
This includes micro services?

[2020-09-10 16:06] olicooper opened #5362 "(bug) DbMigrationService not seeding tenant data"
Abp v3.1.0

The `MyProjectNameDbMigrationService` only seeds tenant data if they have an external database. We should still skip migration but not skip seeding of tenant data if they are on the host database.

https://github.com/abpframework/abp/blob/fb14a9a68ccbf152777864ce103640d7e02a2067/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Data/MyProjectNameDbMigrationService.cs#L48

[2020-09-10 17:32] leonkosak commented on #3815
@luisp88 how to achive this in Dockerfile

1) How to replace on the fly (when image is taken from Docker registry) and building on server:
- environment.oAuthConfig.issuer
- environment.apis.default.url

2) How to run (nginx inside Angular container)

This is essential, because I do not want to create Angular image for each customer.

Thank you.

[2020-09-11 01:06] hjkl950217 commented on #5359
I think it depends on the strategy of you and your team:
1. Full coverage
2. Cover only the core logic

Writing UT requires relatively few changes and a certain time cost, so you and your team should choose a strategy that suits you.

If you choose Strategy 1, it is recommended that you each project corresponds to a UT project, and in principle, a class corresponds to a UT class.

If you choose st

[2020-09-11 01:20] realLiangshiwei commented on #5362
You are right. I will fix it.

[2020-09-11 01:26] shcant opened #5363 "Documentation how to define custom filters"
https://docs.abp.io/en/abp/latest/Data-Filtering

Current document is not complete. For example, need to override `ShouldFilterEntity`. Could we provide more details?

[2020-09-11 02:55] #5362 closed, assigned to realLiangshiwei

[2020-09-11 03:00] maliming commented on #5287
Yes, if it needs to.

[2020-09-11 03:15] maliming commented on #5199
It seems `serilog-settings-configuration` is not actively developing.  Back to https://github.com/abpframework/abp/issues/5199#issuecomment-682278787

[2020-09-11 03:26] bigqiusnow commented on #5313
@mehmet-erim
Thank you.
My problem is solved.

In ABP 2.9 it's "Add requiredPolicy to the **routes** property in your routing module.", but In ABP 3.1 it's "Add requiredPolicy to the **data** property of your route in your routing module."

So,My Routing should be written like this:

`canActivate: [PermissionGuard],
    data: {
        requiredPolicy: 'CRM.ServiceRequest',
    },`

[2020-09-11 03:26] #5313 closed, assigned to mehmet-erim

[2020-09-11 04:06] leonkosak commented on #5199
Where did you get this info? Last commit?

[2020-09-11 05:23] leonkosak opened #5367 "abp, ASP.NET Boilerplate, abp Commercial and ASP.NET Zero feature comparison matrix"
It would be useful and transparent if user can see feature comparison matrix (**only for latest versions of frameworks**), segmented by UI technology on abp.io and abp Commercial websites.
Something similar to these matrixes:
https://docs.aspnetzero.com/en/common/latest/Abp-Template-vs-AspNet-Zero
https://docs.aspnetzero.com/en/common/latest/Version-Differences

When choosing the right framework (

[2020-09-11 07:55] armanozak opened #5369 "Proxy Generator: Add warning about public-api exports"

[2020-09-11 08:10] armanozak opened #5371 "Proxy Generator: Add generated proxy files to public-api.ts when module template is selected"

[2020-09-11 09:22] #5369 closed, assigned to armanozak

[2020-09-11 09:23] armanozak commented on #3152
NGXS v3.7 has been integrated in ABP.

[2020-09-11 09:23] #3152 closed

[2020-09-11 09:28] armanozak commented on #5335
@maliming This was fixed by #5295 and recursive types should not cause an infinite loop as of v3.1.1.

[2020-09-11 09:39] #5363 closed, assigned to maliming

[2020-09-11 10:05] #5335 closed, assigned to maliming, armanozak

[2020-09-11 11:09] NecatiMeral commented on #5199
Hi @maliming
your adjustments are great. But wouldn't it make sense to change the file extension to *.log instead of *.txt?

[2020-09-11 12:05] #5349 closed, assigned to nobody

[2020-09-11 12:17] leonkosak commented on #5199
The first problem is, that Logs file grows relatively fast. The second problem is that there are no new files created (each day or when specific filesize is reached).
Having log files inside folder where application is installed is far from ideal situation. You have to stop service, rename/delete log file in start again.

I don't see that serilog-settings-configuration is not maintained. It just w

[2020-09-11 14:56] armanozak opened #5374 "Tree adapter is unable to remove nested nodes"

[2020-09-11 14:59] hikalkan opened #5375 "Use IBrandingProvider in the Volo.Abp.UI package and remove the one in the Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared"
This will be a breaking change for MVC UI, but very easy to fix.
It is being moved from `Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Components` to `Volo.Abp.Ui.Branding` namespace. So, just update the namespace imports.

[2020-09-11 17:08] #5374 closed, assigned to armanozak

[2020-09-11 21:25] michelveloso opened #5377 "CurrentUser.IsAuthenticated always false"
Hi,

I'm simulating a authentication with this code bellow, but **isAuth** always returning false.

[code]

In the ConfigureAuthentication method I got:

[code]

Need I change the default authentication schema to work with **CurrentUser**?

Regards

[2020-09-11 21:26] #5343 closed, assigned to nobody

[2020-09-11 22:38] michelveloso commented on #5377
I think I got it! ;)

I added the package **Volo.Abp.Identity.AspNetCore** to *.Web project and **AbpIdentityDomainModule** as dependency.

In my **PreConfigureServices**, I added the extentions:

[code]

In the **ConfigureAuthentication**, add to.AddCookie("Identity.Application").

Finally, I just used the **AbpSignInManager** as bellow in the Action:

[code]

And It worked very well.

Is it ok?

[2020-09-12 00:05] xirius opened #5378 "Configuring Hangfire BackgroundJobServerOptions in a console application"
I'm trying to configure Hangfire server options in a console application.

[code]
But the configuration doesn't seem to change anything as per the logs:

[code]

It seems to work if I add singleton though:

[code]

[code]
Is it the right way to set the configuration ?

[2020-09-12 06:38] hexianggui opened #5379 "Proxy Generator:generate error url,missing $"
api:
[code]
generate code:
[code]
right url: `/api/asm/repair/createRepairInit/${Id}`,
**the url lost $**,but not all of these types of apis are wrong,Some of them will be generated right

[2020-09-12 12:27] maliming commented on #5378
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2020-09-12 12:31] maliming commented on #5377
hi @michelveloso

You should depend on the `AbpIdentityAspNetCoreModule `

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.AspNetCore/Volo/Abp/Identity/AspNetCore/AbpIdentityAspNetCoreModule.cs

[2020-09-12 12:44] hikalkan commented on #5379
Can you try with `id` as the parameter name, instead of `Id` ?

[2020-09-12 14:15] kurtwilbies commented on #5169
Any news?

[2020-09-12 14:31] #5377 closed, assigned to nobody

[2020-09-12 19:56] hikalkan commented on #5367
These are currently available:

* ABP Framework vs ABP Commercial: https://docs.abp.io/en/commercial/latest/abp-framework-vs-abp-commercial
* AspNet Zero vs ABP Commercial: https://docs.abp.io/en/commercial/latest/aspnet-zero-vs-abp-commercial
* ABP Framework Road Map: https://docs.abp.io/en/abp/latest/Road-Map
* ABP Commercial Road Map: https://docs.abp.io/en/commercial/latest/road-map

It may no

[2020-09-12 21:56] wocar commented on #394
Blazor totally improves our development speed. This is great news, thanks for the effort, also integrating blazorise would be great (Y)

[2020-09-13 13:03] #4756 closed

[2020-09-13 13:18] bnymncoskuner opened #5381 "[Angular] make tree table customizable by accepting custom template for nodes"

[2020-09-13 13:21] hikalkan opened #5382 "Allow to define OnApplicationInitializationAsync instead of OnApplicationInitialization to perform async code on initialization"
AspNet Core has a problem related to that: https://github.com/dotnet/aspnetcore/issues/5890
However Blazor apps may require it. So, I will work on to find a proper way.

While this may be a breaking change, it probably will not break your app unless you've used some non-documented / internal services of the ABP Framework.

[2020-09-13 13:29] hikalkan commented on #5008
I closing this since the initial template (and much more) already completed.
I will open separate issues for the future works.

[2020-09-13 13:29] #5008 closed, assigned to hikalkan

[2020-09-13 13:29] #5304 closed, assigned to hikalkan

[2020-09-13 13:32] hikalkan opened #5383 "Implement the same rules of the MVC UI for the Blazor UI of the feature management module"
For the feature management modal.

Also, try to solve the tab-checkbox problem and open an issue (with a screen record) to the Blazorise GitHub repository if we are sure that's related to the library. If so, we can also remove roles tab of the user edit/create dialog and move the roles list to the same form.

[2020-09-13 16:35] xirius commented on #5378
ABP Framework version: 3.1.2 (Stable)

Steps needed to reproduce:
Follow the instructions to integrate [Hangfire Job Manager](https://docs.abp.io/en/abp/latest/Background-Jobs-Hangfire) + add the `Hangfire.MemoryStorage` nuget package.

[2020-09-13 17:35] hikalkan commented on #3190
Our goal is to move to .net 5 with the ABP Framework 4.0, which will be released in Nov 2020.

[2020-09-13 17:40] hikalkan commented on #394
If we don't have a technical problem, we will complete a preview/experimental version of the Blazor UI in the current milestone (3.2) and publish with the ABP Framework `3.2.0-rc.1` in the **next week**.

I am very excited about this release 😃

[2020-09-13 19:54] tvddev commented on #394
Thats awesome!! :) I know its early but if we start using the blazor versionq can you say what the blazor roadmap will be and how we will be able to upgrade as we develop product alongside the framework being developed?

[2020-09-13 22:17] rygar08 opened #5386 "How to to create a sub-set of an existing entity with Entity framework."
Hi, I'm following the documentation from the link below on how to create a sub set of an existing entity.
I'm getting this error when I get to the add-migration step.

`**Cannot use table 'AbpRoles' for entity type 'IdentityRole' since it is being used for entity type 'AppRole' and there is no relationship between their primary keys.**`

It shouldn't need a relationship as it's extending the AbpRo

[2020-09-14 00:54] maliming commented on #5378
hi

You can try configure `ServerOptions ` of `AbpHangfireOptions`.

https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/framework/src/Volo.Abp.HangFire/Volo/Abp/Hangfire/AbpHangfireOptions.cs#L16

[2020-09-14 01:16] maliming commented on #5379
[code]

[2020-09-14 01:29] maliming commented on #5386
hi @rygar08

Did you check the usage of `AppUser` in the template project?

[2020-09-14 01:37] hexianggui commented on #5379
Sorry for the late reply！
Thank you!you are right.  Changing the `Id` to `id` in the API results in the correct URL.
[code]
However, the problem remains that the 'Get' method cannot be capitalized

[2020-09-14 01:52] hexianggui commented on #5379
This is the API definition before and after modification
**'Id':**
![2020-09-14_094357](https://user-images.githubusercontent.com/30622318/93035501-b794b380-f66f-11ea-8f98-66e4a99ad616.png)
[code]
**'id':**
![2020-09-14_094255](https://user-images.githubusercontent.com/30622318/93035417-81efca80-f66f-11ea-9d76-1f265612387a.png)
[code]

[2020-09-14 02:01] 274188A commented on #394
_Security question_ - will external providers like [Azure Active Directory B2C](https://docs.microsoft.com/en-gb/azure/active-directory-b2c/quickstart-web-app-dotnet) be an option in the future?

[2020-09-14 03:42] Rwing opened #5387 "This repo is so heavy, is it being considered to split it ?"
As the title suggest, it can be split into 2 repos: backend/frontend or api/ui.

[2020-09-14 04:05] rygar08 commented on #5386
Thanks, in step 4. above, i put that code in DbContactModelCreatingExtensions thinking it gets called by the OnModelCreating method. It worked when I put the code directly into OModelCreating Method in the MyAppDbContext.cs file, just like the documentation says.
[code]

[2020-09-14 05:40] staticcat commented on #3190
Is there a branch from which we can early adopt this update?

[2020-09-14 07:06] maliming commented on #3190
@staticcat There is not branch for now.

[2020-09-14 07:07] #5386 closed, assigned to nobody

[2020-09-14 07:38] maliming commented on #5387
There is no plan to split it.

[2020-09-14 07:38] #5387 closed, assigned to nobody

[2020-09-14 08:35] NiceLisan commented on #3433
@realLiangshiwei  how is the implementation going now?
graceful thanks.

[2020-09-14 08:39] BrianCodeman opened #5388 "How to register a AutoMapper TypeConverter with param constructor?"
Hi, team

I am using ConfigureServices to configure my Automapper:

[code]

and my Profile includs a map using  TypeConverter:

`CreateMap<SomeEnumType, string>().ConvertUsing(typeof(MyEnumConverter));`

Since I want to use Localizer to convert Enum to string, MyEnumConverter has a constructor with parameter:

[code]

but Automapper couldn't deal with constructor with parameter by default. In Stac

[2020-09-14 09:12] #5330 closed, assigned to mehmet-erim

[2020-09-14 09:25] realLiangshiwei commented on #5388
Try:

[code]

[code]

[2020-09-14 09:40] mehmet-erim opened #5389 "Upgrade Angular versions of templates to v10.1.0"

[2020-09-14 10:01] tinonetic commented on #633
Hi @carloszan, have you worked on this?

We may have a requirement for it.

If you are up for it, we can create a repository and invite contributors

[2020-09-14 10:04] #4621 closed

[2020-09-14 10:31] BrianCodeman commented on #5388
I'm sorry, I tried your code, but the whole Http.Api.Host exits just after start running.

Log's here:

[2020-09-14 10:52] realLiangshiwei commented on #5388
[code]

[2020-09-14 11:00] #5383 closed, assigned to cotur

[2020-09-14 11:13] BrianCodeman commented on #5388
Great, it works. Thanks for your patience.

[2020-09-14 11:13] #5388 closed, assigned to nobody

[2020-09-14 11:20] buxueke opened #5390 "Cannot resolve parameter 'Volo.Abp.Domain.Repositories.IRepository`1[Volo.Abp.Identity.IdentityUserOrganizationUnit] identityUserOrganizationUnitRepository'"
[code]
Error:
2020-09-14 19:02:51.821 +08:00 [ERR] An exception was thrown while activating AppUserManagement.UserManagement.UserController -> AppUserManagement.UserManagement.UserAppService.
Autofac.Core.DependencyResolutionException: An exception was thrown while activating AppUserManagement.UserManagement.UserController -> AppUserManagement.UserManagement.UserAppService.
 ---> Autofac.Core.Depe

[2020-09-14 11:57] mehmet-erim commented on #5360
The issue has been resolved with the v3.1.2 release. Thanks for reporting.

[2020-09-14 11:57] #5360 closed, assigned to bnymncoskuner, mehmet-erim

[2020-09-14 12:51] #5381 closed, assigned to bnymncoskuner

[2020-09-14 13:04] #4641 closed

[2020-09-14 13:46] realLiangshiwei commented on #5390
See https://docs.abp.io/en/abp/latest/Entity-Framework-Core#add-default-repositories

[2020-09-14 14:07] mostafa1790 commented on #5359
thank you for replying i will discuss with my team

[2020-09-14 14:07] #5359 closed, assigned to nobody

[2020-09-14 14:07] maliming commented on #5199
hi @NecatiMeral @leonkosak
We just provide a basic configuration, you can change it freely.  : )

[2020-09-14 14:17] mostafa1790 opened #5392 "Question abp : How make log file daily files"
Hello,
how i can make the log file separates by days because the file is too large is there any options to do that or what?

thanks alot

[2020-09-14 14:31] maliming commented on #5392
hi @mostafa1790

This is related to serilog.

 https://github.com/serilog/serilog
https://github.com/serilog/serilog-sinks-file

[2020-09-14 14:58] luciapeixoto54 opened #5393 "FromRoute attribute without need to specify the route in Application Services"
Hi,

Would be possible or make sense to use the [FromRoute] attribute without specifying the route in Application Services methods?

For example:

Instead of using this code below:

[code]

use this:
[code]

Because it only works if the route is specified with the parameter

[2020-09-14 19:09] kharazian opened #5394 "Abp 'FeatureManagementPermissions' does not exist in the current context"
I am using Dev branch and I run app project (User Interface MVC) from template folder. It works perfectly but I have had a problem with tenant section. In fact, when I clicked on tenants management sections, I got this error

    abp\modules\tenant-management\src\Volo.Abp.TenantManagement.Web\Pages\TenantManagement\Tenants\Index.cshtml

    The name 'FeatureManagementPermissions' does not exist in

[2020-09-14 21:03] staticcat commented on #3190
What would be the process for using 5.0 now on a new project? Would just using the 3.1.2 cli to create the project and then update all the projects to use 5.0 be enough? Happy to help move this issue forward as I can see it saving us some pain later =)

[2020-09-14 21:13] olicooper opened #5395 "Users can lock themselves out of the system"
I tested on http://permissiontest.demo.commercial.abp.io/ - I was able to deny all permission to the admin user, which locks the user completely out of the system. I created an 'admin2' user as a backup with the password 123456.

I was testing this in relation to this ticket: https://github.com/abpframework/abp/pull/5190 - my thoughts were that a support user might need to login to fix a permissio

[2020-09-14 21:56] dolphinsd commented on #5143
@hikalkan - consider what airbb is doing, they load json resource translation just in time for ui to display. when ui needs a string map, it is loaded via json on demand!
here is an example: https://a0.muscache.com/airbnb/static/packages/core-guest-loop/phrases/en/17f9-cee85c9392.json

[2020-09-14 23:21] staticcat commented on #3848
I would also be interested in how to achieve this for my API layer. The response code of 401 would allow for easier development of libraries for API's. As an example the default R library generated from Swagger assumes any 200 means we are getting the expected object back from the definition. This could also be the redirect to the login page, which then causes JSON parsing exceptions.

[2020-09-14 23:40] armanozak commented on #5379
Hi @hexianggui,

The generated classes and interfaces are according to common TypeScript and Angular practices, i.e. method and property names are in camel case.

Is there a specific reason why you want to have a capitalized "Get" in your frontend app?

[2020-09-15 00:50] hexianggui commented on #5379
No particular reason，Just accidentally using Pascal named API parameters。

[2020-09-15 01:27] maliming commented on #5394
hi @kharazian

You can try run `build-all.ps1` .
https://github.com/abpframework/abp/blob/dev/build/build-all.ps1

[2020-09-15 01:33] maliming commented on #3190
You can't use net 5.0 now, because the **framework** and **modules** are developed based on net core 3.x.
We will upgrade after net 5 is released. or last 5.0 RC.

[2020-09-15 01:34] maliming commented on #3848
hi all

Please follow: https://github.com/abpframework/abp/issues/5235

[2020-09-15 01:47] buxueke commented on #5390
[DependsOn(
        typeof(AppUserManagementDomainModule),
        typeof(AbpIdentityEntityFrameworkCoreModule),
        typeof(AbpEntityFrameworkCoreModule)
    )]
    public class AppUserManagementEntityFrameworkCoreModule : AbpModule
    {
        public override void ConfigureServices(ServiceConfigurationContext context)
        {
            //context.Services.AddAbpDbContext<AppUserManagemen

[2020-09-15 01:54] realLiangshiwei commented on #5390
Try using `IOrganizationUnitRepository` interface

[2020-09-15 01:59] realLiangshiwei commented on #5393
see https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-3.1#attribute-routing-for-rest-apis

[2020-09-15 02:05] buxueke commented on #5390
It's solved：

AppUserManagementDbContext

public DbSet<IdentityUserOrganizationUnit> IdentityUserOrganizationUnits { get; set; }

[2020-09-15 02:20] #5390 closed, assigned to nobody

[2020-09-15 02:31] #4794 closed

[2020-09-15 03:40] maliming commented on #3190
.NET 5.0 RC 1 👍
https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-1/

[2020-09-15 07:16] hikalkan opened #5401 "Implement caching for WebAssemblyRemoteTenantStore"

[2020-09-15 07:34] bnymncoskuner opened #5402 "[Angular] enable retrieving localization resource from LocalizationService"
LocalizationService should provide a method to access localization resources

[code]

[2020-09-15 08:37] hikalkan commented on #394
Initial Blazor UI has been merged: https://github.com/abpframework/abp/pull/5399

You can consider this as experimental. However, if you build some real components/pages, I don't think that you will need to make a lot of changes in your own application code later. We will make breaking changes in the next two versions (3.3 & 4.0), but they will be mostly related to some configuration and internal

[2020-09-15 08:43] snowchenlei opened #5404 "abp generate-proxy collectionsGenericKeyValuePair"
ABP Version:3.1.2
abp generate-proxy: generate `Dictionary<string, object>`error
`Dictionary<string, object>`=>`collectionsGenericKeyValuePair<string, object>[]`
Should be Map<string, object>[]?

[2020-09-15 09:03] #5402 closed, assigned to bnymncoskuner

[2020-09-15 11:52] armanozak commented on #5379
Can we close this issue then?

[2020-09-15 12:03] #5379 closed, assigned to armanozak

[2020-09-15 12:12] gterdem commented on #3573
Closing the issue. Feel free to create a new issue if you come across any problems.

[2020-09-15 12:12] #3573 closed

[2020-09-15 13:50] kharazian commented on #5394
@maliming Thanks. Is solved

[2020-09-15 13:50] #5394 closed, assigned to nobody

[2020-09-15 14:05] bnymncoskuner opened #5405 "[Angular] improve tree adapter to handle update"

[2020-09-15 14:30] #5009 closed, assigned to yekalkan

[2020-09-15 15:29] alexandis commented on #5184
Hi, I had **SharedModule** within **AppModule** (also **AppModule** has this: `declarations: [AppComponent,TenantsComponent,NavItemsComponent]`). And **SharedModule** has this: `import { NgbDropdownModule } from '@ng-bootstrap/ng-bootstrap';` and also in _import_ list. Still, it does not work. Probably it has something to do with the sequence of Modules in import or something else...

[2020-09-15 16:03] mehmet-erim opened #5407 "Angular Schematics: Pass responseType property as text to the RestService when the response type is string"

[2020-09-15 16:32] #5407 closed, assigned to mehmet-erim

[2020-09-15 18:08] #5199 closed, assigned to maliming

[2020-09-15 19:18] hikalkan commented on #5389
Can't we make this with 3.2 final? I suppose everyone will want to use TypeScript 4 :) What do you think @mehmet-erim & @armanozak

[2020-09-16 02:11] #5317 closed, assigned to maliming

[2020-09-16 04:20] redcatH opened #5410 "USE AbpDataFilterOptions Enabled = false, EF CORE generates SQL always has Cast (1 bit) or Tenant == NULL"
i use AbpDataFilterOptions
project mall.hots.api
MallHttpApiHostModule.cs
[code]
swagger call  MallAppService.GetUser   ef generate Sql:

[code]

Why are there always （no use override ConfigureGlobalFilters）:
WHERE (@__ef_filter__p_7 = CAST(1 AS bit)) OR [a2].[TenantId] IS NULL

How to change to ：
WHERE (@__ef_filter__p_7 = CAST(1 AS bit)) OR [a2].[TenantId] IS NULL -----> ‘where TenantId is Null’

[2020-09-16 05:12] maliming commented on #5410
This is the design of the EF Core global filter.

https://github.com/abpframework/abp/blob/194fa311fa9b058b7351bdc67c6ebaacbfd66d7b/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L621

[2020-09-16 05:12] #5410 closed, assigned to nobody

[2020-09-16 05:58] mehmet-erim opened #5411 "Angular UI: Redirect to MVC UI for profile page if authorization code flow is active"

[2020-09-16 06:24] #5405 closed, assigned to bnymncoskuner

[2020-09-16 06:45] #5327 closed, assigned to realLiangshiwei

[2020-09-16 06:57] MedAnd opened #5412 "Support for Azure Static Web Apps"
Not sure if this should be raised here but wondering if the team has any plans to support Azure Static Web Apps?

Thx.

[2020-09-16 07:02] maliming opened #5413 "The user cannot switch the tenant of the Login page while logged in."
Because `AppliedResolvers` will only contain the`CurrentUserTenantResolveContributor` while logged in.

https://github.com/abpframework/abp/blob/1a1dc3e0da20e447234350a528ddf818a0639160/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml#L63

https://github.com/abpframework/abp/blob/decad8e30f6186be87db8c5743bf55d530514bb9/framework/src/Volo.Abp.MultiTenancy/Vo

[2020-09-16 07:11] maliming opened #5414 "Consoder make ITenantResolver's ResolveTenantIdOrName method async."

[2020-09-16 07:14] realLiangshiwei opened #5415 "Update mongodb document"
https://github.com/abpframework/abp/issues/347

[2020-09-16 07:29] #347 closed

[2020-09-16 07:57] hikalkan opened #5417 "Allow to enable auditing of some selected properties of an entity"
Allow to enable auditing of some selected properties of an entity while other property changes are not saved (this will make easy to track a few property of a class that has too many properties).

[2020-09-16 07:57] hikalkan commented on #2100
Closing this. Created a new issue for the second item: https://github.com/abpframework/abp/issues/5417

[2020-09-16 07:57] #2100 closed

[2020-09-16 08:01] Stirda commented on #5169
@kurtwilbies A colleague will start working on this this week. IIS Windows authentication, ABP 3.1 external login system w/o need to checking password (because already authenticated by IIS). Stay tuned.

[2020-09-16 08:09] ismcagdas opened #5419 ""abp build" command to optimize building for big mono repositories"
Create a build command to build .NET repositories and solutions.

[2020-09-16 08:17] mehmet-erim commented on #5389
We can make, I moved to 3.2-final

[2020-09-16 08:38] buaziz commented on #5412
this should work the same as AspnetZero [here ](https://docs.aspnetzero.com/en/aspnet-core-angular/latest/Step-by-step-publish-to-azure-angular-staticsite)

[2020-09-16 08:45] #5160 closed, assigned to mehmet-erim

[2020-09-16 09:23] #5158 closed, assigned to realLiangshiwei