[2020-10-16 09:21] mtozlu opened #5832 "Adding new layouts to Angular application"
`DynamicLayoutComponent` of abp.ng.core package has hard coded map of three layouts.
https://github.com/abpframework/abp/blob/5b04ddfc0fcfef4cd763df3aa2e784d9b9e2ce75/npm/ng-packs/packages/core/src/lib/components/dynamic-layout.component.ts#L27-L32

Even though we can replace the component mapped to a specific layout, there may be need to add additonal layouts in complex applications with multiple

[2020-10-16 09:43] realLiangshiwei commented on #5832
See https://docs.abp.io/en/abp/latest/UI/Angular/Component-Replacement#how-to-replace-a-layout

[2020-10-16 09:51] mtozlu commented on #5832
Thanks, @realLiangshiwei.
My issue is about adding new layouts.

[2020-10-16 09:51] git102347501 commented on #5478
The following are the scan vulnerability supplements.

**- bootstrap.bundle.min.js**
**Criticality:** High
**Category:** Insecure Randomness
![image](https://user-images.githubusercontent.com/37917403/96243652-9a893280-0fd7-11eb-8f68-dc321f3dda35.png)

**- bootstrap.bundle.js**
**Criticality:** High
**Category:** Insecure Randomness
![image](https://user-images.githubusercontent.com/37917403/96243

[2020-10-16 10:03] khinhvuphiduong commented on #5698
Yes, thank you. I have just find by add  AbpTenantManagementApplicationContractsModule and AbpTenantManagementEntityFrameworkCoreModule in any host or service use Multi Tenant.

[2020-10-16 10:04] #5698 closed, assigned to nobody

[2020-10-16 10:30] #4996 closed, assigned to gterdem

[2020-10-16 10:36] bnymncoskuner commented on #5512
Hello, I've tried with a similar setup however Angular compiler didn't give me any error. Could you please share a repo that reproduces your problem?

[2020-10-16 10:43] shaofing commented on #1168
Vue 3.0 + typescript

[2020-10-16 12:09] aelhadi opened #5835 "Tiered architecture. **separete database for Abp Identity server**"
Hi,
I'm using ABP framework with Tiered architecture.

is it possible to use a **separete database for Abp Identity server**? how ?

Regards

[2020-10-16 12:28] #5826 closed, assigned to maliming

[2020-10-16 12:43] 274188A opened #5837 "filter `ISoftDelete` has stopped working with the release of `3.3.0-rc.1`"
This filter `ISoftDelete` has stopped working with the release of `3.3.0-rc.1`

Was working with previous versions

[code]

![image](https://user-images.githubusercontent.com/40014477/96259589-6a9a5900-0ff0-11eb-92f0-d9f4315a5461.png)
The IsDeleted should still return in the query - but does not.

[2020-10-16 13:31] maniani-dev commented on #5761
I can confirm it works in v3.3.0-rc.1

[2020-10-16 17:57] maniani-dev opened #5838 "The required antiforgery request token is logged when I try to update user permission"
I am running abp.io version 3.3.0-rc.1

I am getting this error when requesting this end point PUT: /api/permission-management/permissions, see below

![image](https://user-images.githubusercontent.com/48318632/96292081-f0160d00-0fe0-11eb-992d-f849c09db533.png)

This is the error from log.txt

`2020-10-16 18:51:54.948 +01:00 [DBG] AuthenticationScheme: Bearer was successfully authenticated.
2020-1

[2020-10-16 19:13] olicooper opened #5840 "EF query filters not working with EF TPH inheritence"
Abp v3.1.0

My application terminates with the following error:

A filter may only be applied to the root entity type in a hierarchy..
See the inner exception for details.

My base `AbstractEntity` class has the `abstract` modifier, and in my `ModelCreatingExtensions` class I have:
[code]

It seems that Abp is applying filters to all entities and not checking for TPH inheritance? Is there a workar

[2020-10-16 19:53] hikalkan opened #5841 "Define abp.features API for the ASP.NET Core MVC / Razor Pages UI"
Currently, we can use `abp.features.values["Identity.TwoFactor"]` to get the value of the feature `Identity.TwoFactor` in the client side. We need to following functions:

* `abp.features.isEnabled(name)` returns true if the feature value is `true` or `True`.
* `abp.features.get(name)` returns the feature's value or `null` if not defined.

Should be done in https://github.com/abpframework/abp/blob

[2020-10-16 19:58] hikalkan commented on #5841
Please also document it here: https://github.com/abpframework/abp/blob/dev/docs/en/UI/AspNetCore/JavaScript-API/Features.md (in the DEV branch)

[2020-10-16 23:51] realLiangshiwei commented on #5837
* Steps needed to **reproduce** the problem.
* Your DB Provider

[2020-10-16 23:59] 274188A commented on #5837
Apologies - more details below.  I put a break-point in the repository to see the results returned.  I expected 5 rows but only saw 4 (missing the one where `IsDeleted=true`).  So I do not think this is UI related.

### Stack
Blazor UI, EF, SQL Server, ABP 3.3.0-rc.1

### Steps
Using an FullAuditEntity<Guid> set one of the rows IsDeleted to true.
Apply the filter in the repository.

**Expected Res

[2020-10-17 00:07] realLiangshiwei commented on #5837
I will check it out

[2020-10-17 02:15] realLiangshiwei commented on #5838
Related https://github.com/abpframework/abp/issues/5803

Try clear cookie

[2020-10-17 07:35] #5040 closed, assigned to nobody

[2020-10-17 07:58] maliming commented on #5840
https://docs.microsoft.com/en-us/ef/core/querying/filters#limitations

[2020-10-17 07:58] #5840 closed, assigned to nobody

[2020-10-17 08:33] olicooper commented on #5840
I have not applied any filters to any entities though. I only use `ConfigureByConvention()` on the base entity but it appears that abp is applying `IMultiTenant` and `IDeleted` filters to all entities in the hierarchy.

[2020-10-17 10:45] leonkosak commented on #5835
Easy. Just create dedicated db for IDS and run migrator for this db. Then in appsettings.json in IDS project set connection string to this db.

[2020-10-17 12:08] DonVliet opened #5842 "Microservices demo using MySQL Server still not working"
We are trying to change the Microservices sample to use MySQL instead of SQL Server but are having a few problems. The migrations are not running through Docker and the Auth login page is not displaying anything.

The steps we used to change the code to use MySQL were:

- Replace all occurrences of UseSqlServer with UseMySql
- Replace all occurrences of SqlServerValueGenerationStrategy with MySqlV

[2020-10-17 14:22] kishoresahas commented on #4771
Do we have any update on this?

[2020-10-17 16:54] #5838 closed, assigned to nobody

[2020-10-17 17:01] rlavaud opened #5843 "Blazor webassembly bypassing IdentityServer ABP 3.3 RC1"
Hi
I am trying to use Azure Ad B2C for authentication without much success. I I tried the repurpose the article for Azure AD and MVC but there are key differences with Blazor since we have to connect to the host api for permission.

I got as far as login in with B2C but once I try to make a call to an protected API, I get not authorized 401. I know that I have a bearer token on the Blazor side, bu

[2020-10-17 17:28] pascalfossouo opened #5844 "Migration issue isExternal property more than one."
Hi Have an issue when running BookStore-Mvc-EfCore on 2020-10-17

- set the .DMigration in PMC run:  add-migration upgrade_3_2_1
- run: update-database

or set the .DMigrator to a default project and run

Microsoft.Data.SqlClient.SqlException: 'Column names in each table must be unique. Column name 'IsExternal' in table 'AbpUsers' is specified more than once.'

update-database
Build started...
Bui

[2020-10-17 17:32] hikalkan commented on #5574
Done with https://github.com/abpframework/abp/pull/5845

[2020-10-17 17:32] #5574 closed, assigned to hikalkan

[2020-10-17 18:07] yozzozo commented on #5537
@Stirda I've had good results by adding the following lines to the API Host project's Program.cs, right after .MinimumLevel.Override:

.MinimumLevel.Override("Microsoft.EntityFrameworkCore.Database.Command", LogEventLevel.Warning)
.MinimumLevel.Override("Microsoft.EntityFrameworkCore.Infrastructure", LogEventLevel.Warning)

You can use Serilog's filter expressions feature to filter out the Backgro

[2020-10-18 00:55] realLiangshiwei opened #5846 "Enable MongoDB transaction for unit test"
https://github.com/Mongo2Go/Mongo2Go/issues/100

[2020-10-18 01:08] 274188A commented on #5843
I am in a similar position - but trying to use Azure AD from this [article](https://community.abp.io/articles/how-to-setup-azure-active-directory-and-integrate-abp-angular-application-lyk87w5l).

The article point to a FAQ page which itself has more info and a link to the abp-samples.

Unfortunately _none_ of the sample pertaining to what we are trying to achieve here have been written targeting t

[2020-10-18 01:11] 274188A commented on #5843
just a comment - you can't really bypass IDS4 entirely as it holds Authorization info needed by the app.  Azure AD is used to establish the `Identity` of the user - which is a good thing as we don't need to be the keeper of passwords for our apps.

[2020-10-18 08:00] #4922 closed

[2020-10-18 12:31] hikalkan commented on #5829
duplicate of https://github.com/volosoft/volo/issues/3579

[2020-10-18 12:31] #5829 closed, assigned to nobody

[2020-10-18 12:33] hikalkan commented on #5532
Merged with https://github.com/abpframework/abp/issues/5520

[2020-10-18 12:33] #5532 closed, assigned to nobody

[2020-10-18 15:39] rlavaud commented on #5843
@274188A thank you for your comments. I finally got this to work however I think it is flaky in the current state.
**For example:**
I still need to figure how to not have two login pages for customer (/authentication/login then press a button)
Then there is the issue of the register popup after sign in for the first time which can be a **security risk in multitenant applications**

**Here is a sce

[2020-10-19 01:27] realLiangshiwei commented on #5844
Delete your database and try again.

[2020-10-19 01:36] realLiangshiwei opened #5848 "Improve abp_io Chinese Localization"

[2020-10-19 02:13] pascalfossouo commented on #5844
Hi @realLiangshiwei this is my connection string

Server=(LocalDb)\\MSSQLLocalDB;Database=BookStore;Trusted_Connection=True;MultipleActiveResultSets=true

and I'm using SQL Server with SSMS, but I don't see any BookStore database on my SQL Server

[2020-10-19 02:37] #5805 closed, assigned to nobody

[2020-10-19 07:01] buxueke opened #5850 "InternalGateway, Tenant not found, when Remote request userinfo"
when __tenantId is null , no problem
demo service:
`using(_currentTenant.Change(eventData.Entity.TenantId))`
 `{`
             `var user = await UserRepository.FindAsync(eventData.Entity.Id);`
              ` if (user == null)
                {
                    user = await UserLookupService.FindByIdAsync(eventData.Entity.Id);
                    if (user == null)
                    {

[2020-10-19 07:38] buxueke commented on #5850
current Identity token no tenantid

[2020-10-19 07:38] #5850 closed, assigned to nobody

[2020-10-19 07:46] maliming opened #5852 "Add Abp Identity Server v4 upgrade guide."
https://github.com/abpframework/abp/pull/4578

[2020-10-19 07:47] hikalkan opened #5853 "IdentityServer4 version 4.x upgrade guide"
We are upgrading the IDS to 4.1.1 with the ABP version 4.0. So,

Prepare a document to explain the schema changes of the IdentityServer tables. Also, provide a simple guide to explain how to migrate existing data for these tables.

[2020-10-19 07:48] maliming commented on #5852
Duplicate of #5853

[2020-10-19 07:48] #5852 closed, assigned to nobody

[2020-10-19 07:52] bnymncoskuner commented on #5832
Hello @mtozlu

Could you explain your use case a little further? What is it that you want to do but not be able to do with the current of the framework? A detailed example is much appreciated. It would help us understand the need better.

Thank you

[2020-10-19 07:54] ebicoglu opened #5854 "Documentation shows wrong API Documentation version"
![image](https://user-images.githubusercontent.com/9526587/96417014-75740a00-11f9-11eb-8379-34c30c1e00d8.png)

[2020-10-19 07:57] #4461 closed

[2020-10-19 08:47] realLiangshiwei commented on #5837
Hi
I can't reproduce your problem. could you use the startup template to reproduce this problem and upload to GitHub repository. thanks.

![image](https://user-images.githubusercontent.com/16813853/96422511-b2a4c000-122a-11eb-963b-d36d161d3df9.png)

[2020-10-19 08:48] #5848 closed, assigned to realLiangshiwei

[2020-10-19 09:09] RayMMond opened #5856 "wrong call in CrudAppService"
In line 60, `base` keyword is resulting calling MapToGetOutputDtoAsync of base class instead of overrided one.

https://github.com/abpframework/abp/blob/11a3903968cdae378eeed24848346b94521951a5/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/CrudAppService.cs#L47-L67

[2020-10-19 09:10] hikalkan commented on #5655
Cancelling this. It is same in the MVC UI too and it look like the normal behaviour.

[2020-10-19 09:10] #5655 closed, assigned to nobody

[2020-10-19 10:25] c4jose opened #5857 "AWS S3 client side encryption"
Having a AWS S3 client-side encryption feature will be a great addition in ABP.

[2020-10-19 10:51] CAH-FlyChen opened #5858 "It seems got memory leak in scop inject"
* Your **ABP Framework version**.
3.2.1
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

My progream is simple.
I use a middleware for websocket to process data.
when data come in, after websocket received full data i use the code flow:
`                    using(var scope = this.serviceScopeFactory.CreateScope())

[2020-10-19 11:58] jader1313 commented on #57
I too would appreciate the implementation of CQRS + MediatR

[2020-10-19 12:30] hikalkan opened #5859 "Re-create migrations and test module templates for IDS4 4.x upgrade."
Also check the IDS seed data to create ApiScopes.

[2020-10-19 12:38] yekalkan commented on #5854
moved to https://github.com/volosoft/volo/issues/3717

[2020-10-19 12:38] #5854 closed, assigned to yekalkan

[2020-10-19 13:28] amsaighi commented on #5501
Hello check this :[The Angular UI keep loading]( https://github.com/abpframework/abp/issues/5498#issuecomment-700621131)

Good luck

[2020-10-19 13:54] #5824 closed, assigned to cotur

[2020-10-19 14:01] #5823 closed, assigned to cotur

[2020-10-19 14:19] pwestern opened #5860 "IHost not disposed in AbpAspNetCoreIntegratedTestBase"
`IHost` is created in `AbpAspNetCoreIntegratedTestBase` constructor but is never disposed. When running tests with latest ReSharper test runner 2020.2.4 the following warning is displayed.

![image](https://user-images.githubusercontent.com/16342062/96462694-c39b0480-121d-11eb-952f-0e04c1ab3625.png)

[2020-10-19 14:59] maliming commented on #5858
I don't think so, Can you make your example more simple and clean?

[2020-10-19 15:02] maliming commented on #5860
![image](https://user-images.githubusercontent.com/6908465/96469002-4db78d00-125f-11eb-97eb-18a76a7f67cc.png)

[2020-10-19 15:17] pwestern commented on #5860
I'm aware of this feature - and it does fix the warning - but surely the underlying issue is that a process is not disposed correctly at the end of a test run?

[2020-10-19 15:27] #5853 closed, assigned to maliming

[2020-10-19 15:27] #5051 closed, assigned to nobody

[2020-10-19 21:17] #4229 closed

[2020-10-19 23:28] yinchang0626 commented on #5832
@bnymncoskuner
In Route, layout property is enum type ,we can define just three kinds of layout,
If let it be a string or array,we can add other custom name of layouts by self,
 `DynamicLayoutComponent` will be more flexibility
[code]

[2020-10-20 01:22] jaszb commented on #5837
I finally got t the bottom of the problem.  I created a project from the template and as you found there is no problem with Abp.

I had accidently used this interface:
![image](https://user-images.githubusercontent.com/32381192/96528546-9dc13e80-12b5-11eb-95ae-3ff17c4f5efe.png)

instead of this one:

![image](https://user-images.githubusercontent.com/32381192/96528574-ad408780-12b5-11eb-8b5b-9f17e

[2020-10-20 01:24] 274188A commented on #5837
Issue resolved

[2020-10-20 01:24] #5837 closed, assigned to nobody

[2020-10-20 02:56] CAH-FlyChen commented on #5858
@maliming thanks for reply

demo has changed with new clean abp created by cli。
I modifyed：
1. change database to pg
2. add one domain erpbrand
![image](https://user-images.githubusercontent.com/1214546/96534478-64430000-12c2-11eb-9364-c80e48d20aa4.png)

3. add one application erpbrandapplication
![image](https://user-images.githubusercontent.com/1214546/96534496-6d33d180-12c2-11eb-9bac-066d57332e

[2020-10-20 03:36] maliming commented on #5858
You can try use `context.RequestServices` instead of `IServiceScopeFactory` first.

[2020-10-20 05:42] CAH-FlyChen commented on #5858
@maliming still got problem
it looks the same in https://github.com/abpframework/abp/issues/3778

change code to
[code]
![image](https://user-images.githubusercontent.com/1214546/96544840-e7bc1b80-12d9-11eb-8319-2b4a362271df.png)
![image](https://user-images.githubusercontent.com/1214546/96544985-28b43000-12da-11eb-879f-5121265cfaab.png)

![image](https://user-images.githubusercontent.com/1214546/

[2020-10-20 06:42] volethanh commented on #2074
Hi @hikalkan , how to ack when my app throws exception. It stucked in the queue and everytime I restart the app, it consume again and again

[2020-10-20 06:53] maliming commented on #5858
You can test in plain asp net core + autofac, I think it has nothing to do with abp.

[2020-10-20 08:34] nymeron opened #5867 "Disposed DbContext in WorkerService project integrated in abp.io"
Background:
I'm using abp.io platform version 3.2.1
I'd like to integrate windows service project in abp platform using worker service template.

I'm having issue accessing DbContext. Since it's disposed prior to use.
In Program I have configured CreateHostBuilder like that:

` public static IHostBuilder CreateHostBuilder(string[] args) =>
            Host.CreateDefaultBuilder(args)

[2020-10-20 08:42] maliming commented on #5867
Please answer the questions in the template.

[2020-10-20 08:47] nymeron commented on #5867
I misclicked and saved before editing the whole response.

[2020-10-20 09:29] wechatdeveloper opened #5870 "If ABP will use Ant.Design (Pro) as the UI Framework"
If ABP Use Ant.Design as the UI Framework ?

[2020-10-20 09:38] maliming commented on #5870
There is no such plan.

[2020-10-20 09:39] hikalkan commented on #5646
I deployed from dev branch (with .net 5) to my local IIS and has no problem.

[2020-10-20 10:30] hikalkan commented on #5646
I have the same problem with https://github.com/abpframework/abp/issues/394#issuecomment-699166579 for version `3.3.0-rc.1` when I run dotnet publish:

[code]

[2020-10-20 10:44] #5646 closed, assigned to hikalkan

[2020-10-20 10:47] hikalkan commented on #5646
This seems problem related to the runtime.

See https://github.com/dotnet/aspnetcore/issues/18701 that is moved to https://github.com/mono/mono/issues/18651

The current solution is https://github.com/mono/mono/issues/18651#issuecomment-646276014

Add the following line into the `PropertyGroup` section of your Blazor project.

[code]

Applied for the startup template: https://github.com/abpframewo

[2020-10-20 11:35] hikalkan opened #5871 "Remove Boostrap JS & JQuery dependencies for the Blazor UI"
There are some minor problems when I remove this, but I will fix them separately.

[2020-10-20 11:36] #5871 closed, assigned to hikalkan

[2020-10-20 11:42] #5731 closed, assigned to ilkayilknur

[2020-10-20 11:44] #5859 closed, assigned to maliming

[2020-10-20 12:10] maliming commented on #5867
hi @nymeron

Can you share a project to reproduce your problem? You can create a repo in Github.

[2020-10-20 12:13] mtozlu commented on #5832
@bnymncoskuner

Thanks, currently there are only three hardcoded layouts to choose from.
In more complex applications with many detailed usage scenarios, there may be need to add more layouts.
For example, i need three different layouts;
- AdminLayout; There will be a side menu, top menu and content area just like a generic admin layout.
- CustomerLayout; There will be a top menu and content area

[2020-10-20 12:52] kishoresahas commented on #3704
How to enable Auditing for IdentityUser? I tried to enable for AppUser nut no luck.

[2020-10-20 12:53] #5846 closed, assigned to realLiangshiwei

[2020-10-20 12:53] #5870 closed, assigned to nobody

[2020-10-20 12:58] #5843 closed, assigned to nobody

[2020-10-20 13:00] rlavaud commented on #5843
After further playing with this it seems like the best thing to do let identity server authenticate externally then use this authentication to log in the user with Identity server. If I need the claim from Azure AD B2C, I think there is a way to save the claims but with Graph API you can always get it back.

[2020-10-20 14:08] olicooper commented on #5840
For the benefit of other people in the future..
My problem was that I didn't want the base `AbstractEntity` to be included so I didn't add a DbSet for it and marked it as `abstract`. Unfortunately, EF inheritance is not the same as standard inheritance so you have to include the base entity as a DbSet for the `BaseType` property (see below) to be populated and query filters to be skipped.
https://

[2020-10-20 16:59] kishoresahas commented on #4771
[code]

[2020-10-20 18:40] #5835 closed, assigned to nobody

[2020-10-20 18:54] hikalkan opened #5873 "Blaozr UI: User menu dropdown is partially invisible in some resolutions"
I've justed worked on the header and now it is opening as shown below:

![image](https://user-images.githubusercontent.com/1210527/96631154-a0a44980-131e-11eb-9905-5853953f9fad.png)

I don't know if DropdownMenu has an option to open to the left side.

It is currently same for the Lepton theme:

![image](https://user-images.githubusercontent.com/1210527/96632745-d4806e80-1320-11eb-9df2-130c63608f5

[2020-10-20 19:00] hikalkan opened #5874 "Unify Blazor UI Framework JavaScripts"
Currently we have two script files:

* _content/Volo.Abp.AspNetCore.Components.WebAssembly/abp.js
* _content/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/abp_theming.js

We should unfiy them. We can remove `abp_theming.js` and move content to `abp.js`.

[2020-10-20 19:01] stsrki commented on #5873
Just set RightAligned like this `<BarDropdownMenu RightAligned="true">`

[2020-10-20 19:06] #5874 closed, assigned to hikalkan

[2020-10-20 19:13] hikalkan commented on #5873
So, it seems we should use `Bar` component that means a re-write needed 😄

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/MainLayout.razor#L4

[2020-10-20 20:18] nymeron commented on #5867
I created new abp application to which I added WorkerService project.

GitRepo: https://github.com/nymeron/abpWorkerServiceDemo.git

As you will see I managed to access the DB entity via EF core using IRepository interface.

Question is, is this the right way to do a long-time running service? ANd how to go about runing multiple Background jobs that can independetly access the Domain level,

[2020-10-21 01:39] maliming commented on #5867
Do you still get any errors now?

[2020-10-21 01:58] maliming commented on #5830
https://github.com/abpframework/abp/pull/5833

[2020-10-21 01:58] #5830 closed, assigned to maliming

[2020-10-21 03:30] maliming commented on #5810
Test program:
https://github.com/abpframework/abp/commit/ea99a020ffc00d6dbbe202ee07970b91d1aebba4

50 users, every user has 10 roles,  10 tokens,  10 claims, 10 logins.
[code]

![image](https://user-images.githubusercontent.com/6908465/96669827-9c187900-1390-11eb-8ac8-6c24729f84cf.png)

[2020-10-21 04:57] halido opened #5876 "Slow ApplicationService Method Invoke"
**Abp Version : 3.2.1
UI : MVC
Problem : Slow Application Service Method Invoke**

Call Stack :
[code]
Hello ,

I use Abp Blobstoring FileSystem module,
I copied codes from **Blogging Module** Cover Image upload page .
The Problem is  Calling **Tooyp.Application.Files.FileAppService.CreateAsync** method takes more than 10seconds to Invoke. If I upload bigger files like 20MB+ , It takes longer time

[2020-10-21 06:21] CAH-FlyChen commented on #5858
i chaged the demo to minimal
only one middlware inject repository or my ITransientDependency service.
test result: inject repository leaks,but my custom service is not.
if disable my middlewear, still got memory grows up slowly when log show "background select ".
![image](https://user-images.githubusercontent.com/1214546/96682386-54ebb180-13ab-11eb-85c4-77477b6d9cf1.png)

![image](https://user-ima

[2020-10-21 06:55] khinhvuphiduong opened #5877 "BUG: Error when modules communication in same Microservices when inherited IApplicationService from Volo.Abp.Application.Services"
I have Module A and Module B hosted same a Microservice, when Module A calls Module B (**IModuleBAppService inherited from  Volo.Abp.Application.Services**) via Module B Http.Api , there is a "No connection could be made because the target machine actively refused it." error.

If **IModuleBAppService inherited from  Abp.Application.Services**, everything Ok.

Thanks you!

[2020-10-21 07:04] maliming commented on #5877
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

What do you mean by `Abp.Application.Services`?

Please check your application logs first.

[2020-10-21 07:42] CAH-FlyChen commented on #5858
when change the entity to use large memory,the memory graph can grows fast.
![image](https://user-images.githubusercontent.com/1214546/96688536-de06e680-13b3-11eb-89f5-5cf426e891e2.png)
when use myservice with the same large memory property,got graph can gc.
![image](https://user-images.githubusercontent.com/1214546/96689037-756c3980-13b4-11eb-8c50-6a4f25003117.png)

[2020-10-21 07:53] khinhvuphiduong commented on #5877
Thanks you for your reply, I hope I can explain clearly enough.

**This is Case Fail**
![image](https://user-images.githubusercontent.com/9996718/96687724-7c8e4a00-13aa-11eb-8d1f-4d6b48292332.png)

**Log:**
`2020-10-21 12:17:23.971 +07:00 [ERR] No connection could be made because the target machine actively refused it.
System.Net.Http.HttpRequestException: No connection could be made because the t

[2020-10-21 07:54] nymeron commented on #5867
I don't ger errors and I managed to get data access.

Now I'm just wondering if my approach is "the right way"?
So is it ok to create scope and get required service every time I need data access? And, am I using the right abp components to achive this?

` var scope = _serviceScopeFactory.CreateScope();`
`var main = scope.ServiceProvider.GetRequiredService<MainProgram>();`
`await main.MainProcess()

[2020-10-21 08:03] khinhvuphiduong commented on #5877
How about Service lifetimes between Abp.Application.Services and Volo.Abp.Application.Services? I think has different here. Thanks you!

[2020-10-21 09:14] ycc3000 opened #5880 "Why Volo.Abp.Ldap.ILdapManager only has one function?"
Why Volo.Abp.Ldap.ILdapManager only has one function?

* Your **ABP Framework version**.
3.1.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
MVC
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.
1. add nuget package Volo.Abp.Ldap
2. inject Volo.Abp.Ldap.ILdapManager
3. it only ha

[2020-10-21 09:20] genceraziz opened #5881 "ABP Service Api 500 Internal Server Error"
Hello,

I published a .net core application I made with ABP to a remote server.

I am getting a 500 error while fetching a list from the service and I could not find the cause of the error. Can you please help.

`var _appService = bDH.services.producer;`
`ajax: abp.libs.datatables.createAjax(_appService.getProducers)`
`public PagedResultDto<ProducerDto> GetProducers(ProducerListPageDto input)`

Er

[2020-10-21 09:24] realLiangshiwei commented on #5881
I think it has nothing to do with abp. you should check the application logs.

[2020-10-21 09:27] #5856 closed, assigned to maliming

[2020-10-21 09:30] genceraziz commented on #5881
There is nothing about this error in the application logs. I also looked at the logs from Event Viewer, nothing there either.

[2020-10-21 09:43] maliming opened #5882 "HttpContextServiceScopeFactory did not correctly dispose of the services."
Related: #5858

https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/DependencyInjection/HttpContextServiceScopeFactory.cs#L35

[2020-10-21 09:43] maliming commented on #5858
See https://github.com/abpframework/abp/issues/5882

[2020-10-21 09:43] #5858 closed, assigned to nobody

[2020-10-21 09:56] maliming commented on #5880
See https://github.com/abpframework/abp/pull/4984#issue-464385010

[2020-10-21 09:56] #5880 closed, assigned to nobody

[2020-10-21 10:47] CAH-FlyChen opened #5884 "version 3.2.1 can use sourcelink to debug？"
when debug abp can not show source download dialog,but microsoft dll can show the dialog
![image](https://user-images.githubusercontent.com/1214546/96709868-d94f2c00-13cd-11eb-98d1-1869779a917d.png)

[2020-10-21 11:10] realLiangshiwei commented on #5884
See https://github.com/abpframework/abp/issues/3462

[2020-10-21 11:10] #5884 closed, assigned to nobody

[2020-10-21 11:30] muhammedshaaban7 opened #5885 "Abp Generate-Proxy Command throw [Invalid API Definition] The provided API definition is invalid."
my swagger up and running and Run the following command in the angular folder:
abp generate-proxy
[14:27:48 INF] ABP CLI (https://abp.io)
[14:27:49 INF] Version 3.2.1 (Stable)
[14:27:50 WRN] Couldn't determinate version of "@abp/ng.schematics" package.
**[Invalid API Definition] The provided API definition is invalid.**

I can't generate proxy and i don't know what the issue ? any help?

[2020-10-21 11:32] bnymncoskuner commented on #5150
Having some problems with exposing the https port to the outside of the container.

[2020-10-21 11:40] hilalbsr commented on #5721
web layer is not working alone. Do we have to run other layers at the same time?

[2020-10-21 12:31] hikalkan commented on #5520
One solution to this problem is;

### Managing JS/CSS dependencies of the modules

* If a module package has its own js/css file, then it is used as `_content/PackageName/resource.js`. This is currently the suggested way by Microsoft. So, we don't change it.
* If the module package depends on a 3rd-party JavaScript or CSS library, say to font-awesome library, then we have two options;
  1. Module

[2020-10-21 12:39] TonyValenti opened #5886 "Improve Debugging Experience w/ DebuggerDisplayAttribute"
When when debugging an app, I find that I am commonly adding items to the "watch" and then expanding them.  This is because the default view for objects looks something like this:

![image](https://user-images.githubusercontent.com/13609558/96718314-70d06280-136d-11eb-81cf-1af3ff6a0921.png)

.NET includes the ```DebuggerDisplayAttribute``` which makes it very easy to decorate a class so that viewi

[2020-10-21 12:52] #5860 closed, assigned to nobody

[2020-10-21 12:53] #5794 closed, assigned to maliming

[2020-10-21 12:57] PMExtra commented on #5325
For now, you can do that:
In `src/{Namespace}.{Project}.HttpApi.Host/{Project}HttpApiHostModule`:
[code]

Edited:

`Pluralize()` and `Kebaberize()` are both from https://github.com/Humanizr/Humanizer

If you use underline naming style you may need also `Dasherize()`.

Thank @maliming for recommending Normalizer

[2020-10-21 13:05] stsrki commented on #5520
One other option is to use javascript isolation, but it would require more work on Blazor libraries. And probably not every library can be done with isolation in mind.

https://www.meziantou.net/javascript-isolation-in-blazor-components.htm

[2020-10-21 13:23] Stirda commented on #2811
Same usage. Same problem. Please help.

[2020-10-21 13:35] jortygu commented on #4977
@hikalkan it should be Register to the AbpIdentityOptions，not AbpIdentityAspNetCoreOptions

[2020-10-21 13:38] maliming commented on #5325
It is better to use https://github.com/Humanizr/Humanizer  to convert the name. As far as I know, many libraries such as EF Core use it.

[2020-10-21 13:45] #4073 closed

[2020-10-21 13:47] ebicoglu commented on #4073
The default delay time processing indicator is 500ms.
To change it you can set the `processingDelay` field.
If you want to remove the delay, set `processingDelay=0`

Example:

[code]

[2020-10-21 13:50] hikalkan commented on #5520
Thanks @stsrki I will check it deeper. The problem is that: We can apply it for our modules, but 3rd-party Blazor libraries (like Blazorise 😄 ) will continue to use `_content/...` approach.

[2020-10-21 14:33] PMExtra commented on #5325
@maliming Great! I got that from https://github.com/dotnet/EntityFramework.Docs/blob/master/entity-framework/core/what-is-new/ef-core-5.0/breaking-changes.md#new-behavior-12 :

[2020-10-21 15:59] Stirda opened #5888 "Remote service returns Unauthorized error"
When I call an `[Authorize]`-ed method of an application service of my remote service, I get this:

[code]

What I try to achieve is this:
- Blazor frontend.
- Classic ASP.NET Core backend. Include IdentityServer.
- Remote service for specific business work. Called by backend. Uses backend for auth. No anonymous access allowed. `ICurrentUser` being the one from backend would be very appreciated.

[2020-10-21 17:27] Stirda commented on #5888
With latest ABP (3.2.1).

[2020-10-21 23:14] khinhvuphiduong commented on #5877
I have create a new similar case in Demo Project and nothing happen, I'll try investigate my code problems. Thanks you!

[2020-10-21 23:14] #5877 closed, assigned to nobody

[2020-10-22 01:57] rlavaud commented on #527
I know this thread is old but I have been thinking about this as well and I think it is possible to use ABP in an Azure Function environment. The fist thing is to be familiar with what ABP does provide build in, for example in ABP you create application services which can dynamically generate plain rest API. The beauty of the Application Service is that you logic leaves there or it at the very lea

[2020-10-22 02:05] seayxu commented on #5619
I tested dynamic api proxy use `IIdentityUserAppService`,and add `PackageReference` `Volo.Abp.Identity.HttpApi.Client` ,but throw a exception.

method:
[code]

exceptions:
[code]

[2020-10-22 02:47] maliming commented on #5619
@iswing  I don't have the MySQL. Can't test the project that you provider.

[2020-10-22 05:08] maliming commented on #5619
@seayxu Please create a new issue.

[2020-10-22 05:22] maliming commented on #5888
hi @Stirda

The steps you provided are very complicated. Can you try to reproduce this problem with simple codes and steps?

Abp's template project can be tiered, maybe you can try that.

[2020-10-22 06:47] yincen commented on #5235
Sorry, I just saw the message now.
I don't create controller, Just create a application service
You can re-produce it by following the steps below:
1. Create file "TestAppService" in application layer, Code:
[code]
2. Calling the API by Swagger UI
It redirected to the login page.
![图片](https://user-images.githubusercontent.com/14144706/96834959-71ecb700-1475-11eb-9221-8a2fec9b14f3.png)

[2020-10-22 07:01] Stirda commented on #5888
Hi @maliming

Thank you for your answer.

Sorry but I think that my steps are already the simplest to achieve the goal. Communication between backend and remote service needs a few .json configuration files, because of remote services calls and authentication leaded by backend. I already make my steps easier and lighter that my actual solution.

I believe that @EngincanV thumb-up is for your tiere

[2020-10-22 07:12] amsaighi commented on #5885
Verify ur version @abp/ng-scematics :"~3.2.1"
and try to give a source of ur API by following this :
[generate-proxy](https://docs.abp.io/en/abp/latest/CLI#options-5)

[2020-10-22 07:12] maliming commented on #5235
@yincen  See https://github.com/abpframework/abp/issues/2643#issuecomment-574940166

[2020-10-22 07:45] realLiangshiwei commented on #5841
* `abp.features.get(name)` If the feature does not exist, it will return `undefined`. same as `abp.setting.get(name)`.

[2020-10-22 08:08] realLiangshiwei commented on #5844
Can you share some screenshots

[2020-10-22 08:16] Stirda opened #5896 "Unauthorized in Swagger with tiered application"
1. `abp new Acme.BookStore -u blazor --separate-identity-server`
1. `dotnet build`
1. DbMigrator> `dotnet run`
1. IdentityServer> `dotnet run`
1. HttpApi.Host> `dotnet run`
1. Browse IdentityServer> Login as `admin`
1. Browse HttpApi.Host URL (swagger)> Call `/api/identity/users` > `401 Unauthorized`

With ABP 3.2.1.

[2020-10-22 08:52] #5530 closed, assigned to ilkayilknur

[2020-10-22 09:25] Stirda commented on #5888
@maliming At least, what are you thoughts about:
[code]
Is this a sign of misconfiguration? How to solve?

I accept to even simplify more by asking the following:

What to add to a remote service (module) ABP solution and to an application ABP solution, for the second one to be able to call the first one with authentication? Even if we cannot solve the sent of the bearer token (authenticating curr

[2020-10-22 10:04] seayxu opened #5897 "Dynamic HttpApi Client throw exception Missing path parameter value for xx parameter"
Abp : **3.2.1** ` -m none --no-ui --separate-identity-server --tiered`

step 1: Created project with paramter ` -m none --no-ui --separate-identity-server --tiered`

step 2: Migrated database.

setp 3: Added PackageReference `Volo.Abp.Identity.HttpApi.Client` to `HttpApi.Host`

setp 4: Added `AbpIdentityHttpApiClientModule` to `HttpApiHostModule` DependOn.

setp 5: Added remote service url to apps

[2020-10-22 10:09] seayxu commented on #5897
But I new a module for test is ok by project reference.

[2020-10-22 10:27] muhammedshaaban7 commented on #5885
@amSaighi actualy version @abp/ng-scematics :"~3.2.1" and i tried to give a source , the result is the same.
**[Invalid API Definition] The provided API definition is invalid.**

any suggestions

[2020-10-22 10:36] hikalkan commented on #3959
To demonstrate it, I have created a demo project with MVC UI & EF Core. The solution name is `ForeignDemo`.

### Department Entity

I created a `Department` entity:

[code]

A User will have a department and a department can be many users (1 to many relation)

I added a DbSet property to `ForeignDemoDbContext`

[code]

and defined the mapping in the `ForeignDemoDbContextModelCreatingExtensions`:

[2020-10-22 10:36] #3959 closed

[2020-10-22 10:37] CaiJinHao opened #5898 "How do I use ZH-Hans by default when a project starts"
How to use ZH-Hans by default when the project starts? I start en every time, and it can only work by changing Cookies to ZH-Hans.I want my project to start with ZH-Hans by default.Settings like the following do not work, the default is en
Configure<AbpLocalizationOptions>(options =>
            {
                options.Resources
                    .Add<YourProjectNameResource>("zh-Hans")

[2020-10-22 10:42] SecTex opened #5899 "Angular: oAuthConfig in module template"
The angular module-dev-app still uses the angular-account-ui and I'm facing issues when changing the oAuthConfig to use the identity-server-mvc-ui (tiered structure). I cant get the user-context unless i set the identity-server-api as the default api in my angular app.

Any tips what I'm missing?

# Steps to reproduce
1. Create a new module: `abp new Acme.BookStore --template module` (https://gith

[2020-10-22 11:05] realLiangshiwei commented on #5898
See https://github.com/abpframework/abp/issues/5219

[2020-10-22 11:05] #5898 closed, assigned to nobody

[2020-10-22 11:14] bnymncoskuner commented on #5832
Hello,

We are evaluating this within our team and may implement a solution in the upcoming versions.
Meanwhile, I've put together a sample project which I think is close enough to what you want to achieve. You can check it out [here](https://github.com/bnymncoskuner/abpframework-custom-layout-example)

What I did was to create a custom layout (let's call it `admin-layout`) and use it within my co

[2020-10-22 11:17] talhazengin opened #5900 "Move MyProjectPermissions.cs from under project Application.Contracts to project Domain.Shared"
Hi,
This is a suggestion.
I wrote a DataSeedContributor recently. But it was hard, because i couldn't find permission definitions under Domain Layer.

[2020-10-22 11:19] maliming commented on #5900
Permission should exist in the application service layer。

[2020-10-22 11:19] #5900 closed, assigned to nobody

[2020-10-22 11:20] talhazengin commented on #5900
Please read again my edited entry message. I created the issue with miss click.

[2020-10-22 11:24] mtozlu commented on #5832
Yes, i implemented a similar solution with currently available structure. It is enough for now.
Thank you for your time and effort.

[2020-10-22 11:26] bnymncoskuner commented on #5832
Thank you for your input, I'll create another issue and put it into the backlog. Closing this for now.

[2020-10-22 11:26] #5832 closed, assigned to bnymncoskuner

[2020-10-22 11:28] talhazengin commented on #5900
So, can i get an explanation why is this must be in the application layer?

[2020-10-22 11:28] bnymncoskuner opened #5901 "[Angular] enable extending layout"
Related to #5832

[2020-10-22 11:53] maliming commented on #5897
@seayxu Please share a project.

[2020-10-22 12:37] seayxu commented on #5897
@maliming https://github.com/seayxu/Abp.Demo

[2020-10-22 13:03] #5527 closed, assigned to hikalkan

[2020-10-22 13:05] hikalkan commented on #5527
I implemented this. So now;

* All the components (directly or indiretly derived from the `ComponentBase`) are automatically registered to the dependency injection, with transient lifecycle. And they are resolved from the `IServiceProvider`.
* You can use contrtuctor injection and property injection patterns in your components.

[2020-10-22 13:06] hikalkan opened #5902 "Blazor: How to override components come with the modules/themes?"
I implemented the `IComponentActivator` (#5527). Now, it is pretty easy to override/replace a Razor Component.

Assume that you want to replace the `MainSiderbarMenuItem` component.

1. Create a razor component, say `MyMainSiderbarMenuItem`, that inherits from the one you want to replace:

**MyMainSiderbarMenuItem.razor content**

[code]

You can completely change the markup here. The best way is

[2020-10-22 13:06] #5902 closed, assigned to hikalkan

[2020-10-22 13:44] hikalkan opened #5904 "Introduce Volo.Abp.AspNetCore.Components package"
* `Volo.Abp.AspNetCore.Components` is a part of the Volo.Abp (the framework) solution, depends on the `Microsoft.AspNetCore.Components` NuGet package.
* Move the `ServiceProviderComponentActivator` and the related code done in [that commit](https://github.com/abpframework/abp/commit/a6a5f5aca99db7d511fbd8fcf5756008fdf83ee2) to this new package.
* Add reference to this new package from Volo.Abp.Asp

[2020-10-22 13:57] #5748 closed, assigned to realLiangshiwei

[2020-10-22 13:59] #5841 closed, assigned to realLiangshiwei

[2020-10-22 14:00] #5375 closed, assigned to realLiangshiwei

[2020-10-22 14:02] #5414 closed, assigned to maliming

[2020-10-22 14:03] amsaighi commented on #5885
Did you verify the baseUrl of API in envirenement.ts ?

[2020-10-22 14:10] #5619 closed, assigned to maliming

[2020-10-22 14:10] #5897 closed, assigned to maliming

[2020-10-22 14:27] muhammedshaaban7 commented on #5885
this is a enviroment.ts as following
import { Config } from '@abp/ng.core';

const baseUrl = 'http://localhost:4200';

export const environment = {
  production: false,
  application: {
    baseUrl,
    name: 'Demo',
    logoUrl: '',
  },
  oAuthConfig: {
    issuer: 'https://localhost:44358',
    redirectUri: baseUrl,
    clientId: 'Demo_App',
    responseType: 'code',
    scope: 'offline_access

[2020-10-22 14:39] amsaighi commented on #5885
Can you push ur project on the cloud ( github ) ?

[2020-10-22 17:47] olicooper opened #5907 "Updates to ICurrentTenant functionality"
Just a small suggestion.. It would be nice if we could see if the tenant has been configured/calculated. My proposal would be a breaking change though.
The change would allow us to know if we need to make a database call to fetch the tenant name and call `CurrentTenant.Change(...)` with the details.

I think that `CurrentTenant.IsAvailable` should tell us if the tenant was configured and a new pro

[2020-10-23 01:35] #5820 closed, assigned to nobody

[2020-10-23 01:36] maliming commented on #5896
We do not implement any authentication methods in swagger by default. You can do it yourself. : )

[2020-10-23 01:41] maliming commented on #5876
hi

* Steps needed to **reproduce** the problem.

[2020-10-23 03:00] maliming commented on #5817
![image](https://user-images.githubusercontent.com/6908465/96951184-8c2e9f80-151e-11eb-8f00-88b0d26303a4.png)

![image](https://user-images.githubusercontent.com/6908465/96951202-918bea00-151e-11eb-9df4-86c5c7f350f8.png)

[2020-10-23 08:15] halido commented on #5876
Hello @maliming ,

I have created git repo for this Issue,
https://github.com/halido/Abp_Issue_5876

I have added 2 TODOs inside codes with
![image](https://user-images.githubusercontent.com/2511937/96973114-25aa8100-1520-11eb-81d5-0c671e5d884f.png)

Steps
- Add breakpoint to FilesController Line 61
- Add breakpoint to FileAppService Line 34
- Run DbMigrator Project for Migrations
- Run Web projec

[2020-10-23 08:24] cld0815 opened #5910 "Is it possible to provide Microservice Demo baseon Blazor ?"

[2020-10-23 09:06] maliming commented on #5876
It seems to be related to the interceptor, I will deal with this problem, thank you

[2020-10-23 09:11] bnymncoskuner commented on #5817
Merged into rel-3.3

[2020-10-23 09:11] #5817 closed, assigned to bnymncoskuner, armanozak

[2020-10-23 09:20] maliming commented on #5876
hi

Add  `[DisableValidation]` attribute to `Bytes`  property.

[code]

[2020-10-23 09:20] #5876 closed, assigned to nobody

[2020-10-23 09:24] halido commented on #5876
This solves my problem, Thanks for help

[2020-10-23 09:24] ebicoglu opened #5912 "Können Sie uns helfen, ABP ins Deutsche zu übersetzen?"
Hi we are trying to translate the ABP localizations into German language.
Is there anybody who can help us.
I'll send you the translation files.

[2020-10-23 09:35] hikalkan opened #5913 "Should Configure ProviderOptions on the Blazor UI startup project"
Currently it is

[code]

It should be

[code]

Otherwise, we can't get the necessary claims from the Blazor app.

[2020-10-23 10:40] #5913 closed, assigned to hikalkan

[2020-10-23 10:52] stsrki opened #5915 "Create additional before and after methods for AbpCrudPageBase operations"

[2020-10-23 12:08] #5523 closed, assigned to hikalkan

[2020-10-23 12:17] CaiJinHao commented on #5898
thank you @realLiangshiwei

[2020-10-23 12:41] vnc4567 opened #5916 "A second operation started on this context before a previous operation completed"
Hi, I have an issue on this code :

[code]
I get this error :

**A second operation started on this context
before a previous operation completed. This is usually caused by different
threads using the same instance of DbContext. For more information on how to avoid
threading issues with DbContext**

If I change my code to this :

[code]

The error is gone when I remove **autosave:true**

I know in

[2020-10-23 13:10] maliming commented on #5916
1. Never use **void** as an async method return type.
2. EF Core doesn't support multiple parallel operations being run on the same context instance. You should always wait for an operation to complete before beginning the next operation. This is typically done by using the await keyword on each async operation.

[2020-10-23 13:12] maliming commented on #5910
hi

There is no such plan.

[2020-10-23 13:12] #5910 closed, assigned to nobody

[2020-10-23 13:32] vnc4567 commented on #5916
Thank you for your reply,
I understand your point but I don't understand why without autosave : true it works ?

How does "autosave: true" work ? I don't quite get this part

Maybe it comes from the transaction without autosave nothing is commit to DB until the end of the function

[2020-10-23 13:36] hikalkan opened #5917 "Remove IHybridServiceScopeFactory usages"
See https://github.com/abpframework/abp/issues/5882

[2020-10-23 13:36] hikalkan commented on #5882
It is intentional. Because httpContext.RequestServices is disposed at the end of thr request. We can't dispose it.
However, I see the problem. So, I will remove the usages of the `IHybridServiceScopeFactory` from critical paths. We can consider to completely remove it in the future.

Opened a new issue: https://github.com/abpframework/abp/issues/5917

[2020-10-23 13:36] #5882 closed, assigned to nobody

[2020-10-23 13:38] #5917 closed, assigned to hikalkan

[2020-10-23 18:50] nymeron opened #5919 "[Angular UI] ListService - server side filtering"
This is more of a question related to use of ListService in Angular UI than bug/issue.

Is there a way to implement server side filtering with ListService? I know I can use an input search, but I'd like to filter data on server side based on some property that'd send.

Example on get data that have property X equal to 1.

Also I asked the question on SO https://stackoverflow.com/questions/64453564

[2020-10-23 20:11] #5092 closed, assigned to nobody

[2020-10-23 23:21] RobinDavisNotts commented on #4751
Using the latest version of Ocelot the issue seems to stem from the old config value being "ReRoutes" when it should be "Routes", demo application worked as expected when I did the change

[2020-10-24 00:13] aburakab opened #5920 "ERROR RangeError: Maximum call stack size exceeded"
I followed the same step available in the documentation.
https://docs.abp.io/en/abp/latest/Tutorials/Part-2?UI=NG&DB=EF

Everything is functioning! But getting this error in chrome console

[code]
And this is exactly what I have in my code

app-routing.module.ts
[code]

route.provider.ts
[code]

I also tried to upgrade angular using `ng-update` because I found some resources telling me to do that.

[2020-10-24 02:25] xyfy commented on #5842
I am using mysql with mysql , but with the standalone  mysql server.  it still working properly

I think it is some thing error with your mysql docker

you should provider more infomation.

[2020-10-24 02:51] maliming commented on #5916
Please check the document:
https://docs.abp.io/en/abp/latest/Unit-Of-Work
https://docs.abp.io/en/abp/latest/

[2020-10-24 03:30] Qlimax2009 opened #5921 "Generate-proxy:How to configure the service api"
I use the abp3.2.1 with angular .
I use abp generate-proxy to cerate services.
abp generate code:
` checkBeamByBeamId = (beamId: number) =>
    this.restService.request<any, boolean>({
      method: 'POST',
      url: `/api/app/beam/checkBeam/${beamId}`,
    },
    { apiName: this.apiName });`

The api in C# code:
`public Task<bool> CheckBeam(long beamId)`

But I wish the api code
`checkBeam = (be

[2020-10-24 09:39] tntwist commented on #5912
Hi. I would like to help with this. I also would like to help translating ABP Commercial localizations into German.

[2020-10-24 10:38] #5904 closed, assigned to ilkayilknur

[2020-10-24 10:52] #5814 closed, assigned to maliming

[2020-10-24 12:13] #5916 closed, assigned to nobody

[2020-10-24 14:52] hikalkan commented on #5382
Canceling this issue since it will be a big breaking change. Also, there is a way to execute async code on application startup. We can implement `IHostedService` as [documented](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/host/generic-host) by Microsoft.

[2020-10-24 14:52] #5382 closed, assigned to nobody

[2020-10-24 15:56] xdmushui commented on #3888
@zaktecs  How did you solve this problem?
I had the same problem. I'm using 3.3.0.rc.1.

[2020-10-24 16:27] #5325 closed, assigned to hikalkan

[2020-10-24 16:31] hikalkan commented on #5325
This is done. You can see the migration guide: https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-4_0.md#auto-api-controller-route-changes

I added an option for who want to continue with the version 3.x approach since this breaking change may effect their client applications.

OLD STYLE:

![image](https://user-images.githubusercontent.com/1210527/97086966-4b727b80-162f-11eb

[2020-10-24 18:10] zaktecs commented on #3888
Hi Mason,

You have to delete your cookies. if you press F12  => Application => Select
Cookies and delete cookies => Fress F5

Cheers,

Zak

On Sat, Oct 24, 2020 at 4:57 PM Mason <notifications@github.com> wrote:

[2020-10-24 18:54] MarxITSolutions opened #5926 "Publish to IIS on remote VM using DevOps"
Why is it so hard to publish a production release? And why is there not more information about publishing?

[2020-10-24 19:04] muhammedshaaban7 commented on #5885
basic startup template from direct download with following :-
project type --- application
ui framework --- angular
Database provider ---ef core
when downloaded it , run app and error shown.

thanks @amSaighi appreciate your feedback

[2020-10-24 20:07] #5926 closed, assigned to nobody

[2020-10-25 00:43] Enissay commented on #1528
@hikalkan It is needed because other modes gives more/different advantages over direct mode (read more [**here**](https://www.rabbitmq.com/tutorials/amqp-concepts.html)).

I see in your source code that "direct" is hardcoded (see sample source code below). Up to you to decide how to modify it, here are some suggestions:

- Add as a parameter to `EventNameAttribute`  e.g.: `[EventName("test.exchang

[2020-10-25 05:57] PMExtra opened #5927 "Can I customizing the input dto of modules?"
My project need register by phone number instead of username or email.
So I want to append the `PhoneNumber` property into `RegisterDto` of `AccountModule` ([/api/account/register](https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Application/Volo/Abp/Account/AccountAppService.cs#L32-L44)).

How can I customize it?
Do I have to disable the default AccountModule and

[2020-10-25 08:34] realLiangshiwei commented on #5927
All DTOs are extensible:
https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#extending-data-transfer-objects

[2020-10-25 09:07] AlexanderPilhar commented on #5912
I would like to help you with this, too.

[2020-10-25 09:35] PMExtra commented on #5927
Thanks, I've read this document before I send this issue. But I thought it can only extend output dto, otherwise I don't know how to access the extended field. But I may miss something about `extraProperties`, I will read the document again and try it later.
On the other hand, how about if I want to drop some unused field from the current DTO in module?
Can I just disable specified API from module

[2020-10-25 09:56] PMExtra opened #5928 "Authorize with multiple permission (one of them)"
In old boilerplate, We have `[AbpAuthorize("Permission1", "Permission2", RequireAllPermissions = false)]` that can specify multiple permissions with one API.

Now, we migrated from `AbpAuthorizeAttribute` to `Microsoft.AspNetCore.Authorization.AuthorizeAttribute`, multiple `AuthorizeAttribute` will be evaluated with AND logic, the same as `RequireAllPermissions = true`.

I cannot find a simple way

[2020-10-25 10:10] RobinDavisNotts opened #5929 "Microservice Architecture overwriting login page"
I am currently using the ABP microservice sample, and looking at overwriting the login / register pages and I need to support these three login scenarios:

Host Admin Login

Tenant Admin Login

Tenant Customer Login

however due to the way the overwriting works I have to do it in the Auth Server project, so i am currently unsure how to overwrite the login pages to perform the above three scenarios

[2020-10-25 10:41] amsaighi commented on #5885
It should work,
I suggest you to follow this steps :
- Create project using ABP Cli ' abp new Acme.BookStore -u angular --separate-identity-server '
- Run the both of project ( httpApi.host and IdentityServer ).
- Generete proxy ( when the project in runing )

try to use and run this abp repo " [sample ABP-Angular ](https://github.com/amSaighi/ABP-Angular) "
ping @muhammedshaaban7

[2020-10-25 11:04] realLiangshiwei commented on #5927
Object extension system can expand input & output.

Example input :

[code]

[2020-10-25 11:24] hikalkan opened #5930 "Create AbpComponentBase for Blazor UI"
We can add common services as base properties (as lazy resolved), like UiMessageService, Alerts, Notifications... etc.
Then derive the AbpCrudPageBase from this class.

[2020-10-25 12:21] PMExtra commented on #5927
I still don't know how to read the extra properties in C#, the DTO does not inherit from `IHasExtraProperties`

[2020-10-25 12:23] maliming commented on #5928
See https://docs.abp.io/en/abp/latest/Authorization#overriding-a-permission-by-a-custom-policy

[2020-10-25 12:23] #5928 closed, assigned to nobody

[2020-10-25 12:35] PMExtra commented on #5928
@maliming It's not what I want. I know I can customize authorization to implement that, but it may take too much code. My requirement is very simple and general, just combine several abp permissions (Such as somebody can get all entities, some other can get only recent. They can both access `GetAll` but I will append a `Where` condition to limit result if the current user does not have GetAllPermi

[2020-10-25 12:40] PMExtra commented on #5928
Another use case:
Admin can get all entities, user can get only entities created by himself. So I defined two permissions: `GetAll` and `GetMine`.
They can both access `GetAll` API but I will append a `Where` condition to filter the result for `GetMine` permission.

[2020-10-25 13:05] realLiangshiwei commented on #5927
See https://github.com/abpframework/abp/pull/4427#issuecomment-650603470

[2020-10-25 13:39] ebicoglu opened #5931 "Need help for es translation - Ayuda con la traducción al español"
Hi @miguelgimenez  and @wocar, I found you from this issue https://github.com/abpframework/abp/issues/1413
Can you help me to translate ABP into Spanish language?
I know there's an existing Spanish translation but we are missing many texts now in Spanish.

These are the localization files to be translated into es-MX.
There are 2 files. It would be very appreciated, if you or anybody can help on th

[2020-10-25 13:43] ebicoglu commented on #5912
Hi guys,

Thanks for accepting my request.
Here are the 2 translation files that needs to be translated.
You just fill the `Target` fields. Then make that a Zip file and attach the file under this issue.

1. [abp-translation.volo.de-DE.zip](https://github.com/abpframework/abp/files/5434832/abp-translation.volo.de-DE.zip) - **@tntwist**
2. [abp-translation.abp.de-DE.zip](https://github.com/abpframe

[2020-10-25 14:27] maliming opened #5932 "Remove the unique constraint of the Name property of ApiResource, IdentityResource and ApiScope and update migrations."
https://github.com/abpframework/abp/blob/87e5dc425980000af692235d1930abe7bb518d0d/modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/EntityFrameworkCore/IdentityServerDbContextModelCreatingExtensions.cs#L196

https://github.com/abpframework/abp/blob/87e5dc425980000af692235d1930abe7bb518d0d/modules/identityserver/src/Volo.Abp.IdentityServer.EntityFramewor

[2020-10-25 14:53] dmytroshchotkin opened #5933 "IFeatureChecker.GetOrNullAsync throws an AbpException if not found"
Please check Volo.Abp.Features.IFeatureChecker.GetOrNullAsync(string name) method.
It throws an exception if the name is not found. And it's expected to get null instead.

[2020-10-25 14:59] maliming commented on #5933
hi

**FeatureChecker** does not seem to throw an exception.

https://github.com/abpframework/abp/blob/1a622bc50fbd9b554f61078d5eeafa9def3216e3/framework/src/Volo.Abp.Features/Volo/Abp/Features/FeatureChecker.cs#L39-L66

* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-10-25 16:20] hikalkan opened #5934 "Show "Preview" on the version list in the docs module"
For example, we should show `3.3 (preview)` in the image below, instead of `3.3`

![image](https://user-images.githubusercontent.com/1210527/97112740-044fbd80-16f7-11eb-9137-18096477288c.png)

[2020-10-25 16:41] hikalkan commented on #5803
Closed by https://github.com/abpframework/abp/pull/5864

[2020-10-25 16:41] #5803 closed, assigned to realLiangshiwei

[2020-10-25 17:22] muhammedshaaban7 commented on #5885
![image](https://user-images.githubusercontent.com/64292395/97114134-b7241980-16ff-11eb-8f77-5d4075b61cb9.png)

the same @amSaighi ,, i downloaded sample ABP-Angular and i followed steps but not working

[2020-10-25 20:09] chadboettcher commented on #631
Thank you so much @jack-gaojz !  It's working for me now.

[2020-10-25 20:28] TonyValenti opened #5935 "Please enable discussions on this Repo"
This can be done under the repository settings.

[2020-10-25 22:12] amsaighi commented on #5885
![abpppp](https://user-images.githubusercontent.com/3142753/97120061-cbbedc80-1714-11eb-9d9c-084445611f73.PNG)
look, I downloaded it and generate the proxy, and it work perfectly.

Are you sure that you get the result from http host ? ( swagger of course )

![swager](https://user-images.githubusercontent.com/3142753/97120475-7a641c80-1717-11eb-898f-5c25fc61e62b.PNG)

[2020-10-25 23:33] geffzhang opened #5936 "Server-side PreRendering with Blazor WebAssembly"
.NET 5 Blazor  WebAssembly  has support Server-side PreRendering,  https://github.com/dotnet/aspnetcore/issues/21514

[2020-10-26 03:22] zsanhong opened #5939 "how to login with abp API?"
I want to write a  mobile app with xamarin.form, and I use abp Api as remote service, the question is: what api should I invoke when I want to login,register user?

[2020-10-26 03:25] realLiangshiwei commented on #5939
See https://identityserver4.readthedocs.io/en/latest/endpoints/token.html

[2020-10-26 03:25] #5939 closed, assigned to nobody

[2020-10-26 05:01] 274188A opened #5940 "DataGrid no longer scrolls after Popup (Blazorise Modal) closes"
This has some history [here](https://github.com/stsrki/Blazorise/issues/296)

In the actual Blazorise repo the issue is closed but I see the issue is a problem here inside the Abp v3.3.0-rc.2

There may be a case to check if Abp referencing an up to date version of Blazorise?

[2020-10-26 05:33] 274188A commented on #5940
Looking at the latest Blazorise with boostrap here and the problem is not an issue outside of the world of ABP
https://bootstrapdemo.blazorise.com/tests/datagrid (set the option to pop-up modal) which leads me suspect something in ABP is breaking this again (despite being fixed in Blazorise repo)

[2020-10-26 05:37] SuriyaArul commented on #394
Hi @hitaspdotnet , I have downloaded ABP.IO project with Angular UI and i wrote some api's also. So, now I want to use Blazor UI in abp.io way. I have checked documentation in abp.io site, but I unable to find the solution, so plz help me out this issue. How to convert Angular UI to Blazor client without changing existing abp.io api's?

[2020-10-26 05:45] arifulwafi opened #5941 "Auto Logout Issue- Security stamp validation failed, rejecting cookie"
I am using ABP 3.1. The identity server logs me frequently. Any idea?
Here are the logs

[code]

[2020-10-26 06:23] bnymncoskuner commented on #5919
Hello,

I've posted an answer to your question. It should work for you. If it doesn't, you can add a comment to my answer and I'll reply. Thank you.

[2020-10-26 06:23] #5919 closed, assigned to bnymncoskuner

[2020-10-26 06:30] bnymncoskuner commented on #5920
There was a bug that's been fixed in the version `3.3.0-rc.1`. We will release the stable version soon. You could wait for the stable version or try `3.3.0-rc.1`.

[2020-10-26 07:39] CrazyBaran commented on #4385
If no work is started already on this feature, me and my friend would take it and try implement. I would write here, if there will be some question. You can observe progress on this fork [https://github.com/CrazyBaran/abp](url)

[2020-10-26 07:54] yekalkan commented on #5934
duplicate of https://github.com/abpframework/abp/issues/5562

[2020-10-26 07:54] #5934 closed, assigned to nobody

[2020-10-26 08:34] kion-admin commented on #1754
abp boilerplate was filter current language row in memory after get all rows from db, we'd better offer this as an option

[2020-10-26 11:01] stsrki commented on #5818
Tested and it's working as expected. Active class is applied properly, and disabled class is applied because there is no need to be able to click on the same page item if it's already active.

[2020-10-26 11:01] #5818 closed, assigned to stsrki

[2020-10-26 11:52] cotur opened #5945 "Update CreateGetListInputAsync on AbpCrudPageBase"

[2020-10-26 12:26] #5772 closed, assigned to armanozak

[2020-10-26 13:52] OrxanMusayev opened #5948 "Could not retrieve the OpenId Connect discovery document! ErrorType: PolicyViolation. Error: Endpoint does not use HTTPS"
when i login with abp cli command (abp login "username" -p "password") I get this error
![Screenshot 2020-10-26 175058](https://user-images.githubusercontent.com/33355338/97180854-07f54a00-17b4-11eb-93e3-c71dafa50853.png)

[2020-10-26 16:32] hikalkan opened #5950 "Additional IDS4 data migration & upgrade notes"
We have upgraded abp.io platform web sites to .NET 5 and IdentityServer 4.1.1 today and had some problems related to data migration. I will document these to help others.

We had already documented it before: https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-4_0.md#identity-server-changes

I will add these additional notes;

* IdentityServerApiScopes table's Enabled field i

[2020-10-26 16:36] Stirda opened #5951 "Add an explicit exception throw when calling synchronous remote method with C# API client proxy"
- Synchronous remote method returning `T1<T2>`.
- Call from remote Swagger: OK.
- Call from an ABP C# API client proxy: an exception is thrown:

[code]

Maybe it seems that `Volo.Abp.Http.Client.DynamicProxying.DynamicHttpProxyInterceptor.InterceptAsync` takes from granted that remote return type is always a `Task<T>` by looking into `GenericTypeArguments[0]` and calling `GetGenericArguments()[0]`

[2020-10-26 16:54] Stirda commented on #5951
I wonder if inheriting from `ApplicationService` is also a requirement. I got some `Unable to resolve service` if just implementing `IApplicationService`.

[2020-10-26 17:07] #5032 closed, assigned to maliming

[2020-10-26 17:15] Stirda commented on #394
@SuriyaArul ABP application services can automagically be injected in Blazor. No additional coding required in your API.

From [official tutorial](https://docs.abp.io/en/abp/latest/Tutorials/Part-9?UI=Blazor&DB=EF#authors-razor-component):

[2020-10-26 17:25] Stirda commented on #5896
Closed this issue because duplicate of https://github.com/abpframework/abp/issues/1874 and solutions were given there.

[2020-10-26 17:25] #5896 closed, assigned to nobody

[2020-10-26 19:23] gentledepp commented on #619
I just went through your documentation and got a bit curious how your "localevents" and "domainevents" are implemented.
I found, that you are using the "publish events **before** committing the current transaction" approach.
[The deferred approach to raise and dispatch events](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-imp

[2020-10-27 02:01] realLiangshiwei commented on #5948
@erolarkat
It looks like we are losing some configuration.  https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-4_0.md#migrating-the-database
Could you check this?

[2020-10-27 05:04] realLiangshiwei commented on #5948
Related https://github.com/abpframework/abp/issues/5950

[2020-10-27 06:02] realLiangshiwei commented on #5948
It works now, please try to login again.

[2020-10-27 06:02] #5948 closed, assigned to nobody

[2020-10-27 07:22] #5945 closed, assigned to cotur

[2020-10-27 07:28] #2988 closed

[2020-10-27 07:31] #5463 closed, assigned to yekalkan

[2020-10-27 07:32] CrazyBaran commented on #4385
To create topics in azure service bus it need to be additional layer for azure managment. Cause topics need to be first initialized as it is in Kafka. SubscriptionId and other authorization should be in AzureServiceBus configuration or we will go with some global authorization for azure? How it works for azure blob storage?

[2020-10-27 07:38] yeahe83 commented on #5023
haha, i just say redis now is more than why it is created.

[2020-10-27 07:46] realLiangshiwei opened #5953 "Create WPF startup project document"
Related https://github.com/abpframework/abp/pull/5942

[2020-10-27 07:48] cddldg opened #5954 "abp.RabbitMq how to receive topic !"
abp.RabbitMq   how to receive topic !

[2020-10-27 08:53] #5332 closed, assigned to armanozak

[2020-10-27 09:45] numanrauf opened #5958 "How to integrate the Telerik Angular controls with the ABP Angular UI"
Good Day,
I am using telerik controls in my project, I want to integrate grid control with server databinding (server side paging, sorting, searching etc).

Is there any working example for this?

Thanks.

[2020-10-27 10:26] hikalkan opened #5959 "Blazor UI: Basic theme better loading/error views"
- [ ] Better "not found" page.
- [ ] Better "not authorized" page.
- [ ] Better authentication pages (shown on redirect, login, logout... etc)

[2020-10-27 10:34] nymeron commented on #5867
I'm reopening this issue since I found out that:

- calling GetListAsync() successfully returns list of entities
- calling AsyncExecuter.FirstOrDefaultAsync() throws exception: Cannot access a disposed object.

But if I call the same query from Host api project it works, calling it from Worker service throws this exception.

I updated demo app in my gitrepo (see previous post for link).
Check the

[2020-10-27 11:23] hikalkan opened #5960 "Upgrade all samples to 4.0 & test"
- [x] BookStore-*, BasicAspNetCoreApplication, PostgeSqlDemo / @maliming  https://github.com/abpframework/abp-samples/pull/48
- [x] DashboardDemo, ClientSimulationDemo, SignalRDemo, SignalRTieredDemo / @yekalkan
- [x] Authentication-Customization, OrganizationUnitSample / @gterdem https://github.com/abpframework/abp-samples/pull/50
- [x] DevExtreme-MVC, TextTemplateDemo / @cotur https://github.com

[2020-10-27 11:54] PMExtra commented on #5001
How can I manually configure Navigation Properties for AppUser now?

I think it should adding some code in `ProjectMigrationsDbContext` to get all relationships about `AppUser` and map it to `IdentityUser`, but I don't know how to do it concretely.

[2020-10-27 12:15] hikalkan opened #5961 "Blazor UI pages/compoents: Use the localizer (L) from AbpComponentBase"
Like I did: https://github.com/abpframework/abp/commit/bba47d445005468aeab6d7cf59b213fa38094660

[2020-10-27 12:20] #5930 closed, assigned to hikalkan

[2020-10-27 12:22] #5801 closed, assigned to cotur

[2020-10-27 12:32] cotur opened #5962 "Replace abstract base class to partial class for blazor components."
With [this](https://github.com/abpframework/abp/issues/5902) feature, there is no need any abstract class for components. We can convert it to partial classes.

[2020-10-27 12:35] #5950 closed, assigned to hikalkan

[2020-10-27 13:36] #5915 closed, assigned to stsrki

[2020-10-27 14:25] #5953 closed, assigned to realLiangshiwei

[2020-10-27 15:06] PMExtra commented on #5001
I have a little step:
[code]

[2020-10-27 15:15] hikalkan commented on #631
Started to the theming document for the aspnet core mvc UI: https://github.com/abpframework/abp/blob/rel-3.3/docs/en/UI/AspNetCore/Theming.md

I will complete it in a short time.

[2020-10-27 15:20] Brahimhz opened #5963 "User & Role Manager"
I'm new in #abpFramework , I followed all the tutorial and Documentation in https://www.abp.io/ , but I still blocked in User and Role Manger.
I would custom register , role and user AppService , by adding default roles in creation of DB .
And in Register and creation of users , I would assign for them a specific role .
Then with another Endpoint , I want to add for them Other Roles , and have the

[2020-10-27 16:34] desmored opened #5964 "Abp 3.3.0 does not generate auto API controller for ApplicationService inheriting from other ApplicationService"
ABP Framework version 3.3.0

Hi i migrated a project from version 3.2.1 to version 3.3.0, and i noticed that an ApplicationService was not exposed as api in swagger definition. With version 3.2.1 it was there and i used it in my angular app with no problem.

This ApplicationService inherits from IdentityUserAppService:

[code]

So i tried to create two simply application services A and B in same p

[2020-10-27 18:32] hikalkan commented on #5657
I think this is not a community article idea. The goals of the ABP Framework includes both. However, it is pretty new (compared to the original AspNet Boilerplate) and we are continously adding documents and samples. Microservice samples, documentes and even tooling are in our road map.

[2020-10-27 18:32] #5657 closed, assigned to nobody

[2020-10-27 18:34] hikalkan opened #5965 "Creating a new UI theme by copying the Basic Theme (for MVC UI)"
I am currently writing the MVC theming document and I see such a sample would be good.
We can create a new solution, copy the Basic Theme into the solution, change NuGet package references to local project references and customize the theme a bit to demonstrate it.

[2020-10-27 18:43] hikalkan commented on #5964
Hi @desmored

Thank you for reporting this in a short time. I must say that this is by design. I've done this intentionally with [this commit](https://github.com/abpframework/abp/commit/71b1384598128b7432491422f1b64837c7fb97af#diff-7432d3f3b7633b52d87af78008085b7b9562fe0d5c61a873693ef6e3a6fc3259R88).

Inheriting a controller/appservice without replacing/overriding it is not a good idea and it was

[2020-10-28 02:25] maliming commented on #5951
hi
Could you share some code to reproduce this?

[2020-10-28 02:59] maliming commented on #5941
hi
I don't think this is a problem or error. Just normal logs.

[2020-10-28 02:59] #5941 closed, assigned to nobody

[2020-10-28 03:25] SohyunKing opened #5968 "data seed error when using multi database."
I have 2 connect strings as follow:
"ConnectionStrings": {
    "Default": "Server=localhost;Database=TaekwondoLocalTestMainDb;Uid=root;Pwd=admin123;",
    "AbpIdentityServer": "Server=localhost;Database=TaekwondoLocalTestIdsDb;Uid=root;Pwd=admin123;"
  },
and I have 2 migration project:
![image](https://user-images.githubusercontent.com/30038389/97386753-7dc1f880-190f-11eb-971d-50a3f0d60460.png)
m

[2020-10-28 03:33] maliming commented on #5968
Have you read this document?

https://docs.abp.io/en/abp/latest/Entity-Framework-Core

[2020-10-28 03:37] SohyunKing commented on #5968
Yes,I had.

[2020-10-28 03:39] maliming commented on #5478
We will update npm packages regularly, but these warnings may not be eliminated. You can give feedback to the package owner.

[2020-10-28 03:39] #5478 closed, assigned to nobody

[2020-10-28 04:11] SohyunKing commented on #5968
I refers this document: https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations and this: https://docs.abp.io/en/abp/latest/Connection-Strings

[2020-10-28 04:16] EugeniZaplatin opened #5969 "Problem to update solution in Abp v.3.3.0"
C:\projects\01_Rostelecom\SSKI>abp update C:\projects\SSKI\Sski.IdentityServer.sln
[11:03:26 INF] ABP CLI (https://abp.io)
[11:03:27 INF] Version 3.3.0 (Stable)
[11:04:02 ERR] Unable to get latest preview version.
[11:04:02 ERR] Unexpected character encountered while parsing value: <. Path '', line 0, position 0.
Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing v

[2020-10-28 04:47] realLiangshiwei commented on #5969
`Unable to get latest preview version`

May you need to switch to stable : https://docs.abp.io/en/abp/latest/CLI#switch-to-stable

[2020-10-28 05:07] maliming commented on #5968
We also have a demo for the document. You can check them both.

https://github.com/abpframework/abp-samples/tree/master/EfCoreMigrationDemo

[2020-10-28 05:20] SohyunKing commented on #5968
Ok, thanks. I will view the demo first.

[2020-10-28 05:21] #5968 closed, assigned to nobody

[2020-10-28 06:05] SohyunKing commented on #5968
I know the reason. I changed database struct, but forget to regenerate the migration. Ths.

[2020-10-28 06:20] EugeniZaplatin commented on #5969
I did it.
All the same:

C:\projects\\SSKI>abp switch-to-stable
[13:16:48 INF] ABP CLI (https://abp.io)
[13:16:48 INF] Version 3.3.0 (Stable)
[13:17:23 ERR] Unable to get latest preview version.
[13:17:23 ERR] Unexpected character encountered while parsing value: <. Path '', line 0, position 0.
Newtonsoft.Json.JsonReaderException: Unexpected character encountered while parsing value: <. Path '', l

[2020-10-28 06:22] EugeniZaplatin commented on #5969
My current version 3.2.1 stable

[2020-10-28 07:46] realLiangshiwei commented on #2742
https://github.com/abpframework/abp-samples/blob/master/DashboardDemo/src/DashboardDemo.Web/package.json

[2020-10-28 07:46] #2742 closed

[2020-10-28 07:49] realLiangshiwei commented on #1506
Related https://github.com/abpframework/abp/pull/5952

[2020-10-28 08:02] maliming commented on #5718
Rebus is not very popular, and the code of the example is very simple. I think it is not worth creating an article.
But you can decide whether to create an article. : )

[2020-10-28 08:03] #5718 closed, assigned to maliming

[2020-10-28 08:10] realLiangshiwei commented on #386
`Microsoft.EntityFrameworkCore.Cosmos` available now: https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.Cosmos

[2020-10-28 08:47] RayMMond opened #5970 "wrong account management url lead to 404 in blazor wasm"
abp version: 3.3.0
we should use Authority url  instead of RemoteServices's url?

https://github.com/abpframework/abp/blob/48d73aa60753d192236ce5b4a3a167f85fb5b53b/framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/LoginDisplay.razor.cs#L33-L34

[2020-10-28 09:39] zaktecs opened #5971 "Table fails to load tenants or user data"
Hi All,

The table fails to load tenants data when I use the following in my startup. Can someone please help me with a workaround as  I need DefaultContractResolver() in my code.

![TenantUsers](https://user-images.githubusercontent.com/10104562/97417544-b9ed5d00-18ff-11eb-9021-9fc9d02d951b.PNG)
![Code](https://user-images.githubusercontent.com/10104562/97417979-354f0e80-1900-11eb-8e35-0cda2b2be5

[2020-10-28 09:40] charleszh-dev commented on #5793
In the last step, you added migration, but did you update the database?

[2020-10-28 09:41] l494422810 opened #5972 "Creating a base class to inherit from AbpController routing is invalid"
Use version 3.2.1 to customize a base class ApiBaseController to inherit from AbpController, define Route [Route(" API /[Controller]/[Action]")],Controller inherits ApiBaseController to be directly accessible, not after upgrading to 3.3.0, error code 404

[ApiController]
[Route("api/[controller]/[action]")]
public class ApiBaseController : AbpController

[2020-10-28 09:58] maliming commented on #5972
hi

* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-10-28 10:01] maliming commented on #5971
I think this may be related to the naming of the response JSON, you can check the error message in the browser console.

Why do you use `DefaultContractResolver`?

[2020-10-28 11:04] hikalkan commented on #5972
Make your `ApiBaseController` `abstract`. It is probably related to https://github.com/abpframework/abp/issues/5964

[2020-10-28 11:06] hikalkan commented on #5970
You're definitely right. This can be a problem when your Authentication server and API host are separated.

@cotur please make the changes in the rel-3.3 branch. If we publish a bugfix release, this should be included.

[2020-10-28 11:07] hikalkan commented on #5969
@realLiangshiwei please try to upgrade a sample to test it.

[2020-10-28 12:12] realLiangshiwei commented on #5969
I tested, it works. I think there is no problem with CLI @EugeniZaplatin Could you provide the steps to reproduce?

![image](https://user-images.githubusercontent.com/16813853/97434339-d74f1500-1959-11eb-9432-a7127394e54f.png)

[2020-10-28 13:08] hikalkan commented on #631
Done: https://docs.abp.io/en/abp/latest/UI/AspNetCore/Theming

I will continue to complete the missing documents for the MVC / Razor Pages UI.

[2020-10-28 13:08] #631 closed

[2020-10-28 13:32] h82258652 opened #5976 "[Question] Why AbpDbContext default service lifetime is Transient?"
Hello, I'm updating my old asp.net core with abp.

I have some code like this:
[code]
The variable ```b``` is ```true``` means they are the same instance.
But while I change:
[code]
and in ```Startup```
[code]
I found the variable ```b``` is ```false```.
I search the abp source code and found AbpDbContext implemented ```ITransientDependency``` interface. [link](https://github.com/abpframework/abp/

[2020-10-28 13:33] LearnGrowAndShare opened #5977 "[Question] How to generation/ add a new module in "Microservice-Demo" sample with abp CLI"
Hi,

Thanks for providing such an extensive documentation for the microservices implementation with ABP  module system.

I went through the documentation at
1) https://docs.abp.io/en/abp/latest/Samples/Index
2)  https://docs.abp.io/en/abp/latest/Samples/Microservice-Demo
3) https://docs.abp.io/en/abp/latest/CLI#add-module

Lets say I have to add a new module  "Order Mangement" to "Microservice-Dem

[2020-10-28 13:41] #5932 closed, assigned to maliming

[2020-10-28 13:45] rlavaud opened #5978 "Changing existing module Primary key to composite key"
Hi All
I know that I can add new field to existing module using OneTimeRunner.Run but is there a way to override/change the primary key and force it to be composite key?
For example the PK for AbpIdentity user is ID, is there a way to change it without creating a new module to be (ID, TenantID)?

[2020-10-28 14:25] h82258652 opened #5979 "[Question] How to reload entity using repository pattern with efcore?"
Hello, I have some code like this:
[code]
When ```Callback``` call finished, I notice the ```printResult.Status``` in the database changed, but in ```Print``` method, the ```printResult.Status``` is still ```NotFinished``` and you will get ```PrintResultStatus.Timeout``` finally.
There is a ```Reload``` method in efcore:
[code]
Is the ```IRepository``` has anything like this?

**ABP Framework vers

[2020-10-28 14:28] realLiangshiwei commented on #5977
`add-module` only applies to official modules, but the CLI is open source, you can fork and change it.

[2020-10-28 14:28] #5977 closed, assigned to nobody

[2020-10-28 14:36] hikalkan opened #5980 "Blazor UI: Basic theme better loading/error views (design)"
- [ ] Better "not found" page.
- [ ] Better "not authorized" page.
- [ ] Better authentication pages (shown on redirect, login, logout... etc)

[2020-10-28 14:36] hikalkan commented on #5959
Separately created an issue for the design part: https://github.com/abpframework/abp/issues/5980

[2020-10-28 14:40] realLiangshiwei commented on #5976
You should not directly inject the database context, it is controlled by the unit of work : https://docs.abp.io/en/abp/latest/Unit-Of-Work

[2020-10-28 14:44] realLiangshiwei commented on #5979
Try using `FirstOrDefaultAsync` method.

[2020-10-28 14:46] realLiangshiwei commented on #5978
Changing the primary key type is a big change. The module is still using the old primary key type. anyway, you need to change the module source code.

[2020-10-28 14:51] h82258652 commented on #5976
@realLiangshiwei Thanks for the answer, got it. It means the database context will be maintained by the UoW. By the way, are there any documents for integrating abp with the original asp.net core? I'm worried about there are lots of break changes after I update my old asp.net core project.

[2020-10-28 15:01] h82258652 commented on #5979
@realLiangshiwei not work.
[code]

[2020-10-28 15:22] rlavaud commented on #5978
So best thing to do is to copy the module and make the changes there correct?

[2020-10-28 16:35] #5978 closed, assigned to nobody

[2020-10-28 20:09] xirius commented on #1528
It is not enough:
https://www.erlang-solutions.com/blog/rabbitmq-quorum-queues-explained-what-you-need-to-know.html

[2020-10-28 21:29] alexandis commented on #1398
Is it possible to set default option - "Ignore SSL certificate check" - for MailKit without overriding the class? I need to use some handmade certificate for testing purposes. And now I can't use it for "Forgot password" functionality, where I don't write any code for sending messages at all by myself.

[2020-10-28 21:56] DonVliet commented on #5971
I presume you are trying to use 3rd party components e.g. Telerik, which require the results in Pascal Case?

You will need to implement a new contract resolver to overwrite the standard contract resolver in your code, e.g.

var myList = await _contactManagerAppService.GetAccounts();
var contractResolver = new JsonSerializerSettings {ContractResolver = new DefaultContractResolver()};
return Json(a

[2020-10-28 22:52] 20bc opened #5981 "ABP Commercial Getting Started documentation for Blazor possibly incorrect?"
Dear all,

I'm new to ABP.IO (just bought the licence yesterday night) and GitHub (just created an account to post this!). Please accept my apologies in advance for any gaffes.

I have spent a significant time trying to get the ABP Commercial Blazor EF Core Non-tiered version 3.3 to work, but with no luck. I've also tried to follow the ABP Opensource steps for Blazor. I strongly suspect that there

[2020-10-29 01:04] realLiangshiwei commented on #5976
No such document yet, you just need to use repository instead of the database context

[2020-10-29 01:05] #5976 closed, assigned to nobody

[2020-10-29 01:29] maliming commented on #1398
This is not good practice. Please create a new issue if you are still other question.

[2020-10-29 01:35] maliming commented on #5971
hi, You can refer to this article.

https://community.abp.io/articles/using-devextreme-components-with-the-abp-framework-zb8z7yqv

![image](https://user-images.githubusercontent.com/6908465/97514469-bde5b180-19c9-11eb-881d-2cf1701444ed.png)

[2020-10-29 01:44] maliming commented on #5482
You can try it on the controller first.

https://docs.microsoft.com/en-us/aspnet/core/performance/caching/middleware?view=aspnetcore-3.1#troubleshooting

[2020-10-29 01:45] maliming commented on #5589
hi @leonkosak I will check it, Thanks.

[2020-10-29 01:47] maliming commented on #5746
hi @zaktecs

Please see https://github.com/abpframework/abp/issues/5971#issuecomment-718303681

[2020-10-29 01:47] #5746 closed, assigned to nobody

[2020-10-29 01:50] maliming commented on #5757
There is no plan, for now you can try to implement it yourself。

[2020-10-29 01:53] maliming commented on #5787
hi

You can check the change event of the entity.
https://docs.abp.io/en/abp/latest/Local-Event-Bus#pre-built-events

[2020-10-29 02:01] realLiangshiwei commented on #5981
Hi, please create a question on the commercial support website: https://support.abp.io/QA/Questions : )

[2020-10-29 02:04] maliming commented on #5807
We use NET Standard as much as possible. We cannot solve the Oracle problem.

[2020-10-29 02:04] #5807 closed, assigned to nobody

[2020-10-29 02:13] maliming commented on #5921
Is `CheckBeam` an application service method or a controller method ?

[2020-10-29 02:14] ThreeLambs opened #5982 "v3.3.0 abpmodule Template Db Migration UpdateDatabase build Error"
# v3.3.0  abpmodule Template   error
[code]
[code]

[2020-10-29 02:15] khinhvuphiduong commented on #5963
I don't understand what you mean? When you create user, you can add user to specific role by ` "roleNames": [
    "string"
  ]`

[2020-10-29 02:17] maliming commented on #5921
Maybe we should allow developers to customize method names, etc. @hikalkan What do you think?

https://github.com/abpframework/abp/blob/207df569b6990e5cbdd61d8a8c1dec8cf730566c/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs#L137

[2020-10-29 02:36] maliming commented on #5982
hi @ThreeLambs

Please change **src/demo.Blazor/Pages/demo/Index.razor** file.
[code]

[2020-10-29 02:36] khinhvuphiduong commented on #5787
Thank for your reply, Cache, Local Event  Bus and Distributed Event Bus are fantastic built in  function, thanks to ABP Team. But my approach above is not flexible and difficult to modified late. I solved by  use Role Extra Properties to store host roles  and get roles permission by recursively.

Best regard!

[2020-10-29 02:49] #5787 closed, assigned to nobody

[2020-10-29 02:49] #5982 closed, assigned to maliming

[2020-10-29 03:24] khinhvuphiduong commented on #858
Perfectly to centralize permission definition. Thanks you!

[2020-10-29 04:54] EugeniZaplatin commented on #5969
Indeed, I have no problem with the newly created project.
The problem is only in my real business project. I have already gone through several versions and there were no problems. The first time I faced the difficulty of updating.

[2020-10-29 06:43] 274188A commented on #5790
been updated

[2020-10-29 06:43] #5790 closed, assigned to nobody

[2020-10-29 06:55] SuriyaArul commented on #394
Hi @Stirda Thanks for you message, I completely agree with your reply, But I am having ABP application with Angular UI, So I need to convert Blazor UI instead of Angular without changing Server side, Becoz I wrote around 30 api in my ABP application.

[2020-10-29 07:02] wocar commented on #394
It is no easy task. You should do a migration plan and do it by parts. It is basically rewriting the front end

[2020-10-29 07:22] Amber-Wish opened #5985 "VoloDocs Migrate failure"
After I configured the database link string, I ran Migrate.bat. The following error occurred.
![image](https://user-images.githubusercontent.com/55867470/97537811-5d229d00-19fa-11eb-93d6-58aa5e6c4c1e.png)
![image](https://user-images.githubusercontent.com/55867470/97537925-88a58780-19fa-11eb-9cdf-c7888e36bd2f.png)

[2020-10-29 07:24] maliming commented on #5985
The error message is very clear.
![image](https://user-images.githubusercontent.com/6908465/97538072-c86c6f00-19fa-11eb-84e2-0d83bae1834c.png)

[2020-10-29 07:36] Amber-Wish commented on #5985
![image](https://user-images.githubusercontent.com/55867470/97539080-5dbc3300-19fc-11eb-812d-409211ac658b.png)
![image](https://user-images.githubusercontent.com/55867470/97539122-690f5e80-19fc-11eb-84bf-2d923e9123f0.png)
Is this parameter not supported? If so, how to configure the port number?

[2020-10-29 08:32] Brahimhz commented on #5963
Like I said I'm New in Abp Framework and Identity Server So tried many time to use IdentityUserManager but I had many problem , so if you can help to use IdentityUSerManger Of abp Framework I will be thankful :)

[2020-10-29 08:36] khinhvuphiduong commented on #5963
I think your problem is first data seeder to initial role and permission. Please start from MicroserviceDemo application and step by step ABP Team's instruction, Ii's very clear.

[2020-10-29 09:13] mtozlu commented on #5095
@ChiakiYu
You can use `SetProperty` method to set extra properties:
```user.SetProperty("NickName", "ChiakiYu");```

[2020-10-29 09:16] Brahimhz commented on #5963
Ok I Will do thanks for the advise

[2020-10-29 11:22] realLiangshiwei commented on #5969
I think it nothing to do with the version.  This is related to the server's response. you can download the CLI source code and use the `update` command to debug and you can write the server response result here.

![image](https://user-images.githubusercontent.com/16813853/97561453-2ad56780-1a1b-11eb-926e-0aa7d4e418eb.png)

[2020-10-29 11:36] DonVliet commented on #5985
Try using:

Server=myServerAddress, 3306; Database=myDatabase, User=myUsername; Password=myPassword;

where 3306 is the port number (MySQL default)

[2020-10-29 12:55] maliming commented on #5985
You're using `Sql Server`.

![image](https://user-images.githubusercontent.com/6908465/97576282-ebae1300-1a28-11eb-945d-8d46ba6cb844.png)

[2020-10-29 14:00] mtozlu commented on #5010
Another note;
If you are using MongoDB with GuidRepresentationMode.V3 and configuring `Guid` as ExtraProperty of an object (Object Extension), mongodb driver throws error;

Example:
[code]

[2020-10-29 14:08] TonyValenti commented on #5935
Can someone please make this happen on this repo?

[2020-10-29 14:11] realLiangshiwei commented on #5979
Try create a new uow and call 'completeAsync' method

[code]

[2020-10-29 16:25] DonVliet commented on #5985
If you want to use MySQL as your database there are a few changes you will need to do, including deleting and recreating the Migrations to support MySQL.

https://docs.abp.io/en/abp/latest/Entity-Framework-Core-MySQL

[2020-10-29 17:22] #3300 closed

[2020-10-29 18:40] EugeniZaplatin commented on #5969
![image](https://user-images.githubusercontent.com/11317749/97617596-879f4500-1a50-11eb-8fad-37e2c6555fad.png)
While testing the update against source code, I see a strange basic URL.

[2020-10-29 18:43] EugeniZaplatin commented on #5969
![image](https://user-images.githubusercontent.com/11317749/97618062-21ff8880-1a51-11eb-9190-44a1beb2dd7b.png)
May be fogot to replace it in production?

[2020-10-29 18:59] EugeniZaplatin commented on #5969
I checked my network and found a problem with accessing the abp.io domain.
After fixing this issue and successfully updated the solution.
I'm sorry to bother you.

Thank you for your participation!!!

[2020-10-29 19:34] alexandis opened #5989 "Can't be navigated to the first page after applying sorting in abp-table"
3.2 / Angular

Let's say I have a 3-pages grid. I navigate to the page #2. Then I sort by some column. After sorting, I am left on the same page #2.
This seems a bit illogical to me: when I do sorting - I expect to see the smallest / largest / last / first value. So staying on the same page is confusing, naturally I would expect to be redirected to the page #1. Weird, but I can't make it work. I s

[2020-10-29 21:05] alexandis commented on #5989
Had to update skipCount to 0 as well. Probably there's a better way - to control one property only (since going to page 1 means I need to have skipCount = 0), but for now it works... Have to control [page] for the sake of pager component - probably, it is possible to simplify the interaction between abp-table and pager.

[2020-10-29 21:28] alexandis commented on #5989
To cut long story short, closing this. Basically it works now - there were some quirks, but cannot repro now, probably I am making something wrong.

[2020-10-29 21:28] #5989 closed, assigned to nobody

[2020-10-29 22:58] 20bc commented on #5981
Hi @realLiangshiwei

I realised that several issues/errors/exceptions that I am facing boils down to one thing - the Blazor WebAssembly template is **dead slow**. I'm sure this must be a known issue. If yes, is there WIP on it and when do you expect to fix it? Most importantly, is there a plan to provide an option for **Blazor Server**-side soon? Can you kindly clarify?

I love what you have creat

[2020-10-30 00:47] h82258652 commented on #5979
@realLiangshiwei
Still not work, will get ```PrintResultStatus.Timeout``` and the value in the database has changed.
[code]

[2020-10-30 00:58] #5985 closed, assigned to nobody

[2020-10-30 01:09] #5969 closed, assigned to realLiangshiwei

[2020-10-30 02:20] realLiangshiwei commented on #5979
Try :

[code]

[2020-10-30 03:07] rocleegithub opened #5990 "want distributed events to add an aggregate root identity that can be used as a Hash route"
and The subscriber USES a route based on the aggregation root identity to be assigned to the corresponding EventMallbox

[2020-10-30 03:28] realLiangshiwei commented on #5981
See https://github.com/abpframework/abp/issues/5517

[2020-10-30 03:28] #5981 closed, assigned to nobody

[2020-10-30 04:49] SuriyaArul commented on #394
@wocar Thank you

[2020-10-30 06:06] realLiangshiwei commented on #5954
You can customize `IRabbitMqMessageConsumer` implementation to receive topic

[2020-10-30 06:23] realLiangshiwei commented on #5857
Hi,

There is currently no such plan, you can implement it yourself via custom [`AwsBlobProvider`](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BlobStoring.Aws/Volo/Abp/BlobStoring/Aws/AwsBlobProvider.cs)

[2020-10-30 06:28] myomyinthan opened #5991 "How to integrate the Telerik Blazor with the ABP"
It will be nice to have article like how to integrate telerik blazor with abp. Thanks

[2020-10-30 06:33] realLiangshiwei commented on #5991
See https://github.com/abpframework/abp/issues/5651

[2020-10-30 06:33] #5991 closed, assigned to nobody

[2020-10-30 07:24] realLiangshiwei commented on #386
`Microsoft.EntityFrameworkCore.Cosmos` has many limitations now.

[2020-10-30 08:03] volethanh opened #5992 "Volo.Abp.EventBus.Rebus not mapping EventName to RoutingKey in RabbitMQ"
Hi,

I've downloaded the sample Abp Rebus, I've got a problemt that the `EventName` defined in the class Eto not mapping to RoutingKey in RabbitMq

![image](https://user-images.githubusercontent.com/46510130/97674666-7e4dc100-1ac0-11eb-8fc3-a507ad61a70b.png)

[2020-10-30 08:18] realLiangshiwei commented on #5992
Hi, this is the design of rebus.

[2020-10-30 08:58] h82258652 commented on #5979
@realLiangshiwei
Works. But here has a problem, ```AsNotTracking``` is an ef core API. And the **{ProjectName}.Application** project does not reference ef core.
I suggest we should add a reload API in ```IRepository<TEntity, TKey>```.

[2020-10-30 09:03] realLiangshiwei commented on #5979
You can customize the repository: https://docs.abp.io/en/abp/latest/Repositories#custom-repositories

[2020-10-30 09:03] #5979 closed, assigned to nobody

[2020-10-30 09:04] DonVliet opened #5993 "Creating a new UI theme by copying the Basic Theme (for Blazor)"
Would it be possibly to have an article similar to the one for MVC theming document? A sample and community article would also be good i.e. create a new solution, copy the Basic Theme into the solution, change NuGet package references to local project references and customize the theme a bit to demonstrate it

[2020-10-30 09:36] hikalkan commented on #5993
Thanks you for the suggestion. However, I had already opened that before: https://github.com/abpframework/abp/issues/5965 :)

[2020-10-30 09:36] hikalkan commented on #5993
Oh, I see this is blazor, sorry :)

[2020-10-30 11:49] #5524 closed, assigned to stsrki

[2020-10-30 11:54] #5552 closed, assigned to stsrki

[2020-10-30 13:48] tkezyo opened #5995 "Can I extend repository like IIdentityUserRepository ?"
I want get user names by user ids.

this module depend on Volo.Abp.Identity , I defind new Repository
but can't find this repository in DI

What is the best practice？

[code]

[code]

[2020-10-30 13:55] maliming commented on #5995
Please check the official documentation before asking questions: https://docs.abp.io

https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Guide

[2020-10-30 14:14] hikalkan opened #5996 "Blazor Documentation"
Documentation is planned just after the version 4.0 release, within the preview period.

* Overall / Architecture / @hikalkan
* Navigation / Menu / @hikalkan
* Authentication / @hikalkan
* Theming / @hikalkan
* Toolbars / @hikalkan
* Settings / @hikalkan
* Localization / @hikalkan
* Overriding components/pages / @hikalkan
* Global Scripts & Style (including bundling&minification) / @ilkayilknur
*

[2020-10-30 14:33] hikalkan opened #5997 "Remove OnOpeningEditModalAsync"
Remove [this method](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs#L312) since we can override the base method and do something before it. Please also update the usages.

[2020-10-30 14:56] hikalkan opened #5998 "Can we add a document for the startup template to explain how to run the solution"
Can we add a document to the application startup template that is **automatically shown** when the solution is opened first time in Visual Studio and explains how to run the solution. Consider Tiered/Non-Tiered, EF core / mongodb, blazor/mvc/ng... etc. scenarios.
You can write the initial document, I review them.

[2020-10-30 23:35] tkezyo commented on #5995
I have checked this document，but I didn't find what I wanted.
I just want to add some data reading function， please help me.

[2020-10-31 05:31] amirmujtaba commented on #5080
I have facing same problem, I'm getting totalCount more than 10, along with first 10 records, but still pagination is not visible, Can you please help?

[2020-10-31 12:06] aelhadi commented on #4251
Very useful... thanks for sharing. I did the same thing.

[2020-10-31 12:10] aelhadi commented on #4039
Take a look at  :
https://github.com/abpframework/abp/issues/4251
Maybe it helps you

[2020-10-31 15:52] alexandis opened #6002 "CurrentUser is treated as authenticated after logging out in custom nav-items.component"
3.2 / Angular

After logging out, `CurrentUser` is still treated as `IsAuthenticated` in custom `nav-items.component`. As a result, the method which is supposed to be triggered for authenticated user only, triggered (returning 401 error):

[code]
![image](https://user-images.githubusercontent.com/6149843/97783648-e1fbeb00-1ba1-11eb-9c78-1c9dc76caaf1.png)

[2020-10-31 16:09] Stirda commented on #5951
@maliming Thank you for your support. There is no specific code to use. Reproduction is as easy as:

**Step 1.** Code any application service method returning anything but `Task` or `Task<T>`. You can do it in any ABP application. It will serve as the "remote service" application.
**Step 2.** Enable ABP Auto API Controller system in this "remote service" application to expose method coded in step

[2020-10-31 23:39] Enissay opened #6003 "RabbitMq Publisher consumes its own messages if there is no Consumer"
### Issue

* Your **ABP Framework version**: 3.3
* Steps needed to **reproduce** the problem: Send a message to RabbitMQ according to ABP's doc

### Details

When sending a message to a given queue, the message is well received BUT it is consumed instantly (point 1 in the pic below) by the publisher itself (with no consumer running).

What is weird is that RabbitMQ is also showing that 1 consumer

[2020-11-01 07:32] journey191 commented on #42
@maliming
code worked for me,but I can't get my claims from CurrentUser by this way:
`var allClaims = _currentUser.GetAllClaims();` or  `var allClaims = _currentPrincipalAccessor.Principal.Claims.ToList();`
![UX3HN~5@(YH`G`F2~5KERES](https://user-images.githubusercontent.com/11626700/97797490-7e80c480-1c58-11eb-9a5c-aa4934b524f8.png)
![S8OW} 1{U%XW9 VL58JS VH](https://user-images.githubusercontent

[2020-11-01 09:50] tkezyo commented on #5995
I finally used `IReadOnlyRepository<IdentityUser, Guid>` in the application layer

[2020-11-01 09:50] #5995 closed, assigned to nobody

[2020-11-01 09:56] rasmani795 commented on #5738
You can reproduce this issue:
1. Write simple linq query API for getting users details.
2. Create one Dto for getting records with AuditedEntityDto.
3. Now get the record of user. Simply you take only username that's enough.
4. So, Now from the angular create one component to call the API. And put console you can check that record is coming or not.
5. Now you have the record of users.
6. Switch yo

[2020-11-01 09:59] cotur commented on #5738
Hi @rasmani795, Thanks, I will investigate.

[2020-11-01 13:39] tntwist commented on #5912
Hi @ebicoglu,
I just finished the translation. Here are my results:

[abp-translation.volo.de-DE.json.zip](https://github.com/abpframework/abp/files/5470930/abp-translation.volo.de-DE.json.zip)

[2020-11-01 18:39] ebicoglu commented on #5912
@tntwist you're great! I've merged your translation. If you write your name I can add you to the greetings list.

[2020-11-01 18:47] ebicoglu commented on #5912
@AlexanderPilhar did you have a chance to start the translation?

[2020-11-01 19:48] AlexanderPilhar commented on #5912
Yes, here you go!

[abp-translation.abp.de-DE.zip](https://github.com/abpframework/abp/files/5471621/abp-translation.abp.de-DE.zip)

[2020-11-01 20:51] tntwist commented on #5912
@ebicoglu Here is my name: Nico Lachmuth

If you need updates for the translations in the future, just mention me and I`ll help updating them.

[2020-11-02 03:28] realLiangshiwei commented on #6003
Can you provide steps?

[2020-11-02 04:11] rygar08 opened #6007 "How to integrate GraphQL (HotChocolate.AspNetCore) into abp framework application"
Hi, I'm attempting to add GraphQl to abp framework 3.30 but I'm getting the error below.  I'm using HotChoclate (GraphQL server implementation) pure code first implementation.

**I'm looking for advice on how to implement graphql with abp framework, below is just to show what I have tried.**

In the startup --HttpApiHostModule.cs I've added this to the ConfigureServices method

`

      context.Se

[2020-11-02 08:47] shcant opened #6009 "Can accept header allow wildcard?"
I find this method `AbpHttpRequestExtensions.CanAccept` only check exact match. Can we allow wildcard like `*/*`?

[2020-11-02 09:03] maliming commented on #6009
Not now, can you explain the specific use case?

[2020-11-02 09:10] #5997 closed, assigned to stsrki

[2020-11-02 09:29] maliming opened #6011 "RemoteLocalizationContributor is using ICachedApplicationConfigurationClient that will be released."
`RemoteLocalizationContributor `gets the `ICachedApplicationConfigurationClient `service through `context.ServiceProvider`, but `context.ServiceProvider` is scoped.

There will be a problem here if the service dependent in `ICachedApplicationConfigurationClient` uses `IServiceProvider or IServiceScopeFactory`.

https://github.com/abpframework/abp/blob/b8216daeb5693837b8c8fbec0b4c2b85df66d89c/frame

[2020-11-02 10:43] #5560 closed, assigned to ilkayilknur

[2020-11-02 11:09] #5196 closed, assigned to nobody

[2020-11-02 11:12] hikalkan commented on #236
Thanks @gentledepp

I have some additional notes on that:

Our purpose to have entity based permissions. Then we will have a few use cases;

1. Check if a user (or role or OU) has a permission (like edit, delete or a custom permission) on an entity.
2. Get a list of users (roles/OUs) has a specific permission on an entity
3. Get a list of entities that a user (role/OU) has a specific permissin

Fo

[2020-11-02 11:28] #5961 closed, assigned to cotur

[2020-11-02 11:28] #5962 closed, assigned to cotur

[2020-11-02 11:54] VidyaPuri commented on #5169
@Stirda was your colleague successful?

[2020-11-02 11:57] hikalkan opened #6015 "Refactor namespaces for Blazor components"
We should refactor & align namespaces with the folder structures before v4.0. Since this is a breaking change, we need to update the usages.

#### Volo.Abp.AspNetCore.Components Package

- [ ] Volo.Abp.AspNetCore.Components.Messages
- [ ] Volo.Abp.AspNetCore.Components.Notifications

[2020-11-02 11:59] gentledepp commented on #236
I see!
Well, the AFCAS system supports all features, but when thinking about performance, you *do* have to be careful.
For example, if using
1. a graph of principals (not necessary, if groups cannot be member of groups)
2. and a graph of operations (not necessary either, if you always only have 1 parent operation with child-operations like I am used to is in aspnetboilerplate)
3. and a graph of re

[2020-11-02 12:12] #5236 closed, assigned to nobody

[2020-11-02 12:57] yekalkan opened #6016 "Cli Add-Module: Angular projects aren't added successfully"
We need to revisit adding angular module to the solution with source code.

I'll need assistant from angular team.

[2020-11-02 13:12] #5193 closed, assigned to nobody

[2020-11-02 14:40] hikalkan opened #6018 "Inconsistent Async suffix usage"
IUiMessageService has Async in all methods, but IUiNotificationService has not.
I think we should not use Async for both.
What do you think @stsrki ?
We should also find & fix the usages.

[2020-11-02 18:04] hikalkan opened #6019 "Initial Loading animation for the Blazor UI Basic Theme"
Insted of [the "Loading..." text](https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/index.html#L21), can we make a better loading animation for the initial page load (only for the first time, not for every page switch)?

[2020-11-02 18:07] Stirda commented on #5169
@VidyaPuri Planned work changed and I was re-assigned to this task. Maybe in a few weeks, when my current work will be completed.

[2020-11-02 18:21] hikalkan commented on #5235
I am reponing this since I've got a similar comment: "If you hit an API endpoint that has an [Authorize] header as an anonymous user it responds with a 200 response and an html login page instead of a 401"

[2020-11-02 18:40] hikalkan opened #6020 "Make readonly for Creation audit properties of the entities"
We can set by reflection in the framework side (just like the [Id](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Entity.cs#L29)).

* Remove the setters from the auditing interfaces ([example](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/IHasCreationTime.cs#L13)).
* Set them by reflection in

[2020-11-02 18:43] hikalkan opened #6021 "Can we add the login page link to the swagger UI for IDS + API Host projects?"

[2020-11-02 18:44] hikalkan commented on #6021
@realLiangshiwei is this same: https://github.com/abpframework/abp/issues/1874 :)

[2020-11-02 20:48] washyn commented on #5931
You can add spanish lang with  command "abp add-languaje es" or typing "abp help", or contactme, luck

[2020-11-03 01:10] xyfy commented on #4579
I still can not found a way to use the two auth way both jwt and cookie

[2020-11-03 01:38] colinin opened #6022 "Client permissions should be checked at host scope"
**ABP Framework version**: 3.3.0
* Steps needed to **reproduce** the problem:

1、Define a permission:

[code]

2、Specify this permission in the API authorization:

[code]

3、Create a client, authorize the permission: **IdentityPermissions.UserLookup.Default**;

4、Call the defined API, which is usually fine in a host environment,But after switching to a tenant, an unauthorized exception is triggere

[2020-11-03 01:58] maliming commented on #5998
VS does not seem to automatically open a file when opening the solution for the first time. The rider will open `README.md`, but the markdown file needs to be rendering to be readable.

The CLI output a document URL when creating a project, Is it necessary to provide a document?

[2020-11-03 06:47] hikalkan commented on #5998
Thanks for the info. I am moving to backlog.

[2020-11-03 07:36] ebicoglu commented on #5931
@washyn, actually I know how to add a new language but I need help to translate to Spanish for ABP

[2020-11-03 07:40] hikalkan opened #6023 "Blazor UI: Validations should be optional for AbpCrudPageBase"
I see currently it is not submitting the form if validation was not implemented by the derived page: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BlazoriseUI/AbpCrudPageBase.cs#L352

[2020-11-03 07:47] stsrki commented on #6019
Yes, it's an easy thing to do. I have the same thing on Blazorise demo pages.

[2020-11-03 07:49] stsrki commented on #6023
I made in purpose to make it clear that validations is needed before submitting it. Maybe we need to agree on the default behavior?

[2020-11-03 07:51] hikalkan commented on #6023
We tolerate to not set `CreateValidationsRef`. So, if that's not, we should think that the user don't implement the validation. This also will be backward compatible.

[2020-11-03 07:58] gentledepp commented on #236
Ok so I went through the docs now.
So the ASP.NET Core 3.1 policy based authorization system requires you to provide the
* requirement(s) for a specific resource
* and the resource

# Simple approach for **C**(R)**UD**
The simplest approach would be to
1. allow us to create policies for entities
2. let the Create/Update/Delete methods of abps repository check whether the current user has the requi

[2020-11-03 08:10] hikalkan opened #6024 "Blazorise visual enhancements"
Menu should have more spacing between icons & texts:

![image](https://user-images.githubusercontent.com/1210527/97961865-169bbc80-1dc5-11eb-9c15-6766325b50a9.png)

role badges should have spacing (margin)

![image](https://user-images.githubusercontent.com/1210527/97961902-287d5f80-1dc5-11eb-96c8-22210025385c.png)

[2020-11-03 08:13] hikalkan opened #6025 "Blazor UI: Validation problem on modals"
When I submit a valid role and re-open the "new role" modal, I see it is invalid at the beginning:

![image](https://user-images.githubusercontent.com/1210527/97962004-595d9480-1dc5-11eb-96ba-0b0685e9b29f.png)

It should open as a clean modal.

[2020-11-03 08:14] hikalkan opened #6026 "Blazor UI: Implement validation for the tenant-management module"

[2020-11-03 08:16] hikalkan opened #6027 "Better design for Blazor UI message/confirm dialogs"
Current design should be improved.

![image](https://user-images.githubusercontent.com/1210527/97962361-0df7b600-1dc6-11eb-8278-726aef5c46ee.png)

[2020-11-03 08:18] hikalkan opened #6028 "Blazor UI: Improvements for the UI notifications"
![notification](https://user-images.githubusercontent.com/1210527/97895273-a0f00c00-1d44-11eb-8711-35ad921d1d34.png)

* Toast message should have a "x" icon to dismiss the notification
* Should not dismiss the notification on click. I think clicking on it even may cause to show the message a longer time.

[2020-11-03 08:19] hikalkan opened #6029 "Blazor: Message/Confirm dialogs should not close on click outside of the modal"
Should not close the dialog when we click outside of the modal. Otherwise, user may accidently click without reading an important message.

![message-box](https://user-images.githubusercontent.com/1210527/97895174-8027b680-1d44-11eb-8aeb-290b2808c0ed.png)

[2020-11-03 08:23] hikalkan opened #6031 "Blazor UI: DataGrid Row selections should be lighter"
Currently, it makes the text unreablable in some cases.

![table-selections](https://user-images.githubusercontent.com/1210527/97895685-2a9fd980-1d45-11eb-9c01-ac3ddf637f72.png)

Also, there is no way to remove highlighting once we click on a row. I think a second click can remove the higlighting. You can consider this as an improvement point on blazorize.

[2020-11-03 08:26] stsrki commented on #6025
This one is a bit tricky because we use modals so I need to find a good way to _reset_ validation to the default states. In Blazorise there is an option to postpone validation when the page is first loaded with `ValidateOnLoad="false"`. And modals are always "opened", that is, they are always present in the DOM.

[2020-11-03 08:41] Nokecy opened #6033 "objectValidation error"
https://github.com/abpframework/abp/blob/3a64bee2ffc3cf84be97c10e487abbdf17342238/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/DataAnnotationObjectValidationContributor.cs#L55

Item Maybe null

[2020-11-03 08:57] #5873 closed, assigned to stsrki

[2020-11-03 08:58] #6023 closed, assigned to stsrki

[2020-11-03 09:15] #4590 closed

[2020-11-03 10:15] hikalkan commented on #5278
I added `isRequired` for the type properties. Making `string?` is not true for c# types (there is no nullable string in c# on runtime).

[code]

[2020-11-03 10:16] #5278 closed, assigned to hikalkan

[2020-11-03 11:17] gdlcf88 commented on #5964
Wow, it seems an important change, maybe this line in [the doc](https://github.com/abpframework/abp/blob/rel-3.3/docs/en/Customizing-Application-Modules-Overriding-Services.md#example-overriding-an-application-service) could be removed:

@maliming What do you think?

And here is a little tip: when using the ABP's Auto API Controller, after we create an extension app service, we can [configure the

[2020-11-03 11:50] #6011 closed, assigned to hikalkan

[2020-11-03 11:50] hikalkan commented on #6011
I removed the scope. This doesn't cause memory leak since the string localizers are already cached.

[2020-11-03 12:08] mtozlu opened #6036 "Provide configurable settings to MongoClient"
`MongoClient` takes url or `MongoClientSettings` object on initialization. Currently abp initializes `MongoClient` with url.
Can we add functionality to initialize with `MongoClientSettings` object with the ability to configure it in our abp module initialization?

This will allow low level customization of mongo connection with many options such as cluster configuration, eventing, monitoring, log

[2020-11-03 12:13] #5970 closed, assigned to maliming

[2020-11-03 13:13] hikalkan commented on #6027
@stsrki we think the following design changes would be better:

* Centralize the icon and text
* Move Cancel button to the right side (near to Yes)

[2020-11-03 13:14] alexandis opened #6037 "Swagger exception when overriding Controller class"
3.2 / Angular

I have followed your guide to override AccountController.
Probably it's a normal behavior to have the following error -

 - I just wonder why Swagger can't see I override the Controller - so this class needs to be taken into consideration when checking endpoints, not overriden class?

[code]

[2020-11-03 13:16] hikalkan commented on #6027
Can you also add screenshots of the different message types (error, warn...), so @armgnunlu can see the icons/design.

[2020-11-03 13:42] #6026 closed, assigned to stsrki

[2020-11-03 14:22] #3857 closed

[2020-11-03 14:26] hikalkan opened #6039 "Test "Enabled negated glob patterns in copyResourcesTask clean" on Windows"
See #6038

[2020-11-03 14:28] armanozak commented on #5799
Hi @badre429,

I believe [this commit](https://github.com/abpframework/abp/commit/655b0e7e4f02d2eafce5387f5fd8ca5454ff3e86) fixes the issue. Could you please check again with v3.3?

[2020-11-03 14:28] mtozlu opened #6040 "Use AbpSwaggerUi for all modules and templates"
With #5728 and #5864 `UseAbpSwaggerUi` is used by some of the templates however some modules and `HttpApi.Host` project in app template is not updated so using swagger for operations that needs CSRF token causes error in those projects.
Here is the list that is not updated;
![image](https://user-images.githubusercontent.com/2939330/97997352-c92d4880-1de0-11eb-9c96-307fa06e9e22.png)

[2020-11-03 14:29] ebicoglu commented on #5912
@AlexanderPilhar  thanks for your contribution. German language will be available in the next version.

[2020-11-03 14:29] #5912 closed, assigned to AlexanderPilhar, tntwist, ebicoglu

[2020-11-03 14:39] realLiangshiwei commented on #6040
Hi, this is intentional. You can directly use the client's(`Web`) swagger page.

[2020-11-03 14:42] realLiangshiwei commented on #6037
Hi, see https://github.com/abpframework/abp/issues/5269

This feature was completed in v3.3. I think you need to upgrade your project.

[2020-11-03 14:43] armanozak opened #6041 "Add inspector to Angular development app"

[2020-11-03 14:43] rocleegithub opened #6042 "I hope Volo.Abp.Http.Client remove Volo.Abp.MultiTenancy related references"
Because I don't need tenant functionality for some projects，From a design point of view, the tenant function is redundant here。

[2020-11-03 14:51] realLiangshiwei commented on #6042
Hi,

https://github.com/abpframework/abp/blob/6a04461ddbce181f64ff16aa8c3bf9344bba815f/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs#L220

It will add the tenant to the request header, which is essential for multi-tenant applications

ABP is a multi-tenant framework. It needs to consider multi-tenancy globally. So I think it cannot be remove

[2020-11-03 14:53] alexandis commented on #6037
Is there some temporary solution to make it work till we upgrade? Upgrade takes time and we're not ready to it - we've just updated to 3.2 lately.

[2020-11-03 14:54] #6042 closed, assigned to nobody

[2020-11-03 14:56] realLiangshiwei commented on #6037
You can manually copy [the code](https://github.com/abpframework/abp/commit/71b1384598128b7432491422f1b64837c7fb97af) into your project

[2020-11-03 15:00] rocleegithub commented on #6042
Multi-tenancy refers to the entire framework, but this component alone may not be needed;
I tracked the existing project application and found the Volo.abp.Settings,
Volo.Abp.Settings can split the other one  Volo.Abp.Settings.MultiTenancy

DynamicHttpProxyInterceptor.cs can add a virtual method custom supplement；Then put it into the new component Volo.Abp.Http.Client.MultiTenancy

[2020-11-03 15:26] mtozlu commented on #6040
If you use app template with angular ui, the solution does not contain any `Web` project (`MyCompanyName.MyProjectName.HttpApi.HostWithIds` template). Even if it did, using swagger to do some operation that needs a CSRF token, the api gives error:

[2020-11-03 16:20] #6024 closed, assigned to cotur

[2020-11-03 16:28] alexandis commented on #6037
I have tried that (3 custom files), but in result getting this exception when submitting e-mail in "Forgot password" (type is null here). Any thoughts?

![image](https://user-images.githubusercontent.com/6149843/98013020-78c6e280-1e02-11eb-8a7a-6498ab9dfc20.png)

[2020-11-03 16:31] #5822 closed, assigned to cotur

[2020-11-03 16:47] alexandis commented on #6037
Probably, those 3 files to override are not enough? I can see you are using `AbpController` constructor with one parameter, however in 3.2 we have this:

`public AccountController(IAccountAppService accountAppService, IVirtualFileProvider virtualFileProvider);`

Looking at new `AccountController`, I realize there are too many changes (affected files - i.e. changing `AccountController` signature wi

[2020-11-03 18:42] cotur opened #6046 "AbpCrudPageBase DataGrid Pagination is not working"

[2020-11-03 20:42] nymeron commented on #5867
Could you please look at the issue? I'm kinda stuck :|

[2020-11-03 22:48] zaktecs commented on #5971
Hi All,
Many thanks to you all for your help.
Kind Regards

[2020-11-03 22:48] #5971 closed, assigned to nobody

[2020-11-04 01:05] maliming commented on #6036
hi @mtozlu  I will check it.

[2020-11-04 01:29] maliming commented on #5867
@nymeron
You can try to make application services or domain services method **virtual** or create a unit of work manual.

`public virtual  async Task `

https://docs.abp.io/en/abp/latest/Unit-Of-Work

[2020-11-04 01:38] #5972 closed, assigned to nobody

[2020-11-04 01:39] maliming commented on #5964
@gdlcf88 Yes. I'm going to update the document.

[2020-11-04 01:51] #5270 closed, assigned to nobody

[2020-11-04 02:15] washyn commented on #5931
You can write me to shin321654987@gmail.com , and i Help you. Puedes escribirme al email para echarte una mano.

[2020-11-04 02:20] journey191 opened #6048 "How can get custom claim"
I created a class inheriting from the UserClaimsPrincipalFactory class and override the CreateAsync method,it worked.
![UX3HN~5@(YH`G`F2~5KERES](https://user-images.githubusercontent.com/11626700/98061408-c6852e80-1e86-11eb-85ad-73eee782d7cb.png)
But I can't get my custom claim
![S8OW} 1{U%XW9 VL58JS VH](https://user-images.githubusercontent.com/11626700/98061448-ddc41c00-1e86-11eb-9b3a-a57e7c0e98

[2020-11-04 02:48] zsanhong opened #6049 "please add a daterange javascript library in the Base Libraries"
current base Libraries in abp doesn't include a daterange picker javascript libary, but in many case we need a daterange picker , so would you please add a daterange picker in the abp base libraries?  like [daterangepicker](https://github.com/dangrossman/daterangepicker).

[2020-11-04 03:51] RayMMond opened #6050 "Exception: SqliteConnection does not support nested transactions when unit testing application services"
abp ver: 3.3.0
Suddenly, all my application unit tests are failed because of

And both domain/ef tests are good, and I'm not changing anything related to uow.
I tested with vs/rider/cmdline, same result.
Full log here:

[code]

[2020-11-04 05:27] maliming commented on #6048
* Your **ABP Framework version**.
* **Tiered (MVC) or Identity Server Seperated (Angular)**:  yes / no
* Steps needed to **reproduce** the problem.

[2020-11-04 05:53] maliming commented on #6050
You can try to disable transactions in mongodb.
[code]

[2020-11-04 05:55] maliming commented on #6050
**SqliteConnection does not support nested transactions.**  This is expected.

* Steps needed to **reproduce** the problem.

[2020-11-04 06:27] wjkhappy14 commented on #5589
[14:26:26 INF] Failed to validate the token.
Microsoft.IdentityModel.Tokens.SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed.

[2020-11-04 06:32] RayMMond commented on #6050
Just run `dotnet test` command in my solution directory, I will try to make a repo to reproduce the problem.
And some additional log from dotnet test command:
[code]

[2020-11-04 06:33] wjkhappy14 commented on #5589
options.TokenValidationParameters.ValidateAudience = false;

[2020-11-04 06:39] nymeron commented on #5867
Adding virtual and [UnitOfWork] attribute to the method made the difference.

@maliming thank you very much for your help!

[2020-11-04 06:39] #5867 closed, assigned to nobody

[2020-11-04 07:05] RayMMond commented on #6050
@maliming Out of my curiosity,

means the exception should or should not be thrown?

[2020-11-04 07:13] maliming commented on #5010
hi @mtozlu

We should change this option in the template project and not in the mongodb module. Otherwise it will be a breaking change.

Since this is configurable, maybe we shouldn't change it, because currently it does not affect our application.

Can you provide an example project?

[2020-11-04 07:18] maliming commented on #6050
The exception should be thrown, Because it does not support nested transactions.

[2020-11-04 07:50] mtozlu commented on #5010
In 3.x releases of mongo driver, V3 will be the default with no ability to change.

_https://mongodb.github.io/mongo-csharp-driver/2.11/reference/bson/guidserialization/guidrepresentationmode/guidrepresentationmode/_

In that case if abp mongo package is upgraded to use mongo 3.x driver, all applications using 2.x version will have a breaking change since all UUID's in their databases are of legac

[2020-11-04 08:26] #1198 closed

[2020-11-04 08:39] mtozlu commented on #5010
Regarding this; it is about the scenario if anyone wants to use new GuidRepresentation with the way i described in [this ](#issuecomment-709909738) comment and after that, if they want to use `System.Guid` type in an extended object (using abp object extending system) as described in [this](#issuecomment-718772346) comment, the driver throws an error.
So it was just a note to consider if abp wants

[2020-11-04 08:41] #6020 closed, assigned to maliming

[2020-11-04 08:42] #4886 closed

[2020-11-04 08:42] #6036 closed, assigned to maliming

[2020-11-04 08:47] RayMMond commented on #6050
@maliming I figured out after deleting some of my code, and found out that when you register a AsyncPeriodicBackgroundWorker and it's ` Timer.RunOnStart = true;` , you will get this error when unit testing.
Clone my [repo](https://github.com/RayMMond/BackgroundWorkerRunOnStart) and run `dotnet test` to see the errors.
I have no idea why AsyncPeriodicBackgroundWorker will cause this error... It's j

[2020-11-04 08:48] DonVliet opened #6055 "Separate design for login page for each Tenant"
We need to be able to design a different login page for each Tenant. Is this possible?

[2020-11-04 08:51] RayMMond commented on #6050
https://github.com/RayMMond/BackgroundWorkerRunOnStart/blob/609bce5ce2ae4b382e239cb2f427ed1906174810/src/test.abc.Application/TestBackgroundWorker.cs#L13

Delete this line, the error goes away...

[2020-11-04 08:54] maliming opened #6056 "Use System.Text.Jons in the Docs module."
https://github.com/abpframework/abp/pull/5952

[2020-11-04 09:27] journey191 commented on #6048
@maliming

1.Created a class inheriting from the UserClaimsPrincipalFactory class
[code]

2.Replace the UserClaimsPrincipalFactory  by pre-configuring
[code]

 I can't get my custom claim
[code]

**But Now I resolve the problem by adding ApiResource** in `IdentityServerDataSeedContributor.cs`
[code]

[2020-11-04 09:41] maliming commented on #6050
`Volo.Abp.AbpException : Period should be set before starting the timer!`

![image](https://user-images.githubusercontent.com/6908465/98094852-cc016980-1ec4-11eb-8847-95c38ad9400f.png)

[2020-11-04 09:42] maliming commented on #6055
This is possible. You can override the default login page code and change it according to the current tenant Id.

https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface

[2020-11-04 09:44] #6048 closed, assigned to nobody

[2020-11-04 09:48] DonVliet commented on #6055
Thanks, but I was thinking about a completely different design for each Tenant so that each customer can have their own branded login page.

[2020-11-04 09:51] maliming commented on #6055
You can also refer to this https://github.com/abpframework/abp/issues/1092

[2020-11-04 09:56] #5520 closed, assigned to ilkayilknur

[2020-11-04 10:02] RayMMond commented on #6050
Yes, the root cause of this error is my background worker. And unit test framework gives me totally irrelevant info...

Closing this now, but maybe we should add

[code]

in TicketTestBaseModule's ConfigureServices method, just like

[code]

[2020-11-04 10:02] #6050 closed, assigned to nobody

[2020-11-04 10:14] stsrki commented on #6027
@armgnunlu

![image](https://user-images.githubusercontent.com/900302/98098552-cbe67700-1e8e-11eb-96bc-1809e757e26d.png)

![image](https://user-images.githubusercontent.com/900302/98098576-d274ee80-1e8e-11eb-9e11-3012e2b61b00.png)

![image](https://user-images.githubusercontent.com/900302/98098598-d739a280-1e8e-11eb-864c-a8312938146c.png)

![image](https://user-images.githubusercontent.com/900302/

[2020-11-04 10:18] AnkitSource opened #6057 "ABP authentication failing cross framework - dotnet core vs .net framework"
I want to reuse users (AbpUsers) records that have been created using ABP dotnet core solution but in .net framework based ABP solution, login is failing because password is not matching.

Is there a difference in the Hashing mechanism in dotnet core vs .net framework?

[2020-11-04 10:46] NecatiMeral commented on #5749
This issue has been resolved, still don't know what was wrong.
Will create a follow-up issue

[2020-11-04 10:46] #5749 closed, assigned to nobody

[2020-11-04 10:49] NecatiMeral opened #6059 "[Question] Angular - Modular development guide"
Hi,

how's the workflow when creating a new library project inside the `ng-packs`?
I've cloned this repository and just wanted to add a new libary for the dev-app.

Are you using the `ng generate library` command or are you using a different approach?

[2020-11-04 11:13] #6027 closed, assigned to stsrki

[2020-11-04 12:56] hikalkan opened #6060 "Bundling & Minification system for the Blazor UI"
We'd created the `abp bundle` CLI command that adds js/css dependencies to the index.html for the Blazor applications.
It currently adds files induvidually. With this issue, we will add bundling & minification feature.

[2020-11-04 14:01] maliming commented on #6057
Try setting the Identity Core's password mode to V2?
[code]

[2020-11-04 14:16] #6041 closed, assigned to armanozak

[2020-11-04 14:19] #5297 closed, assigned to nobody

[2020-11-04 14:38] nishadebrahim opened #6063 "Change AuditLog ApplicationName on the go"
Hi, As per the Abp.io document, the following code is written in ApiHttpApiHostModule.cs

private void ConfigureAuditLogs()
        {
            Configure<AbpAuditingOptions>(options =>
            {
                options.IsEnabledForGetRequests = true;
                options.ApplicationName = _appConfiguration["Properties:LegoBlockId"];
                options.EntityHistorySelectors.AddAllEnt

[2020-11-04 15:45] AnkitSource commented on #6057
Thanks for your input @maliming !!
Can I have reverse of it help. I meant my original solution is in core (asp.net identity v3) and I need those hashed passwords to be reused in .net framework (asp.net identity v2.2.1) based solution.
Sample password looks like AQAAAAEAACcQAAAAExxxxxxxx

[2020-11-05 01:12] maliming commented on #6063
You can try to rewrite the IAuditingHelper to use the dynamic `ApplicationName` instead of `option.ApplicationName `

https://github.com/abpframework/abp/blob/1da901ee156d82ade03ecc9aa984a85da884d5dc/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingHelper.cs#L132

[2020-11-05 01:25] maliming commented on #6057
I think you can replace the `passwordhasher`, please refer to the relevant documents or check the source code of Identity, which has nothing to do with ABP.

https://andrewlock.net/exploring-the-asp-net-core-identity-passwordhasher/
https://andrewlock.net/migrating-passwords-in-asp-net-core-identity-with-a-custom-passwordhasher/

[2020-11-05 02:05] zfeihong opened #6064 "What's the difference between ABP's modularization and class library"
### Dear ABP：
What's the difference between ABP's modularization and class library，Like projects or DLLs? Since ABP's reference has been added, why do you need to depend on it? Is it a little redundant?
——Thank you for reading

[2020-11-05 02:25] maliming commented on #5589
hi @leonkosak

We should continue to use `AddJwtBearer` instead of `AddIdentityServerAuthentication` https://github.com/abpframework/abp/pull/5247

Maybe we shouldn't add `ValidIssuers `to the template project, it is better for developers to apply it themselves.

[code]

[code]
https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/blob/dev/src/Microsoft.IdentityModel

[2020-11-05 02:33] maliming commented on #6064
If we don't use `DependsOn`, do you think we have to scan all assemblies?

What if I just want to use assembly constants instead of depends on this module?

How can I check the dependent modules of a module? ......

https://docs.abp.io/en/abp/latest/Module-Development-Basics

[2020-11-05 02:33] #6064 closed, assigned to nobody

[2020-11-05 03:01] aididhaiqal commented on #5885
Having the same issue,

Project generated initially using abp new Acme.BookStore -t app-pro -u angular -d mongodb.

Tried a brand new project without any modification, same issue as well

[2020-11-05 03:17] #6033 closed, assigned to maliming

[2020-11-05 04:08] AnkitSource commented on #6057
Hi @maliming
I understand the hashing formats better now, Thanks for sharing those links. I am now verifying the passwords (PasswordHasher.VerifyHashedPassword) using Microsoft.AspNetCore.Identity instead of Microsoft.AspNet.Identity and it is working fine, It was a great help!! Thank you again 👍

[2020-11-05 05:01] mehmet-erim commented on #6059
Hi @NecatiMeral

We were using the `ng generate library` command before. Now we download the module template (you can download via ABP CLI: `abp new YourProjectName -t module -csf`). The module template is more suitable for developing a new module that works with ABP backend.
By the way, we will not create a new library in `ng-packs` folder. The folder will be removed in the future. We going to mo

[2020-11-05 05:03] leonkosak commented on #5589
@maliming, any particular reason for that?

[2020-11-05 05:35] maliming commented on #5589
These codes are useful for specific deployment methods (Docker, reverse proxy,...). If developers find a problem, they should understand the problem and use `ValidIssuers`.  This is my thought. : )

[2020-11-05 06:04] maliming commented on #6057
You are welcome.

[2020-11-05 06:04] #6057 closed, assigned to nobody

[2020-11-05 06:09] leonkosak commented on #5589
That's true. But a lot of deployments nowadays are at least behind reverse proxy. :) Having "placeholder" in appsettings.json for valid issuers saves time in all aspects (and it's not something so specific like having for instance RabbitMQ part of configuration in appsettings.json).

[2020-11-05 06:43] NecatiMeral commented on #6059
Hi @mehmet-erim,

thank you for your answers. That helps a lot.

Not directly associated with abp, but:
When creating a new module (in the `modules` directory), you'll have to use a kind of `dev-app` (same procedure as now). How are you exactly adding the new module to the `dev-app` without publishing it? I've read the [readme](npm/ng-packs/README.md) but the `yarn` commands are failing after addi

[2020-11-05 06:45] mehmet-erim opened #6066 "Registering a new Angular locale function should be able to override"
We use Webpack's `import` function to lazy load a new locale. Since we are using the [Webpack's magic comments](https://webpack.js.org/api/module-methods/#magic-comments), we cannot dynamically get the locale file names that need to be loaded dynamically. So we have decided the `registerLocale` function should get from `app.module`. As of v4.0, you must pass a `registerLocaleFn` to `forRoot` of Co

[2020-11-05 07:36] lszabados opened #6067 "Some captions do not have a translation"
The following captions cannot be localized.

Before logging in, the term "Login"
The term "Log out" in the menu after logging in.
The term "Login" in the menu before logging in.
The phrase "You are logged out" after logging out.
The term "Check in login state".

I tested it with Blazor UI.

[2020-11-05 07:44] leonkosak commented on #5518
@hikalkan what do you think?

[2020-11-05 07:49] aizhule opened #6068 "CurrentUser parsing failed from verssion 3.3.x"
The access_token obtained using password authorization passed the [Authorize] verification, but the attributes of ICurrentUser were not resolved.
as the picture shows:
![image](https://user-images.githubusercontent.com/38711506/98212322-61146900-1f7e-11eb-9d6d-5cd3de0135a0.png)

[2020-11-05 08:43] #6056 closed, assigned to maliming

[2020-11-05 08:50] git102347501 opened #6070 "UT environment IdentityUserManager.GenerateTwoFactorTokenAsync out-of-service"
### GitHub Issues
**ABP Framework version:** 3.1.2
**Type:** Angular
**Exception message:** NotSupportedException No IUserTwoFactorTokenProvider<TUser> named 'Default' is registered

##XXXAppService
[code]
##UT
[code]
When I was there xxx.application.Tests When I write the test case, my test method has an error when calling this function. Is this because my test environment needs to rely on other

[2020-11-05 08:54] #5795 closed, assigned to cotur

[2020-11-05 08:56] hikalkan opened #6071 "update the documents for #6069 change"
Update the documents based on #6069:

* https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-4_0.md
* https://github.com/abpio/abp-commercial-docs/tree/dev/en/tutorials/book-store

[2020-11-05 09:03] hikalkan opened #6072 "Update Blazor tutorial based on the v4.0 changes"
For example, we added Actions DataGrid Column.
Also, GetAuthorsAsync call is not needed on init in part-9.
We started to use `Validations`. Form elements must be covered with that.
We started to use `<Form>` (Blazorize component), instead of `EditForm`.

[2020-11-05 09:49] #6071 closed, assigned to cotur

[2020-11-05 10:25] aelhadi opened #6073 "Using MyProject.HttpApi"
Hi,

I want to use MyProject.HttpApi for my extra API.
i've created à controller inside the project, but when i lunch the App, i don't find my API (Controller) in Swagger.

Any help (use case exemple for  MyProject.HttpApi)? any doc how to integrate my costum controller in swagger ?

Best Regards

[2020-11-05 11:54] realLiangshiwei commented on #6073
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2020-11-05 12:11] aelhadi commented on #6073
thanks for your response ....

i solved the issue....

my controller class was abstract ....  it should not...

every thing is Ok.....

[2020-11-05 12:11] #6073 closed, assigned to nobody

[2020-11-05 14:04] aelhadi commented on #5628
I have exactly the same probleme,  just when i publish my IDP to IIS .

The senario is

Tierd App :

"ConnectionStrings": {

    "Default": "Server=.................Database=MyDefaultDB;Trusted_Connection=True;",

    "AbpIdentityServer": "....................Database=IdpDB;Trusted_Connection=True;",
    "AbpPermissionManagement": "....................Database=IdpDB;Trusted_Connection=True;",

[2020-11-05 18:05] wboebel commented on #4385
@CrazyBaran Have you noticed that abp now (v3.3) supports Rebus for the distributed event bus, and that there is also a Rebus project to enable Azure Service Bus transport for rebus???
https://github.com/rebus-org/Rebus.AzureServiceBus

I'm wondering if the these two implementations would be an effective way to achieve the goal.  Have not looked in to the details of either implementation yet but h

[2020-11-05 19:18] hikalkan opened #6076 "Document how to write tests for the Angular UI"
I created a document for the MVC UI: https://github.com/abpframework/abp/blob/dev/docs/en/UI/AspNetCore/Testing.md

- [ ] Create a document here: https://github.com/abpframework/abp/blob/dev/docs/en/UI/Angular/Testing.md (in the rel-4.0 branch).
- [ ] Add to docs.nav.json

[2020-11-05 19:38] aelhadi opened #6077 "Tiered App with IdentityServer QuickUI ( Method 'GetAllAsync' in type 'Volo.Abp.IdentityServer.Grants.PersistedGrantStore' does not have an implementation.)"
Hello,

I'm traying to use IdentityServer QuickUI (https://github.com/IdentityServer/IdentityServer4.Quickstart.UI) with my App (Tiered)
when i run my App the IDP  MyApp.IdentityServer i got the error below :

[code]

[2020-11-06 00:50] maliming commented on #6077
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2020-11-06 00:51] #5248 closed, assigned to nobody

[2020-11-06 00:53] maliming commented on #5628
@aelhadi  Please create a new issue.

[2020-11-06 01:57] maliming commented on #6022
@hikalkan What do you think?

[2020-11-06 02:27] Qlimax2009 commented on #5921
I looked up the source code and modified it the provider，and then injected it，it works.
As a user, I hope to be able to customize method names or several styles to choose.
Thank you.

[2020-11-06 03:39] zhangqx1 opened #6079 "AbpApplicationConfigurationAppService.GetAuthConfigAsync performance"
When I request the api "/api/abp/application-configuration", it is very slow, it takes about 4 seconds.

### GitHub Issues

[code]

[2020-11-06 04:33] maliming commented on #6079
I think this related to your Redis.

[2020-11-06 04:50] vnetonline opened #6080 "Learn abp Framework"
Very excited to be working on the new set of courses for @abpframework to be launched on 1 Dec 2020. If you want to be on the launch list please head over to [http://learnabpframework.com](http://learnabpframework.com) and subscribe to get a special launch discount and peak at the courses we are working on.

[2020-11-06 05:01] zhangqx1 commented on #6079
but I switched to a new Redis in localhost, the problem did not improve

[2020-11-06 05:13] #5225 closed, assigned to nobody

[2020-11-06 05:13] maliming commented on #6079
We can try to optimize the performance here.

[2020-11-06 05:25] maliming commented on #6079
@zhangqx1

What's your **ABP Framework version**?

[2020-11-06 05:27] zhangqx1 commented on #6079
3.1.2

[2020-11-06 06:08] zhangqx1 opened #6081 "AbpJsonOptions.DefaultDateTimeFormat = "yyyy-MM-dd HH:mm:ss" json Deserialize failed"
i will get json string format to "yyyy-MM-dd HH:mm:ss" ,but when i set AbpJsonOptions ,  frontend failed to sends the POST data, . The response body says:

[code]
The value of the invalid lastUpdated property being sent is:
[code]

MyprojectHttpApiHostModule
[code]

TestController
[code]

[2020-11-06 06:53] #4588 closed

[2020-11-06 06:55] bnymncoskuner opened #6082 "[Angular UI] enable redirecting to MVC when manage-profile is requested"

[2020-11-06 07:40] jmglezgz commented on #5931
I’m able to translate abp Framework to es-ES but not the local culture MX. Anyway, Let me know how can I help you translating abp framework.

Thanks,

[2020-11-06 08:01] #5643 closed, assigned to armanozak

[2020-11-06 08:19] leonkosak opened #6084 "Optimal usage of StringEncryptionService (Volo.Abp.Security.Encryption)"
**Use case**
There should be username and password in database which is used to authenticate to other API.
Password should be saved encrypted in database and should be decrypted "standalone inside backend logic" (without additional parameters from web application (user input parameters)).

So, my following questions are:

1) Is StringEncryptionService (Volo.Abp.Security.Encryption) the the most ap

[2020-11-06 08:23] armanozak opened #6085 "Proxy Generator: Use isRequired to make string types optional"
Related to #5278

[2020-11-06 08:27] stsrki opened #6086 "Update all projects to Blazorise RC2"

[2020-11-06 08:54] #6082 closed, assigned to bnymncoskuner

[2020-11-06 09:00] maliming commented on #6084
See https://github.com/abpframework/abp/pull/5800

[2020-11-06 09:15] #6086 closed, assigned to stsrki

[2020-11-06 09:24] #6066 closed, assigned to mehmet-erim

[2020-11-06 09:26] hikalkan opened #6089 "Define an option to add extension properties for the user to the claims (auth ticket)"

[2020-11-06 09:35] stsrki commented on #6025
With the latest Blazorise update this now works so I'm closing it.

[2020-11-06 09:35] #6025 closed, assigned to stsrki

[2020-11-06 09:42] hikalkan opened #6090 "Move Retry Logic for the Dynamic HTTP Client Proxy to the startup template"
In the v3.2 we had changed (#5304) the options and now it is pretty easy to configure the retry logic.

Currently, by default it is retrying 3 times. Not every application needs that. For example, Blazor uses the same system and typically it doesn't need it. This is generally needed for inter-microservice communication.

So,

* Do not define any `ProxyClientBuildActions` for the `AbpHttpClientBuil

[2020-11-06 10:13] stsrki commented on #6046
https://github.com/stsrki/Blazorise/issues/1441

[2020-11-06 10:41] leonkosak commented on #6084
So there is no need to define and store custom passPhrase and salt in Encrypt method? :)

[2020-11-06 11:06] cotur commented on #5738
Hi @rasmani795,

After that issue (https://github.com/abpframework/abp/issues/5606) is completed, the problem should be fixed. Please try to reproduce this problem at `4.0` version.

I close this issue now, if you will get still same result (at `4.0` version), please write a comment with detailed screenshots, example project etc. then we will investigate again.

[2020-11-06 11:06] #5738 closed, assigned to cotur

[2020-11-06 11:36] maliming opened #6091 "Create an option to set the JSON serializer provider globally."
[code]

[2020-11-06 11:36] hikalkan opened #6092 "Add JsonStringEnumConverter to JsonSerializerOptions"
Otherwise, it can't convert enum strings to enum members on deserialization.

[2020-11-06 11:38] hikalkan opened #6093 "Add Newtonsoft.Json to System.Text.Json change to the migration document"
https://github.com/abpframework/abp/issues/6091 will provide an option to keep the current serializer.

[2020-11-06 11:40] maliming commented on #6084
We use random values in the `appsettings.json` file. You can store `AbpStringEncryptionOptions` in the database or other places if needed.

[2020-11-06 11:46] hikalkan commented on #6092
I tried to add

[code]

to the `AbpJsonOptionsSetup` but I got error on the setting management page (app-pro):

JsonException: The JSON value could not be converted to Volo.Abp.Identity.Features.IdentityTwoFactorBehaviour. Path: $.twoFactorBehaviour | LineNumber: 0 | BytePositionInLine: 32.

[2020-11-06 11:51] mathro opened #6094 "[Question] List of Angular UI compatible modules"
Hello,

Is there a list of Angular supported modules or a comparison table of UI frameworks vs the modules they support?

Thanks!

[2020-11-06 11:54] maliming commented on #6092
I'll handle this. 👍

[2020-11-06 11:55] maliming commented on #6081
You can try to send date time as `2020-11-06 00:00:00`

[2020-11-06 11:56] maliming commented on #6068
* Steps needed to **reproduce** the problem.

[2020-11-06 12:29] geffzhang commented on #5625
I've tested using DevExpress Blazor components with ABP Blazor UI, just refer to devexpress blazor nuget package

[2020-11-06 12:45] hikalkan opened #6095 "Can we enable to set non-public properties on System.Text.Json"
System.Text.Json doesn't set non-public properties by default on deserialization.
Is there an option to enable to set them (https://github.com/dotnet/runtime/issues/29743 ?)? If so, it is better to enable it.

[2020-11-06 13:03] hikalkan commented on #5810
I am closing since the split query seems faster as opposite to my feelings :)

[2020-11-06 13:03] #5810 closed, assigned to maliming

[2020-11-06 13:33] DonVliet opened #6097 "Upload custom css"
Could we have the option to upload custom css that would be loaded just before the page <body> tag on each page - similar to the option in Zero?

[2020-11-06 13:35] ismcagdas opened #6098 "Consider building SLN files when building the entire repository"
Currently building csproj files takes too much time to build.

Follows https://github.com/abpframework/abp/pull/6096

[2020-11-06 14:01] vincywindy opened #6100 "Abp Cli generate-proxy bug for restful style api"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
The abp cli version is 3.3.1
* Your **User Interface** type (Angular/MVC/Reac

[2020-11-06 14:02] mehmetuken commented on #6095
Every non-public setter field marking with [JsonInclude] attribute.

Test file: https://github.com/dotnet/runtime/blob/d54791648ee99bb36ac86d83568e155f19a67486/src/libraries/System.Text.Json/tests/Serialization/PropertyVisibilityTests.NonPublicAccessors.cs#L45-L81

https://github.com/dotnet/runtime/pull/34675

[2020-11-06 14:05] maliming commented on #6095
Using attribute is not a good solution. : )

[2020-11-06 14:08] mehmetuken commented on #6095
I think so :D But this is the approved solution now :(

[2020-11-06 14:18] maliming commented on #6100
Please answer the questions in the template.

[2020-11-06 14:35] mathro opened #6101 "Receiving error Method arguments are not valid when trying to create a new Blog post"
ABP Framework version: commercial 3.3.1
User Interface: MVC
Exception message and stack trace:
Volo.Abp.Validation.AbpValidationException: Method arguments are not valid! See ValidationErrors for details.
   at Volo.Abp.Validation.MethodInvocationValidator.ThrowValidationError(MethodInvocationValidationContext context)
   at Volo.Abp.Validation.ValidationInterceptor.InterceptAsync(IAbpMethodInvoca

[2020-11-06 14:58] hikalkan commented on #5935
Currently GitHub issues & Stackoverflow [abp tag](https://stackoverflow.com/questions/tagged/abp) seems enough for support.
However, we will consider this if this adds a value.

[2020-11-06 14:59] aelhadi commented on #6077
Steps :
-Create new **Tiered** ABP solution (version 3.3.1)
-Copy (https://github.com/IdentityServer/IdentityServer4.Quickstart.UI) the folder to Test.App.IdentityServer (my IDP from tiered App)

-install IdentityServer4 nuget (last) to my Test.App.IdentityServer

lunch App

Best Regards

[2020-11-06 15:03] hikalkan commented on #394
Thank you all to join into this discussion. This was the most commented issue in the ABP Framework history :)

With the release of ABP 4.0 RC.1 in the next week (probably at Nov 11), we will have a production ready Blazor UI (based on the stable .NET 5.0).

So, closing this issue here. Please open new issues if you have problems or suggestions related to the Blazor UI.

Thanks again for your great

[2020-11-06 15:03] #394 closed

[2020-11-06 15:10] aelhadi commented on #2584
Hi,

@obassullu can you please share the solution? i'm stack with this too....

Best Regards

[2020-11-06 15:29] ebicoglu commented on #5931
@washyn you can translate https://github.com/abpframework/abp/files/5473575/abp-translation.volo.es-MX.zip

---

@jmglezgz you can translate https://github.com/abpframework/abp/files/5473574/abp-translation.abp.es-MX.zip

I will add your names to the greeting list

[2020-11-06 15:48] armanozak opened #6103 "Remove "What's next?" from standalone Angular UI documents"

[2020-11-06 16:20] #6085 closed, assigned to armanozak

[2020-11-06 16:35] #6103 closed, assigned to armanozak

[2020-11-06 23:03] aididhaiqal commented on #5885
My problem resolved by reinstalling node js and updating it to latest version

[2020-11-06 23:14] alan-albuquerque commented on #956
Why are you guys talking like that if it's an open source project? These things takes time and if you really need it, go ahead and do it by yourself, then submit a pull request with it.

Anyway, thanks a lot @hikalkan for your work on it. It's a great framework that I'm really thinking to use in my project.

[2020-11-07 02:35] maliming commented on #6077
Abp 3.3.1 is using Identity Server package v3.1.3. so I think it can't compatible with IdentityServer4's latest version.

https://github.com/abpframework/abp/blob/rel-3.3/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo.Abp.IdentityServer.Domain.csproj#L28

[2020-11-07 02:59] 1443403216 opened #6105 "Validation issues in Blazor UI"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
ABP version 3.2.1

* Your **User Interface** type (Angular/MVC/React... etc.)

[2020-11-07 05:10] mehmet-erim commented on #6059
Components, directives, etc. what we want in the library can be imported to the `dev-app`. But a piece of the `dev-app` cannot be imported to the library. It is the most important rule. Please see [this app](https://github.com/abpframework/abp/tree/dev/templates/module/angular) in detail. You will find answers to all your questions.

symlink-manager works well. If you share any error in detail, we

[2020-11-07 09:39] aelhadi commented on #6077
Thanks...
Working fine 👍

By the way... why you don't upgrade Abp to IdentityServer4's latest version ?

[2020-11-07 12:43] gfo2007 opened #6107 "Running First Application"
Hi,
I am new to abp framework. I am following the Getting Started Tutorial and when I tried to run the Acme.BookStore.Web project as my start-up project, the browser displayed the error in the image below. Please help.
![abp framework app error](https://user-images.githubusercontent.com/14317420/98441527-db67f900-20f6-11eb-8b21-59ea4a8c878a.PNG)

[2020-11-07 14:17] realLiangshiwei commented on #6077
See https://github.com/abpframework/abp/pull/4578

[2020-11-07 14:17] #6077 closed, assigned to nobody

[2020-11-07 19:19] feafarot commented on #5325
Is there a way to do that for default services that are defined inside Abp?
@PMExtra

[2020-11-07 19:30] pekeramazan opened #6109 "The Book List Page error on chrome acme is not defined"
Hi Im testing tutorial but I have problem,
1-) I cant run this code on chrome

acme.bookStore.books.book.getList({}).done(function (result) { console.log(result); });

2-) I cant see book list

![problem](https://user-images.githubusercontent.com/56788476/98449877-bdc37f80-2148-11eb-960f-cbd60c540f65.JPG)

[2020-11-08 00:52] NoWayJA commented on #5517
We want to use server blazor for OfficeJS plugins that are not capable of running WASM. This would be super helpful.

[2020-11-08 08:11] rygar08 commented on #6007
I've discovered that when my Student class inherits Volo.Abp.Domain.Entities.Entity<int> I get this error... 'HotChocolate.SchemaException' in HotChocolate.Types.dll.  If I remove the Entity<int> inheritance everything works fine. However, I need my Entities to inherit from Volo.Abp.Domain.Entities.Entity so the can be used with the IRepository<> interface.

[2020-11-08 13:13] #5542 closed, assigned to cotur

[2020-11-08 17:58] #3751 closed

[2020-11-08 18:12] #6015 closed, assigned to cotur

[2020-11-08 20:53] brunobertechini commented on #5885
I am having a similar problem, but the error is
`[Invalid Module] Backend module "app" does not exist in API definition.`

Simple oob application created with:
abp new MyProject -u angular --separate-identity-server

Node Version: v14.15.0

[2020-11-08 23:55] rygar08 commented on #6007
Hotchocolate had an issue with the GetKeys() function in the inherited Volo.Abp.Domain.Entities.Entity class. I got it working my configuring the schema to ignore the GetKeys() function.

`

    public class Query {

        [UseSelection]
        public IQueryable<Students.Student> GetStudents([Service] IRepository<Students.Student> studentR) {
            // var rrr = studentR.ToList();

[2020-11-09 01:08] realLiangshiwei commented on #6109
Hi

You can refer to the sample source code: https://github.com/abpframework/abp-samples/tree/master/BookStore-Mvc-EfCore

[2020-11-09 01:36] maliming commented on #6107
hi

Are you create a tiered project? if so you need run `IdenttiyServer` and `Api.Host` first.

[2020-11-09 01:37] maliming commented on #6095
There is currently no good solution, move to **4.1** .

[2020-11-09 01:38] #5312 closed, assigned to nobody

[2020-11-09 02:08] #5356 closed, assigned to nobody

[2020-11-09 03:33] maliming opened #6115 "Make permissions and settings support batch check/get."
We have code that uses loops to read settings and permissions.

Each request reads too much Redis cache. If redis is in a separate server, this may affect performance.

Related: #6079

[2020-11-09 06:44] NecatiMeral commented on #6059
Hi @mehmet-erim,

the project dependency is clear to me (no circular dependencies and so on). The only thing that wasn't clear to me was how the dev-app get's the `my-project-name` project dependency. Adding it to the `package.json` fails expectedly.

I've examined the template project and if I understood it correctly, the dependency get's established through the `angular.json` and not the `packag

[2020-11-09 06:46] NecatiMeral commented on #6098
+1

We've used abp to test something on our build server. Using the sln files just took about half of the required time.

[2020-11-09 06:56] #6092 closed, assigned to maliming

[2020-11-09 07:21] #6090 closed, assigned to maliming

[2020-11-09 07:23] #6091 closed, assigned to maliming

[2020-11-09 07:33] NecatiMeral commented on #6094
Hi,

you can see a list of angular modules [here](https://github.com/abpframework/abp/tree/dev/npm/ng-packs/packages).
For the blazor list, you have to check the modules individually (afaik) [here](https://github.com/abpframework/abp/tree/dev/modules).

[2020-11-09 08:12] hikalkan opened #6118 "Upgrade to .NET 5.0 Final"
It will be released on this Tuesday, so we immediately upgrade all the packages.

[2020-11-09 08:25] #3411 closed

[2020-11-09 08:26] #5606 closed, assigned to mehmet-erim

[2020-11-09 08:31] gfo2007 commented on #6107
@maliming thanks for the response. Yes I am creating a tiered project and I did run the IdentityServer and Api.Host projects before the Web project. It is showing the error below.

**An unhandled exception occurred while processing the request.
TaskCanceledException: The operation was canceled.
`System.Net.Http.ConnectHelper.ConnectAsync(string host, int port, CancellationToken cancellationToken)`

[2020-11-09 09:26] ebicoglu commented on #5931
@jmglezgz you translate to es-ES then if there's any local change for MX, we'll update

[2020-11-09 10:22] stsrki commented on #6029
@hikalkan Can you please explain why closing a modal is wrong? For me, this feels like a perfectly good approach from a UX perspective. When you press the ESC key or click on backdrop it is basically the same as you click the **Cancel** button. The user cannot confirm any operation by doing that. He just cancels it.

[2020-11-09 10:25] stsrki commented on #6019
@hikalkan  Would any of this animation be good? https://tobiasahlin.com/spinkit/

[2020-11-09 10:36] #6046 closed, assigned to stsrki

[2020-11-09 11:25] #6018 closed, assigned to cotur

[2020-11-09 12:04] pekeramazan commented on #6109
It's works! thanks.but why is it samples different from the project(abp.io) I downloaded

[2020-11-09 12:11] realLiangshiwei commented on #6109
May your project has some problems.  however, you can compare with the sample source code.

[2020-11-09 12:11] #6109 closed, assigned to nobody

[2020-11-09 13:26] #6093 closed, assigned to hikalkan

[2020-11-09 13:48] leonkosak commented on #6107
Please provide error logs for each project (ids, httpapi, web).

[2020-11-09 14:26] pekeramazan commented on #6109
I found problem: Problem is "tiered project" ,
I download not tiered and works fine

[2020-11-09 15:39] gfo2007 commented on #6107
@leonkosak please below is the log found in vscode-chrome debug.txt

**2020-11-9, 15:29:23.843 UTC
[15:29:23.844 UTC] OS: win32 x64
[15:29:23.844 UTC] Adapter node: v12.16.3 x64
[15:29:23.844 UTC] vscode-chrome-debug-core: 6.8.9
[15:29:23.844 UTC] debugger-for-chrome: 4.12.8
[15:29:23.844 UTC] From client: initialize({"pathFormat":"path","clientID":"visualstudio","clientName":"Visual Studio","adap

[2020-11-09 16:04] leonkosak commented on #6107
In each project, which is launched, there is "Logs" folder created. Please refer these logs.

[2020-11-09 22:02] gentledepp opened #6126 "Publishing Distributed Events as Transactional"
# Issue: abp.io seems to create a two-phase commit distributed transaction when using distributed events
Abp.io latest source code sends messages (domainevents which should be called integrationevents in DDD I guess) when committing a transaction.

Thus, it *can* happen, that
1. the EF transaction succeeds
2. but the message bus is not reachable (for a longer time so that even using Polly does not

[2020-11-10 05:28] realLiangshiwei commented on #6037
I suggest you upgrade to version 3.3 or you can compare the difference between the 3.3 and 3.2 versions and manually replace the implementation

[2020-11-10 05:28] #6037 closed, assigned to nobody

[2020-11-10 05:30] realLiangshiwei commented on #6040
Related https://github.com/abpframework/abp/pull/6124

[2020-11-10 06:16] maliming commented on #6101
hi

Can you reproduce this with a free app template?

[2020-11-10 06:49] guolianyu opened #6127 "when I am overriding IdentityUserManager, it happened error"
![image](https://user-images.githubusercontent.com/29138525/98637647-a0b6c880-2363-11eb-87a9-abb2f7c480c8.png)

[14:45:55 ERR] An unhandled exception has occurred while executing the request.
Autofac.Core.DependencyResolutionException: An exception was thrown while activating Volo.Abp.Account.Web.Pages.Account.LoginModelNew -> FuYu.Accounts.Common.LoginCommon.
 ---> Autofac.Core.DependencyResoluti

[2020-11-10 07:10] bnymncoskuner opened #6128 "[Angular UI] add multiple select to extensible form"

[2020-11-10 07:22] realLiangshiwei commented on #6127
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2020-11-10 07:37] mehmet-erim opened #6130 "Remove all deprecated components, services, etc. from Angular packages"

[2020-11-10 08:14] hikalkan commented on #6022
`return await PermissionStore.IsGrantedAsync` should be wrapped by `using(CurrentTenant.Change(...`

[2020-11-10 08:24] #6128 closed, assigned to bnymncoskuner

[2020-11-10 08:41] hikalkan opened #6132 "A New Theme Alternative to the Basic Theme"
Basic Theme is good since it provides a minimal theme with Bootstrap's defaults. In this way, you can built your application specific theme based on.

We are planning to introduce a second official theme that is also minimalist but this time with more stylish and production ready. It will be probably a lite version of the [Lepton Theme](https://commercial.abp.io/themes).

We recently [documented t

[2020-11-10 08:49] guolianyu commented on #6127
I have already solved it,  this document's part is wrong in [https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-a-domain-service](https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-a-domain-service)

we should expose "MyIdentityUserManager " not  "IdentityUserManager"
[ExposeServices(typeof(

[2020-11-10 08:55] jmglezgz commented on #5931
Perfect es-ES sounds good for me, I'm working on it. 50% in progress. Hope ready tomorrow.

[2020-11-10 09:29] #6021 closed, assigned to realLiangshiwei

[2020-11-10 09:31] maliming commented on #1874
Resolved by https://github.com/abpframework/abp/pull/6124

[2020-11-10 09:31] #1874 closed

[2020-11-10 09:34] vnetonline commented on #6080
First I would like to thank you for registering and watching the two courses regarding the ABP Framework at https://amazingsolutions.teachable.com namely being:

Today I would like let you know that I have decided to move and develop new courses for the ABP Framework at https://LearnABPFramework.com. I would like to invite you to join our Launch List by visiting and registering your name and email

[2020-11-10 09:39] #6127 closed, assigned to nobody

[2020-11-10 09:41] CestrianImaging commented on #6080
Hi Vineet,

I will be looking to develop an application based around APB using Blazor in the new year. Would this be something you are interested in working on as a developer?

If so, what is your hourly or daily rate?

Kind Regards,
Kevin Farrow

From: vnetonline <notifications@github.com>
Sent: 10 November 2020 09:35
To: abpframework/abp <abp@noreply.github.com>
Cc: Subscribed <subscribed@norepl

[2020-11-10 10:15] #6040 closed, assigned to nobody

[2020-11-10 12:14] ebicoglu commented on #5931
also can you share your names

[2020-11-10 12:52] jmglezgz commented on #5931
Jose Manuel Gonzalez

[2020-11-10 13:30] goodyear-incaricotech opened #6136 "Dependancy injection not working properly with Remote and Ocelot"
I would like to create a backend with a microservices approach where a microservice "Host" can use the existing other microservices that implements a well know interface.

I hosted my test code here: https://github.com/goodyear-incaricotech/abp.test-ocelot .

I have a common library that have the common module inteface *IModuleAppService*:
  - abp.test-ocelot/srcModuleCommons/ModuleCommons.Applica

[2020-11-10 13:54] goodyear-incaricotech commented on #6136
Sorry for the first text of the description issue.
I accidentally pressed the enter key before I finished writing the text.

Please tell me if the error is not clear.

[2020-11-10 14:21] hikalkan opened #6138 "Update Upgrading document for EF Core migrations"
It would be good if we write what to do with EF Core migrations after upgrading the framework for an existing solution.

[2020-11-10 14:42] leonkosak commented on #6084
I saw when I generated new project. :) Thank you.

[2020-11-10 14:42] #6084 closed, assigned to nobody

[2020-11-10 14:48] leonkosak commented on #6138
- Generate new migration (and delete it if Up and Down methods are empty)
- Run DbMigrator application if there is non-empty migration

Anything missing? :)

[2020-11-10 14:50] martenw commented on #5935
Perhaps discussions here would be good? It seems questions posted in Stackoverflow are missed? I came here planning to post an issue since the question I added in SO has no answers. Looking at the [abp-tag in SO](https://stackoverflow.com/questions/tagged/abp) it seems to be the case for several questions.

I have just started using the platform and without a place to ask questions it is easy to g

[2020-11-10 18:01] journey191 opened #6140 "IdentityUserRole"
ABP Identity module can only assign roles to user,if I create a new role and I want to assign this role to many users,or if I want to remove a role from many users assigned,it is a hard work.
I tryed injecting the IRepository&lt;IdentityUserRole&gt; in my applicationservice,but I got a exception:
[code]
I found that the constructor of class IdentityUserRole is protected.
How can I modify the data

[2020-11-10 19:09] zainvegeta commented on #2022
Facing the same problem.Setting the TablePrefix to string.empty to remove Abp causes the same error.

'Invalid object name 'AbpSettings'

[2020-11-10 20:35] NecatiMeral commented on #6138
A best practices guide for breaking changes in the migrations would be great also.

[2020-11-10 21:44] ivanrusso commented on #5343
@michelveloso
I try to use the startup template without Identity Server.

Have you already done a try without the Identity Server? I would be interested in the easiest way to implement this.

[2020-11-11 02:01] zsanhong opened #6142 "why "Authorization failed" when deploy to IIS?"
I wrote a application with abp. When I run it on iisexpress in vs2019,It works fine,but when I deploy to IIS,I got a Authorization failed error, please help me,the Log like follow:

2020-11-11 09:05:59.226 +08:00 [INF] Executing endpoint 'Volo.Abp.AspNetCore.Mvc.ProxyScripting.AbpServiceProxyScriptController.GetAll (Volo.Abp.AspNetCore.Mvc)'
2020-11-11 09:05:59.226 +08:00 [INF] Executing endpoint

[2020-11-11 03:41] #6118 closed, assigned to maliming

[2020-11-11 04:05] samchenws opened #6143 "About Volo.Abp.FluentValidation"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version 3.3.1**.
* Your **Volo.Abp.FluentValidation version 3.3.1**.
* Your **User Inter

[2020-11-11 06:09] maliming commented on #5010
There is currently no 3.x package. right?

https://github.com/mongodb/mongo-csharp-driver/releases

[2020-11-11 06:27] maliming commented on #6143
Hi
Can you share a project?

[2020-11-11 06:31] mtozlu commented on #5010
No. It is not released yet.

[2020-11-11 07:04] yinchang0626 opened #6144 "Abp cli generates bad proxy (Angular)"
I have tried to generate proxy with `abp cli` (Angular),
but the generation result is wrong if the `controller's` return type is a class that inherit any generic class.

Your ABP Framework version.
Both abp cli and abp framework version are 3.3.1

Your User Interface type (Angular/MVC/React... etc.) if the issue is related to a specific UI
Angular

Exception message and stack trace if available (c

[2020-11-11 07:15] 274188A opened #6145 "Linq Projections"
Using

[code]

As you know the Id Property is `readonly` as part of best practices for encapsulation/protection.
However, when a developer is trying to do linq projections we are left with having to create shadow classes so we can use strongly typed IQueryable<T>.  Anonymous types are not suitable for satisfying interfaces.

It's a real pain in the backside having to create tones of classes just t

[2020-11-11 07:20] #5626 closed, assigned to EngincanV

[2020-11-11 07:22] #6022 closed, assigned to maliming

[2020-11-11 07:30] abhishekbhalani opened #6147 "About the upgrade from 3.2.1 to 3.3.1 Error: Could not load type 'Volo.Abp Volo.Abp.Account.Web'"
### GitHub Issues

 If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. - 3.3.1
* Your **User Interface** type  is MVC
* Exception message and **stack trace** if available (check the logs).
* Could not load type '**Volo.Abp.Account.Web.Pages.Account.AccountPage**' from assembly 'Volo.Abp.Account.Web, **Version=3.3.1.0**, Culture=neutral, PublicKey

[2020-11-11 07:42] #6029 closed, assigned to stsrki

[2020-11-11 07:44] #6019 closed, assigned to stsrki

[2020-11-11 08:26] samchenws commented on #6143
I'm sorry, I found a problem because my other class library references fluent validation 9.30.

[2020-11-11 08:26] #6143 closed, assigned to nobody

[2020-11-11 08:27] samchenws commented on #6143
Thank you for your efforts.

[2020-11-11 08:32] #6079 closed, assigned to maliming

[2020-11-11 08:32] #6115 closed, assigned to maliming

[2020-11-11 08:46] hikalkan opened #6149 "Update account/checkPassword URL on the Angular UI"
Changed the URL `/api/account/checkPassword` to `/api/account/check-password` for the account module. We should update on the Angular UI if we are using this.

Related to https://github.com/abpframework/abp/pull/5866

[2020-11-11 08:47] abhishekbhalani commented on #1042
@maliming I did it..

[2020-11-11 08:48] yanxiaodi commented on #3462
Just leave a workaround if you have the below issue:
If you are using Azure DevOps pipeline to build abp applications, you may see the error:
[code]
FYI: https://support.abp.io/QA/Questions/60/Azure-Devops-Build-Pipeline-SourceLinkCreateCommandLine-Error
You can edit the **common.props** file in your solution folder and delete the reference to the **SourceLink.Create.CommandLine** package then the

[2020-11-11 09:21] stsrki opened #6150 "Update Blazorise to .Net 5"
https://github.com/stsrki/Blazorise/issues/1452

[2020-11-11 10:07] maliming opened #6151 "Get the permissions of the current user in advance in the MenuConfigurationContext."
If the application has a lot of menus that need to check permissions, this can improve performance.

https://github.com/abpframework/abp/blob/39eb54fbdad50d905cc3aa3dc99a839adad98e5c/framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/MenuManager.cs#L27-L36

https://github.com/abpframework/abp/blob/39eb54fbdad50d905cc3aa3dc99a839adad98e5c/framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Na

[2020-11-11 10:25] ebicoglu opened #6152 "EnumConverter violates the constraint of type 'T'"
In ABP Framework v4.0, the following exception is thrown when it's trying to map to a `nullable enum`.

[code]

To reproduce it;

- Create an input DTO and enum

[code]

[code]

- Then write an application to service and a new action method to get `CarCreateDto`

![image](https://user-images.githubusercontent.com/9526587/98799750-927ab200-2420-11eb-8c4f-4b2706f0ee26.png)

It throws the exception h

[2020-11-11 10:57] #6150 closed, assigned to stsrki

[2020-11-11 11:24] #6007 closed, assigned to nobody

[2020-11-11 11:48] mehmet-erim opened #6154 "Deprecate the ConfigState"
`ConfigState` has been deprecated. `ConfigState` methods and getters were split into two files named **`EnvironmentService`** and **`ConfigStateService`**. Use the **ConfigStateService** or the **EnvironmentService** instead of the `ConfigState`.

# Breaking Changes
- `ConfigState` reference removed from `CoreModule`. If you want to use the `ConfigState` (not recommend), you should pass the state

[2020-11-11 12:27] enisn opened #6157 "Dynamic JavaScript Proxies can't handle complex types"
### Summary
I'm trying to use my [AutoFilterer](https://github.com/enisn/AutoFilterer) library to filtering entities. I've complex types in such as **Range<T>** which includes`Min` and `Max` properties  in it.

- **ABP Framework version**: `3.3.1`

- **User Interface**: `MVC`

### Example
- My used dto instead of PagedAndSortedResultRequestDto:

[code]

- Swagger output:
Swagger supports and works

[2020-11-11 13:06] maliming commented on #6152
Already resolved by https://github.com/abpframework/abp/pull/6146

[2020-11-11 13:06] #6152 closed, assigned to maliming

[2020-11-11 13:57] enisn commented on #6157
Looks like related with #5272

[2020-11-11 13:57] #6154 closed, assigned to mehmet-erim

[2020-11-11 17:18] hikalkan opened #6160 "Extension properties don't work for tiered MVC applications"
Probably, JSON serialization change broke it.

To reproduce;

* Open the app-pro template
* Add the following configuration into the `MyProjectNameModuleExtensionConfigurator.cs`:

[code]

* Run the app as tiered (run IdentityServer, Api.Host and Web.Host applications with redis running)
* Try to edit SocialSecurityNumber of a user.

There is an error while web.host sends data to api.host. You can

[2020-11-11 18:24] hikalkan opened #6161 "Show display text on the table and auto-select the nav property on the edit form"

[2020-11-11 18:28] hikalkan opened #6162 "Document the navigation extension properties"
With the v4.0, we've created an option to add extension property to an existing entity that is a foreign key for another entity. It automatically shows a combobox to select the target entity on edit/create forms.
I will update the document (also mention this in the release blog post when its done).

[2020-11-12 00:39] zsanhong commented on #6142
I know the reason, IIS must use Https protocol

[2020-11-12 00:39] #6142 closed, assigned to nobody

[2020-11-12 03:51] realLiangshiwei opened #6164 "Main menu should support target attribute"

[2020-11-12 03:53] realLiangshiwei commented on #6164
https://github.com/abpframework/abp/commit/05b62bfd22fa38245b771ee0304027832648a57e

[2020-11-12 05:08] #6164 closed, assigned to realLiangshiwei

[2020-11-12 06:20] #6160 closed, assigned to maliming

[2020-11-12 06:27] mehmet-erim commented on #6149
Account module has been removed from Angular UI

[2020-11-12 06:27] #6149 closed, assigned to nobody

[2020-11-12 06:40] Nokecy commented on #721
@hikalkan use GlobalServiceScopeFactory
throw  System.ObjectDisposedException : Instances cannot be resolved and nested lifetimes cannot be created from this LifetimeScope as it (or one of its parent scopes) has already been disposed.

[2020-11-12 07:02] #5652 closed, assigned to mehmet-erim

[2020-11-12 07:18] #5622 closed, assigned to realLiangshiwei

[2020-11-12 07:19] hikalkan opened #6170 "Upgrade to Angular 11"

[2020-11-12 07:41] vnetonline commented on #6080
Dear Kevin

Thanks for reaching out, let's take this conversation private. I would like to learn more about your development project.

Your email gives me an Idea for an "Add-On" community service on LearnABPFramework.com to connect people with ideas with developer with talent to build Applications and Modules using the ABP Framework. I plan on have a Job Board where Business Entrepreneur's can co

[2020-11-12 08:04] maliming commented on #721
The `IServiceProvider `in `ApplicationInitializationContext `is scope.

https://github.com/abpframework/abp/blob/fe375f299545d31eb6b8789e752d86e6a57094c2/framework/src/Volo.Abp.Core/Volo/Abp/AbpApplicationBase.cs#L70-L78

Try get **IServiceScopeFactory** in **Startup**

![image](https://user-images.githubusercontent.com/6908465/98912494-26bc4600-2501-11eb-8e67-299ab79b6602.png)

[2020-11-12 08:08] #721 closed

[2020-11-12 08:27] hikalkan opened #6172 "Module template angular login problem"
Module template angular UI can't login via authorization code flow. We probably need to arrange the data seed.

[2020-11-12 08:59] NecatiMeral commented on #6172
We've experienced the same issue.
We had to insert the client's origin url into `IdentityServerClientCorsOrigins`.

[2020-11-12 09:04] Nokecy opened #6173 "Upload files in browser via IRemoteStreamContent ?"

[2020-11-12 09:10] DenverSearle opened #6174 "Redis bug when creating separate Identity Server"
**ABP Framework version:** v3.3
**User Interface:** Angular

* Exception message and **stack trace**:
2020-11-10 17:08:34.362 +02:00 [INF] Hosting environment: Development
2020-11-10 17:08:34.362 +02:00 [INF] Content root path: C:\abp\test\aspnet-core\src\Test.IdentityServer
2020-11-10 17:08:34.630 +02:00 [INF] Request starting HTTP/2.0 GET https://localhost:44372/
2020-11-10 17:08:34.955 +02:00 [

[2020-11-12 09:19] leonkosak commented on #4405
Where in Application (database) additional **AppName** could be defined (abp v3.3+)?

**Scenario**
Some external systems (applications) would use _/api/account/register_ API method to register user. It would be nice and correct to give each external system individual name, right?
Thank you.

[ERR] Url, named 'Abp.Account.EmailConfirmation', for the application 'MyBusinessApp' was not configured. U

[2020-11-12 09:45] #6130 closed, assigned to armanozak

[2020-11-12 10:45] #5715 closed, assigned to bnymncoskuner

[2020-11-12 10:45] #6170 closed, assigned to bnymncoskuner

[2020-11-12 10:57] maliming commented on #6174
hi

Can you try to read the `Redis:Configuration` in your web module?

https://github.com/abpframework/abp/blob/rel-3.3/framework/src/Volo.Abp.Caching.StackExchangeRedis/Volo/Abp/Caching/StackExchangeRedis/AbpCachingStackExchangeRedisModule.cs#L23

[2020-11-12 11:14] #6172 closed, assigned to maliming

[2020-11-12 12:11] leonkosak opened #6178 "AppName, AppUrlOptions"
When registering new user (/api/account/register), required parameter is also appName (string).

When appName is not predefined, the following error appears in Logs.txt:
[ERR] Url, named 'Abp.Account.EmailConfirmation', for the application 'MyBusinessApp' was not configured. Use AppUrlOptions to configure it!

After some research, I found this: https://docs.abp.io/api-docs/abp/3.1/api/Volo.Abp.UI.

[2020-11-12 14:12] chenqilscy commented on #5809
怎么写的？

[2020-11-12 16:38] DonVliet opened #6179 "DbMigrator warning installing pre-release version (4.0.0-rc.1)"
Uses latest pre-release version (4.0.0-rc.1)

Downloaded the latest release (Blazor, Not Tiered) and ran the DbMigrator on an empty database but get the following message:

**The query uses a row limiting operator ('Skip'/'Take') without an 'OrderBy' operator. This may lead to unpredictable results**

![image](https://user-images.githubusercontent.com/69393775/98968198-46556d80-2505-11eb-8d4b-e98a

[2020-11-12 17:38] journey191 commented on #2469
It worked except in Identity Moudule,for example,when I create a user with duplicate UserName,the err msg is still in English.

[2020-11-12 18:01] #5217 closed, assigned to nobody

[2020-11-12 19:29] hikalkan opened #6180 "4.0.0-rc.1 api host startup fails"
* Create a new project with `abp new Acme.BookStore -u blazor --preview`
* Run database migrations (delete the old database if exists)
* Run HttpApi.Host

[code]

[2020-11-12 19:40] hikalkan commented on #6180
Same for an MVC project too.

[2020-11-12 22:07] #5224 closed, assigned to nobody

[2020-11-12 23:28] tvddev commented on #5651
Has anyone tried this with Telerik controls? Really keen to hear your experiences!

[2020-11-12 23:30] tvddev commented on #5651
v4.1 Preview? :)

[2020-11-12 23:33] tvddev commented on #5518
As a replacement for the Xamarin example mobile app, this would be awesome.

[2020-11-13 01:13] x2009again commented on #2469
@journey191

[2020-11-13 01:13] maliming commented on #6180
I get an error when I use Rider run `Api.Host`, but everything is working when I debug `Api.Host`.

------
Problem code line is:
https://github.com/abpframework/abp/blob/c9ce1809c61abc48029913bb05b798ee67a7d395/framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/RequestLocalization/DefaultAbpRequestLocalizationOptionsProvider.cs#L50
------

Temporary patch: Copy **MyDefaultAbpRequestLocalizatio

[2020-11-13 01:16] 274188A commented on #6180
+1 - except I cannot get past the above mentioned error.  i'm using:

[code]

when you say "update the CLI" - what version of the CLI is the latest/best to use with `4.0.0-rc.1`?

I tried to update the CLI with:

[code]
which gives me
[code]

[2020-11-13 01:17] maliming commented on #5651
It's in backlog.

[2020-11-13 01:19] tkezyo commented on #6147
some error

[2020-11-13 01:26] maliming commented on #6179
Thanks for feedback I will fix it.

[2020-11-13 01:28] #5378 closed, assigned to nobody

[2020-11-13 01:30] maliming commented on #6147
hi @abhishekbhalani

Can you provide clearer and reproducible steps?
Or you can share a project.

[2020-11-13 01:31] maliming commented on #6180
@274188A
[code]

[2020-11-13 01:37] tkezyo commented on #6147
~~when i use cli 3.3.0 to create module, it has same error.  update cli to 3.3.1 can fix it~~

My problem here is Abp.AspNetCore.Mvc.UI.Theme.AdminLTE package

[2020-11-13 01:43] journey191 commented on #2469
@x2009again Hi,
My project type is Application(Angular),not Module.There is no GatewayHostModule in my project.
I reuqest the API `/api/abp/application-configuration` and the response show that `currentCulture`  is already Chinese.
![image](https://user-images.githubusercontent.com/11626700/99018385-e27a8580-2594-11eb-8014-582e55e0534f.png)

But the Excetion Message is still in English.For example

[2020-11-13 01:50] 274188A commented on #6180
still no luck...re-created proj with latest CLI and get this still:

   at System.Runtime.CompilerServices.ConfiguredTaskAwaitable`1.ConfiguredTaskAwaiter.get_IsCompleted()
   at Microsoft.AspNetCore.RequestLocalization.DefaultAbpRequestLocalizationOptionsProvider.GetLocalizationOptionsAsync()
   at Microsoft.AspNetCore.RequestLocalization.AbpRequestLocalizationMiddleware.InvokeAsync(HttpContext c

[2020-11-13 02:03] maliming commented on #6180
@274188A Can you try `dotnet clean & dotnet build & dotnet run` commands in `Api.Host` project.

[2020-11-13 02:10] 274188A commented on #6180
ok tried that and even cleaned out all obj, bin files, restored, rebuild, dotnet run -> same error...

[2020-11-13 02:12] 274188A commented on #6180
watch : Started
[10:08:17 INF] Starting Gp.HttpApi.Host.
[10:08:18 INF] User profile is available. Using 'C:\Users\xxxx\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at rest.
[10:08:18 INF] Loaded ABP modules:
[10:08:18 INF] - Volo.Abp.AuditLogging.AbpAuditLoggingDomainSharedModule
[10:08:18 INF] - Volo.Abp.BackgroundJobs.AbpBackgroundJobsDomainShar

[2020-11-13 02:22] maliming commented on #6180
@274188A https://github.com/abpframework/abp/issues/6180#issuecomment-726442950

I will investigate this.

[2020-11-13 03:28] x2009again commented on #2469
UI should access api through gateway,not directly access the api.

[2020-11-13 04:37] 274188A commented on #6180
Could you be more specific with the description "your project" - ie which project?
thanks (i'm assuming you mean the host but assumptions can be dangerous :-)

[2020-11-13 04:40] maliming commented on #6180
`XXX.HttpApi.Host`

[2020-11-13 04:43] 274188A commented on #6180
yup all good now

[2020-11-13 05:08] ruby0602 opened #6182 "4.0.0-rc1 error:An unhandled exception occurred while processing the request"
![image](https://user-images.githubusercontent.com/4489940/99030894-b66cfd80-25b0-11eb-8b4d-682039586001.png)
I used cli to generate the template, but encounter a problem

[2020-11-13 05:11] 274188A commented on #6182
#6180

[2020-11-13 05:11] #6182 closed, assigned to nobody

[2020-11-13 05:14] 274188A opened #6183 "CORS request for path: /.well-known/openid-configuration from origin: https://localhost{port}->System.NullReferenceException"
after resolving #6180, and trying to run from the standard templated project, i see there is another problem:

part of my log file:

the `/.well-known/openid-configuration` path seems to be the problem

[2020-11-13 05:17] 274188A commented on #6183
host appsettings.json - to show: 44307 is registered as an origin allowable..

  "App": {
    "SelfUrl": "https://localhost:44353",
    "CorsOrigins": "https://*.Gp.com,http://localhost:4200,https://localhost:44307"
  },
  "ConnectionStrings": {
    "Default": "Server=(LocalDb)\\MSSQLLocalDB;Database=Gp;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "AuthServer": {
    "Authority":

[2020-11-13 05:42] 274188A commented on #6183
running the app without debugging manages to open the first page and displays the login.  Clicking login produces err:500 -

2020-11-13 13:39:12.311 +08:00 [ERR] An unhandled exception has occurred while executing the request.
System.NullReferenceException: Object reference not set to an instance of an object.

the `/.well-known/openid-configuration` path seems to be the problem

[2020-11-13 05:47] maliming commented on #6183
https://github.com/abpframework/abp/issues/6180

[2020-11-13 05:47] #6183 closed, assigned to nobody

[2020-11-13 05:48] 274188A commented on #6183
no - different

[2020-11-13 05:48] maliming commented on #6180
We need to republish all packages to resolve.

[2020-11-13 05:49] 274188A commented on #6183
this is not the same as #6180

[2020-11-13 05:50] maliming commented on #6183
You can wait for 4.0.0-rc2 and try again.

[2020-11-13 05:57] 274188A commented on #6183
Ok

[2020-11-13 07:14] OldKing-lion opened #6184 "Abp cli Update"
My current version is 3.3.0,I want to update to 4.0.0_rc1 perview version to use Net5，But It has some error when it excuted the update command ,like the content in picture below.
![image](https://user-images.githubusercontent.com/13028615/99039771-e6250100-25c2-11eb-87a1-2ec4c48f045a.png)

[2020-11-13 07:18] OldKing-lion commented on #6184
when i roll back the nuget package version to 3.3.1
![image](https://user-images.githubusercontent.com/13028615/99039963-46b43e00-25c3-11eb-8d53-3d14cea800cc.png)

It always showes error and I can not find the reason:
![image](https://user-images.githubusercontent.com/13028615/99040116-8418cb80-25c3-11eb-9458-1ddacb6d385b.png)

[2020-11-13 07:23] gfo2007 commented on #6107
@leonkosak sorry for the late reply. I was on an assignment in a remote area where internet was extremely poor.

Please the logs have been attached in the order:
1. Web
2. Identity Server
3. Api Host

[logs.txt](https://github.com/abpframework/abp/files/5535300/logs.txt)

[logs.txt](https://github.com/abpframework/abp/files/5535304/logs.txt)

[logs.txt](https://github.com/abpframework/abp/files/55

[2020-11-13 07:26] #6180 closed, assigned to maliming

[2020-11-13 07:26] maliming commented on #6184
See https://github.com/abpframework/abp/issues/6180

[2020-11-13 07:26] #6184 closed, assigned to nobody

[2020-11-13 07:27] gfo2007 commented on #6107
@leonkosak please what us the Reddis Server in the error below?

**2020-11-09 09:04:02.962 +00:00 [WRN] It was not possible to connect to the redis server(s). UnableToConnect on 127.0.0.1:6379/Interactive, Initializing/NotStarted, last: NONE, origin: BeginConnectAsync, outstanding: 0, last-read: 2s ago, last-write: 2s ago, keep-alive: 60s, state: Connecting, mgr: 10 of 10 available, last-heartbeat

[2020-11-13 07:30] OldKing-lion commented on #6180
ok wait the stable version

[2020-11-13 08:27] DenverSearle commented on #6107
Hi - I had the same issue when creating a new project with a "Separate Identity Server" - see my issue and fix here: https://github.com/abpframework/abp/issues/6174

[2020-11-13 08:35] stsrki commented on #6028
https://github.com/stsrki/Blazorise/issues/1482

[2020-11-13 08:37] DenverSearle commented on #6174
**Without the "Redis" config setting:**
An unhandled exception occurred while processing the request.
ArgumentNullException: Value cannot be null. (Parameter 'configuration')
StackExchange.Redis.ConnectionMultiplexer.PrepareConfig(object configuration) in ConnectionMultiplexer.cs, line 850

**With the "Redis" config section:**
An unhandled exception occurred while processing the request.
RedisConn

[2020-11-13 09:08] bnymncoskuner opened #6185 "Write Migration to 4.0 guide for Angular"

[2020-11-13 11:39] maliming commented on #6174
Is there a Redis server on your computer?

[2020-11-13 11:46] redcatH opened #6187 "Blob Module MongoDb System.FormatException: Size 119275719 is larger than MaxDocumentSize 16777216"
I am using the blob module, and the upload file is larger than 16MB to report an error
Blob module MongoDb System.FormatException: Size 119275719 is greater than MaxDocumentSize 16777216

Does abp mongodb support GridFS?
or
Does the Blob module support uploading functions larger than 16MB
![QQ图片20201113194611](https://user-images.githubusercontent.com/30196697/99069255-f7810400-25e8-11eb-943b-b041

[2020-11-13 12:17] yekalkan opened #6188 "[Bug] Text Templating: Model property names with more than one word aren't rendered"
`await _templateRenderer.RenderAsync(AbpIoEmailTemplates.ArticleNotifyNew, new
            {
                Title = article.Title
            })`

Rendered as expected in template file with `{{ model.title }}`.

`await _templateRenderer.RenderAsync(AbpIoEmailTemplates.ArticleNotifyNew, new
            {
                ArticleTitle = article.Title
            })`

isn't rendered in template file

[2020-11-13 12:37] maliming opened #6190 "Replace LockAsync of Nito.AsyncEx with another method."
https://github.com/abpframework/abp/pull/6181

[2020-11-13 12:37] realLiangshiwei opened #6191 "An error occurred while updating user profile"
Steps:

1. Use the CLI To a project: `abp new QaBlazor-t app -u blazor --mobile none  --database-provider ef -csf --preview`
2. Run`.DbMigrator` , `.HttpApi.Host` and `.Blazor`  project
3. Navigate to the manage profile page and select the `personal info` tab.
4. Click the save button

![image](https://user-images.githubusercontent.com/16813853/99072374-dcb18e00-25ee-11eb-88ec-196c08ee11ae.png)

[2020-11-13 12:42] maliming commented on #6191
Include Angular.

[2020-11-13 13:08] realLiangshiwei opened #6192 "The menus still exists without permissions"
After refreshing the page, the menu will be fine, but we might explicitly refresh the page or there might be some other better way

![ng](https://user-images.githubusercontent.com/16813853/99074644-1e443800-25f3-11eb-83ae-7b258f790825.gif)

[2020-11-13 13:25] goodyear-incaricotech commented on #6136
Maybe I haven't explained the error very well, is that so?

[2020-11-13 13:27] realLiangshiwei commented on #6192
Duplicate of https://github.com/abpframework/abp/issues/5526

[2020-11-13 13:27] #6192 closed, assigned to nobody

[2020-11-13 13:28] cotur opened #6193 "Do not convert the endpoint parameters to Kebab-Case"

[2020-11-13 13:46] colinin commented on #6188
I also met this situation, in **TemplateRenderer.RenderAsync** , all model attributes must be lowercase,
For example:
[code]
also must be the same in a .tpl: {{ model.**articletitle** }}

[2020-11-13 14:30] EngincanV commented on #6191
The same error occurred in the "/identity/organization-units" route in the Angular project. ( It occurs when I try to edit organization-unit)

[2020-11-13 14:54] #6193 closed, assigned to cotur

[2020-11-13 15:05] #5212 closed, assigned to mehmet-erim

[2020-11-13 16:23] mathro commented on #6094
Thanks Necati! This helps but I'd expect a comparison table in the website.

[2020-11-13 16:23] #6094 closed, assigned to nobody

[2020-11-13 16:25] jmglezgz commented on #5931
Hi @ebicoglu, I have finished **es-ES translation**. Focus on framework and modules. Let me know how do you want to receive the file.

[2020-11-13 17:15] ebicoglu commented on #5931
you can make it zip and attach it here

[2020-11-13 17:34] mehmetuken commented on #6095
https://github.com/dotnet/runtime/issues/42399 maybe help this.

[2020-11-13 17:45] jmglezgz commented on #5931
Upsss! I didn't realize that I can drag and drop
[abp-translation.abp.es-ES.zip](https://github.com/abpframework/abp/files/5538446/abp-translation.abp.es-ES.zip)

abp.io section in progress, I'll finish as soon as possible.

[2020-11-13 19:32] DenverSearle commented on #6174
No, I don't have Redis on my computer. I only needed to use the Api and Identity Server templates, why must I have Redis for that?

[2020-11-14 02:32] maliming commented on #6174
See https://github.com/abpframework/abp/issues/5023

[2020-11-14 04:44] 274188A opened #6197 "BLAZOR UI : 4.0.0rc2 - Login Screen no longer has Azure AD OpenId option"
We used to have this (which I was using) now post upgrade to 4.0.0rc2 it is no longer there.
Will this be added back?

![image](https://user-images.githubusercontent.com/40014477/99139797-df57c600-2676-11eb-8326-5cf27092ef49.png)

[2020-11-14 07:05] #6174 closed, assigned to nobody

[2020-11-14 08:38] #6197 closed, assigned to nobody

[2020-11-14 08:39] 274188A commented on #6197
figured how this works by looking at the module...

[2020-11-14 11:05] PMExtra commented on #5325
@feafarot Sorry for late reply. I think it's impossible. The predefined modules (what you call them default services that defined inside Abp) have their own controllers instead of `ConventionalControllers` (well known as dynamic controller). They have specified route for each action. (ref #5866)
You can remap the route for each action just like what you did in ASP.NET Core.

[2020-11-14 12:56] mtozlu commented on #6187
This is not about Blob Storing module of abp. It is about MongoDB max document size. I encourage you to read about enabling GridFS.
Abp's BlobStoring.Database.MongoDB package does not support GridFS currently. Maybe you can implement your own BlobContainer to use with GridFS and create a pull request to include it in abp.

[2020-11-14 13:04] ruby0602 opened #6199 "angular error about ApplicationInfo and EnvironmentService after using abp update"
![image](https://user-images.githubusercontent.com/4489940/99147532-c8d45d80-26bc-11eb-9242-c41087c42fa7.png)
version is 4.0.0-rc.2

[2020-11-14 13:15] maliming commented on #6199
hi

* Steps needed to **reproduce** the problem.

[2020-11-14 13:17] ruby0602 commented on #6199
@maliming the app is fine before using abp update, I just finished the abp update

[2020-11-14 13:23] maliming commented on #6199
You can temporarily refer to this document.

https://github.com/abpframework/abp/blob/docs/6185/docs/en/Migration-Guides/Abp-4_0-Angular.md

[2020-11-14 13:25] ruby0602 commented on #6199
@maliming
![image](https://user-images.githubusercontent.com/4489940/99147921-9a0bb680-26bf-11eb-92f4-28010eab577d.png)
![image](https://user-images.githubusercontent.com/4489940/99147952-d2ab9000-26bf-11eb-8459-a6d70818b4e6.png)
first image show the time before abp update
second image show the time after abp update

[2020-11-14 13:26] ruby0602 commented on #6199
@maliming OK, thanks a lot

[2020-11-14 15:53] #6199 closed, assigned to nobody

[2020-11-14 17:06] hikalkan opened #6201 "Username text is smaller than the same texts in the header"
The Basic Theme for the Blazor UI:

![image](https://user-images.githubusercontent.com/1210527/99152750-c0782480-26b4-11eb-851a-7de745ac64bd.png)

[2020-11-14 18:40] cotur commented on #6173
Hi, can you describe your question a bit more?

[2020-11-14 21:57] washyn commented on #5931
the translation of volo is at 90% you can add the missing parts or make a comparison with what you have. In this repo https://github.com/washyn/abp_volo_es-mx_translate

[2020-11-14 22:30] aididhaiqal commented on #336
Hi,

Are we getting this feature anytime soon?

[2020-11-15 14:25] qqzhw opened #6204 "Rabbitmq message error for Version-4.0.RC2"
The AMQP operation was interrupted: AMQP close-reason, initiated by Library, code=541, text="Unexpected Exception", classId=0, methodId=0, cause=System.IO.IOException: 无法从传输连接中读取数据: 远程主机强迫关闭了一个现有的连接

[2020-11-15 15:56] skywalkers2012 opened #6205 "Oracle Migration Error"
OracleRelationalCommand.ExecuteReaderAsync() :  Oracle.ManagedDataAccess.Client.OracleException (0x80004005): ORA-00972: 标识符过长
   at OracleInternal.ServiceObjects.OracleConnectionImpl.VerifyExecution(Int32& cursorId, Boolean bThrowArrayBindRelatedErrors, SqlStatementType sqlStatementType, Int32 arrayBindCount, OracleException& exceptionForArrayBindDML, Boolean& hasMoreRowsInDB, Boolean bFirstItera