[2021-12-30 09:27] maliming commented on #11138
Please check this class.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/test/MyCompanyName.MyProjectName.EntityFrameworkCore.Tests/EntityFrameworkCore/MyProjectNameEntityFrameworkCoreTestModule.cs#L18

[2021-12-30 09:34] maliming commented on #11129
You can try to use the local MySQL database to troubleshoot the problem.

[2021-12-30 09:39] tianxin8206 commented on #11129
The local database is fine.But in production,project have to connecting this db.

[2021-12-30 09:45] maliming commented on #11129
I don't think this related to ABP.

[2021-12-30 09:52] tianxin8206 commented on #11129
But I created an empty .net6 WebAPI project,referenced Pomelo.EntityFrameworkCore.MySql 6.0,the database connection was successful.I don't think this related to Pomelo.EntityFrameworkCore.MySql.

[2021-12-30 09:58] maliming commented on #11101
Use https://github.com/abpframework/abp/pull/11130 instead.

[2021-12-30 09:58] #11101 closed, assigned to nobody

[2021-12-30 16:42] KaungZawHtet opened #11140 "official abp helper on vs code"
It's better to have an abp helper extension on vs code.

[2021-12-30 21:03] improwise opened #11141 "How do we hide pages in menu for user with no permission?"
* Your **ABP Framework version**. 5.0.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: Blazor Server
* Your database provider(EF Core/MongoDB): EF
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Have not been able to find this in the documentation. How do we hide menu items fo

[2021-12-30 21:21] improwise commented on #11141
A special use case here can also be that you have created a submeny, like "BackOffice", containing three pages and we want to either hide the entire submenu if the current user lacks backoffice permissions (permission set on BackOffice menu) or perhaps hide it in case the user does not have access to any of the pages in it (permissions set only on the subpages).

How would you go about implementin

[2021-12-31 02:41] #11121 closed, assigned to realLiangshiwei

[2021-12-31 07:33] tianxin8206 commented on #11129
This is not ABP's problem, I'm sorry.

[2021-12-31 07:33] #11129 closed, assigned to nobody

[2021-12-31 08:06] hexianggui opened #11146 "An ERR " http status 400" occurred after upgraded to 5.0"
the parameters don't match:
- http url parameter join by ','
![234](https://user-images.githubusercontent.com/30622318/147814650-7c52df12-d08c-4082-96d3-30c33135fc44.png)

- swagger parameter
![2021-12-31_160438](https://user-images.githubusercontent.com/30622318/147811275-b219f6be-e6ce-4c88-b63c-b58c8ed4c639.png)
![2021-12-31_155211](https://user-images.githubusercontent.com/30622318/147811026-05

[2021-12-31 19:00] iyilm4z commented on #11146
@hexianggui could you please share **the har file** with us to investigate better on the issue by looking at your network traffic. Please do it on **an incognito window** to prevent saving sensitive data.

Here is how to save it:

![image](https://user-images.githubusercontent.com/9105939/147836129-f1e0a9db-1354-4983-befc-62cd68668758.png)

[2022-01-01 01:53] maliming commented on #11141
Doesn't it work for you?

https://docs.abp.io/en/abp/latest/UI/Blazor/Navigation-Menu#authorization

[2022-01-02 05:50] ChangYinShung opened #11153 "Doc Module : create project but get error exception"
ABP Framework version : 4.4.4
User Interface: MVC
database  provider : EF Core

* Steps needed to **reproduce** the problem.
# Step 1
Create an application by abp cli
follow this toturial : https://docs.abp.io/en/abp/latest/Modules/Docs
add DependsOn `Volo.Docs.Web`
All operation is work fine  and it can read my github's  document

# step 2
I have mutiple projects , so  i add DependsOn `Volo.Docs.

[2022-01-02 14:34] chaouanabil opened #11154 "Problem with AbpIdenity permission"
### Question / issue

We are using abp version 4.3.1.
We have two projects (created as application template). solution A and B, HttHost project from solution A references HttpProject from solution B.
the project run without problem, but when trying to call Application-Configuration endpoint from project, we get the following error:

![image](https://user-images.githubusercontent.com/19364848/14787

[2022-01-02 15:23] improwise commented on #11141
Ah, I had missed that. It should probably be referenced somehow from the authorization and authentication pages that is also available in the same section (even though it is perhaps indirectly referenced via AuthorizationService.IsGrantedAsync).

But how are we supposed to use this, surround every page (menu item) with something like:

[code]

and then reuse the policy created for each page? Ideal

[2022-01-02 15:34] improwise opened #11155 "ConfigureMainMenuAsync() isn't async"
* Your **ABP Framework version**. 5.0.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI Blazor Server UI

(This could be an ABP Suite problem as we have used that to generate the solution)

Just noticed that:

`private Task ConfigureMainMenuAsync(MenuConfigurationContext context)`

while being named async seems to lack the "async" declaration so

[2022-01-02 15:37] improwise commented on #11155
This might be related to https://github.com/EasyAbp/AbpHelper.CLI/pull/154

[2022-01-03 00:49] maliming commented on #11155
Are you using ABP Suite?

[2022-01-03 00:52] maliming commented on #11141
You can get some services like `ICurrentUser` from `context`.

[2022-01-03 01:06] maliming commented on #11154
Can you share a simple project and steps to reproduce the problem?

[2022-01-03 01:18] improwise commented on #11155
Yes, as mentioned in OP.

[2022-01-03 01:20] maliming commented on #11155
ok. Please feedback on https://support.abp.io

[2022-01-03 01:20] #11155 closed, assigned to nobody

[2022-01-03 01:24] improwise commented on #11141
Thanks. Is the ICurrentUser.IsInRole() the recommended solution to this scenario? I saw some previous replies along the line "always use permissions" but for this use case, that seems a bit off compared to just checking if user is member of a role.

[2022-01-03 01:28] maliming commented on #11030
@zeinali0 If you don't have time we can handle it.

[2022-01-03 02:11] maliming commented on #11141
If you want to check the role of the current user, yes, you can use it, and you can also check whether the current user is authenticated.

You can resolve other services from the context to check.

[2022-01-03 08:12] zeinali0 commented on #11030
@maliming  Sorry I late, I got a little bit busy, I can send it in next 3 day.
But you can handle it if you are near release and need it sooner

[2022-01-03 09:42] improwise commented on #11155
What I can see the same problem exists also in the non ABP Suite generated applications this is why I initially reported it here instead of the ABP Commercial specific area.

[2022-01-03 09:42] improwise commented on #11155
What I can see the same problem exists also in the non ABP Suite generated applications this is why I initially reported it here instead of the ABP Commercial specific area.

[2022-01-03 10:56] enisn opened #11158 "Mention Redis dependency for CMS-Kit Modules in documentation"
Related issue #10288

[2022-01-03 11:08] #11107 closed, assigned to enisn

[2022-01-03 11:34] improwise commented on #11141
Thanks. We used:

`var currentUser = context.ServiceProvider.GetRequiredService<ICurrentUser>();
`
which seems to work.

One thing we noticed is that admin users does not seem to list more roles than Admin even though the have access to all the roles AFAIK. This is probably correct unless you actually add them to those roles or just include an admin-check when generating the menu.

I

[2022-01-03 11:34] #11141 closed, assigned to nobody

[2022-01-03 20:28] #10460 closed, assigned to nobody

[2022-01-04 01:07] rqx110 opened #11161 "remove `Gulp` from `abp update` cli command"
Since we have not use `gulp` in the latest version, but it still be used in `abp udpate` cli command:

https://github.com/abpframework/abp/blob/41fca9449e57f94d513d7efaf60ab0b7a518e028/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/NpmPackagesUpdater.cs#L94

it will cause:
![image](https://user-images.githubusercontent.com/1829209/147996227-a569f4c1-578b-42f8-a1f2-b9b67f412a67.pn

[2022-01-04 02:43] #11161 closed, assigned to realLiangshiwei

[2022-01-04 03:49] xiedaibin commented on #11079
@hawav
I tried to do this, but I still get the error，and I also get the error when I run the project

The entity type 'ExtraPropertyDictionary' requires a primary key to be defined. If you intended to use a keyless entity type, call 'HasNoKey' in 'OnModelCreating'. For more information on keyless entity types, see https://go.microsoft.com/fwlink/?linkid=2141943.

   在 Microsoft.EntityFrameworkCore

[2022-01-04 05:49] xiedaibin commented on #11079
@maliming  I solved my problem, but why is there one more here  ExtraPropertyDictionary  in builder.Model.GetEntityTypes()
var allEntityTypes = builder.Model.GetEntityTypes();
            foreach (var t in allEntityTypes)
            {
                **if (t.ClrType != typeof(ExtraPropertyDictionary))**
                {
                    var entityBuilder = builder.Entity(t.ClrType);

[2022-01-04 08:52] #11158 closed, assigned to enisn

[2022-01-04 08:52] #10288 closed, assigned to enisn

[2022-01-04 09:38] vijay2358 opened #11174 "Abp 5.0/5.1 will not work with .NET core 5.0.."
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. 5.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue i

[2022-01-04 09:46] maliming commented on #11174
Abp 5.0+ target to **NET 6.0.** As far as I know, NET 6 requires VS 2022+.
https://dotnet.microsoft.com/en-us/download/dotnet/6.0

[2022-01-04 15:15] afresh commented on #11154
You maybe added 2 same permission groups.
Check your permissions which use the function `AddGroup`.

[2022-01-04 15:46] chaouanabil commented on #11154
Thank you for your answers.
we have fixed the issue, this issue is caused because we had reference to two versions of Volo.Abp.Identity  (community and commercial version as shown here ).

![image](https://user-images.githubusercontent.com/19364848/148084322-fcfe86cf-dcba-4b09-984d-66d0dd5bd04a.png)

At the begining, we have removed the reference to Volo.Abp.Identy.HttpApi in HttpApi Project , but

[2022-01-04 15:52] chaouanabil commented on #11154
yes it is caused by trying at add a permissionsGroup with the same name, but it wasn't our permissions group. it was AbpIdenity which is defined in Abp.Identity Module.
the idea that Abp framework auto-discover all the permissionProviders by reflection and call the define method of those providers. in our case it discovered two that define the same permission group name "AbpIdentity", one from com

[2022-01-04 16:21] #11109 closed, assigned to nobody

[2022-01-04 16:28] gterdem commented on #11095
Closed via https://github.com/abpframework/eShopOnAbp/pull/53

[2022-01-04 16:28] #11095 closed, assigned to gterdem

[2022-01-04 17:21] gterdem opened #11178 "eShopOnAbp: Add popover to cart"
Add onhover event to show popover that lists basket items

[2022-01-04 17:23] gterdem opened #11179 "eShopOnAbp: Design Basket UI"

[2022-01-05 01:59] realLiangshiwei opened #11180 "Upgrade Blazorise to 0.9.5.4"
https://blazorise.com/news/release-notes/095-4

[2022-01-05 07:02] gterdem opened #11182 "eShopOnAbp: Design Payment UI"

[2022-01-05 07:06] JadynWong opened #11183 "Failed to run `Web.Tests project` integration test"
ABP v5.0.1 / MVC / EF Core
Razor page integration tests always redirect to `/Error?httpStatusCode=404`.

![image](https://user-images.githubusercontent.com/13699353/148165214-74ca075c-983a-4127-80d3-bea4069b9e7e.png)
![image](https://user-images.githubusercontent.com/13699353/148165378-2aead499-69fd-4f13-b219-971820cd7762.png)

## Reproduce
Run `abp new Acme.BookStore`
Execute the `Index_Tests` te

[2022-01-05 07:08] gterdem opened #11184 "eShopOnAbp: Create recommended product list widget"
Create a widget that suggests random products. This can be used under basket, payment etc pages.

[2022-01-05 07:50] #11060 closed, assigned to realLiangshiwei

[2022-01-05 08:08] martenw opened #11186 "Errors thrown in ApplicationService are not parsed on the client"
* Your **ABP Framework version**: 5.0.1 (edited: had wrong version here first)
* Your **User Interface**: Razor pages
* Your database provider(EF Core/MongoDB) : EF Core

I have created a custom appservice that implement `IApplicationService`. It has one method that when it fails throw a `UserFriendlyException`. Endpoint is generated using [Auto API Controllers](https://docs.abp.io/en/abp/4.4/API/

[2022-01-05 08:16] realLiangshiwei commented on #11186
* Steps needed to **reproduce** the problem.

[2022-01-05 09:35] martenw commented on #11186
To test I have set up a clean new appservice that work as expected, will try to isolate what the issue is but most likely it is in my own project code.

[2022-01-05 09:46] martenw commented on #11186
The error was caused by my method returning a string, how can i return a string as response to the client?

[code]

[2022-01-05 10:02] martenw commented on #11186
Ok, so it was just string that was the issue, switching to a Dto in the response works fine:

[code]

Guessing that you are extending the class in some way that is not working if it is just a string. Is this limitation somewhere in the docs that I have missed? Otherwise I think that would be useful.

[2022-01-05 11:01] #11183 closed, assigned to maliming

[2022-01-05 13:04] realLiangshiwei commented on #11186
Hi,

This is a problem when the return type is a string,  we can enhance the client-side error handling code.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Http/Volo/Abp/Http/ProxyScripting/Generators/JQuery/JQueryProxyScriptGenerator.cs#L126

[2022-01-05 15:07] dkaczor97 opened #11194 "Adding endpoint descriptions in swagger for services from separate modules"
* **ABP Framework version**. 5.0.1

I am trying to create a better documentation for my API by adding a ///summary for every public method. I want it to be visible in my swagger. I already know that I cannot add summary in AppServices, I have to create Controllers and add summaries there. I also configured the project following [this document](https://docs.microsoft.com/en-us/aspnet/core/tutorials

[2022-01-05 18:31] improwise opened #11196 "Data annotation with ABP base clases like AuditedEntityDto?"
Is it possible to use data annotation for the properties defined in ABPs base classes like AuditedEntityDto?

Lets say we have something like

[code]

and we would like to set a DisplayName like "Skapad" for something like CreationTime which is inherited from the base class?

That's Swedish  BTW :)

[2022-01-05 20:43] kfrancis opened #11198 "Article Request - Deploy CI/CD to Azure from Github"

[2022-01-05 22:25] improwise commented on #11196
Is the recommended approach in this case just do do something like this and just define the property yourself and then use Data Annotation on that? Any obvious drawbacks?

[code]

[2022-01-06 01:23] maliming commented on #11196
You can create your own `AuditedEntityDto` class, and add attributes to the properties.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/AuditedEntityDto.cs#L10-L17

[2022-01-06 02:16] improwise commented on #11196
Thanks. Ideally, we would try to stay away from changing the ABP "framework code" if possible, but I guess your solution has the big advantage of applying to all DTOs using the same base class all in once.

[2022-01-06 04:57] #11186 closed, assigned to realLiangshiwei

[2022-01-06 05:50] gterdem opened #11203 "eShopOnAbp: Create my orders page"

[2022-01-06 06:28] #11179 closed, assigned to gterdem

[2022-01-06 07:50] #11180 closed, assigned to realLiangshiwei

[2022-01-06 08:48] gdlcf88 commented on #11100
Thank you @maliming for https://github.com/abpframework/abp/commit/eae8d6340fe2a63cc6ccb78cf3675044d02edd02.

The local distributed event bus has the same behavior now:
![image](https://user-images.githubusercontent.com/30018771/148355475-01565e9c-36f4-4293-823a-6dbbbd2c1cdb.png)

[2022-01-06 08:57] gdlcf88 opened #11208 "Distributed events unexpectedly published in advance if outbox is unavailable"
https://github.com/abpframework/abp/commit/eae8d6340fe2a63cc6ccb78cf3675044d02edd02 fixed a similar problem of the local distributed event bus.

But for distributed event buses that implement `DistributedEventBusBase`, the problem is still there **if app developers do not configure any OutboxConfig**:
![image](https://user-images.githubusercontent.com/30018771/148356490-393648b1-a93d-4901-9007-5ce

[2022-01-06 09:18] gdlcf88 opened #11210 "Any handler throwing block the whole inbox queue"
https://github.com/abpframework/abp/blob/9c3b34067524b852c9eaf497728409d6f5e08ec4/framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/InboxProcessor.cs#L93-L118

According to the above design, any event handler throws will block the whole queue:

![d0fea7de23ec241a506178d606dfb9a](https://user-images.githubusercontent.com/30018771/148359111-aaa633fc-5650-4abf-870e-b38850c7c693.png)

This

[2022-01-06 09:18] snowchenlei opened #11211 "[blob]file system provider support separated by date"
Over time, a lot of files are uploaded in the folder, which is not conducive to finding
can support configurations that separate folders by upload date?

[2022-01-06 09:41] maliming commented on #11211
Not supported by default, you can implement it yourself.

[2022-01-06 10:12] martenw commented on #11186
Really impressive how quickly you resolve reported issues, thank you @realLiangshiwei!

[2022-01-06 10:34] improwise commented on #11196
Thanks. Ideally, we would try to stay away from changing the ABP "framework code" if possible, but I guess your solution has the big advantage of applying to all DTOs using the same base class all in once.

[2022-01-06 10:34] #11196 closed, assigned to nobody

[2022-01-06 10:35] gdlcf88 opened #11212 "ABP 5.0+ distributed event bus is inefficient"
Ignore the time-consuming of user's request, event handlers' execution, and the bus busyness. Assume you are using Outbox + RabbitMQ + Inbox:

Outbox -> MQ takes up to **2s** by default:
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/OutboxSender.cs#L43

<del>MQ -> Inbox takes up to **5s**:</del>
https

[2022-01-06 10:40] gdlcf88 commented on #11211
You can make a rule yourself, for example: https://github.com/EasyAbp/FileManagement/blob/master/src/EasyAbp.FileManagement.Domain/EasyAbp/FileManagement/Files/FileBlobNameGenerator.cs#L21-L22

[2022-01-06 10:43] mehmet-erim opened #11213 "Angular UI: Get user menu items dynamically"

[2022-01-06 10:44] enisn opened #11215 "Documentation about Auto-complete Select"
Documentation about the usage of:
https://github.com/abpframework/abp/blob/b1170998f78a676c8685cde587282ac558f3e181/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/dom-event-handlers.js#L183

And should cover those parameters:
https://github.com/abpframework/abp/blob/b1170998f78a676c8685cde587282ac558f3e181/framework/src/Volo.Abp.AspN

[2022-01-06 11:06] gdlcf88 commented on #11212
I see the timer in RabbitMqMessageConsumer is used to ensure the MQ channel is open (instead of receiving messages), but 4s in total is also slow, I have tried the new bus in my app, the whole process takes at least 5s. 😢

[2022-01-06 13:37] klapatyivasyl commented on #11138
@maliming I use the version of ABP 6.4.0 so there is no methods to override like in the case from the link.
By the way, I tried another ways to use the real database like instantiating the DbContext with configs of real database, and it works properly. But the repositories are still using the inmemory db. So,the next question is: how can I replace the db context or it's configs which is used in re

[2022-01-06 14:15] 358172541 opened #11217 "Problem with Localization"
* ABP Framework version:
5.0.1

* User Interface:
Angular

* Database provider:
EF Core

* Steps to reproduce the problem:
Generates a new solution based on the ABP startup templates like: abp new Demo -u angular -csf.
In angular app, click login button and redirect to oidc login page, change language to another language, like: "en" to "zh-Hans".
Login with default admin account and it jump back t

[2022-01-06 14:25] klapatyivasyl commented on #11138
Thanks!

[2022-01-06 14:25] #11138 closed, assigned to nobody

[2022-01-06 15:21] xiaomazz opened #11218 "An error occurred when the host started."
![image](https://user-images.githubusercontent.com/52307384/148405964-6a7434c5-5f2d-4a52-bf46-142ad2d45dce.png)

[2022-01-06 19:08] hikalkan commented on #11210
use try-catch and don't throw error if you want to ignore processing an event.

[2022-01-06 19:37] gdlcf88 commented on #11210
Hi @hikalkan, I read https://github.com/abpframework/abp/pull/11216#issuecomment-1006843999

I agree that the order of events is worth maintaining, these are some views:

1. No one can be sure that the handlers do not encounter errors.
2. There is no situation where developers are willing to block the entire inbox due to handler throwing.
3. Can we group the event messages by something? Maybe by t

[2022-01-06 19:41] gdlcf88 commented on #11218
Maybe you should double-check whether all packages are upgraded to ABP 5.0.1.

[2022-01-06 21:02] gdlcf88 commented on #11210
Handler with try-catch must **resolve** the error in the current context since the following events in the inbox cannot be remotely removed. We cannot roll them back like the Saga, and I believe that most app/module developers cannot master the relevant technology. 🤣

Order of events is needed, but the question: **is it necessary to guarantee it by the outbox?**

Assume a new user registered his a

[2022-01-07 00:24] maliming commented on #11217
This is expected, you need to implement it yourself. We have similar implementation in the commercial.

[2022-01-07 00:24] #11217 closed, assigned to nobody

[2022-01-07 02:27] xyfy commented on #11194
I think now swagger is reading a xml to load summary ,set  **GenerateDocumentationFile** to true in project file will help you?

[2022-01-07 02:40] snowchenlei commented on #11211
ok, thanks

[2022-01-07 02:41] #11211 closed, assigned to nobody

[2022-01-07 02:57] xiaomazz commented on #11218
我确定所有的包都升级到了5.0.1

[2022-01-07 02:57] maliming commented on #10183
ABP doesn't support the connection-resiliency feature.

[2022-01-07 02:57] #10183 closed, assigned to nobody

[2022-01-07 02:59] realLiangshiwei commented on #11030
@zeinali0
I will check it out.

[2022-01-07 03:01] maliming commented on #11218
Use AutoMapper `10.1.1` to solve.

[code]

[2022-01-07 03:08] scottiemc7 commented on #5661
@muratcanoguzhan I had success by disabling the security log

[code]

[2022-01-07 03:38] 358172541 commented on #11217
Ok, thanks.

[2022-01-07 03:41] 358172541 commented on #11217
Ok, thanks.

[2022-01-07 07:20] #11218 closed, assigned to maliming

[2022-01-07 07:43] berkansasmaz opened #11225 "Change the format of creation time in cms-kit comment title"
<img width="741" alt="Screen Shot 2022-01-07 at 10 38 39" src="https://user-images.githubusercontent.com/31216880/148509060-4b2ed29c-33c3-4c8a-ba8e-cdeb2cd54f36.png">

We think the date in the picture above doesn't look good, so maybe something like the picture below might be better for us.

<img width="741" alt="Screen Shot 2022-01-07 at 10 40 34" src="https://user-images.githubusercontent.com/31

[2022-01-07 08:09] xyfy commented on #11050
What's your **roleName** value pass in the method?

[2022-01-07 08:31] martenw opened #11226 "install-libs changes to clean installation"
* Your **ABP Framework version** : 5.0.1
* Your **User Interface**: Razor pages
* Your database provider(EF Core/MongoDB): EF Core

Wnen running [`install-libs`](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Client-Side-Package-Management) on a new 5.0.1 installation I get the changes below. Is this expected behavior? I thought a clean installation would be up to date and that running the comman

[2022-01-07 08:42] martenw commented on #11226
Libs folder after installation:
![image](https://user-images.githubusercontent.com/1492596/148516237-ee6e3c45-1a6f-4e8a-9bd1-62af2bacf0fb.png)

After running `install-libs`:
![image](https://user-images.githubusercontent.com/1492596/148516400-7fa9506d-e5c7-4abb-ba0d-06eb7569ed9f.png)

[2022-01-07 08:44] maliming commented on #11226
hi

We will update the templates. Thanks.

[2022-01-07 08:54] zyy314680012 opened #11227 "how can generated dbset automatically"
my project has hundred of entities
in ef core we can use
`
protected override void OnModelCreating(ModelBuilder modelBuilder)
{
	base.OnModelCreating(modelBuilder);

	var baseType = typeof(Entity);
	baseType.Assembly.GetTypes().Where(p => p.IsClass && !p.IsAbstract && baseType.IsAssignableFrom(p))
		.ToList().ForEach(p =>
		{
			modelBuilder.Entity(p);
		});
}
`

but in abp project .
this code not

[2022-01-07 09:37] mehmetuken opened #11230 "Update entity every time CreationTime change."
CreationTime change every update entity.  I try CrudAppService.

Abp Version: 5.0.1 Database: PostgreSQL

[2022-01-07 09:41] maliming commented on #11230
* Steps needed to **reproduce** the problem.

[2022-01-07 10:08] snowchenlei commented on #11211
oh,It's complicated.
Save use now.But Delete And Get Need save Date.
This requires modifying the blob module

[2022-01-07 10:13] mehmetuken commented on #11230
Test Repo: https://github.com/mehmetuken/Demo.Issue11230

Create Entity:
![create entity](https://user-images.githubusercontent.com/9348193/148528356-d80db06a-a6d6-46fd-bcef-247986d88f32.png)

Update Entity:
![update entity](https://user-images.githubusercontent.com/9348193/148528370-22cc5c2b-dda8-4bad-be92-71280d981f46.png)

Sql Before:
![Screen Shot 2022-01-07 at 13 12 01](https://user-images.gi

[2022-01-07 10:26] maliming commented on #11230
Please try to reproduce in the unit test.

[2022-01-07 10:29] maliming commented on #11227
Please refer to https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L97-L117

[2022-01-07 11:36] mehmetuken commented on #11230
I create unit test. Test not failing. Is this PostgreSQL special problem?

[2022-01-07 13:09] #11213 closed, assigned to mehmet-erim

[2022-01-07 14:28] visuellsoft opened #11233 "configureawait.props build error in Abp 5.0.1 when add a module"
Hello,

I'm currently testing Abp 5.0.1, but I get an error after I build the solution when I add a module.

`abp new Test`
`cd Test`
`abp add-module ModuleA --new --add-to-solution-file`

The I open VisualStudio 2022 and build the solution. I get the error message:
Project "C:\temp\configureawait.props" was not imported by "C:\temp\TestAbp2\modules\ModuleA\src\ModuleA.Installer\ModuleA.Installer.

[2022-01-07 15:32] #10478 closed, assigned to nobody

[2022-01-07 15:32] #10485 closed, assigned to nobody

[2022-01-08 00:09] #11203 closed, assigned to gterdem

[2022-01-08 01:53] xyfy commented on #11233
pay attention to **C:\temp\common.props**  not **configureawait**

[2022-01-08 02:21] adeewu opened #11235 "set redis cache fail without any error when cache key length greater than 17"
set redis cache fail without any error when cache key length greater than 17

[code]

- ABP version：5.0.1
- Microsoft.AspNetCore.SignalR.StackExchangeRedis：6.0.1

[2022-01-08 03:19] realLiangshiwei commented on #11235
Cannot be reproduced

![image](https://user-images.githubusercontent.com/16813853/148629812-f315af74-feb3-4dec-b3de-ea2f2d680d44.png)

[2022-01-08 04:02] adeewu commented on #11235
ok, i will double check with redis instance, may be wrong with redis version

[2022-01-08 06:11] adeewu commented on #11235
check result:
use docker of redis:alpine will be reproduced, change to redis:5.0-alpine save success

[2022-01-08 06:11] #11235 closed, assigned to nobody

[2022-01-08 08:00] afresh opened #11236 "Autofac.Core.DependencyResolutionException: Cannot resolve parameter..."
ABP Framework version: 5.0.1
Database provider: EF Core.

Error:
[code]

`IBillAppService.cs`

[code]

`BillAppService.cs`

[code]

`BillController.cs`

[code]

`BillServiceController.cs`

[code]

`BillServiceHttpApiModule.cs`

[code]

**What else is missing?**

[2022-01-08 08:49] maliming commented on #11236
Are you using the TIERED project?

[2022-01-08 08:53] afresh commented on #11236
@maliming Hi, I don't know about the TIERED projects. This project is based on the `eShopOnAbp`.

[2022-01-08 09:20] maliming commented on #11236
Check your HttpApiClient module.

[2022-01-08 09:54] afresh commented on #11236
@maliming What exactly should I check?

`BillServiceHttpApiClientModule.cs`

[code]

[2022-01-08 09:55] gdlcf88 commented on #11233
https://github.com/abpframework/abp/pull/11082

[2022-01-08 09:55] afresh commented on #11236
Or `SchoolServiceHttpApiClientModule.cs` ?

[code]

[2022-01-08 09:57] #11233 closed, assigned to nobody

[2022-01-08 10:06] afresh commented on #11236
Thanks @maliming ! I found the reason.

[code]

[2022-01-08 10:09] #11236 closed, assigned to nobody

[2022-01-08 14:14] #11174 closed, assigned to nobody

[2022-01-08 15:27] visuellsoft opened #11237 "Hotreload (Abp v5.0.1) in module not working?"
Hello,

is hotreload only work in the main project?
When I change something in a module HOTRELOAD does not work - is this correct?

Thanks
BR Thomas

[2022-01-08 15:52] gterdem opened #11238 "eShopOnAbp: Missing static proxy - profile update error"
Account Manage in AuthServer(localhost:44330) resulting in **endpoint not found** when updating profile.

[2022-01-08 18:44] hikalkan commented on #8210
@ebicoglu is that solved?

[2022-01-08 21:41] improwise opened #11239 "Does ABP have naming convections for AppServices etc?"
Does ABP have naming convections for AppServices etc? Was looking through the Swagger definitions and there seem to be a mix of singular/plural and other variations like "User" (singular) but "UserSettings" (plural) etc. I know this is of course always up to us as developers to decide about naming conventions but if ABP has them, it is probably a good idea to follow them unless there is a reason t

[2022-01-09 01:26] maliming commented on #11237
https://github.com/abpframework/abp/pull/10947#issue-1080459089

Since hot reload does not work well for **ProjectReference**, we add an option(**EnableRazorRuntimeCompilationOnDevelopment**) to enable it during development.

[2022-01-09 02:39] justlucky opened #11240 "Error upgrading to ABP 5.1, Extended data error"
![微信图片_20220109103911](https://user-images.githubusercontent.com/247791/148667064-573c031b-0ed5-4b0e-a098-256fdbe56f65.png)
![微信图片_20220109103919](https://user-images.githubusercontent.com/247791/148667066-5a726d04-e88c-452e-b674-bfb229e28838.png)

[2022-01-09 02:41] maliming commented on #11238
Maybe we should move the HttpApi and HttpApi.Client.

![image](https://user-images.githubusercontent.com/6908465/148667055-d2baa2f4-86a6-4a83-b533-85521e4a15bb.png)

[2022-01-09 02:42] maliming commented on #11240
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-01-09 03:20] NepPure commented on #8210
Solved

[2022-01-09 07:15] justlucky commented on #11240
Resolved, modify extrapropertiesvalueconverter to support JSON net

[2022-01-09 07:15] #11240 closed, assigned to nobody

[2022-01-09 12:41] zeinali0 opened #11241 "BlobProvider(s) are copying blob to memorystream"
Hi
Why BlobProvider(s) just don't pass the actual stream?  They are copying the file into a MemoryStream!!!!
For large files this mean whole the file would be loaded into memory.
If 10 user try to download a 1GB file at same time, this mean 10GB of memory would get allocated. 100 user => 100GB memory

[2022-01-09 13:20] muratyuceer opened #11242 "Add Tiered Option Module Template"
When you create module from abp cli, it will add blazor.server.host but its configuration unified. Its should be optional.

[2022-01-09 21:06] naazz1992 opened #11244 "Generate proxy issue with c# nested class"
Abp framework 4.4
Angular
EF Core

When generating proxy for the following class i get a faulty definition inside generate-proxy.json which cause the typescript class to have a + sign in the name.

[Tranchant.Estimation.Quotes.QuoteFormProductListResponse+Product]

I didn't find any way in the documentation to solve that. I was able to solve it with swagger customizing CustomSchemaIds but since th

[2022-01-09 21:51] #9923 closed, assigned to nobody

[2022-01-10 02:42] #10927 closed, assigned to maliming

[2022-01-10 02:48] maliming commented on #10927
https://github.com/abpio/abp-commercial-docs/pull/161

[2022-01-10 04:37] duanzlin opened #11247 "Missing localization item 'AbpAccount::Menu:Account'?"
In angular Account libary，the menu route name is  'AbpAccount::Menu:Account'，but it is not found in backend localization resource file.

[2022-01-10 06:36] #10835 closed, assigned to nobody

[2022-01-10 07:47] afresh opened #11248 "About ABP & Docker & Kubernetes."
About `Docker` & `Kubernetes`, are there any relevant documents on how to deploy the `eShopOnAbp` project or the `MicroserviceDemo` project to production environment?

[2022-01-10 09:40] #11182 closed, assigned to gterdem

[2022-01-10 09:45] q397133334 commented on #11129
I've also encountered it. What's the problem @tianxin8206

[2022-01-10 09:48] #10565 closed, assigned to maliming

[2022-01-10 09:57] tianxin8206 commented on #11129
Look at this [mysql-net/MySqlConnector#1109](https://github.com/mysql-net/MySqlConnector/issues/1109)

[2022-01-10 10:37] antosubash commented on #11248
Take a look here https://github.com/abpframework/eShopOnAbp/tree/main/etc you have everything you need to deploy.

[2022-01-10 10:45] improwise opened #11252 "Always create seperate AppServices for DomainServices or combine?"
Is it recommended in ABP to create a separate AppService for each DomainService or is it recommended to instead combine several DomainServices in one AppServices where the alternative would be AppServiecs that are very "bare bone". Like for stuff like lookup values etc.

Assume something like having a DocumentsAppService to handle CRUD for Documents and that each Document has a DocumentType proper

[2022-01-10 10:48] improwise commented on #11252
Did have a look at "Application Services Best Practices & Conventions" but found it didn't really answer this particular question

_Using Other Application Services
Do not use other application services of the same module/application. Instead;
Use domain layer to perform the required task.
Extract a new class and share between the application services to accomplish the code reuse when necessary. B

[2022-01-10 11:06] #10724 closed, assigned to maliming

[2022-01-10 11:24] improwise opened #11253 "Defining custom route for AppService method in Swagger"
Is this the recommended way to set a custom route for a method in Swagger?

[code]
Is it possible to get the "/api/app" part generated automatically so that it will always match any changes made to RootPath in startup? You can of course decorate the class rather than each method with the prefix but it would still be hard coded and not match changes in startup.

[2022-01-10 12:39] ebicoglu commented on #8210
tested against the latest version `v6.21.5` and no problem!
closing the issue.

[2022-01-10 12:39] #8210 closed, assigned to ebicoglu

[2022-01-10 20:40] martenw opened #11255 "Cannot localize text on login page"
* Your **ABP Framework version**: 5.0.1

I have tried to localize the string _"Not a member yet?"_ found at the bottom of the login screen. The other strings of the login page could be translated just by adding a new translation for the Account-module but I have not been able to find this string at all in the repository?

![image](https://user-images.githubusercontent.com/1492596/148834237-aa7e6e9

[2022-01-11 01:00] #11030 closed, assigned to realLiangshiwei

[2022-01-11 02:11] maliming commented on #11255
hi

This is the Account Pro module.

[code]

[2022-01-11 02:11] #11255 closed, assigned to nobody

[2022-01-11 02:26] maliming commented on #11253
You can check these classes.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpServiceConvention.cs#L44
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalRouteBuilder.cs#L13

[2022-01-11 03:12] #11247 closed, assigned to maliming

[2022-01-11 06:01] gterdem commented on #11252
Domain service is an exposure of _encapsulated functionality of your domain_. If your application logic requires functionality of different domains, there is no problem with using multiple domain services in an application service.

[2022-01-11 07:26] martenw commented on #11255
Thank you @maliming that worked.

That text was missing from my source file, I have based my translation on: https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/en.json

Are there more texts used from the document you referenced? I do not have the source of the pro modules.

[2022-01-11 07:29] maliming commented on #11255
You can manage it in the language management module.

[2022-01-11 07:56] #11226 closed, assigned to maliming

[2022-01-11 08:48] gterdem opened #11263 "eShopOnAbp: Fix missing localizations"

[2022-01-11 11:06] #11263 closed, assigned to gterdem

[2022-01-11 11:06] #11238 closed, assigned to gterdem, maliming

[2022-01-11 11:40] ZerinKvl commented on #3959
@hikalkan I tried to extend issue mentioned above.I want to send user with department name from my api .When trying to join user with Department entity by using linq ,my linq query is not converted succesfully.Can we use extra properties like this?Is It possible?

[code]
 My extension method like  below

[code]

And I extend IdentityUserDto
[code]

[2022-01-11 13:49] AdemAygun opened #11274 "How can I prioritize DataSeedContributor classes working"
* Your **ABP Framework version**. 4.3.3
* Your database provider* EF Core

I have several entities :  Product, ProductCategory ,  and Order.
I override SeedAsync method in DataSeedContributor classes for per entities in TestBase project. I want to run them with priority.

sample order:
1. ProductCategoryDataSeedContributor
2. ProductDataSeedContributor
3. OrderDataSeedContributor

How can I priori

[2022-01-11 14:16] berkansasmaz commented on #11274
You can check it [here](https://github.com/abpframework/abp/issues/2417#issuecomment-566963849).

That's why I'm closing this issue. Feel free to re-open or create a new issue if you have further questions.

[2022-01-11 14:16] #11274 closed, assigned to nobody

[2022-01-11 20:36] DejanMilicic commented on #2087
@aboutdomtime That would be awesome, please do

[2022-01-11 20:52] riccardodangelo opened #11279 "System.NullReferenceException while C # Static Client Proxy Generation"
ABP Version 5.0.1
Volo.abp.cli 5.0, 5.0.1
MVC UI
EF Core

STACK EXCEPTION
System.NullReferenceException: Object reference not set to an instance of an object.
   at Volo.Abp.Cli.ServiceProxying.CSharp.CSharpServiceProxyGenerator.GenerateClientProxyGeneratedFileAsync(GenerateProxyArgs args, ControllerApiDescriptionModel controllerApiDescription, String clientProxyName, String appServiceTypeName, St

[2022-01-11 22:30] #11252 closed, assigned to nobody

[2022-01-12 01:33] realLiangshiwei commented on #11279
Can you share a project to reproduce?

[2022-01-12 02:29] wangbin1989 opened #11282 "Generate code error when add package Volo.Abp.BackgroundWorkers.Hangfire"
Abp Version: 5.1.0

`abp add-package Volo.Abp.BackgroundWorkers.Hangfire` generate code `[DependsOn(typeof(AbpBackgroundWorkerHangfireModule))]`

This code lost a letter ‘s’ in works.

The right code is `AbpBackgroundWorkersHangfireModule`.

[2022-01-12 02:32] maliming commented on #11282
Thanks, It works now.

[2022-01-12 02:32] #11282 closed, assigned to nobody

[2022-01-12 02:54] wangbin1989 opened #11283 "Test with Quertz background works got a error."
abp version: 5.0.1

steps:

[code]

Add file Test2.cs

[code]

`dotnet test Sample.Domain.Tests.csproj`

This will get an error. Scheduler with name 'QuartzScheduler' already exists.

[code]

Is this a bug? Or I need config something?

[2022-01-12 03:49] realLiangshiwei commented on #11283
Try
[code]

[2022-01-12 03:49] #11283 closed, assigned to realLiangshiwei

[2022-01-12 05:35] #10368 closed, assigned to maliming

[2022-01-12 06:14] #10517 closed, assigned to muhammedaltug

[2022-01-12 06:39] JadynWong commented on #11230
Did you generate ef migrations before adding the `AbpEntityFrameworkCorePostgreSqlModule`?
The type of the DateTime column should be `timestamp without time zone`.

https://www.npgsql.org/efcore/release-notes/6.0.html#opting-out-of-the-new-timestamp-mapping-logic

https://github.com/abpframework/abp/pull/10314
https://github.com/abpframework/abp/issues/10273

![image](https://user-images.githubuse

[2022-01-12 06:46] mehmetuken commented on #11230
Hi @JadynWong ,
I create project beginning with PostgreSQL
 abp new Demo.Issue11230 -t app -u none -dbms PostgreSQL

but my datetime's:
![Screen Shot 2022-01-12 at 09 45 35](https://user-images.githubusercontent.com/9348193/149077615-afedbd2a-a925-46e3-b331-288e64cd254c.png)

[2022-01-12 07:39] JadynWong commented on #11230
When the `Host project` is set up as a startup project, the generated type is `timestamp without time zone`.
Run `Add-Migration Inital` with VS Package Manager Console.

OR

Run `dotnet ef migrations add Inital -s ..\Demo.Issue11230.HttpApi.Host\Demo.Issue11230.HttpApi.Host.csproj` with dotnet ef tool.

The reason is not yet known.

[2022-01-12 07:55] maliming commented on #11230
Try to add `AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true);` to https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectNameDbContextFactory.cs#L13

[2022-01-12 08:01] mehmetuken commented on #11230
It's work. Thanks.

[2022-01-12 08:01] #11230 closed, assigned to nobody

[2022-01-12 09:01] riccardodangelo commented on #11279
Do you mean the service project? The client side project could be any, right? In this case, I'll try with an empty project in which I'll try to generate a static proxy. If I'll reproduce the issue I'll put the service project online and I'll try to reproduce and share it.

[2022-01-12 09:12] realLiangshiwei commented on #11279
Ok, thanks.

[2022-01-12 09:35] riccardodangelo commented on #11279
I created an empty test client project and updated to abp.cli 5.1. I get the same exception (CSharpServiceProxyGenerator.cs:line 177 instead of 175 see below).
Next I ran the command to another service project. And all worked. So, the problem is in my service project.
If you agree, I'll share it ASAP on github.

**********************************************************************
** Visual Studi

[2022-01-12 09:39] realLiangshiwei commented on #11279
ok, please.

[2022-01-12 10:18] riccardodangelo commented on #11279
https://github.com/riccardodangelo/testforclientproxy.git

[2022-01-12 12:16] realLiangshiwei commented on #11279
Hi,

https://github.com/riccardodangelo/testforclientproxy/blob/master/src/Edisonweb.Mooveland.Web/Edisonweb.Mooveland.Web.csproj

You need to make sure your project upgrade to ABP 5.0

[2022-01-12 17:05] riccardodangelo commented on #11279
You are right. Solved!!
Static Client Proxy Generation is a new feature starting from ABP 5, so we need to have the same ABP version for either client proxy side and service project.
Thanks a Lot!

[2022-01-12 17:05] #11279 closed, assigned to realLiangshiwei

[2022-01-13 02:30] gerryge commented on #7221
Is there a clear time/plan to complete this feature? Our business users always concerning about the identity server future.

[2022-01-13 03:45] zyy314680012 commented on #11227
TKS

[2022-01-13 03:45] #11227 closed, assigned to nobody

[2022-01-13 05:55] duanzlin opened #11302 "AbpV5.1.1 abp generate-proxy error with Angular 13"
Run abp generate-proxy with follow errors:
`An unhandled exception occurred: NOT SUPPORTED: keyword "id", use "$id" for schema ID`

and when downgrade @angular/cli to 12.2.13，the command work fine

[2022-01-13 06:07] rqx110 commented on #11302
duplicate #11075

[2022-01-13 06:15] duanzlin commented on #11302
My problem happened when project upgraded to latest version and it worked fine  before

[2022-01-13 06:39] gterdem opened #11303 "eShopOnAbp: Popover not working"
`abp-popover` is not working on Public Web application. Needed for https://github.com/abpframework/abp/issues/11178

[2022-01-13 06:44] duanzlin commented on #11302
Upgrade abp cli to latest version,  create a new abp solution with command  abp new MyCompany.test -u angular，then run  abp generate-proxy command , and got the same error.

[2022-01-13 06:44] wangbin1989 opened #11304 "abp new console template bug"
abp version: 5.1.1

steps:
[code]

console output:
[code]
It looks like there are some bugs with log.

[2022-01-13 06:45] zhangtingwz opened #11305 "How to use dependency injection in Elsa workflow"
nice to meet u,
I`m a student
I have an idea to add Elsa workflow in ABP

Then, the user-defined action in the workflow relies on the ibookapplication injected into the teaching to operate the database, but an error is reported directly

[2022-01-13 06:46] maliming commented on #11304
eg?

[2022-01-13 06:51] wangbin1989 commented on #11304
The console does not use serilog to output all logs.
![capture_20220113144835292](https://user-images.githubusercontent.com/5661954/149279838-f2e1648d-6e60-4822-93ae-a537e33f2c4a.jpg)

[2022-01-13 07:15] rqx110 commented on #11304
It looks like missing `UseSerilog()`
![image](https://user-images.githubusercontent.com/1829209/149283070-dfffdd74-9827-4d85-a665-2c1b347a8326.png)

[2022-01-13 07:16] realLiangshiwei commented on #11305
See https://community.abp.io/articles/using-elsa-workflow-with-the-abp-framework-773siqi9

[2022-01-13 07:22] #11305 closed, assigned to nobody

[2022-01-13 07:25] wangbin1989 commented on #11304
Serilog add twice?
![2](https://user-images.githubusercontent.com/5661954/149284446-171b9ff8-f616-4f5f-b281-941ff7e414f7.jpg)

[2022-01-13 07:56] #10952 closed, assigned to mehmet-erim

[2022-01-13 08:19] #11302 closed, assigned to bnymncoskuner

[2022-01-13 08:50] muhammedaltug opened #11308 "Fix tests after ng13 update"

[2022-01-13 13:25] #10529 closed, assigned to nobody

[2022-01-13 13:40] cocosip opened #11311 "Unauthorized application method doesn't return 401"
Why abp api doesn't return 401 with json format?

ABP version: ABP 5.1.1
Create a angular temp by Abp Cli , then add application service and controller

application service
[code]

controller
[code]

When call the url  `/api/test1`, it redirect to `/Account/Login` page, and  in an internal error is thrown .

[code]

[2022-01-13 13:56] Y2zz commented on #10549
If using .NET6 JToken should be changed to JsonNode
https://zhuanlan.zhihu.com/p/388545891

[2022-01-13 14:34] hikalkan opened #11312 "Test "add module" in v5.1.1."
Based on a comment here: https://www.youtube.com/watch?v=z7Nej3q9t80&lc=UgxbPhDGDPybVwUKHeV4AaABAg

![image](https://user-images.githubusercontent.com/1210527/149349509-574bde62-5ee7-4d2b-8d2e-a21eb10ae52f.png)

[2022-01-13 14:37] realLiangshiwei commented on #11311
Duplicate of https://github.com/abpframework/abp/issues/5235

[2022-01-13 14:37] #11311 closed, assigned to nobody

[2022-01-13 14:52] cocosip commented on #11311
Are you sure?!

[2022-01-13 16:07] sanghel-payoff commented on #3033
...related official doc should be updated: https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities#subscribing-to-distributed-events

[2022-01-13 19:57] ebicoglu opened #11313 "Automatically publish github release"
add GitHub release step to the deploy pipeline

[2022-01-14 02:53] rlavaud commented on #11312
On 5.1.1 I also cannot add a module.
`
abp new Jpl.Test511 -u blazor -d ef -dbms PostgreSQL --no-random-port
[21:47:25 INF] ABP CLI (https://abp.io)
[21:47:25 INF] Version 5.1.1 (Stable)
[21:47:26 INF] Creating your project...
[21:47:26 INF] Project name: Jpl.Test511
[21:47:27 INF] Using cached template: app, version: 5.1.1
[21:47:29 INF] Check out the documents at https://docs.abp.io/en/abp/lates

[2022-01-14 03:16] realLiangshiwei opened #11316 "Set GUID issues for entities"
Related https://support.abp.io/QA/Questions/2416

[2022-01-14 03:49] maliming commented on #11316
https://github.com/abpframework/abp/issues/2660#issuecomment-575718695

[2022-01-14 03:49] #11316 closed, assigned to nobody

[2022-01-14 05:30] #11304 closed, assigned to maliming

[2022-01-14 05:30] #11313 closed, assigned to ebicoglu

[2022-01-14 05:39] #11237 closed, assigned to nobody

[2022-01-14 05:39] #11253 closed, assigned to nobody

[2022-01-14 07:47] martenw commented on #2513
Was looking for the same thing and did not find a solution on the provided link above so just thought I would add this here also for reference, found that `RequireAuthenticated()` solved it.

[code]

[2022-01-14 07:48] yekalkan commented on #11312
Problem is related with File-Scoped Namespaces. https://github.com/abpframework/abp/pull/11323

[2022-01-14 08:30] velikayikci opened #11325 "Multiple WithDetailsAsync (Include and ThenInclude)"
How can i do this,
[code]

I read the documentation about this, but can not find solution
https://docs.abp.io/en/abp/latest/Entity-Framework-Core#eager-loading-load-with-details

[2022-01-14 08:34] maliming commented on #11325
[code]

[2022-01-14 08:37] velikayikci commented on #11325
@maliming you are the superman :)
Thanks a lot.

[2022-01-14 08:37] #11325 closed, assigned to nobody

[2022-01-14 12:25] sturlath opened #11326 "Show a disabled EntityAction dropdown?"
I have a `EntityAction`  dropdown from **abp.io** that I like to **disable**, **but** still show it!
Is that possible?

I have tried things like `disabled="disabled"` and some style stuff and of course I just get some rendering errors.

A nice extra feature would be to be able to put tooltip/icons on the action.

Abp: 5.1.1
Blazor WASM

[2022-01-14 12:30] wjamieson opened #11327 "Question: Multiple Blazor UIs for single ABP application"
We are developing a platform using ABP with Blazor Server as the front-end. The application operates primarly as an API that is used by a mobile app, with the Blazor front-end project being used for administration of the application's data, users etc.

We would like to have an additional Blazor project act as a portal for end-users to perform additional functions not suited to the mobile app. Idea

[2022-01-14 12:43] sturlath commented on #11326
Got some feedback on this at Blazorise https://github.com/Megabit/Blazorise/issues/3325 since I was unsure if this was theirs/yours to do.

[2022-01-15 08:53] hellorms commented on #11312
Can't add pro modules in abp suite either - get same error "Could not find a class derived from AbpModule in the project"

[2022-01-15 09:10] codx-git commented on #11312
I have the same problem。Is there any other way to add modules manually

[2022-01-15 16:04] alaawahbah opened #11328 "Back ground job"
I try this doc https://docs.abp.io/en/abp/4.4/Background-Jobs
but it runs always even i have one record and previous run success
is this right behavior ?

[2022-01-15 17:59] rlavaud commented on #11312
To keep going until the patch is released, I cloned the 5.1-patch branch, compiled the CLI project and ran the compiled exe.

[2022-01-16 00:51] maliming commented on #11328
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-01-16 16:24] alaawahbah commented on #11328
there is an error thrown from my code thank you

[2022-01-17 00:57] #11328 closed, assigned to nobody

[2022-01-17 01:29] maliming opened #11329 "Upgrade npm packages to the latest."
https://support.abp.io/QA/Questions/2425/Outdated-Vulnerable-Dependencies-in-ABPIO-Commercial

[2022-01-17 05:55] weiwxg opened #11334 "How to set all api result double digits?"
* **ABP Framework version**: 4.4.4.

I tried to customize the `IJsonSerializer` to implement my problem, but it doesn't worked!

[code]
result is:
[code]

Am I using it incorrectly? And What should I do?

[2022-01-17 06:36] maliming commented on #11334
[code]

[2022-01-17 07:06] #11334 closed, assigned to nobody

[2022-01-17 09:03] theiosdevguy opened #11336 "System.Security.Cryptography.CryptographicException: The key contents do not contain a PEM, the content is malformed, or the key does not match the certificate"
Hello ABP Team,

After upgrading from 5.0.0-beta3 to 5.1.1 , I started getting below error when executing `dotnet ef database update`

Full error trace below:

[code]

It runs fine with 5.0.0-beta3.

Same error occurs with sample project downloaded from https://abp.io/get-started

Please suggest. Thanks.

[2022-01-17 09:26] maliming commented on #11336
What is the connection string?

[2022-01-17 09:45] theiosdevguy commented on #11336
[code]

[2022-01-17 09:56] maliming commented on #11336
I think it has something to do with your environment.

[2022-01-17 10:14] theiosdevguy commented on #11336
Ok. Just an FYI, I tried using a RDS instance connection string too and I had same results. What surprises is that if I downgrade ABP to 5.0.0-beta3 which uses npgsql 6.0.0-rc1, it starts to work again.

Any suggestions which environment config could cause this?

[2022-01-17 10:40] EngincanV commented on #11336
Your problem can be caused because of SSL Mode. The default SSL mode in v6.0+ is `Prefer`.

https://www.npgsql.org/doc/security.html#encryption-ssltls

You can try to set SSL Mode as `Disable`, the default mode prior to v6.0 was **Disable**.

[2022-01-17 11:19] cotur opened #11337 "Documentation updating for ETO"
https://github.com/abpframework/abp/issues/3033#issuecomment-1012279142

@sanghel-payoff

[2022-01-17 11:34] #11178 closed, assigned to gterdem, enisn

[2022-01-17 11:41] cotur commented on #3033
Thank you @sanghel-payoff ,

We will update documentation soon. Tracked here: https://github.com/abpframework/abp/issues/11337

[2022-01-17 13:10] #10590 closed, assigned to nobody

[2022-01-17 13:48] enisn opened #11338 "eShopOnAbp - Replace PaymentMethod mocking"
PaymentMethods should be provided by Payment Service.

[2022-01-17 16:20] bedrierol opened #11345 "old target framework in libraries?"
Hi,
What is the reason for using .net 2.0 in the shared libraries? One of them is listed below:

eShopOnAbp/shared/EShopOnAbp.Shared.Hosting/EShopOnAbp.Shared.Hosting.csproj

[2022-01-17 18:46] EngincanV commented on #11345
Hi @bedrierol, we use .net 2.0 for the shared packages/libraries because it is the formal specification (recommended way) that helps to share code between multiple .NET project types.

https://docs.microsoft.com/en-us/dotnet/standard/net-standard

https://docs.microsoft.com/en-us/dotnet/standard/net-standard#which-net-standard-version-to-target

[2022-01-18 00:42] #11336 closed, assigned to nobody

[2022-01-18 01:37] #11326 closed, assigned to realLiangshiwei

[2022-01-18 03:37] #10523 closed, assigned to nobody

[2022-01-18 05:37] awahbahplana opened #11347 "Add another angular client"
Hi All,
I need to add another angular client with diffrent configuration for theme for example.
what is the best practice to create that?
can I do it on abp platform, or I need to Buy commercial one?
Thanks in advance.

[2022-01-18 11:35] GeertVeenstra opened #11357 "Postgres timestamp with time zone after updating to the 5.1.1 packages"
Hello,

After updating my project to the latest packages and creating a new migration, all the datetime columns in my PostGres database are converted to "timestamp with time zone" (previously they were "timestamp without time zone").

I assume this is because the new npgsql 6.0 is used, but I see no  mentioning in the release notes about this breaking change?

Geert Veenstra

[2022-01-18 11:47] ebicoglu opened #11358 "tui-editor is missing in @abp/tui-editor package"
the content of the package.json of [@abp/tui-editor ](https://www.npmjs.com/package/@abp/tui-editor)is lost during an auto merge.

[2022-01-18 11:55] hikalkan opened #11361 "Single layer startup template"
I've created a simple startup template with single layer, located here: https://github.com/abpframework/abp/tree/rel-5.1/templates/app-nolayers

Here the solution screenshot:

![image](https://user-images.githubusercontent.com/1210527/149932333-6e9cef45-62fb-4f36-9d3d-d2af10c20ca8.png)

We are releasing this as an experimental work for now. It currently only supports MVC UI and EF Core with SQL Se

[2022-01-18 11:58] maliming commented on #11357
See
https://www.npgsql.org/doc/types/datetime.html#timestamps-and-timezones
https://github.com/abpframework/abp/issues/11230#issuecomment-1010746763
https://github.com/abpframework/abp/pull/11284

[2022-01-18 12:17] #11338 closed, assigned to enisn

[2022-01-18 12:29] GeertVeenstra commented on #11357
I am aware of that, thanks.

When I add

AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true);

to the EntityFrameworkCoreModule PreconfigureServices of my project then I have no problem (the column changes do not appear in the Migration).

I see for 5.1.1 this was moved to the AbpDbContext.
Any chance this is causing the issue now?

[2022-01-18 13:26] maliming commented on #11357
How do you add new migrations? `dotnet ef` command?

[2022-01-18 13:45] havenko commented on #1830
Thanks for the answer, I had the same issue.

[2022-01-18 14:30] GeertVeenstra commented on #11357
Within visual studio Package Manager console --> Add-Migration "Update_To_Abp_5.1.1"

[2022-01-18 14:41] maliming commented on #11357
Can you try to use dotnet ef command?

[2022-01-18 17:05] abou-emish commented on #5671
For apps hosted in IIS / Virtual application  How to set abp.appPath from Server, for example appsetings App:SelfUrl ?
We can't set it manually every time we deploy, as we are using CI/CI

[2022-01-18 22:13] #10709 closed, assigned to yekalkan

[2022-01-19 00:37] GillesFr06 opened #11364 "Exception when starting blazor web site"
**ABP Framework version** 5.1.1
**User Interface** Blazor Server
EF Core, MySQL

When I launch the blazor project in IIS Express, I have the exception below in the console.
I only give the first one, as the others following that one are probably caused by that first one.

global.js?_v=637728566121956479:8
 crit: Microsoft.AspNetCore.Components.WebAssembly.Rendering.WebAssemblyRenderer[100]
      U

[2022-01-19 00:42] realLiangshiwei commented on #11364
I will check it.

[2022-01-19 00:49] realLiangshiwei commented on #11364
I can't reproduce the problem.

Please provide full steps to reproduce.

[2022-01-19 00:50] GillesFr06 commented on #11364
The complete trace in the Edge console 👍
global.js?_v=637728566121956479:8 Debugging hotkey: Shift+Alt+D (when application has focus)
global.js?_v=637728566121956479:8 blazor Loaded 17.45 MB resourcesThis application was built with linking (tree shaking) disabled. Published applications will be significantly smaller.
global.js?_v=637728566121956479:8 info: Volo.Abp.AbpApplicationBase[0]
      Load

[2022-01-19 00:53] realLiangshiwei commented on #11364
@GillesFr06

Can you share the `Program` class code?

[2022-01-19 00:55] GillesFr06 commented on #11364
[code]

[2022-01-19 00:56] GillesFr06 commented on #11364
It's a new project created with the application generator on the web site abp.io on 23 dec 2021
I modify very few things.
I updated all Nuget packages
I can't run the project anymore

[2022-01-19 00:57] realLiangshiwei commented on #11364
Try replace `InitializeAsync` with `InitializeApplicationAsync`

[2022-01-19 01:01] GillesFr06 commented on #11364
It goes a little further.

... all modules init ...

info: Volo.Abp.Modularity.ModuleManager[0]
      Initialized all ABP modules.

[2022-01-19 01:07] GillesFr06 commented on #11364
Sorry for the so long paste, I didn't see before posting.

I've added Syncfusion nuget packages.
If I remove them, it works now.

If I use again "InitializeAsync" in program.cs, I have the same pb as before, even without Syncfusion.

So what difference between InitializeAsync and InitializeApplicationAsync ?

[2022-01-19 01:08] realLiangshiwei commented on #11364
Please refer to the template program class: https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Program.cs

[2022-01-19 01:12] GillesFr06 commented on #11364
Ok, I will have a look.
It works now. So MANY THANKS to you.
I was looking about this error for 4 days ...
I'm very impressed with your response time.

[2022-01-19 01:13] #11364 closed, assigned to nobody

[2022-01-19 01:49] #11358 closed, assigned to ebicoglu, realLiangshiwei

[2022-01-19 03:18] #11361 closed, assigned to maliming

[2022-01-19 03:26] Foram0312 opened #11369 "Rows per page option dropdown using Abp Suite (ngx-datatable)"
How can I add Rows Per Page Option dropdown in Footer using ngx-datatable from Abp Suite. When I generate crud page using Abp suite, this option do not get generated from the template. I do not want to add a custom footer inside the template. Is there any other property which is missing to add in the template?
![image](https://user-images.githubusercontent.com/87792287/150058150-b5b802ac-d22f-495e

[2022-01-19 04:36] wallee85 commented on #2183
is there any news about this issue???

[2022-01-19 04:44] maliming commented on #11369
hi

Please get help on https://support.abp.io/

[2022-01-19 04:44] #11369 closed, assigned to nobody

[2022-01-19 04:45] maliming commented on #2183
No, still in the backlog.

[2022-01-19 05:50] #11345 closed, assigned to nobody

[2022-01-19 09:05] #11357 closed, assigned to nobody

[2022-01-19 10:20] xxvolvo commented on #11357
@maliming
the same problem both withint  `dotnet ef` and  `visual studio Package Manager console`

[2022-01-19 11:09] #7646 closed, assigned to nobody

[2022-01-19 15:11] kfrancis opened #11379 "Abp Suite is Breaking the DbContext on Entity Generation"
* Your **ABP Framework version**: v5.1.1
* Your **ABP Suite version**: v5.1.1
* Your **ABP CLI version**: v5.1.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: MVC Layered
* Your database provider(EF Core/MongoDB), EFCore

## Repro Steps
- Create new app `abp new MyProject`
- Change connection strings to use `(localdb)\\mssqllocaldb` adding `Tr

[2022-01-19 15:49] AlexanderSysoev commented on #3758
@cdlian thanks! What about other endpoints?

[2022-01-19 16:01] AlexanderSysoev commented on #3758
According to @cdlian answer this code snippet:

[code]
hides everything except:

- AbpApiDefinition
- AbpApplicationConfiguration
- AbpTenant
- EmailSettings

Still confused about this.

[2022-01-19 21:56] Francois-La commented on #11379
I confirm the same behavior using the same version.  The bug is clearly repeatable.

[2022-01-20 00:33] #10592 closed, assigned to nobody

[2022-01-20 00:49] maliming commented on #11379
See https://support.abp.io/QA/Questions/2428/ABP-Suite-511-Generating-Entity---DbSet-position-in-DbContextcs-error

[2022-01-20 02:53] MrChuJiu opened #11382 "Mastering ABP Framework - About translation"
Hello, I'd like to ask if there is any plan to translate into Chinese at present

[2022-01-20 03:05] maliming commented on #11382
This is a **book**, maybe we will publish a Chinese version, no translation is needed at the moment, thank you

[2022-01-20 03:05] #11382 closed, assigned to nobody

[2022-01-20 06:23] hikalkan opened #11384 "Improve data seeding for the single-layer startup template"
Data seed takes time and slows down the application startup. We also don't have DbMigrator in the startup template.

We can conditionally run the migration and seeder, based on command-line parameters. If should be disabled by default and we pass a parameter while starting the application in a console window.

Example:

[code]

or with the compiled application (assuming the project name is `Acme.B

[2022-01-20 06:57] jortygu opened #11385 "Modal Multi Submit Button Issue"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
   v4.4.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the i

[2022-01-20 08:12] EngincanV commented on #11385
Hi @jortygu, this question is not related to ABP Framework but [Razor Pages handlers](https://docs.microsoft.com/en-us/aspnet/core/razor-pages/?view=aspnetcore-6.0&tabs=visual-studio#multiple-handlers-per-page).

* Please ensure you haven't added `asp-page-handler` to your form tag.

* Change your "OnPost" method name (for example `OnPostSubmitAsync()`) and specify it in asp-page-handler for your

[2022-01-20 09:12] maliming commented on #9926
Cookies authentication will set 401 for AJAX requests.

https://github.com/dotnet/aspnetcore/blob/v6.0.0/src/Security/Authentication/Cookies/src/CookieAuthenticationEvents.cs#L46-L50

[2022-01-20 09:44] jortygu commented on #11385
@EngincanV thanks for your reply.
reference as below, abp modal page  automatically calls the `.abpAjaxForm()`,which will never trigger `asp-page-handler`  ,because form will posted via AJAX.
[code]
[code]
my second question is an validate question,i want to disable validate when save button click ?
now, before submit, it will auto validate through abp modal form submit mechanism,whether or not i

[2022-01-20 09:49] yekalkan commented on #11379
Suite v5.1.2 have solved the issue.

[2022-01-20 09:49] #11379 closed, assigned to nobody

[2022-01-20 10:12] gterdem opened #11389 "eShopOnAbp: Gateway multiple api definition authorization"
Gateway using multiple api definitions based on ocelot configuration:
![gw1](https://user-images.githubusercontent.com/25867/150318022-494db3ad-2f3a-43f8-a7d1-4e0c5f074c77.png)

However, Authorize **client_id** and **client_secret** can not be set.
![image](https://user-images.githubusercontent.com/25867/150317953-3eee36ee-13b2-43bb-88e4-90be166f0245.png)

Need to find a way to configure auto prom

[2022-01-20 10:18] gterdem opened #11390 "eShopOnAbp: Expose Account Service with swagger endpoint"

[2022-01-20 10:39] EngincanV commented on #11385
Can you try to override `beforeSubmit` method:

[code]

[2022-01-20 12:54] #11390 closed, assigned to gterdem

[2022-01-20 17:24] sanghel-payoff opened #11393 "[Question] Guidelines for concurrency check usage ?"
ABP Commercial 5.0, Angular, EFCore with PGSQL

The official documentation is in a TODO state... https://docs.abp.io/en/abp/5.1/Concurrency-Check

Npgsql offers a "native" extensions for using a shadow property **xmin** as the concurrency token for EFCore ( see [here](https://www.npgsql.org/efcore/modeling/concurrency.html) )

Q1: Is the infrastructure around the _IHasConcurrencyStamp_ interface a

[2022-01-21 02:53] maliming opened #11394 "Upgrade MongoDB.Driver to 2.15"
https://github.com/mongodb/mongo-csharp-driver/releases
https://mongodb.github.io/mongo-csharp-driver/2.14/reference/driver/crud/linq3/

[2022-01-21 03:25] rqx110 opened #11396 "Exception not auto handle in blazor-server project"
* Your **ABP Framework version** : 5.1.2.
* Your **User Interface** type (Angular/MVC/React... etc.) : blazor-server
* Your database provider(EF Core/MongoDB): EF Core
* Steps needed to **reproduce** the problem:
1. `abp new Acme.BookStore -u blazor-server -csf`
2. run `migrator` project
3. add throw `UserFriendlyException` code from https://docs.abp.io/en/abp/latest/UI/Blazor/Error-Handling#userf

[2022-01-21 05:37] EngincanV commented on #11396
Hi @rqx110, can you change your method as below:

[code]

https://github.com/abpframework/abp/issues/8195

[2022-01-21 05:48] maliming commented on #11393
ABP doesn't use Npgsql's special case, it uses EF Core's general rules. You can refer to this PR to learn how to use it.

https://github.com/abpframework/abp/pull/9838
https://github.com/abpframework/abp/pull/9838/commits/603f094b1e90d65cf999a1f9ecd5ba06636a555f

[2022-01-21 06:36] rqx110 commented on #11396
OK!

[2022-01-21 06:36] #11396 closed, assigned to nobody

[2022-01-21 11:43] mehmet-erim commented on #11075
I assume that the problem is resolved in v5.1.2. I'm closing this one. If you encounter any errors, feel free to create a new issue.

[2022-01-21 11:43] #11075 closed, assigned to mehmet-erim

[2022-01-21 11:45] mehmet-erim commented on #10278
Still it cannot be reproduced. I'm closing this issue.

[2022-01-21 11:45] #10278 closed, assigned to nobody

[2022-01-21 11:50] #4587 closed

[2022-01-21 11:50] #4275 closed

[2022-01-21 13:03] #11384 closed, assigned to maliming

[2022-01-21 14:53] ysozbek opened #11407 "5.1.2 macOS build has 147 errors but windows successful"
**ABP Framework version** 5.1.2.
 **User Interface** Angular
* database provider(EF Core)
* MACOS version : MACOS Monterey version 12.1 (21C52) (Intel)
* IDE : Rider , Visual Studio For Mac

I have problem abp  commercial 5.1.2:

When I create agular project with abp suite in windows it restores and builds project successfully, but when I create project with abi suite on macOS or I restore and bui

[2022-01-21 14:57] sanghel-payoff commented on #11357
Can definitely confirm this issue, while not even using 5.1.1.

I've started a new solution with AbpSuite 5.0.1 a week ago.
I've subsequently added the initial migration from PackageManagerConsole. This defined all DateTime entity props as `timestamp with timezone`, which is my desired config.

**Without having made any change whatsoever to the sources, and no Nuget package upgrade**, running an A

[2022-01-21 15:00] berkansasmaz commented on #11407
Yes, I am having the same problem. We will solve the problem

Thanks for the report.

[2022-01-21 15:03] xxvolvo commented on #11357
Also add `AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true);` in `EntityFrameworkCoreModule` `PreConfigureServices`

[2022-01-21 15:09] sanghel-payoff commented on #11357
@xxvolvo I **DO NOT** require the legacy behaviour, but the new Npgsql 6+ one.

It is obviously the path forward with Npgsql, and also a better default behaviour.

So the question is, how do I instruct abp to correctly configure DateTime props to `timestamp with timezone`, in all referenced framework modules, and in the abp suite generated modules ?

[2022-01-21 16:18] lgadola commented on #10694
thanks, Mehmet
It worked using yarn

[2022-01-21 16:18] #10694 closed, assigned to muhammedaltug

[2022-01-21 16:44] lgadola opened #11408 "Angular client: After successful login, backend is flooded with token refresh requests"
ABP 5.1.2
Angular
EF Core

Hi guys,

I have created an Angular frontend with "abp new" and added Ionic to it.
Added a login dialog and changed authentication to Resource Owner Password Flow.
Login with AuthenticationService.login() is successful and ID token is received.
But then the frontend goes into an indefinite loop, flooding the backend with /connect/token requests to get refresh tokens.
I h

[2022-01-21 17:17] sanghel-payoff commented on #11357
I'm not sure if Volosoft is giving the adequate attention to this issue.

Correctly writing / reading DateTime props via EFCore has some non trivial issues, see https://stackoverflow.com/questions/4648540/entity-framework-datetime-and-utc

I'm unsure if / how these aspects are correctly handled by the abpframework.

Tightly related to this, I would consider prioritizing to maximum level the usage

[2022-01-21 17:45] sanghel-payoff commented on #8772
the `--with-public-website` flag is not referenced anywhere in the [official docs](https://docs.abp.io/en/abp/latest/CLI)...

[2022-01-21 19:44] sanghel-payoff opened #11409 "[Question] Full ABP CLI parameters ?"
I am updating from 5.0.1 to 5.1.2.

I am following the [startup template update guide](https://docs.abp.io/en/abp/latest/Migration-Guides/Upgrading-Startup-Template), and I need to recreate my original solution via the ABP CLI with adequate arguments.

The [official ABP CLI documentation](https://docs.abp.io/en/abp/latest/CLI) does not document all available parameters, and neither does running `a

[2022-01-21 20:42] Wiblox commented on #7465
I installed it on my Abp solution, it's functional, the scheduler is very good

[2022-01-22 06:30] rqx110 opened #11410 "Wrong `abp-script` tag in doc module"
https://github.com/abpframework/abp/blob/54aa36a83a3d3551de26c848832a3a38464ce9be/modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml#L26-L27

should be
[code]

[2022-01-22 11:24] magicjar opened #11414 "[Volo.Abp.BlobStoring.FileSystem] Get File Path"
I'm building an image upload system for my site using Blob FileSystem. I store the image file in `hostingEnvironment.WebRootPath;`.

How can I get the image path so I can store the path into DB right after upload.

I know there is method to calculate path inside `DefaultBlobFilePathCalculator` class, but I dont know how to used it.

[2022-01-22 16:07] yinchang0626 commented on #11408
@lgadola hi
 try to downgrade[ `rxjs`](https://github.com/lgadola/AbpTest/blob/d7c7be523feae6b429b16f1ece92cace12f00512/angular/package.json#L45) :
    "rxjs": "~6.6.0"

It work for me

[2022-01-22 16:36] EngincanV commented on #11408
We use the `angular-oauth2-oidc` package for authentication. This problem is related to that package, as @yinchang0626 mentioned downgrading the package to v6 can fix your problem.

[2022-01-22 19:05] #10632 closed, assigned to nobody

[2022-01-22 19:05] #10591 closed, assigned to nobody

[2022-01-22 19:05] #10504 closed, assigned to nobody

[2022-01-22 19:54] lgadola commented on #11408
Thanks guys!
That works.

[2022-01-22 19:54] #11408 closed, assigned to nobody

[2022-01-23 01:22] NecatiMeral opened #11416 "`IUserData` - Supporting new `IsActive` property"
Hey folks,

I've been messing around with the lastest release.
I very like the `IsActive` property but modules cannot make use of the `IsActive` property yet since `IUserData` doesn't provide this value (yet).

Is this by design, so you can tell a alternative way of getting this information in modules or can it be added from your perspective?

I'm open for implementing and contributing this change

[2022-01-23 10:24] awahbahplana opened #11418 "Problem in Abp Suite"
When create Property enum
![image](https://user-images.githubusercontent.com/96010802/150674205-4285066c-6ae1-4a53-a2ad-0763e2560b28.png)
V 5.1.2
Thanks

[2022-01-23 10:37] awahbahplana commented on #11418
It Wokked with file-scoped namespace

[2022-01-23 11:44] maliming commented on #11409
You can check and search the source code for more info.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs#L381

[2022-01-23 11:44] #11409 closed, assigned to nobody

[2022-01-23 18:02] MROALI opened #11420 "Login page is not shown : 404 error page Account/Login"
Hello,
i am creating a new project using the abp framework : version 5.1.2 , Angular and postgresql database.

The problem i have is that i am not able to run the application correctly.
-  First of all i had to add  the following in the EntityFrameWorkCore Project.
        // https://www.npgsql.org/efcore/release-notes/6.0.html#opting-out-of-the-new-timestamp-mapping-logic
         AppContext.SetS

[2022-01-24 00:24] rqx110 commented on #11414
you do not need store the full path, just store your file name to your DB, and when you want to get the file, the blob storage system will handle to get the file by the name.
[code]

[2022-01-24 00:57] maliming commented on #11420
Please check your application logs.

[2022-01-24 01:03] maliming commented on #11416
@hikalkan What do you think?

[2022-01-24 01:21] #11410 closed, assigned to maliming

[2022-01-24 05:31] shawn-show opened #11423 "How to use repository in my custom blazor page"
I build an abp vnext blazor server project.
Now I want to create a user-defined page, and I couldn't connect to the DB with repository. That's my code.
WarehouseOperation.razor

[code]
WarehouseOperation.razor.cs
[code]
and the expection is
[code]

[2022-01-24 05:37] maliming commented on #11423
Try to begin a unit of work.

[code]

[2022-01-24 05:48] shawn-show commented on #11423
Amazing it work! Thank you very much!

[2022-01-24 05:48] #11423 closed, assigned to nobody

[2022-01-24 07:47] jortygu commented on #11385
hi @EngincanV
   override `beforeSubmit` method still trigger form validate
[code]

[2022-01-24 08:11] maliming commented on #11385
hi @jortygu

You can try to custom the `jquery-form-extensions.js`. see https://docs.abp.io/en/abp/latest/Virtual-File-System#replacing-overriding-virtual-files

[2022-01-24 12:51] #11184 closed, assigned to nobody

[2022-01-24 12:52] hikalkan opened #11424 "eShopOnAbp: Convert public web gateway to Envoy"
We can discard the swagger UI for this gateway.

[2022-01-24 12:54] hikalkan opened #11425 "eShopOnAbp: Add gRPC endpoint to the catalog service"
This endpoint will be consumed by the basket microservice as an example.

You can get a reference from here: https://github.com/abpframework/abp-samples/tree/master/GrpcDemo

[2022-01-24 12:55] hikalkan opened #11426 "eShopOnAbp: Admin UI - Dashboard"
Show some statistics/graphics for orders and payments.

- [x] UI / @mahmut-gundogdu
- [x] API / @malikmasis

### Example statistics

With a date range selection (default: last 30 days)

- Statistics bar: New orders / Shipped orders / Cancelled orders / Total income
- Bar chart: Top 10 selling products
- Pie chart: Sales by payment method (Paypal, demo, etc)

[2022-01-24 12:57] hikalkan opened #11427 "eShopOnAbp: Admin UI - Order Management"
Manage (list orders, actions: show details, mark as shipped, cancel) orders.

- [x] UI / @mahmut-gundogdu
- [x] API / @malikmasis

[2022-01-24 13:00] hikalkan opened #11428 "eShopOnAbp: Product detail page"
Show product image and other details and allow to add to the basket.

[2022-01-24 13:01] hikalkan opened #11429 "eShopOnAbp: Product detail page CMS Kit integration"
- [x] Integrate CMS Kit rating component (only purchased users can set a rating)
- [x] Integrate CMS Kit comment component (only authenticated users can comment)

We should think if we will create a new microservice for CMS kit?

[2022-01-24 13:02] hikalkan opened #11430 "eShopOnAbp: Deploy to Azure (AKS)"

[2022-01-24 13:29] MROALI commented on #11420
Do you mean checking the log in the database ?

[2022-01-24 13:34] #10293 closed, assigned to enisn

[2022-01-24 13:34] #10294 closed, assigned to enisn

[2022-01-24 13:34] #10295 closed, assigned to enisn

[2022-01-24 13:34] #10284 closed, assigned to enisn

[2022-01-24 13:36] #10511 closed, assigned to nobody

[2022-01-24 13:37] #11303 closed, assigned to nobody

[2022-01-24 13:53] realLiangshiwei opened #11431 "Rebus: Trigger event handlers twice"
Related to: https://github.com/rebus-org/Rebus.ServiceProvider/pull/50

[2022-01-24 13:56] hikalkan commented on #11389
We can define clients only for gateways. We can use these gateway clients for individual microservices too.

[2022-01-24 14:22] sanghel-payoff commented on #11409
there is no option that generates the solution with a public website, but without the CMSKit module !

so ABP CLI does not 100% overlap ABP Suite functionality...

[2022-01-24 14:32] hikalkan opened #11433 "eShopOnAbp: Discard HomeController on gateways"
We can remove it. It only redirects to the swagger UI. We can "somehow" redirect "/" to the swagger UI. We can try URL Rewriting Middleware for example.

Also, this will be needed if we do that:

[code]

[2022-01-24 14:35] hikalkan opened #11434 "eShopOnAbp: Refactor OrderStatus (remove unused states)"
![image](https://user-images.githubusercontent.com/1210527/150802839-9b5fc425-ffac-44ae-8295-70419045c7ba.png)

This is related to order management page and also requires to implement order cancelling by the end-user.

[2022-01-24 14:47] sanghel-payoff commented on #11409
@maliming my question still stands...

How do I create a new solution with ABP CLI that has the public website but without the CMS-Kit module?

This is required in order to correctly follow the official guide for upgrading the startup template.

The ABP Suite web UI does not allow creating a new solution with a specific version, as the ABP CLI does.

[2022-01-24 14:52] sanghel-payoff commented on #11409
@maliming sources of ABP Suite are not public as far I can tell, so I cannot "search the code" for what it does for the two checkboxes...

@demirmusa  ...there should be documentation though, "search the code" is not exactly supporting a paid product..

[2022-01-24 15:03] hikalkan opened #11435 "eShopOnAbp: Triggering data seed without schema migration"
Currently, for EF Core, data seeding works only if there is a pending migration. However, there may be cases where there is no pending migration, but we need to seed database.

Possible solution: Run seed on every startup (optional) and manually trigger it in the admin side.

[2022-01-24 15:11] yekalkan commented on #11409
It does, excluding code-generation. However, some of the suite functionalities are related with commercial templates/modules. So we didn't document some options in CLI documentation, even though they exist & work. Because CLI is free & open-source.

Free template doesn't have a Public web site project and doesn't include CmsKit module at all. So it would be confusing to show these options in a non

[2022-01-24 15:23] puschie286 opened #11436 "Documentation search shows only first page"
* Documentation 5.1

The documentation search shows only the first page.

Example: https://docs.abp.io/search/en/abp/5.1/?keyword=manager

[Domain Service](https://docs.abp.io/en/abp/latest/Domain-Services) contain 15x"manager" but its not in the search result

can be found by [site google serach](https://www.google.com/search?q=site%3Adocs.abp.io+manager) ( on page 3 )

[2022-01-24 15:26] sanghel-payoff opened #11437 "PGSQL issues with 5.1.2 (and earlier, due to Npgsql 6+)"
ABP Commercial 5.1.2, UI Angular, EFCore Postgresql

### In a freshly created solution with PGSQL DBMS, the ABP framework does not correctly handle EFCore mapping via Npgsql for DateTime props.

Steps:
- generate a new 5.1.2 solution (via CLI or Suite) with PostgreSQL
- define the initial migration (Add-Migration...)
- setup connection strings to a PGSQL instance (in my case a PGSQL 12 container)

[2022-01-24 15:42] sanghel-payoff commented on #11409
@yekalkan thank you for the info

I understand the documentation distinction, but still, a company should prioritize documentation **for the paid product** !

is there a separate documentation for ABP Commercial, that does document all relevant parameters?

[2022-01-24 16:51] #10648 closed, assigned to nobody

[2022-01-25 00:29] maliming commented on #11437
https://github.com/abpframework/abp/pull/11371

https://github.com/abpframework/eShopOnAbp/pull/65/files#diff-1f48de2775294ef07a3d1bcd3ab54a6da27bb4bf1c7b4365b78dd8fb6096ce93R19-R21

https://github.com/abpframework/eShopOnAbp/pull/65/files#diff-1997a5d749556f5c0cae9bd351d765a86d7922d3a2a7581105de34c164f9a467R38-R40

[2022-01-25 00:51] maliming commented on #11420
This file "Logs/logs.txt"

[2022-01-25 01:01] #11431 closed, assigned to realLiangshiwei

[2022-01-25 04:55] #10669 closed, assigned to nobody

[2022-01-25 05:44] MROALI commented on #11420
Below the generated log after clicking on login button :

[code]

[2022-01-25 06:33] rqx110 opened #11441 "Wrong of account login href"
abp version: 5.1.2
ui: blazor-server

if we deploy our app as a sub application in IIS, the account login href always to link the root path. deploy as below:
![image](https://user-images.githubusercontent.com/1829209/150922854-5400d7f9-eaac-455a-9dcb-42040acf0f6f.png)
and access it, you can see the login link is wrong, it should be `xxxx/t/account/login`:
![image](https://user-images.githubusercon

[2022-01-25 07:18] realLiangshiwei commented on #11441
I will check it.

[2022-01-25 10:22] aozien opened #11445 "bug in reset password link when tenant resolving with subdomains"
Abp version 5.0.1
UI:  Angular
DB provider: EF Core

The Problem:
when using tenant subdomain resolving, and trying to reset the user password on some tenant
the generated link becomes  tenantlocalhost:44350 instead of tenant.localhost:44350, ie missing the dot
![image](https://user-images.githubusercontent.com/17034318/150957606-bea50422-20c3-4fe5-b9ac-cc7439645f0e.png)

I believe it's caused by

[2022-01-25 13:25] hikalkan opened #11448 "Revisions and Refactors on eShopOnAbp (for ABP 5.1)"
- [x] Upgrade solution to the latest ABP 5.1.x.
- [x] Use the new hosting model (remove the `Startup` class) in all applications.
- [x] Use async initialization methods and remove `AsyncHelper` usages in the module classes.

[2022-01-25 13:47] bnymncoskuner opened #11449 ""dir" attribute of html is set wrong initially when a right-to-left language is selected as default"
Issue reported at [here](https://support.abp.io/QA/Questions/2461/How-to-set-the-default-culture-ar-in-API-Identity-Server-Angular-with-default-layout-RTL-and-I-support-multi-languages-like-en-with-layout-LTR)

[2022-01-25 14:24] #11449 closed, assigned to bnymncoskuner

[2022-01-25 14:35] ahmetfarukulu opened #11453 "Guid Generator is not sequential generating multiple call in one request"
*  ABP Framework version 5.0.0.
*  User Interface Blazor
*  Database provider EF Core (MsSQL)

I use [BookStore](https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore) sample and change the only [BookStoreDataSeederContributor](https://github.com/abpframework/abp/files/7934976/BookStoreDataSeederContributor.txt)

Problem
- We insert to database one by one with autosave:tr

[2022-01-25 14:45] sanghel-payoff commented on #11437
@maliming I'm sorry, I'm not sure I understand what you've linked.

Those diffs show that setting the Npgsql legacy flag generates a DB schema with columns of type `timestamp without timezone`.

I need datetime columns to be mapped to `timestamp with timezone` and correctly read / written.

Is this no longer supported?

[2022-01-25 17:06] hikalkan opened #11454 "No-Layers project template: Support different UI and DB options"
Currently it only supports MVC / Razor Pages UI with EF Core. We should work on the template to support the others, and develop the  ABP CLI based on these changes.

Please think how it can be more practical to develop and generate the template. Use the same parameter names/values with the app template wherever possible.

### UI options

- [x] MVC / Razor Pages
- [x] Blazor Server
- [ ] Blazor WAS

[2022-01-25 18:06] #11389 closed, assigned to gterdem

[2022-01-25 20:59] gdunit opened #11455 "Audit Log: Consider removal of 256 char Comments field limit"
Hi, using the Audit Module as base, I'm trying to store a human-readable representation of each audit log which is stored at the time of the event, so that this can be easily displayed in an an audit trail UI later on.

I figured it was best to store at the time of the transaction because then all the entity properties would be stored "as was" at the time of the change, we do not need to worry abo

[2022-01-25 21:10] Wiblox opened #11456 "Lazy-loading abp suite"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

ABP 5.1.2
Blazor
EF Core

"No backing field was found for property 'Plan.GatewayPlans'. Lazy-loaded navigations

[2022-01-25 21:24] Wiblox commented on #11453
I'm not sure, but I think that the Guid is generated in a sequential way but it's only the insertion that is done randomly. (maybe because it's asyncrone)

[2022-01-25 23:08] yinchang0626 commented on #11454
Please consider the commercial version,I love it,
thanks

[2022-01-26 00:45] realLiangshiwei commented on #11455
Hi,

https://github.com/abpframework/abp/blob/46de78b1b8/modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/AuditLogConsts.cs#L38

The `AuditLogConsts.MaxCommentsLength` is static, you can change it.

[2022-01-26 00:49] maliming commented on #11437
hi

I haven't tried to use Npgsql `timestamp with timezone` in ABP, I will try it after the new ABP patch version is released, if possible I will share a sample to: https://github.com/abpframework/abp-samples

[2022-01-26 00:57] maliming commented on #11454
@yinchang0626 It's on the plan.

[2022-01-26 01:26] realLiangshiwei commented on #11456
Hi,

We don't recommend you use lazy loading: https://docs.microsoft.com/en-us/ef/core/performance/efficient-querying#beware-of-lazy-loading

See: https://github.com/abpframework/abp/issues/2935

[2022-01-26 02:08] #11445 closed, assigned to maliming

[2022-01-26 02:45] rqx110 opened #11458 "FeatRequest: make `HandleErrorAsync` method in AbpComponentBase virtual"
hi team, could you make `HandleErrorAsync` method in AbpComponentBase virtual?
https://github.com/abpframework/abp/blob/c7e0fca8de9f87779216476299c7ddd9de1e6eb5/framework/src/Volo.Abp.AspNetCore.Components/Volo/Abp/AspNetCore/Components/AbpComponentBase.cs#L169

[2022-01-26 03:12] rqx110 opened #11459 "Blaozr UI: User menu dropdown is partially invisible"
abp: 5.1.2
ui: blazor-server
the user menu dorpdown out of screen:
![image](https://user-images.githubusercontent.com/1829209/151096822-17c91f0d-61bb-405a-9798-3f79e8008d62.png)
we can fix this issue by add `RightAligned="true"` to https://github.com/abpframework/abp/blob/c7e0fca8de9f87779216476299c7ddd9de1e6eb5/modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Server.BasicTheme/Themes/Basic/

[2022-01-26 07:20] #11448 closed, assigned to gterdem

[2022-01-26 08:06] amira133 opened #11472 "Can not start new downloaded template from abp site"
* Your **User Interface** type = Angular , MVC
* Your database provider = EF Core/MongoDB
* Steps needed to **reproduce** the problem:
* 1- create new project from [abp](https://abp.io/get-started)
*  2- run aspnet-core project to see problems.

![image](https://user-images.githubusercontent.com/27830573/151125153-167ef801-ac4a-4ddc-b335-53b96440a116.png)

I have installed .net6 SDK and .netstanda

[2022-01-26 08:08] gdunit commented on #11455
Thank you @realLiangshiwei . I can confirm that setting this variable in the domain module's ConfigureServices() method resolves the issue.

[2022-01-26 08:08] #11455 closed, assigned to nobody

[2022-01-26 08:13] rqx110 commented on #11472
vs2022 is required!

[2022-01-26 08:14] #11472 closed, assigned to nobody

[2022-01-26 08:16] maliming commented on #11454
If we support the `Blazor WASM`, three projects are needed.

1. Api Host
2. Blazor WASM
3. Shared Project(**Localization**).

[2022-01-26 08:47] #11458 closed, assigned to realLiangshiwei

[2022-01-26 08:47] #11441 closed, assigned to realLiangshiwei

[2022-01-26 08:56] hikalkan commented on #11454
For blazor wasm, yes, we need to three projects (only for blazor wasm)

[2022-01-26 09:08] Wiblox commented on #11456
Thanks.

[2022-01-26 09:08] #11456 closed, assigned to nobody

[2022-01-26 10:36] ahmetfarukulu commented on #11453
No it can't, Id field has clustered index so data will be sorted on sql side even asynchronously insert. The problem is because [guid generator](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Guids/Volo/Abp/Guids/SequentialGuidGenerator.cs) use [timestamp](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.ticks?view=net-6.0) for sequential id. Multiple generate in si

[2022-01-26 11:04] antosubash opened #11474 "Bug in the feature selection section in abp.io website"
When i Click on the side menu the navigation happens but the selection is wrong.

<img width="1920" alt="abpbug" src="https://user-images.githubusercontent.com/1304254/151152073-3bf3b872-103e-42d9-9556-7d0d01f6d346.png">

[2022-01-26 11:29] gterdem opened #11475 "eShopOnAbp: Payment Page enhacements for lazy loading"
Payment page can be splitted into three widgets. They can be async loaded and synched. Also implement retry policies.

[2022-01-26 11:41] gterdem opened #11476 "eShopOnAbp: Refactor anonymous user"
- [x] Remove claim factory and anonymousUserItem from AuthServer.
- [x] Remove AnonymousUserViewComponent and implement the logic in middleware.

[2022-01-26 11:45] gterdem opened #11477 "eShopOnAbp: Refactor Basket service"
- [x] Remove `GetAnonymousUserBasket` method and move the functionality to `GetAsync` method with parameter.
- [x] Move merge basket functionality into domain.
- [x] Check and fix _TODOs_ about authorization

[2022-01-26 11:46] gterdem opened #11478 "eShopOnAbp: Update Helm charts"
Add business microservice charts

[2022-01-26 13:45] puschie286 opened #11480 "Cant seed data of entity with pre-defined events and eto mapping"
* Your **ABP Framework version**: 5.1.2
* Your database provider: EF Core

If you try to seed data for entities that are active in AbpDistributedEntityEventOptions ( with automatic published events ) and have an EtoMapping it throw the following exception: AutoMapper.AutoMapperMappingException: Missing type map configuration or unsupported mapping.
[code]

configuration in DomainModule:
[code]

[2022-01-26 17:47] sanghel-payoff commented on #11393
@hikalkan The [official documentation](https://docs.abp.io/en/abp/5.1/Concurrency-Check) should at least illustrate some usage patterns...

[2022-01-26 18:13] ahmetfarukulu commented on #11453
I've found a solution but only works on windows  [stackoverflow reference](https://stackoverflow.com/questions/211498/is-there-a-net-equivalent-to-sql-servers-newsequentialid)
[code]

[2022-01-26 18:13] #11453 closed, assigned to nobody

[2022-01-26 18:36] mehmetuken commented on #11454
All in one host option can be consider?
https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-6.0#hosted-deployment-with-aspnet-core

[2022-01-26 22:02] garsiv1932 opened #11483 "Problem extending AbpUser"
* Your **ABP Framework version: 5.1.3, 4.4.
* Your **User Interface: Angular
* Your database provider: EF Core

I want to extend the abp user entity, i followed all the tutorials, and i cant to extend the entity, how does it works?????

Does someone knows? I dont find the information anywhere and the official info looks like its imposible to make it works. I want to make a one to many bidirectiona

[2022-01-27 00:47] realLiangshiwei commented on #11483
Hi,

* Steps needed to **reproduce** the problem.

[2022-01-27 00:50] realLiangshiwei commented on #11480
* Steps needed to **reproduce** the problem.

[2022-01-27 00:58] maliming commented on #11480
![image](https://user-images.githubusercontent.com/6908465/151272041-f74fc19e-2609-40a8-8b34-4437ba6a9339.png)

[2022-01-27 01:47] realLiangshiwei commented on #11459
Thanks @rqx110

[2022-01-27 01:51] garsiv1932 commented on #11483
I am trying to focus on the error, but i am exausted. I am Linux user. I started a projects with the command

abp new LandRest -t app -u angular -m react-native -d ef -o LandRest -v 4.2.0 --separate-identity-server

I tried the versions 4.1.0, 4.2.0, 4.3.0, 4.4.4 and the latest version 5.1.3. From the version 4.3.0 to 4.4.0 you changed the way the Abp User is extended. In template 4.3.0 you have a

[2022-01-27 02:03] rqx110 opened #11485 "upgrade the highlight.js to latest"
currently we are using an old version of highlight.js 9.12.0, but the latest version is 11.4.0 https://highlightjs.org/,
pls consider to upgrade it. TKS

[2022-01-27 02:49] realLiangshiwei commented on #11483
This is not an ABP problem, you should check the documents and samples.

Can you check this?

https://github.com/abpframework/abp-samples/tree/master/DocumentationSamples/CustomApplicationModules

https://github.com/abpframework/abp/issues/1414

For version 5.x:

See: https://support.abp.io/QA/Questions/2151/Add-relation-between-AbpUser-to-My-Table-in-50

[2022-01-27 02:49] #11483 closed, assigned to nobody

[2022-01-27 02:53] realLiangshiwei commented on #11485
Duplicate of https://github.com/abpframework/abp/issues/11329

[2022-01-27 03:01] garsiv1932 commented on #11483
https://docs.abp.io/en/abp/latest/Module-Entity-Extensions

I am following this manual right now.

Why you have two or three documents abouth the same shit and anyone make the job done, explain me, why?

[2022-01-27 03:02] #11459 closed, assigned to realLiangshiwei

[2022-01-27 03:02] maliming commented on #11329
Check the `highlight.js`

[2022-01-27 03:02] #11485 closed, assigned to nobody

[2022-01-27 03:10] garsiv1932 commented on #11483
![image](https://user-images.githubusercontent.com/65036539/151285154-1d1262fc-89ca-43df-833d-3d4516c9c96c.png)

i copy pasted this code on the extension configurator

 OneTimeRunner.Run(() =>
        {
            ObjectExtensionManager.Instance.Modules()
                .ConfigureIdentity(identity =>
                {
                    identity.ConfigureUser(user =>
                    {

[2022-01-27 04:17] garsiv1932 commented on #11483
@realLiangshiwei

I followed those stupid tutorials and i get this error

![image](https://user-images.githubusercontent.com/65036539/151290963-7fecd2dc-37a0-463a-a1f3-ea4422b1b448.png)

Nothing works in this sheet.....piece of crap.

[2022-01-27 05:48] suravi999 opened #11487 "abp.RabbitMq how to connect to existing exchange (type : topic)"
1) abp.RabbitMq how to connect to already existing exchange (type: topic)?

2) is there any way to connect without a `dead-letter` exchange?

[2022-01-27 05:57] realLiangshiwei commented on #11487
Hi,

  See: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/IRabbitMqMessageConsumerFactory.cs#L14

  You can pass the `ExchangeDeclareConfiguration` parameter
  ![image](https://user-images.githubusercontent.com/16813853/151300216-8bd617b1-31da-4b8d-815b-1b5a63a1c799.png)

I didn't get it.

[2022-01-27 06:36] suravi999 commented on #11487
HI @realLiangshiwei,
1) here I can see exchange type hardcoded in the framework: https://github.com/abpframework/abp/blob/9cbb244efe520997cda82ea0cdf97a5700889dcf/framework/src/Volo.Abp.EventBus.RabbitMQ/Volo/Abp/EventBus/RabbitMq/RabbitMqDistributedEventBus.cs#L72

2) when I add the existing exchange name in the project configuration (appsettings.json)
it gives the following error message
![image

[2022-01-27 06:40] #11477 closed, assigned to gterdem

[2022-01-27 06:50] realLiangshiwei commented on #11487
Hi,

This is the design, you can replace the `RabbitMqDistributedEventBus` with your implementation if you want to change it.

We canceled the dead-letter feature in 5.0, you can upgrade to 5.x

[2022-01-27 08:13] maliming commented on #11454
Supporting blazor wasm would be a tiered project structure. This would be similar to the default app. I think we can exclude the balzor wasm type.

[2022-01-27 08:51] zhutoutou commented on #4272
Is there any update about which trigger the canceltoken cancel. I have reviewed AsyncEx code and found it's implement is similar with abp's new implement.

[2022-01-27 09:45] OldKing-lion opened #11488 "An exception occurred while iterating over the results of a query for context type 'Volo.Abp.IdentityServer.EntityFrameworkCore.IdentityServerDbContext'."
Version:Abp4.4
Problem:Log the error
System.InvalidOperationException: An exception has been raised that is likely due to a transient failure. Consider enabling transient error resiliency by adding 'EnableRetryOnFailure()' to the 'UseMySql' call.
 ---> MySqlConnector.MySqlException (0x80004005): The Command Timeout expired before the operation completed.
 ---> MySqlConnector.MySqlException (0x8000

[2022-01-27 10:00] realLiangshiwei commented on #11488
* Steps needed to **reproduce** the problem.

[2022-01-27 10:06] magicjar opened #11489 "Blazor Components in Razor Pages"
Are there any tutorials to implement blazor/razor component in ABP razor pages? I have followed "counter" component tutorial from MS, register `AddServerSideBlazor();`, `MapBlazorHub()`, add `_framework/blazor.server.js`, but no luck. The counter was rendered but the increment button just did not work, no error.

[2022-01-27 11:03] #11476 closed, assigned to gterdem

[2022-01-27 11:52] awahbahplana opened #11491 "Abp error handling popup editing"
Hi I want to change error messages
![image](https://user-images.githubusercontent.com/96010802/151353630-fabb2b91-9b18-4f60-be4a-2cb0149f2fcc.png)
To my custom design and message sent from server
How??

[2022-01-27 11:58] awahbahplana commented on #11491
It is show the same popup without any exception message that sent from server
I need to change the layout from where?
I need the Abp commercial source for angular and dot net How?

[2022-01-27 12:26] berkansasmaz commented on #11407
The problem has been solved with `5.1.3`. You can update the ABP CLI and try 😊

`dotnet tool update -g Volo.Abp.Cli`

[2022-01-27 12:26] #11407 closed, assigned to enisn, berkansasmaz

[2022-01-27 12:29] realLiangshiwei commented on #11491
Hi,

Can you check this: https://docs.abp.io/en/abp/latest/UI/Angular/HTTP-Requests#http-error-handling ?

[2022-01-27 12:48] garsiv1932 opened #11492 "Object Extension not working"
Your **ABP Framework version: 5.1.3, 4.4.
Your **User Interface: Angular
Your database provider: EF Core

I followed those stupid tutorials and i get this error

https://github.com/abpframework/abp-samples/tree/master/DocumentationSamples/CustomApplicationModules

#1414

For version 5.x:

See: https://support.abp.io/QA/Questions/2151/Add-relation-between-AbpUser-to-My-Table-in-50

![image](https:/

[2022-01-27 13:25] BZhong303 opened #11493 "Extend Entities with Mongo"
Hi,

I am trying to expend the entity(like IdentityUser), when I follow the document.
I have some problem, can u help me?

Question 1,

I try to add extra properties with IdentityUser entity,
I used Application.Contracts - MyprojectNameAppDtoExtensions

    public static void Configure()
    {
        OneTimeRunner.Run(() =>
        {
            ObjectExtensionManager.Instance
                 .A

[2022-01-27 13:28] realLiangshiwei commented on #11489
Hi,

You can use the blazor-server template directly

[2022-01-27 13:37] realLiangshiwei commented on #11493
Hi,

You can check the document to know how it works: https://docs.abp.io/en/abp/latest/Entities#how-is-it-stored

[code]

[2022-01-27 13:50] suravi999 commented on #11487
Hi @realLiangshiwei,
implemented and replaced the `RabbitMqDistributedEventBus` as follows,
![image](https://user-images.githubusercontent.com/10302737/151370645-8596b8fe-914e-473a-b56f-34631a8067b7.png)

but still not executing `Initialize` function of new `AbcRabbitMqDistributedEventBus`

please let me know if I have missed anything?

[2022-01-27 14:12] #11454 closed, assigned to maliming

[2022-01-27 14:48] BZhong303 commented on #11493
Thank you so much for responding to my question.

Is this document mean I shouldn't add properties, and I need to add new entities for extra properties?

I need to ask, where can I set this?
{
  "userName": "string",
  "emailAddress": "user@example.com",
  "password": "string",
  "appName": "string",
  "extraProperties": {
        "propertyName": "value...."
   }
}

Thanks a lot for ur helping.

[2022-01-27 15:22] puschie286 commented on #11480
@maliming

thanks - it works with the AutoMap attribute

looks like the following conditions have to be met:
* Is not added to EtoMapping
* Eto have to inhert EntityEto

[2022-01-27 15:22] #11480 closed, assigned to nobody

[2022-01-28 01:26] realLiangshiwei commented on #11487
Hi,

Try

[code]

[2022-01-28 01:37] realLiangshiwei commented on #11493
Hi,

Sorry, I didn't get it,

Usually, the UI will do this automatically

See: https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml#L34

But for register page, you need to customize your own page.

See: https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface

[2022-01-28 02:03] magicjar commented on #11489
Are there any performance impact of switching from MVC/Razor to Blazor server on the server? Well I read a lot of posts that SPA (React, Angular) SSR put a lot of work on server CPU, this question is what keep me away from moving to blazor server.

[2022-01-28 03:23] Kenjiang110 opened #11495 "OrganizationUnitConsts in Volo.Abp.Identity is an static class that doesn't support DynamicStringLength attribute"
This is a static class and MaxDisplayNameLength is a property. I can use neither StringLength nor DynamicStringLength
[code]
By the way,  I belive CodeUnitLength = 5 is too much.

[2022-01-28 03:49] realLiangshiwei commented on #11489
Hi,

Blazor is optimized for high performance, but it depends on your correct use of it,  you can read the Blazor High Performance Best Practices document
See: https://docs.microsoft.com/en-us/aspnet/core/blazor/performance?view=aspnetcore-6.0

[2022-01-28 03:51] realLiangshiwei commented on #11495
Hi,

Modules are open source, you can change them for your case.

[2022-01-28 03:59] #10683 closed, assigned to nobody

[2022-01-28 06:31] MAlshehri commented on #11437
Same problem
[code]

[code]

I fixed it by adding this line
`AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true);`
inside Main  (Program.cs)

[2022-01-28 06:49] awahbahplana commented on #11491
Thanks @realLiangshiwei

[2022-01-28 07:26] ankitatcodingnebula commented on #11437
This only enables the legacy timestamp behavior on Npgsql by using all date time columns as `timestamp` instead of `timestampz`

[2022-01-28 07:27] ankitatcodingnebula commented on #11437
@MAlshehri
This only enables the legacy timestamp behavior on Npgsql by using all date time columns as `timestamp` instead of `timestampz`

[2022-01-28 14:17] sanghel-payoff commented on #11437
I've requested an "official" response to this issue via a support question that anyone can follow [here](https://support.abp.io/QA/Questions/2489/PGSQL-DateTime-mapping-issue-with-512-and-earlier-due-to-Npgsql-6)

[2022-01-29 01:22] tjubuntu opened #11501 "ABP Documentation with English is different from other’ language，these documents are not Asynchrony"
Obviously ABP Documentation with English is updated frequency，but the other's documents is not Matched。
It‘s a problem that when the English document is updated by new version，the other language documents is translated by the old version，its can't Keep on the English‘s version。this problem must be solved。

[2022-01-29 01:32] tjubuntu commented on #11501
Obviously ABP Documentation with English is updated frequency，but the other's documents is not Matched。
It‘s a problem that when the English document is updated by new version，the other language documents is translated by the old version，its can't Keep on the English‘s version。this problem must be solved。

[2022-01-29 02:42] maliming commented on #11501
You can try contributing documentation in other languages. We will also improve it.

[2022-01-29 02:42] #11501 closed, assigned to nobody

[2022-01-29 07:54] #10688 closed, assigned to nobody

[2022-01-29 19:01] hikalkan opened #11502 "Remove assumptions from the basic theme layouts"
See the this article: https://community.abp.io/posts/customizing-the-abp-basic-theme-with-bootswatch-4luoqzr0

I see our theme has some assumptions that are fixed in the *Overriding Layouts and Components in the ABP Basic Theme* section of the article. If possible, we can fix these, so it would be easier to change the theme.

Note: Please make that in rel-5.1 branch to make it as a bugfix (if that

[2022-01-29 19:05] hikalkan opened #11503 "Add abp.resourcemapping.js files to blazor server projects"
For MVC UI projects, we have `abp.resourcemapping.js` files as empty (see: https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web.Host/abp.resourcemapping.js). Blazor Server and Blazor Server Tiered projects are also using the same client dependency management system. We should add these files to there to make it easier to install a new library
(

[2022-01-29 22:43] mahdighorbanpour commented on #2591
I have exactly the same problem, I have implemented the seed contributor in the Application layer, however, it seems DbMigrator will not detect the contributors in this layer. I even added the project reference to the Application project (for the DbMigrator) but didn't help.
The intention is simple, seed a set of defined permissions for a specific role(s). What do you suggest?

[2022-01-29 22:53] mahdighorbanpour commented on #2591
Found it:
Adding the dependency to the application module will result in detecting the seed contributor in the application layer. You need to change the DbMigratorModule and update it like below:
[code]

[2022-01-30 12:57] hikalkan commented on #8528
@maliming we can remove the `libs` folders from the solution and add `/libs` into `.gitignore` in the startup templates.
After that change, after creating a new ABP solution, we will need to run `abp install-libs` in the MVC and Blazor Server UI projects. We can automate that as much as possible with the following improvements:

1. Add ability to run the `abp install-libs` command in the solution

[2022-01-30 13:14] #8381 closed, assigned to nobody

[2022-01-30 13:29] hikalkan opened #11504 "Add social media register options to Register page"
Currently, only the login page has the social media (external) login options. However, sometimes we are directly sharing a link of the Register page to users (to register to the website), so they may miss the social login option. So, both of login and register pages should have social/external login possibility.

[2022-01-30 15:47] Wiblox opened #11505 "Typeahead Error Blazor Webasembly"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

ABP 5.1.2
Blazor
EF Core

![image](https://user-images.githubusercontent.com/33899359/151706546-7ef7b5d6-8625-4

[2022-01-30 15:52] Wiblox commented on #11505
I have only used abp suite so far.

[2022-01-30 16:32] hikalkan commented on #10322
This is related to https://github.com/abpframework/abp/issues/10031

[2022-01-30 21:13] hellorms opened #11506 "unwanted semi-colon in the source code"
Line 325 has an unwanted semi-colon in the source for:

Volo.Abp.Account.Pro.Public.Web.IdentityServer\ExtensionGrantValidators\ImpersonationExtensionGrantValidator.cs(325,47,325,48): warning CS0642: Possible mistaken empty statement

**if (Guid.TryParse(str, out var guid)) ;**

[2022-01-31 01:55] magicjar commented on #11489
Ok, I had tried blazor server template and I got razor component working in razor pages.
But when I change the razor pages route from `@page "/page"` to nested route `@page "/page/post"`, it give me an error `Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 2` and increment function is not working.

Am I missing something?

/Pages/Pages.cshtml
[code]

/Pages/Pages.cshtml.c

[2022-01-31 06:26] enisn opened #11508 "Expose blazor breadcrumbs for rendering by themes"
LeptonX requires that feature to render breadcrumbs by itself.

[2022-01-31 08:53] ysozbek commented on #11407
windows abp cli update to 5.1.3. But on macos when i run update volo.abp.cli command it says "Tool 'volo.abp.cli' was reinstalled with the latest stable version (version '5.1.2')'."

[2022-01-31 09:06] enisn commented on #11407
The version [v5.1.3](https://www.nuget.org/packages/Volo.Abp.Cli/5.1.3) is already published. You can try removing it completely and reinstalling again.

`dotnet tool uninstall -g Volo.Abp.Cli`
`dotnet tool install -g Volo.Abp.Cli`

or you can just specify the version:
`dotnet tool update -g Volo.Abp.Cli --version 5.1.3`

[2022-01-31 09:23] ysozbek commented on #11407
ysozbek@*** ~ % dotnet tool install -g Volo.Abp.Cli
You can invoke the tool using the following command: abp
Tool 'volo.abp.cli' (version '5.1.2') was successfully installed.
ysozbek@*** ~ % dotnet tool update -g Volo.Abp.Cli --version 5.1.3
/var/folders/2_/53j0y8kj55q571_cgl6bzn6r0000gn/T/xbe1ezo0.21g/restore.csproj : error NU1102: Unable to find package volo.abp.cli with version (>= 5.1.3)
/var/

[2022-01-31 09:26] enisn commented on #11407
It's available on nuget.org currently
https://www.nuget.org/packages/Volo.Abp.Cli/5.1.3

You can try to clear nuget cache

[2022-01-31 09:31] ysozbek commented on #11407
Thanks after nuget locals all -clear command 'volo.abp.cli' was successfully updated from version '5.1.2' to version '5.1.3'.

[2022-01-31 12:47] #11508 closed, assigned to enisn

[2022-01-31 13:42] leonkosak opened #11510 "Timezone retrieval issue"
We are experiencing problems with retrieval of Tenant Settings, specifically Abp.Timing.Timezone, from the database. Our application is running on v4.3. with Multitenancy and separate postgres databases for each Tenant.
In the modules, where the timezone settings are needed, we have defined the ModuleSettingDefinitionProvider as the documentation instructs.

[code]

In the AppServices we are using

[2022-01-31 14:43] berkansasmaz commented on #11474
Thanks for the report @antosubash  🎉

We fixed this issue, it will be deployed soon.

---

That's why I'm closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-01-31 14:43] #11474 closed, assigned to berkansasmaz

[2022-01-31 17:48] muratyuceer commented on #9652
@maliming maybe you can abstract it like this
define IRepositoryProviderQueryOptions
store options as key value which implement class can take them from ctor and pass to repo methods. Check if asnotracking key value exist apply it to ef core repo etc..

[2022-02-01 07:12] muhammedaltug opened #11511 "Add icon customization ability to confirmation popup"
- [x] Default icon classes must be replaceable
- [x] Should be able to give custom icon with parameter

[2022-02-01 14:35] Fane276 opened #11512 "Custom client side validation"
I am looking for an method to used custom validations for abp-input on the client side. The problem I am facing is that I could not find a way or a workaround to initialize jQuery.validate by my self. Searching in the source code I found that `$.validator.unobtrusive.parse($form);` is initialized for each form and because of that I think I can not also use jQuery.validate method. I have also tried

[2022-02-01 19:19] Wiblox commented on #11505
Tomorrow I will try by creating a new project and try to test the bug.

[2022-02-01 21:49] #11433 closed, assigned to enisn

[2022-02-02 04:48] hikalkan opened #11514 "eShopOnAbp: Provide a non-layered microservice example"
We can convert BasketService to a non-layered solution, by reducing the solution into two projects:

* EShopOnAbp.BasketService (also includes the hosting code)
* EShopOnAbp.BasketService.Contracts (like app.contracts + domain.shared)

I think this don't break the solution and can be a good example for who wants to create simpler services.

[2022-02-02 06:08] enisn opened #11515 "setting-management page without logging in crashes"
**Steps to reproduce the issue:**

- Load the latest startup template (e.g. 5.1.2)

- Without logging in, try to open http://localhost:5000/setting-management (without logging in)

- Exception, Application hangs up!

---

[2022-02-02 07:54] Wiblox commented on #11505
![image](https://user-images.githubusercontent.com/33899359/152114513-5959a62a-bbea-4cf5-bc26-1205d1387948.png)
There is an error loading the value

[2022-02-02 13:55] enisn opened #11522 "moved"

[2022-02-02 13:57] #11522 closed, assigned to nobody

[2022-02-02 15:36] tmoodley opened #11523 "How to create custom Error logging using ExceptionSubscriber to log JWT errors"
I am having issues logging JWT errors. Currently, ABP will log all JWT errors the same way, we would like to know more information on why the JWT Token failed to get data.

For example, is it a claims issue? Is the Token expired? etc.

Here is a code sample:

    public class CustomExceptionSubscriber : ExceptionSubscriber
    {

    private readonly ILogger<CustomExceptionSubscriber> _logger;

[2022-02-02 18:36] nev-21 opened #11524 "Angular, invalid get request with a List as input parameter"
### Bug report

* ABP version **5.1.3**.
* User Interface **Angular**
* Ef core Npgsql

Description: When angular make a GET or DELETE request to an AppService method that has a List< Guid > input parameter, it sends the following url:
[code]
as you can see, the ids are separated by commas, so it provoke an invalid request error. It happend with any type not only Guids.

### Exception message and

[2022-02-03 03:01] magicjar commented on #11414
Well, I'm using another library (ImageSharp.Web) to generate image cache, so I need the full path.

[2022-02-03 06:20] #11308 closed, assigned to muhammedaltug

[2022-02-03 07:31] EngincanV opened #11525 "Add module entity extension to CMS Kit Module"
We need to add the [module entity extension](https://docs.abp.io/en/abp/latest/Module-Entity-Extensions) support to the CMS Kit module.

[2022-02-03 12:29] sebitsi opened #11527 "Can we use [RemoteService] on ApplicationService's method"
ABP Framework: 5.1, EF Core

We have appService with 3 methods:

[code]
When running server we get error:

**Microsoft.AspNetCore.Routing.Matching.AmbiguousMatchException: The request matched multiple endpoints**

Why is that ?

I noticed if i remove "RemoteService" attribute i got another error as expected:

**Swashbuckle.AspNetCore.SwaggerGen.SwaggerGeneratorException: Ambiguous HTTP method for

[2022-02-03 15:12] dmeagor commented on #11504
Also once you've registered it's impossible to then login using SSO as you get an account already exists error.

Standard SSO flow is to match the SSO email address claim with an account on the system and log them in to that account.  Is how it will work in 5.3-preview?

Another fairly critical option is to enforce SSO (disable basic login) once linked so that google/facebook/twitter 2FA cannot be

[2022-02-03 15:16] lukebooroo commented on #11504
I've just been looking at implementing the social logins for our app. I've run into the problem described above, plus these:

1. If there are existing users with the email address of their google account, there's no way to switch their login method to an external provider.
2. Email address is asked for in the registration process, shouldn't this be taken from the provider e.g. google

[2022-02-03 15:21] dmeagor commented on #11504
This is how chargebee handle login when the email matches multiple accounts.  (in their case they have a "test site" also)

Google SSO login...

![image](https://user-images.githubusercontent.com/714902/152371484-98858cf3-79b9-4cd9-8382-604b647681f3.png)

[2022-02-04 07:47] NecatiMeral commented on #10905
Since we're aiming for a microservice architecture, this is currently a show-stopper for us.
We would be happy if we could support you in any way to find a solution for a proper microservice architecture.

[2022-02-04 09:04] muratyuceer commented on #1848
We have same problem, to abstract it maybe it can be done like with create IRepositoryProviderQueryOptions and store options as key value which implement class can take them from ctor and pass to optionally repo queryable methods. Check if asnotracking key value exist apply it to ef core repo methods, ignore for mongo etc..

[2022-02-04 10:10] hangyejiadao opened #11529 "how to extend identityuser by Creating a New Entity Maps to the same table of Same Database in abp 5.1"

[2022-02-04 10:25] gterdem commented on #10905
Hello,
This shouldn't be a blocker issue since you can reference to `Application.Contract` layers of other microservices from `AdministrationService`.
We'll think about this since localization is not the only _resource_ to obtain, we also need to consider permissions.

[2022-02-04 12:20] #11434 closed, assigned to gterdem, enisn

[2022-02-04 12:54] NecatiMeral commented on #10905
Hi @gterdem,

yeah, the described approach would work. We initially wanted not to couple the administration service with other parts of the application ecosystem.

Thanks :-)

[2022-02-04 17:58] parasdaryanani commented on #6523
I'm facing a similar issue with ABP v4.4 on .NET 5.0 where email rendering works during development, but when deployed to production in a docker container I get this error:

`AbpException: Could not find a file/folder at the location: Email/Templates/ConfirmEmail.liquid`

- I followed the steps to setup text template rendering with the Scriban engine. During dev with both debug and release, email

[2022-02-05 07:54] #10759 closed, assigned to nobody

[2022-02-05 14:52] tmoodley commented on #11523
I was able to catch specific exceptions for expired tokens

 public class CustomExceptionSubscriber : ExceptionSubscriber
    {

        private readonly ILogger<CustomExceptionSubscriber> _logger;
        public CustomExceptionSubscriber(ILogger<CustomExceptionSubscriber> logger)
        {
            _logger = logger;
        }

        public async override Task HandleAsync(ExceptionNotificatio

[2022-02-05 14:52] #11523 closed, assigned to nobody

[2022-02-05 15:51] ktngoykalolo opened #11532 "Article Request: how to implement GDPR"
any article on implementing  GDPR ?

[2022-02-05 16:39] ktngoykalolo opened #11533 "Article Request: how to harden ABP applications in production"
How to harden ABP applications in production ?

[2022-02-05 18:12] tvddev commented on #9997
Is there an update/plan to fix this?

[2022-02-06 02:00] maliming commented on #11506
https://github.com/volosoft/volo/pull/9010

[2022-02-06 02:00] #11506 closed, assigned to nobody

[2022-02-06 02:02] maliming commented on #11506
Thanks. We fixed it in the next version.

[2022-02-06 03:24] maliming commented on #11527
hi

The `AbpServiceConvention` will change the controller.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpServiceConvention.cs#L248

You should use `HttpPost` in your HTTP.API project.

eg https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityRoleController.cs

[2022-02-06 03:28] maliming commented on #11529
See https://github.com/abpframework/abp/search?q=extend+identityuser&type=issues

[2022-02-06 11:16] totpero opened #11534 "Use IEntityTypeConfiguration"
Hi,
In ef-core-6.0 release is new feature EntityTypeConfiguration:  https://github.com/dotnet/efcore/issues/23163
You can read more here https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-6.0/whatsnew#entitytypeconfigurationattribute
For more clean code you can use for example instead of [this](https://github.com/abpframework/abp/blob/dev/modules/audit-logging/src/Volo.Abp.AuditLogging.E

[2022-02-06 11:20] #10756 closed, assigned to nobody

[2022-02-06 11:20] #10239 closed, assigned to nobody

[2022-02-06 11:20] #10749 closed, assigned to nobody

[2022-02-06 11:21] maliming commented on #11534
hi

Thanks, @totpero I will investigate it.

[2022-02-06 17:29] sebitsi commented on #11527
Sorry @maliming i don't understand.

Shouldn't [RemoteService(false)] attribute remove method from API route and swagger spec by default ?

By [Docks](https://docs.abp.io/en/abp/latest/API/Auto-API-Controllers)  [RemoteService(false)] should remove whole class. I test it and it works like that. But If i add RemoteService attribute to method it is not working without (for example) [HttpPost].

If I

[2022-02-07 01:10] jortygu commented on #11385
@maliming ok,thanks for your reply.
my solution as below:
1.custom `jquery-form-extensions.js`
[code]
2.how to use
`<button type="submit" name="Action" value="Save" class="btn btn-warning Save" formnovalidate><i class="fa fa-save"></i> <span>@L["Save"].Value</span></button>`
[code]

[2022-02-07 01:10] #11385 closed, assigned to nobody

[2022-02-07 01:23] maliming commented on #11533
Same with  `How to harden asp net core applications in production`.

[2022-02-07 01:26] maliming commented on #11512
How do you implement this in ASP NET Core without ABP?

[2022-02-07 02:42] magicjar commented on #11489
@realLiangshiwei  Ok, I got it to work now.

Just override theme layout "Application.cshtml" and add `<base href="~/" />` inside head tag.
I think the missing base caused this issue.

[2022-02-07 02:42] #11489 closed, assigned to nobody

[2022-02-07 06:02] gterdem opened #11536 "RabbitMQ AzureServiceBus improvements"
AzureService bus seems to support subscriptions over topics and clients: https://docs.microsoft.com/en-us/azure/service-bus-messaging/topic-filters

Maybe we can make improvements about it when publishing a distributed event, we can let developer to specify which topic they publish the event to.

Originated from [support issue#2497](https://support.abp.io/QA/Questions/2497/Azure-service-bus-integr

[2022-02-07 06:17] hikalkan commented on #8385
We will go with individual issues.

[2022-02-07 06:17] #8385 closed, assigned to gterdem, enisn

[2022-02-07 08:22] #11502 closed, assigned to realLiangshiwei

[2022-02-07 09:05] #11425 closed, assigned to gterdem

[2022-02-07 09:06] Fane276 commented on #11512
For the js file:
[code]
For the cshtml file:
[code]

For this case, at first I have an input named "Total" required because of
[code]
object form the js. And when I click "Ignore validation" it adds class ignore-validation and because of  `ignore: ".ignore-validation"` form can be submitted without validating the input.

[2022-02-07 12:27] ZouZou opened #11539 "[Question] Is there an example on how to use GetOrAddManyAsync for the IDistributedCache"
### Question

Is there an example on how to use GetOrAddManyAsync for the IDistributedCache?

I am having a problem when using the "GetOrAddManyAsync", How to set the keys

        List<string> keys = new List<string>();
        keys.Add("Persons");

        var cachedItems = await _cache.GetOrAddManyAsync(
                keys, //Cache key
                async (missingkeys) => await GetPersonsFr

[2022-02-07 12:55] ZouZou commented on #11539
For now I did a bit of a turnaround
`
            var cachedItems = await _cache.GetOrAddAsync(
                "Persons",
                async () => await GetPersonsFromDatabaseAsync(),
                () => new DistributedCacheEntryOptions
                {
                    AbsoluteExpiration = DateTimeOffset.Now.AddDays(7)
                }
            );`

I created on key "Persons" and th

[2022-02-07 16:24] sanghel-payoff commented on #11437
@hikalkan I'm having trouble getting this issue recognized on [the support ticket](https://support.abp.io/QA/Questions/2489/PGSQL-DateTime-mapping-issue-with-512-and-earlier-due-to-Npgsql-6).

Do I need to somehow further clarify this problem ??

[2022-02-08 01:01] maliming commented on #11539
hi

See https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/test/Volo.Abp.Caching.Tests/Volo/Abp/Caching/DistributedCache_Tests.cs#L717

[2022-02-08 07:32] tungphien opened #11542 "Count and ToList return difference data when has inner join"
Count() => not include (inner join) => return number 10
ToList() => executing inner join => return 2 record

Any ideal for this issue

[2022-02-08 07:38] maliming commented on #11542
* Your **ABP Framework version**.
* Your database provider(EF Core/MongoDB)
* Steps needed to **reproduce** the problem.

[2022-02-08 07:52] tungphien commented on #11542
Thanks @maliming answer

Abp Version="6.4.0"
Database: MSSQL SERVER

I have tables:
-  User(Id, CustomerId, etc,)(10 records) and I use Data Filter(IMayHaveCustomer) https://docs.abp.io/en/abp/4.4/Data-Filtering#entityframework-core to filter by login User(only 2 records)
- Customer(Id, Name, CreatorUserId, etc,)(10 records)
- Now I Query Cusomer: Count() => return 10 and ToList() will be return 2

[2022-02-08 09:05] maliming commented on #11542
hi

I think this is limit of EF Core Global Query Filters

https://docs.microsoft.com/en-us/ef/core/querying/filters

[2022-02-08 09:09] tungphien commented on #11542
Thanks so much @maliming

[2022-02-08 09:09] #11542 closed, assigned to nobody

[2022-02-08 10:12] #8528 closed, assigned to maliming

[2022-02-08 11:03] #11312 closed, assigned to yekalkan

[2022-02-08 11:55] mehmetuken opened #11545 "Dynamic C# Api Clients Timeout"
Hi, dynamic c# api client getting timeout error 100seconds. Any configuration options change timeout?

[2022-02-08 22:48] xirius opened #11547 "eShopOnAbp: Unexpected (code) dependence between services"
I was looking into the [eShopOnAbp](https://github.com/abpframework/eShopOnAbp) solution and I was surprised to see many inter-dependencies between solutions.

For example I would expect [identity](https://github.com/abpframework/eShopOnAbp/tree/main/services/identity)[server] solution to be self-contained. Meaning I would be able to take it, compile and run it.

1.  Unfortunately, its appsettings

[2022-02-09 01:07] maliming commented on #11545
https://github.com/abpframework/abp/blob/rel-4.4/modules/identity/src/Volo.Abp.Identity.HttpApi.Client/Volo/Abp/Identity/AbpIdentityHttpApiClientModule.cs#L16

https://github.com/abpframework/abp/blob/rel-4.4/framework/src/Volo.Abp.Http.Client/Microsoft/Extensions/DependencyInjection/ServiceCollectionDynamicHttpClientProxyExtensions.cs#L159

https://github.com/abpframework/abp/issues/5304

[2022-02-09 07:24] #11329 closed, assigned to maliming

[2022-02-09 07:36] enisn opened #11549 "Tenant information should be purged from redis after deletion of a tenant"
Originally posted here: https://support.abp.io/QA/Questions/2522/Tenant-not-found-There-is-no-tenant-with-the-tenant-id-or-name-00bbbd7e-953d-7c7d-3842-3a01cc9219ec

[2022-02-09 08:45] Xeevis commented on #7221
![image](https://user-images.githubusercontent.com/5835044/153157194-0be3e466-30cd-4c18-ad20-be40beef5b43.png)

With version 6 onwards Duende is changing licensing model, Community Edition will no longer have any limits and will be feature equivalent to Enterprise Edition.

[Duende IdentityServer v6 released](https://blog.duendesoftware.com/posts/20220113_v6_release/)
[Fair Trade Software License]

[2022-02-09 10:53] sturlath opened #11550 "Remote HTTP Request: Failed to fetch"
Hi, I´m getting this error very periodically here and there and the only thing I need to do is to navigate from the page and come back to it. I started noticing this first sometime after 5.0 but I thought it was just connected to local development and me running VS 2022 latest preview

Now I´m thinking that this is connected somehow to dynamic proxies and am wondering if this might be fixed with u

[2022-02-09 12:46] maliming commented on #497
https://github.com/abpframework/abp-samples/pull/126

[2022-02-10 03:21] realLiangshiwei commented on #11550
Hi,

Please discuss it here: https://support.abp.io/QA/Questions/2209/Bugs--Issues-v5X. PS: please provide steps to reproduce.

[2022-02-10 08:50] sturlath commented on #11550
Just added it [https://support.abp.io/QA/Questions/2209/Bugs--Issues-v5X#answer-5d16e131-cb98-199d-0ed8-3a01f4fe9f47](https://support.abp.io/QA/Questions/2209/Bugs--Issues-v5X#answer-5d16e131-cb98-199d-0ed8-3a01f4fe9f47) there also.

And sorry I can´t replicate this atm but I will try to gather more information on this next time it happens and update the questions.

[2022-02-10 08:51] gterdem commented on #11547
Actually, IdentityServer is hosted at [auth-server](https://github.com/abpframework/eShopOnAbp/tree/main/apps/auth-server), [identity](https://github.com/abpframework/eShopOnAbp/tree/main/services/identity) microservice hosts the database and api endpoints for **identity** and **identityserver**.

It doesn't **have to** follow a µ-service architecture. We embraced a pragmatical approach here. ABP

[2022-02-10 11:05] mehmetuken commented on #11545
Thanks, I solved this way maybe help someone.

[code]

[2022-02-10 11:05] #11545 closed, assigned to nobody

[2022-02-10 12:33] ZouZou commented on #11539
I did check it but it seems that I need to know the length of the keys in advance?
In my example GetPersonsFromDatabaseAsync(), will get several records (Id, Name)
Is it better if I use the GetOrAddAsync and load everything (List) into a single entry in the cache?

[2022-02-10 18:55] odesyatnyk opened #11552 "Why ValueObject had deleted equality operators?"
It's funny that issue template asks to refer to documentation and it's really outdated there about this topic :)
See [ValueObject](https://aspnetboilerplate.com/Pages/Documents/Value-Objects) documentation, it still states that `class overrides the equality operator`.

At this point i'm trying to understand why it was removed at the end? Because of inability to implement correct GetHashCode method

[2022-02-10 19:46] odesyatnyk commented on #11552
wrong repo, sorry

[2022-02-10 19:46] #11552 closed, assigned to nobody

[2022-02-10 20:29] davidzwa commented on #8580
@mehmet-erim I've tried to apply your previous `APP_INIT_ERROR_HANDLERS` tip and back then I couldnt get it to work in most errors/cases. I think I have good information now on why HTTP errors are not properly handled/thrown (@abp/ng-core initializer). Btw I can also make another issue if you prefer.

This is not a small problem. I've been dealing with it for ... years? now.

**Problem reproductio

[2022-02-11 05:24] OneLikeU opened #11553 "LogoutModel has not been registered"
*ABP Framework version:**v4.4.4
UI type: MVC
Tiered (MVC)  and Identity Server Seperated
I want to change the default theme by changing the base theme and it seems to succeed, by when I click the link to logout, it returned an error that the requested service 'Volo.Abp.Account.Web.Pages.Account.LogoutModel' has not been registered.
How can i solve it?
thx.
![1](https://user-images.githubuserconten

[2022-02-11 05:34] #11553 closed, assigned to nobody

[2022-02-11 05:36] OneLikeU commented on #11553
Sorry, I  have resolved this issue through this issue [https://support.abp.io/QA/Questions/432/MVC-Tier-Application-Logout-Issues](url)

[2022-02-11 06:48] mehmetuken opened #11554 "Publish new version for new no layers template."

[2022-02-11 07:13] realLiangshiwei opened #11555 "Select2 does not function properly when use it inside a Bootstrap modal"
![image](https://user-images.githubusercontent.com/16813853/153551096-500123cc-98f4-4d61-bdce-b0f926b5158e.png)

[2022-02-11 07:29] #11555 closed, assigned to realLiangshiwei

[2022-02-11 11:40] improwise opened #11561 "Log in user in ABP automatically?"
* Your **ABP Framework version**. 5.1.3
* Your **User Interface** type: Blazor Server

For a quite specific use case, we would need to have a user authenticated even though they themselves don't actually log in or even notice it. Is it possible in ABP to do some kind of scripted login like redirecting to a URL like "https://www.mysite.com/Account/Login?username=username&password=password? Think so

[2022-02-11 12:02] DonVliet commented on #11561
Have a look at the  **SignInManager.PasswordSignInAsync** and  **GetAbpLoginResult** methods e.g.

var signInResult = await SignInManager.PasswordSignInAsync(
    login.UserNameOrEmailAddress,
    login.Password,
    login.RememberMe,
    true
);

var result = GetAbpLoginResult(signInResult);

as used in the following controller:

/modules/account/src/Volo.Abp.Account.Web/Areas/Account/Controllers

[2022-02-11 12:04] improwise opened #11562 "Disable/configure Swagger in settings"
It would be nice if there were settings to disable/hide/configure the Swagger API via settings, like here:

https://github.com/EngincanV/ABP-Hide-Swagger-Endpoint-Demo

Use cases would be to either hide it completely or just expose selected methods, or perhaps an option to hide all built in ABP related stuff, and then just control the exposure of your own methods using standard annotations.

Even

[2022-02-11 14:18] eneskoroglu opened #11566 "Add where condition on ExtraProperty column value"
* Your **ABP Framework version**. 4.4.4
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: Angular
* Your database provider(EF Core/MongoDB) EF Core

We store some values on ExtraProperty column and we need to filter data by this info.  We tried to add our info which is stored in ExtraProperty as property (for ex. HasFifo) and add a condition on th

[2022-02-11 16:16] berkansasmaz commented on #11566
Hi,

See: https://github.com/abpframework/abp/issues/10662#issuecomment-972765041

[2022-02-11 16:28] lommez opened #11567 "UOW Default Options not been respected"
I've created a simple console application with Dapper.

In my module i've changed the default behavior, just like this:

![image](https://user-images.githubusercontent.com/10900667/153627902-a67e278e-59ed-4a22-ad65-ab32566773c1.png)

If the UnitOfManager.Begin method is called without passing values just like that:

![image](https://user-images.githubusercontent.com/10900667/153628383-bc6f44c8-832

[2022-02-11 18:30] espindl opened #11568 "Is there a problem with Users page search/filter?"
5.1.3 - MVC - EF Core

After we upgrade from 4 to 5.1.3 we realized filter not working on users page.

When I compare this file [https://github.com/abpframework/abp/blob/bc87382d2fb789ac11d54a45ff829edf42b9f7f3/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js]  with the one in the  theme-shared dll they are di

[2022-02-12 13:06] maliming commented on #11568
Thanks. I will check that.

[2022-02-12 17:31] nebula2 commented on #11357
I can confirm that doing the following to ..EntityFrameworkCore -> ..EntityFrameworkCoreModule solves it on Version `5.1.3`.

[code]

Would however be more intuitive if that three lines of code would already be included (in case postgre sql is set as db provider when creating the solution with cli)

[2022-02-13 01:21] maliming commented on #11568
They are the same. You can copy the latest code to your project(`datatables-extensions.js`).

![image](https://user-images.githubusercontent.com/6908465/153734237-54a84b4d-208e-44b0-9178-a2c1e6648848.png)

[2022-02-13 01:21] #11568 closed, assigned to nobody

[2022-02-13 01:28] maliming commented on #11567
The `Begin` method is the extension method.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWorkManagerExtensions.cs#L10

[2022-02-13 04:25] #10834 closed, assigned to nobody

[2022-02-13 04:25] #10836 closed, assigned to nobody

[2022-02-13 04:25] #10695 closed, assigned to ebicoglu

[2022-02-13 04:25] #10576 closed, assigned to nobody

[2022-02-13 08:19] nev-21 opened #11569 "EfCore SplitQuery consistency"
### Discussion about the framework (Consistency)

* ABP Framework version **5.1.3**.
* EfCore Npgsql

### Data Consistency
https://docs.microsoft.com/en-us/ef/core/querying/single-split-queries#characteristics-of-split-queries
[code]

When I use the framework to make a DDD solution:

- If I use GetAsync of IBasicRepository, with an AggregateRoot that has related Entities (with reference properties

[2022-02-13 10:25] ydemir opened #11570 "Autofac.Core.DependencyResolutionException"
I keep getting this Autofac.Core.DependencyResolutionException with new modules. I don't know what I am doing wrong. Below is my stack trace-:

[12:59:46 ERR] An exception was thrown while activating Castle.Proxies.FaturaAppServiceProxy.
Autofac.Core.DependencyResolutionException: An exception was thrown while activating Castle.Proxies.FaturaAppServiceProxy.
 ---> Autofac.Core.DependencyResolution

[2022-02-13 10:34] realLiangshiwei commented on #11570
`Cannot resolve parameter 'KarayYazilim.OnMuhasebe.Faturalar.IFaturaRepository faturaRepository' of constructor`

It seems, can't resolve IFaturaRepository, you should check your code and also check the document: https://docs.abp.io/en/abp/latest/Dependency-Injection

[2022-02-13 14:38] ydemir commented on #11570
@realLiangshiwei

[Exception picture](https://www.hizliresim.com/am0ad70)

You see in the picture above. I was getting this error because I didn't add the IFaturaRepository interface to the related class. How do I find this, it is very difficult to find this error.

i solved this problem. thanks.

[2022-02-13 16:02] nebula2 opened #11571 "easy crm demo broke"
When logging in to [easy crm demo](http://easycrm.samples.commercial.abp.io/ ) with the credentials provided there it throws an error message
![image](https://user-images.githubusercontent.com/5841525/153761524-19372b88-2eaa-4f73-ae71-1db21189bb6d.png)

Clicking it away just shows this here for infinity
![image](https://user-images.githubusercontent.com/5841525/153761544-09787132-9ff1-4f30-bd13-c0

[2022-02-13 18:57] GotzeWong opened #11572 "Run IdentityService.Host returns NullReferenceException"
* ABP  4.4.2
* MVC
* Database provider(EF Core)
* Steps:
   1. Download the Microservice Demo Solution
   2. Build all sub-projects and DB
   3. Running Microservice return 500, it shows exception as below

![image](https://user-images.githubusercontent.com/7664030/153769861-8ca83e95-0d43-46d9-bcb6-d006dd7bba26.png)

 The solution works before and I have no idea why this happened?

[2022-02-13 20:31] mrcarl79 commented on #1638
@hikalkan Is there any update on the roadmap for this? We use Abp open source for our back end coupled to bespoke React front end for customers. We want to create a control panel style front end also soon, if an Abp React front end was on the roadmap I would say there would be a very high chance of a Abp commercial purchase by the company I work for as we would certainly use it if the commercial t

[2022-02-14 01:08] #11570 closed, assigned to nobody

[2022-02-14 02:16] realLiangshiwei commented on #11554
You can use CLI to create a no-layers project now :

`abp new BookStore -t app-nolayers`

[2022-02-14 02:19] #11554 closed, assigned to nobody

[2022-02-14 02:24] maliming commented on #11572
Microservice Demo is no longer active, You can check the [eShopOnAbp](https://github.com/abpframework/eShopOnAbp) now.

[2022-02-14 02:24] #11572 closed, assigned to nobody

[2022-02-14 03:26] mrcarl79 commented on #4336
@hikalkan Is there any update on this? I was trying to enable auditing on an entity today to track changes a background job is doing during an import process but couldn't get it working and then found this. Definitely something that would be useful I feel. Thanks :)

[2022-02-14 06:07] #11515 closed, assigned to enisn

[2022-02-14 07:23] EngincanV commented on #11562
Hi @improwise, thanks for the suggestion. We'll consider it.

[2022-02-14 07:35] #11488 closed, assigned to nobody

[2022-02-14 07:36] EngincanV opened #11573 "Show/Hide ABP Related Endpoints on Swagger UI"
Based on https://github.com/abpframework/abp/issues/3758

* Add an option to show/hide ABP-related endpoints on Swagger UI.

[2022-02-14 15:27] enisn commented on #11505
Hi @Wiblox

Thank you for your feedback, We've solved that issue and it'll be shipped in the next v5.1 patch version

[2022-02-14 15:27] #11505 closed, assigned to yekalkan, enisn

[2022-02-14 16:36] lommez commented on #11567
thanks @maliming
but according to the [https://docs.abp.io/en/abp/latest/Unit-Of-Work#default-options](https://docs.abp.io/en/abp/latest/Unit-Of-Work#default-options) this shouldn't be respecting what have been defined in the module configure method? Instead of creating a new AbpUnitOfWorkOptions instance?

[2022-02-14 17:01] Wiblox commented on #11505
Hi @enisn

Will there be a manual correction to be made for the existing UI ?

[2022-02-14 20:00] stousmand opened #11577 "Custom tenant resolver doesnt seem to resolve tenant"
Hi, I'm trying to implement a custom tenant resolver as mentioned in the [documentation](https://github.com/abpframework/abp/blob/dev/docs/en/Multi-Tenancy.md) which is similar to this [documentation](https://docs.abp.io/en/abp/4.4/Multi-Tenancy). Initially I run the program before the Swagger is generated, then the ResolveAsync method in my custom tenant resolver is executed. Next I tried making

[2022-02-14 20:03] #11478 closed, assigned to gterdem

[2022-02-15 00:55] realLiangshiwei commented on #11577
Hi,

The documentation covers all points.

You can also see the pre-built tenant resolver:https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/AbpAspNetCoreMultiTenancyModule.cs#L15

[2022-02-15 03:10] stousmand commented on #11577
Hi, @realLiangshiwei thanks for the reply. Okay I've done whats mentioned in the documentation. Any clue or idea why the custom tenant resolver isn't called when a service call is made? it should right? resolving should be done for each and every call? or am I missing something?

[2022-02-15 03:13] realLiangshiwei commented on #11577
* Steps needed to **reproduce** the problem.

[2022-02-15 03:37] stousmand commented on #11577
@realLiangshiwei Oh sorry about that

1. Implemented custom resolver
![image](https://user-images.githubusercontent.com/29155859/153986490-ca159ad5-4541-4a7b-b621-aa7ff47a5e50.png)

[code]
Used to get the Bearer token details
[code]
Used to read a remote DB where tenant data is at (another DBContext is setup for this, it connects to the DB and queries necessary data when debugged)

2. The above so

[2022-02-15 04:47] enisn commented on #11505
Yeah, currently you can solve with adding a null check using `?` operator for **item**.

in your case:
`item?.DisplayName`
and
`item?.Id` or `item?.Id ?? default`

[2022-02-15 04:56] #497 closed

[2022-02-15 05:06] realLiangshiwei commented on #11577
Hi,

Can you try this?

[code]

[2022-02-15 05:16] realLiangshiwei commented on #11571
@nebula2

Can you try opening an InPrivate window or clear cookies and try again?

[2022-02-15 07:23] nebula2 commented on #11571
sorry to waste your time... that was it

[2022-02-15 07:23] #11571 closed, assigned to nobody

[2022-02-15 08:41] wangbin1989 opened #11579 "abp.js bug report"
File abp.js line 76.

current code is:
[code]

I think, it should be
[code]

[2022-02-15 08:53] realLiangshiwei commented on #11579
Thanks for report @wangbin19890524

[2022-02-15 09:25] enisn opened #11582 "Add missing CmsKit dependencies to @abp/cms-kit"
@abp/cms-kit
doesnt include some of dependencies such as clipboard.js, prismjs, etc.

[2022-02-15 09:32] #11579 closed, assigned to realLiangshiwei

[2022-02-15 11:22] stousmand commented on #11577
@realLiangshiwei, thanks for the tip. Seems to work now. 👍🏾

[2022-02-15 11:22] #11577 closed, assigned to nobody

[2022-02-15 11:27] gterdem opened #11584 "eShopOnAbp: Introduce ocelot.json"
Move ocelot configuration to it's dedicated file and update helm charts

[2022-02-15 11:50] MichalCadecky commented on #11550
I can confirm this. It is also happening to us as well. No real steps to reproduce, seems very random. Same version, same configuration (Blazor WASM). Sometimes page refresh works, sometimes it does not.

I have a feeling this might be connected to other problem we have with previous version 4 - we are getting almost everytime and error while trying to fetch the `blazor.boot.json`. Same thing, I w

[2022-02-15 12:43] enisn commented on #11582
The problem occurs with LeptonX Theme. I'm closing this issue.

[2022-02-15 12:43] #11582 closed, assigned to enisn

[2022-02-15 15:21] johan-developer commented on #11505
Hello enisn,

This found for the exception, but not show editing data.

Thank you,

[2022-02-15 15:23] Wiblox commented on #11505
Yes, i dont see the data.

[2022-02-15 16:39] puschie286 opened #11585 "Documentation Filter not working on mobile (ios)"
the filter ( not the search ) function doesnt work on ios. it shows everything regardless of what you enter

tested with 15.3

[2022-02-16 00:55] zsanhong opened #11586 "please perfect the template of abp cli app-nolayers option"
In a small software project, I am glad to use abp -t app-nolayers option, but I suggest to perfect the template.For example, please add
XXMenuContributor.cs for menu, XXPermissionDefinitionProvider for pemissions. Thanks

[2022-02-16 01:06] maliming commented on #11586
We will do it later.

[2022-02-16 01:06] #11586 closed, assigned to nobody

[2022-02-16 01:14] realLiangshiwei commented on #11585
Hi,

Can you share some screenshots? thanks.

[2022-02-16 01:20] maliming commented on #11569
You can use a custom action to configure `UseQuerySplittingBehavior`.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/AbpDbContextConfigurationContextPostgreSqlExtensions.cs#L27-L28

[2022-02-16 03:34] maliming opened #11588 "Make `IMongoDbRepositoryFilterer` async."

[2022-02-16 04:31] 312977 opened #11589 "demo authserver.host 500"
when startup  authserver.host  :  the page show  500 error

the log is:      **Could not find the bundle file '/libs/bootstrap/js/bootstrap.enable.tooltips.everywhere.js' for the bundle 'Basic.Global'!**     how  to fix it   thank

onnection ID "18230571306091282446", Request ID "8000000f-0003-fd00-b63f-84710c7967bb": An unhandled exception was thrown by the application.
Volo.Abp.AbpException: **C

[2022-02-16 04:32] benmassaoud opened #11590 "Cannot migrate with .Net6 and PostgreSQL, Error Cannot write DateTime with Kind=Local to PostgreSQL type 'timestamp with time zone', only UTC is supported"
Hi I'm trying to to create initial migration with a new abp solution, But I have this error below, I have no idea How can I resolve it. I think it's about EnableLegacyTimestampBehavior breaking change in PostgreSQL/Npgsql

PS D:\Dossiers\Travail\Ozy\Solutions\test\src\test.DbMigrator> dotnet run
[23:25:15 INF] Creating initial migration...
PS D:\Dossiers\Travail\Ozy\Solutions\test\src\test.DbMigra

[2022-02-16 05:03] maliming commented on #11590
See https://www.npgsql.org/efcore/release-notes/6.0.html#opting-out-of-the-new-timestamp-mapping-logic
https://github.com/abpframework/eShopOnAbp/pull/65

[2022-02-16 05:03] #11590 closed, assigned to nobody

[2022-02-16 05:35] realLiangshiwei commented on #11589
Microservice Demo is no longer active, You can check the [eShopOnAbp](https://github.com/abpframework/eShopOnAbp) now.

[2022-02-16 05:51] #11589 closed, assigned to nobody

[2022-02-16 06:30] tvddev commented on #2611
@hikalkan - Any update on this issue and the Blazor WASM impersonation?

[2022-02-16 06:34] tvddev commented on #9997
If anyone is interested in doing this and getting paid for it, we would be keen to contribute/pay depending on how much.

[2022-02-16 06:35] Eliakos opened #11592 "ABP & CMS"
Hello,

Can ABP work with a .NET CMS such as Orchard or Squidex?
Any example of a supported CMS or a CMS using ABP ?

[2022-02-16 06:41] Eliakos opened #11593 "Orleans as a backend technology?"
Hi,

Can Orleans be used with ABP? For the benefit of :

- automatic clustering
- no caching needed
- easy deplyment (no need to setup a dedicated machine for the background jobs.)
- Performance

[2022-02-16 06:51] realLiangshiwei commented on #11593
It is in the backlog, but we have no plan to do it yet. you can try to implement it yourself and welcome to share your experience

See: https://github.com/abpframework/abp/issues/8750

[2022-02-16 06:51] #11593 closed, assigned to nobody

[2022-02-16 06:52] realLiangshiwei commented on #11592
Duplicate of https://github.com/abpframework/abp/issues/11593

[2022-02-16 06:52] #11592 closed, assigned to nobody

[2022-02-16 06:52] realLiangshiwei commented on #11592
By the way ,we have a cms-kit module: https://github.com/abpframework/abp/tree/dev/modules/cms-kit

[2022-02-16 06:56] Eliakos commented on #11592
Orleans and CMS are 2 different universes, having nothing in common, so no duplicate here

[2022-02-16 07:09] puschie286 commented on #11585
![7D92B2BD-1643-4138-8DF9-BE2FAA004EA9](https://user-images.githubusercontent.com/2429036/154213845-26cc7d7c-ce5d-4e44-9743-b7d56b42cf40.jpeg)

tried to filter on localization

[2022-02-16 07:21] realLiangshiwei commented on #11585
I will check it.

[2022-02-16 07:22] maliming commented on #2611
hi @tvddev

It's not implemented yet, and we don't have an end date for this feature. I'll leave you a message when it is done.

[2022-02-16 07:36] Eliakos opened #11594 "Admin module"
Hello,

An administration GUI, like the one in [Net Core Genesis](https://www.netcoregenesis.com/), would be quite useful and a pleasant added value on a daily basis

[2022-02-16 07:42] realLiangshiwei commented on #11594
Hi,

We also have some great themes, see: https://commercial.abp.io/themes

It is commercial, you can buy it or use the theme provided by the community. see: https://github.com/search?q=abp+theme

[2022-02-16 07:47] Eliakos commented on #11594
Thanks, what are the difference between community and comercial ?
Is there a comparison page ?

[2022-02-16 07:49] steves-bits commented on #2611
When it is done could you leave me a message too, please?

[2022-02-16 08:01] realLiangshiwei commented on #11594
See https://commercial.abp.io/faq
https://docs.abp.io/en/commercial/latest/abp-framework-vs-abp-commercial

[2022-02-16 08:20] Eliakos commented on #11594
Merci

Cordialement / Kind Regards
Alexandre Emeriau

------ Message d'origine ------
De: "liangshiwei" ***@***.***>
À: "abpframework/abp" ***@***.***>
Cc : "Eliakos" ***@***.***>; "Author"
***@***.***>
Envoyé : 16-Feb-22 09:01:45
Objet : Re: [abpframework/abp] Admin module (Issue #11594)

***@***.***>

[2022-02-16 08:21] Eliakos commented on #11594
Merci

[2022-02-16 08:25] #11594 closed, assigned to nobody

[2022-02-16 08:42] #11588 closed, assigned to maliming

[2022-02-16 09:05] maliming commented on #11567
You can call this method.
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/IUnitOfWorkManager.cs#L11

[2022-02-16 09:09] maliming commented on #11534
This feature is temporarily unavailable in frameworks and modules, Thanks again.

[2022-02-16 09:17] #11514 closed, assigned to gterdem

[2022-02-16 11:10] idreeshaddad opened #11598 "How do I create a second Angular App inside Angular project and make IdentityServer work?"
**ABP Framework version**: v4.3.0
**User Interface**: Angular v11.2.11
**Database provider**: EF Core

How do I create a second Angular App inside Angular project, in a way that allows me to consume the same C# proxy, and also use the same IdentityServer?

**What I've tried so far**:
- Made the second app via angular command `ng generate application exampleApp` and started moving dependencies from

[2022-02-16 11:17] enisn opened #11599 "Blazor - Settings Page Performance Issues"
All of the components of the settings page are initialized at the same time sync.

They might be lazy-loaded or we can figure out some solution for this issue.

Originally posted here: https://support.abp.io/QA/Questions/2550/ISettingComponentContributor-Performance

[2022-02-16 11:35] gterdem commented on #11598
Basically, you need to create different client with different redirect uri in authentication server (identityserver).

There **can not be** an application inside an other application. They are different applications.

[2022-02-16 11:43] idreeshaddad commented on #11598
It's not an application inside another application. They are two applications under the same Angular workspace.
They are working separately on different ports and they consume the ABP generated proxy just fine.

The question is, how to make both apps work with IdentityServer. I believe you touched on that in the first line of your response, can you please elaborate?

[2022-02-16 12:01] zjsjmvn commented on #3758
Is there any update on this?

[2022-02-16 12:47] arminfarzam opened #11600 "localize login or logout state messages"
in blazor authorized pages abp identity server check authentication and show *...checking login state* message
before redirect to identity server login page or when  logging out show the *processing logout* message. how we can localize this messages?

[2022-02-16 13:33] #11511 closed, assigned to mahmut-gundogdu

[2022-02-16 13:35] GitOPa opened #11602 "Conflict 409 Http return values are not handled in Angular UI"
* Your **ABP Framework version**. 5.1.2
* Your **User Interface** type Angular
* Your database provider EF Core

Why is the return value 409 (Conflict) not handled separately in Angular side? https://github.com/abpframework/abp/blob/87a7482d08a679b002ebece0b84c8aaba15d9c89/npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts#L321

Is there a way to configure a common handling for 4

[2022-02-16 13:52] realLiangshiwei commented on #11602
Can you check this? https://docs.abp.io/en/abp/latest/UI/Angular/HTTP-Requests#http-error-handling

[2022-02-16 13:55] realLiangshiwei commented on #11600
Hi,

I didn't get it, can you share some screenshots?

[2022-02-16 14:01] nev-21 commented on #11569
Thanks @maliming, there is something similar in the docs:
https://docs.abp.io/en/abp/latest/Entity-Framework-Core#split-queries

But it disable the Splitting globally. Is there a way to disable just for ReadOnlyRepository methods?  in order to avoid invalid state Aggregates.

[2022-02-16 16:15] improwise opened #11607 ""Blazor UI: Error Handling" not working when using Telerik/DevExpress Components"
* Your **ABP Framework version**. 5.1.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI Blazor server

It seems that when using either Teleriks or DevExpresses user controls, this no longer works

https://docs.abp.io/en/abp/latest/UI/Blazor/Error-Handling

More exactly the friendly error messages in their own pop-ups. Instead, it reverts back to

[2022-02-16 16:28] improwise commented on #11607
This actually seem to be a problem even without adding Telerik or DevExpress to the mix. Will create separate issue about it.

[2022-02-16 16:28] #11607 closed, assigned to nobody

[2022-02-16 16:37] improwise opened #11608 ""Blazor UI: Error Handling" not working"
* Your **ABP Framework version**. **5.1.3**
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: **Blazor Server**

It seems the "Blazor UI: Error Handling" (https://docs.abp.io/en/abp/latest/UI/Blazor/Error-Handling) isn't working as intended. To verify, we created a fresh ABP solution and just used the sample code provided.

`@page "/"
@using Volo.

[2022-02-16 17:41] EngincanV commented on #11608
Hi @improwise, see https://github.com/abpframework/abp/issues/11396#issuecomment-1018197353

[2022-02-16 21:50] #10897 closed, assigned to nobody

[2022-02-16 21:50] #11584 closed, assigned to gterdem

[2022-02-17 00:37] #11608 closed, assigned to nobody

[2022-02-17 01:37] l1044635791 opened #11609 "Consider supporting RedisJson?"

[2022-02-17 01:46] maliming commented on #11609
For what? Please explain in detail.

[2022-02-17 03:15] #11053 closed, assigned to nobody

[2022-02-17 04:28] cdlian commented on #3758
@AlexanderSysoev

By overriding the ApplyForControllers method of AbpServiceConvention, you can remove controllers you don't need.

[code]

[2022-02-17 04:52] #11585 closed, assigned to realLiangshiwei

[2022-02-17 06:34] arminfarzam commented on #11600
![image](https://user-images.githubusercontent.com/59694737/154418698-4418d3a0-b659-4176-9f90-84878717eaae.png)

![Screenshot (13)](https://user-images.githubusercontent.com/59694737/154418912-94fd581e-c1fd-432c-beb6-773c03e94214.png)

![Screenshot (14)](https://user-images.githubusercontent.com/59694737/154418943-e2a06263-68b6-404e-8525-73dbbb7b4903.png)

i need localize this messages. thank you

[2022-02-17 06:40] maliming commented on #11600
This is an ASP NET Core problem, they don't consider localization.

https://github.com/dotnet/aspnetcore/blob/main/src/Components/WebAssembly/WebAssembly.Authentication/src/RemoteAuthenticatorViewCore.cs#L403

[2022-02-17 07:03] arminfarzam commented on #11600
thank you, overriding this class probably will solve my problem.

[2022-02-17 07:08] ParsaGachkar commented on #11600
@arminfrzm72 I think you need the basic theme source code for this. add basic theme module with source code to your project [Abp cli add-module doc](https://docs.abp.io/en/abp/latest/CLI#add-module); then edit this component `modules\Volo.BasicTheme\src\Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme\Pages\Authentication.razor`
here is a [link](https://code-maze.com/authentication-in-blazor-

[2022-02-17 07:16] realLiangshiwei commented on #11600
You can try:

MyAuthentication.razor
[code]
MyAuthentication.razor.cs
[code]

More actions , see: https://docs.microsoft.com/en-us/aspnet/core/blazor/security/webassembly/additional-scenarios?view=aspnetcore-6.0#customize-the-authentication-user-interface

[2022-02-17 07:25] gterdem commented on #11598
I have written a detailed explanation to your [stackoverflow question](https://stackoverflow.com/a/71153951/2594735). Feel free to ask or create issue if you come across any problems.

[2022-02-17 07:29] yinghongzhen commented on #11083
@ertugrulbaki27 hello，Have you solved the problem？

[2022-02-17 08:12] Wiblox commented on #3862
@hikalkan  Hello,
Do you think you can add the deployment guide for 5.2?

I do think it is necessary documentation.

[2022-02-17 11:36] enisn opened #11614 "CmsKit - Improve Comments"
See following feedback list originally posted here: https://github.com/volosoft/eventhub/issues/94#issuecomment-1042674518

- [ ] 8.Cancel button is not in button view NOK
    ![cancelbutton](https://user-images.githubusercontent.com/99716457/154427242-d5eadc46-a9dd-4bb3-b5a1-4c59981132e6.PNG)
- [ ] 9.Cancel button and Send button font size is incompatible. NOK
     ![cancelbutton](https://user-im

[2022-02-17 11:38] improwise commented on #11608
Thanks. It would probably be a good idea to highlight this in the documentation.

[2022-02-17 11:38] improwise commented on #11608
Thanks. It would probably be a good idea to highlight this in the documentation.

[2022-02-17 14:26] lgadola opened #11616 "generate-proxy: compile error"
* Your **ABP Framework version: 5.1.3.
* Your **User Interface** Angular
* Your database provider: EF Core
* Exception message:
 Error: src/app/proxy/microsoft/extensions/primitives/models.ts:2:40 - error TS2693: 'any' only refers to a type, but is being used as a value here.

2 export interface StringSegment extends any {
[code]

[2022-02-17 16:49] bodeg opened #11617 "Menu stays opened after navigation @angular"
* **ABP Framework version**  5.1.3.
* **User Interface** Angular
* **database provider** EF Core
* Steps needed to **reproduce** the problem.

Create fresh abp solution and run it.
On mobile when clicking the menu item, route changes but menu stays opened
For example: click on Administration -> Identity management -> Roles

![2022-02-17_18-46-12](https://user-images.githubusercontent.com/1940943/1

[2022-02-17 23:30] nev-21 opened #11618 "Angular generate-proxy - (Dto missing)"
* ABP Framework **5.1.3**.
* User Interface **Angular** 13

### Issue Description

The issue occurs if there are two or more abp backend modules, and 1 angular project.
Angular proxy folder contains "models.ts" with missing Dtos.

### Steps to reproduce

Create two **abp modules**(with no ui), both has a reference to a dotnet csproj (not abp) which has few Dtos.

- Simple dotnet class library proj

[2022-02-18 00:47] maliming commented on #11616
Please share more info to reproduce that problem.

[2022-02-18 04:07] qinxh opened #11619 "LocalEvent how to response exception message"
use `AddLocalEvent` in `AggregateRoot`.
how to response exception message?
i get warning log "An exception occurred, but response has already started!".
but http status code is 200

[2022-02-18 04:31] realLiangshiwei commented on #11619
* Your **ABP Framework version**.
* Your database provider(EF Core/MongoDB)
* **Steps needed to **reproduce** the problem**.

[2022-02-18 05:12] bodeg opened #11620 "list.isLoading$ is not refreshed when re-calling list.get()"
* **ABP Framework version** 5.1.3.
* **User Interface** Angular
* **database provider** EF Core
* Steps needed to **reproduce** the problem.

[code]
when loading on the first time
`list.isLoading$ | async // is true when on loading`

then I call again to
`this.list.get()`
for example after creating a new entity

`list.isLoading$ | async // stays false`

I am using list.isLoading$ with ngx-datatabl

[2022-02-18 05:59] rqx110 opened #11621 "The blazor-server Home url link not work if depoly to IIS sub application"
when redirect to `account/login` route, the home url link is wrong, it look like need change to `~/`
https://github.com/abpframework/abp/blob/ce816e96ce8ce2dc9298e0fd74f117fd4e4c92f5/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor.Server/Menus/MyProjectNameMenuContributor.cs#L31

I have not test other blazor project template yet, but I think it also need to change

![AITPCG(A5)1VN

[2022-02-18 06:11] qinxh commented on #11619
- version: 5.1.3
- database provider: EF Core
- reproduce
1. create application: 'abp new Acme.BookStore'
2. create entity
[code]
3. create application service
[code]
4. create simple LocalEventHandler
[code]
5. request http api
[code]
response code is 200.
response content
[code]
6. i get BookHandler Exception in log. but there is no exception message in the responsed.
@realLiangshiwei

[2022-02-18 06:19] realLiangshiwei commented on #11619
I will check it

[2022-02-18 07:26] GitOPa commented on #11602
Ok, thanks.
We ended up making a custom error handler as the documentation suggested. However, there seems to be some problem specifically in 409 handlings. At first, the 409 error is visualized correctly in dev tools
![image](https://user-images.githubusercontent.com/10799974/154636529-86f7c59e-d29d-4f84-9163-7244f1e0a47e.png)

After this, our custom error handling sees incorrect error code 0
![i

[2022-02-18 07:54] #11621 closed, assigned to realLiangshiwei

[2022-02-18 08:07] realLiangshiwei commented on #11619
@qinxh

The step 3 same with 4

![image](https://user-images.githubusercontent.com/16813853/154642942-b3e66641-f820-4e49-9fa2-4b5f19f4d05a.png)

[2022-02-18 08:11] qinxh commented on #11619
@realLiangshiwei setp 3
[code]

[2022-02-18 09:11] realLiangshiwei commented on #11619
See: https://github.com/abpframework/abp/issues/8740#issuecomment-825637586

We will implement it: https://github.com/abpframework/abp/issues/10568#issue-1048233070

[2022-02-18 09:14] #11619 closed, assigned to nobody

[2022-02-18 10:37] mehmetuken commented on #11083
https://github.com/abpframework/abp/issues/11545#issuecomment-1034786064

u can use this method configure your httpclient.

[2022-02-18 10:37] enisn opened #11623 "Declare event to PageLayout for handling state changes"
Blazor Server has an issue for execution order. OnAfterRender sometimes works and sometimes doesn't work for rendering BreadCrumbs in LeptonX.

implementing an event such as `INotifyPropertyChanged` will be really useful

[2022-02-18 11:20] gizemmutukurt opened #11625 "Optimistic concurrency error is thrown when changing my user information"
**Version:** `5.1.3`
**Template:** `abp new BWZ2 -u mvc -t app -csf --mobile none --tiered -dbms PostgreSQL`
**Problem Definition:** When I try to update my user information for the 2nd time, I get an error, when I refresh the page, the problem is solved.

### Screenshot:
![screen](https://user-images.githubusercontent.com/99716457/154672047-ff42473f-0353-4f37-ab03-8319975e849a.gif)

**Note:** Thi

[2022-02-18 13:52] firminoeducbank opened #11626 "Remove permissions in especific test."
We using this setting in tests application module

[code]

How can I change this configuration for a unique test ?

[2022-02-18 14:41] #11623 closed, assigned to enisn

[2022-02-18 19:01] NecatiMeral commented on #11626
You could create a own module for this specific test, which reconfigures your defaults.

Another way of solving this could be this over here. You can move your test to another testing class and override [the SetAbpApplicationCreationOptions method](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.TestBase/Volo/Abp/Testing/AbpIntegratedTest.cs#L44).

[2022-02-18 19:07] berkansasmaz commented on #11566
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-02-18 19:07] #11566 closed, assigned to nobody

[2022-02-19 03:01] serdarkaracay opened #11627 "AngularUI @swimlane Node Modules Directory"
Hi All,
Abp Community 5.1.3, AngularUI and Db Mongo.

Angular folder in  npm install and then npm start or yarn start  output log below.

cat /private/var/folders/bk/6rl2rxq5197gtmxqd8zcp8g80000gn/T/ng-zgUsKb/angular-errors.log
[error] Error: ENOENT: no such file or directory, lstat '/*/angular/node_modules/@swimlane'
    at Object.realpathSync (node:fs:2488:7)
    at resolveGlobalStyles (/*/angul

[2022-02-19 10:17] sturlath commented on #11550
I got this again and now I managed to get some extra information and screenshots.
This was locally but has happened on my Azure testing environment.
Visual Studio was running and debugger attached but I could not F5 anything without getting errors so just totally broken, just like on Azure when that happened.

[code]

![image](https://user-images.githubusercontent.com/2386572/154796522-1cf5e977-1f

[2022-02-20 16:39] hikalkan opened #11635 "Use Distributed Lock for database migration / seed for microservices"
Currently, we are using distributed events to ensure concurrency.

[2022-02-20 16:57] gterdem opened #11637 "eShopOnAbp: Remove FeatureManagement"

[2022-02-20 17:04] hikalkan opened #11638 "Remove AutoMapper dependency from the Feature Management module"
It is unnecessary now.

[2022-02-20 17:55] vijay2358 commented on #7221
great news

[2022-02-20 21:13] fokkog opened #11640 "When using a complex form model (with nesting and repetitions) it's possible to accidentally lose form edits"
* **ABP Framework version**: 4.4.4
* **User Interface**: MVC UI with Razor Pages
* **Database provider**: EF Core (not that it matters)
* **Exception message/stack trace**: not applicable
* **Steps to reproduce**: see below

Our abp.io-based application has multiple CRUD screens, one of them large and dynamic. We use the [partial tag helper](https://docs.microsoft.com/en-us/aspnet/core/mvc/views/t

[2022-02-20 21:15] fokkog opened #11641 "ABP localization is slow for untranslated entries"
* **ABP Framework version**: 4.4.4
* **User Interface**: MVC UI with Razor Pages (not that it matters)
* **Database provider**: EF Core (not that it matters)
* **Exception message/stack trace**: not applicable
* **Steps to reproduce**: see below

The following page takes 6 seconds to render on my laptop:
[code]

The first loop is fast, the second loop is slow. 1000 lookups may seem like a lot, but

[2022-02-21 00:40] #10975 closed, assigned to nobody

[2022-02-21 00:43] maliming commented on #11641
hi

Can you test it in console or unit test project and share it?

[2022-02-21 05:44] rwecho opened #11647 "How to disable query Volo.Abp.LanguageManagement.Texts for app service?"
Hi:
I have a project using a commercial version without source code.
In the project, there is some APIs need to be called very frequently. And it throws exceptions like below:

![image](https://user-images.githubusercontent.com/8048753/154896056-7107c018-20c8-4a4d-bbe3-b004a4c335be.png)

This is an interface for getting image data. So I do not think it needs Redis every time.

Thanks in advance.

[2022-02-21 06:07] gterdem opened #11648 "eShopOnAbp: Fix Grpc base class warnings"
BasketService.Contracts depending on CatalogService.Application.Contracts because of shared dtos. However Catalog protos are built at Application.Contracts causing conflict warnings.

Move catalog service proto creation to application layer.

[2022-02-21 06:15] maliming commented on #11647
HI

Please create question here: https://support.abp.io/QA/Questions/New  include Steps needed to **reproduce** the problem.

[2022-02-21 06:15] #11647 closed, assigned to nobody

[2022-02-21 09:25] nallejacobsson commented on #7221
That's good news, but it's still 1,500 USD / year for companies making >= one million USD gross annual revenue. We have switched to OpenIddict.

[2022-02-21 10:54] #11637 closed, assigned to gterdem

[2022-02-21 11:15] Sunzhuokai commented on #10029
@begandroide solved?

[2022-02-21 12:24] begandroide commented on #10029
@Sunzhuokai nop, finally i couldn't upgrade my project.

pd. I detected that issue was related with identity server and clients.

[2022-02-21 15:22] Alexia-AT-Digitecnology opened #11653 "Error when doing unit tests with ng-bootstrap components"
There is an error when doing an unit test with an ngbdatepicker element.

* **ABP Framework version:** 5.1.3 (latest)
* **User Interface:** Angular/.Net 6
* **Database provider:** EF Core
* **Stack trace:**
ERROR TypeError: Cannot read properties of undefined (reading 'currentCulture')
    at DateParserFormatter.format (:9876/_karma_webpack_/webpack:/node_modules/@abp/ng.theme.shared/fesm2015/abp-

[2022-02-21 19:08] fokkog commented on #11641
The provided code snippet was already intended as an isolated and effective reproducer. It can be copy/pasted to any existing page to see it in action. Does a console app/test project really add value and if so, how should i share it?

[2022-02-21 19:09] ArneCools opened #11654 "Blazor: override Razor component"
* Your **ABP Framework version**. **5.0.0**
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI **Blazor Server**

The documention explains that you can override Blazor components from the basic theme to customize. This works, however I'm forced to also override the Code Behind File since certain properties are private on the component in the basic t

[2022-02-21 23:18] informaticostech opened #11655 "NUglifyException: There are some errors on uglifying the given source code"
**ABP Framework version**: 4.4.3
**User Interface** MVC
**Your database provider: EF
**Deployment: Local machine & Azure App Service + Azure SQL
**Stack Trace: Please see below

Hi ABP Team
I receive this error when running environment=Production on my local machine. When I run environment=Development there are no issues. When deploying to Azure I receive the same issues. I noticed this has happen

[2022-02-22 00:34] maliming commented on #11655
Please share the content of the `global-styles.css`.

[2022-02-22 00:36] maliming commented on #11654
hi

You can send a PR to make them protected or public.

[2022-02-22 00:38] maliming commented on #11641
You can share it on Github.

[2022-02-22 00:39] #11626 closed, assigned to nobody

[2022-02-22 00:44] maliming commented on #11640
Thanks, I will research the https://github.com/maxatwork/form2js and https://github.com/marioizquierdo/jquery.serializeJSON.

[2022-02-22 04:57] #11648 closed, assigned to gterdem

[2022-02-22 07:47] maliming commented on #11640
hi @fokkog

Can you test this PR? https://github.com/abpframework/abp/pull/11659

[2022-02-22 07:58] #11146 closed, assigned to nobody

[2022-02-22 08:11] maliming commented on #11641
hi

I will check this, Thanks.

[2022-02-22 09:23] niubanjin commented on #10090
why

[2022-02-22 10:02] #11641 closed, assigned to maliming

[2022-02-22 10:29] fokkog commented on #11640
Thanks, this solution works well enough from my perspective. The object now captures all form elements in a multi-level hierarchy, and the "dirty checking" is fixed.

Having said that, if the intent is to create a clean JSON structure:
- repeating form sections (having elements with '[...]' in their names) should be serialized into arrays
- form elements whose names end in 'Index' can be excluded

[2022-02-22 10:49] fokkog commented on #11641
Thanks!

[2022-02-22 11:10] ArneCools commented on #11654
Ok, will do that. To and from which branch do I need to make one? dev -> 5.1-patch? rel-5.1 -> 5.1-patch?

[2022-02-22 11:43] maliming commented on #11654
`dev `

[2022-02-22 12:23] andmattia opened #11664 "Error compiling cms-kit angular"
Hi

I've cloned the repository, open a module cms-kit via VSCode and try to compile but I get some errors.

Step to reproduce:
- Git clone
- Open folder angular (on modules/cms-kit)
- do yarn
- do yarn start

I found 2 error on cms-kit.component.spec.ts and cms-kit.service.spec.ts both file search import on './' but file exists in sub dir.

Some error below
`
[error] Error: [96mnode_modules/@abp/

[2022-02-22 14:43] Cyril-hcj opened #11667 "zh-Hans category is incorrect"
![image](https://user-images.githubusercontent.com/31679398/155155163-7b105cf8-df24-4387-b004-72aeac5dd21e.png)
![image](https://user-images.githubusercontent.com/31679398/155155260-24401481-e9d0-4af8-bafb-ec2dca3d6472.png)

[2022-02-22 17:16] gterdem opened #11670 "eShopOnAbp: Gateway redirect loop problem on kubernetes"
Seems ocelot configuration related.

[2022-02-22 19:37] informaticostech commented on #11655
Thanks for your response. Please see below:

/* Your Global Styles */
/*
.nav-tabs .nav-item .nav-link.active {
    background-color: #38003c !important;
    color: #FFF;
}
*/

.bg-red {
    background-color: #f26875 !important;
}

.bg-amber {
    background-color: #ccb46c !important;
}

.bg-green {
    background-color: #8ad48a !important;
}

.bg-purple {
    background-color: #cf5fae !important;

[2022-02-22 20:04] informaticostech commented on #11655
Hi @maliming

Thank you for the tip, I have found the issue. It resolves if you comment out the following line:
    /*box-shadow: 0px 0px 30px rgb(8 20 73 / 10%);*/

Much appreciated, all the best

[2022-02-23 00:29] #11655 closed, assigned to nobody

[2022-02-23 01:01] #11667 closed, assigned to nobody

[2022-02-23 01:05] #11609 closed

[2022-02-23 01:05] #11600 closed, assigned to realLiangshiwei

[2022-02-23 06:33] #11573 closed, assigned to EngincanV

[2022-02-23 06:40] EngincanV opened #11677 "Docs: Add Hide ABP Endpoints Section to Swagger Integration Docs"
Documentation of https://github.com/abpframework/abp/issues/11573

[2022-02-23 07:12] #11599 closed, assigned to realLiangshiwei

[2022-02-23 08:29] #11491 closed, assigned to nobody

[2022-02-23 10:39] lifeXHY opened #11678 "How to extend the fields of an organizationunit entity"
- ABP Version:  5.1.3

- I want to expand some business fields based on **OrganizationUnit**  Entities, but the interface **IIdentityDbContext** in the **DbContext** of the new version of ABP framework prevents me.
- Is there a best practice for my needs.
- Tips: I have used the **Extra Properties** to realize this requirement, but I prefer to **Creating a New Entity Maps to the Same Database Tabl

[2022-02-23 11:40] muhammedaltug opened #11679 "Remove text-center class from extensible table ePropType.Boolean template"
- Provide an  injection token for entity prop types' classes

[2022-02-23 11:53] improwise opened #11680 "How to send mail with MailKit?"
* Your **ABP Framework version**. **5.1.2**
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: **Blazor Server**

We are trying to implement MailKit in ABP, using the information displayed here:

- https://docs.abp.io/en/abp/latest/MailKit
- https://docs.abp.io/en/abp/latest/Emailing

But we are unsure how to actually send the emails?

the _emailSe

[2022-02-23 12:35] muhammedaltug commented on #11679
`text-center` class removed from which ePropType.Boolean entity prop types.
For adding any class to any prop type, provide `ENTITY_PROP_TYPE_CLASSES` token.

Usage example:
[code]

[2022-02-23 12:41] berkansasmaz commented on #11680
Can you check the sample code [here](https://github.com/abpframework/abp-samples/blob/master/EmailSendDemo/src/EmailSendDemo/AbpEmailingServices/MailKitSmtpEmailSender.cs)?

If the sample is not sufficient, please let us know.

[2022-02-23 17:51] davidzwa commented on #11680
Also note that with `services.AddSingleton<ISmtpClient, SmtpClient>();` you dont have to construct a client each time.
I didnt follow the example and directly constructed IMimeMessage to send with the SmtpClient from MailKit. This ended up in the same code as linked above.

[2022-02-23 20:14] irvingHerrera opened #11682 "Entity history is not always recorded"
* **ABP Framework version 5.1.3**.
* **User Interface Blazor Server**
* database provider EF Core

Hi!
I am using the history of entities, the project currently started in version 4.3, migrated to 4.4 and finally to version 5.1.3

When the project updated to version 5.1.3 the entity history started to fail.
After doing some tests I have been able to notice the following.

The next [HubFilter](http

[2022-02-24 00:50] rqx110 opened #11683 "duplicate folder `Volo.BloggingTestApp.MongoDB` in blogging module"
It has `Volo.BloggingTestApp.MongoDB` and `Volo.BloggingTestApp.MongoDb` in `blogging/app`, see image:

![image](https://user-images.githubusercontent.com/1829209/155435459-9650f37a-02ed-42e5-b31b-33e11d646e84.png)

[2022-02-24 01:58] #11683 closed, assigned to realLiangshiwei

[2022-02-24 02:01] maliming commented on #11682
hi

You can replace it with your `AuditHubFilter`. I will check the `Actions` issue.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/AbpAspNetCoreSignalRModule.cs#L42

[2022-02-24 03:14] OldKing-lion opened #11685 "Request https://docs.abp.io/en/abp/latest error"
![image](https://user-images.githubusercontent.com/13028615/155450931-541dba05-afec-4233-bb3e-c510625ed00f.png)

[2022-02-24 03:54] realLiangshiwei commented on #11685
Thanks for the report, we are checking...

[2022-02-24 06:19] yekalkan opened #11690 "Allow to write global css/js for CMS Kit module"

[2022-02-24 07:52] irvingHerrera commented on #11682
I have replaced AuditHubFilter with a custom one but I still can't find the problem.  I managed to see that every UI related action generates a scope for audilog.

I have verified that it is possible to filter with auditingManager.Current.Log.Actions.IsNullOrEmpty(). But I have noticed that the actions are generated when some method of the Applications layer is called.
Then AuditingInterceptor com

[2022-02-24 08:29] hikalkan opened #11692 "Docs module: concurrency stamp field should be hidden"
![image](https://user-images.githubusercontent.com/1210527/155487016-7c50c9ed-56c7-4da3-b687-4f015f381182.png)

It is a programmatic field, not expected from user to edit it.

[2022-02-24 08:30] #11503 closed, assigned to realLiangshiwei

[2022-02-24 09:19] maliming commented on #11678
You can add the Identity module source code to your solution.

[2022-02-24 09:46] GitOPa opened #11694 "Please clarify how timing works with Angular UI"
According to this Abp tries to manage date time conversions between different time zones https://docs.abp.io/en/abp/5.1/Timing. I agree with the documentation that when the application needs to serve users across multiple timezones, the timestamps are best handled in UTC at the backend and database. However, I did not find any documentation on how is the conversion handled in the API  with Angular

[2022-02-24 09:56] KaungZawHtet opened #11695 "sqlite error in initial state"
**This is Error :**

[code]

**This is what I did :**

1.  Download the project template from https://abp.io/get-started with sqlite
2.  run `dotnet ef migrations add InitialCreate` at EFCore Directory
3.  run DbMigrator
4.  Got this error

[2022-02-24 10:10] EngincanV commented on #11695
Hi @KaungZawHtet, can you share your connection string?

[2022-02-24 10:13] snowchenlei opened #11696 "[mvc]dynamic remove meta tags"
Example:
remove `<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">` in application layout.

Add Meta Hook?

[2022-02-24 10:16] KaungZawHtet commented on #11695
[code]

[2022-02-24 10:25] berkansasmaz commented on #11680
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-02-24 10:25] #11680 closed, assigned to nobody

[2022-02-24 10:27] improwise commented on #11680
Sorry for the delay in answering this. As the SmtpClient had what we needed, we decided to go with the default ABP implementation for the time being, so we have not yet tried the suggested solution. Thanks for all input and suggestions though, will check it out soon.

[2022-02-24 10:40] EngincanV commented on #11695
You can change the connection string to an absolute path, like `Data Source=D:\\project\\MyDb\\MyDb.db`. It's a known problem thanks for reporting.

[2022-02-24 11:15] #11524 closed, assigned to muhammedaltug

[2022-02-24 11:50] KaungZawHtet commented on #11695
Previous Sqlite Proj don't need to be absolute path.

[code]

[2022-02-24 12:14] sunyuliang commented on #1168
vue?

[2022-02-24 12:22] EngincanV commented on #11695
Please see https://github.com/aspnet/Microsoft.Data.Sqlite/issues/406#issuecomment-324689331

[2022-02-24 12:48] #6002 closed, assigned to nobody

[2022-02-24 12:49] #5512 closed, assigned to nobody

[2022-02-24 12:57] ebicoglu opened #11698 "Implementing multi-lingual entities"
We have started to implement this feature in the past, but it was canceled due to some design problems.
This issue is for getting ideas from the community and tracking the progress of the this feature.
The previous related conversation is at #1754

This feature exists in ASP.NET Boilerplate and if you don't want to wait and implement it on your own, check out the  ASP.NET Boilerplate implementatio

[2022-02-24 13:00] gizemmutukurt opened #11699 "blog.abp.io bugs about"
The errors are as follows.

1. The "**RELEASE**" tag appears to be duplicated.
![image](https://user-images.githubusercontent.com/99716457/155527817-e12bf072-d40e-4141-a02a-8bfc8f178e39.png)

2. The numbers next to the label are incorrect.  For example, 12 should appear for the ABP tag.
![image](https://user-images.githubusercontent.com/99716457/155528321-5e9eabb7-3941-4d21-8026-1430df439745.png)

[2022-02-24 17:40] GSSBilly opened #11702 "Strange behavior about request size limit in Abp web api"
Please help

* ABP Framework version: abp.io v4.3.0
* Framework version: .Net 5

already post a question on stackoverflow
https://stackoverflow.com/questions/71256014/strange-behavior-about-request-size-limit-in-abp-web-api

thanks

[2022-02-24 17:53] puschie286 opened #11703 "First web access throw exception"
For almost every application start, we are getting an exception ( only on first access ). After realoding the page it works again - and doesnt happen again ( until restarting the application ).

This happen in Debug and Release mode - i guess it started with version 5.1.
Because it only affects the first access it is not urgent

* Your **ABP Framework version**: 5.1.3
* Your **User Interface**: Bl

[2022-02-24 17:54] puschie286 commented on #11703
[logs.txt](https://github.com/abpframework/abp/files/8134685/logs.txt)

[2022-02-25 00:39] realLiangshiwei commented on #11685
Works now.

[2022-02-25 00:39] #11685 closed, assigned to nobody

[2022-02-25 00:44] realLiangshiwei commented on #11703
Hi,

How do I reproduce the problem, can you provide steps? Thanks.

[2022-02-25 01:03] maliming commented on #11702
Move to https://stackoverflow.com/questions/71256014/strange-behavior-about-request-size-limit-in-abp-web-api

[2022-02-25 01:03] #11702 closed, assigned to nobody

[2022-02-25 01:04] maliming commented on #11682
hi

I made a new changes: https://github.com/abpframework/abp/pull/11687

[2022-02-25 01:36] realLiangshiwei commented on #11696
[`LayoutHooks.Head.First`](https://github.com/abpframework/abp/blob/dev/modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml#L36) should be working for you.

[2022-02-25 01:43] snowchenlei commented on #11696
sorry, this cannot be achieved!
meta is hardcoded.
look [source](https://github.com/abpframework/abp/blob/fb62cddfa63ae9f3c91dff32d27409317a5c7a7f/modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml#L39)

[2022-02-25 02:00] realLiangshiwei commented on #11696
Hi,

This is not a common scenario, you can replace the layout page.

[2022-02-25 04:17] jee-a commented on #5304
I am use ABP 3.0.3. It do not have AbpHttpClientOptions class. I have to what to do to increase timeout?

[2022-02-25 04:53] maliming commented on #5304
Upgrade Your abp to the 3.2+.

[2022-02-25 06:58] jee-a commented on #5304
![image](https://user-images.githubusercontent.com/87168297/155669165-d4631d1a-4d9a-403b-be5c-becf82086f4f.png)
I configed. However when cross call via internal gateway among other services when stress test using Jmeter. The system is error: "2022-02-25 13:33:23.404 +07:00 [ERR] Connection id "0HMFO3HKQQKRH", Request id "0HMFO3HKQQKRH:00000002": An unhandled exception was thrown by the application

[2022-02-25 07:16] #11625 closed, assigned to realLiangshiwei

[2022-02-25 07:45] alicihad opened #11704 "Integration Events fires before UOW commits"
Hello,

I had a question about the unit of work process. If the Commit process fails after the integration event is fired, wouldn't we throw the event unnecessarily? My second question is should we call the SaveChangesAsync method once after domain events and also I couldn't understand why it is in a while statement.

Link : https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/V

[2022-02-25 08:46] jee-a commented on #5304
I configed timeout. However it is failed. The request was canceled due to the configured HttpClient.Timeout of 100 seconds elapsing.

[2022-02-25 08:56] charleszh-dev commented on #5519
Any updates?

[2022-02-25 13:15] puschie286 commented on #11703
Hi, sry but we are not sure how this happen - the project was created & updated with the Abp Suite ( v5.1 commercial ). Since then this error occur sometimes.

Can you check the call stacks ?

[2022-02-26 01:00] #10980 closed, assigned to nobody

[2022-02-26 01:00] #10987 closed, assigned to nobody

[2022-02-26 01:42] maliming commented on #11704
See https://github.com/abpframework/abp/pull/10008

[2022-02-26 08:49] fokkog opened #11715 "MVC datatables searching/filtering broken in v5.x"
* **ABP Framework version**: 5.1.3
* **User Interface**: MVC UI with Razor Pages
* **Database provider**: EF Core (not that it matters)
* **Exception message/stack trace**: not applicable
* **Steps to reproduce**: see below

After a trial upgrade from ABP Framework 4.4.4 to 5.1.3, all datatables search boxes stop working. Any values entered are no longer appended to the Ajax request URL (as query

[2022-02-26 09:35] nimeshvaghasiya commented on #11590
@maliming

I have just downloaded fresh from [Get Started](https://abp.io/get-started) and follows [steps](https://docs.abp.io/en/abp/latest/Tutorials/Todo/Index?UI=NG&DB=EF#create-the-database)

on running `dotnet run` on `TodoApp.DbMigrator` project, It throws same error as per @benmassaoud

[2022-02-26 09:35] hexianggui opened #11716 "API Result can ignore Null properties as set by the [JsonProperty(NullValueHandling = NullValueHandling.Ignore)] attribue?"
Dto:
[code]

WHEN:
[code]
expectations:
[code]
and not:
[code]

[2022-02-26 09:48] maliming commented on #11590
we will update the template when do is pgsql.

[2022-02-26 12:54] git102347501 commented on #4531
For me, the implementation of easy team is a good example

[2022-02-26 15:15] nev-21 opened #11718 "Angular, invalid get request when InputDto has a List property"
### Bug report

- ABP version **5.1.3**
- User Interface **Angular**
- Ef core Npgsql

### Description
When I call a backend service method from angular, the url generated has an error (look at filter param):

[code]
the backend service method has only one param (InputDto):

[code]

The log don't show exception messages, the Filter property of InputDto is just null, Sorting property has a correct

[2022-02-26 15:16] berkansasmaz commented on #11716
So, maybe you can solve your problem using [`JsonIgnore` ](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-ignore-properties?pivots=dotnet-6-0#ignore-individual-properties) attribute from `System.Text.Json`.

`[JsonIgnore(Condition = JsonIgnoreCondition.WhenWritingNull)]`

Or [always use the `Newtonsoft.Json`](https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4

[2022-02-26 15:37] Majed-404 opened #11719 "new abp namespace brackets"
* latest
![Capture](https://user-images.githubusercontent.com/33943617/155849112-ff00712d-c043-447c-becd-2d3ef42b5565.PNG)

* MVC
* EF Core
* { expected

i just downloaded latest version and i found the project have many errors and not able to run without fixing them,
so the issues in each class namespace ends with ;

[2022-02-26 15:44] berkansasmaz commented on #11719
https://dotnetcoretutorials.com/2021/09/20/file-scoped-namespaces-in-c-10/

[2022-02-26 18:22] lgadola commented on #6979
Hi @armanozak
I think @IslamEldeeb has a very valid point here.
In my opinion, too, the Typescript interface should represent dates as datatype DateTime and the conversion should be done in generate-proxy or the mapping json->DTO.
In NSwag, when generating the js-interface, you can even choose your preferred datetime handler, (p.e. moment.js).
As it stands now, the client has to convert EVERY date

[2022-02-26 19:57] clinically-au commented on #11703
I see it as well - both local dev environment and IIS. First run only. I get the following error:
[code]

[2022-02-27 01:47] maliming commented on #11715
hi

Please provide a demo project to reproduce this.

[2022-02-27 01:48] #11719 closed, assigned to nobody

[2022-02-27 06:54] fokkog commented on #11715
https://github.com/abpframework/abp-samples/tree/master/BookStore-Mvc-EfCore

[2022-02-27 10:39] wallee85 opened #11723 "CMS kit /Cms/BlogPosts/Create's throw a exception "editor.getHtml is not a function" when do anything in tui editor"
module name:CMS kit
ABP Framework version:5.1.3
user interface : razor
exception message: js:editor.getHtml is not a function.

it's about tui-editor.

The tui editor has a method named "getHTML". but volo.cmskit.admin.web project's  /pages/cmskit/blogposts/create.js  misspelled "getHTML" as "getHtml"。that cause a error "getHtml is not a function"

[2022-02-27 12:07] rodrigomarcell opened #11724 "What about create a slackware channel for a real time communication among abp developers?"
Wouldn't be cool if we have a real time communication channel for the dev community so, issues resolutions, doubts and discussions, etc would have progress way faster? I suggest slackware. What about it?

[2022-02-27 14:55] AdemAygun opened #11726 "AutoMapper error for My Modules"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. 5.1.3
* Your database provider(EF Core)
* Exception message and **stack trace

[2022-02-27 15:04] AdemAygun commented on #11726
If I add `.Ignore(x=>x.Districts)` errors gone away

[code]

[2022-02-27 16:09] DmezaSpeed commented on #9063
Will be great to see this using [MassTransit](http://masstransit-project.com/usage/sagas/)

[2022-02-27 19:59] enisn commented on #11094
They're working currently, so I'm closing this issue

[2022-02-27 19:59] #11094 closed, assigned to nobody

[2022-02-27 23:58] begandroide opened #11729 "How to localize password validation description ?"
Hi! I'm facing some issues with password validation translate with abpLocalization pipe.

Happens that the password message error of validation is not being translated and I can't figure out how to make the translation (since the params change, because: number, special character, etc)

By the moments i figure out using all tags possibles (like in attached image), but I found that is not a pretty w

[2022-02-28 00:24] hexianggui commented on #11716
You are right。
Thank you very much！

[2022-02-28 00:26] hexianggui commented on #11716
You are right。
Thank you very much！

[2022-02-28 00:27] #11716 closed, assigned to nobody

[2022-02-28 00:44] maliming commented on #11715
Please upgrade to latest and re-install libs.

https://github.com/abpframework/abp-samples/blob/master/BookStore-Mvc-EfCore/src/Acme.BookStore.Web/package.json#L6

[2022-02-28 00:45] #11726 closed, assigned to nobody

[2022-02-28 00:46] maliming commented on #11729
hi

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/es.json#L52

[2022-02-28 01:27] maliming commented on #11724
See https://github.com/abpframework/abp/issues/5935#issuecomment-723124761

[2022-02-28 01:27] #11724 closed, assigned to nobody

[2022-02-28 05:46] enisn commented on #11723
I couldn't reproduce the problem, Maybe you're using a different version on your local, can you try to execute `abp install-libs` command under your **Web** project and re-run again?

[2022-02-28 05:59] #11723 closed, assigned to enisn

[2022-02-28 06:27] charleszh-dev opened #11735 "Angular: ReferenceError: document is not defined"
I want to use [Angular Universal](https://angular.io/guide/universal) for server side rendering for abp's angular project, I set it up according to the [official angular documentation](https://angular.io/guide/universal) and then I solved the localstorage problem according to [an answer on StackOverflow](https://stackoverflow.com/a/57781883/12231536).

Running yarn dev:ssr and opening the page, I