[2021-11-10 08:30] maliming commented on #10592
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-11-10 08:36] maliming commented on #10593
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI

[2021-11-10 08:45] visuellsoft commented on #10593
Hello maliming,

thanks for the quick response.
ABP v4.4.3 and Razor

[2021-11-10 09:13] #10014 closed, assigned to nobody

[2021-11-10 09:53] visuellsoft commented on #10593
Hello maliming,

does this mean that there will not be a solution for this until version 5? Is there a way to fix this manually?

[2021-11-10 10:28] maliming commented on #10593
hi

The default value of `EnableEppUser` is `true`, and the default value will be used when it is unchecked.

[2021-11-10 11:01] maliming commented on #10593
However, I seem to have found some problems, checking..

[2021-11-10 13:19] maliming commented on #10593
hi

You can replace the `AbpInputTagHelperService ` and remove the https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs#L33-L36

[2021-11-10 22:06] mmblc commented on #10515
I'm also having this issue with a similar test file. Walking through the code, it looks like the internal store has no state value and the mapToApiUrl function is accessing a null value.

Is something supposed to be passed to .withConfig() to make this work? I tried passing my environment file and it has the same issue. The documentation is not clear on this.

[2021-11-11 01:24] rqx110 opened #10602 "document needs update in Customizing-Application-Modules-Extending-Entities"
https://github.com/abpframework/abp/blob/d9504717b25ad6ffd4a24ada0571e1f5b4f19e7e/docs/en/Customizing-Application-Modules-Extending-Entities.md?plain=1#L66

the `AppUser` entity has been removed from `application startup template `, it is better to update this section in the document

[2021-11-11 01:32] #10593 closed, assigned to maliming

[2021-11-11 04:49] #10528 closed, assigned to maliming

[2021-11-11 04:54] #10527 closed, assigned to maliming

[2021-11-11 05:37] #10526 closed, assigned to nobody

[2021-11-11 06:08] mehmet-erim opened #10605 "Angular app should be able to work without needing the backend"
Depends on https://github.com/abpframework/abp/issues/10611

[2021-11-11 06:08] #8851 closed, assigned to maliming

[2021-11-11 06:42] mehmet-erim commented on #10530
Duplicate of https://github.com/abpframework/abp/issues/10517

[2021-11-11 06:42] #10530 closed, assigned to nobody

[2021-11-11 07:13] #10409 closed, assigned to hikalkan

[2021-11-11 07:14] hikalkan commented on #10409
done: https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-5_0.md

[2021-11-11 08:18] #10435 closed, assigned to enisn

[2021-11-11 08:47] #10042 closed, assigned to berkansasmaz

[2021-11-11 11:10] vd3d commented on #10523
I have no idea, I do not know where it is coming from, and why. So, of course I do not know how to reproduce it :-(
Do you know when it is called and why ?

I have see that it is due to a call toIdentityModelAuthenticationService:GetAccessTokenOrNullAsync, so a call to TryAuthenticateAsync.

I have only find one related call in a specific page, a call to: SignInManager.PasswordSignInAsync
But I go

[2021-11-11 12:51] ebicoglu opened #10610 "No valid error message when no organization found in abp login"
Try to login with a non-existing organization name

[code]

It sends an error HTML.  But it should write `There is no organization with the name "DummyOrganization"`
![image](https://user-images.githubusercontent.com/9526587/141301008-632a7691-b892-44eb-9e3a-a908ee8e340b.png)

[2021-11-11 13:22] mehmet-erim opened #10611 "Angular: UI localizations"
Angular UI needs to `application-configuration` API response to get localizations from backend.
We are aiming to be able to work Angular UI without needing a backend. So we will add a feature that is defining localizations in the UI project.

[2021-11-11 13:34] EngincanV commented on #10610
It seems, this problem was resolved with version **5.0.0-beta.3**.

**Version 4.4.4**

![444](https://user-images.githubusercontent.com/43685404/141306863-936207e3-8e42-4f70-b3d4-9f0da10b745e.png)

**Version 5.0.0-beta.3**

![500](https://user-images.githubusercontent.com/43685404/141306888-bf846c6a-8291-4bfd-9ece-0ee51fa29f42.png)

[2021-11-11 13:34] #10610 closed, assigned to EngincanV

[2021-11-12 06:02] xsoutline opened #10613 "Dynamic C# API Client Proxies failing:A non-empty request body is required"
* ABP 4.4.3
* Blazor server and Web API
* EF Core/SQL Server
* problem:when api controller method apiParameter is a C# class,apiParameter 'name not Equal to class name,will recur the problem

[code]

line`var value =  methodArguments.GetOrDefault(apiParameter.NameOnMethod);`if "apiParameter.NameOnMethod" not Equal to controller method apiParameter name,will recur the problem

My controller method

[2021-11-12 06:05] maliming commented on #10613
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-11-12 06:08] xsoutline commented on #10592
source code line is [https://github.com/abpframework/abp/blob/6051fd4e3886ea05f7f6a04e17d6c0d3fe8471e8/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L66](https://github.com/abpframework/abp/blob/60

[2021-11-12 06:10] xsoutline commented on #10613
reproduce the problem:
when api controller method parameter is a C# class and parameter 'name not Equal to the class name,will reproduce the problem

[2021-11-12 06:30] xsoutline commented on #10613
reproduce the problem:
when IApplicationService method parameter is a C# class and parameter 'name not Equal to the imp class name,will reproduce the problem.

My IApplicationService method define:
`IActionResult List(ItemListRequest request)`

My controller action method define:
`public IActionResult List([FromBody, Required] ItemListRequest listRequest)`

"request" not equal to "listRequest" and

[2021-11-12 06:35] maliming commented on #10613
This is design, Please make them the same name.

[2021-11-12 06:35] #10613 closed, assigned to nobody

[2021-11-12 06:45] #10067 closed, assigned to bnymncoskuner

[2021-11-12 08:57] #10333 closed, assigned to enisn

[2021-11-12 12:10] #10611 closed, assigned to bnymncoskuner, mehmet-erim

[2021-11-12 12:14] mehmet-erim commented on #10611
See the [localization](https://github.com/abpframework/abp/blob/dev/docs/en/UI/Angular/Localization.md#ui-localizations) document to learn how to use it.

[2021-11-12 19:22] ebicoglu commented on #9248
I couldn't reproduce it for `app-pro` template

![image](https://user-images.githubusercontent.com/9526587/141523242-5752eb81-a7dd-4b43-9178-44ff6f22de60.png)

[2021-11-12 19:28] ebicoglu commented on #9248
and this is  a test for app template with MongoDB.
I need the reproduce steps!

![image](https://user-images.githubusercontent.com/9526587/141523899-b128a171-140e-4401-b1c7-028017188176.png)

[2021-11-12 19:29] ebicoglu commented on #9248
I'm closing the issue.
If you reproduce it, reopen it pls.

[2021-11-12 19:29] #9248 closed, assigned to ebicoglu

[2021-11-13 09:28] ugurozturk opened #10618 "Autofac goes with .net 5"
Hi, i am trying beta 3 and i found one issue so wanted to report it.

1) Created as screenshot
2) dotnet restore
3) restart Omnisharp

Why it tries .net 5 instead of .netstandard ? i couldn't figure out.

getting error : Some projects have trouble loading. Please review the output for more details.

`Can't find custom attr constructor image: /Users/ugurozturk/.nuget/packages/autofac/6.2.0/lib/net5

[2021-11-13 09:29] ugurozturk commented on #10618
OS: Windows 11
![image](https://user-images.githubusercontent.com/7994408/141613724-0d4ddbb1-8d73-4127-bf57-77623f7f89f7.png)

[2021-11-13 09:38] #10618 closed, assigned to nobody

[2021-11-13 21:33] davidzwa commented on #10517
@mehmet-erim Im running Angular v13 and have two tips on how to make it work with v4.4.4 of ABP and v5 if it helps.

### Locale error
I had to downgrade @angular/common v12 because of the locale webpack trick
[code]
It states that `./locales` is not exported. I also notice that this node_module subfolder contains `.mjs` and `.ts` files now for v13 which is not the case for v12 (.js and .ts). Maybe

[2021-11-14 00:37] #9977 closed, assigned to nobody

[2021-11-14 00:37] #9974 closed, assigned to nobody

[2021-11-14 09:05] jack-gaojz commented on #7221
I think we should add an adapter layer for the authorication/authorization module. Left the user can choose the option. The old projects will be impacted to much if switch directly.

[2021-11-14 14:51] laosandegudai opened #10619 "How can i get jwtToken by other information?"
* Your **ABP Framework version**.
###  4.4.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
### react
* Your database provider(EF Core/MongoDB)
### ef
### I want to get the JWT token through some other information instead of using /connect/token, I did this

[code]

[2021-11-15 00:16] maliming commented on #10619
hi

This has nothing to do with ABP. You can try to find a solution in Google or StackOverflow.

[2021-11-15 00:16] #10619 closed, assigned to nobody

[2021-11-15 01:24] #9987 closed, assigned to nobody

[2021-11-15 02:01] tungchau commented on #10510
What a pity! Without multi-tenancy, this project is just something in the middle of eShopOnContainer and eShopOnDapr.

[2021-11-15 03:21] laosandegudai commented on #10619
No, OF course I know this is part of Identity Server, but I haven't figured out how to properly implement it in ABP yet.

[2021-11-15 10:59] #9975 closed, assigned to EngincanV

[2021-11-15 12:39] EngincanV commented on #9975
Article: https://community.abp.io/articles/many-to-many-relationship-with-abp-and-ef-core-g7rm2qut

[2021-11-15 14:02] mehmet-erim commented on #10517
Hello @davidzwa,

Angular v13 breaks many integrations, we will wait for the next versions for fixing the problems.
We cannot upgrade to Angular v13 until this issue is resolved:
https://github.com/angular/angular/issues/43833
On the other hand, we will wait for the next versions of other dependent packages like the `angular-oauth2-oidc`.

I hope the problems will be resolved till the ABP v5.1 is

[2021-11-15 14:05] davidzwa commented on #10517
I agree its quite a tough transition. Wish you the best and I'll keep testing once you're ready for it!

[2021-11-16 05:15] gterdem commented on #10602
Thank you, we'll fix the documentation.

[2021-11-16 05:15] weiwxg opened #10628 "import excel in ApplicationService"
How to define interface for excel importing in ApplicationService?

[2021-11-16 05:21] maliming commented on #10628
See https://github.com/abpframework/abp-samples/tree/master/ExcelIO

[2021-11-16 05:21] #10628 closed, assigned to nobody

[2021-11-16 06:33] gterdem commented on #10591
Is there any repository implements this custom provider that we can check?

[2021-11-16 07:44] hikalkan commented on #10555
I agree. Please go on.

[2021-11-16 07:59] ebicoglu commented on #10192
I think the related page is https://github.com/volosoft/volo/blob/dev/abp/account/src/Volo.Abp.Account.Pro.Public.Web/Pages/Account/ConfirmUser.cshtml

[2021-11-16 08:00] ebicoglu commented on #10192
moved to https://github.com/volosoft/volo/issues/8399

[2021-11-16 08:00] #10192 closed, assigned to realLiangshiwei

[2021-11-16 08:08] gterdem commented on #10510
Maybe this is misunderstood.
The sample had **Tenant-Management** as a microservice (**saas**). This service was providing some sort of **vendor** registration and login for backoffice application and we decided to remove it.
- We're not removing **TenantId** properties from existing modules.
- If you want to add it back, you can check the steps in the PR and add it back to your fork.

Thank you f

[2021-11-16 08:25] #10510 closed, assigned to gterdem

[2021-11-16 08:32] gterdem opened #10631 "eShopOnAbp: Catalog service test errors"
There are some compilation errors on **Catalog Test** projects;

[code]

[2021-11-16 08:41] holyrong opened #10632 "IdentityServer:Custom Flow ，CurrentUser.name surName is null,but “authorization_code” with swagger is ok"
*  **ABP Framework version**.
5.0.0-beta.3

* database provider(EF Core/MongoDB)
EF Core

* Steps needed to **reproduce** the problem.
I've implemented "IExtensionGrantValidator"，and successfully got token ,when got CurrentUser in my "ApplicationService",the CurrentUser.name and CurrentUser.surName is null,and other properties is ok。
but it is run ok ,when login from swagger with "authorization_co

[2021-11-16 09:02] diennttlu commented on #10591
- You can clone the repository from `https://github.com/diennttlu/DinoTelegramBotServer/`;
- `DinoTelegramBotServer.Web.DateTimeConverters` - this is the namespace of custom providers;

After running the program, you can use this form body when you test `/api/bot` on the Swagger
[code]
Error message:
![image](https://user-images.githubusercontent.com/36124566/141954613-84eea9f4-644f-4ed6-9b7b-e56d

[2021-11-16 09:48] holyrong commented on #10632
It seens ok when I add "AbpClaimTypes.Name" and "AbpClaimTypes.SurName" for commonApiUserClaims in the "IdentityServerDataSeedContributor",and updated to database.
![image](https://user-images.githubusercontent.com/8318475/141962087-ed8a3123-9aff-4e93-9f2a-3722ba273603.png)

[2021-11-16 10:51] holyrong commented on #10015
@312977 @realLiangshiwei does it resolved?
I've got the same error when upgraded to abp 5.0.0-beta3

[2021-11-16 11:19] gterdem commented on #10591
You need to update default (MVC) `JsonOptions` instead of `AbpJsonOptions` as :

[code]
Also add lifetime scope for CustomJsonConverter.

I have created a [PR](https://github.com/diennttlu/DinoTelegramBotServer/pull/1), you can examine.

[2021-11-16 11:42] gterdem commented on #10504
ApplicationServices are automatically [registered by convention](https://docs.abp.io/en/abp/latest/Dependency-Injection#exposed-services-by-convention).
Your **IOrderAppService** will be resolved to implemented **OrderAppService** by name. If you want to manually register, you can use:

[code]
You can check [Dependency Injection documentation](https://docs.abp.io/en/abp/latest/Dependency-Injection

[2021-11-16 11:52] #10602 closed, assigned to gterdem

[2021-11-16 13:50] enisn opened #10634 "Configure CI for eShopOnAbp"
Configure **Build** and **Test** operations at least as the first step

[2021-11-16 20:41] begandroide opened #10635 "Blazor wasm default template has errors on console"
Hi, recenlty i started to use Blazor UI with abp default template and i has an error and i cant see any logs or issues on console.

* **ABP Framework version**.: 4.4.4
* Blazor webassembly
* EF Core

## Steps to reproduce

Create a default project with Blazor UI using abp.cli

What can be?

![image](https://user-images.githubusercontent.com/22018004/142062358-3aff78bf-d250-459e-aa95-90a6c200f6ac.p

[2021-11-16 23:06] #10058 closed, assigned to nobody

[2021-11-17 00:52] maliming commented on #10635
This is a problem of blazor wasm. If you use Identity Server in the official template project, the same error will also occur, but it does not affect the application, you can ignore it.

![image](https://user-images.githubusercontent.com/6908465/142089459-54400f6b-b5ba-4bd8-87af-1c44d06bb6ea.png)

[2021-11-17 00:52] #10635 closed, assigned to nobody

[2021-11-17 04:12] hillin opened #10639 "Compile error with angular strictTemplates mode when using value of ABP.Option<T>"
* **ABP Framework version**: 4.4.4
* **User Interface**: Angular

[code]

[code]
(FYI the code above is generated by abp suite CRUD generator)

Creates the following error at compile when `angularCompilerOptions.strictTemplates` is set to `true`:
[code]

[2021-11-17 04:24] hillin commented on #10639
For now I can remove the `trackBy: track.by('key')` part as a workaround.

[2021-11-17 06:33] berkansasmaz opened #10640 "`abp bundle` command not working"
Version: `5.0.0-rc.1` or `5.0.0-beta.**`

Error message:
[code]

**My steps**
1. `abp new Blazr56dsf -t app --mobile none --database-provider mongodb -u blazor -csf --preview`
2. `cd **/**.Blazor`
3. `abp bundle -f`

[2021-11-17 07:08] EngincanV commented on #10640
I've encountered the same error. After I run the `dotnet build /graphBuild` command on my root directory and then run the `abp bundle` command again on the Blazor project directory, it's bundled successfully.

[2021-11-17 07:10] maliming commented on #10640
Yes, You have to build the project before run `abp bundle` command.

[2021-11-17 07:27] xyfy opened #10642 "[question]how can I use a abp-cli preview version,"
I want to use some new option in the cli preview version

for example:
`abp generate-proxy -t csharp -url https://localhost:44302/`

[2021-11-17 07:29] berkansasmaz commented on #10640
Ok, but still not working for me. I already tried the build, we even tried it with @EngincanV, but it still didn't work for me.

Maybe it's due to the operating system, I don't know, if ping comes from users, we will reopen the issue. By the way, the `-f` flag already gets build first, also, it says you need to get build first when you just run `bundle` command without getting build anyway.

[2021-11-17 07:37] ebicoglu commented on #1920
if you have a an existing project with Migrations and you want to convert it to Oracle then you need to delete the Migrations folder to make it work. Because the existing migrations were created based on your previous database provider. I wrote this because some people fall into this trap.

[2021-11-17 07:41] xyfy commented on #10642
I used it in a solution witch is using abp 5.0-rc1

[2021-11-17 07:43] xyfy commented on #10642
I used `abp switch-to-preview`  then use `abp generate-proxy -t csharp -url https://localhost:44302/`

[2021-11-17 07:43] xyfy commented on #10642
![image](https://user-images.githubusercontent.com/7838147/142157219-ad080dd7-2544-499a-b4cc-a129118d3f19.png)

[2021-11-17 07:52] rqx110 opened #10643 "The documentation on how to use autofac is outdated"
https://docs.abp.io/en/abp/5.0/Autofac-Integration#asp-net-core-application

This document describes how to use Autofac, but currently we use `UseAutofac()` in `Program.cs`

[2021-11-17 08:00] #9132 closed, assigned to gterdem

[2021-11-17 09:00] mehmet-erim opened #10644 "Angular UI: Include missing locale files to Webpack's import function"

[2021-11-17 09:11] puschie286 opened #10645 "Delete on ISoftDelete cause full update and fail"
### GitHub Issues

* Your **ABP Framework version**: 5.0 (dev)
* Your **User Interface**: Blazor Server
* Your database provider(EF Core/MongoDB): EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

What happens:
when you try to delete an entity/aggregateroot with ISoftDelete it will generate update query with ALL properties

[2021-11-17 10:04] #10643 closed, assigned to nobody

[2021-11-17 10:50] leonkosak opened #10648 "How to use: Volo.Abp.Ldap"
I am wondering how to use Volo.Abp.Ldap module: https://www.nuget.org/packages/Volo.Abp.Ldap/
There is no information in documentation what and where should be configured properly (appsettings.json,....).

I want that users should login via **local** Active Directory (**not Azure AD!**) username and password.
Windows Authentication is not desired.

Thank you for explanations.

P.S.: For MVC UI opt

[2021-11-17 12:13] maliming commented on #10648
You can see https://docs.abp.io/en/commercial/latest/modules/account/ldap

[2021-11-17 12:16] leonkosak commented on #10648
But this is for commercial abp?

[2021-11-17 12:59] begandroide commented on #10635
@maliming thanks you, i didn't test these template first. Did you know that in `5.0.0.rc` the console error is not present? maybe some dependency has solved this.

[2021-11-17 13:32] enisn opened #10651 "How to use CosmosDB with Mongo Driver"

[2021-11-17 13:46] Kenjiang110 opened #10652 "Problem of MongoDb's database name while using AbpDbConnectionOptions.Databases to map connections"
ABP Framework version : 4.4.4
Database provider :  MongoDB
Steps needed to **reproduce** the problem：
1、Config connection mapping：
[code]
2、Don't specify database‘s name in MongoDb's connection string (appsettings.json)
[code]
3、Replace DbContext
[code]
4、If you use AbpIdentityMongoDbContext before AbpIdentityServerMongoDbContext，while using repositoryies in IdentityServiceMongoDbContext, you will

[2021-11-17 13:58] Kenjiang110 commented on #10652
1、Source of problem in UnitOfWorkMongoDbContextProvider<TMongoDbContext>.GetDbContextAsync():
[code]
2、Solve ： Rember to sepcify database name in MongDb's connection string。

[2021-11-17 14:29] begandroide opened #10653 "Support for Blazorise `0.9.5`"
Hi,  I created a default project with blazor wasm, using net core 6 and entity framework. Happens that abp template has `0.9.5.preview2.1` and this version hasn't some components like color picker or input mask. So i decided for upgrade `Blazorise` to `0.9.5`, and i has some console errors that doesn't allow me to navigate throw the application.

* **ABP Framework version**: 5.0.0.rc
* Blazor wasm

[2021-11-17 17:11] amLabib opened #10654 "Extend settings in AbpApplicationConfigurationAppService"
Is it possible to extends  AbpApplicationConfigurationAppService and ApplicationConfigurationDto
Explaining more :
we are using settings module to store settings for each country in the system
where the Provider key is the country Id as below
![image](https://user-images.githubusercontent.com/78806436/142247681-bfdc0f74-5e68-4d33-9c60-2ae32521b54f.png)

this works fine, it gets the current user se

[2021-11-17 21:24] oliverc-aicukltd commented on #527
Would anyone have an open source project or example Startup.cs file to share to aid in the integration of an Azure Function with ABP?

[2021-11-18 01:13] maliming commented on #10635
I think this is a design problem of blazor, and this error is still presents in 5.0.

[2021-11-18 01:15] maliming commented on #10648
Yes.

https://github.com/abpframework/abp/issues/4977#issuecomment-670006297

[2021-11-18 03:35] xyfy commented on #10642
any one can help me ?

[2021-11-18 05:19] #10012 closed, assigned to nobody

[2021-11-18 05:20] enisn commented on #10651
CosmosDB has already Ef Core provider:
https://docs.microsoft.com/en-us/ef/core/providers/cosmos/?tabs=dotnet-core-cli

[2021-11-18 05:51] EngincanV commented on #10642
Can you update the CLI version to v5.0.0-rc.1 and re-try it?

[code]

[2021-11-18 05:53] xyfy commented on #10642
Thanks ,it works !

[2021-11-18 05:53] #10642 closed, assigned to nobody

[2021-11-18 05:56] maliming commented on #10654
You can consider rewriting these functions or modules.  They cannot be expanded now.

[2021-11-18 06:43] #10065 closed, assigned to bnymncoskuner, mehmet-erim

[2021-11-18 07:07] muhammedaltug opened #10660 "Remove ngbDropdownItem directive from single abp grid action button"

[2021-11-18 07:38] feigaogit opened #10662 "How to use extended field query in EF query？"
![image](https://user-images.githubusercontent.com/18181270/142372493-47f39f74-c087-4a18-8b3c-94790b82d49d.png)

[2021-11-18 08:29] #10644 closed, assigned to mehmet-erim

[2021-11-18 09:02] rqx110 opened #10667 "Document about UseVirtualFiles Middleware is outdated"
https://docs.abp.io/en/abp/5.0/Virtual-File-System#usevirtualfiles-middleware

https://docs.abp.io/en/abp/5.0/Virtual-File-System#static-virtual-file-folders

above two sections about `UseVirtualFiles` is not needed anymore.

[2021-11-18 09:42] xyfy opened #10668 "Abp 5.0.0-rc.1 release source code build error"
download version **5.0.0-rc.1**  **zip** source code in [release page](https://github.com/abpframework/abp/releases)

After decompression, enter the `framework` folder

open a terminate in this folder ,run `dotnet build`,got an error **CS0407**

![image](https://user-images.githubusercontent.com/7838147/142390332-6cd58451-0334-4387-9dc2-ce6eb5a2b8d5.png)

![image](https://user-images.githubusercon

[2021-11-18 09:48] GitOPa opened #10669 "UserFriendlyException not shown if API method return type is "Text""
* Your **ABP Framework version**. 4.4.0
* Your **User Interface** type : Angular
* Your database provider EF Core
* Steps needed to **reproduce** the problem.

I had an API that would return a string type value in a normal situation. In a case of exception, I threw an UserFriendlyException. This was visualized as a "Something went wrong" type of message in angular UI. When I wrapped the return val

[2021-11-18 09:59] maliming commented on #10669
hi

Steps needed to reproduce the problem.

[2021-11-18 10:17] GitOPa commented on #10669
Hi,

- Create an API and AppService method that returns a string type value: public async Task<string> ...
- Make the method throw an UserFriendlyException with some message
- Generate proxies to use the API method
- Create Angular UI -logic that uses the generated proxy service and calls the method that throws the exception
- Expect to see UserFriendlyException's message in an error box but, if t

[2021-11-18 10:39] improwise opened #10672 "Nodejs 12/14 still recommended as pre-requirement"
On the Getting started page (https://docs.abp.io/en/abp/latest/Getting-Started-Setup-Environment) Nodejs 12 or 14 is still recommended but current version of NodeJS is 16 and 17.

Is the documentation in need of update or should we infact use old versions of NodeJS?

Thanks.

[2021-11-18 11:04] realLiangshiwei commented on #10668
See https://github.com/abpframework/abp/pull/10673

[2021-11-18 11:08] berkansasmaz commented on #10662
If you're trying to do this for the `ExtraProperties` field in the database, you can't. Because the properties set in the `ExtraProperties` field are stored as a single JSON object.

<hr>

However, you can refer to [this document](https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities#entity-extensions-ef-core) which explains the more natural way to do it.

If you hav

[2021-11-18 11:47] realLiangshiwei commented on #10667
We will update the document, thanks.

[2021-11-18 11:50] #10652 closed, assigned to maliming

[2021-11-18 13:10] #10668 closed, assigned to nobody

[2021-11-18 13:10] #10662 closed, assigned to nobody

[2021-11-19 00:45] maliming commented on #10669
Can you share the response of calling API in PostMan?

[2021-11-19 00:50] maliming commented on #10672
If the new version is not breaking, we should be using it.

[2021-11-19 01:33] maliming commented on #10672
https://support.abp.io/QA/Questions/2130/Angular-app-template-broken#answer-361cf328-e39e-b38a-31f3-3a0035c50686

[2021-11-19 02:11] xyfy opened #10679 "How to use Static Proxies?"
I created a version `abp 5.0.0-rc1` project from [abp website](https://abp.io/get-started)
![image](https://user-images.githubusercontent.com/7838147/142552603-286bc6d3-b658-44a3-830d-65faab7608d2.png)

it seems using auto proxy , not the new feature  **static proxy**.

![image](https://user-images.githubusercontent.com/7838147/142552950-861e4c39-b466-4ef2-bce9-50e4a02b629c.png)

I want to get a w

[2021-11-19 02:22] realLiangshiwei commented on #10679
Hi,

We used dynamic proxy in the template by default because it's out of the box.

Modules use static proxies because we have pre-generated static proxy files. but you are right, we should provide static proxy documentation.

[2021-11-19 05:36] enisn commented on #10651
Some existing queries from modules may wont work because of https://github.com/dotnet/efcore/issues/16920

[2021-11-19 07:06] jhulbertpmn opened #10683 "Handling exception on blazor wasm loading"
* Your **ABP Framework version**. 5 beta 3
* Your **User Interface** type Blazor wasm
* Your database provider EF Core
* Steps needed to **reproduce** the problem. : Anything to simulate remote services not being available when the blazor app starts (such as only starting the blazor app and not the http api host)

I am interested in making the initial load of the blazor wasm ui a bit more user-fri

[2021-11-19 09:35] GitOPa commented on #162
When using Elastic Pool in Azure with Azure SQL Database, creating a new tenant creates a tenant's database outside of the pool that the host database locates in. Should this feature fix this problem?

[2021-11-19 09:57] #10653 closed, assigned to realLiangshiwei

[2021-11-19 10:20] rwecho opened #10686 "return_url not working in --tiered blazor-server project"
Created a tiered blazer project. Add a page with the **authorize** attribute, then go to the page in the browser, challenged to the login page. it redirects to the home page.

reproduce:
1. create solution
[code]

2. add authorized razor page,
[code]

3. modify allowed URLs  configuration
[code]
4. run solutions. access https://localhost:44314/test. after login success it won't return /test URL.

[2021-11-19 10:39] rwecho commented on #10686
It works in the MVC project

[code]

[2021-11-19 10:59] enisn opened #10687 "Feature tab shouldn't be rendered if there is no item to show"
if none of the items are available to show, that menu wouldn't be rendered.

[2021-11-19 11:06] 1d0n7kn0w opened #10688 "Graph databases support"
Will you support graph databases like Cosmos DB Gremlin API any time soon?

[2021-11-19 11:18] realLiangshiwei commented on #10688
See:https://github.com/abpframework/abp/issues/10651

[2021-11-19 12:10] 1d0n7kn0w commented on #10688
EF Core for Cosmos DB supports only SQL API

[2021-11-19 12:52] enisn commented on #10688
You can use CosmosDB with mongo driver. Most of features will work same as MongoDb

That article will be about EF Provider of CosmosDb.

[2021-11-19 15:13] 32167t opened #10689 "Is the interface "IRepository" after version 5.0.0-rc.1 will not direct support Method "OrderBy" and ”OrderByDescending“"
ABP Framework version
5.0.0-rc.1

User Interface
none

database provider
efcore

question:
My question as same as title, Should I use "IRepository.GetQueryableAsync" instead ?

[2021-11-19 15:34] berkansasmaz commented on #10689
Yes, that is right.

This article explains along with the reasons => https://github.com/abpframework/abp/blob/dev/docs/en/Blog-Posts/2021-01-14%20v4_2_Preview/POST.md#irepositorygetqueryableasync

[2021-11-19 15:34] #10689 closed, assigned to nobody

[2021-11-19 18:28] 1d0n7kn0w commented on #10688
There are 5 types of APIs supported by Azure Cosmos DB :
SQL API (Json)
MongoDB API (Bson)
Gremlin API (Graph)
Table API (Key-Value)
Cassandra API (columnar)

SQL API and MongoDB API can be used by abp.io (I guess, I didn't try) but Gremlin API(Graph) and the others are not supported

[2021-11-20 05:50] xiaomazz opened #10690 "Method not found: 'System.Type Microsoft.EntityFrameworkCore.Metadata.ITypeBase.get_ClrType()'."
![image](https://user-images.githubusercontent.com/52307384/142716074-08d35caa-36ef-4f98-8092-fa925e24eab0.png)

[2021-11-20 07:11] jortygu commented on #8110
this issue is still not fixed in v4.4.2.wo need to hardcode below to fixed this issue.
[code]

[2021-11-20 07:25] jhulbertpmn commented on #10651
This is most definitely not as easy as switching to the cosmos efcore provider. I spent a tremendous amount of time with this on .net 5 and had issue after issue with queries in the identity server efcore project that would not translate to cosmos without major rework.
I tried this again with .net 6 and the updated cosmos efcore provider and some of the issues (like defaulting to owned entities) w

[2021-11-20 07:50] maliming commented on #10690
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-11-20 07:53] xiaomazz commented on #10690
EF Core 6.0
AbpVnext 4.4.4

[2021-11-20 07:54] xiaomazz commented on #10690
为啥同一个版本为啥两个方法不一样(都是abpvnext4.4.4)
![YC29313 S(%XX({`1 {7B J](https://user-images.githubusercontent.com/52307384/142719018-7f298a8b-46c4-4db5-ba0e-17f2b0f17710.jpg)

[2021-11-20 11:16] devilsuraj opened #10691 "Listservice , how can i accesss sorting,paging filtering without using ngx-datatable"
I dont want to use ngx-datatable rather  want to display items more like amazon and sorting , filtering and paging controls will be customized , how can i use listservice to achieve the same , is there any scope for it?

[2021-11-20 15:15] EngincanV opened #10692 "Cms-Kit: Show the new lines on the comments"
* This is the comment that I've written.

![comment-1](https://user-images.githubusercontent.com/43685404/142731364-1cbfe63b-54b1-4a34-a89c-50ab6a5a17df.png)

* And this is how it is displayed.

![comment-2](https://user-images.githubusercontent.com/43685404/142731372-7f4309b7-ddf6-49e4-8593-6e2648f1a194.png)

[2021-11-20 19:22] visuellsoft commented on #10593
Hi maliming,

thanks for the solution.
I very new in ABP and I need a little bit help.
I create a folder TagHelpers in the x.web project and insert MyAbpInputTagHelperService

[code]

In the second step ein extend the WebModule.cs
[code]

Is my way correct?
Thanks for the support.
BR Thomas

[2021-11-21 01:00] maliming commented on #10690
ABP 4.4.4 is targeted to net 5. Please wait for ABP 5.0.

[2021-11-21 01:00] #10690 closed, assigned to nobody

[2021-11-21 01:31] #10027 closed, assigned to nobody

[2021-11-21 12:36] 2606089052 opened #10693 "A task was canceled."
at Microsoft.EntityFrameworkCore.Storage.RelationalTransaction.CommitAsync(CancellationToken cancellationToken)
   at Microsoft.EntityFrameworkCore.Storage.RelationalTransaction.CommitAsync(CancellationToken cancellationToken)
   at Volo.Abp.Uow.EntityFrameworkCore.EfCoreTransactionApi.CommitAsync()
   at Volo.Abp.Uow.UnitOfWork.CommitTransactionsAsync()
   at Volo.Abp.Uow.UnitOfWork.CompleteAsync

[2021-11-21 12:43] lgadola opened #10694 "Angular UI compilation issues"
ABP Version 4.4.4 and 5.0.0.-rc1
User interface: Angular
DB: EF core

An unhandled exception occurred: ENOENT: no such file or directory, lstat 'C:\temp\abp\angular\node_modules\@swimlane'les\@swimlane'

created an new application from scratch
abp new xxx -u angular --preview

cannot get it to compile due to this error

[2021-11-21 16:10] ebicoglu opened #10695 "ABP CLI - Update command doesn't update from ABP 4.x to 5.x"
There are 2 more steps that needs to done for ABP 5.0 migration.
1- `Microsoft.Extensions.FileProviders.Embedded` file version update
2- `TargetFramework` update.
These are needed for .NET6 migration.

Replace the following in *.csproj files

[code]

[code]

[2021-11-21 16:13] ebicoglu commented on #10695
`Microsoft.Extensions.FileProviders.Embedded` update may be left to the developer because there are other packages that needs to be the latest version.

[2021-11-22 00:41] #10667 closed, assigned to realLiangshiwei

[2021-11-22 01:43] afresh opened #10699 "How to use the function `MapExtraPropertiesTo`?"
**ABP Framework version: 4.4.3**
**PostgreSQL: 13.4**

### Exception

**Code:**

[code]

**I use `MapExtraPropertiesTo` to turn `IdentityUserCreateDto` into `IdentityUser`. But the `IdentityUser`'s property `ExtraProperties` was lost.**

**Logs:**

[code]

##### IdentityExtensionsEntityFrameworkCoreModule.cs

[code]

##### IdentityExtensionsEfCoreEntityExtensionMappings.cs

[code]

##### AppUserDb

[2021-11-22 03:20] maliming commented on #10693
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-11-22 03:26] maliming commented on #10699
You can check this article

https://community.abp.io/articles/how-to-add-custom-property-to-the-user-entity-6ggxiddr

[2021-11-22 03:32] zhangzunke opened #10700 "Why the connection string setting is removed from tenant management"
ABP Framework version: 4.4.4
User Interface: Angular
database provider: EF Core

I found that we remove the feature which is the maintenance connection string for a tenant, this is [PR](https://github.com/abpframework/abp/commit/a9d406dbbff68b8693502ceadf1ace42807c681a), so I just wonder to know why the feature is removed, and what I do if I need to configure a connection string, maybe it has anot

[2021-11-22 03:40] maliming commented on #10700
See https://github.com/abpframework/abp/issues/7655#issue-803588821

[2021-11-22 03:40] #10700 closed, assigned to nobody

[2021-11-22 04:01] 2606089052 opened #10701 "* Your **ABP Framework version**."
My ABP VNEXT version  4.4.3
Just use a simple table insert ，Use Method InsertAsync  AND UpdateAsync

[2021-11-22 04:40] maliming commented on #10593
hi

Does it work for you?

[2021-11-22 04:40] maliming commented on #10701
Any details?

[2021-11-22 04:40] #10701 closed, assigned to nobody

[2021-11-22 05:08] maliming commented on #10686
I can't reproduce this in v4.4.4

[2021-11-22 05:10] enisn commented on #10651
New queries and repository operations are able to work properly, but some existing queries from existing modules don't work with Ef Core provider. So Entity Framework provider can wait until being mature SQL API capabilities of Cosmos.

---

So Mongo Driver is the best choice right now.

[2021-11-22 06:00] afresh commented on #10699
@maliming Thank you for solving the problem that bothered me for a week.

I missed the step-4 before.

[code]

[2021-11-22 06:00] #10699 closed, assigned to nobody

[2021-11-22 06:53] #10552 closed, assigned to cotur

[2021-11-22 07:14] 2606089052 commented on #10693
can you  speak Chinese?

[2021-11-22 07:14] #10693 closed, assigned to nobody

[2021-11-22 07:50] #10651 closed, assigned to enisn

[2021-11-22 07:50] enisn opened #10705 "Update abp-samples to dotnet 6.0"
ABP Samples still uses dotnet 5.0 and there is some build errors. We have to update target frameworks and globa.json to dotnet 6.0
https://github.com/abpframework/abp-samples

[2021-11-22 07:51] enisn commented on #10651
For Build Errors: https://github.com/abpframework/abp/issues/10705

[2021-11-22 07:55] visuellsoft commented on #10593
Hello,

the checkbox error is gone. I'm just not sure if it overwrites the complete service class or only the changed method.

BR Thomas

[2021-11-22 08:08] enisn opened #10706 "Single-layer ABP project example"
Create a 'Unified' application example.

[2021-11-22 08:11] maliming opened #10707 "Add MiniProfiler example."
https://support.abp.io/QA/Questions/2165/does-not-show-sql-query-with-using-AddEntityFramework-on-MiniProfiler-library

<img width="1013" alt="378f5b54d86e9bc4322ebd230006a2c" src="https://user-images.githubusercontent.com/6908465/142825153-4264f2c6-c560-4455-922b-57293fb9587e.png">

<img width="971" alt="020ffdd0f42da9301587716dfd4e00d" src="https://user-images.githubusercontent.com/6908465/14282

[2021-11-22 09:04] #10707 closed, assigned to maliming

[2021-11-22 10:08] enisn commented on #10705
Updated global.json to dotnet 6.0

No need to update existing samples.

[2021-11-22 10:08] #10705 closed, assigned to enisn

[2021-11-22 10:40] enisn commented on #10688
Hi @1d0n7kn0w
We've published an article about the best way to use Cosmos DB with the ABP Framework. It explains why we can't use SQL API with existing ABP modules:
https://community.abp.io/articles/using-cosmosdb-with-the-abp-framework-via-mongodb-api-x47bjeik

In the future, we may create new samples with those databases.

[2021-11-22 12:59] ebicoglu opened #10709 "ABP CLI - Throw exception when a parameter is invalid"
stop executing the command if the parameter value is invalid

eg:  `--database-provider` can be mongodb and  ef.
some developers write oracle instead of these values.

[2021-11-22 22:46] jtasko opened #10712 "Page alerts dismiss button styling"
* Framework version: 5.0.0-rc.1
* User Interface type: Angular
* Database provider: EF Core

Please fix the styling for the dismiss button (unless its an intentional change):

[code]

![image](https://user-images.githubusercontent.com/35415497/142946221-7ee61a1d-cb81-47f4-ad62-03dfbd5442bc.png)

[2021-11-23 01:29] zhangzunke commented on #10700
@maliming thanks for your reply, the hikalkan's explanation makes sense, I got it.

[2021-11-23 05:57] #10686 closed, assigned to nobody

[2021-11-23 06:09] EngincanV commented on #8656
https://github.com/abpframework/abp-samples/pull/104

[2021-11-23 06:09] #8656 closed, assigned to panna-ahmed

[2021-11-23 06:32] xyfy commented on #10679
due to #9954, this issue could to be closed

[2021-11-23 06:32] #10679 closed, assigned to realLiangshiwei

[2021-11-23 07:55] #10039 closed, assigned to nobody

[2021-11-23 11:06] laosandegudai commented on #5235
This is very useful and I use it for CRUD App Service

[2021-11-23 11:21] tvddev commented on #9997
Is there an update on this critical issue?

[2021-11-23 12:04] #10631 closed, assigned to enisn

[2021-11-23 13:26] #10654 closed, assigned to nobody

[2021-11-23 16:13] jkkrause commented on #9997
We've upgraded the CLI to 4.4.4 and are using ABP Commercial v5.0.0-rc.1

We can now see the new permissions to enable Tenant impersonation through the SaaS module when logged in as the host admin, and we can also see the Identity management permission to impersonate users both as a host and as a tenant admin.

However, applying these permissions to both the host admin and the tenant admin does no

[2021-11-24 00:58] maliming commented on #9997
@jkkrause

https://github.com/abpio/abp-commercial-docs/pull/145
https://github.com/abpio/abp-commercial-docs/blob/impersonation-docs/en/modules/account/impersonation.md

[2021-11-24 02:54] tvddev commented on #9997
@maliming - Are you saying impersonation is available for Blazor WASM in v5.0 RC1?

[2021-11-24 03:55] maliming commented on #9997
hi

Blazor wasm does not support this feature.

[2021-11-24 07:01] berkansasmaz opened #10718 "Specify the supported versions for Oracle Database in the documentation"
**Related Support Answer:** https://support.abp.io/QA/Questions/2112/abp-database-is-not-suitable-for-oracle#answer-e5eedd39-cecf-a168-fcee-3a0062d0dce5

If the Oracle version is less than 12.2, the user cannot create the default ABP tables, so we must specify that we need a version higher than 12.2 as a requirement in the document.

[2021-11-24 08:21] #10078 closed, assigned to nobody

[2021-11-24 08:50] hikalkan commented on #2465
See this new article: https://community.abp.io/articles/using-cosmosdb-with-the-abp-framework-via-mongodb-api-x47bjeik

[2021-11-24 08:50] #2465 closed

[2021-11-24 09:16] totpero opened #10721 "Configure Language for ScriptContributor"
* Framework version:4.3.0
* User Interface type:MVC
* Database provider: EF Core

Hi,
I try to set Romanian language` (options.Languages.Add(new LanguageInfo("ro-RO", "ro-RO", "Română", "ro"));`) for `BootstrapDatepicker,Timeago,JQueryValidation` like [here](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/AbpAspNetC

[2021-11-24 09:31] maliming commented on #10721
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/AbpAspNetCoreMvcUiPackagesModule.cs#L21

I don't think there is a problem here.
* Steps needed to **reproduce** the problem.

[2021-11-24 11:55] imranknp opened #10722 "Message is not publishing in Azure service bus samples code"
Hello Team,

I have downloaded the latest source code from the Github repository and I successfully build the ABP framework and Azure Event bus sample code. I configured the azure connection string, topic name, and subscription. When I run the project, it throws the stack overflow exception. I debug the code and found the following issues.

[code]

In the above code, the value of UnitOfWorkManager

[2021-11-24 12:00] recruitans opened #10723 "In BasicTheme, under the CMS, select2 does not work in the 'Menus'. property for 'Page'"
5.0.0-rc.1
MVC
EfCore

![lepton](https://user-images.githubusercontent.com/28866278/143234602-819f2326-230d-4af3-b127-03652a5cea5e.JPG)
![BasicTheme](https://user-images.githubusercontent.com/28866278/143234604-1934a75c-c279-4649-a1be-dc9e479c3047.JPG)

[2021-11-24 13:54] totpero commented on #10721
On this [commit](https://github.com/abpframework/abp/commit/6b6e39691f2221cd6971c36602bde82c095aab97) I add Romanian Language with "ro-RO" code, but I see that exists "ro" and "ro-RO" [codes](http://www.lingoes.net/en/translator/langcode.htm) `ro = Romanian` and `ro-RO = Romanian (Romania)`.
If I set abp project to Romanian Language, [here](https://github.com/abpframework/abp/blob/dev/framework/sr

[2021-11-24 14:05] totpero commented on #10721
Summernote Romanian Language code is "ro-RO" => https://github.com/summernote/summernote/blob/develop/src/lang/summernote-ro-RO.js

[2021-11-24 19:05] alexandru-bagu opened #10724 "Unable to have custom validation on features"
Project: Volo.Abp.FeatureManagement
https://github.com/abpframework/abp/blob/56157b3e60540adc0c0ccc7fe00b8005ae02044f/modules/feature-management/src/Volo.Abp.FeatureManagement.Application.Contracts/Volo/Abp/FeatureManagement/JsonConverters/StringValueTypeJsonConverter.cs#L20
https://github.com/abpframework/abp/blob/56157b3e60540adc0c0ccc7fe00b8005ae02044f/modules/feature-management/src/Volo.Abp.Fe

[2021-11-24 20:55] jhulbertpmn opened #10725 "Blazor WASM load time"
* Your **ABP Framework version**. 5.0 beta 3
* Your **User Interface** type Blazor wasm
* Your database provider EF Core

Before I get into the explanation of the behavior I am seeing I would just add up front that I know Blazor WASM's initial load for a site is going to have a minor performance hit because it has to download the necessary framework and application files to the client, so I am not

[2021-11-25 00:52] maliming commented on #10724
How do you expect it to work?

[2021-11-25 00:53] maliming commented on #10721
Can you share a template project? Thanks

[2021-11-25 01:16] alexandru-bagu commented on #10724
In my specific case I wanted to be able to add a feature that asks the user for a hostname.
My first issue was that even though I provided a instance of a `IValueValidator ` it was not used. Instead of the name taken from the name attribute was being used to then create another instance.

The easiest way to allow users to have custom validators would be to make it something like this:
[code]
And t

[2021-11-25 02:46] charleszh-dev opened #10726 "GetAllBytesAsync returns an empty byte array"
abp version: 5.0-rc1
blob provider: minio
In the file system, it's okay.

[2021-11-25 03:29] charleszh-dev commented on #10726
step to reproduce:
1. Create  project by abp cli
2. Add the package `Volo.Abp.BlobStoring.Minio` to the *.Host project and add the module dependency
3. Configure AbpBlobStoringOptions to use my Minio
4. Add the package `Volo.Abp.BlobStoring` to the *.Application project and add the module dependency
5. Create an `AppService`, save the file and get bytes through `GetAllBytesAsync`

The file was sav

[2021-11-25 03:34] JadynWong commented on #10726
Sorry, my PR(#10445) caused the problem. I'll fix it.

[2021-11-25 04:46] maliming commented on #10726
hi @realZhangChi

Can you check https://github.com/abpframework/abp/pull/10727

[2021-11-25 05:31] charleszh-dev commented on #10726
Ok of course

[2021-11-25 05:46] enisn commented on #10723
Oh, I reproduced the problem. It started to occur after Bootstrap 5 migration

[2021-11-25 07:50] cotur commented on #10645
Hi,

Yes as you said it's updating whole entity when you delete it but it is not related with the ABP Framework, we just call the EF Core update method.

Also, this is not a problem for only "deleting", if you try to update your entity, you will get same error.

So, you should ignore the property on updating.

[code]

[2021-11-25 07:50] #10645 closed, assigned to cotur

[2021-11-25 08:05] cotur commented on #10640
@berkansasmaz be careful about the bootstrap packages.

I had same error then I recognized I forgot to upgrade my boostrap5 related blazor nuget packages.

[2021-11-25 08:36] enisn commented on #10723
It has been fixed with #10729 and will be shipped with next version.

[2021-11-25 08:36] #10723 closed, assigned to enisn

[2021-11-25 09:25] enisn opened #10733 "eShopOnAbp: Use PostgreSQL for all services"
Convert usages to PostgreSQL from SqlServer for eShopOnAbp

- [x] Update development environment setup
- [x] Replace EF Packages & update codes

---

Reference: https://github.com/abpframework/abp/issues/10555

[2021-11-25 09:26] #10555 closed, assigned to gterdem

[2021-11-25 11:07] mehmet-erim commented on #10517
We're waiting for https://github.com/angular/angular-cli/issues/22088 to be resolved to update templates to Angular v13.

[2021-11-25 12:47] mehmet-erim commented on #10691
Can you provide more detail?
Did you see [this document](https://docs.abp.io/en/abp/5.0/UI/Angular/List-Service)?

[2021-11-25 12:48] puschie286 commented on #10645
@cotur
thanks for this suggesting but...

in AbpDbContext you set the EntityEntry.State to Modified on ApplyAbpConceptsForDeletedEntity which cause the entity framework to update all properties. ( [Ref](https://www.ryansouthgate.com/2019/01/07/entity-framework-core-soft-delete/) )

https://github.com/abpframework/abp/blob/2f1f79b8455b86e5b1816124ae5751b316b8743c/framework/src/Volo.Abp.EntityFramew

[2021-11-25 13:36] enisn opened #10739 "eShopOnAbp: Update helm charts for PostgreSQL"
An update is required for helm charts according to following PR:
https://github.com/abpframework/eShopOnAbp/pull/28

[2021-11-25 13:38] davidzwa commented on #10517
https://github.com/angular/angular-cli/issues/22088#issuecomment-977254100
Would this work? The .mjs files are most probably the problem here, right?

[2021-11-25 13:55] mehmet-erim commented on #10639
Hello @hillin

I don't figure out why this happening. But you can use the `trackBy` like follows:

[code]

We will fix the strict mode problems in the next versions. Please follow the issue below:
https://github.com/abpframework/abp/issues/8654

I'm closing this one. If you encounter any other problems, please report them within the issue above.
Thanks!

[2021-11-25 13:55] #10639 closed, assigned to nobody

[2021-11-25 13:55] enisn opened #10740 "eShopOnAbp: Remove Saas Service"

[2021-11-25 14:01] mehmet-erim commented on #10517
No, it does not work. We tried many ways to resolve it, but we cannot. The problem is actually related to exports in @angular/common's package.json file.

[code]

When I added the export above to the package.json file manually. It works.

[2021-11-25 16:16] devilsuraj commented on #10691
which document , link literally pointing to this question only.

anyways for more details , i can create getlistasync method with paging and sorting parameters and call it anywhere in angular code but since listservice is already doing the same job , i want to use this service rather than writing whole new code for each entity
e.g. i should be able to bind paging to my custom paging control, sorti

[2021-11-25 18:40] #10692 closed, assigned to EngincanV

[2021-11-25 19:06] jtasko opened #10743 "Error on NgbInputDatepicker open"
* ABP Framework version: 5.0.0-rc.1
* User Interface: Angular
* Database provider: EF Core
* Exception message and **stack trace** if available (check the logs):

![image](https://user-images.githubusercontent.com/35415497/143491020-857a9d34-90a2-4c39-a5ca-524eb547529c.png)

[code]

1. Create a new solution in preview mode with Angular UI: abp new Acme.BookStore --preview -u angular
2. Initialize

[2021-11-25 23:38] jhulbertpmn commented on #10725
Certainly the auth calls do take some time, but are necessary.
The size of the app published with AOT is indeed a trade off. I have not experimented much with that yet.
I wonder if the static proxies may be worth a try for me. I do see the calls to the api-definition endpoint and they account for about 1.5-2s of the load time between the preflight and actual fetch. I am still running on 5.0 beta 3

[2021-11-25 23:38] #10725 closed, assigned to nobody

[2021-11-26 03:41] nexthero opened #10745 "IJsonSerializer compare with System.Text.Json.JsonSerializer"
* Your ABP Framework version: 4.4.4
* Your User Interface: MVC
* Your database provider: EF Core

create TestAppService with code:

[code]

run application and call TestJsonSerializer, I get result like this
System.Text.Json.JsonSerializer.Deserialize: 8.9425ms
IJsonSerializer.Deserialize: 1395.8723ms

why?

[2021-11-26 04:30] maliming commented on #10745
Please try to use the same options for them. and test in the console app.

[2021-11-26 05:57] nexthero commented on #10745
when I add config in ConfigServices
[code]
I get result like this
[code]
the System.Text.Json.JsonSerializer option is copy from AbpSystemTextJsonSerializerOptions, so them has same options

[2021-11-26 06:27] maliming commented on #10722
https://support.abp.io/QA/Questions/2188/Azure-service-bus-incomplete-documentation-and-sample-code-not-working

[2021-11-26 06:29] #10740 closed, assigned to gterdem, enisn

[2021-11-26 06:47] mehmet-erim commented on #10691
Sorry 🤦, I've edited the link.

See a sample:

[code]

I hope this helps you.

[2021-11-26 07:12] nexthero commented on #10745
It looks like a deserialize problem with IHasExtraProperties, on source code AbpSystemTextJsonSerializerOptionsSetup.cs, comment line 28,
`//options.JsonSerializerOptions.Converters.Add(new AbpHasExtraPropertiesJsonConverterFactory());`
then System.Text.Json.JsonSerializer.Deserialize and IJsonSerializer.Deserialize has similar performances

[2021-11-26 07:19] maliming commented on #10745
I will do some tests.

[2021-11-26 08:10] maliming commented on #10745
Checked, there seems to be no problem, can you test it in the console?

[2021-11-26 08:35] maliming opened #10747 "Upgrade TodoApp to 5.0"
https://github.com/abpframework/abp-samples/tree/master/TodoApp

[2021-11-26 08:47] berkansasmaz opened #10748 "Indent of comments in blog module is incorrect"

[2021-11-26 09:06] jhulbertpmn opened #10749 "Recommended approach for removing Blazorise"
Your ABP Framework version: 5.0 rc1
Your User Interface: blazor wasm
Your database provider: EF Core

Is there a recommended/best-practice approach to removing/replacing blazorise in the theme? I like the blazorise library a lot, but we also have a commercial license of telerik's blazor component package and are using the grid and several other controls from it, so keeping blazorise creates some r

[2021-11-26 09:48] devilsuraj commented on #10691
Wow Thanks a lot @mehmet-erim
I suggest this should be documented on the link you provided

[2021-11-26 09:49] #10691 closed, assigned to mehmet-erim

[2021-11-26 11:25] totpero commented on #10721
Steps to reproduce the problem:

1. Create new abp project and check Preview:
![image](https://user-images.githubusercontent.com/1710257/143570440-90604b81-99e7-425e-a752-eb6c7fb009c7.png)
2. Change language to Romanian:
![image](https://user-images.githubusercontent.com/1710257/143570689-b4727943-af90-4cee-b5fb-29b6340326b9.png)
3. Check the console if the localization is added:
![image](https://

[2021-11-26 12:23] bnymncoskuner commented on #2829
Already done

[2021-11-26 12:23] #2829 closed

[2021-11-26 12:24] bnymncoskuner commented on #3143
This is not needed anymore since we have removed the `NGXS` dependency.

[2021-11-26 12:24] #3143 closed

[2021-11-26 12:25] bnymncoskuner commented on #3379
This is not valid anymore.

[2021-11-26 12:25] #3379 closed

[2021-11-26 12:26] bnymncoskuner commented on #3639
`abp-table` no longer exists. This issue is not needed.

[2021-11-26 12:26] #3639 closed

[2021-11-26 12:27] bnymncoskuner commented on #3818
NGXS has been removed.

[2021-11-26 12:27] #3818 closed

[2021-11-26 12:28] bnymncoskuner commented on #3825
NGXS has been removed.

[2021-11-26 12:28] #3825 closed

[2021-11-26 12:30] bnymncoskuner commented on #4213
This issue is not valid anymore, since the proxy generation doesn't depend on `ngxs` or `angular/router`

[2021-11-26 12:30] #4213 closed

[2021-11-26 12:32] #4274 closed

[2021-11-26 12:42] #4770 closed

[2021-11-26 12:48] bnymncoskuner commented on #4771
We have been working on a new theme for a while. We can share our experience as a blogpost later on.

[2021-11-26 13:07] #4992 closed, assigned to mehmet-erim

[2021-11-26 13:13] bnymncoskuner commented on #5311
Related to #8654

[2021-11-26 13:14] bnymncoskuner commented on #6512
Already done

[2021-11-26 13:14] #6512 closed, assigned to mehmet-erim

[2021-11-26 13:31] #10660 closed, assigned to muhammedaltug

[2021-11-26 13:36] #10733 closed, assigned to gterdem, enisn

[2021-11-26 13:36] #5687 closed, assigned to muhammedaltug

[2021-11-26 13:50] #10672 closed, assigned to nobody

[2021-11-26 14:23] cbaille opened #10751 "Create a RemoteStreamContent from a MemoryStream SpreadsheetDocument stay empty"
ABP Framework version: 5.0.0-rc1
User Interface: Angular
database provider: EF Core

**1- created a MemoryStream with DocumentFormat.OpenXml SpreadsheetDocument:**

`using var document = SpreadsheetDocument.Create(memoryStream, SpreadsheetDocumentType.Workbook);`

And add my WorkBook, WorkShhet and whatever needed.

**2- Put this MemoryStream on a RemoteStreamContent**

[code]

**Issue:**
The stre

[2021-11-26 16:08] #10718 closed, assigned to EngincanV

[2021-11-26 16:11] #10748 closed, assigned to berkansasmaz

[2021-11-27 02:10] Kenjiang110 opened #10756 "datatables-extension.js chain call fnRowCallback error"
[code]
while call _existingDefaultFnRowCallback(this, nRow, aData, iDisplayIndex, iDisplayIndexFull);
parameter "this" is the "window", not the "tableInstance"

[2021-11-27 03:06] Kenjiang110 commented on #10756
I mean inside _existingDefaultFnRowCallback(), "this" refer to window ,not tableInstance

[2021-11-27 09:32] evenlee opened #10757 "Tenant per database: cannot get data from tenant database"
* Your **ABP Framework version: 4.4
* Your **User Interface** type: Angular
* Your database provider: EF Core

I am using 3.x in a project(tenant per database) and all works fine.
recently, I want to upgrade to 4.4,  so i used CLI upgrade all the stuff, and created new migrations, everything looks good until i run some case for data testing, I found all the legacy database related API return null.

[2021-11-27 09:51] evenlee commented on #9986
I used data seeder to init tenants,migrator will create database accordingly, you can create many in the seeder too, the seeder located in Domain project.

namespace MyTenant.API.MultiTenancy
{
    public class TenantDataSeedContributor : IDataSeedContributor, ITransientDependency
    {
        private TenantManager _tenantManager;
        private ITenantRepository _tenantRepository;
        priva

[2021-11-28 04:43] lxt2004 opened #10758 "bug:abp-add-new-module-with-seperate-db ,when use different dbms"
https://blog.antosubash.com/posts/abp-add-new-module-with-seperate-db

where the two dbms is both SqlServer or SQLite it is no problem,
but ,when one is SQLite another is SqlServer post can not work welll.

[12:41:08 ERR] An error occurred using the connection to database '' on server 'D:\t\Ncys\Wireless.db'.
[12:41:08 ERR] ---------- RemoteServiceErrorInfo ----------
{
  "code": null,
  "message"

[2021-11-28 08:51] lgadola commented on #10694
I have worked around the swimlane dependency problem by installing it:
npm i @swimlane/ngx-datatable
but then, next dependency error occurs:
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/common@">=5.0.0 <11.0.0" from @ngx-validate/core@0.1.1
npm ERR! node_modules/@ngx-validate/core
npm ERR!   @ngx-validate/core@"*" from the root project

[2021-11-28 09:16] lgadola commented on #10694
after installing @ngx-validate/core with --force (because it depends on @angular/common@">=5.0.0 <11.0.0"
it compiles and runs, but then throws:
Error: inject() must be called from an injection context
    at injectInjectorOnly (core.mjs:4747)
    at Module.ɵɵinject (core.mjs:4757)
    at Object.DocumentDirHandlerService_Factory [as factory] (abp-ng.theme.shared.js:1294)
    at R3Injector.hydrate

[2021-11-28 11:20] antosubash commented on #10758
I think you are using the SqlServer provider to connect to SqlLite db.  I susspect this because of this `"HelpLink.EvtSrc": "MSSQLServer",` Changing the Ef core provider to SqlLite in your module should fix this.

Check here : https://docs.abp.io/en/abp/latest/Entity-Framework-Core-SQLite

[2021-11-28 13:12] maliming commented on #10757
https://github.com/abpframework/abp/pull/7509

[2021-11-28 13:12] #10757 closed, assigned to nobody

[2021-11-28 13:27] evenlee commented on #10757
Thanks @maliming, but my goal is to use tenant database, I did not add [IgnoreMultiTenancy] attribute to my dbcontext, why it still get data from host database?

[2021-11-28 13:44] maliming commented on #10757
See https://github.com/abpframework/abp/pull/7509/commits/3f8bf4a2be9cc0aeccfe7605233948de72d78ad9#diff-044d3a88932b37b24a8aebf572e09b7c18be235afcde64e37c2970c78731169eR50-R60

[2021-11-28 14:03] jiyangcd opened #10759 "set invocation.returnvalue invalid use AbpInterceptor"
ABP Framework version is 4.4.4

I try to intercept the properties of the class,When get ,set invocation.returnvalue,but not effective

![image](https://user-images.githubusercontent.com/15187360/143770965-259193bc-ed7d-46f0-8c16-b7721105048b.png)

if exec invocation.ProceedAsync()  , invocation.returnvalue doesn't work
![image](https://user-images.githubusercontent.com/15187360/143771154-412cf9f0-

[2021-11-28 16:13] mehmet-erim commented on #10694
What's your npm and node version? Can you try installing packages via `yarn` command?

[2021-11-29 02:37] maliming commented on #10756
I checked and there is no problem, can you share more?

[2021-11-29 03:15] #10747 closed, assigned to maliming

[2021-11-29 03:25] maliming commented on #10721
Please try to use `AddLanguageFilesMapOrUpdate`.

[code]

[2021-11-29 03:25] #10721 closed, assigned to nobody

[2021-11-29 03:37] maliming commented on #10751
Can you use other streams to reproduce it?

[2021-11-29 05:04] nexthero commented on #10745
- step 1: user abp cli(version 4.4.4) to creat console project:
`abp new TestJson -t console`
- step 2: add package:
`<PackageReference Include="Volo.Abp.Identity.Domain" Version="4.4.4" />`
- step 3: add DependsOn
[code]
- step 4: add test code
[code]
run and get result:
System.Text.Json.JsonSerializer.Serialize: 54.8022ms
IJsonSerializer.Serialize: 3181.6835ms

System.Text.Json.JsonSerializer.De

[2021-11-29 05:11] cbaille commented on #10751
I try using a file and it works well:
`var memoryStream = new MemoryStream(File.ReadAllBytes("appSettings.json"));`

I even tried using a file I generated by my previous code using SpreadsheetDocument  and RemoteStreamContent on ABP4.4.3 and it works...

`var memoryStream = new MemoryStream(File.ReadAllBytes("WorkReports.xls"));`

[2021-11-29 05:14] maliming commented on #10751
Can you use other streams to reproduce it in 5.0?

[2021-11-29 05:16] zhjmao commented on #5668
any plans for this?

[2021-11-29 05:20] cbaille commented on #10751
I don't know what other stream I can use actually, let me search more

[2021-11-29 05:34] cbaille commented on #10751
![image](https://user-images.githubusercontent.com/27866600/143814169-8ccfa91e-32c7-48d6-ae2f-623d2ae56f0d.png)

[2021-11-29 05:37] maliming commented on #10751
Please share code to reproduce.

[2021-11-29 05:47] cbaille commented on #10751
[code]

[2021-11-29 06:13] #10057 closed, assigned to nobody

[2021-11-29 06:41] gterdem opened #10766 "eShopOnAbp: Use MongoDB for Category"

[2021-11-29 06:51] cbaille opened #10767 "ngbDatepicker is not working"
ABP Framework version: 5.0.0-rc1
User Interface: Angular
database provider: EF Core

1- Create a new solution

2- Create an entity with a field on type DateTime

When you open the view of the entity, either on the filter area or on the modal view to create record, the DateTime ngbDatepicker is not working

![image](https://user-images.githubusercontent.com/27866600/143820283-cce6647c-2b66-4009-9a3

[2021-11-29 06:54] cbaille commented on #10767
Maybe same issue as this one?

https://github.com/abpframework/abp/issues/10743

[2021-11-29 07:00] KaungZawHtet opened #10768 "Flutter"
Currently, I found angular as frontend solution in framework. Can you add flutter as an option for frontend solution

[2021-11-29 07:14] martenw commented on #10155
Does the issue becoming stale mean it won't be fixed?

[2021-11-29 07:18] ebicoglu commented on #10155
commercial support is not available in open-source repository. pls create a new question on the commercial support of abp.io

[2021-11-29 07:18] #10155 closed, assigned to nobody

[2021-11-29 07:24] hikalkan commented on #10768
Hi,

We don't plan to add flutter as a pre-built UI option for now, sorry.

[2021-11-29 07:24] #10768 closed, assigned to nobody

[2021-11-29 07:24] maliming commented on #10161
https://github.com/abpframework/abp/issues/10155#issuecomment-981351189

[2021-11-29 07:24] #10161 closed, assigned to nobody

[2021-11-29 07:25] martenw commented on #10155
@ebicoglu but shouldn't bugs be reported here on github? Or should bugs on commercial be submitted in the support forum?

[2021-11-29 07:26] bnymncoskuner commented on #10767
@cbaille yes it's the same issue. We are working on it. I'll close this one.

[2021-11-29 07:26] #10767 closed, assigned to nobody

[2021-11-29 07:26] bnymncoskuner commented on #10767
Duplicate of #10743

[2021-11-29 07:29] martenw commented on #10155
Moved to support https://support.abp.io/QA/Questions/2202/Bool-fields-generated-by-abp-suite-cannot-be-saved-in-angular-template

[2021-11-29 07:35] martenw commented on #10161
Issue moved to support https://support.abp.io/QA/Questions/2203/Navigation-property-generated-by-abp-suite-cannot-be-saved-in-angular-template

[2021-11-29 08:26] mehmet-erim commented on #10743
Hello @jtasko

It is related to `@ng-bootstrap/ng-bootstrap` package. You can follow the issue below:
https://github.com/ng-bootstrap/ng-bootstrap/issues/4192

I can suggest you a workaround to fix the problem:

- Run the command below to install v11.0.0-beta.2 of `@ng-bootstrap/ng-bootstrap` package:

[code]

- Open the `package.json` file and add the following:

[code]

- Remove the node_modules

[2021-11-29 08:45] cbaille opened #10774 "Identity management / roles: Add/remove permission do not work properly"
ABP Framework version: 5.0.0-rc1
User Interface: Angular
database provider: EF Core

1- Create a new solution
2- Create an entity
3- Go to Administration / Identity Management / Roles and create a new role
3- Add  permission to the role just created and save.
4- Open the permission view again

Result:
If you select/unselect "individual permission", changes are not saved. However, if you select/uns

[2021-11-29 09:47] Kenjiang110 commented on #10756
1、I try to add my fnRowCallback in my script, for example "datables-actBtns.js“
[code]
2.1、In ScriptContributor , If I put this js file BEFORE Abp 'datatables-extensions.js'
[code]
2.2、in datatables-extensions.js (notice these remarks):
[code]
3.1 In ScriptContributor , If I put this js file AFTER Abp 'datatables-extensions.js':
[code]
3.2  in datatables-extensions.js (notice these remarks):
[code

[2021-11-29 09:56] maliming commented on #10751
The change of `RemoteStreamContent` is added `disposeStream` paramter.

You can try to set it to `false`.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Volo/Abp/Content/RemoteStreamContent.cs#L17

[2021-11-29 10:33] cbaille commented on #10751
I just tried this:

`var streamContent = new RemoteStreamContent(memoryStreamTest, null, null, null, false);`

but still the same issue

[2021-11-29 10:53] hamed-lohi opened #10779 "error on build CustomAngularAppWithIdentityServer/aspnet-core in VS 2022"
when I build
https://github.com/abpframework/abp-samples/tree/master/CustomAngularAppWithIdentityServer/aspnet-core
projects in VS 2022 get this error :

Error	MSB3491	Could not write lines to file "obj\Debug\net5.0\CustomAngularAppWithIdentityServer.EntityFrameworkCore.DbMigrations.AssemblyInfoInputs.cache". Path: obj\Debug\net5.0\CustomAngularAppWithIdentityServer.EntityFrameworkCore.DbMigration

[2021-11-29 10:58] afresh commented on #10239
@gterdem How to use the rpc call in "abp-MicroserviceDemo"?

[2021-11-29 11:34] enisn commented on #9440
Replacing bootstrap completely is not possible since TagHelpers are static.

How about rendering components from `.cshtml` files in TagHelpers. For example: `<abp-button>`  tag should render `AbpButton.cshtml` which includes bootstrap type button inside with given parameters.

If someone tries to implement material, will replace `AbpButton.cshtml` and everything will work smoothly.

Also creating

[2021-11-29 11:38] maliming commented on #10751
Please share a project and steps, thanks.

[2021-11-29 12:35] gterdem commented on #10239
@afresh You can check [rpc sample](https://github.com/abpframework/abp-samples/tree/master/GrpcDemo) about it. Also, please create a new issue if you have questions about it.

[2021-11-29 13:14] evenlee commented on #10757
Hmm, it looks like I have to create too much repos which will  inherit my own parent repo which only overrides one method,  @maliming, do we have an elegant way like just replacing the EfCoreRepository  or some magic just change several lines of code?

[2021-11-29 13:21] #10296 closed, assigned to enisn

[2021-11-29 13:29] cbaille commented on #10751
Sure, how can I share it to you?

[2021-11-29 13:58] maliming commented on #10751
You can share a simple project on GitHub.

[2021-11-29 14:10] cbaille commented on #10751
run the project, log as admin, then click on MyEntitySet main menu. I put the code which is wrong on the GetListAsync method of MyEntitySetAppService class, at line 65

[2021-11-29 15:19] GMCfourX4 commented on #2611
We have this situation as well - our tenants may hire the same companies to advise/consult (IT staff, accountants, business consultants, etc). We would like to be able to tie the same email address and password to multiple tenants.

[2021-11-29 19:18] tvddev commented on #2611
It would be great if the host side login, and selection of which tenant to impersonate, could be extended to allow tenants, that have permission from another, to also impersonate.

Can you also fix the issue where impersonating a tenant does not work with WASM Blazor?

[2021-11-29 21:48] begandroide opened #10781 "[Angular UI] Constructors are being called twice on reload page."
Hi! recently I noted an issue: when I reload the page, then constructor is called twice.

* **ABP Framework version**: 4.4.4
* Angular UI (12)
* EF Core

### Steps to reproduce the problem

- Create default project of abp with angular UI
- Add console.log("home") in constructor of home.component.ts
- Reload the page
- You will see in console that console log is being logged twice.

**note**: this

[2021-11-30 00:41] maliming commented on #10751
Please make it private.

[2021-11-30 00:55] maliming commented on #10779
This is not related to ABP. You can check
https://www.microfocus.com/documentation/filr/filr-4/filr-desktop/t47bx2ogpfz7.html

[2021-11-30 01:15] JadynWong commented on #10751
You can try set the `memoryStreamTest.Position` to 0 or `memoryStreamTest.Seek(0, SeekOrigin.Begin)`.

[2021-11-30 01:15] maliming commented on #10751
[code]

![image](https://user-images.githubusercontent.com/6908465/143967679-7206581a-a456-483e-9644-febea1e65080.png)

[2021-11-30 01:23] #10751 closed, assigned to maliming

[2021-11-30 02:02] billpeace opened #10782 "update-database Access denied for user 'root'@'localhost' (using password: YES)"
### Documentation

update-database
Build started...
Build succeeded.
An error occurred using the connection to database '' on server 'localhost'.
MySqlConnector.MySqlException (0x80004005): Access denied for user 'root'@'localhost' (using password: YES)

But
mysql -u root -p
Enter password:   *****    is  OK
navicat open it       is  OK

### GitHub Issues

https://abp.io/get-started
project is new

[2021-11-30 02:03] billpeace commented on #10782
mysql  Ver 8.0.27 for Win64 on x86_64 (MySQL Community Server - GPL)

[2021-11-30 02:11] maliming commented on #10782
https://docs.abp.io/en/abp/latest/Getting-Started-Running-Solution?UI=MVC&DB=EF&Tiered=No#the-initial-migration

[2021-11-30 02:27] billpeace commented on #10782
I using Visual Studio
Hit F5 (or Ctrl+F5) to run the application  .DbMigrator project

[10:26:25 INF] Creating initial migration...
'abp' is not an internal or external command, nor is it an executable program
Or batch file.

E:\Project\FirstProject\aspnet-core\src\FirstProject.DbMigrator\bin\Debug\net5.0\FirstProject.DbMigrator.exe (process 19784) exited with code 0.
To automatically close the co

[2021-11-30 02:54] maliming commented on #10782
[code]

[2021-11-30 02:57] billpeace commented on #10782
I have solved it

the  appsettings.json  in FirstProject.DbMigrator project  Need to be modified

[2021-11-30 03:08] #10782 closed, assigned to nobody

[2021-11-30 04:48] cbaille commented on #10751
memoryStreamTest.Position = 0;

It works yes, thanks

[2021-11-30 06:47] leonkosak commented on #10749
You should rewrite all abp modules (frontend) using Telerik components.

[2021-11-30 08:12] mehmet-erim commented on #10774
Hello @cbaille
I can't reproduce it. Did you check the console, were there any errors? It may be related to that

[2021-11-30 08:13] mehmet-erim commented on #10024
Hello @nev-21

There is no problem in v5.0.0-rc.1. Do you consider updating your app?

[2021-11-30 08:24] hamed-lohi commented on #10779
Thank you very much for your attention.

[2021-11-30 08:28] cbaille commented on #10774
Nothing on browser console and nothing on the output of VS. I do not see anything special on the log file neither

[2021-11-30 08:52] maliming commented on #10756
hi

https://github.com/abpframework/abp/pull/10785

[2021-11-30 09:06] #10779 closed, assigned to nobody

[2021-11-30 10:30] xyfy opened #10787 "Error occured while downloading source-code from https://abp.io/api/download/template/"
If you're creating a bug/problem report, please include followings:

* **5.0.0-rc1**
`abp new Yun.PhoneLogin  -t module --no-ui -v 5.0.0`

[code]

[2021-11-30 10:34] imranknp commented on #10722
I checked with the latest code and now I can publish the messages.

Thanks
Imrankhan

[2021-11-30 10:34] #10722 closed, assigned to maliming

[2021-11-30 10:46] cbaille opened #10788 "BlobContainer MIN.IO error when try to download"
ABP Framework version: 5.0.0-rc1
User Interface: Angular
database provider: EF Core

On my solution I use BlobContainer to store documents on a MIN.IO server.

I am still able to upload and delete files on the server, however it doesn't work when I try to upload, it was working well on version 4.4.3.

For information, if I put a path which do not exists, I get null returned, so no error.

`var tmp

[2021-11-30 11:13] #10109 closed, assigned to ismcagdas

[2021-11-30 11:32] hikalkan opened #10789 "Support markdown in CMS-Kit comments"

[2021-11-30 12:59] #10739 closed, assigned to gterdem

[2021-11-30 13:29] #10586 closed, assigned to bnymncoskuner, muhammedaltug, mehmet-erim

[2021-11-30 14:17] realLiangshiwei commented on #10787
Try : `abp new Yun.PhoneLogin -t module --no-ui -v 5.0.0-rc.1`

[2021-11-30 14:37] realLiangshiwei commented on #10787
We can output readable information, like  `There is no version found with given version: 5.0.0`

[2021-11-30 15:41] #9287 closed, assigned to yekalkan

[2021-11-30 16:44] puschie286 commented on #6828
hey, we needed this feature and implemented it directly in Volo.Abp.Core.

if someone is interested in this: https://github.com/puschie286/abp/tree/async-init-shutdown
note: not fully tested yet

[2021-11-30 18:13] gdunit opened #10797 "Issues with IdentityUser Extra Properties UI (related entity)"
ABP Framework: 5.0 RC1
UI: Blazor
DB: EF Core

[First, congratulations on a great job on this framework!]

Use case: I am trying to associate a related company entity to a user. The company is mandatory for each user.
However, I am finding that:
1) The company input cannot be made mandatory (despite the relevant configuration per the documents)
2) The correct company is not displayed in the drop-d

[2021-12-01 00:27] JadynWong commented on #10788
Hi @cbaille ,can you replace `MinioBlobProvider.cs` with #10727.

[code]

[2021-12-01 03:55] cbaille commented on #10788
I added the source of the abp dev branch framework instead of the package for "Volo.Abp.BlobStoring.Minio" and it works now.

Thanks

[2021-12-01 04:12] #10788 closed, assigned to nobody

[2021-12-01 05:41] enisn opened #10801 "Prevent adding reactions multiple times"
Somehow reactions can be added more than once.

An error occurs:
[code]

[2021-12-01 05:48] hikalkan opened #10802 "Styling problem of dropdowns of docs module"
See on https://docs.abp.io/

![image](https://user-images.githubusercontent.com/1210527/144178965-5d5359bc-e170-4517-814e-f26a1c2eb0c0.png)

Version and language dropdowns have no down arrow.

[2021-12-01 06:56] rqx110 commented on #10802
![image](https://user-images.githubusercontent.com/1829209/144186580-6ff3cb3b-0031-4f33-90b6-45785ed88751.png)

[2021-12-01 06:59] evenlee opened #10807 "[MultiTenancy] attribute for DBContext"
I am planning to upgrade to 4.4, but found multi-tenant cannot work properly.

We have a case that each tenant has a legacy database and impossible to implement IMultiTenancy interface, we need the legacy dbContext access tenant database but not host by default.

Thanks @maliming  for explaining the reason  in #10757 ,  with my investigation, the fix requires too much code changes, and I think whi

[2021-12-01 07:18] maliming commented on #10807
This is by design. You can change or overwrite in your own project.

[2021-12-01 07:18] #10807 closed, assigned to nobody

[2021-12-01 08:21] #10167 closed, assigned to nobody

[2021-12-01 09:07] #10745 closed, assigned to maliming

[2021-12-01 12:44] hikalkan opened #10813 "Update "Getting Started ABP With AspNet Core MVC Web Application" document based on .NET 6.0"
https://docs.abp.io/en/abp/latest/Getting-Started-AspNetCore-Application

This document should be updated based on .NET 6.0. We should create a new .NET 6.0 asp.net core project and install ABP as like the current document.

Please send PR to me & @braim23 for review.

[2021-12-01 13:14] evenlee commented on #10807
Thanks @maliming , is it possible to replace EfCoreRepository?

[2021-12-01 13:22] maliming commented on #10807
Check documents https://docs.abp.io/en/abp/latest/Entity-Framework-Core

[2021-12-01 13:29] #10038 closed, assigned to mehmet-erim

[2021-12-01 18:05] nev-21 commented on #10024
Hello @mehmet-erim. It is working now. Thanks

[2021-12-01 18:05] #10024 closed, assigned to mehmet-erim

[2021-12-01 22:04] jhulbertpmn opened #10818 "Storage of ExtraProperties in CosmosDB"
* Your **ABP Framework version**. 5.0 rc1
* Your **User Interface** blazor wasm
* Your database provider ef core

I created a few extra user properties following the instructions at https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#more and that all worked as expected.
When I look in my Cosmos DB at a user with some values saved for the extra properties I see the data there though the con

[2021-12-02 01:34] maliming opened #10819 "Use file scoped namespaces for static C# proxy classes."

[2021-12-02 01:59] maliming commented on #10818
This is controlled by `ExtraPropertiesValueConverter`.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/ValueConverters/ExtraPropertiesValueConverter.cs#L12

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Modeling/AbpEntityTypeBuilderExtensions.cs#L65

[2021-12-02 02:32] #10110 closed, assigned to ismcagdas

[2021-12-02 02:32] #10029 closed, assigned to nobody

[2021-12-02 06:01] #10766 closed, assigned to gterdem

[2021-12-02 06:56] #10743 closed, assigned to mehmet-erim

[2021-12-02 07:09] cbaille opened #10822 "Unit test error: Volo.Abp.AbpException : Undefined feature: Identity.MaxUserCount0"
ABP Framework version: 5.0.0-rc1
User Interface: Angular
database provider: EF Core

1- Create a new solution
2- Create an entity
3- Open Test explorer

When I right click on EntityFrameworkCore project and select run, all tests fails with the message

`Volo.Abp.AbpInitializationException : An error occurred during the initialize Volo.Abp.Modularity.OnApplicationInitializationModuleLifecycleContri

[2021-12-02 07:12] muhammedaltug commented on #10774
Hello @cbaille

Thanks for reporting this issue.  Bugfix will available in the next version.

[2021-12-02 07:12] #10774 closed, assigned to muhammedaltug

[2021-12-02 08:13] maliming commented on #10822
Is it belong ABP commercial?

[2021-12-02 08:19] cbaille commented on #10822
Yes it does

On Thu, 2 Dec 2021, 15:13 maliming, ***@***.***> wrote:

[2021-12-02 08:27] maliming commented on #10822
Please get help on https://support.abp.io/

[2021-12-02 08:27] #10822 closed, assigned to nobody

[2021-12-02 08:43] #10712 closed, assigned to bnymncoskuner

[2021-12-02 11:01] hamed-lohi opened #10832 "how to get source of angular project of Create New Project in https://abp.io/get-started"
excuse me, i don't find way to ask my question and here asked.
how to get source of angular project of Create New Project in  https://abp.io/get-started ?

[2021-12-02 12:16] hikalkan opened #10833 "Blazor server page progress is not working"
To test it:

[code]

See doc: https://docs.abp.io/en/abp/latest/UI/Blazor/Page-Progress

Nothing happens.

[2021-12-02 12:21] maliming commented on #10832
https://github.com/abpframework/abp/tree/dev/templates/app/angular

[2021-12-02 13:19] hamed-lohi commented on #10832
Thanks ,
I have one other question, is abp framework seo friendly, specially with angular ?

[2021-12-02 22:12] tvddev commented on #9997
When will it be avaialable for Blazor WASM??, it's such a basic really important feature for SaaS.

[2021-12-03 00:45] maliming commented on #10832
Yes

[2021-12-03 00:45] #10832 closed, assigned to nobody

[2021-12-03 01:06] maliming commented on #9997
This is a limitation of Blazor, and there is nothing we can do at the moment.

[2021-12-03 01:14] zhangtingwz opened #10834 "Create a new Menu ModelState is not valid!"
nice to meet you
i`m a learner

i meet a question
![捕获](https://user-images.githubusercontent.com/26179617/144527400-37fbf6be-f90c-42e2-8bdc-9bbe12cafcf0.PNG)
when i create a new Razor Page,then open it

this is my MenuContributor
![捕获](https://user-images.githubusercontent.com/26179617/144527565-c0d79889-0d07-47ff-ae47-2d18fea92208.PNG)

this is my directory
![捕获](https://user-images.githubuserco

[2021-12-03 01:52] zhangtingwz commented on #10834
I may find some of the reasons for this problem. Filling "/ someurl" in the URL will report an error, but if "/ someurl / secondurl" is OK, and I need to modify the namespace of razorpage to mywork.pages.someurl.secondurl, I don't know why the primary directory can't be used, Is it because the files under Microsoft's package are used by default, so the corresponding namespace is not found

[2021-12-03 01:53] zhangtingwz commented on #10834
such as
![捕获](https://user-images.githubusercontent.com/26179617/144531260-6970d1e1-dc9f-465c-94b3-66502a99cc46.PNG)

[2021-12-03 04:21] BeiMeng commented on #10362
abp add-module corrupts the solution file   Your ABP Framework version. - 4.4.4   user abp add-module Volo.Account --with-source-code --add-to-solution-file --skip-db-migrations

[2021-12-03 05:50] hamed-lohi commented on #10832
What method did you use for SEO in Angular?

[2021-12-03 05:59] #10819 closed, assigned to realLiangshiwei

[2021-12-03 06:02] realLiangshiwei commented on #10362
@BeiMeng  https://github.com/abpframework/abp/issues/10362#issuecomment-946533503

Move to: https://github.com/abpframework/abp/issues/10388

[2021-12-03 06:02] #10362 closed, assigned to nobody

[2021-12-03 06:23] billpeace opened #10835 "Can update angular project Created by https://abp.io/get-started"
### Documentation

From https://abp.io/get-started, Create an angular-based project， But angular project cannot install by npm i or yarn

Can update  angular project

thanks

### GitHub Issues

While resolving: FirstProject@0.0.0
npm ERR! Found: @angular/compiler@12.0.5
npm ERR! node_modules/@angular/compiler
npm ERR!   @angular/compiler@"~12.0.0" from the root project
npm ERR!
npm ERR! Could not

[2021-12-03 06:27] rakeshkgsg opened #10836 "Blazor Server JSException"
Hi,

There seems to be a bug in the blazor version when we perform navigation - use NavigationManager.NavigateTo (url);
For simplicity, create a new blazor server project and debug run it in visual studio - the click on the login button.
It throw lots of JSExceptions and the whole visual studio becomes slow. Finally it will end and the page will slowly start loading as the threads gets disposed.
B

[2021-12-03 06:34] afresh opened #10837 "How to migrate the database according to the connection string of each tenant?"
**ABP Framework version:** 4.4.3.
**Database provider:** EF Core.

**Problem:**
I use the microservice demo. I want to configure each tenant with its own connection string. When I call the API with the tenant, it reports an error that the relationship "AbpUsers" does not exist. I know it is because I did not migrate the database. I want ABP to automatically migrate the database according to the co

[2021-12-03 06:44] realLiangshiwei commented on #10837
You can check: https://github.com/abpframework/eShopOnAbp

[2021-12-03 07:27] #6977 closed, assigned to gterdem

[2021-12-03 07:37] ebicoglu commented on #10695
users can migrate v4x from the migration guide

[2021-12-03 07:50] enisn opened #10838 "Some articles and example applications using the CMS Kit (ex: a photo gallery application with tagging, comment, reactions feature)"

[2021-12-03 08:18] hikalkan commented on #10813
It is live now: https://docs.abp.io/en/abp/5.0/Getting-Started-AspNetCore-Application

[2021-12-03 08:18] #10813 closed, assigned to maliming

[2021-12-03 08:23] leonkosak commented on #6977
@hikalkan what about DevExpress Dashboard?

[2021-12-03 08:37] cbaille opened #10840 "Host project from Blazor template do not run after upgrade to 5.0.0-rc1"
ABP Framework version: 5.0.0-rc1
User Interface: Angular
database provider: EF Core

1- Create a new solution
2- Upgrade to prerelease packages
3- Make this packages changes about being able to build the solution:

     Domain.Shared project:
     Microsoft.Extensions.FileProviders.Embedded 5 to 6

     Replace Framework target Core 5 to 6 to projects who needs

     Blazor:
     Blazorise.Compone

[2021-12-03 08:47] realLiangshiwei commented on #10833
The open-source is no problem but not app pro. I will fix it in the volo repo.

The default color is black, try

[code]

![image](https://user-images.githubusercontent.com/16813853/144572987-ddd49334-d37d-4a58-9961-892d6d335109.png)

[2021-12-03 08:55] EngincanV opened #10841 "Update the "Using Elsa Workflow with ABP Framework" article"
After https://github.com/abpframework/abp-samples/pull/113 is merged, update the "[Using Elsa Workflow with ABP Framework](https://github.com/abpframework/abp/blob/dev/docs/en/Community-Articles/2021-06-17-Using-Elsa-Workflow-with-ABP-Framework/POST.md)" article.

[2021-12-03 09:18] AlexanderPilhar opened #10842 "How to implement a Webhook system"
Community Article Request

I'd like to have some guidence about how to implement a proper webhook system in abp.
I want two or more separate abp installations to be able to communicate via webhooks.

I'd really appriciate your help!

[2021-12-03 10:16] berkansasmaz opened #10843 "While downloading the module with source code, I get an error locally."
Related: https://github.com/abpframework/abp/pull/10827
https://github.com/abpframework/abp/blob/ee23e33cb39f336ef0655476e2c3a3246b83b3fe/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/AbpIoSourceCodeStore.cs#L86-L89

I get an error when I use the `add-module` command.

Arguments: `add-module Volo.TenantManagement --with-source-code --add-to-solution-file`

[code]

**PS:** I tested t

[2021-12-03 10:56] afresh commented on #10837
@realLiangshiwei Thanks! Could you be more specific? I didn't find the multi tenant configuration in the eShopOnAbp project.

[2021-12-03 11:04] ebicoglu opened #10844 "how to implement a proper webhook system in abp?"
show how to talk two or more separate ABP installations to be able to communicate via webhooks.
reported at #10842

[2021-12-03 11:05] ebicoglu commented on #10842
see https://github.com/abpframework/abp/issues/10844

[2021-12-03 11:05] #10842 closed, assigned to nobody

[2021-12-03 11:08] ebicoglu commented on #10840
1. stop your running projects
2. reference the https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.InMemory the latest version
3. delete all bin & obj folders
4. try running again

[2021-12-03 11:13] berkansasmaz opened #10845 "Installer of the `Volo.Users` module is faulty"
https://github.com/abpframework/abp/blob/ee23e33cb39f336ef0655476e2c3a3246b83b3fe/modules/users/src/Volo.Abp.Users.Installer/Volo/Abp/Users/UsersInstallerPipelineBuilder.cs#L14-L17

The above line of code adds the following line of code to the `MyProjectName.EntityFrameworkCore` project.

`            builder.ConfigureAbpUser();
`

However, `ConfigureAbpUser` method can be used with `EntityTypeBui

[2021-12-03 11:14] bnymncoskuner commented on #10835
Hello,

What is your npm version?

[2021-12-03 11:22] #10310 closed, assigned to berkansasmaz

[2021-12-03 11:30] cbaille commented on #10840
I added this line to EntityFrameworkCore.csproj, even if I do not have any reference anywhere about Microsoft.EntityFrameworkCore.InMemory before:

    `<PackageReference Include="Microsoft.EntityFrameworkCore.InMemory" Version="6.0.*" />`

Now I got another error:

[code]

[2021-12-03 11:42] realLiangshiwei commented on #10837
https://github.com/abpframework/eShopOnAbp/blob/main/services/administration/src/EShopOnAbp.AdministrationService.HttpApi.Host/DbMigrations/AdministrationServiceDatabaseMigrationEventHandler.cs

[2021-12-03 11:45] maliming commented on #10845
@cotur Can you check this?

[2021-12-03 11:54] cbaille commented on #10840
I shared you the solution

[2021-12-03 12:12] billpeace commented on #10835
npm version 8.1.4

[2021-12-03 12:37] #10833 closed, assigned to realLiangshiwei

[2021-12-03 16:40] vijay2358 commented on #9699
If needed will provide more info and sample project.

[2021-12-03 17:55] ebicoglu commented on #10836
is it the same when using Kestrel?

[2021-12-04 00:41] afresh commented on #10837
@realLiangshiwei Thank you very much! I seem to understand.

[2021-12-04 00:50] #10837 closed, assigned to nobody

[2021-12-04 05:59] #10148 closed, assigned to enisn

[2021-12-04 12:54] bdieaq commented on #995
Hi @SarcoZ
Did you supported Cassnadra with ABP?
Regards

[2021-12-04 13:55] Loongle commented on #2801
@gterdem An `Operation is not supported on this platform` exception occurs when running on IOS, can you try?

[2021-12-05 15:38] hikalkan opened #10850 "Quote block bottom padding problem in docs module"
See this:

![image](https://user-images.githubusercontent.com/1210527/144753203-718b76eb-b511-4f92-acfa-f7cdcaf8329d.png)

Taken from https://docs.abp.io/en/abp/latest/UI/Blazor/Error-Handling

I suppose this is related to BS 5.x upgrage. Please fix it in rel-5.0 branch.

[2021-12-05 17:06] qaniqani opened #10851 "How to use volo.abp.cli in Ubuntu?"
Hello, I am using Linux Ubuntu 20.04.

I installed the CLI with the command "sudo dotnet tool install -g Volo.Abp.Cli".

But I couldn't find how to run "abp login email@address.com" command. When I looked with the "dotnet tool list", I couldn't find it in the downloads.

![image](https://user-images.githubusercontent.com/19714568/144756016-07c392a5-f4f4-4a70-b4e8-9faa5abd0a1c.png)

"dotnet tool li

[2021-12-05 17:48] EngincanV commented on #10850
Blockquote styling problem will be fixed with https://github.com/abpframework/abp/pull/10808

[2021-12-05 22:02] JoseMaZ530 commented on #10840
any response?..

[2021-12-06 00:59] maliming commented on #10851
hi

![image](https://user-images.githubusercontent.com/6908465/144771539-ed331633-da17-49ba-9eaf-21201abfa754.png)
[code]

[2021-12-06 01:47] cbaille commented on #10840
I made the project running by commenting the line about HealthCheck on HttpApiHostModule class:

ConfigureHealthChecks(context);

So the upgrade might affect that part?

[2021-12-06 01:57] maliming commented on #10840
hi

Try to use the RC packages of `HealthChecks`.

[code]

[2021-12-06 02:12] cbaille commented on #10840
It runs well now thanks :)
As it is RC packages, should it be used temporarily only?

[2021-12-06 02:16] maliming commented on #10840
https://github.com/Xabaril/AspNetCore.Diagnostics.HealthChecks/issues/845#issuecomment-965587546

[2021-12-06 02:16] #10840 closed, assigned to nobody

[2021-12-06 03:18] Gsonovb opened #10852 "[Document Translation] getting started web translation - Chinese"
hello everyone

I updated the "getting started web application" document translation  at https://github.com/Gsonovb/abp/commit/8027c4691d045291b19ec5b77dc64273b47bbaba

Where do I post it? thank you.

[2021-12-06 04:14] realLiangshiwei commented on #10852
Hi,

Thanks, you can send a PR.

[2021-12-06 04:57] Gsonovb commented on #10852
HI,

I send PR  https://github.com/abpframework/abp/pull/10853

Please check, thank you

[2021-12-06 05:34] #10852 closed, assigned to nobody

[2021-12-06 05:59] #10841 closed, assigned to EngincanV

[2021-12-06 07:39] #10787 closed, assigned to realLiangshiwei

[2021-12-06 07:39] #10843 closed, assigned to realLiangshiwei

[2021-12-06 07:51] gterdem commented on #2801
@Loongle I think you wanted to mention someone else? :)

[2021-12-06 08:04] slarkerino opened #10858 "How to use different DBMS for different Tenant"
For example, Is it possible to use MYSQL for tenant A and SQLSERVER for tenant B?

[2021-12-06 08:28] #10818 closed, assigned to nobody

[2021-12-06 08:45] maliming commented on #10576
You can set custom info in `eventData`, and rewrite the publishing code.

[2021-12-06 08:48] #10789 closed, assigned to yekalkan

[2021-12-06 08:48] maliming commented on #10858
You can do this in microservices.  Only one type of database can be used in a monolithic application.

[2021-12-06 08:48] #10858 closed, assigned to nobody

[2021-12-06 08:50] #10850 closed, assigned to yekalkan, armgnunlu

[2021-12-06 08:50] #10802 closed, assigned to EngincanV

[2021-12-06 09:49] afresh opened #10862 "How to insert and query across services in microservices?"
**ABP Framework version: 4.4.4**
**Database provider: EF Core**

**Questions:**
In the `EShopOnAbp` project, I want to insert an order when ensuring the existence of user A, and query the order by the name of user A. And I want to update the order when I inserting a payment. If it's a single application, I know how to implement it. How to implement it in microservices?

[2021-12-06 10:28] qaniqani commented on #10851
Thnx dude, that's exactly what I needed!
It works perfectly.

[2021-12-06 10:35] #10851 closed, assigned to nobody

[2021-12-06 12:56] maliming commented on #10862
hi

https://docs.abp.io/en/commercial/latest/startup-templates/microservice/interservice-communication

[2021-12-06 13:34] mehmet-erim commented on #10781
Hello @begandroide

We've fixed the initialization problem. However, navigation between layouts (like from empty layout to application layout) still the same issue exists.
I suggest you move the logic from the constructor to the `ngOnInit`.

Thanks for reporting this!

[2021-12-06 14:02] muhammedaltug opened #10866 "Add http param encoder option to rest service"

[2021-12-06 14:11] mkydouglas opened #10868 "Cannot find module '@abp/ng.core'"
Hello guys!

My Angular Abp project isn't find the module '@abp/ng.core'. I'm trying to access it to use the PermissionService.

The project is up to date.

Look the image.

![image](https://user-images.githubusercontent.com/40704841/144861004-280bd10e-995c-4eb6-a271-fc970a490ba4.png)

Thanks!

[2021-12-06 14:23] #10866 closed, assigned to muhammedaltug

[2021-12-06 17:54] begandroide commented on #10781
@mehmet-erim  thanks to all of you! logic already moved.

[2021-12-06 21:27] tinonetic commented on #7957
Thank-you!

Sorry for the late reply, but will definitely check it out!

[2021-12-07 00:57] #7957 closed, assigned to nobody

[2021-12-07 05:08] #10174 closed, assigned to nobody

[2021-12-07 05:25] mehmet-erim commented on #10868
Hello @mkydouglas

If you run the following command, your problem probably be resolved:

[code]

I'd like to learn installed packages in your app to understand is there any problem. Can you run the following command and share the result?

[code]

Thanks!

[2021-12-07 06:31] mehmet-erim commented on #10278
Hello @pagner

What is the `@abp/ng.core` package version? I can't reproduce it.
There was a problem as you described. But it was resolved 11 months ago.

[2021-12-07 08:20] BeiMeng opened #10872 "abp add-package Template is empty"
ABP Framework version 4.4.4.

ABP Cli version 4.4.4.  also update current new

abp add-package Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic --with-source-code --add-to-solution-file
Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic Template download is empty

[2021-12-07 08:31] maliming commented on #10872
* Steps needed to **reproduce** the problem.

[2021-12-07 08:51] BeiMeng commented on #10872
use abp cli
1.run abp new Acme.BookStore -t app -u angular -m none --separate-identity-server
2. to Acme.BookStore.IdentityServer.csproj folder
3. run abp add-package Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic --with-source-code --add-to-solution-file
4. Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic project is empty, because Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic Template download is empty

[2021-12-07 09:00] maliming commented on #10872
![image](https://user-images.githubusercontent.com/6908465/144998389-832c9538-cf30-4de7-84d6-7a995420c228.png)

[2021-12-07 12:56] stousmand opened #10874 "How to configure WrapResult in Abp IO"
Hi I'm currently using Abp IO v4.4.4. And I managed to follow the documentation and examples to use Abp IO for a backend service application. I've seen that there is an attribute called WrapResult where the response of a REST api is wrapped with some additional fields that are used for error and paging etc. (could find StackOverflow questions about previous Abp versions on this). Is there a way to

[2021-12-07 13:26] maliming commented on #10874
hi

There is no `WrapResult` exist in ABP IO.  Your results will not be wrapped by default, you can implement it yourself in the MVC filter.

[2021-12-07 13:37] stousmand commented on #10874
Okay, thank you @maliming. I'll check

[2021-12-07 13:37] #10874 closed, assigned to nobody

[2021-12-07 13:37] berkansasmaz opened #10875 "There is a conflicting method/path combination for Actions in `5.0.0-rc.1`"
My Steps:
1. `abp new Acme.BookStore -t app -csf --preview --tiered -d mongodb` `||` `abp new Acme.BookStore -csf --preview --tiered -d mongodb`
2. Required steps for the app to work.
3. Open `Acme.Bookstore.Web` in the browser.
4. Go to the Swagger interface

[code]

[2021-12-07 13:44] maliming commented on #10875
This pr will resolve the problem.
https://github.com/abpframework/abp/pull/10820

[2021-12-07 13:44] #10875 closed, assigned to nobody

[2021-12-07 14:00] zhangzunke opened #10876 "Overriding GetDbContextAsync method can't work"
**ABP Framework version: 4.4.4**
**Database provider: EF Core**

I want to get data from the Tenant database instead of the Host database since the Book entity doesn't inherit the IMustTenant interface, so I need to override the method to ensure that always get data from the Tenant database.

I create an EfCoreBookRepository class to override it, the weird thing is that I can't override the method

[2021-12-07 14:14] maliming commented on #10876
You also need to override the methods and properties of `IQueryable`

See https://github.com/abpframework/abp/pull/10136/

[2021-12-07 14:14] #10876 closed, assigned to nobody

[2021-12-07 22:12] pagner commented on #10278
I am using version "@abp/ng.core": "~4.4.2",

I should mention that I have overridden my UI Template using the documented methods.
https://docs.abp.io/en/abp/latest/UI/Angular/Component-Replacement

Could this be the problem?

Thanks

[2021-12-08 06:40] afresh opened #10879 "How to change the admin's default email and password in the project eShopOnAbp?"
**ABP Framework version: 5.0.0-rc.1**

How to change the admin's default email and password in the project `eShopOnAbp`?
I have modified the `DefaultAdminEmailAddress` and `DefaultAdminPassword` in the `IdentityServiceDbProperties.cs`, but it's not effective.

`IdentityServiceDbProperties.cs`
[code]

`IdentityServiceDatabaseMigrationEventHandler.cs`
[code]

[2021-12-08 07:37] #9822 closed, assigned to realLiangshiwei

[2021-12-08 07:48] shershak commented on #5832
Hi! I have a situation where I need to use `eLayoutType.application` when the root route has no parameter `'/'` and `eLayoutType.empty` when the root route has a parameter `'/:id'`.

How can I use these routes with different layouts? Maybe some example code?
Thanks

[2021-12-08 07:56] CodeOutput commented on #3730
Setting ReferenceLoopHandling in JsonProperty on the attribute together with [JsonObject(IsReference = true)] solved the problem. The original answear with AddJsonOptions doesn't had any effect for me.

[2021-12-08 10:25] mattdeacon commented on #10835
Similar issue here too same version of npm - it just started happening this week out of the blue! Any further thoughts?

[2021-12-08 11:26] mehmet-erim commented on #10278
Check routing modules. You may have forgotten to add `canActive: [AuthGuard]`.

[2021-12-08 13:16] mkydouglas commented on #10868
Hello @mehmet-erim

Thanks for your help!

The results from your request is:
![image](https://user-images.githubusercontent.com/40704841/145214779-8ce1bbb7-7ccd-49c7-8653-11a87e69c76e.png)

[2021-12-08 13:30] zhangzunke commented on #10876
@maliming Thanks for your suggestion, I try to find the IQueryale properties, I found there is a property named **Provider** ,  the code as below:
[code]
So I try to override the **GetQueryable** method, the code as below:
[code]
Now I can get the Tenant data through the first method, however, it seems like the method will be removed in the coming version, maybe I need to use the second approach t

[2021-12-08 16:26] RoflLmao1 opened #10891 "Startup Template (Tiered), .IdentityServer and .Web not working when hosted in Google Cloud Run using Docker Images"
Details:
* ABP Framework version: 4.4.4
* User Interface: MVC / Razor Pages
* Database Provider: EF Core
* Project Type: Application
* DBMS: MySQL

I created a sample solution using the '[Get Started](https://abp.io/get-started)' template provided, setup the MySQL database (by running '**.DbMigrator**' project) and the Redis database required, and then updated the appsettings.json files for '**.Ht

[2021-12-08 19:58] berkansasmaz commented on #10891
If you haven't already, you can check [this article](https://blog.antosubash.com/posts/abp-deploy-with-docker).

[2021-12-09 00:46] afresh commented on #10879
Does anyone know? I created a new user. His email and password is right. But admin is not right.

[2021-12-09 01:17] maliming commented on #10879
Can you set a breakpoint at `HandleEventAsync` method to check the `adminEmail`?

[2021-12-09 01:44] fanslead opened #10892 "why Volo.Abp.Http.Client Deserialize response data from api/abp/api-definition use CamelCase"
Abp 4.4.4
[code]
when i set the JsonOptions JsonSerializerOptions.PropertyNamingPolicy = null in mvc
the remote service request throw an exception Object reference not set to an instance of an object.
[code]
[code]
I debug reference Volo.Abp.Http.Client source found the value of property Modules and Types in the result after JsonSerializer.Deserialize is null. Is it a bug?

[2021-12-09 02:17] afresh commented on #10879
@maliming I had added logs in the function `HandleEventAsync`, but the logs were not printed. I'm sure the function `HandleEventAsync` did not be executed. So, is there a place where I can set the admin's email and password?
In the [`IdentityServerDataSeeder.cs`](https://github.com/abpframework/eShopOnAbp/blob/main/services/identity/src/EShopOnAbp.IdentityService.HttpApi.Host/DbMigrations/Identity

[2021-12-09 02:18] maliming commented on #10879
What's your steps?

[2021-12-09 02:29] afresh commented on #10879
@maliming
Steps:
1. Delete the admin user in database.
2. Add logs.
[code]
3. Run the project `Yms.IdentityService.HttpApi.Host`.
4. Query AbpUsers in the database, find the admin has been added and the email is `admin@abp.io`.
![image](https://user-images.githubusercontent.com/5461256/145323007-387f1185-0f8a-4a9c-a57f-0a339465ff56.png)
5. View the log. It has no `HandleEventAsync(TenantCreatedEto

[2021-12-09 02:34] #10892 closed, assigned to maliming

[2021-12-09 03:05] maliming commented on #10879
I tested it, It works.

![image](https://user-images.githubusercontent.com/6908465/145327198-d69bc089-77ec-4e5f-8ba4-32bced081325.png)

[2021-12-09 03:19] afresh commented on #10879
@maliming Thank you! I drop the database and recreate a database. Then the admin's email is now right. But I don't know why deleting users directly doesn't take effect.

[2021-12-09 03:19] #10879 closed, assigned to nobody

[2021-12-09 04:33] stousmand opened #10895 "How to create your own claim principals to populate CreatorId, LastModifierId, DeleterId"
Hi currently I'm using Abp IO 4.4.4 and I've configured it to use an auth (OIDC) server that is not the Identity server that comes with Abp IO. The gap I have to bridge here is I need to get the User from a custom data sources that I've created instead of AbpUser and once the Bearer token introspection is done a principal is created (please correct me if I'm wrong). My goal is to set the audit fie

[2021-12-09 04:52] maliming commented on #10895
This is more related to your `auth (OIDC) server`. It controls the content in claims(tokens)

[2021-12-09 06:47] stousmand commented on #10895
@maliming thanks, I understand that but my question is, the claims that are sent from the auth are mapped to a principal object on Abp IO right? So I'm asking is there some kind of extension or handler or some other method where we could customize that mapping... or implement a custom Principal creation on Abp?

[2021-12-09 06:50] maliming commented on #10895
ABP uses Microsoft's `UseAuthentication` middleware. You can check its document.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/claims?view=aspnetcore-6.0

[2021-12-09 06:50] #10895 closed, assigned to nobody

[2021-12-09 07:58] maliming commented on #10872
hi
You can use `abp get-source Volo.BasicTheme` command to get source code of the module.

[2021-12-09 07:58] #10872 closed, assigned to nobody

[2021-12-09 10:34] zhangzunke opened #10897 "Authorization between different modules"
**ABP Framework version : 4.4.4**
 **Your database provider: EF Core**

I have a monolith structure with two modules Module A and Module B, each module can be consumed by SAP,  Module A and Module B  have their own application services AppServiceA and AppServiceB, they need different permission.

The scenario is if I want to access the AppServiceB method in the AppServiceA, there is a permission i

[2021-12-09 10:57] afresh commented on #10897
See https://github.com/abpframework/abp/issues/9322#issuecomment-861487841 .
I haven't tried yet. Can you try it?

[2021-12-09 11:57] nebula2 opened #10898 "Problem with minimal api using HttpApi.Client"
### Requirement
I want to consume the dynamic c# client in a [minimal api](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/minimal-apis?view=aspnetcore-6.0). When I try this I get exceptions building the ServiceProvider.
This may be due to misusage or incompatibility.

### Issue
![image](https://user-images.githubusercontent.com/5841525/145389924-b993b31a-7a96-4271-a73d-216e3c677905.png)

[2021-12-09 12:01] maliming commented on #10898
https://github.com/abpframework/abp/issues/10587#issuecomment-964765477

[2021-12-09 12:01] #10898 closed, assigned to nobody

[2021-12-09 12:11] nebula2 commented on #10587
Am I missing something? I get another exception >.<

[code]

leads to:
Exception
[code]
Inner:
[code]

[2021-12-09 12:15] maliming commented on #10587
@nebula2 Try to use `AutoFac`.

[2021-12-09 12:21] nebula2 commented on #10587
Sorry for my stupidy :/ can you please explain me how?

[2021-12-09 12:25] wjamieson opened #10899 "returnUrl Not Working After Successful Login"
ABP Version: 4.4.0
UI: Blazor Server
Browser: Tested on Firefox and Chrome

Scenario: A user tries to access an Authorized page when not logged in, and are correctly redirected to the login page. However when they enter correct credentials with valid permissions, they are taken to the standard index.razor page, not the original page they tried to access. The returnUrl query parameter is automatica

[2021-12-09 12:32] maliming commented on #10587
https://github.com/abpframework/abp/blob/dev/docs/en/Getting-Started-AspNetCore-Application.md

[2021-12-09 12:41] zhangzunke commented on #10897
@afresh  Maybe the solution can't meet my requirements, AppServiceB still needs to be added permission checked since it will be consumed by SAP, so I can't create a subclass to replace it and add the AllowAnonymous attribute.

I just want to ignore the permission check when it is used by another module service, add still keep the permission check when it is used as restful API by a client, maybe t

[2021-12-09 12:43] nebula2 commented on #10587
Thank you very much!

this now works:
[code]

[2021-12-09 12:51] realLiangshiwei commented on #10899
Hi,

I will check it.

[2021-12-09 13:12] realLiangshiwei commented on #10899
It's a problem, we will fix it.

For now, you can try:

`appsettings.json`
[code]

[code]

[2021-12-09 13:22] #10899 closed, assigned to realLiangshiwei

[2021-12-09 13:26] wjamieson commented on #10899
@realLiangshiwei I'll try this. Thanks for replying so quickly!

[2021-12-09 13:53] djordjedjukic commented on #2087
hey @aboutdomtime, did you have any progress on this?

[2021-12-09 17:21] pavini commented on #10411
ABP CLI:  5.0.0-rc.2
ABP Version: 5.0.0-rc.2
UI Type: Razor Pages
Database Provider: EF Core

Dears,

I'm very confused.

After reading some tutorials, I still can't get it to work.

As you can see in the image below, there are controllers in /api/abp/api-definition

![CleanShot 2021-12-09 at 14 15 18@2x](https://user-images.githubusercontent.com/202020/145444325-52d8b78c-a16d-4c1b-95d7-a062b9a7c6

[2021-12-09 23:51] pagner commented on #10278
Nope, that's not it. I have canActivate: [AuthGuard] in both the
app-routing.module and the home-routing.module.

Initially I did not have it in the home-routing.module. I added it there as
well and it did not make a difference.

:-(

On Wed, Dec 8, 2021 at 3:26 AM Mehmet Erim ***@***.***> wrote:

[2021-12-10 06:44] #10845 closed, assigned to yekalkan, cotur

[2021-12-10 07:20] Loongle commented on #2801
@Hardshop18

[2021-12-10 09:54] realLiangshiwei opened #10904 "Update samples for ABP 5.0.0"

[2021-12-10 10:27] gterdem opened #10905 "eShopOnAbp: web application api-configuration dependency"
Angular app needs to get `localization` and `permission` information from api-configuration end-point.
This request is re-routed to administration service (https://github.com/abpframework/eShopOnAbp/blob/d6ba98c098e2158933da2ede06370f846b871a64/gateways/web/src/EShopOnAbp.WebGateway/appsettings.json#L49).

Since AdministrationService doesn't have reference to other microservices' `Application.Cont

[2021-12-10 11:01] mehmet-erim commented on #10868
I assume your problem is resolved. I am closing this one. If you will encounter any problems, feel free to create a new issue or ask a question on the [StackOverflow](https://stackoverflow.com/questions/tagged/abp).

[2021-12-10 11:01] #10868 closed, assigned to mehmet-erim

[2021-12-10 11:58] NecatiMeral commented on #10905
Couldn't you just use the [Request Aggregation](https://ocelot.readthedocs.io/en/latest/features/requestaggregation.html) feature of ocelot to merge the `localization` and `permission` informations?

[2021-12-10 12:03] piyushysoft commented on #4649
Hello ,
I want to add breadcrumbs of child page but it should not be visible as menu item( submenu).
Any one please guide us.
Thanks,

[2021-12-10 12:07] begandroide commented on #4649
@piyushysoft did you try to use `invisible` property in route provider?

[2021-12-10 12:18] piyushysoft commented on #4649
Yes, I added invisible : true for child menu route but its invisible parent and child both menu from page.
My sample code for route provider please review it and give me suggestion if you have.

{
        path: '/test-processes',
        iconClass: 'fas fa-file-alt',
        name: '::Menu:TestProcesses',
        layout: eLayoutType.application,
        requiredPolicy: 'ABC.TestProcesses',
      },

[2021-12-10 12:51] yhdkzy opened #10910 "Failed to initialize seed data with SQLite"
version：4.4.4
database provider(EF Core/Sqlite)
![image](https://user-images.githubusercontent.com/1321058/145575583-1d6907bb-c865-4de2-82e8-14d98704459a.png)

Steps:
1.

![image](https://user-images.githubusercontent.com/1321058/145575689-d7559e5a-3bb7-47bf-9c49-90b16a0dcf1f.png)

2.
![image](https://user-images.githubusercontent.com/1321058/145575749-da27cb90-b52b-4dd0-9de4-a2e9d646840e.png)

re

[2021-12-10 13:20] maliming commented on #10910
I can't reproduce the problem.

[2021-12-10 13:22] munirsalim opened #10911 "Domain event is called before entity update on MongoDBRepository"
Abp Version: 4.4.1
Database provider: MongoDB

### Description

We are trying to handle a LocalEvent dispatched inside an aggregate root and get the updated entity value but, looking to the implementation of MongoDbRepository.UpdateAsync, it's seems impossible to happen.

### Steps to reproduce

1) Create an Entity and some method that update some field.
2) At the end of this method call AddLocalE

[2021-12-10 13:31] gterdem commented on #10905
We can take a look at that. However we will need to do the same if we decide to change the gateway to envoy (or something else).

Thanks for the suggestion, I'll check if we can deep-merge the api-configuration.json files in various api gateways.

[2021-12-10 14:11] #10910 closed, assigned to nobody

[2021-12-10 14:16] RoflLmao1 commented on #10891
Thanks for the link. I added the 'same site cookies' fix provided, and it seems to have solved the issue at the '**.IdentityServer**' project regarding the login.

However, the issue at the '**.Web** project still persists.

[2021-12-10 14:52] realLiangshiwei opened #10912 "Code style problem of the doc and blog module"
![image](https://user-images.githubusercontent.com/16813853/145593292-dc6adda8-20a9-4bfb-9e37-3b1706fb2e59.png)

[2021-12-10 15:04] ArneCools opened #10913 "Add claims from external login"
* Your **ABP Framework version**.
4.3.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
Blazor server
* Your database provider(EF Core/MongoDB)
EF Core
* Exception message and **stack trace** if available (check the logs).
None
* Steps needed to **reproduce** the problem.
1. Add external login
2. Add claims from external login in implementation o

[2021-12-10 15:33] #10912 closed, assigned to realLiangshiwei

[2021-12-10 15:40] realLiangshiwei opened #10915 "Update document"
Should be `bootstrap v5`

![image](https://user-images.githubusercontent.com/16813853/145600253-a7367870-4bf1-4c47-a3e9-954f78604348.png)

When I try the [docs module document](https://docs.abp.io/en/abp/latest/Modules/Docs), it does not work.

[2021-12-10 22:12] begandroide commented on #4649
@piyushysoft these looks fine. Are you using abp-page component from ng.components?

[2021-12-11 06:41] dicksonkimeu commented on #10904
This will include the CRM sample for abp commercial?you can add ms sql to it instead of sql lite ?

[2021-12-11 09:54] #10191 closed, assigned to ebicoglu

[2021-12-11 09:54] #10206 closed, assigned to nobody

[2021-12-11 09:54] #10209 closed, assigned to nobody

[2021-12-11 12:41] berkansasmaz commented on #10891
There could be many reasons for this. For example, if you do not set `ASPNETCORE_ENVIRONMENT` to `Production` after publishing the `*.Web` project, it will not work.

Can you send the logs of the `*.Web` project so that I can diagnose it fully?

[2021-12-12 06:45] RoflLmao1 commented on #10891
The setting for `ASPNETCORE_ENVIRONMENT` is currently set to `Production`. I tried setting it to `Development`, and the build can't even start up altogether.

May I know which environment variables to set to enable more detailed logging for the website for the ABP framework?

From my understanding, the '**/Account/Login**' page seems to be redirecting to the '**.Identity.Server**'s login page and

[2021-12-12 13:14] sturlath opened #10916 "Problem uploading a file using MultipartReader"
I´m trying to upload a big file using multipart request but using this framework I´m getting the following error

There is like something in Abp is "messing with" the communication and I can´t find out what.

I updated [this repository](https://github.com/sturlath/RolesDemo) with code to try it out.  Just run it and upload a  file and see it fail.

The error happens in [this code](https://github.c

[2021-12-12 20:11] bnymncoskuner commented on #10835
Angular v12.x works with node v14 and npm v6. We haven't updated to angular v13 yet.

[2021-12-13 01:07] maliming commented on #10916
You can try to use [IRemoteStreamContent](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Volo/Abp/Content/IRemoteStreamContent.cs#L6) in the tiered project.

[2021-12-13 01:28] maliming commented on #10913
`iAbpClaimsPrincipalContributor` is not designed for external logins. The claims should be provided by external authentication scheme.

[2021-12-13 01:31] realLiangshiwei commented on #10303
It related to Clock skew
See https://stackoverflow.com/questions/47153080/clock-skew-and-tokens

[2021-12-13 01:31] #10303 closed, assigned to nobody

[2021-12-13 02:22] #10915 closed, assigned to realLiangshiwei

[2021-12-13 02:33] realLiangshiwei commented on #10904
Hi @dicksonkimeu
No, This is open-source side.

[2021-12-13 05:41] piyushysoft commented on #4649
Yes, I am using abp-page component. I have attached the screenshot:

![image](https://user-images.githubusercontent.com/54830712/145758366-4188be1f-d485-4630-9c82-f97ccf11b099.png)

![image](https://user-images.githubusercontent.com/54830712/145758407-8957cba0-385a-4672-bacd-7328befc9d40.png)

[2021-12-13 05:58] send2vinnie opened #10919 "Elaboration to the document of the Transaction & Exception Behavior of Local Event Bus"
### Transaction & Exception Behavior of Local Event Bus
By checking the [Transaction & Exception Behavior](https://docs.abp.io/en/abp/4.4/Local-Event-Bus#transaction-exception-behavior) of Local Event Bus document, I assume that the behavior is only applicable for the Local Event Bus with Retry Strategy disabled. So it's recommended to elaborate the content of this section that the behavior is onl

[2021-12-13 06:37] #10726 closed, assigned to nobody

[2021-12-13 06:50] #10309 closed, assigned to nobody

[2021-12-13 07:47] #10241 closed, assigned to nobody

[2021-12-13 07:55] send2vinnie commented on #10919
The "Retry Strategy & Event Error Handler" option has been removed since v5.0 due to #10034 so there is no needs for the elaboration of the behavior to the document mentioned in the issue.

[2021-12-13 07:55] #10919 closed, assigned to nobody

[2021-12-13 08:31] maliming commented on #10911
hi

This will be not a problem after 5.0(https://github.com/abpframework/abp/issues/9896)

Can you try to override the methods of `MongoDbRepository`?

[2021-12-13 08:32] iyilm4z opened #10920 "Define constants for missing cli command names"
Define constants for missing cli command names like GenerateProxyCommand.Name.

[2021-12-13 13:59] NicolasEhrhard commented on #9491
Hello, any update on this ? I've got the same error with Blazor Server .Net 6. This error came when i Depend On AbpAspNetCoreMvcModule

[2021-12-13 14:42] NicolasEhrhard opened #10924 "Blazor Server .net _Host Ambiguous Exception"
ABP Framework version : 5.0.0-rc.2
Blazor Server
EF Core
.Net 6

AmbiguousMatchException: The request matched multiple endpoints. Matches:
/_Host
/_Host
Microsoft.AspNetCore.Routing.Matching.DefaultEndpointSelector.ReportAmbiguity(CandidateState[] candidateState)

To reproduce this :
Create new Blazor Server .net 6 app.
Add module who inherit from AppModule, register it and add depend to AbpAspNet

[2021-12-13 17:58] munirsalim commented on #10911
Ok @maliming . Thank you!

[2021-12-13 17:58] #10911 closed, assigned to nobody

[2021-12-13 19:16] cotur commented on #10706
https://github.com/cotur/abp-single-layer-template

Project has been created initially, it will be upgraded in time.
I will create new issue for article.

[2021-12-13 19:16] #10706 closed, assigned to cotur

[2021-12-13 23:57] fxhst329 commented on #7221
I think most of above posts are just continuation of not the best implementation of authentication. Even first post directly from ABP developer doesn't solve ABP's biggest issues with Oauth.

ABP is tightly coupled with IdentityServer and it's not as simple to just switch. We would suggest it's completely redesigned so ABP supports different Oauth providers.

We are however inclining to solution w

[2021-12-14 00:00] beriniwlew commented on #7221
I agree that we must decouple things from IDS4.   There are many interesting projects out there that can be an excellent alternative.  I also hope the priority of this will be stepped up.

[2021-12-14 00:17] begandroide opened #10926 "Angular: User form is not mapping backend validation errors"
Hi! im adding validation errors to my app and i has an issue with validation in user module with creation of user with username: admin (or one existing). The problem is that validation error is showed in dialog (fine) but not is mapped to form field (username in this case). I'm missing something in api configuration? (I attached a gif to see the behaviour).

* **ABP Framework version**: 4.4.4
* An

[2021-12-14 00:47] maliming commented on #10924
Can you share a project?

[2021-12-14 01:18] maliming opened #10927 "Add `domain` setting to LDAP."
https://support.abp.io/QA/Questions/2263

[2021-12-14 03:21] CristWu opened #10929 "HttpApi.Client Null object reference exception"
I am learning how to use httpApi.Client module by  the official webside(https://docs.abp.io/en/abp/5.0/API/Dynamic-CSharp-API-Clients#service-interface) with abp veriosn 5.0 rc2

the remote service is injected but it runs wtih an exception  null reference exception in volo.abp.http.client

the statcktrace is

   在 Volo.Abp.Http.Client.ClientProxying.ClientProxyBase`1.get_ClientOptions()
   在 Volo.

[2021-12-14 03:32] realLiangshiwei commented on #10929
* Steps needed to **reproduce** the problem.

[2021-12-14 03:48] CristWu commented on #10929
first, fowllowing the website tutorial to buid up a httpApi.Client module depends on contracts module and volo.abp.http module
second, create a testmodule depends on  client module ,create a test service  inject the service defined in contracts module
then,start up the web module in order to start the remote service
finally  run the test service
the remote service was run ok by using swagger pages

[2021-12-14 05:31] #10687 closed, assigned to realLiangshiwei

[2021-12-14 06:06] realLiangshiwei commented on #10929
Can't reproduce the problem.

[2021-12-14 06:24] berkansasmaz commented on #10891
You can see the configurations related to `logging` in `Program.cs` in `MyProjectName.IdentityServer`, `MyProjectName.HttpApi.Host` and `MyProjectName.Web` projects.

On the other hand, I'm assuming you add the following two lines to the `MyProjectName.IdentityServer`, `MyProjectName.HttpApi.Host` and `MyProjectName.Web` projects.

[code]
[code]

If not, please add as mentioned in [this article](h

[2021-12-14 06:44] CristWu commented on #10929
here is my code
[code](https://github.com/CristWu/MyAbpLearn)
 just run the web module  then run the client test module

[2021-12-14 06:53] realLiangshiwei commented on #10929
Try

`typeof(AbpAutofacModule)`

[2021-12-14 06:59] CristWu commented on #10929
added  but still got the exception
![图片](https://user-images.githubusercontent.com/27179054/145948610-a87ccc99-b127-437d-b3c7-5c7922953a06.png)

[2021-12-14 07:11] CristWu commented on #10929
it works ! but why the sample project(Acme.BookStore) dose not having abpautofac depenency in client test module?
![图片](https://user-images.githubusercontent.com/27179054/145949635-8e9fd0fa-5de4-4c10-9d04-1afc7a1bcbe4.png)

[2021-12-14 07:29] realLiangshiwei commented on #10929
The sample project uses ABP v4.4.0, we will update it when the 5.0.0 stable version is released.

[2021-12-14 07:29] #10929 closed, assigned to nobody

[2021-12-14 08:10] sturlath commented on #10916
Ok it worked (see code below) if I just skip using these helpers (it does throw if they are used) but I haven't tried this with large (2-5GB) files so I don't know if it will work with that. The stream comes over as multipart so I recon it should

I'll give larger files try later and give feedback if it didn´t.

[code]

the controller

[code]

[2021-12-14 08:11] NicolasEhrhard commented on #10924
I create a repository with a sample project :
https://github.com/NicolasEhrhard/AbpIssue

[2021-12-14 09:47] billpeace commented on #10835
I did not  updated to angular v13

[2021-12-14 11:03] mehmet-erim commented on #10926
Hi @begandroide

It is so hard to implement it in entire forms. You should keep doing this manually. However, it is a good idea. I'm marking this one as a feature request.

Thanks!

[2021-12-14 12:08] billpeace commented on #10835
I have tested， npm install  is ok works with node v14 and npm v6

[2021-12-14 12:10] #10263 closed, assigned to nobody

[2021-12-14 12:10] #10267 closed, assigned to nobody

[2021-12-14 13:07] RoflLmao1 commented on #10891
I modified the logs, and finally got the exception message showing up. It seems there is an issue with an address that seems to be getting the '**System.String**' type name of an internal variable/property/field instead of the value stored. Please do note that the following exception starts from the bottom to the top (due to the logs being exported in this style)

[code]

There seems to be no more

[2021-12-14 13:11] begandroide commented on #10926
Thanks you @mehmet-erim. In the other hand, the mapping of error to username form field is an error? or is well defined like that?

[2021-12-14 13:45] Francois-La opened #10939 "DomainTenantResolver needs SSL certificate update (each 3 months...)"
The sample application, https://github.com/abpframework/abp-samples/tree/master/DomainTenantResolver, needs update for the getabp.net.pfx file.

This file is a let's encrypt certificate and these need to be renewed each 90 days.  The one actually there expired yesterday (December 13th, 2021)

Thanks

[2021-12-14 15:36] berkansasmaz commented on #10891
I got it, thank you very much for the detailed explanations 😊

The problem does not seem to be related to ABP, I think you can solve it by looking [here](https://github.com/IdentityServer/IdentityServer4/issues/4645#issuecomment-656719245).

[2021-12-14 15:36] #10891 closed, assigned to nobody

[2021-12-15 00:01] improwise opened #10946 "Runtime problem CrudAppService when interface and class does not match exactly"
* Your **ABP Framework version**.: 5.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: Blazor Server
* Your database provider(EF Core/MongoDB): EF

Not sure if this is a bug or not but I just noticed that when using the ICrudAppService/CrudAppService the interface and the class needs to be named exactly the same or you will get an error:

`Syste

[2021-12-15 00:42] maliming commented on #10924
Maybe related to https://github.com/dotnet/aspnetcore/issues/38566

https://github.com/abpframework/abp/pull/10947

[2021-12-15 01:11] realLiangshiwei commented on #10946
ABP uses a naming convention, see https://docs.abp.io/en/abp/4.4/Dependency-Injection#exposed-services-by-convention

[2021-12-15 01:11] #10946 closed, assigned to nobody

[2021-12-15 01:26] maliming commented on #10924
S

[2021-12-15 01:26] #10924 closed, assigned to maliming

[2021-12-15 01:42] maliming commented on #10939
Done https://github.com/abpframework/abp-samples/commit/5e08f43d89097da46a9aa01b56c075c99f637611

[2021-12-15 01:42] #10939 closed, assigned to maliming

[2021-12-15 01:44] maliming commented on #10939
I will consider creating an automated program to update it each 3 months.

[2021-12-15 06:54] enisn opened #10948 "CmsKit - Reactions Refactoring"
Reactions feature is a problematic feature of CmsKit currently. It can be redesigned.

[2021-12-15 08:15] #10913 closed, assigned to nobody

[2021-12-15 09:35] recruitans opened #10949 "Article Request - How to implement Metronic8 to Abp MVC Application."
Hi,
Since lepton is still developing on the UI side, we have to research alternatives on the UI side while developing our products.
I think an article about the widely used metronic template will solve many people's problems with the UI. An article about the correct implementation of Metronic8 to the Abp MVC application will be very useful.
thanks in advance

ABP Framework version : 5.0.0
User Int

[2021-12-15 10:52] Bongmusa opened #10952 "Notification Bell Angular"
We've gone through the community articles regarding the Signal R notifications and looked at the toaster service. However this doesn't fulfil the standard notification bell that we see on many web applications.

Suggestion : Can you add  notification bell and panel in the Angular template for the upcoming releases.

[2021-12-15 11:44] enisn opened #10954 "CmsKit - Filter by Tag"
There is the tagging feature but it doesn't affect anything. Providing listing by a tag would be better.

i.e. Blog Posts in a tag

[2021-12-15 12:10] emilsjog opened #10955 "Getting 500 error when setting the ASPNETCORE_ENVIRONMENT to production"
I'm getting 500 error code when setting the ASPNETCORE_ENVIRONMENT to production.

Created a new ABP project based on version 5. Then I changed the variable in the `launchsetting.json`
Attached is the standard logfile.

* **5.0**
* **Blazor-server**
* Ef
[code]
Reproduce:
* Set `"ASPNETCORE_ENVIRONMENT": "Production"` in the Blazor project

[logs.txt](https://github.com/abpframework/abp/files/7719

[2021-12-15 12:32] emilsjog commented on #10955
Tested out the suggestion from [SO](https://stackoverflow.com/questions/58862932/blazor-server-static-files-dont-link-in-non-dev-environments) and got it working.

Any thoughts on this issue? I'm not up to date on the actual problem or the suggested solution.

[2021-12-15 13:01] realLiangshiwei commented on #10955
If you really need it, you can always call the `UseStaticWebAssets` method

See https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-6.0&tabs=visual-studio#consume-content-from-a-referenced-rcl-1

![image](https://user-images.githubusercontent.com/16813853/146191017-a7858ac6-ff4f-4125-985e-5d72c0c853b6.png)

[2021-12-15 13:01] #10955 closed, assigned to nobody

[2021-12-15 17:44] journey191 opened #10956 "TimeZone Setting not worked for IdentityServerPersistedGrants"
ABP Framework version:4.3.0
database provider:EFCore

I have configured the Timezone setting in my IdentityServerHost
[code]
But I found `CreationTime/Expiaration` value still be stored as UTC Timezone in table `IdentityServerPersistedGrants` ,which has 8 hours time difference.This problem caused all valid token cleaned up by TokenCleanupBackgroundWorker.

PS：I didn't find incorrect time in other

[2021-12-15 19:45] #10268 closed, assigned to nobody

[2021-12-15 19:45] #10266 closed, assigned to nobody

[2021-12-16 00:42] realLiangshiwei commented on #10956
See https://github.com/abpframework/abp/issues/9731#issuecomment-892539529

[2021-12-16 01:36] rqx110 commented on #10802
@EngincanV
the Version and language dropdowns still have no down arrow!!!

![image](https://user-images.githubusercontent.com/1829209/146291812-4e86f960-f0fd-492c-8cd3-1d64d9124e36.png)

[2021-12-16 02:53] journey191 commented on #10956
I read the source code in module `Volo.Abp.IdentityServer`,here‘s my understanding:
-The data source of table `IdentityServerPersistedGrants`  seems nothing about ABP,so the time always be UTC
-ABP customized a`TokenCleanupService`，use `IClock.now` in expiration compare method which cause the problem
[code]

Then I configuired `AbpClockOptions.Kind` to `DateTimeKind.Utc` ,the `TokenCleanupService`

[2021-12-16 03:01] maliming commented on #10956
hi

I will check this.

[2021-12-16 04:10] #10904 closed, assigned to realLiangshiwei

[2021-12-16 05:27] awahbahplana opened #10957 "Issue in abp EFCore oracle"
Hi,
There is problem in oracle driver in abp v5 i am using commercial version.
Thanks

![image](https://user-images.githubusercontent.com/96010802/146313283-18e09e34-1a0d-4d40-8e70-f189f58f6cce.png)

[2021-12-16 05:32] realLiangshiwei commented on #10957
See https://github.com/abpframework/abp/issues/10513

[2021-12-16 05:40] realLiangshiwei commented on #10957
Because Oracle driver did not support NET 6 before, but I saw the official oracle driver supports NET 6 now, we will update it.

[2021-12-16 05:41] awahbahplana commented on #10957
OK Dear thanks for your fast and great support.

[2021-12-16 06:42] #10957 closed, assigned to realLiangshiwei

[2021-12-16 07:01] tianxin8206 opened #10963 "An error was reported passing a parameter of type ReferenceReadStream to ApplicationService"
* Your **ABP Framework version**. 4.4.4
* Your database provider(EF Core/MongoDB) EFCore
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.
My code:
[code]

[2021-12-16 07:05] maliming commented on #10963
Please try to use `IRemoteStreamContent` to replace the `IFormFile ` and `fileStream`.

[2021-12-16 07:10] #10963 closed, assigned to nobody

[2021-12-16 07:44] rqx110 opened #10964 "broken badge style in doc module"
![image](https://user-images.githubusercontent.com/1829209/146328991-6b16913b-e1eb-4d74-a7cc-2713db8736cd.png)

[2021-12-16 07:50] GeertVeenstra opened #10965 "Sending email as Tenant produces error "Padding is invalid and cannot be removed.""
* ABP Framework version : 5.0.0
* User Interface: MVC
* Database provider: EF Core
* Exception message: [ERR] Padding is invalid and cannot be removed.

* Steps to reproduce:
1. Create Global email settings
2. Override Abp.Mailing.DefaultFromDisplayName from Tenant
3. Send email from Tenant await _emailSender.SendAsync(emailAddress, subject, body);

Sending emails from Host is working correctly.

[2021-12-16 07:55] maliming commented on #10965
What's the full error stack?

[2021-12-16 08:02] GeertVeenstra commented on #10965
[code]

[2021-12-16 08:03] GeertVeenstra commented on #10965
Also happens when I do not make any Tenant specific email settings (just using host settings).

[2021-12-16 08:06] maliming commented on #10965
Can you share the detailed steps to reproduce from a template project?

[2021-12-16 08:32] GeertVeenstra commented on #10965
Hi,

Sorry, my bad.
I could not reproduce it in a template project and compared it with my own code.

I was sending the emails from the public website project and the StringEncryption setting was missing in the appsettings.json for that project.
It is working now.

Geert Veenstra

[2021-12-16 08:34] #10965 closed, assigned to nobody

[2021-12-16 09:37] Edward-Zhou opened #10968 "How to migrate database when application start?"
I am using asp.net core abp, and I am trying to create database while application start.

Is there any way to achieve this?

I have tried to resolve DbContext from `Configure`, but it could not get this service.

[2021-12-16 09:40] maliming commented on #10968
See https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/EntityFrameworkCoreMyProjectNameDbSchemaMigrator.cs#L21

This is not related to ABP but EF Core.

[2021-12-16 09:40] #10968 closed, assigned to nobody

[2021-12-16 09:48] Edward-Zhou commented on #10968
Why this is closed? I know how to use `Database.MigrateAsync()`. But how can I get the dbcontext while application start? I can't resolve it anywhere.

[2021-12-16 09:48] Edward-Zhou commented on #10968
@maliming Do you mean I need to create my own `EntityFrameworkCoreMyProjectNameDbSchemaMigrator`?

[2021-12-16 12:53] gdlcf88 commented on #2139
https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations

[2021-12-16 13:13] RoflLmao1 commented on #10891
Thanks for that. The original issues pertaining to the login seems to be working now, but it is now failing due to another error.
When the POST request is sent to '**/signin-oidc**' of the **.Web** project, it seems to throw the following error:

[code]

FYI, I tried setting up the exact same startup template, but this time without using the **Tiered** structure. After applying all the fixes above

[2021-12-16 14:59] #10964 closed, assigned to EngincanV

[2021-12-17 00:44] #10956 closed, assigned to maliming

[2021-12-17 02:01] fanslead opened #10973 "[Suggestion] Can add a feature in RemoteService for transpond costom headers"
When I use RemoteService to request the orther service, Some headers data they need can not  get.
Like the X-Forwarded-host,X-Forwarded-for and orther custom header.

would you add some feature for configure the http client headers?
just like
[code]

[2021-12-17 02:11] maliming commented on #10973
See https://docs.abp.io/en/abp/5.0/API/Dynamic-CSharp-API-Clients#retry-failure-logic-polly-integration

[2021-12-17 02:11] #10973 closed, assigned to nobody

[2021-12-17 03:20] gerryge opened #10974 "abp get-source Volo.Docs.Admin error"
* Your **ABP Framework version**.
Version 5.0.0 (Stable)

### Stack Overflow
Run cmd: abp get-source Volo.Docs.Admin

[11:14:46 INF] ABP CLI (https://abp.io)
[11:14:46 INF] Version 5.0.0 (Stable)
[11:14:49 INF] Output folder: *****
[11:14:49 INF] Downloading source code of Volo.Docs.Admin
[11:14:49 INF] Version: Latest
[11:14:49 INF] Output folder: ********
[11:14:54 INF] Downloading module: Volo.

[2021-12-17 03:22] maliming commented on #6828
I realized that through the Minimal API, our module methods can be initialized completely asynchronously.

![image](https://user-images.githubusercontent.com/6908465/146483689-57c96871-1b38-4db9-bc9a-47ad0cc058ef.png)

[2021-12-17 03:27] realLiangshiwei commented on #10974
We will check it,

[2021-12-17 03:32] zengnanhua opened #10975 "hangfire database too many connection"
![image](https://user-images.githubusercontent.com/22017107/146484494-a315c07c-a9ca-4d42-aa9c-9c7869527915.png)

handle task，  hangfire database too many connection

[2021-12-17 03:38] realLiangshiwei commented on #10975
Can you try to test it without ABP again?

[2021-12-17 04:44] hikalkan commented on #6828
Yes, that's good. We can create `InitializeApplicationAsync()` with backward-compability support (like all module initialization methods will have async versions and they call the sync version internally by default).

[2021-12-17 06:21] mehmet-erim commented on #10952
Hi @Bongmusa

We have no plans for this in the near future. But you can implement it in your project, there is nothing to block you.

Thanks!

[2021-12-17 10:53] mehmetuken commented on #10640
abp new Test.Project -t app -u blazor -dbms PostgreSQL
cd src/Test.Project.Blazor
abp bundle -f

[code]

[2021-12-17 13:38] berkansasmaz commented on #10640
Hi @mehmetuken, maybe this bug is OS-specific. Could you please write which operating system you are using?

[2021-12-17 13:40] maliming commented on #6828
So far so good.

https://github.com/abpframework/abp/pull/10928/commits/8c5e3cd30aeb34eff42a3c292a9f1a4d4b19355e

[2021-12-17 14:09] gterdem opened #10977 "eShopOnAbp: add MongoDb to docker-compose"
Also add related helm chart

[2021-12-17 14:39] gterdem opened #10978 "eShopOnAbp: Catalog and basket updates"
- [x] Create basket page. It should be public.
   - Catalog (products) should be seen in main page instead of different Catalog page
   - Update basket widget: Minimize and move to top right menu
   -  Whenever a product is added, update the minimized basket widget preferable with number label
- [x] #11017

[2021-12-17 14:42] jlavallet opened #10979 "Organizational Units and Roles - Creating a hierarchical structure of users with ABP"
This is a request for a community article to be written demonstrating the use of Organizational Units and Roles to develop an elegant hierarchy of managing users and managed users. I have made a request for information on this topic here: https://stackoverflow.com/questions/70297404/filtering-queries-by-by-user-and-role-scoping-data. I have yet to find an example of how the  Organizational Unit fe

[2021-12-17 16:04] FuatCetinkaya opened #10980 "override IQuerayble for all select query"
Hi,

Is there an IQuerayble method that I can override on all select queries for all entities?

[2021-12-17 16:47] mehmetuken commented on #10640
Hi @berkansasmaz, my os is macOS Monterey.

[2021-12-18 01:00] maliming commented on #10980
Can you explain it in detail? Thanks

[2021-12-18 07:34] afresh commented on #10879
The steps to modify the default email address and password of admin user are as follows:

1. Modify the `DefaultAdminEmailAddress` and `DefaultAdminPassword` in `IdentityServiceDbProperties.cs`.

[code]

2. Create database `EShopOnAbp_Administration`.
3. If you have created `EShopOnAbp_Identity` database, you must delete and recreate it first.
4. Then run the `EShopOnAbp.IdentityService.HttpApi.Ho

[2021-12-18 12:13] davidnasar opened #10982 "_repository.AsQueryable() gets error in v5.0.0"
* Your **ABP Framework version**.
version 5.0.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
MVC
* Your database provider(EF Core/MongoDB)
EF Core
* Exception message and **stack trace** if available (check the logs).
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1929	'IStoreRepository' does not contain a definition for

[2021-12-18 12:15] realLiangshiwei commented on #10982
Use `GetQueryableAsync` instead of `AsQueryable`

[2021-12-18 12:15] #10982 closed, assigned to nobody

[2021-12-18 16:31] aboutdomtime commented on #2087
@djordjedjukic Yes, I have most of the test cases passing. I can do a fork if that's something that you want to work on together.

[2021-12-18 21:36] berkansasmaz commented on #10640
Thank you for your answer. I am using the same OS so I think the error is OS-specific.

I will deal with this issue.

[2021-12-19 00:16] jackcmac opened #10984 "Replacing Extensible Table Component"
UI Framework: Angular

In my ABP projects I use PrimeNG tables instead of `ngx-datatable`. I've written a table-list directive for the PrimeNG tables that uses the ABP `ListService` and now I want to replace the `ExtensibleTableComponent` so the built-in tables look the same. My custom `ExtensibleTableComponent` has all the same `@Inputs` and component code as the original, but with a different te

[2021-12-19 09:22] sturlath commented on #10916
As you can see from my comment [here](https://support.abp.io/QA/Questions/2267/Problem-uploading-a-file-using-MultipartReader#answer-f6d20abb-ef78-26e6-3cc8-3a00e1f2db21) @maliming I need another approach because Blazor WASM doesn't seem to support >2GB files.

Now I'm thinking I should just upload the files directly from Blazor to [Blob storage](https://docs.abp.io/en/abp/5.0/Blob-Storing).

**Ca

[2021-12-19 09:59] FuatCetinkaya commented on #10980
Hi @maliming,

I have a table where I keep user based rules ( Conditional Entity)

Conditional Entity
TableName (string)
PropertyName (string)
Value (string)
UserId (Guid)

Data;
TableName                   PropertyName               Value             UserId
Organization                 Code                             0001              xxx
Employee                      Age

[2021-12-19 10:40] #10289 closed, assigned to nobody

[2021-12-19 11:11] maliming commented on #10980
Maybe the `Global Query Filters` is more suitable for you.

https://docs.microsoft.com/en-us/ef/core/querying/filters

https://github.com/abpframework/abp/issues/10876#issuecomment-987964175

[2021-12-19 14:19] davidnasar opened #10986 "the Localization didn't work, just show default language"
* Your **ABP Framework version**.
5.0.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
MVC
* Your database provider(EF Core/MongoDB)
EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.
1. use CLI to create a app like: abp new MyTodo -t app
2. Login with default admin account

[2021-12-19 14:20] imxiongstu commented on #8950
hello,from china enginer,me too issue, i trying to add extension entity,but exception:

Cannot use table 'AbpRoles' for entity type 'AppRole' since it is being used for entity type 'IdentityRole' and potentially other entity types, but there is no linking relationship. Add a foreign key to 'AppRole' on the primary key properties and pointing to the primary key on another entity type mapped to 'Abp

[2021-12-19 14:23] imxiongstu opened #10987 "Cannot use table 'AbpRoles' for entity type 'AppRole' since it is being used for entity type 'IdentityRole' and potentially other entity types, but there is no linking relationship. Add a foreign key to 'AppRole' on the primary key properties and pointing to the primary key on another entity type mapped to 'AbpRoles'."
Hello,every one:
    I from china,i trying to extension AbpRoles table，but error,such as：

Cannot use table 'AbpRoles' for entity type 'AppRole' since it is being used for entity type 'IdentityRole' and potentially other entity types, but there is no linking relationship. Add a foreign key to 'AppRole' on the primary key properties and pointing to the primary key on another entity type mapped to '

[2021-12-19 14:25] imxiongstu commented on #10987
builder.ConfigureIdentity() in    builder.ConfigureIdentity();
cuz up code error;

[2021-12-19 14:50] davidnasar commented on #10986
same button text situation when deleting record in the list

[2021-12-19 18:59] ammadislam1996 opened #10988 "datatable.net-bs5 issue after migrating to abp v5.0 and .net 6.0"
Kindly help me resolve this issue. i have installed this package through nuget and npm but nothing worked.

An exception was thrown attempting to execute the error handler.
Volo.Abp.AbpException: Could not find the bundle file '/libs/datatables.net-bs5/css/dataTables.bootstrap5.css' for the bundle 'Basic.Global'!
   at Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.Proc

[2021-12-19 20:10] ammadislam1996 commented on #10988
@bnymncoskuner sir kindly help

[2021-12-19 20:27] iyilm4z commented on #10988
Hi @ammadislam1996, could you please make sure the style file **dataTables.bootstrap5.css** exists at _/libs/datatables.net-bs5/css/dataTables.bootstrap5.css_ path?

[2021-12-19 23:42] iyilm4z commented on #10986
@davidnasar i created a pr for the localization issue, thanks for your feedback.

**The permissions dialog:**
![image](https://user-images.githubusercontent.com/9105939/146696107-ab63f218-f658-4e60-9f6e-e35e05bcab20.png)

**The delete dialog:**
![image](https://user-images.githubusercontent.com/9105939/146696125-7bd686dd-c06e-4654-b85a-a0ed2e64f65f.png)

[2021-12-20 00:37] realLiangshiwei commented on #10988
Try `abp install-libs`

https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-5-0-MVC.md#use-install-libs-by-default

[2021-12-20 00:39] maliming commented on #10987
Please try to search for issues and code and documents.

[2021-12-20 00:39] imxiongstu commented on #10987
您的邮件我已经收到，请耐心等待回复熊www.imxiongstu.cn

[2021-12-20 00:49] imxiongstu commented on #10987
hi,thinks,but me one to one office the official cocuments,already ask a lot of pepole,

[2021-12-20 01:02] maliming commented on #10916
Lets discuss in support website.

[2021-12-20 01:02] #10916 closed, assigned to nobody

[2021-12-20 01:04] maliming commented on #10979
You can get help on https://support.abp.io/

[2021-12-20 01:04] #10979 closed, assigned to nobody

[2021-12-20 03:49] #10986 closed, assigned to realLiangshiwei

[2021-12-20 06:02] hatami57 commented on #6627
for me, it's because of this lines (I use the app as WebApi so it does not need to ErrorPage UI):

[code]

To solve the problem, remove or comment these lines.

[2021-12-20 06:42] ammadislam1996 commented on #10988
@iyilm4z no sir it has dataTable.bootstrap4.css

[2021-12-20 06:48] FuatCetinkaya commented on #10980
Hi @maliming,

I don't want to do it with the Global Query Filters method. Because it is created instantly onModelCreating. I have to load all the data in my Conditional table in the DbSet instant.

ForExample; (Imagine there are more than a thousand such data in this table)
Select * from Organization Where
(Code = Code001 and UserId=xxx) or
(Code = Code005 and UserId=yyy) or
(Code = Code003 and N

[2021-12-20 06:52] maliming commented on #10980
See https://github.com/abpframework/abp/issues/10876#issuecomment-987964175

[2021-12-20 07:16] EngincanV commented on #10988
Hi @ammadislam1996, can you run the `abp install-libs` command as @realLiangshiwei mentioned. Then in your libs folder, **datatables.net-bs5** folder will be created.

[2021-12-20 07:20] ammadislam1996 commented on #10988
@realLiangshiwei @EngincanV Thank you so much sir. That fixed the issue

[2021-12-20 07:20] #10988 closed, assigned to nobody

[2021-12-20 08:17] berkansasmaz commented on #10758
Thanks for the comment @antosubash.

Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2021-12-20 08:17] #10758 closed, assigned to nobody

[2021-12-20 08:30] ParsaGachkar opened #10995 "How to Override Identity Management module for Multi-Tenancy"
I was wondering how to Override the Identity Management Module to Work with Multi-tenant Web-Apps in Abp Framework . I want to Make my newly registered Users to become the admin of their own tenant and be able to Manage (Crud + Permission / Role Management ) their Subset users? For now I've created a custom UI to manage them, but I'm curios if it's possible to configure the Identity Management Mod

[2021-12-20 08:35] hs1983 opened #10996 "abp vnext how to connect mysql and sqlserver on the same time?"
abp vnext how to connect mysql and sqlserver on the same time?

[2021-12-20 09:09] realLiangshiwei commented on #10996
See https://github.com/abpframework/abp/issues/2139

[2021-12-20 09:11] #10996 closed, assigned to nobody

[2021-12-20 10:28] EngincanV commented on #10995
If in your tenant application there is a role named `Admin` and it has a **Default** badge, all your newly registered users for your tenant will have admin role and its permissions. (https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Application/Volo/Abp/Account/AccountAppService.cs#L51)

So, you should create the **Admin** role (and specify it as **Default**) for al

[2021-12-20 12:14] szilardd opened #11000 "Separate framework code and project-specific code"
Is there any official documentation/tips related to how to keep the core Abp.io framework code and project-specific code separate (as much as possible) in order to avoid lots of conflicts/issues when updating the framework to a newer version?

With the 'old' Zero/AspNetBoilerplate framework our approach was to create separate `AbpModule`s in Class Libraries and reference them in the 'main' project

[2021-12-20 12:40] mehmet-erim commented on #10984
Hello @jackcmac,

`ExtensibleTableComponent` is not replaceable now. We'll consider this.
Thanks for creating this issue.

[2021-12-20 13:40] #10640 closed, assigned to berkansasmaz

[2021-12-20 17:03] thetinhnguyen opened #11002 "Kafka with multi topics"
I can implement kafka with multi topics in abp? If not available, you can recommend some ways to custom it. Thanks !

[2021-12-20 18:20] ParsaGachkar commented on #10995
Awesome Thanks, that saves me a lot of time

[2021-12-20 18:20] #10995 closed, assigned to nobody

[2021-12-21 00:34] moxixuan opened #11003 "DisallowConcurrentExecution work on AsyncBackgroundJob?"
### Documentation

hi，i use the Background Jobs, it implementation by Quartz,
i want to tells Quartz not to execute multiple instances of a given job definition but it don't work,
it's that any way to execute one instances?

[code]

### GitHub Issues

* 5.00 rc.1
* EF Core MYSql

### Stack Overflow

https://stackoverflow.com/questions/70419100/do-asyncbackgroundjob-disallowconcurrentexecution-quar

[2021-12-21 00:53] realLiangshiwei commented on #11003
HI, see https://github.com/abpframework/abp/issues/9819#issuecomment-899180367

[2021-12-21 01:32] realLiangshiwei commented on #11002
You can replace the built-in services (`KafkaDistributedEventBus` ) to achieve your special needs.

[2021-12-21 07:00] yekalkan commented on #10974
Hi @gerryge

You can get source code of the Docs module (including Admin side) by running the following command:

`abp get-source Volo.Docs`

Volo.Docs.Admin should be removed from the list you shared. I'll do it.

[2021-12-21 07:01] moxixuan commented on #11003
thanks, i had check the comment.
it's mean that i can use DisallowConcurrentExecution on QuartzBackgroundWorkerBase?
but my job is only one time to excute,  and it need args(params),
may i implementation quartz Adapter?

[2021-12-21 07:07] #10977 closed, assigned to gterdem

[2021-12-21 07:07] realLiangshiwei commented on #11003
You don't need to do it, it's done. https://github.com/abpframework/abp/pull/9821

[2021-12-21 08:57] maliming opened #11011 "Add `delete-bin-obj-folders` command to CLI."
Maybe `abp clean`.

[2021-12-21 09:08] KaungZawHtet opened #11012 "sqlite not work in abp 5"
I did your bookshop sample with **razor-ef_core-sqlite** and this is what I got :

[code]

[2021-12-21 09:26] realLiangshiwei commented on #11012
* Steps needed to **reproduce** the problem.

[2021-12-21 09:54] KaungZawHtet commented on #11012
I did only 5 things :

1. download sqlite template from [this](https://abp.io/get-started)
2. build the solution
3. run `dotnet ef migrations add "InitMigration" ` at EntityFrameworkCore Directory
4. run `dotnet run` at DbMigrator Directory
5. Then `dotnet run` at Web Directory

And err shown.

[2021-12-21 10:13] xyfy opened #11013 "[question]what's the abppkg.json used for?"
* Abp 5.0.
* Steps needed to **reproduce** the problem
  - `abp new Yun.FileManagement -t module --no-ui -o src/modules/filemanagement -cs "Server=(LocalDb)\\MSSQLLocalDB;Database=filemanagement;Trusted_Connection=True"`
  - in the **filemanagement** folder contains `Yun.FileManagement.abpmdl.json` and `Yun.FileManagement.abpsln.json`
  - in each project folder contains a json file named  as `XXX.

[2021-12-21 10:18] yekalkan commented on #11013
Hi @xyfy,

They keep info about your module & packages but they have no use for now. You can delete them if you want.

[2021-12-21 10:18] #11013 closed, assigned to yekalkan

[2021-12-21 10:45] xyfy commented on #11013
dou you mean that they is used for the **abp** source manage ,but no effect for abp users?

if they have no use for now ,may it removed in code generate?

manual remove it after every code generate is&nbsp; complex？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Yunus Emre ***@***.***&gt;;
发送时间: 2021年12月21日(星期二) 晚上6:18
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re

[2021-12-21 11:51] EngincanV commented on #11012
Hi @KaungZawHtet, it seems there is a problem in the `*.DbMigrator` project. Thanks for reporting the problem.

 For a quick workaround, you can follow my steps:

**1-)** Run the `dotnet ef database update` command on your `*.EntityFrameworkCore` root directory.
**2-)** This command will create three files with **.db**, **.db-shm**, **.db-wal** extensions. Copy these 3 files and
**3-)** Paste it i

[2021-12-21 12:24] enisn opened #11017 "Login link in Public Web application has css issues, it can't be seem."

[2021-12-21 12:28] realLiangshiwei commented on #11012
You can change the connection string to an absolute path, like `Data Source=D:\\project\\qa\\Qa.db;`

[2021-12-21 13:15] #11017 closed, assigned to enisn

[2021-12-21 13:58] KaungZawHtet commented on #11012
It works after copying 3 db files to web directory but new problems found.

It show this err after inputing wrong password on logging-in.

[code]

It should show sort of "invalid user name or pw". Not this err

[2021-12-21 14:07] awahbahplana commented on #10957
When Can I Use it @realLiangshiwei ?

On Witch Version (Pre release or nightly prebuild)

[2021-12-21 14:07] realLiangshiwei commented on #11012
See https://github.com/abpframework/abp/issues/5661#issuecomment-706803921

[2021-12-21 14:38] KaungZawHtet commented on #11012
Thx. It works now. Look sqlite's starter state should be diff preparation.

[2021-12-21 15:51] ArneCools commented on #10913
I believe the claims are added after login by the authenticationScheme. I can get them using
`await signInManager.GetExternalLoginInfoAsync()`

I work in a Tiered solution:
And i'm able to add them to the claims in the IdentityServer project (with iAbpClaimsPrincipalContributor ) . But how to I add the claims to the user in the Host project?

[2021-12-21 20:26] ejohnson-dotnet opened #11020 "abp-input checkboxes add too much extra margin at bottom"
ABP Framework: 5.0.0
UI: MVC
DB: EF Core

In the new version of ABP 5.0.0, the checkboxes created by the tag helper "apb-input" create too large of a margin at the bottom of the control.

This can easily be seen in the default Permissions page for a role.
This is from ABP 5.0.0:
![Role permission v5](https://user-images.githubusercontent.com/2363596/146992962-bf2de0e4-1ab4-4d81-bcbb-26d5df6a5502.P

[2021-12-21 22:23] improwise opened #11021 "UseHangfireDashboard() not working when executed before app.UseConfiguredEndpoints()"
* Your **ABP Framework version**: 5.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: Blazor Server
* Your database provider(EF Core/MongoDB): EF
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

It seems like if you put app.UseHangfireDashboard() after app.UseConfiguredEndpoints

[2021-12-22 00:05] maliming commented on #11021
hi

`UseConfiguredEndpoints` must be the last.

[2021-12-22 00:07] maliming commented on #11020
Resolved by #10990

[2021-12-22 00:07] #11020 closed, assigned to nobody

[2021-12-22 01:02] #10920 closed, assigned to nobody

[2021-12-22 01:28] maliming commented on #10913
What's the Host project? Web?

[2021-12-22 02:16] zengnanhua commented on #10975
not at all

[2021-12-22 02:18] zengnanhua opened #11022 "How to connect to abp mongodb cluster, Master-slave mode"
How to connect to abp mongodb cluster,  Master-slave mode

[2021-12-22 02:19] zengnanhua commented on #11022
![image](https://user-images.githubusercontent.com/22017107/147023898-2138609b-f6f7-49ff-b0ad-2edaa176875c.png)

[2021-12-22 02:24] maliming commented on #11022
This is related to MongoDB instead of ABP.

[2021-12-22 02:24] #11022 closed, assigned to nobody

[2021-12-22 04:25] hueifeng opened #11025 "Suggestion: Add the ecological community links to the README file"
Could Abp repo README add third-party open source ecological community links?
For example: [EasyAbp](https://github.com/easyabp)

[2021-12-22 06:36] #11021 closed, assigned to nobody

[2021-12-22 06:36] #11002 closed, assigned to nobody

[2021-12-22 07:24] #11012 closed, assigned to realLiangshiwei

[2021-12-22 07:57] #10513 closed, assigned to ebicoglu, realLiangshiwei

[2021-12-22 09:01] zeinali0 opened #11030 "[Enhancement] Replace EventBus Reflection with compiled Expression"
EventBus module used Reflection to [trigger event-handlers](https://github.com/abpframework/abp/blob/ab6eedd52a662d430615ed7c80b12aa976594f55/framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/EventBusBase.cs#L196)

In an event-driven system a single user request can cause multiple event invocation and each event can have multiple handler so it can lead to a considerable number of reflection calls

[2021-12-22 09:09] maliming commented on #11030
You can share some code here, Then work on the replacement.

[2021-12-22 09:27] awahbahplana opened #11032 "Add OAuth External Login"
Hi
How to add Oauth2 auhentication for back end and display button in front end angular and MVC and other client app in commercial Version???

I add this in domain module
``
 context.Services.AddAuthentication().AddOAuth("GitHub", options => {
                options.ClientId = "8de23516870d7145b84e";
                options.ClientSecret = "0e3fd9808072907d1aa01df7e547ddbb6f6ec2fb";

[2021-12-22 09:33] maliming commented on #11032
You can get help about ABP commercial at https://support.abp.io/

[2021-12-22 09:33] #11032 closed, assigned to nobody

[2021-12-22 09:40] gerryge commented on #10974
@yekalkan  Thanks.

[2021-12-22 09:54] gterdem opened #11033 "eshopOnAbp: Checkout"
Discuss updating basket page into checkout page. This page should be anonymous but when the `purchase` is clicked, it should authorize the user and based on anonymous user basket; it should merge the anonymous and authorized user baskets before purchasing.

**Update:**
- [x] #11056
- [x] #11059

[2021-12-22 10:12] iyilm4z commented on #11000
There are already solutions in abp for seperating your own code as much as possible, especially the first option.

1. [Module Startup Template](https://docs.abp.io/en/abp/latest/Startup-Templates/Module)
2. [PlugIn-Modules](https://docs.abp.io/en/abp/latest/PlugIn-Modules)

These solutions still don't help?

[2021-12-22 10:43] improwise opened #11034 "Does Volo.Abp.BackgroundJobs support recurring jobs?"
It seems like Volo.Abp.BackgroundJobs implements IBackgroundJobManager but I can't find anything for recurring jobs, IRecurringJobManager in case of HangFire. Is this something that is implemented and if so, how do we use it? If not, what is the best was to solve it without skipping on Volo.Abp.BackgroundJobs and do a direct implementation? If it is not supported today, are there plans to implemen

[2021-12-22 10:45] improwise commented on #11034
Some related info:

https://stackoverflow.com/questions/59544062/how-and-where-do-i-implement-my-recurring-hangfire-job-in-the-solution-structure

https://docs.abp.io/en/abp/latest/Background-Jobs

[2021-12-22 11:03] iyilm4z commented on #11034
Hi @improwise, abp has Hangfire module and Hangfire supports recurring jobs. [Here](https://docs.abp.io/en/abp/latest/Background-Workers-Hangfire) is the related for integration.

After integrating your app with Hangfire module, you can inject **IBackgroundWorkerManager** and use it's **[Add](https://github.com/abpframework/abp/blob/ab6eedd52a662d430615ed7c80b12aa976594f55/framework/src/Volo.Abp.B

[2021-12-22 11:19] improwise commented on #11034
Thanks, will have a look at that! So the BackgroundWorkerManager is for reccuring tasks then as the BackgroundJobManager does not seem to support that? I find that the documentation is a bit confusing here, but that could just as well be due to my own lack of understanding.

[2021-12-22 11:33] zeinali0 commented on #11030
We can create an instance of a `HandlerExecutor` per each pair of an event and a handler once on first invocation and store it in memory for next invocations of handler.
The `HandlerExecutor` class would be something like this [ObjectMethodExecutor](https://github.com/dotnet/aspnetcore/blob/main/src/Shared/ObjectMethodExecutor/ObjectMethodExecutor.cs) and would create a compiled expression to exec

[2021-12-22 12:07] iyilm4z commented on #11034
Yes.

According to source code of [BackgroundJobManager](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BackgroundJobs.HangFire/Volo/Abp/BackgroundJobs/Hangfire/HangfireBackgroundJobManager.cs), it's for running a job one time at backround. Because there is no cron related code there.

[2021-12-22 12:12] realLiangshiwei commented on #11034
As @iyilm4z said, Background job used for jobs that are executed only once,

Background worker is more suitable for you.

[2021-12-22 12:12] #11034 closed, assigned to nobody

[2021-12-22 12:18] berkansasmaz commented on #11034
Thanks for the answers @iyilm4z

Background worker:

Cron:

So, I agree with @realLiangshiwei and @iyilm4z.

[2021-12-22 14:03] improwise commented on #11034
Thanks for all helpful answers.

Are there any recommendations on where to implement this logic, ie which layer, in a typical server side application like Blazor Server or MVC? Ideally you don't want to configure workers and background jobs in the presentation layer but at the same time you need to have it running in the website project and also want to something like the Hangfire Dashboard to wor

[2021-12-22 15:03] berkansasmaz commented on #11034
[Hangfire/Background Job - Which layer do I implement it in?](https://github.com/abpframework/abp/issues/4174)

[2021-12-22 15:12] improwise commented on #11034
Thanks for all the helpful answers!

Is there perhaps a sample application available with a running example of how to implement a BackgroundJob and BackgroundWorker in ABP? Ideally also one using HangFire/RabbitMQ etc but I guess you can't ask for everything :)

[2021-12-22 15:12] berkansasmaz commented on #10797
First of all, thank you for your good explanation.
I will test this case.

[2021-12-22 15:27] #10551 closed, assigned to nobody

[2021-12-22 15:50] berkansasmaz commented on #11034
As far as I know, there is no specific application for both RabbitMQ and Hangfire samples.

However, looking at the resources below may be helpful.
- https://github.com/realLiangshiwei/Lsw.Abp.BackgroundWorkers.Hangfire
- https://github.com/abpframework/abp-samples/tree/master/RabbitMqEventBus
- https://community.abp.io/articles/real-time-messaging-in-a-distributed-architecture-using-abp-framework

[2021-12-22 15:54] fileman commented on #10797
I have similar issue when I try to add RequiredAttribute() to IdentityUser*Dto props Name and Surmane

[2021-12-22 16:00] improwise commented on #11034
Thanks again!

[2021-12-22 17:44] improwise opened #11035 "Not able to install Volo.Abp.BackgroundWorkers.Hangfire via ABP CLI"
When trying to install abp add-package Volo.Abp.BackgroundWorkers.Hangfire we get this:

[code]
(We tried both with Worker and Workers, see below, same result)

If we however open the project and use Nuget Package manager, it seems like it is there for nuget.org.  If we install it vi NuGet Package Manager and adds:

`typeof(AbpBackgroundWorkersHangfireModule)`

as instructed here:

https://docs.ab

[2021-12-22 22:34] improwise commented on #11035
"abp add-package Volo.Abp.BackgroundWorkers.Quartz" also works fine and installs the package as it should.

[2021-12-23 00:10] rqx110 commented on #11035
it should "Volo.Abp.BackgroundWorker**s**.Hangfire", you have missed "s" in your command

[2021-12-23 00:13] improwise commented on #11035
Thanks, but please read the issue  more in detail, we already tried both.

Log file from CLI just to show that this problem seems to be specific to this package:

[code]

[2021-12-23 01:12] realLiangshiwei commented on #11035
Try `dotnet add package Volo.Abp.BackgroundWorkers.Hangfire --version 5.0.0`

[2021-12-23 01:15] improwise commented on #11035
That works as well as doing it in the NuGet Package Manager, but we are thinking it must be a reson for this specific problem with the CLI and as mentioned above, we have other problems after having added it another way. Please also note that the Depends on does not match with what's in the docs (which could be a typo). All in all it seems a bit weird and we can't get it to work all the way. Works

[2021-12-23 01:16] maliming commented on #11030
`ObjectMethodExecutor` looks good.

[2021-12-23 01:21] realLiangshiwei commented on #11035
We will check it.

[2021-12-23 03:48] CooperLiu opened #11036 "DistEventsDemo Project Reference issue"
Version abp 5.0.0

The `DistDemoApp.Shared` missed [`Volo.Abp.EventBus.Boxes` ](https://github.com/abpframework/abp/blob/dev/test/DistEvents/DistDemoApp.Shared/DistDemoApp.Shared.csproj#L20)project reference. it should be removed since Abp framework does not have it.

Demo project was worked after removed the reference of `Volo.Abp.EventBus.Boxes`.

[2021-12-23 04:11] realLiangshiwei commented on #11036
Thank you, we will update it.

[2021-12-23 04:58] #11036 closed, assigned to realLiangshiwei

[2021-12-23 05:38] #10978 closed, assigned to gterdem, enisn

[2021-12-23 06:04] #11003 closed, assigned to nobody

[2021-12-23 09:05] laosandegudai opened #11042 "settingProvider.GetAllAsync"
https://github.com/abpframework/abp/blob/7bab6b76560e573c2634ca7c22f73a957f6868f7/modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingManagementStore.cs#L124

`            var settings= await _settingProvider.GetAllAsync(new string[] { "key1","key2" });
`
### It would throw exception,as

`System.ArgumentException: names can not be null or empty! (Para

[2021-12-23 09:55] maliming commented on #11042
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-12-23 13:16] laosandegudai commented on #11042
ABP Framework version:4.4.2
But the latest version still has this problem
`var settings= await _settingProvider.GetAllAsync(new string[] { "key1","key2" });`
这两个设置在相同的ISettingValueProvider，两个设置保存一次，保存是为了让他们同时存在数据库，然后在获取的时候就会出现异常
`System.ArgumentException: names can not be null or empty! (Parameter 'names') at Volo.Abp.Check.NotNullOrEmpty[T](ICollection1 value, String parameterName)
at Volo.Abp.Se

[2021-12-23 21:18] qwinmen commented on #10549
Возможно кому-либо поможет, столкнулся с этой же проблемой, подружить abp и telegram бота удалось так:
(Maybe i can help someone, get this trouble. My decision: )
[code]

[2021-12-23 23:55] #9835 closed, assigned to nobody

[2021-12-24 00:53] ChangYinShung opened #11046 "Update AbpUi's zh-Hant"
I create a pull-request for update zh-Hant(AbpUi).
help me to review my pull-request #11045 ,Thanks.

[2021-12-24 01:00] maliming commented on #11046
ok, thanks

[2021-12-24 01:00] #11046 closed, assigned to nobody

[2021-12-24 01:07] maliming opened #11047 "Add `ParameterApiDescriptionModel` to `IObjectToQueryString`"
https://support.abp.io/QA/Questions/2314#answer-f691a3a3-30c0-c1ed-a314-3a00f9347b4b

[2021-12-24 02:16] imxiongstu opened #11050 "I found a bug in my development，PermissionManager"
Hi,Every one.
      I found a bug in my development，such as:
                await _permissionManager.GetAllAsync("R", roleName)  and  await _permissionManager.GetAllForRoleAsync(roleName);

The above two，They all return，roleName filter invalid，

[2021-12-24 02:29] maliming commented on #11050
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-12-24 02:32] imxiongstu commented on #11050
Abp version:5.0
code：
            var permissions = await _permissionManager.GetAllForRoleAsync(roleName);
            return permissions.Select(o => o.Name).ToList();
purpose： Find all permissions for this role

[2021-12-24 02:32] imxiongstu commented on #11050
Abp version:5.0
code：
            var permissions = await _permissionManager.GetAllForRoleAsync(roleName);
            return permissions.Select(o => o.Name).ToList();
purpose： Find all permissions for this role

[2021-12-24 03:27] afresh commented on #10862
@maliming Thank you for sharing the link. it solves my problem.

[2021-12-24 03:27] #10862 closed, assigned to nobody

[2021-12-24 04:55] #11011 closed, assigned to maliming

[2021-12-24 07:25] blackWins opened #11053 "Abp-Dynamic-Form Using Custom TagHelper Components"
### GitHub Issues
*  **ABP Framework version** （V4.4）.
* **User Interface** type (MVC/Razor Pages.)
*  database provider(EF Core)

## Dynamic Forms
ABP Tag Helpers Doc https://docs.abp.io/en/abp/4.4/UI/AspNetCore/Tag-Helpers/Dynamic-Forms
### Issues
I have coded a new TagHelper **AbpSelectTreeTagHelper** for **Form-Elements** and work nice . now i want to use my components  in **Dynamic-Forms** li

[2021-12-24 08:17] ZheGuangZeng opened #11055 "[Volo.Abp.BlobStoring.Azure]How To Set Right ContentType When Save?"
[Volo.Abp.BlobStoring.Azure] How To Set Right ContentType When Save, like this?

[code]

[2021-12-24 08:23] gterdem opened #11056 "Merge anonymous user cart with signed in user cart"

[2021-12-24 08:24] #11056 closed, assigned to nobody

[2021-12-24 08:41] maliming commented on #11055
hi

You can custom the `AzureBlobProvider ` to implement your needs.

[2021-12-24 08:41] #11055 closed, assigned to nobody

[2021-12-24 08:48] berkansasmaz commented on #10797
I tested this case. Here are my observations:

Command: `abp new TestGH -t app -u blazor --database-provider -csf`
Version : `v5.0.0`

- I could not reproduce.

- I could not reproduce.

- I could not reproduce.

![Kapture 2021-12-24 at 11 07 53](https://user-images.githubusercontent.com/31216880/147333518-047d4acc-249d-4ce8-8a7f-0631679d69bf.gif)

---

Probably these are solved in the stable vers

[2021-12-24 09:01] Nokecy commented on #11035
https://github.com/abpframework/abp/blob/4b87fc8ae5b4e1637b16553ffea7acdff2d96ec5/framework/src/Volo.Abp.BackgroundWorkers.Hangfire/Volo/Abp/BackgroundWorkers/Hangfire/HangfireBackgroundWorkerManager.cs#L45

AsyncPeriodicBackgroundWorkerBase  use AbpAsyncTimer
@realLiangshiwei

[2021-12-24 09:23] gterdem opened #11059 "Redirect to login if user is unauthorized when purchase is clicked with same return url"

[2021-12-24 09:30] berkansasmaz opened #11060 "Improve Blazor module extensibility feature"
Related https://github.com/abpframework/abp/issues/10797#issuecomment-1000729523

For example, client-side validation can be added.

<img width="1679" alt="Screen Shot 2021-12-24 at 11 17 47" src="https://user-images.githubusercontent.com/31216880/147340146-6ff67ce5-bae1-4934-ac90-328e6bd5e1ca.png">

[2021-12-24 09:32] realLiangshiwei commented on #10797
Move to https://github.com/abpframework/abp/issues/11060

[2021-12-24 09:32] #10797 closed, assigned to nobody

[2021-12-24 09:49] realLiangshiwei commented on #11035
@Nokecy Thanks,  see https://github.com/abpframework/abp/pull/11061

[2021-12-24 10:23] KaungZawHtet opened #11063 "Abp Deployment"
Is there any official article about abp deployment onto linux with best practices ?

[2021-12-24 10:59] #11059 closed, assigned to gterdem

[2021-12-24 11:00] #11033 closed, assigned to gterdem, enisn

[2021-12-24 12:42] maliming commented on #11063
https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/?view=aspnetcore-6.0
https://community.abp.io/articles/deploy-abp-framework-dotnet-core-tiered-app-to-docker-swarm-kcrjbjec
https://community.abp.io/articles/deploying-abp-applications-to-azure-ztvp6p57

[2021-12-24 12:42] #11063 closed, assigned to nobody

[2021-12-24 13:15] gterdem opened #11064 "eShopOnAbp: Add payment process"
- [x] #11065
- [x] #11066

[2021-12-24 13:28] gterdem opened #11065 "Add payment and payment completed pages."

[2021-12-24 13:29] gterdem opened #11066 "Add paypal integration."

[2021-12-24 15:15] mankoNm opened #11067 "Problems with Microsoft Edge and Opera in SignalR using Hub.Context"
We add SignalR communication in our project. We use information about user in method MyHub.OnConnectedAsync() using 2 different way:

var ContextUserRole = Context.User.FindFirstValue(ClaimTypes.Role);
var userRole = _currentUser.Roles;

We expect name of role here.
We have all information, when we use Mozilla and Google Chrome browsers.
![image](https://user-images.githubusercontent.com/64478264/

[2021-12-24 16:18] Nokecy opened #11069 "Use Volo.Abp.BackgroundWorkers.Hangfire ERROR"
abp: 5.0

JobStorage.Current property value has not been initialized. You must set it before using Hangfire Client or Server API

https://github.com/Nokecy/AbpHangfireTest  @realLiangshiwei

[2021-12-24 16:45] ZheGuangZeng commented on #11055
Is This The Right Solution?
[code]

[2021-12-24 16:56] berkansasmaz commented on #11069
Please try the code below.

[code]

[2021-12-24 16:56] #11069 closed, assigned to nobody

[2021-12-24 17:11] ZheGuangZeng commented on #11055
Remark:

[code]

[2021-12-24 17:40] zeinali0 commented on #11030
So Should I prepare a pull request?

[2021-12-25 01:30] Nokecy commented on #11069
Maybe the documentation should be updated ？https://docs.abp.io/en/abp/latest/Background-Jobs-Hangfire#configuration @berkansasmaz

[2021-12-25 01:55] maliming commented on #11067
hi

See https://github.com/abpframework/abp/pull/10508

[2021-12-25 09:31] hikalkan opened #11070 "Documentation changes based on hosting and startup changes with 5.1"
Based on https://github.com/abpframework/abp/pull/10928 we should update the related parts of abp and abp commercial documents.

[2021-12-25 09:39] #6828 closed, assigned to maliming

[2021-12-25 09:39] #10426 closed, assigned to maliming

[2021-12-25 10:44] berkansasmaz commented on #11069
Thank you for your suggestion, but I think the configuration part of this document is sufficient for now. After all, I think you will understand that we will not document every case supported by Hangfire or all other packages, for this you should visit the documentation of the relevant package.

[2021-12-25 10:54] ParsaGachkar commented on #1872
how to set tenant?

[2021-12-25 11:38] afresh opened #11071 "How to automatically migrate the database according to the customized tenant connection string?"
**ABP Framework version**: 5.0.0.
**Database provider**: EF Core.

### Problem

I referenced the `Volo.Abp.TenantManagement` module in the `eShopOnAbp` project. I want to automatically migrate the database according to the customized tenant connection string.

However, I found that the database can be migrated only when the tenant is created, and the tenant's default connection string can be modif

[2021-12-25 13:45] improwise commented on #11035
Good that a solution seem to be available. Thanks.

This probably explains the crash we got when we configured this manually. But any idea of why the nuget wasn't possible to install via ABP CLI? Also note that there was either a small typo in the docs or the DependsOn statement had lost an "s" in Workers as mentioned in the first post.

Do we need to switch our entire SLN to Nightly builds to get

[2021-12-25 16:04] gdlcf88 commented on #86
Hey guys, I have published an ABP module for GraphQL integration that implemented with [graphql-dotnet](https://github.com/graphql-dotnet/graphql-dotnet):

https://github.com/EasyAbp/Abp.GraphQL.

I made an [interesting schema](https://github.com/EasyAbp/Abp.GraphQL/blob/main/src/EasyAbp.Abp.GraphQL.Provider.GraphQLDotnet/EasyAbp/Abp/GraphQL/Provider/GraphQLDotnet/AppServiceSchema.cs) that provide

[2021-12-25 16:05] gdlcf88 commented on #10158
Please see: https://github.com/abpframework/abp/issues/86#issuecomment-1001041045

[2021-12-25 16:05] gdlcf88 commented on #8907
Please see: https://github.com/abpframework/abp/issues/86#issuecomment-1001041045

[2021-12-25 16:05] gdlcf88 commented on #6007
Please see: https://github.com/abpframework/abp/issues/86#issuecomment-1001041045

[2021-12-25 16:29] sturlath commented on #10822
@cbaille can you add the ticket in the support because I'm hitting this and can't find anything with OnApplicationInitializationModuleLifecycleContributor

My error is slightly different

[code]

I added a comment on the 5.0 release [here ](https://support.abp.io/QA/Questions/2209/Bugs--Issues-v5X#answer-d1bca7e8-ce4e-1506-81c0-3a0104baf8df) for interested.

[2021-12-25 18:46] #10221 closed, assigned to EngincanV

[2021-12-25 19:10] dicksonkimeu commented on #10510
Hi, multi tenant is the whole essence of abp. eShopOnContainer does the same. Its missing multitenant only

[2021-12-26 03:15] maliming commented on #11071
Such features is implemented in ABP commercial, you can refer to it.

![image](https://user-images.githubusercontent.com/6908465/147398011-8823b50b-f7c2-49ae-9c49-dc23bf21b27e.png)

[2021-12-26 03:15] #11071 closed, assigned to nobody

[2021-12-26 05:47] #11042 closed, assigned to maliming

[2021-12-26 13:38] maliming commented on #11030
Please.

[2021-12-26 14:16] awahbahplana commented on #11032
Dear I am wating your answer on [Support](https://support.abp.io/QA/Questions/2316/Add-OAuth2-as-external-login) for 4 days ago
your support on git hub is faster than there

thanks in advance

[2021-12-26 15:02] awahbahplana opened #11075 "Abp generate-Proxy"
When i try to generate proxy via cli i get
`"SchematicsAbpGenerateProxy" schema is using the keyword "id" which its support is deprecated. Use "$id" for schema ID.`
and when using abp suite it generating with out any problem

i search alot but i do not find any solution

after i get above message the API hanging and don't response until i re run the api again.
thanks

[2021-12-26 15:10] amirmujtaba commented on #3302
I'm facing the same issue, how can I resolve?

[2021-12-27 00:26] afresh commented on #11071
@maliming Thank you all the same.

[2021-12-27 01:15] realLiangshiwei commented on #11075
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Steps needed to **reproduce** the problem.

[2021-12-27 01:34] maliming commented on #11047
Not necessary

[2021-12-27 01:34] #11047 closed, assigned to maliming

[2021-12-27 01:48] #11067 closed, assigned to nobody

[2021-12-27 03:24] yinchang0626 commented on #11075
@realLiangshiwei
version: `dev branch`

@mehmet-erim
It's about angular schematics
We should modify property name `id` to `$id` in such as those code [schematics](https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/schematics/src/commands/proxy-add/schema.json)

[2021-12-27 05:26] awahbahplana commented on #11075
Dear Thank you,
I have proplem on application` v 4.4.4`
UI Angular
DB `Oracle`
This Problem I faced on this app onley i create another one v` 5.0.0` it is worked an generating Proxy with same warning
`"SchematicsAbpGenerateProxy" schema is using the keyword "id" which its support is deprecated. Use "$id" for schema ID.`

the proxy is generated from abp suite if i change the entity, but if i add ne

[2021-12-27 06:11] awahbahplana commented on #11075
I have a question for `abp generate-proxy`

how to determine my module name exactly i think it solve the problem
eg.:
I have name space Requestes i create entity in it RequestFlow so how can i tell the `abp generate-proxy -m ????`

thanks

[2021-12-27 06:53] awahbahplana commented on #11075
The Problem is from Elsa Integration and i think from versioning in Url i remove elsa and every thing are working
do you have any advice?

[2021-12-27 07:43] JadynWong commented on #10183
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/implement-resilient-entity-framework-core-sql-connections#execution-strategies-and-explicit-transactions-using-begintransaction-and-multiple-dbcontexts

[2021-12-27 08:30] hawav opened #11079 "The entity type 'ExtraPropertyDictionary' requires a primary key to be defined"
ABP Framework version: 5.0.0
Database provider: EF Core

After I upgraded the project from 4.3.3 to 5.0.0, I get this error when I run Get-Migration in the Package Manager Console.

[code]

[2021-12-27 08:36] maliming commented on #11079
Please check the migration guide and your code.
https://docs.abp.io/en/abp/latest/Migration-Guides/Index

[2021-12-27 09:25] sturlath opened #11080 "Can you add CurrentTenant to Blazors AbpComponentBase?"
There is all kinds of stuff in there like CurrentUser but I need CurrentTenant. Would be nice to have it there also.

[2021-12-27 09:32] hawav commented on #11079
Thanks. I read the migration documentation again, but nothing seems to be missing.

I solved this.
I tried `git stash` everything, ran `Get-Migration` and it worked.
Then I ran `git stash pop` and executed `Get-Migration` again and the error magically disappeared.

[2021-12-27 09:32] #11079 closed, assigned to nobody

[2021-12-27 10:19] hawav commented on #11079
I found the root cause of the problem, It has nothing to do with the version upgrade:

[code]

[2021-12-27 11:54] sturlath commented on #11080
Since we are at it, can we add IClock?

[2021-12-27 16:22] cbaille commented on #10822
The issue did not happen anymore after I updated to the rc2

[2021-12-27 22:09] ertugrulbakidal opened #11083 "How to add a request header to dynamic C# API client proxy / How to customize dynamic C# API client proxy?"
* ABP Framework version: 5.0
* User Interface: MVC
* Database provider: EF Core

Hi all,
I have an ABP MVC server app and an ABP MVC client app. I'd like this MVC client application to be tenant-specific. That's why I am trying to add a request header to the client app's requests to recognize the tenant by the server app. I can do it with HttpClient but I'd like to get the benefit of "Dynamic C# A

[2021-12-28 02:22] maliming commented on #11083
hi

If you are using the static proxy you can custom the base class([ClientProxyBase](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/ClientProxying/ClientProxyBase.cs)).

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.HttpApi.Client/ClientProxies/IdentityRoleClientProxy.cs
https://github.com/abpframework/abp

[2021-12-28 02:26] booksir commented on #9404
[code]

ABP Version：4.3.3

[2021-12-28 02:29] booksir commented on #7275
[code]

ABP Version：4.3.3

[2021-12-28 02:53] booksir opened #11088 "AbpLazyServiceProvider Operations that change non-concurrent collections must have exclusive access."
ABP Version: 4.3.3

[code]

[2021-12-28 02:54] maliming commented on #11088
See https://github.com/abpframework/abp/issues/7275#issuecomment-761296854

[2021-12-28 02:54] #11088 closed, assigned to nobody

[2021-12-28 05:42] leunghoary commented on #8950
hello, I've solved this problem, and I need to add a mapping

[2021-12-28 05:59] maliming commented on #11047
https://github.com/abpframework/abp/pull/11081

[2021-12-28 07:46] imxiongstu commented on #8950
Hi,Thanks,The perfect solution，but why that do?but why need that do?

[2021-12-28 09:07] #11065 closed, assigned to gterdem

[2021-12-28 09:12] leunghoary commented on #8950
I read the document below, but did not delve into it.
https://docs.microsoft.com/en-us/ef/core/modeling/table-splitting

[2021-12-28 09:55] imxiongstu commented on #8950
Ok,Thanks,Have a good time.

[2021-12-28 10:14] ertugrulbakidal commented on #11083
Hi @maliming
No, I am not using the static proxy, but I will have a look.

[2021-12-28 10:51] improwise opened #11094 "Are nightly builds stopped during xmas?"
Are nightly builds stopped during xmas? Looking to try out the fix for #11035 but latest build I can find is from 2021-12-22. Not sure why there seems to be a manual process to produce the nightly builds but I guess there are good reasons for it (have not been able to find any more info about nightly builds than https://docs.abp.io/en/abp/latest/Nightly-Builds). Thanks.

[2021-12-28 10:53] #11064 closed, assigned to gterdem, enisn

[2021-12-28 10:55] gterdem opened #11095 "eShopOnAbp: Create Order flow"
- [x] #11108
- [x] #11109

[2021-12-28 10:56] #11066 closed, assigned to enisn

[2021-12-28 14:15] realLiangshiwei commented on #11080
@sturlath
Why not, see https://github.com/abpframework/abp/pull/11097

[2021-12-28 14:16] #11080 closed, assigned to realLiangshiwei

[2021-12-28 14:19] enisn commented on #11094
We're working on it right now. It'll be available soon as possible

[2021-12-28 16:31] samanjasim commented on #3848
@maliming I have the same above issue, and I looked over this one #9940, but I didn't understand how to implement the change and what to do?

[2021-12-28 17:13] sturlath opened #11099 "How to remove languages"
I can´t remove languages from any dropdown (Blazor or public website)!

I thought that this would be super easy like removing this from  DomainModule.cs and HttpApiHostModule

[code]

**And** I even delete all the localization json files, delete all cookies and run in private mode etc.

I can´t see that there is something extra in the [docs](https://docs.abp.io/en/abp/5.0/Localization) so I need h

[2021-12-28 18:01] sturlath commented on #11099
Ok I managed to do this with a brand new project (also with Commercial one) so there must be something in my project that is causing this... but what...

[2021-12-28 18:01] #11099 closed, assigned to nobody

[2021-12-28 19:09] gdlcf88 opened #11100 "Question: How to publish an outbox-using distributed event that is compatible with the local event bus provider."
**Assume I am deleting a Book entity, and I want to send a notification email to the author if the deletion success.**

After https://github.com/abpframework/abp/pull/10008, using the distributed event bus with outbox may be a good way since it ensures the UOW completion success and then publishes the domain events. When the `IDistributedEventHandler<EntityDeletedEto<BookEto>>` executes, the book

[2021-12-29 01:09] maliming commented on #11100
The local handler is run on the same UOW and will publish `onUnitOfWorkComplete`.

[2021-12-29 01:53] imxiongstu commented on #8950
Hello,excuse me,
     I want to expand this IdentityUser,How do you map back to local?

`    public class AppRoleService : ApplicationService
    {
        private readonly IRepository<AppRole, Guid> _appRoleRepository;

        public AppRoleService(IRepository<AppRole, Guid> appRoleRepository)
        {
            _appRoleRepository = appRoleRepository;
        }

        public async Task<obje

[2021-12-29 01:57] maliming opened #11101 "`AddObjectAccessor` error `Cannot modify ServiceCollection after application is built.`"
Related to #10928

https://github.com/dotnet/aspnetcore/pull/34981/files

The **AddHangfire configuration action** will exec after the application starts, and the **ServiceCollection** is read-only at this time.

[code]

[2021-12-29 02:08] tjubuntu opened #11102 "add OrganizationUnit management menu and pages to user interface"
I find OrganizationUnit module in domain and application layer ,but i can't management OU in user interface.
It means i develop some page of OU to management .
Or I add some configurations about OU ,it will show me automatically?

[2021-12-29 03:34] gdlcf88 commented on #11100
Take the above example `IDistributedEventHandler<EntityDeletedEto<BookEto>>`.

![image](https://user-images.githubusercontent.com/30018771/147664839-bb571479-b57d-42be-8203-c6492f12c3f2.png)
![image](https://user-images.githubusercontent.com/30018771/147624320-ede57e32-7a2d-4c8c-b08f-8fb877aa2350.png)

If I send the email in this event handler (after ABP 5.0), I cannot ensure that the DB transacti

[2021-12-29 06:03] maliming commented on #11102
hi

This is provided by ABP commercials.

https://commercial.abp.io/modules/Volo.Identity.Pro

![image](https://user-images.githubusercontent.com/6908465/147632032-2a5ac5e6-42eb-4327-a1ab-27b66dd35962.png)

[2021-12-29 06:03] #11102 closed, assigned to nobody

[2021-12-29 08:09] enisn opened #11107 "eShopOnAbp: Add a flag for bypassing payment"

[2021-12-29 08:18] gterdem opened #11108 "Create Aggregate roots and db configurations for OrderService"

[2021-12-29 08:19] gterdem opened #11109 "Create order process after payment compilation"

[2021-12-29 08:24] #11108 closed, assigned to gterdem

[2021-12-29 08:39] BrettSun opened #11111 "AbpBlobStoring Throw exception System.ArgumentNullException:“Value cannot be null. Arg_ParamName_Name”"
AbpBlobStoring

when provider is not used Throw exception System.ArgumentNullException:“Value cannot be null. Arg_ParamName_Name”

More explicit exception information

"BLOB Container provider is not used. Example: Configure to use the File System storage provider by default"

[2021-12-29 08:40] maliming commented on #11111
**BLOB Container provider is not used. Example: Configure to use the File System storage provider by default**

[2021-12-29 10:08] maliming commented on #11111
Move to #11115

[2021-12-29 10:08] #11111 closed, assigned to nobody

[2021-12-29 11:08] anaya-upadhyay opened #11116 "ISoftDelete Claims"
* **ABP Framework 4.4.4**.
* Database provider (EF Core / MySQL)
* **Reference to ISoftDelete claims it is defined in Volo.Abp.Data but it could not be found**

* Steps
 - Downloaded a new Abp Project.
 - Downgraded .NET version from 6.0 to 5.0
 - Updated all the references from the project that this new project is shared from.
 - Build Succeeded
 - Created an Interface inheriting IApplicationServ

[2021-12-29 11:32] maliming commented on #11116
You can use CLI to create old version project.

[code]

[2021-12-29 11:32] #11116 closed, assigned to nobody

[2021-12-29 12:13] anaya-upadhyay commented on #11116
I created a modular application using the cli as you suggested with `--no-ui`  and `MySql` as the parameter

**abp new UtilityServiceBackEnd -t module --no-ui --database-management-system MySQL --database-provider ef -v 4.4.4**

![image](https://user-images.githubusercontent.com/16795691/147660780-a7420174-474d-44f5-b18b-19076b2f535a.png)

This got created:
![image](https://user-images.githubuserc

[2021-12-29 21:07] improwise commented on #11035
Can confirm that "abp add-package Volo.Abp.BackgroundWorkers.Hangfire" seem to be working with ABP 5.0.1

[2021-12-30 01:22] #11035 closed, assigned to yekalkan

[2021-12-30 01:40] rqx110 opened #11121 "There is an ambiguity in the document about manually installing BackgroundWorkers.Hangfire"
In the doc https://docs.abp.io/en/abp/latest/Background-Workers-Hangfire#manual-installation describe:
![image](https://user-images.githubusercontent.com/1829209/147714697-19f47eb0-e03a-4158-9de9-c0246041094a.png)
Here the name `AbpBackgroundWorkersHangfireModule` is different from the code `AbpBackgroundWorkerHangfireModule` https://github.com/abpframework/abp/blob/9d6b2ff323ea0957e386192867b603e

[2021-12-30 01:49] abu7midan opened #11122 "refresh token - tired app -mvc ui"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. 4.4
* Your **User Interface** MVC
* Your database provider(EF Core

* Steps n

[2021-12-30 03:31] maliming commented on #11122
hi

This is more related to IDS, not ABP. You can search it in Google.

[2021-12-30 03:35] abu7midan commented on #11122
maliming

Hello thanks for replying. Actually  this is rated to update token in http of abp client after success the first one

We are using tired abp but with other ids .. i saw abp.js

And abo jquery not supported refresh token without refresh the page it self

[2021-12-30 06:41] iyilm4z commented on #11000
@maliming we may close this issue?

[2021-12-30 06:43] #11000 closed, assigned to nobody

[2021-12-30 06:43] #11100 closed, assigned to maliming

[2021-12-30 07:30] tianxin8206 opened #11129 "Mysql connected error"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. 5.0.1
* Your database provider(EF Core/MongoDB) EF Core
* Exception message a

[2021-12-30 07:52] maliming commented on #11129
Please share your full steps.

[2021-12-30 08:05] tianxin8206 commented on #11129
1.I create an empty project.
2.dotnet run xxxx
3.The system runs an error.
That's my all steps.

[2021-12-30 08:07] maliming commented on #11129
More details, Thanks

[2021-12-30 08:20] xyfy opened #11134 "Entities with Composite Keys Got Exception?"
Abp  5.0.0
follow this [doc](https://docs.abp.io/en/abp/latest/Entities#entities-with-composite-keys)
add an enitty with **Composite Keys**，like below :
![2](https://user-images.githubusercontent.com/7838147/147733938-2dc00a95-324d-4844-bbe2-f9d87c061ecc.png)

when use `dotnet ef migrations add 'add-company'` to add migrations  ,got an exception

[code]

![1](https://user-images.githubusercontent.

[2021-12-30 08:21] xyfy commented on #11134
I try to comment  the foreignKey line ,but got the same err

[2021-12-30 08:24] xyfy commented on #11134
![image](https://user-images.githubusercontent.com/7838147/147734347-1216ac1d-2b97-44c1-b190-4d3eebd9ab9f.png)

[2021-12-30 08:35] xyfy commented on #11134
Is there any other step I need to do ?

[2021-12-30 08:41] realLiangshiwei commented on #11134
Notice that you also need to **define keys of the entity in your object-relational mapping (ORM) configuration**

[2021-12-30 08:55] xyfy commented on #11134
I try to do this ,it is ok!
[code]

but I can not see any example for   **define keys of the entity**  in [remarks](https://docs.abp.io/en/abp/latest/Entity-Framework-Core).

Is the docs need to be updated?

![image](https://user-images.githubusercontent.com/7838147/147735938-590480b1-d04f-4e44-9478-d3c07dc90da2.png)

[2021-12-30 08:58] #11134 closed, assigned to nobody

[2021-12-30 08:58] tianxin8206 commented on #11129
I have a project that uses ABP 4.4.4 and I'm trying to upgrade it to ABP 5.0. However,the project reported an error when connecting to the database.So I tried to create an empty ABP project to testing, but also failed. Then,I created an empty .net6 WebAPI project that referenced Pomelo.EntityFrameworkCore.MySql 6.0 to test, and the database connection was successful. So now I suspect the inability

[2021-12-30 09:09] klapatyivasyl opened #11138 "Unit tests"
How to configure the test project to use the existing database and real db connection there?