[2021-09-10 01:07] maliming commented on #9923
Please share the steps to reproduce.

[2021-09-10 01:42] snowchenlei commented on #9992
Thank you for your reply!

I read the above document,The parameters are static. but the categoryId is dynamic,and I don't know what the values will be
CategoryId is included in the request parameters
Now,I extended the `AbpPermissionGrants` table to add CategoryId,And do the following query to determine whether permissions are included.
[code]
Barely met the demand,But this method is not beautiful

[2021-09-10 02:03] maliming commented on #9992
This is nothing to do with abp.

[2021-09-10 02:03] #9992 closed, assigned to nobody

[2021-09-10 04:17] ngoc31031997 opened #10003 "Wrong backgroupJob working on mutil server (dont use hangfire)"
I have issue with abp background Job.
I running bgj on mutil server and sometime it duplicate job, how to config my bgj, i want to bgj just running on one server in mutil server
someone help me pls

[2021-09-10 04:18] ngoc31031997 commented on #10003
except hangfire, can i handle it with .netcore ?

[2021-09-10 07:13] puschie286 commented on #9992
@snowchenlei hey we had a similar problem - our solution was to allow [dynamic permission](https://github.com/puschie286/abp/tree/dynamic-permissions) changes. with this you can make the category id part of the permission name - a good point for initilization is OnPostApplicationInitialization ( ApplicationModule ).

hope this will help

[2021-09-10 07:16] maliming commented on #10003
If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-09-10 08:56] leonkosak commented on #10003
You should be running background jobs outside web application (in separated console applications) and only each console app (bg job) on one server at the time.
This is the safest approach for background jobs architecture.

[2021-09-10 09:56] NecatiMeral opened #10006 "Language Switch isn't compatible with `CookiePolicyOptions` / `ITrackingConsentFeature`"
* Your **ABP Framework version**: 4.4.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: MVC
* Your database provider(EF Core/MongoDB): /
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem

### Steps to reproduce:

1. Create new template with multiple languages
2. Configure `CookiePo

[2021-09-10 14:05] ebicoglu commented on #10000
you got the 10.000 issue number :)

[2021-09-10 15:57] 312977 commented on #10000
haha

[2021-09-10 20:50] elkhawajah opened #10011 "Action Based Authorization"
I am evaluating ABP to use it to move a legacy app (asp.net mvc) to SaaS model. And I am struggling to find documentation about one thing.

In app, we grant access with specific actions per entity, i.e. a challenge, and in challenge I can add moderator for that challenge.

I am trying to understand how to achieve this with current architecture, so that user is getting the permission (i.e. moderato

[2021-09-10 21:52] balessi75 opened #10012 "How to configure two separate databases per tenant?"
I'm using ABP 4.4.0 Blazor Server (Commercial)

We've read about the ability for each module to have it's own database connection. We've also read about how to separate different ABP modules into different databases. We've also read about how to create a separate DBContext for a secondary database when dealing with a shared DB multi tenancy model. However, we haven't been able to determine how to

[2021-09-11 00:36] johnwanzhi commented on #10012
Hello, can you provide the code of how you can configure a single database for each tenant? I searched almost all the documents and didn't introduce the details of this

[2021-09-11 00:38] johnwanzhi commented on #9986
I think there should be such a sample project, because so far, there is no such sample project

[2021-09-11 05:55] volethanh opened #10014 "Cannot handle error in eventbus using Rebus"
Hi,

I'm using abp.eventbus.Rebus v4.4.0 but I cannot handle error message by implement `IEventErrorHandler`. I don't know if I do any wrong ?

<img width="396" alt="Screen Shot 2021-09-11 at 11 32 28 AM" src="https://user-images.githubusercontent.com/46510130/132936311-89658b0a-b478-4289-ad64-adf0185eb7cb.png">

I also tried implement the way in Rebus wiki guide `IHandleMessages<IFailed<DoStuff>>

[2021-09-11 06:52] maliming commented on #10000
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-09-11 06:56] 312977 commented on #10000
ABP Framework version  4.4.0

[2021-09-11 06:58] 312977 commented on #10000
the exception meesage is enmpty

[2021-09-11 07:21] realLiangshiwei commented on #10014
Cloud you share a project to reproduce? thanks.

[2021-09-11 07:23] elkhawajah commented on #10011
It is called resource based handler/authorization, https://docs.microsoft.com/en-us/aspnet/core/security/authorization/resourcebased?view=aspnetcore-5.0

It is clear now.

[2021-09-11 07:23] #10011 closed, assigned to nobody

[2021-09-11 09:18] 312977 opened #10015 "User has been disabled"
` public async Task ValidateAsync(ExtensionGrantValidationContext context)
        {
            context.Result = new GrantValidationResult("2AC9C809-E9F6-EFD7-A54B-39FEE5E40CC2", GrantType, new List<Claim>
            {
                new (AbpClaimTypes.UserName, "17792511315"),
                new (AbpClaimTypes.UserId, "2AC9C809-E9F6-EFD7-A54B-39FEE5E40CC2")
            });
            return;

[2021-09-11 12:17] realLiangshiwei commented on #10015
I think this is has nothing to do with ABP. you can try to find A solution in stackoverflow.

[2021-09-11 12:17] #10015 closed, assigned to nobody

[2021-09-11 12:43] maliming commented on #9999
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-09-12 17:28] amsaighi opened #10016 "Downgrade ABP CLI / Install a specific version of ABP CLI"
I tried to downgrade our project via ABP CLI using  from 4.4.2 to 4.3.1
`Abp update --nuget --npm --version 4.3.1` it doesn't work

[2021-09-12 20:44] ebicoglu commented on #10016
use the following commands

[code]

[2021-09-12 20:44] #10016 closed, assigned to nobody

[2021-09-12 22:14] amsaighi commented on #10016
My scenario we created a new project ( Application ) based in 4.4.2 and it related with our modules 4.3.1 we found some problem.
We have a lot of module developed by 4.3.1 and we are working with. in our case we can't update all of them because it use in dev for others projects.

By the way I know all of ABP and dotnet CLI ( I read docs ) :D

[2021-09-13 02:07] weiwxg opened #10018 "Depth clone object with multiple level navigations"
I have a scenario as bellow:

Firstly, i have 3 `AggregateRoot`: `Foo`, `Bar` and `Baz`, and they are chained with reference id.

[code]

Now, there is a function to depth copy `Foo` with its navigations `Bar`, `Baz`, How should i Implement it?

By the way, now i implement it by a simple way as bellow:

[code]

Is there a elegant way to implement this scenario?

[2021-09-13 02:09] #10006 closed, assigned to nobody

[2021-09-13 02:09] maliming commented on #10006
https://github.com/abpframework/abp/pull/10009

[2021-09-13 02:11] maliming commented on #10018
hi

This has nothing to do with ABP.

[2021-09-13 02:11] #10018 closed, assigned to nobody

[2021-09-13 02:46] snowchenlei commented on #9992
That's a good idea,Thanks
But I want to know how to know policy in AuthorizeAttribute

[2021-09-13 03:59] snowchenlei opened #10019 "move the oauth out of @abp/ng.core"
Abp uses the oauth by default to login.
However, in some scenarios, we do not use oauth, we use jwt instead.
But when environment.oAuthConfig does not exist, it will get error
Can you move the oauth related to a separate package?

[2021-09-13 08:19] yekalkan commented on #10016
Hi @amSaighi,

`abp downgrade` command won't be much useful. It will cover very rare cases.

Thank you for your suggestion.

[2021-09-13 10:58] emilsjog opened #10023 "Custom permissions are not listed in UI"
UI: **blazor-server**
Migrated from **abp 4.3** to **abp 4.4.1** and cannot see the permissions in the modal. Only the identity permissions are listed.

![image](https://user-images.githubusercontent.com/6585041/133071965-063c7de0-0817-409d-be4f-5fd1eb83c098.png)

Normally in **abp 4.3** I can see my 20+ custom groups.

Anyone with the same problem?

[2021-09-13 12:53] maliming commented on #10023
Please try to reproduce this with the brand new **4.4.1** template project.

[2021-09-13 13:13] emilsjog commented on #10023
Upgraded to **abp 4.4.2** and got it working. Permissions are now displayed correct.
I don't know if there was a bug in **4.4.1** but at least it's working on the latest version.

[2021-09-13 13:13] #10023 closed, assigned to nobody

[2021-09-13 21:09] nev-21 opened #10024 "Permissions UI, not updating the number of permissions selected"
### Abp version

ABP Framework version: 4.4.0
Angular
EF Core (npgsql)

### Reproduce

Create a group called TESTGROUP and add permissions inside the PermissionDefinitionProvider.
After that login as admin, and go to roles UI.

 1. select permission for a role and the popup will appear.
 2. select the group you created, the name will be TESTGROUP(0)
 3. enable one permission

###  The issue

After

[2021-09-13 21:23] begandroide commented on #8654
Hi! Recently I created a new ABP project and I want to use `strictTemplates` in angular, and I configure `tsconfig.json` with `skipLibCheck: true` and I has an issue with `autofocus` directive: what can be missing?

<img width="1395" alt="Captura de Pantalla 2021-09-13 a la(s) 18 21 11" src="https://user-images.githubusercontent.com/22018004/133158017-2e2cc2cd-8f81-4112-88a7-5c211a63e756.png">

Re

[2021-09-14 01:09] #9999 closed, assigned to nobody

[2021-09-14 05:23] Sean-Fang opened #10025 "RemoteService api parameter input with List<> Property cannot be passed to HttpGet method"
### GitHub Issues

- **ABP Framework version**： 4.3.3
- No explicit error message except result from remote service not correct
- Steps needed to **reproduce** the problem:
    - Create an app service and configure auto api controller
    - Add app service method with HttpGet type (either by convention or add attribute )
    - Add a GetRequestDto - 'input' with a list property e.g. List<Guid> xxxI

[2021-09-14 05:33] maliming commented on #10025
We will try to improve the remote call after https://github.com/abpframework/abp/pull/9905

[2021-09-14 09:55] maliming commented on #10025
Can you share a project?

[2021-09-14 09:56] mehmet-erim commented on #8654
Hi,

Autofocus directive exposed by `@abp/ng.core`. Did you import the `CoreModule` to your module?

[2021-09-14 12:19] begandroide commented on #8654
Yes, I did it and not working with strictTemplates because a type error in directive.

[2021-09-14 12:31] sturlath opened #10026 "EntityCreatedEventData handler not hit after creating IdentityUser (if no tenant is set)"
I'm having problem getting `HandleEventAsync` for `IDistributedEventHandler<EntityCreatedEventData<IdentityUser>>` to hit when I register a user without having a tenant (just register from the login page without tenant).

But [my code](https://github.com/sturlath/RolesDemo/blob/ba382da19ea98cc2a7ae2b5ecf675655cee0b73c/src/RolesDemo.Domain/Users/RegisteredIdentityUserHandler.cs#L44) **gets hit** wh

[2021-09-14 12:56] jeroen-min opened #10027 "Generate proxy does not generate property as a nullable array"
Not sure if this is a bug or a feature request.

I have a class that is used to filter projects: GetProjectsInput
i have added a filter option where the user can select projectStatusTypes to filter the list on. This property is of type `IEnumerable<ProjectStatusType>` and it can be null in the backend.

When i run the command `abp generate-proxy` the property is generated as: `projectStatusTypes:

[2021-09-14 13:00] puschie286 commented on #9992
to use the authorize attribute for dynamic informations you need to create your own implementation / version. you can check [here](https://stackoverflow.com/questions/18891997/how-to-change-authorize-attributes-parameter-at-runtime) and [here ](https://stackoverflow.com/questions/30099613/dynamically-add-roles-to-authorize-attribute-for-controller) for further informations or google for it.

[2021-09-14 13:54] Stirda opened #10028 "Incorrect french translation of "Name" and "Surname" in Account UI"
In [fr.json file of Account UI](https://github.com/abpframework/abp/blob/89cec4aaf9587c8cb6e66762f88599232d84765a/modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/fr.json), "Name" and "Surname" should be :

[code]

These errors may lead to bad input since initially `"DisplayName:Name"` was translated in `"Nom"`.

ABP 4.4.2.

[2021-09-14 19:31] davidzwa commented on #10019
Yes this is quite easy to do.

One of the authors helped me to this replacement provider. Put this in your app module providers array:
[code]

I can tell you this works as this has been running in production like this.

[2021-09-14 21:01] begandroide opened #10029 "How to change redirectUrl from identityServer"
Hi! I'm using abp stack to build my application, and i want change redirectUrl host of identityServer.

why?: I want to keep all User interaction with the front page (Angular), and i dont want to pass throw web api to make login. All work's fine until i have two tabs with authorized session; when i logout in a tab, so in other tab i has error 302 (moved), so my app tries to redirect to these uri w

[2021-09-15 02:40] realLiangshiwei commented on #10028
HI,

Thanks, we will update it.

[2021-09-15 03:15] #10028 closed, assigned to realLiangshiwei

[2021-09-15 06:57] Stirda commented on #10028
@maliming Beware that french short translation of the concept of full name is "Nom", not "Prénom". So if in [this change on ...cation.Contracts/Volo/Docs/Admin/Localization/Resources/Docs/ApplicationContracts/fr.json](https://github.com/abpframework/abp/pull/10030/files/a1fb2274e20d63f855383f4e46361cfe4682dc85#diff-1d6c82fa82befe6c7faeda8cd1adc65975321a37a44caca6fb9c1addeae867a0), `DisplayName:Nam

[2021-09-15 07:04] hikalkan opened #10031 "Document: Deployment with multiple instances"
When we deploy the application in a clustered environment where multiple instances of the application/service are concurrently running, we should take care of some stuff. We should write a guide to make this explicit. The following topics are the first ones we should include:

* Distributed cache
* BLOB storing
* background workers & jobs
* Configuring distributed lock providers

[2021-09-15 07:06] hikalkan opened #10032 "Implement distributed lock for background job execution"
We are using a distributed lock for #10008. We can use it also for background job system, so we can safely run multiple instances of the application without worrying to disable job execution in all instances except one. We can start this work after #10008.

We also may need to create a wrapper around the DistributedLock library, so we can mock it in unit tests and use a null implementation for sin

[2021-09-15 07:58] hikalkan opened #10033 "Finalize the Outbox & Inbox patterns for the distributed event bus"
I've completed the basic implementation with some missing stuff. With this issue, we will complete the PR #10008. Please create a new branch from `eventboxes` branch and send a PR to `eventboxes`. I will merge your PR to `eventboxes` branch first, then merge it to `dev`.

The following works should be done:

- [x] Implement & test MongoDB integration. I left it semi-done. You can start with `Mongo

[2021-09-15 08:07] hikalkan opened #10034 "Question about the eventbus retry logic"
With https://github.com/abpframework/abp/pull/8829 we had introduced a retry system. That's fine, but when I investigate it I see that it re-publishes the message when it gets an error from the handler. This may work in some cases, but it can be a problem if the events should be processed by order. When we re-publish the event, it goes to the end of the queue and the event order changes.
Should we

[2021-09-15 08:11] hikalkan opened #10035 "Optimization: Batch publish events from outbox to the event bus"
We can implement this for those supports batch message publishing. It would be much more performant.

When I searched for it, I see that RabbitMQ has a batch publish operation. However, I saw this document: https://www.rabbitmq.com/tutorials/tutorial-seven-dotnet.html As I understand, publishing messages to RabbitMQ is not so safe! It seems we should wait for confirmation in order to delete event

[2021-09-15 08:19] hikalkan opened #10036 "Support multi-tenant multi-database for outbox and inbox patterns for the distributed event bus"
https://github.com/abpframework/abp/pull/10008 adds inbox & outbox patterns to the distributed event bus. However, it doesn't support multi-tenancy with a tenant has a dedicated database. We don't support it since it is not feasible. To make inbox/outbox consistent, we should save the message within the same database that is related to the event publishing/handling logic. The essential problem is

[2021-09-15 12:56] #9926 closed, assigned to maliming

[2021-09-15 13:04] mehmet-erim opened #10038 "Angular UI Docs: Add documentation for HttpErrorReporterService"

[2021-09-15 13:30] #9864 closed, assigned to maliming, realLiangshiwei

[2021-09-15 21:09] sturlath commented on #10026
No one? I can’t see what I can do to affect this and there is nothing in the docs.

How can I get the event if there is no tenant? Should that matter? Is it therefore a bug or am I missing something?

[2021-09-15 23:26] AbuDawood opened #10039 "Error: Module not found: Error: Can't resolve '@abp/ng.core/lib/strategies/auth-flow.strategy'"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* 4.4.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the iss

[2021-09-16 01:17] maliming commented on #2643
https://github.com/abpframework/abp/pull/9940

[2021-09-16 01:17] maliming commented on #3848
https://github.com/abpframework/abp/pull/9940

[2021-09-16 01:17] maliming commented on #4785
https://github.com/abpframework/abp/pull/9940

[2021-09-16 01:17] maliming commented on #5235
https://github.com/abpframework/abp/pull/9940

[2021-09-16 01:17] maliming commented on #7503
https://github.com/abpframework/abp/pull/9940

[2021-09-16 01:25] maliming commented on #10026
hi

Can you share a simple template project?

[2021-09-16 01:33] #9004 closed, assigned to maliming, realLiangshiwei

[2021-09-16 01:43] maliming commented on #9903
This will be resolve in 4.4.3.

[2021-09-16 01:43] #9903 closed, assigned to nobody

[2021-09-16 05:51] sturlath commented on #10026
Hi you must have missed it @maliming but there is a link to my git repo code where you can just get and try out.

Just add a brakepoint in the line below and register a user without being logged in as a tenant (doesnt get hit) and then create a user when you are logged in as a user and see it get hit

Put brakepoint here https://github.com/sturlath/RolesDemo/blob/ba382da19ea98cc2a7ae2b5ecf675655ce

[2021-09-16 05:54] berkansasmaz opened #10042 "Add an option to `AbpExceptionHandlingOptions` for enabling/disabling stacktrace"
1- Test if it happens only in DEBUG mode or RELEASE mode?

[2021-09-16 06:57] lht6 opened #10043 "Is there a way to extend a regulare propery (not in ExtraProperties) for IdentyUser?"
I am aware that, in the latest version of vbp, AppUser has been replaced by IdentityUser, and it seems there is no way to refer to a regular property (not in ExtraProperties) for IdentyUser on the server side code.
e.g. By following [https://docs.abp.io/en/abp/latest/Module-Entity-Extensions](url), it could create a new column "SocialSecurityNumber" in AppUsers table, however, I didn't find any in

[2021-09-16 07:01] maliming commented on #10043
https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna#using-custom-properties-in-the-application-code

[2021-09-16 07:21] #9953 closed, assigned to realLiangshiwei

[2021-09-16 07:22] snowchenlei commented on #10019
Thank you very much for your answer
but now i use ng-alain
This combination became difficult after 4.4

[2021-09-16 07:25] Sean-Fang commented on #10025
Sorry for late reply. I was trying to create a new project for you reproducing the issue however the issue disappeared from that new project.
Now I am working on targeting the issue from my side.
Thank you vey much for your time.
You may close the issue now.

[2021-09-16 07:26] realLiangshiwei opened #10044 "Generate dynamic js proxy should excludes existing static js proxy"
Related: https://github.com/abpframework/abp/issues/9864

We build a static proxy system, but the dynamic js proxy will generate duplicate scripts, we should exclude the existing static js proxy when generating dynamic js proxy scripts

[2021-09-16 07:28] #10025 closed, assigned to nobody

[2021-09-16 07:36] #8428 closed, assigned to nobody

[2021-09-16 07:59] hikalkan commented on #8771
I've introduced Volo.Abp.Auditing.Contracts package with https://github.com/abpframework/abp/commit/dea2bba8390fc30a9e538d25930442d27c72c0ca
Moving this to backlog for further improvements.

[2021-09-16 08:11] hikalkan commented on #8887
@realLiangshiwei I've done it for the identity module: https://github.com/abpframework/abp/commit/42fb3c87867d29bddd4eb7324e1404146c58d262
Please you do it for all other modules (including the volo repo).

[2021-09-16 08:16] hikalkan commented on #7221
I am moving this to after ABP 5.0. This is a huge work and we will work on in the next year. Currently, we continue to use IDS4 open source version since it is being maintained until end of 2022. We will provide a good solution before that date.

[2021-09-16 08:29] hikalkan commented on #9405
We won't make this since https://github.com/abpframework/abp/pull/9905 solves the main problems.

[2021-09-16 08:29] #9405 closed, assigned to nobody

[2021-09-16 08:34] hikalkan commented on #8210
@ebicoglu I see the new version has been published. Did you try with it?

[2021-09-16 08:35] NepPure commented on #8210
Solved

[2021-09-16 08:36] hikalkan commented on #2183
We can't able to work on this in v5.0. We will revisit this later and decide how we can integrate to dapr, or should we integrate.

[2021-09-16 08:41] xdmushui commented on #2183
A little down to hear this news.

[2021-09-16 08:42] hikalkan commented on #8210
Thanks @NepPure for the information :)

[2021-09-16 08:43] hikalkan commented on #8210
@ebicoglu then we can upgrade the Oracle dependency (https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore.Oracle/Volo.Abp.EntityFrameworkCore.Oracle.csproj#L22) and close this issue.

[2021-09-16 08:52] hikalkan commented on #9807
I think it is the time and we can do this. We are considering to release a 5.0 preview version soon, probably in the next week.

[2021-09-16 08:53] #6808 closed, assigned to mehmet-erim

[2021-09-16 08:53] #9952 closed, assigned to mehmet-erim

[2021-09-16 09:00] leonkosak commented on #10036
For instance 50k tenants @hikalkan . :)
https://github.com/abpframework/abp/issues/9467#issue-933549602

[2021-09-16 09:06] hikalkan commented on #10044
I think this is duplicate of https://github.com/abpframework/abp/issues/9955

[2021-09-16 09:07] realLiangshiwei commented on #10044
right, close.

[2021-09-16 09:07] #10044 closed, assigned to nobody

[2021-09-16 09:27] puschie286 opened #10050 "BusinessException not shown in AppService"
### GitHub Issues

* Your **ABP Framework version**: 4.4
* Your **User Interface** type: Blazor Server
* Your database provider: EF Core

acording to the documentation we use buisness exceptions inside manager ( like you do in the author example ). these exceptions are not shown, just a generic "an internal error happen" message is shown.

when stepping through the code i found that only IUserFrie

[2021-09-16 09:29] realLiangshiwei commented on #10036
@leonkosak See https://support.abp.io/QA/Questions/1807#answer-e8ad6988-c913-8f13-91ca-39feef2912bd

[2021-09-16 09:53] maliming commented on #10050
hi
https://github.com/abpframework/abp/issues/9910#issuecomment-913928509

[2021-09-16 09:53] #10050 closed, assigned to nobody

[2021-09-16 09:58] puschie286 commented on #10050
that is not the problem - the question is if you can add the information about error code formatting and which exceptions are passed to the user to the documentation

[2021-09-16 10:09] puschie286 commented on #10050
@maliming
we use HandleErrorAsync but it only works under the conditions metioned in the description

[2021-09-16 10:41] bnymncoskuner commented on #10039
Hello,

`AUTH_FLOW_STRATEGY ` is not an exposed API on purpose. What is it that you try to achieve?

[2021-09-16 12:08] mentianyi opened #10054 "How can i stay on current page after datatables.ajax.reload()"
After update some value ,i need to refresh data,but ajax.reload will jump to first page.

when i set stateSave:true in datatables options,page parameter can save state,but reload() not work correct.

[2021-09-16 12:17] mentianyi commented on #10054
Problem solved.

[_table.ajax.reload(null,false);](https://datatables.net/reference/api/ajax.reload())

[2021-09-16 12:17] #10054 closed, assigned to nobody

[2021-09-16 12:36] aelhadi opened #10056 "Razor Filter Error with Async Task"
Hi,
version : last

i've an error when i tried to trwo exeption from async Task :

in my Razor index.html.cs ,  i have :

[code]

when i call my page :

Exception: Error Message
Myproject.Web.Pages.Clients.IndexModel.OnGetAsync() in Index.cshtml.cs
+
                throw new Exception("Error Message");
Microsoft.AspNetCore.Mvc.RazorPages.Infrastructure.ExecutorFactory+NonGenericTaskHandlerMethod.

[2021-09-16 12:47] AbuDawood commented on #10039
Thank you for your response
the big purpose is to replace the OAuthService provider  token by my own
class using useClass.
I tried to make this in AppModule class. However, I find I have to replace
also the `AuthService`.
Creating a class that inherits from `AuthService` also failed and I find
myself obliged to copy and paste all the class and their related elements
including all the auth-flow.str

[2021-09-16 13:01] eneskoroglu opened #10057 "Remove the "host/" prefix of blob name when the blob container is set to "IsMultiTenant = false""
Hi @hikalkan and @maliming ,

As mentioned in #5492 and #5510 we also need this feature for a limited access on an existing directory.

I think you can do it with a parameter like **AppendHostNameToBasePath** as existing parameter **AppendContainerNameToBasePath**. So no one does not have to do any change.

I am trying to access an existing directory and I do not have permission to add a subdirect

[2021-09-16 13:10] maliming commented on #10056
What is the result of your expectations?

[2021-09-16 13:11] aelhadi commented on #10056
throwing freindly error message.

[2021-09-16 13:15] #10056 closed, assigned to nobody

[2021-09-16 13:50] AdemAygun opened #10058 "BLOB Storing container class location"
* Your **ABP Framework version**. 4.3.3
* Your **User Interface** angular
* Your database provider(EF Core)

I want to use [Blob Storing System](https://docs.abp.io/en/abp/latest/Blob-Storing) and to create a [container](https://docs.abp.io/en/abp/4.4/Blob-Storing#typed-iblobcontainer) class.  Which layer would be correct location for container class?  (is Domain.Shared appropriate location?)

[2021-09-16 13:52] #619 closed

[2021-09-16 13:54] gentledepp commented on #619
AWESOME! 😲😲😲😲😲

[2021-09-16 13:54] yekalkan commented on #10058
Domain layer will be correct.

[2021-09-16 14:11] mehmet-erim opened #10059 "Angular UI: Make the @abp/ng.account dependent on @abp/ng.identity"
@abp/ng.account package needs to @abp/ng.identity package to use profile DTOs and ProfileService.
Before, we've placed the service and the DTOs to @abp/ng.core. Since this is not the correct approach, we will delete the profile proxies from the core package.
If you imported ProfileService or Profile namespace from the core package, your app will be broken. As of v5.0, you need to import these from

[2021-09-16 14:18] mehmet-erim opened #10060 "Angular UI: Create new secondary entrypoints and move the related proxies to there"
We've decided to create new secondary entry points and move proxy files there for better DX.
For example:
You can import identity module proxies from the `@abp/ng.identity/proxy` entry point like this:

[code]

Before, you could import these from directly main entry points (@abp/ng.identity). As of v5.0-preview, you should change your imports like the code example above.

[2021-09-16 14:20] mehmet-erim opened #10061 "Angular UI: Move SettingTabsService to @abp/ng.setting-management/config package from @abp/ng.core"

[2021-09-16 14:23] mehmet-erim opened #10062 "Angular UI: Create ManageProfileTabsService to be able to add new tabs to the "Manage Your Profile" page or remove/change any tab"
## Edited by @masumulu28  [2024-02-15]
This issue's solution exits in commercial part. We'll discuss about it `ManageProfileTabsService`

[2021-09-16 15:23] Wiblox commented on #7957
Yes please. <3

[2021-09-16 18:23] davidzwa commented on #10019
I do agree with you that oAuth is quite hard to remove from the angular setup. But then I must also add that my setup (and yours) deviate quite a lot from the path that Abp has set out as default.

Hopefully the team and us can come to a good mid-way in this triage!

[2021-09-16 20:00] tvddev commented on #9997
@maliming - i see 4.4 patch is 100% complete, any update on when this will be released?

[2021-09-17 01:56] lht6 commented on #10043
Thanks, @maliming

[2021-09-17 01:56] #10043 closed, assigned to nobody

[2021-09-17 01:57] lht6 commented on #10043
The regular property created by following steps in the above link.

[2021-09-17 06:11] #9413 closed, assigned to realLiangshiwei

[2021-09-17 08:28] mehmet-erim opened #10065 "Angular UI Docs: v5.0 Migration Guide"
See the [Angular UI v4.x to v5.0 Migration Guide](https://docs.abp.io/en/abp/5.0/Migration-Guides/Abp-5_0-Angular)

---

### Breaking Changes

- https://github.com/abpframework/abp/issues/9952
- https://github.com/abpframework/abp/issues/9806
- https://github.com/abpframework/abp/issues/7472
- https://github.com/abpframework/abp/issues/10061
- https://github.com/abpframework/abp/issues/10060
- htt

[2021-09-17 08:52] berkansasmaz commented on #9570
It has been observed that we do not have a performance problem at the moment, so I am closing this issue.

[2021-09-17 08:52] #9570 closed, assigned to nobody

[2021-09-17 10:40] muhammedaltug opened #10067 "Angular UI Bootstrap 5 implementation"

[2021-09-17 11:58] agustinsilvano commented on #9923
@maliming

From the server perspective:

1. Create the service and interface inheriting of ApplicationService and IApplicationService.

From the client perspective:

1. Install AbpHttpClientModule
2. Add the interface to the `Application.Contracts` project (`ClientAppApplicationContractsModule` module).
3. Add to the ApplicationModule the settings that the doc says.
[code]
4. Add the config to the

[2021-09-17 12:04] sturlath commented on #10026
@maliming you tried it? Valid problem?

[2021-09-17 12:49] #9651 closed, assigned to realLiangshiwei

[2021-09-17 12:58] #9698 closed, assigned to maliming

[2021-09-17 14:04] berkansasmaz opened #10069 "Blogging module has routing problem"
Screenshots taken from test application of `Blogging` module:

<img width="1680" alt="Screen Shot 2021-09-17 at 16 38 32" src="https://user-images.githubusercontent.com/31216880/133794171-a4346c6d-5b8c-4db3-83bc-c5cdd5a48377.png">

<img width="1680" alt="Screen Shot 2021-09-17 at 16 38 46" src="https://user-images.githubusercontent.com/31216880/133794181-34d6f91c-4df9-4429-b040-03092530c7cf.png">

[2021-09-17 14:10] ebicoglu commented on #10069
there's a problem with the routing.

[2021-09-17 14:56] #10069 closed, assigned to maliming

[2021-09-17 16:02] sebastienricher commented on #4336
Just adding a comment that this is wanted by us also ! Would be very nice !

I get similar results even with creator user id and modifier user id, if that is the same issue.

[2021-09-17 18:35] lht6 opened #10072 "The way to change password policy"
Is there a way to change the password policy in identity user creating and updating? like, set the maximum password to 10, and remove Uppercase and Special character requirement.

[2021-09-18 00:26] JadynWong commented on #10072
docs: https://docs.abp.io/en/abp/latest/Modules/Identity#options

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity?view=aspnetcore-5.0&tabs=visual-studio#configure-identity-services-1

[2021-09-18 00:56] #10072 closed, assigned to nobody

[2021-09-18 04:05] acjh commented on #10026
I tried it (register a user without being logged in as a tenant) and the breakpoint gets hit.

# Aside

For distributed events, use `EntityCreatedEto<UserEto>` in place of `EntityCreatedEventData<IdentityUser>`.
https://docs.abp.io/en/abp/4.4/Distributed-Event-Bus#pre-defined-events

`EntityCreatedEventData` is a pre-built event for the local event bus.
https://docs.abp.io/en/abp/latest/Local-Even

[2021-09-18 09:26] sturlath commented on #10026
Humm OK are you sure we are doing the same thing @acjh? I just retried this on 3 versions of VS,reboot etc. :-)

There is just no way for me to register a new user and hit the [brake point](https://github.com/sturlath/RolesDemo/blob/ba382da19ea98cc2a7ae2b5ecf675655cee0b73c/src/RolesDemo.Domain/Users/RegisteredIdentityUserHandler.cs#L44) in `RegisteredIdentityUserHandler`.

If I register like this,

[2021-09-18 09:40] acjh commented on #10026
Yes, that's also how I do it (register a user without being logged in as a tenant).

Long shot, but can you clone (not copy) your repo to a new folder and run that?

[2021-09-18 10:57] sturlath commented on #10026
Damn... and you are logged in to identity with admin/1q2w3E* ?

![image](https://user-images.githubusercontent.com/2386572/133885912-cbd32a68-885e-4e89-9f4e-ba55ed9f78fd.png)

Here you can see what I´m doing, all in the same debug session with a newly cloned folder (its 48 sec). First where it doesn´t brake and then when it brakes...
![DoesNotBrake](https://user-images.githubusercontent.com/238657

[2021-09-18 13:17] acjh commented on #10026
Ok, I figured it out.

While logged in, creating a user from main app calls `https://localhost:44365/api/identity/users`.
While not logged in, registering from identity server app calls `https://localhost:44315/Account/Register`.

For the latter, the breakpoint gets hit in the `.IdentityServer` debug session.
I suppose you only put a breakpoint in the `.HttpApi.Host` debug session, right?

Btw, it

[2021-09-18 23:06] begandroide commented on #9962
hi! i has the same issue on Angular UI (ABP 4.4.2). I can see that solution is for ABP 5.0, some workaround for the moment?

<img width="1788" alt="Captura de Pantalla 2021-09-18 a la(s) 19 38 24" src="https://user-images.githubusercontent.com/22018004/133910697-5797ad05-bb7c-4000-8076-1574ce9da004.png">

[2021-09-18 23:39] #9578 closed, assigned to nobody

[2021-09-18 23:39] #9558 closed, assigned to nobody

[2021-09-19 00:59] ghd258 commented on #5543
why  5.0不解决了吗

[2021-09-19 08:23] hmphu commented on #9062
You save my life, this works fine. It should be added to document

[2021-09-19 12:30] sturlath commented on #10026
Humm OK how does that work? Everything that is happening in my gif is in **one and the same** debugging session.

But you are totally correct that the code gets executed, I added a output log statement and if

- I´m creating a user from the main page see the message in the IdentiyServer console
- but if I´m logged in as a tenant I see the output in the Host console

And also how are you able to hi

[2021-09-19 12:36] acjh commented on #10026
How are you running your `.IdentityServer` instance?

I just run it in Visual Studio and set the same breakpoint.

[2021-09-19 12:56] #9590 closed, assigned to nobody

[2021-09-19 13:02] sturlath commented on #10026
🙈🙈🙈 feeling like a **total** idiot! I had the identyserver set to no debug!! 😂😅

Sorrt for waisting your time **BUT** I learned few thing along the way.. now closing this “issue”

[2021-09-19 13:02] #10026 closed, assigned to nobody

[2021-09-19 14:58] mahdighorbanpour opened #10073 "Disabling tenant filter using IDataFilter does not work in a CrudAppService within CreateFilteredQueryAsync"
* Your **ABP Framework version : 4.4.2**.
* Your database provider(EF Core)
* Steps needed to **reproduce** the problem.
- Define an entity with IMultiTenant interface
- Define a CrudAppService for it
- override CreateFilteredQueryAsync and disable the IMultiTenant filter

Hi, I have a entity with IMultiTenant interface, I need to disable the filter for tenantId in the overrided method CreateFilte

[2021-09-20 01:00] maliming commented on #10073
hi

`CreateFilteredQueryAsync` What is returned is `IQueryable`, which has not been queried yet.

[2021-09-20 03:21] lee-vic opened #10076 "background job not work"
* Your **ABP Framework version** 4.4.2
* Your **User Interface** MVC
* Your database provider:EF Core

I follow the tutorial: https://docs.abp.io/en/abp/latest/Background-Jobs for testing,It's weird. Sometimes it works, sometimes it doesn't.I look at the data in the database for table AbpBackgroundJobs. Column IsAbandoned has the value true. I don't understand, because the tutorial instructions wi

[2021-09-20 03:21] lee-vic commented on #10076
[code]

[code]

[2021-09-20 06:02] maliming commented on #9997
hi @tvddev

I remembered something wrong, sorry for that.
I solved the simulation problem of the Blazor Server.
The Blazor WASM is still restricted, it can't simulate tenants/users.

[2021-09-20 06:59] amsaighi commented on #10016
Yep it's rare cases, I did it manually
Thank you

[2021-09-20 08:05] puschie286 opened #10078 "BusinessException shown condition not mention in documentation"
original issue was closed due non related anwser
please read the description!
https://github.com/abpframework/abp/issues/10050

[2021-09-20 10:38] ebicoglu opened #10079 "Send a message from host when a new module is added"
Some modules need to inform user to make some custom steps (eg: cms-kit. you need to add some code to make it work).

[2021-09-20 10:39] #10079 closed, assigned to ebicoglu

[2021-09-20 10:47] hikalkan opened #10080 "Show how to override localization strings of depending modules"

[2021-09-20 12:40] agustinsilvano commented on #9923
@hitaspdotnet what I'm doing wrong?

[2021-09-20 12:58] ebicoglu opened #10081 "Replace System.Drawing with ImageSharp in Blogging module"
We are using `System.Drawing` library to validate images for Blog Module. See the reference -> [https://github.com/abpframework/abp/blob/dev/modules/blogging/src/Volo.Blogging.Application/Volo.Blogging.Application.csproj#L14](https://github.com/abpframework/abp/blob/dev/modules/blogging/src/Volo.Blogging.Application/Volo.Blogging.Application.csproj#L14)

After .NET6 Microsoft announces that  `Syst

[2021-09-20 14:07] mehmet-erim opened #10083 "Angular UI Docs: Usage of ChartComponent"

[2021-09-20 14:18] mehmet-erim commented on #7472
Hi,

You don't need to override the `THEME_SHARED_APPEND_CONTENT` injection token as of v5.0.
Please take a look at [this PR](https://github.com/abpframework/abp/pull/10082) to see changes made about usage of the chart.js.

[2021-09-20 14:24] davidzwa commented on #7472
Awesome!

[2021-09-20 14:54] gterdem commented on #10078
You need to use `try catch` block in your app service to catch your Business Exception **then** throw UserFriendly Exception with the cought data as you like.

Why?
Because business rules (referring to domain rules and their exceptions) are independent from application service and UI.
Your **Code 101 Business Exception** may have unnecessary information for mobile UI but you may want to show detai

[2021-09-20 15:18] puschie286 commented on #10078
well there are some conditions to show it without userfriendlyexception

BuisnessExceptions are automaticly shown if your ErrorCode starts with your resource/project name. https://github.com/abpframework/abp/blob/12677fb2307d1b48451bf991f8a86092847de9cd/framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/AspNetCore/ExceptionHandling/DefaultExceptionToErrorInfoConverter.cs#L135-L141

and the question

[2021-09-20 15:40] muhammedaltug commented on #10067
related branch https://github.com/abpframework/abp/commits/feat/10067

[2021-09-21 03:30] leonkosak commented on #10081
Interesting articles

https://devblogs.microsoft.com/dotnet/net-core-image-processing/
https://photosauce.net/blog/post/5-reasons-you-should-stop-using-systemdrawing-from-aspnet

[2021-09-21 07:05] #7472 closed, assigned to mehmet-erim

[2021-09-21 09:27] mehmet-erim opened #10089 "Angular UI: Redirect user to login page when token expired"

[2021-09-21 09:55] gterdem commented on #10029
Default auth flow for SPA applications is **Authorization Code with PKCE flow**. You need to change the auth flow to **Resource Owner Password Flow**. You can check [Authorization in Angular UI docs](https://docs.abp.io/en/abp/latest/UI/Angular/Authorization#resource-owner-password-flow) to learn how.

More general information about auth flows can be found [here](https://auth0.com/docs/authorizati

[2021-09-21 10:17] hitaspdotnet opened #10090 "Volo.Abp.Data.DataFilter.IsEnabled<TFilter>() reference not set to an instance of an object"
Microservice pro template after upgrade from 4.4.0 to 4.4.2
[code]

[2021-09-21 10:26] hitaspdotnet commented on #10090
This because local installed of dotnet core 6 SDK
Add global sdk target config to resolve

[2021-09-21 10:26] #10090 closed, assigned to nobody

[2021-09-21 10:56] #9724 closed, assigned to realLiangshiwei

[2021-09-21 11:14] hitaspdotnet commented on #10073
@mahdighorbanpour Do NOT disable it here, override methods you need or create once,
[code]

[2021-09-21 12:49] #8887 closed, assigned to realLiangshiwei

[2021-09-21 13:15] bnymncoskuner commented on #10060
Following proxies have been affected

- `@abp/ng.account` to `@abp/ng.account.core/proxy` **
- `@abp/ng.feature-management` to `@abp/ng.feature-management/proxy`
- `@abp/ng.identity` to `@abp/ng.identity/proxy`
- `@abp/ng.permission-management` to `@abp/ng.permission-management/proxy`
- `@abp/ng.tenant-management` to `@abp/ng.tenant-management/proxy`
- Profile service is deleted from `@abp/ng.core

[2021-09-21 14:07] begandroide commented on #10029
Thanks you! I changed it to *Resource Owner Password Flow* but AppService still with *error 302*, so tries to go redirectUrl. I think I missed something in backend project 🤔.

[2021-09-21 14:44] gterdem commented on #10029
Hard to diagnose without checking the logs.

Share your `environment.ts` and identityserver logs when you make the authentication request please.

[2021-09-21 15:12] begandroide commented on #10029
@gterdem Ok, env part:
[code]

And i shared logs: https://drive.google.com/file/d/18FqdOA5YBj8REpURCw_iv-fgSA0_kyM5/view?usp=sharing

Thanks you in advanced.
pd: in db [IdentityServerClientCorsOrigins] is present origin localhost:4200

[2021-09-21 15:15] ebicoglu commented on #8210
Updated to the latest _(5.21.3)_ but now the Oracle has another problem. It doesn't work on .NET6
See https://github.com/oracle/dotnet-db-samples/issues/201

Read [Oracle Support for .NET 6 and Entity Framework Core 6: Statement of Direction](https://medium.com/oracledevs/oracle-support-for-net-6-and-entity-framework-core-6-statement-of-direction-cfa5d1c59ff8)

[2021-09-21 16:20] gterdem commented on #10029
IdentityServer logs seems ok.

[code]

You shouldn't have `redirectUrl: baseUrl,` in your `oAuthConfig` and also add `offline_access` scope for refresh tokens.

[2021-09-21 16:36] begandroide commented on #10029
thanks you for help, i removed `redirectUrl` and add `offline_access` to scope but when i request to an endpoint with bearer token expired or removed (logout), api still sending status 302:
![image](https://user-images.githubusercontent.com/22018004/134211061-1b09aec2-1ac2-46ba-8a33-8013b36831ac.png)

[2021-09-22 01:21] beriniwlew commented on #8165
Can I add my support to this as well?   I think it's important that we have docker support that is documented like this!

[2021-09-22 04:46] #8980 closed, assigned to muhammedaltug

[2021-09-22 09:21] mehmet-erim opened #10099 "Angular UI: Install @angular/localize package to startup templates"
As of v5.0, the `@angular/localize` package removed from `@abp/ng.core` dependencies. So your app will break when upgrading ABP packages to v5.0. You must install the `@angular/localize` package to your app. You can run the following command to install the package:

[code]

[2021-09-22 10:32] #10099 closed, assigned to mehmet-erim

[2021-09-22 10:55] mehmet-erim opened #10101 "Angular UI: Remove all deprecated code"
## Breaking Change

* **VisibilityDirective** has been removed.
* **PermissionDirective**'s attribute usage support has been removed:

[code]

* **ApplicationConfiguration namespace** exposed by @abp/ng.core package has been removed.
* **SessionState**'s `sessionDetail` property has been removed.
* **ApplicationConfigurationService** has been removed. Use **AbpApplicationConfigurationService** ins

[2021-09-22 11:09] gterdem commented on #10029
Can you share a public repository explaning your steps so that we can check?

[2021-09-22 12:16] berkansasmaz opened #10103 "Module template have the necessary files for containerization, but they seem outdated"
Related question: https://stackoverflow.com/questions/69281531/running-docker-with-abp-module-template-issue

Here is an example:
https://github.com/abpframework/abp/blob/aac65e9ff95249b7f82647a38cd0193af41497f9/templates/module/aspnet-core/host/MyCompanyName.MyProjectName.IdentityServer/Dockerfile#L1

[2021-09-22 12:58] mahdighorbanpour commented on #10073
@hitaspdotnet Thanks, I am doing exactly like that tight now. I was looking for a way to disable it for this service/repository somehow

[2021-09-22 13:08] #10101 closed, assigned to mehmet-erim

[2021-09-22 13:33] #10073 closed, assigned to nobody

[2021-09-22 18:28] hitaspdotnet opened #10109 "CLI: abp build IgnoredDirectories for nested repository not work"
abp-build-config.json
[code]

[2021-09-22 18:34] hitaspdotnet opened #10110 "CLI: abp build suggestion"
1. If DependingRepositories has owned abp-build-config.json use it as depended repository's configuration
2. If working directory has abp-build-config.json use it instead of solution OR an option to choice build configuration

[2021-09-22 20:26] AbuDawood commented on #5592
I am developing a monolithic modular app using ABP IO. How can I assure synchronous communication between modules without breaking the modularity boundaries (means I want to keep it microservice-friendly for future updates)?

[2021-09-23 07:25] enisn opened #10114 "CmsKit - MenuItem doesn't have implementation for MultiTenantcy"
**TenantId** property is always null and not set for MenuItem

[2021-09-23 08:03] elhanda commented on #3483
hi all  i got this error when i try to publish
here my appsettings.json
![image](https://user-images.githubusercontent.com/56455161/134472490-c381ab2a-cb56-47d3-a688-947e6ca128b3.png)

and angular here my environement
![image](https://user-images.githubusercontent.com/56455161/134472669-c144349f-c3e7-42b5-b911-3ab62f6b5834.png)

when i publish the backand in iis windows server i works fine swagger

[2021-09-23 08:04] elhanda opened #10116 "abp angular and backend with ipAdress deploy to iis"
hi all  i got this error when i try to publish
here my appsettings.json
![image](https://user-images.githubusercontent.com/56455161/134472490-c381ab2a-cb56-47d3-a688-947e6ca128b3.png)
and my launch Setting
![image](https://user-images.githubusercontent.com/56455161/134474193-48f5cbeb-81a7-47f3-84e1-832c38c07742.png)
and angular here my environment
![image](https://user-images.githubusercontent.com

[2021-09-23 09:06] mehmet-erim opened #10118 "Angular UI: Set default abp-modal size medium"
The official default Bootstrap modal size is "md". That's why we decided to change the `abp-modal`'s default size as "md". You can set size what you want like below:

[code]

[2021-09-23 09:08] #10118 closed, assigned to mehmet-erim

[2021-09-23 10:14] mehmet-erim opened #10121 "Angular UI: Check setting management feature to allow the setting management page to open"

[2021-09-23 10:35] #10114 closed, assigned to enisn

[2021-09-23 11:22] enisn opened #10123 "CmsKit - Can't set Page at the first time while creating MenuItem"

[2021-09-23 12:08] martenw opened #10127 "Generated tests for datetime fail with MongoDB"
Version 4.4.2 Angular + MongoDB

The generated datefield tests fail initially, example test:
![image](https://user-images.githubusercontent.com/1492596/134503619-3842b6f2-9400-480f-b151-28797d33f188.png)

Date validation fail
![image](https://user-images.githubusercontent.com/1492596/134503452-254053aa-526b-4b7d-9656-b21d0abbcd9b.png)

Dates are stored as UTC in mongodb, so adjusting to verify aga

[2021-09-23 13:49] #10123 closed, assigned to enisn

[2021-09-23 13:55] #10060 closed, assigned to bnymncoskuner

[2021-09-23 13:55] #10059 closed, assigned to bnymncoskuner

[2021-09-23 14:04] maliming commented on #10127
HI

I think this is related to MongoDB.

https://mongodb.github.io/mongo-csharp-driver/2.13/reference/bson/mapping/#datetime-serialization-options

[2021-09-23 14:04] 1d0n7kn0w commented on #3758
@hikalkan any news?

[2021-09-23 14:11] martenw commented on #10127
Yes it is related to MongoDB, the dates get saved as UTC so unless the assert is also done using UTC the tests fail.

The issue is that ABP Suite generates failing tests for date properties when using MongoDB.

[2021-09-24 06:43] ismcagdas commented on #10110
@hitaspdotnet we started to use `dotnet build` with its /graphBuild parameter and will remove abp build command for the future. Do you use abp build in a case where dotnet build doesn't work well ?

Thanks,

[2021-09-24 06:49] ismcagdas commented on #10109
We can discuss after https://github.com/abpframework/abp/issues/10110

[2021-09-24 07:16] realLiangshiwei commented on #9976
Will solved by https://github.com/abpframework/abp/pull/9877

[2021-09-24 07:16] #9976 closed, assigned to realLiangshiwei

[2021-09-24 08:08] AdemAygun opened #10140 "How can I fill Creator into DTO object"
* Your **ABP Framework version**. 4.3.3
* Your **User Interface** type Angular
* Your database provider(EF Core)

[code]
[code]
[code]

Dtos:

[code]
[code]
I want to pass Creator of Approval to ApprovalDto. Because of Approval is an entity(not aggregate root) I am including it with `IncludeDetails` , I cannot join Approval and AppUser. How can I get Creator of Approval and map/assign it to Approv

[2021-09-24 09:19] maliming commented on #10140
hi

If you can't get the info in a query, you can query again.  Maybe you can get `Approvals ` by `request.Approvals`.

This has nothing to do with ABP but with EF Core Linq.

[2021-09-24 09:19] #10140 closed, assigned to nobody

[2021-09-24 16:08] alexandis opened #10143 "ModelStateValidator does not intercept error if the error happens in the item from collection of DTO objects inside another DTO object"
**ABP 4.3.0 / Angular / EF Core**

I've overridden `ModelStateValidator` to format error message for nested scenarios:

[code]

However, when I have DTO object containing collection of another DTO objects and the object from the collection has validation error:

    public class LawCreateUpdateDto
    {
        public List<LawDetailCreateUpdateDto> Laws { get; set; }
    }

 `ModelStateValidator`

[2021-09-24 16:47] alexandis commented on #10143
I've resolved the issue myself. I suggest to change message in your code too, removing hard-coded message: "Method arguments are not valid! See ValidationErrors for details."

[code]

[2021-09-24 16:47] #10143 closed, assigned to nobody

[2021-09-24 18:47] gterdem commented on #10116
You are missing **redirect uri for your angular client**.

Check the database if your **angular client** (AtlasNetWebProject_App) has the **same redirect uri** in environment.ts file  (https://192.168.11.101:4200) in `IdentityServerClientRedirectUri` table as well.

Also share related **identityserver logs** for better diagnose instead of screenshots please.

[2021-09-24 20:09] elhanda commented on #10116
![image](https://user-images.githubusercontent.com/56455161/134734036-525ea35e-7e1d-48f0-8644-a8db00fcd477.png)

[2021-09-24 20:14] ebicoglu opened #10145 "Dispose streams"
[StreamHelper ](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/StreamHelper.cs#L10)is sending stream but consumer methods don't dispose it.
Dispose need to free up resources.

[2021-09-24 21:23] elhanda commented on #10116
i  update the url and re-create the database  and add the   AbpAntiForgeryOptions  changed the AutoValidate into false from the documentation  https://docs.abp.io/en/abp/3.3/CSRF-Anti-Forgery
and it works thanks
thanks

[2021-09-25 00:43] #10116 closed, assigned to nobody

[2021-09-25 02:24] 312977 commented on #10000
i  fix it  becauce ,the seed user password not valid.the exception message is not corect

[2021-09-25 02:24] #10000 closed, assigned to nobody

[2021-09-25 02:42] hitaspdotnet commented on #10110
@ismcagdas abp build has some feature for build faster I like them, depended repos and ignore unwanted directories in build pipe.
We can merge them  to make a wonderful build helper.

[2021-09-25 12:24] hmphu commented on #1610
@wangliqiang1026  I got this issue today, could you please share me your solution? What are the Identity-related modules missing in the gateway?

[2021-09-25 16:10] begandroide commented on #10029
Our repo is private, so I will try to reproduce the issue in a new project. We use app from 2.x version and could be that something is missing between the upgrade. In a couple of days I can provide a repo, thanks for you help @gterdem

[2021-09-25 17:02] nev-21 commented on #597
Agree with @natiki,

But IMHO,
if someone inject IReadOnlyRepository, its "get methods" must work with AsNoTracking by default. In the other hand, if some inject IRepository, its "get methods" must not have AsNoTracking by default.

If the "get methods" have the same name in both Interfaces, you should put a parameter to control NoTracking. In this case the default behaviour is lost, we can't put

[2021-09-26 07:12] gerryge opened #10148 "Volo.CmsKit module debug error"
* Your **ABP Framework version**.
 v4.4.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
 MVC
* Your database provider(EF Core/MongoDB)
EF Core
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.
1. abp get-source Volo.CmsKit
2. dotnet ef database update in project Volo.CmsKi

[2021-09-26 14:18] maliming opened #10151 "Add `PermissionsRequirement` and `PermissionsRequirementHandler` to check multiple permissions."
https://github.com/abpframework/abp/pull/10150#issuecomment-927311890

[2021-09-26 16:27] #9620 closed, assigned to nobody

[2021-09-27 12:47] cotur commented on #10076
Hi, can you test it like that.

[code]

[2021-09-27 13:49] martenw opened #10155 "ABP Suite does not generate nullable bool"
Using ABP Suite - Version 4.4.2 Angular MongoDb

When generating a new entity that has bool-fields the Angular template get an error when creating a new instance:
![image](https://user-images.githubusercontent.com/1492596/134920836-dcabc606-5d0e-47b7-82bf-96cd6fda5eeb.png)

The issue is that a bool field cannot be defined as nullable in ABP suite so the create-form cannot be posted if the checkbox

[2021-09-27 15:23] gfo2007 opened #10158 "GraphQL"
Hi,
Is there any plan by Volosoft to integrate GraphQL into abp framework?

Regards,
George

[2021-09-28 01:25] maliming commented on #10158
It is in the backlog and has not yet been implemented.

[2021-09-28 05:39] #10151 closed, assigned to maliming

[2021-09-28 08:39] #10158 closed, assigned to nobody

[2021-09-28 09:58] martenw opened #10161 "ABP Suite generation of nullable Guid"
Version 4.4.2/Angular/MongoDB

As with #10155 this issue is related to how ABP Suite generate fields.

I have a navigation property pointing to another entity with Guid-id, the navigation property is nullable. Setting the property value works fine but if I later remove the value I get the error below.

![image](https://user-images.githubusercontent.com/1492596/135063739-98ade7c6-3a36-49c7-bb8d-125

[2021-09-28 13:52] gdeswardt opened #10163 "Hangfire Recurring Jobs provider for Background Workers"
### Hangfire Recurring Jobs

There is already an implementation built to use Hangfire for Background Jobs, but if you want to use more advanced scheduling for Background Workers than `every x number of million seconds` then the current option is Quartz.

Hangfire does provide the functionality to use advanced scheduling for Recurring Jobs by using the CRON which provides for very advanced scheduli

[2021-09-28 20:47] jimitndiaye opened #10165 "Support for external identity providers such as Azure AD, Azure AD B2C, Okta, Auth0 etc"
Please describe the feature need!

As described in the title, it would be great if we could switch from the default identityserver shipped with ABP to using existing cloud identity providers such as those named above. Maybe coupling an OpenID client with some rudimentary but extensible UI components.

[2021-09-29 01:02] maliming commented on #10165
It is supported by default. You only need to add an external identity provider.
https://identityserver4.readthedocs.io/en/latest/topics/signin_external_providers.html

[2021-09-29 01:11] realLiangshiwei commented on #10163
See https://github.com/realLiangshiwei/Lsw.Abp.BackgroundWorkers.Hangfire

[2021-09-29 02:22] #10080 closed, assigned to maliming

[2021-09-29 03:02] #9807 closed, assigned to realLiangshiwei

[2021-09-29 06:46] realLiangshiwei commented on #10034
I think we don't need the re-publish system anymore, we can remove it.

[2021-09-29 07:02] zhangtingwz opened #10167 "Use abp-form-content Localiztion enum booktype to zh-han"
nice to meet you
i am a student
when i use abp-form-content to show model
![Inked捕获_LI](https://user-images.githubusercontent.com/26179617/135218914-cdaeb034-97b7-41a1-ac61-35e0a4e73109.jpg)

booktype is all english ，i want it to chinese ，how to do

this is my zh-Hans.json
![捕获](https://user-images.githubusercontent.com/26179617/135219147-651d6458-661c-49ca-bcf4-246321c6d171.PNG)

[2021-09-29 07:10] maliming commented on #10167
Please share some code.

[2021-09-29 07:14] maliming commented on #10167
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs#L274

[2021-09-29 07:26] #10121 closed, assigned to muhammedaltug

[2021-09-29 08:20] antosubash commented on #8165
I have created a blog post about this. I think it will be good starting point to deploy in docker.

Blog post: https://blog.antosubash.com/posts/abp-deploy-with-docker

Youtube Video: https://www.youtube.com/watch?v=L2GeLy_VWRQ

[2021-09-29 08:21] antosubash commented on #7957
I have created a blog post about this. I think it will be good starting point to deploy in docker.

Blog post: https://blog.antosubash.com/posts/abp-deploy-with-docker

Youtube Video: https://www.youtube.com/watch?v=L2GeLy_VWRQ

[2021-09-29 12:45] alexandis opened #10174 "Define custom "per application" setting which is read after app start from DB using appservice. How? SettingDefinitionProvider does not fit here?"
ABP 4.3.0 / Angular.

I need to define custom setting for application. In my case it's an _application version_ which is stored in _DB_ and changed manually after next deployment (accessible via _appservice_ method) and needs to be read once ONCE application start and be accessible from **Angular** client.

I can see `SettingDefinitionProvider` inherited class is adviced, where in `Define` method

[2021-09-29 14:08] dkaczor97 commented on #3959
@hikalkan Is it possible to use this for one-to-one relationships? I followed the exact steps with exception to the `OnModelCreating` method where I put `WithOne()` instead of `WithMany()` and I ended up with error saying:

UPDATE:
I figured it out. I had to call `HasForeignKey` with primary table and property names.
`builder.Entity<IdentityUser>(b =>
            {
                b.HasOne(typeof(

[2021-09-29 14:41] trickyrat opened #10175 "One dbcontext to one database, but throw dependency injection expcetion"
Hi, there
I followed official docs [Entity-Framework-Core-Migrations](https://docs.abp.io/en/abp/master/Entity-Framework-Core-Migrations) and I registered all dbcontexts in EntityFrameworkCoreModule.
All IRepository<T> throw same exception.
* Your **ABP Framework version**.
4.4.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
angular
* Your data

[2021-09-29 16:03] acjh commented on #10175
Did you add `DbSet` properties?

[2021-09-29 21:11] alexandis commented on #10174
Seems like I can use it like that:

[code]

[2021-09-30 00:47] agustinsilvano commented on #9923
@hitaspdotnet @maliming any updates?

Thanks!

[2021-09-30 01:18] trickyrat commented on #10175
@acjh sorry for late reply,
yes, I added required dbset propertity to each module.
I successfully add migration with efcore cli command

so I don't think there is a problem in dbset properties.
![屏幕截图 2021-09-30 091521](https://user-images.githubusercontent.com/19605145/135369636-8a23aaa1-21a6-47d9-84e9-0c8e003e0913.png)

[2021-09-30 01:33] maliming commented on #10057
hi @eneskoroglu

I think you can custom the `IXXXBlobNameCalculator`.

[2021-09-30 03:57] #9985 closed, assigned to maliming

[2021-09-30 06:43] trickyrat commented on #10175
Adding
[code]
when register dbcontext in EntityFrameworkCoreModule will fix this issue.

[2021-09-30 06:43] #10175 closed, assigned to nobody

[2021-09-30 06:49] 312977 opened #10176 "A task was canceled"
SOS  SOS  SOS SOS

in the same apllicationservice api:

in debug mode   ,no problem
but in release mode :  some time  this http api ,return 500,the error  :

[code]

[2021-09-30 07:43] #6126 closed, assigned to hikalkan

[2021-09-30 08:12] #10127 closed, assigned to maliming

[2021-09-30 08:54] gfo2007 opened #10181 "New Blazor WebAssembly Project returns blank page in browser"
Hi,
I just created a new Blazor WebAssembly project. When I run the .Blazor project to view the application in the browser, the page keeps loading without showing the login screen.

![abp framework error](https://user-images.githubusercontent.com/14317420/135421362-16c1a3a9-1ef4-4f5a-b7fe-1ee45a327513.PNG)

Please help.

Regards.

[2021-09-30 08:56] dkaczor97 opened #10182 "How to get extra property of current user in angular"
* Your **ABP Framework version**.: 4.4.2 Commercial
* Your **User Interface** type: Angular
* Your database provider: EF Core

I added an extra property to IdentityUser by following [this article ](https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna). Now I want to be able to use it in Angular app when I get current user by ConfigState

[2021-09-30 08:56] #6962 closed, assigned to realLiangshiwei

[2021-09-30 09:05] #10033 closed, assigned to maliming, realLiangshiwei

[2021-09-30 09:05] hikalkan commented on #10034
OK @realLiangshiwei please work on that ;)

[2021-09-30 09:06] duard-sf opened #10183 "EF Core connection resiliency"
I am unable to use automatic retries with Entity Framework because of the below exception. Could you please assist?

* ABP Framework version: **3.3.2**
* Database provider: **EF Core 3.1.8**
* Exception message and stack trace:
[code]
* Steps needed to reproduce the problem:
  1. Enable EF Core retry strategy by adding the following to your `SqlServerDbContextOptionsBuilder` in `UseSqlServer`: `bu

[2021-09-30 09:47] DonVliet commented on #10181
Make sure you have your **.HttpApi.Host** project running first. You should be able to see the Swagger UI page.

[2021-09-30 10:12] gfo2007 commented on #10181
@DonVliet the .HttpApi.Host project runs without a problem. It is the .Blazor project is what displays a blank screen.

[2021-09-30 11:04] #10061 closed, assigned to muhammedaltug

[2021-09-30 11:30] hikalkan commented on #2878
We won't integrate CAP since we've already done https://github.com/abpframework/abp/issues/6126

[2021-09-30 11:30] #2878 closed

[2021-09-30 11:31] cotur commented on #10174
Hi,

Can you please check the documentation https://docs.abp.io/en/abp/latest/Settings

You don't need to make anything in the `Program.cs`

[2021-09-30 11:38] cotur commented on #10176
Hi,

We need extra information to check what is going on.

But it seems you may forgot to use `await`. Please check missing `await` usages.

[2021-09-30 12:01] ebicoglu opened #10189 "Remove BOM from text files"
We are having some issues reading text files signed with "UTF-8 BOM".
Eg: if package.json or gulp.js file is encoded with UTF8-BOM, we faced some problems with NPM ...
Therefore I'm removing all BOM identifiers from text files.
Following extensions are modified:

[code]

I created a simple console app to achieve this -> https://github.com/ebicoglu/BomRemover

PS: BOM is a 3bytes identifier in the

[2021-09-30 12:45] DonVliet commented on #10181
Open the developer tools (F10) and check if you are you getting errors in the Console?

You might also want to add the following to your **appsettings.development.json** file in the Blazor project to receive more detailed errors:

{
  "DetailedErrors": true
}

[2021-09-30 12:46] #10189 closed, assigned to ebicoglu

[2021-09-30 13:22] martenw opened #10191 "Error generating entities using ABP Suite"
Version: **4.4.2 / Angular / MongoDB**

I am no longer able to generate or update entities using ABP Suite, I cannot really get any details from the error and I am not able to decompile/view source of the dll to see what may be causing this.

[code]

Any hint on on solution here would be great.

[2021-09-30 13:36] alexandis commented on #10174
@cotur Hi - I've already read this part. And that's why I expressed my doubt in the title: "**SettingDefinitionProvider does not fit here?**"
I doubt because:
1) it is not clear when `SettingDefinitionProvider` comes into game. I need to make sure everything happens ONCE on application start;
2) `Define` method is SYNC, as I mentioned. And I need to call the _appservice_ or _repository_ method whi

[2021-09-30 13:54] gfo2007 commented on #10181
@DonVliet below are the console errors.

![abp console error](https://user-images.githubusercontent.com/14317420/135468597-8aec22a9-5b6a-4244-b0b8-7becf7bf38d3.PNG)

[2021-09-30 14:19] ebicoglu opened #10192 "Improve email verification routine"
When email verification is activated, users see the following page after clicking register button
![image](https://user-images.githubusercontent.com/31216880/135467111-319a2e0f-8e8d-4585-96a2-11876c286309.png)

Replace this page with this:
Email sent icon => https://uxwing.com/email-mail-sent-icon/
![image](https://user-images.githubusercontent.com/9526587/135471119-9110d97b-9602-43e0-b9c2-641738a

[2021-09-30 16:11] ebicoglu opened #10193 "How to show a datepicker input [MVC]?"
I will how to show date picker in your modal dialogs in an MVC project.
Bootstrap datepicker is used for datepicker

https://abp.io/package-detail/@abp_bootstrap-datepicker
https://bootstrap-datepicker.readthedocs.io/en/latest/

[2021-09-30 16:21] ebicoglu commented on #10193
**Book.cs (model of the razor view)**

[code]

---

**Book.cshtml (modal dialog razor view)**

[code]

---

**book.js (modal dialog javascript)**

[code]
---

**index.js (parent page that opens the modal)**

[code]

[2021-09-30 16:21] #10193 closed, assigned to ebicoglu

[2021-09-30 17:19] hitaspdotnet commented on #8385
@hikalkan What about renaming projects by namespaces,
[code]
Microservice template's tye needs more code review to be clean code same as other ABP objects

[2021-10-01 02:34] 274188A commented on #10165
there are some Community Articles (may be slightly dated):

- [https://community.abp.io/articles/implementing-passwordless-authentication-with-asp.net-core-identity-c25l8koj](https://community.abp.io/articles/implementing-passwordless-authentication-with-asp.net-core-identity-c25l8koj)
- [https://community.abp.io/articles/how-to-use-the-azure-active-directory-authentication-for-mvc-razor-page-appl

[2021-10-01 02:41] #10165 closed, assigned to nobody

[2021-10-01 03:27] realLiangshiwei commented on #10183
I will check it.

[2021-10-01 06:40] martenw commented on #10191
Not sure what the issue was but it seems solved now. I removed all files that are not in a clean release and upgraded 4.4.2 > 4.4.3 and that seem to have solved the problem. A better errormessage on what was missing could probably help if this error comes back for someone else.

Another minor note is that references in `package.json` get changed when running _Update ABP Packages_ from inside ABP S

[2021-10-01 08:16] hikalkan opened #10196 "Introduce AbpControllerBase to create API Controllers"
It is suggested to derive from `ControllerBase` instead of `Controller` to create API Controllers.
ABP has `AbpController` that derives from the `Controller`, but it has not a class derived from `ControllerBase`.

So, Create an `abstract AbpControllerBase` class derived from the `ControllerBase` and copy the necessary code from `AbpController`. In addition, it would be good to inherit our current

[2021-10-01 09:22] cbogner85 commented on #9997
Hello,

I just upgraded to 4.4.3 and it seems to be still not implemented for MVC?

Guys, I really appreciate your work and I don't want to blame you, but the information policy regarding this feature is horrible :-(
We are waiting for over a year now. Originally it was planned for 3.2, then 3.3,...  now we are on 4.4. In August, it was promised to be "available this month". Now it's October and w

[2021-10-01 09:46] gfo2007 commented on #10181
I realized the host project needed to be running before I can the Blazor project.

It's working now. Thanks

[2021-10-01 09:46] #10181 closed, assigned to nobody

[2021-10-01 11:48] muhammedaltug opened #10200 "add component and enumList properties to entity props"

[2021-10-01 11:58] muhammedaltug opened #10201 "Create Breadcrumblist Component"
Exist breadcrumb component listens to route in onInit and creates breadcrumb items.
This component purpose is when need custom route in breadcrumb and use the same template

[2021-10-01 12:32] muhammedaltug opened #10204 "Add visible$ property to ABP.Nav"
add visible$ property to ABP.Nav which accepts Array<Observable<boolean>> type.

[2021-10-01 19:12] tvddev commented on #9997
@hikalkan - Can we get an update please, this is a really critical feature for us.

[2021-10-02 06:17] #9639 closed, assigned to nobody

[2021-10-02 08:15] yinchang0626 commented on #6495
Hi all:
In Version 4.4.2 ,I also meet to this issue:
but when I modify port to another number  in `launchSettings.json`, It's works fine.
Maybe it has nothing to do with this.
[code]

[2021-10-02 16:36] gfo2007 opened #10206 "Integration Syncfusion MVC Razor Components with ABP Framework"
Hi,
Does anyone know how syncfusion asp.net core mvc components can be integrated into an abp application using razor pages? I have seen the article on Blazor but I am looking for one on Razor pages.

Regards,

[2021-10-02 17:54] #10196 closed, assigned to realLiangshiwei

[2021-10-04 01:01] maliming commented on #10206
Did you get any problems and errors during the integration it?

[2021-10-04 06:54] enisn opened #10208 "CmsKit - Editor Implementation for Page Style & Scripts"
[Ace editor](https://github.com/ajaxorg/ace) semms good for editing css & javascript.

---

![image](https://user-images.githubusercontent.com/23705418/135806430-656e7277-f776-44d7-9007-76d1bec8dab4.png)

[2021-10-04 07:43] jakeuj opened #10209 "Automate the Second Database Schema Migration may not work"
ABP Framework version: 4.4.0
Database provider: EF Core

I try to move ABP* and IdentityServer* to another database, but the DbMigrator don't work.

1. Follow the doc => [create-a-second-dbcontext](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations#create-a-second-dbcontext)
`Add-Migration "Initial" -OutputDir "SecondDbMigrations" -Context BookStoreSecondDbContext`

2. And this doc

[2021-10-04 08:03] realLiangshiwei commented on #10209
See https://github.com/abpframework/abp-samples/tree/master/EfCoreMigrationDemo

[2021-10-04 08:36] enisn commented on #10167
@zhangtingwz you have to use enum name instead of value

[2021-10-04 09:24] #10034 closed, assigned to maliming, realLiangshiwei

[2021-10-04 09:53] #10083 closed, assigned to mehmet-erim

[2021-10-04 10:08] gfo2007 commented on #10206
@maliming,
I am not sure the best way out. For instance Syncfusion documentation asks for Views/_Layout.cshtml which is not present in AbpFramework pages.

It also appears syncfusion may not need the apb bootstrap helpers like <abp-card>, etc.
I am not sure how to pass the data from the application service to syncfusion components and vice versa.

I am now learning abp framework with the tutorial.

[2021-10-04 10:15] bnymncoskuner opened #10214 "Docs: add how to customize PermissionService in the angular client"

[2021-10-04 10:28] #10200 closed, assigned to muhammedaltug

[2021-10-04 10:49] mehmetuken opened #10215 "C# Dynamic Proxy Complex Array Can't Handle"
[code]

It's working like this but C# dynamic proxy can't convert and throw error.
`https://localhost:44332/api/app/product?TestInputs[0].Name=name&TestInputs[0].Value=Value`

Error code:
[code]

[2021-10-04 10:51] #10201 closed, assigned to muhammedaltug

[2021-10-04 11:01] #10214 closed, assigned to bnymncoskuner

[2021-10-04 15:01] ebicoglu commented on #10206
it's asking to add the JavaScript imports I think.
See https://medium.com/volosoft/how-to-add-a-new-javascript-library-to-your-abp-project-62b21545f4cc

[2021-10-04 15:10] EngincanV opened #10221 "Community Article: Integration of Syncfusion MVC Razor Components with ABP Framework"
Related with: https://github.com/abpframework/abp/issues/10206

* Create an article to show how to integrate "[Syncfusion](https://www.syncfusion.com) components" with ABP.

[2021-10-04 18:22] jhulbertpmn opened #10222 "Remove IdentityServer from Blazor WASM app"
* ABP Framework 4.4.3
* Blazor WASM
* EFCore (MS SQL)

 I created a new Blazor WASM application, and followed the steps at https://community.abp.io/articles/replacing-identityserver4-with-identity-in-abp-arh0jxe1 to remove IdentityServer. The steps all appear to be successful, and the application starts up/runs. However, when I click login it takes me to https://localhost:44307/authentication/logi

[2021-10-04 19:56] rlavaud commented on #10222
Blazor WASM needs some form of openidconnect to authenticate (identityserver, Azure AD B2C etc). The how-to you followed works for plain MVC app because ABP will fall back the plain old MS Identity.
From the Microsoft doc:
_Blazor WebAssembly supports authenticating and authorizing apps using OIDC via the Microsoft.AspNetCore.Components.WebAssembly.Authentication library._

[https://docs.microsoft

[2021-10-04 22:46] jhulbertpmn commented on #10222
Makes sense! Ultimately I would like to use Azure AD B2C for authentication anyway.. conceivably could IdentityServer be removed from my abp application, and Azure AD B2C used in its place?

[2021-10-05 02:42] jakeuj commented on #10209
The demo already have a Migrations folder, so it work.

When someone want to move all (abp & is4) entity to second Db first, then start coding.

In this moment, BookStore.EntityFrameworkCore only has SecondDbMigrations folder.

Migration will not work when BookStore.EntityFrameworkCore.Migrations not exist yet.

[2021-10-05 05:31] mgochmuradov opened #10223 "IdentityModel Client Doesn't honor ProxyClientBuildActions"
When developing a client application (Xamarin in my case), using `Volo.Abp.Http.Client.IdentityModel` results in an SSL error.
Adding the following code doesn't fix the problem:
[code]

This is because when `HttpClient` is created in `Volo.Abp.Http.Client.IdentityModel` module, it doesn't run `ProxyClientBuildActions` on it.

The solution was to add the following code:
[code]
I think that all `Htt

[2021-10-05 05:49] pagner opened #10224 "Question: Can Dynamic C# API Client Proxies be used in a separate solution?"
I have read the documentation of Dynamic C# API Client Proxies but it seems the client needs to be in the same solution in order to share the interfaces and find the assembly. Is this correct?

Can this be used from a different solution or is this not the intention? I was under the impression this would work like the typescript swagger tool chain proxy generator in the old abp framework.

If not I

[2021-10-05 07:23] maliming commented on #10223
hi

That's the right way.  It is not appropriate to configure it in `AbpHttpClientBuilderOptions`.

[code]

[2021-10-05 07:23] #10223 closed, assigned to nobody

[2021-10-05 10:40] gterdem opened #10231 "EShopOnAbp: EfCore Mismatch for AuthServer and Administration Service"
Also fix
- SDK version consistency with EventHub
- administration service test project compilation errors
- docker network, certificate creation
- internal network launch adds extra "/"

[2021-10-05 10:50] gterdem opened #10232 "EShopOnAbp: Improve AuthServer UI"
- [x] AuthServer (default on localhost:44330) doesn't have any welcome page and doesn't host any pages. That causes a browser 404 error. We can improve this experience by adding a single welcome page with printing user claims if logged in.
- [x] Update default menu name (MyApplication) which can be seen while logging out.
![image](https://user-images.githubusercontent.com/25867/136009076-8b7f1088-

[2021-10-05 10:57] gterdem opened #10233 "EShopOnAbp: Update Gateways"
Gateways will be using static proxy hence shouldn't depend on HttpApi layer of microservices any longer.

[2021-10-05 11:03] gterdem commented on #10224
Yes, you can **project reference** from a different solution (though visual studio won't be able to build it afaik, so you will need to use `dotnet build /graphBuild`).
Or you can host on a nuget server and use as **package reference**.

[2021-10-05 11:12] #10231 closed, assigned to gterdem

[2021-10-05 18:50] AbuDawood opened #10239 "Permission Manipulation for inter-communication between modules in a monolithic app"
I am developing a monolithic app using ABP IO. However, I want to apply as much as I can the ethic of microservices for easy migration to that latter architectural structure.

I have respected almost all constraints including Aggregation, DDD, and so on.

For the scenario synchronous communication between services, I have used the Client proxy for the C# as it has documented and it worked perfectl

[2021-10-05 18:55] AbuDawood commented on #10233
can you check my question https://github.com/abpframework/abp/issues/10239
Thank you

[2021-10-05 19:36] pagner commented on #10224
@gterdem Thanks for your reply.

Neither of those scenarios is going to work for me. My client app is a UI application so I need to be able to debug. The second suggestion becomes a maintenance issue.

For what I am trying to achieve here, I think I will use @bartvanhoey example. It's clean and to the point.

[2021-10-05 19:38] #10224 closed, assigned to nobody

[2021-10-06 01:46] tkmawarire opened #10240 "AntiFogery token required for non-browser requests"
* Version **4.4.2**.
* UI **MVC/Razor**
* Database Provider EFCore
* Exception message and **stack trace** if available (check the logs).
[code]

* Steps needed to **reproduce** the problem.

Create a project from the default templates that use MVC UI. Running the .Host application, everything works great, but when I try calling the endpoints from postman, I am getting the above error. Login in on

[2021-10-06 01:57] maliming commented on #10240
You can configure the request without any cookies in Postman.

https://learning.postman.com/docs/sending-requests/cookies/

[2021-10-06 02:01] tkmawarire commented on #10240
The thing is I want non-browser clients calling the API so I don't want to be using cookies like it is right now, neither do I want the Antifogery checked. Is it the authentication middleware that is using cookies or ???

This is how I am setting the Cookie header, using values extracted from swagger UI.

![image](https://user-images.githubusercontent.com/18499856/136128979-1cff687d-4054-4cbc-97bb

[2021-10-06 02:06] maliming commented on #10240
You do not need to copy any cookies. The ` non-browser clients ` do not need to carry cookies.

[2021-10-06 02:13] tkmawarire commented on #10240
In this case, calling the endpoints with a non browser client without the cookie header fails and the error with stack trace above is thrown

[2021-10-06 02:17] maliming commented on #10240
You can set `IdentityModelEventSource.ShowPII = true;` and check ` options.Authority = configuration["AuthServer:Authority"];`

[2021-10-06 02:21] pagner opened #10241 "Extra Properties / Navigation-Properties are null"
Adding extra properties was pretty straight forward. I added a "License" class to the IdentityUser

Used fluent api to configure the relationship. Added my Entity and DTO extension mappings.

In swagger the "LicenseId" shows up just fine in the extra properties but the license object is null. I expected it to be a serialized json object in the extra properties.

I read this here: https://github.co

[2021-10-06 03:34] hitaspdotnet opened #10242 "Error occured while downloading source-code from https://abp.io/ (same as every pre releases)"
[code]

[2021-10-06 03:35] AlismVY opened #10243 "docker"
How to build a Docker that keeps telling you you can't find the file

[2021-10-06 03:38] hitaspdotnet commented on #10242
Looks like this error is only for the pro templates

[2021-10-06 06:52] tkmawarire commented on #10240
Let me do that and revert

[2021-10-06 07:08] maliming commented on #10239
Can you explain this?

[2021-10-06 07:10] maliming commented on #10243
hi

This is nothing to do with ABP.

[2021-10-06 07:10] #10243 closed, assigned to nobody

[2021-10-06 07:11] tkmawarire commented on #10240
[code]

This is the actually error after enabling `IdentityModelEventSource.ShowPII = true;`

Closing the issue as this is not bug 🐛 as I thought

[2021-10-06 07:12] hikalkan opened #10246 "Upgrade eShopOnAbp to ABP v5.0-beta.1"
- [x] Upgrade to ABP v5.0-beta.1
- [x] #10248
- [x] Test the applications and services

[2021-10-06 07:13] hikalkan commented on #10233
Related to https://github.com/abpframework/abp/issues/10246

[2021-10-06 07:15] hikalkan opened #10247 "eShopOnAbp Kubernetes & helm deployment configuration"
for local staging environment

[2021-10-06 07:22] AbuDawood commented on #10239
well, Thank you for ur interest
I am trying to maximize the isolation between modules to ease the future migration to the microservice-based architecture.

- all modules has their own databases
- the main app (module) is directly dependent to modules.
- no module is dependent to other except the previous case.
- I am using client proxy to call necessary services in some other services. However, th

[2021-10-06 07:33] #10232 closed, assigned to enisn

[2021-10-06 07:39] gterdem opened #10248 "Remove HttpApi layers of the microservices from API gateways"

[2021-10-06 07:43] #10240 closed, assigned to nobody

[2021-10-06 08:25] hikalkan opened #10250 "Hangfire dashboard should be available only to host users"
https://github.com/abpframework/abp/pull/9704 implements authorization, but tenant users also can see it when I configure it like that:

[code]

It should only be available to host users by default (you can add a ctor parameter to AbpHangfireAuthorizationFilter to optionally enable it for tenants too).

If we specify permission name, no host/tenant check required since permission system already do

[2021-10-06 08:45] gterdem opened #10251 "EShopOnAbp: Gateway Improvements"
Gateways swagger do not expose microservice end points any longer. We can improve swagger auth of microservices and swagger definitions of gateways for better experience

[2021-10-06 08:49] #10248 closed, assigned to nobody

[2021-10-06 09:17] maliming commented on #10239
You can refer to this design. The permission should be as infrastructure.
https://github.com/abpframework/eShopOnAbp
https://github.com/maliming/abp-ms-map

[2021-10-06 10:08] AbuDawood commented on #10239
Can I apply the multiple gateways design to my monolithic app??

[2021-10-06 11:46] #10251 closed, assigned to gterdem

[2021-10-06 11:47] #10246 closed, assigned to enisn

[2021-10-06 12:56] rlavaud commented on #10222
While it could and I have tried but ultimately I used IdentityServer to to connect to AD BC. The completely remove IdentityServer, you need to understand all the grants which needs to be setup and set them up in B2C, then you need to register your users after sign up and finally after a user logs in with B2C you have to connect to you app to load the the permissions in the claim (roles etc). In th

[2021-10-06 16:21] jhulbertpmn commented on #10222
Thanks for the info. I've experimented with this a couple different ways and have had a similar experience. One concern which got me started on this process was having passwords stored in my database - as you said that can be addressed by having the users be external and having IdentityServer use AD B2C. The other concern is the coming license change related to IdentityServer - I'd prefer to not h

[2021-10-06 16:21] #10222 closed, assigned to nobody

[2021-10-06 23:04] pagner commented on #10241
I  was able to resolve this by overriding the IdentityUserAppService and populating the ExtraProperties with my related object.

Here is the documentation for anyone facing this same issue:
https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#overriding-a-service-class

There is now an extra api endpoint with the name of my overriding class. This seems redundant as

[2021-10-07 02:46] AlismVY commented on #10243
Can you provide me with a reference, I can't find information about abp packaging docker， Thank you.

[2021-10-07 05:29] gterdem commented on #10243
You can check this community article: https://community.abp.io/articles/deploy-abp-framework-dotnet-core-tiered-app-to-docker-swarm-kcrjbjec
I don't know exactly what error you get but it is probably related with dockerizing default .net application. You can also refer to [official docs](https://docs.docker.com/samples/dotnetcore/).

[2021-10-07 05:54] gterdem commented on #10239
I think there is a misconception in understanding here.

Monolithic application is **a single application** containing all your functionality (from UI to data access) of your business. This application **is deployed as a single unit** to a web server. It has its own advantages and disadvantages.

Microservice application **is a distributed approach** for your application; distributing functionalit

[2021-10-07 05:55] #10233 closed, assigned to gterdem

[2021-10-07 08:29] AlismVY commented on #10243
Thank you very much

[2021-10-07 08:39] eneskoroglu opened #10263 "FindAsync does not get inserted record without SaveChanges"
* Your **ABP Framework version**: 4.3.3
* Your **User Interface** type (Angular/MVC/React... etc.): Angular
* Your database provider(EF Core/MongoDB): EF Core

I have a list of products and getting their stock from database with `FindAsync()`. If `FindAsync()` does not get record I insert product to stock with `InsertAsync()`. And then if i call `FindAsync()` second time for same Product Id, i sti

[2021-10-07 09:12] enisn commented on #10263
In the same UnitOfWork, you can not. Transaction still waiting to be executed until you finish all jobs.

1. You can disable unit of work for your single method with **[UnitOfWork(false)]** attribute:

[code]
---

2. In the another way you can make Insert operation out of UnitOfWork via sending **autoSave** parameter as `true`

[code]

[2021-10-07 12:20] alexandis opened #10266 "It now take ages to wait till application configuration is read for Angular app"
**4.3.0 / Angular / Separate Identity Server**

I can't figure it out what's going on... But it takes now ages to wait till **Angular** app brings a _login_ page. For some reason, accessing _application configuration_ is stuck for 5-10 minutes!

![image](https://user-images.githubusercontent.com/6149843/136382668-fedc83f0-dfdb-416e-b26e-a5fe53bb1ed8.png)

We don't use **Redis**. So what could be t

[2021-10-07 12:34] gterdem commented on #10247
Dividing into steps to follow easier:

- [x] Dockerize and image build scripts
- [ ] Docker-compose (Common for both building images and running without k8s)
- [ ] Kubernetes (eShopOnDapr only uses this)
- [x] Helm Charts

[2021-10-07 12:42] Maninder1307 opened #10267 "ABP : Unit testing for ABP Framework Which approach to follow?"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-10-07 12:43] Maninder1307 commented on #10267
I have AppService class using ABP framework  which takes an Object of ConfigurationClass. Iam writing unit test for the Domain service which is as below
 public TestAppService(InterfaceConfiguraion configuration)
{
 _configuration = configuration;
 Config1 = _configuration["Value"];
}

TestClass
public TestAppService_Tests()
        {

            _testAppService = GetRequiredService<ITestAppServi

[2021-10-07 13:08] maliming commented on #10266
Can you check the logs to see time-consuming operations?

[2021-10-07 13:11] maliming commented on #10267
https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/modules/cms-kit/test/Volo.CmsKit.Application.Tests/Ratings/RatingPublicAppService_Tests.cs#L27
https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/modules/cms-kit/test/Volo.CmsKit.Application.Tests/Ratings/RatingPublicAppService_Tests.cs#L33

[2021-10-07 14:20] alexandis commented on #10266
This time it was slightly faster, but still very slow. Here what drags my attention:

Then I see just ENORMOUS amount of queries to `AbpLanguages` like that:

And then:

- 1.5 mins to retrieve _application configuration_?

[2021-10-07 14:29] AdemAygun opened #10268 "Is it right to use custom class which is in Domain.Shared Layer as output class(like DTO) in Application Service"
* Your **ABP Framework version**. 4.3.3
A method in Manager Class in Domain Layer returns a custom class like below:

Domain.Shared :
[code]

Application Layer :
[code]
It is not an entity. So should I generate DTO class or can I use it directly as DTO class in Application Layer?

Note: We can use `enums` which are in Domain.Shared as DTO class property type

[2021-10-08 00:51] maliming commented on #10266
Can you share the full logs of the request?

[2021-10-08 05:37] alexandis commented on #10266
Hi. I made a fresh start and here are the logs from [IdentityServer](https://1drv.ms/u/s!AhWdpZddvifTty36oktELPl4JI1-?e=72oUXK) (just in case) and [HttpApi.Host](https://1drv.ms/u/s!AhWdpZddvifTty7Qaus_-pyMNjZN?e=elim6V).

[2021-10-08 05:46] xyfy commented on #497
abp v4.2?

[2021-10-08 06:03] maliming commented on #10266
The log is incomplete.

[code]

[2021-10-08 06:36] alexandis commented on #10266
I don't know why - it's all I have. Don't have idea why there's a gap between those lines, but seems like this is exactly where a lot of time is wasted. What is supposed to be between those two actions? How do I track it? Will a more detailed log level set in _Program_ help?

[2021-10-08 06:39] EngincanV opened #10269 "Update the `Npgsql.EntityFrameworkCore.PostgreSQL` package version to 6.0.0-rc.1"
* I've faced this error (https://github.com/npgsql/efcore.pg/issues/1988#issuecomment-920400130) when updating a project to .NET 6 (rc.1) and ABP 5.0-beta.1.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo.Abp.EntityFrameworkCore.PostgreSql.csproj#L22

* We need to upgrade the package version to **6.0.0-rc.1**. Otherwise, those with SDK vers

[2021-10-08 07:12] alexandis commented on #10266
UPDATE: please see verbose log from [HttpApi.Host](https://1drv.ms/u/s!AhWdpZddvifTty8Q8ugLMgTgVdX3?e=Y4BqHn). Does it shed more light on the issue?
I run another host and the same issue again - I can see there is nothing in the log that could bring the details what is happening in this gap. Any ideas? Probably another log could be initiated somewhere? What is supposed to be running in this gap ac

[2021-10-08 07:57] #10269 closed, assigned to maliming

[2021-10-08 10:12] ebicoglu commented on #10268
you can use DTO as input/output objects in your AppService.
see https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs#L54

[2021-10-08 10:16] ebicoglu commented on #10182
I think you don't need to do anything to get the extra property of the current user.
we may need to revise it.

[2021-10-08 11:40] alexandis commented on #10266
Weird, but solution clean and rebuild resolved the issue. I still don't know what was that.

[2021-10-08 12:01] alexandis commented on #10266
Next recompile of the solution (after small change in one of the projects) got the issue back:

[2021-10-08 12:58] maliming commented on #10266
Can you try another computer/environment?

[2021-10-08 12:59] EngincanV opened #10273 "EF 6 Breaking Changes For `Volo.Abp.EntityFrameworkCore.PostgreSql`"
* There are some breaking changes for `Npgsql.EntityFrameworkCore.PostgreSQL` package (as listed [here](https://www.npgsql.org/efcore/release-notes/6.0.html#breaking-changes)).

* Some actions we need to take.
* For example, I think we need to add the following code to the `Volo.Abp.EntityFrameworkCore.PostgreSql` package.

[code]
 Otherwise, users could not create new migrations with v5.0 If ther

[2021-10-08 13:35] alexandis commented on #10266
I have only one authorized office notebook to work with our projects. So I can't check on other computer. Configuration is powerful, so it's not some kind of performance thing. My colleagues say they don't have this issue. They use the same repository and the same connection to our _Azure_ database. Though, I'd like to find the route of the problem. When I use **SQL Developer** to connect to the D

[2021-10-08 13:38] maliming commented on #10266
No one has reported the same problem yet.

[2021-10-08 13:41] alexandis commented on #10266
Well, so I'm the first :)

Could it have something to do with VS 2022 Preview installed in parallel? I have the described issue when running from both VS 2019 and 2022 Preview...

[2021-10-08 14:22] maliming commented on #10266
I'm not sure.

[2021-10-08 14:54] alexandis commented on #10266
Looks like I have found the root of the problem. When I make pause in VS watching application-configuration extraction, I fall into `AddToLanguageDictionary` method execution inside the class written by someone in our team to - obviously support 'per-tenant' resource handling. I don't know why I am the only one having issue with this method performance, but maybe you would suggest a better approac

[2021-10-08 15:44] alexandis commented on #10266
I have found the route cause. The method below (the approach was suggested by you here: [Is there a way to bypass Tenant for Translations?](https://support.abp.io/QA/Questions/1642/Is-there-a-way-to-bypass-Tenant-for-Translations)).

Our colleague implemented the method, but for some reason I am the only one experiencing the performance issue with it (when I see pending application-configuration r

[2021-10-08 17:50] sturlath opened #10276 "AbpRemoteCallException when running PublicWeb in Azure"
For some reason I just can´t get the **public web** to run up in Azure and the **error message doesn't tell me anything** about what is wrong or how to fix it.

It  **runs locally** but not when deployed.

I have **compared every file and config** and I can´t see anything wrong or missing.

I already  have IdentityServer, Api and Blazor all working and running in Azure so I (at least) think I know

[2021-10-09 02:47] xyfy commented on #9923
you  can  share  a demo project which can reproduce  this issue.

[2021-10-09 02:49] xyfy commented on #497
when will this to finish?  something demo about the auto  dynamic  api proxy?

[2021-10-09 11:53] sturlath commented on #10276
Closing. There was something off in the database so when I deleted it and recreated it it started to work. But there is no way to get that from this stacktrace...

[2021-10-09 11:53] #10276 closed, assigned to nobody

[2021-10-09 22:38] begandroide commented on #4649
I also face this use case today in the abp page, I used routesService in the Init Hook of angular component, adding a new navigation item `invisible` with the exact path of current entity and all works like a charm 👌:

[code]

Also, @mehmet-erim i see the code of breadcrumb component and children routes doesn't have href or router link, is possible add it?

Regards

[2021-10-11 02:43] pagner opened #10278 "Angular: AuthGuard unexpected behavior"
Although AuthGuard does it's job, it has a bit of quirky behavior.

If you are logged out and try to navigate to a page that is protected, the page will load half way and then redirect to the login page. This happens with the default abp modules and newly created modules with canActivate: [AuthGuard]

Expected Behavior:
Redirect to login page seamlessly without "flashing" the protected page.

To r

[2021-10-11 02:52] realLiangshiwei commented on #10242
![image](https://user-images.githubusercontent.com/16813853/136726597-825e26ec-99f2-4b5d-9696-711e1aef3755.png)

It works, please try it again

[2021-10-11 02:52] #10242 closed, assigned to nobody

[2021-10-11 07:49] dkaczor97 commented on #10182
@ebicoglu How do I get it then? When I get current user by ConfigStateService there are no extra properties

[2021-10-11 07:52] hillin opened #10280 "Incorrect ServiceProxyScript generated for action methods with parameters which has a query alias"
Action method:
[code]

Generated script:
[code]

where the parameter `notBar` does not match the variable used to build the query string `bar`.

[2021-10-11 08:21] NecatiMeral opened #10281 "Docs - Cascading error in project-selector (regression)"
The bug got introduced with the linked commit, so it's there since rel 4.4.0 and still persists in the current 5.0-beta.
https://github.com/abpframework/abp/commit/e0cb2dbce823b499e7cc539cc62b87be79e217a1

![image](https://user-images.githubusercontent.com/7882753/136756852-08586c55-0dee-4293-bcf7-7425bb155b13.png)

I'll contribute a fix

[2021-10-11 08:29] realLiangshiwei commented on #10281
Thanks a lot, Looking forward to your PR

[2021-10-11 08:40] realLiangshiwei commented on #10280
I will check it.

[2021-10-11 13:08] enisn opened #10284 "eShopOnAbp - Business Logic Phase 1 Development"
Following Services will be added:
- [x] Catalog Service
    - [x] Add Project
    - [x] #10293
    - [x] Define to Gateway
- [x] Basket Service
    - [x] Add Project
    - [x] #10294
    - [x] Define to Gateway
- [x] Ordering Service
    - [x] Add Project
    - [x] #10295
    - [x] Define to Gateway
- [x] Payment Service
    - [x] Add Project
    - [x] #10296 ( https://github.com/abpframework/eSho

[2021-10-12 03:40] xiedaibin opened #10287 "How to change CreatorId LastModifierId CreatorId from guid type to long type"
My user ID is of type long
I want to use the audit module
How to change CreatorId LastModifierId  CreatorId from guid type to long type

[2021-10-12 03:57] realLiangshiwei commented on #10287
See https://github.com/abpframework/abp/issues/1293#issuecomment-502814118

[2021-10-12 03:57] #10287 closed, assigned to nobody

[2021-10-12 04:23] yinchang0626 opened #10288 "[CmsKit bug] MenuItemPublicAppService return nothing after insert MenuItem datas"
* Your **ABP Framework version**.
4.4.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
dont care
* Your database provider(EF Core/MongoDB)
dont care
* Exception message and **stack trace** if available (check the logs).
no Exception
* Steps needed to **reproduce** the problem.
1.create a app-pro with public website(include cmskit module) by abp

[2021-10-12 05:24] andre-artus opened #10289 "Swagger Authorize redirects from https to http"
When I try to authorize/login from the Swagger page (https://[domain]/swagger/index.html) a new page opens

**http**://[domain]/Account/Login?[etc.]

If I set my server to redirect `http` (port 80) to `https` (on port 443)  the login just loops (it succeeds, but ends up redirecting back to Login).

If I open `https://[domain]/Account/Login` in the browser I get the login page, I can log in, it app

[2021-10-12 05:44] realLiangshiwei commented on #10289
Check your app settings : https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/appsettings.json#L12

[2021-10-12 07:08] #10281 closed, assigned to nobody

[2021-10-12 07:20] enisn commented on #10288
Hi @yinchang0626

Are you sure both projects are using the same Redis?
Is Redis connection stable?

If they use the same distributed cache, `Web` project invalidates menu cache after a change on MenuItems

[2021-10-12 09:11] yinchang0626 commented on #10288
@enisn  Hi:
Thank you for reply.
As you say.I found the answer,
The  app-pro ` template`  didn't  add `Redis` Module when add `cms-kit` module
So ,I think it will be better if the [document](https://github.com/abpframework/abp/blob/dev/docs/en/Modules/Cms-Kit/Menus.md) mentions it

1. Project `TemplateName.Web` need install `Volo.Abp.Caching.StackExchangeRedis` and `Microsoft.AspNetCore.DataProtec

[2021-10-12 09:18] #10176 closed, assigned to nobody

[2021-10-12 09:19] #10076 closed, assigned to nobody

[2021-10-12 10:15] fanslead commented on #2882
any updates on this topic?

[2021-10-12 10:19] jakeuj opened #10291 "5.0 Generic Repositories, how to select column?"
ABP Framework version: 5.0
Database provider: EF Core

Generic Repositories 4.x select is like below.

return await UserRepository.Select(x=>x.Name).ToListAsync();

How to select in abp 5.0 Generic Repositories？

[2021-10-12 11:28] gterdem commented on #2882
There is already a [gRPC integration demo](https://github.com/abpframework/abp-samples/tree/master/GrpcDemo) that you can check. However if you want to use gRPC instead of http within the framework; that'll take some more time.

We've implemented [Static Client Proxy generation](https://github.com/abpframework/abp/issues/9864) so that microservice gateways are no longer referencing _Http.Api_ laye

[2021-10-12 11:39] realLiangshiwei commented on #10291
Try use `GetQueryableAsync` method.

[2021-10-12 13:03] enisn opened #10293 "Business Logic on Catalog Service"

[2021-10-12 13:03] enisn opened #10294 "Business Logic on Basket Service"

[2021-10-12 13:03] enisn opened #10295 "Business Logic on Ordering Service"

[2021-10-12 13:03] enisn opened #10296 "Business Logic on Payment Service"
https://github.com/abpframework/eShopOnAbp/pull/17

[2021-10-12 13:24] alaa-m opened #10297 "Question about ABP Commercial"
Hi,

I would like to ask if ABP Commercial include a ready Microservice Solution like the abp communtiy.

Thank you.

[2021-10-12 13:29] bnymncoskuner opened #10298 "Extend ContentStrategy API with element options"

[2021-10-12 13:44] muhammedaltug commented on #4649
Hello @begandroide
Adding a link to the breadcrumb component is not possible right now.
You can use abp-breadcrumb-items component which available in 5.0.0-beta.1. The component has an items input which type is Array<{path?: string; name: string}>. If the item has a path, anchor tag generated with routerLink directive
Look at the example usage following
[code]

[code]

[2021-10-12 14:03] realLiangshiwei commented on #10297
Hi,  ABP Commercial is more powerful,  it includes a complete microservice solution

See https://commercial.abp.io/startup-templates for more.

[2021-10-12 14:04] #10297 closed, assigned to nobody

[2021-10-12 14:12] bnymncoskuner commented on #10298
Resolved by #10299

[2021-10-12 14:12] #10298 closed, assigned to bnymncoskuner

[2021-10-12 14:33] hikalkan opened #10301 "Bug on the feature management dialog"
I tried with ABP version 5.0.0-beta.1, but can be a problem with 4.x too (please you try it). If so, please fix it in rel-4.4 branch and then we merge to dev.

I have two feature definitions:

[code]

That creates a good UI:

![image](https://user-images.githubusercontent.com/1210527/136975648-8a8cbdfc-6e57-4155-9f94-c63ec772fc7a.png)

However, it throws exception when I try to save it with a valu

[2021-10-12 14:57] #10280 closed, assigned to realLiangshiwei

[2021-10-12 15:51] hikalkan opened #10302 "Upgrade to .NET 6.0 RC.2"
It has just been released.

[2021-10-12 16:36] andre-artus commented on #10289
Thanks

[2021-10-12 19:45] begandroide commented on #4649
thanks you @muhammedaltug I will try with 5.0.0-beta.1. 👍

[2021-10-12 22:00] pagner opened #10303 "AccessToken doesn't seem to expire"
ABP Version : 4.4.2

I am accessing the API from a console application (no cookies). This works well and I get my data.

I have set AccessTokenLifetime to 120 (2 minutes) in the database.

I go through the OAuth flow the first time and save the returned access token. The token shows an expiration of 2 minutes like it should. (UTC)

For the subsequent requests I set the BearerToken manually with th

[2021-10-12 22:29] pagner commented on #10303
Forgot to mention, I am using this code here in my console app.

https://github.com/bartvanhoey/AbpAddCustomClaimToAccessToken

You can grab the access token from here:
httpClient.Value.DefaultRequestHeaders.Authorization.Parameter;

[2021-10-13 00:27] andre-artus commented on #10289
My appsettings.json does not have any entries with `http`, only `https`. I followed the link to "How to fix the Chrome login issue for the IdentityServer4" on the community hub, and decided to see if the issue persists on FireFox. In FF it seems to log in as expected but it does not log out properly, as it seems it does not clear out the necessary data (cookies). If I want to change the tenant I h

[2021-10-13 02:01] realLiangshiwei commented on #10301
I think should set the minimum and maximum, because the default value is 0

https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/StringValues/NumericValueValidator.cs#L9-L19

[code]

[2021-10-13 02:34] realLiangshiwei commented on #10302
We are using minor version compatible,  just run `dotnet clean` & `dotnet build` command,  it will be .NET 6.0 rc2 version.

Should we change to the exact version instead of the minor version compatible? @hikalkan  @maliming

https://github.com/abpframework/abp/blob/12485f648fdade6768cbd3c9addf7095a7a7bb5c/Directory.Build.props#L5

[2021-10-13 07:10] realLiangshiwei commented on #10303
Can you use ABP CLI to create a new project to reproduce? thanks.

[2021-10-13 09:22] jakeuj commented on #10291
return await (await UserRepository.GetQueryableAsync()).Select(x=>x.Name).ToListAsync();

Like this? Thx.

[2021-10-13 09:29] realLiangshiwei commented on #10291
Right

[2021-10-13 10:41] #10291 closed, assigned to nobody

[2021-10-13 10:59] maliming opened #10306 "Load script/style asynchronously."
https://support.abp.io/QA/Questions/1954/MVC-Bundling--Minification--Abount-Google-Page-Speed

 **<link rel="preload" href=**
**<script defer src="**

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperStyleService.cs#L46

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNet

[2021-10-13 11:23] berkansasmaz commented on #9248
I got the same error for `v5.0.0-beta.1`, fyi @yekalkan.

[code]

My steps:

OS: `macOS`

1. `abp new Mvc.EfCoreNonTier435 -t app-pro -u mvc --mobile none --database-provider ef -csf --preview`
2. Change directory to `*.DbMigrator`
3. `dotnet run`

[2021-10-13 11:55] berkansasmaz commented on #9248
By the way, the problem goes away when I create the database using `*.EntityFrameworkCore` project and then run `*.DbMigrator`.

[2021-10-13 12:49] #10302 closed, assigned to realLiangshiwei

[2021-10-13 13:11] enisn commented on #10284
Creating services is completed with https://github.com/abpframework/eShopOnAbp/pull/9

[2021-10-13 13:34] gterdem opened #10307 "eShopOnAbp: Consul integration"

[2021-10-13 14:25] aelhadi commented on #497
Hello,
Any news about this?

Best regards

[2021-10-13 15:54] AdemAygun opened #10309 "How can I reach AbpFramework core tables in Repository Layer"
* Your **ABP Framework version**. 4.3.3
* Your database provider(EF Core)

I want to join SaasTenant with my table in EfCore Repository layer. But SaasTenant(for commercial) is not exists in MyContext

EfCoreSellerRepository:
[code]

[2021-10-13 16:06] gerryge opened #10310 "abp add-module cli issue"
* Your **ABP Framework version**.
 v4.4.3 and v5.0.0-beta.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
MVC
* Your database provider(EF Core/MongoDB)
EF Core
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.
1. abp new Dyabp.DyProjectName
2. abp add-module Volo.Users --w

[2021-10-13 18:14] pagner commented on #10303
@realLiangshiwei

I have attached a modded version of @bartvanhoey console project. You can point this at your abp API. You have to build the api anyway so you can seed the database and change the AccessTokenLifetime.

There are a couple comments at the top of Program.cs

`
// ######## IMPORTANT Open HttpService in this project (lines  41 & 45). Change ClientId and Scope to reflect your abp projec

[2021-10-13 18:21] gdlcf88 opened #10311 "Enqueue background jobs with `executionTime`."
Add an overloaded method in [IBackgroundJobManager](https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.BackgroundJobs.Abstractions/Volo/Abp/BackgroundJobs/IBackgroundJobManager.cs):
[code]

It could help to specify an absolute time to execute a job.

[2021-10-14 01:12] maliming commented on #10309
You can aggregate the results in memory.

[2021-10-14 01:14] maliming commented on #10215
https://github.com/abpframework/abp/pull/10220

[2021-10-14 01:14] #10215 closed, assigned to maliming

[2021-10-14 01:31] #10273 closed, assigned to maliming

[2021-10-14 03:35] pagner opened #10316 "Is it possible to give a client API permissions without username/password?"
I have a wpf app that I am able to get an access token using ClientId="io_App", ClientSecret="*****" and GrantType = "client_credentials"

But after that I am unable to perform anything meaningful. I get 403 forbidden on every api endpoint.

I can use the api successfully if I include the username and password of a registered user, but I don't want to distribute the app with the credentials in it.

[2021-10-14 03:37] maliming commented on #10316
hi

see https://support.abp.io/QA/Questions/1112/How-to-grant-access-to-Identity-Server-Client-on-multi-tenancy#answer-9c1da15b-8264-8fd5-d73a-39fb93d63fd0

[2021-10-14 03:38] #10316 closed, assigned to nobody

[2021-10-14 04:00] pagner commented on #10316
@maliming
Thanks for your quick reply! How do I get to that screen? I logged in as Host and don't see anything for clients. Mind you I have overriden the styles for the site extensively.

thanks

[2021-10-14 05:25] maliming commented on #10316
This is a pro feature, You can grant some permissions to your client.
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Permissions/ClientPermissionValueProvider.cs#L11

[2021-10-14 05:49] #10163 closed, assigned to realLiangshiwei

[2021-10-14 06:43] realLiangshiwei commented on #10301
It would be better if we use the min value and max value of int as default values, we can enhance it

[2021-10-14 07:34] xiangyisheng opened #10319 "Javascript proxy not generated"
ABP Framework version: 4.4.2

User interface type: MVC

The namespace is: retail.bookstore.books,

Application services are:

public class BookAppService : CrudAppService<Book, BookDto, Guid, PagedAndSortedResultRequestDt, CreateUpdateBookDto>, IBookAppService

Shouldn't running MVC applications generate API proxy scripts for retail.bookstore.books.book? I checked /Abp/ServiceProxyScript and only

[2021-10-14 07:41] realLiangshiwei commented on #10319
* Steps needed to **reproduce** the problem.

Please write in english. thanks

[2021-10-14 07:45] maliming opened #10320 "Research the new `PeriodicTimer`"
Use it to replace AbpTimer and other related services.

It is only available on `NET 6.0`, We use `netstandard2.0`.
https://github.com/abpframework/abp/blob/a2e3f30c44be494ef18ac2653a4780af13eb0503/framework/src/Volo.Abp.Threading/Volo.Abp.Threading.csproj#L7

https://www.ilkayilknur.com/a-new-modern-timer-api-in-dotnet-6-periodictimer

[code]

[2021-10-14 07:45] pagner commented on #10316
Thanks, that's what I figured.

How do I grant the permissions? By PermissionDefenitionProvider/Group or
Database entry in AbpPermissionGrants?

Can you please explain.
Thanks

On Wed, Oct 13, 2021 at 10:25 PM maliming ***@***.***> wrote:

[2021-10-14 09:03] hikalkan opened #10322 "Document how to run the default background job system in a cluster environment"
With https://github.com/abpframework/abp/issues/10032 it is now possible to run the default background job manager in a cluster environment since it uses distributed lock to guarantee that only one application instance processes the jobs.
However, that's disabled by default since distributed lock system requires external services like Redis, etc.

To enable,

1. Install Volo.Abp.DistributedLocking

[2021-10-14 09:07] maliming commented on #10316
https://docs.abp.io/en/abp/latest/Modules/Permission-Management#ipermissionmanager

[2021-10-14 11:38] #10307 closed, assigned to gterdem

[2021-10-14 12:20] mgochmuradov opened #10326 "Add Load<T>(id) function into Specifications to load related entities (Feature Request)"
### Feature Request

Wiil it be possible to load related aggregate root items for current entity. It will be useful in situations where no Navigation property is defined.

May be by adding a `Load<T>(id)` function into a base `Specification` class.

Example usage:
[code]

*PS: There is something similar in a RavenDB: [https://ravendb.net/docs/article-page/5.2/csharp/indexes/indexing-related-docume

[2021-10-14 17:34] pagner commented on #10316
Thanks for your help! I finally got it.

On Thu, Oct 14, 2021 at 2:08 AM maliming ***@***.***> wrote:

[2021-10-15 01:35] #10032 closed, assigned to hikalkan

[2021-10-15 02:37] maliming commented on #10320
It is only available on `NET 6.0`, We use `netstandard2.0`.
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Threading/Volo.Abp.Threading.csproj#L7

[2021-10-15 07:03] gerryge opened #10331 "How to do the redundancy of IdentityUser with extra properties"
I have extended the IdentityUser to add SocialSecurityNumber property followed the guide of [Module Entity Extensions](https://docs.abp.io/en/abp/latest/Module-Entity-Extensions)

And I would do the redundancy of IdentityUser like Volo.CmsKit module:
![image](https://user-images.githubusercontent.com/6952917/137444087-75e297e1-1fd5-4df2-a603-883c6677f268.png)

But I found I cannot extend UserEto t

[2021-10-15 07:07] gterdem commented on #8385
If I remember correctly, we had to trim because of windows line limit (or something like that, I forgot the exact error); had so long folders and file names that failed to build.

[2021-10-15 07:36] aelhadi opened #10332 "Abp IdentityServer4 with SAML2P"
Hello,

I want to enable SAML 2.0 in Abp IdentityServer (Tiered) by using Rsk.IdentityServer4.Saml and following  (https://www.identityserver.com/articles/saml-20-integration-with-identityserver4)

i'm facing some difficulties related to conflict between object and builders ....

Any help please?

Best Regards

[2021-10-15 07:39] realLiangshiwei commented on #10326
Hi,

Thanks,  But I don't think we will add this feature, It sounds like a RavenDB specific feature.

[2021-10-15 07:40] maliming commented on #10332
Can you explain it?

[2021-10-15 07:50] aelhadi commented on #10332
first problem, when i install the Rsk.IdentityServer4.Saml i'm getting error about ambiguity in :

app.UseIdentityServer();
![image](https://user-images.githubusercontent.com/5918026/137451583-a8e62c66-07de-4c38-97cf-0df79eac9be5.png)

if you can provide example how to enable SAML with Rsk.IdentityServer4.Saml i'll be thankful.

[2021-10-15 07:56] maliming commented on #10332
You can use the static method. This is not related to Abp.

[2021-10-15 09:45] realLiangshiwei commented on #10319
Can't reproduce the problem, I don't think it's an issue with ABP, you should double-check your code

[2021-10-15 09:52] xiangyisheng commented on #1469
What is the final solution to this problem?

[2021-10-15 09:55] gdlcf88 commented on #1469
For now, you can use the [AbpHelper GUI](https://static-resources.duotai.tech/dp/clinic-app/client-download/clinic-app-1.1.5.exe) to generate controllers manually.

[2021-10-15 11:46] enisn opened #10333 "CMS Kit - Fix Reaction Popover Problem"
Reaction popover doesn't work consistently.

[2021-10-16 02:11] #9825 closed, assigned to nobody

[2021-10-16 04:00] tomfanara commented on #946
Can somebody tell me more about how to create the ServiceDiscoveryProvider? The documentation kind of leaves you hanging!

[2021-10-16 11:21] #9776 closed, assigned to nobody

[2021-10-16 22:09] liubin3071 opened #10339 "all applications return the configuration of the first cached application"
Because the cache key cannot identify the application, all applications return the configuration of the first cached application, which leads to the wrong result of “RemotePermissionChecker.IsGrantedAsync(string name)”

——Google Translate

[code]

[2021-10-17 05:22] WuLex opened #10341 "Could you add a Partially update entity method?"
Hello ,

Could you add a Partially update entity method?

` var result4 = db.Updateable(updateObj).UpdateColumns(it => new { it.Name, it.CreateTime }).ExecuteCommand();`

ORM:
How can i use  https://github.com/donet5/SqlSugar?

[2021-10-17 06:09] liubin3071 commented on #10339
Is this a design or a bug?

[2021-10-17 08:13] maliming commented on #10339
I will check this.

[2021-10-17 11:27] puschie286 commented on #9835
push

[2021-10-17 11:38] ertugrulbakidal opened #10343 "Could not replace C# class of the view component"
* ABP Framework version: 4.4
* User Interface: MVC
* Database provider: EF Core

I am able to replace AccountProfilePasswordManagementGroup's Html and js by creating the same folder structure in my project but I'd like to replace AccountProfilePasswordManagementGroupViewComponent c# class itself and don't know how to replace it. From Abp documentation "If you need, you can also replace the code be

[2021-10-17 12:07] iyilm4z commented on #10343
.Components.ProfileManagementGroup.Password.AccountProfilePasswordManagementGroupViewComponent.

This means that you should inherit MyAccountProfilePasswordManagementGroupViewComponent from AccountProfilePasswordManagementGroupViewComponent.

Did you test it?

[2021-10-17 12:38] ertugrulbakidal commented on #10343
Well, I can not see any benefit inheriting from AccountProfilePasswordManagementGroupViewComponent as InvokeAsync is not virtual, so I can not override it:

[code]
However, I've just tried for you :)

[code]

The stack trace:

InvalidOperationException: View component 'TestStore.Web.Pages.Account.Components.ProfileManagementGroup.Password.MyAccountProfilePasswordManagementGroupViewComponent' must

[2021-10-17 13:04] iyilm4z commented on #10343
Yes you are right the InvokeAsync method is not virtual but it should be virtual imho. I can make a pr for this but without inheriting from it also should work according to the doc. I'll check it.

[2021-10-17 13:57] abou-emish opened #10344 "Feature Request, Option to specify HttpClient timeout for DynamicProxyHttpClient"
**ABP Framework version 4.4.3**

**abp** currently doesn't provide any HttpClient options to pass to DynamicProxyHttpClientFactory

I want to change HttpClient timeout, and I had to replace **DefaultDynamicProxyHttpClientFactory** implementation to achieve that.

Would you consider implementing this feature  :)

[2021-10-17 14:16] iyilm4z commented on #10343
I've tested the case on my local environment and i came across with the same errors. Then i've wanted to read more docs and i found [this doc](https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-a-controller) showing how to replace a controller. At the end of that doc there is the explanation below.

Overriding controllers, framework services, v

[2021-10-18 00:50] realLiangshiwei commented on #10344
Try:

[code]

[2021-10-18 00:50] #10344 closed, assigned to nobody

[2021-10-18 00:54] realLiangshiwei commented on #10341
ABP abstracts the data access repository, you can implement it with SqlSugar.

[2021-10-18 00:54] #10341 closed, assigned to nobody

[2021-10-18 02:55] maliming commented on #10339
hi

This seems to be no problem, can you explain it in detail?

[2021-10-18 02:58] maliming commented on #10320
https://gist.github.com/maliming/359f708c5f9873e9a1c065cb02ab8bf4

[2021-10-18 06:52] maliming commented on #10311
https://github.com/abpframework/abp/pull/10313

[2021-10-18 06:52] #10311 closed, assigned to nobody

[2021-10-18 06:53] #10326 closed, assigned to nobody

[2021-10-18 06:55] #10332 closed, assigned to nobody

[2021-10-18 07:18] maliming commented on #10331
[code]

https://docs.abp.io/en/abp/4.4/Distributed-Event-Bus#configuration

[2021-10-18 07:18] #10331 closed, assigned to nobody

[2021-10-19 02:15] realLiangshiwei opened #10356 "Show notification for all successful delete actions of modules (Angular UI)"
Related: https://github.com/abpframework/abp/pull/10354

Volo modules also

[2021-10-19 02:49] gerryge opened #10357 "How to do the redundancy of IdentityUser with extra properties"
After added below code, I can go to the breakpoint, but the extra properties value is null
[code]

https://docs.abp.io/en/abp/4.4/Distributed-Event-Bus#configuration

![image](https://user-images.githubusercontent.com/6952917/137836107-8ed6ce9e-8205-4237-bbf3-c0da7081c1f8.png)

Does abp cannot auto map the extra properties?

Another question is that the parameter `IUserData` of `CreateUser` functi

[2021-10-19 03:12] realLiangshiwei commented on #10357
The extra properties are store in the `ExtraProperties` property, you need to custom the mapper profile.

[2021-10-19 03:12] #10357 closed, assigned to nobody

[2021-10-19 08:07] gerryge opened #10360 "IUserData should support extra properties"
According to the Module entity extension system,
I think IUserData should implement IHasExtraProperties to support extra properties.
What do you think?

_Originally posted by @realLiangshiwei in https://github.com/abpframework/abp/issues/10357#issuecomment-946330081_

[2021-10-19 08:38] aelhadi opened #10361 "Article Request : Implementing Rsk SAML / SAML2P component with Abp Identity server"
Hello,

Any help to implement Rsk SAML2P component with Abp Identity server ?

See: https://github.com/RockSolidKnowledge/Samples.IdentityServer4.Saml2pIntegration

Best Regards

[2021-10-19 08:58] antosubash opened #10362 "abp add-module corrupts the solution file."
* Your **ABP Framework version**. - 4.4.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI. - MVC
* Your database provider(EF Core/MongoDB)- EF Core

**Steps needed to **reproduce** the problem.**

Create a module project

[code]

Now add the module

[code]

Now open the solution.

Here is the sample Repo: https://github.com/antosubash/abp-add-mod

[2021-10-19 09:32] realLiangshiwei commented on #10362
Hi,

The `add-module` command only supports the app template.

[2021-10-19 10:33] antosubash commented on #10362
@realLiangshiwei thanks for the update. It is not mentioned in the documentation.

Does it mean we cannot use `add-module` command to use built in modules as well? like docs and blogging? in the Module template?

[2021-10-19 11:31] mehmet-erim opened #10364 "Angular UI Docs: Improve customization user interface guide"

[2021-10-19 11:56] realLiangshiwei commented on #10362
Yes

[2021-10-19 12:01] aelhadi commented on #10361
Hello,

this is what i did to make it work :-)

In your Abp module :
[code]

Afler that you have to call  :
[code]

Now you can call :
https://youridp/saml/metadata to download SAML MetaData

I will document this with detail  👍

Best regards.

[2021-10-19 12:04] EngincanV commented on #10361
Thanks for your contribution @aelhadi, it would be very helpful while the article is written.

[2021-10-19 13:50] gterdem opened #10365 "eShopOnAbp: Remove Consul"
We have decided to remove Consul since it seems obsolete when using kubernetes.

[2021-10-19 14:22] ertugrulbakidal commented on #10343
Any progress @iyilm4z

[2021-10-19 15:15] iyilm4z commented on #10343
@ertugrulbaki27 [AbpAspNetCoreMvcConventionalRegistrar_Tests](https://github.com/abpframework/abp/blob/dev/framework/test/Volo.Abp.AspNetCore.Mvc.Tests/Volo/Abp/AspNetCore/Mvc/DependencyInjection/AbpAspNetCoreMvcConventionalRegistrar_Tests.cs) doesn't contain a test method covers your case. However there may be a test at somewhere else that also covers your case. Even though that i wanted to write

[2021-10-19 19:34] lommez opened #10366 "Integration with Isolated (out-of-process) Azure Functions"
Is there way or plans to support integration with .Net 5.0 Isolated Azure Functions?

I tried to do something like that:

![image](https://user-images.githubusercontent.com/10900667/137977895-dea04b09-069b-40fe-bdf5-8a02dadca674.png)

![image](https://user-images.githubusercontent.com/10900667/137977936-fcc286fd-1325-44ad-92bf-2c4f5ebe8187.png)

![image](https://user-images.githubusercontent.com/1

[2021-10-19 22:28] lht6 opened #10367 "CORS error when request application-configuration through gateway"
I start the abp service on https://localhost:32001, and use ocelot as gateway to map the requests to https://localhost:30001/test/{path} to  https://localhost:32001/{path}.

When I visit through angular app (http://localhost:4200/), I see CORS error (happened in [zone.js:2863]) in the request to https://localhost:30001/test/api/abp/application-configuration, however, if I request the same url in b

[2021-10-20 00:44] maliming commented on #10367
You should check the CORS configuration of your application.

[2021-10-20 00:47] maliming commented on #10366
hi

Try to depend on `AbpAspNetCoreModule`.

[2021-10-20 00:58] snowchenlei commented on #6979
Hi,
cli Generated htttp request hot convert DateToString?
i get error `'2021-10-07T10:34:03.000Z' can't parse to DateTime(yyyy-MM-dd HH:mm:ss)!`
![image](https://user-images.githubusercontent.com/26211283/138010502-84572a25-1339-41e5-b399-e684c08ddea3.png)

![image](https://user-images.githubusercontent.com/26211283/138010486-93d5ac06-74c4-43fc-98f0-bf77defed48a.png)

[2021-10-20 02:00] #9812 closed, assigned to nobody

[2021-10-20 02:42] maliming opened #10368 "How to test Blazor components in ABP."
https://support.abp.io/QA/Questions/1979

[2021-10-20 07:53] #10301 closed, assigned to realLiangshiwei

[2021-10-20 08:50] ignite-404 opened #10371 "provide non-guid type for user id and tenant id"
i use abp:4.3 currently

## problem
i have my own id generator,and its not guid.
so i can't use abp builtin user/tenant components.
its such a sad thing for me.

## my suggestion
pls let us choose id types or set it to string, as all we know string has better compatibility.

[2021-10-20 08:52] #10371 closed, assigned to nobody

[2021-10-20 08:56] bnymncoskuner opened #10372 "RTL: use mirrored font awesome icons"

[2021-10-20 10:45] iyilm4z commented on #10343
@ertugrulbaki27 most probably i found a DI bug. I'll fix it.

[2021-10-20 11:17] iyilm4z opened #10375 "DependencyAttribute doesn't work for AspNetCoreMvc"
I realized this when i was working on #10343. This may be root couse of it.

[2021-10-20 11:47] Fane276 opened #10377 "Blazor UI - abp.js"
I am facing an issue or more like a nice to have feature. Is there any alternative for abp.js in Blazor UI? I mean if features from abp.js are also implemented in .Net for Blazor.
A concrete example is the abp.ui.setBusy() method, I think that it will be nice to have the same method in Blazor something like Abp.Ui.SetBusy(TElement element) so that we don't need to import JSInterop to perform this

[2021-10-20 11:52] tinonetic commented on #7550
@willignicolas , @maliming ... would appreciate a bit of insight on how and what would be subclassed?

I do know, and apologise that mocking the services isn't ABP-related

[2021-10-20 14:59] lommez commented on #10366
Thanks @maliming !!
Works perfectly!

[2021-10-20 14:59] #10366 closed, assigned to nobody

[2021-10-20 19:48] ertugrulbakidal commented on #10343
@iyilm4z Great, thank you :)

[2021-10-20 22:40] #10367 closed, assigned to nobody

[2021-10-21 02:11] realLiangshiwei commented on #10377
abp.js is not available for Blazor.

You can look for other third-party libraries: https://github.com/search?q=block+blazor

[2021-10-21 02:11] #10377 closed, assigned to nobody

[2021-10-21 05:14] #10365 closed, assigned to gterdem

[2021-10-21 07:23] antosubash opened #10388 "Support for `abp add-module` in module template"
Based on this thread #10362 add module is not supported in module template.

[2021-10-21 07:49] Fane276 commented on #10377
Alright, then I will do this translation with my colleagues and we will be more than glad to come with a pull request.

[2021-10-21 09:00] realLiangshiwei commented on #10388
We have no plan to support the module template now, so I add it to the backlog

[2021-10-21 12:04] #10343 closed, assigned to nobody

[2021-10-22 01:38] #10375 closed, assigned to nobody

[2021-10-22 02:07] snowchenlei opened #10396 "how to get user list but not show menu"
abp version:4.3.3

now, I have a user test.
I need to get a list of users. So I assigned test user `Identity.Users` permissions.
But test user saw the user menu.That's what I don't want.
How to resolve this conflict.

Thanks!

[2021-10-22 02:54] realLiangshiwei commented on #10396
You should create your own application service & permissions.

[2021-10-22 02:54] #10396 closed, assigned to nobody

[2021-10-22 03:24] andylaufzf opened #10397 "TypeLoadException: Method 'AppendIdentityWhereCondition' in type 'Pomelo.EntityFrameworkCore.MySql.Update.Internal.MySqlUpdateSqlGenerator'"
I create a project with abp vnext 5.0 preview,but this is an error when i run it.The flow is the error message:

TypeLoadException: Method 'AppendIdentityWhereCondition' in type 'Pomelo.EntityFrameworkCore.MySql.Update.Internal.MySqlUpdateSqlGenerator' from assembly 'Pomelo.EntityFrameworkCore.MySql, Version=6.0.0.0, Culture=neutral, PublicKeyToken=2cc498582444921b' does not have an implementation

[2021-10-22 03:27] maliming commented on #10397
Can you try to add the latest package to your project?

https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/6.0.0-preview.7

[2021-10-22 03:55] andylaufzf commented on #10397
I try it,but the bug remains.

[2021-10-22 03:57] andylaufzf commented on #10397
I try it,but the bug remains.

[2021-10-22 05:21] maliming commented on #10397
See https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/1510#issuecomment-922244242

[2021-10-22 05:21] #10397 closed, assigned to nobody

[2021-10-22 06:41] andylaufzf commented on #10397
Entityframeworkcore updated to 6.0.0-rc2.21480.5
pomelo.entityframeworkcore.mysql updated to 6.0.0-preview.7,
but the bug remains.

[2021-10-22 06:46] maliming commented on #10397
This is related to Pomelo, not abp.

[2021-10-22 07:31] ebicoglu opened #10399 "Blazor Server retrieve IP address and audit logging"
Reported here:
https://support.abp.io/QA/Questions/1743/Blazor-Server-Audit-Logs-shows--blazor-on-every-single--HttpRequest

[2021-10-22 07:38] maliming commented on #10399
Move https://github.com/volosoft/volo/issues/7573

[2021-10-22 07:38] #10399 closed, assigned to nobody

[2021-10-22 12:49] ebicoglu opened #10404 "Fix sweetalert text to title issue"
When we use a single string to show alert, it must be written to text field not to title field
`abp.message.error('Your credit card number is not valid!');`

![image](https://user-images.githubusercontent.com/9526587/138456171-4029c046-24c4-4ca7-ba97-78f65317319c.png)
![image](https://user-images.githubusercontent.com/9526587/138456206-00f14717-41e5-4ee4-9aec-793e9803e7dc.png)

[2021-10-23 06:34] #9348 closed, assigned to nobody

[2021-10-23 18:27] pagner commented on #9967
@mnaveedtkxel Did you ever get this to work? I am having the same issue on IIS. Windows Server 2019.

This is driving me nuts. I have been over every setting 20 times! Just like you I can visit the endpoint in the browser.

[2021-10-23 18:52] pagner opened #10408 "IIS Hosting. Cors not working. No 'Access-Control-Allow-Origin' header is present"
Everything works fine locally. In production, not so much.

IIS 10 on Windows Server 2019

Identity server in same project. Not separated.

ClientCorsOrigin table in db has my domain  for the clients.

API/IdentityServer is secured with SSL Cert

appsettings

`{
  "App": {

    "SelfUrl": "https://api.mydomain.io",

    "ClientUrl": "https://app.mydomain.io",

    "CorsOrigins": "https://app.mydom

[2021-10-23 22:51] pagner commented on #10408
Closing this. I started from scratch. Deleted tables, double checked my appsettings etc. rebuilt and pushed everything.

Working now...

[2021-10-23 22:51] #10408 closed, assigned to nobody

[2021-10-24 01:24] #9967 closed, assigned to nobody

[2021-10-24 10:27] #10250 closed, assigned to berkansasmaz

[2021-10-24 11:12] hikalkan opened #10409 "Prepare ABP 4.x to 5.0 migration guide"

[2021-10-24 17:12] adamlonsdale opened #10411 "Static JavaScript proxies - with auto generated API."
I am running the new v5.0.0 beta 2, and I can't see a way with the static JavaScript generator to work with the tiered application architecture. Forgive me if I am raising this before the documentation is ready as I am just getting familiar with the framework.

The problem I see is that the app-proxy.js uses the abp.AppPath for it's root URL. I believe this is the URL to the web app itself where i

[2021-10-25 01:57] #10145 closed, assigned to ebicoglu

[2021-10-25 05:03] maliming commented on #10411
hi

* Steps needed to **reproduce** the problem.

[2021-10-25 05:20] maliming opened #10413 "Add `Load script/style asynchronously` document."
https://github.com/abpframework/abp/pull/10317

[2021-10-25 05:54] #10306 closed, assigned to maliming

[2021-10-25 06:00] hikalkan opened #10415 "Upgrade to Blazorise 0.9.4.7"

[2021-10-25 06:22] mnaveedtkxel commented on #9967
DNS entries create issues in my network. After the fix that site is up
and running.  IdentityServerClient Seed already verified.

On Sat, Oct 23, 2021 at 11:27 PM pagner ***@***.***> wrote:

[2021-10-25 06:45] #10413 closed, assigned to maliming

[2021-10-25 07:05] realLiangshiwei opened #10419 "Move profile service to account module"
This is a breaking change,

We move the profile service to the account module because it is used for account UI.

## What is the change

* `IProfileAppService` interface namespace change to `Volo.Abp.Account`
* Route changed from `/api/identity/my-profile` to `/api/account/my-profile`

[2021-10-25 09:18] iyilm4z commented on #8088
Hi @maliming, i realized that you cancelled working on [Use DI in OnModelCreating](https://github.com/abpframework/abp/pull/8092/files#diff-75d85b6d759e64ce06d67e6d36db94a9bf2849f0eda1c72119e970483e0847c7R57-R60) improvement. First of all i would like to know why? Because i was hoping to use your solution to fix [this ticket](https://github.com/abpframework/abp/issues/2208) as well.
Secondly i don

[2021-10-25 10:56] #9955 closed, assigned to realLiangshiwei

[2021-10-25 12:13] hikalkan opened #10426 "Consider using the new hosting model"
It is easy to apply for who want to switch today: https://github.com/abpframework/abp/commit/777c3ddd7a69289d2434acf16b90c7db2e8dc36f

We want to wait until it is well understood. Some developers may ask "where is my Startup class?" 😄

[2021-10-25 13:53] ebicoglu opened #10427 "Add additional info for new Blazor-Server project creation"
There's no --separate-identity-server parameter for Blazor-Server creation command.
There's  --tiered parameter to have Host, IdentityServer and Blazor as different projects and endpoints.
Therefore we need to emphasize this on the docs

[2021-10-25 13:59] #10427 closed, assigned to ebicoglu

[2021-10-25 14:38] liubin3071 commented on #10339
in abp.sample resp,  MicroserviceDemo

if you login from PublicWebSite.Host first, then open BackendAdminApp.Host fast, you will get a Permission  error.

in BackendAdminApp.Host, you will get ApplicationConfigurationDto cache of publicwebsite.

the cache key for ApplicationConfigurationDto should contain appclientid.

[2021-10-25 15:40] #10404 closed, assigned to EngincanV

[2021-10-25 19:28] adamlonsdale commented on #10411
Apologies for not providing the reproduction steps. You can re-create this by following the tutorial on the ABP website when using a tiered app. The steps are as below:

1. Scaffold a new tiered application
1. Add a domain entity
1. Add an application service
1. Confirm the application service is visible in swagger
1. Generate static javascript proxy for the HttpApi.Host project via ABP CLI
1. Add

[2021-10-25 22:00] 1d0n7kn0w opened #10432 "Is abp.io suitable for polyglot microservices?"
In our company, we are studying abp.io if it will suit our needs. We have different teams that are using different tech stacks and programming languages. Can we use abp.io in a single microservice? Is that even possible?

[2021-10-26 02:10] maliming commented on #10432
Of course, abpio is designed for microservices by nature.

https://abp.io/
https://docs.abp.io/en/abp/latest

[2021-10-26 02:14] maliming commented on #10411
hi

We will update the document to explain how to use the static proxy. https://github.com/abpframework/abp/issues/10433

[2021-10-26 02:19] maliming commented on #10339
There will be `UserId` in the cache key, Please share the full HTTP request logs of this case.

[2021-10-26 02:42] realLiangshiwei opened #10433 "Update generate proxy command document"
https://github.com/abpframework/abp/pull/9905

[2021-10-26 02:46] maliming commented on #8088
I will check the [PR ](https://github.com/abpframework/abp/pull/8092)again.

[2021-10-26 02:51] 1d0n7kn0w commented on #10432
I don't think that you understood my question, our context is polyglot microservices.
"The polyglot microservices allow developers to pick a programming language of their choice in order to build products in more efficient ways" from https://en.wikipedia.org/wiki/Polyglot_(computing)
From what I saw in the microservices samples, for example the multi-tenancy component is strictly linked to abp.io

[2021-10-26 04:50] newacc12 opened #10434 "[Question] Extending IdentityUser with regular properties"
Is there a way to extend IdentityUser using regular properties? (e.g.: `public string MyProp {get;set;}`)

This [article](https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna#using-custom-properties-in-the-application-code) mentions about some ways to extend the entity which I find very not intuitive. I don't want to create a bunch of "

[2021-10-26 05:14] enisn opened #10435 "When content is null, Markdig will occur an error"
Page with NULL content:

![image](https://user-images.githubusercontent.com/23705418/138812806-defe4653-f6b9-4cf6-9474-fa6667001b8a.png)

[2021-10-26 07:18] realLiangshiwei commented on #10434
Hi,

See https://docs.microsoft.com/en-us/ef/core/modeling/inheritance, but as explained in the article: **EF Core can't map two classes to single table without an inheritance relation**

You can try:
https://docs.microsoft.com/en-us/ef/core/modeling/table-splitting

But using entity expansion system is the recommended way.

[2021-10-26 07:24] #10434 closed, assigned to nobody

[2021-10-26 07:43] cld0815 opened #10440 "ConsoleTestApp Exception"
* Your **ABP Framework version**.
5.0.0-beta.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
blazor-server
* Your database provider(EF Core/MongoDB)
postgresql
* Exception message and **stack trace** if available (check the logs).
![%PHNLBJ2@2ACP( L3`KF~ME](https://user-images.githubusercontent.com/30192550/138831035-e5dff8b1-c0e4-45ec-877c-907

[2021-10-26 08:53] realLiangshiwei commented on #10440
Hi,

See https://github.com/abpframework/abp/pull/10441

[2021-10-26 10:42] #10440 closed, assigned to realLiangshiwei

[2021-10-26 15:41] adamlonsdale commented on #10411
Thanks for this, is there a bullet point list or something I can read to figure out how to proceed with the tutorial? Looking at purchasing a commercial business licence so need to get my sample up and running to demo. I'm happy to update the docs for you with a PR if I figure it out.

[2021-10-26 16:39] ugurozturk opened #10442 "Change CurrentUser on DB Seed"
* Your **ABP Framework version**.
* 4.4.3

Hi, I created new user with IdentityUserManager in Test Project. Yet i can't change currentUser to new created User. How can i do that ?

Creating new User was easy.
[code]

I tried SignInManager but failed becasue of dependency injection.

[2021-10-26 17:26] EngincanV commented on #10442
You need to mock the `ICurrentUser`. You can do this like below.

[code]

[2021-10-26 17:26] #10442 closed, assigned to nobody

[2021-10-26 18:08] ugurozturk commented on #10442
Thank you, it worked

[2021-10-27 01:27] maliming commented on #10411
Please follow https://github.com/abpframework/abp/issues/10433

[2021-10-27 01:33] cld0815 commented on #10440
Thanks

[2021-10-27 03:46] maliming commented on #8088
A simple solution:
`--- public static void ConfigureIdentityServer(this ModelBuilder builder)`
 `+++ public static void ConfigureIdentityServer(this ModelBuilder builder, DbContext dbContext)`

[2021-10-27 03:46] #8088 closed, assigned to nobody

[2021-10-27 06:49] gterdem opened #10446 "eShopOnAbp: Profile update error"
When trying to update profile information, there is an error related with couldn't find end point.
![image](https://user-images.githubusercontent.com/25867/139014118-37622259-5b5a-48bb-a9e1-5de4888fabe9.png)
Missing identity endpoints
![image](https://user-images.githubusercontent.com/25867/139014251-1d52c5af-4492-480a-a412-ff4bd0b56b48.png)

[2021-10-27 07:06] cotur commented on #10432
Hi @1d0n7kn0w

ABP Framework built on modularity, extensibility and flexibility.
**You can change every component, you can override any part of the packages or modules for your requirements.**

By default, we provide the best implementation for many requirements (For example tenant resolving https://docs.abp.io/en/abp/latest/Multi-Tenancy#tenant-resolvers )
But that not means you are depended thos

[2021-10-27 07:21] #10433 closed, assigned to realLiangshiwei

[2021-10-27 07:31] ebicoglu commented on #10042
![image](https://user-images.githubusercontent.com/9526587/139020247-2e817f17-780f-4ab9-89a7-40143f11351f.png)

[2021-10-27 07:40] #10446 closed, assigned to gterdem, enisn

[2021-10-27 07:43] enisn opened #10449 "Account module accessing to Identity module with dynamic proxy instead of static proxy."
We have discovered this issue while developing a micro-service solution. (eShopOnAbp)

auth-server was using Identity.Web package, and update account information didn't work. So we've replaced Identity.Web package with Identity.HttpApi, and it worked properly. It seem Account module uses dynamic proxy while accessing to Identity module instead of static proxy.

[2021-10-27 07:43] enisn commented on #10446
We discovered, Account module accessing to Identity module with dynamic proxy instead of static proxy.

I've created an issue about it: https://github.com/abpframework/abp/issues/10449

[2021-10-27 08:07] enisn commented on #10449
Account module no longer uses identity client proxies
https://github.com/abpframework/abp/pull/10370

The changes will be released in next release.

[2021-10-27 08:07] #10449 closed, assigned to nobody

[2021-10-27 09:22] pp26 opened #10452 "Q:How SignalR works in Abp with Blazor UI?"
Hi,
I just created a new Blazor UI Abp project. I'm trying a Noticification demo under the guidance of [:](https://community.abp.io/articles/realtime-notifications-via-signalr-in-abp-project-tsp2uqd3)

the guid used razor pages and js file. I tried to rebuild it in Blazor ,but some error appears and I can't handle it .

like set up a HubConnection :
![image](https://user-images.githubusercontent.c

[2021-10-27 09:28] realLiangshiwei commented on #10452
I think this is has nothing to do with ABP.

Check: https://docs.microsoft.com/en-us/aspnet/core/tutorials/signalr-blazor?view=aspnetcore-5.0&tabs=visual-studio&pivots=server

[2021-10-27 09:28] #10452 closed, assigned to nobody

[2021-10-27 09:49] ashoksurya opened #10453 "abp generate-proxy is not working in angular library project. Its throwing error [Environment Not Found] An environment file cannot be located in "project" project. Is it possible to have environment files in library ?"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-10-27 09:56] realLiangshiwei commented on #10453
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-10-27 10:38] ashoksurya commented on #10453
![image](https://user-images.githubusercontent.com/11820251/139050052-91dac529-3407-42fa-9a95-b5cf5d5aeb00.png)
My ABP version 3.3.1
Its not an application its Library. Create a angular library and try to generate proxy from there you will get that error

[2021-10-27 11:54] NecatiMeral commented on #10453
Hi,

as far as I know you need to have a kind of development app (f. k. a. `dev-app`) to work with.
You'll use the environment specified in your `dev-app`.

To generate the proxy for your module, run the command in your `dev-app` directory and add the `--target shared-library` option to place the generated proxy in the corresponding module project.

[2021-10-27 11:59] pp26 commented on #10452
Thank you ,I'll try it.

[2021-10-27 12:03] realLiangshiwei commented on #10453
One more tip:

Please use the same version of CLI and template.

[2021-10-27 12:12] hikalkan opened #10456 "Allow to set modalClass with full namespace or as directly a function"
Currently, we can define a modal class as shown below:

[code]

We can support so that we directly pass the function to the `modalClass` parameter:

[code]

or we may define the function in `my.customns` namespace instead of `abp.modals` and pass it as full form:

[code]

[2021-10-27 14:28] newacc12 commented on #10434
Hi @realLiangshiwei Thanks for the answer but that's not what I was talking about. I don't want to map two entities to the same table or do table-splitting.

If I create a brand new .NET 5 with EF Core app I am able to customize and use my own class for the user like this [https://docs.microsoft.com/en-us/aspnet/core/security/authentication/customize-identity-model?view=aspnetcore-5.0#custom-user-

[2021-10-27 20:19] adamlonsdale commented on #10411
Hey, sorry for raising this again but I'm still a little confused. I've followed the new documentation and generated a JavaScript proxy for the Http API and placed it in the Host project instead of Web. I then removed the context.ScriptBundles.Configure element and just referenced the httpapi.host/client-proxies/app-proxy.js as per the samples.

When I do the tutorial in a non-tiered application i

[2021-10-28 00:44] realLiangshiwei commented on #10434
@newacc12

ABP does not provide such a way yet.

[2021-10-28 00:47] realLiangshiwei commented on #10411
You should not generate a JavaScript proxy for the HTTP API project. you should generate a proxy for your client (Web)

[2021-10-28 00:47] #10411 closed, assigned to nobody

[2021-10-28 01:17] ashoksurya commented on #10453
![image](https://user-images.githubusercontent.com/11820251/139169627-167f5a69-e736-4c34-b170-0cbe2fde0f8b.png)
If I run the generate-proxy command with --tagged emr-ng-shared in my app its giving above error

[2021-10-28 01:31] catwarrior commented on #2352
stuck with LGPL, mean while abp doesn’t have private commercial license, I have to replace abp for now, which is hard, since applications deeply build on top of abp. really looking forward updates, not only basic theme, most important is all the dependencies of creating a basic abp application, I understand some packages that abp reference is LGPL licensed, for example hangfire, but hangfire has p

[2021-10-28 02:15] sofm13 opened #10457 "I got an error when I tried to clear all the data in mongoDB"
ABP4.4.3
![image](https://user-images.githubusercontent.com/52565295/139174538-00a9005b-4a6c-4973-954c-036a291ab3d7.png)
- Exceptions:
  - CreateEntitiesFilter is not implemented for MongoDB by default. It should be overriden and implemented by the deriving class!
    System.NotImplementedException: CreateEntitiesFilter is not implemented for MongoDB by default. It should be overriden and implemen

[2021-10-28 02:20] 1d0n7kn0w commented on #10432
Thank you very much, it's clear now in my head

[2021-10-28 02:20] #10432 closed, assigned to maliming

[2021-10-28 02:24] realLiangshiwei commented on #10457
I think the error message is clear,  you should implement the `CreateEntitiesFilter` method.

[2021-10-28 02:24] #10457 closed, assigned to nobody

[2021-10-28 02:27] sofm13 commented on #10457
Could you tell me where implement the CreateEntitiesFilter method,plz

[2021-10-28 02:28] #10319 closed, assigned to nobody

[2021-10-28 02:29] realLiangshiwei commented on #10457
It should be overriden and implemented by the **deriving class**!

[2021-10-28 03:28] newacc12 commented on #10434
@realLiangshiwei

Gotcha!

Assuming that this is feasible to implement, hopefully it can be considered as a future enhancement. It is not DDD friendly having to search for extensions methods or mapping code on the code base to be able to tell what properties are part of my domain model.

Thanks for getting back to me and for this awesome framework.

[2021-10-28 08:04] realLiangshiwei commented on #10415
When https://github.com/abpframework/abp/pull/9877 is merged, the Blazorise will upgrade to `0.9.5-preview2.1`.

Should we upgrade to Blazorise 0.9.4.7 now?

[2021-10-28 08:47] lszabados opened #10460 "Docs Module Project Access Rights"
### Feature Request

Could the Docs module be added to optionally set access rights for each Project?
Based on Role or OU.

[2021-10-28 09:14] jakeuj opened #10462 "How to change unit test from InMemorySqlite to Mssql?"
# Issue
* **ABP Framework version**
5.0.0-beta2
* **User Interface**
Angular
* database provider
EF Core (MSSQL)
* **stack trace**
[code]
* **reproduce**
[code]
## Problem
Sqlite has many differents with mssql, and it will make unit test failed.
* [SQLite supports AutoIncrement only for column of type INTEGER PRIMARY KEY](https://stackoverflow.com/questions/49592274/how-to-create-autoincrement-col

[2021-10-28 09:39] maliming commented on #10462
https://docs.abp.io/en/abp/latest/Entity-Framework-Core-MySQL

[2021-10-28 12:09] fnomarkh opened #10464 "TextTemplating.Razor issue"
**Version 4.4.0**.

**Issue Description:**
Generated Html from TextTemplating.Razor will duplicate attribute name and value if the value is provided by a razor variable.

**Steps to Reproduce:**
1. Use the [TextTemplating.Razor Sample](https://github.com/abpframework/abp-samples/tree/master/TextTemplateDemo/Razor).
2. Update `Hello.cshtml` to use a variable. Example:
[code]
3. Examine the output:

[2021-10-28 13:00] maliming commented on #10464
hi

You can create a subclass to override the method to temporarily solve it.

[2021-10-28 13:34] #10464 closed, assigned to maliming

[2021-10-28 20:51] lht6 opened #10466 "Is there a way to return status code in application services as dynamic Auto API Controllers"
With Auto API Controllers, I am looking for a way to send status code inside application service. Also, is it possible to call some controller shorthand method inside application service, like, OK(), BadRequest(), etc? Thanks

[2021-10-28 20:56] #10466 closed, assigned to nobody

[2021-10-29 02:14] jakeuj commented on #10462
So test is the same doc with src, okay.

That mean there is no InMemoryMsSql, I should use (LocalDb)\MSSQLLocalDB to run test, right?

Thank you very much.

[2021-10-29 02:18] maliming commented on #10462
See https://docs.microsoft.com/en-us/ef/core/providers/in-memory/

These are related to EF Core and have nothing to do with abp.

[2021-10-29 02:18] #10462 closed, assigned to nobody

[2021-10-29 06:43] Sean-Fang opened #10473 "Does Cascade Delete Work for Soft Delete?"
### GitHub Issues

* Your **ABP Framework version**:4.4.0
* Your database provider(EF Core/MongoDB): EF Core, MySQL
* Steps needed to **reproduce** the problem.
  * Entity **A**: implement FullAuditedAggregateRoot(ISoftDelete),
  * Entity **B**: implement FullAuditedAggregateRoot(ISoftDelete)
  * Relation: A.HasMany(x => x.Bs)
                     .WithOne(x => x.A)
                     .HasForeig

[2021-10-29 07:09] realLiangshiwei commented on #10473
No, You have to manually delete

[2021-10-29 07:09] #10473 closed, assigned to nobody

[2021-10-29 07:10] lht6 opened #10475 "Is there a way to merge api-definition for micro services?"
I use Ocelot as gateway for two micro services behind. I guess the idea way is to request API-definition to gateway, like https://{gateway-host}/api/abp/api-definition, and the gateway will get api-definition from micorserviceA and microserviceB and merge them before returning to client.
I wonder what would be the best way to achieve this? Should I write some codes in gateway to call micoservices

[2021-10-29 07:16] maliming commented on #10475
Duplicate of #9405

[2021-10-29 07:16] #10475 closed, assigned to nobody

[2021-10-29 07:34] rwecho opened #10476 "Will it be added IsUnique for AbpSettings index?"
In some situations, AbpSettings has multiple records with the same index constraint. Then the system crashed.
I can not reproduce the scene. But multiple same rows in AbpSettings.
For example:

39ffdd0c-d099-1f36-753e-f157848126ae	ScaleMode	1	U	39ffc797-d48a-2efc-adf1-c0fe75e9c384
39ffdd20-d7be-062c-f7dc-e8b4e87c4822	ScaleMode	1	U	39ffc797-d48a-2efc-adf1-c0fe75e9c384

Should this be added unique c

[2021-10-29 08:21] catwarrior opened #10477 "Dual licensed Consideration"
if change license is not a good choice for now
https://github.com/abpframework/abp/issues/1988

Propose to change the Licensing of **ABP Commercial** to Commercial License other than LGPL.

and ABP can keep LGPLv3.

That will give the flexiability to buy ABP Commercial.

[2021-10-29 08:29] maliming commented on #10477
Related to https://github.com/abpframework/abp/issues/2352#issuecomment-953428949

[2021-10-29 08:30] #10477 closed, assigned to nobody

[2021-10-29 08:50] maliming commented on #10476
Agree.

[2021-10-29 12:36] SecTex commented on #10453
Hi @ashoksurya,

you should define a default project in your workspace or specify the project name in schematics options.
You can do that by either defining the top-level property `defaultProject` in your `angular.json` or by adding the `--source` option to the `generate-proxy` command.

For example:

[code]

- https://angular.io/guide/workspace-config#overall-json-structure
- https://docs.abp.io/

[2021-10-29 13:53] macw73 opened #10478 "Bug migrating ABP.io to PostgreSQL with schema support table __EFMigrationsHistory"
* Your **ABP Framework version**.
4.4.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
Blazor (Webassembly)
* Your database provider(EF Core/MongoDB)
EF Core
* Exception message and **stack trace** if available (check the logs):
[code]
* Steps needed to **reproduce** the problem.
1. Create visual studio project
`abp new acme.testproject -u blazo

[2021-10-29 14:31] ebicoglu commented on #10404
I see that it's better now ;)

![image](https://user-images.githubusercontent.com/9526587/139453201-1bbfb6ff-24fc-4ba1-b005-3b5c0263de60.png)

[2021-10-29 22:20] fileman opened #10480 "Entity Extension property UI and API ignored"
* ABP Framework version 4.4.3 & 5.0.0 beta2
* Blazor Server UI

Following this https://docs.abp.io/en/abp/latest/Module-Entity-Extensions I have added a boolean property to IdentityUser.
Then I try to remove it from client UI & API with:
`user.AddOrUpdateProperty<bool>(
                        StaffMemberConsts.IsStaffMember, //property name
                        property =>

[2021-10-29 23:37] lht6 opened #10481 "How to use built-in functions of mvc controller inside auto api controller?"
Is there a way to use built-in functions of mvc controller inside auto api controler? And, also,
1) how to access http request data
2) what is the best practice to return specific status code?

https://docs.abp.io/en/abp/latest/API/Auto-API-Controller

e.g.
public class PersonAppService : ApplicationService
{
       GetAsync(....) {
            return BadRequest();
       }
}

Thanks!

[2021-10-30 01:16] realLiangshiwei commented on #10481
I think you should use API controller instead of application service.

[2021-10-30 01:16] #10481 closed, assigned to nobody

[2021-10-30 02:18] lht6 commented on #10481
In this case, how can I generate the client code for API controller? It seems that it can generate client code (C# or JS) only from Application service, not API controller, but I could be wrong. Thanks.

[2021-10-30 02:58] lht6 opened #10482 "How to generate the client code from API controller instead of Application servcie?"
It seems that Abp can generate client code (C# or JS) only from Application service, not API controller.
Is there a way to generate the client code for API controller? What could be the best practice in Abp Framework?
Thanks.

[2021-10-30 06:42] lht6 opened #10483 "Microservice sample doesn't merge api definition for Auto API controllers"
I tried to follow the microservice sample to merge api definition. But it seems that abp only merges definitions for controllers, not for Auto API controller. Is it possible to merge api definition for them as well?

[https://github.com/abpframework/abp/blob/ace4b5526eb00d0ed6429834693fc618dc6c54b2/samples/MicroserviceDemo/gateways/BackendAdminAppGateway.Host/BackendAdminAppGatewayHostModule.cs#L1

[2021-10-30 08:18] davidzwa opened #10484 "SignalR Hub is registered twice (due to own Module in the same project) - causing unambiguous routing"
-- **EDIT: see my question on multiple modules in the same project below** --

* Your 4.4.3
* UI irrelevant (tried with HTML, Postman and Angular) - CORS is not an issue
* DB ORM: EF Core
* **Problem description**
I'm not able to prevent `UpdateHub` to register twice (incorrectly) when autoregistering it with the ABP SignalR module
* Exception message:
[code]
* Steps needed to **reproduce** the pr

[2021-10-30 08:35] davidzwa commented on #10484
I have found that by removing dependency on **my own AuthenticationModule** (which is in the same project as my Http API module) the problem goes away.
Are we not allowed to have multiple modules in the same project?

In any case, feel free to close this issue.

[2021-10-30 11:39] realLiangshiwei commented on #10483
Please read: https://github.com/abpframework/abp/issues/9405#issue-927954738

[2021-10-30 11:39] #10483 closed, assigned to nobody

[2021-10-30 11:44] realLiangshiwei commented on #10482
Dynamic client proxies (c# and js) relies on an endpoint on the server that is provided by the ABP Framework: api/abp/api-definition.

You can check the source code to understand how it works: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiExploring/AbpApiDefinitionController.cs

[2021-10-30 11:44] #10482 closed, assigned to nobody

[2021-10-30 19:54] angelieri commented on #2296
I use a simple implementation.
A table to registry the feature and what user or customer is changed
**Features**
UserID - Number
Feature - Varchar

Then in my new feature process we do sometrhing like this:
[code]

Beta.Isbeta uses cache.
Feature list is a enumeration.

[2021-10-31 04:41] liubin3071 commented on #10339
The ApplicationConfigurationDto of the same user in different applications is different.
RemotePermissionChecker.IsGrantedAsync(string name) checks permissions based on the wrong ApplicationConfigurationDto cache.
I have described it very clearly, if you want to reproduce this bug, please follow the steps to test MicroserviceDemo.
If you think this is not a bug, please close it.
——Google Translate

[2021-10-31 06:27] lht6 opened #10485 "ActivatorChain error with AbpAutofacConstructorFinder"
I created a gateway, and found the ActivatorChain error below. It seems that the error is thrown in dependency resolving when activating UserPermissionValueProvider.

"error":{"code":null,"message":"An internal error occurred during your request!","details":null,"data":{"ActivatorChain":"Volo.Abp.Authorization.Permissions.UserPermissionValueProvider -> Volo.Abp.PermissionManagement.PermissionStore

[2021-10-31 07:28] #10339 closed, assigned to nobody

[2021-10-31 09:06] Alexbits commented on #8671
This helped me as well with the same issue in Blazor Server. But I do not fully understand what's causing this behavior.  I have the app running ok on the one domain and I get "Authorization was successful" followed by the "Authorization failed. These requirements were not met: DenyAnonymousAuthorizationRequirement: Requires an authenticated user." after successful user login when publishing it to

[2021-10-31 15:07] islamath commented on #10485
what Db providers are you using Mongo/Ef ? your module seems not depending on any module (db) that configures the IPermissionGrantRepository implementation !

[2021-10-31 21:59] tvddev commented on #86
Any further work planned on this?

[2021-11-01 01:13] maliming commented on #10478
This seems to be related to EF Core rather than ABP.

[2021-11-01 01:24] maliming commented on #10484
Can you share the code of this module? I don't know why it causes this problem.

[2021-11-01 01:27] maliming commented on #10480
hi

Can you share the project?

[2021-11-01 03:27] gaoconggit commented on #3758
[code]

try it out

[2021-11-01 10:15] radrad opened #10486 "ABP.IO CLI: Trying to use create an application from a custom template using templates\app folder from the repo"
I cloned https://github.com/abpframework/abp to D:\abp
I am following documentation: https://docs.abp.io/en/abp/latest/CLI-New-Command-Samples

I want to create MVC UI, Entity Framework Core, no mobile app, using the template in D:\abp\templates\app directory.
So I want to use:
-custom template
-local ABP framework references

I wanted to make a simple change inside this page:
D:\abp\templates\app

[2021-11-01 10:17] cdlian commented on #3758
The following example hides the API in Volo.Abp.Account.HttpApi
[code]
For more information, please visit [ASP.NET Core Docs](https://docs.microsoft.com/aspnet/core/mvc/advanced/app-parts?view=aspnetcore-5.0#prevent-loading-resources)

[2021-11-01 10:20] fileman commented on #10480
hi,
while I'm creating new project to share with same extension code of my solution, I've found that this issue is not present in new project, I have sended you email with projects.

Could the upgrade from 4.3 to 4.4 be the cause?

[2021-11-01 10:22] davidzwa commented on #10484
@maliming I've emptied the `AuthenticationModule` module completely (nothing in the DependsOn array and nothing in the PreConfigureService, ConfigureServices and OnApplicationInitialization methods).

The problem occurred with that situation. So I was able to reproduce it just now with this module:
[code]

My API module has the following dependson structure:
[code]

I think there is some duplicati

[2021-11-01 10:23] maliming commented on #10484
Can you share a simple project?

[2021-11-01 10:23] davidzwa commented on #10484
Will try!

[2021-11-01 10:52] davidzwa commented on #10484
@maliming Ive literally reduced my solution to just the http API with a SignalR hub

[Teamsite-private.zip](https://github.com/abpframework/abp/files/7452532/Teamsite-private.zip)
This ZIP contains the project (TeamsiteAPIModule, program.cs, UpdateHub and TestModule)

1) Run it
2) POST to the following (I'd use Postman as I removed CORS)
http://localhost:5000/signalr-hubs/update/?negotiateVersion=

[2021-11-01 11:01] bnymncoskuner commented on #8922
Bs5 branch is merged into the dev branch by #9877

[2021-11-01 11:01] #8922 closed, assigned to bnymncoskuner, maliming

[2021-11-01 11:06] alaawahbah opened #10487 "Abp io Identity Module Angular How to download Module on my project"
Hi folk I need to implement customization on identity module in angular as:

Abp io Identity Module Angular How to download Module on my project to implement my own process. eg. add my own grid or style or custom popup or checkbox?

Please I need all available solutions. like overwrite Css or others.

Thanks.

[2021-11-01 12:18] dym0080 opened #10489 "Postman invalid_client"
-  **ABP Framework version**:4.4.3
- **User Interface**: Razor Pages
-  database provider: EF Core(Oracle)

I want to run a mobile app,so first I must get a token. But when I try to get a token via postman,I got the error "invalid_client".
I check issues:#2233,#5308,#1976,#1723,but i can't fix it. Please help,thank you.

Exception message
[19:45:34 INF] Request starting HTTP/1.1 POST https://local

[2021-11-01 12:47] realLiangshiwei commented on #10415
https://github.com/abpframework/abp/issues/10415#issuecomment-953598925

[2021-11-01 12:47] #10415 closed, assigned to realLiangshiwei

[2021-11-01 12:50] realLiangshiwei commented on #10489
This is unrelated to ABP, you can try to find the answer in Google or StackOverflow

[2021-11-01 12:50] #10489 closed, assigned to nobody

[2021-11-01 12:52] alaawahbah opened #10491 "How can I get source in angular for identity (user and roles)"
Hi folks,
How can I get source code in angular project for identity (user and roles)

`abp get-source identity angular`

thanks

[2021-11-01 12:53] realLiangshiwei commented on #10487
https://docs.abp.io/en/abp/latest/UI/Angular/Customization-User-Interface

[2021-11-01 12:53] #10487 closed, assigned to nobody

[2021-11-01 12:57] hikalkan opened #10492 "Document update: Automatically set TenantId while creating a new entity object"
Based on https://github.com/abpframework/abp/pull/10490

[2021-11-01 13:01] realLiangshiwei commented on #10486
Yes, you needed. this is the design by CLI

[2021-11-01 13:04] hikalkan opened #10493 "Clear manually setting TenantId on entity constructors"
After https://github.com/abpframework/abp/pull/10490 merge, it will not be needed anymore.
We will refactor all the modules to remove such usages.

[2021-11-01 13:22] maliming commented on #10489
**[19:45:34 ERR] No client with id 'LIMS_Web' found. aborting**

[2021-11-01 13:22] realLiangshiwei commented on #10491
You can download it: https://github.com/abpframework/abp/tree/dev/npm/ng-packs/packages/identity

[2021-11-01 13:22] #10491 closed, assigned to nobody

[2021-11-01 18:38] radrad commented on #10486
@realLiangshiwei I would suggest you to add some explanation to this doc page:
[ABP CLI - New Solution Sample Commands](https://docs.abp.io/en/abp/latest/CLI-New-Command-Samples) that the command expects at least one .zip with versioning like: app-4.4.3.zip

`abp new Acme.BookStore -t app -u mvc --mobile none --database-provider ef --template-source "c:\MyProjects\templates\app"`

BTW. Does ABP.IO

[2021-11-02 00:50] realLiangshiwei commented on #10486
You can check the source code to understand how it work:https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/NewCommand.cs

＞Is there a way I can debug abp.io cli when creating a new application or module?

You can download the repo and debug the source code.

[2021-11-02 00:50] #10486 closed, assigned to nobody

[2021-11-02 01:23] maliming commented on #10480
I think you can compare the code of your project and the new project.

[2021-11-02 01:24] #10480 closed, assigned to maliming

[2021-11-02 02:15] dym0080 commented on #10489
hi @maliming @realLiangshiwei ,
This problem had bothered me for a few days. I think the identityServer seed data is not generated.Becase when i run LIMS.DbMigrator project, it works well, but the db tables have no data about identityServer tables. I don't know why the identityServer seed data is not generated

My solution(Tiered option: Not Tiered ,so this solution has no LIMS.HttpApi.Host)
![ima

[2021-11-02 02:51] maliming commented on #10489
Please create a new project to try.

[2021-11-02 07:00] #10492 closed, assigned to nobody

[2021-11-02 07:29] dym0080 commented on #10489
Hi @maliming ,
I try to create a new minimum project and test it,but the problem still exists. Could you please help me check it out? thank you first.

This minimum project adress: https://github.com/dym0080/LIMS33

[2021-11-02 07:31] maliming commented on #10489
You can debug and check this class.

https://github.com/dym0080/LIMS33/blob/master/src/LIMS33.Domain/IdentityServer/IdentityServerDataSeedContributor.cs#L56

[2021-11-02 07:40] #10484 closed, assigned to maliming

[2021-11-02 07:50] #10081 closed, assigned to EngincanV

[2021-11-02 07:54] alaawahbah commented on #10491
OK i know that, you mean i need to get files and put it in my code? then how to use it?

[2021-11-02 08:03] ghost opened #10498 "How to use Repository correctly in SignalR connection method(OnDisconnectedAsync)?"
## Environment
* APB Version: 4.4
* Runtime: .NET 5.0

## Code

[code]
## Exception

Connection id "0HMCTQK82MJ32", Request id "0HMCTQK82MJ32:00000002": An unhandled exception was thrown by the application.
System.OperationCanceledException: The operation was canceled.

[2021-11-02 08:22] maliming commented on #10498
Please try to create a new UOW.

https://docs.abp.io/en/abp/latest/Unit-Of-Work#begin-a-new-unit-of-work

[2021-11-02 08:24] #10498 closed, assigned to nobody

[2021-11-02 08:35] dym0080 commented on #10489
Hi @maliming ,
I debugged this class(IdentityServerDataSeedContributor) step by step,but there was no error.I really don't know where the problem is.Please help.

[2021-11-02 08:36] maliming commented on #10489
You can try it with sql server first.

[2021-11-02 08:44] muhammedaltug opened #10499 "Update Identity and Account proxies"

[2021-11-02 09:08] #10499 closed, assigned to muhammedaltug

[2021-11-02 14:44] fileman commented on #10480
Before open this issue I have created new solution with same name, paste in main solution and compared git difference, I cant find any difference.

The last check I could do is the opposite, which is to paste the current code into the new solution... I'll update when I'm done

[2021-11-02 15:40] scott7106 commented on #8740
Has there been any progress on this issue?

[2021-11-02 22:31] fileman commented on #10480
The reverse check helped, I have found the problem.
I have added the property even to Dto so settings was bypassed.
Thanks

[2021-11-03 01:49] #10476 closed, assigned to maliming

[2021-11-03 01:52] trickyrat opened #10504 "Same file with different names can cause DI error."
Abp version: 4.4.3

I have an IOrderService file in *.Contracts project, and I inject it to other app service.
When I change IOrderService to IOrderAppService (following ABP DOCS best practice) this issue occuered.
I only modified the file name.
[code]
![微信图片_20211103094743](https://user-images.githubusercontent.com/19605145/139999827-31ddb9ce-40b1-436a-b9f9-c967d49a6469.png)

[2021-11-03 02:28] realLiangshiwei commented on #10504
Change `OrderService ` to `OrderAppService `

[2021-11-03 02:38] trickyrat commented on #10504
@realLiangshiwei  OrderService implements IOrderAppService  itself works well, this issue cause in injecting into other AppService only. So AppService should be same name as IAppService, if I want inject it into other app servce?

[2021-11-03 06:06] dym0080 commented on #10489
Hi @maliming ,
It works fine with sqlserver or oracle when client_id is "XXX_App" not "XXX_Web". But the indentitySever seed data can be generated for sqlserver,can **NOT** be generated for oracle(the indentitySever tables have no data in oracle db).

So i have a question.Why the indentitySever seed data is not generated for oracle,it can also work fine.

Here are screenshots
The indentitySever se

[2021-11-03 06:34] LGinC commented on #9923
Maybe your controller is not  implement `IOfficeAppService`   or not attribute `RemoteService` in your controller
[code]

[2021-11-03 06:37] tompazourek opened #10506 "Usage of IOptionsSnapshot is slow (replace with IOptionsMonitor?)"
ABP Framework currently uses `IOptionsSnapshot` in several places. The most prominent is probably its use of `IOptionsSnapshot<AbpDbConnectionOptions>` inside `DefaultConnectionStringResolver`.

[code]

However, the `IOptionsSnapshot` is very slow (**see https://github.com/dotnet/runtime/issues/53793**).

When using ABP with a very large `IConfiguration` consisting of many large JSON files, the `I

[2021-11-03 07:10] #10247 closed, assigned to gterdem, enisn

[2021-11-03 12:00] gterdem opened #10510 "eShopOnAbp: Remove Multi-tenancy"
We decided to remove multi-tenancy and related code pieces with it since it will not be required or used for this sample.

[2021-11-03 12:02] gterdem opened #10511 "eShopOnAbp: Gateways swagger enhancement"
Configure gateways to use swagger UI only development

[2021-11-03 13:37] ebicoglu opened #10513 "Update Devart.Data.Oracle for .NET6"
Check out the latest stable working release for Devart.Data.Oracle and update the ABP module.
https://www.devart.com/dotconnect/oracle/
https://www.nuget.org/packages/Devart.Data.Oracle/

[2021-11-03 17:36] TronActive commented on #10510
I am very interested in this. I went down the road of removing multi-tenancy of ABP Commercial Microservice template and had to back out of it since I had a TON of issues with removing it because it is so baked into ABP.

[2021-11-03 19:11] #9902 closed, assigned to enisn

[2021-11-04 01:36] alireza-brz opened #10515 "Angular unit testing"
### Angular unit testing (Bug)

ABP version: 4.4.2
Interface: Angular

I have a problem with unit testing

I'm getting this error

`        TypeError: Cannot read properties of undefined (reading 'Default')
        error properties: Object({ longStack: 'TypeError: Cannot read properties of undefined (reading 'Default')
            at http://localhost:9876/_karma_webpack_/webpack:/node_modules/@abp

[2021-11-04 05:01] sukeshchand commented on #1517
Is there any official solution for the issue yet?

[2021-11-04 06:37] abu7midan commented on #1517
hello

try this after entity configuration

            builder.ConfigureByConvention();

[2021-11-04 07:03] muhammedaltug opened #10517 "Update Angular version to 13"
- [x] app template
- [x] module template
- [ ] sample apps

[2021-11-04 08:04] hikalkan opened #10518 "Use static proxy from MvcCachedApplicationConfigurationClient"
`MvcCachedApplicationConfigurationClient` (of the `Volo.Abp.AspNetCore.Mvc.Client` package) currently using dynamic c# proxy which requires an additional request to the server. We should use the new static proxy system.

[2021-11-04 15:45] vd3d opened #10523 "Error message: "Could not find IdentityClientConfiguration""
Hi,

I have the following "warning" message in my logs:

"[WRN] Could not find IdentityClientConfiguration for . Either define a configuration for or set a default configuration."

I have tried to understand what it is and why I have this. It seems that something is missing. BTW, my app works perfectly
but it is polluting my logs.

Does someone know what it is, what is missing and what I must do ?

[2021-11-04 21:11] gterdem opened #10524 "eShopOnAbp: Configure tls for kubernetes"
Developer needs to create it on their own machine. Either use powershell `New-SelfSignedCertificate` or an other way that everyone can use without downloading extra ssl creation tools.

[2021-11-04 23:05] maniani-dev commented on #5336
@hikalkan looks like features works the same way as settings. When would you choose to use one over the other? Why Abp has features if you can do the same things with settings

[2021-11-05 01:08] maliming commented on #10523
Can you share full logs?

[2021-11-05 06:46] leonkosak opened #10526 "Q: RAM usage"
Is this normal, that .HttpApi deployment (with Swagger "visualization") without usage (requests to REST API) uses at least 250/300MB of RAM?
These deployments are inside Kubernetes and all images (containers) are build (Dockerfile) on Alpine Linux - so minimal storage and memory footprint.
My friend also said that deploy of REST API (based on abp.io) uses 250MB+ of RAM on Microsoft IIS 10 without

[2021-11-05 06:52] maliming commented on #10526
You can use a memory analysis tool to check, I think it is normal.

[2021-11-05 06:57] totpero opened #10527 "EntityHistory - AbpDbContext don't save changes"
* Your **ABP Framework version**.
* 4.4.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Blazor Server
* Your database provider(EF Core/MongoDB)
* EF Core

Hi,
I fallow the documentation steps (https://docs.abp.io/en/abp/4.4/Audit-Logging) to activate EntityHistory for all my entities `options.EntityHistorySelectors.AddAllEntities();`  but whe

[2021-11-05 07:07] maliming commented on #10527
Are you using blazor wasm or blazor server?

[2021-11-05 07:10] highshields opened #10528 "TransactionBehavior Auto not creating db transaction for ApplicationService methods using Blazor Server"
Abp Framework 4.4.2
Blazor Server
EF Core

If an ApplicationService method is called from Blazor Server UI (for example a button click event, in process call, not http api) a db transaction IS NOT CREATED even if AbpUnitOfWorkDefaultOptions.TransactionBehavior is set to Auto and method name doesn't start with "Get".

This seems to be caused by AspNetCoreUnitOfWorkTransactionBehaviourProvider.IsTra

[2021-11-05 07:33] maliming commented on #10528
I will check this.

[2021-11-05 07:48] totpero commented on #10527
blazor server

[2021-11-05 08:24] EddieChinZJ opened #10529 "API response 500 internal server error when passing Bearer token"
* Your **ABP Framework version**
* 4.4.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Razor/MVC
* Your database provider(EF Core/MongoDB)
* EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Hi,

I deployed my application on AWS beanstalk but I'm facing a problem with

[2021-11-05 08:26] mehmet-erim opened #10530 "Angular UI: Upgrading to Angular v13"

[2021-11-05 08:52] Henkpuik commented on #6384
Is there a solution for with generate-proxy or do we need de work arround?

[2021-11-05 09:05] #10506 closed, assigned to maliming

[2021-11-05 09:08] Junlol opened #10532 "DataTable always show filter result"
* Your **ABP Framework version**.
  * 4.4.2
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
  * MVC
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

if DataTable  set options.searching = true and abp.libs.datatables.createAjax second para

[2021-11-05 09:16] #10518 closed, assigned to maliming

[2021-11-05 09:47] vd3d commented on #10523
Here it is, there is nothing else in the log, except thousands of these lines:

2021-11-04 19:19:37.025 +00:00 [WRN] Could not find IdentityClientConfiguration for . Either define a configuration for  or set a default configuration.
2021-11-04 19:19:37.025 +00:00 [WRN] Could not find IdentityClientConfiguration for . Either define a configuration for  or set a default configuration.
2021-11-04 19:

[2021-11-05 14:22] gterdem opened #10538 "eShopOnAbp: Remove Internal Gateway"
Since we are using static proxy, we no longer need internal gateway.

[2021-11-05 14:24] gterdem opened #10539 "eShopOnAbp: Add multi-stage dockerfile support"
Add a new build script and rename current script to `build-local`

[2021-11-05 14:27] gterdem commented on #10529
Share the internal server error logs please. IdentityServer logs as well if you have tiered application. It should be under `Logs` folder in your application or the console logs of your web-server.

[2021-11-05 14:30] gterdem commented on #10523
Do you use a tiered application? In which situation, actions you get this warnings? Also what is your application version?

Seems like none-used remote service call configuration in appsettings.

[2021-11-05 15:13] fahelmoreira opened #10540 "Form-data does not support IEnumerable"
* ABP version 4.4.
* User interface MVC
* Database provider EF Core/

It looks like that the Dynamic c# api proxy does not work with enumerable for some reason looking at the actual implementation the only enumerable check is for IRemoteStreamContent, everything else is considered a string which cause issue if (like in my case try to send a List of guid or list of IFormFile) because it calls toStr

[2021-11-05 15:31] vd3d commented on #10523
Yes, it is 3-tiered.

I do not know exactly when I got this warning, I just got thousands of them even when there is only 1 or 2 users on the web site :-(

I use abp 4.2.1.

If you have any idea to debug this, it is also welcome :-)

[2021-11-06 03:54] yangfan-zz commented on #57
Simple implementation of abp cqrs, using MediatR [Fan.Abp.Cqrs](https://github.com/yangfan-zz/Fan.Abp)

[2021-11-06 08:23] EddieChinZJ commented on #10529
Hi @gterdem , Thank for your reply. This is a screenshot of the log.
![image](https://user-images.githubusercontent.com/29214909/140603208-08894d3f-c57c-4887-aae3-c0aeba822046.png)

[2021-11-06 10:45] gterdem commented on #10529
The problem seems related with reaching identityserver at `localhost:44386`. It is high probably related with your identityserver not running under **https** or invalid https certificate.

To see exact error you can disable PII as shown [here](https://stackoverflow.com/a/55869925).

[2021-11-06 12:23] AhmadSawalhah opened #10543 "Authorization is working over https but not over http"
My auth. policy is working fine if I use Https, but if I use http, the user is logged in but he can't view the page content, it redirects him to the page
http://mydomain/Account/Login?ReturnUrl=%2Fadmin%2F
if I use https, it opens the page successfully

my log file says:
Authorization failed. These requirements were not met:
PermissionRequirement: JobPortal.Admins

where JobPortal.Amins is defined

[2021-11-06 20:25] muratyuceer commented on #10510
I wish you hadn't removed it. It would be a good example.

[2021-11-07 00:47] maliming commented on #10543
hi

Maybe this will help
https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

[2021-11-07 00:54] begandroide opened #10544 "[Angular] Application layout Empty show Navbar a few milliseconds"
Hi! I has an issue with the Navbar:

when I want to use layout of type `ApplicationLayout.Empty`, happens that the Navbar is showed shortly.

* **ABP Framework version**: `4.4.2`
* Angular UI `12.0.0`
* EF Core

## Steps to reproduce the problem

1. Create an empty layout in router provider

How can I prevent this? I don't want to show the Navbar in this page and current behavior is not pretty, th

[2021-11-07 04:08] #9968 closed, assigned to nobody

[2021-11-07 04:58] 1d0n7kn0w opened #10545 "Add multitenancy to the "Tenant" entity"
I want to implement IMultiTenant to the "Tenant" entity. Is that possible?
I don't want to add the property "TenantId" by extending the entity, because I will lose all the mechanisms that abp.io does in the background to manage IMultiTenant entities

[2021-11-07 05:37] maliming commented on #10545
This is not as designed, but you can download the source code of the module to customize it.

[2021-11-07 05:37] #10545 closed, assigned to nobody

[2021-11-07 06:17] panna-ahmed commented on #8656
@cotur Added a pull request for this on abp-samples

[2021-11-08 00:11] #9866 closed, assigned to ebicoglu

[2021-11-08 01:40] 1d0n7kn0w commented on #10545
@maliming making the "Tenant" class partial can be a solution, what do you think?

[2021-11-08 01:50] maliming commented on #10545
I am not sure, you can give it a try.

[2021-11-08 02:57] #10543 closed, assigned to nobody

[2021-11-08 04:55] diennttlu opened #10549 "Don't replace the System.Text.Json with Newtonsoft.Json"
When I am trying to deserealize data from body json can't convert DateTime
![image](https://user-images.githubusercontent.com/36124566/140686083-07d75ea1-e743-46ec-ae40-13f297ecdad8.png)

![image](https://user-images.githubusercontent.com/36124566/140685544-336adeda-26fe-4118-b9e7-8383a31cda13.png)

I've added  services.AddControllers().AddNewtonsoftJson(); to Startup.cs
and it doesn't change anyt

[2021-11-08 05:04] maliming commented on #10549
See https://docs.abp.io/en/abp/latest/JSON

[2021-11-08 05:04] #10549 closed, assigned to nobody

[2021-11-08 06:59] NecatiMeral opened #10551 "Docs - Bootstrap 5 regressions"
Hi there,

I've upgraded the docs module to the latest 5.0.0-beta.3 release. The MVC UI struggles with some new bootstrap defaults:

![image](https://user-images.githubusercontent.com/7882753/140697540-10aca419-670b-4da1-a408-f0046108a1f4.png)

As you can see, all links are [underlined by default](https://getbootstrap.com/docs/5.0/migration/#content-reboot-etc) and the input groups aren't pretty a

[2021-11-08 07:36] maliming opened #10552 "Use file scoped namespaces."

[2021-11-08 07:36] #10532 closed, assigned to realLiangshiwei

[2021-11-08 07:46] #10419 closed, assigned to realLiangshiwei

[2021-11-08 09:15] #10540 closed, assigned to maliming

[2021-11-08 09:52] #10538 closed, assigned to gterdem

[2021-11-08 10:00] gterdem opened #10555 "eShopOnAbp: Consider using postgres instead of sql-server"
I think postgres can be better for this sample instead of sql-server. Mainly, postgres is opensource and 374mb while sql-server is 1.55gb on docker image sizes.

@hikalkan, @enisn what do you think?

[2021-11-08 11:53] diennttlu commented on #10549
I am creating an Api for Telegram bot to call
WebhookController:
![image](https://user-images.githubusercontent.com/36124566/140734733-ba6b1b44-ea3a-4b2f-bf81-9e20229a822d.png)

Data form body:
{
    "date": 1636083705,
}

The "date" property has a unixtimestamp data type. When sending request it cannot convert to DateTime data type. I've added services.AddControllers().AddNewtonsoftJson(); to rep

[2021-11-08 19:57] dicksonkimeu commented on #9818
Status?

[2021-11-09 00:55] #9989 closed, assigned to nobody

[2021-11-09 01:53] maliming opened #10565 "CLI `abp login` command supports 2FA."
https://support.abp.io/QA/Questions/2094/abp-cli-login-issue

[2021-11-09 02:23] diennttlu opened #10566 "JSON value could not be converted to System.DateTime"
I am creating an Api for Telegram Bot
WebhookController:
![image](https://user-images.githubusercontent.com/36124566/140734733-ba6b1b44-ea3a-4b2f-bf81-9e20229a822d.png)

Data form body:
{
  "update_id": 804285756,
  "message": {
    "message_id": 269,
    "from": {
      "id": 1058105065,
      "is_bot": false,
      "first_name": "First_Name",
      "username": "username",
      "language_code":

[2021-11-09 04:17] #10566 closed, assigned to nobody

[2021-11-09 06:16] #8740 closed, assigned to hikalkan, maliming

[2021-11-09 06:20] hikalkan opened #10568 "Improvements on uow middleware & fail cases"
Related to https://github.com/abpframework/abp/issues/8740

UnitOfWork middleware can not return a fail response when there is an error on saving changes or completing the transaction. For the "saving changes" part, I've done with https://github.com/abpframework/abp/commit/045c5e617d1086af34045154637cf9585ae232c6. However, in rare cases, we can still have issues while completing the transaction.

[2021-11-09 06:21] hikalkan commented on #8740
@scott7106 see https://github.com/abpframework/abp/issues/10568#issue-1048233070

[2021-11-09 07:06] #10539 closed, assigned to gterdem

[2021-11-09 08:29] mehmet-erim commented on #10544
Hello @begandroide

The problem has been fixed. v4.4.4 will be released soon.
Thanks for the reporting.

[2021-11-09 08:29] #10544 closed, assigned to mehmet-erim

[2021-11-09 08:30] #10089 closed, assigned to mehmet-erim

[2021-11-09 08:39] umar-daraz-techverx opened #10576 "publish the message on specific queue using DistributedEventBus"
If I want to attach _distributedEventBus.PublishAsync to a specific queue, how do I do that?
I have 3 queues running at once: one is for email, one is for in-app notifications, and the third is for document processing.
Does IDistributedEventBus support publishing a message to a specific queue or channel if I have only one console app running in the background?
right now according to the documentat

[2021-11-09 09:16] #9847 closed, assigned to mehmet-erim

[2021-11-09 11:57] begandroide commented on #10544
wonderfull, thanks you @mehmet-erim !

[2021-11-09 13:14] mehmet-erim commented on #8654
The problem with autofocus directive has been fixed.  The fix will be available in v5.0-rc.1.
@begandroide, As a workaround, can you try to use the autofocus as shown below:

[code]

That may be fixed the error.

[2021-11-09 13:51] begandroide commented on #8654
Thanks you @mehmet-erim i will try it.

[2021-11-09 17:45] muratyuceer opened #10583 "Hangfire Set Retrycount"
Is current abstraction support to set job retrycount? How can I set it?

[AutomaticRetry(Attempts = 3)] is not work but

 GlobalJobFilters.Filters.Add(new AutomaticRetryAttribute { Attempts = 3 }); working

I need to set work-based

[2021-11-09 18:46] vd3d commented on #10523
Any idea ? Do you know when such code is supposed to call this ? (Or how I can find it)

Thanks

[2021-11-09 23:55] lht6 opened #10585 "How to set bearer token when calling proxy api?"
I create a microservice A, and B. In microservice A, it refers to HttpApi.Client project of microservice B, which need authentication. I wonder if there is a way to set bearer token in microservice A, when it calls the HttpApi.Client methods of microservice B?
Thank you!

[2021-11-10 00:48] jackcmac opened #10586 "Update ngx-validate"
UI Type: Angular

Hello! Are there plans to update `@ngx-validate/core` to `0.1.1` in ABP 5.0? A while back I posted this issue over there: https://github.com/ng-turkey/ngx-validate/issues/63 which was resolved but it seems that the package has not been updated yet in ABP.

Thanks!

[2021-11-10 00:53] realLiangshiwei commented on #10585
See https://github.com/abpframework/abp/blob/dev/templates/module/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp/ClientDemoService.cs

[2021-11-10 01:45] yupingyong opened #10587 "Abp 5.0 beta 3 has an initialization problem when updating to .Net 6.0"
* ABP Vnext 5.0 beta 3
* MVC
* EF Core
* Exception message and **stack trace** if available (check the logs).
`Unhandled exception. Volo.Abp.AbpInitializationException: An error occurred during ConfigureServices phase of the module Volo.Abp.Data.AbpDataModule, Volo.Abp.Data, Version=5.0.0.0, Culture=neutral, PublicKeyToken=null. See the inner exception for details.
 ---> System.InvalidOperationExc

[2021-11-10 01:54] maliming commented on #10587
Steps needed to reproduce the problem.

[2021-11-10 02:05] yupingyong commented on #10587
@maliming Hello,Here are the steps to start my project.
1. Open the project
![图片](https://user-images.githubusercontent.com/29831143/141036107-46f825e1-a620-4e7f-8a19-b9e7f5837149.png)
2. F5 start project
![图片](https://user-images.githubusercontent.com/29831143/141036208-eea44892-cf9a-41db-b1d9-71ba429ce21b.png)

[2021-11-10 02:21] maliming commented on #10523
hi

How to reproduce this?

[2021-11-10 02:55] lht6 commented on #10585
@realLiangshiwei , thanks for reply.
It is feasible to set bearer token in HttpClient, and maker a call directly. My question would be how to set bearer token when calling api service. For example, in the above link, inside TestWithDynamicProxiesAsync(), how to set bearer token when calling _sampleAppService.GetAsync(), if it needs authentication.

[2021-11-10 02:56] realLiangshiwei commented on #10003
See https://github.com/abpframework/abp/issues/10032

[2021-11-10 02:56] #10003 closed, assigned to nobody

[2021-11-10 02:59] realLiangshiwei commented on #10585
Authorization and HTTP request details are handled by the ABP framework

[2021-11-10 02:59] #10585 closed, assigned to nobody

[2021-11-10 03:14] realLiangshiwei commented on #10583
No, current abstraction does not support to set job retrycount.

You can use hangfire API directly

[2021-11-10 03:14] #10583 closed, assigned to nobody

[2021-11-10 03:24] 274188A opened #10589 "Blazor WASM preview template project does not compile"
Version="5.0.0-beta.3

Steps:

1) down-load blazor wasm template (https://abp.io/get-started)
2) build

Errors:
![image](https://user-images.githubusercontent.com/40014477/141044043-1c3e50c7-dac7-48f4-8b7d-e30b652c87a3.png)

[2021-11-10 03:37] maliming commented on #10589
hi

There should be `NuGet.Config` in your project.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/NuGet.Config

[2021-11-10 03:42] 274188A commented on #10589
ah - i recently stated to use VS2022 and that nuget source was unchecked - my bad for not catching that

[2021-11-10 03:42] #10589 closed, assigned to nobody

[2021-11-10 04:03] maliming commented on #10587
Try `builder.Services.ReplaceConfiguration(builder.Configuration);`

[2021-11-10 04:48] xsoutline opened #10590 "This line In ApiDescriptionFinder deserialize result both Modules and Types is null"
https://github.com/abpframework/abp/blob/6051fd4e3886ea05f7f6a04e17d6c0d3fe8471e8/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/ApiDescriptionFinder.cs?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L116

This line In ApiDescriptionFinder deserialize result both Modules and

[2021-11-10 05:25] maliming commented on #10590
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-11-10 05:39] yupingyong commented on #10587
@maliming Thank you for your help, my problem has been solved.

[2021-11-10 05:39] #10587 closed, assigned to nobody

[2021-11-10 05:40] yupingyong commented on #10587
The problem has been resolved.

[2021-11-10 07:54] diennttlu opened #10591 "Adding configuration for JSON serializer providers doesn't work"
I have created a custom json serializer providers that implements the IJsonSerializerProvider interface. Then I added the configuration AbpJsonOptions type providers options. When running the program custom json serializer providers does not work.
Please help me to configure the right custom.

I looked at the abp framework JSON documentation. And follow these steps:
- Implement IJsonSerializerProv

[2021-11-10 07:57] maliming commented on #10565
https://alexbilbie.com/2016/04/oauth-2-device-flow-grant/

[2021-11-10 08:03] zhaozhen-king commented on #10590
Hello! Please take a look at this problem！！！ I use ABP--version  4.4.4 My dotnet version: .NET5.0.   angularjs and Abp applation. This is what happens when YOU update the Modules package today。 The permissions and basic Settings screen are gone after login。My swagger and IdentityServer can work properly.Thank you
![image](https://user-images.githubusercontent.com/57710517/141073624-8925a50a-cd82-4

[2021-11-10 08:05] zhaozhen-king commented on #10590
@maliming

[2021-11-10 08:23] xsoutline opened #10592 "IAbpMethodInvocation unable to cast object of type"
https://github.com/abpframework/abp/blob/6051fd4e3886ea05f7f6a04e17d6c0d3fe8471e8/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%5Bdata-pjax-container%5D#L66

[code]
`var returnType = invocation.Method.ReturnType.GenericTyp

[2021-11-10 08:27] visuellsoft opened #10593 "Extend IdentityUser"
Hello,

I have a problem when I want to extend the user IdentityUser.

In extend in ...domain.shared the file ...ModuleExtensionConfigurator.cs

[code]

...EfCoreEntityExtensionMappings.cs
[code]

Everything works fine, Database entries are there, I can see the entries when I would like to change the fields in Identity/User/EditUserModal. Ich can change/store the STRING-field (Shortname) or I can