[2021-05-26 07:49] antosubash commented on #8023
this article is published https://community.abp.io/articles/replacing-identityserver4-with-identity-in-abp-arh0jxe1

[2021-05-26 07:49] #8023 closed, assigned to nobody

[2021-05-26 07:57] wallee85 commented on #8023
thank you for your effort,hope there will be a offical solution with this issue.

[2021-05-26 15:57] pecanw opened #9165 "Synchronous interceptor fails if an invocation is not proceeded"
If an Abp interceptor intercepts a synchronous call and does not call `invocation.ProceedAsync()` (e.g. if used for caching and returning a value from a cache) the call fails with a `System.InvalidOperationException: Interceptors failed to set a return value, or swallowed the exception thrown by the target`.

[2021-05-26 16:06] pecanw commented on #9165
Please find my proposed solution in #9164.

[2021-05-26 16:25] pecanw commented on #9165
Maybe, we can also omit the assignment `ReturnValue = await Proceed(Invocation, ProceedInfo);` in  `CastleAbpMethodInvocationAdapterWithReturnValue` and just call `await Proceed(Invocation, ProceedInfo);`.

Or even have just one `CastleAbpMethodInvocationAdapter` istead of the `CastleAbpMethodInvocationAdapterBase`, `CastleAbpMethodInvocationAdapter` and `CastleAbpMethodInvocationAdapterWithReturn

[2021-05-26 18:39] alexandis commented on #8924
Perfect. So easy... Thank you!

[2021-05-26 21:48] AelithBlanchett opened #9166 "SetModificationAuditProperties fires even when only generated properties were changed."
- **ABP Framework version**: 4.3
- **Database Provider**: EF Core + MySQL

On entities inheriting from AuditedEntity<T> with a property annotated as `[DatabaseGenerated(DatabaseGeneratedOption.Computed)]`, SetModificationAuditProperties in AbpDbContext fires even when only generated properties were changed.

To reproduce:

- Run one of the sample projects: https://github.com/abpframework/abp-sampl

[2021-05-26 22:01] alexandis opened #9167 "Tenant is not changed in switch of login box after logout (when he has been switched to inside Angular app)"
4.3.0 / Angular.

We use custom functionality to switch between tenants inside Angular app. And it works perfect. However, after upgrading from version 3.3.2 we came up with the issue: the tenant which has been switched to IS NOT DISPLAYED as a current tenant in Login: instead, old tenant is displayed. I took a look at your source code and cannot figure out why:

[code]

![image](https://user-imag

[2021-05-26 23:07] alexandis commented on #9167
UPDATE: I've already found out that '__tenant' cookie keeps old tenant's value. Seems like this is the reason of the problem. But why it is not replaced with new tenant's id when switching a tenant in my case?? I follow the tenant switch box logic...

[2021-05-27 01:34] JadynWong commented on #159
[https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-6-0-preview-4-performance-edition/#pooling-and-recycling-dbcontext-and-beyond](https://devblogs.microsoft.com/dotnet/announcing-entity-framework-core-6-0-preview-4-performance-edition/#pooling-and-recycling-dbcontext-and-beyond)

The article show
`DbContextPool` has very important performance optimization.

[2021-05-27 02:11] happygb21-jc commented on #9074
After upgrading, it works normally。Thanks

[2021-05-27 02:11] #9074 closed, assigned to nobody

[2021-05-27 03:05] realLiangshiwei opened #9168 "Add blazor-server host to module template"

[2021-05-27 06:02] 274188A commented on #9083
i think what he is saying is that the source code has a dependency on `JetBrains.Annoations` which is kind of 3rd party - not native

[2021-05-27 06:23] tudoujun43 commented on #9135
[react template](https://github.com/potatoabp/abp-vnext-react)

[2021-05-27 11:23] BarisGurbuz commented on #8165
Yes, would be great

[2021-05-27 14:00] trickyrat opened #9175 "Redis not works"
I followed [official doc](https://docs.abp.io/en/abp/latest/Redis-Cache)
I configured redis, in `appsettings.json` like
`
"Redis": {
        "IsEnabled": "true",
        "Configuration": "server ip,password=*******"
    }
`
and add nuget package Volo.Abp.Caching.StackExchangeRedis into my module.
I use IDistributedCache interface to set/get value from redis, but I get null.(I can ensure that the k

[2021-05-27 14:30] trickyrat commented on #9175
abp user role data store in redis
![image](https://user-images.githubusercontent.com/19605145/119843398-19fdbd80-bf3a-11eb-8563-cbbf2f00704c.png)
so I connect redis successfully
I use IDistributedCache.GetAsync method to get value. The value is a json string, I tried GetAsync<string> and GetAsync<RedisUser>(),(RedisUser is the json object class), the both ways return null.
![image](https://user-im

[2021-05-27 16:28] alexandis commented on #8924
I am trying to use `cdkDragHandle` to use header for dragging and prevent text selection dragging in the modal body. But it does not work - i still can drag whole modal dialog by using mouse anywhere. Any idea why?
What is interesting - test example here is working: https://material.angular.io/cdk/drag-drop/overview

[code]

[2021-05-27 16:45] alexandis commented on #8924
UPDATE: I've moved `<div cdkDrag cdkDragRootElement=".modal-content">` and element with `cdkDragHandle` into `abpHeader` area. Seems like this did the trick, but I am not closing the issue so far... :) Let's see if no more suprises to come :)

[2021-05-27 18:36] alexandis commented on #8924
Well, I've found another issues with that. We have custom **Department** page, which is built on top of **ABP** _OrgUnits_. Also it calls services to raise some **ABP** _popups_ - like **Roles**, **Members**. And I cannot make them draggable, since I do not have access to the markup.. What do I do here?

![image](https://user-images.githubusercontent.com/6149843/119879196-a35dc180-bf33-11eb-9777-8

[2021-05-27 21:17] AelithBlanchett commented on #9166
This bug is also directly related to https://github.com/abpframework/abp/issues/8740 since this error pops up in a GET method.

[2021-05-27 21:36] AelithBlanchett commented on #8740
Removing the .UseUnitOfWork(); call doesn't fix the problem completely as it still creates UoW in the background given that there are still interceptors creating other instances.
- When UnitOfWork Attribute is explicitly specified with IsDisabled (I also get a disposed error when I call a repository method in a service): https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa

[2021-05-28 06:39] #8130 closed, assigned to nobody

[2021-05-28 06:39] #8148 closed, assigned to nobody

[2021-05-28 06:39] #8121 closed, assigned to nobody

[2021-05-28 07:13] snowchenlei opened #9178 "Need Organization Unit Management UI"
Identity Module contains Organization Unit Management, but does not contain a UI.
please add.Thanks!
https://docs.abp.io/en/abp/latest/Modules/Identity#organization-unit-management

[2021-05-28 07:19] maliming commented on #9178
Organization Unit Management UI only for Pro.

https://commercial.abp.io/modules/Volo.Identity.Pro

[2021-05-28 07:19] #9178 closed, assigned to nobody

[2021-05-28 07:52] ghost commented on #9143
After reading the source code, I found the modules using hard-coded string. What is the reason for this design?

[2021-05-28 08:07] #9168 closed, assigned to realLiangshiwei

[2021-05-28 08:40] #9058 closed, assigned to gterdem

[2021-05-28 08:43] #2187 closed

[2021-05-28 08:49] #9175 closed, assigned to nobody

[2021-05-28 10:13] jevnia opened #9179 "BUG，Newtonsoft JsonConverter not working"
ABP Framework version: **4.3.1**
User Interface: **angular**
database provider:**EF**

[always-use-the-newtonsoft-json](https://docs.abp.io/zh-Hans/abp/latest/Migration-Guides/Abp-4_0#always-use-the-newtonsoft-json),JsonConvert not working

**1. CLI**
` abp new Acme.BookStoreV431 -t app -u angular`

**2. Module**
[code]
**3. JsonConverter**
[code]

**4. Model**
[code]

**5. Controller**
[code]

**

[2021-05-28 14:18] ebicoglu opened #9182 "Project name cannot contain Blazor keyword"
`Blazor` is a placeholder used in the Blazor project template and throws compile error if used in a project name.
Prevent using Blazor in the project names.
You cannot create projects contains `Blazor` keyword.

[2021-05-28 14:18] #9182 closed, assigned to ebicoglu

[2021-05-28 14:23] #6862 closed, assigned to hikalkan

[2021-05-28 14:49] maliming commented on #9166
HI @AelithBlanchett

I think this also works.

[code]

[2021-05-29 00:57] #9150 closed, assigned to armanozak

[2021-05-29 12:08] mrs01dev commented on #9068
There  are three projects on GitHub:
https://github.com/AbpApp/volo.abp.elsa
https://github.com/realLiangshiwei/Lsw.Abp.WorkFlow.Management
https://github.com/zrkcode/Elsa-Workflow-Issue

[2021-05-29 16:35] trickyrat opened #9187 "[Question]How to set/get custom key in IDsitributedCache's GetAsync/SetAsync method?"
I read source code.There is a DistributedCacheKeyNormalizer class and it has a NormalizeKey method.All cache keys formatted like `var normalizedKey = $"c:{args.CacheName},k:{DistributedCacheOptions.KeyPrefix}{args.Key}";`. But if I want to set custom format key or get custom format key, what I should do?

[2021-05-29 18:25] QaisAlkhateeb opened #9188 "Cms Kit BlogPosts Client Side Permission Check wrong Permission"
If you're creating a bug/problem report, please include followings:

* version 4.32
* User Interface: MVC
* EF Core
* Steps:
 Assigne Full BlogPost for a user, the UI will not show Edit and Delete Permission because the javascript check the permissions for Blogs

![image](https://user-images.githubusercontent.com/25031218/120081090-5bba6f80-c0c4-11eb-9702-b132fcdbe469.png)

You can note even when

[2021-05-30 06:15] crashsol opened #9189 "Oracle inserts or update data exception will not be processed by global exception function?"
when  use oracle provider , insert  or update records , if it throw  DbUpdateException，eq:

`Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updating the entries. See the inner exception for details.
 ---> Oracle.ManagedDataAccess.Client.OracleException (0x80004005): ORA-12899: 列 "SYSTEM"."COMMENT_CON_TASK_TYPE"."ISUPLOAD" 的值太大 (实际值: 6, 最大值: 1)
`

this  excepiton will not

[2021-05-30 06:19] maliming commented on #9189
Duplicate of #8740

[2021-05-30 06:19] #9189 closed, assigned to nobody

[2021-05-30 06:54] realLiangshiwei commented on #9187
See https://docs.abp.io/en/abp/latest/Caching#idistributedcachekeynormalizer

[2021-05-30 06:54] #9187 closed, assigned to nobody

[2021-05-30 12:46] #8149 closed, assigned to nobody

[2021-05-30 15:19] leonkosak opened #9190 "abp MVC - how to get token"
abp v4.3 (for instance)
tiered solution
MVC gui

For some reason, I have to make a call with HttpClient (C#) from javascript (or cshtml, cshtml.cs) to Authorized method on API.
How to properly set http header in HttpClient with token?

abp.auth.getToken() returns null.

There are a lot of entries in cookies:
![image](https://user-images.githubusercontent.com/39346964/120109753-1e5ced00-c16b-11eb-8

[2021-05-31 01:23] maliming commented on #9190
hi @leonkosak

You can't get the token in `javascript `, only available in the backend.

[2021-05-31 02:33] ArchitectAllenGitHub opened #9193 "Web Application Development Tutorial - Part 5: Authorization,The Name column in Books does not display the problem"
1.When there is Actions permission, the Name column is displayed normally
![权限1](https://user-images.githubusercontent.com/66348603/120131051-2617a280-c1fa-11eb-8224-14bd935c7e61.png)
![16224279654958](https://user-images.githubusercontent.com/66348603/120131266-a6d69e80-c1fa-11eb-93a9-bcf9d14b11b6.png)
2.When there is no Actions permission, there is no data in the Name column ,[Foundation],[The H

[2021-05-31 02:43] maliming commented on #9193
I can't reproduce the problem.

[2021-05-31 02:56] ArchitectAllenGitHub commented on #9193
I put this code in my github repository, can you get it?

[2021-05-31 03:00] ArchitectAllenGitHub commented on #9193
https://github.com/ArchitectAllen1/Acme.BookStore.git

[2021-05-31 04:16] #8103 closed, assigned to nobody

[2021-05-31 07:11] #8984 closed, assigned to realLiangshiwei

[2021-05-31 07:54] nguyenquanghuyit commented on #9141
Dear all. While everybody not help me, I've found this: Scaffold-DbContext

[2021-05-31 07:54] #9141 closed, assigned to nobody

[2021-05-31 09:12] antosubash commented on #8723
Hi I created a youtube tutorial for this with login and logout working with `openid_client` package in flutter.

Here is the blogpost : https://blog.antosubash.com/posts/abp-auth-with-flutter-p5

Youtube video : https://www.youtube.com/watch?v=lQEVvKzX6P8

This works with Android and Windows.

Solution from @Znow also works well. this is a alternative for `flutter_appauth` package. The only proble

[2021-05-31 09:23] amLabib commented on #9075
any updates ??

[2021-05-31 12:30] #9188 closed, assigned to maliming

[2021-05-31 21:36] fileman opened #9200 "Child Features ignore Parent Features enabled status"
### Documentation
https://docs.abp.io/en/abp/latest/Features#child-features

Versione 4.3.2
Blazor-Server UI
EF Core SQL Server

In doc's page in the link above, you say that child feature can be enabled in feature is enabled, but I can enable child without enable parent, I have misunderstood or there is a bug?

[code]
![image](https://user-images.githubusercontent.com/17230763/120243851-f0f66900-

[2021-06-01 02:39] jiangzhengqun opened #9201 "IdentityServer4 need a paid license in ASP.NET Core 6"
* ABP Framework version：4.2.2.
* Database Provider: EF Core + MySQL
* IdentityServer4 need a paid license in ASP.NET Core 6，
https://devblogs.microsoft.com/aspnet/asp-net-core-6-and-authentication-servers/，
I suggest use openiddict
https://github.com/openiddict/openiddict-core

[2021-06-01 02:48] maliming commented on #9201
Duplicate of #7221

[2021-06-01 02:48] #9201 closed, assigned to nobody

[2021-06-01 05:12] holyrong opened #9202 "Unable to obtain configuration from: 'System.String'"
ABP Framework version: 4.3
User Interface  type: Vue  Tiered
database provider: EF Core

**Description:**
**It's run ok when debug in visual studio，
but publish in IIS，I've got two errors:**

**1.vue call '/api/abp/application-configuration'，got the following error:**

**2.Open the Api swagger UI, call '/api/abp/application-configuration' without authorize，it‘s ok。but after authorized，I've got cod

[2021-06-01 05:17] maliming commented on #9202
---> System.Net.Http.HttpRequestException: The SSL connection could not be established, see inner exception.
---> System.Security.Authentication.AuthenticationException: The remote certificate is invalid because of errors in the certificate chain: UntrustedRoot

This error is not related to abp but ssl.

[2021-06-01 05:20] holyrong commented on #9202
How can I resolve this error about ssl?

[2021-06-01 06:36] NecatiMeral commented on #8200
I don't think this issue is stale. :-D

[2021-06-01 06:40] hikalkan opened #9203 "Create "basic theme" module"
* Creates a new solution `Volo.Abp.BasicTheme.sln` under the `modules/basic-theme` folder.
* Move all basic theme related projects from the framework solution to that new solution.
* Update build/nuget/other configurations based on that change.

[2021-06-01 07:03] gterdem commented on #9202
You need to run your identityserver on https.

Check your **https**://host:port/**.well-known/openid-configuration**

`issuer` must match exactly with your application `issuer`.

[2021-06-01 07:23] enisn commented on #9076
There may be breaking changes between versions.
So we can't guarantee compatibility between different versions.

I highly recommend upgrading your older versions.
[Migration Guides](https://docs.abp.io/en/abp/latest/Migration-Guides/Index) might help you while upgrading

[2021-06-01 07:31] radrad commented on #9063
This would be a good idea to come up with some sample project and documentation.
I would also like to see how to integrated third parties (what are not using .net abp.io or not .net at all)  or even anoter web application that is also based on ABP.IO under your contol or not.

[2021-06-01 07:34] GotzeWong opened #9204 "AuthServer didn't redirect to user info as except when login success"
### GitHub Issues

* **ABP 4.3.0**.
* **Microservices\applications\AuthServer.Host**
* **Server: Alin Cloud Web+ (Linux  x64)**

* **Description**
I deployed AuthServer on Ali cloud. Then the **AuthServer.Host** didn't redirect to user info when login success but return the init page again.
![image](https://user-images.githubusercontent.com/7664030/120284057-6eb08800-c2ee-11eb-842e-33b9222fc829.pn

[2021-06-01 07:35] leonkosak commented on #9190
So the recommended was is to use [abp.ajax](https://docs.abp.io/en/abp/latest/UI/AspNetCore/JavaScript-API/Ajax)?

[2021-06-01 07:43] maliming commented on #9190
No. You can only get/request token in the backend.

[2021-06-01 07:46] leonkosak commented on #9190
Of course, but abp.ajax can call authorized backend API method?

[2021-06-01 07:59] Rwing commented on #9076
@enisn Thank you for the clarification.
But I think this is a general problem and at least compatibility should be maintained between minor versions.
For some resons, it is not always possible to upgrade all microservices to the latest version.

[2021-06-01 08:00] khanhtranchi opened #9205 "Dynamic client proxy at Blazor webassembly always call authorize but the target api doesn't require"
* Your **ABP Framework version**: 4.3.2
* Your **User Interface** type: Blazor webassembly
* Your database provider: MongoDB

I have create app service is ILeadChannelAppService  and inject it into Blazor webassembly. If I don't login and call to the api through HttpApi.Client module - the client proxy always calls to the identity server for authorizing but It will be failed and take time before c

[2021-06-01 08:03] muhlisatac opened #9206 "abp-table tag helper issue on custom theme."
Hi!
I have a mvc ui project version abp 4.3.2.
I have used [AdminLTE](https://github.com/wakuflair/Abp.AspNetCore.Mvc.UI.Theme.AdminLTE ) theme.

Problem is footer and page scripts are rendering in wrong locations. Details are in [this issue](https://github.com/wakuflair/Abp.AspNetCore.Mvc.UI.Theme.AdminLTE/issues/32)

But it seems issue is about abp-table tag-helper. Can any one investigate it pl

[2021-06-01 08:19] radrad commented on #6132
What about tailwind css. It is a great utility framework. It can create not bootstrapy look and feel.
If I purchase this ui kit: https://tailwinduikit.com/templates
how easy is to incorporate these example templates into ABP.IO.
Will I be constrained that some built-in components that needs to be rendered on the page must look in certain way or I can assume everything can look like what tailwind d

[2021-06-01 08:26] radrad commented on #8385
Is there a github project where this is being developed?

[2021-06-01 08:29] radrad commented on #8169
Can I pick a random tailwind CSS based admin template and incorporate it into an abp.io solution (let's say either mvc or angular)
and have the same appearance as designer wanted or I will get some abp.io rendering that is pre-determined (maybe to use boostrap)  and hard to align with other design element from tailwind css framework?

[2021-06-01 08:54] berkansasmaz opened #9207 "I get an error when I want to manage Tenant's features in Blazor template"
Command: `abp new Test_App -t app -u blazor --database-provider ef`
Version: `4.3.2`

![Kapture 2021-06-01 at 11 43 53](https://user-images.githubusercontent.com/31216880/120295011-6b59d400-c2cf-11eb-8079-ac0baa258bcd.gif)

<img width="1440" alt="Screen Shot 2021-06-01 at 11 45 06 AM" src="https://user-images.githubusercontent.com/31216880/120295025-6e54c480-c2cf-11eb-9e6f-96b3e85fa91b.png">

<img

[2021-06-01 09:35] maliming commented on #9190
I think so, You can give it a try.

[2021-06-01 09:38] maliming commented on #9206
hi

You should continue to discuss this on https://github.com/wakuflair/Abp.AspNetCore.Mvc.UI.Theme.AdminLTE

If you find a problem please provide the info below:

* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-06-01 09:57] GotzeWong commented on #5612
Same issues. Are there any solutions?

[2021-06-01 09:57] GotzeWong commented on #5612
Same issues. Are there any solutions?

[2021-06-01 10:57] muhlisatac commented on #9206
I already wrote ABP Framework version. But it is 4.3.2
Its not an exception so there is no stack trace or log.

Steps are
1. Download a new application project (mvc, efcore, sql server, not tiered).
2. Install-Package Abp.AspNetCore.Mvc.UI.Theme.AdminLTE
3. In Web project
[code]

In pages if i use

`<table class="table" id="pppTable"></table>`

![2](https://user-images.githubusercontent.com/894903

[2021-06-01 13:40] haroldrandom commented on #8267
why mark it as stale?

[2021-06-01 14:00] leonkosak commented on #9190
I have no success.
When you wrote "in the backend" - is this possible with ICurrentUser (code behind, controller inside .Web project)?
I really need jwt to call API side from MVC solution (from deployed .Web project to deployed .HttpApi.Host).

[2021-06-01 14:10] maliming commented on #9190
You can use application services directly on the web, why not do this?

[2021-06-01 14:15] maliming commented on #9205
What's the error?

This is by design because we have the user's token right now.

[2021-06-01 14:16] maliming commented on #9206
hi

I think this is related to `Abp.AspNetCore.Mvc.UI.Theme.AdminLTE` instead of Abp.

[2021-06-01 14:21] leonkosak commented on #9190
Yes? Where can I find example for this?

[2021-06-01 15:13] leonkosak commented on #9190
Aghhh! My stupidity. :)

[2021-06-01 15:13] #9190 closed, assigned to nobody

[2021-06-01 19:31] amLabib commented on #8062
Hi @mehmet-erim , is there any documenation about this? how to "add account module to your Angular project"

[2021-06-02 01:14] #8313 closed, assigned to nobody

[2021-06-02 01:14] #8334 closed, assigned to nobody

[2021-06-02 01:14] #8343 closed, assigned to nobody

[2021-06-02 01:27] khanhtranchi commented on #9205
What's the error?

When user doesn't login, if I make a service call like this:
await _leadChannelAppService.GetAsync(new Guid("01dccee1-2dbb-92dc-f997-39fcbe188e9e"));

Instead of call the rest api, it always make call to this link first:
https://localhost:44307/_framework/blazor.boot.json
![image](https://user-images.githubusercontent.com/10261012/120409590-7407e400-c37b-11eb-85d0-6b729b01173d.p

[2021-06-02 01:47] Walk4Muscle opened #9214 "Volo.Authorization:010001 when using access token against backend services"
Hi Team,

I am working on a project built on microservice demo project with independent identity services 4 as the auth server.
When I followed OAuth 2 flow to acquire the access token,  and leverage this token to the backed service in moicrserives, I always got the following **401** error:

[code]

![image](https://user-images.githubusercontent.com/14989270/120411137-df0ae800-c386-11eb-8828-2b31f

[2021-06-02 02:09] Walk4Muscle commented on #9214
don't know why, restart the backed service several times, it works now.

[2021-06-02 02:09] #9214 closed, assigned to nobody

[2021-06-02 02:25] realLiangshiwei commented on #9204
Use https.

Or see https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

[2021-06-02 02:25] #9204 closed, assigned to nobody

[2021-06-02 03:29] GotzeWong commented on #9204
Thanks,  @realLiangshiwei, it works!

[2021-06-02 04:40] xiaohui-gsv commented on #9202
I encountered the same error.

[2021-06-02 05:58] xiaohui-hiwintech commented on #9202
same thing happened, my template is Module, I started up the IdentityServer and HttpApi project, after authorized in the swagger, then I try to exec the request `https://localhost:44329/api/ModuleHaveUI/sample/authorized` in swagger, the error shows up like this
![error](https://user-images.githubusercontent.com/38554198/120431695-68341600-c3ab-11eb-93fd-69ac0683dc07.png)

Below are the error logs

[2021-06-02 06:08] maliming commented on #9205
hi
Can you share a project?

[2021-06-02 07:00] AdemAygun opened #9217 "Reset Password link on first login"
* Your **ABP Framework version**. 4.3
* Your **User Interface**  Angular
* Your database provider(EF Core)
* Exception message and **stack trace** if available (check the logs).

We create tenants and users with code and then send mail contains reset password link to users. (IsSelfRegistiration = false) .
But when user clicks to reset link which we sent in email they get following application exce

[2021-06-02 08:19] muhlisatac commented on #9206
I have downloaded a new project. (Latest Mvc, Efcore, Sql server, not tiered.)
Added a test page and its appservices etc. Nothing else.
This is the result.

![image](https://user-images.githubusercontent.com/8949037/120448414-38c5df00-c394-11eb-9c10-3b503ed31688.png)

as you can see scripts randered in wrong place.

[2021-06-02 08:21] mehmet-erim commented on #8062
Hi @amLabib,

See the [account module document](https://docs.abp.io/en/abp/latest/UI/Angular/Account-Module).

[2021-06-02 08:22] maliming commented on #9206
Can you share your project?

[2021-06-02 08:47] muhlisatac commented on #9206
[sure](https://github.com/abpframework/abp/files/6583151/test2.zip)

[2021-06-02 08:47] khanhtranchi commented on #9205
I create this project by using module template. For sure, I have created new test project from module template, but still face this problem as image below:
![error](https://user-images.githubusercontent.com/10261012/120449239-7426d480-c3b9-11eb-9e9c-c73db5e934a1.jpg)

I have uploaded it:
[https://drive.google.com/file/d/1OyJA0DfIPnafnAxK-JutggOeHcapZ2uw/view?usp=sharing](url)

Please change the re

[2021-06-02 09:06] cotur commented on #9153
Hi @snowchenlei

For file uploading & downloading process, there are many of different cases. And a reusable module needs to cover most of them.
The best case is for now, you can create your own module for your upload/download requirements.

For CMS-Kit, we have just basic upload & download action.

Also, we may consider to create a reusable module for file Uploading & Downloading for next milesto

[2021-06-02 12:04] dmeagor opened #9222 "External IDaaS providers"
Feature request;

I see from other threads that IS is being made optional which is good.  It would be great if support for external identity providers  such as Azure B2C or firebase auth could be added though.

I don't think that passwords are something the majority of companies should be managing themselves and the larger IDaaS platforms have much better feature support passwordless/2fa tech such

[2021-06-02 12:05] dmeagor commented on #9222
BTW. I went to post this on your commercial support site but it's down (503)

[2021-06-03 01:38] NetChenQian opened #9225 "Use Repository in Middleware. Error occured like "Cannot access a disposed context instance...""
When use a repository in middleware，some error was occured.

The full error message is

[code]

The full code is

[code]

please tell what should I do? thanks

[2021-06-03 02:29] hemiaoio commented on #3325
@maliming When I use nswag to generate tslang, this class is very long and looks very strange. Do you have any key words to prompt?

[2021-06-03 05:33] maliming commented on #9205
I think this has nothing to do with mongodb , Please use ef in your project.

[2021-06-03 06:49] khanhtranchi commented on #9205
I mean you change the mongodb and redis configurations at appsettings.json to your local or your development enviroment.
Did you run the Test.Blazor.Host ?

[2021-06-03 06:53] maliming commented on #9205
@khanhtranchi I don't have mongodb. Can you use Localdb?

[2021-06-03 07:42] maliming commented on #9113
hi

Move to https://github.com/abpframework/abp/pull/9116 https://github.com/abpframework/abp/commit/987e154fedfe0e6dc5d9e3a0fb8561b3e994e26a

[2021-06-03 07:55] leonkosak commented on #9190
@maliming, I still need to get jwt token value on Controller (because on controller is HttpClient call on other microservice/app, which is connected to the same identity server).

[2021-06-03 08:14] maliming commented on #9190
See
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client.IdentityModel.Web/Volo/Abp/Http/Client/IdentityModel/Web/HttpContextIdentityModelRemoteServiceHttpClientAuthenticator.cs#L37
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.IdentityModel/Volo/Abp/IdentityModel/IdentityModelAuthenticationService.cs#L57

[2021-06-03 08:14] #9206 closed, assigned to maliming

[2021-06-03 08:29] #9200 closed, assigned to maliming

[2021-06-03 09:09] realmingliang opened #9228 "Exception handling"
When I use business exception and define code and message at the same time, if the error code is not found in the localization file, the message  will be invalid at this time. Is this normal? Thank you
### For Example

[code]

[2021-06-03 09:14] #9104 closed, assigned to nobody

[2021-06-03 09:14] maliming commented on #9104
https://github.com/abpframework/abp/pull/9148

[2021-06-03 09:23] maliming commented on #9143
Hard coding allows you to use your own favorite route.

[2021-06-03 09:23] #9143 closed, assigned to nobody

[2021-06-03 09:24] #9040 closed, assigned to nobody

[2021-06-03 09:26] #9071 closed, assigned to nobody

[2021-06-03 09:27] #9076 closed, assigned to nobody

[2021-06-03 09:27] #9083 closed, assigned to nobody

[2021-06-03 09:29] khanhtranchi commented on #9205
I created another project using Localdb, and testing again but client proxy class still calls to https://localhost:44307/_framework/blazor.boot.json if we don't login before and later call the rest api.
It should call the rest api and if need authorization just throw the exception.
![image](https://user-images.githubusercontent.com/10261012/120621284-f382d980-c487-11eb-8bcf-8f5522d281af.png)

You

[2021-06-03 09:30] maliming commented on #9225
See https://github.com/abpframework/abp/search?q=Cannot+access+a+disposed+context+instance.&type=issues

[2021-06-03 09:30] #9225 closed, assigned to nobody

[2021-06-03 09:32] #9202 closed, assigned to nobody

[2021-06-03 09:33] #9153 closed, assigned to nobody

[2021-06-03 10:01] maliming commented on #9147
Is the default language not working?

* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-06-03 10:01] maliming commented on #9228
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-06-03 13:13] hillin opened #9232 "Classes implementing IApplicationService (only) is not registered by convention"
As per [the documentation](
https://docs.abp.io/en/abp/latest/Dependency-Injection#inherently-registered-types), a class implementing the `IApplicationService` will be registered as transient by convention. However it seems not to be the case. The class has to implement the `ITransientDependency` interface, in one way or another (e.g. by inheriting the `ApplicationService` class), in order to be p

[2021-06-03 15:08] SarcoZ commented on #9147
@maliming  working only on OrderCreateDto in abpcontroller or applicationservice parameter,but not working on normal class,such as above,ValidationServiceInput() is an method in applicationservice,I use postman to get api result,and set accept-language ,what ever i set,not working

[2021-06-03 18:54] #9203 closed, assigned to maliming

[2021-06-03 19:12] #8862 closed, assigned to realLiangshiwei

[2021-06-03 19:12] #8863 closed, assigned to realLiangshiwei

[2021-06-03 19:14] hikalkan opened #9234 "Document: Allow to customize EF Core mapping of entity and dbContext of an existing module"
Documentation update for https://github.com/abpframework/abp/pull/8898

[2021-06-03 22:05] djlaney3 opened #9235 "Proper sample to filter on CreatorId filed using CurrentUser?"
Using version 4.3, what is the proper way to filter on CreatorId of an AuditedEntity?  Does a sample exist for a class using implementing CrudAppService?

[2021-06-04 02:04] newacc12 opened #9236 "LastModificationTime is not updated populated when updating a value object property"
ABP Version: 4.3.2
Database provider: EF

Description: LastModificationTime is not updated when updating a value object on the main entity. Possibly other audit properties as well.

Steps to reproduce:

1 - Create two classes as below:

[code]
2 - Configure Mapping:
[code]
3 - Create App Service:
[code]
4 - Open Swagger and call the create endpoint. Everything looks good and the CreationTime is po

[2021-06-04 02:12] maliming commented on #9165
See discuss in https://github.com/abpframework/abp/pull/9164

[2021-06-04 02:12] #9165 closed, assigned to nobody

[2021-06-04 02:49] 690486439 opened #9238 "winfrom and wpf Call service HttpClient task was canceled"
ABP Framework version: 4.3.0
User Interface: wpf/winfrom

after I call the (post/put)  interface multiple !
httpClient sendasync task was canceled !

https://github.com/abpframework/abp/blob/2a22ebdd343cdeff094968c6e554086a5b602d65/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs#L140

    var client = HttpClientFactory.Create(clientConfig.Remo

[2021-06-04 02:57] maliming commented on #9238
If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Please **write in English**.

[2021-06-04 02:59] realLiangshiwei commented on #9234
We can also add some comment to the `MyProjectNameEfCoreEntityExtensionMappings`

https://github.com/abpframework/abp/blob/2a22ebdd343cdeff094968c6e554086a5b602d65/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectNameEfCoreEntityExtensionMappings.cs#L19

[2021-06-04 03:01] newacc12 commented on #9236
I think this is due how ABP track the changes. The EF Change tracker will return 3 changes in this scenario:
1- One FirstName entity was deleted.
2 - Another FirstName entity was created.
3 - Person entity unchanged.

The solution might be to check if there are references that are OwnedTypes and check if they have been changed.

More info: https://stackoverflow.com/questions/51416721/ef-core-owned

[2021-06-04 06:51] GOTOTHEWORLD opened #9240 "using dapper executes sql lock table"
ABP Framework version：v3.3.2
User Interface:None, just API internal error
database provider：EF Core
database:sql server 2016
---------------------------------
Hi,Team

When I use dapper to execute multiple SQLs, there is a table lock situation. As long as there is a selelct+update syntax in one of my SQLs, then my update table must be locked by the transaction. What method should I use after execu

[2021-06-04 07:01] #7874 closed, assigned to nobody

[2021-06-04 07:01] #8193 closed, assigned to nobody

[2021-06-04 07:01] #8216 closed, assigned to nobody

[2021-06-04 07:01] #8217 closed, assigned to nobody

[2021-06-04 07:01] #6375 closed, assigned to nobody

[2021-06-04 07:45] #9228 closed, assigned to nobody

[2021-06-04 08:21] maliming commented on #9240
hi

Have you tried to execute this code in a separate unit of work?

https://docs.abp.io/en/abp/latest/Unit-Of-Work#begin-a-new-unit-of-work

[2021-06-04 08:44] GOTOTHEWORLD commented on #9240
Great, solved my problem perfectly,Thanks!

[2021-06-04 08:44] #9240 closed, assigned to nobody

[2021-06-04 11:55] #8985 closed, assigned to ebicoglu

[2021-06-04 12:37] #8387 closed, assigned to nobody

[2021-06-04 12:42] maliming commented on #9236
hi @newacc12

We recommend always call `Repository.UpdateAsync(entity)` after the entity changed.

[2021-06-04 13:26] zhangzunke commented on #9179
You should configure the UseHybridSerializer property in the PreConfigureServices method.
[code]

[2021-06-04 13:31] #9179 closed, assigned to nobody

[2021-06-04 19:58] PMExtra opened #9246 "[Feature Request] Audit Log API"
Is there a plan to make API about fetching audit log?

Do you welcome a PR about it?

[2021-06-05 01:52] maliming commented on #9246
This feature is available on the pro module.

[2021-06-05 08:11] xunqinbo opened #9248 "Data Migration Issue on macOS"
I created a project from template on abp.io.
When I run 'dotnet run' command under DbMigrator/

`ABP CLI (https://abp.io)
[15:39:21 INF] Version 4.3.2 (Stable)
[15:39:22 ERR] DbMigrator is not found!
System.Exception: DbMigrator is not found!
   at Volo.Abp.Cli.Commands.CreateMigrationAndRunMigratorCommand.ExecuteAsync(CommandLineArgs commandLineArgs) in D:\ci\Jenkins\workspace\abp-framework-relea

[2021-06-05 08:38] manishkgupta02 opened #9249 "Can we use abp framework with Grpc based microservice and React as frontend, Any sample code Available for ref? #abp"
Can we use abp framework with Grpc based microservice and React as frontend, Any sample code Available for ref?
#abp
Use **abp** tag in your questions.

[2021-06-05 11:55] manishkgupta02 commented on #2882
+1

[2021-06-06 00:10] mrs01dev commented on #9249
For react , check
https://github.com/potatoabp/abp-vnext-react

[2021-06-06 00:17] mrs01dev commented on #9235
for CrudAppService ,  filter on CreatorId ,check (GetListAsync and CreateFilteredQueryAsync ) in
https://github.com/EasyAbp/ReviewManagement/blob/main/src/EasyAbp.ReviewManagement.Application/EasyAbp/ReviewManagement/Reviews/ReviewAppService.cs

[2021-06-06 01:23] mrs01dev commented on #9075
you could try to use IExternalUserLookupServiceProvider , as in

https://github.com/EasyAbp/ReviewManagement/blob/4852d077ca523a9d49cd75bb7b881778bb5699f8/src/EasyAbp.ReviewManagement.Application/EasyAbp/ReviewManagement/Reviews/ReviewAppService.cs

[2021-06-06 11:58] djlaney3 commented on #9235
I understand now, thank you.  I was unaware that this ReviewManagment project existed.  Is that in the docs somewhere?

[2021-06-06 14:05] #8250 closed, assigned to nobody

[2021-06-06 14:05] #8243 closed, assigned to nobody

[2021-06-06 14:05] #8256 closed, assigned to nobody

[2021-06-06 14:05] #8260 closed, assigned to nobody

[2021-06-06 14:05] #8266 closed, assigned to enisn

[2021-06-06 14:05] #8181 closed, assigned to nobody

[2021-06-06 14:05] #7762 closed, assigned to nobody

[2021-06-07 01:28] #9246 closed, assigned to nobody

[2021-06-07 01:57] #9238 closed, assigned to nobody

[2021-06-07 01:58] maliming commented on #9147
* Steps needed to **reproduce** the problem.

[2021-06-07 02:20] #9193 closed, assigned to maliming

[2021-06-07 02:39] ejohnson-dotnet commented on #4977
Can you help us understand something.  Can you explain the "IsExternal" property a little better.  Isn't a Google authenticated user an "external" user?  If implementing Azure Active Directory, isn't those users an external user?   Why is the IsExternal still false for these users?

[2021-06-07 02:42] hemiaoio commented on #3325
Well ，I found a solution through the above code, using the CustomSchemaIds method to deal with these long schema names

[2021-06-07 05:03] hillin opened #9251 "Native DLL loading for plugin modules"
Is there a guideline on how to handle native DLL loading for plugin modules?
In our project, plugin modules are loaded like this:

[code]

However if a plugin module directly or indirectly uses a native DLL, say, it uses SkiaSharp which needs libSkiaSharp.dll which is output to `Modules\runtimes\win-x64\native\libSkiaSharp.dll`, the native dll cannot be load correctly:

[2021-06-07 05:10] maliming commented on #9251
Have you tried copy `Modules\runtimes\win-x64\native\libSkiaSharp.dll` to the `Modules` directory?

[2021-06-07 05:20] hillin commented on #9251
The outcome depends on the folder structure of the native files.

If the native DLL is placed in a subfolder under `Modules\runtimes\win-x64\native\`, copying the entire subfolder to `Modules` works, however I'd argue if this is the best practice except for debugging purpose;

If the native DLL is a single file located directly under the `Modules\runtimes\win-x64\native\` folder, copying it to the

[2021-06-07 05:27] maliming commented on #9251
hi

I think you can create a custom `FolderPlugInSource` to handle your case.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Volo/Abp/Modularity/PlugIns/FolderPlugInSource.cs

[2021-06-07 06:35] hillin commented on #9251
Thanks.

By modifying the `FolderPlugInSource` to handle the `BadImageFormatException`, I can get the `libSkiaSharp` case working, *if* I copy the native files to the `Modules` folder. Then again, I still don't feel it's a proper way for production. We need a way to let the .net runtime to find assemblies from the `Modules\runtimes\{rid}\(tfm}|native` folder (probing assemblies from the `runtimes\

[2021-06-07 07:34] maliming commented on #9251
This is the responsibility of .NET, please see:
https://docs.microsoft.com/en-us/dotnet/api/system.runtime.loader.assemblyloadcontext.loadfromassemblypath?view=net-5.0
https://www.google.com/search?q=loadfromassemblypath+dependencies

Or maybe you need `yourdll.deps.json` file.

[2021-06-07 07:52] hillin commented on #9251
Thanks, I'll definitely look into it later.

The `.deps.json` file is in the `Modules` folder.

For now as a workaround, we can use the `NativeLibrary` class to intercept the DLL import resolver and provide a custom resolving method:

[code]

[2021-06-07 08:55] SarcoZ commented on #9147
first,define a dto,OrderCreateDto eg.

[code]
then customer service MyService,which marked  IValidationEnabled

[code]

appsettings.json configured language like "zh-Hans"
[code]

if  some business call myservice,

[code]

[2021-06-07 09:02] hillin opened #9252 "Proper way to embed plugin blazor static web assets?"
It seems the static web assets of a blazor module (a Razor Component Library) is added to the app's static web assets only if the app *directly* references the module. However this is not the case if we are using the [plugin mechanism](https://docs.abp.io/en/abp/latest/PlugIn-Modules) of abp. What's a proper way to handle this scenario?

[2021-06-07 09:08] maliming commented on #9222
hi

The IdentityServer is not optional for now.

We use the ASP NET Core standard authentication method, you can use Identity, Google, Twitter, etc. https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspnetcore-5.0&tabs=visual-studio

In addition, we also support external authentication. https://github.com/abpframework/abp/issues/4977

[2021-06-07 09:09] gterdem commented on #9222
Hello @dmeagor,
IS can not be optional for abp angular apps since it is the STS.

I agree your words on password management.

Can you point out which abp application template you are using and want this behaviour?

[2021-06-07 09:13] SarcoZ opened #9254 "EventBus bug,can not subscriber EntityCreatedEventData in DistributeEventBus"
if i configure AbpDistributedEntityEventOptions like below, i have an entity named MyEntity,when it created,will auto publish a domain event to distribute event bus
[code]
i  defined an event handler
[code]
I use AbpEventBusKafkaModule
when app started,create an entity,an distribute event will published,this worked ok, but my event handler can not get any message
I trace  Volo.Abp.EventBus.Kafka c

[2021-06-07 09:32] realLiangshiwei commented on #9254
See https://docs.abp.io/en/abp/latest/Distributed-Event-Bus#pre-defined-events

[2021-06-07 09:32] #9254 closed, assigned to nobody

[2021-06-07 09:36] ahmadmasoum opened #9255 "Access to XMLHttpRequest has been blocked by CORS policy: No 'Access-Control-Allow-Origin'"
Your ABP Framework version 4.3.
Your User Interface Angular
Your database providerEF Core
Exception message and stack trace if available (check the logs).

* Your **ABP Framework version**. 4.3.
* Your **User Interface** Angular
* Your database provider EF Core
* Exception message and **stack trace** if available (check the logs).

[code]
`No errors in log file`

* Steps needed to **reproduce** th

[2021-06-07 10:22] cbaille opened #9256 "**abp** Blogging module: Error when create a new post without text on Text editor"
ABP Framework version: v4.3.2
UI type: Angular
DB provider: EF Core

When user create a new post, there is validation for title, url or image fields, so I got notified that one field is missing.
However there is nothing about checking if text editor is empty, so when submit we got an error

![image](https://user-images.githubusercontent.com/27866600/121000490-7bcceb80-c7b4-11eb-822f-70109cbc3ddb.p

[2021-06-07 13:15] lgadola opened #9257 "extending IdentityUserDto has no effect on swagger generation"
**abp** 4.3.2
Angular
EF Core

I extended IdentityUser with a custom property. This shows automatically in the UI.
But extending IdentityUserDto seems to have no effect on the swagger definition (it still appears under extraProperties)

`   public static class ResODtoExtensions
    {
        private static readonly OneTimeRunner OneTimeRunner = new OneTimeRunner();

        public static void Conf

[2021-06-07 13:17] ozdogans commented on #3758
Is there any update on this?

[2021-06-08 00:55] maliming commented on #9257
hi

Because they are dynamic, so it will not affect swagger.

[2021-06-08 00:55] #9251 closed, assigned to nobody

[2021-06-08 01:58] #9257 closed, assigned to nobody

[2021-06-08 06:02] newacc12 commented on #9236
Hey @maliming

Thanks! That seemed to work. I think last time I worked with ABP it was not required to call the `UpdateAsync ` method since it should be called automatically at the end of a application service method. I will always call this from now on since it is the recommended way.

[2021-06-08 06:05] maliming commented on #9236
The reason is that your repository may be MongoDB, which has no entity tracking and must be manually called.

[2021-06-08 06:05] #9236 closed, assigned to nobody

[2021-06-08 07:22] maliming commented on #9255
Can you share the detailed logs of your request? also check the network panel of your browser to check the HTTP request info.

I think the problem is that your query string is too long.

[2021-06-08 07:23] gterdem commented on #9249
Hello @manishkgupta02,

There is no default configuration for Grpc communication between microservices at the time being. But it is on our backlog and we plan to entegrate it.

[2021-06-08 07:24] maliming commented on #9252
Can you explain it in detail?

[2021-06-08 08:00] hillin commented on #9252
In a typical blazor host app, RCLs are referenced directly by the host project. A `<project-name>.StaticWebAssets.xml` file will be generated with all the static web assets in the referenced RCLs included.
For example, if Blazorise is used in a blazor app, the following entry will be generated in the `<project-name>.StaticWebAssets.xml`:
[code]
the xml file then will be picked up by the [`StaticWe

[2021-06-08 08:28] slarkerino commented on #7657
@hikalkan I have faced this issue when I am using Rabbitmq. My Application keep try and throw exceptions :(

[2021-06-08 09:17] #9122 closed, assigned to armanozak

[2021-06-08 09:46] ahmadmasoum commented on #9255
For some reason removing
[code]
from `web.config` worked for me

and yes the string im sending is too long to send in params

i added `[FromBody]` to send it in body insted of params

[code]

and the genarated proxy

[code]

but its giving me error 415 now
`Http failure response for https://localhost:44350/api/app/halda-transaction/import-halda-transaction: 415 OK`

and its working on swagger

[2021-06-08 10:18] maliming commented on #9255
The `body` content should be JSON. I think the method that generated is wrong.

Maybe:
[code]

[2021-06-08 11:36] ahmadmasoum commented on #9255
Didnt work
[code]

[2021-06-08 13:00] hikalkan opened #9262 "Allow to replace a dbcontext by a given type"
To make that usage possible:

[code]

With this usage, when I request `IIdentityDbContext`, `IMyDbContext` is resolved (assuming `IMyDbContext` extends `IIdentityDbContext`).

[2021-06-08 13:01] #9262 closed, assigned to hikalkan

[2021-06-08 13:37] AdemAygun commented on #9217
kindly reminder

[2021-06-08 14:35] mikando opened #9263 "Misbehaviours and security issues related to Volo.Abp.Account"
### GitHub Issues

ABP Framework Version: 4.3.2
ABP UI : Core MVC
Database provider : EF Core

Hi guys.

  I've just created blank MVC project and did some user testing in profile editing page. I'm able to change my username with another existing user's name and be able to change it to an invalid format. Here I've recorded a video for reproduce a problem.

https://user-images.githubusercontent.com

[2021-06-08 14:35] hillin commented on #1469
To whoever runs into this problem too, here is what we did to enable JS proxies in a tiered project:

1. Include the proxy script in the web page:
[code]

2. In the web project, set `abp.appPath` to the http api host's base url in Javascript. E.g.
[code]

3. Add the web host to the api host's CorsOrigins:
(in api host's `appsettings.json`)
[code]

4. Profit!

Step 2 is somewhat hacky, but I really

[2021-06-08 19:12] hikalkan opened #9267 "abp install-libs should work with sub-directories"
When I restore the jstree, the resulting folder structure is shown below:

![image](https://user-images.githubusercontent.com/1210527/121243445-633cfe00-c8a6-11eb-9544-13b602baa421.png)

However, there is a themes folder in the jstree in the node_modules, which contains the 32px.png and some other files:

![image](https://user-images.githubusercontent.com/1210527/121243578-87004400-c8a6-11eb-8935-

[2021-06-09 01:08] #9166 closed, assigned to maliming

[2021-06-09 01:20] realLiangshiwei opened #9270 "Module template: Blazor.host should rely on MyProjectNameBlazorWebAssemblyModule"
https://github.com/abpframework/abp/blob/5ab37c78e4e976c2be51e52f7791c5468a958211/templates/module/aspnet-core/host/MyCompanyName.MyProjectName.Blazor.Host/MyProjectNameBlazorHostModule.cs#L29

Also volo

[2021-06-09 02:29] #9270 closed, assigned to realLiangshiwei

[2021-06-09 03:35] maliming commented on #9263
hi

https://github.com/abpframework/abp/issues/8740#issuecomment-825637586

[2021-06-09 05:40] #1899 closed

[2021-06-09 05:40] #8301 closed, assigned to nobody

[2021-06-09 05:40] #8323 closed, assigned to nobody

[2021-06-09 05:55] maliming commented on #9255
How about?

[code]

And can you share the full HTTP request info of your API call?

[2021-06-09 06:41] #9263 closed, assigned to maliming

[2021-06-09 07:17] ahmadmasoum commented on #9255
still giving me error 415

[code]

[2021-06-09 07:20] maliming commented on #9255
What's the HTTP request in the chrome's network panel?

[2021-06-09 07:25] ahmadmasoum commented on #9255
[code]

[2021-06-09 07:30] maliming commented on #9255
What's the body?

`content-type: text/plain`

I think it should be `content-type: application/json`

[2021-06-09 07:44] ahmadmasoum commented on #9255
Yeah making `content-type: application/json` worked
but I have to make custom request right
there's no way to make proxy generate it for me ?

[2021-06-09 08:04] maliming commented on #9255
You can try to create DTO class.

[code]

[2021-06-09 08:11] gterdem opened #9275 "External login new user creation isn't checking identity settings"
If **Confirmed Email** and/or **Confirmed Phone** is required, first external user creation doesn't redirect to confirmation page.

Related with #9132

[2021-06-09 08:27] ahmadmasoum commented on #9255
Thanks man!

[2021-06-09 08:42] #9275 closed, assigned to gterdem

[2021-06-09 08:46] #9255 closed, assigned to nobody

[2021-06-09 09:24] weiwxg opened #9278 "How to implement OrganizationUnit MultiTenant"
![image](https://user-images.githubusercontent.com/24971860/121328087-9cc54600-c946-11eb-8701-b753544d6049.png)

i saw this info from document, however it looks does not work for `OrganizationUnitManager.CreateAsync( ... )`

Do i have to use `TryToSetTenantId(organizationUnit)` in `OrganizationUnitAppService`?

![image](https://user-images.githubusercontent.com/24971860/121329073-73f18080-c947-11e

[2021-06-09 09:58] #9267 closed, assigned to realLiangshiwei

[2021-06-09 10:26] ArneCools commented on #3758
How do I make this work? I added this class to my host module, but swagger doesnt run it (I tried setting a breakpoint)

[2021-06-09 14:06] #9234 closed, assigned to maliming

[2021-06-09 14:10] hikalkan commented on #6132
I am closing this, because this project will continue out of this repository. The new theme will be independently versioned and deployed. Once it is released, we will announce it on the abp blog.

[2021-06-09 14:10] #6132 closed, assigned to nobody

[2021-06-09 14:11] #7091 closed, assigned to nobody

[2021-06-09 14:16] hikalkan commented on #8385
@volethanh just duplicate the code in shared projects. Shared projects are used to re-use some configuration code. Just copy the code (including dependencies) into the related microservice to make it independent from the shared projects.

[2021-06-09 14:19] #9134 closed, assigned to realLiangshiwei

[2021-06-09 15:27] BarisGurbuz commented on #7957
Yes please

[2021-06-09 15:28] BarisGurbuz commented on #6977
Yes please

[2021-06-09 16:59] PMExtra opened #9280 "Is this a typo in message of EntityNotFoundException?"
https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.ExceptionHandling/Volo/Abp/Domain/Entities/EntityNotFoundException.cs#L52

There are duplicate words `given`. Is this a typo?

[2021-06-10 01:01] #9217 closed, assigned to maliming, realLiangshiwei

[2021-06-10 01:03] maliming commented on #9278
You can new the **OrganizationUnit** entity manually.

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnit.cs#L56

[2021-06-10 01:03] #9278 closed, assigned to nobody

[2021-06-10 01:42] hillin commented on #6132
Do we have an estimation on when this will be released? We are really looking forward to it and were deferring some of our decision makings when it was announced.

[2021-06-10 02:27] #9280 closed, assigned to nobody

[2021-06-10 04:04] sachindratomer opened #9283 "ABP return 500 instead of 401 status code"
I am also facing the same issues - https://github.com/abpframework/abp/issues/7924, this issue is coming when you are running applications out of the development environment.  The Issue is reproducible in Debugging mode also if you change ASPNETCORE_ENVIRONMENT environment variable to something else in place of development.  Its not coming with .Net Core webapi.

[2021-06-10 04:16] maliming commented on #9283
https://github.com/abpframework/abp/issues/7924#issuecomment-790196262
https://github.com/abpframework/abp/issues/7924#issuecomment-797203135

[2021-06-10 06:38] hikalkan opened #9284 "Update documentations for removal of EntityFrameworkCore.DbMigrations project"
Based on https://github.com/abpframework/abp/issues/8776

### Docs to be fixed

- [x] [Web application development tutorial](https://docs.abp.io/en/abp/latest/Tutorials/Part-1?UI=MVC&DB=EF) ( https://github.com/abpframework/abp/pull/9503 )
- [x] [Quick start tutorial](https://docs.abp.io/en/abp/latest/Tutorials/Todo/Index?UI=MVC&DB=EF) ( https://github.com/abpframework/abp/commit/0a7dbda5b072178be

[2021-06-10 08:31] recruitans opened #9285 "Forms module feature"
There may be forms that are constantly used. It would be nice if there was a feature to 'save the form as a template' (for later use).

[2021-06-10 12:56] hikalkan opened #9286 "Allow to render more than one menu in the main menu"

[2021-06-10 12:57] #9286 closed, assigned to nobody

[2021-06-10 14:21] #9147 closed, assigned to maliming

[2021-06-10 14:25] #9205 closed, assigned to nobody

[2021-06-10 15:22] ebicoglu opened #9287 "Check microservice project version when adding a new microservice project"
when adding a new service with the following command, CLI doesn't check the main project version.
In my case, my microservice project was 4.3.1 but CLI generated code on 4.3.2.
Check the base version !

[code]

[2021-06-10 18:58] bnymncoskuner commented on #8879
Hello,

You could pass `[suppressUnsavedChangesWarning]=true` to the `abp-modal` or you can provide it globally throughout your application as shown in the [docs](https://docs.abp.io/en/abp/latest/UI/Angular/Modal#suppressunsavedchangeswarning)

[2021-06-11 06:32] hillin commented on #9252
Here is our take to solve this problem:

## Serve static files (wwwroot) in plugin modules
A Blazor/HTTP API/web plugin module can contain static files in its `wwwroot` folder. We can make the host to serve these files using the following extension method:

[code]
Usage:
[code]

## Serve Static Web Assets in a RCL plugin module
A RCL plugin module can contain static web asset files, such as scoped

[2021-06-11 06:36] hikalkan opened #9288 "Use default cors policy instead of a named one"
In startup templates, we are defining CORS policies as like:

[code]

Then using it like:

[code]

And surely defining a const:

[code]

I think we should use `AddDefaultPolicy` method instead:

[code]

And use like:

[code]

And remove the  constant `DefaultCorsPolicyName`.

Please make that change in the startup templates and ensure that it is working as expected.

[2021-06-11 06:38] mehmet-erim opened #9289 "Angular UI: Hide navigation elements which have not path"

[2021-06-11 06:49] mehmet-erim commented on #9289
Duplicate of https://github.com/abpframework/abp/issues/9067

[2021-06-11 06:49] #9289 closed, assigned to nobody

[2021-06-11 06:56] mehmet-erim commented on #9067
Hi @alexandis,

I've created a PR:
https://github.com/abpframework/abp/pull/9291

The problem will be fixed with the PR. But I suggest you define your routes in a `RouteProvider`. See an example:
https://github.com/abpframework/abp/blob/c5cc41cda3db6e1561afdbcd54c0f1b7a4019e54/npm/ng-packs/packages/identity/config/src/providers/route.provider.ts

Then, you should add this to `app.module.ts`'s prov

[2021-06-11 09:34] sachindratomer opened #9293 "Issue with Dynamic Proxy"
Hi There,
I  have two ABP Services developed independently and running separately. The requirement is to consume the response from the second application API's. Instead of HttpCleint, I want to use Dynamic Proxies, I have added Application Contract dll and dependencies into First application HttpClient, Added service Path in AppSettings under remote services.

I am getting the below error message,

[2021-06-11 09:57] #8372 closed, assigned to nobody

[2021-06-11 09:58] realLiangshiwei commented on #9293
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Steps needed to **reproduce** the problem.

[2021-06-11 11:35] sachindratomer commented on #9293
Issue was due to the wrong RemoteServiceName in appConfig and Fieldname define in the controller's method should be the same as the Service method if the call is being made using a dynamic proxy. The issue has been resolved after referring ABP source code,

[2021-06-11 11:35] #9293 closed, assigned to nobody

[2021-06-11 13:30] hikalkan opened #9297 "Fallback to default activators when given controller/page/viewcomponent was not registered to DI"
We are replacing activators to use DI system to create the instances:

https://github.com/abpframework/abp/blob/7574dc088d7ea3127aaecca92e3a7dc3bdc430f7/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs#L159-L166

However, if we use a 3rd-party library that has controllers inside, these controllers will not be registered to DI and it will fail. I have this iss

[2021-06-11 14:02] hikalkan opened #9298 "Elsa Workflow problem with versioned api explorer"
I've created an demo app with the Elsa workflow, which basically works. However, when I enable versioned api explorer, our own APIs disappear (you can see /swagger).

https://github.com/abpframework/abp-samples/blob/9ad8d9998f7d09af678491aff5e44eb07eaba4b9/ElsaDemo/src/ElsaDemo.Web/ElsaDemoWebModule.cs#L152-L156

`AddElsaApiEndpoints` method is a copy of  `services.AddElsaApiEndpoints();` extensio

[2021-06-11 15:26] #9297 closed, assigned to nobody

[2021-06-12 07:39] maliming commented on #9298
`UseApiBehavior = false` will resolve this.
https://github.com/microsoft/aspnet-api-versioning/wiki/API-Versioning-Options#use-api-behavior
https://github.com/abpframework/abp-samples/commit/bdf5e6e2a43587118277e08aa263933e98a64ac9

[2021-06-12 07:39] #9298 closed, assigned to maliming

[2021-06-13 08:25] jfmeyers commented on #1754
+1 for this feature!

[2021-06-13 13:44] #4049 closed

[2021-06-13 13:44] #6247 closed, assigned to nobody

[2021-06-13 18:55] #9288 closed, assigned to realLiangshiwei

[2021-06-13 19:47] mmas02 opened #9300 "UI issue when handling exceptions"
* ABP Framework 4.3
* Blazor Server
* MongoDB
* Error : An unhandled exception has occurred. See browser dev tools for details. Reload
* Reproduce: New Author > Insert Duplicate Name > Save

I'm following the tutorial at https://docs.abp.io/en/abp/latest/Tutorials/Part-6?UI=BlazorServer&DB=Mongo

until ```Whenever you throw an AuthorAlreadyExistsException, the end user will see a nice error messag

[2021-06-14 00:43] maliming commented on #9300
hi

Can you check the browser console and app logs?

[2021-06-14 00:45] maliming commented on #9300
hi

Can you try this demo project?

https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore

[2021-06-14 01:39] maliming commented on #9285
We have a pro module of forms.

https://commercial.abp.io/modules/Volo.Forms

[2021-06-14 01:40] #9075 closed, assigned to nobody

[2021-06-14 06:35] #9232 closed, assigned to maliming

[2021-06-14 07:42] hikalkan commented on #7119
I made a small change (handled the exception and returning the same page). The result is:

![image](https://user-images.githubusercontent.com/1210527/121856383-1c636400-ccfd-11eb-9ad8-c6a2861bb83b.png)

I think this is what you expect? @realLiangshiwei I assigned the PR to you. Can you please check if we should make similar change for other pages of the account module?

[2021-06-14 08:25] DanielGlos commented on #8948
@realLiangshiwei any update on this?

[2021-06-14 09:17] #8053 closed, assigned to hikalkan

[2021-06-14 10:17] Stirda commented on #9300
Duplicate of #8818

[2021-06-14 11:34] yekalkan commented on #8169
https://github.com/abpframework/abp/pull/9307

[2021-06-14 13:22] yekalkan commented on #8930
@armgnunlu ask me if you need help

[2021-06-14 13:49] #8380 closed, assigned to enisn

[2021-06-14 18:36] alexandis opened #9313 "After finishing language text editing, the grid is reloading at page 1"
4.3.0 / Angular

Let's say I have a lot of localizations and edit something at page 6 (UserName):

![image](https://user-images.githubusercontent.com/6149843/121941749-52820180-cd58-11eb-9a36-1db032487249.png)

After editing is done, the grid is reloading to page 1, which is not very user-friendly: I'd prefer to stay at the same page and see the record I've just edited. Or sort the records by modi

[2021-06-14 19:42] #8513 closed, assigned to nobody

[2021-06-14 19:42] #8415 closed, assigned to nobody

[2021-06-14 19:43] alexandis opened #9314 "Some language texts are not saved (if previously absent)"
4.3.0 / Angular

Please have a look - how to reproduce.

Step 1 - Put filters:

![image](https://user-images.githubusercontent.com/6149843/121949706-71d15c80-cd61-11eb-9725-1950a621693e.png)

Step 2 - Try to add translation to French:

![image](https://user-images.githubusercontent.com/6149843/121949765-87468680-cd61-11eb-9d66-572d8748c378.png)

Press "Save":

![image](https://user-images.githubus

[2021-06-15 07:01] #7870 closed, assigned to yekalkan

[2021-06-15 07:23] ebicoglu commented on #9313
thanks @alexandis this might be annoying

[2021-06-15 07:31] alexandis commented on #9167
Sorry, any progress? It has been a while...

[2021-06-15 07:53] ebicoglu opened #9317 "Hangfire dashboard permission"
We can grant permission to Dashboard of Hangfire
show how to use policies to access the Hangfire dashboard
https://docs.abp.io/en/abp/latest/Background-Jobs-Hangfire

This exists in aspnetboilerplate
https://aspnetboilerplate.com/Pages/Documents/Hangfire-Integration

[2021-06-15 08:04] ebicoglu commented on #9313
closing this issue since this is related to commercial version

[2021-06-15 08:04] #9313 closed, assigned to mehmet-erim

[2021-06-15 08:12] alexandis commented on #9313
Ok then - moved the question to [Bugs & Issues v4.3.X](https://support.abp.io/QA/Questions/1126/Bugs--Issues-v43X#answer-1c1f1c18-b1c3-6d35-fcd4-39fd20e3c84c)
Otherwise please inform where I can report commercial ABP bugs like that.

[2021-06-15 08:33] dangminhbk opened #9318 "Validation localization issue."
* Abp version: 4.3.0
* UI: MVC

How can I localization field name in validation's message? It seems that I have to put localized text in the .json file, with the key match the field name. The problem is, if the field name is duplicate in many entities, we cannot distinguish between them to localize these text. The problem is not present in form's label, since we can specify `label` attribute of `a

[2021-06-15 08:41] holyrong opened #9320 "logout error code 204"
*  **ABP Framework version**：4.3.2
*  **User Interface** type (Vue)
* Your database provider(EF Core)

when call "/api/account/logout"，I've encountered the error:"204 No Content" twice。And then I used the old token , it still got data from proteced apis。

![image](https://user-images.githubusercontent.com/8318475/122021722-857bd200-cdf8-11eb-8ce4-f4d4e1a665fc.png)

[2021-06-15 08:42] #8776 closed, assigned to maliming, realLiangshiwei

[2021-06-15 08:49] maliming commented on #9320
This` /api/account/logout` endpoint it not related to `token`

[2021-06-15 09:40] #8465 closed, assigned to nobody

[2021-06-15 11:15] tarikdevapp opened #9322 "Skip Authorization from HttpApi Controller to Application Service"
Hello,
I'm using your sample bookstore https://github.com/abpframework/abp-samples/tree/master/BookStore-Mvc-EfCore
Latest version, I just cloned it yestarday.

I added a controller in HttpApi and injected IAuthorAppService to it and then created a method which I decorated with         [AllowAnonymous].
I called the GetListAsync (which is an authorized method in application service) from within th

[2021-06-15 13:14] ebicoglu commented on #9322
see https://support.abp.io/QA/Questions/1054/Question-How-to-bypass--permission-check-in-some-method-in-AppService-for-a-Commercial-module

[2021-06-15 13:17] ebicoglu commented on #9320
account/logout is for MVC , normally you don't need to call logout, just delete the token stored in the browser cache.
see how it logs out in the demo website (angular) https://commercial.abp.io/demo

[2021-06-15 13:19] steves-bits commented on #6977
+1

[2021-06-15 13:21] ebicoglu commented on #9318
Localization Resource is used for that purpose. You can create multiple localization resources (in your modules) and you can get the text from a Localization Resource.
See these docs:
* https://docs.abp.io/en/abp/latest/Localization
* https://docs.abp.io/en/abp/latest/UI/AspNetCore/JavaScript-API/Localization

[2021-06-15 13:25] ebicoglu commented on #9285
this is already implemented in a paid module..

[2021-06-15 13:25] #9285 closed, assigned to nobody

[2021-06-15 13:46] #9249 closed, assigned to nobody

[2021-06-15 15:04] hikalkan opened #9327 "Add RepositoryAsyncExtensions.AnyAsync() without predicate parameter"

[2021-06-15 15:07] hikalkan opened #9328 "Return a better exception message and HTTP status code for optimistic concurrency exceptions"
ABP throws `AbpDbConcurrencyException` on concurrency problems. It currently returns HTTP 500 with internal server error.
However, most of times it is an error that can be resolved in the client side (with a re-editing & re-submitting). So, we can return 4xx error with a more user friendly message.

[2021-06-15 15:26] mehmet-erim commented on #9314
Hi @alexandis

It is related to a commercial module. I created an internal issue, closing this one.
We'll fix the problem, thanks for the reporting.

[2021-06-15 15:26] #9314 closed, assigned to nobody

[2021-06-15 16:47] mugambiwarwema opened #9329 "Implement a new user(tenant-admin) registration endpoint"
I have downloaded the abp.io start-up template with no-tier.

I wish to implement an endpoint that allows a new user to register as a new tenant(admin) to the system.

However, the only implementation I see is through the end-point below

Also, this endpoint is protected by the permissions highlighted below at class level and method level respectively.

I have tried disabling these permissions via

[2021-06-15 20:08] jhulbertpmn opened #9331 "Identity issue changing dbms provider in encore"
ABP Framework version: 4.3.2
User Interface : Blazor WASM
Your database provider: EFCore (using cosmos efcore provider)

Using the instructions in the documentation I changed from sqlserver to CosmosDB in efcore for my project. There are some issues - to be expected - in that initializing or migrating schema doesn't really make sense for cosmos, and I have worked through most of those (as long as

[2021-06-16 01:15] maliming commented on #9329
hi

You should implement some new APIs and application services.
`POST ​/api​/multi-tenancy​/tenants` belong to the tenant module.

[2021-06-16 01:19] maliming commented on #9331
hi

Maybe you can try to override the default configure of the `ConcurrencyStamp` property.

https://github.com/abpframework/abp/blob/2a22ebdd343cdeff094968c6e554086a5b602d65/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Modeling/AbpEntityTypeBuilderExtensions.cs#L43-L45

[2021-06-16 01:20] maliming commented on #9252
I will take time to study this, thank you.

[2021-06-16 02:18] #7119 closed, assigned to hikalkan, realLiangshiwei

[2021-06-16 05:10] jhulbertpmn commented on #9331
Thanks. Sorry if I'm missing something which should be obvious but is there a step to overriding the handling of that property more than

builder.Entity(e=>
{
e.Property(p => p.ConcurrencyStamp).IsETagConcurrency();
});

Which I did Already?

[2021-06-16 05:26] maliming commented on #9331
[code]

[2021-06-16 05:45] trickyrat opened #9333 "[Question] How to save redis string/list type rather than redis hash type data with IDistributedCache?"
ABP version
4.3.2
Hi, community!
I want to set string type value to redis like `cachekey: '{'helll':'123'} '` (just string not hash)
Just serialize my object to json and save json  without default object like `absexp: xx,sldexp: xx, data: xxx` .
Like `StackExchangeRedis` 's `SetString()`method
So what I should do?
I can't find any infos from abp docs.

[2021-06-16 06:44] ebicoglu commented on #9333
There's this `IDistributedCache<TCacheItem, TCacheKey>`
You can inject `IDistributedCache<YourObject, string>` which has string value type

[2021-06-16 07:03] dmtuan opened #9334 "iOS (Apple devices) Login Problems - Missing Permissions - Blazor WebAssembly, Tiered ABP Project"
* **ABP Framework version**: 4.3.2
* Your **User Interface** type: Blazor WebAssembly
* Your database provider: SQL, EF Core

Hello, I have a **Tiered Blazor WA project** deployed on Azure. It works in Chrome and Edge browser. It **doesn't work on iOS (Apple) devices**. I tested it on iPhone and iPad (updated to latest) - when I log in, I see myself logged -> username is visible in top right corne

[2021-06-16 07:32] enisn opened #9335 "Implement Concurrency Check to all Aggregate Roots"
Check following modules & implement Concurrency Check if not implemented:
- [x] identity
- [x] account
- [x] background-jobs
- [x] blob-storing-database
- [x] blogging _(Partly done, see TODO list)_
- [x] cms-kit
- [x] docs
- [ ] ~feature-management~ _(No action required)_
- [ ] ~permission-management~ _(No action required)_
- [ ] ~setting-management~ _(No action required)_
- [x] tenant-management

[2021-06-16 07:39] maliming commented on #9334
What's the version? I can test it.

[2021-06-16 08:00] dmtuan commented on #9334
@maliming thank you for getting back to me.

I have tested it on Brave browser, version 1.25.72 Chromium: 91.0.4472.101 (Official Build) (64-bit)

Here's a tester account:
Login: tester1
Password: P@ssword789

When you login in Brave, you will only have Home in navigation. If you login in Chrome, you will have other menu items.

[2021-06-16 08:00] trickyrat commented on #9333
@ebicoglu thanks for your advices, but I want to save my object to redis string type not redis hash. I followed your advice, and it's same value. `IDistributedCache<CacheItem, string>` just set cache key to string type, not obejct to redis string.
![image](https://user-images.githubusercontent.com/19605145/122181281-cee12580-cebb-11eb-9d7a-489075eae69f.png)
![image](https://user-images.githubuserc

[2021-06-16 08:02] maliming commented on #9334
What's your website url?

[2021-06-16 08:04] dmtuan commented on #9334
Sorry ^^.. silly me.

https://uniparking.azurewebsites.net/

[2021-06-16 08:44] alexandis commented on #9067
I am now totally confused with this.
1) If I am defining route in `route.provider.ts` - what's the point of having route definition in `app-routing.module.ts`? Do i need to split the definitions and have part of it in one file and part - in another? If so, it's pretty confusing...
I've tried to relocate ALL route definitions from second file to the first, but I can see the route objects used there

[2021-06-16 08:50] dmtuan commented on #9334
@maliming I also notice that currentUser in application-configuration request is not set right:
![image](https://user-images.githubusercontent.com/7838796/122188687-7cd6da80-ce90-11eb-9c8f-e58b5433ff25.png)

Anyway, this all comes back to the main problem - blazor client is **not processing or not saving JWT token after logging in**. And subsequently there is no auth token to attach to application

[2021-06-16 08:52] enisn opened #9339 "Documentation of CmsKit Dynamic Menu Feature"
Create documentation according to #9261

[2021-06-16 08:59] maliming commented on #9334
hi

The Brave browser blocks third-party cookies by default.

![image](https://user-images.githubusercontent.com/6908465/122190170-2b484300-cec4-11eb-804b-f34083dea32c.png)

[2021-06-16 09:00] maliming commented on #9334
I don't know how to debug it. There is no problem with your cookies.

[2021-06-16 09:28] dmtuan commented on #9334
It works!

I tried unblocking third-party cookies in iPadOS and iOS and it finally works. Thank you for your answer which lead me to the resolution. (For example following this guide: https://akohubteam.medium.com/how-to-enable-third-party-cookies-on-your-browsers-f9a8143b8cc5). It's important to **uncheck both Prevent Cross-Site Tracking and Block All Cookies** (Block All Cookies will be uncheck

[2021-06-16 09:30] maliming commented on #9334
If someone can do it, Apple will reward him with a million dollars. 😉

[2021-06-16 09:30] #9334 closed, assigned to nobody

[2021-06-16 10:18] mehmet-erim opened #9343 "Angular UI: Get ngx-datatable messages from an injection token to be able to override the messages"
![image](https://user-images.githubusercontent.com/34455572/122201225-81a58980-cea4-11eb-8d47-2e099c04ab30.png)

The messages above on `ngx-datatable` are set by [`NgxDatatableListDirective`](https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/theme-shared/src/lib/directives/ngx-datatable-list.directive.ts#L36).

We'll add an injection token to be able to override these messages. Th

[2021-06-16 11:11] #9327 closed, assigned to realLiangshiwei

[2021-06-16 12:34] ArneCools opened #9345 "External login claims"
* 4.3
* Blazor server
* Sql Server

When logging in with an external service. How do I add custom claims to the user logging in.
My external login provides:
- http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname &
- http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname
But they are not saved to the database. How do I make sure abp Identity recognizes these claims?

[2021-06-16 12:45] #9343 closed, assigned to mehmet-erim

[2021-06-16 13:35] #9101 closed, assigned to maliming

[2021-06-16 13:35] #9113 closed, assigned to maliming

[2021-06-16 13:42] gterdem commented on #9345
You need to request these claims at openid connect configuration in your module startup and map these claims.

If you want to persist these claims in your database, then you need to override user creation to add these new claims. https://github.com/abpframework/abp/blob/b2324175cace5fb0f1385e49414f339931f8918f/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs#L269

[2021-06-16 13:46] sturlath opened #9347 "Abp theme CSS might be overriding Blazorise background property"
The `Background="Background.Dark"` is not applied and seems to be overridden, so its always white.

First I thought this was a problem with Blazorise and created an [issue there ](https://github.com/Megabit/Blazorise/issues/2482) but its likely some conflict.

* Your **ABP Framework version**:  4.3.2
* Your **User Interface** type: Blazor
* Your database provider: EF Core

[2021-06-16 13:53] antosubash commented on #8023
@pangjianxin this is not official but works for now. https://community.abp.io/articles/replacing-identityserver4-with-identity-in-abp-arh0jxe1

[2021-06-16 14:17] #9328 closed, assigned to hikalkan

[2021-06-16 14:31] #9033 closed, assigned to realLiangshiwei

[2021-06-16 14:32] #8930 closed, assigned to yekalkan, armgnunlu

[2021-06-16 15:03] sturlath opened #9348 "Blazor "Refused to load the script" error"
After  updating Visual Studio (v 16.10.2 and on the preview version 16.11.0 preview 2.0) I noticed the following error in the browser console. This error **might be older and unrelated** to the update but its around the time I noticed it first.

because it violates the following Content Security Policy directive: "script-src 'sha256-fa5rxHhZ799izGRP38+h4ud5QXNT0SFaFlh4eqDumBI='".
Note that 'script

[2021-06-16 17:17] tarikdevapp commented on #9322
Thank you for the respond, I appreciate it!
It worked as expected, however, another problem came up to the surface, now when I use your TenantAppService and do the same to it so I can override its CreateAsync method which uses the base.CreateAsync(), everything starts acting weird.
Let me walk you through it:

    [Dependency(ReplaceServices = true)]
    [ExposeServices(typeof(ITenantAppService),

[2021-06-16 17:34] jhulbertpmn commented on #9331
Interesting, thanks. I tried this and received the same error (again, making it through the permissions and settings, but failing for identity). I stepped through it in debug and I do see that it is running the ConfigureConcurrencyStampProperties method for the IdentityClaimType entity

[code]

[2021-06-16 21:30] leonardotvd commented on #8858
It doesn't work. The change was only to create an alphabetic order based on the field name. It makes no sense. I need to group my fields and show them in an order that makes sense for the user and subject. It doesn't work for me. I need one more property in to define the field order.

[2021-06-16 22:04] fileman commented on #9019
email sent, you can reply to that if you need something.

[2021-06-17 00:41] maliming commented on #8858
hi @leonardotvd Please create a new issue and explain it in detail.

[2021-06-17 00:44] maliming commented on #9331
hi jhulbertpmn

You can try it without abp framework. Just use EF Core to test and debug.

[2021-06-17 02:40] #7657 closed, assigned to realLiangshiwei

[2021-06-17 04:16] dangminhbk commented on #9318
@ebicoglu according to this document, https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Form-elements#label-localization-1 , have to use [DisplayName] attribute to archive localize error message.

[2021-06-17 04:16] #9318 closed, assigned to nobody

[2021-06-17 06:43] ebicoglu commented on #9019
hi @fileman we got your email. thanks. we'll merge it.

[2021-06-17 07:22] recruitans commented on #9285
I said it as a feature that can be added to the Volo.Forms module.

[2021-06-17 07:59] luochaorobert opened #9355 "How to extending IdentityUser entity with custom properties in a module template"
* **ABP Framework version 4.3.2**.
* User Interface type: MVC
* database provider: EF Core

At present, the examples in the official document are all implemented in the application template. I can implement them in my own project according to the document operation, but I don't know how to implement them in the module template.
Unlike the application template, there is no `DbMigrations` project an

[2021-06-17 08:25] maliming commented on #9355
You can do this in these projects.  Migrations in `HttpApi.Host` that only for your module.

![image](https://user-images.githubusercontent.com/6908465/122359824-79bf1580-cf88-11eb-8e06-82f458eec370.png)

[2021-06-17 08:30] #9355 closed, assigned to nobody

[2021-06-17 08:55] cotur commented on #9207
Yes, there is a bug.

Problem:
This bug occurs if there is no defined any feature for application.

If you have at least one feature for your application, you will not get error.

But we need to handle that, it will be handled in 4.4.

[2021-06-17 09:08] luochaorobert commented on #9355
You mean I should only migrate in these projects that you have framed ？

[2021-06-17 09:09] mehmet-erim commented on #9167
Hi @alexandis,

I can't reproduce that. Can you provide a small repository? Please note that create a new repo with app (-t app) template, not app pro.

[2021-06-17 09:32] personball opened #9357 "Generic Type in Api Dto will cause coupling between microservices."
* Your **ABP Framework version**.
From v3.1.2 (used in my team) ~ latest (checked latest version code)
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
Not related.
* Your database provider(EF Core/MongoDB)
Not related.
* Exception message and **stack trace** if available (check the logs).
Not related.
* Steps needed to **reproduce** the problem.

[2021-06-17 09:34] gdlcf88 commented on #9320
Code 204 means success with no content return.

[2021-06-17 09:35] #9320 closed, assigned to nobody

[2021-06-17 09:39] #9146 closed, assigned to mehmet-erim

[2021-06-17 09:45] holyrong commented on #9320
@maliming how can i logout the token?which endpoint can we call for this requirement?
we've tried many ways(oidc-client with implicit，password flow),but the token always be effective for calling protected apis.
if not resolve the token ,the sso application can't work normally.

[2021-06-17 09:50] holyrong commented on #9320
@gdlcf88
 even so, the token is still works。I think this is real problem。
We only received 204 from "api/account/logout",or received 302 from "account/logout",**but the old token still works**。
**It means wen can't logout from IDS application**。

[2021-06-17 09:55] holyrong commented on #9320
@gdlcf88
We only received 204 from "api/account/logout",or received 302 from "account/logout",
 even so, **the token is still works**。I think this is real problem。
**It means wen can't logout from IDS application**。

[2021-06-17 10:05] journey191 commented on #5644
@alexandis Hi,
I got the same error
![image](https://user-images.githubusercontent.com/11626700/122375732-1340f400-cf96-11eb-83e7-5f88a08061e9.png)

But I had added `RedirectUris ` and `PostLogoutRedirectUris`:
![image](https://user-images.githubusercontent.com/11626700/122375617-f99fac80-cf95-11eb-8345-625be4f0dda2.png)

what was wrong?

[2021-06-17 10:22] alexandis commented on #5644
Hi, i don't remember now - has been a while ago... And now - different version of ABP. Probably, the endpoint addresses are not fully correct? In my case, I am having just a host name (e.g. https://localhost:4200 - we use Angular app) in both cases.

[2021-06-17 10:43] jack-gaojz opened #9359 "API parameter default value null cannot work"
ABP: 3.3.2
User Interface: MVC
Database: EF core

* Steps needed to **reproduce** the problem.

I created an interface service with a default value parameter as below:
![image](https://user-images.githubusercontent.com/74571567/122380666-b09e2700-cf9a-11eb-92f8-c56eb8a8ecc7.png)

Then I call this API from the javascript level:
![image](https://user-images.githubusercontent.com/74571567/122380901-e

[2021-06-17 10:48] ArneCools commented on #9345
Hi, thank you for responding.

I'm using saml2 adfs with sustainsys for my external login.
When I call
`await _signInManager.GetExternalLoginInfoAsync();`
my claims are present. Do I still need to map these claims? and how exactly?

How do I override the Login.cshtml.cs class? Do I have to copy the entire "account module" and change references to that project instead of the NuGet package? Or is th

[2021-06-17 10:58] gterdem commented on #9345
It seems they are already mapped. If you are using openid connect, claim mapping should look like:
https://github.com/abpframework/abp-samples/blob/b24f9a46f48a9e8bfdf5a275b93a6521e534c433/Authentication-Customization/src/Acme.BookStore.Web/BookStoreWebModule.cs#L134
Mapping `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name` to `sub` claim.

Here is a community article about [how to cust

[2021-06-17 11:01] fileman commented on #9019
for the future, I have to revise all texts or you can send me only new localized string ?

[2021-06-17 11:17] alexandis commented on #9167
Uhm, it's hardly feasible - Tenant Switching functionality is a tightly bound to backend, DB structure...
I hoped that the client-side code above could bring some questions - probably is not fully correct from ABP 4.3.0 prospective.

[2021-06-17 11:27] berkansasmaz commented on #9019
Since we have written our infrastructure according to this situation, we can only send new localized strings in the future.

Before each final version, we will add the missing localizations, we will update them with our automatic translation tool, and then we can send them to you for checking and correcting mistakes?

[2021-06-17 11:29] journey191 commented on #5644
I find the answer from here:https://stackoverflow.com/questions/44684664/identityserver4-postlogoutredirecturi-null
Still Thanks

[2021-06-17 11:32] ArneCools commented on #9345
Thanks so much. That solved my problem!

[2021-06-17 11:32] #9345 closed, assigned to nobody

[2021-06-17 12:50] bnymncoskuner opened #9360 "How to handle tenantId from query parameters on landing pages"
When a user enters the application with a link containing `tenantId` (like a reset-password link, email-confirmation link or any other deeplink), we should change the current tenant to the given `tenantId` to provide a continuous user experience. Now, when a user clicks on a reset-password link with `tenantId`, they change their password and navigate to the login page. If they want to login to tha

[2021-06-17 13:01] hikalkan commented on #9360
The page gets and processes the querystring must set the cookie (typically for MVC apps). For angular, it should set the local storage and send that tenantId in the header for next requests.

So, [here](https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Pages/Account/ResetPassword.cshtml.cs#L64), we should set the tenant cookie first. Please also check if there a

[2021-06-17 13:08] fileman commented on #9019
yes, I'm available, especially if I don't have to reread all the thousands of lines :-)
but give me a few days

[2021-06-17 13:15] cotur commented on #9207
It's fixed in 4.3 patch milestone.

[2021-06-17 14:06] berkansasmaz commented on #9019
Ok, thanks, I'll contact you before the final versions :)

[2021-06-17 14:59] aliahmedaspose commented on #2364
I am getting the same error when I am downloading from https://abp.io/get-started (from the DIRECT DOWNLOAD tab). I also tried with the CLI, the error is the same,

[2021-06-17 15:00] DanzigGLT opened #9365 "Abp-Cli: Console-Template fails with Http Status 500 "'<' is an invalid start of a value.""
Version: ABP-Cli 4.3.3 (actual stable)

`abp new testproject -t console` gives Http 500

Exception-Message:
[error_abp_4_3_3_cli_console.txt](https://github.com/abpframework/abp/files/6671203/error_abp_4_3_3_cli_console.txt)

[2021-06-17 15:04] evictorel opened #9366 "Cascading entities are not deleted when they have composite keys."
* .NET 5.*
* ABP Framework **4.3.2**.
* EF Core
* PostgreSQL
* I have three entities, A, B, C with the following structure:

[code]

[code]

[code]

[code]

If i run the following, the cascading delete works fine, marking all three entities as IsDeleted.

[code]

On the other hand, in the other case, if I remove B, this is IsDeleted, but not C. AId is null, so there are no problems with the constr

[2021-06-17 15:33] baobeiboboda commented on #8512
i tried it but it doesn't work

[2021-06-17 15:39] aliahmedaspose commented on #2364
I am getting the following error while using CLI command to create new project.

rror occured while downloading source-code from https://abp.io/api/download/template/ : StatusCode: 500, ReasonPhrase: 'Internal Server Error', Version: 1.1, Content: System.Net.Http.HttpConnectionResponseContent, Headers:
{
  Date: Thu, 17 Jun 2021 15:35:09 GMT
  Transfer-Encoding: chunked
  Connection: keep-alive

[2021-06-17 15:46] aliahmedaspose opened #9368 "Unable to Create New Project ( #2364 )"
I am unable to create a new project. I tried it with the DIRECT DOWNLOAD method and site is throwing Internal Server Error 500. Please see the attached screenshot.
![Screenshot_208](https://user-images.githubusercontent.com/18484776/122430254-e0eec100-cfac-11eb-8e76-9446e48cd960.png)

I also tried it with the CLI method. I am getting the following error while doing it.

Error occured while downloa

[2021-06-17 15:49] aliahmedaspose commented on #9368
Similar issue was reported here #2364  : https://github.com/abpframework/abp/issues/2364

[2021-06-17 17:11] youssefDawood commented on #9366
Me too, I have the same problem exactly after they did the last update.

[2021-06-17 20:59] mmas02 commented on #9300
thanks, so no solution yet?

[2021-06-17 21:07] mrcarl79 commented on #3325
I've been struggling with this and the swagger.json not being liked by OpenAPI Generator, can you expand more on how you changed the long schema names?

[2021-06-17 21:16] mrcarl79 commented on #9368
Same error on the website for me also.

[2021-06-18 00:29] #7688 closed, assigned to nobody

[2021-06-18 01:37] #9045 closed, assigned to realLiangshiwei

[2021-06-18 01:38] maliming commented on #9365
We are checking.

[2021-06-18 01:46] maliming commented on #9366
Please provide a project.

[2021-06-18 05:56] mugambiwarwema commented on #2364
Same error here, unable to download startup template from abp.io.

Error: 500, An internal error occurred while processing your request.

[2021-06-18 06:10] ebicoglu commented on #9368
the release is still in progress, I'll notify you once we complete the release.

[2021-06-18 06:12] maliming commented on #9365
See #9368

[2021-06-18 06:12] #9365 closed, assigned to nobody

[2021-06-18 06:14] maliming commented on #9359
You can try to use input class.

[code]

[2021-06-18 06:14] #9359 closed, assigned to nobody

[2021-06-18 06:15] ebicoglu commented on #9368
you can download now

[2021-06-18 06:15] maliming commented on #2364
@mugambiwarwema

Please try again.

[2021-06-18 06:41] mehmet-erim commented on #9167
Changing the tenant affects the whole app, did you try to hard refresh ( `location.href = '/';`)

[2021-06-18 06:46] mugambiwarwema commented on #9368
Thanks, now it's working...

[2021-06-18 06:55] #9368 closed, assigned to nobody

[2021-06-18 07:09] DanzigGLT commented on #9368
👍

[2021-06-18 08:46] Panchalyashh opened #9370 "How to use Email Module to send email in ABP Framework ?"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-06-18 08:51] realLiangshiwei commented on #9370
https://github.com/abpframework/abp-samples/tree/master/EmailSendDemo

[2021-06-18 08:51] #9370 closed, assigned to nobody

[2021-06-18 13:56] #8577 closed, assigned to nobody

[2021-06-18 14:11] Stirda commented on #9300
A colleague of mine succeeded in displaying this by throwing a `BusinessException` implementing `IUserFriendlyException` too. I suppose that the "magical modal" system is plugged on `IUserFriendlyException` only. Either Volosoft can plug this rather on `IBusinessException` or they may tell us that it is intended that not all business exceptions are designed to be user-friendly.

[2021-06-18 14:14] evictorel commented on #9366
[Example](https://github.com/evictorel/Volo.Abp.SoftDelete)

At first I thought it was a problem to use composite keys, but then with entity D the same problem arises.

And I don't know if it is correct to use "UsingDbContext" to test these cases (AAppService_Tests).

Thanks

[2021-06-18 15:14] mmas02 commented on #9300
Can you provides an example?

[2021-06-18 15:17] Stirda commented on #9300
Just add IUserFriendlyException to the list of derivating classes/interfaces of your exception class. Cannot confirm this. Not in front of my computer.

[2021-06-18 17:40] mmas02 commented on #9300
[code]
Hmm... tried this but seem doesn't work

[2021-06-18 21:16] #8566 closed, assigned to nobody

[2021-06-18 21:36] alexandis commented on #9167
@mehmet-erim makes no difference. Could you please explain why after successful switching to another tenant and logging off I still have my 'old' tenant's cookie? If I manually delete this one in the browser and reload login page - switch box displays no tenant name selected. So there's dependency between this fact and my issue, I suppose: if there was new tenant's entry there - it would be in swi

[2021-06-19 07:57] meshfox opened #9373 "How can I set up 'Applicationservice. Commonpostfixes'？"
How can I set up 'Applicationservice. Commonpostfixes'？

[2021-06-19 08:01] birdy89 opened #9374 "ABP project don't run in first time using"
I created a new project by ABP CLI. When I received the project, I changed connection string and add a new migration to create database for fisrt time using. After, I run the project but it didn't run and here is the thing that I recevied
![Screenshot (1)](https://user-images.githubusercontent.com/82010847/122635587-0267be00-d10f-11eb-8bd5-b59da7bff2bf.png)
Can you help me? Thank.

[2021-06-19 08:20] dmtuan opened #9375 "Return Blazor client from HttpApi.Host"
* **ABP Framework version**: 4.3.2
* **User Interface**: Blazor WebAssembly
* Your database provider : EF Core

Currently there is no option when you create a new ABP framework project to have a **Blazor WA client to be returned by HttpApi.Host project**. The Blazor client is returned in a standalone project. This configuration doesn't make sense to me for small projects, where I'd like to have al

[2021-06-19 09:03] PMExtra commented on #8669
@ebicoglu It doesn't answer my question. The framework will set all auditing properties, but it only protect properties that about creation in `CreationAuditedAggregateRoot` without primary key.
I think it's a oversight, although it won't make big trouble.

[2021-06-19 10:02] yinchang0626 opened #9376 "Subdomain Tenant Resolver does't work fine with angular ui"
* Your **ABP Framework version**.
4.3.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
Angular
* Your database provider(EF Core/MongoDB)
EF Core
* Steps needed to **reproduce** the problem.

create a app by `abp new teanatdemo -t app -u angular`

1. Just follow Abp Docs in [Multi-Tenancy](https://docs.abp.io/en/abp/latest/Multi-Tenancy) and [Mul

[2021-06-19 20:17] tarikdevapp commented on #9322
.

[2021-06-19 20:58] aliahmedaspose commented on #9368
Thanks. It's working now.

[2021-06-19 23:12] #8238 closed, assigned to yekalkan

[2021-06-20 04:51] jack-gaojz commented on #9359
Thanks so much. This solution works fine.

[2021-06-20 13:47] yinchang0626 commented on #9376
I think maybe related with Issuser:
[code]

[2021-06-20 15:12] yinchang0626 commented on #9376
@maliming :
 I found the solution at your [sample](https://github.com/abpframework/abp-samples/blob/master/DomainTenantResolver/NG/angular/src/environments/environment.ts),Thank you.
1.angular environment.ts
[code]
2.aspnet-core appsettings.json
[code]
[code]

[2021-06-20 15:12] #9376 closed, assigned to nobody

[2021-06-20 16:38] #8309 closed, assigned to nobody

[2021-06-20 18:53] EngincanV commented on #9068
**Article:** https://community.abp.io/articles/using-elsa-workflow-with-the-abp-framework-773siqi9

[2021-06-20 18:53] #9068 closed, assigned to EngincanV

[2021-06-21 01:32] realLiangshiwei commented on #9375
Thanks, but we don't have a plan to do this.

[2021-06-21 01:35] realLiangshiwei commented on #9373
https://docs.abp.io/en/abp/latest/API/Auto-API-Controllers#route

Normalization can be customized by setting the `UrlActionNameNormalizer` option. It's an action delegate that is called for every method.

[2021-06-21 01:35] #9373 closed, assigned to nobody

[2021-06-21 01:37] realLiangshiwei commented on #9374
I think there is no relation to ABP. please read the document: https://docs.abp.io/en/abp/latest/Getting-Started

[2021-06-21 01:37] #9374 closed, assigned to nobody

[2021-06-21 03:00] ChangYinShung commented on #9376
Dotnet forget to add  those service in ConfigureServices

[code]

[2021-06-21 04:06] #7693 closed, assigned to nobody

[2021-06-21 05:07] hillin opened #9380 "Javascript API typings?"
It seems for most Javascript APIs (e.g. `abp.ajax`) the type definitions (.d.ts) is not present. Is there a plan to add typings for them?

[2021-06-21 05:36] #9360 closed, assigned to maliming

[2021-06-21 05:44] #9357 closed, assigned to nobody

[2021-06-21 06:01] Panchalyashh opened #9381 "I want to use default email module of abp framework. Help me with complete guide with all the code and file names."
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-06-21 06:34] realLiangshiwei commented on #9380
https://github.com/abpframework/abp/issues/9005

[2021-06-21 06:34] #9380 closed, assigned to nobody

[2021-06-21 07:56] iyilm4z commented on #9381
Hi @Panchalyashh, there is already [a doc](https://docs.abp.io/en/abp/latest/Emailing) related to emailing feature. Did you see it?

[2021-06-21 08:02] Panchalyashh commented on #9381
Yes, I have seen it but it is not much clear what to do.

On Mon, Jun 21, 2021, 13:26 iyilm4z ***@***.***> wrote:

[2021-06-21 08:07] EngincanV commented on #9381
There is a community article about sending emails, it might help. You can check the article from [here](https://community.abp.io/articles/replacing-email-templates-and-sending-emails-jkeb8zzh).

[2021-06-21 08:38] Panchalyashh commented on #9381
Thanks, I'll check it out.

On Mon, Jun 21, 2021, 13:37 Engincan VESKE ***@***.***> wrote:

[2021-06-21 08:48] realLiangshiwei commented on #7161
Will solved by https://github.com/abpframework/abp/pull/8676

[2021-06-21 08:50] #7161 closed, assigned to nobody

[2021-06-21 08:56] #9207 closed, assigned to cotur

[2021-06-21 10:00] Znow commented on #8978
@leonkosak The 2 first mentioned articles are outdated and does not work - I just tried them, with using alot of time on investigating things that aren't mentioned in the articles.

[2021-06-21 10:09] Znow commented on #8978
@hikalkan https://docs.abp.io/en/abp/latest/UI/Blazor/Theming -> https://docs.abp.io/en/abp/latest/UI/Blazor/Theming#the-easy-way "Basic Theme Source Code" gives 404...

[2021-06-21 11:11] hikalkan opened #9383 "Switch to the tenant if __tenant querystring parameter is sent"
In the app.UseMultiTenancy() middleware, set tenant cookie if __tenant parameter is sent in the querystring.

[2021-06-21 11:12] hikalkan opened #9384 "Switch to the given language if sent in the querystring"
Like https://github.com/abpframework/abp/issues/9383, if client sends it in the querystring, we can switch to that language persistently.

[2021-06-21 11:37] journey191 commented on #3123
Hi,@maliming
If disable the remote service,the methods of this service cannot be found in another microservice by Dynamic C# API Client Proxies.

[code]

[code]

![image](https://user-images.githubusercontent.com/11626700/122756263-c24c3b00-d2c8-11eb-8fce-ddea418607b3.png)

[2021-06-21 13:41] ebicoglu commented on #8962
this is because the Elastic Search service is unavailable, we are working on it.

[2021-06-21 20:21] #9375 closed, assigned to nobody

[2021-06-22 00:59] nguyenquanghuyit opened #9386 "How to get a entity from another module in solution project"
In my solution, there're 3 module project: A, B and C.

I used linq cmd to get an entity from B module project into A module project, but could not. Please show me how to get:

In my code:
(await GetDbContextAsync()).xxxx
xxxx: is an entity that I want to get

[2021-06-22 01:11] realLiangshiwei commented on #9386
You can reference module B in A and then inject the repository. just like the `Account` and `Identity` module https://github.com/abpframework/abp/blob/0033873178b3bc4e6ea9dcaae119d2492e28ca58/modules/account/src/Volo.Abp.Account.Application/Volo.Abp.Account.Application.csproj#L22

[2021-06-22 01:11] #9386 closed, assigned to nobody

[2021-06-22 03:24] okains commented on #1754
+1 for this feature also.  I have been waiting on this implementation for a while now.  Is there no workaround for the mapping issue?  How about @mtozlu implementation?

[2021-06-22 04:38] XuJin186 opened #9387 "DatabaseApiFactory Create IDatabaseApi"
* Your **ABP Framework version**.
* 4.3.2
* Your **User Interface** type (Angular/MVC/React... etc.)
* none
* Your database provider(EF Core/MongoDB)
* EF Core
* Exception message and **stack trace** if available (check the logs).
* none
* Steps needed to **reproduce** the problem.
* none

The Volo. Abp. EntityFrameworkCore package UnitOfWorkDbContextProvider class is instantiated directly EfCoreD

[2021-06-22 04:46] XuJin186 commented on #9387
Overriding the saveChanges method of DbContext is not the best choice

[2021-06-22 05:43] realLiangshiwei commented on #9387
https://entityframework-extensions.net/batch-savechanges#what-is-supported

EF Core and more provider support is under development

[2021-06-22 05:43] #9387 closed, assigned to nobody

[2021-06-22 05:46] slarkerino opened #9388 "How to send tenantid to downstream services when using ocelot with abp"
I am currently using ABP and ocelot to build a api gateway for microservices. Everything works fine but now I want to use api gateway as a domain resolver. ABP's Domain Resolver works to resolve tenantid from different domains but i want ocelot to able to send the resolved tenant id to the downstream services(Include __tenant header in the headers of the request to the downstream service).

[2021-06-22 05:47] XuJin186 commented on #9387
https://entityframework-extensions.net/bulk-savechanges
It does support EF CORE

[2021-06-22 06:14] realLiangshiwei commented on #9387
You can do it yourself. because it is not a standard ef core feature.

[2021-06-22 06:40] realLiangshiwei commented on #9388
Maybe you need to ask the ocelot team how to do it.

[2021-06-22 07:08] enisn opened #9389 "CmsKit - Menu Improvements"
- [x] Remove Menu AggregateRoot list from Admin UI and place TreeView directly under the 'Menus' menu.

[2021-06-22 07:25] seventychi opened #9390 "The main website is slow to surf"
Hi, Abp.io is a compelling framework, but when I surf on the main site to get detailed information, the site is slightly slow. For now, I download the DDD e-book but still want to get the complete document reading on the website.
Thanks a lot!

[2021-06-22 07:51] #9322 closed, assigned to nobody

[2021-06-22 07:55] realLiangshiwei commented on #9390
Thanks, we will check it.

[2021-06-22 09:33] jeanerasmus commented on #1469
@hillin I've tried the approach you have suggested but getting the following error:

Authorisation failed! Given policy has not granted:

Regards.

[2021-06-22 09:44] antosubash commented on #9390
@realLiangshiwei docs website is slow as well. came here to post an issue but saw this so commenting here.

[2021-06-22 10:59] hillin commented on #1469
@jeanerasmus it should have something to do with your same site cookie policy. Read: https://web.dev/samesite-cookies-explained/

[2021-06-22 11:36] leonkosak commented on #9084
For DX localization (**Intl**), where:

[code]

should be placed in abp project?
Thank you.

https://docs.devexpress.com/AspNetCore/400577/devextreme-based-controls/concepts/localization#intl

[2021-06-22 15:18] mostafa1790 opened #9400 "Web Test For Razor Pages In Tired Project"
Hi,

I am using the latest version of abp framework **Tired** and I tried to test razor web pages there is no response from GetResponseAsStringAsync method

[2021-06-23 01:14] realLiangshiwei commented on #9400
`Tiered` project does not provide `Web.Tests` project

[2021-06-23 01:22] realLiangshiwei commented on #9400
Discuss in https://github.com/abpframework/abp/discussions/9398

[2021-06-23 01:22] #9400 closed, assigned to nobody

[2021-06-23 01:35] catwarrior opened #9401 "Questions for connection string of multitenant - CurrentTenant changed to null forcely"
in latest abp 4.x.x

when perform db interaction, CurrentTenant changed to null forcely if Entity do not implement IMultiTenant interface, and these is no configuration to control this behavior.

Is it possible to make this one configurable? Otherwise for for auto implemented generic repositories we can not control the tenant.

and In abp 3.x.x, there is no tenant switch here.

`
public class EfCo

[2021-06-23 02:00] realLiangshiwei commented on #9401
Hi,

This is by design, but the method is `virtual`, you can override it.

[2021-06-23 02:00] #9401 closed, assigned to nobody

[2021-06-23 02:03] sofm13 opened #9402 "Can i rewrite DynamicApi action?"
Can i rewrite DynamicApi action? like xx/getConfig To xx/get-Config,I want have the '-'

[2021-06-23 02:06] realLiangshiwei commented on #9402
https://docs.abp.io/en/abp/latest/API/Auto-API-Controllers#route

Yes, you can do it.

[2021-06-23 02:16] sofm13 commented on #9402
thanks

[2021-06-23 02:16] #9402 closed, assigned to nobody

[2021-06-23 03:31] realLiangshiwei opened #9403 "Upgrade microservice sample to the latest"

[2021-06-23 07:08] gdlcf88 opened #9404 "Concurrency problem of `PermissionValueProviderManager`"
I ran an ABP host, and when it was ready, I sent it more than 10 HTTP API requests, and I got the throw:

![image](https://user-images.githubusercontent.com/30018771/123051032-e8dab500-d433-11eb-8fc6-9afae5b59b4e.png)

The stack shows that the problem was in the [AbpLazyServiceProvider](https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.Core/Vo

[2021-06-23 07:14] realLiangshiwei commented on #9404
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-06-23 07:23] gdlcf88 commented on #9404
I noticed that the AbpLazyServiceProvider is implementing ITransientDependency, it is not a problem about concurrent, and I
can not reproduce it again.

I will reopen this issue if there is more information.

[2021-06-23 07:38] hikalkan opened #9405 "Provide a way to merge multiple api-definitions in a single point"
Dynamic client proxies ([c#](https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients) and [js](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Dynamic-JavaScript-Proxies)) relies on an endpoint on the server that is provided by the ABP Framework: [api/abp/api-definition](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApiExploring

[2021-06-23 07:57] #9019 closed, assigned to nobody

[2021-06-23 08:10] #9389 closed, assigned to enisn

[2021-06-23 09:26] yekalkan opened #9407 "Docs module: Hide edit button when using FileSystem"
reported at https://support.abp.io/QA/Questions/1520/How-can-I-edit-markdown-document-with-using-ABP-Docs-Module

[2021-06-23 13:01] sachindratomer opened #9412 "FileManagement Module Source Code"
Hi There,

MY account has a commercial license and I want to utilize the file management module. The requirement to enhance the File Management module like adding thumbnail for images etc. for major changes in source code, modification is suggested but I am unable to download code and getting below error message.

An error occurred while getting the latest version from https://abp.io/api/download/

[2021-06-23 13:10] hikalkan opened #9413 "Consider to switch to SweetAlert2"
SweetAlert is not so active.

[2021-06-23 13:26] #9407 closed, assigned to yekalkan

[2021-06-23 13:27] #9256 closed, assigned to yekalkan

[2021-06-23 13:45] muratyuceer opened #9416 "Login Page Not Redirect"
* 4.3.3
* Blazor Server (Not Tired)
* MongoDB

Hello
I created new project from zero. Problem is for example click login page and click login you will redirect to main page successfully. But after enter login page link to your browser manually it will open login page and will ask username & password , Even though I'm logged in.

Its should redriect to main page if user login.

[2021-06-23 14:12] #9403 closed, assigned to realLiangshiwei

[2021-06-23 14:55] muratyuceer opened #9417 "Tenant Not Found Error (Http 500)"
4.3.3
Blazor Server (Not Tired)
Mongo DB

Scenario, create tenant with name is X (seed data) after login with this tenant, close windows. Delete database, create database and create tenant with name is X (seed data). After open browser. It will throw http 500 error. Its try to find tenant from previous token. Instead of throw error its should ignore it..

Error log:

2021-06-23 13:06:24.653 +03:00

[2021-06-23 19:09] Coolioyang commented on #9417
Yes, Same problem as mine.
Currently,  my workaround (not best solution) is to clear the old data of cookies and localStorage when App booting. By the way, I use Angular SPA

in main.ts:
[code]

[2021-06-24 00:30] yuyuguo1707 opened #9418 "Volo.Abp.Dapper can not change connectionstring"
### Documentation
I hava demands   I need dynamic changedatabase connection  when the application run, when I us
 await  GetDbConnectionAsync() ,the dbconnection  state is **Open** , So  i can not change the ConnectionString ;  When I
Close then Connection , can change it ,But  GetDbTransactionAsync()  Is Null  , The function  need  a  transcation .
So How Can  get a  tranction
`
           var db

[2021-06-24 00:32] realLiangshiwei commented on #9417
There is no problem throw an exception when the tenant does not exist.

You can replace the `ITenantConfigurationProvider` for your case.

[2021-06-24 00:32] #9417 closed, assigned to nobody

[2021-06-24 00:41] realLiangshiwei commented on #9418
Hi,

You don't need to close the connection. EF Core support changed a DbConnection or connection string can now be changed on an already-initialized DbContext.

Example:

[code]

[2021-06-24 00:42] realLiangshiwei commented on #9416
* Steps needed to **reproduce** the problem.

[2021-06-24 00:46] realLiangshiwei commented on #9412
Hi,

Maybe your license does not include the source code, and we don't discuss commercials in the community. you can send an email to `info.abp.io`

[2021-06-24 00:46] #9412 closed, assigned to nobody

[2021-06-24 02:06] yuyuguo1707 commented on #9418
@realLiangshiwei   sorry  the demo is efcore ，i use dapper ；Because I need  switch multiple databases with “SQL”， Worry about performance ，so I select dapper

[2021-06-24 02:27] realLiangshiwei commented on #9418
https://docs.abp.io/en/abp/latest/Dapper#dapper-integration

[2021-06-24 02:27] #9418 closed, assigned to nobody

[2021-06-24 04:55] hillin opened #9419 "Why is EntityFrameworkCore.DbMigrations project referenced by HttpApi.Host and IdentityServer project?"
In the (tiered) startup template, the `EntityFrameworkCore.DbMigrations` project is referenced by both `HttpApi.Host` and `IdentityServer` project. Also the `EntityFrameworkCoreDbMigrationsModule` is depended by the `HttpApiHostModule` and `IdentityServerModule`. However since nothing in `EntityFrameworkCore.DbMigrations` is used in runtime, why would it be referenced by these runtime assemblies?

[2021-06-24 05:00] realLiangshiwei commented on #9419
See https://github.com/abpframework/abp/issues/8776

[2021-06-24 05:00] #9419 closed, assigned to nobody

[2021-06-24 05:08] hillin commented on #9419
@realLiangshiwei Yes I'm aware of that issue. In our project we'd prefer to keep a cleaner separation between the DB migration contexts and the runtime DB contexts. We are even considering to merge the DB migration project with the DB migrator - if the DB migration stuff is not required in the runtime, the DB migrator may be one of the only two projects that need it (along with the `EntityFramewor

[2021-06-24 05:10] realLiangshiwei commented on #9419
See: https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna

You can remove the migration project.

[2021-06-24 05:16] hillin commented on #9419
@realLiangshiwei well yes... that article is about the same thing of #8776.
Say if we unify the DB contexts as the article instructed, `HttpApi.Host` and `IdentityServer` now would only need to reference the `EntityFrameworkCore` project, which they already did; but they can still *see* the DB migration stuffs, and their modules are still *depending on* them. However what I'd like to understand is

[2021-06-24 05:20] realLiangshiwei commented on #9419
Please check the official documentation before asking questions
https://docs.abp.io/en/abp/latest/Startup-Templates/Application#entityframeworkcore-dbmigrations-project

[2021-06-24 05:25] hillin commented on #9419
@realLiangshiwei Could you please shed some light on how that documentation helps on this topic? I'm aware of every line in that documentation, as it says:

But still the `EntityFrameworkCore.DbMigrations` project is referenced by *runtime* projects in the startup template, which is what I'm wondering here.

Even if the reference is unified and removed as addressed by the article above, these non-

[2021-06-24 05:31] realLiangshiwei commented on #9419
Because we want to use `dotnet ef` and  `add-migration` command. long story to short: you can delete it according to this article: https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna

[2021-06-24 05:52] hillin commented on #9419
Thanks, that's reasonable.

[2021-06-24 06:21] Loongle opened #9420 "Separating Host & Tenant Database Schemas don't work"
https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations#separating-host-tenant-database-schemas
referenced document

abp version: 4.3.3

### Repeat steps
1. download my project
[aspnet-core.zip](https://github.com/abpframework/abp/files/6706702/aspnet-core.zip)

2. change to your connection string
![image](https://user-images.githubusercontent.com/7290992/123211786-80084100-d4f6-11eb-8a

[2021-06-24 06:25] Loongle commented on #9283
i think you remove ` app.UseErrorPage();`, and then it's noraml 😂

[2021-06-24 06:44] realLiangshiwei commented on #9420
You need to create the tenant DB context

![image](https://user-images.githubusercontent.com/16813853/123215146-aa5bfd80-d4fa-11eb-83a5-66d54d1f186b.png)

[2021-06-24 08:30] realLiangshiwei opened #9422 "Update Event Bus document"
Add exception handling section

Related https://github.com/abpframework/abp/pull/8829

[2021-06-24 10:10] mugambiwarwema commented on #9416
Download a fresh project, build the front end and backend,

Click login button, not redirecting to login page from home page.

Happened to me with the Angular version

[2021-06-24 10:27] mugambiwarwema opened #9424 "Extended Module Dto and Entity will not show the added properties on API"
Abp.io v4.3, No.tier, MongoDb

I wish to add some properties to the tenant module.

As such, here's what I have done in the file;

[code]

Then I went to the file

[code]

The property is not added/visible when I navigate to my api/tenant/create on swagger.

[2021-06-24 11:03] cotur commented on #9388
https://stackoverflow.com/questions/68078156/how-to-send-tenantid-to-downstream-services-when-using-ocelot-with-abp/68114482#68114482

You can create a `Middleware` for adding `ResolvedId` to the request headers. So the ocelot will send the edited request to downstream with the `tenantId`.

Example:

[code]

As you see, the middleware manupilates the request, it's adding the CurrentTenantId to the

[2021-06-24 11:44] realLiangshiwei commented on #9424
https://github.com/abpframework/abp/issues/9257#issuecomment-856358762

[2021-06-24 11:44] #9424 closed, assigned to nobody

[2021-06-24 11:52] realLiangshiwei commented on #9416
Thanks, I will check it

[2021-06-24 15:31] realLiangshiwei commented on #9416
I can't reproduce your problem.

![ng](https://user-images.githubusercontent.com/16813853/123290910-37777480-d544-11eb-9230-63989a953050.gif)

[2021-06-24 15:33] realLiangshiwei commented on #9416
Auth server is an independent website. There is no problem.

[2021-06-24 15:33] #9416 closed, assigned to nobody

[2021-06-24 15:44] muratyuceer commented on #9416
Problem is returnurl not work, for example enter gmail login page, if you login before it will redirect you but abp not. RedirectUrl query key is redirecturl right?

[2021-06-24 15:48] muratyuceer commented on #9417
Okey,  for some reason i deleted my tenant and create with same name (he was login before) but because of this problem he cant open site, he must clear cookies

[2021-06-25 00:48] realLiangshiwei commented on #9416
@muratyuceer

How I reproduce it?

[2021-06-25 01:03] danilo73r opened #9429 "Not redirect to initial url, after login (angular)"
I have many route paths:

[code]

when I click a routeLink that go to 'secret', the app goes to LoginPage, but after login succesfull it redirect me to home not to secret.

Note: I didn't delete the "abp-dynamic-layout" component from app.component, I'm only replacing the "abp-application-layout".

-------

the source code guard:

[code]

[2021-06-25 01:06] #7975 closed, assigned to nobody

[2021-06-25 02:33] guolianyu opened #9430 "how to remove phonenumber unique validation"
how to remove phonenumber unique validation

[2021-06-25 02:35] GotzeWong opened #9431 "Can not find the 'Actions' button any more when update theme"
Hi,
   It's so glad to see the updates. But I met some new issues when I updated the themes with  https://github.com/abpframework/abp/pull/9208.

### Issues

* ABP Framework version:  latest version.
* MVC  with Basic theme

* Steps needed to **reproduce** the problem.

 Run  "BackendAdminApp" Demo and UI is shown below at the first sight.

![image](https://user-images.githubusercontent.com/766403

[2021-06-25 02:53] realLiangshiwei commented on #9431
Can you provide a sample project to reproduce?

[2021-06-25 02:54] realLiangshiwei commented on #9430
![image](https://user-images.githubusercontent.com/16813853/123362711-ae902580-d5a3-11eb-81f5-df7bc62752d8.png)

There is no phonenumber unique validation

[2021-06-25 02:54] #9430 closed, assigned to nobody

[2021-06-25 03:10] danilo73r commented on #9429
I noticed that when I put "localhost:4200/principal/secret" on the browser url, for a couple of miliseconds it changes to "localhost:4200" and then it change to "https://localhost:44300/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2F.......".

Maybe that is because it redirect to '', which redirects to 'home'

[2021-06-25 03:55] hillin opened #9432 "abp.ajax fails silently when jqXHR.status === 0"
If I understand correctly, [`abp.ajax` fails silently and leaves a hanging promise when `jqXHR.status === 0`](https://github.com/abpframework/abp/blob/1efc962aa1e15da6938ff2a3b6110ce869a0ed90/npm/packs/jquery/src/abp.jquery.js#L109). According to the comment in the abovementioned code, it is expected that the request is aborted in such case. However,
- `jqXHR.status === 0` can occur in other situa

[2021-06-25 03:58] Loongle commented on #9420
How can I refer to my tenant db context?

[2021-06-25 03:59] Loongle commented on #9420
![image](https://user-images.githubusercontent.com/7290992/123367591-c8823600-d5ac-11eb-980c-cd4f664fc399.png)

It doesn't work

[2021-06-25 04:03] realLiangshiwei commented on #9420
See https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations#create-the-second-dbmigrationdbcontext

[2021-06-25 04:27] realLiangshiwei commented on #9432
I think there is no problem because you can see the error in the console tab. This is consistent with the default behavior

![image](https://user-images.githubusercontent.com/16813853/123369634-adb1c080-d5b0-11eb-86f8-9f573fe0eae0.png)

[2021-06-25 05:28] hillin commented on #9432
But it doesn't give the caller a chance to handle the error

[2021-06-25 05:45] realLiangshiwei commented on #9432
You are right, we should consider allowing the developer to handle the error.

[2021-06-25 07:51] muratyuceer commented on #9416
For example, if i have login before when i go https://localhost:44313/Account/Login?returnurl=http://localhost:44313/ it should redirect https://localhost:44313 but its not redirect.

(If returnurl right query key)

[2021-06-25 08:30] realLiangshiwei commented on #9416
It will redirect when you login success

[2021-06-25 09:37] GotzeWong commented on #9431
Hi, @realLiangshiwei，it's `AuthServer.Host` project from microservices demo with identity web module.

I also found the related error from 'network' tab of chrome bebugger.
![image](https://user-images.githubusercontent.com/7664030/123402556-70fabf00-d5da-11eb-8c30-7ff13abf29cf.png)

[2021-06-25 09:45] realLiangshiwei commented on #9431
You should check the application logs

[2021-06-25 10:47] GotzeWong commented on #9431
Followed @realLiangshiwei suggestion and checking the AuditLogging below

[code]

And the exception is below

- Actions:
  Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.AbpApplicationConfigurationAppService.GetAsync (1198 ms.)
- Exceptions:
   An exception was thrown while activating Volo.Abp.Features.DefaultValueFeatureValueProvider -> Volo.Abp.FeatureManagement.FeatureStore -> Volo.Abp.Featu

[2021-06-25 10:48] jeanerasmus opened #9434 "Volo.Abp.AbpException: No theme registered! Use AbpThemingOptions to register themes"
Good day,

Getting the following error when deploying to Azure App Service:
Volo.Abp.AbpException: No theme registered! Use AbpThemingOptions to register themes.

ABP Framework version 4.3.0
UI : MVC / Razor Pages
Tiered : Yes
EF Core
Volo.Abp.AbpException: No theme registered! Use AbpThemingOptions to register themes.

1. Create application via CLI.
2. Build in Visual Studio
3. Deploy using Visua

[2021-06-25 11:00] GotzeWong commented on #9431
Followed the exception and I found the exception occurs in `AbpApplicationConfigurationAppService.cs` line 89.

[code]

When I comment the line 89, all becomes well.

Step into `GetFeaturesConfigAsync()`,  exception occurs below.

`result.Values[featureDefinition.Name] = await FeatureChecker.GetOrNullAsync(featureDefinition.Name);`

[2021-06-25 11:15] realLiangshiwei commented on #9431
microservice sample has updated to latest. You can refer it

[2021-06-25 12:47] ghost commented on #1754
+1 for this feature

[2021-06-25 13:31] realLiangshiwei commented on #9434
See https://github.com/abpframework/abp/issues/6627

[2021-06-25 13:55] jeanerasmus commented on #9434
Hi, this is my function in my host module, #6627 does not apply.

        public override void OnApplicationInitialization(ApplicationInitializationContext context)
        {
            var app = context.GetApplicationBuilder();
            var env = context.GetEnvironment();

            if (env.IsDevelopment())
            {
                app.UseDeveloperExceptionPage();
            }

[2021-06-25 14:02] realLiangshiwei commented on #9434
Can not reproduce your problem, can you provide a simaple project to reproduce.

[2021-06-25 17:38] #9333 closed, assigned to nobody

[2021-06-25 18:30] felipealbuquerq opened #9436 "[Document Translation] MongoDb Integration - Portuguese"
### Page

[MongoDB Integration -> Integração do MongoDB](https://docs.abp.io/pt-BR/abp/latest/MongoDB)

### Steps

I will translate keeping some words that I think are important to continue in English.

Those words that really need to be in Portuguese I will do the translation.

[2021-06-25 18:31] felipealbuquerq commented on #9436
@hikalkan @realLiangshiwei @enisn @maliming Can I work on it?

[2021-06-25 18:35] hikalkan opened #9437 "Invalidate client configuration cache for blazor server-side apps"
Currently, if we change a permission for the current user in a blazor server application, the change may not affect up to 5 minutes because of the cache.
MVC permission, setting and feature management module UIs has cache invalidation for that case, but we hadn't implement it for the blazor server side.

[2021-06-25 18:47] felipealbuquerq commented on #9436
![image](https://user-images.githubusercontent.com/1964926/123471723-98e32600-d5cc-11eb-9509-8d1662556b96.png)
Preview...

[2021-06-25 20:12] cotur commented on #9436
Hi @felipealbuquerq,

Thanks for your contribution, feel free to open a pull request. :)

I will assign this issue to you.

[2021-06-26 05:51] GotzeWong commented on #9431
I tried install package
`<PackageReference Include="Volo.Abp.FeatureManagement.HttpApi.Client" Version="4.3.3" />`
 but not include package with lastest codes
`<ProjectReference Include="..\..\..\abp\modules\feature-management\src\Volo.Abp.FeatureManagement.HttpApi.Client\Volo.Abp.FeatureManagement.HttpApi.Client.csproj" />`.

And it's back to normal again. I will leave it later to figure out what

[2021-06-26 07:27] GotzeWong opened #9439 "Remote service 'AbpFeatureManagement' was not found and there is no default configuration"
Version=ABP 4.3.3

When click ![image](https://user-images.githubusercontent.com/7664030/123504635-3aca4780-d68d-11eb-81d0-8303b06a0579.png), it returns 500 error.

![image](https://user-images.githubusercontent.com/7664030/123504606-0e163000-d68d-11eb-8248-5d92f136077d.png)

The log shows below
`Volo.Abp.AbpException: Remote service 'AbpFeatureManagement' was not found and there is no default con

[2021-06-26 15:24] #9437 closed, assigned to hikalkan

[2021-06-27 01:49] maliming commented on #9167
Hi

How to repro this?

[2021-06-27 01:53] #9420 closed, assigned to nobody

[2021-06-27 02:03] #8812 closed, assigned to nobody

[2021-06-27 02:16] maliming commented on #3123
HI journey191

Can you try this in the latest version abp?

https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-a-controller

[2021-06-27 02:27] maliming commented on #8978
Basic Theme Source Code: https://github.com/abpframework/abp/tree/dev/modules/basic-theme

https://github.com/abpframework/abp/pull/9352

[2021-06-27 02:29] maliming commented on #9384
I think we can use `culture` and `ui-culture` in querystring .

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-5.0#querystringrequestcultureprovider-2

[2021-06-27 07:22] alexandis commented on #9167
Hi, I cannot share our solution - switching tenant from within **Angular** app is our custom functionality. But the idea is pretty simple - and I think you can repro it in your test app using basically `IExtensionGrantValidator` overriding (see below) and front-end piece using the code above. Probably `IExtensionGrantValidator` needs to rewrite **_tenant** cookie? But in previous ABP version our f

[2021-06-27 13:44] antosubash opened #9440 "Article Request: Basic theme without Bootstrap."
I see there is a lot of improvements made in ABP to make it themeable and to add the basic theme to the created project to make it easy to create our theme. It will be great if there is documentation or community article to remove bootstrap from the theme and replace it with something else like material or tailwind.

[2021-06-27 20:05] #8671 closed, assigned to stsrki

[2021-06-27 21:35] muscankaraoglu opened #9441 "Getting granted-policies and roles without tenancy in application-configuration isn't working properly."
We are working on abp framework 4.3 EF Core, Angular project with multi-tenancy.

We have tenancy independent roles and permission records on db.
Roles:
![image](https://user-images.githubusercontent.com/57826345/123559499-06e24580-d7a5-11eb-8094-8bc3d1c3921a.png)
Example Permissions:
![image](https://user-images.githubusercontent.com/57826345/123559533-3db85b80-d7a5-11eb-9271-c27f69a1dcf2.png)
Us

[2021-06-28 00:11] maliming commented on #9366
hi @evictorel
You can try to manually delete the associated entities. And cancel the cascade delete for the soft delete entities.

![image](https://user-images.githubusercontent.com/6908465/123563559-028b4c00-d7e8-11eb-8849-0bbd66a15fba.png)

[2021-06-28 00:17] maliming commented on #9084
@cotur

Do you have any advice of `DevExpress.localization.locale("de");`?

[2021-06-28 01:42] realLiangshiwei commented on #9439
Can't reproduce the problem.

[2021-06-28 01:55] #9432 closed, assigned to realLiangshiwei

[2021-06-28 02:56] maliming commented on #9441
hi

Please share some steps so that we can use the code to reproduce the problem. Thanks.

[2021-06-28 03:23] #9422 closed, assigned to realLiangshiwei

[2021-06-28 05:33] maliming commented on #9167
The `IExtensionGrantValidator` should not control cookies. You can manually change cookies after this endpoint is successfully called.

[2021-06-28 05:41] alexandis commented on #9167
Ok. The question is "is _tenant - ABP Cookies"? I think it is. Where exact file and place I need to replace this cookie? Please show the relevant suitable code fragment. I may try then to do what you say, bit if this doesn't work, I would kindly ask you to repro the issue.

[2021-06-28 05:45] maliming commented on #9167
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Pages/Abp/MultiTenancy/TenantSwitchModal.cshtml.cs#L61-L69

[2021-06-28 05:45] #8839 closed, assigned to nobody

[2021-06-28 07:03] armanozak commented on #9069
Hi @mmoazibrahim,

Sorry for the late response.

What you see is not an ordinary `<input>`. It is a typeahead component and it will make requests and display some options when you start typing in it. This is the default behavior of the extensions module and provides a better UX in most cases. The `autocomplete` attribute is set as `off` to avoid any automated assistance from the browser.

[2021-06-28 08:00] cotur commented on #9084
If the `DevExpress Localization` scripts requires to be located at `<head>..</head>`,
You should use the [Layout Hooks](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Layout-Hooks).

[2021-06-28 09:15] tim-pankoke commented on #8948
Hi everyone, I'm experiencing the same issue, any help appreciated!

[2021-06-28 09:37] #8832 closed, assigned to mehmet-erim

[2021-06-28 12:05] felipealbuquerq commented on #9436
@cotur I finished the translation https://github.com/abpframework/abp/pull/9443

[2021-06-28 12:33] maliming commented on #8844
https://github.com/abpframework/abp-samples/pull/91

[2021-06-28 12:33] #8844 closed, assigned to nobody

[2021-06-28 14:05] khanhtranchi commented on #9068
Hi @EngincanV,

Thanks for your guide. I download your sample project to deploy but when I edit the workflow and click publish it throw the exception "An error occurred: Request failed with status code 500".
Could you try and guide us how to fix this error ?

Thanks.

[2021-06-28 17:45] #8724 closed, assigned to nobody

[2021-06-28 18:40] hikalkan commented on #6132
I suppose it will take a few more weeks.

[2021-06-28 19:22] radrad commented on #6132
@hikalkan
If  tailwind css will be used instead of boostrap, could you provide some recommendation how to achieve non-bootstrappy look and feel. Tailwind is a utility type of css framework with more typing and more control over look and feel.
I we want to have a full control over our layout and component look and feel what else needs to be done when using tailwind?

I know you  have bootstrap tag

[2021-06-28 21:50] tinonetic opened #9445 "Where is the Blob stored when using the Databse?"
Hi,

My environment is

ABP 4.3
Client: Postman
DB Provider: EF Core
DB: PostgreSQL

I have used Blob storage for local file storage and for Azure Blob storage without issue. But I do not see where the blob data is stored when using a database provider.

I followed the tutorial from https://docs.abp.io/en/abp/latest/Blob-Storing-Database on Blob storage.

I am using a database storage provider [as

[2021-06-29 00:34] #9436 closed, assigned to felipealbuquerq

[2021-06-29 01:29] maliming commented on #9445
hi

The blob is store in the `DatabaseBlob` entity/table.

https://github.com/abpframework/abp/blob/dev/modules/blob-storing-database/src/Volo.Abp.BlobStoring.Database.Domain/Volo/Abp/BlobStoring/Database/DatabaseBlob.cs#L18

https://docs.abp.io/en/abp/latest/Blob-Storing-Database#entities

[2021-06-29 01:31] maliming commented on #9068
hi @khanhtranchi

Please create a new issue.

[2021-06-29 01:58] maliming commented on #8948
HI @DanielGlos

Can you make your project support localdb and add database migration, etc.?

[2021-06-29 02:15] realLiangshiwei commented on #8948
Hi,

I used the latest template and it worked fine, see https://github.com/realLiangshiwei/AbpOdataDemo

![image](https://user-images.githubusercontent.com/16813853/123726313-55393680-d8c2-11eb-8856-a43cd437a252.png)

[2021-06-29 02:46] khanhtranchi opened #9446 "Sample project with Elsa Workflow can not edit workflow created with designer"
I downloaded the sample project at https://github.com/abpframework/abp-samples/tree/master/ElsaDemo to try. But when create and edit the workflow from designer and click publish it throw the exception "An error occurred: Request failed with status code 500".
I created the clean new project and followed the steps from Elsa's article, it works normally.
Elsa and ABP are 2 great frameworks, and it wo

[2021-06-29 04:05] luochaorobert opened #9447 "Error: No items provided for select attribute"
* **ABP Framework version 4.3.2**
* User Interface type: MVC
* database provider: EF Core

I extended a property of a enum type to IdentityUser:
[code]

When I start the web page, I can open the form of create users and add users normally, but when I click edit users, I will get 500 errors. I checked the console log, see error: `No items provided for select attribute.`
[code]
By querying the sourc

[2021-06-29 05:12] maliming commented on #9447
Can you try your code in the template project and share it?

[2021-06-29 05:36] maliming commented on #9446
Can you share the logs?

[2021-06-29 05:45] LFDCC opened #9448 "Do I have to use Autofac if I want to implement an AOP interceptor?"
I clone the source code of ABP vnext and find that only Volo. Abp.Autofac uses the IABPInterceptor

If I don't use Autofac as the IOC container, how can I implement AOP interception?

I have implemented it in my own source code.  I would like to see how ABP VNext is implemented!!!

[2021-06-29 05:52] maliming commented on #9448
The `DynamicProxy` is abstract.  It uses [Castle](https://github.com/castleproject/Windsor).

https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.Core/Volo/Abp/DynamicProxy
https://github.com/abpframework/abp/tree/48c52625f4/framework/src/Volo.Abp.Castle.Core/Volo/Abp/Castle/DynamicProxy

[2021-06-29 05:52] #9448 closed, assigned to nobody

[2021-06-29 07:01] luochaorobert commented on #9447
This is a new template I have created: https://github.com/luochaorobert/UserTypeTest
Please have a look. Thank you for your help!

[2021-06-29 07:02] #8397 closed, assigned to maliming

[2021-06-29 07:05] maliming commented on #9447
HI

* Steps needed to **reproduce** the problem.

[2021-06-29 07:22] luochaorobert commented on #9447
1. `update-database` in the project `UserTypeTest.IdentityServer`
2. Start the three projects in sequence: `UserTypeTest.IdentityServer`, `UserTypeTest.HttpApi.Host`, `UserTypeTest.Web.Host`
3. Enter the user management page（`https://localhost:44383/Identity/Users`）
4. Select a user and click Edit

And then the error occurred.

[2021-06-29 07:23] khanhtranchi commented on #9446
Here is your requested log.
[logs.txt](https://github.com/abpframework/abp/files/6731462/logs.txt)

[2021-06-29 07:50] DonVliet opened #9450 "Error 500 creating new pre-release project"
Create new project form the Getting Started page

**Project name:** Testing
**Project type:** Application
**UI Framework:** Blazor Server
**Database Provider:** Entity Framework Core
**Database management system:** SQL Server

Select "Uses latest pre-release version (4.4.0-rc.1)."

![image](https://user-images.githubusercontent.com/69393775/123758569-f5895e00-d8b6-11eb-8e75-6c3d8b6f32b4.png)

[2021-06-29 07:54] antosubash opened #9451 "docs is really slow to surf. it is not usable right now."
I know there is already a issue of the for the main website but this is for the docs. it is not usable right now. i'm using the github for the documentation right now.

[2021-06-29 08:01] berkansasmaz commented on #9451
We'll fix the problem, thanks for the reporting and understanding.

Related #9390

[2021-06-29 08:01] #9451 closed, assigned to nobody

[2021-06-29 08:04] rqx110 opened #9452 "the description of abp remove-proxy command is wrong"
the description of abp remove-proxy command is wrong.
![image](https://user-images.githubusercontent.com/1829209/123760454-723a2d80-d8f3-11eb-9b05-7f262d2e9239.png)

it should be like " Removes Angular service proxies and DTOs to consume HTTP APIs."

[2021-06-29 08:29] realLiangshiwei commented on #9450
Worked now, can you try again?

[2021-06-29 08:40] DonVliet commented on #9450
Cheers, that's working now :-)

[2021-06-29 08:40] #9450 closed, assigned to nobody

[2021-06-29 09:32] alexandis commented on #9167
Thank you. Yeap, this is the code I would need to use when switching tenants within **Angular** app. You now have the only place, where tenant switch is done manually by user on login page. However, in our case this needs to be done on back-end after successful tenant switching. Though, as we can see, `SwitchToTenantGrantValidator` just has `Task ValidateAsync` call, afterwards we get back to **An

[2021-06-29 11:13] dmeagor opened #9455 "Update tenent Id in models"
Since TenantId has no setter it doesn't appear possible to merge tenants together.

![image](https://user-images.githubusercontent.com/714902/123787601-ee704900-d8d2-11eb-960c-ec527d0adfd5.png)

**Possible solutions**

- Add MergeTenant method that loops through all entities with IMultiTenant and changes the TenantID.  Similar to the image above.
- Add SetTenantId method
- Just add a setter to the

[2021-06-29 11:20] maliming commented on #9455
This is recommended way. and your image is not clear

[2021-06-29 11:25] dmeagor commented on #9455
![image](https://user-images.githubusercontent.com/714902/123789475-1a8cc980-d8d5-11eb-8004-e92c310ffd8e.png)

[2021-06-29 12:07] maliming commented on #9446
hi

Have you tried the same steps without abp framework?

[2021-06-29 14:53] nguyenquanghuyit opened #9457 "How to export excel"
Please guide to me how to export to excel using Mvc-EfCore

[2021-06-29 21:51] berkansasmaz commented on #9457
Hi @nguyenquanghuyit,

We already have a [sample application](https://github.com/abpframework/abp-samples/blob/master/ExcelIO/src/ExcelIO.Web/Pages/Index.cshtml.cs) developed for this topic.

So, I am closing this issue, but feel free to write if you have a problem :)

[2021-06-29 21:51] #9457 closed, assigned to nobody

[2021-06-30 00:29] #8852 closed, assigned to nobody

[2021-06-30 00:39] khanhtranchi commented on #9446
I followed this guide https://elsa-workflows.github.io/elsa-core/docs/next/quickstarts/quickstarts-aspnetcore-server-dashboard-and-api-endpoints
After setup, I can create and edit workflows normally. I double checked the data submit to Elsa API Server in 2 frameworks, it the same but abp throw the exceptions.

[2021-06-30 02:44] maliming commented on #9446
Can you share this project?

[2021-06-30 02:46] maliming commented on #9455
I think you can add an interface and implement a `SetTenantId` method,

[2021-06-30 03:00] Loongle commented on #9420
Sorry, I have been trying to implement the document steps, but can not achieve the purpose.Can you provide a demo for reference? @realLiangshiwei

[2021-06-30 03:03] nguyenquanghuyit commented on #9457
Dear!
Thanks for your help. I do not know why has a message
![image](https://user-images.githubusercontent.com/52340160/123894367-3ef5ae00-d988-11eb-99d4-b865bc2a612d.png)

[2021-06-30 03:09] Blue-Pink commented on #9202
I has the issue too.
I's run swagger(https://localhost:44330/swagger/index.html), ids(https://localhost:44320/), and angular(http://localhost:4200/), swagger execute "/api/abp/application-configuration", response's code is 200(first block), but in angular ui api get it, return [500]error, error message is second bloc.

swagger execute response:
`{
  "localization": {
    "values": {
      "AbpAudi

[2021-06-30 03:15] maliming commented on #9202
**The SSL connection could not be established**

https://github.com/abpframework/abp/issues/9202#issuecomment-851813500

[2021-06-30 03:20] maliming commented on #9167
hi

Is ` httpContext.Response.Cookies.Append` executed?

You can also try ` httpContext.Response.OnStarting`
[code]

[2021-06-30 04:03] khanhtranchi commented on #9446
Here is demo project created by following guide from elsa workflow article
[ElsaQuickstarts.Server.DashboardAndServer.zip](https://github.com/abpframework/abp/files/6737929/ElsaQuickstarts.Server.DashboardAndServer.zip)

[2021-06-30 04:12] gerryge opened #9458 "abp cli error"
C:\Users\gerry_ge>abp get-source Volo.Blogging
[12:10:33 INF] ABP CLI (https://abp.io)
[12:10:33 INF] Version 4.4.0-rc.1 (Prerelease)
[12:10:36 INF] Output folder: C:\Users\gerry_ge
[12:10:36 INF] Downloading source code of Volo.Blogging
[12:10:36 INF] Version:
[12:10:36 INF] Output folder: C:\Users\gerry_ge
[12:10:38 INF] Using cached module: Volo.Blogging, version: 4.3.3
[12:10:39 ERR] Object re

[2021-06-30 06:00] berkansasmaz commented on #9457
Can you try to login?

/Account/Login

[2021-06-30 06:27] Blue-Pink commented on #9202
oh my god！checking this document my abpframework is work fine! Thanks Mr.maliming!
https://docs.microsoft.com/zh-cn/aspnet/core/release-notes/aspnetcore-2.1?view=aspnetcore-5.0#https

[2021-06-30 06:38] jeanerasmus commented on #1469
Seems like the API is not recognizing that the client is logged in, and therefor seeing the request as anonymous. I've checked the request headers and withCredentials = true. I've implemented the same site cookie workaround, but I don't think it is that, as the site works as expected with logging in and working with the default pages under administration. Any ideas?

[2021-06-30 06:45] hillin commented on #1469
How did you log in?

[2021-06-30 06:51] jeanerasmus commented on #1469
I log in via the login screen of the web application under .Web project. My identity server and API is running under different ports on localhost.

[2021-06-30 06:56] #9458 closed, assigned to realLiangshiwei

[2021-06-30 07:23] hillin commented on #1469
How does the API server (it's in an independent host/port if I understand correctly) know you are logged in?

[2021-06-30 07:33] mschaefer88 commented on #2352
Is there any update on this topic? Really looking forward to using this version of ABP but the LGPL License on the nuget packages prevent me from being able to use them. :-(

[2021-06-30 07:49] jeanerasmus commented on #1469
Yes, I would assume that the logged in credentials are passed to the API server under the .AspNetCore.Antiforgery cookie?

[2021-06-30 08:00] StevenOwenNell commented on #1082
Hi Guys, Are we still on track for the end of Quarter 2?

[2021-06-30 08:04] maliming commented on #1082
hi @StevenOwenNell

This feature will be available in the abp commercial.(**v4.4**)

[2021-06-30 08:04] #1082 closed

[2021-06-30 08:07] #9452 closed, assigned to maliming

[2021-06-30 08:24] tinonetic commented on #9445
Thank-you, @maliming

Turns out that it wasn't actually working.

The correct generated tables are actually  `AbpBlobs` and `AbpBlobContainers`

Now running fine

[2021-06-30 08:24] #9445 closed, assigned to nobody

[2021-06-30 08:49] alexandis commented on #9167
Yes, it is called and cookie is appended to the response:

![image](https://user-images.githubusercontent.com/6149843/123931414-26da5a80-d999-11eb-8821-7c364e9c8f45.png)

However, eventually the __tenant cookie is not replaced with the new value:

![image](https://user-images.githubusercontent.com/6149843/123931495-3c4f8480-d999-11eb-84a0-8a87f7395728.png)

What am I doing wrong?

[2021-06-30 09:10] maliming commented on #9167
hi

The `__tenant` cookie belongs to the Angular website.

You can directly change the tenant's cookies in Angular.

[2021-06-30 09:13] leonkosak opened #9465 "Basic console app - add module with database"
Console app template docs: https://docs.abp.io/en/abp/latest/Startup-Templates/Console

How to include in such console app another module, which has:
- database access
- xxxAppService methods (in .Application layer) and xxxManager methods (in .Domain layer)

I want to call methods inside .Application and .Domain layers from other module inside console application.
How to properly configure console

[2021-06-30 09:19] xiaohui-hiwintech commented on #9202
I found the reason, it was due to the  win10 proxy, I turned off my win10 proxy, and then it works.

[2021-06-30 09:19] Vayth opened #9466 "Unable to Create New Solution with 4.4.0-rc1"
Hello,

I'm trying to create a new solution using 4.4.0-rc1 with mysql database, and it gives me an error.
With `getting-started` page, it gave me error 500.
With CLI, `abp new solution1 -dbms mysql --preview`, it gave me this error:
[code]

I tried using SQL Server and it was created successfully, so I believe it only occurs with (atleast) mysql.

[2021-06-30 09:24] alexandis commented on #9167
Hmm.. Not sure it's a good idea to set cookie on client-side. We have not done this so far... I took a look ABP source code and could not find you set cookie on client-side somewhere either...

BTW, you say `_tenant` cookie belongs to the **Angular** website. But the site this cookie is used is actually **Identity Server** site:

![image](https://user-images.githubusercontent.com/6149843/123936973

[2021-06-30 09:29] nguyenquanghuyit commented on #9457
I downloaded abpsample, then selected ExcelIO sample.
I also initialized the database. However, when I run it, it always gives me that error and I can't go to the list to choose
![image](https://user-images.githubusercontent.com/52340160/123937389-4f297f80-d9c0-11eb-9ed8-ace390fcc65a.png)

[2021-06-30 09:37] holyrong commented on #9202
@xiaohui-gsv how to close the win10 proxy?

[2021-06-30 10:32] xiaohui-hiwintech commented on #9202
![image](https://user-images.githubusercontent.com/38554198/123946246-910ef180-d9d1-11eb-9c48-dc8f83ac0a90.png)

[2021-06-30 10:36] dmeagor opened #9467 "dbMigrator gets exponentially slower as tenants increase"
* Your ABP Framework version **4.3 Commercial**
* Your database provider **EF Core**

dbmigrator works ok for the first few hundred tenants but starts halving in speed every 300 or so.  After a couple of thousand it barely manages one per second.  I gave up so I don't know how slow it gets or if it crashed entirely.  Our SaaS company has over 50,000 tenants (mostly free/trial users as its a freemi

[2021-06-30 10:48] hillin commented on #1469
No, antiforgery cookie is not for credentials. Read: https://docs.microsoft.com/en-us/aspnet/core/security/cookie-sharing?view=aspnetcore-5.0

[2021-06-30 10:51] berkansasmaz commented on #9457
I just tried it but I didn't get any errors. Here are my steps:

1. Check **Connection Strings** and run `ExcelIO.DbMigrator` project.
2. Run `ExcelIO.Web `project
3. Go to `https://localhost:44360/Account/Login`
4. Enter username and password (`admin`, `1q2w3E*`)

<img width="1437" alt="Ekran Resmi 2021-06-30 13 48 50" src="https://user-images.githubusercontent.com/31216880/123949991-e3d5b280-d9a

[2021-06-30 11:11] alexandis commented on #9167
UPDATE: the problem is resolved. I just needed to add `withCredentials: true` to my **Angular** `HttpClient` post request to let the cookie be saved.

[2021-06-30 11:11] #9167 closed, assigned to maliming

[2021-06-30 12:06] leonkosak commented on #9467
I am sure, that this is EF context limitation, which could not run in parallel. db context is single-threaded.

[2021-06-30 13:12] dmeagor commented on #9467
I noticed it appeared to be using a single core.  Which is worrying as I'm using a modern Ryzen 3800x for dev, the web server is much lower clocked.

Clearly something isn't right as it gets slower over time though, from 10 tenants/second to barely 1/sec after a couple of thousand.

This means that ABP doesn't currently scale and is only usable for smaller B2B projects.

[2021-06-30 13:17] NecatiMeral commented on #9467
I assume that the slow-down comes from the growing unit-of-work, but I'm not an expert in this topic.

[2021-06-30 13:57] dmeagor commented on #9467
As far as I can tell its all selects, no inserts in the profiler so I would have thought UoW was empty (I'm no expert on any of this though.)

I did a bit of googling here and apparently this is a known issue of EFCore and long iterations

Solutions.

- Don't do long iterations.  Pull out permissions etc. in one query.  Looking at PermissionDataSeeder.cs this seems like a quick change.
- Recreate

[2021-06-30 14:29] #8775 closed, assigned to nobody

[2021-06-30 15:54] javietanh opened #9469 "Customize toolbar in blazor server app with started template does not work."
Hi folks,

Could you guys please help me out of this problem. I can't get this code execute, what's wrong with it? using started template then build and run, while debug I found the breakpoint from this function does not execute.

[code]

[2021-06-30 17:07] javietanh commented on #9469
After a few hours debug, I realized that if I inherited from

`
using Volo.Abp.AspNetCore.Components.Web.Theming.Toolbars;
`

then the breakpoint is hit but from
`
using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Toolbars;
`
it will not be hit.

For the blazor server app, what should I use?

[2021-06-30 21:23] DonVliet opened #9470 "Replace Blazorise components with "free for non-commercial use" components"
I assume most developers, like myself, use abp.io as the basis of their projects to write programs either for their clients, or in-house for the company they work for, i.e. in a commercial environment.

Unfortunately for us Blazor developers, it looks like Blazorise is now a commercial project and we are required to pay a minimum yearly license fee of $499 (per year, per company) if we want to con

[2021-07-01 00:50] maliming commented on #9470
hi

https://blazorise.com/news/changes-to-blazorise-license/#:~:text=Blazorise%20will%20stay,to%20be%20issued.

[2021-07-01 00:50] #8545 closed, assigned to nobody

[2021-07-01 00:52] maliming commented on #9469
hi

MVC:
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Toolbars/IToolbarContributor.cs

Blazor WASM & Server:
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Components.Web.Theming/Toolbars/IToolbarContributor.cs

[2021-07-01 01:44] nguyenquanghuyit commented on #9457
Dear!
With your guide, I've done it. Thank you so much!
But I do not understand about that I use "https://localhost:44360/Account/Login" that run, else use "https://localhost:44360/"  that could not.

[2021-07-01 01:59] LGinC opened #9471 "Table Sharding"
[https://github.com/Coldairarrow/EFCore.Sharding](https://github.com/Coldairarrow/EFCore.Sharding)
How to integrate this into Repository?

[2021-07-01 02:09] maliming commented on #9471
No idea, Maybe you can get help on https://github.com/Coldairarrow/EFCore.Sharding

[2021-07-01 02:12] nguyenquanghuyit commented on #9457
Dear! Can you help me? How to setup paper size, font size?

[2021-07-01 02:15] maliming commented on #9465
hi
The app and module template both have a `HttpApi.Client.ConsoleTestApp`. Have you checked it?

[2021-07-01 02:27] #9471 closed, assigned to nobody

[2021-07-01 03:33] indexlang opened #9472 "when I run abp cli :abp add-module Volo.CmsKit --with-source-code,find the error"
abp add-module Volo.CmsKit --with-source-code
[11:28:17 INF] ABP CLI (https://abp.io)
[11:28:17 INF] Version 4.4.0-rc.1 (Prerelease)
[11:28:21 INF] Installing module 'Volo.CmsKit' to the solution 'Txlcinfo.AgriMachineNav'
[11:28:21 INF] Checking installed npm global packages...
[11:28:27 INF] Downloading source code of Volo.CmsKit
[11:28:27 INF] Version: 4.4.0-rc.1
[11:28:27 INF] Output folder: H:

[2021-07-01 03:37] maliming commented on #9472
Duplicate of #9458

[2021-07-01 03:37] #9472 closed, assigned to nobody

[2021-07-01 04:02] weiwxg opened #9473 "How to disable auto api without [RemoteService(false)]"
We can use `[RemoteService(false)]` to disable auto api seen from doc:

![image](https://user-images.githubusercontent.com/24971860/124062596-9026a000-da63-11eb-850f-021e7c06195c.png)

However, when i read source code from Identity module, I never saw [RemoteService(false)] in `IdentityRoleAppService.cs`.
But, it does implement disable the auto api. So, how did it works?

![image](https://user-ima

[2021-07-01 05:06] maliming commented on #9473
The module doesn't use `Auto API Controllers`. It has the HTTP API layer.

[2021-07-01 05:06] #9473 closed, assigned to nobody

[2021-07-01 06:27] #9466 closed, assigned to maliming

[2021-07-01 08:27] mugambiwarwema commented on #9424
@realLiangshiwei

 How do i create/insert into a MongoDB collection?

I went ahead and added this AppService

[code]

[code]

I still get an error,

[code]

[2021-07-01 08:42] yellow-dragon-cloud commented on #6132
I think theme version should be consistent with framework's version, otherwise it may be confusing.

[2021-07-01 08:43] yellow-dragon-cloud commented on #6132
@hikalkan, I think theme version should be consistent with framework's version, otherwise it may be confusing.

[2021-07-01 09:02] enisn opened #9475 "TenantCreatedEto never been published"
TenantCreatedEto exists but never published

[2021-07-01 09:47] mehmet-erim commented on #9067
Hi @alexandis

Route definitions in `app-routing.module.ts` have deprecated. You only need to define all routes in the `route.provider.ts` file. For more information, see [modifying the menu document](https://docs.abp.io/en/abp/latest/UI/Angular/Modifying-the-Menu#how-to-add-a-navigation-element).

Your all issues will probably be resolved when you define routes with a provider. Please let me know

[2021-07-01 10:17] dmeagor commented on #9470
Replacing blazorize sounds like a lot of work for very little gain.  $500 for a $1m+ company is nothing and it helps them to develop the product.

Side note, we used syncfusion (angular wrapper) quite extensively on a large project but would never recommend it and have now stripped it out for angular material.   Maybe the blazor version is better but the angular wrapper was very badly thought out

[2021-07-01 10:55] berkansasmaz commented on #9457
Because the `GetListAsync` method of `IdentityUserAppService` is [used for the information shown on this page](https://github.com/abpframework/abp-samples/blob/55fe43bdda07c1ae6fc7afb6a065860075bae461/ExcelIO/src/ExcelIO.Web/Pages/Index.cshtml.cs#L23), and this method has the authorize attribute.

https://github.com/abpframework/abp/blob/573b6a78e3ced99b8e709d87047fed9b1fa66e9d/modules/identity/sr

[2021-07-01 12:45] alexandis commented on #9067
I have read the document. But I still cannot figure out, how to sort everything out.
If I define the routes solely in `route.provider.ts` like this:

[code]

and leave `app-routing.module.ts` free of _route_ definition:

[code]

the menu does not look right and in fact does not work:

![image](https://user-images.githubusercontent.com/6149843/124126446-59608200-da83-11eb-9ba6-c2c8f8a20aa6.png)

[2021-07-01 12:51] DurgaSanthi opened #9476 "Blazorise - Manual Validation is not working because of array value used to bind the text. Example: @bind-Text="address[iteration]""
Blazorise - Manual Validation is not working because of array value used to bind the text. Example: @bind-Text="address[iteration]"

This works for auto validation but not for manual validation

<Validations @ref="validations" Mode="ValidationMode.Manual">

Created TextEdit components in loop. For example there are 10 elements and Element Id = addressid[0], addressid[1] etc.
And the @bind-Text="ad

[2021-07-01 12:53] maliming commented on #9476
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-07-01 12:58] DurgaSanthi commented on #9476
updated the Issue description

[2021-07-01 14:07] MichalCadecky opened #9477 "Blazor Form Validation utilizing User friendly errors/exceptions"
Hello!

TL;DR;
It would be nice if ABP Framework could provide means of displaying errors/exceptions in Form Validation instead of error dialog until there is an option to hook asynchronous validation in Blazorise.

Currently Blazor is using Blazorise Validation/Validations components to perform Form Validation utilizing Data Annotations from Models' properties. Or you can replace the Data Annotat

[2021-07-01 15:31] realLiangshiwei opened #9480 "Remove unnecessary packages from abp.tui-editor"

[2021-07-01 17:57] alexandis commented on #9067
Hi @mehmet-erim
I have defined my routes in the route provider. But now I have noticed another issue: `PermissionGuard` does not work properly.
For instance, I have this route fragment:
[code]
I have intentionally put wrong `requiredPolicy` name - "Paraameters". As expected, the corresponding menu item is hidden from the menu:

![image](https://user-images.githubusercontent.com/6149843/124169240-b

[2021-07-01 18:03] alexandis commented on #9067
Looks like now it's ok, thank you. However, probably it worth saying that child route needs to start from '/', otherwise `findRoute` does not work properly...

[2021-07-02 00:54] maliming commented on #9476
hi @DurgaSanthi

It seems this is not related to abp but Blazorise.
You can try to get help at https://github.com/Megabit/Blazorise

[2021-07-02 01:41] #9476 closed, assigned to nobody

[2021-07-02 03:38] #8850 closed, assigned to nobody

[2021-07-02 06:06] DurgaSanthi commented on #9476
Thank you. sure.

[2021-07-02 11:17] Mohamed1973 commented on #5745
CREATE TABLE PARAMETRES_LIBEXIGENCES
(
  ID integer NOT null,
  LIBELLE varchar(5000),
  CONSTRAINT PK_DOCLIBELLE PRIMARY KEY (ID),
  CONSTRAINT UQ_DOCLIBELLE UNIQUE (LIBELLE)
);

unsuccessful metadata update
CREATE TABLE PARAMETRES_LIBEXIGENCES failed
unknown ISC error 336068726

[2021-07-02 12:16] #8790 closed, assigned to nobody

[2021-07-02 12:24] ebicoglu commented on #9390
we have addressed the slowness issue.
will be fixed in next week.

[2021-07-02 14:00] seventychi commented on #9390
So happy to hear that!!

[2021-07-02 22:39] onurcanyilmaz opened #9487 "How to automatically convert audited DateTime properties (CreatedDate, LastModificationTime and DeletetionTime) from DateTime.Now to UTC-0"
Hello.

We have to have Audited DateTime properties (CreatedDate, LastModificationTime and DeletetionTime) need to be automatically converted a UTC-0 (Greenwich time)

Can you help me pls?
thanks.

[2021-07-03 00:21] weiwxg opened #9488 "Is it possible to consider deploying an official site in China?"
As I am now very slow to access api.io to view official documentation in China, even if use VPN. I think deploy the site in China will increase interest in ABP.

[2021-07-03 02:16] maliming commented on #9488
There is no relevant plan, you have to find a way to solve the network problem.

[2021-07-03 02:16] #9488 closed, assigned to nobody

[2021-07-03 11:32] sturlath opened #9489 "AddToRoleAsync() on IdentityUserManager throws an exception in HandleEventAsync of IDistributedEventHandler"
When trying to add a role with `IdentityUserManager.AddToRoleAsync()` to a newly registered user throws the following exception

Here is the code I´m using

[code]

I have been trying to dig into this [here](https://docs.abp.io/en/abp/latest/Entity-Framework-Core) and [here ](https://docs.abp.io/en/abp/4.3/Entity-Framework-Core) but can't find anything that can point me in the right direction.

 *

[2021-07-03 13:02] sturlath commented on #8414
Just checking on this "Update here since now **all** modules have ETOs."

I just tried the 4.4-rc1 version and cant find `IdentityUserEto` anywhere. Will it not be included/published?

[2021-07-03 14:27] maliming commented on #9489
[code]

https://docs.abp.io/en/abp/latest/Unit-Of-Work#unitofworkattribute

[2021-07-03 15:06] sturlath commented on #9489
Ahhh thank you, I was thinking of trying this but for some reason I didn’t. Will read the docs.

But the weekend saved! 😉

[2021-07-03 15:06] #9489 closed, assigned to nobody

[2021-07-04 10:58] recruitans opened #9490 "Gulp"
4.4.0-rc1
mvc-ef

![image](https://user-images.githubusercontent.com/28866278/124382384-d718cd80-dccf-11eb-8e37-98345d7f96e3.png)

[2021-07-04 12:36] maliming commented on #9490
You can try `abp install-libs` command.

https://blog.abp.io/abp/ABP-Platform-4-4-RC-Has-Been-Released#:~:text=place%20that%20code.-,New%20ABP%20CLI%20Commands,-There%20are%20new

[2021-07-04 14:36] juchunwei opened #9491 "Is it possible to use a Index.cshtml (Razor page) as the home page in a Blazor server project?"
* Your **ABP Framework version**. 4.4.0-rc1
* Your **User Interface** type Blazor Server
* Your database provider(EF Core)

I want to build a website and use the razor page as frontend, the blazor component in the backend. Is it possible?

Thanks!

[2021-07-04 19:27] yellow-dragon-cloud commented on #6132
According to [Introducing the Lepton Theme Next Generation!](https://volosoft.com/blog/introducing-the-lepton-theme-next-generation) blog post:

May we hope Blazor theme will be available (at least as prerelease) soon? Like in a month or so maybe?

[2021-07-05 00:50] maliming commented on #9491
I think this is possible in the Blazor server.

[2021-07-05 01:46] realLiangshiwei commented on #8414
@sturlath

Use `UserEto`. see https://github.com/abpframework/abp/pull/3210

[2021-07-05 02:07] nguyenquanghuyit commented on #9457
Dear sir!

Let me ask him a question? How to specify column width in cm or mm in worksheet?
For example:
worksheet.Column(1).Width = 81;
But I do not known 81 for pixel or inch or cm, mm;
Thank you!

[2021-07-05 02:27] sel-carlitos opened #9494 "User Interface Maturity/Adoption"
Hi all,
I just found this incredible development framework that makes my dreams come true for my next project. I would like to ask the developers and community about User Interface adoption? Is Angular the top choice? Is Angular the most mature user interface?

Thanks in advance for your replies.

Carlos

[2021-07-05 05:07] #9446 closed, assigned to maliming

[2021-07-05 05:07] maliming commented on #9446
hi @khanhtranchi See https://github.com/abpframework/abp-samples/commit/90ff663a03fe5103d90e45d39a319a3af44a839d

[2021-07-05 05:10] juchunwei commented on #9491
@maliming , Thanks.  I tried add a Index.cshtml file but get this error message when run the app.  It works if the name not index.cshtml, can open it with another name.  Appreciate it for your help!

An unhandled exception occurred while processing the request.
AmbiguousMatchException: The request matched multiple endpoints. Matches:

/_Host
/Index
/_Host
Microsoft.AspNetCore.Routing.Matching.Defa

[2021-07-05 05:14] maliming commented on #9487
hi

Maybe you can take a look at https://docs.abp.io/en/abp/latest/Timing

[2021-07-05 05:26] maliming commented on #9491
You can try this in Blazor Server without abp first.

[2021-07-05 06:18] #9447 closed, assigned to maliming

[2021-07-05 06:18] maliming commented on #9447
https://github.com/abpframework/abp/pull/9454

[2021-07-05 06:29] berkansasmaz commented on #9457
This question does not seem to be related to ABP and I see that you have already opened another issue on the ClosedXML repository. I hope you can find what you are looking for as soon as possible :)

[2021-07-05 06:55] recruitans commented on #9490
I ran it. there was no change. else ?

[2021-07-05 07:18] maliming commented on #9490
![image](https://user-images.githubusercontent.com/6908465/124432435-3516e500-dda4-11eb-8eb0-0410e6963d1d.png)

[2021-07-05 07:35] EngincanV commented on #9494
Hi @izotecarlitos, ABP Framework has 4 UI options (officially supported) which are MVC (Razor Pages), Angular, Blazor WASM and Blazor Server. Blazor Wasm and Blazor Server are relatively recently added user interfaces. For this reason, it may be better to go with MVC or Angular.

[2021-07-05 09:17] nguyenquanghuyit commented on #9457
Thank u so much!

[2021-07-05 10:52] sturlath commented on #8414
I will then need to map between `UserEto` and `Identity`, correct?
![image](https://user-images.githubusercontent.com/2386572/124459057-4698c680-dd7d-11eb-9f66-37b07589fb7e.png)

Something like this? Is there a better way?

[code]

[2021-07-05 11:33] mugambiwarwema opened #9499 "Extending Existing TenantManagement Module"
Abp.io v4.3, No.tier, MongoDb

I wish to add some properties to the tenant module.

As such, here's what I have done in the file;

[code]

Then I went to the file

[code]

 How do i create/insert into a MongoDB collection?

I went ahead and added this AppService

[code]

[code]

I still get an error,

[code]

[2021-07-05 11:43] #9475 closed, assigned to enisn

[2021-07-05 14:55] stormlex4all commented on #6506
Try "abp update --v (desiredVersion)" instead

[2021-07-05 15:31] alexandis commented on #9067
I have one more issue here: I have Permission checker which causes error 403, if user tries to access the specific page he has no access to. So when he tries to call such page via some link - he naturally receives page with error 403.

But the issue is in this case _function_ `configureRoutes` is not invoked and the button "Go to the homepage" does not work (click does not work):

![image](https:/

[2021-07-05 16:11] recruitans commented on #9490
it's ok. same screen. but run the application please. and you try create blog post.

![image](https://user-images.githubusercontent.com/28866278/124498262-b9796000-ddc4-11eb-9e8a-21ecfc188ea3.png)

[2021-07-05 16:25] fileman commented on #8259
@hikalkan to use the Syncfusion SfDataManager control, a little change is required, but I don't know if this break something in ABP:
`context.Services.AddHttpClient("abp", sp =>
            {
                sp.BaseAddress = new Uri("/");
            });`
Instead of:
`context.Services.AddTransient(sp => new HttpClient
            {
                BaseAddress = new Uri("/")
            });`
I can

[2021-07-05 17:14] mrs01dev opened #9506 "Extending Localization Resource, namespace name 'AbpIoLocalization' could not be found"
Dear Dev's
trying to extend resources that exist on  ABP module  "AbpIoLocalization" ,
As per ABP sample:
https://github.com/abpframework/abp-samples/tree/master/DocumentationSamples/ExtendLocalizationResource#extending-existing-resource
and ABP FRAMEWORK DOCUMENTS
https://docs.abp.io/en/abp/latest/Localization#inherit-from-other-resources

using
ABP Framework Version="4.3.3"
User Interface="MVC"

[2021-07-05 17:31] berkansasmaz commented on #9506
You can do that, but I don't think that's what you want to do. Because the [AbpIoLocalization project](https://github.com/abpframework/abp/tree/dev/abp_io) contains all localized resources of the [abp.io](http://abp.io/) platform.

If your goal is to localize the Identity resources, you can have a look [here](https://github.com/abpframework/abp/tree/dev/modules/identity/src/Volo.Abp.Identity.Domai

[2021-07-05 19:49] youssefDawood commented on #9366
I'm also having the same problem, I'm used to 'cascade' to delete when deleting the related asset.

[2021-07-05 19:59] evictorel commented on #9366
Sorry for the delay. Yes, I currently do this for all sub-entities.

Taking a closer look at the [AbpDbContext](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs) code, and another issue you mentioned (I can't remember it at the moment) I think it is a current limitation of the framework. Correct?

Anything, I can o

[2021-07-06 00:54] maliming commented on #9490
hi
I will check this.

[2021-07-06 01:15] maliming commented on #9490
You can wait for RC2. https://github.com/abpframework/abp/pull/9481

[2021-07-06 01:15] #9490 closed, assigned to maliming

[2021-07-06 01:53] maliming commented on #9366
We can think of this as a conflict between EF Core and soft delete design.

[2021-07-06 01:53] #9366 closed, assigned to nobody

[2021-07-06 02:05] #7978 closed, assigned to nobody

[2021-07-06 02:30] maliming commented on #9499
Can you share the full error stack?

[2021-07-06 03:07] mugambiwarwema commented on #9499
@maliming

I've attached my log.txt

[logs.txt](https://github.com/abpframework/abp/files/6767069/logs.txt)

[2021-07-06 03:13] maliming commented on #9499
Please share the relevant logs, thank you.

[2021-07-06 03:14] mugambiwarwema commented on #9499
Those are all the logs, I am still in dev, not production.

I was running the API requests from swagger.

[2021-07-06 03:20] GotzeWong commented on #9439
That's my fault. I didn't include **AbpFeatureManagementEntityFrameworkCoreModule** when using the latest framework.

[2021-07-06 03:20] #9439 closed, assigned to nobody

[2021-07-06 03:22] GotzeWong commented on #9431
Solved in #9439

[2021-07-06 03:22] #9431 closed, assigned to nobody

[2021-07-06 09:47] mehmet-erim commented on #9067
The problem has been fixed.
Thanks!

[2021-07-06 09:47] #9067 closed, assigned to mehmet-erim

[2021-07-06 10:12] alexandis commented on #9067
Hi - what do you mean "has been fixed"? What about the situation with _function_ `configureRoutes` not invoked after getting error 403 and other errors from your `HttpErrorComponent` so "**Go to the homepage**" _button_ does not work? It happens when I try to navigate to inaccessible page via link on the site. Probably `configureRoutes` is not related to this issue. Please confirm this then and le

[2021-07-06 11:16] joernz opened #9516 "Update VoloDocs standalone deployments"
Could you please update the standalone deployments (zip downloads) on [the documents page](https://docs.abp.io/en/abp/latest/Apps/VoloDocs#download) of VoloDocs?
Thanks!

The package.json file of the current downloads:
[code]

[2021-07-06 12:06] ebicoglu commented on #9516
hi 

these are self-contained production-ready deployment files.

but we didn't update them for a long time.

@EngincanV will update them.

1- Update zip files here [https://docs.abp.io/en/abp/latest/Apps/VoloDocs#download](https://docs.abp.io/en/abp/latest/Apps/VoloDocs#download)

2- Update this document to be aligned with the latest version

[2021-07-06 15:01] eneskoroglu opened #9517 "Logo on login page redirects to"
* Your **ABP Framework version**: 4.3.3
* Your **User Interface** type: (Angular)
* Your database provider(EF Core)

I see there is a related [issue](https://github.com/abpframework/abp/pull/6734) about this problem. Although I set **RedirectAllowedUrls** and tried with a new created project, click on LOGO in login page redirects to API. Below screen shot is belongs to new created test project. My

[2021-07-06 15:04] #8796 closed, assigned to nobody

[2021-07-06 18:12] mugambiwarwema commented on #9499
@maliming I have added extra code files, 3 files

Kindly advise.

[extra code.zip](https://github.com/abpframework/abp/files/6771937/extra.code.zip)

[2021-07-06 23:03] dmeagor opened #9519 "Social logins don't work for existing accounts."
* Your **ABP Framework version**.  4.3 commercial
* Your database provider EF Core
Steps to reproduce

- Go to register page and create new user.
- Go to login page and click social login

Instead of attaching the social login to the matching account the user is taken to the register page.
If for some reason they try to register again it will error (account already exists)

The only way to get soc

[2021-07-07 00:44] maliming commented on #9517
hi
Let's discuss the commercial at https://support.abp.io Thanks.

[2021-07-07 00:44] #9517 closed, assigned to nobody

[2021-07-07 00:57] maliming commented on #9499
hi

Please share the full logs of an error request.

[2021-07-07 02:46] maliming commented on #9519
I guess they emails are the same, right?

[2021-07-07 03:06] maliming commented on #9384
There is a problem here: if the `querystring` contains a specific culture, we can't switch to another language, because the `querystring` has the highest priority.

eg: https://account.abp.io/?culture=fi

[2021-07-07 04:20] mugambiwarwema commented on #9499
Hi @maliming

Here's the response I received after sending the request via endpoint

I have also attached the latest logfile

[logs.txt](https://github.com/abpframework/abp/files/6774225/logs.txt)

[code]

[2021-07-07 04:58] viewtance opened #9520 "Still needs to provide separated dbcontext migrations for start template"
* Your **ABP Framework version**. ver 4.4.0-rc.1
* Your database provider(EF Core/MongoDB) : EF Core

The 4.4.0-rc.1 introduced a change to the start template "Removed EntityFrameworkCore.DbMigrations Project", but some developers still feel separated dbcontext for migrations is a good options for large projects, could you provide an option to generate the start template with the separated dbconte

[2021-07-07 05:16] maliming commented on #9520
There is no plan to do this. It is difficult to maintain such a template, you can implement it yourself based on the old template.

[2021-07-07 05:16] #9520 closed, assigned to nobody

[2021-07-07 06:07] Sooian opened #9521 "DB Changed directly in UOW even if exception occurs"
ABP Framework version: 4.3.2
 User Interface: Vue
 Database provider:(EF Core)
 DB: pgsql

I follow the tutorials from https://docs.abp.io/ to create my application

I create my applicationServer.

[code]
I did not call await CurrentUnitOfWork.SaveChangesAsync(); but changes go into db.
What's even stranger is that even if an exception occurs, The data before the exception was also updated to the

[2021-07-07 06:28] maliming commented on #9499
Try to use `RegisteredBusinessName`(Capital letter)
[code]

[2021-07-07 06:28] #9499 closed, assigned to nobody

[2021-07-07 07:25] maliming commented on #9521
Can you try to remove `app.UseUnitOfWork()` from the ASP.NET Core pipeline?

[2021-07-07 07:37] #9480 closed, assigned to realLiangshiwei

[2021-07-07 07:39] gdlcf88 commented on #2183
![image](https://user-images.githubusercontent.com/30018771/124719090-5c52eb00-df39-11eb-85b0-fea926cabd07.png)

Hi, may this issue should be moved to the [5.0-preview](https://github.com/abpframework/abp/milestone/51) milestone?

[2021-07-07 07:45] Sooian commented on #9521
after i remove app.UseUnitOfWork(), the uow works as expect when exception occurs.
what app.UseUnitOfWork() is used for? This seems to be a necessary configuration, when do I need it?
and, the other problem is why the data go into db without savechanges? did i miss some configuration ?

[2021-07-07 07:46] maliming commented on #9521
See #8740

[2021-07-07 07:46] #9521 closed, assigned to nobody

[2021-07-07 08:12] Sooian commented on #9521
thanks!!!
Do i need to call CurrentUnitOfWork.SaveChangesAsync(); after i change the entity?

[2021-07-07 08:16] maliming commented on #9521
Please follow the document. https://docs.abp.io/en/abp/latest/Unit-Of-Work

[2021-07-07 08:53] EngincanV commented on #2183
Thanks @gdlcf88, I've moved the issue to the 5.0-preview.

[2021-07-07 09:07] dmeagor commented on #9519
There are no emails as its not possible to register (from the social option.)

Put simply, there is no way for a user to use a social login if they have already registered.  If they try they will be prompted to create another account with a different email address.

This is the same on your own ABP site

[2021-07-07 10:13] recruitans commented on #9490
![image](https://user-images.githubusercontent.com/28866278/124742184-23108000-df25-11eb-9715-a6cc5908b6d6.png)

[2021-07-07 10:37] maliming commented on #9490
You need to upgrade your nuget&npm package to rc2.

[2021-07-07 12:27] mahdighorbanpour opened #9525 "IsDeleted doen't have default value while migration is generated for MySql database"
* Your **ABP Framework version**. : 4.3.3
* Your database provider(EF Core/MySql)
## Exception message:
`Microsoft.Data.Sqlite.SqliteException : SQLite Error 19: 'NOT NULL constraint failed: AppProjects.IsDeleted'.`
## Steps needed to **reproduce** the problem.

Please **write in English**.
- Define a new entity inheriting from FullAuditedAggregateRoot
- Create the migration

[code]

You could see

[2021-07-07 12:33] dmeagor commented on #9519
Yes, they are identical.

[2021-07-07 12:54] maliming commented on #9525
Did you call the `ConfigureByConvention` method for the entity?

[code]

[2021-07-07 13:07] mahdighorbanpour commented on #9525
Nope, I missed that. Now I added that and new migration is adding the default value. Thanks a lot

[2021-07-07 13:07] #9525 closed, assigned to nobody

[2021-07-07 15:13] luochaorobert opened #9529 "How to display in Chinese in the "BackendAdminApp.Host" project of "MicroserviceDemo" abp-samples?"
* **ABP Framework version 4.3.3**.
* User Interface type: MVC
* database provider: EF Core

I developed on the basis of the "MicroserviceDemo" sample, but the built-in module always can't switch to display Chinese, such as identity management. It seems that can't get localization resources, while the custom module can switch between Chinese and English normally, as shown in the figure below.

![im

[2021-07-07 16:20] dmeagor commented on #9519
A temporary fix (adding a new row to UserLogin) is below.  I a call to this method directly to the OnGetExternalLoginCallbackAsync method but it should work as an override.

Note: I've used the standard `await UserManager.AddLoginAsync(user, newUserLoginInfo);`  instead of the ABP  `user.AddLogin` as that fails in this case with a null reference. I'm not sure why or what the AddLogin function does

[2021-07-07 16:35] amLabib opened #9530 "ISettingManager vs ISettingProvider in custom providers"
Hi,
we are trying to implement custom setting provider in our project, but I'm facing hard time to understand difference between ISettingManager and ISettingProvider and thier GetOrNullAsync() methods

To understand requirement more:
we need to implement custom setting provider for "Country" (to save and get setting values per Country ), where providerKey is the countryId

Creating "CountrySetting

[2021-07-07 23:15] GotzeWong opened #9532 "Volo.Authorization:010001: Authorization failed! Given policy has not granted."
How could I get valid AccessToken under Password GrantType?

When I request AccessToken directly via `/connect/token`, it does return access token
![image](https://user-images.githubusercontent.com/7664030/124839088-b3e56b00-dfba-11eb-9b41-14cdf6232325.png)

The content of AccessToken is shown below.
![image](https://user-images.githubusercontent.com/7664030/124839226-f7d87000-dfba-11eb-9052-55b52

[2021-07-08 01:10] maliming commented on #9529
How about other languages?

[2021-07-08 01:13] maliming commented on #9530
Please check the document of **Setting**.

https://docs.abp.io/en/abp/latest/Settings#reading-the-setting-values
https://docs.abp.io/en/abp/latest/Modules/Setting-Management#setting-management-providers

[2021-07-08 01:54] luochaorobert commented on #9529
When choosing other languages like Français,  the built-in module still display English, the custom module still display Chinese.

[2021-07-08 02:28] luochaorobert commented on #9529
About how to configure the localization in the microservice architecture, can the development team give a feature article, such as how to separately configure in the module layer, service layer, gateway layer and application layer? Different layers and modules seem to be prone to conflict. Referring to the existing documents, there are always various bugs. I spent a lot of time, but I still can't

[2021-07-08 02:28] JhouXerox opened #9533 "PermissionManager:Define&Load issure"
hello,in my way to use abp.
I want to use single Identityserver4 with permissions.

**How should I load permissions from file directory?**
If I have done an application's dev,I can just copy an application.contracts file which include PermissionDefinitionProvider to the directory.
And then let ID4 host to load the file.
Then I can use Volo.Abp.Identity.Web to configure the user/role permission.

A

[2021-07-08 02:33] JhouXerox commented on #9533
Another way,Your DDD E-book is very Inspired.
I like it ,and I'm trying to translate it to chinese.
How can I upload to you after I've done?
Maybe it will be helpful to chinese abp users.

[2021-07-08 02:59] maliming commented on #9533
Please check the Permission document.

https://docs.abp.io/en/abp/latest/Authorization#permission-system
https://docs.abp.io/en/abp/latest/Modules/Permission-Management

Someone already did this. : )

https://www.cnblogs.com/YGYH/p/14937097.html#_label0

[2021-07-08 03:01] maliming commented on #9529
You can debug your application to check the localization, maybe it uses the wrong **resources**.

[2021-07-08 03:03] JhouXerox commented on #9533
wow,Thank you for your prompt reply
I will check the document.(chinese doc about permission is only "TODO." word in the doc.So I missed a lot.Thank you)

[2021-07-08 04:03] yuzhigang opened #9535 "Why is BackgroundJob designed to one JobArgs to one BackgroundJob Type？"
The following examples are in the documentation：
[code]
If I have two jobs with EmailSendingArgs,  only one job is executed:
[code]
I checked the source code,  the key lines in AbpBackgroundJobOptions.cs:
[code]
I think BackgroundJob was designed to one JobArgs to one BackgroundJob Type. Of course I can define two JobArgs, but args
 construct is the same. Or I can combine Background Jobs logic, bu

[2021-07-08 05:21] JhouXerox commented on #9533
@maliming hi,I've checked these docs.

According to Authorization about **Defining Permissions**

**how can I load my assembly which contains PermissionDefinitionProvider and inject to abp?**

[2021-07-08 07:00] JhouXerox commented on #9533
I want to automaclly add permissions on running time.Not coding time.
I found a function

`Configure<AbpPermissionOptions>(options =>
{
    options.DefinitionProviders.AddIfNotContains(new List<Type>()
    {
        typeof(AdminPermissionDefinitionProvider)
    });
});`

but there's an exception:
ComponentNotRegisteredException: The requested service 'Com.Bull.SmartCanteen.Admin.Permissions.AdminP

[2021-07-08 08:10] #9383 closed, assigned to hikalkan

[2021-07-08 08:15] hikalkan opened #9540 "Update sample: EfCoreMigrationDemo"
https://github.com/abpframework/abp-samples/tree/master/EfCoreMigrationDemo

Should be updated based on the 4.4 changes (DbMigration project has been removed)

This sample is for that document: https://docs.abp.io/en/abp/4.4/Entity-Framework-Core-Migrations

[2021-07-08 12:34] #9519 closed, assigned to maliming

[2021-07-09 00:43] #9530 closed, assigned to nobody

[2021-07-09 01:08] ruby0602 opened #9543 "4.4.0-rc.2 update encounter error"
![image](https://user-images.githubusercontent.com/4489940/125008307-d8157a80-e094-11eb-92a1-95d05826d085.png)
![image](https://user-images.githubusercontent.com/4489940/125008362-f4b1b280-e094-11eb-8526-47198775f00e.png)
there is no error in 4.3.3

[2021-07-09 02:13] khanhtranchi opened #9544 "Support async for fluentvalidation"
Because I need to call to the 3rd service to get the dynamic validation rules and FluentValidation framework is supporting this kind of validation - https://docs.fluentvalidation.net/en/latest/async.html
But at the FluentObjectValidationContributor code I see that we are using Validate method, Could we provide a way for user make decision what kind of validation to process ?

Thanks.

[2021-07-09 03:32] #8917 closed, assigned to nobody

[2021-07-09 03:32] #8929 closed, assigned to nobody

[2021-07-09 05:41] juchunwei opened #9546 "Blazor server sub-application can' t login"
* Your **ABP Framework version**. **4.4.0-rc2**
* Your **User Interface** type **Blazor Server**
* Your database provider(EF Core)

I publish the app as a sub application in IIS, but can't login. I can open the login page, and  no errors when login but not show the username and no permissions for the pages.

What I need to change for the code if I want publish as a sub application?

Thanks!

[2021-07-09 06:11] ycc3000 opened #9547 "[DisableValidation] still not work for me"
* Your **ABP Framework version**.
* 4.3.3
* Steps needed to **reproduce** the problem.
I use v4.3.3.
I see AbpValidationActionFilter used DisableValidation to ignore validate, but why it does not work for me? need help.

`{"type":"https://tools.ietf.org/html/rfc7231#section-6.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"00-97fb7e18a54f974394e1c9dfe0c244db-1ad297c9

[2021-07-09 06:15] realLiangshiwei commented on #9547
I will check it

[2021-07-09 06:26] berkansasmaz commented on #9543
This is because, as you know, the parameters in the base constructor of the AuditingStore have changed. We are constantly adding new features to the framework and our modules, so such cases may happen with major version changes. I don't think this is a problem.

https://github.com/abpframework/abp/commit/2491c8c488eb74da179b31e937b0cf4d1b6335d8#diff-887f3a7a1fe96e4db319df8157d3c42197aa1fde40d03992

[2021-07-09 06:26] #9543 closed, assigned to nobody

[2021-07-09 06:37] realLiangshiwei commented on #9546
Sorry, I don't know anything about your project.  please provide more information, steps to reproduce.

[2021-07-09 06:41] juchunwei commented on #9546
@realLiangshiwei

1. I just download the startup template and publish it.
2. Add a new application under an exists IIS website.
3. I can open the home page of the sub-applicaiton and can open the login page,  and no errors after login, but still shows the login button on the homepage not the username.

[2021-07-09 06:50] realLiangshiwei commented on #9547
https://docs.microsoft.com/en-us/aspnet/core/web-api/?view=aspnetcore-5.0#automatic-http-400-responses

This is the default behavior of `ApiController`, you can remove it.

[2021-07-09 06:50] #9547 closed, assigned to nobody

[2021-07-09 06:52] realLiangshiwei commented on #9546
Check the document first: https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/?view=aspnetcore-5.0&tabs=visual-studio#app-base-path

[2021-07-09 07:28] ebicoglu commented on #9519
**workaround:**

Create a custom login page model under **Pages/Account** named Cutom**LoginModel.cs (**[CustomLoginModel.cs (github.com)](https://gist.github.com/gterdem/d5d1841094d6818755e80aa5a2d4a5ed))

![](https://user-images.githubusercontent.com/9526587/125040531-71965980-e0a0-11eb-8d3e-3a8a18570852.png)

Create a new .cshtml named **Login.cshtml** under same directory ([LoginPage.cshtml (g

[2021-07-09 08:01] juchunwei commented on #9546
@realLiangshiwei

I have tried it before.

I added the code `app.UsePathBase("/cn");` in StartUp.cs

then tried ` <base href="~/cn/" />`  ` <base href="/cn/" />` and ` <base href="~/" />` but none of them working. still can not login.

the  ` <base href="~/cn/" />` will change the href to /cn/cn/ in the page source code.

[2021-07-09 08:06] maliming commented on #9546
You can try to publish the Blazor server without abp to sub-application.

[2021-07-09 08:29] ruby0602 commented on #9543
@berkansasmaz thanks, I had solved it

[2021-07-09 08:42] weiwxg opened #9551 "DisplayName in Localization"
**How do I distinguish between the same properties in a localized configuration？**

I have 2 model as follow:

[code]

And i only set one message in localization file as bellow:

[code]

But they are not the same. I want to set Foo.Name as 'FooName' and 'Bar.Name' as 'BarName' .

How should i do?

[2021-07-09 08:46] maliming commented on #9551
Maybe we can add some localization conventions.

[2021-07-09 09:25] KevinBassaDevelopment commented on #9546
Hi, we have the same issue, with a standard ABP blazor server application.
Version: 4.3.2

We migrated our ABP application from Blazor WASM to Server.

With visual studio, everything works perfectly fine.

Once published to IIS, after (successful) login, you get redirected to the application but have 0 permissions.

[2021-07-09 09:55] juchunwei commented on #9546
@maliming

seems the standard Blazor server has the same issue.  Not sure I did anything wrong or it's a bug. :(

[2021-07-09 09:57] maliming commented on #9546
You can get help from the ASP NET Core team.
https://github.com/dotnet/aspnetcore

[2021-07-09 09:57] #9546 closed, assigned to nobody

[2021-07-09 10:08] #9506 closed, assigned to berkansasmaz

[2021-07-09 10:39] #8954 closed, assigned to nobody

[2021-07-09 10:46] #9540 closed, assigned to hikalkan

[2021-07-09 10:53] hikalkan opened #9555 "Update samples for ABP 4.4"
In this release, EfCore.DbMigrations project has been removed, so we should change the samples. Updating all samples are not necessary, but the following samples must be updated:

- [x] TodoApp: https://github.com/abpframework/abp-samples/tree/master/TodoApp (mongo projects can easily be updated via `abp update` command, but EF core project may need to re-create and apply [the tutorial](https://do

[2021-07-09 13:49] #9551 closed, assigned to maliming

[2021-07-09 15:46] kfrancis commented on #6132
Happy to test asap. We're in the process of completely rewriting most of cab.md based on abp-pro so we're heavily investing and looking forward to it.

[2021-07-09 15:50] EngincanV commented on #9516
Hi @joernz, we've updated the download links to version `4.4.0-rc.2`. You can download it from [here](https://docs.abp.io/en/abp/latest/Apps/VoloDocs#download).

[2021-07-09 15:50] #9516 closed, assigned to EngincanV

[2021-07-09 16:14] #8804 closed, assigned to nobody

[2021-07-09 17:03] jhulbertpmn opened #9558 "External auth only"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* ABP Framework version: 4.3
* UI: Blazor WASM
* Your database provider EFCore

I’m starting a new project with

[2021-07-10 00:50] vijay2358 commented on #7221
I would recommend to use Migrate to Duende IdentityServer5. It has more added on Mvc code adding jwt token based as well

[2021-07-10 11:49] berkansasmaz commented on #9390
Problem solved on [docs.abp.io](https://docs.abp.io/en/abp/latest).

We found the main problem so, I think it will speed up on our other sites soon :)

[2021-07-10 11:49] #9390 closed, assigned to ebicoglu, berkansasmaz

[2021-07-10 15:08] JadynWong commented on #9558
Set `Abp.Account.EnableLocalLogin` value `False`

https://github.com/abpframework/abp/blob/bc7c9819d86c3a6b231119910d9db5eec955c7e9/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs#L93

https://github.com/abpframework/abp/blob/bc7c9819d86c3a6b231119910d9db5eec955c7e9/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs#L44-L45

https://github.com/abpframewor

[2021-07-10 20:01] jhulbertpmn commented on #9558
Thanks - glad to know about this setting!
I set this to false and confirmed it is applying after trying to login locally and receiving:
UserFriendlyException: Local login is disabled for this application.

I followed the OpenIdConnect option at the bottom of the login page and was able to login with a user I had registered in Azure AD B2C. A couple additional questions (I may just not fully unders

[2021-07-11 03:06] JadynWong commented on #9558
Hi

1.
It requires you to have only one external login provider.

https://github.com/abpframework/abp/blob/bc7c9819d86c3a6b231119910d9db5eec955c7e9/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs#L44-L45

2.
It seems not feasible, unless you do not use abp existing modules such as  `Identity`, ` Permission` and etc.  The permission system of abp depends on AbpUsers.

But if

[2021-07-11 06:55] jhulbertpmn commented on #9558
Thanks again for the great info. I do just have the single external auth provider setup but I will work with that a little more to see if i can get it to behave like I want.
That makes sense regarding the abpusers table. I'll make sure to at least setup the external authentication to include the email claim so the registration happens automatically.
Thanks for pointing me in the right direction.

[2021-07-11 07:51] #8950 closed, assigned to nobody

[2021-07-11 07:52] #7709 closed, assigned to nobody

[2021-07-12 00:40] geffzhang commented on #990
OData team are researching an revolutionary change to OData. Something we call OData NxT. The goal is reconceptualize OData by making it more modular, technology-agnostic and transcendable! https://github.com/OData/AspNetCoreOData/issues/206

[2021-07-12 03:27] GotzeWong commented on #9529
Add this line to Configure() in Startup.cs
`            app.ApplicationServices.GetService<ISettingDefinitionManager>().Get(LocalizationSettingNames.DefaultLanguage).DefaultValue = "zh-Hans";`

![image](https://user-images.githubusercontent.com/7664030/125226662-106ec000-e304-11eb-9ab1-a223f85645c7.png)

[2021-07-12 04:36] maliming opened #9568 "The URL for language switching is incorrect."
https://docs.abp.io/en/abp/latest/

![image](https://user-images.githubusercontent.com/6908465/125231599-aa873600-e30d-11eb-905c-5ef1c08ace1e.png)

It may be a regression of https://github.com/abpframework/abp/pull/9538

[2021-07-12 06:48] ebicoglu opened #9570 "Apply performance enhancements for docs module"
Apply performance enhancements for docs module:
https://developers.google.com/speed/pagespeed/insights/?url=docs.abp.io

![image](https://user-images.githubusercontent.com/9526587/125243193-6f2d3d00-e2f6-11eb-9749-a205ec9f7633.png)

---

Contributors (and also images of them) may slow down page landing.
Make it partial view and load via Ajax

![image](https://user-images.githubusercontent.com/9526

[2021-07-12 08:21] trickyrat opened #9571 "[Question]High memory usage with initial project template"
ABP version
4.3.3
create project with `abp new TestDemo -t app -u angular -o TestDemo` by abp.cli
profile this project with dotmemory
![屏幕截图 2021-07-12 160736](https://user-images.githubusercontent.com/19605145/125253234-cb5e8400-e32b-11eb-83a2-c571f629359f.png)
 366MB memory used!!!! Is this a normal situation?

[2021-07-12 09:08] berkansasmaz commented on #9570
Related https://github.com/volosoft/volo/issues/6182

[2021-07-12 10:12] #9568 closed, assigned to berkansasmaz

[2021-07-12 10:31] realLiangshiwei commented on #9571
An empty MVC application memory used is `120MB`.

![image](https://user-images.githubusercontent.com/16813853/125273221-47ae9280-e33f-11eb-8654-e87e1a8f2e51.png)

ABP has a lot of [features](https://abp.io/features). so `366MB` memory used is reasonable

[2021-07-12 10:31] #9571 closed, assigned to nobody

[2021-07-12 10:49] joernz commented on #9516
@EngincanV thanks for the updates.
how can I create a new project with local FileSystem?
Edit: find the answer (https://docs.abp.io/en/abp/latest/Modules/Docs#sample-project-record-for-filesystem) :)

How do we change the tab title now? It shows always `VoloDocs` no matter which name we have in the database for the project.
![image](https://user-images.githubusercontent.com/75144099/125285683-32c0

[2021-07-12 10:49] #8905 closed, assigned to nobody

[2021-07-12 12:01] #8129 closed, assigned to nobody

[2021-07-12 12:01] #9001 closed, assigned to nobody

[2021-07-12 12:01] #9555 closed, assigned to realLiangshiwei

[2021-07-12 12:17] mehmet-erim commented on #9067
You can download `v4.4.0-rc.2` template and test. If you encounter any problem, please report it by creating a new issue.
@alexandis

[2021-07-12 12:29] minhhungit commented on #8905
?
![image](https://user-images.githubusercontent.com/2279508/125287583-4f723500-e347-11eb-90c0-0746cf1383e7.png)

[2021-07-12 12:42] cld0815 opened #9574 "Error 500 creating new pre-release project"
Create new project form the Getting Started page

Project name: Testing
Project type: Application
UI Framework: Blazor Server
Database Provider: Entity Framework Core
Database management system: **PostgreSQL**

Select "Uses latest pre-release version (4.4.0-rc.2)."

![image](https://user-images.githubusercontent.com/30192550/125289239-9c5b0900-e351-11eb-9931-83ce6bb650af.png)

[2021-07-12 12:48] cld0815 commented on #9574
PS C:\Windows\system32> abp new test --ui blazor-server -dbms postgresql  --no-random-port --preview
[20:47:11 INF] ABP CLI (https://abp.io)
[20:47:12 INF] Version 4.4.0-rc.2 (Prerelease)
[20:47:13 INF] Creating your project...
[20:47:13 INF] Project name: test
[20:47:13 INF] Preview: yes
[20:47:13 INF] DBMS: PostgreSQL
[20:47:13 INF] UI Framework: BlazorServer
[20:47:13 INF] Output folder: C:\Win

[2021-07-12 13:39] EngincanV commented on #9574
Hi @cld0815, I've tried to download a new startup template with v4.4.0-rc.2 (pre-release) and I've successfully able to do that. It could be a temporary problem, can you try to create a new project again?

[2021-07-12 13:44] maliming commented on #9574
Related https://github.com/abpframework/abp/pull/9563

[2021-07-12 13:44] #9574 closed, assigned to nobody

[2021-07-12 14:39] sturlath commented on #9489
Just for completeness sake, I´m adding my code

[code]

[2021-07-12 18:38] NecatiMeral opened #9578 "Permissions in a distributed ecosystem"
Hi everyone,

I am thinking about how to handle multiple independant applications and managing permissions.

Let's take the following scenario of two independant applications (NG-UI, HttpApi and a dedicated database).

![Untitled-1](https://user-images.githubusercontent.com/7882753/125339904-1c816e80-e352-11eb-939a-d6ab1584ee79.png)

**Goals:**
- The environment should be scalable, so we can add a