[2021-07-12 21:03] sturlath opened #9579 "How to remove all or parts of the Administration Menu in Blazor?"
I´m trying to remove the [Administration Menu](https://docs.abp.io/en/abp/latest/UI/Blazor/Navigation-Menu#the-administration-menu).

[My requirement](https://support.abp.io/QA/Questions/1084/Architectural-question-on-whether-to-choose-Multi-Tenancy-or-not#answer-0e463253-14d5-486e-ffa5-39fd6ae413ac) is that certain users (not host or tenants) are not supposed to have access to parts/all of it.

I

[2021-07-12 21:47] jhulbertpmn commented on #9558
After a lot of experimenting I finally resolved myself to needing to define the identity model separately to make it work in Cosmos - I just kept running into issue after issue with the concurrency token, navigation/relationships between entities and so on.
However, I seemed to hit more issues when i started making changes to the model. For example, the Microsoft EF article on Cosmos at https://do

[2021-07-13 00:16] JadynWong commented on #9558
Hi @jhulbertpmn

Although I haven't used cosmos db in company projects. But as far as I know, it provides mongodb compatible api. Have you tried to use mongodb project as persistence?

[2021-07-13 00:20] jhulbertpmn commented on #9558
I did actually try that and had some success, unfortunately the rest of our projects use CosmosDB with the SQL API and that is what I need to use on this project too, although it was a good exercise to narrow down the other issues. It seems to be primarily an issue with the way the ef core model is built vs what the ef core cosmos provider will accept. In general we've had very good results using

[2021-07-13 02:45] maliming commented on #9579
Can you try this?

[code]

[2021-07-13 03:31] maliming commented on #9535
hi

This is the current design, I don't think it is necessary to change it yet.

[2021-07-13 03:31] #9535 closed, assigned to nobody

[2021-07-13 03:33] maliming commented on #9533
I suggest you check the documentation.

[2021-07-13 03:33] #9533 closed, assigned to nobody

[2021-07-13 03:36] maliming commented on #9532
You can debug it to see the user of the access token and its permissions.

[2021-07-13 03:37] #9532 closed, assigned to nobody

[2021-07-13 04:45] #9529 closed, assigned to nobody

[2021-07-13 07:14] enisn commented on #9578
Hi @NecatiMeral That is a good case to think about it.

We're currently working on a Micro-Service demo similar to your example and the project is [eShopOnAbp](https://github.com/abpframework/eShopOnAbp).

As you ask `Should every application maintain its own permissions?`, you can see the answer is **YES** but managing can be centralized.

You can run the demo app by following [this article](http

[2021-07-13 07:22] NecatiMeral commented on #9578
Hi @enisn,

thanks for your answer. I just saw your article about the solution but haven't much spare time to evaluate. But I definetly will check it out!

Am I right by suspecting the following?

To have a centralized identity and permission management, the changes about users, roles and permissions must be synchronized by using a distributed event bus or dedicated synchronizers from the upstream

[2021-07-13 10:01] GotzeWong commented on #9532
Already fixed with UseJwtTokenMiddleware.

[2021-07-13 12:11] MichalCadecky opened #9581 "ExtraProperties in nested DTOs are not deserialized in Blazor WebAssembly"
* Your **ABP Framework version**: 4.3.2
* Your **User Interface** type: Blazor WebAssembly
* Your database provider: EF Core

Hello, consider following objects/DTOs:
[code]

and service:
[code]

Both `FooDto` and `BarDto` are `ExtensibleObject` and `FooDto` has a list of `BarDto`s. If I call `GetFooAsync` in my Blazor page, I will get `FooDto` with its *Name*, *Bars* and *ExtraProperties* but `Bar

[2021-07-13 13:06] realLiangshiwei opened #9583 "Use `AddAppSettingsSecretsJson` extension method"

[2021-07-13 13:55] maliming commented on #9581
HI

You can try to custom the converter to handle the `FooDto ` type.

https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?pivots=dotnet-5-0

[2021-07-13 14:07] sturlath commented on #9579
It worked (removed the whole Admin menu). I can work with that for now.

But is it all or nothing or can I remove (and access controlled) the submenus? Maybe that doesn´t make sense that the user has access to e.g. Audit Logs or Settings and nothing else?

[2021-07-13 14:07] #9579 closed, assigned to nobody

[2021-07-13 15:12] hikalkan opened #9584 "Remove gulpfile from the MVC UI projects"
Since we now have the `abp install-libs` command. Also, check the documentation to offer the new usage instead of `yarn && gulp`.

[2021-07-13 15:20] hikalkan opened #9585 "Remove abppkg.json files from the package contents"
Create a new solution using 4.4.0-rc.2 then open with VS 2019:

![image](https://user-images.githubusercontent.com/1210527/125478478-bfdd40c7-8254-4703-977f-6562df0a15b3.png)

We should not see these files here.

[2021-07-13 15:44] #8918 closed, assigned to nobody

[2021-07-13 17:30] louieyu opened #9586 "Where to inject IOptions<AbpDbContextOptions>?"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-07-14 00:59] #9026 closed, assigned to nobody

[2021-07-14 01:00] maliming commented on #9586
Please provide details information.

[2021-07-14 01:00] #9586 closed, assigned to nobody

[2021-07-14 02:13] #9487 closed, assigned to nobody

[2021-07-14 08:00] berkansasmaz opened #9589 "Menu items overlap when I download the docs module to the application with suite"
Related https://support.abp.io/QA/Questions/1567/Docs-Menu-Formatting

- ABP Framework version: 4.4.0-rc.2
- UI type: Blazor Server
- DB provider: EF Core
- Docs location: GitHub

<img width="1920" alt="Screen Shot 2021-07-14 at 10 17 44" src="https://user-images.githubusercontent.com/31216880/125585412-28fe5fe4-2e0b-4801-87ac-8f07328e24a5.png">

[2021-07-14 08:04] mtozlu opened #9590 "Allow TemplateDefinitionManager to redefine templates on the fly"
In our system, we are using Templating engine of abp v4.4
Our templates are stored in database instead of Virtual File System. So we have the ability to update/add templates on the fly.

However after adding/updating templates, we need to call `Define` method of `TemplateDefinitionProvider` to add new templates. This is done in `TemplateDefinitionManager`. https://github.com/abpframework/abp/blob/

[2021-07-14 08:18] yekalkan commented on #9589
dupicate of https://github.com/volosoft/volo/issues/7206

[2021-07-14 08:18] #9589 closed, assigned to nobody

[2021-07-14 08:26] NecatiMeral commented on #9590
You could create a own implementation of `TemplateDefinitionManager` or inherit from `TemplateDefinitionManager`.

[2021-07-14 09:15] mtozlu commented on #9590
I tried to inherit from `TemplateDefinitionManager` and create a new method for refreshing Templates, however Templates property has no setter, so I had to hide inherited property and use `Templates` property with a private setter. Secondly there is no `RefreshTextTemplateDefinitions` method so I had to create that method. Bu registering this new Manager into DI was a bit problematic because this

[2021-07-14 11:56] NecatiMeral commented on #9584
This change requires our CI agents to have the ABP CLI installed. I personally feel like the more native way of `yarn && gulp` is more suitable for CI/CD scenarios.

Will the old behavior still be supported?

[2021-07-14 12:07] cld0815 commented on #9574
@EngincanV Creating a template with the default configuration is fine, but this error occurs when using **PostgreSQL** database

[2021-07-14 12:24] realLiangshiwei opened #9593 "Do not create appsettings.secrets.json for templates below 4.4"

[2021-07-14 12:54] #9583 closed, assigned to realLiangshiwei

[2021-07-14 13:28] hikalkan commented on #9584
We won't maintain the old gulp file, but not remove it from the npm package. However, removing it from new startup templates beginning from v5.0 (end of this year).

[2021-07-14 15:15] tarikdevapp opened #9598 "Use the configs from AbpKafkaOptions"
**latest version**.
**MVC**
**Database provider(EF Core)**
This code here doesn't work because...
`var config = options.Value.ConfigureConsumer;
 using (var consumer = new ConsumerBuilder<Ignore, string>(config).Build())
{
//Consume messages
}`
The config needs to be of type ConsumerConfig while the one from the AbpKafkaOption is of type action<ConsumerConfig>.

#abp #kafka

[2021-07-14 15:26] realLiangshiwei commented on #9598
See https://docs.abp.io/en/abp/latest/Distributed-Event-Bus-Kafka-Integration#the-options-classes

[2021-07-14 15:26] #9598 closed, assigned to nobody

[2021-07-14 15:58] tarikdevapp commented on #9598
That's not what I am looking for.

[2021-07-14 15:59] tarikdevapp commented on #9322
For future reference, I got around this by extending the services btw.

[2021-07-14 16:14] #8645 closed, assigned to nobody

[2021-07-14 16:34] ArneCools opened #9599 "Tiered project Host module enable Cookie authentication"
* Version 4.3.0
* Blazor server Tiered project
* EF Core

I'm trying to open a controller page from the Host module with the [Autorized] attribute. But I always get a 401, even though I'm logged in and the cookies are present
[code]
This is what my ConfigureAuthentication() looks like:
[code]

I tried replacing it with:
[code]

But then my Blazor server front-end throws an error.

So my question i

[2021-07-15 00:07] realLiangshiwei commented on #9598
`ConfigureConsumer` just a delegate method and that allows you to customize `ConsumerConfig`.

I can't get your point, but however, you can create your own `ConsumerConfig`.

[2021-07-15 02:17] maliming commented on #9599
hi

* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-07-15 09:58] tarikdevapp commented on #9598
Thank you for the response, however, I'm neither trying to customize nor trying to create my own ConsumerConfig.
I want to use your AbpKafkaOptions to produce and consume messages, but I don't want to use "distrubited event bus kafka".
I've looked through your docs and kafka samples with no result.
I'm currently using this
`  var config = new ConsumerConfig
            {
                Acks = Ack

[2021-07-15 10:49] d-oit opened #9601 "AbstractKeyCrudAppService - UpdateAsync"
* Your **ABP Framework version**. -> **4.3.3**

* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI -> **Blazor**
* Your database provider(EF Core/MongoDB) -> **EfCore**

Why do you get a existing record with includeDetails = true ? Usually you map the id or map a navigation property.
Any reason for that?

 public virtual async Task<TGetOutputDto> Up

[2021-07-15 11:03] ArneCools commented on #9599
- Exception message and stack trace if available (check the logs).
[12:54:10 INF] Authorization failed. These requirements were not met:
DenyAnonymousAuthorizationRequirement: Requires an authenticated user.
[12:54:10 INF] AuthenticationScheme: Bearer was challenged.

- Steps needed to reproduce the problem.

1. Create new Blazor server tiered project
2. Create controller class TestController.cs i

[2021-07-15 12:36] maliming commented on #9601
`includeDetails = false` won't load the navigation properties of the entiiy.

[2021-07-15 12:49] ghost opened #9602 "About abp.js files."
Hi,

We use 4.3.3 version.

framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/js/abp.js

abp.utils.setCookieValue metod not include secure parameter.

ABP Framework version : 4.3.3
User Interface                 : MVC
Your database provider  : EF Core
@hikalkan @maliming

[2021-07-15 12:53] maliming commented on #9599
You should continue to use `JwtBearerDefaults.AuthenticationScheme` as the `DefaultScheme`, and use the cookies scheme in your controller, or customize the policy.

https://docs.microsoft.com/en-us/aspnet/core/security/authorization/limitingidentitybyscheme?view=aspnetcore-5.0#selecting-the-scheme-with-policies

[2021-07-15 12:53] #9599 closed, assigned to nobody

[2021-07-15 12:57] maliming commented on #9602
hi

It has the `secure` parameter.

https://github.com/abpframework/abp/blob/4.3.3/framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/js/abp.js#L27
https://github.com/abpframework/abp/blob/4.3.3/framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/js/abp.js#L41

[2021-07-15 13:05] ercanxp commented on #9602
Hi, I upgraded abp version from 4.3.2 to 4.3.3. But the abp.js file is not updated. The current abp.js file does not have a secure parameter. Thank you for your answer, Best regardsErcan Çiftçi 15.07.2021, 15:57, "maliming" ***@***.***>: hiIt has the secure parameter.https://github.com/abpframework/abp/blob/4.3.3/framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/js/abp.js#L27https:

[2021-07-15 13:06] ghost commented on #9602
Hi, @maliming

I upgraded abp version from 4.3.2 to 4.3.3. But the abp.js file is not updated. The current abp.js file does not have a secure parameter.

Thank you for your answer,

[2021-07-15 13:58] enisn commented on #9602
You can update js & css files via using `yarn`.

You can follow [This document](https://docs.abp.io/en/abp/4.3/UI/AspNetCore/Client-Side-Package-Management) to update Client-Side packages

[2021-07-15 14:01] d-oit commented on #9601
When do you need navigation properties for update?
You override with automapper if available or update the ForeignKey (Id).

Do you have any use case for the current logic? I try to understand what's the reason for the current implementation.

[2021-07-15 14:20] sturlath commented on #8977
FYI, better wording for @realLiangshiwei answer would be

[2021-07-15 14:39] enisn commented on #9601
Hi @d-oit

So AggregateRoots has to be treated as a single unit, that means you have to Read, Create and Update AggregateRoot with its related entities(Naviagation Properties at your situation.)

I highly recommend to you to read the [Aggregate Root Documentation](https://docs.abp.io/en/abp/latest/Entities#aggregateroot-class) for more.

[2021-07-15 15:09] d-oit commented on #9601
@enisn Thanks for your reply. I asking about this line:

` var entity = await GetEntityByIdAsync(id);`

the current abp code get - ef core - ALL defined include from the database.

Then map with
 `await MapToEntityAsync(input, entity);`
**input** has id (foreignkey) or the navigation property class with changes.

so why do you need to get all include from the database first and assign afterwards -

[2021-07-15 18:34] ghost commented on #9602
I used the yarn command. But there was no update in the abp.js file.

I got this file. [npm/packs/core/src/abp.js]

not below

https://github.com/abpframework/abp/blob/4.3.3/framework/src/Volo.Abp.AspNetCore.Components.Web/wwwroot/libs/abp/js/abp.js#L27

![image](https://user-images.githubusercontent.com/9715414/125839607-3b03e900-7734-419c-9315-596b43fd6d7f.png)

![image](https://user-images.gith

[2021-07-16 01:08] maliming commented on #9602
hi

Are you executing the above command in a web project?

[2021-07-16 01:11] #9601 closed, assigned to nobody

[2021-07-16 01:19] vnetonline opened #9603 "Please upgrade SweetAlert to SweetAlert2"
SweetAlert2 has the capability of having HTML in the message please can we have SweetAlert2 support in ABP SweetAlert is very limiting and out of date.

[2021-07-16 02:12] maliming commented on #9603
Duplicate of #9413

[2021-07-16 02:12] #9603 closed, assigned to nobody

[2021-07-16 02:41] #9031 closed, assigned to nobody

[2021-07-16 02:48] weiwxg opened #9604 "Get datas of soft deleted!"
I have a entity which not set `DbSet<?>` Property in DbContext. Then when i use `Repository.GetAsync(id)`, i get the deleted item!

[code]

[2021-07-16 02:55] maliming commented on #9604
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-07-16 03:24] weiwxg commented on #9604
- ABP Framework version 4.3.3
- No User Interface
- EF Core

[2021-07-16 03:27] maliming commented on #9604
Full steps are needed to reproduce the problem.

[2021-07-16 03:47] weiwxg commented on #9604
[code]

Firstly, i call `HttpGet` `localhost:5201/api/foos`, return 1 items:
[code]

Then, i call `HttpDelete` `localhost:5201/api/foos/39fdbee9-14b5-365b-69a0-360cf23ba326`, return 204.

Obviously, the data is deleted.

However, when I call the `HttpGet` `localhost:5201/api/foos` again, I can find the deleted data

[code]

[2021-07-16 05:23] maliming commented on #9604
Abp will get `EntityTypes` by `DbSet<>`, so you have to add it to `AbpDbContextAbpDbContext`

https://github.com/abpframework/abp/blob/63417727af1322f5e4e3756fd004b11225ca5f34/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/DbContextHelper.cs#L13

[2021-07-16 05:23] #9604 closed, assigned to nobody

[2021-07-16 07:29] ghost commented on #9602
Hi @maliming

Yes.

![image](https://user-images.githubusercontent.com/9715414/125909459-20337aff-9436-480e-bf67-30c0df078373.png)

[2021-07-16 07:38] maliming commented on #9602
hi
Can you share a minimum project to reproduce this?

[2021-07-16 08:17] rqx110 opened #9608 "The last item in the document navigation is not fully displayed"
reproduce  step: scroll down to the bottom

![image](https://user-images.githubusercontent.com/1829209/125914890-2a0675d3-302b-44d6-a86f-932bf71372cb.png)

possible fixed by:
change https://github.com/abpframework/abp/blob/c15c2210142281fabdad7877b8225e5ea3081b54/modules/docs/src/Volo.Docs.Web/Pages/Documents/Shared/Styles/vs.scss#L115

to:

` padding: 0 1rem 1rem;`

[2021-07-16 08:39] ercanxp commented on #9602
Hi @maliming,

Can you connect me with AnyDesk?  544 147 714

[2021-07-16 11:15] tarikdevapp commented on #7191
It is still not fixed! The method above by @BeranekCZ works.

[2021-07-16 11:43] leonkosak commented on #9084
I think that this is not required. Where do you suggest that should this part of code be located (for setting DX localization) @cotur?

[2021-07-16 12:23] ocodista opened #9609 "How to remove /app from routes?"
I want to know if there's a way to change the "/api/app" prefix to use only "/api"

[2021-07-16 13:34] iyilm4z commented on #9609
Hi @CAIOHOBORGHI,

[This doc](https://docs.abp.io/en/abp/latest/API/Auto-API-Controllers#route) may help.

[2021-07-16 18:00] safi-huss opened #9610 "ABP CLI: Unable to download old version of template"
Referencing the closed issue below
ABP CLI: Unable to download old version of template #7356

I am trying to create a version of the template project supporting .NET Core 3.1 (because of my target deployment environment). I am using the CLI new command in the following manner:

`abp new BookStore -t app -v 3.3.0`

OR

`abp new BookStore -v 3.3.0`

I receive the following output:

[code]

[2021-07-17 08:46] zhangzunke commented on #6745
@ThreeLambs, I met the same issues, how do you fix it, thanks.

[2021-07-17 14:22] EZevan opened #9611 "How to configure the default format of guid for entities' id"
### How to configure the default format of guid for entities' id

* I just wonder that if it is possible to change the default format  of guid for entities'/tables' id. For instance, the default guid is **39fc4539-21bf-a90c-1fe1-13973c285a6f**, but i hope it can be **39fc453921bfa90c1fe113973c285a6f** by some specified configuration.

Hope hear from you soon,thanks a lot!

[2021-07-17 16:43] Nokecy opened #9612 "`TimeSpan` cannot be used for caching."
[code]
Use memory cache
The test is Failed

[2021-07-17 17:58] idreeshaddad opened #9613 "BasicAggregateRoot<TKey> extends Entity<TKey>: Type 'Entity' is not generic!"
ABP CLI: v4.3.3 (Stable)
Angular: v11.2.10.
After generate-proxy and serving the Angular code I've started getting this error:

![image](https://user-images.githubusercontent.com/2285974/126045789-ed567f26-e747-4e0e-a755-aa308f70803a.png)

[2021-07-17 23:06] ShaunDanielz opened #9614 "Volo.Abp.ObjectExtending 4.3.3 uses System.Text.Encodings.Web 5.0.0 that has a critical vulnerability"
I ran a **Synk Open Source** scan on an **ABP 4.3.3** project and it recommended that the package : System.Text.Encodings.Web be upgraded to **5.0.1**

### Overview
Affected versions of this package are vulnerable to **Remote Code Execution (RCE)** due to how text encoding is performed.
Remediation
Upgrade system.text.encodings.web to version 4.5.1, 4.7.2, 5.0.1 or higher.

![image](https://user-i

[2021-07-18 00:41] ocodista opened #9615 "How to use exception filter with abp?"
I'm trying to return a specific object everytime an "ArgumentException" is thrown.

To do this, I created

[code]

and added
` [TypeFilter(typeof(SafeRunExceptionFilter))]`

To the AppService file.

But instead of returning the file, I'm getting an InternalServerErrorMessage json from abp.

Any clue on how should I achieve my goal?

[21:36:00 ERR] ---------- RemoteServiceErrorInfo ----------
{
  "

[2021-07-18 00:53] maliming commented on #9615
hi
You can override the `AbpExceptionFilter` sevice.
https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs#L54

[2021-07-18 00:53] maliming commented on #9613
hi

* Steps needed to **reproduce** the problem.

[2021-07-18 01:22] medbour opened #9617 "Is Volo.Abp.BlazoriseUI compatible with server side blazor?"
### Discussed in https://github.com/abpframework/abp/discussions/7442

<div type='discussions-op-text'>

<sup>Originally posted by **wocar** January 25, 2021</sup>
Hello I see that

`Volo.Abp.BlazoriseUI`

has a dependency on:

`Volo.Abp.AspNetCore.Components.WebAssembly`

Is the Abp.BlazoriseUI package compatible with server side blazor?

Thank you!
</div>

[2021-07-18 08:40] ismcagdas commented on #9610
@safi-huss could you try again ? It should work now.

[2021-07-18 10:52] realLiangshiwei commented on #9617
https://github.com/abpframework/abp/blob/c15c2210142281fabdad7877b8225e5ea3081b54/framework/src/Volo.Abp.BlazoriseUI/AbpBlazoriseModule.cs#L11

`Volo.Abp.AspNetCore.Components.Web` instead of `Volo.Abp.AspNetCore.Components.WebAssembly`

Yes, it is compatible with server-side blazor

[2021-07-18 10:52] #9617 closed, assigned to nobody

[2021-07-18 13:10] idreeshaddad commented on #9613
Text book code:
Domain:
![1](https://user-images.githubusercontent.com/2285974/126068102-73a8a20e-7598-43a4-891d-336ef793e5a6.png)
Application Service:
![2](https://user-images.githubusercontent.com/2285974/126068109-6ddec757-f26d-413a-a28d-ea95075c3bfb.png)
Dto:
![3](https://user-images.githubusercontent.com/2285974/126068113-d8404349-b944-4677-b3b9-9beb7ae7f1ed.png)

Then after generating the pr

[2021-07-18 14:03] CAIOHOBORGHI commented on #9615
Hello, thanks for answering!

How should I do this, using a class that extends AbpExceptionFilter?

[2021-07-18 14:12] ocodista commented on #9615
Hey @maliming thanks for the answer...

When I tryed, I got this error \/

[code]

This is the class I'm using:
[code]

Any help?

[2021-07-18 14:59] GotzeWong commented on #6529
@qiang999  how could u fix this problem? I got the same problem. Please share more details.

[2021-07-18 15:25] GotzeWong commented on #9214
@Walk4Muscle  How could I get access token value as u did？ Below is my token
![image](https://user-images.githubusercontent.com/7664030/126072866-b2cf1cfc-7716-4064-8399-09205e5ca2d9.png)

[2021-07-19 00:38] maliming commented on #9613
hi @mehmet-erim  Can you help to check?

[2021-07-19 01:02] maliming commented on #9612
hi

You can implement a converter, See: https://github.com/dotnet/runtime/issues/29932#issuecomment-694650687 https://github.com/dotnet/runtime/pull/54186

It will be available in net 6.

[2021-07-19 01:02] #9612 closed, assigned to nobody

[2021-07-19 01:06] maliming commented on #9611
For an entity, its primary key type is GUID. There is no concept of format.
For database tables you can refer to https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions?tabs=data-annotations

[2021-07-19 01:06] #9611 closed, assigned to nobody

[2021-07-19 01:10] maliming commented on #9615
[code]

What is your `IErrorInfoBuilder and IAbpAspNetCoreConfiguration`?
Please add these to DI container.https://docs.abp.io/en/abp/latest/Dependency-Injection

[2021-07-19 03:15] GotzeWong opened #9618 "How to implement token-based Authentication in ABP? Or How to use"
I'm sorry to post the silly question maybe but stuck for a few days.

Does ABP support token-based authentication for the Vue front-end by default?

If so, how could I request a valid access token in the right way?
If not, are there any steps to support token-based authentication?

I tried to request tokens via '/connect/token' and only got the standard payload without user or role info.
I found A

[2021-07-19 03:23] realLiangshiwei commented on #9618
Angular UI  also uses `/connect/token` endpoint, you can check it.

[2021-07-19 03:23] #9618 closed, assigned to nobody

[2021-07-19 06:20] Nokecy commented on #9612
@maliming  thx

[2021-07-19 12:17] GotzeWong commented on #9618
Fixed with UseJwtTokenMiddleware.

[2021-07-20 04:38] liquehuo commented on #4118
@iimax  Hello, have you solved it?

[2021-07-20 06:16] mooresway commented on #8385
Excited to see eShopOnAbp is happening!
https://blog.abp.io/abp/Introducing-the-eShopOnAbp-Project
https://github.com/abpframework/eShopOnAbp

Thanks @enisn, @hikalkan, @gterdem... looking forward to seeing this come to life and learning from it. No doubt it will help bring more developers to Abp as well.

[2021-07-20 07:41] laosandegudai commented on #330
hi, This is a very useful feature why did you remove it?Good for Ajax requests

[2021-07-20 07:45] #9066 closed, assigned to nobody

[2021-07-20 08:48] slarkerino opened #9620 "Owned Entity Not Updated After Update Repository"
Owned properties update properly when using appservice. However, when I try to update an owned entity using repository, it resulted in success but the location property is not updated. I have tried to update other properties that is not an owned property and it works.
![image](https://user-images.githubusercontent.com/7014849/126291044-587a68cf-d6d0-40e3-b1c7-b7cc5d13b440.png)
![image](https://use

[2021-07-20 14:10] MichalCadecky commented on #9581
I have implemented my own `JsonConverter` with *ExtraProperties* deserialization and that indeed works... But that requires to setup JsonConverter for each respective object which is no-go from my perspective.

The thing is - I have introduced even more nesting, 3 layers, 4 layers, etc... and all objects are deserialized perfectly fine. Just the `ExtraPropertyDictionary` are never properly deseria

[2021-07-21 01:24] maliming commented on #9581
hi @MichalCadecky

Can you share your `converters`?

[2021-07-21 01:43] realLiangshiwei commented on #9610
It works fine.

![image](https://user-images.githubusercontent.com/16813853/126417303-5fe15d7a-f341-489d-8e3d-d6e81b3dd0dc.png)

[2021-07-21 01:43] #9610 closed, assigned to nobody

[2021-07-21 02:49] #9494 closed, assigned to nobody

[2021-07-21 07:44] maliming commented on #9620
You can try to use EF Core without abp first.

[2021-07-21 07:52] Mike-Zrw opened #9622 "DataFilter Bug"
[code]

Except OutPut:

[code]

Actually is：

[code]

Maybe need change the Code：

[code]

[2021-07-21 07:53] Mike-Zrw opened #9623 "DataFilter Bug"
[code]

Except OutPut:

[code]

Actually is：

[code]

Maybe need change the Code：

[code]

[2021-07-21 07:55] maliming commented on #9623
Duplicate of #9622

[2021-07-21 07:55] #9623 closed, assigned to nobody

[2021-07-21 07:59] MichalCadecky commented on #9581
It is nothing really special. Just raw JSON writing and reading based on read token type. It is ignoring the `JsonSerializerOptions ` but for the matter of the test it was not really necessary.

[code]

[2021-07-21 08:07] Stirda commented on #8174
I agree @Alexbits . I encountered the same problem (not the same parameter name in service interface vs service class). Solution build but call from client set parameter to null silently. @maliming Could [documentation page](https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients) say a little about that tricky behavior. I know it is the dev fault, not ABP one. But it would be kind to set

[2021-07-21 08:43] rwecho opened #9624 "How I fixed "No theme registered! Use AbpThemingOptions to register themes" ?"
#6627
#2679
like other's posts, when I publish the HttpApi.Host, I got the “No theme registered exception” when access 401 API.

final I solved with remove code :
[code]

![image](https://user-images.githubusercontent.com/8048753/126458765-967e9281-c558-4acf-8691-a795827cf73a.png)

Must the error page need a theme?

To reproduce it, you can create a tiered solution then access /error router of htt

[2021-07-21 09:24] realLiangshiwei commented on #9624
I will check it out

[2021-07-21 09:40] maliming commented on #9581
In fact, this is a [limit of System.Text.Json](https://github.com/abpframework/abp/issues/6095), I will try to find a suitable solution.

[2021-07-21 10:18] realLiangshiwei commented on #9624
I think `app.UseErrorPage();`  is unnecessary for `HttpApi.Host`. we can remove it.

[2021-07-21 10:54] Loongle opened #9625 "Not found Volo.Abp.MultiLingualObjects on nuget.org"

[2021-07-21 11:07] maliming commented on #9581
See https://github.com/abpframework/abp/pull/9626

[2021-07-21 12:42] MichalCadecky commented on #9581
I have tried to replace the original `AbpHasExtraPropertiesJsonConverterFactory` and `AbpHasExtraPropertiesJsonConverter` with the implementations in proposed pull request and it does not seems to work.

In addition, I am quite unsure if the `ExcludeTypes` property should be static. It will cause to "convert" the respective type only once and falling back to default deserialization consequently. H

[2021-07-21 12:59] maliming commented on #9581
Can you share your steps and code?

You are right, I will update.

[2021-07-21 13:14] MichalCadecky commented on #9581
I have copied both `AbpHasExtraPropertiesJsonConverterFactory` and `AbpHasExtraPropertiesJsonConverter` and created `AbpHasExtraPropertiesJsonConverterFactory2` and `AbpHasExtraPropertiesJsonConverter2` with the code from the changes files.

And replaced the converters like this:
[code]

[2021-07-21 13:53] MichalCadecky commented on #9581
Ok, I understand the issue now.

Creating the new options like this:
[code]
will cause the converter to be removed from the available list of converters and later on, when actual deserialization is called
[code]
it will deserialize the object itself but there will be no `AbpHasExtraPropertiesJsonConverter` for the nested objects causing the nested deserialization to just fallback to default and no

[2021-07-21 14:07] maliming commented on #9581
hi

You can try to change the `JsonOptions` and check [this commit](https://github.com/abpframework/abp/pull/9626/commits/f59abe5aa0aff10351e23808b9fd60d2444fc167).

[code]

[2021-07-21 14:31] maliming commented on #9581
Yes, this is the point. 👍 I will try to do some refactor.

[2021-07-21 14:32] MichalCadecky commented on #9581
Yes, provided commit has fixed the issue. But...

I have just found that `ExtendedObject` has protected setter for `ExtraProperties`, that is why the `JsonSerializer` is ignoring it. And that is why there has to be special handling for the objects implementing `IHasExtraProperties` and inheriting from `ExtendedObject` at the same time. I understand why `ExtendedObject` has the protected setter for

[2021-07-21 16:43] melfahn opened #9627 "**abp** exception on suite generated UI"

[2021-07-21 16:48] melfahn commented on #9627
-- 4.3.3
-- MVC
-- EF  CORE

Getting an exception using any entity UI.  this comes up immediately on the initial grid

![Screenshot 2021-07-21 124735](https://user-images.githubusercontent.com/5402008/126527435-b3156da8-c14a-47e2-8875-c58c96cf9a61.png)

[2021-07-22 00:41] maliming commented on #9627
hi @melfahn

Please get help on support website.
https://support.abp.io/QA/Questions/New

[2021-07-22 00:41] #9627 closed, assigned to nobody

[2021-07-22 00:44] melfahn commented on #9627
I would if I could. Seems like I should be able to report a bug without a current commercial license
![Screenshot 2021-07-21 204435](https://user-images.githubusercontent.com/5402008/126576773-5ad84291-31d8-4b10-bd36-4ce73f508e55.png)

[2021-07-22 01:18] realLiangshiwei commented on #9625
See https://github.com/abpframework/abp/issues/1754#issuecomment-826184860

[2021-07-22 01:18] #9625 closed, assigned to nobody

[2021-07-22 01:50] maliming commented on #9622
This is related to how AsyncLocal works in multiple threads.

[2021-07-22 01:51] #9622 closed, assigned to nobody

[2021-07-22 01:52] #9609 closed, assigned to nobody

[2021-07-22 02:53] aboutdomtime commented on #2087
@djordjedjukic  and @gterdem I started working on integrating RavenDb in ABP this past weekend. I am both new to ABP and RavenDb, but I've made some good progress. I am experiencing some issues while running tests.

I getting: Volo.Abp.Uow.UnitOfWorkInterceptor, Volo.Abp.Uow, Version=4.3.3.0, Culture=neutral, PublicKeyToken=null]]' has not been registered.****

While trying to resolve an instance

[2021-07-22 03:01] tkezyo opened #9628 "How to use blazor webview in WPF or Maui?"
Can the existing blazor module be used in blazor webview in WPF?
https://devblogs.microsoft.com/dotnet/announcing-net-maui-preview-4/#blazorwebview

[2021-07-22 03:11] maliming commented on #9628
This is nothing to do with ABP.

[2021-07-22 03:11] #9628 closed, assigned to nobody

[2021-07-22 03:31] muzizongheng opened #9629 "A console app can't use multi different types database， like sql server & PostgreSQL"
ABP Framework version： 4.3.3，

User Interface： Console
Your database provider：EFCore

Steps to reproduce the problem:
1. use abp cli to create console,

2. add **sqlserver** for the **first AbpModule** , according to https://docs.abp.io/zh-Hans/abp/latest/Entity-Framework-Core

3.  add new DbConext and set connectionStringName
4. test the first Dbconext to local Sql server, it's ok.
5. create a ne

[2021-07-22 04:05] maliming commented on #9629
Only one database provider can be used in a project. Microservices support different database providers

[2021-07-22 05:15] maliming commented on #9629
HI

You can try to configure the `dbcontext` separately.

[code]

https://docs.abp.io/en/abp/latest/Connection-Strings

[2021-07-22 06:11] muzizongheng commented on #9629
it works fine!  thank you!

last solution:
pass dbcontext class to UseSqlServer template in different abpmodule.
FirstAbpModule.cs
[code]

SecondAbpModule.cs
[code]

[2021-07-22 06:12] #9629 closed, assigned to nobody

[2021-07-22 06:36] maliming commented on #9581
This is the limit of `System.Text.Json`. I think it will be supported in the future.

https://github.com/abpframework/abp/issues/6095

[2021-07-22 06:40] seventychi commented on #7221
IdentityServer 5 is not open source anymore..only for develop and testing....
the price info below: https://duendesoftware.com/products/identityserver#pricing

[2021-07-22 07:10] zhangxd-1222 opened #9632 "abp4.3 angular remove or hidden claims dropdownitem"
hi，abp commercial
![image](https://user-images.githubusercontent.com/6479812/126601579-b2c95f4f-d3a3-4912-9244-c8243a88a651.png)
I want to hide the dropdown button,so what should i do
thank you!

[2021-07-22 07:16] maliming commented on #9632
hi

Please get help on the support website.
https://support.abp.io/QA/Questions/New

[2021-07-22 07:16] #9632 closed, assigned to nobody

[2021-07-22 07:57] #9624 closed, assigned to realLiangshiwei

[2021-07-22 07:58] maliming commented on #9627
hi @melfahn

Is your commercial license expired?

[2021-07-22 09:15] vijay2358 commented on #7221
As ABP mentioned for switching options and suggestions-  not asking for  it free or commercial.

[2021-07-22 09:34] muzizongheng opened #9634 "A console app can't DI a simple Entity."
I create a simple enity like this:
[code]
IHostedService class
[code]

[code]

**when i DI this entity of IRepository in IHostedService, it failed:**

Autofac.Core.DependencyResolutionException: An exception was thrown while activating λ:Microsoft.Extensions.Hosting.IHostedService[] -> MyHostedService .

**stack trace** :
Autofac.Core.DependencyResolutionException: None of the constructors found w

[2021-07-22 09:47] maliming commented on #9634
Please check the official documentation before asking questions:
https://docs.abp.io/en/abp/latest/Module-Development-Basics
https://docs.abp.io/en/abp/latest/Module-Development-Basics#module-dependencies
https://docs.abp.io/en/abp/latest/Dependency-Injection

[2021-07-22 09:47] #9634 closed, assigned to nobody

[2021-07-22 15:40] ocodista commented on #9615
Actually, I don't know if matters, but I'm currently using Volo.Abp, so I don't naturally have the AbpExceptionFilter in the project

[2021-07-22 15:45] ocodista commented on #9615
Even after adding

`            context.Services.AddAssemblyOf<AbpExceptionFilter>();`

to the ConfigureServices and setting the exceptionFilter class as this \/

[code]

I'm getting the following error:

[code]

[2021-07-22 15:47] ocodista commented on #9615
This is My ApplicationModule class \/

[code]

[2021-07-22 20:15] mahdighorbanpour opened #9635 "Class that Replaces and extends the AccountAppService shows up in the Swagger UI"
* Your **ABP Framework version : 4.3.3**.
* Your database provider(EF Core/MongoDB) : EF Core
* Steps needed to **reproduce** the problem.
I followed this article about how to replace a service. What I want to achieve is to add some more functions to the existing Account service. However at the end, both api/account API and the customized one appear in the Swagger UI. I would like to specify the s

[2021-07-23 03:14] realLiangshiwei commented on #9635
You don't need to replace `AccountAppService`

Try:

[code]

[code]

[2021-07-23 05:20] maliming commented on #9615
**Unable to resolve service for type 'Abp.Web.Models.IErrorInfoBuilder' while attempting to activate BlackBox.Filters.SafeRunExceptionFilter'.**

What is its implementation?

[2021-07-23 06:13] mahdighorbanpour commented on #9635
@realLiangshiwei Thanks a lot, it helped me to resolve the issue. however I needed to modify the default behavior of register as well. So here is What I did, I kept the replace service and added [RemoteService(IsEnabled = false)]
[code]

In the interface, I replaced "IAccountAppService" with "IApplicationService"
[code]
and the controller is the same as you sent. Now it works as I desire, I have o

[2021-07-23 06:27] realLiangshiwei commented on #9635
Because you have use the `ExposeServicesAttribute`

[2021-07-23 06:27] #9635 closed, assigned to nobody

[2021-07-23 07:08] #9593 closed, assigned to realLiangshiwei

[2021-07-23 09:19] safi-huss commented on #9610
Yup, works! Thanks!

[2021-07-23 10:54] realLiangshiwei opened #9637 "AbpSystemTextJsonSerializer character-encoding"
By default, the serializer escapes all non-ASCII characters. That is, it replaces them with \uxxxx where xxxx is the Unicode code of the character.

We should minimize character escaping

![image](https://user-images.githubusercontent.com/16813853/126772282-ab30d5b2-e0cc-4745-a621-11ab0d02bf20.png)

[2021-07-23 12:18] mahdighorbanpour commented on #9635
Now I am facing a new problem which I can't find a solution on the internet and documentations. I want to add more properties to the RegisterDto and I followed [this article](https://docs.abp.io/en/abp/latest/Object-Extensions). Note that I don't need to save the Company into my user entity but I am going to use it as the tenant name. Now here is how my code looks like:
[code]

The problem is the

[2021-07-23 12:35] prajapati-ritesh opened #9639 "Web Project to Host project API CALL from Controller (Web Project controller to API controller method call)"
Hi,

Can anyone please suggest the flow to call Host Project Controller Method from Web Project Controller?
If possible attach the solution as well.
Thanks & regards,
Ritesh Prajapati.

[2021-07-23 17:55] radwan-badr opened #9640 ".Net 5.0 Restore issue on Linux"
Package Volo.Abp.IdentityServer.Domain 4.3.3 is not compatible with netcoreapp5.0 (.NETCoreApp,Version=v5.0). Package Volo.Abp.IdentityServer.Domain 4.3.3 supports: net50 (.NETFramework,Version=v5.0)

**this issue happen when trying to restore ABP project in Linux environment**

[2021-07-23 19:51] aboutdomtime commented on #2087
I solved the issue. I need to add a DependsOn for typeof(AbpAutofacModule)

[2021-07-24 00:00] ocodista commented on #9615
Of IErrorInfoBuilder? None... I didn't implement

[2021-07-24 04:59] Vayth opened #9641 "Change default admin role when seeding data"
Is there a way to rename the default `admin` role to something else, e.g. `system admin` or `super admin` ? In some contexts , admin may refer to task administrator or maybe other administrator and some people might use that for something else.

Seems like the [data seeder](https://github.com/abpframework/abp/blob/dev/modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/

[2021-07-24 05:22] maliming commented on #9640
Please install the SDK or runtime of net 5.0 https://dotnet.microsoft.com/download/dotnet/5.0

[2021-07-24 05:22] #9640 closed, assigned to nobody

[2021-07-24 05:23] maliming commented on #9615
This belongs to the aspnetboilerplate instead of abp.
https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Web.Common/Web/Models/IErrorInfoBuilder.cs

Please check your app.

[2021-07-24 07:42] #9060 closed, assigned to nobody

[2021-07-24 08:53] fileman commented on #9641
As I [replied](https://stackoverflow.com/questions/68489892/rename-default-admin-role-in-abp-framework/68508429#68508429) on stackoverflow, since is virtual, have you tried to override it?

[2021-07-24 09:02] fileman opened #9643 "Add OData with RESTier"
Integrate or reference [RESTier](https://github.com/OData/RESTier/) to support OData.

Can you take a look at RESTier, they are near to release next version with great code review and support for .net 5
https://github.com/OData/RESTier/issues/616#issuecomment-883656815

[2021-07-24 11:21] tangdf opened #9644 "Multi-threaded safety"
https://github.com/abpframework/abp/blob/5879885deedfe4aadc529cf9c29aa95aec13e342/framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/RabbitMqMessageConsumer.cs#L132-L139

https://github.com/abpframework/abp/blob/5879885deedfe4aadc529cf9c29aa95aec13e342/framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/RabbitMqMessageConsumer.cs#L134

Whether thread safety needs to be considered here？

[2021-07-24 11:40] tangdf opened #9645 "Multi-threaded safety"
https://github.com/abpframework/abp/blob/5879885deedfe4aadc529cf9c29aa95aec13e342/framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/RabbitMqMessageConsumer.cs#L132-L139

Whether thread safety needs to be considered here？

[2021-07-24 12:25] maliming commented on #9645
Duplicate of #9644

[2021-07-24 12:25] #9645 closed, assigned to nobody

[2021-07-24 12:26] maliming commented on #9644
See https://github.com/abpframework/abp/blob/5879885dee/framework/src/Volo.Abp.Threading/Volo/Abp/Threading/AbpAsyncTimer.cs#L87

[2021-07-24 12:26] #9644 closed, assigned to nobody

[2021-07-25 01:33] tangdf commented on #9644
Multiple threads access the property _Channel_:
- Which is not thread-safe
- The property _IsOpen_ of _Channel_, which is not thread-safe.

[2021-07-25 09:13] hikalkan opened #9646 "Move GetListAsync from IReadOnlyBasicRepository to IReadOnlyRepository"
Because `IReadOnlyBasicRepository` should not depend on LINQ and expressions by design.

[2021-07-25 09:14] #9646 closed, assigned to hikalkan

[2021-07-26 01:38] realLiangshiwei opened #9647 "Email settings UI should available to tenants"
Related: https://support.abp.io/QA/Questions/1622

[2021-07-26 03:27] realLiangshiwei commented on #9647
this is by design

[2021-07-26 03:27] #9647 closed, assigned to nobody

[2021-07-26 05:30] #9637 closed, assigned to realLiangshiwei

[2021-07-26 07:26] nguyenquanghuyit opened #9649 "How to use Oracle procedure in Mvc-EfCore"
Hi guys, I am using Oracle database and MVC - Efcore ABP. Current I use linq to work with database, but I want to use view or proc
instead of Linq. Please guide me how? Thanks!

[2021-07-26 09:10] mehmet-erim opened #9650 "How to use NG-ZORRO with the ABP Framework"

[2021-07-26 09:22] realLiangshiwei opened #9651 "Provide a feature to allow tenants to change email settings"

[2021-07-26 10:17] mehmet-erim commented on #9613
Hi @idreeshaddad,

Please share the `generate-proxy.json` so that we can find the source of the problem.

[2021-07-26 13:02] evictorel opened #9652 "Consider adding a parameter that indicates whether or not to trace in the GetQueryableAsync method."
Related to #1848, and #6962, it would be very good if the GetQueryableAsync / WithDetailsAsync method has a parameter that indicates the tracking of entities to improve performance.

Now that in the next versions IRepository does not inherit from IQueryable, could it be viable?

In this way, the implementations of CreateFilteredQueryAsync in the CrudAppService, and others could also be updated.

[2021-07-26 16:09] mehmet-erim opened #9653 "Angular UI: abp-modal is not closing properly when another modal is open"

[2021-07-26 16:12] dmtuan opened #9654 "How to extend AbpExtensibleDataGrid"
* **ABP Framework version**: 4.3.0
* **User Interface**: Blazor WebAssembly
* Your database provider: EF Core

Hi, I would like to know how to extend / override AbpExtensibleDataGrid which is used on Identity/Roles and Identity/Users page. I need to add NextPageButtonTemplate, FirstPageButtonTemplate, TotalItemsTemplate and such to the DataGrid to localize the pagination texts to my local language

[2021-07-26 16:16] idreeshaddad commented on #9613
Hello @mehmet-erim,
Yes sure. Can you provide me with an email to send it to? I don't want to post all that information in public.

[2021-07-27 01:23] maliming commented on #9652
hi

This is a unique feature of EF Core. Maybe it shouldn't exist in the abstract Repository.

[2021-07-27 01:33] maliming commented on #9654
hi

What is your language? Maybe the build-in languages don't include your language.

Can you share your component full code?

[2021-07-27 02:14] muzizongheng commented on #9634
I find root cause ：
The console‘s abpmodule does not depend on XXXEntityFrameworkCoreModule.

[2021-07-27 03:30] maliming commented on #9649
See https://github.com/abpframework/abp-samples/tree/master/StoredProcedureDemo

[2021-07-27 03:30] #9649 closed, assigned to nobody

[2021-07-27 03:33] maliming commented on #9639
This seems to have nothing to do with abp.

If they are controllers of application services, you can check https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients

[2021-07-27 05:32] dmtuan commented on #9654
Hi @maliming

My language is Czech

[code]

Basically what I did was just copy your AbpExtensibleDataGrid code and added NextTemplateButtonTemplate, PreviousTemplateButtonTemplate, etc. to localize the default texts 'Prev', 'Next', ...

[2021-07-27 06:57] mehmet-erim opened #9657 "Angular UI: Fix testing errors"
`CORE_OPTIONS` injection token cannot be injected while testing. The error below should be fixed:

[code]

[2021-07-27 07:05] maliming commented on #9654
There should be translation files of Czech.
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/cs.json#L27

You can use `IServiceCollection` in the `ConfigureServices` method of your module to replace the services.

[2021-07-27 07:06] #9284 closed, assigned to cotur

[2021-07-27 07:11] mehmet-erim commented on #9613
You can email info@abp.io. Please mention me and add the issue link to the email.

BTW, you can modify the Entity interface as a workaround to fix the error:

[code]

Actually, you do not need these interfaces. You can import the interfaces which you need from `@abp/ng.core`.

[2021-07-27 07:12] #9653 closed, assigned to mehmet-erim

[2021-07-27 07:12] 274188A opened #9659 "Volo.Abp.Autofac.AbpAutofacConstructorFinder - Breaking change?"
I have a Blazor WASM Project that once upgraded to Version="4.4.0-rc.2" throws these AutoFac error

Is there a work-around for this?

Thanks,

John

**Error**
None of the constructors found with 'Volo.Abp.Autofac.AbpAutofacConstructorFinder' on type 'Castle.Proxies.GenderAppServiceProxy' can be invoked with the available services and parameters

 **Sample App Service**
[code]

**Error Log**

[code

[2021-07-27 07:16] enisn commented on #9659
It seems, can't resolve `IGenderRepository`, have you registered it?

[2021-07-27 07:21] 274188A commented on #9659
Checking now...

[2021-07-27 07:37] 274188A commented on #9659
I have not had to manually do that before - I am following the same pattern as found in the sample: https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore

![image](https://user-images.githubusercontent.com/40014477/127114745-1f6fd615-c236-4d04-a31c-3489cbd74b6d.png)

[2021-07-27 08:29] wingqing1314 opened #9660 "how to save after response"
[code]
throw a exception :Instances cannot be resolved and nested lifetimes cannot be created from this LifetimeScope as it has already been disposed.

[2021-07-27 08:30] wingqing1314 opened #9661 "how to save after response"
`public void CreateLoginRecord(LoginRecord info)
        {
            Task.Factory.StartNew(async () =>
            {
                using (var uow = _unitOfWorkManager.Begin(requiresNew: true, isTransactional: false))
                {
                    try
                    {
                        if (info.TerminalNo.IsNullOrWhiteSpace()) info.SetTerminalNo("0");

[2021-07-27 08:30] dmtuan commented on #9654
I see that there are translations for keys 'PagerSearch', 'PagerNext', 'PagerPrevious', etc., but these translations are not used in AbpExtensibleDataGrid, are they? I haven't found them in the code:
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BlazoriseUI/Components/AbpExtensibleDataGrid.razor

That is the reason I need to extend / override AbpExtensibleDataGrid, so it incl

[2021-07-27 08:34] maliming commented on #9654
hi

I will check this.

[2021-07-27 08:39] maliming commented on #9654
hi

This is related to blazorise.

https://blazorise.com/docs/helpers/localization/#custom-languages

[2021-07-27 08:43] dmtuan commented on #9654
Right. I have found this earlier today as well, haven't tried it yet though. I will look into it. If it works, there won't be a need to extend AbpExtensibleDataGrid then.

Thanks for your time.

[2021-07-27 10:17] mahdighorbanpour commented on #9635
@realLiangshiwei Should I open a new issue for this? Thank you

[2021-07-27 10:48] tinonetic opened #9662 "For microservice-to-microservice communications is there any need to write client code to request the token?"
For **microservice-to-microservice communications**, where t**hey share the same Auth/Identity server,** is there any need to write client code to request the token? Or everything will be handled by Identity Server?

Is there a config-driven approach?

**The following works well** when **microservice 1** requests an access token from a **common Idenity Server** to allow it to call **microservice 2

[2021-07-27 11:18] #9661 closed, assigned to nobody

[2021-07-27 11:19] berkansasmaz commented on #9661
Duplicate: #9660

[2021-07-27 11:30] realLiangshiwei commented on #9635
Most of the questions are already answered, try searching.

See https://github.com/abpframework/abp/issues/4467#issuecomment-647941949

[2021-07-27 11:44] realLiangshiwei commented on #9662
See https://github.com/abpframework/eShopOnAbp

![image](https://user-images.githubusercontent.com/16813853/127148099-ae4edaeb-66ff-4ba0-a1a4-81dfbe5d953d.png)

https://docs.abp.io/en/commercial/latest/startup-templates/microservice/gateways#internal-gateway

[2021-07-27 11:44] #9662 closed, assigned to nobody

[2021-07-27 12:37] #9581 closed, assigned to maliming

[2021-07-27 12:38] #9614 closed, assigned to nobody

[2021-07-27 12:45] hikalkan opened #9665 "Upgrade Blazorise to 0.9.4.1"

[2021-07-27 13:31] leonkosak commented on #9465
Yes, it helped. Thank you.
However, I have some additional questions regarding authentication. I'll send you sample project via email.

[2021-07-27 13:31] #9465 closed, assigned to nobody

[2021-07-27 13:36] idreeshaddad commented on #9613
I thought it would, but it didn't work:
![image](https://user-images.githubusercontent.com/2285974/127162735-7e5fa04f-b574-468b-9212-8c81bf3f96b6.png)

It seems to me that Domains are being leaked from an application service?

I sent you the `generate-proxy.json` file to the info email.
Thank you in advance brother.

[2021-07-27 15:15] berkansasmaz commented on #9660
Could you share the following information with us so that we can respond faster?

- Your ABP Framework version.
- Stack trace (check the logs).

[2021-07-27 19:42] evictorel commented on #9652
Yes, with DDD there is a way to extend the behavior of the EntityFrameworkCore project?, And that the domain uses it.

I am currently overwritten the most important repositories, to decrease the response time (in my case it doubles with tracking) with:

`options.AddRepository<Question, EfCoreQuestionRepository>();`

Thanks

[2021-07-27 23:15] 274188A commented on #9659
I found there was an issue with my folder structure - closing

[2021-07-27 23:15] #9659 closed, assigned to nobody

[2021-07-28 01:36] maliming commented on #9652
Can you share your code?

[2021-07-28 01:38] realLiangshiwei commented on #3433
I thought again, such a module is just to generate database tables but [quartz repo provided all DB scripts](https://github.com/quartznet/quartznet/tree/41846f43abfcfa45c2761a7fb93ac376a6b65d07/database/tables).

So, I close the issue.

[2021-07-28 01:38] #3433 closed

[2021-07-28 02:13] wingqing1314 commented on #9660
ABP 2.7.0
[code]
Thank you

[2021-07-28 03:44] realLiangshiwei opened #9668 "Allowed to override CancellationToken for a specific call"
Sometimes we want to use custom CancellationToken.

e.g:

[code]

[2021-07-28 06:48] #9384 closed, assigned to hikalkan

[2021-07-28 07:06] #9339 closed, assigned to enisn

[2021-07-28 07:07] laosandegudai opened #9674 "How can I log login?"
abp vnext 4.4.0-rc.2

I want to record the login information, I set the request information record setting of audit log, but can not see the login information, that is, connect/token request

`      Configure<AbpAuditingOptions>(options =>
            {
                options.IsEnabledForGetRequests = true;
            });`

[2021-07-28 07:40] realLiangshiwei commented on #9674
See https://github.com/abpframework/abp/pull/4675

Login info already recorded in the security log

[2021-07-28 07:40] #9674 closed, assigned to nobody

[2021-07-28 07:44] laosandegudai commented on #9674
Thank you.

[2021-07-28 08:47] MichalCadecky commented on #9654
Well it is possible to use this functionality but there are still some limitations.

1. `DataGrid<>` or other components cannot be localized globally, you have to do it for every single usage with appropriate `TItem` generic parameter.
2. You cannot do this for blazor components in modules coming from NuGet packages (overriding each blazor page/component is really no-go).
3. ABP Framework is not a

[2021-07-28 09:01] stsrki commented on #9654
Yes, Blazorise can accept any language dynamically and it is very easy to do. A basic example can be seen in our documentation https://blazorise.com/docs/helpers/localization/#custom-languages

[2021-07-28 09:20] MichalCadecky commented on #9654
I am sorry, maybe I have formulated the question badly. I would like to know, if there is a possibility to contribute new language resources into sorce code base/into repository so it will be a part of the NuGet package. I am asking this because of the mentioned limitations - the funcionality you have linked cannot be done globaly for all of the compoments (e.g. DataGrid).

[2021-07-28 09:32] stsrki commented on #9654
If you meant to contribute to Blazorise source code then you can submit a PR on our repository. We will gladly accept it just like we did before :) https://github.com/Megabit/Blazorise/pull/2369

[2021-07-28 10:09] laosandegudai opened #9679 "Dto can set value by Abp"
abp vnext 4.4.0-rc.2
I create a DTO type that has a property called Action. I find that it is always assigned by the framework to the method currently requested. When I rename the property to something else, the Action property cannot be found.

![image](https://user-images.githubusercontent.com/17979159/127304907-916847e1-afd1-4613-bec6-7ffb3e55f8f3.png)
![image](https://user-images.githubusercon

[2021-07-28 10:56] realLiangshiwei commented on #9679
`action` is reserved identifiers of ASP.NET CORE

[2021-07-28 10:56] #9679 closed, assigned to nobody

[2021-07-28 10:58] #7926 closed, assigned to cotur

[2021-07-28 11:33] laosandegudai commented on #9679
I don't think that's one of the reasons, and I'll try to find out why.

![image](https://user-images.githubusercontent.com/17979159/127315654-6232512c-93d1-4d7e-b34c-2285dbd03b43.png)

[2021-07-28 11:42] realLiangshiwei commented on #9679
https://github.com/abpframework/abp/issues/7061#issuecomment-755830730

[2021-07-28 12:15] ShaunDanielz opened #9681 "High Severity : Vulnerabilities : System.NET.Http 4.3.0"
I ran a S**nyk Open Source scan** and it found vulnerabilities in System.Net.Http version 4.3.0.  ABP Template version : 4.3.3

**Remediation** : Upgrade System.Net.Http to v4.3.4 or higher

**ABP libraries affected:**
1.  Volo.Abp.Castle.Core
2.  Volo.Abp.Autofac

![image](https://user-images.githubusercontent.com/1783233/127319919-7aad705b-5d0e-41cd-9654-bae9aeb890a3.png)

![image](https://user-

[2021-07-28 12:31] #8169 closed, assigned to yekalkan, mehmet-erim

[2021-07-28 12:51] ShaunDanielz opened #9683 "High Vulnerabilities : System.Text.RegularExpressions v4.3.0"
I ran a **Snyk Open Source** scan and it found vulnerabilities in System.Text.RegularExpressions version 4.3.0.

**ABP Template version :** 4.3.3

**Remediation :** Upgrade System.Text.RegularExpressions to v4.3.1 or higher

**ABP libraries affected:**
1.  Volo.Abp.Castle.Core

![image](https://user-images.githubusercontent.com/1783233/127324801-f6ce2d4c-a3e9-4938-bfdc-f9ac6f63dc90.png)

[2021-07-28 13:18] evictorel commented on #9652
Sorry, it was a bit confusing. These repositories are the most important thing for the project, and as most are similar, we are overwritten WithDetailsAsync, which is the only method we plan to use for reading only:

[code]

[2021-07-28 13:20] maliming commented on #9683
Duplicate of #9244

[2021-07-28 13:20] #9683 closed, assigned to nobody

[2021-07-28 13:50] mnaveedtkxel opened #9685 "I want to remove identity server from ABP angular app"
ABP 4.3.3 , Angular, EF Core, SQL Server
ABP angular app redirect me for login on identity server which is not required. i want to keep user on my angular app with my own login page, register page. i want to use just simple identity tables which is full fill my requirements.
1- I complete the removal from server side ABP framework with the help of this [https://community.abp.io/articles/replacing-

[2021-07-28 19:35] ghost opened #9686 "abp vnext 4.4 rc in docker deployment exception"
* ABP VNEXT:4.4 - rc + SQL Server2016.

2021-07-28 19:29:27.015 +00:00 [ERR] A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 31 - Encryption(ssl/tls) handshake failed)
Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error o

[2021-07-28 20:09] alexandis opened #9687 "Validation message for textbox is wrong (array data type mentioned)"
4.3.0 / Angular

I have string textbox with maxlength indicated. When I exceed the length, I am getting wrong message:

![image](https://user-images.githubusercontent.com/6149843/127388824-7fa01e78-d3d2-410f-a545-a97e0acae7f0.png)

But _string_ textbox has nothing to do with _array_. Probably there is a way to indicate _data type_??

I have found this - so proper constant is available somewhere (w

[2021-07-28 21:47] #9665 closed, assigned to cotur

[2021-07-28 22:10] roychavz opened #9688 "@dotnet VoloDocs.Migrator.dll"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-07-29 00:08] maliming commented on #9688
Please provide the answer of the template.

[2021-07-29 00:10] maliming commented on #9686
This error has nothing to do with ABP.

**A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: SSL Provider, error: 31 - Encryption(ssl/tls) handshake failed)
---> System.IO.EndOfStreamException: End of stream reached**

[2021-07-29 00:10] #9686 closed, assigned to nobody

[2021-07-29 00:26] maliming commented on #9681
Duplicate of #9244

[2021-07-29 00:26] #9681 closed, assigned to nobody

[2021-07-29 01:48] duanzlin opened #9689 "NU1701 warining when use Volo.Abp.Sms.Aliyun package"
The reference package AlibabaCloud.SDK.Dysmsapi20170525 is provide for .netframework and build with NU1701 warining. Although the sdk is official and i can change warning level to make the warning away, but the warning is effect the entire reference chain.

So i try to implement the sdk myself.  Fortunately, i found a simply solution on the internet, it has very little code and works fine.
[The so

[2021-07-29 02:46] real-zony commented on #9689
@duanzlin Thanks for your suggestion, I will follow up on this issue.

[2021-07-29 03:44] #9668 closed, assigned to realLiangshiwei

[2021-07-29 05:21] idreeshaddad commented on #9613
I've just found the problem.
So there was an endpoint returning a Domain instead of a Dto after all.
I've replaced it with the Dto, and now it is working just fine.

[2021-07-29 05:21] #9613 closed, assigned to mehmet-erim

[2021-07-29 05:54] wingqing1314 commented on #9660
I have solved it by event bus，inject a DBContext in there.

But I wonder if this requirement can be implemented at the domain?

[2021-07-29 05:57] maliming commented on #9652
I did not find a suitable place to add non-tracking parameters.

[2021-07-29 07:06] berkansasmaz commented on #9660
In my opinion, you shouldn't do that. I tried to reproduce to solve your error but I couldn't reproduce the error. Please can you try[ your code in the template project and share it](https://stackoverflow.com/help/minimal-reproducible-example)?

You can also check [here](https://github.com/abpframework/abp/issues/2603)

[2021-07-29 07:32] wingqing1314 commented on #9660
[code]
Just add this AppService and try it out, replace LoginRecord with your AggregateRoot.

[2021-07-29 07:44] antosubash commented on #9685
@mnaveedtkxel I'm not sure what you want. You want to remove Identity Server but need a token auth?

Identity server is the recommended way of doing token auth and abp uses `angular-oauth2-oidc` package for it in Angular. There is no identity server in angular app. it uses openid and oauth to do the authentication.

if you want to know more about password flow take a look here

https://github.com/

[2021-07-29 08:03] maliming commented on #9004
Related links:

https://docs.microsoft.com/en-us/dotnet/core/compatibility/6.0
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-6.0/plan

https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-1/
https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-1/
https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-2/
https://devblogs.microsoft.com/aspnet/a

[2021-07-29 08:34] berkansasmaz commented on #9660
Unfortunately, I still haven't been able to reproduce the error. Here are my steps:

1. `abp new Test -v 2.7.0` (my database provider `MsSQL`)
2. I created the necessary entities
3. I created the `ApplicationService` you said as in the picture below

<img width="928" alt="Screen Shot 2021-07-29 at 11 27 38" src="https://user-images.githubusercontent.com/31216880/127459244-497acfb0-0881-4416-959c-d

[2021-07-29 08:41] maliming commented on #9660
Please create a separate DI scope in the thread.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWorkManager.cs#L105-L128

[2021-07-29 08:41] #9660 closed, assigned to nobody

[2021-07-29 09:24] MeryemeBaddaz opened #9693 "profile image with abp framework"
I am currently working on a client management project with .net core ef abp framworke  and angular , how can i add profile image ?
any one help me !!

[2021-07-29 09:42] MeryemeBaddaz commented on #9685
@antosubash  hi ! I am currently working on a client management project with .net core ef abp framworke and angular , how can i add profile image ?
i watched your tutorial "dotnet file upload with ABP Blob store and Minio " and i applied it , but  encountered some problems  in class AppService cannot have more than one base class , help me plz

[2021-07-29 10:05] maliming commented on #6095
**.NET 7.0**  https://github.com/dotnet/runtime/issues/31511

[2021-07-29 10:26] wingqing1314 commented on #9660
The perfect solution  ,but I don't understand what's the difference here:

create a separate DI scope & use UnitOfWorkManager.Begin(requiresNew: true, isTransactional: false) function

The code is basically the same

[2021-07-29 10:30] msh2050 commented on #7634
this should be added to getting start instructions

[2021-07-29 10:38] mnaveedtkxel commented on #9685
Thanks for your reply.
angular app link: http://localhost:4200
ABP Api  link: http://localhost:44382
Complete requirement:
When I click on the login button on the home page, the angular app
redirects me on http://localhost:44382/account/login
<http://localhost:44382/account/ogin> this redirect is not required. i
want to retain my domain name (http://localhost:4200)  login page to send
the username

[2021-07-29 10:42] antosubash commented on #9685
@MeryemeBaddaz it is better to use `Disscussion` tab or Stackoverflow for question or add a comment to the blog post. this issue is about identity server. Check this repo https://github.com/antosubash/FileUpload this has a sample.

[2021-07-29 10:50] antosubash commented on #9685
@mnaveedtkxel yes you can send username and password to the identity server instead of redirect. That is called the `Password Flow` that is what I have shared in the above. keep in mind that is not a recommended way.

if you want a sample. Look at this.

https://github.com/manfredsteyer/angular-oauth2-oidc/blob/master/projects/sample/src/app/password-flow-login/password-flow-login.component.ts

[2021-07-29 11:09] gterdem commented on #9693
If you are asking about the endpoint, its on authserver(identityserver) _account/profile-picture_ endpoint.
![image](https://user-images.githubusercontent.com/25867/127481046-286f79f8-ebf5-462c-8eac-3d132a2fe9a2.png)

If you are asking about UX that where to upload profile image, from the dropdown where your logged in user name appears;
![image](https://user-images.githubusercontent.com/25867/1274

[2021-07-29 11:23] MeryemeBaddaz commented on #9693
@gterdem
![hub](https://user-images.githubusercontent.com/83915032/127483763-787380ba-465b-4bc3-8494-99b96b080048.png)
Thank you sir for your answer  , i wana just add profile image here

[2021-07-29 11:30] MeryemeBaddaz commented on #9693
@antosubash  i applied your tutorial "dotnet file upload with ABP Blob store and Minio "
![Uploading app.png…]()
, but encountered some problems in class AppService cannot have more than one base class

[2021-07-29 11:31] MeryemeBaddaz commented on #9693
@antosubash i applied your tutorial "dotnet file upload with ABP Blob store and Minio "
![app](https://user-images.githubusercontent.com/83915032/127484704-9ad25895-f98c-42cf-bb44-eaab1b56c851.png)
, but encountered some problems in class AppService cannot have more than one base class

[2021-07-29 12:42] cotur commented on #9693
Hi @MeryemeBaddaz

You need to implement profile picture feature to your application by yourself.

There are some infrastructural features that ABP offers, but the rest of them is your bussiness.

1. Use [BLOB Storing](https://docs.abp.io/en/abp/latest/Blob-Storing) system to store files.
2. Use [`IRemoteStreamContent`](https://docs.abp.io/en/abp/latest/Application-Services#working-with-streams) t

[2021-07-29 14:02] evictorel commented on #9652
No problem! We will see if in the future we can implement another Repository (If possible), with non-tracking methods, it may be an anti-pattern, but we only use EFCore.

For the moment, we find [this possibility](https://docs.abp.io/en/abp/latest/Entity-Framework-Core#set-default-repository-classes) today, to avoid overwriting one by one..

Thanks

[2021-07-29 15:07] #9544 closed, assigned to maliming

[2021-07-29 15:23] antosubash commented on #9693
@MeryemeBaddaz Remove TestGClientAppService from the TGGclientAppService class. In C# you cannot inherit from multiple classes.

[2021-07-29 17:17] MeryemeBaddaz commented on #9693
@antosubash when i remove it , i got this
![errorapi](https://user-images.githubusercontent.com/83915032/127536129-6b1c1735-7f80-4e02-a82d-fa8528f956a9.png)

[2021-07-29 17:26] antosubash commented on #9693
@MeryemeBaddaz  that is because of the `Get` method. the `CrudAppService` already has a `Get` so that creates a conflict. change the `Get` to `GetFile` or something else.

[2021-07-29 19:57] alexandrejobin opened #9698 "Should the EntityHistoryHelper logic happen after applying the AbpConcepts for EntityFramework Core?"
When you use the EntityHistory feature, the entity change infos are build before the AbpConcepts. I wonder if it should be placed after applying the AdbConcepts instead. Here's the actual code

https://github.com/abpframework/abp/blob/e5bd7cd25f7201a7b03d65aaabcafc33bcd476e8/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L157

The problem I see is if you ha

[2021-07-30 00:41] #9585 closed, assigned to yekalkan

[2021-07-30 01:47] maliming commented on #9698
Did you find any problem about it in your project?
If so, please share the steps and code. Thanks.

[2021-07-30 02:12] maliming commented on #9004
Current problems to be solved:
https://github.com/dotnet/runtime/issues/51685

[2021-07-30 04:00] #9652 closed, assigned to nobody

[2021-07-30 04:35] dlboutwe opened #9699 "Article Request : Extending the ICurrentTenant system to access custom fields or ExtraProperties for use in Blazor UI"

[2021-07-30 05:19] maxrizwork commented on #2243
Hi emwagner I was deadling with a similar problem, trying to customize entities using EF Core TPH.
Did you use interfaces because in this way it's more flexible compared to inheritance of concrete classes?

[2021-07-30 09:43] ghost opened #9702 "Unable to obtain configuration from: 'System.String'"
* ABP Framework version: abp vnext 4.3.3
* User Interface type : Angular
* database provider：EF Core

### Stack Overflow

2021-07-30 09:23:25.739 +00:00 [ERR] An exception was thrown attempting to execute the error handler.
System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'System.String'.
 ---> System.IO.IOException: IDX20804: Unable to retrieve document from: 'Syst

[2021-07-30 09:53] maliming commented on #9702
Duplicate of https://github.com/abpframework/abp/issues/9202#issuecomment-851813500

[2021-07-30 09:53] #9702 closed, assigned to nobody

[2021-07-30 10:30] #8818 closed, assigned to stsrki

[2021-07-30 19:00] alexandrejobin commented on #9698
If you take one of your `BookStore-Mvc-EfCore` sample and modify it that way, you will have the Books have history and it will convert deleted book in soft deleted book:
* add IHasDeletionTime on the Book class
* add DeletionTime and IsDeleted columns on the dbo.AppBooks table
* add this code in the BookStoreWebModule.cs file
[code]

Now if you delete a book, you get this in the `AbpEntityProperty

[2021-07-31 01:17] maliming commented on #9698
Thanks, I will check this.

[2021-07-31 17:04] #9317 closed, assigned to berkansasmaz

[2021-08-01 02:52] realLiangshiwei commented on #9689
The problem related to `AlibabaCloud.OpenApiUtil` 1.0.5 version, but in 1.0.10, they removed the `BouncyCastle` reference.  we can fix the warning via install `AlibabaCloud.OpenApiUtil` 1.0.10 version.

![image](https://user-images.githubusercontent.com/16813853/127757529-b27fee91-8a1a-4d9e-a0ca-b9f205430547.png)

![image](https://user-images.githubusercontent.com/16813853/127757547-60bce3c0-25b6-

[2021-08-01 06:51] #9689 closed, assigned to nobody

[2021-08-02 02:52] Loongle opened #9711 "Using ef core table splitting throw exception"
ef core document: https://docs.microsoft.com/en-us/ef/core/modeling/table-splitting

An exception occurs when I create a model using this pattern and it does not work

exception content: ` System.InvalidOperationException : The property 'OrderTaskMetric.TenantId' cannot be assigned a value generated by the database. Store-generated values can only be assigned to properties configured to use store-

[2021-08-02 03:22] realLiangshiwei commented on #9711
Hi,

Did you try it without ABP? this has actually nothing to do with ABP. If three entities have a same name property, this problem will occur.

![image](https://user-images.githubusercontent.com/16813853/127800245-82d113c8-5465-48d9-af54-d58f0a20bf90.png)

You can specify other column name

[2021-08-02 03:22] #9711 closed, assigned to nobody

[2021-08-02 06:03] #9584 closed, assigned to yekalkan

[2021-08-02 06:46] enisn commented on #9643
We don't have this on our roadmap, but we can consider it later.

Thank you @fileman

[2021-08-02 10:04] maliming commented on #159
https://docs.microsoft.com/en-us/ef/core/performance/advanced-performance-topics?tabs=with-constant#limitations

[2021-08-02 23:13] kbalasha opened #9718 "Logout Issues with Abp Commercial 4.2.0"
Abp version: 4.2.0 Commercial
User Interface: Angular
Database provider: EF Core
Template: Microservice

Issue (s):

1. Intermittent issue where clicking on logout link on portal simply returns to home page and need to logout second time to be logged out and redirected to login page.
2. Opened the portal in two tabs. Logged out from one tab- I was able to log out successfully. The second tab howev

[2021-08-03 00:41] maliming commented on #9718
hi

Please get help on https://support.abp.io
Thanks.

[2021-08-03 00:41] #9718 closed, assigned to nobody

[2021-08-03 01:36] #9641 closed, assigned to nobody

[2021-08-03 02:40] weiwxg opened #9719 "Does soft delete not support cascading deletion?"

[2021-08-03 02:46] maliming commented on #9719
See #9366

[2021-08-03 02:46] #9719 closed, assigned to nobody

[2021-08-03 02:47] #9688 closed, assigned to nobody

[2021-08-03 02:47] #9654 closed, assigned to nobody

[2021-08-03 02:47] #9615 closed, assigned to nobody

[2021-08-03 02:47] #9491 closed, assigned to nobody

[2021-08-03 02:48] #9455 closed, assigned to nobody

[2021-08-03 02:48] #9602 closed, assigned to nobody

[2021-08-03 02:53] #9434 closed, assigned to nobody

[2021-08-03 02:56] #9381 closed, assigned to nobody

[2021-08-03 02:58] #8948 closed, assigned to realLiangshiwei

[2021-08-03 03:14] yang524433 opened #9720 "How to use the StringIncrement method of redis in abp"

[2021-08-03 03:18] maliming commented on #9720
ABP is using `StackExchange.Redis`, you can directly use its API to call more methods.

[2021-08-03 03:18] #9720 closed, assigned to nobody

[2021-08-03 03:35] sofm13 opened #9721 "remoteservice problem"
abp 4.3.2
when i publish project in docker,use remoteservice,Access to the local ip,not access the ip addres
like this
![image](https://user-images.githubusercontent.com/52565295/127953608-92891786-955f-4fbe-b1ae-1dabd86ba008.png)

[2021-08-03 03:37] sofm13 commented on #9721
i have appsetting in ip,
![image](https://user-images.githubusercontent.com/52565295/127953847-7465b5b1-8052-48c1-8cd0-ea14e6f28cbf.png)

[2021-08-03 03:40] maliming commented on #9721
Please global search the IP address in your entire solution.

[2021-08-03 03:55] luochaorobert commented on #9447
I updated the latest version 4.4 and found that the “no items provided for select attribute” error no longer exists, but there are new problems. When creating or editing a user on the Web.Host, the custom extension field will only change in "ExtraProperties", but the separate field value will not change.

![image](https://user-images.githubusercontent.com/58897116/127955199-04dee3ae-b8b6-4ad9-a1bf

[2021-08-03 04:13] maliming commented on #9447
@luochaorobert Please create a new issue.

[2021-08-03 05:12] #9721 closed, assigned to nobody

[2021-08-03 05:34] #159 closed

[2021-08-03 07:15] sofm13 opened #9722 "how can i set token Expiration time in ids4？"
abp4.3.2
how can i set token Expiration time in ids4？

[2021-08-03 07:18] gdlcf88 opened #9723 "The value of `AbpInputTagHelper.CheckBoxHiddenInputRenderMode` should be `EndOfForm` as default."
After #8808, the value of `TagHelper.ViewContext.CheckBoxHiddenInputRenderMode` is [set to](https://github.com/abpframework/abp/commit/7d6993f5c502e60aa8da5128d1631f3d13f78578#diff-6b1fd1fa5180d344ab16ebc38769226bb1bf6699ba23d3bcf3e296541516487eR35) `AbpInputTagHelper.CheckBoxHiddenInputRenderMode`. However, the [default value](https://github.com/abpframework/abp/commit/7d6993f5c502e60aa8da5128d16

[2021-08-03 07:23] gdlcf88 commented on #9723
[code]

The default value of the `AbpInputTagHelper.CheckBoxHiddenInputRenderMode` should be set to `CheckBoxHiddenInputRenderMode.EndOfForm`.

Alternatively, make the `AbpInputTagHelper.CheckBoxHiddenInputRenderMode` nullable?

[2021-08-03 07:28] maliming commented on #9723
Please provide a simple project and steps.

[2021-08-03 07:28] maliming commented on #9722
See https://docs.identityserver.io/en/release/reference/options.html#caching

[2021-08-03 07:28] #9722 closed, assigned to nobody

[2021-08-03 07:35] realLiangshiwei opened #9724 "Implement delayed jobs for RabbitMQ integration"

[2021-08-03 09:14] wongkhaimeng commented on #5099
Hello.

I am having the same exception when accessing the `ObjectMapper` instance in an `ApplicationService` concrete class.
The version I am using is 3.3.2.

`
System.ArgumentNullException: Value cannot be null. (Parameter 'provider')
   at Microsoft.Extensions.DependencyInjection.ServiceProviderServiceExtensions.GetRequiredService(IServiceProvider provider, Type serviceType)
   at Volo.Abp.Appli

[2021-08-03 09:17] maliming commented on #5099
hi @wongkhaimeng
* Steps needed to **reproduce** the problem.

[2021-08-03 09:19] #8424 closed, assigned to cotur

[2021-08-03 10:08] wongkhaimeng commented on #5099
[WebApplication1.zip](https://github.com/abpframework/abp/files/6923258/WebApplication1.zip)

Hi. Here's an example application implementing basic ABP things.
If you debug this program, put a breakpoint at the Controller calling the `ApplicationService` instance that was injected. When you step over, it will cause an exception with the same error:

`
System.ArgumentNullException: Value cannot be n

[2021-08-03 10:13] snowchenlei opened #9727 "Article Request : [Blazor]Replace the default blazorise with antblazor"
Replace all.include layout、identity module...

[2021-08-03 10:28] realLiangshiwei commented on #9727
We have no plan to do this, but you can refer https://community.abp.io/articles/using-syncfusion-components-with-the-abp-framework-5ccvi8kc and https://github.com/abpframework/abp/pull/7376.

You can also ask the antblazor team: https://github.com/ant-design-blazor/ant-design-blazor/issues

[2021-08-03 10:28] #9727 closed, assigned to nobody

[2021-08-03 10:34] snowchenlei commented on #9727
this is Article Request.No implementation is required

[2021-08-03 10:50] duanzlin opened #9728 "Angular tenant resolve broken when update to version 4.4.0"
After update abp packages to 4.4.0, i found tenant resolve not work on the domain server.  Then i run the abp sample project DomainTenantResolver,  it works fine with default version 4.3.2，when i update to latest version 4.4.0, the tenant resolve with error also.
![qq20210803184821](https://user-images.githubusercontent.com/47842996/128003478-1f92d1ef-9c0c-48d2-8df9-823495072d47.png)

[2021-08-03 12:55] maliming commented on #5099
@wongkhaimeng

Please add the `AbpAutofacModule` to your application.

[code]

[2021-08-03 13:26] maliming commented on #9728
Regression: https://github.com/abpframework/abp/issues/8231 https://github.com/abpframework/abp/pull/8246

[2021-08-03 13:29] #9608 closed, assigned to berkansasmaz

[2021-08-03 14:32] omaghd opened #9730 "Customizing Login/Register Pages & APIs for Angular UI."
- ABP Version: 4.3
- UI: **Angular**
- Database provider: EF Core
- Identity Server: NOT separated

Kindly, I'm stuck in this issue for months, I don't know how to change the default Login/Register pages in Angular UI.

Is there away to customize the login/register APIs?
So I can send my data from Angular to the services. And still can manage the oauth/token?
Or just customizing the pages somewher

[2021-08-03 16:32] leonkosak opened #9731 "Q: Timing (documentation)"
Timing doc: https://docs.abp.io/en/abp/latest/Timing

It's not clear (documented) how explicitly defined `Abp.Timing.Timezone` setting in tenant database impacts "calculations" inside application with DateTime.
Scenario:
If each tenant has defined `Abp.Timing.Timezone` setting in database and all DateTime columns in database are in UTC - does abp framework automatically shows local (tenant) DateTi

[2021-08-03 22:58] sanpiseth commented on #6473
Hello all,

Please help me. I get the error:

AbpException: Could not find the bundle file '/libs/tui-editor/tui-editor.min.css' for the bundle

Please kindly help me

[2021-08-03 23:00] sanpiseth opened #9732 "AbpException: Could not find the bundle file '/libs/tui-editor/tui-editor.min.css' for the bundle"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version 4.4**.
* Your **User Interface** type (MVC) if the issue is related to a specifi

[2021-08-04 00:53] realLiangshiwei commented on #9732
**Steps needed to reproduce the problem**.

[2021-08-04 01:28] wongkhaimeng commented on #5099
@maliming

Thank you so much, it worked! I actually tried setting all these up before, but it failed previously probably because I did not put the `DependsOn(typeof(AbpAutofacModule))` in the module where the `ApplicationService` classes were.

Now it is working once I did that. Thanks again.

[2021-08-04 05:40] hieuphanthanh commented on #876
Hello hikalkan,
The documentation Domain Driven Design is very helpful everyone.
I try to learn the DDD and how to implement it, I am looking for source code of documentation to practice
where I can get the source code

Thanks,

[2021-08-04 06:57] sofm13 opened #9736 "Can't Resolve Service from IServiceProvider"
abp 4.3.2
i have a class like this
![image](https://user-images.githubusercontent.com/52565295/128135624-5064591b-f7cc-47e9-a4de-9775a3492f74.png)

but when i want Resolve Service from IServiceProvider,i Unable to get this service
![image](https://user-images.githubusercontent.com/52565295/128135890-7b2566f8-6f1f-4428-8293-3499cc2fa11c.png)

[2021-08-04 06:59] maliming commented on #9736
Please check the official documentation before asking questions:
https://docs.abp.io
https://docs.abp.io/en/abp/latest/Dependency-Injection

[2021-08-04 08:43] sofm13 commented on #9736
but when i

[2021-08-04 08:43] #9736 closed, assigned to nobody

[2021-08-04 09:06] cotur commented on #9732
Hi @sanpiseth

Maybe you need to cast `yarn` & `gulp` commands for downloading and mapping the required npm packages.

Locate to your `*.Web` project, open the directory with the command prompt and cast `yarn` then cast `gulp`.

[2021-08-04 09:11] sofm13 opened #9737 "Remote service returns Unauthorized"
abp 4.3.2
Can i set bearer token with remote service?

[2021-08-04 09:18] cotur commented on #9730
Hi @omaghd

Whether you use Angular or not, (by default) the login/register pages are normal MVC pages from your backend application.

If you did not change the default usage, you need to override the `MVC razor pages` to customize the login screens.
Here is the detailed documentation about it: https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface#overriding-a-razor-page-csh

[2021-08-04 09:28] maliming commented on #9737
Please check the official documentation before asking questions:
https://docs.abp.io

[2021-08-04 09:29] #9737 closed, assigned to nobody

[2021-08-04 09:40] sanpiseth commented on #9732
Thanks for your info. I already run yarn and gulp, but no luck

[2021-08-04 09:48] sanpiseth commented on #9732
Hi @realLiangshiwei

1/ go to *.Web
2/ npm install @abp/tui-editor
3/ yarn
4/ gulp
5/ abp add-module Volo.CmsKit.Pro
6/ I added the following code inside GlobalFeatureConfigurator class in the Domain.Shared project :
GlobalFeatureManager.Instance.Modules.CmsKit(cmsKit =>
{
    cmsKit.EnableAll();
});

GlobalFeatureManager.Instance.Modules.CmsKitPro(cmsKitPro =>
{
    cmsKitPro.EnableAll();
});

7/

[2021-08-04 10:15] maliming commented on #9731
hi

Our modules have not yet implemented this feature.

The frontend should convert the time from UTC to the specified time zone according to this setting(Host. Tenant,User), the time in the database and HTTP request&response should be UTC.

[2021-08-04 10:22] realLiangshiwei commented on #9732
I will check it out

[2021-08-04 10:31] leonkosak commented on #9731
Ok, no problem. :)
Thank you.

[2021-08-04 10:31] #9731 closed, assigned to nobody

[2021-08-04 12:00] realLiangshiwei commented on #9732
Can not reproduce the problem using the steps you provided.

BTW, please open a question on the support website, we don't talk commercial here. (if this is a bug, we will return your ticket.)

![image](https://user-images.githubusercontent.com/16813853/128176652-d19bdbe8-d9e4-45b9-a632-179689dac567.png)

[2021-08-04 12:00] #9732 closed, assigned to nobody

[2021-08-04 15:06] lukebooroo commented on #1082
Hi,

I've just updated to 4.4 using the suite. I can't find how to use this? Thanks

[2021-08-05 01:07] maliming commented on #1082
hi @lukebooroo

We have implemented this feature and are solving the blazor problem, and it will be available soon.

Tenant impersonation:
![image](https://user-images.githubusercontent.com/6908465/121873949-7d109200-cd39-11eb-8d8b-2a7d02d803c7.png)
![image](https://user-images.githubusercontent.com/6908465/121873980-84d03680-cd39-11eb-98d2-75dc519babfe.png)

User impersonation:
![image](https://u

[2021-08-05 02:35] tvddev commented on #1082
When will this be working in Blazor? Is there another github issue to fix for Blazor so we can track? we are trying to schedule resources to do the code upgrade and would prefer to only do it once from v4.3 to v4.4.

[2021-08-05 02:40] maliming commented on #1082
The main challenge is that Blazor does not yet support such features.

[2021-08-05 02:42] tvddev commented on #1082
@maliming ...Woah.. what do you mean? is this feature in v4.4 for Blazor?

[2021-08-05 02:44] maliming commented on #1082
Now it works for non-tiered MVC and Angular.
Not works for tiered MVC and Blazor WASM that using OpenID Connect. For them, the login with tenant/user option is currently hidden.

**For Blazor WASM, we can't customize its authentication components yet.**

[2021-08-05 02:49] tvddev commented on #1082
Does it work for Blazor WASM without OpenID?

[2021-08-05 02:54] maliming commented on #1082
No, but it works for Blazor Server.

[2021-08-05 02:59] tvddev commented on #1082
Oh No!! we have been waiting for over a year for this feature, nobody said it would not be included for Blazor WASM! it is critical for a SaaS product.

What is the plan to deliver this for Blazor WASM?? @maliming @hikalkan

[2021-08-05 03:03] maliming commented on #1082
We also hope to implement it soon, but **Blazor WASM doesn't support customize authentication components.**

[2021-08-05 03:34] hillin opened #9742 "Allow pre-configuring IServerSideBlazorBuilder"
`IServerSideBlazorBuilder` is returned by the [`AddServerSideBlazor`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.componentservicecollectionextensions.addserversideblazor?view=aspnetcore-5.0) method. Currently in the `AbpAspNetCoreComponentsServerModule`, the builder object is discarded, there is no way to pre-configure it.
https://github.com/abpframework/a

[2021-08-05 04:20] tvddev commented on #1082
But cant you create a customised authentication using Microsoft.AspNetCore.Components.Authorization ?

[2021-08-05 04:46] maliming commented on #1082
We are looking for all possible solutions.

[2021-08-05 04:52] MichelZ commented on #1082
So Tiered + Angular is also not available? If that's true, what's the plan there? Any ETA?

[2021-08-05 04:57] maliming commented on #1082
Not works for projects that use OpenID Connect for authentication.  Blazor Wasm and https://docs.abp.io/en/abp/latest/Startup-Templates/Application#web-project-1

Angular will work.

[2021-08-05 05:11] #9742 closed, assigned to maliming

[2021-08-05 08:27] maliming opened #9747 "`abp add-module Volo.BasicTheme --with-source-code --add-to-solution-file` not working."
**Version: 4.4.0**

[code]

https://support.abp.io/QA/Questions/1543#answer-d4cec38b-528c-c633-e711-39fe27970af2

[2021-08-05 08:34] recruitans commented on #9747
I was expecting it to be fixed in version 4.4. When will 4.4-patch be released?

[2021-08-05 08:50] yekalkan commented on #9747
You can remove/delete the projects under `Volo.BasicTheme.Tests` folder from your solution to fix it for now.

[2021-08-05 12:39] bnymncoskuner opened #9752 "Datepicker picking wrong date with UTC- timezones"

[2021-08-05 14:44] alaawahbah opened #9757 "Multi Lingual"
Good Evening:
Dear Abp io developers is Multi lingual Implemented and is there any documentations?
Thanks

[2021-08-05 14:55] maliming commented on #9757
See https://github.com/abpframework/abp/issues/1754#issuecomment-826184860

[2021-08-05 14:55] #9757 closed, assigned to nobody

[2021-08-05 15:08] alaawahbah opened #9758 "QuartzBackgroundWorkerBase"
in QuartzBackgroundWorkerBase i cant put settings in settings manager Like when to fire this job because all return function in settings manager are async and async cant be run in constructor is there any solution to do that?

[code]

[2021-08-05 19:13] tvddev commented on #1082
@maliming @hikalkan So what is the plan and ETA for Blazor WASM?

Are you reopening this gihub issue and adding to v4.4patch?

[2021-08-06 01:04] realLiangshiwei commented on #9758
Hi,

You can't do it, because this is by design, but you can use the [`Quartz's API`](https://www.quartz-scheduler.net/documentation/quartz-3.x/quick-start.html) to do it.

[2021-08-06 05:31] bnymncoskuner commented on #9752
Resolved by #9753

[2021-08-06 05:31] #9752 closed, assigned to bnymncoskuner

[2021-08-06 05:35] bnymncoskuner opened #9762 "Hide actions column when there's no permitted action"

[2021-08-06 05:55] haroldrandom commented on #8267
Is ABP dead? No one here tack issue for open-source user?

[2021-08-06 08:07] lukebooroo commented on #1082
For anyone who is desperate enough at this point, I've made this appallingly bad bodge solution. It's specifically to work if you're using the current user as the tenant resolver, but I'm sure it could be made to work another way. If anyone's got some input on how to make this better it would also be much appreciated.

I'm also working on some overrides so that the host can manage all users withou

[2021-08-06 08:28] bnymncoskuner commented on #9728
Hello,

Could you share your `environment.ts` and `environment.prod.ts`?

[2021-08-06 08:31] maliming commented on #9728
hi @bnymncoskuner

https://github.com/abpframework/abp-samples/tree/maliming-patch-domain/DomainTenantResolver/NG/angular/src/environments

You can get the demo project at https://github.com/abpframework/abp-samples/pull/98

[2021-08-06 12:08] #8723 closed, assigned to nobody

[2021-08-06 14:14] msh2050 opened #9766 "Microsoft.Data.SqlClient.SqlException: 'Invalid object name 'dbo.AppBooks'.'"
ABP Framework version:  4.4
User Interface: blazor
database provider:EF Core

Exception message:
[code]

* Steps needed to **reproduce** the problem.
just following the tutorial of the book store (ef with blazer UI without Tiered
after adding book entity and seeder the DbContext .... dotnet ef migrations add Created_Book_Entity ... then add seeder

the error will happen when I try to run (Acme.Boo

[2021-08-06 14:15] msh2050 commented on #9766
![devenv_z71T4K2tmB](https://user-images.githubusercontent.com/9201213/128523850-5ec9e7ee-849c-4481-b57a-de2669199090.png)

[2021-08-06 14:29] maliming commented on #9766
Please share a project. Thanks

[2021-08-06 15:27] msh2050 commented on #9766
[the project](https://github.com/msh2050/Acme.BookStore) link.
 @maliming thanks in advance

[2021-08-06 15:32] espindl opened #9767 "Upload file with form on a modal takes too long before onResult"
* **ABP Framework version** : 4.0.0
* **User Interface** type : MVC
* Database provider: EF Core

We are uploading a file from a form on a modal. Calling an app service from OnPostAsync of modal's cs file. App service returns, modal's OnPostAsync also returns but modal.onResult() is called long after. Time increases if the content of the file is bigger. We guess: ABP is calling app service through

[2021-08-06 15:54] bnymncoskuner commented on #9728
Hello all,

I've found the issue and sent a PR to fix it. It'll be released in the patch version.

[2021-08-06 16:13] msh2050 commented on #9766
![Screenshot 2021-08-06 191102](https://user-images.githubusercontent.com/9201213/128540189-085aceeb-1815-48ea-bdf4-70ba8ee21a8f.png)

I think the error in the migration step (dotnet ef migrations add Created_Book_Entity
)
it great a file but with no code

[2021-08-07 00:35] omaghd commented on #9730
Hi @cotur
I appreciate your answer!

[2021-08-07 00:35] #9730 closed, assigned to nobody

[2021-08-07 01:48] maliming commented on #9767
Please share your code. Are you using the [IRemoteStreamContent](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Volo/Abp/Content/IRemoteStreamContent.cs) ?

[2021-08-07 01:56] maliming commented on #9766
![image](https://user-images.githubusercontent.com/6908465/128584388-28e063ba-37a5-4d6f-a9bd-011290e13f38.png)

[2021-08-07 01:56] #9766 closed, assigned to nobody

[2021-08-07 09:01] msh2050 commented on #9766
can you run Acme.BookStore.DbMigrator?!

[2021-08-07 11:33] espindl commented on #9767
We were not using IRemoteStreamContent, but after your response converted to use it. But the problem continues.

The simplified code is below.

(A - appservice) returns, (B - razor cs onpost) returns but after that modal freezes before (C - onResult). In between OnPostAsync and onResult framework's code is doing something but we could not find it in the framework codes. If the file is bigger (so t

[2021-08-07 14:14] #8200 closed, assigned to nobody

[2021-08-07 20:17] cbogner85 commented on #1082
@maliming:

Just upgraded my project to 4.4.0 (stable)  but can't find Tenant Impersonation (MVC, not tiered). Even tried to create a complete new project, but all the impersonation options from your screenshots are missing. What am I doing wrong?

![Roles](https://user-images.githubusercontent.com/49239838/128612859-a4ea29d2-9c30-4c89-9760-e284b1ebacc3.PNG)
![Tenant](https://user-images.githubuse

[2021-08-08 21:34] dicksonkimeu opened #9771 "OData V4 Support"
Any plans to add OData 4 API ?

[2021-08-08 22:50] yellow-dragon-cloud commented on #236
I used this feature with XAF framework. XAF provides row and column based authorization. Each permission can be conditional as well. It's very powerful. But performance is another story!
Performance is the hardest (and most crucial) part to implement this feature! I think the structure should be as simple as possible.

[2021-08-09 00:43] maliming commented on #9771
I think it's already supports it. Can you check https://github.com/realLiangshiwei/AbpOdataDemo

[2021-08-09 01:46] maliming commented on #1082
@cbogner85
Maybe `4.4.1` or `4.4.2`. It will be available this month.

[2021-08-09 02:23] trickyrat opened #9772 "[Question] Lose css after overriding a razor page"
ABP version: 4.3.3
Hi, communities!
I followed [this tutorial](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface#overriding-a-razor-page-cshtml) to replace `Login.cshtml` , and I just comment register button

![屏幕截图 2021-08-09 101426](https://user-images.githubusercontent.com/19605145/128654146-e7cdd054-ed92-4c02-9f54-057889e65eb4.png)

When I visit /Account/Login , the

[2021-08-09 02:39] realLiangshiwei commented on #9772
See https://github.com/abpframework/abp-samples/tree/master/DocumentationSamples/CustomApplicationModules

[2021-08-09 02:42] maliming commented on #9767
hi espindl

Can you share a minimum project, the code looks no problem.

[2021-08-09 02:49] maliming commented on #9747
https://github.com/abpframework/abp/pull/9750

[2021-08-09 02:49] #9747 closed, assigned to yekalkan

[2021-08-09 03:05] trickyrat commented on #9772
@realLiangshiwei hi, I followed that doc, I just copy `Login.cshtml` code, and commented `register` button.
![微信图片_20210809105846](https://user-images.githubusercontent.com/19605145/128656304-df405e08-1dc8-4dd5-9647-aeb7c0bf9a34.png)
I didn't copy `Login.cshtml.cs` , So I need add some css reference to `Login.cshtml` or `Login.cshtml.cs`?

[2021-08-09 03:24] realLiangshiwei commented on #8267
I will check it out.

[2021-08-09 03:28] JadynWong commented on #9772
It seems that your `TagHelper` is not working, check `/Pages/_ViewImports.cshtml`

[code]

[2021-08-09 03:51] trickyrat commented on #9772
@JadynWong
 It works
Thanks for your help and patience @JadynWong @realLiangshiwei

[2021-08-09 03:51] #9772 closed, assigned to nobody

[2021-08-09 05:53] realLiangshiwei opened #9773 "Provide a way to configure MongoClientSettings"

[2021-08-09 05:53] realLiangshiwei commented on #8267
Move to https://github.com/abpframework/abp/issues/9773

[2021-08-09 05:53] #8267 closed, assigned to nobody

[2021-08-09 07:03] #9773 closed, assigned to realLiangshiwei

[2021-08-09 08:17] #9758 closed, assigned to nobody

[2021-08-09 08:35] muzizongheng opened #9776 "This resource is already added before: Volo.Abp.Timing.Localization.Resources.AbpTiming.AbpTimingResource,"
**ABP Framework version** : Version=4.1.0.0
**User Interface** : console
* Exception message and **stack trace** :

* Steps to **reproduce** the problem.
1. create a console used by abp cli
2. create a asp.net mvc core ddd project used by abp cli
3. add dependencies by  ddd project of step 2, like ApplicationService.Contract、EFCore。
4.  use localEventBus to notify
5. start console of step 1  , not

[2021-08-09 08:56] maliming commented on #9776
Please share the applications that your mentions.

[2021-08-09 09:10] weiwxg opened #9777 "Localization in IValidatableObject"
I see a description of validation in the documentation as below:

[code]

What I'm wondering is how do I use localization in `Validation`?

[2021-08-09 09:13] maliming commented on #9777
`var localizer = validationContext.GetRequiredService<IStringLocalizer<YourResource>>();`

[2021-08-09 09:13] #9777 closed, assigned to nobody

[2021-08-09 11:45] ebicoglu opened #9778 "SignalR custom routing doesn't work"
Trying to add custom route to my SignalR Hub but doesn't work as expected.
I tried both the attribute method and Manual Registration / Mapping
Hub is inherited from `AbpHub`

Related doc => https://docs.abp.io/en/abp/latest/SignalR-Integration

![image](https://user-images.githubusercontent.com/9526587/128700858-019a2cd9-1eaf-4937-9181-3a91582ebfa1.png)

![image](https://user-images.githubusercont

[2021-08-09 13:39] maliming opened #9779 "Optimize the performance of PermissionAppService."
If we have **10** permissions, the `GetAsync` method will query the database **10x3** times.

[2021-08-10 02:39] realLiangshiwei commented on #9778
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.SignalR/Volo/Abp/AspNetCore/SignalR/HubRouteAttribute.cs#L27-L35

This is expected,  If you customize the route, the `/signalr-hubs/` prefix will not be added.

![image](https://user-images.githubusercontent.com/16813853/128799906-68d78151-08e7-46b6-9065-4cda2c17eb44.png)

The route should be `/my-messaging/route` Inste

[2021-08-10 02:39] #9778 closed, assigned to nobody

[2021-08-10 05:43] bnymncoskuner commented on #9762
Resolved by #9763

[2021-08-10 05:43] #9762 closed, assigned to bnymncoskuner

[2021-08-10 06:24] muzizongheng commented on #9776
**InnerException**

Message:
[code]
StackTrace:

[code]

[2021-08-10 06:27] maliming commented on #9776
https://github.com/abpframework/abp/issues/9776#issuecomment-895057018

[2021-08-10 06:28] muzizongheng commented on #9776
**TopLayer Exception**
Message:
[code]

StackTrace:
[code]

[2021-08-10 06:30] muzizongheng commented on #9776
I will create a simple reproduce demo. Currently code env is very complex.

[2021-08-10 07:01] espindl commented on #9767
I will try to create a minimum project. But in the meantime I want to add something.

When I look at the Chrome Developer Tools - Network tab, I see that “Content Download” takes too long. Although appService code returns client/page is waiting "an end". What should the appService return? Is there a special thing to return to make the page understand the response ended?

[2021-08-10 07:15] maliming commented on #9767
I'm not sure, waiting for your project.

[2021-08-10 09:04] mehmet-erim opened #9783 "Angular UI: Migrate ng-packs project into an Nx workspace"
With the [Nx](https://nx.dev/) workspace we will have some advantages:

- Smart rebuilds of affected projects
- Distributed task execution & computation caching
- Rich plugin ecosystem
- Consistent dev experience

[2021-08-10 14:30] ebicoglu commented on #9477
Thanks for the feedback. We'll consider implementing it in the next milestones

[2021-08-10 17:14] evrame commented on #263
Hi there.

I am trying to use NodaTime with Abp with no luck being able to serialize.
I have a test app service like so:

`
[AllowAnonymous]
        public async Task PostTestNoda(LocalDate date)
        {
         ... some code
        }
`

And here is my configuration in the module:

`
Configure<JsonSerializer>(options =>
            {
                options.ConfigureForNodaTime(DateTimeZonePro

[2021-08-11 01:28] trickyrat opened #9788 "Can‘t recognize ApplicationService in Volo.Abp.Application.Services namespace after upgrading from 4.3.3 to 4.4.0"
Visual Studio 2022 preview 2.1
![微信图片_20210810172908](https://user-images.githubusercontent.com/19605145/128955729-cc8be2b6-f524-4be6-882c-da756c25dea9.png)
I tried to delete bin/obj folders and clean/rebuild solution, but the bug still existed.

[2021-08-11 01:58] realLiangshiwei commented on #9788
I don't think this is a bug. please check your solution

[2021-08-11 01:58] #9788 closed, assigned to nobody

[2021-08-11 03:54] #9779 closed, assigned to realLiangshiwei

[2021-08-11 06:26] sofm13 opened #9795 "when the current user has logged in,cant‘t find current tenant id from HTTP headers"
abp4.3.2
when the current user has logged in，i cant‘t  find current tenant id from HTTP headers，how do i do?

[2021-08-11 06:49] realLiangshiwei commented on #9795
https://docs.abp.io/en/abp/latest/Multi-Tenancy#tenant-resolvers

This is by design

[2021-08-11 06:49] #9795 closed, assigned to nobody

[2021-08-11 06:51] sofm13 commented on #9795
So I if I'm logged in, I can't set tenant in the header?

[2021-08-11 08:06] Stirda opened #9796 "DbMigrator may not need to reference Application.Contracts"
`DbMigrator` may not need to reference `Application.Contracts`.

Only referencing `EntityFrameworkCore` project gives a reference to `Domain` too, which contains `*DbMigrationService` class. Besides, `DbMigrator` is not a client of the backend.

What do you think about it?

ABP 4.4

[2021-08-11 08:11] Stirda commented on #9796
I tested build and run. Everything seems to work fine without neither `Application.Contract` dependency nor `*ApplicationContractsModule` loading.

[2021-08-11 09:46] realLiangshiwei commented on #9796
Sorry, after my check, we need to reference `Application.Contracts.`

Because the permission definition needs to be loaded when seeding data.

[2021-08-11 09:46] #9796 closed, assigned to nobody

[2021-08-11 10:00] Stirda commented on #9796
@realLiangshiwei You mean that the `AbpPermissionGrants` table would not be filled?

[2021-08-11 12:32] realLiangshiwei commented on #9796
@Stirda

Yes.

[2021-08-12 02:12] #9771 closed, assigned to nobody

[2021-08-12 02:13] #9728 closed, assigned to bnymncoskuner, maliming

[2021-08-12 02:13] #9723 closed, assigned to nobody

[2021-08-12 02:14] #9693 closed, assigned to nobody

[2021-08-12 07:31] mehmet-erim opened #9806 "Angular UI: Update all dependency versions to the latest"
Some ABP Angular UI packages are depended on other libraries. We will update all dependency versions to the latest.
Since some packages released new major versions, your app may break.

### Updated packages (from -> to)

* `ng-zorro-antd`: 11.0.0 -> 12.0.0
See the [v12 migration guide](https://ng.ant.design/docs/migration-v12/en)

* `angular-oauth2-oidc`: 10.0.0 -> 12.0.0
* `@swimlane/ngx-datatabl

[2021-08-12 07:43] realLiangshiwei opened #9807 "Update all dependency versions to the latest"
We can update all NuGet packages to the latest at milestone 5.0

[2021-08-12 08:12] JaymzZh commented on #339
Is there a plan?

[2021-08-12 10:24] espindl commented on #9767
I could not create the same behaviour simply because we are doing some stuff with the uploaded file contents, like creating new entities from every line in the file, comparing them with existing entites and inserting them. The time increases as the line count increase. So it is waiting for the app service operation to end really.

The only thing that bothered me, while debugging although you see t

[2021-08-12 10:24] #9767 closed, assigned to maliming

[2021-08-12 10:25] espindl commented on #8177
How is this done? Can you give a little bit more detail?

[2021-08-12 13:23] sturlath commented on #9348
This is still happening in version 4.4.0 and I still have no idea what might be causing it. I have tried all the the VS versions (2019,2019 prev, 2022 v3) and still seeing it.

It only happens after I log in if that is something...

[2021-08-12 13:27] #9235 closed, assigned to nobody

[2021-08-12 13:42] maliming commented on #9348
How to reproduce this using the template project?

[2021-08-12 14:01] sturlath commented on #9348
Ok I managed to get more information on this error by reading the [docks ](https://docs.microsoft.com/en-us/aspnet/core/blazor/security/content-security-policy?view=aspnetcore-5.0#blazor-webassembly-1) again where it says "... the following browser tools console error **reports** the hash for a **required script** not covered by the policy:"

Now (after adding the meta tag) I get the following err

[2021-08-12 16:50] trgiangvp3 commented on #8177
Your modal's cshtml
[code]

Your javascript (where you open the modal)
[code]

[2021-08-12 17:05] davidcateduclarity opened #9810 "Rich Text Editor feature request"
Greetings;

There seem to be no Rich Text Editor, an editor which allows you to make text bold, italics, lists, add images(possibly).

I am requested that this feature be added to the Lepton theme and to abp.io.

Many thanks,

--Dave

[2021-08-12 17:20] espindl commented on #8177
Thank you @trgiangvp3

[2021-08-13 01:08] maliming commented on #9348
How to reproduce this using the template project?

What are the steps?

[2021-08-13 01:35] realLiangshiwei commented on #9810
Actually, we use [tui-editor](https://nhn.github.io/tui.editor/latest/) as Rich Text Editor.

You can see we use it in blogging module:
https://github.com/abpframework/abp/blob/dev/modules/blogging/src/Volo.Blogging.Web/Pages/Blogs/Posts/New.cshtml#L63

we have an npm package [@abp/tui-editor](https://www.npmjs.com/package/@abp/tui-editor), You can use it immediately and benefit from it.

[2021-08-13 03:55] SmallShrimp opened #9811 "https://stackoverflow.com/questions/68766564/how-to-use-dominsertionservice-in-angular"
https://stackoverflow.com/questions/68766564/how-to-use-dominsertionservice-in-angular

[2021-08-13 03:58] maliming commented on #9811
This is nothing to do with ABP.

[2021-08-13 03:58] #9811 closed, assigned to nobody

[2021-08-13 06:33] SmallShrimp opened #9812 "how to use DomInsertionService,StyleContentStrategy"
### GitHub Issues

If you're creating a bug/problem report, please include followings:

* Your **4.4.0-rc.2**.
* Your **User Interface** type (Angular) if the issue is related to a specific UI

how to use DomInsertionService,StyleContentStrategy.

my code:
[code]
dark.js file
[code]

i can start app,but dotnot run `ng build ProjectName`,
i got an error:
[code]
how can i config my application,Could

[2021-08-13 09:45] sudhashbahu opened #9816 "Unable to run Samples"
Downloaded Samples code as ZIP from https://github.com/abpframework/abp-samples

After Unzip, opened DashboardDemo.sln.

Set the Web project as Startup and ran it.

Exception thrown in ConfigureVirtualFileSystem method of DashboardDemoWebModule.cs as per details below.

if the Samples require some kind of setup/configuration to run, it is not properly documented.

System.IO.DirectoryNotFoundExcept

[2021-08-13 09:50] maliming commented on #9816
See https://github.com/abpframework/abp-samples/pull/101

[2021-08-13 09:56] #9816 closed, assigned to nobody

[2021-08-13 10:11] sudhashbahu commented on #9816
Thank you for the prompt fix

[2021-08-13 13:43] #9222 closed, assigned to nobody

[2021-08-14 04:45] viewtance commented on #5888
@Stirda  did you figure out how to deal with this issue? I encountered this too.

[2021-08-14 05:10] dicksonkimeu opened #9818 "4.3 patch release"
This will never be closed ?

[2021-08-14 06:03] Stirda commented on #5888
No. I didn’t work on this. No news from Volosoft.

[2021-08-14 06:26] #8549 closed, assigned to nobody

[2021-08-14 15:32] JadynWong opened #9819 "QuartzPeriodicBackgroundWorkerAdapter should add `[DisallowConcurrentExecution]`"
abp 4.4.0 / mvc

Volo.Abp.BackgroundWorkers.Quartz

`QuartzPeriodicBackgroundWorkerAdapter` should use the `[DisallowConcurrentExecution]` attribute to prevent concurrent execution.

This is useful in multi-instance environment.

Also same for `Volo.Abp.BackgroundJobs.Quartz.QuartzJobExecutionAdapter`.

[2021-08-14 16:00] akilliadam opened #9820 "Devexpress Blazor Report integration error"
Hi,
I'm developing a simple experimental blazor application using AbpFramework.
I have prepared some reports in the project and I am using the [Report Viewer (Native)](https://demos.devexpress.com/blazor/ReportViewer) component that Devexpress announced with version 21.1.3 to preview these reports. With this component, I can preview my reports without any problems. However, after logging in using

[2021-08-14 16:15] JadynWong commented on #9820
Use English to describe it better.

Maybe this is the reason for CSRF.
[https://docs.abp.io/en/abp/4.4/CSRF-Anti-Forgery#configuration-customization](https://docs.abp.io/en/abp/4.4/CSRF-Anti-Forgery#configuration-customization)

[2021-08-14 16:50] akilliadam commented on #9820
I applied the structure in the link you sent, but I still could not solve the problem. I am getting the same error again.

[2021-08-14 17:05] JadynWong commented on #9820
If your apply is similar to this, it could be other reason.

[code]

[2021-08-15 02:13] realLiangshiwei commented on #9819
Thanks for your idea. we should add this.

[2021-08-15 03:41] zsanhong opened #9822 "please update toast-ui/editor to Latest Version v3.0.2"
now,the toast-ui/editor use version 2.5.3, but the late version v3.02 have diffrent api, so please update to the latest version.thanks

[2021-08-15 04:18] iamsaleeb opened #9823 "React Native Mobile project"
Just wondering if there are any plans on migrating the react native project to typescript in the future?

Thanks!

[2021-08-15 07:17] pointlevel opened #9824 "Include/embedd modules source-code into main solution"
Hi

Is there an easy way or documentation on how to embedd modules sourcecode into the mainsolution without including it as a new project?
I want to have all pages to be within the .Blazor-project for easier maintaining and dont want to have separate projects for every module.
I need every Razor-page that comes with the template to be editable.

[2021-08-15 07:54] akilliadam commented on #9820
I solved my problem with the method you suggested. Thank you so much.

[2021-08-15 07:54] #9820 closed, assigned to nobody

[2021-08-15 09:22] #9329 closed, assigned to nobody

[2021-08-15 11:32] maliming commented on #9819
I think it's best that we should not configure it but allow developers to configure it.

[2021-08-15 12:18] JadynWong commented on #9819
As I known Quartz.Net does not have a direct API to do this.

Two adapters may be needed, one without special attributes as default, and one with `DisallowConcurrentExecution` aattribute.
Use different adapters according to the options,
or even use user-defined adapters according to the worker type.

[2021-08-15 14:55] 23kbps opened #9825 "Unable to login to sample app after setup in GKE"
I followed the ABP Microservice sample here https://github.com/abpframework/abp-samples/tree/master/MicroserviceDemo/k8s and decided to setup it in GKE (k8s in GCP) with following items:
- RabbitMQ in standalone VM
- GKE cluster (1.20+)
- Redis inside GKE
- CloudSQL SQL Server 2019 Express

After few issues with Database initialization and RabbitMQ default user/pass, I could made all the pods runn

[2021-08-15 19:32] cbogner85 commented on #6132
Since it has been released recently, but only for Angular: Is there a demo page available, similar as for [Lepton Theme](https://leptontheme.com/)?  I'd love to see it in action, but couldn't get it to work with a fresh angular project (I use MVC regularly so it may be related to my little angular skills ;-))

[2021-08-16 00:12] maliming commented on #9824
HI

You can use `add-module` command with `--with-source-code` options.

https://docs.abp.io/en/abp/latest/CLI#add-module

[2021-08-16 03:05] realLiangshiwei commented on #9819
We don't need to use DisallowConcurrentExecution for `QuartzJobExecutionAdapter`, because they are all different job keys and only executed once

[2021-08-16 03:13] #9819 closed, assigned to realLiangshiwei

[2021-08-16 03:33] #9331 closed, assigned to nobody

[2021-08-16 09:04] DonVliet opened #9826 "favicon.ico is missing in MVC solution"
ABP Framework version: 4.4.0
User Interface: MVC
Steps needed to **reproduce** the problem: Create and run 4.4.0 MVC solution

favicon.ico is missing

![image](https://user-images.githubusercontent.com/69393775/129538911-b78b7a80-8c89-40ba-97c9-bc45b53faf32.png)

[2021-08-16 09:27] #9810 closed, assigned to nobody

[2021-08-16 09:39] maliming commented on #9825
admin
1q2w3E*

ABP uses it for cache,  Other components may use it to store other info. eg `ASP.NET Core Data Protection`

You can refer to Microsoft's documentation.

https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/AbpRabbitMqModule.cs#L17

http://rabbitmq.github.io/rabbitmq-dotnet-client/api/RabbitMQ.Client.Conne

[2021-08-16 09:45] mehmet-erim commented on #9823
Hi @iamsaleeb,

We don't have a plan for this. You can add TypeScript to your project easily. Please refer to [Adding TypeScript to an Existing Project](https://reactnative.dev/docs/typescript#adding-typescript-to-an-existing-project) document.

[2021-08-16 09:45] #9823 closed, assigned to mehmet-erim

[2021-08-16 09:46] tinonetic commented on #7550
Hi, could someone explain to me how this would be done?

[2021-08-16 10:38] sturlath opened #9827 "Response is null or message can't be deserialized as HealthChecks.UI.Core.UIHealthReport when running in Azure not locally"
Ok I know that this **might not** be abp.io related but this is in the framework/templates and I can´t find any information/docs on configuring the endpoints so if this is not a bug it would be great to have some more information on what needs to be done to make it work outside of localhost.

So the problem is that I get status  **Unhealthy** hitting the endpoints below when in azure. I have not c

[2021-08-16 10:47] maliming commented on #9827
You can try set `UseHybridSerializer` to `false`. In addition, I don't think it has anything to do with abp.

https://docs.abp.io/en/abp/latest/JSON#abpjsonoptions

[2021-08-16 10:47] #9827 closed, assigned to nobody

[2021-08-16 11:30] cem1835 opened #9828 "ignoring [ignoremultitenancy] on settingdbcontext"
Hello ,

how to ignore  [ignoremultitenancy] on settingdbcontext ?

https://github.com/abpframework/abp/blob/6d9fd72d3ff0be64cd4c0007c27c24661467da1f/modules/setting-management/src/Volo.Abp.SettingManagement.EntityFrameworkCore/Volo/Abp/SettingManagement/EntityFrameworkCore/SettingManagementDbContext.cs#L8

[2021-08-16 11:49] maliming commented on #9828
This is by design, You can't do this.

[2021-08-16 11:54] cem1835 commented on #9828
Before version 4.0, we were storing tenant settings in tenant database.Can't we do this anymore ?

[2021-08-16 12:37] maliming commented on #9828
See
https://github.com/abpframework/abp/pull/7509
https://docs.abp.io/en/abp/latest/Entity-Framework-Core#controlling-the-multi-tenancy

[2021-08-16 13:36] yellow-dragon-cloud commented on #3758
@hikalkan @ArneCools  `ShowInSwaggerAttributeFilter` must be added in `.HttpApi.Host` project configuration:
[code]

[2021-08-16 14:05] mnaveedtkxel opened #9831 "Child Entity not update from main Repository"
* ABP 4.4**.
* UI Angular
* EF Core
* no Exception. but  await Repository.UpdateAsync(queryResult); not update the child entity

I am unable to update the child entity with the main repository.  All Entities inherit from  AuditedEntity.
this line only update the File " await Repository.UpdateAsync(queryResult);" not updating the family list

[code]

[2021-08-16 14:07] cem1835 commented on #9828
can i fix this using "replacedbcontext" ?

https://docs.abp.io/en/abp/latest/Entity-Framework-Core#Replace-Other-DbContextes

[2021-08-16 14:28] realLiangshiwei commented on #9831
This is has nothing to do with ABP. check https://docs.microsoft.com/en-us/ef/core/saving/related-data

[2021-08-16 14:28] #9831 closed, assigned to nobody

[2021-08-16 15:06] mnaveedtkxel commented on #9831
but my problem is not solved. child entity loading is a problem which is not working. Insertion is working fine. with below code but loading of file with childs does not work for me(includeDetails).
var File= new File { FileNumber = "123", familylies = new List<Family> { new Family  { FirstName= "A" }, new Family  { FirstName  = "B" }, new Family  { FirstName  = "C" } } };

 var queryable = await

[2021-08-16 15:06] mnaveedtkxel commented on #9831
Thanks Sir,

but my problem is not solved. child entity loading is a problem which is
not working. Insertion is working fine. with below code but loading of file
with childs does not work for me(includeDetails).

var File= new File { FileNumber = "123", familylies = new List<Family> { new
Family  { FirstName= "A" }, new Family  { FirstName  = "B" }, new Family  {
FirstName  = "C" } } };

 var quer

[2021-08-16 15:26] realLiangshiwei commented on #9831
See https://docs.abp.io/en/abp/latest/Entity-Framework-Core#defaultwithdetailsfunc

[2021-08-16 15:55] sturlath commented on #9827
yeah sorry about that...

I tried your approach and it didn't work

I added the following code to MyHttpApiHostModule.cs without change.

[code]

I'll take a look at it later if/when I want to use this feature.

**Sorry for wasting your time!**

[2021-08-16 15:56] mnaveedtkxel commented on #9831
Thanks,
This solved my problem . Really Thanks for your effort,😀 I am happy.

On Mon, Aug 16, 2021 at 8:26 PM liangshiwei ***@***.***>
wrote:

[2021-08-16 15:59] sturlath commented on #9348
Sorry no steps... there is no way to replicate this at the moment in another project.

I´ll update this when I have figured something out. I was hoping the errors would give somebody hints on what might be causing this.

[2021-08-16 19:54] pointlevel commented on #9824
@maliming I did try to use `add-module Volo.TenantManagement` with both `--with-source-code` and also `--add-to-solution-file`, but when i reloaded the solution, i get an error saying "**The selected file is not a valid solution file**" and i cannot start the solution anymore.
The solution is newly downloaded and clean.

Any tips?

[2021-08-16 22:05] #8879 closed, assigned to bnymncoskuner

[2021-08-17 01:04] maliming commented on #9828
I don't think so.

[2021-08-17 01:06] maliming commented on #9824
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Steps needed to **reproduce** the problem.

[2021-08-17 01:07] luy710 opened #9832 "How to use IdentityServerClientCorsOrigins?"
Currently the cors origins are configured in the appsettings however I am not able to configure in way that it gets the origins from the SQL Server database.

I have commented out that withOrigins sections however I have it already configured in the database but it gets rejected

[2021-08-17 01:13] maliming commented on #9832
This is related to the Identity Server.

http://docs.identityserver.io/en/latest/topics/cors.html
https://github.com/abpframework/abp/blob/b96ddcbe4a63cdbdbf60b04b0ff3e97b13e8c2f1/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpCorsPolicyService.cs#L62

[2021-08-17 01:13] #9832 closed, assigned to nobody

[2021-08-17 04:51] #9828 closed, assigned to nobody

[2021-08-17 04:54] ma7x opened #9834 "abp4.4 can't many to many"
in the 4.3.3
`public DbSet<AppUser> Users { get; set; }`
and in the 4.4
`public DbSet<IdentityUser> Users { get; set; }`

I want many to many table User and GameRound, AbpUser entity is gone

[code]
protected override void OnModelCreating(ModelBuilder builder)
[code]
then add-migration
`
The entity type 'GameRoundUser' requires a primary key to be defined. If you intended to use a keyless entity t

[2021-08-17 05:11] realLiangshiwei commented on #9834
I don't understand what you mean.

[2021-08-17 06:09] ma7x commented on #9834
how many-to-many relationship IdentityUser in abp4.4

[2021-08-17 06:25] ma7x commented on #9834
I fix it  thanks  #1517

[2021-08-17 06:25] #9834 closed, assigned to nobody

[2021-08-17 08:29] enisn commented on #9335
It's not braking change anymore,

if concurrencystamp is not presented, the check won't work

[2021-08-17 08:58] puschie286 opened #9835 "ValueObject not stored / useable"
ValueObjects seems to be not stored by default and [Owned] doesnt work when using ValueObjects with abp. ( [Microsoft Source](https://docs.microsoft.com/en-us/ef/core/modeling/owned-entities) )

You can force ef to store them but it will ignore futher configuration ( like IsRequired ) and it requires you to always define the column name for ValueObjects with multiple properties

[code]

checked al

[2021-08-17 09:25] bnymncoskuner opened #9836 "Provide stream for updating app config state to prevent race condition"

[2021-08-17 10:11] puschie286 commented on #9835
Found a workaround for now ( [Source](https://github.com/dotnet/efcore/issues/12100#issuecomment-772831657)

Define navigation after OwnsOne for additional configuration
[code]

still prefer to use annotation for this configuration to DRY for every entity that use value objects ( so almost all )

[2021-08-17 10:31] cbogner85 commented on #6132
Tried again and now got it to work. Looks promising :-)
Hope it will be available for MVC soon. :)

[2021-08-17 12:13] leonkosak commented on #1082
@lukebooroo Is this solution for TIERED abp solutions?

[2021-08-17 17:13] amsaighi commented on #9650
I have worked on it, I have just to update ABP. I invite you to working in or with if you want.
https://github.com/amSaighi/ABPFRAMEWORK-NG-ZORRO

[2021-08-17 19:26] pointlevel commented on #9824
@maliming please check below:

4.4.0

Blazor server

EF Core

Download a new solution, build the application and run the DBMigrator (Application works ok here)
Run `abp add-module Volo.TenantManagement --with-source-code --add-to-solution-file` from within solution folder.
Reload the solution and the error occur, solution can not be started.

[2021-08-18 01:54] maliming commented on #9824
Can't reproduce the problem with your steps.

[2021-08-18 01:54] #9824 closed, assigned to nobody

[2021-08-18 06:55] #9836 closed, assigned to bnymncoskuner

[2021-08-18 07:54] cem1835 commented on #7788
problem still going on when loading the /Abp/ApplicationConfigurationScript

i found this while searching for the problem

https://github.com/abpframework/abp/blob/cfc648bc656da21b73d99578d71d0ac71b56b9c4/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs#L144

it loads all the cache one by one

[2021-08-18 08:05] maliming commented on #7788
hi

It checks the permissions one time.

https://github.com/abpframework/abp/blob/cfc648bc656da21b73d99578d71d0ac71b56b9c4/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationAppService.cs#L173

[2021-08-18 08:41] hemiaoio commented on #4439
Based on this problem, I have my problem. If I want to combine user-defined fields, roles and other data to filter users, I can't find an effective implementation of database based filtering.I have a [Flag] enum field in AppUser, I'm going to use HasFlag() to filter this field, and I find that it can't be implemented through IdnetityUserRepository.
[code]

[2021-08-18 09:12] cem1835 commented on #7788
permissionchecker performance 47 sec
![image](https://user-images.githubusercontent.com/17495243/129871657-b93f63ff-ad94-4121-a0ac-315b119620e1.png)

[2021-08-18 09:22] maliming commented on #7788
You can further debug or use tools to check the problematic code that affects performance.

https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionStore.cs#L137
https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/modules/permission-

[2021-08-18 09:26] trickyrat opened #9843 "[Question]How to select different redis dbs inside one module ?"
ABP 4.4.0
Hi, Communities!
I want to change db0 to other dbs in redis, but I can't find any information about this.
I tried `Configure<RedisCacheOptions>` method.
So anyone can help this?

[2021-08-18 11:07] #9783 closed, assigned to mehmet-erim

[2021-08-18 13:32] jeroen-min opened #9847 "Cannot update a nullable ExtraProperty back to null"
ABP Framework version  4.4.0 (Commercial)
Angular / EF Core

After following the steps in the [Removing the EF Core Migrations Project](https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna) i wanted to add a nullable property (int) to the `IdentityUser`: SurveyorNumber
The steps provided in the documentation worked like a charm, however

[2021-08-18 13:36] maliming commented on #9847
Please share your code to **reproduce** the problem.

[2021-08-18 14:20] jeroen-min commented on #9847
Not sure what you need, but these are the relevant changes. I created a fresh solution. The error occured there aswell. One thing i didnt mention in the opening post. I am saving the value to its own column in the DB instead of the ExtraProperties column.

In `...ModuleExtensionConfigurator.cs`:

    private static void ConfigureExtraProperties()
    {
        /* You can configure extra properties

[2021-08-18 15:21] xuyae573 opened #9848 "How to set the datetime format for the extra properties?"
- Abp 4.4.0
- Razor Pages
- EF Core
-

I have added 2 DateTime into extra properties for the IdentityUser

 `ObjectExtensionManager.Instance.Modules()
                .ConfigureIdentity(identity =>
                {
                    identity.ConfigureUser(user =>
                    {
                        user.AddOrUpdateProperty<DateTime>( //property type: string

[2021-08-18 15:55] JadynWong commented on #9848
https://github.com/abpframework/abp/blob/HEAD/framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo/Abp/ObjectExtending/MvcUiObjectExtensionPropertyInfoExtensions.cs

You can try add `new DataTypeAttribute(DataType.Date)`.

Current version does not seem to support `DisplayFormatAttribute`

[2021-08-18 23:27] hitaspdotnet commented on #9847
the `""` isn't null. it's empty string, you need to convert that to `null` from client and send back to host.

[code]

[2021-08-19 01:36] hersmann opened #9850 "abp samples signalr demo -chat"
Does this demo support chatting between client and server ?
When i try to visit locally in server side using firefox when inputting "localhost"+port, it suceed!
When i try to visit locally in server side with "xxx.xxx.xxx.xxx"+port, it failed!
When i try to visit in client side from another computer with "xxx.xxx.xxx.xxx"+port, it failed!
abp samples signalr demo -chat
for the main branch
## Docum

[2021-08-19 01:51] maliming commented on #9850
This is more related to Signalr. You can refer to its document.

[2021-08-19 01:51] #9850 closed, assigned to nobody

[2021-08-19 05:27] maliming opened #9853 "Allow project names to contain but not equal to Blazor."
https://support.abp.io/QA/Questions/1706#answer-c97fe651-d6f4-32f4-9f81-39fe6e6a1df3

https://github.com/abpframework/abp/blob/d21fe36074c79e1e02a9a85bb2aa1299aab909af/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Utils/ProjectNameValidator.cs#L22

[2021-08-19 06:18] jeroen-min commented on #9847
That should do the trick @hitaspdotnet , however it is generated code, so nothing i can do besides reporting it here.

[2021-08-19 06:59] #9848 closed, assigned to nobody

[2021-08-19 07:00] maliming commented on #9843
This is not supported by default, you can only try to implement it yourself.

[2021-08-19 07:00] #9843 closed, assigned to nobody

[2021-08-19 07:09] maliming commented on #9847
@hitaspdotnet is right, We should use `null` for `SurveyorNumber`.

[2021-08-19 10:27] jieke-wang opened #9856 "HttpClientProxy Return Null"
ABP vNext Version: 4.4
Database: no database

Ecommerce.Order.Application\Ecommerce.Order.Application.csproj
![image](https://user-images.githubusercontent.com/12584587/130054055-61ff5214-8224-4533-843b-032d4a427ddc.png)

Ecommerce.Order.Application\EcommerceOrderApplicationModule.cs
`
[DependsOn(
        typeof(AbpHttpClientModule),
        typeof(AbpAutoMapperModule),
        typeof(AbpDddApplic

[2021-08-19 10:35] maliming commented on #9856
Please debug your application service and check the logs first.

[2021-08-19 11:27] jieke-wang commented on #9856
The request log:
![image](https://user-images.githubusercontent.com/12584587/130060866-893e70a8-0209-4528-8638-66a1e50188d8.png)

Thank you for your attention!

My sample project are as follows:
https://1drv.ms/u/s!Al2-1_xOkT_ClVRtljz8i2hWB__J?e=NXxeiM

[2021-08-19 12:52] realLiangshiwei commented on #9856
The logs you provided don't have any error, and I think this is not related to ABP, you should double-check your code.

[2021-08-19 12:52] #9856 closed, assigned to nobody

[2021-08-20 01:20] jieke-wang commented on #9856
Ok, I found the issue, the return type of API must be task<T>,
thanks again!

[2021-08-20 03:03] rqx110 opened #9860 "Add PreferExactMatches attribute on the Router component"
according https://docs.microsoft.com/en-us/dotnet/core/compatibility/aspnet-core/5.0/blazor-routing-logic-changed, should we add PreferExactMatches attribute on https://github.com/abpframework/abp/blob/9fc5adc2652fb38cd406d1eb281e7c5fb08f7fc2/modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/App.razor and https://github.com/abpframework/abp/blob/9fc5adc2652fb38cd40

[2021-08-20 07:04] maliming commented on #9860
**If upgrading from previous versions of Blazor to 5.x**, use the PreferExactMatches attribute on the Router component.

We don't need this I guess.

[2021-08-20 07:04] #9860 closed, assigned to nobody

[2021-08-20 07:11] sofm13 opened #9863 "Some fields of the entity are stored in Redis, but are null when retrieved"
abp 4.3.2
Some fields of the entity are stored in Redis, but are null when retrieved。
redis:
![image](https://user-images.githubusercontent.com/52565295/130194493-8a1f71f8-5f42-4895-9df1-abf1552c0f38.png)
project
![image](https://user-images.githubusercontent.com/52565295/130194599-f8ba52dd-7986-413e-9621-6468ca138c6d.png)

[2021-08-20 07:18] rqx110 commented on #9860
it is the default setting if we create a fresh Blazor project from vs or cli

[2021-08-20 08:51] hikalkan opened #9864 "C# and JavaScript Static Client Proxy Generation"
ABP's dynamic client proxy ([for c#](https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients) and [for javascript](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Dynamic-JavaScript-Proxies)) system creates the proxies on runtime. With this issue, we are planning to build an alternative system that creates the client proxy code in development time. We are already doing it for angular with

[2021-08-20 12:35] realLiangshiwei commented on #9863
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-08-20 20:31] dicksonkimeu opened #9866 "4.3 patch release"
This will never be closed ?

[2021-08-21 04:00] litiansky opened #9867 "A DbContext can only be created inside a unit of work"
### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* **ABP Framework version** : 4.4.0.
* **User Interface** : WPF+Stylet
* database provider(EF Core)

**I created a WPF project that referenced the ABP VNEXT framework and used stylet's MVVM framework. When I injected

[2021-08-21 06:33] geffzhang commented on #2183
See this dapr integrated module https://github.com/colinin/abp-vue-admin-element-typescript/tree/master/aspnet-core/modules/dapr

[2021-08-21 07:56] JadynWong commented on #9867
You need to read the [Unit-Of-Work](https://docs.abp.io/en/abp/latest/Unit-Of-Work#unitofworkattribute) docs.

Try add the `[UnitOfWork]` attribute to the `LoginAppService` and make method as `virtual`.

[2021-08-21 12:37] #9867 closed, assigned to nobody

[2021-08-21 20:49] omaghd opened #9868 "Map an extra property in IdentityUser entity as a foreign key"
* Version 4.4
* EF Core

I need to map an extra property from Identity User entity as a foreign key, that I already defined in both **ModuleExtensionConfigurator** and **EfCoreEntityExtensionMappings** classes.

Here is what I did in **OnModelCreating** method in DbContext:
[code]

And I get this error:
`The expression 'x => x.ExtraProperties.get_Item("ExampleId")' is not a valid member access exp

[2021-08-22 02:41] realLiangshiwei commented on #9868
Try:

[code]

[2021-08-22 02:41] #9868 closed, assigned to nobody

[2021-08-22 11:12] akilliadam opened #9869 ".cshtml to .razor"
Do you plan to redesign the .cshtml pages in this [link](https://github.com/abpframework/abp/tree/dev/modules/account/src/Volo.Abp.Account.Web/Pages/Account) in the account module as .razor specific to blazor? If you think, when will you do it?
@hikalkan

[2021-08-22 14:03] mehmetuken opened #9870 "Minimal Api Template & Support"
.NET 6 minimal api like so simple microservice design maybe abp doing something like this api.

https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-6-preview-7/

https://www.hanselman.com/blog/exploring-a-minimal-web-api-with-aspnet-core-6

https://github.com/DamianEdwards/MinimalApiPlayground

[2021-08-22 15:59] #9347 closed, assigned to nobody

[2021-08-23 02:54] maliming commented on #9869
hi

**SignInManager<TUser> and UserManager<TUser> aren't supported in Razor components**

https://docs.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-5.0

[2021-08-23 02:54] #9869 closed, assigned to nobody

[2021-08-23 10:32] #9283 closed, assigned to nobody

[2021-08-23 19:35] #8512 closed, assigned to nobody

[2021-08-24 00:30] XuJin186 commented on #9864
Can you provide a rewriting mechanism so that we can also quickly reuse most of the logic to generate proxies in other languages, such as Dart

[2021-08-24 00:30] #9388 closed, assigned to nobody

[2021-08-24 07:35] weiwxg opened #9879 "Call AppService from one module to another"
I have a project which is divided into two independent modules, as follows

![image](https://user-images.githubusercontent.com/24971860/130575044-c34b0f88-464f-4801-9b48-b96ac71bbeab.png)

Acme.Foo.Application.Contracts defines an interface IFooAppService, and Acme.Bar.Application.Contracts defines an interface IBarAppService. If I want to call the service method in Acme.Foo in the Acme.Bar module

[2021-08-24 07:43] maliming commented on #9879
Please check https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients

[2021-08-24 07:43] #9879 closed, assigned to nobody

[2021-08-24 10:47] tsdyy opened #9882 "How to disable auto generate api url style like '​/api​/app​/book/{id}' ?"
I would like to use the following style to replace it.
'/api/app/book?id={id}'

In other words, I don't want the id existed in the url path but in the query

[2021-08-24 10:53] maliming commented on #9882
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-08-24 11:03] tsdyy commented on #9882
thanks for your quickly reply.
from document:

| Service Method Name                                   | HTTP Method | Route                      |
| ----------------------------------------------------- | ----------- | -------------------------- |
| GetAsync(Guid id)                                     | GET         | /api/app/book/{id}         |
| GetListAsync()

[2021-08-24 12:06] maliming commented on #9882
You can custom the **ConventionalRouteBuilder**.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/ConventionalRouteBuilder.cs#L13

[2021-08-24 15:39] nev-21 opened #9883 "Angular - cli proxy generation error on GET request with nested Dto"
### Abp version

4.4.0
UI: Angular
DB: MSSQL

### Reproduce

I have a module with an AppService which is not related to abp entities or abp dtos (like EntityDto). This service is just used to expose endpoints that call a custom class (ITransientDependency) that I use as a repository (injecting Dbcontext) to run raw sql.

AppService
[code]

Repository
[code]

InputDto (Nested)
[code]

###  The issu

[2021-08-24 16:05] omaghd opened #9884 "Sending emails using Gmail SMTP (including "forgot password") with attachements"
- Version 4.4
- Angular UI
- EF Core

Hello y'all ..
I need to send an email inside a service.
And also make the "forgot password" work.

I'm using angular so in the "setting-management" I set the settings there as follow:
- host: smtp.gmail.com
- username: myemail@gmail.com
- password: mypassword
- port: 465 / 587 (I tried both)
- ssl: true

**I already authorized less secure apps from https://my

[2021-08-24 16:50] JadynWong commented on #9884
Are you using it in debug mode?

Check `ProjectNameDomainModule`,remove `NullEmailSender` line.

[Emailing](https://docs.abp.io/en/abp/latest/Emailing#nullemailsender)

[2021-08-24 16:55] omaghd commented on #9884
@JadynWong No bro, I'm starting the project without debugging

UPDATE:
After I removed this code
[code]
It prompts an internal error (without details) as response in Swagger.

[2021-08-24 19:10] #9300 closed, assigned to nobody

[2021-08-24 23:20] hitaspdotnet commented on #1754
My suggestion is using `string DefaultLanguage` property in MultiLingual class, or a solution around [my issue](https://github.com/abpframework/abp/issues/1832#issuecomment-539673995) with using a key value dictionary.
For who looking for a workaround for integrate multi lingual entities, I was shared a module
https://github.com/hitaspdotnet/Volo.Abp.MultiLingualObjects

[2021-08-25 00:51] JadynWong commented on #9884
Check your application log  at `ProjectName/logs/log.txt`.

`Volo.Abp.Emailing` use `System.Net.SmtpClient` as default mail sender.
`System.Net.SmtpClient` does not support Implicit SSL.
You can try to switch the port to 587 or install `Volo.Abp.MailKit`.

[https://stackoverflow.com/questions/1011245/how-can-i-send-emails-through-ssl-smtp-with-the-net-framework](https://stackoverflow.com/questions

[2021-08-25 00:54] maliming commented on #9884
You can also check this demo.
https://github.com/abpframework/abp-samples/tree/master/EmailSendDemo

[2021-08-25 00:55] #9884 closed, assigned to nobody

[2021-08-25 01:40] weiwxg commented on #9879
你好，关于Dynamic-CSharp-API-Clients的相关内容我是阅读过了的，只是我没有太能看得明白
![image](https://user-images.githubusercontent.com/24971860/130711343-66537ad1-3985-4dbe-a9b1-dd2f12f856fb.png)

我感觉HttpApi.Client似乎是被Web层引用的，但是我的项目中前后端是分离的，前端没有办法直接引用HttpApi.Client层，我不清楚如何使用这个功能。麻烦能给我指引下思路，非常感谢。

[2021-08-25 01:48] ArcherTrister opened #9886 "Custom UserClaimsPrincipalFactory no work"
- ABP Framework Version: 4.3.3
- Database Provider: EF Core

When I create the code, the class no work and breakpoints .Could you help me?
the code like this:
1. PreConfigureServices

[code]

2. override CustomUserClaimsPrincipalFactory

[code]

**However, I still get *AbpClaimsPrincipalFactory* instance in the constructor**

![3](https://user-images.githubusercontent.com/35516482/130712588-c30b5a

[2021-08-25 03:04] maliming commented on #9886
https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpIdentityServerDomainModule.cs#L86-L88

https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpIdentityServerBuilderExtens

[2021-08-25 03:04] #9886 closed, assigned to nobody

[2021-08-25 08:39] PMExtra opened #9889 "[Request] Move permission name constants from Application.Contracts to Domain.Shared."
For example, there is the [`IdentityPermissions`](https://github.com/abpframework/abp/blob/4.4.0/modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityPermissions.cs) class in `Volo.Abp.Identity.Application.Contracts`

In my project, I want to make a `DataSeed` to initialize the preset roles with permissions, then I need to reference the `IdentityPermissions`.

In

[2021-08-25 08:50] mehmet-erim commented on #9883
Hi @nev-21

Can the share the `generate-proxy.json` so that we can find the source of the problem.

[2021-08-25 09:01] maliming commented on #9889
**In general,** the **Domain** does not participate in the business logic related to **permissions**. The permissions should be in the application service layer.

You can seed the permissions in other projects/layer.

[2021-08-25 09:01] #9889 closed, assigned to nobody

[2021-08-25 09:03] PMExtra commented on #9889
@maliming So, shall we reference Application layer in DbMigrator project?

[2021-08-25 09:11] evenlee commented on #921
same situation, keyclock is the only choice at the moment, it would be great if we support  keyclock and openiddict.

[2021-08-25 13:29] #9882 closed, assigned to nobody

[2021-08-25 13:38] #8669 closed, assigned to nobody

[2021-08-25 17:19] karimalmur opened #9891 "Guide to using the new IMongoDbRepositoryFilterer service?"
Is the [Data Filtering](https://docs.abp.io/en/abp/latest/Data-Filtering) document up to date?
How can I add a global filter for the IdentityUser document now that the `AddGlobalFilter` method is no longer available?

Thank you!

[2021-08-25 22:37] improwise opened #9892 "ABP Suite - adding "Public website" to solution gives errors"
Creating a new solution in ABP Suite (latest version) for Angular gives a lot of these errors when you select to add a public website (regardless of if you have included CMS Tools). Do the same without adding the Public Website option and all is fine.

[code]

This can easilly be reproduced in latest VS2019 and VS2019 Preview.

**Now, this seem to be a Visual Studio / .NET bug rather than a ABP on

[2021-08-25 22:51] sel-carlitos commented on #1754
+1 for this feature!

[2021-08-26 01:17] realLiangshiwei commented on #9891
Hi, we will update the document.

[2021-08-26 01:24] MrChuJiu opened #9893 "Abp.io Document Incorrect Sample"
There are incorrect sample tutorials in the documentation，Count should be obtained before paging

DocumentUrl:https://docs.abp.io/en/abp/4.4/Data-Transfer-Objects

![image](https://user-images.githubusercontent.com/31230864/130884667-07c76ae2-8795-4878-8760-2641b8852676.png)

[2021-08-26 01:34] maliming commented on #9892
hi

I think this is not an error of ABP.

[2021-08-26 01:34] #9892 closed, assigned to nobody

[2021-08-26 01:39] nev-21 commented on #9883
Hi @mehmet-erim, yes of course, I deleted the parts that are not necessary.

[code]

[2021-08-26 03:02] #8978 closed, assigned to nobody

[2021-08-26 04:15] #9891 closed, assigned to realLiangshiwei

[2021-08-26 04:15] #9893 closed, assigned to realLiangshiwei

[2021-08-26 05:35] hikalkan opened #9896 "Publish events while unit of work is being completed, in the same unit of work"
### Current Situation

ABP auto-publishes create, update and delete events for the entities:

* Local events ([documentation](https://docs.abp.io/en/abp/latest/Local-Event-Bus#pre-built-events))
  * `EntityCreatingEventData<T>`
  * `EntityCreatedEventData<T>`
  * `EntityUpdatingEventData<T>`
  * `EntityUpdatedEventData<T>`
  * `EntityDeletingEventData<T>`
  * `EntityDeletedEventData<T>`
  * `Entit

[2021-08-26 06:02] hikalkan opened #9897 "Deprecate EntityCreatingEventData, EntityUpdatingEventData, EntityDeletingEventData and EntityChangingEventData"
Related to https://github.com/abpframework/abp/issues/9896

`EntityCreatingEventData`, `EntityUpdatingEventData`, `EntityDeletingEventData` and `EntityChangingEventData` is not necessary now, because `EntityCreatedEventData`, `EntityUpdatedEventData`, `EntityDeletedEventData` and `EntityChangedEventData` is already taken into the current unit of work.

[2021-08-26 06:43] OriginalArye opened #9898 "Incorrect title in documentation. "Razor Integration" instead of "Scriban Integration""
On this page: [https://docs.abp.io/en/abp/latest/Text-Templating-Scriban](https://docs.abp.io/en/abp/latest/Text-Templating-Scriban)
An incorrect title appears.
It should be "Scriban Integration".

[2021-08-26 06:51] realLiangshiwei commented on #9898
Thanks @OriginalArye , we will fix it.

[2021-08-26 10:30] #9863 closed, assigned to nobody

[2021-08-26 16:11] improwise opened #9902 "Confusing documentation regarding CMS Kit"
In the documentation for the CMS Kit, you have:

"This module currently available only for the MVC / Razor Pages UI. While there is no official Blazor package, it can also work in a Blazor Server UI since a Blazor Server UI is actually a hybrid application that runs in an ASP.NET Core MVC / Razor Pages application."

https://docs.abp.io/en/abp/latest/Modules/Cms-Kit/Index

Which is a bit confusing

[2021-08-26 16:15] improwise opened #9903 "Problem with Admin menu for Public website feature"
There seem to be a problem with the Admin menu when adding a Public website to an ABP Project (Angular in our case but don't think it matters as the project is in MVC/Razor regardless).

The menu expands ok but when you try to use it and move the mouse cursor down, the "Contact us" seem to have higher priority making the admin menu disappear as soon as cursor is above the "Contact us" section.

[2021-08-26 16:17] improwise commented on #9903
![image](https://user-images.githubusercontent.com/2812422/130998811-9eecfd60-517d-4177-8a9c-5a469fd2be73.png)

(Ignore the broken image icon which seems to be a temporary problem)

[2021-08-26 16:22] improwise commented on #9903
Can add that the language menu does not have this problem and work as it should.

[2021-08-26 16:38] improwise opened #9904 "Faulty path in Angular module generated by ABP Suite"
There seem to be a problem in the latest version of ABP Suite when generating Angular modules, probably in a template. The import statement is generated as:

`import { AuthorService } from '../../../proxy/controllers/authors/author.service';`

When it should be

`import { AuthorService } from '../../../proxy/authors/author.service';`

Without the controller part.

Changing it manually will remove

[2021-08-26 16:45] improwise commented on #9902
If it is the case that the CMS Kit can't be used when using the Angular template perhaps it should be removed for the time being from the template as I would imagine the only way to edit the content of the public website would be directly in the database.

[2021-08-26 21:36] improwise commented on #9904
I believe this is where the error originates:

Frontend.Angular.__name@kebab__.component.ts.template

`import { <%= name %>Service } from '<%= relativePathFromComponentToService(scope, namespace, name) %>';
`

Not sure if that is something we can change ourselved.

[2021-08-27 03:18] #9441 closed, assigned to nobody

[2021-08-27 03:54] vchy1997 opened #9906 "Abp.io Document Incorrect Sample `Acme.BookStore.EntityFrameworkCore.DbMigrations`"
doc version : 4.4
doc lang ： zh

The Migration Project use the `Acme.BookStore.EntityFrameworkCore` project directory
But zh Doc Use `Acme.BookStore.EntityFrameworkCore.DbMigrations`

Correct Doc：https://github.com/abpframework/abp/blame/rel-4.4/docs/en/Tutorials/Part-1.md#L190
InCorrect Doc : https://github.com/abpframework/abp/blame/rel-4.4/docs/zh-Hans/Tutorials/Part-1.md#L190

[2021-08-27 06:07] maliming commented on #9906
Please use English as the standard, and the documents in other languages will be updated gradually.

[2021-08-27 06:07] #9906 closed, assigned to nobody

[2021-08-27 08:09] yekalkan commented on #9904
Hi @improwise,

This problem will be fixed in suite v4.4.1, planned to be released on next monday.

Please use https://support.abp.io/QA/Questions for issues related with Suite.

[2021-08-27 08:09] #9904 closed, assigned to nobody

[2021-08-27 08:11] #9898 closed, assigned to realLiangshiwei

[2021-08-27 09:15] maliming commented on #9826
hi

This is chrome behavior. You can add your app favicon to **wwwroot** folder.

[2021-08-27 09:15] #9826 closed, assigned to nobody

[2021-08-27 09:55] mtozlu commented on #3085
This needs to be in documentation.

[2021-08-27 10:41] andre-artus commented on #7503
Unfortunately this problem still persists.

All I want is for the custom services/controllers/actions I add to have the same behaviour as the auto controllers, i.e to give HTTP error codes and a structured error message.

All I want to know is how to ensure consistent behaviour. I cannot have a web api return 200 and HTML on a failure. This is extremely frustrating.

All the solutions  proposed  t

[2021-08-27 13:53] hikalkan opened #9908 "Remove EntityCreatingEventData, EntityUpdatingEventData, EntityDeletingEventData and EntityChangingEventData"
They are deprecated and will be removed in v6.0.

See https://github.com/abpframework/abp/issues/9897

[2021-08-28 10:18] akilliadam opened #9910 "Errors that occur in crud operations made through AppServices are not displayed as a message on the screen."
On the pages where we inject the AppServices we have created, Abp framework does not catch the errors that may occur in the crud operations we perform through these services and do not display them as a message on the screen. Errors occur on the console screen and the program is stopped. In order to display the resulting error messages on the screen, the relevant page must be inherited from AbpCom

[2021-08-28 10:32] improwise commented on #9902
One thing I find a bit confusing though, why would it even matter if Angular is used or not as the the Public Website is a MVC/Razor page project regardless and should be completely independent from whatever front end you are using on the client side?

Perhaps this is rather a question of "How do you actually access the CMS Kit functionality?" as I see nothing of it even logged in as administrator

[2021-08-28 11:01] improwise commented on #9902
Ah, I see the problem now. I assumed that the CMS kit was something you edited by logging into the public website as most every other CMS system I have ever used. But apparently, you are supposed to configure it by logging into the "real" application instead which explains why it only work with some templates.

I applaud the idea of integrating a simple CMS into ABP but for the time being I don't

[2021-08-28 11:17] improwise opened #9911 "Admin password mismatch between startup templates"
Not sure if this is deliberate but just noticed the startup templates have slightly different default admin password. Angular one uses "1q2w3e*" while the MVC one use "1q2w3E*". The MVC one use "1q2w3e" for Identity Server, Swagger etc. though.

[2021-08-28 18:22] 312977 opened #9912 "about IdentityUser and AbpUsers in abp4.4"
### in abpvnext4.4
the dbcontext  has DbSet<IdentityUser> , no dbset abpuser.  but  when database created,there was tow tables about user→AbpUsers  and IdentityUser

i have an entity  TenantInfo like this

`public class TenantInfo : FullAuditedEntity<int>, IMultiTenant
    {
        public DateTime DaoQiShiJian { get; set; }
        .......
        public virtual IdentityUser User { get; set; }

[2021-08-29 05:11] JadynWong commented on #9912
See the article [Unifying DbContexts for EF Core / Removing the EF Core Migrations Project](https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna
).

If you could provide a sample project to reproduce the problem, perhaps the problem would be more easily solved.

[2021-08-29 10:33] recruitans opened #9915 "Multi-Lingual-Entities Feature"
Hi,
When will this feature be added ?

[2021-08-29 10:39] maliming commented on #9911
`1q2w3E*` is the password of the admin user.
`1q2w3e*` is the client secret of the Identity Client.  https://docs.identityserver.io/en/release/topics/secrets.html#creating-a-shared-secret

[2021-08-29 10:39] #9911 closed, assigned to nobody

[2021-08-29 10:40] maliming commented on #9915
See https://github.com/abpframework/abp/issues/1754#issuecomment-826184860

[2021-08-29 10:40] #9915 closed, assigned to nobody

[2021-08-29 14:15] realLiangshiwei commented on #9912
I don't think this is related to ABP,  but as JadynWong said,  https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna will help you. it will make it easier to create navigation properties with the module table

[2021-08-29 14:15] #9912 closed, assigned to nobody

[2021-08-29 19:35] improwise opened #9916 "logoUrl not working in Angular template"
Can't seem to get the logoUrl of the Angular application to work. When having something like this:

[code]

the name attribute is reflected on the page when changed but the logo displayed don't change regardless of what we enter as logoUrl. Even if we enter a broken logoUrl, the default logotype is still displayed.

Since name changes are applied, there should be no question about the correct envi

[2021-08-29 19:48] improwise commented on #9916
This is with the Lepton Theme in ABP Commercial, not sure if that changes things.

[2021-08-30 01:29] maliming commented on #9916
hi

Please discuss the commercial on https://support.abp.io/
Thanks.

[2021-08-30 01:29] #9916 closed, assigned to nobody

[2021-08-30 02:14] Gsonovb opened #9918 "[Discuss] How to update the list of Chinese document directories?"
Hello everyone.
Recently, in learning ABP, I found that the navigation of Chinese documents is much worse than that of English. Some documents have been translated, but they have not appeared.
So do you have any requirements for navigation updates?
Thank you.

----

大家好

最近在学习ABP，我发现中文文档导航与英文差了好多，有些文档已经翻译了，但是并没有出现。

所以问一下对于导航更新有什么要求吗？谢谢

[2021-08-30 02:49] realLiangshiwei commented on #9918
English documents are always new,  It is better to read English documents to learn.

See https://docs.abp.io/en/abp/latest/Contribution/Index#document-translation

We always welcome contributions

[2021-08-30 02:49] #9918 closed, assigned to nobody

[2021-08-30 05:02] mentianyi opened #9919 "How can i use EntityFrameworkCore module map data view?"
`            builder.Entity<MyView>(b =>
            {
                b.ToView("vw_MyView", options.Schema);
            });`

1.Can i use like this?
2.Myview is a Entity? where class is it's parent class?
3. Do I need use migrationBuilder to support migration these view definetions?

[2021-08-30 05:06] maliming commented on #9919
This is related to EF Core, which you can try.

https://github.com/abpframework/abp/blob/5ab37c78e4e976c2be51e52f7791c5468a958211/framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFrameworkCore/TestAppDbContext.cs#L21
https://github.com/abpframework/abp/blob/5ab37c78e4e976c2be51e52f7791c5468a958211/framework/test/Volo.Abp.EntityFrameworkCore.Tests/Volo/Abp/TestApp/EntityFram

[2021-08-30 05:06] #9919 closed, assigned to nobody

[2021-08-30 05:50] khanhtranchi opened #9920 "How to filter data with ExtraProperties fields ?"
I have create a new field and name it is phone
ModelData data= new ModelData();
data.SetProperty("phone", "account phone");

But when I query, it always return null:
  return await (await GetMongoQueryableAsync(cancellationToken))
                .FirstOrDefaultAsync(x => x.ExtraProperties["phone"] == "account phone");

I search all of the document, but don't find the info show us how to query dat

[2021-08-30 06:03] maliming commented on #9920
Duplicate of #8009

[2021-08-30 06:03] #9920 closed, assigned to nobody

[2021-08-30 11:58] mentianyi commented on #9919
Thank you, issue is solved.

[2021-08-30 14:23] mrs01dev opened #9922 "Volo.Abp.Features , how to check value of feature In Mvc Web project ?"
Regarding Features:
https://docs.abp.io/en/abp/latest/Features
and
https://docs.abp.io/en/abp/latest/UI/AspNetCore/JavaScript-API/Features
For Razor Pages UI , kindly , please :
specify How to check value of  Features  in Razor Pages UI?
- as per documentation
 private readonly IFeatureChecker _featureChecker;

    public ProductController(IFeatureChecker featureChecker)
    {
        _featureChec

[2021-08-30 17:06] agustinsilvano opened #9923 "Dynamic C# API Client Proxies failing."
## Context
* ABP Version : 4.3.3
* DB Provider : EF Core

## Report
I was trying to use dynamic API client proxies documented [here](https://docs.abp.io/en/abp/4.3/API/Dynamic-CSharp-API-Clients).
I have two solutions: the server solution, and the client solution.

### Server perspective
I've created an _IApplicationService_ (who inherits _IRemoteService_) as shown below:
[code]

And the implement

[2021-08-31 00:47] #9470 closed, assigned to nobody

[2021-08-31 00:47] #9469 closed, assigned to nobody

[2021-08-31 00:57] maliming commented on #9923
hi

Can you share a project?

[2021-08-31 00:58] maliming commented on #9910
hi

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-08-31 00:59] maliming commented on #7503
I will check it again.

[2021-08-31 03:30] maliming opened #9926 "Use ASP NET Core's `AuthenticationScheme` to handle `AbpAuthorizationException`."
Related #2643 #3848  #4785  #5235 #7503

We wrap the exception in `ExceptionFilter` as `RemoteServiceErrorResponse` and specify the HTTP status code for it.

An exception will be throw after the permission check fails. It will not get an exception in ASP NET Core but is handled by the authentication scheme.

I think we should let the authentication scheme handle `AbpAuthorizationException`, This w

[2021-08-31 03:31] maliming commented on #7503
Move to #9926

[2021-08-31 03:31] #7503 closed, assigned to nobody

[2021-08-31 03:52] maliming commented on #9926
[code]

[2021-08-31 05:47] #9429 closed, assigned to bnymncoskuner

[2021-08-31 08:27] puschie286 opened #9931 "Action column (DataGridEntityActionsColumn) switch sides on condition"
DataGrid EntityActionsColumn is on the right side of the table if you wrap it in condition and change this condition. after reload the page ( or if the condition is true on first visit ) the column is on the left side ( like expected ).

Repoduce:
You can use the BookStore and wrap https://github.com/abpframework/abp-samples/blob/567e1583668b52f8b0202cc67958a9dc0fd7ca4f/BookStore-Blazor-EfCore/src

[2021-08-31 09:24] mehmet-erim commented on #9883
Hi @nev-21,

Can you replace the `getRecord` method with the following:

[code]

If the errors disappear that way, please let us know.

[2021-08-31 12:20] akilliadam commented on #9910
ABP Framework version : 4.4 (latest)
User Interface : Blazor Server
DbProvider : EF Core

I will give the Authors Page in the BookStore project as an example.
I set the project type to WebAssembly. I have injected IAuthorAppService in Authors Page. Later on this page AuthorAppService.GetAsync(), AuthorAppService.UpdateAsync() etc. When I use crud operations, if any error occurs during these operat

[2021-08-31 12:54] hitaspdotnet commented on #9923
May you have 2 application service in same namespace which isn't accepted.
`DoSomethingAppService.DoSomething(IFormFile file) in XXX\src\Application\Services\DoSomethingAppService.cs:line 34`

[2021-08-31 15:50] olicooper opened #9936 "Multiple database migration issues in DBMigrationService"
ABP Framework version: 4.4.0
Database provider: EF Core

I was upgrading from 4.3.0 to 4.4.0 when I spotted a few possible issues for people using multiple databases. In summary I don't think the Domain module `DbMigrationService` that is included with all startup projects will work for multiple databases now that abp has moved away from having a separate `DbMigrations` project for each database.

[2021-08-31 15:51] leonkosak commented on #9896
@hikalkan, will this approach solve [this issue](https://github.com/abpframework/abp/issues/6126#issuecomment-843348740)?

[2021-09-01 00:24] nev-21 commented on #9883
Hi, @mehmet-erim I replaced and it works, the errors disappeared. Also, I tested it with a debug break-point in the baking api service, and it works, the Input Dto was sent correctly.

[2021-09-01 01:24] maliming commented on #9936
hi

I suggest you manually execute the migration and other commands. **CLI** is only designed for template projects, it can't handle the complex projects.

[2021-09-01 05:06] mugambiwarwema commented on #9936
@maliming

I just installed v4.4 with Postgresql and the initial migration fails.

[code]

I have updated my connection string accordingly in .Host and .DbMigrator projects yet it fails.

[2021-09-01 05:10] maliming commented on #9936
You need to install the CLI.
`dotnet tool install --global Volo.Abp.Cli --version 4.4.0`

[2021-09-01 07:52] olicooper commented on #9936
This isn't me using the CLI, this is part of all startup projects (see the `BookStoreDbMigrationService` in the Domain module). Abp just uses the CLI as part of the process.

[2021-09-01 09:15] mehmet-erim commented on #9883
We will handle that case on the ABP schematics to fix the problem.
Thanks for the reporting!

[2021-09-01 09:15] maliming commented on #9728
It works on 4.4.1!

https://github.com/abpframework/abp-samples/pull/98

[2021-09-01 09:24] nev-21 commented on #9883
Thanks @mehmet-erim

[2021-09-01 10:08] berkansasmaz commented on #9818
Duplicate: #9866

[2021-09-01 10:08] #9818 closed, assigned to nobody

[2021-09-01 11:38] EngincanV commented on #9931
Hi @puschie286, I could not reproduce your problem (I've tried a lot of times but it was always in the expected position). But as I understand, you don't want to view the **Actions** button if there is not any permission granted (i assume you've added the if condition for that reason), instead of wrapping `DataGridEntityActionsColumn` you can use the **Displayable** property of it.

[code]

[2021-09-01 11:45] puschie286 commented on #9931
thanks, now its working like intended :)

[2021-09-01 11:45] #9931 closed, assigned to nobody

[2021-09-01 12:14] EngincanV commented on #9922
Hi @mrs01dev, you can get the `IFeatureChecker` interface by using `MenuConfigurationContext`'s **ServiceProvider** property.

[code]

[2021-09-01 13:17] #9896 closed, assigned to hikalkan

[2021-09-01 13:17] #9897 closed, assigned to hikalkan

[2021-09-01 14:37] mrs01dev commented on #9922
Hi @EngincanV
Thank you very much.

[2021-09-01 14:40] #9922 closed, assigned to nobody

[2021-09-01 19:39] rlavaud opened #9944 "Trying to extend ApbTenant with new DB field from my own module (not the the main application)"
Hi all I seem to be at a loss with extending the AbpTenant from a Module inside another module I created.
I went over of the documentation on how to extend entities but the database is not reflecting the changes.

I on:
* ABP 4.4
* Blazor UI
* EF Core framework

* Steps needed to **reproduce** the problem.

Create a new Blazor Project
Create an new ABP Module with the CLI

In the module new module

[2021-09-02 01:53] maliming commented on #9944
Can you share a project?

[2021-09-02 03:09] maliming commented on #9936
In the same way, you can also change the `BookStoreDbMigrationService` to be compatible with your new structure.

[2021-09-02 06:23] emilsjog commented on #8851
I'm facing the same issue and are running blazor-server on 4.3.3 and there are actually no plans on migrating to 5.0.
Is this not fixed in the new 4.4.1 release?

[2021-09-02 06:51] maliming commented on #8851
Due to the limit of Blazor itself, we are still looking for a solution.

[2021-09-02 08:17] #9335 closed, assigned to enisn

[2021-09-02 08:58] emilsjog commented on #8851
@maliming Ok I see.. I noticed this first when we hade the site setup as "Always running" on the IIS application pool. Have not seen this at all during development when we always restarts the site. Could it be that the cache is invalid?

[2021-09-02 09:32] hikalkan commented on #9864
@XuJin186 for other languages, we currently suggest to use NSWAG tool that creates client proxies based on Swagger endpoints. We will consider your suggestion, thanks.

[2021-09-02 12:37] #9806 closed, assigned to mehmet-erim

[2021-09-02 12:37] #4294 closed

[2021-09-02 13:00] mehmet-erim opened #9952 "Angular UI: Remove NGXS dependency & states"
We decided to remove NGXS from ABP packages. We thought we could achieve the same experience with Angular services instead of using an external store package. So we will replace the NGXS states with data services.

If you use the NGXS, you should install the package to your project to prevent errors.
You can run the following command to install the NGXS:
[code]

### Breaking Change

The following

[2021-09-02 13:37] hikalkan opened #9953 "Use static C# & JS proxies for all modules"
Based on https://github.com/abpframework/abp/issues/9864

All pre-built modules should use the static proxies with v5.0. However, we are keeping the dynamic proxy system available since it simplifies the development and also there are many applications using it.

[2021-09-02 13:41] hikalkan opened #9954 "Document C# and JavaScript Static Client Proxies"
Once https://github.com/abpframework/abp/pull/9905 merged and related issues are completed, we need to document it.
In addition to the documentation, we can also mention (as a short note) this feature in tutorials as an alternative way to consume HTTP APIs.

- [x] Under the API -> Static C# API Clients just under the [dynamic one](https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients).

[2021-09-02 13:51] hikalkan opened #9955 "Introduce option to enable/disable dynamic JavaScript proxies per module"
Based on https://github.com/abpframework/abp/issues/9864

We can enable dynamic proxies for the `identity` module:

[code]

`options.EnabledModules` is a `HashSet<string>` and contains a single item, `app`, by default.

`/Abp/ServiceProxyScript` endpoint returns scripts only for the specified modules.

In this way, ABP doesn't generate dynamic JS client proxies for the modules already have static

[2021-09-02 13:56] amLabib opened #9956 "Dynamic Api Authorization"
Hi,
We are developing a multi module applications (.Net Core & Angular), currently the application is monolithic, but we are planning to separate each module in the future, So in order to modules  to communicate with each other, we created some Dynamic APIs.

Let Say we have BookAppService and BookApi
BookApi have a method called "GetAllBooks()", which calls "GetAll()" method in BookAppService.

T

[2021-09-02 14:54] rlavaud commented on #9944
@maliming  yes here is a link with to the git repo example of what I am trying to get done.
[https://github.com/rlavaud/Bookstore](url)

Essentially, I am trying to add a new field called **CurrentPeriodEnds** from the Module **TenantExtension** and also add the field to the DB as **CurrentPeriodEnds**

I assume the the Eto and Dto are trivial to extend since there is not database involved.

[2021-09-02 16:16] DenverSearle commented on #5628
@aelhadi / @maliming - how was this issue resolved? still getting the same error my side.

[2021-09-02 16:32] agustinsilvano commented on #9923
@maliming Not this project. But I can build the same structure and config in another and share it with you. Give me some time.

@hitaspdotnet This is a mistake. I was "hiding" sensitive data from the logs and I forgot to delete this parameter. In fact, the real application service receives an IFromFile as a parameter but isn't related to the reported issue. There isn't any conflict name.

[2021-09-02 16:54] aelhadi commented on #5628
Clean your browser cache

[2021-09-02 17:40] DenverSearle commented on #5628
I was hesitant clearing my browser cache, so instead I simply navigated to (IDS4) https://localhost:44372/...

then logged in, and then logged out.

Now the UI works again.

[2021-09-02 19:44] hitaspdotnet commented on #9923
Conflict name is different with what I said,
If you have a application service (e.x BookApplicationService) in the namespace `MyCompanyName.Namespace.Books` where the service name contain namespace then you cant add another application service `CategoryApplicationService` in that namespace. I don't know this a bug or a framework rule.

Another suggestion DONOT use IFormFile in application service,

[2021-09-03 01:16] maliming commented on #9956
hi

You shouldn't use `IHttpClientProxy` in a monolithic project, You can refer to tiered or microservice projects to check how to use dynamic API proxy.

https://github.com/abpframework/eShopOnAbp

[2021-09-03 01:33] maliming commented on #9944
![image](https://user-images.githubusercontent.com/6908465/131937204-b8b7cf6b-a7a2-4a7f-8d3c-c18adda2a9d6.png)

[2021-09-03 01:33] #9944 closed, assigned to nobody

[2021-09-03 02:31] rlavaud opened #9962 "Edit Permission for user shows the Guid of the user and not the name"
*V4.4.1 **ABP Framework version**.
*Blazor **User Interface**
* EFCore MySQL

* Steps needed to **reproduce** the problem.
* Create New Blazor App
* Login
* Edit User Permission
The GUID of the users shows up and not the name of the user.

![image](https://user-images.githubusercontent.com/11966443/131941504-153babdc-2c5d-46b8-a43b-05018dbf9a8d.png)

The Same steps for roles seems to work correctl

[2021-09-03 02:47] maliming commented on #9962
I think we can enhance the UI by adding a `DisplayName` paramter.

[2021-09-03 03:34] #9962 closed, assigned to maliming

[2021-09-03 04:01] RockTolo commented on #1082
Have you finished?

[2021-09-03 04:04] tvddev commented on #1082
@maliming - what is the issue number being used for the Blazor WASM fix?

[2021-09-03 04:10] maliming commented on #1082
hi @tvddev
We resolved the Blazor wasm problem,, It can be used in any type of project.

It is under review. will be available in the next few patch versions. eg 4.4.3, 4.4.4.

[2021-09-03 04:17] tvddev commented on #1082
@maliming Oh thats great news! Same behaviour as in aspnetzero? When will the patch be released?

[2021-09-03 04:19] khanhtranchi opened #9964 "Volo.Abp.FluentValidation - Add ErrorCode field to ValidationResult class"
Because the FluentValidation support ErrorCode, it will be easier to write unit test if we can use the ErrorCode instead of the ErrorMessage. In case we use the FluentValidation, we should set ErrorCode from FluentValidation  to AbpValidationResult (this is new class, extended from ValidationResult class)

Thanks.

[2021-09-03 05:09] maliming commented on #1082
We will release it asap.

[2021-09-03 05:13] maliming commented on #9964
hi

Can you share some code to explain it?

[2021-09-03 06:03] tvddev commented on #1082
@maliming can you give us more of a timeframe to review and release..  we are also trying to schedule and this is a really important piece of functionality, 1day? 1 week? 1 month? There is almost zero visibility on what and when is coming out in commercial, so at least knowing a bit of a timeframe on free version would assist. Really appreciate your help.

[2021-09-03 06:07] RockTolo commented on #1082
@maliming  I also hope to release this feature soon ! :)

[2021-09-03 06:35] #9657 closed, assigned to mehmet-erim

[2021-09-03 08:22] #9069 closed, assigned to nobody

[2021-09-03 08:36] akilliadam commented on #9910
@maliming can you answer me?

[2021-09-03 11:32] maliming commented on #9910
hi

Steps needed to reproduce the problem.

[2021-09-03 15:32] agustinsilvano commented on #9923
I have all the services in the same namespace `Company.Services`. Then, when the services are built, the `Service` at the end of the name has gone and keeps `Books` or `Category` and there isn't a match between the final service name and the namespace name.

This rule/bug is applied before or after of the "Service" removal from the service name?

Thanks for the suggestion, I'll change that.

[2021-09-03 17:56] hitaspdotnet commented on #9923
I think this is related to your configuration, please share a project. As I see in your log, your request sent to root.
```System.Threading.Tasks.Task`1[System.Boolean] GetByName(System.String) on the URL: https://localhost:44355/``` which must be
`https://localhost:44355/api/app/office/by-name`.
This is not related to the framework.

[2021-09-03 18:21] agustinsilvano commented on #9923
Where should the path '/api/app/office/by-name' be defined? I set up the base URL (https://localhost:44355) but I assume that the framework builds the URL with the interface definition. Should I set up the relative path to the endpoint somewhere? As I saw in the doc, isn't needed.

[2021-09-04 02:44] khanhtranchi commented on #9964
At the AddErrors method of FluentObjectValidationContributor class, Could we add the ErrorCode returned by FluentValidation ? For example:
if (!result.IsValid)
            {
                context.Errors.AddRange(
                    result.Errors.Select(
                        error =>
                            new ValidationResult(error.ErrorMessage, **error.ErrorCode**, new[] { error.Proper

[2021-09-04 03:24] maliming commented on #9964
I think you can custom the `FluentObjectValidationContributor `

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.FluentValidation/Volo/Abp/FluentValidation/FluentObjectValidationContributor.cs#L37

[2021-09-04 03:24] #9964 closed, assigned to nobody

[2021-09-04 15:29] mnaveedtkxel opened #9967 "Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource"
ABP version 4.4  APP with identity server with angular  EF core

my angular client send the username and password to identity server that is part of my abp application (mean same URL for api and identity server) that returns me token but after very next request for "api/abp/application-configuration" return with CORs error.
same application work for QA local environment with local config.
same cal

[2021-09-04 16:10] fahelmoreira opened #9968 "Swagger authorisation not working"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

Version: 4.4

Database: Mysql
IdentityServer4.Extensions.StringExtensions.AddQueryString(string url, string que

[2021-09-04 16:16] #9685 closed, assigned to nobody

[2021-09-04 16:16] mnaveedtkxel commented on #9685
Thanks i use the password flow. it work for me

[2021-09-04 23:35] realLiangshiwei commented on #9968
* Steps needed to **reproduce** the problem.

[2021-09-04 23:41] realLiangshiwei commented on #9967
Did you create the seed data correctly?

Check your IdentityServerClientCorsOrigins table

[2021-09-05 00:09] custodiodev commented on #236
Hi everyone.

I think casbin is a good option to implement this feature.

It's simple, open-source, flexible (RBAC, RBAC MULTI TENANT, ABAC) and have a good performance.

https://github.com/casbin/Casbin.NET

[2021-09-05 01:58] mnaveedtkxel commented on #9967
i double check the entry of the table. i works fine in browser.

[2021-09-05 03:17] khanhtranchi opened #9969 "Mongo2go doesn't run Dispose when testing finish"
I'm using Module Startup Template (abp version 4.3.2), and found that if we run test\Volo.CmsKit.MongoDB.Tests, after finish testing the method Dispose in MongoDbFixture class is run to cleanup temp folder generated by Mongo2go.

But if we run another test projects like test\Volo.CmsKit.Domain.Tests, that depended on the test\xx.xx.MongoDB.Tests:
namespace Volo.CmsKit
{
    [DependsOn(
        typ

[2021-09-05 05:05] realLiangshiwei commented on #9969
Add `[Collection(MongoTestCollection.Name)]` to unit tests class

[2021-09-05 06:47] khanhtranchi commented on #9969
have tried, it doesn't work

[2021-09-05 08:15] Moustafa20 commented on #9952
could you please mention the reson why doing this ? is there any problems with NGXS ? what about NGRX ?

[2021-09-05 09:57] fahelmoreira commented on #9968
First click on authorize
<img width="1492" alt="Screen Shot 2021-09-05 at 6 55 01 AM" src="https://user-images.githubusercontent.com/39835527/132122719-0fd874ad-b564-4e63-a5a6-8f3e6c3ef82c.png">
Then authorize again
<img width="958" alt="Screen Shot 2021-09-05 at 6 55 24 AM" src="https://user-images.githubusercontent.com/39835527/132122722-b0e45b0d-2faf-4cf3-926e-0e3fb7566c0c.png">
And then this e

[2021-09-05 16:44] #9467 closed, assigned to nobody

[2021-09-06 00:49] Nokecy commented on #2208
any update ?

[2021-09-06 01:00] realLiangshiwei commented on #9968
Sorry, I can't reproduce the problem,

Please provide a project to reproduce. thanks

[2021-09-06 01:10] realLiangshiwei commented on #9969
You can create a template  `abp new Qa -d mongodb`, and check its `domain.tests` project

[2021-09-06 01:10] #9969 closed, assigned to nobody

[2021-09-06 03:06] xyfy commented on #9405
With [Atuo-API](https://docs.abp.io/en/abp/latest/API/Auto-API-Controllers),How can I set the document in the swagger?

the `GenerateDocumentationFile` property in `*.HttpAPi.csproj`  and `*.Application.Contracts.csproj`  has set to `True`

`*.HttpAPi.csproj` generate xml ,but contains none comments.

that caught I can only see the dto's XmlComments,not the api method.

How can I resolve this prob

[2021-09-06 04:12] realLiangshiwei commented on #9953
Will solve by https://github.com/abpframework/abp/pull/9905

[2021-09-06 06:35] iyilm4z commented on #2208
@Nokecy I'm not working on the case now.

[2021-09-06 06:37] dym0080 opened #9972 "My background worker method can not be executed after integrating BackgroundWorkers Quartz"
ABP version: 4.4.2
Quartz version: 3.3.0

I integrate BackgroundWorkers Quartz according to the official documentation. Below are my steps:
1. Add the Volo.Abp.BackgroundWorkers.Quartz NuGet package to my new ConsoleApp project.
2. Add code to ConsoleAppModule.

[code]
3. Create HelloWorldService.cs

[code]

4. Create MyLogWorker.cs.

[code]

5. Program code:

[code]
Then I debug this ConsoleApp,

[2021-09-06 06:40] bnymncoskuner commented on #9952
Hello @Moustafa20,

We aim to make the ABP Framework free of any state-management solutions. Our users should be able to use the ABP Framework with any library/framework of their choice. In the current state of the framework, it comes as integrated with NGXS, and it does not make sense to use any other solutions. Thus, with v5.0 we will leave this choice to you.

[2021-09-06 06:55] maliming commented on #9972
hi

Can you share a project?

[2021-09-06 07:40] dym0080 commented on #9972
@maliming
Yes, the project is here.  https://github.com/dym0080/ABPstudy/tree/master/BookStore-Mvc-EfCore

Please use Acme.BookStore.ConsoleApp as the startup project

[2021-09-06 07:50] maliming commented on #9972
Please share a minimum project. Thanks

[2021-09-06 08:49] dym0080 commented on #9972
@maliming
The minimum project is here. https://github.com/dym0080/AbpBackgroundWorkersQuartzDemo

[2021-09-06 09:02] slarkerino opened #9973 "Incompatibility between versions"
I am using a microservice approach and some new services are using abp 4.4.0. So when I try to using 4.4.0 service with 4.3.x service in aggregating services the error occurs.
`Volo.Abp.AbpInitializationException: An error occurred during ConfigureServices phase of the module Volo.Abp.AspNetCore.Mvc.AbpAspNetCoreMvcModule, Volo.Abp.AspNetCore.Mvc, Version=4.4.0.0, Culture=neutral, PublicKeyToken=n

[2021-09-06 09:08] maliming commented on #9972
Uncomment this line.

https://github.com/dym0080/AbpBackgroundWorkersQuartzDemo/blob/1e35934a0bc19cc34ba04d9e0ef5b33e64e9c945/src/Acme.ConsoleApp/ConsoleAppModule.cs#L60

[2021-09-06 09:08] #9972 closed, assigned to nobody

[2021-09-06 09:09] dym0080 commented on #9972
Otherwise, if I upgrade Quartz.Serialization.Json package to v3.3.0, there will be an error as below:
[code]

[2021-09-06 09:10] realLiangshiwei commented on #9973
Yes, you needed.

[2021-09-06 09:10] #9973 closed, assigned to nobody

[2021-09-06 09:18] maliming commented on #9972
https://github.com/abpframework/abp/blob/4.4.2/modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Quartz/Volo.Abp.BackgroundJobs.DemoApp.Quartz.csproj#L9

[2021-09-06 09:22] monami-work opened #9974 "How to call a stored procedure using ABP framework in a multitenant environment ?"
* Your **ABP Framework version**. : 4.3
* Your database provider(EF Core/MongoDB)  :EF Core
* Exception message and **stack trace** if available (check the logs). NA

Hi , I am not able to call stored procedure appropriately in a multi tenant environment.

[code]
I am using the ABP framework in my webapi and implemented multi tenancy.
I have followed the following link for the same -
docs.abp.io/e

[2021-09-06 09:36] maliming commented on #9974
hi

We need more info.

* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-09-06 09:54] dym0080 commented on #9972
I got it. Thanks for your help!

[2021-09-06 11:04] ebicoglu opened #9975 "Create a many to many relationship example with ABP and EF Core"
Users are having issue when trying to create a basic many-to-many EF Core relationship.
Make a simple sample with ABP (open-source) and write a step by step document.
reported at https://support.abp.io/QA/Questions/1805/Many-to-many-realtionship-returning-null

[2021-09-06 11:13] akilliadam commented on #9910
I am using Acme.BookStore project which is your Blazor WebAssembly project available on github.
I run the project without any changes. Then I list the authors. I then open any of the authors for editing.
I'm making changes to the author information, but I haven't saved it yet.
By switching to the database side, I manually delete the author from the database.
Then I want to save the author by switc

[2021-09-06 18:36] ebicoglu opened #9976 "Update Blazorise to the latest version"
Update all `Blazorise `packages in the templates to the latest  (include PRO templates too)
https://www.nuget.org/packages/Blazorise/

[2021-09-07 01:36] maliming commented on #9910
hi

Thanks for your explains. I think use try catch is the only way now.

Related:
https://support.abp.io/QA/Questions/1803/Blazor-Server-Create-and-Update-Modal-Validation-for-Required-Field#answer-429855f9-c658-5995-c12a-39fecdb76a52

[2021-09-07 02:02] khanhtranchi commented on #9969
hi @realLiangshiwei ,

I found that this issue happen in this startup template:
abp new QA -t module -d mongodb -u blazor --separate-identity-server

I add the attribute [Collection(MongoTestCollection.Name)] to unit tests class of Domain test project. But it doesn't work. By the way, although specific database is mongodb but project still use entity framework, we need to configure a lot of relate

[2021-09-07 02:23] #9956 closed, assigned to nobody

[2021-09-07 04:08] Loongle opened #9977 "Fix the upstream dependency conflict of angular"
node version:  14.17.5
npm version: 7.20.6

i use 4.4.2 module template, then i run `npm install`, it not work
i can run ` npm install --legacy-peer-deps ` solve the problem, but i think is no good idea
![image](https://user-images.githubusercontent.com/7290992/132282535-e1b55f22-2d1e-4b58-baed-25f4efc80b7a.png)

[2021-09-07 08:01] #9936 closed, assigned to nobody

[2021-09-07 09:13] #9910 closed, assigned to nobody

[2021-09-07 12:04] hikalkan opened #9980 "Document update: Publish events while unit of work is being completed, in the same unit of work"
Update documents for https://github.com/abpframework/abp/pull/9909

[2021-09-07 12:26] hitaspdotnet opened #9981 "CLI - local framework ref generate wrong path"
Because of non-classified module's references CLI not working.
Steps:
1. `abp get-source AnyModuleName --local-framework-ref --abp-path "D:\Github\abp"` OR `abp new AnyModuleName -t module-pro --local-framework-ref --abp-path "D:\Github\abp"`
2. check the source there is some reference
`D:\Github\abp\framework\abp\framework`
`D:\Github\abp\framework\modules\identity`
`D:\Github\abp\framework\setti

[2021-09-07 12:42] yekalkan commented on #9981
Hi @hitaspdotnet

There is also `--volo-path` parameter that is available to enter the path of commercial packages/projects. Example:

`--local-framework-ref --abp-path "D:\Github\abp" --volo-path "D:\Github\volo"`

Since customers don't have access to commercial Volo repository for obvious reasons, we didn't document this parameter. But we use it internally.

If you like, you can download source

[2021-09-07 12:54] hitaspdotnet commented on #9981
@yekalkan What about licensing packages? When the customers haven't access to that packages I think you should skip that packages `Commercial.SuiteTemplate`, `Commercial.Core` and the UI packages used by lepton

[2021-09-07 13:07] hitaspdotnet commented on #9981
I think classified references can reduce manual working:
1. Use solution names as directory in module folder `Volo.Abp.Identity` instead of `identity`. When users downloading modules they haven't idea about Volo naming rules
2. Use standard hit paths in all csproj files:
2.1. Convert all framework references to `"..\..\..\..\framework\src\...."` and `"..\..\..\..\abp\framework\src\...."` for comme

[2021-09-07 13:11] yekalkan commented on #9981
We don't have plans for this feature.

[2021-09-07 13:11] #9981 closed, assigned to yekalkan

[2021-09-07 13:19] hitaspdotnet commented on #9981
This isn't feature, This is problem, where we have `identity`, `identityserver`, `account`, `audit-logging` directories in free side and same name in commercial. You should try to create a App with pro template and local framework reference as customer, who not access to volo repository and name of module direcotires to be able to touch the problem
Thanks for answers.

[2021-09-07 15:05] hitaspdotnet commented on #9981
`--volo-path` works just for licensing packages not any pro modules
[code]
And the result:
[code]

[2021-09-07 18:00] hitaspdotnet commented on #9981
The original template is clear, Based on the original Volo has an `abp` instead of `modules` directory that contains pro modules, and the problem is CLI uses `abp\` as replace marker.
For who has same problem, use CLI bug to solve CLI bug, let abp-path empty and use volo-path project generate without any touch in replace package references step.
`abp get-source Volo.CmsKit.Pro -o "D:\Github\hitasp

[2021-09-08 03:20] jakeuj commented on #6549
See [Overriding an Application Service](https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-an-application-service)

Module will call your MyIdentityUserAppService, but swagger still has MyIdentityUser and IdentityUser API at the same time.

[2021-09-08 04:25] khanhtranchi commented on #9969
Hi @realLiangshiwei ,

Did you verify this case ? Or I need to open another issue.

Thanks.

[2021-09-08 04:58] realLiangshiwei commented on #9969
Can you share a project to reproduce? thanks

[2021-09-08 06:33] khanhtranchi commented on #9969
@realLiangshiwei , you can use this project.
https://drive.google.com/file/d/1vLKgCPI6oUN21tSZ4CxJXTPKHyHnUjGm/view?usp=sharing

[2021-09-08 07:16] sofm13 commented on #4641
Yes, I have the same problem. just  currentTenant.Change can used

[2021-09-08 09:40] ebicoglu opened #9985 "Add enable/disable user account"
Just like Windows User Accounts, a new field named `IsDisabled` can be added to the `User` entity.
And this field should be checked when logging in.
![image](https://user-images.githubusercontent.com/9526587/132486031-e9b15b98-ce5d-4818-865f-c0a25b88b0f3.png)

Also show this field in user list ( disabled accounts can be gray -text muted- )

[2021-09-08 12:27] M-Abdelmoniam opened #9986 "Multi Tenant : Single Deployment with Multi Database"
I want an example project that provide :

* database for each tenant
* configure subdomain to detect the selected tenant

[2021-09-08 13:21] maliming commented on #9986
There is no such example. I suggest you start from the document.

https://docs.abp.io/en/abp/latest/
https://github.com/abpframework/abp-samples/tree/master/DomainTenantResolver

[2021-09-08 13:21] #9986 closed, assigned to nobody

[2021-09-08 13:30] maliming commented on #9985
Use `IsActive` will be better. Just like: https://github.com/abpframework/abp/pull/8814

[2021-09-08 13:45] ebicoglu commented on #9853
I refactored this.
We don't allow Blazor keyword because, Suite replaces Blazor keyword and project doesn't compile.

[2021-09-08 13:46] #9853 closed, assigned to maliming

[2021-09-08 16:48] kbsiva opened #9987 "PermissionManagementProvider has not been registered"
Getting below exception when calling with

await RolePermissionManagerExtensions.GetAllForRoleAsync(_permissionManager, roleName);

The requested service 'Volo.Abp.PermissionManagement.PermissionManagementProvider' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the ResolveOptional() m

[2021-09-09 01:38] afresh commented on #5589
I find this issue because I got a exception.
[code]

Thanks for DWCS-Dworrall's answer.

Added `docker-compose.override.yml`.
[code]

[2021-09-09 02:01] realLiangshiwei commented on #9969
I don't think this is a problem, as I said you can create a new project to compare. : )

![image](https://user-images.githubusercontent.com/16813853/132609784-681e5c0c-2e05-4954-a49b-1942130a4ae1.png)

[2021-09-09 03:31] wmhiness opened #9989 "Localization does not work after publishing."
.net5.0版本的 Volo.Abp 发布到服务器之后多语言失效 找不到，在开发模式是没问题的

[2021-09-09 03:39] maliming commented on #9989
If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Please **write in English**.

[2021-09-09 03:40] snowchenlei commented on #5075
Similarly, can set someone's permissions under pages. For example, he can delete an article under pages
Like a forum moderator

[2021-09-09 05:43] tvddev commented on #1082
@maliming @hikalkan - Is this released yet for Blazor WASM?

[2021-09-09 06:19] maliming commented on #1082
No, I will info you when it is released.

[2021-09-09 06:21] tvddev commented on #1082
@maliming @hikalkan - When will it be released...? please provide a time.

[2021-09-09 07:30] snowchenlei opened #9992 "how to customer dynamic permission"
Hello:
The permissions are now defined in code!
But for now:
I have a category table,User's permission need to be associated with this dynamic category

`category table`
| id     | name |
| ----------- | ----------- |
| 1     | bug       |
| 2   | suggestion  |

May I ask how this function can be implemented.
Thank you for your help

[2021-09-09 07:32] yel-best commented on #1168
yes,you are right.

We are using the method you mentioned to create the project,But I have encountered a problem, because the user & permissions & other basic module apis attached to the abp startup project seem to be unable to correlate well with our vue project.

So I really hope to have an official abp guide, please, thank you. 😄

[2021-09-09 07:52] enisn opened #9993 "CmsKit - Public & Admin api definitions should be separated"
![image](https://user-images.githubusercontent.com/23705418/132645360-e44d222a-135d-4693-9405-8b6149a73fc9.png)

- originally posted by @realLiangshiwei

[2021-09-09 08:11] maliming commented on #9992
You can check the document of abp and net core.
https://docs.abp.io/en/abp/latest/Authorization#permission-value-providers
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/iauthorizationpolicyprovider?view=aspnetcore-5.0

[2021-09-09 08:20] ebicoglu opened #9996 "Cannot retrieve client IP address"
When I check the audit logs table, I seet that the `ClientIpAddress` field is not correct.
I guess, AuditLog module cannot retrieve IP address correctly.
Investigate the problem and find a proper way to retrieve the correct client IP address.
![image](https://user-images.githubusercontent.com/9526587/132649439-f9d8359f-0e5e-4b26-aff0-74110e083050.png)

[2021-09-09 08:24] #9993 closed, assigned to enisn

[2021-09-09 08:28] #9996 closed, assigned to nobody

[2021-09-09 08:30] maliming commented on #9996
We can custom the `IWebClientInfoProvider`

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/WebClientInfo/HttpContextWebClientInfoProvider.cs#L8

[2021-09-09 08:30] tvddev opened #9997 "Impersonate Users - Blazor WASM"
v4.4.2
Blazor WASM

User impersonation still needs to be released for Blazor WASM.

This will be easier to track than the previously Closed issue. #1082 .

[2021-09-09 15:35] agustinsilvano commented on #9923
@hitaspdotnet @maliming [here ](https://we.tl/t-rxA7R8k8nZ) is the zip file with the setup that I did for both solutions. I'm facing the same issue that I had reported with the original project with those new projects.

Thanks.

[2021-09-09 15:49] 312977 opened #9999 "swagger error"
context.Services.AddAuthentication(c =>
            {
                c.DefaultAuthenticateScheme = JwtBearerDefaults.AuthenticationScheme;
                c.DefaultChallengeScheme = JwtBearerDefaults.AuthenticationScheme;
            })
            context.Services.AddAuthentication().AddJwtBearer(options =>
            {
                options.Authority = configuration["AuthServer:Authority"];

[2021-09-09 15:52] 312977 commented on #9999
`[Authorize]
[Route("PlatformAdmin/[Controller]/[Action]")]
public class TenantsAppService : ApplicationService
{
    [HttpGet]
    [Authorize("AbpTenantManagement.Tenants")]
    public async Task<TenantsListVm> GetAsync(int id)
    {
        using (_dataFilter.Disable<IMultiTenant>())
        {
            var query = await _queryableRepository.TenantInfo_Tenant_AppUser();
            return quer

[2021-09-09 15:52] 312977 commented on #9999
[Authorize]
[Route("PlatformAdmin/[Controller]/[Action]")]
public class TenantsAppService : ApplicationService
{
    [HttpGet]
    [Authorize("AbpTenantManagement.Tenants")]
    public async Task<TenantsListVm> GetAsync(int id)
    {
        using (_dataFilter.Disable<IMultiTenant>())
        {
            var query = await _queryableRepository.TenantInfo_Tenant_AppUser();
            return query

[2021-09-09 16:23] 312977 opened #10000 "_dataSeeder.SeedAsync error"
[code]
get full error log below.   the  exception  no message,

[code]

[2021-09-09 20:18] imabdulsal commented on #1754
Do those PRs (https://github.com/abpframework/abp/pull/5265 & https://github.com/abpframework/abp/pull/8156) mean Multi-lingual entity feature will be shipped soon?