[2020-12-13 02:40] brunobertechini commented on #3542
I am able to reproduce this using angular & separated identity server. After registering a new user, when "Required confirmed email" enabled, the user is automatically logged in and redirected to the application (Even before clicking on the confirmation link received via email).

Is there a configuration we can set or is this a bug ?

[2020-12-13 02:43] maliming commented on #6517
An empty string is not a valid JSON value. Please check Microsoft's documentation.

https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to

[2020-12-13 02:43] #6517 closed, assigned to nobody

[2020-12-13 03:11] maliming commented on #6614
You can implement it in a custom repository method. : )

[2020-12-13 03:12] #5783 closed, assigned to nobody

[2020-12-13 07:27] sweetyguazi commented on #6476
I encountered the same problem as you. Have you solved it? Can you share how to solve it

[2020-12-13 08:31] ChEhrhard commented on #6614
That's what i've done .

However, it means reusing all the logic you've implemented in your Insert and Update functions ( ID check, audits, events, etc ... ) . I can of course reproduce your logic but i have to take care about all coming evolutions to stay as compliant and integrated as possible to your repository logic.

[2020-12-13 08:34] vnetonline opened #6615 "The field SkipCount must be between 0 and 2147483647."
* Your **ABP Framework version** - **4.0.0**
* Your **User Interface** - **Blazor**
* Exception message and **stack trace** if available (check the logs).

![image](https://user-images.githubusercontent.com/15242923/102007083-0c80bc80-3d7a-11eb-97f3-6a621086c464.png)

* Steps needed to **reproduce** the problem.
1. Create Razor Component Books.razor
2. Replace code with the following

[code]

3. R

[2020-12-13 10:14] vnetonline commented on #6615
The culprit is you need to remove CurrentPage="CurrentPage" from Blazor code of Books.zaor code as it causes a validation error with SkipCount "The field SkipCount must be between 0 and 2147483647"

Ihave created a pull request to fix the tutorial. https://github.com/abpframework/abp/pull/6616/commits/bed4a4defd518694079397b5f3b2d005b484a9c2

[2020-12-13 11:42] hikalkan commented on #5543
ABP modules require to be initialized on application startup. They registers services to dependency injection for example. I didn't see in Microsoft's document how we register services to Dependency Injection (DI) for lazy loaded assemblies. As I know, it is not possible to register services to DI after the application has started.
So, I wanted to postpone this to investigate more in the next mile

[2020-12-13 13:26] realLiangshiwei commented on #6615
Hi,

This is related to the upcoming 4.0.1 version. See https://github.com/abpframework/abp/pull/6570.
Set `CurrentPage="CurrentPage"` will be useful for search.  But you are right, I realized that the document broke the previous version.

[2020-12-13 13:45] #6615 closed, assigned to nobody

[2020-12-13 17:34] hikalkan commented on #5965
Resolved by https://community.abp.io/articles/creating-a-new-ui-theme-by-copying-the-basic-theme-for-mvc-ui-yt9b18io

Thanks to @ebubekirdinc :)

[2020-12-13 17:34] #5965 closed, assigned to nobody

[2020-12-13 17:53] hikalkan opened #6621 "Community Article: How to use Material for the Blazor UI"
Create an article to demonstrate it: https://www.matblazor.com/

We want to show how to install it after creating an ABP solution with Blazor UI. Also, use a few simple components to demonstrate it is working. No server side code needed.

[2020-12-14 01:45] maliming opened #6622 "Generate and publish the symbol file of the package to Nuget."
https://github.com/abpframework/abp/pull/6421#issuecomment-744116413

[2020-12-14 02:23] maliming commented on #6471
I also can't reproduce this.

[2020-12-14 02:23] #6471 closed, assigned to nobody

[2020-12-14 04:01] sachinarora87 commented on #4356
@maliming
I have tried adding following line in the MyProjectNameIdentityServerModule inside ConfigureServices. But still the .AspNetCore.Identity.Application showing expiry of a year.  I am using abp v3.3.0 with Azure AD as External Authentication. No local sign-in and registration.

`context.Services.ConfigureApplicationCookie(x =>
            {
                x.ExpireTimeSpan = TimeSpan.FromDa

[2020-12-14 05:08] maliming commented on #4356
@sachinarora87 What's the steps to repro your problem?

[2020-12-14 05:55] sachinarora87 commented on #4356
@maliming

I am able to reproduce it with simple local login as well. Here are the steps:

1. Create a new project with ABP CLI
`abp new Company.ProjectName -t app -u angular --separate-identity-server`
2. Add following line in the ProjectNameIdentityServerModule inside ConfigureServices to configure the **.AspNetCore.Identity.Application** cookie expiry
`context.Services.ConfigureApplicationCooki

[2020-12-14 06:18] mehmet-erim opened #6625 "Fix the state updating problem in SessionStateService"

[2020-12-14 06:39] maliming commented on #4356
hi @sachinarora87

 if you do not check **Remember me,** the cookie life is session.

[2020-12-14 06:42] maliming commented on #4356
`EditThisCookie` is wrong. You can check the cookies via the Chrome Application panel.

[2020-12-14 06:48] #6625 closed, assigned to mehmet-erim

[2020-12-14 06:57] #6622 closed, assigned to maliming

[2020-12-14 07:37] sachinarora87 commented on #4356
@maliming Yes, you are correct EditThisCookie showing it wrong. It is showing expiry as `Session` in Application panel But strangely cookie is not deleting after closing the browser. Even I checked the settings mentioned in the link https://stackoverflow.com/questions/10617954/chrome-doesnt-delete-session-cookies
https://github.com/IdentityServer/IdentityServer4/issues/4060

This led me to check t

[2020-12-14 09:06] ZhaoYis opened #6627 "Volo.Abp.AbpException: No theme registered! Use AbpThemingOptions to register themes"
I have an ABP webapi project that debugs locally and does not throw an exception. After the project is published to IIS, it throws an exception, but I do not use the UI module.How can I set it to run the project normally
***The error message is as follows:***
Volo.Abp.AbpException: No theme registered! Use AbpThemingOptions to register themes.
   at Volo.Abp.AspNetCore.Mvc.UI.Theming.DefaultThemeS

[2020-12-14 09:17] yekalkan commented on #6416
@yinchang0626 see https://support.abp.io/QA/Questions/673/How-can-I-download-voloabpcommercialngui-Angular-package

[2020-12-14 09:17] #6416 closed, assigned to yekalkan

[2020-12-14 09:22] #6612 closed, assigned to cotur

[2020-12-14 09:31] maliming commented on #6627
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-12-14 10:09] #5804 closed, assigned to nobody

[2020-12-14 11:23] #6603 closed, assigned to cotur

[2020-12-14 11:31] trgiangvp3 opened #6634 "RegularExpression validation is incorrectly performed on client side (javascript)"
I create a Modal to create an entity which contains IP field and then use `System.ComponentModel.DataAnnotations.RegularExpression` to decorate the IP field in my Dto.
This works well if I call the service from RESTApi but it's always fail when I try to create new record from Create Modal.

I found the reason is Regex format in C# and javascript is different, but when generate HTML script for the

[2020-12-14 11:37] stsrki commented on #5554
in progress: https://github.com/stsrki/Blazorise/issues/1244

[2020-12-14 13:20] #6539 closed, assigned to armanozak

[2020-12-14 14:35] #6538 closed, assigned to cotur, mehmet-erim

[2020-12-14 15:50] niufwshd opened #6639 "ClientSimulationDemo.HttpApi.Client.ConsoleTestApp project perhaps not working"
- ABP Version 4.0
- ClientSimulationDemo solution
- issue
   **Unhandled exception. Volo.Abp.AbpException: {"error":"invalid_client"}**
   at Volo.Abp.IdentityModel.IdentityModelAuthenticationService.GetAccessTokenAsync(IdentityClientConfiguration configuration)
   at Volo.Abp.IdentityModel.IdentityModelAuthenticationService.GetAccessTokenOrNullAsync(String identityClientName)
   at Volo.Abp.Ident

[2020-12-14 16:21] yinchang0626 commented on #6416
@yekalkan : I get it ! Thank You .

[2020-12-14 17:48] hitaspdotnet opened #6640 "Abp TagHelper support string value for "asp-for""
Is there any way to use `asp-for` in loops?
[code]
[stackoverflow](https://stackoverflow.com/questions/34282640/how-can-i-pass-string-value-for-asp-for-in-asp-net-5)

[2020-12-14 17:53] hikalkan commented on #6640
I suppose you need to create for loop (instead of foreach) and write `asp-for="Model.Items[i]"`. However, this is not related to the ABP Framework. `asp-for` is a standard attribute of ASP.NET Core.

[2020-12-14 18:10] hitaspdotnet commented on #6640
@hikalkan This is a suggestion and is useful with Abp Dynamic Forms where we have to design the forms from the UI. I'm looking for a way to resolve it.
However thanks for reply.

[2020-12-14 19:27] kbowma commented on #6382
Thank you both for your response, but I am struggling where to put (which file) either approach to keep the main form from displaying on load. Putting it in the Index.razor is too late in the loading sequence.

[2020-12-14 20:38] #6547 closed, assigned to nobody

[2020-12-14 20:43] #6543 closed, assigned to ilkayilknur

[2020-12-14 21:56] alexandis commented on #860
Nevertheless, would be great to have possibility to pass Expression<Action> into app layer. Let's say I have background worker (Hangfire) and there could be numerous types of background job body, which I want to pass, using Expression<Action>. How do I do that? Meanwhile, I bumped into the same error as topic starter.

[2020-12-15 01:24] maliming commented on #6634
hi

I think this is the behavior of asp net core.
https://github.com/dotnet/runtime/issues/31445#issuecomment-554089026

[2020-12-15 01:58] wocar commented on #6526
Thank you for the support given. For anyone else wondering what might it be, I'm using Rider + MacOS disabled this feature:

![image](https://user-images.githubusercontent.com/9215073/102158265-b62d7f80-3e46-11eb-8ba4-1fe000d7e456.png)

And now instead of 30+ secs its like 8 secs. Thank you once again.

[2020-12-15 01:58] #6526 closed, assigned to nobody

[2020-12-15 02:46] ZhaoYis commented on #6627
Hi.
* ABP Framework Version：3.3.1
* No UI, just a web API project
* Local debugging can run normally. This error occurs when I deploy the project to IIS through the publishing function of vs.
 use release configuration
![image](https://user-images.githubusercontent.com/22954818/102158707-f7f90d00-3ebc-11eb-8925-38a8ce755398.png)

[2020-12-15 02:52] realLiangshiwei commented on #6639
I will check it out.

[2020-12-15 03:28] realLiangshiwei commented on #6639
Open `IdentityServerDataSeedContributor` class and change `MyProjectName_App:RootUrl` to `ClientSimulationDemo_App:RootUrl`

[2020-12-15 03:32] #6639 closed, assigned to realLiangshiwei

[2020-12-15 03:40] trgiangvp3 commented on #6634
Thank you. I see it now.
I'll close this issue.

[2020-12-15 03:40] #6634 closed, assigned to nobody

[2020-12-15 07:44] realLiangshiwei commented on #6552
See https://docs.abp.io/en/abp/latest/Unit-Of-Work#unitofworkattribute

[2020-12-15 07:52] maliming commented on #5960
Github CI is working.
https://github.com/abpframework/abp-samples/actions

@gterdem @bnymncoskuner @yekalkan @ebicoglu @cotur
Please upgrade the unit tests in the sample next time. : )

[2020-12-15 07:59] mehmet-erim opened #6645 "Remove the @ngxs/router-plugin dependency from @abp/ng.core package"
NGXS Router Plugin is no longer necessary for the `CoreModule`. So we have decided the remove it.

### Breaking Change

`@ngxs/router-plugin` dependency has been removed from `@abp/ng.core`. If you are using this package in your project, you can install this package in your project. See the [NGXS Router document](https://www.ngxs.io/plugins/router) to learn how to set it up.

[2020-12-15 08:06] #5816 closed, assigned to nobody

[2020-12-15 08:24] armanozak opened #6648 "Enhance Angular UI unit test setup"

[2020-12-15 10:02] VidyaPuri commented on #5169
Any news?

[2020-12-15 10:19] hades200082 commented on #6579
![image](https://user-images.githubusercontent.com/1023581/102201794-786c3d80-3ebe-11eb-92e7-6fd7e1cf499f.png)

- https://dotnet.microsoft.com/learn/aspnet/blazor-tutorial/intro linked to from blazor.net

I see nothing that indicates any requirement to install anything other than the .Net 5 SDK.

If I run the app without IIS Express it works fine... it's only in IIS Express that the error happens.

[2020-12-15 10:33] Stirda commented on #5169
@VidyaPuri  See https://github.com/abpframework/abp/discussions/6295

[2020-12-15 12:23] #6645 closed, assigned to mehmet-erim

[2020-12-15 12:42] begandroide opened #6653 "Tenant is null and header has error on parse"
Hi! im reporting a problem with upgrading **abp from 3.0 to 4.0** (specifically with httpheaders and ___tenant null)

**Environment:**

* **ABP 4.0.0.**
* Angular 11
* Console error: `main.ts:13 TypeError: Cannot read property 'length' of null` (httpHeaders.applyUpdate)
* Steps to reproduce: Recently I upgraded abp from 3.0 to 4.0.

Im working with angular, abp 4.0 and .net core 5 (without reverse

[2020-12-15 12:47] realLiangshiwei commented on #6653
Thanks for your reporting. we have fixed the problem: https://github.com/abpframework/abp/pull/6644

[2020-12-15 12:47] #6653 closed, assigned to nobody

[2020-12-15 12:53] begandroide commented on #6653
@realLiangshiwei thanks you! this was so quickly, waiting for v4.1.

[2020-12-15 12:58] #6640 closed, assigned to nobody

[2020-12-15 13:00] hikalkan commented on #6614
Thanks @ChEhrhard for your suggestion. We will consider to add it.

[2020-12-15 14:01] enisn opened #6654 "Repository Bulk Operations"
# Summary
Bulk operation support feature for repositories such as `InsertMany`, `UpdateMany`, `DeleteMany`.

# Support
Both providers (EFCore, MongoDb) must support bulk operations.

[2020-12-15 14:01] enisn commented on #6614
Planned and scheduled, can be followed at issue #6654

[2020-12-15 14:01] #6614 closed, assigned to enisn

[2020-12-15 14:22] hikalkan commented on #5215
Hi,

We had progress but could not solved the problem yet. Will be working on.

[2020-12-15 17:38] Stirda opened #6656 "Environment in DbMigrator"
I want my `DbMigrator` app to not seeding some (not all) datas in Production environment.
I tried the following with no luck:
  - [**Preferred way**] Add `appsettings.{env}.json` files and running `DbMigrator` with `dotnet run --environment "myEnv"`: even if `Host` class seems to load `appsettings.{env}.json`, if I inject `IConfiguration` inside `IDataSeedContributor` implementation, it says that

[2020-12-15 17:55] nacoleman commented on #6101
I have this exact issue... can i reopen this?

I have opened a support ticket for this...

Steps to reproduce the issue:
1 - Open ABP Suite
2 - Create New MVC/EF Core Solution
3 - Add Blogging Module
4 - Open Visual Studio
5 - Add Migration
6 - Run DbMigrator Project
7 - Run Web Project
8 - Login as Admin
9 - Create New Blog with shortname 'test-blog'
10 - visit '/blog/test-blog'
11 - click 'creat

[2020-12-15 18:46] davidzwa opened #6657 "Angular ApiInterceptor - Default/host tenantId 'cannot read property length of null error' - since 4.0.x"
* Your **ABP Framework version** - 4.0.x (tested 4.0.0 and 4.0.1)
* Your **User Interface** - Angular
* Exception message and **stack trace** if available (check the logs).

ApiInterceptor incorrectly has a null error (it tries to determine append the multi-tenancy HTTP header, but the tenantId is null by default).
Might be related to work done new storage solution in Angular: https://github.com/a

[2020-12-15 19:06] davidzwa commented on #6657
3 solutions:
- install `4.1.0-rc.1` (the problem is fixed)
- revert to 4.0.0
- delete the abpSession tenant key by hand. Below is a failing attempt to do so. *Not advised*.

### Attempt to fix - still fails often:
Add this to `main.ts` before the app runs (or use an APP_INITIALIZATION factory/class at your own risk of a race condition with the app loading with ApiInterceptor)

[code]

[EDIT]: I st

[2020-12-15 19:52] davidzwa opened #6658 "Angular - disabling oAuth2/oidc still attempts loading well-known openid-document"
* Your **ABP Framework version**
3.x/4.x
* Your **User Interface**
Angular
* Exception message and **stack trace** if available (check the logs).
`issuer  must use HTTPS (with TLS), or config value…t be set to 'false' and allow HTTP (without TLS).`
angular oauth2 tries to load the well-known document, but for this project oidc authentication is not used (we work with plain old JWT's).

* Steps nee

[2020-12-15 19:53] davidzwa commented on #6658
My proposal:
Either - add a separate setting to determine whether oAuth is used or not.

Or - allow leaving out oAuthConfig:
I cannot leave out `oAuthConfig` as undefined because then the whole app doesnt start (`Cannot read property 'responseType' of undefined` in abp/ng.core)

[2020-12-15 19:59] davidzwa commented on #6656
Do make sure to add DOTNET_ENVIRONMENT environment variable or launchSetting env variable for console applications like a `.DbMigrator` console runner.
I'm not sure from your description if you did this, also because you mentioned `ASPNETCORE_ENVIRONMENT`.

This would not be related to ABP but to .NET Console Host configuration vs ASP.NET configuration.
Read this below for more info on Host vs Web

[2020-12-15 20:14] nacoleman commented on #6101
its ok fixed with this

https://github.com/abpframework/abp/issues/6473

[2020-12-15 22:27] AdemAygun commented on #6284
@erolarkat did you check?

[2020-12-16 01:14] realLiangshiwei commented on #6657
We have fixed this problem: https://github.com/abpframework/abp/pull/6644

[2020-12-16 01:14] #6657 closed, assigned to nobody

[2020-12-16 01:33] 274188A commented on #6579
what version of VS are you using? It may be worthwhile simply re-installing your IISExpress

[2020-12-16 01:36] jack-gaojz commented on #6369
The PR link: https://github.com/abpframework/abp/pull/6659
FYI.

[2020-12-16 01:39] jack-gaojz commented on #6606
Anyone can help take a look at this issue？ Thanks so much.

[2020-12-16 02:35] realLiangshiwei commented on #6606
Hi,

Make your `CrudAllAppService` class `abstract`

[2020-12-16 02:39] snowchenlei commented on #6384
There was an error with my 'IFromFile.ts'.
[code]
![image](https://user-images.githubusercontent.com/26211283/102297711-b5056b00-3f8a-11eb-9de9-0f4d078d3528.png)

[2020-12-16 03:40] #6369 closed, assigned to nobody

[2020-12-16 04:37] 274188A commented on #5541
@cotur  - are the above steps still relevant for `v4.0.1`?

[2020-12-16 04:42] jack-gaojz commented on #6606
Thanks so much, it works fine for me now. This restriction may be added to the document as well. Thanks so much again. :)

[2020-12-16 06:06] mehmet-erim commented on #3187
Has been resolved by https://github.com/abpframework/abp/pull/6419

[2020-12-16 06:06] #3187 closed

[2020-12-16 06:10] mehmet-erim commented on #3568
Upgraded the `@ng-bootstrap/ng-bootstrap` version to the latest.

[2020-12-16 06:10] #3568 closed

[2020-12-16 06:10] #3783 closed

[2020-12-16 06:25] #6606 closed, assigned to nobody

[2020-12-16 06:48] #5753 closed, assigned to nobody

[2020-12-16 06:50] ThreeLambs opened #6660 "How to call webapi with client_credentials authorization in winform or console app."
1. I create a demo project TcpiChina    ,run at localhost:96
2. I create a console app.
[code]
[code]
[code]
it  authorized but Forbidden (unauthorization)
 how to authorization to a client

[2020-12-16 07:03] OldKing-lion opened #6661 "How can I run abpvnext application in docker?"
How can I run abpvnext application in docker?

[2020-12-16 07:11] realLiangshiwei commented on #6661
I think it has nothing to do with ABP. see https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/docker/?view=aspnetcore-5.0

[2020-12-16 07:11] #6661 closed, assigned to nobody

[2020-12-16 07:43] OldKing-lion commented on #6661
都是中国人就不说英语了，以前用abp的时候就是要修改很多配置才能用docker,但是abpvnext没有查到相关资料，不知道和.netcore基础程序部署的方法是不是一样，我试试

[2020-12-16 07:44] OldKing-lion commented on #6661
都是中国人就不说英语了，以前用abp的时候就是要修改很多配置才能用docker,但是abpvnext没有查到相关资料，不知道和.netcore基础程序部署的方法是不是一样，我试试

[2020-12-16 08:26] realLiangshiwei commented on #6660
You should check your application log.

[2020-12-16 08:32] CAH-FlyChen opened #6662 "how to config redis only use specific dbindex? eg.db5"
![image](https://user-images.githubusercontent.com/1214546/102324017-33c6cc00-3fbc-11eb-8652-5f5db624660e.png)

[2020-12-16 08:33] davidzwa commented on #6657
Ah sorry for the dupe, still the script above could help some. Thx!

[EDIT]: My fix above does not cover a lot: the problems are fixed once the new 4.1 release is out (or take the 4.1.0-rc.1 version!)

[2020-12-16 08:49] realLiangshiwei commented on #6662
Change your connection string, like:  `127.0.0.1;defaultDatabase=5`

See https://stackexchange.github.io/StackExchange.Redis/Configuration.html#configuration-options

[2020-12-16 08:49] #6662 closed, assigned to nobody

[2020-12-16 09:00] cotur commented on #5541
@274188A yes :)

[2020-12-16 09:41] yinchang0626 opened #6664 "angular app project was broken in v4.0.1"
* Your **ABP Framework version**.
`4.0.1`
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
`angular`
* Exception message and **stack trace** if available (check the logs).

![image](https://user-images.githubusercontent.com/16490084/102329515-793ac780-3fc3-11eb-85e2-eb6019411993.png)

* Steps  to **reproduce** the problem.
1. abp new FS -t app -u

[2020-12-16 09:50] realLiangshiwei commented on #6664
See https://github.com/abpframework/abp/pull/6644

[2020-12-16 09:50] #6664 closed, assigned to nobody

[2020-12-16 10:15] Stirda commented on #6656
Very interesting. Thanks @davidzwa

But I wonder: if I have to inject `IHostEnvironment` in implementation of `IDataSeedContributor` when my implementation of `IDataSeedContributor` is called from `DbMigrator`, but `IWebHostEnvironment` when it is from my web app (since seeders can also be called from application service for example), how to do?

This is why I ask here an ABP design to handle this

[2020-12-16 10:56] mehmet-erim opened #6667 "Rename the patch method of InternalStore to deepPatch and add a new method called patch for shallow patching"
## Breaking Change

We have renamed the `patch` method that patching state deeply to `deepPatch`. If you need the deep patching, use the `deepPatch` method.

[2020-12-16 11:06] VidyaPuri commented on #3638
Did you manage it?

[2020-12-16 12:04] davidzwa commented on #6656
I realise `IHostEnvironment` doesnt resolve in the scope of `AbpApplicationFactory.Create(options=>...){...}`. That needs to be fixed and then the problem goes away. I also added 2 other options which dont fix the problem but avoid it.

### Best option - re-register IHostEnvironment
The best option without drawbacks is to re-register the IHostEnvironment within the AbpApplicationFactory's scope by

[2020-12-16 12:11] mehmet-erim commented on #6320
Hello @gregbrant2

Thanks for the reporting and detailed description.

 There is a bug in the [`form-submit.directive.ts`](https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/core/src/lib/directives/form-submit.directive.ts).

Sorry for the late response :disappointed: We will be fixed the problem.

[2020-12-16 12:41] ebicoglu opened #6671 "Format date in blogs page in Blogging module"
format date in blogs page
![image](https://user-images.githubusercontent.com/9526587/102349818-fca0ec80-3fb4-11eb-87cb-770066e56d63.png)

[2020-12-16 12:45] ilkayilknur commented on #6579
I'm not able to reproduce the problem on my end.
![image](https://user-images.githubusercontent.com/5785927/102350116-746f1700-3fb5-11eb-8e5c-0aded3556aec.png)

It looks like this is related to your development environment. Closing the issue. If you find any issues related to the framework, feel free to reopen it again. We will investigate further.

[2020-12-16 12:45] #6579 closed, assigned to nobody

[2020-12-16 13:02] ilkayilknur commented on #6528
I'm not able to reproduce this on my end.
- Step 1
![image](https://user-images.githubusercontent.com/5785927/102351193-17746080-3fb7-11eb-8675-4f5fa5bdffa1.png)

- Step 2
![image](https://user-images.githubusercontent.com/5785927/102351231-29ee9a00-3fb7-11eb-8a80-253dc6c37e79.png)

The blazor app works as expected. Honestly, I'm getting these kinds of errors while working on blazor apps. Most of

[2020-12-16 13:02] #6528 closed, assigned to nobody

[2020-12-16 13:20] stsrki opened #6672 "Add SubmitButton to documentation"
https://docs.abp.io/en/abp/latest/UI/Blazor/Overall

Proposal path: `/Blazor/Components/SubmitButton.md`

[2020-12-16 13:29] hikalkan opened #6673 "Blazor UI: Consider to apply bundling&minification to the startup template"

[2020-12-16 13:43] #6667 closed, assigned to mehmet-erim

[2020-12-16 13:45] davidzwa commented on #6661
Please speak in English.

[2020-12-16 13:47] #6320 closed, assigned to mehmet-erim

[2020-12-16 13:59] ilkayilknur commented on #6519
Moving this 4.2 preview. We will add the `PageHeader` component to the open-source side with blazor UI extensions work.

[2020-12-16 14:04] cotur commented on #6369
Hi @jack-gaojz,

I just saw your PR has been merged. Nice work!

[2020-12-16 14:28] hikalkan opened #6677 "Do not register repository classes to dependency injection by default"
We always use repositories over interfaces (like `ICustomerRepository` or `IRepository<Customer, Guid>`). However, if anyone injected the repository class (like `CustomerRepository`), this will be a breaking change.

To continue to use the old behaviour, write this in the beginning of your application:

[code]

We do this since it improves performance.

[2020-12-16 14:38] ilkayilknur commented on #6673
We need your feedback! When you create a new project using the `abp new` command, do you want to see the client-side resources individually or bundled inside the `index.html`?

[2020-12-16 15:46] dnimekaf opened #6680 "Data filters cause database index scan instead of index seek"
ABP Framework version: 4.11.0
User Interface: Angular
Steps to reproduce: Run IRepository <TEntity:IMustHaveTenant >.GetAllList() method

Data filters use sql data parameters to show if the filter is enabled or not. These parameters sometimes cause performance issues on MSSQL Server, forcing it to use index scan insted of index seek. This is a huge problem for the tables with large number of recor

[2020-12-16 19:34] gterdem commented on #2087
Hello @djordjedjukic, sorry for late reply.

There is no code structure to continue to work on unfortunatelly. However you can fork and share the problem if I can help.

Thanks.

[2020-12-17 01:08] maliming commented on #6284
hi @AdemAygun  We are working on it.

[2020-12-17 02:23] #6677 closed, assigned to hikalkan

[2020-12-17 03:27] tsupakit commented on #6658
I got "error loading discovery document TypeError: Cannot read property 'length' of null" in angular-oauth2-oidc.js:1330
I did create new angular template freshly.
Run aspnet-core migrator project, start swagger and yarn start the angular

cli version 4.0.1

[2020-12-17 04:30] #6660 closed, assigned to nobody

[2020-12-17 05:01] #6648 closed, assigned to armanozak

[2020-12-17 07:01] armanozak commented on #6472
Hi @dhehir,

We are using Angular schematics to generate the code and I am afraid it doesn't provide a built-in option for that purpose. Sorry, I understand that may be annoying, but I have to move this issue to our backlog for now.

To avoid the problem in the meantime, please try to find a way to disable that config for that folder. And we would really appreciate it if you share any temporary so

[2020-12-17 07:29] #6672 closed, assigned to stsrki

[2020-12-17 07:35] stsrki opened #6686 "Remove Form usage from SubmitButton"
For the Blazorise button, using the `Form` attribute is not needed so it should be removed.

To do:

- [ ] remove Form parameter from SubmitButton
- [ ] remove all usages of Form from all pages and modals

[2020-12-17 09:16] espindl opened #6688 "Reset password page can not switch to tenant in the querystring"
Using MVC razor pages.

When a user clicks the password reset link if user belongs to/uses two or more tenants he/she may get "Current tenant is different than the given tenant."

[In the code](https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/modules/account/src/Volo.Abp.Account.Web/Pages/Account/ResetPassword.cshtml.cs#L61), there is a comment about this.

If we i

[2020-12-17 09:24] sheepx258 opened #6689 "After logging in, keep turning around"
api test success
![image](https://user-images.githubusercontent.com/45529787/102468380-663ffa00-408c-11eb-8236-3f5f274d8a16.png)
angular test fail.(After logging in, keep turning around)
![image](https://user-images.githubusercontent.com/45529787/102468227-38f34c00-408c-11eb-8542-c055c5f85e20.png)
why!?

[2020-12-17 09:32] maliming commented on #6680
What is your sql server version?
This is more like its problem.

[2020-12-17 09:35] maliming commented on #6689
Duplicate of https://github.com/abpframework/abp/issues/6657

[2020-12-17 09:35] #6689 closed, assigned to nobody

[2020-12-17 09:41] sheepx258 opened #6690 "After logging in, keep turning around"
api test success
![image](https://user-images.githubusercontent.com/45529787/102470368-d8194300-408e-11eb-9fc3-e91bb9ffec77.png)
angular test fail.(After logging in, keep turning around)
![image](https://user-images.githubusercontent.com/45529787/102470347-cfc10800-408e-11eb-8046-2dbec7c5a1ee.png)
why!?How to solve this problem!?

[2020-12-17 09:46] realLiangshiwei commented on #6690
Duplicate of #6657

[2020-12-17 09:46] #6690 closed, assigned to nobody

[2020-12-17 10:31] lykiao commented on #6658
@tsupakit abp+angular, the same version, the same issue, 3 js errors when login, can anyone give same advice?
![image](https://user-images.githubusercontent.com/54703532/102476471-182ff400-4096-11eb-9de6-7c487319426e.png)

[2020-12-17 10:43] maliming commented on #6658
@tsupakit  @lykiao https://github.com/abpframework/abp/issues/6657

[2020-12-17 11:08] lykiao commented on #6658
@maliming thank you very much! resolved in your way.
by the way, i used this way below but the issue is still exist. you saved my time~
https://support.abp.io/QA/Questions/684/Angular-SSO-issue

[2020-12-17 12:42] dnimekaf commented on #6680
This problem is present on various versions of mssql, I personally checked on version 15 and on Microsoft Azure (the most recent one I guess). It's probably not a database bug, that's how its optimizer works. Perhaps it is necessary to take into account this feature.

[2020-12-17 13:32] alexandis commented on #6546
My implementation works, but when I try to access the page that is not supposed to be accessible (user is not logged-in), I'm getting the following exception instead of redirecting to login page:

![image](https://user-images.githubusercontent.com/6149843/102494234-068e2280-407d-11eb-87f5-a33dcdb28cbc.png)

Any thoughts how to fix this? Thanks.

[2020-12-17 14:56] davidzwa commented on #6653
https://support.abp.io/QA/Questions/678#answer-0c965758-2a20-a382-8274-39f9778d361f

Fix in `package.json` and `yarn.lock` provided in this support ticket:
[code]
or download version `"@abp/ng.core": "^4.1.0-rc.1"` which is available as we speak.
https://www.npmjs.com/package/@abp/ng.core

[2020-12-17 17:57] gterdem opened #6694 "OrganizationUnit MoveAsync not working automatically in MongoDB"

[2020-12-17 17:58] begandroide commented on #6653
@davidzwa thank you! i was stucked with this issue and i need upgrade my packages...

[2020-12-17 18:27] davidzwa commented on #6658
Back to the original issue: disabling oAuth within or without `oAuthConfig`.

ID4 or OpenID authentication are optional, so angular-oAuth firing off should be as well.

[2020-12-17 19:15] #6671 closed, assigned to cotur

[2020-12-17 20:55] profitp opened #6695 "Navigations property sometimes is plular, sometimes is singular"
ABP Framework version: 4.0.1
User Interface: MVC, ABP Suite
Database provider: EF Core

Correct URL from swagger: https://localhost:44338/api/app/entity02/entity01Lookup
Wrong URL from Navigations property request: https://localhost:44338/api/app/entity02s/entity01-lookup?maxResultCount=50

Problem: entity02 sometimes is plular, sometimes is singular

[2020-12-18 01:13] maliming commented on #6695
hi @profitp

We are trying to fix this.

[2020-12-18 01:16] maliming commented on #6658
@lykiao  Please follow https://support.abp.io/QA/Questions/684/Angular-SSO-issue

[2020-12-18 02:07] lykiao commented on #6658
@maliming yesterday maybe forgot to clear the localStorage finally, now it was ok, thank you for your kindly response~

[2020-12-18 02:20] zsanhong opened #6697 "please add Xamarin.Form Template"
First thanks to your great job of the abp, and any plan to add Template for Xamarin.Form Template?

[2020-12-18 02:24] maliming commented on #6680
We want to dynamically enable/disable a filter at runtime, I can't find other ways to achieve it.

[2020-12-18 02:37] rcenamsi opened #6698 "Angular Startup template same as AspNetBoilerplate (Question)"
Good day dev's,

Is there a way to change the startup or basic template same aspnetboilerplate?
The navigation is on the left part of the page.

Regards.

[2020-12-18 02:50] realLiangshiwei commented on #6698
You need to change the basic theme source code.

Or you can use the theme of the community:
 https://community.abp.io/articles/creating-a-new-ui-theme-by-copying-the-basic-theme-for-mvc-ui-yt9b18io
https://github.com/realLiangshiwei/Lsw.Abp.AspNetCore.Mvc.UI.Theme.Stisla
https://github.com/wakuflair/Abp.AspNetCore.Mvc.UI.Theme.AdminLTE

[2020-12-18 02:50] #6698 closed, assigned to nobody

[2020-12-18 03:06] rcenamsi commented on #6698
@realLiangshiwei Thanks.

[2020-12-18 03:46] myomyinthan commented on #6697
It will be nice to add Xamarin.Form template with ABP. 👍

[2020-12-18 03:49] myomyinthan opened #6699 "How to integrate Telerik Angular with ABP"
It will be very nice to have telerik angular with abp article on community page. 👍

[2020-12-18 03:55] maliming commented on #5958
Please follow  https://github.com/abpframework/abp/issues/6699

[2020-12-18 03:55] #5958 closed, assigned to nobody

[2020-12-18 06:35] gterdem commented on #6694
fixed via https://github.com/abpframework/abp/commit/a9f12f873e29f578c01fa8f4e9e2bf85241eb82d.

[2020-12-18 06:35] #6694 closed, assigned to gterdem

[2020-12-18 06:41] maliming commented on #6680
You can try to use **IgnoreQueryFilters** to disable EF Core's global filters. https://docs.microsoft.com/en-us/ef/core/querying/filters#disabling-filters

![image](https://user-images.githubusercontent.com/6908465/102583068-e32bac00-413e-11eb-8cf3-612f4e6f5c92.png)

[2020-12-18 06:52] realLiangshiwei opened #6700 "Set job name for Hangfire background job integration"
https://support.abp.io/QA/Questions/689/BackgroundJobNameemails-ignored-when-using-hangfire

[2020-12-18 06:57] wanghaiyang5241 commented on #6388
+1

[2020-12-18 07:07] maliming commented on #6627
You can try to use `dotnet publish` command.

[2020-12-18 08:29] hikalkan opened #6702 "The symbol package failed"
We got emails for all NuGet packages for the latest deployment.

The symbol package Volo.Abp.AspNetCore 4.1.0-rc.1 failed validation because of the following reason(s):

The checksum does not match for the dll(s) and corresponding pdb(s).
Your symbol package was not published on NuGet Gallery and is not available for consumption.

You can reupload your symbol package once you've fixed the issue wi

[2020-12-18 08:40] maliming commented on #6702
I tested myget, there is no problem
![image](https://user-images.githubusercontent.com/6908465/102593213-82589f80-414f-11eb-88f2-0a985b05db36.png)

![image](https://user-images.githubusercontent.com/6908465/102593332-b16f1100-414f-11eb-9c04-8bf90d02ae3b.png)

[2020-12-18 08:49] NecatiMeral commented on #6656
Why don't just enhance the `IConfiguration` setup by handling the environment variables?
In this case, you won't need to implement more logic just for parsing your configuration but use the regular `IConfuguration` framework instead.

[2020-12-18 09:09] chinahnjlk opened #6703 "about vue"
Is suport the vue.js?
If not suport，what time suport the vue.js

[2020-12-18 09:10] davidzwa commented on #6656
Because an existing mechanism exists which makes it compatible with existing code.

[2020-12-18 09:14] maliming commented on #6703
Duplicate of https://github.com/abpframework/abp/issues/1168

[2020-12-18 09:14] #6703 closed, assigned to nobody

[2020-12-18 09:16] OldKing-lion commented on #6477
I know what you mean. I also checked the code of the template project and found that it was different. However, your upgrade document didn't explain it. I just pointed out that I think other people should encounter the same upgrade problem as me, right？
I appreciate your work

[2020-12-18 09:23] OldKing-lion commented on #6476
是的，我解决了，他们升级文档写的有问题，你可以去创建一个模板项目，Identity的种子数据里多了一个方法，我和他们说了其他人也会遇到这种情况，但是他们没有说明这个情况

[2020-12-18 09:56] aelhadi opened #6704 "Overriding logoUrl in DefaultBrandingProvider always rendring null string"
Hello,
I'm trying  to override LogoUrl in my OrgAEBrandingProvider : DefaultBrandingProvider as bellow :
[code]
my logo file is in wwwroot folder (Always copied)

to be sure i also added :
[code]

the AppName take effect but LogoUrl not, in the rendered html the href is as :
[code]

[2020-12-18 10:06] #6700 closed, assigned to realLiangshiwei

[2020-12-18 10:21] aelhadi commented on #6704
after looking to source code  :

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Brand/Default.cshtml

should be updated ....

[2020-12-18 11:40] ebicoglu opened #6706 "Invalid sorting in MongoAuditLogRepository"
In the `GetEntityChangeListAsync `method sorting is done after the database fetch operation. It should be called before the query execution.

https://github.com/abpframework/abp/blob/dev/modules/audit-logging/src/Volo.Abp.AuditLogging.MongoDB/Volo/Abp/AuditLogging/MongoDB/MongoAuditLogRepository.cs#L179

[2020-12-18 11:42] d-oit opened #6707 "Blazor Basic Theme - Script error"
If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
**4.1.0-rc.1** / Blazor Book Store Sample
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Blazor -> calls the mvc page "/Account/Manage"
* Your database provider(EF Core/MongoDB)
EF core
* Exception message and **stack trace** if available (ch

[2020-12-18 11:45] Stirda opened #6708 "Build errors after importing ABP Blazor basic theme"
I want to be able to switch `container` to `container-fluid` in some of my Blazor pages, as in MVC template, so I followed [your guide "Implementing a Theme - The Easy Way"](https://docs.abp.io/en/abp/latest/UI/Blazor/Theming#the-easy-way):

1. I cloned the `Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme` project from the ABP `/dev` branch today (so [here](https://github.com/abpframework/ab

[2020-12-18 11:50] #5537 closed, assigned to nobody

[2020-12-18 11:53] ebicoglu opened #6709 "Clear filter doesn't work on Docs"
The clear button doesn't work
![image](https://user-images.githubusercontent.com/9526587/102611741-9c3eb600-4140-11eb-915b-f5fb23ac8f31.png)

[2020-12-18 13:29] d-oit commented on #6673
For isolated component css / js i prefer bundled. The component should handle all.

I would like to override my customization in a custom.js,ts / variable.css, application.css (scss)

[2020-12-18 14:44] KevinFarrow commented on #6708
Make sure you uninstall the existing **Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme** Nuget package

[2020-12-18 15:13] d-oit commented on #6708
Also the Volo.Abp.AspNetCore.Components.WebAssembly is needed:

[code]

No reference
`<PackageReference Include="Volo.Abp.AspNetCore.Components.WebAssembly" Version="4.1.0-rc.1" />`
needed if you add SupportedPlatform to your project file.

https://docs.microsoft.com/en-us/aspnet/core/blazor/components/class-libraries?view=aspnetcore-5.0&tabs=visual-studio#browser-compatibility-analyzer-for-blazor

[2020-12-18 15:37] cotur commented on #6686
https://github.com/abpframework/abp/pull/6710

[2020-12-18 15:37] #6686 closed, assigned to cotur

[2020-12-18 15:37] alexandis opened #6712 "Something is wrong with displaying sorted abp-table data"
3.2.0 / Angular

I have weird issue in Angular app. I have a special column, where sorting is "customized": let's say I have "codeOriginId" field has localized lookup description and I do server-side sorting by this lookup description. Data returned from server is in correct order (I sort by "CodeOrigin" lookup description descending):

![image](https://user-images.githubusercontent.com/6149843/10

[2020-12-19 02:26] hitaspdotnet opened #6715 "Add a hook at the end of body (force to next modals containers)"
* Your **ABP Framework version** = 4.0.1.
* Your **User Interface** type (Angular/MVC/React... etc.) MVC Commercial (Lepton)

![image](https://user-images.githubusercontent.com/23167047/102678494-27aa5c80-41be-11eb-931d-7d496147c515.png)
That `<script></script>` must be after modal container right before body end.
Maybe I need to convert all modals to page 😞

[2020-12-19 06:25] xyfy commented on #6571
https://docs.abp.io/en/abp/latest/CurrentUser

add claims to may help you ~

 #4388

[2020-12-19 06:33] xyfy commented on #6571
![Dingtalk_20201219143137](https://user-images.githubusercontent.com/7838147/102682774-01f57580-4207-11eb-8c89-8c7b2bf6e06f.jpg)
check that, the claims map you added

[2020-12-19 06:38] xyfy commented on #6382
@kbowma what about in the Conroller Action?

[2020-12-19 06:49] xyfy commented on #6136
you should define the re-routes rules
make sure the rules is asuite for you real api  url.     you can add swaggerui to check it
and depands on the **http.api** in the `gateway` module class

[2020-12-19 15:06] KillDroner opened #6717 "Microservices [BloggingService.Host] initialization failed (latest)"
I am trying to run microservices template from abp-samples, where i encountered an error which resulted in failed initialization of BloggingService.Host project

Error log

[code]
fatal error log

[code]
I see in the resolved issues that it has been fixed for getting started template but seems like MicroServices bloging project was not updated!

[2020-12-19 22:32] f-belhocine opened #6719 "Referencing HttpApi.Client project"
Hi all,
I want just to confirm architectural concept with the abp framework.
If I have a modular application and want to deploy some modules in separate containers (as microservice).
Is it correct to reference Module1.HttpApi.Client.csproj project from Module2.Application.csproj to consume Module1 from Module2 using HttpProxy Client?
using this architcture to get dtos objects referenced just by th

[2020-12-20 01:51] ruby0602 opened #6720 "HttpApi.Host HTTP Error 500.30 - ASP.NET Core app failed to start"
I just upgrade the abp to 4.1.0-rc.2 from 4.0.1, HttpApi.Host can't launch with error below
![image](https://user-images.githubusercontent.com/4489940/102703364-c90ddd00-42a8-11eb-94b5-d84bec07e7fd.png)

[2020-12-20 02:49] maliming commented on #6720
Can you check the `UsersAuthNController`?

![image](https://user-images.githubusercontent.com/6908465/102703966-df1f9b80-42b0-11eb-8d16-2b5b135ff6e5.png)

[2020-12-20 02:51] maliming commented on #6715
hi @hitaspdotnet

Please create a question at https://support.abp.io/QA/Questions/New

[2020-12-20 02:54] maliming commented on #6717
https://docs.abp.io/en/abp/latest/MongoDB#transactions

[code]

[2020-12-20 03:05] ruby0602 commented on #6720
I solved the problem, thanks

[2020-12-20 03:05] #6720 closed, assigned to nobody

[2020-12-20 03:15] rcenamsi opened #6721 "The required antiforgery cookie is not present"
AspNetCore WebApi. when trying to use Swagger.

The required antiforgery cookie ".AspNetCore.Antiforgery.VnsZADHyVr0" is not present

[2020-12-20 03:57] #6721 closed, assigned to nobody

[2020-12-20 08:40] goodyear-incaricotech commented on #6136
Ocelot seems to work perfectly, have you try to run it? https://github.com/goodyear-incaricotech/abp.test-ocelot
Also the api-definition is ok.
The real problem is that it is not possible to resolve an _IEnumerable_ of something that is a _IRemoteService_ in another microservice.
Maybe the **FindActionAsync** method in class **Volo.Abp.Http.Client.DynamicProxying.ApiDescriptionFinder** finds every

[2020-12-20 12:49] KevinFarrow commented on #6719
There's a Microservices demo that might answer your question:

https://github.com/abpframework/abp-samples/tree/master/MicroserviceDemo

[2020-12-20 13:01] niufwshd opened #6723 "Are there any multitanent(saas) sample projects?"

[2020-12-20 17:08] martenw opened #6724 "InputInfoText not rendered in dynamic form"
Using version 4.0

I am adding a dynamic form according to https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Dynamic-Forms but I am not able to render help texts using [_InputInfoText_](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Form-elements#property-attributes):
[code]

Documentation links to the sample page https://bootstrap-taghelpers.abp.io/Components/DynamicForms w

[2020-12-20 21:16] martenw commented on #6724
Also seems that the text on the submit-button does not have localization-support.

[2020-12-21 01:14] #6187 closed, assigned to nobody

[2020-12-21 01:27] maliming commented on #6688
Our design does not support this situation by default.  I think there is no problem with using a unique tenant name.

[2020-12-21 01:37] maliming commented on #6136
hi @goodyear-incaricotech

If the problem is not related to Ocelot, you should use a simple project to reproduce the problem.

[2020-12-21 01:39] maliming commented on #6723
The startup template project is an example of multi-tenancy. include the tutorial in the documentation. https://docs.abp.io/en/abp/latest/Tutorials/Part-1

[2020-12-21 01:40] maliming commented on #6724
hi @martenw

Can you share a project?

[2020-12-21 01:56] maliming commented on #6704
hi @aelhadi

I think we should use the logo on the layout page instead of the brand component, I will try to implement it.

[2020-12-21 01:59] #6717 closed, assigned to maliming

[2020-12-21 02:00] #6464 closed, assigned to nobody

[2020-12-21 02:09] realLiangshiwei commented on #6707
How to reproduce this problem? can you provide steps?

[2020-12-21 02:34] hitaspdotnet commented on #6715
This issue is related to the framework UI hooks system and its not a support needs question

[2020-12-21 02:47] maliming commented on #6715
Sorry about that, I thought it was related to Lepton.

Can you explain why the problem you mentioned happened?

![image](https://user-images.githubusercontent.com/6908465/102733785-240f0500-4379-11eb-8da8-2b38bbc29001.png)

[2020-12-21 03:37] rocleegithub opened #6726 "RabbitMQ.ConnectionPool and RabbitMQ.ChannelPool has Connection Close Bug Causing memory leaks"
https://docs.microsoft.com/en-us/dotnet/api/system.collections.concurrent.concurrentdictionary-2?view=net-5.0

All these operations are atomic and are thread-safe with regards to all other operations on the ConcurrentDictionary<TKey,TValue> class. The only exceptions are the methods that accept a delegate, that is, AddOrUpdate and GetOrAdd.

So Even if all pools have been disposed ,But not all Con

[2020-12-21 03:52] Damon-cxl commented on #6007
@rygar08 ,Hi, when used Abp IRepository , I got a exception like this:

- Cannot access a disposed context instance. A common cause of this error is disposing a context instance that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your application. This may occur if you are calling 'Dispose' on the context instance, or wrapping it in a usi

[2020-12-21 07:06] martenw commented on #6724
@maliming you can add this page in a razor-pages installation:

_SamplePage.cshtml:_
[code]

_SamplePage.cshtml.cs:_
[code]

[2020-12-21 09:25] d-oit commented on #6707
Reproduce with any current blazor template 4.1.0-rc.1 or your Blazor Book Store Sample
https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore

Open Browser Developement Tools (Edge / Chrome) -> then you see the script error.
Login with any user (admin or your own user)
![image](https://user-images.githubusercontent.com/6849456/102761151-d6919880-4376-11eb-8f3b-d040f4fa5a0f

[2020-12-21 09:31] hitaspdotnet commented on #6715
I have created a component then I configured the AbpLayoutHookOptions in my app web module
[code]
but as you can see in attached image after opening modal the modal related elements comes after my script tag so the script not running for modals.

[2020-12-21 09:32] maliming commented on #6284
It's working now.

[2020-12-21 09:32] #6284 closed, assigned to erolarkat

[2020-12-21 09:56] hitaspdotnet commented on #6715
After replace the Lepton Application Layout issue not solved, its related to abp modal manager
https://github.com/abpframework/abp/blob/fe3b286058571fabff124f8a40fa80a014bd996e/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js#L58

[2020-12-21 10:16] bnymncoskuner commented on #6002
Hello @alexandis,

Sorry for late response. Do you use password flow or code flow as authentication method?

If so, password flow is deprecated in v3 and removed in v4. We've published a blog post couple of months ago about this topic. You can find it [here](https://blog.abp.io/abp/ABP-Framework-v3.1-RC-Has-Been-Released)

[2020-12-21 10:25] alexandis commented on #6002
Hi. We use code flow. What about the source code i've attached? Does everything look right in **nav-items.component.ts** implementation from tenant reading prospective? Please note: the reported error takes place after pressing "Logout", but before a user is redirected back to login form. In our case, the error can be seen if "Preserve log" is turned on in the browser to see all requests between l

[2020-12-21 10:34] realLiangshiwei commented on #6707
Can't reproduce your problem.

![image](https://user-images.githubusercontent.com/16813853/102767531-b1267e00-43ba-11eb-8edb-c0e1d86ff1d3.png)

2. Server side is HttpApi and Auth server.  there is no problem.
3. It will back to the Blazor application after you login.

[2020-12-21 10:40] niufwshd commented on #6723
@maliming ，thank you very much for your quick reply。I will research it！

[2020-12-21 10:40] #6723 closed, assigned to nobody

[2020-12-21 11:28] ebubekirdinc commented on #5993
Check [this](https://community.abp.io/articles/creating-a-new-ui-theme-by-copying-the-basic-theme-for-blazor-ui-qaf5ho1b) article at ABP community.

[2020-12-21 12:02] yekalkan opened #6731 "MySql Documentation: Incorrect method name: UseMySQL"
https://docs.abp.io/en/abp/latest/Entity-Framework-Core-MySQL

Document says `UseMySQL()` but it should be `UseMySql()`.

[2020-12-21 12:20] muhammedaltug opened #6733 "Create Loader Service"
- Remove store from api interceptor.
- Create loader service and keep loader configuration in internal store

[2020-12-21 13:20] AdemAygun commented on #6284
thank you 👍  , I thought you were Turk and your name was Mehmet Ali  :)

[2020-12-21 13:22] vnetonline commented on #6080
Have you been worndering what is inside when you join http://LearnABPFramework.com then check this out!

https://learnabpframework.com/#whats-inside

[2020-12-21 13:34] d-oit commented on #6707
Oh there is a new abp version on nuget - i think you tested with 4.1.0-rc.2
With this version the script error is gone.

2. If you click on "BookStore" (see the image red circle) the user opnes the swagger page (on the server) instead of the blazor menues.
He can't go back (only with browser back to the wasm app).

![image](https://user-images.githubusercontent.com/6849456/102782074-018ce400-4399-

[2020-12-21 13:35] #5773 closed, assigned to nobody

[2020-12-21 13:57] yekalkan opened #6736 "Cli connection string parameter must allow whitespace"
Cli doesn't allow whitespace in parameters. But we must find a way.

[2020-12-21 14:04] d-oit commented on #6707
With the current template version the mvc abp account personal info is loaded.

Possible fix:

Add to Blazor project:
  <PackageReference Include="Volo.Abp.Identity.Blazor" Version="4.1.0-rc.X" />

    typeof(AbpAccountBlazorModule)

remove else

![image](https://user-images.githubusercontent.com/6849456/102785027-8ed23780-439d-11eb-80e3-f184033ed85c.png)

I could create a PR with the changes.

[2020-12-21 14:11] Stirda commented on #6708
Ok. I figured it out. The problem was modifying project namespace. I wanted to change folder name and project file name, but I can live with staying with ABP namespace.

@KevinFarrow Thank you. I already done it. This was not the problem.

@do-it-ger Thank you too. I didn't need to add Volo.Abp.AspNetCore.Components.WebAssembly package referencies. Maybe I will encounter this need when I will upda

[2020-12-21 14:11] #6708 closed, assigned to nobody

[2020-12-21 14:13] gdlcf88 opened #6738 "Text templates with snake camel properties not work"
I tested it in ABP 3.2.1 and 4.0.2, got the same result:
![image](https://user-images.githubusercontent.com/30018771/102785134-6f0c3500-43d8-11eb-865c-5775343ab89b.png)

Following [the doc](https://github.com/abpframework/abp/blob/4.0.2/docs/en/Text-Templating.md#pascalcase-vs-camelcase):

My inputted model is:
[code]

This template not works:
[code]
and this one works:
[code]

I created apps for

[2020-12-21 14:19] begandroide opened #6739 "How to change Default login view url from MVC to Angular"
Hi, recently i upgrade from abp 3.x to 4.0.2, and i has problems with OAuth and abp:

* **ABP 4.0.2**.
* **Angular 11**
* EF core & mongoDB
* Hasn´t logs on console or log http.host.

I use ABP framework on front and backend, in front-end i not use abp/theme-shared or abpt/theme-basic; I made a front-end with Angular material and a theme.
With **ABP 3.x** i used the auth code flow from the AuthSer

[2020-12-21 14:25] yekalkan commented on #6738
duplicate of https://github.com/abpframework/abp/issues/6188

also fixed in documents https://github.com/abpframework/abp/commit/9ba0c01b0db390aecf3124aa3bf7cd4e7f654d31 (v4.1)
https://docs.abp.io/en/abp/4.1/Text-Templating

[2020-12-21 14:25] #6738 closed, assigned to nobody

[2020-12-21 14:34] bnymncoskuner commented on #6252
Hello @gcarrot,

Object extensions for `@abp/ng.identity` package is available starting from version `4.1.0-rc.1`. I just applied everything in the article with the newest version. I didn't have to do anything on the frontend. The table got rendered with the two extra columns as follows:

![image](https://user-images.githubusercontent.com/1609114/102787739-9cde8300-43b2-11eb-82a7-4f33ec892241.png)

[2020-12-21 14:39] naushadkhalid opened #6740 "Implementing CQRS Pattern using ABP Framework"
we are developing an HR Management Software and have planned to use ABP Commercial. wanted to see some documentation or working demo if any available for the same.

[2020-12-21 15:26] f-belhocine opened #6741 "ActionName attribute not taken into account for ApiDefinition"
Hi All,

ABP  v3.3.1.
**User Interface** : Angular
I created an HttpApi controller and mark one of its Action with [ActionName("myAction")] attribute.
When generating proxies for Angular ActionName is not taken into account and the Action is named with its method Name.
Is it the defaut behavior by the framework for ApiDefinition ??

`public class MyController
{
[ActionName("List")]
 public Task<My

[2020-12-21 16:46] begandroide commented on #6739
I add some configuration like that ABP team mentioned in the release 3.1 post:

![image](https://user-images.githubusercontent.com/22018004/102800186-46614c80-4392-11eb-86cf-c5f4af1641ee.png)

And now im being redirected to account/login, but of backend host:port.

![image](https://user-images.githubusercontent.com/22018004/102797799-f339ca80-438e-11eb-8041-d1732e3817de.png)

**So, how can i chang

[2020-12-21 16:53] Brahimhz opened #6743 "After Update Abp Packages CORS policy execution failed/Request origin https://localhost:44373 does not have permission to access the resource"
After Update My Microservice Abp Project I Had probleme With Post Method
It's return Error 400 With No Documentation & Without Get in my Method in Appservice
My log give this :

[code]

[2020-12-21 17:23] espindl commented on #6688
Thank you.
This may also be needed when you want to create a user and send them an email that is forcing them to set their passwords before logging in. Because they have never logged in, tenant should be resolved/set by the system automatically. I know this is not a very standard way but resolving tenant in this scenario would be great.

[2020-12-22 01:06] maliming commented on #5993
https://community.abp.io/articles/creating-a-new-ui-theme-by-copying-the-basic-theme-for-blazor-ui-qaf5ho1b

[2020-12-22 01:06] #5993 closed, assigned to nobody

[2020-12-22 01:16] realLiangshiwei commented on #6740
Duplicate of https://github.com/abpframework/abp/issues/57

[2020-12-22 01:16] #6740 closed, assigned to nobody

[2020-12-22 01:28] realLiangshiwei commented on #6741
You need: https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/routing?view=aspnetcore-5.0#ar

See https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.actionnameattribute?view=aspnetcore-5.0

![image](https://user-images.githubusercontent.com/16813853/102837956-fd63d380-4437-11eb-9f5b-e3f5066c11c6.png)

[2020-12-22 01:28] #6741 closed, assigned to nobody

[2020-12-22 01:37] maliming commented on #6743
hi @Brahimhz

* Steps needed to **reproduce** the problem.

[2020-12-22 02:45] maliming commented on #6715
hi @hitaspdotnet
Can you share the code of `ScriptTagViewComponent`? that I can reproduce your problem.

[2020-12-22 03:18] ThreeLambs opened #6745 "Sendemail Cryptography.CryptographicException: The input data is not a complete block."
[code]

![Snipaste_2020-12-22_11-10-43](https://user-images.githubusercontent.com/23123048/102844534-a0bbe500-4446-11eb-90a2-662bb99251a5.png)

[2020-12-22 03:24] xyfy commented on #5960
Are there any plans?  when will do it ?

[2020-12-22 03:48] realLiangshiwei opened #6746 "Improve permission management modal performance"
60+ permissions
It will take 15 ~ 16s

![image](https://user-images.githubusercontent.com/16813853/102846823-f941b100-444b-11eb-82ca-803077857e52.png)

[2020-12-22 03:49] xyfy commented on #6680
Can we change the `CreateFilterExpression` method in [`AbpDbContext`](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs) from
[code]

to

[code]
avoid add the  **IsMultiTenantFilterEnabled** filter into sql directly

[2020-12-22 03:50] xyfy commented on #6680
donot add the  **IsMultiTenantFilterEnabled** filter into sql directly

[2020-12-22 06:10] xyfy commented on #6743
@Brahimhz I guess you update abp to  v3.3.0 above ,which need **XSRF-TOKEN**

 pay attention to this text of log : **The required antiforgery cookie ".AspNetCore.Antiforgery.deLoZxX3-dA" is not present.**

[CSRF-Anti-Forgery](https://docs.abp.io/en/abp/3.3/CSRF-Anti-Forgery)

[2020-12-22 06:15] maliming opened #6748 "Avoid using array index in taghelper expressions."
https://github.com/abpframework/abp/pull/6747

![image](https://user-images.githubusercontent.com/6908465/102855987-b211eb00-4460-11eb-8a5a-f5c23696412d.png)

[2020-12-22 06:30] CAH-FlyChen opened #6750 "Can I use appsettings.json to config IdentityOptions? How to?"
Can I use appsettings.json to config IdentityOptions instead of
`	app.ApplicationServices.GetService<ISettingDefinitionManager>().Get(IdentitySettingNames.Password.RequiredLength).DefaultValue = 6.ToString();`

[2020-12-22 07:19] f-belhocine commented on #6741
Hi,
Sorry, I didn't see that this ActionNameAttribute is not applicable for AspNetCore 3.1
I went to use it because using [Route("List")], doesn't change the Action Name in the ApiDefinition, it stills based on the MethodName [GetList] in the Api Controller.
We can see that in https://host/api/abp/api-definition.

[2020-12-22 07:23] hitaspdotnet commented on #6715
**TagViewComponent.cs**
[code]
**Default.cshtml**
[code]
MyWebModule
[code]
Everything works fine in pages, not modals

[2020-12-22 07:28] emilsjog commented on #3638
@Stirda I'm also interested in the same thing. Did you get it to work? And did you use Blazor WASM or Razor pages?
My use case is to use windows auth on a local network with ABP.io. No connection to outside resources.

[2020-12-22 07:53] f-belhocine commented on #6719
Thank you for the response.
I saw this sample. But the question is about architectural perspective when referencing Module1 from Module 2 of the same application and application modules are deployed as microsoervices.
Here how I do it

**1. Module1**
- Module1.Web
- Module1.Application
- Module1.Application.Contracts
- Module1.HttpApi.Client

**2. Module2**
- **Module2.Web --> references Module1.H

[2020-12-22 10:03] Stirda commented on #3638
@emilsjog See https://github.com/abpframework/abp/discussions/6295

[2020-12-22 10:19] #6736 closed, assigned to yekalkan

[2020-12-22 10:45] martenw commented on #6724
@maliming is there some way to localize the submit-button in a dynamic form or should I add a new issue for that?

[2020-12-22 10:53] bnymncoskuner commented on #6002
Hello again,

I've downloaded your code and tried to run it with our template but your code is too complex and missing the proper backend APIs. So, it is really hard for me to make any sense of it. If you could provide a minimal repo (with angular and backend) that reproduces your problem, I'd check it out.

[2020-12-22 11:07] bnymncoskuner opened #6754 "Angular: improve test coverage of schematics"

[2020-12-22 12:23] maliming commented on #6724
hi @martenw New issue, thanks.

[2020-12-22 13:01] espindl opened #6757 "Account emails do not use resource files"
Using MVC Razor pages startup template.

Account emails (like password reset) do not use resource files. Although there are "PasswordResetInfoInEmail", "PasswordReset" and "ResetMyPassword" resources in en.json file incoming mails are not converted according to resources.

Is there an extra step to ensure this behaviour?

[2020-12-22 14:37] zwbdzb opened #6761 "Abp vNext exception handler defects & Improved solution"
I found some defects, and  I  try to  give a  Improved solution for  the  defect.

### exception  handler defects
 The default  abp  scaffolding. use  the  Built-in exception handler ， and default do not send detail  info  to clients。

We can  enabled the  `SendExceptionsDetailsToClients = true`  to   send the detail info  to client,
[code]
 but the abp [ exception handler] have  the following def

[2020-12-22 14:39] realLiangshiwei commented on #6761
What is your question?

[2020-12-22 14:46] emilsjog commented on #3638
@Stirda I looked into that one. But the question remains for me. I have not seen any example of authentication with windows accounts that is not against an Azure AD.

[2020-12-22 15:27] #6724 closed, assigned to maliming

[2020-12-22 16:40] Brahimhz commented on #6743
@xyfy Thanks That's helped me , I fix it

@maliming It's done I just Add some configuration about "AbpAntiForgeryOptions"

[2020-12-22 16:40] #6743 closed, assigned to nobody

[2020-12-22 17:05] begandroide commented on #6739
I was thinking about this and to avoid redirect to api login i need to customize the AuthGuard (because im still using it), and implement the old behaviour.

If this is the solution, please close the issue or give me some feedback.
Regards

[2020-12-22 17:16] ebicoglu opened #6767 "CLI - Incorrect port settings"
![image](https://user-images.githubusercontent.com/9526587/102916183-316ce200-4494-11eb-99e9-7dad07f94d9f.png)

[2020-12-22 17:20] hikalkan opened #6768 "Test scenario: compare abp based application with plain aspnetcore + efcore application"
Each thread does this flow:

* Create a book (with random name and price), get its id
* Get the same book with the id
* Update the same book (change the name, for example) with the id
* Get the list of books
* Delete the book with the id

We want to see the difference between the "with abp" and "without abp" versions of the application.

I already created the applications and prepared initial jMet

[2020-12-22 18:11] martenw opened #6769 "Cannot localize submit button in dynamic form"
Using razor pages version 4.0

Would be great if submit buttons of dynamic forms supported localized texts
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Dynamic-Forms#submit-button

[2020-12-22 18:11] martenw commented on #6724
Great, created #6769

[2020-12-22 18:11] martenw commented on #6724
And also, thanks for quick fix on this one! 👍

[2020-12-23 00:09] slm-w opened #6770 "Angular hide column"
Hello,
I am willing to hide some columns for user view in table Angular Material,after refresh the page,i got the initial table,how can i hide colulmn in database,i use Angular 10 for front-end and asp.net core for backend
Thank you

[2020-12-23 01:29] #6748 closed, assigned to realLiangshiwei

[2020-12-23 01:30] #6746 closed, assigned to realLiangshiwei

[2020-12-23 01:30] maliming commented on #6757
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2020-12-23 01:41] maliming commented on #6769
https://github.com/abpframework/abp/blob/32402a99b07ea994efe1880e0655eff3c73e2166/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpDynamicformTagHelperService.cs#L194

[2020-12-23 01:44] maliming commented on #6770
hi @slm-w

It seems this has nothing to do with us.

[2020-12-23 01:44] #6770 closed, assigned to nobody

[2020-12-23 01:45] maliming commented on #5951
Can you share a project to repro this?

[2020-12-23 01:50] maliming commented on #6715
hi @hitaspdotnet

Can you share a simple project?
I can't get `<hitasp-scripts></hitasp-scripts>`.

Thanks.

[2020-12-23 02:09] #6769 closed, assigned to maliming

[2020-12-23 02:47] fmpfmp commented on #6388
+1

[2020-12-23 03:21] tkezyo commented on #6697
You can imitate the wpf template

[2020-12-23 03:22] #6745 closed, assigned to nobody

[2020-12-23 04:34] hitaspdotnet commented on #6715
1. Create a view component with whatever you want `<h4>Hello maliming</h4>`
2. Add the created component to Abp Layout Hook at LayoutHooks.Body.Last
[code]
3. Run the app and check the page source `<h4>Hello maliming</h4>` is right there at the end of body
4. open a modal and check page source again, the `<h4>Hello maliming</h4>` state is not `LayoutHooks.Body.Last`

What's not clear after 8 comme

[2020-12-23 05:35] maliming commented on #6768
![image](https://user-images.githubusercontent.com/6908465/102963284-a63b2d00-4523-11eb-84ee-09a51cf1d201.png)

[2020-12-23 05:44] #6768 closed, assigned to maliming

[2020-12-23 06:13] maliming commented on #6715
hi @hitaspdotnet

I understand what you mean. I just don't think this is a problem.

Can you share the code of your script? Why does it require the position of elements? Maybe you can change your script to solve the problem. : )

[2020-12-23 06:48] realLiangshiwei commented on #6707
Hi,

This is by design, I will try to fix the problem.

[2020-12-23 07:35] Mohadin opened #6775 "Create generic method in base repository for get Id and name of entity for any list"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2020-12-23 08:48] #6707 closed, assigned to realLiangshiwei

[2020-12-23 08:50] cotur opened #6776 "Set returnUrl for blazor account manage button"
We should set `returnUrl` parameter when user clicks `Manager Your Profile` button.

Just set `returnUrl` and open the account manage page with new window.

https://github.com/abpframework/abp/blob/20b0fdba46d1f7e326c91588fde63a66866fa2f3/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Manage.cshtml#L16

[2020-12-23 09:15] #6704 closed, assigned to maliming

[2020-12-23 09:34] numanrauf commented on #6382
Same happening in angular application, page is visible for a while and then redirects user to login page if he is unauthorize. Any suggestions please?

[2020-12-23 10:16] espindl commented on #6757
ABP Framework version : 4.0.0

- Create a multi tenant application (default) by using startup template ASP.NET Core MVC UI with Razor Pages.
- Set up email sending by using the settings on appsettings.json
- Start the app and click forgot password.
- User receives email that did not use localization. Containing the resource names like PasswordReset and PasswordResetInfoInEmail

[2020-12-23 10:59] hitaspdotnet commented on #6715
Its a 3rd party script and the reader end point is related tagged element.
My script is not problem, its a challenge for abp hooks system, where the `LayoutHooks.Body.Last` must be last of body. Your solution is to clear the problem instead of solving it.

[2020-12-23 11:45] #6654 closed, assigned to enisn

[2020-12-23 12:24] #6776 closed, assigned to realLiangshiwei

[2020-12-23 13:18] journey191 commented on #6721
Hi,@rcenamsi
How to resolve this problem?

[2020-12-23 14:01] journey191 commented on #6743
@Brahimhz Hi,what configuration did you add?

[2020-12-23 14:15] ebicoglu commented on #6715
https://faqs.skillcrush.com/article/176-where-should-js-script-tags-be-linked-in-html-documents

[2020-12-23 14:25] maliming commented on #6715
ok, I will update the bootstrap/modal-manager.js file.

[2020-12-23 14:30] journey191 opened #6785 "The required antiforgery cookie ".AspNetCore.Antiforgery.el0QpAqipuo" is not present"
* Your **ABP Framework version**.
* 3.3.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Vue

Err Log:
[code]

Request Headers:
![image](https://user-images.githubusercontent.com/11626700/103007432-62214a00-456e-11eb-8ade-01fed04c1fe2.png)

[2020-12-23 16:19] numanrauf commented on #6739
Same here, Migrated to 4.0, was using before custom Login page for authentication in angular, now I have upgraded and have no idea how to customize the new MVC page, kind support is appreciated thanks.

[2020-12-23 16:48] #2543 closed

[2020-12-23 23:17] DonVliet opened #6786 "Blazor Documentation: Incorrect Nuget package reference"
References the wrong Nuget package to remove at https://docs.abp.io/en/abp/4.1/UI/Blazor/Theming

"remove the **Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic** NuGet package and reference to the local project."

it should be:

"remove the **Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme** NuGet package and add a reference to the local project."

[2020-12-24 01:47] zaktecs opened #6787 "Ajax submission (ASP.NET Core MVC / Razor Pages UI JavaScript AJAX API)"
Hi,
I have been trying to submit my form using your ajax extension but I keep getting object undefined error message.
I was wondering if someone can please check my code here to see what I'm missing.

Many thanks

[code]

Many thanks
Zak

[2020-12-24 02:07] maliming commented on #6785
* Steps needed to **reproduce** the problem.

You can also check the `anti-request-forgery` document.

https://docs.abp.io/en/abp/latest/CSRF-Anti-Forgery
https://docs.microsoft.com/en-us/aspnet/core/security/anti-request-forgery?view=aspnetcore-5.0

[2020-12-24 02:12] maliming commented on #6787
Can you share the stack trace info? How to repro your problem?

[2020-12-24 02:23] #6786 closed, assigned to realLiangshiwei

[2020-12-24 04:00] hexianggui commented on #6081
ERROR:Volo.Abp.Validation.AbpValidationException: ModelState is not valid!  When I send "yyyy-MM-dd HH:mm:ss" date format

[2020-12-24 06:36] #6715 closed, assigned to maliming

[2020-12-24 06:37] Laff80 opened #6794 "Quartz integration got System.MissingMethodException: Method not found: 'Void Quartz.IPropertyConfigurer.SetProperty(System.String, System.String)"
Volo.Abp.AbpInitializationException: An error occurred during ConfigureServices phase of the module Volo.Abp.Quartz.AbpQuartzModule, Volo.Abp.Quartz, Version=4.0.2.0, Culture=neutral, PublicKeyToken=null. See the inner exception for details.
 ---> System.MissingMethodException: Method not found: 'Void Quartz.IPropertyConfigurer.SetProperty(System.String, System.String)'.
   at Quartz.TimeZonePlugi

[2020-12-24 06:47] realLiangshiwei commented on #6794
* Steps needed to **reproduce** the problem.

[2020-12-24 07:44] ThreeLambs opened #6796 "How to set access_token expires_in"
[code]
1  the expires_in is 31536000,1year? How to set expiration time
2  When I should refresh then token

[2020-12-24 07:54] ThreeLambs commented on #6796
I find
[code]

[2020-12-24 08:08] chaoyi996 commented on #6796
Maybe you can modify the database data.

[2020-12-24 08:20] jortygu opened #6799 "Virtual File System Explorer Support ManifestDirectoryInfo&ManifestFileInfo"
* Your **ABP Framework version**.
  v3.1.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
  MVC
* Your database provider(EF Core/MongoDB)
  EF Core
* Exception message and **stack trace** if available (check the logs).
  @realLiangshiwei ,can Virtual File System Explorer add  Support for ```Microsoft.Extensions.FileProviders.Embedded.Manifest.Ma

[2020-12-24 08:53] #6796 closed, assigned to nobody

[2020-12-24 08:53] davidzwa commented on #6739
Maybe a related bug-report:
https://support.abp.io/QA/Questions/711/Authentication-flow-redirects-not-working-as-expected-out-of-the-box

PR:
https://github.com/abpframework/abp/pull/6734

Do note that this bug was reported for the commercial modules. I cant be absolutely sure that it is also applicable here, but it does suggest to be so.

[2020-12-24 09:17] #6757 closed, assigned to realLiangshiwei

[2020-12-24 09:35] espindl commented on #6757
Thank you for your fast response. 🎉  I saw that they are added to the account module's resource files.  But I thought that if I write those resources to my own, those will be used. Maybe making the localization to look for the resource files all the level up. (I did not look at the code, maybe it is impossible but at first sight, I think a solution like this.)

**And also, is there a solution for

[2020-12-24 10:23] gdlcf88 commented on #4531
EasyAbp has released a new related module https://easyabp.io/modules/Abp.VerificationCode

[2020-12-24 10:56] armanozak opened #6802 "Angular UI: Add ThemeSharedTestingModule and secondary entry point for it"

[2020-12-24 10:59] armanozak opened #6803 "Angular UI: Add UiExtensionsTestingModule and secondary entry point for it"

[2020-12-24 13:20] muhammedaltug commented on #6733
PR: https://github.com/abpframework/abp/pull/6798

[2020-12-24 13:20] #6733 closed, assigned to muhammedaltug

[2020-12-24 13:26] muhammedaltug opened #6806 "Add filter ability to http wait service"
- HTTP requests should be filtered by HttpWaitService to not display the loading

[2020-12-24 14:57] #6767 closed, assigned to yekalkan

[2020-12-24 15:06] begandroide commented on #6739
Thank you @davidzwa I readed the bug-report on support page of ABP, i will see if is related issue.

I dont close the issue until i can resolve and provide some solution.

Regards!

[2020-12-24 15:17] mehmet-erim opened #6808 "[Angular] Create HttpErrorService to be able to hook the occurred HTTP errors"

[2020-12-24 16:52] begandroide commented on #6739
Just in my case (i has all custom modules in my app) just implement old behaviour on a custom AuthGuard like versions older than v.3.1.

Old behaviour is in this file:
 [https://github.com/abpframework/abp/blob/rel-3.0/npm/ng-packs/packages/core/src/lib/guards/auth.guard.ts](https://github.com/abpframework/abp/blob/rel-3.0/npm/ng-packs/packages/core/src/lib/guards/auth.guard.ts)

And works.

[2020-12-24 17:09] souselesslove opened #6811 "Audit log for Razor pages does not store to database"
### Abp Version
4.0.2
### database provider
EF Core
### exception
no exception, logs just show in console window
### other
1.use cli create an app: abp new Company --tiered --separate-identity-server
2.run **Company.DbMigrator**
3.run **Company.HttpApi.Host**, **Company.IdentityServer**, **Company.Web**
4.**Company.HttpApi.Host** audit log saved to database
5.**Company.IdentityServer** audit log s

[2020-12-24 22:12] alexandis opened #6812 "Can't get AbpValidationException extended info when the project published to Azure"
3.3.2 / Angular

When my project is published to _Azure_ - something is wrong with _CRUD_ operations: update and create don't work, returning error **400** and nothing more. There is no any additional information at client console, nothing in server log either. On localhost absolutely the same operations with the same input data work properly. If it is `AbpValidationException` - I would like to se

[2020-12-24 22:28] rygar08 commented on #6007
@Damon-cxl , I also came across this issue on abp version 4. Abp version 3.2.1 works fine. Unfortunately I had to roll my application back to abp 3.2.1 which is a concern because the abp framework community does not appear to have any priority for graphql integration. I wish they would.

[2020-12-25 01:15] maliming commented on #6757
hi @espindl

See https://docs.abp.io/en/abp/latest/Localization#extending-existing-resource

[2020-12-25 01:18] #5927 closed, assigned to nobody

[2020-12-25 01:25] maliming commented on #6811
* Your **ABP Framework version**.
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-12-25 01:39] ThreeLambs opened #6813 "Token and Refresh_Token Expire Time"
[code]
I Set the token expire time is 5 minutes.
But, actually  the token expire time is 10 minutes , refresh_token expire time is 5 minutes. Is that right？

[2020-12-25 02:43] souselesslove commented on #6811
[detail](https://github.com/abpframework/abp/issues/6811#issue-774515820)

[2020-12-25 07:43] realLiangshiwei commented on #6799
Hi,

Virtual File System Explorer only applies to virtual file systems and you can add embedded files to the virtual file system.

[2020-12-25 08:43] jortygu commented on #6799
@realLiangshiwei i know,i follow below configuration([Use GenerateEmbeddedFilesManifest option for the projects with embedded files](https://github.com/abpframework/abp/issues/4541)), then i can't see embedded files in Virtual File System Explorer.
by debug,i found the Embedded files's FileIntoType is ```Microsoft.Extensions.FileProviders.Embedded.Manifest.ManifestDirectoryInfo``` and ```Microsoft

[2020-12-25 08:58] ThreeLambs opened #6817 "TimeZone"
``After setting the time zone, the datatables language translation don't work``
[code]
![Snipaste_2020-12-25_16-52-06](https://user-images.githubusercontent.com/23123048/103128830-bbee5500-46d1-11eb-8a9f-e4164165ebdf.png)
![Snipaste_2020-12-25_16-52-30](https://user-images.githubusercontent.com/23123048/103128840-bee94580-46d1-11eb-9953-d52d88a638c9.png)

I set timezone from utc to UTC8 or Local ,

[2020-12-25 10:16] gerryge opened #6819 "DbMigrator running occurred warning in 4.1.0-rc.2"
Abp version 4.1.0-rc.2
User Interface: MVC
Database provider: EF Core

How to reproduce:
1. Run cmd "abp new Acme.BookStore --preview"
2. Run Acme.BookStore.DbMigrator and warning occurred

I changed the MultipleActiveResultSets in Default connection from true to false, then the warning disappeared.
 "Default": "Server=(LocalDb)\\MSSQLLocalDB;Database=BookStore;Trusted_Connection=True;MultipleActi

[2020-12-25 11:26] aelhadi opened #6820 "DbMigrator Error tenant is null (v4.1.0-rc.2 preview)"
Hello,

DbMigrator seed data failed with error.

tenant object reference is null

![image](https://user-images.githubusercontent.com/5918026/103133652-d8779680-46ab-11eb-9f19-398e879dd63e.png)

no probleme with stable version

Any suggestion ?

[2020-12-25 11:56] aelhadi commented on #6820
dataSeeder.SeedAsync(tenant?.Id);

[2020-12-25 11:56] #6820 closed, assigned to nobody

[2020-12-25 15:16] armanozak opened #6823 "Angular UI: Improve Core module testing"

[2020-12-25 15:36] #6802 closed, assigned to armanozak

[2020-12-25 16:00] #5501 closed, assigned to nobody

[2020-12-25 18:40] hikalkan opened #6828 "Async application initialization methods on the abpmodule class"
I had closed this before: https://github.com/abpframework/abp/issues/5382
I am opening again and adding to backlog for next major versions.

Also, see https://github.com/maliming/AbpAsyncApplicationLifecycle

[2020-12-26 10:42] Laff80 commented on #6794
I integrate according to the official documentation
**1、** Add the Volo.Abp.BackgroundWorkers.Quartz NuGet package to the .Application project.
**2、** Add the AbpBackgroundWorkersQuartzModule ：
   `[DependsOn(
        typeof(BackgroundDemoDomainModule),
        typeof(AbpAccountApplicationModule),
        typeof(BackgroundDemoApplicationContractsModule),
        typeof(AbpIdentityApplicationModule

[2020-12-26 11:30] aelhadi opened #6829 "Blazor UI not loading blazor.webassembly.js"
Abp version 4.1.0rc-2

![image](https://user-images.githubusercontent.com/5918026/103150606-0c1ef300-4776-11eb-9b2f-f0807833d094.png)

[2020-12-26 12:01] espindl commented on #6757
Hi @maliming thank you.
Because documentation is not that detailed I wanted to share my steps to extend Account module's resources.

1. Add "Volo.Abp.Account.Application.Contracts" nuget package to your project that contains your resources (eg Domain.Shared)
2. Add a DependsOn over the module > `typeof(AbpAccountApplicationContractsModule)`
3. Add this line to ConfigureServices > `Configure<AbpLoc

[2020-12-26 14:50] hitaspdotnet opened #6830 "Template type include optional Admin's area as ABP application modules"

[2020-12-26 18:08] #6829 closed, assigned to nobody

[2020-12-26 21:16] dicksonkimeu commented on #1082
@maliming this sample code creates a new user. How about if the user already exists? How can one use it ?..

[2020-12-26 21:24] dicksonkimeu opened #6831 "Document Printing"
@maliming @hikalkan does abp framework have any sample code to generate reports and what's the recommended way on how to generate documents to print ? I.e Invoice and secondly standard reports I.e list of employees etc ?.

[2020-12-27 00:13] philiplai commented on #6109
I downloaded the latest package and following the tutorial part 2 and had same problem as @pekeramazan.   Any ideas?

[2020-12-27 00:17] philiplai commented on #6109
I downloaded the latest package and following the tutorial part 2 and had same problem as @pekeramazan. Any ideas?

[2020-12-27 04:24] realLiangshiwei commented on #6831
It has nothing to do with ABP,  You can use any library that supports net core. like: https://code-maze.com/create-pdf-dotnetcore/

[2020-12-27 04:24] #6831 closed, assigned to nobody

[2020-12-27 07:08] maliming commented on #6794
Duplicate of #6542

[2020-12-27 07:08] #6794 closed, assigned to nobody

[2020-12-27 08:47] EugeniZaplatin opened #6832 "Error on add new module to solution"
C:\projects\00_Zefslab\MyExchange.Framework\TradingStrategies>abp add-module LowRiskStrategy --new  -v 4.0.2
[15:35:10 INF] ABP CLI (https://abp.io)
[15:35:10 INF] Version 4.0.2 (Stable)
[15:35:11 INF] Installing module 'LowRiskStrategy' to the solution 'MyExchange.TradingStrategies'
[15:35:11 INF] Creating your project...
[15:35:11 INF] Project name: LowRiskStrategy
[15:35:11 INF] Template: modul

[2020-12-27 11:00] #5881 closed, assigned to nobody

[2020-12-27 12:44] hikalkan commented on #6832
Currently, there is a problem with the server. We are working on. Thanks for reporting.

[2020-12-27 13:00] #5721 closed, assigned to nobody

[2020-12-27 14:00] #5886 closed, assigned to nobody

[2020-12-27 14:16] vnetonline commented on #6832
Yup getting the following again

![image](https://user-images.githubusercontent.com/15242923/103172821-5f925d80-48aa-11eb-9722-83f742adac57.png)

[2020-12-27 15:45] niufwshd opened #6833 "microservicedemo public web site login failed"
- abp version 4 .net core sdk 5.0 ,windows 10
- issue authserver.host stack info:
[23:18:03 INF] Now listening on: https://localhost:44399
[23:18:03 INF] Application started. Press Ctrl+C to shut down.
[23:18:03 INF] Hosting environment: Development
[23:18:03 INF] Content root path: D:\code\abp-sample\abp-samples\MicroserviceDemo\applications\AuthServer.Host
[23:24:03 INF] Request starting HTTP/1.

[2020-12-27 17:02] hikalkan commented on #6832
Should be fixed now. Thanks and sorry.

[2020-12-27 17:34] #6832 closed, assigned to nobody

[2020-12-27 17:47] hikalkan opened #6834 "Navigation extension property table header should be localized"
Prop definition:

[code]

Localization:

[code]

Create/Edit modal:

![image](https://user-images.githubusercontent.com/1210527/103176657-9fdee500-4884-11eb-8bc1-c6f0ea2084de.png)

Properly localized.

UI Table:

![image](https://user-images.githubusercontent.com/1210527/103176653-95bce680-4884-11eb-8f36-0cd9fa97f79b.png)

Not localized. It should be localized with the same rules.

[2020-12-27 18:37] hikalkan commented on #6308
done: https://docs.abp.io/en/abp/4.1/Module-Entity-Extensions#navigation-properties-foreign-keys

[2020-12-27 18:37] #6308 closed, assigned to hikalkan

[2020-12-27 18:51] davidzwa opened #6836 "Angular - abpPermission wildcard .* for any permission in group"
- Volo.Abp `4.0.2`
- Angular 11 - @abp/ng.core `4.0.2`
- Maybe we can find a better way like `.*` wildcards for `*abpPermission=""`.
- Semi-working alternative: Use `||` in permission (F.e. `*abpPermission="Base.Create || Base.Edit || Base.Update"`)

[code]

As you can see these permissions OR's can grow out of hand, whereas wildcard `.*` reduces the complexity. Also, it's advised to use 2 permiss

[2020-12-27 23:53] DonVliet opened #6837 "Blazor: clicking on Brand opens Swagger page"
* Your **ABP Framework version - **4.1.0-rc.2**
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI - **Blazor**
* Your database provider(EF Core/MongoDB) - **EF Core**
* Steps needed to **reproduce** the problem:
1. Create new solution:
- UI Framework: Blazor
- Separate Identity Server: No
- Use latest pre-release version (4.1.0-rc.2): Yes

2. Run D

[2020-12-28 00:15] DonVliet opened #6838 "Blazor: "Home" and "Administration" menu items disappear"
Your **ABP Framework version - 4.1.0-rc.2
Your User Interface type (Angular/MVC/React... etc.) if the issue is related to a specific UI - Blazor
Your database provider(EF Core/MongoDB) - EF Core
Steps needed to reproduce the problem:
1. Create new solution:
- UI Framework: Blazor
- Separate Identity Server: No
- Use latest pre-release version (4.1.0-rc.2): Yes

2. Run DbMigrator package to create

[2020-12-28 01:27] maliming commented on #6833
Abp 4.0 has some breaking change, and we have planned to update the microservice sample.

[2020-12-28 01:27] #6833 closed, assigned to nobody

[2020-12-28 01:36] realLiangshiwei commented on #6837
See https://github.com/abpframework/abp/issues/6707

[2020-12-28 01:36] #6837 closed, assigned to nobody

[2020-12-28 01:36] realLiangshiwei commented on #6838
See https://github.com/abpframework/abp/issues/6707#issuecomment-748901676

[2020-12-28 01:36] #6838 closed, assigned to nobody

[2020-12-28 01:55] philiplai commented on #6527
I can still duplicate this issue, @maliming .  I used mvc mongodb options, not tiered.  Is there a plan to fix this issue?  You can not do anything with this issue there.

[2020-12-28 01:57] realLiangshiwei commented on #6817
It looks like you're using a third-party theme, It has nothing to do with ABP.

[2020-12-28 02:22] rcenamsi commented on #6698
@realLiangshiwei where to change the basic theme source code for AngularUI? there is no document for it.

[2020-12-28 02:33] realLiangshiwei commented on #6698
Someone has already done this: https://github.com/yinchang0626/abp.ng

[2020-12-28 02:35] rcenamsi commented on #6698
@realLiangshiwei , Thank you. I will look into it.

[2020-12-28 02:51] Loongle commented on #86
Is there any update? 😊

[2020-12-28 03:05] #5482 closed, assigned to nobody

[2020-12-28 03:57] ThreeLambs commented on #6817
it still not work
 can't get  <script src="/Abp/ApplicationConfigurationScript"></script>

![Snipaste_2020-12-28_11-43-08](https://user-images.githubusercontent.com/23123048/103188443-64cfc680-4903-11eb-87c8-c548a3606b21.png)

![Snipaste_2020-12-28_11-48-59](https://user-images.githubusercontent.com/23123048/103188447-68fbe400-4903-11eb-949f-b286692595b0.png)
[code]

Id | Name | Value | ProviderNa

[2020-12-28 05:16] niufwshd commented on #6833
@maliming I have resolved the problem by add code to the AuthServerDataSeeder.cs
to forbid PKCE and seed  apiscopes data.
the new file is :
`using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
using Volo.Abp.Authorization.Permissions;
using Volo.Abp.Data;
using Volo.Abp.DependencyInjection;
using Volo.Abp.Guids;
using Volo.Abp.Identity;
using Volo.Abp.IdentityServer.

[2020-12-28 05:20] realLiangshiwei commented on #6817
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-12-28 05:25] ThreeLambs commented on #6817
v4.0.2 Mvc
1. create a mvc demo
2. change timezone
[code]

[2020-12-28 05:49] realLiangshiwei commented on #6817
UTC8 is an invalid windows timezone ID. see https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/default-time-zones

[2020-12-28 05:49] #6817 closed, assigned to nobody

[2020-12-28 08:05] #6799 closed, assigned to realLiangshiwei

[2020-12-28 08:14] ilkayilknur opened #6842 "CMS Kit - Complete Unit Tests For The Content and Tag System"
We need to complete unit tests for the content and tag system.

[2020-12-28 08:18] ilkayilknur opened #6843 "CMS Kit-Remove Static Tag Definition From TagViewComponent"
We can remove the `Tags` property and the underlying logic from the `TagViewComponent`.

[2020-12-28 08:20] ilkayilknur opened #6844 "CMS Kit - Update Tag Query For EF Core"
We need to update the tag query as we did on MongoDB Side.

[2020-12-28 08:22] ilkayilknur opened #6845 "CMS Kit-Add DBMigrator Project"
We can add the `DbMigrator` project to the solution so that devs can run the `DbMigrator` project to generator tables or collections.

[2020-12-28 08:23] ilkayilknur opened #6846 "CMS Kit - Add Content Options to the Content System"
We need to add content options to the content system to support multiple content types in the future.

[2020-12-28 08:24] ilkayilknur opened #6847 "CMS Kit - Page System Implementation"

[2020-12-28 08:27] ilkayilknur opened #6848 "CMS Kit - Blog System Design"

[2020-12-28 08:31] ilkayilknur opened #6849 "CMS Kit - Dependent Feature Implementation"
In the current design, we enable the features individually.
For example,
Page system depends on the content system. When a developer enables the page system, we need to enable the content system as well.

[2020-12-28 09:32] maliming commented on #6813
This has nothing to do with abp.

[2020-12-28 09:32] #6813 closed, assigned to nobody

[2020-12-28 09:50] #5844 closed, assigned to nobody

[2020-12-28 12:40] #5888 closed, assigned to nobody

[2020-12-28 13:44] cotur commented on #6842
Content, tag repositories tests and tag manager test are created.

[2020-12-28 13:44] #6842 closed, assigned to cotur

[2020-12-28 13:46] ilkayilknur commented on #6842
How are we going to review the unit tests without a PR?

[2020-12-28 13:51] cotur commented on #6842
You can follow this [PR,](https://github.com/abpframework/abp/pull/6756) it's still `draft` and under development.

[2020-12-28 14:34] #6844 closed, assigned to enisn

[2020-12-28 14:34] ilkayilknur commented on #6834
This is the fix for the issue. https://github.com/abpframework/abp/issues/6834 This change could break the Angular side, or the issue may exist on the Angular side as well. I will talk to @armanozak tomorrow.

[2020-12-28 14:34] #6843 closed, assigned to enisn

[2020-12-28 15:43] leonkosak opened #6860 "Blazorise.xxx 0.93-preview2 missing NuGet packages"
Where are those packages? There are only v0.9.2.4?
@stsrki, @hikalkan?

[2020-12-28 15:55] stsrki commented on #6860
@leonkosak They are on [MyGet](https://www.myget.org/gallery/blazorise). Since Blazorise and ABP Blazor are actively in work and previews are released faster, this was the best option. Otherwise, new features in Blazorise would take too long until the new version is released.

Once all the major features are stabilized we will use only the official Blazorise packages.

[2020-12-28 16:06] leonkosak commented on #6860
Thank you.

[2020-12-28 16:06] #6860 closed, assigned to nobody

[2020-12-28 20:04] #5907 closed, assigned to nobody

[2020-12-29 01:10] realLiangshiwei commented on #636
The document is complete: https://github.com/abpframework/abp/commit/d1a290848c69f8c4b261e495250c38e6ef9e95d9

[2020-12-29 01:10] #636 closed

[2020-12-29 01:13] realLiangshiwei opened #6862 "Tenant Management documentation"
https://docs.abp.io/en/abp/latest/Modules/Tenant-Management

[2020-12-29 06:10] armanozak opened #6865 "Testing modal, "New" button, and Actions dropdown has problems"

[2020-12-29 06:36] maliming commented on #6811
Yes,  `Company.Web` is just a UI project. There is no business and database code.

https://docs.abp.io/en/abp/latest/Startup-Templates/Application#web-project-1

[2020-12-29 06:36] #6811 closed, assigned to nobody

[2020-12-29 06:40] #5954 closed, assigned to nobody

[2020-12-29 08:40] ilkayilknur opened #6870 "CMS Kit - Organize Content,Page Services"
We should use public/Admin projects for related features instead of adding them to the common project.

We should also add unit tests for missing services.

[2020-12-29 09:06] #6761 closed, assigned to nobody

[2020-12-29 09:09] zaozaoniao commented on #6761
管理员都不站出来 回复一下吗？

[2020-12-29 09:12] maliming commented on #6761
This is by design, you can customize it according to your needs.

[2020-12-29 09:27] zwbdzb commented on #6761
The design is unreasonable， The Offical doc says the  abp **capture   the all exception**,
but can  not  capture the  most common exception。

The Abp request must meet the any  of the three requirements。

[2020-12-29 10:46] #5992 closed, assigned to nobody

[2020-12-29 11:23] mehmet-erim opened #6874 "Page Alerts for Angular UI"
The page alerts feature will be developed for the Angular UI. The final UI will look like below when the feature is used:

![image](https://user-images.githubusercontent.com/34455572/103280340-388a7780-49e1-11eb-8d3f-184da0947d6a.png)

[2020-12-29 12:00] maliming commented on #6761
![image](https://user-images.githubusercontent.com/6908465/103282349-7226a700-4a10-11eb-9b68-23c6be1fa4b7.png)

Like I said **you can customize it according to your needs.**

[2020-12-29 12:13] alexandis commented on #6812
It was because of AntiForgery token. According to other tickets here, we need to have a relative path to our API in front-end configuration. We had an absolute one. So despite the fact the host name was the same everywhere - the inner ABP code, checking URL and finding 'https:' at the URL start, considered it as an another domain. And AntiForgery token was not added to headers.

[2020-12-29 12:13] #6812 closed, assigned to nobody

[2020-12-29 14:00] real-zony commented on #6819
Hi @GerryGe, This warning was introduced in EF Core 5.0.1.(abp 4.1.x) For details, please refer to

- https://github.com/dotnet/efcore/releases/tag/v5.0.1
- https://github.com/dotnet/efcore/pull/23305/files#diff-8b3dd7645d9d7ac7e65062c2db7948e3553cb149750e5b76ff6e338ffa359e2d

[2020-12-29 14:02] #6849 closed, assigned to nobody

[2020-12-29 14:22] pvaz opened #6878 "Create an article showing how to make a default webpage (client page) with login link."
Create an article shoing how to make a default webpage that will be with any html content (public website), with login link, and after login will go to abp framework system pages with menus and all.

[2020-12-29 17:59] slm-w opened #6879 "Exception details in ABP framework"
I wanna return the details of exception for users,for example a user can't delete a given parent row if a child row exists,i changed the parameter in database cascade to restrict but i get a a pop up without the type of  exception how can i generate the details of exceptions for users.
Thank You

[2020-12-29 18:03] ChEhrhard opened #6880 "Getting Started for Blazor Server ( not WASM )"
Hi

I try to use your framework with a Blazor Server Template. I followed the "Getting Started for Empty Web Project" Documentation but my code fails when i add  .UseAutoFac().

i have the followinf error :

![image](https://user-images.githubusercontent.com/8005999/103304220-55867100-4a08-11eb-88df-218f6fee64ca.png)

what am i doing wrong ?

thanks

[2020-12-29 18:10] davidzwa commented on #6836
To clarify:

Can we have the following mechanism for using *abpPermission wildcard structure:
`*abpPermission="Group.Subgroup.*"`

instead of (supposedly limited to two, but seems to work just fine):
`*abpPermission="Group.Subgroup || Group.Subgroup.Create || Group.Subgroup.Update || Group.Subgroup.Delete"`

[2020-12-29 18:37] MAlshehri commented on #6487
If you want to support input.Filter for example

[2020-12-29 22:07] cristiandmonda commented on #6879
You can create a custom exception, there's an example in the [tutorial](https://docs.abp.io/en/abp/latest/Tutorials/Part-6?UI=MVC&DB=EF) and more information in the exception handling section of the [documentation](https://docs.abp.io/en/abp/latest/Exception-Handling)

[2020-12-29 23:22] DonVliet opened #6881 "Blazor: Language not persisted between pages"
Your **ABP Framework version - 4.1.0-rc.2 - Blazor - EF Core
Steps needed to reproduce the problem:
1. Create new solution:
- UI Framework: Blazor
- Separate Identity Server: No
- Use latest pre-release version (4.1.0-rc.2): Yes
- Run DbMigrator package to create database and initial seed data

2. Run Host and Blazor projects

3. Change Language to French

4. Select Login from the menu and the Log

[2020-12-30 00:41] slm-w commented on #6879
@cristiandmonda  thanks for your feedback,i have already used abp exception, I use this function to generate exception message if the user want delete a foreign key already in use but it doesn't work,i got just a error message without details
        [Authorize(SocietePermissions.Villes.Delete)]
        public async Task DeleteAsync(Guid id)
        {
          try
            {
                aw

[2020-12-30 00:48] 274188A commented on #6880
'Server Side Blazor' is not supported at the moment - only WASM

[2020-12-30 01:20] ThreeLambs opened #6882 "connection is closed."
[code]
[code]
I create a project to manage organizationUnit
 [Project: GitHub - ThreeLambs/Identity](https://github.com/ThreeLambs/abpIdenttiy)

1.
![Snipaste_2020-12-30_09-14-46](https://user-images.githubusercontent.com/23123048/103323841-a1283180-4a7f-11eb-927d-041497a09c05.png)
2.
![Snipaste_2020-12-30_09-15-00](https://user-images.githubusercontent.com/23123048/103323844-a2595e80-4a7f-11eb-84

[2020-12-30 01:21] maliming commented on #6819
@GameBelial Should we remove `MultipleActiveResultSets=true` in `ConnectionStrings`?

[2020-12-30 01:29] maliming commented on #6881
Because there are two independent websites, blazor and host.

[2020-12-30 01:49] keithtoop opened #6883 "EF5 breaks the minimum compatibility of .netStandard 2.0"
Can we consider not upgrade to EF5 as it only supports .netStandard 2.1?
This is the trouble making package that force everything to be .netStandard 2.1, making traditional framework apps lost the upgrade to latest instantly.

I can't see any needs to upgrade EF5 in current Abp implementation. So can we please stay in EF3.1.10?

[2020-12-30 01:53] real-zony commented on #6819
@maliming This problem is caused by the introduction of the SavePoint feature in EF Core 5.0.1, which is the default behavior in EF Core 5.0.1. I think in our default template, `MultipleActiveResultSets=true` should be removed (for SQL Server).
If you need to disable the SavePoint feature, you can refer to this Issue (https://github.com/dotnet/efcore/issues/23269).

[2020-12-30 01:56] maliming commented on #6883
Yes. https://docs.microsoft.com/en-us/ef/core/miscellaneous/platforms

We have upgraded to NET 5.

[2020-12-30 03:16] realLiangshiwei commented on #6553
The id type **should be GUID**. I think it has nothing to do with ABP.

![image](https://user-images.githubusercontent.com/16813853/103327636-52cf5e80-4a90-11eb-938c-f43f627fa222.png)

[2020-12-30 03:16] #6553 closed, assigned to nobody

[2020-12-30 05:36] davidzwa commented on #6836
@enisn please let me know if this is clearer. Thx for the feedback.

[2020-12-30 05:50] realLiangshiwei opened #6884 "ContainerName should be nullable"
https://docs.abp.io/en/abp/latest/Blob-Storing-Azure#options

https://github.com/abpframework/abp/blob/f42193231db8357fbec249ba4be05cdf0fb387ae/framework/src/Volo.Abp.BlobStoring/Volo/Abp/BlobStoring/BlobContainerConfigurationExtensions.cs#L21

[2020-12-30 06:18] real-zony commented on #6750
Hi @CAH-FlyChen ,You can implement `AbpDynamicOptionsManager<IdentityOptions>` by yourself and replace the default implementation. Here is an example.
`appsettings.json`:
[code]
**`FromAppSettingsManager`**
[code]
**`YourModule`**
[code]
Snapshot:
![image](https://user-images.githubusercontent.com/3907132/103333751-e6f9ef80-4aa9-11eb-85f0-0b5a5cd25029.png)

[2020-12-30 06:27] xyfy commented on #6750
it works for me in **abp v3.3.1** , in the root of **appsettings.json**

[code]

[2020-12-30 06:45] #6884 closed, assigned to realLiangshiwei

[2020-12-30 07:30] ChEhrhard commented on #6880
thanks for the clarification.

is Server Side Blazor support on your roadmap ? any timing ? is there any workaround for the problem i'm facing to ?

[2020-12-30 07:38] realLiangshiwei opened #6887 "ContainerName should conform to naming rules"
https://docs.abp.io/en/abp/latest/Blob-Storing-Minio#options

![image](https://user-images.githubusercontent.com/16813853/103337094-1cf0a100-4ab5-11eb-860d-b62573e6d0c3.png)

![image](https://user-images.githubusercontent.com/16813853/103337042-f29ee380-4ab4-11eb-8d90-139a1f07fa8a.png)

[2020-12-30 08:29] cotur commented on #6847
- [x] Permissions
- [x] GlobalFeature
- [x] Make description admin only
- [x] Add Image

[2020-12-30 08:54] armanozak opened #6888 "Karma tests do not clear DOM after each test"

[2020-12-30 08:55] armanozak opened #6889 "ABP modal does not open/close in tests"

[2020-12-30 09:05] #6865 closed, assigned to armanozak

[2020-12-30 09:05] #6803 closed, assigned to armanozak

[2020-12-30 09:05] #6823 closed, assigned to armanozak

[2020-12-30 09:06] #6888 closed, assigned to armanozak

[2020-12-30 09:07] #6889 closed, assigned to armanozak

[2020-12-30 09:43] cenbiq opened #6894 "Custom dynamic proxy does not work."
Env:
* ABP Framework version is 4.0.2(I tried multiple versions, 3.0.0+)
* Project is Web Api(auto api controller) & Ef Core

Question:
I customized a dynamic proxy interceptor(Inherited from 'AbpInterceptor'), which is completely referenced from 'Volo.Abp.Uow.UnitOfWorkInterceptor'.
I use it in the 'Application Service'. If the API is called in the controller, it will work, but the 'Auto API Cont

[2020-12-30 09:47] xyfy opened #6895 "remove role did not remove permissions"
I use the module **identity**

when I rename a role ,it send a event ,the  **Volo.Abp.PermissionManagement.Domain.Identity**  will handle it to change the permission provider key

but if I remove a role ,it did not remove the  permissions of the role.

if I add a role ,then renamed the role to old one name,   it will get the **old role name**'s permission

[2020-12-30 10:02] #6870 closed, assigned to cotur

[2020-12-30 10:09] juchunwei opened #6896 "OrganizationUnit in entity"
Hello, just found an issue for use the OrganizationUnit in entity.
for any entity, if I add these properties,
 public Guid? OrganizationUnitId { get; set; }
 public OrganizationUnit OrganizationUnit { get; set; }

I'll get this error message,  what's the correct way to use OrganizatoinUnit?

[code]

 I tried 4.0.2 and 4.1.0-rc2, MVC, EF Core。

Thanks!

[2020-12-30 11:18] ilkayilknur opened #6898 "CMS Kit - Check and Organize CancellationToken Usages"
We need to check and organize cancellation token usages and make sure that all methods use the cancellation token coming from the request.

[2020-12-30 11:47] leonkosak opened #6900 "Swashbuckle error"
abp v4.0.2
Tiered
Blazor UI

This error apperas only in production (Docker):

[code]

[2020-12-30 11:54] rygar08 commented on #5095
some documentation would be helpful

[2020-12-30 12:19] leonkosak opened #6902 "Blazor project - deploy to docker"
abp v4.0.2, Tiered, Blazor UI

Dockerfile:

[code]

Error when deployed to docker:

[code]

With this provided Dockerfile, image is successfully built (and deployed to registry).
Does anyone have solution for this particular issue?
Thank you.

[2020-12-30 12:55] maliming commented on #6894
hi

* Steps needed to **reproduce** the problem.

[2020-12-30 12:57] maliming commented on #6896
Can you share some code to reproduce the problem?

[2020-12-30 13:07] juchunwei commented on #6896
For example,

I added these 2 lines in the AppUser entity or any entity I did,  I just did one entity and one page, very simple, the error occurs when I open the page, but the Roles and Users pages no problem. but it works if I comment the public OrganizationUnit OrganizationUnit { get; set; } line.

and the error occurs when I run the add-migration in the EntityFrameworkCore project.

 public Gui

[2020-12-30 13:07] maliming commented on #6902
hi @leonkosak
This has nothing to do with abp.

As I can understand the Blazor is a website, not a net core application.

![image](https://user-images.githubusercontent.com/6908465/103353143-fa757c80-4ae2-11eb-944d-abf6b7d6acf2.png)

[2020-12-30 13:35] armanozak opened #6904 "Localization of navigation extension property should be based on original property"
Related to #6834

[2020-12-30 13:41] send2vinnie opened #6906 "The EF Core Repositories found in the Blogging Module are not registered"
By checking the EF Core module class found in the Blogging Module, those custom repositories reside in the same project are not registered to replace the generic repositories. The registration of those custom repositories should go here: [BloggingEntityFrameworkCoreModule](https://github.com/abpframework/abp/blob/dev/modules/blogging/src/Volo.Blogging.EntityFrameworkCore/Volo/Blogging/EntityFramew

[2020-12-30 13:54] realLiangshiwei commented on #6906
Thanks @send2vinnie

[2020-12-30 14:09] realLiangshiwei commented on #6900
**Invalid URI: The format of the URI could not be determined.**

Seems related to your configuration

[2020-12-30 15:07] DonVliet commented on #6881
@maliming Thank for quick reply. This will be a big problem as users will expect language to be same and not to have to use 2 different websites. The MVC version doesn't have this, and the angular version doesn't have this (commercial demo is 1 website and language is same after logging in). Is it going to change? Can I make 1 website? Thank you for your answer.

[2020-12-30 15:57] amsaighi opened #6908 "ABP Suite modules problems"
Hello everyone,

I would like to know what the problem with **Abp Suite** it's loading since few days, No error message, nothing
![image](https://user-images.githubusercontent.com/3142753/103365240-e9674400-4abf-11eb-809a-c3420139fe44.png)

Thank you

[2020-12-30 16:21] leonkosak commented on #6900
It's true! :)

[2020-12-30 16:21] #6900 closed, assigned to nobody

[2020-12-30 23:28] alexandis opened #6910 "Hangfire server hosted in IIS stopped because of some ABP activity"
3.3.2 / Angular

Suddenly I have noticed in Hangfire dashboard, that there is no active servers. I took a look at log file and here is what I can see there:

What is supposed to mean and how to avoid this? I don't want Hangfire server to stop his work while IIS is running. Or if it is stopped I want it to restart...

[2020-12-31 01:07] ThreeLambs commented on #6896
You can refer to my OrganizationUnit  demo, although there are still some bugs.
 https://github.com/abpframework/abp/issues/6882#issue-776154355

[2020-12-31 01:10] maliming commented on #6910
Your application is shutting down...

[2020-12-31 01:12] maliming commented on #6896
@juchunwei Can you share a demo project?

[2020-12-31 01:16] maliming commented on #6908
hi @amSaighi

Can you check the browser's console? or cmd logs?

[2020-12-31 02:04] juchunwei commented on #6896
Hi mailming, here's the link for the demo. it works  if you comment the line public OrganizationUnit OrganizationUnit { get; set; } in AppUser

https://www.dropbox.com/s/yt3qczkhjg94mhw/Exam4.0.2.zip?dl=0

[2020-12-31 02:16] maliming commented on #6896
The problem cannot be reproduced.

[2020-12-31 02:21] juchunwei commented on #6896
that's wired. I got the same issue just now.

[2020-12-31 03:09] juchunwei commented on #6896
Have you tried to open the link on the menu? the Questions menu.

[2020-12-31 03:24] realLiangshiwei commented on #6895
Hi,

Thanks for your reporting. this is a problem, we will fix it.

![image](https://user-images.githubusercontent.com/16813853/103401719-fe59db00-4b84-11eb-9de1-80ce691df938.png)

[2020-12-31 04:21] maliming commented on #6881
For Blazor we need wait https://github.com/dotnet/aspnetcore/issues/20813

[2020-12-31 04:57] rygar08 opened #6911 "Add UserID foreignkey to domain entity (EF) and seed appuser"
### How to create a foreign key relationship to the AppUser / IdentityUser?
I need the Account entity below to have a reference to the user that will be managing the account.

    public class Account : Entity<int> {
            public string Name { get; set; }
            // removed for brevity
            public Guid ManagerId { get; set; }
    }

### How to seed the user (appUser/IdentityUser)

[2020-12-31 05:12] realLiangshiwei commented on #6911
See https://github.com/abpframework/abp-samples/tree/master/DocumentationSamples/CustomApplicationModules

[2020-12-31 06:40] cenbiq commented on #6894
* Create a HttpApi project (version:3.0.0+ or 4.0.0+).
* Write an interceptor(inherit AbpInterceptor) and register it(target is IApplicationService).
* Write an application service and use the automatic API controllers.
* The request API(Auto API Controllers) will find that interceptors are constructed but interceptasync is not called.

[2020-12-31 06:56] #6806 closed, assigned to muhammedaltug

[2020-12-31 07:04] maliming commented on #6894
Can you share some code?

[2020-12-31 07:22] cenbiq commented on #6894
OK.

Interceptor codes:
[code]

Registrar codes:
[code]

Module codes:
[code]

ApplicationService codes:
[code]

[2020-12-31 07:27] maliming commented on #6894
Try to make the method **virtual**.
`public virtual async Task<StudentDto> GetAsync(Guid id)`

[2020-12-31 07:40] maxrizwork commented on #6489
No news?

Thanks

[2020-12-31 07:50] maliming commented on #6489
**Steps needed to reproduce the problem.**

[2020-12-31 08:19] alexandis commented on #6910
Sorry. I thought it was somehow related. I can't see why application was shut down and why it did not restore - nothing about it in the log. Also not clear why it did not run again considering website containing all the apps is online.

[2020-12-31 08:20] sevenNightL commented on #3462
fixed this problem at now?

[2020-12-31 08:21] alexandis commented on #6910
Sorry. I thought these two things were somewhat related. I can't see why application was shut down and why it did not restore - nothing about it in the log. Also not clear why it did not run again considering website containing all the apps is online. But so I need to close this, since not related directly to ABP.

[2020-12-31 08:21] #6910 closed, assigned to nobody

[2020-12-31 08:37] maliming commented on #3462
@sevenNightL
See https://github.com/abpframework/abp/issues/6702

[2020-12-31 08:48] cenbiq commented on #6894
I tried this, you are right.
But my code work in **HttpApi Controller** (no virtual).

The following code makes the interceptor work:
[code]

And, I find that 'Volo.Abp.Uow.UnitOfWorkInterceptor' doesn't need virtual methods. Why?
I saw the source code of 'Volo.Abp.Uow.UnitOfWorkInterceptor', I don't know what makes the difference.

[2020-12-31 08:53] maliming commented on #6894
This is because the service is called in different ways, one is `IStudentAppService(StudentController)` and the other is `StudentAppService`.

[2020-12-31 08:53] #6894 closed, assigned to nobody

[2020-12-31 08:56] RayMMond opened #6922 "Bug in Volo.Abp.Cli command line argument"
According to  abp's command line help text:
https://github.com/abpframework/abp/blob/9a78e91a00d18c0b964c96e200cadf2af17c570d/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/AddModuleCommand.cs#L84

You should use `--new-template` to create new module template, but
https://github.com/abpframework/abp/blob/9a78e91a00d18c0b964c96e200cadf2af17c570d/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/C

[2020-12-31 08:59] #6904 closed, assigned to armanozak

[2020-12-31 09:00] maliming commented on #6922
hi
The help info is out of date, I will update it.

`--new` is the correct one.

[2020-12-31 09:30] leonkosak commented on #6902
My bad. This is true. At the end, browsers "understand" only html/css/js and Blazor wasm project has to be "compiled" to these "base files".

The only barrier is how to override appsettings.json values for each project installation in docker runtime environment.
Does anyone have experience how to do this?
Thank you.

[2020-12-31 10:10] willignicolas opened #6925 "HardDeleteAsync with predicate"
Hello,

We just migrate from asp.net boilerplate to abp and cannot found any HardDeleteAsync method wih a predicate.

So now we must obtain our entities with a request then iterate each entity and finally launch an hard delete on each entity.

I can see in the history of extension method of EfCoreRepository that the method existed but was deleted.

Is there any reason behind this delete?

Thanks.

[2020-12-31 10:23] #6898 closed, assigned to ilkayilknur

[2020-12-31 10:45] rygar08 commented on #6911
Thank you, I've seen that example, but my requirements are to add a  UserID (in this case named 'ManagerId') onto my entity called accounts, and also to seed a new user and set the 'ManagerId' on a newly seeded account.

[2020-12-31 11:14] #5929 closed, assigned to nobody

[2020-12-31 12:37] ismcagdas opened #6927 "Can't use links for images in docs module"
I thin before [this commit](https://github.com/abpframework/abp/commit/26b44bac6049d59de18b540e33735a388f305213), it was possible to provide links for images in markdown files.

A sample usage is:

`[![Power Tools Marketplace](images/power-tools-marketplace.png)](https://marketplace.visualstudio.com/items?itemName=Volosoft.AspNetZeroPowerTools)`

But now, this syntax opens the image instead of the

[2020-12-31 12:54] leonkosak opened #6928 "abp Blazor (4.0.2) and redirecting after login"
abp v4.0.2
Tiered
Blazor

Login works normally in Firefox. In Chrome (and I also tried in Vivaldi) there is no redirection after successful login. It stays on login page (and username and password textboxs are empty).

There are no errors in Chrome DevTools console.

P.S.: This is Docker deployment.

Any suggestions what could be wrong?
Thank you.

[2020-12-31 14:32] DonVliet opened #6933 "Add en-GB language json files - English (UK)"
I've created en-GB json files (English (UK)) for all modules/packages etc. using your recommended method i.e.

Clone the ABP repository from Github.
Install the ABP CLI if you haven't installed before.
Run abp translate -c <culture-name> command for your language in the root folder of the abp repository. For example, use abp translate -c fr for French. Check this document to find the culture code

[2020-12-31 14:44] maliming commented on #6933
hi @DonVliet

You need fork abp repository.

[2020-12-31 14:52] #6922 closed, assigned to maliming

[2020-12-31 16:34] #5933 closed, assigned to nobody

[2020-12-31 17:21] mrs01dev commented on #2458
For seeding Custom User Name , Password   and Tenants
1- modify  MyProjectNameDbMigrationService.cs
 public class ***DbMigrationService : ITransientDependency
    {
        public ILogger<***DbMigrationService> Logger { get; set; }

        private readonly IDataSeeder _dataSeeder;
        private readonly IEnumerable<ITSPDbSchemaMigrator> _dbSchemaMigrators;
        private readonly ITenantReposi

[2020-12-31 18:42] #6933 closed, assigned to nobody

[2020-12-31 19:06] dicksonkimeu opened #6936 "Auto API Controllers Customization Per Service and not the entire api"
How can i customize the Auto API Controllers for a specific service only and not the entire application.

Am using below and it customizes the entire API instead of a specific service only.

[code]

[2020-12-31 19:09] dicksonkimeu opened #6937 "Clone/ Copy tenant to a new tenant"
How can i create a new tenant by copying an existing one ? It would help copy all the data from an existing tenant to do some tests .

[2020-12-31 20:30] rygar08 commented on #5963
khinhvuphiduong, you say .... `Please start from MicroserviceDemo application and step by step ABP Team's instruction, Ii's very clear.`
I don't see any readme files, no instructions. I would suggest that maybe some ABP documentation would make it 'clear' because currently it is not.

[2020-12-31 20:37] rygar08 opened #6938 "How to seed AppUser"
### How to seed AppUser

I'm trying to seed and AppUser with Entity framework database.  I know how to seed a IdentityUser using IdentityUserManager but can not find any documentation of how to seed an entity that extends abpUser like appUser.

[2021-01-01 00:14] fileman commented on #5735
This version can be enough?
https://blog.duendesoftware.com/posts/20201210_community_edition/

[2021-01-01 08:06] mtozlu opened #6940 "Component Replacement and Page Toolbar Extensions causes error in Angular"
In 4.1.0-rc2, using extended object in Angular, causes errors if a component is replaced following the [component replacement](https://docs.abp.io/en/abp/4.1/UI/Angular/Component-Replacement#how-to-replace-a-component) docs.

For example, after replacing the `UsersComponent` and clicking "New User" button in the UI causes error because [default toolbar actions](https://github.com/abpframework/abp/

[2021-01-01 09:15] #5920 closed, assigned to nobody

[2021-01-01 11:15] hikalkan opened #6948 "Angular UI: Implement page toolbar extensions for open source modules"
https://docs.abp.io/en/abp/4.1/UI/Angular/Page-Toolbar-Extensions

- [ ] Framework infrastructure
- [ ] Identity module
- [ ] Tenant management module

This system was already implemented for ABP Commercial modules.

[2021-01-01 11:18] hikalkan opened #6949 "MVC UI: Implement page toolbar extensions for open source modules"
https://docs.abp.io/en/abp/4.1/UI/Angular/Page-Toolbar-Extensions

- [ ] Framework infrastructure (we probably need to do it in the basic theme)
- [ ] Identity module
- [ ] Tenant management module

This system was already implemented for ABP Commercial modules.

[2021-01-01 11:29] hikalkan opened #6950 "Test Angular UI extensibility docs & update screenshots"
I moved the following docs from ABP Commercial to the ABP Framework documentation:

* https://docs.abp.io/en/abp/4.1/UI/Angular/Entity-Action-Extensions
* https://docs.abp.io/en/abp/4.1/UI/Angular/Data-Table-Column-Extensions
* https://docs.abp.io/en/abp/4.1/UI/Angular/Dynamic-Form-Extensions
* https://docs.abp.io/en/abp/4.1/UI/Angular/Page-Toolbar-Extensions

- [x] Test these documents fully with

[2021-01-01 11:58] Xeevis opened #6951 "Feature proposal: Support ICU message formatting for localization files (plurals, nesting, interpolation)"
Right now localization doesn't permit to give proper format depending on changing variables. For example:

If `MaxUserMembershipCount` is anything but `1`, this phrase won't be correct. Some languages have many pluralization forms, it goes as far as _zero, one, two, few, many, other_.

In my language string above would be:

This would be easy to solve with widely adopted [ICU message format](https

[2021-01-01 14:49] hikalkan opened #6952 "Document Page Progress Service"
Based on https://github.com/abpframework/abp/pull/6853

Document here: https://github.com/abpframework/abp/blob/dev/docs/en/UI/Blazor/Page-Progress.md

Also add to the docs-nav.json

[2021-01-01 16:37] #6271 closed, assigned to nobody

[2021-01-01 17:05] aelhadi opened #6953 "Angular : library is expected to be compatible with Ivy."
Hello,

i'm traying to use Abp 4.0.2 with an existing Angular App (v11).

when i declare abp modules in my existing app.module.ts i'm getting error when compiling :

[code]

any documentation how to use Abp with existing Angular App?

[2021-01-01 17:15] #6953 closed, assigned to nobody

[2021-01-01 17:48] tsupakit opened #6954 "EF Core Eager loading related entities with default generic repository does not work."
Hi abp team,
I was trying to follow the documentation of Entity Framework Core [Eager Loading / Load With Details](https://docs.abp.io/en/abp/latest/Entity-Framework-Core#eager-loading-load-with-details).
Unfortunately, it seems did not work at all.
My entities were designed and configured almost the same as in the [example](https://docs.abp.io/en/abp/latest/Entity-Framework-Core#loading-related-e

[2021-01-02 03:17] #6003 closed, assigned to nobody

[2021-01-02 05:18] niufwshd opened #6955 "Volo.Abp.BackgroundJobs.DemoApp.RabbitMq miss appsettings.json"
- apb 4.0  project Volo.Abp.BackgroundJobs.DemoApp.RabbitMq
-issue
Unhandled exception. Volo.Abp.AbpInitializationException: An error occurred during the initialize Volo.Abp.Modularity.OnApplicationInitializationModuleLifecycleContributor phase of the module Volo.Abp.BackgroundJobs.RabbitMQ.AbpBackgroundJobsRabbitMqModule, Volo.Abp.BackgroundJobs.RabbitMQ, Version=4.1.0.0, Culture=neutral, PublicK

[2021-01-02 10:52] aelhadi opened #6956 "Angular : configState.getOne$('currentUser') return null values for Name and surName"
Hello,

Abp v4.0.2 ( tiered arch).

i'm trying to get the user surName and  name with :

[code]
knowing that i updated the user profile, the getOne$('currentUser') always return null for  surName and  Name, phoneNumber works fine.

![image](https://user-images.githubusercontent.com/5918026/103455793-624ce280-4cf0-11eb-8083-0aee2d337864.png)

![image](https://user-images.githubusercontent.com/59180

[2021-01-02 12:53] jack-gaojz opened #6958 "How to set the default language not the en?"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

ABP Framework version: 3.0.5
Mvc user interface.

I have two different languages: en and zh-Hans.
When the application startup, I want to set the default language as zh-Hans.

I try to add some codes in the main web project startup.cs file as below:

[code]
But failed, the de

[2021-01-02 13:05] khinhvuphiduong commented on #6958
It work when I add **accepted-language** in request header.

[2021-01-02 13:48] sturlath opened #6959 "Bug: Can't startup the Blazor project"
I´m trying this framework out for the first time and I just can't get the Blazor project to startup because of the following error

`System.Net.Http.HttpRequestException: TypeError: Failed to fetch at System.Net.Http.BrowserHttpHandler.SendAsync`

I have tried to redo this many times over, moved the code to c: root, restarted, and updated everything I could think of without luck...

**What am I mi

[2021-01-02 13:54] realLiangshiwei commented on #6959
Mark sure that the `.HttpApi.Host` project is running

[2021-01-02 14:16] sturlath commented on #6959
ahh that solved it thank you. It should be added to[ this documentation](https://docs.abp.io/en/abp/latest/Getting-Started-Running-Solution?UI=Blazor&DB=EF&Tiered=No) that you should use multiple startup projects.

Closing this ticket

[2021-01-02 14:16] #6959 closed, assigned to nobody

[2021-01-02 15:01] realLiangshiwei opened #6960 "QuartzBackgroundWorkerManager should not call the PauseAll method"
https://github.com/abpframework/abp/pull/6957

[2021-01-02 15:04] realLiangshiwei commented on #6958
See https://github.com/maliming/Owl.Abp.CultureMap

[2021-01-02 15:04] #6958 closed, assigned to nobody

[2021-01-02 15:11] realLiangshiwei commented on #6954
Do create a IncludeDetails extension method for the IQueryable<TEntity> for each aggregate root which has sub collections

See https://docs.abp.io/en/abp/latest/Best-Practices/Entity-Framework-Core-Integration#repository-implementation

[2021-01-02 15:11] #6954 closed, assigned to nobody

[2021-01-02 15:29] tsupakit commented on #6954
@realLiangshiwei Thanks for a suggestion.
Does this mean to use this feature of the default generic repository we also need to implement extension method explicitly?

[2021-01-02 15:52] realLiangshiwei commented on #6954
Yes. All modules of ABP do this. https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/IdentityDbContextModelBuilderExtensions.cs

[2021-01-02 15:57] leonkosak commented on #6928
![image](https://user-images.githubusercontent.com/39346964/103460669-7a385c80-4d18-11eb-878b-0bd84d529222.png)
![image](https://user-images.githubusercontent.com/39346964/103460704-d4d1b880-4d18-11eb-9548-49a283afe6de.png)
![image](https://user-images.githubusercontent.com/39346964/103460742-19f5ea80-4d19-11eb-9d50-576e6f133854.png)
![image](https://user-images.githubusercontent.com/39346964/1034

[2021-01-02 17:43] armanozak opened #6961 "Angular UI: Improve Validation Blueprint Extensibility"

[2021-01-02 18:38] hikalkan opened #6962 "IRepository should not inherit from IQueryable"
Related to https://github.com/abpframework/abp/pull/6809

It is being planned for the next major version.

[2021-01-02 18:42] hikalkan opened #6963 "Update documentation & tutorials for queryable usage on the repositories"
Related to https://github.com/abpframework/abp/pull/6809

### Update the following documents;

- [x] Repositories
- [x] EF Core & Mongo Integration & Best Practices documents
- [x] Tutorials & Source code (bookstore-* projects in the abp-samples repo)
- [x] Other documents?
- [x] Commercial Tutorials & Source code (bookstore-* projects in the volo/abp/samples)

### Others

- [x] Startup template S

[2021-01-02 18:54] hikalkan opened #6964 "Update remaining modules for repository queryable change"
For the https://github.com/abpframework/abp/pull/6809 I changed all the usages in this (abp) repository except the following modules:

- [ ] blogging
- [ ] docs
- [ ] cms-kit

Please update all usages. Typically, you need to fix Obsolete warnings, but I suggest to check all the code touches to database. We normally don't use IRepository's IQueryable features, but we might be used implicitly in the

[2021-01-02 19:02] hikalkan commented on #6964
I think you should merge it :) Please review it and merge.

[2021-01-02 20:05] dicksonkimeu commented on #3315
Hi. Was this documented?

[2021-01-02 20:15] armanozak opened #6967 "Angular UI: Add ThemeBasicTestingModule and secondary entry point for it"

[2021-01-03 07:25] maliming commented on #5735
I think the community edition is enough.

[2021-01-03 07:27] #6009 closed, assigned to nobody

[2021-01-03 07:37] #5964 closed, assigned to nobody

[2021-01-03 07:44] #4579 closed

[2021-01-03 09:06] hikalkan opened #6968 "Add UnitOfWork middleware to the startup templates where necessary"
It is especially increasing performance when we put before the identityserver middleware.

[2021-01-03 09:13] hikalkan opened #6969 "Optimize IdentityServer data access on token request"
When we request access token from IDS endpoint, it performs 6-7 database queries. We can try to optimize these database operations. For example, we may exclude details while querying where it is not needed or try to reduce queries if possible.

Note: Adding `app.UseUnitOfWork()` middleware before `app.UseIdentityServer()` (#6968) helps to reduce DbContext creation. However, I think we can optimize

[2021-01-03 09:16] hikalkan opened #6970 "Implement distributed caching for tenantstore"
We should implement caching here: https://github.com/abpframework/abp/blob/dev/modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantStore.cs

(also for the SaaS module in the volo repo)

[2021-01-03 09:49] hikalkan opened #6971 "All public repository methods should get CancellationToken"
Currently, I see some methods hasn't. They should get CancellationToken (as optional parameter) just like others and use ICancellationTokenProvider if not provided by the user just like others.

[2021-01-03 09:54] hikalkan opened #6972 "Clean build warnings"
We are getting some warnings. Most of the are not related to code, but for the summary text references.
We should check them and make all clean. We can disable warnings (using pragma) for specific cases if we are sure what we are doing.

This issue is for the abp repository only.

[2021-01-03 09:58] hikalkan opened #6973 "IdentityServer tests have duplicate data builders"
1. https://github.com/abpframework/abp/blob/dev/modules/identityserver/test/Volo.Abp.IdentityServer.EntityFrameworkCore.Tests/Volo/Abp/IdentityServer/AbpIdentityServerTestDataBuilder.cs
2. https://github.com/abpframework/abp/blob/dev/modules/identityserver/test/Volo.Abp.IdentityServer.TestBase/Volo/Abp/IdentityServer/AbpIdentityServerTestDataBuilder.cs

We should check carefully and unify them.

[2021-01-03 13:03] #5288 closed, assigned to realLiangshiwei

[2021-01-03 13:10] #6819 closed, assigned to real-zony, maliming

[2021-01-03 13:48] davidcateduclarity opened #6977 "Article Request: DevExpress Reporting and Dashboard Integrations into Abp.io"
Greetings;
Thank you so much for your existing articles.  They are a vast improvement over previous frameworks.

Could you please provide documentation on integrating devexpress reporting and dashboards into the abp.io framework.

**Reporting:**
ASPNetCore: [AspNet Core Docuemtation](https://docs.devexpress.com/XtraReports/119717/web-reporting/aspnet-core-reporting)
Angular: [Angular Documentation

[2021-01-03 16:23] IslamEldeeb opened #6979 "Cli , Generate Date Properties into String Properties #abp-cli #angular #generate-proxy"
### My ABP Framework ver. 4.0.2
### My User Interface : Angular ver.10

I have a problem with cli generate proxies , when generate the **DateTime** data type property , the file generated with **String** data type , example
**Backend :**
Public Class ClientDto{
        public DateTime Birthdate { get; set; }
}

**FrontEnd  (Angular) :**
export interface ClientDto extends EntityDto<number> {
  birt

[2021-01-03 18:36] fileman commented on #2611
I have the same requirement that some users, with limited rights need to access to all tenants.
I read that "commercial" has linking account, that can be a solution with few tenants, but if I have hundreds of tenants, I'have to link an account for everyone of those.

@hidojerry have you tried to using "host" users in a specific role with only required permissions?

[2021-01-03 19:29] davidzwa opened #6981 "Row limiting warning Skip/Take before OrderBy - GetAsync of IRepository<T>"
* 4.0.2 with EF Core

* Exception message and **stack trace** if available (check the logs).

Looks similar to https://github.com/abpframework/abp/issues/6179 but then in IRepository when calling GetAsync (possibly others as well). In this case my entity extends `FullAuditedEntity<Guid>` and therefore IsDeleted query filter among others is present. Or this has more to do with paging/ordering. Not

[2021-01-03 21:08] MohamedAbdelmageed opened #6982 "get System.DateTime data type in .net Core 5 as string data type instead of DateTime in generated proxy with abp 4.0"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-01-03 21:56] velikayikci opened #6983 "Can't create custom repository"
Hello,
can not create custom repository width custom entity, here is my code, what is the wrong ?

### IWorkflowRepository

    public interface IWorkflowRepository<TEntity> : IRepository<TEntity>
        where TEntity : class, IEntity
    {
    }

    public interface IWorkflowRepository<TEntity, TKey> : IRepository<TEntity, TKey>
        where TEntity : class, IEntity<TKey>
    {
    }

### Work

[2021-01-04 01:19] maliming commented on #6981
Hi

* Steps needed to **reproduce** the problem.

[2021-01-04 01:22] maliming commented on #6982
Duplicate of #6979 ?

[2021-01-04 01:22] #6982 closed, assigned to nobody

[2021-01-04 01:35] maliming commented on #6983
I think you should manually register the generic interface `IWorkflowRepository` into the DI container.

[2021-01-04 01:39] #6063 closed, assigned to nobody

[2021-01-04 02:18] realLiangshiwei commented on #6936
See https://docs.abp.io/en/abp/latest/API/Auto-API-Controllers#typepredicate-option

[2021-01-04 02:18] #6936 closed, assigned to nobody

[2021-01-04 04:56] armanozak commented on #6979
Hi,

Dates are represented as string in JSON. The response to any request will have date properties as string. Likewise, any request body will have them as string. Therefore, `DateTime` properties are converted to `string` in generated proxies.

Please let me know if this answers your question.

[2021-01-04 05:58] velikayikci commented on #6983
Thank you for your answer.
How can do it ? is there any example code ?

[2021-01-04 06:01] maliming opened #6987 "Create an Excel import and export sample."
https://support.abp.io/QA/Questions/753/Import-data-from-Excel

[2021-01-04 07:17] #6964 closed, assigned to maliming

[2021-01-04 07:38] #6961 closed, assigned to armanozak

[2021-01-04 07:38] #6967 closed, assigned to armanozak

[2021-01-04 07:43] maliming commented on #6983
You can try to add below to your module's `ConfigureServices` method:

[code]

[2021-01-04 07:44] hikalkan opened #6992 "RepositoryAsyncExtensions should use Repository.GetQueryableAsync()"
Example: https://github.com/abpframework/abp/commit/197878ae8a1ebc3a46efb60f2c868f2e71a5198f
We should update all the methods inside this class.

[2021-01-04 08:10] #6252 closed, assigned to bnymncoskuner

[2021-01-04 08:13] maliming commented on #6938
https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Users/AppUser.cs#L10-L13

* You can define your custom properties into this class.
* You never create or delete this entity, because it is Identity module's job.
* You can query users from database with this entity.
* You can update values of your custom properties.

[2021-01-04 08:41] #6895 closed, assigned to realLiangshiwei

[2021-01-04 09:58] velikayikci commented on #6983
You are the best. It's works.
Thank you very much.

[2021-01-04 09:58] #6983 closed, assigned to nobody

[2021-01-04 10:15] MohanaRanjan commented on #2698
I am facing the same issue as the SamQuest.

while everything are in place to make use of this good framework, this particular problem of linking the Appuser to other domain user is creating a lot of problems to me.

My requirements are follows. There are 3 types of users

1. UserA
2. UserB
3. UserC

These three users need to be linked to same AbpUser Table. Something like. One AbpUser has one to

[2021-01-04 10:55] davidzwa commented on #6981
I call my UserRepository GetAsync (DI injected by **IUserRepository**)

[code]
This repository extends by IRepository<TEntity>
[code]
given that IUserRepository is defined as follows:

[code]

And of course within the AbpModule
[code]

The queried entity looks as follows:

[code]

The (adjusted serilog template) log then shows the warning twice, but **never again** unless I restart the API:
[code]

[2021-01-04 12:53] davidzwa commented on #6981
I confirm that my other IRepository<> repository shows the same warning, but then 3 times in a row. This made me to believe that the amount of warnings is related to the multiple query Include().ThenInclude() calls I do compared to HasQueryFilter additions. I used the following statement in **OnModelCreating()** on OneToMany children to prevent the inconsistent IsDeleted/Tenant filtering (this sup

[2021-01-04 13:07] davidzwa commented on #6836
Closing as apparently not something relevant.

[2021-01-04 13:07] #6836 closed, assigned to nobody

[2021-01-04 13:12] begandroide commented on #5802
@DingL0312 hi! how do you solved this issue? I'm facing the same issue in PUT request

[2021-01-04 13:15] davidzwa commented on #6937
Hi,

Copy in what way? Just the instance itself or all the dependants?

In case of the 1st: just use ITenantManager.
In case of the 2nd: use ITenantManager, IdentityUserManager etc and script it! Otherwise you could also clone the database itself and start with a different connection string... sounds easier than scripting and is exactly suitable for testing.

There's no easier way than the latter

[2021-01-04 13:22] dicksonkimeu commented on #6937
A common feature in multi tenant is to clone a tenant (with all it's data) in a new tenant (in the same database)

[2021-01-04 13:33] jchhh912 opened #6999 "Failed to create template using ABP cli v4.0.2"
`D:\wwwroot\Display template>abp new Template.Display -v 4.0.2
[21:20:57 INF] ABP CLI (https://abp.io)
[21:20:57 INF] Version 4.0.2 (Stable)
[21:20:58 INF] Creating your project...
[21:20:58 INF] Project name: Template.Display
[21:20:58 INF] Version: 4.0.2
[21:20:58 INF] Create Solution Folder: no
[21:20:58 INF] Output folder: D:\wwwroot\Display template
[21:22:39 INF] Downloading template: app, v

[2021-01-04 13:39] jchhh912 commented on #6999
abp cli 3.0.4 update =>4.0.2
.Net  SDK (5.0.2)

using cli creat  Failed

Thx!

[2021-01-04 14:25] maliming commented on #6999
Hi

It works now.

[2021-01-04 14:25] #6999 closed, assigned to nobody

[2021-01-04 14:45] michaelsudnik opened #7000 "Creating a new user via the API does not save the name and surname when using MongoDB"
Missing

`(await UserManager.UpdateAsync(user)).CheckErrors();`

after MapExtraPropertiesTo call

https://github.com/abpframework/abp/blob/45ac9e8a2ece2a281ae4acf888137ff9c213ce9b/modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs#L87

I have seen (and reported) this kind of explicit "update" call missed in other places, so it might be a good idea to do

[2021-01-04 15:09] IslamEldeeb commented on #6979
Hi,
Thanks for your support , but i want to know why datatime converted to string in generated proxies

[2021-01-04 15:23] amsaighi commented on #6908
Hi @maliming

I had have no error,
When I created a new project, it gives me opportunity to check all modules .

Thank you .

[2021-01-04 15:41] michaelsudnik commented on #7000
Previously reported examples:
https://support.abp.io/QA/Questions/696/Custom-role-claims-not-saving
https://support.abp.io/QA/Questions/628/Moving-an-Organization-Unit-to-a-different-parent-by-drag-drop-does-not-work

[2021-01-04 15:50] armanozak commented on #6979
Hi,

Because, the requests and responses will have `string` type, not `Date`.

[2021-01-04 17:19] leonkosak commented on #6447
@realLiangshiwei in which projects exactly should Step-1 be applied when we have tiered Blazor application? There is no .Web project. Just .HttpApi.Host and .IdentityServer.
Thank you.

[2021-01-04 17:28] leonkosak commented on #6928
Redis server is working. I made a shutdown and application did not work (after enabling Redis server, application starts working).
Currently only warnings are about SameSite and I will apply this patch. But I am sure that this warning does not result in such long loading and login times (22+20 seconds).
@hikalkan do you have any suggestions?

[2021-01-04 19:13] abdulhakim1976 opened #7002 "Local Events not firing after upgrading to version 4.0"
ABP Framework version:4
User Interface : Angular
Database provider: EF Core

After upgrading my 3.3 version to 4.0.2 local events not firing

[2021-01-04 19:53] ilkayilknur commented on #6834
Fixed https://github.com/abpframework/abp/pull/6859

[2021-01-04 19:53] #6834 closed, assigned to ilkayilknur

[2021-01-04 23:03] ricxsar commented on #527
I'm also interested on this. My idea is to reuse the abp boilerplate, remove the presentation layer and replace it with azure functions entry point. That way I am able to reuse the business logic, crud operations and authentication layer.

i believe the intent of the framework is reuseability. The same structure but different presentation layer either mobile, web etc.

I hope some will provide an

[2021-01-05 01:16] #6070 closed, assigned to nobody

[2021-01-05 01:17] realLiangshiwei commented on #6447
@leonkosak  Please open a new issue.

[2021-01-05 01:24] maliming commented on #6928
@leonkosak
Can you share your docker file? I want to try to reproduce it in chrome.

[2021-01-05 01:25] maliming commented on #7002
hi abdulhakim1976

* Steps needed to **reproduce** the problem.

[2021-01-05 01:27] maliming commented on #2698
hi @MohanaRanjan Please create a new issue.

[2021-01-05 02:34] #7000 closed, assigned to maliming

[2021-01-05 02:35] maliming commented on #7000
https://github.com/abpframework/abp/pull/7004

[2021-01-05 03:20] #5990 closed, assigned to nobody

[2021-01-05 03:48] maliming commented on #6981
I think ABP framework can do nothing with this problem.

[2021-01-05 03:48] #6981 closed, assigned to nobody

[2021-01-05 03:54] maliming commented on #6925
You can query these entities first and then call `HardDeleteAsync` for each one. I will add a similar method.

[2021-01-05 04:18] RayMMond opened #7006 "Volo.Abp.Cli add-module --new can not create angular module properly"
https://github.com/abpframework/abp/blob/2b18e14dee35651be5a628b512fcd24458da00f7/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/AngularModuleSourceCodeAdder.cs#L96-L139

This method is treating `.vscode` folder as a project folder which leads to wrong behavior when add ng module to angular.js file.

Steps to reproduce:
1. Run `abp new Acme.BookStore -u angular --separate-identit

[2021-01-05 06:03] mehmet-erim opened #7008 "Forms throw injection token error"

[2021-01-05 06:05] ebicoglu commented on #6908
hi i just checked and it works with 4.0.2

![](https://user-images.githubusercontent.com/9526587/103612135-ceb82380-4f34-11eb-9a8c-6b19aa712fc7.png)

I checked with 4.1.0-rc.2 and it works

![](https://user-images.githubusercontent.com/9526587/103612254-150d8280-4f35-11eb-8828-7b356a24a9f2.png)

what's your version and is there any error on the CMD window?

the logs folder is `%UserProfile%\.abp\s

[2021-01-05 06:19] #7008 closed, assigned to mehmet-erim

[2021-01-05 07:07] #6960 closed, assigned to realLiangshiwei

[2021-01-05 08:23] leonkosak commented on #6928
I'll send you whole configuration (including for docker) with sensitive data.
Please tell me your email. Thank you.

[2021-01-05 08:29] maliming commented on #6928
hi

This will complicate the problem, we need a simple project to reproduce the problem. ：）

[2021-01-05 08:32] leonkosak commented on #6928
I won't send you concrete project, because it's almost "empty" abp.
Docker configuration (overrides) for appsettings.json and "translating" from docker internal urls to external (internet) urls.
Therefore I want to send you privately.

[2021-01-05 08:36] maliming commented on #6928
ok, liming.ma@volosoft.com

[2021-01-05 08:39] leonkosak opened #7012 "SameSite issue (http) for tiered solution"
https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

In which projects exactly should Step-1 be applied when we have tiered Blazor application? There is no .Web project. Just .HttpApi.Host and .IdentityServer.
Thank you.

[2021-01-05 09:10] Stirda commented on #5517
@stsrki Thank you for working on this. What are the toughest parts?

[2021-01-05 09:19] stsrki commented on #5517
@Stirda not much. Mostly reorganizing the structure of the project so that there are no breaking changes :)

[2021-01-05 09:35] IslamEldeeb commented on #6979
Hi ,
But The nswag generate the correct datatype and handle this operation in runtime , so we need to enhancement this point in abp cli .
Thanks ..

[2021-01-05 09:36] #6979 closed, assigned to nobody

[2021-01-05 09:45] armanozak commented on #6979
Hi,

ABP does not use NSwag and it is debatable which one is correct. Generated models have dates as string because of the reasons explained above. In our Angular UI app, datepickers handle dates as you can see here: https://docs.abp.io/en/abp/latest/Tutorials/Part-3?UI=NG&DB=EF#datepicker

We are not planning to change this in near future.

[2021-01-05 09:51] slm-w opened #7015 "Display TimeSpan type Data in typescript"
Trying to show time in table but it shows me time in this format `{ "ticks": 690680000000, "days": 0, "hours": 19, "milliseconds": 0, "minutes": 11, "seconds": 8, "totalDays": 0.7993981481481481, "totalHours": 19.185555555555556, "totalMilliseconds": 69068000, "totalMinutes": 1151.1333333333334, "totalSeconds": 69068 }` while i want it to be displayed in this format `10:15:30`

i use abp framework

[2021-01-05 12:01] muhammedaltug opened #7022 "Imporevements http wait service"
- Create injection token for loader delay time
- Change removeFilter and addFilter method payloads to accepts array of HTTP simple request and HTTP simple request

[2021-01-05 12:11] #7015 closed, assigned to nobody

[2021-01-05 12:11] maliming commented on #7015
https://stackoverflow.com/questions/65569529/display-timespan-type-data-in-typescript

[2021-01-05 12:21] #6068 closed, assigned to nobody

[2021-01-05 12:42] real-zony commented on #6937
If you are copying data from an existing tenant, you need to do this manually.

[2021-01-05 12:56] davidzwa commented on #6937
@dicksonkimeu I'm eager to look at any examples to what you mean, as I'm a bit hesitant to believe your statement at first sight. This I mean in the interest of us learning something, of course!

[2021-01-05 13:17] axunonb opened #7025 "Culture-specific number formats with Volo.Abp.TextTemplating"
## Volo.Abp.TextTemplating v4.0.2

### Issue

Rendering a decimal number (e.g. 123,45) with the culture name "de", the text should be ```123,45``` (with decimal comma), but it is ```123.45``` (with decimal point).

### Reproduce

Use the abp-samples/TextTemplateDemo/Demos/Hello/, update package to v4.0.2 and modify
* **Hello.tpl** to ```Hello {{model.name}} {{model.amount}}```
* **HelloModel.cs**

[2021-01-05 13:22] maliming commented on #7025
hi

We welcome you to contribute code.  https://docs.abp.io/en/abp/latest/Contribution/Index

[2021-01-05 13:40] #7022 closed, assigned to muhammedaltug

[2021-01-05 18:20] slm-w commented on #6879
@maliming

[2021-01-05 18:43] berkansasmaz commented on #6879
Maybe, as an alternative, you can query the entities it is connected to with a foreign key, and if there is, you can throw an error without running the delete operation. The downside of this is making requests to multiple databases, but when you actually get a save error, your users won't see the message "Item Cannot be deleted". Because DbUpdateException is thrown when saving of changes fail.

[2021-01-05 18:46] fk-inspirit-tech opened #7031 "ProxyScriptingJsFuncHelper CreateJsObjectLiteral missing comma at end of string (when multiple parameters)"
ABP V4
MVC
EF Core

In case of multiple header parameters in a controller, the service proxy script generator fails.

public async Task<IActionResult> ActionExampleAsync([FromHeader] string mystr1, [FromHeader] string mystr2, [FromBody] List<MinimizedList<Guid>> minimizedList)

JS error: ServiceProxyScript:517 Uncaught SyntaxError: Unexpected string

Due to missing comma:
headers: {
          'mys

[2021-01-05 20:14] EmileVerbunt commented on #5606
Please update the 'nav-items' part as SessionState and SetLanguage have been deprecated.

https://docs.abp.io/en/abp/latest/UI/Angular/Component-Replacement

[2021-01-05 21:05] muhammedaltug opened #7033 "Fix loader delay"
- Change delay condition in http wait service
- Add delay to router wait service
- Move LOADER_DELAY token to core module

[2021-01-05 21:20] #7033 closed, assigned to muhammedaltug

[2021-01-05 21:24] #6950 closed, assigned to armanozak

[2021-01-06 00:49] maliming commented on #6706
https://github.com/abpframework/abp/pull/6729

[2021-01-06 00:49] #6706 closed, assigned to realLiangshiwei

[2021-01-06 01:16] #6100 closed, assigned to nobody

[2021-01-06 01:22] realLiangshiwei commented on #6879
See https://docs.abp.io/en/abp/latest/Exception-Handling#send-exception-details-to-the-client

[2021-01-06 01:24] maliming commented on #7012
Did you get the same problem with your blazor app?

[2021-01-06 03:25] #7031 closed, assigned to maliming

[2021-01-06 06:35] #6673 closed, assigned to hikalkan, ilkayilknur

[2021-01-06 06:38] #6731 closed, assigned to yekalkan

[2021-01-06 07:52] muhammedaltug commented on #6733
Breaking Changes:
Filter input removed from abp-loader-bar component. Use HttpWaitService's addFilter and removeFilter methods.
StartLoader and StopLoader actions removed. Use HttpWaitService's addRequest and removeRequest methods.

[2021-01-06 07:58] #6927 closed, assigned to ebicoglu

[2021-01-06 08:58] fermanquliyev opened #7048 "How can i show my *AppService, DTO's XML comments in swagger?"
How can I show my *AppService, DTO's XML comments in swagger?
I have written XML comments above my app service methods (which will be converted to the controllers) but it doesn't show itself on UI.
[code]

[2021-01-06 09:21] maliming commented on #7048
I think this has nothing to do with abp? Do your controller coments works?

[2021-01-06 09:29] fermanquliyev commented on #7048
No. Neither controller's, nor service's XML comments are visible on swagger UI.
[code]
![image](https://user-images.githubusercontent.com/33841624/103752688-76ac1a80-5023-11eb-95b4-858929ceb16d.png)

[2021-01-06 09:32] yaoyuansheng opened #7051 "Common Language Runtime detected an invalid program. System.InvalidProgramException: Common Language Runtime detected an invalid program"
I got a problem，but I don't know why and how to solve it

![image](https://user-images.githubusercontent.com/13847155/103754018-c18b5980-5046-11eb-83ae-e0cfb43f49af.png)

![image](https://user-images.githubusercontent.com/13847155/103754656-98b79400-5047-11eb-9a74-111911650279.png)

[17:37:49 INF] Executing endpoint 'Boss.AuthCenter.Account.AccountController.UserSyncAsync (Boss.AuthCenter.HttpApi.

[2021-01-06 09:43] maliming commented on #7048
So this has nothing to do with abp.

[2021-01-06 09:43] #7048 closed, assigned to nobody

[2021-01-06 09:49] ilkayilknur opened #7052 "CMS Kit - Investigate and Fix Global Filter Issues"
Global filters don't work on CMS Kit right now.

[2021-01-06 09:59] #7052 closed, assigned to ilkayilknur

[2021-01-06 10:49] maliming commented on #7051
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-01-06 11:15] #6709 closed, assigned to yekalkan

[2021-01-06 14:13] LFDCC opened #7060 "Identity Role Property "IsPublic" mean?"
I've removed "IsPublic" from the role, but other users can still see the role, and when you create a new user, you can assign the newly created role, so what does "IsPublic" mean?

[2021-01-06 14:36] LFeYls opened #7061 "ApiController HttpGet with a named action parameter auto set value"
I implement the IdentitySecurityLog api refer to the official case

public class IdentitySecurityLogController : AbpController , ISecurityLogAppService
    {

        protected ISecurityLogAppService SecurityLogAppService { get; }

        public IdentitySecurityLogController(ISecurityLogAppService securityLogAppService)
        {
              SecurityLogAppService = securityLogAppService;

[2021-01-06 15:10] leonkosak commented on #7012
Yes. I have abp with Blazor IU and tiered backend.

[2021-01-06 15:48] Stirda commented on #6672
@hikalkan Documentation entry path didn't follow @stsrki proposal. This resulted in a corrupted link in the docs. Menu item points to https://docs.abp.io/en/abp/latest/UI/Blazor/SubmitButton but actual page URL is https://docs.abp.io/en/abp/latest/UI/Blazor/Components/SubmitButton.

[2021-01-06 15:50] Stirda commented on #6672
See https://github.com/abpframework/abp/commit/1a06b0b5e75e006b2ccfc52e689a00842f448c86

[2021-01-06 17:14] davidzwa commented on #6981
@maliming could you provide a tip on how to implement AuditedEntity for child entities properly? (SoftDelete on root, but no cascading delete on children because of that)
Or maybe a small hint as what is happening here?

[2021-01-07 00:10] maliming commented on #7012
I will check it, I thought only mvc have this problem.

[2021-01-07 00:12] maliming commented on #6928
liming.ma@volosoft.com

[2021-01-07 01:04] #7025 closed, assigned to maliming

[2021-01-07 01:18] #6702 closed, assigned to maliming

[2021-01-07 01:35] maliming commented on #7060
It seems that `IsPublic` feature has not yet been implemented.

[2021-01-07 01:47] realLiangshiwei commented on #7061
Try:

[code]

[2021-01-07 01:47] #7061 closed, assigned to nobody

[2021-01-07 01:50] maliming commented on #6672
hi @Stirda  I will update.

[2021-01-07 01:52] realLiangshiwei commented on #7060
See https://support.abp.io/QA/Questions/599/Admin-Role-Public#answer-44d1d7c1-84d6-1a0b-8dbd-39f9160fcafb

[2021-01-07 02:11] xewn opened #7065 "building a configuration center"
Will you consider building a configuration center?
Configuration center like [apolloConfigurationSystem](https://github.com/ctripcorp/apollo)
There are too many services now, causing trouble to maintain appsetting.json

[2021-01-07 02:27] LFeYls commented on #7061
@realLiangshiwei thanks, it's worked.

[2021-01-07 02:30] v2codes opened #7066 "RabbitMQ backgroundJob worker do not work ?"
### Question
Thanks for your help!
RabbitMQ backgroundJob  worker do not work. Is there any problem about my code ？

1. RabbitMQ Consumer registed success;
2. New job queue message send success;

### ENV

* **ABP Version：** v4.0.2
* **Template：** module

### RabbitMQ Info
![image](https://user-images.githubusercontent.com/32858631/103843748-576cc600-50d3-11eb-93c7-3ed4c9ff4139.png)

### Applicatio

[2021-01-07 02:32] yuchengit commented on #1437
@thk-liu @maliming
I encounted the same problem，and I solved it!
**change the following code**
app.MapWhen(
                ctx => ctx.Request.Path.ToString().StartsWith("/api/abp/") ||
                       ctx.Request.Path.ToString().StartsWith("/Abp/") ,
                app2 =>
                {
                    app2.UseRouting();
                    app2.UseConfiguredEndpoints();

[2021-01-07 02:34] maliming commented on #1437
Yes see https://github.com/abpframework/abp-samples/commit/cb998d2d3512f48574c3d832e7eaf1d2cfb11986

[2021-01-07 05:35] #7012 closed, assigned to nobody

[2021-01-07 06:17] vnetonline opened #7068 "Just tired to run DBMigrator and got an error with 4.1 release"
* Your **ABP Framework version**. 4.1
* Your **User Interface** MVC
* Your database provider EF Core
* Exception message and **stack trace**

[code]

* Steps needed to **reproduce** the problem.
1. Create new solution using "abp new Acme.Software.SimpleTask -csf"
2. Create SimpleTaskDataSeededContributor with the following code

[code]
3. Run DbMigrator and get the below error

[code]

[2021-01-07 06:32] maliming commented on #7068
Have you add `Tasks.Task` to your DbContext？ `DbSet<Tasks.Task>`

https://github.com/abpframework/abp/pull/6912

[2021-01-07 06:49] #5554 closed, assigned to stsrki

[2021-01-07 06:54] vnetonline commented on #7068
Yes I have and run the update-database command ... it has created the table but no data

[2021-01-07 06:56] maliming commented on #7068
Can you share your project?

[2021-01-07 07:00] vnetonline commented on #7068
How would you like me to share it ??

[2021-01-07 07:01] maliming commented on #7068
You can create a Github repo.

[2021-01-07 07:03] yaoyuansheng commented on #7051
ABP Framework version : 4.0.1 ,
Database Provider :EF Core ,
I fixed it now  ，When I modify the code for the application layer

await UnitOfWorkManager.Current?.SaveChangesAsync(); =>await  UnitOfWorkManager?.Current?.SaveChangesAsync();
OR =>await CurrentUnitOfWork.SaveChangesAsync();

[2021-01-07 07:03] #7051 closed, assigned to nobody

[2021-01-07 07:11] ThreeLambs opened #7069 "Sometimes startup is too slow"
``Sometimes startup is too slow``
Logs
[code]
Sometimes ,it startup is too slow more than 3 minutes.

[2021-01-07 07:40] vnetonline commented on #7068
here is the link to repo

https://github.com/vnetonline/Acme.Software.SimpleTask

[2021-01-07 07:45] vnetonline commented on #7068
Sorry my mistake i had

public DbSet<Task> Tasks { get; set; }

instead of public

DbSet<Tasks.Task> Tasks { get; set; }

[2021-01-07 07:54] #7068 closed, assigned to nobody

[2021-01-07 08:17] #7060 closed, assigned to nobody

[2021-01-07 08:29] leonkosak commented on #6529
@qiang999, how do you call /connect/token (model) to generate token?
This changed after "new login" (with redirecting) and my code (using HttpApi in C#) does not work anymore.
Thank you.

[2021-01-07 08:47] realLiangshiwei commented on #7066
Try:

[code]

The `TaskExerciseJobArgs` class requires a parameterless constructor

[2021-01-07 09:09] v2codes commented on #7066
@realLiangshiwei
Thanks a lot, It works well.
` TaskExerciseJobArgs `  class requires a parameterless constructor.

[2021-01-07 09:25] #7066 closed, assigned to realLiangshiwei

[2021-01-07 09:40] wechatdeveloper opened #7073 "Will abp use vue-element-admin as UI framework ?"
Will abp use vue-element-admin as UI framework ?  Thanks
https://panjiachen.github.io/vue-element-admin/#/dashboard

[2021-01-07 09:41] realLiangshiwei commented on #7073
See https://github.com/abpframework/abp/issues/1168

[2021-01-07 09:41] #7073 closed, assigned to nobody

[2021-01-07 10:09] armanozak opened #7076 "ThemeBasicTestingModule should have withConfig instead of forRoot"

[2021-01-07 12:31] pvaz opened #7082 "How to create a project using the preview 4.2 with cms-kit included ?"
Hi,

I did not find any explanation on how I can test the cms-kit modules that is under production.

And it's possible to use it on the stable version for testing purposes.

Thanks.

[2021-01-07 13:44] Stirda commented on #6656
I got a working solution, thanks to @davidzwa :

Added a `Properties\launchSettings.json` in my `DbMigrator` project to define the environment during development

[code]

Next changed the start of `DbMigratorHostedService.StartAsync` with the following to register `IHostEnvironment` and be informed of the good environment detection:

[code]

Finally started my `MyBusinessFakeDataSeedContributor.Se

[2021-01-07 13:47] real-zony commented on #7082
The cms-kit project is in the modules folder of the source code, and the docker-compose file is provided, you can run or debug the project directly.

[2021-01-07 13:47] Stirda commented on #6656
Note that I suppose that my solution would fail if my seed contributor is ran on `HttpApi.Host`. Maybe a `_hostEnvironment ?? _hostingEnvironment` would do the job?

[2021-01-07 13:50] real-zony commented on #7065
Hi xewn,
You can easily use [Com.Ctrip.Framework.Apollo.Configuration](https://www.nuget.org/packages/Com.Ctrip.Framework.Apollo.Configuration/) to integrate apollo configuration center, as far as I know, currently abp does not have this plan.

[2021-01-07 13:52] real-zony commented on #7069
Hi ThreeLambs,
Can you set the log level to debug mode and upload the log file? We have no way of knowing the reason based on this information alone.

[2021-01-07 13:56] davidzwa commented on #6656
I encourage you to **avoid defining hardcoded "Production" and "Development" environment strings** etc.
Use static extensions to extend the already existing methods IsProduction(), IsDevelopment() like f.e. IsTest().

Also, why would it fail? `IHostEnvironment` is correctly available for Dependency Injection in any correctly registered service/controller/singleton/transient... both in a Web/API an

[2021-01-07 13:57] #7065 closed, assigned to nobody

[2021-01-07 14:24] armanozak opened #7084 "ThemeBasicTestingModule does not provide VALIDATION_INVALID_CLASSES"

[2021-01-07 14:36] mehmet-erim opened #7087 "[Angular] Domain Tenant Resolver is not working properly"
Known problem:
The placeholder in `oAuthConfig.redirectUri` can not be replaced. Unable to login when using the domain tenant resolver feature.

[2021-01-07 14:38] armanozak opened #7088 "CoreTestingModule should have skipGetAppConfiguration option as true when not explicitly passed otherwise"

[2021-01-07 14:54] yekalkan opened #7091 "Documentation of CLI public web site option"
Documentation of https://github.com/abpframework/abp/pull/7083

[2021-01-07 16:07] #7088 closed, assigned to armanozak

[2021-01-07 16:07] #7084 closed, assigned to armanozak

[2021-01-07 16:07] #7076 closed, assigned to armanozak

[2021-01-07 17:50] hikalkan commented on #6952
Should be done with https://github.com/abpframework/abp/pull/6853

[2021-01-07 17:50] #6952 closed, assigned to stsrki

[2021-01-07 21:15] #5963 closed, assigned to nobody

[2021-01-07 21:54] millsaj commented on #6272
Any chance we could reconsider implementing the suggested solution by default? Environment variables that include a dot are [invalid](https://unix.stackexchange.com/questions/93532/exporting-a-variable-with-dot-in-it) environment variables in bash.

For now I can use the solution you suggest in the support thread but it seems like this would be a fairly common problem for people hosting in a linux

[2021-01-07 22:48] jack-gaojz commented on #6958
Thanks so much.
I have resolved it follow this way.
[code]

[2021-01-08 01:53] #6882 closed, assigned to nobody

[2021-01-08 03:48] maliming commented on #6272
hi @millsaj  We do not plan to change it.

[2021-01-08 06:11] xyfy commented on #6680
I cannot understand, why need to add the condition into expression and generate it to sql ,such as  **IsSoftDeleteFilterEnabled**、**IsMultiTenantFilterEnabled**，what is the exact reason?

can we only use it in the logic code?

@maliming

[2021-01-08 07:57] zfeihong opened #7097 "EmailSend Exception"
[code]

The above methods can be sent successfully，Why Settings fail，As shown below

[code]

[2021-01-08 08:07] maliming commented on #7097
You should test with [MailKit](https://docs.abp.io/en/abp/latest/MailKit)

[2021-01-08 08:11] leonkosak commented on #6977
**Reporting:**
Blazor: [Blazor Documentation](https://docs.devexpress.com/XtraReports/401676/web-reporting/blazor-reporting)

[2021-01-08 08:25] ThreeLambs opened #7098 "sometimes ,throw exception:The connection is closed."
[code]

it's hard for me to debug the method GetAsync(id) of EfCoreRepository. so ,I override it, but  sometimes  , it still throw the exception .
i don't konw the abp framework how and when to  open /close  db connection .
[code]

[2021-01-08 08:36] real-zony commented on #7098
Hi ThreeLambs,
Can you share related projects or codes?

[2021-01-08 08:37] ThreeLambs commented on #7098
https://github.com/abpframework/abp/issues/6882

[2021-01-08 09:12] rygar08 commented on #6938
So should I create a user using IdentityUserManager then create a new AppUser and set it's ID to the same ID as the new user. How is the One 2 one relationship created from the UserIdentity (abpUser) and the AppUser ?

[2021-01-08 09:18] maliming commented on #6938
**You can update values of your custom properties.**

[2021-01-08 09:28] rygar08 opened #7099 "How to add a identityUser foreign key to an entity"
Simple question, how do you add a  identityUser foreign key relationship to a custom entity (database table).
**_Note: this is not a question about extending the user properties._**

      Public Class MyTable : Entity<int> {
          public Guid UserID {get; set;}  // this is a foreign key to the identityUser table
      }

[2021-01-08 09:32] #6938 closed, assigned to nobody

[2021-01-08 09:58] vnetonline opened #7100 "Intellisense for Bootstrap Components is not working in the Module Project"
I am trying to create a module using add-module and the Intellesense for Bootstrap Components is not working in the Module Project

I don't see the <abp-
 directive
can you please help me why ?

my_ViewImports has the following code

[code]

[2021-01-08 10:23] vnetonline commented on #7100
need to have the _ViewImports in the pages folder other wise it doesn't work

![image](https://user-images.githubusercontent.com/15242923/104004358-c2afb880-51f7-11eb-985d-647c2a421f06.png)

[2021-01-08 10:41] enisn commented on #6845
As we discussed on this issue with @cotur, a migrator application isn't necessary to seed database. Creating a seeder class which implements `IDataSeedContributor`  is enough. So I'm closing this issue.

Feel free to re-open if think differently.

[2021-01-08 10:41] #6845 closed, assigned to enisn

[2021-01-08 11:03] NecatiMeral commented on #7099
I think this isn't related to ABP but EntityFramework (core).

You should add the foreign key by using the following convention (not tested):
[code]

[2021-01-08 12:38] leonkosak commented on #6269
Well, I made "production" deployment to Docker environment (abp Commercial v4.0.2, Tiered (separated Identity Server), Blazor).

Loading first page (when browser has nothing in cache) takes 37-75 seconds - mostly 37-40 seconds). Login process takes 7-8 seconds.

After browser has application in cache, it takes aprox 8 seconds to load first page and another 7-8 seconds login process.

There are no

[2021-01-08 13:17] stsrki commented on #6269
@leonkosak The work on Blazor server-side is already on-way https://github.com/abpframework/abp/issues/5517

It's a larger change, and it requires a change in ABP core projects so it will probably be a breaking change. Hopefully a minimal change.

[2021-01-08 13:40] ilkayilknur opened #7102 "CMS Kit - Tag System Configuration Changes"
Changes were discussed in a meeting. We will review the design after implementation.

[2021-01-08 13:44] ilkayilknur commented on #4762
This will be done with the next preview of the CMS Kit. Closing.

[2021-01-08 13:44] #4762 closed

[2021-01-08 13:45] ilkayilknur commented on #4932
This will be done with the next preview of the CMS Kit. Closing.

[2021-01-08 13:45] #4932 closed

[2021-01-08 14:38] #6076 closed, assigned to armanozak

[2021-01-08 15:09] hikalkan opened #7104 "Setting RabbitMQ connection in appsettings.json causes consumers to not consume messages"
If we configure rabbitmq connection in the appsettings.json like that:

[code]

This overrides the default connection factory settings and we can not consume messages. This is because ABP sets `DispatchConsumersAsync = true` for the default connection but the setting above resets it.
We will fix this problem in the next version. Currently, if we set it via appsettings.json (or environment variable

[2021-01-08 15:10] #7104 closed, assigned to hikalkan

[2021-01-08 23:40] rygar08 commented on #7099
Thank you. The correct answer for my issue was to use Volo.Abp.Identity.IdentityUser not Microsoft.AspNetCore.Identity

modelBuilder.Entity<MyTable>()
     .HasOne<**Volo.Abp.Identity.IdentityUser**>()
     .WithMany()
     .HasForeignKey(myTable => myTable.UserID);

[2021-01-09 03:20] #7097 closed, assigned to nobody

[2021-01-09 03:22] #7099 closed, assigned to nobody

[2021-01-09 04:30] rygar08 commented on #7099
After adding the above foreignKey relationship I now get this error when inserting the entity.

      The entity type 'IdentityUserLogin' requires a primary key to be defined. If you intended to use a keyless entity type call 'HasNoKey()

So it looks like you can't add Volo.Abp.Identity.IdentityUser foreignKey relationship. ABP this is fundamental stuff, your documentation needs improvement.

[2021-01-09 04:54] rygar08 opened #7105 "How to add a IdentityUser foreign key to an entity?"
How do you add a identityUser foreign key relationship to a custom entity (database table)? I have a 'MyTable' Entity with a foreign key relationship to Volo.Abp.Identity.IdentityUser (the AbpUsers database table)

    Public Class MyTable : Entity<int> {
        public Guid UserID {get; set;}  // this is a foreign key to the identityUser table
    }

In the EntityframeworkCore project in the ...M

[2021-01-09 14:27] vnetonline opened #7106 "Intellisense not working for Blazor"
Intellisense not working for Blazor

![image](https://user-images.githubusercontent.com/15242923/104094091-e7348f00-52e2-11eb-941d-b1187a0653b5.png)

[2021-01-09 16:45] hikalkan commented on #1678
This is resolved like that: When a permission/feature/setting/localization changes, it automatically invalidates the configuration cache, so you get the latest configuration. This is done only for the current user, so you see the changes immediately you do it. Other users still will be affected by the changes after their cache duration expires. Cache time is 5 minutes.

[2021-01-09 16:45] #1678 closed

[2021-01-09 17:13] sebitsi opened #7107 "Wrong UseAbpSwaggerUI implementation"
* Your **ABP Framework version** 4.1

If i deploy ABP project under IIS subfolder like (https://demo.domain.si/test) swagger UI is not working.

I think AbpSwaggerUIBuilderExtensions.UseAbpSwaggerUI is wrong:

[code]

Right implementation should be

[code]
or better

[code]
Look at  [HTML definitions](https://www.w3schools.com/html/html_filepaths.asp). js files should be pointed relatively to fold

[2021-01-09 17:50] #6925 closed, assigned to maliming

[2021-01-09 17:52] #6992 closed, assigned to realLiangshiwei

[2021-01-09 18:02] ebicoglu opened #7108 "Second modal gets behind the first modal in MVC"
There's a problem with showing the subsequent modal.
If we prepend the modal container to the body then the new one is shown behind the old modal.
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js#L59

I click the pick button which opens a new modal. The new modal keeps behin

[2021-01-09 18:06] ebicoglu commented on #7108
already fixed

[2021-01-09 18:06] #7108 closed, assigned to ebicoglu

[2021-01-09 21:36] dicksonkimeu opened #7109 "DISABLE A TENANT"
Assuming that i want to disable/ suspend a tenant - to stop all access into that tenant and lock out all current users and still retain all the data and settings, what should i do ?

[2021-01-10 00:13] tayfunuyar opened #7111 "'Keyword not supported: trusted_connection (Parameter 'keyword')'"
I get this error when I use Postgresql.
can you help me ?
![image](https://user-images.githubusercontent.com/27923376/104111343-cb84b500-52f1-11eb-87e9-666d720fa529.png)

[2021-01-10 01:14] tayfunuyar opened #7112 "is possible seperated tenant with schema in postgresql ?"

[2021-01-10 04:19] #6049 closed, assigned to nobody

[2021-01-10 08:43] maliming commented on #7111
You may need to change the default connection string.
https://github.com/abpframework/abp/blob/20a13d8f9b/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/appsettings.json#L6
https://github.com/abpframework/abp/blob/20a13d8f9b/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/appsettings.json#L3

[2021-01-10 08:43] #7111 closed, assigned to nobody

[2021-01-10 09:00] tayfunuyar commented on #7111
Thank you @maliming I solve problem.

[2021-01-10 10:11] #6956 closed, assigned to nobody

[2021-01-10 17:34] olicooper commented on #6556
I think there is some error handling missing for the `AbpValidationException`. I have noticed the same error when attempting to reset forgot password (/Account/ResetPassword) on the basic template created via the ABP CLI. If you type mismatching passwords in the `Password` and `Confirm password` fields, we get a 500 error instead of a 400 error or 'passwords do not match' alert. According to the [

[2021-01-10 18:55] #7100 closed, assigned to maliming

[2021-01-10 19:14] olicooper opened #7119 "AbpValidationException thrown for ModelState errors on Razor pages"
I have noticed this error when attempting to use the 'reset forgot password' functionality (/Account/ResetPassword) on the basic template created via the ABP CLI. If you type mismatching passwords in the `Password` and `Confirm password` fields, a 500 error is thrown. I would have expected it to throw a 400 error or 'passwords do not match' alert (I would prefer this). According to the ABP docs [h

[2021-01-10 20:19] LFDCC opened #7120 "How does ABP configure read/write separation"
With efcore, read/write separation usually involves configuring a different DbContext, and then using a different DbContext in your business code.But I can't find the relevant encapsulation in ABP. For example, if I want to use iReadOnlyRepository, how can I configure a separate connection string for this repository

[2021-01-10 23:02] #7106 closed, assigned to nobody

[2021-01-11 02:24] maliming commented on #7109
You can consider adding a property to `Tenant `to indicate whether it is enabled. You can check this value in the repoistory.

[2021-01-11 02:25] maliming commented on #7112
* Your **ABP Framework version**.
* Your database provider(EF Core/MongoDB)

[2021-01-11 03:16] realLiangshiwei commented on #7107
Thanks @sebitsi

[2021-01-11 05:23] StevenOwenNell commented on #5558
Hi Guys,

Any idea when this will be looked at?

[2021-01-11 05:59] #6911 closed, assigned to nobody

[2021-01-11 06:01] realLiangshiwei commented on #7105
Try:

Entity:

[code]

DbContextModelCreatingExtensions:

[code]

MyProjectNameDbContext:

[code]

MyProjectNameMigrationsDbContext:

[code]

[2021-01-11 06:01] realLiangshiwei commented on #6911
See https://github.com/abpframework/abp/issues/7105#issuecomment-757641838

[2021-01-11 06:09] #7107 closed, assigned to realLiangshiwei

[2021-01-11 06:13] maliming commented on #7119
Abp did not handle this exception because it was an exception of the page. It return a **page** instead of an **object**.

We can also add an exception message to **Alerts**, but it cannot cover all situations. For example, the return value of a page action is `NoContent`

[2021-01-11 06:26] real-zony commented on #7119
So you can implement the IHttpExceptionStatusCodeFinder interface and replace the default implementation.

[2021-01-11 07:34] real-zony commented on #7120
@LFDCC
You can specify the corresponding DbContext in the warehouse implementation.

[code]

[2021-01-11 07:39] tayfunuyar commented on #7112
I use EF Core. I want to share tenant with schema.  Same database multiple schema for every tenant .
![image](https://user-images.githubusercontent.com/27923376/104155966-45539600-53f9-11eb-88ae-1d04245d0b5c.png)

[2021-01-11 07:54] maliming commented on #7112
If EF Core's DbContext supports to change the scheme at runtime, it may achieve your needs.

[2021-01-11 08:45] VidyaPuri commented on #3638
I managed to succeed in using Windows Authentication for automatic login with ABP.io (commercial) with native and web application. If you are interested make a question on SO and i will answer.

[2021-01-11 08:49] Stirda commented on #3638
@VidyaPuri @emilsjog If so, please share such a SO link, because we are many to hope finding a working implementation.

[2021-01-11 08:57] VidyaPuri commented on #3638
Sure, i was also thinking of writing an article for abp because i know how much i struggled with it, might help somebody

[2021-01-11 08:58] emilsjog commented on #3638
@VidyaPuri It sounds like a good idea for an article about this

[2021-01-11 09:02] #6067 closed, assigned to nobody

[2021-01-11 09:32] xyfy opened #7130 "when add new module using cli to a blank solution,the sln file is not validate"
If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**   :4.1.0 .
* Steps needed to **reproduce** the problem.
  - create a blank sln using `dotnet new sln -n Yun.TestCreateModule`
  - `abp add-module Yun.Abp.TestCreateModule --new --add-to-solution-file`
  - it caught an error,
[code]
  - then I create folder **src** & **test** in the root folder
  -

[2021-01-11 09:35] xyfy commented on #7130
there is another  problem is the **-sp** param has not effective
when I use the command `  abp add-module Yun.Abp.Identity --new -sp src\modules --add-to-solution-file`
it always created in **modules** in the solution root directory.

[2021-01-11 09:41] xyfy commented on #7130
I want to create a micro-service solution ,  so I want to create a blank solution

[2021-01-11 09:44] ebicoglu opened #7132 "Api Documentation page doesn't work"
Placeholder not populated

![image](https://user-images.githubusercontent.com/9526587/104165607-a59f0380-540a-11eb-8c26-6c715615a3a7.png)

![Kapture_2021-01-11_at_11 44 44](https://user-images.githubusercontent.com/9526587/104165768-e434be00-540a-11eb-9df0-0438c5231465.gif)

[2021-01-11 10:07] xyfy commented on #6247
can anyone know the reason?

[2021-01-11 10:18] aelhadi commented on #6247
Hello,

I think you need to clear your browser cache...

Le lun. 11 janv. 2021 à 11:08, xyfy <notifications@github.com> a écrit :

[2021-01-11 10:23] xyfy commented on #6247
I don't want to re-login after the identity-server rebooted , if there is something cache in memory,I want to save it in the redis.

but I had not found the reason that why the token is invalid after restart the identity-server

[2021-01-11 10:38] tayfunuyar commented on #7112
Thank you I will try. @maliming

[2021-01-11 10:38] #7112 closed, assigned to nobody

[2021-01-11 11:07] armanozak opened #7136 "Angular Docs: Add Info on Authorization"

[2021-01-11 11:10] gterdem opened #7137 "Identity-Module: Repositories have missing virtual methods"
Identity Module Efcore and Mongodb repositories have missing virtual methods preventing overriding.

[2021-01-11 12:17] #7137 closed, assigned to gterdem

[2021-01-11 13:07] zfeihong commented on #7097
[code]
I use MailKit test Fail as shown below:
[code]
doc It's not very detailed

[2021-01-11 14:01] mohammed3296 commented on #1911
I also run into this problem

[2021-01-11 15:39] armanozak opened #7145 "Angular UI: Make ErrorHandler Customizable"

[2021-01-11 17:57] lukebooroo opened #7147 "Issues with Hangfire after 4.1.0"
Volo.Abp.BackgroundJobs.HangFire

Since updating to 4.1.0 from 4.0.2. I'm getting an issue where there seems to be no scope and there's no access to injected dependencies.

![image](https://user-images.githubusercontent.com/3911526/104219367-ea8c5f80-5435-11eb-8390-583861bdb2fc.png)

[2021-01-11 21:39] NecatiMeral opened #7149 "Feature - Consul integration for remote services"
Hi,

I would like to discuss the idea behind a consul integration to retreive remote services configuration from consul.
The idea behind this is a more flexible system for the `Volo.Abp.Http.Client` library to get remote service configuration on runtime.

My first thoughts are:
- Create a `Volo.Abp.AspNetCore.Mvc.Consul` package (registering services to consul)
- Create a `Volo.Abp.Http.Client.Con

[2021-01-11 23:15] tayfunuyar opened #7150 "I take error when get token"
![image](https://user-images.githubusercontent.com/27923376/104249180-f1d65c00-547b-11eb-8c42-f43d20c6368c.png)

[2021-01-12 01:07] maliming commented on #7147
Do not use `async void`, You can consider using `AsyncBackgroundJob`.

![image](https://user-images.githubusercontent.com/6908465/104256141-9628c480-54b5-11eb-84b3-0fa81f2d0d0e.png)

[2021-01-12 01:09] maliming commented on #7150
Check the application logs please.

[2021-01-12 01:14] maliming commented on #7097
You can test with plain `SmtpEmailSender ` and `mailkit` then try to integrate abp.

[2021-01-12 01:58] zfeihong commented on #7097
Still not,The commercial version can't send text messages all the time, nor can I do it according to the documents. I'm going to cry

[2021-01-12 02:26] tang-butian opened #7152 "Override the error popup windows in Angular"
![image](https://user-images.githubusercontent.com/27254047/104261235-0f2d1980-54c0-11eb-8120-8af18becc1ec.png)
How can I override the RestService error handling;  Is not disabled

[2021-01-12 02:46] realLiangshiwei opened #7153 "Set returnUrl for Web.Host account management button"

[2021-01-12 03:01] #7153 closed, assigned to realLiangshiwei

[2021-01-12 05:05] maliming commented on #7097
hi See https://github.com/abpframework/abp/issues/7097#issuecomment-758327814

[2021-01-12 05:16] mperk commented on #281
Hey hikalkan,
Do you think to get a plan this issue in soon?

[2021-01-12 05:29] mfaulcon opened #7156 "How to add application an application module when targeting Angular UI"
A start-to-finish example of adding a module (i.e. the Docs module) to an ABP solution that targets Angular for the UI, including the steps to integrate the npm packages and any other configuration on that side that needs to be done would be great. Even better would be some form of chart or list of which modules have an available Angular UI component.

[2021-01-12 05:43] realLiangshiwei commented on #7156
See https://docs.abp.io/en/abp/latest/UI/Angular/Feature-Libraries

[2021-01-12 07:09] #7132 closed, assigned to yekalkan

[2021-01-12 07:44] gentledepp commented on #6126
well, to be honest. I did go through the documentation and did not find any hint as to why abp implements this "everything within one transaction" approach.

If at least any one of the core team could comment on that?
Maybe we do overlook something here and it totally makes sense... kind of... 🤷‍♂️

After all: If this is not well thought through, you will end up with an inconsistent state across m

[2021-01-12 07:45] #6874 closed, assigned to bnymncoskuner

[2021-01-12 07:57] evenlee opened #7158 "Question: How to limit identityserver client to specific tennant"
We want to give each tenant a unique client id and secret.

my thought is to use a new table to save the relation between tenant and client, and override identityserver validation, is that possible?

[2021-01-12 07:59] zcw729721652 commented on #6301
pls, Could you tell me how can u fix this bug. I have same question.

[2021-01-12 08:13] PooriaShariatzadeh opened #7160 "angular generate-proxy lack of $ syntax"
### GitHub Issues

in angular ui after we generate proxy some methods for passing params need $ syntax.

getServiceByServiceUniqueId = (ServiceUniqueId: string) =>
    this.restService.request<any, Service>({
      method: 'GET',
      // url: `/api/app/tourist-panel/service/{ServiceUniqueId}`,  this is generated by proxy
      url: `/api/app/tourist-panel/service/${ServiceUniqueId}`,// it must be

[2021-01-12 08:14] maliming commented on #7158
You can try it, you can also change the source code of the Identity Server module as needed.

[2021-01-12 08:14] #7158 closed, assigned to nobody

[2021-01-12 08:15] maliming commented on #7160
* Your **ABP CLI version**.
* Steps needed to **reproduce** the problem.

[2021-01-12 08:25] PooriaShariatzadeh commented on #7160
ABP CLI version: 4.1.0
1-serverside is run ok
2-abp generate-proxy
3-generated proxy has not connected with API on some proxy's
[code]

edited to

[code]
just add $ to `{ServiceUniqueId}` like `${ServiceUniqueId}`
after editing its work like a charm

[2021-01-12 08:45] maliming commented on #7160
hi @PooriaShariatzadeh

Can you provide a project that reproduce the problem?

[2021-01-12 09:19] PooriaShariatzadeh commented on #7160
it's a simple problem I don't get why you want the whole project?

[2021-01-12 09:24] PooriaShariatzadeh commented on #7160
and I solved it already. I just don't want every time I do generate-proxy in angular side open proxies and edit it
if you just assigned it to someone who knew the angular side he/she can fix it eminently

[2021-01-12 09:25] maliming commented on #7160
You can create a project with CLI then try to reproduce the problem.

[2021-01-12 09:43] PooriaShariatzadeh commented on #7160
https://filebin.net/4i92kttil0gr5fdg/_problem.rar?t=i0uzz5rm

problem is in : angular\src\app\proxy\problem-demo.service.ts

[2021-01-12 09:47] realLiangshiwei opened #7161 "Use cache to store current user roles"
Use cache or other ways to store user roles instead of claims

[2021-01-12 11:12] armanozak opened #7163 "Angular UI: Improve extensibility system to allow additional page content in built-in modules"
<img width="1263" alt="extensible-content-areas" src="https://user-images.githubusercontent.com/15855540/104307125-e87edb00-54df-11eb-92b9-58063823328c.png">

- Will work like page toolbar extensions
- Including/excluding table as a contributor will be discussed

[2021-01-12 12:00] bnymncoskuner opened #7166 "[Angular UI] add docs about page alerts in angular"

[2021-01-12 12:03] #7136 closed, assigned to armanozak

[2021-01-12 12:29] #7087 closed, assigned to mehmet-erim

[2021-01-12 12:38] lukebooroo commented on #7147
Thanks for that, seems to have done the trick!

[2021-01-12 12:38] #7147 closed, assigned to nobody

[2021-01-12 12:42] mehmet-erim commented on #7152
Hello,

You can override the [`ErrorHandler`](https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts) easily.

1. Create a new service. You can create as the following command:

[code]

2. Add a provide to the `AppModule` as shown below:

[code]

ErrorHandler can be overridden in just 2 steps. You can copy the [error.handler.ts`](https://g

[2021-01-12 13:10] #7160 closed, assigned to armanozak

[2021-01-12 13:10] armanozak commented on #7160
This will be available as of v4.1

[2021-01-12 13:32] PooriaShariatzadeh commented on #7160
@armanozak  thanx for your reply and commitment

[2021-01-12 13:46] tayfunuyar opened #7173 "AbpUsers open new account same mail."
Hi,

I can open more than one user to the AbpUsers table with the same mail.How to disabled it ?

![image](https://user-images.githubusercontent.com/27923376/104321944-57b2fa00-54f5-11eb-90b1-1dd4ed9d8eca.png)

[2021-01-12 13:48] ZouZou opened #7174 "Migrations is missing in EntityFrameworkCore.DbMigrations"
Hello,

I am downloading a new application
* ABP version 4.1.
* User Interface is Angular
* EF Core

In order to reproduce the error, all you need to do is install a new project
Run the project dbMigrator and you will get that there is an error, the table "AbpSettings" is missing
in previous projects, there was a folder called Migrations under the project EntityFrameworkCore.DbMigrations; however,

[2021-01-12 13:57] #7166 closed, assigned to bnymncoskuner

[2021-01-12 14:13] maliming commented on #7173
I guess they`TenantId` is different.

[2021-01-12 14:54] tayfunuyar commented on #7173
Yes but I disabled multitenancy selection.  After disabled multitenancy selection can't login system.

[2021-01-12 15:34] laosandegudai commented on #6571
yes ,i met the same problem.I dont find it in  the service and api.
i custom `IAuditPropertySetter`  and add  `Creator`,but i found  ` CurrentUser.Name` is null.
![image](https://user-images.githubusercontent.com/17979159/104335615-80a3b100-552e-11eb-88ec-4c68c7c54305.png)

[2021-01-12 18:02] EslamElmadny opened #7176 "Failed to login to swagger as tenant"
Hello,

I'm using **abpio** version 3.2.1 .net core with angular and ef core (without identity server module).

I'm trying to login to swagger as tenant using `/api/account/login` but it doesn't accept tenantid or name as previous version of abp ..

![image](https://user-images.githubusercontent.com/38657564/104354129-6b6c5980-5511-11eb-8423-6e7330c95151.png)

I've tried to simulate request which

[2021-01-12 18:04] abdumostafa commented on #7176
I have the same issue

[2021-01-12 19:00] nebula2 commented on #7174
Same here. Worked around it by simply creating a migration myself by calling
`Add-Migration "chilli_vanilli"` inside the Package Manager Console (Visual Studio)

[2021-01-12 21:42] mfaulcon commented on #7156
I tried the instructions on this page with two different modules (docs and blogging). Unfortunately, steps 2 and 3 do not work with these modules.

[2021-01-13 00:08] olicooper commented on #7119
So throwing a 500 error code is intended behaviour when a user types mismatching passwords in to the forgot password form?
The [exception handling doc](https://docs.abp.io/en/abp/4.0/Exception-Handling#validation-errors) suggests that the `AbpValidationException` should be handled with a 400 error.

I have overridden the `DefaultHttpExceptionStatusCodeFinder` but the `GetStatusCode` method is neve

[2021-01-13 00:10] tayfunuyar commented on #7174
Your problem with about prefix.
Did you change the prefixes?  @ZouZou

[2021-01-13 00:21] ThreeLambs commented on #7098
Have you found the problem？

[2021-01-13 00:59] maliming commented on #7173
This is by design, you should process data after you disable/enable multi-tenancy.

[2021-01-13 00:59] #7173 closed, assigned to nobody

[2021-01-13 01:02] tang-butian commented on #7152
Thank you very much

[2021-01-13 01:02] #7152 closed, assigned to mehmet-erim

[2021-01-13 01:15] realLiangshiwei commented on #7156
Docs and Blogging module does not support angular UI yet. only MVC UI.

[2021-01-13 01:33] maliming commented on #7176
You can try the latest template project.

[2021-01-13 03:12] hexianggui commented on #6956
How do you solve it?I have the same problem

[2021-01-13 05:37] #6902 closed, assigned to nobody

[2021-01-13 05:40] leonkosak commented on #6928
Resolved after updated code for extensions: https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

P.S.: @ebicoglu please add updated date info. Thank you.

[2021-01-13 05:40] #6928 closed, assigned to nobody

[2021-01-13 06:12] leonkosak commented on #5517
Because Blazor WASM project is currently not usable for production deployments, I have few questions regarding Server-Side option.

1) When creating new abp or abp Commercial will there be new GUI option added (besides MVC, Angular, Blazor (wasm)) or will this be configurable through backend initialization code?

2) If Blazor WASM and Blazor Server-Side GUI options will be separated, how much effo

[2021-01-13 06:25] ZouZou commented on #7174
@tayfunuyar  Can you please be more specific what do you mean by prefix?
Because @maliming deemed this as an issue

[2021-01-13 06:48] maliming commented on #7174
HI @ZouZou

You can create the project via CLI for now.

https://abp.io/get-started

![image](https://user-images.githubusercontent.com/6908465/104416233-6c9f9400-55ae-11eb-9a58-e26c9813ead9.png)

[2021-01-13 06:54] ZouZou commented on #7174
Thank you @maliming

[2021-01-13 07:42] #7150 closed, assigned to nobody

[2021-01-13 07:51] yekalkan commented on #7174
Hi everyone,

This problem on abp.io/get-started will be fixed in several days. Thanks you for reporting.

[2021-01-13 07:51] #7174 closed, assigned to yekalkan

[2021-01-13 08:16] tayfunuyar opened #7178 "Add Custom Property in Tenant"
Hi ,
How do I add a new property in Tenant table ?

[2021-01-13 08:17] #6968 closed, assigned to hikalkan

[2021-01-13 08:22] realLiangshiwei commented on #7178
See https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities

[2021-01-13 08:49] ilkayilknur commented on #6519
I'm changing the milestone to 4.3 preview since we don't use the page header component on the open-source side. We will add the component with the UI extensions implementation.

[2021-01-13 08:55] Rwing opened #7179 "blogstoring: throw exception if not set BucketName"
step1
[code]

step2
`
 await _blobContainer.SaveAsync(FileName, Content);
`
It will got a exception: Could not find the configuration value for  MInio.BucketName.
But here's what the docs says:

https://docs.abp.io/en/abp/latest/Blob-Storing-Minio

I'm not sure if the same problem exists with other providers(aws etc..).

[2021-01-13 08:58] realLiangshiwei commented on #7179
Fixed by https://github.com/abpframework/abp/pull/6885

[2021-01-13 08:58] #7179 closed, assigned to nobody

[2021-01-13 11:15] viewtance opened #7183 "Asp.net MVC datatable pagination number list not wrapping line on small screen devices"
* Your **ABP Framework version**: 4.1.0
* Your **User Interface** type : MVC
* Steps needed to **reproduce** the problem:
1, Open any page with a datatable data binding
2, Use the browser development tool, check the html of pagination wrapper of the dataTable_footer container
3, There are 3 columns to display the pagination info, the last column should use "col-auto" css tag attribute as other 2 c

[2021-01-13 12:49] #6847 closed, assigned to cotur

[2021-01-13 12:51] tayfunuyar commented on #7178
Thank you for comment I will try it . @realLiangshiwei

[2021-01-13 12:51] #7178 closed, assigned to nobody

[2021-01-13 13:29] Xeevis commented on #6673
I may be late to the conversation, but I don't see any benefit to bundling, if anything it makes everything worse. WebAssembly's greatest performance asset is **caching**. Thanks to **HTTP/2 HTTP/3** protocols all assets are downloaded in parallel and blazor.boot.json keeps track of SHA hashes of all downloaded assets to make sure only what has changed is redownloaded on update. And this is furthe

[2021-01-13 15:25] shessane commented on #6999
Hello,
Same here : abp new PocAbp --ui none --separate-identity-server -v 4.4.0
...
[16:23:55 INF] Downloading template: app, version: 4.4.0
Error occured while downloading source-code from https://abp.io/api/download/template/ : '<' is an invalid start of a value. Path: $ | LineNumber: 0 | BytePositionInLine: 0.
[16:23:57 ERR] '<' is an invalid start of a value. Path: $ | LineNumber: 0 | BytePosi

[2021-01-13 15:26] olicooper opened #7188 "Remove EF warning logs 'The query uses a row limiting operator'"
Since .NET 5, Microsoft has un-obsoleted the [CoreEventId.FirstWithoutOrderByAndFilterWarning](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.diagnostics.coreeventid.firstwithoutorderbyandfilterwarning?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(Microsoft.EntityFrameworkCore.Diagnostics.CoreEventId.FirstWithoutOrderByAndFilterWarning);k(DevLang-csharp)%26rd%3Dtrue&vi

[2021-01-13 15:54] realLiangshiwei commented on #7188
Thanks, I will check it out.

[2021-01-13 16:15] olicooper commented on #7188
I've just done some testing and `SingleOrDefault` doesn't change anything, but changing the query to
`(await WithDetailsAsync()).OrderBy(x => x.Id).FirstOrDefaultAsync` stops the warning appearing.
~It would be nicer if we could order by `CreationTIme` when possible like `.OrderBy(x => ((Volo.Abp.Auditing.IHasCreationTime)x).CreationTime)`~ ... Actually if we are just searching for a single record

[2021-01-13 16:22] angelcalvasp opened #7189 "Quartz Background Job not serializing Job Args"
### ABP Version

3.3.1

I am using Quartz.net for background jobs management

I am queing a new job like so

[code]

but I am getting the following error

Couldn't store job: JobDataMap values must be strings when the 'useProperties' property is set.  Key of offending value: TArgs
Quartz.JobPersistenceException: Couldn't store job: JobDataMap values must be strings when the 'useProperties' propert

[2021-01-13 16:57] robbiecourtney opened #7191 "Cli new and https://abp.io/get-started are not working"
**ABP Framework version = 4.1.1**
**Project Type = Application**
**UI Framework = Blazor**
**Database provider = EF Core**

Hi,

I'm trying to create a new project using the information listed above.  I tried to create the project using the direct download option at https://abp.io/get-started.  When I click the Create now button I get a 500.

I also tried the Cli new command to create the project

[2021-01-13 18:35] espindl opened #7196 "Can format or resolution of datetime typed input in dynamic form be changed?"
ABP Framework version : 4.0.0.
MVC

Datatype.Datetime input in dynamic form shows seconds and milliseconds. Can we changed this behaviour? Maybe only hour and minutes?

[code]

![date](https://user-images.githubusercontent.com/2400925/104494144-fad74280-55cd-11eb-8e4c-fd0ca8954ef5.png)

[2021-01-13 18:39] #6688 closed, assigned to nobody

[2021-01-13 19:04] jaken1986 commented on #7191
Also seeing this issue currently.

[2021-01-13 20:19] #6906 closed, assigned to realLiangshiwei

[2021-01-13 20:57] #7006 closed, assigned to yekalkan

[2021-01-13 21:22] slm-w opened #7199 "Import excel data abp framework"
Hello

Does abp have import data from excel example ?

Thank you.

[2021-01-13 21:36] davidzwa commented on #7188
I posted this issue with the same topic. It was closed, but it would be nice to see why.
https://github.com/abpframework/abp/issues/6981

[2021-01-13 21:37] davidzwa commented on #7199
Duplicate of https://github.com/abpframework/abp/issues/6987
For the rest I've implemented it using a csv importer library called `CsvHelper`. The rest is up to you until the example is published.

[2021-01-13 22:39] roupijiaojiaobao opened #7200 "Can't Create a New Solution"
Hi guys, I'm having trouble creating a project in version 4.1.1。
Downloading either directly or by command will result in an error
![微信截图_20210113173552](https://user-images.githubusercontent.com/64553587/104518704-1b030380-55c6-11eb-8df1-5b9ab62b8db3.png)
![微信截图_20210113173515](https://user-images.githubusercontent.com/64553587/104518706-1b9b9a00-55c6-11eb-9b4d-66eef948e52c.png)

[2021-01-13 22:40] roupijiaojiaobao commented on #7200
Downloading either directly or by command will result in an error

[2021-01-13 23:45] Gitvazonline commented on #7191
Also getting this issue.