[2020-01-07 12:28] maliming commented on #2575
this has nothing to do with abp，it is related github.；)

[2020-01-07 12:31] #2568 closed

[2020-01-07 12:39] SphinxGraph commented on #1695
Hi @maliming,

thanks for your example. The underscore really killed me, but it works now as intended.

[2020-01-07 13:42] mehdihadeli opened #2576 "Circular dependency detected in angular core module"
Hi,
I copy abp core module folder in my angular project because I want to customize that, but I got this warring in my project
https://github.com/abpframework/abp/tree/dev/npm/ng-packs/packages/core/src/lib

[code]

[2020-01-07 14:32] xewn commented on #2401
@zhchlmm   abp vnext是通过引用client api工程的dll的方式，以远程服务的方式来调用另外一个服务的。也就是A服务依赖了B服务，A服务要升级abp vnext的办法时，就必须先把B服务的abp vnext的版本升级。

[2020-01-07 14:36] gxlqssjf commented on #2575
那
图片这种现在应该怎么用?

图片
public static IServiceCollection AddSingleton(this IServiceCollection services, TService implementationInstance) where TService : class;

改成什么样了?

https://github.com/abpframework/abp/issues/2575#issuecomment-571566044
那
图片这种现在应该怎么用?

图片
public static IServiceCollection AddSingleton(this IServiceCollection services, TService implementationInstance) where TService : class;

改成什么样了

[2020-01-07 14:46] hikalkan opened #2577 "Consider to use Fody ConfigureAwait library instead of manual ConfigureAwait calls."
For v2.0, we've merged https://github.com/abpframework/abp/pull/2500 to not introduce a new dependency to the build pipeline.
However, we know that it brings additional complexity to the development. We will consider to use the Fody ConfigureAwait library to automate it.

[2020-01-07 17:59] hikalkan commented on #2554
You can implement all the scenerious you've written. However, all of them are custom solution structures and you need to implement it yourself by understanding the IDS4 and the permission system. If you have specific question on your implementation, we try to help. But we can not design solutions for everyone's custom requirements you know :)

[2020-01-07 17:59] #2554 closed

[2020-01-07 18:07] hikalkan commented on #2576
I am not sure but it may be because other modules still use the npm package.
BTW, check the [licensing ](https://github.com/abpframework/abp/blob/dev/LICENSE) if you want to copy a framework code into your private solution.

[2020-01-07 19:20] mkmita opened #2578 "New module automapper dependency injection error working"
Module automapper not working and giving autofac dependency injection error.

To make it work I made changed in file TestModuleWebModule.cs
changed code below
[code]
to this
[code]

not sure this is bug or not but its very annoying when you having a framework and templates are not working out of the box

[2020-01-07 20:34] mehdihadeli commented on #2576
@hikalkan ok sure , I had to do that because customizing angular modules was hard

[2020-01-08 01:27] derily commented on #2570
the reason of my problem is because i use `Configure<AbpDbContextOptions>(options=>{options.UseMySQL<BookStoreDbContext>();})` what difference with `options.UseMySQL();`

[2020-01-08 02:12] gxlqssjf commented on #2575
谢谢,应该发这一段给我
using System;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.Configuration;
using Microsoft.Extensions.DependencyInjection.Extensions;
using Microsoft.Extensions.Hosting;
using Volo.Abp.Configuration;

namespace Microsoft.Extensions.DependencyInjection
{
    public static class ServiceCollectionConfigurationExtensions
    {
        [Obsolete]
        public static

[2020-01-08 02:40] maliming commented on #2570
`UseMySQL` specifies configuration for all DbContext.

`UseMySQL<BookStoreDbContext>` specifies the configuration for `BookStoreDbContext ` only.

[2020-01-08 02:40] #2570 closed

[2020-01-08 06:18] wjkhappy14 commented on #2536
app.UseAuthentication();
 app.UseJwtTokenMiddleware();

[2020-01-08 07:01] hikalkan opened #2579 "Use Contextualized object mapper for the module template"

[2020-01-08 07:02] #2579 closed

[2020-01-08 07:04] hikalkan commented on #2578
Could not repeat with the current template source code (on the dev branch). What is your ABP version? Also, please share your stacktrace in such cases.

[2020-01-08 07:08] #2459 closed

[2020-01-08 07:41] maliming commented on #2562
hi @mkmita

These steps are vague and it is most likely the problem.
Can you share a problem project?

[2020-01-08 08:05] maliming commented on #2578
Has it been fixed by https://github.com/abpframework/abp/commit/474fc95824405143e02e84d696c5654b0c26bbaf?

[2020-01-08 08:43] hikalkan commented on #2578
No. Please try with a template downloaded with the latest version from abp.io web site.

[2020-01-08 09:13] derily opened #2580 "how to debug into abp source code when reference abp in my own project?"

[2020-01-08 09:15] derily commented on #2580
any one can help me ,many thanks !!^_^

[2020-01-08 09:15] maliming commented on #2578
hi @mkmita
Couldn't reproduce your problem, Please share more details.
Are you trying to inject `IObjectMapper<>`?
Do you read the documentation of the **Object-To-Object-Mapping**?
https://docs.abp.io/en/abp/latest/Object-To-Object-Mapping

Error stack info are always more helpful than text descriptions.

[2020-01-08 09:24] maliming commented on #2580
Duplicate of #1039

[2020-01-08 09:24] #2580 closed

[2020-01-08 09:47] gdlcf88 commented on #2580
IDE recommendation: Jetbrains Rider. 😃
You can debug into abp framework without any configuration, and it is better than VS in performance.

[2020-01-08 11:50] desenv2hs opened #2581 "Mobile with ABP"
I need write a mobile app.
My scenario is this: Mobile with the same business rules as the web, we would like to save data to mobile offline. But for that the ABP would have to be .NetStandard instead of .NetCore.
Will ABP have a .NetStandard version to use on Mobile?

[2020-01-08 12:03] yekalkan opened #2582 "[Docs module] MarkdownDocumentToHtmlConverter miscatches the links"

[2020-01-08 12:03] #2582 closed

[2020-01-08 12:03] Gosha24 opened #2583 "Serilog.Extensions.Hosting"
Hello . In your framework you are using package Serilog.Extensions.Hosting., while in Serilog.Extensions.Hosting documentation it is written: ASP.NET Core applications should consider using Serilog.AspNetCore instead, which bundles this package and includes other ASP.NET Core-specific features.
Can you comment on this?

[2020-01-08 12:16] obassullu opened #2584 "Windows authentication not working"
I can't login when i tried windows authentication in template project.  I can see windows button as below . I didn't receive any warning when I click this button . I have seen "Authorization failed." in log file . I have added log file of identity server project .

![winauth](https://user-images.githubusercontent.com/1825965/71975852-0eff9b80-3226-11ea-8c61-8f9fceef1477.PNG)

[logs.txt](https://gi

[2020-01-08 12:17] maliming commented on #2583
It looks like we need to replace it with `Serilog.AspNetCore`.

[2020-01-08 12:48] hikalkan opened #2585 "Remove the angular folder on module project creation with --no-ui option"

[2020-01-08 12:55] gdlcf88 commented on #2577
Does it mean that `ConfigureAwait(false)` is automatically added to my codes too?

[2020-01-08 12:56] hikalkan opened #2586 "Module Startup template document should also explain the Angular UI"
This document: https://docs.abp.io/en/abp/latest/Startup-Templates/Module

[2020-01-08 13:07] duard-sf commented on #2569
I have completed the implementation and most of the testing, and have found that, since I have been using the newly-created `DatabaseLocalizationResourceContributor`, fetching the application configuration from the `api/abp/application-configuration` endpoint takes about 15 seconds.

Troubleshooting this, I found that the `Fill` method on my `DatabaseLocalizationResourceContributor` is called 58 t

[2020-01-08 13:08] danielmeza commented on #382
@leonkosak I agree with you, further more, the swagger implementation its not complete, cause the documentation code are not mapped to the generated controller when service are exposed throw the api.

So if something is done for this it should keep the c# documentation standard and avoid the use of custom attributes to document the code, and use the attributes only for stuffs that can't be describ

[2020-01-08 13:31] maliming commented on #2569
hi
You should cache the `messages`, and remember to change the cache when `LocalizedMessage `changes.
[code]

`RemoteLocalizationContributor `uses `ICachedApplicationConfigurationClient(_applicationConfigurationClient)` to get configuration information. As you can see from the name, it uses cache. ; )

https://github.com/abpframework/abp/blob/0860f54e5ad4b4bdb7d10f87a57f3b33f880d5d8/framework/src/

[2020-01-08 14:21] MROALI commented on #2481
Thankyou @maliming i am gona refer to the basictheme project in order to personnalise the theme.

Otherwise do you have any idea about  ;
how to redirect tenant by referring to domain name or multiple domain name... (can we add in the settings a domains parameters related to tenant).

[2020-01-08 15:30] HenroOnline commented on #2509
I have the same error message, I followed the steps from the tutorial. I did not create a project through the CLI but downloaded from the website.

[2020-01-08 16:05] Alexbits opened #2588 "IdentityUserManager.CreateAsync with TenantId"
Hi. I'm trying to create custom ```AccountAppService``` which will use the ```TenantAppService``` to create new tenant and set a tenant id inside ```RegisterAsync(RegisterDto input)```. It returns Success after ```UserManager.CreateAsync``` but nothing is added to the database. When I create ```IdentityUser``` without specifying ```tenantId```, the user and tenant are added to the database.

[code

[2020-01-08 16:28] olicooper opened #2590 "Password max length limit on Angular application"
Is this because of a design restriction such as the hard limit of 256 characters in the database _PasswordHash_ field?

Could we remove the limit or increase it maybe?

https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/identity/src/lib/components/users/users.component.ts#L147

[2020-01-08 17:12] Alexbits commented on #2588
I forgot to add that ```UnitOfWorkManager.Current``` fails with ```null``` exception

[2020-01-08 17:14] #2585 closed

[2020-01-08 18:05] mkmita commented on #2578
@maliming software was not able to resolve mapper in mvc module PageModel.

[2020-01-08 18:08] mkmita commented on #2562
@maliming i can try create one when i have time.

[2020-01-08 18:44] olicooper opened #2591 "Can't seed permissions due to project dependencies/structure"
I have created a `MultiTenancyDataSeedContributor : IDataSeedContributor` and I want to be able to create another role in the system with a pre-defined set of permissions whenever a new tenant is created.

I need access to the [MyProjectNamePermissions](https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Application.Contracts/Permissions/MyProject

[2020-01-08 19:44] vd3d opened #2592 "Documentation error - with solution ;-)"
in the following page :
https://docs.abp.io/en/abp/latest/Virtual-File-System

It claims that I have to add this into the .csproj file :

[code]

But I had to use this to make it work :

[code]

Please, update the documentation ;-)

[2020-01-08 21:11] wildest commented on #2592
FYI if you click Edit in the top right hand corner of the document it will push you to the file in github where you can fork and edit the file and commit it back in.

[2020-01-08 21:21] gdlcf88 opened #2593 "HeaderTenantResolver and RouteTenantResolver cannot resolve by tenant name"
![image](https://user-images.githubusercontent.com/30018771/72017038-d9979400-329f-11ea-8327-c1a462630ab1.png)
![image](https://user-images.githubusercontent.com/30018771/72016985-bc62c580-329f-11ea-88ce-711c030ad239.png)
![image](https://user-images.githubusercontent.com/30018771/72016648-2890f980-329f-11ea-8c58-0ff4ddd6bfc9.png)

I didn't test `CookieTenantResolver` and `DomainTenantResolver`.

[2020-01-09 01:44] maliming commented on #2592
Fix by https://github.com/abpframework/abp/commit/201f08856482930649f1bbc406e7088db7a76183

[2020-01-09 01:44] #2592 closed

[2020-01-09 01:50] maliming commented on #2578
Can you share the stack of exception? ( ´･･)

I think you can easily use abp cli to create a project that reproduces the problem, please share it if possible.

If there is a problem with the template, we will fix it in the 2.0 milestone. Thanks.

[2020-01-09 01:59] derily commented on #1039
![企业微信截图_15785350951581](https://user-images.githubusercontent.com/12644993/72031184-93a1f680-32c6-11ea-99f9-39231a286fb0.png)

[2020-01-09 02:28] maliming commented on #2588
hi @Alexbits
First, please **do not** inject and use other application services in application services.

Please share detailed exception stack information, it will be in the log.

[2020-01-09 02:38] maliming commented on #2591
I think since your service(`MultiTenancyDataSeedContributor`) is related to permissions, then you can put it in the application service layer.
`IDataSeedContributor `can be implemented in any layered module.

But there may be other better solutions.

[2020-01-09 02:50] gxlqssjf opened #2594 "abp.io"
abp.io网站不能注册

[2020-01-09 02:54] maliming commented on #2594
Duplicate of #2035

Please discuss in English, thanks.

[2020-01-09 02:54] #2594 closed

[2020-01-09 03:00] gxlqssjf commented on #2594
I do not register in abp.io

[2020-01-09 03:01] gxlqssjf opened #2595 "I do not register in abp.io"
I do not register in abp.io

[2020-01-09 03:06] maliming commented on #2593
It cannot be reproduced on the `dev `branch.
Please distinguish the case of the tenant name if the database requires it.

![image](https://user-images.githubusercontent.com/6908465/72034338-b684d880-32cf-11ea-83b8-3ede8eef3ea5.png)

![image](https://user-images.githubusercontent.com/6908465/72034393-d4523d80-32cf-11ea-8ada-9ee99827441f.png)

[2020-01-09 03:28] maliming commented on #2584
hi @obassullu Can you share the steps to reproduce the problem?

[2020-01-09 03:34] johnnba commented on #2546
dear @acjh  : it's sorry so late to upload the project.
the related project is here:
https://github.com/johnnba/simpleAbpNextMysqlDemo.
sincere thanks

[2020-01-09 04:24] duard-sf commented on #2569
Oh I missed that it uses `ICachedApplicationConfigurationClient`! Thanks for the help, I will reply with cache implementation once it has been finished and tested.

[2020-01-09 05:11] maliming commented on #2546
Please move the dependent modules and configuration code in `BackgroundJobTaskModule `to `MysqlDemoWebModule`.

You have defined a `BackgroundJobTaskModule  `module but it is not used. Please check the documentation for more framework information. https://docs.abp.io/en/abp/latest/

https://github.com/johnnba/simpleAbpNextMysqlDemo/blob/master/src/MysqlDemo.Web/BackgroundJobTaskModule.cs#L24

[2020-01-09 05:11] #2546 closed

[2020-01-09 05:43] johnnba commented on #2546
@maliming  but how to explain that without IEmailSender injection ,the background job worked well?
i think that the `BackgroundJobTaskModule `  has been registered by the abp framework?

[2020-01-09 05:53] maliming commented on #2546
No.

Because your DomainModule depends on it.
`MyProjectNameDomainModule=>AbpBackgroundJobsDomainModule=>AbpBackgroundJobsModule`

https://github.com/abpframework/abp/blob/9f0347fae807fd00db98f2bc7329099960d68f95/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/MyProjectNameDomainModule.cs#L19

[2020-01-09 06:00] ismcagdas commented on #2595
@gxlqssjf might be related to your password. Could you try with a password which contains an uppercase letter and a special letter like Axxxxxxxx! ?

[2020-01-09 06:26] gxlqssjf commented on #2595
Then it should  display a tip

[2020-01-09 06:27] gxlqssjf commented on #2595
I try later

[2020-01-09 06:28] gdlcf88 commented on #2593
I found the true problem. Please try with a Chinese tenant name. @maliming

[2020-01-09 06:31] gxlqssjf commented on #2595
That is OK!Thanks

[2020-01-09 06:50] maliming commented on #2593
This has nothing to do with ABP, please refer to Microsoft's discussion.

https://github.com/dotnet/aspnetcore/issues/4727

[2020-01-09 06:56] #2593 closed

[2020-01-09 08:27] johnnba commented on #2544
@hikalkan  thanks, with the injection of  IConfiguration  service,  i can get the configuration value.
but if there is some other way  to get the key-value settings defined in the configuration with the injection of  `ISettingManager` , i see that the setting usage will be more flexible.

[code]
sorry to ask the question, i can get the configured value via the `ISettingProvider ` service  inject,

[2020-01-09 08:38] Alexbits commented on #2588
Hi @maliming, I agree, it's a bad way to do it. Thanks.

I get same result when injecting ```ITenantAppService``` along with IAccountAppService into the ```AccountPageModel``` and using it inside ```PostAsync``` method.

[code]

I don't get any errors in the log. Only the following line ```Added 0 entity changes to the current audit log``` multiple times. I don't get these lines in the log when ``

[2020-01-09 08:46] maliming commented on #2588
hi @Alexbits Can you share a project that simply reproduces the problem?

[2020-01-09 08:51] Alexbits commented on #2588
Hi @maliming. It's no in the state for sharing at the moment. I'll figure out something. Maybe there is better way to do what I need? I mean registering a new user as a new tenant?

[2020-01-09 09:17] maliming commented on #2588
Create a new tenant and create a new user for it.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Pages/Index.cshtml.cs#L3
[code]

[2020-01-09 09:37] Tim1104 commented on #956
I'm looking forward to this demo

[2020-01-09 09:37] Alexbits commented on #2588
I tried this approach before. It gives me same result. After ```await CurrentUnitOfWork.SaveChangesAsync();``` tenant is not added to the database and ```var newUser = await _userManager.FindByIdAsync(userDto.Id.ToString());``` is ```null```. I will look into module dependencies.

[2020-01-09 10:09] Alexbits commented on #2588
Ok. It was something with my custom ```Account``` module. I imported original ```AbpAccountApplicationModule``` and this resolved the issue. It works now! Sorry for bothering you @maliming

[2020-01-09 10:09] #2588 closed

[2020-01-09 10:40] hikalkan commented on #2590
32 chars should be enough normally, what do you offer :)

[2020-01-09 12:28] olicooper commented on #2590
We had a client try to use a longer password the other day and they said they had used a password generator. I'd personally not have a limit if there is no technical reason for it as this makes the app feel less secure for some people?
I think NIST say you should allow at least 64 characters as a minimum so I guess at least this?

[2020-01-09 12:59] MROALI opened #2600 "How to add tenantId to my new entity ?"
How to add tenantId to my new entity ?

For example i wanted to add multitenancy to the book Entity (https://docs.abp.io/en/abp/latest/Tutorials/AspNetCore-Mvc/Part-I)  So i did the following :

[code]

The problem is that the dbmigration file result (Book Entity section) the foreign relation with the tenantTable is not generated ?

Do i need to do something else ?

[2020-01-09 14:22] dicksonkimeu opened #2601 "A second operation started on this context before a previous operation completed."
A second operation started on this context before a previous operation completed. This is usually caused by different threads using the same instance of DbContext. For more information on how to avoid threading issues with DbContext, see https://go.microsoft.com/fwlink/?linkid=2097913.

[2020-01-09 14:39] olicooper commented on #2590
I have noticed the [IdentityUserConsts.MaxPasswordLength](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityUserConsts.cs#L21) property also has this limit and given that it is hard-coded in the framework, I think the limit should be 128 characters because this satisfies the [NIST requirements](https://pages.nist.gov/800-63-

[2020-01-09 14:41] mehmet-erim opened #2602 "Fix "remember me" functionality in Angular UI"
We've used [angular-oauth2-oidc](https://github.com/manfredsteyer/angular-oauth2-oidc) for OAuth 2 in Angular. The package uses session storage as default. Session storage isn't suitable for "remember me" functionality. We will use the local storage rather than session storage.

[2020-01-09 15:00] dicksonkimeu opened #2603 "System.ObjectDisposedException: 'Instances cannot be resolved and nested lifetimes cannot be created from this LifetimeScope as it has already been disposed.'"
System.ObjectDisposedException: 'Instances cannot be resolved and nested lifetimes cannot be created from this LifetimeScope as it has already been disposed.'

This exception was originally thrown at this call stack:
	Autofac.Core.Lifetime.LifetimeScope.CheckNotDisposed()
	Autofac.Core.Lifetime.LifetimeScope.BeginLifetimeScope(object)
	Autofac.Core.Lifetime.LifetimeScope.BeginLifetimeScope()
	Auto

[2020-01-09 15:22] olicooper opened #2604 "Disable MVC routes for Angular application"
When we use the abp cli to create an app with the angular ui, we can still access the MVC routes such as `localhost:44344/Account/Register` and `localhost:44344/Account/Manage`.

Is this by design? If not, could we remove it from the cli generated files?

I've seen we can manually disable the routes by removing `AbpAspNetCoreMvcUiBasicThemeModule` from the `HttpApi.Host` module:
[code]
But `wwwroo

[2020-01-09 15:42] hikalkan commented on #2581
Core ABP packages are already .NET standard ([example](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Volo.Abp.Core.csproj#L4)). Bu ASP.NET Core depended packages are .NET Core 3.1, because ASP.NET Core doesn't support .NET Standard as you know.

[2020-01-09 15:43] hikalkan commented on #2581
I am closing. If you have additional questions, or you find a package that can be .net standard but accidently made .net core, please reopen.

[2020-01-09 15:43] #2581 closed

[2020-01-09 15:44] hikalkan commented on #2577
No, Fody works when we compile the ABP framework. It doesn't effect your application. If you want, you can also use it.

[2020-01-09 16:15] hikalkan commented on #2600
We don't suggest to have a foreign key for the TenantId. Because a tenant may have a dedicated database which naturally will not contain the tenants table (or at least will contain an empty tenants table). So, as a best practice, don't define a foreign key. But if you want, you can configure it in your DbContext's `OnModelCreating` method.

[2020-01-09 16:15] #2600 closed

[2020-01-09 16:17] hikalkan commented on #2590
OK, we will allow to 128 chars length.

[2020-01-09 16:18] hikalkan commented on #2590
@yekalkan can you make it 128, implement in UIs too and re-generate the initial migration for the startup templates.

[2020-01-09 16:20] hikalkan commented on #2601
Be sure that you are not using the same DbContext intance from multiple threads, as indicated by the exception message.

You might forgot an await statement resulting to create multiple threads. Check your code please.

You can share code & stacktrace if you can't find, but please carefully check your code before.

[2020-01-09 16:22] hikalkan commented on #2603
Probably related to your other problem: https://github.com/abpframework/abp/issues/2601

"You might forgot an await statement resulting to create multiple threads. Check your code please."

[2020-01-09 16:25] olicooper commented on #2604
It seems some of the localization disappears when removing the dependency form the module so it isn't as easy as I initially thought. I have found it can be solved two ways.
Depend on `typeof(AbpAspNetCoreMvcUiMultiTenancyModule)` instead (but this includes style bundling which isn't required by angular)
Or add the localization manually by adding these into the relevant sections of the `HttpApi.Ho

[2020-01-09 16:55] hikalkan opened #2607 "Renamed ValidationHandler to ValidationHelper"
In the `Volo.Abp.Validation` namespace of the Volo.Abp.Validation package.

It is not a widely used class (and also not documented). But if you've used, just change your code.

[2020-01-09 17:03] olicooper opened #2608 "Add forgot/reset password functionality"
I don't believe there is any functionality to allow the user to reset their password at the login screen if they forget it. This existed in the [UserAppService](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/test/Abp.Zero.SampleApp/Users/UserAppService.cs#L61) of the old framework where an email could be sent out to the user and a `PasswordResetCode` stored in the database.

It wo

[2020-01-09 18:23] dicksonkimeu commented on #2601
How can i create a new DbContext for each db operation ?

[2020-01-09 18:33] Alexbits opened #2609 "Get Tenant Id by User Name"
Is there any recommended way to resolve the tenant id from the user name? In my application architecture every new user is a tenant admin (who can add his own users). I would like them to be able to login by getting tenant id by the user name or email and then use ```CurrentTenant.Change(user.TenantId)``` to set current current tenant before proceeding to```SignInManager.PasswordSignInAsync(...)``

[2020-01-09 19:03] dicksonkimeu commented on #2518
@maliming @hikalkan this is working fine now, but i have this error when i run a service with DB operations in my Integration Module #2601

[2020-01-09 19:22] dicksonkimeu commented on #2601
Also this error pop:

{"A second operation started on this context before a previous operation completed. This is usually caused by different threads using the same instance of DbContext. For more information on how to avoid threading issues with DbContext, see https://go.microsoft.com/fwlink/?linkid=2097913."}

[2020-01-09 22:29] olicooper commented on #2453
For now you could use the `IdentityUser.ExtraProperties`?
Simply like this:
[code]

[2020-01-10 01:20] maliming commented on #2608
Maybe the open source identity module will not include these features for the time being.

If you need you can implement it yourself, because Microsoft's Identity project template already provides almost all the code.

[2020-01-10 01:26] maliming commented on #2609
It is not recommended that you do this, it is an endless loop, you need tenant information when you want to get user. : ) Other than that, different tenants may have the same username.

[2020-01-10 01:28] maliming commented on #2518
@dicksonkimeu  Please discuss it in a new issue.

[2020-01-10 02:13] maliming commented on #2604
Because the project contains an identity server, it may needs these pages.

You can use the `--separate-identity-server` option when creating angular projects.

[code]

[2020-01-10 02:57] hidojerry opened #2611 "What's the best way to implement function for one user joined to many tenants?"
In many saas platform production, a user can be invited to join many teams/companies(aka tenants), like the airtable etc. Do you have any plan to handle this situation as built in functionality?
In current tenant implementation, if a user belongs to many tenant, he/she needs to register many accout.

[2020-01-10 05:12] hikalkan commented on #2609
There may be multiple solutions to this problem.

First of all;

* You should guarantee that the user name is unique among tenants.
* This system works only if all tenants share the same database (otherwise you should query all tenant databases one by one).

What you should do is to override related .cshtml, .js files and/or replace services of the [account module](https://github.com/abpframework/

[2020-01-10 05:12] #2609 closed

[2020-01-10 05:19] #2607 closed

[2020-01-10 05:43] hikalkan commented on #2608
Thanks for the feature request. We will consider this for the next versions. However, I suggest you to implement yourself if it is needed for your application.

[2020-01-10 06:27] johnnba commented on #2583
![image](https://user-images.githubusercontent.com/2950822/72130611-08ebf500-33b5-11ea-8481-df11cb1acb9d.png)
@Gosha24 @maliming
actually, if we want to show all logs on console, we should referrence the `Serilog.Aspnetcore` currently . then  we can add the console logger configuration. so it's a good suggestion.

[code]

[2020-01-10 06:31] #2602 closed

[2020-01-10 06:52] Alexbits commented on #2609
Hi @maliming @hikalkan Thank you for your replies. I was thinking about separate database for Identity service and getting tenant id by email address for example (I don't need multiple users with same address and/or user name).

Is there better way to add a group of users (same company) and then implement a data filter so they can see only their data?

[2020-01-10 06:55] Alexbits commented on #2609
Maybe this is a better way for this? [https://aspnetboilerplate.com/Pages/Documents/Articles%5CHow-To%5Cadd-custom-data-filter-ef-core](url)

[2020-01-10 07:23] #487 closed

[2020-01-10 08:06] #2537 closed

[2020-01-10 12:11] rlavaud opened #2614 "Setup external Identity with Identityserver 4 and azure active directory"
Hi all. I am trying to setup a simple project to use Azure active directory and I am hitting a road block. I got the button to show up in the login page, I can login on azure then I simply get redirected to the login page again. Upon further investigation I can see that the loginModel.OnGetExternalLoginCallbackAsync SignInManager.GetExternalLoginInfoAsync().ConfigureAwait(false) always return null

[2020-01-10 12:45] hikalkan opened #2615 "partial docs"
I'm writing the FluentValidation documentation which includes such a section:

![image](https://user-images.githubusercontent.com/1210527/72153722-c11e9b00-33bf-11ea-9242-316fba911061.png)

This section is repeated for most of the ABP modules. Instead of copy/paste for all the documentation, such a feature would be nice:

* Allow to include (embed) a document into another document.
* Allow to pass

[2020-01-10 16:07] olicooper commented on #2604
Thanks for your comment. I will try to look at this when I can.
Unfortunately the only immediate solution for me (I haven't tested yours yet due to time constraints), is to depend on `typeof(AbpAspNetCoreMvcUiMultiTenancyModule)` because my other solution made a number of multi-tenant endpoints not work (see image below) due to the multi-tenant controller not being loaded.
![image](https://user-im

[2020-01-11 06:34] mgochmuradov commented on #2087
Any updates on this?

[2020-01-11 12:16] mehdihadeli opened #2618 "How to Integrate abp Identity Server without MVC UIs"
Hi,
I want to use an identity server without MVC UI for login and register, I want to map existing mvc route to my angular UI. how can I do this?

This is my Identity Server Module dependencies:

[code]

[2020-01-11 13:51] abllyboy commented on #2453
@olicooper thank you,I'll try this but this is not strong type.For now I manual add the field in the database and use this code in anther Host ,but this is not the way I want.

[2020-01-12 07:55] AlphaComposite opened #2620 "Can't install Volo.Blogging"
When running the CLI command to install the blogging module, I get this error.

bash-3.2$ abp add-module Volo.Blogging
[01:50:43 INF] ABP CLI (https://abp.io)
[01:50:43 INF] Version 1.1.2 (Stable channel)
[01:50:55 INF] Installing module 'Volo.Blogging' to the solution 'Test'
Could not execute because the specified command or file was not found.
Possible reasons for this include:
  * You misspelle

[2020-01-12 08:01] acjh commented on #2620
[code]

https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#ef-core-3x

[2020-01-12 09:08] rlavaud commented on #2614
I got it to work. For the benefit of everyone here is the cause of the issue and the solution (at least my solution)

When using Azure AD V2 openid connect we get a few claims back (sub, email, name)
SignInManager.GetExternalLoginInfoAsyn looks the the ClaimTypes.NameIdentifier which is not returned by Azure AD
Since the SignInManager cannot find the identifier in the claim list, it returns null.

[2020-01-12 10:11] XuJin186 opened #2621 "angular abp documentation"
Hello, would you like to have a plan to write the angular api documentation for the abp module

[2020-01-12 10:13] xujin950710 commented on #2621
Thank you

[2020-01-12 18:57] #2590 closed

[2020-01-12 18:58] hikalkan commented on #2609
Yes, a custom filter would be better.

[2020-01-12 22:01] mkmita opened #2622 "Somebody actually tried publishing abp mvc application into azure web app?"
abp 1.1.2 deployment to azure app doesn't work for me. Maybe there is some special setup involved in the process? Is there any documentation about deployment?

[2020-01-12 23:20] olicooper commented on #2618
I mentioned something similar recently: https://github.com/abpframework/abp/issues/2604

[2020-01-12 23:37] AlphaComposite commented on #2620
Thanks. Now I'm getting this error:

bash-3.2$ abp add-module Volo.Blogging
[17:31:51 INF] ABP CLI (https://abp.io)
[17:31:52 INF] Version 1.1.2 (Stable channel)
[17:31:54 INF] Installing module 'Volo.Blogging' to the solution 'Test'
No project was found. Change the current working directory or use the --project option.
No project was found. Change the current working directory or use the --projec

[2020-01-13 00:53] maliming commented on #2620
What version of the `abp cli` are you using?

[code]

[2020-01-13 00:55] maliming commented on #2622
Can you share the details? Any error log?

[2020-01-13 05:56] RayMMond opened #2624 "FullAuditedAggregateRootWithUser generic type wrong constraint"
Anyone please tell me why FullAuditedAggregateRootWithUser need TUser to inherited from IEntity\<long\> while IUser interface using IEntity\<Guid\>?
https://github.com/abpframework/abp/blob/654eeede81a733382066bfd00ab19b6b65ceec0e/framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Auditing/FullAuditedAggregateRootWithUser.cs#L11-L12

https://github.com/abpframework/abp/blob/654eeede81a7333

[2020-01-13 07:04] maliming commented on #2624
I am also confused about this.

@hikalkan can you explain it. Thanks.

[2020-01-13 07:27] RayMMond commented on #2624
@maliming can you explain it? plz

[2020-01-13 07:51] mehmet-erim commented on #2509
Things to pay attention:

- Make sure that the OAuth configuration matches the backend OAuth configuration.

- You should clean the browser cache, session storage and local storage.
- If you downloaded with the "Separate Identity Server" option, make sure that the `IdentityServer` project is running before open the Angular application.

[2020-01-13 07:51] #2509 closed

[2020-01-13 07:52] acjh commented on #2624
I suppose that is because `FullAuditedAggregateRootWithUser` was committed on 14 Mar 2018 (https://github.com/abpframework/abp/commit/2339fab33770417a0c80b873d3182fb5345a98f9#diff-88bc7789a4b0b95478b3bb69f9f1fc29), before @hikalkan decided to go with `Guid` for `TKey` of `IUser` on 20 Jun 2018 (https://github.com/abpframework/abp/commit/745d891134da81de8fa88e8851f085f4eeb03b91#diff-99e4bec2857b169

[2020-01-13 08:00] #831 closed

[2020-01-13 08:01] maliming commented on #2583
Fixed by https://github.com/abpframework/abp/pull/2597

[2020-01-13 08:01] #2583 closed

[2020-01-13 08:11] AlphaComposite commented on #2620
1.1.2

[2020-01-13 08:25] stay2be commented on #2622
@mkmita Yes and works fine except for this (#2026) problem which will be fixed in v2.0.

[2020-01-13 08:49] maliming commented on #2620
http://abp.io/api/app/module/byName/?name=Volo.Blogging
[code]

hi @yekalkan `nugetPackages` is empty.  Is this a problem?

[2020-01-13 09:37] yekalkan commented on #2620
@maliming module & nuget packages relations may not be complete. Therefore 'add-module' command is not working as intended for now. We'll fill them for all modules in a short time.

[2020-01-13 09:38] maliming commented on #2578
hi @mkmita  Any news?

[2020-01-13 09:50] #2578 closed

[2020-01-13 09:57] #215 closed

[2020-01-13 10:26] yinchang0626 commented on #1506
@maliming  @Goxiaoy
Just a little confuse,Is the `AbpJsonOptions` of  `AbpJsonModule` just can config `DefaultDateTimeFormat` param?
If I have others settings of SerializerSettings to config, like @Goxiaoy said
Is in v1.1.2 ,better way to configure is below code,because `Microsoft.AspNetCore.Mvc.MvcNewtonsoftJsonOptions` is from `Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll` and `Volo.Abp.AspNetCor

[2020-01-13 10:27] mehmet-erim commented on #2576
These packages are used after the compilation. These warnings do not occur after the compilation.

You can customize the Angular UI components easily. See #2522.
This feature will be available with v2.

[2020-01-13 10:27] #2576 closed

[2020-01-13 12:09] stay2be commented on #2026
Thanks for publishing v2.0 of abpframework. After testing the release I can confirm that this problem seams to be resolved. No timeouts and hangs in Linux test VMs and on an Azure App Service Linux instance. Now we can switch back to Linux on Azure. 🚀

[2020-01-13 12:50] mkmita commented on #2622
@stay2be do you mind give some information? I followed the instructions from a few Microsoft docs, but no luck.

[2020-01-13 12:51] mkmita commented on #2622
As I understand logs folder should be able to provide?

[2020-01-13 13:15] mkmita commented on #2608
@hikalkan @maliming assign me to this one I will try to implement this weak.

[2020-01-13 14:40] Gosha24 opened #2626 "abp new possible problems"
I wanted to recreate sample DashboardDemo with new Abp 2.0
This is what i get
E:\temp\Azure\WpfDev>abp new DashboardDemo
[16:29:30 INF] ABP CLI (https://abp.io)
[16:29:31 INF] Version 2.0.0 (Stable channel)
[16:29:33 INF] Creating your project...
[16:29:33 INF] Project name: DashboardDemo
[16:29:33 INF] Output folder: E:\temp\Azure\WpfDev\DashboardDemo
[16:29:34 INF] Downloading template: app, ver

[2020-01-13 14:40] guoranred opened #2627 "PermissionManagement HttpApi namespace"
now, the namespace is Volo.Abp.PermissionManagement.HttpApi
.HttpApi can be deleted?

[2020-01-13 14:46] acjh commented on #2627
What do you mean?

[2020-01-13 15:33] leo4444 commented on #2035
the problem still persist if you put a weak password. I tried with "something123" and I received 500 error code but when i tried "Something@123" I could register.

I'm sorry, but my english isn't good

[2020-01-13 16:31] hikalkan commented on #2621
Yes, it was in the plan. I added to backlog as a high priority item.

[2020-01-13 16:47] hikalkan commented on #2087
@gterdem is working on it :)
@gterdem, if you are developing it on a branch, please share it. If you have any problems, maybe someone can help it.

[2020-01-13 16:59] LGinC opened #2628 "update to 2.0 and cannot startup"
update all nuget to 2.0,  install Volo.Abp.Localization nuget package for  AbpValidationResource
![image](https://user-images.githubusercontent.com/15363011/72275407-d23e0500-3668-11ea-820b-2b102c4fb8fd.png)

and startup failed
![image](https://user-images.githubusercontent.com/15363011/72275539-1204ec80-3669-11ea-9813-b383a72b599c.png)

[2020-01-13 16:59] hikalkan commented on #2624
@acjh  you are right.  `FullAuditedAggregateRootWithUser` classes have never been used and forgotten :) I will update them.

[2020-01-13 17:03] hikalkan commented on #2624
BTW, we don't suggest to use this base class since it breaks one of the Aggregate design rules: "Don't add navigation properties between aggregates, use Id instead".

But you know not everyone has to perfectly design DDD based apps. If you are using EF Core, it is a common habit to add such navigation properties.

[2020-01-13 17:14] hikalkan commented on #2601
Adding multiple background worker should not cause any problem.

Can you repeat the problem with a fresh downloaded project with a simple scenario please? This would make it faster for us to find the problem and fix it.

[2020-01-13 17:22] hikalkan commented on #2628
This is because of: https://github.com/abpframework/abp/issues/2499
You need to make necessary changes and re-compile your solution(s).

[2020-01-13 17:22] #2628 closed

[2020-01-13 17:31] LGinC commented on #2628
![image](https://user-images.githubusercontent.com/15363011/72277654-411d5d00-366d-11ea-91f9-d48240680eb7.png)
Installed Volo.Abp.Validation Package and  using Volo.Abp.Validation.Localization  in DomainShareModule.
and rebuilt solution,but i cannot startup it.
![image](https://user-images.githubusercontent.com/15363011/72277809-93f71480-366d-11ea-85e4-114596f204e0.png)
![image](https://user-image

[2020-01-13 17:31] hikalkan commented on #2608
Sure, it is yours :)

[2020-01-13 17:34] hikalkan commented on #2626
Will fix this, sorry for the inconvience.

[2020-01-13 17:35] LGinC commented on #2628
sorry , i forgot to do this
![image](https://user-images.githubusercontent.com/15363011/72278063-2a2b3a80-366e-11ea-80a4-462de1c8e152.png)

[2020-01-13 17:37] hikalkan commented on #2026
@stay2be thank you for your feedback. I am VERY happy to see that. This issue has eaten 1 week of development time to solve 😃

[2020-01-13 17:55] hikalkan commented on #2611
We don't think to implement this because it has problems with some use cases, especially when tenants have their own separate databases.

I accept that for some applications may need such a functionality. In AspNet Zero we had solved it with "linked account" concept. Probably we will implement a similar feature with the ABP framework.

[2020-01-13 19:49] #2622 closed

[2020-01-13 19:51] olicooper commented on #2608
I took the advice of maliming and implemented a version of this myself the other day. It won't be perfect but it might help you @mkmita? There is some stuff missing like adding a new `PasswordResetToken` property to AbpUser/IdentityUser but it works fine from testing.

* AccountAppService
[code]

* IAccountAppService
[code]

* AccountController
[code]

* ResetPasswordRequestInput
[code]

* ResetPa

[2020-01-13 23:45] Trojaner commented on #2026
Thank you very much, I can also confirm that all performance issues are gone now.
Maybe this took you 1 week but you likely saved months of works for others.

[2020-01-14 01:13] maliming commented on #2035
@leo4444 We will fix it, thanks for your feedback.

[2020-01-14 01:19] crashsol opened #2629 "update to 2.0, Identity Module can't FetchAll Roles when create User"
right now , i use /api/identity/roles?SkipCount=0&MaxResultCount=99999  to GetAllRoles when I CreateUser，is where a better way  to resolve this?  or provider RoleGetAll Api?

[2020-01-14 01:28] maliming commented on #2629
Can you explain why you need to call `GetAllRoles(api/identity/roles?SkipCount=0&MaxResultCount=99999)` when creating a user?

[2020-01-14 01:31] crashsol commented on #2629
CreateUserDto  base on IdentityUserCreateOrUpdateDtoBase ,need set the RoleNames
`  public abstract class IdentityUserCreateOrUpdateDtoBase
    {
       ......
        public bool TwoFactorEnabled { get; set; }

        public bool LockoutEnabled { get; set; }

        [CanBeNull]
        public string[] RoleNames { get; set; }
    }`

[2020-01-14 01:34] crashsol commented on #2629
when chanage user 's role info, also need GetAllUsers Api

[2020-01-14 01:36] hidojerry commented on #2611
Thanks for the reply.

I implement it by introduce a table "TenantUser", but it need to modify many codes in abp framework modues and the identity module. So it make to upgrade abp modules harder.

I will try to provide an option (maybe named TenantMode(Single, Multiple)), and provide spicific services to overide related functions. If the TenantMode is Mutiple, can only use one database for all te

[2020-01-14 01:53] acjh commented on #2629
Set `DefaultMaxResultCount` and `MaxMaxResultCode` in your Application module.

[code]

[2020-01-14 01:56] maliming commented on #2629
hi @acjh
Sometimes applications need pagination, and they also need to get all the data.

If there is only one `GetList` method in an application service that supports paging, we should add another `GetList` method that can get all the data. Or make the paging method support getting all the data.

Passing the `MaxResultCount` parameter looks bad.

what do you think?

[2020-01-14 02:04] maliming commented on #2629
At present, there is a problem with the UI of the identity module. If the number of roles is greater than 10, users cannot be granted some roles.
![image](https://user-images.githubusercontent.com/6908465/72307446-4605ff00-36b5-11ea-937d-5a3c0c4b80a8.png)

[2020-01-14 02:16] crashsol commented on #2629
suggest RoleGetPaged Api  add Search Filter parameter,  That will be nice

[2020-01-14 02:22] olicooper commented on #2604
Now that https://github.com/abpframework/abp/issues/2512 is released in abp v2.0 and registration can be disabled, I think this ticket can be closed.

[2020-01-14 02:22] #2604 closed

[2020-01-14 02:47] wakuflair opened #2630 "CLI 2.0: abp new command failed"
![image](https://user-images.githubusercontent.com/3471718/72309778-e0b50c80-36ba-11ea-92d0-472a2ffce0fc.png)

Is this a bug or the CLI won't be available in the community edition anymore?

[2020-01-14 03:08] maliming commented on #2630
hi @ebicoglu
Can you help explain this?
https://github.com/abpframework/abp/commit/a4e20048afff06b9bb3006e936f4e9b3a1d7f9ff#diff-50feea38706bda8de3534ad632148050R87-R90

[2020-01-14 04:46] jortygu opened #2631 "BackgroundJob execute by hangfire server throw Authorization failed"
I have define a BackgroundJob which execute by hangfire server.Then job execute method call an custom appService.When the job execute,it throw  Authorization failed!
My question is how can i pass the authentication info to appService when hangfire server execute this job.
[code]

[2020-01-14 04:59] maliming commented on #2631
You can refer to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1107#issuecomment-226714736

[2020-01-14 05:29] maliming commented on #2629
[code]

[2020-01-14 06:08] mehmetuken commented on #2631
And this https://github.com/abpframework/abp/issues/1837#issuecomment-538677739

[2020-01-14 06:18] yekalkan commented on #2630
It's a bug or misimplemented code.

also, duplicate of https://github.com/abpframework/abp/issues/2626

[2020-01-14 06:18] #2630 closed

[2020-01-14 06:47] AlphaComposite opened #2632 "Visual Studio Mac can't run DbMigrator (v 2.0)"
"Cannot exectue /path/todbmigrator/bin/debug/ProjectName.DbMigrator.exe"

Using Visual Studio Community 2019 for Mac, Version 8.4.

[2020-01-14 07:49] maliming commented on #2632
Can you share some screenshots?

Did you build the project and then run it.

[2020-01-14 08:06] talhazengin opened #2633 "ABP CLI Template Database Migration doesn't seed for a default tenant."
### **Reproducing the problem;**

* I created a new CLI template project with this command:
**abp new TTest -t app -u none --separate-identity-server**

* After changed default connection strings and used a localhost SQLServer instance.

* Made database migrations successfully and it shows me database seed executed.
![image](https://user-images.githubusercontent.com/46625533/72324410-ef4ff380-36bb

[2020-01-14 08:08] maliming commented on #2633
I guess it is caused by the localhost cookie, please try to clear it, or try use incognito mode of chrome.

[2020-01-14 08:26] talhazengin commented on #2633
Thank you very much. It is a cache issue. I use incognito mode from now.

[2020-01-14 08:26] #2633 closed

[2020-01-14 08:28] #2631 closed

[2020-01-14 08:33] RayMMond commented on #2624
Thanks for the extra explanation about DDD :) @hikalkan

[2020-01-14 09:29] mkmita commented on #2608
@olicooper yes this will help thank you, sir.

[2020-01-14 10:04] #2626 closed

[2020-01-14 11:17] gterdem commented on #2087
Hello,
I'll put pieces together and push it to a related branch.

[2020-01-14 15:18] olicooper commented on #1082
For anyone who is interested... My current working implementation can transparently impersonate a `Tenant` if you are logged in as a HOST user.
Because we have access to `ICurrentUser.TenantId` but also `ICurrentTenant` we can exploit this to impersonate other tenants...

First we create a request middleware to configure the 'ICurrentTenant' if we find a custom `__tenant` header or query parameter

[2020-01-14 17:23] mehdihadeli opened #2636 "How to integrate Identity Server with Active Directory"
Hi,
I want to integrate my identity server with active directory. is there any module in abp for this purpose or I have to use built-in identity server features?

[2020-01-14 17:47] dicksonkimeu commented on #2601
I am creating a new project. I will share the code.

[2020-01-14 17:50] dicksonkimeu opened #2638 "Rename Tenant to Company Code on log in screen"
How can I rename tenant label to Company Code in login screens ? i can use resources settings file ?

[2020-01-14 18:08] thiag0coelho commented on #2629
@maliming
IMHO, as a ABP user, I can relate to this, it felt strange to have to make up arbitrary numbers (for SkipCount, MaxResultCount) when I really want to retrieve all data while using this endpoint, like:

entity1/GetAll?MaxResultCount=200
entity2/GetAll?MaxResultCount=100

I usually do that when I know there will be only a few items (or rarely used page) for this entity and I will keep them

[2020-01-14 21:30] AlphaComposite commented on #2632
Okay, I got it to run finally, but now when running the DbMigrator project the new error is referring to a table that doesn't exist. Is there an initial table generation routine that I'm missing?

[15:19:57 INF] Started database migrations...
[15:19:57 INF] Migrating database schema...
[15:19:58 INF] Executing database seed...
[15:19:59 ERR] Failed executing DbCommand (30ms) [Parameters=[@__name_0

[2020-01-14 21:35] AlphaComposite commented on #2632
I see that there are some "initial" instructions (https://docs.abp.io/en/abp/latest/Entity-Framework-Core-MySQL), but they don't work either.

"Run Add-Migration "Initial" on the Package Manager Console (select the .DbMigrator (or .Web) project as the startup project in the Solution Explorer and select the .EntityFrameworkCore.DbMigrations project as the default project in the Package Manager Cons

[2020-01-15 00:00] wocar commented on #1983
By reading the tests its pretty straight forward. However, can we get this documented? Should i create a new Issue?

Thank you amazing work you do guys.

[2020-01-15 00:43] maliming commented on #1983
hi @wocar
It is basically the same as [Timing](https://aspnetboilerplate.com/Pages/Documents/Timing) of Boilerplate.

There will be related documents later.

[2020-01-15 01:01] maliming commented on #2629
Wait and see @hikalkan idea. : )

[2020-01-15 01:09] wocar commented on #1983
Wonderful thank you! Hope this is useful for someone else that comes down
this road.

As always thank you for the immediate response! Good job 👏🏽

El El mar, 14 de enero de 2020 a la(s) 6:43 p.m., maliming <
notifications@github.com> escribió:

--
---

Ing. William Obando Castellanos
T: 351-123-7707

[2020-01-15 01:17] maliming commented on #2638
You can override the `AbpUiMultiTenancyResource `localization text.

https://docs.abp.io/en/abp/latest/Localization
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Volo/Abp/AspNetCore/Mvc/UI/MultiTenancy/Localization/AbpUiMultiTenancyResource.cs

[2020-01-15 01:20] acjh commented on #2629
Is there a real case where an application wants to return more than `int.MaxValue` items?
Otherwise, a large-enough `DefaultMaxResultCount` already allows to get practically all items.

`MaxResultCount` is not a required parameter in API calls; it defaults to `DefaultMaxResultCount`.

[2020-01-15 01:33] maliming commented on #2632
What changes have you made to the project? Such as changing the table schema.

Will this issue still occur if you create a new project using cli?

abp cli has no `Add-Migration` command, it belongs to ef core tool.
https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet

[2020-01-15 01:46] jortygu commented on #2636
my solution is add WsFederation privider , then i can login in adfs login page,and then redirect to my own web application with authentication info.
[code]

[2020-01-15 01:48] thiag0coelho commented on #2629
I may be mistaken but, using CrudAppService, passing default PagedResultRequestDto it then inherits the following (screenshow below), with default value of 10, that's why the need to pass MaxResultCount in request

![image](https://user-images.githubusercontent.com/6138475/72397818-b3e71080-371f-11ea-9287-7183b8ea5f49.png)

[2020-01-15 02:08] acjh commented on #2629
@thiag0coelho Please read both of my earlier comments.

[2020-01-15 02:12] AlphaComposite commented on #2632
None.

Good suggestion. I updated this test project from 1.1.2 to 2.0. I'll give a clean start a try and let you know.

[2020-01-15 03:35] yinchang0626 opened #2640 "abp v2.0.0,when FullAuditedAggregateRoot use owned entity types(ValueObject), Efcore throw error"
When i add a ValueObject as owned by FullAuditedAggregateRoot.
Get a exception below
[code]
I just reuse code of #2365 to report this error,but in v1.1.2 or pure aspnet mvc template propject, It works fine.
You can get sample code in
 [this for v1.1.2(PASS)](https://github.com/yinchang0626/abp/tree/feature/book_store_ownedType_112),
[this for v2.0.0(NG)](https://github.com/yinchang0626/abp/tree/fe

[2020-01-15 03:49] maliming commented on #2640
TRY

[code]

[2020-01-15 03:50] AlphaComposite commented on #2632
I tried to run this on Windows because there's obviously an issue with Mac due to the fact that there's no package manager in the Mac version of Visual Studio (this supposed to be a cross-platform solution, isn't it?). But changing to Windows didn't work either. Here's the error:

![image](https://user-images.githubusercontent.com/25360554/72403417-98780780-3717-11ea-844f-bb5a2c5c3d66.png)

[2020-01-15 03:52] maliming commented on #2632
![image](https://user-images.githubusercontent.com/6908465/72403562-76b96780-378d-11ea-9262-f3c6666a4bf0.png)

[2020-01-15 04:12] yinchang0626 commented on #2640
@maliming
thank you for help , butthe error still exist
![image](https://user-images.githubusercontent.com/16490084/72404427-4921ed80-3790-11ea-8305-c5e4ba7dff0f.png)

[2020-01-15 04:15] AlphaComposite commented on #2632
Thanks. I'd been at this so long I'm starting to make silly mistakes.

Anyway, after selecting the correct project, I'm getting another error. This one is related to MySQL.

![image](https://user-images.githubusercontent.com/25360554/72404499-2a354400-371b-11ea-940c-b88b23f221ce.png)

[2020-01-15 04:58] maliming commented on #2640
Please put the code(`builder.Owned<ISBN>();` `base.OnModelCreating(builder);`) in your `OnModelCreating` method.

https://github.com/yinchang0626/abp/blob/feature%2Fbook_store_ownedType_200/samples/BookStore/src/Acme.BookStore.EntityFrameworkCore/EntityFrameworkCore/BookStoreDbContext.cs#L36

[2020-01-15 05:01] maliming commented on #2632
see
https://github.com/abpframework/abp/issues/1920#issuecomment-543551659
https://github.com/abpframework/abp/issues/2053

[2020-01-15 05:24] yinchang0626 commented on #2640
@maliming
Thank you very much,it works!!
This is related to the execution order.

Is possible move `base.OnModelCreating(builder);` to bottom of `protected override void OnModelCreating(ModelBuilder builder)`
[code]
above code runs well too,
But Is It break something about abp code?

[2020-01-15 05:40] maliming commented on #2640
Not currently.

[2020-01-15 06:30] Goxiaoy commented on #2389
I have to write some ugly code to fit my case now. Because the user can login or register by phone verification code insead of email in my case.

[2020-01-15 06:34] SamQuest opened #2641 "ASP.NET Core MVC Tutorial -- Debugging"
I am following this [tutorial](https://docs.abp.io/en/abp/latest/Tutorials/AspNetCore-Mvc/Part-I)
and getting `An internal error occurred during your request!` while executing this JavaScript (given in the tutorial) in the console

`acme.bookStore.book.getList({}).done(function (result) { console.log(result); });`

this is the js console

[code]

I tried debugging by overriding GetListAsync here
[

[2020-01-15 06:38] maliming commented on #2641
Please check the applcation log file.

[2020-01-15 06:41] yinchang0626 commented on #2640
excuse me @maliming
Do you mean It's fine now?
So,could I modify the code of template(both app and module) to move `base.OnModelCreating(builder);` to bottom at `MyProjectNameDbContext`??

[2020-01-15 07:01] SamQuest commented on #2641
i guess these are the relevant logs, looks like its not able to resolve the Repository.

[code]

[2020-01-15 07:05] SamQuest commented on #2641
Found the issue, I seemed to missed a step

[code]

Thanks!

[2020-01-15 07:05] #2641 closed

[2020-01-15 07:07] mehdihadeli commented on #2618
@olicooper I have to remove some dependency for preventing UI generation for my Identity Server and it works fine for my purpose.
[code]
@olicooper in the above thread you mention `registration can be disabled`, how we can do this? please give me a sample code for disabling UI rout for Identity Server.

[2020-01-15 07:11] maliming commented on #2640
Yes, you can modify your project code. I think we should not change the code of the abp module and template but use the above method to solve it.

[2020-01-15 08:14] mehdihadeli commented on #2576
@mehmet-erim Thanks, it just to replace our component with abp components? what about customizing the existing one and add a new feature to them?

[2020-01-15 08:24] RayMMond opened #2643 "How to configure Authentication to respond failed information just like /api/identity/users did?"
I created a custom CRUD app service with Authorize attribute and configured authentication using  **bearer**.

`context.Services.AddAuthentication(IdentityServerAuthenticationDefaults.AuthenticationScheme)`

but the response does't contain response body like /api/identity/users when authentication failed.

Expected response (/api/identity/users):

Response body

    "code": null,
    "message": "A

[2020-01-15 08:36] johnnba opened #2644 "how to send email with the correct email configuration without nonencrypted password."
@maliming @hikalkan
it's sorry to disturb you ; but i can't send the email with correct setting of emailings.
when i debugged the code, i found that the below code will throw exceptions.
[code]

and i  see that setting definitions like these shows that is default Password is encrypted, how can i set it non encrypted.

 https://github.com/abpframework/abp/blob/65cd3ea8ab7b919cf4ff958dd272415b38ad79

[2020-01-15 09:22] yinchang0626 commented on #2640
Ok. got it.
thank you.
Maybe you can close this issuse if no need to add sample code for test `OwnedType` feature or modify anything.
by the way ,in my situation
I just want to add OwnedType in a from abp template generated project,
should be careful can't config it in `YYDbContextModelCreatingExtensions` and remember do it before  `base.OnModelCreating` of all `DbContext`(both module,app ,host ap

[2020-01-15 09:33] maliming commented on #2643
Try calling an application service that requires authorization in a controller that allows anonymous methods

[2020-01-15 09:55] johnnba commented on #2644
although i tried to encrypt the password by the IStringEncryptionService; the password will be fine.
but the following code stills return error

[2020-01-15 10:05] maliming commented on #2644
You can try [Volo.Abp.MailKit](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.MailKit).

[2020-01-15 10:34] johnnba commented on #2644
yeah, i've made some mistakes, with the encrypted password, i can send email successfully. thanks.
it's my fault.

the exception is the emailsend wrote by myself that i used to replace the original MailKitSmtpEmailSender ,missed the authenticate step. sorry .

however it's happy that the issue is solved now. thanks

[2020-01-15 10:34] #2644 closed

[2020-01-15 11:12] olicooper commented on #2576
I have a custom angular project too but I didn't copy the core module code, instead you probably need to add `"@abp/ng.core": "2.0.0"` in your `package.json` and reference it in your app module to use it.

[2020-01-15 11:23] olicooper commented on #2618
Adding this to your appsettings.json will stop users from registering accounts on your application
[code]
I disabled all `/Account` routes by replacing `typeof(AbpAspNetCoreMvcUiBasicThemeModule)` with `typeof(AbpAspNetCoreMvcUiMultiTenancyModule)`
Fyi my project is the API with angular UI so Identity Server is integrated.

[2020-01-15 11:42] RayMMond commented on #2643
@maliming Thanks for the explanation :).
And one more question, Why calling auto generated API(Auto API Controllers) will redirect to the login page when authentication failed but standard MVC controller respond 401?

[2020-01-15 12:32] gdlcf88 commented on #2628
Maybe developers need upgrading documents. :D
https://github.com/abpframework/abp/issues/1442

[2020-01-15 12:53] gdlcf88 commented on #2629
That will be a breaking change.

Maybe we can add a property `Pageable` to CrudAppService, when it set to false, `query = ApplyPaging(query, input);` in GetListAsync() will be skipped.

[2020-01-15 13:34] LGinC opened #2647 "How to disable show ef core sql to console"
update to 2.0,and show ef core sql default, but i just want to watch business output. so how to disable it.

[2020-01-15 14:02] carloszan commented on #2534
when @mperk finishes OU, will it be included in abp 3.0? is there a prediction?

[2020-01-15 14:58] carloszan commented on #2534
will this feature be included in some milestone?

[2020-01-15 16:11] mehdihadeli commented on #2618
Ok, thanks. Your approach is like my approuch but with replacing another module both work but In my mind in addition to the disabling `register route` abp should give us the capability of disabling other route too not just registering route.

[2020-01-15 16:19] mehdihadeli commented on #2576
@olicooper Me too, I removed my copy apb core folder, and I imported abp core module package in my project after @mehmet-erim answer but my question now is about customizing existing abp components not replacing them with my component, is it possible or we have to completly replace our component with existing one?

[2020-01-15 16:30] mehmetuken commented on #2647
Add in Program.cs Logger configure
`.MinimumLevel.Override("Microsoft", LogEventLevel.Information)` after this line
`.MinimumLevel.Override("Microsoft.EntityFrameworkCore", LogEventLevel.Error)`.
Set EntityFrameworkCore minimum log level Error.

[2020-01-15 18:07] hikalkan opened #2648 "Test for audit log for entity property changes"
Consider the following configuration:

[code]

It should save change log only for the `Name` property, but not for others. This feature was recently added but I am not sure if it is tested well. We should add unit tests first and also test in an application.

[2020-01-15 19:16] #2647 closed

[2020-01-15 21:11] #2614 closed

[2020-01-15 21:52] dicksonkimeu opened #2650 "ajax: abp.libs.datatables.createAjax"
How do I add input parameters ?

i.e assume the getList expects a input parameter as string how do i add to below code ?

`ajax: abp.libs.datatables.createAjax(insurance.selfCore.custEntry.getList),`

below is not working

[code]

[2020-01-15 22:24] olicooper commented on #2576
I wrote my own code instead of using abp. If you look at their modules you can design your code in a similar way. The `abp/ng.core` module contains the stuff to login and logout as well as some code for angular routes and also reading settings and application-configution. I used ngxs stores and creates services to make the API calls. You can use the `Rest.Request` and `RestService` in the core mod

[2020-01-15 22:26] dicksonkimeu commented on #2650
hospital.selfCore.assigments.getListByIDNo({}).done(function (result) { console.log(result); });

By service getListByIDNo expects some input parameters, how can i pass them ?

[2020-01-15 23:56] yinchang0626 commented on #2576
@olicooper

So am i,maybe trace all abp code and self code in Chrome Debugger is more
easier know how it work,
So I created a [Repository ](https://github.com/yinchang0626/abp.ng)to do that , i just ref npm/ng-packs/packages/ as
a submodule by git .not for modify abp code,but let me know how to use it,
In that Repository,I did my customized theme by `dynamic-layout.component` and   `replaceable-co

[2020-01-16 01:24] maliming commented on #2650
see https://github.com/abpframework/abp/issues/775

[2020-01-16 01:24] #2650 closed

[2020-01-16 01:38] maliming commented on #2643
When you call the controller that requires authentication, the authentication middleware finds that the current user is not authenticated and calls ChallengeAsync (DefaultChallengeScheme is identity cookie). At this point the request has been shorted.

If your anonymous controller calls the application service method, it will execute the ABP filter and interceptor. The framework throws AbpAuthoriz

[2020-01-16 01:38] #2643 closed

[2020-01-16 05:35] maliming commented on #2361
The problem of `FeatureValueCacheItem` and `SettingCacheItem` has been fixed.

https://github.com/abpframework/abp/commit/c4932e67a2ef3c30bf8c0f2940e8e95ec9b38359
https://github.com/abpframework/abp/pull/2523

[2020-01-16 06:56] mehmet-erim commented on #2576
@mehdihadeli, If you want to customize a component, you must replace it. Because some of the components are so complex. Customizing the certain parts may break the application.

[2020-01-16 07:08] amarmechai opened #2651 "ABP CLI new command not work"
When I run **"abp new Acme.BookStore -u angular**" I have this error

[08:01:39 ERR] Cannot convert null value to System.DateTime. Path 'licenseEndTime', line 1, position 104.
Newtonsoft.Json.JsonSerializationException: Cannot convert null value to System.DateTime. Path 'licenseEndTime', line 1, position 104.
   at Newtonsoft.Json.Converters.IsoDateTimeConverter.ReadJson(JsonReader reader, Type ob

[2020-01-16 07:23] maliming commented on #2651
Please upgrade your abp cli to 2.0 first.

https://www.nuget.org/packages/Volo.Abp.Cli/2.0.0

[2020-01-16 08:06] dicksonkimeu commented on #2650
@maliming it worked. But when the input variable/ value is hardcoded. How can assign the value which is in the onGet method in the razor page.

bookNo should be assigned to a value derived in the razor page onGet method.

[code]

[2020-01-16 08:45] mehdihadeli commented on #2576
@mehmet-erim  ok thanks.

[2020-01-16 08:53] duard-sf commented on #2569
Sorry for the long delay in getting back to this issue.

Unfortunately, I had to put this on hold in my project, because I had to spend too much time in creating a solution for synchronizing localized strings between environments and between developers.

Regardless, I completed the caching implementation, and simply used a [distributed memory cache](https://docs.microsoft.com/en-us/aspnet/core/per

[2020-01-16 08:53] #2569 closed

[2020-01-16 09:04] wakuflair commented on #2650
@dicksonkimeu
I did it in this way:
Use a hidden input to bind `bookNo` value:
`<input type="hidden" id="bookNo" value="@Model.BookNo">`

Then use jquery to get value:
[code]

[2020-01-16 09:28] duard-sf opened #2653 "Disable ABP module"
I would like to disable the `Volo.Abp.Account.Web` module, because its routing is taking precedence. This prevents initial routing to any `account/` routes I have set up in my Angular app.

I tried using `PreConfigureServices` to remove the application part (see code below), but this does not seem to work.

[code]

Is there any way to achieve this?

[2020-01-16 09:33] maliming commented on #2653
see https://github.com/abpframework/abp/issues/2604

[2020-01-16 09:36] leonkosak opened #2654 "BookStore-Modular: NU1105"
I made exactly the same structure ("application" and "modules" folders) and crate one application and one module.
I started adding reference in application (references to modules csproj files) .csproj file (<ProjectReference>...) and then "typeof(...) i ...Module.cs), but I cannot compile because of NU1105.

Example message:
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU110

[2020-01-16 09:51] ismcagdas commented on #2654
@leonkosak could you firs build the module project and than run `dotnet restore` for your main application ?

[2020-01-16 09:55] duard-sf commented on #2653
So should I disable the following two settings?

- Abp.Account.IsSelfRegistrationEnabled
- Abp.Account.EnableLocalLogin

I did so in appsettings.json ([following the docs](https://docs.abp.io/en/abp/latest/Settings#setting-values-in-the-application-configuration)), but still no change.

[code]

[2020-01-16 10:13] duard-sf commented on #2653
Ah, no worries, I followed [the advice from mehdihadeli](https://github.com/abpframework/abp/issues/2618#issuecomment-574526156) which solves the issue!

Thanks very much for you help.

[2020-01-16 10:18] #2653 closed

[2020-01-16 10:38] gterdem commented on #2614
@rlavaud You can use mapping on `.AddOpenIdConnect` options after clearing the default mapping with `JwtSecurityTokenHandler.DefaultInboundClaimTypeMap.Clear();`
[This post of leastprivilege](https://leastprivilege.com/2017/11/15/missing-claims-in-the-asp-net-core-2-openid-connect-handler/) might help if you didn't notice.

 If you want to pass your Claims from ExternalIdentity to your localIdenti

[2020-01-16 10:40] leonkosak commented on #2654
![image](https://user-images.githubusercontent.com/39346964/72517854-661ff480-3854-11ea-8c92-958df718018d.png)

@ismcagdas I go that order of adding project references od modules scproj in application csproj projects.

Tha problem starts from adding .EntityFrameworkCore project in application project. In AppNameModularEntityFrameworkCoreModule.cs, the ModuleNameEntityFrameworkCoreModule cannot be

[2020-01-16 10:41] dicksonkimeu commented on #2650
@wakuflair @maliming Thank you it has worked.

My last question is on how to refresh the table based on a selected list changed event.

![image](https://user-images.githubusercontent.com/4476822/72518202-d6834180-3865-11ea-9f7d-1b4d63719aef.png)

[2020-01-16 11:08] leonkosak commented on #2654
I tried one more time from scratch and the same issues appeared.

[2020-01-16 11:31] leonkosak commented on #2654
@ismcagdas The most interesting thing to me is that in .EntityFrameworkCore, .HttpApi, .HttpApi.Client projects, the  xxxModule (for Module) cannot be found).
I tried changing to netstandard2.1 in csproj in module projects, but this changes nothing.

[2020-01-16 13:22] yekalkan commented on #2620
"Add-module" is working now. Remember that it needs a startup project for adding migration and updating database.

for example:
`abp add-module Volo.Blogging -sp ../AddModuleTest.DbMigrator/AddModuleTest.DbMigrator.csproj`

[2020-01-16 13:23] #2620 closed

[2020-01-16 14:09] leonkosak commented on #2654
dotnet restore log for application (for .sln).

PS C:\_Demo\abpCom200\Demo200Modular\application\aspnet-core> dotnet restore
C:\_Demo\abpCom200\Demo200Modular\application\aspnet-core\src\Demo200Modular.HttpApi.Client\Demo200Modular.HttpApi.Client.csproj : warning NU1701: Package 'BouncyCastle 1.8.1' was restored using '.NETFramework,Version=v4.6.1, .NETFramework,Version=v4.6.2, .NETFramework,Versi

[2020-01-16 14:13] hikalkan commented on #499
Completed & published: https://docs.abp.io/en/abp/latest/Audit-Logging

[2020-01-16 14:13] #499 closed

[2020-01-16 14:15] mostafa1790 opened #2656 "Dynamic JavaScript Proxies Not Working In Tiered Project"
**Dynamic JavaScript Proxies** Not Working In Tiered Project When I Run The Project I Can Use The Name Space In Browser Developer Tools And I Found The *.HttpApi Project Controllers But I Didn't Found Any Services From *.Application.Contracts

Note :
I Took Book Service From The Example And Insert All Related Files [Entity - Dtos - Service] And Didn't Work Also

[2020-01-16 14:21] hikalkan opened #2657 "Test bootstrap tag helpers documentation"
- [x] Test all components on the https://bootstrap-taghelpers.abp.io/ web site.
- [x] Extract a list of missing component documentation & samples.

[2020-01-16 16:46] dicksonkimeu commented on #2638
Any sample code ?

I don't want to update abp source code.

[2020-01-16 18:13] gdlcf88 opened #2658 "Different apps share their cookies in localhost"
Step to reproduce:
1. Create a mvc template abp solution names `A`, and create an angular abp solution names `B`.
2. Run project A, Create a new tenant in A, and log in the tenant as admin user.
3. Run project B, get 500 error, details:
[code]

[2020-01-16 18:29] amarmechai commented on #2651
@maliming it works after upgrading to 2.0.0
Thank you!

[2020-01-16 18:29] #2651 closed

[2020-01-16 21:26] dicksonkimeu commented on #2650
In this example what happens when the input is two or three values i.e `getList(string a, string b)`

[2020-01-16 22:05] wocar opened #2660 "Repository problems"
I upgraded from 0.21 to version 2 and this code used to work.

Give this code

[code]

Throws the following exception
`
The instance of entity type 'NotificationLogDetail' cannot be tracked because another instance with the key value '{Id: 00000000-0000-0000-0000-000000000000}' is already being tracked. When attaching existing entities, ensure that only one entity instance with a given key value i

[2020-01-17 00:13] yinchang0626 commented on #2660
@wocar
Maybe you can try it like in below `CrudAppService` Code:
I think Id should be set by code ,
[code]
by the way, TenantId is the same
[code]

[2020-01-17 01:57] maliming commented on #2658
This is the behavior of the browser, it does not provide port isolation.

We can consider configuring cookie names for modules such as identity in the template. Similar to cache names.

[2020-01-17 01:59] maliming commented on #2638
Please follow the instructions in the documentation to override it.

https://docs.abp.io/en/abp/latest/Localization

[2020-01-17 02:12] maliming commented on #2656
See https://github.com/abpframework/abp/issues/1469

[2020-01-17 06:53] SmallShrimp opened #2663 "How to use FeatureDefinition’s AllowedProviders to filter feature list"
I think the "AllowedProviders" attribute should be used to filter the "FeatureDefinition" list，like
`FeatureDefinitionManager.GetAll(string providerName)`.I'd like to get a different list of features in different place.For example, I need to add a product management module that makes a difference for different versions of the products that can be used.The products here are special features,but I d

[2020-01-17 07:11] #2640 closed

[2020-01-17 07:18] gdlcf88 commented on #2660
Entities should has .ctor method to set Id and other properties, please follow abp docs:
https://docs.abp.io/en/abp/latest/Entities#aggregate-example

[2020-01-17 07:59] leonkosak commented on #2654
@ismcagdas any updates on this issue?

[2020-01-17 08:03] ismcagdas commented on #2654
@leonkosak could you share the project via email ? I can reproduce the problem and assist you faster like that.

[2020-01-17 08:21] xkaede opened #2664 "entity framework throw an exception when use conversion"
I have an entity User and a value object UserName like this.
[code]
In entity framework I use the conversion to map UserName to string.
[code]
When I use the repository to get the User.The ef throw the exception:
" No suitable constructor found for entity type 'UserName'. The following constructors had parameters that could not be bound to properties of the entity type: cannot bind 'name' in 'User

[2020-01-17 08:31] maliming commented on #2664
see https://github.com/abpframework/abp/issues/2640#issuecomment-574483336

[2020-01-17 08:39] yinchang0626 commented on #2660
@gdlcf88
Thanks for remind.
and how about tenantId ,should I set it by `ICurrentTenant.Id` myself even client is Authorization

[2020-01-17 08:51] xkaede commented on #2664
I have checked the #2640 before, but I do not want to use the own type. by the way, if I use the owned type to do this.I need to add the builder.Owned<UserName>() to all DbContext who use my module. and may foget to add it.
eg:
[code]
It force the user to add builder.Owned<UserName>(); before the base.OnModelCreating(builder);
not just add builder.ConfigureIdentity(); simply

[2020-01-17 08:55] xkaede commented on #2664
ok, may be I can define a method called PreConfigureIdentity() like this.
[code]
I am trying to find a way to support skip conversion entity.

[2020-01-17 09:17] xkaede commented on #2664
Hi @maliming .
I solve the issue finally. by just ignore the UserName entity.
[code]
Thank you very much!

[2020-01-17 09:17] #2664 closed

[2020-01-17 09:41] mkmita commented on #2657
I noticed there is no file helper right?

[2020-01-17 10:04] gdlcf88 commented on #2660
I will manually set `TenantId = ICurrentTenant.Id` for new entity, and if you are in `ApplicationService` or `DomainService`, the base class property `CurrentTenant` has been set by abp framework, you do not have to inject it manually.

[2020-01-17 10:07] abllyboy commented on #42
hi , how can I add my claims into ClaimsIdentity so I can use it from CurrentUser? I try to add "organize" below but doesn't work.
[code]

[2020-01-17 11:46] ismcagdas commented on #2654
Thank you for sharing the project @leonkosak. It seems like you are missing a using directive in Demo200ModularEntityFrameworkCoreModule.cs. After adding below using statement project builds successfully.

`using ModuleDatabase.EntityFrameworkCore;`

[2020-01-17 12:13] leonkosak commented on #2654
I tried that in the past, but .EntityFrameworkCore is not found and that's confusing me.

![image](https://user-images.githubusercontent.com/39346964/72611613-db5df900-392a-11ea-9bae-8e1a4e30cd11.png)

The same problem is in .HttpApi and .HttpApi.Client

In the other projects, when I added using ModuleDatabase, there were no issues at all adding Module in DependsOn section.

Am I missing something

[2020-01-17 12:19] ismcagdas commented on #2654
@leonkosak here is what I did before opening VS at all.

1. Go to "modules\ModuleDatabase" folder and run `dotnet restore` and `dotnet build`.
2. Go to "application\aspnet-core" folder and run `dotnet restore` and `dotnet build`.

After step 2, I got a build error. Than I added the using statement and runned `dotnet restore` and `dotnet build` commands in "application\aspnet-core" and it worked.

[2020-01-17 12:44] leonkosak commented on #2654
@ismcagdas Thank you. It works. But I can understand why in the first projects in application (.Application, .Application.Contracts, .Domain, .Domain.Shared worked without that?

[2020-01-17 12:44] #2654 closed

[2020-01-17 12:50] leonkosak opened #2665 "dotnet build command not worked on generated module"
If I generate module online (on abp.io webpage), dotnet build compiles everything successfully (with some warnings), but if the module is generated via abp CLI (2.0.0), there are errors (dotnet restore command succeeded).

Errors:
![image](https://user-images.githubusercontent.com/39346964/72613498-f848fb00-392f-11ea-933b-a5affd5c2e2f.png)

The module was created with command: abp new MyMod1 -t mo

[2020-01-17 13:07] duard-sf opened #2666 "Property 'toLocalISOString' is missing in type 'ZonedDate' but required in type 'Date'."
Using npm to install dependencies and build the Angular app causes the error in the title. However, using Yarn to install dependencies and build does not produce any errors.

The error occurs even after clearing cache, any lock files, and manually removing the node_modules directory.

This seems to be some conflict between one of ABP's JavaScript libraries and one of Kendo's dependencies.

**Full

[2020-01-17 13:32] hikalkan commented on #2663
Feature system is used in a multi-tenant/SaaS application to grant/prohibit certain features. In this way Tenant A can use a feature while Tenant B can't use it.

This is not documented yet, but you can check the ASP.NET Boilerplate document to get the idea: https://aspnetboilerplate.com/Pages/Documents/Feature-Management

If I would directly answer your question, it is really simple:

[code]

Pro

[2020-01-17 13:32] #2663 closed

[2020-01-17 13:42] #2627 closed

[2020-01-17 13:46] leonkosak opened #2667 "Q: Upgrading to netstandard2.1"
Modules project files (.csproj) have TargetFramework assigned to netstandard2.0.
Consider upgrading to **netstandard2.1** ?

Related: https://github.com/abpframework/abp/issues/87

[2020-01-17 13:50] hikalkan commented on #2658
OK, I added this to the backlog, but I think it is not urgent. Just delete the cookies for now, because it is not a problem on production (and also it is a problem in a standard asp.net core application by default).

If someone finds exactly where to change (also considering the IDS4 integration scenarios), we can give a higher priority to this issue.

Any PR welcome :)

[2020-01-17 13:55] leonkosak commented on #2667
Huh, targeting NET Standard 2.1 currently (will change in the future) significantly reduces usage in other frameworks.

[2020-01-17 16:05] leonkosak commented on #2511
@hikalkan I successfully created a solution structure from scratch based on _BookStore-Modular_ example.
Currently, there is one defined entity (for SQL table) in module (in .Domain project in a module) and added DbSet in module .EntityFrameworkCore project (in [ModuleName]DbContext.cs file).

It's desired, that all entities (SQL tables) from all modules would be in one SQL database (and each tena

[2020-01-17 17:23] hikalkan commented on #2660
This is EF Core error I suppose.
Always set GUID Ids as best practice.
See https://github.com/abpframework/abp/blob/dev/docs/en/Entities.md#entities-with-guid-keys

Also, always set TenantId manually (because ABP may not know what was the tenantid when you have created the entity - you know you can change tenantid before save the entity).

[2020-01-17 17:23] #2660 closed

[2020-01-17 17:28] wocar commented on #2660
Thanks for the reply @hikalkan so bottom line is that I have to set the nested collection’s items IDs in the constructor?

Did I understand correctly?

[2020-01-17 17:30] hikalkan commented on #2660
Yes, set on their constructor (use IGuidGenerator).

[2020-01-17 17:36] wocar commented on #2660
Thanks!! Love your work guys keep it up!!

[2020-01-17 18:16] jader1313 opened #2668 "Use ABP in a mobile(Xamarin) application (.Net Standard 2.0)"
I would like to use ABP to share domain, application, and data access classes across the various user interfaces: desktop, web, and mobile. I can't use ABP in Xamarin because some projects (modules) are set to .Net Standard 2.1 and Xamarin only supports .Net Standard 2.0:
-Volo.Abp.EntityFrameworkCore
-Volo.Abp.EntityFrameworkCore.Sqlite

Would a downgrade to .Net Standard 2.0 be possible to stand

[2020-01-17 18:29] olicooper opened #2669 "Add dynamic Angular environment configuration"
I'd like to be able to build my angular application for production and then change the api urls and oauth config between environments. Is there a way to do this or can it be built-in?

[2020-01-18 09:01] mostafa1790 commented on #2656
Ok Thanks For Fast Replying .

[2020-01-18 09:01] #2656 closed

[2020-01-18 09:33] tekix opened #2673 "Any plan to have a shared js model library?"
Today most of the js models are in the `ng-packs` projects (such as ApplicationConfiguration.Response), is there any plan to move them into a shared library so they can be reused in react or vue projects

https://github.com/abpframework/abp/blob/be1433846edbb6953ea3700aef6a0b22ac4f4399/npm/ng-packs/packages/core/src/lib/models/application-configuration.ts#L4-L10

[2020-01-18 10:11] ismcagdas commented on #2673
@itryan seems a good idea. @mehmet-erim what do you think ?

[2020-01-18 10:33] LGinC commented on #2640
put code to OnModelCreating method and add migration will delete this table

[2020-01-18 10:56] dicksonkimeu commented on #2539
@hikalkan

Any sample code on how to use this, before 2.o my code was working, but now it's not.

Added IServiceScopeFactory to the PeriodicBackgroundWorkerBase constructor.
Added PeriodicBackgroundWorkerContext to the DoWork method.

[2020-01-18 11:14] Gosha24 opened #2674 "BasicConsoleApplication"
I did not manage to build  BasicConsoleApplication from samples.
It compiles after i added packages
    "Volo.Abp.Autofac" Version="2.0.0"
    "Volo.Abp.Core" Version="2.0.0"
and removed
    "..\..\..\framework\src\Volo.Abp.Autofac\Volo.Abp.Autofac.csproj"
from .cproj
Please refresh distribution version
Please, add possibility  to create console apps from CLI tool

[2020-01-18 11:44] dicksonkimeu commented on #2539
@hikalkan How should i use the workerContext and the scope factory ?

Below is my code

[code]

[2020-01-18 15:01] dicksonkimeu opened #2676 "New ABP 2.0 project has below error"
![image](https://user-images.githubusercontent.com/4476822/72665752-5fdc7480-3a1c-11ea-8e43-ee310e16226d.png)

![image](https://user-images.githubusercontent.com/4476822/72665764-839fba80-3a1c-11ea-9035-b7ef6d580586.png)

[2020-01-18 15:14] yinchang0626 commented on #2640
`Order` Entity should config in `builder.ConfigureOrderManagement()`. Because of migration need it.
Just `ShippingAddress` OwnedType config before `base.OnModelCreating`
[code]

[2020-01-18 15:15] LGinC opened #2677 "how to use auto primary key in mongodb"
auto increase id or objectid,  how  to use it in mongodb,how to implete entity

public class MyEntity : Entity<ObjectId>   ???

[2020-01-18 15:18] thiagocoppi commented on #2565
@kurtwilbies  Dapper is most easy to consume SP (stored procedures), you tested with it?

[2020-01-18 15:23] LGinC commented on #2640
thx

[2020-01-18 17:46] hikalkan commented on #2668
Volo.Abp.EntityFrameworkCore using .net standard 2.1 because Microsoft.EntityFrameworkCore 3.0.0 was depending on .net standard 2.1. But now I see that Microsoft.EntityFrameworkCore 3.1 supports .net standard 2.0. So, we will consider to downgrade it. Thanks.

However, I didn't understand why you need EF Core in Xamarin. Will you directly connect to a database from your mobile app?

[2020-01-18 17:46] hikalkan commented on #2668
@maliming can you check if we can downgrade to .net standard 2.0 for EF Core depended projects?

[2020-01-18 17:49] hikalkan commented on #2667
Why? you can use in .netstandard 2.0 based project in any project can use netstandard2.1. Right? Why we depend on a higher version that will restrict its usage unnecessarily.

[2020-01-18 19:05] leonkosak commented on #2667
I agree. :) If you need (want) you can manually change this param in csproj file in generated module project.

[2020-01-18 19:05] #2667 closed

[2020-01-19 04:30] acjh commented on #2539
@dicksonkimeu Sample code on how to use `workerContext`:

https://github.com/abpframework/abp/blob/401376e10951fc5a33d9111a5d9b1c20ee63e51e/framework/src/Volo.Abp.BackgroundJobs/Volo/Abp/BackgroundJobs/BackgroundJobWorker.cs#L35

You should not need to use `IServiceScopeFactory` directly.

[2020-01-19 04:52] pranavpatil19 opened #2678 "Documetation"
Extension Methods & Helpers
Event Bus (local)
Distributed Event Bus(RabbitMQ Integration)

[2020-01-19 05:55] SmallShrimp commented on #2534
api: https://gitee.com/xugege/KST.ABP.git folder organizations
ng: @hedou/abp-ng.organizations

[2020-01-19 13:17] abdumostafa opened #2679 "No theme registered!"
I'm trying to remove **AbpAspNetCoreMvcUiBasicThemeModule** from my web module because I have my own theme, but I got this Exception:

..
Do I have to develop my own theme ? or I can  just remove the basic theme module and work with razor pages normally ?

[2020-01-19 15:26] mehdihadeli opened #2680 "How to customize or Replace AbpResourceOwnerPasswordValidator?"
Hi,
I want to customize AbpResourceOwnerPasswordValidator to add some extra functionality for support LDAP. how can I customize or Replace `AbpResourceOwnerPasswordValidator` for validation `resource owner flow` in Identity Server?

[2020-01-19 16:28] pranavpatil19 opened #2681 "Error in https://localhost:44386/"
An unhandled exception occurred while processing the request.
SocketException: The I/O operation has been aborted because of either a thread exit or an application request.
Unknown location

IOException: Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an application request..
System.Net.Sockets.Socket+AwaitableSocketAsyncEven

[2020-01-19 16:41] #2665 closed

[2020-01-19 17:15] hikalkan commented on #42
Don't create a new Identity, but add your claims to existing Identity:

[code]

BTW, in this way you are adding the claim in every request. If that's you want, it's OK. But, we generally want to add a claim to the authentication cookie/ticker while the user is logging in. To do that;

1. Create a class inheriting from the `[AbpUserClaimsPrincipalFactory](https://github.com/abpframework/abp/blob/8e

[2020-01-19 17:24] hikalkan commented on #2628
When you upgrade (especially a major version) check the release notes.
For example, in v2.0, we've written all breaking changes to the release notes: https://github.com/abpframework/abp/releases/tag/2.0.0
Every breaking change issue documents its own solution. For example, https://github.com/abpframework/abp/issues/2499 explains `AbpValidationResource` change and the actions need to take.

https:/

[2020-01-19 18:50] kbowma commented on #394
Would someone from Volosoft please confirm whether or not a Blazor template will be part of the commercial version, and maintain at the same level as Angular and MVC. (if so, any indication of timing would be helpful as well)

[2020-01-19 19:12] hikalkan commented on #2624
You're welcome :)

[2020-01-19 19:23] hikalkan commented on #2673
@mehmet-erim is it possible? If possible, we can add this to the backlog.

[2020-01-19 19:38] hikalkan commented on #2674
It works for me.

Visual Studio can not work properly with the local references out of the solution folder. When you open a module/sample solution in the Visual Studio, you may get some errors related to the dependencies. In this case, run the dotnet restore on the command prompt for the related solution's folder. You need to run it after you first open the solution or change a dependency.

I thin

[2020-01-19 19:39] #2674 closed

[2020-01-19 19:40] hikalkan commented on #2674
BTW, if anyone want to create a template and work on the CLI to support it, we accept and thank :)

[2020-01-19 19:43] hikalkan commented on #2676
Can you share the exception message and stacktrace in the log file (inside the Logs folder of the applcation)?

[2020-01-19 19:45] hikalkan commented on #2677
We are generally using Guid. @maliming can you try and help on that?

[2020-01-19 19:51] hikalkan commented on #394
@kbowma yes, we will work on the Blazor template. Not only for the [ABP Commercial](https://commercial.abp.io/), but also for the open source side. And we will maintain as we do for all official UI options.

Time? You know this is hard to answer. I can say that we will start to work on that in the February. It will get some time because we will also develop Blazor UIs for all pre-built modules.

[2020-01-19 19:54] mehdihadeli commented on #2636
@jortygu I can't use ADFS, I want to use LDAP.

[2020-01-19 19:57] hikalkan commented on #2636
@mehdihadeli have you searched for this on web? You know because we are using standard AspNet Core Identity library and IDS4 for the authentication system. Maybe you can configure it in your solution. If not, we try to help.

[2020-01-19 20:03] hikalkan commented on #2680
Just replace IResourceOwnerPasswordValidator service with your own implementation (probably derived from AbpResourceOwnerPasswordValidator and overriding some virtual methods).

See https://docs.abp.io/en/abp/latest/Dependency-Injection#replace-a-service

[2020-01-19 20:05] hikalkan commented on #2534
@carloszan did you see https://github.com/abpframework/abp/pull/2563 (in 2.1 milestone).

[2020-01-19 20:07] hikalkan commented on #2679
Use `AbpThemingOptions` to register your theme. If you remove the theme, other modules will fail because they are using layouts of the current theme.
So, copy the basic theme into your solution and start your customization. This would be better and more compatible to existing modules.

[2020-01-19 20:11] gterdem commented on #2636
I think @mehdihadeli wants to use LDAP userstore for authenticating the users for IdentityServer4 which will cause some problems (if @hikalkan can confirm) since users won't be stored in IdentityServer4 entities but somewhere else.

You can create a new `UserStore` which has some methods like `bool ValidateCredentials` and match the user's username and password via LDAP (like `LdapEntry.Bind` meth

[2020-01-19 20:15] hikalkan commented on #2636
I should check this (added to milestone 2.2). If needed, we can add extension points to the Identity and Account modules (like we did for [AspNet Boilerplate before](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.Zero.Ldap/Ldap/AbpZeroLdapModule.cs)).

[2020-01-19 20:16] hikalkan commented on #2636
BTW, how this is done if we would use a standard AspNet Core application with AspNet Core Identity? Anyone tried?

[2020-01-19 20:17] mehdihadeli commented on #2636
@hikalkan Yes, I search about it and I decided to use LDAP for this purpose. I read your identity server module, you created a custom `ResourceOwnerPasswordValidator` for simple authentication. I decided to extended this validator to support both LDAP and Simple user and password authentication, Actually I want both these features in my IDP. Do you have any solution for my case? Maybe my design is

[2020-01-19 20:23] mehdihadeli commented on #2680
Ok thanks.

[2020-01-19 20:23] #2680 closed

[2020-01-19 21:21] dicksonkimeu commented on #2601
@hikalkan can I share my project in private?

[2020-01-19 21:34] dicksonkimeu commented on #2676
@hikalkan
[logs.txt](https://github.com/abpframework/abp/files/4083633/logs.txt)

[2020-01-20 00:27] maliming commented on #2676
@dicksonkimeu  What are the steps to reproduce the problem?

[2020-01-20 00:29] maliming commented on #2601
@dicksonkimeu This is best if you can create a new project using the cli to reproduce the problem.

[2020-01-20 00:34] dicksonkimeu commented on #2601
I have recreated, and added the db entities to provide a comprehensive test.

I can share re downloaded project in private ?

[2020-01-20 00:35] maliming commented on #2681
What are the steps to reproduce the problem?

[2020-01-20 00:35] dicksonkimeu commented on #2676
Just create a new project from abp site. Update Database and run.

No changes at all.

[2020-01-20 00:38] maliming commented on #2678
### Documentation
We have completed some missing documentation with the v2.0 release. In the following weeks, we will mostly focus on the documentation and tutorials.

[2020-01-20 00:38] #2678 closed

[2020-01-20 02:04] maliming commented on #2601
@dicksonkimeu
You can send me the projects.
liming.ma@volosoft.com

[2020-01-20 03:22] luy710 opened #2682 "How to change CurrentTenant in IAuthorizationFilter"
How to change CurrentTenant in IAuthorizationFilter
I execute _currentTenant.Change (new Guid ("3FA85F64-5717-4562-B3FC-2C963F66AFA7")) in IAuthorizationFilter; but the CurrentTenant value has not changed in the DbContext

I need to determine tenant by user identity and corresponding action
Is there any good solution for this requirement

thanks !

[2020-01-20 03:36] maliming commented on #2682
`IAuthorizationFilter`  seems unable to intercept methods, please share your code.

[2020-01-20 03:45] luy710 commented on #2682
`namespace MT.Module.Shops.Filter
{
    public class TestChangeTenantAttribute : TypeFilterAttribute
    {

        public TestChangeTenantAttribute(string  actionType ) : base(typeof(AuthorizeAdminFilter))
        {
            this.Arguments = new object[] { actionType };
        }

        #region 内部过滤器

        /// <summary>
        /// 管理员授权过滤器
        /// </summary>
        private class Aut

[2020-01-20 04:29] abllyboy commented on #42
Thank you for your patience answer,I'll try this.

[2020-01-20 04:59] maliming commented on #2682
You should use the Change method as follows.

https://github.com/abpframework/abp/blob/0a1568781df03fe9c86dc38cb7d47b95389cdf0b/framework/src/Volo.Abp.AspNetCore.MultiTenancy/Volo/Abp/AspNetCore/MultiTenancy/MultiTenancyMiddleware.cs#L46-L49

You cannot change subsequent tenants in the OnAuthorization method because there is no way to intercept it.

[2020-01-20 04:59] #2682 closed

[2020-01-20 05:02] mentianyi commented on #2681
@pranavpatil19 ,hi

This error is because your Redis is not installed maybe,you can check your appsettings.json.

you can :
1: install redis ,if your os is windows ,you can install memurai.
2: disable all your projects redis settings.

[2020-01-20 05:34] mehdihadeli opened #2684 "Integrate abp modules with angular insted of MVC"
Hi,
Is it possible we use angular for our modules UIs instead of mvc? I saw existing abp modules and all of them use mvc for generating UI for modules.I want to create modular system with angular insted of mvc. Do you any solutions for this issue?

[2020-01-20 05:42] maliming commented on #2677
When you use MongoDbRepository's `InsertAsync `method to insert an entity that inherits from `IEntity<Guid>`, it will automatically set the value of the guid.

https://github.com/abpframework/abp/blob/0a1568781df03fe9c86dc38cb7d47b95389cdf0b/framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs#L186-L192

[2020-01-20 05:52] duard-sf commented on #2666
This issue is now occurring in Yarn as well.
[yarn.lock](https://github.com/abpframework/abp/files/4084622/yarn.lock.txt)

[2020-01-20 06:32] mehmet-erim commented on #2669
Angular UI modules can't access the application environment directly. The environment passes to the `CoreModule` inside the `AppModule`. See the [`AppModule`](https://github.com/abpframework/abp/blob/dev/templates/app/angular/src/app/app.module.ts#L23).
Then, `CoreModule` add the environment to the `ConfigState`. All Angular UI modules consume the environment via `ConfigState`.

We can create an a

[2020-01-20 06:39] mehmet-erim commented on #2673
@hikalkan Yes, it is possible. We can create a library that doesn't contain framework-specific codes.

[2020-01-20 07:06] itryan commented on #2673
maybe some of the returned types of `observable/Subject` can be adapted to `Promise<>` so they will not depend on `rxjs` library.

[2020-01-20 07:11] leonkosak commented on #2684
You have Angular UI option when generating abp application. In Angular application, there are Volo npm packages referenced.
I don't know where do you see problems?

[2020-01-20 07:27] pranavpatil19 commented on #2681
i think default redis setting hast to set false .
i am used windows 7 and login and registration for take long time to open .. i dont  know why..

can i share you this project.. please share emailid

[2020-01-20 07:30] mentianyi commented on #2681
menxin@qq.com

[2020-01-20 07:44] mehmet-erim commented on #2666
It's fixed. You can remove the `node_modules/@abp/ng.core/lib/utils/date-extensions.d.ts` file to hide errors until the v2.0.1 is released.

[2020-01-20 07:44] #2666 closed

[2020-01-20 07:52] mehmet-erim commented on #2673
That's right. We will consider this.

[2020-01-20 07:56] mehdihadeli commented on #2684
@leonkosak I want to create a module, not application, for example, I want to create an abp module with angular UI and I want to add it to my application with `[DependsOn()]` attribute.

[2020-01-20 08:13] hikalkan commented on #2684
All abp modules also have angular UIs, but not inside the module folder. See angular UI of the modules: https://github.com/abpframework/abp/tree/dev/npm/ng-packs/packages
They are deployed as NPM packages. It is not C#, so you cand use DependsOn attribute for them. You will depend in your package.json file for NPM.

[2020-01-20 08:13] #2684 closed

[2020-01-20 08:23] hikalkan commented on #2676
I don't see any exception in your logs.

You are getting error from the ServiceProxyScript endpoint. Can you show what it returns?
What is your project name? "Switch"?

Also, I suppose this is an MVC project. @maliming can you just download a new project and test please (I don't suppose it will have a problem, but to be sure).

[2020-01-20 08:29] maliming commented on #2676
Everything works fine.
![image](https://user-images.githubusercontent.com/6908465/72710415-056d2080-3ba2-11ea-8c87-d8391253fb57.png)

[2020-01-20 08:30] hikalkan commented on #2677
I suppose @LGinC want to use auto increase id or [objectid](https://mongodb.github.io/node-mongodb-native/2.0/tutorials/objectid/) instead of Guid.
But I suppose there is not an auto increase id in MongoDB by default (maybe I'm wrong).

[2020-01-20 08:34] LGinC commented on #2677
yes, that's so

[2020-01-20 08:35] #2668 closed

[2020-01-20 08:36] jack-gaojz opened #2685 "How to support the "Devart.Data.*.EFCore"?"
Now we need to use the "Devart.Data.Oracle.EFCore" for the spatial data, but the Abp does not provide the package for the "Devart", how to support it? Could you please give some guides for it? Thanks so much.
https://www.devart.com/dotconnect/oracle/

[2020-01-20 08:36] #1214 closed

[2020-01-20 08:36] maliming commented on #2677
@LGinC Can you share a project?

[2020-01-20 08:37] jack-gaojz commented on #756
Bad news, I would plan to use the Oracle. :(

[2020-01-20 08:39] ismcagdas commented on #756
https://www.devart.com/dotconnect/oracle/ supports .NET Core 3.1 but it is a paid product.

[2020-01-20 08:44] maliming commented on #2685
Please refer to the existing package, it's simple.
https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.EntityFrameworkCore.MySQL
https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql

[2020-01-20 09:57] olicooper commented on #2669
Yes that would work. I imagined creating a json file that I could read in similar to how [aspnetboilerplate did it](https://github.com/aspnetboilerplate/module-zero-core-template/blob/master/angular/src/assets/appconfig.json).
Thanks :+1:

[2020-01-20 12:23] inamvar opened #2686 ""The reader is closed" error on calling Efcore repository's DeleteAsync method"
I have a Repository that derived from **EfCoreRepository** class. I Injected that repository in a **DomainService**. When  I call **DeleteAsync** method from injected repository object, I'll get **The reader is closed** error. If I call a method from another repository before that, It works properly but without it, will get that error.  Can you please help me to find out where is the problem?

- A

[2020-01-20 12:33] maliming commented on #2686
Can you try sql server localdb? Does it work fine?

[2020-01-20 12:37] jader1313 commented on #2668
The application will work offline, accessing an SQLite database on the device that will synchronize with a MySQL database on the Web.

[2020-01-20 12:55] inamvar commented on #2686
I tested on **localdb** and the error message changed to : **A DbContext can only be created inside a unit of work!**

[2020-01-20 12:59] maliming commented on #2686
When you call the `CancelRequest `method, are you using the `IReservationManager `interface or the `ReservationManager `class?

[2020-01-20 13:04] inamvar commented on #2686
Im calling the **CancelRequest** method from a **CrudAppService** that use IReservationManager and inject it in constructor method.

[code]

[2020-01-20 13:09] maliming commented on #2686
Use `Task` instead of `void` as the return value of the `PostCancelRequest` asynchronous method.

[2020-01-20 13:18] inamvar commented on #2686
Error has gone 👍  It works properly both on **LocalDB** and **postgreSQL**.
Thank you very much.
and thanks to amazing Abp team!

[2020-01-20 13:18] #2686 closed

[2020-01-20 13:23] obassullu commented on #2584
Hi @maliming it's my mistake. now I can login.
thanks

[2020-01-20 13:23] #2584 closed

[2020-01-20 13:28] jack-gaojz commented on #2685
@maliming Thanks so much. :)

[2020-01-20 13:44] #2685 closed

[2020-01-20 15:26] Lflying-NRSoft commented on #2284
这个问题已解决，请升级到 V 2.0.0. 版本

[2020-01-20 16:22] itryan commented on #2629
It's likely to get lost with the `IsPageable` property when need to query both paged and full list. Is it possible to use Nullable<int> for maxResultCount, which may apply the `take()` only when having value

[2020-01-20 16:26] itryan commented on #2629
It's likely to get lost with the IsPageable property when need to query both paged and full list. I think it's better to use nullable MaxResultCount, and apply the `take()` only when having value.

[2020-01-20 16:30] itryan commented on #2629
It's likely to get lost with the IsPageable property when need to query both paged and full list.  Separating into GetListAsync / GetListPagedAsync may be not necessary.  I think it's better to use `nullable MaxResultCount`, and apply the `take()` only when having value.

[2020-01-20 16:46] itryan commented on #2629
It's likely to get lost with the IsPageable property when need to query both paged and full list.  Separating into GetListAsync / GetListPagedAsync may not be necessary.  I think it's better to use `nullable MaxResultCount`, and apply the `take()` only when having value.

MaxResultCount can be set with default value, only for full list endpoint we will pass null as MaxResultCount internally

[2020-01-20 17:21] Alexbits opened #2687 "EfCoreRepository - Specified method is not supported"
Hi there

I get **Specified method is not supported** exception when I try to use a repository derived from ```EfCoreRepository```  class.

It works fine in the integration test context when repository call (```InsertAsync```) is inside ```WithUnitOfWorkAsync``` method.

[code]
When I'm using database context directly (via db context interface injection) it also works fine.

What can it be? Thanks

[2020-01-20 18:24] dicksonkimeu commented on #2676
See below . I can log in but cant see users and can't create. Same to everything else. Can't see list, create etc.

![image](https://user-images.githubusercontent.com/4476822/72749467-31e96280-3bcb-11ea-9117-e4312e82e586.png)

[2020-01-20 19:11] leonkosak opened #2688 "Connection Strings and database migrations (EF) - more detailed documentation"
https://docs.abp.io/en/abp/latest/Connection-Strings

![image](https://user-images.githubusercontent.com/39346964/72751530-22b0e780-3bc0-11ea-92d8-1c04b87938e5.png)

Better documentation (with examples) how to achieve grouping databases defined in modules into single database (or other gruping).

Modules don't have .DbMigrations project and it's not clear where to create and run migration? On modu

[2020-01-20 22:48] dicksonkimeu commented on #2676
Hello.
Project name is the issue. Switch.

Java seems to use this name. Hence the issue

[2020-01-20 22:48] #2676 closed

[2020-01-21 00:57] maliming commented on #2687
hi @Alexbits
May be related this issue: https://github.com/dotnet/efcore/issues/16836

[2020-01-21 02:41] johnnba opened #2689 "Build the microservicedemo project get version mismatch with the latest abp version v.2.0.0.0"
Dears：
      when pull down the latest source code, and try to build the microservice demo project , i get the following compile error. please help me to figure out the issue.

[code]

[2020-01-21 02:49] maliming commented on #2689
Your problem cannot be reproduced in the latest code of the `dev `branch. You can try clean and rebuild.

[code]

[2020-01-21 03:00] johnnba commented on #2689
yeah, i'm in the latest code of the `dev` branch. i've tried many times.

[2020-01-21 03:03] maliming commented on #2689
This should not happen if you haven't changed any code. : )

[2020-01-21 03:09] johnnba commented on #2689
sorry for this issue, but what i've cleaned and rebuilded is in the visual studio 2019 IDE, then it will throw the 1# error and exceptions. when i try the dotnet build commands ,it works well.
sincerely thanks. @maliming

[2020-01-21 03:09] #2689 closed

[2020-01-21 06:39] Alexbits commented on #2687
Hi @maliming.  Yes. It looks like it, not sure how I overlooked this 🙃 Thank you.  Setting ```[UnitOfWork(false)]``` ```(IsTransactional=false)``` helps to fix this for Cosmos DB.  I don't see better way to do this at the moment.

[2020-01-21 07:53] #2519 closed

[2020-01-21 08:11] #2687 closed

[2020-01-21 09:06] xirius opened #2692 "Acme.BookStore.HttpApi.Host crashes on startup under WSL"
Acme.BookStore.HttpApi.Host (2.0.0) crashes when containerized on Windows (WSL).
It looks like it has something to do with VirtualFileProvider. Any ideas ?

[code]

[2020-01-21 09:10] maliming commented on #2692
What is the environment of wsl?

[2020-01-21 09:27] xirius commented on #2692
wsl -l
Windows Subsystem for Linux Distributions:
Debian (Default)

I think it is version 1 of WSL.

What other info do you need ?

[2020-01-21 09:30] maliming commented on #2692
Can you check the **ASPNETCORE_ENVIRONMENT** and **ReplaceEmbeddedByPhysical** methods of the application?

[2020-01-21 09:37] xirius commented on #2692
I was testing a build pipeline and forgot to change switch Dev to Prod.
So yeah ASPNETCORE_ENVIRONMENT was Development. I guess this is the issue :)

[2020-01-21 09:42] maliming commented on #2692
Agree. : )

[2020-01-21 10:26] xirius commented on #2692
Thank you! You can close it 👍

[2020-01-21 10:27] SamQuest commented on #1414
@hikalkan What is this witchcraft. can you explain this.

besides the above code helped me to do this `DomainUser.AppUser` and configure it as
`b.HasOne(x => x.AppUser);`

`DDD` is broken at this point, but this was the only way I could consume the AppUser without making it FAT (When adding columns to AppUser in each modules is confusing for any 'rookie' who will later takeover the code, and the w

[2020-01-21 10:29] #2692 closed

[2020-01-21 12:47] leonkosak commented on #2620
@yekalkan Can you explain how to "deal" with migrations in application/modules ([my base question](https://github.com/abpframework/abp/issues/2511#issuecomment-575688089) and [this](https://github.com/abpframework/abp/issues/2688))

[2020-01-21 20:29] mkmita opened #2694 "I have module what needs moment js. How to properly add javascript libs to abp?"
I have module what needs moment js. Maybe somebody could guide me about how to properly add javascript libs to abp?

[2020-01-22 00:16] SamQuest commented on #1414
So is it `OwnedEntity`, would it make sense if shared properties like DateOfBirth can be set using `ConfigureCustomUserProperties` and other columns use the `FKey`

I am on my first few days of ABP Framework and it took a while to wrap my head around the `ConfigureCustomUserProperties`

[2020-01-22 00:45] maliming commented on #2694
If you need a third-party NPM package that is not in the standard set of packages, you can create a Pull Request on the Github repository.

https://docs.abp.io/en/abp/latest/AspNetCore/Client-Side-Package-Management

[2020-01-22 01:54] maliming commented on #2294
Because the `IdentityModelRemoteServiceHttpClientAuthenticator `in the `Volo.Abp.Http.Client.IdentityModel` package is using `IHttpContextAccessor`. The project SDK cannot be changed at this time.

[2020-01-22 01:57] maliming commented on #2229
Fixed by https://github.com/abpframework/abp/pull/2392

[2020-01-22 01:57] #2229 closed

[2020-01-22 02:23] #2406 closed

[2020-01-22 08:55] javiercampos opened #2697 "ValueGeneratedNever assigned to all Id properties now"
Upon update to 2.0, our application started breaking badly when inserting many entities of the same type into our repositories or context without saving inbetween, the root cause is that now on `AbpDbContext` you add this:

[code]
which calls this:

[code]

So now the id of the new `IEntity<Guid>` entities (with a default Id, or `Guid.Empty`) is only generated upon saving, but not upon adding to t

[2020-01-22 09:57] SamQuest opened #2698 "How to link AppUser to my DomainUser"
According to this https://github.com/abpframework/abp/issues/773#issuecomment-477313855 what i am doing should be possible. Had issues and followed this solutions https://github.com/abpframework/abp/issues/1414#issuecomment-508818941 . I did find one similar issue here https://github.com/abpframework/abp/issues/1517

but this one is different i guess

here is the synopsis

migration runs successfu

[2020-01-22 10:50] #2694 closed

[2020-01-22 11:20] hikalkan opened #2699 "New React Native Mobile Application"
I want to annouce that the ABP Framework core team has started to work on a React Native application for the ABP Framework.

* It will simply login to the application using OAuth (as a client to the IdentityServer based backend).
* It will manage users in the system.
* It will share the same settings, localization, permissions...etc. in the server side.

So, it will be a good starting point for wh

[2020-01-22 11:30] myomyinthan commented on #2699
Why not angular native script or angular ionic 4 ? 😁

[2020-01-22 11:54] ryoldash commented on #2699
Wow, great news. Then we will have the React Native integration for both [@aspnetboilerplate](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4584) and @abpframework. @sametkabay @mhmtyasr

[2020-01-22 13:02] MRashed commented on #2699
Did you check Flutter ?
Highly recommend
https://flutter.dev/

[2020-01-22 14:00] #2433 closed

[2020-01-22 14:22] SamQuest commented on #2698
adding these finally made it work.

            builder.Entity<IdentityUser>().Ignore(x => x.ExtraProperties);
            builder.Entity<IdentityUserLogin>().HasKey(x => new { x.UserId, x.LoginProvider });
            builder.Entity<IdentityUserRole>().HasKey(x => new { x.UserId, x.RoleId });
            builder.Entity<IdentityUserToken>().HasKey(x => new { x.UserId, x.LoginProvider });

is this

[2020-01-22 14:25] ZouZou opened #2701 "IDistributedEventHandler not being triggered"
I am using abp 2.0.0, trying to use RabbitMq.
I connected to the RabbitMq, created a class which inherits from EtoBase, called the AddDistributedEvent however nothing shows up on the RabbitMq Manager and the class which implements the IDistributedEventHandler is not being called at all.

What exactly am I missing?

[2020-01-22 14:40] acjh commented on #2698
1. Which version of ABP Framework are you on?
2. Does your module depend on `AbpIdentityEntityFrameworkCoreModule`?
3. Do you call `base.OnModelCreating(builder);` before configuring `AppUser` and `DomainUser`?

[2020-01-22 14:44] acjh commented on #2701
Is your aggregate root (entity) successfully saved?

[2020-01-22 15:33] taichimeow commented on #2699
😄 exciting news !  just what I wanted !

[2020-01-22 16:12] javeez opened #2702 "search filter keyword should be renamed in datatable"
when setting searching to true in data table, the table will not filter

[code]

The field name input.filter need to be change to input.keyword inside the js file below in order to make it working

Code to be changed from

[code]

To
[code]

[2020-01-22 17:51] ZouZou commented on #2701
what exactly do you mean by saved? saved to the DB? I am testing the class without saving anything to the db

[2020-01-22 17:54] acjh commented on #2701
Yes, I mean saved to the DB.

Distributed events are triggered after `SaveChanges`/`SaveChangesAsync`. See https://github.com/abpframework/abp/issues/2433#issuecomment-568159017.

[2020-01-22 18:23] #2702 closed

[2020-01-22 21:43] dicksonkimeu opened #2703 "[DataType(DataType.Date), DisplayFormat(DataFormatString = "{0:dd-MM-yyyy}", ApplyFormatInEditMode = true)]"
My date format is not formated to date format on UI. I want date part only

![image](https://user-images.githubusercontent.com/4476822/72936985-56833d00-3d79-11ea-949b-4320f812ca20.png)

[2020-01-22 23:12] thiag0coelho commented on #2698
I **may** be experiencing the same issue while trying to load Creator user.
`public IdentityUser Creator { get; set; }`

I've verified module and configurations as @acjh mentioned above and seems ok

`[ERR] The entity type 'IdentityUserLogin' requires a primary key to be defined. If you intended to use a keyless entity type call 'HasNoKey()'.
System.InvalidOperationException: The entity type 'Iden

[2020-01-22 23:21] acjh commented on #2698
Which version of ABP Framework are you on?

[2020-01-22 23:29] thiag0coelho commented on #2698
Tried with 1.1.2 and 2.0.0
Now I noticed I already had "AppUser" and will try to use that entity instead of IdentityUser.

[2020-01-22 23:29] jack-gaojz opened #2704 "Oracle 11g: the identifier name can not more than 30 characters"
When I use the Oracle 11g to generate the database, the error message as below:
'Column name 'AlwaysIncludeUserClaimsInIdToken' in table "IdentityServerClients" is too long (32 characters). An identifier with more than 30 characters was specified.'

[2020-01-23 00:01] acjh commented on #2698
Try to ignore `IdentityUser`:

[code]

[2020-01-23 00:31] SamQuest commented on #2698
2.0.0, Used the CLI to spit out the MainApp(Web + API) and the CoreModule(+UnifiedWeb)

Trying to replicate [BookStore-Modular ](https://github.com/abpframework/abp/tree/dev/samples/BookStore-Modular) and hoping to have an architecture

[code]

am i doing this right?
still to figure out how to share the DomainUser to Feature#Modules

`MyProject.CoreModule.EntityFrameworkCore` has reference to
`Vol

[2020-01-23 00:42] maliming commented on #2704
Duplicate of #1920

[2020-01-23 00:42] #2704 closed

[2020-01-23 00:48] SamQuest commented on #2698
no this does not work i get this

it works if i use this

       builder.Entity<IdentityUser>().Ignore(x => x.ExtraProperties);
       builder.Entity<IdentityUserLogin>().HasKey(x => new { x.UserId, x.LoginProvider });
       builder.Entity<IdentityUserRole>().HasKey(x => new { x.UserId, x.RoleId });
       builder.Entity<IdentityUserToken>().HasKey(x => new { x.UserId, x.LoginProvider });

if onl

[2020-01-23 01:00] acjh commented on #2698
`Volo.Abp.EntityFrameworkCore (2.0.0)`
`Volo.Abp.IdentityEntityFrameworkCore (2.0.0)`

I mean explicitly `DependsOn`.
<br>

Try to configure the `Identity` module instead:

[code]

[2020-01-23 01:50] maliming commented on #2697
https://github.com/abpframework/abp/issues/2450#issuecomment-568986527
https://github.com/abpframework/abp/pull/2470

[2020-01-23 01:50] #2697 closed

[2020-01-23 02:20] jack-gaojz commented on #1920
I used the code change as below:
//builder.ConfigureIdentityServer();
builder.ConfigureIdentityServer(options => {
       options.DatabaseProvider = EfCoreDatabaseProvider.Oracle;
});
The issue #2704 still reproduce it. :(

[2020-01-23 02:23] maliming commented on #1920
@jack-gaojz
Because the default is only compatible with mysql, you can refer to this commit(https://github.com/abpframework/abp/commit/647b863d6f255ad4b85b20943c582f3384935bde) for compatibility with oracle, if you like, welcome to contribute code.

[2020-01-23 03:24] javiercampos commented on #2697
I see. This slipped into the "others" pile in the release changelog, and not into "breaking changes".

Perfect, we'll workaround it ourselves then!

Thanks

[2020-01-23 06:46] mehmet-erim commented on #2699
React Native is more popular than NativeScript and Ionic.
![state-of-js-2019](https://2019.stateofjs.com/images/captures/mobile_desktop_experience_ranking.png)
[(The State of JavaScript 2019 result)](https://2019.stateofjs.com/mobile-desktop/)

React Native has a huge community. RN is more performant than Ionic. More React Native packages are published to NPM. So we have a lot of reasons to choose

[2020-01-23 08:16] ukocabicak commented on #2699
It is definitely the right decision for me.

[2020-01-23 08:21] kurtwilbies commented on #2654
@leonkosak Can you share your solution?

[2020-01-23 08:29] leonkosak commented on #2654
It's really nothing special (I currently have no access to this demo project).
Just "application" and "modules" folders. In application folder, there is abp Commercial.
In modules folder, there is just one module. In abp Commercial are references to this module ([like this](https://github.com/abpframework/abp/issues/2654#issuecomment-575091535))

I succeassfully added one method on API in module,

[2020-01-23 09:31] SamQuest commented on #2698
this was it

now if identity gets configured inside the core module, i have to remove it from the
migrationdb context since it calls the `ConfigureCore`

[2020-01-23 09:38] ram16g commented on #2699
I think it is better to keep the angular technology stack instead of introducing react

[2020-01-23 09:54] ZouZou commented on #2701
I got it to work without saving to the DB, it seems that my issue was that the handler had to implement the ITransient

[2020-01-23 09:56] shrimpwang opened #2705 "Change style template"
hello,@maliming

![1](https://user-images.githubusercontent.com/57536643/72973734-bd036c00-3e08-11ea-890f-696eb164de13.png)

I created the project and wanted to modify the current Login and register all the interface styles, but I couldn't find /Account/Login

I want to more to http://8b77c880f7587eeb.demo.commercial.abp.io/init-demo?Theme =Style1 the same interface style,

thank you

[2020-01-23 09:57] #2701 closed

[2020-01-23 10:03] maliming commented on #2705
hi
The project downloaded by abp.io has a simple bootstrap theme by default.

You mentioned the theme of the abp commercial(https://commercial.abp.io)

[2020-01-23 10:09] hikalkan commented on #2699
We know making everybody happy is impossible and a decision can not be 100% true.
We are working on the react native now.
Based on the feedback and other priorities, we may build other mobile application templates too.
Also, community can contribute (like they did Vue and React UIs for the [AspNet Boilerplate](https://aspnetboilerplate.com/Templates)) and it is appreciated :)

[2020-01-23 11:14] thk-liu commented on #42
When I create the code in your way, the class no work and breakpoints .Could you help me?
the code like this:
1.public override void PreConfigureServices(ServiceConfigurationContext context)
        {

            //base.PreConfigureServices(context);

            PreConfigure<IdentityBuilder>(builder =>
            {
                builder.AddClaimsPrincipalFactory<UserClaimsPrincipalFactory>();

[2020-01-23 11:17] ryoldash commented on #2699
React-Native is one of the leading mobile framework for mobile app development, so I appreciate your choice for developing New React-Native Mobile App for ABP backend.

After completing the React Native integration for [AspNet Boilerplate](https://github.com/aspnetboilerplate/aspnetboilerplate/issues/4584) we are planning to implement ABP frameworks new ReactJS UI as well. So we can create a new i

[2020-01-23 11:19] acjh commented on #2698
Does it break when called twice?

[2020-01-23 11:52] ebicoglu opened #2706 "bootstrap-datepicker forces modal to close when a date is being selected."
When the [bootstrap-datepicker ](https://github.com/uxsolutions/bootstrap-datepicker) is used within a Bootstrap Modal dialog, the 'hide' event of the datepicker forces the modal dialog to close!
There's an open issue on their repo https://github.com/uxsolutions/bootstrap-datepicker/issues/810

---
**Repro steps:**
Open volo\abp\samples\BookStore-MVC solution
-    Run the project
-    Click edit a

[2020-01-23 12:43] SamQuest opened #2707 "IdentityUserManager fails silently when used in module's application service"
Added custom properties to AppUser which is in a **module project** using this https://github.com/abpframework/abp/issues/2698.

now trying to create the AppUser with custom properties using this https://github.com/abpframework/abp/issues/2268#issuecomment-559380876

    public class AppUserAppService :
        CrudAppService<AppUser, AppUserDto, Guid, PagedAndSortedResultRequestDto,

[2020-01-23 13:13] shrimpwang commented on #2705
Default theme, how to modify?
thank you

[2020-01-23 13:17] shrimpwang commented on #2705
The front page of the /Account/Login page could not be found
Happy New Year

[2020-01-23 14:03] SamQuest commented on #2707
this populates the record in the AppUsers table

        public override async Task<AppUserDto> CreateAsync(CreateUpdateAppUserDto input) {
            var identityUser = new IdentityUser(Guid.NewGuid(), input.UserName, input.Email);
            var identityResult = await userManager.CreateAsync(identityUser).ConfigureAwait(false);
            if (identityResult.Succeeded) {
                await

[2020-01-23 14:08] jack-gaojz commented on #1920
Yes, that's my honor. I will do it. Thanks. :)

[2020-01-23 20:05] lommez opened #2708 "CosmosDB Repository Performance Issues"
Hi,
I'm developing a CosmosDB integration to be integrated in abp framework, if possible.
I realized that to call a repository method is taking so long about 2k miliseconds and the same code without using the repository took just few miliseconds.
I dont know where to start looking for the performance issue. Maybe could be the interceptors?

I have record two gifs showing that issue:

Using reposit

[2020-01-24 01:07] maliming commented on #2708
What is the implementation code for the repository?

If you suspect it is caused by an interceptor, you can try moving the repository code to a normal service.

[2020-01-24 01:22] maliming commented on #42
@thk-liu

Your code worked for me.

![image](https://user-images.githubusercontent.com/6908465/73037704-fe3c6000-3e8a-11ea-9119-7e0666143297.png)

[2020-01-24 01:35] maliming commented on #2705
` /Account/Login` page exist in the account module.  https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml

see https://github.com/abpframework/abp/issues/631#ref-issue-503873626
![image](https://user-images.githubusercontent.com/6908465/73038257-b3234c80-3e8c-11ea-812a-d0348d9c51a6.png)

[2020-01-24 02:44] gdlcf88 commented on #2698
If you want an entity to be related to AppUser, you should try: https://github.com/abpframework/abp/issues/1414#issuecomment-507395552

[2020-01-24 07:36] shrimpwang commented on #2705
ok， thank you

[2020-01-24 07:37] #2705 closed

[2020-01-24 08:08] ismcagdas commented on #2654
@leonkosak you need to add migrations like this https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore.DbMigrations/EntityFrameworkCore/MyProjectNameMigrationsDbContext.cs#L41. I assume your module has a similar extension method like this https://github.com/abpframework/abp/blob/dev/modules/tenant-management/src/Volo.Abp.TenantMan

[2020-01-24 13:17] lommez commented on #2708
Hi, @maliming
Here is the url for the repository implementation:
[CosmosDBRepository](https://github.com/lommez/abp/blob/cosmos-db-integration/framework/src/Volo.Abp.CosmosDB/Volo/Abp/Domain/Repositories/CosmosDB/CosmosDbRepository.cs)

Is still in progress, have a lot of things to do and clean up.

Like you said, i´ve moved the code to a normal service, like the code below:

[code]

And here the

[2020-01-24 14:19] yekalkan opened #2710 "[Bug] Datatables action dropdown is not shown properly"
![image](https://user-images.githubusercontent.com/5793291/73075682-83e0ff80-3ecd-11ea-98c0-044a10dcb06e.png)

[2020-01-24 14:21] yekalkan commented on #2710
resolved by https://github.com/abpframework/abp/commit/c2518fd7f4f7c0d892496b62ad615555b58e796d

[2020-01-24 14:21] #2710 closed

[2020-01-24 17:36] hikalkan commented on #2707
No need to call UpdateAsync, it already saves changes when your method ends.

Also, you don't need to use ConfigureAwait in your applications. It is only needed for shared libraries.

[2020-01-24 17:36] #2707 closed

[2020-01-24 18:07] hikalkan commented on #2708
Can you check which part gets more time?

As I see, this part is identical for both cases:

[code]

Do you see that the performance difference is related to this part? If so, is it in the "await foreach" part or upper side.

Does your implementation support transaction (I don't know if CosmosDB supports transactions)? If so, maybe UOW uses transactions while the other one not.

[2020-01-25 03:08] SamQuest commented on #2707
Thanks for your response.

I eventually found [this](https://github.com/abpframework/abp/blob/0a1568781df03fe9c86dc38cb7d47b95389cdf0b/modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs).

this  is for anyone else who is searching for similar stuff.

    public class AppUserAppService :
        CrudAppService<AppUser, AppUserDto, Guid, PagedAndSortedResu

[2020-01-25 10:30] ZouZou opened #2711 "[Question] Permission Manager"
I would like to know how to access the permission manager dialog in abp
When I run the IdentityServer project, I log in as an Admin but I cannot access the Permission Management dialog.
The question might seem silly at this point but still I would appreciate the help.

[2020-01-25 13:58] mehdihadeli opened #2712 "LdapManager dosn't Inject with AbpLdapModule"
Hi,
I use AbpLdapModule but LdapManager doesn't inject in dependency injection and I have to add into my dependency injection manually. it is better `LdapManager` inject automatically with using this module.

[code]

[2020-01-25 14:08] mehdihadeli commented on #2712
It was my fault ILdapManager was `ITransientDependency` and it is ok, sorry

[2020-01-25 14:08] #2712 closed

[2020-01-25 19:24] vd3d opened #2714 "Missing Page : Forgot password"
Hi,

In the Identity (Account) module, you allow to register with an email, but there is no "Forgot password" page !

This feature is really part of the basic features set ... to be coherent !

[2020-01-26 05:35] pranavpatil19 opened #2715 "In MVC Project Tired Application Error"
In MVC  Project Tired Application Registration Process Not Working

[2020-01-26 07:14] Gosha24 opened #2716 "Bug in Sample DashboardDemo"
I'm playing with sample DashboardDemo. When i run it in Debug mode i get exception in line
 app.UseVirtualFiles(); in DashboardDemoWebModule. I commented out lines
                Configure<AbpVirtualFileSystemOptions>(options =>
                {
                    //options.FileSets.ReplaceEmbeddedByPhysical<AbpAspNetCoreMvcUiThemeSharedModule>(Path.Combine(hostingEnvironment.ContentRootPath, s

[2020-01-26 09:13] ismcagdas commented on #2715
@pranavpatil19 is there any error message in the server side log file ?

[2020-01-26 14:32] pranavpatil19 commented on #2715
API work fine but... from front end registration form  in identity server ... if i enter username email and password after submit request .. it redirect to web page and give 400 errror and registration fail

[2020-01-26 19:55] hikalkan commented on #2688
Migrations and database groupings are managed by the final application.
If you will have 3 databases, you need to have 3 separate migration paths. I would create 3 .DbMigrations projects. A single .DbMigrator console app would be enough if you make it parametric to pass which migration to run.
This is the best practice as we thought on EF Core code first approach. If you have a better approach, pl

[2020-01-26 19:56] hikalkan commented on #2688
BTW, more document and tutorials will come.

[2020-01-26 19:56] #2688 closed

[2020-01-26 20:36] hikalkan commented on #2711
Permission management module is used by the Identity module to manage the permissions of the users and roles. So, go the the users page, click to the actions of a user and click to the manage permissions.

You normally don't need to directly open it. Do you need?

[2020-01-26 20:38] hikalkan commented on #2714
Duplicate of https://github.com/abpframework/abp/issues/2608 (see [my comment](https://github.com/abpframework/abp/issues/2608#issuecomment-572883146))

[2020-01-26 20:38] #2714 closed

[2020-01-26 21:58] dicksonkimeu commented on #2517
@gdlcf88 @maliming I was able to get token, but could use it because of policy error. How can give the default clientid/ secret access to my API resources ?

![image](https://user-images.githubusercontent.com/4476822/73142465-ff92a600-409f-11ea-93a9-c93292d1c450.png)

[2020-01-27 06:54] yekalkan commented on #2716
I encountered none of these problems. I can check again if you provide more detailed reproduction steps.

[2020-01-27 07:09] ZouZou commented on #2711
I kind of figured that much after following the dependencies of the modules.
Reached the understanding that the web.host project is the project able to show me the users, roles and permissions.
however, whenever I run it, it only shows the login button and when i click it I get an error. According to the IndentityServer logs, the problem is with the openid and profile scope

[2020-01-27 07:55] Gosha24 commented on #2716
1 Copy sample from source repository
2) I changed all references on framework and module projects in .csproj files to references on NugetPackages with latest version 2/0/1 .
3) All standard steps with migration of DB
4) Run DasboardDemo.Web
5) First exception in app.UseVirtualFiles();
6) Commented  Configure(options => as shown before
7) Next run
8) exception in  var myGroup = context.AddGroup(Das

[2020-01-27 08:21] abdusco opened #2717 "Missing column definitions in ModelBuilder configs causing issues with Oracle database"
Hey,
I'm trying to use Oracle Server (Oracle Database 12c Enterprise Edition Release 12.2.0.1.0) using DevArt EF Core driver (Devart.Data.Oracle.EFCore 9.10.909) on .NET Core 3.1.1 with Abp 2.0.1 https://github.com/abpframework/abp/releases/tag/2.0.1.

When I try to apply migrations using:
[code]
I get this error
<details>
<summary>click to view the log output</summary>
<pre>
Executing DbCommand [

[2020-01-27 08:59] kurtwilbies opened #2718 "How to add a module to the framework?"
If you develop a module, what are the correct steps to incorporate te module in the framework. And how to incorporate the provided sample modules in the framework. There is a cli cmd, but its too unclear.

[2020-01-27 09:05] leonkosak commented on #2718
Via CLI or "manually" ([look this](https://github.com/abpframework/abp/issues/2654#issuecomment-575091535)).

[2020-01-27 09:06] kurtwilbies opened #2719 "Best practices developing custom frontend!"
I managed to custom the frontend, but I got some errors. Is there an easy way to customize the frontend. An easy step by step guide, tut, video, whatever... without n easy way to customize the frontend abp is useless.

[2020-01-27 09:09] kurtwilbies commented on #2718
@leonkosak Your answer is too cryptic. What are steps before and after.

[2020-01-27 11:21] leonkosak commented on #2718
I suggest, that you look at BookStore-Modular example: https://github.com/abpframework/abp/tree/dev/samples/BookStore-Modular

If you decide to go "manual way":

1) create application
2) create module
3) based on my link, make connections from application .csproj files to module's .csproj files
4) build module solution
5) in application project files [xyz]Module.cs add imports in DependsOn

These

[2020-01-27 12:37] vd3d commented on #2719
I think that you have several options, but nothing seems documented yet:

- create a new theme
- create a module and override the existing pages (with the Virtual File System)
- I'm not, maybe it is also possible to customize the 'abp-button' etc ...

If you find a better, let us know and/or maybe it will be fine to add it to the documentation ;-)

[2020-01-27 12:48] vd3d opened #2720 "MultiTenancyMiddleware : issues at registration"
Hi,

I have create a sample project (with the generator), then in the "Web" one I wish to completely redo the project (I'm creating a blazor sample, without admin etc...)

then I remove the following dependency:

typeof(AbpTenantManagementWebModule)

And at launch I got an error :

`ComponentNotRegisteredException: The requested service 'Volo.Abp.AspNetCore.MultiTenancy.MultiTenancyMiddleware' has

[2020-01-27 12:55] lommez commented on #2708
Hi Halil..
Like shown in the gif, the part that take more time is the iteration in "await foreach"
But in the second time it was very fast, maybe instancied objects or data cached helped on the peformance.

![uow_performance](https://user-images.githubusercontent.com/10900667/73176062-4efdc400-40ea-11ea-9b28-90b48e416a76.gif)

[2020-01-27 13:24] acjh commented on #2720
Did you add `[DependsOn(typeof(AbpMultiTenancyModule))]`?
Documentation: https://docs.abp.io/en/abp/latest/Multi-Tenancy

[2020-01-27 13:34] HenroOnline opened #2721 "Property IsDefault of entity IdentityRole not implemented"
When creating a new Role there is the property IsDefault. The comments for this property are:
_A default role is automatically assigned to a new user_

But when I am registering or creating a new user from the Administration within the demo app (Angular in my case), these roles are not assigned to the new user.

[2020-01-27 15:36] vd3d commented on #2720
Yes, I have :-(

What is strange is that I add the middleware, no exception... and later it ask for it !

[2020-01-27 16:00] acjh commented on #2720
Which version of `Volo.Abp.AspNetCore.MultiTenancy` are you on?

[2020-01-27 16:06] vd3d commented on #2720
Version 2.0.0

[2020-01-27 16:23] acjh commented on #2720
Try to add `DefaultConventionalRegistrar` in your module's `PreConfigureServices` method:

[code]

[2020-01-28 10:01] kurtwilbies commented on #2718
I follwed the instructions and added the bnlogging module, but where is the fronend part. The backend was easy to install.

[2020-01-28 10:04] #2565 closed

[2020-01-28 10:36] mehmet-erim commented on #2721
Did you try that in ABP Angular v2.0.1?

To reinstall packages, you can remove `yarn.lock` file and run the `yarn` in the root Angular application folder.

[2020-01-28 15:20] xujin950710 opened #2723 "Obtain currentUser data using JWT"
Obtain currentUser data using JWT，Add JWT effect after api/abp/application-configuration controller or not get the current user information

[2020-01-28 16:09] HenroOnline commented on #2721
I have updated the NPM packages and NuGet packages to v2.0.1.
When I create a user through the administration in de default roles are selected in the UI.
But when I create an account (self registration) these roles are not assigned, is this by design?

And when I open the user (which I created through self registration) in the administration, the default roles are selected. I expected the default

[2020-01-29 01:48] Loongle opened #2724 "Language switching failed"
No matter which language you switch, only English will be returned.

live demo have same problem: https://commercial.abp.io/

[2020-01-29 08:25] duard-sf opened #2725 "FullAuditedEntity.DeleterId not set when deleted by host admin"
When removing a `FullAuditedEntity`, `IMultiTenant` entity - that has a tenant - as the host admin - that does not have a tenant - the `DeleterId` property is not set and remains `null`.

I have not confirmed, but I would suspect this would be the case when deleting any entity that has a tenant different from the deleting user's.

Even manually setting the `DeleterId` and calling `DbContext.SaveCh

[2020-01-29 11:06] #2723 closed

[2020-01-29 11:18] abdusco commented on #2717
Ok, syntax errors in generated SQL scripts seem to be caused by the assumption of ABP CLI (and also the sample projects) that MSSQL server will be used. This is indeed the case, because generated projects use sqllocaldb by default. But it'd be nice to have a warning in docs for this. I might send a PR for it.

Removing the migration files in `.\src\MyProject.EntityFrameworkCore.DbMigrations\Migrat

[2020-01-29 11:31] maliming commented on #2724
I can't reproduce the problem in a project with version 2.0.1.

The commercial version does have this problem, and we are working on it.

[2020-01-29 11:38] maliming commented on #2717
hi @abdusco

You can take look this issue: https://github.com/abpframework/abp/issues/1920

[2020-01-29 11:45] maliming commented on #2715
hi @pranavpatil19 Please check and share the logs of the application.

[2020-01-29 11:46] Loongle commented on #2724
@maliming I remember that I was supposed to print the corresponding language prompt, am I wrong? 😢
![image](https://user-images.githubusercontent.com/7290992/73354155-fab43900-42cf-11ea-8e48-0942d3b1e068.png)

[2020-01-29 12:08] maliming commented on #2724
see https://github.com/abpframework/abp/issues/1119

[2020-01-29 12:18] maliming commented on #2725
hi @duard-sf

Look at the logic of the `SetDeleterId `method.

The data between the tenant and the tenant and the host is isolated.

https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditPropertySetter.cs#L151-L181

[2020-01-29 13:05] abdumostafa opened #2726 "AbpRemoteCallException when running Web project"
I had a tiered application, APIs are working fine but when I Run the Web I got from no where

**This is my stacktrace:**

I even tried debugging the `DynamicHttpProxyInterceptor` with dotPeek but never hit the breakpoint on that interceptor even It's working on other Volo.* files !

[2020-01-29 13:11] maliming commented on #2726
If you are using Tiered Structure :

**You should run the application with the given order:**

* First, run the .IdentityServer since other applications depends on it.
* Then run the .HttpApi.Host since it is used by the .Web application.
* Finally, you can run the .Web project and login to the application (using admin as the username and 1q2w3E* as the password).

https://github.com/abpframework/

[2020-01-29 13:52] abdumostafa commented on #2726
@maliming I am already running them in the correct order, I need more info about how this interceptor is being called by the web project

[2020-01-29 14:45] abdumostafa commented on #2726
@maliming @hikalkan
After long investigations and commit compares, there was a comma **,** missing in a resource file **en.json** which leads to this Exception, however the Exception was a way misleading and confusing and leads to nothing.
[code]
we need either a compile time error on these resource files or a meaningful exception when serializing them. 😃

[2020-01-29 15:04] duard-sf commented on #2725
From lines 158 - 161 I would assume that if I set the `DeleterId` manually , it would be saved as such in the database? Why is that not happening then?

[2020-01-29 15:43] acjh commented on #2725
Please show your code.

[2020-01-29 15:49] duard-sf commented on #2725
Here is what I initially tried:

*HubRepository*
[code]

I also looked at what `base.DeleteAsync` does, and implemented that manually, but it also did not work.

[2020-01-29 15:51] acjh commented on #2725
Where is the `DbContext.SaveChanges` call that you claim?

[2020-01-29 15:54] duard-sf commented on #2725
So this would be how I tried it the last time:

[code]

[2020-01-29 16:13] acjh commented on #2725
I believe it is because `CancelDeletionForSoftDelete` reloads the entity entry:

https://github.com/abpframework/abp/blob/6e0c55d4b67b0b9e52a95c2876067fc7bf95b175/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L256-L266

Try to override that to:

[code]

[2020-01-30 01:00] maliming commented on #2726
hi @abdumostafa

The detailed error is in the log of the API project (HttpApi.Host)

eg:
[code]

[2020-01-30 01:00] #2726 closed

[2020-01-30 01:37] #2724 closed

[2020-01-30 02:13] maliming commented on #2517
hi @dicksonkimeu Does the user corresponding to the access token have relevant permissions?

[2020-01-30 04:50] duard-sf commented on #2725
That solved the issue for, thanks!

[2020-01-30 04:50] #2725 closed

[2020-01-30 08:46] hikalkan opened #2728 "MyCompanyName remains in the UserSecretsId"
Create a new project named "MyCrm". UserSecretsId in the csproj file will be like that:

[code]

It should be:

[code]

This happends because of the `-` usage. PRoject generator handles `.`, but not `-`. Can we change this to `MyCompanyName.MyProjectName-*` instead of  `MyCompanyName-MyProjectName-*`?

[2020-01-30 08:56] duard-sf opened #2730 "Duplicate user and role names"
When creating a user with the same user name as a user from another tenant, I get an Identity error stating that "User name '...' is already taken." Additionally, when creating a role with the same name as a role from another tenant, an Identity error appears stating "Role name '...' is already taken."

Apparently this issue essentially stems from Identity. However, does ABP provide any means to o

[2020-01-30 09:04] maliming commented on #2730
Thanks I will check it.

[2020-01-30 17:46] vd3d opened #2731 "gRPC support - not yet planned"
Hi,

I wish to know if you plan to add gRPC support one day ?

I know that it is not the first time you have this topic, but any update ?

BTW, there is an implementation here (but not an official one)
https://github.com/GameBelial/Abp.Grpc

[2020-01-30 19:10] pranavpatil19 commented on #2715
@maliming  i remove all log file and follow registration process. error resolve ..
i think its a cache issue.

[2020-01-30 20:13] Trojaner opened #2732 "Can sort by fields which are not defined in DTO"
You can order by fields in CrudAppService even if they are not defined in the DTO. I am not sure if this is meant to be like that.

[Related code](https://github.com/abpframework/abp/blob/0a1568781df03fe9c86dc38cb7d47b95389cdf0b/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/CrudAppService.cs#L188)

[2020-01-30 23:37] acjh commented on #2731
Duplicate of #605

[2020-01-30 23:37] #2731 closed

[2020-01-31 01:17] #2715 closed

[2020-01-31 01:25] acjh commented on #2732
Why not?

[2020-01-31 06:49] yinchang0626 commented on #2601
@maliming @hikalkan
In my case ,I creaed a `IDataSeeder` for  insert db data,
If use `linq ForEach` to iteration data and call `InsertAsync` will receive the same error:
![image](https://user-images.githubusercontent.com/16490084/73517309-0faadc80-4436-11ea-9433-3c81c144c68a.png),
But If use `for loop` to `InsertAsync` data is work fine
test code is like below,and called by `AppService`
[code]
Sho

[2020-01-31 07:07] maliming commented on #2601
**This is wrong.**

[code]

![image](https://user-images.githubusercontent.com/6908465/73519199-5222e800-443b-11ea-8ea9-4d71b80ab674.png)

[2020-01-31 07:16] yinchang0626 commented on #2601
@maliming
Thank you very much.
could you tell me this article from?
i need read it deeply.thanks

[2020-01-31 07:23] maliming commented on #2601
https://markheath.net/post/async-antipatterns

[2020-01-31 08:34] Trojaner commented on #2732
I don't think you should be able to do operations with non exposed members of the entity.

Firstly it could be abused to check if columns exist in the database table, since it returns 500 if that's not the case.

There are also other potential unwanted situations where you may not want to expose how entities are ordered by a specific column.

It's debatable if any of these are relevant at all but

[2020-01-31 09:59] johnnba commented on #2721
yes, i have the same problem with @HenroOnline .
i used the latest version 2.0.1 and called directly create new user api , but didn't have the permission of the default role. @mehmet-erim 。
it seems not fixed in ABP Angular v2.0.1?

[2020-01-31 10:02] duard-sf commented on #2730
Hi @maliming, sorry, I didn't see your reply.

*AppService*
[code]

[2020-01-31 10:14] maliming commented on #2730
First, don't inject other application services into application services, you can inherit to extend it.

`_tenantAppService.CreateAsync` has created the tenant's admin user and admin role.

https://github.com/abpframework/abp/blob/0a1568781df03fe9c86dc38cb7d47b95389cdf0b/modules/tenant-management/src/Volo.Abp.TenantManagement.Application/Volo/Abp/TenantManagement/TenantAppService.cs#L55

https://g

[2020-01-31 10:38] duard-sf commented on #2730
That would make sense, yeah. But when I create the user and role with unique names, it saves successfully. E.g.:

[code]

[code]

[2020-01-31 12:12] abdusco commented on #2717
@maliming I've been trying to override column configuration set by ABP to fit Oracle constraints, but I've encountered yet another issue with DevArt.

It seems that DevArt driver fails to convert fields of `enum` type to their value type.
One example:

https://github.com/abpframework/abp/blob/cc8fd28e5d1c37f8bdb4ac66c5c6f7f35d5f4b74/modules/background-jobs/src/Volo.Abp.BackgroundJobs.EntityFramewo

[2020-01-31 13:43] mehmet-erim commented on #2721
Sorry, my bad. I'll be fixed.

[2020-01-31 19:00] olicooper commented on #139
I have been writing code to purge old records from the database that are marked as deleted. I used the `IDataFilter` to disable the `ISoftDelete` and expected to be able to just use `IRepository.DeleteAsync` to hard delete or use a method like `IRepository.HardDeleteAsync`. This would give the developer the option to specify what data they want using a predicate which will also allow them to skip

[2020-01-31 19:21] olicooper commented on #2732
I have also experienced 500 errors when the column doesn't exist or it is a computed column etc. To fix the issue I overrode the [ApplySorting](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/CrudAppService.cs#L188) method as you have and applied custom filtering for columns. I agree this isn't ideal though.

A partial solution coul

[2020-02-01 07:48] johnnba opened #2735 "Volo.Abp.PermissionManagement.IPermissionGrantRepository.FindAsync() in ABP v2.0.1 Missing Method"
with the latest vesion, i couldn't call the /api/abp/permissions api, below is the exception info.
[code]

[2020-02-01 08:04] acjh commented on #2735
That method was modified in 2.0.0 to add an optional parameter: https://github.com/abpframework/abp/commit/1af300ba18929fa76d5a49edb565d12548ea4127#diff-d30b11bc82e2519c712efee9e6478b40

Recompile your solution and/or update other `Volo.Abp` packages.

[2020-02-01 11:03] johnnba commented on #2735
yes ,i did that . and update all the volo.abp packages to version 2.0.1.
but it still reported the same error. it's puzzled.

[2020-02-01 12:36] acjh commented on #2735
Please show the stack trace.

[2020-02-01 13:05] abllyboy opened #2736 "AbpStringLocalizerFactory in "Volo.Abp.Localization" namespace sometimes cause issue"
When I start to debug the Microservice project, the project sometimes cause issue.Please see the screenshot below:
<img width="684" alt="11" src="https://user-images.githubusercontent.com/57399417/73592513-49fba300-4536-11ea-962a-efa2e5228f9c.png">

[2020-02-01 14:24] johnnba commented on #2735
@acjh  here is the stack trace
[code]

[2020-02-01 16:24] thiag0coelho opened #2737 "Question Angular template: Is there any function available to check if user has permission"
Angular template v2.0.1

I need to hide or disable components, I need something to check policies and act like so:

[code]

Is there any way to do this, using directive, service, something?

[2020-02-01 16:31] acjh commented on #2735
Please check your version of `Volo.Abp.PermissionManagement.Identity`.

[2020-02-01 17:02] thiag0coelho opened #2738 "Angular template: Not possible to make Administration as parent route"
Tried to create a sub menu for Administration and it doesn't have url

Used the code above in app.component.ts (is it the right place to add routes?)

[code]

![image](https://user-images.githubusercontent.com/6138475/73595810-4565c900-44fb-11ea-9fcf-bdcf054621d5.png)

It throws an error for not having url

[2020-02-01 20:40] ismcagdas commented on #2737
@thiag0coelho do you mean permissions ?

[2020-02-01 20:45] hikalkan commented on #2737
Yes, there is such a feature. See its usage: https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/identity/src/lib/components/users/users.component.html#L9

[2020-02-01 20:48] hikalkan commented on #2737
@mehmet-erim can you write for different use cases?

[2020-02-01 20:51] hikalkan commented on #2736
I will check the code if there is any possibility to cause this exception.

[2020-02-01 20:56] thiag0coelho commented on #2737
@hikalkan That worked for hiding. Thanks!
It'll be nice if there's anything to disable components also. :)

[2020-02-01 21:00] #2728 closed

[2020-02-01 21:26] hikalkan commented on #2716
@yekalkan can you check it again?

[2020-02-01 21:34] hikalkan commented on #2732
Normally, exception occurs only if someone tries to hack/abuse the system by sorting, because UI will normally not send a non-existing column name. However, it doesn't hurt the application or database even they send another column name. I will think on that but that may not be an easy problem to overcome. Maybe we add a list of "allowed sort columns" to allow you to restrict the sortable columns,

[2020-02-01 21:47] hikalkan commented on #2717
It would be better if we can try with oracle.

[2020-02-02 03:41] gdlcf88 commented on #2732
It is dangerous when a vistor is lucky enough to try a exsiting sensitive column name likes `IsStatic` for sorting. But, sensitive columns are usually less than common columns, so how about to add `[Unsortable]`?

[2020-02-02 08:11] johnnba commented on #2735
@acjh , sorry, i tried create new project with cli, it worked. so i need check the right verison of  Volo.Abp.PermissionManagement.Identity that referrenced unclearly. thanks.

[2020-02-02 08:11] #2735 closed

[2020-02-02 12:08] mehdihadeli opened #2739 "Abp angular modules architectural style"
Hi,
@mehmet-erim I saw abp architectural style for angular modules, you defined sperate lib for each module and added them to your app-dev application, Is this style just for reusability of these libs in other application? should I create separate libs for each of my modules in Domain space? or only for my modules that share in other apps for reusability?

[2020-02-02 12:51] JoseW3b opened #2740 "Module configuration JsonStringEnumConverter doesn't work"
I'm working on Abp 2.0.1

I have configured JsonOptions globally in the module:
`       context.Services.AddControllers()
        .AddJsonOptions(options =>
        {
            options.JsonSerializerOptions.Converters.Add(new JsonStringEnumConverter());
        });`
but when api controller is called, the enum fields on the response is not correctly serialized. It is serialized as number, not as

[2020-02-02 13:05] maliming commented on #2717
[Oracle.EntityFrameworkCore](https://www.nuget.org/packages/Oracle.EntityFrameworkCore) does not yet support  .NET Core 3.1.
DevArt  supports .NET Core 3.1 but it is a paid product.

[2020-02-02 13:35] maliming commented on #2740
abp is using NewtonsoftJson instead of System.Text.Json.

You can try the following code.
[code]

[2020-02-02 15:21] JoseW3b commented on #2740
With newtonsoft it works fine.
But abp will let us choose in the future???

[2020-02-02 17:35] leonkosak opened #2741 "Q: Volo.Abp.AspNetCore.Authentication.Basic feature (framework)"
Is there any reason that Basic authentication option (Basic base64("username:password")) is not not implemented yet (or is already on your pipeline)?

Some closed-source external systems have no option to use JWT (Bearer) as an authentication option for abp API.

Thank you for explanations.

[2020-02-02 20:50] Gosha24 opened #2742 "DashboardDemo package.json Wrong Version 1.0.2"
In DashboardDemo  in package.json packages has version numbers
dependencies": {
    "@abp/aspnetcore.mvc.ui.theme.basic": "^1.0.2",
    "@abp/chart.js": "^1.0.2"
}
Is it true? they must be 2.0.1

[2020-02-02 21:34] gdlcf88 commented on #2740
https://github.com/abpframework/abp/issues/1790

[2020-02-03 00:31] #2740 closed

[2020-02-03 00:47] maliming commented on #2742
I will update them, thanks for the feedback.

[2020-02-03 02:35] #2730 closed

[2020-02-03 04:55] Sethcran opened #2743 "JsonSerializerSettings.DateTimeZoneHandling is ignored"
When the following setting is configured using (using asp.net but I believe this affects anyone using the newtonsoft json package):

[code]

Dates should be serialized as UTC all the time. ex: 2020-02-03T03:56:20.7130155Z

However, they currently serialize as 2020-02-03T03:56:20.7130155
(Note the missing Z)

This appears to be primarily caused by the use of a separate contract resolver (AbpMvcJson

[2020-02-03 06:16] maliming commented on #2743
`AbpMvcJsonContractResolver `and `AbpJsonIsoDateTimeConverter `are mainly used to allow applications to support multiple time zones.

`DisableDateTimeNormalizationAttribute` can disable it.  You can also replace it with your custom implementation.

There is no document yet, but it is similar to aspnetboilerplate(https://aspnetboilerplate.com/Pages/Documents/Timing).

[2020-02-03 06:27] mehmet-erim commented on #2738
Yes, right place.

It seems like a bug. I will fix it.

[2020-02-03 06:29] #2738 closed

[2020-02-03 06:30] mehmet-erim commented on #2738
Thanks @thiag0coelho

[2020-02-03 06:47] duard-sf commented on #2730
@maliming what I meant by my last comment is that [this](https://github.com/abpframework/abp/issues/2730#issuecomment-580668078) works when creating a user with a unique user name and role with a unique role name. However, it **does not** work when specifying a user name or role name that already exists in the database for another tenant.

[2020-02-03 06:51] Gosha24 commented on #2742
the same in E:\temp\Azure\WpfDev\Abp\abp-2.0.1\modules\client-simulation\demo\Volo.ClientSimulation.Demo\package.json

[2020-02-03 07:42] mehmet-erim commented on #2737
You can use the `PermissionDirective` to manage the permission of a DOM element. It can be used in two ways.

Attiribute usage:
[code]

Structural usage:
[code]

You can also manage the permission of a route with `PermissinGuard`:
[code]

### To disable a DOM element

Add a select decorator to your component as shown below:

[code]

Use `disabled` attiribute on a DOM element like this:
[code]

[2020-02-03 07:42] #2737 closed

[2020-02-03 08:35] nguyendev opened #2744 "abp can not support [FromForm]"
The amp is using [FromFrom] for the api, But i got an error.
Can you help fix that in the next version?

![image](https://user-images.githubusercontent.com/10234503/73637148-2baeb800-469a-11ea-8652-bf1d251d1b22.png)
![image](https://user-images.githubusercontent.com/10234503/73637271-81836000-469a-11ea-9eb7-2533e19e69da.png)

[2020-02-03 08:47] mehmet-erim commented on #2739
Each ABP modules are an NPM package. We created these modules as a library because Angular libraries can publish easily.

* If you would like to publish your module to an NPM server, you should create a library.
* If you will have more than one Angular project, you should create a library to reuse this module.

You can also create a module with ABP CLI. See https://docs.abp.io/en/abp/latest/Startu

[2020-02-03 08:47] #2739 closed

[2020-02-03 09:26] leonkosak commented on #1571
@hikalkan Any updates on this topic?

[2020-02-03 10:12] yekalkan commented on #2716
Pretty normal. You changed ProjectReferences to PackageReferenceses and therefore you can't use `ReplaceEmbeddedByPhysical` method anymore.

That is strange. You can delete **DashboardDemoPermissionDefinitionProvider.cs** file and try again.

[2020-02-03 10:41] zHaytam opened #2745 "DataTables RowAction button group option"
Hello,

Currently, the `rowAction` is rendered as a dropdown button, which is already good but another option would be a button group, see the [bootstrap doc](https://getbootstrap.com/docs/4.4/components/button-group/).

I did manage to make my own, which is based on `datatables-extensions.js` but maybe it could be a nice addition to the framework.

Here's how it looks:
![image](https://user-image

[2020-02-03 10:49] majidbigdeli opened #2746 "AppUser.ExtraProperties"
The property 'AppUser.ExtraProperties' could not be mapped, because it is of type 'Dictionary<string, object>' which is not a supported primitive type or a valid entity type. Either explicitly map this property, or ignore it using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCreating'

[2020-02-03 11:42] Alexbits commented on #2746
Check #1517 #1414 #927

[2020-02-03 12:13] Gosha24 commented on #2716
I deleted DashboardDemoPermissionDefinitionProvider.cs . Exception disappeared

[2020-02-03 12:23] #2716 closed

[2020-02-03 12:33] hikalkan opened #2747 "SignalR Package"
Using SignalR is pretty simple in ABP based applications, just as any asp.net core application. However, we will investigate the ways of pre-integrating to other features of the framework and/or consider to add it to the startup template by default.
(see this: https://github.com/abpframework/abp/issues/1571)

[2020-02-03 12:33] hikalkan commented on #1571
We haven't worked on any specific SignalR integration yet. I think it can already be usable, so this has not a high priority for now. Created an issue to follow: https://github.com/abpframework/abp/issues/2747

[2020-02-03 12:36] hikalkan commented on #2732
Unsortable to DTO? How repository layer know about DTO properties? If you have an idea, can you write your full implementation suggestion?

[2020-02-03 12:43] hikalkan commented on #2745
Thanks for the suggestion. I see that some people like this more :)
I am adding your request to backlog. Can you share your solution to help others until we implement it in a built-in way.

[2020-02-03 13:24] zHaytam commented on #2745
My current solution overrides the `fnRowCallback` function so you can't have both types at the same time (for some reason, calling the existing callback function, yours, gives an error).

DataTable configuration:
[code]

Global functions:
[code]

[2020-02-03 13:31] zHaytam opened #2748 "Only show menu/html element when user has permission"
Hello,

Is there any way to show/hide menu items and/or html elements based on the permissions the users has?
For example, if the user doesn't have the permission `BookStore_Author_Create` then the books list shouldn't be shown to him. Or when the user doesn't have the permission to create a new book, then the Add button shouldn't show.

Currently, when the list page is visited, the error message

[2020-02-03 13:39] mehdihadeli commented on #2739
thank @mehmet-erim.

[2020-02-03 13:39] zHaytam commented on #2748
Is manually using the `AuthorizationService` both in the menu contributor and views the best approach?

[2020-02-03 14:31] gdlcf88 opened #2749 "Questions about forceToSet in SettingManager"
https://github.com/abpframework/abp/blob/0a1568781df03fe9c86dc38cb7d47b95389cdf0b/modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingManager.cs#L111

1. Question 1:
The property name `forceToSet` is **not easy for people to understand its effect**: In ordinary language, `forceToSet = false` means "set the value to null if inherited value is the same

[2020-02-03 14:56] gdlcf88 commented on #2744
Related to: https://github.com/abpframework/abp/issues/1614

[2020-02-03 15:12] gdlcf88 commented on #2748
You can refer to pages of `TenantManagement`.

https://github.com/abpframework/abp/blob/a9a9cf2ef02107ba3b56a48308297d99a0d00789/modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Pages/TenantManagement/Tenants/Index.cshtml#L32

https://github.com/abpframework/abp/blob/a9a9cf2ef02107ba3b56a48308297d99a0d00789/modules/tenant-management/src/Volo.Abp.TenantManagement.Web/Navigation/AbpTenant

[2020-02-03 15:17] itryan commented on #2749
when the new value (for UserSettingValueProvider) is the same as its callback value (from TenantSettingValueProvider), it seems Abp considers it as value resetting thus passes actual value null by default. Maybe @gdlcf88 is expecting some use case for this default behavior.

[2020-02-03 15:19] gdlcf88 commented on #2732
Maybe `[Unsortable]` to entity, but domain layer should not care about sorting, this is really a problem.

[2020-02-03 19:19] gdlcf88 commented on #2732
[code]

[code]

How about this idea? @hikalkan

[2020-02-03 22:02] #2748 closed

[2020-02-04 00:41] #2746 closed

[2020-02-04 07:47] hungvt303 opened #2750 "Abp vNext with Ant Design"
Do you have a plan applying Ant Design to Front End module?

[2020-02-04 08:33] yinchang0626 commented on #2750
pls ref https://github.com/yinchang0626/abp.ng
include ng-alain and ngx-admin theme

[2020-02-04 08:46] zHaytam opened #2752 "Accents in french language don't show up correctly"
Hi,

I added a `fr.json` file and the language in `ConfigureLocalizationServices`.
The json file contains translations that contain accents, e.g.: `Téléphone`.

These words show up like this:
![image](https://user-images.githubusercontent.com/34218324/73728097-ff934580-4732-11ea-8bde-f2425b9cf4d3.png)

When checking the file `ApplicationConfigurationScript`, they are represented as `ï¿½`.
Any idea

[2020-02-04 08:50] zHaytam commented on #2752
Nevermind, I didn't know Visual Studio creates files in a weird encoding. Changing it to UTF-8 works.
Sorry!

[2020-02-04 08:50] #2752 closed

[2020-02-04 08:52] maliming commented on #2752
Related https://github.com/abpframework/abp/issues/2180#issuecomment-554852256

[2020-02-04 09:38] hungvt303 commented on #2750
Thanks @yinchang0626

[2020-02-04 10:31] yekalkan opened #2754 "Problem: Adding/Removing a role to a user doesn't affect until user logouts."

[2020-02-04 11:05] gdlcf88 commented on #2754
Hi @yekalkan , is it related to https://github.com/abpframework/abp/issues/2460 ?

[2020-02-04 11:12] yekalkan commented on #2754
Yes.

[2020-02-04 11:13] yekalkan commented on #2754
https://github.com/abpframework/abp/issues/2460

[2020-02-04 11:13] #2754 closed

[2020-02-04 11:22] gdlcf88 commented on #2721
This is really a important problem. I tested default roles feature before, and I remember it works in abp v0.19.

[2020-02-04 12:00] duard-sf opened #2755 "Configure password complexity rules"
I am trying to configure the password complexity rules of Identity, following [the ABP docs](https://docs.abp.io/en/abp/latest/Settings#setting-values-in-the-application-configuration):

*appsettings.json*
[code]

However, when setting a password I still get the validation error "Passwords must have at least one uppercase ('A'-'Z')."

[2020-02-04 13:16] zHaytam opened #2756 "Server-side search box in DataTables"
Hello,

Is there any docs/tutorial on how to include a search box in DataTables?

Thank you!

[2020-02-04 13:56] olicooper opened #2757 "Stop tenant with the same name being created"
If `ISoftDelete` is enabled, we can delete a tenant and create a new tenant with the same name. If we want to un-delete the first tenant then there will be a conflict. Could we disable the ISoftDelete filter when checking if a tenant name exists?

https://github.com/abpframework/abp/blob/d99a9ffe008b764fa7c4f0ef6fb4d87e03fc6ecb/modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Ab

[2020-02-04 14:32] olicooper opened #2758 "EnableLocalLogin setting ignored on the API"
Similar to [this closed issue](https://github.com/abpframework/abp/issues/2512).
The Angular application correctly displays "Invalid login request" but the API still allows login.
I am able to login via the `/api/account/login` endpoint even if the `Abp.Account.EnableLocalLogin` setting is set to false.

To reproduce:
* load the angular login screen and type in the admin credentials for the host.

[2020-02-04 15:17] gdlcf88 commented on #2757
You can try: https://github.com/abpframework/abp/blob/cfb0f094c5cd206bfad1e30153edd07bbc9d46c1/docs/en/Data-Filtering.md

[2020-02-04 16:29] hikalkan commented on #2361
I am closing this since it seems they already fixed. If not, please reopen.

[2020-02-04 16:29] #2361 closed

[2020-02-04 16:55] hikalkan commented on #2732
Creating such an `UnsortableColumns` property is not a practical solution. Most of the developers will not even implement it or will find it tedious (what about if you later add a sensitive column to the database and forget to add this list). Also, this couples the DTO to db field names.

One solution could be relating ProductDto to the ProductListRequestDto, so we ca know ProductListRequestDto is

[2020-02-04 17:23] zHaytam commented on #2756
For some reason, `searching: true` doesn't show the search box and calling `dataTable.search("value").draw()` doesn't include the filter in the api call.

Also, since `PagedAndSortedResultRequestDto` doesn't contain a filter property, the search wouldn't work anyway right?

[2020-02-04 18:34] gdlcf88 commented on #2732
That a good idea. Usually I will not add a sensitive property to ProductDto, so `[Sortable]` looks more reasonable. But this solution brings a breaking change because developments should add this attribute manually now for sorting.

[2020-02-04 18:39] gdlcf88 commented on #2756
You can find the it in DataTable docs or abp samples.
https://github.com/abpframework/abp/blob/a9a9cf2ef02107ba3b56a48308297d99a0d00789/samples/MicroserviceDemo/modules/product/src/ProductManagement.Web/Pages/ProductManagement/Products/index.js#L9

Search first. 😺

[2020-02-04 18:45] zHaytam commented on #2756
I'm not sure how that helps me?
The DataTables docs says to set `searching` to true, except it doesn't work.
And your example shows `serverSide`? I don't understand :/

[2020-02-04 19:05] gdlcf88 commented on #2756
Thought you were asking Server-side search.

Yes, there is not a `Filter` property in dto, maybe it should be added to `LimitedResultRequestDto`.

[2020-02-04 21:10] vd3d opened #2759 "Contribute Guide - How to build ?"
Hi,

I wish to contribute, but first I need to build abp.io on my machine.

I have built the framework, it was easy. But I got issues when trying to build the modules.

I know that:
- There is no .sln for all the modules
- The module build order is important due to dependencies
- I got such error :

`Error	NU1105	Unable to find project information for 'C:\Libraries\abp.io\abp\framework\src\Volo.Ab

[2020-02-05 01:20] maliming commented on #2536
hi all

This problem exists in old browsers (chrome, Safari etc), please refer to the extension method of identity server to solve it.

https://github.com/IdentityServer/IdentityServer4/pull/3940

[2020-02-05 01:20] #2536 closed

[2020-02-05 01:36] wakuflair opened #2760 "[DOC] Since entity ID is now readonly, the tutorial need to be updated"
https://docs.abp.io/en/abp/latest/Tutorials/AspNetCore-Mvc/Part-III#adding-test-data

![image](https://user-images.githubusercontent.com/3471718/73803118-c6bea380-47fa-11ea-8f0a-6a47930c6cfa.png)

There's an `EntityHelper.TrySetId` method, is it the recommaned way to use?

[2020-02-05 01:46] acjh commented on #2760
Will be resolved by #2713

[2020-02-05 01:54] maliming commented on #2759
![image](https://user-images.githubusercontent.com/6908465/73804027-75fc7a00-47fd-11ea-8406-6eab3503322d.png)

[2020-02-05 01:54] #2759 closed

[2020-02-05 01:56] #2757 closed

[2020-02-05 02:10] maliming commented on #2755
Try using cli to create a new project and use a new database. Maybe your database has related settings.

[2020-02-05 02:11] #2750 closed

[2020-02-05 02:57] maliming commented on #2758
I will try to fix it, thanks.

[2020-02-05 04:15] duard-sf commented on #2755
All right. But regardless of that then, this is a bug, right?

[2020-02-05 04:54] hikalkan commented on #2759
In addition to running the build-all.ps1:

Modules and Templates have their own solutions and have local references to the framework and each other.

Visual Studio can not work properly with the local references out of the solution folder. When you open a module/sample solution in the Visual Studio, you may get some errors related to the dependencies. In this case, run the dotnet restore on the co

[2020-02-05 04:56] duard-sf commented on #2755
Changing the setting in the database works. I used the below snippet to update the setting:

[code]

**However**, this was done in my `HttpApiHostModule.OnApplicationInitialization` method, which I can assume is definitely not a good place for changing global settings. I was not able to get an instance of `GlobalSettingManagementProvider` or `SettingDefinitionManager` in `ConfigureServices` or `Pr

[2020-02-05 05:00] hikalkan commented on #2760
Resolved by #2713

[2020-02-05 05:01] #2760 closed

[2020-02-05 05:11] hikalkan commented on #2756
It is already implemented for the Identity module's user management page. Check [its source code](https://github.com/abpframework/abp/tree/dev/modules/identity).
It defines its own Filter property: https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/GetIdentityUsersInput.cs

We can add a PagedSortedFilteredResultRequestDto or

[2020-02-05 05:11] #2756 closed

[2020-02-05 05:16] hikalkan commented on #2732
We can make it backward compatible. For example, we can add a `[ValidateSorting]` to the `ProductListRequestDto`. If you don't add it, everything works as before. If you add it, it indicates that only the properties of this DTO are allowed for sorting. If you want, you can add `[Unsortable]` to any property to exclude from sorting.
Even more, `[ValidateSorting]` can have a parameter to set the def

[2020-02-05 05:30] #2758 closed

[2020-02-05 05:36] hikalkan commented on #2741
I have no much experience with the basic authentication. Isn't it possible you to add the basic authentication to the current startup template without making something in the framework level?

[2020-02-05 05:42] maliming commented on #2755
This is not a bug, `SettingValueProvider `has priority, from bottom to top (`user->tenant->global->configuration->defaultvalue`).

https://github.com/abpframework/abp/blob/913d46b78bfc536380e1c1d03c5718ec62a5c286/framework/src/Volo.Abp.Settings/Volo/Abp/Settings/AbpSettingsModule.cs#L25-L31

If you don't use user, tenant, global provider, `appsettings.json` configuration will take effect.

[2020-02-05 05:48] #2744 closed

[2020-02-05 06:19] gdlcf88 commented on #2732
What if the property does not in ProductDto?

[2020-02-05 06:21] yekalkan commented on #2759
We published a tool for `dotnet restore` command. You can install it.

https://marketplace.visualstudio.com/items?itemName=alper-ebicoglu.DotnetRestoreVsix

With this extension, when you right click on a solution, you will see a 'dotnet restore' command in menu. You wont need to open a command prompt and type dotnet restore.

[2020-02-05 07:41] viewtance opened #2762 "Any plans to integrate Quartz.net with Background Worker?"
In Asp.Net Boilerplate, it integrated Quartz.net with background workers, so that, it is easy to use Quartz.net.
Any plans abp vNext could integrate Quartz.net to background workers, current only hangfire integrated to background job.

Or, any guideline to add quartz.net with asp.net core background tasks?

[2020-02-05 08:03] EpsilonRepo commented on #2182
Issue can be closed.
Devart + Oracle is working now.

[2020-02-05 08:03] #2182 closed

[2020-02-05 09:02] #2743 closed

[2020-02-05 10:58] hikalkan commented on #2732
The original problem was to restrict sorting on fields not in the return DTO 😄

Actually, I don't see the point of sorting by a field not included in the result.

[2020-02-05 11:03] gdlcf88 commented on #2732
I understand this premise now. 😃

[2020-02-05 11:04] hikalkan commented on #2732
We can add more properties to the `SortingValidationBehaviour` enum to cover other scenarios too.

[2020-02-05 11:10] #2721 closed

[2020-02-05 11:13] hikalkan commented on #2762
Yes, that can be possible and probably easy. Any PR welcome :)
You can check [hangfire integration source code](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.BackgroundJobs.HangFire) and [asp.net boilerplate quartz integration source code](https://github.com/aspnetboilerplate/aspnetboilerplate/tree/dev/src/Abp.Quartz) to understand how to implement it.

[2020-02-05 12:55] zHaytam commented on #2703
Hello! Did you find a solution to this?

[2020-02-05 13:14] olicooper opened #2763 "403 (forbidden) error message incorrect on Angular UI?"
When trying to delete a static role (to test a forbidden response), I noticed that the returned error message was generic.
![image](https://user-images.githubusercontent.com/22296715/73844552-b0bfdb80-4818-11ea-9170-c552009e5081.png)
When looking at the response I can see the error code is "Static roles can not be deleted.", however I think this should be in the message instead of "An internal err

[2020-02-05 13:33] olicooper commented on #2763
If a 'code' value is supplied in the error without any 'details', would it be good to display this to the user for support purposes?

[code]

[2020-02-05 13:46] olicooper commented on #2757
@gdlcf88 Yes this would be the best option if I was writing my own code but this issue is happening with the core MultiTenancyModule code so I would have to override the methods to change how it behaves.

I expected the default behaviour of the module to also check the deleted tenants here: `_tenantRepository.FindByNameAsync(name)`

@maliming I thought allowing duplicate tenant names might be a bu

[2020-02-05 13:50] gdlcf88 commented on #2757
https://github.com/abpframework/abp/blob/0a1568781df03fe9c86dc38cb7d47b95389cdf0b/modules/tenant-management/src/Volo.Abp.TenantManagement.Domain/Volo/Abp/TenantManagement/TenantManager.cs#L40

TenantManager will check duplicate tenant names.

[2020-02-05 14:05] #1891 closed

[2020-02-05 18:12] viewtance commented on #2762
Is these information useful to integrate it? Based on asp.net core hosted services interface, it has singleton and scoped services scenarios.
[https://andrewlock.net/creating-a-quartz-net-hosted-service-with-asp-net-core/](url)
[https://andrewlock.net/using-scoped-services-inside-a-quartz-net-hosted-service-with-asp-net-core/](url)

[2020-02-05 18:21] olicooper commented on #2757
Yes but it doesn't look at the deleted tenants when creating new tenants. Notice the same tenant name **test** in the database screenshot below:
![image](https://user-images.githubusercontent.com/22296715/73870413-f2b24700-4843-11ea-8b91-44aacb1ef2b9.png)

This is on a clean version of abp v2.0.1 (with angular UI).

[2020-02-05 18:25] gdlcf88 commented on #2757
Soft delete also means delete. If you delete an entity, abp considers it's permanently deleted and never be restored.

[2020-02-05 18:29] viewtance commented on #2718
Any guideline to install the front end of both docs and blogging modules? I have installed the docs module via CLI, but cannot find the front end changes.

[2020-02-05 18:39] gdlcf88 commented on #2757
However, if you really want to restore deleted tenants or stop abp from deleting tenants, you can implement `ITenantManager` by your custom class likes `MyTenantManager` to replace abp's `TenantManager`, then you can control all the logic.

[2020-02-05 22:37] yanxiaodi opened #2764 "The separate identity server for Angular template is very slow"
I use abp CLI v2.0.1 to create a new Angular project with `--separate-identity-server` parameter but the identity server website is very slow.

By the default setting, run the separate identity server website and navigate to `/Account/Login` in the browser. But after a long time the page is still loading.

If I create a new project without `--separate-identity-server`, the `/Account/Login` page is

[2020-02-05 22:43] gdlcf88 opened #2765 "Extra route attribute of FindTenantByNameAsync cause warning."
https://github.com/abpframework/abp/blob/37055944fe55b4c45483996c27e6219f645a47ff/framework/src/Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy/Pages/Abp/MultiTenancy/AbpTenantController.cs#L20

Maybe this line should be deleted, or it will throw warning:
[code]

[2020-02-06 01:19] maliming commented on #2764
It may be caused by redis, please check the connection string.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/appsettings.json#L10

[2020-02-06 02:22] yanxiaodi commented on #2764
Thanks, @maliming . There is no redis component in the default Angular template. Can I remove this configuration?

[2020-02-06 03:04] maliming commented on #2764
Including the code that enables redis, but then the cache cannot be shared between multiple applications. This may cause some problems, I am not sure.

I suggest you install a redis on your computer.

https://github.com/abpframework/abp/blob/3967c642bb3c3d69911d0c77b09bb2bb8a7f7b38/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/MyProjectNameIdentityServerModule.cs#L105-L1

[2020-02-06 06:41] #2763 closed

[2020-02-06 08:21] wocar opened #2767 "uglifier issue when using arrow lamda functions"
given

[code]
throws
[code]

changed
`async () => {`
to

`async function () {`

and now works

[2020-02-06 08:22] vd3d commented on #2720
Unfortunately, it does not help :-(

[2020-02-06 08:37] mehmetuken opened #2768 "Migration guide."
Update new version template projects changing migration guide missing.

[2020-02-06 08:52] hikalkan commented on #2768
is this same of https://github.com/abpframework/abp/issues/2120?

[2020-02-06 08:59] mehmetuken commented on #2768
@hikalkan it's not. v1 to v2 or v2.0 to v2.1. For example [this ](https://github.com/abpframework/abp/commit/ba768a2681a7648bbf7306a0e51422f84620e5a3) change we need complete investigative template projects all change every new version. Migration guide very helpfull for every developper.

[2020-02-06 09:04] #2765 closed

[2020-02-06 09:46] maliming commented on #2767
Thanks I will check it.

[2020-02-06 10:16] hikalkan commented on #2768
It is not a critical change for the templates, you don't have to implement in your side. Instead of creating a migration guide, we do like that:

* Add `breaking-change` label to the issues and pull requests
* Write what to do for existing applications

Then when we release it ([example](https://github.com/abpframework/abp/releases/tag/2.0.0)), anyone can check the release notes and apply if neede

[2020-02-06 10:16] #2768 closed

[2020-02-06 10:21] maliming commented on #2767
hi @wocar

NUglify(https://github.com/xoofx/NUglify) does not seem to support this syntax, of course the syntax is correct.

Maybe you can go to NUglify and ask.  Or replace `IJavascriptMinifier `with another ugly js library.

[2020-02-06 14:57] #2615 closed

[2020-02-06 15:25] zsanhong opened #2770 "how to replace standard @abp/bootstrap package with my own bootstrap version?"
I want to develpment a third abp  theme ,but the third theme use lower verison of bootstrap,
if I use the standard @abp/bootstrap version, I got a wrong view. so I want to replace the stand @abp/bootstrap  package with the lower bootstrap version. Any idea? Thanks a lot.

[2020-02-06 15:56] hikalkan commented on #2657
Yes! :)

[2020-02-06 16:16] hikalkan commented on #2577
Done with https://github.com/abpframework/abp/pull/2645

[2020-02-06 16:16] #2577 closed

[2020-02-06 16:20] #2648 closed

[2020-02-06 16:31] hikalkan opened #2771 "Allow to download react native mobile ui as a part of the application creation"
Once https://github.com/abpframework/abp/issues/2699 completes.

### ABP CLI

When you create a new application (independenty from the UI type), react native mobile app will be included in the downloaded zip as a separate folder (like angular now). If you like, you can delete after download.

If you want, you can specify `--mobile none` to not include it in the downloaded zip. In the future, we ca

[2020-02-06 16:36] zHaytam opened #2772 "Bulk insert using repository"
Hello,

I have a case where I have a stream of entries, say books, and I need to insert them all.
Using `InsertAsync` with `autoSave: true` will be very expensive, since there are hundreds of entries.

Setting `autoSave` to false would work, the only problem is that I have no way to save changes at the end.

Any solution to this?

[2020-02-06 17:12] hikalkan commented on #2772
At the end, call `await UnitOfWorkManager.Current.SaveChangesAsync()`.

[2020-02-06 17:12] #2772 closed

[2020-02-06 19:52] zHaytam commented on #268
Hello, is it possible to show us how? I want to show a message to the user after `OnPostAsync`, is it possible with ABP or should I roll my own thing?
Thank you!

[2020-02-06 20:00] majidbigdeli opened #2773 "Change seed Data"
I add BirthDate Property To The AppUser Entity  it is not Null able
I  want add Seed for this propery  the First Time  but i can not . then DbMigrator Project Can not run .

[2020-02-06 20:11] olicooper opened #2774 "Support file downloading"
I would like to be able to download files in the Angular UI using the API. I have been able to hack a solution together which I will try to outline below.

In the `HttpApi.Host` Controller I needed to return a `FileResult`:
[code]
I needed to expose the `Content-Disposition` header in the cors policy during `ConfigureServices`:
[code]
And also update the Swagger generation:
[code]

Within Angular

[2020-02-06 23:54] majidbigdeli opened #2775 "How to set the default language？"
i use

  "Settings": {
    "Abp.Localization.DefaultLanguage": "cs"
  }

in appsettings.json

but not working

[2020-02-07 01:24] maliming commented on #2770
I think maybe you can create a low version bootstrap npm package.

[2020-02-07 01:25] maliming commented on #2773
Please refer to https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/IdentityServer/IdentityServerDataSeedContributor.cs#L20

[2020-02-07 01:35] maliming commented on #2775
The default language has lower priority than `QueryStringRequestCultureProvider`, `CookieRequestCultureProvider`, `AcceptLanguageHeaderRequestCultureProvider`.

see https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#localization-middleware

[2020-02-07 02:50] thiag0coelho opened #2776 "Question: Fk error while trying to reference Creator"
I've read several posts on past issues related to AppUser, but still I don't fully understand. I'm trying to use AppUser as follows:

public AppUser Creator { get; set; }

Throws error as it creates an empty table AppUser (and references it as fk as convention) instead of referencing AbpUsers.

![image](https://user-images.githubusercontent.com/6138475/73996430-4e5efc00-493a-11ea-87a5-7edf5d3db07b

[2020-02-07 03:33] abllyboy opened #2777 "Why get user's permission need request 31 times?"
When I get the user's permission in "BackendAdminApp.Host" ,it was very very slowly,when I go to look the logs I found it request 31 times,Why?
<img width="884" alt="2" src="https://user-images.githubusercontent.com/57399417/73998634-353b6700-499d-11ea-852a-6c57144e07d0.png">
<img width="921" alt="1" src="https://user-images.githubusercontent.com/57399417/73998638-37052a80-499d-11ea-8a3e-d8dba14f0

[2020-02-07 05:27] johnnba opened #2778 "access to efcore raw sql api and docs should be updated"
Hello:
as with the efcore 3.1, there is the breaking changes to access to raw sql api . so the follow docs should be updated.

https://github.com/abpframework/abp/blob/dev/docs/en/Entity-Framework-Core.md

the new qualified usage should follow the below convention;

https://github.com/aspnet/EntityFramework.Docs/blob/master/samples/core/Querying/RawSQL/Sample.cs

however , i got some problems to a

[2020-02-07 05:39] maliming commented on #2777
Duplicate of #2437

[2020-02-07 05:39] #2777 closed

[2020-02-07 06:41] johnnba commented on #2775
Dear @majidbigdeli
[code]
if you set failed ,you can set it manually by the above code.

[2020-02-07 07:01] kefengwei commented on #2345
https://blog.angular.io/version-9-of-angular-now-available-project-ivy-has-arrived-23c97b63cfa3
The version 9 is released.. When we can upgrade too?

[2020-02-07 07:24] maliming commented on #2778
The documentation does not need to be updated, it just shows how to get DbContext and DbSet.

Please check the log, ef will output a lot of messages. If possible, provide unit test code to reproduce the problem.

[2020-02-07 07:26] maliming commented on #2776
What is the detailed error message?

[2020-02-07 07:49] gdlcf88 commented on #2771
As more and more UI templates, maybe optional list will be better?
- [x] Mvc
- [ ] Angular
- [ ] React
- [x] React Native
- [ ] Vue.js

[2020-02-07 09:28] johnnba commented on #2778
dear @maliming :
1:please see the https://github.com/johnnba/simpleAbpNextMysqlDemo that i pushed the unit test in  the Should_Count_Greater_Than_0_User test  in the class of SampleDomainTests.

 i see the follow tutorial had the outdated raw sql api , so i suggest to update the docs
[code]

[2020-02-07 10:36] majidbigdeli commented on #2775
@Hello @johnnba

it is not working . Current Culture not changed

[2020-02-07 12:21] mehmet-erim commented on #2345
We have started to work. If we don't encounter a problem caused by Ivy, we will update it as soon as possible.

[2020-02-07 14:43] johnnba commented on #2778
@maliming  i've fixed the un expected query error.  you can close the issue if you think there is no need to update the related docs.

[2020-02-07 16:40] majidbigdeli opened #2780 "connect/token Refused"
i call  POST https://localhost:44311/connect/token

but i get net::ERR_CONNECTION_REFUSED

[2020-02-07 17:40] #2780 closed

[2020-02-08 00:18] thiag0coelho commented on #2776
MessageText: insert or update on table "AppPropostas" violates foreign key constraint "FK_AppPropostas_AppUser_CreatorId"
    Detail: Key (CreatorId)=(a38f1a21-2273-3444-0927-cb4e-39f3344e46d8) is not present in table "AppUser".

Part of migration causing problem. I had removed for testing and everything went well without it, Creator object was loaded fine... But if someday I have to remake migrat

[2020-02-08 02:12] xkaede opened #2781 "EntityUpdatedEto does not trigger when use ef lazy loading"
EntityCreatedEto and EntityDeletedEto also has this problem.

I find it is because EntityToEtoMapper can not map the entity if it is proxied by ef core.

https://github.com/abpframework/abp/blob/04debdf0fef836c48ccfc3ff976b4339227575c7/framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Events/EntityChangeEventHelper.cs#L99

and I find EntityToEtoMapper class try to invoke ProxyHelper.UnPro

[2020-02-08 04:18] #2781 closed

[2020-02-08 08:33] #2778 closed

[2020-02-08 11:30] zHaytam opened #2782 "AuditLogActions contains passwords from IdentityUserAppService.CreateAsync"
Hello,

Is there a way to somehow disable logging a parameter in the `AuditLogActions` table? The method `Volo.Abp.Identity.IdentityUserAppService.CreateAsync` contains passwords and we should really avoid that, security wise.

Any info about this?

[2020-02-08 12:04] joffies opened #2783 "Identity management > Users > Not all Actions are visible and disappear under paginator"
Hi Guys

Downloaded the startup template for ASP.NET Core MVC (Razor pages UI) and can see an issue out of the box with the Actions button.

When clicking on the Actions button not all actions are visible and seem to disappear under the grid paginator. See attached example.
![Users Actions Button Actions Disapearing](https://user-images.githubusercontent.com/13243938/74084848-0ab7df80-4a6b-11ea-85

[2020-02-08 14:46] inamvar opened #2785 "how can I get HttpRequest Object in a class derived from PermissionValueProvider?"
I'm Implementing a custom `PermissionValueProvider` and it should compare  user's role with an URL query parameter or  a field in the  body of HTTP post request and some data in database. so i need HttpRequest object in method `CheckAsync`. Is there a way to get that?

[code]

[2020-02-08 14:54] zHaytam commented on #2782
I found out about `DisableAuditing` but I'm not sure if there is a way to use it on an entity that isn't ours? Since the password is in the identity entity.

Thank you!

[2020-02-08 15:01] inamvar opened #2786 "Can I Extend Role Entity like AppUser?"
I have a entity called MPE and I need to add one-to-many relation to a role entity. how can I extend the role?

[2020-02-08 15:35] gdlcf88 commented on #2786
I think you can add `IdentityRole` to your DbContext, even if the relation between aggregate roots is not a good practice for DDD.

[2020-02-08 15:41] inamvar commented on #2786
You mean I define a new class like `AppIdentityRole` and derive if from `IdentityRole`  and then add the `AppIdenityRole` to my `DbContext`?

[2020-02-08 15:49] gdlcf88 commented on #2786
No, just add abp's `IdentityRole`.

[2020-02-08 15:59] inamvar commented on #2786
So How can I add my custom property?

[2020-02-08 16:04] gdlcf88 commented on #2786
Add it to MyDbContext then you can make MPE relate to IdentityRole without changing IdentityRole's properties. But if possible, dont make relation between aggregate roots.

[2020-02-08 17:28] johnnba commented on #2783
oh yes, in the latest version 2.0.1, i encountered the same problem.

[2020-02-08 22:45] thiag0coelho opened #2787 "Full control over User page"
I've come across a client requirement to add 1 more field to user page. Now I have 2 user pages, one of them with just 1 field to edit.

The whole framework feels great overall, but I think this is one thing that has to change, maybe give full control to these modules ( @abp/ng.account,  @abp/ng.identity,  @abp/ng.setting-management,
@abp/ng.tenant-management), keep them in ABP boilerplate instead

[2020-02-08 23:36] Gosha24 opened #2788 "Correction in Documentation on Multi-Tenancy"
In document https://docs.abp.io/en/abp/latest/Multi-Tenancy in code under caption
**Example: Add a subdomain resolver** is written:
TenantResolveOptions
must be:
 AbpTenantResolveOptions
Please correct if it is true.

[2020-02-09 03:15] xxyuze commented on #2222
Awesome! can we use axios for http request?

[2020-02-09 03:43] #2788 closed

[2020-02-09 04:12] maliming commented on #2782
We should use `DisableAuditing `in the dto class.

[2020-02-09 04:14] maliming commented on #2778
https://github.com/abpframework/abp/commit/f4675e8ae07cba20a79c8f42324595ae46aa9b9f https://github.com/abpframework/abp/commit/5841b5d53720037ef651b4ec1ea53f4303678fd0

[2020-02-09 08:49] gdlcf88 opened #2789 "UserFriendlyException throws 403 error and causes a problem."
If a user does not have specified permission, abp throws:
[code]

And for some other reason I throw UserFriendlyException, it throws:
[code]

In practice I need to handle authorization failed error in user's browser. Problem is how to distinguish which is abp's authorization failed error, and which is my custom error?

I have many ways to solve this problem by myself, but I think it is a common pr

[2020-02-09 14:05] maliming commented on #2783
This problem occurs when we enable `scrollX `for datatables https://github.com/abpframework/abp/search?q=scrollX&unscoped_q=scrollX

Related issue: https://datatables.net/forums/discussion/comment/145791/#Comment_145791

[2020-02-09 14:11] maliming commented on #2785
Try to inject `IHttpContextAccessor`(https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-context?view=aspnetcore-3.1#use-httpcontext-from-custom-components).

Note that not all contexts can get HttpContext.

[2020-02-09 17:43] #2785 closed

[2020-02-09 17:45] hikalkan commented on #2783
Duplicate of https://github.com/abpframework/abp/issues/2710
Add a custom CSS for now (see https://github.com/abpframework/abp/commit/c2518fd7f4f7c0d892496b62ad615555b58e796d)
Will be fixed with v2.1.

[2020-02-09 17:45] #2783 closed

[2020-02-09 17:47] hikalkan commented on #2789
Throw [AbpAuthorizationException](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Security/Volo/Abp/Authorization/AbpAuthorizationException.cs) instead of UserFriendlyException

[2020-02-09 17:47] #2789 closed

[2020-02-09 17:52] hikalkan commented on #2222
@mehmet-erim what do you think about axios?

[2020-02-09 17:56] hikalkan commented on #2787
Hi @thiag0coelho
We will be working on a system to easily extend/customize current UIs, DTOs, services and entities.
Currently you can copy the Identity module source code into your solution (and remove npm dependencies) and freely customize it.

[2020-02-09 17:56] #2787 closed

[2020-02-09 17:57] hikalkan commented on #2786
You can do same we did for AppUser. Just check where it is used to understand how we did it. Not so hard.

[2020-02-09 18:16] hikalkan commented on #2771
Do you think it is useful to download MVC & Angular UI together? I thought one web and one mobile UI selection would be better and simpler.

[2020-02-09 18:22] #2773 closed

[2020-02-09 18:59] hikalkan commented on #2749
Actually it doesn't set to null, but deletes the setting completely: https://github.com/abpframework/abp/blob/dev/modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/SettingManager.cs#L147-L153

Let's go with the Tenant -> User inheritance (actually we call it User -> Tenant fallback, but not important now).
If a setting's value is "A" for a tenant, then it

[2020-02-09 19:04] hikalkan commented on #2718
Have you seen this: https://docs.abp.io/en/abp/latest/Modules/Docs

[2020-02-09 19:09] hikalkan commented on #2767
There are several issues related to this for NUglify: https://github.com/xoofx/NUglify/issues/43

@maliming (for the next versions) can we consider to compile ES6 to ES5 befor the uglifier? What do you think?

[2020-02-09 19:11] hikalkan commented on #2770
Hi @zsanhong

We don't recommend this. Go with Bootstrap 4.x. Even if you can create a bs3 based theme, the modules and the tag helpers will not be compatible with it.

[2020-02-09 19:11] #2770 closed

[2020-02-09 19:31] hikalkan commented on #2720
You may need to add `AbpAspNetCoreMultiTenancyModule` to your module's dependency list.
Actually, you also need to add AbpTenantManagementHttpApiModule to be able to use the HTTP API.

[2020-02-09 19:36] hikalkan commented on #268
If you've inherited from the [AbpPageModel](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo/Abp/AspNetCore/Mvc/UI/RazorPages/AbpPageModel.cs), directly use `Alerts.Add...` (or Info, Warning... etc.). You can inject IAlertManager where you need in another code part.

[2020-02-09 20:41] yerayvm commented on #2775
@majidbigdeli you can try in startup.cs inside `ConfigureServices` this code:

[code]

and then in your `---module.cs` inside `OnApplicationInitialization` paste this code above `            app.UseMvcWithDefaultRouteAndArea();`  :

`app.UseRequestLocalization();`

[2020-02-09 21:27] gdlcf88 commented on #2749
Thanks for @hikalkan 's explanation.

For abp's permission system, I set "A" to User, the user will really get the grant (in DB), if I want the user inherit from roles again, I will manually delete the grant instead of setting it to "A".

And the problem is why there are two different design for permission management and setting management? Maybe I should manually set User to null for let it inher

[2020-02-09 23:35] wocar commented on #2767
Maybe we can consider leaving the code as is if the uglifier throws an
exception...

El El dom, 9 de febrero de 2020 a la(s) 1:09 p.m., Halil İbrahim Kalkan <
notifications@github.com> escribió:

--
---

Ing. William Obando Castellanos
T: 351-123-7707

[2020-02-10 01:28] maliming commented on #2767
@hikalkan  I will try to see.

[2020-02-10 04:17] hikalkan commented on #2749
In the permission system, you only set true or false for a permission. When you set false, it [deletes](https://github.com/abpframework/abp/blob/dev/modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionManagementProvider.cs#L74) the record from database because a permission is not granted by default so no meaning to store it as false in the