[2022-11-15 07:37] muhlisatac commented on #14647
Project templates still downloads like "@abp/aspnetcore.mvc.ui.theme.leptonxlite": "~2.0.0-preview20221014". I think this line should be changed to "@abp/aspnetcore.mvc.ui.theme.leptonxlite": "2.0.0-rc.1".

[2022-11-15 07:41] BogdanJak opened #14668 "Blazor Server 7rc1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

New Blazor Server project generated with version 7 preview.
Run abp install-libs command.
The app is launched and when I click on the Login button I get an error

![image](https://user-images.githubusercontent.com/54505464/201858465-39483dfd-55f6-4654-b2a0-6bd2228b2596.png)

### Reproduction Steps

[2022-11-15 07:44] realLiangshiwei commented on #14668
We will fix it: https://github.com/abpframework/abp/pull/14664

You can add them manually now

[2022-11-15 07:44] #14668 closed, assigned to nobody

[2022-11-15 07:51] maliming commented on #14647
Yes, We will update the templates.

[2022-11-15 07:51] #14647 closed, assigned to nobody

[2022-11-15 09:11] muhlisatac commented on #14649
Yesterday i upgraded all the packages via nuget manager solution vise. There was no upgrade package for Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite. I tried again now and found Version="2.0.0-*" for it. After upgrading it exception has gone. Thank you any way.

[2022-11-15 09:11] #14649 closed, assigned to nobody

[2022-11-15 09:13] #14666 closed, assigned to salihozkara

[2022-11-15 10:02] #14629 closed, assigned to maliming

[2022-11-15 10:02] maliming commented on #14629
https://github.com/abpframework/abp/pull/14640

[2022-11-15 10:26] #14519 closed, assigned to muhammedaltug

[2022-11-15 10:26] #14500 closed, assigned to muhammedaltug

[2022-11-15 10:46] gizemmutukurt opened #14676 "An error is received for the package "toastr.min.css""
**Command** abp new Acme.BookStoreM71 -t app-nolayers -u blazor-server -d mongodb --preview
**Version:** `7.0.0-rc.1`
**Problem:** If the db is mongo db when the no layer project is created, an error is received for the "toastr.min.css" package.

![image](https://user-images.githubusercontent.com/99716457/201899657-b568c463-881c-430f-9369-be9ca4ff3513.png)

[2022-11-15 10:48] BogdanJak commented on #14668
How to do it? Sorry but I have no experience.

[2022-11-15 16:46] BogdanJak opened #14682 "Fore color in Blazor Server 7.0.0.rc-1"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Below is a photo of the form of adding a new user.
How to change the color of the letters so that they are visible?

![image](https://user-images.githubusercontent.com/54505464/201977539-93ed8b9e-3f91-4279-bd33-dd9187a0d46d.png)

### Reproduction Steps

_No response_

### Expected behavior

_No re

[2022-11-15 17:52] EngincanV commented on #14682
Hi @BogdanJak, thanks for reporting. We are aware of this problem and will fix it soon.

[2022-11-15 19:46] muhlisatac commented on #14668
You can add below 2 lines to package.json in web project and then run abp install-libs.
    "@abp/bootstrap-daterangepicker": "~7.0.0-rc.1",
    "@abp/moment":"~7.0.0-rc.1",

[2022-11-16 06:44] enisn commented on #14682
Can you try updating LeptonX package to `2.0.0-rc.1` in your package.json and run `abp install-libs` command?

[2022-11-16 07:35] gizemmutukurt opened #14688 "Blazor WASM - console error is received."
**Problem:** Blazor wasm console error is received.

![image](https://user-images.githubusercontent.com/99716457/202103877-89f1d82d-9826-411e-b906-9d711de60190.png)
![image](https://user-images.githubusercontent.com/99716457/202116234-c7b14d1b-441c-47e5-a77f-6ad8048c4b78.png)

[2022-11-16 07:52] zyknow opened #14689 "Using abp DbMigrator configure DbContext OwnsMany to create database and seed data has System.InvalidOperationException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

owned entity containing DateTime properties,run DbMigrator project got exception,
use PostgreSql db,and also test mysql,it has same exception

i create the recurrence  repository for this exception : https://github.com/zyknow/AbpDbTemp

this is console detail
[code]

### Reproduction Steps

domain

[2022-11-16 07:54] enisn commented on #14682
Sorry, my bad, please try to downgrade to `1.0.0`  only npm package until we fix it

[2022-11-16 07:58] maliming commented on #14689
hi

How about this?

[code]

[2022-11-16 08:05] DowCore opened #14690 "when create the database with Mysql"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

System.MissingMethodException: Method not found: 'Void CoreTypeMappingParameters..ctor(System.Type, Microsoft.EntityFrameworkCore.Storage.ValueConversion.ValueConverter, Microsoft.EntityFrameworkCore.ChangeTracking.ValueComparer, Microsoft.EntityFrameworkCore.ChangeTracking.ValueComparer, System.F

[2022-11-16 08:07] maliming commented on #14690
MySql has not supported EF Core 7 yet.

https://github.com/abpframework/abp/issues/14412

[2022-11-16 08:07] #14690 closed, assigned to nobody

[2022-11-16 08:09] zyknow commented on #14689
yes,this code can success,what it's problem?

[2022-11-16 08:09] maliming commented on #14689
`modelBuilder.Owned<LibraryPaths>();` is the key.

[2022-11-16 08:09] #14689 closed, assigned to nobody

[2022-11-16 08:11] zyknow commented on #14689
ok ,thanks

[2022-11-16 08:25] enisn commented on #14676
Couldn't reproduce it with the same command: `abp new Acme.BookStoreM71 -t app-nolayers -u blazor-server -d mongodb --preview`

There might be an issue while running `abp install-libs`. Re-executing `abp install-libs` might solve the problem

[2022-11-16 08:25] BogdanJak commented on #14682
After changing LeptonX to version 1.0.0, I get an error with the content

`Autofac.Core.DependencyResolutionException: „An exception was thrown while activating Microsoft.AspNetCore.Mvc.Infrastructure.ControllerActionEndpointDataSourceFactory -> Microsoft.AspNetCore.Mvc.Infrastructure.DefaultActionDescriptorCollectionProvider -> λ:Microsoft.AspNetCore.Mvc.Abstractions.IActionDescriptorProvider[] -

[2022-11-16 08:28] enisn commented on #14676
I reproduced it after clicking 'login' button

[2022-11-16 08:35] enisn commented on #14682
No, I mean downgrade only **NPM** verisons in `package.json` file

[2022-11-16 08:37] zyknow commented on #14689
@maliming
i remove the `base.OnModelCreating(builder)` method and builder.Owned<LibraryPath>(),also can success running by DbMigrator,what is the happened for `base.OnModelCreating(builder)`, couldbe  cause by abp converter ？
![image](https://user-images.githubusercontent.com/49929368/202130222-cb4a24ae-febd-4c52-a896-a9aa3b8741e6.png)

[2022-11-16 08:43] BogdanJak commented on #14682
Changing the package version in package.json to 1.0.0 changes nothing. Below is the contents of my package.json

`{
  "version": "1.0.0",
  "name": "my-app",
  "private": true,
  "dependencies": {
    "@abp/aspnetcore.mvc.ui.theme.leptonxlite": "1.0.0",
    "@abp/aspnetcore.components.server.leptonxlitetheme": "1.0.0",
    "@abp/bootstrap-daterangepicker": "~7.0.0-rc.1",
    "@abp/moment": "~7.0.0

[2022-11-16 09:15] leonkosak commented on #14184
Is this issue somehow related to: https://stackoverflow.com/questions/74457621/openiddict-in-abp-framework-deploy-in-containerized-environment-k8s
?

[2022-11-16 09:28] ManaiAbdessalem commented on #14660
Solved!
The problem is that in our Azure AppService we enable "Always on" setting to keep our application loaded.
So Every 5 minutes a Get request is called to our Home page application.

Sometimes, the HTTP request is canceled.

There is no perfect solution. But on disabling "always on" no errors are recorded

[2022-11-16 09:28] #14660 closed, assigned to nobody

[2022-11-16 09:52] realLiangshiwei commented on #14688
I think you should run the `.HttpApi.HostWithIds` project first

[2022-11-16 15:43] VivienMAN commented on #14397
Hello @realLiangshiwei ,
Do you think you can update blazorise to abp version 7.0?

[2022-11-16 16:14] leaortiz opened #14699 "ISoftDelete not working in a modular App"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

After deliting an Entity it is marked as IsDeleted = true on the database but when querying data I do get those entities.

### Reproduction Steps

Create a new ABP app (5.3.4) add a module to it using abp add-module YourModuleName –new –add-to-solution-file
    private void ConfigureConventionalCo

[2022-11-17 01:09] maliming commented on #14699
hi

Can you share a simple project?

[2022-11-17 01:25] realLiangshiwei commented on #14397
yes, it will include in the 7.0

[2022-11-17 01:33] #14688 closed, assigned to nobody

[2022-11-17 02:37] realLiangshiwei commented on #14397
Hi,

After my check, ABP has abstracted such services: https://docs.abp.io/en/abp/latest/UI/Blazor/Notification

![image](https://user-images.githubusercontent.com/16813853/202340607-72053b8e-87d7-459b-ab0e-87522654b4da.png)

So, we won't add these providers.

But if you like, you can easy to do it:

Create a component named `BlazoriseServiceProviders`

[code]

Configure the `AbpDynamicLayoutCompo

[2022-11-17 02:37] #14397 closed, assigned to nobody

[2022-11-17 04:13] jakeuj opened #14701 "7.0.0 RC1 Could not find daterangepicker.css for the bundle LeptonXLite.Global"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

7.0.0 RC1 can't open login page successfully, could not find `daterangepicker.css`.

### Reproduction Steps

- PowerShell

`abp new TestProject --ui none -csf --preview`

- Action

Open Swagger and Click the authorize button, then redirect to the login url will get an error.

### Expected behavior

[2022-11-17 04:55] maliming commented on #14701
It was fixed in rc2 and we will release it soon.

[2022-11-17 04:55] #14701 closed, assigned to nobody

[2022-11-17 06:00] ahmadmasoum commented on #14508
Found the problem

I must pass the model When returning the view in GroupViewComponent
[code]

Also The document mentions that I should create SettingsGroup under component folder

But when the app is published the component folder no longer exists so i had to put it in `Pages` folder

I think the document should be updated with those 2 things

[2022-11-17 06:29] #14508 closed, assigned to nobody

[2022-11-17 07:05] Mallankur commented on #5809
hii i have facing with same issue "Standalone server do not support transaction" . i don't know how fix it plese anyone know then let me know

[2022-11-17 07:08] VivienMAN commented on #14397
Thanks for solution, but in abp they dont have <ModalProvider/>.

[2022-11-17 07:40] leonkosak opened #14704 "Deployment to containarized environment (k8s) with reverse-proxy - auth server issue"
@gterdem as I can see, you are "k8s guy" and I have a problem how to properly deploy basic abp application (tiered, mvc - opensource or commercial) inside k8s environment and then expose to the internet (where there is reverse-proxy between k8s environment and internet).
https://stackoverflow.com/questions/74457621/openiddict-in-abp-framework-deploy-in-containerized-environment-k8s

I do not want

[2022-11-17 07:50] leonkosak commented on #14704
Ok, I found this: https://docs.abp.io/en/commercial/latest/guides/identityserver-deployment
Is still relevant for OpenIddict?

[2022-11-17 07:52] VivienMAN commented on #14397
@realLiangshiwei  @enisn  Thanks for  solution.
On the other hand I am not completely satisfied, the ModalProvider does not exist in abp and is however an important novelty of Blazorise.
I think the ModalProvider should be included as standard in the Blazor version.

[2022-11-17 09:37] gterdem commented on #14704
@leonkosak apart from configuration aspect, it is relevant for OpenIddict aswell but we're planning to create a new guide for OpenIddict deployment.

I have written a detailed answer for your question at [stackoverflow](https://stackoverflow.com/a/74473105/2594735). Let me know if you have any further questions.

[2022-11-17 09:56] wxyer opened #14712 "custom account pages in development working (vsc launch),but on click application not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

custom account pages in development working (vsc launch),but on click application not working
![QQ截图20221117175241](https://user-images.githubusercontent.com/11608947/202414357-9d5fe4d7-65b7-4a76-b779-71594eec2800.png)
custom folder in *.HostApi.Host solution
i dont know the reason with much time

[2022-11-17 10:09] wxyer commented on #14712
![QQ截图20221117180844](https://user-images.githubusercontent.com/11608947/202418156-69c4fd15-420e-4cac-b5b4-e21f9dd7ca1c.png)
![QQ截图20221117180816](https://user-images.githubusercontent.com/11608947/202418162-c2918a05-7d4c-44ee-978d-d8c4e4b8b460.png)
task.json and launch.json

[2022-11-17 12:58] wxyer commented on #14712
i create a new razor page in accout folder,in production mode the pages not found but in development can found,who knoe the key is

[2022-11-17 13:04] hikalkan opened #14716 "Use EF Core 7 ExecuteDelete for IRepository.DeleteAsync with predicate"
EF Core 7 has a new `ExecuteDeleteAsync` extension method: https://learn.microsoft.com/en-us/ef/core/what-is-new/ef-core-7.0/whatsnew#basic-executedelete-examples

We can use it in `EfCoreRepository.DeleteAsync` method:

[code]

Here: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Domain/Repositories/EntityFrameworkCore/EfCoreRepository.cs#L290-L30

[2022-11-18 00:48] maliming commented on #14712
You can try to disable `ConfigureVirtualFileSystem` method.

https://github.com/abpframework/abp/blob/30ec6d1129626cd01dad45e64ba44a8fdfe10f58/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/MyProjectNameHttpApiHostModule.cs#L105

[2022-11-18 01:55] maliming opened #14718 "Set `ApplicationName` of `AbpSecurityLogOptions` to `IAbpApplication.ApplicationName`"
https://github.com/abpframework/abp/pull/13644/commits/c62af908a4d7bb373a84bf8766fe858b7a1ec160

[2022-11-18 03:08] #14718 closed, assigned to maliming

[2022-11-18 03:36] vnetonline commented on #14558
Should we call this CustomPost or DynamicPosts or DynamicEntities??

[2022-11-18 04:03] wxyer commented on #14712
i  have try this, still no working
i print all the routes and found add the line below
`context.Services.AddControllersWithViews().AddRazorRuntimeCompilation();`
and copy to folder
` <None Include="Pages\**">
            <CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
  </None>`

[2022-11-18 04:41] vnetonline commented on #55
Will this be built into the core or a separate module? in AspNetBoilerPlate this was called DynamicEntityProperties and was built into the core 2 years ago

[2022-11-18 06:24] maliming commented on #14716
This breaks the soft delete and auditing...

[2022-11-18 06:36] hikalkan commented on #14716
Hmmm.. OK, then it would be better to introduce a new method that explicitly explains it breaks these. I will create another issue.

[2022-11-18 06:42] hikalkan opened #14725 "Introduce DeleteDirectAsync method for IRepository"
EF Core 7 has a new `ExecuteDeleteAsync` extension method: https://learn.microsoft.com/en-us/ef/core/what-is-new/ef-core-7.0/whatsnew#basic-executedelete-examples

We can create a new method on the `IRepository<TEntity>` interface and implement it for EF Core and MongoDB.

[code]

Add a summary on top of the method like:

Note that: For the ORMs doesn't support direct delete, we can fallback to th

[2022-11-18 06:43] hikalkan commented on #14716
Moved to https://github.com/abpframework/abp/issues/14725

[2022-11-18 06:43] #14716 closed, assigned to maliming

[2022-11-18 07:13] rqx110 commented on #14725
what's difference between `HardDelete` and `DeleteDirect`?

[2022-11-18 08:32] mahmut-gundogdu commented on #12680
I think that closed by developer hand for a good reason. I asked the why. I will updated.

[2022-11-18 09:14] MuratTopcu commented on #4185
I'm having the same problem, is there a solution?

![resim](https://user-images.githubusercontent.com/2551727/202665445-8ef9e3de-4fbe-411b-95d6-7aa8c2a3ce13.png)

[2022-11-18 09:23] MuratTopcu opened #14729 "Doc Menu Not Displaying correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I'm having the same problem #4185, is there a solution?

![resim](https://user-images.githubusercontent.com/2551727/202666846-e699eeec-e297-4f07-9a20-ea6a0ede776c.png)

### Reproduction Steps

https://docs.abp.io/en/abp/latest/Apps/VoloDocs download https://apps.abp.io/VoloDocs/VoloDocs.win-x64.zi

[2022-11-18 09:34] realLiangshiwei commented on #14667
After my check, this feature cannot be implemented.

let me explain:

We can't change the methods from Microsoft's [`RedisCache`](https://github.com/dotnet/aspnetcore/blob/main/src/Caching/StackExchangeRedis/src/RedisCache.cs). It will cause inconsistent behavior between methods, like `SetManyAsync` and `SetAsync`

[2022-11-18 09:34] #14667 closed, assigned to nobody

[2022-11-18 09:42] sturlath commented on #14618
@EngincanV since this is only now happening for me in Blazor WASM I just want to make sure this isn´t missed. Nothing has changed for me, so I don´t know why it's happening now.

![image](https://user-images.githubusercontent.com/2386572/202671011-135ba693-5507-4aeb-b95f-4f78383291f6.png)

[2022-11-18 09:44] bingzhizhi opened #14730 "SqlException: Invalid object name 'AbpSettings'."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I want to use defalut TablePrefix in some part of tables ,and other tables use another TablePrefix,
example: Table Users use "aaa" Table tenant use "bbb",
but
Result: database table name changed as I want, but when I tried to run my site, i get error:

SqlException: Invalid object name 'AbpSetting

[2022-11-18 09:49] bingzhizhi commented on #14730
I just want to use defalut TablePrefix in users and tenants,what should i do

[2022-11-18 09:54] bingzhizhi commented on #14730
https://github.com/abpframework/abp/issues/1387#issuecomment-506645119    Can't help me

[2022-11-18 10:07] personball commented on #14667
tks for your reply. I'll track this https://github.com/dotnet/aspnetcore/issues/41948

[2022-11-18 10:12] EngincanV commented on #14618
Hi, can you check the `appsettings.json` file for the "RemoteServices" section? It should something like below:

[code]

Please change the `BaseUrl` for "AbpAccountPublic". Then it should work as expected.

[2022-11-18 10:33] sturlath commented on #14618
Yes they are all just set to localhost like you see in the image of the first question. This has just been like this for ever so strange its starting to behave like this now.

Should I have appsettings.json files for all my environments and swap between them base on where I´m am? appsettings.development.json for my azure dev and appsettings.production.json for my prod one?

[2022-11-18 10:47] EngincanV commented on #14618
Since you use a tiered application, you should set the `AbpAccountPublic:BaseUrl` to let the account module get the URL for the profile picture.

Yes, you should change the base URL on production and should point to your identity server, so it can be good to have the **appsettings.production.json**.

[2022-11-18 10:56] maliming commented on #14730
Reproduction Steps

[2022-11-18 11:43] hikalkan opened #14733 "Revision for CMS Kit Features naming"
![image](https://user-images.githubusercontent.com/1210527/202696494-8db01ca0-411e-4141-9705-63e33f29a644.png)

* Remove all "Enabled" and "Enable" words here. They are completely unnecessary.
* Truly goup features. For example, there is no meaning to enable blog page without enabling the blogpost page. Blogging is a single feature and covers all blogging functionalities.
* The [feature definition

[2022-11-18 12:59] EngincanV commented on #14618
I close the issue, since your problem should be fixed. Feel free to reopen it.

[2022-11-18 12:59] #14618 closed, assigned to nobody

[2022-11-18 13:22] sturlath commented on #13684
Is this by any change connected to this here not working https://github.com/abpframework/abp/pull/13772#issuecomment-1319968310 @enisn? I´m btw trying to[ get Blazor WASM to use .br files and not the huge .dll](https://support.abp.io/QA/Questions/3577 )

[2022-11-18 14:36] realLiangshiwei opened #14734 "Remove Disposed Component References"
https://github.com/Megabit/Blazorise/pull/4103

It brings a performance boost to Blazorise components, We can use their default behavior for Blazorise integration

[2022-11-18 14:37] realLiangshiwei commented on #13114
Hi, @sturlath

See: https://github.com/abpframework/abp/issues/14734

[2022-11-18 15:24] sturlath commented on #14618
This solved my issue! Thank you for your assistance, really appreciated!

[2022-11-18 22:32] vnetonline commented on #14558
I have started creating the CustumPosts feature as part of the CmsKit ... so far I have created the following FullAuditedAggregateRoots

- [x] CustomPost
- [x] CustomPostType
- [x] CustomPostTypeFeature

The idea is to leverage the Tags, Reactions, Rating and MenuItems System of the CmsKit module.

Taking an approach similar to WordPress where when a CustomPost is created you first create a Custom

[2022-11-19 11:55] sturlath commented on #13114
Thanks @realLiangshiwei yes, I spotted this and asked [this question](https://github.com/Megabit/Blazorise/discussions/4291).

[2022-11-19 14:08] bingzhizhi commented on #14730
1.change all TablePrefix except users and tenants in OnModelCreating
2.remove all migration
3.add migration.Table AbpSettings has changed name to ShadowAbpsetting right now
4.Start project   ====>Invalid object name 'AbpSettings'.

[2022-11-19 14:10] bingzhizhi commented on #14730
I changed the tables name one by one in OnModelCreating

[2022-11-19 14:43] sturlath commented on #13114
I saw [this comment](https://github.com/dotnet/aspnetcore/issues/16956#issuecomment-552475370) I don´t know if this is something that can be used in abp.io but can hopefully close these loading gaps

[2022-11-20 03:33] yinghongzhen opened #14738 "abp 6.0.1 Automapper does not support net7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

ABP VERSION：6.0.1

on net7 is not work, on net6 is work fine!

the exception logs:

      An exception was thrown while activating RedNb.WebGateway.Application.Tests.TestAppService -> Volo.Abp.ObjectMapping.DefaultObjectMapper -> Volo.Abp.AutoMapper.AutoMapperAutoObjectMappingProvider -> λ:Volo.Ab

[2022-11-20 03:36] realLiangshiwei commented on #14738
ABP supports NET7 from version 7.0 : https://github.com/abpframework/abp/blob/dev/docs/en/Blog-Posts/2022-11-14%20v7_0_Preview/POST.md

[2022-11-20 03:36] #14738 closed, assigned to nobody

[2022-11-20 03:46] realLiangshiwei opened #14739 "Enhance Blob storing Minio provider"
A lot of methods have been obsoleted

![image](https://user-images.githubusercontent.com/16813853/202883225-b07f5e92-adc2-4f41-83ca-8f89ac94c496.png)

[2022-11-20 21:56] phil-enfom commented on #14551
Hi,
Also have this issue on ABP 7.0 with Angular UI
If we want to just give just readonly access to a user we would only tick the parent permission but on save this is lost.

Can I have an update on this please.

Phil

[2022-11-21 02:39] #14739 closed, assigned to realLiangshiwei

[2022-11-21 02:57] laiwang233 opened #14743 "Blazor Webassembly appsettings.json"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

![image](https://user-images.githubusercontent.com/43662175/202953558-52738b0b-81d8-4317-860f-fb14163238fc.png)
![image](https://user-images.githubusercontent.com/43662175/202953604-a56f053c-74cf-40bd-b64c-c5a46cb4cee9.png)

### Reproduction Steps

Use abp new Dog -u blazor -dbms MySQL --theme bas

[2022-11-21 03:04] maliming commented on #14743
https://github.com/abpframework/abp/pull/14395

[2022-11-21 05:14] #14699 closed, assigned to nobody

[2022-11-21 05:17] maliming commented on #14730
Please change the prefix in the `Program` class.(`Host`, `Migrator`)

[2022-11-21 06:21] bingzhizhi commented on #14730
I want to use different prefix in database,if i change it in program it will be same.
I have changed ConfigureTenantManagement
![image](https://user-images.githubusercontent.com/54054078/202979351-1423c567-a6ae-4c77-9b1b-5ae67efb2147.png)

[2022-11-21 06:35] bingzhizhi commented on #14730
forexample I want to use diffrent AbpIdentityDbProperties.DbTablePrefix.what should i do

[2022-11-21 06:38] bingzhizhi commented on #14730
a part of tables use prefix 'a; ,the others use prefix 'B', In AbpIdentity Database

[2022-11-21 06:49] maliming commented on #14730
This belongs to EF Core instead of ABP.

[2022-11-21 07:22] maliming opened #14746 "Consider using EF Core `Interceptor` to dynamically get the connection string."
https://learn.microsoft.com/en-us/ef/core/what-is-new/ef-core-7.0/whatsnew#lazy-initialization-of-a-connection-string

[2022-11-21 07:30] #14743 closed, assigned to realLiangshiwei

[2022-11-21 07:51] bingzhizhi commented on #14730
![image](https://user-images.githubusercontent.com/54054078/202993760-1f5815cd-aa87-461c-a436-9b99a15edb00.png)
![image](https://user-images.githubusercontent.com/54054078/202993842-4d1039a1-63fe-45a7-a29e-ac68aea366e3.png)
![image](https://user-images.githubusercontent.com/54054078/202993999-9bac7e30-d1d2-43ff-9ed3-8b15f36f1ef6.png)
I changed the prefix in the Program class.(Host, Migrator)  Dosn

[2022-11-21 07:53] bingzhizhi commented on #14730
Finally ,The table name is ShadowSettings,but abp try to find the table AbpSettings,  sad

[2022-11-21 08:38] maliming commented on #14746
Does not conform to current design.

[2022-11-21 08:38] #14746 closed, assigned to nobody

[2022-11-21 08:42] bingzhizhi commented on #14730
Is it possible to use a different prefix between table UserClaims and UserRoles?
I think its not possible because in abp they have the same prefix =====>AbpIdentityDbProperties.DbTablePrefix

[2022-11-21 10:26] lukagalovic opened #14753 "Localization of ABP modules (identity management, setting management, UI) not working after deployment to IIS"
* Your **ABP Framework version**: 6.0.1
* Your **User Interface**: Angular
* Your database provider: EF Core

I have problem with custom localization of ABP modules. Everything is working fine on localhost but after I deploy to IIS, ABP modules are not localized, while modules I made are.

I did everything following tutorial on official ABP site but I can't find anyone had similar problem.

I am u

[2022-11-21 10:34] maliming commented on #14753
What's `csproj` file content of `*.Domain.Shared` project?

[2022-11-21 10:35] ipcheGevara commented on #14753
`<Project Sdk="Microsoft.NET.Sdk">

  <Import Project="..\..\common.props" />

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <RootNamespace>LicGen</RootNamespace>
    <GenerateEmbeddedFilesManifest>true</GenerateEmbeddedFilesManifest>
    <UserSecretsId>714db7e0-03a1-42d7-95de-4bed64cb592a</UserSecretsId>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include

[2022-11-21 10:35] ipcheGevara commented on #14753
<Project Sdk="Microsoft.NET.Sdk">

  <Import Project="..\..\common.props" />

  <PropertyGroup>
    <TargetFramework>netstandard2.0</TargetFramework>
    <RootNamespace>LicGen</RootNamespace>
    <GenerateEmbeddedFilesManifest>true</GenerateEmbeddedFilesManifest>
    <UserSecretsId>714db7e0-03a1-42d7-95de-4bed64cb592a</UserSecretsId>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include=

[2022-11-21 10:40] lukagalovic commented on #14753
![csproj](https://user-images.githubusercontent.com/84729436/203029973-cdce8581-a13c-471d-88bd-f0fa07e0ea58.png)

[2022-11-21 10:50] SarcoZ opened #14754 "IEventBus need an property params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Now, IEventBus publish params only object or type, otherwise override  it also not easy to use, In Kafka, some message need select partition key in order to keep message  orderliness,  In rabbitmq, also need message header property

##

[2022-11-21 12:44] #14611 closed, assigned to nobody

[2022-11-21 14:42] ahmednfwela opened #14761 "[Discussion] Supporting multiple UI frameworks"
This issue is to discuss possible ways for ABP to handle Integration of UI frameworks in different languages.
related: https://github.com/abpframework/abp/issues/1168

## Splitting the framework
1. ABP framework itself shouldn't actively support UI frameworks and should only focus on the backend side written in c#
2. a new repo called `abp_ui` should be created within the `abpframework` organizati

[2022-11-21 17:32] mugambiwarwema commented on #9458
@maliming  This issue has occurred again just now. Is there a workaround?

[2022-11-22 01:35] maliming commented on #9458
hi

We are releasing the new rc version. You can try again later.

[2022-11-22 01:37] maliming commented on #14753
hi

Try to include `Localization/IdentityManagement` as embedded resource.

[2022-11-22 05:50] bingzhizhi commented on #1429
Is it possible to use a different prefix between table UserClaims and UserRoles?
I dont think its possible because in abp they have the same prefix =====>AbpIdentityDbProperties.DbTablePrefix
If i want to this what should i do

[2022-11-22 06:52] hikalkan opened #14766 "Using MapperConfiguration.ConstructServicesUsing may cause problems"
See the usage:

https://github.com/abpframework/abp/blob/e26d5ba0d3d6d32beb89bb609c03de5e2404070c/framework/src/Volo.Abp.AutoMapper/Volo/Abp/AutoMapper/AbpAutoMapperModule.cs#L47

Here, it seems we've used the global service provider. How these resolved services will be released? Also, I want to ask how AutoMapper uses that? Can we resolve services while mapping objects? If so, how? Is is document

[2022-11-22 06:54] bingzhizhi commented on #14730
abp sucks

[2022-11-22 07:01] huytnd opened #14768 "Cannot start Angular app (abp version: 6.0.1)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Generating browser application bundles (phase: setup)... An unhandled exception occurred: ENOENT: no such file or directory, lstat 'D:\SrcRepos\Local\ABP_Templates\Angular\Angular01\angular\node_modules\@volo'

### Reproduction Steps

1. Create a new project using Angular as front-end with this co

[2022-11-22 08:17] lukagalovic commented on #14753
Working now, thank you very much!

![working](https://user-images.githubusercontent.com/84729436/203261120-cd0d5f18-744c-4320-a21c-3477d15eb8f3.png)

[2022-11-22 08:18] #14753 closed, assigned to nobody

[2022-11-22 08:34] albutta commented on #4223
Still in the roadmap :)

[2022-11-22 09:10] maliming commented on #14766
These services will not be released.

**This is a problem**, I'm checking [AutoMapper.Extensions.Microsoft.DependencyInjection](https://github.com/AutoMapper/AutoMapper.Extensions.Microsoft.DependencyInjection)

Automapper will create services in a static method, but not dispose of them.

We can use inject services in `Before and After Map Action`, I will update the document after fixing this issu

[2022-11-22 10:55] hikalkan commented on #14676
Resolved by https://github.com/abpframework/abp/commit/54d417d1717b2767c2ab71756af2c90c40d197f8

[2022-11-22 10:55] #14676 closed, assigned to hikalkan

[2022-11-22 11:13] #14733 closed, assigned to malikmasis, enisn

[2022-11-22 13:38] gizemmutukurt opened #14780 "All Templates - Only button is displayed for "feature management""
**Version:** `7.0.0-rc.2`
**App:** Mvc - Blazor Server - Blazor WASM - Angular
**Problem:** Only button is displayed for "feature management" . It might look better if there is a description when the tab is opened

**Note:** The same problem exists in pro templates.

![image](https://user-images.githubusercontent.com/99716457/203307384-c2e95a5a-c41d-430b-ae7f-0279ed80c616.png)

[2022-11-22 13:52] maxrizwork commented on #12339
I had a similar problem with a project
- ABP Framework Version: 6.0.1
- User Interface: ASP.NET Core
- Database Provider: EF Core with SQL Server
and I solved in this way without the attribute [UnitOfWork] and creating manually a new uow

[code]

[2022-11-22 14:51] ArneCools opened #14783 "OpenIddict: external logout"
**ABP 6.0.1 - Blazor Server - EF Core**

I'm also using the **Tiered** project structure

Hello

I'm trying to get saml2 external logout working in OpenIddict. However I'm unable to get the code fully working.

In IdentityServer4 is used this code:
[code]

I tried replacing it with:
[code]

Which is still incomplete:
- how do I get the PostLogoutRedirectUri,ClientName and SignOutIFrameUrl in OpenI

[2022-11-22 15:49] YangYang1082 opened #14784 "AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

i have got the AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'! when i visited the authserver.
and it is also exist after i run ABP install-libs command.

### Reproduction Steps

1. use  `abp new tutorial -u blazor -dbms PostgreSQL --separate-ide

[2022-11-22 16:00] abdullahshaqaliah opened #14785 "TenTime.AdministrationService.HttpApi.Host terminated unexpectedly! System.TypeLoadException: Could not load type 'Volo.Abp.Json.IJsonSerializer' from assembly 'Volo.Abp.Json, Version=7.0.0.0"
ABP Framework version 7.0.0-rc.2
database provider(EF Core)

Hi
After i upgrade to new abp version and i wtite command "add-migration create-permissions-tables" to add new permisions tables, I get the follwing errors

[code]

[2022-11-22 19:55] #13887 closed, assigned to nobody

[2022-11-22 19:55] #13908 closed, assigned to nobody

[2022-11-22 19:55] #13883 closed, assigned to nobody

[2022-11-22 19:55] #13920 closed, assigned to nobody

[2022-11-22 19:55] #13937 closed, assigned to nobody

[2022-11-22 19:55] #13966 closed, assigned to nobody

[2022-11-22 19:55] #13971 closed, assigned to nobody

[2022-11-22 19:55] #13984 closed, assigned to nobody

[2022-11-22 19:55] #13817 closed, assigned to nobody

[2022-11-22 19:55] #13983 closed, assigned to nobody

[2022-11-22 19:55] #13819 closed, assigned to nobody

[2022-11-22 19:55] #13848 closed, assigned to nobody

[2022-11-22 23:36] gterdem commented on #13922
This should remain open until we find a solution

[2022-11-23 01:04] maliming commented on #14785
Can you try to clean and rebuild?

[code]

[2022-11-23 01:04] maliming commented on #14784
What's the output of this command?

[2022-11-23 01:16] YangYang1082 commented on #14784
![image](https://user-images.githubusercontent.com/95226197/203451902-49d18b14-eac3-4d6a-932f-5c1443f0169a.png)

above is the output of abp install-libs command

[2022-11-23 01:51] YangYang1082 commented on #14784
![image](https://user-images.githubusercontent.com/95226197/203454844-1514a8c9-4499-40e8-abcc-436bb0008719.png)

this is the output of `yarn explain peer-requirements` command, i also have searched for this, iseems like it will not stop my code from running, and how can i solve this problem?

[2022-11-23 02:05] maliming commented on #14784
This seems like a `Yarn` issue, I have no ideas.

[2022-11-23 02:35] YangYang1082 commented on #14784
i have solved this problem after downgrade my yarn from 3.2.4 to 1.22.19

[2022-11-23 02:35] #14784 closed, assigned to nobody

[2022-11-23 02:37] maliming commented on #14783
hi

You can consider override `LogoutController` of OpenIddict module.

https://github.com/abpframework/abp/blob/cc54b34f2777dae7697b92ea47c2c424e089632f/modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/LogoutController.cs#L13

[2022-11-23 03:08] abdullahshaqaliah commented on #14785
I've tried and same problem

[2022-11-23 03:18] maliming commented on #14785
Detailed steps to reproduce?

[2022-11-23 04:31] abdullahshaqaliah commented on #14785
Hi
I fixed my issue for generate tables
namespace TenTime.AdministrationService.Migrations
[code]
But when i run the application i get another errors
[code]

[2022-11-23 07:05] #14725 closed, assigned to maliming

[2022-11-23 07:28] abdullahshaqaliah commented on #14785
I am Sorry the issue problem from me i already added references Application Contracts from another applications to generate permissions so I removed the references and now its working perfect.
 Thank you @maliming

[2022-11-23 07:29] #14785 closed, assigned to nobody

[2022-11-23 08:20] #14766 closed, assigned to maliming

[2022-11-23 08:32] truongkyit commented on #3758
this is very helpful

[2022-11-23 08:45] bingzhizhi commented on #14730
How to change the name of user table
I changed the table name to AbpUserNew and readd migration .but abp still try to find the table AbpUser

[2022-11-23 08:53] bingzhizhi commented on #14730
![image](https://user-images.githubusercontent.com/54054078/203505208-e1466b94-3045-42c9-aed1-628aca6d565e.png)

[2022-11-23 09:16] hikalkan opened #14795 "Show warning instead of crashing the application when a bundle script/style file not found"
We should think about the implementation details.
One way can be writing error logs to browser console and application logs, and allow the application to continue running correctly.

[2022-11-23 10:12] ebicoglu commented on #14795
if there's a bundle problem, we can also show it in the Health Check endpoint.

[2022-11-23 11:29] gizemmutukurt opened #14797 "Blazor Server/WASM - The search text does not appear aligned"
**Version:** `7.0.0-rc.2`
**App:** Blazor Server - Blazor WASM
**Problem:** The search text does not appear aligned.

![image](https://user-images.githubusercontent.com/99716457/203533858-0871cc22-e156-4de5-beeb-95b3dd946fc9.png)

[2022-11-23 11:35] gizemmutukurt opened #14798 "Blazor Server/WASM - The screen does not update automatically when Restore to default is selected"
**Version:** `7.0.0-rc.2`
**App:** Blazor Server - Blazor WASM
**Problem:**  The screen does not update automatically when Restore to default is selected.

![80eeb578-15c2-446d-a31d-fb8956a995e0](https://user-images.githubusercontent.com/99716457/203537115-e385aad7-f98a-46ae-b07a-0d5729675337.gif)

[2022-11-23 11:45] gizemmutukurt opened #14799 "MVC - The "restore to default" button is not working."
**Version:** `7.0.0-rc.2`
**App:** MVC - Efcore
**Problem:** The "restore to default" button is not working.
![975c1c02-18ba-4844-a453-48786d935a33](https://user-images.githubusercontent.com/99716457/203538889-04a6ceca-20e6-4c2e-ad02-17ff9b7df9f3.gif)

[2022-11-24 03:47] SergeySorokin commented on #14598
@xyfy, while ABP team is working on the fix, the issue could be temporary resolved by adding redundant text in the localization file, i.e. you need to localize the each enum method name twice with the same localization text like this:

{
"Enum:BookType:0": "Undefined",
"Enum:BookType.Undefined": "Undefined"
}

[2022-11-24 04:05] xyfy commented on #14598
so when  you fixed，abp will return enum as string？发自我的手机-------- 原始邮件 --------发件人： Sergey Sorokin ***@***.***>日期： 2022年11月24日周四 11:47收件人： abpframework/abp ***@***.***>抄送： xyfy ***@***.***>, Mention ***@***.***>主    题： Re: [abpframework/abp] Why we changed the enum localization keys, when the ajax return the enum as int,not string? (Issue #14598)
@xyfy, while ABP team is working at the fix, the iss

[2022-11-24 05:28] gizemmutukurt opened #14803 "Angular - There is an error in the console on the Personal settings page."
**Version:** `7.0.0-rc.2`
**App:** Angular - MongoDB
**Command:** `abp new Angular.MoongoSeperated221123Free  -t app -u angular -m none --separate-identity-server --database-provider mongodb -csf --version 7.0.0-rc.2`
**Problem:** When the save button is clicked by making changes on the personal settings page, an error is received and no results are obtained.

![image](https://user-images.githubus

[2022-11-24 06:09] #14083 closed, assigned to gterdem, malikmasis

[2022-11-24 06:13] gterdem opened #14804 "eShopOnAbp: Remove identity-server"
Remove all IdentityServer related code.
Configure permission seeding for client-credential applications (formerly done in IdentityServer dataseeder).

[2022-11-24 06:22] realLiangshiwei commented on #14645
Could you provide a minimal reproducible example? thanks.

[2022-11-24 06:39] gterdem opened #14806 "eShopOnAbp: Keycloak swagger authorization"

[2022-11-24 06:41] realLiangshiwei commented on #14768
You can try use `yarn` to restore packages.

[2022-11-24 06:43] realLiangshiwei commented on #14591
I think it is not related to ABP, this is browser behavior.

[2022-11-24 06:44] #14592 closed, assigned to nobody

[2022-11-24 06:47] realLiangshiwei commented on #14509
If you want to know the implementation details, you need to view the source code.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client.IdentityModel/Volo/Abp/Http/Client/IdentityModel/IdentityModelRemoteServiceHttpClientAuthenticator.cs

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client.IdentityModel.Web/Volo/Abp/Http/Client/IdentityModel/W

[2022-11-24 06:47] #14509 closed, assigned to nobody

[2022-11-24 06:57] leonkosak commented on #14761
I am not a frontend developer, but in 2018-mid 2020 my team developed some Angular applications (using ASP.NET Zero and some prototypes in abp Commercia) and I am really not a fan of npm/yarn.
So many compiler errors, a really long process of frontend application for Docker image, huge list of warnings,....

Of course, Nuget also has it's own "quirks", but the overall experience (at least for my t

[2022-11-24 07:52] maliming commented on #14026
There is no problem.

The design of IRemoteServiceHttpClientAuthenticator requires `HttpRequestMessage` and `RemoteServiceConfiguration` which may not be reusable for Dapr.

[2022-11-24 08:26] zyknow opened #14809 "openiddict connect/token got token,but is not valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

i create new abp template project,got token form `/connect/token`
![image](https://user-images.githubusercontent.com/49929368/203730343-8d82b543-7d31-4b1c-92ba-f280a50c5cb1.png)

when i use this token request other api,the response is 401
![image](https://user-images.githubusercontent.com/49929368

[2022-11-24 08:42] maliming commented on #14809
Add **scope** to request.

![image](https://user-images.githubusercontent.com/6908465/203734164-a331a040-2d83-4087-8bd4-b139c437e1b2.png)

[2022-11-24 08:51] #14799 closed, assigned to malikmasis

[2022-11-24 08:53] ebicoglu opened #14811 "Update vulnerable packages to the latest version."
Update vulnerable packages to the latest version. Check if there's a breaking change and test the UI after updating.

Eg:
lodash — https://github.com/abpframework/abp/blob/dev/npm/packs/lodash/package.json
jquery-form — https://github.com/abpframework/abp/blob/dev/npm/packs/jquery-form/package.json

![image](https://user-images.githubusercontent.com/9526587/203736319-68b5879a-0221-47f0-9fc5-e2443d

[2022-11-24 08:57] #14798 closed, assigned to malikmasis

[2022-11-24 09:20] zyknow commented on #14809
i create same now project,and set the scope,and i got the token ,but it's same error

![image](https://user-images.githubusercontent.com/49929368/203745354-5b1aa3c7-c176-49cc-8b88-5ebb6b5b0daa.png)
![image](https://user-images.githubusercontent.com/49929368/203745444-28f5155b-a47d-4587-a30c-f5fc2f1469ac.png)

[2022-11-24 09:24] maliming commented on #14809
We have a test project.
https://github.com/abpframework/abp/blob/dev/modules/openiddict/app/OpenIddict.Demo.Client.Console/Program.cs#L130

[2022-11-24 10:28] ahmednfwela commented on #14761
Deno is an interesting alternative, might be a good idea to use that too.
@leonkosak if versioning follows [Semantic Versioning Specification](https://semver.org/) we can avoid dependency compatibility issues

[2022-11-24 12:12] leonkosak opened #14814 "abp Commercial - microservice template and other databases (Postgres)"
I can't open a new topic on support.abp.io.

Based on:
https://docs.abp.io/en/commercial/latest/startup-templates/microservice/infrastructure
and
https://docs.abp.io/en/commercial/latest/startup-templates/microservice/database-migrations

Is somehow possible to change EF Core provider for microservice-pro template to Postgres (or other SQL engines)?
I can't find EntityFrameworkCore projects where

[2022-11-25 01:02] maliming commented on #14814
We use `UseNpgsql` in the eShopOnAbp microservice project.

https://github.com/abpframework/eShopOnAbp/search?q=UseNpgsql

[2022-11-25 01:39] maliming commented on #13952
We can disable caching in the module, but some modules are class libraries, they currently cannot use `IWebHostEnvironment`. We can consider introducing an `IAbpEnvironment`.

Or caching can also be disabled in the startup templates.

[2022-11-25 01:53] csf-andyliao opened #14823 "Please place license description in each module."
I know this framework is licensed with LGPL and modules are licensed with MIT by reading documents on doc.abp.io.

But I don't see any license description in source code in each module.

Please add it if possible. Thank you.

[2022-11-25 02:02] zyknow commented on #14809
ok,this problem is i generate token by localhost,but i request on 127.0.0.1

i same test on the cli 7 rc2 and same request, it;'s success

cli rc2 template allow localhost generate token ,to request 127.0.0.1, but 6.0.1 can not

i think rc2 it's optimize openiddict ?

[2022-11-25 02:15] maliming commented on #14809
You can check the changes from openiddict 4.0 rc

https://github.com/openiddict/openiddict-core/releases

[2022-11-25 02:19] #14809 closed, assigned to nobody

[2022-11-25 02:36] #14730 closed, assigned to nobody

[2022-11-25 06:57] realLiangshiwei commented on #14823
Hi,

We will consider this.

[2022-11-25 07:57] realLiangshiwei commented on #14811
- [x] lodash
- [x] jquery-form
- [x] ansi-regex
- [x] chart.js
- [x] system.security.cryptography.xml

[2022-11-25 08:48] lukagalovic opened #14825 "Cannot find a way to change color of select fields and remove breadcrumb from top bar in LeptonX Lite theme"
ABP Framework version: 6.0.1 Community
UI: Angular
DbProvider: Ef Core

Is there any way to change pink color on select fields on first image below and remove breadcrumb from top bar on second image?
I tried changing  `--lpx-brand` but it does not change select fields nor checkboxes.

![SelectColor](https://user-images.githubusercontent.com/84729436/203939065-c44ea093-72ef-4c61-884a-5e5cf3ef3f57.p

[2022-11-25 08:58] lukagalovic opened #14826 "LeptonX Lite theme - Dashboard stays active (colored) in left nav bar"
### Is there an existing issue for this?

### Description

I created dashboard component. With old theme it worked fine, but after migrating to LeptonX theme after I click it and then go to some other component it stays colored like it is active.

### Reproduction Steps

_No response_

### Expected behavior

_No response_

### Actual behavior

_No response_

### Regression?

_No response_

### Kno

[2022-11-25 09:14] puschie286 commented on #11682
It looks like Microsoft won't be fixing the problem anytime soon
what do you recommend as a workaround - audit logging is a security feature, so the current state is a security risk
Currently, only deletions are logged

Is it possible to trigger the audit logging manually (  within dbcontext or the repository ) ?

[2022-11-25 12:04] mahmut-gundogdu opened #14829 "Update Angular 15"

[2022-11-25 15:29] kenan0122 commented on #14768
I also cannot start Angular app (abp version: 6.0.1)

[2022-11-25 15:30] kenan0122 commented on #14768
be not allowed

[2022-11-25 17:29] sturlath commented on #14589
Can we update to 1.1.4.1 please?

[See]( https://blazorise.com/news/release-notes/114 )

[2022-11-25 18:31] puschie286 commented on #14645
https://github.com/puschie286/BookStore-DefaultRepositoryDbContext

[2022-11-25 23:22] gpl-ajackson opened #14830 "[Commercial/Suite] AppService template is missing reference to Abp.Volo.Caching causes AppService & Tests to fail"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When generating an entity/page with Suite the generated AppService is missing a package reference to Abp.Volo.Caching required for the declaration:
`private readonly IDistributedCache<DepotExcelDownloadTokenCacheItem, string> _excelDownloadTokenCache;`

Fixing this error by adding the package allo

[2022-11-26 00:41] vnetonline commented on #55
I would like to work on this feature can you please let me know if you will build this into the framework or as a separate module?

[2022-11-26 05:52] wangj90 opened #14832 "In blazor webassembly mode, localization does not take effect, such as Cancel, Save, Actions, Edit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

In blazor webassembly mode, localization does not take effect, such as Cancel, Save, Actions, Edit

### Reproduction Steps

_No response_

### Expected behavior

_No response_

### Actual behavior

_No response_

### Regression?

_No response_

### Known Workarounds

_No response_

### Version

7.

[2022-11-26 08:53] realLiangshiwei opened #14833 "Upgrade to Blazorise 1.1.4"
https://blazorise.com/news/release-notes/114

[2022-11-26 08:53] realLiangshiwei commented on #14589
Yes, we will : https://github.com/abpframework/abp/issues/14833

[2022-11-26 09:47] ahmednfwela opened #14834 "IObjectMapper should support adding parameters (Dictionary<string, object>) like AutoMapper"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

with AutoMapper `IMapper` you can add elements to an `Items` dictionary in the options, e.g.:
[code]

### Describe the solution you'd like

IObjectMapper should add an extra parameter `Items` to the `Map` methods, or even better, add a

[2022-11-26 09:56] maliming commented on #14834
I think this is not a common case.

[2022-11-26 10:10] ahmednfwela commented on #14834
It isn't because most developers call ObjectMapper.Map to get most of the properties, and then manually assign the missing ones.

but I like to have all my mappings in one place

[2022-11-26 16:52] sturlath opened #14835 "Unable to set property 'Clicked' on object of type 'Blazorise.Bootstrap5.Button'. The error was: Specified cast is not valid. ---> System.InvalidCastException: Specified cast is not valid."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When trying to update a 6.0.1 version (community and commercial) with Blazorise 1.1.4.1 (and every version down to 1.0.6) throw the following exception when run

[code]

There is no abp.io error in there so I have reported this to Blazorse [here](https://github.com/Megabit/Blazorise/issues/4332).

[2022-11-26 17:14] cicna opened #14836 "AbpCommercial 6.0.1 mvc GetHealthReport threw an exception when trying to get report from /health-status configured with name YingApp Health Status."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Version：AbpCommercial 6.0.1 mvc
CentOS 7.9
Docker deploy YingApp

**docker logs YFContainer**

**Error:**
[16:35:06 INF] Initialized all ABP modules.
[16:35:06 INF] Initializing UI Database
[16:35:07 INF] Saving healthchecks configuration to database
[16:35:07 INF] Now listening on: http://[::]:80

[2022-11-27 00:55] realLiangshiwei commented on #14836
See: https://support.abp.io/QA/Questions/4022/UI-part-of-the-solution-won%27t-run-as-expected

[2022-11-27 00:55] #14836 closed, assigned to nobody

[2022-11-27 01:04] realLiangshiwei commented on #14830
Hi,

I will create an internal issue for this. we don't talk about Commercial here,thanks. : )

You may need to add `[DependsOn(typeof(AbpCachingModule))]` to your module class.

[2022-11-27 01:04] #14830 closed, assigned to nobody

[2022-11-27 01:18] realLiangshiwei commented on #14832
Can't reproduce.
![image](https://user-images.githubusercontent.com/16813853/204114973-4e7da9a0-c4ff-4340-a796-382e8b774e87.png)
![image](https://user-images.githubusercontent.com/16813853/204114980-12b904e4-34bb-4893-bd0e-aba0bd7fe34b.png)

[2022-11-27 01:22] realLiangshiwei commented on #14835
Blazorise 1.1.4 will be available in ABP 7.0: https://github.com/abpframework/abp/issues/14833

[2022-11-27 01:22] #14835 closed, assigned to nobody

[2022-11-27 02:10] wangj90 commented on #14832
such as
![image](https://user-images.githubusercontent.com/25636510/204116060-6c930e40-177e-47dc-a93d-556528afa1fe.png)
![image](https://user-images.githubusercontent.com/25636510/204116068-57937ab8-1d82-4472-b280-3cfd1a340d5e.png)
![image](https://user-images.githubusercontent.com/25636510/204116140-c05338dd-8724-423a-b933-05042aa1bc01.png)
![image](https://user-images.githubusercontent.com/25636

[2022-11-27 02:13] realLiangshiwei commented on #14832
I will check it

[2022-11-27 03:03] cicna commented on #14836
I can't find the address
bug:4022

[2022-11-27 03:44] cicna commented on #14836
Here you are. Thank you

https://support.abp.io/QA/Questions/3327/Health-Check-Problem-on-IIS-SystemUriFormatException-Invalid-URI-The-hostname-could-not-be-parsed

[2022-11-27 08:53] sturlath commented on #14835
Yes, I know that **but** I was wondering **why** it wasn´t working updating to **minor** version of Blazorise **out-of-band** with abp.io versions like **it has been possible before**?

I understand **major** version that there might be some incompatibility but why don´t you make sure that we can take advantage of versions that e.g., fix memory issues etc. Let's say my subscription of abp would ha

[2022-11-27 12:36] realLiangshiwei commented on #14835
Yes, usually compatible.

ABP 6.0 and Blazorise 1.0 are based on NET 6.0. but start from Blazorise 1.1, it's based on NET7.0. this is a huge change : ).
if there are some bugs we release a minor version to fix them, same for Blazorise.

[2022-11-27 15:52] hikalkan commented on #14026
OK, you can start from here.

What we can do, so?

[2022-11-27 15:56] hikalkan commented on #13952
`IAbpHostEnvironment` is a good idea (Not `IAbpEnvironment`, but `IAbpHostEnvironment` as naming). Default value can be `Production` and we get it from the .net's hosting system wherever possible. We should also allow developer to override it while creating/adding the abp application (you can add `Environment` property to https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Core/Vol

[2022-11-28 03:12] maliming commented on #14026
I will try to find a way.

[2022-11-28 06:30] gizemmutukurt commented on #14780
Fixed issue for Blazor and mvc projects. Continue for Angular.

[2022-11-28 07:44] xiazx opened #14846 "The remote certificate is invalid because of errors in the certificate chain: UntrustedRoot"
![image](https://user-images.githubusercontent.com/14884620/204220833-a0562f84-1c6f-4b4b-8015-eae3ca228952.png)
![image](https://user-images.githubusercontent.com/14884620/204221018-472a6032-d71f-4dec-8d81-03fe0b253abf.png)

How can I solve the development environment certificate problem? Is there any relevant setting document?

[2022-11-28 07:54] maliming commented on #14846
`dotnet  dev-certs https -t`

[2022-11-28 07:57] #14832 closed, assigned to realLiangshiwei

[2022-11-28 08:03] xiazx commented on #14846
The answer has been found：https://blog.csdn.net/GongMeiyan/article/details/104030780

[2022-11-28 08:08] #14846 closed, assigned to nobody

[2022-11-28 08:11] #14833 closed, assigned to realLiangshiwei

[2022-11-28 08:55] shnoru1 opened #14848 "Windows virus & threat protection detects Volo.Abp.Specifications.dll"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Hi,
since the last update of the Windows 10 defender (up to version 1.379.1077.0), I've figured out that "Virus & threat protection" detected `Volo.Abp.Specifications.dll` and immediately removed it.

Current version of the abp that I'm using was 5.2.0.

It seems like Windows' problem, not ABP, bu

[2022-11-28 09:33] CherryGoose opened #14851 "Problem with staticclient generation."
I have tiered project with modules and im having a problem with creating static api endpoints. When i generate proxy endpoints in client (as per https://docs.abp.io/en/abp/latest/API/Static-CSharp-API-Clients) only command generates all of the proxys to my services in main project. Also when i try to use them on my page only services from main project can by called. Those that are in module are no

[2022-11-28 10:22] #14601 closed, assigned to EngincanV

[2022-11-28 11:41] hikalkan opened #14856 "Enable nullable in the startup templates"
Also check all the warnings and properly apply the true usage of nullables (may need to check all the classes coming with the startup template).

[2022-11-28 14:01] nebula2 commented on #11357
@VAllens can you please help me by specifying where this `Main` is? having the same issue and I do not know where to set the options >.<

[2022-11-28 19:08] VivienMAN opened #14863 "Args for AsyncBackgroundJob"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

[code]

When we arrive in the ExecuteAsync method of the SavingImageJob class: AsyncBackgroundJob<SavingImageArgs>, ITransientDependency

The Id property of the PhotoDoc property is null.

While SavingImageArgs is correctly created.

### Reproduction Steps

_No response_

### Expected behavior

_N

[2022-11-29 05:23] satyasaigunnam commented on #14244
Where we had to run this  code abp install-libs

[2022-11-29 05:43] enisn opened #14864 "Docs - Anchor links doesn't work as expected"
As an example the following link can be used:
https://docs.abp.io/en/commercial/latest/getting-started-setup-environment?UI=MVC&DB=EF&Tiered=No#install-the-abp-cli

When you click an anchor link on the same page or a different page, it scrolls to the anchor but the title of the anchor can't be seen because it stays behind the parameter selection of documentation.

![volodocs-anchor-bug](https://us

[2022-11-29 07:24] huytnd commented on #14768
I tried with a new Angular template tiered solution, and successfully run the angular app using `yarn` for restoring packages, then `npm start` for serving the app.

[2022-11-29 07:24] #14768 closed, assigned to nobody

[2022-11-29 08:58] EngincanV opened #14871 "Document Dynamic features"
Based on https://github.com/abpframework/abp/issues/13760

[2022-11-29 09:14] huytnd commented on #8042
Hi @trickyrat I got the same issue today with the latest 6.0.1 version. Where did you change on your angular app to make it work?

[2022-11-29 12:59] hikalkan commented on #489
Already done: https://docs.abp.io/en/abp/latest/Data-Transfer-Objects

[2022-11-29 13:00] hikalkan commented on #332
Already done

[2022-11-29 13:00] #332 closed

[2022-11-29 13:00] hikalkan commented on #492
Already done https://docs.abp.io/en/abp/latest/Unit-Of-Work

[2022-11-29 13:00] #492 closed

[2022-11-29 13:01] hikalkan commented on #638
Already done: https://docs.abp.io/en/abp/latest/Modules/Background-Jobs

[2022-11-29 13:01] #638 closed

[2022-11-29 13:02] hikalkan commented on #876
Already done: https://abp.io/books/implementing-domain-driven-design

[2022-11-29 13:02] #876 closed

[2022-11-29 13:02] hikalkan commented on #661
Already done: https://docs.abp.io/en/abp/latest/Event-Bus

[2022-11-29 13:02] #661 closed

[2022-11-29 13:03] hikalkan commented on #3211
Already done

[2022-11-29 13:03] #3211 closed

[2022-11-29 13:04] hikalkan commented on #3215
Already done: https://docs.abp.io/en/abp/latest/UI/Angular/Form-Validation

[2022-11-29 13:04] #3215 closed

[2022-11-29 13:04] #2832 closed

[2022-11-29 13:05] hikalkan commented on #2188
Already done: https://docs.abp.io/en/abp/latest/Features

[2022-11-29 13:05] #2188 closed

[2022-11-29 13:05] hikalkan commented on #1442
Already done: https://docs.abp.io/en/abp/latest/Upgrading

[2022-11-29 13:39] ebicoglu opened #14874 "Revising VoloDocs"
- [ ] Update the documentation and images
       - https://docs.abp.io/en/abp/latest/Apps/VoloDocs
       - https://docs.abp.io/en/abp/latest/Modules/Docs
- [ ] Update the download files [here](https://docs.abp.io/en/abp/latest/Apps/VoloDocs#download).

[2022-11-30 02:27] maliming commented on #14871
Wait for https://github.com/abpframework/abp/issues/13758

[2022-11-30 07:54] leonkosak commented on #14814
Thank you @maliming, but what for microservice-pro template?
Searching for "UseNpgsql" or "UseSqlServer" in Visual Studio results in 0 matches.

[2022-11-30 07:57] maliming commented on #14814
![image](https://user-images.githubusercontent.com/6908465/204739335-0ed2d617-8b9f-474d-873e-bf347ea7983d.png)

[2022-11-30 08:15] berkansasmaz commented on #14863
Hi, as far as I understand your question doesn't seem like a bug. Try adding `Id` property to `SavingImageArgs` and setting it in the relevant place. Because SavingImageJob's `ExecuteAsync` method takes `SavingImageArgs` as an argument, it has nothing to do with `PhotoDoc`. See: https://docs.abp.io/en/abp/latest/Background-Jobs#create-a-background-job

[2022-11-30 08:36] hikalkan commented on #12591
Resolved by https://github.com/abpframework/abp/pull/14879

[2022-11-30 08:36] #12591 closed, assigned to hikalkan

[2022-11-30 08:51] leonkosak commented on #14814
That's strange.
Are these lines of code in microservice-**pro** template inside dll library files?

[2022-11-30 08:59] maliming commented on #14814
What's content of `AdministrationServiceEntityFrameworkCoreModule`?

[2022-11-30 09:05] ghost commented on #14863
Hi,
Passing the GUID Id property to the job args to build or complete the PhotoDoc : FullAuditedEntity<Guid> object later does work properly but feels awkward.
Our current issue is that passing a complete and correct PhotoDoc to the job arguments has the consequence of executing the job with a PhotoDoc element which has an incorrect Id (empty : 00000000-0000-0000-0000-000000000000).

It might be a

[2022-11-30 09:34] zhangting1027 opened #14881 "Unable to see the added repository, prompt 404"
According to the document https://docs.abp.io/en/abp/latest/Apps/VoloDocs , but you can't see the added repository, prompt 404

![1669800763704](https://user-images.githubusercontent.com/74886024/204759969-bd5a801f-ff72-4962-a0d7-ae3536f6bbbe.png)

[2022-11-30 11:07] berkansasmaz commented on #14863
I understand your problem now, if it's as you say it might be a problem. I will test this as soon as possible and get back to you. Thank you for the information you provided.

[2022-11-30 12:06] leonkosak commented on #14814
I realized that .EntityFrameworkCore projects are not loaded in microservice .sln and are only present on filesystem.
My mistake. :)
@maliming, would "template" for supporting multiple database migrations (for EF Core only of course) via parameter [described in this article](https://blog.jetbrains.com/dotnet/2022/08/24/entity-framework-core-and-multiple-database-providers/) be beneficial for abp m

[2022-11-30 14:29] berkansasmaz commented on #14863
I tested the situation with a no-layer template(`v6.0.0`), but unfortunately, I could not reproduce the problem as you mentioned.

Any chance of sending more information or minimal reproducible example to help me reproduce the problem?

[2022-11-30 14:37] hikalkan opened #14885 "Deployment notes for distributed / microservice systems"
There are some settings in the ABP those should be considered in microservice systems. Examples:

- [ ] `IAbpApplication.ApplicationName`
- [ ] `AbpAuditingOptions.ApplicationName`
- [ ] Distributed Event Bus (for microservice scenarios - not required for clustered same application)

It would be good to create an overall document to collect such settings together in a microservice deployment notes

[2022-11-30 14:57] sailaxmandomakonda opened #14887 "ABP migration and application error when creating project with dbms as MYSQL in MAC"
### Description

dotnet run --migrate-database
[20:21:11 INF] Started database migrations...
[20:21:11 INF] Migrating schema for host database...
[20:21:12 INF] Executing host database seed...
Unhandled exception. Autofac.Core.DependencyResolutionException: An exception was thrown while activating Volo.Abp.ObjectMapping.DefaultObjectMapper`1[[Volo.Abp.Identity.AbpIdentityDomainModule, Volo.Abp.Ide

[2022-11-30 15:12] wallee85 opened #14888 "IUserValidator implementation can not localizing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

when i implemented the IUserValidator<IdentityUser> to do my custom validation,i found that the localization didn't  work.
for example,the code in my UserValidaor:
`
// ValidateAsync method
if (!phoneNumber.All(char.IsDigit))
			{
				errors.Add(new IdentityError
				{
					Code = NonNumericPhoneN

[2022-11-30 15:12] wallee85 opened #14889 "IUserValidator custom implementation can not localizing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

when i implemented the IUserValidator<IdentityUser> to do my custom validation,i found that the localization didn't  work.
for example,the code in my UserValidaor:
`
// ValidateAsync method
if (!phoneNumber.All(char.IsDigit))
			{
				errors.Add(new IdentityError
				{
					Code = NonNumericPhoneN

[2022-11-30 18:00] hikalkan commented on #13963
Resolved by #14890

[2022-11-30 18:00] #13963 closed, assigned to hikalkan

[2022-11-30 18:03] hikalkan opened #14891 "New document: Optimization notes for production deployment"
* Configuring for CDN (localzation endpoint, bundles, static files, etc.)
* Bundling & Minification
* ...more?

[2022-11-30 18:11] hikalkan opened #14892 "Use EF Core 7.0 bulk update/delete operations for event inbox/outbox"
We've created DBMS specific classes to be able to execute optimized delete/update queries for inbox and outbox processors.

Example:

https://github.com/abpframework/abp/blob/79007e7deb8bc5770b0b0c0e13421eb6701dfa2e/framework/src/Volo.Abp.EntityFrameworkCore.PostgreSql/Volo/Abp/EntityFrameworkCore/DistributedEvents/PostgreSqlDbContextEventInbox.cs#L23-L42

We can remove such DBMS specific classes

[2022-11-30 19:56] ahmetfarukulu opened #14893 "HangfireBackgroundWorkerBase base properties(Logger, ServiceProvider ...) is null and interceptions not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When i create a background worker inherited by HangfireBackgroundWorkerBase all base properties is null and UnitOfWork and other interceptions not working

### Reproduction Steps

- I made a simple background worker same as [docs](https://docs.abp.io/en/abp/latest/Background-Workers-Hangfire)
- Re