[2021-04-19 21:23] #8695 closed, assigned to nobody

[2021-04-19 21:30] DonVliet commented on #8695
@ebicoglu Thank you!

[2021-04-19 22:35] mehmet-erim commented on #8654
Hi @xixixixixiao

We will fix the problems, thanks for the reporting.

Try adding the prop below to `tsconfig.json` as a workaround:

[code]

With this, compiling errors will be ignored.

[2021-04-19 23:31] hikalkan commented on #8683
Maybe related to https://github.com/abpframework/abp/issues/8240 (while it is WASM)

[2021-04-19 23:34] cotur commented on #8683
It's reproducible,

By the way, @Kobus-Smit thanks so much for this well explained issue.

We should show this issue everywhere as a "How the bug report should be". :)

[2021-04-20 01:01] maliming commented on #8665
https://github.com/IdentityServer/IdentityServer4/issues/3665#issuecomment-535910580

[2021-04-20 01:01] #8665 closed, assigned to nobody

[2021-04-20 01:03] Kobus-Smit commented on #8683
@cotur ;) No worries mate! I believe [Minimal Reproducible Examples](https://stackoverflow.com/help/minimal-reproducible-example) are always helpful.

@hikalkan , might be related, but with #8240 the username is available after refreshing the page, in contrast , `CurrentUser.UserName` stays null after refreshing the page in my sample projects.

[2021-04-20 01:51] Kobus-Smit commented on #8683
Reading Microsoft's docs [Authentication and authorization in ASP.NET Core SignalR](https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-5.0#cookie-authentication) it sounds like `Cookie authentication` should just work, no additional configuration needed?

Alternatively, `Bearer token authentication` can be used by setting the [AccessTokenProvider ](https://docs.mi

[2021-04-20 03:47] juchunwei opened #8700 "Blazor server, RedirectToLogin redirect to authentication/login, but no address"
* 4.3-rc2 Balzor server.
database provider : EF Core

for the authorize view, if user not login, it redirect to authentication/login, and the error says :

Sorry, there's nothing at this address.

[2021-04-20 05:59] realLiangshiwei commented on #8700
* Your **ABP Framework version**.
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-04-20 07:27] #8459 closed, assigned to ilkayilknur

[2021-04-20 08:22] davidzwa commented on #7222
The tip you gave on this library was vital, again much obliged! The fact that it can span not only Angular makes it even more valuable all around

[2021-04-20 08:37] guolianyu opened #8701 "When I use blazor.server,I can't use AppService"
Version: 4.3.0-rc.2

![image](https://user-images.githubusercontent.com/29138525/115365237-c4c1e400-a1f6-11eb-9d90-5023ee97873f.png)

[2021-04-20 09:08] realLiangshiwei commented on #8701
* Steps needed to **reproduce** the problem.

[2021-04-20 20:13] #8240 closed, assigned to hikalkan

[2021-04-20 20:23] mehmet-erim commented on #8580
Hi @davidzwa

In the production, the unavailability of a tenant is a big problem and this error will not be encountered very often. Actually, you're right, any errors may occur on the initialization. We've recently added an injection token to handle the first application configuration request errors. You can see the [PR](https://github.com/abpframework/abp/pull/8684/files).

See the usage:

[code]

[2021-04-20 23:21] hikalkan commented on #8683
It worked when I pass cookies to the server:

[code]

Result:

![image](https://user-images.githubusercontent.com/1210527/115474843-05494e00-a247-11eb-99a0-6d81f35f1adb.png)

From the [Microsoft's documentation](url), we should consider the second part, because in blazor app, we are using .NET Client. Request is not coming from browser (interestingly, server connects to itself):

![image](https://

[2021-04-20 23:31] #8697 closed, assigned to realLiangshiwei

[2021-04-21 00:59] #8394 closed, assigned to yekalkan

[2021-04-21 01:09] Kobus-Smit commented on #8683
Thanks @hikalkan , I'll pass the cookies to the server for now.

[2021-04-21 01:48] bnymncoskuner opened #8721 "[Angular] Provide a way to dismiss active modals"

[2021-04-21 03:53] myomyinthan opened #8723 "Article: How to login and consume backend API using Flutter"
It will be very nice to have this step by step tutorial.

Thanks

[2021-04-21 05:38] zsyy94 commented on #5805
Hello, I encountered the same problem, how did you deal with it @

[2021-04-21 05:48] slarkerino opened #8724 "Add Development Tenant Connection String to Tenant Module"
Currently, I enjoyed using multi-tenant module to support my clients to visit their individual cloud database(each tenant has different cloud sqlserver database). However, when it comes to changing database structure, it is very painful that we have to update the connection strings of all the clients because we are using private intranet IP addresses of sqlservers on production environment but usi

[2021-04-21 06:56] davidzwa commented on #8580
That's brilliant! Thanks @mehmet-erim

I found this when I reseeded the tenancy table and kept the name the same, but the Guid logically changed... pretty stupid.
Happens a lot in Development environment though!

[2021-04-21 07:09] juchunwei commented on #8671
Hi @stsrki ,

I tried to create a custom principalAccessor like this, and it working now.  no more permissions issue and I can see all the menus now.  Maybe this also related to the CurrentUser issue? the CurrentUser is empty when publish the app.

[code]

[2021-04-21 09:40] #8580 closed, assigned to mehmet-erim

[2021-04-21 10:25] #8466 closed, assigned to enisn

[2021-04-21 11:08] #8721 closed, assigned to bnymncoskuner

[2021-04-21 11:28] sturlath opened #8730 "Suite creates a Public empty constructor in contradiction to the docs"
In the docks it says "[If you create an entity with a constructor that takes parameters, also create a private or protected empty constructor](https://docs.abp.io/en/abp/latest/Entities#entities-with-guid-keys)" but Suite creates the empty constructor as public.

It should be protected/private right?

* Your **ABP Framework version**. 4.2.2
* Your database provider: EF Core

[2021-04-21 11:41] davidzwa commented on #8579
I am sad to inform you that I wont have the time to reproduce this. Focusing on releasing our app, and making it FOSS soon. That will take a while, so I will come back to this during 4.4 release previews (or somebody else can step in).

[2021-04-21 12:31] kunalpgithub opened #8735 "Looking for typescript based react-native template."
Hi,

I have  created application using abp cli.

I got to know about react-native template and started with it. But it was using Javascript based on expo.

I tried to migrate to typescript using expo documentation, but there are lot of abp component and its lot of work to rename all js file to typescript file. Even after doing that is it still missing type defination for some of component and also

[2021-04-21 16:10] beefsteak opened #8739 "How do I configure abp.ajax global interception?"
Like this:
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        // Do something with 'element' and 'event'...
    }
});

[2021-04-21 19:47] scott7106 opened #8740 "Design issue with EF repositories and autoSave = false"
* ABP v4.2.2
* Angular
* EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

The issue below is a design issue and (maybe) a bug. It can be seen in the Angular client or in the API itself using PostMan since the problem is between the repository and the app service. As a note, prior to Dec 2020, I am pretty sure this worked a

[2021-04-21 21:05] D4ngeresque opened #8741 "Username not showing in header in Blazor WebAssembly"
* **ABP Framework version**: 4.3.0-rc.2
* **User Interface**: Blazor WebAssembly
* **Database Provider**: EF Core/SQL Server
* **Separate Identity Server**: Yes

### Steps needed to reproduce the problem:
1. Download new startup template from [https://abp.io/get-started](https://abp.io/get-started) with below options and follow startup steps as outlined in documentation.
2. Login as admin.
3. Afte

[2021-04-22 01:01] maliming commented on #8741
Duplicate of #8683

[2021-04-22 01:01] #8741 closed, assigned to nobody

[2021-04-22 01:06] maliming commented on #8740
Steps needed to reproduce the problem.

[2021-04-22 01:07] maliming commented on #8739
You can change the `abp.ajax.defaultOpts`.

https://docs.abp.io/en/abp/latest/UI/AspNetCore/JavaScript-API/Ajax#default-ajax-options

[2021-04-22 01:07] #8739 closed, assigned to nobody

[2021-04-22 05:39] #7765 closed, assigned to maliming

[2021-04-22 07:13] Fitmavincent commented on #1517
I have the same issue here while my AppUser still my aggregate root, I don't even put AppUser as Navigation property inside my entity.

[code]

Do we have an official solution for this? Or I have to do a workaround?

[2021-04-22 10:55] ebicoglu commented on #8730
@[sturlath](https://github.com/sturlath) you're right. the empty constructor should be protected. but we didn't make it protected because many developers have an issue while mapping entity to DTO with Automapper and thinking it's a problem. But you can change your entity template in ABP Suite. The template name is `Entity.txt`. Change the public keyword to protected.

[2021-04-22 10:55] #8730 closed, assigned to ebicoglu

[2021-04-22 11:01] ebicoglu commented on #8724
this is a bit out of the framework. it's a network architecture challenge. you may want to make a VPN among your database servers and make DbMigrator accessible to all your servers. Otherwise we cannot solve this problem

[2021-04-22 15:20] AdemAygun opened #8747 "BackgroundJob(Hangfire) and UnitOfWork"
* Your **ABP Framework version** : 4.1.2
**Angular**
**EF Core**

productApi  calls a webapi method. Product inserts to DB even productapi throws exception. If I add ```UnitOfWork``` , after getting exception  transaction is being rolled back. But in AppService layer without adding ```UnitOfWork```  methods works as expected (Db operation is being rolled back when ```productapi.update``` throws ex

[2021-04-22 15:58] #7715 closed, assigned to nobody

[2021-04-22 19:53] aalzehla opened #8750 "Add Microsoft Orleans Support"
I'm thinking of adding Microsoft Orleans to Abp, For such integration there will be some changes in ABP Core for example, adding feature for Repositories to work as PersistentState for Grains.
Anyone have tried to do so. or any suggestions.

[2021-04-22 20:34] scott7106 commented on #8740
Would it be possible to privately send a sample project demonstrating the issue? That would be much easier than explaining the steps. I have reproduced this with a simple example project I generated using ABP Suite.

[2021-04-22 23:47] ebicoglu commented on #8740
in your usage you must set `autoSave:true `
set autosave false when you have several queries and you don't want to make several db cycles.

[2021-04-22 23:58] scott7106 commented on #8740
@ebicoglu while changing this setting produces a correct result, it is not the solution to the issue. There is a transaction scope problem with the repository code. There is never a situation where it is appropriate to report a successful change operation to the user which did not happen. By definition, this is a design flaw. The default setting for Update and Insert is autoSave = false which is o

[2021-04-23 00:15] ebicoglu commented on #8747
`AsyncBackgroundJob` doesn't automatically work in `UnitWork`scope.

[code]

[2021-04-23 00:39] maliming commented on #8740
hi @scott7106

You can send the project to liming.ma#volosoft.com

[2021-04-23 00:58] scott7106 commented on #8740
hi @maliming
The sample project was sent to your email along with instructions to reproduce the issue with the sample

[2021-04-23 02:21] yerz commented on #5297
[code]

ConfigureServices

![image](https://user-images.githubusercontent.com/30039842/115808786-86f2d480-a41d-11eb-8134-63cf0143c444.png)

I want to use ICurrentUser but it looks like I'm doing it wrong，What's the solution?

[2021-04-23 02:46] maliming commented on #8740
hi @scott7106

I think it will works when you removed `app.UseUnitOfWork();`.

We may not be able to handle the exception of the middleware in the middleware.

[2021-04-23 02:58] maliming commented on #8740
@hikalkan

If we do not submit the unit of work in the MVC pipeline, the HTTP response will be written, which means that the exception in **AbpUnitOfWorkMiddleware** can't be handled. (`Response.HasStarted = true`)

The API returns success JSON and **HTTP OK code**, but the operation is not successful, and there will be exceptions in the log.

[2021-04-23 03:19] yerz opened #8756 "How to combine Hangfire Authorization with ABP ICurrentUser Permissions?"
My environment:

* ABP4.2
* No UI
* MySQL DB
* Web API project
---

**OnApplicationInitialization**
![image](https://user-images.githubusercontent.com/30039842/115813105-26679580-a425-11eb-9e49-46f6b0167776.png)

**HangfireAuthorizationFilter**
[code]

I want to use Permissions in ABP ICurrentUser for Authorization in UseHangFireDashboard to determine if there is permission to access it. What shou

[2021-04-23 03:37] maliming commented on #8756
You should ask Hangfire how to use DI in **IDashboardAuthorizationFilter** or get **HTTP context**.
Then you can use permissions check of abp.

[2021-04-23 03:37] #8756 closed, assigned to nobody

[2021-04-23 03:38] #8747 closed, assigned to nobody

[2021-04-23 03:41] maliming commented on #8556
**The Two-factor behavior features** not implemented in the open-source modules but commercial.

https://docs.abp.io/en/commercial/latest/modules/identity/two-factor-authentication

[2021-04-23 03:41] #8556 closed, assigned to nobody

[2021-04-23 06:41] Qianzujin opened #8757 "The document of cms kit module."
![image](https://user-images.githubusercontent.com/49854479/115829667-d4813880-a441-11eb-9f79-6288cbf0c9db.png)

[2021-04-23 07:12] maliming commented on #8757
We'll gradually add these documents.

[2021-04-23 07:32] Znow commented on #8723
@myomyinthan

I can provide an example - which we made in a Flutter app

Edit: I'm working on a article at this moment, hope it can come out one of the next days.

It's a draft work in progress accessible here: https://github.com/Znow/znow.github.io/blob/master/_posts/2021-04-23-consume-abp-api-from-flutter-app.md

I will submit a ABP.io article request when I finish it one of the next days

[2021-04-23 08:30] EZevan opened #8759 "Swagger doc's api name always lowercase style(camelcase style is expected)"
* **ABP Framework version** : 4.2
* **User Interface** type (Angular/MVC/React... etc.): Blazor
* Ddatabase provider(EF Core/MongoDB): EF Core
* Steps needed to **reproduce** the problem.
**Precondition**: I have configured the option as below according Abp documentation [https://docs.abp.io/en/abp/4.2/API/Auto-API-Controllers#route](url)

[code]
After startup applicaion, swagger doc's api name ar

[2021-04-23 08:53] maliming commented on #8759
Please provide a reproduce project.

[2021-04-23 09:12] EZevan commented on #8759
https://github.com/EZevan/Blog

[2021-04-23 09:36] snowchenlei opened #8762 "AJAX extension for datatables support router parameter"
I have a url: api/author/' + authorId + '/book
DataTables how to load?
abp.libs.datatables.createAjax not support router parameter

[2021-04-23 09:44] maliming commented on #8762
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-04-23 09:55] yerz commented on #8756
my project  Identity Server Seperated (Angular): yes

I have modified it according to your suggestion **Authorize**
[code]
but  As a result, I still can't get any information about all permissions of authorized users.

What should I do ? 😢

[2021-04-23 09:56] snowchenlei commented on #8762
ABP Framework version:4.2.1
User Interface:MVC
database provider:EF Core
[AJAX DataTable Filter - Best practice in ABP.IO](https://github.com/abpframework/abp/issues/775#issuecomment-459672720)
how to support router parameter And Dto Filter with datatable.net ajax

[code]
error: `input is undefined`

[2021-04-23 10:02] maliming commented on #8762
[code]

[2021-04-23 10:02] maliming commented on #8759
https://github.com/EZevan/Blog/blob/main/src/Evans.Blog.HttpApi.Host/BlogHttpApiHostModule.cs#L236

[2021-04-23 10:02] #8759 closed, assigned to nobody

[2021-04-23 12:03] hikalkan commented on #8740
Interesting case. As understand, we can't properly handle error and send back to the client in UOW middleware since the response has already started. Yes, we accept that this is a problem that we should solve in the framework.

One quick solution can be c ompleting the UOW in action/page filters. In the UOW middleware, we just do nothing if UOW is already completed. However, this can be a problem

[2021-04-23 12:45] maliming commented on #8740
The return value will be written to the **Response** when the MVC action is executed. For example, set the status code, writing JSON, redirect to URL, etc.

Microsoft also checks the `HasStarted`. No more attempts to change anything if it's `true`.

we have to use uow in action/page filters to prevent `Response.HasStarted`

[2021-04-23 12:48] hikalkan commented on #8740
So, we should drop UOW middleware?

[2021-04-23 12:50] maliming commented on #8740
Yes.

[2021-04-23 12:52] hikalkan commented on #8740
I will think on this in the next days, because that's an important change.

[2021-04-23 12:53] hikalkan commented on #8740
@scott7106 for now, just remove `app.UseUnitOfWork()` from the ASP.NET Core pipeline, your problem should be solved.

[2021-04-23 12:59] hitaspdotnet commented on #8385
@volethanh Create your repositories with child repositories

[2021-04-23 16:48] DonVliet opened #8766 "The type or namespace name AbpBlazorMessageLocalizerHelper<> could not be found"
* Your **ABP Framework version**.  **4.3.0**
* Your **User Interface** type (Angular/MVC/React... etc.): **Blazor (Server and WebAssembly)**
* Your database provider(EF Core/MongoDB) **EFCore**

Steps to reproduce:

- Create new application using Blazor Server
- Follow BookStore tutorial

When creating the Books page the code includes (head of page):

**@inject AbpBlazorMessageLocalizerHelper&lt;B

[2021-04-23 18:17] 0andy opened #8767 "Will consider integrate any workflow in abp?"
Thx

[2021-04-23 20:51] alaawahbah opened #8768 "Login Button not redirect to login page"
I am using angular community abp
I host the backend on host Public, and connect to it from local machine,
When i click the login button  it doesn't redirect to login page or to check page.
I try it on local iis it doesn't work
I try it on public host for backend and public host for front end it doesn't work.
Please advise me to solve this issue
the host is WWW.smarterasp.net
Thanks in advance.

[2021-04-23 21:21] hikalkan opened #8769 "Fix misusages of application package dependencies"
I see some application.contracts package are referencing to `Volo.Abp.Ddd.Application` package instead of `Volo.Abp.Ddd.Application.Contracts`. I will fix them.
While current status doesn't cause a bug, it brings unnecessary dependencies to application.contracts packages.

[2021-04-23 21:29] hikalkan opened #8770 "Move IHasConcurrencyStamp interface to an inner package"
So, we can use it in DTOs too. I will keep the namespace to not introduce a breaking change.

[2021-04-23 21:29] #8770 closed, assigned to hikalkan

[2021-04-23 21:36] #8769 closed, assigned to hikalkan

[2021-04-23 23:48] hikalkan opened #8771 "More abstractions packages to reduce dependencies"
ABP has some Abstractions NuGet packages, but we can add more and adjust existing ones to reduce dependencies.
For example, `AbpDddApplicationContractsModule` depends on `AbpAuditingModule` to just use the auditing interfaces. However, it doesn't need the auditing system fully working. Creating an `AbpAuditingAbstractionsModule` can reduce the dependency chain for `AbpDddApplicationContractsModule

[2021-04-24 03:07] davidcateduclarity opened #8772 "abp cli no Public website option"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-04-24 03:28] #5757 closed, assigned to nobody

[2021-04-24 03:34] maliming commented on #5757
https://github.com/volosoft/volo/pull/6508

[2021-04-24 03:36] maliming commented on #8768
Please check your application logs and browser console.

[2021-04-24 03:44] maliming commented on #8772
`abp new BookStore -t app-pro --with-public-website`

[2021-04-24 03:44] #8772 closed, assigned to nobody

[2021-04-24 05:09] mgochmuradov commented on #8757
I was able to add and enable CmsKit for an MVC application.
Steps I took:

- Add CmsKit Module: `abp add-module Volo.CmsKit`
- Install dependencies in the Web project, run: `yarn` and then `gulp`
- Enable CmsKit, add the following in the ApplicationContractsModule:
[code]
- Add migration and then run DbMigrator project
Then run the application and you will get the Cms menu
![Screenshot (116)](http

[2021-04-24 07:24] mgochmuradov commented on #8757
You will also have to [add `AbpBlobStoringFileSystemModule` in the domain project](https://docs.abp.io/en/abp/latest/Blob-Storing-File-System), to enable file attachments.

**PS: Do not use the BlobStoring Database module, as that seems to be breaking CMS module.**

[2021-04-24 08:59] recruitans opened #8773 "When create new form"
ABP Framework version: v4.3
UI type: MVC
DB provider: EF Core
Tiered (MVC) or Identity Server Separated (Angular): no

![image](https://user-images.githubusercontent.com/28866278/115953500-8c6f1e00-a4f4-11eb-8198-c574aa1e4929.png)

[2021-04-24 09:01] maliming commented on #8773
* Steps needed to **reproduce** the problem.

[2021-04-24 09:02] maliming commented on #8767
Duplicate of #2232

[2021-04-24 09:02] #8767 closed, assigned to nobody

[2021-04-24 09:02] #8762 closed, assigned to nobody

[2021-04-24 09:13] recruitans commented on #8773
https://support.abp.io/QA/Questions/1126/Bugs--Issues-v43X#answer-6f63d20f-995b-ad4f-5c47-39fc15535636

[2021-04-24 09:30] maliming commented on #8773
Let's discuss this on the support website.

[2021-04-24 09:30] #8773 closed, assigned to nobody

[2021-04-24 10:09] alaawahbah commented on #8768
Good morning :
this is the log

[code]

[2021-04-24 10:51] recruitans commented on #8773
i didn't see your reponse on support website ?

[2021-04-24 13:42] hemiaoio commented on #4408
I have some ideas about whether it is allowed to register and use multiple storage providers in the same file service at the same time. If different tenants may use different storage providers, I have designed a file table, which identifies which storage provider this file uses. When the file need download, I can get the blob container of the corresponding storage provider through this identifier

[2021-04-24 13:53] hemiaoio opened #8775 "Support multiple storage providers at the same time"
I have some ideas about whether it is allowed to register and use multiple storage providers in the same file service at the same time. If different tenants may use different storage providers, I have designed a file table, which identifies which storage provider this file uses. When the file need download, I can get the blob container of the corresponding storage provider through this identifier

[2021-04-24 15:17] hikalkan opened #8776 "Consider to remove EntityFrameworkCore.DbMigrations project from the solution"
Instead of a separate migration dbcontext, we can use application's dbcontext. This simplifies database mappings and migrations, especially when you want to setup relations to entities coming from modules. I see some developers found the current structure complicated.

One disadvantage is that we should remove the AppUser in the solution and use IdentityUser entity (coming from the Identity module

[2021-04-24 15:49] yozzozo commented on #1754
Hi @maliming, @realLiangshiwei and @hikalkan, just wondering what the current status of this feature is.  This issue and #5265 are closed, but according to the latest Roadmap, it’s still on the backlog (as of 4.3 final).  Can you please clarify?

Thanks!

[2021-04-24 18:05] ThuanNP opened #8777 "CLI template creation with version 3.3"
I have to create new solution with .net core version 3.1. So, I use ABP CLI to create new app but alway fail with this report.

❯ abp new Btv.SouthernVendingMachine -t app -dbms MySQL --version 3.3.1

[01:00:36 INF] ABP CLI (https://abp.io)
[01:00:37 INF] Version 3.3.1 (Stable)
[01:00:41 WRN] ABP CLI has a newer stable version 4.3.0, please update to get the latest features and fixes.
[01:00:41 WR

[2021-04-24 21:48] emilsjog commented on #8701
Version 4.3
Tested to migrate from WASM to blazor-server and noticed an error similar to this one.
I have an interface `IEventsAppService : IApplicationService` and the error occurs if the service implementing the interface is called `EventAppService : IEventsAppService`. I get no error and it works if i use `EventsAppService : IEventsAppService`. Notice that with the S in the name of the implemen

[2021-04-25 00:28] Qianzujin commented on #8757
Thank you very much!

[2021-04-25 01:07] maliming commented on #1754
@yozzozo This feature has been canceled.

[2021-04-25 03:14] Qianzujin commented on #8757
![image](https://user-images.githubusercontent.com/49854479/115979207-30210280-a5b7-11eb-95a2-f255e1797e79.png)
Thank you very much for your reply. I have created the code according to the steps, but there are still mistakes. Do you have the demo code for reference?

[2021-04-25 05:00] yozzozo commented on #1754
@maliming May I ask why?  I think this feature is very important for a lot of people (including myself).  I see some commits were made for this, I’d like to understand what happened and offer assistance if I can.

Thanks!

[2021-04-25 05:22] Qianzujin commented on #8757
Add-migration does not work, the corresponding CMS table is not seen in the database...Don't know why

[2021-04-25 05:23] Qianzujin commented on #8757
![image](https://user-images.githubusercontent.com/49854479/115981838-6798aa80-a5c9-11eb-8888-4338ea3db334.png)
Migration parameters are configured

[2021-04-25 06:23] dangminhbk opened #8778 "Proxy Scripts not generated."
**ABP Framework version** : 4.3.0 .
**User Interface** type:  MVC.

My namespace was `MDH.EASYPOS.Sales` ,
My Application Service is
`public class SaleAppService : CrudAppService<Sale, SaleDto, Guid, PagedAndSortedResultRequestDto, CreateSaleDto, UpdateSaleDto>`,
I Run Applications and cannot see my api proxy script generated. Doesn't it supposed to be : `mDH.eASYPOS.sales.sale` ? I check in Abp/S

[2021-04-25 08:24] alexandis opened #8779 "Cannot log in from Angular client after migration from 3.3.2 to 4.3.0"
**ABP 4.3.0** after migration at backend
**Angular** frontend (not ready to be migrated to **4.3.0** yet! it's **3.3.2**)
**EF Core**

My backend code is finally successfully migrated to **ABP 4.3.0** and I can log in on **IdentityServer** page. Bug when I try to log in from my **Angular** app, getting this:

From what I have found out, **IdentityServer** functionality has been changed lately and

[2021-04-25 09:14] maliming commented on #8779
Check the **Migration-Guides** before the upgrade.

https://docs.abp.io/en/abp/latest/Migration-Guides/Index

[2021-04-25 09:28] behiunforgiven opened #8780 "Article is Missing !"
This article is missing and redirects to main page:

[Using the AdminLTE Theme with the ABP Framework MVC / Razor Pages UI
](https://community.abp.io/articles/using-the-adminlte-theme-with-the-abp-framework-mvc-razor-pages-ui-gssbhb7m
)

[2021-04-25 09:31] xNarkon commented on #57
Any update? What about intermodular communication using the CQRS pattern? Currently, there is no possibility to get some resources from another module in the monolith architecture but there are clear needs sometimes to fetch some data. In the microservices architecture, this is typically normal and there are possibilities to do that, using REST API / Query Bus, etc. But using modules and building

[2021-04-25 10:16] alexandis commented on #8779
The matter is i already DID the migration.

UPDATE: I run **DbMigrator** and seeded data - it took a while, but there was no errors. Afterwards, I've updated all my custom **Angular** _libraries_ and main project with the latest **ABP** modules. However, I still cannot log in. On backend side everything seems to be successful, but **Bearer** is not written and I am redirected back to **Angular** l

[2021-04-25 13:06] maliming commented on #8766
hi

The namespce has been changed.

`using Volo.Abp.AspNetCore.Components.Web;`

[2021-04-25 13:06] #8766 closed, assigned to nobody

[2021-04-25 13:33] maliming commented on #8777
hi @ismcagdas

Here is the error stack info.

[code]

[2021-04-25 13:35] maliming commented on #8768
There is some error in your log. Please check one by one.

[2021-04-25 13:39] maliming commented on #1754
hi @yozzozo

Object mapping methods are `sync` now, but the feature needs to use `Repository`, we don't want `async over sync`.

[2021-04-25 13:39] maliming commented on #8778
* Steps needed to **reproduce** the problem.

[2021-04-25 14:12] EngincanV commented on #8780
Hi @behiunforgiven, can you check your community profile for the article is approved or not? After you submitted your article, it's should be approved for displaying by everyone.

* For navigates to your community profile, you can click the top-right dropdown and after click the profile button.

![community-profile](https://user-images.githubusercontent.com/43685404/115996848-a2aad600-a5e9-11eb-93

[2021-04-25 15:28] yozzozo commented on #1754
@hikalkan Any context you can provide here?  Is there a way the feature can be redesigned so it can work in the current state of the system?  I think many of us would appreciate being able to have multi-lingual entities on ABP, the feature was really useful on aspboilerplate.

[2021-04-25 21:50] mehmet-erim commented on #8735
Hi @kunalpgithub

Unfortunately, there is no way to create a TS based React Native project with CLI. You should migrate the project manually. However, you can change TS configurations in tsconfig.json for migrating easily. For example; set the `noImplicitAnyForClassMembers` prop as `false`

[2021-04-25 21:50] #8735 closed, assigned to mehmet-erim

[2021-04-26 02:44] realLiangshiwei opened #8784 "Update tutorial document"
Related https://github.com/abpframework/abp/issues/8766

[2021-04-26 02:54] dangminhbk commented on #8778
Create Abp project ( UI type MVC), naming it with upper case ( ABC.XYZ) , create a simple model

[2021-04-26 02:58] rafaelgfirmino opened #8785 "Abp provide Field selection?"
["Mobile clients display just a few attributes in a list. They don’t need all attributes of a resource. Give the API consumer the ability to choose returned fields. This will also reduce the network traffic and speed up the usage of the API.
GET /cars?fields=manufacturer,model,id,color"](https://medium.com/@mwaysolutions/10-best-practices-for-better-restful-api-33a25a4e92c1)

Abp provide this ?

[2021-04-26 03:14] maliming commented on #8785
No. You need to implement it yourself.

[2021-04-26 03:14] #8785 closed, assigned to nobody

[2021-04-26 03:28] dangminhbk commented on #8778
@maliming
Create interface ISomethingAppService that implement ICrudAppService ( there is no method in there)
`namespace MDH.EASYPOS.Sales
{
    public interface ISaleAppService :
        ICrudAppService<
            SaleDto,
            Guid,
            PagedAndSortedResultRequestDto,
            CreateSaleDto,
            UpdateSaleDto>
    {
    }
}`

[2021-04-26 03:37] maliming commented on #8778
hi

Please share the Full and detailed steps.

[2021-04-26 03:59] dangminhbk commented on #8778
@maliming https://github.com/dangminhbk/Sale/tree/master/src here is the full project, proxy code was generated, but cannot access it from js.

[2021-04-26 04:10] dangminhbk commented on #8778
@maliming is there different between .Web proxy script and .HttpApi.Host one. I notice that .Web scripts not include api from AppService.

[2021-04-26 04:25] xxvolvo commented on #8757
u can learn from abp/modules/cms-kit/host/

[2021-04-26 06:03] xxvolvo commented on #8757
abp/modules/cms-kit/host/Volo.CmsKit.Host.Shared/FeatureConfigurer.cs /

[2021-04-26 06:05] #8784 closed, assigned to realLiangshiwei

[2021-04-26 06:45] ismcagdas commented on #8777
@ThuanNP it should be working now, can you try again ?

[2021-04-26 07:42] mtozlu commented on #1754
I actually implemented this system in a private project.
I would like to share it however i am not sure it will be 100% compliant with abp's design guidelines. That's why i didn't create a PR until now.
How can i help about this @maliming / @hikalkan ?
Maybe you can check my codes and make some reviews to make it ready for abp codebase?

[2021-04-26 07:45] yerz opened #8789 "Custom HangfireDashboard Authorization"
My environment:

- ABP4.2
- No UI
- MySQL DB
- Web API project
- Split identityserver
---

I need to add authorization for HangfireDashboard. So I added the following code

**HangfireAuthorizationFilter.cs**
[code]

**HttpApiHostModule.cs   - OnApplicationInitialization**
[code]

I'm through : ` http://my domain/Hangfire ` access

System normally into HangfireAuthorizationFilter method, but it doe

[2021-04-26 07:45] maliming commented on #1754
@mtozlu

Did you encounter `async over sync` problems when you tried to use Repository?

[2021-04-26 07:47] ilkayilknur commented on #8757
@xxvolvo
Open the `GlobalFeatureConfigurator` class in the `Domain.Shared` project and add the following codes to the `Configure` method.
[code]
After enabling the features, you can create and apply dbmigrations for the CMS-Kit.

[2021-04-26 08:23] DonVliet opened #8790 "Blazor: Consider adding DetailedErrors: true to appsettings.development.json"
ABP Framework version: **4.3.0**

By default the console errors when developing in Blazor (both WebAssembly & Server) are not very helpful.

It might be worth considering adding

**"DetailedErrors": true**

to the **appsettings.development.json** file to give the user more details messages when debugging.

[2021-04-26 08:29] mtozlu commented on #1754
No i didn't.
Where exactly current implementation causes async over sync problems?
Is it here:
https://github.com/abpframework/abp/pull/5265/files?file-filters%5B%5D=.cs&file-filters%5B%5D=.xml&file-filters%5B%5D=.xsd#diff-12d9de60ded6db704708126614e4f4610e3eb0a6636c7208296742ba9ecb5699R31

[2021-04-26 08:37] maliming commented on #1754
We don't want to use `AsyncHelper`.

[2021-04-26 08:52] mtozlu commented on #1754
Oh i remember now... I walked the same path. That's why I don't use any async call in `GetTranslations` method.
Actually the only async call needed is `SettingProvider.GetOrNullAsync` call, which is needed in case no translations can be found from CurrentCulture and CurrentCulture's parent cultures.
That's why I always use sync version GetTranslations method of `MultiLingualObjectManager`
I found

[2021-04-26 09:23] RobersonLuo opened #8793 "Need to support develop Mobile App with Flutter"
I see the document, it has a React-Native project template, Why not supply a Flutter project template?
please..
Thansk very much!

[2021-04-26 09:34] RobersonLuo commented on #8723
@Znow
Did you finished your article about login and logout using Flutter?

[2021-04-26 09:41] maliming opened #8794 "Can't get the value of CurrentTenant in the OnInitialized method of the blazor page."
Version: 4.3
UI: Blazor wasm

[2021-04-26 10:06] Znow commented on #8723
@RobersonLuo working on getting it done by today :-)

[2021-04-26 10:14] volethanh commented on #8723
Hi @Znow, do you use **authorization code flow** to authen ?  Can you provide the way to use **password flow** ? And call the backend api by using the returned token.

[2021-04-26 10:19] mgochmuradov opened #8796 "Add widgets to CMS Module"
It would be good if we could create **reusable Widgets** in the CMS module, and use them **in Pages**

Usage in pages could be something like:
[code]

It would be even better if we could also use MVC widgets this way.

[2021-04-26 11:52] tvddev commented on #8723
Would this also work in the same way for a Xamarin Forms or Blazor PWA app?

[2021-04-26 12:07] Znow commented on #8723
There is already a guide on how to do it with Xamarin here: https://community.abp.io/articles/abp-framework-api-consumed-by-xamarin.forms-application-rkdfzz66

[2021-04-26 12:07] Znow commented on #8723
Yes it is with authorization code flow. No sorry, that one you have look up yourself :-)

[2021-04-26 12:27] RobersonLuo commented on #8723
where to see you article? could you make a link?

[2021-04-26 13:04] maliming commented on #8794
It causes by the cache.

https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.AspNetCore.Components.WebAssembly/Volo/Abp/AspNetCore/Components/WebAssembly/WebAssemblyCachedApplicationConfigurationClient.cs#L57

[2021-04-26 13:07] #6435 closed, assigned to stsrki

[2021-04-26 13:12] Znow commented on #8723
The article have been submitted to abp.io, they will review it and hopefully soon publish it.

It's a quick how-to guide, as I've have alot on my plate these days.

When the article is published, please send me a message or email if anything needs changes, and I will try to help out.

Thanks

[2021-04-26 13:14] maliming commented on #8793
See https://github.com/abpframework/abp/issues/8723

[2021-04-26 13:14] #8793 closed, assigned to nobody

[2021-04-26 14:38] Qianzujin commented on #8757
Thank you very much !!! ^-^

[2021-04-26 14:38] Qianzujin commented on #8757
Thank you very much !!! ^-^

[2021-04-26 15:44] gregbrant2 commented on #8110
Upgrading to 4.3 has not fixed this, in fact, it's now broken in a different way.

I've upgraded the repro to 4.3:
https://github.com/gregbrant2/abp-nested-modals/tree/master

Now if you checkout and run that solution, clicking "Open Modal" in ABP Modal card shows the modal, but there is no `modal-open` class added to the body, so you can't scroll that modal.  Clicking the "Open Inner Modal" butto

[2021-04-26 15:46] gregbrant2 opened #8804 "abp-modal is broken in 4.3 Angular"
* Your **4.3**.
* Your **User Interface** type Angular
* Your database provider: EF
* Exception message and **stack trace** if available (check the logs). N/A
* Steps needed to **reproduce** the problem.

As per this issue https://github.com/abpframework/abp/issues/8110#issuecomment-826942649

The abp-modal is now broken in new and different ways.

I've upgraded the repro to 4.3:
https://github.co

[2021-04-26 16:43] lament0 opened #8805 "How do I wrap WebAPI Like Abp Boilerplate"
When I write an WebApi with ABP.VNEXT, it returns a variety of values, and I find that the ABP BoilerPlate has the **[ WarpResult ]**  Or **[DontWrapResult]** Attribute to control whether to wrap the return value,Like Switch.

This is ABP BoilerPlate AjaxResponseBase
{
  result: null,
  "targetUrl": null,
  "success": true,
  "error": null,
  "unAuthorizedRequest": false,
  "__abp": true
}
![image

[2021-04-26 17:32] scott7106 commented on #8740
@hikalkan we opted for a different _intermediate_ solution

1. In cases where we were applying a single change to the database, we added autoSave = true. This was simple and does not have a major impact on the application.

2. In cases where we were applying several changes which we wanted wrapped in a UOW, we added the following statement to the end of the application service. We have verified th

[2021-04-26 20:31] steffbeckers opened #8806 "CLI abp generate-proxy fails when configuring RootPath for ConventionalControllers.Create() options"
Source (commit) to reproduce: [https://github.com/steffbeckers/snooker/tree/b4bca9c46664884ef9ed6f68af9019944e6860a4](https://github.com/steffbeckers/snooker/tree/b4bca9c46664884ef9ed6f68af9019944e6860a4
)

Setup/solution structure:
- **ABP Framework version**: 4.3.0
- **ABP CLI version**: 4.3.0
- **User Interface**: Angular
- **Database provider**: EF Core

Main project with "Snooker" namespace.

[2021-04-27 01:04] maliming commented on #8805
You can implement it yourself.

https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/src/Abp.AspNetCore/AspNetCore/Mvc/Results/AbpResultFilter.cs#L10

[2021-04-27 01:04] #8805 closed, assigned to nobody

[2021-04-27 01:45] maliming opened #8808 "The permission form contains too many duplicate values."
If the application has many permissions, this will exceed the max limit of ASP NET Core.

![image](https://user-images.githubusercontent.com/6908465/116172377-3fca5380-a73d-11eb-9187-e099b001c548.png)

[2021-04-27 03:16] #8808 closed, assigned to maliming

[2021-04-27 05:48] Gangadhar-champs opened #8812 "Service to abp service authentication"
If you're creating a bug/problem report, please include followings:

* Your ABP Framework version 4.2.2
* Your **User Interface** type Angular
How to implement external service to abp service
authentication. We have an api application created via angularUi wizard. Since all application services are decorated with Authorize, these cannot be called from any external service or azure function. What a

[2021-04-27 05:53] maliming commented on #8812
ABP is using authentication that provides by Microsoft.

https://docs.microsoft.com/en-us/aspnet/core/security/authentication/?view=aspnetcore-5.0
https://docs.abp.io/en/abp/latest/Authorization

[2021-04-27 06:05] yerz commented on #8789
please help me 😢

[2021-04-27 06:29] armanozak commented on #8806
Hi @steffbeckers,

The generator cannot find the module `"app"` because after what you do the module is named as `"app/club-management"`. Have you tried using the `-m` parameter of the CLI command?

[code]

https://docs.abp.io/en/abp/latest/CLI#generate-proxy

[2021-04-27 07:26] xyfy commented on #5758
@Loongle I got similar error,and I change the position

![image](https://user-images.githubusercontent.com/7838147/116202203-e843dc00-a76c-11eb-8825-bb9ff847e830.png)

[2021-04-27 07:35] xyfy commented on #5758
@Loongle
I got similar error ,and I changed the position ,it works !

![image](https://user-images.githubusercontent.com/7838147/116203280-1b3a9f80-a76e-11eb-8d9a-f4342d2b213d.png)

[2021-04-27 07:38] Loongle commented on #5758
maybe. but now i remove `app.UseMultiTenancy`, it works. i don't think gateway need to use multitenancy @Y2zz

[2021-04-27 08:05] alexandis commented on #8779
UPDATE: using Angular test app, generated via ABP Suite 4.3.0 (but consuming my Environment data), I am having the same issue with login.

[2021-04-27 08:11] Stirda opened #8813 "Missing common.props in new Blazor template csproj files"
I  think that ABP 4.3 Blazor (WASM and Server) template csproj files miss `<Import Project="..\..\common.props" />`.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj

[2021-04-27 08:20] maliming commented on #8813
* Your  ABP CLI version
* Steps needed to **reproduce** the problem.

[2021-04-27 08:22] maliming commented on #8779
The application port is randomly generated, so there will be problems. You can try to use the template migration to create a database to test.

[2021-04-27 08:24] Stirda commented on #8813
- ABP CLI 4.3.0.
- Run `abp new -u blazor`.

[2021-04-27 08:29] maliming commented on #8813
Can't reproduce.

[code]

[2021-04-27 08:37] muratyuceer commented on #1754
soo because of async willl you cancel it ?

[2021-04-27 08:50] Stirda commented on #8813
@maliming I never said that CLI is broken. I said that the csproj of the ABP 4.3.0 Blazor project is incomplete. Just look into https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/MyCompanyName.MyProjectName.Blazor.csproj

[2021-04-27 08:54] maliming commented on #8813
Thanks @Stirda  I will handle this.

[2021-04-27 10:07] guolianyu commented on #8701
I have already resolved it，it need to add HttpClientProxies

[2021-04-27 10:46] berkansasmaz commented on #8780
Hello, @EngincanV I see the article is approved.

Thank you for the information. It will be fixed as soon as possible.

[2021-04-27 10:58] alexandis commented on #8779
What do you mean? I use fully my backend - where all ports are fixed. I use only Angular app on port 4200 to connect to my backend...

[2021-04-27 11:03] maliming commented on #8779
I suggest you create a new project and a new database to test and compare the code and data.

[2021-04-27 11:57] joernz opened #8816 "Redirection after click on the logo of the login page navbar"
* Your **ABP Framework version**. 4.3
* Your **User Interface** type Angular
* Your database provider EF Core

with the start template:

through the login button on the app homepage or the url `localhost:4200\account\login`,
I will be redirected to `localhost:44355/Account/Login?ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3...`

then, when I click on the logo on the navbar, it will end up with Swa

[2021-04-27 13:33] emilsjog opened #8818 "Throwing BusinessException does not display modal"
* 4.3
* Blazor-server
* EF Core

When an BusinessException is thrown there is only the standard yellow bar showing with the text "An unhandled exception has occurred. See browser dev tools for details. Reload"
Shouldn't the error message modal be displayed? I have texts in the en.json together with correct error codes as in the documentation.

[2021-04-27 13:59] mehmet-erim commented on #8816
Hi @joernz

ABP Angular UI uses the authorization code flow by default. Learn more about the authorization in Angular UI:
https://docs.abp.io/en/abp/latest/UI/Angular/Authorization

According to the authorization code flow, the user is redirected to an external login page which is built with MVC. So, if you need to customize the login page, please follow [this community article](https://community.

[2021-04-27 14:17] yekalkan opened #8819 "Cli: Add-module should remove redundant projects from test folder"

[2021-04-27 14:23] #8816 closed, assigned to mehmet-erim

[2021-04-27 15:26] armanozak opened #8822 "Angular UI generates multiple locale files"
Singularizing them would improve the deployment experience.

[2021-04-27 15:27] steffbeckers commented on #8806
Hi @armanozak

I missed the extra -m option for the generate-proxy in the docs. When I add the -m option as suggested, the command works as expected. Thank you for the fast response!

[code]

[2021-04-27 15:27] #8806 closed, assigned to nobody

[2021-04-27 15:42] alexandis commented on #8779
It's not easy and obvious to compare side-by-side two solutions, because we have a lot of custom logic and it would take a while to set up local Oracle DB for me.

So I have created a _multi-tiered_ app from **ABP** _template_ and adopted this **Web** app for our solution. I tried to look what **IdentityServer** and **Web** projects in the generated template look like (appsettings, Module configur

[2021-04-27 20:23] alexandis commented on #8779
"Played" with authentication configuration parameters and finally managed to resolve the issue.

[2021-04-27 20:23] #8779 closed, assigned to nobody

[2021-04-28 01:08] #8701 closed, assigned to nobody

[2021-04-28 01:44] #8822 closed, assigned to armanozak

[2021-04-28 02:58] evenlee opened #8826 "Question: do we have a guide/sample for the API versioning support"
There is a need to implement different version of APIs, I've checked the default .net core implementation, assume it should work with ABP too.

And i searched all the issues, seems we do not have a guide or sample yet, can we have a simple guide?

[2021-04-28 03:21] maliming commented on #8826
See https://github.com/abpframework/abp/issues/3315#issuecomment-618720684

[2021-04-28 03:21] #8826 closed, assigned to nobody

[2021-04-28 06:00] cocosip commented on #7503
We have the same problem, we have two projects with different version(4.2 and v4.3). The v4.3 project have this problem.

[2021-04-28 09:44] ilkayilknur commented on #8757
I'm closing the issue. We're preparing the CMS Kit documents. Please follow docs.abp.io for updates.

[2021-04-28 09:44] #8757 closed, assigned to nobody

[2021-04-28 10:13] berkansasmaz commented on #8780
We fixed the problem, so I am closing this problem. We will be updating the [community.abp.io](http://community.abp.io/) site soon.

Until then, if you want to access the source of the article, you can look [here](https://github.com/mucahiddanis/Abp.AspNetCore.Mvc.UI.Theme.AdminLTE/blob/main/COMMUNTIY-ARTICLE.MD).

Thank you for your understanding and support.

[2021-04-28 10:13] #8780 closed, assigned to berkansasmaz

[2021-04-28 10:38] DWCS-Dworrall commented on #5589
Adding this code into the API fixed a massive headache that I was having with trying to implement domain resolved multi-tenancy in my application. The identity server in my application is separated from the API and with this architecture, the valid issuer list is required.

This is not currently in the documentation (which is quite sparse for the trouble that I had implementing it!) and even the l

[2021-04-28 11:56] ericzzhou opened #8830 "how to display setting items(value) in setting manager ui?"
how to display setting items(value) in setting manager ui?

[2021-04-28 12:06] ericzzhou commented on #8830
abp vnext 4.3

[2021-04-28 12:30] Znow commented on #8723
https://community.abp.io/articles/Consume%20ABP%20API%20from%20Flutter%20App-adzzfnji

[2021-04-28 12:40] leonkosak commented on #5589
@DWCS-Dworrall, yes - I can confirm that this part of code for "AuthServer:ValidIssuers" is crucial and must-have for most of abp-based installations (especially for containerized installations like Docker/Kubernetes).
If there won't be any response from Volo, I will make PR as soon as possible.

Offtopic:
I would also use .config for Logs.txt file location ([this issue](https://github.com/abpfram

[2021-04-28 12:46] realLiangshiwei commented on #8830
* Angular: https://docs.abp.io/en/abp/latest/UI/Angular/Custom-Setting-Page
* MVC: https://github.com/abpframework/abp/blob/dev/modules/setting-management/src/Volo.Abp.SettingManagement.Web/Pages/SettingManagement/Components/EmailSettingGroup/EmailSettingGroupViewComponent.cs
* Blazor: https://github.com/abpframework/abp/blob/dev/modules/setting-management/src/Volo.Abp.SettingManagement.Blazor/Pag

[2021-04-28 12:46] #8830 closed, assigned to nobody

[2021-04-28 13:09] alexandis opened #8832 "defaultResourceName is ignored after upgrading Angular project to ABP 4.3.0"
Indicating `defaultResourceName` in `environment` object used to work properly in **ABP 3.3.2**. After upgrading all solutions to the newest **4.3.0** this parameter seems to be ignored:

[code]

Accordingly, resources are not extracted and I am getting these warnings in Debug console:

Setup in **shared.module.ts**, **app.module.ts** is exactly the same as in the autogenerated Angular project, i.

[2021-04-28 13:37] ericzzhou commented on #8830
I want to custom some settings and show in setting UI.

[2021-04-28 14:03] realLiangshiwei commented on #8830
Please check the links I provided: https://github.com/abpframework/abp/issues/8830#issuecomment-828425874

It would be easy if we provide documentation.

I will add documentation in 4.4:  https://github.com/abpframework/abp/issues/2187

[2021-04-28 17:54] bhojim opened #8834 "Running Blazor app - Error: Failed to load resource: net::ERR_CONNECTION_REFUSED https://localhost:44325/.well-known/openid-configuration"
### Bug report

Created Book Store Blazor project successfully.
Changed connection strings in two projects
Ran DbMigrator.
Database created successfully.
Tried to run Blazor project:

Got following error from Chrome Dev tools Console:

Error: Failed to load resource: net::ERR_CONNECTION_REFUSED https://localhost:44325/.well-known/openid-configuration

* ABP Framework version: 4.3.0.
* User Interfa

[2021-04-28 18:02] recruitans opened #8835 "After adding the lepton source code to the project - Could not load file or assembly 'Volo.Abp.LeptonTheme.Management.Domain.Shared"
v4.3.0, MVC, EF

![image](https://user-images.githubusercontent.com/28866278/116451351-068d0300-a865-11eb-9481-f654f3952092.png)

![image](https://user-images.githubusercontent.com/28866278/116451359-0ab92080-a865-11eb-864a-b5eec91ff933.png)

[2021-04-28 18:07] bhojim commented on #8834
After some investigation, I decided to
1. Run BookStore.HttpApi.Host (Debug -> Start a new instance)
2. Run BookStore.Blazor (Debug -> Start a new instance).

The documentation did not mention the first step.

Thanks

[2021-04-28 18:07] #8834 closed, assigned to nobody

[2021-04-28 20:03] bhojim opened #8836 "AppUserDto"
I am following the documentation on creating BookStoreApplicationAutoMapperProfile. The problem is that it has the following line:
[code]
AppUserDto class does not exist. Not sure if I should ignore that line.

[2021-04-28 21:47] bhojim commented on #8836
I did ignore that line to make it compile. So it's just a documentation issue.

[2021-04-28 21:47] #8836 closed, assigned to nobody

[2021-04-28 22:05] LuisPignataro opened #8837 "Blazor webassembly Localization problem after deployment"
Using the framework version 4.2 and 4.3, with the Blazor Webassembly client, localized texts are not displayed in the hosted application.
In debug it works perfect, but not in hosting.
Both the api and the client are hosted in two azure webapp.
There are no errors on the client side, nor on the server.

I am using the template from version 4.2, which I later migrated to 4.3. In both cases the same

[2021-04-29 01:08] maliming commented on #8835
Please get help on the support website.
https://support.abp.io

[2021-04-29 01:08] #8835 closed, assigned to nobody

[2021-04-29 02:20] colinin opened #8839 "api-definition cannot find API endpoints with multiple RouteAttribute"
ABP Framework version: 4.3.0

Repetition of the repository: https://github.com/colinin/ApiDefintionTest

Problem of repetition:

Define Dto:

[code]

Define Controller:

[code]

This is normal in swagger, where two endpoints are found

![Swagger endpoints](https://github.com/colinin/ApiDefintionTest/blob/main/Images/WeChat_20210429100931.png)

But api/abp/api-definition only has

![api definition

[2021-04-29 02:24] colinin commented on #8839
I think it has to do with the naming of the defined API:

https://github.com/abpframework/abp/blob/675ddecc5f74b8163b803e08a7ac29663cc3faf6/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs#L69-L122

https://github.com/abpframework/abp/blob/675ddecc5f74b8163b803e08a7ac29663cc3faf6/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Asp

[2021-04-29 02:29] maliming commented on #8839
Dynamic API calls will be very troublesome when an API has multiple routes because you need to match it based on parameters.
The generated angular proxy script may also have problems. I'm not sure,

[2021-04-29 02:36] colinin commented on #8839
Through **ApiParameterDescription.IsRequired** judgment can generate multiple proxy endpoint,  (javascript will be simpler than c # dynamic HTTP client)

[2021-04-29 02:42] maliming commented on #8839
You can give it a try, any PR is welcome.

[2021-04-29 02:44] ThuanNP commented on #8777
It worked. Thank you, @ismcagdas!

[2021-04-29 02:45] #8777 closed, assigned to ismcagdas

[2021-04-29 02:56] colinin commented on #8839
I'll give it a try

[2021-04-29 02:58] vineethvijayan314 commented on #8723
@Znow is there a working example for flutter?

[2021-04-29 03:04] maliming commented on #8837
Can you try to publish the app locally via `dotnet publish` command then run it?

[2021-04-29 03:05] #8813 closed, assigned to maliming

[2021-04-29 03:51] juchunwei opened #8840 "blazor server UserManagement.razor how to add Name column to the page?"
* **ABP Framework version**:  3.3-final .
* Blazor Server
* Database provider: EF Core
*

I just want add the name column to the users page, is there a way to add a column to the page instead a custom page?

I saw the code :
` UserManagementTableColumns.AddRange(GetExtensionTableColumns(IdentityModuleExtensionConsts.ModuleName,
                IdentityModuleExtensionConsts.EntityNames.User));`
how

[2021-04-29 05:01] maliming commented on #8840
I think this available when the version >= 4.3

https://github.com/abpframework/abp/pull/6647

[2021-04-29 05:59] viewtance opened #8841 "The CMS-Kit public page controller not registered, cannot visit a page by slug from public site."
* Your **ABP Framework version**. Ver 4.3.0
* Your **User Interface** type : MVC
* Your database provider(EF Core/MongoDB): EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.
*
When visit a page by slug from the public site, the page cannot be opened.

With 4.3.0, the CMS-Kit public page controller not registered, cannot visi

[2021-04-29 06:31] Znow commented on #8723
@vineethvijayan314 I will look at it when I can find time, perhaps today or the following days :-)

[2021-04-29 06:43] enisn commented on #8841
Hi @viewtance

_It looks like there are some dependency issues_

Can I ask how did you add CmsKit? Via CLI or Manually?

[2021-04-29 07:03] juchunwei commented on #8840
@maliming
Thank you!  It's easier if the UserManagementTableColumns can be protected not private.

[2021-04-29 07:11] maliming commented on #8840
Please check https://github.com/abpframework/abp/pull/6647#issue-540066788

[2021-04-29 07:11] #8840 closed, assigned to nobody

[2021-04-29 07:57] viewtance commented on #8841
@enisn I added cms-kit via cli template come from 4.3.0-rc.2, I have fixed this issue by update the PagesPublicController code as below:
`[RequiresGlobalFeature(typeof(PagesFeature))]
    [RemoteService(Name = CmsKitPublicRemoteServiceConsts.RemoteServiceName)]
    [Area("cms-kit")]
    [Route("api/cms-kit-public/pages")]
    public class PagesPublicController : **CmsKitPublicControllerBase**, IPa

[2021-04-29 08:31] EngincanV commented on #8832
Hi @alexandis, `defaultResourceName` not need to be specified. Therefore you can delete the `localization` section from your **environment.ts** (and **environment.prod.ts**) file.

After that, you can configure localization options in your ***.HttpApi.Host** module as below.

[code]

After those configurations, your application should be working properly.

[2021-04-29 09:15] vineethvijayan314 commented on #8723
Thanks @Znow
I am facing this issue.
Can't figure out where I messed up

![Simulator_Screen_Shot_-_iPhone_11_-_2021-04-29_at_01_07_31](https://user-images.githubusercontent.com/81630465/116528507-88c70700-a8f9-11eb-9dfc-d6c9d4ee0e3b.png)

[2021-04-29 09:22] Znow commented on #8723
@vineethvijayan314 Did you run your DbMigrator with the additions in IdentityServerDataSeedContributor.cs? :-)

Example repo upcoming in a moment

[2021-04-29 09:26] vineethvijayan314 commented on #8723
@Znow Yes, those are deployed. Is HTTPS mandatory?

[2021-04-29 10:24] davidzwa commented on #8778
Would be nice to share `/api/abp/api-definition/` output and see if your controllers/services appear there (or not)
You mention that you cannot access the proxy services from JS. What do you mean with that?

Please provide more details steps from the get-go next time as this is very hard for authors to respond to.
- Definition API output
- Exact controller or remote service you are looking to call

[2021-04-29 10:32] ercanciftci opened #8843 "\abp\framework\src\Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared\wwwroot\libs\abp\aspnetcore-mvc-ui-theme-shared\datatables\datatables-extensions.js"
Abp 4.3

\abp\framework\src\Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared\wwwroot\libs\abp\aspnetcore-mvc-ui-theme-shared\datatables\datatables-extensions.js  on Line 134

if (field.text) {
       $dropdownButton.append(htmlEncode(fieldItem.text));
} else {
       $dropdownButton.append(htmlEncode(localize("DatatableActionDropdownDefaultText")));
}

![image](https://user-images.githubusercontent.com/833

[2021-04-29 10:57] dangminhbk commented on #8778
@davidzwa my services appear there `/api/abp/api-definition/` .  I read this document
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Dynamic-JavaScript-Proxies , It said proxy code will be generated in Abp/ServiceProxyScript, but it not included my service's .

[2021-04-29 10:59] Znow commented on #8723
@vineethvijayan314 Yes due to android not accepting HTTP only.

https://github.com/Znow/ConsumeAbpFromFlutterApp is the example repo - will put it in the guide aswell. The repo has an error right now about android/java not finding the trust certificate anchor when consuming 10.0.2.2/localhost endpoint

[2021-04-29 11:02] mrs01dev opened #8844 "ABP samples still include Obsolete(UseVirtualFiles)"
Both ABP samples  and Documentation still uses or reference UseVirtualFiles which is Obsolete.
Could you please update documentation  with steps to upgrade to ver 4.3. ?

[2021-04-29 11:14] davidzwa commented on #8778
Are you getting an error in Razor when you call `ISaleAppService`?

[2021-04-29 11:19] vineethvijayan314 commented on #8723
Thanks, @Znow. We will check it out.

I presume iOS also have a restriction on HTTPS. Our dev env's are not hosted in HTTPS. but It seems to work with Angular

[2021-04-29 11:46] send2vinnie opened #8845 "The comment on top of the method of class PermissionDefinition as the link referring to is not correct"
The comments of the method as the following link referring to is not appropriate.

https://github.com/abpframework/abp/blob/a67e2ba8656ea48b42f4d28d62949ed48fac410d/framework/src/Volo.Abp.Authorization.Abstractions/Volo/Abp/Authorization/Permissions/PermissionDefinition.cs#L129

[2021-04-29 11:56] ilkayilknur opened #8846 "Remove `PolicySpecifiedDefinition` inheritance from `ReactionEntityTypeDefinition`"
No need to specify policies for the reaction feature. We need to remove the inheritance.

[2021-04-29 12:40] vineethvijayan314 commented on #8723
nope, I am definitely messing things up. Our API's are HTTPS. still the same error

![Simulator Screen Shot - iPhone 11 - 2021-04-29 at 18 09 07](https://user-images.githubusercontent.com/81630465/116551935-13b5fa80-a916-11eb-8a90-3a1b0e795f68.png)

[2021-04-29 12:43] Znow commented on #8723
@vineethvijayan314  Haven't experienced that error before to be honest. Are you able to browse swagger from the Chrome browser on the android emulator for instance?

[2021-04-29 12:59] vineethvijayan314 commented on #8723
Yes, I tried from iOS simulator I am able to load swagger from the iOS simulator safari.

[2021-04-29 14:06] krugerm commented on #3631
Starting from a new application using CLI, add-migration generates a migration which includes an AppUser table.

[2021-04-29 15:07] joernz commented on #8295
hi @maliming

I wrote an audit log contributor as you suggested. But this way it will remove `EntiyChanges` from `AuditLogInfo` entirely.

[code]
I want to remove the `PropertyChanges` only, if `ChangeType` = `Created` or `Deleted`, and the rest of `EntityChanges` should remain. Can you please help? Thanks
I thougt about setting `EntityChanges` new without `PropertyChanges`, but it doesnt have set

[2021-04-29 15:19] jonny-xhl commented on #8747
I think it can also refer to [Event bus Transaction & Exception Behavior](https://docs.abp.io/en/abp/latest/Local-Event-Bus#transaction-exception-behavior).

[2021-04-29 16:00] jonny-xhl commented on #8638
Will only consider time format? Is there a case where there is an object attribute?

**E.g:blog.writer.name?** If the Writer here is null?

[2021-04-29 16:00] okutbay commented on #8843
We are also having the same problem on our project. Thanks for the ticket @ercanciftci

[2021-04-29 16:03] LuisPignataro commented on #8837
Hello @maliming , thanks for your reply.
I did test publishing with `dotnet publish` and run in webapp hosting and in iisexpress and same results.
Maybe I didn't understand the test you want me to do correctly.
In which hosting you want it to run. Directly from the filesystem? Using dotnet run?
I think the only result would be for it to be published in debug.
I had already tried that and it doesn'

[2021-04-29 16:45] 0andy opened #8850 "Is there any way, we could customise UserEto. Like add "usertype" property in UserEto."
public virtual async Task HandleEventAsync(EntityUpdatedEto<UserEto> eventData)

Example:
I have two services: cmskit and supportkit.

The UserType enum:
enum UserType
{
    None,
    CmsUser,
    SupportUser
}

CmsUser only register in CmsKit service.
SupportUser only register in Supportkit.

----
You know, I want to use the usertype to filter the event.
So Is it any possible to customise UserEto

[2021-04-29 16:48] jhulbertpmn opened #8851 "Order/timing of menu contributor in Blazor WASM"
* **ABP Framework version** 4.3
* **User Interface** Blazor WASM
* Your database provider(EF Core/MongoDB) EF Core
* Exception message and **stack trace** if available (check the logs). None found

* Steps needed to **reproduce** the problem.
I've created several modules within my application. Each currently has a menu contributor defined and adds one item to the main menu, which links to the inde

[2021-04-29 16:52] davidzwa commented on #8778
Also try to run `abp generate-proxy`. This is how we do it for Angular. Not sure if this is required for MVC as well.

[2021-04-29 17:15] davidzwa commented on #8776
1) Yes its complex to separate the contexts. I do want to ask the question how does this impact non-monolithic solutions? Wasnt the reason to go for split contexts to support that better?
2) I wonder what this Application DbContext is that you mention.
3) Im a monolithic user, so this would be an awesome step forward as the migration towards this ABP structure basically meant we had to completely

[2021-04-29 17:18] vineethvijayan314 commented on #8723
@Znow we are able to make it work, we had to add the below AuthorizationServiceConfiguration as well along with your code.

[code]

We are able to see the login screen and we can log in. But it's not redirecting back to the app.
It's going to the swagger in the webview.

[2021-04-29 18:23] Znow commented on #8723
@vineethvijayan314 Then you might have some different setup that I dont know of.

Are you sure your client is setup correctly in your API? With the proper redirect_uri?

[2021-04-29 18:25] cotur commented on #8638
Hi @jonny-xhl

We made this update for `date` & `datetime` datetable format extensions for abp.

Example:
[code]

In your case, you can use `render` option to handle different scenarios for your object.

Example:
[code]

[2021-04-29 19:31] vineethvijayan314 commented on #8723
@Znow  yes, we gave the same com.exanple.com//callback. the same as in your example.

[2021-04-29 19:53] 0andy opened #8852 "Is it possible only use Phone Number to register and "Create new User"?"
I see that MS ask email as require.
So we cannot register or "New User" without email?

Is it right?

Any ways we could register and "new user" with only Phone Number.

Thanks.

[2021-04-30 00:28] maliming commented on #3631
@krugerm Please create a new issue.

[2021-04-30 00:44] Trojaner opened #8853 "Dynamic Auto API Client Proxy: How to pass headers?"
I am trying to create a BFF with ABP that uses Auto API for calling microservices. I want to pass the JWT token of the current request to each microservice for authorization. How could I do this?

The current microservices example uses Ocelot instead, which is not what I am looking for.

If there is currently no way of doing this, I could contribute an API that allows to do something like this:
[c

[2021-04-30 01:17] #8843 closed, assigned to maliming

[2021-04-30 01:29] maliming commented on #8295
You can try something like below, I think the `NULL` is a valid value.
[code]

[2021-04-30 02:06] maliming commented on #8837
hi

Can you provide a project and steps? I can download and check it.

[2021-04-30 02:26] maliming commented on #8853
`Dynamic Auto API Client Proxy` has its own authentication method. You can check the source code: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/DynamicHttpProxyInterceptor.cs#L159

[2021-04-30 03:51] NepPure commented on #8210
https://github.com/oracle/dotnet-db-samples/issues/167

Because there is no detailed error message, this problem has been investigated for a long time.

[2021-04-30 06:44] maliming commented on #8851
The **AuthenticationStateChanged** event is not executed immediately, the menu system will execute it first, and then we will receive the event.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Components.Web/Volo/Abp/AspNetCore/Components/Web/Security/AbpComponentsClaimsCache.cs#L27

[2021-04-30 07:10] xyfy commented on #8852
I set the email as  `phone+@+domain.com`
when change phone ,will also change the default email which user not changed

[2021-04-30 07:24] xyfy commented on #7978
implement the interface `IdentityServer4.Validation.IExtensionGrantValidator`   will be helpful

[2021-04-30 07:24] xyfy commented on #7978
And it not relation to abp,only is4

[2021-04-30 09:28] emilsjog commented on #8818
Noticed that this got assigned. Any timeline on this?

[2021-04-30 10:03] stsrki commented on #8818
For Blazor Server it is still not fully possible to catch all "unhandled exceptions". As far as I know, this is more a problem with .Net and Blazor Framework than it is with ABP. While we have managed to handle most of the errors with our custom _message modal_, we still need to find a way to handle the rest.

@hikalkan Maybe you can know more about the limitations since you were able to implement

[2021-04-30 10:24] xyfy commented on #8006
What's the change to use `UseStaticFiles`.I got some unexcepted exception after changed it

[2021-04-30 10:30] cotur commented on #8843
If you wonder how to get latest code for your `4.3` version application before new patch release.

https://github.com/abpframework/abp/pull/8854#issuecomment-829971415

[2021-04-30 12:42] yekalkan opened #8858 "Object Extension: Property order is unstable"
Reported at https://support.abp.io/QA/Questions/1234/Extra-Properties-order-and-validation#answer-6b0eb63a-ff39-48e7-1b23-39fc2c719128

It is probably related with ConcurrentDictionary usage.

[2021-04-30 12:57] muratyuceer commented on #5543
also we think about api-definition result size, my application growing but already 2mb

![image](https://user-images.githubusercontent.com/25631692/116699765-a74b0200-a9ce-11eb-8c1d-3270cb14b0c7.png)

[2021-04-30 13:51] LuisPignataro commented on #8837
Hi, yes, this repo contains a minimal project with the problem https://github.com/LuisPignataro/abpissue

Example image showing the problem.

![image](https://user-images.githubusercontent.com/9435347/116704784-2a099800-a9a2-11eb-9b08-3204bdcdb8cc.png)

[2021-04-30 15:59] 0andy commented on #8852
Yes, this works. Thx
But we want the customer to register with phone at the first time and later if they like they could bind their email.
So, I think should use your similar way.

[2021-04-30 18:14] leonkosak commented on #6126
Anyone? Can someone confirm that this issue will solve the problem that I described with distributed event bus?
Thank you.

[2021-05-01 02:15] hikalkan opened #8862 "Allow to customize EF Core mapping of an entity of an existing module"
![image](https://user-images.githubusercontent.com/1210527/116768095-dac47580-aa3c-11eb-983e-c79e9df93902.png)

Then the configuration is auto applied in [EfCoreObjectExtensionManagerExtensions.ConfigureEfCoreEntity](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/ObjectExtending/EfCoreObjectExtensionManagerExtensions.cs#L116). In this way, no chang

[2021-05-01 02:27] jhulbertpmn commented on #8851
Thanks for the explanation and it looks like a change for that is planned for a 4.3 patch/4.4 release? I can work around it for now

[2021-05-01 02:29] hikalkan opened #8863 "Allow to customize configuration of a dbcontext via object extension manager"
As an improvement similar to #8862

![image](https://user-images.githubusercontent.com/1210527/116768191-6b9b5100-aa3d-11eb-85e0-f7fcbc31908c.png)

Here, I am trying to customize IdentityDbContext mappings in a static context (customized IdentityUser and also mapped a new entity). To make this work, IdentityDbContextModelBuilderExtensions.ConfigureIdentity method should make such a call:

![image]

[2021-05-01 02:36] hikalkan commented on #8776
Hi,

1. Actually, it is better for non-monolith apps since they have multiple dbcontext and 2 dbcontexts for each database is worse. The reason behind the separate dbcontexts decision was to simplify and keep minimum the [application's dbcontext](https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.EntityFrameworkCore/EntityFrameworkCore/MyProjectN

[2021-05-01 07:31] jonechenug commented on #8789
It may order by  middleware.The `app.UseHangfireDashboard` may be  used to left after `app.UseAuthentication()`  and ` app.UseAuthorization()`

[2021-05-01 07:48] jonechenug commented on #8853
It is also a way to set header by `AddHttpMessageHandler`.
[code]

[2021-05-01 09:57] K-Artisan opened #8864 "The permission change did not take effect immediately"
The permission change did not take effect immediately

Scenario: User A modifies user B's permissions, and user B's permissions do not take effect immediately

Replay steps:

1. Create the solution with the following command (abp version:4.3) :

[code]

2. Use account : "admin" to login.

​    Open the page: https://localhost:44323/Identity/Users, Create a new  accounts: TestUser

3. Login with ac

[2021-05-01 11:26] idreeshaddad commented on #7776
Thank you guys for the effort, but unfortunately the problem still exists after updating to 4.3:
![image](https://user-images.githubusercontent.com/2285974/116780929-45e76980-aa88-11eb-9d54-a59dc8c48214.png)

As you can see, abp generate-proxy generated a TypeScript model of a Dto that has a [JsonProperty] attribute; the output model has the name of the C# property instead of the name in the attri

[2021-05-01 18:52] #7770 closed, assigned to NecatiMeral

[2021-05-01 20:43] muratyuceer commented on #8545
@mtozlu thanks the solution was useful but suite permission setting screen did not show as expected, actually this issue about commercial i will create ticket there. My goal was to categorize the permissions.

[2021-05-02 00:07] hikalkan commented on #8259
Done with https://community.abp.io/articles/using-syncfusion-components-with-the-abp-framework-5ccvi8kc

[2021-05-02 00:07] #8259 closed, assigned to nobody

[2021-05-02 00:33] 0andy commented on #7978
I think it is related with Identity. Ids4 also call identity.
For my understand, should be:
but not test yet.

any below should be work. But need double check and verify.

1, Override OnPostAsync inherit AccountPageModel
2, Override AbpSignInManager.PasswordSignInAsync()
3, Override inherit IdentityUserManager to override PasswordSignInAsync()
4, Override IdentityUserStore.FindByNameAsync()

[2021-05-02 02:28] maliming commented on #7776
@idreeshaddad
Can you try a new project?

[2021-05-02 03:18] clinically-au commented on #8864
Yes, see #8620

[2021-05-02 06:46] armanozak commented on #7776
Hi @idreeshaddad,

There is a package called `@abp/ng.schematics` in the package.json file. Please upgrade it to v4.3.0 and try again.

[2021-05-02 17:56] leonkosak commented on #2882
@hikalkan any updates on this topic?

[2021-05-02 21:37] #7427 closed, assigned to mehmet-erim

[2021-05-03 01:41] #8864 closed, assigned to nobody

[2021-05-03 01:46] #8789 closed, assigned to nobody

[2021-05-03 01:50] abdumostafa opened #8866 "Can't find Volo.Abp.SettingManagement.HttpApi.Client v 4.2.0 on nuget package manager"
I'm trying to resolve a dependency problem on my solution but I can't find Volo.Abp.SettingManagement.HttpApi.Client v 4.2.0 anymore !
just the new 4.3.x found, I think this issue might be on other Abp packages too

[2021-05-03 01:53] realLiangshiwei commented on #8866
See https://github.com/abpframework/abp/pull/7669

Because `Volo.Abp.SettingManagement.HttpApi.Client` is a new package of 4.3 milestone

[2021-05-03 01:53] #8866 closed, assigned to nobody

[2021-05-03 02:05] realLiangshiwei commented on #8850
No.
You should publish your own events.

https://docs.abp.io/en/abp/latest/Distributed-Event-Bus#idistributedeventbus

[2021-05-03 05:44] vineethvijayan314 commented on #8723
@Znow we couldn't figure out the issue. But we using connect/Token API to get the token and call the API's separately

[2021-05-03 07:44] Stirda commented on #6465
Anyone else would like to see of a `IsDisabled`-`IsVisible` duo for `EntityAction`? This issue sleeps in the backlog since half a year.

[2021-05-03 07:56] stsrki commented on #6465
@Stirda Why adding `Disabled` on `EntityAction` is a problem? Am I missing something here?

[2021-05-03 07:59] Stirda commented on #6465
No problem here. I would just be pleased to see it coming, maybe as the community :-)

[2021-05-03 08:07] ilkayilknur commented on #6465
We added the `Visible` property in the 4.3 version. We don't have any plans for adding the `Disable` property right now. We can accept contributions for this.

[2021-05-03 10:00] Znow commented on #8723
@vineethvijayan314 It's very hard to help when I don't have access or know of your source code and how it's working right now.

[2021-05-03 11:15] vineethvijayan314 commented on #8723
@Znow we couldn't figure out the issue.

Now we are using connect/Token API to get the token and call the apis separately. Hope this will work
Also thanks for your help.

[2021-05-03 13:12] #8651 closed, assigned to maliming

[2021-05-03 13:29] kunalpgithub commented on #8735
Thanks for your response. Unfortunately setting noImplicitAnyForClassMembers  as false, will undo purpose of using type script. May be I can try other things for type check and continue with javascript.

[2021-05-03 14:57] ilkayilknur opened #8870 "Prepare Document For JSON Operations"

[2021-05-03 17:56] leonkosak opened #8871 "get abp localization currentCulture object values"
abp v4.3

`abp.localization.currentCulture` is not undefined.
However, how to access currentCulture properties (name, twoLetterIsoLanguageName,...) from this object?
I always get undefined from currentCulture.xxxx in javascript.
Thank you.

[2021-05-04 01:18] realLiangshiwei commented on #8871
See https://docs.abp.io/en/abp/latest/UI/AspNetCore/JavaScript-API/Localization

[2021-05-04 01:30] yerz commented on #8789
![image](https://user-images.githubusercontent.com/30039842/116951580-d86f4f00-acba-11eb-8e6a-8a5fbfae9542.png)

@jonechenug  hi~ Thank you for your answer.

but . My order is this  it doesn't work .

`http://my domain/Hangfire`  After entering HangfireAuthorizationFilter unable to obtain information for the current user permissions

Why is that? thank you 😭

[2021-05-04 01:49] maliming commented on #8837
Add `Microsoft.Extensions.FileProviders.Embedded` package to your DomainShared project.

[code]

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyCompanyName.MyProjectName.Domain.Shared.csproj#L28

[2021-05-04 01:49] #8837 closed, assigned to nobody

[2021-05-04 01:53] maliming commented on #8871
* Steps needed to **reproduce** the problem.

 The page needs to load **abp.js**, Can you check?

https://github.com/abpframework/abp/blob/dev/npm/packs/core/src/abp.js#L74

[2021-05-04 04:07] leonkosak commented on #8871
@maliming, my mistake.  `abp` object is present.
`abp.localization.currentCulture` **also has a value** (json object).

https://docs.abp.io/en/abp/latest/UI/AspNetCore/JavaScript-API/Localization#abp-localization-currentculture

The following properties have undefined value:
`abp.localization.currentCulture.name`
`abp.localization.currentCulture.cultureName`
`abp.localization.currentCulture.twoLet

[2021-05-04 04:45] dangminhbk commented on #8778
#1469 @maliming . I've found this issues. It not the problem so I closed it for now.

[2021-05-04 04:45] #8778 closed, assigned to nobody

[2021-05-04 05:15] maliming commented on #8871
hi

Steps needed to reproduce the problem.

[2021-05-04 06:58] leonkosak commented on #8871
I upgraded from v4.2.2 to v4.3 - compared all files (.csproj,...).
Open any .cshtml and add:

[code]

[2021-05-04 07:44] maliming commented on #8871
Add it to `scripts ` section.

[code]

[2021-05-04 07:50] leonkosak commented on #8871
`abp.localization.currentCulture` is not a problem (has value). abp.localization.currentCulture.**XXXX** (accessing sub-properties) are all undefined.

[2021-05-04 07:53] maliming commented on #8871
![image](https://user-images.githubusercontent.com/6908465/116974494-cdcfac80-acf0-11eb-9525-50995f65aa37.png)

![image](https://user-images.githubusercontent.com/6908465/116974476-c90af880-acf0-11eb-9409-4e0f2654fbaa.png)

[2021-05-04 08:42] realLiangshiwei commented on #8863
But the `dbContext` is not an extensible object, should we make `AbpDbContext` implement the `IHasExtraProperties` interface?

https://github.com/abpframework/abp/blob/1153bb3cd783b65f894d9a17eb22b4b834d98a34/framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionManager.cs#L53

[2021-05-04 08:46] #6896 closed, assigned to nobody

[2021-05-04 09:19] thanhtai9606 opened #8878 "Exception Publish project"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework 4.3.0 & .Net 5.0**.
* Your database provider EF Core
* Exception message and **stack tra

[2021-05-04 09:40] realLiangshiwei commented on #8878
`System.ArgumentNullException: Value cannot be null. (Parameter 'connectionString')`

Please check your application's `appsettings.json` file

[2021-05-04 09:43] thanhtai9606 commented on #8878
my appsetting.json
[code]
it exists in appsettings.json. But when I publish it is difference
[code]
there is only one file appsetting.json

[2021-05-04 10:09] realLiangshiwei commented on #8878
I think this is not an issue of ABP,  you should double-check your project.

In fact, this is a problem with the application configuration, You should use the correct appsettings.json file

[2021-05-04 10:09] #8878 closed, assigned to nobody

[2021-05-04 10:17] gregbrant2 commented on #8110
@mehmet-erim would it be able to get an update on this. There are still issues with having multiple modals open.

[2021-05-04 10:21] mehmet-erim commented on #8110
Hi @gregbrant2,

We will work on this. It'll probably be fixed in v4.3.1.

Thanks!

[2021-05-04 10:50] gregbrant2 opened #8879 "How to implement Save without Close in Angular Modal"
* Your **ABP Framework version**. 4.3
* Your **User Interface** type: Angular
* Your database provider(EF Core/MongoDB): EF
* Exception message and **stack trace** if available (check the logs). : N/A
* Steps needed to **reproduce** the problem.

I want to implement a "Save without close" action on my modals but they always throw a warning that there is unsaved data. The code generated by ABP Suit

[2021-05-04 11:30] leonkosak commented on #8871
[code]

Adding console.log around $(function () {}); solved issue.
Thank you.

[2021-05-04 11:30] #8871 closed, assigned to nobody

[2021-05-04 13:02] LuisPignataro commented on #8837
Thank you very much, that was it!

[2021-05-04 13:04] #8679 closed, assigned to maliming

[2021-05-04 13:23] ahmadmasoum opened #8881 "Hangfire Cannot access a disposed context instance"
* Your **ABP Framework version** 4.3.
* Your **User Interface** Angular
* Your database providerEF Core
* Exception message and **stack trace** if available (check the logs).

[code]
* Steps needed to **reproduce** the problem.

I am trying to set up a Hangfire recurrent job on application startup, but if I try to use an injected IRepository inside the job; it gives me error mentioned above

I've

[2021-05-04 22:01] hikalkan opened #8885 "ABP CLI batch command"
`abpc batch <file>` executes multiple command in the given text file where each line contains a single command.

`#` is allowed as comment line (should start with)
empty lines are allowed

[2021-05-04 22:06] #8885 closed, assigned to hikalkan

[2021-05-04 22:07] hikalkan opened #8886 "ABP CLI prompt command"
`abp prompt` starts with prompt mode, so user can execute multiple commands without re-running the CLI separately for each command (after opening the prompt mode, no need to write `abp` again). We simply get a command, execute it and re-request for a new command, until user writes `exit`.

[2021-05-04 23:24] hikalkan opened #8887 "Remove ModelBuilderConfigurationOptions classes"
They was introduced to pass DbTablePrefix and DbSchema while calling the module mapping configuration, like `modelBuilder.ConfigureIdentity(options => { ... });`. However, they are not pratically being used, because it has some implementation problems (module's dbcontext can not use these options on runtime. if you change DbTablePrefix, then module will fail). It is recommended to use the static p

[2021-05-04 23:52] djlaney3 opened #8888 "Using a default project setup, currentUser.IsInRole always returns false."
I pulled a new blazor client side application project to try.  Using the admin to login, which is assigned the admin role, IsInRole always returns false.  I even created some new roles, assigned them in the UI, and they return false.

[2021-05-04 23:53] hikalkan opened #8889 "Introduce ReplaceDbContextAttribute"
Consider the following code:

[code]

If we have a `ReplaceDbContextAttribute`, then we can add it on the `MainDbContext` and remove the `options.ReplaceDbContext<IIdentityDbContext>();` usage.

[code]

Please also update the documentation ([ef](https://docs.abp.io/en/abp/latest/Entity-Framework-Core#replace-other-dbcontextes) & [mongo](https://docs.abp.io/en/abp/latest/MongoDB#replace-other-dbcon

[2021-05-05 00:14] hikalkan opened #8890 "Get connection string name from the replaced dbcontext"
If I replace a dbcontext, then it should get the connectionstring name from the target dbcontext's `ConnectionStringName` attribute. This removes the need to define database and group connections when we replace dbcontexts in a multiple-db application.

[2021-05-05 00:17] #8890 closed, assigned to hikalkan

[2021-05-05 01:20] maliming commented on #8881
Can you try to use `for loop`?

[2021-05-05 01:36] maliming commented on #8888
hi

* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-05-05 02:44] #7786 closed, assigned to mehmet-erim

[2021-05-05 03:41] 0andy opened #8892 "Is it possible to create/register/new user without email?"
I see here is Required. Is it possible we can remove/disable Required for email?

Thanks,

    public abstract class IdentityUserCreateOrUpdateDtoBase : ExtensibleObject
    {
        [Required]
        [EmailAddress]
        [DynamicStringLength(typeof(IdentityUserConsts), nameof(IdentityUserConsts.MaxEmailLength))]
        public string Email { get; set; }

[2021-05-05 05:10] #8845 closed, assigned to maliming

[2021-05-05 06:32] maliming commented on #8892
You can create your own services and DTOs to create/register/new users without email.

These modules are open-source.

[2021-05-05 06:32] #8892 closed, assigned to nobody

[2021-05-05 06:34] maliming opened #8895 "Add document for SimpleStateChecker & Update State Provider document."
https://github.com/abpframework/abp/pull/8742
https://github.com/abpframework/abp/pull/8663

[2021-05-05 06:35] emilsjog commented on #8818
I've tested wit userFriendlyException but there is no _custom message modal_. What type of exception did you use @stsrki to trigger the modal? We migrated from WASM to blazor-server and this worked nicely before the migration so there could also be something missed in the upgrade.

[2021-05-05 07:07] sofm13 opened #8896 "Entity Class inject fail"
Entity Class inject autofac fail,when Entities are derived from the Entity<TKey>,this Entities  Repository haven't inject

ABP Framework version is 4.3

[2021-05-05 07:22] maliming commented on #8896
Can you explain it in detail?

* Steps needed to **reproduce** the problem.

[2021-05-05 07:32] sofm13 commented on #8896
i have three Entity,Product and Category derived the FullAuditedAggregateRoot<Guid>,like this
![image](https://user-images.githubusercontent.com/52565295/117108916-7267f200-adb6-11eb-867a-b8e148f11a45.png)
![image](https://user-images.githubusercontent.com/52565295/117108942-7d228700-adb6-11eb-9894-e8d970f880ac.png)

but ProductCategory derived the Entity<Guid>
![image](https://user-images.githubu

[2021-05-05 07:37] maliming commented on #8896
You need set **includeAllEntities**.
[code]

https://docs.abp.io/en/abp/latest/Entity-Framework-Core#add-default-repositories

[2021-05-05 07:37] #8896 closed, assigned to nobody

[2021-05-05 09:05] ahmadmasoum commented on #8881
@maliming
the exception throws here
[code]

[2021-05-05 09:16] maliming commented on #8881
Maybe you can try to create a uow in `BookingAlarmFunction` method manually?

[code]

[2021-05-05 09:16] ilkayilknur commented on #8870
Duplicate #8423

[2021-05-05 09:16] #8870 closed, assigned to nobody

[2021-05-05 09:30] ahmadmasoum commented on #8881
Well that did the trick thank you

[2021-05-05 09:36] #8881 closed, assigned to nobody

[2021-05-05 11:44] djlaney3 commented on #8888
Version is 4.3
To reproduce, download a new project, targeting -> Application, BlazorWebAssembly, Entity Framework Core, SQL Server, Not Tiered.  Run the initial migration.  Run the project, add a new role, assign that role to the admin user.  Stop and start debugging again, then log in with the admin user.  In the Project.Blazor project, breakpoint inside of ConfigureUserMenuAsync, at this point,

[2021-05-05 11:54] djlaney3 commented on #8888
I did just run another test, if the user only has one role, isInRole returns true.  So the problem is when the user is in multiple roles.

[2021-05-05 15:31] vicenteyu opened #8901 "4.3.0 iasyncbackgroundjob-can-not-be-invoked"
`
public class TestJobArgs
    {
        public string ArgA { get; set; }
        public string ArgB { get; set; }
    }

    public class TestJob : AsyncBackgroundJob<TestJobArgs>, ITransientDependency
    {
        private readonly ISettingProvider _setting;
        public TestJob(ISettingProvider setting)
        {
            _setting = setting;
        }
        public override async Task Exe

[2021-05-05 21:08] KevinFarrow opened #8902 "Blazor Solution corrupt after adding theme source"
ABP Framework version 4.3.0
User Interface** type (Angular/MVC/React... etc.) : Blazor WebAssembly
* Steps needed to **reproduce** the problem.

1. Create new Blazor WebAssembly solution
2. Navigate to Blazor project folder
3. Run the following:

- abp add-package Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme --with-source-code --add-to-solution-file
- abp add-package Volo.Abp.AspNetCore.C

[2021-05-05 21:41] KevinFarrow opened #8903 "Blazor Server _ViewImports Warning"
ABP Framework version: 4.3.0
User Interface** type (Angular/MVC/React... etc.) Blazor Server

When compiling a Blazor Server solution the following warning appears:

_**15>C:\Projects\TESTING\src\TESTING.Blazor\obj\Debug\net5.0\Razor\Pages\_ViewImports.cshtml.g.cs(4,100,4,118): warning CS0436: The type 'Pages__ViewImports' in 'C:\Projects\TESTING\src\TESTING.Blazor\obj\Debug\net5.0\Razor\Pages\_Vi

[2021-05-05 23:20] Trojaner commented on #8853
Thank you. I tried the solution posted by @jonechenug and it worked perfectly.

[2021-05-05 23:20] #8853 closed, assigned to nobody

[2021-05-06 00:24] johan-developer commented on #1517
I have the same issue without any solution yet.

[2021-05-06 00:35] realLiangshiwei commented on #8903
See https://github.com/abpframework/abp/pull/8838

Try to add `common.props` to blazor project

[2021-05-06 00:35] #8903 closed, assigned to nobody

[2021-05-06 00:55] maliming commented on #8901
Can you share the full steps needed to **reproduce** the problem?

[2021-05-06 00:58] #8819 closed, assigned to yekalkan

[2021-05-06 01:03] johan-developer commented on #1517
I already do this and navigation property display:
Invalid object name 'AppUser'
Then not found for me.

[2021-05-06 01:56] maliming commented on #8888
Try to use `AbpAccountClaimsPrincipalFactory`.

https://github.com/dotnet/aspnetcore/issues/23895#issuecomment-657631709

[code]

[code]

[2021-05-06 02:18] vicenteyu commented on #8901
Sorry, My fault. The code runs well.

[2021-05-06 03:00] #7970 closed, assigned to nobody

[2021-05-06 03:52] vicenteyu commented on #8901
The problem reproduce when i moved class file to a new project.

Step 1:
Create a solution "BookStore"

Step 2:
Add a new project "NewClass"

Step 3:
Add a new file "TestJobArgs.cs" to  "NewClass", Paste the code:
[code]
Add  a dependency project "BookStore.Domain"

Step 4:
"BookStore.Web/Pages/Index.cshtml.cs" replace "IndexModel" :
[code]

Build and run.

Error Message:
Volo.Abp.AbpException: Un

[2021-05-06 04:53] realLiangshiwei commented on #8901
You need make `NewClass` project to be abp module

[2021-05-06 05:02] #8901 closed, assigned to nobody

[2021-05-06 06:09] radrad opened #8905 "How to monetize Abp framework as a multi-tenant SaaS solution on Azure Marketplace"
### Documentation
It would be great if you can publish your SaaS solution and start generating revenue by making it available to potential buyers on Microsoft AppSource and Azure Marketplace. Ercenk Keresteci joins Scott Hanselman to cover the technical details of integrating a solution with Microsoft's commercial marketplace, including how to use scripts for provisioning and de-provisioning a cus

[2021-05-06 08:42] idreeshaddad commented on #7776
Thank you @armanozak it worked.
And for those who might stumble upon this issue: **Do not forget to npm install after you change the schematics version**, then abp generate-proxy , and enjoy programming.

[2021-05-06 09:18] sachindratomer opened #8907 "oData or GraphQL Support on ABP.io Framework"
We are exploring ABP.IO framework to utilize it for new development. There is a requirement that leverage oData or GraphQL capabilities. We have found previous framework ABPboilerplate has capabilities for oData but ABP.IO we didn't any reference for oData. We have a couple of questions on the same.

1.	Do you have any plan to provide oData or GraphQL support in the near future, if yes what’s the

[2021-05-06 09:54] realLiangshiwei commented on #8907
See https://github.com/abpframework/abp/issues/4132

[2021-05-06 09:54] #8907 closed, assigned to nobody

[2021-05-06 10:17] sachindratomer commented on #8907
@realLiangshiwei  - Thanks for sharing the link, Above example does not demonstrate IQueryable instead it's based on IEnumerable. when you replace IEnumerable with IQueryable you will get error mentioned in 2.d as DBContext is disposed of before oData options applies on it.

if you can reply to my questions it will be helpful.

[2021-05-06 10:26] realLiangshiwei commented on #8907
See https://support.abp.io/QA/Questions/799/PowerBI#answer-ec6114b3-66e2-55eb-c64c-39fa2fd53ea1

[2021-05-06 10:46] sachindratomer commented on #8907
@realLiangshiwei - In your sample returning IQueryable is not an issue (pls refer below code). I am getting below error message - DBContext has been closed, Any suggestion?
ex,
![image](https://user-images.githubusercontent.com/40390988/117285974-43b94c80-ae86-11eb-8f12-e5b108cd3296.png)

Error:
System.ObjectDisposedException: Cannot access a disposed context instance. A common cause of this error

[2021-05-06 11:21] eneskoroglu opened #8909 "Split Hangfire Job Server and Hangfire Dashboard Applications"
See https://github.com/abpframework/abp/tree/dev/modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.HangFire

_Originally posted by @realLiangshiwei in https://github.com/abpframework/abp/issues/4799#issuecomment-660411373_

* Your **ABP Framework version:** 4.3.0
* Your database provider(EF Core)
* Steps needed to **reproduce** the problem.

We use PostgreSql. We are trying to process Ha

[2021-05-06 12:06] realLiangshiwei commented on #8907
I have updated the example project: https://github.com/realLiangshiwei/AbpOdataDemo/commit/6cf03b6cce608818679d03a00d40541036c66cf7

![image](https://user-images.githubusercontent.com/16813853/117295459-75daa680-aea6-11eb-9e97-1ba9203c39ca.png)

[2021-05-06 13:01] yekalkan commented on #8902
Hi,

I exactly followed these steps but couldn't reproduce the issue. Projects are added correctly.

Also, i checked the cli code that handles this operation, and i see that it shouldn't fail unless the solution is empty.

https://github.com/abpframework/abp/blob/baa6acc9a2ad59488a2e85ae7634659dea5dc1db/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionFileModifier.cs#L51

[2021-05-06 13:34] sachindratomer commented on #8907
@realLiangshiwei - Thanks for your efforts, It seems your project reference an older version of ABP.IO as inheriting it from oDataController remove it from the Swagger list. though i tried to register it via Dependndency (Pls refer below).
I downgraded my oData version to same as yours still issues persist. Can you please validate issues with the latest version of ABP?
as it seems ABP version is c

[2021-05-06 16:07] mrs01dev commented on #6126
Please consider using
https://github.com/MassTransit/MassTransit
for communication with  Service Bus ( RabbitMQ, Azure Service Bus, ActiveMQ, and Amazon SQS/SNS )

[2021-05-06 16:15] hikalkan commented on #8863
Implementing `IHasExtraProperties` for `AbpDbContext` is not a good idea, and I think we don't get/set extra properties on this object.
However, I see `ObjectExtensionManager.AddOrUpdate` forces us to implement it, so you're right, I didn't think about it. We have two options;

1. Remove `where TObject : IHasExtraProperties` restrictions, so any object can be extensible.
2. Create another system t

[2021-05-06 22:06] KevinFarrow commented on #8902
@yekalkan Thanks for your help. I'll close this as I have fixed the problem in my project.

[2021-05-06 22:06] #8902 closed, assigned to yekalkan

[2021-05-06 22:20] KevinFarrow commented on #8903
@realLiangshiwei Thanks for your help. That removed the warning.

[2021-05-07 00:16] hikalkan opened #8912 "Consider to add readme files to nuget packages"
https://devblogs.microsoft.com/nuget/add-a-readme-to-your-nuget-package/

We can add a small info for each package (at least, to major feature packages), then forward to the related page in our documentation. If no direct document, we can just redirect to the home page of the documentation website.

[2021-05-07 01:56] xyfy commented on #7978
if you want to use *cellphone&password* to login， you can  just find the user by phone ,then use the username to login

if you want to use *cellphone&validatecode* for app login,you could implement the interface `IdentityServer4.Validation.IExtensionGrantValidator`,it should be helpful when you used webapi which is stateless

[2021-05-07 01:57] maliming commented on #8863
I agree with this.

[2021-05-07 02:00] realLiangshiwei commented on #8863
I agree with options 1

We need remove all `IHasExtraProperties` restrictions of `ObjectExtensionManager` and `ObjectExtensionInfo` classes.

https://github.com/abpframework/abp/blob/1153bb3cd783b65f894d9a17eb22b4b834d98a34/framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ObjectExtensionManager.cs#L53

https://github.com/abpframework/abp/blob/1153bb3cd783b65f894d9a17eb22b4b834d98a34

[2021-05-07 02:40] nguyenquanghuyit opened #8913 "add internal distinguishing lines in dropdown menu rowAction of datatables"
![image](https://user-images.githubusercontent.com/52340160/117390388-45335500-af18-11eb-967f-364601ebea8c.png)

[2021-05-07 02:43] nguyenquanghuyit commented on #8913
How to add a line between two items in dropdown menu of rowAction datatables

[2021-05-07 03:08] realLiangshiwei commented on #8913
See https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Guide

[2021-05-07 03:08] #8913 closed, assigned to nobody

[2021-05-07 03:53] nguyenquanghuyit commented on #283
Dear!
How to add line to separate between menu dropdown ITEM#1 and ITEM #2
 {
                                    text: "ITEM#1",
                                    icon: "circle",
                                    action: function (data) {
                                        console.log(data.record);
                                    }
                                },
// How to add a l

[2021-05-07 04:46] send2vinnie opened #8915 "Update to the feature documentation is needed"
It's obvious that the documentation for the feature system was written based on the permission system documentation so there got some permission related terminologies remaining unedited over the following documentation:

https://docs.abp.io/en/abp/latest/Features

[2021-05-07 05:16] realLiangshiwei commented on #8915
I can't get your point., can you explain in detail?

[2021-05-07 07:33] nguyenquanghuyit commented on #8913
Sorry, I've seen it, but only support add more text option. Not support html tag in RowAction. Can you help me, thanks!
Example: columnDefs: [
                {
                    title: "Action",
                    rowAction: {
                        items:
                            [
                                {
                                    text: "Details",

[2021-05-07 07:41] realLiangshiwei commented on #8913
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Entity-Action-Extensions#add-the-file-to-the-user-management-page

You can use js to add dom element.

[2021-05-07 09:43] maliming commented on #283
@nguyenquanghuyit Please create a new issue and explain it in detail.

[2021-05-07 10:35] pl-raelo opened #8917 "System.ObjectDisposedException: Cannot access a disposed object."
To give more context we have a ASP.NET Core abp framework with GraphQL setup. It is all working good but when we deploy this in the environment with load balancer it is failing with error below.

[code]

[2021-05-07 10:35] guolianyu opened #8918 "How to MVC / Razor Pages modules can work seamlessly in the Blazor Server applications?"
How to MVC / Razor Pages modules can work seamlessly in the Blazor Server applications?
I tried to use cmskit,but nothing happens, can't see the menus、permissions

[2021-05-07 13:11] d-oit opened #8920 "AbpCrudPageBase - DeleteEntityAsync: Add OnDeletedEntityAsync()"
Abp 4.3

analogous to Create/Update

Use case: show up a notify message after delete.

[2021-05-07 13:29] d-oit commented on #8920
#8921

[2021-05-07 13:53] enisn commented on #8796
Hi @mgochmuradov,

Most of the features have components such as [CommentingViewComponent](https://github.com/abpframework/abp/blob/dev/modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Commenting/CommentingViewComponent.cs), [RatingViewComponent](https://github.com/abpframework/abp/blob/dev/modules/cms-kit/src/Volo.CmsKit.Public.Web/Pages/CmsKit/Shared/Components/Rating/Rat

[2021-05-07 15:39] hikalkan opened #8922 "Upgrading to Bootstrap 5.0"
[Bootstrap 5 has officially released](https://blog.getbootstrap.com/2021/05/05/bootstrap-5/).

I want to inform the community about upgrading ABP to BS 5.0.

We are planning to upgrade ABP Framework to BS 5.0 with ABP 5.0 since it is a major breaking change. ABP 5.0 is planned for end of this year, based on .NET 6.0.

We think ABP's UI library dependencies will be compatible to BS 5.0 until that t

[2021-05-07 15:45] stsrki commented on #8922
Also planned to start soon https://github.com/stsrki/Blazorise/issues/1103#issuecomment-833352184

[2021-05-07 17:15] alexandis opened #8924 "Cannot make abp-modal draggable"
4.3.0 / Angular

I can make an ordinary `NgbModal` draggable using the following markup:

[code]

However, when I try to figure out how to drag `<abp-modal/>` - I have no idea. Please advise.

[2021-05-07 18:15] leonkosak commented on #6084
@maliming, what happens if you change StringEncryption:DefaultPassPhrase in appsettings.json after installation is done, but you haven't use StringEncryptionService in custom (tour own) code?

When you create new host database or tenant database and default admin is created - id StringEncryption:DefaultPassPhrase from appsettings.json used for password encryption?

[2021-05-07 22:27] mooresway commented on #7221
Microsoft on the topic:
[https://devblogs.microsoft.com/aspnet/asp-net-core-6-and-authentication-servers/](https://devblogs.microsoft.com/aspnet/asp-net-core-6-and-authentication-servers/)

[2021-05-08 01:25] #8920 closed, assigned to nobody

[2021-05-08 03:40] #7899 closed, assigned to nobody

[2021-05-08 03:40] #7890 closed, assigned to armgnunlu

[2021-05-08 05:33] send2vinnie commented on #8915
By searching the keyword "permission" throughout the document and the problematic paragraphs come up.

All the "permission" appear above should be corrected to "feature".

[2021-05-08 05:45] weiwxg opened #8926 "What does Volo means?"

[2021-05-08 05:55] maliming commented on #8926
It's the company name.

https://volosoft.com/

[2021-05-08 05:55] #8926 closed, assigned to nobody

[2021-05-08 06:10] sgalcheung opened #8927 "Many to Many question: Modify the name of the intermediate table"
The generated intermediate table does not add the module name, can ef allow pre-processing one by one

[2021-05-08 08:13] yunmengzejun520 commented on #8645
I have the same problem.And I debug it.
The source code in project Volo.Abp.Domain.EntityFrameworkCore -> InsertAsync
![image](https://user-images.githubusercontent.com/7907865/117532006-e6ed9b80-b017-11eb-982f-120e007835e6.png)

Source code in project Abp.EntityFrameworkCore -> EfCoreRepositoryBaseOfTEntityAndTPrimaryKey
![image](https://user-images.githubusercontent.com/7907865/117531986-d0dfdb0

[2021-05-08 09:06] eneskoroglu commented on #8909
We have disabled **JobExecution** by setting ```IsJobExecutionEnabled = false```

https://docs.abp.io/en/abp/latest/Background-Jobs#disable-job-execution

[2021-05-08 09:06] #8909 closed, assigned to nobody

[2021-05-08 10:56] gdlcf88 opened #8928 "The Blazorise modal backdrop doesn't work well in ABP v4.3.0"
![image](https://user-images.githubusercontent.com/30018771/117536630-aa796a00-b02e-11eb-90f8-4d5cc4063895.png)
As you can see, after upgrading to ABP v4.3.0, some elements are not covered by the modal backdrop.

Maybe it is related to https://github.com/abpframework/abp/issues/7997#issuecomment-793534862?

[2021-05-08 15:57] davidcateduclarity opened #8929 "Documentation Request: Adding Items/Components to main toolbar"
I am requesting that documentation be created, which could go into the How do I section, or even blog posts on how to add items to the main top toolbar  (Im personally using  4.3 commercial).

the current documentation seems to be disjointed and incomplete.

Many thanks,

--Dave

[2021-05-08 20:00] hikalkan opened #8930 "Docs module nav menu text size improvements"
We use smaller font-sizes in sub menus that makes it hard to read after 3. level:

![image](https://user-images.githubusercontent.com/1210527/117551795-a8280780-b050-11eb-871e-cfa2a81c0209.png)

I suggest two improvements;

- [x] Use larger fonts for sub menus. _Entities & Aggregate Roots_ can be same as _Domain Layer_ in this screen shot, for example.
- [x] Use larger width for the navigation are

[2021-05-08 20:36] #7875 closed, assigned to nobody

[2021-05-08 23:28] antosubash commented on #8023
Create a youtube video on how to do this.

Here is the video: https://www.youtube.com/watch?v=6By_lKDyTGg&ab_channel=AntoSubash

Repo: https://github.com/antosubash/AuthChange

[2021-05-08 23:29] tntwist commented on #8928
Hi,
the modal backdrop element was removed in blazorized 0.9.3: See here : https://blazorise.com/docs/components/modal/

[2021-05-09 00:31] realLiangshiwei commented on #8023
Great, we welcome your article contribution

[2021-05-09 02:40] Y2zz commented on #2611
Can I understand that the current tenant is an OEM identification code. In fact, according to the understanding of SAAS products in China, the function of team isolation should be realized by itself, and the tenant should not be relied on

[2021-05-09 08:57] mehmetuken opened #8931 "Blazorise DataGrid Localizer"
How localize in abp Blazorise components?

[2021-05-09 13:39] ebicoglu commented on #3111
Added more supported languages
- typescript
- csharp,
- json,
- aspnet,
- bash,
- css,
- css-extras,
- docker,
- javascript,
- less,
- markdown,
- nginx,
- powershell,
- regex,
- sass,
- scss,
- sql,

And typescript works now
![image](https://user-images.githubusercontent.com/9526587/117574260-f4bd2280-b0e4-11eb-96e6-d4cf02fd2333.png)
![image](https://user-images.githubusercontent.com/9526587/1175

[2021-05-09 13:49] #3111 closed

[2021-05-10 00:58] maliming commented on #8917
Are you using aspnetboilerplate?

[2021-05-10 01:01] maliming commented on #6084
IStringEncryptionService will be used to encrypt settings and some configurations, etc., it will not be able to decrypt correctly after the change,

No,

[2021-05-10 01:03] maliming commented on #8928
hi @stsrki Can you check this?

[2021-05-10 01:05] maliming commented on #8931
You can check the localization of Blazor.

https://docs.abp.io/en/abp/latest/UI/Blazor/Localization

[2021-05-10 02:15] sofm13 opened #8937 "Can i use efcore and mongodb on a project?"
now i use efcore and mongodb on a project,but when i use mongodb have error;
- Exceptions:
  - Standalone servers do not support transactions.
    System.NotSupportedException: Standalone servers do not support transactions.
   at MongoDB.Driver.Core.Bindings.CoreSession.EnsureTransactionsAreSupported()
   at MongoDB.Driver.Core.Bindings.CoreSession.EnsureStartTransactionCanBeCalled()
   at MongoD

[2021-05-10 02:26] maliming commented on #8937
You can't use MongoDB and ef core in a project at the same time, but can use they in two separate modules

[2021-05-10 02:26] #8937 closed, assigned to nobody

[2021-05-10 02:27] maliming commented on #8929
Can you point out which document is wrong or incomplete?

[2021-05-10 02:35] sofm13 commented on #8937
now i have two moudule,efcore project and mongodb project,but use on a repository

[2021-05-10 02:40] maliming commented on #8937
Start from document.
https://docs.abp.io/en/abp/latest/Data-Access
https://docs.abp.io/en/abp/latest/Module-Development-Basics

[2021-05-10 03:19] qzwzqty opened #8938 "abp-select TagHelper.AspFor always null"
I use abp-select like this in razor page
[code]
![Snipaste_2021-05-10_11-13-28](https://user-images.githubusercontent.com/23160268/117601675-87130400-b181-11eb-9175-2052906ef983.jpg)

[2021-05-10 03:21] realLiangshiwei commented on #8938
See https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Form-elements#abp-select

[2021-05-10 03:28] qzwzqty commented on #8938
@realLiangshiwei
I mean I don't need to set asp-for, so it will report an error here

[2021-05-10 05:57] realLiangshiwei commented on #8938
`abp-select` is a form element, `asp-for` option is required, you can use `@Html.DropDownList()` instead of `abp-select`.

[2021-05-10 05:57] #8938 closed, assigned to nobody

[2021-05-10 06:19] pmobin opened #8941 "Need More Info on this"
@maliming  hi. I am a newbie at sqlite but not sql itself. I want to do what you suggested but don't know where the file is to insert or modify as you suggested. How do I do this config change?

Many thanks.

Try completely disable the database transactions for sqlite.

Configure<AbpUnitOfWorkDefaultOptions>(options =>
{
    options.TransactionBehavior = UnitOfWorkTransactionBehavior.Disabled;
});

[2021-05-10 06:40] leonkosak commented on #7709
@maliming, is there a way how to remove abp-related (for abp tables) dataseeding?
Our scenario:
We have **module** (with dataseeder logic for some of our tables) and this module is "wrapped" in abp **application**, but this application is only "dedicated" DbMigrator app, which has connection string to existing database. For this existing database, we have separated migrator application and therefo

[2021-05-10 07:07] sachindratomer opened #8948 "ABP Module exposing IQueryable via Controller fails as an underlying data source is disposed. Pre-requisite for oData Implementation"
We have observed one issues during oData implementation with ABP Module development,. This issues is not coming if controller is implemented in Application. Please refer underneath details.
1.	OData required IQueryable to be returned from Controller method like Get. Please refer below example
        [EnableQuery]
        public IQueryable Get()
        {
         _claimRepository.GetDbSet().AsQue

[2021-05-10 07:08] qzwzqty commented on #8938
@realLiangshiwei  ok, thx

[2021-05-10 07:14] stsrki commented on #8928
This is in fact the expected behavior. Nested modals are not supported by the bootstrap, see here https://getbootstrap.com/docs/4.6/components/modal/

In the previous version of Blazorise, the modal backdrop was placed **inside** of the modal element and while it was working for the most part, it was messing with the page overflow and it was affecting some other z-order rules. There was no way aro

[2021-05-10 07:25] PooriaShariatzadeh commented on #3409
I have the same problem can you please explain how to resolve it

[2021-05-10 07:25] PooriaShariatzadeh commented on #3409
I have the same problem can you please explain how to resolve it

[2021-05-10 07:48] sgalcheung commented on #6896
Just simply call _organizationUnitManager.FindChildrenAsync(organizationUnit.Id);
This problem will arise because he calls GetChildrenAsync(), which uses queryable.Include(x => x.Roles); to query OrganizationUnitRole

[2021-05-10 07:49] sgalcheung commented on #6896
Just simply call _organizationUnitManager.FindChildrenAsync(organizationUnit.Id);
This problem will arise because he calls GetChildrenAsync(), which uses queryable.Include(x => x.Roles); to query OrganizationUnitRole

[2021-05-10 07:52] sgalcheung opened #8949 "Do not use foreign keys and navigation properties in different modules, they are in different dbContext"
For example,

I added these 2 lines in the AppUser entity or any entity I did,  I just did one entity and one page, very simple, the error occurs when I open the page, but the Roles and Users pages no problem. but it works if I comment the public OrganizationUnit OrganizationUnit { get; set; } line.

and the error occurs when I run the add-migration in the EntityFrameworkCore project.

 public Gui

[2021-05-10 08:04] sgalcheung commented on #8949
Also encountered this problem, there are some sql statements
[code]

[2021-05-10 08:10] leunghoary opened #8950 "Cannot use table 'AbpUsers' for entity type 'IdentityUser'"
Abp version：4.3.0
MVC
database provider：EF Core
Exception：InvalidOperationException: Cannot use table 'AbpUsers' for entity type 'IdentityUser' since it is being used for entity type 'AppUser' and potentially other entity types, but there is no linking relationship. Add a foreign key to 'IdentityUser' on the primary key properties and pointing to the primary key on another entity typed mapped to '

[2021-05-10 08:20] maliming commented on #8950
Please provide the full steps from the template project.

[2021-05-10 08:42] leunghoary commented on #8950
1. Update DbContext.OnModelCreating to configure the mapping for your new property
                            2. Update EfCoreEntityExtensionMappings to extend the IdentityUser entity and add "Avatar" to the migration.
                            3.  implements  IIdentityDbContext  interfaces of DbContext
                            4. Use the Add-Migration to add a new database migration.

[2021-05-10 08:45] realLiangshiwei commented on #8948
Hi,

Can you use CLI to create a new project to reproduce this problem? thanks.

[2021-05-10 09:05] sgalcheung opened #8951 "The navigation 'IdentityUser.Roles' cannot be loaded because the entity is not being tracked. Navigations can only be loaded for tracked entities"
this because constraint PasswordRequiresNonAlphanumeric;PasswordRequiresLower;PasswordRequiresUpper.

[code]

[2021-05-10 09:06] #8951 closed, assigned to nobody

[2021-05-10 09:21] bnymncoskuner opened #8952 "NgbDatepickerConfig is missing default value of container"
Datepicker should always be appended to the body. However, the `container` input of `ngbDatepicker` is `-` which should be `body`.

[2021-05-10 09:26] AdemAygun opened #8954 "UseUnitOfWork middleware prevents rollback on exception"
* Your **ABP Framework version** : 4.3
* Your database provider(EF Core/MongoDB) : *EF Core*
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.

We upgraded from 4.1 to 4.3 and added `app.UseUnitOfWork();` in HostModule regarding to Abp Suite generated application service template.  `SaveChanges` method is called although gett

[2021-05-10 09:29] mshayesteh301 opened #8955 "CurrentUser.IsAuthenticated is false when using jwt bearer instead of cookie auth"
I am using jwt for authentication with Identity not IdentityServer.
Authentication is done and claims are filled and User.Identity.IsAuthenticated is true but CurrentUser.IsAuthenticated is false.

Here is my code in module ConfigureServices :
[code]
Has anyone had a similar experience?

[2021-05-10 09:41] maliming commented on #8955
Can you share your claims info of `HttpContext.User.Claims`?

[2021-05-10 09:44] maliming commented on #8954
See https://github.com/abpframework/abp/issues/8740#issuecomment-825637586

[2021-05-10 09:50] sgalcheung commented on #8949
This may be because you forgot to register AbpIdentityDomainModule，and do not use navigation properties, get OrganizationUnit through OrganizationUnitManager，because they are in different modules, different dbcontext

[2021-05-10 09:50] #8949 closed, assigned to nobody

[2021-05-10 09:52] mshayesteh301 commented on #8955
![Capture](https://user-images.githubusercontent.com/8945396/117641238-2d1f3800-b19b-11eb-9d44-189903212ee6.JPG)

[2021-05-10 10:52] mshayesteh301 commented on #8955
I found it.
I removed DefaultSchemes of AddAuthentication and problem solved

[2021-05-10 11:06] mshayesteh301 commented on #8955
Problem exists. I made a mistake.

[2021-05-10 12:12] #8952 closed, assigned to bnymncoskuner

[2021-05-10 12:17] ebicoglu opened #8959 "ABP CLI validate project name"
ABP CLI doesn't perform any validation on project/solution names. Don't allow invalid project names.

1- Create a `BannedProjectNames` collection and add these items. Don't allow these names
- MyCompanyName.MyProjectName
- MyProjectName

2- Don't allow the invalid characters that Microsoft doesn't allow.
 ![image](https://user-images.githubusercontent.com/9526587/117657065-cea98800-b1a1-11eb-98db-

[2021-05-10 13:18] bnymncoskuner commented on #8804
We use ng-bootstrap modal within `abp-modal`. I've just checked your repo and found out that you defined your inner modal as a child of the outer one as follows

[code]

Simply move inner `modal` to the outside of first `modal` as follows:

[code]

I've tested this with your code and scrolling works as intended.

[2021-05-10 13:23] hikalkan commented on #8863
Which class name? Renaming `ObjectExtensionManager` to `ObjectConfigurationExtensionManager`? That's an impossible breaking change :)

[2021-05-10 13:24] fileman opened #8962 "docs.abp.io search return emtpy page result"
docs.abp.io search return emtpy page result
![image](https://user-images.githubusercontent.com/17230763/117666041-bc304e00-b1a3-11eb-9b86-7bbe87617a28.png)

[2021-05-10 14:20] ilkayilknur commented on #8962
Thanks for letting us know, @fileman. The team is working on that. I'll let you know when we fix the problem.

[2021-05-10 14:23] fileman commented on #8962
yesterday search was ok, if can help to solve

[2021-05-10 14:28] ilkayilknur commented on #8941
You can place them in the EF Core module or web module.

[code]

[2021-05-10 16:45] aelhadi opened #8971 "Identity Server "/connect/introspect" not reachable"
Hello,

i'm able to get token for à thirdpart app (angular) by querring : https://myIdp/connect/token (work fine)
and i need to also validate my token by using introspection on https://myIdp/connect/introspect  ....

the probleme is i can reache it, i'm getting 404, i 'also used Postman without success...

Any help please

* ABP Framework version** : 4.3
* User Interface** type (Angular)
* Your da

[2021-05-10 16:59] pmobin commented on #8941
Thanks for the reply.

I am using sqlite locally. I don’t seem to find these files. Are they part of the compilation process of sqlite? I just have sqlite3 downloaded and it has an .exe a .def and a .db file. Also is sqlite notoriously slow? I am doing 20 row selects and it is taking a second or so.

From: İlkay İlknur ***@***.***>
Sent: Monday, May 10, 2021 7:29 AM
To: abpframework/abp ***@***.**

[2021-05-10 18:18] alaawahbah commented on #8768
Hi I solve all bugs, i publish the code on different ports on same server the login button don't redirect to backend to do login

constructor(
    private authService: AuthService,
    private oAuthService: OAuthService  ) {}
this.authService
      .login({
        username: 'admin',
        password: '1q2w3E*',
       // rememberMe: true,
        //redirectUrl:environment.application.baseUrl + th

[2021-05-10 22:58] hikalkan opened #8972 "Blazor WASM: Support applications without authentication"
Currently, if authentication was not setup, blazor wasm applications can't run.

[2021-05-10 22:59] #8972 closed, assigned to hikalkan

[2021-05-10 22:59] hikalkan commented on #8972
To use it,

Replace this:

[code]

with

[code]

in your module class (of the blazor wasm app).

[2021-05-10 23:14] barnybadzoo opened #8973 "Howto use camelCase with MVC ?"
ABP: 4.3.0
UI: MVC / DevExtreme
Database: EF Core

I couldnt find any info in your documentation about the right approach.
I am using the App Template and DevExtreme for my UI and need to convert the response from GetListAsync()  to camelCase, because it returns all Fields in PascalCase.

So i tried to adding this to ConfigureServices in the SampleApplicationModule.cs:

            Configure<AbpSy

[2021-05-11 00:21] hikalkan commented on #8927
I think this is unrelated to the ABP Framework. You configure your model using EF Core. Maybe I didn't understand the question well.

[2021-05-11 00:24] hikalkan commented on #7221
OpenIddict seems the best approach. For a smooth transition, we will try to support both.

Anyone had problems with OpenIddict before? :)

[2021-05-11 01:05] maliming commented on #8971
Please check the IDS document: https://identityserver4.readthedocs.io/en/latest/endpoints/introspection.html

[2021-05-11 01:08] maliming commented on #8768
The application will use different configurations in production and development environments, can you confirm?

[2021-05-11 01:09] mehmetuken commented on #8931
Blazorise datagrid not affect localization.

[2021-05-11 01:10] hikalkan commented on #8683
I am closing this. You can reopen if you need.

[2021-05-11 01:10] #8683 closed, assigned to hikalkan

[2021-05-11 01:13] maliming commented on #8973
Please refer to https://community.abp.io/articles/using-devextreme-components-with-the-abp-framework-zb8z7yqv

[2021-05-11 06:23] realLiangshiwei commented on #8915
Got it, I will update it, thanks a lot

[2021-05-11 06:46] #8915 closed, assigned to realLiangshiwei

[2021-05-11 06:50] mshayesteh301 commented on #8955
Apparently the problem was not adding a claim with name of AbpClaimTypes.UserId to the created token.
Here is my final code when creating beare token:
[code]

[2021-05-11 06:50] #8955 closed, assigned to nobody

[2021-05-11 07:23] gdlcf88 commented on #8928
![image](https://user-images.githubusercontent.com/30018771/117775009-a76bbd00-b26c-11eb-8c64-69c101d705ec.png)
![image](https://user-images.githubusercontent.com/30018771/117774947-915dfc80-b26c-11eb-91cb-e604a37d6f83.png)

Hi @stsrki, are these elements actually modals?

[2021-05-11 07:47] stsrki commented on #8928
No, the elements you marked are regular tabs.

Based on your first message screenshot it looked to me like it was a modal dialog and on top of it a popup of an error(also modal dialog). Now when you sent me a new screenshot, I might have being wrong.

---

The reason why modal backdrop doesn't work is that some element `z-order` is larger that of `.modal-backdrop`. Can you inspect in dev tools?

[2021-05-11 07:52] #8643 closed, assigned to enisn

[2021-05-11 08:25] barnybadzoo commented on #8973
I did already follow this guide, some of the statements above are from there..
see here : If you change the Property in this DevExtreme Example likes that:
![image](https://user-images.githubusercontent.com/47523870/117780013-82148a00-b23f-11eb-909c-0d986a013a53.png)
 you wont see any change, because GetOrdersAsync only retrieves a prepared List<Order> without interacting with a appservice behind.

[2021-05-11 08:26] leonkosak commented on #7709
@hikalkan, do you have any suggestions?

[2021-05-11 08:29] alexandis commented on #7315
Hi, we have custom implementation for switching a tenant after a user logged in.
It includes handling a custom grant type - we named it `switch_tenant` - by custom server-side validator ( `SwitchToTenantGrantValidator : IExtensionGrantValidator`), where it is sent by our custom version of authService of **Angular** app as a **grant-type** `HttpParam`.
Everything works as expected. But we wonder if

[2021-05-11 08:30] leonkosak opened #8977 "Article: How to Customize the Login Page"
MVC: https://community.abp.io/articles/how-to-customize-the-login-page-for-mvc-razor-page-applications-9a40f3cd
Blazor: https://community.abp.io/articles/how-to-customize-the-login-page-of-an-abp-blazor-application-by4o9yms

Maybe add information if abp has tiered architecture (separated Identity Server), what are differences. What do you think?

[2021-05-11 08:43] ilkayilknur commented on #8931
Can you please share the reproduction steps, sample code with us?

[2021-05-11 08:46] ilkayilknur commented on #8941
Did you check this document? https://docs.abp.io/en/abp/latest/Entity-Framework-Core-SQLite

[2021-05-11 08:52] leonkosak opened #8978 "Complete theme replacement"
Based on this articles:
https://community.abp.io/articles/replace-basic-bootstrap-theme-with-custom-bootstrap-theme-in-abp-blazor-applications.-n3548bgl
https://community.abp.io/articles/creating-a-new-ui-theme-by-copying-the-basic-theme-for-blazor-ui-qaf5ho1b
https://community.abp.io/articles/creating-a-new-ui-theme-by-copying-the-basic-theme-for-mvc-ui-yt9b18io

is somehow possible to make custo

[2021-05-11 09:12] realLiangshiwei commented on #8977
You just need to do the same thing in `.IdentityServer` project.

[2021-05-11 09:12] #8977 closed, assigned to nobody

[2021-05-11 09:36] gdlcf88 commented on #8928
![image](https://user-images.githubusercontent.com/30018771/117793056-71cfcf80-b27e-11eb-898a-7ef64db87283.png)
![image](https://user-images.githubusercontent.com/30018771/117793285-a8a5e580-b27e-11eb-9f44-ba7c61af5840.png)

My project was changed to using Blazor-Server template, it can not be reproduced now.

It seems that this problem only occurs in Blazor WASM template, If I have time, I will t

[2021-05-11 09:59] mehmetuken commented on #8931
I just want blazorise datagrid component add turkish translations globaly from direct my domanin shared module resource.

[2021-05-11 10:00] realLiangshiwei commented on #8862
We need to call the `ConfigureByConvention` method at the end. if not, we cannot customize some entity mappings, e.g: changing the maximum field length, it is always overridden by the module mapping.

![image](https://user-images.githubusercontent.com/16813853/117797314-70a0a180-b282-11eb-89e6-f5c510b759eb.png)

[2021-05-11 10:00] mehmetuken commented on #8931
I add “Next” key my tr json file but not affect.

[2021-05-11 11:38] ilkayilknur commented on #8931
I think you need to use the `Localizer` attribute on the DataGrid control.  See https://blazorise.com/docs/extensions/datagrid/

Do you have any suggestions @stsrki?

[2021-05-11 12:10] stsrki commented on #8931
Using `Localizers` parameter on a DataGrid is one way to do it. But it is on a per-grid basis so it is maybe not the most convenient.

The other is to make use of Blazorise localization https://blazorise.com/docs/helpers/localization/ and add Turkish localization.

[2021-05-11 12:12] mehmetuken commented on #8931
Thanks.

[2021-05-11 12:12] #8931 closed, assigned to nobody

[2021-05-11 14:08] mehmet-erim opened #8980 "Angular UI: Store current language in the cookie"
An example cookie value should be like this:

[code]

[2021-05-11 14:34] alaawahbah commented on #8768
I have congiguration in appsettings.json and the other fils of config are empty
{
  "App": {
    "SelfUrl": "http://35.2**9:44390",
    "CorsOrigins": "https://*.ISO.com,http://localhost:4200,http://35.2***47.199,http://localhost,http://35.2****9:44390",
    "RedirectAllowedUrls": "http://localhost:4200,https://localhost:44307,http://35.224.247.199,http://35***9:44390"
  },
  "ConnectionStrings":

[2021-05-11 14:46] piotr07da opened #8981 "Using Autofac directly"
Hi

I know from the documentation that Abp uses Autofac under the hood. Is there any way to use Autofac container directly?
I would like to use features of Autofac. Microsoft DI doesn't support nice registration by convention and generally has not much features.

I have some reusable modules and I do not want them to be dependent on Abp. I have some registration (by convention) code already writte

[2021-05-11 16:42] #7661 closed, assigned to hikalkan

[2021-05-11 19:15] #8971 closed, assigned to nobody

[2021-05-11 23:42] hikalkan opened #8984 "ABP CLI: new command: install-libs"
This is for **MVC / Razor Pages** and **Blazor Server** UI types. For other UI types, just write a warning and exit. It should work in the csproj file's folder.

`abp install-libs` command internally;

1. Uses `npm install` to install packages (warns if npm was not installed)*
2. Copies css/js/... resources to the libs folder. This is a replacement of [copy-resources.js](https://github.com/abpfram

[2021-05-12 00:05] ebicoglu opened #8985 "Add notification to docs indexing service"
Elastic search indexing operation is long lasting request and sometimes timeout occurs.
- Move the service to a background job.
- Notify the UI when it completes.
-

[2021-05-12 01:06] maliming commented on #8981
You can configure it in the **Startup** class.

https://autofac.readthedocs.io/en/latest/integration/aspnetcore.html
[code]

[2021-05-12 01:06] #8981 closed, assigned to nobody

[2021-05-12 02:11] maliming commented on #8973
hi

The `camelCase` is the default, Are you want to change it to `Pascalcase`?

[2021-05-12 03:23] maliming commented on #7709
hi @leonkosak

Can you share a project?

[2021-05-12 03:25] maliming commented on #8950
Your steps are not clear.

[2021-05-12 05:46] leunghoary commented on #8950
I added an "Avatar" property in appuser according to the official steps. I didn't want to have multiple dbcontext in the project, so I replaced iidentitydbcontext and implemented iidentitydbcontext in my dbcontext
https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities

[2021-05-12 05:55] yel-best opened #8990 "IsettingManager cannot save setting to DB"
My project version environment :
*  ABP4.3
*  No UI
* Tiered IdentityServer
* Independent deployment IdentityServer

---

I also have an API
[code]

I thought I could use IsettingManager to save the Key Value to DB , But it didn't;

An error occurred after the request.

![image](https://user-images.githubusercontent.com/82205638/117924817-ec552980-b328-11eb-92db-b533363daa16.png)

It seems that th

[2021-05-12 06:04] maliming commented on #8990
https://docs.abp.io/en/abp/latest/Settings

[2021-05-12 06:04] #8990 closed, assigned to nobody

[2021-05-12 06:10] yel-best commented on #6553
@lfzm  hi~ lfzm,
I would like to ask how you write the Settings into the DB Settings table, I don't know if you remember the question. thank you

[2021-05-12 06:17] yel-best commented on #8990
@maliming Thank you for your answer.

OK, I can understand this, but I'm curious why Redis does not store my Settings in the AbpSettings table in DB.
![image](https://user-images.githubusercontent.com/82205638/117927032-35f34380-b32c-11eb-9c7d-dd13f2880175.png)

**In my CMSSettingDefinitionProvider defines some Settings, run after the findings don't enter the DB, but only exist in the redis, I wan

[2021-05-12 08:16] ilkayilknur commented on #8962
Hi @fileman, the problem has been resolved. Search is working right now. Thanks again for reaching out to us.

[2021-05-12 08:16] #8962 closed, assigned to nobody

[2021-05-12 08:59] RLindsa opened #8994 "KafkaDistributedEventBus - Subscribe Multiple Topics"
Please, can you explain how a single application can subscribe to multiple topics when using KafkaDistributedEventBus.

When looking at the code and the provided example, I've got the impression as if it is possible to subscribe to only one single topic within an application.

Thanks in advance.

[2021-05-12 09:06] realLiangshiwei commented on #8994
Hi,

Yes, It can only subscribe to one topic. this is the current design.

[2021-05-12 09:11] barnybadzoo commented on #8973
Yes, sorry for the confusion.. I actually wanted to change to PascalCase because adding columns with

`columns.AddFor( x=> x.Property)` was not possible due Datafields are camelCase
`columns.Add().DataField("property");` this is what i use  now ..

[2021-05-12 09:16] yel-best opened #8996 "ISettingManager mail service failed"
I use the AppSettings. Json configuration directly to prompt the password to be encrypted,

![image](https://user-images.githubusercontent.com/82205638/117949548-ce95bd80-b344-11eb-82c7-8d0d0809da98.png)

So I choose to use ISettingManager to manage my configuration information

![image](https://user-images.githubusercontent.com/82205638/117949720-ff75f280-b344-11eb-9c18-26a7c87e1553.png)

**I hav

[2021-05-12 09:21] maliming commented on #8973
[code]

![image](https://user-images.githubusercontent.com/6908465/117951141-7495f780-b346-11eb-9a8f-3def58ea560b.png)

[2021-05-12 09:46] yel-best commented on #8996
I'm sorry.  I misread the question myself

[2021-05-12 09:46] #8996 closed, assigned to nobody

[2021-05-12 09:57] RLindsa commented on #8994
Thx for the prompt feedback.

[2021-05-12 09:57] #8994 closed, assigned to nobody

[2021-05-12 10:50] buitanlan opened #8997 "Multi Kafka Topic"
How to config to create multi kafka topic in a Kafka server

[2021-05-12 11:45] realLiangshiwei commented on #8997
See https://github.com/abpframework/abp/issues/8994

You can replace the built-in services to achieve your special needs.

[2021-05-12 11:45] #8997 closed, assigned to nobody

[2021-05-12 11:54] RayMMond opened #8998 "Use LazyThreadSafetyMode.PublicationOnly to avoid caching exception when creating rabbitmq connection"
### Problem

https://github.com/abpframework/abp/blob/6b3297437be93df3989f6fda370ec87fac63e66a/framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/ConnectionPool.cs#L28-L37

If connection factory failed and throw a exception (timeout...), `Lazy<IConnection>` will cache exception and rethrow it everytime when you access it's `Value` Property.

### Solution

According to this [link](https://theburning

[2021-05-12 12:04] RayMMond commented on #8998
And this is another approach:
[code]

[2021-05-12 13:52] dimitrov9 opened #9000 "How do I publish a custom event after the current UoW transaction is successfully completed?"
There are predefined events like **EntityCreatedEventData** which are published after the transaction is successfully committed. I would like to publish a custom Event after the transaction is successfully committed. Is that possible with the current api?

[2021-05-12 16:07] ArneCools commented on #3730
I tried the same, but still get the error: Newtonsoft.Json.JsonSerializationException: Self referencing loop detected

I also tried in PreConfigureServices:
[code]

[2021-05-12 16:11] ArneCools opened #9001 "ReferenceLoopHandling"
How do I configure the ReferenceLoopHandling in abp.
I tried
`[JsonProperty(ReferenceLoopHandling = ReferenceLoopHandling.Ignore)]`
and
[code]
in PreConfigureServices

None of which work, I still get the error:
`Newtonsoft.Json.JsonSerializationException: Self referencing loop detected`

[2021-05-12 20:48] hikalkan opened #9004 "Upgrading to .NET 6.0"
I opened this issue to track this work and discuss about it if neded.

[2021-05-12 20:54] hikalkan opened #9005 "Use Typescript for MVC UI"
We will consider to re-write the current MVC UI JavaScript code of the pre-built modules with Typescript and prepare the startup solution to configure to use Typescript.

[2021-05-13 01:14] maliming commented on #9001
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-05-13 01:15] maliming commented on #9000
Please refer to https://docs.abp.io/en/abp/latest/Unit-Of-Work#other-iunitofwork-properties-methods

[2021-05-13 01:15] #9000 closed, assigned to nobody

[2021-05-13 02:00] realLiangshiwei commented on #8998
We can't use  `LazyThreadSafetyMode.PublicationOnly`, because it allows all threads to execute `valueFactory`, It will open a lot of connections.

I will try find a better way.

[2021-05-13 02:59] CAH-FlyChen commented on #4531
got semilar issues

public async Task ResetPassword(ResetPasswordInput data)
        {
            var t = await UserRepository.GetAsync(data.UserId);
            string token = await UserManager.GeneratePasswordResetTokenAsync(t);
            await UserManager.ResetPasswordAsync(t, token, data.Password);
        }

        2021-05-13 02:24:36.011 [ERR] [Volo.Abp.AspNetCore.Mvc.ExceptionHandling.A

[2021-05-13 03:02] #7969 closed, assigned to nobody

[2021-05-13 03:38] realLiangshiwei commented on #8998
This way has a problem,  `Valuefactory` will be executed directly only when calling `lazyConnection.Value;`, `IsValueCreated` is always `false`.
`

[2021-05-13 03:57] CAH-FlyChen opened #9009 "No IUserTwoFactorTokenProvider<TUser> named 'Default' is registered."
* Your **ABP Framework version**.
* 4.3.0
* Steps needed to **reproduce** the problem.
* use AbpIdentityAspNetCoreModule
        public async Task ResetPassword(ResetPasswordInput data)
        {
            var t = await UserRepository.GetAsync(data.UserId);
            string token = await UserManager.GeneratePasswordResetTokenAsync(t);
            await UserManager.ResetPasswordAsync(t, token,

[2021-05-13 05:08] #8998 closed, assigned to realLiangshiwei

[2021-05-13 06:24] nguyenquanghuyit opened #9015 "Could not download Easy CRM - Sample ABP Project"
Please send me link to download Easy CRM - Sample ABP Project. Thanks!

[2021-05-13 06:26] maliming commented on #9015
It belongs ABP commercial.

https://docs.abp.io/en/commercial/latest/samples/easy-crm

[2021-05-13 06:26] #9015 closed, assigned to nobody

[2021-05-13 09:30] #8973 closed, assigned to nobody

[2021-05-13 09:34] sgalcheung commented on #8927
When ef core deals with the many-to-many relationship, the intermediate table is automatically generated. The [official website](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-5.0/whatsnew#many-to-many) introduces
Yes, he may not be related to abp, but is there a chance to deal with it in EntityTypeConfiguration

[2021-05-13 10:16] d-oit commented on #8129
Had the same issue. With the aspnetboilerplate implentation IMustHaveTenant it was a clear NON null setter for the TenantId. Now it could by null and devs have to carry about it.

Check out the CrudAppService. In InsertAsync
**TryToSetTenantId**
is called for the entity (but not for related data!).

To secure and not change the abp logic i check the TenantId setter for null or Guid.Empty and throw

[2021-05-13 10:24] realLiangshiwei commented on #8927
See https://docs.microsoft.com/en-us/ef/core/modeling/relationships?tabs=fluent-api%2Cfluent-api-simple-key%2Csimple-key#join-entity-type-configuration

[2021-05-13 10:59] #8927 closed, assigned to nobody

[2021-05-13 11:40] #7809 closed, assigned to nobody

[2021-05-13 12:07] dimitrov9 commented on #9000
Thank you @maliming

[2021-05-13 12:07] CaiJinHao opened #9016 "Web.Unified project Login using Account/Login openID (oidc) Authorization failed successfully"
ABP Framework version   4.3.0
Template : Module

The Web.Unified project logged in using Account/Login OpenID (oidc), but the application did not obtain authorization. Login was successful without any exception reported
![2021-05-14_124051](https://user-images.githubusercontent.com/16984784/118222506-5fd67280-b4b2-11eb-99d6-8a63b92f516a.png)
![2021-05-14_124119](https://user-images.githubuserconte

[2021-05-13 13:32] aelhadi commented on #9009
the same problem :

[code]

[15:19:22 ERR] No IUserTwoFactorTokenProvider<TUser> named 'Default' is registered.
System.NotSupportedException: No IUserTwoFactorTokenProvider<TUser> named 'Default' is registered.
   at Microsoft.AspNetCore.Identity.UserManager`1.GenerateUserTokenAsync(TUser user, String tokenProvider, String purpose)
   at Castle.Proxies.IdentityUserManagerProxy.GenerateUserTokenAsy

[2021-05-13 16:28] aelhadi commented on #9009
I think we have to configure identity options:

[code]

[2021-05-13 18:18] #8959 closed, assigned to EngincanV

[2021-05-13 18:21] ebicoglu opened #9017 "Add new languages: Hindi & Italian"
Hindi and Italian languages added with the following PR https://github.com/abpframework/abp/pull/8999
`volo` side: https://github.com/volosoft/volo/pull/6816

[2021-05-13 18:21] #9017 closed, assigned to berkansasmaz

[2021-05-13 22:37] fileman opened #9019 "Missing Italian in startup template"
Hi,
although it exists in source repository, the italian language is missing in startup template.

I have tried to add "options.Languages.Add(new LanguageInfo("it", "it", "Italiano"));" but doesn't solve the issue.

Also there are some translation errors, have you used an automatic translator?
I can take a look and submit a PR.
thanks

[2021-05-14 01:10] maliming commented on #9009
Full steps needed to reproduce the problem.

[2021-05-14 01:32] nguyenquanghuyit opened #9020 "How to add a checkbox column to datatable"
![image](https://user-images.githubusercontent.com/52340160/118207455-e711ef00-b48e-11eb-9321-cd72fae6396f.png)

[2021-05-14 01:51] maliming commented on #9020
I think this is related to DataTables instead of ABP.

[2021-05-14 01:57] nguyenquanghuyit commented on #9020
Thank for your answer. I've done it

[2021-05-14 01:57] #9020 closed, assigned to nobody

[2021-05-14 01:59] realLiangshiwei commented on #9019
Hi,

We always welcome contribution

[2021-05-14 02:05] berkansasmaz commented on #9019
Hi,

Thanks for your contribution request.
We already did(#8999) an Italiano translation with an online translation system for the next version.
I can share this translation with you.
Just revise all the texts and if any incorrect translation fix it and send it info@abp.io or upload to Google Drive etc. and share the link.

[Italiano.zip](https://github.com/abpframework/abp/files/6476068/Italiano.

[2021-05-14 03:04] GotzeWong opened #9022 "Running BackendAdminApp.Host in Microservice-Demo returns HTTP ERROR 500"
### Documentation

I did all steps of Microservice-Demo from the official documentation: https://docs.abp.io/en/abp/latest/Samples/Microservice-Demo

### GitHub Issues
 ABP Framework version 3.2.1
I cloned the latest version of Microservice-Demo. Run with the order.
All is well except BackendAdminApp.Host(https://localhost:44354/). It always returns **HTTP ERROR 500** but no pages.
That's my secon

[2021-05-14 03:07] maliming commented on #9022
Check your app logs when you got 500 error.

[2021-05-14 05:51] CaiJinHao commented on #9016
I removed the dependency load of ABPAccountWebModule and it worked
![2021-05-14_134604](https://user-images.githubusercontent.com/16984784/118228057-2a368700-b4bc-11eb-8fcb-c04992a07093.png)

[2021-05-14 05:57] #9016 closed, assigned to nobody

[2021-05-14 05:58] GotzeWong commented on #9022
Tks for the quick suggestion and it turns out the connection with BackendAdminAppGateway.Host failed. I will go check that.

The logs from BackendAdminAppGateway shows error below:

2021-05-14 13:42:33.103 +08:00 [ERR] An error occurred using the connection to database 'MsDemo_Identity' on server 'localhost,1433'.
2021-05-14 13:42:33.103 +08:00 [ERR] An exception occurred while iterating over the

[2021-05-14 06:52] #9022 closed, assigned to nobody

[2021-05-14 07:10] aelhadi commented on #9009
Hello,

Override AccountAppService as :

[code]
 try to call the overrided RegisterAsync from Postman to test it :

![image](https://user-images.githubusercontent.com/5918026/118234425-98b31f00-b493-11eb-90fd-bd97e78207ad.png)

the occured error is  :

[code]

[2021-05-14 07:21] maliming commented on #9009
Is this an MVC project create by CLI?

[2021-05-14 07:30] CAH-FlyChen opened #9024 "How to access Audit log?"
1.  i want to show the log of the entity changed.
2. i want to show the list of auditlog on ui. and filter the list.

how to do it?

[2021-05-14 07:33] realLiangshiwei commented on #9024
Audit log UI is a commercial feature, See https://commercial.abp.io/.

You can buy a commercial license or implement it yourself.

[2021-05-14 07:33] #9024 closed, assigned to nobody

[2021-05-14 07:48] aelhadi commented on #9009
Angular project with separate Identity (tiered)

generated from abp.io not CLI.

I just try to add AddDefaultTokenProviders() to my IDP but it's not working :

[code]

[2021-05-14 07:57] willignicolas opened #9025 "DBUpdateException are not logged in AuditLog"
abp 4.3
MVC
EF Core

I noticed that all the DBUpdateException errors (unique index, constraint...) sent by Entity Framework to the front are not traced in the auditlogs.
They are however traced in the log file (logs.txt)

Thank you for your reply.

Nicolas.

[2021-05-14 07:57] maliming commented on #9009
Try to depend on `AbpIdentityAspNetCoreModule` in your `HttpApi.Host` project.

Or

[code]

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.AspNetCore/Volo/Abp/Identity/AspNetCore/AbpIdentityAspNetCoreModule.cs

[2021-05-14 08:08] #9009 closed, assigned to nobody

[2021-05-14 08:09] maliming commented on #9025
Can you try to remove `app.UseUnitOfWork()` from the ASP.NET Core pipeline?

[2021-05-14 08:52] #8928 closed, assigned to stsrki

[2021-05-14 08:56] leonkosak opened #9026 "Navigation Menu (MVC) - customData"
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Navigation-Menu

![image](https://user-images.githubusercontent.com/39346964/118246944-e6835380-b4a2-11eb-8605-f46f5b7c93dc.png)

Is there any examples how to use customData attribute?

[2021-05-14 09:06] maliming commented on #9026
hi

When you set `customData` of a menu item you also should change the component that render the menus.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Menu/MainNavbarMenuViewComponent.cs
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Components/Menu/Default.c

[2021-05-14 09:14] leonkosak commented on #9026
Is somehow with customData similar menu layout?
![image](https://user-images.githubusercontent.com/39346964/118249233-79bd8880-b4a5-11eb-856e-6330663558b1.png)

[2021-05-14 10:25] willignicolas commented on #9025
Yes now it works after commented app.UseUnitOfWork().

Is there a long term solution? We need the use of UnitOfWork, is this modification disable UnitOfWork?

Thank you for your reply.

[2021-05-14 10:27] maliming commented on #9025
Please follow https://github.com/abpframework/abp/issues/8740

[2021-05-14 10:27] #9025 closed, assigned to nobody

[2021-05-14 11:48] buitanlan opened #9027 "How to config and use multi partitions in a kafka topic"
Hi Abp team, I want  to config and use multi partitions in a kafka topic for 2 different purposes. Can you give some code demo  please

[2021-05-14 12:54] maliming commented on #9027
See https://github.com/abpframework/abp/issues/8994

[2021-05-14 12:54] #9027 closed, assigned to nobody

[2021-05-14 13:14] maliming commented on #9026
Your menu is also a standard tree structure, you can set their `customData `for `ORGANIZATION`, `FINACCE `and `COMMUNICATION`, then use special HTML when rendering these items.

[2021-05-14 13:46] maliming opened #9028 "The permission check is incorrect when multiple menus use the same permission name."
Related https://github.com/abpframework/abp/pull/8742

[2021-05-15 00:43] realLiangshiwei commented on #9027
See https://docs.abp.io/en/abp/latest/Distributed-Event-Bus-Kafka-Integration#the-options-classes

[code]

[2021-05-15 00:44] #9028 closed, assigned to maliming

[2021-05-15 16:07] buitanlan commented on #9027
Hi @realLiangshiwei your code is about  a specific  partition in a topic, @maliming #8994 is about multiple kafka's topics but I want to use multiple partitions in a kafka topic

[2021-05-15 16:50] DivVishal commented on #6496
@atpekbas Even though the urls are same in both UI and core code. I am facing issue for generate proxy.

[2021-05-15 22:13] #7993 closed, assigned to nobody

[2021-05-16 00:28] oakuraape opened #9031 "Issues running dbcontext queries in linqpad."
Hi there,

I found an example as per below code snippet, which allows linqPad to connect to an ABP DbContext, but when you run a query in linqPad you get the following error.

![image](https://user-images.githubusercontent.com/10067303/118381639-f6d13500-b640-11eb-8a6f-0b14149dcacb.png)

It would seem there is configuration steps that are missing as datafilter object is not instantiated.

#if DEBU

[2021-05-16 05:15] mugambiwarwema commented on #7602
@MDbrosev @mehmet-erim

I have reproduced the issue on abp v4.3.

I am unable to login to the react-native app after configuring the app (backend and react-frontend) as stated in the official abp-react-native Getting Started guide.

If you solved the issue kindly advise how you handled it.

Thank you in abdance.

[2021-05-16 11:49] hikalkan opened #9033 "Web test in app startup template fails in NCrunch"
Reported by @lprichar

Run all tests, one test (Index_Tests.Welcome_Page) fails consistently in NCrunch.  It also sometimes fails but sometimes succeeds in other test runners.

[code]

[2021-05-16 12:58] willignicolas opened #9034 "Suppress label is not supported by abp-select tag helper"
* abp 4.3.
* MVC
* EF Core

suppress-label="true" is not supported by abp-select, only abp-input

[2021-05-16 13:03] mugambiwarwema opened #9035 "Unable to login to new new abp v4.3 app."
I have downloaded a fresh v4.3 abp app with a react-native project.

I have configured my no-tier backend with my local IP address as advised in the getting started part of abp.io react-admin.

I have successfully launched my backend on my local app, and launched my app on android studio.

The app started and was prompted to enter a username and password.

I opted for the host, no tenant selected

[2021-05-16 18:47] antosubash commented on #9035
This is the error `No client with id 'Drinkie_App' found. aborting`. make sure the `ClientId` is correct in the RN app. if it is correct then make sure the migrations ran correctly. DbMigrator runs the migrations and seeds the data.

[2021-05-16 19:24] idreeshaddad opened #9040 "How to upload bytes array to BlobContainer?"
Hello guys,

It is obvious from the documentation how to setup the BLOB storing file system provider, for example here is the upload post action:

![image](https://user-images.githubusercontent.com/2285974/118407813-12f9c400-b68b-11eb-83f4-895308724e06.png)

However; what is not clear to me (and I looked for it on SOF with no avail), how to get the (bytes: number[]) from the UI to send it through

[2021-05-16 20:28] hikalkan opened #9041 "Define DataFilter property to the ApplicationService base class"
I think it is a common service and we can add this to the ApplicationService base class (as lazy resolved service)

[2021-05-16 20:29] #9041 closed, assigned to hikalkan

[2021-05-16 21:48] armanozak commented on #8984
If the user has yarn v1.20+ installed, yes we (still) should.

[2021-05-16 22:44] hikalkan commented on #6126
I was re-checking the CAP library. However, it doesn't support multi-tenancy with separate databases (https://github.com/dotnetcore/CAP/issues/699) and a single modular application with multiple databases (https://github.com/dotnetcore/CAP/issues/783). It also requires to use its custom database transaction approach.

Out problem is much harder, because we have multi-tenancy (with separate db supp

[2021-05-17 00:48] maliming commented on #9031
hi

The DbContext needs to use dependency injection. include property inject.

[2021-05-17 00:49] #7724 closed, assigned to nobody

[2021-05-17 00:49] #8072 closed, assigned to nobody

[2021-05-17 00:50] #8086 closed, assigned to nobody

[2021-05-17 00:54] maliming commented on #9040
You can use `IRemoteStreamContent `.

https://docs.abp.io/en/abp/4.3/Application-Services#working-with-streams

[2021-05-17 02:20] Uchiha-Peng commented on #8023
Thank you very much, your suggestion is effective, IdentityServer can be successfully removed, but I also want to remove multi-tenancy, what should I do?

[2021-05-17 03:20] GotzeWong opened #9042 "MicroserviceDemo with ABP framework 4.3.0"
Are there any docs to run MicroserviceDemo with ABP framework 4.3.0?

[2021-05-17 05:17] #9034 closed, assigned to maliming

[2021-05-17 06:44] mugambiwarwema commented on #9035
@antosubash

Thank you. I had not migrated but rather used a different db from a previous project.

Now it's all good.

[2021-05-17 06:54] valiantzhao opened #9044 "The blazor call service cannot pass 2 parameters"
I have downloaded a fresh v4.3 abp app with a BookStore-Blazor-EfCore.
demo:
`public async Task<PagedResultDto<BookDto>> GetList2Async(CreateUpdateBookDto book1, PagedAndSortedResultRequestDto input )`
the input parameters is empty
repository:
[valiantzhao/BlazorTest](https://github.com/valiantzhao/BlazorTest)

[2021-05-17 06:55] #9035 closed, assigned to nobody

[2021-05-17 07:15] realLiangshiwei opened #9045 "Upgrade samples to 4.3.2"

[2021-05-17 07:44] enisn commented on #9044
Hi @valiantzhao

I couldn't understand what you try to do. `GetList2Async` method will be a HttpGet method of a Controller. Parameter binding is not related to ABP, AspNetCore ModelBinder binds your request parameters into objects. So you can follow almost the same issue:
https://stackoverflow.com/questions/36280947/how-to-pass-multiple-parameters-to-a-get-method-in-asp-net-core

You may use **[Fr

[2021-05-17 07:50] antosubash commented on #8023
@Uchiha-Peng you don't have to remove multi-tenancy just disable it. check the docs here https://docs.abp.io/en/abp/latest/Multi-Tenancy

[2021-05-17 07:50] valiantzhao commented on #9044
Hi @enisn
This is only a problem if you use blazor
`var temp=await BookAppService.GetList1Async(page, new CreateUpdateBookDto { Name = "test"}); ,
var temp1=await BookAppService.GetList2Async(new CreateUpdateBookDto { Name = "test" }, page);`
I want to pass multiple parameters

[2021-05-17 07:56] GotzeWong commented on #9042
Trace to BackendAdminAppGateway.Host

2021-05-17 15:53:08.776 +08:00 [INF] Failed to validate the token.
Microsoft.IdentityModel.Tokens.SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed. Audiences: '[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'. Did not match: validationParameters.ValidAudience: '[PII is hidden. For more details, see https://ak

[2021-05-17 08:32] GotzeWong commented on #9042
PII shows
Failed to validate the token.
**Microsoft.IdentityModel.Tokens.SecurityTokenInvalidAudienceException: IDX10214: Audience validation failed. Audiences: 'empty'. Did not match: validationParameters.ValidAudience: 'BackendAdminAppGateway' or validationParameters.ValidAudiences: 'null'.**
   at Microsoft.IdentityModel.Tokens.Validators.ValidateAudience(IEnumerable`1 audiences, SecurityToken

[2021-05-17 08:48] Uchiha-Peng commented on #8023
@antosubash  I know how to disable it, but I still don’t want to generate a database table structure related to multi-tenancy

[2021-05-17 08:56] #3503 closed

[2021-05-17 08:57] #8895 closed, assigned to maliming

[2021-05-17 09:00] hikalkan commented on #8862
In that case, I suggest to create another extension method, like `b.ApplyObjectExtensionMappings()` and not do it in the ConfigureByConvention method. We call ApplyObjectExtensionMappings() at the end.

[2021-05-17 09:03] #8889 closed, assigned to realLiangshiwei

[2021-05-17 09:05] realLiangshiwei commented on #8862
ok.

[2021-05-17 09:11] alaawahbah commented on #8768
I  download the last version and I published on new ports with bellow configuration

angular environment Prod

![image](https://user-images.githubusercontent.com/12495983/118461060-8e945900-b6fd-11eb-8ecc-58e90eb52f72.png)

iis appsetting.json

![image](https://user-images.githubusercontent.com/12495983/118461739-46296b00-b6fe-11eb-9d68-5addd2790e84.png)

DB
![image](https://user-images.githubuser

[2021-05-17 09:40] alaawahbah commented on #8768
I  download the last version and I published on new ports with bellow configuration

angular environment Prod

![image](https://user-images.githubusercontent.com/12495983/118467712-52182b80-b704-11eb-9e31-4986cb9d006c.png)

iis appsetting.json

![image](https://user-images.githubusercontent.com/12495983/118467791-69571900-b704-11eb-8f09-0c9045188c3f.png)

DB

![image](https://user-images.githubuse

[2021-05-17 09:40] enisn commented on #9044
As a best practice, I suggest you use a single Dto instead of multiple parameters.

Extend your dto from **PagedAndSortedResultRequestDto** and pass single parameter.

[code]

Then use DTO single parameter if data source is the same because both of them should be passed from QueryString

[code]

[2021-05-17 10:35] idreeshaddad commented on #9040
I'm using [Blob Storing](https://docs.abp.io/en/abp/latest/Blob-Storing), I want to send the file as an array of bytes.
How do I convert the file into (`byte[] bytes`)?

[2021-05-17 11:28] valiantzhao commented on #9044
Thank you very much for the advice, that's how I'm dealing with it now. It's just that this problem is occurring in blazor and mvc doesn't have this problem, all want to confirm if it's a problem.

[2021-05-17 11:42] armanozak opened #9053 "NgBootstrap typeahead window is cut by modal overflow when the component is at the bottom of the form"

[2021-05-17 13:12] yinchang0626 commented on #9040
@idreeshaddad  Hi
 this is my way to upload `IRemoteStreamContent` in angular:
In `cms-kit` module ,
We has a api to upload `Media` by `inputStream`
[code]
 i am using angular app ,  now(4.3.0) `proxy` code that  `abp cli` generated is not work fine,so I created new one myself:
[code]
I hope it is helpful

[2021-05-17 14:22] enisn commented on #9044
I can surely say it's not an expected behavior We'll investigate that problem

[2021-05-17 14:35] antosubash commented on #8023
@Uchiha-Peng ok then you have to remove the `Tenant Management Module`.  but I have not done that before and I'm not sure about the implication with that. I would suggest you create a new issue or request a community article.

[2021-05-17 16:45] idreeshaddad commented on #9040
Sorry, but no it was not.
My concern is not `IRemoteStreamContent`, it is the `BlobContainer ` please open this page https://docs.abp.io/en/abp/latest/Blob-Storing
Does it work? Am I missing something?
Something doesn't make sense, it's confusing, maybe you need to update the documentations? Need a better content writer? More hours taking instructions from the leads?
I don't know what the matter i

[2021-05-17 17:58] gterdem opened #9058 "Update AzureAD Integration Articles"

[2021-05-17 21:54] clinically-au commented on #9040
BlobContainer works fine.

Converting files to byte[] is not really something specific to ABP.

I'm sure if you are more specific with your problem, you will get some help round here. Where exactly are you running into a problem? Uploading the file from the UI or receiving the file on the server side?

[2021-05-18 00:41] yinchang0626 commented on #9040
Sorry , I am not a content writer,
But I think that below code of  `CmsKit`  is very clear to show how to do:
1.When browser `post` a `FormData` with a file `body`,`IRemoteStreamContent` will be handled  by `AbpRemoteStreamContentModelBinder`
2.Get `Stream` by `IRemoteStreamContent`
3.Save binary data by `IBlobContainer<TMediaContainer>.SaveAsync("id",stream)` .

[code]

[2021-05-18 01:12] maliming commented on #8768
hi

What's the error now? Can you share the details?

[2021-05-18 03:30] Rwing opened #9059 "The class AbpActionContextExtensions change to public is better"
https://github.com/abpframework/abp/blob/caf1de509055eb0c623c28a3600ebdeeeb48ae5d/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpActionContextExtensions.cs#L6-L12

https://github.com/abpframework/abp/blob/caf1de509055eb0c623c28a3600ebdeeeb48ae5d/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs#L63

I cant use this extension met

[2021-05-18 06:04] GotzeWong commented on #9042
![image](https://user-images.githubusercontent.com/7664030/118599307-e906e580-b7e1-11eb-9c7a-dbeeab69c00f.png)

[2021-05-18 06:07] GotzeWong commented on #9042
2021-05-18 14:03:02.840 +08:00 [ERR] ---------- RemoteServiceErrorInfo ----------
{
  "code": "NotFound",
  "message": "Not Found",
  "details": null,
  "data": null,
  "validationErrors": null
}

2021-05-18 14:03:02.840 +08:00 [ERR] Not Found
Volo.Abp.Http.Client.AbpRemoteCallException: Not Found
   at Volo.Abp.Http.Client.DynamicProxying.DynamicHttpProxyInterceptor`1.ThrowExceptionForResponseAsy

[2021-05-18 06:08] realLiangshiwei commented on #9042
You wait for https://github.com/abpframework/abp/issues/9045

[2021-05-18 06:08] #9042 closed, assigned to nobody

[2021-05-18 06:52] Uchiha-Peng opened #9060 "Please extend the CLI to allow non-essential options such as multi-tenancy and Identity Server to be excluded when creating a project"
The abp framework is excellent and convenient. Its functions are very comprehensive, but my project is relatively simple. I want to create a project that excludes multi-tenancy and Identity Server. What should I do? There are too many data tables generated, which are very different from my business. I want to define my own menu management and authority management. Please extend the CLI to allow so

[2021-05-18 06:56] leonkosak commented on #9060
https://github.com/abpframework/abp/issues/8023

[2021-05-18 07:02] BeiMeng opened #9061 "CLI add-package: source code option is error"
ABP Framework version 4.3.
ABP CLi version 4.3.
Consloe Poroject，issue  is
![1621321292(1)](https://user-images.githubusercontent.com/6823869/118606431-fcb64a00-b7e9-11eb-9cf9-43acf5973352.png)

[2021-05-18 07:05] emilsjog commented on #8818
I guess it's better to follow #8195 for this case

[2021-05-18 07:07] yekalkan commented on #9061
As it says in logs, this package is not downloadable.

[2021-05-18 07:07] #9061 closed, assigned to nobody

[2021-05-18 07:13] BeiMeng commented on #9061
@yekalkan Can you tell me the possible reason why I can't download it, thank you

[2021-05-18 07:22] yekalkan commented on #9061
For now, only UI theme packages are downloadable.

You can download this repository and extract any package you want.

[2021-05-18 07:29] BeiMeng commented on #9061
ok，I see，thank you again

[2021-05-18 07:40] #8841 closed, assigned to enisn

[2021-05-18 07:44] GotzeWong commented on #9045
In ABP, Pkce is disabled by default. If you need to enable Pkce, I could show the steps to open it.

[2021-05-18 08:22] alaawahbah commented on #8768
When I publish the back end and Front end and set the IP or domains instead of local host the login redirect not happen.

![image](https://user-images.githubusercontent.com/12495983/118617462-f496e400-b7c2-11eb-9e9f-0a176a157d79.png)

Now i am publish my local iis site  the ngrok same issue

[2021-05-18 09:20] aelhadi opened #9062 "ProfileAppService don't return extraProperties"
Hello,

I extended AppUser with some properties. eveything works fine.

IdentityUserAppService  return User with the extraProperties. but ProfileAppService don't.

am i missing something in my ef core module extension class? if so how to achive this? or it' s normal and i have to override the ProfileAppService ?

Regards

[2021-05-18 09:31] naushadkhalid opened #9063 "Article Request: Best Practices Guide to Implement distributed transaction in microservices solution"
It will highly useful if we can have step by step best practices guide or documentation on how to implement distributed business transaction that span across multiple microservices under ABP microservices architecture pattern.

This can be similar in line with saga pattern for distributed business transaction that span multiple microservices (https://microservices.io/patterns/data/saga.html)

[2021-05-18 10:36] alaawahbah commented on #8768
Can you descripe publish backend and frontend (angular) step by step and what is the configuration is  in back and front?

[2021-05-18 12:55] hikalkan commented on #6126
Implementing this feature with supporting the following scenarios seems complicated:

* Multi-tenancy with separate databases
* Multiple databases in a single application (can be a monolith modular with each module has its database) - in this case, every database should have a different queue and we should somehow determine which database to write and read for the outgoing event queue.
* Same serv

[2021-05-18 14:39] akshaybheda opened #9066 "No roles in CurrentUser after upgrading the abp framework 3.0.4 to 4.3.0"
I have followed the steps for migrating the framework https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4_0.

After being done with the steps, I am not getting any roles in the CurrentUser?

Anything apart from the migration step that needs to be done?

[2021-05-18 14:57] akshaybheda commented on #9066
Also I am using IdentityServerAuthentication and Getting **Audience validation failed. Audiences: 'empty'.** Error

[code]

[2021-05-18 15:51] alexandis opened #9067 "How to hide parent menu item, if all childs are invisible due to absent permissions?"
4.3.0 / Angular

[code]
I would like to have '::Menu:ErrorsCategory' invisible if ALL child items are invisible. If I have dozen of child items - how do I do that easily?

![image](https://user-images.githubusercontent.com/6149843/118683763-50d12680-b80a-11eb-8230-948c87252c21.png)

[2021-05-18 16:10] hikalkan commented on #8423
Done by https://github.com/abpframework/abp/pull/8882

[2021-05-18 16:10] #8423 closed, assigned to ilkayilknur

[2021-05-18 16:15] #8886 closed, assigned to maliming

[2021-05-18 16:20] ebicoglu opened #9068 "Create a sample project with Elsa Workflow (open-source)"
WRITE A COMMUNITY ARTICLE

Elsa is a popular framework as a workflow library.
This sample will be helpful to developers who need to use workflow in their project.
See the repository -> https://github.com/elsa-workflows/elsa-core

Add the UI of the Elsa:
![image](https://raw.githubusercontent.com/elsa-workflows/elsa-core/master/doc/elsa-2-hello-world-http.gif)

[2021-05-18 16:46] leonkosak commented on #6126
We have slightly specific requirements for Pub/Sub mechanism and I have so questions if this is possible achieve.

- Multitenancy with separated databases for each tenant (SQL databases)

- Our ecosystem consists of **multiple standalone API applications** (deployed .HttpApi.Host projects (with Swagger visualization).
Each API application have **THE SAME connection string** to the host database in

[2021-05-18 17:58] mohamed-moaz-ibrahim opened #9069 "foreign key in entity extension (lookup.url)"
### Documentation
I followed the [Documentation](https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#navigation-properties-foreign-keys) it was very helpful however, in the angular it shows the foreign key as an input instead of select component. when I inspect it I found an autocomplete set to off when I change it to on it partially worked.

![error](https://user-images.githubusercontent.c

[2021-05-19 00:38] hanfeige opened #9071 "When JWT logs in, it works fine in native VS debug mode, but cannot get CurrentUser after publishing to the server"
I don't know what's causing this problem. It's completely clueless

[2021-05-19 00:43] realLiangshiwei commented on #9062
* Steps needed to **reproduce** the problem.

[2021-05-19 00:46] maliming commented on #9071
Please check your application logs first.

[2021-05-19 00:48] maliming commented on #9066
You can create a new project that using the latest version. then compare the code.

[2021-05-19 02:40] akshaybheda commented on #9066
The configuration is similar, Can you explain how the roles are mapped to CurrentUser.Roles ? I can check that workflow then

[2021-05-19 02:46] maliming commented on #9066
It base on your current claims.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Security/Volo/Abp/Users/CurrentUser.cs#L34

[2021-05-19 02:50] jtoniolo commented on #1414
Why is it so hard to understand that we (the consumers of ABP) need to _own the domain_ for the application user. And we need to extend that domain using simple Entities.

Common use cases:

- User specific settings
- User relationships
- Additional user profile info
- I'm sure others exists

These extra entities easily fit into the whole idea of a Domain. These headings may not, in all circumstan

[2021-05-19 02:54] akshaybheda commented on #9066
Can you provide some pointer as to why there are no claims for current user? What I can check ?

[2021-05-19 03:55] GotzeWong commented on #9045
Below are steps to upgrades the Microservices Demo from 3.2.0 to 4.3.0.

1. Upgrades TargetFramework of **applications/AuthServer.Host**  to .net 5.0
![image](https://user-images.githubusercontent.com/7664030/118754142-00ed7080-b899-11eb-9425-ff004eac5114.png)

2. Upgrads all packages to lastest version
![image](https://user-images.githubusercontent.com/7664030/118754273-47db6600-b899-11eb-803e-d3

[2021-05-19 05:17] #9059 closed, assigned to realLiangshiwei

[2021-05-19 05:23] GotzeWong commented on #9045
If run directly, we will get _[500] invalid_scope_ in **applications/BackendAdminApp.Host**.

![image](https://user-images.githubusercontent.com/7664030/118760299-24b6b380-b8a5-11eb-8d21-1d860c8fab39.png)

**Step 1 Upgraded all projects' frameworks and packages.**

**Step 2 Fix 404 error**
After upgrading the version of Ocelot in **BackendAdminAppGateway.Host/InternalGateway.Host/PublicWebSiteGate

[2021-05-19 06:46] happygb21-jc opened #9074 "Set Default Language to zh-Hans ,IdentityServer Register Passwords Error Message is en"
![image](https://user-images.githubusercontent.com/55523727/118767867-e0311500-b8b0-11eb-9660-8f621679a50a.png)

[2021-05-19 06:52] maliming commented on #9074
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI

[2021-05-19 07:05] happygb21-jc commented on #9074
Sorry, Use ABP Framework 4.2.2 , User Interface type is Angular , Login jump identityServer account/login page

[2021-05-19 07:16] maliming commented on #9074
Can you try this in the latest version(4.3)?

[2021-05-19 07:39] amLabib opened #9075 "Join with ABP users entity ( 2 diferent databases)"
I have 2 different modules , with 2 sepereated databases,
in the second module (the one which not have identity module entities), I have entity "A",
I need to make a join with AppUser entity to get the username for creator or modifier of entity "A".

Is there any available soultion for this scenario?
I thought I can add a duplicate entity for users in the second moduleو with just (ID & username)?

[2021-05-19 08:09] aelhadi commented on #9062
Step 01 :

Add a property to the AppUser

Step 02 :

Update the xxxEfCoreEntityExtensionMappings

......
[code]
Step 03 :

Apply migration

Step 04 :

update xxxxoduleExtensionConfigurator

[code]

Start project, call /api/identity/users/by-email/{email} or (other) :

it returns the new properties

![image](https://user-images.githubusercontent.com/5918026/118777464-633e7500-b889-11eb-8ca1-28ff7c0

[2021-05-19 08:14] happygb21-jc commented on #9074
OK，upgrade 4.3 try it

[2021-05-19 08:31] stsrki commented on #5543
As @hikalkan already mentioned. The main issue with lazy load is that we do a lot of things with DI. So no matter what we do, it will always load all of the modules at once.

Since lazy-load is not an option I think the best way to do this would be to implement prerendering. But the current **.Net5** prerendering has its own limitations. For example, when the app is loaded on the client it still n

[2021-05-19 08:37] maliming commented on #9066
Please check your authenticate scheme and claims.

[2021-05-19 08:54] Rwing opened #9076 "An error on dynamic C# API Client call when upgraded 4.3.0"
Volo.Abp.AbpInitializationException: An error occurred during ConfigureServices phase of the module Foo.FooHttpApiClientModule, Foo.HttpApi.Client, Version=0.0.6.0, Culture=neutral, PublicKeyToken=null. See the inner exception for details.
 ---> System.Reflection.ReflectionTypeLoadException: Unable to load one or more of the requested types.
Could not load type 'Volo.Abp.Authorization.Permissions.

[2021-05-19 10:11] aelhadi opened #9077 "AppService returns standard Error rather then AbpException"
hello,

I Have a service as bellow :

[code]

When there is an error i'm expecting AbpExpeption (more useful for me) rather then standard error

What is expected :

![image](https://user-images.githubusercontent.com/5918026/118795535-f633db00-b89a-11eb-826d-f80a5d7fbd15.png)

What i get :

![image](https://user-images.githubusercontent.com/5918026/118795633-1368a980-b89b-11eb-9ca1-483c72e6b3ff.png

[2021-05-19 10:17] realLiangshiwei commented on #9062
try

[code]

[2021-05-19 10:34] aelhadi commented on #9062
Replacing IdentityRole... by IdentityUser  works fine 👍

[code]

Should be added to documention.... ;-)

[2021-05-19 10:34] #9062 closed, assigned to nobody

[2021-05-19 13:30] realLiangshiwei opened #9079 "Update BookStore document"
Related: https://support.abp.io/QA/Questions/1126#answer-0ec77688-7e35-3a25-680d-39fc92c5cf49

[2021-05-19 13:40] yellow-dragon-cloud commented on #7221
I think supporting both **IdentityServer 5** and **OpenIddict** would be perfect.

[2021-05-19 14:16] maliming commented on #8768
Can you try to set the **skipIssuerCheck** property in Angular?

https://manfredsteyer.github.io/angular-oauth2-oidc/docs/classes/AuthConfig.html#skipIssuerCheck

[2021-05-19 15:52] #8941 closed, assigned to nobody

[2021-05-19 16:55] ebicoglu opened #9082 "DisableValidation doesn't work after adding it to Controller and AppService"
Reported at https://support.abp.io/QA/Questions/1340/How-to-removedisable-validation-for-existing-DTO-object

[code]

[code]

[2021-05-19 17:24] alaawahbah commented on #8768
@maliming  Thank your effort for support,
we solve this issue by running it on https for back and front
thanks

[2021-05-19 17:36] #9077 closed, assigned to nobody

[2021-05-20 00:02] #8768 closed, assigned to nobody

[2021-05-20 01:28] maliming commented on #9082
https://github.com/abpframework/abp/blob/c74ee641784a9ff06537218f198775357d34943a/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Validation/AbpValidationActionFilter.cs#L10-L13

[2021-05-20 02:06] pengweiqhca opened #9083 "Migrate JetBrains.Annotations to Nullable reference types"
JetBrains.Annotations need Resharper or Rider support, NRT is dotnet native support.

[NotNull]=> Empty
[MaybeNull] => nullable

[2021-05-20 02:21] nguyenquanghuyit opened #9084 "How to make a report in mvc razor page?"

[2021-05-20 03:24] maliming commented on #9084
Please explain your issue in detail.

[2021-05-20 03:24] maliming commented on #9083
Please explain your idea in detail.

[2021-05-20 04:21] akshaybheda commented on #9066
after implementing that, and updating all packages from angular side. The application-configuration call returns all the expected values, but the same information is not sent from angular side back to c#.

Only few properties of CurrentUser are set while all information is being sentfrom the application-configuration

[2021-05-20 05:06] maliming commented on #9066
https://github.com/abpframework/abp/issues/9066#issuecomment-843662579

[2021-05-20 05:21] #9082 closed, assigned to maliming

[2021-05-20 06:25] akshaybheda commented on #9066
@maliming , The bearer token has all the details about claims now but the CurrentUser is only setting few of those properties and rest of them are null

[2021-05-20 06:54] maliming commented on #8794
https://github.com/abpframework/abp/pull/8842

[2021-05-20 06:54] #8794 closed, assigned to maliming

[2021-05-20 06:54] enisn commented on #9076
Your all codebase must use the same version, otherwise, you always may face a compatibility problem.

If you can share some code it's better to determine what was wrong.

[2021-05-20 06:55] #8858 closed, assigned to ilkayilknur

[2021-05-20 06:57] maliming commented on #9053
https://github.com/abpframework/abp/pull/9054

[2021-05-20 06:57] #9053 closed, assigned to armanozak

[2021-05-20 07:02] nguyenquanghuyit commented on #9084
In Dev Express , I see many sample about report template. But I do not know how to make report by abp.io mvc/razor pages
for example: Master-Detail Reports
https://docs.devexpress.com/XtraReports/5152/create-reports

[2021-05-20 07:07] maliming commented on #9084
We have an article about using Dev Express in Abp. You can take a look.

https://community.abp.io/articles/using-devextreme-components-with-the-abp-framework-zb8z7yqv

[2021-05-20 07:29] #9084 closed, assigned to nobody

[2021-05-20 08:31] dazsco opened #9098 "How should Blazor get the name of the current menu?"
I'm developing a set of Blazor themes, but I can't find how to get the menu name of the currently displayed page to judge the display of the menu.

[2021-05-20 08:46] nguyenquanghuyit opened #9099 "how to config deploy API on module instead of in src folder"
I want to document or tutorial to guide make API on other modules

[2021-05-20 08:53] nguyenquanghuyit opened #9100 "could not run when publish to web using http"

[2021-05-20 09:13] AdemAygun opened #9101 "Cannot see API parameters and exception detail on "ModelState is not valid" error"
* Your **ABP Framework version** 4.3.
* Your database provider(EF Core)
* Exception message and **stack trace** if available (check the logs).
We try on Postman and getting following response:

[code]
But in the AbpAuditLogs.Exceptions we only see below exception:

[code]

in AbpAuditLogActions.Parameters there isn't content of request , we only see `{}`
How can we see request content in this case

[2021-05-20 10:23] armanozak commented on #9069
Hi @mmoazibrahim,

Sorry, but the question is not clear.

What was the expected behavior? What didn't work?

[2021-05-20 11:46] yinchang0626 opened #9102 "[bug] When IdentityClients set more then one(Default),HttpClientAuthenticator will fail"
* Your **ABP Framework version**.
4.3.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
don't care
* Your database provider(EF Core/MongoDB)
don't care
* Exception message and **stack trace** if available (check the logs).
`Volo.Abp.Http.Client.AbpRemoteCallException: 'Unauthorized'`
* Steps needed to **reproduce** the problem.
For test this prob

[2021-05-20 12:22] d-oit opened #9104 "Basic Template Blazor Server: RedirectToLogin wrong uri"
* Your **ABP Framework version**.
*** 4.3**
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
*** Blazor Server**
* Your database provider(EF Core/MongoDB)
* Ef Core
* Exception message and **stack trace** if available (check the logs).
wrong url / not found: authentication/login
* Steps needed to **reproduce** the problem.
add index page:
@page "/

[2021-05-20 12:37] crashsol opened #9105 "Oracle Provider map class to Table, Can add className before the table pkId?"
when use offical  modules  such as  Volo.Abp.Identity ,Volo.Abp.Audting modules  with Oracle Provider ,oracle table need the table pkId  like  TableNameId,  can add IdPrefixWithClassName setting  to options ?  so the class IdentityUser key colunm Id map to  IdentityUserId,    thank you
` builder.ConfigureIdentity(optjons => {

                optjons.Schema = "Cement";
                optjons.Tabl

[2021-05-20 13:39] realLiangshiwei commented on #9098
Please refer to the basic theme: https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme

[2021-05-20 13:39] #9098 closed, assigned to nobody

[2021-05-20 13:55] evenlee opened #9111 "Question: How to customize/replace default account related messages"
We got a requirement to customize the default user lockout message(Key:UserLockedOutMessage), but I have not got clues from doc, can you please hint is it doable, if yes, can you specify the steps , thanks.

[2021-05-20 14:04] maliming commented on #9105
hi

Our modules not only for Oracle. :)

[2021-05-20 14:07] maliming commented on #9111
https://docs.abp.io/en/abp/latest/Localization#inherit-from-other-resources

[2021-05-20 14:48] crashsol commented on #9105
谢谢马哥，那我通过fluentApi来设置一下。

[2021-05-20 15:03] #9105 closed, assigned to nobody

[2021-05-20 15:08] yinchang0626 opened #9112 "[Volo.Abp.IdentityModel] please consider that TokenCacheKey should include tenantId when DynamicProxying calling"
Your ABP Framework version.
4.3.0
Your User Interface type (Angular/MVC/React... etc.) if the issue is related to a specific UI
don't care
Your database provider(EF Core/MongoDB)
don't care
Exception message and stack trace if available (check the logs).
None
Steps needed to reproduce the problem.
For test this problem,I use MyCompanyName.MyProjectName.HttpApi.Client.ConsoleTestApp in module of te

[2021-05-20 15:24] evenlee commented on #9111
Thanks @maliming, I tried the way in doc, but seems it does not work. the message i want to replace is in

       modules/identityserver/src/Volo.Abp.IdentityServer.Domain.Shared/Volo/Abp/IdentityServer/Localization/Resources/en.json

which is :

        "UserLockedOut": "The user account has been locked out due to invalid login attempts. Please wait a while and try again.",

can you please use te

[2021-05-20 16:57] JadynWong opened #9113 "Auditing: EntityHistoryHelper ExtraProperties field compare question"
v4.3.0 / MVC

https://github.com/abpframework/abp/blob/cb086c9bd6fada3564f59b4afce29905026b4308/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/EntityHistory/EntityHistoryHelper.cs#L223-L256

For the `ExtraProperties` field the default `Equals` is currently used for comparison. This will always be true.
I think we should use a custom `IEqualityComparer' when the field is `E

[2021-05-20 22:40] cristiandmonda commented on #9111
You can override the translation by adding the following to your **Application.Contracts** module:
[code]

And then creating a folder named **Identity** inside the **Localization** folder of your **Domain.Shared** project and adding the modified **en.json** file there. Remember to change the file's **Build Action** property to **Embedded Resource**.

[2021-05-21 01:02] maliming commented on #9111
https://github.com/abpframework/abp-samples/tree/master/DocumentationSamples/ExtendLocalizationResource

[2021-05-21 01:02] #9111 closed, assigned to nobody

[2021-05-21 01:03] maliming commented on #9113
Can you explain why?

[2021-05-21 01:13] realLiangshiwei opened #9114 "Blob AWS: container name support dots"
https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucketnamingrules.html

The following example bucket names are valid:

* docexamplewebsite.com
* www.docexamplewebsite.com
* my.example.s3.bucket

[2021-05-21 01:40] #9100 closed, assigned to nobody

[2021-05-21 01:40] #9099 closed, assigned to nobody

[2021-05-21 02:02] JadynWong commented on #9113
`ExtraProperties` as reference types directly and compare ever different.
EntityFrameworkCore uses `ExtraPropertyDictionaryValueComparer` to audit in a similar way.

[code]

![image](https://user-images.githubusercontent.com/13699353/119070711-1d191b00-ba1b-11eb-9e20-69c933a19a62.png)

![code](https://user-images.githubusercontent.com/13699353/119070782-3cb04380-ba1b-11eb-8912-1c7d10eaf3ef.gif)

[2021-05-21 02:25] JadynWong commented on #9113
Hi @maliming，
Can you make `ShouldSavePropertyHistory`,`IsBaseAuditProperty` methods to protected virtual?
For some reason, we need to record the change information of the entity's `LastModifierId`. If these methods were virtual, it would be easier to rewrite our own logic.
Thanks.

[2021-05-21 03:55] #8000 closed, assigned to stsrki

[2021-05-21 03:55] #6712 closed, assigned to nobody

[2021-05-21 03:55] #7924 closed, assigned to nobody

[2021-05-21 03:55] #8016 closed, assigned to nobody

[2021-05-21 03:55] #7149 closed, assigned to nobody

[2021-05-21 04:47] akshaybheda commented on #9066
Also @maliming , After upgrading we are getting Npgsql.PostgresException (0x80004005): 42P01: relation "xx" does not exist

After running update-database, No migrations were applied. The database is already up to date.

Any pointers?

[2021-05-21 05:07] maliming commented on #9066
No ideas.

[2021-05-21 06:39] akshaybheda commented on #9066
@maliming  the eAccountComponents is missing Account in latest package. How do I replace full account component, which we had earlier

[2021-05-21 07:17] #8235 closed, assigned to nobody

[2021-05-21 07:31] #9114 closed, assigned to realLiangshiwei

[2021-05-21 07:38] Rwing commented on #9076
@enisn Hi, I created a repo to reproduce this issue
https://github.com/Rwing/DynamicClientError

[2021-05-21 07:44] realLiangshiwei opened #9118 "Problem of blob BlobNamingNormalizers"
Like: `AzureBlobNamingNormalizer`

**Container names must start or end with a letter or number**.

Did not get the expected value

![image](https://user-images.githubusercontent.com/16813853/119100871-fa065f80-ba4a-11eb-997f-713e218b0f15.png)

[2021-05-21 08:18] ilkayilknur opened #9122 "Update Lookup Property Usage"
See https://github.com/abpframework/abp/issues/7728
The `lookup` property will be null if the developer doesn't specify a lookup configuration.
The old behavior was setting the `lookup.url` field to null.

[2021-05-21 08:48] #9118 closed, assigned to realLiangshiwei

[2021-05-21 13:15] DanielGlos commented on #8948
Hi @realLiangshiwei

We are facing the same issue at the moment. Here I created minimal repository to reproduce the error.
https://github.com/DanielGlos/AssetManagerUpdate

There are two branches one on .NET Core 3.1 (this works fine) and then .NET 5 branch with reproducible error.
Instructions are in the repository.

Looking forward for your answer.

[2021-05-21 13:32] #9079 closed, assigned to realLiangshiwei

[2021-05-21 13:54] evenlee commented on #9111
Thanks @eris

Thanks for the details @cristiandmonda , AccountResource does not work till I use AbpIdentityServerResource, and I followed abp sample moved the config code to domain.shared project

[2021-05-21 14:24] Stirda commented on #8818
@hikalkan said in #8195:

1. Does this mean that BusinessExceptions/UserFriendlyExceptions thrown from HttpApi.Host show a nice modal in Blazor WASM already? Because this is not the case for me. Exception message is not displayed. Only standard generic error one is.
2. Does this mean that exceptions thrown **into Blazor project** are the only ones handled by this automagical modal?

So, @emilsjog,

[2021-05-21 20:12] pradipbaria commented on #8994
@realLiangshiwei
Can you explain the reason for choose approach to subscribe to only one topic?

[2021-05-21 21:33] gterdem opened #9130 "Change redirect button text after logout"
![113123879-9ff0d700-921d-11eb-8b93-8cce31d47307](https://user-images.githubusercontent.com/25867/119200392-850c4780-ba95-11eb-820e-f80107551dfa.png)

[2021-05-21 23:02] gterdem opened #9132 "External authentication error when confirm email/phone is selected"
`OnGetExternalLoginCallbackAsync` throws **email already taken exception** when confirmed email/phone setting is selected.

It should redirect to a _Not Allowed_ page and inform user about this setting instead of trying to create same user.

[2021-05-22 11:07] hikalkan commented on #8776
I've written an article to show how this can be done for existing solutions: https://community.abp.io/articles/unifying-dbcontexts-for-ef-core-removing-the-ef-core-migrations-project-nsyhrtna

[2021-05-22 13:06] crashsol commented on #8210
mark , the same problem,

[2021-05-22 16:18] #9130 closed, assigned to gterdem

[2021-05-22 20:02] hikalkan opened #9134 "Disable audit logs for signalr hub connect/negotiate requests"
We can do this at framework level since that endpoint has no meaning for audit logging

![image](https://user-images.githubusercontent.com/1210527/119239408-8602af00-bb51-11eb-8590-1b8b92aafde1.png)

[2021-05-22 23:27] HappyNinja2 opened #9135 "Any React sample?"
Is there any plan to release a React sample to be used as the front end? I find it hard to re-write the front end from angular since some auth packages are not included. It would be wise to focus on React since it has gained more popularity than angular as well

[2021-05-23 02:57] juchunwei opened #9136 "Blazor server project error occurs when published. Authorization failed! Given policy has not granted. and no user name"
* Your **ABP Framework version** : 4.3.1
* Your **User Interface** type : Blazor Server
* Your database provider(EF Core/MongoDB), EF Core
* Exception message and **stack trace** if available (check the logs).

Just created a new Blazor Server project, nothing changed and publish it,  there's no user name showing after login, no Administration menu, the Account/Manage page works, and the error occ

[2021-05-23 03:51] maliming commented on #9136
Please check your logs.

[2021-05-23 03:55] maliming commented on #9135
Duplicate of #1638

[2021-05-23 03:55] #9135 closed, assigned to nobody

[2021-05-23 06:28] juchunwei commented on #9136
@maliming

2021-05-23 10:55:56.397 +08:00 [INF] Authorization failed. These requirements were not met:
PermissionRequirement: AbpIdentity.Users
2021-05-23 10:55:56.401 +08:00 [INF] Authorization failed. These requirements were not met:
PermissionRequirement: AbpIdentity.Users.Create
2021-05-23 10:55:56.403 +08:00 [WRN] Exception of type 'Volo.Abp.Authorization.AbpAuthorizationException' was thrown

[2021-05-23 10:16] juchunwei commented on #9136
@maliming ,

Hello maliming,

this error seems since 4.3.0, I just finished my project, but couldn't publish it. Could you please give me any idea how to fix it? I think the reason is CurrentPrincipalAccessor couldn't get the current user information.
And it has no problem when I'm using VS to debug it. I'm so sad now.

Thanks!

[2021-05-23 11:09] mooresway commented on #8385
eShopOnAbp (or something similar) sounds great!

Would make great reference on practical real world usage for many topics...

[2021-05-23 12:37] Loongle commented on #9102
What is the temporary fix? @yinchang0626

[2021-05-23 14:40] kbsiva opened #9137 "When can we expect document on Permission-Management"

[2021-05-23 15:51] yinchang0626 commented on #9102
@Loongle  Hi
 In your `HttpApi.Host` add a class,
[code]

[2021-05-23 17:04] dlsmartlink commented on #5343
I tried not to use Identity Server for Web Assebmly with Blazor, and I failed! Any suggestions for me? thanks.

[2021-05-23 17:05] ghost commented on #5343
I tried not to use Identity Server for Web Assebmly with Blazor, and I failed! Any suggestions for me? thanks.

[2021-05-23 17:32] #8091 closed, assigned to nobody

[2021-05-23 17:32] #8079 closed, assigned to nobody

[2021-05-23 23:38] jucchytil commented on #8776
When will 4.4 be released?

[2021-05-23 23:39] jucchytil commented on #8776
found it. July 1.

[2021-05-24 00:45] maliming commented on #9136
You can change the **ASPNETCORE_ENVIRONMENT** environment to debug the application.

[2021-05-24 00:50] maliming commented on #9137
We will continue to improve the documentation, You can learn it through source code and unit testing.

[2021-05-24 00:50] #9137 closed, assigned to nobody

[2021-05-24 02:24] realLiangshiwei opened #9138 "Module template: can not run the Blazor.Host project"

[2021-05-24 03:58] maliming commented on #9112
We can remove `IgnoreMultiTenancy` from `IdentityModelTokenCacheItem` class.

[2021-05-24 05:40] nguyenquanghuyit opened #9141 "How to generate from exist table to entity by suite"
I've already database first. So, How to generate from it to entity. Thanks!

[2021-05-24 06:07] emilsjog commented on #8818
1. Yes, when we used WASM there was a nice modal showing on exceptions thrown in api-side. But in Blazor-server there is only the yellow error bar with default text.

2. Yes, exception thrown in application layer is not handled with the modal showing in the blazor-server project. I had to wrap service calls in `try{
 MyAppService.HelloWorld("john"); } catch(BusinessException)` in order to get that

[2021-05-24 06:14] #9138 closed, assigned to realLiangshiwei

[2021-05-24 08:23] mohamed-moaz-ibrahim commented on #9069
I'm trying to extend the identity user entity, I have a property that is a foreign key to another table which should be displayed as  select component in the angular ui.

I did the steps exactly the same as explained [here](https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#navigation-properties-foreign-keys) but it didn't shows as expected

[2021-05-24 08:46] leonkosak commented on #9136
Tiered solution? Check Redis and configuration in appsettings.json.

[2021-05-24 09:13] juchunwei commented on #9136
@leonkosak ,

Not tiered solution.  nothing changed in the appsettings.json. I just create a new project and publish it.

Here's the link for the website. https://app.keyapp.com.cn/

Maybe I have to rewrite everything with MVC if it can't be solved.  :(

this issue since 4.3.0 preview.

[2021-05-24 09:19] juchunwei commented on #9136
@leonkosak

I believe the reason is the CurrentPrincipalAccessor couldn't get the principal when it validate the permissions.
But it works when debug it in VS.

[2021-05-24 09:20] maliming commented on #9136
@juchunwei

You are not enabled **WebSocket** in your web server.

[2021-05-24 09:20] #9136 closed, assigned to nobody

[2021-05-24 09:34] ghost opened #9143 "How to modify the case format of the module's routing?"
The following code only applies to the module that  I wrote myself.

[code]

[2021-05-24 09:46] ghost commented on #8625
The problem could not be repeated, so I closed it!

[2021-05-24 09:46] #8625 closed, assigned to nobody

[2021-05-24 11:12] mehmet-erim opened #9146 "Angular UI: Upgrading to Angular v12"
- [x] app template
- [x] module template

[2021-05-24 11:16] SarcoZ opened #9147 "Custom class validate can not use resource language"
4.3.1
my dto is like this

[code]

[code]

I use this method in controller to test custom class input validate use lauguage change
[code]

I use
"Settings": {
    "Abp.Localization.DefaultLanguage": "zh-Hans"
}
in my appsettings.json, but i can not get a special language Localization result,it alse use en language

[2021-05-24 11:27] hikalkan commented on #6132
See https://volosoft.com/blog/introducing-the-lepton-theme-next-generation
We've built and we will release a new theme soon, which will have a "lite" version as free and can be used alternative to the current basic theme.

[2021-05-24 13:05] realLiangshiwei opened #9150 "Problem with copy-resources.js"
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Client-Side-Package-Management#resource-mapping-definition-file

As the document explains, `!@libs/**/abp.js` where remove all `./wwwroot/libs` and keep `abp.js`.  but after my test, it even deletes all the code in the current folder

steps:

* `abp new Qa -t app`
* Open `abp.resourcemapping.js` and replace with the following:
[code]
* Open CMD in `.

[2021-05-24 15:24] #9112 closed, assigned to nobody

[2021-05-24 15:34] muratcanoguzhan commented on #5661
Why I can't use transactions? There should be another solution.

[2021-05-24 23:29] yinchang0626 commented on #9102
resolved by #9151

[2021-05-24 23:29] #9102 closed, assigned to nobody

[2021-05-25 03:57] ghost commented on #1517
I don’t use navigation properties, just want to set a foreign key in database. I have the same issue, is there a solution?

[2021-05-25 05:52] #7728 closed, assigned to realLiangshiwei

[2021-05-25 07:04] snowchenlei opened #9153 "extract upload module for cmskit"
now we need upload.
This function is available in cmskit(MediaDescriptor).
Can extract it into a separate module?

[2021-05-25 07:08] #8700 closed, assigned to nobody

[2021-05-25 14:48] bnymncoskuner commented on #8924
Hello,

You can simply inject `cdkDrag` anywhere in `abp-modal` and set `cdkDragRootElement` as you have done. I suggest you do it between `<ng-template #abpBody> </ng-template>`

E.g.

[code]

[2021-05-26 02:55] maliming opened #9158 "RequestLocalizationOptions needs to be updated after the default language changed."
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/RequestLocalization/DefaultAbpRequestLocalizationOptionsProvider.cs

https://support.abp.io/QA/Questions/1315/How-can-I-set-default-language-to-FI#answer-12d2e6a8-1379-4f37-72d2-39fcb8910f0b

[2021-05-26 06:50] mehmet-erim opened #9160 "Angular UI: ValidationErrorComponent throws ExpressionChangedAfterItHasBeenCheckedError error"
Steps to reproduce:

1. Create a form that contains a required field
2. Put the form to the `abp-modal` body
3. Open modal & trigger the field's error
4. Hide/show the form field and check the browser console