[2020-04-09 01:17] gvassao commented on #3522
@liangshiw Thanks for the reply that clarifies things a bit but my 2nd question was actually about a SQL INSERT statement directly to the database.

[2020-04-09 01:24] maliming commented on #3521
I will check it, thanks for your feedback.

[2020-04-09 01:26] maliming commented on #3515
hi @gterdem
https://github.com/abpframework/abp/pull/3519

[2020-04-09 01:27] liangshiw commented on #3522
@gvassao If you use SQL, then you should follow the SQL specification. This has nothing to do with ABP, however you should make GUID sequential ,this is critical to performance.
See https://docs.microsoft.com/en-us/sql/t-sql/data-types/uniqueidentifier-transact-sql?view=sql-server-ver15

[2020-04-09 01:29] gvassao commented on #3522
@liangshiw Yeah that is what I thought. I just wanted to confirm that ABP had nothing built-in to deal with this situation. Thanks!

[2020-04-09 01:30] #3522 closed

[2020-04-09 01:39] volethanh commented on #3295
Hi @erolarkat,

Is there any way to generate proxy for some selected models for angular UI ?

[2020-04-09 01:45] #3520 closed

[2020-04-09 02:05] dicksonkimeu commented on #3458
Great.

Have added it to my project, any there else required ? I.e to initialize the code ?

[2020-04-09 02:26] maliming commented on #3521
I checked and found no problems, have you encountered any problems?

[2020-04-09 02:33] maliming commented on #3458
Just need to register `AbpApiDescriptionProvider `to DI

Of course, it still needs to be improved, such as the logic of the `ShouldHandleException `method in the exception filter. Including other http status codes.

I will try to implement this function in the framework.

[2020-04-09 04:25] yanxiaodi commented on #3511
@maliming Thanks. It helps.

[2020-04-09 04:25] #3511 closed

[2020-04-09 05:42] cem1835 commented on #3521
When i review project logs , looks like this :

2020-04-08 21:21:42.451 +03:00 [DBG] - /themes/app-assets/js/scripts/bootstrap-autocomplete/autocomplete.min.js (41524 bytes) - non minified

2020-04-08 21:21:42.452 +03:00 [INF]   > Minified /themes/app-assets/js/scripts/bootstrap-autocomplete/autocomplete.min.js (41524 bytes -> 36020 bytes)

abp trying to minimize this file but file name contains "

[2020-04-09 06:31] SmallShrimp opened #3527 "Remote authorization problem"
#### reproduction

1.  Create a identity server client and set permission `UserLookup`
2.  Use `UserLoopupService` get an user in microservices(Remote Reqeuest)
2.1.  The current authorization information is obtained dynamically through IdentitiClient,like this:
[code]
3. I got a result of `Authorization failed! Given policy has not granted: AbpIdentity.UserLookup`
4. Here is the body of the reque

[2020-04-09 06:54] zafariNet opened #3528 "Using framework source code in startup template"
Hello,
Is there any way to using framework source code  in startup template instead of using nuget packages ?
I mean , i want to change framework source code any time i want,
For example i change repository source code or change some third party configuration and other things in framework source code without overriding methods and derive any class.
I would like to make source code of abp part of m

[2020-04-09 06:54] sebitsi commented on #3487
@gterdem Thanks for your explanation and clarification.
Yes it helps.

You put together all my knowledge and confirm it. ;)

Of course, I could use docker for installing redis.  But i have limitations on production server.
This is first point. Second is: I need to monitoring it, updating it. So mantaining it. ;(

Some more questions:

1. You wrote that redis is used for caching permissions ....

I

[2020-04-09 07:02] liangshiw commented on #3528
Use `--local-framework-ref --abp-path` options
![image](https://user-images.githubusercontent.com/16813853/78867017-01e78800-7a73-11ea-88e5-7f52acbcb1c5.png)

[2020-04-09 07:02] #3528 closed

[2020-04-09 07:06] maliming commented on #3521
I will check it again. 👍

[2020-04-09 07:48] maliming commented on #3527
I will check it. Thanks for the feedback.

[2020-04-09 07:49] maliming commented on #3458
@dicksonkimeu I have opened PR.https://github.com/abpframework/abp/pull/3526

[2020-04-09 08:13] maliming commented on #3170
I think you can pass an include delegate in the repository method.

[code]

[2020-04-09 08:23] dicksonkimeu commented on #3458
Thank you soo much.

[2020-04-09 08:23] #3458 closed

[2020-04-09 08:35] SoloHam commented on #3170
IRepository:
[code]

The `IRepository` interface doesn't seem to have a `Getlist` method. It only has the following:

![Annotation 2020-04-09 132135](https://user-images.githubusercontent.com/8042978/78873957-13c22e80-7a65-11ea-8134-4dd35c4983d1.png)

And none of these have a method that takes a delegate.

`GetAsync` & `GetListAsync` take a boolean `includeDetails` which I suppose calls the defaul

[2020-04-09 10:16] mehmet-erim opened #3530 "Attach toaster and confirmation components to app-root level"

[2020-04-09 10:18] mehmet-erim opened #3531 "Create a generic service that can attach a component to root level"

[2020-04-09 11:19] holyrong opened #3532 "Why loop excuting "Executing DbCommand""
I'm working with abp vnext 2.4，I‘ve get many logs every several seconds。The logs I've got like this：
![image](https://user-images.githubusercontent.com/8318475/78889787-f3ab6300-7a96-11ea-89bb-a38ae3a7247b.png)

**How can i  stop the loop job?**

[2020-04-09 11:36] liangshiw commented on #3532
Hi @holyrong
ABP framework background jobs system use background workers to achieve scheduling. Background Job module use database persistence jobs. This is the design.
1. If you don't need a background jobs system, you can disable it. See https://docs.abp.io/en/abp/latest/Background-Jobs#disable-job-execution
2. You can also replace it with your own implementation (like use redis)

[2020-04-09 12:03] holyrong commented on #3532
OK,Thank you!

[2020-04-09 12:03] #3532 closed

[2020-04-09 12:23] mehmet-erim commented on #2774
Hi @olicooper,

Until we develop something for this issue, you can handle the error manually in Angular.
Pass `skipHandleError: true` to `RestService` as shown below:

[code]

See the [`catchError` documentation](https://rxjs-dev.firebaseapp.com/api/operators/catchError)

[2020-04-09 13:38] yekalkan commented on #3517
This is not related to tag helpers. Further more, i don't think this is related to abp framework.

@hikalkan reopen this issue if you think this is related to us.

[2020-04-09 13:38] #3517 closed

[2020-04-09 13:38] yekalkan commented on #3517
Also, you can use **MinLength** attribute.

![image](https://user-images.githubusercontent.com/5793291/78901137-91476800-7a80-11ea-92ef-48ed8f074ff7.png)

[2020-04-09 15:02] lommez opened #3535 "Azure Function"
Is possible to use the Abp with Azure Functions?
And have the IoC working?
I've already have created the startup class

[code]

Inside the factory, everything works fine..
But when a Function is triggered it cannot be created because the IoC doesnt know how to create the dependencies.

Is there anything missing to make it work?
Thanks

[2020-04-09 15:28] olicooper opened #3536 "Angular 'apiUrl' in configurable json file"
I'd like to deploy my angular application to different environments without having to edit the `environment.prod.ts` file and re-build for each environment. I have asked a similar question prior this (see https://github.com/abpframework/abp/issues/2669) but I wasn't able to get it working for my use case. I will try to explain below.

The main issue is that the ABP `CoreModule` makes an API call t

[2020-04-09 15:29] mehdihadeli commented on #3505
@SoloHam Yes, I know that. I did that before, but I asked this question because maybe there is better approach for this case.

[2020-04-09 18:05] nemesis567 opened #3537 "Angular Update"
So I updated my angular version to the last release and I'm facing an issue with ABP table and my action not getting executed:

`
core.js:6189 ERROR TypeError: Cannot read property 'length' of undefined
   at TableComponent.get totalRecords [as totalRecords] (abp-ng.theme.shared.js:2411)
   at TableComponent.get totalPages [as totalPages] (abp-ng.theme.shared.js:2429)
   at TableComponent_Template

[2020-04-09 20:11] dicksonkimeu commented on #2195
Okie, we shall wait.

[2020-04-09 20:11] #2195 closed

[2020-04-09 21:24] dicksonkimeu commented on #3476
@maliming

[2020-04-09 22:11] nemesis567 commented on #3535
For workers the following works fine:

Host.CreateDefaultBuilder(args)
                .ConfigureServices((hostContext, services) =>
                {
                    services.AddApplication<InputEventListenerModule>();
                    services.AddHostedService<Worker>();
                })
                .UseAutofac();

[2020-04-10 01:01] maliming commented on #3170
I mean you implement custom repository method and pass include delegate.

[2020-04-10 01:12] maliming commented on #3476
I remember that `Authority `can only be a fixed domain name, which is why http headers are used to pass tenants.

[2020-04-10 05:01] liangshiw opened #3539 "Navigation link problem for docs module multiple projects with the same name"
After adding multiple projects with the same name in the docs module, a list page will be displayed to select different items, which is good.
But the same navigation link results in only one project being displayed.

![image](https://user-images.githubusercontent.com/16813853/78963508-3b2eff00-7b2a-11ea-9f22-d2555d1c423a.png)

Is this a issue? If we have multiple projects, may we can consider addi

[2020-04-10 05:06] maliming commented on #3539
Your project name should be unique.

[2020-04-10 05:26] liangshiw commented on #3539
Should you think `ShortName` is unique?  Because I can add duplicate projects in the admin page.

[2020-04-10 06:44] michaelsudnik opened #3541 "With "Require confirmed email", instant login should not happen after registration"
When the "Require confirmed email" option is selected and a new user registers, they are logged in straight away. They should be presented with a message saying thank you for registering and to confirm their email before logging in.

[2020-04-10 06:49] michaelsudnik opened #3542 "With selecting "Require confirmed email" for the first time I can no longer login"
When selecting this option, if I then try to login again, I cannot because my email address has not yet been confirmed. Maybe the initial created admin account should have its email address confirmed property set to true by default. And if logging in with the correct username and password, the confirmation email could be resent or at least give the user the option to resend it.

----

When the "Re

[2020-04-10 06:50] michaelsudnik commented on #3542
It would also be useful to be able to set the email address confirmed property for individual users within the user management.

[2020-04-10 06:51] mehmet-erim opened #3543 "Add documents for each Angular UI module"

[2020-04-10 06:55] maliming commented on #3541
Duplicate of #https://github.com/abpframework/abp/issues/3542

[2020-04-10 06:55] #3541 closed

[2020-04-10 06:57] maliming commented on #3542
Please follow: https://github.com/abpframework/abp/issues/2608#issuecomment-572883146

[2020-04-10 07:21] #3425 closed

[2020-04-10 07:21] #3080 closed

[2020-04-10 07:41] maliming commented on #3539
According to the current URL routing template, the `ShortName `of the project cannot be duplicate,
We should make sure it is unique in the domain.

[2020-04-10 07:56] dicksonkimeu commented on #3476
That I agree.

But where do enter such code,
[code]

[2020-04-10 08:26] maliming commented on #3462
Waiting..
https://github.com/shiftkey/dotnetcore-sourcelink-test-bug
https://github.com/shiftkey/dotnetcore-sourcelink-test-bug/issues/1

[2020-04-10 08:39] maliming commented on #3476
It depends on your actual situation. I just give an example. If you are using `DynamicHttpProxy `it has already done this.

[2020-04-10 10:09] #3531 closed

[2020-04-10 10:12] dicksonkimeu commented on #3476
@maliming have noticed that I can't see my HTTP API (Dynamics Proxy Classes) when I run HttpApi.Host (localhost:44383/swagger) am using the Module Template. But when I add the controllers manually to the HttpApi Module, they appear.

I only see AbpTenant by name, by id, API definition, languages, proxy scripts and app configurations.

And that could be the reason why my tenant resolvers are not wo

[2020-04-10 13:32] dicksonkimeu commented on #3476
@maliming have switched to DynamicHttpProxy and it worked. I was using manually defined controllers.

Thank you.

[2020-04-10 13:32] #3476 closed

[2020-04-10 13:40] #3405 closed

[2020-04-10 13:46] michaelsudnik commented on #3541
I don't think this is a duplicate if the other one (I created). I don't see any reference of this issue in the referenced issue either. This is specifically referring to users being logged in straight away after registration. This should not happen with the Require confirmed email option selected.

[2020-04-10 14:32] Tsingbo-Kooboo commented on #2351
Are there plans to implement this?

[2020-04-10 16:31] dicksonkimeu opened #3549 "Request for Opinion"
I want to use oracle db and the official EF core provider from oracle is currently supporting EF core 2.x.

Can I use EF core 2.x in the entire project using latest release of abp?

[2020-04-10 16:40] mehmet-erim opened #3550 "Be able to send feedback in a documentation"
Can be inspired by the below:

<img width="571" alt="Screen Shot 2020-04-10 at 17 48 49" src="https://user-images.githubusercontent.com/34455572/79006757-86650400-7b62-11ea-8c6b-fb350dab4cc9.png">

[2020-04-10 16:50] mehmet-erim commented on #3537
Hi @nemesis567,

Please check the `value` input of `abp-table`. It must be an array.

[code]

[2020-04-10 17:03] nemesis567 commented on #3537
Needed to add forFeature([ModuleState]) to the module imports. Fixed now.

[2020-04-10 18:49] connde opened #3551 "How-to debug automagically APIs"
Hi, sorry if this is not the right place to post this kind of question, let me know if needed.

I'm trying out ABP and I'm getting an exception on automagically generated API. I got the error from the log file, but I would like to know what is the best way to debug it from VS so I don't need to open the log file and look for the exception.

Do I need to override the methods I want to debug or is t

[2020-04-10 21:59] #2638 closed

[2020-04-10 22:00] #2603 closed

[2020-04-10 22:00] #2516 closed

[2020-04-10 22:00] #2601 closed

[2020-04-10 22:01] #3353 closed

[2020-04-10 23:44] dicksonkimeu commented on #270
was this abandoned ?

[2020-04-10 23:52] dicksonkimeu commented on #1721
In my application services, i have a scenario where i want to update multiple tables, and if one fails, it should role back the whole transaction. Is below setting sufficient ?

![image](https://user-images.githubusercontent.com/4476822/79029952-6c95e200-7b9f-11ea-9857-4b74880775db.png)

[2020-04-11 01:50] liangshiw commented on #1721
@dicksonkimeu Yes it is transactional

[2020-04-11 01:53] liangshiw commented on #3551
Hi @connde
You can debug by referencing the framework source code.

[2020-04-11 02:12] liangshiw commented on #3549
Hi @dicksonkimeu
It supports ef core 3.x,  Consider using https://www.nuget.org/packages/Devart.Data.Oracle.EFCore/

[2020-04-11 02:43] connde commented on #3551
Thanks, will do that.

[2020-04-11 02:43] #3551 closed

[2020-04-11 05:33] nguyendev commented on #3239
This is one thing I want. I think, in the next version. You can add something like this
https://github.com/waqaskhan540/IdentityServerExternalAuth

[2020-04-11 09:00] #3180 closed

[2020-04-11 09:19] MROALI opened #3555 "how can i integrate module source code in my application"
Hello ,
how can integrate module in my application. Ohtersayin when generating module with abp a solution file is created.

My need is to have a module directory which will contains my module projects...

Thankyou in advance for your help, and sorry if my question is so newbie but didn't find a clear answer in the doc.

[2020-04-11 10:26] dicksonkimeu commented on #2717
I think we should implement compatibility for ms SQL, my SQL, postgres and oracle out of the box.

[2020-04-11 13:31] gdlcf88 commented on #3555
You don't have to do that. Try to use [JetBrains Rider](https://www.jetbrains.com/rider) to explore or debug your module source code. (Of course, Visual Studio can also do this :D )

[2020-04-11 13:38] mehdihadeli opened #3557 "How to get a custom config in abp angular"
Hi,
@mehmet-erim I added my own extra config to my environment file, but how can I get this config in my code?

[2020-04-11 13:44] gdlcf88 commented on #3527
It may relate to: https://github.com/abpframework/abp/issues/3131

[2020-04-11 14:16] hikalkan opened #3558 "Extra Properties Enhancement Ideas"
- Inherit properties defined for base classes. Problem: May have a performance problem if not well implemented.
- Apply the validation on `.SetProperty()`. Problem: Passing `IServiceProvider` is not possible, causes custom validation actions consider this scenario.

I am not sure about these, but adding to backlog to consider later.

[2020-04-11 14:28] MROALI commented on #3555
I need to do that, to reference my module in my startup mvc project ?

[2020-04-11 15:15] dicksonkimeu opened #3560 "Only sources that implement IAsyncEnumerable can be used for Entity Framework asynchronous operations."
I get below error when i use `.ToListAsync();` on GetAll methods

[code]

ERROR
[code]

[2020-04-11 16:39] #3479 closed

[2020-04-11 17:49] longxiaomiao commented on #2775
@yerayvm Hi, I tried your way, it worked for me, thanks!
I modified the `app.UseAbpRequestLocalization()` in `OnApplicationInitialization` to the following code:
[code]
and thank you again!

[2020-04-11 18:53] ChangYinShung opened #3562 "abp angular seo"
hello,i know this issue has no related to abpframework .
But i want ask some suggestion:
Which way is  better to implement seo  (When abp Mutiltenant is enabled and DomainTenantResolver)?
1.  Angular Universal : https://angular.io/guide/universal
2. Prerender io : https://prerender.io/

[2020-04-11 20:47] #3461 closed

[2020-04-12 00:51] dicksonkimeu opened #3565 "Entity with child properties results into tracking key error"
I have two tables

Student and student subjects .

A student has many subjects. When I create a student with only one subjects at a time it works. When I have several subjects it results to a key tracking error.

How can I avoid this error. Am using fullaudit.

[2020-04-12 01:45] liangshiw commented on #3565
This sounds nothing to do with ABP

[2020-04-12 02:08] liangshiw commented on #3560
This has nothing to do with ABP, make sure you use EF Core correctly.

ABP has some codes for your reference:

https://github.com/abpframework/abp/blob/0ee3e328a5c8beb40e426318f82932a19eb7dd68/modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs#L41

[2020-04-12 02:11] liangshiw commented on #3555
The way of integrate to modules is mentioned here. See https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Guide

[2020-04-12 02:16] #3539 closed

[2020-04-12 06:24] #3555 closed

[2020-04-12 10:48] #3521 closed

[2020-04-12 11:38] olicooper opened #3566 "Upgrade Swashbuckle.AspNetCore to v5.3.0"
For fixed issues since v5.0.0 see:
* 5.3.0 https://github.com/domaindrivendev/Swashbuckle.AspNetCore/milestone/12?closed=1
* 5.2.0 https://github.com/domaindrivendev/Swashbuckle.AspNetCore/milestone/10?closed=1
* 5.1.0 https://github.com/domaindrivendev/Swashbuckle.AspNetCore/milestone/9?closed=1

[2020-04-12 12:14] mehdihadeli opened #3567 "Update abp modules source code that added with --with-source-code command to latest abp version codes"
Hi,
Is it possible also to update source codes for modules that added with `--with-source-code` to get the latest changes from abp beside our modification in these modules?

[2020-04-12 12:21] olicooper opened #3568 "Upgrade @ng-bootstrap/ng-bootstrap in @abp/ng.theme.shared"
[@ng-bootstrap/ng-bootstrap](https://www.npmjs.com/package/@ng-bootstrap/ng-bootstrap) now supports Angular 9.

[2020-04-12 14:33] hikalkan commented on #3568
@mehmet-erim can you schedule this?

[2020-04-12 14:35] hikalkan commented on #3567
No, not possible. Becuase when you get the source code, you can make any change and upgrading it overwites your changes. If you won't make change, then use as NuGet packages. We can not build a "smart merge system" that automatically update the changed files.

[2020-04-12 14:35] #3567 closed

[2020-04-12 14:38] hikalkan commented on #3566
@liangshiw can you upgrade it?

[2020-04-12 14:39] liangshiw commented on #3566
@hikalkan  Yes of course.

[2020-04-12 14:42] hikalkan commented on #3565
Can you share stacktrace and full error message? Also, share your source code parts. If possible, create a simple project that re-produces it.

[2020-04-12 14:46] youlxs opened #3570 "External Login With Github User. The email claim can't be retrived even I set the scope to user/"
I try to integrate the abp vnext with external login for github provider.
But I got this exception.
System.ArgumentNullException: Value cannot be null. (Parameter 'userName')
   at Volo.Abp.Check.NotNull[T](T value, String parameterName)
   at Volo.Abp.Identity.IdentityUser..ctor(Guid id, String userName, String email, Nullable`1 tenantId)
   at Volo.Abp.Account.Web.Pages.Account.LoginModel.Create

[2020-04-12 15:46] siyangzzz opened #3572 "About use Volo.HttpApi.Client"
hi：
    i have a problem in my microservice project.when i use volo.httpapi.client to call another microservice,the request will add app-version to the headers,for example:http://localhost:10001?api-version=1.0.so,i will get null from the api because my api url only http://localhost:10001,is there any way to fix this problem(remove the app-version from request headers)

[2020-04-12 15:55] #3572 closed

[2020-04-12 16:51] hitaspdotnet opened #3573 "(docs) Running ms-demo using docker missed"

[2020-04-12 16:54] hikalkan commented on #3573
We should update docker containers, publish to the docker hub and update the documentation.

[2020-04-12 16:56] hikalkan commented on #3562
@armanozak & @mehmet-erim what do you suggest?

[2020-04-12 17:01] hitaspdotnet commented on #3573
Can be good if we see Docker section in related document with TODO tag. For who don't want to lose their internet bandwidth 😄

[2020-04-12 17:04] #3549 closed

[2020-04-12 17:07] hikalkan commented on #1721
`isTransactional` is nor needed since it is already transactional by default.

[2020-04-12 17:08] hikalkan commented on #270
No, we'll consider for 3.0 since it is a breaking change. However, this is just a usage change, same functionality is already currently available.

[2020-04-12 17:15] hikalkan commented on #2131
I am closing this since you can set prefixes like:

[code]

Write this before any code executed (for example, in Program.cs file, at the beginning).

[2020-04-12 17:15] #2131 closed

[2020-04-12 17:15] hikalkan commented on #2351
You can set prefixes like:

[code]

Write this before any code executed (for example, in Program.cs file, at the beginning).

[2020-04-12 17:15] #2351 closed

[2020-04-12 17:26] hikalkan commented on #3170
Hi,

Repository pattern's purpose is to provide a unified interface accross different database systems. If you want to use EF Core API in the application layer, add `Volo.Abp.EntityFrameworkCore` package to your application layer and directly use its API. When you add the package, then you can directly do it: `_myRepository.Include(...).Where(...).ToListAsync()`.

[2020-04-12 17:26] #3170 closed

[2020-04-12 17:29] hikalkan commented on #3277
@yekalkan can you review https://github.com/abpframework/abp/pull/3538
I suppose it solves this issue.

[2020-04-12 17:32] hikalkan commented on #3505
@maliming can you check this? Thanks.

[2020-04-12 17:33] Stirda opened #3574 "DbMigrator never ends in a continuous deployment job"
When I ask my Azure DevOps release pipeline to run `dotnet MyCompany.MyProject.DbMigrator.dll`, the task never terminates, waiting indefinitely for a SIGTERM or Ctrl+C sequence to be sent.

I understand that this is the standard behavior of `ConsoleLifetime` but how can I run DbMigrator unattended?

[2020-04-12 17:39] #3515 closed

[2020-04-12 17:42] #3510 closed

[2020-04-12 17:47] hikalkan commented on #3574
Thank you for creating the issue, I also was thinking about that.

[2020-04-12 17:57] hikalkan commented on #3495
I agree. Returning `IActionResult` gives more opportunity while overloading.

[2020-04-12 17:58] #3477 closed

[2020-04-12 18:01] hikalkan commented on #394
To be honest, we are not currently working on this, but it is still a very high priority waiting work.

[2020-04-12 18:04] hikalkan commented on #3102
I will work on this in the next milestone to see if we can provide a simple way to make all such constants changeable.

[2020-04-12 18:07] hikalkan commented on #1528
It is naturally required if your system is distributed.

However, it not required by the ABP Framework. Default `DistributedEventBus` implementation is in-process and works out of the box. But if your system is distributed, in-process bus will not work as you expect.

[2020-04-12 18:07] #1528 closed

[2020-04-12 18:08] dicksonkimeu commented on #2717
This means we can't use Devart ? Because of this errors

[2020-04-12 18:20] hikalkan commented on #3440
Pass a `FixedLocalizableString` object which is not a localized string that implements `ILocalizableString`. Example: `new FixedLocalizableString("My value")`.

[2020-04-12 18:20] #3440 closed

[2020-04-12 18:22] mehdihadeli commented on #3567
@hikalkan ok thanks.

[2020-04-12 18:31] armanozak opened #3575 "Update LinkedList documentation to reflect its move to @abp/utils package"
- [x] Change all imports to @abp/utils
- [x] Show how it can be used in MVC
- [x] Remove any implication that this is an Angular specific data structure
- [x] Emphasize on its use in both Angular and MVC

[2020-04-12 19:03] hikalkan commented on #3412
In a microservice world, each service should care about its own data seed. They can register to new tenant created distributed event and seed their data.

[2020-04-12 19:03] #3412 closed

[2020-04-12 19:26] hikalkan commented on #3407
Write this into the `ConfigureServices` method of your EF Core module:

[code]

Then you can inject `IRepository<AuditLogAction, Guid>` when you need.

[2020-04-12 19:26] #3407 closed

[2020-04-12 19:39] hikalkan commented on #3371
did you see https://github.com/abpframework/abp-samples/tree/master/BookStore-Modular

[2020-04-12 23:06] olicooper commented on #3570
Have you looked at what the values in `info.Principal` are in a debugging session? It might help to see why the email address is null. I would also suggest not to use ABP's ClaimTypes as they won't match GitHub's claims which may change in the future too. https://github.com/abpframework/abp/blob/c2b77fa92c961b6e05e848832946b60ab3a09f5d/framework/src/Volo.Abp.Security/Volo/Abp/Security/Claims/AbpCl

[2020-04-13 00:59] maliming commented on #2717
@dicksonkimeu  https://github.com/abpframework/abp/issues/2717#issuecomment-581133553

[2020-04-13 01:14] liangshiw commented on #3570
See https://github.com/abpframework/abp/blob/1e5f9111fde5bb7750ffdd53b11dbaef9207f3b7/docs/en/How-To/Azure-Active-Directory-Authentication-MVC.md#faq

[2020-04-13 01:45] youlxs commented on #3570
I just debug the ticket received event, the claims returned by github does not contain the email.  The ClaimTypes.Name is returned. I think the sourcecode
info.Principal.FindFirstValue(Email) should be change to Name for github.

[2020-04-13 03:36] #3197 closed

[2020-04-13 03:44] mehmet-erim commented on #3568
Unfortunately, @ng-bootstrap/ng-bootstrap v6.0 doesn't work with Angular 8. We still support Angular v8. ng-bootstrap v5 works with both V8 and v9 Angular versions.

[2020-04-13 04:01] mehmet-erim commented on #3557
Hi @mehdihadeli,

There are two ways to get a config from the environment.

Here is an example:
[code]

[2020-04-13 04:01] #3557 closed

[2020-04-13 04:06] mehmet-erim commented on #3537
It is right. The state must declare to NgxsModule via `forRoot` or `forFeature` like below:

[code]

[2020-04-13 04:06] #3537 closed

[2020-04-13 04:20] mehmet-erim commented on #3483
Hi @YoussefSalameh,
What is your `@abp/ng.*` packages version?

It might be a cache problem. If you change the URL in the environment, you should clear the browser storages (session and local).

[2020-04-13 05:22] #3566 closed

[2020-04-13 06:27] maliming commented on #3574
We can inject `IHostApplicationLifetime` into `DbMigratorHostedService `to manually request termination of the current application.

[2020-04-13 07:09] liangshiw commented on #3570
Does this work for you?
![image](https://user-images.githubusercontent.com/16813853/79100230-97975600-7d98-11ea-95f5-1e5d8881eb65.png)

[2020-04-13 07:10] #3574 closed

[2020-04-13 07:12] youlxs commented on #3570
do not work

[2020-04-13 07:12] dicksonkimeu commented on #2717
Without the above quoted errors ?

[2020-04-13 07:14] XF1314 opened #3578 "An error code was found in the Volo.Abp.Account.Web.IdentityServer module"
In the defination of ConsentInputModel class
  `var apiScopes = IdentityScopes ?? new List<ConsentModel.ScopeViewModel>();`
Should be
 `var apiScopes = ApiScopes?? new List<ConsentModel.ScopeViewModel>();`

[2020-04-13 07:18] liangshiw commented on #3570
As @olicooper said , you need is `user:email` . You can consider override `CreateExternalUserAsync` method.

[2020-04-13 07:49] armanozak commented on #3562
Hi @ChangYinShung,

I am guessing you would like to build **pre-rendered (static) pages instead of server-side rendering (SSR)** via a Node server. I will try to compare them briefly:

Angular Universal | Prerender.io
:-- | :--
Build-time rendering w/ Angular compiler | External rendering w/ headless Chrome
Very easy to implement (as of Angular v9) | Easy to implement
You need to implement before

[2020-04-13 07:52] youlxs commented on #3570
Hi All,
I resolved github integration. There are two issues here.

1> When we request the github the scope options should be added like this.

![image](https://user-images.githubusercontent.com/10609666/79103077-89e4cf00-7d9e-11ea-953d-5e11673e76f0.png)
     Both user and user:email should be added.

2>The line code here is incorrect for github, we should use the ClaimsType.Email.

![image](https:

[2020-04-13 07:52] #3570 closed

[2020-04-13 08:43] yekalkan commented on #3277
Hi,

@hikalkan No, it doesn't. I won't approve it.

I didn't use parameters as "{0},{1}" because they are not for our tag helpers, they are for datatables localization.

See https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js#L350

It was a mistake to use same localiza

[2020-04-13 09:07] #3277 closed

[2020-04-13 10:10] ocelikk opened #3583 "DbMigrator gives table doesn't exist for lowercase table name"
I followed the instruction given [here](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-MySQL) to use mysql. Then made table names lowercase with the code below in OnModelCreating method of MyDbContext.

`
foreach (var entityType in builder.Model.GetEntityTypes().ToList())
            {
                var tableName = entityType.GetTableName();
                entityType.SetTableName(table

[2020-04-13 12:05] liangshiw commented on #3583
Hi @ocelikk  Try to add to the `Configure<YourProject>` method of the `<YourProject>DbContextModelCreatingExtensions` class.

[2020-04-13 12:46] ocelikk commented on #3583
`
public static class MyDbContextModelCreatingExtensions
{
public static void ConfigureMy(this ModelBuilder builder)
{
            Check.NotNull(builder, nameof(builder));
            /* Configure your own tables/entities inside here */
            // it didnt matter moving lower case making loop here.
}
}
`

And  dbcontext;

`
public class MyMigrationsDbContext : AbpDbContext<MyMigrationsDbContex

[2020-04-13 13:09] ChangYinShung commented on #3562
@armanozak , thanks !
First time to see 'Scully' and it  look like a good  chose for angular ,i will try it.

[2020-04-13 13:24] liangshiw commented on #3583
It works for me.

![image](https://user-images.githubusercontent.com/16813853/79123347-8cf6b400-7dcc-11ea-883f-f5d55f11cd5a.png)

Do you mean that the table name in the generated SQL is still uppercase? Translating expressions to SQL is a feature of ef core, it has nothing to do with ABP. For different drivers, EF Core will generate different SQL.

[2020-04-13 13:27] hubo0831 opened #3584 "Please set ServiceCollectionConventionalRegistrationExtensions.GetOrCreateRegistrarList from private to public"
I want change behavior of DefaultConventionalRegistrar, but I only can use reflection to change, thanks!

[2020-04-13 13:51] armanozak opened #3585 "Add DomInsertionService a Method for Removing Content"
- [x] Add method
- [x] Add tests
- [x] Update documentation

[2020-04-13 14:44] liangshiw commented on #3583
Unfortunately, that will not work. See https://github.com/abpframework/abp/issues/2131#issuecomment-563354065

Maybe you can consider another way: https://dev.mysql.com/doc/refman/8.0/en/identifier-case-sensitivity.html

[2020-04-13 14:46] olicooper commented on #3568
Okay, maybe this is one for the backlog when Angular 8 is depreciated later down the line then. Thanks for looking at this.

[2020-04-13 14:49] #3562 closed

[2020-04-13 15:56] mehdihadeli opened #3587 "How to use Configuration APIs in my API.Host project without dependency to MVC modules"
Hi,
I use angular for front-end and abp `API.Host` for the backend. I have to add the dependency to `AbpAspNetCoreMvcModule` for working this api `api/abp/application-configuration`. is there any approach for none mvc apps?

[2020-04-13 18:34] connde opened #3588 "npm ERR! peer dep missing"
Hi, I'm testing the Angular application and I'm getting these messages (bottom), should I worry about it or this does not interfere with the application?

PS C:\Workspace\Store\angular> npm ls --depth=0
Store@0.0.0 C:\Workspace\Store\angular
+-- @abp/ng.account@2.5.0
+-- @abp/ng.identity@2.5.0
+-- @abp/ng.setting-management@2.5.0
+-- @abp/ng.tenant-management@2.5.0
+-- @abp/ng.theme.basic@2.5.0
+-

[2020-04-13 18:42] mehdihadeli opened #3589 "Using ResourceOwnerPassword flow in angular account module is a secure way?"
Hi,
Using ResourceOwnerPassword flow in angular account module and use it for login page of identity server is ok for security purpose? Or is better we use another oauth flows? this link shows some of its dangers.
https://www.identityserver.com/articles/fact-sheet-the-dangers-of-using-the-password-grant-type-with-mobile-applications

[2020-04-13 18:58] seanalford opened #3590 "Solution: HTTP Error 500.30 - ANCM In-Process Start Failure"
I'm receiving the error below after building and running a new ABP Suite 2.5.0 project.  Note, I also experienced this issues in 2.4.0

**Steps to Reproduce**
1. Create a new project using ABP Suite 2.5.0 or 2.4.0
2. Build and Run DBMigrator application to deploy database.
3. Build and Run Web application.

**Problem**
HTTP Error 500.30 - ANCM In-Process Start Failure

***Log File***
[code]

**Sol

[2020-04-13 20:30] mehdihadeli commented on #3557
Ok thanks.

[2020-04-13 22:13] dicksonkimeu opened #3591 "System.InvalidOperationException: Cannot find compilation library location for package 'System.IO.Pipelines'"
Am getting error after deploying to ubuntu.

[code]

[2020-04-13 22:41] dicksonkimeu commented on #3591
This seems related to .NET Core 3.1.2 some breaking changes that were not there in 3.1.1. I leave it here for other who might rush to .NET Core 3.1.2

[2020-04-14 00:27] #3591 closed

[2020-04-14 00:37] maliming commented on #3590
For questions about ABP Suite, please feedback in the support forum. https://support.abp.io/QA/Questions/100

[2020-04-14 00:37] #3590 closed

[2020-04-14 01:31] maliming commented on #3587
You must use `AbpAspNetCoreMvcModule`. Mvc and Web Api are essentially the same.

[2020-04-14 01:31] #3587 closed

[2020-04-14 01:34] maliming commented on #3589
`ResourceOwnerPassword `is a simple authentication flow. You can choose and implement your own authentication flow according to your actual situation. : )

[2020-04-14 01:34] #3589 closed

[2020-04-14 02:24] dicksonkimeu opened #3593 "IdentityServer4 on Nginx not forwarding requests from ...connect/token"
I can execute all other API's but can't reach ..connect/token

ERROR : Bad request. Works well on local host

Below my startup class settings

[code]

[2020-04-14 02:28] maliming commented on #3593
I think this has nothing to do with abp. : )

[2020-04-14 03:04] maliming commented on #3584
I think making GetConventionalRegistrars public should also solve your problem.

https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/framework/src/Volo.Abp.Core/Microsoft/Extensions/DependencyInjection/ServiceCollectionConventionalRegistrationExtensions.cs#L16

[2020-04-14 05:04] wjkhappy14 commented on #3593
IdentityServer4 not supports nginx .

[2020-04-14 06:52] mehmet-erim commented on #3588
There are a few peer dependency warnings but these are not a problem. NPM throws errors with `npm ls --depth=0` command, actually these errors are simple warnings. Everything is working correctly. You shouldn't worry.

[2020-04-14 06:52] #3588 closed

[2020-04-14 06:54] #3452 closed

[2020-04-14 07:02] aklscv opened #3597 "Environment on IDataSeedContributor?"
Is it possible to get the environment in a IDataSeedContributor? I want to be able to decide about seeding data or not or even the data to be seeded based on the environment.

It seems that I can't inject IHostingEnvironment from the DbMigrator. I created a solution to check the environment on the ConfigureServices and use different DataSeeders but it doesn't seem a nice solution so I was wonderin

[2020-04-14 07:11] #3585 closed

[2020-04-14 07:50] mehdihadeli commented on #3589
@maliming @mehmet-erim  what flows do you suggest for login page for identity server for covering security issues mentioned in the link?

[2020-04-14 08:17] YoussefSalameh commented on #3483
Hi @mehmet-erim  my @abp/ng.* version is 2.3.0

After a Long Debugging I Found That The Problem Might be From Abp Because After Login The /api/abp/application-configuration It Doesn't Return Current User And His Granted Policies When It's  Related To Ip Address Not To Localhost.

Any Suggestions About it ?

Best Regards

[2020-04-14 08:24] mehmet-erim commented on #3483
I think it is not related to the IP address. Are you logged in? Can you open the app in the incognito tab and try again or navigate to the `/account/login` page and re-login?

[2020-04-14 08:31] YoussefSalameh commented on #3483
I’ve try it but the same issue ,

Do You Think That Admin User causing  this issue ?

From: Mehmet Erim [mailto:notifications@github.com]
Sent: 14 April 2020 11:25 AM
To: abpframework/abp
Cc: Youssef Salameh; Mention
Subject: Re: [abpframework/abp] abp with angular Ui (#3483)

I think it is not related to the IP address. Are you logged in? Can you open the app in the incognito tab and try again or

[2020-04-14 08:33] rmsryu commented on #592
Hi @hikalkan,

I've been looking to the documentation and I couldn't find any related to UI Composition or Micro-frontend. Is still in the roadmap of abp.io to implement UI Composition as originally announced https://blog.abp.io/abp/Abp-vNext-Announcement?

I've recently tested https://github.com/single-spa/single-spa framework and looks a good candidate to start with Micro-frontends and UI Compos

[2020-04-14 08:40] YoussefSalameh commented on #3483
i added the below code in home component.ts to check user and his granted policy
currentUser = {isAuthenticated: false, id: null, tenantId: null, userName: null};
hasIdentityPermission = false

    const hasIdentityPermission = this.config.getGrantedPolicy("AbpIdentity.Users");
    alert(hasIdentityPermission);
    const currentUser = this.config.getOne("currentUser");
    console.log(currentUser)

[2020-04-14 08:44] maliming commented on #3597
You can refer to this issue: https://github.com/abpframework/abp/issues/3429

`DataSeedContext `can pass parameters.

[code]

[2020-04-14 08:56] hexianggui opened #3598 "After using 'abp generate-proxy', no dto was found in @abp-ng.core"
I am working hard on my English.Please bear with me!
Use [ng-alain](https://ng-alain.com/docs/getting-started/en) as the Web framework.Throw an exception after using the command `abp generate-proxy --apiUrl https://localhost:44305 --ui angular --module all`.
but Normal in abp-angular,Can you help me!
**Here is some configuration information:**
package.json
[code]
ap.module.ts
[code]
**The followin

[2020-04-14 08:57] maliming commented on #3589
The `authorization code` is the strictest authorization mode.

[2020-04-14 08:57] DataQuestSAL commented on #3483
@YoussefSalameh you probably need to share the difference between the 2 response which you are getting from the api so they can see what we are talking about

[2020-04-14 09:49] cotur opened #3599 "Floating number binding goes wrong in different cultures"
I have an entity that has decimal properties.

When I create new records int different cultures, floating point properties parsing wrong.

![resim](https://user-images.githubusercontent.com/20099739/79210424-7c3a5280-7e4d-11ea-8df9-f5ff527187b1.png)

I send with `.(dot)` in Turkish also. But in Turkish culture floating points represented with `,(comma)`

![resim](https://user-images.githubusercont

[2020-04-14 10:46] ebicoglu opened #3601 "Enable ABP CLI to generate project from local template cache"
The local template cache directory is `%UserProfile%\.abp\templates`.
When you put an archive file with the current version, it'll be able to download the project from your local cache

Example:
The current version of the assembly is written here => https://github.com/abpframework/abp/blob/dev/common.props#L4

If you put `%UserProfile%\.abp\templates\app-pro-2.6.0.zip` file, it'll generate the pro

[2020-04-14 11:11] #3251 closed

[2020-04-14 11:35] #3601 closed

[2020-04-14 12:17] mehdihadeli opened #3603 "Do you have any blog, or something like that for details about your changelogs and new features?"
Hi,
Do you have any blog or something like that for details about your changelogs and new features? I miss your change and new feature sometimes.

[2020-04-14 12:21] liangshiw commented on #3603
Hi , You can see https://github.com/abpframework/abp/blob/dev/docs/en/Blog-Posts/ for more information

[2020-04-14 12:22] mehmet-erim opened #3605 "Add documentation for ToasterService"

[2020-04-14 12:23] mehmet-erim opened #3606 "Add documentation for ConfirmationService"

[2020-04-14 13:01] YoussefSalameh commented on #3483
Hi Everyone ,
Problem Found !!!!!!!!!!!!!!!!!!

IdentityServer And Api's Was Published Over Http So The Error Was In HttpApiHostModule And Specifically In ConfigureAuthentication Function :
" options.RequireHttpsMetadata " Was True So After Changing It To false => Administration Section
( tenant management , identity management , user management ) appears again  And Problem Was Solved .

Thank You

[2020-04-14 13:01] #3483 closed

[2020-04-14 14:01] mehmet-erim commented on #3536
I don't know can you change the `api` property before the `app-configuration` request. Because this is an `APP_INITIALIZER` factory. See https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/core/src/lib/core.module.ts#L125

I'll research this problem. I want to ask a question. Why you don't run a node script that gets `api` data and update the environment files before the build?

[2020-04-14 14:03] mehdihadeli commented on #3587
ok thanks.

[2020-04-14 14:23] olicooper commented on #3536
Having a single build makes it much easier to deploy hundreds of times across environments or servers, or use docker containers or Traefik etc.
In our case, we are looking at having multiple instances of the application running to spread out the load. We also have development, staging, UAT and live environments that we'd like to build once and just change the configuration. This means we can be mo

[2020-04-14 14:43] geffzhang commented on #394
Blazor Boilerplate aka Blazor Starter Template is a SPA admin template that is able to BOTH (WebAssembly / Core-Hosted) and Server-Side Blazor with a .NET Core 3.1 Server. https://github.com/enkodellc/blazorboilerplate

[2020-04-14 14:46] mehmet-erim commented on #3536
I can add `skipGetAppConfiguration` property to `forRoot` options of CoreModule. Therefore you can pass `skipGetAppConfiguration` true and call `GetAppConfiguration` action manually where you wish.

[2020-04-14 14:49] aklscv commented on #3597
Thanks for replying. The issue that you mentioned doesn't say anything about passing the current environment to seeders unless I am missing something. I've already got the code down to load different environments on the DbMigrator, my problem is injecting this along to other classes like DataSeeders.

I also don't think passing parameters to the DataSeedContext will help because, in the migration

[2020-04-14 14:54] cotur opened #3609 "Select2 is not working in opened modal by default"
When I want to make a selectbox in modal to searchable with `Select2` it does not work. It looks like disabled, doesn't accept any writing.

![resim](https://user-images.githubusercontent.com/20099739/79218819-c1fd1800-7e59-11ea-94f3-c0118cb84d4c.png)

The solution is changing the modal contructor prototype by the following code:
```$.fn.modal.Constructor.prototype._enforceFocus = function () { };

[2020-04-14 15:19] begandroide opened #3611 "Add documentation for Custom Error Handler Injection"
Hi! Im working on angular 9 and abp framework.

Im trying to implement a HttpErrorWrapper Component with custom Error Handler.

The httpErrorWrapper component can be passed to httpErrorConfigFactory in the shared module of my app (screenshot), and no problems with that:
![image](https://user-images.githubusercontent.com/22018004/79241450-121bb080-7e41-11ea-9154-0411454d13cc.png)

But, i create a c

[2020-04-14 17:11] dicksonkimeu opened #3612 "Tenant resolvers on Kestrel server on Ubuntu not working"
For asp.net to work with nginx you have to add usekestrel and URL in the program.cs file.

The result is below

If I don't set tenant resolvers, all works fine, but if I set tenant resolvers it fails to work.

Any known issue / specific settings ?

Do I still need to set URL in module class ? Am using Unified Web Project

[2020-04-14 17:26] ebicoglu opened #3613 "Invalid character on char field in Abp Input TagHelper"
![image](https://user-images.githubusercontent.com/9526587/79254356-49b04a00-7e8d-11ea-9564-95c85a3cdb8c.png)

![image](https://user-images.githubusercontent.com/9526587/79254639-b3c8ef00-7e8d-11ea-9e6f-d5a7550f7e25.png)

`<abp-input asp-for="Book.Code"/>`

The entities used for generating this page in Suite 👉  [entities.zip](https://github.com/volosoft/volo/files/4476747/entities.zip)

[2020-04-14 17:31] ebicoglu opened #3614 "Leave empty for date input when initial load in AbpTagHelper"
The below tag helper adds a value of `0001-01-01T00:00:00.000`.
Leave it empty.

[code]
![image](https://user-images.githubusercontent.com/9526587/79255256-a4967100-7e8e-11ea-9c86-5916b243d58b.png)

[2020-04-14 17:58] fenggaoyao opened #3615 "MissingMethodException Elasticsearch.Net.ElasticLowLevelClient.IndicesPutTemplateForAll"
Add Module **Volo.Docs** to xxxHost.project.  An error occurred .When I Deleted
` Logger  WriteTo.Elasticsearch Code`  in Program.cs。It's OK。
**Delete Affect Code**
`    .WriteTo.Elasticsearch(
                    new ElasticsearchSinkOptions(new Uri(configuration["ElasticSearch:Url"]))
                    {
                        AutoRegisterTemplate = true,
                        AutoRegisterT

[2020-04-14 18:39] hikalkan opened #3616 "Docs module cache problem"
When I update a document, it never fetches the new version unless I manually delete from the database.

[2020-04-14 19:45] hikalkan commented on #3474
Sorry @lanpin, but this is the open source ABP Framework. Please ask to https://support.abp.io/ for ABP Commercial questions.
Thanks for your understanding.

[2020-04-14 19:45] #3474 closed

[2020-04-14 20:03] #3584 closed

[2020-04-14 20:07] hikalkan commented on #592
When you start a new project from the application startup template, you will see user management and tenant management pages. They are defined/implemented in different solutions and deployed as different NuGet packages. That's was the goal, and yes it is currently possible.

[2020-04-14 20:13] #3578 closed

[2020-04-15 00:41] hubo0831 commented on #3584
OK, thanks!

[2020-04-15 00:55] maliming commented on #3609
We can consider adding a js file `select2-bootstrap-modal-patch.js`.
Add this js to `Select2ScriptContributor`, if this causes other problems, the developer can remove it.
[code]

[2020-04-15 01:05] maliming commented on #3615
The Docs module is using version 7.5.1 of `NEST`, and you can troubleshoot based on this information.

`<PackageReference Include="NEST" Version="7.5.1" />`

[2020-04-15 01:05] #3615 closed

[2020-04-15 03:32] hexianggui commented on #3598
The problem has been solved！
I manually delete the prefix "Extensible", like this: "ExtensibleFullAuditedEntityDto" - >"FullAuditedEntityDto".
My project is now up and running.
Hope "abp generate-proxy" can customize the wrong directory，so that I don't need to change my project structure(My business directory is located in "app/routes" instead of "app"o(∩_∩)o ).
THKS!

[2020-04-15 03:32] #3598 closed

[2020-04-15 04:35] Loongle commented on #3512
maybe your client name repetition

[2020-04-15 05:24] leonkosak opened #3618 "Login "issues" (tenant)"
abp version: 2.5.0 (generated on website yesterday) - Angular UI
VS version: 2019, 16.5.4
Database: MSSQL 2019
Browser: Edge (Chromium), Chrome v81
OS: Windows 10 (1909)
Environment: Development

My scenario:

1) Create blank database for host and tenant
2) Run .DbMigrator (connection string on host database)
3) Run application and create new tenant (**with admin password that is different from de

[2020-04-15 06:37] dicksonkimeu commented on #3487
I advice you create normal asp.net core website do tests on redis and once you make a decision to use redis, you can enable it.

Otherwise you can disable it in abp, its and optional. Sounds like you want someone to prove to you why use redis yet its optional and depends with what you are doing in your project.

[2020-04-15 06:43] dicksonkimeu commented on #3612
Thank you for highlighting this.

Let me first address IdentityServer4 on Nginx; seems there are certain settings to take care of. Then I rename tenantkey(i know how to change this) to something else like accountid.

[2020-04-15 06:50] sebitsi commented on #3487
@dicksonkimeu

I want to use indetity service as separate service.
I just want to get big picture how redis is integrated into ABP. How and when should i use it.
I need to advice admins on customer's production environment why we need redis, how to configure and maintain it, etc

In ABP docs there is only one sentence. Redis is required. And this is it.

I hope, guys in ABP are goint to make some

[2020-04-15 06:57] dicksonkimeu commented on #3487
Its not how redis is integrated to ABP. Nothing special on ABP. Its about redis and asp.net core.

Create a asp.net core project (without abp) and test how redis works.

[2020-04-15 06:58] yekalkan commented on #3614
No, it doesn't.

"0001-01-01T00:00:00.000" is default value of `DateTime`. If it is wanted empty, then `Datetime?` must be used.

You can try it with Asp.Net Core tag helpers: `<input asp-for="PublishDate"/>`
You will see the same result.

If developer wants to set an initial date, he can do it easily before page is rendered.

[2020-04-15 06:58] #3614 closed

[2020-04-15 07:04] sebitsi commented on #3487
@dicksonkimeu

Ok. Thanks. I know nothing about redis.
Where i can start ? What do you suggest ?

Maybe. But they create template which requires redis.
So i expect they explain how they use it and why.

[2020-04-15 07:09] #3418 closed

[2020-04-15 07:16] hikalkan commented on #3489
Yes, it is OK.

As I understand you could be able to make it working. So, closing the issue.

[2020-04-15 07:16] #3489 closed

[2020-04-15 07:18] hikalkan commented on #3512
Did you solve the issue? Are you sure that you're using different client names and not subscribed to the same event in both applications.

[2020-04-15 07:19] #3394 closed

[2020-04-15 07:22] #3609 closed

[2020-04-15 07:23] yekalkan commented on #3613
This is not related to us. You can try it with Asp.Net Core tag helpers:
`<input asp-for="Book.Code"/>`
You will see the same result.

`Char` is not nullable. So asp.net core assigns it the default value �. (like assigning "0" to a integer.)

You can use `char?` to avoid this issue.

[2020-04-15 07:23] #3613 closed

[2020-04-15 07:27] hikalkan opened #3620 "Apply select2-bootstrap-modal-patch.js change to the projects"
Wherever you see the file `/libs/select2/js/select2.min.js` you need to put `select2-bootstrap-modal-patch.js` in the same folder. Otherwise, https://github.com/abpframework/abp/pull/3619 breaks all the current applications. Do it for all projects in this repo.

It will be fixed on the next release, however, this is needed to be able to work with these projects.

[2020-04-15 07:33] hikalkan commented on #3603
Also see release notes: https://github.com/abpframework/abp/releases
Also, read the blog here: https://blog.abp.io/abp

[2020-04-15 07:33] #3603 closed

[2020-04-15 09:09] maliming commented on #3599
hi @cotur  Which project can reproduce this problem?

[2020-04-15 09:50] #3620 closed

[2020-04-15 10:00] volethanh commented on #3512
Ah, my fault, I'm setting the same Client name.

@hikalkan : I also have a question about DistributedEvent with rabbitmq, Is there any option to configure number of EventHandlers handle concurrently ? It's refer to PrefetchCount in rabbitmq

[2020-04-15 10:12] #3536 closed

[2020-04-15 10:19] rmsryu commented on #592
I see @hikalkan
I'll play a little bit more with that. I think you are referring to modules https://docs.abp.io/en/abp/latest/Startup-Templates/Module

`abp new Acme.IssueManagement -t module -ui angular`

Thanks.

[2020-04-15 10:23] #3530 closed

[2020-04-15 10:44] olicooper commented on #3612
Without any sample code it is difficult to help. A description of what is 'not working' too would help too. Also it might be worth mentioning what version you are on and type of project (api, mvc, console etc). I don't believe this is a bug but rather a question, so it might also be worth asking on Stackoverflow.

I have not needed to add any additional settings in the abp solution to make it work

[2020-04-15 12:26] dicksonkimeu commented on #3487
start at google

https://dotnetcoretutorials.com/2017/01/06/using-redis-cache-net-core/

[2020-04-15 12:27] dicksonkimeu commented on #3612
great,

you are using ubuntu? this issue is no there in windows

[2020-04-15 13:17] atak946 opened #3621 "Update One Column in Entity issue"
Hi everyone,

i'm using `nameSpace.table.update` method but i have problem.

im updating one column but all column's updating to null,

**Example Table Columns:**

- Id
- Name
- Surname
- BornDate
- Status

**Example Data:**

[code]

**After Update Data Result**

[code]
why update function set NULL to all columns?

I just want to update one column, how can I do this?

Best Regards

[2020-04-15 13:35] liangshiw commented on #3621
Hi @atak946
You should write partially updated code in your business code. This has nothing to do with abp.

[2020-04-15 13:36] Asilent opened #3623 "How can I automapper a list in entity to another list in dto"
**I want to automap Wechat_PatientInfo to Wechat_PatientInfoDto when I use**
`ObjectMapper.Map<Wechat_UserInfo , Wechat_UserInfoDto>`

Entity1:
[code]

Entity2:
[code]

Dto1:
[code]

Dto2:
[code]

[2020-04-15 13:38] chougule-lalit opened #3624 "Login screen UI Change"
How can i change the login screen UI in angular ?

[2020-04-15 13:42] liangshiw commented on #3623
See Automapper docuemnt :  https://automapper.readthedocs.io/en/latest/Flattening.html. It maps based on naming conventions

[2020-04-15 13:45] liangshiw commented on #3624
Hi , You can see the document : https://docs.abp.io/en/abp/latest/UI/Angular/Component-Replacement

[2020-04-15 13:53] maliming commented on #3599
By default, the model binding uses invalid culture in querystring and router to get the value, and uses the current culture to get the value in the form.

This may cause some potential binding issues. For example, we can't use the culture format (time and currency, etc.) to pass parameters in the querystring.

Solution:
1. We can use `json` to pass request parameters. Because the number format in

[2020-04-15 13:58] Asilent commented on #3623
Oh, sorry.I'm a fool.I should be aware of naming convention.
Thanks.

[2020-04-15 13:58] #3623 closed

[2020-04-15 14:05] atak946 commented on #3621
@liangshiw

So when is the nameSpace.update function used?

I did not understand the meaning of this function

when update relational table, this function setted null all relationed id columns but i sent it all columns with filled relation id.

**Add Columns to example table:**

- ExampleId
- public virtual tblExample ...

**My Data Before Request:**

[code]

**Example Request Data:**

[code]
**Re

[2020-04-15 14:13] liangshiw commented on #3621
You should check the code of your application service update method.
If you use the curd application service base class, you can override the base class method.

[2020-04-15 14:17] chougule-lalit commented on #3624
Thank you !!!

[2020-04-15 14:21] atak946 commented on #3621
@liangshiw
yes i can override but i need a general fix. the override solution is the last way for us.
thank you.

@maliming are you have any idea?

[2020-04-15 14:22] sebitsi opened #3625 "CLI proxy-gen support for [FromServices]"
ASP supports DI injections as input parameters into method using [FromServices] attribute.

Proxy gen should skip this parameter.

[2020-04-15 14:37] sebitsi opened #3626 "CLI proxy-gen support for generics"
CLI gen doesn't support generics well.

On server (C#) I have input parameter defined like

[code]
Proxy generator generates 2 types:

[code]
and

[code]
It should be something like

[code]

and

[code]

[2020-04-15 14:46] olicooper commented on #3612
All my files are the same as the one in the templates, except they have more things in specific to my application. See the [module file](https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.Host/MyProjectNameHttpApiHostModule.cs) and [appsettings.json](https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.

[2020-04-15 15:41] liangshiw commented on #3621
I don’t think ABP needs to change.I tested your use case and it has no problems.

Entities:
[code]

Application Services:
[code]

And test result:

![image](https://user-images.githubusercontent.com/16813853/79357429-97eb4900-7f72-11ea-8ddf-36bc4173f83f.png)

[2020-04-15 15:41] olicooper commented on #3612
I have just uploaded the angular client as another test. I am able to login as a tenant fine.
You get some request errors if forward headers are not properly set. Essentially you need to make sure the `X-Forwarded-For` and `X-Forwarded-Proto` are passed from nginx to Kestrel so that IdentityServer creates the proper openid configuration etc.

HttpApiHostModule
[code]
appsettings.json (note the add

[2020-04-15 15:45] dicksonkimeu commented on #3612
This is highly appreciated.

I will test again after adding this settings.

[2020-04-15 15:50] cem1835 opened #3627 "abp template renderer doesn't work"
I want to use the abp template render but unfortunately it doesn't work.

![abp email bug](https://user-images.githubusercontent.com/17495243/79358502-f2bc7a80-7f49-11ea-869b-5ad3b283b976.PNG)

Edit :
As far as I understand , It works When I change the EmailAddress property name with "Emailaddress"

[2020-04-15 16:34] qq520360 opened #3628 "Repositories Document error? Not updated?"
https://docs.abp.io/en/abp/latest/Repositories

[2020-04-15 16:35] qq520360 commented on #3628
var people = _personRepository
            .Where(p => p.Name.Contains(nameFilter))
            .ToList();

        return people
            .Select(p => new PersonDto {Id = p.Id, Name = p.Name, Age = p.Age})
            .ToList();

[2020-04-15 20:53] sebitsi opened #3630 "CLI proxy-gen supported features and roadmap"
We are moving our  stable project with lot of API from ABP ZERO to ABP Framework.
We tried to process all that apis and generate proxies for them. Simple APIs goes without problems, but more compex proxies are generated with errors. I'm talking about errors in generated proxies code.

Most of them are generated because there is no support for generics (#3626).
Ok. I can change Dtos to supported on

[2020-04-15 21:32] mohammed-hussein opened #3631 "whats difference between AppUser and AbpUser"
Hello,
whats difference between AppUser and AbpUser?,
i found auto generated User 'admin' in abpuser table only.

and how can i reference AbpUser on my entity?

[2020-04-15 21:57] atak946 opened #3632 "Deploy Error With Log"
Hi,

i'm deployed project on my server but doesn't work.

i see this log on https://finans.terakod.com

[code]

how i resolve this problem ?

this project running on localhost.

[2020-04-15 22:31] Wello86 opened #3633 "Logout link Issue"
Hi,
I am using Angular UI with layered architecture and Identity server separated. It is working fine local but when I deploy angular using ng build and host on IIS, I can login but logout link, name and manage profile are not there ! however if I logged in on the identity server itself using the same user I can see them. Any ideas ?

[2020-04-16 00:35] liangshiw commented on #3628
Where is the error?

[2020-04-16 00:55] #3624 closed

[2020-04-16 01:00] maliming commented on #3627
I will check it.

[2020-04-16 01:03] liangshiw commented on #3632
I can't reproduce your problem. Can you use the CLI to create a simple project to reproduce this problem?

[2020-04-16 01:11] liangshiw commented on #3631
`AbpUser` is the table name of the `AppUser` entity.
`AppUser` shares the same table with the `IdentityUser` entity of the identity module.

See the document : https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations#entityframeworkcore-project for more information

[2020-04-16 01:13] maliming commented on #3631
Are you saying `IdentityUser` vs `AppUser?

`AbpUsers`: This entity shares the same table/collection ("AbpUsers" by default) with the `IdentityUser `entity of the Identity module.

You can view the comments of the entity in the template project.

[2020-04-16 03:44] qq520360 commented on #3628
“_personRepository ” not have “where”

[2020-04-16 03:45] qq520360 commented on #3628
v2.5.0

[2020-04-16 04:03] liangshiw commented on #3628
These methods are extension methods for `IQueryable` provided by ef core extension

[2020-04-16 04:10] qq520360 commented on #3628
thanks!

[2020-04-16 04:37] connde opened #3634 "Preflight Origin CORS issue using abp.ajax"
Hi, to avoid installing Mvc package in the Application project I´m trying to use abp.ajax to download an Excel file and send it to AppService using JavaScript API proxy.

Have set a module using 2.50 version and running Unified web project.

First, if this is not the best way let me know, I couldn't call a method from PageModel from the index.js, that might be also a solution?

I'm failing at that

[2020-04-16 04:56] liangshiw commented on #3634
You won't be able to download a file using $.ajax function, because it only handles text related formats (text, xml, json), and the Excel file is not.
About Origin CORS, your can see: https://docs.microsoft.com/en-us/aspnet/core/security/cors?view=aspnetcore-3.1

[2020-04-16 04:58] atak946 commented on #3632
@liangshiw

im aldready created sample project with cli for this issue.

i have one difference in sample code.

i created _Layout.cshtml in Pages folder and changed İndex.cshtml => Layout = "_Layout.cshtml";

if i delete Layout.cshtml in project deploy is not have Any error, but i need change basic layout for one page.

[2020-04-16 05:00] #3628 closed

[2020-04-16 05:08] liangshiw commented on #3632
Please show your `_Layout.cshtml`

[2020-04-16 05:12] atak946 commented on #3632
@liangshiw
im copied in basic theme layout and changed html.

[code]

[2020-04-16 05:29] liangshiw commented on #3632
The problem stems from your custom layout, I suggest you check your layout file. In addition, please upload the recurring project you created using the CLI to the github repository.

[2020-04-16 05:39] atak946 commented on #3632
@liangshiw

can you explain my error? how i resolve.

i didn't see any error.

https://github.com/atak946/abpdeployerror

[2020-04-16 05:59] chougule-lalit commented on #3624
Any document for how to change or replace nav bar ?

[2020-04-16 06:10] liangshiw commented on #3632
Use
[code]
Instead of
[code]

[2020-04-16 06:12] atak946 commented on #3632
@liangshiw ,
Yes, I saw that there was a problem with the scripts while testing everything line by line.
Thank you very much for everything, you have been very helpful.

[2020-04-16 06:12] #3632 closed

[2020-04-16 06:39] ebicoglu opened #3635 "Cannot create package Volo.Abp.Cli.Core"
This is the error msg while packaging the library

Also the `Volo.Abp.Suite` package is the same.

[2020-04-16 07:06] xyfy commented on #1370
When using `volo.abp.identityserver` , I do not find a method of sha256 to encrypt the plaintext secret exposed, like  `IdentityServer4.Models.HashExtensions` in  nuget package `IdentityServer4`, it provider some extenstion method which named `Sha256` `Sha512` ,when in my project ,I need to use the third party nuget ,but not only `Volo.Abp`?

Will you like to add it to `volo.abp.identityserver`?

[2020-04-16 07:16] maliming commented on #1370
@xyfy

https://github.com/IdentityServer/IdentityServer4/blob/44651bea9b02c992902639b21205f433aad47d03/src/IdentityServer4/src/Extensions/HashExtensions.cs#L22

[2020-04-16 07:21] yekalkan commented on #3404
Cli doesn't make requests to GitHub. I couldn't find any. Screenshot you provided is from Abp Suite.

[2020-04-16 07:21] #3404 closed

[2020-04-16 07:26] mehmet-erim opened #3636 "Add an option to skip error handling to forRoot method of ThemeShared"
`skipHandledErrorCodes` status code array will be passed to `ThemeShared` like below:

[code]

[2020-04-16 07:40] xyfy commented on #1370
yes,I finded this method, abp has wrap the identyserver4 in `volo.abp.identityserver`,many same name class in this project. like `client` ,`apiresource`.so if I use this extesions  I must add namespace before class name,or  used like this `IdentityServer4.Model.HashExtensions.Sha256(value)`.  so I think why `volo.abp.identityserver` expose a same extesion. hide the third part nuget for me?

[2020-04-16 07:53] maliming commented on #1370
This doesn't seem to be a good way, since ʻIdentityServer4.Model` already provides many methods, we should not implement it again.

You can use namespace alias.
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/using-directive

[2020-04-16 08:30] ebicoglu commented on #3635
https://github.com/abpframework/abp/commit/1b8fd78e4591504ef01462ecb2fd2746907a19d1

[2020-04-16 08:30] #3635 closed

[2020-04-16 08:35] ebicoglu opened #3637 "Redirect to home page when an invalid URL or missing document"
https://docs.abp.io/en/commercial/latest/how-to

![image](https://user-images.githubusercontent.com/9526587/79433870-542a2b00-7fd6-11ea-8a1e-a2beacbe3fa2.png)

[2020-04-16 09:06] atak946 commented on #3621
@liangshiw
yes, I got a successful result on swagger, but I still have the same problem via javascript function.
can you try this?

[2020-04-16 10:27] liangshiw commented on #3637
I will implement it.

[2020-04-16 11:17] mohammed-hussein commented on #3631
okay, as per template comment and your reply AppUser entity and AbpUser/Identityuser entity share same table so why there are two different tables 'APPUsers' & 'ABPUser'? and data not synced between them

[2020-04-16 11:39] leonkosak opened #3638 "Authentication with Windows account (profile) - Volo.Abp.Ldap?"
I found package Volo.Abp.Ldap: https://www.nuget.org/packages/Volo.Abp.Ldap/

Is this package needed for authenticating in application with Windows account?
Is there any example/documentation how to implement Windows Authentication (Angular UI)?
Thank you.

[2020-04-16 12:18] mehmet-erim opened #3639 "abp-table rows should be expandable"

[2020-04-16 12:46] olicooper commented on #3536
Thanks for this. I have tried it and it seems to work as expected.

I'd still like to be able to call [getInitialData](https://github.com/abpframework/abp/blob/8f6857c9a2cf831f5336f171c0bbcb5304347288/npm/ng-packs/packages/core/src/lib/utils/initial-utils.ts#L12) once I have updated the config, is there something you could add to bypass `skipGetAppConfiguration` check within the function when I ca

[2020-04-16 13:07] #3575 closed

[2020-04-16 13:19] liangshiw commented on #3621
@atak946
![image](https://user-images.githubusercontent.com/16813853/79460786-e4449080-8027-11ea-9956-b86b630665d1.png)

[2020-04-16 13:35] connde commented on #3634
Ok, so my best approach would be to install Mvc to application service and download it from there?

Is there a way to call a method in Razor PageModel from JavaScript to avoid my first question?

[2020-04-16 14:03] liangshiw commented on #3634
You can direct use: window.location=<your http url>

[2020-04-16 16:26] erojasd opened #3643 "using sql scalar functions in linq filters (IQueryable)"
Hi.

Is it possible to use database user-defined scalar functions in linq query using EF Core?
The purpose is to avoid bringing unnecessary data into memory.
Example:

public IQueryable CreateFilter (string someFilter) {
IQueryable test = repository.Where (e => dbUserFunction (e.Name, someFilter)). ToList ()
return test;
}

[2020-04-16 16:30] olicooper commented on #3597
I think what mailming is saying is that you can add `new DataSeedContext().WithProperty("Environment", "Production"));` to here:
https://github.com/abpframework/abp/blob/523bc071ad63104683e80e76aef0e68d6c90f101/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Data/MyProjectNameDbMigrationService.cs#L68

Alternatively I think you could also use `Environment.GetEnvironmentVariable("A

[2020-04-16 22:11] dicksonkimeu commented on #3565
I addressed this, i had to sort the Keys.

[2020-04-16 22:11] #3565 closed

[2020-04-16 23:59] connde commented on #3634
I don't want to download the file to the client but process it further by sending the array to a method in application layer.

Thanks for your help anyways!

[2020-04-16 23:59] #3634 closed

[2020-04-17 00:52] maliming commented on #3631
Are you using the project created by cli?
How to reproduce the problem?

[2020-04-17 00:53] maliming commented on #3638
see https://github.com/abpframework/abp/issues/1189

[2020-04-17 01:01] maliming commented on #3643
Please refer to:
https://docs.abp.io/en/abp/latest/Entity-Framework-Core#access-to-the-ef-core-api
https://docs.abp.io/en/abp/latest/Repositories

[2020-04-17 01:44] Lynec opened #3644 "What is a good way to realize the separation of reading and writing in abp Repository?"

[2020-04-17 02:11] maliming commented on #3627
See https://github.com/lunet-io/scriban/blob/master/doc/runtime.md#member-renamer

If we use `member => member.Name.` this will cause a breaking change.

[2020-04-17 02:11] #3627 closed

[2020-04-17 04:15] leonkosak commented on #3638
How I missed that! Thank you.

[2020-04-17 04:34] leonkosak commented on #3638
@maliming I think that this is not the case that I am looking for. Is somehow possible to automatically login in Windows into application based on user windows profile ([domain]\username) without manually writing credentials in textboxes?

[2020-04-17 05:10] maliming commented on #3638
@akinix Can you help?

[2020-04-17 07:39] atak946 commented on #3621
@liangshiw

I get successful results with fiddler, but my relational columns with javascript are null. you can see the examples in the images.

I use the same request model in fiddler and javascript

I need to understand the difference between the two I can't solve the problem

The records that I mentioned relationally are available in the tables. I checked them all and got them from the tables

*

[2020-04-17 07:47] xyfy opened #3646 "how can I add a custom module to a solution"
I 'm using the abp cli 2.5.0

`abp new Yun.xxx-t module -cs 'SomeConnectionStrings' --no-ui`

the output is like  below

[code]

it works.

but how can I add  the module to my solution

the created module has own Identiyserver ,  but I donot want the module use that but my own one

[2020-04-17 07:54] liangshiw commented on #3621
Please use the CLI to reproduce, and then give me the repository

[2020-04-17 08:03] mehmet-erim commented on #3244
Thanks for reporting @olicooper.

[2020-04-17 08:55] #3244 closed

[2020-04-17 09:06] maliming commented on #3646
This requires you to manually change your project code. There is currently no way to use it out of the box.

[2020-04-17 09:24] mehmet-erim commented on #3244
This bug has been resolved but caused a problem in Angular 9 applications.

### The problem:

Routes don't appear on the menu.

### Fixing the problem

![Screen Shot 2020-04-17 at 12 07 39](https://user-images.githubusercontent.com/34455572/79553655-78087200-80a5-11ea-8be7-6e7e63c59d2b.png)

BrowserModule, BrowserAnimationsModule, and AppRoutingModule should be placed at the top level of imports a

[2020-04-17 10:15] xyfy commented on #3646
ok,thank you,I will closed it now

[2020-04-17 10:15] #3646 closed

[2020-04-17 10:16] sebitsi opened #3650 "Angular <loader-bar> is not working correctly"
Hi.

Component <loader-bar> is not working as expected.

When module is loaded it is displayed. When data is loaded (fetched) from server there is no progress.
Bar is not visible.

Try to switch between roles and users list. REST requests are executed, Ngxs action **Loader** too.
But there is no loader-bar visible.

[2020-04-17 10:25] atak946 commented on #3621
@liangshiw

 i'll upload tonight,

As I tested with jquery ajax, only 1 column is going to be null, as most of the problem is solved. When I try with different browsers, only 1 property in the mozilla goes null and there is a problem like chrome in the opera.

I have to identify the problem of the remaining 1 property being null.

[code]

![JQUERY AJAX](https://user-images.githubusercontent.com/16

[2020-04-17 10:45] atak946 commented on #3621
@liangshiw

not stable :(

![aaa](https://user-images.githubusercontent.com/16645386/79561161-89577b80-80b1-11ea-8ede-34f522ab9468.gif)

[2020-04-17 10:52] liangshiw commented on #3621
Can you give me the repository?

[2020-04-17 11:39] atak946 commented on #3621
https://github.com/atak946/xrepo

[2020-04-17 14:28] liangshiw commented on #3621
@atak946 I mean you use CLI to create a simple project to reproduce the issue.

[2020-04-17 15:42] begandroide opened #3653 "How to disable ThemeSharedModule from angular-UI"
Hi! I'm trying to disable the `ThemeSharedModule` from my frontend application and some components from these module still appearing.

How we can disable ThemeSharedModule? I tried to remove reference to module in all my modules and in app module too.

Why i want to do that? : Because we are using another UI framework (Angular material), and Abp is using Bootstrap. So, we need be persistent in UI

[2020-04-17 16:08] armanozak opened #3654 "Add a Utility Function to Create Options from Enums"

[2020-04-17 16:16] #3636 closed

[2020-04-17 20:07] sebitsi opened #3656 "Account/login page is not working"
Hi,
from version **2.4.0+** accessing page on /account/login is not working anymore.

In log file there is an error:

[code]
This was tested on pure project created with command

`abp new Sebit.CIS -t app-pro -u angular`

and with versions 2.40 and 2.50. In version 2.30 there is no error.

Please advice.

[2020-04-17 21:22] cotur commented on #3621
@atak946

Hi @atak946,

With that example, you are using the `Update` but in your `CustomAdvancedCrud` there is a method that named `UpdateRow` and you wrote a different bussines logic in that code but you don't use it. Maybe you need to just use `UpdateRow` method for your own `CustomAdvancedCrud` or override the `Update`.

Also in your code you did not implement the `UpdateRow` in your `ICustomA

[2020-04-17 21:27] atak946 commented on #3621
No, updaterow is only different test method not maun method. i already have this error.

[2020-04-17 21:33] atak946 commented on #3621
İngilizcem yetmiyor artık Ahmet bey o updaterow metodunu da denemek için ekledim sorunla uzaktan yakından ilgisi yok bu sorun 2.0 versiyonundan 2.5 versiyonuna yükseltme yaptıktan sonra çıktı.

CustomCrudAppService ile de ilgisi yok onu kaldırınca da sorun devam ediyor. Müsait olamadim müsait olunca cli ile oluşturulmuş boş projeyi de yükleyeceğim bu konuyu anlamadan kapatmanız da yanlış olmuş.

[2020-04-17 21:47] cotur commented on #3621
@atak946 So I reopened it to inspect more. Please inform me when you create the test project with cli.

[2020-04-17 23:12] cotur commented on #3621
Hi @atak946,

I've created an example application to explain detailed.

You specified your problem here, you want to update one property of an entity, but when you use `CrudAppService` it will update only what you sent and removes others. It is about the `Mapping`

I'll give you solution step by step.

I've created app and I have an entity that named `Contact`

As you said, when I send some data t

[2020-04-17 23:32] #3621 closed

[2020-04-17 23:47] atak946 commented on #3621
Hi, @cotur

Thanks to @liangshiw I understood the map problem you mentioned and I tried to send all the properties.

`I want to draw your attention to one more point, this problem happens if there is more than one relation id in the table (i have 4 column). I noticed that I did not experience this problem in other tables in my project.`

but this time I came across another problem, I tried to conv

[2020-04-18 07:41] h394631316 opened #3657 "the program starts slowly"
When the number of entities is 300, the program starts slowly ，It will take about two minutes to complete ！

![image](https://user-images.githubusercontent.com/33739174/79631256-a14efe00-818a-11ea-9abf-1f26dec30e79.png)
![image](https://user-images.githubusercontent.com/33739174/79631301-f428b580-818a-11ea-8662-ba7ea3339f18.png)

[2020-04-18 07:52] liangshiw commented on #3657
Maybe related to this issue: https://github.com/abpframework/abp/issues/3180.
It is resolved in the upcoming 2.6 version : https://github.com/abpframework/abp/pull/3348.

[2020-04-18 08:04] maliming commented on #3657
Maybe related: https://github.com/abpframework/abp/pull/3348

You can try again after v2.6 released.

[2020-04-18 10:51] liangshiw commented on #3656
I will check it.
As a temporary solution you can put the following files in the same folder of your project: https://github.com/abpframework/abp/tree/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs/abp/utils

[2020-04-18 11:19] liangshiw commented on #3656
@sebitsi
Fix in the upcoming 2.6 version.

[2020-04-18 13:43] cotur commented on #3621
I tried this issue at repository that shared with us by you.

The problem is **`wrong DTO implementation`**.

Experimental Solution:
![Atak-Problem-Solved](https://user-images.githubusercontent.com/20099739/79639117-3d303800-8192-11ea-8456-248ee5c96ea3.gif)

The `Update_X_Dto` should contains the properties what we want to update. But your `Update_X_Dto` contains several `Navigation Properties`.

[2020-04-18 13:56] olicooper opened #3658 "Simplify DbMigrator console output"
Just a small suggestion... Because Serilog is already outputting to the console for the DbMigrator, there is no need for the default ILogger to be registered and outputting unnecessary information on the console. We can disable like below:

[code]

Before:
![image](https://user-images.githubusercontent.com/22296715/79639354-51206d80-8183-11ea-8175-bbc16501f1f7.png)

After:
![image](https://user-im

[2020-04-18 16:07] maliming opened #3659 "Improve the documentation of mongodb integration."
Explain some limitations and best practices of mongodb.

For example, some practices that we often use in EF may not work in mongodb.

[2020-04-18 16:07] maliming opened #3660 "Improve the documentation of mongodb integration."
Explain some limitations and best practices of mongodb.

For example, some practices that we often use in EF may not work in mongodb.

[2020-04-19 01:32] geffzhang opened #3661 "Considering balzor's code sharing, need to modify the framework"
https://github.com/abpframework/abp/issues/394 ，I looked at the framework code and there are a lot of libraries that can be used as base libraries in blazor。
Now，
Volo.Abp.AspNetCore.Mvc.Client
Volo.Abp.AspNetCore.Mvc.Contracts
are netcoreapp3.1

Should be netstandard 2.1 ，share with blazor webassembly。also consider changing a more generic name to express his use

Next
https://github.com/abpframew

[2020-04-19 06:45] #3659 closed

[2020-04-19 06:52] tohkinzhu opened #3662 "DisableAuditing not works for SimpleLogAuditingStore"
I got this issue when I use `SimpleLogAuditingStore`, it works a few months ago. but not works for current version any more.
here is the code below:

`context.Services.Replace(ServiceDescriptor.Singleton<IAuditingStore, SimpleLogAuditingStore>());`

For log config in Program.cs
[code]

Add a attribute to any application service
[code]

Then I got this output on the console:
[code]

can you take a

[2020-04-19 07:11] liangshiw commented on #3662
I will check this.

[2020-04-19 07:56] hikalkan opened #3663 "Fine tune the performance test application"
https://github.com/volosoft/volo/tree/dev/others/abp-framework-performance-test

[2020-04-19 07:56] hikalkan commented on #3414
Closing since @AkinSabriCam did it, but waiting my fine tune: https://github.com/abpframework/abp/issues/3663

[2020-04-19 07:56] #3414 closed

[2020-04-19 08:32] liangshiw commented on #3662
In fact, the `AuditLogAction` will not be recorded, but the audit log middleware will record an `AuditLog` so you will see it in the output.

https://github.com/abpframework/abp/blob/9212f2a7f86d809a640eed5a4705c3e3e83015e4/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs#L50

I am not sure if this is by design.

[2020-04-19 09:01] #3654 closed

[2020-04-19 10:13] #3199 closed

[2020-04-19 10:14] maliming commented on #3662
https://github.com/abpframework/abp/issues/2820#issuecomment-593837469

[2020-04-19 10:28] hikalkan opened #3664 "Create "Overall" menu item for the documents have an index page"
For example "Startup Templates" menu item has its own overall document nagivated when you click it. But it is not so obvious. A developer may directly expand the menu item and click to sub items without aware of there is an overall document:

![image](https://user-images.githubusercontent.com/1210527/79685378-27c61700-8241-11ea-9f17-a359951d38cd.png)

Microsoft also uses this pattern for the AspNe

[2020-04-19 10:32] #3495 closed

[2020-04-19 10:33] #3472 closed

[2020-04-19 10:47] #3362 closed

[2020-04-19 14:09] tohkinzhu commented on #3662
en...I see..... nice to have. cause I have a lot of recurring jobs that output massive logs.

[2020-04-19 15:35] mehdihadeli opened #3668 "How to implement lookup column in a entity of EF Core?"
Hi,
I want to use lookup column in my entity and I want to use their values and text, do you have any infrastructure for lookup data?

[2020-04-19 16:08] liangshiw commented on #3668
You can use the EF Core API in a custom repository implementation.

[2020-04-19 18:45] hikalkan opened #3670 "Docs module test failing"
[code]

[2020-04-19 19:19] #3670 closed

[2020-04-20 01:01] maliming commented on #3658
The migration application will automatically terminate.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/DbMigratorHostedService.cs#L37

[2020-04-20 01:28] maliming commented on #3662
You can customize IAuditingStore to filter some logs.

[2020-04-20 01:28] #3662 closed

[2020-04-20 01:37] maliming opened #3671 "Github action is not working(for net)"
https://github.com/abpframework/abp/actions

[2020-04-20 03:57] papyr opened #3673 "LTS version very Essential for ABP"
Hello, ABP is constantly changing with updates.

Can you please also include an **Long Term Software** version

[2020-04-20 05:06] #3671 closed

[2020-04-20 06:48] yekalkan commented on #3616
![image](https://user-images.githubusercontent.com/5793291/79721788-a2e40780-82eb-11ea-85c7-df5b3481ac5f.png)

Because "DocumentCacheTimeoutInterval" is set to 24 days for docs.abp.io web site... I guess 24 hours was intended but set to 24 days by mistake. You can set it via appsettings.json file of docs.abp.io web site.

[2020-04-20 06:48] #3616 closed

[2020-04-20 06:59] mehmet-erim opened #3677 "Add a utility function named generatePassword to @abp/ng.core"

[2020-04-20 08:49] maliming commented on #2385
Resolved by https://github.com/abpframework/abp/pull/2414

[2020-04-20 08:49] #2385 closed

[2020-04-20 09:20] #3599 closed

[2020-04-20 09:20] hikalkan commented on #3599
It seems it is related to UI (jquery validation) rather than the server side. Please create a new issue if you need.

[2020-04-20 11:21] olicooper commented on #3612
Did this work for you in the end? If so, make sure to close the ticket :)

[2020-04-20 11:46] mohammed-hussein commented on #3631
Yes, i'm using cli, and using ABP version 2.5 and this command used to generate my project
"abp new Acme.BookStore --template app --database-provider ef --ui mvc"

[2020-04-20 12:31] FrancoisKr opened #3682 "Auto API Controllers: require authentication by default and AllowAnonymous"
How to require authentication by default for the auto API controllers?

With this:

        context.Services.AddAuthorization(options =>
        {
            options.FallbackPolicy = new AuthorizationPolicyBuilder()
                .RequireAuthenticatedUser()
                .Build();
        });

the auto API controllers require authentication, however the [AllowAnonymous] attribute does not wor

[2020-04-20 12:37] chougule-lalit opened #3684 "Angular UI Change"
Hi,

Is there any way to override styles, navigation, menus and themes.
for example : I want to change the look and feel of <abp-table> how do i do this
Where can i find the document regarding this ?

[2020-04-20 12:40] liangshiw commented on #3684
Hi , You can see https://github.com/abpframework/abp/blob/dev/docs/en/UI/Angular/Component-Replacement.md

[2020-04-20 12:54] liangshiw commented on #3682
Hi.
After testing, it works fine. So what is your question?

[2020-04-20 14:01] FrancoisKr commented on #3682
Hi,

Configuring the application to require authentication works.

However, if I add [AllowAnonymous] to a specific class or method, it does not work: I get a 302 response code (redirection to login page).

Thank you

[2020-04-20 14:09] liangshiw commented on #3682
I can't reproduce your problem, can you use the CLI to create a simple project to reproduce?

[2020-04-20 17:42] FrancoisKr commented on #3682
I created a simple project and get the same result (302 response).

Source code is here of the created project:
https://github.com/FrancoisKr/abp-require-authentication-auto-controllers

I must be missing something.

Thank you

[2020-04-20 19:07] hikalkan commented on #3661
Thank you @geffzhang. We will consider these while working on [the blazor UI](https://github.com/abpframework/abp/issues/394). We will try to maximize the code share without depending UIs each other.

[2020-04-20 19:07] #3661 closed

[2020-04-20 19:10] #3658 closed

[2020-04-20 19:11] #3668 closed

[2020-04-20 19:15] hikalkan commented on #3673
We are trying to not introduce breaking change in feature versions (like 2.5, 2.6) unless we have a very good reason. In such cases, the breaking change is being very simple to fix and it is documented in the change logs.

Maintaining a LTS is hard for such a rapidly growing software and we are not a big team as Microsoft.

Thank you for your suggestion, we will consider it in the future.

BTW, we

[2020-04-20 19:15] #3673 closed

[2020-04-20 22:46] Tashaa78 commented on #3684
you can also checkout @yinchang0626 's abp.ng repo [here](https://github.com/yinchang0626/abp.ng). He also used the replaceable components [api](https://github.com/abpframework/abp/blob/dev/docs/en/UI/Angular/Component-Replacement.md) to port the UI to [ng-alain](https://ng-alain.github.io/ng-alain/#/dashboard/v1) & [ngx-admin](https://github.com/akveo/ngx-admin)

[2020-04-21 03:35] liangshiw commented on #3682
![2020-04-21-11-33-56](https://user-images.githubusercontent.com/16813853/79822624-2ffa8f80-83c4-11ea-88eb-b1945ef799e4.gif)

[2020-04-21 03:37] liangshiw commented on #3682
![2020-04-21-11-33-56 (1)](https://user-images.githubusercontent.com/16813853/79822719-6fc17700-83c4-11ea-92d0-8e71c0cb8f1f.gif)

[2020-04-21 04:31] mehmet-erim opened #3686 "Closable option of ConfirmationService methods is not working"

[2020-04-21 06:11] wjkhappy14 opened #3687 "Autofac.Core.Registration.ComponentNotRegisteredException"
**Autofac.Core.Registration.ComponentNotRegisteredException**: The requested service '**Elsa.Dashboard.Areas.Elsa.Controllers.HomeController**' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the ResolveOptional() method to resolve an optional dependency.
   at Autofac.ResolutionExtens

[2020-04-21 06:58] #672 closed

[2020-04-21 07:15] FrancoisKr commented on #3682
Hi Liang,

Thanks for the feedback, I confirm that it works. In fact it's the javascript proxies that no longer work. Is there any way to maintain the proxies for the anonymous endpoints?

Thanks

[2020-04-21 07:36] LouieGuo opened #3688 "BackgroundService use AutoMapper ObjectMapper.Map has big problem"
When I use BackgroundService  to use ObjectMapper.Map ,it has a error, for example:
![image](https://user-images.githubusercontent.com/29138525/79835210-e5d3d700-83e0-11ea-8eea-eecee342b225.png)

but,when I use swagger to use this AppService, it doesn't error, and Normal mapping，
so Could you help me ?

[2020-04-21 09:08] liangshiw commented on #3688
Can you provide the steps to reproduce?

[2020-04-21 10:53] liangshiw commented on #3682
1.  Add a new class and copy the following into the class.

[code]
2. Open you moduel class and add the following code.

[code]

[2020-04-21 11:01] LouieGuo commented on #3688
-------------- this is  Module Config ------------------

public override void ConfigureServices(ServiceConfigurationContext context)
        {
            context.Services.AddHostedService<DemoMQ>();
        }

---------------this is BackgroundService---------------

public class DemoMQ : BackgroundService
    {
        private readonly IDemoTestAppService _demoTestAppService;

        public Dem

[2020-04-21 11:06] olicooper commented on #3677
Will this be used with the password input when creating new tenants?
As an idea, it would be really cool to see a show/hide password toggle. A password could be auto generated and then the user can change it if they want.

[2020-04-21 11:09] LouieGuo commented on #3688
1、
![image](https://user-images.githubusercontent.com/29138525/79859324-69062480-8403-11ea-8493-7fe31b87ee72.png)
2、
![image](https://user-images.githubusercontent.com/29138525/79859344-70c5c900-8403-11ea-8051-36c09eb23582.png)
3、
![image](https://user-images.githubusercontent.com/29138525/79859377-7e7b4e80-8403-11ea-8fe8-7ed977777e3d.png)
4、
![image](https://user-images.githubusercontent.com/2913

[2020-04-21 11:59] mehmet-erim opened #3689 "Angular UI module template is not working correctly"

[2020-04-21 12:08] FrancoisKr commented on #3682
Excellent! Many thanks!

[2020-04-21 12:09] mehmet-erim opened #3690 "listenToEscape method of ConfirmationService should be made private"

[2020-04-21 12:40] #3496 closed

[2020-04-21 12:44] #3690 closed

[2020-04-21 13:18] #3677 closed

[2020-04-21 13:39] liangshiw opened #3692 "Multi-tenant documents are outdated"
It should be `TenantConfiguration`

![image](https://user-images.githubusercontent.com/16813853/79872462-64983680-8418-11ea-9c45-2cb1f7249098.png)

[2020-04-21 13:41] #3692 closed

[2020-04-21 17:12] armanozak opened #3696 "ErrorHandler does not handle rest errors"

[2020-04-21 23:42] kbowma commented on #1638
Any status on the development of a React template? Is Volosoft planning on developing and maintaining a React version of the UI for both free and commercial?

[2020-04-22 01:54] xyfy commented on #3656
when I update abp to 2.6.0 and other microsoft*   to 3.1.3
I got a similar error
`

{   "Depth": 0,   "ClassName": "",   "Message": "Could not find the bundle file '/libs/abp/utils/abp-utils.umd.min.js' from IWebContentFileProvider",   "Source": "Volo.Abp.AspNetCore.Mvc.UI.Bundling",   "StackTraceString": "   at Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsyn

[2020-04-22 01:57] maliming commented on #3656
https://github.com/abpframework/abp/issues/3656#issuecomment-615840647

[2020-04-22 01:57] #3656 closed

[2020-04-22 02:00] xyfy commented on #3656
I am sorry but I can't understand how to resolve this exception,only replace the file?

[2020-04-22 02:22] xyfy commented on #3656
I try to change the `@abp/aspnetcore.mvc.ui.theme.basic` version to 2.6.0 in package.json ,then remove `node_modules` dirctory and `yarn.lock`  file.   it works!

[2020-04-22 04:14] connde opened #3699 "Testing with CrudAppService and domain entity"
Hi, I created my entity domain and all set are private so I can initiate then with a constructor and check each property before the object is created.

I'm trying to test normal behavior, where I will have Dtos and map then to entity before storing it in db. I'm new to testing, so I might be doing something wrong or just got the wrong concept when designing my tests.

When running a test to throw

[2020-04-22 05:12] liangshiw commented on #3699
This has nothing to do with ABP. You can google or refer to abp unit test
 :https://github.com/abpframework/abp/tree/dev/framework/test

[2020-04-22 05:39] aklscv commented on #3574
@Stirda Off-topic: Would you mind sharing your yml file for the release pipeline? I am trying to get mine to work but I am confused about deploying the DbMigrator. What steps do you take? Do you first deploy the DbMigrator, execute the dotnet .dll and then deploy the website?

[2020-04-22 06:36] maliming commented on #3687
Please provide the abp version and steps to reproduce the problem.

[2020-04-22 07:44] #3139 closed

[2020-04-22 07:48] #3689 closed

[2020-04-22 07:54] #3696 closed

[2020-04-22 07:57] maliming commented on #3618
We have planned to work for the **auto create & migrate database when a tenant conn string changes or create a new tenant with custom conn string**.

[2020-04-22 08:03] armanozak commented on #3611
Hi @begandroide,

Instead of injecting `ErrorHandler` in the module constructor, try adding this to the `providers` returned by the `forRoot` method:

[code]

`noop` can be imported from @abp/ng.core module.

Please let us know if that answers your question.

Have a nice day. 🙂

[2020-04-22 08:33] mehmet-erim opened #3703 "Fix wrapper routes duplication problem"

[2020-04-22 08:43] maliming commented on #3631
Full steps, thanks I didn't see any `APPUsers` table.

[2020-04-22 08:59] shikelong opened #3704 "`Some services are not able to be constructed ` when use Identity & IdentityServer Module"
hi, I am using abp 2.6  to build a micro services based application.

I has my IdentityServices that has views to do login / logout.

In the beginning, I use add ef database migration via identityserver4's dbContext and use asp.net identity. and directly use id4's configuration method. just like this:

[code]

It's work ok.

-----

Today i decide to use abp's method to generate migration in my Ide

[2020-04-22 09:41] liangshiw commented on #3688
You should add delayed execution parameter to let the abp module initialization end.

[2020-04-22 09:58] Stirda commented on #3574
I suppose that the ABP team would prefer you create an issue for that. I will answer your question in.

[2020-04-22 11:57] #3688 closed

[2020-04-22 12:02] LouieGuo commented on #3688
Thank you,I got it

[2020-04-22 13:55] connde commented on #3699
I imaged that it wasn't related to ABP itself, I will take a look at referenced link.

[2020-04-22 13:55] #3699 closed

[2020-04-22 14:10] mehmet-erim opened #3707 "redirectUrl state of url tree in AuthGuard not working"

[2020-04-22 15:02] luisp88 commented on #3144
@gterdem thanks for your concern.
I'm using abp template: EFCore angular, all backend projects in same solution (identityserver is in the same backend project).
My angular project (using `import { MsalGuard } from '@azure/msal-angular';`) redirect to MS login and authenticate the user in its tenant OK, but the backend isn't authenticating the calls
Localstorage after MS Login:
![image](https://use

[2020-04-22 16:11] aklscv opened #3709 "CI/CD guidelines"
While this is not directly related to the internals of ABP, I would like to hear other people opinions about how they are setting up CI/CD with ABP.

I manage to setup the CI part (which is building, testing and publishing the project) but I am a bit confused with the CD part. How are you guys dealing with the deploy? Do you first publish the DbMigrator and execute a dotnet command line on the DLL

[2020-04-22 18:18] connde commented on #3699
@liangshiw I know is not related to ABP, I tried to map Dto to Entity and it works without any validation on the rules I have set on the entity.

What is the correct approach to use mapping and ensure that my domain rules are validated?
Does ABP have something available or should I manually create the entity using the set methods I've created for each property?

[2020-04-22 20:03] rigocl opened #3710 "Angular UI: ConfirmationService - Have an option for HTML messages"
Sometimes we want to add extra flair or showcase/style the importance of certain parts of a message, would it be possible to allow for html in confirmation messages through the [options](https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/theme-shared/src/lib/models/confirmation.ts)?
quick example: https://plnkr.co/edit/6lWKR43PtbAC5CI6?open=lib%2Fapp.ts

[2020-04-22 22:12] ebicoglu opened #3711 "CLI - Cannot find solution path while updating NuGet packages"

[2020-04-22 22:12] #3711 closed

[2020-04-22 22:17] dicksonkimeu opened #3712 "Update Nuggets"
If I update the nuggets, does that mean I am running on the latest ABP?

Can that break my codes?

[2020-04-22 22:42] luisp88 commented on #3144
If I use /account/login's AzureActiveDirectory button, I can login and go thru my custom sign in manager (getexternallogin, etc), so I think it is something to do with the call from angular to API. I was passing in auth bearer the rawIdToken from MS, but I think I need to do something else to get the actual access token before calling my API? If someone could guide me I would appreciate it a lot.

[2020-04-22 23:40] connde commented on #3699
I actually managed to solve my problem by having a constructor with same parameters as my dto, that way AutoMapper uses the correct constructor directly and the setters as intended.

[2020-04-23 00:45] maliming commented on #3704
You should always use Abp's identity server module to build applications, and don't manually call methods on the Identity Server library. Because the abp module already does the same

For details, please refer to the source code of the abp identity server module.

[2020-04-23 01:03] maliming commented on #3712
Are you talking about upgrading the abp package from the nuget(https://nuget.org) source to the latest?

If this is the case, you should pay attention to the release notes, there may be some breaking changes,  of course, not every version. But you should pay attention to it.

[2020-04-23 01:17] #3704 closed

[2020-04-23 01:29] jortygu opened #3713 "Audit Property Issue"
hi,
   i have an aggregate root define like below,has two Audit Properties,when i only changed **Property1** value, in AbpEntityPropertyChanges Table,both **Property1** & **Property2** are saved,**Property2**'s NewValue and OriginalValue have the same value,is this correct behavior ? or have some method/configuration  only save changed properties just like **Property1**?
[code]

[2020-04-23 02:02] liangshiw commented on #3713
Yes, this is the design of the current audit log system.

[2020-04-23 03:37] shikelong opened #3714 "Can I use abp identity & identity server module without account module?"
I want customize my login & user management view. So Can I only use identity & identity server module?

Regards.

[2020-04-23 04:01] #3714 closed

[2020-04-23 05:40] #3255 closed

[2020-04-23 06:40] Asilent opened #3715 "How to use my own logic to grant/verify user's authority"
I used CLI to create a project which has HttpApi.Host module and IdentityServer module.
Now I want to create a method to verify user's userId and password, but I don't know how to use Volo.Abp's Identity Server4 to generate a JWT Bearer Token and put some params in claim.

[2020-04-23 06:43] Asilent opened #3716 "How to use my own logic to grant/verify user's authority"
I used CLI to create a project which has HttpApi.Host module and IdentityServer module.
Now I want to create a method to verify user's userId and password, but I don't know how to use Volo.Abp's Identity Server4 to generate a JWT Bearer Token and put some params in claim.

[2020-04-23 06:44] maliming commented on #3716
Duplicate of #3716

[2020-04-23 06:44] #3716 closed

[2020-04-23 07:28] maliming opened #3717 "Search list page style problem."
https://docs.abp.io/search/en/abp/master/?KeyWord=abp+new

@armgnunlu
Can you help check? Is this a backend problem?

![image](https://user-images.githubusercontent.com/6908465/80071289-eef6ac80-8576-11ea-8589-c6fd5a001f8f.png)

[2020-04-23 07:30] maliming opened #3718 "The index of elasticsearch is duplicated."
https://docs.abp.io/search/en/abp/master/?KeyWord=+new

![image](https://user-images.githubusercontent.com/6908465/80071469-439a2780-8577-11ea-9db9-f31488c0372c.png)

[2020-04-23 08:16] Stirda commented on #3709
This is my typical Azure Pipelines YAML file for a Build Pipeline in a project based on an ABP ASP.NET Core MVC Template. For brevity I omitted pipeline/branch triggers and SonarQube tasks.

[code]

And below is the conversion in YAML code for the associated Release Pipeline tasks. Here are some preconditions:
- In order to have the `FileTransform@1` working, you have to set `ConnectionStrings.Def

[2020-04-23 14:07] aklscv commented on #3709
Thank you very much for your detalied explanation. I had something similar in mind but not at this level yet. This wil save myself and others a lot of time.

[2020-04-23 16:58] Stirda opened #3724 "Details operations implementation needs documentation update"
After reading these issues about `WithDetails`, `DefaultWithDetailsFunc`, `CreateFilteredQuery` and some @acjh answers ...

- https://github.com/abpframework/abp/issues/3007
- https://github.com/abpframework/abp/issues/2474
- https://github.com/abpframework/abp/issues/616

... I think that the ["Repository Implementation" chapter](https://docs.abp.io/en/abp/master/Best-Practices/Entity-Framework-C

[2020-04-23 19:42] papyr opened #3725 "Documentation or Linux Template for Linux hosts"
Hello, setting it up on Linux with cheaper hosts is not possible, with `Digital Ocean` is only 12$ compared to other hosts.

Not everyone can afford Azure or AWS, can you please **add some documentation help on how to run of Debian/Ubunutu Linux**, now that some of the issues seems to be resolved.

thanks.

[2020-04-23 20:50] kgamalseif commented on #754
Hi @hikalkan, Are there any plans to support RTL on UI(Arabic for example)?

[2020-04-23 21:30] hikalkan commented on #754
We haven't a plan yet. However, we use standard bootstrap and you can do it like you are doing in any boorstrap based UI. It would be appreciated if you contribute.

I am adding this to backlog and consider to implement in the future.

[2020-04-23 21:34] hikalkan commented on #3725
Hi @papyr can you write what issues you have?

We are running it in linux based containers without any problem.

[2020-04-23 21:35] hikalkan commented on #3724
Thank you, I will check these and update the document.

[2020-04-23 21:47] hikalkan opened #3726 "Audit log should not save properties those were not changes"
see https://github.com/abpframework/abp/issues/3713

[2020-04-23 21:47] hikalkan commented on #3713
I aggre that it should not save unchanged properties. I created an issue: https://github.com/abpframework/abp/issues/3726

[2020-04-23 21:47] #3713 closed

[2020-04-23 21:52] hikalkan commented on #3712
We don't introduce breaking changed in the same major version except;

* We may make breaking changes for not documented / experimental features.
* We may make breaking changes if it is a bug and need to make the change.

Generally, these changes doesn't effect the applications. If they effect, we document it in the "breaking changes" section of the related release notes and also document what to

[2020-04-23 21:52] #3712 closed

[2020-04-23 21:56] hikalkan commented on #3631
There is no AppUsers table when you create a new application.

[2020-04-23 21:56] #3631 closed

[2020-04-23 21:58] kgamalseif commented on #754
Ok, I will contribute, just assign it to me. Thanks.

[2020-04-23 22:00] #3618 closed

[2020-04-23 22:02] #3687 closed

[2020-04-23 22:05] hikalkan commented on #1638
It is on our road map, but haven't started yet. BlazorUI has more priority to be honest, but fortunately we have a dedicated frontend team can work on the React in parallel.

[2020-04-23 22:31] hikalkan commented on #3627
template renderer was experimental so far. We are currently working on to make it usable and stable: https://github.com/abpframework/abp/issues/407

[2020-04-23 22:33] hikalkan commented on #3644
Inject `IReadOnlyRepository<...>` instead of `IRepository<>` to only see the read methods.
However, there is no way to completely prevent changes when you use `IReadOnlyRepository`. For example, you can get and entity and change a property. EF Core change tracker will find it and save the change for you :)

[2020-04-23 22:33] #3644 closed

[2020-04-23 22:33] #3643 closed

[2020-04-23 23:00] #3597 closed

[2020-04-23 23:11] hikalkan commented on #3512
How do you set it with the [RabbitMQ.Client](https://www.nuget.org/packages/RabbitMQ.Client) package?

[2020-04-23 23:19] hikalkan commented on #3367
duplicate of https://github.com/abpframework/abp/issues/3512

[2020-04-23 23:19] #3367 closed

[2020-04-23 23:23] hikalkan commented on #3315
For the ABP side, it will be documented: https://github.com/abpframework/abp/issues/497

You can try to understand from the tests: https://github.com/abpframework/abp/tree/dev/framework/test/Volo.Abp.AspNetCore.Mvc.Versioning.Tests/Volo/Abp/AspNetCore/Mvc/Versioning

[2020-04-23 23:23] #3315 closed

[2020-04-23 23:25] #3314 closed

[2020-04-23 23:26] hikalkan commented on #3330
We've considered this before, but decided to not do it like that.

[2020-04-23 23:26] #3330 closed

[2020-04-23 23:33] hikalkan commented on #3293
Repository already implement IQueryable. So, use `userRepository.Where(...).ToList()` or `userRepository.Where(...).Count()` for examples.

The only problem is Async versions of these methods are database provider specific. That means you need to reference to EF Core package to be able to use ToListAsync() for example.

If you want to be database independent, you can use `IAsyncQueryableExecuter`

[2020-04-23 23:33] #3293 closed

[2020-04-23 23:39] hikalkan commented on #3247
https://github.com/abpframework/abp/issues/1638

[2020-04-23 23:39] #3247 closed

[2020-04-24 03:07] maliming commented on #3726
Caused by https://github.com/abpframework/abp/pull/2652

It seems that `propertyEntry.IsModified` is not very correct.

[2020-04-24 05:40] maliming commented on #3715
`AbpResourceOwnerPasswordValidator `can verify the user name and password. For other grant types of identity server, Please refer to the documentation of the identiy server and the account module of abp.

https://github.com/abpframework/abp/blob/dev/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpResourceOwnerPasswordValidator.cs#L49

For more in

[2020-04-24 05:40] #3715 closed

[2020-04-24 06:32] maliming commented on #3726
@hikalkan Should I revert #2652?

[2020-04-24 07:11] NecatiMeral opened #3727 "Localization - add german localization for framework & modules"
Hello,

is it okay to contribute german (and maybe netherland) localization for the abp framework and modules?
I know we can override the localization and so on but it would be kinda nice to have the localization in the upstream.

If so, I will open a PR for each language we want to contribute.

Here's the current list of `en` localization files, which must be translated:

**framework**
1. `src\Vo

[2020-04-24 07:22] maliming commented on #3505
We cannot use `SignInManager<IdentityUser>`  in `Account.HttpApi`. Angular should not call `Logout` etc.

[2020-04-24 07:22] #3505 closed

[2020-04-24 07:22] liangshiw commented on #3727
Hi,
Welcome you contributes. Please follow [Contribution Guide]( https://docs.abp.io/en/abp/latest/Contribution/Index).

[2020-04-24 08:10] csr2 opened #3728 "svg file cannot be accessed"
about modules, embedded resources，.svg files cannot be accessed.
![111](https://user-images.githubusercontent.com/12671474/80189943-0bade580-8646-11ea-9d4d-6bcf12c151b8.png)

[2020-04-24 08:16] liangshiw commented on #3728
Try :
`/flags/_1x1/cn.svg`

[2020-04-24 08:24] csr2 commented on #3728
@liangshiw  Thank you

[2020-04-24 08:24] #3728 closed

[2020-04-24 09:07] #3606 closed

[2020-04-24 09:07] #3605 closed

[2020-04-24 10:43] luy710 opened #3730 "When I execute the method in swagger get error Self referencing loop detected with type"
When I execute the method in swagger  get error Self referencing loop detected with type

How can I set this？
SerializerSettings.ReferenceLoopHandling = ReferenceLoopHandling.Ignore

I tried a way, but it didn't work
  [JsonObject(ItemReferenceLoopHandling = ReferenceLoopHandling.Ignore)]
 [JsonProperty(ReferenceLoopHandling = ReferenceLoopHandling.Ignore)]

[2020-04-24 11:44] liangshiw commented on #3730
Try :

`[JsonProperty(ReferenceLoopHandling = ReferenceLoopHandling.Ignore)]`

[2020-04-24 11:59] mehmet-erim commented on #3653
ABP NG modules depend on `ThemeSharedModule`. If you want to remove `ThemeSharedModule`, you should remove all modules, except `CoreModule`.

Please describe your problem in detail, Maybe we can find a solution without removing the `ThemeSharedModule`.

[2020-04-24 12:14] mehmet-erim commented on #3633
Hi @Wello86

Please check the `currentUser` object in the `app-configuration` response after logged in. Is `isAuthenticated` property equal to `true`.

[2020-04-24 12:18] hikalkan opened #3731 "Docs module gives HTTP 500 error when I open a document first time"
It works on 2nd try. I suppose once it is cached, it works.

[2020-04-24 13:13] luy710 commented on #3730
thank your reply!
I tried that but it didn't work

[2020-04-24 14:01] liangshiw commented on #3730
I tested , It works fine.
Can you provide complete steps to reproduce?

[2020-04-24 14:52] #3664 closed

[2020-04-24 15:39] #3707 closed

[2020-04-24 18:35] Stirda commented on #3709
I updated my comment by adding two things.

First, I added `--configuration $(BuildConfiguration)` to build task and the two publish tasks. Even if `configuration: $(BuildConfiguration)` is set, build was done in Debug mode. This causes verbose logs. This seems to be a know DotNetCoreCLI@2 bug : https://github.com/microsoft/azure-pipelines-tasks/issues/9073

I added two tasks to the release pipeli

[2020-04-25 02:51] Maple512 opened #3735 "Why the GetKeys method in entity uses object[] instead of Enumerable"
like this:
[code]

[2020-04-25 03:12] liangshiw commented on #3735
The array type itself is iterable.

![image](https://user-images.githubusercontent.com/16813853/80269815-9d206480-86e5-11ea-96ee-653507bfc1e4.png)

[2020-04-25 03:12] #3735 closed

[2020-04-25 03:49] #3684 closed

[2020-04-25 06:30] gdlcf88 opened #3736 "AbpDynamicForm generates custom items repeatedly"
[code]
![image](https://user-images.githubusercontent.com/30018771/80272981-019ced00-8701-11ea-97f9-4ed4dcfb8361.png)

[2020-04-25 07:08] liangshiw commented on #3736
If you want to manually generate `@Model.TenantType`, you should use `[DynamicFormIgnore]`.
I think the [document](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Dynamic-Forms) and [demo](https://bootstrap-taghelpers.abp.io/Components/DynamicForms) pages are detailed enough.

[2020-04-25 07:16] gdlcf88 commented on #3736
The dynamic form has a scope `abp-model="Category"`, the `@Model.TenantType` is not in this.
My Model class code:
[code]

[2020-04-25 08:28] liangshiw commented on #3736
Use other form tag helpers in the dynamic form tag helper, will adding content repeatedly when sorting.

https://github.com/abpframework/abp/blob/b37ba4a8f74532f57ae9322f06a90d9a9372136f/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs#L322

https://github.com/abpframework/abp/blob/b37ba4a8f74532f57ae9322f06a90d9a9372136f/framework/src/Volo.Abp.AspNet

[2020-04-25 09:42] #3504 closed

[2020-04-25 12:26] NecatiMeral opened #3739 "Localization - Typo in localization files of `Volo.Abp.Validation`"
Hi,

I think the key _ThisFieldMustBeAStringOrArrayTypeWithAMaximumLength**o**Of_ should be `ThisFieldMustBeAStringOrArrayTypeWithAMaximumLengthoOf`.

Since I'm working on #3727, i'll include a fix in my PR.

[2020-04-25 14:16] liangshiw opened #3740 "The virtual file system cannot handle static asset files well"
About static asset files: https://docs.microsoft.com/en-us/aspnet/core/razor-pages/ui-class?view=aspnetcore-3.1&tabs=visual-studio#consume-content-from-a-referenced-rcl.

ASP NET Core reusable UI library have some static asset files. Due to the lack of `StaticWebAssetsFileProvider`, these files will get a **404 response** during **development**.

https://github.com/abpframework/abp/blob/3dced6e58b

[2020-04-25 14:29] heyuquan opened #3741 "debug volo.abp source error,get pdb file failed..how handle???"
information

SYMSRV:  BYINDEX: 0xCE3
         C:\Users\heyuquan\AppData\Local\Temp\SymbolCache*https://symbols.nuget.org/download/symbols
         Volo.Abp.PermissionManagement.Domain.Identity.pdb
         1148E9A31977404ABED21CA40F02E7C4ffffffff

SYMSRV:  UNC: C:\Users\heyuquan\AppData\Local\Temp\SymbolCache\Volo.Abp.PermissionManagement.Domain.Identity.pdb\1148E9A31977404ABED21CA40F02E7C4fffffff

[2020-04-25 14:34] liangshiw commented on #3741
See https://github.com/abpframework/abp/issues/3462.
You can debug by downloading the source code.

[2020-04-25 14:34] #3741 closed

[2020-04-25 22:52] hikalkan opened #3742 "Documentation mistake for addManyTail (Linked-List)"
Actual function name is `addManyTail` but there are samples with `addTailMany` in the documentation.

Document: https://github.com/abpframework/abp/blob/master/docs/en/UI/Common/Utils/Linked-List.md

[2020-04-26 02:14] liangshiw commented on #3740
The following code works fine, Since `StaticWebAssetsFileProvider` is inner class, so I can't by comparison with the type.

[code]

[2020-04-26 02:22] zredb opened #3743 "(question)How to solve background job call authrized application service calls the exception(Authorization failed! User has not logged in)"
hello,
      I have a background job in which Execute method, I called a service method from application service layer,
the  service class has a [Authorize] attribute, so if I call the service method will catch the Volo.Abp.Authorization.AbpAuthorizationException, how can i solve this problem safely? any comment is welcomed.

[2020-04-26 03:20] wjkhappy14 commented on #3740
got it ,thks !

[2020-04-26 04:00] wjkhappy14 commented on #3743
maybe  [AllowAnonymous]  attribute

[2020-04-26 04:07] zredb commented on #3743
Yes,  [AllowAnonymous] attribute can solve this problem,
but this attribute also expose the API to user which isn't Authorized.

[2020-04-26 06:28] yinchang0626 opened #3744 "(@abp/ng.core) ReplaceableComponent not work fine at get @Input Property"
@mehmet-erim
Hi, as we know `Component Replacement` is very good design for customization component
but latest version has something wrong:
1.Follow [docs](https://github.com/abpframework/abp/blob/dev/docs/en/UI/Angular/Component-Replacement.md#component-replacement),I created a `MyPermissionManagementComponent` in `dev-app`
2.Add it to `AppComponent`
[code]
3.call a action to change component on

[2020-04-26 10:39] maliming commented on #3743
Please refer to https://github.com/aspnetboilerplate/aspnetboilerplate/issues/1107#issuecomment-226714736

It also applies to vnext.

[2020-04-26 11:37] #1427 closed

[2020-04-26 12:47] maomft opened #3747 "IStringLocalizer not work,when i just set CultureInfo.CurrentCultrue property value"

[2020-04-26 13:03] maomft commented on #3747
`        protected virtual LocalizedString GetLocalizedString(string name)
        {
            return GetLocalizedString(name, CultureInfo.CurrentUICulture.Name);
        }` The source code in AbpDictionaryBasedStringLocalizer.cs class in Volo.Abp.Localization project.I think that is why

[2020-04-26 13:08] maomft commented on #3747
reopen.comment is edited.

[2020-04-26 13:09] liangshiw commented on #3747
Can you provide complete steps to reproduce?

[2020-04-26 13:20] maomft commented on #3747
`using System;
using System.Collections.Generic;
using System.Diagnostics;
using System.Globalization;
using System.Linq;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.Mvc.Localization;
using Microsoft.Extensions.Localization;
using Microsoft.Extensions.Logging;
using MyAbpNext.Localization;
using MyAbpNext.Web.Mvc.Models;
using MyAbpNext.Web.Pages;
using

[2020-04-26 15:28] liangshiw commented on #3747
`CurrentCulture` is the .NET representation of the default user locale of the system. This controls default number and date formatting and the like.

`CurrentUICulture` refers to the default user interface language. This is primarily regarding the UI localization/translation part of your app.

[2020-04-26 15:50] maomft commented on #3747
thanks for your reply,i have learned a lot.Thanks again.

[2020-04-26 15:55] #3747 closed

[2020-04-26 16:26] liangshiw opened #3749 "Tutorials document UI option Incorrect"
Should use `{{UI_Value}}` variable.

![image](https://user-images.githubusercontent.com/16813853/80313391-3d2cd980-881d-11ea-8313-1d0a34b43311.png)

[2020-04-26 22:30] hikalkan opened #3751 "Change type of the IHasExtraProperties.ExtraProperties"
Currently, it is `Dictionary<string, object>`, but a specialized type derived from `Dictionary<string, object>` would be better.
Should care about MongoDB, EF Core and MVC binding integrations.

[2020-04-27 00:07] dmeagor opened #3752 "Get tenant ID from user table."
Looking at the AbpUser table I can see that TenantId is stored with the user however I cannot see a way to sign the user into that tenant when they login (angular version.)

I simply want them to login normally and current tenant id set to the one listed on the user table entry.

At this point no cookies have been set and everyone logs in on the same domain/path so I don't see how we map them?

I

[2020-04-27 00:18] #3749 closed

[2020-04-27 00:42] #3731 closed

[2020-04-27 01:31] liangshiw commented on #3752
See https://docs.abp.io/en/abp/latest/Multi-Tenancy#custom-tenant-resolvers

[2020-04-27 02:12] hubo0831 opened #3753 "CLI: hope update operation can assign solution name"
I have multi solutions in root foler, but abp update command only update first solution.

[2020-04-27 02:43] maliming commented on #3753
Can you explain it in detail.

[2020-04-27 07:31] #3736 closed

[2020-04-27 08:04] volethanh opened #3755 "Error when access authorized AppService"
Hi,

I'm facing a problem that when I access the authorized AppService, I got an error

Then I tried to remove package AbpIdentity*module, I got different error

[2020-04-27 08:06] liangshiw commented on #3755
Can you provide steps to reproduce?

[2020-04-27 08:20] armanozak commented on #3152
Development has been completed, but NGXS team should publish the new version for us to use it.

[2020-04-27 08:53] #3637 closed

[2020-04-27 09:09] x2009again commented on #2469
no effect

[2020-04-27 09:10] x2009again commented on #2469
Have you solved it?

[2020-04-27 09:38] volethanh commented on #3755
I'm using template mongodb and then add `DependsOn `to *.HttpApi.Host project

![image](https://user-images.githubusercontent.com/46510130/80357609-6bee9280-88a5-11ea-9929-c17abcf71e34.png)

[2020-04-27 09:53] volethanh commented on #3755
I found my fault, after changing `ApiName`, it worked !

`context.Services.AddAuthentication("Bearer")
                .AddIdentityServerAuthentication(options =>
                {
                    options.Authority = configuration["AuthServer:Authority"];
                    options.RequireHttpsMetadata = true;
                    options.ApiName = "DDC";
                });`

[2020-04-27 09:53] #3755 closed

[2020-04-27 10:25] #3710 closed

[2020-04-27 10:53] #3742 closed

[2020-04-27 11:15] dmeagor commented on #3752
CustomTenantResolveContributor runs before the user is logged in, and you cannot login without knowing the tenant first.

So I need to disable the tenant check on the login but I don't see how to do this.  Could you please point me in the right direction?

[2020-04-27 11:15] mehmet-erim opened #3756 "Add Permission Management Component replacement example to Component Replacement document"

[2020-04-27 12:01] mehmet-erim opened #3757 "Fix UI bugs on tablet view"
<img width="862" alt="Screen Shot 2020-04-27 at 15 00 08" src="https://user-images.githubusercontent.com/34455572/80369955-caad0f80-8897-11ea-9f41-0a080a06d9ed.png">

[2020-04-27 12:12] liangshiw commented on #3752
@dmeagor  https://docs.abp.io/en/abp/latest/Multi-Tenancy#determining-current-tenant-from-web-request

[2020-04-27 12:54] geffzhang commented on #2882
https://github.com/thangchung/GrpcJsonTranscoder

[2020-04-27 13:28] dmeagor commented on #3752
Thanks for the reply.  These options seem to rely on the tenant already being known or entered by the user.

User cannot login with null/unspecified tenant.  **I need to login and THEN set the tenant.**

I think this should be an option.

Requires path or prior knowledge of the tenant which the customer doesn't have.

[2020-04-27 13:35] hikalkan opened #3758 "Can we hide ABP related HTTP API endpoints if desired?"
Even for an empty project, we have the following pre-defined HTTP endpoints:

![image](https://user-images.githubusercontent.com/1210527/80378092-d18e4f00-88a4-11ea-9920-d877443c7438.png)

We may want to disable these endpoints (not only hide from swagger, but completely disable them). So, we need to provide an option for it.

[2020-04-27 13:42] liangshiw commented on #3752
If you want to not isolate tenants when logging in, you can choose to disable the multi-tenant filter for the login method.
But if you are developing a multi-tenant application, I do not recommend you to use this method, you should determine the current tenant from the route ,header or other.
However, the choice is yours .

[2020-04-27 14:45] mehdihadeli opened #3759 "record level security in abp"
Hi,
How can I do a record level security in abp with specific permission?

[2020-04-27 15:20] dmeagor commented on #3752
Thanks.

Do I DI replace this method (when using the Angular version.)

**Volo.Abp.Identity.IdentifyUser.AddLogin**

I've been hunting around the source code and so far that's all I've found.

[2020-04-27 15:40] hubo0831 commented on #3753
abp update --solution a.sln
abp update --solution b.sln

[2020-04-27 15:40] kgamalseif commented on #754
Sent pull request.
RTL language support & added arabic localization resources #3754

[2020-04-27 19:32] papyr commented on #3725
Hello @hikalkan I'm not a linux expert, but someone recommended your template and there is no documentation or script to run to setup on Debain or CentOs.

I think it will help many developers migrate to ABP with some basic templates.

______________________________
Here is what I tried, I think we can package this for the community, this should [help ](https://dejanstojanovic.net/aspnet/2018/june

[2020-04-27 21:40] kzmyvr commented on #2898
@liangshiw

Although I follow all the instructions, no data is created.
Tables are empty.

[2020-04-28 00:18] maliming commented on #2898
@kzmyvr

https://docs.abp.io/en/commercial/latest/getting-started#apply-migrations-using-the-dbmigrator

[2020-04-28 00:30] maliming commented on #3759
It is not implemented by default, you should refer to abp and Microsoft's permission design to implement it yourself.

https://docs.abp.io/en/abp/latest/Authorization
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/introduction?view=aspnetcore-3.1

[2020-04-28 00:58] maliming commented on #3725
hi @papyr

I think abp is just an asp net core application, we can refer to Microsoft's documentation for deployment and hosting(`windows iis. linux nginx, linux apache, docker  etc.`).

[2020-04-28 01:22] 274188A commented on #394
The Blazor UI Framework it is on the "**Backlog**", not on any current Milestone path.  To use a colloquial - 'don't hold your breath'.

[2020-04-28 03:29] shikelong opened #3761 "How to get currentUser email or other info in micro services?"
Hi, I am a newer to abp and id4, Sometime We need get current user info in micro services.

I inject ICurrentUser to my microservice's Application Layer, But i can only get user id from IcurrentUser instance. Other info is null.

![2020-04-28_122647](https://user-images.githubusercontent.com/4499997/80444127-d65a0e00-894b-11ea-9406-16571c0d4ef7.png)

In my micro service host module. I has map iden

[2020-04-28 03:42] maliming commented on #3761
Generally, the access_token issued by the identity server should contain many claims of user information. jwt token and reference tokens are the same.

You can troubleshoot the problem at this point, because your project is more complicated, it is difficult to directly find the problem.

[2020-04-28 05:34] shikelong commented on #3761
Thank you

[2020-04-28 05:34] #3761 closed

[2020-04-28 05:50] mgochmuradov opened #3762 "CLI generate-proxy doesn't create models for some classes"
example C# code:
[code]

Generated TS code:
[code]
and `LayoutItemDto` class is not generated at all.

PS: I have checked `/api/abp/api-definition?IncludeTypes=true` address, and verified that `DocumentDefinitionDto` and `LayoutItemDto` are defined correctly there.

[2020-04-28 07:38] dingsongjie opened #3763 "Reliable message in distributed event bus"
Will there be a reliable message feature in the event bus part of abp? In addition, will you consider implementing a distributed transaction manager based on TCC or sagas?

 I think these features are very important in microservices.

[2020-04-28 07:51] mehmet-erim opened #3764 "Document how to replace the layout components"

[2020-04-28 08:23] mehmet-erim opened #3765 "Add enums that contain route names to all lazy-loadable modules"

[2020-04-28 08:41] mehdihadeli commented on #3759
ok thanks.

[2020-04-28 08:41] #3759 closed

[2020-04-28 08:44] #3753 closed

[2020-04-28 09:01] gdlcf88 opened #3766 ".CSHTML override invalid when an app run in Linux + Docker + Production env."
![image](https://user-images.githubusercontent.com/30018771/80467693-c99be100-8970-11ea-88c2-b11207f3d91c.png)
[code]
I overrode a .CSHTML file, when I run the web project in Windows locally (tried: debug/release, production/development), it works:
![image](https://user-images.githubusercontent.com/30018771/80467951-28f9f100-8971-11ea-9386-1e9b79790780.png)
But when I published it to the formal en

[2020-04-28 09:11] maliming commented on #3766
Try to test the application after publishing it locally (windows).

[2020-04-28 09:18] liangshiw opened #3767 "Getting Started documentation incorrect link"
Should be `Tutorials/part-1.md`.

![image](https://user-images.githubusercontent.com/16813853/80470001-f1407880-8973-11ea-8cda-6ff3c98ba1e8.png)

[2020-04-28 09:51] #3767 closed

[2020-04-28 09:58] gdlcf88 commented on #3766
I tried published .dll file locally (Win10), it **can be** reproduced.

And I tried to replace the login page following the [example](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface#example-1), the problem **can be** reproduced too.

[2020-04-28 10:04] maliming commented on #3766
Try this demo.

https://github.com/maliming/LoginPageDemo/blob/master/src/LoginPageDemo.Web/Pages/Account/Login.cshtml

[2020-04-28 10:35] gdlcf88 commented on #3766
![image](https://user-images.githubusercontent.com/30018771/80477289-45505a80-897e-11ea-9674-e83cf17bdfac.png)
It works in this demo.

[2020-04-28 11:01] gdlcf88 commented on #3766
I think it is because I did not add this configuration:
[code]

Hi @maliming, could you please tell me why the AbpVirtualFileSystemOptions is not configured by default in the startup template? thx.

[2020-04-28 12:25] ggleo08 commented on #2804
please help,how did you solve this? i got this problem too.

[2020-04-28 12:55] maliming commented on #2804
@ggleo08 https://github.com/abpframework/abp/issues/2804#issuecomment-584475741

[2020-04-28 12:58] maliming commented on #3766
The startup template does not use the [virtual file system](https://docs.abp.io/en/abp/latest/Virtual-File-System) by default.

[2020-04-28 12:58] #3766 closed

[2020-04-28 14:17] pn-william opened #3772 "ErrorHandler is not exported in public-api.ts of ThemeSharedModule"
Hi!
I tried to reuse the the class [ErrorHandler](https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/theme-shared/src/lib/handlers/error.handler.ts) in the module ThemeSharedModule from my front-end application. I'm using Zorro(another UI library based on angular) instead of using the module @abp/ng.theme.basic to build my font-end. My front-end does depend on ThemeSharedModule  in

[2020-04-28 16:23] dmeagor commented on #3752
**Ignore previous post.**

For the benefit of anyone else with the same problem.  After lots/hours of trial and error the class that hits the debugger is: **IdentityServerSupportedLoginModel.OnPostAsync()**.

I think this should just be a simple configuration option for the MultiTenant setup though as many sites just have a single login page but still want segregate their users easily.  Overriding

[2020-04-28 17:56] NecatiMeral opened #3774 "Localization - add dutch localization for framework and modules"
Hi,

as a follow-up to #3727, a dutch localization would be great to be built-in.
I'll create a PR with the required localization files (on behalf of a collegue of mine).

[2020-04-28 19:43] javeez opened #3776 "add paramerts to PagerModel"
It would be great if we can add paramerts to PagerModel PageUrl

[2020-04-28 21:36] sailucheng opened #3777 "RabbitMq IDistributedEventBus bug."
This line cause a problem.

https://github.com/abpframework/abp/blob/db6bae083613cb43697a4431179d2af92d4cfeca/framework/src/Volo.Abp.EventBus.RabbitMQ/Volo/Abp/EventBus/RabbitMq/AbpEventBusRabbitMqModule.cs#L21-L24

Because `Volo.Abp.EventBus.RabbitMq.RabbitMqDistributedEventBus`  lifecycle is singleton. and register as service type IDistributedEventBus and itself automatically.

[code]

So
[code]

[2020-04-29 00:18] liangshiw commented on #3776
Can you explain in detail?

[2020-04-29 01:31] maliming commented on #3777
I will check it out.

[2020-04-29 02:37] maliming commented on #3777
We can register for `Singleton` using the forwarding service to ensure that the interface and implementation class use an instance.

@hikalkan  What do you think?

[code]

https://github.com/abpframework/abp/blob/654eeede81a733382066bfd00ab19b6b65ceec0e/framework/src/Volo.Abp.Core/Volo/Abp/DependencyInjection/DefaultConventionalRegistrar.cs#L29-L48

[code]

[2020-04-29 06:23] aerkol opened #3778 "Memory leak after upgrading ABP"
Hi guys,

We have been developing a blockchain platform based on ABP framework and everything was fine until we tried to upgrade to latest ABP packages recently.

We skipped a few versions after ABP 1.1.2 but when we upgraded to 2.2.1, we noticed that our application's memory usage was growing abnormally until the server runs out of memory. Recently, we upgraded ABP to 2.6.2 and we still observe t

[2020-04-29 06:24] ggleo08 commented on #2804
@maliming
thank you very much，the reason is Redis not running。
there is no mention of Redis in this tutorial: [Getting started](https://docs.abp.io/en/abp/latest/Getting-Started?UI=MVC&DB=EF&Tiered=Yes)

[2020-04-29 06:46] maliming commented on #2804
I will add a note about redis.

[2020-04-29 06:52] liangshiw commented on #3778
Can you explain it in detail and share the dump file?

[2020-04-29 07:20] sailucheng commented on #3777
I think there's no problem with that.

[2020-04-29 07:25] maliming commented on #3777
The same applies to the `Scoped` life time.

[2020-04-29 07:41] liangshiw commented on #3752
I think the current way is more flexible.

[2020-04-29 07:57] sailucheng commented on #3777
Right , need to use register callback  with `Singleton` and `Scoped`

[2020-04-29 08:26] aerkol commented on #3778
Hi Liangshiw,

The issue arises after we upgrade ABP from 1.1.2 to a later version, that we first noticed 2.2.1 and same with 2.6.2.

Our code base is here if you want to have a look, the project that is to launch the application is AElf.Launcher:

https://github.com/AElfProject/AElf
https://github.com/AElfProject/AElf/blob/dev/src/AElf.Launcher/Program.cs

The PR we attempted to fix the issue:

h

[2020-04-29 08:44] shikelong opened #3782 "Can I use difference Login view for clients?"
I have a Auth Server user Abp Account/Identity/IdentityServer Module.

And I has a Desktop SPA Client and a Mobile SPA Client. I hope they has different login view.

Can Abp Support it?

Thanks.

[2020-04-29 08:50] liangshiw commented on #3778
Can you provide dump files supported by dotmemory tool?

[2020-04-29 09:15] maliming commented on #3782
You can try customize the Login page and LoginPageModel.

https://docs.abp.io/en/abp/latest/How-To/Customize-Login-Page-MVC

[2020-04-29 09:15] #3782 closed

[2020-04-29 10:14] aerkol commented on #3778
@liangshiw

Thank you for your response.

I will need some time to reproduce this in Windows OS (as dotmemory only runs in Windows), currently we use Ubuntu in our test environment and the memory dump was created with coredump and can be opened with lldb & sos plugin... So I don't have a dump compatible with dotmemory yet with this issue present.

Creating a simple project to reproduce this proble

[2020-04-29 12:38] mehmet-erim opened #3783 "A navigation menu element can't remove without settimeout"

[2020-04-29 12:52] #3765 closed

[2020-04-29 12:52] #3703 closed

[2020-04-29 16:26] mehmet-erim opened #3785 "Add eNavigationElementNames enum to @abp/ng.theme.basic"

[2020-04-29 17:13] #3785 closed

[2020-04-29 19:45] os92kw opened #3789 "How to customize ABP 2.2.0 login"
How to customize ABP 2.2.0 login method to allow pass mobile number and get token to use it in user privileges

[2020-04-29 23:50] hikalkan opened #3790 "Add AbpLocalizationOptions.DefaultResourceType"
This will be set to the application's localization resource (by the startup template) and will be used while resource was not specified.

[2020-04-30 00:12] hikalkan opened #3791 "Use "defaultResourceName" and other enhancements for the Angular UI"
- [x] Once https://github.com/abpframework/abp/issues/3790 completed, use the `defaultResourceName` value returned from the app configuration endpoint (`localization.defaultResourceName` in tje JSON) unless it is overriden by the angular configuration.
- [x] Add isLocalized function like https://github.com/abpframework/abp/commit/7e10bd92ce52bbe134295f6c8fddad7089544133#diff-66e1a2cb5bae66b395c556

[2020-04-30 00:16] maliming commented on #3789
You can take a look at [How to](https://docs.abp.io/en/abp/latest/How-To/Index) documentation.

[2020-04-30 00:52] ebicoglu opened #3793 "Docs - Wrap images in anchor"
Wrap the images in anchors so that users will be able to click the image and open in new browser tab to see with the original size.

[2020-04-30 00:53] #3793 closed

[2020-04-30 02:44] Meowv opened #3795 "cannot be tracked because another instance with the same key value for {'Id'} is already being tracked."
My entity inherits: `Entity<Guid>`, at this time the primary key is protected. Can't assign value to it?

When I insert data in bulk, the following exception is reported.

System.InvalidOperationException: The instance of entity type 'Wallpaper' cannot be tracked because another instance with the same key value for {'Id'} is already being tracked. When attaching existing entities, ensure that only

[2020-04-30 02:48] maliming commented on #3795
Use the entity's constructor.

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUser.cs#L137

[2020-04-30 02:48] #3795 closed

[2020-04-30 02:57] maliming commented on #3527
@SmallShrimp Please provide a project.

[2020-04-30 02:58] Meowv commented on #3795
Thanks Reply.

Adding the following code solves.
[code]

[2020-04-30 03:01] maliming commented on #2450
It is recommended to generate the Id value through the abp framework.

https://github.com/abpframework/abp/issues/2450#issuecomment-568986527
https://github.com/abpframework/abp/issues/3795

[2020-04-30 05:54] liangshiw opened #3796 "Virtual file system could not get the root directory"
![image](https://user-images.githubusercontent.com/16813853/80670204-df2c1a80-8ad8-11ea-88e0-0298dc4b520f.png)

[2020-04-30 06:00] liangshiw commented on #3740
@hikalkan  What do you think?

[2020-04-30 06:01] maliming commented on #3796
Related: https://github.com/abpframework/abp/issues/1609#issuecomment-520242986

[2020-04-30 07:11] sebitsi commented on #3630
@erolarkat Any news about proxy-gen progress ?

[2020-04-30 09:13] mehmet-erim commented on #3772
Hi,
Thanks for reporting. It will be exported from the `public-api`.

[2020-04-30 09:20] #3305 closed

[2020-04-30 09:50] SmallShrimp commented on #3527
https://github.com/SmallShrimp/AbpRemotePermissionDemo
Switching between different tenants to access the API `/api/Client/sample/{id}` ill give you different results

[2020-04-30 09:54] maliming commented on #3527
Please provide full steps to reproduce.

[2020-04-30 10:10] tinonetic opened #3803 "How to a module that accesses existing data - No migrations necessary"
Hi,

Is it possible with ABP, to add a module that accesses existing data without any need for migrations?

How is it done?

Thanks for your awesome product!

[2020-04-30 10:15] tinonetic opened #3804 "Where is the DbMigrator when you run "abp new Acme.BookStore -t module --no-ui""
Hi,

I created a new module using CLI(https://docs.abp.io/en/abp/latest/CLI#options) and tried to run the "...Http.Api.Host" project.

It is complaining that it cannot find tables that seem to be system tables

For example:

It did not generate a **DbMigrator** project. What could I be missing here?

Thanks in advance for your help!

[2020-04-30 10:21] liangshiw commented on #3803
Hi ,
I don't think unnecessary  to add such a template, you simply need to change the connection string to the existing database.

[2020-04-30 10:45] #3772 closed

[2020-04-30 10:48] liangshiw commented on #3804
See https://docs.abp.io/en/abp/latest/Startup-Templates/Module

[2020-04-30 10:51] #3803 closed

[2020-04-30 11:01] liangshiw commented on #3804
1. Set `host/YourProjectName.Web.IdentityServer` as the startup project and PMC default project, run Update-Database command
2. Set `host/YourProjectName.HttpApi.host` as the startup project and PMC default project, run Update-Database command

[2020-04-30 11:01] #3804 closed

[2020-04-30 12:26] tinonetic commented on #3804
@liangshiw Thank-you for responding. What is PMC?

[2020-04-30 12:29] tinonetic commented on #3804
Ok, I figured it out. Package manager console. Do I still need the IdentityServer if it becomes a second module to a MicroService solution?

[2020-04-30 12:39] tinonetic commented on #3803
Thank-you for responding.

Does it have to have ABP tables? What if for that module, I do not want the standard ABP tables? Just my own

[2020-04-30 13:10] liangshiw commented on #3804
Do you check the [Module documentation](https://docs.abp.io/en/abp/latest/Startup-Templates/Module)?

[2020-04-30 13:13] liangshiw commented on #3803
Application module  only has its own table. You can refer to Abp [pre-built modules](https://github.com/abpframework/abp/blob/dev/modules).

[2020-04-30 14:17] Wello86 commented on #3633
"currentUser":{"isAuthenticated":false,"id":null,"tenantId":null,"userName":null}

Hi Mehmet,

Yes is it showing ""currentUser":{"isAuthenticated":false,"id":null,"tenantId":null,"userName":null}"
however this "return this.oAuthService.hasValidAccessToken();" is returning true !
Any suggestions why this happens ? what I need to check more ?

[2020-04-30 21:43] #407 closed

[2020-04-30 21:58] cotur opened #3806 "Create Documentation for Volo.Abp.TextTemplating package"
*   File: https://github.com/abpframework/abp/blob/master/docs/en/Text-Templating.md
*   Add as the "Services > Text Templating" in the docs-nav.json

[2020-04-30 23:03] geffzhang commented on #394
https://devblogs.microsoft.com/aspnet/blazor-webassembly-3-2-0-release-candidate-now-available/

[2020-05-01 00:35] #3726 closed

[2020-05-01 02:44] XuJin186 opened #3807 "IdentityUserLogin' requires a primary key to be defined. If you intended to use a keyless entity type call 'HasNoKey()"
Version:
**2.6.2**
Entity:
[code]
MigrationDbContext:
[code]

DbContext:
[code]
ConfigureWms:

[code]

Exception Information:
[code]

[2020-05-01 10:06] Znow commented on #3007
This seems to be broken and is not working in latest release. My navigation properties which previously had values, dont have values now.

[2020-05-01 13:14] liangshiw commented on #3007
@Znow
You can refer to the abp module source code: https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/modules/identityserver/src/Volo.Abp.IdentityServer.EntityFrameworkCore/Volo/Abp/IdentityServer/AbpIdentityServerEfCoreQueryableExtensions.cs

[2020-05-01 14:38] Stirda opened #3808 "Unit test an application service by injecting an ObjectMapper mock"
I succeded in unit testing one of my application services by injecting an ObjectMapper mock. But I had to rewrite `Volo.Abp.Application.Services.ApplicationService` either changing `protected IObjectMapper _objectMapper` into `private` or addind a constructor with an additional `IObjectMapper` parameter.

The problem is I had to duplicate `ApplicationService` source code into a `TestableApplicatio

[2020-05-01 14:54] liangshiw commented on #3808
You can use dependency injection to replace `IObjectMapper` in test projects.

[2020-05-01 15:00] Stirda commented on #3808
In integrated tests, yes. But in a unit test, I don't think so. The purpose of an unit test is to depend only on the class under test and possibly some dependant interfaces. Dependency injection is activated during ABP modules start. A unit test doesn't run all of that.

[2020-05-01 15:14] liangshiw commented on #3808
If so, do we need to change services such as `IGuidGenerator`, `ICurrentTenant`, `ISettingProvider` etc to constructor injection?
I think it's a break change. You should  add customize the application service base classes for your requirements.

[2020-05-01 20:12] hikalkan opened #3810 "Apply default localization resource logic everywhere"
Especially for permission , setting and other definitions. This will simplify the final application.

[2020-05-02 01:54] ebicoglu opened #3811 "ABP CLI - Performance improvement on CLI NuGet update service"
Cache remote call responses and add retry mechanism.

[2020-05-02 02:12] #3811 closed

[2020-05-02 07:13] RyanOvO opened #3812 "Any docs about modules?"
Hi, I try to build and run docs project in my local machine. Is there any instruction document?
THS!

[2020-05-02 07:17] liangshiw commented on #3812
See https://docs.abp.io/en/abp/latest/Modules/Docs

[2020-05-02 07:17] #3812 closed

[2020-05-02 10:10] RyanOvO opened #3813 "repository pattern with ado.net"
Hi, Ado.net can implement data access based on the Repository module in ABP.
like ef core，memory db.

[2020-05-02 10:13] liangshiw commented on #3813
Can you explain it in detail?

[2020-05-02 10:41] RyanOvO commented on #3813
Implement repository using ado.net.
Not ORM.

[2020-05-02 10:52] liangshiw commented on #3813
I think there is no such plan for the abp framework ,you can use dapper integration or implement ado.net integration yourself

[2020-05-02 22:38] luisp88 opened #3815 "dockerize angular app"
I'am trying to create one image with angular side and another with netcore side.
Trying for angular, dockerfile:

throws:
![image](https://user-images.githubusercontent.com/4925069/80893407-fe28d900-8c9f-11ea-896d-49ca1ef24fff.png)
For the out of memory, changed
"ng build --prod"
for
"node --max_old_space_size=8000 ./node_modules/@angular/cli/bin/ng build --prod"
and throws:
![image](https://user-

[2020-05-02 23:25] ebicoglu opened #3816 "User friendly message for regex validation"
Currently, it says `The field {0} must match the regular expression '{1}'.`
eg: `"The field ZipCode must match the regular expression '^\d{5}$'`.
This is not user friendly for an end-user.
Better write a user-friendly message for regex validations.

[2020-05-02 23:25] #3816 closed

[2020-05-02 23:50] javeez commented on #3776
I'm using PagerModel to display pagination but I need to control the PageUrl paramerts to add more

[2020-05-03 11:41] xewn opened #3817 "Theme management module"
on the blog module
Allow tenants to set default themes
Allow users to upload themes, change themes

[2020-05-03 14:46] liangshiw commented on #3817
Hi，
Currently ABP modules cannot be dynamically loaded at runtime.
The switching theme is already provided in the [pro template](https://commercial.abp.io/startup-templates), you can use the [pro template](https://commercial.abp.io/startup-templates) or implement these features yourself.

[2020-05-03 14:57] #3583 closed

[2020-05-03 15:24] liangshiw commented on #3442
Hi @NecatiMeral ,
I made an example, hope I can help you. https://github.com/liangshiw/LocalizationDemo

[2020-05-03 16:59] xewn commented on #3817
The pro template only allows the selection of themes and cannot upload themes. Nor can there be users uploading their own themes.

[2020-05-03 23:18] mehmet-erim commented on #3633
@Wello86 Can you check the *.Host project configurations in `appsettings.json`. `AuthServer.Authority` property shouldn't be `localhost` address. You should replace the `localhost` with your *.IdentityServer project address that working on your server.

[2020-05-03 23:33] mehmet-erim opened #3818 "Reset some states when log out"

[2020-05-03 23:34] mehmet-erim opened #3819 "Call app-configuration API when the tenant is changed"

[2020-05-03 23:59] dicksonkimeu opened #3820 "Log file size"
My log file (.txt) is too large, how can i break it into 10MB files ?

How can i limit how much to store ?

[2020-05-04 01:12] maliming commented on #3807
Can you use cli to create a project to reproduce the problem?

[2020-05-04 01:18] maliming commented on #3820
You should refer to Serilog's documentation.

[2020-05-04 02:29] XuJin186 commented on #3807
@maliming
[Demo.zip](https://github.com/abpframework/abp/files/4572561/Demo.zip)

The main problem is that I use the FullAuditedEntityWithUser <Guid, IdentityUser> class. If I use IdentityUser, it can be migrated, but it will report an error when running, if I use Appuser, it will run normally, but it will be abnormal during migration.

[2020-05-04 02:37] maliming commented on #3807
What are the steps?

[2020-05-04 02:48] XuJin186 commented on #3807
如代码所示  我首先在Demo.Domain里添加了Test实体
`public class Test : FullAuditedEntityWithUser<Guid, IdentityUser>
    {
        public string Name { get; set; }
    }`
I used the FullAuditedEntityWithUser base class

Then I wrote the ConfigureDemo method in OnModelCreating

`public static void ConfigureDemo(this ModelBuilder builder)
        {
            Check.NotNull(builder, nameof(builder));
            bui

[2020-05-04 02:50] XuJin186 commented on #3807
If I change FullAuditedEntityWithUser <Guid, IdentityUser> to FullAuditedEntityWithUser <Guid, AppUser>, it will work normally, but after changing the entity, the migration will be abnormal.

[2020-05-04 03:32] maliming commented on #3807
Then execute the GetListAsync method in the TestApplicationService in the Demo.Application project, you will get an error message

I can't reproduce it.

[2020-05-04 03:37] XuJin186 commented on #3807
@maliming
You can open the demo project that I uploaded. It has been written and reproduced. You can update-databse directly, and then run GetListAsync in the Test service

[2020-05-04 06:30] maliming commented on #3820
https://github.com/serilog/serilog-sinks-file

[2020-05-04 06:30] #3820 closed

[2020-05-04 06:47] #3560 closed

[2020-05-04 06:58] vd3d opened #3822 "Question : Blazor DataAnnotation Validation - Localization"
Hi,

I'm currently using a mix of ABP & Blazor, I use an EditForm with some data annotation and data validation.

The problem is that the error message is english only, is there a way to connect it to th abp localization ?

[code]

[2020-05-04 07:08] liangshiw commented on #3822
Can you provide complete steps to reproduce the problem?

[2020-05-04 07:08] maliming commented on #3822
This requires Blazor to support `DataAnnotations localization` similar to asp net core.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1#dataannotations-localization

[2020-05-04 07:15] NecatiMeral commented on #3442
Hi @liangshiw,

thanks for providing an example. I'll take a look ASAP and give feedback.

[2020-05-04 08:21] GerryGe commented on #3807
Hi @maliming , I can reproduce this issue.
![AppUser](https://user-images.githubusercontent.com/6952917/80947680-3d336780-8e23-11ea-9717-71558870f12e.gif)

PM> update-database
Build started...
Build succeeded.
System.InvalidOperationException: The property 'AppUser.ExtraProperties' could not be mapped, because it is of type 'Dictionary<string, object>' which is not a supported primitive type or a

[2020-05-04 08:34] maliming commented on #3807
According to the current design, you cannot use `AppUser` in `EntityFrameworkCore.DbMigrations`.

`AppUser `and `IdentityUser `are shared tables, you can use `IdentityUser(FullAuditedEntityWithUser<Guid, IdentityUser>)`.

[2020-05-04 08:49] Wello86 commented on #3633
@mehmet-erim
Yes I am using IP already not localhost.

[2020-05-04 08:56] GerryGe commented on #3807
Yes, I see, there are also some issues using IdentityUser, I'll try to reproduce to you.

[2020-05-04 09:16] GerryGe commented on #3807
Hi @maliming , I have reproduced the issue, please down the demo and do below steps:
1. Extract the zip file
2. Run "Update-Database"
3. Debug Demo.HttpApi.Host project
4. Execute ​/api​/app​/test
5. Debug function public override Task<List<Test>> GetListAsync(bool includeDetails = false, CancellationToken cancellationToken = new CancellationToken()) in TestRepository.cs file

![IdentityUser](http

[2020-05-04 09:54] XuJin186 commented on #3807
@GerryGe  That's the problem

[2020-05-04 10:01] maliming commented on #3807
@XuJin186 @GerryGe

It is not recommended that you use Entity in other modules as the navigation property, because the module entity may exist in another database. Of course, you can use the Id of the entity.

Even if all modules exist in a database, EF Core will still throw an exception because of different `DbContext`, such as the above exception information. (`IdentityUserLogin 'requires a prim

[2020-05-04 10:05] erolarkat opened #3823 "abp generate-proxy folder structure changes"

[2020-05-04 10:10] maliming commented on #3633
@Wello86

When you log in, please check angular's requests and responses and the logs of the application backend. I think the login was not successful.

[2020-05-04 10:41] GerryGe commented on #3807
@maliming Do you have any idea or background of why define these *WithUser class?

[2020-05-04 11:25] maliming commented on #3807
Maybe classes like FullAuditedEntityWithUser should be removed from the framework.

@hikalkan  what do you think?

[2020-05-04 11:50] Wello86 commented on #3633
@mehmet-erim
Ok I think I am near to get it, it seems problem in Identity Servery configuration. When I ran "DbMigrator" from VS to affect on server DB, this problems happens however when I run "DbMigrator" on identity server locally on my machine it is working!!. Do u know what is the difference?

[2020-05-04 12:07] mbaddi opened #3824 "Search in document in https://docs.abp.io/ not work"

[2020-05-04 12:13] liangshiw commented on #3824
Will be fixed in version 2.7.

[2020-05-04 12:44] maliming commented on #478
https://github.com/abpframework/abp/pull/2901

[2020-05-04 12:44] #478 closed

[2020-05-04 12:44] #3824 closed

[2020-05-04 12:45] liangshiw commented on #476
https://github.com/abpframework/abp/pull/3641

[2020-05-04 12:45] #476 closed

[2020-05-04 13:24] maliming commented on #3633
DbMigrator project has appsettings.json, which contains connection string and IdentityServer configuration, which applies migrations and also seed the initial data. It is useful on development as well as on production environment.

[2020-05-04 13:35] Wello86 commented on #3633
@maliming  Yes when I am using it on Development from VS, it works perfectly but when I run its exe on Production, this problem happens!. So now to summarize password is 100% correct and login form is passed and homepage is viewed but IsAuthenticated = false and actually no sign-in happened!. Any suggestions?

[2020-05-04 13:42] Wello86 commented on #3633
@maliming  0K, may be u r right. What is "RootUrl", it has port no that is different than API or Angular. What is also "Test_Web"
"IdentityServer": {
    "Clients": {
      "Test_Web": {
        "ClientId": "Test_Web",
        "RootUrl": "https://localhost:44323"
      },
      "Test_App": {
        "ClientId": "Test_App",
      }
    }
  }

I think may be this config is the problem.

[2020-05-04 14:08] #3309 closed

[2020-05-04 14:54] #3149 closed

[2020-05-04 15:29] #3819 closed

[2020-05-04 15:31] mehmet-erim opened #3825 "Reset the states when the tenant is changed"

[2020-05-04 21:39] #3790 closed

[2020-05-05 00:03] hikalkan opened #3826 "Document text templating"

[2020-05-05 00:06] hikalkan opened #3827 "Add Payment module to the commercial.abp.io/modules"
- [ ] Add to https://commercial.abp.io/modules
- [ ] Add to https://docs.abp.io/en/commercial/latest/modules/index

[2020-05-05 00:07] hikalkan commented on #3827
sorry, wrong place :(

[2020-05-05 00:46] maliming commented on #3633
It is the root url of the Identity Server Client. It will participate in the seed data.
You should change it based on the actual url.

https://github.com/abpframework/abp/blob/4228ce096ee3d9ab063f3a9799e9137ae82f2556/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/IdentityServer/IdentityServerDataSeedContributor.cs#L113

[2020-05-05 00:46] #3633 closed

[2020-05-05 01:43] maliming commented on #3776
@javeez What is the specific use case? Please explain in detail, thank you.

[2020-05-05 01:43] #3442 closed

[2020-05-05 05:26] #3822 closed

[2020-05-05 06:57] Znow commented on #3007
@liangshiw Which I am already using based on previos replies......

[2020-05-05 07:43] wjkhappy14 opened #3828 "IdentityServer module IdentityServer4 version"
<PackageReference Include="IdentityServer4" Version="**3.0.2**" />
  <PackageReference Include="IdentityServer4.AspNetIdentity" Version="**3.0.2**" />

dotnet add package IdentityServer4 --version **3.1.3**

when will upgrade **IdentityServer4   3.0.2 to 3.1.3** or lts version？

[2020-05-05 07:46] liangshiw commented on #3007
Hi @Znow
I can't reproduce this problem. Can you use cli to create a simple project to reproduce this problem?

[2020-05-05 07:55] Znow commented on #3007
@liangshiw Yes I will have a look at it asap

[2020-05-05 10:53] liangshiw commented on #255
Related: https://github.com/abpframework/abp/issues/3740

[2020-05-05 13:31] hikalkan opened #3829 "Allow to dynamically select different files for the virtual file provider"
For example, we may need to show different logo based on the current tenant.

Currently, Virtual File System works like that:

* Uses `IDynamicFileProvider` as the first source. While its name is dynamic, it doesn't dynamically select the file. Instead, it allows to add/remove files on runtime.
* Uses physical files as the second source.
* Uses embedded/virtual files as the 3rd source.

We can cre

[2020-05-05 13:58] hikalkan opened #3830 "Blog post are not shown well on mobile"
see https://twitter.com/michaelsudnik/status/1257623926563315714

[2020-05-05 14:28] armgnunlu commented on #3830
https://github.com/volosoft/volo/issues/2042
Resolved

[2020-05-05 14:29] #3830 closed

[2020-05-05 15:35] LuisPignataro opened #3832 "ES-MX translation needs updating"
Some entries are missing from the file. One might consider keeping only one es.json file for Spanish.

https://github.com/abpframework/abp/blob/0fa5346e7f2a2e154b69aa9739ab52b5ef73f16b/modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/Resources/es-mx.json#L4

[2020-05-05 15:37] gterdem opened #3833 "Consider changing authentication flow for client side apps (Angular/React)"
Currently, angular app uses **RO** flow which has its own login page and accessing to resources via jwt signed by IdentityServer.
Loging in to angular apps doesn't sign in the user to identityServer hence user can not logout aswell.

We should consider changing the flow to **implicit**, letting identityserver handle the sign-in and sign-out process as it does for MVC apps.

Comparing to mvc apps (

[2020-05-05 17:06] ChangYinShung opened #3835 "Localization - add Localize Emailing resource for zh-hant"
add Emailing  resource
PR https://github.com/abpframework/abp/pull/3834
[code]

[2020-05-05 17:12] Stirda commented on #3429
I added this in my WebModule:

[code]

and call it with:

[code]

But `services.ReplaceConfiguration` is never hit. Why ?

[2020-05-05 17:19] Stirda opened #3836 "The "How to Use the Azure Active Directory Authentication" does not mention AzureAd:ClientSecret"
I followed https://github.com/abpframework/abp/blob/1e5f9111fde5bb7750ffdd53b11dbaef9207f3b7/docs/en/How-To/Azure-Active-Directory-Authentication-MVC.md but it is never mentionned that you need to give `options.ClientSecret` a value in order to succeed. It may be tough to find that this is what you have to add, because some web articles send you to another hypothesis (Azure AD App Registration con

[2020-05-05 17:20] Stirda commented on #3836
Was here some time but removed here : https://github.com/abpframework/abp/commit/a3e990e33585f234cbafed9e071db2cff8ee4fdd

[2020-05-05 17:22] Znow commented on #3836
@Stirda Please see my repo for an workjing example application with Azure AD: https://github.com/Znow/AbpAzureAdLogin

[2020-05-05 23:08] #3796 closed

[2020-05-05 23:15] #2939 closed

[2020-05-05 23:57] hikalkan opened #3837 "Singleton & scoped services exposing multiple services should return the same instance"
Currently, if you expose multiple services, like `IMyFirstService`, `IMySecondService` and `MyClass`, from a `MyClass` class (which is registered as singleton), then you resolve/inject the the same service with different references, you get different instances.

If you always resolve with `IMyFirstService` you always get the same object. However, when you resolve with `IMySecondService` then you g

[2020-05-05 23:57] hikalkan commented on #3777
OK, I will implement this, you are right

follow https://github.com/abpframework/abp/issues/3837

[2020-05-05 23:57] #3777 closed

[2020-05-06 01:40] #3837 closed

[2020-05-06 02:19] Trojaner opened #3838 "EF Core Read/Write Separation"
Hello,
I am currently working on a project which will use a PostgreSQL cluster.

There will be a primary node which will be used for read/write operations and many standby nodes for faster read-only operations. This means I will have to use different connection strings based on my query type.

While searching on how this could be done with .NET I came across this EF Core issue: https://github.com/

[2020-05-06 03:34] carlsonsoft commented on #811
I'm new to learning k8s, I ran the script on win10 and service started normally. However, there is a problem with DNS_PROBE_FINISHED_NXDOMAIN when I log in to the auth-server on the website.
What's the reason for this?
Very much looking forward to your answers.
Environment:
![image](https://user-images.githubusercontent.com/17350481/81136076-11cc8c00-8f8d-11ea-8510-a55e30473865.png)
![image](https

[2020-05-06 05:24] liangshiw commented on #1609
Hi @vnetonline,
Are you still working for this? If not, I can create this module.

[2020-05-06 05:42] liangshiw commented on #3838
ABP provides the `IReadOnlyRepository` interface,but it only removes the `insert`, `delete` and `update` methods.

Just suggest :

You can customize the implementation of `IReadOnlyRepository` interface and use a read-only database server connection string.

[2020-05-06 07:15] #3813 closed

[2020-05-06 07:24] NecatiMeral commented on #3429
You have to replace the configuration when adding / creating the main application module depending on your kind of application initialization:

**A: When using `AbpApplicationFactory`:**
[code]

**B: When using `AddApplication`:**
[code]

[2020-05-06 09:45] #3823 closed

[2020-05-06 09:49] Znow opened #3839 "Navigation property 'Claims' on entity of type 'IdentityUser' cannot be loaded because the entity is not being tracked. Navigation properties can only be loaded for tracked entities."
Hi

Encountering this issue several times, locally and when deployed.

I cannot access the page when this occurs.

My project is with Azure AD authentication implementation.

A quick hack to surpass this exception in development, is to clear cookies - but this is not a solution.

[code]

Found related closed issue: https://github.com/abpframework/abp/issues/1412

Found a related issue for the old

[2020-05-06 11:07] liangshiw commented on #3839
Can you provide steps to reproduce?

[2020-05-06 11:15] Stirda commented on #3836
By following ABP tutorial and adding `options.ClientSecret`, all already work great. Thank you.

[2020-05-06 11:18] Stirda commented on #3429
@NecatiMeral I encountered infinite loops when I attempting to use your solution. Certainly my fault. I ended up by using ASP.NET Core User Secrets, which is already implemented by ABP template, and suiting perfectly my needs. Thanks.

[2020-05-06 11:20] Stirda commented on #3808
By converting this private attribute to `protected` I don't see breaking changes. Even by adding a constructor.

[2020-05-06 11:39] atakanozceviz commented on #811
@carlsonsoft please add this line to the end of your [hosts](https://en.wikipedia.org/wiki/Hosts_(file)) file:

[code]

[2020-05-06 13:18] liangshiw opened #3842 "Microservices example product host module should depend on the tenant management module"
Since the product module class does not depend on the **tenant management module**, when the tenant **persistence to the database**, the module database using the tenant isolation always throws an exception:  **Volo.Abp.BusinessException: Tenant not found!**

![image](https://user-images.githubusercontent.com/16813853/81180170-36e8eb00-8fdd-11ea-8302-680d26e45ba4.png)

We should add `AbpTenantMana

[2020-05-06 14:26] Wello86 commented on #3633
Hi @maliming,
https://localhost:44311/api/abp/application-configuration
Is the code of this API open source so that I can review to know why isAuthenticated is false ?

[2020-05-06 15:08] kbowma opened #3844 "How to Specify Database Schema for Modules"
I have a requirement to use database schema for all tables (not dbo.). I have tried to use the following in `<my app>DbContext.cs` with no luck:
[code]
What do I need to do to implement schemas for all tables in the database?

[2020-05-06 15:19] liangshiw commented on #3844
See https://github.com/abpframework/abp/blob/10313cf02c04b9b813fcd2d25913e80198b54733/framework/src/Volo.Abp.Data/Volo/Abp/Data/AbpCommonDbProperties.cs

[2020-05-06 15:19] #3844 closed

[2020-05-06 15:26] kbowma commented on #3844
Thank you for the quick response. I saw this but my requirement specifies that schemas are based on module (area of app), and therefore, all the Abp tables will not have the same schema. I need to be able to specify at the table level its schema.

[2020-05-06 15:33] liangshiw commented on #3844
Each module has DbProperties class, like :

https://github.com/abpframework/abp/blob/10313cf02c/modules/feature-management/src/Volo.Abp.FeatureManagement.Domain/Volo/Abp/FeatureManagement/FeatureManagementDbProperties.cs

You can set prefixes like:

`FeatureManagementDbProperties.DbTablePrefix = "MyPrefix";`

[2020-05-07 00:21] shikelong opened #3845 "Can I get ClientId in LoginView?"
I want to render differenct view for per client. So I want to detect ClientId in login view to show different component. Can I get ClientId without customize loginModel?

Thanks.

[2020-05-07 00:40] liangshiw commented on #3845
Can't, You should customize loginModel.

[2020-05-07 00:40] #3845 closed

[2020-05-07 01:37] #3842 closed

[2020-05-07 01:41] hikalkan commented on #255
I am closing this since VFS is much more powerful.

[2020-05-07 01:41] #255 closed

[2020-05-07 01:56] #2804 closed

[2020-05-07 02:03] #3740 closed

[2020-05-07 02:09] #3774 closed

[2020-05-07 02:16] #3727 closed

[2020-05-07 02:16] #3739 closed

[2020-05-07 02:28] liangshiw commented on #3740
@hikalkan
Why close ?

When we integrate some UI libraries like : https://github.com/elsa-workflows/elsa-core#workflow-designer, the application cannot get static resources during development.

[2020-05-07 02:57] xyfy commented on #1698
I am looking for some sample codes using abp  for the topic about how a SaaS module used another module.

where can I get it .

[2020-05-07 03:01] hikalkan commented on #3740
I already implemented your solution.

[2020-05-07 03:04] liangshiw commented on #3740
ok  : ) .

[2020-05-07 05:36] aklscv opened #3848 "Make Auto API Controllers return 401 same as other endpoints."
I created a new project using the latest version of the CLI 2.6.2 using `--ui none` and I noticed that when I added the [Authorize] attribute to a CustomAppService and used swagger to call it, swagger returns the HTML of the login page. While searching for a solution I found #1670 and #2643

My understanding is that I will have to create a controller for every single application service that requi

[2020-05-07 07:07] 1259724620 opened #3849 "can't mapper using objectMapper"
[code]

[2020-05-07 07:12] liangshiw commented on #3849
Can you explain in detail?

[2020-05-07 07:26] NecatiMeral commented on #3849
Your `ApplicationServiceModule` requires `[DependsOn(typeof(AbpAutoMapperModule))]`

[2020-05-07 07:48] #3718 closed

[2020-05-07 07:58] 1259724620 commented on #3849
ApplicationServiceModule has [DependsOn(typeof(AbpAutoMapperModule))],as below:
[DependsOn(typeof(ApplicationContractModule))]
    [DependsOn(typeof(EntityFrameCoreModule))]
    [DependsOn(typeof(AbpAutoMapperModule))]
    [DependsOn(typeof(CommonModule))]
    public class ApplicationServiceModule:AbpModule
    {
        public override void ConfigureServices(ServiceConfigurationContext context)

[2020-05-07 08:01] 1259724620 commented on #3849
I configure by official documation,but mapper throw exception as bellow:
Value cannot be null. (Parameter 'provider')
   at Microsoft.Extensions.DependencyInjection.ServiceProviderServiceExtensions.GetRequiredService(IServiceProvider provider, Type serviceType)
   at Volo.Abp.Application.Services.ApplicationService.LazyGetRequiredService[TRef](Type serviceType, TRef& reference)
   at Volo.Abp.Appl

[2020-05-07 08:36] liangshiw commented on #3849
Please use cli to create simple project to reproduce this problem.

[2020-05-07 09:17] #3717 closed

[2020-05-07 09:46] 1259724620 commented on #3849
I create project by Manual，er....

[2020-05-07 10:17] shikelong opened #3852 "How to make data annotation message international?"
Hi, I am using abp's account model in japanese.
I know abp provider localization message in `/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/`

But there are no ja /ja-JP json. Can I extend japanese to Abp's Localization resource or completely assign my message by overider the login model just like this?

[code]

[2020-05-07 10:17] leonkosak commented on #3630
Based on https://github.com/RicoSuter/NSwag/issues/1398#issuecomment-555507846 response from Nov '19 for multiple file feature output (which is still not "published"), what advanteges will your custom proxy-gen have compared to nswag?

I tried generate proxy with abp v2.6.2 (monolithic app), and generated output was catastrophic. A lot of errors. If I resolve these issues manually, then the "updat

[2020-05-07 10:21] Znow commented on #2815
@gterdem I have deployed the app to Azure, and cannot get it to work. It throws a HTTP 500.

I deployed the test repository I created, which you forked and created PR for.

![image](https://user-images.githubusercontent.com/265719/81283415-e022f600-905c-11ea-94ea-8da33b536bee.png)

[code]

[2020-05-07 10:28] liangshiw commented on #3852
Hi shikelong,

Here is validation localization files
https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization.

You can [extending existing resource](https://docs.abp.io/en/abp/latest/Localization#extending-existing-resource) .  But if you want you can contribute Japanese localization files : )

[2020-05-07 10:29] #3852 closed

[2020-05-07 11:58] #3849 closed

[2020-05-07 15:54] hikalkan opened #3854 "Investigate if redis cache supports local caching & synchronization"
For the values rarely changed but frequently read, it would be better to keep a copy in the memory to reduce cache read time when we use the redis cache.

I suppose redis has such a feature. We should investigate it and look for how to adapt to the framework.

[2020-05-07 16:02] erolarkat opened #3855 "generate-proxy improvements"
- [x] app directory creating log text
- [x] import new line
- [x] guid models remove

[2020-05-07 16:15] hikalkan opened #3856 "Consider to minify js/css on the default gulp task for the MVC UI"
ABP framework has a bundling & minification system. It tries to find already minified file before trying to minify it. If the file is `myfile.js` it looks for the `myfile.min.js` in the same folder.

So, if we minify js/css files on the gulp task, runtime bundling & minification would be faster. Also, sometimes we get runtime minification errors. Getting such errors on development time would be be

[2020-05-07 16:17] hikalkan opened #3857 "Allow to ignore files/folders on libs folder cleanup on the MVC UI gulp task"
This allows us to be able to manually put some files under the libs folder and the gulp task doesn't delete them.

[2020-05-07 16:23] hieutns96 opened #3858 "How to get actionName in AbpInterceptor"
Hi,

I'm facing a problem when implementing a custom Interceptor. When I Intercept from a AbpController I want to get the ActionName but I only got the ActionExcutedFilter name example "OnActionExcuted" instead of my ActionName. How can I get the ActionName on this case?

Many thanks

[2020-05-07 16:34] hikalkan opened #3859 "Consider to separate background tasks to another application for tiered startup solutions"
For tiered solutions, there will be two applications at least. In this case, we may consider to create another application (a console app?) that executes the background jobs and disable job execution for other applications.

[2020-05-07 18:44] hikalkan commented on #3826
duplicate of #3806

[2020-05-07 18:44] #3826 closed

[2020-05-07 19:33] olicooper opened #3860 "Blog broken"
Just tried to view the most recent blog post and I get a 500 error... https://blog.abp.io/abp/ABP-Framework-v2_3_0-Has-Been-Released

[2020-05-07 19:54] ismcagdas opened #3861 "@abp/prismjs missing dependency to @abp/clipboard"
Currently PrismjsScriptBundleContributor.cs depends on ClipboardScriptBundleContributor but same dependecy is not defined for NPM package.

As a temporary workaround, adding `@abp/clipboard` package to solution can fix this problem

[2020-05-07 19:58] olicooper opened #3862 "[docs] Creation of a deployment guide?"
Deploying Abp to a production environment has additional steps beyond deploying a basic AspNetCore application. For example, the multi-tenancy documentation specifies adding [additional headers for nginx](https://docs.abp.io/en/abp/latest/Multi-Tenancy#determining-current-tenant-from-web-request), which isn't specified in [Microsoft's deployment guide](https://docs.microsoft.com/en-us/aspnet/core/

[2020-05-07 21:41] gterdem commented on #2815
@Znow hello,

Can you create a new issue explaining with reproduce steps.

Thanks.

[2020-05-07 21:52] luisp88 commented on #3815
I had to allocate more memory to Docker, after that (and long time waiting) it finished successfully

[2020-05-07 21:52] #3815 closed

[2020-05-07 22:01] erojasd opened #3863 "activate location when I use data annotation"
Hello,

I am working with Data Annotations"for validations in the dto. Based on what I read in the documentation, abp automatically validates and sends the location-based message, but this doesn't work for me.
I checked if the localization files are in the abp project, it is Spanish to check if they actually existed and it was so.
What do I have to do to activate the translations in Data annotatio

[2020-05-07 22:06] gterdem commented on #3836
@Stirda Hello,
You are right it has been removed since it is related with user's preference of using AzureAD certificate.

Actually it is out of framework's boundry and i didn't want to bother users with certifacates and secrets since its all about AzureAD.

As a matter of fact, only difference between AzureAD integration with a .net core app and abp application is; requesting extra scope and sett

[2020-05-07 22:51] tntwist opened #3864 "EntityHistory: Get entity instance/revision for specific date"
Hi,

is there a functionality to retrieve an instance/revision of an audited entity for a specific datetime?

Something like:

[code]

I know there are EntityChangeInfos and EntityPropertyChangeInfos from the AuditingModule.
I could build these revisions from this Infos but I´m curious if there is an existing solution. If not it could be a cool feature for the framework.

I would like to help impl

[2020-05-08 00:20] shikelong commented on #3852
Thank you!

[2020-05-08 00:28] cotur commented on #3864
Hi @tntwist,

There is no functionality for this. You should code it yourself. 😄 It may be good feature for framework too, we should discuss it. 👍

[2020-05-08 01:47] liangshiw commented on #3858
Use `IAsyncActionFilter` instead of `AbpInterceptor `.

[2020-05-08 01:47] #3858 closed

[2020-05-08 02:09] xyfy commented on #2389
May you share the code? I wan't to do this like you~~

[2020-05-08 02:41] volethanh commented on #3862
I also stuck in cannot login with identityserver and till now it cannot be resolved although it 's posted to Support forums :(

[2020-05-08 02:45] SmallShrimp opened #3865 "Cannot find module '@volo/abp.ng.text-template-management'"
***abp version:2.7.0***
***Steps 1***
1. Create a new project:`abp new ProName -t app --ui angular`
2. run angular pro
[code]
***Error 1***
[code]
![image](https://user-images.githubusercontent.com/8120385/81364739-0017ef80-9119-11ea-9ec2-c38b261c5cc8.png)

***Steps 2***
1. Create a new project:`abp new ProName -t app-pro --ui angular`
2. run angular pro
[code]
***Error 2***
[code]
![image](https:

[2020-05-08 03:02] ninomartini commented on #3865
I resolved the same issue by adding the missing package.

`yarn add @volo/abp.ng.text-template-management --tilde`

[2020-05-08 03:10] SmallShrimp commented on #3865
Thank you for your reply @ninomartini .
I executed the command `yarn add @volo/abp.ng.text-template-management --tilde`  , then i get the error info:
`ERROR in TypeError: Cannot read property 'flags' of undefined`.

[2020-05-08 04:52] leonkosak commented on #3865
@SmallShrimp, You'll have to wait till v2.7.1, because I had the same issue not too long ago.
Probably they forgot publish some packages (dependencies).

[2020-05-08 05:02] aklscv commented on #3863
Try upgrading to ABP 2.7. I had the problem and it went away after the upgrade.

[2020-05-08 05:47] SmallShrimp commented on #3865
thanks

[2020-05-08 06:50] ManiSJ opened #3866 "How to implement paging in client side angular UI so that first 10 items in page1, next 10items in page2 of the BookStore Sample App."

[2020-05-08 07:02] liangshiw opened #3867 "Dynamic-CSharp-API-Clients document has wrong content"
https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients#client-proxy-generation

Should be `BookStoreApplicationContractsModule`

![image](https://user-images.githubusercontent.com/16813853/81379994-ae815c00-913c-11ea-9598-6cffd721e519.png)

`remoteServiceName` should change to `remoteServiceConfigurationName` ..

[2020-05-08 07:09] GerryGe opened #3868 "Cli error"
[code]
[14:37:15 INF] Downloading template: app, version: 2.7.0
Error occured while downloading source-code from https://abp.io/api/download/template/ : Error while copying content to a stream.
[14:41:02 ERR] Error while copying content to a stream.
System.Net.Http.HttpRequestException: Error while copying content to a stream.
 ---> System.IO.IOException: The response ended prematurely.
   at Syst

[2020-05-08 07:12] GerryGe commented on #631
Any idea when theming doc will be available?

[2020-05-08 07:17] liangshiw commented on #3868
Make sure your internet connection is working.

![image](https://user-images.githubusercontent.com/16813853/81381205-dc67a000-913e-11ea-8587-acd7528bdabf.png)

[2020-05-08 07:17] #3868 closed

[2020-05-08 07:47] atak946 opened #3870 "MissingMethodException Error After Update To 2.7"
Hi everyone,

I started getting this error after upgrading the packages to 2.7 via nuget

[code]

how i resolve this problem?

I understand not to encounter this problem in an empty, new project, but my current active project is not working.

**The problem is solved when the version is reduced to 2.5.
but what do I have to do to use version 2.7?**

[2020-05-08 07:50] mlwxxx commented on #3865
I had the same issue too

[2020-05-08 07:52] mlwxxx commented on #3865
I got the same error message!!!

[2020-05-08 07:54] Stirda commented on #3836
I think this was:

Note that many articles, like [this one](https://blogs.aaddevsup.xyz/2019/08/receiving-error-aadsts7000218-the-request-body-must-contain-the-following-parameter-client_assertion-or-client_secret/), make you believe that your Azure application registration is wrong. This is what made me lose some time.

[2020-05-08 08:14] Stirda commented on #3808
I finally found a solution neither modifying `Volo.Abp.Application.Services.ApplicationService` nor the template. I found that I can mock the `ServiceProvider` property:

[code]

Now I get clean application services unit testing 👍 And fast.

[2020-05-08 08:31] liangshiw commented on #3870
I created a new project for version 2.5.0 and upgraded to 2.7.0 ,but i can't reproduce the problem.
Can you provide steps to problem?

[2020-05-08 09:08] #3808 closed

[2020-05-08 09:24] xyfy opened #3871 "[question]how to add api to Package References Module"
I am using the `Volo.Abp.Identity` Module with  Package References

There are a few interfaces provided by him. I want to add some by myself

I do some thing like below

[code]

but it can not works.

is there anyway to reuse this  api Controller  `IdentityUserController`?

[2020-05-08 09:50] gterdem commented on #3836
@Stirda Ok, now i figured it out. You requested code (authorization code) with id_token. That's why you are required to have client_secret or client_assertion.

So your `options.ResponseType` is not `OpenIdConnectResponseType.IdToken` but something like `OpenIdConnectResponseType.CodeIdToken` right?

Now it is all about OpenId specs and how openid providers (like AzureAd) implement it. It is hard

[2020-05-08 09:57] gterdem opened #3872 "How to Guide: AzureAD integration details enhancement"
There are some cases that are not covered on documentations (like #3836). Need to cover more errors users come across when trying to integrate AzureAD even if it is out of framework boundries.

This may also shed light on future other idp integration documentations.

[2020-05-08 10:15] atak946 commented on #3870
Step 1- open nuget,
Step 2- select volo.abp packages
Step 3- upgrade to 2.7.0
Step 4- Presss F5

what is the difference ?

[2020-05-08 10:17] liangshiw commented on #3870
It works fine for me.

[2020-05-08 10:52] atak946 commented on #3870
Create new project with cli and use version 2.0.1.

press f5 and check it, all them it works.

upgrade to 2.7.0 and re run.

[2020-05-08 11:38] BlackNinja1903 opened #3874 "Angular UI How to add new column to user list"
I extended current AppUser Entity with a property in my project by following related abp document(https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities) .
But I don't know how to show this column in core user module. Is there a way to do this without replace the core user component?

![image](https://user-images.githubusercontent.com/17542728/81401833-cfe04900-9138-1

[2020-05-08 13:27] liangshiw commented on #3870
Can you use CLI to create a simple project to reproduce the problem?

![image](https://user-images.githubusercontent.com/16813853/81409867-785ecf00-9172-11ea-8a05-8ce44b6e061d.png)

[2020-05-08 13:39] hikalkan opened #3875 "Link underline problem with the blog module"
![image](https://user-images.githubusercontent.com/1210527/81410999-57828380-914a-11ea-8f16-793bc10e30a3.png)

"payment module" text is a link. I suppose it is not underlined because it is inside a list. All links in a blog post must be underlined.

[2020-05-08 13:47] cotur commented on #3870
Hi @atak946,

Can you try to update your project via abp cli (we don't suggest to update ABP versions with NuGet),

First download or update the abp cli.
`dotnet tool install -g Volo.Abp.Cli`
`dotnet tool update -g Volo.Abp.Cli`

Open your `sln` folder in command prompt then just write `abp update`. It will update all abp related packages in your whole project to new version. It takes a while. Whe

[2020-05-08 14:01] atak946 commented on #3870
@liangshiw @cotur

this way resolved my issue,

nuget packages can't upgrade solution.. best solution is cli -> abp update

thank you for help.

[2020-05-08 14:01] #3870 closed

[2020-05-08 14:26] vd3d opened #3876 "How to add additional filters to PagedResultDto/PagedAndSortedResultRequestDto ?"
Hi,

Today, we can use PagedAndSortedResultRequestDto/PagedResultDto to get a list of entities.

It is fine, but how can I add additional conditions/filters ?

By example, in the CrudAppService I can have such method "GetListAsync", but I'm looking for filtering based on geolocation, or name, or datetime etc ?

Is it possible today ? (Without retreiving everything and then filtering, I have millio

[2020-05-08 14:28] AkinSabriCam commented on #3865
you need to fallow this steps.
Need to fallow this steps

**1**. Add this into package.json:

**2**. Delete yarn.lock or package-lock.json

**3**.  run `yarn` command in terminal

[2020-05-08 14:28] Goxiaoy commented on #2389
@xyfy Try these following steps:

1. override your dbcontext `OnModelCreating` to make sure the email is not required in db level
[code]

2. replace the default `IdentityUserStore`. (Usually in your Domain module)

[code]

[code]

[2020-05-08 14:39] liangshiw commented on #3876
You can create a new class that inherits from `PagedAndSortedResultRequestDto` , and override `CreateFilteredQuery` method.

[2020-05-08 15:18] #3865 closed

[2020-05-08 15:41] rigocl opened #3878 "Lepton Theme: Some Variables are not easily editable without swapping the whole Application Layout"
Footer: Copyright Start year
Top left Logo: alt tag = MyProjectName

[2020-05-08 19:50] erojasd opened #3879 "ignore null attributes in api response"
Hello

It is possible to configure a dto object so that the api does not send null attributes in the response.

[2020-05-08 20:26] hikalkan commented on #2747
I am working on this. The idea is simply create a `Volo.Abp.AspNetCore.SignalR` package that adds SignalR to the AspNet Core middlewares by default.

[2020-05-08 20:55] cotur commented on #3879
Hi @erojasd,

You cannot configure a dynamic DTO to suppress the null properties. It is not related with ABP.

Here is my suggestion:

You can return a json string by change some options in `JsonSerializerSettings`. Please look at: https://www.newtonsoft.com/json/help/html/NullValueHandlingIgnore.htm

[2020-05-08 20:55] #3879 closed

[2020-05-08 21:06] #3876 closed

[2020-05-08 22:03] hikalkan opened #3880 "Obsolete app.UseMvcWithDefaultRouteAndArea() and introduce app.UseConfiguredEndpoints()"
### The Change

Currently, we have a `app.UseMvcWithDefaultRouteAndArea()` extension method which maps controllers and razor pages. Final applications call it at the end of the aspnet core middleware configuration.

However, in some cases, a module also may need to configure endpoints.

So, I marked `app.UseMvcWithDefaultRouteAndArea()` as obsolete and introduced `app.UseConfiguredEndpoints()` met

[2020-05-08 22:08] #3880 closed

[2020-05-08 22:15] hikalkan commented on #3878
Please write ABP Commercial related questions to the https://support.abp.io/
This repo is for the open source ABP Framework.
Thanks for your understanding.

[2020-05-08 22:15] #3878 closed

[2020-05-08 22:56] muharihar opened #3881 "Application Development Tutorial using Visual Studio for Mac"
Hi Team,

Got an awesome Application Development Tutorial using Visual Studio for Windows!
[code]

Any roadmap for Application Development Tutorial using Visual Studio for Mac?
I think it's would be attracting a  huge Mac Developer Community to using ABP!

Thank you so much!

[2020-05-09 01:45] souselesslove opened #3882 "The property 'AppUser.ExtraProperties' could not be mapped"
I have a class named AAA:
[code]
then
[code]
when i use "add-migration test"

But I create another class named BBB, and also inherit from "FullAuditedAggregateRoot<Guid>"
[code]
then config
[code]
it works...

@hikalkan , can you help me?

[2020-05-09 06:40] csr2 opened #3883 "Completely Overriding a Razor Page"
Completely Overriding a Razor Page ,in the test environment, but not after the release

[2020-05-09 06:55] csr2 commented on #3883
![LOGO](https://user-images.githubusercontent.com/12671474/81466532-0e433a00-9205-11ea-93a6-01dc969a1320.png)

[2020-05-09 07:25] liangshiw commented on #3883
See https://github.com/abpframework/abp/issues/3766

[2020-05-09 07:25] #3883 closed

[2020-05-09 07:35] qiang999 opened #3884 "oidc was forbidden because change IdentityServer PublicOrigin?"
I change IdentityServer PublicOrigin in AuthServerHostModule.
![image](https://user-images.githubusercontent.com/15817336/81467208-c1159700-9209-11ea-84f1-afef1bf74749.png)
login is ok!
![image](https://user-images.githubusercontent.com/15817336/81467257-24320a00-91c7-11ea-9bed-8d518843031b.png)
But redirect is error!
![image](https://user-images.githubusercontent.com/15817336/81467305-63f8f180-91

[2020-05-09 10:42] liangshiw commented on #3882
Duplicate of  https://github.com/abpframework/abp/issues/1414

[2020-05-09 10:42] #3882 closed

[2020-05-09 10:59] leonkosak opened #3885 "EF Core (3.1) Spatial Data issue for Postgres 12.2"
I don-' know if this is EF Core-related issue or has to do something with abp.

I have dockerized Postgres 12.2 with PostGis (v3.0.1): https://registry.hub.docker.com/r/postgis/postgis/

The desired database also has "assigned" Postgis extension, so no problem here.

abp v2.6.2 (with EF Core 3.1) I have table with "Point" data type (NetTopologySuite).

I followed:

https://docs.microsoft.com/en-us

[2020-05-09 11:18] liangshiw commented on #3885
Does it work fine if you directly use aspnet core application?

[2020-05-09 14:50] mgochmuradov opened #3886 "route url is set to '/' when patching route without providing path"
route `url` is set to '/' when patching route without providing `path`
[code]

I think the problem is at `config.state.ts`
[code]

[2020-05-09 17:26] tntwist commented on #3864
@cotur Thanks for the fast reply.

I think the core idea should be that this entity revisions are generated on demand from the entity change infos and entity property change infos. Storing this revisions in the database seems a bit over, since we have the change infos already stored. What do you think about this?

I assume that the creation/generation of the revisions is then relatively "expensive

[2020-05-09 19:30] zaktecs opened #3887 "Login Error"
I started getting the following error after migrating version 2.7 when I try to login
thanks
An unhandled exception occurred while processing the request.
AbpException: Could not find the bundle file '/libs/abp/utils/abp-utils.umd.min.js' from IWebContentFileProvider
Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsync(TagHelperContext context, TagHelperOutput ou

[2020-05-09 19:35] zaktecs opened #3888 "Data Seeding for Host Tenant Missing"
Hi,

I have just followed the process here

https://docs.abp.io/en/abp/latest/Getting-Started?UI=MVC&DB=EF&Tiered=No

to create a new project but it failed to create the host tenant, hence when I try to run it gives a missing tenant error message

Kind Regards,
Zak

[2020-05-10 01:22] guotao0609 opened #3889 "abp update error"
Stay still “Checking installed npm global packages..”

[2020-05-10 02:54] liangshiw commented on #3887
Please use CLI`update` command to update version.
If you still have this problem, you can copy the files to your project. See https://github.com/abpframework/abp/tree/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/wwwroot/libs

[2020-05-10 02:54] #3887 closed

[2020-05-10 03:02] liangshiw commented on #3888
Please show the error message.

[2020-05-10 03:11] souselesslove commented on #3882
It's not same question.

[2020-05-10 03:44] liangshiw commented on #3882
Try https://github.com/abpframework/abp/issues/1414#issuecomment-507395552 or https://github.com/abpframework/abp/issues/1414#issuecomment-508818941

[2020-05-10 04:57] #3867 closed

[2020-05-10 09:42] tntwist commented on #3864
For getting the entity changes we could use the AuditLogRepository: modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/IAuditLogRepository.cs

This method returns all entity changes for an entity: https://github.com/abpframework/abp/blob/2a0cad46ff1a8f179cb4268ca86ad610cc497ab6/modules/audit-logging/src/Volo.Abp.AuditLogging.Domain/Volo/Abp/AuditLogging/IAuditLogRepositor

[2020-05-10 13:00] #3007 closed

[2020-05-10 13:27] maliming commented on #3633
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfigurationController.cs#L8

[2020-05-10 19:00] leonkosak commented on #3885
@liangshiw, Yes. I created basic .NET Core 3.1 console app with EF Core 3.1.3 and followed documentation on links in my first post.
I tun migration (Update-Database) on new database (with "assigned" postgis extensions).
Everything went perfectly without any warnings or issues.

I would really like to use this functionality if possible.
Thank you.

[2020-05-10 21:04] hikalkan commented on #3885
I tried. I did all but stuck with the portgresql installation (I am not postgresql expert). You can probably handle it.

I prepared a sample project: https://github.com/abpframework/abp-samples/tree/master/PostgeSqlDemo

Important points:

* Install `Npgsql.EntityFrameworkCore.PostgreSQL.NetTopologySuite` package to your domain layer in order to use the `Point` and `Geometry` types.
* Map your ent

[2020-05-10 21:09] hikalkan commented on #3864
I think such a feature is not easy to implement because entity type can be change during the history and re-constructing the current entity type with a historical data may be hard or impossible.

Instead of mapping, a JSON/Dictionary style object can be generated, but it will be just to show somewhere.

We can take this as a feature request, but with low priority to work on. I suggest you to imple

[2020-05-10 21:12] hikalkan commented on #3889
What's your previos version?

[2020-05-10 21:20] hikalkan commented on #3881
Thank you @muharihar for your suggestion. Is it really much different? Can't you follow the tutorial while using VS for Mac? What are the main differences you see? I am asking since I'm not VS for Mac user and I try to understand if it is really different.

[2020-05-10 21:26] hikalkan commented on #3874
This feature is currently available for the [ABP Commercial](https://commercial.abp.io/) (see https://docs.abp.io/en/commercial/latest/guides/module-entity-extensions).

We will consider to bring it to the ABP Framework modules too in the next versions.

[2020-05-10 21:26] #3874 closed

[2020-05-10 21:28] #3872 closed

[2020-05-10 21:28] #3836 closed

[2020-05-10 21:31] hikalkan commented on #3871
AppUserController can not replace both IIdentityUserAppService and IdentityUserController. If you do that, it injects itself by `IIdentityUserAppService userAppService` injection.

Replace them independently. See:

* https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-an-application-service
* https://docs.abp.io/en/abp/latest/Customizing-Applica

[2020-05-10 21:31] #3871 closed

[2020-05-10 21:41] hikalkan commented on #631
Understanding theming is easy actually. See the source code https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic
to understand it. There are people understood it and created new themes: https://github.com/liangshiw/Lsw.Abp.AspNetCore.Mvc.UI.Theme.Stisla

We continue to the documentation by priority and will write this document too.

[2020-05-10 21:44] hikalkan commented on #3863
Maybe it is related to this change: https://github.com/abpframework/abp/issues/3739

Are other validation attributes correctly localized?

[2020-05-10 21:50] hikalkan opened #3890 "How to store data protection keys for Entity Framework Core"
See https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/implementation/key-storage-providers?view=aspnetcore-3.1&tabs=visual-studio#entity-framework-core

We should provide a way and document it.

This is also related to https://github.com/abpframework/abp/issues/3862

[2020-05-10 21:51] hikalkan commented on #3862
I created an issue for the EF Core: https://github.com/abpframework/abp/issues/3890

We also will consider to create deployment guides. thanks.

[2020-05-10 21:54] hikalkan commented on #3860
It has been fixed. Thank you.

[2020-05-10 21:54] #3860 closed

[2020-05-10 21:58] hikalkan opened #3891 "Blog comment counts are now shown"
Example:

![image](https://user-images.githubusercontent.com/1210527/81511488-7dfb1700-9322-11ea-893b-1011c4f9af67.png)

This post has 4 comments but shows 0 on https://blog.abp.io/abp

[2020-05-10 23:09] #3886 closed

[2020-05-10 23:10] mehmet-erim commented on #3886
Thanks for reporting @mgochmuradov

[2020-05-10 23:15] mehmet-erim commented on #3744
Hi @yinchang0626 
Which angular version is installed in your project?

[2020-05-10 23:37] hikalkan opened #3892 "move the MicroserviceDemo to the abp-samples repository"
I think it is mature enough to be able to use stable, released NuGet packages instead of local framework references. This will make it faster to run, debug and easy to deploy.

[2020-05-10 23:55] #3744 closed

[2020-05-10 23:58] hikalkan opened #3893 "Update Localization-Text-Files contribution document"
see https://docs.abp.io/en/abp/latest/Contribution/Localization-Text-Files

It may be outdated.

[2020-05-11 00:42] maliming commented on #3848
I don't think we should change this behavior.

https://github.com/abpframework/abp/issues/2643#issuecomment-574940166

[2020-05-11 00:50] maliming commented on #3884
Please check the configuration of your identity server client. This is more related to identity srever.

[2020-05-11 01:53] freeradius-xx opened #3894 "Can't access the url http://127.0.0.1:8988/Docs/Admin/Projects after publish"
Can't access the url http://127.0.0.1:8988/Docs/Admin/Projects after publish.

Below is the log message.

[16:16:16 INF] Request starting HTTP/1.1 GET http://127.0.0.1:8988/Docs/Admin/Projects
[16:16:17 ERR] Connection id "0HLVJU4I80GIM", Request id "0HLVJU4I80GIM:00000002": An unhandled exception was thrown by the application.
Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.CompilationFailedExc

[2020-05-11 01:57] maliming commented on #3894
https://stackoverflow.com/questions/9219832/error-cs1705-which-has-a-higher-version-than-referenced-assembly

[2020-05-11 02:07] xyfy commented on #3871
thank you for your answer,but i still can not make it works.

I want to add more  API into `IdentityUserController`.

Do you mean that I should re-implement the `IIdentityUserAppService` and `IdentityUserController`
independently?

or `IdentityUserAppService` and `IdentityUserController`

Is there any example code  if I want add a api called `GetListByIdAsync`  to `IdentityUserController`?

I try