[2020-11-15 19:17] Stirda commented on #5936
@hikalkan Possible duplicate of https://github.com/abpframework/abp/issues/5519 ?

[2020-11-15 21:35] Enissay commented on #3462
`/root/.nuget/packages/sourcelink.create.commandline/2.8.3/build/SourceLink.Create.CommandLine.targets(30,5): error : unable to convert OriginUrl: https://gitlab-ci-token:....`
The same issue we face when trying to build a nuget package. @yanxiaodi workaround solves the issue. I wonder if there's any premanent fix!

[2020-11-15 22:58] geffzhang commented on #5936
https://docs.microsoft.com/en-us/aspnet/core/blazor/components/prerendering-and-integration?view=aspnetcore-5.0&pivots=webassembly

[2020-11-16 00:25] mtozlu commented on #5235
If your api call has `X-Requested-With: XMLHttpRequest` header, the api will return a 401 instead of redirecting to login page.
maliming's [comment](#issuecomment-714283807) above has the explanation as to why this happens.
Nevertheless, if you are not able to add the header, here is a workaround you can use for now;
[code]

Call it in your module's (I use it in HttpApiHostModule) `ConfigureServic

[2020-11-16 00:53] maliming commented on #6204
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-11-16 00:55] maliming commented on #6205
Duplicate of #1920

[2020-11-16 00:55] #6205 closed, assigned to nobody

[2020-11-16 01:42] #6101 closed, assigned to nobody

[2020-11-16 01:43] yincen commented on #5235
Thank you. This is what I want.

[2020-11-16 02:44] maliming commented on #5235
hi @mtozlu

For Angular you can try to configure the `DefaultAuthenticateScheme `  and `DefaultChallengeScheme `.

[code]

[2020-11-16 02:47] #6179 closed, assigned to maliming

[2020-11-16 03:03] realLiangshiwei commented on #6191
https://github.com/abpframework/abp/pull/6196

[2020-11-16 03:03] #6191 closed, assigned to maliming

[2020-11-16 04:57] mehmet-erim commented on #6059
If the package has been published, you can add it to the `package.json`. You can import a thing from your library to the dev-app. See [`tsconfig.json`](https://github.com/abpframework/abp/blob/dev/templates/module/angular/tsconfig.json#L4) file.

Actually, it is directly imported. Since there are no paths in `tsconfig.prod.json`, it will throw an error if your package is not in `node_modules`. But

[2020-11-16 06:32] mehmetuken commented on #6188
Scriban default property and methods naming kebab-case. Using ArticleTitle  `atricle_title`. It's not bug.

[2020-11-16 06:42] cotur commented on #6201
![image](https://user-images.githubusercontent.com/20099739/99220549-f110a900-27ef-11eb-866d-fd978174bfb5.png)

Could not reproduce at `rel-4.0` branch.

[2020-11-16 06:42] #6201 closed, assigned to cotur

[2020-11-16 07:31] bnymncoskuner commented on #6185
Merged

[2020-11-16 07:31] #6185 closed, assigned to bnymncoskuner

[2020-11-16 07:56] sebitsi opened #6208 "DevExpress Reports and ServiceProxyScript Internal error 500"
I'm using angular with WepApi (included Id4) latest (3.3.1) template.

When i register DevExpress reports into WebAPI pipeline ServiceProxyScript i got error 500.

Content in log is:

[code]
I know the problem exists because of two implementations of Invoke methods.

My first question is:
Is it possible to replace Volo.Abp.AspNetCore.Mvc.AspNetCoreApiDescriptionModelProvider and how (where) i can

[2020-11-16 08:02] qqzhw commented on #6204
Thank you ! It's ok now.

[2020-11-16 08:04] maliming commented on #6208
hi, How to reproduce your problem?

[2020-11-16 08:15] sebitsi commented on #6208
@maliming There is nothing special.

Create new project based on ABP angular template.
Then follow [Dx Docs](https://docs.devexpress.com/XtraReports/400197/web-reporting/javascript-reporting/server-side-configuration/document-viewer/document-viewer-server-side-configuration-asp-net-core). When you run project first swagger fill fail, because of amigous methods names.

I can solve it using code lik

[2020-11-16 08:38] #6204 closed, assigned to nobody

[2020-11-16 09:31] #6188 closed, assigned to nobody

[2020-11-16 10:04] OldKing-lion opened #6210 "Blazorise 0.9.2-rc4 is not found."
Warning NU1603 Volo.Abp.BlazoriseUI 4.0.0-rc.2 depends on Blazorise (>= 0.9.2-rc4), but Blazorise 0.9.2-rc4 is not found. The approximate best match for Blazorise 0.9.2 has been resolved.

![image](https://user-images.githubusercontent.com/13028615/99239330-e37e1200-2835-11eb-8c2d-cda0fb9ecaba.png)

[2020-11-16 10:07] OldKing-lion opened #6211 "Cannot find package Volo.Abp.EntityFrameworkCore.MySQL with version (>= 4.0.0-rc.2)"
Error NU1102 Cannot find package Volo.Abp.EntityFrameworkCore.MySQL with version (>= 4.0.0-rc.2)
   -Found 67 versions in Package source [Closest version: 3.3.1]
   -Found 0 versions in Microsoft Visual Studio Offline Packages

[2020-11-16 10:22] realLiangshiwei commented on #6211
See https://github.com/abpframework/abp/pull/5700

But now `Pomelo.EntityFrameworkCore.MySql` has been released [v5.0.0-alpha.2](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/5.0.0-alpha.2). We will add this package in the 4.0 final version.

[2020-11-16 10:25] #6210 closed, assigned to nobody

[2020-11-16 10:25] maliming commented on #6210
https://github.com/stsrki/Blazorise#try-preview

[2020-11-16 10:54] yekalkan opened #6212 "Manage profile page throws exception on submit (MVC + Tiered)"
![image](https://user-images.githubusercontent.com/5793291/99244436-24186400-2813-11eb-9f91-f99e41de4630.png)

`[ERR] An unhandled exception has occurred while executing the request.
System.ArgumentException: names can not be null or empty! (Parameter 'names')
   at Volo.Abp.Check.NotNullOrEmpty[T](ICollection`1 value, String parameterName)
   at Volo.Abp.PermissionManagement.PermissionStore.IsGra

[2020-11-16 11:05] yekalkan commented on #6212
Same for Angular + Separated identity server. But error message is different:

`[ERR] Operation is not valid due to the current state of the object.
System.InvalidOperationException: Operation is not valid due to the current state of the object.
   at System.Text.Json.JsonElement.GetRawText()
   at Volo.Abp.Json.SystemTextJson.JsonConverters.AbpHasExtraPropertiesJsonConverter`1.Read(Utf8JsonReader

[2020-11-16 11:09] yekalkan opened #6213 "New Role creation throws error (Angular + separated identity server)"
![image](https://user-images.githubusercontent.com/5793291/99245826-4dd28a80-2815-11eb-8a29-8d7d8d240bca.png)

`[ERR] Operation is not valid due to the current state of the object.
System.InvalidOperationException: Operation is not valid due to the current state of the object.
   at System.Text.Json.JsonElement.GetRawText()
   at Volo.Abp.Json.SystemTextJson.JsonConverters.AbpHasExtraPropertiesJso

[2020-11-16 11:11] maliming commented on #6212
RC 3 may resolve this problem.

[2020-11-16 11:15] bnymncoskuner commented on #6002
Hello @alexandis,

I have not been able to reproduce the problem with our app template (and custom nav-items). Could it be related to your custom actions? Also, if you can provide us a simple repo that reproduces the issue, we will fix it.

[2020-11-16 11:46] hikalkan opened #6214 "Blazor UI documents (Part I)"
- [x] Global Scripts & Style (including bundling&minification) / @ilkayilknur #6259
- [X] Message / @ilkayilknur #6194
- [X] Notification / @ilkayilknur #6238

Please write them in the `rel-4.0` branch.

[2020-11-16 11:47] hikalkan opened #6215 "Blazor documents (Part II)"
- [x] Navigation / Menu
- [x] Theming
- [x] Basic Theme
- [x] Toolbars
- [x] Settings
- [x] Localization
- [x] Overriding components/pages
- [x] Branding
- [x] Overall / Architecture

[2020-11-16 11:47] hikalkan commented on #5996
Splitted docs into two parts: https://github.com/abpframework/abp/issues/6214 & https://github.com/abpframework/abp/issues/6215

[2020-11-16 11:47] #5996 closed, assigned to nobody

[2020-11-16 12:05] alexandis commented on #6002
Hi. It's a bit tricky to provide a whole working example, since it's a part of a large project. Probably, something is wrong with my implementation of **nav-items.component.ts**? Attached below is whole src (just in case), but please have a look at **nav-items.component.ts** inside:

[Angular.src.zip](https://github.com/abpframework/abp/files/5546074/Angular.src.zip)

[2020-11-16 13:31] hikalkan commented on #5935
I created the discussions: https://github.com/abpframework/abp/discussions

We have a very active community. I get ~50 emails in every day from GitHub issues/PRs 😃
Fortunately, we have a big core team working on this project and managing all these. Also, community helping us to answer to the issues.

We are actively checking [the stackoverflow tag](https://stackoverflow.com/questions/tagged/abp) a

[2020-11-16 13:31] #5935 closed, assigned to hikalkan

[2020-11-16 14:24] gdeswardt commented on #6188
This is not a bug, but the documentation should be updated to as it states that **camelCase** is the default

https://github.com/abpframework/abp/blob/dev/docs/en/Text-Templating.md#pascalcase-vs-camelcase

and instead, it is using the **snake case** as the default member renamer as specified in scriban documentation

https://github.com/lunet-io/scriban/blob/master/doc/runtime.md#member-renamer

[2020-11-16 16:43] hikalkan opened #6220 "Validation displayname should fallback to the property name"
Example:

![image](https://user-images.githubusercontent.com/1210527/99281495-9dc84600-2843-11eb-905b-7f771a4fb4df.png)

The code:

[code]

It should try to get `DisplayName:Name` from the localization. That's fine. But if not found, it should fallback to `Name` as the key and try to localize again.

[2020-11-16 17:51] hikalkan opened #6221 "Remove "ShouldShowEntityActions" if not used anymore"
https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/RoleManagement.razor.cs#L19

Check also other similar usages and fix all.

[2020-11-17 00:57] xyfy commented on #5452
It can be consume again ,but is not in control

[2020-11-17 01:56] maliming opened #6222 "Angular CorsPolicyService did not allow origin: http://localhost:4200"
[code]

[2020-11-17 02:11] maliming commented on #6222
[code]

[2020-11-17 02:43] #6211 closed, assigned to realLiangshiwei

[2020-11-17 02:50] ruby0602 opened #6223 "login remove from AuthService in @abp/ng.core"
error TS2339: Property 'login' does not exist on type 'AuthService'

[2020-11-17 02:58] maliming commented on #6190
https://github.com/abpframework/abp/pull/6198

[2020-11-17 02:58] #6190 closed, assigned to maliming

[2020-11-17 03:05] maliming commented on #6223
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-11-17 04:10] ruby0602 commented on #6223
@maliming abp is 4.0.0-rc.3,ui is angular,code is fine in abp 3.3.1

[2020-11-17 04:15] maliming commented on #6223
You can refer to this PR.

https://github.com/abpframework/abp/pull/6189

[2020-11-17 05:00] aididhaiqal opened #6225 "Module template not using net 5.0"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version** : 4.0.0-rc.3.Please **write in English**.

Hi there,

It came to my attention

[2020-11-17 05:03] ruby0602 commented on #6223
@maliming but the version of my angular is 11

[2020-11-17 05:14] maliming commented on #6225
.NET framework, xamarin, mono.. applications can't support NET 5.
they should still rely on .netstandard2.0 and .netstandard2.1.
We should follow the Microsoft way: They make Extensions.* libraries .netstandard2.0
Our common packages are actually conceptually similar to those extensions libraries and we want to cover more platforms

`Microsoft.EntityFrameworkCore` is `.NETStandard 2.1`. https://ww

[2020-11-17 05:14] #6225 closed, assigned to nobody

[2020-11-17 06:04] jack-gaojz opened #6226 "Upgrade ABP from 3.0.5 to 3.3.1, the application cannot launch."
My application works fine with ABP 3.0.5, but after I have upgraded to 3.3.1. It cannot launch.

ABP 3.0.5 -> ABP 3.3.1
My application used the Razor Pages framework. The error message shows the " ---> System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Bcl.AsyncInterfaces, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The system cannot find the file s

[2020-11-17 06:54] bnymncoskuner commented on #6223
@ruby0602 Please refer to [this document](https://docs.abp.io/en/abp/4.0/Migration-Guides/Abp-4_0-Angular)

Password flow is no longer available with v4.x. That's why `login` method is removed from `AuthService`.

[2020-11-17 06:54] #6223 closed, assigned to nobody

[2020-11-17 07:01] maliming commented on #6226
* Steps needed to **reproduce** the problem.

[2020-11-17 07:18] mehmet-erim opened #6231 "Fix the React Native UI problems"

[2020-11-17 07:34] xyfy commented on #6140
please take a look  at method   `SetRolesAsync` in class  `Volo.Abp.Identity.IdentityUserManager`  of nuget package `volo.abp.identity.domain`

and if you want to inject  `IRepository`,take a look at  [Repositories](https://docs.abp.io/zh-Hans/abp/latest/Repositories)

[2020-11-17 08:03] xyfy commented on #5803
It need some config for api host Project ，Like `gateway` or `servicehost` in `microservicesample` .
in default ,it cannot load js  `/libs/abp/core/abp.js` @realLiangshiwei

[2020-11-17 08:45] realLiangshiwei commented on #5803
@xyfy See https://github.com/abpframework/abp/pull/6124

[2020-11-17 08:57] xyfy commented on #5803
does it mean after the #6124   the module  do not need `/libs/abp/core/abp.js` anymore?

It will release in v4.0?

[2020-11-17 10:32] mehmet-erim opened #6233 "Upgrade React Native UI package versions to the latest"

[2020-11-17 10:52] ilkayilknur opened #6234 "UiNotificationService doesn't show the specified title"
[code]
When I call the `Success` method with the title parameter, the UiNotificationService just shows the message.

![image](https://user-images.githubusercontent.com/5785927/99381114-e16e8e80-28db-11eb-9428-681f5e059524.png)

[2020-11-17 11:18] michaelsudnik opened #6235 "Passed in logger of the wrong type"
https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/modules/docs/app/VoloDocs.Web/Utils/GlobalExceptionHandlerMiddleware.cs#L16

[2020-11-17 11:37] realLiangshiwei commented on #6235
I will fix it. Thanks for reporting.

[2020-11-17 12:09] cocosip commented on #5231
Are there any plans?

[2020-11-17 12:24] pekeramazan opened #6240 "Old Project name working,new project names not working"
I trained on bookstore project.After I created a new project as "Carbeque" but I cant run javascript code with this name.
"Im taking an error on Chrome"

Index.js only working with "acme.bookstore.books.customerMainCategory". I never used variables from old project like "acme,book,bookstore"

`$(function () {
    var l = abp.localization.getResource('Carbeque');

    var dataTable = $('#CustomerMa

[2020-11-17 12:30] hikalkan commented on #6072
Closed by https://github.com/abpframework/abp/pull/6241

[2020-11-17 12:30] #6072 closed, assigned to hikalkan

[2020-11-17 13:03] hikalkan opened #6242 "Blazor UI Tutorial: Implement validation on author create/edit forms and submit on enter"

[2020-11-17 13:22] djordjedjukic commented on #2087
Hey @hikalkan, is there anyone who can help me something regarding this?
Or do you maybe have some docs for db integrations which I can follow?
Thanks

[2020-11-17 14:23] jack-gaojz commented on #6226
Reproduce steps:
1. Go to the project folder and launch the CMD.
2. Execute the "ABP UPDATE".
3. After the update, start the application failed.

[2020-11-17 14:30] serridavide opened #6243 "Angular generate-proxy maximum call stack size exceeded"
### Version info

Abp version: 3.3.1 (stable)
Angular version: 10.0.7

### Steps to reproduce

Abp project located in this repository will generate the issue:

https://github.com/serridavide/ABP-Example

Create a generic angular application and run the generate-proxy command.

I used this exact line in my example

`abp generate-proxy --api-name local`

with

[code]

in my environment.ts file.

###

[2020-11-17 15:02] ebicoglu commented on #5931
Guys, are there any big differences in es-ES and es-MX?

[2020-11-17 15:08] #6240 closed, assigned to nobody

[2020-11-17 15:08] jmglezgz commented on #5931
Nop really, we perfectly understand both.  Some words could be sound weird because is not common to use in Spain or Mexico, but nothing to be worried. I would say that we can use "es" only without culture if its possible.

[2020-11-17 16:12] ebicoglu commented on #5931
thank you.

[2020-11-17 17:28] aelhadi opened #6244 "System.IO.DirectoryNotFoundException : '/MyApp.Domain.Shared/' with Docker"
Hello,

Version 3.3.1
Tierd App
Blazor
Docker
Windows 10

MyApp.IdentityServer exception when using Docker at :

Configure<AbpVirtualFileSystemOptions>(options =>
                {
                    options.FileSets.ReplaceEmbeddedByPhysical<MyAppDomainSharedModule>(Path.Combine(hostingEnvironment.ContentRootPath, $"..{Path.DirectorySeparatorChar}MyApp.Domain.Shared"));
                    optio

[2020-11-17 17:59] hikalkan opened #6245 "Blazor UI: Should not truncate the notification message"
The developers may trim it if they need. We should not truncate the message. Obviously it is a problem even with such a small message:

![image](https://user-images.githubusercontent.com/1210527/99427892-02a0a080-2917-11eb-95e0-6f370bb55587.png)

The button text (`CUSTOMOK` here) can be below the text line. But actually I believe we don't need to such a text button. Instead, a simple close icon is

[2020-11-17 19:28] #5931 closed, assigned to ebicoglu

[2020-11-17 21:18] stsrki commented on #6245
@hikalkan This is already working. `Multiline` attribute needs to be set to true.

[2020-11-18 01:06] maliming commented on #6244
hi

**ReplaceEmbeddedByPhysical** is useful during development.

If you deploy to docker, you should configure it according to the environment.

https://docs.abp.io/en/abp/latest/Virtual-File-System#dealing-with-embedded-files-during-development

[2020-11-18 01:09] maliming commented on #6243
hi

You can try to remove **Father** from **ChildDto**.

https://github.com/serridavide/ABP-Example/blob/f495764255/src/stackTest.Application.Contracts/Entities/Childs/ChildDto.cs#L19

[2020-11-18 02:28] xyfy opened #6247 "After restarted IdentityServer ,the JWT token can not validate"
* Your **ABP Framework version**  v3.3.1.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.
I am using the abp module  `identityserver`

when I got a access token `A`  from `identityserver`,
use the token `A` to call api is ok;

and then restart the `identityserver`  .
use the token `A` to call api will got an error.
[code]

[2020-11-18 02:28] xyfy commented on #6247
Is there any more config I need to do ?

[2020-11-18 03:38] #5669 closed, assigned to nobody

[2020-11-18 06:15] OzBob opened #6248 "Sample MongoDB Ng - error on EF migration, error on SwaggerUI"
* **ABP Framework version** 3.2.1
* **User Interface** Angular 10

After running all the steps in https://github.com/OzBob/abp-samples/pull/1

1
https://localhost:44308/swagger/index.html
GET https://localhost:44308/api/app/author
returns
Volo.Abp.AbpException: Could not find the bundle file '/libs/abp/luxon/abp.luxon.js' from IWebContentFileProvider
   at Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHe

[2020-11-18 06:26] maliming commented on #6208
`ApiDescription's HttpMethod` is `string?`: **Gets or sets the supported HTTP method for this api, or null if all HTTP methods are supported.**

[2020-11-18 06:46] sebitsi commented on #6208
@maliming as i can see You are going to make httpMethod to be nullable.

Is there any way i can replace script provider or exlude some method /controlllers from scripting ?
We don't need all methods/controllers to be scripted.

[2020-11-18 06:56] maliming commented on #6208
hi @sebitsi

I will consider adding a `selector` so that you can ignore some `ApiDescription`.

[2020-11-18 07:00] sebitsi commented on #6208
@maliming Thanks.
This will be very usefull. Regards.

[2020-11-18 07:01] hikalkan opened #6250 "Module template angular authentication problem"
To reproduce;

* Switch to rel-4.0 branch.
* Run `dotnet build /graphBuild` in D:\Github\abp\templates\module\aspnet-core
* Delete existing database(s): MyProjectName_Main
* Run migrations of the IdentityServer project:
![image](https://user-images.githubusercontent.com/1210527/99495776-306ffe80-2984-11eb-87c8-a2f55fab5476.png)
* Run IdentityServer project
* Run HttpApi.Host project
* Run `yarn`,

[2020-11-18 07:18] maliming opened #6251 "Create an option to ignore some `ApiDescription`"
https://github.com/abpframework/abp/blob/207df569b6990e5cbdd61d8a8c1dec8cf730566c/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AspNetCoreApiDescriptionModelProvider.cs#L50-L61

[2020-11-18 07:19] maliming commented on #6208
New issue: https://github.com/abpframework/abp/issues/6251

[2020-11-18 07:43] sebitsi commented on #6208
@maliming  Great !! :)
Is there possibility to implement it in 3.2.x roadmap  as patch ?
Moving to 4.x is huge step. .NET, angulat, Dx, etc., all have to be upgraded, tested before we can use it in production.

[2020-11-18 07:53] maliming commented on #6208
@sebitsi You can replace build-in `AspNetCoreApiDescriptionModelProvider` , See https://gist.github.com/maliming/5a76e6d65840530f60ab00e5b5d56c80#file-myaspnetcoreapidescriptionmodelprovider-cs-L59

[2020-11-18 07:54] serridavide commented on #6243
Hi, thanks for your response. I don't think removing Father is a correct way to approach this. More than a couple times I had to use references like that in my backend and having 200+ entities it really seems a bad idea to temporarily remove every single one of them to generate the proxy and add them back after the generation. And even if I do so after I add another entity I have to do it all over

[2020-11-18 08:52] sebitsi commented on #6208
@maliming Thanks for your gist. It solved my problem for now.
I will close this issue.

[2020-11-18 08:52] #6208 closed, assigned to maliming

[2020-11-18 09:06] gcarrot opened #6252 "Add custom property to user entity Angular"
ABP Framework version: 3.2.1
User Interface: Angular

I went by this community tutorial https://community.abp.io/articles/how-to-add-custom-property-to-the-user-entity-6ggxiddr

But on UI site I cannot see this properties. Is there other possibility or we need to create custom component? For our case we need to have one select list for this property.

[2020-11-18 09:11] maliming commented on #6251
This should be changed by the developer.

Can try to change: `_descriptionProvider.ApiDescriptionGroups.Items`

[2020-11-18 09:11] #6251 closed, assigned to nobody

[2020-11-18 09:12] minitoma opened #6253 "Could not find a menu item with given name : Abp.Application.Main.Administration"
Hi guys,

I'm working with abp and blazor and i'm trying to add a custom item to the Administration Menu.
I had it working but since update 3.3.1, i can't manage to make it work again.
Could you guys maybe help me find the problem so i can solve this ?

here is the issue :
![image](https://user-images.githubusercontent.com/18395682/99509066-98731480-2985-11eb-89b0-407bff268c19.png)

and here is th

[2020-11-18 09:48] SecTex commented on #5899
I think this is the same issue, therefore i'll close this issue: https://github.com/abpframework/abp/issues/6250

[2020-11-18 09:48] #5899 closed, assigned to nobody

[2020-11-18 10:40] sebitsi commented on #6251
@maliming I don't understand.
Why do you remove this change from roadmap ?

Of course we can replace all provider implementation, but this is not practical.

[2020-11-18 10:58] hikalkan opened #6256 "Blazor UI Basic Theme: Wrap pre-built module pages into a card for a better visual"
Current UI:

![image](https://user-images.githubusercontent.com/1210527/99521618-b2bcea80-29a5-11eb-9c97-3afa4df5eeb3.png)

I think it is better to be in a card just like we do in [the tutorial](https://docs.abp.io/en/abp/4.0/Tutorials/Part-9?UI=Blazor&DB=EF):

![image](https://user-images.githubusercontent.com/1210527/99521830-f31c6880-29a5-11eb-94ed-012b941fc1c1.png)

Apply for identity & tenant

[2020-11-18 11:04] hikalkan opened #6257 "Blazor UI: Document Page Alerts"
Here: https://github.com/abpframework/abp/blob/rel-4.0/docs/en/UI/Blazor/Page-Alerts.md

[2020-11-18 12:59] maliming commented on #6251
Sample class to remove controller which name start with `Account`; : )

[code]

[2020-11-18 13:03] #5496 closed, assigned to nobody

[2020-11-18 13:03] #5493 closed, assigned to nobody

[2020-11-18 17:27] goodyear-incaricotech commented on #6243
Maybe with a [JsonIngore] or similar?

[2020-11-18 17:35] DenverSearle commented on #5023
For the "windows fan" looking for the redis.msi installer: https://github.com/microsoftarchive/redis/releases

Everything works 100% after installing Redis. Thank you @buaziz / @hikalkan

[2020-11-18 17:45] hikalkan opened #6261 "Layout Hooks for the Blazor UI"
We can create a layout hooks system for the Blazor UI as similar to the [MVC UI Layout Hooks](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Layout-Hooks).
This is not so essential since the `index.html` is already in the application side.

[2020-11-18 17:50] hikalkan opened #6262 "Blazor documents (Part III)"
- [x] Authorization
- [x] Current User
- [x] Current Tenant
- [x] Routing
- [x] Authentication
- [x] Error Handling

[2020-11-18 18:00] ilkayilknur opened #6263 "AlertManager Improvements"
Move `IAlertManager` to the `Volo.Abp.Aspnetcore.Components` project and add `Alerts` and `AlertManager` properties to the `AbpComponentBase`

[2020-11-18 18:00] jogoertzen-stantec opened #6264 "Use environment variables to configure Angular without rebuild"
Right now it seems a new ABP Framework application template project uses [the default "build time" approach to configure an Angular application for multiple environments](https://angular.io/guide/build) (ie. one build per environment).

Are there any plans to add support for dynamic "run time" configuration of Angular applications based on environment variables to ABP Framework?

See the links bel

[2020-11-18 18:29] kishoresahas opened #6265 "How to show a setup screen if ConnectionString is not provided?"
### Documentation

https://docs.abp.io/en/abp/latest/Connection-Strings

### Feature requests

* **ABP Framework version v3.3**.
* **User Interface** N/A
* Exception message N/A
* Steps needed to **reproduce** the problem. N/A

How to add a check before the application start?
If the connection string is not present and Redirect to a Setup Screen.

[2020-11-18 18:42] #6215 closed, assigned to hikalkan

[2020-11-18 20:46] mbaddi opened #6266 "WPF template"
#abp #4.0.0 r3 #wpf

hello ,
I can't create new project with wpf template .
![image](https://user-images.githubusercontent.com/34626951/99586055-790cd380-29e7-11eb-8ea3-cdd532866637.png)

[2020-11-18 21:02] bnymncoskuner commented on #6264
ABP already supports this out of the box. You can find more information about how to achieve this [here](https://docs.abp.io/en/abp/latest/UI/Angular/Environment#remoteenvironment)

[2020-11-18 21:02] #6264 closed, assigned to nobody

[2020-11-19 01:08] maliming commented on #6266
hi @mbaddi  We will fix this, thanks.

[2020-11-19 01:47] 274188A opened #6267 "Doco: BlazorUI- Toolbars.md"
### Implementing the IToolbarContributor interface

https://github.com/abpframework/abp/edit/dev/docs/en/UI/Blazor/Toolbars.md

Sample code refers to type `Notification` - I search the entire framework - cannot find it...

![image](https://user-images.githubusercontent.com/40014477/99610137-316c6300-2a4c-11eb-9712-c4e05f8c2762.png)

[2020-11-19 01:53] maliming commented on #6267
See https://github.com/abpframework/abp/blob/dev/docs/en/UI/Blazor/Toolbars.md#example-add-a-notification-icon

![image](https://user-images.githubusercontent.com/6908465/99610588-177f5000-2a4d-11eb-9093-11eefda8fb10.png)

[2020-11-19 01:55] 274188A commented on #6267
aha - got it

[2020-11-19 01:55] #6267 closed, assigned to nobody

[2020-11-19 05:24] #6222 closed, assigned to maliming

[2020-11-19 06:26] rsatter opened #6269 "Blazor webassemble not usable. Can it be redone as Blazor ServerrSide?"
I took the Blazor template to build a site. The results are horrible. To bring up the index page was fast from the site but 20-30 seconds depending on a browser (Safari, Chrome, and Edge) for Blazor to render the index.razor page. All I did was create the solution and hit run. This kind of performance is unacceptable, and I am using a 6 core MacBook.

I actually was surprised it was a web assembly

[2020-11-19 07:16] NecatiMeral commented on #6269
Do you have Redis up and running?

If I remember correctly, they're using Redis by default. So if your redis isn't launched, the application will run into a timeout before rendering anything.

This issue should be logged in your console.

[2020-11-19 07:17] SuriyaArul commented on #6214
How to add VIEW option in per-defined Admin user (Action Button) in Blazor UI

[2020-11-19 07:28] hikalkan commented on #6266
Fixed. You can try this:

[code]

Use preview until 4.0 final release.

[2020-11-19 07:28] #6266 closed, assigned to hikalkan

[2020-11-19 08:43] hikalkan opened #6271 "Contribution guide enhancements"
Write how to clone, build, develop and test the framework, modules and templates.

[2020-11-19 08:51] hikalkan commented on #6269
Hi rsatter,

The performance is related to the Blazor, not because of the ABP Framework in general. However, it is much faster for me. At most 3-4 seconds to initialize the application.

Redis in not needed if you didn't create your solution with separate identityserver.

Server side blazor support [in the plan](https://github.com/abpframework/abp/issues/5517). However, Blazor is pretty new and I

[2020-11-19 08:51] #6269 closed, assigned to nobody

[2020-11-19 08:54] hikalkan commented on #6265
I think this is a common asp.net core development question and you can ask on stackoverflow.
To be a hint: You can write an aspnet core middleware that checks the connection string and provides an alternative pipeline if so. See also https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware for middleware branching.

[2020-11-19 08:54] #6265 closed, assigned to nobody

[2020-11-19 09:37] ebicoglu opened #6272 "Consider replacing dots with dashes in setting names"
As reported here https://support.abp.io/QA/Questions/557/Please-stop-using-periods--in-setting-names
Azure doesn't accept dots in setting names.

[2020-11-19 10:46] mehmet-erim opened #6273 "Deprecate the attribute usage of PermissionDirective"
Deprecated the below usage:

[code]

Use the structural directive instead:

[code]

There is a problem with attribute usage. When an element is removed from DOM due to permission, cannot be added back to the DOM when the permission is changed

[2020-11-19 10:47] mehmet-erim opened #6274 "Add a method named set to InternalStore"

[2020-11-19 10:58] stsrki commented on #6031
https://github.com/stsrki/Blazorise/pull/1461

[2020-11-19 11:02] stsrki commented on #6234
https://github.com/stsrki/Blazorise/issues/1482

[2020-11-19 11:50] #6144 closed, assigned to armanozak

[2020-11-19 11:54] trgiangvp3 opened #6276 "Can't load ServiceProxyScript if use a base class for Controllers"
I need to make the ValidateIP check into common, so I decided to create a base controller class.
But when I do that, get the following isssue.
I've already made the base controller abstract as mentioned at #5972 but nothing changes, the issue still there.
How could I fix this?

**1. ABP Framework version**

**2. User Interface:**

**3. Exception message (as showing in Chrome Dev Tool)**

**4. Step

[2020-11-19 11:55] bnymncoskuner commented on #6243
Hello @serridavide,

Your repo does not have angular code so I just created an empty project with the latest version (4.0.0-rc.3) of `abp-cli` and copy-pasted the files from your repo into mine. When I ran `abp generate-proxy`, everything worked smoothly and the files are created as follows.

[code]

`childs/models.ts`

[code]

`fathers/models.ts`

[code]

Could you try it with `4.0.0-rc.3` if pos

[2020-11-19 11:55] fmpfmp opened #6277 "New module: ElasticsearchModule"
New module: ElasticsearchModule

[2020-11-19 12:00] maliming commented on #6272
I think he can resolve the problem by replace the 'ConfigurationSettingValueProvider'.

I will reply to him.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Settings/Volo/Abp/Settings/ConfigurationSettingValueProvider.cs

[2020-11-19 12:08] trgiangvp3 commented on #6276
I'm sorry. My bad.
There is something wrong in my newly added controller that causes the issue.
There is no problem with the base controller.
I will update the cause if I could find it later.

[2020-11-19 12:08] #6276 closed, assigned to nobody

[2020-11-19 12:38] maliming commented on #6276
The reason is https://github.com/abpframework/abp/pull/6249

[2020-11-19 12:42] maliming commented on #6277
You can implement it in your project. We don't have a plan to create a such module.

[2020-11-19 12:42] #6277 closed, assigned to nobody

[2020-11-19 12:59] #6273 closed, assigned to mehmet-erim

[2020-11-19 12:59] #6274 closed, assigned to mehmet-erim

[2020-11-19 13:29] #6250 closed, assigned to mehmet-erim

[2020-11-19 13:55] #6263 closed, assigned to ilkayilknur

[2020-11-19 13:55] #6257 closed, assigned to ilkayilknur

[2020-11-19 13:58] #6161 closed, assigned to ilkayilknur

[2020-11-19 13:59] #6214 closed, assigned to ilkayilknur

[2020-11-19 14:05] serridavide commented on #6243
I haven't tried the 4.0.0 release yet, but since it has some major changes (.NET 5.0) I won't be able to test it immediately. I'll keep you updated as soon as I upgrade everything needed.

[2020-11-19 14:26] d-oit opened #6282 "Language select"
Misspelling in the latest pre-release version (4.0.0-rc.3) blazor template: "Deutsche" -> "Deutsch"

Suggestion: Create an string array of used culture code and display the nativeName.

var allCultures = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.AllCultures);
string cultureCode = "de";
string langname = allCultures.FirstOrDefault(c => c.Name == cultureCode).Nat

[2020-11-19 14:38] kunalpgithub opened #6283 "Getting error after generating proxy "You may need an additional loader to handle the result of these loaders""
I started getting below error after generating proxy.

[code]

Following are details of  framework and UI, I am using currently.

- ABP Framework Version 3.3.1 (stable)
- User Interface: Angular
- Exception Message.

**I may have created project with older version of ABP Cli framework, and then updated ABP ClI. That couldn't be possible.

But I don't now how can I update my existing project to lat

[2020-11-19 14:43] trgiangvp3 commented on #6276
Thank you.
The reason is I created a new Controller without specifying HttpMethod to each Action method.
I fixed the problem as below

[code]

[2020-11-19 14:46] bnymncoskuner commented on #6283
This is a known issue of webpack. You can find the related issue [here](https://github.com/webpack/webpack/issues/10460)

You could upgrade your angular version to 11 which allows you to enable (opt-in) webpack v5.

[2020-11-19 14:47] AdemAygun opened #6284 "Search in documents not working on https://docs.abp.io"
"Search in documents" action is not working whatever I search it doesn't response anything on https://docs.abp.io.

![search in docs-abp-io](https://user-images.githubusercontent.com/13360669/99681068-cee88680-2a8e-11eb-8216-5ec259ad5ed5.PNG)

[2020-11-19 14:55] kunalpgithub commented on #6283
I tried abp update command but it didn't update my angular version, Do I have to do it manually and update package.json.

Also I get this warning while generating proxy.

abp generate-proxy
[20:24:44 INF] ABP CLI (https://abp.io)
[20:24:44 INF] Version 3.3.1 (Stable)
[20:24:46 WRN] Couldn't determinate version of "@abp/ng.schematics" package.

[2020-11-19 15:02] alexandis commented on #4444
Hi, any progress on that?

[2020-11-19 15:09] bnymncoskuner commented on #6283
Abp-cli does not update angular versions. You should update ng packages yourself. You can follow the official [guideline](https://update.angular.io/)
You don't have to update package.json manually, the `ng update` command does it for you.

You can ignore that warning. It does not cause any errors.

[2020-11-19 19:07] leonkosak commented on #6226
Do you make new migration (EF Core) for database (or at least check if Up and Down methods for new migration include changes)?

[2020-11-20 01:16] wakuflair commented on #6284
I have the same issue.

[2020-11-20 01:42] maliming commented on #6272
https://support.abp.io/QA/Questions/557/Please-stop-using-periods--in-setting-names#answer-e14c5e7d-2a90-6568-32ba-39f8f572b110

[2020-11-20 01:42] #6272 closed, assigned to nobody

[2020-11-20 02:10] maliming commented on #4504
I think this alreadyt resolved by https://github.com/abpframework/abp/pull/6119

[2020-11-20 02:12] maliming commented on #6097
Related: https://github.com/abpframework/abp/issues/3829

[2020-11-20 07:01] wocar commented on #5464
I have MongoDb and I have SqlServer DbContexts in the same project.

How can i disable transactions only for the ones that are in MongoDb

[2020-11-20 07:10] #5589 closed, assigned to nobody

[2020-11-20 07:14] realLiangshiwei commented on #5464
@wocar
You can replace [UnitOfWorkMongoDbContextProvider](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.MongoDB/Volo/Abp/Uow/MongoDB/UnitOfWorkMongoDbContextProvider.cs) implementation

[2020-11-20 07:25] sebitsi opened #6288 "Replacing controller is not possible [BUG ?}"
@hikalkan Hi.

I'm using ABP Commercial 3.3.1 with angular.
I have integrated DevExpress reporting into ABP.
After upgrading to 3.3.1 replacing controllers is not working any more.

After some research i noticed that you commit some changes with RemoveDuplicateController method in AbpServiceConvention.

This RemoveDuplicateController  method removes my controller (message in log):

My controller i

[2020-11-20 07:28] realLiangshiwei commented on #6288
See https://github.com/abpframework/abp/issues/5269

[2020-11-20 07:49] sebitsi commented on #6288
@realLiangshiwei Thanks for link. But this is not my problem.

I have updated issue. (i have posted it to fast by mistake :(  )

[2020-11-20 08:40] kunalpgithub commented on #6283
@bnymncoskuner thanks for help. Updating angular 11 and opt in for web pack 5 worked for me.

Need run yarn after opt-in for webpack 5 worked for me.
🤗🤗🤗

[2020-11-20 08:40] #6283 closed, assigned to nobody

[2020-11-20 08:41] kunalpgithub commented on #6283
solution provided by @bnymncoskuner  worked for me, hence closing issue.

[2020-11-20 09:25] mehmet-erim commented on #4444
Hi @alexandis

We are working on it.

[2020-11-20 10:15] #5513 closed, assigned to nobody

[2020-11-20 11:16] mehmet-erim commented on #4444
## How to use

When v4.0 is released, you can add a new provider to `app.module.ts` as shown below to suppress the unsaved changes warning popup:

[code]

...or you can pass the `suppressUnsavedChangesWarning` input value as true to the `<abp-modal>` tag like below:

[code]

Note: The `ModalComponent` input (`suppressUnsavedChangesWarning`) value overrides the `SUPPRESS_UNSAVED_CHANGES_WARNING` in

[2020-11-20 11:16] #4444 closed

[2020-11-20 11:54] #3724 closed

[2020-11-20 11:54] hikalkan commented on #3724
https://docs.abp.io/en/abp/4.0/Entity-Framework-Core#loading-related-entities

[2020-11-20 12:05] hikalkan commented on #6138
No 😄

[2020-11-20 12:23] #6221 closed, assigned to cotur

[2020-11-20 12:59] hikalkan commented on #6138
Closed by https://github.com/abpframework/abp/commit/e999c37947f81333e1d0be6db0ac1e43c36f4ea5

[2020-11-20 12:59] #6138 closed, assigned to hikalkan

[2020-11-20 13:13] #5511 closed, assigned to nobody

[2020-11-20 15:07] SuriyaArul commented on #6256
How to add custom View option in User UI (Action button) in abp.io Blazor UI

[2020-11-20 15:40] hikalkan opened #6297 "Improve the logic of removing derived controllers from the model"
see https://github.com/abpframework/abp/issues/6288#issuecomment-731242396

[2020-11-20 15:40] hikalkan commented on #6288
Should be related to https://github.com/abpframework/abp/issues/5964#issuecomment-717459399

I understand that you can't make it abstract (I don't know why they didn't do it so).

As a workaround, you can replace `AbpServiceConvention` with your own implementation and override `RemoveDuplicateControllers` to skip the logic for the `WebDocumentViewerController`.

I think we can make an exception li

[2020-11-20 15:40] #6288 closed, assigned to nobody

[2020-11-20 15:42] hikalkan commented on #6282
Thanks. I think that's not needed, but we will fix it. Thanks.

[2020-11-20 15:50] sebitsi commented on #6288
@hikalkan Thanks.

I have already done it as you suggested.
Improvements will be fine.

[2020-11-20 18:29] jogoertzen-stantec opened #6298 "The Future of IdentityServer"
As indicated in https://github.com/dotnet/aspnetcore/issues/26489, Identity Server 4 will lose support in November 2022 (.NET Core 3.1 EOL).

Is ABP Framework planning on switching to another free and open source identity management project, or is the plan to stick with Identity Server?

[2020-11-20 21:47] sebitsi opened #6299 "Using CSRF/XSRF & Anti Forgery System in IIS"
Hi.

I have updated ABP Commercial to latest stable version (3.3.1). After that only get methods work. POST and PUT don't.

Let explain my scenario.

1. Create new angular project (abp new demo -t app-pro -u angular)
2. Configure and build server side and deploy it to IIS server under (https://demo.test.com/ws)
3. Configure, build as static js files and deploy angular client to IIS server under (h

[2020-11-20 22:14] #5395 closed, assigned to nobody

[2020-11-20 23:11] jogoertzen-stantec commented on #1082
Is this still on track for a 4.1-preview release? We are currently evaluating ABP Framework and time is limited. :)

[2020-11-21 03:11] kbowma commented on #6261
When integrating Kendo UI for Blazor, without the layout hooks and access to the MainLayout.razor where do we put this code
[code]

[2020-11-21 03:17] #5393 closed, assigned to nobody

[2020-11-21 09:30] realLiangshiwei commented on #6298
Duplicate of https://github.com/abpframework/abp/issues/5735

[2020-11-21 09:30] #6298 closed, assigned to nobody

[2020-11-21 13:17] maliming commented on #6284
hi @erolarkat
Can you help to check the elasticsearch server status?

[code]

[2020-11-21 13:22] maliming commented on #6299
hi @sebitsi

Can you share the error log? Include angular and backend.

[2020-11-21 13:26] maliming commented on #1082
hi @jogoertzen-stantec

Because there may be some limitations in tiered projects. I can't guarantee that it will work in 4.1, but I will try my best.

[2020-11-21 13:29] maliming commented on #5566
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-11-21 13:52] #6256 closed, assigned to cotur

[2020-11-21 13:52] cotur commented on #6256
![image](https://user-images.githubusercontent.com/20099739/99878941-fd469d00-2c19-11eb-8f48-5abd5845d1b2.png)

[2020-11-21 15:39] eng-mohammed-emam opened #6300 "[Question] How can I add my parameters while getting list of entities dto"
Hello,

I'm using version 3.3.1

How can I send my additional parameters to the `query` parameter?
I already inhert from PagedAndSortedResultRequestDto.

const bookStreamCreator = (query) => this.bookService.getList(query);

export interface BooksSearchParamsDto extends PagedAndSortedResultRequestDto {
  isbn: string;
  name: string;
}

[2020-11-21 15:48] qiang999 commented on #4507
I updated to Abp 3.0.
I Use MicroserviceDemo BackendAdminAppGateway.
I have a problem.
api/permission-management/permissions return 500.
log:
2020-11-21 23:41:01.434 +08:00 [ERR] ---------- RemoteServiceErrorInfo ----------
{
  "code": null,
  "message": "An internal error occurred during your request!",
  "details": null,
  "data": {},
  "validationErrors": null
}

2020-11-21 23:41:01.443 +08:00

[2020-11-21 16:04] qiang999 opened #6301 "Abp 3.0 /api/permission-management/ timeout 500?"
https://github.com/abpframework/abp/issues/4507
I updated to Abp 3.0.
I Use MicroserviceDemo BackendAdminAppGateway.
I have a problem.
api/permission-management/permissions return 500.
log:
2020-11-21 23:41:01.434 +08:00 [ERR] ---------- RemoteServiceErrorInfo ----------
{
"code": null,
"message": "An internal error occurred during your request!",
"details": null,
"data": {},
"validationErrors": n

[2020-11-21 16:07] sebitsi commented on #6299
Hi @maliming.

I send you 2 pictures of request (user update).
As you can see server responds with redirection to login page.

![Request1](https://user-images.githubusercontent.com/2194876/99881588-e5bbe400-2c1a-11eb-9067-4a446675bb3f.png)

![Request2](https://user-images.githubusercontent.com/2194876/99881589-e6ed1100-2c1a-11eb-8e72-4867461ccb3e.png)

On server side there is nothing special:

[co

[2020-11-21 16:07] roc916 opened #6302 "BackgroundWorker : cannot resolve parameter 'Microsoft.AspNetCore.Identity.SignInManager`1[Volo.Abp.Identity.IdentityUser] signInManager'"
ABP version: 4.0.0-rc.3

BackgroundWorker Code:
[code]

GitHub Repositorie:
[test-abp-4-0-rc-3](https://github.com/Essensoft-Roc/test-abp-4-0-rc-3)

---
ABP version: 3.3.1:

![20201122000459](https://user-images.githubusercontent.com/12685126/99881731-6c41e700-2c56-11eb-94bb-c0d2f3ead4a6.png)

[2020-11-21 16:17] qiang999 commented on #6299
I think 4.0 maybe fix this bug.
3.3.1 have a solution.
ConfigureServices add Configure.
Configure<AbpAntiForgeryOptions>(options =>
            {
                options.TokenCookie.Expiration = TimeSpan.FromDays(365);
                options.AutoValidateIgnoredHttpMethods.Add("GET");
                options.AutoValidateIgnoredHttpMethods.Add("DELETE");
                options.AutoValidateIgnoredH

[2020-11-21 16:34] sebitsi commented on #6299
@qiang999 Hi. Thanks for your response.

Disabling auto validation is not solution for me.
Why do you think 4.0 may fix this ? And how do you know this is a bug ?

[2020-11-21 17:55] kbowma opened #6303 "Blazor UI: Mange Profile Page - No Menu Visible"
There is no menu visible and now way to return to the previous page when on the Mange Profile page.

AbpFramework Versions: 4.0.0-rc.3 (commercial)

![image](https://user-images.githubusercontent.com/4893279/99883897-10884700-2bdf-11eb-801f-52157751647a.png)

[2020-11-21 18:13] hikalkan opened #6304 "Guide: Implementing Domain Driven Design"
I had a talk on Implementing Domain Driven Design in the last year. This is the YouTube video record of the talk: https://www.youtube.com/watch?v=Yx3Y3-GC9EE

I decided to create a guide based on this talk & presentation in the ABP documentation. Also, in each step I will introduce the infrastructure provided by the ABP Framework and discuss best practices, pros and cons of different ways.

I thin

[2020-11-21 19:04] jmglezgz opened #6305 "ABP framework es-ES translation"
The abp-translation.abp.es-ES translation has been updated with missing parts and now is 100% completed.

[abp-translation.abp.es-ES.zip](https://github.com/abpframework/abp/files/5578208/abp-translation.abp.es-ES.zip)

If you have any other documents to translate, only let me know.

[2020-11-21 19:36] michaelsudnik opened #6306 "Abp suite "save and generate" disabled after choosing to add a navigation property and then cancelling the dialog"
4.0.0-rc.3
MVC
MongoDB

After defining a new entity for an existing solution with the above configuration, I have defined some properties (so I am now allowed to generate). If I then click the "Add navigation property" button, but change my mind and cancel the dialog, the "Save and generate" is no longer enabled, and there does not appear to be any way to enable it again. I am forced to refresh th

[2020-11-21 23:36] #6097 closed, assigned to nobody

[2020-11-21 23:37] #6055 closed, assigned to nobody

[2020-11-21 23:38] DonVliet commented on #5842
Thanks @xyfy it is my fault

[2020-11-21 23:38] #5842 closed, assigned to nobody

[2020-11-21 23:40] DonVliet commented on #5793
@realZhangChi it was my fault I didn't update all MySQL code in modules

[2020-11-21 23:40] #5793 closed, assigned to nobody

[2020-11-22 01:24] xyfy commented on #6304
grreet job!

[2020-11-22 01:28] xyfy commented on #6247
I think it would the identityServer cached some infomation  in memeroy-cache  which is used to check the sign,

but I can not find a way to set it using redis?

[2020-11-22 06:54] qiang999 commented on #6299
I I found a change at 4.0.
context.Services.AddAbpSwaggerGenWithOAuth(
                configuration["AuthServer:Authority"],
                new Dictionary<string, string>
                {
                    {"test", "test API"}
                },
                options =>
                {
                    options.SwaggerDoc("v1", new OpenApiInfo {Title = "test API", Version = "v1"});

[2020-11-22 07:24] realLiangshiwei commented on #6305
Hi, You can send a PR to this repo.

[2020-11-22 07:24] SuriyaArul commented on #6256
Hi @cotur thanks for you reply, but I need to add customize View option in red mark of below screenshot in User Blazor UI
![Users](https://user-images.githubusercontent.com/68591063/99897672-806efe00-2cc1-11eb-9b04-6ea298f47948.png)

[2020-11-22 07:26] maliming commented on #6248
You can try to update the `ABP's packages` in  `package.json` then run `yarn` and `gulp`.

[2020-11-22 07:28] maliming commented on #6253
Maybe you can refer to https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services

[2020-11-22 07:29] maliming commented on #6300
hi

Maybe you can refer to https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services

[2020-11-22 07:30] maliming commented on #6301
Please check the logs first.

[2020-11-22 07:36] SuriyaArul commented on #6256
Hi @cotur thanks for your reply, but I need to add customize View options after Delete in red mark of below screenshot for my purpose in User Blazor UI.
![UsersList](https://user-images.githubusercontent.com/68591063/99897900-7bab4980-2cc3-11eb-8c93-5b56547ec0c5.png)

[2020-11-22 07:38] maliming commented on #6306
hi @michaelsudnik

You get help on [support.abp.io](https://support.abp.io/QA/Questions/New), Thanks.

[2020-11-22 07:38] #6306 closed, assigned to nobody

[2020-11-22 08:33] qiang999 commented on #6299
https://github.com/abpframework/abp/issues/5803

[2020-11-22 10:09] #5412 closed, assigned to nobody

[2020-11-22 10:30] jmglezgz commented on #6305
Sure, np... However, I don't know how to convert the json structure that @ebicoglu sent me (zip file attached to this issue) to the json structure needed on Localization/Resources folder.

Any help?

Thanks

[2020-11-22 10:55] sebitsi commented on #6299
@qiang999 Thanks for sharing ideas.
But this is not related with my issue.

Commit you found is for swaggerUI client. It needs to send token if user wants to execute  method in swagger UI.

As i said. My problem is pure ABP template deployed to ISS. This client doesn't send anti forgery token when deploy to IIS
in subfolder.

[2020-11-22 11:14] Neeil commented on #6107
You need to setup a redis in your pc/server.

[2020-11-22 11:14] Neeil commented on #6107
I use docker to host redis/db so to make the implementation simpler.

[2020-11-22 13:16] qiang999 commented on #6301
Thanks.
I fix the bug!

[2020-11-22 13:16] #6301 closed, assigned to nobody

[2020-11-22 13:36] realLiangshiwei commented on #6305
See https://docs.abp.io/en/abp/latest/CLI#translate

Or I can help you send the PR

[2020-11-22 14:10] realLiangshiwei commented on #6299
See https://github.com/abpframework/abp/blob/dev/docs/en/CSRF-Anti-Forgery.md#angular-ui

[2020-11-22 15:17] sebitsi commented on #6299
@realLiangshiwei

I'm sorry.

What should i look at ?
I'm aware of HttpClientXsrfModule.
I'm using official template from Volosoft and it is included in CodeModule by default.
Client works on local machine but not in scenario i mentioned.

[2020-11-22 17:21] #6220 closed, assigned to stsrki

[2020-11-22 17:21] #6245 closed, assigned to stsrki

[2020-11-22 17:46] hikalkan opened #6308 "Document navigation extra properties"
With 4.0, a userful extension feature is coming...

You can add navigation properties as extra properties to an entity of a module.

For example, you can add a new property to the User that is PK (Id) of another entity. In this case, you can setup so the user edit & create forms will have a combobox to select the related entity and properly save to the database. In addition, you see the related en

[2020-11-22 17:49] hikalkan commented on #6162
duplicate of https://github.com/abpframework/abp/issues/6308

[2020-11-22 17:49] #6162 closed, assigned to nobody

[2020-11-22 20:08] michaelsudnik commented on #6306
I understand that, but I was confident that this was a bug - so thought I would raise it here directly. I'll put everything on the support site moving forward.

[2020-11-22 20:29] hikalkan commented on #6304
Just started: https://github.com/abpframework/abp/blob/rel-4.0/docs/en/Domain-Driven-Design-Implementation-Guide.md

[2020-11-23 01:45] maliming commented on #6302
Try ` [DependsOn(typeof(AbpIdentityAspNetCoreModule)]`

[2020-11-23 02:51] maliming commented on #6299
hi @bnymncoskuner

Do you have any idea?

[2020-11-23 03:09] v3eric opened #6311 "Use Z.EntityFramework.Plus.EFCore in Abp"
Use DeleteFromQueryAsync to report an error

`await _fileRepository.Where(x => x.Id == id).DeleteFromQueryAsync()`

Logger: Volo.Abp.AspNetCore.Mvc.ExceptionHandling.AbpExceptionFilter
路径：<HandleAndWrapException>d__11.MoveNext => AbpLoggerExtensions.LogException => AbpLoggerExtensions.LogWithLevel
消息：Ambiguous match found. System.Reflection.AmbiguousMatchException: Ambiguous match found.
   at Sys

[2020-11-23 03:18] maliming commented on #6311
This has nothing to do with abp.

[2020-11-23 03:18] #6311 closed, assigned to nobody

[2020-11-23 04:54] Essensoft-Roc commented on #6302
@maliming can't work

[2020-11-23 05:39] kunalpgithub opened #6312 "is there React UI Template, we can expect in future."
Just wanted to check if team is planning to build UI template for react as well.

React is becoming first choice for front end development now days compared to angular. Although for mobile you have react-native template, but I was wondering why you don't have UI template for react.

Also want to know why you prefer Angular or React.

[2020-11-23 05:53] maliming commented on #6302
Please use the ABP template project to reproduce the problem.

[2020-11-23 05:57] Essensoft-Roc commented on #6302
[Essensoft-Roc/test-abp-4-0-rc-3](https://github.com/Essensoft-Roc/test-abp-4-0-rc-3) is ABP 4.0.0-rc.3 template project.

[2020-11-23 06:34] SuriyaArul opened #6313 "Customize Blazor user UI in abp.io"
Hi, I need to add customize View options after Delete in red mark of below image for my purpose in Blazor UI.
( Abpframework : 3.3.0-rc.1, Blazor UI/Razor pages )
![UsersList](https://user-images.githubusercontent.com/68591063/99934468-10757c00-2d84-11eb-9210-5b08cdc3744d.png)

[2020-11-23 06:45] maliming commented on #6302
I don't get any errors when running `Web` project.

[2020-11-23 06:48] Essensoft-Roc commented on #6302
but can't run completely.
![image](https://user-images.githubusercontent.com/12685126/99935079-ccda3c80-2d9a-11eb-92af-0c015bc50295.png)

[2020-11-23 06:55] maliming commented on #6302
Well, It seems like a bug.

[2020-11-23 07:38] realLiangshiwei commented on #6312
It's in a backlog, no plans yet
See https://github.com/abpframework/abp/issues/1638

[2020-11-23 07:38] #6312 closed, assigned to nobody

[2020-11-23 08:23] #5449 closed, assigned to nobody

[2020-11-23 09:54] #6231 closed, assigned to mehmet-erim

[2020-11-23 09:54] #6233 closed, assigned to mehmet-erim

[2020-11-23 10:48] armanozak opened #6316 "Proxy Generator: Webpack cannot work with export * as syntax"

[2020-11-23 11:21] #6039 closed, assigned to hikalkan

[2020-11-23 12:14] hikalkan commented on #5305
done by https://github.com/abpframework/abp/commit/f3b5fab7e062ead02bb654763cf77bc223b87952

[2020-11-23 12:14] #5305 closed, assigned to hikalkan

[2020-11-23 12:52] maliming opened #6318 "AsyncHelper may block the DI container."
The framework uses `AsyncHelper` in some places. When we try to resolve the singleton service from the DI container in two threads, the application will be blocked. Because Autofac uses a lock during the resolve.

[code]

https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityOptionsFactory.cs#L35

[2020-11-23 12:52] maliming commented on #6302
See https://github.com/abpframework/abp/issues/6302

[2020-11-23 12:53] maliming commented on #6302
Move to https://github.com/abpframework/abp/issues/6318

[2020-11-23 12:53] hikalkan commented on #6297
Resolved by https://github.com/abpframework/abp/commit/be29aece0727bb3c50aa244ef778ebd0626d3531

Now, if the controller doesn't have `ExposeServicesAttribute`, it is not removed.

Also, if you don't want to remove a controller (even with that attribute), you can add the controller type to the `AbpAspNetCoreMvcOptions.IgnoredControllersOnModelExclusion` in the `ConfigureServices` method of your mod

[2020-11-23 12:59] sebitsi commented on #6297
@hikalkan Great work. Thanks.

Did you update documentation?

[2020-11-23 13:02] hikalkan commented on #6297
@maliming was that documented & where? I don't remember it?

[2020-11-23 13:07] sebitsi commented on #6297
@hikalkan I think you can add it into https://docs.abp.io/en/abp/latest/Dependency-Injection
There is all about expose service attribute.

[2020-11-23 20:03] gregbrant2 opened #6320 "abp-modal Angular UI breaks `<textarea>` behaviour when you press enter/return."
* Your **ABP Framework version**. 3.3.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI. Angular
* Exception message and **stack trace** if available (check the logs). n/a
* Steps needed to **reproduce** the problem.  See the repros in this repository https://github.com/gregbrant2/abp-modal-textarea-issue

The Angular abp-modal breaks the native

[2020-11-24 01:55] ruby0602 commented on #5693
you are right I haven't installed Redis, thanks

[2020-11-24 02:19] #5693 closed, assigned to nobody

[2020-11-24 03:17] maliming commented on #6297
I will handle this.

https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-a-controller

[2020-11-24 06:13] Coolioyang opened #6321 "Json parse boolean value error cause exception in feature management modal saving"
**ABP Framework version. 4.0.0-RC3**
**UI: Angular**
Exception message and stack trace if available (check the logs).

**Steps to reproduce.**
1. use CLI create new project:  ` abp new Boyo.CRM -t app --ui angular --separate-identity-server --preview`
2. add custom feature definition provider.
3. build and execute.

- Json convert faild on feature value true/false;

![image](https://user-images.gi

[2020-11-24 06:29] #6316 closed, assigned to armanozak

[2020-11-24 06:39] realLiangshiwei opened #6324 "JSON cannot be serialized after enabling entity history"
Steps:

  1. `abp new qa --preview`
  2. Enable Entity History
[code]
  3. Run the application and try login

![image](https://user-images.githubusercontent.com/16813853/100057570-b39cc300-2e62-11eb-91fc-a8b23b7c0d1c.png)

[2020-11-24 06:57] sebitsi commented on #6297
@maliming In documentation about dependency injection (https://docs.abp.io/en/abp/latest/Dependency-Injection) there is also section about replacing service. This section is very short.
Would you be so nice to add link into  this section to "guide overriding services".

[2020-11-24 07:13] xewn commented on #2352
LGPL-3.0 License has seriously affected the development of the Abpframework。

[2020-11-24 07:14] maliming commented on #6321
hi
It is already solved, Please try when RC4 is available, Maybe today.

https://github.com/abpframework/abp/pull/6236

[2020-11-24 07:14] #6321 closed, assigned to nobody

[2020-11-24 07:17] maliming commented on #6297
hi @sebitsi

Replacing services in dependency injection has nothing to do with removing controllers from the model.

[2020-11-24 08:08] hikalkan commented on #6157
I created an example application service:

[code]

And requested via JS proxies like that:

[code]

It works and the result is `my book / 5-42` as expected. The request URL: `https://localhost:44303/api/app/book/test?name=my%20book&price.Min=5&price.Max=42`

The problem here is that I had to pass `Min` and `Max` instead of `min` and `max`, because the generated proxy was:

[code]

I think we only

[2020-11-24 08:23] f-belhocine opened #6327 "Generic API Controllers removed after upgrading to Abp 3.3.1"
Hi all,
I have created generic controllers in the HttpApi project module and registred them as intended by AspNetCore based on ControllerNamingConvention.
All worked correctly when using Abp version 3.0.1.
yesterday i upgrared my modules to the latest stable version 3.3.1 and all noticed that all my generic API conttrollers were not visible in the swagger page; after refining I found in the logs l

[2020-11-24 08:30] enisn commented on #6157
It tries to build with each parameter.

For example, even I don't set **Price** property, but javascript uses it as `input.price.min`, so price is **undefined** at that situation.

But if it use as `input['price.min']` everything'll work great 👌 The PR #6290 solves that situation

[2020-11-24 08:38] hikalkan opened #6328 "Set dataType to text for string return values for dynamic JavaScript proxies"
Assume that we have a string returning app service method:

[code]

Currently, we have to set `dataType: 'text'` to be able to call it in JS:

[code]

Because `dataType` is `json` [by default](https://github.com/abpframework/abp/blob/dev/npm/packs/jquery/src/abp.jquery.js#L119).

JS Proxy generator should be set the `dataType` if the return value is a primitive type (string, int... etc.).

Current

[2020-11-24 08:43] hikalkan commented on #6157
I prefer

[code]

instead of

[code]

because the first one better matches to the method and DTO structure defined in the C# side. Proxy script should handle the conversion inside it by tolerating the null case.

[2020-11-24 09:03] enisn commented on #6157
As a pattern, that is much more useful, Maybe a null-check might be better solution on javascript side.

When **price** parameter is optional, following line has error, because of **price** is `null/undefined`, and javascript trying to access min or max property of price.

[code]

---
Same example without sending price:
[code]
It throws `Uncaught TypeError: Cannot read property 'min' of undefined`

[2020-11-24 09:17] #6305 closed, assigned to nobody

[2020-11-24 09:24] f-belhocine commented on #6327
I found the source of the issue, it's from the class
Volo.Abp.AspNetCore.Mvc.Conventions.AbpServiceConvention
the method RemoveDuplicateControllers.
And in my case the LocalityController<,,,,,,> inherits from CodableReferenceDataController<,,,,,,> and both are not abstract controller classes because the LocalityController add features to the base controller and it is as designed.

[2020-11-24 09:33] maliming commented on #6327
See https://github.com/abpframework/abp/issues/6288 https://github.com/abpframework/abp/issues/6297

[2020-11-24 09:41] abhishekbhalani commented on #6147
@maliming
Can you share your email?
I will share project via G Drive.

Thank you.

[2020-11-24 09:42] abhishekbhalani commented on #6147
We have added this package. let to remove reference and verify.

[2020-11-24 09:47] abhishekbhalani commented on #6147
Yes. removed AdminLTE reference then started working..

Thanks @tkezyo
Is any latest version do you have for AdminLTE Theme?

[2020-11-24 09:50] maliming commented on #6147
@tkezyo @abhishekbhalani

https://community.abp.io/articles/using-the-adminlte-theme-with-the-abp-framework-mvc-razor-pages-ui-gssbhb7m
https://github.com/mucahiddanis/Abp.AspNetCore.Mvc.UI.Theme.AdminLTE

[2020-11-24 09:55] f-belhocine commented on #6327
Thank you @maliming
so before upgrading to Abp 4.0 the only way is to override AbpServiceConvention.

[2020-11-24 09:56] maliming commented on #6327
Right.

[2020-11-24 09:57] #6327 closed, assigned to nobody

[2020-11-24 10:19] sebitsi commented on #6297
@maliming Yes you are right. Removing controllers is not related.

I was not precise enough.
All guide "Overriding services" is related to DI.

[2020-11-24 10:24] #6324 closed, assigned to maliming

[2020-11-24 11:42] kishoresahas opened #6331 "Moving Connection String to UserSecrets in .DbMigrator Project"
### Documentation
https://docs.abp.io/en/abp/latest/Connection-Strings#configure-the-connection-strings

### Issues

When I try to move the `.DbMigrator` Connection String from `appsettings.json` to [`UserSecrets`](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-5.0&tabs=linux). I am getting the below error.

`ArgumentNullException:` Value cannot be null. (Paramet

[2020-11-24 12:13] f-belhocine commented on #6299
Hi all,
I have exactly the same issue after upgrading to *Abp 3.3.1*.
Get actions work correctly but POST,PUT and DELETE return 400 HttpStatus.
In the Logs file i get :
2020-11-24 13:04:26.326 +01:00 [ERR] The required antiforgery header value "RequestVerificationToken" is not present.
2020-11-24 13:04:26.328 +01:00 [INF] Authorization failed for the request at filter 'Volo.Abp.AspNetCore.Mvc.Anti

[2020-11-24 12:19] abhishekbhalani commented on #6147
Resolved it.

[2020-11-24 12:19] #6147 closed, assigned to nobody

[2020-11-24 12:20] abhishekbhalani commented on #6331
@kishoresahas share your connection string.
provide more details to figured out the issue..

[2020-11-24 12:29] #6282 closed, assigned to realLiangshiwei

[2020-11-24 12:31] f-belhocine commented on #6299
Doing that for REST API controllers resolved the issue.

Configure<AbpAntiForgeryOptions>(options =>
            {
                options.AutoValidate = false;
            });

[2020-11-24 12:34] f-belhocine commented on #6299
Hi all,
I resolved the issue by disabling AutoValidateAntiForgeryToken in the REST API module.

`Configure<AbpAntiForgeryOptions>(options =>
            {
                options.AutoValidate = false;
            });`

[2020-11-24 14:39] #6244 closed, assigned to nobody

[2020-11-24 16:17] enisn commented on #6157
I've just realized. [dot notation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Property_accessors) doesn't work for nested objects. And this PR breaks structure of DTO as you say @hikalkan

But solves another issues like handling custom **ParameterName** if it's set in application.

[code]

What do you think @maliming ?

[2020-11-24 17:13] sebitsi commented on #6299
Hi @f-belhocine

This is not solution. It's workaround.
The problem is in HttpClientXsrfModule. It has limitations.
Look at this [stackoverflow](https://stackoverflow.com/questions/50510998/angular-6-does-not-add-x-xsrf-token-header-to-http-request).

I have tried to use url without http or https in front. Then  AutoValidateForgeryToken works again.

We will see what guys in Volosoft will say abou

[2020-11-24 18:05] hikalkan opened #6334 "Should use ModuleExtensionConfigurationHelper one time for each module"
Every module is initialized only one time for an application.

However, in unit tests, every module is initialized per test (we can also run them in parallel). This becomes problem for operations made on `ObjectExtensionManager.Instance` since it is singleton and the operations made on should care about concurrency and also on object property should only be configured once.

So, for each module cl

[2020-11-24 18:32] #4121 closed

[2020-11-24 23:32] martenw opened #6335 "CurrentUser not changed when user is updated"
Hi

I am having issues with [CurrentUser](https://docs.abp.io/en/abp/latest/CurrentUser#current-user) not being updated when the current user is modified. If I for example use the UI to change email of the user the email in ICurrentUser is not refreshed, same issue when setting the users email to confirmed.

Is this by design or is it a bug?

**ABP Framework version** : 3.3.1

[2020-11-25 00:33] xewn commented on #2232
[Use Elsa in abpframework](https://github.com/elsa-workflows/elsa-core/issues/468)
Are there any better suggestions?

[2020-11-25 01:25] maliming commented on #6335
You can reissue claims according to your authentication scheme. Or you can always get email and other info through the user id,

[2020-11-25 01:33] maliming commented on #6157
hi @enisn

My thoughts is:

`book.price` is an object. but for query string and form-data, they should be key-value.
`book.price.min` is the key.

[code]

Although the use of objects is friendly to c#, in fact, it is key-values. : )

[2020-11-25 02:46] alexandis opened #6341 "ORA-12899: value too large for column "ABDEV"."ABPAUDITLOGS"."EXCEPTIONS" (actual: 4000, maximum: 2000)"
3.2.0 / angular.

Sometimes this error:

Is it possible to configure for avoiding (truncate exception text, etc.)?

[2020-11-25 06:08] ghost commented on #1082
We are waiting this feature also

[2020-11-25 06:26] bnymncoskuner commented on #6299
Hello all,

I have seen that there is some confusion about how this token works. First, I'll give you the solution and then talk about the details.

The solution is simple. If you serve both your angular application and APIs from the same domain, you don't give the full path of APIs in `environment.ts`, instead, you give a relative path.
Let's look at the example given in the post;

Your APIs is h

[2020-11-25 07:25] martenw commented on #6335
Ok, so it is by design? But if ICurrentUser cannot be trusted to have correct data in the default setup does that not limit its use a lot?

If I should modify claims, can I monitor some event or flag to know when ICurrentUser need to be refreshed?

[2020-11-25 07:32] sebitsi commented on #6299
@bnymncoskuner Thanks for your good explanation.

Everything is logical now to me.

Yes please update docs. This should be fine.

I will left this issue open. Close it  freely when documents will be updated.

[2020-11-25 08:34] #6028 closed, assigned to stsrki

[2020-11-25 08:34] #6031 closed, assigned to stsrki

[2020-11-25 08:34] #6234 closed, assigned to stsrki

[2020-11-25 08:47] stsrki commented on #5547
@hikalkan I have several ideas and I would like your opinion.

1. Create `<Autofocus>` that would wrap an input. In the backend, it would detect screen size or device type and then focus the wrapped input. It would do this only the first time page is loaded

**Example**

[code]

2. The other solution would be similar in behavior, but I would use existing `Form` or `Validations` components with `Au

[2020-11-25 08:49] stsrki commented on #5547
PS. we already have a `Focus()` method on TextEdit that we can use to set focus programmatically. So we can use that as a first solution. But we still need to detect if it's in mobile device.

[2020-11-25 08:50] stsrki commented on #5548
@hikalkan The same question is on #5547

[2020-11-25 09:28] stsrki commented on #5547
Modals are a little problematic since they are always loaded on the page so we cannot use page-load to focus the input. SO for modals I propose:

3. Add Autofocus parameter, similar to 2nd approach. So whenever modal is activated through the `.Show()` or `Visible="true"` I can autofocus the input

[code]

[2020-11-25 09:29] stsrki commented on #5547
@cotur and @ilkayilknur I would also like your feedback on this if possible

[2020-11-25 09:53] git102347501 opened #6346 "Regarding the number of failed login attempts to unlock the user domain service account"
GitHub Issues

ABP Version: 3.2
Type: Angular

I need to write an application service that unlocks frozen accounts. I used the following method to set the lock date to null to achieve the purpose of unlocking.
`IdentityUserManager.SetLockoutEndDateAsync(user, null);`

But I found that just clearing the lock date is problematic.

For example, I set the system to freeze login after three incorrect p

[2020-11-25 10:33] #5480 closed, assigned to nobody

[2020-11-25 10:54] hikalkan commented on #5547
`Modal Autofocus="@search"` and `<Form Autofocus="@search">` seems fine to me.

[2020-11-25 10:54] ilkayilknur commented on #5547
Is it possible to write something like that?
[code]
I also like the first declarative approach. Honestly, I wouldn't say I like giving names to the components and pass them to the other components. This makes code more complicated.

[2020-11-25 10:56] hikalkan commented on #5547
I suppose `<TextEdit AutoFocus="true"/>` is [not possible](https://github.com/dotnet/aspnetcore/issues/5607). Otherwise, it would be my first choose :)

[2020-11-25 11:09] stsrki commented on #5547
@ilkayilknur `<TextEdit AutoFocus="true"/>` is the easiest approach, but it would work for pages only. It would not work well once it's placed inside of a modal.

`Modal Autofocus="@search"` and `<Form Autofocus="@search">`  makes more sense as that way we cover most of the things.

[2020-11-25 11:09] stsrki commented on #5547
🤔 Maybe when I do this `<TextEdit AutoFocus="true"/>` and I detect TextEdit is placed in modal, it would be automatically detected by the Modal and then focused...

[2020-11-25 11:12] cotur commented on #5547
This looks like the best way.

[2020-11-25 11:14] mehmet-erim opened #6347 "Generate abp module proxies and add to the @abp/ng.core package"

[2020-11-25 11:26] stsrki commented on #5547
I agree, and I will try and see how it goes.

[2020-11-25 11:39] #6016 closed, assigned to yekalkan

[2020-11-25 11:41] yekalkan opened #6348 "Cli: add-module command should handle all the process of adding a module to angular"

[2020-11-25 11:58] stsrki commented on #5547
I made a quick prototype and `<TextEdit Autofocus="true"/>` when placed in Modal is working really well. There are some limitations though.

1. Only **one** component can be marked with `Autofocus`.
2. I still need to figure out how to autofocus dynamically based on business rules that control which component will be autofocused.

[2020-11-25 12:11] maliming commented on #6341
hi @alexandis

You can try to change the `MaxExceptionsLengthValue ` then add new migrations.

https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/modules/audit-logging/src/Volo.Abp.AuditLogging.Domain.Shared/Volo/Abp/AuditLogging/AuditLogConsts.cs#L41

[2020-11-25 12:47] armanozak opened #6349 "Fix types and tests for extensions module in Angular UI"

[2020-11-25 13:52] redcatH opened #6351 "abp identityserver4 pressure test /connect/token super slow!"
### Documentation

my with services:
AuthServer.Host
MallService.Host

AuthServer.Host
[code]
MallService.Host
[code]
no batch request
![qq1](https://user-images.githubusercontent.com/30196697/100235558-8ab22600-2f67-11eb-887a-ba9fe8c79463.png)

ues web api benchmarks ,batch request
![qq](https://user-images.githubusercontent.com/30196697/100234942-b8e33600-2f66-11eb-8cef-59663879176e.png)

@hikal

[2020-11-25 13:57] maliming commented on #6351
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2020-11-25 17:23] alexandis commented on #5354
I have problem running Netcore 3.1 project with this version. Any thoughts?

[2020-11-25 17:25] hikalkan opened #6353 "Print View for the docs module"
It would be useful if we have a print view of the documents, so we may want to print and read from paper.

[2020-11-25 17:26] hikalkan commented on #5993
Why did you close this? I think it is still useful to write such an article.

[2020-11-26 04:37] redcatH commented on #6351
abp version:3.3.1
download:https://abp.io/get-started
[code]
url: http://192.168.201.103:44346/connect/token
jmteter
setting
![jem](https://user-images.githubusercontent.com/30196697/100308203-bf16f800-2fe2-11eb-9790-dd82765493fb.png)
![request](https://user-images.githubusercontent.com/30196697/100308255-e66dc500-2fe2-11eb-92fd-e0e195883889.png)
summary report
![report](https://user-images.github

[2020-11-26 05:34] redcatH commented on #6351
two test
Modify the connection string Add Max Pool Size=5000
Server=192.168.201.16,1433; Database=IdentityTest; User=sa; Password=123; Max Pool Size=5000;Min Pool Size=0

jmeter setting unchanging
![2](https://user-images.githubusercontent.com/30196697/100311985-0786e380-2fec-11eb-9c91-8a97639469a3.png)
![3](https://user-images.githubusercontent.com/30196697/100311995-0bb30100-2fec-11eb-96cf-0d3ef

[2020-11-26 05:44] #6297 closed, assigned to maliming

[2020-11-26 05:46] #6302 closed, assigned to maliming

[2020-11-26 05:46] maliming commented on #6318
Resolved by https://github.com/abpframework/abp/pull/6333

[2020-11-26 05:46] #6318 closed, assigned to hikalkan

[2020-11-26 06:19] gdlcf88 commented on #6335
CurrentUser is a shortcut to get claims.

[2020-11-26 06:42] realLiangshiwei opened #6354 "Blazor UI: Enable DelayTextOnKeyPress by default"
See https://github.com/stsrki/Blazorise/issues/1499.

[2020-11-26 06:59] #6349 closed, assigned to armanozak

[2020-11-26 07:25] #6235 closed, assigned to realLiangshiwei

[2020-11-26 07:32] martenw commented on #6335
That is a better description I guess, I have changed my app now to get user by Id instead of using CurrentUser when I need user information, I guess adjusting this description in docs could help others to not make my mistake:

[2020-11-26 07:32] #6335 closed, assigned to nobody

[2020-11-26 07:56] bnymncoskuner commented on #6299
Just updated the docs, it should be available soon. Closing this issue. Thanks for the input

[2020-11-26 07:56] #6299 closed, assigned to bnymncoskuner

[2020-11-26 09:29] redcatH commented on #6351
@maliming

[2020-11-26 09:38] git102347501 commented on #6346
I emptied the AccessFailedCount later and found that the problem still occurs. The reason may be because the LockoutEnabled of the account was not judged when the SetLockoutEndDateAsync was operated.
[code]
This error causes that if the user turns off the login freeze, the setting of the lock end time will still be triggered after the specified number of times, but the actual user does not turn on

[2020-11-26 10:38] fk-inspirit-tech opened #6362 "[RemoteService(IsMetadataEnabled = false)] ignored for controllers with api versioning"
Version 3.3.1
MVC
GitHub repo: https://github.com/FrancoisKr/APIExplorerPb

Steps to reproduce:
- add a MVC controller
- configure API versioning in ConfigureServices
- configure controller attributes:
[RemoteService(IsMetadataEnabled = false)]
[ApiVersion("3.0")]
[Route("v{version:apiVersion}/test/[action]")]
[ApiController]

The API Explorer still exposes the controller (although incorrectly).

[2020-11-26 10:52] aelhadi commented on #6362
Hello,

You can use swagger schema filter.
That's what I'm using

Regards

[2020-11-26 11:18] fk-inspirit-tech commented on #6362
This works:
[ApiExplorerSettings(IgnoreApi = true)]

[2020-11-26 12:23] vijay2358 opened #6363 "IHttpContextAccessor _httpContextAccessor"
I am getting the issue passing the session key between the module and application host.
IHttpContextAccessor   _httpContextAccessor

do you have sample how inject the session that can be access all modules and application host

1. I have created module
2. set the key at host level
3. when i access the module the session giving empty
Please help here.

[2020-11-26 13:23] mehmetuken opened #6364 "Update dependencies."
Many packages have new version and performance increments.
AutoFac 6.0 have 4x concurrency performance increase.

[2020-11-26 14:15] alexandis opened #6366 "Having issues when consuming Nuget packages functionality in main solution"
3.3.1 / angular

Hi, I've moved some base part (entities, constants, etc.) into Nuget packages and add them as a reference in my main solution:

    [Dependency(ReplaceServices = true)]
    public class LogAuditPropertySetter : IAuditPropertySetter, ITransientDependency

It used to work automatically when it was a part of one solution. Now seems like it does not.
Do I need to register this IAuditP

[2020-11-26 16:10] kishoresahas commented on #6331
`
  "ConnectionStrings": {
    "Default": "Server=(localdb)\\MSSQLLocalDB;Database=SampleDB;Trusted_Connection=True"
  },
`

[2020-11-27 02:15] realLiangshiwei commented on #6366
See https://docs.abp.io/en/abp/latest/Dependency-Injection
https://docs.abp.io/en/abp/latest/Module-Development-Basics#module-dependencies

[2020-11-27 02:15] #6366 closed, assigned to nobody

[2020-11-27 02:34] jack-gaojz opened #6369 "Add the "modal-dialog-scrollable" CSS class to the Abp-Modal tag helper"
Abp-Modal tag helper does not support the "modal-dialog-scrollable" feature. We should add the feature to the tag helper.
In the real environment, the feature is very useful.

I will like to create a pull request for this feature.
FYI.

[2020-11-27 02:42] maliming commented on #6363
hi

Your question seems to have nothing to do with abp, can you explain it in detail?

[2020-11-27 02:52] brokenthorn commented on #1119
How can I contribute? I want to localize any English error messages to Romanian, if that's OK with you guys.

[2020-11-27 03:05] maliming commented on #6351
You can test the application of Identity Server4(include Identity & EF Core)

https://identityserver4.readthedocs.io/en/latest/quickstarts/5_entityframework.html
https://identityserver4.readthedocs.io/en/latest/quickstarts/6_aspnet_identity.html

[2020-11-27 03:10] maliming opened #6370 "Use full async LDAP library."
The `Novell.Directory.Ldap.NETStandard` we currently use may have problems in async,

https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard/blob/master/src/Novell.Directory.Ldap.NETStandard/Connection.cs#L536
https://github.com/dsbenghe/Novell.Directory.Ldap.NETStandard/blob/master/src/Novell.Directory.Ldap.NETStandard/AsyncExtensions.cs#L7

[2020-11-27 03:31] td48260 opened #6371 "Authorization failed sending email."
**ABP Framework version** 3.3.1
**User Interface** type MVC

I have verified that the Abp.Mailing.Smtp settings in the appsettings.json file are correct. The password is encrypted. However, sending emails in code or through the ForgotPassword page does not work. "Authorization failed" appears in the log file.

* Steps needed to **reproduce** the problem.
Create a new project.
Create the Database.

[2020-11-27 04:41] maliming commented on #6371
It seems this not related to mail but authorization.

What's the details error message?

[2020-11-27 05:32] maliming commented on #1119
hi @brokenthorn  I move this to 4.1. I'll try implementing this.

[2020-11-27 06:07] maliming commented on #6157
@enisn

I will create a new PR base on [halil's reply](https://github.com/abpframework/abp/issues/6157#issuecomment-732728716)

https://github.com/abpframework/abp/pull/6374

[2020-11-27 06:21] ol964614088 commented on #1153
maybe there is a advice.
https://blog.csdn.net/qq_29621089/article/details/110229881

[2020-11-27 06:22] ol964614088 commented on #4955
maybe there is a advice.
https://blog.csdn.net/qq_29621089/article/details/110229881

[2020-11-27 07:05] maliming commented on #6370
https://github.com/flamencist/ldap4net seems great.

[2020-11-27 07:35] Nokecy opened #6373 "Localize Make the PermissionAppService.GetAsync method slow"
https://github.com/abpframework/abp/blob/810949f995c01d7df0c5173d184f93f0c6430cce/modules/permission-management/src/Volo.Abp.PermissionManagement.Application/Volo/Abp/PermissionManagement/PermissionAppService.cs#L73

1500 permission items：
remove Localize  before--10s+
remove Localize  after 300ms+

[2020-11-27 07:39] Nokecy commented on #6373
https://github.com/abpframework/abp/blob/810949f995c01d7df0c5173d184f93f0c6430cce/modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionManagement/Identity/RolePermissionManagementProvider.cs#L34

https://github.com/abpframework/abp/blob/810949f995c01d7df0c5173d184f93f0c6430cce/modules/identity/src/Volo.Abp.PermissionManagement.Domain.Identity/Volo/Abp/PermissionMan

[2020-11-27 07:44] #6351 closed, assigned to nobody

[2020-11-27 07:50] #6334 closed, assigned to realLiangshiwei

[2020-11-27 07:53] #6354 closed, assigned to realLiangshiwei

[2020-11-27 08:05] NecatiMeral opened #6375 "Docs module - General enhancements"
Hi,

I've examined the docs module and must say, that I really like it.
Here are some ideas I would like to discuss / contribute:

1. Make the `share on` options configurable (either fully enable / disable or customize individual items)
2. Read the `DocsElasticSearchOptions` from configuration by default. This makes different CI / CD deployments easier
3. Add a option to `DocsUiOptions` to enable

[2020-11-27 08:22] maliming commented on #6373
Thanks for the feedback, I will check.

[2020-11-27 08:27] cotur commented on #6369
It will be good feature for [Modal](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Modals) tag helper.

We are waiting your PR. Thanks. :)

[2020-11-27 08:38] #5515 closed, assigned to nobody

[2020-11-27 08:39] ChangYinShung opened #6376 "how to contribute locale text( zh-Hant) for commercial module"
* Your **ABP Framework version** : 3.3.1
* Your **User Interface** : angular
 this is file-management module , i want to translate those text  into  traditional chinese.
![image](https://user-images.githubusercontent.com/2546026/100427917-25c51000-30ce-11eb-956f-03dd92d68a42.png)

how to contribute locale text( zh-Hant) for pro module (such as chat,saas,audit log,text templates...)  ?

[2020-11-27 09:01] #6157 closed, assigned to maliming

[2020-11-27 09:05] maliming commented on #6376
hi @ChangYinShung
Thanks, I will send the  `abp-translation.json` file to your Gmail.

https://docs.abp.io/en/abp/latest/CLI#translate

![image](https://user-images.githubusercontent.com/6908465/100430804-3aa3a280-30d2-11eb-8071-5c07b94a2578.png)

[2020-11-27 13:34] maliming commented on #6370
https://github.com/abpframework/abp/pull/6368/commits/e91dd06f3e86c307fe32dc61ad05e878d4c11dae

[2020-11-27 13:34] #6370 closed, assigned to maliming

[2020-11-27 15:00] ebicoglu opened #6378 "Add no-random-port parameter to ABP CLI when generating a new solution"
Add a new argument to the CLI so that it doesn't set random ports while generating a new solution.
Parameter name: `--no-random-port`

[2020-11-27 15:08] dht6903 commented on #6226
After I updated my nuget packages from 2.7.0 to 3.3.1, I also ran into this issue

[2020-11-27 20:10] jhallam3 commented on #3026
Please advise where this should be built, im very new to ABP Commercial and finding it difficult to understand where code should go..

[2020-11-27 21:51] td48260 commented on #6371
Sorry, my mistake. This is not a bug. I just did not understand how the framework was working.

[2020-11-27 21:51] #6371 closed, assigned to maliming

[2020-11-27 23:09] #5450 closed, assigned to nobody

[2020-11-28 07:54] maliming commented on #6226
We need detailed steps to reproduce.

[2020-11-28 10:04] glsoft8888 opened #6379 "login"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2020-11-28 12:28] #6379 closed, assigned to nobody

[2020-11-28 14:57] DmezaSpeed commented on #1082
We are new but waiting to for this feature, we need a dead line!

[2020-11-28 19:46] nadeemkhoury commented on #5993
Hi Guys,
any update on that article ?
I spent all day without any success to make it work.

[2020-11-28 19:59] nadeemkhoury commented on #5965
Hi Guys,
any update on this article?
I tried a lot but didn't succeed.

[2020-11-28 20:08] alexandis commented on #4719
Do I get it right, that my issue is not resolvable now? I have Angular module accessing several server-side endpoints. I want to be able to indicate, where I get the resources from. However, all I can do is to supply a resource name, not an appName. And seems like it tries to access any resource from 'default' apiName endpoint, I can't change that:

[code]

[2020-11-29 02:56] maliming commented on #1082
@DmezaSpeed https://github.com/abpframework/abp/issues/1082#issuecomment-731579375

[2020-11-29 02:56] #5632 closed, assigned to nobody

[2020-11-29 03:07] kbowma opened #6382 "How to have login page as default landing page"
What is the best approach in Abp to have the login page as the default landing page when the application starts? Currently, I am brute forcing it with `@attribute [Microsoft.AspNetCore.Authorization.Authorize]` in the _Imports.razor page but this still loads the main form and then redirects which causes the user to see the main form for a second.

License: Abp Commercial - Teams Edition
Language:

[2020-11-29 05:29] #5187 closed, assigned to nobody

[2020-11-29 10:20] trgiangvp3 opened #6383 "How to customize datatable ajax callback"
I saw the code in this file [datatable-extension.js](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/datatables/datatables-extensions.js)
At the end of `datatables.createAjax` function, from [Line 360](https://github.com/abpframework/abp/blob/8f99538d06ff9ea0a5c55f5e88740b5030315c46/framework/src/Vol

[2020-11-29 10:36] #5572 closed, assigned to nobody

[2020-11-29 12:30] kunalpgithub opened #6384 "Incorrect proxy generated for file upload API"
I created service in application which expect file input.

`      public async Task<IEnumerable<ScheduleDto>> CreateAsync(IFormFile File)`

I am able to see API generated correctly from swagger and tested it its working fine.

![image](https://user-images.githubusercontent.com/17749200/100541821-69558080-326c-11eb-9720-9b75eb52306e.png)

However when I generated client side proxy using abp generat

[2020-11-29 13:44] maliming opened #6385 "Use discard task in the Timer_Elapsed method to execute the NotifyAsync method of IExceptionNotifier."
[code]

https://github.com/abpframework/abp/blob/c9e0ae2e42aa8743775f07a08aa99306fd2f8269/framework/src/Volo.Abp.Threading/Volo/Abp/Threading/AbpTimer.cs#L101-L105

https://github.com/davidfowl/AspNetCoreDiagnosticScenarios/blob/master/AsyncGuidance.md#timer-callbacks

[2020-11-29 15:19] tarikogut commented on #6382
add index.cstml authorize attribute

[2020-11-29 17:24] hikalkan commented on #6304
I have some notes to improve the guide, but it is initially done: https://docs.abp.io/en/abp/4.0/Domain-Driven-Design-Implementation-Guide

[2020-11-29 17:24] #6304 closed, assigned to hikalkan

[2020-11-29 22:59] carcer opened #6387 "PermissionStore log entries do not include Serilog enrich values supplied by AbpSerilogMiddleware"
After adding serilog elasticsearch integration, it is observed that log entries from PermissionStore to do include the enrich values supplied by `AbpSerilogMiddleware` (UserId, CorrelationId, ClientId, etc.) are not included.  If required, I can supply a simple app that recreates the issue

* Your **ABP Framework version**: **3.0.3**
* Exception message and **stack trace** if available (check the

[2020-11-30 01:49] fmpfmp opened #6388 "How to use multiple event bus of rabbitmq in one project?"
How to use multiple event bus of rabbitmq in one project?

[2020-11-30 02:22] maliming commented on #6383
The `callback `function is belongs datatables.

https://datatables.net/reference/option/ajax

[2020-11-30 02:26] maliming commented on #6387
Please : )

[2020-11-30 03:02] ThreeLambs opened #6390 "how to get source code of Volo.Abp.Identity module"
I follow the docs，but failed.
[code]
[code]
[code]
- How to confirm module name ?

[2020-11-30 03:06] maliming commented on #6390
[code]

[2020-11-30 03:06] #6390 closed, assigned to nobody

[2020-11-30 03:30] #6376 closed, assigned to nobody

[2020-11-30 08:04] #6145 closed, assigned to nobody

[2020-11-30 08:15] #6378 closed, assigned to yekalkan

[2020-11-30 08:46] #6347 closed, assigned to mehmet-erim

[2020-11-30 09:12] myomyinthan opened #6394 "Aspnetzero Xamarin integrate with abp commercial"
Hi, we are planning to buy abp commercial license. Is it easy to integrate aspnetzero xamarin app with abp commercial ?

Thanks

[2020-11-30 09:17] github-ingenium commented on #1517
I was not using `ExtraProperties` so below solved my issue..

[code]

[2020-11-30 09:46] mehmet-erim opened #6397 "Fix the font loading error of React Native UI template"

[2020-11-30 10:24] #5595 closed, assigned to nobody

[2020-11-30 11:02] hikalkan opened #6398 "Use Microsoft.SourceLink.GitHub"
Can we (and should we) use https://www.nuget.org/packages/Microsoft.SourceLink.GitHub for the projects in this repository?
We currently use SourceLink.Create.CommandLine ([see](https://github.com/abpframework/abp/blob/dev/common.props#L14))

[2020-11-30 11:14] #6394 closed, assigned to nobody

[2020-11-30 11:44] mehmet-erim opened #6399 "Create a script that removes the lock files in the UI templates"

[2020-11-30 12:28] sunedp commented on #1311
I need to change the default avatar in the abp framework commercial version for the logged-in user from this image
![image](https://user-images.githubusercontent.com/8393468/100609973-8f842a80-3317-11eb-8a7d-c68c965aa62f.png)

to this image:
![image](https://user-images.githubusercontent.com/8393468/100610253-091c1880-3318-11eb-851b-5fd135e9d908.png)

Can someone please help me and tell me where i

[2020-11-30 13:38] torronen commented on #4898
If working with Abp.io commercial, but then at some point would like to publish our solution as open source, are there restrictions on that? At least, we would need to remove commercial modules. Apart from that are there other licensing issues, such as code created with Abp Suite?

[2020-11-30 15:50] alexandis opened #6403 "Not possible to download modules from ABP Suite"
3.3.1 / Angular

we used to successfully download ABP modules source code using ABP suite, but after upgrading to 3.3 it is no longer possible: nothing happens now, just progressbar shown loading. It is like that for 2 weeks or so:

![image](https://user-images.githubusercontent.com/6149843/100631822-ccaae580-3334-11eb-88fc-5bdf6362ac20.png)

P.S. We have commercial licence.

[2020-11-30 19:09] eng-mohammed-emam commented on #6300
Hello,
According to the latest document of ABP Framework version 3.3.1,

https://docs.abp.io/en/abp/latest/Tutorials/Part-2?UI=NG&DB=EF#bookcomponent

In this document, I want to search by `isbn` and `bookName` instead of getting all books from the database.

How can I pass these additional search criteria to the `query` variable in the following statement:

    ngOnInit() {
        const bookStre

[2020-11-30 21:24] melfahn commented on #6178
I second this question

[2020-12-01 00:20] jack-gaojz commented on #6226
We have customized some logic in our projects, we need to check it for more detail. Sorry for the delay provides the detailed steps.

[2020-12-01 01:11] realLiangshiwei commented on #6403
I think it is your network problem, and we are not discussing commercial content here : )

[2020-12-01 01:11] #6403 closed, assigned to nobody

[2020-12-01 01:13] maliming commented on #6300
@mehmet-erim Can you help?

[2020-12-01 01:25] maliming commented on #4898
hi @torronen

You can send an email to info@abp.io to learn more info about ABP commercial.

[2020-12-01 01:26] maliming commented on #1311
hi @sunedp

Please create a question on https://support.abp.io/

[2020-12-01 01:29] maliming commented on #5664
hi @274188A

You can change the text if you like. : )

https://github.com/abpframework/abp/blob/e505ef2931e0f85813530db702c99f767431e913/abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json#L48

[2020-12-01 02:03] OldKing-lion commented on #6388
I also want to know this .. I just use multi queues but I do not know how to use multi exchanges

[2020-12-01 02:28] 274188A commented on #5664
done

[2020-12-01 02:28] #5664 closed, assigned to nobody

[2020-12-01 02:34] OldKing-lion opened #6408 "How can I update to Net 5 easily?"
Net 5 performance has improved a lot.. But I upgraded it failed,It has many errors? So ,Do I must wait for 4.0_final officially?

[2020-12-01 02:36] maliming commented on #6408
Yes. Maybe December 3.

[2020-12-01 02:36] #6408 closed, assigned to nobody

[2020-12-01 03:07] qqzhw commented on #6388
+1

[2020-12-01 03:24] #6328 closed, assigned to maliming

[2020-12-01 05:23] sunedp commented on #1311
hi @maliming I tried to create this question on  https://support.abp.io/ but I can only log in and can not add a question there.

[2020-12-01 05:51] alexandis commented on #6403
I'm not the only one having this issue - and we're all in different networks. And I can't see the way to contact regarding general ABP site issues. It's definitely not a commercial ticket either. Please provide me with relevant ABP contact. Thanks.

[2020-12-01 06:21] maliming commented on #6373
hi @Nokecy I didn't find any performance issues. We used caching. Can you share a project?

[2020-12-01 07:28] yekalkan opened #6416 "Cli get-source command must support angular-only modules"
There are few situations that we need this.

[2020-12-01 08:07] yekalkan commented on #6403
@alexandis info@abp.io

[2020-12-01 08:17] ebicoglu opened #6420 "Show a warning on logging in via CLI for multiple organizations"
When the user has multiple organizations, an exception is thrown from APB CLI while using `abp login` command.
Check if the user has provide the ` --organization` or `-o` parameter when the user has multiple organizations.
Show a user friendly error message as below
### You have multiple organizations, please specify your organization with ` --organization` parameter.

`abp login <username> --orga

[2020-12-01 08:50] #6399 closed, assigned to mehmet-erim

[2020-12-01 09:16] mehmet-erim opened #6422 "Improve ListService document for extending the query of ListService"

[2020-12-01 09:42] mehmet-erim commented on #6300
Hello @eng-mohammed-emam

You can extend the `query` parameter of the `ListService`'s `hookToQuery` method.

Firstly you should pass your own type to ListService as shown below:

[code]

Then update the `bookStreamCreator` constant like following:

[code]

You can also create your params object.

Define a variable like this:

[code]

Update the `bookStreamCreator` constant:

[code]

Then you can p

[2020-12-01 11:20] #6420 closed, assigned to yekalkan

[2020-12-01 11:52] goxiaoy opened #6424 "DistributedEventBus consumer is created before SubscribeHandlers"
In the current implementation of  Kafka and RabitMq event bus, `SubscribeHandlers` should be called before any consumer is created, current implementation will cause message ignored as no handlers in extreme cases, expecially when you set a break point between them

I am not familiar with other event bus.  So please check all of them.

https://github.com/abpframework/abp/blob/6522c13a58252eb3042f0

[2020-12-01 12:31] ebicoglu opened #6425 "Add version parameter for Suite install/update command to ABP CLI"
The below command will be available after the commit:

[code]

[2020-12-01 12:34] #6425 closed, assigned to ebicoglu

[2020-12-01 12:41] #6397 closed, assigned to mehmet-erim

[2020-12-01 13:32] dht6903 commented on #6226
1. open my solution which abp version is 2.7.0 using VS2019
2. open Nuget manager for the entire solution
3. select update tab
4. select all Volo.Abp packages
5. update
6. after update to the latest version 3.3.1, build the solution and start the main project
7. got the error from the log file

[2020-12-01 14:08] #5885 closed, assigned to nobody

[2020-12-01 14:12] muhammedshaaban7 opened #6426 "Quick Support :: Could not load type 'Volo.Abp.Domain.Entities.EntityNotFoundException' from assembly 'Volo.Abp.Ddd.Domain, Version=3.3.1.0"
Kindly quick support, when I post any API in swagger, this error is shown as below

![image](https://user-images.githubusercontent.com/64292395/100751302-32ac7100-33f8-11eb-97bc-f8ecf6fcd4af.png)

abp version => 5.14.0
thank you

[2020-12-01 15:00] fengyeju opened #6427 "Embedded file return 404"
abp 3.3.1
I visit a embedded file(such as 'test1-abp.min.js'), it can not be found.
I create a file to Volo.Abp.AspNetCore.Tests/wwwroot/SampleFiles/test1-abp.min.js, then use this code, it not pass.
[code]
![20201201225813](https://user-images.githubusercontent.com/3335682/100756933-bb430580-3428-11eb-8c63-f81dfe1e70d4.jpg)

[2020-12-01 16:04] d-oit opened #6428 "Volo.Abp.HangFire.csproj update Hangfire nuget package reference to latest version"
Any reason why not using the latest 1.7.* nuget version?

` <PackageReference Include="Hangfire.AspNetCore" Version="1.7.*" />`

current reference:

[code]

[2020-12-01 16:22] martenw opened #6430 "Invalid object name 'IdentityServerIdentityResourceClaims'"
Trying 4.0 RC 5 Blazor installation following https://docs.abp.io/en/abp/4.0/Getting-Started?UI=Blazor&DB=EF&Tiered=No

Clicking the login link after startup takes me to https://localhost:44307/authentication/login-failed:
![image](https://user-images.githubusercontent.com/1492596/100766429-eada1980-33f8-11eb-8984-80e64a5d1fa3.png)

Log:
[code]

Found a note on the class at https://github.com/abpf

[2020-12-01 16:33] armanozak opened #6431 "Object extensions do not work properly"
- Property case does not match service response
- Validation is broken

[2020-12-01 17:02] ahmed007boss commented on #6132
Could we use other base framework instead of bootstrap to create theme like [Fomantic UI (FUI) ](https://fomantic-ui.com/)

[2020-12-01 22:49] eng-mohammed-emam commented on #6300
Dear @mehmet-erim

Thanks for your solution. It solves my problem.

I faced a new problem and hope you help.
Is there any way to reset the selected page in the paginator UI to 1 every time a new search is done?

For example,
If the selected page in the paginator is 20 and the new search result is 3 pages, I want sometimes to tell UI to select page # 1.

When I set the property `skipCount = 0;`, it

[2020-12-02 00:47] Nokecy commented on #6373
I did some more tests, when too many localized resources do not exist, the speed is too slow。

[2020-12-02 00:50] Nokecy commented on #6373
In addition, replacing Permission Grant Repository with PermissionStore can improve 2-3s @maliming

[2020-12-02 01:09] maliming commented on #6430
Can you share a project?

[2020-12-02 01:10] maliming commented on #6428
Related https://github.com/abpframework/abp/issues/6364

[2020-12-02 01:37] maliming commented on #6373
I'll test, but why is there a `not exist` situation? What is your use case?

The **PermissionStore** is using cache but **PermissionGrantRepository** is not.

[2020-12-02 01:37] realLiangshiwei commented on #6426
The latest stable version of ABP vNext is 3.3.1, are you talking about aspnetboilerplate?

[2020-12-02 02:06] jack-gaojz commented on #6226
Suggestion: please use the ABP CLI tool to upgrade the ABP version, that will better than this way. FYI.

[2020-12-02 02:07] jack-gaojz commented on #6226
I have fixed this issue. Some packages version not matched ABP 3.3.1, I have checked them one by one and set the specified version, it works fines. Thanks.

[2020-12-02 02:12] maliming commented on #6427
Change your project file.

[code]

[2020-12-02 02:12] #6427 closed, assigned to nobody

[2020-12-02 03:10] Nokecy commented on #6373
I will change my project and add missing items

Does it need to be changed here? I can PR

[2020-12-02 03:19] maliming commented on #6373
Welcome to contribute. It's will be a breaking change.

https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionManagementProvider.cs#L11

[2020-12-02 03:22] #6226 closed, assigned to nobody

[2020-12-02 03:26] xyfy commented on #4641
@lukebooroo @realLiangshiwei  Must mannual using pass the **TenantId**& change the **TenantId** in the event publish & handle??

[2020-12-02 05:28] maliming commented on #6095
We need wait for https://github.com/dotnet/runtime/issues/36785

[2020-12-02 06:18] mehmet-erim commented on #6300
To achieve this, add `offset` input to the `ngx-datatable` tag like this:

[code]

You can change the page value as below:

[code]

[2020-12-02 06:48] #6431 closed, assigned to armanozak

[2020-12-02 07:15] martenw commented on #6430
Sent you an invite to repo

[2020-12-02 07:32] #6060 closed, assigned to ilkayilknur

[2020-12-02 07:50] yekalkan opened #6434 "Identity module Angular UI: user creation modal is redundantly large"
I think it doesn't have to be this large/wide:

![image](https://user-images.githubusercontent.com/5793291/100843645-b82d3100-348b-11eb-8c0d-fd25a932b2c0.png)

[2020-12-02 07:53] ghd258 opened #6435 "How to integrate the syncfusion Blazor components with the ABP Blazor UI?"
How to integrate the syncfusion Blazor components with the ABP Blazor UI?

[2020-12-02 09:58] eng-mohammed-emam commented on #6300
Dear @mehmet-erim,

Thanks again.

I hope to mention the solution of adding additional parameters to search criteria in the ABP documentation even as a note.

[2020-12-02 09:58] #6300 closed, assigned to nobody

[2020-12-02 11:30] synps opened #6442 "Ng serve stop working after abp generate-proxy"
Hi,

I was testing ABP Framework 4.0.0-RC5 with Angular UI. I created very simple domain objects and DTO's. When I use abp generate-proxy in the root folder, ng serve throws following error.

[code]

src/app/proxy/books/index.ts
[code]

Possibly related with https://github.com/angular/angular-cli/issues/17231
and with https://github.com/TypeStrong/ts-loader/issues/1121

[2020-12-02 12:24] mehmet-erim opened #6443 "Fix the @abp/ng.schematics building errors"

[2020-12-02 12:42] maliming commented on #6442
hi

Please share you backend code.

[2020-12-02 12:43] maliming commented on #6442
hi

Please share your backend code.

[2020-12-02 13:10] #6434 closed, assigned to mehmet-erim

[2020-12-02 13:15] synps commented on #6442
As far as I can see removing `as Dtos` part from the first line of src/app/proxy/books/index.ts solves the problem. Why do you require backend code, is not it a bug between Angular and Webpack? You can reproduce `as Dtos` part by using following directory structure;

[code]

[2020-12-02 13:29] davidzwa commented on #5150
I got HTTPS working by adding Orchestrator Support with Linux Containers in the VS2019 setup. The Dockerfile is nothing special and therefore not worth sharing here. The most important is the compose file and compose override. VS2019 added the following compose **override** file (the override is a special VS2019 trick to apply VS2019 only variables before launching the debugger):
[code]
**Note** t

[2020-12-02 13:43] davidzwa commented on #5150
Still running into error `[13:41:02 WRN] User GUID_HERE failed to provide the correct password.` when running in Docker and HTTP

[2020-12-02 13:58] mehmet-erim commented on #6442
Hello @synps

Can you run the following command and generate the proxies again:

[code]

[2020-12-02 14:49] alexandis opened #6446 "Issue with consuming data inside the replaced component"
3.3.1 / Angular.

I used to successfully replace **NavItemsComponent** in the previous application.
Here the situation is slightly different: application consists of several project. **NavItemsComponent** is in one project and _main Angular application_ (**app module**) - in another.

When I follow your pattern to replace the component, I am getting several similar errors like the following error:

[2020-12-02 14:54] lukebooroo commented on #4641
@xyfy when on receiving an event, there is no session so **TenantId** is unknown. There are two options, the event fired could supply the **TenantId** . Alternatively, if you're sure it won't create a vulnerability, you can disable the tenant filter.

[code]

https://docs.abp.io/en/abp/latest/Data-Filtering#idatafilter-service-enable-disable-data-filters

[2020-12-02 15:02] pvaz opened #6447 "Antiforgery, cookies, http and react native problems."
ABP Framework version: v4.0.5-RC
UI type: MVC
Tiered (MVC) or Identity Server Seperated (Angular): yes
Exception message and stack trace:

The cookie 'XSRF-TOKEN' has set 'SameSite=None' and must also set 'Secure'

Steps to reproduce the issue:

Using the app-pro template, setting https and localhost urls to http and fixed ip, to be able to use react native project, identityserver is unable to log

[2020-12-02 15:16] #5799 closed, assigned to armanozak

[2020-12-02 15:48] xyfy commented on #4641
I inject the&nbsp; Icurrenttenant&nbsp; interface&nbsp; in the handle&nbsp; ,&nbsp; it&nbsp; has&nbsp; tenantid . but&nbsp; sometimes it had&nbsp; null&nbsp; value

---Original---
From: "Luke Smith"<notifications@github.com&gt;
Date: Wed, Dec 2, 2020 22:54 PM
To: "abpframework/abp"<abp@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"xyfy"<benguahao@foxmail.com&gt;;
Subject: R

[2020-12-02 15:57] lukebooroo commented on #4641
@xyfy Injecting current tenant into the event handler will not work.

[2020-12-02 16:27] alexandis commented on #6446
Closing, since accidentally ngZone was sent as null to the base class.

[2020-12-02 16:27] #6446 closed, assigned to nobody

[2020-12-02 17:56] synps commented on #6442
Thank you for the new ng.schematics package. That solved the problem.

By the way now I receive a warning during proxy generation as follows. Does not affect functionality and does not bother me neither but wanted to let you know.

[code]

[2020-12-02 18:55] tonjurah commented on #5940
I am having this happen with non-ABP Blazorise.

[2020-12-02 23:06] ertucaglar opened #6451 "I get logout every time I deploy to aws"
**ABP Version:** 3.3.0

I get logout every time I deploy. My application on AWS ElasticBeanstalk (OS: Linux, Engine: nginx)

Even if I deploy, sessions should not drop.

[code]

[2020-12-03 01:01] maliming commented on #6451
hi
You should check the logs first.

[2020-12-03 01:02] xyfy commented on #4641
but  it worked before I changed some thing ,it works well as a long time.

after I changed some depends on  ,it can not work.

when I restore the changes ,it work.

So I am very confused，when and where the current tenant  will set the value?

the event handler is a back-end worker? why it can work as well, before I changed some things?

[2020-12-03 01:52] realLiangshiwei commented on #6447
See https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

[2020-12-03 01:52] #6447 closed, assigned to nobody

[2020-12-03 04:17] anaya-upadhyay opened #6454 "Timeout Expired while saving records"
I am getting a Timeout Expired while saving records.

I have a transaction which adds records into multiple (5 to be exact) tables with more than 2000 records. When I debug the application in Visual Studio it takes almost 121.8 seconds to complete the entire transaction. But after deployment, it says Timeout.

My project is using these versions of ABP and ASPNet Core:
ABP Framework - 2.3.0
ASPNet

[2020-12-03 04:31] realLiangshiwei commented on #6454
I think it nothing todo with ABP. You should optimize your code, Just suggest:

 1. Do not set `AutoSave` to  true
 2. Try bulk insert
 3. Upgrade ABP to the latest version (We did a lot of optimization)

[2020-12-03 04:32] anaya-upadhyay commented on #6454
@realLiangshiwei Thank you for the suggestion.

But how do I perform Bulk Insert?
I don't see AddRange() method in the repository.

[2020-12-03 04:36] realLiangshiwei commented on #6454
You can custom repository or use EF Core API in appservices.

See https://docs.abp.io/en/abp/latest/Entity-Framework-Core#access-to-the-ef-core-api

[2020-12-03 04:39] anaya-upadhyay commented on #6454
@realLiangshiwei I get this error when I set `AutoSave` to false:

The instance of entity type 'tablename' cannot be tracked because another instance with the same key value for {'Id'} is already being tracked. When attaching existing entities, ensure that only one entity instance with a given key value is attached.

Can I do anything regarding this?

Maybe I can use a `DbContext` in this Service.

[2020-12-03 05:07] pvaz commented on #6447
This problem is not related with chrome and this solution does not work.

the problem happens when using app-pro template.

[2020-12-03 05:17] #6443 closed, assigned to mehmet-erim

[2020-12-03 05:24] mehmet-erim commented on #6442
Thanks for the information.
I am closing the issue. If you have faced any issue about that, feel free to open the issue.

[2020-12-03 05:24] #6442 closed, assigned to mehmet-erim

[2020-12-03 05:46] realLiangshiwei commented on #6447
I see your question on the support website, I will reply to you on it

[2020-12-03 06:54] realLiangshiwei opened #6456 "Blazor: Support sub-application deployment"
![image](https://user-images.githubusercontent.com/16813853/100975111-75955280-3578-11eb-8b90-e2513b4c1194.png)

[2020-12-03 07:58] #5616 closed, assigned to nobody

[2020-12-03 08:16] bookcont opened #6457 "OrganizationUnitManager"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2020-12-03 08:16] #6457 closed, assigned to nobody

[2020-12-03 09:59] Stirda opened #6461 "Disabled property on BlazoriseUI.Components.EntityAction"
Could `EntityAction` have a `Disabled` property acting like the one on `Button` component? I'd want some of them to be disabled based on a binded property.

This is not completely what I am looking for, but I tried to use `IsVisible` instead. But even `IsVisible` is internal. I cannot find a way to write my own `EntityAction` because I cannot inherit from it and use IsVisible because of this. And

[2020-12-03 10:42] essensoft-roc commented on #6302
ABP 4.0.0-rc.5
Unit test failed.
https://github.com/essensoft-roc/TestProject
[code]

[2020-12-03 10:44] maliming opened #6464 "Please check the 4.0 migration guide if you get problems with the upgrade."
https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4_0

[2020-12-03 10:45] #5600 closed, assigned to stsrki

[2020-12-03 10:57] ilkayilknur commented on #6461
Good suggestion, @Stirda. I think we can add a public `IsVisible` property to control the visibility of the `EntityAction`. I also saw some workarounds in our templates because of lacking this property. We can also consider adding the `Disabled` property. It would be useful in some scenarios. I will add this to our backlog, and I'll let you know when we release it.  FYI @hikalkan

[2020-12-03 11:06] ilkayilknur opened #6465 "Adding public Visible parameter to the blazor EntityAction component"
It would be useful to add a public `Visible` property to control the visibility of the `EntityAction.` We also need to decide how this works with `RequiredPolicy`. In some scenarios, developers may need to show a disabled action instead of making it completely invisible. We also need to think about that and decide on it.

Suggestion: https://github.com/abpframework/abp/issues/6461

[2020-12-03 11:07] #6461 closed, assigned to nobody

[2020-12-03 11:09] #5627 closed, assigned to mehmet-erim

[2020-12-03 11:14] Stirda commented on #6465
If `IsVisible` scope comes back to public, maybe @hikalkan would want to not interfere with `RequiredPolicy` introduced [here](https://github.com/abpframework/abp/pull/5890#issuecomment-714298468). This would probably not a basic `{get; set;}` anymore.

For `Disabled`, no problem. But note that I don't know how to name it : `Disabled` with is @stsrki [Blazorise naming convention](https://blazorise

[2020-12-03 11:19] stsrki commented on #6465
@Stirda I removed **Is** prefixes from all my component parameters over a year ago. They were necessary long ago when Blazor didn't have good IntelliSense support. I have no plans to return prefixes at this stage.

[2020-12-03 11:39] yekalkan opened #6466 "Cli project generation: Fix react native ports for tiered projects"
reported by @mehmet-erim

[2020-12-03 13:23] davidzwa commented on #2184
I was just wondering. Is a package like AppMetrics + Grafana maybe an interesting thing to use here?
I have succesfully implemented a Grafana dashboard with InfluxDB for metrics and Loki for request/logging handling.

Think it would be a great module for ABP. Let me know if I'm on the right track here.

[2020-12-03 13:24] #5612 closed, assigned to nobody

[2020-12-03 13:45] martenw commented on #6430
Did some more digging today and realized that the wrong db was being used.

I have another local abp site and for that site I have defined the connectionstring as a [user secret](https://docs.microsoft.com/en-us/aspnet/core/security/app-secrets?view=aspnetcore-5.0&tabs=windows#environment-variables), apparently that connectionstring was picked up by my new project even though a connectionstring wa

[2020-12-03 13:45] #6430 closed, assigned to nobody

[2020-12-03 13:48] hikalkan opened #6468 "CLI: Run abp bundle on add-module for Blazor UI"
For Blazor UI projects, add-module and add-package commands should trigger `abp bundle` for the Blazor project. In this way, if new module needs to add a global script/style, it will be automatically added.

Send PR to me and @ilkayilknur

[2020-12-03 13:49] #5547 closed, assigned to stsrki

[2020-12-03 13:49] #5548 closed, assigned to stsrki

[2020-12-03 15:44] niufwshd opened #6470 "abp 4.0 web project hang up when starting"
- abp version 4.0  .net version 5.0
 - issue

![image](https://user-images.githubusercontent.com/12984401/101051664-b749eb80-35c0-11eb-8d8a-785a21cceda6.png)
the web project hang up here.
my web project haven't new business logic,same as template.
domain.csproj and contract.proj project has 789 of  POCO class files,and entityframeworkcore.csproj has 789 of respository class files too!
when I exclu

[2020-12-03 15:45] roupijiaojiaobao commented on #6382
@if (!CurrentUser.IsAuthenticated)
{
    Response.Redirect("/Account/Login");
}

[2020-12-03 23:01] dhehir opened #6471 "Generate Proxy doesn't allow underscores in name"
ABP Version: 3.3.0
UI: Angular

Issue:
When defining a DTO with a property name with an underscore, the abp generate-proxy step will strip the underscore.
The api will serialize the underscore but the typescript generated code will not have the underscore - causing underfined errors:
C#:
![image](https://user-images.githubusercontent.com/48895661/101098668-687b7080-3617-11eb-94b7-3a3df01ba8e3.png)

[2020-12-03 23:09] dhehir opened #6472 "Make eol configurable for generate-proxy"
ABP Version: 3.3.0
UI: Angular

Whenever I run abp generate-proxy - it will generate files with \n. This means git thinks every single file has changes when running with core.autocrlf=true
Any chance we can get a configurable line ending option to the cli?

[2020-12-04 00:30] vnetonline commented on #4829
I am using the new 4.0.0 and having the same issues with the same error message ..... there seems to be some conflict with the outdates jQuery.

[2020-12-04 00:33] vnetonline opened #6473 "I am using the new 4.0.0 just tired to install the Blogging Module and there seems to be error with tui-editor"
I am using the new 4.0.0 and having the same issues with the same error message ..... there seems to be some conflict with the outdated jQuery.

![image](https://user-images.githubusercontent.com/15242923/101106672-af239780-3624-11eb-8626-32565bca74c3.png)

_Originally posted by @vnetonline in https://github.com/abpframework/abp/issues/4829#issuecomment-738471268_

[2020-12-04 01:02] maliming commented on #6470
* Steps needed to **reproduce** the problem.

[2020-12-04 01:08] charleszh-dev opened #6474 "Add Huawei cloud support to Blob Storing"
Are there plans for the Blob Storing to support Huawei Cloud?

Huawei Cloud OBS
https://www.huaweicloud.com/en-us/product/obs.html

If no one else does this feature, can I do it? I already have some code that I am using myself.

[2020-12-04 01:09] 274188A opened #6475 "BundleContributor - Enhancement Request for remote sources"
Using v 4.0.0

The [BundleContributor](https://docs.abp.io/en/abp/latest/UI/Blazor/Global-Scripts-Styles) could be enhanced to allow the  developer to add references to remote source addresses (non-cached) scripts and stylesheets.

For example - in this case a ref to Google Maps API (which is not downloadable)

![image](https://user-images.githubusercontent.com/40014477/101108482-8e047c00-360f-11e

[2020-12-04 01:16] #5686 closed, assigned to nobody

[2020-12-04 01:18] maliming commented on #6474
We always welcome developers to contribute code.

[2020-12-04 01:25] 274188A commented on #6475
I think there should also be an option to have scripts.styles placed in the `<head>` or `<body>`

[2020-12-04 02:02] ertucaglar commented on #6464
Please fix the solution file for the row.

`<TargetFramework>netcoreapp3.1</TargetFramework>`

I'm using Rider

[2020-12-04 02:50] trgiangvp3 commented on #6383
It would be nice if ABP could provide a customizable calback like below
[code]

[2020-12-04 05:20] zhjmao commented on #6351
i encountered the same problem。
abp version:4.0.0

https://localhost:44357/connect/token

![image](https://user-images.githubusercontent.com/50391373/101125088-56a7c680-3633-11eb-9ee2-b124b667c774.png)

[2020-12-04 05:26] OldKing-lion opened #6476 "/connect/token return "invalid_scope""
I updated to 4.0 success,but gettoken error:/connect/token return "invalid_scope"
![image](https://user-images.githubusercontent.com/13028615/101125481-51974700-3634-11eb-9632-b9b56e147d21.png)

[2020-12-04 05:33] charleszh-dev commented on #6476
try exclude scope from the request body.

[2020-12-04 05:38] niufwshd commented on #6470
@maliming，thank you for your fast reply. I have created the [FarVisonMes repository](https://github.com/niufwshd/FarVision-Mes) , you can check it out. In my computer,I have added migration and updated database, perhaps you may change the connectionstring. I think  the project has too many files to resolve during starting and it need much time. I have tried it again,and it started successfully aft

[2020-12-04 05:42] OldKing-lion commented on #6476
No affect
![image](https://user-images.githubusercontent.com/13028615/101126443-7987aa00-3636-11eb-95ff-957728a47c46.png)

[2020-12-04 05:46] #6476 closed, assigned to nobody

[2020-12-04 06:27] #5623 closed, assigned to nobody

[2020-12-04 06:27] OldKing-lion opened #6477 "the property 'isAuthenticated' of the currentUser is false"
I got the token and use it to request 'api/abp/application-configuration' in headers ,but the property 'isAuthenticated' of the currentUser is false

![image](https://user-images.githubusercontent.com/13028615/101129509-a8a11a00-363c-11eb-8f98-6fb3183ef5cc.png)

[2020-12-04 06:39] essensoft-roc commented on #6302
@maliming

[2020-12-04 06:57] amin168 opened #6478 "The 'IApiScopeeRepository' should be 'IApiScopeRepository'"
![image](https://user-images.githubusercontent.com/10808093/101131851-f029a500-3640-11eb-9dda-fbda4c124a00.png)

[2020-12-04 06:59] #6478 closed, assigned to nobody

[2020-12-04 06:59] maliming commented on #6478
Thanks @amin168

[2020-12-04 07:00] OldKing-lion opened #6479 "Can not find the package (>=0.9.3-preivew2) Blazorize"
![image](https://user-images.githubusercontent.com/13028615/101132071-4e568800-3641-11eb-9846-4718d3725510.png)

[2020-12-04 07:16] maliming commented on #5960
I will fix the Github ci problem when everyone finishes the upgrade.

https://github.com/abpframework/abp-samples/actions

[2020-12-04 07:19] maliming commented on #6470
I can't understand your repository in a short time.
Can you use the abp template project and provide detailed steps?

[2020-12-04 07:25] OldKing-lion commented on #6477
![image](https://user-images.githubusercontent.com/13028615/101134113-dbe7a700-3644-11eb-90a1-48f26a3d8fe3.png)
Scope does not contains my scope..

[2020-12-04 07:28] maliming commented on #6373
I did the PR.https://github.com/abpframework/abp/pull/6480

[2020-12-04 07:31] OldKing-lion commented on #6477
the data in table 'identityserveridentityresources',I migrated it before:
![image](https://user-images.githubusercontent.com/13028615/101134607-9d9eb780-3645-11eb-963d-cae34d87fdf0.png)

the data in table 'identityserveridentityresources':
![image](https://user-images.githubusercontent.com/13028615/101134682-ba3aef80-3645-11eb-9bfc-1efbbba09e37.png)

[2020-12-04 07:32] ebicoglu commented on #6416
also can you write the usage of this command to this support ticket https://support.abp.io/QA/Questions/632/How-can-I-download-the-framework-and-source-code-for-pro-modules

[2020-12-04 07:34] maliming commented on #6383
ok, I will give it a try.

[2020-12-04 07:37] rqx110 commented on #6479
add this:
https://github.com/abpframework/abp/blob/ed1edd381289f6d1d9e11037f1ee016054f30f76/templates/app/aspnet-core/NuGet.Config#L4

[2020-12-04 07:44] #6479 closed, assigned to nobody

[2020-12-04 07:45] jmglezgz opened #6481 "🎉 4.0 IS HERE!! WELL DONE ABP COMMUNITY!!, REALLY HARD AND GREAT JOB!! CONGRATS!!"

[2020-12-04 07:48] OldKing-lion commented on #6479
use the package Volo.Abp.BlazoriseUI,it is ok

[2020-12-04 07:51] #6466 closed, assigned to yekalkan

[2020-12-04 07:56] OzBob commented on #6248
updated NPM packages in :
$abp-samples\BookStore-Angular-MongoDb\angular
updated nuget packages in:
$abp-samples\BookStore-Angular-MongoDb\aspnet-core

ran yarn in both OK

but gulp had no effect.
[code]

Is there a gulp task file missing from the sample folder?

I'd like to help get this sample working for a new user, but at the moment it's missing an uptodate tutorial and/or readme.md

[2020-12-04 07:59] maliming commented on #6248
The https://github.com/abpframework/abp-samples has been upgraded recentlly.

[2020-12-04 08:02] maliming commented on #6383
See https://github.com/abpframework/abp/pull/6482/files

[2020-12-04 08:03] #6481 closed, assigned to nobody

[2020-12-04 08:06] OldKing-lion commented on #6477
I guess the reason is there is no data in table Ids4 apiscope

[2020-12-04 08:27] OldKing-lion commented on #6477
I created a new project use abp cli 4.0 and find the initial  apiscope method,it's not in my project that migrate from 3.3.2
I think it should be add in migration docs

[2020-12-04 08:32] xyfy opened #6484 ""Abp.Timing.Timezone":"Local" got an error after update to v4.0"
I set "Abp.Timing.Timezone":"Local" in appsetting.json

after I update to v4.0

it caught an error

[code]

now I changed it ,can not work still
[code]
below config works on windows
[code]

 Do this config only take the windows timezone id?

will it work in a linux container?

[2020-12-04 08:34] xyfy commented on #6484
I am sorry ,this is an error before abp v4.0 ,I will check it

[2020-12-04 08:34] #6484 closed, assigned to nobody

[2020-12-04 08:43] gentledepp opened #6485 "Idea: RFC 7807 - Problem Details for HTTP APIs"
Abp out of the box returns a very rich set of validation errors in the API responses.

I was wondering, however, if it would be possible to plug-in a different response formatter for error messages.
E.g. by default, Abp uses an (e.g.) AbpValidationResponseFormatter which returns an error message, details, etc.

We could, then, implement our own Rfc7807ValidationResponseFormatter to comply with the

[2020-12-04 08:50] realLiangshiwei opened #6486 "Problem with the identity server page of the commercial demo"

[2020-12-04 08:50] #6486 closed, assigned to nobody

[2020-12-04 09:29] maliming commented on #6331
@kishoresahas

I will not merge these codes, but you can refer to it.

https://github.com/abpframework/abp/commit/64d2ce32686ee36d4d6457c98ed06e85ed6223f6

[2020-12-04 09:29] #6331 closed, assigned to maliming

[2020-12-04 09:33] maliming commented on #6485
hi

Abp uses NET Core middleware and mvc filters to implement a custom format response. You can customize it freely.

[2020-12-04 10:04] trgiangvp3 commented on #6383
Thank you. That's exactly what I want

[2020-12-04 10:04] #6383 closed, assigned to maliming

[2020-12-04 10:04] amin168 commented on #6477
@OldKing-lion Change `IdentityServerApiScopes` table's `Enabled` field from `fasle` to `true`

[2020-12-04 10:06] ghost opened #6487 "A little trick to extend filters to PagedAndSortedResultRequestDto, and keep the auto-API clean in swagger docs."
There is no filter in **PagedAndSortedResultRequestDto** of method GetListAsync in **CrudAppService** application service by default, you have to create a new class that inherits from PagedAndSortedResultRequestDto to extend filter.

[code]

And write a new method

[code]

You can't override the base.GetListAsync because the type of GetSchemeListDto, the Auto-API generates two APIs in swagger docs

[2020-12-04 10:16] #5605 closed, assigned to nobody

[2020-12-04 10:25] realLiangshiwei commented on #6473
Clear node_modules and run `npm install & gulp` to restore packages.

[2020-12-04 10:43] compass-yan opened #6488 "AbpTypeExtensions.IsAssignableTo throw exception ,when we try to invoke a httpContext in a log middleware."
#### Basic Info
abp vnext version:3.3.1
webapi
#### stack trace
`
System.ArgumentNullException: Value cannot be null. (Parameter 'type')
   at Volo.Abp.Check.NotNull[T](T value, String parameterName)
   at System.AbpTypeExtensions.IsAssignableTo[TTarget](Type type)
   at Volo.Abp.AspNetCore.Mvc.ModelBinding.AbpExtraPropertiesDictionaryModelBinderProvider.GetBinder(ModelBinderProviderContext contex

[2020-12-04 10:48] maxrizwork opened #6489 "/Identity/Users/CreateModal and EditModal not showing up"
* Your **ABP Framework version**.
ver3.2 ( but I noticed it also on ver3.0)
I'm using it with all the source code with **no changes** for debugging pourpose. No nuget packages.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
ASP.NET MVC
* Exception message and **stack trace** if available (check the logs).
This is strange because I do NOT have an

[2020-12-04 11:13] maliming commented on #6488
You should provide detailed code instead of some screenshots.

If you can use the template project to reproduce the problem, please provide the steps.

[2020-12-04 11:18] maliming commented on #6477
The migration documentation has explained the changes in the Identity Server.

You should check the code of the 4.0 template project instead of sharing many screenshots, it will not help.

https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4_0#upgraded-to-identity-server-4-1-1

[2020-12-04 11:18] #6477 closed, assigned to nobody

[2020-12-04 11:19] maliming commented on #6489
hi

* Steps needed to **reproduce** the problem.

[2020-12-04 11:34] maxrizwork commented on #6489
I find a way to debug (Volo.Abp.Identity.Web project) and I found out that I regularly execute (no errors) the get method:
`public virtual async Task<IActionResult> OnGetAsync(Guid id)`
but, this is the problem, if I put a breakpoint inside the razor page EditModal.cshtml it is NOT stopping. It's not passing from there.

If I do the same for example with \Roles\EditModal I have exactly the same be

[2020-12-04 12:01] aricyu opened #6490 "Many errors appear in the log when running in the production environment"
* **ABP Framework version** ：4.0.0
* **User Interface** type：Vue
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.

There is no problem in the local development environment, and an error is reported when deployed to the production environment，And does not affect the operation of the project

production environment：
- CentOS L

[2020-12-04 12:15] aricyu opened #6491 "production environment: grantType=implicit, Stayed on connect/authorize/callback?client_id= , showing 502 Bad Gateway"
* **ABP Framework version** ：4.0.0
* **User Interface** type：Vue
* Exception message and **stack trace** if available (check the logs).
### no problem
- wagger/index.html :oauth2 (OAuth2, authorizationCode)
- identity server 4 : Account/Login
### 502 Bad Gateway

vue(ng),grantType=implicit,

Stayed on `connect/authorize/callback?client_id=  `, showing 502 Bad Gateway

[code]
* Steps needed to **re

[2020-12-04 13:12] aricyu commented on #6491
solved.
It is the configuration problem of nginx:
upstream sent too big header while reading response header from upstream

Configuration:
[code]

[2020-12-04 13:12] #6491 closed, assigned to nobody

[2020-12-04 13:43] ChiakiYu commented on #6490
solved.
It may be a configuration problem of nginx
But I don’t know why.
After adding the configuration, no error is reported.
Configuration:
[code]

[2020-12-04 14:10] vnetonline commented on #6473
okay that worked ... but can't upload the Cover image .... do I need to create a folder for files? ..... if so where ?

[2020-12-04 14:42] compass-yan commented on #6488
@maliming Ok,I haven use detailed code instead of these screenshots.And I try to reproduce in the template project ,It don't have this problem.So I think maybe there is wrong in  my setting .

[2020-12-04 15:48] feynmanloo commented on #57
Any progress on CQRS + MediatR ?

[2020-12-04 19:54] ahmed007boss opened #6494 "Is it possible replace base UI framework while creating a theme ?"
Is it possible replace base bootstrap  while creating a new theme ?
 for example I want to  use some other UI framework like  [foundation](https://get.foundation/) or [Fomantic ](https://fomantic-ui.com/)

[2020-12-04 20:15] lprichar opened #6495 "404 for https://localhost:44392/Account/Login"
If you're creating a bug/problem report, please include followings:

* **ABP Framework version**.: 4.0.0
* Your **User Interface** type: Angular

* Steps needed to **reproduce** the problem.

1. Generate with latest template like `abp new MyProject -u angular --connection-string "Server=localhost;Database=LeesStore3;Trusted_Connection=True"`
2. Create DB, Open VS, Compile, Run Migrations, run `yar

[2020-12-05 02:16] maliming commented on #6495
Are you exec the `MyProject.DbMigrator` project?

[2020-12-05 02:19] jack-gaojz commented on #6369
I am so sorry. I just want to contribute my codes change but always failed.
![image](https://user-images.githubusercontent.com/74571567/101230684-c2486d00-36e1-11eb-8b41-9693470bafb6.png)
My steps as below:
1. Clone the ABP source code to my local environment with Github desktop.
![image](https://user-images.githubusercontent.com/74571567/101230780-4995e080-36e2-11eb-85d2-67deb0ff6cb3.png)
2. Open

[2020-12-05 02:31] lprichar commented on #6495
Correct

[2020-12-05 06:11] trgiangvp3 commented on #6487
What is this for?
I don't understand why we should create another input DTO?

[2020-12-05 08:42] maliming commented on #6495
I can't reproduce the problem with your steps.

[2020-12-05 09:10] niufwshd commented on #6470
@maliming , My steps as follows:

1. Explor the api.io [site](https://abp.io/get-started),and enter "FarVision-Mes" as the
 solution name,press the "create" button,then  the zip file will be downloaded.
2. Open FarVision.Mes.sln in vs2019,switch to the FarVision.Mes.DbMigrator project ,open appsettings.json ,change the default connectstring's to "Server=.;Database=Mes;Trusted_Connection=True;Multi

[2020-12-05 10:50] #5636 closed, assigned to nobody

[2020-12-05 12:24] slm-w opened #6496 "error when calling:abp generate-proxy"
Hello,
I'm facing an error when using the command: abp generate-proxy
ABP Framework version: Version 4.0.0 (Stable).
User Interface: Angular.
Steps needed to reproduce the problem: Executing the command abp generate-proxy
Exception message:please double chek  the URL in the source project environment and make sure you application is up and running
In addition, how can I fix the warning: Couldn't d

[2020-12-05 12:39] bnymncoskuner commented on #6384
Hello,

You can use the built-in `RestService` however you need to call it as follows. The one generated by `generate-proxy` is not aware of file uploading yet. We plan to introduce a feature that would automatically detect file uploading and create services accordingly.

I suggest you create a new service. Do not edit the generated one because it will be updated when you run `abp generate-proxy`

[2020-12-05 12:40] #6384 closed, assigned to nobody

[2020-12-05 13:01] Loongle opened #6497 "why need make emailadrdess required on identity domain"
@yekalkan
I saw you remove the Email field from the IdentityUser constructor. Why now add it back into the constructor?
#753

[2020-12-05 14:35] compass-yan commented on #6488
I had solve this issue.And pull  request.So close it.I add about that argument nullable judge

[2020-12-05 14:35] #6488 closed, assigned to nobody

[2020-12-05 14:38] lprichar commented on #6495
I tried again on a different machine and it worked.  Must be something environmental.  A 404 with those logs is frustratingly unhelpful though.  I'll close this issue, since I ultimately got it working, but it might be helpful for future users who find themselves in this spot to interpret this issue as a logging failure.   If you choose to go that route just reopen and I'll be happy to provide any

[2020-12-05 14:38] #6495 closed, assigned to nobody

[2020-12-05 15:51] #5184 closed, assigned to mehmet-erim

[2020-12-05 17:03] charleszh-dev commented on #6474
I will continue to complete the development of this feature on [#6501](https://github.com/abpframework/abp/pull/6501).

[2020-12-05 17:03] #6474 closed, assigned to nobody

[2020-12-05 19:17] #4990 closed, assigned to nobody

[2020-12-05 19:20] ahmetpekbas commented on #6496
Seconded. I have the exact same issue on a fresh cli installation of the preview version.

[2020-12-05 20:24] ahmetpekbas opened #6502 ""npm install" unable to resolve dependency tree for angular/common (using ABP CLI default project)"
ABP Framework version: 4.0 Stable
UI: Angular 11

Installing npm packages fails on the default angular project fails.
The dependencies don't seem to be fully updated to Angular 11 yet.

Reproduction:
1. Create a new project using the ABP CLI with Angular as a UI
2. navigate to the "angular" folder and perform "npm install"

**Error:**

[2020-12-05 21:32] cotur commented on #6369
You should fork the repository to your account, then push your changes on your forked repository. After that you can easily create pull request.

Here is a documentation for you: https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-12-05 23:23] idreeshaddad commented on #5885
Just created a fresh Abp v4 project. Everything works fine, swagger shows the endpoints just fine, DB created just fine, admin user logged in just fine, but I got the same error:
`[Invalid Module] Backend module "app" does not exist in API definition.`

Node: v14.15.1
NPM: v6.14.9
Angular CLI: 11.0.3
OS: win32 x64
@abp/ng.schematics: ~4.0.0

What have you tried to solve it?

[2020-12-06 01:16] ycysdf opened #6503 "Proxy Generator: Generics with defaults are not created correctly"
abp version：4.0.0
abp cli version：4.0.0
"@abp/ng.core": "4.0.0",
"@abp/ng.schematics": "4.0.0",

class declare：

![image](https://user-images.githubusercontent.com/28867488/101268785-5b3ebd00-37a2-11eb-8faa-2ea31abbc80b.png)

method declare：

![image](https://user-images.githubusercontent.com/28867488/101268738-c2a83d00-37a1-11eb-8478-4a23bd2ea2db.png)

method generate result：

![image](https://us

[2020-12-06 02:04] jack-gaojz commented on #6369
Thanks so much. :)

[2020-12-06 04:09] aceiling opened #6504 "Why does my ITransientDependency not work?"
Mongo Migrator
I hava a MongodbContextMigrator,when i run DbMigrator program,In DbMigrationService program, the _dbSchemaMigrators can't get my custom MongodbContextMigrator,I wonder what's wrong with it.
Source Code is
<img width="955" alt="1" src="https://user-images.githubusercontent.com/20451024/101271184-8e417a80-37bb-11eb-97e8-af33f1853e1e.png">
<img width="1232" alt="2" src="https://user-im

[2020-12-06 12:10] maliming commented on #6504
Please share the code and steps.

[2020-12-06 12:13] maliming commented on #6502
Have you tried run yarn command to restore the packages?

[2020-12-06 13:48] yinchang0626 commented on #6416
@yekalkan @ebicoglu  @maliming :
Hi , thank your explanation how to get souce code for business license,
but I can't find source code of `@volo/abp.commercial.ng.ui`  package after I downloaded all modules of [list](https://support.abp.io/QA/Questions/632/How-can-I-download-the-framework-and-source-code-for-pro-modules).
So,my question is how to get `@volo/abp.commercial.ng.ui`  source code or can

[2020-12-06 16:37] hikalkan commented on #6504
Your class name should be `MongoDbDataDictionaryDbSchemaMigrator`

[2020-12-06 17:54] ahmetpekbas commented on #6502
I just tried it and "yarn install" seems to be working.
Nonetheless, the issue still stands that npm is recognizing the dependency issue and thus not working.

[2020-12-06 18:33] slm-w commented on #6496
@atpekbas did you fix it?

[2020-12-06 22:50] slm-w commented on #6496
@maliming

[2020-12-07 01:19] maliming commented on #6496
@slm-w Have you run the `API.Host`?

[2020-12-07 01:21] aceiling commented on #6504
@hikalkan tks,it works. why does class name affect dependency injection?

[2020-12-07 01:21] maliming commented on #6502
@mehmet-erim What do you think?

[2020-12-07 01:26] maliming commented on #6416
@mehmet-erim Any advice?

[2020-12-07 01:26] slm-w commented on #6496
@maliming  yes,using F5 in visual studio,

[2020-12-07 01:29] #5671 closed, assigned to nobody

[2020-12-07 01:35] jack-gaojz opened #6506 "ABP CLI update the specified version not work"
My ABP CLI Version: 4.0.0.
My project ABP version: 3.0.5
When I used the "abp update -v 3.3.2" command to update the ABP version, the console message show update to the "4.0.0" not my expected version "3.3.2".
![image](https://user-images.githubusercontent.com/74571567/101300112-74616f80-386f-11eb-8abe-ce94ff54476f.png)

I have tried to downgrade my ABP CLI version to 3.3.2, it still not work.
![i

[2020-12-07 01:44] realLiangshiwei commented on #6494
Hi,

The core framework is designed as UI independent and can work with any type of UI system, while there are multiple pre-built and integrated options are provided out of the box.

You can create your own theme, And someone is already doing it: https://github.com/realLiangshiwei/Lsw.Abp.AspNetCore.Mvc.UI.Theme.Stisla,  https://github.com/wakuflair/Abp.AspNetCore.Mvc.UI.Theme.AdminLTE

[2020-12-07 01:47] realLiangshiwei commented on #6506
See https://docs.abp.io/en/abp/latest/CLI#update

Currently only supports updating to the latest version

[2020-12-07 01:52] maliming commented on #6496
Is your project is brand new template project?

[2020-12-07 01:57] realLiangshiwei commented on #6490
We don't have vue UI type.

I think it has nothing todo with abp. You should check your custom theme

[2020-12-07 01:57] #6490 closed, assigned to nobody

[2020-12-07 01:58] #5629 closed, assigned to nobody

[2020-12-07 02:01] slm-w commented on #6496
@maliming  yes

[2020-12-07 02:04] jack-gaojz commented on #6506
ok, thanks so much. :)

[2020-12-07 02:19] maliming commented on #6496
@mehmet-erim What do you think?

[2020-12-07 05:45] realLiangshiwei commented on #6473
See https://docs.abp.io/en/abp/latest/Blob-Storing

[2020-12-07 05:45] #6473 closed, assigned to nobody

[2020-12-07 06:43] OzBob commented on #6248
Thank you,  I tested with the latest code...

The site works, but only after I fork it and then make these changes:

https://github.com/OzBob/abp-samples/blob/master/README.md

then run your 'Yarn, Gulp' suggestion.

5
Testing the /api/app/author end point without doing 'login' first displays a HTML login page instead of an API 401 result.

At least now I have the basics working to trial the ABP +

[2020-12-07 06:44] vnetonline commented on #6080
The doors to LearnABPFramework.com  are now open and I’m so excited to start helping you Learn, Build, Deploy and Monetise applications and modules built using the ABP Framework.

I have completed screen casting the first free course using ABP Framework 4.0 based on .Net 5.0.

Become a Free Member

[2020-12-07 07:10] mehmet-erim commented on #6502
`npm install` command works, we have tested. Please check your node version @atpekbas. See my installed node and npm versions:

![image](https://user-images.githubusercontent.com/34455572/101320155-4894b880-3874-11eb-8995-5b163d2070aa.png)

[2020-12-07 07:21] mehmet-erim opened #6512 "Remove @angular/localize package from @abp/ng.core dependencies"
We have to add the `@angular/localize` package to the app template dependencies and remove it from core package dependencies. Because some people have angular 11 while some people have angular 10. Therefore, this dependency should not be a dependency of the core package.

[2020-12-07 07:23] DanzigGLT opened #6513 "Volo.Abp.EntityFrameworkCore.Oracle missing in Abp 4.0"
The new Net5 / Efc5 compliant driver was released on 16th of November. Any specific reason why the Oracle-Package is missing in the final of ABP framework 4.0?

[2020-12-07 07:25] maliming commented on #6513
Can you share a link?

[2020-12-07 07:27] armanozak commented on #6471
Hi @dhehir,

I have just tried this with v3.3.0 and the property name was generated as `changeFromReference_percent: number;`.

What is your ABP CLI version? Thanks.

[2020-12-07 07:27] realLiangshiwei commented on #6513
https://github.com/oracle/dotnet-db-samples/issues/81#issuecomment-728258466

[2020-12-07 07:39] ebicoglu commented on #6496
I would like to mention that if you're running the host project via Visual Studio and the client is making requests from another computer (not from localhost) then your host will not accept requests! this is a limitation of Visual Studio. When VS starts a web app it's not publicly available. You can use `dotnet run` and check the URL from the client's computer.

[2020-12-07 07:43] DanzigGLT commented on #6513
Oracle.ManagedDataAccess.Core 2.19.100 @ nuget.org

that was said to be one!?

[2020-12-07 07:48] mehmet-erim commented on #6416
The `@volo/abp.commercial.ng.ui` package in the `volo/abp/npm/ng-packs/packages/commercial-ui` folder can be downloaded in the same way as other Angular packages. For Suite and CLI, we need to make it available for download. Please let me know if you encounter any problems on the Angular side

[2020-12-07 07:59] maliming commented on #6513
We are using https://www.nuget.org/packages/Oracle.EntityFrameworkCore/ , It's not support EF Core 5.0 yet.

[2020-12-07 08:07] DanzigGLT commented on #6513
Ah, my bad, tomatoes on my eyes. sorry...

[2020-12-07 08:09] #6513 closed, assigned to nobody

[2020-12-07 08:18] armanozak opened #6515 "Proxy Generator: API Not Available error should include URL info"

[2020-12-07 08:49] realLiangshiwei commented on #6506
We can add this feature in 4.1

[2020-12-07 08:50] #5663 closed, assigned to nobody

[2020-12-07 08:58] xyfy commented on #6484
It will cause an error in **json serializer** with using the *System.Text.Json*

[2020-12-07 09:02] xyfy opened #6517 "issuse with using System.Text.Json in abp v4.0.0"
if I set using **Json.Net** like below,it works fine
[code]
but when using **System.Text.Json**
the nullable value , such as DateTime?  Guid? , will can not work when it received an empty string value.

[2020-12-07 09:14] #6515 closed, assigned to armanozak

[2020-12-07 09:16] ahmetpekbas commented on #6502
It seems to have been a version problem with npm.

Fails with:

Succeeds with:

From my perspective, it is not an issue with abp anymore, as I was able to run it successfully with npm.

Ticket can be closed.

[2020-12-07 09:27] xyfy commented on #6497
May be it required by asp.net.identity?

[2020-12-07 09:29] #6502 closed, assigned to mehmet-erim

[2020-12-07 09:29] dhehir commented on #6471
Running with 3.3.0. I'll see if I can make a simple test case for you.
![image](https://user-images.githubusercontent.com/48895661/101333642-f59a2000-38ca-11eb-976b-642874653083.png)

[2020-12-07 09:36] yinchang0626 commented on #6416
@mehmet-erim
As I know,
If I want to get source code,I must do it by Suite or CLI.
Is possible get the source code in  `volo/abp/npm/ng-packs/packages/commercial-ui` folder?
Are you mean I can access source code by git or other way(business license)?
If `CLI` is not only way to get source code,please tell me how to.

Abp Angular project is also a great framework.
so,I just need to know more about

[2020-12-07 09:43] yekalkan commented on #6416
@yinchang0626 Have you seen my answer at https://support.abp.io/QA/Questions/44/How-to-access-non-open-source-UI-codes#answer-34fc32c6-8394-8af0-d2d0-39f92f619fdb?

[2020-12-07 09:43] maliming commented on #6470
Add those code to your `MesEntityFrameworkCoreModule's ConfigureServices` method.  Always use your **repository interface** instead of implementation.

[code]

[2020-12-07 10:22] gdlcf88 commented on #6504
You can find it in the ABP framework documentation: https://docs.abp.io/en/abp/latest/Dependency-Injection#exposed-services-by-convention

[2020-12-07 10:43] yinchang0626 commented on #6416
@yekalkan
Yes I saw,and then send email to `info@abp.io`,
but i didn't recieve `@volo/abp.commercial.ng.ui` source code but get a [link](https://support.abp.io/QA/Questions/624/How-can-I-download-a-NPM-package-source-code#answer-81233244-ce5b-59d7-0a5a-39f935f5700b) and [this](https://support.abp.io/QA/Questions/632/How-can-I-download-the-framework-and-source-code-for-pro-modules#answer-70bbbda7-c

[2020-12-07 11:05] #6504 closed, assigned to nobody

[2020-12-07 11:29] #6456 closed, assigned to realLiangshiwei

[2020-12-07 11:34] #1119 closed

[2020-12-07 11:59] slm-w commented on #6496
@ebicoglu i got the same error,how can i check if my API is up or down?thank you

[2020-12-07 13:41] niufwshd commented on #6470
@maliming ,Thank you very much!. It works nicely.I realize that My own Repository  files are  redundant!. Your Framework is very convenient to Inject my own IEfcoreRepository ImplementationType   by using  context.Services.AddTransient<Ixxx, xxxRepository>() too！Thank you again!

[2020-12-07 13:42] #6470 closed, assigned to nobody

[2020-12-07 14:51] hikalkan opened #6519 "Blazor documents (Part III)"
- [ ] Page Header (https://github.com/abpframework/abp/blob/rel-4.0/docs/en/UI/Blazor/Page-Header.md)

[2020-12-07 15:12] a-urel opened #6520 "Application Startup Template should generate a valid .vscode/launch.json file"
To develop and debug an ABP solution with VS Code, a `.vscode/launch.json` file is needed which launches `HttpApi.Host` and `Blazor` projects respectively.

[2020-12-07 15:13] CAH-FlyChen opened #6521 "url path changed when upgrade to 4.0"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
4.0.0

when i upgrade to 4.0 the url changed
![image](https://user-images.git

[2020-12-07 15:20] realLiangshiwei commented on #6521
https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-4_0.md#use-the-v3x-style-urls

[2020-12-07 15:20] #6521 closed, assigned to nobody

[2020-12-07 16:37] #6262 closed, assigned to hikalkan

[2020-12-07 18:59] bartvanhoey opened #6523 "Multiple Contents Localization -> Volo.Abp.AbpException: Could not find a file/folder at the location: /Emailing/WelcomeEmail/Templates"
When following the documentation Text Templating - Multiple Contents Localization I receive the exception below. The application cannot find the language templates in the /Emailing/WelcomeEmail/Templates although they have been added as  an embedded resource in the Domain.csproj file

*  **ABP Framework version 4.0 - .NET5.0**.

* Exception message and **stack trace** if available (check the logs)

[2020-12-07 21:21] profitp opened #6524 "netstandard2.0 in Application.Contracts"
templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Application.Contracts/MyCompanyName.MyProjectName.Application.Contracts.csproj

<TargetFramework>netstandard2.0</TargetFramework> - why?

[2020-12-07 23:07] idreeshaddad commented on #5885
For what it's worth: If you create a brand new solution and haven't added any custom Application Services yet; then there will be no "app" module to generate proxy from.

More information is added to stackoverflow answer:
https://stackoverflow.com/a/65279561/655605

And this begs the question: Where is this `"app"` module defined, and can I modify it?

[2020-12-08 01:09] realLiangshiwei commented on #6524
netstandard2.0 can be helpful if we share application contracts or domain shared with an application that has no .net5 support.

[2020-12-08 01:09] #6524 closed, assigned to nobody

[2020-12-08 01:15] maliming commented on #6523
hi

Can you share a project?

[2020-12-08 01:22] xyfy commented on #6524
I saw many project has updated to netstandard2.1 in abp v4.0.0

does we need change the netstandard2.0 to netstandard2.1?

![微信图片_20201202174117](https://user-images.githubusercontent.com/7838147/101425916-f1a3e780-3936-11eb-8625-a3e5ec710140.jpg)

[2020-12-08 01:31] maliming opened #6525 "Provide an option to disable the interceptor in the web application"
We have middleware and MVC filters that can do the same thing.

[2020-12-08 02:15] aceiling commented on #6504
@gdlcf88 tks.

[2020-12-08 02:31] wocar opened #6526 "Slow debugging"
* Your **ABP Framework version**. 3.0.2
* **OS**: MacOS
* **IDE**: Happens with VS for Mac and with Jetbrains Rider.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI:
Blazor and Razor Pages

Am I the only one with performance problems when debugging? Since I start debugging till the website is available it takes around 50 seconds.

I'm almost cert

[2020-12-08 02:50] wen676395159 commented on #6109
The problem remains. Any project created through ABP cli 4.0 will report this.

[2020-12-08 02:54] wen676395159 opened #6527 "The Book List Page error on chrome acme is not defined #6109 is remains"
hi，The problem remains. Any project created through ABP cli 4.0 will report this.
![image](https://user-images.githubusercontent.com/3404283/101432213-6846e200-3943-11eb-8c7d-837993d27797.png)

[2020-12-08 02:58] maliming commented on #6527
Duplicate of #6109

[2020-12-08 02:58] #6527 closed, assigned to nobody

[2020-12-08 03:07] vnetonline opened #6528 "Blazor Project not running in VS Studio in debug mode"
* Your **ABP Framework version** - 4.0.0
* Your **User Interface** - Blazor
* Exception message and **stack trace** if available (check the logs).

[code]

* Steps needed to **reproduce** the problem.
1. Run the Host project via cmd using DOtnet Run and then
2. Run the Blazor app from VS Studio via IIS Express

Vineet
LearnABPFramework.com

[2020-12-08 03:16] wen676395159 commented on #6109
so   why  sample source code is successy but  created through ABP cli 4.0 is error? ABP cli 4.0  need update?

[2020-12-08 04:05] qiang999 opened #6529 "4.0.0 connect/token can't get user information"
ABP 4.0.0
I use ABP 4.0.0 MicroserviceDemo AuthServer.Host.
post /connect/token can't get user information
get token is ok,but token not cintains user information.
Token:
{
 alg: "RS256",
 kid: "3E1274C3AF0C2B1F4E2BFE08436CCE44",
 typ: "at+jwt"
}.
{
 nbf: 1607396548,
 exp: 1638932548,
 iss: "https://localhost:44399",
 client_id: "backend-admin-app-client",
 sub: "39f94eac-55f0-894e-b1a7-cafb8ba48f

[2020-12-08 05:26] maliming commented on #6526
No one has reported such a problem. I think it has something to do with your environment. : )

[2020-12-08 06:06] realLiangshiwei commented on #6454
As a best practice, you should customize the repository, but ABP does not limit you

[2020-12-08 07:07] hikalkan opened #6530 "Looking for Developer Advocate / Evangelist for the ABP Framework!"
## Job Description

* Creating **text contents** (articles, tutorials, guides, blog posts, documentation) for the [ABP Framework/Platform](https://abp.io/) in various platforms.
* Creating **video contents** (course, tutorial) for the ABP Framework/Platform.
* Creating **sample applications** for the ABP Framework/Platform.
* Trying ABP Framework/Platform features and provide **feedback** to the d

[2020-12-08 07:11] #5732 closed, assigned to realLiangshiwei

[2020-12-08 07:41] bartvanhoey commented on #6523
https://github.com/bartvanhoey/AbpTemplateReplaceRepo

[2020-12-08 07:51] maliming commented on #6523
What are the steps?

[2020-12-08 07:59] bartvanhoey commented on #6523
I run both the HttpApi.Host project and Blazor project and when I click on the Send Welcome Email button the method SendWelcomeEmail gets called.

In the SendWelcomeEmail method  the statement  await _templateRenderer.RenderAsync("WelcomeEmail", cultureName: culture); throws the error because it does not find the template for the english culture

[2020-12-08 08:00] bartvanhoey commented on #6523
I run both the HttpApi.Host project and Blazor project and when I click on the Send Welcome Email button the method SendWelcomeEmail **of the EmailService** gets called.

In the SendWelcomeEmail method the statement await _templateRenderer.RenderAsync("WelcomeEmail", cultureName: culture); throws the error because it does not find the template for the english culture

[2020-12-08 08:12] maliming commented on #6523
It seems your project miss `appsettings.json` file.

[2020-12-08 08:16] bartvanhoey commented on #6523
Correct. It's not on github as it contained my gmail password. This is the appsettings file without my credentials

{
  "App": {
      "SelfUrl": "https://localhost:44336",
      "CorsOrigins": "https://*.TemplateReplace.com,http://localhost:4200,https://localhost:44307"
  },
  "ConnectionStrings": {
      "Default": "Server=(LocalDb)\\MSSQLLocalDB;Database=TemplateReplace;Trusted_Connection=True;

[2020-12-08 08:56] #6385 closed, assigned to maliming

[2020-12-08 08:57] maliming commented on #6523
I will fix this problem. You can comment out this line for now. https://github.com/bartvanhoey/AbpTemplateReplaceRepo/blob/gh-pages/src/TemplateReplace.HttpApi.Host/TemplateReplaceHttpApiHostModule.cs#L59

[2020-12-08 08:59] OldKing-lion opened #6531 "Why did hangfire start two servsers?"
![image](https://user-images.githubusercontent.com/13028615/101462094-bcb78500-3976-11eb-96a9-89f65580747f.png)
![image](https://user-images.githubusercontent.com/13028615/101462128-c93bdd80-3976-11eb-9499-330a526f4c4c.png)

[2020-12-08 09:05] realLiangshiwei commented on #6531
Do not call `UseHangfireServer`. We handle it internally.

https://github.com/abpframework/abp/blob/f107600e277276bff5c4e56c570e9bfa1573b652/framework/src/Volo.Abp.HangFire/Volo/Abp/Hangfire/AbpHangfireModule.cs#L23

[2020-12-08 09:05] #6531 closed, assigned to nobody

[2020-12-08 09:07] OldKing-lion commented on #6531
good

[2020-12-08 10:02] #6506 closed, assigned to realLiangshiwei

[2020-12-08 10:29] ebicoglu opened #6534 "CLI - The I/O operation has been aborted because of either a thread exit or an application request."
System.Threading.Tasks.TaskCanceledException: The operation was canceled.
 ---> System.IO.IOException: Unable to read data from the transport connection: The I/O operation has been aborted because of either a thread exit or an application request..
 ---> System.Net.Sockets.SocketException (995): The I/O operation has been aborted because of either a thread exit or an application request.
   --- En

[2020-12-08 11:51] #6534 closed, assigned to ebicoglu

[2020-12-08 11:55] alexandis commented on #6002
Hi, any progress on it?

[2020-12-08 12:24] yekalkan opened #6535 "Cli new command: module without UI shouldn't contain Blazor project"

[2020-12-08 12:27] ebicoglu commented on #6535
![](https://user-images.githubusercontent.com/9526587/101483889-def6d600-3969-11eb-97e3-9334a5c6bc05.png)

[2020-12-08 13:48] #6535 closed, assigned to yekalkan

[2020-12-08 14:37] hikalkan opened #6538 "Apply page toolbar extensions for the modules"
As I see, it is not implemented.

- [x] Identity module Angular UI
- [x] Identity module MVC UI
- [x] Tenant Management module Angular UI
- [x] Tenant Management module MVC UI

### Related docs

* https://docs.abp.io/en/commercial/latest/ui/aspnetcore/page-toolbar-extensions
* https://docs.abp.io/en/commercial/latest/ui/angular/page-toolbar-extensions

Then **I will** move these docs to open sourc

[2020-12-08 14:40] hikalkan opened #6539 "Apply extensibility to the modules for the Angular UI"
We've already implemented it for MVC and need to implement for Angular now.

[2020-12-08 14:51] hikalkan opened #6540 "How to add navigation extra properties for an existing entity of a module"
We will create a community article for this, when I've done this: https://github.com/abpframework/abp/issues/6308

[2020-12-08 15:55] #6503 closed, assigned to armanozak

[2020-12-08 15:55] armanozak commented on #6503
It will be fixed as of v4.0.1

[2020-12-08 16:01] wade712vn opened #6542 "Quartz.Serialization.Json (3.2.3) not working with latest release 4.0.0"
With latest release of abp 4.0.0 using .NET 5.0. Whenever I add the package Quartz.Serialization.Json (3.2.3) and set AbpBackgroundJobsQuartzModule as a dependency for my module

`[DependsOn(
        ...
        typeof(AbpBackgroundJobsQuartzModule)
        )]
    public class BookStoreApplicationModule : AbpModule`

I get this error at startup

[code]
Does anyone have the same issue?
Thanks

[2020-12-08 16:46] wocar commented on #6526
Yes, its a possibility. Any clues on what to do. 1min to start debugging is a big pain

[2020-12-08 18:53] hikalkan opened #6543 "Lookup extra properties is not working"
Just try the example given in https://github.com/abpframework/abp/issues/6308

Exception message is:

[code]

Related code:

https://github.com/abpframework/abp/blob/c9d4d97cd3fac451e9d11e3b7f72745069b1e3e0/modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/EditModal.cshtml#L41-L42

We should not use dictionary indexer (`@Model.UserInfo.ExtraProperties[propertyInfo.Name]`) because it

[2020-12-08 19:00] vnc4567 opened #6544 "To delete"
To delete

[2020-12-08 20:11] ahmetpekbas commented on #6496
@slm-w If you running in visual studio, your default browser should pop up with the swagger ui, similar URL to the following, but with a different port.
https://localhost:44342/swagger/index.html

If it doesn't open by itself, check the properties of your **HttpApi.Host** properties -> ASP.NET Core -> App URL.
Looks like this: https://localhost:44342

This is the exact URL which has to be in your

[2020-12-08 20:54] mbaddi opened #6545 "FeatureManagement NullReferenceException"
Hello ,

When I try to define my feature without defining valueType and use FeatureManagement I receive the following error.

--ABP Framework version : 3.3
--Exception message :
[code]

- Steps : use feature-management for manager feature

[2020-12-08 22:58] alexandis opened #6546 "Can't figure out how to hide menu item for non-authenticated user (no permission involved)"
3.3.1 / Angular

In my Angular app I would like to hide _menu item_ simply if user is not authenticated. So I can't use `requiredPolicy` in _app-routing module_.
Is there a better way than something like this?

[code]

[2020-12-08 22:59] eng-mohammed-emam opened #6547 "An exception was thrown while deserializing the token. Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException: The antiforgery token could not be decrypted."
Hello,
I'm using Abp framework version 3.3.1
I'm facing the below error:

Steps:
1 - Hosing the 3 projects Angular, Host, and Identity on Local IIS.
2- Click on the "Login" button on the Angular website.
3- See the message "Error 500" on the browser and see the below exception in the log file.

    [ERR] An exception was thrown while deserializing the token.
    Microsoft.AspNetCore.Antiforgery.An

[2020-12-09 01:12] maliming commented on #6542
Please use version 3.0.7

https://github.com/abpframework/abp/blob/rel-4.0/modules/background-jobs/app/Volo.Abp.BackgroundJobs.DemoApp.Quartz/Volo.Abp.BackgroundJobs.DemoApp.Quartz.csproj#L9

[2020-12-09 01:22] maliming commented on #6547
Does it work without `Local IIS`?

[2020-12-09 01:25] realLiangshiwei commented on #6545
Please give clear steps, thanks.

[2020-12-09 01:28] maliming commented on #6542
Follow this issue: https://github.com/abpframework/abp/pull/6460

[2020-12-09 01:28] #6542 closed, assigned to nobody

[2020-12-09 01:31] maliming commented on #6526
Maybe you can try it on another computer.

[2020-12-09 06:09] qiang999 commented on #6529
fix

[2020-12-09 06:09] #6529 closed, assigned to nobody

[2020-12-09 06:32] ycysdf opened #6548 "Proxy Generator: Incorrect parameter variable name"
abp version：4.0.0
abp cli version：4.0.0
"@abp/ng.core": "4.0.0",
"@abp/ng.schematics": "4.0.0",

C# Method

![20201209142704](https://user-images.githubusercontent.com/28867488/101593401-cc90a100-3a2a-11eb-8fae-c5bfbb3d5b5f.png)

Generated

![20201209142251](https://user-images.githubusercontent.com/28867488/101593405-cef2fb00-3a2a-11eb-9f55-d57aabc09ee0.png)

[2020-12-09 06:38] ThreeLambs opened #6549 "how to add a action to identityUserController"
**I want to create a api like:``api/identity/users/{id}/organization-units``,what should i do?**
I try to do that：
[code]
[code]
[code]
it doesn't work，I need help

[2020-12-09 06:45] maliming commented on #6548
Related https://github.com/abpframework/abp/issues/6193

[2020-12-09 07:23] ilkayilknur commented on #6543
I tested this feature multiple times before the stable release. In my tests, I was using the same DB and the same page. Probably, that's why I couldn't catch this before. I'm working on it.

[2020-12-09 07:31] eng-mohammed-emam commented on #6547
Yep. The project works while developing on port 4200 (http://loaclhost:4200).

[2020-12-09 07:58] maliming commented on #6548
hi @ycysdf
I can't reproduce your problem using the 4.0 template project.

* Steps needed to **reproduce** the problem.

[2020-12-09 08:08] cbaille opened #6550 "How to create new Role (by code) during the Tenant creation process from UI"
ABP.IO V.4 / Angular

I am trying to add the creation of roles while I create a new Tenant from the UI on ABP.IO Framework version 4.

From ABP.IO documentation, I found that by using the existing class SaasDataSeedContributor I can "seed" some datas while I am creating a new Tenant.

My issue is that from this class, I do not have permission to use IIdentityRoleAppService.CreateAsync method (Give

[2020-12-09 08:17] mbaddi commented on #6545
Step 1 : create DefinitionProvider  AddFeature without valueType
Step 2 : use [Put] ​/api​/feature-management​/features
=> Exception

[2020-12-09 08:24] ycysdf commented on #6548
@maliming ， Sorry, I was wrong, the version is not 4.0

[2020-12-09 08:25] #6548 closed, assigned to maliming

[2020-12-09 08:32] #6544 closed, assigned to nobody

[2020-12-09 08:39] maliming commented on #6547
Hi
Does the template created by CLI project have the same problem?
You can also try the clear the redis data.

[2020-12-09 08:53] cbaille commented on #6550
I actually found the constructor:
IdentityRole(Guid Id, string Name, [Guid? tenantId = null])
which is not protected, so I use IdentityRoleManager directly on SaasDataSeedContributor class and all works well now.

[2020-12-09 09:39] eng-mohammed-emam commented on #6547
Hi,
I suspect in Redis because it isn't installed on my machine.
I want to disable Redis completely. Can I? or Abp Framework must depend on Redis?

If Redis is a must, is there good documentation for installing it on Windows 10?

Thanks.

[2020-12-09 09:47] maliming commented on #6547
See https://github.com/abpframework/abp/issues/3487

[2020-12-09 09:52] #5556 closed, assigned to yekalkan

[2020-12-09 10:04] #6422 closed, assigned to bnymncoskuner

[2020-12-09 10:05] ihoeysun opened #6552 "Cannot access a disposed context instance"
hello,

my abp version is 4.0.0,
when i  call grpc throw exception  with dbcontext  is disposed.

exception message:
[code]
code:
[code]
How to solve?
thanks

[2020-12-09 10:44] lfzm opened #6553 "SettingManagement causes SettingProvider to fail to obtain data。"
My Abp version ：v4.0.0
My User Interface： No，Is Webapi
My use database : Mysql 8.0.17

【**Business**】
Use Volo.Abp.Emailing to send mail, and obtain configuration from Mysql database through `Volo.Abp.Settings GlobalSettingValueProvider`.
The configuration is as follows，The **ProviderKey** value in the database is **Null**.

![image](https://user-images.githubusercontent.com/28291464/101620635-be0

[2020-12-09 11:01] FriHub commented on #5215
same issue here with a new Blazor project, created with abp suite (4.0.0).

[2020-12-09 11:02] vnc4567 opened #6554 "Repository pattern and IQueryable"
Hello, I've been using ABP.IO for 6 month.

During those 6 months I found myself confused about some code snippets made by experiecied ABP.IO users; in their code, they are using IQueryable AND repository pattern at the same time. Like this :

Example 1 (IQueryable in AppService) :

[code]
As you can see in this example, we are directly attacking the database by using .Where() on the operationRepo

[2020-12-09 11:15] #6550 closed, assigned to nobody

[2020-12-09 11:36] #5555 closed, assigned to stsrki

[2020-12-09 11:42] Stirda commented on #6269
@NecatiMeral I experience same slowness with my Firefox 83: about 30 seconds to load fully index page (even with ABP 4.0.0-rc.4). But, still with ABP 4.0.0-rc.4, if I load with my Chrome 87, it takes only 7 seconds. Yes: 4x faster.

[2020-12-09 11:46] #6364 closed, assigned to maliming

[2020-12-09 11:46] #6428 closed, assigned to maliming

[2020-12-09 11:50] hikalkan commented on #5736
I've already done.

[2020-12-09 11:50] #5736 closed, assigned to hikalkan

[2020-12-09 12:21] Stirda commented on #6554
Hi @vnc4567,

I understand why you are asking this because I did it to myself too.

In my opinion, your query does not "attack" your database. It calls the repository. I agree that your example does not call a repository method, but LINQ helps to abstract what is behind the data source (what is behind the repository). I mean, you are not exposing database oriented concepts in your query.

I don't

[2020-12-09 12:25] Stirda commented on #6554
I visited your two links at the end of your post. They talk about the Specification pattern, which is [now implemented in ABP](https://docs.abp.io/en/abp/latest/Specifications).

[2020-12-09 12:38] alexandis opened #6556 "How to see server validation text in Angular application"
3.3.1 / Angular

When I use server validation for my DTOs - what I get in Angular client in case of validation error, is:

and so on.

What I want is to see correct validation text from server, like standard error dialog or toaster with "**Max length of [...] is ...**" text.

How to achieve this? From what I saw in documentation, I had impression it had to be handled automatically via `AbpValidati

[2020-12-09 12:54] maliming commented on #6556
Can you share some code?

[2020-12-09 13:06] alexandis commented on #6556
It's pretty straightforward and based on ABP template. For instance, I have this call in app service:

[code]

And here is DTO object:

[code]

where `NoDangerousInput` is custom validation attribute:

[code]

When I use some "dangerous" characters in my form:

![image](https://user-images.githubusercontent.com/6149843/101633397-d668d300-3a2f-11eb-9711-519f159b72e0.png)

I am getting the following

[2020-12-09 13:30] yekalkan opened #6557 "Cms-kit comment: Json validation error"
![image](https://user-images.githubusercontent.com/5793291/101636000-c1923c80-3a3b-11eb-9e8a-439a23905761.png)

[2020-12-09 13:37] hikalkan opened #6558 "Blazor: "Save" can be default text for the SubmitButton"
"Save" can be the default text.
Use IStringLocalizer<AbpUiResource> to get the "Save" text.

[2020-12-09 13:43] mehmet-erim opened #6559 "Community: If a user is not logged in and clicked a comment reaction, redirect the user to the login page"
When a user is not logged in, clicking the comment reactions do nothing. It would be better to redirect the user to the login page.

![image](https://user-images.githubusercontent.com/34455572/101637234-898bf900-3a3d-11eb-8e6e-07aba23c53ae.png)

[2020-12-09 13:45] alexandis commented on #6556
I've added the following to HttpApiHost and now the message is returned. Is it a way to go? Please confirm:

[code]

[2020-12-09 14:09] yekalkan opened #6560 "Create @abp/cms-kit npm package"
Currently we need to add `@abp/star-rating-svg` package for cms-kit module.

A `@abp/cms-kit` that is dependent on `@abp/star-rating-svg` must be created.

[2020-12-09 14:18] #6468 closed, assigned to yekalkan

[2020-12-09 14:21] Mijalski commented on #5993
Please do :) I am waiting on the edge of my seat. As of now I can't even change the bootstrap blazorise provider to other ones.

[2020-12-09 15:39] alexandis commented on #6546
My current solution is the following. Please confirm this is correct approach:

[code]

[2020-12-09 16:16] vnc4567 commented on #6554
Thank you for your reply @Stirda :) ,

In the two links they talk about the Specification pattern, and explain why use it.  They also talk about the using of IQueryable :
They explain better than me :)

Returning IQueryable<T> from a repository
A question that is somewhat related to the specification pattern is: can repositories just return an IQueryable<T>? Wouldn’t it be easier to allow clients

[2020-12-09 16:31] vnc4567 commented on #6554
In my project. I have a reference to the ORM in my domain project because we use IQueryable.

![image](https://user-images.githubusercontent.com/19264566/101657380-1c2f9680-3a44-11eb-929a-13ad51dec0bf.png)
![image](https://user-images.githubusercontent.com/19264566/101657428-2a7db280-3a44-11eb-8210-e99c3efa7abd.png)

If I use IAsyncQueryableExecuter. as you mentioned, May I remove this reference ?

[2020-12-09 16:48] Stirda commented on #6554
They explain better than me :)

Sorry but I didn't want to register so I didn't watch.

ABP Specification pattern implementation solves this. No ?

You got a point. Client of domain layer should be aware of Linq-To-Entities limitations in .NET support.

Again I thought that LSP violation implies inheritance. I don't see inheritance here.

About keeping the transaction open, I don't see the point.

[2020-12-09 18:06] alexandis opened #6561 "Hide buttons in abp-organization-roles component"
3.3.1 / Angular.

I have custom **Departments** component, which is the replacement for ABP **Organizational Units**. I reuse some of the ABP components, for instance `abp-organization-roles`:

[code]

Though, since I'm using my custom set of permissions, I need to **show / hide some buttons based on those permissions**. How do I do that in the given case without need to rewrite whole logic of **R

[2020-12-09 18:16] vnc4567 commented on #6554
Thank you @Stirda,

I will continue to create method in Repository because of the first and second drawback. But I will use the Specification pattern in some case

But I understand the use of the  IQueryable, in small project it will be faster to use it.

I'll try to use IAsyncQueryableExecuter and try to remove this dependency from my domain :)

Thank you :)

[2020-12-09 22:30] Znow opened #6562 "Domain Tenant Resolver not able to resolve domain with predefined subdomain"
Hi there

Have been using the DomainTenantResolver with luck for quite some time, with the following structure:

[code]

But I want to use the below structure aswell:
[code]

Where {0} is a regular domain, which should resolve to an existing tenant with the same name - but I keep getting http 500 error with the below from logs:

[code]

How could this be fixed? Or is it perhaps not fully supported

[2020-12-09 22:59] eng-mohammed-emam commented on #6547
Hi @maliming,

The above problem fixed after installing Redis.

I hope you help me one more time.
When I click on the "Login" button in the Angular web application, I see an error of 500.

I checked the log file and found that this error:

    [ERR] Invalid redirect_uri: https://192.168.100.175:7070
     {"ClientId":"Amanat_App","ClientName":"Amanat_App","RedirectUri":null,"AllowedRedirectUris":["

[2020-12-10 01:20] #5747 closed, assigned to nobody

[2020-12-10 01:20] #5745 closed, assigned to nobody

[2020-12-10 01:23] maliming commented on #6547
You need to change the DbMigrator settings.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.DbMigrator/appsettings.json#L15

[2020-12-10 01:35] maliming commented on #6562
What's the request URL when got the error log?

[2020-12-10 01:45] 274188A commented on #6494
Lsw.Abp.AspNetCore.Mvc.UI.Theme.Stisla is not .net5.0 compatible right now...

[2020-12-10 02:02] wakuflair commented on #6029
Is this already fixed?
In ABP 4.0 final I still can close the modal by clicking outside it.

[2020-12-10 02:12] wakuflair commented on #6029
Oh the commit only fixed the message/confirm dialogs.
But other modal dialogs(create or edit, etc) should also have this behaviour, otherwise users may lost their data accidentally.

[2020-12-10 03:17] #3462 closed

[2020-12-10 03:17] #6398 closed, assigned to maliming

[2020-12-10 03:27] Aprite opened #6563 "bug:[EF]Details in local events are not updated"
ABP Framework:4.0&3.3
DB:MSSQL2019&MySQL8.0

Reproduction project:
https://github.com/Aprite/Apr.TestLocalEvent.git

details updated in appservice
but it does not work in  ILocalEventHandler

![微信截图_20201210112535](https://user-images.githubusercontent.com/19543920/101717672-b6dab480-3ada-11eb-9ed1-0b9f9a0235e7.png)

[2020-12-10 03:39] vnetonline opened #6564 "Problem creating a new modules using the "abp add-module Acme.BookStore.Books --new --add-to-solution-file""
* Your **ABP Framework version** - 4.0.0

* Your **User Interface** type (Angular/MVC/React... etc.) - Blazor

* Exception message and **stack trace** if available (check the logs).

* Steps needed to **reproduce** the problem.
- Create a standard web application template using `abp new Acme.BookStore -u blazor -csf`
- Navigate to Acme.BookStore\aspnet-core
- Run the command `abp add-module Acme.B

[2020-12-10 04:39] vnetonline commented on #6562
The format you want to use is not subdomain it is top level domain i dont think it is support

Vineet
LearnABPFramework.com

[2020-12-10 06:31] yekalkan commented on #6564
Hi,

this is resolved by https://github.com/abpframework/abp/commit/452949e879b7098b0123ea4a27f8e925590e2179

Waiting for v4.0.1

[2020-12-10 06:31] #6564 closed, assigned to nobody

[2020-12-10 06:44] realLiangshiwei opened #6567 "after upgrade 5.0.1 balzor does not work"

[2020-12-10 07:27] #6557 closed, assigned to yekalkan

[2020-12-10 08:13] stsrki commented on #6029
@wakuflair We can create a new specialized modal, maybe `CrudModal` that has this kind of behavior.

@hikalkan Can you create a new ticket for this? This `CrudModal` can also later be used as part of a milestone to create forms dynamically.

[2020-12-10 08:39] #6567 closed, assigned to maliming

[2020-12-10 08:45] alexandis commented on #6561
Please, ignore it - we are keeping ABP permissions inside.

[2020-12-10 08:45] #6561 closed, assigned to nobody

[2020-12-10 08:55] hexianggui opened #6571 "The CurrentUser.Name is null ,How do I set it?"
I get 'CurrentUser' through AbpApplicationConfigurationService,but the 'CurrentUser.Name' is null
result:
[code]
How do I set it?Can you help me

[2020-12-10 09:20] Aprite commented on #6563
Use [UnitOfWork] on Method
well, it do work

[2020-12-10 09:20] #6563 closed

[2020-12-10 09:52] Znow commented on #6562
@maliming

I have the following domain "insight.preact.dk", which is setup as an A record, pointing to my Azure App.
"preact" resolves to a existing tenant, and in my code I have:

[code]

No, a top level domain, or TLD is .com, .net, .org etc.

[2020-12-10 09:54] kegumx commented on #5517
+1

[2020-12-10 10:08] eng-mohammed-emam commented on #6547
Dear @maliming,

Should I change the values of keys  "MyProjectName_Web", "MyProjectName_Swagger"?

If yes, "MyProjectName_Swagger": is the Host Service but "MyProjectName_Web" is for what?

[2020-12-10 11:21] aelhadi opened #6574 ".HttpApi.Client Project"
hello,

How can we use .HttpApi.Client Project, any exemple ?

Regards

[2020-12-10 11:42] #6558 closed, assigned to stsrki

[2020-12-10 12:07] vnetonline commented on #6562
You are right I think only sub domains are supported

Like this options.AddDomainTenantResolver("{TENANT_NAME}.yourdomainname.dk");

[2020-12-10 12:33] maliming commented on #6574
hi

Please check the document first.

https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients

[2020-12-10 13:50] Xeevis opened #6576 "Blazor tenant management creates tenant even if new admin user validation fails"
ABP 4.0.0, Blazor template

![tenantissue](https://user-images.githubusercontent.com/5835044/101780355-bf40e880-3af6-11eb-9408-2664496d4d86.gif)

[2020-12-10 13:51] #6554 closed, assigned to nobody

[2020-12-10 14:12] #6574 closed, assigned to nobody

[2020-12-10 14:28] aelhadi opened #6577 "Documentation enhancement"
Hello,

As a juggestion, it would be better to add "related links" to some documentation section.
sometimes we open issues because we are locking to the wrong section, knowing that the answer already exists at the documentation level.

For Example :

https://docs.abp.io/en/abp/latest/Startup-Templates/Application#default-structure
could be related to :
https://docs.abp.io/en/abp/latest/API/Dynamic

[2020-12-10 15:42] hades200082 opened #6579 "Blazor - HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"
**Your ABP Framework version.**
4.0.0 stable

**Your User Interface type (Angular/MVC/React... etc.) if the issue is related to a specific UI**
Blazor

**Error in browser**

HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure
Common solutions to this issue:
The application process failed to start
The application process started but then stopped
The application process started but failed to list

[2020-12-10 17:16] allstarcrypto commented on #5215
any resolution on this?

[2020-12-10 17:36] hikalkan commented on #6530
Moved to https://github.com/abpframework/abp/discussions/6580

[2020-12-10 17:36] #6530 closed, assigned to nobody

[2020-12-10 20:42] wboebel commented on #1181
A possible alternative to the IsDeleted issue is for IsDeleted to not be saved to the database and only save DeletionTime.  IsDeleted could be a property that checks if DeletionTime is null => return !this.DeletionTime.HasValue.

Then you could do a unique index on { e.Name, e.DeletionTime }, cover both the Name and DeletionTime in the index, it would enforce that only one e.Name exists per value

[2020-12-10 22:29] cotur commented on #6528
Did you follow all steps of the  article (given below)?

https://docs.microsoft.com/en-us/aspnet/core/blazor/debug?view=aspnetcore-5.0&tabs=visual-studio

[2020-12-11 00:55] 274188A commented on #6579
https://stackoverflow.com/questions/53811569/http-error-500-30-ancm-in-process-start-failure

[2020-12-11 01:32] Rwing commented on #5960
not MicroserviceDemo?

[2020-12-11 01:55] xyfy commented on #6529
What is the problem?

[2020-12-11 01:56] xyfy commented on #6571
the table `abpuser` has fields named  `name`、`surName`

[2020-12-11 01:59] maliming commented on #6576
Unable to reproduce.

[2020-12-11 02:00] maliming commented on #6577
https://docs.abp.io/en/abp/latest/Startup-Templates/Application#httpapi-client-project

![image](https://user-images.githubusercontent.com/6908465/101852015-ab998e80-3b97-11eb-82b9-8279be06a071.png)

[2020-12-11 02:01] xyfy commented on #6549
if you want override the pre-defined service ,have a look at https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services

[2020-12-11 04:23] senxiaoxing commented on #4015
When a message fails to be consumed, the message will not be Acked, remain in the Unacked of the queue, and there should be a mechanism to consume it again.

[2020-12-11 05:45] ThreeLambs commented on #6549
ok

[2020-12-11 06:22] mehmet-erim commented on #4644
Has been resolved by https://github.com/abpframework/abp/pull/6116

[2020-12-11 06:22] #4644 closed

[2020-12-11 06:37] mehmet-erim commented on #4205
Has been resolved

[2020-12-11 06:37] #4205 closed

[2020-12-11 06:39] mehmet-erim commented on #3994
Has been resolved by https://github.com/abpframework/abp/pull/6156

[2020-12-11 06:39] #3994 closed

[2020-12-11 06:49] aelhadi commented on #6577
I m talking about adding section
Related articles, at the bottom like microsoft do....

[2020-12-11 07:19] hubo0831 opened #6586 "EfCoreRepository has inconsistent behavior of IGuidGenerator"
![image](https://user-images.githubusercontent.com/10137315/101874495-f03b1f00-3bc3-11eb-9548-b6a1783a9525.png)
it is a bug?

[2020-12-11 07:34] #6577 closed, assigned to nobody

[2020-12-11 07:53] maliming commented on #6586
Can you explain in detail?

[2020-12-11 07:54] ThreeLambs commented on #6549
I Try to Override Identity Modules,but failed.
1. I use ``abp get-source Volo.Identity`` to create a project A, then add ``GetOrganizationUnitsAsync(Guid id)``  to IIdentityUserAppService (Volo.Abp.Identity.Application.Contracts) ...
2. I create demo project refrence A.
run the demo,i don't fond then api GetOrganizationUnitsAsync from swagger page.
because of some other nuget package refrence Volo

[2020-12-11 08:11] hubo0831 commented on #6586
AbpDbContext has ‘public IGuidGenerator GuidGenerator ’, it is property injected;
ApplicationService has ‘public IGuidGenerator GuidGenerator ’, it is property injected too;
Entity'Id value come from  AbpDbContext, EfCoreRepository,ApplicationService, but EfCoreRepository has inconsistent behavior.

[2020-12-11 08:36] #6549 closed, assigned to nobody

[2020-12-11 09:26] hades200082 commented on #6579
@274188A Thanks for the link, but that SO is talking about .Net Core 2.2 and the `AspNetCoreHostingModel`.

ABP 4.0.0 is on .Net 5 and the csproj for the `.Blazor` project has no `AspNetCoreHostingModel` set.

Have I misunderstood something?

I raised this as a bug because a newly installed instance of ABP (or any application framework) should be able to run out of the box without requiring the de

[2020-12-11 10:14] Xeevis commented on #6576
Here are the exact repro steps:
**Windows 10 20H2** & **.NET 5.0.1** & **Edge (Chromium)**

Setup server & client (PowerShell 7 one-liner):
[code]

1. Login with `admin` & `1q2w3E*`
2. Attempt to create new tenant with short admin password > Ok > Cancel

3. Reload page (CTRL + R) or check database

[2020-12-11 10:16] cwwcwwcww opened #6598 "The IApplicationService has been implemented but is not registered with the container"
* Your **ABP Framework version**:4.0
* Exception message and **stack trace** if available (check the logs):
Autofac.Core.Registration.ComponentNotRegisteredException:“The requested service 'Acme.BookStore.Books.BookAppService' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the Resolve

[2020-12-11 11:36] #6586 closed, assigned to maliming

[2020-12-11 11:52] #6560 closed, assigned to EngincanV

[2020-12-11 11:54] maliming commented on #6598
You need to implement the `ITransientDependency` on `BookAppService`.

[2020-12-11 11:54] #6598 closed, assigned to nobody

[2020-12-11 11:56] maliming commented on #6576
https://docs.abp.io/en/abp/latest/MongoDB#transactions

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.MongoDB/MongoDb/MyProjectNameMongoDbModule.cs#L37

[2020-12-11 11:56] #6576 closed, assigned to nobody

[2020-12-11 13:41] armanozak opened #6602 "Property filters don't work on lists from 2nd page onward when ListService is used"

[2020-12-11 13:59] ilkayilknur opened #6603 "Permission modal should show User name instead of User Id"
![image](https://user-images.githubusercontent.com/5785927/101911953-27b0c800-3bd2-11eb-98e5-8fd24cd5a477.png)

[2020-12-11 14:24] #6602 closed, assigned to armanozak

[2020-12-11 14:46] jack-gaojz opened #6606 "Customize ICrudAllAppService cannot generate the JS API script"
APB Framework version: 3.3.2

I created my "ICrudAllAppService" interface inherits from the "ICrudAppService", the codes just as bleow:
[code]
And added the "CrudAllAppService" to implement.
[code]

At the business level, I create the services which inherit the "ICrudAllAppService" and run the application.
At the frontend, the JS throws the error message and indicates the JS object not generated,

[2020-12-11 16:52] Xeevis commented on #6576
Lesson learned not to use transactionless standalone MongoDB even for development. To solve this had to convert MongoDB to rudimentary 1-node replica set. Steps are as follow:

1. Edit _C:\Program Files\MongoDB\Server\4.4\bin\mongod.cfg_ as administrator and replace
[code]
with
[code]
2.   Restart the MongoDB service
[code]
3. Run `mongo.exe` shell and type command
[code]
4. Enable transactions fo

[2020-12-11 17:31] hikalkan opened #6607 "Google translate support for the abp translate command"
[code]

This command translates text of the JSON (that was previously prepared using `abp translate -c <culture>` command) using Google.

So, if you want to translate to fr, you can type the following commands by order;

[code]

[2020-12-11 17:33] ebicoglu commented on #6607
see the limits of Google Translate API  

https://cloud.google.com/translate/quotas

[2020-12-11 18:05] #264 closed

[2020-12-11 18:29] hikalkan opened #6608 "How to use PrimeNG with the ABP Framework"
- How to install
- Show how to use Datagrid

[2020-12-11 20:51] eng-mohammed-emam commented on #6547
I'm facing Angular error in the console although the Identity server and Host server settings seem valid.

    Access to XMLHttpRequest at 'https://192.168.100.175:7071/api/abp/application-configuration' from origin 'https://192.168.100.175:7070' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

Identity server appsettings.json like:

[2020-12-11 21:53] mehmet-erim commented on #3938
`registerLocale` strategy has been improved. For more information see the [document](https://docs.abp.io/en/abp/latest/UI/Angular/Localization#registering-a-new-locale)

[2020-12-11 21:53] #3938 closed

[2020-12-12 00:17] hexianggui commented on #6571
Yes,The 'name' has a value in the database,But by 'AbpApplicationConfiguration' API access to an empty value

[2020-12-12 02:04] 274188A opened #6609 "SettingsManagement article for the Blazor UI"
It would be very useful to have a demo/article for adding the module `Volvo.SettingsManagement`.

Maybe simply adding a chapter to the Blazor-EF-BookStore sample Blazor app?

[2020-12-12 04:03] vnetonline opened #6610 "Is ABP CLI is down?"
* Your **ABP Framework version** - 4.0.0.
* Your **User Interface** - All
* Exception message and **stack trace** if available (check the logs).

[code]

* Steps needed to **reproduce** the problem.
1. install ABP CLI "dotnet tool install -g Volo.Abp.Cli"
2. run command "abp new Acme.BookStore -u blazor -csf "

I think the ABP CLI is down and is not able to connect to  https://abp.io/api/download/

[2020-12-12 04:24] #5704 closed, assigned to nobody

[2020-12-12 05:09] TuyenDinh1205 opened #6611 "AngularUI: Single Sign On (SSO)"
ABP Framework version: v3.3.0
UI type: Angular
Tiered (MVC) or Identity Server Seperated (Angular): yes
Hi All
I have seperate module with differrent link and i want to use single sign on to login. I used angular-oauth2-oidc and call function loadDiscoveryDocumentAndLogin to skip the Login Form but it return to error page like This
![error](https://user-images.githubusercontent.com/34994601/101975

[2020-12-12 06:06] wlsoftware commented on #6610
I also faced this problem

[2020-12-12 06:16] ThreeLambs commented on #6610
use local resource
**abp new demo -u mvc --local-framework-ref --abp-path E:\abp-4.0.0**

[2020-12-12 06:17] vnetonline commented on #6610
I am trying to record the Blazor video for LearnABPFramework.com and can't progress because the CLI is down

![image](https://user-images.githubusercontent.com/15242923/101976894-d1a95680-3c9d-11eb-93d6-845d71ff33d8.png)

Even clicking on the get started on the main homepage doesn't work

[2020-12-12 06:19] vnetonline commented on #6610
that doesn't work you must have a E drive where you have previously downloaded the mvc template locally available

[2020-12-12 06:31] wlsoftware commented on #6610
use local resource, it doesn‘t work, another error occurs , not able to connect to https://abp.io/api/download/template/

[2020-12-12 06:33] wlsoftware commented on #6610
I think the api is down , https://abp.io/api/

[2020-12-12 06:50] wlsoftware commented on #6610
https://aspnetboilerplate.com/Templates

[2020-12-12 07:29] vnetonline commented on #6610
Yes looks like abp.io api is down

![image](https://user-images.githubusercontent.com/15242923/101978301-ed195f00-3ca7-11eb-930b-94df80022e96.png)

[2020-12-12 08:45] vnetonline commented on #6610
okay seems to be working now

![image](https://user-images.githubusercontent.com/15242923/101979600-80f02880-3cb2-11eb-83cf-322c371882f4.png)

[2020-12-12 09:00] hikalkan commented on #6603
I think you mean "user id", not "role id". This is user management page.
This is not a bug. It is currently implemented like that.
However, I think we can send the username (actually, displayname for the related entity) while opening the dialog. The modal can take display name (it is username in this case) to show on the title. Currently, it only gets the entity id (userid in this case) and shows

[2020-12-12 09:04] hikalkan commented on #6545
Resolved by https://github.com/abpframework/abp/pull/6551

[2020-12-12 09:04] #6545 closed, assigned to realLiangshiwei

[2020-12-12 09:06] #6523 closed, assigned to maliming

[2020-12-12 09:12] hikalkan commented on #6497
https://github.com/abpframework/abp/issues/2389#issuecomment-566935537

[2020-12-12 09:12] #6497 closed, assigned to hikalkan

[2020-12-12 09:14] hikalkan commented on #6472
@armanozak can you check this?

[2020-12-12 09:21] hikalkan commented on #6373
Actually, PermissionManagementProvider is only used when you manage permission (change permission of a user/role on UI) and it may be a bit slow. It bypasses cache to be able to work with the actual data source. However, using cache for reads seems no problem. I will accept the PR.

[2020-12-12 09:21] #6373 closed, assigned to maliming

[2020-12-12 09:28] hikalkan commented on #5960
@Rwing we are considering to re-write it.

[2020-12-12 09:31] #5625 closed, assigned to berkansasmaz

[2020-12-12 09:32] #5651 closed, assigned to EngincanV

[2020-12-12 09:37] #6610 closed, assigned to nobody

[2020-12-12 09:38] maliming commented on #6610
It works now.

[2020-12-12 10:00] hikalkan opened #6612 "Upgrade EventOrganizer to ABP 4.0"

[2020-12-12 10:00] hikalkan commented on #5960
Moved remaining work to https://github.com/abpframework/abp/issues/6612 and closing this.

[2020-12-12 10:00] #5960 closed, assigned to gterdem, bnymncoskuner, yekalkan, maliming, ebicoglu, realLiangshiwei, cotur

[2020-12-12 12:38] atak946 opened #6613 "ABP Community - Comment Error"
Hi,

I get such an error while trying to post a comment because I don't know where to forward this situation, I wrote it here.

My goal is to support you to improve.

good work.

[Image with lightshot](https://prnt.sc/w14vfs)

[2020-12-12 12:48] realLiangshiwei commented on #6613
Thanks for your reporting. We will fix it.

[2020-12-12 12:49] atak946 commented on #6613
your wellcome,
good work.

[2020-12-12 12:49] #6613 closed, assigned to nobody

[2020-12-12 12:54] EngincanV commented on #6613
It's fixed: #6557

[2020-12-12 13:04] hikalkan commented on #5518
If that can be done after creating your project, than it is good, anyone can do :)
We will work on it in the next milestones. However, if someone creates a [community article](https://community.abp.io/articles) to show how to do it, it is appreciated. In this way, we can also make it for the startup project.

[2020-12-12 14:39] ChEhrhard opened #6614 "Add BulkWrite to MongoDbRepository"
It could be useful to fully implement the **Collection.Bulkwrite()** fonction from Mongo Client in yout MongoDbRepository.

This can be much faster than a loop of Update or Insert. In addition the **IsUpsert** option avoid the need of specificaly call Update or Insert.

[Link to officiel doc](https://docs.mongodb.com/manual/reference/method/db.collection.bulkWrite/) .

[2020-12-12 15:40] niufwshd commented on #5617
@bestvcboy ,hello,I meet the same issue, Have you solve it ?.

[2020-12-12 17:45] hikalkan commented on #6471
@armanozak couldn't repeat it. @maliming can you try please?

[2020-12-13 00:23] 274188A commented on #6579
I would go to [blazor.net](https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor) and double check the install requirements to run .net5.0

[2020-12-13 01:06] ghd258 commented on #5543
Why delay

[2020-12-13 02:33] maliming commented on #6547
hi @eng-mohammed-emam

You can check the application log. Or the application environment. Maybe the configuration is wrong.

[2020-12-13 02:36] maliming commented on #6611
hi

Please create a question on https://support.abp.io/ and share the application log. Thanks.

![image](https://user-images.githubusercontent.com/6908465/102001608-f699da00-3d2e-11eb-9bc6-7c2f7fc906e3.png)

[2020-12-13 02:36] #6611 closed, assigned to nobody

[2020-12-13 02:39] brunobertechini commented on #3541
I also think this is not a dupe of #3542 . I am able to reproduce this usingangular & separated identity server. After registering a new user, when "Required confirmed email" enabled, the user is automatically logged in and redirected to the application (Even before clicking on the confirmation link received via email).

cc @hikalkan