[2021-01-14 00:21] KennyMuffins commented on #7200
Same issue faced in 4.1.0, both direct download and cli seems to be having issues at the moment

[2021-01-14 00:38] 0andy opened #7201 "Failed download the source code?? https://abp.io/api/download/samples/easy-crm"
![image](https://user-images.githubusercontent.com/3870326/104529315-0e36dd80-55cf-11eb-880d-ef18edcf2b06.png)

[2021-01-14 00:43] Gitvazonline commented on #7201
Also getting this issue

[2021-01-14 00:43] Gitvazonline commented on #7200
Also getting this issue

[2021-01-14 01:00] maliming commented on #7201
We will fix it as soon as possible。

[2021-01-14 01:00] maliming commented on #7201
We will fix it as soon as possible.

[2021-01-14 01:01] maliming commented on #7200
We will fix it as soon as possible.

[2021-01-14 01:07] roupijiaojiaobao commented on #7200
Thank you!Have a good day ☕️☕️

[2021-01-14 01:09] #7200 closed, assigned to nobody

[2021-01-14 01:21] maliming commented on #6999
hi @shessane We are working on this.

[2021-01-14 01:25] #6173 closed, assigned to nobody

[2021-01-14 01:27] #7199 closed, assigned to nobody

[2021-01-14 01:27] maliming commented on #7191
We are working on this.

[2021-01-14 01:30] 274188A opened #7202 "4.1.1 - Error occurred while downloading source-code from https://abp.io/api/download/template"
[09:28:20 INF] ABP CLI (https://abp.io)
[09:28:20 INF] Version 4.1.1 (Stable)
[09:28:21 INF] Creating your project...
[09:28:21 INF] Project name: MyProject
[09:28:21 INF] UI Framework: Blazor
[09:28:21 INF] Create Solution Folder: no
[09:28:21 INF] Output folder: C:\Abp Compares\4.1.1
[09:28:34 INF] Downloading template: app, version: 4.1.1
Error occured while downloading source-code from https:/

[2021-01-14 01:31] maliming commented on #7202
Duplicate of #7191

[2021-01-14 01:31] #7202 closed, assigned to nobody

[2021-01-14 01:36] maliming commented on #7196
hi

* Steps needed to **reproduce** the problem.

[2021-01-14 01:53] realLiangshiwei commented on #7189
I will check it out

[2021-01-14 02:06] maliming commented on #7188
hi @davidzwa

We plan to enhance **GetAsync** to eliminate EF warnings

[2021-01-14 02:38] qiang999 commented on #6301
![image](https://user-images.githubusercontent.com/15817336/104536750-965ec680-5653-11eb-9b7f-a91d201a69f9.png)
AbpPermissionManagementHttpApiClientModule is not required.
Sub module use AbpPermissionManagementHttpApiClientModule.
Solution：
![image](https://user-images.githubusercontent.com/15817336/104537245-927f7400-5654-11eb-84bb-3af662d1491f.png)

[2021-01-14 02:42] zfeihong opened #7204 "Blazor Exception"
my god
![111](https://user-images.githubusercontent.com/20945947/104537608-3ff28780-5655-11eb-9f6b-ccac680cf733.png)

[2021-01-14 02:43] Yomi218 commented on #7201
I'm waiting...

[2021-01-14 02:45] qiang999 commented on #6529
AuthServerDataSeeder not use CreateApiScopesAsync.

[2021-01-14 02:56] realLiangshiwei commented on #7204
Can't reproduce this problem

![image](https://user-images.githubusercontent.com/16813853/104538505-f6a33780-5656-11eb-9cb5-5b8bcb8b329a.png)

[2021-01-14 02:56] #7204 closed, assigned to nobody

[2021-01-14 03:28] jerviscui opened #7205 "Exception is graceful"
I see the `BusinessException` will be catch by `AbpExceptionFilter`.

I think BusinessException is realy concise.
At the same time, I want to know if it's efficient?

Welcome to the discussion.
Just to learn, thank you. ^^

[2021-01-14 03:38] maliming commented on #7205
Discussions it here. https://github.com/abpframework/abp/discussions

[2021-01-14 03:38] #7205 closed, assigned to nobody

[2021-01-14 05:47] maliming commented on #7191
It works now.

[2021-01-14 05:47] #7191 closed, assigned to nobody

[2021-01-14 05:47] maliming commented on #7201
It works now.

[2021-01-14 05:47] #7201 closed, assigned to nobody

[2021-01-14 06:59] #7188 closed, assigned to realLiangshiwei

[2021-01-14 07:15] Aprite opened #7206 "KafkaMessageConsumer.CreateTopicAsync() is error"
Abp vNext 4.1.1
![微信截图_20210114150835](https://user-images.githubusercontent.com/19543920/104556774-1d736500-567b-11eb-8b38-7247be1dedd9.png)

the reason had changed,maybe~

@realLiangshiwei

[2021-01-14 07:17] Aprite commented on #7206
e.Error.Reason is
An error occurred creating topics: [{TopicName}]: [Broker: Topic already exists].

[2021-01-14 07:19] vnetonline opened #7207 "How to handle Account/AccessDenied?ReturnUrl=%2Ftasks%2Fcreate-task when a user doesn't have access to page"
* Your **ABP Framework version** - 4.0.2.
* Your **User Interface** type (Angular/MVC/React... etc.) - MVC
* Your database provider(EF Core/MongoDB) - EF Core
* Steps needed to **reproduce** the problem.

When a user doesn't have permission to create, edit or delete pages the user is redirected to Account/AccessDenied?ReturnUrl=%2Ftasks%2Fcreate-task

How to handle this exception so the user doesn

[2021-01-14 07:20] vnetonline opened #7208 "user is redirected to Account/AccessDenied?ReturnUrl=%2Ftasks%2Fcreate-task"
* Your **ABP Framework version** - 4.0.2.
* Your **User Interface** type (Angular/MVC/React... etc.) - MVC
* Your database provider(EF Core/MongoDB) - EF Core
* Steps needed to **reproduce** the problem.

When a user doesn't have permission to create, edit or delete pages the user is redirected to Account/AccessDenied?ReturnUrl=%2Ftasks%2Fcreate-task

How to handle this exception so the user doesn

[2021-01-14 07:21] maliming commented on #7208
Duplicate of #7208

[2021-01-14 07:21] #7208 closed, assigned to nobody

[2021-01-14 07:26] maliming opened #7209 "Create a test application to test LDAP configuration"
Provide a simple Dotnet Console application for troubleshooting and testing LDAP config.

[2021-01-14 08:24] vnetonline commented on #7207
@maliming

Can you explain is this is a bug or not implemented ?

[2021-01-14 08:27] maliming commented on #7207
See https://github.com/abpframework/abp/pull/7215

[2021-01-14 08:51] realLiangshiwei commented on #7189
We have fixed this problem, for now, you can `UseProperties` value to false.

[2021-01-14 08:57] Stirda commented on #5517
@hikalkan Modified milestone means there will be no Blazor server-side template for 4.2 release?

[2021-01-14 09:05] stsrki commented on #5517
@Stirda I can answer this since I'm responsible for the work on Blazor server-side.

The Blazor server-side will take some time until it's done since it requires a lot of rework on project structure and reorganization. The biggest obstacle is how different WebAssembly is from server-side works. One example is the authentication process. So I need to figure how to make it work without changing it t

[2021-01-14 09:59] hikalkan opened #7221 "Planning about the IdentityServer Upgrade/Switch"
Duende IdentityServer has been released: https://blog.duendesoftware.com/posts/20210114_v5_release/

Now we have a few options;

* Keep going with the IDS4 for a while
* Migrate to Duende IdentityServer 5 and let the ABP community think about the licensing :)
* Consider to switch (or alternatively integrate) to another open source OAuth server provider like [openiddict](https://github.com/openiddi

[2021-01-14 10:15] davidzwa opened #7222 "Angular test identityUserService/tenantManagementService/... `TypeError: Cannot read property 'AbpIdentity'/'AbpTenantManagement' of undefined`"
* Volo.ABP 4.1.1
* Angular (with 4.1.1 package ng.core/ng.identity/ng.tenant-management)
* EFCore
* Exception (using `identityUserService`) : `TypeError: Cannot read property 'AbpIdentity' of undefined`
* Other similar exception(s) (using `tenantManagementService`): `TypeError: Cannot read property 'AbpTenantManagement' of undefined`
* Run default angular (karma) test on any component, make sure t

[2021-01-14 10:26] olicooper commented on #7188
Sorry @davidzwa I missed that issue! This change should fix the issue when getting a single record from the database via the `EfCoreRepository`, but there will probably be edge cases when getting lists of items that can't be sorted by` Id` or `CreationTime`, so you would have to add the `OrderBy` statement yourself or override the `ApplyDefaultSorting` method shown below.
https://github.com/abpfra

[2021-01-14 10:38] v2codes opened #7224 "Swashbuckle.AspNetCore > v5.5.1 issue"
Is there anyway to downgrade Swashbuckle.AspNetCore to v5.5.1 ?

Volo.Abp.Swashbuckle v4.1 upgrade Swashbuckle.AspNetCore from v5.5.1 to v5.6.3.
There is a issue in  v5.6.3, see [Exception within method GetHostOrNullFromRequest in SwaggerMiddleware](https://github.com/domaindrivendev/Swashbuckle.AspNetCore/issues/1836)

And  Swashbuckle no release plan for the near future

**ABP Framework version*

[2021-01-14 10:41] davidzwa commented on #7188
If I understand correctly the best advice is to not use IRepository<TEntity, TKey> directly and fix the OrderBy on application level? So far I was using the repo for seeding.

I can wait for the preview, np ;)

[2021-01-14 11:16] olicooper commented on #7221
For now IDS4 is great, so I'd personally stick with it for a while until we know how this changes things.
Long term Is there a way to have both - like a new module? Then create a migration guide?

The Duende [special offers page](https://duendesoftware.com/specialoffers) says it is free for open source projects, development environments, charities and small companies.

It might be worth you guys s

[2021-01-14 12:00] clinically-au opened #7225 "Error adding new module to solution using CLI"
* ABP v4.1.1
* Blazor UI
* EF Core

Adding module to existing solution using command:
`abp add-module Acme.NewModule --new --add-to-solution-file`

Throws the following exception:

[22:51:23 INF] ABP CLI (https://abp.io)
[22:51:23 INF] Version 4.1.1 (Stable)
[22:51:26 INF] Installing module 'Acme.NewModule' to the solution 'Acme'
[22:51:26 INF] Installing 'Acme.NewModule.Application' package to th

[2021-01-14 12:02] olicooper commented on #7188
You can override most functionality in the system simply by inheriting the class you want to override, then using `[Dependency(ReplaceServices = true)]` above the class and override the particular function (such as `IRepository.GetAsync`), but you shouldn't need to after this preview release which will probably be released later today. If you do need to though, take a look at this: https://docs.ab

[2021-01-14 12:38] espindl commented on #7196
There is not a lot of details about this, it is only a DateTime field in a dynamic form, but let me try.
And I did not mean this is a bug, only I cannot find how to achieve a less detailed time in the input.

**Steps:**
1. Create a Razor page and include a dynamic form like
`<abp-dynamic-form abp-model="MyModel" asp-page="/MyPage/Index" submit-button="true"/>`
2. Add a datetime property to model i

[2021-01-14 12:51] olicooper opened #7227 "Change AbpLazyServiceProvider DI lifetime to IScopedDependency?"
Abp `AbpLazyServiceProvider` has a transient dependency, which if I understand correctly means that each service injected in a request gets a new instance? Would it be better to make it scoped so that the `CachedServices` can be used by all services for each request? Forgive me if I have misunderstood the mechanisms of DI.

https://github.com/abpframework/abp/blob/34d66ee70f6d2bf719c251331bbf1eda0

[2021-01-14 13:01] davidzwa commented on #7161
So far this is the biggest gap in our application as we dont use ID4 and our claims are static, JWT's arent refreshed or blacklisted. Can I contribute to this to speed it up?

[2021-01-14 13:07] a-urel commented on #158
@hikalkan a Xamarin framework requires too much time and resource, for sure. But `Acme Bookstore` samples (w/ Xamarin, and even Flutter, Kotlin, Swift, ...) which access `Abp API` and perform CRUD operations would be totally fine. IMO, UI generation is not critical in this case.

[2021-01-14 13:43] roupijiaojiaobao opened #7230 "When creating a project if selecting version "4.2.0-rc.1" will results in an error"
When creating a project on the "Direct Download" page, selecting Preview results in a code "500" error.

![微信截图_20210114084145](https://user-images.githubusercontent.com/64553587/104598358-7c69b780-5644-11eb-9c65-358cdfdd9f64.png)

[2021-01-14 14:11] maliming commented on #7224
You can try to get a workaround form **Swashbuckle**

[2021-01-14 14:11] #7224 closed, assigned to nobody

[2021-01-14 14:19] ismcagdas commented on #7230
@paragpkulkarni should we working now, could you try again ?

[2021-01-14 14:24] AdemAygun opened #7231 "After logon tenant name not appear anywhere"
* **3.3.1**.
*  **Angular**
* **EF Core**
* **No Exception**

After logon we cannot see tenant name in anywhere. For ex.: we will create users for call center per tenant, so it's useful that call center operator do not wrong operations. Tenant name can be under profile name(or in a place which will be shown always)

![image](https://user-images.githubusercontent.com/13360669/104601647-8662d900-568

[2021-01-14 14:41] KennyMuffins commented on #7225
Yes, having this same error, references are added, but module not created

[2021-01-14 14:42] ilkayilknur commented on #7225
Does your Blazor project contain related bundling settings inside `wwwroot/appsettings.json`? @wojtj @KennyMuffins  `appsettings.json` file should contain bundling settings like this https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Blazor/wwwroot/appsettings.json

[2021-01-14 14:44] KennyMuffins commented on #7225
hi @ilkayilknur , are u referring to the portion inside the AbpCli? i dont believe i have that portion, will try it now, thanks!

[2021-01-14 14:46] ilkayilknur commented on #7225
Yes @KennyMuffins, Can you add that section and try again, please?

[2021-01-14 14:49] roupijiaojiaobao commented on #7230
Available!
Thank you very much!

[2021-01-14 14:49] #7230 closed, assigned to ismcagdas

[2021-01-14 14:58] KennyMuffins commented on #7225
Nope,still having an error, i realize my error is slightly different though

Error occured while downloading source-code from https://abp.io/api/download/template/ : '<' is an invalid start of a value. Path: $ | LineNumber: 0 | BytePositionInLine: 0.
[22:57:09 ERR] '<' is an invalid start of a value. Path: $ | LineNumber: 0 | BytePositionInLine: 0.

Probably there is an issue with the add-module t

[2021-01-14 15:00] ilkayilknur commented on #7225
@yekalkan, can you take look at this, please?

[2021-01-14 15:04] KennyMuffins opened #7232 "Error when downloading template for add-module command"
Command Ran:
abp add-module ContentManagement --new --add-to-solution-file -sp ..\Acme.BookStore.Web\Acme.BookStore.Web.csproj --output-folder D:\DotNet\abp-samples\BookStore-Modular\modules\content-management

This seems to be the same error with the template for project generation that happened this morning as well. Any advice?

Error occured while downloading source-code from https://abp.io/api

[2021-01-14 17:17] pvaz opened #7233 "4.2 RC1 and CMS Kit"
ABP 4.2 RC1

Hi,

anxiously waiting for the release of the cms kit module, today trying to see it live and test it, cannot simply find it.

I've created the project using abp suite and cli and suite are both pointed to RC1 version.

ABP CLI (https://abp.io)
Version 4.2.0-rc.1 (Prerelease)
Starting Suite v4.2.0-rc.1 ...
Opening http://localhost:3000

When I choose to create new solution I can see t

[2021-01-14 19:59] clinically-au commented on #7225
Thanks, it did not have that section (I think I initially created the project with the 4.0 ABP Suite)

It now gets further, but still throws up (different) errors. During the first build for Acme.Blazor here:
[06:45:41 INF] ABP CLI (https://abp.io)
[06:45:41 INF] Version 4.1.1 (Stable)
[06:45:43 INF] Installing module 'Acme.NewModule' to the solution 'Acme'
[06:45:44 INF] Installing 'Acme.NewModul

[2021-01-14 20:30] armanozak opened #7235 "Proxy Generator cannot resolve types properly when the solution name ends with the word "System" and has a dot in the solution name"

[2021-01-14 21:12] armanozak commented on #7222
Hi,

Yes, we would need those, but why do you want to test built-in ABP modules?

[2021-01-14 21:43] MooazHammam commented on #1754
any updates regard this issue, is it planned to be released soon

[2021-01-14 21:57] rygar08 commented on #7105
Thanks, this worked with a few modifications. Why do you need to add the foreignKey relationship in the DBContext and MigrationsDbContext?

MyProjectNameDbContextModelCreatingExtensions:

    builder.Entity<MyEntity>(b =>
    {
        b.ConfigureByConvention();
        b.HasOne<Volo.Abp.Identity.IdentityUser>().WithMany().HasForeignKey(x => x.UserId);
    });

MyProjectNameMigrationsDbContext:

[2021-01-14 22:04] rygar08 commented on #6938
So how do you seed a new AppUser?

[2021-01-15 01:27] maliming commented on #7227
hi @olicooper

Thanks, I will think about it.

[2021-01-15 01:31] maliming commented on #7231
hi @AdemAygun

Are you using the abp commercial?

[2021-01-15 01:40] maliming commented on #5936
Duplicate of #5517

[2021-01-15 01:40] #5936 closed, assigned to nobody

[2021-01-15 02:43] realLiangshiwei opened #7241 "DbMigrator could not create the initial migration"
Steps:
   1. `abp new Acme.BlazorEfCore -t app -u blazor --mobile none  --database-provider ef -csf --preview`
   2. Run the `.DbMigrator` application

![image](https://user-images.githubusercontent.com/16813853/104674303-603a4900-571e-11eb-990b-e11dabd4fbc3.png)

[2021-01-15 03:31] realLiangshiwei opened #7242 "DbMigrator: For mongodb, we don't need to create a migration file"
For MongoDB, we can remove the `MigrationsFolderExists` method

![image](https://user-images.githubusercontent.com/16813853/104677802-0db05b00-5725-11eb-8970-f61320d0c710.png)

[2021-01-15 05:48] #6059 closed, assigned to mehmet-erim

[2021-01-15 06:05] kuiyouli commented on #5897
Has this problem been solved? I have the same problem!

[2021-01-15 06:15] maliming commented on #5897
This available in abp v3.3 version and above。

[2021-01-15 06:50] yekalkan commented on #7241
If anyone else having this issue: Please use `dotnet run` to run **DbMigrator** project (or Visual Studio).

[2021-01-15 06:50] #7241 closed, assigned to nobody

[2021-01-15 07:16] yekalkan commented on #7232
i have run:

`abp new Acme.BookStore`
`abp add-module ContentManagement --new --add-to-solution-file --with-source-code`

No error. Can you try again?

[2021-01-15 07:19] AdemAygun commented on #7231
yes, but I think this will be a useful feature for both open source and commercial

[2021-01-15 07:28] KennyMuffins commented on #7232
@yekalkan thanks! it works now!

[2021-01-15 07:28] #7232 closed, assigned to nobody

[2021-01-15 07:49] tang-butian opened #7246 "Proxy Generation How do I generate comments"
For example, service comments, DTOs comments

[2021-01-15 07:57] ilkayilknur commented on #7233
Hello Paulo,
The CMS-Kit first preview is slated for 4.3 release. Our intention was to release the first preview with version 4.2. There were still some works to be done before the first preview. So we decided to skip 4.2 and focus on stability and some new functionalities. The team is excited and working hard to release the first preview of the CMS-Kit.

Thanks for your interest.

[2021-01-15 08:02] #7242 closed, assigned to yekalkan

[2021-01-15 08:24] #7209 closed, assigned to maliming

[2021-01-15 08:39] davidzwa commented on #7222
I understand your question. We dont have the luxury of using the themes and cant integrate the bootstrap based layout, therefore we cannot use the components.
As I do want to use the states, services, etc we've chosen to rewrite the components, also because we need to shape the role/user/tenant/settings very differently and with such new components come our own specs.

So we're not testing the mod

[2021-01-15 08:57] armanozak commented on #7222
There is an `apiName` property on the `IdentityUserService`, which is passed to the `RestService` when calling the `request` method. However, the `EnvironmentService` where this will be checked has no state.

- You may use `setState` method of `EnvironmentService` to set a state before tests.
- You may mock the `EnvironmentService`.
- You may mock the `RestService`.

I hope this answers your quest

[2021-01-15 09:02] davidzwa commented on #7222
Very nice! Much obliged.

[2021-01-15 09:02] #7222 closed, assigned to armanozak

[2021-01-15 09:20] #7189 closed, assigned to realLiangshiwei

[2021-01-15 09:25] davidzwa commented on #7222
[code]

This worked a treat!

[code]

[2021-01-15 09:46] mason-hz opened #7254 "Excuse me, we have completed the payment, but we cannot find this page. Can you provide support?"
Dear ABP team,

Excuse me, we have completed the payment, but we cannot find this page. Can you provide support?
![image](https://user-images.githubusercontent.com/66669985/104709214-9a750c00-5759-11eb-9fe8-faed5c252f4a.png)

[2021-01-15 09:53] ebicoglu commented on #7254
you have sent an email to [info@abp.io](mailto:info@abp.io) and the team is checking your issue.

no need to create an issue in the open-source repository

[2021-01-15 09:53] #7254 closed, assigned to ebicoglu

[2021-01-15 10:08] NecatiMeral opened #7255 "Docs-module - tiny language selection"
Hi,

the language selector appears to be very small if there's no version specification in the current project.

I'll contribute a PR to adjust the css-class from `col-5` to `col` if there aren't any versions.

![docs-tiny-language-selection](https://user-images.githubusercontent.com/7882753/104711628-e60bc380-5721-11eb-92fe-1a7d67b07449.png)

* Your **ABP Framework version**: 4.1.1
* Your **User

[2021-01-15 10:16] armanozak commented on #7222
I recommend using [Angular Testing Library](https://testing-library.com/docs/angular-testing-library/intro/) for component tests.

https://docs.abp.io/en/abp/4.2/UI/Angular/Testing

Have a nice day.

[2021-01-15 10:42] NecatiMeral opened #7259 "Docs-module - FullSearch page text is not localized / localizable"
Hi,

the caption says everything required. 😄
I'll contribute a PR to make the static texts localizable.

* Your **ABP Framework version**: 4.1.1
* Your **User Interface**: MVC
* Your database provider: EF Core
* Exception message and **stack trace**: none
* Steps needed to **reproduce** the problem.
  * Create a new multi-language Docs project
  * Enable es search
  * Open created project in web u

[2021-01-15 11:11] #7235 closed, assigned to armanozak

[2021-01-15 12:04] ghost opened #7261 "Login failed"
ABP version: 4.2.0-rc.1
UI: Razor page
DB provider: EF Core
VS community 16.8.4
OS Win 10
Chrome  87.0.4280.141
dotnet --version 5.0.200-preview.20601.7

I think I hit the strange errors.

### 1. Invalid username or password

Steps to reproduce:

1). Create a new application **TestCsrf** and download from abp.io, unzip and open in Visual Studio Community 2019.

Following the documents of abp, afte

[2021-01-15 13:12] olicooper opened #7265 "Login fails for 'admin@localhost' due to incorrect email validation"
The `ValidationHelper.IsValidEmailAddress` doesn't validate against `admin@localhost` but does work for e.g. `admin@localhost.com` (contains a dot followed by a character). Because the validation helper returns false, the email address is treated like a username when using the login form, so the user gets 'invalid username or password' instead of being successfully logged in.
For the login I think

[2021-01-15 14:06] yekalkan opened #7268 "Feature management modal: Align tab header items"
Needless space at the beginning. It doesn't look good. (You can look at permission management modal for a good example)

![image](https://user-images.githubusercontent.com/5793291/104735905-3e0eee00-5753-11eb-8686-edb587ee93d9.png)

[2021-01-15 14:56] MAlshehri opened #7270 "BUG: Exception while using CLI to create a new project with --database-management-system Postgres Abp 4.2.0-rc.1"
I get this exception while trying to create a new project

command: `abp new TestApp-t app -u angular -dbms PostgreSQL -v 4.2.0-rc.1`

    Deleting migrations...
    [17:44:20 ERR] Could not find a part of the path 'C:\Dev\aspnet-
    core\src\TestApp.EntityFrameworkCore.DbMigrations\Migrations'.
    System.IO.DirectoryNotFoundException: Could not find a part of the path 'C:\Dev\aspnet-
    core\s

[2021-01-15 15:12] olicooper commented on #7265
I have done some testing and I have some non-breaking options. I personally prefer option 2's flexibility, but I also like the 'strict' option of option 1 so I have added a 3rd option which combines both. I can make a PR if you like one of those options? Just wanted to share my thoughts anyway.
[code]
[code]
Combined option:
[code]

[2021-01-15 16:05] sturlath opened #7272 "Can't get localization for 'is' or 'is-IS' to work without <?>"
Hi

For some reason, **I can´t get my special Icelandic letters to show up correctly**. I have tried a lot of things and read all there is [about localization on your docks](https://docs.abp.io/en/abp/latest/Localization).

I have tried to use both 'is' and 'is-IS' as a culture name but without any change.

![image](https://user-images.githubusercontent.com/2386572/104748861-12d3d100-574a-11eb-968

[2021-01-15 18:53] olicooper opened #7274 "ClientId not populated in audit/security logs"
Version: 4.1.0 | UI: Angular

When using the old 'password' flow on the Angular client, the `ClientId` was populated (see https://github.com/abpframework/abp/pull/5127).
Now that code flow is the default, I have noticed that the `ClientId` is not populated in the `AbpSecurityLogs` and `AbpAuditLogs` for any requests. I believe this applies to all non-API requests that create audit/security logs bu

[2021-01-15 19:41] olicooper opened #7275 "Concurrency issue with AbpLazyServiceProvider"
Version: 4.2.0-rc.1

This happened in a background service when saving an entity to the database. I believe the `EfCoreRepository` instance was called concurrently and was probably sharing the same instance of `AbpLazyServiceProvider`. The `CachedServices` is not a `ConcurrentDictionary` so it threw an exception.

https://github.com/abpframework/abp/blob/a9bde97464d126d44516bf310292b053eb8c80dc/fr

[2021-01-15 20:17] mtozlu commented on #7119
ModelStateValidator [throws](https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Validation/ModelStateValidator.cs#L19) `AbpValidationException` when modelstate is not valid. This method is used in Register, ForgotPassword, etc pages.

Any validation error that gets past client side validation in my registe

[2021-01-15 22:06] mfaulcon commented on #7156
Is there a list somewhere showing which modules have an angular ui?

Mark

From: liangshiwei <notifications@github.com>
Sent: Tuesday, January 12, 2021 8:16 PM
To: abpframework/abp <abp@noreply.github.com>
Cc: mfaulcon <mfaulcon@cfl.rr.com>; Author <author@noreply.github.com>
Subject: Re: [abpframework/abp] How to add application an application module when targeting Angular UI (#7156)

Docs and Bl

[2021-01-16 02:29] maliming commented on #7275
hi

Can you share the steps to reproduce the problem?

I used Dictionary for performance. You can override AbpLazyServiceProvider to use ConcurrentDictionary.

Because I consider that there is no concurrency in a single http request.

[2021-01-16 03:27] ghost commented on #7261
Update:

I've figured out the problem of `XSRF-TOKEN` after couple hours of reading the docs about `SameSite` property of cookie.

The SSL was enabled by default in Visual Studio when debuging in Chrome.

After published to folder and run `dotnet TestCsrf.Web.dll`, I access to website by http `not` https, it will cause this issue.

If you want to access website by http with no issue, configure the

[2021-01-16 05:16] geffzhang commented on #2183
Discover that the dotnet team is writing a dapr for dotnet developer e-book https://github.com/dotnet/docs/tree/master/docs/architecture/dapr-for-net-developers

[2021-01-16 09:55] #6140 closed, assigned to nobody

[2021-01-16 09:55] #5452 closed, assigned to nobody

[2021-01-16 10:23] maliming commented on #7272
Maybe related to https://github.com/abpframework/abp/issues/2180#issuecomment-554852256

[2021-01-16 11:20] sturlath commented on #7272
That was it! Thank you... I´ll close this

[2021-01-16 11:20] #7272 closed, assigned to nobody

[2021-01-16 11:21] olicooper commented on #7275
I will see if I can create a reproducible solution for you but my project is complicated so it might be hard to replicate. This is happening in a _background service_ which executes an async 'processing' method when an email arrives in a monitored inbox, so it is likely that the code is executed concurrently.

There is another issue which I need to understand too, which is that the `LazyServicePro

[2021-01-16 13:22] nebula2 opened #7279 "Blazor UI - overwrite tenant management ui"
Hello,

I wanted to add two properties to the tenant.
**4.1 - Blazor UI - EF Core - not tiered**
According to the object extensions documentation found [here](https://docs.abp.io/en/abp/latest/Object-Extensions) I added the following code.

**Domain.Shared.#ModuleExtensionConfigurator.cs**

[code]
**EntityFrameworkCore.#EfCoreEntityExtensionMappings.cs**
[code]
Now I want to make those properties

[2021-01-16 13:36] mperk commented on #6627
I have same the problem. Did you solve it?  @ZhaoYis

[2021-01-16 13:41] myomyinthan commented on #7233
Hi ilkayilknur,

Can we choose angular or blazor for CMS-Kit ?

Thanks

[2021-01-16 14:21] tntwist commented on #7279
Hi,
try adding the required usings to the _Imports.razor located in your blazor project
[code]

[2021-01-16 15:34] sturlath opened #7280 "How to localize Login/Logout text in menu (or the login window there after)?"
I have read the [localization docs](https://docs.abp.io/en/abp/latest/Localization) (and the [extending resources](https://docs.abp.io/en/abp/latest/Localization#extending-existing-resource)) in/out and I can't figure out how I can override the default English translations that I have not set, like "Log in" etc.

It must be possible to override it even though the system doesn't currently come with

[2021-01-16 16:08] nebula2 commented on #7279
Well, I made the mistake to put the page inside the host project instead of the blazor project. Changed that but I still get a lot of errors. the usings are already defined inside the _imports.razor file.
![image](https://user-images.githubusercontent.com/5841525/104816749-564b3f80-581d-11eb-92b4-c98481cc0cf9.png)
![image](https://user-images.githubusercontent.com/5841525/104816784-7975ef00-581d-1

[2021-01-16 16:43] hikalkan opened #7282 "Getting error on DbMigrator"
I got an error but @yekalkan could not reproduce. I will be working on.

[code]

[2021-01-16 16:44] olicooper commented on #7275
I haven't made much progress so far. I can't reliably reproduce the issue because 2+ threads have to request the `ICancellationTokenProvider` from a shared instance of `LazyServiceProvider` at the same time. I think both threads are calling `Dictionary.FindValue` which returns false, so both threads try to add the `ICancellationTokenProvider`.

My debugging has included initializing the `LazyServi

[2021-01-16 18:45] tntwist commented on #7279
TenantManagement stuff should be in the namespace ``Volo.Abp.TenantManagement``.

So try adding ``@using Volo.Abp.TenantManagement`` to your TenantManagment.razor
Or you can move the page to the correct namespace with ``@namespace Volo.Abp.TenantManagement``

[2021-01-16 18:58] d-oit commented on #7280
Login / Logout is not a localizable string: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme/Themes/Basic/LoginDisplay.razor

You could override the component:
https://docs.abp.io/en/abp/latest/UI/Blazor/Customization-Overriding-Components

Or customize the basic theme:
https://community.abp.io/articles/creating-a-new-ui-theme-by-copy

[2021-01-16 19:12] d-oit commented on #7221
IDS4 is great atm. No need to change: "This repo will be maintained with bug fixes and security updates until November 2022."

Wait for the complete .NET 6 MS Roadmap for a possible/alternative switch: https://github.com/dotnet/aspnetcore/issues/27883

[2021-01-17 02:54] maliming commented on #7282
I can't reproduce it in 4.2 RC 1.

 If you get this error after executing **DbMigrator**  multiple times, It may be that the **__EFMigrationsHistory** table is missing from the database. This rarely occurs.

[2021-01-17 08:38] hikalkan commented on #7282
I can reproduce it even with 4.1.1. It is creating the database, but doesn't create tables. Just an empty `__EFMigrationsHistory` table. I suspect that it is somehow related my local system, but couldn't figure out the reason.

[2021-01-17 08:50] hikalkan commented on #7282
I see that Rider (my IDE) doesn't recognize the migration I added. It is resolved when I re-build the solution and run DbMigrator again.

[2021-01-17 08:50] #7282 closed, assigned to nobody

[2021-01-17 09:11] yekalkan opened #7285 "Cli template creation: Remove aspnet-core root if blazor & no-mobile"

[2021-01-17 10:37] sturlath commented on #7280
Is there something stopping me from trying to create a PR for that? Is there some reason the strings are not localized there?

**But how about** the page after pressing the Login button? This [Login.cshtml](https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml)

![image](https://user-images.githubuserco

[2021-01-17 10:47] hikalkan commented on #7270
Thanks for reporting this. Resolved by #7277
We will publish 4.2.0-rc.2 on Monday or Tuesday.

[2021-01-17 10:47] #7270 closed, assigned to yekalkan

[2021-01-17 10:49] #7207 closed, assigned to maliming

[2021-01-17 11:37] hikalkan opened #7289 "Article: How to login and consume backend API using Xamarin"

[2021-01-17 11:37] hikalkan commented on #158
To be honest, we don't have motivation to work on a Xamarin infrastructure now :)
For mobile, we now have a React Native option.
Consuming REST APIs and authentication though OAuth protocol is pretty standard actually, so you can use any mobile/web framework with the ABP Framework.
However, it would be good to write ABP Community articles to demonstre it, I agree. I created an issue for Xamarin: h

[2021-01-17 11:40] hikalkan commented on #281
You can override the [default theme selector](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI/Volo/Abp/AspNetCore/Mvc/UI/Theming/DefaultThemeSelector.cs) and return a different theme based on the current tenant. I think we don't work on this in a short time.

[2021-01-17 11:50] hikalkan commented on #5517
@Stirda it is currently in 4.3 milestone. That means we are working on it in 4.3. We do our best, however it may not finish it 4.3. It is released when it is ready. Especially such major works (touch everything) are hard to predict :)

[2021-01-17 13:36] nebula2 commented on #7279
Luckily I was able to solve this. The main issue was that I used the wrong documentation.

The correct documentation is [this](https://docs.abp.io/en/abp/latest/UI/Blazor/Customization-Overriding-Components) one.

The main difference is that my custom page needs to inherit from the default page. I also need to define attributes (everything like documented).
But there is one thing I want do add (fo

[2021-01-17 13:36] #7279 closed, assigned to nobody

[2021-01-17 14:09] armanozak opened #7290 "DateParserFormatter should be reviewed and a test double should provided at ThemeSharedTestingModule.withConfig if necessary"
`this.configState.getOne('localization') as ApplicationLocalizationConfigurationDto).currentCulture.dateTimeFormat` fails in tests, because there is localization state.

[2021-01-17 14:48] d-oit opened #7291 "AbpCrudPageBase.cs"
` protected virtual async Task CreateEntityAsync()`
...
move

[code]

use case: Modal "Create dialog" with Button "Save & New" to create records in one go

[2021-01-18 01:38] #7261 closed, assigned to nobody

[2021-01-18 01:53] realLiangshiwei commented on #7156
See https://commercial.abp.io/modules

[2021-01-18 01:53] #7156 closed, assigned to nobody

[2021-01-18 04:10] learnabpframework opened #7292 "Trying to build a video to demo the Blazor animations in V4.1"
I can't seem so see any animations which are mentioned in the Blog and release notes for version 4.1

[code]

[2021-01-18 06:33] maliming commented on #7275
You can override **AbpLazyServiceProvider** to use **ConcurrentDictionary** or use **lock** at some place.

[2021-01-18 06:35] maliming commented on #7265
hi @olicooper

I agree with you. Welcome.

[2021-01-18 07:29] ilkayilknur commented on #7292
@stsrki Any ideas on how did we implement the animations?

[2021-01-18 07:47] realLiangshiwei commented on #7206
Can't reproduce the problem, can you provide steps to reproduce it?

[2021-01-18 07:56] mehmetuken opened #7298 "C# Dynamic Proxy error using class."
[code]

My ProductsAppService get input like this c# dynamic proxy if not set any QueryFilter value request like

https://localhost:44315/api/app/product&Sorting=&SkipCount=0&MaxResultCount=10&api-version=1.0

first element starts & character. I set QueryFilter.Name = ""; empty it's run correctly.
https://localhost:44315/api/app/product?QueryFilter.Name=&Sorting=&SkipCount=0&MaxResultCount=10&api-

[2021-01-18 08:02] maliming commented on #7298
hi @mehmetuken

* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-01-18 08:11] stsrki commented on #7292
@learnabpframework @ilkayilknur

Opening animations are done automatically for modals and dropdowns. It's more of a fade-in effect.

Regarding the autofocus, it works for input fields by setting the `Autofocus` parameter. eg. `<TextEdit Autofocus="true" />`.

In case the effects are not working, try refreshing the app with CTRL+F5 or clear the cache manually. Sometimes Blazor tends to leave the ol

[2021-01-18 08:11] mehmetuken commented on #7298
Sorry.
Abp Framework Version 4.1.1 stable

Steps,
[code]

my ProductQueryFilter class. i use repository custom filter.
[code]

my input class
[code]

i follow blazor Web Application Development Tutorial my input have class ProductQueryFilter i don't set any query filter dynamic proxy create url like this
https://localhost:44315/api/app/product&Sorting=&SkipCount=0&MaxResultCount=10&api-version=1.0

[2021-01-18 08:13] stsrki commented on #7291
@d-oit Can you please explain better what is the problem? Do I need to remove `CreateModal.Hide();`?

[2021-01-18 08:17] maliming commented on #7298
Thanks I will check this.

[2021-01-18 08:32] ilkayilknur commented on #7246
@2693252993 can you elaborate on the question, please?

[2021-01-18 08:41] #7290 closed, assigned to armanozak, mehmet-erim

[2021-01-18 08:45] pualfu opened #7302 "Value cannot be null. (Parameter 'provider')"
version 4.1.0
[code]
[code]
[code]
I use  this `context.Services.AddAbpDBContextEntesion<TestContext>();`

[code]
when i debug   i find   'ServiceProvider' of  IRepositoryExtendsions<Test1, Guid>  is null and  'ServiceProvider' of   IRepository<Test1, Guid> is not null
![企业微信截图_1610961733842](https://user-images.githubusercontent.com/76038865/104896236-d6a2a980-59b1-11eb-8c66-63dc9a0bdaca.png)

[2021-01-18 08:49] realLiangshiwei commented on #7302
Please **write in English**.

[2021-01-18 08:52] maliming commented on #7298
I can't rep[roduce it in the unit test method. Can you share a sample project?

[2021-01-18 09:16] armanozak opened #7303 "Angular configurations in templates do not include styles properly in tests"

[2021-01-18 09:19] stsrki commented on #7291
Ignore, I see what you meant now :)

[2021-01-18 09:19] d-oit commented on #7291
@stsrki Think about the end user. In the current implentation you have to enter the record values ->
Save and click on the "new" button again - not real user friendly. For my apps I implement - "Save & New" and "Save & Close" Buttons or with a bool switch for close or not close the modal dialog.

I already create a new class (derived from AbpCrudBase) for myself and fix the problem for me already.

[2021-01-18 09:20] d-oit commented on #7291
@stsrki :-)

[2021-01-18 09:51] leonkosak commented on #5543
This should greatly improve this issue, right?
https://github.com/abpframework/abp/issues/6269#issuecomment-756734786

[2021-01-18 09:52] stsrki commented on #6105
@1443403216 I'm looking at this issue now and I would like some help from you. Can you please show us your `Product` model along with data-annotations that you use?

Regarding the **2.**. That is how Blazor works. It must be case sensitive so there is no way around it.

[2021-01-18 09:55] #7274 closed, assigned to maliming

[2021-01-18 10:06] mehmetuken commented on #7298
I find i think is irrelevant but problem is any empty generic input set.

My example
[code]
https://github.com/abpframework/abp/blob/1771d34ac08dc6750d5254273349955435d3c10a/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/UrlBuilder.cs#L80

in here is not null but is empty generic using firstParam but not set urlbuilder because is empty.

[2021-01-18 10:37] alexandis opened #7306 "Weird layout on build-in pages like Homepage and Dashboard"
3.3.2 / Angular

For some reason, 'built-in' pages, like Home page or Dashboard now look weird - they have `abp-application-layout` inside another `abp-application-layout`. Our own pages look normal.

![image](https://user-images.githubusercontent.com/6149843/104904160-8c0d3700-5989-11eb-9097-d3eb20793a17.png)

![image](https://user-images.githubusercontent.com/6149843/104904323-b6f78b00-5989-11eb

[2021-01-18 11:53] stsrki commented on #6105
I was trying to reproduce this and the only way to show the error was to rename `@bind-Text` into `@bind-text`. Notice the **lowercase**!

Doing it like that is an invalid code. `Text` parameter must be **uppercased**. So, when you define  `@bind-text` there is no way for Blazorise validation to get any information about the actual field or it's data-annotations. Meaning you will skip the **client

[2021-01-18 12:29] ktngoykalolo commented on #7105
Hi,
tried your approach but getting the below error when trying to generate the migration:

The property 'AppUser.ExtraProperties' could not be mapped because it is of type 'ExtraPropertyDictionary', which is not a supported primitive type or a valid entity type. Either explicitly map this property, or ignore it using the '[NotMapped]' attribute or by using 'EntityTypeBuilder.Ignore' in 'OnModelCr

[2021-01-18 12:55] ilkayilknur commented on #7306
@bnymncoskuner can you take a look into that, please?

[2021-01-18 13:41] espindl commented on #7261
This is not a login issue only. If you are using MVC Razor and calling appservices from javascript (abp ajax) on Chrome it is an issue. We were not having login issues but having issues calling services from js. And we added @scymen 's options code. Now it is working without an issue. Btw it was not an issue on Firefox. Maybe it should be in the frw code.

[2021-01-18 14:26] davidzwa commented on #6658
@maliming I am eager to hear whether disabling oAuth with a boolean flag is something you're willing to add. It is 99% impossible for me to do this right now (I even tried recreating my own CoreModule, but that gave import path errors).

Should not be very hard I belief, if oAuth is kept on by default so it is not a breaking change.

Justification: our application is not ready for oAuth or IDS4, s

[2021-01-18 14:48] mperk opened #7315 "Is it possible to change the tenant after login?"
Used separate identityserver4 and angular.  In one application have multiple tenants.
There is two or more users. All of them have same username, mail address, other infos, but have different tenantId.
Is it possible to change the tenant after login? if it is ok how can i do it, can you give me some hints please

[2021-01-18 14:53] ilkayilknur commented on #7315
https://docs.abp.io/en/abp/latest/Multi-Tenancy#change-the-current-tenant Does this work for you?

[2021-01-18 14:56] davidzwa commented on #7315
Of course it depends on whether you want to switch tenant completely:

- if yes: ABP has separate `AbpUsers` accounts per tenant, so you need to make sure the users exist for the tenant (also null/Host tenant). You can link users with `AbpLinkUsers` to be able to really switch between tenants faster.
- if not: @ilkayilknur his solution should get you what you need in most cases, but it's of course

[2021-01-18 15:03] davidzwa commented on #7221
I/we agree with sticking with IDS4 for a preset period (1 year/.NET 6 release), although I do think we should consider fork and maintenance approach if no solution arises in time. I think this community has the capability of carrying the load that comes with it.

Also, can this important issue be pinned? I think it is quite important that people give their opinion.

[2021-01-18 15:15] mperk commented on #7315
Thanks @ilkayilknur , @davidzwa
I tried the CurrentTenant.Change after I check user tenants. But the angular side and current auth cookie/token did not change

[2021-01-18 15:21] iyilm4z commented on #3128
I think this feature is already implemented [here](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AutoMapper/AutoMapper/AbpAutoMapperExtensibleDtoExtensions.cs)?

[2021-01-18 15:23] davidzwa commented on #7315
Yes this makes sense; depending on the authentication method you use, the JWT/access token contents and thus the claims inside it will not change without refreshing the login. This is exactly what I meant: the `CurrentTenant.Change` method is only temporary and basically allows you to change the tenancy scope of the API, but not the client. That requires you to change tenant explicitly, so the Ten

[2021-01-18 15:36] davidzwa commented on #7315
I'm collecting useful information here:
- Switching users requires token change (by authors) https://github.com/abpframework/abp/issues/5413
- Host/tenant access https://github.com/abpframework/abp/issues/1796
- Impersonating users https://github.com/abpframework/abp/issues/1796
- Complete tenancy/admin disabling https://github.com/abpframework/abp/issues/2202
- Switch between tenants on login pag

[2021-01-18 16:51] mperk commented on #7315
I used separate identityserver4 and angular version. In one application have multiple tenants.
I want to If a user have multiple tenants, the user can change the tenant with a selectbox on header.

[2021-01-18 17:34] davidzwa commented on #7315
You should accept then that there is no such thing as 1 user, multiple tenants. ABP requires 1 user per tenant, so you need clones per tenant. Work on that first.

[2021-01-18 17:42] mperk commented on #7315
Actually, i said wrongly, sorry. There is two or more user. All of them have same username, mail address, but have different tenantId. I can check the users with username.

[2021-01-18 19:13] martenw opened #7319 "Password validation strings are not localized"
![image](https://user-images.githubusercontent.com/1492596/104954780-30fb3480-59c9-11eb-9efe-902adbcee393.png)

Tested in a clean 4.1.1 Razor pages setup

- Select any language but English and go to the registration page
- Write a single letter in the password field to display the validation errors
- These are showing in English and not in selected language

[2021-01-18 19:19] hikalkan commented on #7221
Pinned the issue. Thanks for reminding.

[2021-01-18 20:10] olicooper commented on #7119
Thanks for the snippet @mtozlu - I may have to use this.

Why are we not integrating with Microsoft's [PageModel.TryValidateModel](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.razorpages.pagemodel.tryvalidatemodel?view=aspnetcore-5.0#Microsoft_AspNetCore_Mvc_RazorPages_PageModel_TryValidateModel_System_Object_System_String_)?

Microsoft handle ModelState validation errors [

[2021-01-18 23:22] tinonetic opened #7320 "Exception injecting `IRepository<MyEntity,Guid>` in an ABP console app"
Hi,

I am using ABP version 4.1

I am trying to write a utility console app that has MySQL database access.

I used the documented method to create a console app: https://docs.abp.io/en/abp/latest/Startup-Templates/Console#how-to-start-with

I created the entities and successfully ran the migrator. The DB and all tables were created successfully

I have previously used `IRepository` successfully i

[2021-01-19 01:04] danielmeza commented on #1082
@maliming Hi! I see this has move throw 3 milestones now, witch is a real time line for this feature, we need to make a decision based on a dead line for this! please be honest and tanks for you effort.

[2021-01-19 01:13] maliming commented on #1082
For monolithic applications, this can be achieved, but we also have tiered applications, we have not been able to find a perfect solution.

[2021-01-19 01:14] maliming commented on #7320
Can you share some code?

[2021-01-19 01:15] tang-butian commented on #7246
@ilkayilknur
sorry.
I want to use ABP Generate-Proxy to generate comments for DTO in server code into Angular applications.
The server code
![image](https://user-images.githubusercontent.com/27254047/104975691-54a89400-5a36-11eb-8f01-3971adf41f9d.png)
The code I want to generate for an Angular app looks like this
![image](https://user-images.githubusercontent.com/27254047/104975828-b8cb5800-5a36-1

[2021-01-19 01:57] realLiangshiwei commented on #7302
I think it has nothing to do with ABP. you should check the code yourself.

[2021-01-19 01:57] #7302 closed, assigned to nobody

[2021-01-19 01:57] learnabpframework commented on #7292
I have tried clearing the browser cache  ... doesn't seem to have any effect. Hard to demonstrate the animations if it is only a subtle change. is there a way to slow down the fade effect to show that it is animated.

[2021-01-19 02:40] maliming commented on #7319
See https://github.com/abpframework/abp/pull/7321

[2021-01-19 02:55] maliming commented on #7231
I can't reproduce your problem.

[2021-01-19 03:13] tanyo520 opened #7322 "Does ABP module support hot deployment, uninstall and installation"
Does ABP module support hot deployment, uninstall and installation

[2021-01-19 03:14] maliming commented on #7322
Not support.

[2021-01-19 03:14] #7322 closed, assigned to nobody

[2021-01-19 03:22] danielmeza commented on #1082
Yo can share the state of investigation on this feature so we can all contribute with a solution?

[2021-01-19 03:29] maliming commented on #1082
If the application uses local authentication, such as cookies or self-signed JWT. We can easily switch the identity of the current user, refresh the cookies, and get the token again.

If the application uses remote authentication such as OpenID, switching the current identity is complicated.

[2021-01-19 03:36] danielmeza commented on #1082
Ok so the issue that should be resolved is to find out a secure and abstract way to impersonate the user on an external Identity provider, where reside the difficult on  the remote authentication way? On make the authentication process against the server or on impersonate te user internally after the authentication process has been complete?
With identity server we can have back channels in order

[2021-01-19 03:44] #7206 closed

[2021-01-19 05:10] leonkosak commented on #7221
I agree that sticking with IDS4 is currently the best option (at least this year). After that I hope that MS finally comes with its own solution.

[2021-01-19 06:48] #7303 closed, assigned to armanozak

[2021-01-19 06:51] mehmet-erim commented on #6658
Hello @davidzwa

The `@abp/ng.core` is dependent on the `angular-ouath2-oidc` package and the core use many methods of the `OAuthService`. So it cannot be disabled with a boolean option.

But you can override the `OAuthService` by adding a provider.
I'm explaining to you how to do this but **the solution below is totally workaround and I don't recommend it.**

You can override a service by adding

[2021-01-19 07:39] ilkayilknur commented on #7246
@armanozak , Can you take a look at this, please?

[2021-01-19 07:39] armanozak commented on #7246
You cannot generate comments.

[2021-01-19 08:11] stsrki commented on #7292
You can adjust animation CSS. Here is the source

[code]

[2021-01-19 08:51] #7319 closed, assigned to maliming

[2021-01-19 08:52] #7298 closed, assigned to maliming

[2021-01-19 09:28] #7120 closed, assigned to nobody

[2021-01-19 10:08] davidzwa commented on #6658
Much appreciated and I fully agree that this is not recommended due to breaking changes!
In future I will work towards oAuth, just not there yet.

[2021-01-19 10:08] #6658 closed, assigned to nobody

[2021-01-19 10:34] davidzwa commented on #7315
Please close the issue, as I've provided enough information on what Abp allows you to do.

[2021-01-19 10:42] mperk commented on #7315
sorry but my question is still there. I know already your all suggestions. Maybe someone help to me in future

[2021-01-19 10:45] kayagultekin opened #7337 "[SQLite DBMS] .DbMigrator won't create migration files."
Abp 4.1 and 4.2.0-rc.2 > EF Core & MVC

Running the '.DbMigrator' won't create migration files which results in the need for the developer to create migrations manually..

Reproduction steps:

- in 4.1 the problem occured while following the [directions in the documentation](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-SQLite).

- in 4.2.0-rc.2  the problem occured while following the [

[2021-01-19 10:51] kayagultekin opened #7338 "[SQLite DBMS] .DbMigrator and .Web connectionString creates multiple SQLite db files."
Abp 4.1 > EF Core & MVC

And '.DbMigrator' applies the migrations on the db file created in .DbMigrator project. I believe this is because ofthe relative Filename in [Change the Connection Strings in Switch to EF Core SQLite Provider](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-SQLite#change-the-connection-strings) `"Default": "Filename=./MySQLiteDBFile.sqlite"` Which seems to be solve

[2021-01-19 10:56] kayagultekin opened #7339 "[SQLite DBMS] in 4.2.0-rc.2 JSON issues in ConnectionStrings"
Abp 4.2.0-rc.2 > EF Core & MVC

- System.FormatException: Could not parse the JSON file. ... The string should be correctly escaped ... (I believe this is because the single - unescaped backslahes in the resulted connection string) After escaping those, the new problem is:
- ArgumentException: Connection string keyword 'version' is not supported. For a possible alternative, see https://go.microsof

[2021-01-19 14:31] Xeevis commented on #7221
Sticking with IDS4 for the time being sounds good. Microsoft will surely tackle the issue sooner or later, they chose IdentityServer because it was free and open source. Now they have to decide on this once again.

I made a quick peek at Duende. Licensing seems quite restrictive. At the Starter edition ($1500) it's limited to single issuer URL with 5 OAuth clients. Correct me if I'm wrong but seem

[2021-01-19 14:54] sturlath opened #7345 "CLI abp udate logs an error error"
I had created a v4.2.0-rc.1 solution and now I want to try to update so I  ran `abp update` and get the error below

I can run the code and I can´t see that it affects anything but I thought you should know about it if you dont.

`[14:50:26 INF] Updating package "Volo.Abp.Authorization" from v4.2.0-rc.1 to v4.2.0-rc.2.
[14:50:26 INF] Volo packages are updated in EventOrganizer solution.
[14:50:26

[2021-01-19 15:25] martenw commented on #7319
Impressed by how fast you fix reported issues!

Many thanks!

[2021-01-19 15:31] davidzwa commented on #7221
Yeah I found the same although Duende's license table has improved in 1 month; I was trying to look for open (free) gaps in the licensing, but RPL just makes it near impossible and we're not even commercially involved.

Do you guys think MS will pick this up? Heard some very mixed reactions on IDS's repo/blog reactions on how MS ignored this whole situation. What will make it different in future?

[2021-01-19 15:56] olicooper commented on #7119
I have found a way to generically override the functionality but I'm not happy with this solution.
The idea is to intercept the request after model binding but before the post method is called. I have found that the `Volo.Abp.AspNetCore.Mvc.Validation.AbpValidationActionFilter` is being applied to all requests which makes it difficult to intercept but this works.
[code]
Then in your module `Config

[2021-01-19 16:18] ilkayilknur commented on #7345
I'm not able to reproduce the issue. Can you try again and let us know if the problem still exists?

[2021-01-19 17:35] olicooper commented on #7280
### UPDATE
The localization overriding is working fine with the changes below. It was a bug specifically in Identity localization: https://github.com/abpframework/abp/commit/cc1c1d3cd1dc19bf66701d12ebc02acc58b559b6#diff-64394e2c990c78aa48c6d551c9e82a16ed963b96d17bdf1a9adbcf3029d6c642

==========

I precisely followed the abp docs and it isn't working for me either.

I want to change this localized

[2021-01-19 18:53] andre-artus opened #7346 "How to indicate the current tenant on an angular page?"
I wish to show the name of the current tenant on my angular pages.  I've looked at injecting MultiTenancyService and AbpTenantService, but those do not seem to work.

e.g.

[code]

[2021-01-19 18:56] sebitsi opened #7347 "How to inject (use) IOptions<SomeConfig> into ConfigureService ?"
Hi,

is it possible to inject IOptions<> or any other dependent object inside ConfigureService method ?

I'm trying to implement swagger DocInclusionPredicate in  services.AddSwaggerGen registration.
This predicate need some configuration data i defined in some other module in PreConfigureService ?

If not is there any option to solve this ? Other than global static class ?

Thanks

[2021-01-19 19:47] ilkayilknur commented on #7347
Yes, you can get the options from the `IServiceCollection` instance. Let's say that you need to access the `AbpNavigationOptions`.
[code]

[2021-01-19 19:47] #7347 closed, assigned to nobody

[2021-01-19 20:15] davidzwa commented on #7346
SessionStateService and getTenant() and the result's name property should give you what you need.

[2021-01-19 20:19] EslamElmadny commented on #7176
Hello,
I installed latest version which targets .net 5 and I had the same issue ,, there's **no tenant id or name in login api** to login as tenant user from swagger

For your support please ..

![image](https://user-images.githubusercontent.com/38657564/105088216-42653f00-5aa4-11eb-91f3-0cb02140f739.png)

[2021-01-19 20:24] andre-artus commented on #7346
@davidzwa ,

Thank you. That works.

`this.tenantName = this.sessionStateService.getTenant().name ?? 'HOST';`

Can getTenant() return null?

[2021-01-19 20:28] davidzwa commented on #7346
That could very well be, but only if the application was either:
- not configured at start (`skipGetAppConfiguration` boolean flag in your AppModule or other module `CoreModule.forRoot()` call)
- failed to set session state default (check abpSession's tenant in localStorage to see what I mean; quite unlikely this ever fails)

So, as you might notice: quite unlikely, but possible in worst case. I'd

[2021-01-19 20:30] andre-artus opened #7348 "Which service to use to list available tenants on Angular page."
I wish to list all the tenants on my [Angular] home page when logged in on the HOST tenant.
Which service do I use to return the list of tenants? I tried `MultiTenancyService`, but it seems not to be the correct one.

[2021-01-19 20:40] andre-artus opened #7349 "Using __tenant on query string does not change the tenant."
I wish to have my [Angular] homepage show a list of tenants with each one being a link to the related tenant.

When I pass `__tenant` on the query string (e.g. `http://localhost:4200/?__tenant=tenant1` it does not do anything.

The documantation indicates that `QueryStringTenantResolveContributor` is part of the tenant resolution pipeline by default, but I've even tried adding the following to `Co

[2021-01-19 20:52] davidzwa commented on #7348
You need to choose:
- use the @abp/ng.tenant-management package with the permission for listing tenants (module import is not *required* to make use of the service):

- implement a controller/service or proxy service which lets you filter for the right tenants (by f.e. adding nice metadata properties with ExtraProperties) so your users get the right set of tenants for them. This way you can query

[2021-01-19 21:13] davidzwa commented on #7349
Angular provides the tenantId in the Header field.

https://github.com/abpframework/abp/blob/badad8d59f02bb0ccba433b49a7fc24ee7bf3b5a/npm/ng-packs/packages/core/src/lib/interceptors/api.interceptor.ts#L43

Docs on Angular and the header
https://docs.abp.io/en/abp/latest/UI/Angular/Multi-Tenancy#see-also

Can you check whether this HTTP header __tenant is not set? This could explain your situation.

[2021-01-19 21:28] andre-artus commented on #7348
@davidzwa , thank you. I'll give this a try.

Is  @abp/ng.tenant-management a package that needs to be installed (i.e. not part of default template)?

I'll likely ultimately go for option 2, but I'll try 1 out first.

[2021-01-19 21:33] bartvanhoey opened #7350 "modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml"
In the file modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml. In the section below GivenTenantIsNotAvailable is used as a translation key on the title attribute. Is this correct? When I hover over the Facebook login button In my app I get GivenTenantIsNotAvailable as a title. Is this correct or am I doing something wrong?

[code]

[2021-01-19 21:34] davidzwa commented on #7348
Yes the package is a separate yarn/npm install. Option 1 would give your users lookup access to all tenants, no questions asked. Might be risky or chaotic depending on your situation if you're making the permission default granted.

[2021-01-19 21:38] andre-artus commented on #7349
Thank you @davidzwa,

I've read the docs, and from it concluded (perhaps mistakenly) that I can change the tenant using either the query string, or if the domain resolver has been added, from the domain/subdomain. But it does not work for me.

 The header is set, but only when I switch (and log in) tenants on the login page.

I wish to have a list of links on my page that can take a user to a tena

[2021-01-19 21:58] andre-artus commented on #7348
@davidzwa ,

Thanks, I ran `yarn add @abp/ng.tenant-management` and it seems to have installed fine.

When I go to import `AbpTenantManagement` to my home.component.ts it automatically adds it to `from '@abp/ng.core';` but then indicates that it cannot be found, what am I missing?

[2021-01-19 22:03] andre-artus commented on #7348
Having installed the package mentioned above  I now get errors when it tries to recompile:

[code]

[2021-01-19 22:16] andre-artus commented on #7348
The compilation issue seems to have disappeared after I shut the running instance down and restarted it.

[2021-01-19 22:16] davidzwa commented on #7348
Hmm lot's of things could be inconsistent here. The following is not meant to be patronizing, just bear with me 👍🏼 The next tips are of course assuming you'd follow option 1

- Always restart ng serve (or alternatives) after installing a new package - I'll assume you did
- Dont import (?) AbpTenantManagement (?) in a component, but make sure to inject TenantService (`private tenantService: TenantS

[2021-01-19 22:38] davidzwa commented on #7349
Ah now that I read your initial `Console.WriteLine(...)` result better I see that your conclusion is not entirely correct. I got the same when checking the options the line after, but the result was completely different when I injected the options in a controller for test (when the application was fully booted):

[code]

Now what I think might be going wrong is that the tenantId in your JWT or acc

[2021-01-19 22:44] davidzwa commented on #7349
[code]
I believe injecting is always the best way to check as direct instantiation might (as you saw) give unreliable results.
The code above gives me 6 tenant resolvers by debugging/logging in the module itself at startup (so you dont have to call a Controller or something alike). In this case I didnt add any resolver, so 6 of them makes sense.

[2021-01-19 22:45] andre-artus commented on #7348
Please, @davidzwa, be as patronizing as you need to be. I'm new to ABP, so everything about it is a mystery to me.

I actually did not, initially.

Your information helped me get what I need, thank you very much.

[2021-01-19 22:53] davidzwa commented on #7349
Ugh I feel stupid now.

[code]
See my comment within the Configure() call above.
Do note ABP suggests you to not change the order for security reasons "CurrentUserTenantResolveContributor. This should always be the first contributor for the security.". Does not mean you have to follow everything they say ;)

[2021-01-19 22:54] davidzwa commented on #7348
Explaining this helps me understand the layers. Thanks to you as well! Learned a lot.

[2021-01-19 23:02] keithtoop opened #7351 "AbpClaims in Abp.IdentityServer"
I specified the identityServer with this resource definition and run Abp.IdentityServer with Asp.Net Identity.

[code]
I hardcoded an ApiResource as this:

[code]

How come my "password" grant comes up with the claim value for "name" is actually identityUser's userName, while I can't find any claims for identityUser's name?

[2021-01-20 00:38] ktngoykalolo commented on #7105
hi,
tried this code snippets and it worked.

[2021-01-20 01:08] #7105 closed, assigned to nobody

[2021-01-20 01:09] #7348 closed, assigned to nobody

[2021-01-20 01:11] maliming commented on #7176
You need to manually set the **tenant id**

See https://docs.abp.io/en/abp/latest/Multi-Tenancy#determining-the-current-tenant

[2021-01-20 01:20] 274188A opened #7352 "[Abp CLI]. Abp Bundle now giving 'Unable to load one or more of the requested types'"
step 0: run `dotnet tool update -g Volo.Abp.Cli --version 4.2.0-rc.2`

step 1: Upgraded code to latest preview : 4.2.0-rc.2

step 2: clean, rebuild solution

step 3: ran cmd `abp bundle` as shown below in the blazor project dir

result:

[09:16:42 INF] ABP CLI (https://abp.io)
[09:16:43 INF] Version 4.1.2 (Stable)
[09:16:44 ERR] Unable to load one or more of the requested types.
Could not load fil

[2021-01-20 01:26] realLiangshiwei commented on #7352
I think you need to build your project.

[2021-01-20 01:28] 274188A commented on #7352
sorry, yes that should have been in my steps but yes - i did clean, rebuild etc. - updated issue to say build was done now

[2021-01-20 01:39] maliming commented on #7351
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-01-20 01:51] Rwing opened #7353 "[BloBStoring] How to control the ACL of AWS S3 when saving?"
I wanna set S3CannedACL.PublicRead when saving file, but it doesn't look like it supports doing that.
[code]

[2021-01-20 02:03] maliming commented on #7353
`IBlobContainer `is abstract, you can override or replace services to do more features.
https://github.com/abpframework/abp/issues/4989#issuecomment-670577121

[2021-01-20 02:03] #7353 closed, assigned to nobody

[2021-01-20 02:13] maliming commented on #7350
I think it wrong, checking.

[2021-01-20 02:32] maliming commented on #7337
Are you using the `JetBrains Rider`?

[2021-01-20 02:44] keithtoop commented on #7351
Volo.Abp.Identity.AspNetCore - 4.1.2
Volo.Abp.Identity.EntityFrameworkCore - 4.1.2
Volo.Abp.IdentityServer.EntityFramework - 4.1.2

Reproduce:

Step 1: replace ResourceStore with hardcoded one

[code]
Step2: Pre-config this with:

[code]

Expected: when doing "password" grant, the claim "name" should be valued with identityUser.Name.
Now: it returns "name" claim as identityUser.Username

Same as g

[2021-01-20 02:49] maliming commented on #7280
hi @olicooper

Can you share a project to show the problem?

[2021-01-20 03:06] maliming commented on #7351
hi

You can check the claims create servcies.

https://github.com/abpframework/abp/blob/dev/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpUserClaimsFactory.cs#L48
https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpUserClaimsPrincipalFactory.cs

[2021-01-20 03:12] realLiangshiwei commented on #7352
Try:
[code]

[2021-01-20 03:15] 274188A commented on #7352
yes i always make sure to update the CLI tool - good suggestion though...

[2021-01-20 03:24] realLiangshiwei opened #7356 "ABP CLI: Unable to download old version of template"
Ensure that there is no template cache locally

`abp new BookStore -t app -v 4.0.0`

![image](https://user-images.githubusercontent.com/16813853/105122989-3b751580-5b12-11eb-9076-4698d6d77e7d.png)

[2021-01-20 03:30] realLiangshiwei commented on #7352
![image](https://user-images.githubusercontent.com/16813853/105123331-d241d200-5b12-11eb-8c2f-8d5d273b364b.png)

It looks like your CLI is version 4.1.2

[2021-01-20 03:34] 274188A commented on #7352
thanks! - i swear i thought i updated the CLI -obviously not - sorry for taking your time...

[2021-01-20 03:34] #7352 closed, assigned to nobody

[2021-01-20 03:35] maliming commented on #7356
@ismcagdas  The download problem still exists.

[2021-01-20 03:43] danghung-dev commented on #633
I see that this issue is label with high priority.
Any update on this issue?
Do you have plan for this feature? @hikalkan

[2021-01-20 03:45] danghung-dev commented on #40
Year 2021 :)

[2021-01-20 06:10] ismcagdas commented on #7356
Fixed for v4.0 and v4.02. Waiting for abp.io websites to update.

[2021-01-20 06:13] #7356 closed, assigned to nobody

[2021-01-20 06:41] maliming commented on #7339
[code]

The connection needs to be escaped. `C:\\Users\\Desktop\\`

[2021-01-20 06:44] maliming commented on #7339
[code]

https://github.com/aspnet/Microsoft.Data.Sqlite/issues/406#issuecomment-324689331

[2021-01-20 06:48] maliming commented on #7338
Yes. https://github.com/abpframework/abp/pull/6855

[2021-01-20 06:48] #7338 closed, assigned to nobody

[2021-01-20 07:54] sebitsi commented on #7347
@ilkayilknur Thanks for your response.

GetRequiredServiceLazy<T> returns null. I replaced it with GetReuiredService<T> and it works.

What is are diferences between each other ? What is purpose of lazy method ?. I mean how it works ?

Is there any documentation about this features ? I didn't find it in module's section.

Thanks

[2021-01-20 07:56] #7339 closed, assigned to yekalkan

[2021-01-20 08:03] sebitsi commented on #7347
@ilkayilknur Just another subquestion:

What is difference between this two:

[code]

both works.

[2021-01-20 08:17] tanyo520 commented on #7322
Thank you very much for your plan support

[2021-01-20 08:17] tanyo520 commented on #7322
Is there any plan support in the future

[2021-01-20 08:34] kayagultekin commented on #7337
I have `JetBrains Rider` installed on my machine but I have the same issue on `Microsoft Visual Studio Community 2019 Version 16.8.4`
![resim](https://user-images.githubusercontent.com/10141771/105147742-a45c8d80-5b12-11eb-8c0d-069390663226.png)
and there still is neither a `Migrations` folder under `.EntityframeworkCore.DbMigrations`  nor a `.db` file in sight.

[2021-01-20 08:41] sturlath commented on #7345
I just created a brand new project `abp new BlazorCLITest -o BlazorCLITest -u blazor` and just ran the update `abp update` and I get the following.

`[08:37:46 INF] ABP CLI (https://abp.io)
[08:37:47 INF] Version 4.1.2 (Stable)
[08:37:49 INF] Package: "Volo.Abp.Account.Application-v4.1.2" is up to date.
[08:37:49 INF] Package: "Volo.Abp.Identity.Application-v4.1.2" is up to date.
[08:37:49 INF] Pa

[2021-01-20 09:15] hikalkan commented on #40
😄 I think it is time to close this issue since we won't make it. Creating such a feature and support every possible scenario is a hard work. However, implementing it for a particular case is very easy (for example: handle signalr connection events, store online users in a cache or mark as online in the database). So, it is better to leave such non-framework features to the developers to implement

[2021-01-20 09:15] #40 closed

[2021-01-20 09:16] #7350 closed, assigned to maliming

[2021-01-20 09:20] #7291 closed, assigned to stsrki

[2021-01-20 09:24] hikalkan commented on #633
Hi,

As a said before, actually, this is not a core framework feature, but is an application feature. We will consider to implement as a module, but probably it will be an ABP Commercial module (with some abstractions in a framework package).
I am closing this since we are not clear about this feature. Once we clear, we re-open it.

If you need such a feature, it is much more easier to develop for

[2021-01-20 09:24] #633 closed

[2021-01-20 09:27] #7265 closed, assigned to nobody

[2021-01-20 09:32] hikalkan commented on #3128
No, it doesn't. It maps Obj1.ExtraProperties to Obj2.ExtraProperties (copy the items inside the dictionary).
This issue is about copying an item in the dictionary to a regular property of another object. Obj1.ExtraProperties["Name"] to Obj2.Name.

[2021-01-20 10:27] armanozak commented on #7346
Thank you @davidzwa.

Hi @andre-artus, I'm guessing your question is answered already. Can we close the issue?

[2021-01-20 11:18] olicooper commented on #7280
@maliming I don't think the problem I mention above is a localization issue, it is due to the bug [I mention here](https://github.com/abpframework/abp/commit/cc1c1d3cd1dc19bf66701d12ebc02acc58b559b6#commitcomment-46124823).

I can create a project to show the `Identity.Default` issue I have if that is what you need? The configuration is what I describe in my comment above - where I override the `I

[2021-01-20 11:20] maliming commented on #7280
Please share it, thanks.

[2021-01-20 11:31] yekalkan commented on #7337
@kayagultekin I guess it is related to some setting in your Visual studio.

try `dotnet run` to run *.DbMigrator project.

[2021-01-20 11:38] ilkayilknur commented on #7345
It could be related to `npm`. Can you take a look at this, please? @yekalkan

[2021-01-20 11:46] #7102 closed, assigned to enisn

[2021-01-20 11:49] yekalkan commented on #7345
I'm not able to reproduce as well.

@sturlath Can you run `npm show @abp/aspnetcore.mvc.ui.theme.basic versions` command (in any directory) and show the result?

[2021-01-20 11:56] olicooper commented on #7280
Here is a sample that should work. Go to appsettings.json and update TestUserId with the host admin Id in your database.
[IdentityResourceTest.zip](https://github.com/abpframework/abp/files/5842170/IdentityResourceTest.zip)
When you submit the form, it should say "Invalid token, please try again." but it just says "Invalid token."

**Update**
@maliming I'm sorry, I should have mentioned that `Iden

[2021-01-20 12:10] yekalkan commented on #7225
Hi @wojtj

I couldn't reproduce this issue.

When i run `abp add-module Acme.NewModule --new --add-to-solution-file` for first time, it throws exception. I'll check it.
But then i run it again and it works fine.

[2021-01-20 12:54] kayagultekin commented on #7337
Actually I have tried that but it hangs at this point.. Even after I uninstalled and installed abp tool again... Any pointers?

![resim](https://user-images.githubusercontent.com/10141771/105174509-b7338a00-5b33-11eb-9ef9-332500914476.png)

[2021-01-20 13:18] sturlath commented on #7345
Here the result

C:\Dev\BlazorCLITest>npm` show @abp/aspnetcore.mvc.ui.theme.basic versions
(node:41812) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification.

[
  '0.2.0',                 '0.2.1',      '0.2.2',
  '0.2.3',                 '0.3.0',      '0.3.1',
  '0.3.2',

[2021-01-20 13:37] yekalkan commented on #7345
@sturlath i see. You have to remove `(node:41812)` warning. (Warning itself doesn't matter btw, but it prevents CLI from reading the version list.)

Can you try `npm show @abp/aspnetcore.mvc.ui.theme.basic versions --loglevel=error` ?

[2021-01-20 13:48] sturlath commented on #7345
The same message I think. But how do I remove this error btw?

C:\Dev\BlazorCLITest>npm show @abp/aspnetcore.mvc.ui.theme.basic versions --loglevel=error
(node:13868) Warning: Setting the NODE_TLS_REJECT_UNAUTHORIZED environment variable to '0' makes TLS connections and HTTPS requests insecure by disabling certificate verification.

[
  '0.2.0',                 '0.2.1',      '0.2.2',
  '0.2.3',

[2021-01-20 14:01] maliming commented on #7280
Thanks @olicooper

`AbpIdentityResultExtensions` needs refactoring, I am working on it.

[2021-01-20 14:19] yekalkan commented on #7345
I don't know. I've made CLI ignore them, this issue will be fixed in v4.2.0.

[2021-01-20 15:07] aelhadi commented on #7221
hello,

personally, I have already used openiddict, and I think it will be a good alternative.

Regards

[2021-01-20 15:11] maliming commented on #7280
See https://github.com/abpframework/abp/pull/7362

[2021-01-20 15:12] #5566 closed, assigned to nobody

[2021-01-20 15:51] olicooper commented on #7280
@sturlath Sorry for hijacking your issue! I have tested the `AreYouANewUser` localization issue for you...
The `AccountResource` is located in the `Application.Contracts` of the [account module](https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Application.Contracts/Volo/Abp/Account/Localization/AccountResource.cs), so you need to place your localization overrides i

[2021-01-20 19:48] vd3d opened #7364 "Arabic character with Facebook login"
### GitHub Issues

I use IdentityServer with ABP to manage the authentication, I also use the facebook login for fast auth.
I have a user, he has an Arabic user name, but ABP throw an exception because of this.
Here is the call stack:

An unhandled exception has occurred while executing the request.
Volo.Abp.UserFriendlyException: Operation failed: [InvalidUserName] User name 'شان_محمد_123015' is

[2021-01-20 21:41] sebitsi commented on #5235
Hi @hikalkan @maliming
What is status of this issue ?

@mtozlu post workaround. But this is only workaround.
And response body is still different than in native controller response.

Are you preparing some update to achieve same behavior when calling controller vs. dynamicaly created from appservice ?
When calling ABP API from outside world there shoudn't be difference if i made constroller or it

[2021-01-21 01:16] maliming commented on #5235
This is follows the AspNet Core design.

https://github.com/abpframework/abp/issues/2643#issuecomment-574940166

[2021-01-21 01:19] maliming commented on #7364
[code]

[2021-01-21 01:25] maliming commented on #6303
hi

Please get help on https://support.abp.io/QA/Questions/New Thanks.

[2021-01-21 01:25] #6303 closed, assigned to nobody

[2021-01-21 01:47] realLiangshiwei commented on #6303
Hi,

See https://github.com/abpframework/abp/pull/6778. We have fixed this problem.

[2021-01-21 02:12] #6971 closed, assigned to realLiangshiwei

[2021-01-21 02:15] SmallShrimp opened #7365 "Can't get datetime from the reader!"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Version: **4.1.0**
* UI: Angular.
* database provider **EF Core**
* Exception ：
[code]
 * Json Params
[code]

[2021-01-21 02:16] maliming commented on #7280
An example to explain how to extend localization resource.
https://github.com/abpframework/abp-samples/tree/master/DocumentationSamples/ExtendLocalizationResource

[2021-01-21 02:18] maliming commented on #7365
You can try this in net 5 without abp first.

[2021-01-21 02:30] SmallShrimp commented on #7365
Yes, the same question! Include a string value, and if I pass an int it will also get an error! Is there a solution? There are too many APIs involved

[2021-01-21 02:32] ricxsar opened #7366 "Converting Initial Boilerplate to MySQL Entity Framework not working"
I'm trying to convert the Initial Boilerplate to use MySQL instead of MS SQL by following the [docs](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-MySQL).

However, the **AlphaSys.Internal.EntityFrameworkCore.DbMigrations** project throws an error about **UseMySQL** method:
![image](https://user-images.githubusercontent.com/8968902/105271942-62475080-5bd3-11eb-8929-38c4cb8df55e.png)

Eve

[2021-01-21 02:41] maliming commented on #7366
hi

Check the below link to get more information about `UseMysql `and `ServerVersion`

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/1233

[2021-01-21 02:51] realLiangshiwei commented on #7366
`UseMySql`  instead of `UseMySQL`

![image](https://user-images.githubusercontent.com/16813853/105273600-9c662180-5bd6-11eb-8f18-3920557da541.png)

[2021-01-21 02:51] #7366 closed, assigned to nobody

[2021-01-21 03:29] SmallShrimp commented on #7365
I find a solution,
 Install-Package `Microsoft.AspNetCore.Mvc.NewtonsoftJson`
`services.AddControllers() .AddNewtonsoftJson();`
but how to do in abp

[2021-01-21 03:35] maliming commented on #7365
See https://docs.abp.io/en/abp/4.0/Migration-Guides/Abp-4_0#moved-to-system-text-json

[2021-01-21 03:35] #7365 closed, assigned to nobody

[2021-01-21 03:56] real-zony commented on #7119
@olicooper
Your approach is to ignore the AbpValidationException exception. If there is an object in the Application Service that implements `IValidatableObject` or throws an exception manually, this is not a good way.
@hikalkan  what do you think?

[2021-01-21 05:39] pualfu opened #7367 "ColumnAttribute invalid where Implement ISoftDelete interface"
version 4.1.0
database postgreSq
[code]
query code
`   var data = await _repository.GetListAsync();`
translate sql is
[code]
"IsDeleted"  not translate to "is_deleted",but "IsDefault" translate   to "is_default"

[2021-01-21 05:47] pualfu commented on #7320
the "xxxDbContext" must  had   `public DbSet<MyEntity> MyEntity{ get; set; }` code    .check it

[2021-01-21 06:23] mtozlu commented on #7119
@olicooper I only need to override this functionality in Register form, so i modified Register.cshtml page.
I think modifying the behaviour applicationwise would cause unknown side effects. Because all API inputs use it and angular app catches these errors and shows messageboxes, etc.

[2021-01-21 07:40] sebitsi commented on #5235
@maliming Thanks for your answere.
I understand your comment.

But calling native controller or dynamicaly created should return same response. Right ?
[code]
Why you decided to return login page (redirection) ? What's the case ?

How i can extend workaround that return same response that native controller (error json) ?

[2021-01-21 07:56] mehmet-erim commented on #7306
Hello @alexandis

Can you compare the following files with your own files:

https://github.com/abpframework/abp/blob/dev/templates/app/angular/src/app/route.provider.ts
https://github.com/abpframework/abp/blob/dev/templates/app/angular/src/app/home/home-routing.module.ts

If you see any differences, please update the content of your files.

[2021-01-21 08:29] #6987 closed, assigned to maliming

[2021-01-21 08:36] yshulin commented on #5337
@maliming
Maybe I found the answer, but i do not know how to solve it, can you give me some suggestions, thanks!

Because the file "/wwwroot/libs/timeago/locales/jquery.timeago.en.js" was build into another single dll file which was generated in /bin/Debug/netcoreapp3.1/en/ProjectName.Abp.AspNetCore.Mvc.UI.Theme.AdminLTE2.resources.dll, and its file name was changed to "ProjectName.Abp.AspNetCore.

[2021-01-21 08:39] maliming commented on #5337
`Abp.AspNetCore.Mvc.UI.Theme.AdminLTE2` is not maintained by us, I can't provide much help.

[2021-01-21 08:41] yshulin commented on #5337
@maliming
not care about Abp.AspNetCore.Mvc.UI.Theme.AdminLTE2 project, see the embedded file "/wwwroot/libs/timeago/locales/jquery.timeago.en.js" not be found question, thks!

[2021-01-21 08:44] yekalkan commented on #7196
Use `[DataType(DataType.Date)]` instead of `[DataType(DataType.DateTime)]`.

[2021-01-21 08:44] #7196 closed, assigned to yekalkan

[2021-01-21 08:45] #6426 closed, assigned to nobody

[2021-01-21 08:47] tanyo520 opened #7370 "Using AssemblyLoadContext (.NET Core 5.0) to Implement Module hot loading"
Using AssemblyLoadContext (.NET Core 5.0) to Implement Module hot loading

[2021-01-21 08:54] muhammedshaaban7 opened #7371 "Login Page in __________.HttpApi.Host with seperate identity server"
Kindly i want to make a login page (razor view not razor page) in Abp in a layer (__.**HttpApi.Host**) where there is **HomeController**
contain :
        **public ActionResult Index()
        {
            return Redirect("~/swagger");
        }**
so i want to make razor view to login in swagger or hangfire like ASP.NET Zero but i had no luck .
Any Example or reference applies this login page usi

[2021-01-21 09:01] tanyo520 commented on #7370
I wrote a demo, but it seems that I can't clean up the services in the services when I uninstall it. As a result, when I install it again, the service is the same as the previous module。
[https://github.com/tanyo520/Volo.Abp.Hot](https://github.com/tanyo520/Volo.Abp.Hot)

[2021-01-21 09:03] yshulin commented on #5337
It means that some language js files was build into /bin/Debug/netcoreapp3.1/ProjectName.Abp.AspNetCore.Mvc.UI.Theme.AdminLTE2.dll dll file, such as:

![image](https://user-images.githubusercontent.com/13978614/105327477-e288a880-5c09-11eb-8d57-b6e6f47f648f.png)

and another language js files was build into
/bin/Debug/netcoreapp3.1/en/ProjectName.Abp.AspNetCore.Mvc.UI.Theme.AdminLTE2.**resources**

[2021-01-21 09:08] ricxsar commented on #7366
Ahh. Thanks for pointing it out. It's not obvious at first glance. Maybe put a better emphasis on the docs.

[2021-01-21 09:16] realLiangshiwei commented on #7370
See https://docs.abp.io/en/abp/latest/PlugIn-Modules

[2021-01-21 09:16] #7370 closed, assigned to nobody

[2021-01-21 09:24] tanyo520 commented on #7370
Thank you very much for your reply. I haven't seen this function before.

**Can this support uninstall?**

[2021-01-21 09:27] tanghaojie opened #7372 "DbMigrator error"
i just change default database to postgres, follow [https://docs.abp.io/en/abp/latest/Entity-Framework-Core-PostgreSQL](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-PostgreSQL)

when run *.DbMigrator, cause error

![image](https://user-images.githubusercontent.com/14171892/105330781-a5beb080-5c0d-11eb-9c1a-eebf78d9a815.png)

[2021-01-21 09:36] yekalkan commented on #7372
If you downloaded a project with `--preview` argument, you need to upgrade CLI to preview version.

`dotnet tool update -g Volo.Abp.Cli --version 4.2.0-rc.2`

[2021-01-21 09:40] dazsco opened #7373 "Add mapping for IdentityServer module ApiResourceProperty"
The Properties type of IdentityServer4.Models.ApiResource is IDictionary<string, string>

[2021-01-21 09:42] mehmet-erim opened #7374 "Move EllipsisDirective to the @abp/ng.theme.shared package and create a new module named EllipsisModule"
## Breaking Change

`EllipsisDirective` has been moved to the `@abp/ng.theme.shared` package from the `@abp/ng.core`.

**If `ThemeSharedModule` has not been imported before in the module of your component you have used the `EllipsisDirective` inside, you have to import the `ThemeSharedModule` or `EllipsisModule` to the module like below:**

[code]

...or

[code]

[2021-01-21 10:00] tanyo520 opened #7375 "Will it support unloading and reloading in the future?"
[PlugIn-Modules  ](https://docs.abp.io/en/abp/latest/PlugIn-Modules)
Will it support unloading and reloading in the future？

[2021-01-21 10:13] espindl commented on #7196
Is this for the current version or for 4.3-preview. Because for the current if I do this I only see the date, but I want to see hh:mm also (without sec and milisec)

[2021-01-21 10:34] yekalkan commented on #7196
This is not related to Abp Framework. But i guess you are looking for:

[code]

[2021-01-21 11:17] olicooper commented on #7119
@GameBelial ModelState errors are caught by the form when the page is returned and displayed to the user so this is more helpful than showing the user a 500 error with no explanation of how to fix the problem and loosing the data that the user typed in too. I think AbpValidationException's are only thrown for ModelState errors? But you are saying that developers could use AbpValidationException in

[2021-01-21 11:34] davidzwa commented on #7161
@realLiangshiwei Below you can find a naïve, but robust solution for the problem. Still interested to turn this into a PR for the learning experience. For the people interested, this can be a nice start for a monolithic API which has a cache (be it in-memory, Redis, doesnt matter)

Middleware (should change to a resolver I guess):
[code]

User-role claim cache item:
[code]

Local Event handler to

[2021-01-21 12:36] ilkayilknur commented on #7373
Could you elaborate on the question, please?

[2021-01-21 12:42] #6107 closed, assigned to nobody

[2021-01-21 12:55] ilkayilknur commented on #7371
@maliming Can you take a look at this, please?

[2021-01-21 12:59] #6621 closed, assigned to stsrki

[2021-01-21 13:06] pvaz opened #7379 "Article/Tutorial Login without tenant option and loaded with a predefined tenant"
How to use login without tenant selection option and to be able to call the login with a specific tenant pre-selected.

What I mean is to have the way to call the login with a predefined tenant name when calling it and to hide the tenanat selection option.

Thanks,
Paulo

[2021-01-21 13:39] tanghaojie commented on #7372
not have warn, but nothing happen.
![image](https://user-images.githubusercontent.com/14171892/105358418-1a571680-5c31-11eb-83f2-84901f136996.png)

[2021-01-21 13:42] yekalkan commented on #7372
Use `dotnet run` to run *DbMigrator project.

[2021-01-21 14:13] #7246 closed, assigned to armanozak

[2021-01-21 14:14] #7292 closed, assigned to stsrki

[2021-01-21 14:54] tanghaojie commented on #7372
Nothing happend, too
![image](https://user-images.githubusercontent.com/14171892/105367579-8b9bc700-5c3b-11eb-81ec-790b7725f4fd.png)

[2021-01-21 15:50] ebicoglu commented on #7345
https://github.com/abpframework/abp/pull/7361/files must fix it

[2021-01-21 15:50] #7345 closed, assigned to yekalkan

[2021-01-21 16:30] abdulhakim1976 opened #7390 "Logout Angular web app"
* Your **ABP Framework version**.:4.0.2
* Your **User Interface** : Angular
* Your database provider : EF Core

----------------------------------------------------------
If I logged out, I can't login again
To login, I have to login using api via swagger, and this enable me to login as host only
after logged in as Host, If I logged out I got the following error

I tried alot of clearing cookies w

[2021-01-21 18:23] hikalkan commented on #6977
Thanks @davidcateduclarity for your article request 👍

[2021-01-21 18:28] gdirikgil opened #7392 "Row Level Authorization"
Will Abp supports row level authorization in the future?
I mean I want to restrict access to the rows of one or more entities based on the rights or the role of the current user.

[2021-01-21 18:45] alexandis commented on #7306
Allright now on Home page, what about Dashboard page - what is to be changed in the related component and stuff?

[2021-01-21 19:59] Stirda commented on #5169
I finally got this working :partying_face:

You were right @maliming : this worked with the help of `External Authentication` but I had to do a lot of research, tries, and follow new steps many times. Because Windows Authentication works flawlessly with ASP.NET MVC/Core Razor, but a lot less with Blazor/ABP.

I have learned a lot through this work but still my implementation is far from perfect.

[2021-01-21 20:15] Stirda commented on #5517
My urge is over because I finally succeeded in implementing Windows auth without the need of a Blazor server-side ABP template (https://github.com/abpframework/abp/discussions/6295). But I keep an eye on the very interesting work of @stsrki .

[2021-01-21 23:31] michaelsudnik commented on #5514
Maybe this could be relevant? https://support.abp.io/QA/Questions/829/MongoDB-repository-and-use-of-the-aggregation-framework-for-sorting-and-inclusion-of-navigation-properties

[2021-01-21 23:58] michaelsudnik commented on #236
We created our own implementation built on top of the already available organization units as described [here](https://support.abp.io/QA/Questions/641/Organizational-Units-restricted-access-and-data-filtering) and it works really well for us.

MongoDB in particular works well for us, as we are able to extend any restricted access entities to include a collection of organization unit IDs, which we

[2021-01-22 00:59] ThreeLambs commented on #7098
I made a mistake, the asynchronous method returns the wrong type.
[code]

[2021-01-22 00:59] #7098 closed, assigned to nobody

[2021-01-22 01:19] maliming commented on #7371
* Your **ABP Framework version**.
* **Tiered (MVC) or Identity Server Seperated (Angular)**:  yes / no

[2021-01-22 01:22] realLiangshiwei commented on #7392
Duplicate of https://github.com/abpframework/abp/issues/236

[2021-01-22 01:22] #7392 closed, assigned to nobody

[2021-01-22 01:24] maliming commented on #7379
You can override the default razor page to hide `tenant selection`.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Account.cshtml#L59-L85

[2021-01-22 01:29] #7285 closed, assigned to yekalkan

[2021-01-22 01:35] #5169 closed, assigned to nobody

[2021-01-22 01:37] maliming commented on #7390
* Steps needed to **reproduce** the problem.

[2021-01-22 05:54] xyfy commented on #7367
@pualfu you can search you code with  `ConfigureByConvention()`  ,in the method ,it set the **IsDeleted** columnName.

can you  define yours c;olumnName after this code?

[2021-01-22 06:04] xyfy commented on #7130
#7225

[2021-01-22 06:05] xyfy commented on #7225
#7130 I report another bug result of it

[2021-01-22 06:13] mehmet-erim commented on #7306
`DashboardRoutingModule` file should not contain `ApplicationLayoutComponent`. Please check the below content with yours.

[code]

`route.provider.ts`:

[code]

[2021-01-22 06:38] #3188 closed

[2021-01-22 06:38] #7374 closed, assigned to mehmet-erim

[2021-01-22 06:52] mehmet-erim opened #7397 "Upgrade the Angular version of templates to the v11.1.0"
Angular v11.1.0 has been released. We will upgrade the Angular version of the templates to the latest.
We'll also upgrade the TypeScript version to v4.1.

[2021-01-22 07:48] maliming commented on #6313
See https://github.com/abpframework/abp/pull/6647

[2021-01-22 07:48] #6313 closed, assigned to nobody

[2021-01-22 07:49] hikalkan opened #7401 "Update event organizer sample and article for async queryable changes"
https://community.abp.io/articles/creating-an-event-organizer-application-with-the-blazor-ui-wbe0sf2z & [source code](https://github.com/abpframework/abp-samples/tree/master/EventOrganizer)

[2021-01-22 07:57] hikalkan opened #7402 "IMPORTANT: IRepository.GetQueryableAsync Change with v4.2"
`IRepository` interface inherits `IQueryable`, so you can directly use the standard LINQ extension methods, like `Where`, `OrderBy`, `First`, `Sum`... etc.

**Example: Using LINQ directly over the repository object**

[code]

*See [the documentation](https://docs.abp.io/en/abp/4.2/Repositories#iqueryable-async-operations) if you wonder what is the `AsyncExecuter`.*

Beginning from the version 4.2,

[2021-01-22 08:44] alexandis commented on #7306
Thank you, the problem with nested tags is now gone. But I have last question: previously, Dashboard built-in page displayed some charts (probably some nice-to-have info, did not dig in into details yet). And now it just says "Add your Tenant related charts/widgets to this page !"... Why?

[2021-01-22 09:19] lnetx opened #7407 "SignalR"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-01-22 09:47] #7407 closed, assigned to nobody

[2021-01-22 09:50] gerryge opened #7408 "ASP.NET Core Dependency Injection Best Practices, Tips & Tricks Link cannot open"
In docs: https://docs.abp.io/en/abp/4.2/Dependency-Injection

Below link cannot open anymore:
[ASP.NET Core Dependency Injection Best Practices, Tips & Tricks](https://medium.com/volosoft/asp-net-core-dependency-injection-best-practices-tips-tricks-c6e9c67f9d96)

[2021-01-22 10:06] gerryge opened #7411 "Abp cli new module folder structure feature request"
When use abp cli to create a new module, the generated project doesn't have the folder structure.
Could you please support the folder structure, like "\Volo\Abp\Identity\\*.cs".
Detail please see the screenshot(the 1st is the abp cli new result, and the 2st is the expected result)
Thanks in advance if you can support this feature.

Example : abp new Volo.Abp.Identity -t module --preview
![image](h

[2021-01-22 10:16] foxeveral opened #7412 "AbpAspNetCoreMvcModule Version4.1.2, I don’t want to use System.Text.Json, what should I do"
System.Text.Json and Newtonsoft.Json use simultaneously has completely messed up my project，
Web page json can no longer deviate from the Newtonsoft.Json serialization format

[2021-01-22 10:20] fgcp020 opened #7413 "How to WrapResult by the auto-generated web api?"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-01-22 11:07] yekalkan commented on #7130
`add-module` may not be compatible with a custom project. It is designed to work with ABP Template's solution structure.

`-sp` argument should give the path of the solution that the module will be added. New modules are always created in modules in the solution root directory, as you noticed.

[2021-01-22 11:07] #7130 closed, assigned to nobody

[2021-01-22 11:41] mehmet-erim commented on #7306
Charts are only visible for the host tenant.  You can see the charts you mentioned in the `host-dashboard.component.html`

[2021-01-22 12:39] alexandis commented on #7306
@mehmet-erim Ahh, ok. Thanks for clarification. I will close the issue now - thank a lot for your help.

[2021-01-22 12:39] #7306 closed, assigned to mehmet-erim

[2021-01-22 12:48] cristiandmonda commented on #7372
I've had the same problem in a new project with EF and MSSQL. It looks like the DbMigrator is not creating the initial migration, I added it using the Package Manager Console.

[2021-01-22 12:51] kishoresahas opened #7418 "How to user IRemoteStreamContent with BLOB Storing Azure Provider"
### Documentation
https://docs.abp.io/en/abp/latest/Blob-Storing-Azure
https://docs.abp.io/en/abp/latest/Application-Services#working-with-streams

## Issue
Return empty response

Note - But works with FileSteam

## Steps needed to **reproduce** the problem.
* **ABP Framework version** 3.3.2.
[code]

[2021-01-22 13:52] maliming commented on #7418
hi
Can you confirm that stream has any data?
[code]

[2021-01-22 14:11] kishoresahas commented on #7418
Yes, Confirmed!

[2021-01-22 14:27] ilkayilknur commented on #7413
Please explain the issue  in detail, please.

[2021-01-22 14:27] #7413 closed, assigned to nobody

[2021-01-22 14:32] ilkayilknur commented on #7412
You can use Newtonsoft.Json by disabling `HybridSerializer`. See https://docs.abp.io/en/abp/4.1/Migration-Guides/Abp-4_0#always-use-the-newtonsoft-json

[2021-01-22 14:32] #7412 closed, assigned to nobody

[2021-01-22 14:34] hikalkan opened #7423 "MongoDB repository base aggregation API"
See this: https://support.abp.io/QA/Questions/829

We can provide the necessary functionality in the mongo repo base and document it for alternative usage approach.

[2021-01-22 14:38] ilkayilknur commented on #7349
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2021-01-22 14:38] #7349 closed, assigned to nobody

[2021-01-22 14:38] ilkayilknur commented on #7346
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2021-01-22 14:38] #7346 closed, assigned to armanozak

[2021-01-22 14:42] hikalkan commented on #7411
It was just like that before. But we then removed the unnecessary folder hierarch (see https://github.com/abpframework/abp/issues/585) by setting the root namespaces.
For most of the people this is simpler and enough.
We manually re-arrange folders when we want to create a new official module. It also takes time for us.
We can't support both approaches with a single template. So, we don't want to

[2021-01-22 14:42] #7411 closed, assigned to nobody

[2021-01-22 14:55] hikalkan commented on #236
Thanks @michaelsudnik for your explanations 👍

[2021-01-22 14:59] beriniwlew commented on #7221
I think there should definitely be an openiddict module and to be able to choose between ID4 and it.

[2021-01-22 15:07] hikalkan commented on #7375
We don't have a plan for that. It may be technically not possible, because AspNet Core investigates controllers at the application startup. Also, Dependency Injection registration is only done on the application startup. So, if a module is loaded on runtime, I don't know how it can work.

[2021-01-22 15:07] #7375 closed, assigned to hikalkan

[2021-01-22 15:12] MuhammadRashed opened #7424 "Dataseed is not working"
* ABP Framework version 4.1
* User Interface: All
* database provider(EF Core)
* Steps needed to **reproduce** the problem:

After following steps: https://docs.abp.io/en/abp/latest/Data-Seeding
I added the IDataSeedContributor implementation on application project, Data seed was not migrated to database,

[2021-01-22 18:01] #6963 closed, assigned to hikalkan

[2021-01-22 21:05] joernz opened #7427 "ngx-datatable virtualization with abp ListService"
* Your **ABP Framework version**. **4.1**
* Your **User Interface** type **Angular**
* Your database provider **EF Core**

The Input `virtualization` of ngx-datatable is always [set by default as `true`](https://swimlane.gitbook.io/ngx-datatable/api/table/inputs#virtualization). But it appears not compatible with Abp ListService.
I'm currently leaning the BookStore tutorials using the [row-detail

[2021-01-22 22:21] 0andy opened #7428 "Dose abp vnext has any plan to use metronic UI theme (abpzero)"
Thanks.

[2021-01-23 02:29] maliming commented on #7424
Have you run the `DbMigrator`?

[2021-01-23 07:33] jifeilong9 commented on #5802
hi! how do you solved this issue? I'm facing the same issue in PUT request

[2021-01-23 08:12] cwwcwwcww commented on #6598
But the documentation tells me that I can implement IApplicationService as well. My BookAppService implements iBookAppService, which inherits from IApplicationService

[2021-01-23 09:49] ThreeLambs commented on #7402
[code]
so, use AsyncExecuter to execute the queryable,  the ` OrderBy( input.Sorting)` is work well now?

[2021-01-23 10:17] beriniwlew commented on #7221
Also.  We should consider passwordless auth through FIDO2/WebAuthn.

https://deblokt.com/2020/01/24/08-part-1-identityserver4-mfa-fido2-yubikey-5-net-core-3-1/  put us on the right track,  https://webauthn.io/ helped us to understand how it works.

Would be nice not to worry about phishing attacks, eh?

[2021-01-23 10:30] bartvanhoey opened #7429 "Link SOCIAL not working"
![social_link_not_working](https://user-images.githubusercontent.com/2319374/105575667-9ce4f080-5d6d-11eb-9174-fefa8b4ff45d.JPG)

When you click on the Author (bartvanhoey) of a community article,   You arrive on the overview page of member Bart Van Hoey.

Clicking on the SOCIAL (OctoCat icon) in that page doesn't bring the user  to the  GitHub repository of Bart Van Hoey,
instead of seeing the co

[2021-01-23 11:41] martenw opened #7430 "EmailConfirmed set to false when updating name"
Generally having the same problem as described in #2140.

When a user changes the name field in UI and click save (without changing their email) the value of _EmailConfirmed_ is set to false. As a visitor I would not expect to need to re-confirm a mail that has not been modified.

Using Razor pages 4.1.

[2021-01-23 11:48] jifeilong9 opened #7431 "Optimistic concurrency failure, object has been modified."
Download the latest version of the template to modify the user report the following error
![image](https://user-images.githubusercontent.com/24316291/105577246-48fcfa80-5db3-11eb-9722-03bf00962056.png)
![image](https://user-images.githubusercontent.com/24316291/105577307-aabd6480-5db3-11eb-85b6-0262fb99263c.png)

{"error":{"code":"Volo.Abp.Identity:ConcurrencyFailure","message":"Optimistic concurr

[2021-01-23 12:11] jifeilong9 commented on #7431
Concurrencystamp requires a value, such as    "concurrencyStamp": "0f6b8475367242689847fdbef387d79c",

[2021-01-23 12:11] #7431 closed, assigned to nobody

[2021-01-23 15:39] begandroide commented on #5802
@jifeilong9 hi! My issue was that in the GET method of the user identity, I made some changes over the entity, so dB thought that someone was modified the registry, so the concurrencyTimestamp changes and the put method has concurrency failure. So, check your get method and make sure that you are not modifying the entity.

Hope's that help you, regards.

[2021-01-23 15:41] jifeilong9 commented on #5802
Thank you. It's settled

[2021-01-23 19:19] berkansasmaz commented on #7429
Hello, thank you for your feedback. However, I don't think it's a problem.

It looks like you have entered your Github name, but Github finds and redirects users with their username. Can you enter "BartVanHoey" in the Github Username field?

Finally, thank you for your support to the community.

[2021-01-23 19:26] berkansasmaz commented on #7429
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2021-01-23 19:26] #7429 closed, assigned to nobody

[2021-01-23 19:26] bartvanhoey commented on #7429
Hello, Thank you for the quick response. My github name was indeed with spaces ...

[2021-01-23 19:27] bartvanhoey commented on #7429
Maybe prevent the user entering spaces in name ... issue will happen again :-)

[2021-01-23 20:53] abdulhakim1976 commented on #7390
Steps:
- I dropped my sql server database
- I ran the migrator to build & create the database again
- I seeded the system with a tenant & tenant admin user (tenant: wnt, user: admin, pass:1q2w3E*)
- I'm tried to login as Host with "admin" & "1q2w3E*" as usual, but I can't
- I'm tried using Account/login api provided by Swagger to login as Tenant admin, I got success message
-  When I went to login

[2021-01-24 01:02] tinonetic commented on #7320
Hi @maliming

Apologies for the late reply. Please see the code here: https://github.com/tinonetic/abp_efcore_console_app

This may or may not have influenced the issue, but I created the solution as follows:

1. created an ABP app using  `abp new MyApp -t app`
2. created a console app using `abp new MyApp.Console -t console`
3. Integrated the two
4. Followed instructions from: https://docs.abp.io

[2021-01-24 05:57] gdirikgil commented on #7392
Could you give me the of link of duplicated issue?

[2021-01-24 08:00] slarkerino opened #7436 "Add Exist() to IDistributedCache interface"
I tried to store null value into redis and I checked redis and found the data hash field to be null which worked as expected. However, because the lack of exist(TKey key) function, I have to visit database everytime even I store the null value for the specific key in the redis.
![image](https://user-images.githubusercontent.com/7014849/105624536-4c4cc080-5e5d-11eb-9f76-73e96308fb92.png)

[2021-01-24 09:09] andre-artus opened #7437 "Angular app shows Unknown Error on Nginx"
I have an ABP app generated with the Angular template. I'm trying to get it to work with Nginx on Ubuntu, but I keep getting an "unknown" error:

**An error has occurred!**
Http failure response for https://api.[domain]/api/abp/application-configuration: 0 Unknown Error

But when I open the url I do get a json file with amongst other things some localization info.

I have Nginx set up to direct ap

[2021-01-24 09:29] #7364 closed, assigned to nobody

[2021-01-24 09:30] realLiangshiwei commented on #7392
See https://github.com/abpframework/abp/issues/236

[2021-01-24 11:04] ismcagdas commented on #7428
@0andy we don't have such a plan for now.

[2021-01-24 12:34] MuhammadRashed commented on #7424
Yes sure, I ran it but did not work
I knew the solution it was because it was located Application project not domain project (that was not clear in documentation)

background:
I was trying to migrate some roles and permissions, I had to do it on application level because permission constants were not in domain shared

[2021-01-24 12:34] #7424 closed, assigned to nobody

[2021-01-24 12:45] #6341 closed, assigned to nobody

[2021-01-24 13:04] maliming commented on #7436
The microsoft implementation doesn't have a similar method.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.caching.distributed.idistributedcache

[2021-01-24 13:38] mtozlu commented on #7437
Hi,
I'm sorry if it's not relevant, please check this documentation:
https://docs.abp.io/en/abp/latest/Multi-Tenancy#problems-with-the-nginx

[2021-01-24 14:24] muhammedshaaban7 commented on #7371
Thanks for your response @maliming

ABP Version: **3.2**.
**Identity server separated(angular)** yes.

UI Framework: Angular with Identity Server Separated like below attached
![image](https://user-images.githubusercontent.com/64292395/105633513-1235eb80-5e6a-11eb-8c32-9ef6c2819bc7.png)

[2021-01-24 15:37] andre-artus commented on #7437
Thank you very much @mtozlu,

I read that but did not think it relevant because I was not trying to access a tenant yet, but it was.

I changed the Nginx configuration (`nginx.conf'`) by adding `underscores_in_headers on;` and the home page can now load.

Perhaps additional information can be written into the docs, for example that the Nginx issue would show up as an "Unknown Error".

It did howev

[2021-01-24 15:53] mtozlu commented on #7437
`openid-configuration` comes from identityserver. `application-configuration` comes from your api project.
So add your client's url to appsettings file (App:CorsOrigins setting) for both projects (http.host project and identityserver project if you use separate identity server) and it should work.

[2021-01-24 16:05] andre-artus commented on #7437
Thanks @mtozlu . I had to change it to '*.[DOMAIN' and it worked.

I've got more issues arising, but I try to deal with them myself.

Once again a heartfelt thank you, I was pulling my hair out.

[2021-01-24 16:32] mtozlu commented on #7437
Walked in the same boots :)
That's why i'm trying to help.

[2021-01-25 01:23] xyfy commented on #7130
@yekalkan I think that will be helpfull , when create a microservice solution , it will be helpfull to add a new blank module

[2021-01-25 01:24] andre-artus commented on #7437
I would like t

[2021-01-25 01:24] #7437 closed, assigned to nobody

[2021-01-25 01:36] #7408 closed, assigned to nobody

[2021-01-25 01:45] realLiangshiwei opened #7439 "Find a better way to handle role changed event."
Related https://github.com/abpframework/abp/commit/847f526041145b62376b760776829d5ce257da1c

[2021-01-25 02:11] maliming commented on #7430
Unable reproduce.

[2021-01-25 02:30] maliming commented on #7418
Try this:
[code]

[2021-01-25 02:30] #7418 closed, assigned to nobody

[2021-01-25 02:46] slarkerino opened #7440 "Get the URL of the Blob when using azure"
How can I get the absolute uri of the blob stored on azure instead of get the stream of the blob.

[2021-01-25 02:58] maliming commented on #7440
See https://github.com/abpframework/abp/issues/4989#issuecomment-670577121

[2021-01-25 02:58] #7440 closed, assigned to nobody

[2021-01-25 05:41] dazsco commented on #7373
@ilkayilknur  it should add in IdentityServerAutoMapperProfile class
       method CreateApiResourceMap():
   `  CreateMap<ApiResourceProperty, KeyValuePair<string, string>>()
                .ReverseMap();`
just like CreateClientMap()

[2021-01-25 06:02] #6608 closed, assigned to mehmet-erim

[2021-01-25 06:39] mehmet-erim commented on #7427
Hello @joernz

The `NgxDatatableDefaultDirective` and the `NgxDatatableListDirective` directives are created to facilitate the use of `ngx-datatable`. The directives set values to some inputs of the table to be able to use the table quickly.
So you are free to not use these directives.

See some content of the `NgxDatatableDefaultDirective`:

[code]

If you would not use the directive, you can set

[2021-01-25 07:28] ilkayilknur opened #7443 "Designing a better solution to add entity types"
We need to find a better solution to add and configure `EntityTypes` inside options.
Design a better solution, present it to the team, and implement.

[2021-01-25 07:43] martenw commented on #7430
@maliming try this code and see if you get the same result.

## Steps to reproduce

1. Use the code below to add a new Razor page named "ConfirmEmail" in a clean 4.1.2 razor pages installation
1. Navigate to `/confirmemail` - If your current users email is confirmed you get a green _"User email is already confirmed!"_
1. Edit your profile and just change last name, nothing else
1. Navigate to `/co

[2021-01-25 07:52] enisn commented on #6375
We can consider about it. Thanks for you feedback.

Also PR is always welcome :)

[2021-01-25 08:03] martenw commented on #7430
I have issues with CurrentUser not updating (#6335) which I still think is strange logic, was that the reason you could not reproduce perhaps?

[2021-01-25 08:32] stsrki commented on #6435
Hi @ghd258

The easiest way to integrate any Blazor component library into the ABP framework is almost the same for all libraries. Just follow some of our guides and modify accordingly to Syncfusion. Look at these for reference:

- https://community.abp.io/articles/using-matblazor-components-with-the-abp-framework-blazor-ui-xsvs7gq1
- https://community.abp.io/articles/using-devexpress-blazor-ui-co

[2021-01-25 08:42] muhammedshaaban7 commented on #7371
Any update you may have would be greatly appreciated

[2021-01-25 09:43] hikalkan commented on #6435
We can take this as an article request for anyone wants to write.

[2021-01-25 10:00] stsrki commented on #6435
@hikalkan I can do it.

[2021-01-25 10:04] #7373 closed, assigned to maliming

[2021-01-25 10:09] dazsco commented on #7373
@maliming  I think it should be released in 4.2. If ApiResourceProperty is set in the abp official demo, it will report an error.

[2021-01-25 10:24] stsrki commented on #6105
@hikalkan Can you agree we can close this ticket?

[2021-01-25 11:00] mehmet-erim opened #7446 "Article for Angular UI: Creating Maintainable Sub-Components"

[2021-01-25 12:01] maliming commented on #7373
You are right. I will handle it.

[2021-01-25 12:56] #7397 closed, assigned to mehmet-erim

[2021-01-25 13:05] olicooper commented on #7275
I had an asynchronous event handler which must have been sharing a service scope. I created a new scope inside the event handler method using `IServiceScopeFactory` and then instantiated the required services inside that scope.

The other issue with `LazyServiceProvider` being null inside a DomainService was because Autofac was struggling to correctly inject required services when `HttpClient` was

[2021-01-25 13:05] #7275 closed, assigned to nobody

[2021-01-25 13:08] #6346 closed, assigned to nobody

[2021-01-25 13:09] maliming commented on #6346
This is related to identity not abp.

[2021-01-25 13:09] enisn opened #7450 "CmsKit - Page routing blocks existing pages"
The url pattern `/{*url}` of page handles `/` route instead of **HomeController -> Index** only if `[Route]` attribute isn't defined top of controller/action.

[2021-01-25 13:10] #6362 closed, assigned to nobody

[2021-01-25 14:42] #6243 closed, assigned to nobody

[2021-01-25 17:51] tsupakit opened #7451 "How to remove entity from a collection of aggregate with EF Core ?"
Hi,

I am looking for a way to remove an entity from a collection of aggregate in a proper DDD + ORM way.
I knew that removing entity from collection of aggregate and UpdateAsync (SaveChanges by EF Core) would not work.

I could not find this in the documentation.

Thanks,

[2021-01-25 18:56] hikalkan commented on #7402
Everything works as expected. `AsyncExecuter.ToListAsync` just calls the ToListAsync of the underlying provider.

[2021-01-25 18:57] #6973 closed, assigned to maliming

[2021-01-25 18:59] hikalkan commented on #6435
Perfect. We can schedule for the next milestone, 4.4.

[2021-01-25 19:22] vd3d opened #7452 "Migration to abp 4 : Client.AbpRemoteCallException : 'Unauthorized'"
I'm trying to migrate from ABP 3.3 to 4.0 but I got an error and currently have no idea of the root cause.

Here is my code:

[code]

I got the following exception when calling 'GetCurrentUserAsync':

`Client.AbpRemoteCallException : 'Unauthorized'`

What is strange is that this code was working before attempting the migration to abp 4, and also the isAuhtenticated is true.

Do you have any idea?

[2021-01-25 23:02] DillonAd opened #7454 "Unknown error generating proxy classes"
Hello,

I am attempt to run the CLI command `abp generate-proxy` in the root of my Angular project and I am getting the following error:

[code]
As recommended by the error message, I looked through the `generate-proxy.json` file, but didn't see any obvious errors.

With absolutely no way to confirm this, my guess is the program is expecting JSON and getting HTML due to an upstream issue, but I co

[2021-01-25 23:52] brunobertechini opened #7455 "abp.io not working - 502 bad gateway"
https://abp.io is down. Public and commercial web sites not available and not able to restore any nuget packages using commercial.

![image](https://user-images.githubusercontent.com/5166528/105780415-82588480-5fc4-11eb-8a60-f8e335bdd75d.png)

[2021-01-26 00:35] maliming commented on #7455
Working on it. Thanks.

[2021-01-26 01:21] maliming commented on #7454
Follow: https://github.com/abpframework/abp/issues/7455

[2021-01-26 01:21] #7454 closed, assigned to nobody

[2021-01-26 01:22] maliming commented on #7452
Please check the logs when you got an error.

[2021-01-26 02:36] CaiJinHao opened #7457 "How do I define a delegate in an application service that always throws an exception"
### Always throw exceptions:

Property accessor 'DeclaringMethod' on object 'System.RuntimeType' threw the following exception:'Method may only be called on a Type for which Type.IsGenericParameter is true.'

### my use
myAppService.UpdateEntityAction = () => { };
public class MyAppService:IMyAppService,ICrudAppService<...>
{
     public Action MyAction { get ; set ; }
     ...
}

### My question

[2021-01-26 02:41] maliming commented on #7457
This seems to have nothing to do with abp.

[2021-01-26 02:46] learnabpframework commented on #7455
abp.io still not working

![image](https://user-images.githubusercontent.com/77593897/105793209-d5d6cc80-5fdc-11eb-9372-c865ac6abaf8.png)

[2021-01-26 03:10] #6363 closed, assigned to nobody

[2021-01-26 03:20] 274188A opened #7458 "JsonReaderException running CLI tool"
**Version 4.2.0-rc.2 (Prerelease)**

Run the ABP CLI Tool with `ABP Update` or 'ABP switch-to-preview`

_Exception below_

[11:15:49 INF] ABP CLI (https://abp.io)
[11:15:49 INF] Version 4.2.0-rc.2 (Prerelease)
[11:15:54 ERR] Unable to get latest preview version.
[11:15:54 ERR] Unexpected character encountered while parsing value: <. Path '', line 0, position 0.
Newtonsoft.Json.JsonReaderException:

[2021-01-26 03:35] maliming commented on #7458
Duplicate of #7455

[2021-01-26 03:35] #7458 closed, assigned to nobody

[2021-01-26 03:52] #7457 closed, assigned to nobody

[2021-01-26 03:52] CaiJinHao commented on #7457
thank you

[2021-01-26 05:13] #7430 closed, assigned to maliming

[2021-01-26 05:34] xdmushui commented on #7455
![image](https://user-images.githubusercontent.com/3242057/105804611-306f2900-5fdb-11eb-981d-ffeca26635c3.png)

[2021-01-26 05:44] haroldrandom commented on #7455
While creating module, this also block me

[code]

[2021-01-26 06:00] ThreeLambs commented on #7455
you can use local source code
- download `abp.zip ` source code from github repository and use the command
[code]

[2021-01-26 06:50] maliming commented on #7455
Fixed.

[2021-01-26 06:50] #7455 closed, assigned to nobody

[2021-01-26 07:31] enisn commented on #7451
Do you want to remove permanently? If yes, make it that collection just another aggregate root. If you don't use them together that means they're not same aggregate.

Or, are you asking about ignoring for a single operation?

[2021-01-26 07:50] realLiangshiwei commented on #6880
See https://github.com/abpframework/abp/issues/5517

[2021-01-26 07:50] #6880 closed, assigned to nobody

[2021-01-26 08:30] mehmet-erim opened #7461 "Angular: Use ng-bootstrap modal inside the abp modal component"
We are recommended to use the ABP modal component to provide additional benefits like show the confirmation popup while closing the modal. ABP modal appends its own content to the body.
Recently, we have decided to use the [`ng-bootstrap` modal component](https://ng-bootstrap.github.io/#/components/modal/examples) inside the abp-modal to achieve the best practices.

You can use the `abp-modal` as

[2021-01-26 08:34] joernz commented on #7427
hi @mehmet-erim thanks a lot, it's very helpful. I just tested it in my app, `[virtualization]="true"` did the work overriding the `NgxDatatableDefaultDirective`. However, the virtual scroll is still not working properly,

I looked into this [demo table](http://swimlane.github.io/ngx-datatable/#row-details), when paged.
They are not setting a limit (undefined) and not even counting, see the screen

[2021-01-26 09:02] maliming commented on #7320
Add `typeof(MyAppEntityFrameworkCoreModule)` to https://github.com/tinonetic/abp_efcore_console_app/blob/main/src/MyApp.Console/ConsoleModule.cs#L11

[2021-01-26 09:02] #7320 closed, assigned to nobody

[2021-01-26 09:05] maliming commented on #7390
Can you check your application logs?

[2021-01-26 10:05] #7280 closed, assigned to maliming

[2021-01-26 11:02] tinonetic commented on #7320
Thank-you @maliming!

I thought I had tried it, but realised I **had added the wrong dependency**: `AbpEntityFrameworkCoreModule`

[2021-01-26 11:13] KevinFarrow opened #7465 "Article request: Using Radzen Blazor open source components"
Radzen have announced that they've made their excellent Blazor components open source. I'll put together an article if there's any interest?

https://twitter.com/radzenhq/status/1351451469564829697?utm_source=Radzen+Signup&utm_campaign=1100eff66d-EMAIL_CAMPAIGN_2019_01_29_COPY_01&utm_medium=email&utm_term=0_e7dd3465dc-1100eff66d-213331097

https://github.com/radzenhq/radzen-blazor

[2021-01-26 11:48] #7268 closed, assigned to cotur

[2021-01-26 12:41] brunobertechini commented on #7455
@maliming can you explain the problem? This was really a blocker during  *almost* the whole day.

[2021-01-26 12:41] brunobertechini commented on #7455
Do you have an RCA or incident analysis ?

[2021-01-26 13:37] tsupakit commented on #7451
Yes, I want to remove it permanently.

It's not suppose to be an aggregate. for instance, I want to delete order detail from order.

[2021-01-26 14:09] DillonAd commented on #7454
Thank you!

[2021-01-26 14:14] #6105 closed, assigned to stsrki

[2021-01-26 15:00] enisn commented on #6949
Layout already has `content_toolbar` placeholder.

https://github.com/abpframework/abp/blob/0d4ab74b61cdb5d8d3192278952c791e5799f0ee/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml#L61

If **AbpPageToolbarViewComponent** component is moved into `content_toolbar`, toolbaritems are rendered out of card-view and will have different view with given document

[2021-01-26 16:51] yshulin commented on #5337
@maliming
I think that it is a bug about abp code in below line https://github.com/abpframework/abp/blob/6afb80a724e86c38e3673b1a0e67d8708bcd9184/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Packages/Volo/Abp/AspNetCore/Mvc/UI/Packages/Timeago/TimeagoScriptContributor.cs#L22

And I basically solved the problem according to the official Microsoft documentation, refer to the below docs:
https://docs.mic

[2021-01-26 19:18] olicooper commented on #5253
Will the values be set to the defaults found in the IDentityServer docs? e.g.

[code]

[2021-01-26 19:27] davidzwa opened #7472 "Angular - Chart.js big include with CommonJS warning"
* Abp 4.2-rc2
* Angular v11 with respective @abp/ng.core, identity and tenant-management package
* Exception message
[code]
* Use any Angular ABP package which depends on the Theme Shared package.

### CommonJS warning
It's generally known that common Javascript packages cause this warning, and it's not a big deal especially since it is separated in a bundle. Still after a bundle analysis, `Chart.

[2021-01-26 19:30] hikalkan commented on #6126
Hi all,

This is what we were planning. But currently, it is not implemented.

[RabbitMqDistributedEventBus](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EventBus.RabbitMQ/Volo/Abp/EventBus/RabbitMq/RabbitMqDistributedEventBus.cs) implements the related work. If you want to do it now, you can create your own IDistributedEventBus implementation that adds events to a database

[2021-01-26 19:47] davidzwa opened #7473 "Angular - split NgBootstrap and other big libraries in angular.json"
* Abp 4.2-rc2
* Angular v11 with respective @abp/ng.core, identity and tenant-management package
* Feature discussion
* Reproduce: use any Angular ABP package which depends on the Angular Theme packages.

**Problem/Challenge**
Our app does not require `ng-bootstrap`, `chart.js` and some other peer-dependencies as we already have our own methods with `Angular Material` with `MomentJS`. Currently bo

[2021-01-26 19:56] davidzwa commented on #7473
Related https://github.com/abpframework/abp/issues/7472

Ok, after thinking a bit I think my question is:

Think this is a pretty easy question, as it's already done for chart.js and could help others who do not want to use the components based on bootstrap (shaking out the dependency).

[2021-01-26 20:54] vd3d commented on #7452
I have, but there is no log created, ie. no error is reported in the log :-(

To be accurate, it is a 3 tiers, so:
- identity server: no log
- API server: no log
- web : log, but with the same error and no more information

[2021-01-26 21:28] hikalkan opened #7474 "Mark ServiceProvider properties as Obsolete in base classes where LazyServiceProvider is available"

[2021-01-27 01:13] #7474 closed, assigned to hikalkan

[2021-01-27 02:15] iswing opened #7476 "RabbitMqMessageConsumer can not trigger HandleIncomingMessageAsync"
I try to upgrade abp version 3.3.1 to 4.1.2，IDistributedEventHandler<EntityUpdatedEto<MyEntityDto>>.HandleEventAsync can not be triggered and there are no exceptions，My rabbitMq admin UI  show all message Unacked (that means  message was read in memory but not ack),

when i rollback version  to 3.3.1,eventing is ok.

[2021-01-27 02:17] realLiangshiwei commented on #7476
See https://docs.abp.io/en/abp/latest/Distributed-Event-Bus#event-transfer-object

[2021-01-27 02:19] realLiangshiwei commented on #7476
See https://docs.abp.io/en/abp/latest/Distributed-Event-Bus#configuration

[2021-01-27 02:45] #7476 closed, assigned to nobody

[2021-01-27 05:48] realLiangshiwei commented on #5857
`IBlobContainer `is abstract, you can override or replace services to do more features.
https://github.com/abpframework/abp/issues/4989#issuecomment-670577121

[2021-01-27 05:48] #5857 closed, assigned to nobody

[2021-01-27 05:50] realLiangshiwei commented on #5735
Move to https://github.com/abpframework/abp/issues/7221

[2021-01-27 05:50] #5735 closed, assigned to nobody

[2021-01-27 07:47] gentledepp commented on #6126
well, integration events are somewhat the backbone of micro services. Without this implemented, abp.io can only be used for building a modular monolith for now.
But thanks for clarifying this!

[2021-01-27 09:13] maliming opened #7480 "Create an Email Send demo."
Developers can use this DEMO for troubleshooting, and then use the Email send function provided by ABP.

[2021-01-27 10:28] enisn commented on #7451
Have you checked [the example domain](https://docs.abp.io/en/abp/latest/Domain-Driven-Design-Implementation-Guide#the-example-domain) document.

Your case is similar with that case. Issue is a part of a repository but it's another **AggregateRoot**. In your case, **OrderDetail** looks just another **AggregateRoot** and has it's own aggregate tree such as for example buyer, shipping info, payment m

[2021-01-27 10:33] #7428 closed, assigned to ismcagdas

[2021-01-27 10:47] mehmet-erim commented on #7427
`ListService` is created for easy pagination. You don't have to use the ListService.
To help you better, please explain in detail what exactly you want to do.

[2021-01-27 11:27] mehmet-erim commented on #7472
Hi @davidzwa

It is already optimized by loading lazy. Please refer to [configuring commonjs dependencies doc](https://angular.io/guide/build#configuring-commonjs-dependencies) to disable the warning message.

[2021-01-27 11:29] davidzwa commented on #7472
I know that it is lazy-loaded and I am aware of the method of ignoring the warning. That does not mean we should not act on it. It's generally something which is postponed, and I get it.

It's important for projects **which do use it** which is most of the use cases. Bundle size optimization, lazy-loaded or not, is something we should always be ready to do i.m.o.

[2021-01-27 13:02] davidzwa commented on #7472
@mehmet-erim this is not a question as it is about optimization effort ;)

[2021-01-27 13:42] #7461 closed, assigned to mehmet-erim

[2021-01-27 13:42] #3198 closed

[2021-01-27 14:04] slarkerino opened #7482 "A Bug With Soft Deleted related entities"
I have a class
[code]
[code]
and in efcore extension I have
        public static IQueryable<Foo > IncludeDetails(this IQueryable<Foo > queryable, bool include = true)
        {
            if (!include)
            {
                return queryable;
            }

            return queryable
                // .Include(x => x.bar)
                ;
        }

When I soft delete bar and i query

[2021-01-27 14:24] davidzwa commented on #7482
https://docs.microsoft.com/en-us/ef/core/querying/filters#accessing-entity-with-query-filter-using-required-navigation

Please read and try to understand why this happens in the EF Core docs linked above. I had to choose an option to fix it.
So if you now understand it: the query filter is applied once you use IncludeDetails on a ForeignKey with SoftDelete. Therefore you need to make sure the Quer

[2021-01-27 14:26] mehmet-erim commented on #7472
Try adding the provider below to your `app.module.ts` like this:

[code]

The `chart.js` will not be loaded after overriding the `THEME_SHARED_APPEND_CONTENT` injection token.

We will discuss about the optimization.

[2021-01-27 14:48] davidzwa commented on #7482
Please note that in the `HasQueryFilter` examples I didnt combine the foreign key filter with the already defined query filter. EF Core specifically mentions in their docs that **only one filter is allowed**.

Therefore `&&` with whatever already existing query filter (tenancy, soft-delete, just double check) need to be applied as well.

[2021-01-27 14:49] davidzwa commented on #7472
Feel free to close the issue whenever your triage has completed.

[2021-01-27 15:08] #6970 closed, assigned to maliming

[2021-01-27 15:32] #6949 closed, assigned to nobody

[2021-01-27 15:33] #7183 closed, assigned to yekalkan

[2021-01-27 15:35] #5921 closed, assigned to maliming

[2021-01-27 15:41] tsupakit commented on #7451
Regarding the example, what about if we want to remove comment from the issue. How could we do that ?
Just wondering the case of remove entity in a collection in aggregate particularly, regardless of the business and design.

I don't think making entity of the collection to be another aggregate is the right answer.

[2021-01-27 15:43] #7423 closed, assigned to realLiangshiwei

[2021-01-27 16:02] slarkerino commented on #7482
@davidzwa In my case I would like to have evenAttendee to still be searchable is the attendee itself is not deleted. Therefore, my workaround right now is to add _softDeleteFilter to whatever method that needs to include details.
[code]

and in efcore extension
[code]

I am not sure if there are better solutions to this

[2021-01-27 16:09] slarkerino commented on #7482
I am wondering if there is a way to only applying filter to the entity that i am querying. Theredfore querying eventattendee would not be affected by a related soft deleted event.

[2021-01-27 16:17] amsaighi opened #7485 "Separate Identity Server"
### Separate Identity Server Issues

* My **ABP Framework version** : 3.1.2
* My **User Interface** Angular
* My database provider(EF Core)

I created a module ABP Framework with separate Identity Server using ( **ABP CLI** )
 , When i tried to connect with Identity Server, although I connected, I lost the all the information.

It can't local storage information.
![image](https://user-images.githu

[2021-01-27 16:51] davidzwa commented on #7482
I see, I think the fluent IgnoreQueryFilters function works perfectly in that case, since the docs specify it is for the related entity! We should definitely figure this out, as I'm eager to learn more about this as well.

[code]
https://docs.microsoft.com/en-us/ef/core/querying/filters#disabling-filters

Of course this does mean you have to be cautious to not do this all the time. Can you test th

[2021-01-27 16:56] slarkerino commented on #7482
That works but I will have to add where clause for tenant and isdeleted for the entity itself XD.

[2021-01-27 16:59] davidzwa commented on #7482
Hmm I guess there is no other way! The lesson we need to learn is that SoftDelete comes with an administrative price.

Personally I only have query filters on my Root entity (Event). Maybe that is another good way to solve it? Does your child entity have to be softdeleted?
Maybe clever design of the database is an option.

Can we somehow construct a compiler warning? Something like a Roslyn analyz

[2021-01-27 17:42] michaelsudnik commented on #7423
This does mean that the base repository class now supports aggregation, but it would be nice if the automatically generated repositories created by abp suite used the aggregation option rather than queryable (maybe an option to choose). It would mean that navigation properties can be included in a single database call. It would also allow for sorting on navigation properties. It would bring the mo

[2021-01-27 20:26] vd3d commented on #7452
Is there a way to increase the log level? I have no log and no exception on the API & Identity side... only on the web app side.

[2021-01-27 21:07] vd3d commented on #7452
I have been able to get more logs... here is what I got on the APi side:
2021-01-27 21:58:09.841 +01:00 [INF] Failed to validate the token.
Microsoft.IdentityModel.Tokens.SecurityTokenSignatureKeyNotFoundException: IDX10501: Signature validation failed. Unable to match key:
kid: 'ac0d2edf3c04d13cd95cc41b9b33ab03'.
Exceptions caught:
 ''.
token: '{"alg":"RS256","kid":"ac0d2edf3c04d13cd95cc41b9b33ab

[2021-01-28 01:28] maliming commented on #7485
hi

I can't understand the problem.

[2021-01-28 02:53] #7480 closed, assigned to maliming

[2021-01-28 03:52] maliming commented on #7452
See https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4_0

[2021-01-28 03:54] slarkerino opened #7486 "Using snowflake algorithm to generate long as id as an option to GUID"
GUID is not very human readable, can we using twitter snowflake to generate id for aggregate root/ entites in abp as a replacement  for Guid. As I have gone through the docs, GUID is requried for aggregate root. But sometimes in reality we have to display things like orderid to customer, guid is not so "good looking"

[2021-01-28 03:59] realLiangshiwei commented on #7486
You can do it yourself.
See https://github.com/abpframework/abp/issues/469#issuecomment-425720097

[2021-01-28 03:59] #7486 closed, assigned to nobody

[2021-01-28 06:07] leonkosak commented on #7485
Do you think that you login successfully and then there is no logged-in user in the top-right corner?
Do you have Redis installed and properly configured in appsettings.json?

[2021-01-28 06:28] LFeYls opened #7488 "About feature and setting"
I was confused the dependence of  featureModule and settingModule , why the two module is depended by  AbpDddApplicationModule but not AbpDddApplicationContractsModule.
In microservice entrance, like backend host module,we will get the auth,features,settings,localization from  api/abp/application-configuration, but this module only need to  depend on  httpApiModule and httpClientModule of custom s

[2021-01-28 06:30] hikalkan opened #7489 "Async implementation for Transaction Commit/Rollback"
See [EfCoreTransactionApi](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Uow/EntityFrameworkCore/EfCoreTransactionApi.cs). It doesn't use the async API.

[2021-01-28 06:40] #7489 closed, assigned to hikalkan

[2021-01-28 06:56] AdemAygun opened #7492 ""''0xC2' is an invalid start of a property'" error for non-breaking space(194 160) character in json (using System.Text.Json)"
* **ABP Framework version** 4.1.2.
* Database provider(EF Core)
* Exception message and **stack trace** if available (check the logs).
[code]
I started to get above error after upgrading from 3.3.2 to 4.1.2 in the request which we earlier copied example value(schema) from swagger.If I try web api with new swagger example values doesn't cause this problem but the request which I copied from previou

[2021-01-28 07:03] maliming commented on #7492
See https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-character-encoding
[code]

[2021-01-28 07:03] #7492 closed, assigned to maliming

[2021-01-28 07:30] cbaille opened #7493 "[abp] User reach swagger if go to register view before login to the system"
**ABP Framework version** 4.1.2
**User Interface** Angular
**database provider** EF Core

Steps needed to **reproduce** the problem.

1- Run the solution about reaching the home page
2- Press the login button
3- Press Register
4- Press Login
5- Provide credential to login and login

**Result**: We reach the Swagger API view

**Expected:** We should reach the home page

[2021-01-28 07:56] maliming opened #7494 "Remove the features and settings of TwoFactor in the identity module."
Because we did not implement these.

[2021-01-28 07:59] realLiangshiwei commented on #7493
See https://github.com/abpframework/abp/pull/6734

[2021-01-28 07:59] #7493 closed, assigned to nobody

[2021-01-28 08:02] iyilm4z commented on #3128
As you know we use [ExtensibleObjectMapper](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/ExtensibleObjectMapper.cs) for mapping SrcObj.ExtraProperties to DestObj.ExtraProperties. This class contains methods working with two objects implement IHasExtraProperties interface.

Below possible steps to help us having this feature.

1-Make i

[2021-01-28 08:20] maliming commented on #7488
I don't understand what you mean, even in Chinese.

Maybe you can say a specific use case.

[2021-01-28 08:21] #6253 closed, assigned to nobody

[2021-01-28 08:55] #7488 closed, assigned to nobody

[2021-01-28 09:07] amsaighi commented on #7485
Hi
@maliming  When i click login, the method redirect my to Identity server, I authentifie, after this it redirect me to my angular application I lost all information us the image show.

@leonkosak Yes, I login successfully When I try to inspect information about my authentification, I lost all information.
Yes, I launched Redis a lot of time, and all my configuration are right.

[2021-01-28 09:16] leonkosak commented on #7485
Check Logs.txt for .HttpApi.Host and .IdentityServer projects. There must be something, believe me.

[2021-01-28 10:12] mehmet-erim commented on #7472
Please follow this issue @davidzwa. `THEME_SHARED_APPEND_CONTENT` may be removed or changed in v5.0. Because we might be removed the `chart.js` dependency from the @abp/ng.theme.shared in the future

[2021-01-28 10:19] davidzwa commented on #7485
The fact that you have a Bearer token tells me that the LocalStorage is not empty. Please check on another browser as well, as a simple filter could also hide data.

Also please confirm that the LocalStorage was not empty before and send a screenshot. It's very hard to even reproduce right now.

[2021-01-28 10:20] davidzwa commented on #7436
Can we track which keys are in the cache with an extra cache? Sounds redundant, but it could be very nice for debugging.

[2021-01-28 10:32] amsaighi commented on #7485
@davidzwa I got the bearer token, and I'm sure that the local Storage is empty,
I tried this exercice with all browser ( Chrome, Mozilla, Brave, Edge) the same result

[2021-01-28 10:33] slarkerino commented on #7436
![image](https://user-images.githubusercontent.com/7014849/106125743-75d85580-6197-11eb-9413-7674c3855c09.png)

I have checked how abp store value in cache, it actually encapsulate the value into hash. So it is possible to store null value in cache. I just felt we lack a way to check if a certain key is exist or to get the key(have no idea how abp serialize the key when use the injected cache serv

[2021-01-28 10:36] amsaighi commented on #7485
@leonkosak no Error in both of them (log.txt)

[2021-01-28 10:44] davidzwa commented on #7485
Checked SessionStorage and Cookies? I did not have this behaviour in the default template with split IDS4 and Angular, so you have to provide us reproduction.

Also I dont know JWKS, maybe try and find how that scheme works.

[2021-01-28 10:51] niufwshd opened #7497 "default login page‘s switch tanent ui elements dispeared after configure AbpTenantResolveOptions"
- abp 4.1.2  netframework 5.0
- issue
      the default login page should let me to choose tanent before login,but when I  add `            Configure<AbpTenantResolveOptions>(options =>
            {
                options.AddDomainTenantResolver("{0}.farvision.com");
            });`
in ConfigureServices function and browser the login page it dispeared!
- reproduce steps
    1.  create new sln f

[2021-01-28 11:01] amsaighi commented on #7485
@davidzwa

Cookies :
![image](https://user-images.githubusercontent.com/3142753/106128773-f8452300-615f-11eb-9b1e-62207648739d.png)

SessionStorage :
![image](https://user-images.githubusercontent.com/3142753/106128837-05faa880-6160-11eb-8a63-693754544ccd.png)

JWKS :
![image](https://user-images.githubusercontent.com/3142753/106129114-43f7cc80-6160-11eb-9ff0-12ac791fc208.png)

I Have this behavio

[2021-01-28 11:03] #5215 closed, assigned to hikalkan

[2021-01-28 11:10] davidzwa commented on #7485
You stated "I lost the all the information.". What was in the localstorage before? Was it non-empty?

[2021-01-28 12:37] amsaighi commented on #7485
@davidzwa
I shared a picture with empty LocalStorage in the first description, and I still get the same result

[2021-01-28 12:46] davidzwa commented on #7485
I'm sorry @amSaighi I have no clue how to even get to the problem you have. Do you have a public repository to share?
Otherwise, I can only advise to start with the ABP CLI and regenerate the project, if there really is a problem here.

[2021-01-28 15:07] andre-artus commented on #7349
Thanks @davidzwa

[2021-01-28 15:25] andre-artus opened #7503 "AppService derived from ApplicationService returns HTML when not signed in."
A service derived from ApplicationService, via the generated AppNameAppService produces HTML instead of JSON when an error occurs, e.g. user not logged in.

[code]

[code]

Is it necessary to use a Controller in Host.Api as a proxy?

One way I saw is to have a controller that implements `ICrudAppService` act as proxy to the service, is this the recommended way?

[2021-01-28 15:30] davidzwa commented on #7503
If I understand the title correctly, I had the same problem. Also interested into fixing this!

Reproduction (for my case): start with default CLI 4.1+ template with IdentityServer and Angular.
Any error does not give back the exception from Abp Exception filter, but instead HTML.

[2021-01-28 15:34] davidzwa commented on #7497
Don't pin me down on this, but I think a sub/domain resolver **should** logically lock the tenant and it makes sense to me that the button dissappears! (I havent looked at the MVC page internally, nor do I claim to fully know it)

You gotta decide:
- Do I want to be able to choose tenants before I enter the login form
- Or during the form?

First option means you basically redirect to a new subdom

[2021-01-28 15:41] davidzwa commented on #7503
@andre-artus I have a reproduction below where it is happening in a Controller, so it might not even be related to AppService
https://github.com/thor-it/thor-sso/blob/9c92df8176b9036e36403c585ee1cda2d1785c0f/aspnet-core/src/Thor.SSO.HttpApi/Controllers/Random/RandomController.cs#L19

Let me know if it matches your problem, if not I'll split out to a separate issue. If it helps, we can let the auth

[2021-01-28 15:45] davidzwa commented on #7503
Related to the RandomController endpoint linked above (with Authorize attribute)
![image](https://user-images.githubusercontent.com/6005355/106162279-39e9c400-6188-11eb-9c72-df69e1221939.png)

[2021-01-28 15:55] andre-artus commented on #7503
@davidzwa , It looks similar. Have you tried implementing ICrudAppService (or an interface derived from it)?

[2021-01-28 16:00] andre-artus commented on #7503
It seems I have to implement CrudAppService on the service as well. Defeats the idea.

[2021-01-28 16:07] davidzwa commented on #7503
I think this is related to Exception Filtering. I honestly abandoned that project for later for this reason.

Btw,
https://docs.abp.io/en/abp/latest/Exception-Handling#send-exception-details-to-the-client
Does this fix it?

Also, I dont have this on my 4.2 project where I dont have IDS4. So that might also be the culprit. I dont think it is related to MVC/Controllers/Services. Just config or Ident

[2021-01-28 16:31] andre-artus commented on #7503
Thanks @davidzwa , I'll check it out. Just want to add that when the service is derived from ICrudAppService  and implements CrudAppService then it behaves as expected.

Maybe I don;t understand the purpose of ApplicationService? I [almost] never want a service to return HTML.

[2021-01-28 17:37] sturlath commented on #3709
Hi, I'm working on trying to get this up and running myself and have [a discussion on it ](https://github.com/abpframework/abp/discussions/7416) where I'm 99% done but there is something still not quite right there.

I used this issue as the basis for mine. Just putting this here for somebody coming around later on (hopefully I will have fixed it and blogged about it ;-))

[2021-01-28 18:42] davidzwa commented on #7503
@maliming or @realLiangshiwei do you have an answer to this problem(s) we're facing?

[2021-01-28 18:53] crazygeek69 opened #7506 "Data Migration Issue When created a solution with blazor as UI using CLI"
ABP Framework Version : 4.2
User Interface: Blazor
Database Provider: Entity Framework
Steps To Reproduce
1) Create the solution using the following command
          abp new Acme.BookStore -u blazor -csf
2) Then try run the Migrations using the DBMigrator getting the following error
3) When download the ABP samples [BookStore-Blazor-EfCore] and it works fine.
4) Also noticed that BookStoreDbMigra

[2021-01-28 19:07] Digisaman opened #7507 "Published App gets Stuck On Loading..."
### Documentation
I'm running APB ( Latest Version)
Please check the official documentation before asking questions: https://docs.abp.io
* Your **ABP Framework version**.

UI : Blazor
DB Provider : EF CoreWhen running the Solution in IIS Express Everything works fine
But when running the published version (either in local IIS or published to AWS Container )
It gets stuck on loading page and never

[2021-01-28 19:17] hikalkan opened #7508 "Use the default language setting if user hasn't selected a language."
Use the default language setting (tenant aware) if user hasn't selected a language and the browser's language is not one of the supporterd languages.
I put this to the next patch because there was such a setting but not properly used until now.

[2021-01-28 20:35] abdumostafa commented on #845
@gdlcf88  Did you manage to solve this issue in production with linux?

[2021-01-29 01:22] maliming commented on #7506
Can you try to run `DBMigrator ` via `dotnet run`.

[2021-01-29 01:23] maliming commented on #7507
Please check the application logs and browser console.

[2021-01-29 01:24] niufwshd commented on #7497
@davidzwa ，thank you for you reply.Yes, I almost agree with you. It locked the tanent after Add configure code and the UI disapear. and the localhost of subdomain is NULL too. I append the "127.0.0.1 farvision.com" to os hosts to simulate real dns, and change launch url to "farvision.com:44383" in the launchsetting.json and  browser https://farvision.com:44383/Account/Login.  My inital Idea is   I

[2021-01-29 01:30] maliming commented on #7503
See https://github.com/abpframework/abp/issues/5235 and https://github.com/abpframework/abp/issues/5235#issuecomment-727700212

[2021-01-29 01:44] mooresway commented on #5517
Thank you @stsrki for your work on this and blazorise.

Any update on this? I see it is no longer in-progress.

Not sure if this is good news or bad news. I really hope this makes 4.3 with its long dev cycle. Feels like it has been coming forever. Last year talk of support for blazor seemed to morph into blazor wasm only, which was a surprise.

I hope fear of breaking changes doesn't hold this bac

[2021-01-29 03:17] foxeveral opened #7513 "HttpPost RemoteService Appear Volo.Abp.Http.Client.AbpRemoteCallException: Unsupported Media Type"
- Unsupported Media Type
    Volo.Abp.Http.Client.AbpRemoteCallException: Unsupported Media Type
   at Volo.Abp.Http.Client.DynamicProxying.DynamicHttpProxyInterceptor`1.ThrowExceptionForResponseAsync(HttpResponseMessage response)
   at Volo.Abp.Http.Client.DynamicProxying.DynamicHttpProxyInterceptor`1.MakeRequestAsync(IAbpMethodInvocation invocation)
   at Volo.Abp.Http.Client.DynamicProxying.Dyn

[2021-01-29 03:19] realLiangshiwei commented on #7513
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Steps needed to **reproduce** the problem.

[2021-01-29 03:21] foxeveral commented on #7513
ABP Framework version ： 4.1.2
User Interface ： Vue
database provider ： EF Core

[2021-01-29 03:33] #6387 closed, assigned to nobody

[2021-01-29 03:59] andre-artus commented on #7503
@maliming ,

Thanks, but when I change `AddAuthentication()` to
[code]
Then all the services, even ones working fine previously, return 401 in the Swagger UI (despite being logged in). except the error message differs:
[code]
vs

[code]

What is the correct approach to take if I want an endpoint that I can use in Angular in the same way as CrudAppService? And if you know, and don;t mind me asking,

[2021-01-29 06:05] niufwshd commented on #7497
@davidzwa I change the config code to `  Configure<AbpTenantResolveOptions>(options =>
            {
                options.TenantResolvers.Add(new DomainTenantResolveContributor("{0}.farvision.com"));
            });
and It solve my problem.`

[2021-01-29 06:05] #7497 closed, assigned to nobody

[2021-01-29 06:14] #7508 closed, assigned to hikalkan

[2021-01-29 06:56] gerryge opened #7517 "Open start mvc template in some Social Apps like QQ, after login occrued 400 error"
Abp version: v4.1.2, v4.2.0
User Interface: MVC
Database provider: EF Core

* Exception message and **stack trace** if available (check the logs).
[logs.txt](https://github.com/abpframework/abp/files/5892008/logs.txt)

2021-01-29 11:20:23.395 +08:00 [ERR] An exception was thrown while deserializing the token.
Microsoft.AspNetCore.Antiforgery.AntiforgeryValidationException: The antiforgery token co

[2021-01-29 07:02] maliming commented on #7517
This is related to **Social Apps** instead of abp.
You can try to use plain asp net core and **Antiforgery** feature.

[2021-01-29 07:02] #7517 closed, assigned to nobody

[2021-01-29 07:03] asensitive opened #7518 "ABP.IO Sample Angular/Blazor Application- Tenant with separate DB login issue"
Apps with ABP.IO framework with Angular/Blazor UI templates seems to have an issue with login when creating a tenant with separate DB.

When creating a new tenant with shared database, I works perfectly. However, if I create a tenant and provide a connection string for a separate database, there seems to be issues.

- The database for new tenant is created after running the migration project.
- Be

[2021-01-29 07:28] hikalkan opened #7519 "Upgrade bookstore samples to 4.2.0"
Just use abp update and test. No node change required since I already have updated them to 4.2.0-rc2. Then run test the applications.

- [x] https://github.com/abpframework/abp-samples/tree/master/BookStore-Angular-MongoDb
- [x] https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore
- [x] https://github.com/abpframework/abp-samples/tree/master/BookStore-Mvc-EfCore

(do it

[2021-01-29 07:49] gerryge commented on #7517
@maliming

I have reread the [CSRF-Anti-Forgery](https://docs.abp.io/en/abp/4.2/CSRF-Anti-Forgery) doc, I found below:

As QQ is a non-browser clients, why this error happen and how to fix this issue, can you give some advice?
WeChat, Alipay are both OK.

Have you checked the other logs, there are some other useful information:

2021-01-29 11:20:51.989 +08:00 [INF] Request starting HTTP/2 POST htt

[2021-01-29 07:53] #7443 closed, assigned to enisn

[2021-01-29 07:58] maliming commented on #7517
You can try to use plain asp net core and Antiforgery feature.

[2021-01-29 08:08] stsrki commented on #5517
@mooresway It's going slowly by steadily.

Currently, I moved to some other more critical issues that needed to be fixed and soon I will continue to work on BSS.

[2021-01-29 08:27] maliming commented on #7518
I believe that PR will fix this. maybe next patch.
https://github.com/abpframework/abp/pull/7509

[2021-01-29 09:38] balakrishnanspeehive opened #7522 "Error messages in the deployed site"
ABP Framework version : 3.3
User interface : Angular
Database : EF Core

In the deployed site when an error is occuring, instead of a popup message, the system is redirected to an error page as mentioned below.

Example 1: While we are entering an existing unique field (ex: Name), the below page is getting displayed.

![image](https://user-images.githubusercontent.com/74094175/106258109-6dd5ef80-6

[2021-01-29 09:58] maliming commented on #7522
You can reproduce the problem locally by changing the environment of asp net core, then share the code and steps.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments

[2021-01-29 10:26] davidzwa commented on #7497
Hmm does not sound to me like the best solution: I would've changed the login-form to select and reload the page, personal preference. But good to hear anyway!

[2021-01-29 10:45] davidzwa commented on #7503
Before I post my intended answer, you stated that it worked below if I'm correct? I believe, although you might've swapped interface and class in your answer, you seem to be on the right path.

Example for the points below
[code]
And the `INotificationLogService` **interface** implements the `IApplicationService` **interface**

I'm probably explaining a lot of stuff you already know below. Still,

[2021-01-29 10:51] davidzwa commented on #7503
https://stackoverflow.com/a/64266340/2733437
Also a nice way to see the bigger picture on how to configure auth Cookies.

[2021-01-29 10:53] davidzwa commented on #7482
@slarkerino please close the issue, if it is resolved for you.

[2021-01-29 10:59] davidzwa commented on #7513
Reproduction? What are you putting in the request body for example? How are your requesting it? (Postman, browser, service proxy, console...)

Unsupported Media Type means that you are supplying something like Form data to a JSON endpoint, or something similar. Please check your request Content-Type header and provide us that information.

Similar example
https://stackoverflow.com/a/64629641/27334

[2021-01-29 11:17] armanozak opened #7524 "A utility for getting a stream of Angular router events easily"

[2021-01-29 11:53] alexandis opened #7529 "Overriden LogAuditPropertySetter partially does not work, when included from Nuget package"
3.3.2 / Angular

I reuse my implementation of `LogAuditPropertySetter` in different projects - that's why I moved it into _Nuget_ package.
Here comes the problem: whereas `SetCreatorName` works properly always - `SetLastModifierName` works only when called for entity being created, but not for entity being updated.

If I include the _Nuget_ package project containing `LogAuditPropertySetter` direc

[2021-01-29 12:23] alexandis commented on #7529
Closing, since looks like my Nuget package version was out-of-date.

[2021-01-29 12:23] #7529 closed, assigned to nobody

[2021-01-29 13:01] #7259 closed, assigned to nobody

[2021-01-29 13:32] ilkayilknur opened #7533 "CMS Kit - Page Routing Configuration Fix"

[2021-01-29 14:58] sturlath commented on #7506
I´m also getting this...

![image](https://user-images.githubusercontent.com/2386572/106290482-6c57f780-6242-11eb-8fed-2a4168172628.png)

and if I try to downgrade the CLI I get this and it doesn´t create any migrations.

![image](https://user-images.githubusercontent.com/2386572/106294082-a3300c80-6246-11eb-8a58-ac1115a75e33.png)

So stuck.. bad stuff..

[2021-01-29 15:01] andre-artus commented on #7503
Yes, I copied the names then removed the I from the wrong one :).

[2021-01-29 15:12] sturlath commented on #5888
@Stirda did you ever figure this one out?

[2021-01-29 15:16] roupijiaojiaobao opened #7536 "4.2.0 Migrations failed"
![微信图片_20210129100232](https://user-images.githubusercontent.com/64553587/106291025-1d499c80-6219-11eb-9a1a-7798985e8314.png)
Hi everyone, after creating a new project on the official website by Direct Download, I encountered this problem during Migrations

[2021-01-29 15:21] andre-artus commented on #7503
I'm using the default option where the IS tables are in the same DB. I'm not calling to IS (the service).

I use JWT for my API, but I would like to also use the Swagger UI and that seems to require cookies.

[2021-01-29 15:27] andre-artus commented on #7503
@davidzwa , the website uses the default, cookie based, login.

[2021-01-29 15:32] davidzwa commented on #7503
Website => you mean MVC/Razor instead of Angular?
Could explain why after changing to JWT auth scheme everything is suddenly Unauthenticated.

[2021-01-29 15:52] #7482 closed, assigned to nobody

[2021-01-29 23:04] andre-artus commented on #7503
It's Angular, but the Login is Razor Pages (as per default ABP+Angular template).

[2021-01-29 23:42] olicooper commented on #6981
@davidzwa Are you still facing the "Using required navigation" issue? I have been working on a generic fix today - thanks for the link to the [Microsoft filtering page](https://docs.microsoft.com/en-us/ef/core/querying/filters#accessing-entity-with-query-filter-using-required-navigation), it helped me figure out a solution!

The idea is to 'copy' the configured GlobalQueryFilter on the main entity

[2021-01-29 23:58] olicooper commented on #2208
I have some additional functionality you could add...

I was getting logs like this:
[code]

I based my fix on information from the [Microsoft filtering page](https://docs.microsoft.com/en-us/ef/core/querying/filters#accessing-entity-with-query-filter-using-required-navigation).

The idea is to 'copy' the configured GlobalQueryFilter from the main entity to the nested 'target' property.

You would

[2021-01-30 01:22] tevosouza commented on #7221
As I said on another issue, maybe the Keycloak (https://www.keycloak.org/) can be an alternative.
It's open-source, robust, scalable, reliable and has a very active community.

[2021-01-30 02:51] maliming commented on #7536
Try to install ef tool: `dotnet tool install --global dotnet-ef --version 5.0.2`

[2021-01-30 02:51] #7536 closed, assigned to nobody

[2021-01-30 02:52] maliming commented on #7506
![image](https://user-images.githubusercontent.com/6908465/106345175-45083580-62e9-11eb-8929-631a978dbbdd.png)

`dotnet tool install --global dotnet-ef --version 5.0.2`

[2021-01-30 03:23] crazygeek69 commented on #7506
It worked, After I ran the **dotnet tool install --global dotnet-ef --version 5.0.2**

[2021-01-30 03:25] #7506 closed, assigned to nobody

[2021-01-30 11:06] Xeevis commented on #7221
While possible it's not something .NET community will ever pivot to. It's written in Java, NET's mortal enemy you know 😅. You'd need separate setup and use adapter to talk to it. OpenIddict would make much more sense.

[2021-01-30 11:36] badre429 commented on #7221
yes its not possible but not because of java vs dotnet its about self hosting the application with the identity-provider adding Keycloak  will add more frustration on top of already complicated solution

[2021-01-30 12:54] tevosouza commented on #7221
Hi @Xeevis and @badre429
Thank you for your answers!

[2021-01-30 14:11] Xan1203 commented on #7507
Helo,
i have exactly the same problem. New project generated for Blazor. No application log is generated. Console looks like this:
![image](https://user-images.githubusercontent.com/16512995/106358588-785cbb80-630d-11eb-9bd1-803d48702b91.png)

Tried MVC project variant also, it works normally.

[2021-01-30 14:36] Digisaman commented on #7507
I think I Figured it out, The HttpApi.Host needs to be hosted separately so that it ca be accessed to download modules....
I did that but then encountered a CORS error which I haven't been able to resolve...

[2021-01-30 14:45] willignicolas opened #7539 "ErrorCode of BusinessException in logs"
Hello,

We use BusinessExceptions to have the localization process outside of the exception throwing process. But in this context of use we observe that in the logs we see the businessExceptions but not their error code. Which takes away a lot of visibility on the issues.

Can we add this information in the logs?

Thanks for your help.
Nicolas

[2021-01-30 15:52] muhammedshaaban7 commented on #7371
Kindly any updates

[2021-01-30 17:33] balakrishnanspeehive commented on #7522
Error response in local for entering existing value. Showing status 403.
![Local Error](https://user-images.githubusercontent.com/74094175/106363530-20df3f80-634f-11eb-8ca7-bcc045cef36b.png)

The same thing in deployed shows 403 Forbidden.
![Dev Error](https://user-images.githubusercontent.com/74094175/106363571-45d3b280-634f-11eb-839f-215ae644d2eb.png)

[2021-01-30 17:34] Digisaman opened #7540 "Depoloyment Problem"
APB Framework Version 4.2
UI : Blazor
DB Provider EFCore

I've Published the framework on a Windows Server 2019 with IIS
Created 2 IIS websites :
1 . Hosting the Blazor Project on Port 443 for SLL
2. Hosting  the HttpApi.Host Project on another Port
(Is this the correct way ? do I need 2 websites? should they both be on the same server?)

Both Websites are  running correctly.
But when I browse the

[2021-01-30 18:23] davidzwa commented on #6981
@olicooper I did it by simply adding a HasQueryFilter on the child entity. Will definitely share that and look at your solution as well. I also tried to answer a related issue https://github.com/abpframework/abp/issues/7482 based on my knowledge (which seems limited compared to what you have made).

[2021-01-30 19:18] Xan1203 commented on #7507
You are right, HttpApi.Host has to be started before starting GUI part - it was not clear from "getting started" document for me. Now for me works as expected - thank you.

[2021-01-30 20:07] olicooper opened #7541 "Localization test failing"
* I checked-out latest commit on dev branch (https://github.com/abpframework/abp/tree/401c65266097609925ecf1a982f7f954b8aa49ae)
* ran `build-all.ps` and `test-all.ps`

Localizer seems to be returning the `en-GB` localized string instead of the `en` one. The commit that introduces the issue can be found here: https://github.com/abpframework/abp/commit/bd52241566381827f113ce80b2b21c31e75e444b#diff-e

[2021-01-30 20:41] olicooper commented on #7541
## Update

I can confirm that it is because the CurrentCulture is not set before running the test. I imagine this will be the same for all localization tests?

The problem is due to this:
https://github.com/abpframework/abp/blob/401c65266097609925ecf1a982f7f954b8aa49ae/framework/src/Volo.Abp.Localization/Volo/Abp/Localization/AbpDictionaryBasedStringLocalizer.cs#L55-L58

Update the test in `Volo.A

[2021-01-30 21:22] mtozlu commented on #6571
Check that name and surname scopes are added to IdentityServerApiResources table in database.
If they don't exist under UserClaims of an ApiResource, you can add these claims to seed class and seed your db.
Go to `CreateApiResourcesAsync` method of Identity server data seed class. Add these;
[code]

[2021-01-30 22:15] olicooper commented on #7482
@slarkerino If I understand your problem correctly, it would be good is to be able to have a `IgnoreQueryFilters` attribute?
[code]
I will take a look at the implementation of ABP to see if this can be added.

Alternatively I could see if an `IRepository` extension method could be created e.g.
[code]

I personally prefer the second option.

[2021-01-31 08:29] XuJin186 opened #7546 "Remove Bootstrap dependencies"
APB Framework Version 4.2
UI : Blazor
DB Provider EFCore

Whether can cancel Volo.Abp.AspNetCore.Com ponents. WebAssembly. Theming the bootstrap dependencies, such as to prevent it to a template, because we want to replace the theme in the process of development But found that the bootstrap some style which affected our themes, and become a large CSS file

[2021-01-31 08:50] XuJin186 commented on #7546
Now is the use of this method to remove, whether there is a better way

[code]

[2021-01-31 11:36] davidzwa commented on #7482
I think on-the-fly/runtime is best as people need to understand the problem! Attributes don't force the developer to stay on top of it.

I'd also be willing to write some docs for it in the ABP documentation as it is not easy to wrap your head around. What do you think @olicooper

[2021-01-31 12:27] sgalcheung opened #7547 "Documentation about ABP Introduction Module"
### Module
I recently (12/23/2020) learned ABP, starting from version 4.0, when I saw the documentation related to the module, I was very confused, I don’t know what the module specifically represents.
until today, I saw an ABP explaining the module In the video, I found that he explained very clearly, how to change from an aspnetcore template project to the use of abp. I see that the abp package

[2021-01-31 12:40] vnetonline opened #7548 "Warning when trying to create Tenants using Tenant manager in my DataseedContributor"
* Your **ABP Framework version** - v4.2.0
* Your **User Interface** type (Angular/MVC/React... etc.) -MVC
* Your database provider(EF Core/MongoDB) - EF Core
* Exception message and **stack trace** if available (check the logs).

`[23:34:43 WRN] The query uses a row limiting operator ('Skip'/'Take') without an 'OrderBy' operator. This may lead to unpredictable results`

* Steps needed to **reprodu

[2021-01-31 12:54] vd3d commented on #7452
Thanks, I have already check (again and again the migration guide) and do the changes on the database to support the new identity server, but no way... I can't find what is wrong / breaked

[2021-01-31 13:18] dazsco opened #7549 "Hope to add business name to eventbus ."
Using ETO full name or EventName is a great idea, but I ran into such a problem.
I am developing a workflow system, which will run in different microservices. I used DistributedEventBus for message delivery. Now I have encountered a thorny problem. A workflow may cooperate in multiple businesses. But processes such as "rejection" and "approval" should be an Eto. The current solution is that I pass

[2021-01-31 13:44] willignicolas opened #7550 "Base property of appservice and domainservice are not mockable for true unit test"
Hello,

We write unit tests for our appservices and domainervices.
In this context, we must mock basic properties such as IguidGenerator or ICurrentTenant or ILogger, which are used when inserting an entity. But these properties all have a private setter. And so we cannot mock them. It is a shame to have to put a dependency in the constructor, we will lose the advantage of the direct accessibility

[2021-01-31 14:43] #7524 closed, assigned to armanozak

[2021-01-31 15:37] baskan opened #7551 "Question: Dynamic C# Client Authorization"
I am trying to use Dynamic C# Client on a WinForms application, I did managed to port my WinForms application to support Microsoft Dependency Injection but I couldn't figure out how to make use of `IdentityModelRemoteServiceHttpClientAuthenticator`that I have found in the source code (there is no documentation on how to do so)

currenly what I do is;

[code]

My question is;

How can I call `conne

[2021-02-01 01:03] maliming commented on #7539
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-02-01 01:04] #7507 closed, assigned to nobody

[2021-02-01 01:22] maliming commented on #7548
You can change the output level of the log to find the query that has warnings.

[2021-02-01 01:23] realLiangshiwei commented on #7547
I don't get your point

[2021-02-01 01:24] maliming commented on #7452
kid: 'ac0d2edf3c04d13cd95cc41b9b33ab03'.

You should troubleshoot the problem based on this error message.

[2021-02-01 01:30] maliming commented on #7550
hi

There are `protected`  Maybe you can create a subclass.

How to mock services in unit tests has nothing to do with abp.

[2021-02-01 01:30] #7550 closed, assigned to nobody

[2021-02-01 01:31] maliming commented on #5940
@stsrki What do you think?

[2021-02-01 01:32] #6451 closed, assigned to nobody

[2021-02-01 01:38] realLiangshiwei commented on #7546
Yes, Using `IBundleContributor` is the recommended way

[2021-02-01 01:45] vnetonline commented on #7548
Can you please tell me how I do this?

[2021-02-01 01:49] maliming commented on #7548
Change
`.MinimumLevel.Override("Microsoft.EntityFrameworkCore", LogEventLevel.Warning)`
 to
 `.MinimumLevel.Override("Microsoft.EntityFrameworkCore", LogEventLevel.Information)`

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Program.cs#L20

[2021-02-01 02:07] vnetonline commented on #7548
also can you let me know where will I find the log file ??

[2021-02-01 02:12] maliming commented on #7548
`Logs/logs.txt` or application console.

[2021-02-01 02:20] maliming commented on #7522
Have you tried this?

https://github.com/abpframework/abp/issues/7522#issuecomment-769704942

[2021-02-01 02:24] maliming commented on #7540
@stsrki Do you have any advice?

[2021-02-01 02:27] maliming commented on #7551
hi

Microsoft Dependency Injection cannot implement interceptor features. You need to integrate autofac.

https://docs.abp.io/en/abp/latest/Autofac-Integration

[2021-02-01 02:34] maliming commented on #6178
It cooperates with [`AppUrlProvider`](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.UI.Navigation/Volo/Abp/Ui/Navigation/Urls/AppUrlProvider.cs#L30).

[2021-02-01 02:39] XuJin186 commented on #7546
thank you@realLiangshiwei

[2021-02-01 02:40] #7546 closed, assigned to nobody

[2021-02-01 02:44] XuJin186 commented on #7106
@vnetonline   May I ask how you solve the problem? I also met the same problem

[2021-02-01 02:56] #7541 closed, assigned to nobody

[2021-02-01 02:57] #7547 closed, assigned to nobody

[2021-02-01 03:13] sgalcheung commented on #7547
If you are an abp newcomer, with the basic knowledge of aspnetcore, Empty Web Project can just connect aspnetcore and abp, but the name Empty Web Project, I don’t know it is a good name, just use Start AspNetCore and put it in Getting Started Next item.

[2021-02-01 06:36] liorbalmas opened #7554 "Creating a custom AuthenticationStateProvider for Blazor web assembly"
Hello,
I'm trying to use  and authentication method other then provided by the template on client side - Blazor WebAssembly.
For that, I have a implemented a custom AuthenticationStateProvider.
But that seems not enough as the framework expects implementation of more services such as IAccessTokenProvider and SignOutSessionStateManager which I could not figure how and where to implement.
It seems t

[2021-02-01 07:44] ilkayilknur opened #7556 "CMS Kit - Blog Public Website Implementation"
- List blog posts with paging
- Display posts including tags, comments etc...

[2021-02-01 07:59] stsrki commented on #5940
@maliming I know the problem already. The issue is in how the backdrop is placed. Instead of it being placed inside of modal `div`, it should be placed outside of it. To make it work I will need to refactor Modal slightly, but keeping it without breaking changes.

It's scheduled for 0.9.3 final release but I can make it work for the next preview.

[2021-02-01 08:01] mehmet-erim commented on #7473
Hi @davidzwa

We want to make some optimizations for dependencies. But we can't do this before v5.0 because it will cause breaking changes.

We may not be able to make any changes for `ng-bootstrap`. Many ABP packages are depended on the bootstrap and this is a design decision. Many ABP Angular UI packages use `ng-bootstrap` components as well. But there is nothing terrible in this situation. Beca

[2021-02-01 08:02] willignicolas commented on #7550
Thanks for your reply, I will make subclass.

[2021-02-01 08:05] stsrki commented on #7540
@maliming As far as I know, they should be separated. That's why HttpApi.Host exists. To be able to connect to any client or app.

@Digisaman It's hard to tell what can be wrong from your description without access to the system. Check that you are connecting to **HTTPS** and no **HTTP**. Also, check your firewall settings.

[2021-02-01 08:21] Digisaman commented on #7540
Hi @stsrki
I've checked my connection it's HTTPS
and I've published the HTTPApi.Host and Blazor projects to two separate AWS servers (Both Accessing the same Database Server)
Both are running on HTTPS with valid domain names and certificates. I still don't know what the problem is, Everything is OK on my local machine But when I Publish the APP on AWS I have this issue
The HomePage is browsed corr

[2021-02-01 08:23] davidzwa commented on #7473
Hey @mehmet-erim,

I thank you for the elaborate answer. And I agree that tree-shaking does its job quite well.

The reason for recreating the components is that we want to avoid integrating `ng-bootstrap` due to Angular Material theming as well as the fact that it would provide 2 styling frameworks which is unoptimal.
The project is older than ABP framework (it was using the original Asp .NET Boi

[2021-02-01 08:30] willignicolas commented on #7539
Hi @maliming

Sorry for the missing informations.

Abp 4.2.0 RC2

Step to reproduce :

- Create bookstore startup template with cli

- Add this lign on OnGet() method of IndexModel class
`throw new BusinessException("ErroCode");`

- Start the application

- See the log in generated log file :
[code]

There is no trace about the error code.

We can of course put message and details on businessexcep

[2021-02-01 08:49] ilkayilknur commented on #7540
@Digisaman It is hard to tell what's wrong with the system. You need to check application logs to find the problem. The problem could be a connectivity issue between the API and DB.

When you deploy two different websites, you need to configure `CorsOrigins` and `RedirectAllowedUrls` configs. You can get reference from https://github.com/abpframework/abp/discussions/7416#discussioncomment-318368

[2021-02-01 09:19] nicocomumu commented on #921
Now that Identity Server has become a commercial product, the discussion is back on the agenda.
It would be interesting to have other options such as keyclock or openiddict.

[2021-02-01 09:40] Digisaman commented on #7540
Tanx @ilkayilknur  following the link you provided. Solved the Login Issue. (Section 10)
I just changed the Root URL in DbMigrator project config To the Blazor App's URL and Run the Migrator

[2021-02-01 10:02] maliming commented on #7539
hi

Can you share the full stack of the error log?

[2021-02-01 10:05] willignicolas commented on #7539
Of course

[code]

[2021-02-01 10:24] maliming commented on #7539
This is behavior of [DeveloperExceptionPageMiddleware](https://github.com/dotnet/aspnetcore/blob/main/src/Middleware/Diagnostics/src/DeveloperExceptionPage/DeveloperExceptionPageMiddleware.cs#L98).

You can use `try catch` in  `OnGet` method.

https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Register.cshtml.cs#L101

https://docs.abp.io/en/abp/late

[2021-02-01 12:05] gainorloss opened #7559 "[Volo.Abp.Http.Client.IdentityModel] when used in blazor wasm app"
I *requested* idenity server (AuthServer.Host), got exception as below.

![image](https://user-images.githubusercontent.com/26458238/106456712-de417280-64c8-11eb-9dd0-3b6a6b6e594c.png)

[2021-02-01 12:19] maliming commented on #7559
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Please **write in English**.

[2021-02-01 12:19] gainorloss commented on #7559
## Program.cs
`  public static async Task Main(string[] args)
        {
            var builder = WebAssemblyHostBuilder.CreateDefault(args);
            var application = builder.AddApplication<BlazorWebAssemblyModule>(opt =>
            {
                opt.UseAutofac();
            });

            var host = builder.Build();
            await application.InitializeAsync(host.Services);

[2021-02-01 12:29] gainorloss commented on #7559
*  Package version :4.2.0
*  UI:Blzor wasm
*  DatabaseProvider :EF Core
* Wasm console:
`blazor.webassembly.js:1 System.PlatformNotSupportedException: System.Security.Cryptography.Algorithms is not supported on this platform.
blazor.webassembly.js:1    at System.Security.Cryptography.MD5.Create()
blazor.webassembly.js:1    at System.AbpStringExtensions.ToMd5(String str)
blazor.webassembly.js:1

[2021-02-01 12:34] Brahimhz opened #7560 "Register my DbContext as Transient"
In project , I had method that had to make many call to database depending on item's value of a list.
before I used a normal "foreach" but it take a long time. so I want to separate this call using "List<T>.ForEach".

The probleme that I had is :
"System.InvalidOperationException: 'A second operation started on this context before a previous operation completed. This is usually caused by different

[2021-02-01 12:41] muhammedshaaban7 commented on #7371
@maliming any updates

[2021-02-01 12:45] PasuWzx opened #7561 "When I upgraded to v4.2.0, there were have some problems"
* Your **ABP Framework version**. - v4.2.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI -MVC
* Your database provider(EF Core/MongoDB) - EF Core
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.
[code]
[code]
All is ok when the v4.1.0.
This problem has troubled the me so

[2021-02-01 12:57] maliming commented on #7561
hi

Can you share the full steps?

[2021-02-01 13:05] maliming commented on #7560
This will [complicate the problem](https://xyproblem.info/).

You can share your specific use case and some code. This way we can discuss.

[2021-02-01 13:21] maliming commented on #7559
Related: https://github.com/dotnet/runtime/issues/40074

[2021-02-01 13:36] djordjedjukic commented on #2087
Hi, I got stuck with running tests. Probably some things are missing which I can't see at the moment. If somebody can help, please let me know.

[2021-02-01 13:51] PasuWzx commented on #7561
thanks.I have not use all the modules,
i think one of  the reason is i haven't use the some special modules?but it's well when i use the version v4.1.0

ApiModule
[code]

 Controller
[code]

ApplicationModule

[code]

ApplicationService

[code]
EfCoreModule
[code]

[2021-02-01 14:04] maliming commented on #7561
hi

Your code is incomplete, maybe you can use cli to create a simple project to try to reproduce the problem.

[2021-02-01 14:08] maliming commented on #7559
You can try to override that method that uses MD5.

https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/framework/src/Volo.Abp.IdentityModel/Volo/Abp/IdentityModel/IdentityModelAuthenticationService.cs#L258

[2021-02-01 14:48] PasuWzx commented on #7561
Thanks, I have solved it just now after i used the AutoFac.
If the AutoFac must be used?

[2021-02-01 14:50] maliming commented on #7561
Yes, Property injection requires Autofac.

[2021-02-01 14:50] #7561 closed, assigned to nobody

[2021-02-01 15:27] gterdem commented on #2087
What exactly you are having problem with? Any repository to share your test code?

[2021-02-01 15:54] Brahimhz commented on #7560
[code]

So as you can see in this loop of list of entities ,  different database call can be depend on the "Discriminator" value .

[2021-02-01 16:14] djordjedjukic commented on #2087
Here is the code:
https://github.com/ravendb/abp/tree/feature/ravendb-integration/framework/test/Volo.Abp.RavenDB.Tests

I have issues with dependency injection when I run tests. I suspect that I didn't implement something that is required.

[2021-02-01 23:58] gainorloss commented on #7559
I will have a try.

[2021-02-02 01:35] maliming commented on #7560
You can try to create a non-transactional unit of work in **foreach**, so the **DbContext** will be different.

https://docs.abp.io/en/abp/latest/Unit-Of-Work#begin-a-new-unit-of-work

[2021-02-02 02:45] realLiangshiwei commented on #6955
https://docs.abp.io/en/abp/latest/Background-Jobs-RabbitMq#default-configuration

[2021-02-02 02:45] #6955 closed, assigned to nobody

[2021-02-02 02:51] maliming commented on #6475
@ilkayilknur What do you think?

[2021-02-02 03:30] realLiangshiwei commented on #6475
You can use the  `excludeFromBundle`  parameter:

[code]

[2021-02-02 06:36] #7367 closed, assigned to nobody

[2021-02-02 07:31] maliming commented on #7554
hi

Can you explain this in detail?

[2021-02-02 08:21] #6475 closed, assigned to nobody

[2021-02-02 08:36] NecatiMeral opened #7567 "Docs - Faulty visibility toggle on nested nav-items when searching"
Hi everyone,

when using the search box, toggling a item with a match inside will hide the actual search result item.
Since gifs say more than a thousand words, here you go 😄 :

![faulty-visibility-toggle](https://user-images.githubusercontent.com/7882753/106573476-fac9c300-6539-11eb-9bab-af9c81976adf.gif)

[2021-02-02 08:38] ilkayilknur commented on #7450
Duplicate https://github.com/abpframework/abp/issues/7533

[2021-02-02 08:38] #7450 closed, assigned to nobody

[2021-02-02 08:52] #7540 closed, assigned to nobody

[2021-02-02 09:26] wzfeilongge opened #7570 "DateTime Bug"
Version 3.0.5

public override void ConfigureServices(ServiceConfigurationContext context)
{

        context.Services.AddControllers(o => o.Filters.Add(typeof(JucherLog))).AddNewtonsoftJson(options =>
        {
            // 忽略循环引用
            options.SerializerSettings.ReferenceLoopHandling = ReferenceLoopHandling.Ignore;
            //设置时间格式
            options.SerializerSettings.DateFormatStr

[2021-02-02 09:32] maliming commented on #7570
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Please **write in English**.

[2021-02-02 09:32] #7570 closed, assigned to nobody

[2021-02-02 10:12] juchunwei opened #7571 "input type="date" changed to type="text""
Hello,

I'm using abp4.2 MVC Razor template.  I setup the input element  with type="date", but I changed to type="text" when I run the page. Why like this? how can I avoid this?

Thanks!

[2021-02-02 10:38] #6485 closed, assigned to nobody

[2021-02-02 10:39] maliming commented on #7571
* Steps needed to **reproduce** the problem.

[2021-02-02 10:48] juchunwei commented on #7571
@maliming ,
Here're the code in the page. When I open the page, the input changed to` <input type="text" class="form-control">` and seems it's using the datepickier.

`<abp-card>`
    `<abp-card-body> `
        `<form method="post">`
           `<input type="date" class="form-control" />           `
       ` </form>`
   ` </abp-card-body>`
`</abp-card>`

[2021-02-02 10:50] juchunwei commented on #7571
@maliming
Sorry, the code disappeared.
Here're the code
<abp-card>
    <abp-card-body>
        <input type="date" class="form-control" />

    </abp-card-body>
</abp-card>

[2021-02-02 10:51] juchunwei commented on #7571
`<abp-card>`
   `<abp-card-body>`
        `<input type="date" class="form-control" />`
   ` </abp-card-body>`
`</abp-card>`

[2021-02-02 11:08] yekalkan commented on #7571
@juchunwei

https://github.com/abpframework/abp/issues/7196#issuecomment-764541352 may this help you?

[2021-02-02 11:13] juchunwei commented on #7571
@yekalkan
that doesn't work either, that's what I tried the first time, it's changed to type="text", then I tried to use the input element directly without the abp-input, and get the same result.  the code changed to `<input type="text" class="form-control">`

[2021-02-02 11:15] yekalkan commented on #7571
As you said, this is not a behaviour of Abp Framework.

[2021-02-02 11:26] juchunwei commented on #7571
@yekalkan
Not sure what's wrong. But I tried to use `<input type="date" class="form-control"/>` without abp, it works. not changed to type="text"

[2021-02-02 11:37] muhammedaltug opened #7572 "Permission service should filter granted policies from list of policy"

[2021-02-02 11:47] yekalkan commented on #7571
AspNet Core Input tag helper converts it to `text`. Therefore `abp-input` converts as well.

[2021-02-02 11:56] espindl opened #7573 "Should Audited work on Get methods although IsEnabledForGetRequests is not true?"
ABP Framework version : 4.0.0.
MVC

We do not set IsEnabledForGetRequests to true. Because we do not want all the GETs to be audit logged. But in order to selectively audit log some of the GET methods, we added [Audited] above them. As I understand IsEnabledForGetRequests dominates Audited attribute.

Am I right? If so, should it be?

Maybe [Audited] should dominate all other options.

[2021-02-02 11:57] juchunwei commented on #7571
@yekalkan

I just created a complete new project with the standard Microsoft template. here're the code, and no problems.

` public class IndexModel : PageModel
    {
        private readonly ILogger<IndexModel> _logger;

        public IndexModel(ILogger<IndexModel> logger)
        {
            _logger = logger;
        }
        public void OnGet()
        {

        }

        [BindProperty]

[2021-02-02 12:14] Brahimhz commented on #7560
So I Tried your solution , when I run it many exceptions appear like this :

`System.ObjectDisposedException: Cannot access a disposed object. A common cause of this error is disposing a context that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your application. This may occur if you are calling Dispose() on the context, or wrapping the

[2021-02-02 12:17] yekalkan commented on #7571
As i tested: If you remove `[DataType(DataType.Date)]` `type` is not changed to `text`.

I'm closing this issue since it is not related to ABP Framework.

[2021-02-02 12:50] maliming commented on #7560
Can you share your code?

[2021-02-02 12:54] mehmet-erim opened #7575 "ng-bootstrap modal is not closed when abp-modal is destroyed"

[2021-02-02 13:00] #7575 closed, assigned to mehmet-erim

[2021-02-02 13:06] olicooper commented on #7536
Would it be possible to have `CmdHelper.RunCmdAndGetOutput` install the tool if the dotnet SDK exists?
Or test if the `dotnet-ef` tool exists and throw an exception that helps the developer understand the problem more clearly?

[2021-02-02 13:07] Brahimhz commented on #7560
[code]

[2021-02-02 13:07] maliming commented on #7573
Audit info can't be saved for **Get** request when **IsEnabledForGetRequests** is **false**,  even if you use the **Audited attribute**.

[2021-02-02 15:19] uwascan commented on #3598
@hexianggui could you please share your basic integration with ng-alain. I  intend to use ng-alain for a new project and have been stalling using this framework because of the basic angular template which is not good for Apps

[2021-02-02 16:03] #7572 closed, assigned to muhammedaltug

[2021-02-02 16:44] slarkerino opened #7579 "Integrate masstransit in abp"
Maybe Integrating popular masstransit is a good idea? Currently distributed event bus does not support some more advanced features for MQ. Such as rabbitmq topics or SAGA. Masstransit can integrate well with abp and it is open source!

[2021-02-02 16:50] slarkerino commented on #7549
Maybe rabbitmq topics would help. But currently abp built in distributed event bus has not support for that yet. I think we should integrate masstransit into abp

[2021-02-02 18:53] #7571 closed, assigned to maliming

[2021-02-02 19:30] real-zony commented on #7579
Hi slarkerino,
Masstransit currently works well with Abp, you just need to import it. As far as I know, there are currently no plans to package Masstransit as a separate module.

[2021-02-03 00:04] wzfeilongge commented on #7570
ABP Version 3.0.5

[2021-02-03 00:16] jack-gaojz opened #7581 "ABP model-manager.js should mask the page before the modal dialog open"
ABP Version: 4.2
If the modal open needs a little long time, we should mask the page to avoid the user click the button multiple times.
We can add the block UI logic once the modal open event trigger. After the modal dialog opened, we can unmask the block UI.

![image](https://user-images.githubusercontent.com/74571567/106679625-0c71a000-65f8-11eb-873d-4fbd00126943.png)

I think it is a very usefu

[2021-02-03 00:20] wzfeilongge commented on #7570
![QQ图片20210203081902](https://user-images.githubusercontent.com/48375655/106679944-9a4d8b00-65f8-11eb-935a-b43913de0058.png)

[2021-02-03 00:21] wzfeilongge commented on #7570
![QQ图片20210203081902](https://user-images.githubusercontent.com/48375655/106680064-d7198200-65f8-11eb-95d6-f88ac6a1abda.png)

[2021-02-03 00:22] wzfeilongge commented on #7570
image
![QQ图片20210203081902](https://user-images.githubusercontent.com/48375655/106680090-ea2c5200-65f8-11eb-8a2a-65fa2c589c7d.png)

[2021-02-03 00:23] wzfeilongge commented on #7570
image
(https://user-images.githubusercontent.com/48375655/106680153-10ea8880-65f9-11eb-9780-1947c5c6259b.png)

[2021-02-03 01:28] realLiangshiwei commented on #7581
This is the default behavior of the modal,  You can use the busy API manually: https://docs.abp.io/en/abp/latest/UI/AspNetCore/JavaScript-API/Block-Busy

[2021-02-03 01:28] #7581 closed, assigned to nobody

[2021-02-03 02:31] maliming commented on #7560
Which line causes the error?

[2021-02-03 02:48] wzfeilongge commented on #7570
app.ApplicationServices.GetService<ISettingDefinitionManager>().Get(LocalizationSettingNames.DefaultLanguage).DefaultValue = "zh-Hans";

[2021-02-03 06:47] xyfy commented on #6247
watched

[2021-02-03 07:32] gainorloss opened #7584 "[framework][Volo.Abp.BlobStoring]:SaveAsync return file oss path."
### Documentation

Should we return the file oss path when we use *SaveAsync*(current:*void*)

### GitHub Issues

* Your **ABP Framework version**.(4.2.0)

[2021-02-03 07:34] realLiangshiwei commented on #7584
`IBlobContainer `is abstract, you can override or replace services to do more features.
https://github.com/abpframework/abp/issues/4989#issuecomment-670577121

[2021-02-03 07:34] #7584 closed, assigned to nobody

[2021-02-03 08:28] yorytang opened #7585 "Join AbpUsers table in EF"
Is there a way to inner join the AbpUsers table by UserId to get username info? I have a need to show the creator's username, but i can't find any AbpUsers IRepository.

[2021-02-03 08:47] yekalkan opened #7586 "CLI Project renaming: `my-company-name` is not removed when company name is null"
tested in angular module template

[2021-02-03 08:50] #7533 closed, assigned to ilkayilknur, enisn

[2021-02-03 08:54] realLiangshiwei commented on #7585
https://docs.abp.io/en/abp/latest/Entity-Framework-Core#access-to-the-ef-core-api

You can use the EF Core API in the repository

[2021-02-03 09:20] #7585 closed, assigned to nobody

[2021-02-03 09:55] Brahimhz commented on #7560
The call of each method contain this solution .

` entities.ForEach(async item =>
                {

                    if (item.Discriminator.Equals("ProductsSection"))
                    {
                        switch (item.Type)
                        {
                            case HomeSectionType.TopNewest:
                                item.Products = await _productsRepository.Newe

[2021-02-03 10:00] real-zony commented on #7560
Hi Brahimhz,
Do you consider replacing the `ForEach()` method with a `foreach` statement? ForEach() itself does not wait. I think this exception is caused by the unit of work being disposed of in advance.

[2021-02-03 10:44] realLiangshiwei commented on #7560
`ForEach` does not support an async delegate since it takes an Action<T>. That reduces your method to un-awaitable async void. ForEach was never intended for a Func<Task> or any other async variant.

ABP uses unit of work to create dbcontext instead of dependency injection.   **Long story short: use `foreach` instead of `ForEach`**.

[2021-02-03 12:24] #2586 closed

[2021-02-03 12:37] espindl commented on #7573
Maybe adding that detail in the docs helps people...

[2021-02-03 12:37] #7573 closed, assigned to nobody

[2021-02-03 14:47] Brahimhz commented on #7560
Thanks for your remarks , that helped me in reviewing my code and finding that if I use ForEach() I don't need to make the methods async.

Thanks again for your help.

[2021-02-03 14:47] #7560 closed, assigned to nobody

[2021-02-03 14:58] maxrizwork commented on #6489
My fault sorry.
I forgot that I had a customization in place for these two pages:
MyWebProject.Web\Pages\Identity\Users\CreateModal.cshtml
MyWebProject.Web\Pages\Identity\Users\EditModal.cshtml

Now I just merged your changes with mine and it's working!

Sorry about that.

[2021-02-03 14:58] #6489 closed, assigned to nobody

[2021-02-03 15:42] aricyu opened #7589 "Error occured while downloading source-code from https://abp.io/api/download/module/"
* Your **ABP Framework version**.  4.0.0
* Your database provider(EF Core)
* Exception message and **stack trace** if available (check the logs).

[code]

[2021-02-03 16:08] olicooper commented on #7482
@davidzwa I have started working on a test to see if it will be possible. At the moment it looks complicated (I am having to hook in to EF Core's `QueryTranslationPreprocessor` to modify the query before it is executed) so it might not be possible, but I will try anyway 😄

[2021-02-03 16:09] espindl commented on #367
Is there a way to do this now?
Hangfire requests are logged to audit log from URL `/hangfire/stats`. We want to eliminate them from the audit logs.

[2021-02-03 17:07] baskan commented on #7551
thank you for your answer. I guess under the hood, Volo.Abp.Http.Client uses Castle's DynamicProxies so I dont think Autofac is strictly needed.

As you can see here, the Http.Client's itself is just a DyanmicProxy  (Interface without target to be exact)

https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/framework/src/Volo.Abp.Http.Client/Microsoft/Extensions/Depend

[2021-02-03 17:13] davidzwa commented on #7482
Share the PR/fork and I'll try to help you out!

[2021-02-03 17:25] kishoresahas opened #7591 "Angular Service Proxies (abp generate-proxy) support for AbpHub"
### Documentatio
https://docs.abp.io/en/abp/latest/SignalR-Integration
https://docs.abp.io/en/abp/4.2/UI/Angular/Service-Proxies

does abp generate proxy support for AbpHub?

[2021-02-03 20:07] abdumostafa commented on #6549
@ThreeLambs I have the same issue , How could you manage to add an action to Identity user service?

[2021-02-03 23:14] olicooper commented on #7482
Hi @davidzwa, here you go... https://github.com/olicooper/abp-queryfilter-test
It doesn't actually filter anything right now but it can interpret the 'IgnoreAbpQueryFilters' during query execution so it is a start!

[2021-02-04 01:02] maliming commented on #7591
`generate-proxy` only for `controller`.

[2021-02-04 01:02] #7591 closed, assigned to nobody

[2021-02-04 01:24] realLiangshiwei commented on #7589
Please try again.

[2021-02-04 01:36] jortygu commented on #367
@espindl  i think you can reference below link (https://github.com/HangfireIO/Hangfire/issues/1668).

[2021-02-04 03:04] #7579 closed, assigned to nobody

[2021-02-04 03:05] #7539 closed, assigned to nobody

[2021-02-04 03:21] aricyu commented on #7589
@realLiangshiwei

still wrong

[code]

[2021-02-04 06:25] tanghaojie opened #7594 "Identity server dbcontext not created, when use dbmigrator"
* Your **ABP Framework version**.     v4.2
* Your database provider                     EF Core

I download latest version abp vnext with Angular, EF-core, PostgreSQL, Separate Identity Server Option.
then, edit ConnectionString in  appsettings.json of  *.HttpApi.Host / *.IdentityServer / *.DBMigrator .
ctrl+F5, run *.DBMigrator project, cause error.
Abp db table created, but identity server db ta

[2021-02-04 06:37] maliming commented on #7551
https://github.com/abpframework/abp/blob/3fcdeeeb05810b7a2e162f212ef435b81d412aa5/framework/src/Volo.Abp.Http.Client/Microsoft/Extensions/DependencyInjection/ServiceCollectionDynamicHttpClientProxyExtensions.cs#L110