[2021-02-04 07:07] realLiangshiwei commented on #7594
Cannot reproduce your problem.

![image](https://user-images.githubusercontent.com/16813853/106857186-a6ba0c80-66fa-11eb-89e7-f8c06c96ea86.png)

[2021-02-04 11:25] #7589 closed, assigned to yekalkan

[2021-02-04 11:26] yekalkan commented on #7589
@ChiakiYu it is fixed. can you try again?

[2021-02-04 15:09] olicooper commented on #6680
@xyfy This update won't work because it is applied in `OnModelCreating` which is called once per context creation to configure the entities (not on a per query basis); so you can't use ABP's DataFilter multiple times per request.

The context lifetime could be cached across requests so the results are going to be inconsistent too: https://docs.microsoft.com/en-us/ef/core/dbcontext-configuration/#t

[2021-02-04 16:40] #7586 closed, assigned to yekalkan

[2021-02-05 00:33] #7559 closed, assigned to nobody

[2021-02-05 01:32] #7594 closed, assigned to nobody

[2021-02-05 01:53] yorytang opened #7601 "How to get all AbpUsers records"
I want to get all AbpUsers table record in application layer, but when i using 'IRepository<AppUser, Guid>' repository ,it always throw object null reference exception, pls advice.

[2021-02-05 01:56] realLiangshiwei commented on #7601
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-02-05 02:33] tanghaojie commented on #7594
Can you share your connectString and your postgresql environment?
my connectstring is `User ID=postgres;Password=postgres;Host=192.168.0.1;Port=5432;Database=IdentityServer;Pooling=true;`
postgresql in docker `PostgreSQL 12.5 (Debian 12.5-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit`

[2021-02-05 02:36] yorytang commented on #7601
1.Abp 4.0 version
2.Blazor Application layer
3.my sql

IRepository<AppUser, Guid> _appUserRepository

when excute code "var result = await _appUserRepository.GetListAsync()"  it throw exception "MySqlConnector.MySqlException (0x80004005): Table 'esubmission-db.appuser' doesn't exist"

[2021-02-05 02:44] realLiangshiwei commented on #7601
**Table 'esubmission-db.appuser' doesn't exist"** Please check your database.

[2021-02-05 02:44] #7601 closed, assigned to nobody

[2021-02-05 02:56] yosephhasson opened #7602 "Unhandled Promise Rejection in React Mobile Framework"
Steps to replicate from scratch:
    1. Create an ABP project; MVC; Entity Framework Core
    2. Set connection string and Migrate the DB
    3. Set appsettings.json to "SelfUrl" and "Authority" to my IP with http
    4. Set launchSettings.json - (There is no .HttpApi.Host/Properties but was found under .Web/Properties) to "applicationUrl" and "Authority" to IP with http
    5. Start .Web project

[2021-02-05 02:59] rygar08 opened #7603 "Using AddPooledDbContextFactory in ABP 4 with Entity Framework core"
I'm migrating from ABP 3 to 4. I have existing graphql schema using Hotchocolate (nuget) which works fine in ABP v3. I get this error when executing a query in abp v4.

     Cannot access a disposed context instance. A common cause of this error is disposing a context instance that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your appli

[2021-02-05 03:02] maliming commented on #7603
No. Abp's dbcontext  does't support `AddPooledDbContextFactory` right now.

[2021-02-05 03:04] 274188A opened #7604 "[Blazor UI]: Stable 4.2.0 includes 'Preview' versions of Blazorise"
**ABP Framework version** : v4.2.0
**User Interface** Blazor

Was it intentional to include **Preview** versions of **Blazorise** in the **Stable** channel (4.2.0)?

![image](https://user-images.githubusercontent.com/40014477/106983993-c2c4b900-67a1-11eb-8a9a-7184819bd456.png)

If so it does not make it easy for dev ops & nuget packaging sources.  would be preferable to make 4.2.0 stable across th

[2021-02-05 03:06] yorytang commented on #7601
So what does this code mean in the abp Domain, are the AppUser same as AbpUsers?

/* This entity shares the same table/collection ("AbpUsers" by default) with the
     * IdentityUser entity of the Identity module.
     *
     * - You can define your custom properties into this class.
     * - You never create or delete this entity, because it is Identity module's job.
     * - You can query users

[2021-02-05 03:09] maliming commented on #7604
Yes.

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/NuGet.Config#L4

[2021-02-05 03:09] #7604 closed, assigned to nobody

[2021-02-05 03:31] tanghaojie commented on #7594
Found out that if project name contain `IdentityServer` or `*.IdentityServer`, will cause this error. may be keyword matter?
![image](https://user-images.githubusercontent.com/14171892/106986118-aaef3400-67a5-11eb-9edc-269369e78472.png)

[2021-02-05 05:18] rygar08 commented on #7603
Any Idea what changed in abp version 4 that caused it to fail? AddPooledDbContextFactory  wasn't used in abp version 3 either but Hotchocolate worked ok.

[2021-02-05 05:21] tanghaojie opened #7605 "DbMigrator cause error when project name contain 'IdentityServer' or '*.IdentityServer'"
If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. v4.2
* Your database provider  EF Core postgresql

more detail #7594

[2021-02-05 05:29] maliming commented on #7603
No idea, but you can check https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4_0

[2021-02-05 05:35] rygar08 commented on #7603
You know GraphQL is quite popular. I really like it. :)

[2021-02-05 05:35] #7603 closed, assigned to nobody

[2021-02-05 06:04] realLiangshiwei commented on #7605
Creating a console application named Console also has a problem. The answer is not to use it

[2021-02-05 06:04] #7605 closed, assigned to nobody

[2021-02-05 06:33] rong736 commented on #7097
you need add Depends
[DependsOn(
        _typeof(Volo.Abp.MailKit.AbpMailKitModule)_
    )]

[2021-02-05 06:37] aricyu commented on #7589
It's ok.
Thank you very much!

[2021-02-05 06:55] #6248 closed, assigned to nobody

[2021-02-05 07:09] slarkerino opened #7608 "permission is not updated in cache"
After I updated a role's permission, the cache for permission is not immediately updated. I manually checked redis and have to delete the corresponding cache to make the permission reload. Is there a way to immediately make permission take effect? I am using PermissionManagement Module to update permission in a microservice environment.

[2021-02-05 07:40] kishoresahas commented on #3990
Did you find a solution for this?

[2021-02-05 10:02] YoussefSalameh opened #7610 "Stuck in the login Page after Changing Launch Settings from localhost to my ip"
* ABP Framework version : 4.1.2.
* User Interface : Angular
* Database provider : EF Core

Hello everyone ,
when changing launch setting in my identity server module to be my ip address like below :
{
      "commandName": "Project",
      "launchBrowser": true,
      "applicationUrl": "http://myipaddress",
      "environmentVariables": {
        "ASPNETCORE_ENVIRONMENT": "Development"
}

when tryi

[2021-02-05 12:01] YoussefSalameh commented on #7610
@ZouZou

[2021-02-05 12:17] hikalkan opened #7611 "Distributed event bus should send NACK to RabbitMQ server on event handling failures"

[2021-02-05 12:19] #7611 closed, assigned to hikalkan

[2021-02-05 13:06] maliming commented on #7610
You also need to changes these IP. And re-migrator.

https://github.com/abpframework/abp/blob/dev/templates/app/angular/src/environments/environment.ts#L3
https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.HttpApi.HostWithIds/appsettings.json#L3
https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName

[2021-02-05 13:07] #7610 closed, assigned to nobody

[2021-02-05 13:31] liorbalmas commented on #7554
The users are being authenticated in Firebase. They provide user and password to FIrebase and recieve a JWT on suceessful authentication.
This JWT is being validated in my abp api, and if validated, the api sets the context's user by fetching the IdentityUser by matching the validated username came from Firebase with identityuser.
I think server side is covered pretty well. However, I'd like to us

[2021-02-05 14:51] hikalkan opened #7613 "Should use the tenant's default connection string if available when requested a specific connection but not defined for the tenant"
Currently, it returns the global named connection string in this case, however it makes impossible to use a single database for multiple modules when the modules have separate databases because of a distributed architecture.
This will be a breaking change if anyone assumed the previous behavior. They can override the `MultiTenantConnectionStringResolver` and use the previous logic. I do it in a pa

[2021-02-05 14:55] #7613 closed, assigned to hikalkan

[2021-02-05 16:58] willignicolas commented on #2611
Hi,

Exact same need here, with users that need access many tenant with one login. Link user in commercial seems promising for that purpose but with user for many tenant it's not perfect to ask user to create multiple account for each tenant. Maybe create user and user Link automatically and sync password beetween accounts?
Have you any workaround to use Link user in that case without ask user to

[2021-02-05 17:04] sjagannathan opened #7617 "Identity Server - Manage Profile - Change Password Issue"
Hi,

Issue Details:
While trying to change default password for admin; I come across credentials being sent thru url query parameters as plain text.
Not sure is it because I'm running instances on IISExpress. Also, password change was not successful evenafter multiple attempts.

Details below:
ABP Framework Version : 4.2.0
Interface Used : Blazor UI
Database Provider : EF Core (with SQL Server)
So

[2021-02-05 17:27] ebicoglu opened #7618 "Improve performance of HttpClient usage"
As recommended `HttpClient` instance  should  be kept for the lifetime of your application.
Therefore refactoring `HttpClient` usages especially in Abp.Cli.
This will improve performance (about ~ %30) and network socket usage.
Reference: https://stackoverflow.com/a/22561368/1767482

[2021-02-05 18:47] ebicoglu commented on #7618
closes volosoft/volo@4748

[2021-02-05 18:47] #7618 closed, assigned to ebicoglu

[2021-02-05 19:22] aelhadi opened #7620 "Abp v 4.2 : The required antiforgery cookie ".AspNetCore.Antiforgery.cdo22mJC4Ec" is not present."
Abp version 4.2  tiered app.

* Steps needed to **reproduce** the problem :
create a  :

[code]

when a call GetTestAsync from Swagger interface it work fine.

the problem occured when i call TestAsync , i get  The required antiforgery cookie ".AspNetCore.Antiforgery.cdo22mJC4Ec" is not present..

i know that Abpframework has auto validation for anti forgery token  as default configuration.

Any h

[2021-02-05 19:28] rygar08 commented on #6552
Did you find a answer to this issue?

[2021-02-05 20:39] aelhadi commented on #7620
![image](https://user-images.githubusercontent.com/5918026/107086605-896c6780-67fa-11eb-960d-ff9e6f0328af.png)

it also happen with your BookStore Demo

[2021-02-05 20:51] aelhadi commented on #7620
BookStore-Mvc-EfCore from samples, also generate the same error i tested in two defrente machines

[2021-02-05 21:51] #6520 closed, assigned to nobody

[2021-02-05 22:13] aelhadi commented on #7620
the solution to make Post works from swagger :

[code]

[2021-02-06 03:06] maliming commented on #7617
Application Hosting Mode:

![image](https://user-images.githubusercontent.com/6908465/107107331-60d08600-686b-11eb-8fb3-06153a883771.png)

Select Manage Profile :
Change Password option:
Provide default Password then provide inputs for New & Confirm Password.

![image](https://user-images.githubusercontent.com/6908465/107107335-64640d00-686b-11eb-885d-596ae7e744d8.png)

On submit:

![image](https:

[2021-02-06 07:31] yosephhasson commented on #7602
As per the [documentation ](https://docs.abp.io/en/abp/latest/Getting-Started-React-Native) - "Make sure that issuer and apiUrl matches the running address of the .HttpApi.Host or .Web project." When using Conveyor the local and remote ports do not match, could this be the issue?

[2021-02-06 08:40] vd3d commented on #7452
Thanks @maliming,

I have noticed that since the migration to abp 4.0.0, a file name "tempkey.jwk" is generated!
I still have the previous "tempkey.rsa" ...

But what is generating this file ? and why is it generated ?

PS: the error I have looks to be related to this, not sure yet.

[2021-02-06 09:33] #6454 closed, assigned to nobody

[2021-02-06 13:04] ruby0602 opened #7621 "spend too much time when loading"
I just update to v4.2, it use 39 seconds
![image](https://user-images.githubusercontent.com/4489940/107118857-95b9f880-68be-11eb-858c-55604cbc9b4d.png)

[2021-02-06 13:07] maliming commented on #7621
Please check the application logs.

[2021-02-06 13:12] ruby0602 commented on #7621
@maliming I never change the code

[2021-02-06 13:23] ruby0602 opened #7622 "spend too much time when loading"
I update to v4.2 without changing my code, it use too much seconds
![image](https://user-images.githubusercontent.com/4489940/107119271-84262000-68c1-11eb-84c9-57eb2146c59f.png)

[2021-02-06 13:32] maliming commented on #7622
Duplicate of #7621

[2021-02-06 13:32] #7622 closed, assigned to nobody

[2021-02-06 14:04] #6424 closed, assigned to nobody

[2021-02-06 14:42] ruby0602 commented on #7621
@maliming there is no error in the logs of IdentityServer and HttpApi.Host

[2021-02-06 14:45] ruby0602 commented on #7622
@maliming there is no error in the logs of IdentityServer and HttpApi.Host, if it has some message in the logs, I maybe can sovle it by myselft.

[2021-02-06 17:02] SoftcaseDelmer opened #7624 "Question about RouteTenantResolveContributor"
Project configurations:
* ABP version: 4.2.0
* UI type: MVC
* db provider: EF Core

I don't know if I'm misunderstanding something, but when I try to use the tenant on route (something like **www.foo.com/tenant**) I get error 404.

I searched on docs, but I couldn't found any example about it.

[2021-02-07 01:59] ruby0602 commented on #7621
I reinstall the redis to solve the problem

[2021-02-07 01:59] #7621 closed, assigned to nobody

[2021-02-07 05:54] #7620 closed, assigned to nobody

[2021-02-07 05:55] maliming commented on #7620
I can't repro.

[2021-02-07 08:49] maliming commented on #7452
This more related to Identity Server, not abp.

[2021-02-07 09:08] yerz opened #7626 "I have a problem , It's about being a tenant"
My environment:
- abp 4.2
- No UI
- Tiered IdentityServer

Multi-tenancy is enabled by default , I use api**/api/multi-tenancy/tenants** create a tenant  . but failed, why?

![image](https://user-images.githubusercontent.com/30039842/107141770-05cf8980-6966-11eb-8f76-771a7eae3dfa.png)

![image](https://user-images.githubusercontent.com/30039842/107141787-167fff80-6966-11eb-9e5f-2a6e3d0e4dfd.png)

[2021-02-07 09:19] aelhadi commented on #7626
Hello

That's what I m talking about in #7620

We can't execute POST verb from swagger.

Update your abp antiforgory options  as I did.

[code]

[2021-02-07 11:16] linch90 opened #7627 "Autofac integration issue - Ambiguous invocation"
* ABP version: 4.2.0.

When I upgrade Abp version to 4.2.0, the AddAutofac extension method display CS0121 error: ambiguous between the "AddAutofac" in the Volo.Abp.Autofac and Autofac.Extensions.DependencyInjection 6.0.0.0

And I also create a brand new project in Abp version 4.2.0, and this problem is still exists.

![image](https://user-images.githubusercontent.com/1113475/107144591-2c49f080-69

[2021-02-07 11:20] baskan commented on #7551
thank you @maliming  I finally figured it out. closing the issue.

[2021-02-07 11:20] #7551 closed, assigned to nobody

[2021-02-07 11:23] maliming commented on #7627
I can't reproduce this problem.

[2021-02-07 11:32] linch90 commented on #7627
Just add package Volo.Abp.Autofac 4.2.0, in your module, add codes:
[code]
the  AddAutofac will display ambiguous problem.
This problem only show in Volo.Abp.Autofac 4.2.0, It's ok in Volo.Abp.Autofac 4.1.2 or before

[2021-02-07 11:41] #6496 closed, assigned to mehmet-erim

[2021-02-07 11:53] linch90 commented on #7627
I download a new abp project from https://abp.io/get-started.
1. Install Volo.Abp.Autofac 4.2.0 to {projectName}.Domain
2. add below codes to {projectName}DomainModule.cs
[code]
![image](https://user-images.githubusercontent.com/1113475/107145584-9b2a4800-697d-11eb-9672-b4398391ff42.png)

* The problem is still exists.
I don't know if this is a computer environmental related issue, I will try it i

[2021-02-07 12:21] maliming commented on #7627
You can temporarily resolve it via:
[code]

[2021-02-07 12:22] davidzwa commented on #7503
@andre-artus any progress so far?

[2021-02-07 12:56] fmpfmp opened #7629 "How to customize exchange when use AbpBackgroundJobsRabbitMqModule to configure multiple job?"
How to customize exchange  when use AbpBackgroundJobsRabbitMqModule  to  configure multiple job?

[2021-02-07 12:58] fmpfmp commented on #7629
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BackgroundJobs.RabbitMQ/Volo/Abp/BackgroundJobs/RabbitMQ/JobQueue.cs

line:160;

how to customize the parameter  "exchange"

[2021-02-07 14:52] hikalkan commented on #7617
Can you check if you see any error on browser console before submitting the form.

[2021-02-07 18:05] hikalkan commented on #7423
Thanks for your suggestion. I've created an internal issue to evaluate it for the next milestone. BTW, you can customize the code generation templates for your own applications.

[2021-02-07 18:11] hikalkan commented on #3128
Hi,

1- I thought we can just an option to `MapExtraProperties` definition here: https://docs.abp.io/en/abp/latest/Object-To-Object-Mapping#mapping-the-object-extensions (like `bool mapToRegularProperties = false`).
2 - I wouldn't use the JSON serialization for such a simple think that can be easily done via reflection.

[2021-02-07 18:13] #7519 closed, assigned to berkansasmaz

[2021-02-07 18:19] barbarosyurttagul opened #7634 "BookStore Tutorial Blazor Project Stuck in login page"
Hi, I downloaded the BookStore Project, did the steps in the tutorial until I stuck in Blazor project. My database is created, swagger page runs however Blazor project doesn't. I added the screenshot of the browser displaying the errors. Could anyone help?

* My ABP Framework version: 4.2.0.
* My User Interface type: (Blazor)
* My database provider(EF Core)

![Capture](https://user-images.githubus

[2021-02-07 18:24] hikalkan commented on #367
Most simple way can be overriding the [AuditingManager.SaveAsync](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingManager.cs#L113) method and return without saving for desired URLs.

[2021-02-07 18:32] hikalkan commented on #2611
That was a tradeoff and we decided to not share the same account between tenants. When a user is created, you may register to the creation event ([see](https://docs.abp.io/en/abp/latest/Local-Event-Bus#pre-built-events)) and create the same user in other tenants. This is what comes in my mind without thinking much :)

[2021-02-07 18:57] hikalkan opened #7635 "Add email settings management UI"
* We can add a setting management UI tab for "Email" to see and change [the email settings](https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/appsettings.json#L16-L24). Add it directly to the open source setting-management module.
* This requires to add application and httpapi (and you know, some other) projects to the setting-management mod

[2021-02-07 22:41] olicooper commented on #7482
Hey @davidzwa I have created an alternative version on the [apply-filters-manually branch](https://github.com/olicooper/abp-queryfilter-test/tree/apply-filters-manually) that is starting to take shape, but EntityFramework is firing a second query for the related entities which I haven't been able to capture and modify, so the results are not correct.. but some good progress has been made! If you a

[2021-02-08 01:12] realLiangshiwei commented on #7634
Make sure `localhost:44354` is running

[2021-02-08 02:35] realLiangshiwei commented on #6494
https://github.com/realLiangshiwei/Lsw.Abp.AspNetCore.Mvc.UI.Theme.Stisla/commit/4eb03f5a642baeacc46c1bf54aa2cc420368590e

[2021-02-08 02:35] #6494 closed, assigned to nobody

[2021-02-08 02:43] yerz commented on #7626
thank you ,This is a bug in ABP?

[2021-02-08 02:52] realLiangshiwei commented on #7626
Can not reproduce your problem

[2021-02-08 02:56] realLiangshiwei commented on #7617
Can not reproduce your problem.

[2021-02-08 03:05] yerz commented on #7626
I upgraded to 4.2 using only ABP CLI

Then run swagger ,Use **/API /multi-tenancy/tenant** API  in swagger POST

400 errors occurred

[2021-02-08 03:13] realLiangshiwei commented on #7626
https://github.com/abpframework/abp/pull/6818/files#diff-e444ffb8b030fd83c966c559c105bd9b5418f26563e6ea8c7ece47b257f92210R132-R228

[2021-02-08 03:13] #7626 closed, assigned to nobody

[2021-02-08 03:17] yerz opened #7640 "nginx deployment IdentityServer module error occurred"
My environment:

- abp 4.2
- No UI
- Tiered IdentityServer

**I used Docker to deploy IdentityServer independently of Nginx,**

**After Nginx has configured the domain name,IdentityServer will appear in the following error log And it doesn't jump properly**

Error Log：
[11:06:04 INF] Bundled __bundles/Basic.Global.4AA9068E9E0C409D85B38375CCE04545.js (690812 bytes),
[11:06:09 WRN] The cookie 'XSRF-

[2021-02-08 04:44] ChongZhiCZ opened #7641 "Module '"../proxy/books"' has no exported member 'BookDto'."
### Documentation

### Environment
- ABP version:4.2
- UI:Angular
- database provider:EF Core

### Previous step
I followed the document step by step, the following is the previous step of the problem
`abp generate-proxy`
`[11:40:48 INF] ABP CLI (https://abp.io)`
`[11:40:49 INF] Version 4.2.0 (Stable)`
`[11:40:49 WRN] Couldn't determinate version of "@abp/ng.schematics" package.`
`CREATE src/app/p

[2021-02-08 04:48] maliming commented on #7641
If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-02-08 05:43] ChongZhiCZ commented on #7641
Sorry, I edited it again

[2021-02-08 07:24] ilkayilknur opened #7643 "CMS Kit - Implement Media API Set"
We should move upload/download APIs to a central location and ensure that CMS Kit uses the newly implemented API Set.

API Scope was discussed last week. You can ask if you have questions.

[2021-02-08 07:42] LeiYangGH commented on #7634
where are the database scripts?

[2021-02-08 07:45] willignicolas commented on #2611
Hello @hikalkan

Thanks for the Event Bus idea. It's the way we are going to implement this behavior.

[2021-02-08 07:47] real-zony commented on #7640
It seems to be caused by this problem: https://support.aspnetzero.com/QA/Questions/9537/Solution-for-unable-to-log-in-via-http-in-the-new-chromehrome]

[2021-02-08 07:56] yerz commented on #7640
thank you

but my domain is nginx HTTPS.

I don't know if there is a best way for Nginx to deploy ABP, local is normal.

This question has been bothering me for a long time

[2021-02-08 08:23] muhammedshaaban7 commented on #7371
Any updates

[2021-02-08 08:24] muhammedshaaban7 commented on #7371
Kindly your support @ilkayilknur

[2021-02-08 08:27] yerz commented on #3862
hi~,I wonder if you have solved the IdentityServer login problem, I have been unable to login :(

[2021-02-08 09:24] maliming commented on #7640
See https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

[2021-02-08 09:24] #7640 closed, assigned to nobody

[2021-02-08 09:29] maliming commented on #7554
@stsrki Do you have any ideas?

[2021-02-08 10:28] mehmet-erim opened #7646 "React Native UI is throwing an error titled "TypeError undefined is not an object""
In some cases, the React Native UI throws this error:

![image](https://user-images.githubusercontent.com/34455572/107207262-24d72580-6a11-11eb-8ff0-0289c563276b.png)

[2021-02-08 10:29] mehmet-erim commented on #7602
Hi @MDbrosev

I reproduced it without Conveyor and I see the error you mentioned:
[code]

However, it is not a blocker for the app. If you refresh the running app in the Expo, the error does not occur again.
I configured the backend to run on my IP address with HTTP, I could not see any problem.
Your problem is probably related to the **Conveyor**.

If you solve the problem, please let us know the

[2021-02-08 13:02] armanozak commented on #7641
Hi @zico209,

Could you please check if `src/app/proxy/books/models.ts` file has `BookDto` in it?

[2021-02-08 13:56] hikalkan opened #7655 "Remove setting connection string on the tenant management UI"
This function is not working as expected. Let me explain;

The main problem is that when you create a new tenant, you can't set the connection string, which results the tenant's initial data (admin user, role and permissions) are seeding into the host database. See the "new tenant UI":

![image](https://user-images.githubusercontent.com/1210527/107228590-dedc8a80-6a2d-11eb-92e6-92d463de1de0.png)

[2021-02-08 14:17] gterdem commented on #7608
Yes, it should be set to 5 mins or so for cache to update.
Invalidating cache in distributed environment has some tricky points that we are still working on.

[2021-02-08 14:24] hikalkan opened #7657 "RabbitMQ rapidly re-delivers the messages"
When we have an exception while processing a distributed event (integrated to RabbitMQ), we send a NACK message to the server, so it is re-queued. However, RabbitMQ immediately re-sends the message, and probably we get the error again. It would be better to stop sending messages to this application for a while.
I don't know if RabbitMQ has such a configuration. If anyone knows, please write here,

[2021-02-08 14:34] hikalkan opened #7658 "Create options.AddDefaultRepository<TEntity>() to register a single default repository"
We can add default repositories for all entities (aggroots by default, actually) using

[code]

Sometimes, we only want to add default repository for single entity (or some of the entities). In this case, it would be a good option like:

[code]

This is for all database providers (Ef core, mongodb, memorydb).

[2021-02-08 15:14] hikalkan opened #7661 "Document IgnoreMultiTenancy usage on dbcontexts"
Related to https://github.com/abpframework/abp/pull/7509

Note for me: Also write the new modelBuilder.SetMultiTenancySide(...) method.

[2021-02-08 15:54] YoussefSalameh commented on #7610
Dear @maliming ,

I've tried what did you tell me to try but it didn't work properly , still stuck in the login page after login.
Note That I'm using Module template version 4.1.2

Can you please provide us with a solution?

[2021-02-08 16:26] real-zony commented on #7629
Hi @fmpfmp
As you can see, change exchange is currently not supported, you can implement `IJobQueue<TArgs>` and replace the original implementation. Because RabbitMQ Background must follow `IBackgroundJobManager`, no additional parameters can be passed.

One way to deal with this is that you can define an interface that contains an Exchange property, like this:
[code]
Your TArgs needs to inherit t

[2021-02-08 18:01] SoftcaseDelmer commented on #7624
Ok, but how the route (URL path) are supposed to be? ... Because when I try **www.foo.com/<tenant_name>** I get error 404 ...

I have to specify on route like **www.foo.com/__tenant/<tenant_name>** or there is something else I have to do on the code?

[2021-02-09 00:09] muratyuceer opened #7664 "SettingValueProviderManager"
Hello,
when i research, Volo.Abp.Settings framework code i confused because

SettingValueProviderManager is ISingletonDependency and its contain ISettingValueProvider list
but SettingValueProvider is ITransientDependency

so when we resolve ISettingValueProviderManager for once SettingValueProviders will initialize for once right?

then UserSettingValueProvider how will work right for get currentu

[2021-02-09 01:28] maliming opened #7665 "[ANGULAR]Remove setting connection string on the tenant management UI"
Related https://github.com/abpframework/abp/issues/7655

[2021-02-09 02:09] tunechr commented on #57
Hi Guys, Just looking at an evaluating abp.io I've used zero in the past and really liked it

Can I check where this feature thread is in planning?

For my clarification, as CQRS and Event Sourcing are related but not the same... but we are discussing both here (and clean architecture) so I'm a bit confused as to what this feature would be?

I'd love to get to the point where we have an event sour

[2021-02-09 05:17] leonkosak commented on #7655
Well, this is true, but having limited DB application user (read and write and delete only) instead of full access (changing db schema,...) has samo security advantages.
Changing db schama should be done only via Migrator, which should use different user.

But I agreethat this workflow is therefore not usable.

[2021-02-09 06:24] wgodfrey-pernix opened #7667 "Volo.Abp.Minify Problem"
###Issue

 **ABP Framework version:** 4.2.0
**User Interface:** MVC
**Stack trace:**
[code]

**reproduce:**
Hi ABP,

I recently Upgraded to 4.2 and when I finished upgrading, my app built and functioned as expected on my local machine. However, when I deployed the app, I was unable to access the website. This was due to the exception above. After a lot of digging, I discovered the issue correspond

[2021-02-09 06:28] barbarosyurttagul commented on #7634
How can I be sure that localhost:44354 is running? I just follow the tutorial, and click start. FYI, the angular template works fine but this template, I mean Blazor doesn't.

[2021-02-09 06:46] maliming commented on #7667
This problem also occurs when you change the environment to **production** locally.

https://github.com/trullock/NUglify may not support some js syntax.

You can try to use the higher version of the package. We will upgrade it.

[code]

[2021-02-09 06:48] barbarosyurttagul commented on #7634
Yeah you are right. First, I have to keep the Http.Api.Host project (opens the swagger web browser) running and then run the Blazor project. If I close the swagger web browser, then Blazor doesn't work.

[2021-02-09 06:48] #7634 closed, assigned to nobody

[2021-02-09 07:45] #4488 closed

[2021-02-09 08:14] yerz opened #7670 "Request error after authorization with Swagger API"
My environment:

- abp3.0 upgrade to abp 4.2
- No UI
- Tiered IdentityServer
- Independent deployment  IdentityServer

---

I have a problem, **production environment**

**IdentityServer** will cause the following error

**[16:05:02 INF] Invoking IdentityServer endpoint: IdentityServer4.Endpoints.DiscoveryEndpoint for /.well-known/openid-configuration**

After the **swagger API** is authorized , r

[2021-02-09 08:55] LeiYangGH commented on #1920
Which namespace is `ApiSecret` in? I cannot find this class and VS suggests ISecret, which lacks `Value` property.

[2021-02-09 10:01] yerz commented on #7670
I have found the problem. It is the configuration of the Nginx reverse proxy. I am trying to fix the problem

thanks :)

[2021-02-09 10:01] #7670 closed, assigned to nobody

[2021-02-09 10:08] #7627 closed, assigned to maliming

[2021-02-09 10:09] #7655 closed, assigned to maliming

[2021-02-09 10:13] #7635 closed, assigned to realLiangshiwei

[2021-02-09 13:22] #6242 closed, assigned to cotur

[2021-02-09 14:08] LeiYangGH commented on #7634
cd to web api host, `dotnet run`,
then start blazor project

[2021-02-09 14:51] amLabib opened #7676 "Get extra properties of AppUser in ICurrentUser"
Hi,
I followed the below Abp documentation and community article, to add extra properties to Identity user entity:
[https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#navigation-properties-foreign-keys](url)
[https://community.abp.io/articles/how-to-add-custom-property-to-the-user-entity-6ggxiddr](url)
is there any implemented way to get current user's extra properties?

[2021-02-09 15:10] maliming opened #7677 "Ignore password validation in IdentityDataSeeder."
`IdentityOptions.Value.Password.ClearRequirements()` only the default password verification rules will be ignored, and the custom `IPasswordValidator` can't be ignored.

[code]

Create user without validate password. **validatePassword: false**
[code]

[2021-02-09 15:10] maliming commented on #7677
@hikalkan What do you think?

[2021-02-09 15:21] gterdem commented on #7676
Did you check [here](https://docs.abp.io/en/abp/latest/Object-Extensions#some-best-practices)? You can add hard-coded and also get as you declare in an extension method.

[2021-02-09 15:35] Ultre00 opened #7678 "Access to IdentityServerBuilder"
I would like to call some functions on the IdentityServerBuilder like AddCustomTokenRequestValidator and AddResourceOwnerValidator. Maybe it is enough if I could override the AbpResourceOwnerPasswordValidator but it doesn't seem to be possible either.

So my question would be if you could add the IdentityServerBuilder :https://github.com/abpframework/abp/blob/2b18e14dee35651be5a628b512fcd24458da00

[2021-02-09 15:47] alexandis opened #7679 "Logo replacement documentation seems to be outdated"
3.3.2 / Angular

Following your doc, I can see you suggest to use `AddReplaceableComponent` for logo replacement. At the same time, you say `AddReplaceableComponent` is outdated and `ReplaceableComponentsService` needs to be used instead. When I put `ReplaceableComponentsService` in [dep] instead of `Store` - I still cannot run the example, getting "No provider for AccountLayoutComponent!" error.

[2021-02-09 15:51] gterdem commented on #7676
Sorry, it seems I misunderstand your question.

 You can not get extra properties over [ICurrentUser](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Security/Volo/Abp/Users/ICurrentUser.cs) since it is an interface and it doesn't implement `IHasExtraProperties`. You will need to make a request to db or userlookup service.

[2021-02-09 16:01] real-zony commented on #7678
@maliming What do you think, I think this is very useful in the actual development process.

[2021-02-09 16:05] amLabib commented on #7676
making a request to db with each request will be a headache, In my case we have entity called "branches", and we need to assign user to multiple branches to use these info in getting data from db, making a round trip to db with each request will add complicity.
in Asp Zero we used Session to store these information, I hoped there is simple way to implement same scenario

[2021-02-09 16:12] alexandis commented on #7679
Looks like works with the following adjustment:

[code]

[2021-02-09 16:54] slarkerino commented on #7482
@olicooper Hey man I think that would help a lot and clean the code when we need to disable filters for a certain related entity!

[2021-02-09 16:57] real-zony commented on #7676
All the data of `ICurrentUser` is read from the Token, maybe you need to add custom additional information when the Token is issued.

[2021-02-09 16:58] slarkerino commented on #7624
@SoftcaseDelmer I think if you are trying to use a tenant url resolver, you have to pass _tenant as a variable. Eg: www.foo.com?_tenant=xxxx-xxx-xxxxxxxxx-xxx

[2021-02-09 17:05] SoftcaseDelmer commented on #7624
@slarkerino the way you are talking is the QueryString Resolve, I've already tried this resolve and it worked very weel, but what I need is to resolve the tenant on route ... And it's supposed to be a default resolve type.

[2021-02-09 17:09] alexandis commented on #7679
I suspect it is not possible to make working for external authentication app (i.e. `IdentityServer` in my case), since it's a different (not _Angular_) app. So what is described in the doc is the case for _Login box_ residing in _Angular_ app, here the logo cannot be changed:

![image](https://user-images.githubusercontent.com/6149843/107400310-5da6f580-6b0a-11eb-8657-144f3aa5051c.png)

[2021-02-09 17:16] hikalkan opened #7680 "Angular UI for the setting management "Emails" tab"
We've added an email management tab as a built-in feature into the setting-management module.

UI part has been implemented for blazor and mvc:

![image](https://user-images.githubusercontent.com/1210527/107400903-5801dd80-6b13-11eb-9377-2a5c4c434574.png)

We should also implement it for the Angular UI

**Note: Instead of "Email Management", just use "Emailing" as the tab name and header inside th

[2021-02-09 19:32] #7452 closed, assigned to nobody

[2021-02-09 22:39] Jasonkingsmill opened #7681 "CLI generate-proxy, specifying api and module errors"
Using ABP 3.2.1 in a microservices architecture with Angular front-end.

We have several microservices (lets call them Accounting, Customer and Order), each with a controller with an Area attribute(module name) and RemoteService named as per the microservice name. Using the Abp CLI, we are attempting to generate proxies for each of these services individually.
A snippet of our environment.ts file:

[2021-02-10 08:05] armanozak opened #7682 "Angular UI: Add wrapper components for form inputs"

[2021-02-10 08:35] gterdem commented on #7681
Probably you are having this issue because of using single frontend with many backends. Proxy generating is designed for moduler approach and it generates per backend.
So, for microservice approach; BFF pattern should be suitable for proxy generator.

[2021-02-10 09:20] armanozak opened #7683 "Angular UI: Delay Initial Loading Until Styles Are Ready"

[2021-02-10 09:52] martenw opened #7684 "EmailConfirmed set to false when updating name"
Creating a new issue since I was unable to re-open #7430

The problem can still be reproduced in a clean 4.2.1 version, from what I can see that issue was tagged with 4.2-final milestone and should have been resolved in current release?

Steps to reproduce: https://github.com/abpframework/abp/issues/7430#issuecomment-766616859

[2021-02-10 10:55] #6848 closed, assigned to enisn

[2021-02-10 11:23] real-zony commented on #7664
Hi muratyuceer,
The Providers in `SettingValueProviderManager` are initialized only once when the constructor is executed, which is no problem. It has nothing to do with `ICurrentUser`. The data of `ICurrentUser` is obtained from `IHttpContextAccessor`, the JWT Token for each request.

[2021-02-10 12:51] amsaighi commented on #7485
Finally we got the problem, and we found the solution
The certificate SSL does not correspond to the domain name.

Thank you everyone

[2021-02-10 12:51] #7485 closed, assigned to nobody

[2021-02-10 13:06] amsaighi opened #7687 "Talking about requirement for IdentityServer Module in Docs"
Finally we got the problem, and we found the solution
The certificate SSL does not correspond to the domain name.

Thank you everyone

_Originally posted by @amSaighi in https://github.com/abpframework/abp/issues/7485#issuecomment-776685259_

[2021-02-10 13:23] gterdem commented on #7687
Nice to hear your problem solved.

Though, this is not related with abp nor identityserver. This is a common [ssl name mismatch error](https://www.globalsign.com/en/blog/what-is-common-name-mismatch-error#:~:text=A%20common%20name%20mismatch%20error,the%20SAN%20of%20the%20certificate.) when setting up https for **any** application. So it is not related with abp docs.

[2021-02-10 13:39] amsaighi commented on #7687
I do agree with you, it's related with abp and identity server, but it took me time to identify it. therefore it's why I suggest to talk about it in documentation.

Thank you

[2021-02-10 13:59] michelveloso opened #7688 "The name 'Initial' is used by an existing migration."
ABP Framework: **4.2.1**
User Interface: **MVC**
Database Provider: **EF Core / PostgreSQL**
Exception: **The name 'Initial' is used by an existing migration.**

Hi!
When I start a new project, and run the command **dotnet run** in DbMigrator I got the error: **The name 'Initial' is used by an existing migration.**

![Screenshot_20210210_105510](https://user-images.githubusercontent.com/346317/107

[2021-02-10 16:36] amLabib opened #7689 "Many-To-Many relationship with AppUser"
We have Entity called Branched as below
[code]
and need to extend AppUser entity to contain list of assignedBranches, is there any implemented way to do this?

[2021-02-10 17:04] olicooper opened #7690 "[discussion] Improvements to data filtering"
I have spent a week working on a proof-of-concept demo to see if we could intercept database queries to apply ABP concepts to them before they are executed. I'd like to open this up to a discussion about how useful this is for people and how this could be used in ABP to make it more flexible. This need for flexibility has been [mentioned before](https://github.com/abpframework/abp/issues/1181). It

[2021-02-10 17:15] olicooper commented on #7688
This is probably because your `__EFMigrationHistory` database table has an 'Initial' record in it. Delete the database and try again.

[2021-02-10 17:18] michelveloso commented on #7688
@olicooper , this process is taking place even before the database was created

[2021-02-10 17:21] olicooper commented on #7689
The basic template describes adding properties to the AppUser model: https://github.com/abpframework/abp/blob/1ccf95f161372353e2ee6027d983739e6b9fb12b/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Users/AppUser.cs#L43-L56

You should be able to modify your `MyProjectModelCreatingExtensions`. I can't remember the syntax properly but something like this:
[code]

Also, take a look

[2021-02-10 18:11] Jasonkingsmill commented on #7681
I’m not sure I understand what purpose having separate API url configuration per remote service is if the proxies must be generated from a single backend?

[2021-02-10 21:58] michelveloso commented on #7688
@olicooper , when I start a new template like bellow, the run the command **dotnet run** in **DbMigrator** I got the same error.

https://abp.io/get-started

![Screenshot_20210210_185500](https://user-images.githubusercontent.com/346317/107577830-af668300-6bd1-11eb-84e6-c21b87d7067f.png)

[2021-02-11 01:07] rafaelgfirmino opened #7691 "415 unsupported Media Type"
I have followed [this](https://volosoft.com/Blog/File-Upload-Download-with-BLOB-Storage-in-ASP.NET-Core-and-ABP) tutorial
[code]

[code]

But i can't upload file using insomnia or postman
The error returned:  ***415 unsupported Media Type***

In my postman or insominia I set the Content-Type with multipart/form-data;

[2021-02-11 02:07] evenlee opened #7692 "Best practice to integrate CosmosDB"
I searched the issue histories an features, most of the case is in 2019 or early 2020, and I saw there are feature tags for both doc and cosmos integration, but still open, could you help to show some guide or sample code of the best way to integrate ComsmosDB, thanks.

[2021-02-11 06:30] berkansasmaz commented on #7691
The `Content` property in `SaveBlobInputDto` is of the type byte array, so the `Content-Type` may be wrong. `File` property with the `IFormFile` type in the "Creating User Interface" header of the tutorial is already being converted to a byte array.

[2021-02-11 07:53] gterdem commented on #7689
[IdentityUser](https://github.com/abpframework/abp/tree/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity) already has many to many [OrganizationUnit](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/OrganizationUnit.cs) if it works for you.
If not, you can implement it just like OrganizationUnit.

[2021-02-11 07:56] gterdem commented on #7688
From docs [here](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-PostgreSQL#re-generate-the-migrations).

[2021-02-11 08:07] Moustafa20 opened #7693 "Error Reference Number Feature"
Hello

It would be very useful if user got an error reference number when something wrong occurred while using the application as he can just forward that reference number to the technical support of the application so they can help help

I'm not talking here about general exceptions only but also the logic exception and that is the point

admin or developer should have the ability to configure th

[2021-02-11 09:32] imabdulsal commented on #5343
@maliming What do you think if there's **a CLI option to prevent installing anything is related to IdentityServer**?

[2021-02-11 09:37] MuhammadRashed opened #7694 "Feature request for abp commercial version"
Since I don't know where to add feature request for abp commercial version, I will add it here:

abp suite, Add support for mobile app (react native)
abp suite. Add support for master details forms in separate page and in the same page
abp suite, Adding abp suite templates to the application repository

[2021-02-11 10:17] sebitsi opened #7695 "[Question] enum serialization as string"
Hi, after upgrading to ABP 4.1 enum data are serialized to json as numbers.

How i can reconfigure ABP to serialize/deserialize enums as strnigs ?

Regards.

Edvin

[2021-02-11 10:20] enisn opened #7696 "Add tui-code-snippet to @abp/tui-editor package"
tui-editor initialization is dependent on `tui-code-snippet` package. This should be included in `@abp/tui-editor` npm package.

[2021-02-11 11:10] Ultre00 opened #7698 "AppService missing in Swagger after upgrading from 2.7 to 3.3.2"
I just upgraded to versio 3.3.2 because this is the last version before 5.0. I want to do the 5.0 upgrade later. However after upgrading from 2.7 the Swagger seemed to be missing some AppServices. All the AppServices that were missing do inherit from a base class.

For example:
[code]

In 2.7 there were 2 end-points. One for users and one for myIdentityUsers. This wasn't ideal either because I wou

[2021-02-11 11:58] barbarosyurttagul opened #7699 "Blazor UI: Removed Permissions still available"
Hi, I follow the tutorial Web Application Development Acme.BookStore for Blazor UI/EfCore. I am on the part 5 permissions. The removed permissions from the admin are still enabled unless I refresh the page. For example, I remove the edit permission for books for admin, then I try to edit a book and it still works. But the tutorial says as below:

* My ABP Framework version 4.2.
* My User Interface

[2021-02-11 12:05] #7696 closed, assigned to cotur

[2021-02-11 12:54] michelveloso commented on #7688
@gterdem @olicooper I created a video to illustrate my problem.

but in summary, I did not change the dbms, I kept the project default, however the error occurs anyway

https://youtu.be/Vk3d_d4yFRs

[2021-02-11 13:14] Ultre00 commented on #7698
I found out that there is also an IdentityUserController. I also created a custom class implementation for this:

[code]
However I still don't see my own custom extended functions like CreateWithoutPassword. When I debug my code my custom service does get hit and it is actually being used. How can I get swagger to add my extended functions ?

[2021-02-11 13:19] rafaelgfirmino commented on #7691
Thanks @berkansasmaz, helped alot.

I found this tutorial  explaining how do upload files in aspnet, works fine for me.
https://www.youtube.com/watch?v=EuWO0bDgVgc

[2021-02-11 13:19] #7691 closed, assigned to nobody

[2021-02-11 16:56] mrs01dev opened #7700 "Bundling, NUglify Exception"
Dear ABP Dev's.
How to bypass or disable NUglify  ?
The issue is :
Volo.Abp.Minify.NUglify produces too many exceptions for java script code -Vue JS code-
like :
Implicit property name must be identifier: data()

The issue is the same as
https://github.com/abpframework/abp/issues/7667
https://github.com/abpframework/abp/issues/2767

Thanks

[2021-02-11 19:02] hikalkan opened #7701 "System.Text.Json can't deserialize properties of EtoBase class"
Because of this problem, extra properties are not transferred when we use distributed event bus

[2021-02-11 19:48] olicooper commented on #7688
I used your example https://github.com/abpframework/abp/issues/7688#issuecomment-777063407 to create a solution with a SQLite database and it works fine for me using `dotnet run` in the `src/*NewTest01.DbMigrator` folder.

Once it has run for the first time it creates a new database:
_"src/NewTest01.**DbMigrator**/NewTest01.db"_
... and if this isn't deleted when you regenerate the migrations, you

[2021-02-12 06:51] #7701 closed, assigned to hikalkan

[2021-02-12 07:52] sebitsi commented on #7695
I have found the solution. Just for reference:

[code]

[2021-02-12 07:52] #7695 closed, assigned to nobody

[2021-02-12 08:55] hikalkan opened #7705 "Add more options while queueing emails"
Queue methods currently not getting cc, bcc, attachments... etc:

https://github.com/abpframework/abp/blob/66ca4db0115a50a4eeeea76a1bf15c45894ec6fa/framework/src/Volo.Abp.Emailing/Volo/Abp/Emailing/IEmailSender.cs#L45-L64

Since `MailMessage` is not serializable, we can not get it as a parameter and use as a background job data. However, we may create a similar serializable class to support these

[2021-02-12 09:15] gterdem commented on #7692
I think you can either use [Ef Core Azure Cosmos DB Driver](https://docs.microsoft.com/en-us/ef/core/providers/cosmos/?tabs=dotnet-core-cli) or [Mongo DB Api](https://docs.microsoft.com/en-us/azure/cosmos-db/create-mongodb-dotnet). It is in our backlog and eventually we will integrate after proper research.

[2021-02-12 09:19] gterdem commented on #7700
You can configure **AbpBundlingOptions** under _ConfigureServices_ as you desire. Default is **Auto**.

[code]

[2021-02-12 09:28] gterdem commented on #7693
I think you mean bussiness logic exceptions.

Abp has infrastructure for this. You can add your own error codes to **MyProjectErrorCodes** under MyProject.Domain.Shared project and throw them accordingly to your business rules.

[2021-02-12 10:03] Moustafa20 commented on #7693
I think you mean custome status code which I can add them as you mention.. Is that true?

I meant identity key for the errors like primary key which can be used as reference number for the errors

When client report an error faced him in the app he just need to provide me with the reference number

Hope that clear enough

Thanks

[2021-02-12 11:43] gterdem commented on #7684
@maliming can you check please?

[2021-02-12 11:52] CliffordSpainhour commented on #6247
Looks like for production you have to set AddDeveloperSigningCredentials to false on the IdentityServer.

Then add your own signing credential.

It can be configured in the IdentityServerModule.

Something like this:

[code]

Here is some documentation on what AddSigningCredential, AddDeveloperSigningCredential , and what AddValidationKey are: http://docs.identityserver.io/en/release/topics/startu

[2021-02-12 12:08] #7683 closed, assigned to armanozak

[2021-02-12 13:54] olicooper commented on #7698
Firstly, you might be missing `[Route(Order = 0, "api/identity/...", Name = "Identity")]` attribute above your methods. Order=0 is important.

To hide endpoints I created a custom attribute which I can use to decide which things appear on the Swagger UI. This is restrictive by default so it may be more than you need. You can adapt it to work how you need.

[code]

Then create the Attribute:
[code]

[2021-02-12 14:23] enisn opened #7708 "CmsKit - Use 'pages' prefix for page urls"
Use `/pages` prefix to catch page urls

[2021-02-12 15:23] leonkosak opened #7709 "How to properly remove all abp-related tables from migration"
How to properly remove all abp sql tables when new abp application is created?
I tried removing builder.Configurexxx() inside xxxMigrationsDbContext.cs (.DbMigrations\EntityFrameworkCore project), create new migration (successfully) and when DbMigrator is launched, this error happened:

![image](https://user-images.githubusercontent.com/39346964/107786793-9505e400-6d4e-11eb-8ff2-53e5e4ee1a4c.png)

[2021-02-12 17:45] mrs01dev commented on #7700
Thanks Galip Tolga Erdem.

[2021-02-12 17:45] #7700 closed, assigned to nobody

[2021-02-12 18:12] rafaelgfirmino opened #7710 "Question about Rabbitmq HandleEventAsync"
I have a process running in background and I can cancel this event when I need to. i need to ignore as queue msg until the process is complete. Throwing an exception works more I think this is not the correct one.

[code]
When Exception is dispatched the message is change for the unacked

[2021-02-13 09:08] andre-artus commented on #7503
@davidzwa , not really. I'm just inheriting from CrudAppService and giving the actions different names for now. I cannot stay stuck behind this issue.

To be honest I'm not convinced I'll be using this framework again. The first 80% is really easy , almost effortless, then it feels like you're a ball that rolled into a divot, with every direction being uphill from where you are in your local minim

[2021-02-13 10:16] davidzwa commented on #7503
Hmm, I'd really like to emphasize that this is not really ABP's fault. I run an solution without IdentityServer, so I had to override some config and I never had this problem. It's .NET's (slightly OP) authentication setup which is hiding what is happening.
So it's authentication => .NET Core which is the problem here. Please don't blame this awesome framework for that.

Back to the issue.
The MVC

[2021-02-13 11:38] hikalkan opened #7711 "Remove email settings from the appsettings.json files"
Remove from the startup templates (including volo repo).
Because we've added emailing setting management to the application UI.
Please also test if emailing setting management properly works in all templates and all UI types (tiered, separate ids... etc).

[2021-02-13 12:20] michelveloso commented on #7688
@olicooper I found the problem, but not the solution.

When I execute the command "**abp create-migration-and-run-migrator...**", he is calling it twice ... This problem is only occurring in **Ubuntu**, in **Windows** it works correctly.

![Screenshot_20210213_091503](https://user-images.githubusercontent.com/346317/107849758-2ff8cf80-6ddc-11eb-8fb5-e67919094b62.png)

[2021-02-13 22:26] andre-artus commented on #7503
It was not my intention to put the blame on ABP, I did say that my battles with it is probably down to me not having wrapped my head around it, but I can understand, after re-reading my  previous post, how it could come across as such. I apologize as it was not my  intention to denigrate a gift horse.

I probably let my frustrations bleed through as I'm trying to finish this project so I can move

[2021-02-13 22:29] andre-artus commented on #7503
@davidzwa I just want to say thank you for all the effort you have put into helping me so far, I recognize that even as I struggle.

[2021-02-13 22:37] davidzwa commented on #7503
Don't worry! It's all really hard and pretty complex, so to be able to solve the mystery only benefits us for later - or that's my belief anyway.

Btw, how bad would it be to follow up on the redirect and let Angular load the login page? Just need to ask. I'm considering this for my project as well. At this point sounds like the 'best' and 'easiest' path as it only happens on authentication errors

[2021-02-13 23:30] muratyuceer commented on #7664
thanks for the explanation

[2021-02-13 23:52] brunobertechini commented on #6550
@cbaille where are you adding permissions to your role?

[2021-02-14 02:26] ruby0602 opened #7712 "got error through angular api"
1、appsetting.json in identityserver project had already been configured
  "IdentityClients": {
    "Default": {
      "GrantType": "code",
      "ClientId": "demo_App",
      "ClientSecret": "1q2w3e*",
      "Authority": "https://localhost:44398",
      "Scope": "AuthServer"
    }
  },
  "AuthServer": {
    "Authority": "https://localhost:44398",
    "RequireHttpsMetadata": "true",
    "ClientId":

[2021-02-14 02:29] evenlee commented on #7692
Thanks, I found https://github.com/IEvangelist/azure-cosmos-dotnet-repository, which works good for me now.

[2021-02-14 02:29] #7692 closed, assigned to nobody

[2021-02-14 03:16] rafaelgfirmino commented on #6388
+1

[2021-02-14 04:15] andre-artus commented on #7503
@davidzwa
I decided to generate a throwaway project with the ABP React Native template to see how it does it. It seems that they call `/connect/token` (IS endpoint) directly, this returns a token and so far all the errors I've tested for are HTTP responses. It also seems to be a mechanism employable by an Angular SPA. It does seem to require exposing something called a "client_secret" to the world

[2021-02-14 04:44] maliming commented on #7679
You should check the MVC document.

https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface
https://community.abp.io/articles/how-to-customize-the-login-page-for-mvc-razor-page-applications-9a40f3cd

[2021-02-14 04:47] maliming commented on #7678
We can use `PreConfigure` method.

[code]

[2021-02-14 04:47] #7678 closed, assigned to nobody

[2021-02-14 04:56] maliming commented on #7699
@stsrki  Can you help to check this?

[2021-02-14 05:16] #7710 closed, assigned to nobody

[2021-02-14 05:19] rafaelgfirmino opened #7713 "Rabbitmq and Backgroundjobs in a other microservice"
I have a doubt about rabbitmq

I have a application  where I need to process an event in Knime (Etl Platform) and this process can be costly and take a long time to execute. So I can cancel this event at any time.

I m using the RabbitMq for dispatch an event for start the process an other for kill process in same queue for both. Because I create an EventBus using the ABP documentation and not so

[2021-02-14 05:33] maliming commented on #5343
@abdullahsalem I agree with you.

[2021-02-14 06:02] maliming commented on #6388
You can replace the built-in services to achieve your special needs.

[2021-02-14 06:02] #6388 closed, assigned to nobody

[2021-02-14 06:02] #7664 closed, assigned to nobody

[2021-02-14 06:05] #6562 closed, assigned to nobody

[2021-02-14 08:58] davidzwa commented on #7503
Wow that's really helpful! Sometimes these headers tricks are a bit mystical to me, but hey I am not complaining

[2021-02-14 10:55] alexandis commented on #7679
Ok - will consider this. Thank you. Please, update Angular documentation anyway to make it up-to-date.

[2021-02-14 10:55] #7679 closed, assigned to nobody

[2021-02-14 10:59] alexandis opened #7715 "Started to got spammed with ngcc errors when compiling Angular project"
3.3.2 / Angular.

Please have a look at the attachment. I don't have idea how to resolve this and why it has popped up now and before - it has not:

![image](https://user-images.githubusercontent.com/6149843/107874744-572acc00-6ec4-11eb-8b8a-91c80f292d61.png)

[2021-02-14 11:21] alexandis commented on #7715
Was not related to ABP directly, despite the message: it has gone after the latest project version had been rebuilt.

[2021-02-14 11:35] alexandis commented on #7715
It started to come up again... A bit later it has gone without any changes from my side. Please suggest what to do. I can live with this I think, but sometimes this popup is pretty annoying.

[2021-02-14 14:27] andre-artus commented on #7503
`X-Requested-With: XMLHttpRequest` works to return a status code instead of HTML, but it does not return the error message. Not really the solution I need right now.

[2021-02-14 15:20] Ultre00 commented on #7698
@olicooper  Thanks for the reply. I also tried adding the route attribute, but that didn't do anything. Also it is not a Swagger only issue. When I try to connect with postman I get a 404 anyway. This is only an issue with extending existing controllers. If I create a whole new endpoint that inherits directly from AbpController then it is fine but then i can't use:

[code]

Because the original Id

[2021-02-14 16:10] olicooper commented on #7698
I had a similar issue before, maybe this will help: https://github.com/abpframework/abp/issues/5269
Also, did you try the `Order=0` trick on the methods?

[2021-02-14 17:00] Ultre00 commented on #7698
Yes I did also try to add the Order = 0 trick. But that didn't solve the issue. The only thing that comes to mind is some older version code that is still in effect. Maybe 2.7 or before has some different ConfigureServices defaults in the HttpApi.Host module after running the cli. I will try a clean project later and see if I do have the same issues there.

[2021-02-14 17:09] olicooper commented on #7698
Sorry for not reading your previous comment properly. I see you already tried some of my suggestions.

I have posted an answer on stack overflow.. I managed to get it working by creating a new controller that doesn't inherit from the base controller. You'd have one to override existing methods, and one to add new ones if that makes sense? I feel like I managed to solve it in a nicer way before tho

[2021-02-14 17:35] sonicmouse opened #7721 "Extending an ABP controller"
I know you can override an ABP controller: https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Overriding-Services#example-overriding-a-controller

But, how would you add an endpoint to the overridden controller? I have tried adding an endpoint and I can't hit it with Postman and it doesn't show up in swagger. For example:

    [Dependency(ReplaceServices = true)]
    [ExposeServices

[2021-02-14 17:51] olicooper commented on #7721
Duplicate: https://github.com/abpframework/abp/issues/7698

[2021-02-14 18:02] sonicmouse commented on #7721
That sure isn't a duplicate. The solution provided doesn't solve the issue. The solution provided implements a visual kludge in swagger by using the same `Route` property as `IdentityUserController`. It doesn't extend the service controller.

[code]
How is that extending `IdentityUserController` in any way? How does that inherit `IdentityUserController` methods, properties and base logic?

As a ma

[2021-02-14 18:24] olicooper commented on #7721
Both questions ask about extending an existing abp controller to add a new method. The only difference is that the other question also says they want to override an existing method. I would consider this a duplicate.

The only thing missing from that code to allow you to 'extend' functionality is a constructor with the AppService for you to access the available app service methods. this will appea

[2021-02-14 18:37] sonicmouse commented on #7721
What if i wanted to `IIdentityUserAppService` in conjunction with `public virtual Task<IdentityUserDto> FindByEmailAsync(string email)` that `IdentityUserController` implements?

How do I do that?

What I am saying is: you are simply creating a new controller. That's it. Your fix doesn't have anything to with inheritance, which is what we want to accomplish. We want to *inherit* from `IdentityUser

[2021-02-14 18:47] olicooper commented on #7688
This is interesting, thanks for pointing that out! I have looked at the source code and I think you are correct, but I think the way you are running the project might be wrong (I'm not sure because I develop with Windows). Normally to migrate the database you would build the project which creates the dll files, then run the built `DbMigrator.exe` file (on Linux I think you run the `dll` file inste

[2021-02-14 19:04] olicooper commented on #7721
Yep okay no problem, I will see if it is possible to do it the way you describe when I am next able to. I am curious too. Until then I think we will have to wait for a reply from ABP on the matter. I still think it is a duplicate though 😄

[2021-02-14 19:24] sonicmouse commented on #7721
The issue you linked talked about swagger not working -- This isn't a swagger issue since you can't hit the new endpoint via Postman. I could just remove the mention of swagger in the question and the issue is still relevant.

[2021-02-14 20:02] Ultre00 commented on #7721
The linked issue started as a different issue but in the end turned out to be the exact same problem as you described in this ticket. I started the GitHub issue before I created that stack overflow issue. Your question sums up the exact same problem I am facing as of this moment. Also looking for a clean way to extend an existing controller with one or more functions and still being able to overri

[2021-02-14 23:39] datarebel opened #7722 "FeatureManagementModal.chtml"
It's missing this line!

**id="FeaturesGroups[@i].Features[@j].BoolValue"**
[code]

[2021-02-15 01:17] maliming commented on #7722
What is your purpose for **id="FeaturesGroups[@i].Features[@j].BoolValue"**?

[2021-02-15 02:15] maliming commented on #7711
![image](https://user-images.githubusercontent.com/6908465/107898471-c103ae00-6f76-11eb-9884-086354b33c33.png)

[2021-02-15 05:48] wgodfrey-pernix opened #7724 "The Correct Process to provide CSRF to Third Party API client"
*    ABP Framework version: v4.2.0
*    UI type: MVC
*   DB provider: EF Core

Hi ABP,

What is the process to remove an external API client from CSRF validation. At the moment we have to disable CSRF tokens as there is no clear method in the documentation on how to filter specific by external API client etc. I've currently got the Autovalidation disabled at the HTTP API module but I'm concerned t

[2021-02-15 06:58] maliming commented on #7724
hi

What's kind of your  **external API clien**?

[2021-02-15 07:06] wgodfrey-pernix commented on #7724
it's a Mobile API client in the form of an Apple APP

[2021-02-15 07:22] maliming commented on #7724
For clients that do not use cookies, it will automatically pass.

[2021-02-15 08:57] maliming commented on #7721
hi @sonicmouse

* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2021-02-15 11:01] hikalkan opened #7728 "lookup should be null in objectExtensions in the app configuration endpoint, if url not specified"
lookup should be null in this case. However, we should check if null case is handled properly for all UI types.

[code]

[2021-02-15 11:57] hikalkan opened #7729 "Improvements for Blazor UI module entity extensibility system"
* Lookup component should be improved. Currently, it looks like a textbox.

We will work on these after #6647 merge.

[2021-02-15 11:58] hikalkan opened #7730 "Refactor LookupExtensionProperty to reduce duplication"
Refactor LookupExtensionProperty to reduce duplication with the c# client proxy system.

[2021-02-15 12:07] #7556 closed, assigned to enisn

[2021-02-15 12:30] leonkosak opened #7732 "Feature request: Swagger - add description option"
Like this: https://swagger.lab.fiware.org/?url=https://raw.githubusercontent.com/Fiware/specifications/master/OpenAPI/ngsiv2/ngsiv2-openapi.json

[2021-02-15 12:40] maliming commented on #7732
@realLiangshiwei What do you think?

[2021-02-15 13:10] datarebel commented on #7722
It allows multiple features with checkboxes to be clickable. Without you can only check/uncheck the topmost feature, no matter what checkbox you click.

[2021-02-15 13:15] #7643 closed, assigned to cotur

[2021-02-15 13:26] hikalkan opened #7734 "Auto select all scopes by default on swagger authorization"
When we have many scopes, it will be tedious to select the scopes manually. Instead, can we make all selected by default?

![image](https://user-images.githubusercontent.com/1210527/107952143-6e43e980-6faa-11eb-8761-d54c944b9e37.png)

[2021-02-15 13:29] real-zony commented on #7713
@rafaelgfirmino Hi, Can you provide a demo project?

[2021-02-15 14:01] #7665 closed, assigned to mehmet-erim

[2021-02-15 15:20] Ultre00 commented on #7721
@maliming it is with version **3.3.2**. I created a project to reproduce the issue. Created an empty project with the cli from 3.1.2 (3.3.2 didn't work anymore). Then I manually upgraded to 3.3.2 (also because **abp update -v 3.3.2** for some reason isn't working anymore today).

https://github.com/Ultre00/AbpExtendingControllers/blob/11c7cb832cfe80db9a91945786a36de528d51396/src/AbpExtendingContro

[2021-02-15 17:00] leonkosak commented on #7709
Anyone?

[2021-02-15 17:21] kayagultekin commented on #7337
After I upgraded CLI to 4.2.1 it warned me clearly that dotnet-ef would be missing and the issue solved after I installed [`dotnet-ef`](https://www.nuget.org/packages/dotnet-ef/). Thank you for your time.

[2021-02-15 17:21] #7337 closed, assigned to nobody

[2021-02-15 18:59] hikalkan opened #7737 "Should return the same instance in the same UOW for replaced DbContexts"
This will better work with dbcontext replacement combined joining different repository queryables. It is also more performant since it will not create unnecessary dbcontext instances.

See [Replace Other DbContextes](https://docs.abp.io/en/abp/latest/Entity-Framework-Core#replace-other-dbcontextes) to understand this feature.

[2021-02-16 01:53] maliming commented on #6695
Fixed.

[2021-02-16 01:53] #6695 closed, assigned to nobody

[2021-02-16 02:20] maliming commented on #7722
hi @datarebel
You can resolve it via replacing `FeatureManagementModal.cshtml` for now.

[2021-02-16 02:42] maliming commented on #7734
https://github.com/domaindrivendev/Swashbuckle.AspNetCore/commit/c6bf9a266cc31140f4af2c786e92185eee16029a

[2021-02-16 02:44] 274188A opened #7739 "ABP CLI Tool: switch-to-preview Error"
*  **ABP Framework version**: 4.2.1.
* **User Interface**:  Blazor
* **Database provider **: EF Core

**Steps needed to **reproduce** the problem.**

Run the CLI Tool with command :

[code]

* Exception message and **stack trace** if available (check the logs).

[10:37:39 INF] ABP CLI (https://abp.io)
[10:37:40 INF] Version 4.2.1 (Stable)
[10:37:44 ERR] Object reference not set to an instance of a

[2021-02-16 02:45] datarebel commented on #7722
Yes, I already did this for the time being.  Thanks for acknowledging the issue so quickly!

Cheers...

[2021-02-16 03:02] maliming commented on #7721
@Ultre00

Have you seen this? https://github.com/abpframework/abp/issues/5269#issuecomment-705567350

[2021-02-16 03:10] maliming commented on #7709
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

Do you just want to seed data when running **DbMigrator**?

[2021-02-16 03:16] maliming commented on #7684
See https://github.com/abpframework/abp/pull/7741

[2021-02-16 03:17] maliming commented on #7694
hi

Let's discuss on https://support.abp.io/

[2021-02-16 03:17] #7694 closed, assigned to nobody

[2021-02-16 04:58] leonkosak commented on #7709
abp v4.2.1

In xxxMigrationsDbContext.cs file, the following builder entries was deleted (commented-out):
![image](https://user-images.githubusercontent.com/39346964/108019999-b3ecca80-701b-11eb-8679-b35d35adfe5c.png)

Seeding data is required when modules are installed, otherwise not.

[2021-02-16 06:43] leonkosak commented on #7732
https://stackoverflow.com/a/52958904

This should be still viable.

[2021-02-16 07:08] cbaille commented on #6550
I added it on the same class, just after i create my roles.

I have my list of permission where for each I do:

permissionManager.SetForRoleAsync(...)

[2021-02-16 07:45] Ultre00 commented on #7721
@maliming yes I have seen it. The overriding part isn't the problem. That does actually work. It is adding a new method that doesn't work

[2021-02-16 08:26] vnetonline opened #7743 "Trying to deploy to Azure"
* Your **ABP Framework version** - v4.2.0
* Your **User Interface** - MVC
* Your database provider - EFCore
* Exception message and **stack trace** if available (check the logs).

![image](https://user-images.githubusercontent.com/15242923/108036674-a28fd680-708c-11eb-824c-224dcd5e0362.png)

* Steps needed to **reproduce** the problem.

Below is my my Yaml

[code]

[2021-02-16 08:48] KevinFarrow commented on #7739
This also happens with **switch-to-nightly**

![image](https://user-images.githubusercontent.com/1365851/108039163-a5aaa880-7033-11eb-909c-5ee4825aa607.png)

[2021-02-16 09:13] maliming commented on #7743
hi @vnetonline

This has nothing to do with abp. You can check the MS document.
https://docs.microsoft.com/en-us/aspnet/core/test/troubleshoot-azure-iis

[2021-02-16 09:13] #7743 closed, assigned to nobody

[2021-02-16 09:22] vnetonline commented on #7743
@maliming @hikalkan

I disagree with your comments, It has everything to do with ABP and getting it into production is every customers requirement some guidance or documentation on how to get it into popular Cloud providers like Azure and AWS would be helpful and go a long way to give credibility to ABP.io being a solid platform which people know will work in production environments.

Disappointed

[2021-02-16 09:46] muhammedshaaban7 commented on #7371
Any Updates, So I can say that there is no solution to this issue

[2021-02-16 09:51] maliming commented on #7743
Abp is an asp net core framework, if there are any additional steps to deploy it, we will document it.

When you ask about the reason for this error like HTTP Error 502.5, no one can tell you. Just like someone gets an HTTP 500 error and asks us to provide a solution.

You should check Microsoft's document. Please.

[2021-02-16 10:55] gerryge opened #7744 "abp cli tool update error"
run "abp update" error:

[18:52:25 INF] ABP CLI (https://abp.io)
[18:52:25 INF] Version 4.2.1 (Stable)
[18:52:31 ERR] Object reference not set to an instance of an object.
System.NullReferenceException: Object reference not set to an instance of an object.
   at Volo.Abp.Cli.ProjectModification.VoloNugetPackagesVersionUpdater.GetLatestVersionFromMyGet(String packageId) in D:\ci\Jenkins\workspace\a

[2021-02-16 11:06] #7737 closed, assigned to hikalkan

[2021-02-16 12:17] mehmet-erim opened #7748 "Add Angular application configurations to the startup template"

[2021-02-16 12:32] maliming commented on #7744
Duplicate of #7739

[2021-02-16 12:32] #7744 closed, assigned to nobody

[2021-02-16 12:50] cotur opened #7749 "Create Admin Application Service for CmsKit Comments"
CmsKit Comments has no admin app service for now.

[2021-02-16 13:36] hikalkan opened #7750 "Re-registering custom repositories should also override the default repositories for the same entity"
Assume that I wanted to unify IIdentityDbContext and IIdentityServerDbContext into IdentityServiceDbContext and also want to override the EfCoreIdentityUserRepository ().

Configuration:

[code]

Overriden repository:

[code]

When I inject `IIdentityUserRepository`, I get the `MyIdentityUserRepository`, no problem. But, if I inject `IRepository<IdentityUser, Guid>`, currently I get `EfCoreIdentit

[2021-02-16 13:41] #7750 closed, assigned to hikalkan

[2021-02-16 14:10] maliming commented on #7748
https://github.com/abpframework/abp/commit/7c56dc689ce94720fe46c2b1be1fe830c627f5fb

[2021-02-16 14:10] #7748 closed, assigned to maliming

[2021-02-16 14:32] ebicoglu opened #7751 "Html encode text fields in response against XSS attacks (Cross Site Scripting)"
Prevent client-side scripts to run in web browser.
Automatically encode HTML or escape chars in Ajax responses so that code in `<script></script>` tags cannot be evaluated. There maybe multiple targeted devices that's why encoding should be done only in web layer.
According to me, this should be done in the response not in the request because if a 3rd party is inserting an infected data to the dat

[2021-02-16 19:25] olicooper commented on #7721
I have had a look at the source code and I can see that derived controllers are removed when the application starts up, which will likely stop the additional actions in the derived controllers being registered.
https://github.com/abpframework/abp/blob/739db98e161cfa5413d303cacce1cd78849a01f3/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/Conventions/AbpServiceConvention.cs#L74-L103

[2021-02-16 20:17] rafaelgfirmino commented on #2882
+1

[2021-02-16 20:21] ebicoglu opened #7752 "Add security response headers"
- `X-Content-Type-Options` header tells the browser to not try and “guess” what a mimetype of a resource might be, and to just take what mimetype the server has returned as fact.
`X-Content-Type-Options`: `nosniff`

-  `X-XSS-Protection` is a feature of Internet Explorer, Chrome and Safari that stops pages from loading when they detect reflected cross-site scripting (XSS) attacks
`X-XSS-Protection

[2021-02-16 20:34] ebicoglu commented on #7752
![](https://user-images.githubusercontent.com/9526587/108118529-8baeab80-70af-11eb-9114-30b9cb36f3a0.png)

[2021-02-17 05:19] maliming commented on #7709
**MyProjectNameDbMigrationService** will use **IDataSeeder**, if you delete the table, you should also remove the dependency on the module. eg **Identity module.**

https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/Data/MyProjectNameDbMigrationService.cs

[2021-02-17 08:02] imabdulsal commented on #5343
@maliming Should I file a new issue for that CLI feature?

[2021-02-17 08:17] maliming commented on #5343
ok please.

[2021-02-17 09:43] BeranekCZ commented on #7191
I'm getting the same error with the command "abp new project.name -t module --no-ui -v 3.3.2"
EDIT: I have 4.2.1 version of CLI.

[2021-02-17 09:47] gainorloss opened #7758 "Consider integrating dapr"
Now dapr1.0 is released.

[2021-02-17 09:49] imabdulsal opened #7759 "Adding a CLI option to exclude IdentityServer"
## Summary
All the current **[startup templates](https://docs.abp.io/en/abp/latest/Startup-Templates/Index) have no any CLI option that allows developers to exclude IdentityServer**, so there should be a CLI option for that purpose (e.g., boolean option `--no-identity-server`)

## Background
According to this conversion #5343 , **ABP doesn't require IdentityServer**, in other words, **you can deve

[2021-02-17 09:54] cotur commented on #7758
@maliming

[2021-02-17 09:57] maliming commented on #7758
See https://github.com/abpframework/abp/issues/2183

[2021-02-17 09:57] #7758 closed, assigned to nobody

[2021-02-17 11:46] #7712 closed, assigned to nobody

[2021-02-17 11:52] yekalkan commented on #7739
@274188A @KevinFarrow

It is working now.

[2021-02-17 11:52] #7739 closed, assigned to yekalkan

[2021-02-17 12:08] ruby0602 opened #7762 "api with 404 error"
route had been added in controller of http.api, http.host and identityserver loaded successfully, but still have 404 error

    [RemoteService]
    [Route("userLogin/secret")]
    public abstract class UsersAuthNController : AbpController, ICMSApiUserService
    {

        private readonly ICMSApiUserService _CMSApiUserService;

        public UsersAuthNController(ICMSApiUserService CMSApiUserServ

[2021-02-17 12:37] BeranekCZ commented on #7191
When I use CLI 3.3.2 with command  "abp new project.name -t module --no-ui -v 3.3.2" I get error 500

[2021-02-17 15:04] alexandis commented on #6712
Please respond.

[2021-02-17 15:23] BeranekCZ commented on #7191
Workaround:

1. create project from template version 3.1.2 - abp new Project.Name -t module --no-ui -v 3.1.2
2. update project to 3.3.2 - abp update -v 3.3.2

[2021-02-17 16:58] ebicoglu opened #7765 "Update jQuery version to 3.5.1"
Vulnerable JS Library.
Security alert on jQuery version.
![image](https://user-images.githubusercontent.com/9526587/108238567-21067a00-715a-11eb-8a64-1356902ef6be.png)
https://jquery.com/download/

this may effect the TuiEditor markdown editor. First solve the issues with TuiEditor then update jQuery.

[2021-02-17 19:41] hikalkan commented on #7758
ABP community is really fast. I was just exploring and reading the blog post :)

[2021-02-17 22:57] murat-yuceer commented on #236
Can we define condition for permissions when you finish implementation.
You can referance from xaf https://demos.devexpress.com/XAF/BlazorDemo/PermissionPolicyRole_DetailView/ac55c28c-139d-4d8a-91d5-3d6fa322851e

![image](https://user-images.githubusercontent.com/49647864/108278742-81161400-718c-11eb-8e9a-e6441d64ceba.png)

I was started to implemnt for us abp project..

[2021-02-18 01:16] #7734 closed, assigned to maliming, realLiangshiwei

[2021-02-18 01:31] #7684 closed, assigned to maliming

[2021-02-18 01:55] #7722 closed, assigned to maliming

[2021-02-18 02:02] #6609 closed, assigned to nobody

[2021-02-18 03:02] realLiangshiwei commented on #7699
Duplicate of https://github.com/abpframework/abp/issues/5526

[2021-02-18 03:02] #7699 closed, assigned to nobody

[2021-02-18 03:21] realLiangshiwei opened #7769 "Make DTO of account module extensible"

[2021-02-18 03:32] maliming commented on #7765
jQuery 3.5.x+ breaks tui-editor. https://github.com/volosoft/volo/pull/1859

[2021-02-18 07:32] NecatiMeral opened #7770 "Feature - Docs - Create a "Recent changes" Page"
Hi,

the "Upd" indication on the navigation is great, but in large documentations a dedicated page with a timeline of changes would be great for end-users. I am thinking about something like Wikipedias [`Recent changes`-site](https://en.wikipedia.org/wiki/Special:RecentChanges).

If you like this feature, I could contribute a PR to implement this feature.

[2021-02-18 07:35] yerz opened #7771 "POST requests are not supported"
I need help

I modify the startup.cs , but the POST request for the swagger will still present the following problem

[code]

**[15:15:49 INF] Request starting HTTP/2 POST https://localhost:44371/api/account/register application/json 91
[15:15:49 DBG] POST requests are not supported**
[15:15:49 DBG] 1 candidate(s) found for the request path '/api/account/register'
[15:15:49 DBG] Endpoint 'Volo.Abp

[2021-02-18 07:56] aelhadi commented on #7771
Hello,

the only solution i'v found :

#7620

[code]

[2021-02-18 09:04] geffzhang commented on #2183
https://blog.dapr.io/posts/2021/02/17/announcing-dapr-v1.0/

[2021-02-18 12:58] realLiangshiwei commented on #7771
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Steps needed to **reproduce** the problem.

[2021-02-18 12:58] enisn commented on #7762
Hi @ruby0602

I'm trying reproduce now,
By the way, do you see anything in your logs? It might help to find problem.

[2021-02-18 13:27] enisn commented on #7765
And https://github.com/volosoft/volo/issues/4964

[2021-02-18 15:17] rafaelgfirmino commented on #7713
@GameBelial I can contour this problem.

I needed multiple queues in the same microservices, but ABP did not implement this functionality #5231.

So, I subscribe AbpRabbitMqModule

1º - I create a Module identical the Volo.Abp.EventBus.RabbitMq

2º I create a new Interface IEventRabbitMqProvider

[code]
3º I Create A new Attribute class RabbitMqEventAttribute

[code]

5º I Change the RabbitMqDistr

[2021-02-18 15:17] #7713 closed, assigned to nobody

[2021-02-18 15:22] aelhadi commented on #7771
I have the seem problem with POST from Swagger UI.

Steps needed to reproduce the problem :

1. Create a Tierd App (separate Identity server)
2. lunch App and go to swagger UI
3. log to app with admin/pwd.
4. try to execute any POST from swagger

you will get an error.

[2021-02-18 15:40] ruby0602 commented on #7762
hi @enisn, this is message in the log of identityserver
2021-02-18 18:02:13.527 +08:00 [DBG] CORS request made for path: /api/userLogin/secret from origin: http://localhost:4200 but was ignored because path was not for an allowed IdentityServer CORS endpoint
2021-02-18 18:02:13.527 +08:00 [INF] No CORS policy found for the specified request.

[2021-02-18 16:38] leonkosak opened #7774 "Multiple GUI options for applications and modules"
Would be possible to select (specify) multiple GUI options for application and module template.

Example:
Having MVC and Blazor projects as side-by-side projects in solutions would speed-up transition from one gui technology to another (because there is mo copy/paste backend code to new VS solution wiht different GUI project).

[2021-02-18 17:49] 2501272126 opened #7775 "RepositoryAsyncExtensions Cannot access a disposed context instance"
abp 4.2.1; .net 5.0; ef core; mysql
my code like this:

        [UnitOfWork]
        public async Task HandleEventAsync(EntityCreatedEventData<MyObject> eventData) {
            var count1 = await _terminalRepository.GetCountAsync();
            var count = await _terminalRepository.CountAsync();
        }

when i use ILocalEventHandler<EntityCreatedEventData<MyObject>>
the GetCountAsync() from IR

[2021-02-18 18:32] idreeshaddad opened #7776 "abp generate-proxy does not create the model properties as set by the [JsonProperty] attribue"
* **ABP Framework version** 4.2.1 (Stable).
* **User Interface** Angular.
* **Database Provider** EF Core 5

I'm using [vivet/GoogleApi](https://github.com/vivet/GoogleApi).
When `abp generate-proxy` generates a TypeScript model of a Dto that has a `[JsonProperty]` attribute; the output model has the name of the C# `property` instead of the name in the `attribute`.

For example, I'm returning: htt

[2021-02-18 19:15] danielmeza commented on #40
@hikalkan how this afect the Real-time notification system? is still in the roadmap?

[2021-02-18 21:58] rafaelmohedano commented on #7506
Great, it worked. It would be nice to put a note  in the setup documentation at: https://docs.abp.io/en/abp/latest/Getting-Started-Setup-Environment?UI=NG&DB=EF&Tiered=No#setup-your-development-environment

[2021-02-19 01:15] maliming commented on #7775
Try to make method **virtual**.
[code]

[2021-02-19 01:29] yerz commented on #7771
yes, I also do this simple operation,There will be problems

[2021-02-19 01:41] maliming commented on #7721
See https://github.com/abpframework/abp/pull/7766

[2021-02-19 01:42] #7667 closed, assigned to maliming

[2021-02-19 01:53] xewn opened #7777 "Support other language development?"
Automatically generate clients in other languages such as java

[2021-02-19 01:56] realLiangshiwei commented on #7771
It has nothing to do with ABP.
In the local development env, the `localhost` domain will share cookies in the websites.
`.Web` project also has a Swagger endpoint, you just need to use it instead of `.HttpApi.host`

[2021-02-19 01:56] #7771 closed, assigned to nobody

[2021-02-19 02:16] realLiangshiwei commented on #7777
No such plan, you can do it yourself.

[2021-02-19 02:16] #7777 closed, assigned to nobody

[2021-02-19 02:57] #7711 closed, assigned to realLiangshiwei

[2021-02-19 03:11] ignite-404 opened #7779 "provide generic type for identity fields"
## guid doesn't always meet user's requirements.

- currentUser
- IHasCreator
- etc

[2021-02-19 03:23] maliming commented on #7779
See https://github.com/abpframework/abp/issues/5314#issuecomment-688577516

[2021-02-19 03:23] #7779 closed, assigned to nobody

[2021-02-19 03:23] #6136 closed, assigned to nobody

[2021-02-19 03:30] ignite-404 commented on #5314
string has better compliancy than guid, why not using string instead?

[2021-02-19 03:39] 2501272126 commented on #7775
thank you!!!
my negligence.

If you perform database operations and use the repositories inside the event handler, you may need to create a unit of work, because some repository methods need to work inside an active unit of work. Make the handle method virtual and add a [UnitOfWork] attribute for the method, or manually use the IUnitOfWorkManager to create a unit of work scope.

[2021-02-19 03:39] #7775 closed, assigned to nobody

[2021-02-19 05:35] xyfy commented on #6247
@CliffordSpainhour hi,I used **Http** not **https**  ，`https` is used for the reverse proxy server **nginx**

[2021-02-19 05:38] xyfy commented on #6247
I cannot understand the following paragraph and code
what's the `SigningKeys` used for?

[2021-02-19 05:43] xyfy commented on #6247
In the doc  [key-material](http://docs.identityserver.io/en/release/topics/startup.html#key-material),it says the **AddDeveloperSigningCredential** **The generated key will be persisted to the file system so it stays stable between server restarts**.   but I can not found the path of the generated key

[2021-02-19 06:04] xyfy commented on #6247
I check the **jwks** of `xxx/.well-known/openid-configuration/jwks` the key id will changed after recreated the docker container.

if only used `docker stop` 、`docker start` will not cause the key id changed.

So to solve my problem is to deal with the problem that the **keyid** will change

[2021-02-19 06:06] xyfy commented on #6247
So to solve my problem now is to deal with the problem that the **keyid** will change

[2021-02-19 06:10] xyfy commented on #6247
I found the key stored in a file ,which named ' tempkey.rsa' and locate in the webroot directory.

[2021-02-19 06:41] EdmundHerbert opened #7780 "Issues with 4.2.1"
08:16:16 INF] Creating initial migration...
[08:16:17 INF] ABP CLI (https://abp.io)
[08:16:18 INF] Version 4.2.1 (Stable)
[08:16:22 ERR] Migrations failed: Could not execute because the specified command or file was not found.
Possible reasons for this include:
  * You misspelled a built-in dotnet command.
  * You intended to execute a .NET program, but dotnet-ef does not exist.
  * You intended t

[2021-02-19 06:46] maliming commented on #7780
See https://github.com/abpframework/abp/issues/7506#issuecomment-770144009

[2021-02-19 06:46] #7780 closed, assigned to nobody

[2021-02-19 07:24] #7769 closed, assigned to realLiangshiwei

[2021-02-19 07:31] leonkosak commented on #2183
@hikalkan would you consider using dapr also for [microservice template](https://docs.abp.io/en/commercial/latest/startup-templates/microservice/index) (abp Commercial)? It should greatly simplify overall architecture, right?

[2021-02-19 08:23] pointlevel opened #7782 "Localize text in project "BasicTheme""
Hello!

I have downloaded and included the project "Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme" as described here: https://community.abp.io/articles/creating-a-new-ui-theme-by-copying-the-basic-theme-for-blazor-ui-qaf5ho1b

Inside the file Themes/Basic/LoginDisplay.Razor there is a few texts that is not localized. How can i achieve that. Really tried to find answers but cant find anythi

[2021-02-19 09:35] #7708 closed, assigned to enisn

[2021-02-19 10:12] cbogner85 commented on #1082
I agree that this is a very important feature for every professional application.

Often a customer tells you there is something wrong in his account and without impersonating it is hard to help. I really loved the feature in ASP.NET Zero.

You said that there are problems with tiered apps. Maybe you could implement it at least for monolith applications until you find a solution?

I thought about

[2021-02-19 11:51] hemaltandel1 commented on #6940
@mtozlu i also stuck on same issue with tenant management component.

Also having similar issue with "abp-extensible-form" control but not able to resolve it yet. It's throwing below error and i have replaced "TenantManagement.TenantsComponent" it with new control and trying to use "abp-extensible-form" for "#tenantModalTemplate" same as it's being used on original "TenantComponent".

![image](htt

[2021-02-19 13:39] olicooper commented on #7688
Hey @michelveloso did the suggestion above fix your issue? If everything is okay now make sure to close the issue 👍

[2021-02-20 02:39] yerz commented on #7771
but  CLI  Create a Tierd App (separate Identity server)

![image](https://user-images.githubusercontent.com/30039842/108580720-b9be1500-7367-11eb-933e-131d0581d41b.png)

Only.httpapi.host and.identityserver exist but not.web because I don't need the UI.

[2021-02-20 03:33] wzhijiew opened #7785 "ABP Framework API consumed by a WinForm application"
### Problem

Since our old ERP solution contains so many WinForm applications for import data from and export data to other platforms, when we planned to migrate the old solution to new one using ABP framework, we have make sure the new WinForm work properly with the new ABP Framework API.

### Request

How to create a Dependency Injection WinForm to directly reference and use *.HttpApi.Client pro

[2021-02-20 06:55] niltor commented on #1168
If it is to attract more people, then this is an option to consider, especially for developers in **China**, many novice use Vue.
However, ABP team made the right choice, they chose  angular. Only angular can be said to be seamlessly integrated, especially when it comes to code generation, programming experience is completely different. Of course, if you just provide an initial template, it's stil

[2021-02-20 13:28] rasmani795 opened #7786 "NullInjectorError creating new tenant in abp"
### GitHub Issues

* ABP Framework version 4.2.1
* Angular

I'm using Abp 4.0.0. Now I updated into Abp 4.2.1. While clicking on create tenant its shown NullInjectorError.
![null injection token](https://user-images.githubusercontent.com/42696683/108596768-290a2800-73ad-11eb-8685-bc7e66a084f2.PNG)

[2021-02-20 14:38] nadeemkhoury commented on #3161
Hi There,
Any update on this issue?

What is the name of the account module ?

[2021-02-20 18:47] imabdulsal opened #7787 "ABP DB migration doesn't work with Oracle"
## Issue Summary
DB migration would not work with Oracle database, because ABP has many database's object names that break the following [Oracle Object Naming Rule](https://docs.oracle.com/cd/B19306_01/server.102/b14200/sql_elements008.htm):

That obviously means **all the ABP database's objects (i.e., tables, columns, indexes, and constraints) MUST NOT exceed that number of bytes, which is equiva

[2021-02-20 21:21] cem1835 opened #7788 "bad performance Isgranted with redis"
Hello,

My application has 500+ Permission Policy and  when I use redis, the average page load speed increasing by 50 seconds. (I don't use local redis).

I have attached the log files

I think you can change the caching mechanism on permissions (like ambient context
[logs-20210221.txt](https://github.com/abpframework/abp/files/6016469/logs-20210221.txt)

Thank you

[2021-02-20 21:35] cotur commented on #7776
Hi @idreeshaddad,

We will investigate the issue and reply you asap. Thanks.

[2021-02-20 22:19] idreeshaddad commented on #7776
@cotur I hope you do it fast brother as we have a release soon.
Salams from your Chechen brothers here 😃

[2021-02-21 03:16] maliming commented on #7787
Duplicate of #1920

[2021-02-21 03:16] #7787 closed, assigned to nobody

[2021-02-21 05:18] sgalcheung opened #7789 "zsh: command not found: abp"
Recently，I contact with the zsh shell. When I set my default shell to zsh,I can't use the abp cli,the error is:

`zsh: command not found: abp`

but the dotnet cli is normal. I don't know what happened, is it a problem with my zsh or abp cli can it be improved?

[2021-02-21 05:46] sgalcheung commented on #7789
I'm sure it's not the abp cli problem, I found that the dotnet-ef command can't be recognized either

[2021-02-21 06:08] sgalcheung commented on #7789
This solved my problem https://stackoverflow.com/questions/56862089/cannot-find-command-dotnet-ef
Use export PATH="$PATH:$HOME/.dotnet/tools/"
This is because dotnet tool cli is stored in the user directory, and the path does not have this configuration after switching
If you need to take effect permanently, add a .zshrc file
Write export PATH="$PATH:$HOME/.dotnet/tools/"

[2021-02-21 06:08] #7789 closed, assigned to nobody

[2021-02-21 06:20] sgalcheung commented on #7789
When I use abp cli, I get some information
[code]
It seems recommended to use .zprofile

[2021-02-21 07:11] maxcsmsu opened #7790 "ABP Framework can support BeginCollectionItem in Modal ?"
Hello

ABP Framework can support BeginCollectionItem in Modal ?

=>  https://github.com/saad749/BeginCollectionItemCore

Thank you

[2021-02-21 07:23] gerryge opened #7791 "After set ValidationInterval, when login in with a tenant, after the interval, refresh will logout"
* Your **ABP Framework version**:
   v4.2.1

* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
  MVC

* Your database provider(EF Core/MongoDB)
  EF Core

* Steps needed to **reproduce** the problem.
  1. abp new Acme.BookStore
  2. add below code in BookStoreWebModule.ConfigureServices
[code]
  3. Start web and new a tenant
  4. Loging with the te

[2021-02-21 07:28] roupijiaojiaobao opened #7792 "How can I add menu item in ProfileManagement"
Hi everyone!
I would like to add another new module here please, how do I do that?
![微信截图_20210221015822](https://user-images.githubusercontent.com/64553587/108618366-82914780-73eb-11eb-9004-e6cdc73ad766.png)

[2021-02-21 08:45] recruitans opened #7793 "Language Management"
![2021-02-21_11-42-22](https://user-images.githubusercontent.com/28866278/108620054-4df8ac80-743a-11eb-90ec-73fbe4e10c23.jpg)

[2021-02-21 09:22] yang-er commented on #7791
This is because `app.UseMultiTenancy()` is after `app.UseAuthentication()`.

The reason isn't the low value of ValidationInterval.

Authentication uses `SecurityStampValidator`, and then it `SignInManager` -> `UserManager.GetUserAsync(ClaimsPrincipal)`.

That function will get no value because `CurrentTenant.Id` is not set yet. However, there's one Claims `tenantid` in the ClaimsPrincipal.

I thin

[2021-02-21 10:41] maliming commented on #7790
ABP Framework base Net Core. so I think it supported.

You can try it out.

[2021-02-21 10:45] maliming commented on #7792
Please check the source code.

https://github.com/abpframework/abp/tree/dev/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Components/ProfileManagementGroup

[2021-02-21 10:45] #7792 closed, assigned to nobody

[2021-02-21 10:47] hemaltandel1 opened #7794 "Component Replacement and ABP From Extensions causes NullInjectorError in abp in Angular"
ABP Version 4.2
Angular

![image](https://user-images.githubusercontent.com/22088585/108622541-7ca95f80-7407-11eb-9d2b-278fbce65630.png)

Replaced "TenantManagement.TenantsComponent" it with new control by following https://docs.abp.io/en/abp/latest/UI/Angular/Component-Replacement and use "abp-extensible-form" for "#tenantModalTemplate" same as it's being used on original "TenantComponent". When

[2021-02-21 10:50] maliming commented on #7794
Maybe duplicate with #7786

[2021-02-21 12:46] imabdulsal commented on #1920
Thanks @hikalkan and @maliming for the given temporary solutions. However, I think this issue should be open to make it noticeable and to prevent the upcoming duplicated issues, until some best-practices would be written in the documentation as it was mentioned:

[2021-02-21 16:10] nicksoftware commented on #7289
[Bart Van Hoey](https://community.abp.io/members/bartvanhoey) has created a demo for this. 👌👌👌

[How to consume ABP api from xamarin.form ](https://community.abp.io/articles/abp-framework-api-consumed-by-xamarin.forms-application-rkdfzz66)

[2021-02-21 21:03] cinaradem opened #7795 "How can I use Newtonsoft for default serialization?"
How can I use newtonsoft for default serialization?
the methods below do not work.
  services.AddControllers (). AddNewtonsoftJson (options =>
                 options.SerializerSettings.ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore);
             services.AddMvc ()
                 .AddNewtonsoftJson (
                     options =>
                     {

[2021-02-22 01:04] maliming commented on #7795
See https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4_0#always-use-the-newtonsoft-json

[2021-02-22 01:04] #7795 closed, assigned to nobody

[2021-02-22 01:14] maliming commented on #7289
https://community.abp.io/articles/abp-framework-api-consumed-by-xamarin.forms-application-rkdfzz66

[2021-02-22 01:14] #7289 closed, assigned to nobody

[2021-02-22 02:13] #6775 closed, assigned to nobody

[2021-02-22 03:11] #6787 closed, assigned to nobody

[2021-02-22 03:11] #6785 closed, assigned to nobody

[2021-02-22 03:12] realLiangshiwei commented on #7782
Please read [locallization](https://docs.abp.io/en/abp/latest/Localization) document first.

Try

[code]

[2021-02-22 03:32] maliming commented on #7793
Have you tried to refresh the page?

[2021-02-22 05:28] leonkosak commented on #7788
[Related](https://github.com/abpframework/abp/issues/6115)?

[2021-02-22 06:29] wakuflair commented on #5558
This repo maybe useful: https://github.com/Aaltuj/VxFormGenerator

[2021-02-22 06:51] yekalkan commented on #3161
`Volo.Account`

[2021-02-22 07:03] #7782 closed, assigned to realLiangshiwei

[2021-02-22 07:19] nadeemkhoury commented on #3161
Thank you so much for your response. I was able finally to reach out to all Module Names, however, if I need to contribute and write the names of the modules to the docs, can you please provide me a link or how can I do that ?

Thanks

[2021-02-22 07:27] realLiangshiwei commented on #7732
You can do it easily.  I think we don't need to add it.

![image](https://user-images.githubusercontent.com/16813853/108675826-46acce00-7522-11eb-9e92-c911bb13ab8d.png)

![image](https://user-images.githubusercontent.com/16813853/108675852-50363600-7522-11eb-8b38-7bf79fe4d6ab.png)

![image](https://user-images.githubusercontent.com/16813853/108675901-5e845200-7522-11eb-9792-e6c53c99c84c.png)

[2021-02-22 07:27] #7732 closed, assigned to realLiangshiwei

[2021-02-22 08:27] iyilm4z commented on #3161
@nadeemkhoury [Here](https://github.com/abpframework/abp/tree/dev/modules) is free modules.
[Here](https://commercial.abp.io/modules) are commercial modules. This may help you.
@yekalkan for cli side, you mean listing only app modules or all modules(framework and app)?

[2021-02-22 08:31] yekalkan commented on #3161
@iyilm4z app modules

https://docs.abp.io/en/abp/latest/Modules/Index#open-source-application-modules

[2021-02-22 09:19] hikalkan opened #7800 "CLI should check EF Core global tool installed"
CLI creates the initial migration. But if user has no installed dotnet ef tooling, then it will fail.

It is installed as shown below:

[code]

Also, there should be commands to check if it was installed. ABP CLI should install it if not installed.

[2021-02-22 10:09] iyilm4z commented on #3161
@yekalkan let me tell you what i think to do cli work.

[2021-02-22 10:36] mehmet-erim commented on #7786
Hi @rasmani795

The problem is not related to the tenant creation. Can you share the `app.module.ts` content so that I can find the source of the problem?

[2021-02-22 10:53] iyilm4z commented on #3161
@yekalkan let me tell you what i think to do cli task.
1. We need an api endpoint which returns names and descriptions of app modules just like in the link you shared.(maybe there is already one?)
2. A cli command to list all app modules.(all installed in current app? or just all retrived from the api endpoint?)

[2021-02-22 10:56] mooresway commented on #5517
🙏🤞

[2021-02-22 11:30] mooresway commented on #2183
Maybe [Project Tye](https://github.com/dotnet/tye) as well?

- [Introducing Project Tye](https://devblogs.microsoft.com/aspnet/introducing-project-tye/)
- [Developing distributed applications with Tye](https://renatogolia.com/2020/11/12/developing-distributed-applications-with-tye/)
- [Using Tye with Dapr](https://github.com/dotnet/tye/blob/master/docs/recipes/dapr.md)
- [Demo video with David Fow

[2021-02-22 11:31] ilkayilknur opened #7803 "CMS Kit - GetBySlugAsync method inconsistent behaviors"
There is a `GetBySlugAsync` method inside `BlogPost` repositories. In the EF Core implementation, this method throws an exception if the record is not found. However, the Mongo DB implementation does not throw. Throwing an exception shouldn't be the job of the repositories. We need to move the checking and exception throwing mechanism to the domain layer.

[2021-02-22 11:35] brokenthorn commented on #1168
OK, first of all, no project is stupid. And second of all Vue 3 is the first version of Vue that can be viably supported with ABP. It has first hand support for Typescript, being written completely in it. But that doesn't mean that supporting Vue is going to be easy. Current proxies would be easy to use with Vue 3 if you're OK with Observables/RxJS. But to be fully compliant with the Vue community

[2021-02-22 11:46] recruitans opened #7805 "i think , navigation property typehed dosen't work correctly from abp suite. is it bug ?"
![2021-02-22_14-26-48](https://user-images.githubusercontent.com/28866278/108704237-c899f880-751c-11eb-9333-2f96716ad0dc.jpg)

[2021-02-22 11:52] recruitans commented on #7793
Yes. I experienced this situation when I first logged in after the change in languages. Then it worked properly. I did not understand.

[2021-02-22 11:55] yekalkan commented on #3161
Yes, there is already one: https://www.abp.io/api/download/modules

This is the subject of this issue. I'll move this to current milestone.

[2021-02-22 13:46] maliming commented on #7805
hi

Please discuss this on the support website.

[2021-02-22 13:46] #7805 closed, assigned to nobody

[2021-02-22 15:22] #7749 closed, assigned to cotur

[2021-02-22 15:28] ebicoglu commented on #7793
if we cannot reproduce, I'll close the issue?

[2021-02-22 15:35] ebicoglu commented on #7790
you can use it on your own project

[2021-02-22 15:35] #7790 closed, assigned to nobody

[2021-02-22 15:40] ebicoglu commented on #7785
create a new ABP solution and you'll see that there's a WFP project
this is a sample to show you how to use ABP libs in a 3rd party client.
https://github.com/abpframework/abp/tree/dev/templates/wpf

you can also check out the ConsoleTestApp which uses WebAPIs from a console application
https://github.com/abpframework/abp/tree/dev/templates/app/aspnet-core/test/MyCompanyName.MyProjectName.HttpApi.

[2021-02-22 15:40] #7785 closed, assigned to ebicoglu

[2021-02-22 15:41] ebicoglu commented on #7774
I don't think it's a usual use-case.
But for your case, create 2 solutions with the same name.
Then copy one UI to another solution.

[2021-02-22 15:46] ebicoglu commented on #7770
for GitHub integration that works but if "File-System" is being used as a source it will not work as there's no history.
I think it'd be a good feature.
here's where this UPD comes https://github.com/abpframework/abp/blob/dev/modules/docs/src/Volo.Docs.Web/Areas/Documents/TagHelpers/TreeTagHelper.cs#L138

you also need to add "NEW" docs to the recent changes.
I don't think we keep track the DELETE

[2021-02-22 15:55] iyilm4z commented on #3161
Before starting to work on this feature, i wanted to be sure if i understood everything correctly. However i see that you assigned it to yourself, cool:)

[2021-02-22 18:29] idreeshaddad opened #7809 "Is there documentation for SignalR with Angular?"
Hello there,

I've read [Real-Time Messaging In A Distributed Architecture Using ABP, SignalR & RabbitMQ](https://volosoft.com/blog/RealTime-Messaging-Distributed-Architecture-Abp-SingalR-RabbitMQ) and was wondering if there is documentation for when the client app is Angular?

I'm a little bit confused with where to put what and that soft of things.

[2021-02-22 19:55] #6546 closed, assigned to nobody

[2021-02-22 19:57] davidzwa commented on #6739
@begandroide please close the issue if its resolved.

[2021-02-22 20:08] cem1835 opened #7810 "missing virtual keyword"
https://github.com/abpframework/abp/blob/a031a3de4f8e4938e4967365b980ca36a8cefe6a/framework/src/Volo.Abp.Settings/Volo/Abp/Settings/SettingProvider.cs#L46

[2021-02-22 20:13] #6739 closed, assigned to nobody

[2021-02-22 20:49] kishoresahas commented on #7809
https://docs.abp.io/en/abp/latest/SignalR-Integration

[2021-02-22 21:21] idreeshaddad commented on #7809
Thank you @kishoresahas
Yes I've seen it. But it's not near clear enough. I suggest writing a thorough blog post or a YouTube video, and an Angular Demo app just like you've done https://github.com/abpframework/abp-samples/tree/master/SignalRDemo

Thank you again :)

[2021-02-23 00:53] #7793 closed, assigned to nobody

[2021-02-23 04:56] hanfeige opened #7815 "some problems with ServiceProxyScript"
* Your **ABP Framework version**.4.2.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

###  1. When qualifying modules or controllers :ServiceProxyScript?modules=abp, reference object is em

[2021-02-23 05:01] #7810 closed, assigned to maliming

[2021-02-23 05:54] CliffordSpainhour commented on #6247
This is just debug code to see if if the signing keys change on restart, not really  used for anything.

[2021-02-23 06:15] matthew-qin1 opened #7817 "Navigation property 'Tokens' on entity of type 'User' cannot be loaded because the entity is not being tracked."
Hi,
I am receiving the following error when logging in to my application when using multiple tenant (multiple databases) :

System.InvalidOperationException: Navigation property 'Tokens' on entity of type 'User' cannot be loaded because the entity is not being tracked. Navigation properties can only be loaded for tracked entities.
   at Aon.ChinaDigitalBenefits.Authorization.Users.UserManager.AddT

[2021-02-23 06:31] maliming commented on #7817
You are using [aspnetboilerplate](https://github.com/aspnetboilerplate/aspnetboilerplate/).

Please get help at https://github.com/aspnetboilerplate/aspnetboilerplate/issues/new

[2021-02-23 06:31] #7817 closed, assigned to nobody

[2021-02-23 06:33] matthew-qin1 commented on #7817
@maliming  thank you.

Add link: https://github.com/aspnetboilerplate/aspnetboilerplate/issues

[2021-02-23 07:25] murat-yuceer commented on #5517
Hi @stsrki when you finish that could we switch to server side easily or will we replace depended modules?

[2021-02-23 07:53] stsrki commented on #5517
@murat-yuceer It's going to be a breaking change, in terms that you will need to replace some of the modules.

[2021-02-23 09:12] LeiYangGH opened #7820 "how to configure a ssl certificate in production(like that nginx uses)?"
Didn't see anywhere in docs or samples. is it possible to specify in appsettings.json?

[2021-02-23 09:13] aelhadi commented on #4428
Hello,

 did you find a solution?

Best Regards

[2021-02-23 09:17] realLiangshiwei commented on #7820
It has nothing to do with ABP, you should check the web server(like Nginx, IIS) document.

[2021-02-23 09:17] #7820 closed, assigned to nobody

[2021-02-23 09:21] cotur opened #7821 "User can add comment reply to not existing comment"
Check the replied comment exist or not before adding reply.

[2021-02-23 09:49] NecatiMeral commented on #7770
Hi,

for the GitHub integration, the regular git history could be used.
For a project which is using the File-System-Source, the File-System's timestamps could be used (even if they're unaccurate on Linux environments).

[2021-02-23 09:51] LeiYangGH commented on #7820
I'm not using nginx(or reverse proxy) to serve abp application, i mean i want to configure ssl certificate(which nginx uses in the same centos server, and maybe convert to some file format that asp.net core supports).

by default abp only configures localhost cert, and it is invalid in production environment.

[2021-02-23 09:52] LeiYangGH commented on #7820
@realLiangshiwei  can you check my comments again? you close so fast.

[2021-02-23 10:03] mehmet-erim opened #7824 "Angular UI Documentation: How Replaceable Components Work with Extensions"

[2021-02-23 10:50] #7821 closed, assigned to cotur

[2021-02-23 11:07] gdlcf88 commented on #3161
I'm developing a new version AbpHelper GUI app, it can be used to list community modules and install them to your apps or modules. The module list source is https://github.com/EasyAbp/ModuleLibrary/blob/main/index.json, every module has a "target", for example, `EasyAbp.EShop.Application` module's target is `Application`, it means this module will be installed to the Application project of your ap

[2021-02-23 12:33] #7800 closed, assigned to yekalkan

[2021-02-23 12:34] #7824 closed, assigned to mehmet-erim

[2021-02-23 12:38] mehmet-erim commented on #6940
Hi
Sorry for the late response.

We have created a document titled [How Replaceable Components Work with Extensions](https://docs.abp.io/en/abp/latest/UI/Angular/How-Replaceable-Components-Work-with-Extensions). You can find the solution in this document.

[2021-02-23 12:38] #6940 closed, assigned to mehmet-erim

[2021-02-23 12:40] mehmet-erim commented on #7794
Hi @johnmay1

See the below document to learn how to use extension components with a replaceable component:
https://docs.abp.io/en/abp/latest/UI/Angular/How-Replaceable-Components-Work-with-Extensions

[2021-02-23 13:53] ilkayilknur opened #7832 "CMS Kit - Blog & Blog Post Refactorings"
See blog and blog posts section in the meeting notes.

[2021-02-23 13:54] ilkayilknur opened #7833 "CMS Kit - Move Content Field to the Blog Post and Page Entities"

[2021-02-23 13:58] ilkayilknur opened #7834 "CMS Kit - Blog Feature Refactorings"
See the blogfeature section in the meeting notes

[2021-02-23 13:59] ilkayilknur opened #7835 "CMS Kit - Tag and media refactorings"
See the tags and sections in the meeting notes.

[2021-02-23 14:00] ilkayilknur opened #7836 "CMS Kit - General Refactorings"
See the general section in the meeting notes and look for the violations and fix.

[2021-02-23 14:01] ilkayilknur opened #7837 "CMS Kit - Authorization system and dependent feature system updates"

[2021-02-23 14:13] recruitans commented on #7793
still going on...
![image](https://user-images.githubusercontent.com/28866278/108855786-69aab100-75fa-11eb-86e5-895804574c48.png)

[2021-02-23 15:45] idreeshaddad commented on #7809
I'm sorry for saying this, but having gone through the [SignalRDemo](https://github.com/abpframework/abp-samples/tree/master/SignalRDemo); it's very primitive and it explains so little.

Don't get me wrong Abp is really great; but the promotional material (be it documentation, blogging, and videos) IMO doesn't do it justice.

Maybe do more social exposure, do more technical evangelism of sorts?

[2021-02-23 16:14] #3161 closed

[2021-02-23 21:22] StevenOwenNell commented on #5558
@hikalkan any idea when this is going to be looked at? Would really like just an indication...

[2021-02-24 01:30] #7815 closed, assigned to maliming

[2021-02-24 01:41] LeiYangGH opened #7839 "default mvc template reports 'PasswordResetLinkSent' but no mail is received"
Steps:
1. install vbp cli
2. create new project using default options
3. uploaded to my test server(https://leiyang.icu:5001) and register a user using my mail 675686066@qq.com(put here only if that matters)
4. Try reset password function and it reports reset link sent to mail(https://leiyang.icu:5001/Account/PasswordResetLinkSent).
5. Check mail, no new mail. repeat several times but same issue.

[2021-02-24 02:01] realLiangshiwei commented on #7839
See https://github.com/abpframework/abp-samples/tree/master/EmailSendDemo and https://docs.abp.io/en/abp/latest/Emailing#nullemailsender

[2021-02-24 02:01] #7839 closed, assigned to nobody

[2021-02-24 03:35] GeassAce commented on #6627
I solved the problem, it caused by that,    @ZhaoYis

`   **if (env.IsDevelopment())**----->  clear it  when U publish in iis
            {
                app.UseSwagger();
                app.UseAbpSwaggerUI(options =>
                {
                    // 遍历分组信息，生成Json
                    SwaggerSetting.ApiInfos.ForEach(x =>
                    {
                        options.SwaggerEndpoi

[2021-02-24 05:29] #7774 closed, assigned to ebicoglu

[2021-02-24 06:39] rasmani795 commented on #7786
Yes, I can share the module.

import { AccountConfigModule } from '@abp/ng.account/config';
import { CoreModule} from '@abp/ng.core';
import { IdentityConfigModule } from '@abp/ng.identity/config';
import { SettingManagementConfigModule } from '@abp/ng.setting-management/config';
import { TenantManagementConfigModule } from '@abp/ng.tenant-management/config';
import { ThemeBasicModule } from '@abp

[2021-02-24 07:22] ilkayilknur opened #7840 "CMS Kit - Pages Refactorings"
See the pages section in the meeting notes

[2021-02-24 08:13] mehmet-erim opened #7842 "Angular UI: Be able to switch between resource owner password flow and authorization code flow"

[2021-02-24 09:03] #6627 closed, assigned to nobody

[2021-02-24 10:03] ZouZou commented on #7610
Dear @maliming

We are trying to run the IdentityServer using an IP without https
We get to the login page, we enter the username and password they authenticate correctly however when the browser redirects
it does not show me the user info; rather it shows me the login page again

![IdenityServer_Capture](https://user-images.githubusercontent.com/1358776/108983717-cf994600-7697-11eb-907a-3775ef5ca

[2021-02-24 10:41] aelhadi opened #7846 "Google authentification : WRN External login info is not available"
AbpFramework 4.2.1 Tiered.

Hello,

i added google as external auth provider :

[code]

when i click on Google in my identity server login page, nothing happen, the log :

[code]

any help please.

Regards

[2021-02-24 12:01] maliming commented on #7846
Try to use `options.SignInScheme = IdentityConstants.ExternalScheme;`

[2021-02-24 12:23] #7846 closed, assigned to nobody

[2021-02-24 15:26] LeiYangGH commented on #5769
I got this error:
Autofac.Core.Activators.Reflection.NoConstructorsFoundException: No accessible constructors were found for the type 'Volo.Abp.Settings.ISettingEncryptionService'.

[2021-02-24 15:27] cotur opened #7850 "Refactor CmsKit Blog Admin AppService"

[2021-02-24 16:16] hikalkan commented on #7776
Resolved by #7819

Angular part has been moved to #7852

[2021-02-24 16:16] #7776 closed, assigned to cotur

[2021-02-24 16:17] hikalkan opened #7852 "Handle JsonProperty attribute on Angular proxy generation."

[2021-02-24 16:20] #7677 closed, assigned to maliming

[2021-02-24 16:34] #7791 closed, assigned to maliming

[2021-02-24 17:18] profitp opened #7853 "abp suite solution Waiting for localhost"
ver: 4.2.1
User Interface MVC
EF Core MSSQL
* Steps needed to **reproduce** the problem.
1. Run abp suite
2. Create a new solution
3. Check Public web site
4. Add Entity (save, generate, etc)
5. Open VS
6. Start debug
7. Waiting for localhost over 10 minutes <========== IT's PROBLEM

[2021-02-24 19:14] Moustafa20 commented on #7853
i have the same problem

[2021-02-24 19:54] vijay2358 opened #7854 "how to debug the web module in mvc controller"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-02-24 19:55] vijay2358 commented on #7854
and runtime MVC/UI change not showing unless re-run the applications. changes are not reflecting

[2021-02-24 19:56] vijay2358 opened #7855 "runtime MVC/UI change not reflecting.. unless re-run the application/project/module.. anything missing"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2021-02-25 01:10] xdmushui commented on #7221
Are you considering integrating [Dapr ](https://dapr.io/) and using sidecar to integrate with other open source identity server?
Because this has the advantage of making full use of open source project.

[2021-02-25 01:16] realLiangshiwei commented on #7854
https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-compilation?view=aspnetcore-5.0&tabs=visual-studio#enable-runtime-compilation-in-an-existing-project
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpAspNetCoreMvcModule.cs#L122

ABP already enabled runtime compilation, please check your project.

[2021-02-25 01:16] #7854 closed, assigned to nobody

[2021-02-25 01:17] realLiangshiwei commented on #7855
Duplicate of https://github.com/abpframework/abp/issues/7854

[2021-02-25 01:17] #7855 closed, assigned to nobody

[2021-02-25 01:19] maliming commented on #7853
hi @profitp  @Moustafa20

Please discuss it on https://support.abp.io/QA/Questions/807/Bugs--Issues-v42X.

[2021-02-25 01:19] #7853 closed, assigned to nobody

[2021-02-25 04:50] bluprints-todd opened #7857 "AppUser and UserManager/UserRepository"
Hi,

I started a new project using the Blazor template. I love the framework and the documentation which definitely helps getting started.

Right now, I am having an issue with extending the AppUser object out of the box. I followed the directions on adding a new property/table column (https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#quick-example) but am having trouble using the new pro

[2021-02-25 05:50] maliming commented on #7857
hi @bluprints-todd

The answers to these questions can be found in the document(https://docs.abp.io) and GitHub issues(https://github.com/abpframework/abp/issues), please try searching.

[2021-02-25 05:52] #7857 closed, assigned to nobody

[2021-02-25 08:07] enisn opened #7858 "CmsKit - Reactions Feature Check in Comments"
Each Comment renders reactions button even `ReactionsFeature` are disabled. Reactions Feature check should be added in Comments UI.

---
![image](https://user-images.githubusercontent.com/23705418/109122302-6da11500-7759-11eb-8787-7a7c634ef57a.png)

[2021-02-25 08:57] cotur commented on #7836
Resolved by: https://github.com/abpframework/abp/pull/7841

[2021-02-25 08:57] #7836 closed, assigned to cotur

[2021-02-25 10:33] mehmet-erim commented on #7786
Everything looks good in the `app.module`. I think all `@abp/*` packages are not up to date in your project.

Can you run the command below to see abp package versions:

[code]

Here is a reference screenshot:

![image](https://user-images.githubusercontent.com/34455572/109140618-d5615b00-776d-11eb-9aba-86092e874a77.png)

All ABP packages should be v4.2.1. Please check it out.

[2021-02-25 13:01] aelhadi commented on #6956
ngOnInit(): void
    {
        this.currentUser$.subscribe( data =>this.userid = data.id);
        this.userIdentity = this._identityService.get(this.userid);

        this.userIdentity
            .pipe(takeUntil(this._unsubscribeAll))
            .subscribe(data => {
                console.log(data.name);
                console.log(data.extraProperties);
            });
    }

don't forget  :

[2021-02-25 14:58] #7255 closed, assigned to nobody

[2021-02-25 16:54] Domitnator opened #7863 "Error occurred on DB migration step: MSBUILD"
ABP version: 4.2.1

Steps to reproduce:

1. abp new CustomerX -t app-pro --create-solution-folder --preview --output-folder p:\development\
2. abp new CustomerX.APIY -t module-pro --preview --create-solution-folder --output-folder p:\development\CustomerX
modules --no-ui

I then added the "CustomerX.ApiY" projects necessary to the solution. Because the API has no dependency on a database (it is us

[2021-02-25 17:29] bluprints-todd commented on #2611
Not sure if this helps or not, but there is an IdentityLinkUser that seems to handle this for you. See - https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityLinkUser.cs

I am currently using it and works well. You can link a user with multiple tenants. When multi-tenancy is on, users are unique to tenants, so with this, you can link

[2021-02-26 00:56] hexianggui commented on #6571
@mtozlu Yes, you are right!Thank you very much!
![2021-02-26_085010](https://user-images.githubusercontent.com/30622318/109239205-e5ca1200-780f-11eb-99fb-0e520e42e5c9.png)

[code]
Add the code above,  I found 2 more rows of data in db table [IdentityServerApiResourceClaims].
![2021-02-26_084901](https://user-images.githubusercontent.com/30622318/109239227-f1b5d400-780f-11eb-8fc0-cf7780e8143f.png)

[2021-02-26 00:56] #6571 closed, assigned to nobody

[2021-02-26 04:54] cbaille commented on #7493
After updating to the version 4.2.1, I still have this issue. Any action need to be done beside of the update?

[2021-02-26 05:30] realLiangshiwei commented on #7493
https://github.com/abpframework/abp/pull/6734/files#diff-1d41d82816a2db4e0e083fb2e9dcbe56ca5ab8892195a4da8664a8c07d059967R5

[2021-02-26 06:13] snowchenlei commented on #6473
sorry.I can't solve the error in abp v4.2.1

[2021-02-26 07:52] #7850 closed, assigned to cotur

[2021-02-26 08:02] cbaille commented on #7493
Thanks, I just made this changes, but my code structure is a bit different, see below the changes I did.
But then I still get the same issue

![image](https://user-images.githubusercontent.com/27866600/109271747-86392a00-7842-11eb-8fc4-0ad2344d0694.png)

![image](https://user-images.githubusercontent.com/27866600/109272416-6ce4ad80-7843-11eb-8b3d-f8c112682186.png)

[2021-02-26 08:02] #7835 closed, assigned to enisn

[2021-02-26 08:46] #7834 closed, assigned to enisn

[2021-02-26 09:06] ebicoglu commented on #7863
I'm sorry but this repository for open-source ABP Framework issues. This question is related to ABP Suite which is not related to this repository. I'm closing this. You can ask it on https://support.abp.io or on https://stackoverflow.com/questions/tagged/abp

[2021-02-26 09:06] #7863 closed, assigned to ebicoglu

[2021-02-26 09:21] Domitnator commented on #7863
@ebicoglu Thanks for pointing this out! I opened an issue on support.abp.io.

[2021-02-26 10:21] #7840 closed, assigned to enisn

[2021-02-26 11:01] #6969 closed, assigned to maliming

[2021-02-26 11:18] #7698 closed, assigned to nobody

[2021-02-26 11:18] #7721 closed, assigned to nobody

[2021-02-26 11:21] #7752 closed, assigned to ebicoglu

[2021-02-26 11:46] X-Lucifer commented on #7337
### It worked and solved my problem!

[2021-02-26 12:03] #7658 closed, assigned to realLiangshiwei

[2021-02-26 12:08] #7680 closed, assigned to mehmet-erim

[2021-02-26 12:24] ebicoglu opened #7870 "Open the related document page after adding a module via CLI"
After adding a new ABP module, its document page should be opened in the browser.
Because some modules needs configuration and it would be easier to see the document directly.
This should also work when adding it via Suite.

[2021-02-26 13:05] #6887 closed, assigned to realLiangshiwei

[2021-02-26 14:51] liorbalmas opened #7872 "MultiTenancyConsts.IsEnabled is not working"
ABP Framework version 4.1
EF Core

Steps needed to the problem:
Change value of MultiTenancyConsts.IsEnabled to false, build and call tenant management endpoints which are still available and even visible in API Explorer

[2021-02-26 15:42] #6080 closed, assigned to nobody

[2021-02-26 15:54] bxjg1987 commented on #7402
@hikalkan Is specification pattern necessary?To achieve semantics and reuse code, the IQueryable extension method can be provided.

[2021-02-26 18:53] MohanaRanjanKP commented on #4751
@gterdem I faced the same error when trying to run the project as mentioned in the [Microservice Demo Solution](https://docs.abp.io/en/abp/latest/Samples/Microservice-Demo#run-projects).

I rerun the Projects, but this time by **authenticating the AuthServer.Host** by giving the username and Password and proceed with running other projects in same order.

Now the Issue is not reproduced. By design

[2021-02-26 19:21] MohanaRanjanKP commented on #4751
Also the document [Microservice Demo Solution#Run-Projects](https://docs.abp.io/en/abp/latest/Samples/Microservice-Demo#run-projects) should be updated with one additional step of Authenticating the AuthServer.Host before proceeding to running other projects as well.

[2021-02-27 06:28] volethanh commented on #2183
Hi @hikalkan , Do you have any plan to integrate Dapr and What release version do you plan ?

[2021-02-27 07:49] slarkerino opened #7874 "How to distinguish between user not logged in and no permission"
Currently our project need to redirect user to login page when not logged in or token is invalid. When permission is not granted, we show user a prompt. How can this be achieved using abp as in both case the api returns 401 status code.

[2021-02-27 09:47] #6719 closed, assigned to nobody

[2021-02-27 12:28] realLiangshiwei commented on #7872
You can remove the tenant management module manually if you need.

[2021-02-27 12:28] #7872 closed, assigned to nobody

[2021-02-27 14:50] bluprints-todd opened #7875 "Error in Blazor project when using custom AuthenticationStateProvider and no identity server"
**Version:** 4.2.1
**Template:** Blazor

Hi,

I am trying to use Jwt Token authentication in my Blazor project. Also, I have removed the identity server from my project as I do not have requirements where IDS4 would be needed. So I am trying to use my own AuthenticationStateProvider, but getting an error on startup when I run the project -

[code]

**ConfigureServices() (in module):**

[code]
_NOT

[2021-02-27 22:43] bluprints-todd commented on #7875
Small update on this:

Turns out if this line of code is not in the startup of the Blazor project, then the app fails to start with the error I showed above -
[code]

And if this line of code is in the project regardless of the previous line, then it will also fail to start -
`
services.AddScoped<AuthenticationStateProvider, PwAuthenticationStateProvider>();
`

Is AddOidcAuthentication() method an

[2021-02-28 15:28] catwarrior opened #7876 "RabbitMq configuration - mq cluster support"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Abp version**3.2.1**.

With RabbitMQ.Client, we can connect to a MQ cluster.

[code]

But in abp configuratio

[2021-02-28 16:18] #6382 closed, assigned to nobody

[2021-02-28 16:18] #6697 closed, assigned to nobody

[2021-02-28 16:18] #5951 closed, assigned to nobody

[2021-02-28 16:23] catwarrior commented on #7876
looks like in Volo.Abp.RabbitMQ.ConnectionPool Get Method, it use ConnectionFactory.CreateConnection() hardcoded,
it would be better if we can change to use ConnectionFactory.CreateConnection(hostnames[])

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.RabbitMQ/Volo/Abp/RabbitMQ/ConnectionPool.cs

[2021-02-28 16:29] slarkerino opened #7877 "Setting Can not be stored in different database"
I have configured a connection string for storing abp settings for a tenant. When I try to save settings for that tenant or seed settings, it was saved to the host setting database instead of the tenant setting database. Everything else works as expected (permission etc..) and are stored in a separate tenant database other than the host database.

[2021-02-28 22:57] hikalkan commented on #2183
Hi,

In the next milestone (~2 weeks later) we will start to investigate integration possibilities with dapr. As I see, there are some common features with the ABP Framework. When you use the ABP framework, inter-microservice method invocation is simpler than dapr usage. ABP has distributed cache and distributed event bus systems those are easy to use. I mean you have have less need to a tool like

[2021-02-28 23:59] #6750 closed, assigned to nobody

[2021-03-01 00:25] jaider opened #7878 "Clean Host Project When is using Angular"
### Issue

After download a ABP Angular solution, I see there are so many useless "frontend" libraries in the Host project (see screenshot). This Host project should be entirely backend and I do not understand why need those libraries.

* **ABP Framework version**: 4.2.1
* **User Interface** Angular

* Screenshot:
![image](https://user-images.githubusercontent.com/1471688/109438894-d817b680-79e0-1

[2021-03-01 00:47] maliming commented on #7878
The Host project has some razor pages(`account web` & `identity server web` modules). so It needs these libraries.

[2021-03-01 00:57] #7878 closed, assigned to nobody

[2021-03-01 01:22] realLiangshiwei commented on #7877
This is by design

[2021-03-01 01:22] #7877 closed, assigned to nobody

[2021-03-01 03:41] geffzhang commented on #2183
There are at least a few aspects of  dapr integration value ，dapr allows you to use part of the content, not all of it
1、dapr actor
2、grpc

[2021-03-01 05:08] #6081 closed, assigned to nobody

[2021-03-01 05:19] maliming opened #7880 "Introduce how to use Identity Server reference tokens."

[2021-03-01 06:35] hikalkan commented on #7402
Specification pattern has its own benefits. See when to use it: https://docs.abp.io/en/abp/latest/Specifications#when-to-use
I think IQueryable extension method is not same, but you can use if you like it.

[2021-03-01 06:41] hikalkan opened #7881 "Update email settings document"
We've added UI to manage email, so we can revise the document: https://docs.abp.io/en/abp/latest/Emailing#email-settings

[2021-03-01 06:42] hikalkan commented on #5769
With the version 4.3, there will be an email settings page on the UI.

[2021-03-01 06:46] #7880 closed, assigned to maliming

[2021-03-01 07:44] maliming opened #7883 "Use RequiredPermissionName for all ApplicationMenuItem & ToolbarItem."
https://github.com/abpframework/abp/pull/7799

[2021-03-01 08:08] #7832 closed, assigned to enisn

[2021-03-01 08:21] ilkayilknur opened #7885 "CMS Kit - Add Entity Type Field To Media"

[2021-03-01 08:23] ilkayilknur opened #7886 "CMS Kit - Add CMSKitCommentOptions and Make EntityTypes Configurable"
Ensure that all websites using the comment feature get updated.

[2021-03-01 08:26] ilkayilknur opened #7887 "CMS Kit - Review Rating Feature"

[2021-03-01 08:27] ilkayilknur opened #7888 "CMS Kit - Review Reactions Feature"

[2021-03-01 09:33] stsrki opened #7890 "Blazor - Dropdown menu not aligned vertically"
Original problem reported by @cotur

![image](https://user-images.githubusercontent.com/900302/109477985-f9c47c80-7a78-11eb-8f22-3df3a298833a.png)

Basically, the thing is that the dropdown style is not applied because we have removed bootstrap.js and popper.js from the ABP theme bundle. And those were used to calculate the right position of the menu

This is what `dropdown-menu` should contain wh

[2021-03-01 09:54] cotur opened #7891 "Add Slugify script contributor to framework"
Also create npm package

[2021-03-01 12:28] fmpfmp commented on #7657
https://www.rabbitmq.com/dlx.html

[2021-03-01 12:50] enisn commented on #7803
It's already fixed while refactoring

[2021-03-01 12:50] #7803 closed, assigned to enisn

[2021-03-01 12:51] enisn opened #7892 "CMS Kit - Icons for Menu Items"

[2021-03-01 12:54] cotur opened #7893 "Add Entity Type to media"

[2021-03-01 19:42] leonkosak opened #7898 "Support MQTT"
https://en.m.wikipedia.org/wiki/MQTT

[2021-03-01 19:51] leonkosak opened #7899 "Support akka.NET"
Interesting article: https://petabridge.com/blog/akkadotnet-vs-kafka/

https://getakka.net/

[2021-03-01 21:25] sebitsi commented on #7898
Thx,

From: Leon Košak <notifications@github.com>
Sent: Monday, March 1, 2021 8:43 PM
To: abpframework/abp <abp@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [abpframework/abp] Support MQTT (#7898)

https://en.m.wikipedia.org/wiki/MQTT

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.co

[2021-03-02 01:04] LFDCC opened #7901 "abp cli automate add module dependencies"
I have a module project that has already been developed locally
It is too cumbersome to add these module dependencies manually
How to automate adding a dependency to a solution, such as [dependsOn (...)]
I tried using this command "abp add-module ProductManagement --new --add-to-solution-file", which automatically adds dependencies, but creates a new module project that does not include the host p

[2021-03-02 01:17] maliming commented on #7901
The `add-module` command only supports modules of abp.

[2021-03-02 01:17] #7901 closed, assigned to nobody

[2021-03-02 01:18] tvddev opened #7902 "Link Accounts like in aspnetzero"
v4.2.1
Blazor
EF Core

Like in ASPNetzero create an ability to link accounts so a tenant user can log into their account eg an Advisor working with multiple clients), and then jump to another account (their clients account) that they have been given permission to access/linked to.

[2021-03-02 01:20] maliming commented on #7902
This feature available on the Pro module.

![image](https://user-images.githubusercontent.com/6908465/109582109-85e9a900-7b38-11eb-8f9e-a4050979a014.png)

https://docs.abp.io/en/commercial/latest/abp-framework-vs-abp-commercial

[2021-03-02 01:20] #7902 closed, assigned to nobody

[2021-03-02 01:27] tvddev opened #7903 "Unique username to link to Tenant at login"
v4.2.1
Blazor
EF Core

Can we have a setting "Use Login Name to set Tenant".

- This would be system wide so the username must be unique across all tenants and host, eg email address as username.
- There would be appropriate "username must be unique" warning if someone tries to setup a user with the same username.
- When the user logs in they would automatically login to their tenant.
- The tenant

[2021-03-02 01:32] maliming commented on #7903
hi

I think you can implement it yourself, but this requires querying in all tenant databases when tenants use an independent database.

[2021-03-02 01:51] tvddev commented on #7902
https://support.abp.io/QA/Questions/852/Account-Linking-issue - this should be updated too.

[2021-03-02 01:53] tvddev commented on #7903
We only have a single multi-tenant database, so that part is easy.

What do we then need to do to set the tenant so all other tenant specific functions work?

[2021-03-02 02:07] maliming commented on #7875
The Blazor project is a front-end application, similar to Angular, it needs to be authenticated by OIDC.

[2021-03-02 03:39] #7883 closed, assigned to maliming

[2021-03-02 04:54] bluprints-todd commented on #7875
Thanks @maliming !

Ok, thanks for the info. Would be awesome in the future to support JWT and custom authentication state providers.

BTW, I was able to get it to work but feels like a hack. In my module, I got rid of the DependsOn AbpAspNetCoreComponentsModule or AbpAspNetCoreComponentsWebAssemblyModule, and only added the AbpUiNavigationModule & AbpAutofacWebAssemblyModule (because I was using

[2021-03-02 04:57] dinhduongha commented on #7903
Similar this feature: https://docs.aspnetzero.com/en/aspnet-core-angular/latest/Core-Angular-Sign-In-Without-Specifying-Tenant

[2021-03-02 06:00] maliming commented on #7788
Resolved by https://github.com/abpframework/abp/pull/7799

[2021-03-02 06:00] #7788 closed, assigned to maliming

[2021-03-02 06:22] realLiangshiwei opened #7904 "Extract Toolbar system"
BlazorUI Toolbar system just repeats the code of the MVC UI Toolbar system.

Maybe we can extract them. like `Volo.Abp.UI.ToolBars`. @hikalkan  what do you think?

https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.AspNetCore.Components.WebAssembly.Theming/Toolbars

https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Toolbars

[2021-03-02 06:32] realLiangshiwei opened #7905 "Use RequiredPermissionName for all ApplicationMenuItem of Blazor"
Related https://github.com/abpframework/abp/pull/7884

[2021-03-02 07:13] #7905 closed, assigned to realLiangshiwei

[2021-03-02 08:59] yerz opened #7909 "Support for language resources to be saved to a database"
Language resources need to be saved to the database. When reading a resource, it is also read in DB or Redis.
how should I do it?  Not locally

![image](https://user-images.githubusercontent.com/30039842/109623890-9588e200-7b78-11eb-83fb-f9be107cac56.png)

Can you give me your opinion? There is no extended description about resources in the official document!

thanks;

[2021-03-02 09:07] realLiangshiwei commented on #7909
You can implement the [`ILocalizationResourceContributor`](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Localization/Volo/Abp/Localization/ILocalizationResourceContributor.cs) interface to read localized values from anywhere

[2021-03-02 09:07] #7909 closed, assigned to nobody

[2021-03-02 09:53] aelhadi opened #7910 "External Authentification with Google, the property IsExternal still having "0" as value."
Abp 4.2.1 (Tiered)

i'm using External auth with Google, when i check AbpUsers Table, the property IsExternal still having "0" as value.

is it normal?

[2021-03-02 11:19] iyilm4z commented on #5208
Hi @hikalkan,

I see that this is an old issue and there is no action for it yet. Maybe nowadays you are focusing your attention on other points.
I may work on this issue? If you are ok, below is my possible solution.

- Create an interface named like **IDryRunnableCommand** which has a void typed  method named **DryRunAsync**
- Before running a command first check if an option named **dry-run** p

[2021-03-02 12:10] maliming commented on #7910
Yes, It's normal.

https://github.com/abpframework/abp/issues/4977

[2021-03-02 12:10] #7910 closed, assigned to nobody

[2021-03-02 13:05] real-zony commented on #7898
Using [MQTTNet](https://github.com/chkr1011/MQTTnet) can work well with ABP vNext. If you are talking about the EventBus System based on MQTT, there are no plans for the time being.

[2021-03-02 13:14] armanozak opened #7912 "Use default URL as fallback when api in environment.ts does not have one"

[2021-03-02 15:28] hikalkan commented on #5208
We don't want to make that. It is too complicated. For example, `abp new` command does a lot of things and it is not possible to write it to the console.
I am closing this @iyilm4z :)

[2021-03-02 15:28] #5208 closed, assigned to nobody

[2021-03-02 15:33] #780 closed

[2021-03-02 15:41] hikalkan commented on #5558
We are far from working on that. We have a lot of higher priority works :)
You can go with existing solutions.

[2021-03-02 15:44] hikalkan commented on #5517
@murat-yuceer when it gets clear, we will think on a migration path. The big change will be in the project structure, you know blazor assembly and server are very different in that area.
We will try to make current module Blazor packages compatible to server, so you won't change nuget package references.

[2021-03-02 15:52] hikalkan commented on #1168
Supporting a 4th UI framework officially is very hard for us, to be honest. When we add it, all modules, theming, extensibility, modularity and every other feature should be compatible with that new UI type. This multiples our work and slows down us a lot. Also, it requires a strong expertise and we can not be best in every area.

So, to be honest, we are currently not planning a 4th UI in the mid

[2021-03-02 15:59] hikalkan commented on #40
It is on the road map for the abp commercial. We see it as an application functionality rather than a framework feature. One possibility may be adding the abstraction to the framework side to provide a standard, so module & application developers can make assumption on the contracts.

[2021-03-02 16:02] hikalkan commented on #236
Thanks @murat-yuceer for sharing this.

[2021-03-02 18:04] hikalkan commented on #7904
Let's re-consider this in v5.0. We don't want to make breaking change (at least namespaces will change) and this is not essential (I made copy/paste by thinking they may evolve in different directions).

[2021-03-02 18:21] hikalkan commented on #5543
I don't think so, to be honest. In any way, this milestone we are more focused on server side blazor (which will improve performance when you use), so we will try to work on it in the next milestones.

[2021-03-02 19:55] danielmeza commented on #40
@hikalkan I like that approach!

[2021-03-02 20:55] #7912 closed, assigned to armanozak

[2021-03-03 01:17] danielmeza commented on #1082
@maliming any update on this? Is still committed for the 4.3 release?

[2021-03-03 01:27] maliming commented on #1082
Still on the road map.
If you are in a hurry, you can implement it yourself according to the actual situation. As I said above, different layered projects have different challenges.

[2021-03-03 01:30] #7876 closed, assigned to real-zony

[2021-03-03 01:32] danielmeza commented on #1082
@maliming then this should be put at the back log until we had a real stimate, instead of just dropped to the next release and create false expectations.

[2021-03-03 01:38] #7903 closed, assigned to nobody

[2021-03-03 02:02] tvddev commented on #7903
@dinhduongha - Yes except we are using Blazor and ABP framework is completely different.

It is a basic SaaS feature requirement, so would be much better having this option available as part of the base template.

@maliming - OK, we can manage the unique user side, but can you tell us the best process for then setting the Tenant?

[2021-03-03 02:17] realLiangshiwei opened #7918 "Docs: Document updates will add duplicate indexes"
https://github.com/abpframework/abp/blob/3842c0517fd1377f04ea7b453524ae86b92c8433/modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/ElasticDocumentFullSearch.cs#L63

https://github.com/abpframework/abp/blob/3842c0517fd1377f04ea7b453524ae86b92c8433/modules/docs/src/Volo.Docs.Domain/Volo/Docs/Documents/FullSearch/Elastic/ElasticDocumentFullSearch.cs#L70

https://www.elastic.co

[2021-03-03 02:43] #7918 closed, assigned to realLiangshiwei

[2021-03-03 03:29] tbto opened #7920 "When use the Auto API Controllers to generate endpoint, it's was not found api description with http response code 400,401,403,404,500 in swagger doc"
https://docs.abp.io/en/abp/latest/API/Auto-API-Controllers

https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore

run Acme.BookStore.HttpApi.Host

open https://localhost:44399/swagger/index.html

it's not found http response code(400 401 403 500), just have http response code 200. Why???
![image](https://user-images.githubusercontent.com/3437980/109748110-42b03880-7c13-1

[2021-03-03 03:58] tbto commented on #7920
If add RemoteServiceAttribute, it's may be work. why?
But the class BookAppService was already implement  IRemoteService... it's make me confused.
I think the class it's implement IRemoteService should have the RemoteServiceApiDescription as default
<img width="1240" alt="image" src="https://user-images.githubusercontent.com/3437980/109749974-91130680-7c16-11eb-8fed-6ae079277983.png">

![image](ht

[2021-03-03 06:29] #7920 closed, assigned to maliming

[2021-03-03 06:53] realLiangshiwei commented on #7893
Duplicate of https://github.com/abpframework/abp/issues/7885

[2021-03-03 06:53] #7893 closed, assigned to nobody

[2021-03-03 07:19] #7837 closed, assigned to enisn

[2021-03-03 07:19] #7885 closed, assigned to cotur

[2021-03-03 09:09] maliming commented on #7874
What authentication scheme are you using? cookies?

[2021-03-03 09:52] #7833 closed, assigned to cotur

[2021-03-03 12:00] muhammedshaaban7 opened #7924 "ABP return 500 instead of 401 status code (Swagger/Postman)"
ABP Version: 3.2.

when calling API in postman or swagger return 500 instead of 401 and log in DB as 401 in the test, pre, and production environment but in localhost working fine, any support appreciated.

Thanks

[2021-03-03 12:02] hemaltandel1 commented on #7794
@mehmet-erim yes, it's resolved the issue. Thank you.

[2021-03-03 12:02] #7794 closed, assigned to nobody

[2021-03-03 12:20] seayxu opened #7925 "Log is not work with wpf after ui displayed"
In my wpf app,log is not work.

abp version: 3.3.2

sample code is [here](https://github.com/seayxu/AbpWpfSample).

[2021-03-03 12:46] realLiangshiwei commented on #7925
We have WPF template :　https://github.com/abpframework/abp/tree/dev/templates/wpf

[2021-03-03 12:50] realLiangshiwei commented on #7657
We can consider abstract error handling (dead letter queue) and implement it for each provider

[2021-03-03 13:02] hikalkan opened #7926 "Improve blazor data table on empty tables"
See the table below:

![image](https://user-images.githubusercontent.com/1210527/109809272-2b844180-7c39-11eb-861a-62cf6f4414dc.png)

Two problems here;

1. `1 - 0 of 0 items` is wrong. I believe it should be `0 - 0 of 0 items` or `no items`.
2. It is better to write "No data available" in the table in case of empty. Otherwise, I suspect that it is still being loaded. Example (from MVC UI):

![ima

[2021-03-03 13:11] seayxu commented on #7925
my app is from this template. @realLiangshiwei

[2021-03-03 13:38] realLiangshiwei commented on #7925
![image](https://user-images.githubusercontent.com/16813853/109813802-c8120800-7c68-11eb-9f6b-cd89b1b04735.png)

[2021-03-03 14:21] seayxu commented on #7925
After ui display,log not work,you can run my [demo](https://github.com/seayxu/AbpWpfSample) .

[2021-03-03 15:31] real-zony commented on #7924
Hi @muhammedshaaban7 ,
Is this issue related to https://github.com/abpframework/abp/issues/4560? Can you provide a demo project?

[2021-03-03 17:44] muhammedshaaban7 commented on #7924
Really i don't know, but in general this happens in staging environment not in localhost unfortunately no demo available now. Any method with authorize attribute return 500 instead of 401 and in abpauditlogs throw 401

[2021-03-03 18:02] #6830 closed, assigned to nobody

[2021-03-03 20:19] tvddev opened #7928 "Host side, login as a tenant/user"
V4.2.1
Blazor

In ASPNetZero when you log in on the Host side, you can select an option from the tenant list action button to "login as this tenant" and then select the user you want to emulate.

This is hugely beneficial for support and understanding user perspective.

[2021-03-04 00:51] maliming commented on #7924
Please check your application logs.

[2021-03-04 00:53] maliming commented on #7928
hi

This may only be available for the abp commercial. It is already in the roadmap. : )

[2021-03-04 00:53] #7928 closed, assigned to nobody

[2021-03-04 01:03] tvddev commented on #7928
@maliming - That's fine we have paid for commercial. Where is it on the roadmap?

[2021-03-04 01:07] maliming commented on #7928
I will info you when it's available, Please follow this,

https://docs.abp.io/en/commercial/latest/road-map
https://docs.abp.io/en/commercial/latest/release-notes

[2021-03-04 01:34] tvddev commented on #7928
@maliming - That "roadmap" hasn't been updated for months... The Github release schedule is perfect, but are you now saying it's not accurate?

[2021-03-04 01:42] maliming commented on #7928
hi @tvddev

We will update the roadmap. Thanks.

[2021-03-04 01:47] tvddev commented on #7928
@maliming can you also confirm if github version 4.2 patch has been released and is v4.2.1?

[2021-03-04 01:51] maliming commented on #7928
Yes. the latest version is **4.2.1**.

https://github.com/abpframework/abp/releases
https://www.nuget.org/packages/Volo.Abp.Core/

[2021-03-04 01:52] seayxu commented on #7925
@realLiangshiwei logging nothing after ui displayed.

[2021-03-04 02:10] wzhijiew opened #7929 "Abp Suite Generated Datatable Row Action Menu Problem"
### My environment:

* **Abp framework version:** 4.2.1
* **Abp suite version:** 4.2.1
* **User Interface type:** Blazor
* **Database provider:** EF Core, SQL Server

### Problem

**This is normal action menu**
![Fine](https://user-images.githubusercontent.com/39178962/109898693-9e3ffc00-7ccf-11eb-9530-6708844fc5a0.jpg)

**This is the problem action menu**
bottom part of the menu is blocked and th

[2021-03-04 02:12] fmpfmp commented on #7657
@realLiangshiwei   and retry policy

[2021-03-04 02:15] maliming commented on #7929
Please discuss abp commercial in support website.
https://support.abp.io/QA/Questions/972/Blazor-UI-Action-menu-not-showed-all

[2021-03-04 02:15] #7929 closed, assigned to nobody

[2021-03-04 03:13] rqx110 commented on #7925
@realLiangshiwei Have tried code from https://github.com/abpframework/abp/tree/dev/templates/wpf

found:

![image](https://user-images.githubusercontent.com/1829209/109905900-7dc96f00-7cda-11eb-8aae-43d095b6241e.png)

[2021-03-04 03:42] seayxu commented on #7925
yeah,this is my problem @realLiangshiwei

[2021-03-04 07:26] realLiangshiwei commented on #7925
I will check it out, thanks for reporting @seayxu

[2021-03-04 08:04] #7925 closed, assigned to realLiangshiwei

[2021-03-04 09:28] #7886 closed, assigned to enisn

[2021-03-04 10:21] loca1-host opened #7936 "NullReferenceException after abp app deployment with no "clear" source in logs"
ABP Framework version : 4.1.0
User Interface: MVC
Database provider: EF Core

[logs.txt](https://github.com/abpframework/abp/files/6082578/logs.txt)

The app runs fine locally but once you try to deploy and run it, you get a blank page and the logs contain some NullReferenceExceptions.

The Swagger page works fine. Though I have a feeling some of the schemas aren't represented right.

404 pages ar

[2021-03-04 11:27] maliming commented on #7936
* Steps needed to **reproduce** the problem.

[2021-03-04 11:33] loca1-host commented on #7936
Besides providing you with my repository source so you can try to deploy it on you side, I honestly have no clue.

Am using a database and a bunch or components which are basically crud modals plus <abp-script> tags to call js files wherever need be - just trying to point out stuff that could probably help to find the root problem basing on the issues I've read here thus far.

[2021-03-04 11:39] muhammedshaaban7 commented on #7924
@maliming I checked app logs with status code 401 in DB but a response in swagger or  postman 500 instead of 401

[2021-03-04 11:40] muhammedshaaban7 commented on #7371
Kindly Any Updates

[2021-03-04 11:42] maliming commented on #7936
This is like a `NUglifyJavascriptMinifier` problem.
We need steps to reproduce the problem

[code]

[2021-03-04 11:56] loca1-host commented on #7936
Since you mention Javascript. I hope this helps.
Reference or call your js files before the body of your .cshtml pages like this:
`@section scripts{
    <abp-script-bundle>
        <abp-script src="/yourparentfolder/yourfolder/yourfolder/index.js" />
    </abp-script-bundle>
}`

Have a couple of these with basic js code. Don't add the js files to your ConfigureBundle module method.

If it looks li

[2021-03-04 12:02] yekalkan opened #7938 "Cli: optimize <TEMLATE-REMOVE/> remover"

[2021-03-04 13:00] #7938 closed, assigned to yekalkan

[2021-03-04 13:17] enisn commented on #7858
Can't reproduced, it might be solved with refactoring. So, I'm closing it

[2021-03-04 13:17] #7858 closed, assigned to nobody

[2021-03-04 14:26] #7891 closed, assigned to enisn

[2021-03-04 15:27] #7439 closed, assigned to hikalkan

[2021-03-04 17:59] totpero opened #7946 "Update blazorise"
Hi,
Blazorise release non preview version.
Check here:

https://blazorise.com/news/release-notes/093/

I get error If i try to update the nugets to the last stable version

[2021-03-05 01:19] maliming commented on #7946
See https://github.com/stsrki/Blazorise#try-preview

[2021-03-05 01:19] #7946 closed, assigned to nobody

[2021-03-05 02:49] wgodfrey-pernix opened #7951 "Minor Bug Report - ABP suite generation Issue"
### Bug Report

**Version:** ABP Suite 4.2.1
**User Interface:** MVC
**Database Version:** EF Core
**Javascript Alert:** DataTables warning: table id= ******Table - Requested unknown parameter '******.uOM' for row 0, column 5. For more information about this error, please see http://datatables.net/tn/4
**Steps needed to reproduce the problem**
1. Create an entity that has a property the has all ca

[2021-03-05 03:01] maliming commented on #7951
hi

Please follow this question on the support website.

https://support.abp.io/QA/Questions/1000/Minor-Bug-Report---ABP-suite-generation-Issue

[2021-03-05 03:01] #7951 closed, assigned to nobody

[2021-03-05 04:38] loca1-host commented on #7936
UPDATE: Since you mentioned Javascript and 'minifier'. With a few searches I got to learn about a way to control minification. So I disabled it entirely. Application starts up nicely now. All thanks to you @maliming!

[2021-03-05 06:11] maliming commented on #7936
You should find the cause of the problem, not disable a feature.

[2021-03-05 06:11] #7936 closed, assigned to nobody

[2021-03-05 07:47] zhjmao commented on #6896
i'm in the same situation。

 this is not a issue in my opinion .

OrganizationUnit  using a different DbContext。

mabe we should do samething like the appuser entity ，to share the OrganizationUnit   entity in different DbContext。but i dont konw how to do。any one can help?

[2021-03-05 08:27] loca1-host commented on #7936
I found the problem.

Ckeditor js files. So I removed them from a bundle and served them as is (.min). Then restored the feature.

Thanks again @maliming

[2021-03-05 08:56] tinonetic opened #7957 "Article Request: From sample to container: Deploying ABP to Docker"
Hi there,

We love this product and now have a catalogue of services running ABP

Would be nice to have a how-to article for deploying and running an ABP application on Docker

[2021-03-05 09:13] YoussefSalameh opened #7959 "Stuck in The Login Page"
Dear @maliming

We are trying to run the IdentityServer using an IP without https
We get to the login page, we enter the username and password they authenticate correctly however when the browser redirects
it does not show me the user info; rather it shows me the login page again

![IdenityServer_Capture](https://user-images.githubusercontent.com/1358776/108983717-cf994600-7697-11eb-907a-3775ef5ca

[2021-03-05 09:16] realLiangshiwei commented on #7959
![image](https://user-images.githubusercontent.com/16813853/110094112-6cfe2380-7dd6-11eb-93de-e829172e16f0.png)

https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

[2021-03-05 09:16] #7959 closed, assigned to nobody

[2021-03-05 13:46] enisn opened #7964 "TuiEditor - Replace tui-editor with toast-ui editor"
tui-editor isn't maintained anymore. We should switch to newer version `@toast-ui/editor`

https://github.com/nhn/tui.editor

[2021-03-05 14:09] hikalkan opened #7965 "Logging on Service Registration"
Currently, we can't write logs in `ConfigureServices` since the dependency injection phase has not been completed and the `ILogger` can be resolved once dependency injection completed.

We are introducing `IInitLogger` that can be used in DI registration phase, in `ConfigureServices`.
When you have `IServiceCollection services`, you can use `services.GetInitLogger()` to obtain a reference to the `

[2021-03-05 14:12] #7965 closed, assigned to hikalkan

[2021-03-06 01:41] sgalcheung opened #7966 "How to resolve OrganizationUnit Filter"
I have a requirement to filter data through organization structure, When I refer to the implementation of multi-tenancy, CurrentUser does not hava an organizationUnitId, and then I found that the IdentityUserOrganzationUnit has a user-organization relationship, so should I create a CurrentUserOrganizationUnit? Is there a recommended way to implement id?

[2021-03-06 01:46] realLiangshiwei commented on #7966
https://github.com/abpframework/abp/discussions/7967

[2021-03-06 01:46] #7966 closed, assigned to nobody

[2021-03-06 01:57] colinin opened #7968 "DomainTenantResolveContributor will affect other TenantResolveContributor"
ABP Framework version: 4.2.1

## When a user DomainTenantResolveContributor failed to match the tenant, may not be able to continue to perform other TenantResolveContributor

When **extractResult.isMatch = false**, TenantResolver will still conclude that the tenantIdOrName has been matched and exit the loop, thus assuming that the current request is from the host

https://github.com/abpframework/a

[2021-03-06 02:15] maliming commented on #7968
I think when you use `DomainTenantResolveContributor`, it means that it can always get tenant or host from the domain.
It is second only to `CurrentUserTenantResolveContributor`.

This is by design. of course, You can change this behavior if you need.

[2021-03-06 02:15] #7968 closed, assigned to nobody

[2021-03-06 02:31] colinin commented on #7968
OK, I will change the behavior in application, thank you for your explanation

[2021-03-06 06:22] radrad opened #7969 "Article Request: How to monetize Abp framework as a multi-tenant SaaS solution on Azure Marketplace"
### Documentation
It would be great if you can publish your SaaS solution and start generating revenue by making it available to potential buyers on Microsoft AppSource and Azure Marketplace. Ercenk Keresteci joins Scott Hanselman to cover the technical details of integrating a solution with Microsoft's commercial marketplace, including how to use scripts for provisioning and de-provisioning a cus

[2021-03-06 06:58] #6908 closed, assigned to nobody

[2021-03-06 12:34] leonkosak commented on #5517
@hikalkan, how SignalR connectivity will be handled for Blazor SS in scale-out environments (multiple instances of application inside k8s cluster for instance).
Will Blazor SS in abp have option to "define" Redis backplane?

[2021-03-06 15:06] yang524433 opened #7970 "Publish messages using event bus rabbmitmq sometimes time out"
### GitHub Issues

.net 5
Volo.Abp.EventBut.Rabbmitmq 4.2.0

System.TimeoutException: The operation has timed out.
   at RabbitMQ.Util.BlockingCell`1.WaitForValue(TimeSpan timeout)
   at RabbitMQ.Client.Impl.SimpleBlockingRpcContinuation.GetReply(TimeSpan timeout)
   at RabbitMQ.Client.Impl.ModelBase.ModelRpc(MethodBase method, ContentHeaderBase header, Byte[] body)
   at RabbitMQ.Client.Framing.I

[2021-03-06 19:56] willignicolas opened #7971 "Subscription"
Hello,

We want to move towards the commercial version. We have seen that "the Subscription and payment system for the SaaS module" is present in the roadmap. The arrival of this feature will define our transition to the commercial version.

So we would like to have a little more details on this feature and also a delay, even approximate?

Thank you

[2021-03-07 01:41] realLiangshiwei commented on #7970
* Steps needed to **reproduce** the problem.

[2021-03-07 02:50] sgalcheung commented on #42
I also encountered this problem, can you help me

[2021-03-07 02:56] sgalcheung opened #7973 "When I create the code in your way, the class no work and breakpoints .Could you help me?"
When I create the code in your way, the class no work and breakpoints .Could you help me?
the code like this:
1.  PreConfigureServices
[code]

2. override UserClaimsPrincipalFactory
[code]

_Originally posted by @thk-liu in https://github.com/abpframework/abp/issues/42#issuecomment-577637321_

[2021-03-07 02:57] sgalcheung commented on #7973
I also encountered this problem, can you help me

[2021-03-07 07:48] kishoresahas commented on #7591
This can be a great addition to ABP Framework.

[2021-03-07 07:49] kishoresahas commented on #7809
Related #7591

[2021-03-07 09:31] 312977 opened #7974 "start very slowly"
abp vnext  start very slowly ,how to fix it? thanks

<details>
  <summary>the logs:</summary>

2021-03-07 17:16:05.631 +08:00 [INF] Starting SiYuan.HttpApi.Host.
2021-03-07 17:16:39.701 +08:00 [INF] User profile is available. Using 'C:\Users\hu\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at rest.
2021-03-07 17:16:39.827 +08:00 [INF] Loaded ABP mod

[2021-03-07 09:59] ahmadalmunajjed opened #7975 "An error on IdentityOptions.SetAsync when IdentityUser is extended"
* **ABP Framework version** 4.2.2
* **database provider** EF Core
* **Steps needed to reproduce**

1. Downloaded new Angular UI and Entity framework ORM not tiered project
2. Extended IdentityUser by adding EfCoreEntityExtensionMappings
3. I tried to add a new user but I got an error.
4. I replaced IdentityUserAppService with the same code locally to debug it and I found that it throws an exceptio

[2021-03-07 12:53] maliming commented on #7975
Is your project depends on `AbpIdentityDomainModule`?

[2021-03-07 13:38] ismcagdas commented on #7971
Hi @willignicolas

The subscription feature we are planning probably will be available in 2-3 months. Its base functionality will be allowing users to match their external payment system plans with ABP Commercial's Editions and will handle expiration and renewal of subscriptions. For example, when using Stripe (probably this will be the our first integration), when a user subscribes to a plan, ABP

[2021-03-07 13:56] willignicolas commented on #7971
Thanks for all this informations.

[2021-03-07 13:56] #7971 closed, assigned to ismcagdas

[2021-03-07 14:28] slarkerino opened #7978 "How to implement phone number login"
How to implement phone number login function to identity server in abp? Please help.

[2021-03-07 15:45] pointlevel opened #7979 "Abp.cli add-module with source destroys .sln-file"
Hi!

I have created a new Blazor-solution. Built it. Then i open the powershell-window in the solution folder.
Running the command: `abp add-module Volo.TenantManagement --with-source-code --add-to-solution-file --skip-db-migrations`

After successful completion, the solution-file is corrupt with message "The selected file is not a valid solution file" in VS2019.

[2021-03-07 15:56] sgalcheung commented on #7973
I did a lot of testing and found that in the tired project, it is indeed impossible to enter the CreateAsync method, but it is normal in the not tired project.

[2021-03-07 16:26] ahmadalmunajjed commented on #7975
Yes, it's in DomainModule and I'm using the startup project. I only extended IdentityUser

Thanks

[2021-03-07 17:04] #6487 closed, assigned to nobody

[2021-03-07 17:04] #6883 closed, assigned to nobody

[2021-03-07 19:13] hikalkan commented on #5517
@leonkosak I have never tried that, but I think this should be something not related to the ABP Framework. You can do it just like you can in any project.

[2021-03-07 20:03] leonkosak commented on #5517
@hikalkan, of course. But keep in mind this for microservice template (abp Commercial).
It's common in microservice runtime environments (like k8s cluster), that applications are running in multiple instances.

[2021-03-07 20:31] hikalkan commented on #5517
Thanks @leonkosak we will consider that ;)

[2021-03-07 21:17] jcreek opened #7980 "Retrieve child entities from CrudAppService"
I'm using the latest version of ABP from abp.io and have two entities with a many-many relationship. These are:

[code]
and

[code]
I set up the following test to check that I am retrieving the related entities, and unfortunately the `Students` property is always empty.

[code]
The same is true of the equivalent test for a `List` of `Student`s, the `Groups` property is always empty.

I found one s

[2021-03-08 00:09] yinchang0626 commented on #7980
Hi:
 hope it can help you: [Entity-Framework-Core-Integration](https://docs.abp.io/en/abp/latest/Best-Practices/Entity-Framework-Core-Integration#repository-implementation)

Do override `WithDetails` method of the repository for aggregates root which have sub collections. Example:
[code]

[2021-03-08 00:59] afresh commented on #1437
我在 `IdentityService.Host` 引用了项目 `AuthServer.Host`，这样启动 `IdentityService.Host` 调试时就会报这个错误`AuthenticationScheme: Bearer was not authenticated.`。去掉 `AuthServer.Host` 的引用即可。

[2021-03-08 01:08] maliming commented on #7975
Can you share a project?

[2021-03-08 01:25] realLiangshiwei commented on #7973
If you want to add custom claims, There is an easier way

See https://github.com/abpframework/abp/pull/7165

And override `FilterRequestedClaimTypes` method

https://github.com/abpframework/abp/blob/12d92700a0396367a7e749d662e92c167b7f260d/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpClaimsService.cs#L28

[2021-03-08 01:33] #7973 closed, assigned to nobody

[2021-03-08 03:20] realLiangshiwei opened #7981 "Invalid issue"

[2021-03-08 03:25] mathro opened #7982 "How to pass __tenant as query param or header param through angular UI login button click?"
ABP Framework version: 4.2.0
User Interface: Angular
Separate identity server: yes.

I'm capable of resolving the tenant on my UI - {0}.mydomain.com then all the requests have a __tenant param, but when I click the login button of my Angular UI, the app is redirected to the endpoint identityserver.mydomain.com/Account/Login and the __tenant param on the header isn't present anymore. My need is to

[2021-03-08 03:35] sgalcheung commented on #7973
I think this solution is a hack. If this is going to be the regular solution (to write createAsync User claim in Tired solution),  please write it in the documentation.

[2021-03-08 03:42] #7981 closed, assigned to nobody

[2021-03-08 03:54] realLiangshiwei opened #7983 "ABP CLI: The mongodb option does not need to check the migration file exists"
Steps:

   `abp new qa -d mongodb`

![image](https://user-images.githubusercontent.com/16813853/110272355-f8f59280-8004-11eb-9990-d86ae12c8058.png)

[2021-03-08 05:11] maliming commented on #7983
@yekalkan
You can consider moving `DbMigrationsProjectExists,MigrationsFolderExists, AddInitialMigration` methods to `EntityFrameworkCoreMyProjectNameDbSchemaMigrator`.

Use reflection to check if the `MyProjectNameMigrationsDbContextModelSnapshot` class of assembly exists. Because when DbMigrator published, there will be no folders and migration files.

[2021-03-08 07:37] #7145 closed, assigned to mehmet-erim

[2021-03-08 07:38] enisn opened #7984 "CMS Kit - Add Search to BlogPosts Admin"

[2021-03-08 07:40] enisn opened #7985 "[duplicate]"
Modal stays behind of page content after registering newsletter via email input.

[2021-03-08 07:49] jcreek commented on #7980
Hi @yinchang0626,

Thank you for your reply. I'm afraid I am not sure where to put that as there is no repository defined here, as shown in my code above I only utilise the `IRepository` and pass in my class and guid. There does not seem to be anywhere within my code that I can override this, only within the abp NuGet packages I suspect.

Are you able to provide any more specific guidance based on

[2021-03-08 08:22] realLiangshiwei commented on #7980
See https://docs.abp.io/en/abp/latest/Entity-Framework-Core#loading-related-entities

[2021-03-08 08:22] #7980 closed, assigned to nobody

[2021-03-08 08:30] ahmadalmunajjed commented on #7975
Sure, here you go.

https://github.com/AhmadAlMunajjed/abp-customization

[2021-03-08 08:45] jcreek commented on #7980
That link doesn't help - there's no mention on that page of `AppService` at all. It is apparent from that link how to access the linked entities directly via the repository, but as it is the app service that is used in the default abp.io that's what I'm looking for assistance with.

[2021-03-08 08:47] maliming commented on #7975
The project you shared and the steps you provided don't seem to be the same.

[2021-03-08 08:49] ahmadalmunajjed commented on #7975
No @maliming , it's the same. I will mention what I did in detailed steps
Also, I had to bring the source code of UsersAppService to my project to be able to debug it

In general, what I'm trying to do is adding new props to IdentityUser and customizing IdentityUserAppService

[2021-03-08 08:57] ahmadalmunajjed commented on #7975
**Detailed steps needed to reproduce**

- Download a new project from https://abp.io/get-started, Project type: Application, UI Framework: Angular and Database provider: Entity Framework Core, Database management system: SQLServer, Tired: false
- Add UserType enum
- Add Type property to AppUser: datatype is UserType
- Add TypeId property to AppUser: datatype is Guid?
- Add TypeId property to AppNa

[2021-03-08 09:24] lanpin commented on #6879
@realLiangshiwei This problem still exists.

[2021-03-08 09:31] realLiangshiwei commented on #6879
@lanpin
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-03-08 09:57] NetChenQian opened #7987 "How to use Async Operations in IIdentityUserRepository?"
I want to use Async Operations to get all users whose IDs are in the specified collection from IIdentityUserRepository, but ABP does not implement the asynchronous LINQ method. What should I do？
[IAsyncQueryableExecuter](https://docs.abp.io/en/abp/latest/Repositories#option-3-iasyncqueryableexecuter) is also unavailable because IIdentityUserRepository does not provide the GetQueryableAsync method.

[2021-03-08 10:34] maliming commented on #7987
See https://github.com/abpframework/abp/issues/7402

[2021-03-08 10:34] #7987 closed, assigned to nobody

[2021-03-08 12:18] mtozlu opened #7989 "Make AuthWrapperComponent replacable in account module"
Account module is coming back after #7842 is merged.
Currently, all components are replacable in account module, except for `AuthWrapperComponent`.
I think it should be replacable too.
[code]

[2021-03-08 12:23] gdlcf88 opened #7991 "Details of the Blazor dialog modal will overflow if the text is too long."
When the detail is too long, it overflows:

![K6SM___V6SRKCQ`LG_OZ_IN](https://user-images.githubusercontent.com/30018771/110320428-3aa92c00-804b-11eb-9c5c-50174c7bc9cd.png)

if I add this code to `main.css`:
[code]

the problem will be solved:

![8UWGH(@YCNAX_V{5~{5GGJJ](https://user-images.githubusercontent.com/30018771/110320849-dfc40480-804b-11eb-8ea3-6a041138e2ab.png)

[2021-03-08 12:57] gdlcf88 opened #7993 "ABP startup template for Avalonia is in need."
![image](https://user-images.githubusercontent.com/30018771/110324239-ae016c80-8050-11eb-8d03-7bf694d49d83.png)

https://github.com/AvaloniaUI/Avalonia

[2021-03-08 12:59] ilkayilknur commented on #7991
Thanks for the report @gdlcf88.
@stsrki Can you look into that, please? Is this something you need to change in blazorise, or should we resolve it on the ABP side?

[2021-03-08 13:02] yinchang0626 commented on #7980
@jcreek  Hi:
I created a repository to show about [this](https://github.com/yinchang0626/Abp-7980)
In my sample is simple one-many in `Group` and `Student` and they are `AuditedAggregateRoot`
And I create two way to do it :
`Option1` ( in master branch):   with `Custom Repository`(`IGroupRepository`,`IStudentRepository`)
[code]
Option2: Without Custom Repository(in branch feature/without-custom-re

[2021-03-08 13:08] fmpfmp opened #7994 "Bug:Concurrency problem when use Volo.Abp.RabbitMQ.IRabbitMqMessageConsumerFactory to create multiple consumer"
ABP Framework version : 4.2.0

When i create multiple consumer in multiple "HostedService.StartAsync(....)";

A exception will throw in "Volo.Abp.RabbitMQ.RabbitMqMessageConsumer.TryCreateChannelAsync"

[code]

[2021-03-08 13:30] stsrki commented on #7991
I believe this is fixed with the latest 0.9.3 version where I moved modal-backdrop outside of `modal` div element.

[2021-03-08 13:35] fmpfmp commented on #7994
add a global lock in  TryCreateChannelAsync  can fix this bug

[2021-03-08 13:39] realLiangshiwei commented on #7994
* Steps needed to **reproduce** the problem.

[2021-03-08 14:18] fmpfmp commented on #7994
https://github.com/fmpfmp/abprabbitmqbug_createchannel

@realLiangshiwei

[2021-03-08 14:59] davidzwa commented on #6656
@Stirda please close if resolved.

[2021-03-08 15:02] #6656 closed, assigned to nobody

[2021-03-08 15:13] NetChenQian commented on #7987
Thanks.

Can you give me an example of what you mean?

IIdentityUserRepository is not a custom IRepository,is defined in Volo.Abp.Identity module.

IIdentityUserRepository does not implement IQueryable<TEntity>, also does not provide the GetQueryableAsync method,the following method cannot be used:
[code]

[2021-03-08 17:51] #7985 closed, assigned to cotur

[2021-03-08 23:56] #7069 closed, assigned to nobody

[2021-03-09 01:16] maliming commented on #7987
You can inherit the `EfCoreIdentityUserRepository` class to add more methods.

[2021-03-09 01:16] #7082 closed, assigned to nobody

[2021-03-09 01:29] NetChenQian commented on #7987
Thanks, Is there any other solution?

[2021-03-09 01:49] maliming commented on #7987
This by design.

[2021-03-09 01:58] NetChenQian commented on #7987
Ok, thanks.

[2021-03-09 02:02] realLiangshiwei commented on #7994
Can not reproduce
![image](https://user-images.githubusercontent.com/16813853/110407263-88ab4780-80be-11eb-8688-38eae54b89bf.png)

[2021-03-09 02:36] #7994 closed, assigned to nobody

[2021-03-09 03:33] 274188A opened #7997 "Blazor UI: Blazorise 0.9.3: Unhandled Exception"
Version: 4.2.2
UI: Blazor

Blazor Project Refs:

[code]

**Error**

      Unhandled exception rendering component: Could not resolve type with token 0100009e from typeref (expected class 'Blazorise.ModalBackdrop' in assembly 'Blazorise, Version=0.9.3.0, Culture=neutral, PublicKeyToken=null')

[2021-03-09 03:49] 274188A commented on #7997
https://github.com/stsrki/Blazorise/blob/0b50988ea6b6d1535ba8f49f87b600b495507f80/docs/_posts/2021-03-03-release-notes-093.md

[2021-03-09 04:14] 274188A commented on #7997
still getting same error after removing the offending tags.  cleaned browser cache etc.

[2021-03-09 04:22] realLiangshiwei commented on #7997
Did you try `dotnet clean & dotnet build`  `.blazor` project

[2021-03-09 05:01] lanpin commented on #6879
@realLiangshiwei
run microservice-pro
add this code to ProductAppService.cs
<img width="632" src="https://user-images.githubusercontent.com/8994721/110420894-5528e700-80d7-11eb-8bd2-f66d5b0d34d4.png">
and you see:
<img width="436" src="https://user-images.githubusercontent.com/8994721/110420955-7ab5f080-80d7-11eb-8523-a4b70063759c.png">

[2021-03-09 05:14] 274188A commented on #7997
yes of course

[2021-03-09 05:17] realLiangshiwei commented on #7997
* Steps needed to **reproduce** the problem.

[2021-03-09 05:38] 274188A commented on #7997
ok, found the problem.  Only works if the `preview` version is used.

The `0.9.3` version fails
The `0.9.3-preview6` works

Note that even running `ABP new myproj -ui blazor` generates `0.9.3-preview6` (why preview on brand new proj?)

So in summary my problem is fix although why does it not work on the release version (ie 0.9.3)?

[2021-03-09 06:02] fmpfmp commented on #7994
please see the end of this doc. about the ConcurrentDictionary.GetOrAdd
https://docs.microsoft.com/en-us/dotnet/standard/collections/thread-safe/how-to-add-and-remove-items

[code]

[2021-03-09 06:59] ilkayilknur commented on #7991
Thanks, the fix will be released with 4.3.

[2021-03-09 06:59] #7991 closed, assigned to stsrki

[2021-03-09 08:14] Znow commented on #7974
Same here - just downloaded a new sample with Blazor, MSSQL, Tiered - the starting of every application is extremely slow, and I'm running a high-end computer, so I dont lack resources tbh.

[2021-03-09 08:18] maliming commented on #7974
There are many possible reasons for this, please check your logs, database, redis, etc.

[2021-03-09 08:22] stsrki commented on #7997
@274188A you need to follow the migration guide https://blazorise.com/news/release-notes/093/#migration-

`<ModalBackdrop>` is obsolete and should be removed from all razor files.

[2021-03-09 08:59] buaziz opened #8000 "Support RTL in Blazor Project"

[2021-03-09 09:08] 274188A commented on #7997
@stsrki Yes done that, see my previous comment. Problem is that preview 6 is being used for new projects using latest CLI

Follow steps below to reproduce (using CLI and Blazor UI)

[2021-03-09 09:25] stsrki commented on #8000
How would this even work? Blazor projects are using Blazorise and it is not well suited for RTL. At least in the current state. For example, let's say we take one basic example with `enum TextAlignment` which has `Left` and `Right`. By default, everything on a page is left aligned. And when we set some paragraph alignment to `TextAlignment.Right` then that one element would move to the right.

Now

[2021-03-09 09:40] yekalkan commented on #7979
Hi @pointlevel

I've run the following commands:
`abp new AdMod56372Test -u blazor`
`abp add-module Volo.TenantManagement --with-source-code --add-to-solution-file --skip-db-migrations`

and solution file is fine.

![image](https://user-images.githubusercontent.com/5793291/110450553-5c022a80-80d4-11eb-8f89-9435fbe88655.png)

If you can provide any other steps to reproduce the problem, re-open this

[2021-03-09 09:40] #7979 closed, assigned to yekalkan

[2021-03-09 10:09] 274188A commented on #7997
ok so to **Reproduce**:
use the CLI

`ABP new testproject -ui blazor`

open up the Blazor project and inspect the project xml.
![image](https://user-images.githubusercontent.com/40014477/110454450-32f88e80-8102-11eb-8943-22cb03892bd2.png)

notice the version nbr for Blazorise

also note that this version is not the latest:

![image](https://user-images.githubusercontent.com/40014477/110454663-78b5

[2021-03-09 10:15] 274188A commented on #7997
now if one bumps up to v0.9.3 you will get the following:

![image](https://user-images.githubusercontent.com/40014477/110455381-56700900-8103-11eb-9c2d-0455b02cd005.png)

[All reproducible using a brand new project with the CLI]

[2021-03-09 10:16] stsrki commented on #8000
It also seems Bootstrap RTL is only available with v5 while v4 needs external dependency to work. Bulma provider supports it from v0.9.

https://dev.to/hus_hmd/rtl-support-lands-in-bootrstrap-and-bulma-3hom

[2021-03-09 10:46] litiansky opened #8003 "Help:How do I call connect/token in my application layer to get the token and return it to the client through the API"
* **ABP Framework version** 4.2.2

I saw this #7551, should be similar to what I asked for? But I don't know how to implement it. My server project is host, so how can I call connect/token API and return it to the client?

[2021-03-09 11:47] maliming commented on #8003
You can take look at **IdentityModel**.

https://identitymodel.readthedocs.io/en/latest/client/token.html

[2021-03-09 11:47] #8003 closed, assigned to nobody

[2021-03-09 11:54] #7974 closed, assigned to nobody

[2021-03-09 11:59] leunghoary opened #8005 "Undefined background job for the job name:TP.Youzan.Jobs.Args"
Hi .

I use backstage tasks to report mistakes:Undefined background job for the job name:TP.Youzan.Jobs.Args.MemberInfoArgs
my code :

[code]

[2021-03-09 12:06] maliming commented on #8005
https://docs.abp.io/en/abp/latest/Background-Jobs

[2021-03-09 12:20] leunghoary commented on #8005
Thank you. There was an update

[2021-03-09 13:06] enisn commented on #7765
It's not blocked anymore with #7954

fyi @ebicoglu , @maliming

[2021-03-09 13:10] enisn commented on #6846
Content doesn't exist anymore.

[2021-03-09 13:10] #6846 closed, assigned to nobody

[2021-03-09 13:10] hikalkan opened #8006 "Virtual File Middleware should be compatible with IWebHostEnvironment.WebRootFileProvider"
Instead of using a separate file provider to support the virtual file system, we will set the standard `IWebHostEnvironment.WebRootFileProvider` to support the virtual file system.

With this change, `app.UseVirtualFiles()` has been marked as `Obsolete`. Use the standard `app.UseStaticFiles()` instead.

This change makes better align with Blazor server side usage.

[2021-03-09 15:10] douglasrg1 opened #8009 "Search in MongoDb using a extra property"
I added the Cpf extra property to the IdentityUser and now I need to do a search by Cpf in MongoDb
how to do this using the IRepository<IdentityUser, Guid> _identityUserRepository.
[code]

[2021-03-09 15:35] #7842 closed, assigned to mehmet-erim

[2021-03-09 16:09] totpero commented on #7997
Is the same issue reported here: https://github.com/abpframework/abp/issues/7946

[2021-03-09 18:03] ahmadalmunajjed opened #8010 "invalid_grant response when calling refresh token prevents the angular app from opening"
**ABP Framework version** 4.2.2
**User Interface** Angular
**database provider** EF Core
**Exception message** invalid_grant
**Steps needed to reproduce**

- Download new project
- Reduce AccessTokenLifetime to very short time (for testing to be able to test it quicly, the purpose is enabling refresh token)
- Login to Angular app
- Delete PersistentGrants records from database
- Refresh the angula

[2021-03-10 00:56] maliming commented on #8009
You can try to customize the repository method and use the MongoDB API.

https://docs.abp.io/en/abp/latest/Entities#how-is-it-stored

[2021-03-10 06:56] ThreeLambs opened #8011 "Basic Theme Layout"
The Layout of Application.cshtml

``div#AbpContentToolbar > div. mb-2``
I have no  section ``content_toolbar`` , but  it  has height  ``mb-2`` .
[code]
[code]

[2021-03-10 07:06] realLiangshiwei commented on #8011
I can't get your point.

[2021-03-10 07:11] ThreeLambs commented on #8011
it has no content_toolbar content ,but occupy mb-2 height  of page. it's not good, I think.

[2021-03-10 07:14] realLiangshiwei commented on #8011
You can custom the layout page if you need. https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface#layouts

[2021-03-10 07:14] #8011 closed, assigned to nobody

[2021-03-10 07:29] #7225 closed, assigned to ilkayilknur, yekalkan

[2021-03-10 07:32] maliming commented on #8005
### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace**

[2021-03-10 07:42] jcreek commented on #7980
Hi @yinchang0626 thank you so much for taking the time to put this together, I really appreciate it. I have spent my free time over the last two days going through this and trying everything I can to get it to work with a many-many relationship, and accessible via the AppService, rather than through a repository, as it is the AppService I'm actually using to access my data.

I could not possibly a

[2021-03-10 08:35] #7989 closed, assigned to nobody

[2021-03-10 13:55] #7567 closed, assigned to yekalkan

[2021-03-10 14:14] asensitive commented on #7518
This seems to be working now. Tested with version 4.2.2

[2021-03-10 14:14] #7518 closed, assigned to nobody

[2021-03-10 14:28] mehmet-erim commented on #8010
Hi @AhmadAlMunajjed

Can you open the `src/app/environments/environment.ts`, remove the `offline_access` from the value of `environment.oAuthConfig.scope` property and try again?

The problem is probably related to the lack of PersistentGrants records. If you remove the `offline_access` scope, the app will not perform HTTP requests for the refresh token.

[2021-03-10 14:50] #7852 closed, assigned to armanozak

[2021-03-10 16:18] armanozak opened #8014 "Avoid TS Lint errors for proxy generated code"

[2021-03-10 17:29] #7898 closed, assigned to nobody

[2021-03-10 20:37] ahmadalmunajjed commented on #8010
Hi @mehmet-erim

Thanks for your reply, removing the `offline_access` will lead to losing the refreshing token ability, but I need to keep it.

Yes, the problem is the API doesn't find the PersistentGrant record that's looking for.

Therefore, when refresh token doesn't find the key it returns invalid_grant which is fine. However, it prevents the app from loading, which needs to be handled by
- re

[2021-03-10 21:03] muratyuceer opened #8016 "Blazor Module Development, Nested Layout Usage"
Hello,

I created project with module template blazor ui.
Part of my app i needed to use nested layout page.

Nested layout page example

@inherits LayoutComponentBase
@layout ThemeLayout
some html
@Body

Problem is how can i define @layout ThemeLayout, because in module we can't reach root themelayout (normally)
If i not specify parent layout in nested layout its act like root layout

Do you have

[2021-03-10 21:31] muratyuceer commented on #1754
we are waiting

[2021-03-11 01:31] CaiJinHao opened #8017 "ApiVersion version control ，ApiController HttpGet Error"
ABP Framework version 4.2.1
User Interface type HttpApi.Host
database provide EF Core

When using API version control, you need to mark the Controller as [ApiController]. By default, the [HttpGet]Action will use the Body for the request. It should be marked as [FromQuery].

Exception message：TypeError: Failed to execute 'fetch' on 'Window': Request with GET/HEAD method cannot have body.

[code]

[2021-03-11 02:27] realLiangshiwei commented on #8017
This is ASP.NET Core API versioning default behavior.

[2021-03-11 02:27] #8017 closed, assigned to nobody

[2021-03-11 07:14] muratyuceer opened #8018 "Blazor Application Size & Performance"
Hello,

I publish my blazor app but first load very slowly.
For simulate i open private tab and disabled cache from network
Its download 50mb resource as seen in picture. Am i pushlish wrong? Just i use "dotnet publish" release mode
I saw in csproj file some lines
[code]
But if i set enable them, publish not work.

![image](https://user-images.githubusercontent.com/25631692/110746887-8f68c480-824e

[2021-03-11 07:45] leonkosak commented on #8018
I discussed these issues privately with Volo team (@hikalkan, @ebicoglu) in January. They know that and currently these are the limitations of wasm and Blazor wasm technology.
There is Blazor Server-Side GUI option planned for abp v4.3 release.

[2021-03-11 07:51] muratyuceer commented on #8018
Okay then we will upgrade to server-side for fix problem for now.
I opened the subject to inform people and follow the developments.

But still i think for abp/api-definition and some system endpoints can make performance improvements like browser cache etc..

[2021-03-11 08:13] #7984 closed, assigned to cotur

[2021-03-11 08:20] berkansasmaz opened #8019 "Error on migrating database with an entity which has a navigation property to tenants"
**Related:**
https://support.abp.io/QA/Questions/996
https://support.abp.io/QA/Questions/1003

The following code solves the problem:
`builder.Entity<TenantConnectionString>().HasKey(lc => new {lc.TenantId, lc.Name});`

However, the auto-generated migration files are the same whether I add this code or not. You can look at the pictures below for comparison:

![image](https://user-images.githubuser

[2021-03-11 08:36] stsrki commented on #8018
Yes, unfortunately, little can be done for WebAssebly Blazor at this time. It's just that there is a lot of stuff to load and because of that, it is slow.

The Server-side is coming nice and it will be ready soon.

[2021-03-11 08:41] buaziz commented on #8000
@stsrki  will this be planned as currently there is no label?

having this feature or not will result in our decision to go ahead with Blazor or do the UI on Angular.

[2021-03-11 08:43] #8005 closed, assigned to nobody

[2021-03-11 08:44] muhammedaltug opened #8020 "Add default origin to URL constructor params at getPathName function"

[2021-03-11 08:50] #8020 closed, assigned to muhammedaltug

[2021-03-11 08:58] stsrki commented on #8000
Yes, I believe it will be ready. The ticket with the label is here https://github.com/abpframework/abp/issues/5517

[2021-03-11 09:05] stsrki commented on #8000
Sorry I answered the wrong ticket with the last message 😅

Now back to your question. Unfortunately, I still have no open ticket or label for RTL support. This is the first time it was requested to tell you the truth.

[2021-03-11 09:15] antosubash opened #8023 "Article Request : Setting up ABP without Identity server."
Based on this #5343 and this #7759 it should be possible but there is no guide on how to do it. it will be great if there is a community article about this.

[2021-03-11 09:24] buaziz commented on #7692
can documentation be added to ABP docs to show how to utilize Azure Cosmos as a datasource.

Thanks

[2021-03-11 10:05] mehmet-erim commented on #8010
@AhmadAlMunajjed , I have created a [PR](https://github.com/abpframework/abp/pull/8027). You can check what I have done. Since the refresh token error is not handled, if any error occurs when refreshing the token, the app cannot be initialized. So I handled the `refreshToken()` error and clear the storage keys related to the OAuth when any refresh token error occurs.

[2021-03-11 11:13] #8014 closed, assigned to armanozak

[2021-03-11 12:38] ebicoglu opened #8030 "Add AspNetCore.Seo package to docs module"
to be SEO friendly we need to create a `sitemap.xml` and `robots.txt` in docs module.
To do this you can use https://github.com/wintoncode/Winton.AspNetCore.Seo
basically you'll add this package and create `sitemap.xml` and `robots.txt` when the app initialized.

PS: this should be optional and must be configurable (via appsettings.json)

[2021-03-11 13:46] alexandis commented on #6712
According to our findings, this issue is related to the outdated presence of `[abpTableSort]` property in `<abp-table>`. When I remove it, the sorting gets correct. However, I get js errors:

![image](https://user-images.githubusercontent.com/6149843/110796150-4f223a00-8280-11eb-9efb-5b1148f7f58e.png)

I have also noticed that abp-ng.theme.shared contains the code which obviously should have been

[2021-03-11 13:58] alexandis commented on #6712
UPDATE: so far I've found the following way to fix the issue when having `[abpTableSort]` removed - adding `ngIf`:

`<abp-table *ngIf="gridData$ | async" ... >`

[2021-03-11 14:28] maliming commented on #8019
**MigrationsDbContext** is only used for database migration.

You have created a relationship with the **Tenant** in the **Book** entity, but the **Book** entity belongs to the **DbContext**. It is used at runtime. **ConfigureSaas** is called by **MigrationsDbContext** but **DbContext** does not.

This is why `builder.Entity<TenantConnectionString>().HasKey(lc => new (lc.TenantId, lc.Name));` can

[2021-03-11 14:28] #8019 closed, assigned to maliming

[2021-03-11 17:16] armanozak opened #8034 "Improve handling of quotes when jsonName cannot be used with dot notation in JavaScript"
Related to #7852

|     KEY      | ALLOWED |
| :----------: | :-----: |
|   abstract   |   YES   |
|   boolean    |   YES   |
|    break     |   YES   |
|     byte     |   YES   |
|     case     |   YES   |
|    catch     |   YES   |
|     char     |   YES   |
|    class     |   YES   |
|    const     |   YES   |
|   continue   |   YES   |
|   debugger   |   YES   |
|   default    |   YES   |
|

[2021-03-11 20:56] uwascan commented on #1168
@hikalkan Most of the folks who want to use vue.js or react js do not need theming or tight integration what we need is just examples of how to hookup with the backend services provided by ABP Framework.
For those interested please check out this repo [abp-vue-admin-element-typescript](https://github.com/colinin/abp-vue-admin-element-typescript). Its uses the microservices project template and its

[2021-03-12 01:38] #7983 closed, assigned to yekalkan

[2021-03-12 03:06] maliming commented on #7371
hi @muhammedshaaban7  Please create a new issue.

[2021-03-12 03:06] #7371 closed, assigned to nobody

[2021-03-12 03:08] maliming commented on #7924
@muhammedshaaban7

* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2021-03-12 03:08] #7109 closed, assigned to nobody

[2021-03-12 06:14] #8034 closed, assigned to armanozak

[2021-03-12 07:15] muratyuceer commented on #8016
Hi @stsrki, do you have idea about that

[2021-03-12 07:21] realLiangshiwei commented on #8018
follow https://github.com/abpframework/abp/issues/5517

[2021-03-12 07:21] #8018 closed, assigned to stsrki

[2021-03-12 07:25] enisn opened #8039 "CmsKit - Add custom css/js to Page"
**Scripts** and **Styles** tab will be added to Page Create/update page & they will be rendered in the public page.

[2021-03-12 08:16] stsrki commented on #8016
If you want to use a different layout you can just define it at the beginning of the page.

**Example**

[code]

Or for example you can have multiple pages using the same layout. In that case, create a folder where all the pages will be located and add `_Imports.razor` file, and add:

[code]

![image](https://user-images.githubusercontent.com/900302/110911827-78d87100-8313-11eb-80fb-f261041b1fc6.p

[2021-03-12 08:25] YoussefSalameh opened #8041 "Error in Replace NavItemsComponent After Update"
* ABP Framework version : 4.1.2
* User Interface : Angular
* Database provider : EF Core

Dear Sirs ,

After Upgrading to 4.1.2 Version I  wasn't able to replace **Nav-Items** Component like it is in the documentation noting that it was working on version 3.1.0.

languages$: Observable<ApplicationConfiguration.Language[]>;  Language is deprecated use instead LanguageInfo.
currentUser$: Observable<

[2021-03-12 08:25] trickyrat opened #8042 "AngularUI + ABP Application deploy problems"
ABP CLI VERSION:4.2.2
Command :

update database connectionstring in migrator and api.host projects
ran datamigrator project
publish solution
host angular static files with Nginx
open browser and go localhost:4200, I got the error page

Error
![image](https://user-images.githubusercontent.com/19605145/110912668-2cab2200-834f-11eb-84f6-9a750cb5e74e.png)

angular environment config file
![image](htt

[2021-03-12 08:29] realLiangshiwei commented on #8041
See https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-4_0

[2021-03-12 08:38] muratyuceer commented on #8016
Thanks for answer,

My problem is about modules

Let's assume that you want to create UserLayout.razor in module project (its nested layout, parent layout have to be root theme layout)

[code]

By the way _Imports.razor not effect to nested layouts

[2021-03-12 08:51] stsrki commented on #8016
You would also write a MainLayout

That is how I always used it.

**UserLayout.razor**

[code]

[2021-03-12 08:59] YoussefSalameh commented on #8041
Dear @realLiangshiwei ,

Thanks for your reply I'm using the ConfigStateService now and everything is fine now.

[2021-03-12 09:16] maliming commented on #8042
hi

Please check your application logs and network requests in the browser.

[2021-03-12 09:17] muratyuceer commented on #8016
But i cant accsess MainLayout from module project. Module project havent depend on root theme project.

[2021-03-12 09:29] stsrki commented on #8016
Are you sure you don't have the way to the core module? Even if you don't have it directly as a project reference, you still have it from the module of a module (etc.).

For example in my current branch it's on `Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic.MainLayout`(refactored for Blazor server).

Yours will be at `Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme.Themes.Basic.

[2021-03-12 10:01] muratyuceer commented on #8016
No, i couldnt find Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme.Themes.Basic namespace in module project.
By nature module must not depend theme project its normal.

The main problem _Imports.razor (@layout) not effect to components that inherit it LayoutComponentBase. Because of that on host project i cant set it.

I have to do some somersaults like module in module just for set that.

I

[2021-03-12 10:08] #8041 closed, assigned to nobody

[2021-03-12 13:15] yekalkan opened #8044 "Cli project generation: need better SQLite option connection string"