[2020-09-16 09:24] #5213 closed, assigned to realLiangshiwei

[2020-09-16 10:43] bnymncoskuner opened #5424 "Api definition ignores [ApiExplorerSettings(IgnoreApi = true)]"
Even though a controller has following attribute, its information is still included in `api-definition`

[code]

[2020-09-16 10:48] #5419 closed, assigned to ismcagdas

[2020-09-16 10:53] hikalkan commented on #5413
Yes, users should not be able to change the tenant if they are logged in. Tenant is determined via the current auth cookie/token if user has logged in and we should not check any other source to determine the user in this case.

[2020-09-16 10:53] #5413 closed, assigned to nobody

[2020-09-16 11:44] leonkosak commented on #5367
Ok. :) Good enough.

[2020-09-16 11:44] #5367 closed, assigned to nobody

[2020-09-16 12:13] hikalkan opened #5425 "Blazor UI for the web application development & getting started tutorials"
I will update the [web application development tutorial](https://docs.abp.io/en/abp/latest/Tutorials/Part-1) to support the new Bazor UI.

The essential parts related to the UI

- [x] Getting started
- [x] Part 2: The Book List Page
- [x] Part 3: Creating, updating and deleting books
- [x] Part 5: Authorization
- [x] Part 9: Authors: User Interface
- [x] Part 10: Book to Author Relation

[2020-09-16 12:22] maliming commented on #5424
I can't reproduce this problem

![image](https://user-images.githubusercontent.com/6908465/93336286-25043800-f85a-11ea-8e76-c38fa92e3daa.png)

![image](https://user-images.githubusercontent.com/6908465/93336296-2897bf00-f85a-11ea-87a9-a08318b999b1.png)

[2020-09-16 12:22] #5424 closed, assigned to nobody

[2020-09-16 12:27] hikalkan commented on #5424
@bnymncoskuner are you sure that you're running the right backend 😄

[2020-09-16 12:35] bnymncoskuner commented on #5424
@hikalkan @maliming I've generated proxies some time ago. I'll try it again after updating abp-cli. Maybe my version was old. I'll post it here my findings.

[2020-09-16 12:53] realLiangshiwei opened #5426 "Update muiti-tenancy document"

[2020-09-16 13:09] bnymncoskuner opened #5428 "[Angular] expose http headers from api interceptor"
There could be some cases when we cannot use `httpClient` or `restService` and need to use `XHRRequest` or some other api to make an http call. We would need to retrieve `httpHeaders` from `ApiInterceptor`

[2020-09-16 13:15] mehmet-erim opened #5429 "ListService filter is not working properly when skipCount is not 0"

[2020-09-16 13:32] #5426 closed, assigned to realLiangshiwei

[2020-09-16 14:09] #5428 closed, assigned to bnymncoskuner

[2020-09-16 14:53] #5429 closed, assigned to mehmet-erim

[2020-09-16 15:44] armanozak opened #5433 "Proxy Generator: RootNamespace turns into directories when there is no Namespace"

[2020-09-16 15:55] armanozak opened #5435 "Add further VS Code extension recommendations"

[2020-09-16 16:09] #5433 closed, assigned to armanozak

[2020-09-16 19:27] bnymncoskuner opened #5438 "[Angular] wrong actions button label in extensible table"

[2020-09-16 19:31] #5438 closed, assigned to bnymncoskuner

[2020-09-16 20:19] #5435 closed, assigned to armanozak

[2020-09-16 20:50] gterdem opened #5440 "Article: How to setup azure ad and integrate with angular application"

[2020-09-16 23:20] staticcat commented on #3862
Any suggested reading material on how to correctly deploy abp.io from a startup installation? I am currently reading the source code for the microservices architecture and reversing the method used in there for deploying. Is there something that can be shared with regards to how the doco / abp.io sites are deployed?

[2020-09-17 01:07] checkmateTowindn opened #5442 "oracle:Table name length too long"
I use oralce,in order to avoid too long, the ef core
[code]
this solves the foreignkey problem,but the table name also exceeds 30 characters，such as 'IdentityServerIdentityResources',I have read the previous questions, but I still don't understand them.

[2020-09-17 01:12] maliming commented on #5442
See https://github.com/abpframework/abp/issues/1920#issuecomment-577475627

[2020-09-17 01:12] #5442 closed, assigned to nobody

[2020-09-17 02:43] #4804 closed

[2020-09-17 04:27] #5182 closed, assigned to mehmet-erim

[2020-09-17 06:10] #5415 closed, assigned to realLiangshiwei

[2020-09-17 06:15] #5440 closed, assigned to gterdem

[2020-09-17 06:35] 274188A opened #5446 "404"
Seeing broken link on the link here: https://github.com/abpframework/abp-samples#readme

![image](https://user-images.githubusercontent.com/40014477/93428933-e3739b80-f8f2-11ea-9170-f5854f88db72.png)

[2020-09-17 06:38] maliming opened #5447 "FormTenantResolveContributor Incorrect Content-Type."
[code]

[2020-09-17 06:48] #5447 closed, assigned to realLiangshiwei

[2020-09-17 06:49] maliming commented on #5446
Thanks @274188A

https://github.com/abpframework/abp-samples/commit/ab8d75c080a8f46d05246b35b3e7507f2d2b8a47

[2020-09-17 06:49] #5446 closed, assigned to nobody

[2020-09-17 07:15] #5183 closed, assigned to armanozak

[2020-09-17 07:30] NecatiMeral opened #5449 "Consider move `AbpFeatureManagementWebModule` into `Volo.Abp.FeatureManagement.Web` namespace"
Hi,

all `*WebModule`s are inside a `Volo.Abp.*.Web` namespace, except the Feature-Management project.
Can this be changed for consistency?

Examples:

1. [AbpIdentityWebModule](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Web/AbpIdentityWebModule.cs)
2. [AbpPermissionManagementWebModule](https://github.com/abpframework/abp/blob/dev/modules/permission-managem

[2020-09-17 08:12] vd3d opened #5450 "Xamarin integration"
Hi,

We are looking to build a Xamarin version of our application, the API & Identity are based on ABP and so, they are .NET CORE.

The problem is that Xamarin is not .NET Core yet :-( ... so, we cannot use the HttpAPI.Client :-(

Do you have a way to create a copy of this project that we will be able to use into Xamarin?
Today, we expect t recreate a new problem, rebuild all the DTO for Xamarin..

[2020-09-17 08:48] mostafa1790 commented on #5392
thanks

[2020-09-17 08:48] #5392 closed, assigned to nobody

[2020-09-17 08:52] NecatiMeral commented on #5450
The required modules for implementing clients are targeting net-standard already.

We use ABP for WinForms Clients and have no issues.
Which packages do you need additonally?

[2020-09-17 08:54] hikalkan commented on #4932
We will have a meeting to design this.

[2020-09-17 09:34] hikalkan commented on #4684
Already done: https://community.abp.io/articles/using-devextreme-components-with-the-abp-framework-zb8z7yqv

[2020-09-17 09:34] #4684 closed

[2020-09-17 09:46] yekalkan commented on #4877
We already add links of all possible combinations at the bottom of the article, when doc is visited by a web crawler.

See https://github.com/abpframework/abp/blob/7ee6692a52f297a3954f9e3c75c31ea633c6802b/modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/index.js#L240

Do you suspect that it doesn't work?

[2020-09-17 09:52] leonkosak commented on #5125
@rafaelgfirmino and @maliming, I have the same situation (abp.io with separated IDS and with Angular UI).

So, this code:

[code]

is added in ConfigureServices method (in .IdentityServer project), right?
Should be added at the beginning or at the end of this method (ConfigureServices)?

What exactly is "my_auth" constant and how can I "determine" for my Docker setup?

three external sources (IPs

[2020-09-17 10:08] leonkosak commented on #5125
Log from IdentityServer container:

[09:39:33 INF] {"ClientId": "ThynkrEnterprise_App", "AuthenticationMethod": "SharedSecret", "Category": "Authentication", "Name": "Client Authentication Success", "EventType": "Success", "Id": 1010, "Message": null, "ActivityId": "0HM2QTIU0D8HT:0000000A", "TimeStamp": "2020-09-17T09:39:33.0000000Z", "ProcessId": 1, "LocalIpAddress": "::ffff:172.20.0.40:80", "Rem

[2020-09-17 10:20] xyfy opened #5452 "can different consumers consume the same event entity dto?"
I have multi-modules,  when some different consumers  consume the same event eto,

It can not do logic by each consumer ,It will only consume by one of them ,not all of them

does there any configuration need to do?

[2020-09-17 10:45] hikalkan commented on #4253
This is already tracked and is currently being implemented with another issue.

[2020-09-17 10:45] #4253 closed

[2020-09-17 10:55] #5404 closed, assigned to nobody

[2020-09-17 12:12] hikalkan opened #5453 "Problem while creating a solution with a stable version using the preview version of the ABP CLI"
It should tolerate and work with the previous startup templates.

![image](https://user-images.githubusercontent.com/1210527/93468688-05bbe800-f8f8-11ea-8b37-b2844556c260.png)

[2020-09-17 12:31] yekalkan commented on #5453
resolved by https://github.com/abpframework/abp/commit/196a206107dbe655f570024ed450c972231e7e37

[2020-09-17 12:31] #5453 closed, assigned to yekalkan

[2020-09-17 12:43] yekalkan opened #5454 "Cli: handling blazor packages in add-package and add-module commands"

[2020-09-17 12:52] Xeevis commented on #394
**Like it so far!** I'm wondering how much effort would it take to get at least Wasm client to work with [recently shipped .NET 5 RC1](https://devblogs.microsoft.com/aspnet/asp-net-core-updates-in-net-5-release-candidate-1/). Tons of improvements for Blazor across the board and I'd like to start ~playing~ developing with it asap considering it's already feature complete and a "go-live" supported f

[2020-09-17 13:01] realLiangshiwei opened #5455 "Update the tutorial document"
Add about MongoDB transactions

[2020-09-17 13:11] maliming opened #5456 "Could not find the bundle file '/libs/luxon/luxon.min.js' from IWebContentFileProvider"
`abp new Angular.NonSeperatedEfCore -t app -u angular --mobile none  --database-provider ef --preview`

[2020-09-17 13:12] hikalkan opened #5457 "Format error for the @abp/luxon package"
There is a missing comma (`,`) in the `abp.resourcemapping.js` file of the @abp/luxon package.

If you create a solution with 3.2.0-rc.1, you need to perform the following steps;

1. Execute `yarn` (or `npm install`) in the root folder of your MVC UI project.
2. Open the file `node_modules\@abp\luxon\abp.resourcemapping.js` and change the content as shown below and save the changes:

[code]
3. exe

[2020-09-17 13:16] maliming commented on #5456
https://github.com/abpframework/abp/commit/ae9f593b5e990a27f40b67eadcfb15f24d54d5cb#diff-8d7bacdeb0620aad6ca081e59ae42a11R1-R6

[2020-09-17 13:18] hikalkan commented on #5456
Duplicate of https://github.com/abpframework/abp/issues/5457

[2020-09-17 13:18] #5456 closed, assigned to nobody

[2020-09-17 13:23] maliming opened #5458 "Angular [Manage Host features] UI not work."
![image](https://user-images.githubusercontent.com/6908465/93475942-cc9d6b00-f92b-11ea-8acd-160704e647fe.png)

[2020-09-17 13:23] yekalkan opened #5459 "Identity Module Users Page: Delete button is not hidden when user doesn't have delete permission"

[2020-09-17 13:24] maliming commented on #5458
` Manage tenant features ` has the same problem

[2020-09-17 13:24] #5457 closed, assigned to hikalkan

[2020-09-17 13:32] yekalkan opened #5460 "Identity Module: Changing Two Factor feature value should effect user create/edit modals"
MVC & Tiered & EF Core

`abp new Mvc.TierEfCore -t app -u mvc --mobile none --database-provider ef --separate-identity-server`

[2020-09-17 17:52] hikalkan opened #5463 "Publish an event on comment creation for the CMS Kit"
It should be a [distributed event](https://docs.abp.io/en/abp/latest/Distributed-Event-Bus). Class name can be `CreatedCommentEvent` with `[EventName("Volo.CmsKit.Comments.Created")]`

Then register to the event on community.abp.io web site and send an email to the author of the article when someone comment under an article.

[2020-09-17 17:56] hikalkan opened #5464 "Disable transactions for mongodb by default for the startup templates"
Becase it gives error if the mongodb server is not properly configured.

Example error: **System.NotSupportedException: Standalone servers do not support transactions.**

[code]

We should document this on the mongodb integration document.

Notes:

* Should be done in the rel-3.2 branch.
* Also do this for the commercial templates.

[2020-09-17 18:16] hikalkan opened #5465 "CMS Kit: Prevent reacting to a self creation"
For example, I should not be able to give reaction to my own comment, article or any kind of entity by design.

For this case, the reaction system should allow to define an extension point to check if an entity with given id can accept reactions by this user (it can be more general and can allow to disable it based on any runtime condition).

[2020-09-17 20:54] tvddev commented on #394
@hikalkan - Great news that this is almost ready to use, should we create new questions here or in the support forum?

[2020-09-18 01:54] realLiangshiwei commented on #5455
duplicate of https://github.com/abpframework/abp/issues/5464

[2020-09-18 01:54] #5455 closed, assigned to realLiangshiwei

[2020-09-18 03:25] 274188A opened #5469 "Running Blazor Template from latest Dev throws erro Could not find the bundle file '/libs/luxon/luxon.min.js'"
* Your **ABP Framework version**. - Latest Dev Branch
* Your **User Interface** type (Blazor)
* Exception message and **stack trace**

Volo.Abp.AbpException: Could not find the bundle file '/libs/luxon/luxon.min.js' from IWebContentFileProvider
   at Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsync(ViewContext viewContext, TagHelperContext context, TagHelperO

[2020-09-18 03:27] realLiangshiwei commented on #5469
See https://github.com/abpframework/abp/issues/5457

[2020-09-18 03:27] #5469 closed, assigned to nobody

[2020-09-18 03:28] realLiangshiwei opened #5470 "Add abp.luxon.js to startup templates"

[2020-09-18 05:28] leonkosak opened #5475 "Identity Server (separated) - disable CORS checking"
Is somehow possible to disable CORS checking (validating) in Identity Server project?
For testing environment, I have issues:

[04:33:46 WRN] Origin is not allowed: http://186.xx.xx.xxx:[port_number]
[04:33:46 WRN] CorsPolicyService did not allow origin: http://186.xx.xx.xxx:[port_number]

URL http://186.xx.xx.xxx:[port_number] is defined in CorsOrigins in .IdentityServer project.

This installati

[2020-09-18 05:45] realLiangshiwei commented on #5475
Hi,

Actually, This is the default behavior of the browser, it nothing to do with ABP. You can try https://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome

[2020-09-18 05:48] seventh88 opened #5476 "Can't save entity when extend a nullable extra property"
When extending DateTime? or Guid? property for entity ，can not save success.
（Guid? Property）stack trace:
System.InvalidCastException: Object must implement IConvertible.
   at System.Convert.ChangeType(Object value, Type conversionType, IFormatProvider provider)
   at Volo.Abp.EntityFrameworkCore.AbpDbContext`1.HandleExtraPropertiesOnSave(EntityEntry entry)
   at Volo.Abp.EntityFrameworkCore.AbpD

[2020-09-18 05:55] leonkosak commented on #5475
Are you sure? These errors regarding CorsPolicyService are inside Logs.txt in IdentityServer project (container).
I also try with Firefox (and the behavior is the same).
There are no errors in browser console or network tab (developer tools).

[2020-09-18 06:12] maliming commented on #5475
hi @leonkosak

See the source code:
https://github.com/abpframework/abp/blob/dev/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpCorsPolicyService.cs#L29
https://github.com/abpframework/abp/blob/dev/modules/identityserver/test/Volo.Abp.IdentityServer.Domain.Tests/Volo/Abp/IdentityServer/CorsPolicyService_Tests.cs#L31

[2020-09-18 06:17] leonkosak commented on #5475
@maliming, but why on earth this does not work? There is http://186.xx.xx.xxx:[port_number] in App:CorsOrigins in IdentityServer container defined. There is no typo.

And there are a lot of "Authorization failed." records (sequentially) in Logs.txt gor .HttpApi project.

[2020-09-18 07:33] git102347501 opened #5478 "On the security of ABP depending on the third party JS static scanning"
**Usage environment**
ABP Framework version：3.1.0
User Interface Type：Angular

I am using the ABP framework to develop a WebAPI program, but when my program is scanned through the static code, I find that ABP references many third-party outdated or dangerous js libraries. Can these libraries be replaced or updated?

**For example:**

- luxon.js
**Criticality:** Critical
**Category:** Key Managemen

[2020-09-18 07:40] leonkosak commented on #5475
There are the following error in Logx.txt in .HttpApi container:

`[07:38:43 INF] Bearer was not authenticated. Failure message: IDX20803: Unable to obtain configuration from: '[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII.]'.`

[code]

[2020-09-18 07:42] #5459 closed, assigned to yekalkan

[2020-09-18 08:11] maliming commented on #5475
hi

**[PII is hidden. For more details, see https://aka.ms/IdentityModel/PII.]**.

[2020-09-18 08:12] #5458 closed, assigned to mehmet-erim

[2020-09-18 08:33] sbenfares opened #5480 "Feature & Structure Request - Node.js & React"
Hello,

Your product is very useful and complete.

- Do you have any plan to extend it to a **Node.js & React framework** with the same structure & features ?

- It would be very useful for a lot of developers since these technologies are very widely used in the 👍 **_Startup Ecosystem_** because of the quick "set up / dev & deploy" aspect.

Thanks for considering it as an option, it would be a **h

[2020-09-18 09:03] mehmet-erim opened #5481 "Dispatch GetAppConfiguration action when host features are changed"

[2020-09-18 09:44] vd3d opened #5482 "ResponseCache on ApplicationService"
Hi,

I wish to know if we can use the ResponseCache attribute to the ApplicationService ?

My wish is to allow some images to be cached, I have tried by adding:

`[ResponseCache(Duration = 86400, Location = ResponseCacheLocation.Any, NoStore = false)]`

and also this in the service config:

`context.Services.AddResponseCaching();`

[code]

But when I test, I do not see the caching information in t

[2020-09-18 10:04] 274188A commented on #394
does `abp new Acme.BookStore -u blazor` actually work? ie create the blazor template or are we still doing the above steps?

[2020-09-18 10:08] #4718 closed

[2020-09-18 10:13] realLiangshiwei opened #5483 "MongoOrganizationUnitRepository should apply filters"

[2020-09-18 10:27] redcatH opened #5485 "IIdentityUserAppService client proxy Cannot use parameters normally ？"
Cannot use parameters normally  IIdentityUserAppService client proxy

 use  Normal   IIdentityUserLookupAppService client proxy
![QQ图片20200918184820](https://user-images.githubusercontent.com/30196697/93589564-8e618380-f9df-11ea-826d-5acf8509a61d.png)

[code]
Sending HTTP request GET https://localhost:44329/api/identity/users/lookup/by-username/123?api-version=1.0

[code]
Start processing HTTP req

[2020-09-18 10:47] hikalkan opened #5487 "There are errors on the docs module when FileSystem is used as the source"
Please test and ensure that FileSystem works (without needing GitHub parameters).

![image](https://user-images.githubusercontent.com/1210527/93589224-301fab00-f9b5-11ea-981b-dd7aac316744.png)

[2020-09-18 11:55] yekalkan commented on #5487
resolved by https://github.com/abpframework/abp/commit/ec234321f3d5932335d34e30a23ae9d259fe1a78

[2020-09-18 11:55] #5487 closed, assigned to yekalkan

[2020-09-18 12:08] leonkosak commented on #5475
The problem is that calling external IP address (with port) from local network is "loop" and therefore API cannot access Identity Server.
Where can [this piece of code](https://github.com/abpframework/abp/issues/5125#issuecomment-683922623) be placed?
Should the value be internal Docker IP of Identity Server?
Currently, I get just errors wherever this code is placed.

[2020-09-18 12:34] maliming commented on #5475
This is about deployment, I’m not familiar with it. : )

[2020-09-18 13:11] #5481 closed, assigned to mehmet-erim

[2020-09-18 13:23] hikalkan commented on #394
Published the ABP Framework & ABP Commercial 3.2.0-rc.1, so you can try the Blazor UI now: https://blog.abp.io/abp/ABP-Framework-ABP-Commercial-3.2-RC-With-The-New-Blazor-UI

Blazor UI with this release is experimental, we are completing the features.

I am currently updating the [application development tutorial](https://docs.abp.io/en/abp/3.2/Tutorials/Part-1) to support the Blazor UI.

@Xeevis,

[2020-09-18 14:09] armanozak opened #5490 "The environment.prod.ts files in Angular templates are missing rootNamespace"

[2020-09-18 14:59] gdlcf88 opened #5492 "Should remove the "host/" prefix of blob name when the blob container is set to "IsMultiTenant = false"?"
https://github.com/abpframework/abp/blob/87cb32955b367a637260545ff697e4e62900f236/framework/src/Volo.Abp.BlobStoring.Azure/Volo/Abp/BlobStoring/Azure/DefaultAzureBlobNameCalculator.cs#L15-L20

https://github.com/abpframework/abp/blob/cdae51ba1aebcf2749375ea0e5d27727613b9051/framework/src/Volo.Abp.BlobStoring/Volo/Abp/BlobStoring/BlobContainer.cs#L206-L214

If a blob name is `something`, and the bl

[2020-09-18 15:06] senthiljruby opened #5493 "Is there any possible way to increase the password minimum length and how to add mandatory to the name and surname fields of user?"

[2020-09-18 15:52] hikalkan commented on #394
For anyone didn't heard yet, @stsrki, the creator of the [Blazorise](https://github.com/stsrki/Blazorise), is joining to the core ABP Framework team in the next weeks: https://twitter.com/MladenMacanovic/status/1306878684251422720
I believe that we will do great things for the Blazor UI with the help of him :)

[2020-09-18 17:51] badre429 commented on #4121
@hikalkan  just added french culture in the pr #5494

[2020-09-18 23:51] leandro-almeida opened #5495 "Exception when using IIdentityUserRepository or IdentityUserManager"
Hi, first of all, this framework is awesome. I think the .net community is lacking some good frameworks like Abp. We need frameworks like Spring in Java.

So I'm trying to execute the following code in my **ApplicationService**:
[code]

**Exception:	{"A DbContext can only be created inside a unit of work!"}	Volo.Abp.AbpException**

I dont know if this is not permited. I've tried referencing also `

[2020-09-19 00:32] leandro-almeida commented on #5495
I forgot to mention that i'm using PostgreSQL 12.

[2020-09-19 09:20] EugeniZaplatin opened #5496 "Orecle driver for EF Core in release"
https://user-images.githubusercontent.com/11317749/93663711-05585400-fa94-11ea-9f01-af670d546a63.png

[2020-09-19 09:56] antosubash commented on #5480
There is already an issue created for React template #1638.

Here is the [Roadmap](https://docs.abp.io/en/abp/latest/Road-Map) of the features.

if you are looking for something similar now then look at [Strapi](https://strapi.io/). Hope this helps.

[2020-09-19 10:43] hikalkan opened #5497 "Update documents for the async repository LINQ extension methods"
Search for mentions of the `IAsyncQueryableExecuter` in the documents. Examples:

* https://docs.abp.io/en/abp/latest/Repositories discussion
* Turorial Part-10 (AsyncExecuter usage)

Related to https://github.com/abpframework/abp/pull/5477

The methods implemented:

* AllAsync
* AnyAsync
* AverageAsync
* ContainsAsync
* CountAsync
* FirstAsync
* FirstOrDefaultAsync
* LastAsync
* LastOrDefaultAsyn

[2020-09-19 10:49] maliming commented on #5495
hi

Try make `ObterUsuariosDoPerfilAsync` method **virtual**.
[code]

By the way, Don't use `void` as an async method return type.

[2020-09-19 10:52] maliming commented on #5493
hi

See https://github.com/abpframework/abp/issues/2755

how to add mandatory to the name and surname fields of user?

You can try custom the module.

https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Guide

[2020-09-19 10:54] maliming commented on #5496
hi

Already upgrade https://github.com/abpframework/abp/pull/5357

[2020-09-19 11:13] #5490 closed, assigned to armanozak

[2020-09-19 15:08] amsaighi opened #5498 "The Angular UI keep loading when I generate the proxy"
### Description

The Angular UI keep loading

![1](https://user-images.githubusercontent.com/3142753/93709680-83723480-fb40-11ea-81a5-f6ff7579b719.PNG)

I followed the the second tutorials " the book list Page " using **Angular and EF Core **.
After finishing the tuto, I launched the both of projects **Http.Api.Host** and **IdentityServer** .

### The issues

*  **ABP Framework version : Version 3

[2020-09-19 15:11] maxrizwork commented on #2746
I resolved for now putting
`builder.Ignore<AppUser>();`
inside the OnModelCreating method
only (important, only) when I need to use add-migration, update-database

For the rest (when I'm not updating the db ) I use the default code:
[code]

[2020-09-19 17:57] hottabych07 opened #5499 "Login/Registration UI"
Hi how can I change the user interface of the login or login page. If she is now running on the identity server. ABP.io version 3.2?
My project = ASP.NET + Angular

Thanks.

[2020-09-19 21:19] wocar commented on #394
Wow thats great news. I have a question. The default template will target server side blazor or webassembly?
I ask this because as of now, some of my apps are a hybrid between razor pages and blazor server side.

Thanks and great job!

[2020-09-20 01:25] jack-gaojz-zz opened #5500 "Audit Entity Property Name Localization requirement."
ABP Framework version: 3.1.2
Module: Volo.Abp.Auditing, Volo.Abp.EntityframeworkCore
Description: The log information does not make sense to the final user. For example, the property name change. Currently, the property name is the entity property name, not the localization name. If the user is not a developer, he can not understand the property name meaning.

So, could we can store the localizati

[2020-09-20 01:39] realLiangshiwei commented on #5500
You can custom `AuditLogContributor`: https://docs.abp.io/en/abp/latest/Audit-Logging#audit-log-contributors

In addition, I think audit logs are not for the final users, you need a business log.

[2020-09-20 01:49] jack-gaojz-zz commented on #5500
@realLiangshiwei Thanks so quick reply. I will try to follow your suggestion.

[2020-09-20 01:49] #5500 closed, assigned to nobody

[2020-09-20 06:44] eng-mohammed-emam commented on #5499
Hello,

This article explains how to change the login page.

https://docs.abp.io/en/abp/latest/UI/AspNetCore/Customization-User-Interface

[2020-09-20 07:51] hottabych07 commented on #5499
Thank you, but as I understand it for the ASP.NET MVC + RAZOR template. And I use Angular

[2020-09-20 09:37] hikalkan commented on #394
@wocar we are more focused on the webassembly at the beginning. So, default template is webassembly.

[2020-09-20 09:55] #5499 closed, assigned to nobody

[2020-09-20 09:59] eng-mohammed-emam commented on #5499
Hello,
In the newer version of ABP Framework, login page moved to identity server and the Angular project just calls the login page from the identity server.
Like this: https://identityServerUrl/account/login

[2020-09-20 10:30] eng-mohammed-emam opened #5501 "Angular UI keeps loading if you cancel login of identity server"
Hello,
* I'm using ABP Framework version 3.1.2
* User Interface: Angular.

Scenario:
When user tries to login, the Angular redirects to login page of identity server.
If you press "Cancel" button, then the angular project keeps loading with a console error.

![image](https://user-images.githubusercontent.com/33034344/93709248-7c99f080-fb45-11ea-86a0-b4c042b4e574.png)

[2020-09-20 10:34] eng-mohammed-emam opened #5502 "Add captcha in the pages Login, Register and Forget password"
Hello,

I'm using ABP Framework version 3.1.2
User Interface: Angular.

I suggest to add simple captcha with necessary settings in the pages:
* Login.
* Register.
* Forget Password.

[2020-09-20 10:39] eng-mohammed-emam commented on #5498
Hello,

I faced the same issue but after I added the first entity and made a table and then added the application service for this entity,
the command that generates proxy worked well in the Angular project.

Hope this works with you.

[2020-09-20 10:43] eng-mohammed-emam opened #5503 "Identity server :: Some translations of words are missing in pages Login and Forget password"
Hello,

I'm using ABP Framework version 3.1.2
User Interface: Angular.

Some translations of words are missing in pages Login and Forget password in the identity server project.

Is there a way to add missing translations texts in the identity server project?

The missing translations in Arabic language.

[2020-09-20 10:57] #5425 closed, assigned to hikalkan

[2020-09-20 11:03] #4594 closed

[2020-09-20 11:10] seegreen commented on #812
the problem still exists in  version 3.1.2（Stable） ,

Here is the mysql character set:
Variable_name	Value
character_set_client	utf8mb4
character_set_connection	utf8mb4
character_set_database	utf8mb4
character_set_filesystem	binary
character_set_results	utf8mb4
character_set_server	utf8
character_set_system	utf8
character_sets_dir	/u01/mysql57_20200630/share/charsets/
-----------------------------

[2020-09-20 11:27] hikalkan opened #5505 "Add filter (to search authors) to the authors page on the web development tutorial"
The DTO already has a Filter, but was not implemented.

[2020-09-20 12:54] maliming commented on #5503
hi @eng-mohammed-emam

Please refer to https://docs.abp.io/en/abp/latest/Contribution/Index#resource-localization

[2020-09-20 12:54] #5503 closed, assigned to nobody

[2020-09-20 15:50] #3301 closed

[2020-09-20 21:13] leandro-almeida commented on #5495
Hi @maliming! Thank you for fast replying!
It worked, both cases. Also i've changed to `Task` the returning type in `void` methods, thanks!
I think i will sticky to the solution that references the `UsuarioAppService` inside the PageModel, instead of `IdentityUserManager`, it is the recommended way right?

[2020-09-20 21:44] eng-mohammed-emam commented on #5503
I translated all the un-translated words into Arabic.

[abp-translation.zip](https://github.com/abpframework/abp/files/5252737/abp-translation.zip)

[2020-09-20 22:40] desmored commented on #5476
i am having the same problem after migrating to version 3.1.2. Is there any plan to release a fix version shortly?

[2020-09-20 23:24] enramgarcia opened #5506 "Amazon.Runtime.AmazonClientException: No RegionEndpoint or ServiceURL configured on BLOB Storing Aws Provider"
When using AccesssKeyId and SecretKeyId the blob storage throws a `Amazon.Runtime.AmazonClientException: No RegionEndpoint or ServiceURL configured` exception when trying to connect to AWS. The issue is caused by line 57 on `DefaultAmazonS3ClientFactory.cs`.

`return new AmazonS3Client(configuration.AccessKeyId, configuration.SecretAccessKey, configuration.Region);`

should be replaced with

`retu

[2020-09-21 01:23] maliming commented on #5503
hi @eng-mohammed-emam
Thank you! I make it work. https://github.com/abpframework/abp/pull/5507

[2020-09-21 01:25] maliming commented on #5495
hi @leandro-almeida

You should use an interface instead of a class.

Please refer to https://docs.abp.io/en/abp/latest/Best-Practices/Module-Architecture

[2020-09-21 01:33] xyfy commented on #5452
means that module A and module B can both consume a same event eto

[2020-09-21 01:33] realLiangshiwei commented on #5506
You are right, I will fix it

[2020-09-21 02:08] xdmushui commented on #394
I like "Microfrontends": https://micro-frontends.org/
It would be exciting if Blazor were microfronted.

![image](https://user-images.githubusercontent.com/3242057/93728354-2c2c9c80-fbf2-11ea-8209-3d3106008456.png)

[2020-09-21 02:52] SmallShrimp opened #5511 "How do I set EditionId to authorization"
####  **ABP Framework version** `3.1.2`.

- ***How do I set EditionId to authorization***.
I tried to get the list of features through the Edition, but couldn't because the EditionId was not included in the authorization information。What should I do？

[2020-09-21 03:33] enramgarcia opened #5512 "Generate-Proxy Angular UI error when Dtos are in a subfolder separated from interfaces."
Assuming the following structure:

[code]

Once you run abp generate-proxy command it will generate the models, and services, but the angular compiler will throw the following error:

[code]

The **index.ts** generated under **proxy** -> **common** is as follow:

    export * as Dtos from './dtos'; // Error
    export * from './address.service';

The **index.ts** generated under **proxy** -> **com

[2020-09-21 05:55] maliming commented on #5511
What is your use case?

[2020-09-21 06:06] SmallShrimp commented on #5511
I use the method `FeatureChecker.IsEnabledAsync('Account.EnableLdapLogin')` to get the result False.
My database results show that there is value.
![image](https://user-images.githubusercontent.com/8120385/93736426-dddbc580-fc12-11ea-9c32-a17e881c0773.png)

I used the tenant authorization with this feature to request data，And use the following code in the controller to get Null.
[code]

[2020-09-21 06:15] maliming commented on #5511
There is not create an `EditionId ` in claims for now. Maybe you can try it.

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpUserClaimsPrincipalFactory.cs#L14

[2020-09-21 06:19] SmallShrimp commented on #5511
If so, how should I verify the Feature?

[2020-09-21 06:19] SmallShrimp opened #5513 "Tenant distributed entity events are not triggered"
* ABP Framework version **3.1.2**.
* Tenant distributed entity events are not triggered，This is my code. **Normal before 3.1.2**
[code]

[2020-09-21 06:21] maliming commented on #5513
* Steps needed to **reproduce** the problem.

[2020-09-21 06:45] hikalkan opened #5514 "Provide a better way to apply filters for mongodb"
see https://github.com/abpframework/abp/pull/5484

I also see Identity module has usages like DbContext.Roles and it suppress filters.

[2020-09-21 07:07] PanPanCN opened #5515 "Dynamic module loading"
Loads abp modules in a specific directory

[2020-09-21 07:41] hikalkan opened #5516 "Blazor Testing"
* We should arrange the startup template to setup the test environment out of the box.
* Unit/Component test (https://bunit.egilhansen.com/ ?)
* Integration tests (only for UI side)
* Full stack tests including the server side, if possible.
* Document these.
* Add a simple test to the web development tutorial.

[2020-09-21 07:43] hikalkan opened #5517 "Server side Blazor compatibility"
We may add a second project into the startup template that is configured for Blazor server side.

[2020-09-21 07:45] hikalkan opened #5518 "PWA for Blazor UI"
We can setup the startup template, so it can (optionally?) supports PWA out of the box.

[2020-09-21 07:47] hikalkan opened #5519 "Server side pre-rendering for Blazor UI"
I currently don't know if that's possible or how to do. But we should work on that to develop search engine friendly web sites, learn and document best practices on that.

[2020-09-21 07:50] hikalkan opened #5520 "How to manage 3rd-party global js/css file dependencies of a module with the Blazor UI"
* Should we define npm packages [just like done for the MVC UI](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Client-Side-Package-Management) for the modules?
* Should we use the same system to copy files from node_modules to wwwroot/libs?
* .NET 5 Blazor will provide a way to add a a style to a page as lazy, can we benefit from it?
* Page specific dependencies or JS/CSS files?
* Change CDN usag

[2020-09-21 07:54] #5476 closed, assigned to maliming

[2020-09-21 07:54] maliming commented on #5476
Closed by https://github.com/abpframework/abp/pull/5451

[2020-09-21 08:01] hikalkan opened #5521 "Module template Blazor UI"

[2020-09-21 08:04] hikalkan opened #5522 "CLI support to download the module template with Blazor UI"
Based on https://github.com/abpframework/abp/issues/5521 Should we do something on the solution creation?

[2020-09-21 08:05] hikalkan opened #5523 "Claims should be retrieved from AuthenticationStateProvider for Blazor UI"
* Should get the claims from AuthenticationStateProvider (where? on initialization?) and change the WebAssemblyCurrentPrincipalAccessor
* Also, we can not get the Name and Surname claims now.

I can check https://github.com/JeepNL/Blazor-WASM-Identity-gRPC to learn how to get additional claims.

[2020-09-21 08:07] yekalkan commented on #5522
Probabaly no. But I'll test and see if it works.

[2020-09-21 08:08] SmallShrimp commented on #5511
I found a bug，By default the Edition has all the features。But these data are not stored in the database。
If the database does not have corresponding data，`FeatureChecker.IsEnabledAsync` method can't output right results.

[2020-09-21 08:09] hikalkan opened #5524 "Interactive Validation model for the Blazor UI"
Can we automate or simplify the validation stuff, with localization?

* Should support data annotation validations
* Should support IValidatableObject
* Should support FluentValidation (with low priority and we can create a separate issue for that)

Initially, we can implement the validation for the user create and edit modals of the identity module and then we discuss on it (before deciding to im

[2020-09-21 08:09] maliming commented on #5511
All boolean features should be `false` by default.

[2020-09-21 08:11] hikalkan opened #5525 "Exception Handling for the Blazor UI"
- [x] We can handle using a custom logger and removing the yellow bottom line.
- [x]  Should handle special exception types, like AbpRemoteCallException, AbpValidationException, AbpAuthorizationException
- [x]  Handle HTTP Error Codes (401, 403, 404, 500) comes from remote server calls

[2020-09-21 08:14] SmallShrimp commented on #5511
look this !
![image](https://user-images.githubusercontent.com/8120385/93744963-42a01b80-fc25-11ea-8e2b-91c1ea5b2df9.png)
***I didn't make any changes***，but all items are selected

[2020-09-21 08:15] hikalkan opened #5526 "Blazor: Refresh the UI on configuration change"
We can just re-request the app configuration endpoint and refresh (not reload) the UI.

Some of the features are effected by this:

- Localization
- Permissions
- Settings
- ...

[2020-09-21 08:17] hikalkan opened #5527 "Blazor: Implement IComponentActivator to get components from DI"
Waits for .NET 5 upgrade.

[2020-09-21 08:18] gdlcf88 commented on #5337
You may need to upgrade the client-side packages:
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Client-Side-Package-Management#using-the-gulp

[2020-09-21 08:22] #5337 closed, assigned to nobody

[2020-09-21 08:26] maliming commented on #5511
* Steps needed to **reproduce** the problem.

[2020-09-21 09:00] hikalkan opened #5529 "Blazor: Complete the Basic Theme"
* Header
  * Branding (uses `IBrandingProvider`)
  * Main menu (uses `IMenuManager`)
  * Main Toolbar (waits for https://github.com/abpframework/abp/issues/5531)
    * Language switch
    * User menu
      * Manage account
      * Logout
* Page Alerts (waits for https://github.com/abpframework/abp/issues/5530)
* Content (body)

[2020-09-21 09:09] hikalkan opened #5530 "Blazor: Page Alert system"
Just like the MVC UI, we can create an infrastructure that any code can add alerts to the page, optionally focus, make it dismissable (default) or sticked.
The theme layout is responsible to render it in a proper plage.

[2020-09-21 09:10] SmallShrimp commented on #5511
I cannot reproduce the problem，because when I use a brand new project, the problem is gone.
But I still think there is a problem with the ui of the `Feature Setting`.
look :
1. beafore setting:
![image](https://user-images.githubusercontent.com/8120385/93749558-ac6ff380-fc2c-11ea-95d3-63d66c0d0c2f.png)
2. setting:
![image](https://user-images.githubusercontent.com/8120385/93749697-ef31cb80-fc2c-11

[2020-09-21 09:15] hikalkan opened #5531 "Blazor: Toolbar system"
To show items on the main toolbar

[2020-09-21 09:25] hikalkan opened #5532 "Blazor: Change CDN usages to local files in the startup template"
Related to https://github.com/abpframework/abp/issues/5520

[2020-09-21 09:41] #5485 closed, assigned to maliming

[2020-09-21 09:50] Nokecy opened #5533 "How To Disable User"
How To Disable User

[2020-09-21 10:01] armanozak opened #5534 "Docs: Add a comprehensive quick start guide for Angular UI"
-

[2020-09-21 10:13] amsaighi commented on #5498
Hello,
I added a new entity, service then I generate the new proxy, after that it still loading, when I inspect the network application I get this
this : localhost:4200 OpenId still pending
![1](https://user-images.githubusercontent.com/3142753/93752393-e3c7ab80-fbfe-11ea-8a3e-bc6f7c732328.PNG)

https://localhost:44335/ in Acme.BookStore.IdentityServer applicationConfigurationScript still pending

[2020-09-21 11:11] hikalkan commented on #394
Getting started & Web Application Development tutorials are updated for the Blazor UI:

* Getting started with Blazor: https://docs.abp.io/en/abp/3.2/Getting-Started?UI=Blazor
* Web application development with Blazor: https://docs.abp.io/en/abp/3.2/Tutorials/Part-1?UI=Blazor

Also, just released the v3.2.0-rc.2.

[2020-09-21 11:26] Guldaneoncul opened #5536 "Which template makes sense to use?"
We are thinking of adopting ASP.NET Boilerplate for our next project. Just a bit confused as there seems to be 2 different websites for it and 2 different Git repositories.

First one is https://aspnetboilerplate.com/
and second is https://abp.io/.

our project consists of the backend and the frontend. web api is being created with asp.net core on the backend. Angular will be used on the frontend.

[2020-09-21 11:56] maliming commented on #5511
Without steps we can't confirm the problem.

[2020-09-21 12:34] maliming commented on #5533
You can search on google. this more related to asp net core identity.

https://www.google.com/search?q=asp%20net%20core%20Identity%20disable%20user

[2020-09-21 12:34] #5533 closed, assigned to nobody

[2020-09-21 12:39] maliming commented on #5536
hi

Please see https://github.com/abpframework/abp/issues/5367

[2020-09-21 13:13] Stirda opened #5537 "How to silent BackgroundJobsDbContext logging?"
It is useful since ABP 3.1 that Serilog writes to console.

But `AbpBackgroundJobs` is really spamming.

[code]

How to keep logging to console but filtering out `BackgroundJobs` queries?

[2020-09-21 13:17] #5534 closed, assigned to armanozak

[2020-09-21 13:22] Guldaneoncul commented on #5536
thanks

[2020-09-21 14:02] maliming commented on #5537
hi

You can refer to the Microsoft's document.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/logging/?view=aspnetcore-3.1#log-level

[2020-09-21 14:30] Stirda commented on #5537
Thank you @maliming but your link points to a section describing log level filtering. Again, I am interested by nearly all the current Serilog logging (especially for spying my queries) but I only want to silent out `BackgroundJobs` queries. If I tell Serilog to silent out Information level, I am afraid that all the queries will be missing.

[2020-09-21 14:41] jack-gaojz-zz opened #5539 "How to uninstall the old ABP CLI version or upgrade the ABP CLI?"
![image](https://user-images.githubusercontent.com/40879710/93780510-d7713c00-fc5a-11ea-8ae7-6f931981af55.png)

When I plan to upgrade the latest ABP CLI, but failed.
`dotnet tool update -g Volo.Abp.Cli`
The error messages as below:
**Tool 'volo.abp.cli' failed to update due to the following:
Failed to create shell shim for tool 'volo.abp.cli': Command 'abp' conflicts with an existing command from

[2020-09-21 15:39] amsaighi commented on #5539
Hello,

I tried and I get the same result,
to get the lastest **abp** you can use other ways

`  > switch-to-preview: Switches packages to preview ABP version.`
`   > switch-to-stable: Switches packages to stable ABP version from preview version.`
`  > switch-to-nightly: Switches packages to nightly preview ABP version.`

[2020-09-21 17:00] hikalkan opened #5540 "Feature management module Blazor UI"
Should be aligned with the MVC/Angular UI

[2020-09-21 17:03] hikalkan opened #5541 "Setting management Blazor UI"
With the same features of the MVC/Angular UI. Allow to add components by the modules

[2020-09-21 17:09] hikalkan opened #5542 "Blazor UI Permission management optimization"
We can optimize by not calculating the "select all"s, but re-setting after each change.

[2020-09-21 17:11] hikalkan opened #5543 "Lazy load Blazor modules/assemblies"
We should work on a general system to lazy load module assemblies.
Need to upgrade to .NET 5: https://docs.microsoft.com/en-us/aspnet/core/blazor/webassembly-lazy-load-assemblies

[2020-09-21 17:15] ghasemi1994 commented on #2228
@nobilegend
use bleow code

      app.UseAuthentication();
      app.UseRouting();
      app.UseAuthorization();

[2020-09-21 17:16] hikalkan opened #5544 "Tenant Management Blazor UI"

[2020-09-21 17:18] hikalkan opened #5545 "Finalize the Identity module Blazor UI"
Finalize the Identity module Blazor UI

[2020-09-21 17:45] hikalkan opened #5546 "Blazor UI: Forms should submit via enter key"
We didn't implement this for the identity module yet. We probably need to wrap the form with a form tag and make the button "submit".

@cotur we need to update the current forms based on this.

[2020-09-21 17:47] hikalkan opened #5547 "Blazor: Focus the first input when opening a modal"
For large screens, because it can be problem for mobile devices. It would be good if we can make this automatic out of the box.

[2020-09-21 17:49] hikalkan opened #5548 "Blazor: Focus the search area on page load"
Only for large screen devices since it can be a problem for mobile devices

[2020-09-21 17:56] hikalkan opened #5549 "Implement Blazorise DataGrid filters"
Can we automate to send selected filters to the backend with a standard format and process there? We will work on a model.

[2020-09-21 18:41] hikalkan opened #5550 "BlazoriseCrudPageBase enhancements"
- [x] Add Create, Edit & Delete policy names.
- [x] Consider to create a version with separate view models for list item, create & update forms
- [x] Rename to `AbpCrudPageBase` to be more explicit and simple.

[2020-09-21 18:44] hikalkan opened #5551 "Blazor: Complete the IUiMessageService"
Implement using custom later. We can try to use sweetalert

[2020-09-21 18:45] hikalkan opened #5552 "Blazor: IUiNotificationService to show toastr style notifications"
We can try to integrate Toastr or develop own own.

You can get help from @stsrki ;)

[2020-09-21 18:47] hikalkan opened #5553 "Blazor: IUiBlockService to block the page or a component"
IUiBlockService to block the page or a component

[2020-09-21 18:49] hikalkan opened #5554 "Blazor UI: Progress bar / loading indicator"
Especially for server side API calls, we should show a progress bar or some kind of loading indicator. This should be done automatically wherever possible (we can do it with an HttpClient handler).

[2020-09-21 18:52] hikalkan opened #5555 "Blazor: Disable button(s) until an operation completes on the related form"
We should do this automatically if possible. For example, we should disable submit/cancel/close buttons for a modal if the form is submitted, until it completes.

[2020-09-21 18:53] vd3d commented on #5450
Thanks a lot,

I have try with Xamarin, but unfortunately I have a DLL conflict:

`Error	CS1703	Multiple assemblies with equivalent identity have been imported: 'C:\Users\ClubberLang\.nuget\packages\system.reflection.emit\4.3.0\ref\netstandard1.1\System.Reflection.Emit.dll' and 'C:\Program Files (x86)\Microsoft Visual Studio\2019\Professional\Common7\IDE\ReferenceAssemblies\Microsoft\Framework\Xam

[2020-09-21 19:19] hikalkan opened #5556 "Docs module: Parametric pages doesn't work well with mobile safari"
Parametric pages doesn't work well with mobile safari

Go to the page https://docs.abp.io/en/abp/3.2/Tutorials/Part-1?UI=Blazor&DB=EF and click the the next page. It switches back to MVC.

[2020-09-21 23:41] leandro-almeida commented on #5495
Hi @maliming thanks for your support!
I have already extracted the interface. Much better now. Thanks!

[code]

[2020-09-22 01:01] #5495 closed, assigned to nobody

[2020-09-22 01:09] maliming commented on #5537
hi

You can search it in asp net core or ef core.  ABP is just using the it to write the log.

https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging?tabs=v3#filtering-what-is-logged

[2020-09-22 01:11] maliming commented on #5539
hi

`Volo.Abp.Cli` is dotnet tool. and it's published on [nuget.org](https://www.nuget.org/packages/Volo.Abp.Cli/3.2.0-rc.2).

You can refer to: https://docs.microsoft.com/en-us/dotnet/core/tools/global-tools

[2020-09-22 01:11] #5539 closed, assigned to nobody

[2020-09-22 05:58] hikalkan opened #5557 "Blazor: Auto combobox (dropdown) for enum properties on forms"
Implement localization & validation too.

[2020-09-22 06:02] hikalkan opened #5558 "Blazor: Dynamic forms & auto inputs"
We have tag helpers [abp-input](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Form-elements) and [abp-dynamic-form](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Tag-Helpers/Dynamic-Forms) and they significantly increases productivity when we work with forms.

We will think a similar system for the Blazor UI

[2020-09-22 06:04] hikalkan opened #5559 "Blazor Auto fill the columns of a datagrid from the model"
Auto fill the columns of a datagrid from the model and allow to override on need

[2020-09-22 06:10] #5470 closed, assigned to realLiangshiwei

[2020-09-22 06:10] realLiangshiwei commented on #5470
https://github.com/abpframework/abp/pull/5474

[2020-09-22 06:10] hikalkan opened #5560 "Blazor: Entity Actions component"
We add actions to the DataGrid almost in all pages. It causes repeating code. We can create a component that we can simply add the actions column.

![image](https://user-images.githubusercontent.com/1210527/93848599-c227fc00-fcb2-11ea-82e1-130e2c99b790.png)

Features;

* Allows to set a policy (permission) for each action and hide the action if no permission
* If none of the action policies was gr

[2020-09-22 06:12] realLiangshiwei commented on #5483
Close by https://github.com/abpframework/abp/pull/5484

[2020-09-22 06:12] #5483 closed, assigned to realLiangshiwei

[2020-09-22 06:13] hikalkan opened #5561 "Blazor: Auto warn if a modal form was changed but not saved"
Just like we've done for the MVC UI.

[2020-09-22 06:15] realLiangshiwei commented on #5464
Close by https://github.com/abpframework/abp/pull/5468

[2020-09-22 06:15] #5464 closed, assigned to realLiangshiwei

[2020-09-22 06:23] #5506 closed, assigned to realLiangshiwei

[2020-09-22 06:34] sebitsi commented on #5560
@hikalkan Good suggestion.

I have another two on top of yours:

- actions are often linked with some validation function that enable/disable it.
  For example:
  If we have two actions "Set as read", "Set as unread" and item(row) with "IsReaded" field with value set to true then first
         action is disabled and second is enabled. And vice versa.
  So, if we can inject some function into acti

[2020-09-22 06:56] hikalkan opened #5562 "Can we show (preview) for the preview versions on the docs version list"
![image](https://user-images.githubusercontent.com/1210527/93851944-c0156b80-fcb9-11ea-93d2-faadd5578559.png)

Like "3.2 (preview)" here.

[2020-09-22 07:19] amsaighi commented on #5498
ping @mehmet-erim

[2020-09-22 08:13] #5324 closed, assigned to armgnunlu

[2020-09-22 08:25] bnymncoskuner commented on #5328
Merged into rel-3.2

[2020-09-22 08:25] #5328 closed, assigned to bnymncoskuner

[2020-09-22 08:39] jack-gaojz-zz commented on #5539
I try to install the "Volo.Abp.Cli" and it always throws the error message as below:
![image](https://user-images.githubusercontent.com/40879710/93860782-2918d580-fcf2-11ea-8ddb-891c1224d669.png)
So I have to uninstall the previous version firstly. :(

[2020-09-22 08:41] wakuflair commented on #55
I created this repo: https://github.com/EasyAbp/Abp.DynamicEntity
maybe helpful.

[2020-09-22 09:07] yekalkan commented on #5539
@jack-gaojz

1) Open `%USERPROFILE%\.dotnet\tools` directory, delete abp.exe.

2) Then open `.store` folder and delete `volo.abp.cli` folder.

3) Run `dotnet tool install Volo.Abp.Cli -g` command.

[2020-09-22 09:15] jack-gaojz-zz commented on #5539
It works, thanks so much. 👍

[2020-09-22 09:24] hikalkan opened #5564 "Multi-Tenancy documentation improvements"
There are some TODOs in this document. We should complete it.

[2020-09-22 09:43] armanozak opened #5565 "Styles and width property on img element is cleared in compiled docs site"
HTML in the markdown:

[code]

HTML on GitHub:

[code]

HTML on ABP.io:

[code]

The style and the `width` property is gone. The visual difference is below.

Screenshot from GitHub:

<img width="1074" alt="angular-project-structure-github" src="https://user-images.githubusercontent.com/15855540/93865117-8ac74880-fcce-11ea-9f1b-9d544aad3ad0.png">

Screenshot from ABP.io:

<img width="1241" alt="ang

[2020-09-22 10:04] wingqing1314 opened #5566 "How to use dbcontext after a request end?"
In my needs ,I need to start a task to operate db in a request ，but there is a error below：
Cannot access a disposed object. A common cause of this error is disposing a context that was resolved from dependency injection and then later trying to use the same context instance elsewhere in your application. This may occur if you are calling Dispose() on the context, or wrapping the context in a usin

[2020-09-22 10:04] mehmet-erim commented on #5498
Hi @amSaighi

Please check the browser console, do you see any errors?

[2020-09-22 10:11] mehmet-erim commented on #5498
Hi @maliming

Can you check the problem? Apparently the problem is caused by the backend.

[2020-09-22 10:23] xyfy commented on #5452
![image](https://user-images.githubusercontent.com/7838147/93870974-89167880-fd00-11ea-8d99-efeea2b6f725.png)
when the event hanlder cause an exception ,   the message is in unack and can not  consumer it again?

[2020-09-22 10:25] maliming commented on #5498
hi @amSaighi

Please share some code. eg Application services or controllers.

[2020-09-22 10:38] amsaighi commented on #5498
Hi @maliming
When I tried to debug and to know the root cause, I think it with backend and exactly with some abp DLL.
It take a lot of time to see the result, see the screenshot

![3](https://user-images.githubusercontent.com/3142753/93872315-4177f880-fcd0-11ea-88cb-bc0e434fd047.PNG)

![4](https://user-images.githubusercontent.com/3142753/93872342-49d03380-fcd0-11ea-9409-f4d4b6a2c37a.PNG)

[2020-09-22 11:01] maliming commented on #5498
Can you share the steps to reproduce this problem?

[2020-09-22 11:14] amsaighi commented on #5498
Yep sure,
Abp -v : **3.1.2 (Stable)**

- Create entity,
- Create App service

Angular -v : **10.0.10**

- Generate proxy

**Run** : http, and identity Server, and Angular
ping @maliming

[2020-09-22 11:37] numanrauf opened #5568 "Maximum call stack size exceeded"
While generating proxy gives error
upgraded project from 2.9 to 3.1
also updated my solution accordingly:
https://docs.abp.io/en/abp/latest/UI/Angular/Service-Proxies

Error:
PS D:\Projects\Hadir\angular\angular> abp generate-proxy
[14:36:09 INF] ABP CLI (https://abp.io)
[14:36:09 INF] Version 3.1.2 (Stable)
Maximum call stack size exceeded

[2020-09-22 12:22] hikalkan opened #5570 "Fix Cms Kit failing tests"
MongoDB tests need to disable transaction, but didn't investigate the others.

![image](https://user-images.githubusercontent.com/1210527/93881289-6035b980-fce7-11ea-8107-29948e34d04d.png)

[2020-09-22 12:36] hikalkan commented on #5339
Resolved by https://github.com/abpframework/abp/pull/5569

[2020-09-22 12:36] #5339 closed, assigned to hikalkan

[2020-09-22 12:36] maliming commented on #5568
Will be fixed in 3.2 https://github.com/abpframework/abp/pull/5295

[2020-09-22 12:36] #5568 closed, assigned to nobody

[2020-09-22 13:08] #5266 closed, assigned to yekalkan

[2020-09-22 13:11] sebitsi opened #5572 "Authorization failed! Given policy has not granted"
Hi !

I have same problem error as @ertucaglar in #5220 .
I'm using ABP 3.1.1.

When backend is starting in Visual studio on local machine i can loggin using /account/login and after that executin f.e. editions get method.

But if i deploy to ISS on application in sub folter for example http://some.domain.si/vspi/api i can

- login on http://some.domain.si/vspi/api/account/login
- execute method w

[2020-09-22 13:37] bnymncoskuner commented on #5192
We should discuss this in the future. For now, it is okay to leave it as is.

[2020-09-22 13:48] #5521 closed, assigned to cotur

[2020-09-22 14:01] hikalkan opened #5574 "Update the Blazor tutorial based on 3.3.0 changes"
See the following changes:

- https://github.com/abpframework/abp/issues/5550

[2020-09-22 14:03] maliming commented on #5498
hi

Can you provide detailed steps? Or a project. : )

[2020-09-22 16:09] maskalek commented on #57
Hey guys. Any progress/news? Considering option to migrate on your framework and but we would really love to keep working with MediatR.

[2020-09-22 17:24] hikalkan commented on #5546
Implemented this with https://github.com/abpframework/abp/commit/d0a1dffc76b6f2f38616556d0f57e8b9af0dc526

@cotur, can you implement it for the other forms for the currently implemented modules?

* Wrap the form fields (inside modal body) with ` <EditForm id="UNIQUE-FORM-ID" Model="@NewEntity" OnValidSubmit="CreateEntityAsync">`
* Set `form="UNIQUE-FORM-ID"` for the submit button.

Form Ids should

[2020-09-22 17:26] hikalkan commented on #5546
We can include this to this PR and merge together: https://github.com/abpframework/abp/pull/5575

[2020-09-22 18:48] maxrizwork opened #5577 "Duplicate type with name 'VoloAbpIdentityServerDomainShared_ProcessedByFody' in assembly 'Volo.Abp.IdentityServer.Domain.Shared"
I'm using abp ver3.0.5 with an MVC app based on standard template.
Everything was working perfectly and most probably (not 100% sure) after a publish on Azure I started to have this fatal error during the
`CreateHostBuilder(args).Build().Run();`
inside the program.cs on my .Web project.

Precisely the error is:
Duplicate type with name 'VoloAbpIdentityServerDomainShared_ProcessedByFody' in assembl

[2020-09-22 18:52] amsaighi commented on #5498
Hi @maliming
As I said in the top, u can try the example : https://docs.abp.io/en/abp/latest/Tutorials/Part-2?UI=NG&DB=EF
with the same version of Angular and ABP

Thank you :D

[2020-09-22 20:19] maxrizwork commented on #5577
I solved it cleaning completely \obj and \bin folders.
Then first I recompiled abp using build-all.ps1
Then I passed to my solution doing the same.

In this way disappeard.
I hope this will help someone in the future with the same problem.

[2020-09-22 20:19] #5577 closed, assigned to nobody

[2020-09-22 20:51] sebitsi commented on #5572
Hi. After some digging and searching i found that my problem is related to #5138 and [SameSite Cookie Changes](https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/).
All this is explained in [How to fix the Chrome login issue for the IdentityServer4](https://community.abp.io/articles/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem

[2020-09-23 01:27] maliming commented on #5498
I tried from scratch following the steps in the document,  Can't reproduce.

[code]
![image](https://user-images.githubusercontent.com/6908465/93953762-da654d00-fd7e-11ea-9499-6e74ccb4ede6.png)

[2020-09-23 01:46] JohnnyZhang0628 commented on #2716
I also encountered this problem
![image](https://user-images.githubusercontent.com/28375774/93981500-a7d54780-fdb2-11ea-84b7-cd3ec6d956f3.png)
I Commented configure code, and deleted DashboardDemoPermissionDefinitionProvider.cs .It still not work.What should i do?
[code]

[2020-09-23 03:14] khinhvuphiduong opened #5578 "Authorization failed! Given policy has not granted when use await AuthorizationService.CheckAsync(policyName)"
Dear all,
I call API http://localhost:65115/api/permission-management/permissions?providername=R&providerkey=admin to get permission list. Below is the CheckProviderPolicy method in PermissionAppService Class, if I use await keyword, API will going error, but I use ConfigureAwait(false) API run correctly. I don't know why and how to fix it?

Thanks you for you support!

[code]

**ERROR:**
`{
    "

[2020-09-23 03:43] realLiangshiwei commented on #5578
Actually `AuthorizationService.CheckAsync(policyName).ConfigureAwait(false);` will also get the exception.

The code should be `await AuthorizationService.CheckAsync(policyName).ConfigureAwait(false);`.  actually the method is **not executed!**

The error message is **Authorization failed! Given policy has not granted**, you need to check your code, configuration, etc..

[2020-09-23 04:45] khinhvuphiduong commented on #5578
Thanks Sir for your reply,

My problem may be i misktake when DI, I used **AbpPermissionManagementDomainIdentityServerModule** for **AbpPermissionManagementApplicationModule** in permission-management module, it is wrong, and **AbpPermissionManagementDomainIdentityModule** is what I should use.

[2020-09-23 04:46] #5578 closed, assigned to nobody

[2020-09-23 05:02] nischalsanghal commented on #5187
Any thoughts or suggestions. Did you guys try with a private repository to see the behavior with latest code?

[2020-09-23 06:21] leonkosak commented on #5572
After upgrading abp from v3.0.4 to v3.1.2 (Angular GUI, **non-separated** Identity Server), I have the login issue to:

![image](https://user-images.githubusercontent.com/39346964/93974040-84d87280-fd75-11ea-8c9a-d8a6612d81b7.png)

Log:

[code]

[2020-09-23 07:24] #5570 closed, assigned to yekalkan

[2020-09-23 07:31] fmpfmp commented on #4086
us guid as primary key type is a bad design

[2020-09-23 07:34] yekalkan opened #5581 "Cli: add-module command should add angular npm packages"
...

[2020-09-23 07:34] fmpfmp commented on #2677
@LGinC

ConventionRegistry.Register("StringObjectIdRepresentationConvention", new ConventionPack { new StringObjectIdRepresentationConvention() }, t => true);

public class StringObjectIdRepresentationConvention : ConventionBase, IPostProcessingConvention
    {
        public void PostProcess(BsonClassMap classMap)
        {
            foreach (var memberMap in classMap.DeclaredMemberMaps)

[2020-09-23 08:10] sebitsi commented on #5572
@leonkosak
I suggest you to try login on server first (.../api/account/login).
If it works then you have problems on angular site. If not this is api (server) side problem.

As you can see errors in your log is in mine too. But app still works.
I think this info messages is not reasons for your error.

[2020-09-23 08:17] #5581 closed, assigned to yekalkan

[2020-09-23 08:34] #5546 closed, assigned to cotur

[2020-09-23 08:34] #5550 closed, assigned to hikalkan

[2020-09-23 08:41] leonkosak commented on #5572
Crap, I had to change requireHttps property in Angular environment configuration to false.
![image](https://user-images.githubusercontent.com/39346964/93988609-3634d380-fd89-11ea-9a03-387c6d29bdec.png)

I don't know how this worked in previous versions....

[2020-09-23 08:43] amsaighi commented on #5498
Did you try it with ABP and Angular ? @maliming
I did the test again for the 3rd time and always the same result, as soon as I get an answer I share the screen.

New project  ABP **Version 3.1.2 (Stable)** with Angular

![3](https://user-images.githubusercontent.com/3142753/93988848-7d22c900-fd89-11ea-928c-169db07b5653.PNG)

Still waiting

![1](https://user-images.githubusercontent.com/3142753/939

[2020-09-23 08:46] mehmet-erim opened #5582 "ngx-toastr styles are overriding the ToastComponent styles"
![image](https://user-images.githubusercontent.com/34455572/93989284-6339b400-fd92-11ea-9018-c8ff4b32f19f.png)

[2020-09-23 09:03] amsaighi commented on #5498
Look, @maliming
9.7 min for openId-configuration

![4](https://user-images.githubusercontent.com/3142753/93991218-50bc7c00-fd8c-11ea-9dbf-5ff34fede2b5.PNG)

12.8 min login

![5](https://user-images.githubusercontent.com/3142753/93991241-5a45e400-fd8c-11ea-98e3-66527f27e910.PNG)

[2020-09-23 09:19] #5371 closed, assigned to armanozak

[2020-09-23 09:33] AdemAygun opened #5583 "Abp 3.1 not redirect to login page on server"
* Version **Abp 3.1**.
* User Interface **Angular**.
* No Exception message

We have created our ABP with Angular project in ABP 3.0 then upgraded to 3.1 via instructions on abp blog page.
On localhost everything works fine. After deploy to Centos7 (serve via ngingx), Login button and link does not give any error but do not redirect to any page (although Razor Login page comes in localhost).
https

[2020-09-23 09:40] maliming commented on #5498
hi @amSaighi

Are your Redis works normal?

[2020-09-23 10:03] #5522 closed, assigned to yekalkan

[2020-09-23 10:20] armanozak opened #5584 "Docs: Update Angular documentation structure"
.

[2020-09-23 11:34] amsaighi commented on #5498
ping @maliming
in console I have only this us info : `NgxsModule.forRoot(states, { development Mode: !environment.production })`

The Angular tooks a lot of time to get the right URL, it still waiting for the answer.

[2020-09-23 11:36] #5564 closed, assigned to hikalkan

[2020-09-23 11:49] aricyu opened #5586 "An error occurred When"Generic Repository without a Primary Key""
* ABP Framework version：3.1.1.

Documentation：

My Code:
[code]

Error:
[code]

[2020-09-23 11:51] maliming commented on #5586
Duplicate of #5390

[2020-09-23 11:51] #5586 closed, assigned to nobody

[2020-09-23 12:38] ChiakiYu commented on #5390
@buxueke
hi
[code]
Is ok like this?
I reported an error here:
[code]

[2020-09-23 12:46] amsaighi commented on #5498
check it please : https://github.com/amSaighi/ABP-Angular

@maliming @mehmet-erim

[2020-09-23 12:54] maliming commented on #5498
Can't reproduce.

![image](https://user-images.githubusercontent.com/6908465/94015083-fa2c5d80-fdde-11ea-8266-e8539e6b2e25.png)

[2020-09-23 13:13] amsaighi commented on #5498
it's awkward, I ll try to same example in another machine.

[2020-09-23 13:15] armanozak opened #5587 "Docs: Improve service proxies document"
.

[2020-09-23 13:17] #5584 closed, assigned to armanozak

[2020-09-23 13:49] AdemAygun commented on #5583
It seems subject of devops

[2020-09-23 13:49] #5583 closed, assigned to nobody

[2020-09-23 14:25] #5587 closed, assigned to armanozak

[2020-09-23 14:59] #5540 closed, assigned to cotur

[2020-09-23 16:50] leonkosak opened #5589 "Feature suggestion: Identity Server - multiple valid issuers"
Based on "modern" deployment methods (Docker, reverse proxy,...) there are some challenges how to deal with authentication (especially with "issuer").
For instance: https://github.com/abpframework/abp/issues/5125#issuecomment-683922623

Related posts:

https://leastprivilege.com/2017/10/09/new-in-identityserver4-v2-simplified-configuration-behind-load-balancers-or-reverse-proxies/

https://blog.no

[2020-09-23 18:24] armanozak opened #5590 "Docs: Describe how ABP Angular feature libs work"
.

[2020-09-24 01:06] maliming commented on #5498
Are your Redis server works normal?

[2020-09-24 02:34] 274188A commented on #394
this comment by Steve Sanderson is worth a read: https://github.com/dotnet/aspnetcore/issues/24599#issuecomment-697588562

[2020-09-24 04:46] khinhvuphiduong opened #5592 "Microservices communication Confirmation"
Dear all, dear ABP team
I'm sorry for my dumb question (and my English),

I'm very confused about Microservices communication with other in ABP Framework, in my view I understand the followings:

1. **InternalGateway** is used for another backend app call to  Microservice? Not for Microservice Communication?

2. If Microservice A want communication with Microservice B, it's must **publish** a mess

[2020-09-24 05:00] khinhvuphiduong commented on #5592
In this doc [https://docs.abp.io/en/abp/latest/Samples/Microservice-Demo](url)
Description about InternalGateway:
**InternalGateway.Host:** Used for inter-service communication (the communication between microservices).

But I can't find any demo for Microservice call directly Microservice via InternalGateway..

[2020-09-24 05:18] leonkosak commented on #5589
Now, when I look for new "Authorization Code Flow for the Angular UI" - is this maybe solution for "issuer problem" described in this topic?
Because of redirects to and from IDS back to Angular app, property "Authority" on API side (appsettings.json) could be an internal address (for instance in Docker network) to IDS?

@hikalkan, @maliming? Do I understand correctly this new workflow for Angular

[2020-09-24 05:36] xewn commented on #5592
I think abpframework is still very inadequate in terms of microservice architecture. A more appropriate description of the current abpframework should be a modular solution based on .net core.
There may be incorrect understanding, sorry

[2020-09-24 07:17] yeahe83 commented on #3351
Since ConcurrencyStamp is frequently used in edit methods, why not add some default logic for it at the application layer.

[2020-09-24 07:23] #3487 closed

[2020-09-24 07:32] #5389 closed, assigned to mehmet-erim

[2020-09-24 09:10] dvolonnino opened #5595 "Abp with Entity Framework is not working with Hangfire"
Version 3.2.0-rc.2 (Prerelease)

When calling _users.Any(); I get the error:

[code]

Seems dispose is getting called early. I was able to reproduce in a clean template with just the following code;

[code]

[2020-09-24 09:18] maliming commented on #5595
Try to make the method virtual.
[code]

https://docs.abp.io/en/abp/latest/Unit-Of-Work

[2020-09-24 10:03] amsaighi commented on #5498
Why redis ?
look the same repo in my VM Azure, I clone it and I get the same result
FYI : I using EF Core with SqlServer management

![1](https://user-images.githubusercontent.com/3142753/94131183-e3791b80-fe5d-11ea-93ec-768f31421288.PNG)

ping @maliming

[2020-09-24 10:32] #4879 closed

[2020-09-24 10:39] #5590 closed, assigned to armanozak

[2020-09-24 10:55] buxueke opened #5596 "why CurrentUser's username is null"
currentUser:
isAuthenticated: true
id: "946321ab-d89f-1b80-5941-39f78e88cdcf"
tenantId: null
userName: null
email: "admin@abp.io"
roles: ["admin"]

[2020-09-24 11:16] yekalkan commented on #4065
I don't think running `yarn` & `gulp` is a hard task compared to running `abp update` again.

[2020-09-24 11:16] #4065 closed

[2020-09-24 11:31] hikalkan commented on #5492
What if you later change your application to be multi-tenant? All your BLOB data become lost. I suppose I did it intentionally because of this reason.

[2020-09-24 11:36] #5531 closed, assigned to hikalkan

[2020-09-24 11:43] gdlcf88 commented on #5492
Hi @hikalkan,

I think when it is changed to be multi-tenant, developers should handle the existing BLOBs themself.

But, maybe the above need should not exist. A BLOB container with `IsMultiTenant = false` is usually used to store system-level BLOBs (such as certificates). If there is a container that may need multi-tenancy, it should be set `IsMultiTenant = true` even if there is only one tenant

[2020-09-24 11:56] hikalkan commented on #5235
Hi,

Can you write your method here? For example, I am getting 401 when I try this:

![image](https://user-images.githubusercontent.com/1210527/94141735-de27cb00-fe75-11ea-8e55-c69c7e688ec9.png)

Also, how you are calling it? Using an external tool? Please write the steps to re-produce it.

[2020-09-24 12:42] realLiangshiwei commented on #5596
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-09-24 17:46] aicreed commented on #394
I've just been giving the ABP Book example stuff a go and I'm running into an odd issue when trying to edit a Book.
` System.Object -> AbpBlazorTest.Books.CreateUpdateBookDto
AutoMapper.AutoMapperMappingException: Missing type map configuration or unsupported mapping.`

Adding a mapping configuration for object --> CreateUpdateBookDto works but this can't be correct can it? I suspect there's somet

[2020-09-24 17:51] iandidsbury commented on #394
Can’t map to object. It will be map from entity to DTO or DTO to entity.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Adam Creed <notifications@github.com>
Sent: Thursday, September 24, 2020 6:47:17 PM
To: abpframework/abp <abp@noreply.github.com>
Cc: Ian Didsbury <ididsbury@ICSS-Net.com>; Manual <manual@noreply.github.com>
Subject: Re: [abpframework/abp] SPA

[2020-09-24 17:54] hikalkan opened #5600 "Blazor: Implement animations"
We need animations like slidedown/slideup on menu open/close, fadein/fadeout on modal open/close.... There are some libraries like https://github.com/mikoskinen/Blazor.Animate

[2020-09-24 17:55] aicreed commented on #394
The error message I'm getting is before mapping it to an object. Adding a mapping configuration to System.Object resolves the error.
Must be something else wrong here as I don't see why CreateUpdateBookDto needs a map to object in the first place?

[2020-09-24 17:57] iandidsbury commented on #394
Mapping to an object doesn’t make sense.  CreateUpdateBookDto needs to me to the book entity.

From: Adam Creed <notifications@github.com>
Sent: 24 September 2020 18:55
To: abpframework/abp <abp@noreply.github.com>
Cc: Ian Didsbury <ididsbury@ICSS-Net.com>; Manual <manual@noreply.github.com>
Subject: Re: [abpframework/abp] SPA template using Blazor (#394)

The error message I'm getting is before m

[2020-09-24 18:00] aicreed commented on #394
Its already mapped to the Book entity however the error still persists. This is my automapper configuration:

`          CreateMap<Book, BookDto>();
            CreateMap<CreateUpdateBookDto, Book>();
            CreateMap<CreateUpdateBookDto,BookDto>();
          CreateMap<object,CreateUpdateBookDto>(); `

[2020-09-24 18:03] iandidsbury commented on #394
CreateMap<Book,CreateUpdateBookDto>();
CreateMap<CreateUpdateBookDto, Book>();

Needs to be both ways.

From: Adam Creed <notifications@github.com>
Sent: 24 September 2020 19:01
To: abpframework/abp <abp@noreply.github.com>
Cc: Ian Didsbury <ididsbury@ICSS-Net.com>; Manual <manual@noreply.github.com>
Subject: Re: [abpframework/abp] SPA template using Blazor (#394)

Its already mapped to the Book e

[2020-09-24 22:05] rlavaud opened #5601 "Overriding .Razor file in v3.2.0-rc.2 does not seem to work"
Hi
I don't know if we have to do something different with Blazor webassembly to override .razor files. In MVC all we have to do was replace a file in correct path and setup embedding. I created a Blazor template file, copied the MainLayout.razor into Themes/Pages then added @using Volo.Abp.AspNetCore.Components.WebAssembly.BasicTheme.Themes.Basic so that it would compile. When I run the applicatio

[2020-09-24 23:59] Muhammed-Aslan commented on #4277
Please add this information to the documentation

[2020-09-25 00:59] buxueke commented on #5596
ABP Framework version: 3.1.0  MicroserviceDemo
in BackendAdminAppGateway.Host  ,These codes are added：
 app.Use(async (ctx, next) =>
            {
                var currentPrincipalAccessor = ctx.RequestServices.GetRequiredService<ICurrentPrincipalAccessor>();
                var map = new Dictionary<string, string>()
                {
                    { "sub", AbpClaimTypes.UserId },

[2020-09-25 01:14] maliming commented on #5601
hi @cotur
Does the Blazor page support to override for now?

[2020-09-25 01:24] 274188A opened #5602 "Blazor Template: Cannot click Manage Tennant Item in drop down"
best explained by a gif :-)
Dev branch: commit 1256a3007ec3ac60064cae1cb36a630a26b4cf34

![tenant-tease](https://user-images.githubusercontent.com/40014477/94215811-44f9c280-ff10-11ea-96e5-1f3ce589e887.gif)

[2020-09-25 07:01] wakuflair opened #5605 "Widgets: depended JS not loaded in popups"
* **ABP Framework version**:  3.1.2
* **User Interface**: MVC

I created a widget with a depended js.
When I render it in "Index.cshtml", the js is loaded as expected.
But when I use the widget in a popup modal, the JS file is not loaded.

To reproduce this issue, I modified the `DashboardDemo`. [here](https://github.com/wakuflair/WidgetInPopups) is the repo.

### Reproduce steps
1. launch the Das

[2020-09-25 07:07] mehmet-erim opened #5606 "Remove the SessionState in the @abp/ng.core package"
Use `SessionStateService` instead of the `SessionState`.

# Breaking Changes

* `SessionState` has been removed.
* `SessionState` actions (SetLanguage, SetTenant, ModifyOpenedTabCount, SetRemember) have been removed.
* `@ngxs/storage-plugin` package has been removed.
* `languageChange` getter of `LocalizationService` has been removed. Use `languageChange$` getter instead.
* `ngxsStoragePluginOptio

[2020-09-25 09:03] mehmet-erim commented on #5229
Hi @yinchang0626
Sorry for the late response.

I have raised a PR that will be fixed the problem.
Thanks for reporting.

[2020-09-25 09:34] mehmet-erim commented on #5184
I don't encounter any errors after adding the import. Does the problem still exist?

[2020-09-25 10:49] sebitsi opened #5610 "mergeStrategy property to remoteEnv configuration problem [BUG]"
@mehmet-erim

Hi.

I'm using ABP Version 3.1.1 and running webAPI without HTTPS.
My remoteEnv appsetings.json file is something like this:

[code]

part of environment.ts file is:

[code]

If configuration for requireHttps is put into quotes

`    "requireHttps": "false"
`
i cannot login. I mean: There is nothing in console and client is not calling authority uri when i click on "Login" button.

H

[2020-09-25 11:30] maulik-modi commented on #57
Any update on MediatR?

[2020-09-25 11:54] mehmet-erim commented on #5610
Hi @sebitsi

This scenario as it should be. Because `"false"` is not falsy value. You should not pass `"false"`. The `requireHttps` property is directly passed to `angular-oauth2-oidc`package as a configuration.

I want to draw attention to this:

[code]

The "second" is logged, not "first".

[2020-09-25 12:20] #4615 closed

[2020-09-25 12:21] sebitsi commented on #5610
@mehmet-erim  Thanks for your fast response.

Of course you are right. I forgot to think linke javascript programer. By bad.

[2020-09-25 12:21] #5610 closed, assigned to nobody

[2020-09-25 12:36] #5229 closed, assigned to mehmet-erim

[2020-09-25 13:15] #5544 closed, assigned to cotur

[2020-09-25 13:39] mehmet-erim commented on #5215
Hi @realLiangshiwei

It can't be reproduced in v3.2.0-rc.2 template. Can you try again? If the problem still exists, can you explain the reproducing steps in detail?

[2020-09-25 14:11] realLiangshiwei commented on #5215
okay, I will try again and tell you the result.

[2020-09-25 14:15] cotur commented on #5601
Hi,

This was the my first question when we started to develop razor modules. 😃

Unfortunately overriding `.razor` page is not possible for now. Please follow our blog posts, we will share it directly if we find a way about how to do it.

[2020-09-25 20:49] rlavaud commented on #5601
So for now if I want to make changes to a UI in a Blazor module, the only way would be to recreate the whole module project in my own solution. For example to change the layout, I should either create a theme with a copy of ThemeBasic and make modification to my local copy. I can't think of another approach.
Also @cotur would you mind sharing some the technical challenges with the community when y

[2020-09-25 21:35] aicreed commented on #394
I managed to get the above resolved, as it turns out I also needed to specify the mapping configuration in the Blazor client itself.

I'm now getting a different issue trying to build the client in release mode:

`  Blazor.MonoRuntime.targets(326, 5): Unhandled exception. Mono.Linker.MarkException: Error processing method: 'System.Void System.Runtime.CompilerServices.SuppressIldasmAttribute::.ctor

[2020-09-25 23:17] iwaitu opened #5612 "ABP Samples: Microservice Demo Solution in docker"
I can not login in AuthServer if I deploy this AuthServer.Host in docker. But it work fine when I just run it on vs2019.
this is log in docker

`
07:05:15.887
Executing endpoint '"Volo.Abp.AspNetCore.Mvc.ApplicationConfigurations.AbpApplicationConfigurationScriptController.Get (Volo.Abp.AspNetCore.Mvc)"'
07:05:15.888
Route matched with "{area = \"Abp\", action = \"Get\", controller = \"AbpApplicat

[2020-09-26 08:11] khinhvuphiduong opened #5613 "ABP Samples: Microservice Demo, no data seeder (Create PermissionGrant) for new Tenant"
Dear all,
I user BackendAdminApp.Host to create new Tenant, but no permission is inserted to AbpPermissionGrants table. Please help? my rabitMQ is work normally.
Thanks you so much!

[2020-09-26 17:46] iwaitu commented on #5612
I found the problem is ICurrentUser is null if I ran it in docker and login admin account,  but it can work by ran in console or in iis express .

[2020-09-26 21:17] theChrisMarsh commented on #1168
I am really puzzled by the lack of comments, updates, or progress on this in almost a year. I assume it is not really on the roadmap. Is this actively being discussed and is there a timeframe if it is?

[2020-09-27 01:52] #4799 closed

[2020-09-27 03:43] fmpfmp opened #5616 "The option of 'AbpMultiTenancyOptions.DatabaseStyle' is not used in framework"
When 'AbpMultiTenancyOptions.DatabaseStyle' is 'Shared', should the host side  ConnectionStrings be preferred resolve in 'MultiTenantConnectionStringResolver.Resolve'?

[2020-09-27 04:33] fmpfmp commented on #5612
check  docker container's network

[2020-09-27 04:46] maliming commented on #5616
Can't understand.

Please explain it in detail.

[2020-09-27 09:00] bestvcboy opened #5617 "Client reference host.api There was a problem when calling!? findactionasync"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

ABP VNETX 3.2

namespace WXWorkApp
{
    public interface IMyService : ITransientDependency
    {
        publi

[2020-09-27 10:16] iwaitu commented on #5612
[code]

[2020-09-27 12:35] #5617 closed, assigned to nobody

[2020-09-27 13:05] hikalkan opened #5618 "ABP Translate command didn't work for a regular MVC solution"
Just create a new solution and check it.

[2020-09-27 23:42] iswing opened #5619 "Dynamic c# client throw NullRefrenceException when add a parameter in dto, the parameter is not requried"
![WechatIMG2008](https://user-images.githubusercontent.com/1507547/94378720-386aa980-015e-11eb-9399-933fede890d0.png)
add optional parameters in dto is hight frequency

i don't want to update *.Application.Contracts* package in many refrenced projects every time  when i add a new property in dto becuse it is no [required]  parameter

* ABP V2.7.0

[2020-09-28 01:03] maliming commented on #1804
https://github.com/abpframework/abp/issues/394#issuecomment-694865006

[2020-09-28 01:03] #1804 closed

[2020-09-28 01:11] maliming commented on #5619
* Steps needed to **reproduce** the problem.

You can also try it with the latest ABP.

[2020-09-28 01:43] maliming commented on #5605
Script and style will only be loaded on the layout page.
https://github.com/abpframework/abp/blob/41f8d03605632c5e36a017405536ec974c412bc9/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/Layouts/Application.cshtml#L77

[2020-09-28 02:21] maliming commented on #5460
https://github.com/abpframework/abp/pull/5466

[2020-09-28 02:21] #5460 closed, assigned to maliming

[2020-09-28 02:23] khinhvuphiduong opened #5621 "Features Data Seeder Exapmle"
Dear all,
I create some Features [(https://docs.abp.io/en/abp/latest/Features),](https://docs.abp.io/en/abp/latest/Features) but I don't know how to insert to database? I try search but can't find any example. Please help?

Thanks you!

[2020-09-28 02:25] maliming commented on #5621
You can see the document first
https://docs.abp.io/en/abp/latest/Features

[2020-09-28 02:29] khinhvuphiduong commented on #5621
Thanks you for your reply, I defined features step by step following the document, but I don't know how to seeder it to Database.

[2020-09-28 02:59] ChangYinShung commented on #857
yes, i will create new issue  thanks.

[2020-09-28 03:56] khinhvuphiduong commented on #5621
Dear all,
It's my mistake, IFeautureProvider is loaded on runtime, not load from database. Sorry!

[2020-09-28 03:56] #5621 closed, assigned to nobody

[2020-09-28 04:01] realLiangshiwei opened #5622 "Any IDataSeedContributor should consider the TenantId of the DataSeedContext."
Related https://github.com/abpframework/abp/pull/5443

We are missing some IDataSeedContributor, like https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain/IdentityServer/IdentityServerDataSeedContributor.cs

[2020-09-28 04:04] ChangYinShung opened #5623 "Angular : Create One solution for angular spa application"
According to  Angular startup template (see https://docs.abp.io/en/abp/latest/Getting-Started?UI=NG&DB=EF&Tiered=No).

It will need two port for deploy(one for angular, other for  HttpApi.Host)

Will Abp team will create One solution template for angular ?

_Originally posted by @hikalkan in https://github.com/abpframework/abp/issues/857#issuecomment-663996864_

[2020-09-28 04:53] wocar commented on #4990
I was thinking... could we organize a virtual conference for more advanced topics regarding abp, that would be nice.

[2020-09-28 05:54] realLiangshiwei commented on #5215
@mehmet-erim
I used v3.2.0-rc.2 template, the pro template also has this problem.

First, create a tenant:

![image](https://user-images.githubusercontent.com/16813853/94394896-07579c80-0191-11eb-8901-2f9783e40fb7.png)

Then, run the `DbMigrator` application and use `tenant` to login.

![ng](https://user-images.githubusercontent.com/16813853/94395315-007d5980-0192-11eb-9a5b-a29791ebe1a0.gif)

[2020-09-28 06:54] hikalkan opened #5625 "How to integrate the DevExpress Blazor components with the ABP Blazor UI?"
Some people want to use DevExpress Blazor components with the ABP Blazor UI. It would be good if we write an article.

It is appreciated if anyone can take this? Otherwise, we will work on it. Thanks :)

[2020-09-28 07:04] hikalkan opened #5626 ""Article Requests" for the ABP Community"
I created a `community-article` and `community-article-request` labels in this repository. Anyone can create an issue to request an article and others can UpVote it. Then anyone can take the responsibility to create it. We, as the core ABP team, also will take these article requests if no one write it.

Here, the list of requested articles: https://github.com/abpframework/abp/labels/community-arti

[2020-09-28 07:19] iswing commented on #5619
reproduce Steps:

1. Create two apps using **latest version** abp-cli ```abp new ApiA -o ApiA&&abp new ApiB -o ApiB```, ApiA is basic microservice.
2. Create a RestApi  in *ApiA.Application.Contract.csproj*  like
[code]
and Dto
[code]
,after build we get the output ApiA.Application.Contract.nupkg-v1.0.0
3, Add  ApiA.Application.Contract.nupkg-v1.0.0  in *ApiB.Application.proj*,Enable dynamic proxy

[2020-09-28 07:58] maliming commented on #5619
Have you tried using `ProjectReference `instead of `nupkg`?
You can also share the source code of your projects.

[2020-09-28 08:28] wakuflair commented on #5605
Does this mean that Widgets with JS cannot be used in pop-up modals?
This greatly limits the use of Widgets.

After all I cannot enforce users to include a JS file of a widget defined in my module.

[2020-09-28 09:00] amsaighi commented on #5498
ping @maliming  @mehmet-erim

[2020-09-28 09:08] maliming commented on #5498
See https://github.com/abpframework/abp/issues/5023

https://github.com/amSaighi/ABP-Angular/blob/master/aspnet-core/src/Acme.BookStore.IdentityServer/appsettings.json#L12
https://github.com/amSaighi/ABP-Angular/blob/master/aspnet-core/src/Acme.BookStore.HttpApi.Host/appsettings.json#L11

[2020-09-28 09:38] #5596 closed, assigned to nobody

[2020-09-28 09:59] iswing commented on #5619
```ProjectReference```  works, because the latest dto is synchronized when the service restarted, but it doesn't expose critical issues. In microservice scenarios, infrastructure services are usually deployed independently and keep API downward compatibility. If it is not for breking change, many other dependencies do not need to care about this change and are not required to be forced to update t

[2020-09-28 11:24] eng-mohammed-emam opened #5627 "Angular error: Cannot find module './ar.js'"
Hello,

I'm facing this error listed below.

ABP Framework version: 2.1.0
User Interface: Angular.

I know that in newer versions, this error solved. But I'm asking for older versions.

core.js:6014 ERROR Error: Cannot find module './ar.js'
    at .*\.js$ include: (af|am|ar-SA|as|az-Latn|be|bg|bn-BD|bn-IN|bs|ca|ca-ES-VALENCIA|cs|cy|da|de|de|el|en-GB|en|es|en|es-US|es-MX|et|eu|fa|fi|en|fr|fr|fr-CA|

[2020-09-28 11:55] maliming commented on #5627
https://docs.abp.io/en/abp/latest/UI/Angular/Localization#mapping-of-culture-name-to-angular-locale-file-name

[2020-09-28 12:50] ruby0602 opened #5628 "Identity Server (separated) error - http failure response"
the ui is angular, if step into the login page, it has the error  “Http failure response for https://localhost:44309/.well-known/openid-configuration”，how can I solve the problem, thanks in advance.
![image](https://user-images.githubusercontent.com/4489940/94434353-3ccdab80-01cc-11eb-89ca-906497ba66ee.png)

[2020-09-28 12:54] maliming commented on #5628
You can check the logs of the application(`https://localhost:44309` ).

[2020-09-28 15:36] alexandis commented on #5184
I cannot check this out, because after upgrade to 3.1.2 something has been broken in Angular part. This is how navigation component looks like now. Even if I don't replace the component - it looks in the same broken way. Do you know by chance what's happening?

![image](https://user-images.githubusercontent.com/6149843/94453533-75b05500-01b9-11eb-9520-14cd9901200b.png)

[2020-09-28 19:14] EugeniZaplatin opened #5629 "SettingManagementStore don`t read settings in 3.1 version"
When I used version 2.6, whith ISettingManagementStore I can Set()/Get() settings from Db.
But, when go to version 3.1, ISettingManagementStore only execute Set() correctly, but don`t Get()
Insted of it, I have to use ISettingRepository.

Who can explain this situation?

[2020-09-28 21:49] eng-mohammed-emam commented on #5627
Hello,
I know this solution. But it doesn't work for older versions.

I'm asking for older versions.

[2020-09-28 23:08] onurcanyilmaz opened #5630 "multi tab with abp-dynamic-form"
Hello,

i want to use multi tabs in the abp dynamic form
In this way I will take sub collection entitydto properties

[code]
Can I do this?
I dont found any example
Your taghelper tabs example link: https://bootstrap-taghelpers.abp.io/Components/Tabs

Thanks.

[2020-09-29 01:23] realLiangshiwei commented on #5629
* Steps needed to **reproduce** the problem.

[2020-09-29 01:33] EugeniZaplatin commented on #5629
1. Inject ISettingManagementStore
2. SetAsync() any setting
3. Try GetAsync()  it

My experience - GetAsync() return NULL

[2020-09-29 01:43] realLiangshiwei commented on #5629
It works fine.
![image](https://user-images.githubusercontent.com/16813853/94503085-383edc80-0238-11eb-86eb-69bc0683c284.png)

[2020-09-29 03:10] 274188A commented on #4089
fine but not working using latest dev branch...

[2020-09-29 03:35] EugeniZaplatin commented on #5629
![image](https://user-images.githubusercontent.com/11317749/94509808-607e0980-023f-11eb-9f0e-4b363ea6a287.png)
my real experience don`t good

[2020-09-29 03:51] ruby0602 commented on #5628
I only found the logs in the HttpApi.Host project

[2020-09-29 05:10] realLiangshiwei commented on #4089
@274188A
Please open a new issue to discuss

[2020-09-29 05:15] realLiangshiwei commented on #5629
Please use the startup template to reproduce this problem.

[2020-09-29 05:29] leonkosak commented on #5125
@hikalkan, adding additional setting for "internal uri" in appsettings.json is crucial for deployments in containerised environments like Docker.
Sometimes it's hard to achieve that "Authority" is identical to "IssuerUri", because loopback on network cannot be done.

Look: https://stackoverflow.com/questions/44481538/identity-server-4-and-docker

What do you think? Is recommended for **production*

[2020-09-29 06:24] yekalkan commented on #5630
Yes, you can.

Also, `Form Content Placement` example may be helpful for you:  https://bootstrap-taghelpers.abp.io/Components/Tabs

[2020-09-29 06:52] Guldaneoncul opened #5632 "Home Page"
Hi,
I don't want everyone to see the homepage, how can I fix it. I could not see a service for the homepage. When assigning a role, the id and role of the user is coming. How can I fix this problem?

[2020-09-29 06:54] #5536 closed, assigned to nobody

[2020-09-29 07:06] gentledepp commented on #236
We implemented our resource-based authorization system using this approach [AFCAS](https://www.codeproject.com/Articles/30380/A-Fairly-Capable-Authorization-Sub-System-with-Row)

It creates 3 graphs in the db:
1) users and groups (groups can contain groups)
2) operations and suboperations
3) resources and sub-resources

While in their approach, they show how to

filter all db records (resource)

[2020-09-29 08:31] 274188A opened #5633 "Blazor UI: Tenancy Management"
There are possibly 2 small bugs in the dev branch:

1. the `Tenant management` menu item is not clickable
2. in order to get around above one can use the `tab` key however when the menu item is activated it navigates to the wrong url as show below:

https://localhost:44307/~/tenant-management/tenants

### To reproduce this error
run the blazor template from the dev branch as explained in the comme

[2020-09-29 08:32] 274188A commented on #4089
ok - done.
https://github.com/abpframework/abp/issues/5633

[2020-09-29 09:15] hikalkan opened #5634 "Revise the application startup template Angular UI home page"
The source code for the MVC UI: https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Web/Pages/Index.cshtml

![image](https://user-images.githubusercontent.com/1210527/94538889-3d5a5680-024d-11eb-80bb-c3aa07d62e42.png)

[2020-09-29 09:16] hikalkan opened #5635 "Revise the application startup template Blazor UI home page"
Just like the https://github.com/abpframework/abp/issues/5634

[2020-09-29 09:16] gentledepp opened #5636 "[Enhancement] - Bit.dev UI component support"
### Documentation

I recently stumbled across this website [bit.dev](https://bit.dev) which apparently gives you a cli and toolset to create reusable UI components and ship them as npm packages.

[See their video demo on youtube](https://www.youtube.com/watch?v=E5lgoz6-nfs&lc=UgxK6L53Vny5S1zvIDh4AaABAg&feature=em-comments)

Did you already know about this?
Seems like a good starting point for micr

[2020-09-29 10:00] onurcanyilmaz commented on #5630
@yekalkan ,

How can I parse PersonDto with two tabs?
More than one model  can be added ?

in that;

[code]
![image](https://user-images.githubusercontent.com/33642676/94543402-b3ad8780-0252-11eb-8d67-4802abcb3da2.png)
![image](https://user-images.githubusercontent.com/33642676/94543474-cb850b80-0252-11eb-9adf-074245c07bf2.png)

thanks for help.

[2020-09-29 10:05] cotur commented on #5633
We are currently working on it, it will be fixed soon. Thanks @274188A

[2020-09-29 10:06] yekalkan commented on #5630
`abp-dynamic-form` is good for basic forms. If you want to divide form into tabs, It would be better to use `abp-input`: https://bootstrap-taghelpers.abp.io/Components/FormElements

[2020-09-29 10:20] EugeniZaplatin commented on #5629
What do you mean by "startup template"

[2020-09-29 10:38] realLiangshiwei commented on #5629
https://docs.abp.io/en/abp/latest/Startup-Templates/Application

[2020-09-29 10:43] amsaighi commented on #5498
Hello @maliming
Thank you it's working perfectly.
in the first I didn't get the information about Redis in the first use ABP.
I installed Redis, I launched it and everything sill good.

Redis link : [Redis Download ](https://github.com/dmajkic/redis/downloads)
[Setup/Install Redis Server on Windows 10](https://www.onlinetutorialspoint.com/spring-boot/setup-install-redis-server-on-windows-10.html)

[2020-09-29 10:43] #5498 closed, assigned to nobody

[2020-09-29 10:56] cotur opened #5638 "Fix FeatureManagement Modal Tab Issue"
When user make a change on form, tab is changing.

[2020-09-29 11:46] #5638 closed, assigned to cotur

[2020-09-29 12:51] #5618 closed, assigned to maliming

[2020-09-29 13:08] #5635 closed, assigned to cotur

[2020-09-29 13:37] hikalkan opened #5641 "Test the DexExtreme Angular article"
* Related PR: https://github.com/abpframework/abp/pull/5640
* Article: https://github.com/abpframework/abp/blob/docs/devextreme-angular-blogpost/docs/en/Community-Articles/2020-09-28-Using-DevExtremeAngularComponents-With-The-ABP-Framework/Using-DevExtremeAngularComponents-With-The-ABP-Framework.md

@bnymncoskuner currently working on. @bnymncoskuner please write after you finalize it, so @realLia

[2020-09-29 13:39] alexandis opened #5642 "Documentation on replacing navigation component for version 3.1 seems to be incorrect"
3.1.2 on Angular.

We use custom Navigation component and successfully replaced it for version 2.9.0 according to your manual.
When we have upgraded to 3.1.2 and used the corresponding manual: https://docs.abp.io/en/abp/latest/UI/Angular/Component-Replacement - it appeared the markup is now broken and Navigation area is not displayed at all. We can't figure out, what exactly is wrong. You seems to

[2020-09-29 13:40] alexandis commented on #5184
Can't check it, because after upgrading to 3.1.2 have another issue with Navigation area: [https://github.com/abpframework/abp/issues/5642](url)

[2020-09-29 14:02] maliming commented on #5627
Why not upgrade?

[2020-09-29 14:02] #4819 closed

[2020-09-29 14:07] maliming commented on #5628
so, what is the error message in the log?

[2020-09-29 14:19] armanozak opened #5643 "Document how custom validators can be placed in Angular"

[2020-09-29 14:22] maliming commented on #5632
You can use the `authorization` to show or redirect at home page.
https://docs.abp.io/en/abp/latest/Authorization

[2020-09-29 14:54] alexandis opened #5644 "Logout does not redirect to Angular site"
3.1.2 on Angular

![image](https://user-images.githubusercontent.com/6149843/94575125-92619100-027c-11eb-96bf-90cabba727b9.png)

JS error: **Uncaught TypeError: Cannot read property 'getAttribute' of null**
Source:

[code]

None of condition is true and there is really no such button in markup in our case:

[code]

What do we need to set up to make it work? We do not set PostLogoutRedirectUri anyw

[2020-09-29 14:56] myomyinthan commented on #5625
HI @hikalkan ,
Any plan for Telerik Blazor components with ABP Blazor UI  article?

[2020-09-29 15:14] miguelcanot opened #5645 "Abp generate-proxy problem with KeyValuePair<Guid, string> - Generic Classes"
Version-3.1.2.
Angular
Cannot read property 'children' of null
abp generate-proxy

When a use the command **abp generate-proxy**, the console throws the error: **Cannot read property 'children' of null**

This happen when i have service  that return: **List<KeyValuePair<Guid, string>>**

[code]

The problem appears to be the generic values because if i use a Dto that have defined the types like th

[2020-09-29 15:22] alexandis commented on #5644
Found this in the notes:

Sorry. Closing.

[2020-09-29 15:22] #5644 closed, assigned to nobody

[2020-09-29 16:24] #5630 closed, assigned to nobody

[2020-09-29 18:28] hikalkan commented on #4990
Yeah.. we definitely want this. We talked a lot about that internally :)
We will first make a Webinar, a small virtual conference, consists of 3-4 talks. It will probably be in the first quarter of 2021.

[2020-09-29 18:33] hikalkan opened #5646 "Test the Blazor UI with the Release Mode / Publish"
see https://github.com/abpframework/abp/issues/394#issuecomment-699166579

[2020-09-29 18:34] hikalkan commented on #394
@aicreed this is the AutoMapper configuration you need to do: https://docs.abp.io/en/abp/3.2/Tutorials/Part-3?UI=Blazor&DB=EF#automapper-configuration

[code]

The "release mode" error can be related to tree shaking:

https://blog.stevensanderson.com/2018/02/06/blazor-intro/

ABP uses dynamic proxying and some reflection. This can be the problem. I created an issue to work in the next milestone: h

[2020-09-29 18:44] alexandis commented on #5642
Small update: when I have added the following code from old markup to wrap existing `<ul class="navbar-nav">...</ul>`:

[code]

the markup displayed more or less properly. But then suddently I have noticed, that no matter what I add or remove to this markup - it is ignored and standard components (Language, User profile) is displayed. My markup is ignored.

I believe it this - as well as other mar

[2020-09-29 21:44] obassullu commented on #5629
Hi @EugeniZaplatin I have had same issue . I defined default setting value in custom definition provider class as below . then i called SetAsync method in ISettingManagementStore and changed default setting value. After this process i called GetOrNullAsync method and read value as below

![setting](https://user-images.githubusercontent.com/1825965/94617428-36196400-02b2-11eb-9a91-1b85a3868a0f.PNG)

[2020-09-30 01:23] 274188A opened #5647 "Blazor UI Template - Compile Error - RZ9992"
...\abp\templates\app\aspnet-core\src\MyCompanyName.MyProjectName.Blazor\Pages\Index.razor

line `123`

Error	RZ9992	Script tags should not be placed inside components because they cannot be updated dynamically. To fix this, move the script tag to the 'index.html' file or another static location. For more information see https://go.microsoft.com/fwlink/?linkid=872131		..\abp\templates\app\aspnet-c

[2020-09-30 01:42] ruby0602 commented on #5628
there is no error about identityserver，
![image](https://user-images.githubusercontent.com/4489940/94633911-3ab93900-0301-11eb-8cae-a7f0819ff0d9.png)

[2020-09-30 02:14] Qlimax2009 opened #5648 "connectionstring-coustom connection string name"
Hello,
I follow the document to switch to MySQL.
[https://docs.abp.io/en/abp/3.1/Entity-Framework-Core-MySQL]
I ran the .DbMigrator project successfully.
But when I defined a custom connection string name in appsettings.json,and I replaced the  connection string name in .efcore and .efcore.dbmigrations project ,it ran error.
What I will do can you please guide me?
Thanks In advance.
![20200930_101

[2020-09-30 02:19] mrivanlee commented on #5517
Thanks! we need it !

[2020-09-30 02:43] realLiangshiwei commented on #5648
Try:

[code]

[2020-09-30 02:56] fmpfmp opened #5649 "Exception in Volo.Abp.MultiTenancy.MultiTenantConnectionStringResolver.Resolve(String connectionStringName) when use async foreach"
### Code
 var list = new List<int>() { 0, 1, 2, 3, 4, 5, 6, 7, 8, 9 };
list.ForEach(async (item) =>
{
                await optionRepository.GetMongoQueryable().FirstOrDefaultAsync();
                await optionRepository.GetMongoQueryable().FirstOrDefaultAsync();
                await optionRepository.GetMongoQueryable().FirstOrDefaultAsync();
                await optionRepository.GetMongoQuery

[2020-09-30 03:10] realLiangshiwei commented on #5649
Use `async foreach` https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/async-streams

[2020-09-30 03:10] #5649 closed, assigned to nobody

[2020-09-30 03:40] Qlimax2009 commented on #5648
It works when ran the .DbMigrator project .
But it was still error when ran the host.
So must I use the default connection string name -”Default”？Or must be assigned to “options.ConnectionStrings.Default”？
![20200930_112901](https://user-images.githubusercontent.com/48152443/94640168-77d8f780-0310-11eb-94f8-e77e5eeb1287.png)

[2020-09-30 03:54] hexianggui opened #5650 "Can implement dynamic data filtering?"
I've defined a filter,
The first user to use the filter works, but subsequent users cannot implement dynamic data filtering.
It looks like the expression is fixed。
Is there any way to refresh an expression?
[code]

[2020-09-30 04:07] realLiangshiwei commented on #5648
Put the code to the `domain` module class.

[2020-09-30 04:07] #5648 closed, assigned to nobody

[2020-09-30 05:37] danielmeza commented on #394
@hikalkan may be the solution should be to use Source Generators to create dynamic proxies. More info [here ](https://devblogs.microsoft.com/dotnet/new-c-source-generator-samples/ ) and [here](https://devblogs.microsoft.com/dotnet/introducing-c-source-generators/).

Source generators not only can solve the problem but also will made much faster the execution and the proxy can be used in any c# cli

[2020-09-30 05:49] Qlimax2009 commented on #5648
It works.
thank you very much!

[2020-09-30 06:31] realLiangshiwei commented on #5629
@obassullu
I can't see the problem in your code, `unchecked` is the expected value

![image](https://user-images.githubusercontent.com/16813853/94650480-63edbf80-0329-11eb-9b5e-9e89af3ef56a.png)

[2020-09-30 06:36] 274188A commented on #5647
i have a feeling java script isolation will be available for .net 5.0 on wards.

https://www.meziantou.net/javascript-isolation-in-blazor-components.htm

[2020-09-30 06:41] realLiangshiwei commented on #5647
@cotur
Can you check this?

[2020-09-30 07:26] hikalkan commented on #394
We are following the source generators. However, it is early to decide.

[2020-09-30 07:55] hikalkan opened #5651 "How to integrate the Telerik Blazor components with the ABP Blazor UI?"

[2020-09-30 07:55] hikalkan commented on #5625
@myomyinthan I created an issue for that: https://github.com/abpframework/abp/issues/5651

[2020-09-30 08:12] cotur commented on #5647
I've fixed it. Thanks.

[2020-09-30 08:12] #5647 closed, assigned to cotur

[2020-09-30 08:48] hikalkan opened #5652 "Remove the Angular Account Module UI"
For the Angular UI (and the new Blazor UI) we are using the MVC UI for login, register, manage profile... etc. This is because we are using code authorication flow to make the user login.

So, we can drop the Angular account module UI completely. We should discuss that.

[2020-09-30 09:33] realLiangshiwei opened #5653 "Upgrade HtmlAgilityPack package"
[HtmlAgilityPack.NetCore](https://github.com/zulfahmi93/HtmlAgilityPack.NetCore)  repository has been archived, we can use the latest [HtmlAgilityPack](https://github.com/zzzprojects/html-agility-pack).

By the way, We don’t seem to use any features of HtmlAgilityPack in `Volo.Abp.Cli.Core`, maybe we can remove the package reference.

https://github.com/abpframework/abp/blob/0efbf56976662b5cf7b959

[2020-09-30 10:02] hikalkan commented on #5653
If we don't use it anywhere, we can remove it. Otherwise, you can change it.

[2020-09-30 10:05] eng-mohammed-emam commented on #5627
Hello,

I can't upgrade from version 2.x to version 3.x easily.

Anyway, Once this error appeared on Google Chrome, you can't fix it.
But I tried to change the port  http://localhost:4200 to another port (for example http://localhost:4201) and the problem fixed.

[2020-09-30 12:27] cotur commented on #5633
Menu item will be clickable after this issue is finished. https://github.com/abpframework/abp/issues/5529

[2020-09-30 12:27] #5633 closed, assigned to cotur

[2020-09-30 13:27] mehmet-erim commented on #5299
ng-zorro-antd date picker component does not work with Angular locales. That's why managing locales is very difficult. We decided to cancel this.

[2020-09-30 13:32] #5322 closed, assigned to maliming

[2020-09-30 13:43] maliming commented on #5650
This problem has nothing to do with ABP but ef core global filter https://docs.microsoft.com/en-us/ef/core/querying/filters

I think some logic is needed inside the expression, you can continue to debug it.

[2020-09-30 13:43] #5650 closed, assigned to nobody

[2020-09-30 14:14] hikalkan opened #5655 "Blazor UI Basic Theme menu enhancement"
I haven't implemented this logic for the Blazor UI: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/wwwroot/themes/basic/layout.js#L2-L15

Currently it works but has a small bug: If you click a submenu which has a submenu, it remains opened when you hover another submenu.

Example:

![basic-theme-menu-problem](https://user-images.githubusercontent.

[2020-09-30 14:41] #5529 closed, assigned to hikalkan

[2020-09-30 14:42] hikalkan commented on #5299
If that's done, why we don't set the milesone as `3.3-preview`?

[2020-09-30 14:48] mehmet-erim commented on #5299
Not completed yet, the component may not be compatible for the ABP. We'll consider it again in v4.0 milestone

[2020-09-30 18:45] hikalkan opened #5656 "Using Dapper witin an EF Core based application"
We can perform how to make selects, batch updates, discuss advantages and disadvantages... etc.

[2020-09-30 20:46] obassullu commented on #5629
hi @realLiangshiwei
If there is no custom definition provider class such as NotificationSettingDefinitionProvider, the result is null. abp version 3.1.2

![settingresult](https://user-images.githubusercontent.com/1825965/94737431-7d692880-0376-11eb-8b95-f87978dd759c.PNG)

![settingdb](https://user-images.githubusercontent.com/1825965/94737509-98d43380-0376-11eb-91cd-43a0e70f844b.PNG)

no problem i

[2020-09-30 23:51] NiceLisan commented on #5653
yes, i aslo founded the package HtmlAgilityPack  wan't used anywhere in the Volo.Abp.Cli.Core.csproj since the verision V3.1.

[2020-10-01 01:07] xewn commented on #5656
It is recommended to use freesql directly
[freesql](https://github.com/abpframework/abp/issues/1665)

[2020-10-01 01:13] realLiangshiwei commented on #5629
Please use the startup template to reproduce this problem.

[2020-10-01 01:22] xewn opened #5657 "Community Article: the core goal of abp vNext"
The core goal of abp is to quickly build a microservice framework or a complete application framework?

I think the core goal of abp is a framework to quickly build a microservice architecture.

If it is to build microservices quickly, the focus of abp should be the continuous development of microservice-related modules, examples, etc.

For example, in the cloud native development framework, the c

[2020-10-01 01:25] 274188A commented on #5655
There have been other projects targeting menu features that may provide some inspiration:

- https://github.com/stavroskasidis/BlazorContextMenu (225 likes)
- https://github.com/Blazored/Menu (99 likes)

both still active

HTH

[2020-10-01 01:49] realLiangshiwei opened #5658 "Move BlogDto to Volo.Blogging.Application.Contracts.Shared proejct."
Now, both `Volo.Blogging.Application.Contracts` and `Volo.Blogging.Admin.Application.Contracts` have `BlogDto`. It will get an error when accessing Swagger UI.

![image](https://user-images.githubusercontent.com/16813853/94756890-5be65c00-03cb-11eb-88e8-0c49d58d5fb6.png)

[2020-10-01 07:27] DanzigGLT opened #5661 "SQLite Error 6: 'database table is locked'"
I created a project using abp-cli, removed sql-server as explained in the docs and replaced it with sqlite. After deleting SQL-Server migrations, creating SQLite migrations and executing Update-Database I started the IdentityServer (own database with simple connection-string: "Data Source=identityserver.db" and a the app itself ("Data Source=myapp.db").

The process of login throws exception: Micr

[2020-10-01 08:02] alianpoureli opened #5663 "lack of Dbset leads to runtime error"
I have implemented Plugin-Based (Modular) system with this framework accourding to this article:
https://www.bytefish.de/blog/modular_ef_core.html
[]((https://www.bytefish.de/blog/modular_ef_core.html)
)
My main framework consits of this projects:
- Main.Application
- Main.Application.Client
- Main.Application.Shared
- Main.Core
- Main.Core.Shared
- Main.EntityFrameworkCore
- Main.Migrator
- Main.

[2020-10-01 08:29] 274188A opened #5664 "Grammar on main apb.io page"
https://abp.io/#section-2

![image](https://user-images.githubusercontent.com/40014477/94786206-3c6b2580-0403-11eb-91ca-458add04c778.png)

[2020-10-01 08:51] mehmet-erim commented on #5627
Hello @eng-mohammed-emam

I have recommended that you upgrade the ABP version to the latest version, but you can apply the solution below temporarily.

[code]

[2020-10-01 09:40] eng-mohammed-emam commented on #5627
For sorry, this solution doesn't work for me.

Changing the port from 4200 to any other port (for example 4201) works.

According to my experience, once this problem occurred on Google Chrome,
can't be fixed.

[2020-10-01 10:14] cotur commented on #5601
@rlavaud of course, we have a lot of things to share for Blazor. :)

In 1-2 milestone section, most of things will become more stable, then we share articles and documentations for them.

[2020-10-01 12:16] leonkosak commented on #5589
@hikalkan and @maliming, @ebicoglu I found solution (**and is not a hack!**) for this.

I suggest, that you add two additional parameters (which) in appsettings.json under **AuthServer** object in HttpApi.Host project (not in IdentityServer project in case of separated IDS).

  "AuthServer": {
    "Authority": "https://localhost:44334",
    **"ValidIssuers"**: "https://my_first_url.com,https://my_

[2020-10-01 14:07] mehmet-erim commented on #5627
I am sorry that I couldn't do anything.

You should update the version of the ABP packages to v3.0.5 or higher.

[v2.9 to v3.0 Angular UI Migration Guide](https://docs.abp.io/en/abp/latest/UI/Angular/Migration-Guide-v3) may help you.

[2020-10-01 14:31] hikalkan opened #5668 "Distributed Entity Cache base class"
ASP.NET Boilerplate has a base class to easily implement caching for entities:
https://aspnetboilerplate.com/Pages/Documents/Caching#entity-caching

We can implement a similar base class for the ABP Framework too. Something like that (can be different, it is a pseudo code):

[code]

`Volo.Abp.Ddd.Domain` package seems fine for this implementation, you think on.

[2020-10-01 15:01] GoodfellowMunro1981 opened #5669 "IPermissionManager throws exception when using extension SetForUserAsync on a system with MutliTenants"
ABP Framework version: 3.2.0

'FeatureManagement.ManageHostFeatures' has multitenancy side 'Host' which is not compatible with the current multitenancy side 'Tenant''

await _permissionManager.SetForUserAsync(existingUser.Id, permission.Name, true);

namespace Volo.Abp.PermissionManagement
{
    public static class UserPermissionManagerExtensions
    {
        public static Task SetForUserAsync(th

[2020-10-01 15:35] rlavaud commented on #5601
Thanks I will be waiting.

[2020-10-01 15:35] #5601 closed, assigned to nobody

[2020-10-01 15:57] realLiangshiwei commented on #5669
* Steps needed to **reproduce** the problem.

[2020-10-01 17:19] edercarlosdacosta opened #5670 "IdentityUserOrganizationUnit after NuGet update"
Hey guys,

Please, have no idea how to solve the issue below when typping my migration execution command:
- Command:
PM> add-migration "xxxx" -context xxxMigrationsDbContext

Can't execute the project, can't apply updates on my base code

Of course I've read the documentation AGAIN:
https://docs.abp.io/en/abp/latest/Samples/Microservice-Demo#msdemo_identity-database

Behind the obvious message: **

[2020-10-01 17:35] danielmeza commented on #394
Grate!
Are we waiting to that feature to stay? Or checking if all expected features can't be archive at compile time?

[2020-10-01 18:29] hikalkan commented on #4490
Done: https://docs.abp.io/en/abp/latest/Redis-Cache & https://docs.abp.io/en/abp/latest/Caching

[2020-10-01 18:29] #4490 closed

[2020-10-01 19:58] edercarlosdacosta commented on #5670
Ops!

Problem solved adding line below in xxxMigrationsDbContext file:

builder.Entity<IdentityUserOrganizationUnit>()
                .HasKey(i => i.OrganizationUnitId);

Inside the Volo.Abp.Identity.IdentityUser we can see prop collection "OrganizationUnits":

![image](https://user-images.githubusercontent.com/8922293/94856910-96321680-0428-11eb-9d2f-0a83647028eb.png)

And then:

![image](https:

[2020-10-01 19:58] #5670 closed, assigned to nobody

[2020-10-01 21:07] alexandis opened #5671 "Problem with paths on the site published to Azure (IIS hosting)"
3.1.2 on Angular.

The problems with paths for a published site are not resolved till now:

1) assets path for Angular site is calculated relative to host root, not custom www subpath:

![image](https://user-images.githubusercontent.com/6149843/94862994-6f80d980-0442-11eb-87e5-889040dff818.png)

Needs to be .azure.com/centraltools/assets... instead

![image](https://user-images.githubusercontent.c

[2020-10-02 00:18] 274188A commented on #5655
tested this - looking good and able to click menu items

[2020-10-02 00:21] 274188A commented on #5602
this has been address and fixed #5655

[2020-10-02 00:21] #5602 closed, assigned to nobody

[2020-10-02 01:33] realLiangshiwei commented on #5671
1. It has nothing to do with ABP.
Check: http://codebuckets.com/2018/05/26/hosting-angular-in-iis-under-an-existing-website/
2. You need to change the `appsettings` and angular env configuration

[2020-10-02 02:24] Loongle opened #5673 "How can i quickly generate angular Npm feature libraries"
I see many package  module in path `/npm/ng-packs/packages` , I found that they used some unified packages.
My quesiton: How do I quickly generate these Npm packages. Now for each package I need to copy and paste the common reference section.

thanks.

![image](https://user-images.githubusercontent.com/7290992/94882036-7555d980-0499-11eb-92e6-2fb39f8c73cd.png)

[2020-10-02 02:28] realLiangshiwei commented on #5673
I don't understand what you mean

[2020-10-02 02:33] khinhvuphiduong opened #5674 "Specific permission to new tenant admin when create new tenant."
Dear all, to my knowledge, when I create new tenant, dataseeder method will find all class inherit  PermissionDefinitionProvider class (in dependencies modules) insert to database. My question is: How I can ignore some PermissionDefinitionProvider class when create new tenant.

Thank you,
Best regard!

[2020-10-02 02:36] Loongle commented on #5673
@realLiangshiwei How can I quickly make an NPM package like @abp/ng.identity.  Because I look at them as clean like code generated

[2020-10-02 02:39] Loongle commented on #5673
Are these Npm packages of ABP built by manual, not by generative tools?

[2020-10-02 02:48] ruby0602 opened #5675 "DependencyResolutionException error after add app.UseIdentityServer();"
I added a new template width angular and identityserver separated, after added app.UseIdentityServer(); into HttpApiHostModule.cs, there is error in the below, where is the problem? thanks in advance

An unhandled exception occurred while processing the request.
DependencyResolutionException: None of the constructors found with 'Autofac.Core.Activators.Reflection.DefaultConstructorFinder' on type

[2020-10-02 02:53] realLiangshiwei commented on #5675
Please use the startup template to reproduce.

[2020-10-02 03:14] realLiangshiwei commented on #5269
See my comment:

https://support.abp.io/QA/Questions/438#answer-0ee7923f-f88b-b6cc-6f63-39f7f9779443

[2020-10-02 04:34] alexandis commented on #5671
Probably I should have been more verbose. We aleady have had everything up and running on ABP 2.9.0. But this has been broken in version 3.1.2, when you have changed a lot of things, including login. Please, be more specific and provide the example of **appsettings.json** (with CORS, other things, like client section set up) and **environment.ts** files for such deployed scenanio, because what we

[2020-10-02 04:47] hikalkan opened #5676 "Upgrade to .NET 5.0 rc1"
We want to move all the framework, modules, themes... to .NET 5.0 in a branch to see if we have any problem. If everything goes well, we can make this movement early (considering to skip the ABP version 3.3 and merge it to the version 4.0, then publish early previews).

[2020-10-02 06:25] hikalkan commented on #5676
See https://docs.microsoft.com/en-us/dotnet/core/compatibility/3.1-5.0

[2020-10-02 07:34] ruby0602 commented on #5675
I reproduced the template, it had the same error

[2020-10-02 07:36] armanozak opened #5678 "Document How to Convert Angular Apps to PWAs"

[2020-10-02 07:39] realLiangshiwei commented on #5675
Can you upload the project to Github and write the repository address in here

[2020-10-02 08:20] #5678 closed, assigned to armanozak

[2020-10-02 08:28] yekalkan opened #5680 "Cli: Add-Module with source Command should delete not-used projects"

[2020-10-02 08:29] #5454 closed, assigned to yekalkan

[2020-10-02 08:29] #5680 closed, assigned to yekalkan

[2020-10-02 10:07] aelhadi opened #5682 "BusinessException: Tenant not found!"
ABP Framework version 3.2
UI Blazor

BusinessException: Tenant not found!

Volo.Abp.AspNetCore.MultiTenancy.MultiTenancyMiddleware.InvokeAsync(HttpContext context, RequestDelegate next)
Microsoft.AspNetCore.Builder.UseMiddlewareExtensions+<>c__DisplayClass5_1+<<UseMiddlewareInterface>b__1>d.MoveNext()
Microsoft.AspNetCore.Builder.ApplicationBuilderAbpJwtTokenMiddlewareExtension+<>c__DisplayClass0_

[2020-10-02 10:41] aelhadi commented on #5682
I think the Tenant Seed prodecure is measing ....

[2020-10-02 11:24] ruby0602 commented on #5675
@realLiangshiwei https://github.com/ruby0602/httpapihost，code had been uploaded

[2020-10-02 11:27] ruby0602 commented on #5675
@realLiangshiwei link with error is https://localhost:44387/.well-known/openid-configuration

[2020-10-02 12:11] realLiangshiwei commented on #5675
The project you uploaded is not full

[2020-10-02 12:23] ruby0602 commented on #5675
@realLiangshiwei you call me to upload the solution or project？

[2020-10-02 12:25] PMExtra opened #5684 "MapEfCoreProperty requires IEntity which IdentityUser or IdentityRole is not"
https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities#entity-extensions-ef-core

https://github.com/abpframework/abp/blob/a9b228a2dd7cf6eaa0529a7273991019d55918ab/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/ObjectExtending/EfCoreObjectExtensionManagerExtensions.cs#L80-L92

Focus line 84, it requires an entity type that inherited `IEntity`.
So I can't use the

[2020-10-02 12:31] hikalkan commented on #675
Done: https://docs.abp.io/en/abp/latest/UI/AspNetCore/Forms-Validation

[2020-10-02 12:31] #675 closed

[2020-10-02 12:33] PMExtra commented on #5684
When I called `MapEfCoreProperty(typeof(IdentityUser), typeof(string), nameof(AppUser.Sth))`, I got:

[code]

[2020-10-02 12:35] realLiangshiwei commented on #5684
System.ArgumentException: type (type of **Microsoft.AspNetCore.Identity.IdentityUser**, Microsoft.Extensions.Identity.Stores

You should use [`Volo.Abp.Identity.IdentityUser`](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityUser.cs)

[2020-10-02 12:35] #5684 closed, assigned to nobody

[2020-10-02 12:45] PMExtra commented on #5684
@realLiangshiwei  Thank you for saving my day. I'm so sorry for the low-level mistake.

[2020-10-02 14:51] hikalkan commented on #5641
The article has been published: https://community.abp.io/articles/using-devextreme-angular-components-with-the-abp-framework-x5nyvj3i

[2020-10-02 15:13] PMExtra commented on #3959
@hikalkan Any progress? I met the same problem.

[2020-10-02 15:33] olicooper opened #5686 "Can't deserialize object 'ExtraProperties'"
ABP v3.1.0, MySql (MariaDB 10.4)

I am trying to store a `[Serializable]` class instance in the `ExtraProperties` of an AggregateRoot entity. It is serializing to JSON in the database perfectly, but getting it back out of the database is not working as expected. I also followed [your guide](https://docs.abp.io/en/abp/latest/Object-Extensions) but couldn't find anything that helped.

I expected to

[2020-10-02 15:41] mehmet-erim opened #5687 "Create a script that updates the Angular UI when a new language is added"

[2020-10-02 16:12] hikalkan commented on #5641
Assigned to @yekalkan

[2020-10-02 17:15] hikalkan commented on #5150
This is not related to the ABP Framework, but related to (y)our development environment :)

[2020-10-02 22:40] #5541 closed, assigned to cotur

[2020-10-03 00:17] cotur commented on #5682
Hi @aelhadi,

How do you get this error, can you explain more? So I can try to reproduce.

[2020-10-03 03:28] 274188A opened #5691 "ABP Blazor Sample: Tenant not found error"
To reproduce:

1) download the sample blazor app (https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore)
2) run the migration project
3) run the host project

gives an error:

   at Volo.Abp.AspNetCore.MultiTenancy.MultiTenancyMiddleware.InvokeAsync(HttpContext context, RequestDelegate next)
   at Microsoft.AspNetCore.Builder.UseMiddlewareExtensions.<>c__DisplayClass5_1.<

[2020-10-03 03:29] 274188A commented on #5682
I raise similar #5691

[2020-10-03 03:37] 274188A commented on #5691
### Log

2020-10-03 11:35:26.945 +08:00 [INF] User profile is available. Using 'C:\Users\274188A\AppData\Local\ASP.NET\DataProtection-Keys' as key repository and Windows DPAPI to encrypt keys at rest.
2020-10-03 11:35:27.006 +08:00 [INF] Loaded ABP modules:
2020-10-03 11:35:27.006 +08:00 [INF] - Volo.Abp.AuditLogging.AbpAuditLoggingDomainSharedModule
2020-10-03 11:35:27.006 +08:00 [INF] - Volo.Abp

[2020-10-03 03:47] 274188A commented on #5691
the SQL run in the scenario where there are no Tenants set up and or no Tenant connection strings set up fails - assumes we already have a Tenant possibly:

[code]

[2020-10-03 04:26] aelhadi commented on #5682
Exactly as described in #5691.

[2020-10-03 05:40] bartvanhoey opened #5692 "hide right and left menu of docs when in split screen mode"
When on my laptop I work often in split screen modus. It would be a nice improvement when the left und right menu of the docs hide themselves when on smaller screen.

[2020-10-03 08:28] rlavaud commented on #5691
You most likely had another project with a tenant created while your new project does not. Clear your Browser cache and browser storage. You have to clear the browser storage because blazor stores the dll and session in the browser storage. I had the same issues and this solved it for me.

[2020-10-03 09:35] ruby0602 opened #5693 "--separate-identity-server mode have a error"
I use intergated identityServer compared with the separate mode，the separate mode have a big error in angular-oauth2-oidc.js:
error loading discovery document

[2020-10-03 09:45] aelhadi commented on #5682
Clearing browser cache will solve the problem.

[2020-10-03 11:20] #5691 closed, assigned to nobody

[2020-10-03 11:56] Refactoring opened #5695 "Client submitting large data (3kb), slow server response"
* ABP 3.1.0-3.2.0
* Vue
I did a performance analysis using `MiniProfiler`, and my business logic took about `1.5s` to execute, but it took nearly `5.9s` to get into my business logic before the request was accepted. I don't know what's wrong.

An array of request data length is 62, the array type is an object that contains 12 properties。

### Miniprofiler Log
|   |    | duration (ms) | with childr

[2020-10-03 12:19] ruby0602 commented on #5675
@realLiangshiwei thanks,I found the problem is the separate identityServer mode, integrated mode is fine.

[2020-10-03 12:58] #5675 closed, assigned to nobody

[2020-10-03 20:05] #4698 closed

[2020-10-04 01:17] colinin commented on #5592
The HttpClient(in **Volo.Abp.Http.Client**) is used for synchronous communication between services, and the AbpRemoteServiceOptions that the HttpClient module relies on is defined in the configuration file (appsettings.JSON), where the address of InternalGateway is specified

  While asynchronous calls require microservice subscriptions, which are then implemented through **Volo.abp.EventBus**, di

[2020-10-04 04:25] mehmet-erim commented on #4963
# BREAKING CHANGE

Many locale files are created as chunk, but as of v3.3, just 10 (ar, cs, en, fr, pt, tr, ru, sl, zl-Hans, zh-Hant) chunks will be created. If the locale of the language you are using is not one of these locales, you should import its locale file in app.module like below:

[code]

**Note:** If the **Language Management (commercial) module** is installed in your project, close to

[2020-10-04 06:23] #5613 closed, assigned to nobody

[2020-10-04 06:26] khinhvuphiduong commented on #5592
Thanks you sir, it's exactly answer I expected. ABP framework is really fantastic architect.
Best Regard!

[2020-10-04 06:26] #5592 closed, assigned to nobody

[2020-10-04 06:37] jack-gaojz-zz commented on #631
I have this issue before.
The bundle tag cannot work in the customized layout file. Check the source code the bundle tag did not convert to the script tag and still "abp-script-bundle" tag.
After I added the "_ViewImports.cshtml" file and it works for me.
![image](https://user-images.githubusercontent.com/40879710/95008730-002c0500-064f-11eb-8b07-cccc5120ef03.png)
Hope it will help you.
FYI.

[2020-10-04 08:16] maliming commented on #5693
hi

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-10-04 08:16] #5682 closed, assigned to nobody

[2020-10-04 08:18] maliming commented on #5695
hi

* Steps needed to **reproduce** the problem.

[2020-10-04 09:06] Refactoring commented on #5695
I used the following code to reproduce this problem, and I found that it could be a `Microsoft.AspNetCore.Mvc.ViewFeatures.Filters.SaveTempDataFilter` problem.
I deactived all logging，the response is still slow.

####  curl command
[code]

#### The relevant code
[code]
[code]

[code]

[code]

[code]

#### MiniProfiler

|   |   | duration (ms) | with children (ms) | from start (ms)|
| -- | -- | --

[2020-10-04 09:21] davidzwa commented on #4963
Much obliged!

[2020-10-04 09:21] #4963 closed, assigned to mehmet-erim

[2020-10-04 09:36] maliming commented on #5645
So it is recommended that you use DTO. : )

[2020-10-04 09:37] maliming commented on #5628
hi

* Steps needed to **reproduce** the problem.

[2020-10-04 09:46] maliming commented on #5673
We use some scripts to do these repetitive work, but these scripts cannot be shared.

[2020-10-04 09:46] #5673 closed, assigned to nobody

[2020-10-04 09:49] maliming commented on #5674
It doesn't work like this. see https://docs.abp.io/en/abp/latest/Authorization#permission-system

This is by design, of course, you can customize the built-in code. https://support.abp.io/QA/Questions/160/How-to-customize-an-ABP-project

[2020-10-04 14:17] Refactoring commented on #5695
@maliming
I found the cause of the problem, I deleted all of Dto's validation attribute(`RequiredAttribute`, `MaxLengthAttribute`), **200ms&& executed. I think it was `AbpValidationActionFilter`.
My `RequestRecordDto` class contains 9 `RequiredAttribute` and 10 `MaxLengthAttribute`. And 62 `RequestRecordDto` instances are submitted at once, resulting in long validation processing times.

[2020-10-04 16:43] khinhvuphiduong commented on #5674
I got it, thank you so much, lots of new knowledge when research ABP Framework.

[2020-10-04 16:43] #5674 closed, assigned to nobody

[2020-10-05 00:39] maliming commented on #5695
hi
Abp is using the method provided by the aspnet core to validation the model. Maybe you can try plain aspnet core.

[2020-10-05 00:46] maliming commented on #5686
I think this is a json serialize/deserialize problem and has nothing to do with abp.

You can try to serialize your dto to string using json.net, and then try to deserialize it from string to dto, I think this will also have problems.

[2020-10-05 02:58] khinhvuphiduong opened #5698 "Tenant not found! When host API in TenantManagerService.Host"
Dear all,
I've a API, when I host in TenantManagerService.Host, and used a access token with tenantid to test the API but it's always throws T**enant not found!**  error. If I used a access token without tenantid API run correctly.

When I host the API on another host, everything is ok, whether or not tenanid. I compared Start class, there's no middle-ware different.

It's not cookie problems.

So

[2020-10-05 03:38] khinhvuphiduong commented on #5698
Dear all, API work if I comment below code.
 `app.UseAuthentication();`
or
 `
 if (MsConsts.IsMultiTenancyEnabled)
            {
                app.UseMultiTenancy();
            }
`
It's so confused when app.UseAuthentication() and   app.UseMultiTenancy() work together in a microservice.

[2020-10-05 06:00] 274188A opened #5699 "Blazor UI: When AD is Integrated - How to Customize Login Page?"
In the scenario where we are using AD (like [this](https://community.abp.io/articles/how-to-setup-azure-active-directory-and-integrate-abp-angular-application-lyk87w5l) ), we need a sample project to demonstrate how to customize the Login Page (similar to [this sample](https://community.abp.io/articles/how-to-customize-the-login-page-for-mvc-razor-page-applications-9a40f3cd))

[2020-10-05 06:25] berkansasmaz commented on #5699
See https://github.com/abpframework/abp/issues/5601#issuecomment-698954580

[2020-10-05 06:29] 274188A commented on #5699
ah - ok, guess I can handle this in the actual module as a last resort

[2020-10-05 06:29] #5699 closed, assigned to nobody

[2020-10-05 08:14] maliming commented on #3190
https://github.com/abpframework/abp/issues/3190

[2020-10-05 08:14] #3190 closed

[2020-10-05 08:15] maliming commented on #5676
Incompatible packages:
https://www.nuget.org/packages/Microsoft.AspNetCore.Mvc.Versioning , https://github.com/microsoft/aspnet-api-versioning/issues/662

[2020-10-05 09:08] Stirda commented on #5541
@cotur Thank you for having developed this module. However there seems to be no `ISettingComponentContributor` anywhere in the framework. So page is empty.

1. Is such implementation planned to be able to display/edit ABP settings such as mail settings?
1. How to implement for own settings? How to implement ISettingComponentContributor? What to set in SettingComponentGroup.ComponentType? Do I have

[2020-10-05 11:49] Refactoring commented on #5695
Thanks for your reply.

[2020-10-05 11:49] #5695 closed, assigned to nobody

[2020-10-05 12:32] hikalkan opened #5701 "Introduce Volo.Abp.ExceptionHandling package"
Creating the Volo.Abp.ExceptionHandling package to re-use some exception handling logic in the Blazor UI.

[2020-10-05 13:12] #5525 closed, assigned to hikalkan

[2020-10-05 13:12] #5701 closed, assigned to hikalkan

[2020-10-05 13:30] hikalkan opened #5702 "Blazor: Set default culture on application initiailization"

[2020-10-05 13:30] #5702 closed, assigned to hikalkan

[2020-10-05 13:47] melfahn opened #5703 "StyleTypes"
* Your **ABP Framework version**.

3.2

* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI

MVC

* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Please **write in English**.

### Stack Overflow

Please use Stack Overflow for your questions about using the framework, templates and s

[2020-10-05 13:54] #5703 closed, assigned to nobody

[2020-10-05 14:06] melfahn opened #5704 "**abp** Widget StyleTypes not being called, ScriptTypes are"
version 3.2
 MVC

 when using the below code the script bundle works as expected, the style bundle never gets called

    [Widget(StyleTypes = new[]
    {
        typeof(SearchWidgetStyleBundleContributor)
    }, ScriptTypes = new[]
    {
        typeof(SearchWidgetScriptBundleContributor)
    })]

    internal class SearchWidgetStyleBundleContributor : BundleContributor
    {
        public overr

[2020-10-05 14:45] armanozak opened #5705 "The field names generated by proxy generator have case problems"

[2020-10-05 14:56] #5705 closed, assigned to armanozak

[2020-10-05 17:26] CestrianImaging opened #5707 "Can't create MySql tables in migration"
I'm trying to use MySql as the database but when I run Update-Database I get the following error. I've changed the system to use the MySql packages and chages the code accordingly, but it looks like abp is trying to create a column of type uniqueidentifier, which doesn't exist in MySql

Applying migration '20200106080946_Initial'.
Failed executing DbCommand (2ms) [Parameters=[], CommandType='Text'

[2020-10-05 17:40] cotur commented on #5541
Hi @Stirda,

Yes there is no setting page for a open source module yet, so page is empty for now.

1. We can create a setting page for a module if it is necessary, so it can be referenced by other developers to create their own setting pages for their modules.
2. Actually, I think to create documentation about this. But let me explain shortly.

Modules must be seperated and each module may have di

[2020-10-05 19:55] CestrianImaging commented on #5707
My bad... I needed to delete the Migrations folder and run Add-Migration "Initial"

[2020-10-05 19:55] #5707 closed, assigned to nobody

[2020-10-06 01:07] maliming commented on #5704
hi @melfahn

Can you share a project to reproduce this problem?

[2020-10-06 01:08] csabc opened #5708 "Identity Server spend 2.4 min on loading ApplicationConfigurationScript"
I created a project from abp.io  with  blazor  template and separate IdentityServer. when i open identityserver url,open chrome devtool,i find  it spend 2.4 min on loading "ApplicationConfigurationScript". abp ver is 3.2. click the login button  also  spend a long time,then chrome  exit.

[2020-10-06 01:27] maliming commented on #5708
See https://github.com/abpframework/abp/issues/2764#issuecomment-582690562

[2020-10-06 01:35] csabc commented on #5708
if you don't use redis ,please comment the AbpCachingStackExchangeRedisModule

`        //typeof(AbpCachingStackExchangeRedisModule),
`

[2020-10-06 01:36] csabc commented on #5708
Thanks!

[2020-10-06 01:36] #5708 closed, assigned to nobody

[2020-10-06 07:18] #5565 closed, assigned to yekalkan

[2020-10-06 08:01] yekalkan commented on #5641
I've easily followed the steps.

[2020-10-06 08:01] #5641 closed, assigned to yekalkan

[2020-10-06 08:52] armanozak opened #5710 "Improve Authentication Document for Angular"
Related https://abp.io/docs/latest/framework/ui/angular/authorization

[2020-10-06 12:40] ruby0602 commented on #5628
I have solved the problem with generating the solution by none-seprated identity server

[2020-10-06 12:40] #5628 closed, assigned to nobody

[2020-10-06 12:56] mtozlu opened #5715 "Update ngx-datatable for Angular 10"
`ngx-datatable` version 18.0 has been released for Angular 10 compatibility.
https://github.com/swimlane/ngx-datatable/blob/master/docs/changelog.md

`@abp/ng.theme.shared` can be updated to ngx-datatable version 18.0

[2020-10-06 13:07] 274188A opened #5716 "Blazor UI Project: FullAuditedEntity not saving some Audit Fields"
Example:
Entity is defined as:

[code]

However when an Entity is created, modified, or deleted, the columns associated with the user remain `NULL`

Example: `CreatorId`, `LastModifier` and `DeleterId` are not being persisted as expected.

![image](https://user-images.githubusercontent.com/40014477/95205096-809d6200-0817-11eb-93f3-89ae1c4774f7.png)

[2020-10-06 13:50] hikalkan commented on #5492
https://github.com/abpframework/abp/pull/5510#issuecomment-704282029

[2020-10-06 13:50] #5492 closed, assigned to maliming

[2020-10-06 14:12] hikalkan opened #5718 "Create a Rebus integration sample"
Merge https://github.com/abpframework/abp/pull/5637 then create a sample application with a real MQ server integrated, like RabbitMQ.

Also, do you want to create a [community article](https://community.abp.io/articles) to explain the sample (how you built it and how to run)?

[2020-10-06 14:24] #5411 closed, assigned to bnymncoskuner

[2020-10-06 14:35] #5653 closed, assigned to realLiangshiwei

[2020-10-06 14:36] #5658 closed, assigned to realLiangshiwei

[2020-10-06 17:19] alexandis commented on #5671
Please let me know if it's an **ABP** bug (if so - when are you planning to fix it) or path settings issue. We keep getting the path issues. Now it's:

![image](https://user-images.githubusercontent.com/6149843/95237717-3add9b00-0811-11eb-9fbd-e601a5d99e41.png)

Looks like path is incorrect - it supposes the path is root instead of /IdentityServer (relative path) somewhere inside of ABP script gut

[2020-10-07 00:23] ronaldwalcott opened #5721 "Sample MVC application displays error on login"
I downloaded a sample project using the direct download option, created the databases and set the startup projects per the documentation. The application takes about five minutes to start when executed. It then shows the following error after selecting login on the web host.

An unhandled exception occurred while processing the request.
SocketException: The I/O operation has been aborted because o

[2020-10-07 01:41] #5417 closed, assigned to nobody

[2020-10-07 01:41] maliming commented on #5417
https://github.com/abpframework/abp/pull/4549#issuecomment-704273988

[2020-10-07 02:07] maliming commented on #5721
hi

Are you using the tired application?
Are you set up the redis server?

[2020-10-07 02:51] maliming opened #5722 "Update ef core migrations file for templates, sample, DemoApp."
https://github.com/abpframework/abp/pull/5190

[2020-10-07 07:32] Stirda commented on #5541
@cotur Thanks a lot for your detailed answer. My settings page works like a charm now.

[2020-10-07 09:20] YoussefSalameh opened #5725 "generate proxy error : "Backend module "app" does not exist in API definition.""
@hikalkan @mehmet-erim @maliming

Hello Everyone,

I'm using abp framework 3.1.2 with  angular 10  as UI .
I'm trying to use abp generate-proxy instead of ng swagger gen but  when generating an error occurred :

Backend module "app" does not exist in API definition.

Noting that I'm using versioning  so calls will be like ( /api/v1/getCars ) and I've set my environment  like below
{
      url: 'ht

[2020-10-07 11:01] ebicoglu opened #5727 "Allow streaming from application services"
reported at https://support.abp.io/QA/Questions/463/Blob-storage-support-for-large-files-with-no-overhead

[2020-10-07 12:50] hikalkan opened #5729 "Change abp.security.antiForgery.tokenHeaderName to `RequestVerificationToken` on MVC UI client script"
This is needed to be compatible with https://github.com/abpframework/abp/pull/5728

abp.security.antiForgery.tokenHeaderName was not used, so this should not effect the existing applications.

[2020-10-07 12:59] #5729 closed, assigned to hikalkan

[2020-10-07 13:16] hikalkan opened #5730 "Form button/icon alignment/spacing problem"
A "previous" screenshot from the MVC UI:

![image](https://user-images.githubusercontent.com/1210527/95335572-3e782d00-08b8-11eb-91e8-569e6b0a27c0.png)

A "current" screenshot:

![image](https://user-images.githubusercontent.com/1210527/95335615-4afc8580-08b8-11eb-9de8-e3405f8999c7.png)

Strange, but seems "save" button moved to the left side and there is no spacing between the icon and the "Save"

[2020-10-07 13:28] hikalkan commented on #5730
Seems related to https://github.com/abpframework/abp/pull/5331

[2020-10-07 13:44] #5730 closed, assigned to yekalkan

[2020-10-07 14:09] #4877 closed

[2020-10-07 14:44] hikalkan opened #5731 "Create an ICookieService to get/set cookies in Blazor webassembly"
We need methods like https://github.com/abpframework/abp/blob/dev/npm/packs/core/src/abp.js#L614-L685

[2020-10-07 14:54] hikalkan opened #5732 "Add antiforgery token to the HTTP request headers for the Blazor UI"
As I see that the Blazor HttpClient doesn't include cookies on HTTP requests. So, it seems we don't care about the antiforgery (because ABP auto antiforgery validation validates only if the `XSRF-TOKEN` is available in the request)

Depends on https://github.com/abpframework/abp/issues/5731 (to get cookies)

[2020-10-07 15:19] alexandru-bagu commented on #5727
just made this pull request to with support for blob storage #5733
I am not sure about naming conventions so I am fine with whatever names you decide to use
additionally there's an example of usage here https://github.com/alexandru-bagu/abp-remote-stream-test

[2020-10-07 18:03] badre429 opened #5735 "In The Future of IdentityServer will be payed software"
[The Future of IdentityServer](https://github.com/dotnet/aspnetcore/issues/26489)
since IdentityServer most likely will become payed software at the end of 2021 abp.io must look for other alternative

[2020-10-07 19:27] hikalkan commented on #5735
We are closely following the happenings, no worry :)

[2020-10-07 19:42] hikalkan opened #5736 "Revise the navigation tree of the documentation"
We have a lot of documentation now and it seems we need to re-organize the [docs.abp.io](https://docs.abp.io/) left navigation tree.

[2020-10-08 02:17] maliming commented on #5725
hi

* Steps needed to **reproduce** the problem.

[2020-10-08 02:33] maliming commented on #5288
Reported by customer
https://support.abp.io/QA/Questions/472/Injecting-service-into-AutoMapper-profile

[2020-10-08 04:56] #5475 closed, assigned to nobody

[2020-10-08 06:01] bnymncoskuner opened #5737 "[Angular] enable configuration for CSRF Token"
Related to #5728

[2020-10-08 07:03] mtozlu commented on #5288
Currently i use DI in Profile, however this issue should be implemented to allow usage of actions and native DI support of AutoMapper.
Here is how i use it for now:
In AppModule:
[code]
Profile:
[code]

[2020-10-08 07:47] stsrki commented on #5551
Reopened because there are more things to do.

[2020-10-08 08:53] hikalkan opened #5738 "Audit log datetime arabic problem"
"In 3.1 While changing language into Arabic it's throwing exception. In AuditLog it was like a datetime issue. You can reproduce easily: 1. Simple Dto one you have to create. 2. Declare one variable as not nullable and type is datetime. 3. Get the records using that dto without datetime. 4. Now change your language into Arabic it will throw error. Thanks Abp Framework team."

(copied from https://

[2020-10-08 08:55] YoussefSalameh commented on #5725
Hi,
I found that  api/abp/api-definition call will retrieve all modules that I need to use in abp generate-proxy -m  module name.

[2020-10-08 08:55] #5725 closed, assigned to nobody

[2020-10-08 09:00] hikalkan opened #5739 "CMS Kit: Send emails on comments"
* When I create a new comment or reply a comment, the entity owner (for an article, the article writer) should get an email. So, we should find a way to give this info to the comment widget (or handle a domain event and register to this event to send emails).
* When I reply a comment, the comment owner and all the people replied to this comment before (except me) should get an email.

[2020-10-08 10:37] #5737 closed, assigned to bnymncoskuner

[2020-10-08 10:53] cotur commented on #5716
Hi @274188A

This is not related for Blazor UI,

But I've tested it on Blazor and couldn't see any problem. And I see the the `LastModificationTime` is recorded.

![image](https://user-images.githubusercontent.com/20099739/95449273-34643600-096d-11eb-81f6-84a991861c15.png)

Is there any login issue for your case, did you check it?

[2020-10-08 10:54] hikalkan opened #5742 "Blazor UI: Allow to set UiMessageOptions globally"

[2020-10-08 10:56] #5551 closed, assigned to stsrki

[2020-10-08 12:24] maliming opened #5743 "Configure AbpStringEncryptionOptions using random values in the template."
@hikalkan What do you think?

[2020-10-08 12:26] 274188A commented on #5716
Agree nor related to Blazor - i'm sorry for that mistake.

There are no login issues.  I'm still trying to pass the id back to the AppService inside the dto but no luck so far.

I'm still checking/investigating...

[2020-10-08 13:25] #5269 closed, assigned to hikalkan

[2020-10-08 13:26] hikalkan commented on #5269
With the v3.3, you will be able to do it like;

[code]

No need to repeat all the route and other attributes. It is that simple and documented: https://github.com/abpframework/abp/blob/dev/docs/en/Customizing-Application-Modules-Overriding-Services.md#example-overriding-a-controller

[2020-10-08 13:32] 274188A commented on #5716
Just checked the Sample for [BlazorUI](https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore) and it has the same problem...

[2020-10-08 14:31] aelhadi commented on #5652
Hi,
how to customize (or override) the MCV UI login page?

regards

[2020-10-08 14:37] cotur commented on #5716
I could not reproduce it on BookStore-Blazor-EfCore sample application. It works as expected. (I've created new book and edited that book entity)

![image](https://user-images.githubusercontent.com/20099739/95473421-c3347b00-098c-11eb-8744-bc27fac8a2ed.png)

[2020-10-08 15:31] cotur commented on #5692
Hi @bartvanhoey,

It will be nice improvement, we will check tab behaviour in different sizes, thanks for suggestion. I've added this issue to the backlog.

[2020-10-08 17:25] cotur commented on #5738
I've detailed test it and could not reproduce this.
I will left open this issue for some days to get response the user that write the comment.

![image](https://user-images.githubusercontent.com/20099739/95492714-30073f80-09a4-11eb-9833-0814c88ff480.png)

[2020-10-08 18:17] hikalkan opened #5744 "Implement Block UI element on abp.ajax"
Also consider to make a button or button group busy during the request.

[2020-10-08 18:25] melfahn commented on #1702
has this advanced anywhere in the last 11 months?

[2020-10-08 19:31] robertosistemas opened #5745 "Error when trying to create the database using migrations"
Firebird Version 3

problaly cause:
  http://www.firebirdfaq.org/faq212/
  http://www.firebirdfaq.org/faq211/
  https://www.firebirdsql.org/pdfrefdocs/Firebird-2.1-ErrorCodes.pdf

FirebirdSql.Data.FirebirdClient.FbException: 'unsuccessful metadata update
CREATE TABLE IdentityServerApiSecrets failed
No message for error code 336068726 found.'

Inner Excepiton:
IscException: unsuccessful metadata up

[2020-10-08 22:46] zaktecs opened #5746 "Blank Screen Trying to access tenants with "PROCESSING..." MESSAGE"
Hi,

I upgraded from 3.2 to 3.2.1 and now when I try to access Tenants, Users or Roles the grid loads without data with a "PROCESSING..." MESSAGE

Can someone please help me?

Kind Regards

Zak

### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about t

[2020-10-09 00:38] 274188A commented on #5716
Yes - i agree with your findings - must be some error in my code - I'm not using AuditedAggregateRoot though...

[2020-10-09 01:13] 274188A commented on #5716
I have found something interesting.  Yes it works with `AuditedAggregateRoot<T>`  bu not with `FullAuditedEntity<T>`.

Can you please check if you also have same results?

[2020-10-09 01:32] maliming commented on #5652
See https://support.abp.io/QA/Questions/160/How-to-customize-an-ABP-project

[2020-10-09 01:46] maliming commented on #5745
Did you recreate the migration file?

* Steps needed to **reproduce** the problem.

[2020-10-09 01:48] maliming commented on #5746
* Your User Interface type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Steps needed to reproduce the problem.

Please share some screenshots if you can.

[2020-10-09 01:50] 274188A commented on #5716
Found my error - thanks for your time - all good

[2020-10-09 01:50] #5716 closed, assigned to nobody

[2020-10-09 03:42] sunyuliang opened #5747 "After switching tenants, the PermissionDefinitionProvider will not be reloaded, and different permissions cannot be displayed according to the Feature opened by the tenant"
ABP Framework version:abp vnext 3.2
User Interface:MVC

Inherit from the FeatureDefinitionProvider class and add Feature. Inject IFeatureChecker into the class inherited from PermissionDefinitionProvider, and check whether the tenant has activated Feature to disable the corresponding permissions, so that the permissions under the Feature that the tenant has not activated will not be displayed in t

[2020-10-09 03:59] realLiangshiwei opened #5748 "Remove some duplicate claims"
We added some duplicate claims, should remove.

![image](https://user-images.githubusercontent.com/16813853/95541835-ea3f8b00-0a26-11eb-856b-7ba27f53a5f3.png)

[2020-10-09 05:07] maliming commented on #5748
IdentityServer4 behavior.
https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpUserClaimsPrincipalFactory.cs#L27
https://github.com/IdentityServer/IdentityServer4/blob/main/src/AspNetIdentity/src/UserClaimsFactory.cs#L26

[2020-10-09 05:07] maliming commented on #5747
* Steps needed to **reproduce** the problem.

[2020-10-09 05:30] zaktecs commented on #5746
Hi,
I'm using

   1. Your User Interface type (Angular/MVC/React... etc.)

MVC / Razor Pages as the UI framework and Entity Framework Core

Login as

On Fri, Oct 9, 2020 at 2:49 AM maliming <notifications@github.com> wrote:

[2020-10-09 05:35] zaktecs commented on #5746
![HotelConnectProcessing](https://user-images.githubusercontent.com/10104562/95547299-8b641c80-09fa-11eb-9ea1-2ab7b1f9b675.PNG)
![HotelConnectProcessing](https://user-images.githubusercontent.com/10104562/95547312-99b23880-09fa-11eb-8a65-9fd7ea8e1483.PNG)

Hi

1.      Your User Interface type (Angular/MVC/React... etc.)

*MVC / Razor Pages* as the UI framework and *Entity Framework** Core*

2.

[2020-10-09 05:46] leonkosak commented on #1874
@maliming what is the status/priority of this feature?

[2020-10-09 06:17] sunyuliang commented on #5747
Take the official example: Acme.BookStore, the Acme.BookStore.Permissions.BookStorePermissionDefinitionProvider class will only be executed once when the application starts, and then whether the tenant is switched again or not, so that different permissions cannot be defined for different rental houses.

[2020-10-09 07:07] NecatiMeral opened #5749 "[Question] Angular - Modular development guide"
Hi,

I'm trying to get familiar with angular and the `ng-packs` structure.
As far as I can tell, it looks well structured and I want to try to adapt the workflow for our own angular projects.

After getting startet by creating a new project to create a Metronic UI based theme, the build doesn't complete.
Maybe someone can point me in the right direction.

Unfortunately I cannot share the project,

[2020-10-09 09:20] yekalkan opened #5751 "Docs Module: Merge "Remove from cache" & "Delete from database" buttons"

[2020-10-09 11:26] abhishekbhalani commented on #1042
Link is expired. can you send again.

[2020-10-09 12:23] robertosistemas commented on #5745
Yes, I recreated the migration files.
I also put in the attached file "Evidency.zip" the complete project with the source code so that you can reproduce the error.
To play, you will have to download and install Firebird 3.06 32-bit version for windows.
Use the ABPFB.sql script that is also inside the zipped file to create the database.
Open the Acme.BookStore.sln solution and run the Acme.BookStor

[2020-10-09 12:30] robertosistemas commented on #5745
The probable cause would be the combination of fields that form the primary key of the IdentityServerApiSecrets table, which exceeds the maximum size allowed for the single index. Couldn't they use an Int, Long or a Guid to define that primary key?

[2020-10-09 12:45] robertosistemas commented on #5745
If you do not want to create the database from the ABPFB.sql script, you can use the database already created: ABPFB.FDB, both are inside the Evidency.zip file together with the project.

[2020-10-09 13:23] #5582 closed, assigned to muhammedaltug

[2020-10-09 14:19] robertosistemas commented on #5745
Objects with identify bigger than 31 charactes "IdentityServerClientIdPRestrictions" is not allowed to Firebird 3. The same with field names.

[2020-10-09 17:55] leonkosak commented on #5518
@hikalkan it is possible to "transform" the existing Blazor WebAssembly app to PWA: https://dev.to/gopkumr/how-can-i-turn-my-blazor-webassembly-to-pwa-1fao
Just add json manifest and Service-Worker.js.

It should be no difficulties to do this till abp v4.0.

[2020-10-09 17:58] leonkosak commented on #5676
@maliming `Change netstandard2.0 to netstandard2.1 for all EF Core projects.`
Why not directly to net5.0?

[2020-10-09 18:00] leonkosak commented on #5693
Do you have Redis and configured properly in appsettings.json files?

[2020-10-09 19:06] hikalkan commented on #5676
@leonkosak because Microsoft does it like that. So, ask to them :) Maybe it has no meaning in practical (.net framework won't support it), but we also don't have problem with .netstandard. Maybe someone use with Xamarin :P
We try to target .netstandard wherever possible.

[2020-10-10 05:40] jonny-xhl opened #5753 "Could you consider using an ILocalizableString method?"
Many methods in ABP.vnext use ILocalizableString. Then, if there is no internationalization, consider overloading to avoid defining it in Localization and write it directly in the code.

[2020-10-10 07:57] geffzhang opened #5754 "Update NET Core 3.1.8"
.NET Core 3.1 lastest is 3.1.8 ，Abp is now 3.1.6, upgraded to 3.1.8.
https://devblogs.microsoft.com/dotnet/net-core-releases-and-support/

[2020-10-10 09:44] hikalkan commented on #5545
I suppose it is already completed, right? If so, you can close this.

[2020-10-10 09:55] #5235 closed, assigned to hikalkan

[2020-10-10 11:45] Xeevis commented on #5676
@hikalkan I've been reading up on [blog post](https://devblogs.microsoft.com/dotnet/the-future-of-net-standard/) by Immo Landwerth, program manager for .NET at Microsoft. From it I've got these pointers
* Upgrade from `netstandardY.X` to `net5.0` gives access to more runtime features, language features, APIs and ensures platform portability (`netstandardY.X` implements platform-specific features t

[2020-10-10 13:51] maliming commented on #5745
See https://github.com/abpframework/abp/issues/1920

[2020-10-10 13:56] maliming commented on #5747
Please refer to the `MultiTenancySide ` property of `PermissionGroupDefinition`.

https://github.com/abpframework/abp/blob/86aee14c88a286e5eaa3d51fc55c090e5a59aa07/framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/Permissions/PermissionGroupDefinition.cs#L29

[2020-10-10 13:58] #5751 closed, assigned to yekalkan

[2020-10-10 14:02] maliming commented on #1042
hi @abhishekbhalani

If you have questions about abp please create an issue.

[2020-10-10 14:04] maliming commented on #1874
hi @leonkosak

it's still in the backlog.

[2020-10-10 14:04] merceyz commented on #2809
Yarn 2 supports `node_modules` even better than Yarn 1 did, the breaking change was switching the default from `node_modules` to PnP. You can easily switch back using `yarn config set nodeLinker node-modules`

[2020-10-10 16:12] viewtance commented on #432
Is there a bug about this feature, the Layout.Content.Title cannot set a title to current page

[2020-10-10 16:28] realLiangshiwei opened #5755 "Add distributed entity cache section to Caching document"
When https://github.com/abpframework/abp/pull/5688 merged

[2020-10-10 17:03] aelhadi opened #5756 "#Abp Cli App Template"
Hello,

why the templates generated with ABP Cli are different from those in GitHub?
is there a way to use the ones from github? I think they are more up to date.

Regards

[2020-10-10 19:08] #5727 closed, assigned to hikalkan

[2020-10-10 19:19] zaktecs commented on #5746
Hi @maliming
I need to use the following but that is what is causing my problem. It works OK when I comment it out.

services.AddControllers().AddNewtonsoftJson(options =>
            {
                options.SerializerSettings.ContractResolver = new DefaultContractResolver();
                options.SerializerSettings.ReferenceLoopHandling = ReferenceLoopHandling.Ignore;

            });
Kind Re

[2020-10-11 02:51] maliming commented on #432
hi @viewtance Create a new issue. : )

[2020-10-11 08:07] leeson0219 opened #5757 "Any plan to implement IFeatureDependency like the aspnetboilerplate project?"
Hi,
I want if any tenant have that feature allocated then they will see those permissions while changing a role.
Thanks.

[2020-10-11 09:15] Loongle opened #5758 "FormTenantResolveContributor causes Ocelot gateway routing and forwarding failure"
ocelot use ABP framwork, enable multi-tenancy,  the form content cannot be forwarded

Repeat the implementation steps:
https://github.com/abpframework/abp-samples/tree/master/MicroserviceDemo
Update the version of the gateway used by the Demo to the latest ABP version,

Create downstream service controller:
[code]

The problem was caused by the addition of the following function:
[code]

✔Temporar

[2020-10-11 09:34] #5756 closed, assigned to nobody

[2020-10-11 13:53] realLiangshiwei commented on #5758
Thanks for your report. I will check it out.

[2020-10-11 16:43] hilalbsr commented on #5721
hi,
the same mistake happened with me.
 Tired application and redis server installed. How can I solve this?

[2020-10-11 18:23] #5545 closed, assigned to nobody

[2020-10-11 19:52] maniani-dev opened #5761 "BusinessException: Exception of type 'Volo.Abp.BusinessException' was thrown."
I am using ABP Framework version 3.1.2

This is the error message I am getting

BusinessException: Exception of type 'Volo.Abp.BusinessException' was thrown.
Volo.Abp.Account.AccountAppService.GetUserByEmail(string email)

I am getting this error when recovering my password.

Project: MyCompany.IdentityServer
Running project on IIS

Steps to Produce:

1. Go to http://localhostidentityServer/Accoun

[2020-10-11 21:28] mdocter commented on #5661
I encountered almost the same error this evening. I added SQLite and could register a new user. Enter a first and last name in the profile. Save / update the profile, Logout. Try to login again. Time-out occurred and SqliteException: SQLite Error 5: 'database is locked'.

My connection-string is:    `"Data Source=K:\\data\\my.db;"`

Do I need to add something extra here? I tried to add `Journal mo

[2020-10-11 22:16] eng-mohammed-emam opened #5762 "Angular error when calling: abp generate-proxy command "Maximum call stack size exceeded""
Hello,
I'm facing an error when using the command: abp generate-proxy

I'm sure that no recursion in my Dto classes.
In addition, how can I fix the warning: Couldn't determinate version of "@abp/ng.schematics" package.

* ABP Framework version: Version 3.2.1 (Stable).
* User Interface: Angular.
* Exception message: Maximum call stack size exceeded.
* Steps needed to **reproduce** the problem: Exec

[2020-10-11 23:08] mohammed-hussein opened #5763 "Identity server with Windows authentication sample"
I need a sample for windows authentication with Abp identity server

ABP Framework version: 3.0.4

[2020-10-12 01:01] maliming commented on #5721
You can check the redis configuration and application logs.
https://github.com/abpframework/abp/blob/d85f96a289285946deafd9cee167bb7449f74cbc/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.IdentityServer/appsettings.json#L10

[2020-10-12 01:05] maliming commented on #5762
hi @eng-mohammed-emam

Please try to upgrade abp cli to the latest.

[code]

https://www.nuget.org/packages/Volo.Abp.Cli/

[2020-10-12 01:12] maliming commented on #5661
hi

Try completely disable the database transactions for sqlite.

[code]

[2020-10-12 03:22] cocosip commented on #5592
I think `InternalGateway` is not a good solution.Always faces several problems while using `InternalGateway`.
- 1.How to avoid `InternalGateway` Single Point Problem?
- 2.`InternalGateway` is just a tool like `nginx`, when `InternalGateway` run on k8s, the services address will change after pod restart.
- 3.`InternalGateway` was based on Ocelot, it only support http protocols ,how to support other

[2020-10-12 05:26] khinhvuphiduong commented on #5592
I think:
- Ocelot gateway is work at deeper layer than nginx and integrated identity server for authorization  and  authentication check.
- We're in Asp.net Core context, and Volo.Abp.Http.Client is support for auto generate HTTP proxy to call API.

[2020-10-12 05:36] realLiangshiwei opened #5765 "HTML coding error in permission modal"
![image](https://user-images.githubusercontent.com/16813853/95708738-97b4d780-0c8f-11eb-95bf-d16b531b519b.png)

Should be `label.InnerHtml.AppendHtml(TagHelper.Label)`
https://github.com/abpframework/abp/blob/cdeb343437f30bf72c21dcc5b6f82afe0fffdc9d/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpInputTagHelperService.cs#L263

[2020-10-12 06:06] #5765 closed, assigned to realLiangshiwei

[2020-10-12 07:23] eng-mohammed-emam commented on #5762
Hello @maliming,

I'm using the latest version already of ABP 3.2.1.

[2020-10-12 07:34] mdocter commented on #5661
Thanks @maliming! Disabling the database transactions seems to work for me. I added them in the `MyAppEntityFrameworkCoreModule` `ConfigureServices` method. Is that the correct and only location? Because the documentation (see: https://docs.abp.io/en/abp/latest/Unit-Of-Work#default-options) refers to my own module:

[2020-10-12 08:13] EngincanV opened #5769 "Email Settings - Password Encryption"
`Abp.Mailing.Smtp.Password` must be an encrypted value. How can we define it encrypted in the appsettings.json file?

[2020-10-12 09:18] maliming commented on #5769
hi

https://docs.abp.io/en/abp/latest/Emailing#encrypt-the-smtp-password

[2020-10-12 09:59] #5769 closed, assigned to nobody

[2020-10-12 10:07] stsrki commented on #5524
https://github.com/stsrki/Blazorise/issues/1371

[2020-10-12 12:56] hikalkan opened #5772 "Settings document for the Angular UI"
This document seems covering it: https://docs.abp.io/en/abp/latest/UI/Angular/Config-State#how-to-get-a-specific-setting-from-the-store

However, it would be better to have a dedicated document. I created an empty one: https://github.com/abpframework/abp/blob/rel-3.2/docs/en/UI/Angular/Settings.md

* Write the document in the rel-3.2 branch (so it immediately goes to live) then merge to dev.
* Add

[2020-10-12 13:03] #4955 closed

[2020-10-12 13:08] serridavide commented on #5645
hello, i have the same issue.

[2020-10-12 13:33] bnymncoskuner commented on #5642
Hello,

We've improved the template of `abp-nav-items` in lepton theme. It will be available with version 3.3.0-rc.1. When you upgrade your packages, you should be able to use any template you want and it'll be placed at the top-right corner of the screen. Also, using `<abp-nav-items>....</abp-nav-items>` will not work because that component does not render any content passed from outside. That's

[2020-10-12 13:45] #5642 closed, assigned to bnymncoskuner

[2020-10-12 15:21] ebicoglu commented on #5645
use DTO ! don't use the generic types `KeyValuePair<Guid, string>`

[2020-10-12 15:28] miguelcanot commented on #5645
So I close the issue because we need to use DTO instead of generics?

[2020-10-12 16:21] mohammed-hussein opened #5773 "Identity server Login page is very slow"
I'm using an Identity server with Abp but when I try to login using the below link it takes a lot of time 'more than 10 mins' to open the login page

https://localhost:40952/account/login

I used this cli to generate a new project to can reproduce this issue
`abp new Acme.BookStore -u angular --separate-identity-server
`

ABP Framework version: 3.0.2

[2020-10-12 17:00] goodyear-incaricotech commented on #5762
Hi, i've the same issue. The problem is related to recursive Dtos. Like in this sample.

[code]

If you try to generate proxy with this services it returns "Maximum call stack size exceeded".
This error doesn't show if you try to remove the recursion on line 4 OR 10.
Can you fix it please?

[2020-10-12 18:34] #5754 closed, assigned to maliming

[2020-10-13 00:40] #376 closed

[2020-10-13 00:48] maliming commented on #5645
@miguelcanot  Yes, https://docs.abp.io/en/abp/latest/Data-Transfer-Objects

[2020-10-13 00:48] #5645 closed, assigned to nobody

[2020-10-13 00:49] maliming commented on #5773
hi

Please check your redis configuration.
https://github.com/abpframework/abp/issues/2764

[2020-10-13 00:50] maliming commented on #5762
@armanozak What do you think?

[2020-10-13 01:20] colinin commented on #5592
1. You can solve the pod change problem by exposing the external port of the internal server in the container, and the internal service will generally link the corresponding container in docker-compose.yml, so the container name can be used to replace the container IP address
2. Ocelot supports HTTP and WebSocket protocols, which are sufficient for abp framework, and Ocelot can take over important

[2020-10-13 01:22] colinin commented on #5592
Of course, you can replace Ocelot with Kong by simply changing the BaseUrl in the RemoteService that depends on it, which is defined in appsettings.json，None of this is a problem

[2020-10-13 01:45] realLiangshiwei opened #5775 "Create Rebus docuemnt"

[2020-10-13 02:31] QaziTanzeel opened #5776 "How to add newly added property in User Entity to corresponding Dto in abp"
I am extending the User Entity of Abp Framework, My project name is **Testing**. I have added and mapped the new field in the file **TestingEfCoreEntityExtensionMappings** using the following code.

[code]

This is the enum of the User Type
[code]
The field has been added to database

![image](https://user-images.githubusercontent.com/9509984/95807607-0d6a8300-0d24-11eb-9c54-739a8aa0ecfd.png)

Now

[2020-10-13 02:34] realLiangshiwei commented on #5776
It is in the `extraProperties` property

[2020-10-13 02:34] #5776 closed, assigned to nobody

[2020-10-13 02:38] QaziTanzeel commented on #5776
If you see the screenshot from the swagger, you will see that I have expanded that property too, but there is nothing in there. it is empty.
@realLiangshiwei  Kindly open the ticket again, I need some more info regarding this.

[2020-10-13 03:20] maliming commented on #5776
@QaziTanzeel

https://community.abp.io/articles/how-to-add-custom-property-to-the-user-entity-6ggxiddr

[2020-10-13 03:21] realLiangshiwei commented on #5776
Please try to get the API result.
The `extraProperties` is a  `dictionary`, so you can't see the property definition. This is expected

[2020-10-13 03:22] #5775 closed, assigned to realLiangshiwei

[2020-10-13 03:24] QaziTanzeel commented on #5776
I have already read this article, the issue is I am not seeing any corresponding property for the UserType in the Dto.

[2020-10-13 03:38] QaziTanzeel commented on #5776
Thank you @realLiangshiwei , I will check and update

[2020-10-13 03:50] xyfy commented on #5269
666

[2020-10-13 05:56] armanozak commented on #5762
Recursion is the only reason I can think of, but we do have a termination condition. Apparently, this escapes it. I need to check what the JSON looks like before I can tell.

[2020-10-13 08:28] #5722 closed, assigned to maliming

[2020-10-13 08:50] numanrauf opened #5780 "NullInjectorError: No provider for ScrollbarHelper!"
Hi!
After upgrading to 3.2.1 I am getting this error in angular application.
core.js:4352 ERROR Error: Uncaught (in promise): NullInjectorError: R3InjectorError(SettingsModule)[ScrollbarHelper -> ScrollbarHelper -> ScrollbarHelper -> ScrollbarHelper]:
  NullInjectorError: No provider for ScrollbarHelper!
NullInjectorError: R3InjectorError(SettingsModule)[ScrollbarHelper -> ScrollbarHelper -> Scrol

[2020-10-13 08:53] kegumx commented on #57
+1

[2020-10-13 08:55] kegumx commented on #2882
+1

[2020-10-13 08:55] desmored commented on #5762
It could be related to System.Text.Json serializer

[2020-10-13 09:07] #5157 closed, assigned to nobody

[2020-10-13 09:31] realLiangshiwei commented on #5758
I think it has nothing to do with ABP. I reproduced this problem using the native ASP.NET Core API project. so I think this is Ocelot’s problem

![image](https://user-images.githubusercontent.com/16813853/95843093-e2ab1980-0d79-11eb-907f-5d930696dd6f.png)

[2020-10-13 09:31] #5758 closed, assigned to nobody

[2020-10-13 10:22] Loongle commented on #5758
@realLiangshiwei  i cancel the `app.UseMultiTenancy();`  , it is working. but i enable `app.UseMultiTenancy();`, it is not working. maybe your post form-data have issue

[2020-10-13 10:25] numanrauf commented on #5780
After some fixes, its working now... Thanks

[2020-10-13 10:25] #5780 closed, assigned to nobody

[2020-10-13 10:29] Loongle commented on #5758
you can upgrade gateway of  `abp-sample/MicroserviceDemo` project, and then run your custom api project

[2020-10-13 11:04] 274188A opened #5782 "Blazor: UIMessageService fails to return for Delete"
I am using Nightly Builds with pre-release `Version="3.3.0-preview20201009"`

I have a Delete handler in the code behind for a blazor page.  The problem seems to be the user once they confirm 'Yes' to delete the entity, it never returns.

There are no errors (javascript of C#) that I can see and I have turned Exception Settings set with everything turned on.  Still no luck.

If I comment out the `

[2020-10-13 12:35] eng-mohammed-emam commented on #5762
@armanozak How you can check this? Send you the project?

[2020-10-13 12:37] armanozak commented on #5762
No @eng-mohammed-emam, we are planning to reproduce what @goodyear-incaricotech has shared.

[2020-10-13 12:38] eng-mohammed-emam commented on #5762
@desmored
How can I set the tree level to 2 of Json serializer to avoid the nested tree?

[2020-10-13 12:43] ebicoglu commented on #5762
How about creating a new FatherDto to avoid the loop

[2020-10-13 12:47] Stirda opened #5783 "How to disable "HTTPS only" on HttpApi.Host?"
An Android third-party client must call the API of the HttpApi.Host project of my ABP 3.2.1 Blazor solution. In development environment, I have no choice but using HTTP, not HTTPS, because Android app fails to call my HttpApi.Host API if a self-signed certificate is involved.

I remember a time, with ASP.NET Boilerplate, where http://localhost:500X and https://localhost:500X where both served by K

[2020-10-13 13:23] goodyear-incaricotech commented on #5762
@ebicoglu duplicate ChildDto one for Father and another for ChildService should resolve it, but i have duplicate the Dto(s) and my hierarchy have 5 levels, and then objects will be different and eventually they'll not match.
I think that recursion in programming should not be a problem.

Maybe if you use newtonsoft serializer with [this setting](https://www.newtonsoft.com/json/help/html/ReferenceL

[2020-10-13 13:36] ebicoglu commented on #5762
yeah, I know how to prevent the loop. we are on it!

https://www.newtonsoft.com/json/help/html/ReferenceLoopHandlingIgnore.htm

[2020-10-13 13:58] hikalkan opened #5784 "Blazor Exception handling doesn't show the error message"

[2020-10-13 14:29] Stirda commented on #5783
Ok. I finally figured it out myself.

From https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.1#new-behavior :

Then I made the following changes:
  - Set `options.RequireHttpsMetadata` to `!context.Services.GetHostingEnvironment().IsDevelopment()` (I know that this setting will be settable in appsettings.json soon).
  - Edited `https://` into `http://` in `src\MyCompanyName.MyProjec

[2020-10-13 15:42] #5762 closed, assigned to armanozak

[2020-10-13 16:20] khinhvuphiduong opened #5787 "Tenant roles base on Host roles"
Dear all,
I want to create some role from host side then assign to tenant admin user when I create a new tenant, then tenant can create theirs role base on assigned roles. My solution is **when assign role for tenant admin user, I can create a same role name then seeder permission (of host's role is assigned to new tenant) to this role, but it's so difficult when I update role from host side, and

[2020-10-13 16:26] #5634 closed, assigned to bnymncoskuner

[2020-10-13 18:19] hikalkan opened #5789 "Upgrade to .NET 5.0 RC2"
Just released: https://devblogs.microsoft.com/dotnet/announcing-net-5-0-rc-2/

Please do it in the `maliming/net5` branch. I will check & merge just after the ABP 3.3.0-rc.1 release.

[2020-10-14 02:06] maliming commented on #5661
Add them to ef core module is no problem. the web module is ok too.

[2020-10-14 02:06] #5661 closed, assigned to nobody

[2020-10-14 02:08] #5761 closed, assigned to realLiangshiwei

[2020-10-14 02:13] 274188A commented on #5782
I also experimented with making a call to the await `UiMessageService` in other pages and still same result.

Next I tried to run code synchronously but get:

      Unhandled exception rendering component: Cannot wait on monitors on this runtime.

[2020-10-14 02:46] 274188A commented on #5782
I have just now changed my ref to use

[code]

This fixes the bug!

hopefully we will be able to close this once I test using nightly build

[2020-10-14 03:42] #5287 closed, assigned to maliming

[2020-10-14 07:27] 274188A opened #5790 "Update Blazor BookStore EfCore Sample"
The code here:
https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore

Is a little out of date - for example there is no longer a class  `BlazoriseCrudPageBase` any more - might be confusing to users

[2020-10-14 07:52] #5784 closed, assigned to hikalkan

[2020-10-14 08:31] bnymncoskuner opened #5792 "[Angular] validateOnSubmit not working properly"

[2020-10-14 09:14] DonVliet opened #5793 "Microservices demo using MySQL Server not working"
We are trying to change the Microservices sample to use MySQL instead of SQL Server but are having a few problems. The migrations are not running through Docker and the Auth login page is not displaying anything.

The steps we used to change the code to use MySQL were:

- Replace all occurrences of UseSqlServer with UseMySql
- Replace all occurrences of SqlServerValueGenerationStrategy with MySqlV

[2020-10-14 10:24] abhishekbhalani commented on #86
@hitaspdotnet Good idea.
I did not worked with graphql more.
Share me if you get integration with abp+mongodb app structure..

[2020-10-14 10:37] maxkol commented on #5676
RC2 is already here
https://dotnet.microsoft.com/download/dotnet/5.0

[2020-10-14 10:45] #5401 closed, assigned to hikalkan

[2020-10-14 10:55] RayMMond opened #5794 "EnvironmentVariablesPrefix option has no effect in Startup.ConfigureServices"
* **ABP Framework version**: 3.2.1.
* Steps needed to **reproduce** the problem:
In IdentityServer project's startup.cs file, add following lines:

[code]

I managed to locate following lines in abp application creation process:

https://github.com/abpframework/abp/blob/81ce88ee203ae5d9b03842206d3d57caa1fef626/framework/src/Volo.Abp.Core/Volo/Abp/Internal/InternalServiceCollectionExtensions.cs#L26

[2020-10-14 11:03] #5755 closed, assigned to realLiangshiwei

[2020-10-14 11:37] #4898 closed

[2020-10-14 13:02] cotur opened #5795 "Get Object itself for OpenEditModalAsync in AbpCrudPageBase"
Currently, we get `Id` for entity to execute those actions, but in some case, the object's itself may be required.

[2020-10-14 14:47] murongqingsi opened #5796 "Project concurrency limit"
单机压测每秒50并发，就会导致登录服务异常无法访问

[2020-10-14 18:47] pascalfossouo commented on #2482
Hi, I have this error when running the .DBMigrator

Unhandled exception. Autofac.Core.DependencyResolutionException: An exception was thrown while activating Volo.Abp.Identity.IdentityDataSeedContributor -> Volo.Abp.Identity.IdentityDataSeeder -> Castle.Proxies.IdentityUserManagerProxy.

  "ConnectionStrings": {
    "Default": "mongodb://localhost:27017/BookStore"
  },

[2020-10-14 19:03] pascalfossouo commented on #713
Hi, I have this error when running the .DBMigrator

Unhandled exception. Autofac.Core.DependencyResolutionException: An exception was thrown while activating Volo.Abp.Identity.IdentityDataSeedContributor -> Volo.Abp.Identity.IdentityDataSeeder -> Castle.Proxies.IdentityUserManagerProxy.

"ConnectionStrings": {
"Default": "mongodb://localhost:27017/BookStore"
},

[2020-10-14 19:23] pascalfossouo opened #5798 "ABP MongoDB Migration"
Hi, I have this error when running the .DBMigrator

Unhandled exception. Autofac.Core.DependencyResolutionException: An exception was thrown while activating Volo.Abp.Identity.IdentityDataSeedContributor -> Volo.Abp.Identity.IdentityDataSeeder -> Castle.Proxies.IdentityUserManagerProxy.

"ConnectionStrings": {
"Default": "mongodb://localhost:27017/BookStore"
},

[2020-10-14 20:07] badre429 opened #5799 "@abp/ng.core throw exception when creating route for components if is the route is not registered in RoutesService"
ABP Framework 3.2
User Interface  type Angular

[code]

[2020-10-14 23:48] pascalfossouo commented on #5798
Hi having the same problem with BookStore-Mvc-EfCore on SQL Server

Microsoft.Data.SqlClient.SqlException: 'Invalid column name

![image](https://user-images.githubusercontent.com/12487736/96057010-61798280-0e5e-11eb-9014-c794d4a6ac3e.png)

{
  "ConnectionStrings": {
    "Default": "Server=(LocalDb)\\MSSQLLocalDB;Database=BookStore;Trusted_Connection=True;MultipleActiveResultSets=true"
  },

I hav

[2020-10-15 00:07] maliming commented on #5796
There is no difference, the code is open source, please check it.

[2020-10-15 00:07] #5796 closed, assigned to nobody

[2020-10-15 00:09] realLiangshiwei commented on #5798
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2020-10-15 00:25] pascalfossouo commented on #5798
Hi @realLiangshiwei :
- Download the abp-samples-master on Github.
- Take the BookStore-Mvc-EfCore
- Open it on VS 2019
- Build
- Set the .DBMigrator as start up projet or "New instance"
- F5
Having this issue.

pretty much did what I saw on this https://www.youtube.com/watch?v=cJzyIFfAlp8&t=390s

ABP version : Don't how to check the ABP version. Just download the abp-samples-master

'Acme.BookSto

[2020-10-15 00:33] pascalfossouo commented on #5798
Hi @realLiangshiwei Just let you know that my first comment is from mongoDB. Try it a couple time but not working and just want to know the reason just download the BookStore-Mvc-EfCore.

[2020-10-15 00:35] realLiangshiwei commented on #5798
Try open PMC setting `Acme.BookStore.DbMigrator` as the startup project and setting `Acme.BookStore.EntityFrameworkCore.DbMigrations` as default project, then run `add-migration upgrade_3_2_1` command

[2020-10-15 00:41] realLiangshiwei commented on #5798
Try
[code]

Thanks for your report, I will update these samples

[2020-10-15 01:13] maliming commented on #5676
Upgrade to .NET 5.0 RC2
https://github.com/abpframework/abp/issues/5789

[2020-10-15 01:18] maliming commented on #2482
hi @pascalfossouo

Please create a new issue.

[2020-10-15 01:24] pascalfossouo commented on #5798
Where can I found this ?

Configure<AbpUnitOfWorkDefaultOptions>(options =>
{
    options.TransactionBehavior = UnitOfWorkTransactionBehavior.Disabled;
});

[2020-10-15 01:25] realLiangshiwei commented on #5798
I mean you need to add the code to the module class.

[2020-10-15 01:25] maliming commented on #5794
hi
I will check it.

[2020-10-15 01:33] pascalfossouo commented on #5798
Hi I added inside BookStoreDbMigratorModule like this.

Run the .DBMigrator and used the update-databse but I don't see the BookStore database on SQL Server

public class BookStoreDbMigratorModule : AbpModule
    {
        public override void ConfigureServices(ServiceConfigurationContext context)
        {
            Configure<AbpBackgroundJobOptions>(options => options.IsJobExecutionEnabled = f

[2020-10-15 02:16] pascalfossouo commented on #5798
Hi @realLiangshiwei
re do all the step, but still not have my BookStore database on my SQL Server. run the .Web, have this error on my browser

![image](https://user-images.githubusercontent.com/12487736/96068806-39484e80-0e73-11eb-8484-9c75b1403de7.png)

[2020-10-15 02:30] #5798 closed, assigned to realLiangshiwei

[2020-10-15 02:30] realLiangshiwei commented on #5798
I have updated all samples https://github.com/abpframework/abp-samples/pull/41
Please pull all changes.

[2020-10-15 02:56] maliming opened #5801 "The GetEntityChange method of the audit-logging module does not have await."
https://github.com/abpframework/abp/blob/0ee3e328a5c8beb40e426318f82932a19eb7dd68/modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/EfCoreAuditLogRepository.cs#L144-L147

And consider using `FirstOrDefaultAsync` instead of `FirstAsync`

[2020-10-15 04:05] DingL0312 opened #5802 "MicroserviceDemo, get "Optimistic concurrency failure, object has been modified" error when edit userinfo"
postman tested

http://localhost:44315/api/identity/users/84a2d0b3-94ab-1213-c29b-39f8372d73f8

body: `{
    "userName": "admin2",
    "name": "jack",
    "surname": null,
    "email": "admin2@abp.io",
    "phoneNumber": null,
    "lockoutEnabled": true,
    "twoFactorEnabled": false,
    "id": "84a2d0b3-94ab-1213-c29b-39f8372d73f8"
}`

status: 403Forbidden

error:`{
    "error": {
        "code":

[2020-10-15 06:11] xyfy commented on #5698
I got the same err in the microservice

[2020-10-15 06:13] xyfy commented on #5698
the api works fine call api in modules ,but when cross other module's appservice

[2020-10-15 06:28] khinhvuphiduong commented on #5698
I got the same when cross API over Internal Gateway, but work when I call directly to destination micro-service.

[2020-10-15 06:37] xyfy commented on #5698
#3842

[2020-10-15 06:37] xyfy commented on #5698
this will be helper full

[2020-10-15 06:53] #5743 closed, assigned to maliming

[2020-10-15 06:53] leonkosak commented on #5773
I can confirm that this is basically always the case.

[2020-10-15 08:11] #5676 closed, assigned to maliming

[2020-10-15 08:28] maliming commented on #5789
https://github.com/abpframework/abp/issues/5676

[2020-10-15 08:28] #5789 closed, assigned to maliming

[2020-10-15 08:31] realLiangshiwei opened #5803 "Add XSRF-TOKEN to Swagger UI Requests"
Related https://github.com/abpframework/abp/pull/5728

We have added Auto Validate AntiForgery Token for HTTP API Requests, We also need to add XSRF-TOKEN to Swagger UI Requests. Like we did in aspnetboilerplate

[2020-10-15 08:46] murongqingsi commented on #5796
connect/token  这个接口我们创建项目没有看到这个接口的源码，改动不了

[2020-10-15 08:50] murongqingsi opened #5804 "connect/token 500 error."
connect/token  这个接口我们创建项目也没有看到这个接口的源码，改动不了
麻烦大神能给指点下源码位置，我们去查看下
_Originally posted by @murongqingsi in https://github.com/abpframework/abp/issue_comments/708999310_

[2020-10-15 08:58] buxueke opened #5805 "Why cant't synchronized AbpUsers table"
in my custom module,I create  "taskuser" table ,I want synchronized AbpUsers table,but UserLookupService.FindByIdAsync() is always null when the abpuser update
this is my code(I copy the blogUser):

public class TaskUserSynchronizer: IDistributedEventHandler<EntityUpdatedEto<UserEto>>,
        ITransientDependency
    {
        protected ITaskUserRepository UserRepository { get; }
        protecte

[2020-10-15 09:02] maliming commented on #5804
`connect/token` belong https://github.com/IdentityServer/IdentityServer4/

Please **write in English**.

[2020-10-15 10:54] #5562 closed, assigned to yekalkan

[2020-10-15 12:33] bnymncoskuner commented on #5792
Resolved by ng-turkey/ngx-validate#53

[2020-10-15 12:39] geffzhang opened #5807 "How to handle components that do not match .NET 5.0"
4.0 has been upgraded to 5.0 RC2, This is a good attempt, but one problem is that some components are not ready for .NET 5, such as Volo.Abp.EntityFrameworkCore.Oracle, which is not ready and 5.0 is a good fit, how to handle this situation is better, can support both .NET Core 3.1 and 5.0, similar to Microsoft's https://github.com/microsoft/reverse-proxy,  After all, .NET Core 3.1 is the LTS versi

[2020-10-15 12:54] sheng-jie opened #5809 "[MongoDb&Uow] Standalone servers do not support transactions."
ABP Framework version: 3.2.1.

MongoDB cannot support transaction in standalone server. So if only have one standalone server ready in development environment, we will get an error "Standalone servers do not support transactions" when transaction enabled in Uow.

You know, developers perhaps not have a MongoDB cluster with multiple server in local, so it's not friendly with developer. I think it w

[2020-10-15 12:59] mohammed-hussein commented on #5773
it's working now but when I enable windows authentication on the identity server, it's redirecting to an external provide URL and prompt windows login but never generate asp.Identity cookie and authentication fail,

this my configuration I did on BookStoreIdentityServerModule.cs
` Configure<IISServerOptions>(iis =>
            {
                iis.AuthenticationDisplayName = "Windows";

[2020-10-15 13:02] hikalkan opened #5810 "Reconsider & test performance of using SplitQuery()"
Here, the usages: https://github.com/abpframework/abp/search?q=AsSplitQuery
I think we should not use it by default.

[2020-10-15 13:05] realLiangshiwei commented on #5809
See https://github.com/abpframework/abp/pull/5468

We disable MongoDB transactions by default, if anyone needs, they can be enabled manually

[2020-10-15 13:23] pascalfossouo opened #5811 "BookStore-Angular-MongoDb run the .DMigratior"
I download the BookStore-Angular-MongoDb on 2020-10-15. I used visual studio code to run my project.
connectionstring :

  "ConnectionStrings": {
    "Default": "mongodb://localhost:27017/BookStore"
  },

- I rigth click to the Acme.BookStore.DMigrator.csproj to run it but after that I have this error

[Running] dotnet run --project "f:\Smartrek\Test\BookStore-Angular-MongoDb\aspnet-core\src\Acme.

[2020-10-15 13:35] sheng-jie commented on #5809
OK, I got it.

[2020-10-15 13:37] #5809 closed, assigned to nobody

[2020-10-15 14:19] szilardd opened #5812 "Use authorization as a standalone addition to ASP.NET Core project"
I like how the authentication is implemented and that it extends on ASP.NET Core Identity.

I have an existing project and would like to integrate only the custom `Authorize` attribute and permission system from Abp as described [here](https://docs.abp.io/en/abp/latest/Authorization) without having to use the entire Abp framework.

I see that there is a separate NuGet package related only to authe

[2020-10-15 14:21] pascalfossouo commented on #5811
Hi I found my problem and resolved it. there are the septs :
- When opening your project on Visual Studio Code Create a launch.json file and set the .DBMigrator as startup project.
- Press the Run button you will see the migration said "Migration successful complete"
- You can delete the .vscode/launch.json and create another like you did on the first sept, but now select your .HttpApi.Host as a s

[2020-10-15 14:21] #5811 closed, assigned to nobody

[2020-10-15 14:25] bnymncoskuner commented on #5792
merged

[2020-10-15 14:25] #5792 closed, assigned to bnymncoskuner, muhammedaltug, armanozak

[2020-10-15 18:52] maniani-dev opened #5814 "Why does get identity roles does not have a filter parameter ?"
I am looking at abp.io version 3.2.0

using swagger UI I can see that api/identity/roles GET doesn't have a filter parameter

Please see screenshot below

![image](https://user-images.githubusercontent.com/48318632/96173473-d52f9400-0f1f-11eb-8aea-f971ff96d1fa.png)

shouldn't have it?

[2020-10-16 01:14] realLiangshiwei commented on #5812
You can minimize the use of ABP framework: https://docs.abp.io/en/abp/latest/Getting-Started-AspNetCore-Application

[2020-10-16 01:15] murongqingsi opened #5815 "connect/token： Stress test 50 people concurrent program 500 abnormal"
get token interface through stress test: connect / token, and there are 500 exceptions in the visits of 50 people. What is the cause?

[2020-10-16 01:20] realLiangshiwei commented on #5815
`connect/token` is an identity server API endpoint. There is no difference, the code is open source, please check it.

[2020-10-16 01:20] #5815 closed, assigned to nobody

[2020-10-16 02:08] qiang999 opened #5816 "Identityclients user is the current user, not the configuration?"
hello,

I want the identityclients user to get the current user, not through configuration. Do you have a solution？

Thanks!

[2020-10-16 02:12] maliming opened #5817 "[Angular] abp-ng.core.js:1305 Cannot find the en locale file."
**Angular & Non-Seperated Identity Server & EF Core - preview 3.3.0**

`abp new Angular.NonSeperatedEfCore -t app -u angular --mobile none  --database-provider ef -csf --preview`

The browser console get an error when change language.

**app pro template project does not have this error**

![image](https://user-images.githubusercontent.com/6908465/96204866-ed42fa00-0f97-11eb-82c7-76f15818f3a6.png)

[2020-10-16 02:19] RayMMond commented on #5794
For anyone who had the same issue, I found a way:
[code]

[2020-10-16 02:27] 274188A commented on #5782
this has been fixed

[2020-10-16 02:27] #5782 closed, assigned to nobody

[2020-10-16 02:43] #5802 closed, assigned to nobody

[2020-10-16 02:43] realLiangshiwei opened #5818 "Bazor UI: The current page number should be active"
![image](https://user-images.githubusercontent.com/16813853/96206868-6d6b5e80-0f9c-11eb-86ee-1c3d29435542.png)

Should be

![image](https://user-images.githubusercontent.com/16813853/96206827-56c50780-0f9c-11eb-9461-49eccbcd05c6.png)

Same issue with pro template

[2020-10-16 03:14] 274188A opened #5819 "Volo.Abp.Identity.Application.Contracts - Need a net5.0 version"
I'm currently sourcing from projects to facilitate the upgrade to `net5.0`

Hit a blocker where the `MyProject.ApplicationContracts` project (net5.0) has a dependency upon `Volo.Abp.Identity.Application.Contracts`

But we do not currently have available a suitable net5.0 of `Volo.Abp.Identity.Application.Contracts`

[2020-10-16 03:17] #5819 closed, assigned to nobody

[2020-10-16 03:50] git102347501 opened #5820 "Package dependency version inconsistency encountered during project upgrade to 3.2.1"
ABP Version: 3.2.1
Type：Angular

I updated the project from 3.1 to ABP 3.2.1 using nuget all updates

Among them, Microsoft.EntityFrameworkCore.Design 3.1.6 was upgraded to 3.1.9, which led to my XXX.EntityFrameworkCore.DbMigrations Layer dependent Microsoft.EntityFrameworkCore.Sqlite 3.1.9。

However, my XXX.EntityFrameworkCore.Tests Layer installed packages: Volo.Abp.EntityFrameworkCore . SQLite

[2020-10-16 05:33] buxueke opened #5821 "in blog module , When will the abpuser be synchronized to bloguser"
just when the abpuser  is updated?

[2020-10-16 05:36] szilardd commented on #5812
Thanks, will check it out.

I can also probably implement permissions similarly to Abp using this approach

http://alexandrubucur.com/blog/2019/dynamic-policy-claims-in-asp.net-core-using-jwt-tokens-and-role-claims/

[2020-10-16 05:36] #5812 closed, assigned to nobody

[2020-10-16 05:44] realLiangshiwei opened #5822 "Blazor UI: Forms cannot submit via enter key"
Related https://github.com/abpframework/abp/pull/5575

1. Create tenant form
2. Create user form
3. Update user form

Other question:

![image](https://user-images.githubusercontent.com/16813853/96219008-7cf8a080-0fb8-11eb-912e-03e35c6586de.png)

Should be: Use the Shared Database.

Same issue with the pro template (all forms cannot submit via enter key)

[2020-10-16 06:09] realLiangshiwei opened #5823 "Blazor UI: Login with tenant should show the tenant name"
![image](https://user-images.githubusercontent.com/16813853/96219266-04461400-0fb9-11eb-9658-8e7f4c4615b9.png)

Should be `TenantName/UserName`

[2020-10-16 06:12] maliming commented on #5794
hi @RayMMond

As you can see, the `Configuration` of `AbpApplicationCreationOptions` is only applicable when `IConfiguration` is not registered in DI.

Use the `ConfigureAppConfiguration` method to change the configuration of asp net core .

[2020-10-16 06:19] realLiangshiwei opened #5824 "Blazor UI: Permissions modal should display provider"
Just like MVC UI and Angular UI.

![image](https://user-images.githubusercontent.com/16813853/96219974-7bc87300-0fba-11eb-9fce-54476d7bfeeb.png)

Same issue with pro template

[2020-10-16 06:19] buxueke commented on #5821
when  the bloguser create

[2020-10-16 06:39] maliming commented on #5821
The `BlogUserLookupService` will create the `bloguser` entity.

There is no documentation about `UserLookupService` yet, you can check the source code for details

https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/Users/BlogUserLookupService.cs#L6

https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d

[2020-10-16 06:39] #5821 closed, assigned to nobody

[2020-10-16 06:41] maliming commented on #5816
Can't understand.

[2020-10-16 07:04] hikalkan opened #5825 "Add ExpectedValue to RequiresFeature attribute"
Can be used like `[RequiresFeature("MyFeature", ExpectedValue="Value1")]`. If ExpectedValue is not provided, then it works as the current. Currently, we do it programmatically using the `IFeatureChecker` service.

[2020-10-16 07:10] qiang999 commented on #5816
I use HttpClient to Remote Service.
When I access an api ,and this api needs to access another remote service. At this time, can I use the current token to access, instead of configuring IdentityClients in appsettings.json.

[2020-10-16 07:29] taujiong opened #5826 "interface "ISettingDefinitionContext" should expose a "GetAll" method"
At present, the interface ["ISettingeDefinitionContext"](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Settings/Volo/Abp/Settings/ISettingDefinitionContext.cs) has two method named "GetOrNull" and "Add", while its implementation class [SettingDefinitionContext](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Settings/Volo/Abp/Settings/SettingDefinitionCont

[2020-10-16 08:00] buxueke commented on #5821
how to use `HttpClientExternalUserLookupServiceProvider`

[2020-10-16 08:07] RayMMond commented on #5794
Thanks for your reply @maliming .
Maybe we should add some docs or xml comments about it?
Because whether `IConfiguration` is registered in DI is not that obvious for developers.

[2020-10-16 08:25] maliming commented on #5794
I will add some comments on the property.

[2020-10-16 08:30] #5497 closed, assigned to hikalkan

[2020-10-16 08:36] mtozlu commented on #5010
Currently, all `Guid` properties are stored as LUUID (Legacy UUID) in mongodb, which has problems with converting due to different byte orders being used.
More info can be found here:
https://mongodb.github.io/mongo-csharp-driver/2.11/reference/bson/guidserialization/background/

To use the latest standard, one must set the `GuidRepresentation` to `Standard`. However, it is stated here that `BsonD

[2020-10-16 08:40] yekalkan opened #5829 "MVC UI (Tiered): Login button on top navigation bar"
![image](https://user-images.githubusercontent.com/5793291/96236098-431d9f00-0fa4-11eb-81b1-ba01ca12357a.png)

[2020-10-16 08:42] yekalkan opened #5830 "Feature Management Angular UI: Two Factor Info Text is not helpful"
![image](https://user-images.githubusercontent.com/5793291/96236338-9859b080-0fa4-11eb-8252-54699f3b19f4.png)