[2020-02-10 04:28] hikalkan opened #2791 "Allow to create a merged solution for angular UI"
Instead of separate solutions. It would be useful for small full stack teams on their development, while we think it is not a good practice to mix them.

[2020-02-10 05:45] #2782 closed

[2020-02-10 06:27] gdlcf88 commented on #2749
I get it. So for both permission system and setting system, the design is the same. Maybe there's actually a risk of data loss in this setting system design, but as you said, frameworks have different designs. I will close this issue, and the last suggestion is that [setting doc](https://docs.abp.io/en/abp/latest/Settings) should be enriched because there is no content about `forceToSet` and its r

[2020-02-10 06:27] #2749 closed

[2020-02-10 06:46] mehmet-erim commented on #2222
I think Axios is a great library for HTTP requests. We can use `axios' within Vue and React applications but I do not recommend for Angular applications because Angular has an HTTP module based on RxJS observable structure.

[2020-02-10 07:01] gdlcf88 commented on #2789
I use UserFriendlyException because it want to say such as "insufficient inventory" which is not an authorization failed error. But the problem is template the UserFriendlyException throws is the same as AbpAuthorizationException (only message is different), so client-side is hard to judge the error and make different deals for them. For example, if it throws AbpAuthorizationException, the browser

[2020-02-10 07:29] gdlcf88 commented on #2771
Yes, the single web project is enough.

Maybe one day you add new template (like Electron) for other platforms, so what about rename the "Mobile UI" to "Client UI" or "Client project"? 😄

Web background management UI:
- [ ] None
- [x] Mvc
- [ ] Angular
- [ ] React
- [ ] Vue.js

Client projects: (Multiple choice)
- [ ] None
- [x] React Native
- [ ] Xamarin
- [x] Electron

[2020-02-10 10:02] hieutns96 opened #2793 "Method For Clearing The Distributed Cache"
Hi all, Do we have any method to clearing the Distributed Cache ?
I've define the distributed cache object, and now I'm looking for a function to clear the Cache when there is some change.

[2020-02-10 10:10] maliming commented on #2793
You can only remove the cache through its `Remove `method.

https://github.com/abpframework/abp/blob/82c01a4c95e54a25f069ef4d712a7248dea47458/framework/src/Volo.Abp.Caching/Volo/Abp/Caching/IDistributedCache.cs#L144-L160

https://docs.abp.io/en/abp/latest/Caching

[2020-02-10 10:22] hieutns96 commented on #2793
Hi @maliming

Is there any method for clearing all the cache in DistributedCache, I'm using MemoryDistributedCache.

[2020-02-10 11:53] #2247 closed

[2020-02-10 12:05] chris-stormideas commented on #2793
@hieutns96

As @maliming mentioned, yes, the only way to remove items via IDDistributedCache` is with the `Remove` and knowing the key.

However, you can connect to redis and do it yourself, this should help: https://stackoverflow.com/questions/24531421/remove-delete-all-one-item-from-stackexchange-redis-cache

[2020-02-10 13:12] yekalkan opened #2795 "[Bug]: CLI doesn't add migration and update database after adding a module on Mac/Linux environment"
reported here: https://support.abp.io/QA/Questions/19

[2020-02-10 13:27] acjh commented on #2789
@gdlcf88 Either:
- throw `AbpValidationException`, or
- pass `code` in `UserFriendlyException` constructor and map it in `AbpExceptionHttpStatusCodeOptions`: https://docs.abp.io/en/abp/latest/Exception-Handling#custom-mappings

[2020-02-10 13:34] gdlcf88 commented on #2789
But I cannot consider all the exception with null code is AbpAuthorizationException. It would be better if abp retains some code for framework level error. For now I have to find AbpAuthorizationException with `result.error.message.startsWith('Authorization failed!')`

[2020-02-10 13:36] gdlcf88 commented on #2789
For "insufficient inventory" error, maybe 403 is better than 400.

[2020-02-10 14:13] acjh commented on #2789
Then do (part of) the "or" way, which the framework already supports, for your custom error:

[2020-02-10 14:16] gdlcf88 commented on #2789
I made a mistake. AbpAuthorizationException means user has logged in, but not have specified permission.

[2020-02-10 14:27] yekalkan opened #2796 "Docs Module: 404 document not found page"
It's in "Docs-NotFoundPage" branch

[2020-02-10 14:34] #2796 closed

[2020-02-10 16:15] vd3d opened #2799 "Add FaceBook or Google login provider, how ?"
Hi,

I wish a new login provider, google or facebook.

But how ? (and in which project, I mean xxxWeb, xxxApiHost, xxxIdentity)

I have add the following code, but it doesn't help !

[code]

Thanks

[2020-02-10 16:56] hikalkan commented on #2771
YAGNI! We start with mobile UI, it is easy to change later.

[2020-02-10 17:13] EpsilonRepo opened #2800 "Client permissions check fail"
Hi,

I try to Authorize my api endpoints but the client permissions aren't loaded properly.
I could set them through the web application and find them in the AbpPermissionGrants table.

When they get loaded, I see that the providerKey used in the query is the client_id, instead of the generated guid that is stored in the the table (and visible in the web interface).
Of course, it can't find the gr

[2020-02-10 20:17] Hardshop18 opened #2801 "ABP with Xamarin.Forms"
Hi,
I created an Android project that uses Volo.ABP, and the project is running both on the emulator and on the phone. I have two cases to resolve:

1 - When generating the APK the application size is around 71mb, I have already changed some settings to generate the APK. But when it decreases the size of the APK does not work (29mb and 10mb).

2 - When creating the module to access the database in

[2020-02-10 22:18] vd3d opened #2803 "BUG : claims not persisted with MongoDB"
Hi,

I try to add some 'extra' information to the users, so I try to add a custom "claim".

The problem is that none of the claims is persisted into MongoDB, it "looks" like a bug because even the "Abp" claims are absents!

[2020-02-11 03:10] #2793 closed

[2020-02-11 03:35] maliming commented on #2776
I think the `AppUser Creator` foreign key property should be nullable.

[2020-02-11 04:15] xinshoushangdao opened #2804 "Net.Sockets.SocketException"
![image](https://user-images.githubusercontent.com/27396291/74210705-b2c9e480-4cc7-11ea-91ed-e2fd9773fb2c.png)
![image](https://user-images.githubusercontent.com/27396291/74210714-be1d1000-4cc7-11ea-870c-1f5e59751d8c.png)

First Show the create option, second Show  error Info;
And I have no problem creating Project from the command line.

[2020-02-11 04:41] maliming commented on #2804
See the startup templates documentation. https://docs.abp.io/en/abp/latest/Startup-Templates/Application#tiered-structure

[2020-02-11 05:25] hikalkan commented on #2803
There is no "Abp" claims stored in the database. Can you please share the code you've written, so we can understand what you are trying to do.

[2020-02-11 05:46] hikalkan opened #2805 "Cache documents in the local database for the documents module"
* Create a database table (and corresponding entity) to store copies of the documents.
* Create an application service method (authorized) to read all the documents from the data source and store in the database. This is needed initially save all the docs. It is also useful to refresh the cached docs.
* Continue to the current logic to get the docs from the original source (with the caching system

[2020-02-11 05:50] hikalkan opened #2806 "Setup the dockerfile for the application startup template"

[2020-02-11 07:29] vd3d commented on #2803
I mean, all the types from AbpClaimTypes ! PhoneNumber, etc...

I wish to add a my own property to my user "age", "gender, ...

[2020-02-11 08:13] yekalkan commented on #2706
Current solution until datepicker lib natively fixes this issue:

[code]

[2020-02-11 08:13] #2706 closed

[2020-02-11 08:46] #2795 closed

[2020-02-11 11:56] crashsol commented on #1666
In many cases, the organization needs sorting. Can you provide a sorting field to enrich its functions

[2020-02-11 14:01] maliming commented on #1666
hi @crashsol  @mperk is implementing this feature, you can discuss related issues in https://github.com/abpframework/abp/pull/2563.

[2020-02-11 14:46] HenroOnline commented on #2608
Keep in mind that the value Abp.Mailing.Smtp.Password must be encrypted.

[2020-02-11 19:09] leonkosak opened #2809 "Q: Yarn 2 (Berry) fiasco"
Besides huge braking change (PnP), Yarn 1.x will be archived in a year or two.
https://dev.to/arcanis/introducing-yarn-2-4eh1

![image](https://user-images.githubusercontent.com/39346964/74269312-8f278e00-4d09-11ea-8ef6-6c9dda590331.png)

Video on Yarn 2 topic: https://www.youtube.com/watch?v=bPae4Z8BFt8

For Angular GUI project - what will you do? NPM did a huge step forward since you were "force

[2020-02-11 20:23] HenroOnline commented on #2608
Also check if the property ReturnUrl on the ResetPasswordRequestInput model is on you're own website and not a malicious website.

I think only relative return url's from the client should be accepted and on the server the correct full address must be created which will be used in the e-mail.

[2020-02-11 20:45] majidbigdeli opened #2810 "How To override api​/identity​/users Parameter in post And Put Request"
How To Can I  Change api​/identity​/users  Parameter ?

I want override IdentityUserCreateDto And Add Property To it.

[2020-02-11 22:28] vd3d opened #2811 "ICurrentUser properties are null in a remote service, why ?"
Hi,

I have created a new remote service and need to get some information about the current user, but all the fields are null ! Of course, I'm logged in... on the Web site pages, I can get my "HttpContext.User"... but cannot retrieve it on the Service side (HttpApi.Host).

In a second step, I added tried to add [Authorize] and then got an exception:
`Volo.Abp.AbpException: 'Remote service returns

[2020-02-12 01:43] maliming commented on #2810
see https://github.com/abpframework/abp/issues/2268

[2020-02-12 01:50] maliming commented on #2811
Are you using tiered template?

Can you share some code to explain your problem?

[2020-02-12 06:55] wakuflair commented on #2787
@hikalkan
Will this feature avaliable in 2.1?

[2020-02-12 07:06] vd3d commented on #2811
Yes, I use a tiered template.

Here some code, hope it help :

In my MyProject.Application :

[code]

Then, in my MyProject.Web, I call it with :

`await _service.CreateProAccountAsync();`

Really, nothing special, but I don't understand why I have nothing in the CurrentUser and if I add the [Authorize] attribute, I got an exception... I only need to be logged in (which is the case)

[2020-02-12 07:18] Goxiaoy commented on #2697
Is it able to set empty id of type `IEntity<Guid>`  automatically before inert? I notice that  IEntity<Guid> is set only for id?

[2020-02-12 07:29] Goxiaoy commented on #2697
I notice that in AbpDbContext So this funtion is broken when tring to add multiple none id set entities to dbcontext
https://github.com/abpframework/abp/blob/c708a7eb310acd6c0d318c8c48e764c6a311d01e/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L175

[2020-02-12 07:30] javiercampos commented on #2697
@Goxiaoy this is what this issue is about. I explicitly provided a workaround on the first post

[2020-02-12 07:33] #2803 closed

[2020-02-12 07:55] Goxiaoy commented on #2697
@javiercampos Thanks a lot for your solution. Override `ConfigureValueGenerated` to config `ValueGeneratedOnAdd` will also work.
But there is one side effect. It leaves the database provider to decide id value generated from client or server( ref: https://docs.microsoft.com/en-us/ef/core/modeling/generated-properties?tabs=data-annotations)

It may cause some inconsistent result when using differen

[2020-02-12 07:58] majidbigdeli commented on #2810
@maliming
I See [#2268](https://github.com/abpframework/abp/issues/2268) But it Create Another new Service ;
You dont have Another Solution That Change IdentityUserCreateDto And Add Parameter To it;

[2020-02-12 07:59] inamvar opened #2812 "How to implement AOP with Autofac Inspectors?"
I want to add AOP feature to my project. how can I implement that with Autofac inspectors? I found some documentation (with castle inspectors) in old boilerplate framework, but  is there any in new abp framework?

[2020-02-12 09:11] wakuflair commented on #2706
My worked solution is attached to the `hide` event:

[code]

[2020-02-12 11:11] #1371 closed

[2020-02-12 12:08] maliming commented on #2812
Please refer to the built-in interceptors, such as uow.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/AbpUnitOfWorkModule.cs#L10

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWorkInterceptorRegistrar.cs

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWorkInterceptor.cs#

[2020-02-12 12:49] leonkosak commented on #1371
@hikalkan: This functionality creates identical databases (schema) for host and tenant?
If my statement is true, the only way for having different schemas for host and tenants is to create two different migrators?

[2020-02-12 12:53] inamvar commented on #2812
thanks, that's great. and how can I specify a method or a class to apply that interceptor? atucally li what we can do in `AspectCore` library. for example we can use predicate strings to apply an interceptor to any classes ends with name "*Service" :
[code]

[2020-02-12 12:59] gterdem commented on #1371
@leonkosak Yes, that is correct. Currently schemas for both host and tenants are identical.
To create specific schemas for both host and tenants is a point we can discuss.

[2020-02-12 13:09] inamvar commented on #2812
I used abp builtin Interceptor and got This error :
[code]

Any idea?

[2020-02-12 13:33] olicooper opened #2813 "User login attempt audit log"
In aspnetboilerplate we had a table to store user login attempts called `AbpUserLoginAttempts` with the following table structure:
![image](https://user-images.githubusercontent.com/22296715/74338004-491a0b00-4d99-11ea-98c4-ddc9d426a36a.png)

I'd like to implement something similar and I was wondering if there was plans to add this feature or if we are meant to use to use the current `AuditLogging

[2020-02-12 13:46] maliming commented on #2812
Judge the `Type `in the `RegisterIfNeeded `method.
[code]
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWorkInterceptorRegistrar.cs#L10

[2020-02-12 14:22] inamvar commented on #2812
I'm completely confused. is there any solution for this error?

[2020-02-12 16:00] Znow commented on #2614
@rlavaud @gterdem Do any of you have a final working example on how to implement AAD into ABP? Thanks in advance

[2020-02-12 16:28] hikalkan commented on #2120
Started to work on this: https://github.com/abpframework/abp/blob/dev/docs/en/AspNet-Boilerplate-Migration-Guide.md

[2020-02-12 16:48] viewtance opened #2814 "language-management/language-texts method return error"
the language texts method of the language management services return below error:
`Unable to cast object of type "Volo.Abp.LanguageManagement.Dto.LanguageTextDto"to type Volo.Abp.Application.Dtos.PagedResultDto`1[Volo.Abp.LanguageManagement.Dto.LanguageTextDto]
System.InvalidCastException: Unable to cast object of type "Volo.Abp.LanguageManagement.Dto.LanguageTextDto"to type "Volo.Abp.Application.

[2020-02-12 18:38] gterdem commented on #2614
@Znow It's pretty straight forward with AAD. If you stuck at some point, create a new issue explaining it, we'll try to help.

[2020-02-12 18:45] Znow opened #2815 "How to create local Identity User when using AAD?"
Hi,

As asked in a previous issue #2614 , I would like to request help on how to create a user in the DB, when signing in with AAD.

I have implemented the AAD logic in ProjectNameWebModule.cs "ConfigureAuthentication"-method, but how can in here, when "OnTokenValidated", create a user, if it does not exist in the DB?

So I can login a user when logging in with AAD? :-)

Thanks in advance,

Regard

[2020-02-12 21:48] gterdem commented on #2815
You are looking for [Signin with External Provider](http://docs.identityserver.io/en/latest/topics/signin_external_providers.html). Did you check this documentation?

[2020-02-13 01:34] maliming commented on #2812
Please share the code that caused the error.

[2020-02-13 01:42] maliming commented on #2814
How to reproduce the problem?

[2020-02-13 01:51] maliming commented on #2811
hi
Can you provide complete steps so that I can reproduce your problem?

[2020-02-13 02:58] maliming commented on #2813
Maybe you can replace `SignInManager` for your own implementation and intercept login attempts in methods like `PasswordSignInAsync`.

[2020-02-13 05:49] viewtance commented on #2814
Using app-pro template with mvc tiered UI,  create a new application, did the db migration, run the application, click the language texts

[2020-02-13 06:51] inamvar commented on #2812
[code]

[code]

[code]

[2020-02-13 07:30] zHaytam commented on #617
What if the model is in `Application.Contracts` ?

[2020-02-13 07:51] maliming commented on #2736
This error happened very accidentally when I started multiple projects at the same time.

[code]
[code]

[2020-02-13 07:53] zHaytam opened #2817 "SelectItems in a CreateUpdateXDto in Application.Contracts"
Hello,

The only example I can find of `SelectItems` is where the model (dto) is in the razor page's model, but I don't think that's a good idea? (correct me if I'm wrong please).

If the model is in the Web project, it can't be used in our service. Imagine i'm handling products, each product has a category and upon its creation, I want the user to choose it. Usually I put the `CreateUpdateProduct

[2020-02-13 08:05] inamvar commented on #2812
I checked the `RegisterIfNeeded` method  and  `UnitOfWorkHelper` class.  The helper just check if the implementaionType has any specified attribute, and if one of its method has that attribute the interceptor will apply to  all off the methods of that class. and then I found that you checked the executing method in an  action filter separately at runtime. this is not  the solution I'm looking for.

[2020-02-13 08:05] maliming commented on #2812
hi

Can you filter the services you need interceptors here? Such as application services. Not all services can be intercepted.

[code]

[2020-02-13 08:09] inamvar commented on #2812
Yes, I filtered the services and the error has gone, but this solution is not as simple as AspectCore library. is there any way to use AspectCore instead of builtin Incterceptors?

[2020-02-13 08:17] maliming commented on #2812
Your problem is not related to the class library.

![image](https://user-images.githubusercontent.com/6908465/74413916-4abbff80-4e7b-11ea-83a1-cfe4dce136dd.png)

The interceptor is abstract. If you are interested, you can try to replace it with other intercepting libraries.

https://github.com/abpframework/abp/blob/88ded4ef643f2eb8786574794b45b84e0d66e4f9/framework/src/Volo.Abp.Core/Volo/Abp/Dynam

[2020-02-13 08:27] maliming commented on #2817
Dto should be a simple class. It can be serialized.

You can configure the mapping of the viewmodel class that contains the SelectItems property to the dto class.

[2020-02-13 08:47] kurtwilbies commented on #2791
Does this mean we can edit or develop our own theme?

[2020-02-13 08:57] yekalkan commented on #617
@zHaytam It may not work properly.

[2020-02-13 10:16] hikalkan opened #2818 "Update documentation for "Allow to write audit logs on exceptions even if disabled for GET requests""
https://github.com/abpframework/abp/pull/2625

[2020-02-13 10:24] #2277 closed

[2020-02-13 11:22] hikalkan opened #2819 "Audit Log system doesn't log controller actions by default"
If a request only consists of a controller action call and not calls an app service, then audit log system doesn't log it.
You can add [Audited] to the controller to make it logged, but this should not be needed when I check the documentation.

[2020-02-13 11:25] hikalkan opened #2820 "Consider to save audit logs even if no action performed in the request"
https://github.com/abpframework/abp/blob/f47a0c1f5f8e9d224663b2d8c2f829c8b78f91b1/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingManager.cs#L125-L128

It doesn't save if no action or entity changes in the current request.

[2020-02-13 11:27] hikalkan opened #2821 "Audit log can't know if an error ocurred if the exception filter handles it"
We should also check the http response code to understand if there is an error. It currently only checks thrown exceptions:

https://github.com/abpframework/abp/blob/f47a0c1f5f8e9d224663b2d8c2f829c8b78f91b1/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs#L38-L41

[2020-02-13 11:54] zsanhong opened #2823 "Acme.BookStore module example have wrong"
when I download the Acme.BookStore module example, and run https://localhost:44349/BookManagement/Books,
I got a wrong msg:
"Cannot read property 'getList' of undefined" in the web/Pages/BookManagement/Books/index.js
so I add a BookController.cs in the path HttpApi/Books/,
and the code:
  `using System;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Volo.Abp;
using Volo.Abp.Ap

[2020-02-13 11:56] #2669 closed

[2020-02-13 12:09] maliming commented on #2823
Which module example?

![image](https://user-images.githubusercontent.com/6908465/74434055-9632d580-4e9c-11ea-9883-df7345d3dbc3.png)

[2020-02-13 12:16] gterdem commented on #2821
Even if there is an error, http response code is always 200. Any other way to check it? Or am I out of scope?

[2020-02-13 12:44] zsanhong commented on #2823
yes ,modules/book-management

[2020-02-13 15:28] Znow commented on #2815
@gterdem I have implemented signin with AAD... So what I need is to create a local user, when a user signs in with AAD, so I can buy the other login mechanism, enforced by ABP? :-)

[2020-02-13 20:21] vd3d commented on #2811
I'm trying... so I have create a full sample. But it work !
In my app, I have switched from Razor (default sample) to Server-sider Blazor, but not sure it is the problem ! I try to reproduce it... (no luck for now).

[2020-02-14 01:26] maliming commented on #2814
Fixed in 2.1, may be released on February 20.

[2020-02-14 02:02] maliming commented on #2823
I ran the `\abp\samples\BookStore-Modular\application\src\Acme.BookStore.Web\Acme.BookStore.Web` project and did not reproduce your problem.

![image](https://user-images.githubusercontent.com/6908465/74494760-db90ea80-4f10-11ea-89c4-fd6f5a0f0c6c.png)

[2020-02-14 03:48] xxyuze opened #2827 "How to mock CurrentUser in unit test"

[2020-02-14 04:04] maliming commented on #2827
see https://github.com/abpframework/abp/search?utf8=%E2%9C%93&q=Substitute.For%3CICurrentUser%3E&type=

[2020-02-14 05:20] xxyuze commented on #2827
CurrentUser allways be null in AppService tests.

![image](https://user-images.githubusercontent.com/17399581/74503643-7d720080-4f2c-11ea-9558-a866e603edb3.png)

![image](https://user-images.githubusercontent.com/17399581/74503673-9a0e3880-4f2c-11ea-8fe5-7e6ec7268f01.png)

![image](https://user-images.githubusercontent.com/17399581/74503684-a72b2780-4f2c-11ea-9b90-f0945ac78c5f.png)

[2020-02-14 05:23] maliming commented on #2827
Please use Interface instead of class.

![image](https://user-images.githubusercontent.com/6908465/74503807-1bfe6180-4f2d-11ea-8030-f25f436e3d02.png)

[2020-02-14 05:38] xxyuze commented on #2827
The same error happened

![image](https://user-images.githubusercontent.com/17399581/74504411-0be78180-4f2f-11ea-8502-295cd0ec3108.png)

![image](https://user-images.githubusercontent.com/17399581/74504480-47824b80-4f2f-11ea-8953-a353f76e91ee.png)

[2020-02-14 05:42] maliming commented on #2800
hi

Is your project tiered?

Please share some screenshots and code to explain your problem.

[2020-02-14 05:42] acjh commented on #2827
Show code for `GroupAppService`.

[2020-02-14 06:02] gterdem commented on #2815
@Znow So you connected AAD as External OIDC provider (like google, facebook etc), seeing as external provider in your login page right?
When user selects Login with AAD (or whatever you named it), it will be redirected to AAD login page to sign in.
After user logs in to AAD Login page successfully;
If user is logging to your app first time, external registry screen will be displayed; asking email

[2020-02-14 06:35] ismcagdas commented on #2791
@kurtwilbies you can but this issue is not related to themes.

[2020-02-14 07:32] xxyuze commented on #2827
I make project from empty AspNet Core MVC Web Application Template

![image](https://user-images.githubusercontent.com/17399581/74510457-caf76900-4f3e-11ea-8428-07a7602de8b5.png)
![image](https://user-images.githubusercontent.com/17399581/74510489-e06c9300-4f3e-11ea-9d52-e2a79b797710.png)

[2020-02-14 07:52] maliming commented on #2827
@xxyuze Please share the full steps to reproduce the problem.

[2020-02-14 08:13] mehmet-erim opened #2829 "Improve the error handling in Angular UI"

[2020-02-14 09:02] majidbigdeli commented on #2810
@maliming  Thank You  .

[2020-02-14 09:03] #2810 closed

[2020-02-14 10:31] nexawo opened #2830 "How to Test MemoryCache Module"
I am using ABP memory cache in my project where it first gets data from DB and then on second run it's load data from the cache and also I have written a function which clears the cache if a new record insert.

Now I created a test for inserting a new record which is working fine but I also want to test that is the cache is also getting cleared when new record inserts.

[2020-02-14 11:37] ebicoglu opened #2831 "Enable inline password entry for ABP CLI"
Enable logging in with the password parameter via ABP CLI.
`abp login MyUsername -p MyPassword`

[2020-02-14 11:38] #2831 closed

[2020-02-14 12:37] maliming commented on #2830
You can test it by injecting the cache interface and checking if the previous key exists.

[2020-02-14 13:57] zsanhong commented on #2823
Thank you maliming。If you use abp cli to create the module,then you will encounter this problem. And now I know the reason, because the web project did not reference the application project, and did not add the follow code in the BookManagementWebModule.cs like :
``Configure<AbpAspNetCoreMvcOptions>(options =>
            {
                options.ConventionalControllers.Create(typeof(BookManageme

[2020-02-14 13:58] #2823 closed

[2020-02-14 14:03] #2120 closed

[2020-02-14 14:08] hikalkan opened #2832 "Improve ASP.NET Boilerplate Migration Guide"
Add UI part, add more samples and improve the current sections.
Related to https://github.com/abpframework/abp/issues/2120

[2020-02-14 14:09] hikalkan commented on #2120
Published it: https://docs.abp.io/en/abp/latest/AspNet-Boilerplate-Migration-Guide
However, will improve this guide by the time: https://github.com/abpframework/abp/issues/2832

[2020-02-14 14:21] EpsilonRepo commented on #2800
Hi,

Yes the project is tiered. I just try to access my api endpoints with postman.
Without permissions, it works fine.

But when I add the `[Authorize]` header and set permissions on the client (see printscreen below) I get a 403.

![image](https://user-images.githubusercontent.com/5107594/74538307-3be95180-4f3c-11ea-8bd9-fee1018d2d95.png)

In the log file I can see that the database request to c

[2020-02-14 16:16] hikalkan opened #2833 "Implement Soft Delete for the MemoryDB"

[2020-02-14 16:33] #139 closed

[2020-02-14 17:25] hikalkan commented on #2830
This is how we've implemented the test in the framework:

https://github.com/abpframework/abp/blob/2e20131ed8c83d6fb926dfa6da3b5215d2aa10c8/framework/test/Volo.Abp.Caching.Tests/Volo/Abp/Caching/DistributedCache_Tests.cs#L11-L38

So, you can it similar for your side.

[2020-02-14 17:25] #2830 closed

[2020-02-15 05:53] #2814 closed

[2020-02-15 12:25] Znow commented on #2815
@gterdem Thanks alot - I can now see a "Azure AD login"-button on my Login page. Buuut, with correct setup in WebModule file, I am being thrown this error:

![image](https://user-images.githubusercontent.com/265719/74587735-9e9f2380-4ff6-11ea-89a5-235b62e70126.png)

I have seen this error several times before also with Azure AD integration

[2020-02-15 17:07] zHaytam opened #2835 "Add GetAllBytesAsync in AbpFormFileExtensions"
Hello,

This isn't an issue, but rather a possible improvement.

Since `AbpStreamExtensions` contains a `GetAllBytesAsync` method, it would be good to have the same as an extension method to `IFormFile`. Working with streams in an async way is always better.

I can make a PR if you want.

Thank you!

[2020-02-16 02:49] xujin950710 opened #2836 "delete in batches"
May I ask how to add bulk deletion to the user's service

[2020-02-16 07:31] maliming commented on #2835
Welcome to contribute your code. 👍

[2020-02-16 10:14] hikalkan opened #2837 "ABP CLI Replace Packages with Previews"
We re-started to release nightly previews. However, it is tedious to replace all NuGet/NPM packages with the previews and return to stables when its released.

So, add a new command to the ABP CLI to replace all NuGet/NPM packages with the previews and vice verse. Example commands:

[code]

If anyone has a better command name, it is appreciated :)

[2020-02-16 10:30] acjh commented on #2837
How about:

[code]

Inspired by `nuget sources`: https://docs.microsoft.com/en-us/nuget/reference/cli-reference/cli-ref-sources

[2020-02-16 13:22] hikalkan commented on #2837
Good suggestion. But "source" has a single meaning for NuGet, while it may mean "the source of the modules" for abp. We have/will another command to replace a module reference by its source code, so a root "sources" command would not be suitable. Maybe "abp package-sources -p" and "abp package-sources -s" (long versions are --preview and --stable).

[2020-02-16 13:26] hikalkan opened #2838 "Test for FullAuditedEntity<T> base class"
A developer reported that using `FullAuditedEntity<Guid>` as the base class instead of the `FullAuditedAggregateRoot<Guid>`  causes problems in [the tutorial](https://docs.abp.io/en/abp/latest/Tutorials/AspNetCore-Mvc/Part-I).

[2020-02-16 13:37] acjh commented on #2837
Do you mean replace a remote reference with a local reference?

[2020-02-16 14:55] mabusaa opened #2839 "Cannot resolve parameter 'Volo.Abp.Caching.IDistributedCache"
I am trying to use Redis cache in .net core 3.1 , I am injecting the interface "IDistributedCache" in App service constructor , but I am receiving the below error :

---> Autofac.Core.DependencyResolutionException: None of the constructors found with 'Autofac.Core.Activators.Reflection.DefaultConstructorFinder' on type 'Castle.Proxies.RequestStatusAppServiceProxy' can be invoked with the available

[2020-02-16 15:36] hikalkan commented on #2821
If so, we have another problem. It should return an error status code. Can you confirm that?

[2020-02-16 15:41] vd3d opened #2840 "Contribute : how to debug modified Nugets"
Hi,

I'm able to modify the source code and build it, but once done... how can I test (from another external project) if my changes work ?

should I publish to my own nugets server ?
I need a 'debug' package and local one (not on nuget.org) !

Thanks

[2020-02-16 17:05] hikalkan commented on #2817
I suppose you mean ` SelectlistItem`. However, I didn't understand the question.

[2020-02-16 17:27] hikalkan commented on #2787
No, we'll start to work on it in v2.2. We will try to explain/document current extension/customization points and work on other possibilities.

[2020-02-16 17:30] hikalkan commented on #2838
Error details:

[code]

It is something related to the `IsDeleted` field. This error log is for PostgreSQL.

[2020-02-16 17:33] hikalkan commented on #2840
The best way to use local project references instead of nuget packages.

* Fork the abp repository.
* Add a new project, but not use NuGet packages, use local project references ([see the identity module as an example](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo.Abp.Identity.Domain.csproj#L28))
* See [the development section](https://github.com/a

[2020-02-16 17:33] #2840 closed

[2020-02-16 17:38] hikalkan commented on #2809
Thanks @leonkosak for sharing this.
We will check & discuss it again in the next weeks. We will also see the trend of the community.

[2020-02-16 18:17] hikalkan commented on #2799
See https://github.com/abpframework/abp/issues/2787#issuecomment-583873851 and https://github.com/abpframework/abp/issues/2533#issuecomment-570939959 for a general response on the customization of the current modules.

[2020-02-16 18:17] #2799 closed

[2020-02-16 18:36] hikalkan commented on #2801
We are working on the v2.1 release, so not have time at the moment. We will check it in the milestone.
Thank you for your contribution :)

[2020-02-16 18:38] zHaytam commented on #268
I tried that, but since it uses a plain `List`, using `RedirectToX` won't work :/

[2020-02-16 18:41] hikalkan commented on #2815
I suppose the problem is that AD sets user id claim which is obviously not a GUID and the ABP framework tries to read it as GUID.
You should somehow change this claim to another one (after return from the AD).

[2020-02-16 18:48] hikalkan commented on #2836
You can create a [custom repository](https://docs.abp.io/en/abp/latest/Repositories#custom-repositories) and implement it yourself. There are also some libraries to simplify it. However, ABP currently doesn't have a pre-built functionality for this.

[2020-02-16 18:48] #2836 closed

[2020-02-16 18:52] hikalkan commented on #268
So, you implement yourself 😄

[2020-02-16 18:54] hikalkan commented on #2835
Please send PR :)

[2020-02-16 18:59] hikalkan commented on #2837
You know, startup project is using the modules as NuGet packages. For example, for the Identity module, you don't have the source code. We will try to add a command to CLI to remove Identity Nuget packages, download and add [its source code](https://github.com/abpframework/abp/tree/dev/modules/identity) directly into the current solution, so you can freely modify it.

[2020-02-16 19:05] Znow commented on #2815
@hikalkan I have a total standard implementation, so can't see how I should or can change this? :-)

[2020-02-16 19:09] hikalkan commented on #2815
We can work on that to see details, but unfortunately now in this week (because we will release 2.1 in this week). If you have time, we can better help on this. I believe this is needed by many developers.

[2020-02-16 19:12] Znow commented on #2815
@hikalkan I can sure try to help, but please try and point me in some direction. I'm not that much into how Identity Server 4 works.

[2020-02-16 19:13] hikalkan commented on #2839
Are you injecting `IDistributedCache<List<T>>`? I suggest you to create another class to use for the cache and add `List<T>` inside it.
We didn't test well with generics as the `IDistributedCache` type parameter.
We can try to add this support if it is not supported, but first I want to understand if it works as I said.

[2020-02-16 20:42] mabusaa commented on #2839
My bad , Solved by adding [DependsOn(typeof(AbpCachingModule))]

[2020-02-16 20:42] #2839 closed

[2020-02-16 21:08] mabusaa commented on #2839
It will be great if this was added to documentation @hikalkan

[2020-02-17 02:11] maliming commented on #2800
Can you provide steps for me to reproduce your problem? :)

[2020-02-17 03:43] SmallShrimp opened #2841 "permission question!"
### code snippet:
#### AuthServer
1. identity client config
[code]

#### AppClient
1. appsettings.json:
[code]

### Question
I created a class called EscUserSynchronizer to synchronize user information,like Blogging's.
and i get `Authorization failed! Given policy has not granted: AbpIdentity.UserLookup`.
(I have obtained the token through configuration!)
how can i do ?

[2020-02-17 03:54] fowardyehuo commented on #2345
Looking forward to the update of 9

[2020-02-17 04:56] hikalkan opened #2842 "Caching document should have an "installation" section"
For https://docs.abp.io/en/abp/latest/Caching

Just like https://docs.abp.io/en/abp/latest/Localization#volo-abp-localization-package

[2020-02-17 04:56] hikalkan commented on #2839
Startup templates already has this dependency, so didn't need to document. However, you are right, anyone may start with an empty project and want to use the caching module. Created an issue: https://github.com/abpframework/abp/issues/2842

[2020-02-17 05:20] hikalkan commented on #2841
Did you seed the database (check the IdentityServerClients table)?

[2020-02-17 06:20] leonkosak commented on #1371
Well, having only one migrator (calling with parameter -host or -tenant) would be a great benefit in my opinion.
Most of aplications are using host only for managing tenants (possible with additional custom logic), but all application-related logic is "inside" (protected with permissions) for tenant.

[2020-02-17 06:28] gterdem commented on #2821
Yes, status code always returns 200 because it returns without setting it in `AbpExceptionFilter`
https://github.com/abpframework/abp/blob/2b53c9ad1997c79a70ef59f433da6793385d6edb/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ExceptionHandling/AbpExceptionFilter.cs#L37-L42

Adding
 `context.HttpContext.Response.StatusCode = (int)_statusCodeFinder.GetStatusCode(context.HttpContext,

[2020-02-17 06:58] SmallShrimp commented on #2841
yes! like this.

![image](https://user-images.githubusercontent.com/8120385/74630580-d55f7000-5195-11ea-96d0-8975d7d9996f.png)

[2020-02-17 07:06] gterdem commented on #2821
About; https://github.com/abpframework/abp/blob/f47a0c1f5f8e9d224663b2d8c2f829c8b78f91b1/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs#L38-L41
Do we decide to throw or not depending on status code?

[2020-02-17 07:07] EpsilonRepo commented on #2800
1. Create a controller
2. Add new PermissionDefinition
3. Add corresponding [Authorize] attribute on controller method
4. Give permissions through angular app (Administration/Identity Server/Clients/Manage Permissions)
5. Call the service

--> 403

[2020-02-17 07:10] SmallShrimp commented on #2841
table of AbpPermissionGrants:
![image](https://user-images.githubusercontent.com/8120385/74631276-8c102000-5197-11ea-94b1-8329c4f4a555.png)

[2020-02-17 07:14] SmallShrimp commented on #2841
**this is result of token parse:**
![image](https://user-images.githubusercontent.com/8120385/74631513-1a84a180-5198-11ea-8e0d-3913467031d5.png)

[2020-02-17 07:44] #2818 closed

[2020-02-17 07:59] maliming commented on #2800
hi @EpsilonRepo

Please share the detailed steps, **starting with creating a project using cli.**
Because I need to reproduce the problem. Thanks!

[2020-02-17 08:40] #2842 closed

[2020-02-17 09:49] yekalkan commented on #2838
FullAuditedAggregateRoot is not used in tutorial?

![image](https://user-images.githubusercontent.com/5793291/74642370-e8694480-5183-11ea-8a51-325a197c0c2c.png)

[2020-02-17 09:51] EpsilonRepo commented on #2800
Hi,

 I really did nothing more that what I described.
1. Created a new project with: `abp new Debug.Apb -t app-pro -u angular --tiered`
2. Added this line to my PermissionDefinitionProvider: `myGroup.AddPermission(ApbProPermissions.Dashboard.Debug, L("Permission:Debug"));`
3. add new Controller
` [RemoteService]
    [Authorize(ApbProPermissions.Dashboard.Debug)]
    public class SystemController

[2020-02-17 10:00] hikalkan commented on #2838
OK, so go with AuditedEntity.

[2020-02-17 10:06] yekalkan commented on #2838
I haven't encountered this problem.

I have followed the tutorial, made base class `FullAuditedEntity` and used postgresql.

[2020-02-17 10:08] yekalkan commented on #2838
No problem with `AuditedEntity` as well.

[2020-02-17 10:08] maliming commented on #2800
I know your situation now, I will check it,

[2020-02-17 10:34] yekalkan opened #2843 "Docs Update label improvements"
We shouldn't add updated label when the change is very small or a typo.

[2020-02-17 10:36] hikalkan commented on #2843
I don't like to manage it manually. Maybe we can aut-compare changes and if the change amount exceeds a percentage then we think it is updated.

[2020-02-17 12:19] Gosha24 opened #2846 "Castle dll in Bin"
In DashboardDemo and also in my own projects i see Castle.Core.AsyncInterceptor.dll & Castle.Core.dll  Abp is using Autofac by default. Why these dll's are needed?

[2020-02-17 13:00] maliming commented on #2800
hi @mehmet-erim

Here `clientId `should be used instead of `id`.

https://github.com/volosoft/volo/blob/dev/abp/npm/ng-packs/packages/identity-server/src/lib/components/clients/clients.component.html#L77

[2020-02-17 13:56] #2821 closed

[2020-02-17 14:07] #1994 closed

[2020-02-17 14:07] #2805 closed

[2020-02-17 15:15] NecatiMeral opened #2847 "Dynamic C# API Clients - .Net-Standard"
Hello,

we're currently evaluating abp for our products.
Our client-applications (.NetFX 4.8 / WinForms) will be powered by a abp-based backend and we would like to elevate the Dynamic C# API Clients for the client applications.

Unfortunately the Volo.Abp.Http.Client depends on .net core 3.1 therefore the generated clients are using .net core 3.1 too. Is there any way to make the clients .net sta

[2020-02-17 16:21] hikalkan opened #2848 "Docs module "new" label improvement"
If the first change (the creation) is in the last 14 days, it should remain "New" even if it was edited multiple times. So, we need to keep the CreationTime in the database & cache (the first commit time for this document).

[2020-02-17 16:39] Ice2burn commented on #2843
Setting it up manually is a bullet proof solution where you control everything. For Json Navigation Document it could be manually set in dedicated "label" section.

It may cover 99% of all cases, but it's hard to guess correct percentage for different document sizes.

The most important thing is that New and Upd labels should appear only after documentation version change, like most companies do.

[2020-02-17 17:30] viewtance opened #2849 "scriptUrl cannot be loaded on the second request via modal manager"
On a list page, such as the index page, the first time open a createModal or a editModal, the request scriptUrl could be loaded, but the second time, it cannot load the scriptUrl option, is it related with below code:

[code]
The viewUrl be defined again, but the scriptUrl not.

[2020-02-17 21:15] xewn commented on #2847
[Multiple version](https://github.com/abpframework/abp/issues/2401)

[2020-02-17 23:19] kurtwilbies commented on #2718
This is more for a mvc app. If you want to add angular as the framework of choice.

[2020-02-18 00:37] maliming commented on #2847
see https://github.com/abpframework/abp/issues/2294

[2020-02-18 00:37] #2847 closed

[2020-02-18 01:00] maliming commented on #2846
abp uses `Castle` as a method to intercept functions.

[2020-02-18 02:53] maliming commented on #2849
This is by design.

https://github.com/abpframework/abp/blob/dce585c40d0306664ed69df3e353c2eff2db1508/npm/packs/jquery/src/abp.jquery.js#L345-L352

[2020-02-18 03:43] newacc12 opened #2851 "[Question] - Customizing default API"
I just generated a new project with no UI (--ui none) and I see there are some routes in Swagger by default. How can I customize/remove those?

For some of the routes (e.g. api/account/register) I want to completely replace with mine while others I want to remove because I won't be using them.

Thanks,

[2020-02-18 04:42] maliming commented on #2851
See https://github.com/abpframework/abp/issues/2787#issuecomment-583873851 and https://github.com/abpframework/abp/issues/2533#issuecomment-570939959 for a general response on the customization of the current modules.

[2020-02-18 04:50] newacc12 commented on #2851
@maliming thanks for the fast response. So as far as I understand the best current way is to copy the code and use inside my app but there will be changes to allow it easily in the future, right? If that is the case we can close this.

[2020-02-18 04:54] newacc12 commented on #2192
@cqgis did you ever find a solution for this?

[2020-02-18 05:11] maliming commented on #2851
This is currently the only way.

[2020-02-18 05:11] #2851 closed

[2020-02-18 06:14] maliming commented on #2800
Version 2.1 will fix this problem and will be released around February 20.

[2020-02-18 06:14] #2800 closed

[2020-02-18 06:14] #2846 closed

[2020-02-18 07:13] thediaval opened #2852 "Create and use Confirmation.Status instead of Toaster.Status"

[2020-02-18 07:32] #2852 closed

[2020-02-18 07:50] NecatiMeral commented on #2294
The `IHttpContextAccessor` should be available in the `Microsoft.AspNetCore.Http.Abstractions` nuget package, which is compatible with .net-standard 2.0. So I think the `Volo.Abp.Http.Client.IdentityModel` package could reference the `Microsoft.AspNetCore.Http.Abstractions` package.

Could this be possible?

[2020-02-18 08:02] viewtance commented on #2849
If this is by design, then initial a DOM element in the modal when it is be opened will not be implemented, such as bind a datepicker or a rich editor to a DOM element.

[2020-02-18 08:09] maliming commented on #2849
Please share some code to explain your problem.

[2020-02-18 08:14] viewtance commented on #2849
`
var abp = abp || {};

abp.modals.categoryEditModal = function () {
    var initModal = function (publicApi, args) {

        $('input.datepicker').datepicker({
            todayBtn: "linked",
            autoclose: true,
            language: abp.localization.currentCulture.cultureName
        }).on('hide', function (e) { e.stopPropagation(); });
        tinymce.init({
            selector: '#Ca

[2020-02-18 08:25] gterdem commented on #2815
@Znow Let's go step by step to troubleshoot and debug;
Here are some steps I tried to reproduce your issue; maybe it can help for you.

Create a page to override current login logic and override `CreateExternalUserAsync` method
[code]
Lets replace `return base.CreateExternalUserAsync(info);` with the source code
https://github.com/abpframework/abp/blob/037ef9abe024c03c1f89ab6c933710bcfe3f5c93/modu

[2020-02-18 08:26] maliming commented on #2294
The https://www.nuget.org/packages/Microsoft.AspNetCore.Http.Abstractions/ package cannot be used in asp net core 3.X.

see https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.1&tabs=visual-studio#framework-reference

[2020-02-18 08:27] #2848 closed

[2020-02-18 08:55] maliming commented on #2849
Refer to the code of abp.

https://github.com/abpframework/abp/blob/dev/modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/Index.cshtml#L20
https://github.com/abpframework/abp/blob/dev/modules/docs/src/Volo.Docs.Admin.Web/Pages/Docs/Admin/Projects/index.js

However `scriptUrl `should be executed multiple times. I will try to fix it.

[2020-02-18 09:37] Znow commented on #2815
@gterdem Thanks, I will look at it today or tomorrow and give you an update

[2020-02-18 12:43] NecatiMeral commented on #2294
Oh I haven't noticed the 'list of packages no longer being produced' section. Thanks for pointing me into this direction.
Anyway, the `Volo.Abp.Http.Client`-library could be netstandard 2.0 because it doesn't have a dotnetcore 3.1 dependency (all dependencies are netstandard-compatible). I've tested it on my end and it seems to work out of the box. We could implement a dotnet standard compliant ve

[2020-02-18 13:12] viewtance opened #2855 "Should add one protected one public constructor to entity code template for suite tool"
Follow up the best practice and patterns for domain entity, suite tools should add 2 default constructors in entity code template:

- protected with parameterless

- public with paramenters

Create these 2 constructors manually is a tedious work.

[2020-02-18 21:13] vd3d commented on #2799
Sorry, but I don't understand your answer and the relationship with the comment #2787 & #2533 !

I have a MyProject.IdentityServer, and then I have simply add my code in the ConfigureService.
Like here : http://koscielniak.me/post/2016/05/google-identity-provider-with-identityserver4/

I don't think that I should modify or overwrite any project/module, right ?

PS: Also I have see in the web page

[2020-02-19 01:05] maliming commented on #2294
hi @NecatiMeral

If you like, you can contribute code.

[2020-02-19 01:15] wonazhidaoK opened #2856 "Theming docs When to provide"

[2020-02-19 01:18] maliming commented on #2856
Duplicate of #631

[2020-02-19 01:18] #2856 closed

[2020-02-19 02:36] newacc12 opened #2857 "Owned Entities and Identity User"
When I try to add a Value Object as a owned entity on the AppUser class I get the following error:

The navigation property 'Prop1' cannot be added to the entity type 'IdentityUser' because there is no corresponding CLR property on the underlying type and navigations properties cannot be added to shadow state.

I've seen similar error messages in other posts but no solutions. I've tried using a br

[2020-02-19 02:49] maliming commented on #2857
hi @newacc12

`Owned Entity` has some restrictions, please share your entity code and EF configuration code.

[2020-02-19 05:58] newacc12 commented on #2857
**TestVo.cs**
[code]
**ABP CODE**
**AppUser.cs**
[code]
**DbContextModelCreatingExtensions.cs**
[code]

Running a update-database with the code above shows:
`The navigation property 'Test' cannot be added to the entity type 'IdentityUser' because there is no corresponding CLR property on the underlying type and navigations properties cannot be added to shadow state.`

Now using a plain .NET Core 3

[2020-02-19 06:24] doufeng007 opened #2858 "how can i use sql server and mysql in tow DbContexts?"
i have tow DbContexts in a sln, one use sql server, one use mysql,  In fact, it's all used one.

[2020-02-19 06:27] ebicoglu commented on #2703
for [Datatables ](https://datatables.net/) here's how you can format date
basically you `parse` the date and use `toLocaleDateString()`

[code]

[2020-02-19 06:27] #2703 closed

[2020-02-19 06:40] leonkosak commented on #2858
Two different SQL providers also requires two different migrations (because migrations are sql-dependent code).

[2020-02-19 06:43] doufeng007 commented on #2858
sql server DbContext does not need  migrate.

[2020-02-19 06:47] doufeng007 commented on #2858
in one EntityFrameworkCoreModule  i use   `options.UseSqlServer();`   the other one i use  `UseMySql`

but, in the db query, all use"
 Microsoft.EntityFrameworkCore.Infrastructure
` using provider '"Pomelo.EntityFrameworkCore.MySql"' `

[2020-02-19 07:02] ebicoglu commented on #2849
fixed in https://github.com/abpframework/abp/pull/2854

[2020-02-19 07:02] #2849 closed

[2020-02-19 07:14] maliming commented on #2858
Unable to understand, did you encounter an error?

[2020-02-19 07:25] doufeng007 commented on #2858
one dbContext code:

[code]

the other one dbContext code ; it is default:

[code]

Host Code:

[code]

Now  I  use  like this:  tableA is in Eplus_QAContext.

[code]

I get an error:

 Volo.Abp.AspNetCore.Mvc.ExceptionHandling.AbpExceptionFilter
An exception was thrown while activating EplusDoctorTool.QA.EntityFrameworkCore.QA_Models.Eplus_QAContext -> λ:Microsoft.EntityFrameworkCore.DbContextOpt

[2020-02-19 07:38] maliming commented on #2857
This is like the limitation of abp shared table.

[2020-02-19 07:45] maliming commented on #2858
Try the code below, if it doesn't work, please use cli to create a project that reproduces the problem and then share it.

[code]

[2020-02-19 07:45] hikalkan commented on #956
@pranavpatil19 I want to write before you: yes, it is moved again to the next milestone since we will release 2.1 tomorrow and didn't have time to work on this yet, sorry.

[2020-02-19 07:53] doufeng007 commented on #2858
@leonkosak     it works;    thank you very much!

[2020-02-19 07:54] #2858 closed

[2020-02-19 08:03] leonkosak commented on #837
Is "public page" in your development pipeline?

[2020-02-19 08:12] maliming commented on #1621
When using `doc-params`, full-text search may query content that is not displayed on the UI.

[2020-02-19 08:25] zsanhong opened #2859 "bugs in the identity module?"
when I click the Identity/Roles page of Action button ,I can't see the drop menu ,like this:
![action](https://user-images.githubusercontent.com/5259153/74815251-dc23e980-5333-11ea-8dc8-20dcd1e0e752.png)
but when I use my own page, I can see the drop menu like this:
![myaction](https://user-images.githubusercontent.com/5259153/74815481-46d52500-5334-11ea-9a45-409767ea85f6.png)

so , is this a bug?

[2020-02-19 08:30] zredb opened #2860 "How can I use Apb.Localization in DataAnnotations localization?"
Hi,

  In asp.net core,DataAnnotations error messages are localized with IStringLocalizer<T>,the error messages in RegisterViewModel can be stored in either of the following paths:
[code]
[code]
but in abp.localization, the use of localation is introduced in ca https://docs.abp.io/en/abp/latest/Localization
but this document don't state how to use the DataAnnotations localization. Can someone give

[2020-02-19 08:32] maliming commented on #2859
Duplicate of #2710

[2020-02-19 08:32] #2859 closed

[2020-02-19 09:43] maliming commented on #2860
The framework already has these localization messages built in. You just need to provide localization of the fields.

https://github.com/abpframework/abp/blob/3ba06fe0227b86099f3aa718b5d3976bb0e4bbe0/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/en.json#L4-L18

https://github.com/abpframework/abp/blob/1a84e8ade17ae8978e50e6d03fb7367de2357c19/modules/account/src/Volo.Abp.Accoun

[2020-02-19 11:09] pranavpatil19 commented on #956
No issue @hikalkan. Take your time .

[2020-02-19 12:15] thiag0coelho commented on #57
Is there room for this feature in 2.2?

[2020-02-19 12:35] thiag0coelho opened #2862 "Question: DDD Documentation seems inconsistent"
Using newly created project using version 2.0.1

Following [DDD - Application Layer - Application Services](https://docs.abp.io/en/abp/latest/Application-Services#ibookappservice-interface), while it says to use [StringLength(Book.MaxNameLength)] on CreateBookDto, this dto is located at Contracts project and this project depends only on Domain.Shared, while Book entity is located at Domain.

While

[2020-02-19 12:41] NecatiMeral commented on #2294
Hi @maliming,
I'm working on a PR to remove the dotnetcore 3.1 constraint from the `Volo.Abp.Http.Client.IdentityModel` library but I can't find any code that sets the `IdentityModelRemoteServiceHttpClientAuthenticator.HttpContextAccessor` property. Since the DI isn't using Autofac as default it won't be injected by any property-injection.

Can you help me out here?

[2020-02-19 12:49] #2860 closed

[2020-02-19 14:56] vd3d opened #2863 "pack.ps1 : error during nuget packing"
Hi,

I wish to build, pack and push the nuget to my own private server server.

So I have build, then I use the nuget/pack.ps1 script, but I got a crash :

I have search for, but cannot find any 'git' command anywhere... any idea ?

[2020-02-19 17:02] pranavpatil19 opened #2864 "Docs Module is not Updated"
Please update
https://docs.abp.io/en/abp/latest/Modules/Docs

INSERT [dbo].[DocsProjects] ([Id], [Name], [ShortName], [Format], [DefaultDocumentName], [NavigationDocumentName], [MinimumVersion], [DocumentStoreType], [ExtraProperties], [MainWebsiteUrl], [LatestVersionBranchName]) VALUES (N'12f21123-e08e-4f15-bedb-ae0b2d939658', N'Document Master', N'doc', N'md', N'Index', N'docs-nav.json', NULL, N'

[2020-02-19 17:14] newacc12 commented on #2857
Hmm... #2278 states that `Inheritance hierarchies that include owned entity types are not supported` but I am not using any inheritance on my VO type. [This link](https://github.com/dotnet/efcore/issues/14451) also states that it should work.

Is ABP doing something special behind the scenes or maybe is there a workaround for now?

[2020-02-19 22:29] vd3d commented on #2811
So, I have a tiered application, what I have:
- The Web app is authenticated
- The Host app is not authenticated

It seems that the authentication remain on the Web side and is not 'propagated' on the Host side.

How does this work ? How does we can authenticate and then being authenticated too on the tiered app ?

[2020-02-20 01:25] maliming commented on #2862
`Book.MaxNameLength`  should exist as a constant in the `Domain.Shared` layer. The documentation needs to be updated.

see:
https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/IdentityUserConsts.cs#L7

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityUs

[2020-02-20 01:39] #2862 closed

[2020-02-20 01:41] maliming commented on #2862
https://docs.abp.io/en/abp/latest/Best-Practices/Module-Architecture

[2020-02-20 01:58] #2864 closed

[2020-02-20 02:22] maliming commented on #2294
Yes, However, if the `HttpContextAccessor `is `null`, the `GetAccessTokenFromHttpContextOrNullAsync `method will return `null`.

Seems so, I'm not sure, @hikalkan can you help?

[2020-02-20 02:31] maliming commented on #2857
Because abp is using shared table(`AppUser` and `IdentityUser`).

The limit of ef is **navigations properties cannot be added to shadow state.**

[2020-02-20 02:34] maliming commented on #2863
Does your computer have git installed?

https://git-scm.com/

[2020-02-20 05:43] ranouf commented on #1798
Hi, Could you give a link to get the documentation of this new Feature?

[2020-02-20 05:46] maliming commented on #1798
hi @ranouf
Only this https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#cascade-deletions-now-happen-immediately-by-default

[2020-02-20 06:28] yekalkan opened #2865 "Blogging module: ShortContent sometimes breaks the html structure of the page"

[2020-02-20 07:38] vd3d commented on #2863
no, and I don't want to do any interaction with GIT... I work on my local computer without any GIT !
I wish to remove / disable any GIT call... but how ?

[2020-02-20 07:46] #2863 closed

[2020-02-20 07:48] vd3d opened #2866 "Tiered application : how authentication is propagated ?"
Hi,

In the context of the Tiered applicatio, when I login on the Web app, how does the
Host app know that I'm authenticated and how does it retrieve the current user ?

I ask because it failed in my application, it is related to this:
https://github.com/abpframework/abp/issues/2811

I try to fix it, but need some driving :-P

[2020-02-20 08:41] maliming commented on #2866
Duplicate of #2811 Please discuss in #2811.

[2020-02-20 08:41] #2866 closed

[2020-02-20 09:45] maliming commented on #2811
1.When the web is authenticated by the identity server, the token will be saved.
2. The web will call the host's api and pass the token through `Dynamic C # API Clients`(https://github.com/abpframework/abp/blob/dev/docs/en/AspNetCore/Dynamic-CSharp-API-Clients.md).
3. The host will verify the token through the identity server.

This is the flow of the tiered application.

[2020-02-20 10:06] yanxiaodi commented on #2764
@maliming Thanks for your help. I installed redis and it works now.

[2020-02-20 10:06] #2764 closed

[2020-02-20 11:49] armgnunlu commented on #2865
The release was made. The problem still persists volosoft.com/blog @yekalkan

[2020-02-20 12:31] yekalkan commented on #2865
You are right. It is fixed now by https://github.com/abpframework/abp/commit/4bffabef8bc05f02a0cee148adfc096f18ec894b

[2020-02-20 12:31] #2865 closed

[2020-02-20 12:31] NecatiMeral opened #2870 "`ConfigurationHelper` should support in-memory collections"
I'm currently building some unit tests based on `AbpIntegratedTest` for one of my modules.
Since some ABP modules use `AbpModule.Configure<TOptions>(IConfiguration configuration)`, I can't use fixed values in my tests out-of-the-box for the built in abp-modules.

This issue can easily fixed by adding a `InMemoryCollection` property to `AbpConfigurationBuilderOptions`. Here`s a commit that I can op

[2020-02-20 12:34] gdlcf88 opened #2871 "Maybe entities that implement IMultiTenant should have TenantId index by default."
https://github.com/abpframework/abp/blob/bf07efd8e1a5b11cf3c6ef75dc405661a12387df/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/Modeling/AbpEntityTypeBuilderExtensions.cs#L252-L260

The GetListAsync() method could run slowly if there are many tenants.

[2020-02-20 12:35] maliming commented on #2870
Can you explain the problem in detail?

[2020-02-20 13:24] hikalkan opened #2872 "Missing common.props import from Volo.Abp.Core.csproj"
This import has been accidently deleted. Adding it and releasing 2.1.1.

[2020-02-20 13:24] #2872 closed

[2020-02-20 14:59] 3151036158 opened #2873 "about existing users and permissions best practice"
Is there any implementation document or tutorial for existing users and permissions? I want to implement micro services on the basis of existing users and permissions. There is no need to bring your own user and permissions asp.net core identity.

[2020-02-20 15:50] NecatiMeral commented on #2870
When I attempt to use the `Volo.Abp.Http.Client` package in a test project, I can't specify the `IdentityClients` configuration because the client uses the `Configure` method to read this from the app configuration.
A way to resolve this would be to implement the configuration as a fixed dictionary in-memory and just pass it to the `AbpApplicationCreationOptions.Configuration` in my `MyModule.Test

[2020-02-20 19:32] pranavpatil19 commented on #2864
@maliming Please help.. i implement Doc Module as per document.but get 404 error after redirect .. please provide sample project for doc module ..its help me lot

[2020-02-21 01:05] Maple512 opened #2874 "after Application.Contract module depended on the AbpDddApplication module,the AddAlwaysAllowAuthorization invalid"
en: as shown in the title,after Application.Contract module depended on the AbpDddApplicationModule module,the AddAlwaysAllowAuthorization invalid,or after the AbpDddApplicationModule not dependent,AuthorizeAttribute is invalid.

above, found in the xUnit test

Can be reproduced in the Volo.Blogging

zh-Hans: Applicatoin.Contract模块在 DepensNo 中加入 AbpDddApplicationModule 后，AddAlwaysAllowAuthorizatio

[2020-02-21 01:15] maliming commented on #2870
hi

We should mock components in unit tests rather than adapt them to unit tests.

There are many mocked implementations in unit tests of frameworks and modules, you can refer to them.

[2020-02-21 01:23] maliming commented on #2873
There are currently no related documents.

You can consider migrating existing users and permissions to ABP's module architecture.

[2020-02-21 01:33] maliming commented on #2874
Please share the code that reproduces your problem.

[2020-02-21 01:36] 3151036158 commented on #2873
Migration is equivalent to using ABP's module architecture.

[2020-02-21 01:37] maliming commented on #2871
why?

[2020-02-21 01:43] maliming commented on #2873
You can refer to the source code below to try to use your existing users and permissions.
If necessary, you can replace the components in them.

https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.Authorization
https://github.com/abpframework/abp/tree/dev/modules/permission-management

[2020-02-21 01:52] maliming commented on #2864
There is already a demo project.
https://github.com/abpframework/abp/tree/dev/modules/docs/app

You can open the project url after creating the docs project.
eg: **abp** is the project `short name`.
http://localhost:55008/abp

[2020-02-21 02:43] 3151036158 commented on #2873
Thank you, that's what I'm thinking, implementing interfaces(Volo.Abp.Authorization,Voloabp.User.permission-management), but I think most developers run into this problem and want to see what the best way to share it is.

[2020-02-21 03:29] Maple512 commented on #2874
you can try it in the volo.blogging

[2020-02-21 03:59] maliming commented on #2874
Try
[code]

[2020-02-21 04:01] geffzhang commented on #944
https://github.com/EasyAbp/Yhd.Abp.EventBus.CAP

[2020-02-21 04:01] #944 closed

[2020-02-21 04:33] Maple512 commented on #2874
thanks👍

[2020-02-21 04:33] #2874 closed

[2020-02-21 05:15] pranavpatil19 opened #2876 "Doc Module Is Incomplete"
https://docs.abp.io/en/abp/latest/Modules/Docs

I done Process till 6 step. In Step 7 not mension whrere create .md file and write code in taht.

 after click on document local file and git file i got 400 errror please help

[2020-02-21 05:25] maliming commented on #2876
Duplicate of #2864

[2020-02-21 05:25] #2876 closed

[2020-02-21 05:37] gdlcf88 commented on #2871
A multi tenant entity datatable may have more than 99.9% of rows that not belong to current tenant, and GetListAsync() of the repository will query with specified TenantId. Maybe we can consider multi tenant entities always need the TenantId index.

[2020-02-21 05:59] RyanOvO opened #2877 "how repository module adapter ado.net?"
abp vnext repository module how to adapter ado.net?

[2020-02-21 06:14] pranavpatil19 commented on #2864
Its nOt working

Please help ...  Get page not found 400 error message

https://github.com/pranavpatil19/DocTest1/tree/master

USE [DocumentTest]
GO
INSERT [dbo].[DocsProjects] ([Id], [ExtraProperties], [ConcurrencyStamp], [Name], [ShortName], [Format], [DefaultDocumentName], [NavigationDocumentName], [ParametersDocumentName], [MinimumVersion], [DocumentStoreType], [MainWebsiteUrl], [LatestVersion

[2020-02-21 06:26] maliming commented on #2864
try
[code]

[2020-02-21 06:38] pranavpatil19 commented on #2864
Not working ......  get 400 error

[2020-02-21 06:40] maliming commented on #2864
http://localhost:55008/abp

[code]

[2020-02-21 06:44] pranavpatil19 commented on #2864
ok i will try this ... But dont know what is missing step in my project... and why its not working.. if you have time just look its really help me

[2020-02-21 06:45] maliming commented on #2864
You already have its source code and you can troubleshoot the problem based on the application's logs.

[2020-02-21 07:37] NecatiMeral commented on #2870
Okay, I will test it out and think I can live with it. 😄

[2020-02-21 07:37] #2870 closed

[2020-02-21 08:09] hikalkan commented on #2855
Suite is in ABP Commercial. I am closing this. It is tracked internally.

[2020-02-21 08:09] #2855 closed

[2020-02-21 08:09] vd3d commented on #2811
Thanks, I understand that everything goes through the HttpClient, but I don't know how I can debug the fact that the service is called, but it is not authenticated. Any idea ?

[2020-02-21 08:23] maliming commented on #2877
What do you mean?
Want to use EF Core Api? Call raw sql?

[2020-02-21 08:25] hikalkan commented on #2820
@maliming can you work on that (I don't remember why I did this, but probably not needed to check this)

[2020-02-21 08:26] hikalkan commented on #2819
Please also add tests & manually test it too.

[2020-02-21 08:36] hikalkan opened #2878 "Official CAP Integration"
Thanks to @geffzhang implemented [CAP](https://github.com/dotnetcore/CAP/) integration for the ABP Framework ([see](https://github.com/EasyAbp/Yhd.Abp.EventBus.CAP)).

We will consider to add it to the ABP Framework as an official package and document it.

[2020-02-21 08:36] hikalkan commented on #944
See https://github.com/abpframework/abp/issues/2878

[2020-02-21 08:37] pranavpatil19 commented on #2864
KeyNotFoundException: The given key 'GitHubUserAgent' was not present in the dictionary.

[2020-02-21 08:41] maliming commented on #2820
ok

[2020-02-21 08:42] hikalkan commented on #2732
I am taking this to backlog and will prioritize later. Any PR welcome :)

[2020-02-21 08:49] hikalkan commented on #2451
Changing entity structure is a breaking change for existing applications. I moved it to v3.0.

@kbowma you can re-arrange max lengths in your application (in the MigrationDbContext onmodelcreating) or use it like that (because it will not be a problem in practical).

[2020-02-21 09:12] pranavpatil19 commented on #2864
I dont know what is problem ... i follow every step...  not working...   document  is not well documented ..
working from last 2 day but still not understand...  git and local doc also not working

[2020-02-21 09:22] maliming commented on #2864
abp **dev** branch code.
You can troubleshoot the problem based on the application's logs.

![image](https://user-images.githubusercontent.com/6908465/75020931-94859500-54ce-11ea-968f-5aac21168279.png)

[2020-02-21 10:38] gterdem commented on #2636
Hello @mehdihadeli
What is you current status about the issue?

[2020-02-21 10:56] ChangYinShung opened #2879 "Disabled Multi-Tenancy and get the boolean"
hello ,
When  i disabled  MultiTenancy,
[code]
Where can i get  MultiTenancy.IsEnabled  value  in anuglar?

In aspnetzero  version,when i disabled multiTenancy  , i can get the value from javascript
[code]

In AbpVnext
(In angular)ConfigState,SessionState ,dont have multiTenancy.isEnable

here is my use case
1. i want to hide tenant selector in login page when multiTenancy  is disabled.
2. When ad

[2020-02-21 11:03] maliming commented on #2820
Consider this situation.
[code]
Is auditing meaningless if there is no action or entity change?

[2020-02-21 11:20] cheetahing opened #2881 "Exception:Unmapped members were found"
update to abp v2.1.1 and keep only one Property, get the exception message
Exception message
[code]

Domain
[code]

Dto
[code]

mapper
[code]

[2020-02-21 12:01] NecatiMeral commented on #2294
Even when updating the projects to target netstandard, the dynamic clients won't work out-of-the-box because of different type assemblies (`System.Guid` vs `System.Private.CoreLib.Guid`).

I could implement a custom `IApiDescriptionFinder` implementation which works as an Add-In-solution but a implementation inside `Volo.Abp.Http.Client` would be straight-forward.

My prefered solution would be a

[2020-02-21 15:04] pranavpatil19 commented on #2864
SecurityException: Can not get a resource file out of the project folder!
Volo.Docs.FileSystem.Documents.FileSystemDocumentSource.CheckDirectorySecurity(string projectFolder, string path)

extrapropoerty : documenting missing

[2020-02-21 15:34] hikalkan opened #2882 "Create a design to integrate gRPC to the ABP Framework & all modules"
- [ ] Investigate "how ABP framework can help developers on gRPC API creation".
- [ ] Implement gRPC endpoints for all the modules.
- [ ] Add a starting point for the startup templates.

[2020-02-21 15:34] hikalkan commented on #605
Moved to https://github.com/abpframework/abp/issues/2882

[2020-02-21 15:34] #605 closed

[2020-02-21 16:01] #2881 closed

[2020-02-22 02:45] viewtance commented on #2849
It seems this approach not fix the problem.

[2020-02-22 03:58] maliming commented on #2882
https://github.com/Cysharp/MagicOnion Looks like a good class library.

[2020-02-22 05:45] cheetahing opened #2884 "ApplicationAutoMapperProfile call Twice on start"
I have two module,the HttpApi.Host modeule DependsOn the tow module.
one module ApplicationAutoMapperProfile call twice on start,first call is work well,second call throw exception.

Exception message
[code]

Domain
[code]

Dto
[code]

mapper
[code]

[2020-02-22 09:14] yshulin opened #2885 "Could not find embedded resource files with dots(.) and bars(-) in the file name"
I have two embedded resource files:
"/libs/bootstrap/dist/css/bootstrap-theme.css" and "/libs/bootstrap/dist/css/bootstrap-theme.min.css",
The "bootstrap-theme.css" file can be found nomarlly, but the "bootstrap-theme.min.css" file can not be found, I don't know why?

And I foud that all embedded files have "XXX-XX.XX.X" format can not be found. jus like:
"/libs/jQueryUI/**jquery-ui.min.js**"
"/li

[2020-02-22 09:29] yshulin commented on #2885
my abp version was 2.0.1

[2020-02-22 10:04] yshulin opened #2886 "The src attribute value of abp-script and abp-style tags can not start with "~/""
I have the below code in razor page:
`<abp-script src="~/libs/jvectormap/jquery-jvectormap.js" />`

but the result code in the page was below:
`<script src="~/libs/jvectormap/jquery-jvectormap.js"></script>`

so, the "jquery-jvectormap.js" file can not be found in the page.

[2020-02-22 11:26] cheetahing commented on #2884
Find the bug code,if is a bug

[code]
if validate is **true** throw the exception.But i new a template project is default **true**.
if validate is **false** work well.

Please tell me why?

[2020-02-22 11:44] #2811 closed

[2020-02-22 11:52] viewtance commented on #2886
Do you use the abp-srcript tag?

[2020-02-22 12:13] viewtance opened #2887 "modal-manager should expose more functions like did in ANZ modal-manager"
Compared to the modal manager which implemented in ANZ, current modal manager missed some features, like `_modalObject.save(), _getResultCallback, _onShownCallback `,  we need more options to transfer data to parent window or customize thirty-part jQuery library when initial the modal, look forward to add back the implementations which already did in ANZ modal manager.

BTW, please add x-large mod

[2020-02-22 12:23] vd3d opened #2888 "How to : change user's tenant Id"
Hi,

How can I change user's tenant Id ? I have create a new tenant, but how to assign it to my user ?

Also, I'm lost in all the 'users' we have here, is there some guide about this ?
- IdentityUser
- ICurrentUser + CurrentUser
- AppUser

and so, how to add/update/delete all theses users, how to add properties etc?

thanks

[2020-02-22 13:37] xiangxingxing opened #2889 "Unexpected decrease of memory"
With the update of abpframework recently,  I've attempt to upgrade the packages of abp to the latest version in our projects. A problem about memory was found during auto-tests.
1. The memory tends to be stable finally after handling various affairs

[2020-02-22 13:49] inamvar opened #2890 "Error: Cannot access a disposed object (DbContext in a background job)"
I'm using a background job in a `CrudAppService` derived class and `CreateAsync` method as below:
[code]

and my background job class is:
[code]
In the CrsRemoteManager (a domain service) class I injected `IReservationRepository` in the constructor :
[code]
When background job executes, I get this error:

[code]
What is the problem ? what I  did wrong?

[2020-02-22 13:58] yshulin commented on #2886
@viewtance  yes, abp-script was used.

[2020-02-22 14:05] xiangxingxing opened #2891 "Unexpected decrease of memory"
With the upgrade of abpframework recently,  I've attempted to update the packages of abp to the latest version in our project. A problem about memory was found in monitor during auto-tests.

1. With "Volo.Abp-1.1.2", the memory tends to be stable finally after handling various affairs，which is expected.
![1 1 2](https://user-images.githubusercontent.com/52204046/75093346-c58fc380-55bb-11ea-9034-99

[2020-02-22 14:28] acjh commented on #2889
Duplicate of #2891

[2020-02-22 14:28] #2889 closed

[2020-02-22 15:26] Znow commented on #2815
@gterdem Could you provide an example of your source code? So I can double check the setup?

[2020-02-22 18:48] Znow commented on #2815
@gterdem Could you please provide an example of your source code? I have trouble with getting the method to be debugged.

![image](https://user-images.githubusercontent.com/265719/75097551-46df5a00-55ac-11ea-9e19-53fa6352e26e.png)

[2020-02-22 20:20] gterdem commented on #2815
@Znow Remember this will hit only once after returning from SSO (AAD login page in your case) **if the user doesn't exist in your db.**

`var emailAddress = info.Principal.FindFirstValue(AbpClaimTypes.Email);`
Could you be able to debug this line down to user creation?

[2020-02-23 04:20] acjh commented on #2884
From https://docs.abp.io/en/abp/latest/Object-To-Object-Mapping#configuration-validation:

From https://docs.automapper.org/en/stable/Configuration-validation.html#selecting-members-to-validate:

Fix your code:

[code]

[2020-02-23 06:32] #2884 closed

[2020-02-23 12:33] Loongle opened #2892 "audit-logging module query exception using PostgreSQL database"
exception message:
[code]

An exception occurs here:
namespace: Volo.Abp.AuditLogging.EntityFrameworkCore
file: EfCoreAuditLogRepository.cs
method name: `IQueryable<AuditLog> GetListQuery`
[code]

If I write it this way it will solve the problem
[code]

I cannot submit the code for network reasons.

[2020-02-23 12:53] zHaytam opened #2894 "Using localization resource in application service"
Hello,

In my service, a property `L` is available in order to localize strings.
The problem is that the `LocalizationResource` points to a `DefaultResource` in the implementation of `ApplicationService`, but my localized strings are in the resource available in `Domain.Shared.Localization`.

I'm wondering if this is the normal behaviour?

My current work around is:
[code]

[2020-02-23 16:24] vd3d opened #2896 "CRITICAL BUG : IdentityUserAppService : no tenant management"
Hi,

We can create a role per tenant, by using 'IdentityRole'. This way, each tenant can have its own role.

**_An example:_**

Tenant : "Microsoft" Role : "Editor"
Tenant : "AMD" Role : "Editor"

The problem I see in the code is that in the classes:
- IdentityUserAppService
- IdentityRoleAppService
- maybe others? ... Controllers etc...

Theses classes manage the roles per name, and not per role

[2020-02-23 17:11] Znow commented on #2815
@gterdem

From my exhibit in previous comment, the method is not being debugged at all, no breakpoint are being hit.

These are my steps:

1. Start project and run website
2. Access /account/login
3. Microsoft login page shows
4. Enter credentials, and the click "Login", below is being shown
![image](https://user-images.githubusercontent.com/265719/75116363-d85fd200-5667-11ea-8b9f-6352c8595d25.png

[2020-02-23 17:58] hikalkan commented on #2896
`CurrentTenant.Change` switches to the tenant, so all operations are performed for the current tenant:

[code]

No need to filter data based on the current tenant since it is done by the ABP Framework automatically (https://docs.abp.io/en/abp/latest/Data-Filtering#imultitenant)

Did you test it or just checking the code?

[2020-02-23 18:55] hikalkan commented on #2885
This should be related to https://github.com/aspnet/FileSystem/issues/184

We have an issue to track it: https://github.com/abpframework/abp/issues/128

For now, try to not use such file names. We will work on this.

[2020-02-23 18:55] #2885 closed

[2020-02-23 18:56] hikalkan opened #2897 "Allow to create isolated (named) folder system for VFS"

[2020-02-23 18:58] hikalkan commented on #2886
Just use `<abp-script src="/libs/jvectormap/jquery-jvectormap.js" />` (without `~`), it should work.

[2020-02-23 19:00] hikalkan commented on #2882
Thanks @maliming it seems a very good library. However it seems a real-time communication system. With this issue, we only want a standard gRPC implementation.

[2020-02-23 19:40] hikalkan commented on #2891
Hi @xiangxingxing I don't have an idea with such limited information. It seems there is no memory leak, which is a good thing.

[2020-02-23 19:50] vd3d commented on #2896
Yes, I tested it !

1 - the user is not associated to the tenant, both the classes (CurrentUser, IdentityUser) are not associated, but even in the database, the AbpUsers (Mongo) has tenantId = null

2 - I cannot associate the new role to the user, I got an exception when calling AddToRoleAsync.
I have check the code of AddToRoleAsync, and it does not use the tenantId at all !

[2020-02-23 20:27] lihaoru opened #2898 "Using mysql data, admin user cannot log in"
I used cli to generate the project, the database was changed to mysql, the table structure and data were generated according to the instructions on the document, but I still could not log in with the username admin and password 1q2w3e*, which prompted "Invalid username or password! "

Log:
2020-02-24 04:13:54.113 +08:00 [DBG] Added 0 entity changes to the current audit log
2020-02-24 04:13:54.114

[2020-02-23 23:43] AlphaComposite commented on #2087
Is a branch up?

[2020-02-24 00:30] liangshiw commented on #2898
`1q2w3E*`

[2020-02-24 00:43] liangshiw commented on #2890
Use `UnitOfWorkAttribute`
[code]

[2020-02-24 00:49] #2898 closed

[2020-02-24 01:20] maliming commented on #2894
Yes see https://github.com/abpframework/abp/commit/4c1e36f81d766789e998a6b80a6893c1253f443a .

[2020-02-24 01:20] #2894 closed

[2020-02-24 02:44] #2886 closed

[2020-02-24 03:31] xkaede commented on #2624
hi @hikalkan
AuditedAggregateRootWithUser and FullAuditedEntityWithUser are wrong too.
https://github.com/abpframework/abp/blob/251a8d2de0a62d4e3ebda1c7f41a7408fad3259f/framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Auditing/AuditedAggregateRootWithUser.cs#L12
https://github.com/abpframework/abp/blob/251a8d2de0a62d4e3ebda1c7f41a7408fad3259f/framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Do

[2020-02-24 05:36] wakuflair commented on #2283
Hi
I refactored this module, now it is called [EasyAbp.Abp.SettingUi](https://github.com/EasyAbp/Abp.SettingUi).

What's new:
* Intergrated with the `Volo.Abp.SettingManagement.Web` module
* Adopted ISSUE https://github.com/abpframework/abp/issues/2229
* Simplified project structures and optimized code
* More complete document with a step-by-step tutorial

Have a try:)

[2020-02-24 06:08] inamvar commented on #2890
I Used UnitOfWorkAttribute. The reservationRepository resolved properly but I have more than one repository that injected in the `UpdateCrsRoomsInventoryByReservation` method. and other repositories throws this error yet:
[code]

This is my full constructor injection :

[code]

[2020-02-24 07:16] #2892 closed

[2020-02-24 07:19] hikalkan commented on #2896
@maliming can you test & fix this please?
If that's a critical bug, please fix on the master branch, we may release a patch version (2.1.2).

[2020-02-24 07:19] maliming commented on #2896
ok, i will check it.

[2020-02-24 07:29] liangshiw commented on #2890
@inamvar Please provide error log

[2020-02-24 07:32] hikalkan commented on #2283
Great! It seems very helpful to the community. I will check this to see if we should add it to the startup template or merge to this repository. Thanks again.

[2020-02-24 07:34] #2624 closed

[2020-02-24 08:00] hikalkan commented on #2871
Assume that we create a TenantId index by default and you create a separate UserName index. What would happend when you query by UserName (remember, ABP adds TenantId to the where condition by default)? It will select one of the indexes, but can not utilize both. It would be better to define a composite index like `TenantId, UserName`.

So, it would be better to carefully & manually create indexes

[2020-02-24 08:00] vd3d commented on #2896
@maliming , to help you we can do a remote session... (team viewer etc...), that way I can directly show you where the issue is and how to reproduce it !

[2020-02-24 08:18] maliming commented on #2896
**CurrentTenant.Change** works as expected.

---

**You should manage users and roles in the scope of the tenant**

[code]
![image](https://user-images.githubusercontent.com/6908465/75136665-58e20980-5720-11ea-9143-4eb2d63f28b8.png)

Tenant table:
![image](https://user-images.githubusercontent.com/6908465/75136611-2f28e280-5720-11ea-865d-f6d871a61e5f.png)

User table:
![image](https://user-images.

[2020-02-24 08:38] gdlcf88 commented on #2871
Yes, `IX_MyEntity_TenantId_UserName` is better for the scene _query by UserName_, and it helps `GetListAsync()` too.

But we can also create both `IX_MyEntity_TenantId` and `IX_MyEntity_UserName_TenantId` (UserName in front), because the selectivity of UserName is higher so the index can play a better role.

Maybe we can consider that the selectivity of TenantId is always the lowest, so we create

[2020-02-24 08:42] vd3d commented on #2896
Thanks, but you create a new user, it is not the purpose ;-)
I want to keep my user, and create a tenant form him/her !
You understand the difference ?

[2020-02-24 08:52] maliming commented on #2896
**You should manage users and roles in the scope of the tenant**

You need to manually change the TenantId of the user. Including all entities associated with the user, in short the framework is no problem.

[2020-02-24 08:53] #2530 closed

[2020-02-24 08:58] 344089386 opened #2903 "make a suggestion"
Individuals were slow to gain access.
Repeated queries against the database.
I can improve it a little bit. I can add a cache.
I modified the Volo. Common sense Abp. PermissionManagement. Domain. Identity module, but I feel this way is bad.
![image](https://user-images.githubusercontent.com/22017199/75139234-13750a80-5727-11ea-95e0-3dad46eacb9a.png)

[2020-02-24 09:14] gdlcf88 commented on #2903
Is it related to https://github.com/abpframework/abp/issues/2437 ?

[2020-02-24 09:23] 344089386 commented on #2903
thanks.

[2020-02-24 09:23] #2903 closed

[2020-02-24 10:02] vd3d commented on #2896
Ok, I will manage it myself then.

But the IdentityUser.TenantId is 'protected', should I use AppUser and change it, create a custom Repository too ?

(Should I also update the claims, the cookie, or something else ?)

[2020-02-24 10:12] inamvar commented on #2890
here the error log:
[code]

[2020-02-24 11:01] liangshiw commented on #2890
Can you reproduce this problem by [start template](https://abp.io/get-started)? And upload the project to github @inamvar

[2020-02-24 11:34] uncmd opened #2906 "Invalid document link generated when multiple documents are added."
In document module (https://docs.abp.io/zh-Hans/abp/latest/Modules/Docs), I create my application documents, add more documents generated when the wrong link: https://localhost://documents/en/ABP.

View the source code Volo.Docs.Pages.Documents.IndexModel
[code]
[code]
Multiple documents '/' is redundant

[2020-02-24 12:45] hikalkan opened #2907 "Create a sample application for gRPC usage"
Demonstrate how to create & consume gRPC API based on the startup template

[2020-02-24 13:13] acjh commented on #2890
`UpdateCrsRoomsInventoryByReservation` is `async`.

Inherit `AsyncBackgroundJob<UpdateInventoryArgs>` instead and `await` that call in `ExecuteAsync`.

[2020-02-24 13:20] inamvar commented on #2890
I changed it to  `AsyncBackgroundJob` and it worked properly.
Thanks buddy 👍

[2020-02-24 13:21] #2890 closed

[2020-02-24 14:09] jpsebastiao opened #2908 "How to use a custom Key in AutoMapper?"
I have an AgregateRoot composed by two entities.
Each entity have an Id which is the primary key in database and a ExternalId.
For updates, I created a method FindByExternalId that gives me the existing AgregateRoot and when I call UpdateAsync(TKey id, TUpdateInput input), dependent entity lines are allways re-created.
I want to map ExternalId as Key.

To achieve this I tried to configure AutoMapp

[2020-02-24 14:34] jpsebastiao commented on #2908
After some aditional testing, I think I found a solution.

In the ConfigureServices method in ApplicationModule class, I add an entry to the options.Configurators list.

`
        public override void ConfigureServices(ServiceConfigurationContext context)
        {
            Configure<AbpAutoMapperOptions>(options =>
            {
                options.Configurators.Add(cfg => cfg.MapperConfig

[2020-02-24 15:00] mehmetuken commented on #2882
This library using without .proto files and only use .net apps beetwen. See this issue https://github.com/Cysharp/MagicOnion/issues/159#issuecomment-502506139
I think create shared .proto files project each module. It's helpfull any language implement and communicate each other.

[2020-02-24 16:02] hikalkan opened #2909 "EF Core Migrations document"
The goal of this document is to explain how the startup template migration system is designed and how you can configure your own database structure like;

* You may want to have a second database for a desired module
* You may want to separate host and tenant database schemas for your application
* ...

[2020-02-24 16:05] hikalkan commented on #2909
Started: https://github.com/abpframework/abp/blob/dev/docs/en/Entity-Framework-Core-Migrations.md

[2020-02-24 18:57] pranavpatil19 commented on #2864
SecurityException: Can not get a resource file out of the project folder!
Volo.Docs.FileSystem.Documents.FileSystemDocumentSource.CheckDirectorySecurity(string projectFolder, string path)

extrapropoerty : documenting missing

@maliming  Please update doc module document incomplete ... if you have working source code for doc module please share...

[2020-02-25 00:46] abllyboy opened #2910 "Document error"
Are this is document error? I found only  "AbpExceptionLocalizationOptions" not  "ExceptionLocalizationOptions"
<img width="1026" alt="20200225084034" src="https://user-images.githubusercontent.com/57399417/75204146-10bbf900-57ab-11ea-99a4-62206fc4424f.png">

[2020-02-25 00:46] #2908 closed

[2020-02-25 00:51] maliming commented on #2910
https://github.com/abpframework/abp/commit/75972bde74c180030c45cf6bbf34cfbe811be971

[2020-02-25 00:51] #2910 closed

[2020-02-25 05:52] h82258652 opened #2914 "[Suggestion] Create appsettings.Staging.json and appsettings.Production.json while create new project in cli tool"
Suggest creating the **Staging** and **Production** environment appsettings.json for the `host` and `dbmigrator` project. At current, only created `appsettings.json` and `appsettings.Development.json` two files.
Many times, the database connection strings are different between the environments.

[2020-02-25 06:12] gterdem opened #2915 "Guid parsing error when 3rd party connection has none guid "sub" claim value"
Related with #2815 issue.

[2020-02-25 06:41] gterdem commented on #2087
@AlphaComposite, @mgochmuradov  Hello,
I know this is not what you guys wanted to hear but I had to prioritize other issues, I am really sorry.
It's on backlog with high-priority and will be done eventually, just not at the moment.

[2020-02-25 06:42] xiangxingxing commented on #2891
Got it.  Many thanks!

[2020-02-25 07:05] mehdihadeli commented on #2636
@gterdem Hi, I created a custom user manager for this purpose:

[code]

[2020-02-25 07:18] gterdem commented on #2636
@mehdihadeli Yeah, seems about right. Does it work for you?

[2020-02-25 07:19] #2877 closed

[2020-02-25 07:25] mehdihadeli commented on #2636
yes it worked correctly

[2020-02-25 07:33] gterdem commented on #2636
@mehdihadeli Good to hear that. Closing the issue.

[2020-02-25 07:33] #2636 closed

[2020-02-25 07:44] #2891 closed

[2020-02-25 11:38] olicooper commented on #2758
Thanks for your fix so far! Although it works for the login screen it doesn't seem to stop users logging in via the API directly. The user is able to successfully make a request to the `/connect/token` endpoint with a username and password. I don't think the identity server requests are being intercepted.

[2020-02-25 12:48] vfabregat opened #2917 "QueryApplicationService for readonly services."
HI! First of all great job! I'm starting with this framework and seems really cool.

I have a question, I have an application service, this service is used to create an "Aggregate Root" with custom code. To do that I created a method to create the data in the database.

To show the data I want to take advantage of all implemented stuff in the [CrudAppService](https://github.com/abpframework/abp/bl

[2020-02-25 15:42] cheetahing opened #2918 "Cookie value contain password"
Use the firefox watch cookie value,it show the password.
why?It‘s my problem?

cookie value
[code]

decode Value
[code]

[2020-02-26 00:34] maliming commented on #2918
How to reproduce your problem?

[2020-02-26 01:39] maliming commented on #2917
If you don't need CRUD, I suggest you create your application service manually. And add methods as needed.

[2020-02-26 01:44] maliming commented on #2758
hi @olicooper
`EnableLocalLogin ` belongs to the account module. The identity server module should not be related to this.

[2020-02-26 05:43] cnkker opened #2922 "用人家开源项目做收费？？"
支持支持。
我已经自建了这个 www.52abp.com
大家有兴趣的话，可以看看，也欢迎大家来参观。

_Originally posted by @ltm0203 in https://github.com/abpframework/abp/issues/453#issuecomment-425021626_

[2020-02-26 05:43] #2922 closed

[2020-02-26 06:43] wjkhappy14 opened #2923 "login by identityserver4 connect/token"
how to post the user‘s tenantid？ or how to login

[2020-02-26 06:54] mehmet-erim opened #2924 "Remove PrimeNG dependency from theme shared package and template"
We had problems upgrading to Angular 9 due to PrimeNG dependency. For the solution of this problem, we will remove PrimeNG dependency.

You can continue using PrimeNG by installing the following packages in v2.2.

For Angular 8:
[code]

For Angular 9:
[code]

[2020-02-26 07:12] maliming commented on #2923
https://docs.abp.io/en/abp/latest/Multi-Tenancy

see https://github.com/abpframework/abp/issues/2593#issue-547108695

[2020-02-26 07:27] 344089386 opened #2925 "Why does Role save Name, Client and User save ID?"
Why does Role save Name, User save ID?
![image](https://user-images.githubusercontent.com/22017199/75321725-5a403d00-58ac-11ea-8245-e3cb4f71a0e7.png)
Role names can change at any time.

[2020-02-26 07:32] wjkhappy14 commented on #2923
when login by connect/token  ，no cookie yet，post username password ok，but how to post  tenantid？

[2020-02-26 07:49] maliming commented on #2923
![image](https://user-images.githubusercontent.com/6908465/75323306-90cb8700-58af-11ea-8d26-aff42d09cb5f.png)

see https://github.com/abpframework/abp/issues/2593#issue-547108695

[2020-02-26 07:52] maliming commented on #2925
https://github.com/abpframework/abp/pull/2599

[2020-02-26 07:58] 344089386 commented on #2925
I get the idea, but I still think it's better to save the ID so you don't have to do anything else to change the name.
thanks.

[2020-02-26 10:06] #2923 closed

[2020-02-26 11:14] leonkosak commented on #394
So, Blazor UI would be just separated projects (.csproj) inside the same solution as API (backend) and therefore would deploy separately?
What about changing the hosting model (server, wasm) - official way would be relatively simple as I can see (just some configuration). Do you see that abp could add any additional complexity for some reason?

[2020-02-26 12:59] gdlcf88 commented on #2917
Like @maliming said, you can create a service implements `ApplicationService`. Or you can continue to implement `CrudAppService`, and just disable unwanted methods, for example:

[code]

[2020-02-26 14:17] #2345 closed

[2020-02-26 14:17] #2924 closed

[2020-02-26 17:45] EpsilonRepo opened #2928 "AbpValidationActionFilter not validating"
Hello,

I try using `[Required]` attributes on Controller action parameters like this:
![image](https://user-images.githubusercontent.com/5107594/75371654-6d143b00-58c7-11ea-966e-3580e9061787.png)

But even if I don't pass a value, I don't get the expected AbpValidationException.
It looks like the validation filter isn't active. Is that possible?

My controller inherits AbpController.
ModelState i

[2020-02-26 18:00] armgnunlu commented on #2657
# Abp Bootstrap Tag Helper

### [+] Alerts

### [+] Badges

### [+] Breadcrumbs

### [-] Buttons

​	Active state

​	Disabled state

​	Checkbox and radio buttons

### [-] Button group

​	dropright dropleft options

### [-] Card

​	card styles are broken

​	navigation and pills to a card’s header

​	cards with using grid markup

​	cards with using utilities

​	Image overlays

​	Text alignment

​	car

[2020-02-26 18:03] armgnunlu commented on #2657
About the forms and inputs:
I think "form" and "form elements" are messy because they are used on other pages. We should write them on one page and repeat them if necessary.
@yekalkan

[2020-02-26 20:42] vd3d commented on #2896
So,

I have update the IdentityUser tenantId, everything looks good in the database.

But at the next API call... it seems the CurrentTenant is still NULL.

How can I update this ?

[2020-02-27 00:26] 274188A commented on #394
I suspect it's not that simple.  It takes (given their limited resources) to push out a new Blazor template.  Hopefully this will arrive in time for when WASM Blazor goes gets released.  I've been saying from the out-set Blazor will eventually come to dominate SPA web apps - and I haven't seen a reason to change my opinion.

[2020-02-27 01:17] maliming commented on #2928
Please change the method return value to one of the following.
[code]

[2020-02-27 01:22] #2917 closed

[2020-02-27 01:30] jortygu opened #2929 "how to fill Detailed DTO Reference Properties"
Hi，
Base on Entity/Application Services Best Practices，My Question is how to fill Detailed DTO Reference Properties (Ex: IssueWithDetailsDto.MileStone ) **efficiently**.
My Solution is to build Detailed DTO By LINQ (Base XXXRepository.AsQueryable()) inside the application service methods,is this accord with best practices?
![aggregate](https://user-images.githubusercontent.com/43945927/75403113-b1

[2020-02-27 01:53] maliming commented on #2896
[code]

[2020-02-27 01:57] maliming commented on #2929
Use object mapping in application services.

https://docs.abp.io/en/abp/latest/Object-To-Object-Mapping

[2020-02-27 02:40] wjkhappy14 opened #2930 "CurrentUser"
how to add new property  ？example：MerchantId

[2020-02-27 02:51] jortygu commented on #2929
@maliming the aggregate roots reference other aggregate roots by Id,object mapping just mapping normal properties,my question is how to fill reference properties?

[2020-02-27 03:09] maliming commented on #2930
You can try extension methods.

[code]

https://github.com/abpframework/abp/blob/1a622bc50fbd9b554f61078d5eeafa9def3216e3/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpUserClaimsPrincipalFactory.cs#L26

[2020-02-27 03:22] kj13755097782 opened #2931 "Using "Taiji.Identity" to generate the project for the project name, running DbMigrator produced an error."
abp new Taiji.Identity
[errorInfo.txt](https://github.com/abpframework/abp/files/4259331/errorInfo.txt)

[2020-02-27 03:29] maliming commented on #2931
The `Identity` name will conflict with the built-in module, please use another name.

[2020-02-27 05:56] maliming commented on #2929
see https://github.com/abpframework/abp/blob/dev/modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Posts/PostAppService.cs#L37

[2020-02-27 07:08] #2896 closed

[2020-02-27 07:09] #2888 closed

[2020-02-27 07:11] maliming commented on #2843
@hikalkan Any comments?

[2020-02-27 07:29] gdlcf88 commented on #2929
We made a module to help load related DTO from other aggregate, but it is still improving.

https://github.com/EasyAbp/Abp.RelatedDtoLoader

[2020-02-27 07:43] jortygu commented on #2929
@maliming @gdlcf88
In both cases, the navigation properties are populated by foreach postDtos/orderDtos.
Is there an more efficient way to fill dto reference properties?

[2020-02-27 07:47] maliming commented on #2929
I don't know of other better solutions at the moment.

[2020-02-27 08:04] leonkosak commented on #2838
@yekalkan I can also confirm this issue (abp v2.1.1) with Postgres.
My entity inherits from FullAuditedEntity<long>, IMultiTenant.

Message:
Npgsql.PostgresException (0x80004005): 23502: null value in column "IsDeleted" violates not-null constraint

[2020-02-27 08:08] wjkhappy14 opened #2932 "no CaptchaService？"
Impl CaptchaService by myself？

[2020-02-27 08:12] maliming commented on #2932
Currently you need to implement it yourself. I suggest you to get the source code into your solution, remove the nuget package references and customize it based on your requirements.

[2020-02-27 08:12] #2932 closed

[2020-02-27 08:15] wjkhappy14 commented on #2932
OK，thks

[2020-02-27 08:17] wjkhappy14 commented on #2932
I have already impl CaptchaService

[2020-02-27 08:17] wjkhappy14 commented on #2930
OK，thks

[2020-02-27 08:18] #2930 closed

[2020-02-27 08:33] wjkhappy14 commented on #2930
C:\Users\Administrator\source\repos\abp\modules\identity\src\Volo.Abp.Identity.Domain\Microsoft\Extensions\DependencyInjection\**AbpIdentityServiceCollectionExtensions**.cs

 //  _AbpUserClaimsPrincipalFactory_

            return services
                .AddIdentityCore<IdentityUser>(setupAction)
                .AddRoles<IdentityRole>()
                .AddClaimsPrincipalFactory<**MyUserClaimsP

[2020-02-27 08:37] maliming commented on #2838
@leonkosak  I will try with Postgres.

[2020-02-27 09:14] zredb opened #2933 "after upgrade for 1.0.2 to 2.1.1 "relation "IdentityServerDeviceFlowCodes" does not exist" exception throw"

[2020-02-27 09:29] maliming commented on #2838
hi @leonkosak

I created an aggregate root and inserted some data, which did not reproduce your problem.

**PostgreSQL 12.2 (Debian 12.2-2.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit**

[code]
[code]

[2020-02-27 09:31] maliming commented on #2933
Please try to create a new ef core migration.

[2020-02-27 09:54] EpsilonRepo commented on #2928
That works, thank you!

[2020-02-27 09:54] #2928 closed

[2020-02-27 10:13] leonkosak commented on #2838
@maliming Ok, thank you. This solves my issue.
However, what is the reason that I have to inherit from AggregateRoot? Yes, the entity is not owned (as list/collection of children) in any other sql table.

I also noticed that TenantId property is null in sql table record even the CurrentTenant (ICurrentTenant) has tenant info stored. This tenant is in separated database, but as far as I know for ab

[2020-02-27 10:28] #2838 closed

[2020-02-27 11:14] tyson-benson commented on #2222
I'm eager to see this feature. I tried using NSwag and was quite disappointed by the limitations you mentioned (single file, lots of boilerplate code). I also found there was no simple way to group the operations into logically named clients with meaningfully-named methods without creating an operation filter and massaging the controller names, crud actions and http methods to create sensible oper

[2020-02-27 11:16] gterdem commented on #2929
@jortygu You can override your repository's `WithDetails` method or new methods for specific includes.
Something like;
[code]
Or to get it better, you can write an extension about it.

[2020-02-27 11:20] tyson-benson commented on #2222
The other thing i noticed was that there doesnt appear to be a straightforward way to configure the JSON serialiser settings. Normally I prefer enums serialised as strings. I think this affected the code generated by NSwag, so that only the numeric representations were in the model.
[code]
I'm hoping this is what @hikalkan was referring to in the [comment above](https://github.com/abpframework/abp

[2020-02-27 11:35] zredb commented on #2933
thank you, this solved my problem.

[2020-02-27 11:37] #2933 closed

[2020-02-27 11:49] wjkhappy14 commented on #2930
var merchantId=  CurrentUser.FindClaim("MerchantId");

[2020-02-27 11:56] armgnunlu commented on #2657
@cotur

[2020-02-27 12:34] mgochmuradov commented on #2581
@hikalkan Actually there are some projects that could be converted to `netstandard` to be able to use them in mobile applications (Xamarin).

1. Please convert `Volo.Abp.Http.Client` and all other `Volo.Abp.MODULE.HttpApi.Client` projects in all module solutions to `netstandard`. This will allow usage of automatic (proxy) rest services clients in mobile applications.

2. Default CLI template will

[2020-02-27 14:54] Alexbits opened #2934 "IHttpClientProxy Authorization failed! User has not logged in error"
Hi there,

I'm trying to use IHttpClientProxy<IProfileAppService> in default not tiered MVC template. I get the Authorization failed! User has not logged in error. The user is authenticated using default (from the template) IdentityServer configuration and I can successfully use HttpClient to call Profile endpoint. I understand that something is going on with IdentityServer configuration. Is it po

[2020-02-28 00:36] SoloHam opened #2935 "Ok, Is there really no lazy loading in this framework for EF?"
I've been going crazy trying to figure this out. I've looked at every issue I could find, read everything I could. ut it seems I'm still missing something.

All I'm trying to do is Lazy Load a child entity when I call my custom method on the AppService object.

But It doesn't happen automatically and there isn't any ` GetAllIncluding()`  method in services or IRepository.

COA Entity:

[code]

COA

[2020-02-28 00:46] SoloHam commented on #2935
Ha! Found it.

For some reason the `includeDetails `parameter being set to true did nothing. but then by adding `WithDetails` While Querying the Repository worked.

Shouldn't there be functionality to do this from the CrudAppService Implementation Instead of having to create custom methods?

[2020-02-28 00:59] maliming commented on #2935
Creating custom methods in the repository is the recommended practice.

Because the module of abp needs to support mongodb. So we cannot access the ef core api in the application service layer.

If you don't plan to support mongodb you are free to use it.

[2020-02-28 00:59] #2935 closed

[2020-02-28 01:09] maliming commented on #2934
What are the steps to reproduce the problem?

[2020-02-28 01:25] jortygu commented on #2929
@gterdem
thanks for your reply.
yes,there are both AggregateRoots,that's the source of this question.
I just want to find a high-efficiency way to populate DTO reference properties and accord with DDD patterns & best practices.

[2020-02-28 02:00] acjh commented on #2935
Duplicate of #616

[2020-02-28 04:57] mgochmuradov commented on #2581
PS: Converting `...HttpApi.Client` projects to netstandart will also allow their usage in Blazor Clients

[2020-02-28 06:20] maliming commented on #2581
@mgochmuradov  see https://github.com/abpframework/abp/pull/2867

[2020-02-28 06:30] Loongle opened #2936 "[Suggestion] Allows the CLI to generate projects using custom template paths"
Projects are now created using the official template by default. People maybe need a basic template without any additional modules, but this one maybe customized. Although it is now possible to do this by modifying the template compression package in the cache, this is extremely inconvenient.

[2020-02-28 06:53] Alexbits commented on #2934
Hi @maliming,

1. Get the default not tiered MVC project
2. Reference {ProjectName}.HttpApi.Client in {ProjectName}.Web project
3. Add the depenecy to {ProjectName}HttpApiClientModule in {ProjectName}.Web project module
[code]
4. Add RemoteService configuration to appsettings.json in {ProjectName}.Web project
[code]
5. Add code below to Index.cshtml.cs in {ProjectName}.Web project
[code]
6. Regist

[2020-02-28 08:03] maliming commented on #2934
hi @Alexbits

Why would you use [Dynamic C# API Clients](https://docs.abp.io/en/abp/latest/AspNetCore/Dynamic-CSharp-API-Clients) in a monolithic application?

[2020-02-28 09:34] yinchang0626 commented on #2936
@Loongle
Hi,I agree with you, So I extended code  on abp cli,
it can download template from some repository from github,
If you are interesting,pls ref [this](https://github.com/yinchang0626/abp/blob/feature/fs_abp_cli/framework/src/FS.Abp.Cli/ProjectBuilding/GitHubSourceCodeStore.cs)

[2020-02-28 09:41] Alexbits commented on #2934
Hey @maliming  I would like to split it later. I read the docs and as far as I understand it, I can use an app service interface directly and it will be injected as IHttpClientProxy when in tiered architecture.
But I wanted to test the dynamic proxy functionality explicitly to understand how well it works.

Also, I use server side Blazor for UI and I get problems with a service utilizing a SignInM

[2020-02-28 09:53] #2771 closed

[2020-02-28 09:54] maliming commented on #2934
The principle of `Dynamic C # API Clients` is to intercept the invocation of the application service interface method, send the http request according to the convention of the interface method, and process the http response as the method return Dto.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client/Microsoft/Extensions/DependencyInjection/ServiceCollectionDynamicHttp

[2020-02-28 09:56] Loongle commented on #2936
@yinchang0626 I implemented this before, but the cli updates too quickly. It's easy to fall behind, and installing two cli is a hassle

[2020-02-28 09:58] Loongle commented on #2936
I think it would be possible to use a local zip directly, which would save a lot of development effort and also be compatible with the current cli process of creating new projects

[2020-02-28 10:37] yinchang0626 commented on #2936
Of course,if abp cli supports any other way to do it (use custom template to generate project ),that’s awesome

[2020-02-28 10:55] Alexbits commented on #2934
Yes, I understand this. I'm not sure why I get the "Not Logged In" error when I call ABP's IProfileAppService and I don't get this exception when calling my own app service. The exception comes from [MethodInvocationAuthorizationService](https://github.com/abpframework/abp/blob/1a622bc50fbd9b554f61078d5eeafa9def3216e3/framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/MethodInvocationAuth

[2020-02-28 11:51] hikalkan opened #2939 "Optimize MyProjectNameDbMigrationService"
* If we have 1000 tenants and they all using the same database, it runs the migration against to the same database 1000 times. It should check if tenant's connection string was migrated before (in this execution) and skip that tenant.
* Also, unify MigrateHostDatabaseAsync and MigrateTenantDatabasesAsync methods.

[2020-02-28 14:03] Loongle opened #2940 "Swagger duplicate HttpStatusCode"
![image](https://user-images.githubusercontent.com/7290992/75554796-fd907e00-5a75-11ea-956b-34da487565ec.png)
This will cause unnecessary deletion, which is boring

[2020-02-28 14:18] maliming commented on #2940
This has nothing to do with abp.

https://docs.microsoft.com/en-us/dotnet/api/system.net.httpstatuscode?view=netcore-3.1

[2020-02-28 14:18] #2940 closed

[2020-02-28 15:13] hikalkan commented on #2909
Finished: https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations

[2020-02-28 15:13] #2909 closed

[2020-02-28 15:27] hikalkan opened #2941 "Change DbMigrationService to work with multiple IDbSchemaMigrator implementations by default for the startup template"

[2020-02-28 15:29] hikalkan opened #2942 "Update EF Core Database Migrations document for #2941"
After #2941 released, we need to immediately update the documentation:
https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations#bookstoredbmigrationservice

[2020-02-28 15:37] #2941 closed

[2020-02-28 18:41] newacc12 commented on #2857
Hmm not sure what you mean by 'shared table'. I created a brand new web MVC project and I am using AppUser and IdentityUser and it just works: https://github.com/newacc12/TestOwnedTypes

Trying to the exact the same with ABP doesn't work. Maybe there is a work around for now?

[2020-02-29 03:05] xujin950710 opened #2943 "FluentValcation contains exception information"
How to Implement FluentValcation Verification After Failing, Returns the Failed Verification Information

[2020-02-29 09:22] Tashaa78 commented on #2608
Any update on this? Also, since alot of the identity related functionality is available in the default asp templates, why can't we just have it all also in abp? I have tried modifying the identity module and the account module to include all default functionality available after identity scaffolding i.e. 2fa, forgot password, email conform etc. Will need some help to verify the implementation, sti

[2020-02-29 18:16] mehdihadeli opened #2944 "How to use dotnet ef migrations in abp"
Hi,
How can I use `dotnet ef migrations` command for applying migration in abp?
I used this command in xx.EntityFrameworkCore.DbMigrations project because xxDbContextFactory exists in this project, but I got this error

[2020-02-29 19:08] mehdihadeli commented on #2944
I've used this command in xx.HttpApi.Host project root and specifying startup and it worked,
`dotnet ef database update  -s  xx\xx.HttpApi.Host.csproj`

[2020-02-29 19:08] #2944 closed

[2020-03-01 01:45] cheetahing commented on #2918
So sorry!my problem,my team ui developer do it,and didn't tell me.

[2020-03-01 01:45] #2918 closed

[2020-03-01 01:50] maliming commented on #2943
Can you explain the issue in detail?

[2020-03-01 02:00] maliming commented on #2857
https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations#reusing-a-table-of-a-module

[2020-03-01 08:54] abdumostafa opened #2945 "Can not localize Abp.UI messages to Arabic"
I'm trying to localize Abp.UI messages like ValidationErrorMessage: "Your request is not valid!" to arabic culture but It does not work:
What I did:
I copies contents of file
[abp/framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en.json](https://github.com/abpframework/abp/blob/3ba06fe0227b86099f3aa718b5d3976bb0e4bbe0/framework/src/Volo.Abp.UI/Localization/Resources/AbpUi/en.json)
to my ar.j

[2020-03-01 10:57] hikalkan commented on #2936
This is a good idea. Added to backlog and will definitely work on.

[2020-03-01 11:23] xujin950710 commented on #2943
Sorry, my version is too low, I can use 2.1.1 to return normally

[2020-03-01 11:23] #2943 closed

[2020-03-01 12:41] maliming commented on #2945
Can you share a project that reproduces the problem?

[2020-03-01 15:41] abdumostafa commented on #2945
I'm really sorry, this will not be possible " Company policies".
I have a tiered startup application
with service that its input dto parameter includes properties with data annotations like Required or Range , when validation fails messages are not localized although I added the localization keys in my ar.json file.

[2020-03-01 15:47] abdumostafa commented on #1072
I have the same issue my remote service returns 401 UnAuthorized but I can't handle it on my Error page instead HttpStatusCode of AbpErrorViewModel returns 500 and RemoteServiceErrorInfo is empty except the message

[2020-03-01 18:26] hikalkan commented on #2843
Currently, documents are read from the dev branch since we continusly write  documents and don't want to wait community (since there are some missing ones).

We should think about labeling after releasing a new version. It can be reasonable since now we release in every 2 weeks, so a new or updated document can wait until the next release.

Manually writing last edit date to the document is also p

[2020-03-02 01:01] maliming commented on #2945
You can use CLI to create a simple project to reproduce the problem.

https://docs.abp.io/en/abp/latest/CLI

[2020-03-02 02:17] liangshiw commented on #2936
I will do it

[2020-03-02 02:39] #2857 closed

[2020-03-02 05:35] newacc12 commented on #2857
@maliming I read the docs but couldn't find a reason why this wouldn't work. So I assume this is a limitation of ABP instead of EF since the example that I posted works. In that case are there any plans to look into it?

[2020-03-02 05:56] maliming commented on #2857
This is a limitation of the ABP shared table, and of course also related to ef core.

The documentation provides a way to `Alternative Approaches`.

[2020-03-02 07:34] #2657 closed

[2020-03-02 08:56] #2906 closed

[2020-03-02 09:21] hikalkan commented on #2857
I suppose you all understood the problem. This is not a restriction of the ABP framework. You are adding a nagivation property to a shared table (AbpUsers table is shared between AppUser (your entity) and IdentityUser (identity module's entity)) and EF normally doesn't support such a usage. [The migration document](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations#create-a-new-ent

[2020-03-02 09:25] zsanhong opened #2949 "when use abp cli,often encounter The SSL connection problem."
I want to use abp cli to make a project,but I usually encounter the problem like this:

[17:19:22 INF] ABP CLI (https://abp.io)
[17:19:23 INF] Version 2.1.1 (Stable channel)
[17:19:43 WRN] Unable to retrieve the latest version
[17:19:43 WRN] Object reference not set to an instance of an object.
[17:19:43 INF] Creating your project...
[17:19:43 INF] Project name: ZSHTech.Product
[17:19:43 INF] Temp

[2020-03-02 09:29] maliming commented on #2949
It may be that your internet connection with abp.io is unstable.

Please consider using a http proxy. Or download the project from the website.
https://abp.io/get-started

[2020-03-02 09:30] zsanhong commented on #2949
maybe, thank you

[2020-03-02 09:31] #2949 closed

[2020-03-02 09:58] gdlcf88 commented on #2857
To me, if I start a new abp solution, I will delete the AppUser and create a new aggregate root UserInfo. 🉑

[2020-03-02 10:21] yekalkan opened #2950 ""Cli add-module with source code" should handle test references"

[2020-03-02 10:24] hikalkan commented on #2857
What's the difference between AppUser and UserInfo except their names?

[2020-03-02 10:35] #2950 closed

[2020-03-02 10:54] gdlcf88 commented on #2857
When I use AppUser with relationships (like AppUserInfo entity), I have some problems. https://github.com/abpframework/abp/issues/1414

UserInfo does not use shared table.

[2020-03-02 13:23] #2819 closed

[2020-03-02 14:30] SarcoZ commented on #2677
@hikalkan
mongodb  auto increase id can be create like this
 [ExposeServices(typeof(ISequenceGenerator<int>))]
    public class MongoSequenceGenerator : ISequenceGenerator<int>, ITransientDependency
    {
        private readonly IRepository<Sequence, string> _sequenceRepository;

        public MongoSequenceGenerator(IRepository<Sequence, string> repository)
        {
            _sequenceReposit

[2020-03-02 14:31] #2936 closed

[2020-03-02 15:27] newacc12 commented on #2857
@hikalkan Thanks for the reply. Did you have a chance to look at the code that I posted here: https://github.com/newacc12/TestOwnedTypes ?

So, in ABP:
- The AbpUsers table is shared between AppUser and IdentityUser.

The code that I posted:
- The AspNetUsers is shared between  [AppUser](https://github.com/newacc12/TestOwnedTypes/blob/master/TestOwnedTypes/Data/AppUser.cs)  and IdentityUser.

Does

[2020-03-02 18:56] leonkosak opened #2952 "Q: Best practices for preventing race conditions for bg jobs/workers on distributed multi-instance environments"
Let's say that we have a background job (or any type of periodically-executed code) inside abp framework (Hangfire,... - no matter what technology is used).
It is also required that such application should be installed (and working properly) on the cluster (for instance Windows cluster environment) or any multi-instance environment (Docker Swarm, Kubernetes,...).
(The main reason for multi-instanc

[2020-03-03 01:09] liangshiw commented on #2952
hangfire will be responsible for job scheduling in the cluster environment
https://docs.hangfire.io/en/latest/configuration/using-sql-server.html
https://docs.hangfire.io/en/latest/best-practices.html

[2020-03-03 04:16] yinchang0626 opened #2956 "should AbpJsonValueConverter can be replaced?"
In `Volo.Abp.EntityFrameworkCore`
There is  a `AbpJsonValueConverter` for Converter ExtraProperty(`Dictionary<string, object>`) to json string:
[code]
[code]
I hope send some `JsonSerializerSettings`  into it when `SerializeObject`  and `DeserializeObject`.
So,is possible to replace `SerializeObject` and `DeserializeObject` of a interface
just like `Volo.Abp.Json.IJsonSerializer` in  `Volo.Abp.Jso

[2020-03-03 04:42] maliming commented on #2956
It may not be possible to use dependency injection in the `OnModelCreating `method.

[2020-03-03 05:09] zgers opened #2957 "Microservice Sample - Issue adding Account module"
I would like to be able to add manage account and logout functionality (under the Microservice Sample) once a user has logged in under the back-end and public website. The sample does not provide a working example how to do this.

I have added a dependency to AbpAccountHttpApiClientModule and AbpAccountWebModule under the back-end application host. This appears to contain the front-end and proxy f

[2020-03-03 05:10] yinchang0626 commented on #2956
@maliming thanks,
So,is mean If want to replace `AbpJsonValueConverter` . I will override below method in `MyAbpDbContext`
[code]
and rewrite my `TryConfigureExtraProperties` of `ConfigureByConvention` method
I think it can resolve my question, I will try it later

[2020-03-03 06:31] leonkosak commented on #2952
I know that, but I have Postgres database (this package is probably good: https://www.nuget.org/packages/Hangfire.PostgreSql/) and one specific need - dedicated instances of bg job/worker for specific tenants (or maybe in some cases dedicated instances for each tenant.
Some tenants could generate so much data for bg job/worker that foreach loop (through all tenants - settenant method inside loop)

[2020-03-03 08:16] hikalkan opened #2960 "Announcement: Breaking Change for Volo.Abp.Http.Client.IdentityModel package"
`Volo.Abp.Http.Client.IdentityModel` package was using `Microsoft.NET.Sdk.Web` SDK and it was using .net core 3.1. https://github.com/abpframework/abp/pull/2867 removes this dependency so it can be usable by non .net core projects too (like Xamarin and full .net framework).

This PR moves web depended functionality to `Volo.Abp.Http.Client.IdentityModel.Web` package, which can be a breaking change

[2020-03-03 08:46] #2294 closed

[2020-03-03 08:51] #2820 closed

[2020-03-03 08:53] hikalkan commented on #2820
I think we should still save since the developer wanted it 😄

Normally, this is intended to be used by the framework in one place ([AbpAuditingMiddleware](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs)) and no where else.

[2020-03-03 08:55] #2915 closed

[2020-03-03 10:14] majidbigdeli opened #2963 "How Can Run Automatic Seed Without Run DbMigrator Project?"
How Can Automatic Seed Without Run DbMigrator Project?

[2020-03-03 12:19] sebitsi opened #2966 "Error running commercial edition in docker"
Hi. I'm trying new ABP project in docker.

1. I have downoladed clean project with included indentity service, build it and test it locally without troubles.
2. Then i create docker image for it and deploy it into docker container.
3. Container starter without errors and i can access swagger page.

On client side i use angular.

4. When log in, client send requests for openid-configuration, jwks a

[2020-03-03 15:30] #2496 closed

[2020-03-03 15:33] #2960 closed

[2020-03-03 17:27] hikalkan commented on #2966
Can you move your question to https://support.abp.io

We don't want to make open source followers busy with the commercial side questions :)
Thank you for your understanding.

[2020-03-03 17:27] #2966 closed

[2020-03-03 17:50] hikalkan commented on #2963
Inject `IDataSeeder` and use the `SeedAsync()` method whenever you need it.

[2020-03-03 17:50] #2963 closed

[2020-03-03 18:17] hikalkan commented on #2952
For ABP's default background, you need to disable background job execution in all instances except one (or disable all and create another service responsible to execute jobs)

For hangfire, @liangshiw has explained.

Beside these, I don't know any built-in solution. I don't want to give suggestion since giving a suggestion without thinking much is not good :)

[2020-03-03 18:17] #2952 closed

[2020-03-03 18:21] gdlcf88 commented on #2857
Another problem: sometimes I cannot change both IdentityUser and AppUser in the same uow.

[2020-03-03 18:23] hikalkan commented on #2857
That's expected. Use different UOWs (manage UOW manually).

[2020-03-03 18:35] gdlcf88 commented on #2857
Maybe I need to grant roles to IdentityUser, and (if it success) then set AppUser.IsAuthorized = true.

In general, shared table bings more troubles.

[2020-03-03 19:30] doganc commented on #680
Hi, i have the same error, when i run Add-Migration on EntityFrameworkCore.DbMigration project,

am i wrong with prepare Entity Class?

My Entity Classes are here,

  public class EAInvoiceMaster: AggregateRoot<Guid>
    {
        protected EAInvoiceMaster()
        {

        }
        public string StationCode { get; set; }
        public string OrderNumber { get; set; }
        public DateTime

[2020-03-04 01:35] 274188A opened #2967 "Build Failed"
Using the ps1 `build-all.ps1` script after doing a PULL

Pages\Account\IdentityServerSupportedLoginModel.cs(203,41): error CS1503: Argument 1: cannot convert from 'string' to 'System.IO.BinaryReader' [C:\Users\xxxx\source\repos\abp\modules\account\src\Volo.Abp.Account.Web.IdentityServer\Volo.Abp.Account.Web.IdentityServer.csproj]
Pages\Account\IdentityServerSupportedLoginModel.cs(204,41): error CS

[2020-03-04 01:47] acjh commented on #680
1. Did you inherit `AbpDbContext`?
2. Did you override `OnModelCreating`? If yes, then did you call the `base` method?

[2020-03-04 04:54] cheetahing opened #2968 "Dapper Integration ,where are query result dto class file in project"
Defalut dto class file is in Application.Contracts project.
Use dapper in EntityFrameworkCore project.
I have a dapper sample sql like this
[code]

sample dto
[code]
1. If the dto file in Application.Contracts project,it's wrong.Because the project EntityFrameworkCore not DependsOn Application.Contracts.
2. If the dto file in Domain.Shared project.It can work,but i don't know is right or wrong

Ab

[2020-03-04 05:32] sam0817 commented on #2914
As my opinion, file ``appsettings.Production.json`` should never be in any non-production environment. Also never be in any code repository. ``Staging`` is fine.

ref: https://docs.microsoft.com/zh-tw/aspnet/core/fundamentals/environments?view=aspnetcore-3.1

[2020-03-04 05:44] maliming commented on #2967
I also encountered this problem, this should be a very rare case, and I believe it is an environmental problem.

I manually reference the `System.Security.Principal.Windows` package in `Volo.Abp.Core.csproj` can be solved temporarily.

[code]

[2020-03-04 05:45] #2967 closed

[2020-03-04 05:52] h82258652 commented on #2914
@sam0817
You can keep the ```appsettings.Production.json``` file empty. My suggestion is just to create the files. If you don't want to use it, you can keep it empty or even delete it. Delete a file is much easier than create a file.

[2020-03-04 06:03] ebicoglu opened #2969 "Add Slovenian translations"
Thanks to @leonkosak for Slovenian translations!

[2020-03-04 06:04] #2969 closed

[2020-03-04 06:25] 274188A opened #2970 "Host the API"
Question:

Is it possible to split out an API Host like we had in the old framework?  Having a Host for the API is useful to allow for different UIs like Blazor.

Apologies if I have missed another approach to this but gladly take advise on how to use this Framework with client-side Blazor (not server-side).

[2020-03-04 06:50] 274188A commented on #2970
Some progress - so using swagger i can read the api calls available.  using this i can theoretically use these API calls from any UI that sends the auth token

[2020-03-04 06:52] maliming commented on #2970
You can use cli to create projects without UI. It is similar to angular, you can use different UI.

[2020-03-04 07:06] 274188A commented on #2970
Thank you - I see now.  However, when running swagger there seems to be a missing Authorize button on the swagger page.  Is this intentional?

[2020-03-04 07:24] yinchang0626 commented on #2956
I resoled this question. will close this issue.
and memo it avoid others has same question.
In my situation, need to change `JsonConvert` behavior in `AbpJsonValueConverter` for efcore.
So I create a custome `TryConfigureExtraProperties` of `AbpEntityTypeBuilderExtensions`
like below:
[code]
And In `MyProjectNameDbContext`
[code]
Finally , ExtraPropery can store a `ReferenceLoop` Object.

[2020-03-04 07:49] #2837 closed

[2020-03-04 07:54] maliming commented on #2968
You can create some dapper poco classes in Domain.

[2020-03-04 08:51] majidbigdeli commented on #2963
@hikalkan  it is not True because Create Duplicate Record . after run .

[2020-03-04 09:16] maliming commented on #2963
@majidbigdeli
DataSeed should determine if the same data already exists.

[2020-03-04 09:26] #2968 closed

[2020-03-04 09:47] ZouZou commented on #1755
Were you able to solve this issue?

[2020-03-04 10:30] #2956 closed

[2020-03-04 11:49] sam0817 commented on #2914
@h82258652
Hi there, i think good architecture or pattern should keep developer from mistakes. When we keep the file there, someday somehow someone junior see the file there and put something into(It makes sense to edit what exist there).

Just like something in  domain entity make as  ``internal `` to prevent unexpected usage.
So there is also no such production related file in official template:

[2020-03-04 12:44] doganc commented on #680
Hi, it was my mistake, I forgot the ConfigureExtraProperties() in ConfigureExtension.
The problem solved. Thanks for your help.

[2020-03-04 13:30] gdlcf88 commented on #2970
https://thecodebuzz.com/jwt-authorization-token-swagger-open-api-asp-net-core-3-0/

[2020-03-04 14:07] hikalkan opened #2976 "UseAutrorization should be later than UseMultiTenancy"
This is a bug in the startup template, so should be fixed by existing applications.

[2020-03-04 14:09] #2976 closed

[2020-03-04 14:09] #2970 closed

[2020-03-04 14:09] hikalkan commented on #2976
It is easy to fix: https://github.com/abpframework/abp/commit/50cae73e90032820f61d199952965e528d8ec3f4

[2020-03-04 19:09] javeez opened #2977 "Should set default roles for new external users"
CreateExternalUserAsync doesn't support SetDefaultRolesAsync

[2020-03-04 19:25] zgers commented on #2957
Here is some additional information. If I remove the AbpAccount*Modules and keep the AbpIdentity*Modules it works. I am able to log in as the admin or an authorised user and access the identity (users, roles) and products. However the authentication fails when you add the AbpAccount*Modules.

Here is an extract from the log file:

2020-03-04 19:21:00.822 +13:00 [INF] Request starting HTTP/1.1 POST

[2020-03-04 20:42] newacc12 commented on #2857
Damn, I wouldn't like that. So, please bear with me as I am pretty new to ABP, the purpose of extending IdentityUser is so I can customize the user in my app (add more information and/or relationships), right? Do you mean that if I start using AppUser through my app I still have to deal with IdentityUser? Would I be able to extend the existing stores so all the code would be working with AppUser i

[2020-03-05 00:21] maliming commented on #2977
You can replace the `LoginModel `component to customize it.

[2020-03-05 03:46] gdlcf88 commented on #2857
Yes, IdentityUserManager providers some important methods, for example, setting user's email, granting roles.

[2020-03-05 04:08] wjkhappy14 opened #2978 "can i use some modules in WPF(.net core 3.1) App？AbpAutofacModule"

[2020-03-05 04:16] wjkhappy14 commented on #2978
and some others modules AbpAutofacModule，AbpAutofacModule  so on。。。。

[2020-03-05 06:48] sebitsi commented on #2966
@hikalkan
Basically this is not only commercial edition problem.
Your link points me to right direction.
After enabling PII visibility i noticed that i must change server configuration (value of AuthServer/Auhority key).

Thanks

[2020-03-05 07:41] hikalkan commented on #956
I am actively working on this on that branch: https://github.com/abpframework/abp/tree/ms-demo-multi-tenant

Changing milestone to 2.3, but milestone has no meaning with this sample, since it is not something released. I will continue to work on.

[2020-03-05 07:56] #2736 closed

[2020-03-05 08:00] hikalkan opened #2979 "ConcurrentDictionary.GetOrAdd may not be always thread safe"
[The implementation of the GetOrAdd](https://github.com/dotnet/runtime/blob/e2881ae96bb4399864723aa46469c82379b03b32/src/libraries/System.Collections.Concurrent/src/System/Collections/Concurrent/ConcurrentDictionary.cs#L1026-L1039) may not be thread safe if we modify a shared object in the factory method.

It caused a bug for https://github.com/abpframework/abp/issues/2736

While not reported any

[2020-03-05 08:07] hikalkan commented on #2736
Fixed this. It seems it is related to implementation of the ConcurrentDictionary: https://github.com/dotnet/runtime/issues/33221

[2020-03-05 08:49] hikalkan opened #2980 "Invalidating access token / auth cookie once user claims or other critical info changes"
Related to https://github.com/abpframework/abp/issues/2460

[2020-03-05 08:50] hikalkan commented on #2460
Moved to https://github.com/abpframework/abp/issues/2980

[2020-03-05 08:50] #2460 closed

[2020-03-05 08:53] hikalkan commented on #2415
From a client perspective, `/api/abp/api-definition` should be retrieved from the gateway, not from an individual microservice. So, when you call `/api/abp/api-definition`, it should be execuited in the gateway and gateway merges all the API definitions.

Are you getting an exception about that or you need to another use case?

[2020-03-05 08:57] hikalkan commented on #1678
I think 60 second cache (for optimization) is tolerable for now for real world scenarios. We will work on this later.

[2020-03-05 08:59] hikalkan opened #2981 "Angular type script generator"
It is almost finished, but should be optimized, better tested and integrated to the ABP CLI.

[2020-03-05 09:00] hikalkan commented on #2206
Moved to https://github.com/abpframework/abp/issues/2981

[2020-03-05 09:00] #2206 closed

[2020-03-05 09:00] hikalkan commented on #2222
Moved to #2981

[2020-03-05 09:00] #2222 closed

[2020-03-05 09:00] hikalkan commented on #2223
Moved to #2981

[2020-03-05 09:00] #2223 closed

[2020-03-05 09:10] hikalkan opened #2982 "AbpApplicationConfigurationController should also return a value indicates that if multi-tenancy is enabled or not."
1. We can add `public MultiTenancyInfoDto MultiTenancy { get; set; }` that has `IsEnabled` which gets its value from the `AbpMultiTenancyOptions`
2. We can add `public CurrentTenantDto CurrentTenant { get; set; }` just like the user. (as an additional feature)

[2020-03-05 09:10] hikalkan commented on #2879
Depends on https://github.com/abpframework/abp/issues/2982

[2020-03-05 09:22] hikalkan commented on #2629
As @acjh stated:

[code]

Allowing to getting all data is not a good idea. Most of the real systems intentionally restrict it, because it is open to abuse. Think that a table with millions of rows, would you like to allow a client to get all in one REST call? I don't suppose.

So, it is completely based on the entity type. For roles, no problem to allow to query all, since there will not be too ma

[2020-03-05 09:27] hikalkan opened #2983 "Create an endpoint to query all roles"
* Add `GetAllListAsync()` method to the `IIdentityRoleAppService`
* Set route as `[Route("all")]` in the `IdentityRoleController`
* Use this method from MVC UI to query roles when assigning to a user

Based on https://github.com/abpframework/abp/issues/2629

[2020-03-05 09:28] hikalkan opened #2984 "Change endpoint to query roles when assigning to a user"
Depends on https://github.com/abpframework/abp/issues/2983

[2020-03-05 09:28] hikalkan commented on #2629
I created issues, so closing this.

* https://github.com/abpframework/abp/issues/2983
* https://github.com/abpframework/abp/issues/2984

[2020-03-05 09:28] #2629 closed

[2020-03-05 10:02] Znow commented on #2815
@gterdem The fix that you did solved the issue with not being able to login.

But now a new problem have arisen.

1. Run project
2. Azure AD (Microsoft) login page shows
3. Login with AD credentials
4. Logged in

So far so good.

But, I should actually be presented with the "/Account/Login"-page, shouldn't I?

Because when I just get prompted for login with the Microsoft login page, now Identity u

[2020-03-05 12:09] xirius opened #2987 "Configuration example for the Authorization Code flow"
Hi, I created a simple Abp BookStore project the following way:
abp new Acme.BookStore --template app --ui mvc --tiered -d mongodb

Now I would like to make the authorization code flow to work with IdentityServer4.
I try to get the token with Postman with the Authorization Code flow but it doesn't work.
What should I add in the configs/code to make it work ?

![postman](https://user-images.githubu

[2020-03-05 12:58] #2982 closed

[2020-03-05 13:09] hikalkan opened #2988 "Create a WPF sample startup project"

[2020-03-05 13:09] hikalkan commented on #2978
I also created an issue to prepare a sample: https://github.com/abpframework/abp/issues/2988
But you can do it yourself, by understanding the console sample.

[2020-03-05 13:09] #2978 closed

[2020-03-05 13:17] leonkosak opened #2989 "TenantId issue - null"
No metter where is tenant - in host or separated db, the TenantId column in tables (saving via IRepository) is NULL.
This is probably a bug, right?

P.S.: I am using Postgres database.

[2020-03-05 13:20] leonkosak commented on #2989
Therefore I have issues when seeding data in tables during migrations.

[2020-03-05 13:49] acjh commented on #2989
Duplicate of #1130

[2020-03-05 13:51] hikalkan commented on #2963
Existing seed code (see [this](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDataSeeder.cs) and [this](https://github.com/abpframework/abp/blob/dev/modules/permission-management/src/Volo.Abp.PermissionManagement.Domain/Volo/Abp/PermissionManagement/PermissionDataSeeder.cs) for examples) handles the duplication. If you create yo

[2020-03-05 14:12] mywhitecat opened #2990 "Multithreading issue with AppliedCrossCuttingConcerns"
At the
[code]

list of  AppliedCrossCuttingConcern is not thread safe, which lead to issues for app services that are registered with singleton lifestyle.

[2020-03-05 14:24] newacc12 commented on #2857
but can it be extended to work with AppUsers instead? If so, wouldn't the problem that you describe go away?

[2020-03-05 14:32] gdlcf88 commented on #2857
I don't know if it can be realized, or maybe it has been realized, but I just don't know the usage.

[2020-03-05 15:31] hikalkan commented on #837
If you are asking for the startup template, not planned yet, but probably will be in the road map. However, you can do it yourself, it will be an almost empty web application.

[2020-03-05 15:55] wjkhappy14 opened #2991 "abp\samples\RabbitMqEventBus"
can not find  IDistributedEventBus.Subscribe method  called， so how to receive  the data someone published？
can not understand，pls   give some help

[2020-03-05 15:56] hikalkan commented on #2192
Duplicate of https://github.com/abpframework/abp/issues/1414

[2020-03-05 15:56] #2192 closed

[2020-03-05 15:58] hikalkan opened #2992 "Update min VS version"
Should be 16.4+ instead of 16.3+

In the documents:

https://github.com/abpframework/abp
https://docs.abp.io/en/abp/latest/Getting-Started-AspNetCore-MVC-Template
https://docs.abp.io/en/abp/latest/Getting-Started-Angular-Template
https://docs.abp.io/en/commercial/latest/getting-started?UI=MVC&DB=EF&Tiered=No
https://github.com/abpio/abp-commercial-docs/blob/master/en/getting-started.md

[2020-03-05 16:00] leonkosak commented on #2989
Ok, I understand.

I have the following code in DataSeedContributor method

[code]

However, there are multiple records in host database (for host and for each tenant), even if all tenants are outside host database (each tenant have a dedicated database).
How to handle that tables in host database have only seeded data for host (where TenantId is null)?

[2020-03-05 16:06] hikalkan opened #2993 "Create a sample solution that uses separate dbcontextes and databases for tenants and the host"
While it can be done by understanding [this guide](https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Migrations), it would be good to have a pre-built example.

[2020-03-05 16:10] hikalkan commented on #2991
It will be documented. However, I will explain here briefly;

1. No need to explicitly subscribe. Create a class [like that](https://github.com/abpframework/abp/blob/dev/samples/RabbitMqEventBus/App1/App1TextEventHandler.cs) - implement IDistributedEventHandler and register to dependency injection (with ITransientDependency here). ABP auto subscribes to the event.

2. Configure the rabbitmq exchan

[2020-03-05 16:18] hikalkan commented on #2990
Application services should be transient by design. Don't make them singleton. Change design of your implementation :)

[2020-03-05 16:18] #2990 closed

[2020-03-05 16:20] wjkhappy14 commented on #2991
thks,i will try

[2020-03-05 17:37] viewtance commented on #2960
The `Volo.Abp.Http.Client.IdentityModel.Web` not published yet?

[2020-03-05 20:43] valteres opened #2994 "Error running angular UI on Module"
I have created  a new module with abp.io using the following commands:
abp new MyApp.MyModule -t module --tiered -ui angular --database-provider ef

When I try to run UI of MyApp.MyModule using "yarn start" in angular folder line I get the following error :
C:\***\MyApp.MyModule\angular>yarn start
yarn run v1.22.0
$ ng serve
An unhandled exception occurred: No projects support the 'serve' target.

[2020-03-06 00:28] zgers opened #2995 "Microservice sample to include account management"
It would be really awesome if you were to include under the back-end or public website host app a working sample how you integrate the account module (login/out and account manage) to work with identity server. At present the sample simply includes a login button which invokes a challenge request. I am sure anyone using your sample are going to have a very similar need.

The account module has eve

[2020-03-06 03:59] viewtance opened #2996 "Volo.Abp.Http.Client.IdentityModel.Web package not published"
The `Volo.Abp.Http.Client.IdentityModel.Web` package not published yet on nuget server?

It also will cause token verification failed, if still using `Volo.Abp.Http.Client.IdentityModel` package in the *.Web.project.

[2020-03-06 06:09] ismcagdas commented on #2960
@viewtance yes it seems like there is problem about this. We will publish it in a short time.

[2020-03-06 06:09] ismcagdas commented on #2996
@viewtance yes it seems like there is problem about this. We will publish it in a short time.

[2020-03-06 06:34] leonkosak opened #2997 "Q: Background Worker - how to init and set "base entrance method""
I see thet Background worker document is in creation, but I need bg worker functionality now.
https://aspnetboilerplate.com/Pages/Documents/Background-Jobs-And-Workers#background-workers

Based on this, document, can you give me quick explanations how to create and enable bg worker in abp.io (and Commercial) module?

Thank you.

[2020-03-06 06:40] liangshiw commented on #2997
The documentation is complete, but not merged yet. see https://github.com/abpframework/abp/pull/2973

[2020-03-06 06:41] leonkosak commented on #837
It sounds logical. So something similar functionality as Public Web Site for ANZ (https://docs.aspnetzero.com/en/aspnet-core-angular/latest/Public-Website)?

[2020-03-06 06:53] leonkosak commented on #2997
The requested service 'Volo.Abp.BackgroundWorkers.IBackgroundWorkerManager' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the ResolveOptional() method to resolve an optional dependency.

I have worker in .Domain module.

[2020-03-06 06:56] #2996 closed

[2020-03-06 06:57] hikalkan commented on #2996
It has been published, will be available in a few minutes. Thank you for reporting this.

[2020-03-06 07:01] liangshiw commented on #2997
@leonkosak Move to https://github.com/abpframework/abp/pull/2973

[2020-03-06 07:06] hikalkan commented on #2960
It is available now.

[2020-03-06 07:29] #2997 closed

[2020-03-06 07:30] leonkosak opened #2998 "Background worker Autofac instance issue"
https://github.com/abpframework/abp/pull/2973#issuecomment-595636740

What is still missing, that DI cannot inject business logic class code (which derives from ITransientDependency)?

[2020-03-06 07:33] liangshiw commented on #2998
@leonkosak  Please provide a complete error log

[2020-03-06 07:39] leonkosak commented on #2998
xxxDomainModule.cs code:

[code]

Worker code:

[code]

Code logic class (part - constructor, entrance)

[code]

[2020-03-06 07:43] leonkosak commented on #2998
abp v2.2.0

An exception was thrown while activating Thynkr.Postgres.DeviceDataImportProcessing.ImportProcessing.AcceptedMessageProcessingStatusCreatorBackgroundWorker -> Castle.Proxies.AcceptedMessageImportLogicProxy.

   at Autofac.Core.Resolving.InstanceLookup.Activate(IEnumerable`1 parameters, Object& decoratorTarget)
   at Autofac.Core.Resolving.InstanceLookup.Execute()
   at Autofac.Core.Res

[2020-03-06 07:45] majidbigdeli opened #2999 "volo.abp.quartz not published"

[2020-03-06 07:57] zoao commented on #2929
In DDD principles, this scenario does not happen. Because in the case you need return Milestone inside each Issue, you must create a new simple milestone DTO (and normaly a new entity that is not aggregateroot), only with properties that is need for this Use Case.

This is very important principle in DDD (Entities/DTOs by use case), because your actually entity Milestone that is a Aggregateroot as

[2020-03-06 07:58] leonkosak commented on #2998
The worker is currently started from "host" (business logic of worker is in a module) with a project .Web.Unified.

[2020-03-06 08:04] #2942 closed

[2020-03-06 08:05] liangshiw commented on #2998
I'm trying to reproduce it

[2020-03-06 08:21] liangshiw commented on #2998
```public class AcceptedMessageProcessingStatusCreatorBackgroundWorker : AsyncPeriodicBackgroundWorkerBase, ITransientDependency```

Remove `ITransientDependency` Background worker should be singleton.  Then it will work

[2020-03-06 08:24] leonkosak commented on #2998
Still...

None of the constructors found with 'Autofac.Core.Activators.Reflection.DefaultConstructorFinder' on type 'Castle.Proxies.AcceptedMessageImportLogicProxy' can be invoked with the available services and parameters:
Cannot resolve parameter 'Volo.Abp.TenantManagement.ITenantRepository tenantRepository' of constructor 'Void .ctor(Castle.DynamicProxy.IInterceptor[], Volo.Abp.Uow.IUnitOfWorkM

[2020-03-06 08:26] leonkosak opened #3000 "Documentation: Possible wrong link on Yarn"
Because of "Yarn version confusion", change the links on the following sites:

https://docs.abp.io/en/abp/latest/Getting-Started-AspNetCore-MVC-Template

https://docs.abp.io/en/abp/latest/Getting-Started-Angular-Template

https://docs.abp.io/en/commercial/latest/getting-started?UI=MVC&DB=EF&Tiered=No

https://github.com/abpio/abp-commercial-docs/blob/master/en/getting-started.md

New link: **https

[2020-03-06 08:28] liangshiw commented on #2998
**Cannot resolve parameter 'Volo.Abp.TenantManagement.ITenantRepository tenantRepository**
Try add `typeof(AbpTenantManagementDomainModule)` to your module class

[2020-03-06 08:33] leonkosak commented on #2998
I tried, but the error remains the same.

[2020-03-06 08:42] liangshiw commented on #2998
I can't reproduce this issue.
Create project using CLI to reproduce this issue and upload to github repository

[2020-03-06 08:49] leonkosak commented on #2998
Sent via WeTransfer on your @outlook.com email address.

[2020-03-06 09:06] leonkosak commented on #2998
I can confirm, that only ITenantRepository is problematic (and ITenantManager also). Without this repository/manager, the background worker starts without problems.
But I need all tenants (that bg worker goes through all tenant databases). Is maybe another approach on how to get all tenants?

[2020-03-06 09:33] liangshiw commented on #2998
Add `AbpFeatureManagementEntityFrameworkCoreModule` dependency to the module class of the `.EntityFrameworkCore` project.
Since you need to acquire tenants, why remove the dependency on the tenant management module in the solution project  : )

[2020-03-06 09:40] viewtance opened #3001 "After upgraded to ver 2.2.0, ids4 AuthenticationScheme: oidc was challenged, Authorization failed"
Repro steps:

1. Upgraded from ver 2.1.1
2. Based on the database which created on ver 2.1.1
3. Run the application

When do the authorization from web project to identity server project, an error occurred, the page been redirected to below url with 404 error:
`https://localhost:44372/home/error?errorId=CfDJ8CrmDr9Ouj1OnL4N4FQXl9t7ylszrieMwT0IW9i5EfY09Js5LiXX7d77cprc0IOMqNpSM53s6w-9AybFfefqXSm_NXe

[2020-03-06 09:47] majidbigdeli opened #3002 "An error (500) occurs with the auto mapper when we have a circular in Dtos But Audit Log Status code is 200 Without Log Exception"
[code]

[code]

Api Return 500  But Audit log  Expetion is Empty . And status code is 200

[code]

[2020-03-06 09:54] EugeniZaplatin opened #3003 "May be error in documentation"
In this section of documentation https://docs.abp.io/en/abp/latest/Authorization#permission-value-providers  I found type PermissionOptions, but in sources I found AbpPermissionOptions.

https://user-images.githubusercontent.com/11317749/76072352-6aea6480-5fca-11ea-988e-d7c2aa70bc26.png

[2020-03-06 10:06] xirius opened #3004 "How to disable login before email is validated and send a validation email after registration ?"
I'm new to ABP and currently learning it. I'm exploring the registration of the new user and would like to configure the standard flow.
I use the standard template: abp new Acme.BookStore --template app --ui mvc --tiered -d mongodb

1. When the user registers I would like to send an email to validate the email address (/api/account/register endpoint) ? How can I do it ? Is there an example somewhe

[2020-03-06 10:10] abllyboy opened #3005 "One of the identified items was in an invalid format"
I import data from other system to MYSQL,and use mysql UUID() to generate Id.But when I run the project It says"One of the identified items was in an invalid format ". One of the id is "b80cb65a-5f8f-11ea-be54-0242ac110007". How to deal this issue?

[2020-03-06 10:21] leonkosak commented on #2998
I didn't remove anything from references (just adding). :)
The module vas generated vial CLI (v2.1.1) with parameter _-t module-pro_.

Now, it works. :)

P.S.: I added Abp**Tenant**ManagementEntityFrameworkCoreModule (not FeatureManagement module).

[2020-03-06 10:21] #2998 closed

[2020-03-06 10:23] leonkosak opened #3006 "abp v2.2.0 - Postgres: 0x8000 42P01: relation "AbpTenants" does not exist"
![image](https://user-images.githubusercontent.com/39346964/76075237-ef25f300-5f9c-11ea-8e75-0be425aebac7.png)

[2020-03-06 10:29] codestellar commented on #2976
Typo error in UseAuthorization

[2020-03-06 10:30] codestellar commented on #2976
I see a typo error in Release Notes and here as well in UseAuthorization

[2020-03-06 10:56] Znow opened #3007 "Navigation Properties - Related data not being loaded with eager loading"
Heya,

I have the following structure:

DashboardCategories
1..N
Dashboards

1 DashboardCategory can have N Dashboards

Below is code samples of a pretty basic setup of entities, the db builder, and an app service that retrieves "DashboardCategories". I have tried searching through issues for similar, and also on StackOverflow.

DashboardCategory.cs
[code]

Dashboard.cs
[code]

DTO's are similar,

[2020-03-06 11:00] cotur commented on #2992
fixed by: https://github.com/abpframework/abp/commit/1d3f0c3cdbf025f567f285eb7b3fd7df3ffffcb1

[2020-03-06 11:00] #2992 closed

[2020-03-06 12:14] yinchang0626 commented on #3007
@Znow
maybe you should do it in your repository like
``csharp
public override IQueryable<IdentityUser> WithDetails()
{
    return GetQueryable()
        .Include(x => x.Roles)
        .Include(x => x.Logins)
        .Include(x => x.Claims)
        .Include(x => x.Tokens); // Uses the extension method defined above
}
[code]

[2020-03-06 12:17] Znow commented on #3007
@yinchang0626 - Seems very weird, since I don't have custom repositories for my entities, but relying on the generic repository implementation: IRepository<SomeEntity>

[2020-03-06 12:24] xujin950710 opened #3008 "ApplicationService conversion controlle"
May I ask why you can not use ApplicationService from other modules to become a controller automatically, but need to be disclosed through HttpApi.

[2020-03-06 12:25] yinchang0626 commented on #3007
@Znow
maybe it can help you,but I think create a custom repository for `AggregateRoot` entity is better.
[code]

[2020-03-06 12:42] yekalkan opened #3009 "Docs Elastic Search Problem: Search is performed on raw document"
Search is performed before documents is converted to plain text from markdown format and processed by scriban.

![image](https://user-images.githubusercontent.com/5793291/76084214-7042b180-5fc0-11ea-8eeb-9938f164e4d1.png)

related https://github.com/abpframework/abp/pull/2901
related https://github.com/abpframework/abp/issues/1621

[2020-03-06 13:13] #3006 closed

[2020-03-06 14:38] sebitsi commented on #2969
Thanks  @leonkosak  for Slovenian translation.
As i can see from commits, there is only json files.

What about DB migrations ? Shouldn't be new (Slovenian) language added too ?

[2020-03-06 14:53] bkv143 commented on #394
So, the Blazor UI development has been started?

[2020-03-06 15:35] evenlee opened #3010 "custom user validation by IExtensionGrantValidator"
I've just download a template(angular) to test new framework.

we have a legacy database which stores our user accounts, and I want to custom user validation logic to let the legacy user login.

the best practice is to use IExtensionGrantValidator, and I found some clues [here](https://stackoverflow.com/questions/43809881/how-to-integrate-custom-authentication-provider-into-identityserver4).

the

[2020-03-06 17:08] maomft opened #3011 "Packages have not published on nuget"
The error info is below.

Unable to find package Volo.Abp.PermissionManagement.Application.Contracts with version (>= 2.2.1)
  - Found 41 version(s) in nuget.org [ Nearest version: 2.2.0 ]
  - Found 0 version(s) in Microsoft Visual Studio Offline Packages
  - Found 0 version(s) in aspnetcore-dev	AbpNext.Application.Contracts

[2020-03-06 21:02] sebitsi opened #3012 "Serilog logging in test (xunit) projects"
Hi, is there any example or ABP support for configure serilog logger ?

[2020-03-07 01:42] liangshiw commented on #3012
See https://github.com/trbenning/serilog-sinks-xunit/blob/master/test/Serilog.Sinks.XUnit.Tests/Samples.cs

[2020-03-07 02:25] liangshiw commented on #3012
Install the `Serilog.Extensions.Logging` nuget package and add the following code to the `ConfigureServices` method of the module class :
[code]
Then you can inject the `ILogger <>` interface into your test class.

PS:　Maybe using `ITestOutputHelper` in xunit project is a better choice, see https://xunit.net/docs/capturing-output

[2020-03-07 05:25] hikalkan opened #3013 "CLI template creation versioning problem"
CLI should get the versions of the NuGet packages from common.props while replacing local references by NuGet packages while creating a new template.

If already working like that, we should understand the reason behind https://github.com/abpframework/abp/issues/3011

[2020-03-07 05:26] hikalkan commented on #3011
Sorry for that, I suppose there is a bug on CLI: https://github.com/abpframework/abp/issues/3013
We are currently publishing the packages. It will be available in half an hour.

[2020-03-07 05:46] hikalkan commented on #3011
Published 2.2.1 packages.

[2020-03-07 05:46] #3011 closed

[2020-03-07 05:47] maomft commented on #3011
thanks

[2020-03-07 07:43] ismcagdas commented on #394
Not yet

[2020-03-07 09:06] mlwxxx commented on #3013
[code]
wating....come on!
cheer for you!

[2020-03-07 10:06] evenlee commented on #3010
I also tried to implement my IResourceOwnerPasswordValidator， but still no luck.

[2020-03-07 10:35] sebitsi commented on #3012
@liangshiw  thanks for your answere. But it is not working.

If i put code you provide into `ConfigureServices` then this code is executed after DI try to inject ILogger into test constructor. At that time ILogger is not register jet.

I try to execute `ServiceProvider.GetService<ILogger>()` from test method (not CTOR), but this returns null. So ILogger is not registered right.

My test project de

[2020-03-07 11:10] liangshiw commented on #3012
@sebitsi Inject the **ILogger<>** like `ILogger<SampleAppServiceTests>`

[2020-03-07 11:43] mlwxxx commented on #3011
It still gives error
come on,cheer for you!

[code]

[2020-03-07 17:27] sebitsi commented on #3012
@liangshiw  Sorry still not working. :(

I think i mixed something.
I have this inheritance:

[code]
I put your suggested code into CommonTestModule.ConfigureServices.
Is this right ?

If i inject `ILogger<SQLConstants> `into SQLConstants's CTOR as you suggested then debuging of test project is stopped withou error.

On the other hand calling `ServiceProvider.GetService<ILogger<SQLConstants>>()` i

[2020-03-07 19:27] cotur commented on #3012
@sebitsi, can you transfer the logger implementation codes to `Program.cs` file in your project.

[code]

And then do not forget to add `UseSerilog()` at the end of `CreateHostBuilder` method.

Example:
[code]

[2020-03-07 19:57] sebitsi commented on #3012
@cotur What do you mean ?
I have no problem using serilog in ASP.NET Core project. Just with test project.

[2020-03-07 20:44] joshes opened #3014 "Cannot create new application with `abp` cli"
I'm unable to create a new application with `abp` cli.

Example:

[code]

The backend API servers appear offline or misconfigured as I cannot create an application via the UI either.

I've seen this often over the last couple of days, it may be interesting to see about adding an offline option if at all possible.

[2020-03-07 21:49] cotur commented on #3012
Hi @sebitsi,

This answer ( https://github.com/abpframework/abp/issues/3012#issuecomment-596129597 ) is for UI test. For xUnit tests, there is no ABP support for serilog integration.

Maybet it will help your problem : [Output logs to Xunit using Serilog Static Logger](https://stackoverflow.com/questions/58913741/output-logs-to-xunit-using-serilog-static-logger)

Or you can do it manually. Just cr

[2020-03-07 21:49] #3012 closed

[2020-03-07 21:59] cotur commented on #3014
Hi @joshes,

I just tried that and works on me.
Do you still get 500 Internal Server Err?

[2020-03-07 22:06] sebitsi commented on #3012
@cotur There is no problem with manually write to log file.
I can do this with yours and @liangshiw suggestions. Thanks for that.

But I expect some logging support if exception raised in abp modules when test is executed.

What about that ?

[2020-03-07 23:11] joshes commented on #3014
Hi @cotur. It does seem resolved now, but have noticed the docs/api have been very slow over the last few days with entire times where nothing but 500's are returning.

Happy to close the issue, but would like to raise the issue of the docs/api being unstable which is a bit out of band for tracking here I suppose.

[2020-03-08 02:54] joshes commented on #3014
Just to put a timestamp on it, the docs are offline presently with intermittent 500's

[2020-03-08 03:40] Loongle opened #3016 "Cli use of local templates caused an error."
I custom module template，I removed Web.Host and Web.Unified and MyProjectName.Web from the solution. Throws an exception: `System. ApplicationException`

Execute the command：`abp new Acme.BookStore -t module --no-ui -ts D:\localTemplate`
![image](https://user-images.githubusercontent.com/7290992/76156185-9a67b100-6131-11ea-88c9-69e6a41fa12b.png)

If I use a local template, can the cli remove some

[2020-03-08 03:42] donnieyoung opened #3017 "BookStore-Angular-MongoDb sample cann't yarn start"
angular part  of BookStore-Angular-MongoDb cann't start when yarn start.

ERROR in src/app/shared/shared.module.ts:6:29 - error TS2307: Cannot find module 'primeng/table'.

6 import { TableModule } from 'primeng/table';
[code]

[2020-03-08 03:42] Loongle commented on #3016
If I just delete the file and don't remove the project from the solution, then I don't have this problem

[2020-03-08 03:42] cheetahing opened #3018 "how config the long type auto serialize string type json"
c# abp entity id type is long,use Snowflake.Core lib generate long id.
Serialize entity id to json, then javascript deserialize javascript obj loss precision.
[code]
When c# student id value is 1236305924231139328.
Serialize obj is right.
Javascript deserialize json loss precision.
javascript obj id value is 12363059242311393**00**

I want to all  long type entity id or dto id serialize to string

[2020-03-08 04:16] Loongle commented on #3018
you can using Guid 👌

[2020-03-08 04:17] Loongle commented on #3011
I didn't have any problems 🦉

[2020-03-08 04:41] maomft commented on #3011
check your log,

The Packages are published,so anything is ok.

[2020-03-08 05:09] cheetahing commented on #3018
I know using guid.But i want to use long.
I have other idea,add property IdString in base dto calss.
Do you have a perfect idea?
[code]

[2020-03-08 05:41] #3008 closed

[2020-03-08 05:42] xujin950710 commented on #3008
Resolved because the generated controller uri is the same and cannot be displayed

[2020-03-08 08:41] majidbigdeli opened #3019 "How Can unload Module From Startup Template ?"
For Example How Can Remove /api/account/login From Api ?

[2020-03-08 11:10] maliming commented on #3016
What is the file structure of directory `D:\localTemplate`?

[2020-03-08 11:13] maliming commented on #3018
I think this problem has nothing to do with ABP, you will also encounter this problem if you use EF. This is related to the json serialization object.

[2020-03-08 11:15] maliming commented on #3019
These APIs exist in ABP modules, you can remove dependencies on these modules.

You can find it on github or clone abp source code.

[2020-03-08 11:39] maliming commented on #3005
This seems to have nothing to do with ABP, like a problem with EF Core.

[2020-03-08 11:58] vd3d opened #3020 "Regression : UserFriendlyException through remote service"
Hi,

I have upgrade to the last version of abp 2.2.1, and when I throw an exception in a ApplicationService, the client receive a Volo.Abp.Http.Client.AbpRemoteCallException.

Previously I received a UserFriendlyException !

[2020-03-08 12:02] Loongle commented on #3016
@maliming There is only one file in the directory named `module-2.2.1.zip`

[2020-03-08 12:13] maliming commented on #3002
What is the detailed log? I think it should be related to automapper.

[2020-03-08 12:21] maliming commented on #2999
Please follow: https://github.com/abpframework/abp/pull/3022

[2020-03-08 12:29] maliming commented on #2994
Did you restore the package?

[2020-03-08 13:16] donnieyoung commented on #3017
I find the reason. ISSUE #2924 have resolved.
For Angular 8:  yarn add primeng@8.1.1 @angular/cdk@8.2.3 primeicons
In addition, the sample is the old version

[2020-03-08 13:16] #3017 closed

[2020-03-08 13:58] majidbigdeli commented on #3019
@maliming
Yes I Know .But  For Example  When I delete AbpIdentityHttpApiModule from MyProject.Http.Api Project  yet still i see /api/identity/users api ;

[2020-03-08 15:03] wjkhappy14 commented on #3019
clean  and then rebuild ，pls try

[2020-03-08 15:04] wjkhappy14 commented on #3019
<PackageReference Include="Volo.Abp.Identity.Application" Version="2.2.1" />

[2020-03-08 15:05] wjkhappy14 commented on #3019
<PackageReference Include="Volo.Abp.Identity.Application" Version="2.2.1" />

[2020-03-08 15:05] wjkhappy14 commented on #3019
PackageReference Include="Volo.Abp.Identity.Application" Version="2.2.1"

[2020-03-08 15:11] valteres commented on #2994
Yes. I have restored packages running yarn at the myModuleName\Angular folder.

In the angular.json there are two entries with module name under projects section (one for library and the other for application. - "projectType": "application", / "projectType": "library"). After renaming library one to a unique name by appending xxx, I get compile error for primeng :

ERROR in src/app/shared/shared.m

[2020-03-08 16:01] doganc opened #3024 "There are no login schemes configured for this client."
Hi, how can configure login schemas for users? For example Locking account after failed login attempts.
Thanks

[2020-03-08 17:19] majidbigdeli commented on #3019
@maliming  @wjkhappy14  @hikalkan
My HttpApiModule

![image](https://user-images.githubusercontent.com/26275762/76167633-51d5e500-617d-11ea-8e72-a673675ed826.png)

my ApplicationModule

![Capture](https://user-images.githubusercontent.com/26275762/76167620-366ada00-617d-11ea-8b79-9491a7c64c4c.PNG)

**still i see /api/identity/users api ;**

[2020-03-08 18:38] hikalkan commented on #394
Actually, we have started to work on the gRPC integration (currently testing & creating an integration design), since we will use it with Blazor UI.

[2020-03-08 18:59] hikalkan commented on #2976
:) thanks, fixed both.

[2020-03-08 20:13] Sigve84 opened #3025 "Error: Outlet is not activated"
Direct download,
Project: application
Ui: Angular
Mongo DB
Seperate Indentity server : false
When i start angularjs project, and navigate to login, I get errors below:

action [Router] RouterDataResolved @ 21:09:18.863
ngxs-logger-plugin.js:246  payload {routerState: {…}, event: ResolveEnd, trigger: "none"}
ngxs-logger-plugin.js:246  prev state {LayoutState: {…}, ConfigState: {…}, SessionState: {…

[2020-03-08 22:32] dicksonkimeu opened #3026 "Webhook Feature"
How can i implement web hooks?

[2020-03-09 00:51] maliming commented on #2994
Have you seen this issue?
https://github.com/abpframework/abp/issues/2924

[2020-03-09 01:10] liangshiw commented on #3024
See [Settings Document](https://docs.abp.io/en/abp/latest/Settings) .
You can configure values in `appsettings` file, Like :
[code]
Or you can use the [`ISettingManager`](https://github.com/abpframework/abp/blob/dev/modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/ISettingManager.cs) provided by the setting management module to set the value

[2020-03-09 05:12] wjkhappy14 opened #3027 "Users"
\Volo.Abp.Identity.EntityFrameworkCore\Volo\Abp\Identity\EntityFrameworkCore\IIdentityDbContext.cs
DbSet<IdentityUser> Users { get; set; }

\Volo.Blogging.EntityFrameworkCore\Volo\Blogging\EntityFrameworkCore\BloggingDbContext.cs
 public DbSet<BlogUser> Users { get; set; }

what is different  ？ need i create two tables in different databases？

[2020-03-09 05:39] mehmet-erim commented on #3025
Hi @Sigve84

Please run the following command in the angular folder and try again:
[code]

[2020-03-09 05:59] #3014 closed

[2020-03-09 06:41] cotur commented on #3026
Hi @dicksonkimeu,

Recieving or sending webhooks can be created by you, this question is not related to ABP Framework.

Here is for you some documents:
https://docs.microsoft.com/en-us/samples/microsoftgraph/aspnetcore-webhooks-sample/microsoft-graph-webhooks-sample-for-aspnet-core/

[2020-03-09 06:42] #3026 closed

[2020-03-09 07:13] liangshiw commented on #3016
@Loongle  I try to implement it

[2020-03-09 07:21] #2999 closed

[2020-03-09 07:43] dicksonkimeu commented on #3026
@hikalkan i meant to sent out notifications, not incoming notifications

[2020-03-09 07:44] doganc commented on #3024
Thanks for your help @liangshiw

[2020-03-09 07:44] #3024 closed

[2020-03-09 08:23] maliming commented on #3004
The free and open source account does not implement some features.

![image](https://user-images.githubusercontent.com/6908465/76194945-3d97f380-6222-11ea-8be5-1e40796fda1f.png)

see https://docs.abp.io/en/commercial/latest/abpframeworkcomparison

[2020-03-09 08:25] maliming commented on #3001
What is the error log of the identity server?

[2020-03-09 08:28] maliming commented on #2987
**"ErrorDescription":"Invalid redirect_uri"**

The cause of the error is obvious, can you check it?

[2020-03-09 08:40] Znow commented on #3007
@yinchang0626 THen I would have to create a custom repository for every entity that has relations and navigation property? Not a suitable solution tbh... If it works out of the box in EF Core, then it should also work out of the box in ABP

[2020-03-09 08:55] #3000 closed

[2020-03-09 08:55] xirius commented on #2987
@maliming Yes, I understand. I don't understand how to register or provide the redirect url. When I just fill Callback Url in postman, it results in exactly the same error.

[2020-03-09 10:24] doganc opened #3030 "An internal error occured during your request"
Hi, I have a problem with my Entities,
i haven't get any record from Order, if i try with swagger or jscript these error occured.

Where is my fault? May be it's fault in my basic structure.
Thanks

[code]
	public class Order:AuditedAggregateRoot<int>
    	{
        public string OrderNumber { get; set; }
        public DateTime OrderDate { get; set; }
        public string CustomerName { get; set

[2020-03-09 10:43] hikalkan commented on #3026
Currently, there is no such a feature of the framework. So, you can implement it yourself as you can do in any asp.net core project. Nothing special.

We will create a real time notification system (see https://github.com/abpframework/abp/issues/633), but it is not a webhook system. Webhook system is on the road map, but with low priority.

[2020-03-09 10:46] cotur commented on #3030
Hi @doganc,

Did you inspect your problem in debug mode?

[2020-03-09 10:56] cotur commented on #3027
Short: There is no differences at all, yes you need because module needs.

It is required because modular programming requeires it. As you see, `Blogging` is a module. So the module's users should be stored different table(in microservice or normal architecture). Meanwile, if blogging module needs an user data, it gets it from your application. Those are automatically executing by ABP Framework.

[2020-03-09 11:25] leonkosak commented on #2969
@sebitsi  Yes, all modules for abp (and Commercial) are distributed as NuGet packages and therefore the translations (.json) are inside packages.

The boilerplate code for language "initialization" is inside actual code. If you upgrade module/application, you have to manually add a new record in .cs code.

Example: https://github.com/abpframework/abp/pull/2671

When you run migrator, the language

[2020-03-09 11:36] leonkosak commented on #394
@hikalkan , @ismcagdas There is approx. 2 months till Blazor Wasm release date. I know that Blazor is one of the most desired "features", but I think that Blazor Wasm is the "mode" which are we waiting for (or most of us).

Maybe development after Blazor Wasm release is a better time to start developing Blazor UI.

[2020-03-09 11:54] leonkosak commented on #2747
Based on my previous suggestions (https://github.com/abpframework/abp/issues/1571#issuecomment-532146116), I saw that SQL scaleout is not an option anymore (just Redis and Azure SignalR Service).

https://docs.microsoft.com/en-us/aspnet/core/signalr/version-differences?view=aspnetcore-3.1#scaleout-differences

It's disappointing (at least for me) that they canceled SQL option.

[2020-03-09 13:06] 274188A commented on #394
Agree with Wasm being the best option. Don't see how starting now can be a disadvantage. The debugging is still to come for sure. The way forward is pretty clear though.

[2020-03-09 13:36] wjkhappy14 commented on #3027
so must refactor the user of Blogging module？ use  IdentityUser, UserData ？

[2020-03-09 13:58] acjh commented on #3007
You don't have to.

EF Core does not eager load (nor lazy load) by default.
https://docs.microsoft.com/en-us/ef/core/querying/related-data

[2020-03-09 14:07] Znow commented on #3007
@acjh Okay, your answer doesn't provide me with much more solution, sorry.

I have looked through that site, many times - without any luck.

[2020-03-09 14:10] acjh commented on #3007
There is no luck involved. You have to configure it as you require.

[2020-03-09 14:12] Znow commented on #3007
@acjh I dont understand your point? Where shall I configure it? Other than in my DbContext, where I already configured my relations for my entities?

[2020-03-09 14:30] atak946 opened #3031 "About using relational database"
Hi,
I have two tables.
I join them with virtual, but when I getlist in application services layer, the values of the related table are null.
how can we overcome this situation?

[code]

Running javascript code:
[code]

Response of request:

[code]

i want to fill a the table1 property in table2 model

Best regards.

[2020-03-09 14:42] acjh commented on #3007
Configure `DefaultWithDetailsFunc` in your `EntityFrameworkCoreModule` as @<span></span>yinchang0626 showed above. See https://github.com/abpframework/abp/issues/616#issuecomment-443387977.

For `CrudAppService.GetListAsync`, you also need https://github.com/abpframework/abp/issues/2474#issuecomment-569508507:

[2020-03-09 14:45] acjh commented on #3007
Duplicate of #2474

[2020-03-09 14:45] acjh commented on #3031
Duplicate of #2474

[2020-03-09 16:41] #956 closed

[2020-03-09 16:54] hikalkan opened #3033 "Define ETO's for all aggregate roots for all modules"
ETO: Event Transfer Object.

Used to transfer info about a change for an entity, like creation, deletion and updating.

If we don't define a specific ETO for an entity, [the default one](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Entities/Events/Distributed/EntityEto.cs) is used, which simply has entity name and id.

Defining specific ETO allows

[2020-03-09 17:12] hikalkan opened #3034 "How to unsubscribe to an event when we remove an distributed event handler"
When we create a class implements the `IDistributedEventHandler<T>` ([see](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/IDistributedEventHandler.cs)), ABP automatically subscribes to the event. When you use the RabbitMQ provider, it subscribes to the event on the rubbitmq as durable.

That's fine and what we want. However, assume that w

[2020-03-09 17:18] hikalkan opened #3035 "Allow to control which entity events automatically published to the distributed event bus"
Currently, ABP auto-publishes create,delete and update events to the event bus for all entities. It uses the mapped ETO class if available, uses the standard EntityDto otherwise (EntityDto only contains entity Id and the full name of the entity class). But, we may not want to publish all entity events. So, we should provide a way to filter events.

The problem here is that: Who will decide this re

[2020-03-09 17:35] hikalkan commented on #3005
It seems MySQL driver can not properly convert it to a GUID. As @maliming stated, nothing to do with ABP in this case. Please search on the web.

[2020-03-09 17:35] #3005 closed

[2020-03-09 17:37] hikalkan commented on #3004
@maliming this document is not complete yet and also it is wrong. I will work on it in this week to fix.

For example, "UI to change language", "switch between tenants"...etc are already available in the free Account module.

[2020-03-09 17:45] hikalkan commented on #3004
Email validation has not been implemented for the free account module.
You can register to `EntityCreatedEventData<IdentityUser>` to be notified when a user has been created. Then you can send an email in this case. Then you create a page to validate the email. We use standard Identity library you know, use IdentityUserManager.

You can override LoginModel class to perform additional logic (like d

[2020-03-09 17:47] hikalkan commented on #3004
Alternatively, you can add account & identity source code to your application (and remove NuGet references) and freely customize.

Latest CLI should automate this. @yekalkan do you know how it works, since I see it is not documented yet.

[2020-03-09 18:35] leonkosak commented on #3030
@doganc, when you run an application (HttpApi.Host), the Logs folder is created inside this project. You should see error in Logs.txt.

[2020-03-09 20:48] doganc commented on #3030
hi, @leonkosak ,
I create a new single Entity (Not master-Detail) that name is Customer, I try same get operation and i get same error,

Thanks for your help.

My AutoMapper profile is

[code]

[code]

[2020-03-09 21:15] Znow commented on #3007
@acjh Your example helped, thanks alot. It seems very tedious to get relationships working... I will document it if needed, but where should it be placed?

[2020-03-09 21:44] doganc commented on #3030
Hi, @cotur , @leonkosak
Again my mistake, I found the problem, I forget  set to  DbSet properties. The problem was solved.
Thanks for your help

[2020-03-09 21:44] #3030 closed

[2020-03-10 05:35] maliming commented on #2987
You can refer to the documentation of the identity server.

Such as:
http://docs.identityserver.io/en/latest/quickstarts/2_interactive_aspnetcore.html

[2020-03-10 05:35] AlphaComposite opened #3037 "File uploads with S3"
What's best practice when uploading a file at the same time form data is submitted. Per the design of ABP, form data is sent across the wire via script and APIs. Is there a way to upload a file easily with the current implementation?

[2020-03-10 05:55] maliming commented on #3037
You should implement the method of uploading files in the web layer controller instead of the application service.

asp net core's documentation has said a lot. https://docs.microsoft.com/en-us/aspnet/core/mvc/models/file-uploads?view=aspnetcore-3.1

[2020-03-10 06:01] hikalkan opened #3038 "Document IHasExtraProperties interface"

[2020-03-10 06:01] #3038 closed

[2020-03-10 06:24] #3003 closed

[2020-03-10 06:26] yekalkan commented on #3004
`abp add-module Volo.Account --with-source-code`

[2020-03-10 07:16] maliming commented on #1575
Resolved by https://github.com/abpframework/abp/pull/2926

[2020-03-10 07:16] #1575 closed

[2020-03-10 07:33] atak946 commented on #3031
I would expect the default repository to do this.

thank you anyway,

Best regards.

[2020-03-10 07:33] #3031 closed

[2020-03-10 07:38] cnkker opened #3045 "Json Convert empty string instead of null"
How  serialize  value  default value "" instead of null

[2020-03-10 07:44] vd3d commented on #3020
BTW, I have upgrade from 2.1... and I have see this breaking change :

https://github.com/abpframework/abp/issues/2960

I have adapted my code and it looks to work, but not sure that this regression issue is related.

Thanks

[2020-03-10 07:53] maliming commented on #3045
This has nothing to do with Abp.

[2020-03-10 07:53] #3045 closed

[2020-03-10 08:02] zHaytam commented on #2283
Hello, does this only manage ABP's settings? What about the settings we add in our projects?

[2020-03-10 08:10] ChiakiYu opened #3054 "abp cli bug"
[code]

then compile error.
[code]

In `D:\DemoProject\aspnet-core\modules\Volo.Account\test\Volo.Abp.Account.Application.Tests\Volo.Abp.Account.Application.Tests.csproj`
[code]
`test` should be `src`?

[2020-03-10 08:17] maliming commented on #2283
@zHaytam Please check https://github.com/EasyAbp/Abp.SettingUi/blob/master/README.md

[2020-03-10 08:20] maliming commented on #3054
I will check it.

[2020-03-10 08:20] zsanhong opened #3055 "how to record the entity change history?"
when I add some entity like role in the abp application ,I did not see any record in the table AbpEntityChanges and AbpEntityPropertyChanges. So,does abp now have the function to record the entity change history?if it has, how to config? Thanks a lot?

[2020-03-10 08:28] hikalkan opened #3056 "Guide to customize the pre-build application modules"
Started to work on: https://github.com/abpframework/abp/blob/dev/docs/en/Customizing-Application-Modules-Guide.md

Will cover "how to"s:

* Add properties to entities
* Extend/Override application, domain and other services
* Override static resources (js, css, img... etc)
* Override pages, view components... etc.
* Customize the global bundles
* Layout hooks and other ways to customize the layout

[2020-03-10 09:15] zHaytam commented on #2283
I see that ABP v2.2 is required, does upgrading the NuGet packages versions is enough to upgrade ABP? Or is there a guide to do so properly?

[2020-03-10 09:42] maliming commented on #2283
@zHaytam
You can discuss it at https://github.com/EasyAbp/Abp.SettingUi/issues/new.

[2020-03-10 09:43] maliming commented on #3055
see https://docs.abp.io/en/abp/latest/Audit-Logging#entity-history-selectors

[2020-03-10 09:43] #3055 closed

[2020-03-10 10:29] yekalkan opened #3058 "Bloggging module: Subscription & Email on new post"

[2020-03-10 10:30] yekalkan opened #3059 "Bloggging module: Show similar posts at the end of a post (using tags)"

[2020-03-10 11:02] xirius commented on #2987
@maliming Ah I see, thanks!

[2020-03-10 11:02] leonkosak commented on #394
That's also true.

[2020-03-10 11:05] xiety commented on #394
What about Blazor Server? It is very useful technology too.

[2020-03-10 11:09] xirius commented on #3004
@hikalkan Thanks a lot!

[2020-03-10 11:54] #2987 closed

[2020-03-10 11:55] #3004 closed

[2020-03-10 11:56] atak946 commented on #3031
Solution:

Add this code in your ApplicationService class (example: EmployeeService)

[code]

[2020-03-10 16:03] AlphaComposite commented on #3037
If I'm submitting the form data to a controller and not the application service, doesn't this particular form you're proposing break the convention of the ABP framework?

Are you saying that I should add a controller to the ProjectName.web project for this functionality? I'd like to store the filename in the project database, too, so I have to be able to submit the form with other user-related tex

[2020-03-10 16:06] pranavpatil19 opened #3063 "Docs Module documentataion is Not up to date"
https://docs.abp.io/en/abp/latest/Modules/Docs

Docs Module documentataion is Not up to date

i follow every singale step but  not working .. please anybody here implement this  in project

[2020-03-10 16:41] AlphaComposite opened #3065 "Themes?"
The documentation for themes says "to do".

Does anyone have information they can share about how themes work in ABP?

[2020-03-10 18:56] hikalkan commented on #3020
It was always AbpRemoteCallException. No change on that I know.

[2020-03-10 18:56] #3020 closed

[2020-03-10 19:40] hikalkan commented on #394
I also agree that client side blazor is the real blazor :)
I also agree that it is good time to start on that. I see the demand and I am also very excited to start on that.

[2020-03-10 20:22] majidbigdeli opened #3066 "how use UseLazyLoadingProxies ?"
Navigation property 'PropertyChanges' on entity type 'EntityChange' is not virtual. UseLazyLoadingProxies requires all entity types to be public, unsealed, have virtual navigation

[2020-03-10 21:58] vd3d opened #3067 "How to: change role of the current user without sign out ?"
Hi,

In my application, there is a specific action from the current user to create his own "club" for him (and friends).

Once I create a club, I also associate a role "club admin" to the current user.

It works, the role is associated in the database, but he has to logout and then login again to have the new role "detected" on the client/web side.

By example, I use blazor (but it will be the sam

[2020-03-10 23:25] nemesis567 opened #3068 "React Native Authentication for Angular Project"
Hello, I've been trying to implement oauth using AppAuth from react expo and since you guys are now developing an application very much like it I'd like to know how it should work.

I am using the starter template with angular and it seems to be using identity server 4 with oauth openid to authenticate, from what I gather at network tab when analysing angular procedure.

I would like to know the o

[2020-03-11 00:39] maliming commented on #3065
There is a lot of discussion about Theme https://github.com/abpframework/abp/issues/631

[2020-03-11 00:39] #3065 closed

[2020-03-11 00:58] #3066 closed

[2020-03-11 01:01] liangshiw commented on #3063
Do you mean the Chinese document or the English document?

[2020-03-11 01:04] 274188A commented on #394
good timing! - Just announced

preview of template for IdentityServer to auth users and API calls -
[https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?view=aspnetcore-3.1](https://docs.microsoft.com/en-us/aspnet/core/security/blazor/webassembly/hosted-with-identity-server?view=aspnetcore-3.1)

[https://devblogs.microsoft.com/aspnet/blazor-webassem

[2020-03-11 01:22] evenlee opened #3070 "How to use my sigin manager?"
I want to customize the login method, and I saw .net core support it in start file:
  .AddSignInManager<MySignInManager<User>>();

But in the API.Host Project, I cannot find it,  do we need to do it other way in ABP?

thanks in advance.

[2020-03-11 02:08] maliming commented on #3070
Try replacing it with dependency injection.

https://docs.abp.io/en/abp/latest/Dependency-Injection

Or

[code]

[2020-03-11 02:15] maliming commented on #3067
see https://github.com/abpframework/abp/issues/2460#issuecomment-569508003

[2020-03-11 02:38] mentianyi commented on #2139
It has a simple style of writing

`            Configure<AbpDbContextOptions>(options =>
            {
                options.UseMySQL(); //Your main dbprovider
                options.Configure<YourModuleDbContext>(action=>action.UseSqlServer()); //special dbprovider
            });`

[2020-03-11 05:55] leonkosak opened #3071 "Q: EF Core - Using HasQueryFilter or HasIndex for IsDeleted, TenantId properties"
When defining SQL table in ModelBuilder, what is more appropriate approach for optimizing queries which have IsDeleted in where clause?

Is better (**from performance-wise perspective**) using [HasQueryFilter](https://www.learnentityframeworkcore.com/configuration/fluent-api/hasqueryfilter-method) or [HasIndex](https://www.learnentityframeworkcore.com/configuration/fluent-api/hasindex-method) meth

[2020-03-11 06:56] pranavpatil19 commented on #3063
@liangshiw  in Engalish Document.. some step is missing.. please help me

[2020-03-11 07:18] liangshiw commented on #3063
@pranavpatil19 I will update the documentation today

[2020-03-11 07:24] #3067 closed

[2020-03-11 08:28] volethanh commented on #2415
@hikalkan : How can I reroute all APIs because with the sample, I only see `ctx => ctx.Request.Path.ToString().StartsWith("/api/abp/") || ctx.Request.Path.ToString().StartsWith("/Abp/"),` so it only reroutes APIs with that prefix. I cannot use these below apis in the picture below through API Gateway

![image](https://user-images.githubusercontent.com/46510130/76396997-df4b4c00-63ac-11ea-9b9e-da6d

[2020-03-11 08:38] liangshiw commented on #3063
@pranavpatil19 I have updated the documentation, you can confirm this https://github.com/abpframework/abp/pull/3073

[2020-03-11 08:52] cheetahing commented on #3018
Use BaseEntityDto,all the id convert to string type json,it's work well.
I wish it can help other developer.

myEntityDto
[code]

the BaseEntityDto
[code]
the json converter
[code]

[2020-03-11 08:53] yanxiaodi commented on #2988
Do you mean to access the data directly from WPF app? I think it seems not safe to store the db connection string in a local folder. I'm trying to develop a WPF app that calls APIs of abp to access the data and use the identity server for authentication & authorization. I think it would be better to provide a template that integrates the identity server module of abp.

[2020-03-11 09:02] #3018 closed

[2020-03-11 09:06] hikalkan commented on #2988
It will be just like [the console sample](https://github.com/abpframework/abp/tree/dev/samples/BasicConsoleApplication). Main idea is to integrate to abp framework and use the configuration, dependency injection, logging... etc.

It will not connect to any database. In real life, it can authenticates and uses a remote server as a client, but this can be done by the developer, not included in the s

[2020-03-11 09:08] leonkosak commented on #2741
I have also no deeper experience with Basic auth (and IdentityServer and management at all).
Could someone who integrated IdentityServer in abp.io give some advice about how to do that (just descriptive quick explanations)?
Thank you.

[2020-03-11 09:10] zredb opened #3074 "The default hangfire server always created when app start"
I configed two hangfire server as below:

            context.Services.AddHangfireServer(options =>
            {
                options.Queues = new[]
                {
                    HangfireQueueNames.WrfCalcQueueName,
                };
                options.WorkerCount = 1;
                options.ServerName = "Msp wrf job server";
                //options.TaskScheduler
            }

[2020-03-11 09:31] maliming commented on #2741
hi @leonkosak
You can take look this article:
https://jasonwatmore.com/post/2019/10/21/aspnet-core-3-basic-authentication-tutorial-with-example-api

[2020-03-11 09:35] maliming commented on #3074
Will it work as expected if you use plain asp net core?

[2020-03-11 09:38] leonkosak commented on #2741
@maliming So implementing Basic authentication has nothing to do with [IdentityServer4](https://identityserver4.readthedocs.io/en/latest/) in abp.io?

[2020-03-11 09:45] maliming commented on #2741
Yes, Authentication and authorization are independent.
Authentication is just to get the user's identity claims in some way. Such as cookies, jwt, openid, etc.

Microsoft abstracts the design of authentication and provides common authentication methods. You can customize any authentication method that conforms to Microsoft design.

![image](https://user-images.githubusercontent.com/6908465/7640330

[2020-03-11 10:43] yekalkan opened #3075 "Remove Identity test module dependencies from Account module Tests"

[2020-03-11 10:51] sebitsi commented on #2969
Hi @leonkosak.
Thanks for your explanation.

I forgot to initialize language. :(

[2020-03-11 12:14] LiljebergXYZ opened #3076 "Repository not returning any objects"
Hello
I tried searching if there was something related, however I created a new appservice and got my `IRepository` based on my class an primary key. However no matter what I do I don't get any results back. If I try to use `GetListAsync` I get a list of 0 elements and if I try to select using a` Where` it's the same result even though I have added data into the database.

Why could that be?

[2020-03-11 12:18] liangshiw commented on #3076
Show your code and recurrence conditions

[2020-03-11 12:21] LiljebergXYZ commented on #3076
The below is all that I have and I can't make it work.

ClassesAppService
[code]
Class.cs
[code]

[2020-03-11 12:47] liangshiw commented on #3076
Is there an error log? and you can see if the database table contains any records.

[2020-03-11 12:50] maliming commented on #3054
Move to https://github.com/abpframework/abp/issues/3075

[2020-03-11 12:50] #3054 closed

[2020-03-11 12:55] LiljebergXYZ commented on #3076
There is no error log other than the EntityNotFound exception, or in the case of GetListAsync, `Index was out of range. Must be non-negative and less than the size of the collection. (Parameter 'index')` sicne it's empty.

And yes the database table does contain records as I created them myself and can write a manual query that works

[2020-03-11 12:57] LiljebergXYZ commented on #3076
It seems that the new object when it was created did not get a tenantId. Thanks for your help, but it's working now!

[2020-03-11 12:57] #3076 closed

[2020-03-11 13:12] ChiakiYu opened #3077 "Where should IdentityServer4 custom authorization model be registered?"
Excuse me.
I customized an authorization model  `SmsGrantValidator: IExtensionGrantValidator` for mobile phone verification code login.
Where should I call `.AddExtensionGrantValidator<SmsGrantValidator>()`?

Thanks!

[2020-03-11 13:32] #3075 closed

[2020-03-11 13:33] hikalkan commented on #3033
Update https://github.com/abpframework/abp/blob/dev/docs/en/Customizing-Application-Modules-Guide.md#subscribing-to-distributed-events once this issue is done!

[2020-03-11 13:53] olicooper commented on #2758
Okay that makes sense.
Unfortunately I have realised this is still not working on the Angular application using the steps in my original comment. Is it within scope to add a check for the angular application? I imagine you'd have to fetch the latest setting value from the API rather than using the ones from the angular store?

[2020-03-11 14:08] maliming commented on #3077
[code]

[2020-03-11 14:08] #3077 closed

[2020-03-11 14:17] maliming commented on #2758
@olicooper Please create a new issue and explain it in detail.

[2020-03-11 14:33] #2741 closed

[2020-03-11 14:33] #3013 closed

[2020-03-11 15:30] acjh commented on #3007
That's because you should probably avoid loading relationships in `CrudAppService.GetListAsync`.

It doesn't seem to fit in either of these:
- Basics: https://docs.abp.io/en/abp/latest/Entity-Framework-Core
- Best practices: https://docs.abp.io/en/abp/latest/Best-Practices/Entity-Framework-Core-Integration

I'd consider it Tips & Tricks, since it's about configuring EF Core entities for Applicatio

[2020-03-11 16:01] hikalkan opened #3080 "Angular Component Replacement Document enhancement"
Listing "Available Replaceable Components" is not a good idea here, because it is hard to maintain. Also, this list covers only the pre-built open source modules. Suggestion:

1. Remove this section from here, move component lists to the documents of the related modules ([see the list of the modules](https://docs.abp.io/en/abp/latest/Modules/Index) - every module will have its own documentation).

[2020-03-11 17:13] gdlcf88 opened #3081 "Question about Description property of Blog entity."
https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/Blogs/Blog.cs#L17

https://github.com/abpframework/abp/blob/b8e4f8051c905ee7d5ab8dc843f1ea192495a373/modules/blogging/src/Volo.Blogging.Application/Volo/Blogging/Blogs/BlogAppService.cs#L51-L54

Why the `Description` property has public setter and not set by the

[2020-03-12 00:46] maliming opened #3082 "Updated the documentation of the docs module to support elasitc."
https://github.com/abpframework/abp/pull/3073
https://github.com/abpframework/abp/pull/2901#issuecomment-597660524

[2020-03-12 01:40] ChiakiYu commented on #3077
Thanks!

[2020-03-12 02:04] Loongle commented on #3016
@liangshiw I have a different point of view. I don't think a custom project template should examine the solution structure. why? because maybe custom project template is simple struct.  Just like the documentation case :[https://docs.abp.io/en/abp/latest/Getting-Started-AspNetCore-Application](url). Can we discuss how to solve it

[2020-03-12 02:11] liangshiw commented on #3016
@Loongle The CLI cannot adapt to all scenarios, it is customized for the official template. In addition, it is open source, you can change it for your own scenarios.

[2020-03-12 03:17] gdlcf88 opened #3083 "Should the Blogging module support multi tenancy?"
Maybe tenants need their own blog, how about enabling the Blogging module support multi tenancy?

And if so, how to use it as a host only or tenant only application?

[2020-03-12 03:44] gdlcf88 commented on #3074
Did you add `app.UseHangfireServer();`?

[2020-03-12 03:54] zredb commented on #3074
Yes, It works normally, but i think it would be to server instance in this case.
@gdlcf88 I'm not use app.UseHangfireServer();

[2020-03-12 04:42] iamskyye opened #3084 "question on the way to use webapi client"
Hi Team,

Can i ask a question on this post(https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients)?
I really want to call the rest api in my winform project? Based on the example above - the IBookAppService interface is defined in the project Acme.BookStore.Application.Contracts. So dose that mean my winform project has to have this dll reference on this project?

Thank you
Sky

[2020-03-12 04:54] leonkosak commented on #2969
@sebitsi are you from Slovenia?

[2020-03-12 06:04] ismcagdas commented on #3084
@iamskyye yes both `Acme.BookStore.Application.Contracts` and `Acme.BookStore.HttpApi.Client`

[2020-03-12 06:22] inamvar opened #3085 "Extended built in module's Localization file does not work after publish"
I'm using abp 2.1.1 and I've extened some abp built in modules localization such as `AbpIdentity` and ...

![image](https://user-images.githubusercontent.com/6972027/76492846-731d2680-6446-11ea-9de1-d7e89a772390.png)

And this is my Configuarion:

[code]

everything  works properly in debug mode but after publish  only my own module localization works and other extended localisations did not work

[2020-03-12 06:39] ismcagdas commented on #3081
@gdlcf88 because it can be null, https://github.com/abpframework/abp/blob/dev/modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/Blogs/Blog.cs#L16. This field is not required to create a valid Blog.

[2020-03-12 06:45] sebitsi commented on #2969
@leonkosak Yes I'm. You can contact me on edvin[at]sebit.si

[2020-03-12 06:47] netcore-jroger opened #3086 "Problem with UnitOfWorkAttribute definition"
**abp version: 2.2.1**
`struct` cannot be used in attribute constructor. I think this is bug.

The error I receive when I define it like this is:
[code]

The error I receive when I define it like this is:
[code]

So I currently have to configure it globally.

[2020-03-12 06:50] netcore-jroger commented on #3086
show problem code:
[code]

[code]

[2020-03-12 06:51] gdlcf88 commented on #3081
Hi @ismcagdas.

https://github.com/abpframework/abp/blob/42f37c5ff01ad853a5425d15539d4222cd0dab69/modules/setting-management/src/Volo.Abp.SettingManagement.Domain/Volo/Abp/SettingManagement/Setting.cs#L15-L19

`ProviderName` is also a nullable string property and it does not have a public setter. I still do not understand why `Description` needs a public setter and it is not in the constructor.

[2020-03-12 06:54] maliming commented on #3086
This has nothing to do with abp.
see https://stackoverflow.com/questions/3192833/why-decimal-is-not-a-valid-attribute-parameter-type

[2020-03-12 06:54] #3086 closed

[2020-03-12 06:58] netcore-jroger commented on #3086
When I want to set timeout on a specified method, can I only set it globally?

[2020-03-12 07:00] maliming commented on #3086
You need to specify a constant timeout or manually begin a unit of work.

[2020-03-12 07:00] octalpixel opened #3087 "How to creating Seed Data for Roles ?"
I have a few roles that I want to seed roles and seed user based on some of the roles. How can I achieve this ?

I couldnt find a solution based on my searches.

[2020-03-12 07:04] netcore-jroger commented on #3086
This is a bad solution. 👎

[2020-03-12 07:04] maliming commented on #3085
hi
Can you share the complete code of the module class where `Configuarion `is located?

[2020-03-12 07:06] netcore-jroger commented on #3086
[code]

[2020-03-12 07:07] #3025 closed

[2020-03-12 07:15] ismcagdas commented on #3087
You can create a Seeder like this one https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IdentityDataSeeder.cs

[2020-03-12 07:18] inamvar commented on #3085
this my DomainShared Module:

[code]

and this this locaization configuration in Http.Host Module :

[code]

And finally I used `  app.UseAbpRequestLocalization();` in `OnApplicationInitialization` method