[2022-04-15 11:48] hikalkan opened #12276 "Add "Application (single layer)" option to the ABP Get Started page and some other changes"
- [x] Here: https://abp.io/get-started Options will be different for this template.
- [x] Move the Email address to the last order. It is currently visible before the "Tiered" option.
- [x] Add the following explanations to the Project Types. Show the text under the options and change when user clicks to other option.

* **Application**: Creates a fully layered solution based on Domain Driven Desi

[2022-04-15 12:33] hikalkan commented on #11879
Created separate issues.

[2022-04-15 16:23] hikalkan opened #12280 "Article: Consuming REST APIs from a .NET Client Using ABP's Client Proxy System"
Take these documents as reference: https://docs.abp.io/en/abp/latest/API/Static-CSharp-API-Clients and https://docs.abp.io/en/abp/latest/API/Dynamic-CSharp-API-Clients

### Article flow

* Create a new ABP application with ABP CLI (use `app` template)
* Create application service interface  (gets a list of books)
* Implement the application service (keep it very simple, don't get from database, ju

[2022-04-15 23:51] #11414 closed, assigned to nobody

[2022-04-15 23:51] #11527 closed, assigned to nobody

[2022-04-15 23:51] #11533 closed, assigned to nobody

[2022-04-15 23:51] #11512 closed, assigned to nobody

[2022-04-16 11:14] dicksonkimeu opened #12281 "orleans in abp 6.0 ?"
https://dotnet.github.io/orleans/

[2022-04-16 23:01] beriniwlew commented on #11989
If we start a new project that uses Identity Server 4, will there be an upgrade path to [OpenIdDict](https://github.com/openiddict/openiddict-core)?

[2022-04-17 09:26] hillin opened #12282 "[Feature Request] abp generate-proxy: also generate DTO constraint constants"
It would be great if `abp generate-proxy` (`-t ng` in my case) also generates DTO constraint constants, such as max length of string fields, so we don't have to defined them in two different places.

[2022-04-17 11:40] hikalkan commented on #12282
Thanks for your suggestion. We will think on that in the next version.

[2022-04-17 12:52] ahmadmasoum opened #12283 "Settings is not reading in MVC / Razor Pages"
* Your **ABP Framework version** : 5.14
* Your **User Interface** type: MVC
* Your database provider: EF Core
* Exception message and **stack trace** if available (check the logs).  No exception message
* Steps needed to **reproduce** the problem.

I Added a new setting to already existing CarSharingSettingDefinitionProvider
[code]

I can read the value in the backend
but when I try to read the va

[2022-04-17 13:45] Xeevis commented on #5519
I've been experimenting with Blazor WebAssembly prerendering with ABP and it's so much better experience. Slight disadvantage is that you must somehow pause your users from interacting with the page while app is hydrating in the background. Authenticated prerendering isn't officially supported either.

If it's not fully hydrated navigation anchor elements will send requests back to server for more

[2022-04-17 13:54] realLiangshiwei commented on #12283
There are different setting keys

![image](https://user-images.githubusercontent.com/16813853/163717423-f22cf631-9239-4f4b-bc08-935cd67be21e.png)

[2022-04-17 15:16] ahmadmasoum commented on #12283
No the are the same i double checked
![image](https://user-images.githubusercontent.com/72628109/163720743-b9269fde-6859-4fff-be95-423104a52ff3.png)
![image](https://user-images.githubusercontent.com/72628109/163720801-61596d94-95a1-4b60-832b-468bd8feb1c6.png)

[2022-04-17 15:54] gaojianzhuang opened #12284 "Update to new version: System.InvalidOperationException: Scheme already exists: Identity.Application"
If you're creating a bug/problem report, please include followings:

* ABP Framework Version: 5.2.0.
* MVC
* EF Core

I have updated my Application to the latest version, when I luanch it, it throw this exceptions:
[code]

[2022-04-18 00:23] washyn commented on #12248
hello, you can try to disable the transactions https://docs.abp.io/en/abp/4.4/Unit-Of-Work

[2022-04-18 00:33] #11534 closed, assigned to nobody

[2022-04-18 00:33] #11567 closed, assigned to nobody

[2022-04-18 00:43] maliming commented on #12284
Unable to confirm the reason, you can download a template project to compare.

[2022-04-18 01:02] realLiangshiwei commented on #12283
https://docs.abp.io/en/abp/latest/Settings#settingdefinition

[2022-04-18 01:23] haptear opened #12285 "Job gets unregistered task execution"
ABP Framework version: v5.2.0
UI type: MVC
DB provider: EF Core

Microservice mode has A, B 2 services, both connected to the same mysql database.
Service A only has job for sending emails.
Service B only has job for sending SMS.
During the actual operation A and B will execute each other's tasks, which leads to errors

[2022-04-18 01:32] maliming commented on #12285
See https://docs.abp.io/en/abp/latest/Background-Workers#running-on-a-cluster

[2022-04-18 03:21] #12257 closed, assigned to realLiangshiwei

[2022-04-18 06:10] hillin opened #12288 "[Feature Request] abp generate-proxy: also generate policy (permission) names"
This is related to https://github.com/abpframework/abp/issues/12282, they work on different subjects but serve the same purpose: do not repeat yourself.

So it would (also) be nice if `abp generate-proxy` could generate the permission name constants as well, preferably in a structured manner.

[2022-04-18 06:18] maliming commented on #12288
Please discuss in #12282

[2022-04-18 06:18] #12288 closed, assigned to nobody

[2022-04-18 06:19] hillin commented on #12282
Per #12288 : it would also be nice if it could generate the permission name constants as well, preferably in a structured manner.

[2022-04-18 06:50] ahmadmasoum commented on #12283
Its already set to true

[2022-04-18 08:32] realLiangshiwei commented on #12283
Can not reproduce the problem, can you provide full steps to reproduce?

![image](https://user-images.githubusercontent.com/16813853/163780795-a6ca2134-5e31-4670-839d-30cb668b0386.png)

[2022-04-18 09:00] teacher-zhou opened #12290 "None of the constructors found"
* Version **5.2**.
* Blazor server
* EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

I'm using Volo.Abp.BlazoriseUI for blazor, and using the `AbpCrudComponentBase` for razor page, when I click edit in list，one exception exception throw as below
-----------------------------------------
[code]
![image](https://user-images

[2022-04-18 09:03] ahmadmasoum commented on #12283
I added `SettingDefinition` in the default `SettingDefinitionProvider` class created with the project

![image](https://user-images.githubusercontent.com/72628109/163783998-28d49cdc-9524-4f7f-903d-1707460aec1d.png)

I run the DbMigrator and started the project

I get the value in App service
![image](https://user-images.githubusercontent.com/72628109/163784590-cfc76578-9ff4-4783-85c2-87f2f237411e.

[2022-04-18 09:07] maliming commented on #12290
`context.Services.AddAutoMapperObjectMapper<BoloniBlazorModule>();`

[2022-04-18 09:45] #11549 closed, assigned to enisn

[2022-04-18 12:20] ahmadmasoum commented on #12283
I Tried adding the settings in appsettings json file
[code]
Called it
[code]

And got this error

[code]

[2022-04-18 15:24] enisn opened #12295 "CMS Kit - BlogFeature Data Seeding doesn't check global features"

[2022-04-18 15:35] #12295 closed, assigned to enisn

[2022-04-18 16:05] hikalkan opened #12297 "Disable the `abp` module for dynamic JavaScript client proxies"
Even if we disable `app` module for dynamic JavaScript client proxies, the `/Abp/ServiceProxyScript` endpoint has a few functions coming from the ABP Framework.

We should disable these by default. I suppose this will work:

[code]

Currently it is producing:

[code]

[2022-04-18 16:06] hikalkan commented on #12297
I've tested with ABP 5.0. I don't know if this is already done with the latest version. Please check.

[2022-04-18 16:20] #9954 closed, assigned to hikalkan

[2022-04-18 20:01] sturlath commented on #11549
Was this fixed somewhere else? My test users hit this regularly on our dev environment when they create a new tenant and the old one is in the way. Nothing critical but anoying..

[2022-04-19 01:01] #11569 closed, assigned to nobody

[2022-04-19 01:04] #11616 closed, assigned to nobody

[2022-04-19 01:51] #11539 closed, assigned to nobody

[2022-04-19 03:27] l2999019 commented on #12271
I tried to use "pomelo. Entityframeworkcore. MySQL" directly
like this  "Databasevalues" can be obtained normally:

![image](https://user-images.githubusercontent.com/10385855/163914461-bb441f28-eeff-4c2a-8bf1-ce4f69ea79d1.png)

[2022-04-19 06:55] enisn commented on #11549
I just moved this issue to internal issue tracking system. It's solved and shipped in v5.2.1

[2022-04-19 08:22] #12182 closed, assigned to mahmut-gundogdu, enisn

[2022-04-19 08:45] sohaibameenpk007 opened #12309 "ABP BackgroundJobManager -> protected override void DoWork() not being called after backgroundJobManager.EnqueueAsync"
Hello everyone,

I am using ABP framework 5 and enqueuing object with the help of a background job. It seems to be working fine for us on stage environment for the same code but its not working on production.

await _backgroundJobManager.EnqueueAsync<CreateDomainJob, CreateDomainJobArgs>(
                        new CreateDomainJobArgs
                        {
                            DomainNa

[2022-04-19 09:15] #12297 closed, assigned to maliming

[2022-04-19 09:20] maliming commented on #12309
Are there any error logs?

[2022-04-19 09:33] sohaibameenpk007 commented on #12309
No, there are not any error logs just different data with records which meet the condition.

[2022-04-19 09:37] maliming commented on #12309
Please try to reproduce the problem.

https://docs.microsoft.com/en-us/aspnet/core/fundamentals/environments?view=aspnetcore-6.0

[2022-04-19 09:41] sohaibameenpk007 commented on #12309
@maliming I shared the LINQ query with the database query so If you can review that and provide your feedback on it then It would resolve the issue I am having. I don't understand why you are asking to reproduce the problem when its already here.

[2022-04-19 10:25] tinonetic commented on #11510
@leonkosak Did you manage to resolve this?

[2022-04-19 11:31] #12276 closed, assigned to yekalkan

[2022-04-19 11:54] #12180 closed, assigned to mahmut-gundogdu, enisn

[2022-04-19 12:47] dicksonkimeu commented on #12255
Whats the advantage of using hangfire ? Whats the challenge if not using it ?

[2022-04-19 14:54] cbbuild opened #12310 "[Feature Request] abp generate-proxy: headers and skipHandleErrors support"
Hello,

It would be great if an angular generated proxy would support some additional method parameters for sending headers, or changing skipHandleErrors.

for example:
  deleteCustomerById = (id: number, **headers: any = {}, skipHandleError: boolean = null**) =>
    this.restService.request<any, NoContentResult>({
      method: 'DELETE',
      url: `/api/customer/${id}`,
      **headers: headers*

[2022-04-19 15:42] sohaibameenpk007 commented on #12309
DoWork method is not being called.

protected override void DoWork()
{
    var waitingJobs = AsyncHelper.RunSync(() => _store.GetWaitingJobsAsync(1000));

    foreach (var job in waitingJobs)
    {
        TryProcessJob(job);
    }
}

@maliming

Same code is running on stage environment with one pod but its not working on production where we have two pods.

[2022-04-20 00:33] maliming commented on #12309
The default implementation is simple and you can try Hangfire.

https://docs.abp.io/en/abp/latest/Background-Jobs-Hangfire

[2022-04-20 00:55] zr53722 commented on #3657
你好，你的问题解决没，我也遇到了

[2022-04-20 02:40] realLiangshiwei commented on #12283
It's a setting value provider, but you need to define a setting first.

See https://docs.abp.io/en/abp/latest/Settings#defining-settings.

Also, you need to make sure the Startup project has a reference to `..SettingDefinitionProvider`

[2022-04-20 07:25] zhangtingwz opened #12311 "When I use in-process hosting, I can't add data to the database"
Hello I am a newbie and would like to ask a question. When the iis are released, I set up the in-process hosting in the web.config, I call the saved method, sqlserver can not add any records, but I use out-of-process hosting is OK, please ask what is the reason for this, and I use .net core as if the process can modify the database.

[2022-04-20 07:48] maliming commented on #12311
hi

This has nothing to do with ABP, but with IIS.

[2022-04-20 08:22] JadynWong commented on #12311
Any error info?

[2022-04-20 11:41] sturlath opened #12313 "Can´t add Volo.Abp.AspNetCore.SignalR to Blazor WASM"
I was starting to follow the [SignalR integration guide](https://docs.abp.io/en/abp/5.2/SignalR-Integration) and when I try to install `Volo.Abp.AspNetCore.SignalR` I get the following error

that of course means no `typeof(AbpAspNetCoreSignalRModule)` etc.

So is abp SignalR with Blazor WASM setup somehow different? You might want to mention that in the docs then...

SignalR and Blazor WASM [are

[2022-04-20 11:55] maliming commented on #12313
I think you need using the `Microsoft.AspNetCore.SignalR.Client` package for blazor wasm.

[2022-04-20 12:04] sturlath commented on #12313
So no  `typeof(AbpAspNetCoreSignalRModule) `  and I have to manually configure` services.AddSignalR() `and `app.UseEndpoints(...)`?

I will play with this today and see how far I can get (I´ll report back)

Btw I found this example, [SignalRTieredDemo](https://github.com/abpframework/abp-samples/tree/master/SignalRTieredDemo) that is much better (for my use case) than [the one mention in the guide

[2022-04-20 15:10] fengrui358 opened #12319 "IDistributedCache get has not include ExtraProperties"
ABP version: 5.1.3

I use IDistributedCache store entity to redis, the entity has ExtraProperties, I can see the ExtraProperties in redis, but I get the object from IDistributedCache, the ExtraProperties has not include, is it a bug?

[2022-04-20 17:20] 0andy commented on #2183
Will abp still consider integrate with Dapr? thx

[2022-04-20 19:24] vijay2358 commented on #1543
@hikalkan  - we are using micro service in applications like you mentioned above  (Blog, Product, Identity)

Here our solution was designed
1.	Identity API Service  scope as “Identity”
2.	Blog API Service  scope as “Blog”
3.	Product API Service  scope as “Product”

On top it – Gateway API  included all  scopes ((Blog, Product, Identity)  by referring adding .ApplicationContracts nuget

Now All

[2022-04-20 19:28] vijay2358 opened #12320 "Abp Permission auth entity not filter by scope (/api/abp/application-configuration)"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. 5.14 or 5.2.0
* Your **User Interface** type (Angular/MVC/React... etc.) if t

[2022-04-20 20:56] tvddev commented on #9997
@maliming @hikalkan - Please can we have an update on when this will be available?

[2022-04-21 00:09] #12129 closed, assigned to demirmusa

[2022-04-21 00:49] maliming commented on #12319
Can you reproduce it in a unit test?

[2022-04-21 00:50] maliming commented on #9997
hi @tvddev There is no news. We are still limited by Blazor WASM.

[2022-04-21 00:54] tvddev commented on #9997
@maliming @hikalkan  - Are you able to tell us what it is about Blazor WASM that limits this? Someone in the community may have an idea as to how to unblock this.

[2022-04-21 01:15] maliming commented on #9997
We cannot customize BlazorWASM's authentication components/services.

[2022-04-21 01:22] tvddev commented on #9997
There are lots of different ways to authenticate with Blazor; AAD, Google, standalone authentication, etc etc, what components/services can't you customise?

[2022-04-21 01:40] zhangtingwz commented on #12311
Yes, there are no errors, only when I check the data in my database, I find that there is no data in the database, and the whole process is not reported errors

[2022-04-21 01:42] zhangtingwz commented on #12311
Here I say, if I run directly with vs and then access the API interface through IP, I can't save it, but if I use postman access, it is possible.

[2022-04-21 01:56] maliming commented on #9997
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.webassemblyauthenticationservicecollectionextensions.addoidcauthentication?view=aspnetcore-6.0

[2022-04-21 03:17] maliming commented on #12320
hi

The default design does not check api scope. You can customize the implementation.

https://docs.abp.io/en/abp/latest/Authorization#overriding-a-permission-by-a-custom-policy
https://docs.microsoft.com/en-us/aspnet/core/security/authorization/policies?view=aspnetcore-6.0

[2022-04-21 04:47] fengrui358 commented on #12319
add a test service

[code]

add a test domain

[code]

then add redis config

[code]

[2022-04-21 09:45] Majed-404 opened #12322 "Custom login Angular"
When i use AuthService to get login from my angular project it redirect me to identity server ui page in different port insert username and password then redirect again to 4200 port

I want to be able to call an api for getting the token without redirect to another port

[2022-04-21 09:48] maliming commented on #12319
You can't cache the AggregateRoot, You can try this [AuditLogActionInfo](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditLogActionInfo.cs#L8)

[2022-04-21 13:07] sturlath commented on #11550
@realLiangshiwei I figured out what this is!

If you log into **two** browser tabs and **log out from one** and then try to execute some database action in the other you get this error.

Shouldn´t you just be redirected to the login page and asked to login again?

[2022-04-21 13:20] realLiangshiwei commented on #11550
Hi @sturlath
Thanks for the information, I will check it.

[2022-04-21 19:25] kfrancis opened #12324 "Allow abp suite to handle byte[] type"
Right now, abp suite has mainly primitive types but if there's one non-primitive that would be useful it would be byte[] as it's very common that entities might want to be used for files.

![22-04-nbkp6-1650569045](https://user-images.githubusercontent.com/67574/164537695-68ba9492-9dc9-4e25-a992-50cda6ec049f.png)

Bonus: Make it use the binary object manager by default.
Double bonus: Make it use t

[2022-04-21 21:58] sturlath commented on #12313
I got this to work [here ](https://github.com/sturlath/ReplyBackSeparateIdentityServer) @maliming (but only for open source abp)

The Blazor UI sends a message to Host and the Host replies **BUT** I´m having massive problem getting this to work in my (commercial) project.

If I just keep the Index file 100% like in the working example (pointing to the correct url and port) I get this error (in my

[2022-04-21 23:32] maliming commented on #12313
ok, Move to the support website.

[2022-04-21 23:32] #12313 closed, assigned to nobody

[2022-04-22 01:58] AchievedOwner commented on #12290
I did it, but still has error

[2022-04-22 01:59] #12290 closed, assigned to nobody

[2022-04-22 03:22] hanpan1935 opened #12325 "Static C# API Client Proxies throw "The API description of the xxxx method was not found!” Exception"
the code
https://github.com/hanpan1935/AbpDemo

[2022-04-22 03:28] maliming commented on #12325
Check the document first.

https://docs.abp.io/en/abp/latest/API/Static-CSharp-API-Clients

[2022-04-22 07:37] rqx110 commented on #12325
in your BookStoreProxyModule, add:
[code]

make `app-generate-proxy.json` as embed resource:
[code]

[2022-04-22 07:42] #12325 closed, assigned to nobody

[2022-04-22 08:35] mahmut-gundogdu commented on #12322
It can be available by changing the config in Environment.ts. You can use `Resource Owner Password Flow`.

Resource: https://docs.abp.io/en/abp/5.2/UI/Angular/Authorization#resource-owner-password-flow

[2022-04-22 08:35] #12322 closed, assigned to mahmut-gundogdu

[2022-04-22 08:51] enisn opened #12326 "Make Blazor Daragrid columns orderable"
All columns should be orderable as MVC UI.

[2022-04-22 12:58] ZhangChengJie commented on #12248
it work for me,
[code]

[2022-04-22 13:52] alidogu opened #12329 "UserManager ChangePassword AutoMap Problem"
Hello, I'm trying to change the user password, but automapper gives an interesting error, I couldn't find it in the documentation.

Version=5.2.1.0
### Code

[code]
### Error
[code]

[2022-04-22 14:13] ysozbek opened #12331 "Adding n-n navigation via abp suite there is typehead without select option with add button, only adds typehead input with add button."
* Your **5.2.1**.
* Your **Angular
* Your database provide rEF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

When adding n-n navigation property lookup element is being <abp-lookup-typeahead-mtm> component not having select element with add button. It becomes only typeahead input element with add button.

<img width="466"

[2022-04-22 14:58] antonio-campagnaro opened #12333 "What is the right ABP template for creating a new microservice?"
I have created a new solution with the ABP CLI using the Microservice Template. What is the right template for creating a new single microservice (like ProductService)?

If the template doesn't exists, what is the suggested and faster way to have a working microservice in Abp?

[2022-04-22 19:26] gterdem opened #12334 "Missing link in Migration 5.0 guide"
https://github.com/abpframework/abp/blob/6a2dab1f5a90969e2a340150e14bd9ad13141cf8/docs/en/Migration-Guides/Abp-5_0.md?plain=1#L120

[2022-04-22 19:36] gterdem commented on #12333
Try `abp new microserviceName -t microservice-service-pro`.

Here is the [Adding new Microservices to the Solution guide](https://docs.abp.io/en/commercial/latest/startup-templates/microservice/add-microservice).

This is also a commercial template. So, please ask your commercial template related questions at https://support.abp.io

Thank you.

[2022-04-22 22:05] gterdem commented on #11841
Docker-compose should use **localhost** as staging environment instead of DNS resolving like ingress.

Need to think about the design after the 5.3 release.

[2022-04-22 22:10] gterdem commented on #11670
The error occurs while using YARP. Seems to be related to remote service DNS resolving since initial api-configuration request doesn't make it to the gateway.

Need to check again after production deployment.

[2022-04-23 00:34] maliming commented on #12329
Please use the same version with framework.

https://github.com/abpframework/abp/blob/rel-5.2/framework/src/Volo.Abp.AutoMapper/Volo.Abp.AutoMapper.csproj#L24

[2022-04-23 04:30] rainmakerho opened #12336 "RequestSizeLimit attribute not working"
I follow the example[File Upload/Download with BLOB Storage System in ASP.NET Core & ABP Framework](https://community.abp.io/posts/file-uploaddownload-with-blob-storage-system-in-asp.net-core-abp-framework-d01cbe12) and add **UploadAsync** method in the FileController.cs to test RequestSizeLimit attribute,
[code]

I found the warning **[17:23:25 WRN] A request body size limit could not be applied.

[2022-04-23 06:16] baiguogang opened #12337 "Number of interfaces"
When running a project with ABP version 5.2, is there a limit to the number of interfaces? For example, no more than 500 interfaces on a Swagger page, etc.? Because I have a project ready to use ABP5.2, and the estimated number of interfaces is around 2000 ......

[2022-04-23 07:18] XuJin186 commented on #8793
Have you thought about generating a Flutter (DIO) proxy via the API-Definition interface

[2022-04-24 01:47] fanslead opened #12338 "[suggestion] AbpJsonOptions add a string[] property for datetime formats?"
when client send params have different date time format, I can not successful receipt.

[2022-04-24 03:44] #11532 closed, assigned to nobody

[2022-04-24 03:44] #11561 closed, assigned to nobody

[2022-04-24 05:23] ArcherTrister opened #12339 "The Logger object is null"
- ABP Framework Version: 5.1.4
- User Interface:Angular
- Database Provider: EF Core

I followed [official doc](https://docs.abp.io/zh-Hans/abp/latest/Background-Workers-Hangfire)

and add nuget package Volo.Abp.BackgroundWorkers.Hangfire into my module.

![1122](https://user-images.githubusercontent.com/35516482/164957851-ca78bb0e-901a-4d26-b540-11549852503e.png)

[2022-04-24 09:18] maliming commented on #12339
Add [Autofac ](https://docs.abp.io/zh-Hans/abp/latest/Autofac-Integration) module to your project.

[2022-04-24 09:25] ArcherTrister commented on #12339
I'm using the template project, which comes with this module

![image](https://user-images.githubusercontent.com/35516482/164969654-3ee15bb7-3086-4461-9fdd-3e2a51e85c48.png)
![image](https://user-images.githubusercontent.com/35516482/164969662-b1ded8ba-52b5-4f01-a7ef-534022349345.png)

[2022-04-24 10:02] IslamEldeeb opened #12341 "Unable To Restore Volo Packages"
Dears ,
I`m trying to upgrade my abp project to latest version 5.2.1 from abp cli , after run upgrade the project failed to restore volo packages
the error message :
Error	NU1102	Unable to find package Volo.Saas.Host.Application.Contracts with version (>= 5.2.1)
  - Found 208 version(s) in ABP Commercial NuGet Source [ Nearest version: 4.4.4 ]

![image](https://user-images.githubusercontent.com/26

[2022-04-24 10:12] maliming commented on #12339
If the `Logger` is your property you need to init it from DI(constructor or property inject).

[2022-04-24 10:15] maliming commented on #12341
Please get help from the support website. https://support.abp.io/

[2022-04-24 10:15] #12341 closed, assigned to nobody

[2022-04-24 11:35] yinchang0626 opened #12342 "[angular] UI Localizations breaks angular-oauth2-oidc"
* Your **ABP Framework version**.
[ rel-5.2  (I created a branch to reproduce this problem)](https://github.com/yinchang0626/abp/tree/feature/angular-localizations-bug)
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
angular
* Your database provider(EF Core/MongoDB)
dont'care
* Exception message and **stack trace** if available (check the logs).

[2022-04-25 00:33] maliming commented on #12336
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

Can you try this without ABP?

[2022-04-25 00:33] maliming commented on #12337
Hi

There's not such limited.

[2022-04-25 01:09] ArcherTrister commented on #12339
This `Logger` is a property of BackgroundWorkerBase.

abp project: [aspnet-core](https://cdn-1255895673.cos.ap-chengdu.myqcloud.com/GithubDemo/aspnet-core.rar)

[2022-04-25 01:19] rqx110 commented on #12339
The error only occurred in defined a interface(IMyLogWorker).

it works if we not use the interface(IMyLogWorker) style.
[code]
[code]

[2022-04-25 01:23] rainmakerho commented on #12336
* Abp CLI Version 5.1.4 (Stable)
* .NET 6.0
* Abp Framework Version 5.2.1
* Logs
[code]

2022-04-25 09:12:43.015 +08:00 [INF] Route matched with {action = "Upload", controller = "File", area = "", page = ""}. Executing controller action with signature System.Threading.Tasks.Task`1[Microsoft.AspNetCore.Mvc.IActionResult] UploadAsync(Microsoft.AspNetCore.Http.IFormFile) on controller FileActionsDemo

[2022-04-25 01:28] maliming commented on #12336
Can you try this without ABP?

[2022-04-25 01:29] rainmakerho commented on #12336
Yes, It works without Abp.
![asp.net requestbodysize](https://rainmakerho.github.io/2022/04/22/aspnetcore-request-entity-too-large/04.png)

[2022-04-25 01:31] maliming commented on #12336
Did you run the app on IIS Express?

https://github.com/dotnet/aspnetcore/issues/8293

[2022-04-25 01:32] rainmakerho commented on #12336
Run on Kestrel.
RequestSizeLimit attribute works on native ASP.NET Core 6.0 Web API Project, whether it's IIS or Kestel.

[2022-04-25 01:36] #12337 closed, assigned to nobody

[2022-04-25 01:50] baiguogang commented on #12337
Thank you for your information......

[2022-04-25 01:52] maliming commented on #12336
Please share a template project to reproduce this.

[2022-04-25 02:24] matthewLin0520 opened #12344 "Volo.Abp.AbpException: Could not find the bundle file '/libs/bootstrap/js/bootstrap.enable.tooltips.everywhere.js' for the bundle 'Basic.Global'!"
Volo.Abp.AbpException: Could not find the bundle file '/libs/bootstrap/js/bootstrap.enable.tooltips.everywhere.js' for the bundle 'Basic.Global'!

[2022-04-25 02:32] rainmakerho commented on #12336
Please Ref [Github AbpFileActionsDemo](https://github.com/rainmakerho/AbpFileActionsDemo)
Run FileActionsDemo.Web Project.
![Upload File](https://sat02pap001files.storage.live.com/y4p85H1_hL5cIrsf4KLj6U8wC3VIEG7Ehdyc0ilSP93heUhefQEaHD_2NY134t2ga9eJphQfXWwRP2JaHHr3Y1OzkbxMwtm-sdZB_4ldCHU6vn4Gg_7Ob0p--n3PJCT1tO7udSglFRR0lXz6_F7655J2yrV-KjhjM18yIx-Lsa0HwQ/abpWeb.png?psid=1&width=417&height=311)

[2022-04-25 02:32] maliming commented on #12344
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-04-25 02:53] ArcherTrister commented on #12339
@rqx110  My code involves database operations and needs to use `UnitOfWorkAttribute`, I follow [the documentation](https://docs.abp.io/en/abp/latest/Background-Workers-Hangfire), is it okay if I don't use the interface(IMyLogWorker) style?

[2022-04-25 02:58] rqx110 commented on #12339
@ArcherTrister I just pointed out the real problem is. And I agree it is a problem of abp

[2022-04-25 03:01] ArcherTrister commented on #12339
@rqx110 OK, thanks!

[2022-04-25 03:42] matthewLin0520 opened #12346 "latest version abp mircoserivce demo cannot load user api"
![image](https://user-images.githubusercontent.com/39901947/165017159-81c75257-24a6-436b-a90c-8a06a06b9cfb.png)

![image](https://user-images.githubusercontent.com/39901947/165017117-73bbf99e-33cf-41bd-b544-304ccccc344d.png)

[2022-04-25 03:44] maliming commented on #12346
Please check the new ms demo: https://github.com/abpframework/eShopOnAbp

[2022-04-25 03:44] matthewLin0520 commented on #12346
![image](https://user-images.githubusercontent.com/39901947/165017381-508162ae-a032-4fd7-bc84-ac78a704493d.png)

[2022-04-25 04:50] ArcherTrister commented on #12255
@damien-r

like this

[code]

Now run the .HttpApi.Host project. The Background Job runs and the API can respond to REST requests.

[2022-04-25 07:21] maliming commented on #12336
Add a `MyRequestSizeLimitAttribute ` to resolve this.

[code]

[2022-04-25 07:30] wensaint commented on #860
@yilezhu  我遇到相同的问题，请问你是怎么解决的

[2022-04-25 07:58] rainmakerho commented on #12336
it's worked. Thanks.
I'm curious, why RequestSizeLimit attribute is not working?

[2022-04-25 08:05] maliming commented on #12336
It has some conflicts with the framework.

[2022-04-25 08:05] GSSBilly opened #12347 "how to achieve strictly file size limit in abp"
detail in the stackoverflow link.

https://stackoverflow.com/questions/71813612/how-to-achieve-strictly-file-size-limit-in-abp

[2022-04-25 08:05] #12336 closed, assigned to nobody

[2022-04-25 08:06] maliming commented on #12347
See https://github.com/abpframework/abp/issues/12336#issuecomment-1108171660

[2022-04-25 08:11] #12347 closed, assigned to nobody

[2022-04-25 08:25] maliming opened #12348 "Introduce `AbpRequestSizeLimitAttribute `"
From https://github.com/abpframework/abp/issues/12336#issuecomment-1108171660

[2022-04-25 08:34] mahmut-gundogdu commented on #11970
hi @Allaev1  what is the status of the issue? I can implement the task if you don't want to implement

[2022-04-25 08:34] realLiangshiwei commented on #11550
I think there is no problem:

![image](https://user-images.githubusercontent.com/16813853/165051468-ae4575f7-2ff9-4388-8798-bb4cb06b5c8b.png)

[2022-04-25 09:10] hexianggui opened #12349 "Accidental error：TaskCanceledException"
Some permission definitions are obtained from the database
[code]
![522851a4aff246559b97706334a2129e](https://user-images.githubusercontent.com/30622318/165058060-836e635c-67a7-46ac-bbf9-8300cdf3b267.jpg)

[2022-04-25 09:43] hikalkan opened #12351 "Infrastructure to simplify client-side entity caching pattern"
Consider the following scenario:

Order module (or microservice) queries a customer from the customer module (or microservice) and caches the result in the distributed cache. Then the customer module invalidates (simply removes) the cache item when the original customer changes.

The following figure shows it in a monolith modular application:

![image](https://user-images.githubusercontent.com/12

[2022-04-25 09:48] maliming commented on #12339
[code]

[2022-04-25 09:48] #12339 closed, assigned to nobody

[2022-04-25 09:56] hikalkan opened #12352 "Automate or simplify data duplication pattern across different modules / microservices"
It is typical to create a local database lookup table in a microservice for a foreign entity (of another microservice). In this case, you query first from the local database, then (if you can't find in local) you request from the remote service and store the result in the local database for the future. Having a local database table also makes it possible to write JOIN queries with your own entitie

[2022-04-25 10:09] BekAllaev commented on #11970
Hello Mahmut. Yes, can you please take this issue I don't have enough time to implement it

Получите Outlook для Android<https://aka.ms/AAb9ysg>
________________________________
From: Mahmut Gundogdu ***@***.***>
Sent: Monday, April 25, 2022 1:34:46 PM
To: abpframework/abp ***@***.***>
Cc: Bekzod Allaev ***@***.***>; Mention ***@***.***>
Subject: Re: [abpframework/abp] Prefix of component should b

[2022-04-25 11:22] gaojianzhuang commented on #12284
Find the root caused, duplicate codes caused.

[2022-04-25 11:22] #12284 closed, assigned to nobody

[2022-04-25 13:46] morindo commented on #11703
I'm having the same issue.

Your ABP Framework version: 5.1.3
Your User Interface: Blazor (Server)
Your database provider: EF Core

`InvalidOperationException: A second operation was started on this context instance before a previous operation completed. This is usually caused by different threads concurrently using the same instance of DbContext. For more information on how to avoid threading iss

[2022-04-25 14:15] alexandis commented on #6341
How am I supposed to fix this now? The mentioned constant is not present anymore (ABP version 5.1.2).

[2022-04-25 15:36] #12326 closed, assigned to enisn

[2022-04-25 17:45] sturlath commented on #11550
OK I see that I get Unauthorized and then directly Failed to fetch but then the debugger seems to have lost its connection to VS. But this can happen even when the debugger is connected. I'll keep an eye out and report back if I find out anything more.

[2022-04-25 23:23] ebicoglu opened #12355 "Docs module - Provide canonical link in older versions of the documents"
Google caches old versions of the document pages.
This leads developers to read an outdated version of the document.
See the screenshot:
![image](https://user-images.githubusercontent.com/9526587/165190193-8ef75709-6894-4cc7-9707-81e17525aeb2.png)

[2022-04-25 23:27] ebicoglu commented on #12355
Google parses canonical link meta tag for duplicate pages of a page like below:
[code]

This tag should be inserted into the `Head` section and show the updated version of the page
To solve this problem, I will add the latest version link to all the previous versions and preview versions.
I'll use `AbpLayoutHookOptions` to append my custom tag into the `Head` section.
And render my custom componen

[2022-04-26 00:27] rqx110 commented on #12339
@maliming so the document about `UnitOfWorkAttribute` will update?
https://docs.abp.io/en/abp/latest/Background-Workers-Hangfire#unitofwork

[2022-04-26 00:34] #12349 closed, assigned to nobody

[2022-04-26 01:00] maliming commented on #12339
Yes, WE WILL.

[2022-04-26 01:06] rqx110 commented on #12339
Thanks @maliming

[2022-04-26 01:14] maliming commented on #12339
Resolve by https://github.com/abpframework/abp/pull/11591

[2022-04-26 01:37] wensaint commented on #860
finaly succeed: ADD **DisableValidationAttribute** to your class or method, then you can use Expression in your application layer.

[2022-04-26 02:02] wongkhaimeng opened #12357 "Embedded localization resource not found/missing (System.IO.DirectoryNotFoundException when calling 'AbpVirtualFileSystemOptions.FileSets.ReplaceEmbeddedByPhysical')"
### Issue Description
I created a project and referenced a sample startup template to incorporate the localization feature provided by ABP Framework. The startup template basically follows the documentation [here](https://docs.abp.io/en/abp/latest/Localization), in which I included the required packages references and file embedding steps mentioned.

However, when executing a Web Application for d

[2022-04-26 02:22] rqx110 commented on #12357
[code]

[2022-04-26 02:26] maliming commented on #12336
https://github.com/abpframework/abp/pull/12358

[2022-04-26 02:41] wongkhaimeng commented on #12357
@rqx110 May I know will this work if the project is referenced via a Nuget Package?

[2022-04-26 03:21] mannok opened #12359 "context.Services.OnRegistred in PreConfigureServices is not triggered for Manually Registered services"
### Documentation

Have checked for documentation at https://docs.abp.io/en/abp/4.4/Dependency-Injection, [**Manual Registration** and **OnRegistred section**]

### GitHub Issues

* Your **ABP Framework version**: **Version 5.1.4 (Stable)**
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: **Console**
* Your database provider(EF Core/MongoDB): **N

[2022-04-26 04:29] wongkhaimeng commented on #12357
I just found the issue to my original problem. It was actually because the new project referencing the Nuget Package have a different folder name (Example: `Sample.Web`) than the folder where the project containing embedded files were built (Example: `Sample`), thus the exception above.

Thanks for the help.

[2022-04-26 04:29] #12357 closed, assigned to nobody

[2022-04-26 05:10] maliming commented on #12359
hi

You can try to register your service without using **ImplementationFactory**.

[2022-04-26 05:19] mannok commented on #12359
@maliming Could you elaborate more? Don't quite understand

[2022-04-26 05:38] maliming commented on #12359
Instead of using lambdas to create services, you can use: `services.AddTransient<IService, Service>();` or
[code]

[2022-04-26 06:29] George-Vlad opened #12360 "AbpDecimalConverter"
Hi,

If I use GET ajax in API Module the breakpoint hit my Write method.
But if I POST the model with the decimal property in, the ajax POST not hit my WriteorRead` or method and the result is not that I aspect.
This is happened with Romanian language selected.

[code]
// my ApiHostModule
[code]
I also try with [JsonConverter(typeof(AbpDecimalConverter))] on my decimal property.

I find something

[2022-04-26 06:37] mannok commented on #12359
@maliming Thanks for helping. However, I cannot find the method signature as you described.
[code]
![image](https://user-images.githubusercontent.com/458220/165237503-c725132a-24bc-4b46-abc8-d918b3d45301.png)

No overload can let me do it like `services.AddTransient<IService>(server);`. For my case, I couldn't use `services.AddTransient<IService, Service>();` as I have custom initialization logic

[2022-04-26 07:00] maliming commented on #12359
You can custom the `AbpAutofacServiceProviderFactory`

[AbpAutofacServiceProviderFactory](https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Autofac/Volo/Abp/Autofac/AbpAutofacServiceProviderFactory.cs#L30)  and [AbpAutofacHostBuilderExtensions](https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo

[2022-04-26 07:04] maliming commented on #12360
hi

You can try this without ABP.

[2022-04-26 07:26] #12333 closed, assigned to nobody

[2022-04-26 07:42] mannok commented on #12359
@maliming Am I getting lost? Originally, I have customized my service using `context.Services.AddTransient<>()`. However, this registration doesn't trigger `context.Services.OnRegistred`. You suggest me to register without `ImplementationFactory`. However, I find that there is no way to register a transient service without using `ImplementationFactory`

Sorry for getting lost

btw, seems this is a

[2022-04-26 07:56] rqx110 commented on #12359
you can see, it has not implement yet: (mark as `TODO`)
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Autofac/Autofac/Extensions/DependencyInjection/AutofacRegistration.cs#L201-L213

[2022-04-26 08:19] maliming opened #12361 "Add option to disable the `Try to get from same language dictionary (without country code)` feature."
https://support.abp.io/QA/Questions/2880#answer-a326d757-1aa2-5662-4182-3a0377217342

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Localization/Volo/Abp/Localization/AbpDictionaryBasedStringLocalizer.cs#L99

Sometimes this is useless and increase the Redis query.

[2022-04-26 10:00] mannok commented on #12359
@rqx110 so this means ABP doesn't support `OnRegistered` event for manually registered service at the moment? right?

[2022-04-26 11:42] maliming commented on #12359
ABP doesn't support OnRegistered events for `use Factory to create the services`

https://medium.com/null-exception/factory-pattern-using-built-in-dependency-injection-of-asp-net-core-f91bd3b58665

[2022-04-26 12:38] #12355 closed, assigned to ebicoglu

[2022-04-26 12:38] mannok commented on #12359
@maliming Is there any simple workaround for this? The reason I don't implement `ITransientDependency` in Implementation class is because its constructor has dynamic input params value. I cannot simply implement `ITransientDependency` to let the engine create the service for me.

[2022-04-26 13:44] hikalkan commented on #12265
Done: https://docs.abp.io/en/abp/latest/Autofac-Integration#using-the-autofac-registration-api

[2022-04-26 13:44] #12265 closed, assigned to hikalkan

[2022-04-26 18:02] mehmetuken commented on #389
https://github.com/dotnet/aspnetcore/issues/39504 .NET 7 coming with rate limiting.

[2022-04-27 06:14] George-Vlad commented on #12360
Had the same problem on aspboilerplate, solved with CustomBinder but there we have newtonjson

[2022-04-27 06:50] dafeifei0218 opened #12379 "AuthServer.Host 500 error"
/abp-samples/MicroserviceDemo/AuthServer.Host project, F5 Run Error.
Error reported after installing package 'System.Security.Cryptography.Pkcs'

Error Info:
`2022-04-27 14:37:20.253 +08:00 [ERR] Connection id "0HMH831GBQ17C", Request id "0HMH831GBQ17C:00000001": An unhandled exception was thrown by the application.
System.InvalidOperationException: Cannot find compilation library location for pac

[2022-04-27 07:10] realLiangshiwei commented on #12379
Hi,

MicroserviceDemo  is no longer active, you can check: https://github.com/abpframework/eShopOnAbp

[2022-04-27 08:02] #11970 closed, assigned to mahmut-gundogdu

[2022-04-27 08:05] #12360 closed, assigned to nobody

[2022-04-27 11:49] George-Vlad commented on #12360
@maliming why the issue was closed? Is there any solution for this?

[2022-04-27 11:52] maliming commented on #12360
You can try to add the convert to [AbpJsonOptions](https://docs.abp.io/en/abp/latest/JSON#configuration)

[2022-04-27 12:14] #12361 closed, assigned to maliming

[2022-04-27 12:23] #12348 closed, assigned to maliming

[2022-04-27 12:42] hikalkan commented on #12255
https://github.com/abpframework/abp/pull/12268#issuecomment-1110952180

Background worker's StartAsync method should not block the caller. If you need, create a separate thread and stop it in the StopAsync method.

[2022-04-27 12:42] #12255 closed, assigned to nobody

[2022-04-27 13:35] hikalkan commented on #11208
See my comment: https://github.com/abpframework/abp/pull/12380#issuecomment-1111009704

[2022-04-27 14:51] gdlcf88 opened #12386 "Question about distributed events handling in module development after ABP 5.0"
See https://github.com/abpframework/abp/pull/12380#issuecomment-1111009704

I believe @hikalkan has enough reason to choose option (1).

So these PRs should be reverted/rejected:
https://github.com/abpframework/abp/pull/11125
https://github.com/abpframework/abp/pull/11209
https://github.com/abpframework/abp/pull/12380

The outbox pattern ensures events could finally publish successfully if the loc

[2022-04-27 15:10] gdlcf88 commented on #11208
See https://github.com/abpframework/abp/issues/12386. I am closing this issue.

[2022-04-27 15:10] #11208 closed, assigned to hikalkan

[2022-04-27 19:04] hikalkan commented on #12386
Hi,

We are also developing modules :) Leave the parameters as default and give the responsibility to the application developer. If they are developing monolith application, no problem, everything works perfectly with default. If they are developing a microservice/distributed solution, then they should be aware of the distributed transaction problem and configure outbox if they care about it.

At

[2022-04-27 20:47] hikalkan opened #12391 "Documentation updates for outbox/inbox configuration for distributed events"

[2022-04-28 01:02] #12334 closed, assigned to gterdem

[2022-04-28 02:37] dafeifei0218 commented on #12379
Running EShopOnAbp.AuthServer projects in docker, this error is reported.
No error will be reported after adding this line of code:
`<GenerateRuntimeConfigDevFile>true</GenerateRuntimeConfigDevFile>`
![image](https://user-images.githubusercontent.com/10148878/165665311-cf064b50-a0dd-415c-9b9e-a6392551b1ac.png)

[2022-04-28 03:11] ArcherTrister opened #12394 "Identity Server "/connect/introspect" not working"
- ABP Framework Version: 5.1.4
- User Interface:Angular
- Database Provider: EF Core

I use template project and got this error.

![image](https://user-images.githubusercontent.com/35516482/165667205-a67836c3-e5ba-4a01-849e-0c6c41599fe8.png)

[code]

Check the database and find that the query name is inconsistent with the name in the table.

![image](https://user-images.githubusercontent.com/35516

[2022-04-28 03:18] maliming commented on #12394
* Steps needed to **reproduce** the problem.

[2022-04-28 03:34] ArcherTrister commented on #12394
- step 1

Download the template project and run.

- step 2

Use postman to request the token endpoint to get the token.

![image](https://user-images.githubusercontent.com/35516482/165670527-5b5ba99b-96a2-40fb-8616-c53431f5a823.png)

- step 3

Use postman to request the introspect endpoint with Authorization.

![image](https://user-images.githubusercontent.com/35516482/165671067-7afce392-0f1a-4c37

[2022-04-28 04:48] maliming commented on #12394
It seems your post is wrong.

https://identityserver4.readthedocs.io/en/latest/endpoints/introspection.html#introspection-endpoint

[2022-04-28 04:50] maliming commented on #12394
BTW, You can try the IDS demo without ABP.

[2022-04-28 06:28] ArcherTrister commented on #12394
Copy [`ApiSecretValidator`](https://github.com/IdentityServer/IdentityServer4/blob/main/src/IdentityServer4/src/Validation/Default/ApiSecretValidator.cs) to `CustomApiSecretValidator`, Then do service replacement for debug.

[code]

Run the project and break point in the code in class `CustomApiSecretValidator`.

![image](https://user-images.githubusercontent.com/35516482/165690641-569b17b3-8247-4

[2022-04-28 06:40] gdlcf88 commented on #12386
I agree that it is enough for monolith apps / non-outbox apps. They should have defects.

Sometimes it is hard to do in distributed event handlers. I should add a lot of complexity just for different scenarios. _(I mean handlers in modules. For example, a Shop module subscribes `PaymentStartedEto` from the Payment module)_

Unfortunately, we have three different lifecycles (outbox/non-outbox/monol

[2022-04-28 06:40] #12386 closed, assigned to nobody

[2022-04-28 06:45] maliming commented on #12394
You can try to clone this repostory and use the template project.

https://github.com/abpframework/abp/tree/dev/templates/app/aspnet-core

[2022-04-28 08:14] #11969 closed, assigned to muhammedaltug

[2022-04-28 08:21] huytnd opened #12397 "Uncaught ReferenceError: abp is not defined"
**My Environment:**
* ABP version: 5.2.1 (stable)
* User Interface: MVC
* Database provider: EF Core
* Tiered architecture

I create a custom theme, and apply it successfully, But, when loading the page, the errors occurred.
![image](https://user-images.githubusercontent.com/2102905/165708362-f55ca20e-fb01-45eb-bbf8-a7f01fff4059.png)
![image](https://user-images.githubusercontent.com/2102905/16570

[2022-04-28 08:34] snowchenlei opened #12398 "[angular]how download RemoteStreamContent which requires authorization"
In the HttpApi.Host Controller I needed to return a RemoteStreamContent:
[code]
how download it in angular?this controller need authorization.

[2022-04-28 09:02] snowchenlei commented on #12398
The following code is possible
[code]

`abp generate-proxy -t ng`  can it be adapted?

[2022-04-28 09:07] JadynWong commented on #12386
Off-topic, should eShopOnAbp also configure outbox/inbox?

[2022-04-28 09:13] SarcoZ opened #12399 "Add Enum for Volo.Abp.EntityFrameworkCore. EfCoreDatabaseProvider"
My project need supper for DM datatbase, but enum EfCoreDatabaseProvider on this,I can not extend

`public enum EfCoreDatabaseProvider
{
    SqlServer,
    MySql,
    Oracle,
    PostgreSql,
    Sqlite,
    InMemory,
    Cosmos,
    Firebird,
}
`
Can add Dm after Firebird

[2022-04-28 09:30] ArcherTrister commented on #12394
I try to clone this repostory and use the template project, but it is still wrong.
I try to modify the class `IdentityServerDataSeedContributor` in the template project, it works normally.

![image](https://user-images.githubusercontent.com/35516482/165722703-bd209f49-de58-4647-8e5d-ad87c7e513fe.png)

### Modified code

[code]

[2022-04-28 09:48] maliming commented on #12394
Can you share the POSTMAN request code to reproduce?

[2022-04-28 10:10] EngincanV commented on #12397
Hi, did you add the `_ViewImports.cshtml` file? (https://github.com/abpframework/abp/blob/dev/modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/Themes/Basic/_ViewImports.cshtml)

I think you also need to add it.

[code]

[2022-04-28 10:56] #12140 closed, assigned to realLiangshiwei

[2022-04-28 11:13] NiuziyuanPy commented on #5231
你好，请问这个有后续了吗

[2022-04-28 11:22] ysozbek commented on #12331
Will anything be done about this issue?

[2022-04-28 11:26] hikalkan commented on #11959
Hi @MapleWithoutWords we won't do that. Unit tests should behave as the real application.  I suggest you to revisit your unit tests to handle that scenario.
Making such logics as optional make the framework codebase complicated. Also, it restricts us when we want to make further development on the framework (we will have to make both options properly working in every scenario).

[2022-04-28 11:26] #11959 closed, assigned to nobody

[2022-04-28 11:31] gterdem commented on #11947
Moving this issue to the next milestone to discuss the reasoning and the proper directory structure for this folder.

[2022-04-28 11:36] yekalkan commented on #12331
It is hard to understand what you mean. I guess you want a simple dropdown instead of typeahead. We may consider this in next releases.

I'm closing this issue because Abp suite is a commercial product and not related with this repository. Please use support.abp.io for tickets.

[2022-04-28 11:36] #12331 closed, assigned to nobody

[2022-04-28 12:24] maliming commented on #5231
Still on backlogs.

[2022-04-28 14:07] JadynWong commented on #12397
Check if `StandardBundles.Scripts.Global` has been added.

https://github.com/abpframework/abp/blob/a8085794f96a6353e7a9b3f8cfc3b4c4e54a6e0d/modules/basic-theme/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic/AbpAspNetCoreMvcUIBasicThemeModule.cs#L62-L69

[2022-04-28 18:26] davidjhurtado commented on #8195
Good day, this fix gonna be available on version 5.4?

[2022-04-29 01:34] ArcherTrister commented on #12394
abp project : [AbpIDS.rar](https://cdn-1255895673.cos.ap-chengdu.myqcloud.com/GithubDemo/AbpIDS.rar)

ids project : [IDS.rar](https://cdn-1255895673.cos.ap-chengdu.myqcloud.com/GithubDemo/IDS.rar)

postman json : [IDS.postman_collection.json](https://cdn-1255895673.cos.ap-chengdu.myqcloud.com/GithubDemo/IDS.postman_collection.json)

BTW, I think the cause of this problem is that `Secrets` in `ApiR

[2022-04-29 01:56] maliming commented on #12394
hi

Can you share the POSTMAN request info that can be reproduce in the Template project(`MyCompanyName.MyProjectName.sln`)?

[2022-04-29 02:31] ArcherTrister commented on #12394
![image](https://user-images.githubusercontent.com/35516482/165877164-d7a9a8ac-ab55-41da-8d66-ce7bfcbc94b3.png)

![image](https://user-images.githubusercontent.com/35516482/165876973-23410827-964e-4357-b6e7-5b48de63a6ea.png)

[code]

[2022-04-29 03:43] huytnd commented on #12397
I made it work. Thank you for your support.

[2022-04-29 03:43] #12397 closed, assigned to nobody

[2022-04-29 07:38] maliming commented on #12394
If you need to use the `introspect` endpoint.

Add a secret to API Resource

[code]

[code]

[2022-04-29 07:38] #12394 closed, assigned to nobody

[2022-04-29 07:50] FatuityCookie opened #12409 "TimestampAttribute migrations are generated each time"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* **ABP Framework version** 5.2.1 .
* Your **User Interface** type (MVC) if the issue is related to a specific

[2022-04-29 08:48] JadynWong commented on #12409
Cannot be reproduced. Do you have an example?
In addition, abp includes concurrency checks.
https://docs.abp.io/en/abp/5.2/Concurrency-Check

![image](https://user-images.githubusercontent.com/13699353/165912890-253bb9e3-4a67-4839-acac-4aa640d034a5.png)
![image](https://user-images.githubusercontent.com/13699353/165912516-fee7fd62-d83d-416b-9d64-1f987f2322a4.png)
![image](https://user-images.githu

[2022-04-29 09:13] muhammedaltug commented on #11618
Hello,

We will work on this. You can follow the steps below to avoid this problem right now:
 - Create an angular package with `ng g library module-a`
 - Update tsconfig paths for module-a with the following in `tsconfig.json`
[code]
- Update your environment file for module-a with the following in `environment.ts`
[code]
- Run the generate proxy command in `angular` folder. `abp generate-proxy -

[2022-04-29 09:14] JadynWong commented on #12399
I don't think it prevents you from using other EFCore providers. Or if you have any exception info?

It looks like it is prepared for the following.
https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/docs/en/Blog-Posts/2020-06-05%20v2_9_Release/Post.md#automatically-determining-the-database-provider

[2022-04-29 09:55] realLiangshiwei commented on #12399
This is not related to ABP but EF Core.

You can check the database providers of EF Core: https://docs.microsoft.com/en-us/ef/core/providers/

[2022-04-29 09:55] #12399 closed, assigned to nobody

[2022-04-29 10:13] yekalkan opened #12411 "Cli: Create migrations after project generation"
May be optional.

[2022-04-29 14:37] #10035 closed, assigned to maliming, realLiangshiwei

[2022-04-30 05:20] RobersonLuo commented on #8793
I have not research it. you can try it...

[2022-04-30 06:43] XuJin186 commented on #8793
There's nothing I can do about it

[2022-04-30 14:58] hikalkan opened #12415 "New features for background workers"
- [ ] Create `AsyncThreadBackgroundWorkerBase` to create continuously running threads in background (Current `AsyncPeriodicBackgroundWorkerBase` works periodically).

[2022-04-30 15:52] #10031 closed, assigned to hikalkan

[2022-04-30 17:01] gdlcf88 commented on #10031
Should we add something similar to the above in [Implementing Background Workers](https://docs.abp.io/en/abp/latest/Deployment/Clustered-Environment#implementing-background-workers)?

[2022-05-01 07:10] #11654 closed, assigned to nobody

[2022-05-01 08:05] #12060 closed, assigned to berkansasmaz

[2022-05-01 13:01] hikalkan commented on #10031
@gdlcf88 already added: https://docs.abp.io/en/abp/latest/Deployment/Clustered-Environment#configuring-background-jobs
Thanks.

[2022-05-01 13:02] hikalkan commented on #10031
@gdlcf88 Background workers have no hangfire or quartz integration. Why do you think it is needed?

[2022-05-01 13:06] gdlcf88 commented on #10031
![image](https://user-images.githubusercontent.com/30018771/166147283-42bf7a89-98be-4320-b4b9-a14029de50dd.png)

I think it does.

https://docs.abp.io/en/abp/latest/Background-Workers#integrations

[2022-05-02 00:58] yeahe83 opened #12419 "CancellationToken in Worker?"
Abp 5.2

Hi, guys, I just found i miss a 'after loop' in background worker in Test 2. Any error in my code ?

## Create a Console

[code]

## Test1: CancellationToken in HostedService

[code]

[code]

## Test2: CancellationToken in Worker

[code]

[code]

[code]

[code]

[code]

[2022-05-02 01:16] maliming commented on #12359
See https://github.com/abpframework/abp/issues/12359#issuecomment-1109420604

[2022-05-02 14:10] #11678 closed, assigned to nobody

[2022-05-02 14:10] #11694 closed, assigned to nobody

[2022-05-02 16:58] dicksonkimeu opened #12422 "API Rate Limiting"
This would be great.

Especially is there is a per tenant setting.

[2022-05-03 10:14] parasdaryanani opened #12424 "String encryption issue with input string not divisible by 16"
GET: `/api/setting-management/emailing` only returns the first 32 chars of the SMTP password. In reality my SMTP password string is 40 characters.

It looks like string encryption does not work for strings that are not divisible by 16. If I supply a 32 char string, it encrypts / decrypts just fine. Same for a 48 char string. But with a 40 char string (in this case an AWS SES secret access key), it

[2022-05-03 10:30] parasdaryanani commented on #12424
Update: I cannot reproduce this locally, it only occurs in production...which is worse.

I have tried:
- padding the password string with multiple '=' to get it to 48 chars.
- checking the db column max length to check if that's the issue
- setting the password encrypted value in appsettings.json directly, but this also doesn't not work.

[2022-05-03 10:38] parasdaryanani commented on #12424
Update: I believe it may be due to a breaking change in .NET 6:

Ref: https://stackoverflow.com/a/69911546/3772543

[2022-05-03 12:03] realLiangshiwei commented on #12424
Hi,

We upgraded to NET 6.0 in ABP version 5.0: https://github.com/abpframework/abp/blob/dev/docs/en/Blog-Posts/2021-11-18%20v5_0_Preview/POST.md#migration-notes--breaking-changes

And I could not reproduce the problem:

![image](https://user-images.githubusercontent.com/16813853/166449367-ec18606a-e819-4eb0-9dfa-25a53f104c43.png)

Can you provide a repo?

[2022-05-03 13:56] jrhopkins83 commented on #11989
We're very interested in @beriniwlew's question.  We're likely to utilize the abp framework to implement a micro services based architecture. We don't want to get too far down the road with a security solution that's going to be throw away without a solid upgrade path.

[2022-05-04 00:59] maliming commented on #11989
hi @jrhopkins83

We do some work.

https://github.com/abpframework/abp/pull/12084

[2022-05-04 02:12] jhulbertpmn opened #12425 "Openiddict status"
I've been following the commits on the openiddict module branch and it looks like things are pretty complete. Should it be usable at this point (at least for initial testing)? Any docs/instructions available (even if rough at this point)? Thanks!

[2022-05-04 02:19] maliming commented on #12425
Hi

We **plan** to release stable `Openiddict` packages in 5.4. Update the templates in 6.0.

https://github.com/abpframework/abp/blob/Module-OpenIddict/docs/en/Modules/OpenIddict.md

ABP commercial

![image](https://user-images.githubusercontent.com/6908465/165052353-b3925a40-8575-4cf8-8626-e06f182adc60.png)

![image](https://user-images.githubusercontent.com/6908465/165052334-94371132-d9c8-407d-

[2022-05-04 04:41] gerryge opened #12426 "abp cli auto switch to dev and cmd abp switch-to-stable error"
* Your **ABP Framework version**.
   v5.2.1

Question 1:
After I run abp suite update then abp suite my abp cli auto swith from Stable to Development version, please see screenshot 1

Question 2:
I run abp switch-to-stable occured  **"Access to the path C:\Users\GerryGe\Application Data' is denied."**  error.
I would like to know why need access this folder? I have tried two computers and both can

[2022-05-04 08:02] realLiangshiwei commented on #12426
Hi,

What is the result when you run `dotnet tool list -g` command

[2022-05-04 09:24] gerryge commented on #12426
@realLiangshiwei Please see my screenshot.

![image](https://user-images.githubusercontent.com/6952917/166655182-b19c0977-e1a9-4085-8973-3fee0545cebf.png)

[2022-05-04 09:40] barnybadzoo opened #12429 "Switch to YARP in microservice-pro template"
It would be great if you could switch to YARP in your microservice-pro template instead ocelot/envoy..

[2022-05-04 10:13] realLiangshiwei commented on #12426
I'm not sure the reason, maybe there is something wrong with your environment.

See the logic: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/CliService.cs#L205

You can download the source code to debug.

[2022-05-04 11:27] sanghel-payoff opened #12433 "ABP CLI get-source fails for Volo.Docs.Admin"
ABP Commercial 2.5.1 Angular EFCore

Download sources fails for _Volo.Docs.Admin_

`abp get-source Volo.Docs.Admin`

stack trace in abp CLI

[code]

[2022-05-04 11:56] realLiangshiwei commented on #12433
Hi,

Try `abp get-source Volo.Docs` instead of `abp get-source Volo.Docs.Admin`

[2022-05-04 11:59] sanghel-payoff commented on #12433
_Volo.Docs_ and _Volo.Docs.Admin_ are two **different** modules, as listed by the abp CLI

![image](https://user-images.githubusercontent.com/77339756/166677047-2b2d66e4-4978-4d7c-8125-d1d52e2c2e8c.png)

The get-source command fails for _Volo.Docs.Admin_ as detailed above

[2022-05-04 12:10] realLiangshiwei commented on #12433
Hi,

Actually, they are the same module, it's wrong in the list.

[2022-05-04 12:11] realLiangshiwei commented on #12433
Duplicate of https://github.com/abpframework/abp/issues/10974

[2022-05-04 12:11] #12433 closed, assigned to nobody

[2022-05-04 12:38] gerryge commented on #12426
I cannot agree because my two pcs occured this issue.  And why use "Application Data" folder?

[2022-05-04 12:45] realLiangshiwei commented on #12426
`abp switch-to-stable` is used to **change the Nuget package reference of the solution**, it will find a solution in the current directory(including subdirectories).

[2022-05-04 12:54] parasdaryanani commented on #12424
The issue occurred due to running ABP 4.4.4 on .NET 6.0. using the .NET version `rollForward` property.
I fixed the issue by upgrading the project to ABP 5.2.1.

[2022-05-04 12:54] #12424 closed, assigned to nobody

[2022-05-04 12:56] parasdaryanani commented on #12425
Will there be an migration path to openiddict from identityserver4?

[2022-05-04 12:58] maliming commented on #12425
of course, we will prepare it.

[2022-05-04 13:57] HymanZheng opened #12436 "The latest version of the plug-in error"
### Documentation

Abp vnext 5.2.1 version, use asp.net core 6, use the plugin, if plugin file exists, "Hyman. DashboardCenter. HttpApi. Deps. Json" file will be an error, as follows:
![image](https://user-images.githubusercontent.com/28530693/166696690-d87b12cd-f4f0-4481-bbd8-f71c2f797c2c.png)

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the

[2022-05-04 15:56] heitorgiacominibrasil commented on #775
Its important to mention to mention that first letter of the property must be in lowercase

[2022-05-04 15:57] heitorgiacomini commented on #775
@djlaney3 Its important to mention to mention that first letter of the property must be in lowercase

[2022-05-04 19:14] Jeffbrus opened #12438 "Dark Blue Theme Pro Blazor Data Grid Virtualize causes white grid header"
* *5.1*
* **User Interface** type Blazor
* EF Core

The grid header is when using the Virtualize option on the grid with the commercial theme Dark Blue

[2022-05-04 19:15] Jeffbrus commented on #12438
![image](https://user-images.githubusercontent.com/8357336/166809229-0443ea2a-1628-46dd-b6c0-d96b622b6415.png)

[2022-05-05 01:37] maliming commented on #12436
See https://github.com/abpframework/abp/issues/9251

[2022-05-05 03:36] afresh commented on #10619
Hi, @laosandegudai ! Do you have a solution?

[2022-05-05 06:33] Trojaner opened #12440 "Suggestion: Better exceptions when accessing repositories outside Uow Scope"
Currently an ObjectDisposedException is thrown when accessing repository methods outside a unit of work scope. This is a confusing exception as it doesn't clearly state what the issue is. My suggestion is to throw a custom exception that clearly communicates why this happens.

[2022-05-05 06:40] maliming commented on #12440
I will check this exception. :)

[2022-05-05 06:53] berkansasmaz commented on #8195
Yes, we expect it to be available on version 6.0.

[2022-05-05 07:05] #11909 closed, assigned to mahmut-gundogdu

[2022-05-05 12:32] sanghel-payoff commented on #11855
bump?

[2022-05-05 12:40] gterdem opened #12445 "eShopOnAbp: Consider deploying reference to artifact hub"
We can publish the eShopOnAbp helm chart on https://artifacthub.io as reference.

[2022-05-06 00:11] maliming commented on #11855
hi

Please get help on https://support.abp.io/QA/Questions for ABP Commercial.

[2022-05-06 00:11] #11855 closed, assigned to nobody

[2022-05-06 02:58] carbonhe commented on #55
Is there any progress on this feature?

[2022-05-06 03:06] shawn-show opened #12449 "How to change connection string at runtime"
The business scenario looks like this, we have two reciprocal databases, neither of which can run 24/7. So we want ABP to automatically switch to another database without restart when the current database connection is disconnected. How can I do that?

[2022-05-06 03:10] maliming commented on #12449
Check the document first https://docs.abp.io/en/abp/latest/Connection-Strings#replace-the-connection-string-resolver

[2022-05-06 05:05] diennttlu commented on #7902
I'm using the Commercial version. How can I disable: Account Linking, Two Factor Authentication, User Profile Picture??

[2022-05-06 05:06] maliming commented on #7902
@diennttlu Please discuss Commercial  on https://support.abp.io/

[2022-05-06 05:34] maliming commented on #12440
Hi

As mentioned in the documentation, it is difficult for us to catch this exception.

https://docs.abp.io/en/abp/latest/Testing#dealing-with-unit-of-work-in-integration-tests

[2022-05-06 06:04] gizemmutukurt opened #12450 "Returns meaningless value in permission setting on User management page"
**Version:** `5.3.0`
**App:** Angular - MAngo DB

Releated https://github.com/abpframework/abp/issues/11821
Releated  https://github.com/volosoft/volo/issues/9581

![image](https://user-images.githubusercontent.com/99716457/167075600-8258bb84-7615-4a31-94d9-4f372ffa247b.png)

[2022-05-06 06:25] #10356 closed, assigned to fatihskilic

[2022-05-06 06:55] charleszh-dev commented on #11735
ping?

[2022-05-06 07:07] gizemmutukurt opened #12453 "Description texts view should be edited"
**App:** Blazor Server - EfCore
**Version:** `5.3.0- rc.1`

**incorrect**
![image](https://user-images.githubusercontent.com/99716457/167081967-342b9286-0eae-4055-bd9a-212594f08e08.png)

**correct**
![image](https://user-images.githubusercontent.com/99716457/167081886-cff031aa-f42d-44ab-8783-52a57e97f187.png)

[2022-05-06 07:20] shawn-show commented on #12449
I have solved the problem. Frist I added my connection string resolver like that:
[code]

[2022-05-06 07:20] #12449 closed, assigned to nobody

[2022-05-06 07:28] diennttlu commented on #7902
@maliming  https://support.abp.io/QA/Questions/3033/How-to-disable-some-features-of-the-Account-Module

[2022-05-06 07:29] gizemmutukurt opened #12454 "Test - ABP Free Templates - 5.3.0-rc.1"

[2022-05-06 09:50] DonVliet opened #12457 "Can't create 5.3.0-rc.1 project"
ABP Framework version: 5.3.0-rc.1

If I create a new project from the Getting Started and check the "Use latest pre-release version (5.3.0-rc.1)" The project created is version 5.2.1 (see project references in the screenshot)

![2022-05-06_10-41-51](https://user-images.githubusercontent.com/69393775/167108714-2c9826fb-9927-4e9a-9fa2-b10936a94320.png)

![2022-05-06_10-44-05](https://user-images.git

[2022-05-06 09:55] yekalkan commented on #12457
Thanks for the reporting. We're currently working on it.

[2022-05-06 12:05] hikalkan commented on #11837
I think we can close this. We can follow with https://github.com/abpframework/abp/issues/11840

[2022-05-06 12:05] #11837 closed, assigned to berkansasmaz

[2022-05-06 13:55] gizemmutukurt opened #12461 "After the password is updated, the correct password and new password lines should be cleared."
**App:** Blazor Server - EfCore, MVC - EfCore
**Version:**  `5.23.0-rc.1`
**Problem Definition:** After the password is updated, the correct password and new password lines should be cleared.

![51e6a0f8-175a-409b-b1c6-30d541b02ddd](https://user-images.githubusercontent.com/99716457/167122232-2000cd98-f756-469d-92a6-d3a4364bf412.gif)

[2022-05-06 15:23] wensaint opened #12464 "repository.UpdateAsync failed if don't return data"
ABP version: v5.2.1
db provider: EF Core

in domain service, i inject repository, but failed on updateAsync if throw exception or return null other than return data

error Code:
[code]

can anyone tell me why?

[2022-05-06 22:14] #12457 closed, assigned to nobody

[2022-05-07 01:00] maliming commented on #12464
Try to remove `app.UseUnitOfWork()` from the ASP.NET Core pipeline.

[2022-05-07 01:11] #11070 closed, assigned to maliming

[2022-05-07 01:13] #12018 closed, assigned to maliming, realLiangshiwei

[2022-05-07 01:13] #12019 closed, assigned to maliming, realLiangshiwei

[2022-05-07 01:13] #12020 closed, assigned to maliming, realLiangshiwei

[2022-05-07 02:13] wensaint commented on #12464
Thanks @maliming

Inspired by https://support.aspnetzero.com/QA/Questions/1797/SaveChanges-not-saving-data-to-db-immediately

Add [UnitOfWork(false)] to my controller action, everything works fine.

So i close this issue.

[2022-05-07 02:13] #12464 closed, assigned to nobody

[2022-05-07 02:15] wensaint commented on #12464
Thanks @maliming

Inspired by https://support.aspnetzero.com/QA/Questions/1797/SaveChanges-not-saving-data-to-db-immediately

Add [UnitOfWork(false)] to my controller action, everything works fine.

So i close this issue.

[2022-05-07 02:44] #12248 closed, assigned to nobody

[2022-05-07 02:45] maliming commented on #12464
Don't do that. UOW is a important feature.

[2022-05-07 03:38] gerryge commented on #12426
The second question is because I use my profile folder, I should use the abp project root folder.
But the first question why after I run abp suite cmd, the abp version changed?

[2022-05-07 04:14] OldKing-lion commented on #7105
It does not work for me

[2022-05-07 10:06] imxiongstu opened #12466 "ApplicationLayer Insert or DomainService Insert？"
Hi,Everyone. I am developer from china,I have a question about Abp，Hope everybody can give directions

### Question
Why are books different from reality？

[code]
But I see abb source code most of such:
[code]

so,I wonder why，Shouldn't it be in `Application Layer` InsertAsync?

end，Thank you again for

[2022-05-07 12:04] maliming commented on #12466
hi

If the `Create` is just a simple `insert` you can directly use the `_issueRepository ` in `Application Layer` otherwise do it in `Domain Layer` for some business logic.

[2022-05-07 12:04] imxiongstu commented on #12466
您的邮件我已经收到，请耐心等待回复熊www.imxiongstu.cn

[2022-05-07 14:12] imxiongstu commented on #12466
thanks,
so，Either way, right?  The official recommendation ApplicationLayer Insert ，DomainService It just returns the instance object。Still confused.

[2022-05-08 05:49] hillin opened #12469 "Is there a way to replace ConfirmationService in angular?"
* **ABP Framework version**: 5.2.1
* **User Interface** type: Angular

We'd like to use angular material's MatDialog component to replace all the confirmation popups. Is there a way to replace the built-in `ConfirmationService`?

[2022-05-08 06:49] hillin commented on #12469
Well seems it's very straightforward, we simply implement a `ConfirmationService`-ish service, and add it the module providers:
[code]

One imperfection though, is we can't simply `implements ConfirmationService` in our own `MatDialogConfirmationService` like the way we replace the `ToasterService`. Well I mean we can, but it requires us to implement all the internal details of `ConfirmationServic

[2022-05-08 09:50] hikalkan opened #12470 "Integration Services"
Application Services are ideal to be consumed by UI and other clients. We, sometimes, are also using an application service of a module X from a module Y to integrate these modules (or microservices).

There are some problems of using application services for inter-module (or inter-microservice) calls:

* They are specifically designed for UI scenarios (use cases), but inter-module calls have diff

[2022-05-08 12:43] nebula2 commented on #12470
One may also have clients/ customers/ end users interacting with the api which would fit into the term of integration. for example when you sync data bidirectional from client system to abp application.

If you expose controllers for the users to write their own integrations, it is common to have some throttling - which is something I do not see in the integration context you're referring to. It m

[2022-05-08 13:00] hikalkan opened #12472 "Documentation for CMS Kit Polling Feature"
- [ ] Update https://commercial.abp.io/modules/Volo.CmsKit.Pro
- [ ] Update https://docs.abp.io/en/commercial/latest/modules/cms-kit/index

[2022-05-08 13:06] hikalkan commented on #12470
@nebula2
I don't know. But you gave me an idea :) Instead of separation, we may just define an `[IntegrationService]` attribute to put on top of application services to set defaults/conventions for these kind of services. In this way, we don't create a parallel system for similar purposes.

[2022-05-08 13:07] saitejkuralla opened #12473 "Method not found : GetOrAddController"
* ABP Framework version 5.0
* User Interface MVC
* database provider: EF Core
*** Exception message and **stack trace**
Method not found: 'Volo.Abp.Http.Modeling.ControllerApiDescriptionModel Volo.Abp.Http.Modeling.ModuleApiDescriptionModel.GetOrAddController(System.String, System.String, System.Type,**

* Steps needed to **reproduce**
I Have added the todo application to the main library code to

[2022-05-08 13:29] saitejkuralla opened #12474 "Configuration Data Store of tenants as appsettings.json instead of tenant management"
ABP Framework version 5.0

User Interface MVC

database provider: EF Core

Steps needed to reproduce: I have followed the step-by-step process of: https://docs.abp.io/en/abp/latest/Multi-Tenancy and configured the datastore in appsettings.json instead of using tenant management but unfortunately, the application is not picking the information of tenants from appsettings.json file of TodoApp.Web am

[2022-05-08 13:46] saitejkuralla opened #12475 "Data is not stored to respective tenant database"
ABP Framework version 5.0

User Interface:MVC

database provider: EF Core

**Steps needed to reproduce**:  I have followed the step-by-step process of: https://docs.abp.io/en/abp/latest/Multi-Tenancy and I have added the connection string details of each tenant in **"AbpTenantConnectionStrings"** and created databases of each tenant( Tenant1 & Tenant2 ) as TODOAPP1 & TODOAPP2 but when I save the d

[2022-05-08 14:00] gdlcf88 commented on #12470
Please also consider the possibility of integrating Dapr. The relevant designs should not conflict when using Dapr to replace the default implementation.

[2022-05-08 15:38] 543787366 commented on #12178
@gihnih Maybe this can help

[2022-05-08 15:39] 543787366 commented on #12178
https://stackoverflow.com/questions/69181162/angular-how-to-grab-query-params-from-redirect-url?msclkid=704d95f1cee411ec939149d09c08f1d8
@gihnih Maybe this can help

[2022-05-08 16:05] Joncyzx commented on #12178
I have the same problem

[2022-05-08 16:56] JadynWong commented on #12475
`Name` is the name of the connectionstring. You can set `Default` for it.

[2022-05-08 17:13] JadynWong commented on #12474
It is the default implementation. Yes, you should uninstall the tenant management module (remove `Volo.Abp.TenantManagement.*` nuget references).
 https://docs.abp.io/en/abp/latest/Multi-Tenancy#configuration-data-store

[2022-05-08 20:25] coskunkula commented on #10527
I am using abp framework 5.2.1 version. I am running an application as a Blazor server. I need to use audit features. When I update any record, log and audit log are not kept. As a result of my long research, I ran the SaveChangesAsync method in DbContext.cs class by overrride and
var auditLog = AuditingManager?.Current?.Log; On line Current comes as null. I'm guessing it might be because of that.

[2022-05-08 21:11] coskunkula opened #12476 "Abp Blazor Server Audit Not Working"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* 5.2.1.
* Blazor Server
* EF Core

I am using abp framework 5.2.1 version. I am running an application as a Bl

[2022-05-09 00:37] maliming commented on #10527
For Blazor server: https://github.com/abpframework/abp/issues/11682#issuecomment-1066064249

[2022-05-09 00:37] maliming commented on #12476
See https://github.com/abpframework/abp/issues/11682#issuecomment-1066064249

[2022-05-09 00:37] #12476 closed, assigned to nobody

[2022-05-09 03:45] gizemmutukurt commented on #12454
Description texts view should be edited #12453
After the password is updated, the correct password and new password lines should be cleared. #12461
Password hide-show feature is not available in other templates, this feature should be improved in other templates. #10076
When the user looks at the login button after logging out, it redirects to the Identity Server page and template login is blocked

[2022-05-09 03:55] #12453 closed, assigned to realLiangshiwei

[2022-05-09 03:59] FatuityCookie commented on #12409
I didn't use IHasConcurrencyStamp ，I just changed Acme.BookStore.Domain
[code]
Change the database to mysql

https://github.com/FatuityCookie/abp_test.git

[2022-05-09 04:29] gizemmutukurt opened #12478 "Update AuthServer UI"
_Original Title as "When the user looks at the login button after logging out, it redirects to the Identity Server page and template login is blocked."_

**App:** Blazor WASM, Blazor Server, MVC
**Version:** `5.3.0-rc.1`
**Problem Definition:**  When the user looks at the login button after logging out, it redirects to the Identity Server page and template login is blocked.

### Screenshot
![4bdbd

[2022-05-09 04:30] gizemmutukurt commented on #12454
Test is OK.

[2022-05-09 04:30] #12454 closed, assigned to gizemmutukurt

[2022-05-09 04:55] saitejkuralla commented on #12475
yes it is set to default only but the data is getting stored in the default connection/Database, not in the newly created databases (TODOAPP1 & TODOAPP2)
![image](https://user-images.githubusercontent.com/11627655/167343069-ac4bfff3-fc39-480f-b67f-3c3fb7608329.png)

[2022-05-09 05:32] hikalkan opened #12481 "Wrong migrate-database.ps1 file"
`migrate-database.ps1` doesn't work by default in `app-nolayers` template

![image](https://user-images.githubusercontent.com/1210527/167346095-3f842dd9-cc3f-4094-a278-cd0e7d14b5a5.png)

`migrate-database.ps1` file content is:

[code]

But should be:

[code]

(please also check other templates, including pro ones)

[2022-05-09 05:55] JadynWong commented on #12475
![image](https://user-images.githubusercontent.com/13699353/167348700-4388b5bd-2d16-48f5-8c0d-b5cb7661f238.png)

[2022-05-09 06:01] gterdem commented on #12478
When you are logged out, signed out page is shown at IdentityServer. You are in the IdentityServer application when you are trying to login back. So, there is no return URL to return to after login.

This confusion is happening because IdentityServer and the application is sharing the same top menu, making user to think they are in the same application.

[2022-05-09 06:21] #12481 closed, assigned to realLiangshiwei

[2022-05-09 06:41] saitejkuralla commented on #12475
Nope, I have changed it accordingly. it didn't work, data is not stored with the tenant-specific database.
![image](https://user-images.githubusercontent.com/11627655/167354204-63a512ea-e22f-4377-8f81-e7d6706b21c8.png)

[2022-05-09 07:35] enisn opened #12485 "Docs Module doesn't support `diff` as a code block"
Github rendered:
![image](https://user-images.githubusercontent.com/23705418/167361880-5b1ed48e-e3ef-4580-b3f6-ad0d53a1a6a7.png)

docs module rendered:
![image](https://user-images.githubusercontent.com/23705418/167361948-5158d0d1-0f38-4bd8-8529-f30ffc3a3939.png)

Original markdown file:
https://github.com/abpframework/abp/blob/rel-5.3/docs/en/Themes/LeptonXLite/blazor.md

---

[2022-05-09 07:39] realLiangshiwei commented on #12409
You have changed SqlServer to MySQL but not fully done

![image](https://user-images.githubusercontent.com/16813853/167362360-b5c72f86-b5e1-4de5-96e0-564562f86a52.png)

See the document: https://docs.abp.io/en/abp/latest/Entity-Framework-Core-MySQL

Or `abp new Acme.BookStore --database-management-system MySQL`

[2022-05-09 08:21] #11854 closed, assigned to muhammedaltug

[2022-05-09 08:56] realLiangshiwei commented on #12473
These steps are not enough to reproduce, can you provide all steps or a simple project to reproduce?

[2022-05-09 09:31] saitejkuralla commented on #12473
I have added the TODO sample application and referenced  "Volo.Abp.AspNetCore.MultiTenancy" project and ran the application then I am ending up with the above error.
![image](https://user-images.githubusercontent.com/11627655/167381902-769b4de2-e562-42bb-939c-0c123d7f7162.png)

[2022-05-09 09:43] realLiangshiwei commented on #12473
I guess you are mixing Nuget and local packages.

The Todo App uses Nuget package references:

https://github.com/abpframework/abp-samples/blob/master/TodoApp/Mvc-EfCore/src/TodoApp.Web/TodoApp.Web.csproj#L44-L52

You should only use NuGet packages or local references, don't mix.

[2022-05-09 11:34] enisn opened #12489 "Blazor PWA Documentation"
The following sections should be included:

- [x] Introduction of PWA
- [x] Creating a new project with PWA support (`--pwa`) (https://github.com/abpframework/abp/pull/12179)
- [x] Adding PWA support to an existing project.
   - [x] manifest.json
   - [x] icons
   - [x] service workers
- [x] Explanation of debug & release service-worker
- [x] Customization
   - [x] Manifest
   - [x] Service worker

[2022-05-09 14:32] JadynWong commented on #12475
I can not reproduce. Can you provide a simple project to reproduce it?

[2022-05-09 14:46] saitejkuralla commented on #12475
sample code: https://github.com/saitejkuralla/TodoApp_Multitenancy

Below is the recent change in my code
![image](https://user-images.githubusercontent.com/11627655/167435602-2aa7dab0-48b2-431f-a69a-a94dc4a2254f.png)

[2022-05-09 14:49] JadynWong commented on #12475
404
![image](https://user-images.githubusercontent.com/13699353/167437637-5c3107a4-76bf-4ed8-aec6-d5041b6e83c4.png)

You don't need to modify AbpDbContext. Multi-Tenancy connectionstring switching in abp is out-of-the-box.

[2022-05-09 14:52] D4ngeresque commented on #12283
I ran into this issue myself and it looks like it is caused by the fact that it is using the setting definitions available to your Web project (which by default won't include the setting definitions in your Domain project because it doesn't reference the Domain project), but the remote setting values that it gets through the web API via [RemoteSettingProvider](https://github.com/abpframework/abp/b

[2022-05-09 15:50] saitejkuralla commented on #12475
updated the repo to "public" but without switching that I am unable to do that, could you help me out with that. the final requirement is to save the data in tenant specific database.
By doing the above change the login credentials are part of the default database and I was unable to login now.
**Note** : if there is any sample code for per tenant database that would be great

[2022-05-09 16:18] JadynWong commented on #12475
- Remove the changes you have made to AbpDbContext.

- Please submit todo content after select a tenant.It is best to be able to login to the tenant user. Or use other ways of switching tenants (querystring, cookies, header, ...).  https://docs.abp.io/en/abp/latest/Multi-Tenancy#tenant-resolvers

![image](https://user-images.githubusercontent.com/13699353/167451530-3a86d164-5c64-4e94-a4f0-180326b2

[2022-05-09 16:47] saitejkuralla commented on #12475
sorry for this again the data is saved only in Default Database (TODOAPP) as tenant-specific.
Yes using query string and switching the tenant I have submitted the data
Am I missing anything here
![image](https://user-images.githubusercontent.com/11627655/167458032-96e1d51e-e1e9-4f2f-9441-1ce203aa53f7.png)

[2022-05-09 18:51] leonkosak opened #12495 "abp and dx components: UTF-8 encoding for styles"
How to properly enable UTF-8 charset in abp framework (MVC frontend) using BundleContributor?
Official announcement: https://supportcenter.devexpress.com/ticket/details/t977747/theme-files-are-shipped-with-the-utf-8-encoding-starting-with-v20-2

I follow this article, but there is no mention of UTF-8 charset, because it is too old (dx v20.2 was released in November 2020, this article is from Augus

[2022-05-09 21:23] hellfirehd opened #12496 "EfCoreIdentityUserRepository.GetRoleNamesAsync throws ArgumentNullException during Seeding."
**ABP Framework Version:** 5.2.1

**Database Provider:** EF Core -> PostgreSql && EF Core -> SqlServer

## Steps needed to **reproduce** the problem.

* Create a new module

[code]

* Add missing `<PackageReference />` and `using` statements to `AuthServiceDomainModule` and `AuthServiceHttpApiModule`.

* Ensure MultiTenancy is Enabled.

* Ensure `AuthServiceDbContext` implements all the things:

[

[2022-05-09 21:38] idreeshaddad opened #12497 "How do I add custom environment variables in Angular?"
**ABP Framework version:** v4.3.0

**User Interface** Angular v11.2.11

How do I add custom environment variables to environment.ts?
If I add say `customVar` and try to read it in a component it I get the error `Property 'customVar' does not exist on type 'Environment'`.

[Question on Stackoverflow](https://stackoverflow.com/questions/72178442/how-do-i-add-custom-environment-variables-to-abp-io-an

[2022-05-09 21:44] mahmut-gundogdu commented on #12450
I couldn't produce.

![image](https://user-images.githubusercontent.com/2217899/167503586-aa56278d-6bf1-43d1-b782-577808ae2a17.png)

![image](https://user-images.githubusercontent.com/2217899/167503651-eadc3efd-3e11-4de1-a4ca-3c6b6a8ce2a3.png)

[2022-05-09 21:45] mahmut-gundogdu commented on #12450
![image](https://user-images.githubusercontent.com/2217899/167503846-ede2b891-a2c9-476d-a754-87a7bcf3ab9b.png)
I've checked roles and users. Still, I couldn't produce

[2022-05-10 00:26] realLiangshiwei commented on #12497
You can check this: https://docs.abp.io/en/abp/latest/UI/Angular/Environment

[2022-05-10 00:56] rqx110 commented on #12497
you can extend the `Environment` after v5.2, see https://github.com/abpframework/abp/pull/11951

[2022-05-10 01:01] #12497 closed, assigned to nobody

[2022-05-10 01:12] maliming commented on #12496
Please try to reproduce the problem with minimal code and steps.

[2022-05-10 01:17] JadynWong commented on #12475
I only removed your changes to AbpDbContext.

![image](https://user-images.githubusercontent.com/13699353/167523031-9158629e-96a8-45b4-b902-cbd3dbda1dcc.png)

[code]

![image](https://user-images.githubusercontent.com/13699353/167522791-1f5db8d2-127b-4bf5-85c2-0adc46b6d9d7.png)

[2022-05-10 01:29] maliming commented on #12495
hi

https://docs.abp.io/en/abp/latest/UI/AspNetCore/Bundling-Minification#configuring-an-existing-bundle
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Bundling-Minification#contributor-extensions

[2022-05-10 02:16] #12411 closed, assigned to yekalkan

[2022-05-10 02:57] mrcarl79 opened #12503 "Extended generic repository dependency injection error"
I have read https://docs.abp.io/en/abp/latest/Repositories#custom-repositories FYI but this does not cover my issue which is extending the generic repository

I have implemented the following code in my domain project:

[code]

[code]

But we get an error like this if we try to use it in an AppService:

Autofac.Core.DependencyResolutionException
None of the constructors found with 'Autofac.Core.Ac

[2022-05-10 03:02] maliming commented on #12503
hi

You need to register/replace the general type class manually.

[code]

[2022-05-10 03:05] idreeshaddad commented on #12497
Is there a way on v4.3 though?

[2022-05-10 04:05] leonkosak commented on #12495
I know this, but there is no mention about setting charset.

[2022-05-10 05:14] maliming commented on #12495
You can add some custom CSS to the global binding, or change some file contents.

[2022-05-10 05:30] hikalkan commented on #10322
Already done: https://docs.abp.io/en/abp/latest/Background-Jobs#clustered-deployment

[2022-05-10 05:30] #10322 closed, assigned to hikalkan

[2022-05-10 05:47] #12163 closed, assigned to hikalkan

[2022-05-10 06:16] FatuityCookie commented on #12409
I use  `abp new Acme.BookStore --database-management-system MySQL`  recreate it now！

Please take a look
https://github.com/FatuityCookie/abp_test/blob/main/BookStore/src/Acme.BookStore.EntityFrameworkCore/Migrations/20220510061230_Initial_03.cs

20220510061101_Initial_02 already   `Update-Database`
![image](https://user-images.githubusercontent.com/46119806/167561559-01aecd38-20a0-4938-80e8-2eb40

[2022-05-10 06:35] muhammedaltug commented on #12497
Can you share your environment.ts and component.ts file

[2022-05-10 08:54] thefristloser opened #12509 "ValueObject .ValueEquals has a bug:It will misjudge that two different objects are equal"
ABP Framework version:5.1.4
[code]

The reason for this problem is that it  calls ` MoveNext` twice:
[code]

[2022-05-10 10:58] gizemmutukurt commented on #12450
I ran it with the following command and tried again and repeated the error. Can you try to run it with this command?
`abp new Angular.MoongoSeperated220509  -t app -u angular -m none --separate-identity-server --database-provider mongodb -csf --preview`

![image](https://user-images.githubusercontent.com/99716457/167613696-dd72be79-bade-49ef-a617-9e5aa2a84ba1.png)

[2022-05-10 13:01] hellfirehd commented on #12496
This minimal code throws the `ArgumentNullException: Value cannot be null. (Parameter 'inner')` when seeding is executed:

[code]

[2022-05-10 13:20] hikalkan commented on #12391
Done: https://docs.abp.io/en/abp/latest/Distributed-Event-Bus#outbox-inbox-for-transactional-events

[2022-05-10 13:20] #12391 closed, assigned to hikalkan

[2022-05-10 13:25] hikalkan commented on #9980
Done: https://docs.abp.io/en/abp/latest/Local-Event-Bus#transaction-exception-behavior

[2022-05-10 13:25] #9980 closed, assigned to hikalkan

[2022-05-10 13:36] sturlath opened #12519 "PWA Blazor app fetches most only .dll's (missing lot of other files)"
Hi, we have been trying to get PWA to work with Blazor but are having a **partial success**. Dll´s are being downloaded but lots of other files are not downloaded (js,png, css, html etc)

As you can see .dll are being fetched by service worker but there are errors in other request.
![pwa](https://user-images.githubusercontent.com/2386572/167620903-bcc75d72-fb16-4e86-8095-d21146434096.png)

here ar

[2022-05-10 13:56] pjkeukens opened #12520 "Localization not all translations showing after adding a language"
* Your **ABP Framework version**. : 5.2.1 (commercial)
* User Interface: MVC
* Database provider: EF Core
* Steps needed to reproduce the problem.
*  1. Create a new application using ABP suite
*  2. Run appliation and login as admin
*  3. Go to language management
*  4. Add dutch language
*  5. run application, change language to dutch and go to login page
*  6. half of the resources are not tran

[2022-05-10 14:50] idreeshaddad commented on #12497
Sure.

- Setting it up in environment:
![image](https://user-images.githubusercontent.com/2285974/167657049-6acfb7dd-0789-4b0f-8e6c-6a04d5020b27.png)

- Trying to read it in the component:
![image](https://user-images.githubusercontent.com/2285974/167657323-31eb9a28-e6ac-4a50-b956-7ceaf0be8a4f.png)

[2022-05-10 15:51] volethanh commented on #7275
Hi @olicooper ,

Can you explain more detail how to solve this issue. I've got this problem when I run Background Service

thanks

[2022-05-10 16:44] #12485 closed, assigned to EngincanV

[2022-05-10 22:45] #12503 closed, assigned to nobody

[2022-05-11 00:03] maliming commented on #12519
hi

* Steps needed to **reproduce** the problem.

[2022-05-11 00:23] realLiangshiwei commented on #12520
Hi,

Dutch localization from ABP community contributions, we are not Dutch experts : )

You can translate missing text on page Language texts:

![image](https://user-images.githubusercontent.com/16813853/167744912-5d858fb5-9179-42c9-a41d-790c944f030f.png)

It will be great if you can contribute translations.

[2022-05-11 00:24] #12520 closed, assigned to nobody

[2022-05-11 00:42] dicksonkimeu commented on #12470
Best idea

we may just define an [IntegrationService] attribute to put on top of application services to set defaults/conventions for these kind of services. In this way, we don't create a parallel system for similar purposes.

[2022-05-11 01:16] maliming commented on #12496
Try to add `set` to all `DbSet`.

`public DbSet<IdentityUser> Users { get; set;}`

[2022-05-11 02:01] mrcarl79 opened #12525 "Build circular dependency involving EntityFrameworkCore and Domain"
Following the docs I've created my own repository implementation like this:

https://docs.abp.io/en/abp/latest/Best-Practices/Entity-Framework-Core-Integration#repository-implementation

The "MyEfCoreRepository" is stored in EntityFrameworkCore project.

To access MyEfCoreRepository from our AppServices in the Application project I add a project reference to EntityFrameworkCore  which works fine.

[2022-05-11 02:16] realLiangshiwei commented on #12525
You need to create an `IMyRepository` interface for `MyEfCoreRepository`, and use it in the Domain project.

Like `IRepository`: https://docs.abp.io/en/abp/latest/Repositories#generic-repositories

The interface should be defined in the domain project

[2022-05-11 02:19] #12525 closed, assigned to nobody

[2022-05-11 06:05] pjkeukens commented on #12520
@realLiangshiwei that's why you have translation agencies. It's a bit weird that the commercial version of your product is half translated. Is there a way that I can add the nl.json to my project and add it to the pro resource package in code? Adding all translations using the language texts will take forever.
Volo.Abp.Account.**Pro**.Shared.Application.Contracts\Volo\Abp\Account\Localization\Reso

[2022-05-11 06:39] realLiangshiwei commented on #12520
Hi

Yes, you can. see: https://docs.abp.io/en/abp/latest/Localization#extending-existing-resource

[2022-05-11 07:43] duard-sf opened #12531 "Request localization behaving unexpectedly"
* Your **ABP Framework version**.
  * 5.2.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
  * MVC, but Razor not used at all. We are using JWTs for authentication with the ABP backend from a Flutter app.
* Your database provider(EF Core/MongoDB)
  * EF Core

**Steps needed to **reproduce** the problem**

1 - Download a project template from the

[2022-05-11 07:49] gizemmutukurt opened #12532 ""Host terminated unexpectedly!" when running 'dotnet ef database update' for module template getting error"
**Version:** `5.3.0-rc.1`
**App:** Module Template
**Problem Definition:**  "Host terminated unexpectedly!" when running 'dotnet ef database update' for module template getting error

![image](https://user-images.githubusercontent.com/99716457/167796471-ec0bb4a1-7f9e-457c-a192-d26ff50ac286.png)

[2022-05-11 08:01] realLiangshiwei commented on #12531
Can you try this?

[code]

[2022-05-11 08:02] maliming commented on #12532
This is ms issue.

See https://github.com/volosoft/volo/issues/9874

[2022-05-11 08:02] #12532 closed, assigned to ebicoglu

[2022-05-11 08:12] duard-sf commented on #12531
This solved the issue!

I assumed it would have been configured already since the localization JSON is present in the default template.

[2022-05-11 08:12] #12531 closed, assigned to nobody

[2022-05-11 08:54] hikalkan commented on #12022
I am taking this to 5.4 milestone to work on it in this milestone. However, we may not merge the work in version 5.4.

[2022-05-11 09:57] pjkeukens opened #12535 "tag-helper abp-input inside a modal inside a module is not localized"
* ABP Commercial Version: 5.2.1
* User Interface: MVC
* Database provider: EF Core

Steps to reproduce:
1. Create new application using abp-suite
2. Add a module to newly created application using abp-suite
3. Add a simple entity ContactPerson (properties name and color) to the MODULE using abp-suite
4. Update the SalesResource (in the module) file de-DE and add "Color": "Kleur" and "Name": "Naam"

[2022-05-11 10:51] yekalkan commented on #12535
You need to set the label in html:

`<abp-input asp-for="..." label="L["Color"].Value"/>`

I'll check what we can do to fix this in suite.

[2022-05-11 11:13] berkansasmaz opened #12536 "Explain ABP repository structure in the contribution document"

[2022-05-11 11:35] yekalkan commented on #12535
Fixed in the private repository.

[2022-05-11 11:35] #12535 closed, assigned to yekalkan

[2022-05-11 12:10] pjkeukens commented on #12535
@yekalkan thanks. How about the abp-input for enum properties, these are not localized as well and you can't add a label there?

[2022-05-11 12:45] hellfirehd commented on #12496
That appears to have solved it. Thank you!

[2022-05-11 12:45] #12496 closed, assigned to maliming

[2022-05-11 14:24] #11426 closed, assigned to mahmut-gundogdu, malikmasis

[2022-05-11 14:31] ebicoglu commented on #12535
[code]

**en.json**
[code]

[2022-05-11 14:35] ebicoglu commented on #12450
@gizemmutukurt this is PRO template not open-source

[2022-05-11 14:43] pjkeukens commented on #12535
@ebicoglu @yekalkan Yes I have the enum and the translations in my MODULES resource file (it gets added by abp-suite automatically). But it doesn't get localized when you create a new item with the pages that are generated inside the module.

[2022-05-11 15:16] hikalkan opened #12538 "Blazor Admin UI for CMS Kit"
I think it is time to start Blazor UI for CMS Kit. Only for the administration side. Public side will only support MVC UI.

[2022-05-11 16:05] imxiongstu commented on #12466
why abp sourcecode in `DomainService` insert persistence?

[2022-05-12 06:10] muhammedaltug opened #12540 "Document abpLoading directive"
Document how to use this directive

[2022-05-12 06:55] yekalkan commented on #12535
As i see, the models we use in create/update pages are defined in application layer. (ItemCreateDto & ItemUpdateDto)

We should create ViewModel classes in razor pages.

I'll do it.

[2022-05-12 07:05] mahmut-gundogdu commented on #12540
I can do that

[2022-05-12 07:07] Trojaner opened #12541 "ValueEquals doesn't work when returning ValueObject's in GetAtomicValues"
When a ValueObject contains another child ValueObject, returning the child ValueObject in GetAtomicValues causes ValueEquals to fail.

Assume the following classes:
[code]

[code]

In this case AddressDetails.ValueEquals will return false for two equal addresses:
[code]
A workaround is to explicitly return child ValueObject properties:
[code]

[2022-05-12 07:12] mahmut-gundogdu opened #12542 "Testing Ordering Service on Eshop"
Ordering service and UI added on EShop project. We should test it.

Related abpframework/abp#11427  and  abpframework/abp#11426

[2022-05-12 07:14] maliming commented on #12541
hi
These two objects are not equal. unless `yield return Coordinates?.Longitude; yield return Coordinates?.Latitude;`. This is by design.

![image](https://user-images.githubusercontent.com/6908465/168013031-fbf3e540-0ee5-4d05-8a83-1b290b791568.png)

[2022-05-12 07:18] Trojaner commented on #12541
The objects are not equal by reference, but same by value. There shouldn't be a difference between two GeoCoordinates with the same values as its a ValueObject.

[2022-05-12 07:26] maliming commented on #12541
That means you need to return the same values manually.

![image](https://user-images.githubusercontent.com/6908465/168015204-c411ab7c-7f21-4da0-abbd-07049eddd058.png)

[2022-05-12 07:31] Trojaner commented on #12541
I think this is against the DDD principle of ValueObjects where they only represent a value. It shouldn't do reference comparison.

From Eric Evan:

[2022-05-12 07:33] ebicoglu commented on #11916
https://community.abp.io/discord
[![image](https://user-images.githubusercontent.com/9526587/168016636-cde7deb6-6088-4b15-806a-59780efc8b35.png)
](![image](https://user-images.githubusercontent.com/9526587/168016612-e1975c30-9579-4217-a757-307988f7caee.png))

[2022-05-12 07:36] maliming commented on #12541
I think you can also call the `GetAtomicValues` method of the child object. Anyway, this can't be implemented by our code, the developer has to do something manually.

[2022-05-12 07:56] thanhtai9606 opened #12543 "Add New Module Activation Chain"
* Abp Framework **5.2.1**.
* Your database provider EF Core

Add new my Module I received this error
[code]
this is my Depend in host/*.HttpApi.Host
and write depend in file HttpApiHostModule.cs
[code]

[2022-05-12 08:23] mgochmuradov commented on #2087
@djordjedjukic The problem is (As I can see) that you don't **register a repository for each AgregateRoot**/Entity.

## Long answer:
`RepositoryRegistrarBase` which is the base class of `RavenDbRepositoryRegistrar`, by its' implementation will get list of entities from `GetEntityTypes(Type dbContextType)` and add a `RavenDbRepository` implementation for each entity. And as you return `null` on thi

[2022-05-12 10:29] hikalkan opened #12545 "Document update for batch sending of outbox events"
Update for https://github.com/abpframework/abp/pull/11243

[2022-05-12 10:32] hikalkan opened #12546 "Document how to check global features in UI"
Related to https://github.com/abpframework/abp/pull/12043

- [x] MVC UI ([like these](https://docs.abp.io/en/abp/5.3/UI/AspNetCore/JavaScript-API/Index)) / @maliming https://github.com/abpframework/abp/pull/12553
- [x] Blazor UI / @enisn  - (https://github.com/abpframework/abp/pull/12773)
- [x] Angular UI / @mahmut-gundogdu

Notice that if we don't have API for these, we should first develop it.

[2022-05-12 12:16] Ultre00 opened #12547 "Non primitive ExtraProperties issue"
* Version: 5.1.4
* Database: EF Core

### Situation:
The Client entity has an int[] as an ExtraProperty. This is registered like this:
[code]
The same is done for a custom CreateUpdateClientDto. And the automapper has the MapExtraProperties().

This is all working fine when creating a new Client from the front-end. The only problem is that when I inspect the Client.ExtraProperties i see that the k

[2022-05-12 12:51] ebicoglu opened #12548 "Test"
I merged the following PRs but these should be tested.

- [x] https://github.com/volosoft/volo/pull/10194
- [x] https://github.com/volosoft/volo/pull/10178
- [x] https://github.com/volosoft/volo/pull/10197

You can ask what to test to @yekalkan or me

[2022-05-12 14:27] gdlcf88 commented on #12547
Try

[code]

and convert the value in `SetNumbers` and `GetNumbers` methods.

[2022-05-12 14:37] ArneCools opened #12549 "Blazor Server: override configuration to only use Websockets and SkipNegotiation"
* Version 4.3.3
* Blazor Server
* Exception message and **stack trace** if available (check the logs).

I'm trying to override the Blazor Server configuration to only use Websockets and enable SkipNegotiation to avoid using Sticky Sessions.

I tried using Configure, to set the options, but this gave me an error regarding duplicate endoints:
[code]
`System.InvalidOperationException: Using ExpandEnd

[2022-05-12 15:00] pjkeukens commented on #12535
@yekalkan That would be great but I don't know if it solves the problem.

[2022-05-12 15:15] andmattia opened #12550 "Abp Suite rename entity after create broken regenerate"
ABP.IO 5.2.1
Suite

I create an entity via suite.

After creation I need to rename but json file still have the old name. When suite create angular command the UI will not be generated because use new file name and not the original.

I change the name manually and it works fine

[2022-05-12 20:07] Ultre00 commented on #12547
This didn't work since the API still serializes the array as a JArray type

[2022-05-12 21:51] rkrause22 commented on #4356
I am not sure the original question was answered.  Yes, I can see that setting IsPersistent : true on LoginSignInAsync does indeed change the cookie persistence from session to time based, but what I am seeing is that the cookie's expiry is set to 14 days.  How do we change this persistence to something other than the default value?

[2022-05-13 00:35] realLiangshiwei commented on #12549
There is no good way.

[code]

_Host.cshtml
[code]

[2022-05-13 00:46] nicewk opened #12552 "Blazor App template code error when calling WebAssemblyHostBuilder.CreateDefault"
When run   Blazor project first time, got following error message on browser console window.
The solution generate by cli and without any new code to it.

       System.AggregateException: One or more errors occurred. (An error occurred during the ABP remote HTTP request. (TypeError: Failed to fetch) See the inner exception for details.)
 ---> Volo.Abp.Http.Client.AbpRemoteCallException: An error

[2022-05-13 01:08] maliming commented on #12552
You need to run the API or Identity Server first.

[2022-05-13 01:12] maliming commented on #12543
Can you share the full error stack?

[2022-05-13 01:19] #12552 closed, assigned to nobody

[2022-05-13 01:24] nicewk commented on #12552
Thanks, @maliming, I did run the API first. But after single step debug, the issue disappeared.

[2022-05-13 02:03] #11394 closed, assigned to maliming

[2022-05-13 03:41] realLiangshiwei opened #12554 "Update Blazorise to 1.0.4"
https://blazorise.com/news/release-notes/104

[2022-05-13 03:41] mehmetuken commented on #389
Preview 4 published with rate limiting. https://devblogs.microsoft.com/dotnet/asp-net-core-updates-in-dotnet-7-preview-4/#rate-limiting-middleware

[2022-05-13 04:17] thanhtai9606 opened #12555 "angular build proxy cannot found"
abp verion ***5.2.1***
I use angular with module. It run ok, but when I build project to publish npm package, I received this error
I use npm pack, it ok. But I when it run see the same errors
[code]

[2022-05-13 04:23] thanhtai9606 commented on #12543
this is my logs
[code]

[2022-05-13 05:26] gizemmutukurt commented on #12450
Sorry, I ran it by removing the -pro statement from the command while I was running it, but I skipped it while copying, but Mahmut corrected the error by executing the command properly.

[2022-05-13 06:11] maliming commented on #12543
DId you add the `Automapper` package to your project?

[2022-05-13 06:22] yekalkan commented on #12535
It does.

But you may also need to rename the localization keys of enum properties.

From this:

[code]

to this:

[code]

See https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bootstrap/TagHelpers/Form/AbpSelectTagHelperService.cs#L274

[2022-05-13 06:24] yekalkan commented on #12550
We don't suggest to change the name of a generated entity. Also, we disable this on Suite UI.

[2022-05-13 06:24] #12550 closed, assigned to yekalkan

[2022-05-13 06:36] Sunzhuokai commented on #8881
@maliming when use `HangfireBackgroundWorkerBase` , same error occur.
we must create a new uow can work?

[2022-05-13 06:38] maliming commented on #8881
The new version has been fixed this.

[2022-05-13 06:56] Sunzhuokai commented on #8881
@maliming I use version 5.2.1 , not work still

[2022-05-13 07:07] maliming commented on #8881
This PR is fixed the problem.
https://github.com/abpframework/abp/pull/11591

If not please share the code to reproduce.

[2022-05-13 08:09] pjkeukens commented on #12535
@yekalkan yesterday I moved some of the pages out of the module and placed them in the main application. The select boxes still weren't localized. I added both notations above in my resource file but still no luck.

Then I saw that one of the three items was localized and the other two weren't. I was baffled so I thought why would that one be localized and not the others. I found out that it was t

[2022-05-13 08:27] Sunzhuokai commented on #12339
@maliming
 when add  `[ExposeServices(typeof(IMyLogWorker), typeof(MyLogWorker))]`
![image](https://user-images.githubusercontent.com/8599906/168243038-284f030b-3fca-4692-914e-00f748b3a964.png)

[2022-05-13 11:38] #12554 closed, assigned to realLiangshiwei

[2022-05-13 13:13] hellorms opened #12575 "abp Commercial: Migrate from the Lepton UI to LeptonX causes exception"
5.3.0-rc.1  ~  MVC  ~  EF Core

I'm using the 5.3 (preview) documentation to try and migrate from the Lepton UI to LeptonX but get the following exception:

![2022-05-13_14-02-39](https://user-images.githubusercontent.com/93287086/168289811-a26189e1-aaf3-41b4-82c7-a2d5596e632b.jpg)

2022-05-13 14:09:19.004 +01:00 [FTL] Host terminated unexpectedly!
Volo.Abp.AbpInitializationException: An error occ

[2022-05-13 14:44] hikalkan opened #12578 "Sending test email in the setting page with MVC and Blazor UI"
Add a "Send Test Email" button right to the Save button.

![image](https://user-images.githubusercontent.com/1210527/168306010-73498293-f951-4e57-a15e-c5eab62b38d2.png)

Open a modal with a form with the following fields:

* Sender email address (textbox, required, fill the default setting from the "default from address")
* Target email address (textbox, required, default value: Email address of t

[2022-05-13 14:45] hikalkan opened #12579 "Angular UI for "Sending test email in the setting page""
Angular UI of https://github.com/abpframework/abp/issues/12578

[2022-05-14 00:37] shawn-show opened #12581 "A DbContext can only be created inside a unit of work! in Blazor Hybrid for WPF"
Hello, I want to build a WPF application with [Blazor Hybrid](https://docs.microsoft.com/en-us/aspnet/core/blazor/hybrid/tutorials/wpf?view=aspnetcore-6.0)  and ABP. I have used the [WPF template of ABP](https://docs.abp.io/en/abp/latest/Startup-Templates/WPF) and it has been able to access the database  [OnContentRendered](https://docs.microsoft.com/en-us/dotnet/api/system.windows.window.onconten

[2022-05-14 01:31] faisalaslams opened #12582 "Request to provide ReactJS support as the User Interface"

[2022-05-14 02:30] maliming commented on #12581
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-05-14 03:08] 344089386 opened #12583 "How to add check boxes to Razor list?"
Razor Index.cshtml
[code]
index.js
[code]
I hope it is multi-select, can batch delete, how should I do?

[2022-05-14 03:12] 344089386 commented on #12583
I seemed to need separate quote dataTables.select.min.js and dataTables.select.min.css?

[2022-05-14 11:18] shawn-show commented on #12581
- abp version is 5.2
- User Interface is blazor hybrid of WPF
- use EF Core
- Stack trace has been pasted
- Steps needed have been pasted

[2022-05-14 16:05] volethanh opened #12584 "ABP Framework do not serialize the datetime based on AbpClockOptions in nested document Mongodb"
Hi,

I'm using Abp framework version 5.1.2 and now I've got a problem with a datetime in Mongodb. As I know, abp has released the feature that will serialize datetime based on AbpClockOptions from version 5.x.

Whenever I upsert data to Mongodb, the Datetime field is serialized but the datetime field in nested document will not be serialized . I hope this problem will be fixed soon in version 5.3

[2022-05-14 16:21] liquehuo commented on #11361
when i publish to docker Linux services then is can running ，but Localization>> zh-Hans.json is not loaded ?，”Menu:Home“ ，”Welcome_Text“， ”Welcome_Title“  value not exists! local docker not have this problem

[2022-05-14 18:58] mheidari988 opened #12586 "Localization exception `System.Globalization.PersianCalendar`"
First I Added `fa` localization by using `abp translate -c fa` which generated `json` file to translate. Then after full translation and using `abp translate -a` command, the application had `fa` language in the menu. When I changed the language to the `farsi` and tried to open the CreateModal page, the application throws the exception.

Note that there is not any exception in other languages.

Th

[2022-05-15 05:20] maliming commented on #12584
hi

* Steps needed to **reproduce** the problem.

[2022-05-15 05:22] maliming commented on #11361
https://github.com/abpframework/abp/pull/12401

[2022-05-15 05:53] volethanh commented on #12584
Hi @maliming ,

Just create an entity with a List of another entity then just call repository.InsertAsync to insert it to database.

[2022-05-15 07:22] YoChen opened #12589 "abp docker wwwroot/libs How to Config Dockerfile?"
Now I found no wwwroot/libs in AuthServer for eShopOnAbp When I Published the apps/auth-server proj

dev, I can use `abp install-libs`

but when publish docker ,how to config the Dockerfile? please help.

[2022-05-15 12:47] realLiangshiwei opened #12590 "Update Text template Chinese document"

[2022-05-15 12:52] hikalkan opened #12591 "Document updates for dependency injection: lazy resolve services"
Document `IAbpLazyServiceProvider`, `ICachedServiceProvider` and `ITransientCachedServiceProvider`.

[2022-05-15 12:56] olicooper commented on #7275
@volethanh you should check out the background workers in [the docs](https://docs.abp.io/en/abp/5.2/Background-Workers#asyncperiodicbackgroundworkerbase), they use `IServiceScopeFactory` which you'll need to create a new scope, then use that scope to get the services you need with `GetRequiredService`

[2022-05-15 15:19] fileman opened #12593 "Identity Entity Extension property UI and API visibility ignored"
This follow the #10480 .
If I remove the extended property from Dto, it is hidden in the OnCreate/OnEditForm, but the value is not updated in the database.

I have attached two demo:
[Property always show but update DB value](https://github.com/abpframework/abp/files/8695252/IdentityUIExtend_demo.zip)
[Property hidden but update DB issue](https://github.com/abpframework/abp/files/8695271/IdentityU

[2022-05-16 00:49] #12590 closed, assigned to realLiangshiwei

[2022-05-16 00:57] maliming commented on #12589
The `wwwroot/libs` will exist in the `publish` folder.

https://github.com/abpframework/eShopOnAbp/blob/main/apps/auth-server/src/EShopOnAbp.AuthServer/Dockerfile

[2022-05-16 01:14] maliming commented on #12583
This seems nothing to do with ABP.

[2022-05-16 01:17] thanhtai9606 commented on #12543
Yes, I already added package AutoMapper
[code]

[2022-05-16 01:26] maliming commented on #12543
Remove `<PackageReference Include="AutoMapper" Version="11.0.1" />`

[2022-05-16 01:26] #12543 closed, assigned to nobody

[2022-05-16 01:33] thanhtai9606 commented on #12543
No, It still not working.
[code]

[2022-05-16 01:34] maliming commented on #12586
Actual value was 0.

Hi

Please check the `datetime` properties in your model.

[2022-05-16 01:36] thanhtai9606 commented on #12543
Maybe, I have to add dependency one to one for project, and create another Map profile!

[2022-05-16 01:52] maliming commented on #12282
MVC part is done: https://github.com/abpframework/abp/pull/12377

[2022-05-16 01:56] mrcarl79 opened #12596 "React UI updates / news for 2022?"
Hi,

In issue #1638 over 2 years ago this was the latest news "It is on our road map, but haven't started yet. BlazorUI has more priority to be honest, but fortunately we have a dedicated frontend team can work on the React in parallel."

I did try and ask more info in there 3 months ago but I don't think anyone is watching that issue.

I was just wondering, is there an update? has the front end t

[2022-05-16 02:26] 344089386 commented on #12583
Yes, I should go to Datatables.net.

[2022-05-16 02:26] #12583 closed, assigned to nobody

[2022-05-16 02:43] thanhtai9606 commented on #12555
somebody help me please???

[2022-05-16 05:00] enisn commented on #12575
Hi @hellorms

We're aware of the problem. We'll release yet another version that is compatible with ABP Version 5.3

LeptonX is currently compatible with v5.2. If you try with a v5.2.x template, it'll work properly for now.

[2022-05-16 05:17] gizemmutukurt commented on #12548
Voting field gets a negative (-) number. #10239

[2022-05-16 05:35] #12509 closed, assigned to maliming

[2022-05-16 05:37] #12282 closed, assigned to maliming

[2022-05-16 05:39] hikalkan commented on #12282
@maliming & @muhammedaltug please open another issue for Angular UI (typescript).

[2022-05-16 05:40] enisn commented on #4988
Should be customizable like Reddit's one

[2022-05-16 06:02] muhammedaltug opened #12599 "abp generate-proxy: generate DTO constraint constants Angular UI"
Related https://github.com/abpframework/abp/issues/12282

[2022-05-16 06:20] zsanhong opened #12600 "How to get All the Data if the entity is multiTenant?"
I have a entity with multiTenant  like this:
` public class AllFight : Entity<Guid>, IMultiTenant

right now,when I use AllFightService
`   public virtual async Task<PagedResultDto<AllFightDto>> GetListAsync(GetAllFightsInput input)
        {
            var totalCount = await _allFightRepository.GetCountAsync( input.StaticMonthMin, input.StaticMonthMax);
            var items = await _allFightRep

[2022-05-16 06:37] rqx110 commented on #12600
see https://docs.abp.io/en/abp/latest/Multi-Tenancy#data-filtering-disable-the-multi-tenancy-filter

[2022-05-16 06:39] hikalkan opened #12601 "Install OpenIddict to the application startup template"
I will try to remove IDS4 and install the new OpenIddict module to see if it is working properly in all scenarios, including;

- [x] Console test application
- [x] Tiered MVC
- [x] Blazor WASM
- [x] Angular UI (with openid connect and resource owner password scenarios)
- [x] Refactor and finalize the solution

[2022-05-16 07:16] maliming commented on #12546
I will make some changes, @mahmut-gundogdu  please wait for my new PR.

[2022-05-16 08:03] hellorms commented on #12575
Hello @enisn Thanks for the fast reply.

[2022-05-16 08:16] DonVliet commented on #12596
There already is a React UI - Just select "React Native" as the mobile option on the Getting Started page here:

https://abp.io/get-started

Documentation is also here:

https://docs.abp.io/en/abp/latest/Getting-Started-React-Native?Tiered=No

Don

[2022-05-16 08:34] EngincanV commented on #12596
Hi, currently we don't have a plan for supporting React. There is an open issue ([#1638](https://github.com/abpframework/abp/issues/1638)) as you mentioned and it's in the **backlog**.

---

You can check the following resources for React UI with ABP Framework:
* https://github.com/potatoabp/abp-vnext-react (An open-source React boilerplate)
* https://github.com/antosubash/AbpReact

---

Also, you

[2022-05-16 08:36] Ultre00 opened #12604 "AbpJsonOptions DefaultDateTimeFormat not applied"
* Version 5.2.1

Created a a new ABP project with the cli. In the HttpApiHost Module I added this:
[code]
Added a simple application service:
[code]
When testing the endpoint the result was:
[code]
How can I get the datetime to serialize as the provided AbpJsonOptions.DefaultDateTimeFormat  ?

The actual issue I am facing in my original project is that the 'Z' is missing in the end. So when a date

[2022-05-16 09:48] maliming commented on #12604
This is a typical XY problem, please describe your original problem in detail.

https://xyproblem.info/

[2022-05-16 10:44] EngincanV commented on #12273
Also, add the quick start tutorial link to the **Application (Single Layer) documentation**(https://github.com/abpframework/abp/issues/12272) when the documentation is done (under the "Introduction" section).

[2022-05-16 11:37] Ultre00 commented on #12604
@maliming The original problem is that an entity has a DateTime property. I am using Entity Framework as the database provider. When the entity is retrieved from the database the DateTime kind is set to unspecified. Because of this the serializer is not adding the 'Z' in the end because it doesn't know it is a UTC kind. That's why I wanted to specify the format myself since all the datetimes are a

[2022-05-16 11:44] enisn opened #12609 "CMS Kit - Comment details doesn't work on MongoDB"
![image](https://user-images.githubusercontent.com/23705418/168585421-ac5743ec-e424-4d80-9bcb-2d7f8de360cd.png)

Comment details query doesn't work on MongoDB.

[2022-05-16 12:30] EcoleKeine opened #12611 "ArgumentNullException: Value cannot be null. (Parameter 'ordering')"
version: 5.1.4
database: MongoDB

Parameter sorting cannot be null, but no [NotNull] Attribute
and i think it can be null, example: GetPagedListAsync(0,10)

[code]

https://github.com/abpframework/abp/blob/984dbc2ce886350e7ec6e50ff00dc3d351865e5d/framework/src/Volo.Abp.MongoDB/Volo/Abp/Domain/Repositories/MongoDB/MongoDbRepository.cs#L458

stack trace:
[code]

[2022-05-16 12:54] ebicoglu commented on #12478
how about changing this page as below
![image](https://user-images.githubusercontent.com/9526587/168597046-66da545f-fcbe-49b3-bc7c-84fffb207572.png)

[2022-05-16 13:12] #12609 closed, assigned to enisn

[2022-05-16 13:34] maliming commented on #12611
hi

We will try to add the default orderby field.

[2022-05-16 14:14] gizemmutukurt commented on #12548
Test is Ok.

[2022-05-16 14:14] #12548 closed, assigned to gizemmutukurt

[2022-05-17 02:31] maliming commented on #12604
Our framework has unit tests ensure that the problem you mentioned do not happen.

Can you reproduce it with unit tests or a template project?

[2022-05-17 02:35] #12578 closed, assigned to realLiangshiwei

[2022-05-17 02:45] #12600 closed, assigned to nobody

[2022-05-17 02:46] realLiangshiwei commented on #12600
Also see: https://docs.abp.io/en/abp/latest/Multi-Tenancy#change-the-current-tenant

[2022-05-17 02:50] #12425 closed, assigned to nobody

[2022-05-17 03:24] realLiangshiwei opened #12618 "abp generate-proxy command: Unknow options ''"
https://support.abp.io/QA/Questions/3092/Error-when-trying-to-use-abp-generateproxy--t-ng--m-identity

[2022-05-17 04:47] mgochmuradov commented on #2087
@DejanMilicic @djordjedjukic  I had good progress with this last week.
DI and other ABP related issues are gone, but some RavenDB related coding and optimizations should still be done:
- [ ] Map `ConcurrencyStamp` from the `ChangeVector`.
- [ ] Bulk operations should be optimized for RavenDB.
- [ ] `IAsyncQueriableProvide` should be implemented for RavenDB.
- [x] Fix RavenDB `TestRunner` issue (Sh

[2022-05-17 06:59] berkansasmaz commented on #12582
Duplicate of #12596

[2022-05-17 06:59] #12582 closed, assigned to nobody

[2022-05-17 07:02] berkansasmaz commented on #12422
Thanks for your feature request. You can follow the developments on the subject [here](https://github.com/abpframework/abp/issues/389).

Duplicate of #389

[2022-05-17 07:02] #12422 closed, assigned to nobody

[2022-05-17 07:09] berkansasmaz commented on #12281
It is in the backlog, but we have no plan to do it yet. You can try to implement it yourself and are welcome to share your experience.

Duplicate of #8750

[2022-05-17 07:09] #12281 closed, assigned to nobody

[2022-05-17 07:15] leonkosak commented on #1189
@maliming I have scenario to authenticate via local Active Directory (AD). I am confused how to properly implement this external login.
Probably, when one user login to application for the first time, should we create new external user (AbpUsers table) and then when we have a record for new user in AbpUsers table add permissions and roles to this user?
User would always manually make login with hi

[2022-05-17 07:17] maliming commented on #1189
hi @leonkosak

Please create a new issue.

[2022-05-17 07:20] leonkosak opened #12626 "Proper implementation with local Active Directory (MVC UI, EF Core)"
* Your **v5.2**.
* Your **MVC**
* Your database provider: EF Core

@maliming I have scenario to authenticate via local Active Directory (AD). I am confused how to properly implement this external login.
Probably, when one user login to application for the first time, should we create new external user (AbpUsers table) and then when we have a record for new user in AbpUsers table add permissions an

[2022-05-17 08:21] #12618 closed, assigned to muhammedaltug

[2022-05-17 08:53] realLiangshiwei opened #12632 "Update packages to latest"
Update dependencies to the latest

[2022-05-17 10:10] Ultre00 commented on #12604
After a lot of debugging I found the issue. It was because I am using a custom serializer that I forgot about. This serializer is set as an attribute on the Dto and it is only used in inheritance so the discriminator property is automatically serialized. However because this is a custom serializer the other serializers are not being applied anymore 🤦‍♂️

[2022-05-17 10:12] #12604 closed, assigned to nobody

[2022-05-17 10:42] espindl opened #12635 "Abp.js throws exception on abp.ui.clearBusy calls (block/unclock) on modal"
* Your **ABP Framework version** >  5.2
* Your **User Interface** type > MVC
* Your database provider > EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

I am doing something like this in the js file:

[code]

When code hits clearBusy lines I see error on developer tools console:

[code]

It is showing this line in abp.js:

[2022-05-17 11:04] berkansasmaz commented on #12635
Sorry, I couldn't reproduce it despite all the details you provided.

Here is my test code:

[code]

Is there something I missed? Can you please help me to reproduce the problem?

[2022-05-17 16:45] kfrancis opened #12642 "[Commercial] AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'LeptonX.Global'"
* Your **ABP Framework version**: 5.3.0 RC1
* Your **User Interface** type: MVC
* Your database provider: EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

To reproduce:
1. Switch to preview
2. Make sure abp update --preview is complete
3. Follow https://docs.abp.io/en/commercial/5.3/themes/lepton-x/commercial/mvc, which is

[2022-05-17 19:11] BogdanJak opened #12643 "Blazor Server Account Module Error"
ABP Framework 5.3.0
User Interface type Blazor server
Database provider EF Core, MS SqlServer
Windows 11

Hi
I create new ABP application with command

abp new OrganizerPRO3 -t app -u blazor-server --mobile none

Next open application in Visual Studio 2022, run migration and add module Account with command

 abp add-module Volo.Account --with-source-code True --add-to-solution-file

When I launch

[2022-05-17 19:13] espindl commented on #12635
I found my problem. It was happening because this ajax call is in a function and that function is called twice one after the other. I guess the code in abp.js is failing because clearBusy is called twice very fast. I don't think it is a problem with the framework. But it might be considered an edge case.

[2022-05-17 19:13] #12635 closed, assigned to nobody

[2022-05-18 01:02] maliming commented on #12546
@mahmut-gundogdu  https://github.com/abpframework/abp/pull/12553#issuecomment-1128336329

[2022-05-18 02:53] maliming commented on #12643
Without `abp add-module Volo.Account --with-source-code True --add-to-solution-file` works?

[2022-05-18 04:28] idreeshaddad commented on #12497
Since I cannot upgrade to v5, I extended Environment interface like this #11950

[2022-05-18 06:13] gterdem commented on #11670
This is fixed after https://github.com/abpframework/eShopOnAbp/commit/6413ef15c91cd8a5309050b63bb4dbca23587607

[2022-05-18 06:13] #11670 closed, assigned to gterdem

[2022-05-18 07:01] leonkosak commented on #12116
@thanhtai9606, would you share your solution (or at least files and configuration) how you implemented External LDAP Login?
Thank you.

[2022-05-18 07:08] BogdanJak commented on #12643
It doesn't work properly. Entries are added to the runtime
[DependsOn (typeof (AbpAccountWebModule))]
     [DependsOn (typeof (AbpAccountBlazorModule))]

Today I ran the entire procedure all over again and the same error again.
Enclosed my sample code.
Thank you in advance for any help
[OrganizerPRO3.zip](https://github.com/abpframework/abp/files/8713966/OrganizerPRO3.zip)
.

[2022-05-18 07:10] BogdanJak commented on #12643
The generated application, without adding the Account module, works correctly.
The problem starts after adding the module.

[2022-05-18 07:30] maliming commented on #12643
Add `ConcurrencyStamp` property to `PersonalInfoModel` class.

`modules\Volo.Account\src\Volo.Abp.Account.Blazor\Pages\Account\AccountManage.razor.cs`

![image](https://user-images.githubusercontent.com/6908465/168982402-5f6f7885-1a43-4c95-bd82-18be821b0d50.png)

[2022-05-18 07:33] #12643 closed, assigned to nobody

[2022-05-18 08:00] leonkosak commented on #4977
@hikalkan, this example does not work anymore.
I have abp v5.2.1 (MVC, non-tiered) and "MyExternalLoginProvider.cs" is located in .Web project.

The following code was added to xxxxWebModule.cs (inside ConfigureAuthentication method):

`Configure<AbpIdentityOptions>(options =>
        {
            options.ExternalLoginProviders.Add<MyExternalLoginProvider>(MyExternalLoginProvider.Name);
        }

[2022-05-18 08:23] BogdanJak opened #12647 "Blazor Server Users Module Error"
ABP Framework 5.3.0
User Interface type Blazor server
Database provider EF Core, MS SqlServer
Windows 11

Hi
I create new ABP application with command

abp new OrganizerPRO3 -t app -u blazor-server --mobile none

Next open application in Visual Studio 2022, run migration and add module Account with command

abp add-module Volo.Account --with-source-code True --add-to-solution-file
abp add-module V

[2022-05-18 09:28] alexandis opened #12648 "How to reference external NgModule components in the replaced component?"
**ABP 5.1.2 / Angular**

I've replaced the **ABP** _Tenant_ component:

[code]
Since this component does not have its own module (it reuses `TenantManagementModule`) - I cannot make use of `declarations` property of _NgModule_ to add some additional components which I am gonna use in my `TenantsComponent`.
How to resolve this?

NOTE: those additional components are from another project which are e

[2022-05-18 11:30] hikalkan opened #12650 "Allow to use LeptonX lite as the UI theme"
With the ABP 5.4, we are planning to allow us to select the UI theme while creating a new application.

- [x] Should work for Application and Application (Single-Layer) startup templates with all UI options (MVC, Angular, Blazor WASM and Blazor Server)
- [x] Add `--theme` parameter to ABP CLI. Default value will be `leptonx-lite`. Possible values: `leptonx-lite` and `basic`.
- [x] Add a "Select UI

[2022-05-18 17:46] leonkosak commented on #5169
@Stirda, may I contact you via email? If I may, please contact me on leon.kosak@gmail.com.

[2022-05-18 21:37] hellorms opened #12655 "[Commercial] LeptonX - No option to change Tenant on Login Page"
5.2.2 / MVC / EF Core

Installed LeptonX using version 5.2.2 recommended by @enisn and looks excellent. I added a new Tenant and logout but there is nowhere to change Tenant on login page - also there is nowhere to change language on login page

![2022-05-18_22-28-53](https://user-images.githubusercontent.com/93287086/169159416-4346f60a-801a-4bb1-93c2-e5c2cc3df62c.jpg)

**Note:  MultiTenancyConsts

[2022-05-19 01:49] maliming commented on #12626
hi

You can customize your code here.

Get exist user and update its permissions and roles base on your `externallogininfo`.

https://github.com/abpframework/abp/blob/dev/modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs#L242

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.externallogininfo?view=aspnetcore-6.0

[2022-05-19 04:27] mrcarl79 commented on #12596
Thanks, just needed an update as the other open issue was not being monitored. This reply should help anyone more recently trying. I do think it's odd you Abp supports things like MVC which has jQuery in it last time I looked and blazor which will probably gain little traction.

[2022-05-19 04:48] leonkosak commented on #12626
I would also like to use External Login Provider, but unfortunately, provided example on GH (there is nothing in documentation) is not working for me: https://github.com/abpframework/abp/issues/4977#issuecomment-1129695314

I have abp v5.2.1 (MVC, non-tiered) and "MyExternalLoginProvider.cs" is located in .Web project.

The following code was added to xxxxWebModule.cs (inside ConfigureAuthenticati

[2022-05-19 05:06] maliming commented on #12626
The `ExternalLoginProviders` will not display on the login page. Only [`external provider authentication`](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/?view=aspnetcore-6.0&tabs=visual-studio) will be.

(https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identity/src/Volo.Abp.Identity.AspNetCore/Volo/Abp/Identity/AspNetCore/AbpS

[2022-05-19 05:26] maliming commented on #12022
Move to https://github.com/abpframework/abp/pull/12624

https://github.com/abpframework/abp/pull/12624/commits/a86187393554d4b73617a2a698a5440e3b3bfa30

[2022-05-19 05:51] #12022 closed, assigned to maliming

[2022-05-19 08:24] hikalkan opened #12658 "Add unit test for the new Check.Positive and Check.Range methods"
See https://github.com/abpframework/abp/pull/12576

[2022-05-19 08:32] brunobertechini commented on #11431
Hello there, I just created a new solution (5.2.2) and added the configuration for Rebus.RabbitMq to test the integration.

I am facing the same issue of my handler being called twice when using Rebus+RabbitMq.

I have no special configuration. A simple event and a simple handler:

[code]

[code]

[code]

[2022-05-19 08:35] brunobertechini opened #12659 "Rebus: Triggers events twice (handler is invoked twice)"
* Your **ABP Framework version**.: 5.2.2
[code]

Hello there, I just created a new solution (5.2.2) and added the configuration for Rebus.RabbitMq to test the integration.

I believe I am facing the same problem of https://github.com/abpframework/abp/issues/11431 (although not sure it is because of the same reason) of my handler being called twice when using Rebus+RabbitMq.

I have no special conf

[2022-05-19 09:02] brunobertechini commented on #12659
I have tested the same handler with `Volo.Abp.RabbitMQ` (`AbpEventBusRabbitMqModule`) only, and it works perfectly fine (handler is invoked only once).

[2022-05-19 09:41] realLiangshiwei commented on #12659
Hi, @brunobertechini

I could not reproduce the problem, can you provide a project?

![gif](https://user-images.githubusercontent.com/16813853/169264288-6d64fffb-2d9d-458d-a93d-5251ceebc036.gif)

[2022-05-19 10:10] hikalkan opened #12661 "Add "Project" filter to Docs module admin UI"
Add "Project" filter (optional) as the first filter item:

![image](https://user-images.githubusercontent.com/1210527/169268590-13284989-8e04-4a47-b59e-0f11b9b83a37.png)

Also;

- File name filter is unnecessary since Name does a similar thing with full path support. Remove this filter.
- Move these filters under to "Advanced filters" just like we do for other pages: Format, creation time, Last up

[2022-05-19 12:26] #12601 closed, assigned to hikalkan, maliming

[2022-05-19 12:38] hikalkan opened #12662 "OpenIddict integration improvements"
When I was working on https://github.com/abpframework/abp/pull/12624 I had some notes as improvement points.

- [x] Should we add `OpenIddict.Validation.AspNetCore` and `OpenIddict.Validation.ServerIntegration` NuGet package dependencies to our `Volo.Abp.OpenIddict.AspNetCore` package. I normally like minimal dependencies. But, in this case, I see no way to properly use our package without these.

[2022-05-19 12:40] hikalkan commented on #12662
@kevinchalet what do you think about this:

Thanks.

[2022-05-19 12:54] kevinchalet commented on #12662
OpenIddict itself - even the very first release - has always used `sub` as a way to represent the entity ID, no matter if the represented entity is a user, an application (e.g when using the client credentials grant) or anything else. I guess it was the right thing to do that at the time because it's the approach that was formally adopted by RFC9068 in October 2021 😃

![image](https://user-images.

[2022-05-19 16:34] mahmut-gundogdu commented on #12540
I have created but I think we should change loading animation like this"https://codepen.io/fromwireframes/details/Nwjjmz"
Maybe @armgnunlu  can give a better idea.

[2022-05-19 19:07] mustafaekicics opened #12664 "Couldn't determinate version of "@abp/ng.schematics" package."
* My UI : Angular
* My database provider : Ef Core
*Exception Message :
[21:01:45 INF] ABP CLI (https://abp.io)
[21:01:45 INF] Version 5.2.2 (Stable)
[21:01:47 WRN] Couldn't determinate version of "@abp/ng.schematics" package.
[API Not Available] Request to ''/api/abp/api-definition is unsuccessful. Please double-check the URL in the source project environment and make sure your application is up

[2022-05-19 19:34] saitejkuralla commented on #12475
If the same code is not working for me hope it should be a bug .is that an environment issue?

[2022-05-19 22:18] brunobertechini commented on #12659
Have you used the SampleEvent1 implementing an empty interface (in my example I am implementing `IEvent`)?

I have created a project to reproduce, and while doing that, I think I've found the reason why it is being called twice, not sure if it is by design or not:

If my event implements the IEvent interface it gets called twice (I believe once for the interface and another for the implementation)

[2022-05-19 22:50] captainkout commented on #12664
I am also experiencing this problem. I was experiencing an error previously that stated
`Unknown option: ''`

I ran the cli from source which gave me this command.

`$ npx ng g @abp/ng.schematics:proxy-add --module app --api-name __default --source __default --target __default --url https://localhost:44393/
[API Not Available] Request to https://localhost:44393//api/abp/api-definition is unsuccess

[2022-05-19 22:51] captainkout commented on #12664
There was a support post here. https://support.abp.io/QA/Questions/3092/Error-when-trying-to-use-abp-generateproxy--t-ng--m-identity

And associated github issue https://github.com/abpframework/abp/issues/12618

The forum post states that the message `[21:01:47 WRN] Couldn't determinate version of "@abp/ng.schematics" package.` is not an issue. I know from other apps which are running successfully

[2022-05-20 01:08] realLiangshiwei opened #12665 "IdentityRoleNameChangedEto should implement IMultiTenant interface"
Changing the name of a role in multi-tenancy will lose permissions

Related: https://support.abp.io/QA/Questions/3005

[2022-05-20 01:30] #12665 closed, assigned to realLiangshiwei

[2022-05-20 02:39] mustafaekicics commented on #12664
abp generate-proxy -t ng -m app -u https://localhost:44***

This worked for me. Thanks for helping.

[2022-05-20 02:39] #12664 closed, assigned to nobody

[2022-05-20 02:54] maliming commented on #12662
OK, I will add it.

Fixed by https://github.com/abpframework/abp/commit/b8b8431124bcbf55d0ddafab66eaf9c2b91cbdb6

I removed the `sub` claim from `ClaimsIdentity` and added `client_id` as the default claim to be compatible with the previous design.
https://github.com/IdentityServer/IdentityServer4/issues/2362#issuecomment-395213591
https://github.com/abpframework/abp/pull/12678/commits/faee4bce950b

[2022-05-20 05:00] realLiangshiwei commented on #12659
@brunobertechini

I've reproduced the problem and will fix it.

For now, you can try:

[code]

[2022-05-20 05:36] saitejkuralla opened #12669 "what is the use of connection string resolver ?"
Quick question
I have my tenant store where I can get my tenant-specific details like a connection string.
What is the use of a connection string resolver? As I am getting the connection name and string value from the tenant store itself

[2022-05-20 06:16] #12659 closed, assigned to realLiangshiwei

[2022-05-20 07:28] gizemmutukurt commented on #12542
- Default or public seems too adjacent to the role name.

![image](https://user-images.githubusercontent.com/99716457/169475099-191141bb-0d78-48e6-bd63-b84ee497d10b.png)

- There is no need for scroll in this part

![image](https://user-images.githubusercontent.com/99716457/169475714-68e71199-c6f5-45f4-b35c-a84fa08d27b3.png)

- Action text too close to icon. In general, all icons seem to have this

[2022-05-20 08:51] baiguogang opened #12677 "Failed to validate the token"
[code]
======================================================================================
After I upgraded the dll version to version 5.2.1 in Nuget, I don't know why, but when the interface is called and the Token key is passed in, it always throws this exception, but it doesn't affect the operation of my program, which is very puzzling;
I don't know what to do? Can anyone help me?
Need me to

[2022-05-20 11:38] gizemmutukurt opened #12680 "On the user page, the Admin user does not have the authority to update the passwords of other users. This feature should be done in this template as in our other templates."
On the user page, the Admin user does not have the authority to update the passwords of other users. This feature should be done in this template as in our other templates.

![image](https://user-images.githubusercontent.com/99716457/169520707-8a917916-fb8a-44b8-9eac-c87d2001c986.png)
![image](https://user-images.githubusercontent.com/99716457/169520752-f6525433-816c-475e-bda0-b10091536644.png)

[2022-05-20 12:28] hikalkan opened #12681 "Introduce Volo.Abp.RemoteServices package"
I am creating the `Volo.Abp.RemoteServices` package. I will move `AbpRemoteServiceOptions` and related configuration classes here, so they will be more reusable. Currently, they are inside the `Volo.Abp.Http.Client` package and coupled to the HttpClient system. I needed it while implementing https://github.com/abpframework/abp/issues/12203. This is mostly an internal change and doesn't affect and

[2022-05-20 15:25] mahmut-gundogdu commented on #12648
You should add your `TenantsComponent`  and its own dependencies to `app.module.ts` then it will work with any issue. Here I have created an example. You can check the `app.module.ts`

https://github.com/mahmut-gundogdu/abp-io-replacable-component-with-3party-deps.

[2022-05-20 18:12] ikappas opened #12685 "Swagger UI Request Interceptor Not Adapted But Overridden"
### Description

In `Volo.Abp.Swashbuckle` package the `UseAbpSwaggerUI` extension method command in [AbpSwaggerUIBuilderExtensions](https://github.com/abpframework/abp/blob/99a6d5bf65c21776e0c91592558d7b09faebd159/framework/src/Volo.Abp.Swashbuckle/Microsoft/AspNetCore/Builder/AbpSwaggerUIBuilderExtensions.cs) injects the [ui/abp.swagger.js](https://github.com/abpframework/abp/blob/99a6d5bf65c217

[2022-05-21 01:43] realLiangshiwei commented on #12685
Hi,

We will fix it. for now, you can try:

Put `abp.swagger.js` file in the `wwwroot/swagger/ui` folder

[code]

[2022-05-21 02:28] #12685 closed, assigned to realLiangshiwei

[2022-05-21 05:38] ikappas commented on #12685
@realLiangshiwei Thank you for the swift resolution

[2022-05-21 08:08] #12658 closed, assigned to realLiangshiwei

[2022-05-21 13:01] liquehuo commented on #9320
Did you solve it?

[2022-05-21 16:28] alexandis opened #12689 "Cannot relogin: pressing Login button stucks - seems like Identity Server issue"
**ABP 5.1.2 / Angular / Ef Core / separate Identity Server**

Hi.
Time to time I am getting stuck on requests to my back-end. There is no information in the API logs, it all just hangs and nothing is happening.
This time I was able to reproduce such issue when accidently pressing "Back" in my browser and moving away from my application. Then I pressed forward - moved back to it, but got "non autho

[2022-05-21 16:39] alexandis commented on #12648
Isn't it a problem, if I use `replaceableComponentsService` in App.component, not Home.component?
Unfortunately, now our requirements have changed and I cannot check your solution right away.

[2022-05-21 17:18] hikalkan opened #12690 "Automatically set HttpClient.BaseUrl when the HttpClient name matches to a remote service name"
When we use `IHttpClientFactory` to obtain a named `HttpClient`, we can automatically set its `BaseUrl` by getting the value from the remote service configuration (`IRemoteServiceConfigurationProvider`). We should be sure that this won't be a breaking change for ABP Framework or client applications. If so, we may provide a way to use the old behavior.

[2022-05-21 17:39] hikalkan opened #12691 "Document update for create/update user account after login with external authentication server"
Related to https://github.com/abpframework/abp/issues/12203
I should think where this should be documented. I suppose this should be a part of a complete external auth server (like Keycloak) integration document.

[2022-05-21 19:57] jzumwalt opened #12693 "Allow child classes of AbpCrudPageBase to control New Entity creation"
Classes that inherit from `AbpCrudPage` base should be allowed to control instantiation of `TCreateViewModel`. This can allow for more control over initial state of new Entities, as well as enabling Copy `EntityActions`.

Basic implementation provided for explanation:

add a new method:
`
  protected virtual async Task<TCreateViewModel> NewCreateViewModelAsync()
  {
     return new TCreateViewMode

[2022-05-22 15:08] rlavaud opened #12697 "AbpExtensibleDataGrid Displays no data when using SetTableColumnsAsync"
5.2.2 Open Source.
Blazor WebAssembly
EFCore Postgresql

Created a simple CrudPage to display a list of Dto using AbpExtensibleDataGrid

I set the Actions  and Column in code

When I run the app, the action shows up and works. The title shows up with the correct names, the correct number of items shows up but no data in the column show up.

I have looked at the dto list and the data is there.

![i

[2022-05-22 18:08] hikalkan commented on #12324
This issue is moved to out private repository for ABP Commercial.

[2022-05-22 18:08] #12324 closed, assigned to nobody

[2022-05-22 20:01] rlavaud commented on #12697
I figure it out. The Dto had private setters by mistake.

[2022-05-22 20:01] #12697 closed, assigned to nobody

[2022-05-23 02:00] maliming commented on #12689
hi

We need the steps to reproduce the problem and get the full error log.

[2022-05-23 02:10] maliming commented on #12693
hi

You can contribute the code. : )

[2022-05-23 03:41] zengnanhua opened #12700 "/api/abp/application-configuration why api return not grantedPolicies value"
![image](https://user-images.githubusercontent.com/22017107/169739009-dc347464-c1bb-4769-9793-de8a21645bec.png)

[2022-05-23 04:32] gizemmutukurt opened #12701 "Order payment is made and there is no change in the number of products."
**Test Steps:**
1. Product basket is added.
2. Go to the basket and make the purchase via paypal
3. The error message is displayed. However, it appears that the payment has been made.

**Test Result:** Go to the home page and see that although the payment has been made, the count of the product has not changed

![6d7978a0-2de6-4f00-b8c6-3756671f09aa](https://user-images.githubusercontent.com/99716

[2022-05-23 04:33] gizemmutukurt commented on #12542
**Bugs:**

- Order payment is made and there is no change in the number of products. abpframework/eShopOnAbp#162
- On the user page, the Admin user does not have the authority to update the passwords of other users. This feature should be done in this template as in our other templates. abpframework/abp#12680
- Findings about the Eshop abpframework/eShopOnAbp#165

[2022-05-23 04:52] maliming commented on #12700
Please explain it in detail including the steps needed to **reproduce** the problem.

[2022-05-23 04:59] gizemmutukurt opened #12702 "Findings about the Eshop"
- [ ]  Default or public seems too adjacent to the role name.

![image](https://user-images.githubusercontent.com/99716457/169475099-191141bb-0d78-48e6-bd63-b84ee497d10b.png)

- [ ]  There is no need for scroll in this part

![image](https://user-images.githubusercontent.com/99716457/169475714-68e71199-c6f5-45f4-b35c-a84fa08d27b3.png)

- [ ] Action text too close to icon. In general, all icons see

[2022-05-23 05:01] #12542 closed, assigned to gizemmutukurt

[2022-05-23 06:08] luy710 opened #12704 "How to disable filtering only for associated data？"
How to disable filtering only for associated data

GroupJoin or Include

[2022-05-23 06:11] mahmut-gundogdu commented on #12540
resolves https://github.com/abpframework/abp/pull/12663

[2022-05-23 06:50] maliming commented on #12704
* Your **ABP Framework version**.
* Your database provider(EF Core/MongoDB)

For EF Core https://github.com/dotnet/efcore/issues/11853

[2022-05-23 08:30] rajgog opened #12711 "ABP Audit Log - GetCancellationToken NullReferenceException While Inserting Log In Database"
I am using the ABP community version and implemented audit logs. I see the below error while accessing endpoints exposed by my API / controller.
**ABP version: 5.2.2**
**DB provider for audit logs: EF Core / Postgres SQL**
**Packages used: Volo.Abp.AuditLogging.EntityFrameworkCore, Volo.Abp.EntityFrameworkCore.PostgreSql**

This is what my service host module dependency structure looks like;
[code

[2022-05-23 10:45] alexandis commented on #12689
Hi.

Too bad. I was unable to reproduce the bug for the second time, probably I am missing some details this time. If the following log from _Identity Server_ from that day doesn't help - I'll have to close the bug, unfortunately.

But i would be really greatful, if you at least suggest where I need to dig in - what may cause such error, since it's exception inside your code and you have better un

[2022-05-23 11:30] TangFeng commented on #10587
`builder.Services.ReplaceConfiguration(builder.Configuration);`
It should be mention at [getting-started-empty-web-project](https://github.com/abpframework/abp/blob/dev/docs/en/Getting-Started-AspNetCore-Application.md) after this issue has been fixed.

@maliming thanks.

[2022-05-23 11:52] muhammedaltug commented on #12193
Have,

Do you still have this error? Can you try removing the node_modules folder and reinstall it with `yarn install`?

[2022-05-23 12:11] barnybadzoo commented on #12429
You 've done it in eshoponabp, hope you also will do it in microservice-pro

[2022-05-23 15:39] fk-inspirit-tech opened #12717 "Unit of work documentation"
The documentation is not very clear on the difference between SaveChangesAsync and CompleteAsync.

For example, using **isTransactional:true**
`using (var uow = _unitOfWorkManager.Begin(requiresNew: false, isTransactional: true))`

will require CompleteAsync to commit the transaction.

SaveChangesAsync does not commit the transaction.

Thanks

[2022-05-24 00:48] maliming commented on #12711
hi

Did you use the Autofac module in your project?

[2022-05-24 00:55] maliming commented on #12689
You can try to change the environment(`Database/Redis/WebServer`) to troubleshoot the problem, as no one has reported such a problem.

[2022-05-24 01:11] maliming commented on #12717
hi, Thanks, We will always enhance our documents.

[2022-05-24 01:11] #12717 closed, assigned to nobody

[2022-05-24 01:51] luy710 commented on #12704
ABP Framework version：5.1.4
EF Core

The entity inherits the interface isoftdelete,

Turn off filtering through using (datafilter. Disable < isoftdelete > ()

Does this work only when the data is finally read?

How can I make some entities I query effective and soft delete, while some do not

[2022-05-24 01:54] maliming commented on #12704
Query the final result in the using statement.

[2022-05-24 02:09] #12632 closed, assigned to realLiangshiwei

[2022-05-24 02:41] luy710 commented on #12704
var queryable =  (await GetQueryableAsync()).Where(p=>p.Name != null);
           IQueryable<Test> queryableWithIncludeOther;
            using (DataFilter.Disable<ISoftDelete>())
            {
                queryableWithIncludeOther = queryable.Include(p => p.TestOthers).Where(p=>p.Price!=0);
            }
            var  list = await queryableWithIncludeOther.ToListAsync();

            IQuer

[2022-05-24 02:56] maliming commented on #12704
[code]

[2022-05-24 03:02] luy710 commented on #12704
In this way, Test will also be disabled filtering

[2022-05-24 03:05] maliming commented on #12704
This is the current design.

[2022-05-24 03:33] rajgog commented on #12711
Hello @maliming,
No, I haven't used the Autofac module.

[2022-05-24 03:51] maliming commented on #12711
Please use it https://docs.abp.io/en/abp/latest/Autofac-Integration

[2022-05-24 03:55] rajgog commented on #12711
Sorry, but why is it required to use? Is it necessary to make audit logs work?
Also, integrating audit logs doc doesn’t mention anything about it.

[2022-05-24 04:10] maliming commented on #12711
https://docs.abp.io/en/abp/latest/Dependency-Injection#property-injection

[2022-05-24 04:15] rajgog commented on #12711
Ahh i see it here,

`While ABP has no core dependency to any 3rd-party DI provider, it's required to use a provider that supports dynamic proxying and some other advanced features to make some ABP features properly work. Startup templates come with Autofac installed. See [Autofac integration](https://docs.abp.io/en/abp/latest/Autofac-Integration) document for more information.`

Let me try adding

[2022-05-24 04:19] #12711 closed, assigned to maliming

[2022-05-24 04:38] luy710 commented on #12704
ok  thank you

[2022-05-24 04:49] #12704 closed, assigned to nobody

[2022-05-24 05:07] #12280 closed, assigned to malikmasis

[2022-05-24 05:30] enisn commented on #12546
There is nothing specific to blazor. Global Features are defined in **Domain.Shared** and they're shipped to blazor wasm & server.

It's same with this section: https://docs.abp.io/en/abp/5.3/Global-Features#check-for-a-global-feature

Should we share a reference to this section?

[2022-05-24 06:06] hikalkan opened #12724 "ABP-integrated MAUI application startup template"
Just like the WPF template (https://docs.abp.io/en/abp/latest/Startup-Templates/WPF), we can create a very simple startup project for MAUI. This will be minimal (no backend) and will add minimal ABP packages (like https://github.com/abpframework/abp/blob/dev/templates/wpf/src/MyCompanyName.MyProjectName/MyCompanyName.MyProjectName.csproj#L12)

How to use:

[code]

Project may contain a `HelloWorld

[2022-05-24 06:50] realLiangshiwei opened #12725 "Distributed Event Bus for RocketMQ"
[RocketMQ](https://github.com/apache/rocketmq)

[2022-05-24 06:51] AliNemati22 opened #12726 "call an action without Authorization status code error"
hello
when I try to call an action but i didn't authorized . Action returns 200 status code

who i can manage this error  and get relevant status code like 401,403

![XC](https://user-images.githubusercontent.com/30621563/169965882-5b1262b6-ebc2-455b-98f0-b21610eccf91.jpg)

[2022-05-24 06:55] wr404274848 commented on #11487
can you share your AbcRabbitMqDistributedEventBus.cs file,very appreciated

[2022-05-24 07:56] rajgog commented on #12711
Adding autofac resolved the issue. It seems autofac is a mandatory 3rd-party DI provider that needs to be added in dependency for many of abp features to work. Thanks @maliming

[2022-05-24 08:18] maliming commented on #12726
* Your **ABP Framework version**.

[2022-05-24 08:46] rqx110 opened #12728 "Missing `abp build` command section in cli document"
In the [document](https://docs.abp.io/en/abp/latest/cli#options-11), there is only a `build` option section, missing description about `build` section.
![image](https://user-images.githubusercontent.com/1829209/169990125-d9e267b6-3f82-45f2-aa0a-e83945f9f498.png)

[2022-05-24 09:49] #12728 closed, assigned to realLiangshiwei

[2022-05-24 09:49] realLiangshiwei commented on #12728
Thanks for report @rqx110

[2022-05-24 10:00] j0nimost opened #12731 "Consider implementing `ISO 8601` DateTime Standard"
Looking at `IClock` implementation https://github.com/abpframework/abp/blob/04b4019263c61349a69a7f5e1987829c801bd205/framework/src/Volo.Abp.Timing/Volo/Abp/Timing/Clock.cs#L16-L40
The DateTime generated lacks timezone designators. Considering that this interface is used to set `IHasCreationTime` and others. My proposals include;
- Either we have an extra set of interfaces that use `DateTimeOffset`

[2022-05-24 10:08] maliming commented on #12731
hi

We have no plans to refactor this class. It works fine so far, if you have problems please share details and steps to reproduce.

For NpgSQL DateTime problem see https://github.com/abpframework/abp/issues/11357

[2022-05-24 10:17] j0nimost commented on #12731
the link to https://github.com/abpframework/abp/issues/11357 answered my question.

[2022-05-24 10:17] #12731 closed, assigned to nobody

[2022-05-24 10:41] hikalkan opened #12735 "abp update command should update all solutions in sub-folders"
Consider the scenario where a folder that has subfolders and each folder contains a different solution (sln file) with multiple projects (csproj or  Angular projects). It should upgrade all of them when I run in the root folder.

[2022-05-24 10:47] 274188A opened #12736 "Could not find the bundle file '/libs/bootstrap/css/bootstrap.css' for the bundle 'Blazor.BasicTheme.Global'!"
Steps to reproduce:
goto abp.io
select blazor server
download
run migrate
run app <- exception thrown below

**Exception:**

   at Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsync(ViewContext viewContext, TagHelper tagHelper, TagHelperContext context, TagHelperOutput output, List`1 bundleItems, String bundleName)
   at Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagH

[2022-05-24 10:50] berkansasmaz commented on #12736
Can you run `abp install-libs` in the Blazor project and try again?

[2022-05-24 10:52] 274188A commented on #12736
Sorry - yes forgot that step

[2022-05-24 10:52] #12736 closed, assigned to nobody

[2022-05-24 11:39] #12735 closed, assigned to yekalkan

[2022-05-24 12:53] gdlcf88 commented on #10036
Can we implement the inbox pattern by delayed ACK? That will support multi-tenant and multi-database.

Assume we are using RabbitMQ. When the event bus receives a message, it doesn't ACK yet, but only processes the message (event). After that, it invokes the RabbitMQ API to ACK the msg above.

I think the outbox/inbox should be in an independent module (like `Volo.Abp.EventOutbox` and `Volo.Abp.Ev

[2022-05-24 13:09] freelearncoding commented on #4444
@mehmet-erim, is it possbile to overwrite  / customize text on unsaved changes popup screen?
![image](https://user-images.githubusercontent.com/86627409/170042479-51768416-b11d-47e1-9b91-9b6c494e5da1.png)

[2022-05-24 13:51] mehmet-erim commented on #4444
Hi @freelearncoding, this issue was closed 2 years ago so would you mind creating a new issue for that?

[2022-05-24 14:26] islam-b commented on #11408
`angular-oauth2-oidc` package uses rxjs operator **delay** to set the token expiration timer which is used to trigger the expiration event :
[code]

The issue occurs in the **delay** operator, it takes a max number value 2147483647 (as milliseconds), so when setting the access token lifetime (as seconds) big enough it will reach the limit and causes the unexpected behavior, (https://github.com/Rea

[2022-05-24 14:28] freelearncoding opened #12742 "Need to fine-tune abp-modal => unsaved changes warning Popup => UI customization"
Hi Team,

I have requirement to customize unsaved changes warning popup but i don't see any guide or properties to support that.
Can you please guide me for steps or please include in future Road Map?

* ABP Framework version: 4.4.4
* User Interface: Angular

Question: is it possbile to overwrite / customize text on unsaved changes popup screen?
https://user-images.githubusercontent.com/86627409/1

[2022-05-24 14:29] freelearncoding commented on #4444
@mehmet-erim , Done! [#12742](https://github.com/abpframework/abp/issues/12742)

[2022-05-24 14:34] f-belhocine commented on #11408
Many thanks for the detailed explanation.

[2022-05-24 15:57] memhi commented on #12726
i also have this problem with version 6

[2022-05-24 16:56] ikappas commented on #12726
@maliming I get the same error on ABP Framework 5.2.2

I reproduced the issue in the default MVC project template where the HttpAPI is hosted on the same port with the Web and the user is not authorized to have access to the called API resource.

Calling the API method gets a response status 200 with a body of the rendered HTML page with an `Access Denied!` error message with a `You do not have ac

[2022-05-25 01:04] maliming opened #12745 "Add a command to update the CLI"
`abp update cli` or `abp cli update`

[2022-05-25 01:10] maliming commented on #12726
hi all

See https://github.com/abpframework/abp/issues/9926

[2022-05-25 03:05] journey191 opened #12747 "how to disable audit logging for appservices by type or name selectors"
I want to disable audit logging for  some appservice from diffrent modules,can I make it by type(or name) selector instead of overriding appservice (add `[DisableAuditing]` attribute) 1 by 1?

[2022-05-25 03:26] maliming commented on #12747
Try to override the [AuditingHelper](https://github.com/abpframework/abp/blob/46de78b1b8bd1d7dff06e808179d08c0c3c958ca/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingHelper.cs#L55)

[2022-05-25 07:06] berkansasmaz opened #12749 "docs module: it throws an error when trying to get the latest version"
`NullReferenceException: Object reference not set to an instance of an object.`

https://github.com/abpframework/abp/blob/fd45bfeb23bc08f6dddb62d34b22e61f7cbbc70e/modules/docs/src/Volo.Docs.Web/Pages/Documents/Project/Index.cshtml.cs#L81

[2022-05-25 07:23] hikalkan commented on #12662
Thanks @kevinchalet and @maliming for your comments.

[2022-05-25 07:31] journey191 commented on #12747
OK,then

[2022-05-25 07:31] #12747 closed, assigned to nobody

[2022-05-25 08:17] brunobertechini commented on #12190
Could you please provide more info on what it does? We are having this exception when we publish our solution using docker.

Is this `abp install-libs` command required as part of CI to actually build an usable docker image?

[2022-05-25 09:22] xiongjx commented on #12193
Me Too!
5.2.2
Angular
Commercial Version

[2022-05-25 10:13] berkansasmaz commented on #12749
It was resolved with #12751.

[2022-05-25 10:13] #12749 closed, assigned to berkansasmaz

[2022-05-25 11:59] sahvey commented on #9926
[code]

When i set it as above, when i use postman or swaggere, only Error codes such as 401 or 403 are returned as seen below.
![Error2](https://user-images.githubusercontent.com/46441777/170256697-154bb1f6-8603-4100-8c5c-3c8ed2c76382.png)

However, as seen below, an error should be returned according to the 401 or 403 error message template.
![Error1](https://user-images.githubusercontent.com/46

[2022-05-25 12:00] sahvey commented on #12726
[code]

When i set it as above, when i use postman or swaggere, only Error codes such as 401 or 403 are returned as seen below.
![Error2](https://user-images.githubusercontent.com/46441777/170256697-154bb1f6-8603-4100-8c5c-3c8ed2c76382.png)

However, as seen below, an error should be returned according to the 401 or 403 error message template.
![Error1](https://user-images.githubusercontent.com/46

[2022-05-25 12:03] mahmut-gundogdu opened #12753 "Update @ngx-validate/core"
### GitHub Issues
new version of @ngx-validate/core is released. It should be updated.

GitHub issues are for bug reports, feature requests and other discussions about the framework.

[2022-05-25 12:36] maliming commented on #12726
This is JWT Bearer authentication behavior. It's by design.

https://github.com/dotnet/aspnetcore/blob/fd1891536f27e959d14a140ff9307b6a21191de9/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L214
https://github.com/dotnet/aspnetcore/blob/fd1891536f27e959d14a140ff9307b6a21191de9/src/Security/Authentication/JwtBearer/src/JwtBearerHandler.cs#L288

[2022-05-25 12:39] maliming commented on #12190
Install NPM Packages for MVC / Razor Pages and Blazor Server UI types.

It will run automatically after creating a project by CLI.

You can build a docker image after this command. only need onece.

[2022-05-25 13:09] ismcagdas commented on #12089
@maliming do you have a clue why those emails are marked as spam ? As far as I can check, there is no misconfiguration on email sending side. Even if we do everything propertly, an email can be marked as spam.

[2022-05-25 14:45] 1d0n7kn0w opened #12756 "How can I define settings for Azure BLOB Storage in appsettings.json?"
I tried adding this to my appsettings.json but not working
[code]

[2022-05-25 17:58] hikalkan opened #12757 "ABP version 5.4 has been changed to version 6.0"
We had planned to release the version 5.4.0-rc.1 on June 28. However, we've decided to skip the 5.4 version and release it as 6.0 at the same date. There are a few reasons for that, including;

* We've completed the OpenIddict integration earlier than we expect. With the next version, startup templates will come with OpenIddict instead of IdentityServer. This won't be a breaking change for existin

[2022-05-25 18:10] #12662 closed, assigned to maliming

[2022-05-25 18:24] #12203 closed, assigned to hikalkan, enisn

[2022-05-25 18:24] #12681 closed, assigned to hikalkan

[2022-05-25 23:51] realLiangshiwei commented on #12756
See: https://docs.abp.io/en/abp/latest/Blob-Storing-Azure#configuration

[code]

[2022-05-26 00:53] maliming commented on #12089
Different countries or mail providers have different policies. For example, receiving foreign language mail may be considered spam. We can recommend developers set `abp.io` to allowlist.

[2022-05-26 01:08] maliming opened #12758 "Check the new version of `Autofac`"
The new version contains breaking changes.

https://github.com/autofac/Autofac/releases/tag/v6.4.0
https://github.com/autofac/Autofac.Extensions.DependencyInjection/releases/tag/v8.0.0

[2022-05-26 02:10] galabaoche opened #12759 "MongoRepository UpdatManyAsync auto set delete audit propery"
[code]

[2022-05-26 02:12] galabaoche commented on #12759
miss softDeleteEntity.IsDeleted condition

[2022-05-26 05:52] #12461 closed, assigned to enisn

[2022-05-26 06:01] #12759 closed, assigned to realLiangshiwei

[2022-05-26 07:20] #8456 closed, assigned to enisn

[2022-05-26 08:30] weiwxg opened #12764 "How to set LogoUrl in a multi page application"
I set LogoUrl in my BrandingProvider as bellow
[code]
It works fine on the Home page, but cannot worked on the identity management page which points to the path: /identity/logo.ico

how should i set LogoUrl in this scenario

[2022-05-26 08:58] #12540 closed, assigned to mahmut-gundogdu

[2022-05-26 08:59] roc916 commented on #12764
Try add '/'
`public override string LogoUrl = "/logo.ico"`

[2022-05-26 09:03] #12764 closed, assigned to nobody

[2022-05-26 10:18] leonkosak commented on #12757
Great! Seems logical to me.
Will be able to upgrade (make transition) from IdentityServer to OpenIddict for existing solutions?

[2022-05-26 10:32] hikalkan commented on #12757
@leonkosak yes, we will be preparing a migration guide.

[2022-05-26 10:33] hikalkan opened #12769 "Create a guide to migrate from IdentityServer to OpenIddict for existing solutions"

[2022-05-26 12:40] weiwxg opened #12771 "Cannot resolve section 'styles' and section 'scripts' in template"
Mvc project throw Cannot resolve section 'styles' and section 'scripts' while open solution in Jetbrains Rider 2022.1.1

![G_HB91B8V% IP2%OGFGCTYX](https://user-images.githubusercontent.com/24971860/170489556-58c4df05-9cef-4788-8c84-5f5b717c60a8.png)

[2022-05-26 13:03] maliming commented on #12771
It's a Rider problem and there's nothing we can do about it.

[2022-05-26 13:03] #12771 closed, assigned to nobody

[2022-05-26 13:11] demirmusa opened #12772 "CMS Kit: has-blogpost-waiting-for-review request error"
Website requests has-blogpost-waiting-for-review eventhough I dont have permission and that causes unexpected prompt when I open blog posts
![image](https://user-images.githubusercontent.com/48536631/170493926-9ce00ab2-9874-44af-8b96-498e8f7ec6db.png)

[2022-05-26 14:12] 1d0n7kn0w commented on #12756
Yes I can do that, but the way abp normally does things either via class config or via appsettings.json
Like in AbpAzureServiceBusModule (via appsettings.json) , I would like something like that for Azure BLOB Storage module

[code]

[2022-05-26 15:15] roc916 opened #12775 "Unable to display the `Return to application` button"
ABP Framework version: 5.3.0-rc.2
User Interface: MVC
Tiered: true

![120225262313516](https://user-images.githubusercontent.com/12685126/170518144-1a8931f8-04f1-4488-8cee-94c1b78dd461.gif)

[2022-05-26 15:49] ozdemiribrahim07 opened #12776 "Unable to display DataTable"
I am doing as written in the documentation but the javascript file is giving this error every time.
What change do I need to make in the js file?

"DataTables warning: table id=BooksTable - Requested unknown parameter 'name' for row 0, column 0."

![fffff](https://user-images.githubusercontent.com/60386171/170524735-f1e3ade6-ae17-4ded-b077-ffec1ef1911b.PNG)

[2022-05-26 18:46] roc916 commented on #12256
Related with https://github.com/serilog/serilog-sinks-console/issues/123

[2022-05-27 00:19] realLiangshiwei opened #12777 "Update all samples to the latest version"
When 5.3 is released.

[2022-05-27 00:19] maliming commented on #12776
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-05-27 01:55] #12775 closed, assigned to nobody

[2022-05-27 05:02] maliming opened #12781 "`IsYarnAvailable` problem."
![image](https://user-images.githubusercontent.com/6908465/170632752-ea6d7584-48f1-46be-841f-88b7341bb0a1.png)

Reproduce:

1. `npm install twilio-cli -g`
3. `npm list yarn -g`

We can use ` npm list yarn -g  --depth 0` to resolve.

[2022-05-27 05:28] maliming opened #12783 "Create a demo to `Disable concurrent user login` [Cookie and Identity Server]"

[2022-05-27 07:46] DonVliet opened #12787 "Commercial Live Demo returns a 500 error"
https://commercial.abp.io/demo

![image](https://user-images.githubusercontent.com/69393775/170654139-511af981-c4da-41fc-93e6-97cb951db903.png)

[2022-05-27 07:56] maliming commented on #12787
hi

You can try it in Chrome incognito mode.

[2022-05-27 08:44] DonVliet commented on #12787
Thanks, I just wanted to make you aware of it :-)

[2022-05-27 08:44] #12787 closed, assigned to nobody

[2022-05-27 09:04] #12781 closed, assigned to maliming

[2022-05-27 12:49] leonkosak opened #12788 "Could not load type 'Volo.Abp.Authorization.Permissions.PermissionDefinitionProvider'"
abp module upgraded from v4.2.2 to v5.2.1.
abp application is v5.2.1.

When I am trying to include HttpApi.Client from this module in application in .Application layer, the following error appears.
Module itself runs without problems. Application runs well.

Could not load type 'Volo.Abp.Authorization.Permissions.PermissionDefinitionProvider' from assembly 'Volo.Abp.Authorization, Version=5.2.1.0,

[2022-05-27 17:08] teacher-zhou opened #12789 "Localization is not working well after deployment with production environment"
* Abp Version: 5.2.0
* Blazor Server
* EF Core

All localization is missing after deploying to IIS, I have follow the issue from [https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyCompanyName.MyProjectName.Domain.Shared.csproj#L28](https://github.com/abpframework/abp/blob/dev/templates/app/aspnet-core/src/MyCompanyName.MyProjectN

[2022-05-27 17:09] bartvanhoey opened #12790 "Update ABP CLI - error NU1301: The local source xxx doesn't exist."
### Hi Abp

Today I encountered a strange problem when trying to update the CLI. This is the error message I received

[code]

And it is correct that C:\Data\SourceGenerator
s\src\NetEscapades.EnumGenerators\bin\Debug does not exist as I deleted the whole SourceGenerator folder last week or so when I cleaned up my computer

Although I do not understand why I got this failure, I solved the problem

[2022-05-27 19:01] bartvanhoey commented on #12790
with the steps above I could create a new ABP Framework project but I still had the same issue when restoring the project.

C:\Users\bartv\AppData\Local\Temp\neyrdsnp.q3o\restore.csproj : error NU1301: The local source 'C:\Data\SourceGenerator
s\src\NetEscapades.EnumGenerators\bin\Debug' doesn't exist.

Then somewhere on StackOverflow I found that you could find the Nuget.Config file on the %userp

[2022-05-27 19:01] #12790 closed, assigned to nobody

[2022-05-27 20:03] gdlcf88 opened #12791 "Please allow custom inbox/outbox implementations"
The `IHasEventOutbox` and `IHasEventInbox` limits the box entities structure.
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/IHasEventOutbox.cs#L5-L8
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.MongoDB/Volo/Abp/MongoDB/DistributedEvents/I

[2022-05-27 23:29] realLiangshiwei commented on #12789
* Steps needed to **reproduce** the problem.

[2022-05-28 02:32] teacher-zhou commented on #12789
Just a new deployment using `dotnet publish -c release`, and use IIS to test deployment in local computer

[2022-05-28 03:55] realLiangshiwei commented on #12789
There is no problem,  you can use Abp CLI to create a new project and deploy it to IIS.

![image](https://user-images.githubusercontent.com/16813853/170808826-aa8ae51a-259a-447d-87ae-299bb149fa2b.png)

[2022-05-28 05:05] AliNemati22 commented on #12726
hi
in which file i must put this code?

[2022-05-28 16:05] xuanhe168 commented on #887
I need to actually change the value in CurrentUser instead of short-term mocking how to do it?

[2022-05-28 18:31] xuanhe168 opened #12795 "ICurrentUser value where is from? Why Id is always empty IsAuthenticated is always false"
![87a785af2d8ef92302ab83939253de4](https://user-images.githubusercontent.com/37821420/170838467-a4fbf057-27a7-49be-aa8b-fbe265897230.png)

[2022-05-29 00:12] realLiangshiwei commented on #12795
See: https://github.com/abpframework/abp/blob/dev/docs/en/CurrentUser.md#changing-the-current-principal

`UserId` must be GUID value.

You can change it in custom middleware

[2022-05-29 00:12] #12795 closed, assigned to nobody

[2022-05-29 05:19] Kastrcn opened #12796 "modules web razor hot reload not work"
<img width="480" alt="image" src="https://user-images.githubusercontent.com/19508899/170853404-d99cf1ad-22c1-4ab8-a8d8-15754bfb11df.png">

modules  web razor hot reload not work
src web razor hot reload work

hot to  modules hot reload  work?

[2022-05-29 06:43] TIMPICKLE commented on #6384
I also meet this issue，so there is an alternative solutions. when you upload a file, don't use "IFromFile" type. try to create another Dto, and one of its properties is " public string fileContent{ get;set; }". like this
[code]
so in frontend(i use angular).  generate a proxy base on ABP, than follow the "ReportsUploadDto" type. After that, the string obtained from Base64  should be converted into

[2022-05-29 07:01] maliming commented on #12796
hi

You can try the same project structure without ABP in asp net core.

[2022-05-29 10:44] mhkhub opened #12798 "Hosting on Serverless , AWS Lambda & Azure without dockers"
Please explain the content (an article or a video tutorial) that you would like to see on the ABP Community website, https://community.abp.io.

Before creating your own request, please check existing requests: https://github.com/abpframework/abp/labels/community-article-request

[2022-05-29 18:34] #12788 closed, assigned to nobody

[2022-05-30 01:17] YoChen commented on #12589
thanks, I 'll rry it again.

[2022-05-30 01:36] maliming commented on #12726
hi

In your startup project(`Web`).

[2022-05-30 01:37] #12589 closed, assigned to nobody

[2022-05-30 02:52] #12783 closed, assigned to maliming

[2022-05-30 06:25] berkansasmaz opened #12801 "Test docs module while offline"
It will be test how we get results when GitHub is inaccessible and there is relevant data in the database.

[2022-05-30 06:50] berkansasmaz opened #12802 "There is an overlaps problem in the options of the document"
<img width="1680" alt="Screen Shot 2022-05-30 at 09 47 05" src="https://user-images.githubusercontent.com/31216880/170933261-7599ef28-448a-44fe-9351-6b4f9ed1b943.png">

[2022-05-30 07:11] enisn opened #12803 "CMS Kit - Remove `/pages` prefix from pages"
When a page created, is has default `/pages/{page-slug}`.

Only `/{page-slug}` can be used as page url.

[2022-05-30 10:38] barnybadzoo opened #12808 "Abp-cli switch command doesn't update projects in subfolders, doesn't use the sln file"
* Abp 5.3 RC *.
* Blazor Server*
* EFCore and MongoDB*

We have organizied our projects in the folder structure besides the src and test folder in subfolders like "projectx". If we use abp switch command it only updates the projects in the root of src and test, and skips subfolders. It doesn't seam to use the Visual Studio sln Project File to find the correct locations of the subprojects to update

[2022-05-30 15:10] gaojianzhuang opened #12810 "System.InvalidOperationException: Navigation property 'Claims' on entity of type 'IdentityUser' cannot be loaded because the entity is not being tracked. Navigation properties can only be loaded for tracked entities."
* ABP Framework version: 3.3.2.
* User Interface Razor Pages
* EF Core
* Exception message and **stack trace** if available (check the logs).

[code]

* Steps needed to **reproduce** the problem.
[code]
Always I clear my local cookie, it works fine again. but after the session time out, the error will occour again.

[2022-05-30 19:58] #12272 closed, assigned to EngincanV

[2022-05-30 19:58] #12273 closed, assigned to EngincanV

[2022-05-30 22:47] 15937823 commented on #12642
Have you run abp install-libs?

[2022-05-31 00:38] weiwxg commented on #12532
The link is broken!

[2022-05-31 00:54] maliming commented on #12810
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identity/src/Volo.Abp.Identity.AspNetCore/Volo/Abp/Identity/AspNetCore/AbpSecurityStampValidator.cs#L13
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identity/src/Volo.Abp.Identity.AspNetCore/Volo/Abp/Identity/AspNetCore/AbpIdentityAspNetCoreModule.cs#L26-L28

[2022-05-31 03:00] weiwxg opened #12814 "Host terminated unexpectedly!"
[code]

[2022-05-31 03:58] JadynWong commented on #12814
It does not affect your migration generation.

https://github.com/dotnet/runtime/issues/60600

[2022-05-31 04:01] #12814 closed, assigned to nobody

[2022-05-31 05:12] #11827 closed, assigned to braim23

[2022-05-31 05:12] hikalkan commented on #11827
I suppose we can close this.

[2022-05-31 05:12] enisn commented on #12642
Try to run `abp install-libs` in your project folder

[2022-05-31 06:52] amirhossein92 commented on #6523
I had the same problem and resolved it by adding the `<GenerateEmbeddedFilesManifest>true</GenerateEmbeddedFilesManifest>`
as described in [abp virtual file documentation](https://docs.abp.io/en/abp/latest/Virtual-File-System#embedding-the-files)

[2022-05-31 07:02] #12758 closed, assigned to maliming

[2022-05-31 07:13] duyht56 commented on #12756
- [x] 1. **_mm***_***

[2022-05-31 07:17] markfilan commented on #1072
This error indicates that the server has determined that you are not allowed access to the thing you've requested, either on purpose or due to a misconfiguration . It's probably because the site owner has limited access to it and you don't have permission to view it. The vast majority of the time, there's not much you can do to fix things on your (*client) end. There are four common causes for [40

[2022-05-31 07:46] muhammedaltug opened #12820 "Fix UI Angular wrong state nonce error"
related support question: https://support.abp.io/QA/Questions/2988

related issue in angular-oauth2-oidc library : https://github.com/manfredsteyer/angular-oauth2-oidc/issues/728

[2022-05-31 07:55] Sampan-Lee commented on #4339
I must remove "/api/app" prefix, not only "/app".

[2022-05-31 08:17] #10954 closed, assigned to demirmusa

[2022-05-31 08:18] enisn opened #12822 "CMS Kit - Tags design seems broken"
![image](https://user-images.githubusercontent.com/23705418/169062406-36ac23c4-f90b-4eb5-b1c6-4bc51a04971f.png)
There is some visual issues on tags right now

_Originally posted by @enisn in https://github.com/abpframework/abp/pull/12511#pullrequestreview-977044600_

[2022-05-31 08:44] ebicoglu commented on #12478
Real world example:
When you sign in from drive.google.com it redirects you to the account.google.com . you sign out from drive.google.com , then it redirects you back to  account.google.com . finally you sign in from account.google.com  but it redirects you to drive.google.com . it doesn't stay on account.google.com.
so we should keep the main application url in returnUrl and redirect back to it.

[2022-05-31 09:39] muhammedaltug commented on #12241
Hello,

It will be fixed in the next 5.2 version. Thanks for reporting the issue

[2022-05-31 09:39] #12241 closed, assigned to muhammedaltug

[2022-05-31 11:12] #4649 closed

[2022-05-31 11:49] sahinelik-infoline opened #12828 "ABP nugget packages problem"
ABP nugget packages problem

[2022-05-31 11:55] EngincanV commented on #12828
Thanks for reporting the problem. We are aware of this problem and will fix it asap.

[2022-05-31 11:55] #12828 closed, assigned to nobody

[2022-05-31 13:02] EngincanV commented on #12828
NuGet Package problem is fixed. FYI @sahinelik-infoline .

[2022-05-31 13:54] gaojianzhuang commented on #12810
Thanks. You mean the "AbpSecurityStampValidator" class cause this issue, right?

[2022-05-31 14:03] gterdem commented on #12478
Is creating different layout for identityserver templates (like account.abp.io) the final decision to proceed with this issue?
@ebicoglu Can you confirm?

[2022-05-31 14:58] gaojianzhuang commented on #12810
Thanks so much. It works fine for me. I have added these codes in the identity project.

[2022-05-31 14:58] #12810 closed, assigned to nobody

[2022-05-31 15:18] berkansasmaz opened #12829 "Parameter is not passed when I try to access the value of localization."
**Expectation:** I expect the following two cases to pass the parameter in the same way.

### Case-1:
**Code**
[code]
**Output:**
`<title>ABP Complete Web Development Platform : Test</title>`

### Case-2:
**Code**
[code]
**Output:**
`<title>ABP - Complete Web Development Platform : {0}</title>`

**Note:** You can use [this](https://commercial.abp.io/startup-templates) page to reproduce the problem

[2022-05-31 19:13] Kastrcn commented on #12796
AbpVirtualFileSystemOptions not config
hot reload not work
config filepath   is work
thinks!

[2022-05-31 19:13] #12796 closed, assigned to nobody

[2022-05-31 19:51] gdlcf88 opened #12831 "Resolve OutboxSender and InboxProcessor for specified ImplementationType"
Hi, I am creating [another event-boxes implementation](https://github.com/EasyAbp/Abp.EventBus.Boxes.Dtm) that doesn't need the default OutboxSender and InboxProcessor.

Could you please allow different OutboxSender and InboxProcessor for other event-boxes implementations? Thanks.

[2022-06-01 00:45] xewn opened #12833 "Tenant Independent Configuration Database Connection String"
The authorization service is allowed to configure independent connection strings. But there is no need to configure it manually, a default connection string can be automatically generated. For example, the database name is automatically generated, and the account password can be modified.
There is no way to configure connection strings for each microservice. How is this achieved?

[2022-06-01 02:03] maliming commented on #12829
`@L["AbpCommercialMetaTitle", "Test"].Value`

The `Value` means `The original resource string, prior to formatting with any constructor arguments.`

[2022-06-01 04:43] roc916 opened #12834 "Unable to find some nuget packages for version `5.3.0-rc.3`."
e.g.
[Volo.Abp.UI.Navigation](https://www.nuget.org/packages/Volo.Abp.UI.Navigation)
[Volo.Abp.Account.HttpApi.Client](https://www.nuget.org/packages/Volo.Abp.Account.HttpApi.Client)
[Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared](https://www.nuget.org/packages/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared)

build logs
[code]

[2022-06-01 06:13] maliming commented on #12834
Fixed now.

[2022-06-01 06:13] #12834 closed, assigned to nobody

[2022-06-01 06:48] #12829 closed, assigned to nobody

[2022-06-01 07:31] fatihskilic opened #12835 "When using ngModel in Select-Option, NgOnInit calling more than one."

[2022-06-01 07:32] fatihskilic opened #12836 "NgOnInıt calling more than one when using toolbar-actions."

[2022-06-01 07:39] realLiangshiwei opened #12837 "Tree in RTL does not work well"
Related: https://support.abp.io/QA/Questions/3166/jsTree-in-RTL-does-not-work-well

[2022-06-01 07:57] ebicoglu commented on #12478
we'll change the IDS design like this https://github.com/abpframework/abp/issues/12478#issuecomment-1127636806

[2022-06-01 09:18] mtozlu commented on #6496
For future reference you can solve it like this;
`abp generate-proxy -t ng -u https://localhost:44339`

Thanks to @mustafaekicics
https://github.com/abpframework/abp/issues/12664#issuecomment-1132397107

[2022-06-01 11:55] hikalkan opened #12842 "Single-project startup template should not depend on Redis by default"
I've created a new project with 5.3.0-rc.3:

[code]

When I run `migrate-database.ps1` it, I am getting error:

![image](https://user-images.githubusercontent.com/1210527/171398330-d99bc34c-c4e7-444d-9f36-1c3017eef294.png)

There are two problems here:

- First of all, even if we install redis, there is no need to use it for migration phase.
- Also, single-layer startup is thought for simplicity a

[2022-06-01 12:34] mahmut-gundogdu opened #12844 "Missing mock services in Angular Testing"
Angular has a missing mock service for example  EnvironmentService doesn't have mock service.

Related #10515

[2022-06-01 12:34] mahmut-gundogdu commented on #10515
Hi .  I saw some missing mock-service in angular.  We have talked with the Angular team and we will handle the issues in 5.3. For a now I have created an example that works with the current version. You can check this  https://gist.github.com/mahmut-gundogdu/d300cedc226992bd5410f85265fd386d

here you can check the status of fix https://github.com/abpframework/abp/issues/12844

[2022-06-01 12:34] #10515 closed, assigned to mahmut-gundogdu

[2022-06-01 12:36] #12753 closed, assigned to mahmut-gundogdu

[2022-06-01 13:27] hikalkan opened #12849 "Test the Single-Layer Quick Start Tutorial"
We should test this with different configurations.

* Document URL: https://docs.abp.io/en/abp/5.3/Tutorials/Todo/Single-Layer/Index
* Use the **5.3.0-rc.3** preview version by specifying the `--preview` parameter to the `abp new` command.

### TODO

- [x] MVC & EF / @braim23
- [x] MVC & MongoDB / @malikmasis (tested, seems well)
- [x] Angular & EF / @maliming
- [x] Angular & MongoDB / @demirmusa

[2022-06-01 14:08] gdlcf88 opened #12851 "Making the event box selectors orderly"
Outboxes and inboxes with a `null` Selector should have the lowest priority as they are the fallback ones.

[2022-06-01 16:10] kfrancis commented on #12642
Sorry, I did - didn't seem to help at the time.

[2022-06-01 20:21] tarikdevapp opened #12854 "Remember me doesn't work"
Using Abp 3.3.2 in the backend with Angular.
Im using the Account module, the same one in the docs.

Leaving remember me unchecked and closing the broswer and reopening it just to finds that I am still logged in.

I even used the latest version of abp to create a new app with angular ui and the same problem is still there!

I'd appreciate any help

[2022-06-01 22:14] tellaconz opened #12855 "App settings with periods and Azure app service config incompatible"
Any ideas or alternatives here?

Settings in Abp use periods eg https://docs.abp.io/en/abp/latest/Emailing#email-settings

But Azure App Services configuration system doesn't allow them

"App setting names can't contain periods (.). If an app setting contains a period, the period is replaced with an underscore in the container."

https://docs.microsoft.com/en-gb/azure/app-service/configure-common?

[2022-06-02 02:04] maliming commented on #12854
The `Remember me` is work for MVC application. Can you check it?

[2022-06-02 02:05] maliming commented on #12855
See https://github.com/abpframework/abp/issues/6272

[2022-06-02 02:23] Nokecy opened #12856 "Hangfire Work job not Auto delete"

[2022-06-02 02:44] maliming commented on #12856
* Your **ABP Framework version**.
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-06-02 03:04] maliming commented on #12849
hi @demirmusa

Please change the `44331` to the MVC port of `angular\src\environments\environment.ts`

This problem has been fixed. https://github.com/volosoft/volo/pull/10456

[2022-06-02 03:14] realLiangshiwei commented on #12849
![image](https://user-images.githubusercontent.com/16813853/171545207-d00a57fc-e346-4b83-b411-4cf47d6abdbd.png)

### Should we update the image?
![image](https://user-images.githubusercontent.com/16813853/171545268-586cb5fa-1204-4ed2-bb59-c727ee980408.png)

[2022-06-02 03:20] #12837 closed, assigned to realLiangshiwei

[2022-06-02 03:43] #12789 closed, assigned to nobody

[2022-06-02 05:45] zengnanhua opened #12858 "Does abp protect large files upload from breakpoints"

[2022-06-02 06:16] Nokecy commented on #12856
1、use hangfire module
2、inherit  AsyncPeriodicBackgroundWorkerBase Implement a background worker
3、run for a while
4、remove background worker
Hangfire  job not remove

[2022-06-02 06:17] Nokecy commented on #12856
abp 5.3.0-rc.2

[2022-06-02 08:28] EngincanV commented on #12842
Redis is removed from `app-nolayers` template for both abp and commercial sides.

[2022-06-02 08:28] #12842 closed, assigned to EngincanV

[2022-06-02 14:01] EngincanV opened #12862 "Document theme option for CLI"
After https://github.com/abpframework/abp/issues/12650 is completed, document the `--theme` option in the **CLI** documentation.

[2022-06-02 14:25] tarikdevapp commented on #12854
@maliming yes but not for angular, the access token is always set in localstorage even when remember me is unchecked. I'd like a way to set the token in session when remember is unchecked so that when the browser is closed the token would get deleted.

[2022-06-02 16:11] enisn opened #12866 "Solve samesite cookie problem on eShopOnAbp"
In the docker-compose scenario samesite cookie policy problem occurs.

It can be solved with following method:
https://community.abp.io/posts/patch-for-chrome-login-issue-identityserver4-samesite-cookie-problem-weypwp3n

[2022-06-02 16:31] alexandis opened #12867 "How to dynamically load children nodes in TreeComponent?"
Hi.

You made use of Nz Tree component, but as I can see you have hidden a lot of features of this component. You have not supplied your TreeComponent with documentation either.
What I need now is:
1) how to prevent node deselecting?
2) how to dynamically load children nodes for the selected node? By default, I output only a root level of nodes. But in this case there is no ability to expand such

[2022-06-02 20:45] TarikElHajjam commented on #12854
!

[2022-06-02 20:45] TarikElHajjam commented on #12854
!

[2022-06-02 20:45] TarikElHajjam commented on #12854
!

[2022-06-02 22:38] alexandis commented on #12867
I've already implemented #2 using custom button handling custom handler:

[code]

Question #1  remains.

[2022-06-03 05:30] realLiangshiwei opened #12868 "Add messageId to Rebus event bus"

[2022-06-03 11:53] mustafaekicics opened #12870 "Problem in Angular : subscribe(next: null | undefined, error: (error: any) => void, complete?: () => void): Subscription;"
ABP Framework version : 5.2.2
User Interface : Angular
Your database provider : Ef Core
Exception message :

src/app/library/library.component.ts:58:13 - error TS2554: Expected 2-3 arguments, but got 1.

 58     request.subscribe(() => {
[code]
...
 61       this.list.get();
[code]
    An argument for 'error' was not provided.

Steps needed to **reproduce** the problem : https://docs.abp.io/en/abp

[2022-06-03 11:55] mustafaekicics commented on #12870
![image](https://user-images.githubusercontent.com/60320671/171848774-e83b2411-e868-42ba-8f6a-5f25950c6f40.png)
In addition before that step there was no problem. Creating was working but at update step I faced with this issue.

[2022-06-03 11:58] gaojianzhuang opened #12871 "Upgrade the ABP from 3.3.2 to 5.2.2, build errors"
My current project APB version: 3.3.2, it works fine.
I open the solution folder and use the ABP update command to upgrade:
![image](https://user-images.githubusercontent.com/1866009/171848867-62f62215-131e-4117-9523-58d8fb120016.png)
After that, I change my project target framework from 3.1 to 6.0:
![image](https://user-images.githubusercontent.com/1866009/171849043-5d7a8816-9307-402c-84f5-edcae8

[2022-06-03 13:16] gaojianzhuang commented on #12871
Reinstall the SDK, the build errors gone. Thanks.

[2022-06-03 13:16] #12871 closed, assigned to nobody

[2022-06-03 15:17] mustafaekicics commented on #12870
![error popup](https://user-images.githubusercontent.com/60320671/171882997-82f7462c-c117-4807-b38e-da9f3ee389e4.jpg)
Error pops up like this

[2022-06-04 07:12] gaojianzhuang opened #12894 "Converter for model type 'Dictionary<string, object>' cannot be used for 'Member.ExtraProperties' because its type is 'ExtraPropertyDictionary'."
ABP Framework Version: 5.2.2
I have upgraded my project from 3.2.2 to 5.2.2. After I have finished all the builder error, I try to do the database migration. But failed.
I noticed the "IExtraProperties" changed from 'Dictionary<string, object>' to 'ExtraPropertyDictionary' and I try to updated all the places.
After that, I do the migration operation but exception as below:
![image](https://user-im

[2022-06-04 07:18] gaojianzhuang commented on #12894
Resolve it as below:
![image](https://user-images.githubusercontent.com/1866009/171989073-5d42a6d1-da94-4d7b-8f8c-a7b2579d32b7.png)
Thanks.

[2022-06-04 07:18] #12894 closed, assigned to nobody

[2022-06-04 17:29] vedatermis commented on #5885
try this command:
abp generate-proxy -t ng --url https://localhost:44310

[2022-06-04 19:17] sahvey opened #12895 "Get PermissionGrants"
I have a Winform client project using Abp Framework. I'm logging in using OidcClient without any problems. But I can't get the list of permissions I've assigned roles or users. I need this list. Because I need to hide or show some buttons in the form based on the permissions of the logged in user.

I used the PermissionChecker class to get the list of permissions, but without success. What path sh

[2022-06-04 21:33] dicksonkimeu opened #12897 "Eshop for abp commercial ?"
Is there an eshop version for abp commercial ?

[2022-06-04 21:50] dicksonkimeu opened #12898 "Documentation on how add another sms provider"
How can add another provider, seems twilio is the only option.

[2022-06-04 23:50] cotur commented on #12898
Hello @dicksonkimeu ,

It's far easy to implement your own sms provider.

Please check this documentation part: https://docs.abp.io/en/abp/latest/SMS-Sending#implementing-the-ismssender

Also, at the open source part, you can find `Aliyun` SMS Provider.

See: https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.Sms.Aliyun

[2022-06-05 08:56] weiwxg opened #12900 "Does Tag-Helper support Bootstrap Floating Labels？"
Like the following:

[code]

[2022-06-05 10:25] ClementeGao opened #12901 "Whether Orleans can be imported?"

[2022-06-05 12:34] maliming commented on #12901
It is in the backlog, but we have no plan to do it yet. You can try to implement it yourself and are welcome to share your experience.

Duplicate of https://github.com/abpframework/abp/issues/8750

[2022-06-05 12:34] #12901 closed, assigned to nobody

[2022-06-05 14:01] SamirC554 commented on #5885
I uninstalled  and downgrade volo.abp.cli from 5.2.2 to 5.1.1 and it worked.
 dotnet tool uninstall -g volo.abp.cli
 dotnet tool install -g volo.abp.cli --version 5.1.1

[2022-06-05 17:28] xuanhe168 opened #12902 "There was no runtime pack for Microsoft.AspNetCore.App available for the specified RuntimeIdentifier 'browser-wasm"
NETSDK1082	There was no runtime pack for Microsoft.AspNetCore.App available for the specified RuntimeIdentifier

[2022-06-05 19:33] gterdem commented on #12897
Hello,

No, there is no commercial sample for eshop.

[2022-06-06 01:09] maliming commented on #12902
This is nothing do to with ABP.