[2022-06-06 01:09] #12902 closed, assigned to nobody

[2022-06-06 04:19] maliming commented on #12895
hi

You can get auth info from `api/abp/application-configuration` endpoint. or integration remote services like [AbpAspNetCoreMvcClientCommonModule](https://github.com/abpframework/abp/tree/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.AspNetCore.Mvc.Client.Common/Volo/Abp/AspNetCore/Mvc/Client)

https://github.com/abpframework/abp/blob/11acd2fe5250d01fad78b86ee177ee237c31ec44/f

[2022-06-06 06:06] EugeniZaplatin opened #12903 "Don't understandable recommendation in documentation"
On this page - https://docs.abp.io/en/abp/5.2/Best-Practices/Repositories  I see recomendation:
"Do not use generic repository interfaces (like IRepository<IdentityUser, Guid>) from the application code."
but in all examples I see usin this generic interface: for example https://docs.abp.io/en/abp/5.2/Application-Services#crud-application-services or in EShopOnAbp.CatalogService.
If I try use busi

[2022-06-06 06:49] lgadola opened #12904 "filter syntax in list services"
There is a filter property (string) in CRUD list services.
I have not found any description of the syntax to use here.
Could somebody please elaborate on these filtering possibilities?
Thank you

[2022-06-06 06:56] EngincanV opened #12905 "Blogging: Add markdown support to comment section of post detail page"
Markdown support can be added to comments.

[2022-06-06 06:56] lgadola opened #12906 "abp-generate error"
**abp** 5.2.2
Angular

Compiling newly generated proxy throws an error in typescript:
Error: src/app/proxy/microsoft/extensions/primitives/models.ts:2:40 - error TS2693: 'any' only refers to a type, but is being used as a value here.

2 export interface StringSegment extends any {
[code]

[2022-06-06 06:57] maliming commented on #12904
Can you share the code?

[2022-06-06 07:25] #12895 closed, assigned to nobody

[2022-06-06 08:38] weiwxg opened #12907 "How to receive a FileResult on form submit in Modal"
Here is my code:
[code]

[code]
I want to download file after clicked the Save button, but it did not!  So what should I do to download the file after clicking the Save button?

[2022-06-06 08:43] maliming commented on #12900
Not yet.

[2022-06-06 08:44] maliming commented on #12907
This is nothing to do with ABP.

[2022-06-06 08:44] #12907 closed, assigned to nobody

[2022-06-06 09:32] lgadola commented on #12904
sorry, I was mistaken.
Thought 'filter' was a standard property, but it is specific to IdentityUserAppService .
Thanks for your help.

[2022-06-06 09:32] #12904 closed, assigned to nobody

[2022-06-06 11:38] yangl1n opened #12911 "What would be the correct way to implement the Microsoft.Graph package into ABP app? InvalidOperationException: IDW10503"
- **ABP Framework version:** v5.2.2
- **UI type**: MVC
- **DB provider**: EF Core
- **Tiered (MVC) or Identity Server Separated (Angular)**: no

We are attempting to incorporate support for calling Microsoft Graph APIs in our ABP application, using the Microsoft.Graph package. We've already successfully implemented authentication using Azure AD accounts according to the directions in this post: [h

[2022-06-06 12:49] #4061 closed

[2022-06-06 13:26] maliming opened #12913 "Consider removing the `IAsyncInitialize` interface."

[2022-06-06 13:27] #12546 closed, assigned to mahmut-gundogdu, maliming, enisn

[2022-06-06 14:28] #12489 closed, assigned to EngincanV

[2022-06-06 15:23] #11841 closed, assigned to gterdem

[2022-06-06 15:53] sturlath opened #12916 "File chunking endpoint creates huge amounts of audit logging"
Hi I have a controller action that is uploading files using chunking. For a 1.7 GB file with my current chunk size that means 500 entries into the ~~AbpAuditLogActions~~ AbpAuditLogs table. The table becomes useless.

I need to be able to disable auditing on that particular action method but [DisableAuditing]  doesn´t  do that.

What is the best approach to accomplish this?

**ABP Framework versio

[2022-06-06 18:37] gterdem opened #12917 "eShopOnAbp: SignalR error on k8s & docker-compose. Url re-write to https"
- URL re-write for http to https
- SignalR error on docker-compose and k8s
![image](https://user-images.githubusercontent.com/25867/172224549-95dd4a02-7879-4dfa-b5c6-c83247065011.png)

[2022-06-06 19:26] hikalkan opened #12918 "Introduce ITransientCachedServiceProvider"
`ICachedServiceProvider` is useful to cache resolved services in a scope. However, if we don't want to deal with creating scopes, an `ITransientCachedServiceProvider` can be useful. It still caches all the resolved services, but the service itself is transient. That means you get a different cache whenever you resolve `ITransientCachedServiceProvider`. Notice that `ICachedServiceProvider` is itsel

[2022-06-06 19:48] #12918 closed, assigned to hikalkan

[2022-06-07 00:43] maliming commented on #12916
* Steps needed to **reproduce** the problem.

[2022-06-07 02:04] realLiangshiwei commented on #12870
You can check the source code: https://github.com/abpframework/abp-samples/tree/master/BookStore-Angular-MongoDb

[2022-06-07 02:14] realLiangshiwei commented on #12903
You can of course use a business interface, but you should make the interface Implement `IRepository<,>` interface.

For example:

[code]

See: https://github.com/abpframework/abp/issues/7068

[2022-06-07 02:17] #12419 closed, assigned to maliming

[2022-06-07 02:18] #12611 closed, assigned to maliming

[2022-06-07 06:14] #12849 closed, assigned to gterdem, maliming, malikmasis, realLiangshiwei, demirmusa, braim23

[2022-06-07 07:28] sturlath commented on #12916
Upload a file with chunk uploading using [Syncfusion Blazor File Upload Component](https://blazor.syncfusion.com/documentation/file-upload/chunk-upload) (or any other chunk upload library you can find) and see every call being saved to the ~~AbpAuditLogActions~~ AbpAuditLogs table.

Basically like the Syncfustion code
[code]

Mine is like this (because of various reasons)

[code]

Since its called

[2022-06-07 08:01] maliming commented on #12916
Full steps or code. Thanks

[2022-06-07 08:06] #12898 closed, assigned to nobody

[2022-06-07 08:56] MichelZ commented on #2809
With NPM7 now being GA for more than a Year, what's the current stance on this issue? @hikalkan

[2022-06-07 10:51] enisn opened #12923 "CmsKit - Page slug is not normalized like BlogPost slug"
It should be normalized like that:
https://github.com/abpframework/abp/blob/2f721c99884e51c1451e355c5408e85328c23308/modules/cms-kit/src/Volo.CmsKit.Domain/Volo/CmsKit/Blogs/BlogPost.cs#L72

[2022-06-07 11:36] gterdem commented on #12911
I don't think OpenIdConnect integration is related to Microsoft Graph API. You should be able to request Microsoft Graph API from an empty .NET application without any 3rd party login or user management right?

Sorry, I have no experience on Microsoft.Graph API.

[2022-06-07 11:49] lukebooroo opened #12925 "Using rebus event handlers are fired twice"
* Your 5.2.2
* Your database provider(EF Core)

When using an ETO which extends from a base class like below:

`[EventName("TestEvent")]
public class TestEventEto : BaseEvent
{

}`

Event handlers are called twice.

Thanks in advance :)

[2022-06-07 15:18] yangl1n commented on #12911
@gterdem
Hi, sorry for the question again. I found some new things today and edited the question. Hope it will be more clear. The issue begins in 3rd party login steps and progresses to graph client.

[2022-06-07 16:27] Osama94 opened #12929 "Create my own general exception handler middleware"
When creating our own global exception handler middleware instead of AbpExceptionHandlingMiddleware and AbpExceptionFilter

- the behavior still as default and didn't hit my own handler.
-tried to remove AbpExceptionFilter from filters but I couldn't.

Is there any way to override the default exception handler?

Thanks in advance

@ABP #ABP #abp

[2022-06-08 01:11] realLiangshiwei commented on #12925
Can you check this:https://github.com/abpframework/abp/issues/12659

[2022-06-08 01:35] #12745 closed, assigned to maliming

[2022-06-08 05:01] realLiangshiwei commented on #12929
You can add your own exception middleware after `app.UseUnitOfWork();`

You can try to replace the service from the dependency container. for example:

[code]

[2022-06-08 05:10] xuanhe168 opened #12931 "Blazor wasm AddHttpMessageHandler not working"
![image](https://user-images.githubusercontent.com/37821420/172536313-df2d468c-7438-4cc9-8063-dc1fead9d777.png)

the SendAsync method not working
![image](https://user-images.githubusercontent.com/37821420/172536343-1b5a20b0-7e58-42c9-b061-37ba7ae399f6.png)

[2022-06-08 05:13] xuanhe168 commented on #12931
I need to intercept every request information, am I wrong or is there a way

[2022-06-08 05:52] maliming commented on #12931
Try to custom http client here.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/Proxying/DefaultProxyHttpClientFactory.cs#L6

[2022-06-08 06:56] mingyouzhu commented on #12931
Perfect!!! it's works for me thank you big bro
![image](https://user-images.githubusercontent.com/37821420/172551900-a4a6d98a-d0ce-4599-a738-def9021130d2.png)

[2022-06-08 06:58] #12931 closed, assigned to nobody

[2022-06-08 06:58] xuanhe168 commented on #12931
Perfect!!! it's works for me thank you big bro
![image](https://user-images.githubusercontent.com/37821420/172551900-a4a6d98a-d0ce-4599-a738-def9021130d2.png) @

[2022-06-08 07:15] #12923 closed, assigned to enisn

[2022-06-08 07:39] EngincanV commented on #12650
- [x] app
   - [x] mvc
   - [x] blazor wasm
   - [x] blazor-server
   - [x] angular
- [x] app-nolayers
   - [x] mvc
   - [x] blazor-server
   - [x] angular

[2022-06-08 07:39] kenan0122 commented on #3772
httpErrorConfig's property errorScreen not work

[2022-06-08 07:42] kenan0122 commented on #3636
How to customize the error component

[2022-06-08 08:06] ahmadmasoum opened #12933 "InsertAsync throws when having nested object with guid primary key"
**ABP Framework version** : 5.1.4
** Your database provider**: Ef core
* Exception message and **stack trace** if available (check the logs).
[code]

* Steps needed to **reproduce** the problem.

I'm trying to insert a big nested object
I get this error if I don't manually assign Ids for child objects
Is there any way around this problem other than manually setting all the ids?

[2022-06-08 08:10] maliming commented on #12933
Steps needed to reproduce the problem.

[2022-06-08 08:30] Quentin742 opened #12934 "Interaction between a BackgroundJob and Frontend"
**Abp** :  5.2
**UI** : Blazor WebAssembly
**DatabaseProvider** : EF Core

I would like to notify my Frontend about the completion of a job from my BackgroundJob.

I planned to use [signalr](https://docs.abp.io/en/abp/latest/SignalR-Integration) to establish a communication from my Backend to my Frontend and [DistributedEvent](https://docs.abp.io/en/abp/latest/Distributed-Event-Bus) to trigger the

[2022-06-08 08:37] realLiangshiwei commented on #12934
Seems good. you can try it.

Because this is not an issue, I'm closing it, please use Stack Overflow for your questions about using the framework, templates and samples:

[2022-06-08 08:37] #12934 closed, assigned to nobody

[2022-06-08 08:40] ArcherTrister commented on #12398
Authentication can be ignored, how should we download it?

[2022-06-08 09:25] ahmadmasoum commented on #12933
For example, I have a Booking entity
and I have a List of Services in booking

Create Booking object
Create your services
Add them to the booking
and insert booking

[2022-06-08 11:25] #11430 closed, assigned to gterdem, enisn, skoc10

[2022-06-08 13:27] #12868 closed, assigned to realLiangshiwei

[2022-06-08 14:28] skoc10 opened #12939 "eShopOnAbp:fix helm templates to use at local k8s and azure aks"
https://github.com/abpframework/eShopOnAbp/tree/main/etc/k8s/eshoponabp

[2022-06-08 14:32] skoc10 opened #12940 "eShopOnAbp: create sh files to build images for linux and macos"
https://github.com/abpframework/eShopOnAbp/tree/main/build

[2022-06-08 16:19] gdlcf88 commented on #12386
I think so, or it will publish events by mistake.

[code]

An "Order shipped" event publishes immediately before the UOW is complete. An external module/service receives and handles it. Then it runs into the problem: should I validate the order status?

* If I validate the order status, I should find a way to query it, maybe by [Integration Services](https://github.com/abpframework/abp/issues/1247

[2022-06-08 18:19] #12913 closed, assigned to maliming

[2022-06-08 18:52] #12917 closed, assigned to gterdem

[2022-06-09 02:42] weiwxg opened #12944 "The Swager UI is unresponsive when operating on an interface which contains the IRemoteStreamContent parameter"

[2022-06-09 02:58] realLiangshiwei commented on #12944
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2022-06-09 03:27] #12851 closed, assigned to nobody

[2022-06-09 04:58] rqx110 opened #12948 "Error while using `LookupExtensionProperty` in `ServerPrerendered` mode"
step to reproduce：
1. follow this document https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#navigation-properties-foreign-keys to add `LookupExtensionProperty`
2. change to `ServerPrerendered` mode in `_Host.cshtml`
`<component type="typeof(App)" render-mode="ServerPrerendered" />`
3. run the project, and redirect to `identity/users` page, it will show an error:
![image](https://user-ima

[2022-06-09 04:59] rqx110 opened #12949 "Error while using `LookupExtensionProperty` in `ServerPrerendered` mode"
step to reproduce：
1. follow this document https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#navigation-properties-foreign-keys to add `LookupExtensionProperty`
2. change to `ServerPrerendered` mode in `_Host.cshtml`
`<component type="typeof(App)" render-mode="ServerPrerendered" />`
3. run the project, and redirect to `identity/users` page, it will show an error:
![image](https://user-ima

[2022-06-09 05:01] maliming commented on #12949
Duplicate of #12948

[2022-06-09 05:01] #12949 closed, assigned to nobody

[2022-06-09 06:12] realLiangshiwei commented on #12948
I will check it out

[2022-06-09 06:31] weiwxg commented on #12944
It's my fault

[2022-06-09 06:31] #12944 closed, assigned to nobody

[2022-06-09 07:00] maliming opened #12950 "Get details of business exceptions in the audit log."
https://support.abp.io/QA/Questions/3202/An-error-has-occurred-message-appears-even-though-BusinessException-is-thrown#answer-f6df09eb-d880-21c2-432b-3a04563818aa

[2022-06-09 07:22] realLiangshiwei commented on #12948
We will fix it.

For now, you can try:

[code]

[2022-06-09 07:27] #12862 closed, assigned to EngincanV

[2022-06-09 07:55] #12948 closed, assigned to realLiangshiwei

[2022-06-09 09:19] maliming commented on #12950
Related https://github.com/abpframework/abp/pull/10594

[2022-06-09 09:35] alexandis commented on #12867
Small asking: I would prefer to be able to modify `abpTreeExpandedIconTemplate` in a way that I can use any content there - for example, to show 'plus' sign to load child nodes (meanwhile it displays any content ONLY if there ARE already child nodes loaded). Instead of adding custom button to the `abpTreeNodeTemplate` to make it possible. The latter approach breaks the layout and user experience..

[2022-06-09 10:16] #12950 closed, assigned to maliming

[2022-06-10 03:59] EugeniZaplatin commented on #12903
@realLiangshiwei Thak you

[2022-06-10 04:11] #12903 closed, assigned to nobody

[2022-06-10 06:57] johnhbarrett opened #12961 "ABP Suite - Services.SuiteVersionChecker.IsOutdatedAsync()"
**ABP 5.2.2**
Just started happening today.

   at System.Net.Http.HttpClient.HandleFailure(Exception e, Boolean telemetryStarted, HttpResponseMessage response, CancellationTokenSource cts, CancellationToken cancellationToken, CancellationTokenSource pendingRequestsCts)
   at System.Net.Http.HttpClient.<SendAsync>g__Core|83_0(HttpRequestMessage request, HttpCompletionOption completionOption, Cance

[2022-06-10 07:05] enisn commented on #12866
Already done it

[2022-06-10 07:05] #12866 closed, assigned to enisn

[2022-06-10 07:55] BogdanJak opened #12964 "UserManagement with Syncfusion"
ABP Framework version - 5.2.2
User Interface - Blazor Server
Database provider - EF Core / SQL Server

Is it possible to replace the native Blazorise controls in a component, e.g. UserManagement, with controls such as Syncfusion?

I am able to do the frontend without any problems. But I already have a problem with the backend - eg in the "OpenCreateModalAsync" function, which uses the AbpCrudPageB

[2022-06-10 07:56] enisn commented on #12964
Did you try this one?
https://community.abp.io/posts/using-syncfusion-components-with-the-abp-framework-5ccvi8kc

[2022-06-10 08:09] BogdanJak commented on #12964
I use Syncfusion in new pages but I have a problem with rewriting the code for pages with e.g. UserManagement.

Procedure
[code]

refers to AbpCrudPageBase.cs from Volo.Abp.BlazoriseUI
There is procedure in this class
[code]
and from the level of AbpCrudPageBase the Modal component from Blazorise is opened

Procedure
[code]

[2022-06-10 08:57] eneskoroglu opened #12965 "Create tenant with id"
I have multiple ABP projects. And I want to create same tenant under some of them with same id. When i look at `tenantManager` or `tenantRepository`, i cannot create a tenant with a specific id. How can i do this? Or can you change tenantId from protected to public or add a parameter to `tenantManager.createAsync` method for tenantId.

* Your **ABP Framework version**. : 4.4.4

[2022-06-10 09:02] realLiangshiwei commented on #12965
Why not make tenant management a separate application? you can share it in multiple projects.

[2022-06-10 09:14] ageiter opened #12966 "AbpException: Could not find the bundle file '/libs/@fortawesome/fontawesome-free/css/all.css' for the bundle 'Blazor.LeptonTheme.Global'!"
* Your **ABP Framework version**: 5.2.2 (Stable)
* Your **User Interface**: Blazor-Server
* Your database provider(EF Core/MongoDB): EF Core

To reproduce:

1. Create a new solution with Abp Suite. Use the following settings:
    - Template type: Application template
    - UI framework: Blazor Server
    - Mobile: None
    - Database provider: Entity Framework Core
    - Database management system

[2022-06-10 09:27] realLiangshiwei commented on #12966
There is no problem when I use the ABP suite to create a new project.

![image](https://user-images.githubusercontent.com/16813853/173035621-957fd588-e528-4688-aa00-b003e8386211.png)

[2022-06-10 09:46] maliming commented on #12966
What's the command output?

[2022-06-10 09:55] ageiter commented on #12966
Now this is interesting... I just ran the command again, but now yarn was used and not npm. And with yarn all libs are loaded correctly too.

Who decides if npm or yarn is used?

[2022-06-10 09:57] realLiangshiwei commented on #12966
If you are installed both NPM and Yarn, we will use yarn to restore packages first.

https://github.com/abpframework/abp/blob/6df284811992ea279727281a1befe0975b0d12a0/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/LIbs/InstallLibsService.cs#L81-L90

[2022-06-10 09:58] ageiter commented on #12966
This was the output with npm:

[10:57:20 INF] ABP CLI (https://abp.io)
[10:57:20 INF] Version 5.2.2 (Stable)
[10:57:21 INF] Found 1 projects.
[10:57:21 INF] ...\AbpTemp\src\AbpTemp.Blazor
[10:57:21 INF] Running npm install on ...\AbpTemp\src\AbpTemp.Blazor
abp : npm WARN bootstrap@5.1.3 requires a peer of @popperjs/core@^2.10.2 but none is installed. You must install peer dependencies yourself.
At

[2022-06-10 10:00] maliming commented on #12966
Please install the `yarn` and re-run the command.

https://classic.yarnpkg.com/lang/en/docs/install/#windows-stable

[2022-06-10 10:51] skoc10 commented on #12939
https://github.com/abpframework/eShopOnAbp/tree/skoc10-k8s/etc/k8s/eshoponabp

[2022-06-10 11:48] eneskoroglu commented on #12965
Hi [realLiangshiwei](https://github.com/realLiangshiwei)

There is two scenarios:

1. If i create all tenants (SassTenants data) on a seperate database, i will have problem to understand which records related to which tenant?
2. If i create all tenants in every project, then every application gives different id to sameTenant and when i try to combine data for ex. on a datawarehouse, i cannot match

[2022-06-10 12:11] ageiter commented on #12966
Thank you, yes that works.

But would be probably useful, if this would also work with npm, if that is to be supported further.

[2022-06-10 12:11] #12966 closed, assigned to nobody

[2022-06-10 12:17] realLiangshiwei commented on #12965
All right.

This is by design, you can't do it

In fact, you don't need to create a tenant with the same id, since the `Tenant` entity is extensible, you can use the same business id, see: https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities#entity-extensions-ef-core

For example:

[code]

[2022-06-10 12:22] skoc10 commented on #12445
https://leeyoongti.medium.com/helm-in-kubernetes-part-4-publish-helm-chart-to-artifact-hub-using-github-pages-ab7f55904faa

[2022-06-10 12:38] muhammedaltug commented on #12342
Hello, thanks for the reporting issue.  I fixed with https://github.com/abpframework/abp/pull/12967

[2022-06-10 13:13] akunzai opened #12970 "ABP Cli - improve the yarn detection"
ABP CLI v5.2.2 use the command `npm list yarn -g` to check [if yarn available](https://github.com/abpframework/abp/blob/5.2.2/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/LIbs/InstallLibsService.cs#L256) for [install-libs](https://docs.abp.io/en/abp/latest/cli#install-libs)

But it has problems if we [install the yarn](https://classic.yarnpkg.com/lang/en/docs/install/) in other ways.

for example:

[2022-06-10 13:42] muhammedaltug commented on #11620
Hello thanks for reporting the issue, It will be fixed when https://github.com/abpframework/abp/pull/12973 is released

[2022-06-11 08:34] sturlath commented on #12916
Here you go @maliming [FileChunkingAuditLog repo](https://github.com/sturlath/FileChunkingAuditLog)

try "uploading" any file larger than c.a 2.5 MB and see it being split up (chunked) and with each upload an audit is made (making that table useles). It must be an easy way to turn it off, right?

[2022-06-11 14:44] ugurozturk opened #12975 "docker DirectoryNotFound Module"
Someone might make mistake just like me, so i am opening and closing the issue.

The error comes because docker in Development mode not working because the dictionary is different.

Changing the ASPNETCORE_ENVIRONMENT to Production fixed.

Found the solution in discord https://discord.com/channels/951497912645476422/953000230142496789/978574664462921759 thanks to berkansasmaz

[2022-06-11 14:44] #12975 closed, assigned to nobody

[2022-06-11 17:39] ChengYen-Tang opened #12976 "The repository supports the functionality of EFCore.BulkExtensions"
Can the repository support the functionality of [EFCore.BulkExtensions](https://github.com/borisdj/EFCore.BulkExtensions)?
Likes: Batch, BulkInsertOrUpdateOrDelete... others

[2022-06-11 23:59] realLiangshiwei commented on #12976
See: https://github.com/abpframework/abp/pull/6676

ABP provides basic batch methods and abstract [`IEfCoreBulkOperationProvider`](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Domain/Repositories/EntityFrameworkCore/IEfCoreBulkOperationProvider.cs) interface

You can create your own class implementing the `IEfCoreBulkOperationProvider` interface

[2022-06-12 10:36] #11424 closed, assigned to gterdem

[2022-06-12 10:36] #11750 closed, assigned to nobody

[2022-06-12 10:36] #11729 closed, assigned to nobody

[2022-06-12 10:36] #11704 closed, assigned to nobody

[2022-06-12 10:36] #11664 closed, assigned to muhammedaltug

[2022-06-12 10:50] gdlcf88 opened #12978 "LeptonX Lite: bug of menu item auto selected"
![1655030999018](https://user-images.githubusercontent.com/30018771/173229596-d70d2b88-5fa1-4bf4-8d38-034274a66197.jpg)
![1655030904964](https://user-images.githubusercontent.com/30018771/173229599-fdcd82ec-6555-48ad-a057-ba49d78e99df.jpg)

[2022-06-12 13:08] khaledpro2012 opened #12979 "LeptonX Lite RTL Wrong"
LeptonX Lite Wrong RTL  direction
Not Redirect Page correctly

[2022-06-12 13:51] MernaAlbert commented on #4081
Hello @hikalkan , Is there any new feature  added in abp for undelete action for entities who had interface ISoftDelete?

[2022-06-12 17:42] ChengYen-Tang commented on #12976
Can I add InsertOrUpdate and InsertOrUpdateOrDelete functions to the repository and then open PR?
I think this feature is useful.

[2022-06-12 23:52] realLiangshiwei commented on #12976
Thanks, see: https://github.com/abpframework/abp/pull/6679#issuecomment-747249051

[2022-06-12 23:52] #12976 closed, assigned to nobody

[2022-06-13 00:51] maliming commented on #12979
Please send some screenshots?

[2022-06-13 01:43] #12970 closed, assigned to nobody

[2022-06-13 02:01] #12724 closed, assigned to realLiangshiwei

[2022-06-13 02:24] maliming commented on #12916
I tested, `DisableAuditing` works.

[2022-06-13 04:24] maliming opened #12982 "About `issuer` of `OpenIddict`"
The **Issuer** of `OpenIddict` ends with `/`, This is different from the others.

![image](https://user-images.githubusercontent.com/25867/173016710-fb5b4a9d-afbb-4900-b094-463c3d600318.png)

Here are others:

**Google:**
![image](https://user-images.githubusercontent.com/25867/173020495-311353a6-9e06-46b7-9382-28a22639005f.png)

**Facebook:**
![image](https://user-images.githubusercontent.com/258

[2022-06-13 06:27] hikalkan commented on #12982
@kevinchalet can you help on that? Is that a problem, can be configured?
@maliming can you clearly write the problems caused by this kind of issuer value?

[2022-06-13 06:41] gterdem commented on #12982
@hikalkan
Currently, angular applications are having problems when the issuer is ending with a trailing slash. Furthermore, this will be a question asked to us as well.

[2022-06-13 07:11] realLiangshiwei commented on #12725
https://github.com/apache/rocketmq-client-csharp

Move to backlog

[2022-06-13 07:48] realLiangshiwei commented on #12856
The job is persisted by Hangfire, you need to remove the job in the Hangfire dashboard.

[2022-06-13 08:05] hikalkan opened #12983 "CMS Kit pick widget from editor"

[2022-06-13 08:07] hikalkan opened #12984 "Real preview for blog posts / pages for CMS Kit"
Currently, preview is provided by the editor. We should make it so that it gets the real rendered view from server. In this way, widgets and other special components are also properly previewed.

[2022-06-13 10:31] hillin commented on #11735
A slight bump, this made angular universal unusable.

[2022-06-13 11:09] #11620 closed, assigned to muhammedaltug

[2022-06-13 11:10] #12342 closed, assigned to muhammedaltug

[2022-06-13 11:59] kevinchalet commented on #12982
OpenIddict uses `System.Uri` to represent the `Issuer` value. As recommended by RFC3986, `System.Uri` normalizes URIs with an **empty path** to always include a trailing slash:

https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.3

Neither the OIDC discovery specification nor the newer OAuth 2.0 server metadata standard require a specific form for URIs (they just say these values must be HT

[2022-06-13 11:59] kevinchalet commented on #12982
Currently, angular applications are having problems when the issuer is ending with a trailing slash. Furthermore, this will be a question asked to us as well.

Can you tell us more about these Angular apps? Do you know whether they use a particular client?

[2022-06-13 13:43] #12822 closed, assigned to enisn

[2022-06-13 18:18] BogdanJak commented on #12964
?

[2022-06-13 19:21] BogdanJak opened #12990 "UserManagement + user ProfilePicture"
ABP Framework wersja - 5.2.2
Interfejs użytkownika - Blazor Server
Database provider - EF Core / SQL Server

I modified the IdentityUser table by adding a field to it

[code]

I save the image in the table as the value of byte [] - its work OK

My question - how to add the ProfilePicture column displayed as an image to the grid component on the UserManagement page

[code]

[2022-06-13 20:07] gterdem commented on #12982
Hello @kevinchalet

I agree with everything you said about [RFC3986](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.3) however, I think we should consider **the issuer** as a URL instead of a URI.

In OpenId Discovery standard under [OpenID Provider Configuration Request](https://openid.net/specs/openid-connect-discovery-1_0-17.html)

That leads to [RFC5785](https://datatracker.ietf.org

[2022-06-13 20:26] kevinchalet commented on #12982
Hey @gterdem 😃

By definition, all URLs are URIs so the rules that define URIs necessarily apply to URLs. The samples shown in the section of RFC3986 I mentioned are actually HTTP URLs:

![image](https://user-images.githubusercontent.com/6998306/173437361-142ef1ee-e157-40ce-96ea-1103c5d71a18.png)

I believe you're overthinking it: it only indicates how to construct the OIDC discovery document addr

[2022-06-14 00:09] realLiangshiwei commented on #12990
See: https://docs.abp.io/en/abp/latest/UI/Blazor/Data-Table-Column-Extensions#customizing-data-table-columns

[2022-06-14 00:09] #12990 closed, assigned to nobody

[2022-06-14 06:23] sturlath commented on #12916
Wrong table @maliming, I don´t know why I was pointing to the AbpAuditLogActions  table... its the **AbpAuditLogs** one that gets filled up

Here is a screenshot of my uploading c.a 960 MB and I have 332 new rows in the table just from that upload...
![image](https://user-images.githubusercontent.com/2386572/173507414-f2e80c63-5037-486f-9e45-9805d64428a8.png)

[2022-06-14 06:42] #12772 closed, assigned to demirmusa

[2022-06-14 06:54] enisn commented on #12964
Unfortunately, there is no option for replacing entire components from a single point. If you really want to do it, you have to replace all components with your chosen component one by one.

I'm not sure but [Blazorise](https://github.com/Megabit/Blazorise) might have some adapters.

[2022-06-14 06:56] xiaoyc opened #12995 "It warns NPM is not installed when run abp install-libs,but I have installed ."
Your ABP Framework version: 5.2.2 (Stable)
Your User Interface: MVC
Your database provider(EF Core/MongoDB): EF Core

The start template throw AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'! error .

when I try to run the abp install-libs, it warns the NPM is not installed ,but I have installed it .

I saw there maybe some defects  for the yarn

[2022-06-14 07:09] enisn commented on #12995
Can you check [Setup Environment Steps](https://docs.abp.io/en/commercial/latest/getting-started-setup-environment?UI=MVC&DB=EF&Tiered=No)?

It seems you missed node & yarn steps.

[2022-06-14 07:10] maliming commented on #12995
![image](https://user-images.githubusercontent.com/6908465/173515512-f200b762-d2a6-4d3a-b204-40fbc3ebdea7.png)

See https://github.com/npm/cli/issues/4980#issuecomment-1145524555

[2022-06-14 07:11] enisn commented on #12995
You should run `abp install-libs` after successfull installation in your project folder to restore client-packages before running your project.

[2022-06-14 07:18] xiaoyc commented on #12995
It was solved by running the below commands .

Set-ExecutionPolicy -ExecutionPolicy Bypass -Scope Process
npm install -g npm-windows-upgrade
npm-windows-upgrade

Thanks all .

[2022-06-14 07:18] #12995 closed, assigned to nobody

[2022-06-14 07:25] gterdem commented on #12982
Thanks for your input @kevinchalet

Not the Angular oidc lib but our own Angular code-base seems to use it without trailing slash (which shall be updated).
However, there can also be issues with developers already using client-credentials flow and setting issuer manually.

In order to prevent breaking change for them and possible `Issuer mismatch` errors in multi-tenant, multi-host issuer scenario

[2022-06-14 08:34] berkansasmaz commented on #12642
Hi, we have looked into the issue with @enisn.

The lines related to `Lepton` from the `ConfigureVirtualFileSystem` method of the `module` class of the project should be removed if they exist.

As a result, we will update the documents related to this topic soon.

[2022-06-14 09:49] RezaPouya opened #12997 "how to add custome header to HttpApi.Client request !?"
how can i add custom header to outbound request of httpApi.Client for specific interface ?

[2022-06-14 11:27] hikalkan opened #12998 "Document ITypeFinder"
`ITypeFinder` can be used to discover types in the application, even before the dependency injection registration phase completed.

Example usage:

[code]

After the dependency injection phase completed, you can inject `ITypeFinder` into any class.

`ITypeFinder` makes it easy to find all types of the application without manually searching all the assemblies. It also makes the assembly search only

[2022-06-14 11:30] enisn commented on #12978
This will be implemented after ABP 5.3 release to LeptonX.
https://github.com/abpframework/abp/pull/12840

Selected menu item name can be set in PageLayout. If you project will set selected menu item name after v5.3, everything will work fine

[2022-06-14 11:33] enisn commented on #12978
You can implement in your project according to this documentation:
https://github.com/abpframework/abp/blob/1a6c44d3abe2a9165b598ed0aa68d780c6f680b5/docs/en/UI/Blazor/Page-Layout.md#menuitemname

[2022-06-14 11:34] enisn commented on #12978
I assume that is Blazor UI right?

[2022-06-14 11:34] gdlcf88 commented on #12978
No, it's MVC.

[2022-06-14 11:45] enisn commented on #12978
@gdlcf88

Can you try implementing this one in your application?
https://docs.abp.io/en/abp/latest/UI/AspNetCore/Page-Header#the-selected-menu-item
If you inject `IPageLayout` to your page model and set menuitemname like below, it'll directly select that menuitem without any url check.

[code]

[2022-06-14 11:49] kevinchalet commented on #12982
There are basically 2 parts that will use the `issuer` value:
  - The discovery client, that is supposed to validate the returned value and ensure it's the same URL as the one used in the request.
  - The token validation part, that will typically use the `issuer` as-is to validate incoming tokens (OpenIddict also adds a trailing slash to issued tokens so the two should always match).

Nope, at le

[2022-06-14 11:49] mahmut-gundogdu opened #12999 "Password Validators should be localizable"
Abp login page uses ngx-validator's password validator function. Unfortunately, it has a lack of localization.

 https://github.com/ng-turkey/ngx-validate/blob/master/packages/core/src/lib/validators/password-validators.ts
 https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/theme-shared/src/lib/utils/validation-utils.ts

[2022-06-14 11:55] hikalkan commented on #12998
I added an extension method, so we can get it using `context.Services.GetTypeFinder()` method.

[2022-06-14 11:55] gdlcf88 commented on #12978
@enisn - It had been set.

https://github.com/EasyAbp/EShop/blob/dev/modules/EasyAbp.EShop.Stores/src/EasyAbp.EShop.Stores.Web/Pages/EShop/Stores/Transactions/Transaction/Index.cshtml#L15

[2022-06-14 12:01] enisn commented on #12978
So it seems there is a bug, I'll figure it out

[2022-06-14 12:32] enisn commented on #12978
I've found and fixed the issue. It wasn't working recursively. So if your menuitem is in the root, yes it works but if it's under a menuitem it doesn't work. It'll be included in the next release of LeptonX

You can override `MenuViewModelProvider` to fix it immediately in your project like below:

[code]

[2022-06-14 12:38] gdlcf88 commented on #12978
@enisn - It works now. Thanks for your time.

![image](https://user-images.githubusercontent.com/30018771/173578826-7a6f1ed7-f316-4dfe-9995-38b68c540c83.png)

[2022-06-14 12:58] KevinBassaDevelopment commented on #12916
We have the same issue, a simple HttpPost endpoint, DisableAuditing is not working.
DisableAuditing is also not working for this endpoint when put on the whole controller.

[code]

[2022-06-14 19:23] barnybadzoo opened #13002 "abp-cli add option switch-dbms to change database provider"
*ABP Framework 5.2.2*.

Please **write in English**.

I would be a great advantage to be able to change the db provider after a standard-template and microservice-template is generated.
There could be a parameter "-switch-dbms" where you could provide a new db provider like, which automatically does what is described at https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Other-DBMS but also in

[2022-06-14 19:31] barnybadzoo opened #13003 "abp-cli add option -rename for rename solution"
*ABP Framework 5.2.2*

Currently the filename/ClassName in  the standard-template-pro and the microservice-template-pro doesn't follow a clean structure, which makes is hard to rename the complete solution to an other name.

Example:
"ProjectName".Domain.Shared.csproj
"ProjectName"DomainSharedModule.cs

Sometimes the Namespace is used and sometime its omitted. It should follow one clean structure.

[2022-06-14 19:36] barnybadzoo opened #13004 "Howto use custom templates ? Please add a documentation"
**ABP Framework 5.2.2**.

If i currently use the abp new parameter the standard-template (pro) and microservice-template-pro a used.
In your documentation is mentioned that a custom template can be used.

Please provide a documentation howto adopt a standard-template-pro / microservice-template-pro  and generate a custom template from it.

[2022-06-14 23:19] #11965 closed, assigned to demirmusa

[2022-06-15 03:08] maliming commented on #13004
https://github.com/abpframework/abp/pull/2948

[2022-06-15 03:10] maliming commented on #12997
Static proxy or dynamic proxy?

[2022-06-15 03:15] maliming commented on #12916
@KevinBassaDevelopment

Full steps to reproduce.

[2022-06-15 03:32] RezaPouya commented on #12997
dynamic proxy , I have an interface marker called InternalApiService , so , I want to add custom "X-Api-Key" which it value is stored in AppSetting per RemoteService , to be added to request ...

I tried by replacing ClientBaseProcxy<> and DynamicProxyHandler but it didnt work ( I don't know why )

We have multiple microservice , so I created a solution called []Famework and I put common configura

[2022-06-15 03:46] RezaPouya commented on #12997
one of main problem is that `DynamicHttpProxyInterceptor `, `DynamicHttpProxyInterceptor` , `DynamicHttpProxyInterceptorClientProxy` and many classes in source code in `HttpApi.Client `module  don't have interfaces , so when I wanted to use my own implementation , I was blocked because I couldn't inherit from them and then replace my own with it ( because actually I don't know how it really work s

[2022-06-15 04:14] RezaPouya commented on #12997
currently I Use this

public class CustomProxyHttpClientFactory : IProxyHttpClientFactory, ITransientDependency
{
	private readonly IHttpClientFactory _httpClientFactory;
	private readonly IConfiguration configuration;
	private IRemoteServiceConfigurationProvider _remoteServiceConfigurationProvider;

	public CustomProxyHttpClientFactory(IHttpClientFactory httpClientFactory,
		IRemoteServiceConfigu

[2022-06-15 05:22] maliming commented on #12997
I think the `DynamicHttpProxyInterceptorClientProxy<IInternalApiService>` will works.

[code]

[2022-06-15 06:10] berkansasmaz commented on #12978
Thanks for the help @enisn 😊

---
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-06-15 06:10] #12978 closed, assigned to enisn

[2022-06-15 06:16] sturlath commented on #12916
Do you need that from @KevinBassaDevelopment if you have my code? Did you try it again @maliming ?

[2022-06-15 06:31] gterdem opened #13005 "OpenIddict Template Tests"
It is already integrated in https://github.com/abpframework/abp/issues/12601

- [x] Console test application (@enisn)
- [x] Single-layer (@gizemmutukurt)
- [x] Tiered & Non-tiered MVC (@gizemmutukurt)
- [x] Tiered & Non-tiered Blazor WASM (@enisn)
- [x] Tiered & Non-tiered Blazor Server (@gterdem)
- [x] Angular (with code and resource owner flows) with & without separate identityserver (@gterdem)

[2022-06-15 06:41] eneskoroglu opened #13006 "Angular Reactive Form Min/Max Validation"
* Your **ABP Framework version**. 5.2.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: Angular
* Your database provider(EF Core/MongoDB): EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

We are having same problem with [this bug report](https://support.abp.io/QA/Questio

[2022-06-15 07:08] johnhbarrett opened #13007 "Commercial Suite - Generator Removed digits from class names"
v5.2.2, v5.3.0
If a Class has a property with a digit in it, then the digit get removed by the code generator.
This should not happed.  Property Names with digits _within_ the name are legitimate.

screen shot from GitHib desktop showing properties with digits being incorrectly generated (ie removing the digits) after they had been fixed already.

![image](https://user-images.githubusercontent.com

[2022-06-15 07:18] EngincanV commented on #13007
Hi, please ask your questions about ABP Commercial on the [support.abp.io](https://support.abp.io/) website.

[2022-06-15 07:18] #13007 closed, assigned to nobody

[2022-06-15 07:23] berkansasmaz commented on #12642
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-06-15 07:23] #12642 closed, assigned to enisn

[2022-06-15 08:54] ebicoglu opened #13008 "ABP CLI - List available templates to be created"
Currently, users should check the documentation to see the available template names.
Implement the parameter `list-templates` so that users can easily see all available templates to create.
For the users who are signed in as commercial, you need to include the PRO templates as well.
Templates are at https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBu

[2022-06-15 10:58] koseenes opened #13010 "json converter cannot be configure"
I would like to define custom json converter and replace with AbpStringToEnumConverter in abp framework. I am trying to change JsonSerializerOptions.Converters with below code but it's not working.

[code]

In addition, when i add converter attribute to request Dto property, that's working but i don't want to use attribute, i want to define global converter.

[code]

ABP Framework version : 5.2.2

[2022-06-15 12:13] koseenes commented on #13010
AbpSystemTextJsonSerializerOptions works with custom converter IJSonSerializer in service layer, I tested and saw that. I need was to use converter in API(swagger), for this I realized that I had to configure the same in Mvc.JsonOptions and customer converter worked as I wanted.

[2022-06-15 12:13] #13010 closed, assigned to nobody

[2022-06-15 13:13] mahmut-gundogdu opened #13012 "abp-extensible-form-prob disabled doesn't work when value change"
The disabled function on abp-extensible-form-prob works only created. It doesn't work when the form value changed.

[2022-06-15 14:14] mahmut-gundogdu opened #13014 "abp-extensible-form-prob doesn't has TextArea"
it should be added FormProb and the template

[2022-06-15 14:32] cld0815 opened #13015 "Unhandled exception when changing language (LeptonXLite with SyncfusionBlazor)"
ABP Framework version : 5.3.0
UI : Blazor Server / LeptonXLite Theme (1.0.0-beta.2)

In default, It run normally.
but when I add [SyncfusionBlazor](https://www.syncfusion.com/blazor-components) as below
public override void ConfigureServices(ServiceConfigurationContext context)
{
        ...
        ConfigureMenu(context);
        context.Services.AddSyncfusionBlazor(); // add this
}

Exception oc

[2022-06-15 14:35] mahmut-gundogdu commented on #13014
I found, it already exists.  ePropType.Text

[2022-06-15 14:35] #13014 closed, assigned to nobody

[2022-06-15 14:36] cld0815 commented on #13015
same exception found in github :
https://github.com/jspuij/TwokaB/issues/31

[2022-06-15 15:05] joernz opened #13016 "lepton-x@preview can't change logo and brand color"
5.3 Final / Angular / EF

I followed the new doc to test the leptonx-lite theme step by step ([doc](https://docs.abp.io/en/abp/latest/Themes/LeptonXLite/angular)).
Everything was ok until the last step, where nothing happened (the url of the png was correct):
[code]
I was using the alpha version of leptonx-lite (on abp 4.4), and they are working just as wanted. The step of editing the `styles` of

[2022-06-16 00:30] maliming commented on #13016
hi

Try to run `abp install-libs` command in your project folder.

[2022-06-16 02:19] ArcherTrister opened #13017 "DateTimeKind.Local does not take effect on linux server."
ABP Framework version:5.1.4
database provider:EFCore

I have configured the `Timezone` setting and the `AbpClockOptions`  in my project
[code]

[code]

I want to use local time, When I use linux server,I found value still be stored as UTC Timezone in table ,which has 8 hours time difference.But when I use windows server, it's ok.
What was wrong? Did I set the Timezone correctly? Can you help me?

[2022-06-16 02:54] maliming commented on #13017
Is `"China Standard Time"` admit by your Linux server?

Check this class on two servers.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Timing/Volo/Abp/Timing/TZConvertTimezoneProvider.cs#L9

[2022-06-16 03:35] ArcherTrister commented on #13017
@maliming  On linux `"Asia/Shanghai"` should be used, but this setting doesn't work.I will check this class on two servers.
Thanks!

![image](https://user-images.githubusercontent.com/35516482/173985057-c4e2f82c-91ce-467f-8465-bb5fb13c637e.png)

![image](https://user-images.githubusercontent.com/35516482/173985110-58a3cc5e-809d-464d-9756-5d274c925276.png)

[2022-06-16 05:23] luks104 commented on #13017
We were having similar issues and we weren't able to solve this yet.
https://github.com/abpframework/abp/issues/11510

[2022-06-16 05:25] JadynWong commented on #13017
Hi @ArcherTrister,

I think you have to change the timezone of your linux server. The `Abp.Timeing.TimeZone` setting does not affect the Clock's zone. It is only used in [ApplicationConfigurationService](https://github.com/abpframework/abp/blob/120d65ef9f05e480c176332b65abca89fbbc3a32/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/ApplicationConfigurations/AbpApplicationConfiguratio

[2022-06-16 05:55] JadynWong commented on #13017
If you want to get the time in the time zone defined by the application setting

[code]

[2022-06-16 05:58] ArcherTrister commented on #13017
Hi @JadynWong ,

I don't think there is a problem with my server timezone, can you help me if there is a problem?

![image](https://user-images.githubusercontent.com/35516482/174001063-4aa83a29-ce02-4c80-bd14-6572b6ec75d3.png)

![image](https://user-images.githubusercontent.com/35516482/173998780-d90425f6-0362-43c1-a187-66d058964489.png)

Shanghai GetTimeZoneInfo:
[code]

BTW,We  don't need to use

[2022-06-16 06:03] ArcherTrister commented on #13017
@maliming

[2022-06-16 06:07] ArcherTrister commented on #13017
@JadynWong The settings have been made here.

[2022-06-16 06:09] JadynWong commented on #13017
Can you try to just use the console to output the current local time.
[code]

[2022-06-16 06:28] JadynWong commented on #13017
Is this the result of adding and executing this method yourself in your application? abp does not contain this code.

[2022-06-16 06:34] ArcherTrister commented on #13017
This is just a configuration, not executed. See [the doc](https://docs.abp.io/en/abp/latest/Settings#setting-values-in-the-application-configuration)

[2022-06-16 06:35] ArcherTrister commented on #13017
@JadynWong
![image](https://user-images.githubusercontent.com/35516482/174006928-ab1c7b7f-79f5-44fc-aaf8-7561c747c252.png)

[2022-06-16 06:45] ArcherTrister commented on #13017
@JadynWong
On Windows:
![image](https://user-images.githubusercontent.com/35516482/174008385-1029edb9-093b-4c9a-b25f-97596885e548.png)

[2022-06-16 06:59] ArcherTrister commented on #12394
I think it's a problem `(Data initialization problem)`  with the template project.

[2022-06-16 07:17] JadynWong commented on #13017
This may not be related to abp, you can test in a project that doesn't use abp. Please check the time zone of the linux server. Possible reasons Your time zone setting is only valid for the current user.

[2022-06-16 07:21] tellaconz opened #13018 "404 not found cause unhandled exception when redirect to error page"
If we get a 404 error it gets redirected to /Error?httpStatusCode=404 but also causes an unhandled exception which gets picked up in our ExceptionSubscriber which sends it to our Sentry logs as a "Unhandled exception" I'd rather it not get logged as an error.

Is this by design?

I have tried overriding the 404 response with things like:

[code]

or

[code]

But the current error handler always se

[2022-06-16 07:29] EngincanV commented on #13018
Yes, it's designed as you said.

---

To override error pages, you can use the `AbpErrorPageOptions` as below:

[code]

[2022-06-16 07:44] ArcherTrister commented on #13017
As a contributor, I don't think it should be so arbitrary. When users of open source projects find problems, They ultimately hope to solve them, Make the project stronger. Rather than jumping to conclusions prematurely or easily closing issures.

like these issues:
[#11510](https://github.com/abpframework/abp/issues/11510)
[#12394](https://github.com/abpframework/abp/issues/12394)

Test screenshot

[2022-06-16 07:57] JadynWong commented on #13017
I'm just giving my personal opinion not representing anyone, I'm replying to this issue just to help you solve this problem.

Server configuration is complex.How is your abp application deployed and running (systemd), or do you have any way to reproduce this issue?

[2022-06-16 08:07] ArcherTrister commented on #13017
I appreciate your help, But you still think there is no problem with abp when I have so much evidence, I think my participation is pointless, It is very uncomfortable, I think it is a normal psychology.

[2022-06-16 08:23] #12777 closed, assigned to realLiangshiwei

[2022-06-16 08:35] #12575 closed, assigned to enisn

[2022-06-16 08:49] maliming opened #13019 "Invalid"

[2022-06-16 09:06] ArcherTrister commented on #13017
Eventually I use docker to solve this problem, but I still can't find the root cause of the problem.Thanks for your help! @maliming @JadynWong @luks104

This is my Dockerfile config,Note that you need to change the environment variable `TZ` to your own configuration.

[code]

[2022-06-16 09:06] #13017 closed, assigned to nobody

[2022-06-16 09:15] ArcherTrister commented on #13017
BTW, I use this script also doesn't work, it's always UTC Timezone, So I add environment variables `TZ` when building the image.

[code]

[2022-06-16 09:53] hillin opened #13020 "Unopinionated ng.theme.shared?"
We've been re-theming an abp angular project with angular material components and tailwindcss, and tried to eliminate any bootstrap references. With everything superficial cleaned up, we realized that there is still the ng.theme.shared package referencing some packages we don't need any more, that occupy ~200KiB in our production bundle, namely:

- @fortawesome/fontawesome-free
- @ng-bootstrap/ng-

[2022-06-16 10:12] hellorms opened #13022 "[Commercial] LeptonX Login Page missing Tenant Selection"
Your **ABP Framework version: 5.3.0
Your **User Interface** type: MVC
Your database provider: EF Core

1. The Login Page doesn't allow the user to select the Tenant
2. Also, there's no option to select the Language

![image](https://user-images.githubusercontent.com/93287086/174047870-756f239c-3b3c-4153-af3d-193156e2cf2a.png)

[2022-06-16 10:19] #12469 closed, assigned to nobody

[2022-06-16 10:27] hellorms opened #13023 "[Commercial] LeptonX Left Menu doesn't scroll when expanding menu items"
* Your **ABP Framework version** : 5.3.0 Commercial
* Your **User Interface** type: MVC - LeptonX Theme 1.0.0-beta.2
* Microsoft Edge Version 102.0.1245.41 (Official build) (64-bit)
* Your database provider: EF Core

When expanding the left side menu items the menu doesn't allow user to scroll to hidden menu items.

![image](https://user-images.githubusercontent.com/93287086/174050316-747818dc-f90

[2022-06-16 11:04] hellorms opened #13024 "[Commercial] LeptonX Language selection suggestion"
* Your **ABP Framework version** : 5.3.0
* Your **User Interface** type: MVC LeptonX theme beta-2
* Your database provider: EF Core

The LeptonX theme looks great. This is just a suggestion not an issue.

The languages drop down selector have the culture code shown e.g. **Espanol / ES** which is ok for developers but doesn't really mean anything to end users. For example, I showed this to a couple

[2022-06-16 11:36] BeckerTim opened #13025 "Angular UI project - @swimlane/ngx-datatable incompatible to rxjs version"
ABP Framework version 5.3.0
Angular UI
Database provider: EF Core
An unhandled exception occurred: ENOENT: no such file or directory, lstat 'C:\abp\angular\node_modules\@swimlane'

1. abp new someProject -u angular
2. Npm Install
3. Ng serve

Hello, I had some issues with the Angular UI. I created a new Project and followed the instructions of the tutorial https://docs.abp.io/en/abp/latest/Getting

[2022-06-16 12:34] #13019 closed, assigned to nobody

[2022-06-16 13:18] YaoaY commented on #5885
Considering your host uses something like AutoWrapper..
🤣

[2022-06-16 13:32] enisn commented on #12478
Progress:
- [x] https://github.com/abpframework/abp/pull/13026
- [x] https://github.com/volosoft/volo/pull/10778
- [x] https://github.com/volosoft/volo/pull/10820
- [x] https://github.com/abpframework/abp/pull/13075

[2022-06-16 15:09] KevinBassaDevelopment commented on #12916
@maliming  I dont know why you need a second example that again shows the bug, but here you go:
https://github.com/KevinBassaDevelopment/abp.io-buggy-auditlog

Steps:
 1) Downloaded ABP Startup template (blazor/sqlserver)
 2) Added BuggyController.cs to HttpApi project containing just 1 endpoint with [DisableAuditing] .
 3) Send something to this endpoint via swagger. Call will be added to auditlo

[2022-06-16 16:45] gterdem commented on #13005
Angular logout error:

![angular-logout-error](https://user-images.githubusercontent.com/25867/174121651-71676593-cf0f-4520-a5ef-4274d484b798.png)

[2022-06-16 17:00] gterdem opened #13028 "OpenIddict Angular template logout error"
https://github.com/abpframework/abp/issues/13005#issuecomment-1157899340

[2022-06-16 17:27] ChengYen-Tang opened #13030 "Automatically add roles when using external login"
I have a requirement, when I login using AD or LDAP, I want to sync external user groups as roles.
I have completed a prototype version by copying the ExternalLoginProviderBase and modifying some parts.
Maybe I can open PR, then discuss and optimize?

[2022-06-16 19:16] dontboyle opened #13031 "Nuget Issue? Unable to find a stable package 5.3.0"
The error info is below. -> Some are 'pro' packages that don't exist?

Unable to find a stable package Volo.Abp.AuditLogging.HttpApi with version (>= 5.3.0)
Found 55 version(s) in ABP Commercial NuGet Source [ Nearest version: 6.0.0-preview20220525 ]
...
Unable to find a stable package Volo.Abp.Account.**Pro**.Public.Web.IdentityServer with version (>= 5.3.0)

https://www.nuget.org/packages?q=Volo

[2022-06-16 19:32] mmblc commented on #13031
This is happening to us as well with the commercial packages. Looks like all versions between 5.0.3 and 6.0.0 preview are unavailable.

![image](https://user-images.githubusercontent.com/57359757/174150251-1b7a012c-7c98-4d5d-9be6-adfeca34a9df.png)

[2022-06-16 19:33] dontboyle commented on #13031
@mmblc thanks for confirming!

[2022-06-16 20:49] gterdem commented on #13031
Thanks for reporting.

We are aware of the problem and trying to fix it.

[2022-06-17 00:28] yangl1n opened #13032 "Domain Drive Design - How to treat consume external API as bussiness logic"
# Question
Hi, we have already created external APIs and my web app which use abp framework with razor page need to consume these external API.I currently write a big class which contains subclasses and send http request to fetch these external datas in UI layer. And in the future, there will be more datas coming from external system. And need to perform some operation via external API also(add ca

[2022-06-17 01:23] maliming commented on #13005
![image](https://user-images.githubusercontent.com/6908465/174203688-fe517aee-340c-433e-9ace-c2dd91a5ee0f.png)

I will handle this.

[2022-06-17 01:23] maliming commented on #13028
https://github.com/abpframework/abp/issues/13005#issuecomment-1158373120

[2022-06-17 03:33] phil-enfom commented on #13031
Hi, Is there any update on this issue?

[2022-06-17 03:51] tellaconz commented on #13018
Would that still run though the error controller? looking at this:

abp/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/Controllers/ErrorController.cs

setting a custom view which it grabs in GetErrorPageUrl() doesn't stop the exception from being created earlier on in the controller.

@EngincanV Would I need to create a custom extended error controller? is that possible?

[code]

[2022-06-17 04:33] leonkosak commented on #13008
@ebicoglu where is module-pro template?

[2022-06-17 04:40] #13028 closed, assigned to gterdem

[2022-06-17 05:33] maliming commented on #12916
[code]

### LogSomething
![image](https://user-images.githubusercontent.com/6908465/174231214-717ff3a0-1c18-40e4-bc04-d645595260e8.png)

### DisableLogSomething
![image](https://user-images.githubusercontent.com/6908465/174231260-8019a17c-afea-4a12-9e87-16ebb545e5ef.png)

---

If you do not want the request to be logged.

[code]

[2022-06-17 05:33] #12916 closed, assigned to nobody

[2022-06-17 05:51] berkansasmaz commented on #13031
Unfortunately, we are still working on it 😔

 Thanks for your patience.

[2022-06-17 06:07] KevinBassaDevelopment commented on #12916
Thank you for the solution!
It would be really helpful if this was added to the audit logging documentation: https://docs.abp.io/en/abp/latest/Audit-Logging

[2022-06-17 06:39] berkansasmaz commented on #13031
Problem solved, thanks again for your patience.

[2022-06-17 06:39] #13031 closed, assigned to nobody

[2022-06-17 06:48] gterdem commented on #13032
It depends;

- If you will use the external service to combine with your application service dtos to show some view data, add external API to the `Web` layer. This will make your **presentation layer dependent on external service.**
- If you want to use the external service in your application logic and call external service in application services, then  add external API to the `Application` laye

[2022-06-17 07:43] berkansasmaz commented on #13030
@maliming and @hikalkan
What do you think about this?

[2022-06-17 07:54] berkansasmaz commented on #13006
Can you check the latest situation @mahmut-gundogdu?

[2022-06-17 08:00] maliming commented on #13030
hi

Let's leave this to the developer. Thanks @ChengYen-Tang

[2022-06-17 08:00] #13030 closed, assigned to nobody

[2022-06-17 08:27] omer-repo commented on #11550
I have this problem only in web server. The method is working in local, but give this error on Windows Server IIS. Is there any news about this issue?

Edit: I had found my reason and it will be good to write reason here.
https://www.ryadel.com/en/error-405-methods-not-allowed-asp-net-core-put-delete-requests/
It was occuring only in update and delete requests. So I think my reason is different fr

[2022-06-17 08:29] mahmut-gundogdu commented on #13025
I have tried "yarn" and it works without issue.  When I use npm, CLI throws warnings. but still, the app is working. Also, I didn't get a warning or an error related to Rxjs.
I couldn't produce your case.
<img width="765" alt="image" src="https://user-images.githubusercontent.com/2217899/174259148-06b740bb-8232-4389-bd50-17e4c0429f67.png">

Not: I've closed accidentally

[2022-06-17 09:21] BeckerTim commented on #13025
Thank you very much.

I tried it again today and ran into the same issue. Maybe its about the node / npm version:

I use npm on version 8.3.1. On npm install i received the same warnings as you but it ran trough. On ng serve still the same error.
![image](https://user-images.githubusercontent.com/84566189/174266127-76bd08b5-6b39-4195-b985-61e376cb82fa.png)

Once installed the missing module it sta

[2022-06-17 10:14] enisn commented on #13005
**Console test application** and **Tiered & Non-tiered Blazor WASM** work well ✅

[2022-06-17 10:25] gterdem commented on #13005
Thank you.
Closing the issue.

[2022-06-17 10:25] #13005 closed, assigned to gterdem, enisn, gizemmutukurt

[2022-06-17 10:51] mahmut-gundogdu commented on #13025
What is your node and npm version ?
I am a little bit confused about the issue. I have checked  ng-theme-shared uses simlane/ngx-datatable version is 19.
https://github.com/abpframework/abp/blob/rel-5.3/npm/ng-packs/packages/theme-shared/package.json

and ngx-datatable v19 uses rxjs 6.6
https://github.com/swimlane/ngx-datatable/blob/release/19.0.0/package.json

<img width="647" alt="image" src="ht

[2022-06-17 11:46] ChengYen-Tang commented on #13030
Hi @maliming ,

You mean abp team? abp user?
Also, I found that the official documentation doesn't seem to mention external login.
I spent a long time to find the ExternalLoginProviderBase in the github issue.

[2022-06-17 11:48] BeckerTim commented on #13025
npm version - 8.3.1

node version - 16.14.0

In compairsion to your image
i am missing two packages while npm install.

![image](https://user-images.githubusercontent.com/84566189/174285557-aabf4f31-239c-4718-a84e-1d11f7698a16.png)

the two packages missing are those who raised as npm warnings.

[2022-06-17 12:05] BeckerTim commented on #13025
yarn worked fine but also mentioned warings with ng-bootstrap and ngx-datatables.
![image](https://user-images.githubusercontent.com/84566189/174294890-0e4a77fd-d2dd-4c6d-9603-01ca3b0b18b6.png)

[2022-06-17 12:59] BeckerTim commented on #13025
I took a deeper look inside the ng-packs folder and wittnessed ng.theme.shared and ng.components both refer to the dependancies in ng.core which refers to packs/utils

it seems it is in angular v10

![image](https://user-images.githubusercontent.com/84566189/174303112-778de323-fb75-4878-a1bc-49af2519c6fe.png)

maybe this is causing the issue

[2022-06-17 17:15] dontboyle opened #13038 "adding lepton theme with source code Cannot find builder "@angular-devkit/build-angular:tslint""
Repro Steps:

Create new project:
dotnet tool uninstall -g Volo.Abp.Cli
dotnet tool install -g Volo.Abp.Cli --version 5.1.3

abp new TestProject -t app-pro -u angular -m none --database-provider ef -csf --version 5.1.3

abp add-package @volo/abp.ng.theme.lepton --with-source-code --version 5.1.3

open angular project via cmd line /angular folder and run:
- yarn / npm install
- ng lint

An unhandle

[2022-06-17 17:45] nguyenhmtriet commented on #13025
It seems to me that the error is coming from the following:
- @abp/ng.account (v5.3.0) has dependency on -> @abp/ng.account.core (v.5.3.0) & @abp/ng.theme.shared(v.5.3.0)

- @abp/ng.account.core (v.5.3.0) has dependency on -> @angular/core & @angular/common >= v12.0.0 (*)

=> **This is important that** @abp/ng.theme.shared depends on @swimlane/ngx-datatable (@v.19.0.0)
=> Due to using @swimlane@ng

[2022-06-17 18:51] BeckerTim commented on #13025
Indeed, but this wont do it at all.

1. abp/ng.theme.shared -> @ng-bootstrap/ng-bootstrap v12.0.2 -> angular 13
2. abp/ng.theme.shared -> @swimlane/ngx-datatable 19.0.0 -> angular 11 / 20.0.0 angular 12
3. abp/ng.theme.shared -> @abp/ng.core ~5.3.0 -> @abp/utils-> angular ~ 10

Even if we migrate ngx-datatables to v 20.0.0 we will have issues because the version of ng-bootstrap depends on another

[2022-06-17 19:23] dominiclapointe opened #13040 "ABP 5.3 (angular) LeptonX-lite issue"
ABP:          5.3 (community)
UI:             Angular
Tiered:       Yes

Hi all,

Ive just created a new project and migrate to leptonX theme. The theme does shows up but there is 4 bugs so far:
1. The z-index of the ngb-modal-backdrop.modal-backdrop.show.fade is too high, it does come over the modal when creating tenant or other creation popup. Ive managed to fix it with the current CSS in style.

[2022-06-17 19:23] pradipbaria opened #13041 "Rebus registering subscriber and dispatch message conflict"
While using Rebus with RabbitMq [Volo.Abp.EventBus.Rebus](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.EventBus.Rebus) it seems there is an issue while subscribing messages on application start.

It is also reproducible with given sample [RebusEventBus](https://github.com/abpframework/abp-samples/tree/master/RebusEventBus).

_Consider If queue already has some messages which

[2022-06-18 02:11] nguyenhmtriet commented on #13025
Yes, I see so, which is the best version on @abpframewok I can use with the angular app version 12?

[2022-06-18 05:01] realLiangshiwei commented on #13041
Hi,

Sorry, I could not reproduce the problem, can you please share a project? thanks.
![image](https://user-images.githubusercontent.com/16813853/174423522-a8d33634-49d9-4f0b-ba1a-fc2afae22762.png)

[2022-06-19 00:57] MingLiao1986 opened #13043 "when apply notmapped attribute to DateTime Property in a entry. 5.2.2 version is Invalid."
protected virtual void ConfigureValueConverter<TEntity>(ModelBuilder modelBuilder, IMutableEntityType mutableEntityType)
        where TEntity : class
    {
        if (mutableEntityType.BaseType == null &&
            !typeof(TEntity).IsDefined(typeof(DisableDateTimeNormalizationAttribute), true) &&
            !typeof(TEntity).IsDefined(typeof(OwnedAttribute), true) &&
            !mutableEntity

[2022-06-19 01:30] maliming commented on #13043
* Your **ABP Framework version**.
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-06-19 04:43] qq8311065 opened #13044 "IdentitySignInManager get failed also IdentityBuilder Code not executed"
I copied a piece of code from identity, but will not execute the code. As a result, I get the identitysigninmanager with an error

![image](https://user-images.githubusercontent.com/40285933/174465927-8730c9db-3d09-4139-800f-bf7790a63654.png)

![image](https://user-images.githubusercontent.com/40285933/174465929-989508cd-fc7d-4526-b00f-5a4d5492fdfc.png)

![image](https://user-images.githubusercont

[2022-06-19 05:27] RezaPouya commented on #12997
It didn't work  ...

[2022-06-19 06:30] qq8311065 commented on #13044
![image](https://user-images.githubusercontent.com/40285933/174468829-160eef47-51d2-49e0-a2e0-36743f382987.png)
resolved！

[2022-06-19 07:53] amiramirifar2 opened #13046 "Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'!"
raise warning on `abp install-libs`  when Nodejs version is 16.x
NPM is not installed, visit https://nodejs.org/en/download/ and install NPM

[2022-06-19 07:55] realLiangshiwei commented on #13046
What is the output when you run `npm -v` command?

[2022-06-19 07:55] #13044 closed, assigned to nobody

[2022-06-19 11:30] #11083 closed, assigned to nobody

[2022-06-19 11:30] #11826 closed, assigned to nobody

[2022-06-19 11:30] #11602 closed, assigned to muhammedaltug

[2022-06-19 11:31] #11824 closed, assigned to nobody

[2022-06-19 11:32] #11847 closed, assigned to muhammedaltug

[2022-06-19 11:32] #11897 closed, assigned to nobody

[2022-06-19 11:32] #11194 closed, assigned to nobody

[2022-06-19 11:33] #11918 closed, assigned to nobody

[2022-06-19 11:33] #11894 closed, assigned to nobody

[2022-06-19 11:33] #11922 closed, assigned to nobody

[2022-06-19 11:33] #11889 closed, assigned to nobody

[2022-06-19 11:34] #11939 closed, assigned to nobody

[2022-06-19 11:34] #11248 closed, assigned to nobody

[2022-06-19 11:35] #11973 closed, assigned to nobody

[2022-06-19 11:35] #11979 closed, assigned to nobody

[2022-06-19 11:36] #11980 closed, assigned to nobody

[2022-06-19 11:36] #11627 closed, assigned to muhammedaltug

[2022-06-19 11:36] #11948 closed, assigned to nobody

[2022-06-19 11:37] #11993 closed, assigned to nobody

[2022-06-19 11:37] #12030 closed, assigned to nobody

[2022-06-19 11:38] #12058 closed, assigned to nobody

[2022-06-19 11:38] #12016 closed, assigned to nobody

[2022-06-19 11:39] #11988 closed, assigned to nobody

[2022-06-19 11:40] #12113 closed, assigned to nobody

[2022-06-19 11:40] #12122 closed, assigned to nobody

[2022-06-19 11:40] #12149 closed, assigned to yekalkan

[2022-06-19 11:41] #12155 closed, assigned to nobody

[2022-06-19 11:41] #12154 closed, assigned to nobody

[2022-06-19 11:41] #12044 closed, assigned to nobody

[2022-06-19 11:42] #12047 closed, assigned to nobody

[2022-06-20 01:16] maliming commented on #12997
Can you share a project?

[2022-06-20 02:14] xiaoyc commented on #13046
refer to #12995  ,  I also met this error before .

[2022-06-20 05:40] bxjg1987 opened #13047 "IDX20803: Unable to obtain configuration from: 'System.String'."
abp5.3.3 single layer angular

get api/abp/application-configuration
win10 proxy is disabled

`[13:37:02 ERR] Exception occurred while processing message.
System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'System.String'.
   at Microsoft.IdentityModel.Protocols.ConfigurationManager`1.GetConfigurationAsync(CancellationToken cancel)
   at Microsoft.AspNetCore.Authentic

[2022-06-20 06:05] #13047 closed, assigned to nobody

[2022-06-20 06:10] bxjg1987 commented on #13047
sorry，my server port is failed

[2022-06-20 06:36] sw-ms-pradipbaria commented on #13041
@realLiangshiwei
I can share project later on but as I see your screenshot it seems  you have started App2 and then published message from App1.

Can you please confirm or follow step as below?

1. App2 **should not be running**
2. Publish some messages for "Test4" event from App1
3. Now run App2 and monitor log

[2022-06-20 06:42] #13046 closed, assigned to nobody

[2022-06-20 06:56] pradipbaria commented on #13041
@realLiangshiwei

I can share project later on but as I see your screenshot it seems you have started App2 and then published message from App1.

Can you please confirm or follow step as below?

1. App2 should not be running
2. Publish some messages for "Test4" event from App1
3. Now run App2 and monitor log

[2022-06-20 07:27] realLiangshiwei commented on #13041
@infiycloud

That is how I tested

Anyway, can you try test again with https://github.com/abpframework/abp/commit/05fbf30c71ad29e60b871602a4a2144736276633?

[2022-06-20 08:01] yekalkan opened #13050 "Cli: Update/Switch command should check projects outside of the solution structure"
requested at https://github.com/abpframework/abp/issues/12808

[2022-06-20 08:03] yekalkan commented on #12808
https://github.com/abpframework/abp/issues/13050

[2022-06-20 08:03] yekalkan commented on #12808
https://github.com/abpframework/abp/pull/13051

[2022-06-20 08:14] EngincanV opened #13052 "Fix Null Exception Problem on Minio Blog Provider"
Related with https://support.abp.io/QA/Questions/3267/Minio-----------------SystemNullReferenceException--%27Object-reference-not-set-to-an-instance-of-an-object%27

[2022-06-20 08:26] EngincanV commented on #13052
It seems the problem is related to not configuring the `MinioBlobProviderConfiguration`, so I close the issue.

[2022-06-20 08:26] #13052 closed, assigned to nobody

[2022-06-20 08:37] #12808 closed, assigned to yekalkan

[2022-06-20 09:08] #11337 closed, assigned to nobody

[2022-06-20 09:27] qq8311065 opened #13055 "app.UseMultiTenancy() Tips: An exception was thrown while activating Volo.Abp.AutoMapper.MapperAccessor"
When I use multi tenant middleware, the following errors occur

![image](https://user-images.githubusercontent.com/40285933/174570313-d992384f-ef9b-461a-b93e-b26d389825e4.png)

An error has occurred

"An exception was thrown while activating OLD.Web.Infrastructure.MultiTenancy.CustomizeMultiTenancyMiddleware -> Volo.Abp.MultiTenancy.TenantConfigurationProvider -> Volo.Abp.TenantManagement.TenantSt

[2022-06-20 09:29] joernz commented on #13016
@maliming thx, this solved the unhandled exception.

but the `:root { ... } ` in `styles.scss` is still not able to change the brand color or the logo without `!important`

and it feels like misleading in the [doc](https://docs.abp.io/en/abp/latest/Themes/LeptonXLite/angular).

but what to replace?

[2022-06-20 09:31] maliming commented on #13055
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2022-06-20 09:34] qq8311065 commented on #13055
version:5.3.0
I ran it directly and the error occurred

[2022-06-20 09:58] EngincanV commented on #13018
You can create an error controller and override the default one, but I think this is not what you intended. I think you can override the [`AbpExceptionHandlingMiddleware`](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/ExceptionHandling/AbpExceptionHandlingMiddleware.cs) and apply to your own needs.

[2022-06-20 10:35] omer-repo opened #13057 "Revision to Startup Template Docs"
There should be some revisions to the documents of Startup Template to clear up some possible confusions. (https://docs.abp.io/en/abp/latest/Startup-Templates/Application)

1) Under "Pre-requirements", it says:

* I created some applications but I think it is not required to install Redis in monolith solutions.

2) Under "How to Run?",

* It points to run .IdentityServer firstly. But CLI doesn't g

[2022-06-20 10:36] #13055 closed, assigned to nobody

[2022-06-20 10:37] joernz commented on #13040
You might be using the alpha version?
I don't see 2, 3 and 5 anymore with beta2 version (@abp/ng.theme.lepton-x@preview)

follow the new [document](https://docs.abp.io/en/abp/latest/Themes/LeptonXLite/angular)
Could you please check if you are able to change the logo and brand color with this new version? (`:root {}`) [I can't somehow](https://github.com/abpframework/abp/issues/13016)

[2022-06-20 10:37] EngincanV commented on #13057
Hi @omer-repo, thanks for your suggestions. I will update the documentation.

[2022-06-20 10:51] VivienMAN commented on #13052
@EngincanV  Can you recheck the issue, I think there is a problem

[2022-06-20 11:05] EngincanV commented on #13052
Please see the https://github.com/abpframework/abp/pull/13054

[2022-06-20 12:51] ageiter opened #13061 "ABP Suite: Inconsistent naming of navigation properties"
Your ABP Framework version: 5.3.0 (Stable)
Your User Interface: Blazor-Server
Your database provider(EF Core/MongoDB): EF Core

**To reproduce:**
1. Use ABP Suite to generate entities
2. Create 2 navigation properties to the same entity
3. Go to "Advanced" and change "Property Name" in section "3 Others" to a meaningful name
4. Save and generate the code

**My expectation:**
In all classes where t

[2022-06-20 12:53] P9avel opened #13062 "How to use Kafka for distributed evends with one topic per event?"
Hi, I am want for each event using separate topic. How can i configurate this in Distributed Event Bus Kafka Integration?

[2022-06-20 14:28] eneskoroglu opened #13063 "Change password reset link address in Angular"
* Your **ABP Framework version**.: **4.4.4**
* Your **User Interface** type (Angular/MVC/React... etc.): **Angular**
* Your database provider(EF Core/MongoDB): **EF Code**
![image1](https://user-images.githubusercontent.com/7870434/174622433-79e2b9ad-9987-420f-9a57-055384416daa.png)
As you can see above picture, in an ABP projech, we have multiple UI environmets and a single service. We want to se

[2022-06-20 15:20] #13012 closed, assigned to mahmut-gundogdu

[2022-06-20 16:06] pradipbaria commented on #13041
@realLiangshiwei

With mentioned changes of https://github.com/abpframework/abp/commit/05fbf30c71ad29e60b871602a4a2144736276633 it seems working now, thanks.

![image](https://user-images.githubusercontent.com/48407937/174641840-fe8942f1-c6e0-4215-95f3-fdc0dfaf6eaf.png)

[2022-06-20 18:24] EngincanV commented on #13057
The application startup template comes with Redis configured and Redis should be up and running to speed up the application.

This section is under the **Tiered Structure** section, so if you create an application as tiered, you need to run them in the given order.

[2022-06-20 19:26] P9avel opened #13066 "AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'! for WebAss app"
Hi, i am created new app on site https://abp.io/ but when running i am get error
![image](https://user-images.githubusercontent.com/95086762/174666870-040cbc81-0dc2-4e8c-8a14-b37983f916cf.png)

[2022-06-20 19:27] P9avel commented on #13066
Here full project
[Uploading Test (1).zip…]()

[2022-06-20 19:27] P9avel commented on #13066
[Test (1).zip](https://github.com/abpframework/abp/files/8943201/Test.1.zip)

[2022-06-20 19:57] BogdanJak opened #13067 "Blazorise error"
ABP Framework version - 5.3.0.
Blazor Server, Ef Core,

After updating all nuget packages, I am getting an error like below

![image](https://user-images.githubusercontent.com/54505464/174670263-9c36e4f7-15f4-4e89-a3ce-e4ddcfe549bd.png)

[2022-06-20 21:00] dontboyle commented on #13038
To get lint working right:

`abp add-package @volo/abp.ng.theme.lepton --with-source-code --version 5.1.3`
`ng add @angular-eslint/schematics`

 *RUN EVEN THOUGH ABOVE CMD SAYS IT IS GOING TO RUN IT*

`ng g @angular-eslint/schematics:convert-tslint-to-eslint volo-abp.ng.theme.lepton`
`No`
`Yes`

`ng lint`

[2022-06-20 21:01] #13038 closed, assigned to nobody

[2022-06-21 00:40] #13041 closed, assigned to realLiangshiwei

[2022-06-21 00:54] maliming commented on #13066
Run `abp install-libs` command on your project folder.

[2022-06-21 02:21] realLiangshiwei commented on #13067
Update all `Blazorise.*` packages to 1.0.4

[2022-06-21 03:40] hillin opened #13073 "Angular: sessionStorage used for OAuthStorage"
* Your **ABP Framework version**: 5.3
* Your **User Interface** type: Angular

In the `forRoot` method of the `CoreModule`, `localStorage` is provided as `OAuthStorage`:
https://github.com/abpframework/abp/blob/85750d67abadcb3b24f472c935ae1cbb322f6592/npm/ng-packs/packages/core/src/lib/core.module.ts#L185

However just a few lines later, the default providers of the `OAuthModule` were imported:
ht

[2022-06-21 03:57] #13057 closed, assigned to EngincanV

[2022-06-21 07:10] P9avel commented on #13066
Not works for me. Wrote Not install npm, but npm works on computer. please look image

![image](https://user-images.githubusercontent.com/95086762/174738139-56b7f157-50e4-4d9b-8923-ce473c2b55db.png)

[2022-06-21 07:24] maliming commented on #13066
See https://github.com/abpframework/abp/issues/12995#issuecomment-1154802030

[2022-06-21 07:56] ageiter opened #13076 "ABP Suite: Duplication of usings in ...WithNavigationProperty classes"
ABP Framework version: 5.3.0 (Stable)
ABP Suite version: 5.3.0
User Interface: Blazor-Server
Database provider (EF Core/MongoDB): EF Core

**To reproduce:**

If multiple navigation properties are created via the ABP Suite that reference the same entity, then the "using" will be added to that entity namespace multiple times.

Example: I create two navigation properties on the entity "Person" to the

[2022-06-21 08:12] maliming commented on #13061
hi

Please get help on https://support.abp.io/

[2022-06-21 08:12] #13061 closed, assigned to nobody

[2022-06-21 08:13] maliming commented on #13076
hi

Please get help on https://support.abp.io/

[2022-06-21 08:13] #13076 closed, assigned to nobody

[2022-06-21 08:46] ageiter commented on #13076
Why do I have to spend a paid support request for this bug report if I don't have a question, but just wanted to report this bug so you can improve the product?

[2022-06-21 08:59] maliming commented on #13076
We will refund your question credits if it is a bug.

[2022-06-21 09:08] DreamlessRaw opened #13077 "layout: eLayoutType.empty content empty"
ABP Vnext 5.2.1
Angular
EF Core

![image](https://user-images.githubusercontent.com/47837339/174761451-850cb04f-7a06-4ffa-995e-ce1ae25c7075.png)
![image](https://user-images.githubusercontent.com/47837339/174761914-3754d53e-f98b-4dae-af6a-9692d6726ec1.png)
![image](https://user-images.githubusercontent.com/47837339/174761945-9d7cdc4a-9cc0-4e5e-ab59-f85abc35ab0e.png)

Why not show the content

[2022-06-21 09:47] #13077 closed, assigned to nobody

[2022-06-21 09:49] DreamlessRaw commented on #13077
I found out because @abp/ng.theme.lepton-x

[2022-06-21 12:00] roc916 opened #13079 "How to make error messages wrap?"
ABP Framework version: 5.3.0
User Interface: Mvc
Error messages are separated by `, `, how to replace it with new line?

Screenshot:
![image](https://user-images.githubusercontent.com/12685126/174792690-0a85fa5f-a0ef-4f1d-b8c2-558dbb4fc6e2.png)

[2022-06-21 13:21] P9avel commented on #13066
Many thx, all works now!

[2022-06-21 13:21] #13066 closed, assigned to nobody

[2022-06-21 13:50] #12650 closed, assigned to EngincanV

[2022-06-22 01:20] maliming commented on #13079
This is hard-code now.
https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpIdentityResultException.cs#L22

[2022-06-22 07:06] malikmasis opened #13081 "Documentation - Dynamic Widget"
### Documentation
Please add a title to the below page, then create a detailed page for that.
https://docs.abp.io/en/abp/latest/Modules/Cms-Kit/Index

[2022-06-22 07:27] EngincanV commented on #12801
Map a dummy IP address with Github.com while testing.
Make this mapping in the hosts file (c:\Windows\System32\Drivers\etc\hosts).

[2022-06-22 08:33] RobersonLuo opened #13084 "Failed to load API definition when ABP deployed to IIS virtual directory."
### Issue description:
* First, I created an Angular App using ABP CLI (abp new  XXX) and generated the database and run the XXX app and everything is ok.
* Second, I deployed the API project "XXX.HttpApi.Host" to a remote Server ( IP 23.452.999.178) IIS  virtual directory (**demo**) and the website alias is '**services**'.
So, the API website url is changed to this: http://23.452.999.178/demo/ser

[2022-06-22 08:59] realLiangshiwei commented on #13084
Replace `c.SwaggerEndpoint("/swagger/v1/swagger.json", ....);` with `c.SwaggerEndpoint("swagger/v1/swagger.json", ....);`

[2022-06-22 12:29] #12128 closed, assigned to malikmasis

[2022-06-22 13:54] roc916 opened #13085 "`serializeFormToObject` function should serialize empty input to `null`"
**ABP Framework version: 5.3.0**
**User Interface: Mvc**

Looking at the screenshot, if the `phoneNumber` is an empty string, data validation(EmailAddressAttribute, PhoneAttribute...) will fail.
If the value of the `phoneNumber` is null, it will work fine.

Screenshots:
<img width="1199" alt="image" src="https://user-images.githubusercontent.com/12685126/175044054-1ad9fea8-804b-4467-a7e0-9b8af0f2a

[2022-06-22 13:57] omer-repo opened #13086 "Problems in creating new project with Get Started page"
I created a new Blazor application with these configurations in GetStarted page (https://abp.io/get-started)

![Get Started](https://i.imgur.com/cxbkkHm.png)

Although I didn't select "Separate Identity Server" option, it created .IdentityServer project seperately.
![Project.zip](https://i.imgur.com/rglkXcX.png)

Also it didn't generate libs folder in .Host project. I think new Abp Cli generates i

[2022-06-22 14:01] roc916 commented on #13086
`Mvc` application also have the same problem.

<img width="356" alt="image" src="https://user-images.githubusercontent.com/12685126/175049098-04076f87-ae37-47f8-9d6f-98f910211e1d.png">

[2022-06-22 14:05] EngincanV commented on #13086
Thanks for reporting these problems. I'll be working on it.

[2022-06-22 14:18] roc916 commented on #13086
Looks like https://abp.io uses version `6.0` of `Volo.Abp.Cli.Core`...  🤣

[2022-06-22 14:22] roc916 commented on #13086
<img width="989" alt="image" src="https://user-images.githubusercontent.com/12685126/175053033-c88ebd79-4602-44d9-8a78-01d8e810bad6.png">

[2022-06-22 14:58] ebicoglu commented on #13086
are you using nightly build of ABP CLI?

[2022-06-22 15:01] roc916 commented on #13086
Yes, https://abp.io/get-started have the same problem

[2022-06-22 19:00] naderjavid opened #13087 "style problem in leptonX MVC for rtl languages"
ABP Framework version: 5.3.0 preview
User Interface: MVC
EF Core
reproduce:
1. bootstrap-dim.css not loaded in rtl langauges
![bug](https://user-images.githubusercontent.com/30950912/175115421-2ebdd04f-a9b5-45db-a45a-f81ada3af97a.jpg)
2. need to add this rules for rtl languages
.rtl .lpx-content-container {
    margin-left: 0;
    margin-right: 280px
}

.rtl .lpx-topbar {
    border-radius: 0 16px

[2022-06-23 01:19] RobersonLuo commented on #13084
I had already tried this method, but it's hard-coded, not flex,  can't meet my real case .
I want to **build once, and deploy it to many place, just change the url (virtual directory)**.
Thanks very much.

[2022-06-23 01:44] maliming commented on #13085
You can change its logic yourself. If we change it will break the apps.

[2022-06-23 01:44] #13085 closed, assigned to nobody

[2022-06-23 02:59] yasinhallak opened #13088 "[Commercial]Style problem in DataTeble RTL"
ABP Framework version: v5.3.0
UI type: MVC
Tiered (MVC) or Identity Server Separated (Angular): no
DB provider: EF Core

hi everyone .
there is bugs in DataTeble style  RTL

![image](https://user-images.githubusercontent.com/41200731/175196723-d6a91c8f-8024-46e1-9e8b-1dff15fa732c.png)

[2022-06-23 03:10] maliming opened #13089 "Investigate OpenIddict 4.0."
https://kevinchalet.com/2022/06/22/openiddict-4-0-preview1-is-out/

[2022-06-23 04:12] naderjavid commented on #13088
just add this rule to your global_style
.rtl table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: right;
}

[2022-06-23 05:05] naderjavid commented on #13087
add this rules too, please

.rtl div.dataTables_wrapper div.dataTables_filter input {
    margin-right: 0.5em;
    margin-left: unset;
}
@media only screen and (min-width: 1200px) {
    .rtl #lpx-wrapper.hover-trigger .lpx-content-container {
        margin-right: 72px;
        margin-left: unset;
    }
}
.rtl .lpx-topbar-content {
    margin-left: 10px;
    margin-right: unset;
}
.rtl .dataTables

[2022-06-23 05:37] maliming commented on #9997
https://github.com/dotnet/aspnetcore/issues/40764

[2022-06-23 06:03] #12478 closed, assigned to enisn

[2022-06-23 06:22] Qlimax2009 opened #13090 "It task too long when before request finished"
ABP:5.1.4
DB: EF Core

One of my requests takes much more time，my function `CreateAsync` take about 300ms，but after that,it take about 900ms, is there any special function during this period，How can I reduce this time？
![image](https://user-images.githubusercontent.com/48152443/175224932-a8f49e63-9b30-489f-bf31-6e1971d8a7b0.png)

My code example：
[code]

[2022-06-23 06:39] Joncyzx opened #13091 "In LeptonXLite Theme,under the CMS,cms pages throw InvalidOperationException"
5.3.0
MVC
Ef Core
LeptonXLite

![image](https://user-images.githubusercontent.com/20852007/175231778-89b72756-7741-481b-bafe-d7b2a48da99c.png)
![image](https://user-images.githubusercontent.com/20852007/175231834-be48925a-9b3a-404a-8678-15b9cdde46c8.png)

[2022-06-23 07:01] gaojianzhuang opened #13092 "Alerts should be deleted if the user click dismiss or shown one time"
### GitHub Issues
AlertManager.Alerts

If the alert show one time then the user refresh page, the alert information should not display again. Or if the user click the disimiss button, we should remove this alert from backend.

If you're creating a bug/problem report, please include followings:

* ABP 5.3.0.
* MVC
* EF Core

Currently, if the user refresh page, the alert message always display ther

[2022-06-23 07:10] Qlimax2009 commented on #13090
I may found the problem,It cause by the audit log

[2022-06-23 07:10] #13090 closed, assigned to nobody

[2022-06-23 07:24] ismcagdas commented on #13024
@hellorms thank you for your suggestion. Removing the flag icons was a rough decision and we will not add it back at least for now :). We may reconsider it in the future.

By the way, thank you for trying LeptonX and providing valuable feedbacks 🙂

[2022-06-23 07:24] #13024 closed, assigned to nobody

[2022-06-23 07:27] ismcagdas commented on #13023
@demirmusa @enisn could you test this on MVC template together ? We just released beta3 for LeptonX, you can use that version.

[2022-06-23 07:27] ismcagdas commented on #13022
@hellorms this is implemented and we just released beta3 for LeptonX, could you try with that version ?

[2022-06-23 07:29] ismcagdas commented on #12979
@khaledpro2012 LeptonX has some problems with RTL and we are aware of that. We are planning to release 1.0 version of LeptonX with RTL support. We are tracking the issue internally, but I will also keep this issue open and inform you once LeptonX RTL support is done and released.

[2022-06-23 07:31] ismcagdas commented on #13016
@enisn @demirmusa could you test this together with beta3 verison ?

[2022-06-23 07:32] ismcagdas commented on #13040
Thank you @joernz
@dominiclapointe we just released beta3 verison, could you try with that one and share the final results ?

[2022-06-23 07:33] ismcagdas commented on #12655
Duplicate of https://github.com/abpframework/abp/issues/13022

[2022-06-23 07:33] #12655 closed, assigned to nobody

[2022-06-23 08:02] maliming commented on #13092
In this case, the previous steps are repeated again. So it will be displayed again.

[2022-06-23 08:05] enisn commented on #13016
It works on MVC, blazor but Angular. We'll fix it for Angular.

[2022-06-23 08:06] joernz commented on #13016
hi @ismcagdas,
as far as I checked, those ngb components are also not following the brand color:

- button in ngbDropdown (when clicking on)
- ngbNav (I liked the style in Alpha version, and it followed the brand color as wished, could we bring it back? :))
- checkbox

[2022-06-23 08:24] enisn commented on #13023
Reproduced with LeptonX beta.3 for each UI type. It seems it's a core styling issue independent of UI type.
@muhammedaltug

[2022-06-23 08:25] enisn commented on #13022
It has been added with beta.3. So, I'm closing this issue. Try it with the new version and feel free to re-open this issue if your problem continues.

[2022-06-23 08:25] #13022 closed, assigned to nobody

[2022-06-23 09:24] muhammedaltug commented on #13016
Hello @joernz

After bootstrap 5 migration, we couldn't override bootstrap colors with CSS variables. We will work on this.

[2022-06-23 10:05] tvddev commented on #9997
So why wait for microsoft?

[2022-06-23 10:18] #13088 closed, assigned to nobody

[2022-06-23 11:02] yasinhallak opened #13096 "[Commercial] LeptonX does not work well in RTL"
there are a collection of bugs

[2022-06-23 11:13] enisn commented on #13091
Confirmed the issue.

We'll make that section optional in LeptonX Theme

[2022-06-23 11:52] maliming commented on #9997
We use Microsoft's framework, if it doesn't support we can't do anything.

[2022-06-23 11:59] #13091 closed, assigned to enisn

[2022-06-23 12:05] enisn commented on #13091
This problem has been solved and it'll be shipped in next release of LeptonX

[2022-06-23 13:07] sturlath opened #13097 "Content Request: Practical usages of CMS for Pages/blogs (styles and script)"
The [documentation ](https://docs.abp.io/en/abp/latest/Modules/Cms-Kit/Global-Resources)is very light on how to use the CMS module to create content.

We have Content, Script and Style tab that need more docs on usage

- How to style/size items like e.g. images
   - this took me some time `<img src="/api/cms-kit/media/94a32e3a-fe79-248a-64c6-3a04a2a21560"  width="300" height="300">`
- How to creat

[2022-06-23 13:54] gaojianzhuang commented on #13092
If the user submit the form but not redirect to another page, the refresh page will awalys display.

[2022-06-23 14:05] sturlath commented on #13097
After just trying basic stuff with the CMS system I think it is mostly just usable for things like Terms and Conditions and Privacy policies where there is lots of text and little style/images/UI stuff.

I will not use it for now, but the reason is manly now because it doesn´t have localization so I´m stuck with only one language..

Sorry for the rant, I hope you can use the feedback to make updat

[2022-06-23 16:19] sturlath commented on #13097
As a feature request it would be awesome to be able add html with CSS that had data place-holders. You could then just get some bootstrap/html and add the managed (in CMS) content within it. Maybe someday ;-)

[2022-06-23 17:40] naderjavid commented on #13087
.rtl .text-end {
    text-align: left !important;
}
.rtl .modal-header .btn-close {
    margin: -0.75rem auto -0.75rem -0.75rem;
}
.rtl .form-select {
    background-position: left 0.75rem center;
}

[2022-06-23 23:18] evrame commented on #7372
Having the same issue on Ubuntu 22.04.
Here is what happens when I ```dotnet run``` :
![Screenshot from 2022-06-24 01-14-58](https://user-images.githubusercontent.com/66332895/175430394-8227b5e3-75fe-443b-bf20-e9aa9599212e.png)

.net 6 SDK and Abp Cli version 5.3.0

[2022-06-24 00:44] #13086 closed, assigned to EngincanV

[2022-06-24 00:44] maliming commented on #13092
This is the browser's behavior.

[2022-06-24 00:44] #13092 closed, assigned to nobody

[2022-06-24 01:11] realLiangshiwei commented on #7372
@evrame
Please create a new issue, thanks

[2022-06-24 01:21] maliming opened #13099 "Make `ApplicationConfigurationDto` extensible."
https://support.abp.io/QA/Questions/3294

[2022-06-24 01:51] realLiangshiwei commented on #13087
Hi,

Please follow: https://github.com/abpframework/abp/issues/12979

[2022-06-24 01:51] #13087 closed, assigned to nobody

[2022-06-24 01:52] realLiangshiwei commented on #13096
Hi,

Please follow: https://github.com/abpframework/abp/issues/12979

[2022-06-24 01:52] #13096 closed, assigned to nobody

[2022-06-24 03:51] weiwxg opened #13101 "how to Limit the number of selections in Auto-Complete Select？"

[2022-06-24 04:27] naderjavid commented on #13101
Hi, you must do it like this
<select data-maximumSelectionLength="2"

[2022-06-24 04:40] weiwxg commented on #13101
Not work under v5.3

[2022-06-24 05:02] naderjavid commented on #13101
Sorry, you must change it to kebab case
<select data-maximum-selection-length="2"

[2022-06-24 05:03] naderjavid commented on #13101
https://select2.org/configuration/data-attributes

[2022-06-24 05:23] gizemmutukurt opened #13102 "Test PR - Update leptonx-lite version to 1.0.0-beta.3 for templates"
Releated https://github.com/abpframework/abp/pull/13094

[2022-06-24 05:25] #13102 closed, assigned to gizemmutukurt

[2022-06-24 05:28] gizemmutukurt opened #13103 "Test CLI PR"
- [x] https://github.com/abpframework/abp/pull/13058

[2022-06-24 07:53] weiwxg commented on #13101
thx!

[2022-06-24 07:53] #13101 closed, assigned to nobody

[2022-06-24 09:46] #12204 closed, assigned to nobody

[2022-06-24 10:18] kevinchalet commented on #13089
FYI, there'll be a breaking change in 4.0: the `AddClaim` overloads taking a `destinations` parameter will be removed. A quick search shows that 2 places seem to use these extensions:
  - https://github.com/abpframework/abp/blob/60e55d6e86235ab0ba2b8a4a6c0faac32a1f9114/modules/openiddict/src/Volo.Abp.OpenIddict.AspNetCore/Volo/Abp/OpenIddict/Controllers/TokenController.ClientCredentials.cs#L34-L38

[2022-06-24 10:24] realmingliang commented on #12929
`  app.Properties["_AbpExceptionHandlingMiddleware_Added"] = true;
     app.UseMiddleware<MyExceptionHandlingMiddleware>();`

[2022-06-24 11:18] EngincanV opened #13109 "Improve styling on AuthServer page for LeptonX-Lite Theme"
We need to improve the styling of the homepage of the AuthServer page. If the theme is lepton-x lite, it seems as below.

![image](https://user-images.githubusercontent.com/43685404/175522164-048df787-ae39-44d7-977e-59b7d26529cb.png)

[2022-06-24 11:24] puschie286 opened #13110 "UseQueryTrackingBehavior has no effect | Not able to update data"
Documentation Ref: https://docs.abp.io/en/abp/latest/Entity-Framework-Core#abpdbcontextoptions

* Your **ABP Framework version**: 5.3
* Your database provider(EF Core/MongoDB): EF Core
* Exception message and **stack trace** if available (check the logs):
`The instance of entity type 'Setting' cannot be tracked because another instance with the same key value for {'Id'} is already being tracked. W

[2022-06-24 12:43] maliming commented on #13089
Thanks @kevinchalet I will check your comments. 👍

[2022-06-24 12:54] maliming commented on #13110
hi

I will do some tests. Your questions credits is refunded.

[2022-06-24 13:00] evrame commented on #7372
@realLiangshiwei no need, it magically worked without changing anything, cannot reproduce it.

Thanks

[2022-06-24 13:19] maliming commented on #13110
Because of the design of EF Core, if you need to update the entity, please use the previously queried entity.

[code]

You can use it as needed in your EF Core repository implementation. It only exists at the EF Core layer.

[2022-06-24 13:23] #12929 closed, assigned to nobody

[2022-06-24 14:42] puschie286 commented on #13110
thanks for pointing out. now the whole manager / dto concept makes sense ^^.

we tested to use readonly objects as entities ( ef core always return the same reference which can result in invalid states for this request / dbcontext lifecycle ) but looks like we have to stick to the "classic" flow.

[2022-06-24 14:54] ericeric284 opened #13111 "Angular generate-proxy does not work on api that return file"
Api generated by cli command "abp generate-proxy -t ng" will fail, if the api returns file.
A possible soluction is by setting api response type as blob.
I hope there can be some support for this type of api.

## Version info

* ABP Framework version: 5.3.0
* User Interface: Angular
* Database provider: EF Core

## Step to reproduce

1. Create template with angular by abp cli (bookstore for exampl

[2022-06-24 18:25] ugurozturk commented on #7670
@yerz Having the same error, how did you solve this

[2022-06-24 19:02] ugurozturk commented on #13047
@bxjg1987 Hi, How did you fix this ? Having exactly same error, using nginx reverse proxy

[2022-06-24 20:10] ElanHasson opened #13112 "Default TenantManagement module emits events with an unencrypted secret."
It is bad practice to publish events with unencrypted secrets.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/tenant-management/src/Volo.Abp.TenantManagement.Application/Volo/Abp/TenantManagement/TenantAppService.cs#L71-L81

Either password should be removed from the event or it should be encrypted.

[2022-06-25 03:26] weiwxg opened #13113 "What's the meaning of IUserLookupAppService？"
What's the difference with `IUserAppService`, and in what scenarios should I use it?

[2022-06-25 05:55] gdlcf88 commented on #13113
It's for module development and getting user info remotely.

[2022-06-25 15:30] naderjavid commented on #13113
read this documentation
[domain driven design](https://docs.abp.io/en/abp/latest/Application-Services)

[2022-06-26 01:35] sturlath opened #13114 "Can abp Blazor be this fast?"
Steves Sanderson Blazor WASM is.. well.. Blazor fast.. can abp.io get this fast please [695423](https://twitter.com/davidfowl/status/1540713073626865665?s=21&t=kjYAvzwMm-mzJM1WYA0VSQ)!

Sorry but abo.io’s Blazor is super slow..

[2022-06-26 08:11] hikalkan commented on #13114
ABP.IO has not its own Blazor. We are using the same one. Just adding some more libraries, adding authorization and some other real business requirements. Blazor is getting slow when we add these.

ABP's Angular UI, for example, is super fast. Try https://commercial-demo.abp.io/ for example, which is a large application.
ABP's Angular UI is using the same backend with the Blazor UI, which is also

[2022-06-26 18:38] hikalkan opened #13116 "Add SignalR configuration to the clustered deployment document"
We may mention about SignalR here: https://docs.abp.io/en/abp/latest/Deployment/Clustered-Environment

[2022-06-26 18:47] naderjavid opened #13117 "Failed to load resource: the server responded with a status of 415 ()"
ABP Framework version=5.3.0
User Interface=MVC

Hi, I check everything and read this issue
[No 'Access-Control-Allow-Origin' header ...](https://support.abp.io/QA/Questions/800/No-%27Access-Control-Allow-Origin%27-header-for-Angular-Application-with-Backend-Deployed-on-Docker)
but I couldn't solve the problem, I will appreciate it if someone help

![2022-06-26](https://user-images.githubuserconten

[2022-06-27 00:46] maliming commented on #13117
hi

What are the logs?
How to reproduce?

[2022-06-27 01:31] maliming commented on #13112
hi

If we encrypt it, it needs to be decrypted on the receiving end, which may cause extraneous dependencies.

I guess the messaging middleware will also protect the message.

It doesn't show up in the audit log. right?

[2022-06-27 02:12] #12925 closed, assigned to realLiangshiwei

[2022-06-27 03:14] naderjavid commented on #13117
logs:

2022-06-27 07:42:20.314 +04:30 [INF] Request starting HTTP/2 POST https://localhost:44317/api/app/profile/save-profile-picture multipart/form-data;+boundary=----WebKitFormBoundary1yvtNvwo6ILm6V9a 611524
2022-06-27 07:42:20.314 +04:30 [INF] CORS policy execution successful.
2022-06-27 07:42:20.363 +04:30 [INF] No CORS policy found for the specified request.
2022-06-27 07:42:20.365 +04:30 [IN

[2022-06-27 03:15] naderjavid commented on #13117
[code]

[2022-06-27 03:16] naderjavid commented on #13117
[code]

[2022-06-27 03:23] realLiangshiwei opened #13118 "Upgrade Lepton X Theme packages"

[2022-06-27 03:33] #13118 closed, assigned to nobody

[2022-06-27 03:45] maliming commented on #13117
Your ajax request via `multipart/form-data`, I guess the `ProfilePictureDto` binding from `JSON`.

Please share the full code.

[2022-06-27 04:57] naderjavid commented on #13117
thank you @maliming, actually i write custom api and problem solved
public async Task<IActionResult> SaveAvatar()
    {
        foreach (var file in Request.Form.Files)
        {
            var input = new ProfilePictureDto()
            {
                FileName = file.Name,
                FileExtension = Path.GetExtension(file.Name),
                FileBytes = file.GetAllBytes()

[2022-06-27 04:57] #13117 closed, assigned to nobody

[2022-06-27 06:50] #13067 closed, assigned to nobody

[2022-06-27 10:57] gizemmutukurt opened #13120 "Test CLI PRs (preview version)"
- [x] https://github.com/abpframework/abp/pull/13049
- [x] https://github.com/abpframework/abp/pull/13083

Since it is difficult to test these PRs before the preview, they will be tested when the preview version is released.

[2022-06-27 11:08] #13103 closed, assigned to gizemmutukurt

[2022-06-27 12:52] ahmadmasoum opened #13123 "Volo.Abp.AbpException: Could not find the bundle file '/libs/luxon/luxon.min.js' for the bundle 'Lepton.Global'!"
**ABP Framework version** 5.3.0.
**User Interface** MVC Tired / Not Tired
**Your database provider** EF Core

* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.

Create new project
run migrator
run the project

--

I tried `abp install-libs`
[code]

[2022-06-27 12:53] EngincanV commented on #13123
Can you delete the `package-lock.json` file and re-run the `abp install-libs` command again?

[2022-06-27 13:00] ahmadmasoum commented on #13123
I've tried that but still got the same error

[2022-06-27 13:11] maliming commented on #13123
hi @ahmadmasoum

What's the output of `abp install-libs` command?

[2022-06-27 13:18] ahmadmasoum commented on #13123
Hi @maliming
This is the output
Not Tired
![image](https://user-images.githubusercontent.com/72628109/175950979-d679797f-679a-47e8-8594-18421f53b0cf.png)

Tired
![image](https://user-images.githubusercontent.com/72628109/175951447-a489c753-d10d-4028-be4f-ce1c50ecb511.png)

[2022-06-27 14:25] #13099 closed, assigned to maliming

[2022-06-27 16:27] dontboyle opened #13124 "Adding account module "replace package with source code" throws error"
New Project created via abp suite (v 5.3.0). Enterprise License.

Installing each module by clicking "yes" on every popup.

Unsuccessful module installs:
**Account**/**SaaS**                                                                             - Replace package with sourcecode
**Payment**/**Chat**/**File Management**/**CMS Kit**/**Forms**/**Twilio SMS**   - Add as Project

Could not find a

[2022-06-27 18:18] sturlath commented on #13114
Yes sorry for this "outburst" of mine 😅 and I know yours is not special version. To note  I´m happy with everything abp.io but loading of my Blazor backend is terribly slow (by any standard) what ever I have tried.

So when you see something like [this](https://twitter.com/stevensanderson/status/1540361092249026560) you wonder why mine is taking such a long time.

Then you see that he is using ["I

[2022-06-27 18:45] PioneerOfProgramming opened #13125 "How to get edition features with Application Configuration Endpoint?"
I implement edition features by adding editionId in the tenant table and following this documentation:
https://docs.abp.io/en/abp/latest/Features
but when I add features to an edition I don't get it with /api/abp/application-configuration API as tenant features
Could you help me to deal with it?

[2022-06-28 01:04] #12239 closed, assigned to nobody

[2022-06-28 01:04] #11879 closed, assigned to nobody

[2022-06-28 01:04] #12285 closed, assigned to nobody

[2022-06-28 01:04] #12271 closed, assigned to nobody

[2022-06-28 01:04] #12309 closed, assigned to nobody

[2022-06-28 01:09] maliming commented on #13125
hi

You can customise the endpoint response now.

https://github.com/abpframework/abp/pull/13100

[2022-06-28 01:10] maliming commented on #13124
hi

Please get help on https://support.abp.io/

[2022-06-28 01:10] #13124 closed, assigned to nobody

[2022-06-28 01:13] maliming commented on #13123
It seems you're using the abp commercial. Please discuss on https://support.abp.io/

[2022-06-28 05:48] cicna opened #13140 "About eShopOnAbp"
Hi，When will **eShopOnAbp 1.0** be released

[2022-06-28 06:06] hikalkan commented on #13114
OK, we will test and work on these. Thanks.

[2022-06-28 07:55] bxjg1987 opened #13142 "how single tier applications integrate backgroundjobs."
abp5.3 single layer application
There are no relevant documents on how single tier applications integrate backgroundjobs.

[2022-06-28 08:51] EngincanV opened #13144 "Update VoloDocs standalone deployments (self-contained)"
1- Update zip files here https://docs.abp.io/en/abp/latest/Apps/VoloDocs#download

[2022-06-28 08:53] skoc10 commented on #13144
C:\inetpub\wwwroot\apps_abp_io\VoloDocs

[2022-06-28 09:45] shuangbaojun opened #13145 "Error using minio"
ABP Framework version 5.3.0.

![image](https://user-images.githubusercontent.com/64063254/176148039-518bc265-e6e9-46ab-93a6-f3bd61243b42.png)

[code]

[2022-06-28 09:49] maliming commented on #13145
hi

Resolved by https://github.com/abpframework/abp/pull/13054

https://support.abp.io/QA/Questions/3267/Minio-----------------SystemNullReferenceException--%27Object-reference-not-set-to-an-instance-of-an-object%27#answer-2234710c-2705-86ab-df0c-3a04928fe564

[2022-06-28 09:49] #13145 closed, assigned to nobody

[2022-06-28 10:52] EngincanV commented on #13144
VoloDocs self-contained deployments are updated.

[2022-06-28 10:52] #13144 closed, assigned to EngincanV, skoc10

[2022-06-28 12:02] albutta commented on #10842
Is this still going to happen :)

[2022-06-28 12:10] morindo commented on #11703
I'm still having the same problem.

[2022-06-28 12:44] realLiangshiwei commented on #11703
Hi, @all

We released version 5.3.0, can you check if it works.

[2022-06-28 12:46] morindo commented on #11703
Ok, thank you, I'll try that and keep you posted.

[2022-06-28 12:51] maliming opened #13146 "Delete the tenant's cookie if it does not exist."
If the current tenant comes from Cookies.

[2022-06-28 13:25] cld0815 commented on #13015
Can anyone help me?

[2022-06-28 14:27] ebicoglu opened #13148 "Docs module - Integrate a rate-limit library"
This is the library to integrate: https://github.com/stefanprodan/AspNetCoreRateLimit
NuGet package: https://www.nuget.org/packages/AspNetCoreRateLimit/
Check out this article https://www.c-sharpcorner.com/article/implement-rate-limiting-in-asp-net-core-web-api/
Also aspnetboilerplate.com uses this package you can check the implementation

- https://github.com/volosoft/volo/blob/dev/websites/aspne

[2022-06-28 15:37] ebicoglu opened #13151 "Docs - Error when inserting document"
Here's the exception stack of the problem.
The problem occurs at https://github.com/abpframework/abp/blob/dev/modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs#L409

[code]

[2022-06-28 15:38] ebicoglu opened #13152 "Docs - Inserting to repository fails with concurrency exception"
Here's the exception stack of the problem.
The problem occurs at https://github.com/abpframework/abp/blob/dev/modules/docs/src/Volo.Docs.Application/Volo/Docs/Documents/DocumentAppService.cs#L409

[code]

[2022-06-28 17:52] MoisesBas opened #13153 "Kafka integration for when upgrading 5.3.0 is giving an issue."
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

I have ongoing project build in 5.2.2 commercial version. everything is fine especially the KAFKA integration b

[2022-06-29 01:20] realLiangshiwei commented on #13153
Hi,

I will check it out.

[2022-06-29 04:32] #13146 closed, assigned to maliming

[2022-06-29 06:09] EngincanV commented on #13151
Duplicate of #13152

[2022-06-29 06:09] #13151 closed, assigned to nobody

[2022-06-29 06:22] #13153 closed, assigned to realLiangshiwei

[2022-06-29 06:42] mannok commented on #12359
@maliming I think this cannot address my problem. The `AbpAutofacServiceProviderFactory` and `AbpAutofacHostBuilderExtensions` only responsible for how the implementation is created for some interface. The problem now is that the Castle Proxy is not created for some implementation. There is no way for me to achieve that in `AbpAutofacServiceProviderFactory` nor`AbpAutofacHostBuilderExtensions`

I

[2022-06-29 08:37] #13008 closed, assigned to yekalkan

[2022-06-29 09:39] #12999 closed, assigned to mahmut-gundogdu

[2022-06-29 13:27] weiwxg opened #13177 "how to set request header while submit modal？"
v5.3 MVC

[2022-06-29 13:37] #13152 closed, assigned to EngincanV

[2022-06-29 18:39] tobimax opened #13178 "abp update does not update dependencies"
**ABP Framework version** 5.3.0
**User Interface** Blazor Server
**Database Provider** EF Core & MongoDB

Update a project to 5.3.0 using abp update

Observerd

Only Components for APB are updated. Causes build to crash.

Expected

All dependant components versions that ship with 5.3.0 should be updated as well.

i.e. Blazorise / Bootstrap / Unit Testing / Microsoft Extensions etc.

[2022-06-29 23:42] weiwxg commented on #13177
[code]

For example, how to set the `xhrFields` required by the above code while `modal` submit?

[2022-06-30 00:42] realLiangshiwei commented on #13177
This has nothing to do with ABP

[2022-06-30 00:42] #13177 closed, assigned to nobody

[2022-06-30 00:45] weiwxg commented on #13177
This is about how to set extra params in `ModalManager` !!! Does this have anything to do with `ABP` ？？？

[2022-06-30 00:48] realLiangshiwei commented on #13177
You can get the form element to do anything you want.

https://docs.abp.io/en/abp/latest/UI/AspNetCore/Modals#functions

![image](https://user-images.githubusercontent.com/16813853/176569312-3df19a1b-eb51-4966-a71b-38887fbb4bb7.png)

[2022-06-30 01:28] realLiangshiwei opened #13179 "Enhance MongoDbRepository"
https://support.abp.io/QA/Questions/3346/
Add `AggregateOptions` to `GetMongoQueryableAsync` method

[2022-06-30 01:59] maliming commented on #13178
hi

It will upgrade Volo's packages now. We will try to enhance this command in the future.

[2022-06-30 03:13] #13179 closed, assigned to realLiangshiwei

[2022-06-30 04:19] afresh opened #13181 "Ant Design Pro UI Simple"
[abp-react-antd-pro](https://github.com/afresh/abp-react-antd-pro) is an OpenID Connect (OIDC) client with React and Ant Design Pro for ABP Framework.

[2022-06-30 05:02] maliming commented on #13181
hi

You can add this sample to https://github.com/abpframework/awesome-abp

[2022-06-30 05:02] #13181 closed, assigned to nobody

[2022-06-30 06:10] ygr757326 opened #13182 "add-migration xxxxDbContext LazyServiceProvider is null"
### GitHub Issues

在 xxxxDbContext中 我重写了ShouldFilterEntity 方法，其中打印了  CurrentTenantId 。执行 add-migration 时，LazyServiceProvider is null ，导致 CurrentTenantId 报错

*  4.4.3
* EF Core

### Stack Overflow
System.NullReferenceException: Object reference not set to an instance of an object.
   at Volo.Abp.EntityFrameworkCore.AbpDbContext`1.get_CurrentTenant()
   at Volo.Abp.EntityFrameworkCore.AbpDbContext`1

[2022-06-30 06:40] maliming commented on #13182
Check the property before using it.

https://github.com/abpframework/abp/blob/67acfd3790a809a953e479e53f52ae2d4c8eb461/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L620

[2022-06-30 06:40] #13182 closed, assigned to nobody

[2022-06-30 07:24] maliming commented on #13142
It is no different.

https://docs.abp.io/en/abp/latest/Background-Jobs

[2022-06-30 07:24] #13142 closed, assigned to nobody

[2022-06-30 09:22] ebicoglu opened #13183 "Fix cross site scripting (reflected) vulnerability on language switch"
The penetration test tools are giving an alert on XSS (reflected).
Even though it's a false alert we can fix it.
This is a false alert because the rendered HTML encodes the variable therefore it's not being evaluated.

![image](https://user-images.githubusercontent.com/9526587/176641836-619ec046-79c5-44e0-bc4b-657c8d54f659.png)

[2022-06-30 14:13] puschie286 commented on #13110
@maliming
we have still some unwanted behaviour.

If you change setting1 right after inserting and call GetAsync after that, you get the changed setting object not the original that was inserted into the database. ( which makes it impossible to discard changes or compare the original object with the changed one )

I thought UseQueryTrackingBehavior( NoTracking ) would fix that - do you have any id

[2022-06-30 14:32] ElanHasson commented on #13112
Unclear --new to ABP and was reading code and found this.

Is the messaging middleware on by default? Also, what value is there in publishing secrets in events?

Shouldn't ABP be "secure by default"?

[2022-06-30 14:58] puschie286 commented on #13110
never mind - test configuration has overwritten some options ( all UseXXX calls reset the DbContextOptions )

[2022-06-30 14:58] #13110 closed, assigned to maliming

[2022-07-01 01:36] maliming commented on #13112
The event receiver needs to use the password to seed the data.

[2022-07-01 01:57] cld0815 commented on #13015
help

[2022-07-01 05:08] supriyartambe opened #13187 "instance failed"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2022-07-01 06:22] ElanHasson commented on #13112
Sounds like it may make sense to not publish the password in the event.

I can't see a use case for it to be included, as secrets shouldn't ever be revealed.

[2022-07-01 07:25] roc916 opened #13192 "UserName unable to modify capital letters"
I want the first letter to be capitalized.
e.g.  `admin` => `Admin`

change from:
https://github.com/abpframework/abp/pull/7459/files#diff-6ba8e03a918c0a6edbe2ca0b48f1632091ef8418656fd8520fa0cd90bf9547a9R41

[2022-07-01 07:34] maliming commented on #13192
Override the `ProfileAppServce`.

[2022-07-01 08:09] mandeep-sps commented on #10725
Hi Team,

I have a .Net 6 Blazor WASM app with Server Hosted Code. Before Publishing the APP I have added some few Config lines in the project file like this

1. <PropertyGroup>
2.     <TargetFramework>net6.0</TargetFramework>
3.     <BlazorEnableTimeZoneSupport>false</BlazorEnableTimeZoneSupport>
4.     <BlazorWebAssemblyPreserveCollationData>false</BlazorWebAssemblyPreserveCollationData>
5.

[2022-07-02 05:30] a-ashok opened #13196 "Themes other than (Basic /Lepton) On Deployment has issues"
after upgrading abp  from 4.4.4 to 5.3.1, on debug/development everything works perfect. but when the same is deployed / hosted for production version, themes other than Lepton or Basic results in 500 internal server error for asp.net core UI themes

in development scope below is working and no errors
if (hostingEnvironment.IsDevelopment())
        {
            Configure<AbpVirtualFileSystemOptio

[2022-07-02 06:21] a-ashok commented on #13196
same as here, embedded files (layout/js/libs) in custom theme not working in release .

_Originally posted by @maxrizwork in
https://github.com/abpframework/abp/discussions/12943#discussioncomment-2912045_

[2022-07-02 10:10] gdlcf88 opened #13199 "Failed to use IAbpDistributedLock due to the AutoMapper upgraded"
Before https://github.com/abpframework/abp/issues/12144, projects that both depend on the `Volo.Abp.DistributedLocking.Abstractions` and `Volo.Abp.AutoMapper` can correctly use:
[code]

Due to the AutoMapper 11 being upgraded to netstandard2.1 but the `Volo.Abp.DistributedLocking.Abstractions` is still netstandard2.0, the `Microsoft.Bcl.AsyncInterfaces` dependency cannot be shared anymore, so it c

[2022-07-02 10:19] gdlcf88 commented on #13199
BTW, the temporary solution for this issue is directly adding the dependency `<PackageReference Include="Microsoft.Bcl.AsyncInterfaces" Version="6.0.0" />` in your project.

[2022-07-02 15:01] #13192 closed, assigned to nobody

[2022-07-02 15:58] EngincanV opened #13202 "Community Article: How to use ml.net in an ABP based application"
We can create a sample application that shows how to use [ml.net](https://github.com/dotnet/machinelearning) in an ABP-based application. (Explain "Where is the right place for the machine learning code", "is it good to mix with the business code" etc.)

In the sample application we can use, one of the following topics:
- Sentiment Analysis
- Product Price Prediction
- Product Recommendations etc.

[2022-07-02 18:20] tobimax opened #13203 "ABP Framework version 5.3 No K8S Chart for Blazor"
**ABP Framework version** 5.3.1
**User Interface** Blazor Server
**Database Provider** EF Core & MongoDB

Create a new a project to 5.3.x using ABP suite

**Observed in etc\k8s**

No Blazor Server & Blazor (WASM) helm chart is created.
No chart values are created for Blazor Server & Blazor (WASM)

**Expected**

- Blazor Server & Blazor (WASM) helm chart is created along with Web & Angular.
- Chart

[2022-07-02 18:52] br0esel commented on #11703
I'm also having this issue. Its not only on server start, but also if a permission changes and a component with `AuthorizationService.IsGrantedAsync( [...] )`  is loaded (which checks the changed permission)

ABP Framework version: 5.3.1

[2022-07-03 12:32] recruitans commented on #11905
bekliyoruz bu makaleyi..

[2022-07-03 12:34] recruitans commented on #13202
wow. Waiting Impatiently.

[2022-07-03 12:48] zhutoutou commented on #13032
I agree with you. we should distinct that which logic type the external service was be referenced. But I have another problem. If the domain logic relates to external service, I should implement it in domain layer or only define interface and implement it in infrastructure layer? Such like a http implement.

[2022-07-03 21:30] balessi75 commented on #11989
Hi @hikalkan,

Are you aware of any current features in Abp Commercial that will no longer be available or work when Abp is implemented with OpenIdDict? Will existing applications (Blazor Server for us) using IDS 4, need to have code rewritten? If so, to what extent?

[2022-07-04 01:21] maliming commented on #13203
hi

Please create a question on https://support.abp.io/

[2022-07-04 01:21] #13203 closed, assigned to nobody

[2022-07-04 03:15] #13199 closed, assigned to nobody

[2022-07-04 05:31] hikalkan opened #13206 "Styling enhancement suggestions for the basic theme for Blazor UI"
- [x] Page header is too big (`Tenants` in this example).
- [x] "No data available" text is too big. It also should be centralized. We can also decrease height of the empty data grid area.

![image](https://user-images.githubusercontent.com/1210527/177087364-cc30efa0-df89-4dbd-8581-81203cb9381d.png)

[2022-07-04 06:18] yekalkan opened #13207 "Cli: Improve NpmHelper installation check"

[2022-07-04 09:58] virtualcca opened #13233 "Suggestion: Automatically stop all classes that inherit from IRunable"
If a class that inherits from IRunable (such as BackgroundWorkerManager) is also used as IRunable when it is registered for dependency injection
is it possible to uniformly obtain IEnumerable<IRunable> from ServiceProvider in the Shutdown method of Thread's Module and then execute StopAsync uniformly

For example
 in the Module, through context.Service.OnRegistered, if the Type is IRunable, the im

[2022-07-04 10:10] #13183 closed, assigned to ebicoglu

[2022-07-04 17:49] omer-repo commented on #13114
Actually, it is wonderful developing Blazor with ABP framework. It makes developing so easy to communicate UI with backend. I see only loading time problem even after caching assemblies.

![Loading after caching](https://i.imgur.com/qPfwmo4.png)

I tried to understand why Blazor is slow on loading. There are nearly 5-6 seconds gap between requests from backend. I am not sure it is related to backe

[2022-07-05 00:15] maliming commented on #13114
Thanks @omer-repo I will check it.

[2022-07-05 02:03] maliming commented on #13233
This doesn't seem to fit the current design.

[2022-07-05 04:53] a-a-k commented on #9997
@maliming  is that impersonation feature available for commercial version only, right?

[2022-07-05 04:54] maliming commented on #9997
Yes, but Blazor wasm does not support this.

[2022-07-05 04:58] a-a-k commented on #9997
I understand, I'm talking about the feature itself. Thanks for such a flash answer :)
Could you also clarify, is the commercial version source open or partially open?

[2022-07-05 05:05] maliming commented on #9997
The Business and Enterprise include the source code of all modules.

https://commercial.abp.io/pricing

[2022-07-05 05:08] tvddev commented on #9997
This is a major issue for any company doing SaaS.

If anyone wants to do this work we will contribute $$ we just cant sparenthe time right now.

[2022-07-05 05:56] Alexia-AT-Digitecnology opened #13238 "Add Linux Support in the MAUI template"
* **ABP Framework version:** dev branch.
* **User Interface:** MAUI

Please, add in the MAUI Template Linux Support. I will have free time to collaborate after August. There is AvaloniaUI as a multiplatform mobile/all in one  solution too.

[2022-07-05 06:47] maliming opened #13239 "Refine user edit permission."
[code]

Avoid users changing their roles to get more permissions.

[2022-07-05 07:32] maliming commented on #13239
From https://support.abp.io/QA/Questions/3369/

[2022-07-05 08:28] andmattia opened #13240 "Update from suite scan whole folder"
ABP Suite 5.3.1

I try to update a module created with suite and update command try to update the whole folder.

\Repos
--\Module1
--\Module2

I update my module1 and suite update command update Module1 & Module2

[2022-07-05 13:33] roc916 opened #13241 "The query parameter "Action" is overridden as a route parameter"
**ABP Framework version**: 5.3.1
**User Interface**: MVC

[code]

<img width="707" alt="截屏2022-07-05 21 32 05" src="https://user-images.githubusercontent.com/12685126/177339877-99e5f7c1-c8c3-4c4a-9284-36fcb97013b6.png">

 [easycrm](https://easycrm.abp.io/Account/SecurityLogs) unable to query the security log, it seems to be related to this

[2022-07-05 15:01] puschie286 commented on #12976
@ChengYen-Tang
we use it with the abp repository "Many" methods ( [Gist Ref](https://gist.github.com/puschie286/abda9724e3ef16cc98c68089b96755ea) ).
because its not tracking by default, you need to enable tracking or manually call PublishEntityEvent for each entity to trigger registered events

[2022-07-05 17:49] BogdanJak opened #13244 "LeptonX Lite - Blazor Server MainLayout background and width"
ABP Framework version - 5.3.1
User Interface - Blazor server
Your database provider - EF Core

Hello

1. How to set the full width of opened pages to 100% MainLayout width? (picture)
2. is it possible to set the background MainLayout color to e.g. black?

![image](https://user-images.githubusercontent.com/54505464/177386473-c5791924-23c0-4f65-89a9-11f27b205018.png)

[2022-07-06 01:12] maliming commented on #13241
Action is `MVC-Reserved-Keywords`, but we can improve it as well.

https://github.com/dotnet/aspnetcore/wiki/MVC-Reserved-Keywords

[2022-07-06 01:23] maliming commented on #13240
hi

You can cd to the `Module2` and run the `update` command.

[2022-07-06 02:44] maliming commented on #13241
Specifying the binding source solves the problem. like `[FromQuery] `

[2022-07-06 02:44] #13241 closed, assigned to nobody

[2022-07-06 02:52] roc916 commented on #13241
Thanks!

[2022-07-06 04:10] realLiangshiwei opened #13246 "Performance issue of AbpHybridJsonSerializer"
[code]

Result:

`abp json 292ms`
`system json 0ms`

[2022-07-06 06:10] #12940 closed, assigned to skoc10

[2022-07-06 07:38] realLiangshiwei commented on #13246
https://github.com/abpframework/abp/pull/13248

[2022-07-06 07:38] #13246 closed, assigned to maliming

[2022-07-06 08:38] BlackNinja1903 opened #13252 "Property Injection"
Hi,

 I need to inject a property like AbpDbContext's LazyServiceProvider.

[Volo.Abp.EntityFrameworkCore.AbpDbContext.cs](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs)

[code]

So I searched a place to get how abp injects LazyServiceProvider property but couldn't find any. Could you help me please.

[2022-07-06 08:46] maliming commented on #13252
https://docs.abp.io/en/abp/latest/Dependency-Injection#property-injection

[2022-07-06 08:46] #13252 closed, assigned to nobody

[2022-07-06 09:12] #12983 closed, assigned to malikmasis, enisn

[2022-07-06 09:13] virtualcca commented on #13233
This approach can unify the Stop behavior of IRunable to the Thread module for processing
without requiring each module to remember to process stop during shutdown

Although there are not many IRunables currently

[2022-07-06 09:15] maliming commented on #13233
It is up to the module implementing `IRunable ` to control it.

[2022-07-06 09:24] virtualcca commented on #13233
Ok, if you think that stop should be handled by each module, then I will close this issus

[2022-07-06 09:24] #13233 closed, assigned to nobody

[2022-07-06 10:27] haptear opened #13254 "IdentityRole is missing `AuditedAttribute` which causes no audit logs to be produced"
ABP Framework version 5.3.0
User Interface Blazor Server
Database Provider EF Core & MongoDB

IdentityRole is missing `AuditedAttribute` which causes no audit logs to be produced

[code]

[2022-07-06 11:15] tinonetic opened #13255 "Volo.Abp.FluentValidation - Documentation not clear on at what point ABP calls the Validate() method"
Hi,

I would like to use FluentValidation and I followed the ABP documentation on the topic: https://docs.abp.io/en/abp/latest/FluentValidation

1. I would like to know, at which point does ABP call the Validate() method?
    It's not clear in [the documentation](https://docs.abp.io/en/abp/latest/FluentValidation)
2. Does it happen when the object is passed to a method?
3. **With the library,** **

[2022-07-06 12:02] ageiter opened #13256 "Wrong spelling of German language name: "Deutsche" -> "Deutsch""
ABP Framework version: 5.3.0 (Stable)
ABP Suite version: 5.3.0
User Interface: Blazor-Server
Database provider: EF Core

**Bug:** German language is misspelled. It is not called "Deutsche", it must be called "Deutsch".

![image](https://user-images.githubusercontent.com/17644153/177545504-ae326cc7-0224-4eda-8e1f-d35a94c18425.png)

Thank you for the correction.

[2022-07-06 12:24] maliming commented on #13254
Which entity has this attribute?

[2022-07-06 13:13] EngincanV opened #13257 "Update LeptonX Lite package versions to 1.0.0-beta.4 for application templates"

[2022-07-06 15:03] andmattia commented on #13240
@maliming

can you explain what does you mean with "can cd to Module2".

I do this from abp suite UI not via cmd line

[2022-07-06 18:06] BogdanJak commented on #13244
?

[2022-07-06 21:42] hellorms opened #13259 "[Commercial] Button in Suite generated code needs padding"
**Version** 5.3.1 Commercial
**User Interface** MVC
**Database** EF Core
**LeptonX Version** 1.0.0-beta.3

After creating new CRUD pages using Suite, on the index.cshtml page there is no space between the **New XXX** button and the html card below.

Possible solution: The AbpContentToolbar div should have some padding below it to separate it from the card.

![image](https://user-images.githubuserc

[2022-07-07 00:30] haptear commented on #13254
IdentityUser generates audit logs

[code]

[2022-07-07 00:39] maliming commented on #13259
hi

Please discuss the commercial on https://support.abp.io/

[2022-07-07 00:39] #13259 closed, assigned to nobody

[2022-07-07 00:41] maliming commented on #13256
Thanks, We will update the text in 5.3 patch version.

[2022-07-07 00:55] maliming commented on #13255
hi

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.FluentValidation/Volo/Abp/FluentValidation/FluentObjectValidationContributor.cs#L30

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/ObjectValidator.cs#L62

https://github.com/abpframework/abp/blob/e3e17

[2022-07-07 01:05] ericeric284 opened #13260 "Angular proxy generate issue for nested class & two class with the same name but in different namespace"
For some classes, the proxy generation for angular will yeild strange results.

1. Nested class
2. Class that inherited another class with the same name, but in different namespace

ABP Framework version: 5.3.1
User Interface: Angular
Database provider: EF Core

Step to reproduce
1. Setup a demo app with angular template (abp new Acme.BookStore -t app -u angular)
4. Create the following methods in

[2022-07-07 01:22] #13254 closed, assigned to nobody

[2022-07-07 01:47] #13256 closed, assigned to nobody

[2022-07-07 01:53] maliming commented on #13240
Can you share a screenshot? Thanks

[2022-07-07 07:04] leonkosak commented on #13089
@maliming, is "valid issuers" property still relevant in OpenIddict?
IDS4 theme for valid issuers: https://github.com/abpframework/abp/issues/5589

[2022-07-07 09:39] ageiter commented on #11703
I have the same problem.

- Occurs immediately after login
- Depends on the user, i.e. if I switch between two users, I have the error only with one user (e.g. AdminUser login -> error -> logout, TestUser login -> no error -> logout, AdminUser login -> error, ... )

ABP Framework version: 5.3.1 (Commercial)
User Interface: Blazor (Server)
Database provider: EF Core

[2022-07-07 10:20] zaktecs opened #13262 "How to Integrate Dapper into Abp Framework Web App"
I'm trying to integrate Dapper into the Abp application for reading data only. Where should I put the repository and be able to access it from the Application layer? The documentation states that I have to pass in my DBContext but I can not access from the Application layer
Many thanks
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitH

[2022-07-07 11:10] muhlisatac opened #13264 "Enum Localization"
Hi

Im trying to localize enums in abp-select tag helper. I looked over below documentation and it doesn't work.
https://docs.abp.io/en/abp/latest/Tutorials/Part-2?UI=MVC&DB=EF#localization

But the proper way is explained below.
https://docs.abp.io/en/abp/5.3/UI/AspNetCore/Tag-Helpers/Form-elements#label-localization-1

So can you please resolve the conflict between these pages? Or am i missing s

[2022-07-07 11:30] gizemmutukurt opened #13265 "Test - Update LeptonX Lite package versions to 1.0.0-beta.4 for application templates"
Releated https://github.com/abpframework/abp/pull/13258

[2022-07-07 13:23] #13257 closed, assigned to EngincanV

[2022-07-07 17:11] tinonetic commented on #13255
Thanks for the response. I tried to understand the tests.

Could you explain exactly what happens?

Does the validation only happen when the object in question is passed as a parameter to the method?

[2022-07-08 00:33] maliming commented on #13255
The interceptor or filter validates the parameter before the method is called.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/ValidationInterceptor.cs#L16

[2022-07-08 00:36] maliming commented on #13264
Did you try this demo?

https://github.com/abpframework/abp-samples/tree/master/BookStore-Mvc-EfCore

[2022-07-08 00:38] maliming commented on #13262
hi

Using the repository interface on the application layer. And implement the interface in EF Core.

[2022-07-08 03:29] juchunwei opened #13274 "CMS kit not render html content instead showing html code"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

* Your **ABP Framework version**.  5.3.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: MVC
* Your database provider(EF Core/MongoDB) : EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps

[2022-07-08 05:11] maliming commented on #13274
Steps needed to reproduce the problem.

[2022-07-08 05:16] maliming commented on #13089
hi @leonkosak

I think you can configue the `TokenValidationParameters` of `OpenIddictValidationOptions`.

It's same logic.

[2022-07-08 06:16] #13265 closed, assigned to gizemmutukurt

[2022-07-08 06:37] juchunwei commented on #13274
@maliming

1. Create a new page in CMS.  And add the Html code `<div class="text-danger">1233</div>`.  I want to show the 1233 in red. See the first image.
2. Then create a menu and link to the page.
3. Open the page.  it's showing the html code but not 1233 in red. (the second image).
4. This code works: `Markdown.ToHtml(page.Content, MarkdownPipeline);`

[2022-07-08 06:51] #12757 closed, assigned to nobody

[2022-07-08 06:52] hikalkan opened #13275 "Migration guide to ABP 6.0"
This is especially needed for IDS to OpenIddict change.

[2022-07-08 06:57] maliming commented on #12769
https://github.com/abpframework/abp/issues/13275

[2022-07-08 06:57] ismcagdas commented on #12089
Closing for now since we don't have a clear solution to this. I will track this item internally.

[2022-07-08 06:57] #12089 closed, assigned to nobody

[2022-07-08 07:10] leonkosak opened #13276 "Abp.Timing.Timezone - setting ignored"
We are experiencing problems with retrieval of Tenant Settings, specifically Abp.Timing.Timezone, from the database. Our application is running on v4.3. with Multitenancy and separate postgres databases for each Tenant.
In the modules, where the timezone settings are needed, we have defined the ModuleSettingDefinitionProvider as the [documentation](https://docs.abp.io/en/abp/4.3/Settings) instruct

[2022-07-08 07:26] #12046 closed, assigned to mahmut-gundogdu

[2022-07-08 07:38] maliming commented on #13276
Can you provide steps or code to reproduce the problem?

[2022-07-08 08:14] totpero opened #13277 "DataTemplating feature"
Hi,

You have [TextTemplating](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.TextTemplating.Core) mechanism and this is very nice feature but this can be more generic.
My scenario:
I want to use  TextTemplating pattern to generate Excel file or Word file.

If you rename [Volo.Abp.TextTemplating.Core](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.TextTemp

[2022-07-08 08:27] maliming commented on #13277
hi

`return byte[] or Stream (not string),` will be a breaking change, I will try to find a way.

[2022-07-08 08:49] maliming commented on #13274
@enisn

What do you think?

[2022-07-08 09:36] enisn commented on #13274
This might be related to https://github.com/abpframework/abp/pull/13082/files#diff-4e842adbbd7affc52ac0f2ed434255da13feeae68e6d739ab53732e8f84097b0R75

I'll check if this happens in earlier versions.

[2022-07-10 05:17] naderjavid commented on #13264
hi, you must use it this way
assume we have below enum
    public enum UnitType
    {
        Undefined,
        Ceo,
        Deputy,
        Management,
        RegionManagement,
        Expert
    }

for the English localization we have this
{
    "Enum:UnitType:0": "Undefined",
    "Enum:UnitType:1": "Ceo",
    "Enum:UnitType:2": "Deputy",
    "Enum:UnitType:3": "Management",
    "Enum:UnitType

[2022-07-10 10:08] luy710 opened #13280 "How about using ABP to monitor industrial signals in real time"
How about using ABP to monitor industrial signals in real time? Is this framework competent for TCP high concurrency monitoring? Will it be bloated?

[2022-07-10 10:37] leonkosak commented on #13280
Please describe "industrial signals in real time".
I would say that db design is one of the crucial factors.

[2022-07-10 14:34] luy710 commented on #13280
Indeed, db design is very important aspect.
For example, collect the success signal of electric hand drill in real time, and control whether the pipeline enters the next process through counting

[2022-07-10 14:35] luy710 commented on #13280
Indeed, db design is very important aspect.
For example, collect the success signal of electric hand drill in real time, and control whether the pipeline enters the next process through counting

[2022-07-10 14:35] luy710 commented on #13280
Indeed, db design is very important aspect.
For example, collect the success signal of electric hand drill in real time, and control whether the pipeline enters the next process through counting

[2022-07-10 16:09] muhlisatac commented on #13264
@naderjavid  why do you have to localize same thing twice? @maliming I didn't downloaded the demo but i followed the tutorial.

[2022-07-10 16:46] BogdanJak commented on #13244
What a great help - exemplary support.

[2022-07-10 22:45] tinonetic commented on #13280
Absolutely possible through TCP. That's more of a .NET capability than it is an ABP capability.

It can be "real" realtime or near-realtime, depending on the whole signalling pipeline & the components you choose to use

You can definitely do it and build ABP around it.

Good luck!

[2022-07-10 22:48] tinonetic commented on #13255
I failed to get it working with a `DomainService`, so I abandoned this approach and used the DI approach as [documented by the FluentValidation team](https://docs.fluentvalidation.net/en/latest/di.html#dependency-injection).

When I have time, I will try to create a sample project to show this behaviour.

Thanks

[2022-07-11 01:45] maliming commented on #13255
OK, No problem.

[2022-07-11 02:20] imxiongstu commented on #12466
您的邮件我已经收到，请耐心等待回复熊www.imxiongstu.cn

[2022-07-11 02:27] #12466 closed, assigned to nobody

[2022-07-11 02:31] #11618 closed, assigned to muhammedaltug, enisn

[2022-07-11 02:31] #11653 closed, assigned to muhammedaltug

[2022-07-11 02:31] #12379 closed, assigned to nobody

[2022-07-11 02:32] #12311 closed, assigned to nobody

[2022-07-11 02:33] #12320 closed, assigned to nobody

[2022-07-11 02:33] #12319 closed, assigned to nobody

[2022-07-11 02:34] #12329 closed, assigned to nobody

[2022-07-11 02:34] #12344 closed, assigned to nobody

[2022-07-11 02:35] #12346 closed, assigned to nobody

[2022-07-11 08:06] tianxin8206 opened #13281 "An error in ServiceCollectionCommonExtensions. GetRequiredService<T>"
abp version: 5.3.2

error:
![image](https://user-images.githubusercontent.com/32237514/178217661-f9936cc2-201b-44d0-b929-29a3da1f7520.png)

[2022-07-11 08:19] maliming commented on #13281
* Steps needed to **reproduce** the problem.

[2022-07-11 08:23] tianxin8206 commented on #13281
This is a startup error.
![image](https://user-images.githubusercontent.com/32237514/178220834-a335a505-7422-46d4-8805-4ddf0ee0d0fd.png)

[2022-07-11 09:49] realLiangshiwei opened #13282 "Add unit test for OpenIddict module"

[2022-07-11 15:23] zaktecs commented on #13262
Hi @maliming
thanks for your response. Creating the repository in the Application Layer will require a reference to EntityFrameworkCore.csproj as I need access to the DBContext.  I understand it is not a good idea to reference the EntityFrameworkCore from the Application layer. Do you have an example I can have a look
Many thanks
Zak

[2022-07-11 19:55] sturlath opened #13284 "Error in Blazor PWA when published (Azure) but not Locally"
I have followed the [Blazor PWA guide ](https://docs.abp.io/en/abp/latest/UI/Blazor/Pwa-Configuration) in details and can get the **install button** when debugging on localhost.

But when I release the app I don´t get the install button but what I get is this error

[code]

pointing to this error in the published service-worker.js

![image](https://user-images.githubusercontent.com/2386572/1783457

[2022-07-11 20:48] sturlath commented on #13284
OK I don´t know what happened but with this change (added try catch log) everything seems to have started to work

<img width="581" alt="image" src="https://user-images.githubusercontent.com/2386572/178354934-9d42ee58-b09f-4dba-91f4-70d4b0c57cbe.png">

There is no error log in the console so it must have kicked off some browser reset I guess...  so if people have this issue it might be enough to '

[2022-07-11 20:48] #13284 closed, assigned to nobody

[2022-07-12 01:47] maliming commented on #13262
Creating the repository **interface** in the Domain layer. And using the repository interface in the Application Layer.

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Application/Volo/Abp/Identity/IdentityUserAppService.cs#L16

https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/IIdentityUserRepository.c

[2022-07-12 03:05] realLiangshiwei opened #13285 "Duplicate api resources in identity server"
https://support.abp.io/QA/Questions/3407

[2022-07-12 05:14] leonkosak commented on #13280
I can confirm that abp framework (abp and Commercial version) are so very polished nowadays (backend code) that nearly all performance-related issues are gone. There were some issues in 2019 and 2020.

[2022-07-12 06:05] #12549 closed, assigned to nobody

[2022-07-12 13:44] JadynWong commented on #13281
`Services.GetService` cannot be used when configuring services.  It depend on `IServiceProvider` to exist only after start initialization.

If you want to use logging, you can try `var logger = context.Services.GetInitLogger<TModule>()`.

[2022-07-13 01:27] tianxin8206 commented on #13281
Thank you for your help. @JadynWong

[2022-07-13 01:27] #13281 closed, assigned to nobody

[2022-07-13 06:01] sudhirkaul1 commented on #11420
Hi, I know this is a closed thread but I stumbled with the same error so wanted to check how it was resolved.

[2022-07-13 06:48] #13206 closed, assigned to enisn, armgnunlu

[2022-07-13 07:02] muhammedaltug opened #13293 "Schematics improvements"
- [x] Support proxy generation to secondary entrypoints
- [x] Add a new schematic for;
    - [x] Create a library with angular module template's library structure
    - [x] Create secondary entrypoint

[2022-07-13 07:22] wakuflair commented on #48
Any news about this? 😄

[2022-07-13 08:14] naderjavid opened #13294 "when update from 4.4.2 to 5.3.2 TargetFramework not changing"
ABP Framework version: 5.3.2
User Interface: MVC

reproduce: I had project by abp version 4.4.2 when exec command "abp update" everything is ok except two ones:
1. TargetFramework not changed still same "<TargetFramework>net5.0</TargetFramework>"
2. and modules folder not affected by command

[2022-07-13 09:31] #13285 closed, assigned to realLiangshiwei

[2022-07-13 10:22] h4r7w3l1 opened #13297 "[Commercial] LeptonX Non-Authorized profile avatar path"
### [Commercial] LeptonX Non-Authorized profile avatar path
* Your ** Version 5.3.2 (Stable)**.
* Your **User Interface MVC**
* Your database provider(EF Core)

In lepton-x last available version when we authorized *only in mobile version*, profile picture generate correct path with default user picture. It's works fine.

[code]
But if non-auth session, we have this problem
![https://tlgur.com/d/8

[2022-07-13 10:52] EngincanV opened #13298 "Update the LeptonX Lite and LeptonX package versions to 1.0.0-beta.5 for templates"

[2022-07-13 11:18] andmattia commented on #13240
It's simple to reproduce:
1. open suite
2. create project1 in folder \repos\project1
3. create second project -> project2 (with abp version lower than lastest)
4. go to suite ui and click on update botton
![Immagine 2022-07-13 131724](https://user-images.githubusercontent.com/8192217/178721614-e69cd7c8-c3b3-4d2a-8910-f28b6957254c.jpg)
5. look the logs and see the suite try to update all project (1

[2022-07-13 12:31] #13282 closed, assigned to realLiangshiwei

[2022-07-13 13:22] realLiangshiwei opened #13299 "Update samples to 6.0 RC"
When the 6.0 RC version is released.

[2022-07-13 17:34] biomade opened #13300 "Dynamic JavaScript API Client Proxies not Working (Bug?)"
version: 5.3
interface: mvc
database: ef core

I am using the framework and I am trying to create my first list page based upon the BookStore tutorial. I have created my DTOs and services and tested returning my list (1 item) via Swagger. My page is in the Types folder and should return a list of "type" from the Types table.   _NOTE: I did the BookStore tutorial and I get a similar message._

In t

[2022-07-13 21:15] sturlath opened #13304 "Blazor WASM _Host page and global exception "integration point"?"
Hi

I´m trying to add RayGun to my Blazor project and I need to do two things

- Add [this code](https://raygun.com/documentation/language-guides/dotnet/crash-reporting/blazor/#setting-up-client-side-user-tracking) to _Host
- Add [this code ](https://raygun.com/documentation/language-guides/dotnet/crash-reporting/blazor/#handling-razor-component-exceptions) for global exception logging.

So my que

[2022-07-13 21:32] antonGritsenko commented on #2611
Can someone please explain in details what actually the linking doing and what benefits it gives? Is it just more quick tenant switch?

[2022-07-14 00:51] realLiangshiwei commented on #13300
Hi,

What is the result when you visit to `/Abp/ServiceProxyScript`?

[2022-07-14 01:08] biomade commented on #13300
I am not at the computer but what do you mean by "visit" , do you mean in swagger?

[2022-07-14 01:28] realLiangshiwei commented on #13300
You can check the document: https://docs.abp.io/en/abp/latest/UI/AspNetCore/Dynamic-JavaScript-Proxies#service-proxy-script-endpoint

[2022-07-14 03:15] biomade commented on #13300
I commented out the disabling of the dynamic proxy, removed the loading of the the static proxy script as well as excluding it from the project just to be safe. I cleaned and rebuilt the solution then ran it. I entered the endpoint as suggested and I see the js file contents but the parameter for the datatables.createAjax is slighty different in casing. I have updated my index.js file to what what

[2022-07-14 03:15] #13300 closed, assigned to nobody

[2022-07-14 03:17] maliming commented on #13294
hi

Please update the TargetFramework manual. `update` command only update the package version.

[2022-07-14 04:05] realLiangshiwei commented on #13294
Check the Migration Guides https://docs.abp.io/en/abp/latest/Migration-Guides/Index

[2022-07-14 04:40] leonkosak commented on #13294
Some things should be changed manually.

[2022-07-14 06:15] #13294 closed, assigned to nobody

[2022-07-14 06:44] weiwxg opened #13305 "Ajax error while call an RemoteStreamContent return value api"
ABP Version: V5.3

Client

[code]

Server

[code]
**The client shows that an error occurred, but the back-end interface was actually successfully called, What exactly is the problem？**

![1657780903090](https://user-images.githubusercontent.com/24971860/178917962-78577383-fad7-46bc-8531-1112beb9e024.png)

![1657780780393](https://user-images.githubusercontent.com/24971860/178917484-f732cb64-86e2-4

[2022-07-14 06:51] weiwxg commented on #13305
It is worth mentioning that there is no error when calling an interface that returns a normal object result, For example:

[code]

[2022-07-14 06:56] realLiangshiwei commented on #13305
You can't use the client proxy to download files, It only works for JSON objects.

You can try
[code]

[2022-07-14 06:56] #13305 closed, assigned to nobody

[2022-07-14 09:07] 543787366 commented on #3542
Any news about this? 😄

[2022-07-14 09:10] Joncyzx commented on #3541
Any news about this? 😄

[2022-07-14 09:22] ebicoglu commented on #13299
@realLiangshiwei tells to @salihozkara which samples he will update.
you shouldn't work on the same templates.

[2022-07-14 11:22] salihozkara opened #13313 "Prevent multiple reactions for the same entity"
Also remove underlines for anchors
![image](https://user-images.githubusercontent.com/58659931/178971139-326524e0-9ab6-4946-af85-957f6b6f88ea.png)
![image](https://user-images.githubusercontent.com/58659931/178971247-618042f1-81c4-4b18-aaab-b82859351555.png)

[2022-07-14 12:14] enisn commented on #13313
Next step of https://github.com/abpframework/abp/issues/10801

[2022-07-14 16:21] biomade opened #13315 "Custom Filter based upon Property (How to Question)"
version: 5.3
interface: mvc
database: ef core

I am creating a  custom filter so I can filter data based upon a user (user id), following the example in the documentation. [DataFiltering](https://docs.abp.io/en/abp/latest/Data-Filtering) but the example deals with a bool and the userID is a GUID

my interface is:

[code]
My issue is when I get to the adding the filter to the dbContext show do I te

[2022-07-15 06:44] greenlgy opened #13321 "[eShopOnAbp]How to change the database from PostgreSQL to MySQL"
How to change the database from PostgreSQL to MySQL?

[2022-07-15 07:15] maliming commented on #13321
hi

Basically same as https://docs.abp.io/en/abp/latest/Entity-Framework-Core-Other-DBMS

[2022-07-15 07:16] #13321 closed, assigned to nobody

[2022-07-15 07:39] realLiangshiwei commented on #13315
You can refer this: https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L687

[2022-07-15 07:39] #13315 closed, assigned to nobody

[2022-07-15 07:49] genoher commented on #7579
Maybe this is useful to somebody.
https://github.com/cocosip/sharp-abp

[2022-07-15 07:50] genoher commented on #9063
Maybe this is useful to somebody.
https://github.com/cocosip/sharp-abp

[2022-07-15 11:31] hikalkan opened #13322 "DistributedCache<TCacheItem> should be an adapter instead of inheriting from DistributedCache<TCacheItem, string>"
Otherwise, we will have two different instances when we inject `IDistributedCache<T>` and `IDistributedCache<T, string>` (`string` is the cache key type here). See the registration:

![image](https://user-images.githubusercontent.com/1210527/179214286-607b2083-2f07-41bc-ba00-1e0eb6e2d468.png)

Current `DistributedCache<TCacheItem>` inherits from `DistributedCache<TCacheItem, string>`:

![image](ht

[2022-07-15 12:18] sturlath opened #13323 "Use examples of using APM, Crash and user monitoring tools with Abp.io?"
I personally wanted to use https://raygun.com (I have used it before and like it) but had some problems setting it up with abp.io so my question is

#  **Are there examples of ANY such tools being used with abp.io?**

There are many tools out there

- [dynatrace](https://www.dynatrace.com/)
- [New Relic](https://newrelic.com/)
- [DataDog](https://www.datadoghq.com/)
- etc.

But I can´t find any in

[2022-07-15 18:00] biomade commented on #13315
In the documents on filters there is this line to enable/disable where is this done??
[code]

[2022-07-16 00:23] realLiangshiwei commented on #13315
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs#L45

[2022-07-16 15:40] biomade opened #13324 "[How To] Create ViewModal and Permision"
version: 5.3
interface: mvc
database: ef core

1) How would you create a "view" modal that displays the data, I have a table that has many fields that are too much to see in the list view. ??
2) How to create a permission to view this "viewModal" from the action button list??

[2022-07-17 01:01] realLiangshiwei commented on #13324
Please use Stack Overflow Or Github Discussion for your questions about using the framework, templates and samples

[2022-07-17 01:01] #13324 closed, assigned to nobody

[2022-07-17 08:43] qaiser-comm-it opened #13325 "Getting node module not found issue"
I pulled the eshopAbp repo and trying to run the application, Getting the below error while running the yarn start command

ng serve --open
⠋ Generating browser application bundles (phase: setup)...An unhandled exception occurred: ENOENT: no such file or directory, lstat 'E:\_Projects\eShopOnAbp\apps\angular\node_modules\@volo\ngx-lepton-x.lite'
See "C:\Users\Qaiser\AppData\Local\Temp\ng-2jsumc\an

[2022-07-17 08:44] qaiser-comm-it commented on #13325
![Screenshot (40)](https://user-images.githubusercontent.com/99240665/179390879-60eb110f-f36d-405c-b7b1-4cb5cd33da56.png)

[2022-07-17 13:05] sturlath opened #13326 "Missing localization for Surname in dentity/users"
I´m unable to localize the "Surname" in the grid. It must be missing

<img width="956" alt="image" src="https://user-images.githubusercontent.com/2386572/179399613-fd84a5ce-acd9-4717-8fbd-f055882a7371.png">

* Your **ABP Framework version**. 5.3.2 Commercial
* Your **User Interface** type Blazor
* Your database provider EF Core

[2022-07-18 03:43] maliming commented on #13326
what have you tried? please share your code or steps.

[2022-07-18 03:54] roc916 commented on #13326
https://easycrm.abp.io/Identity/Users

<img width="978" alt="image" src="https://user-images.githubusercontent.com/12685126/179442969-0ddcab6f-990d-48c4-a145-da2289d26c3d.png">

[2022-07-18 03:58] maliming commented on #13326
ok

[2022-07-18 06:13] gterdem commented on #12982
Closing the issue as it is by OpenIddict design.

[2022-07-18 06:13] #12982 closed, assigned to gterdem, maliming

[2022-07-18 12:06] luy710 opened #13329 "how Initializing abp vnext in .NET Core Worker Service"
[code]

![Dingtalk_20220718200355](https://user-images.githubusercontent.com/19400252/179507597-6de051c5-63e1-410b-93f0-fb604b2a978f.jpg)

[2022-07-18 12:58] andmattia opened #13331 "Suite CreateMap Error with custom map definition"
AbpSuite 5.2.2

I create an entity after add a custom map to file  xxxxAutoMapperProfile.cs

[code]

After run the suite I expect the new map should be add at the end of file but I get this

[code]

If I commet my custom map the result is the same.
To solve it i need to delete the row whit "});"
If I do that my new map go at the end of file.

[2022-07-18 13:00] realLiangshiwei commented on #13329
You can refer the Console template: https://github.com/abpframework/abp/tree/dev/templates/console/src/MyCompanyName.MyProjectName

[2022-07-18 13:31] #13016 closed, assigned to muhammedaltug

[2022-07-18 13:38] luy710 commented on #13329
[code]
the same error

[2022-07-18 14:41] melisplatin commented on #11842
Design File: https://www.figma.com/file/1mXESoeknrrYhnhA4erXhe/New-ABP.io?node-id=3724%3A9037

![Framework - Blog](https://user-images.githubusercontent.com/79847445/179536567-9436a030-62bd-4ea0-88cd-1c1e6f9b4fe0.png)

[2022-07-19 04:19] gizemmutukurt opened #13333 "Test - Update leptonx-lite packages to 1.0.0-beta.5"
Releated https://github.com/abpframework/abp/pull/13330

[2022-07-19 05:42] #13298 closed, assigned to EngincanV

[2022-07-19 05:50] #13333 closed, assigned to gizemmutukurt

[2022-07-19 06:12] #13326 closed, assigned to realLiangshiwei

[2022-07-19 06:48] EngincanV opened #13335 "Update LeptonX Theme Package Versions to v1.0.0-rc1"
Update package versions to v1.0.0-rc.1 for related templates.

[2022-07-19 07:25] #13006 closed, assigned to mahmut-gundogdu

[2022-07-19 08:05] realLiangshiwei commented on #13329
Try:

`var toolAppService = _abpApplication.ServiceProvider.GetRequiredService<IToolAppService>();`

[2022-07-19 08:37] hikalkan opened #13336 "Upgrade to .NET 7.0"
We will upgrade the framework, modules and all other components to .NET 7.0. Current latest preview is [Preview 7](https://devblogs.microsoft.com/dotnet/announcing-dotnet-7-preview-6/). However, we don't have to use this. I think we can wait for the next preview (probably will be released in August). We should be sure that all our dependencies can properly work with .NET 7.0.

[2022-07-19 10:20] hikalkan commented on #2183
We've started investigation for this integration. Branch name is https://github.com/abpframework/abp/tree/dapr-integration

[2022-07-19 10:48] hikalkan opened #13337 "ABP Dapr Integration"
We started to work on ABP - Dapr integration. I see two main integration points:

- [x] #13338
- [x] #13339
- [x] #13341
- [x] #13582
- [x] #13342

I think the other [Dapr building blocks](https://docs.dapr.io/developing-applications/building-blocks/) have nothing to do with ABP. They can be usable via Dapr's API just like in any other .NET application.

[2022-07-19 10:48] hikalkan commented on #2183
Moved this to https://github.com/abpframework/abp/issues/13337

[2022-07-19 10:48] #2183 closed

[2022-07-19 10:49] hikalkan opened #13338 "ABP Dapr EventBus integration (For Publish & subscribe messaging)"
## Requirements / Definition

* I've created `Volo.Abp.EventBus.Dapr` package for the integration.
* When we use this package, events are auto-published using [Dapr's pub-sub API](https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers/publish-subscribe).
* We may use Dapr's way to subscribe events, like using the `Topic` attribute on an MVC Controller's action. Or we can use

[2022-07-19 10:49] hikalkan opened #13339 "ABP Dapr HTTP Client integration (For Service invocation)"
## Requirements / Definition

* I've created `Volo.Abp.Http.Client.Dapr` as a starting point.
* Basically, we will implement the integration over the [HttpClient approach of Dapr](https://docs.microsoft.com/en-us/dotnet/architecture/dapr-for-net-developers/service-invocation#invoke-http-services-using-httpclient).
* I see the most important integration point is to implement our `IProxyHttpClientFa

[2022-07-19 11:08] hikalkan opened #13340 "Document Dapr integration"
* Create a Dapr integration document with the following topics:
  * How to use Dapr's pub-sub system with ABP's distributed event bus, and also with its own API if wanted.
  * How to use Dapr's service invocation with ABP's dynamic/c# proxies, and also with its own API if wanted.
  * How to use other Dapr building blocks within the ABP Framework.

[2022-07-19 11:24] hikalkan opened #13341 "ABP Dapr ASP.NET Core Integration package"
I've also created `Volo.Abp.AspNetCore.Dapr` package that depends on `Volo.Abp.Dapr` and `Dapr.AspNetCore`. We should check its [source code](https://github.com/dapr/dotnet-sdk/tree/master/src/Dapr.AspNetCore) and documentation to understand what we can do in the `Volo.Abp.AspNetCore.Dapr` package. So, please first write what we can do, before implementing it.

[2022-07-19 11:27] hikalkan opened #13342 "ABP Dapr integration with other possible scenarios"
* I see there is a package `Dapr.Extensions.Configuration` ([source code](https://github.com/dapr/dotnet-sdk/tree/master/src/Dapr.Extensions.Configuration)). Should we add this package to `Volo.Abp.Dapr` (or any other package) and pre-configure?
* We can prepare a sample solution with ABP Dapr integrated. In this sample, we can also show Dapr's other building blocks (not ABP integrated, but usable

[2022-07-19 13:08] gdlcf88 commented on #10036
Hi Mr @hikalkan.

I saw your new issue https://github.com/abpframework/abp/issues/13338.

I'm afraid the Dapr team will not implement https://github.com/dapr/dapr/issues/4233 and https://github.com/dapr/dapr/issues/4247 since they are too heavy to the Dapr runtime and SDK. I asked about it from a friend who works in the Dapr team and got the above answer.

As I know, ABP's built-in event box imple

[2022-07-20 00:23] geffzhang commented on #13338
is it possible for the ABP team to use  https://github.com/EasyAbp/Abp.EventBus.Dapr, If so, I will archive the [Abp.EventBus.Dapr](https://github.com/EasyAbp/Abp.EventBus.Dapr) module and wait for Volosoft's implementation.

[2022-07-20 00:28] geffzhang commented on #13339
is it possible for the ABP team to use https://github.com/geffzhang/EasyAbp.Abp.Dapr  , If so, I will archive the [EasyAbp.Abp.Dapr ](https://github.com/geffzhang/EasyAbp.Abp.Dapr  ) module and wait for Volosoft's implementation.

[2022-07-20 00:38] geffzhang commented on #13337
Dapr Actor  Integration https://github.com/geffzhang/EasyAbp.Abp.Dapr/tree/main/src/EasyAbp.Abp.Dapr.Actors

[2022-07-20 07:30] hikalkan commented on #13339
Thanks @geffzhang for sharing. We will inspire from it.

[2022-07-20 07:32] hikalkan commented on #13337
First thought nothing to do with Actors, but we will check your implementation to understand what ABP can do with the actors. Thanks for sharing.

[2022-07-20 07:32] hikalkan commented on #13338
Thanks @geffzhang for sharing. We will inspire from it.

[2022-07-20 07:49] tinonetic opened #13347 "How do I change the DataSeedContributor Database context/connection string?"
Hi,

I would like to [seed](https://docs.abp.io/en/abp/latest/Data-Seeding) an existing, none-ABP database that we are integrating to.

I've noticed that the default database for ABP DataSeedContributor is the ABP database.

How do I select a custom database context/connection string for a given DataSeedContributor

I haven't found anything in the DbMigrator module or [the documentation ](https://

[2022-07-20 07:52] realLiangshiwei commented on #13347
See: https://docs.abp.io/en/abp/latest/Connection-Strings

[2022-07-20 08:42] zaktecs commented on #13262
@maliming  thanks for your input. much appreciated

[2022-07-20 08:42] #13262 closed, assigned to nobody

[2022-07-20 08:55] #13335 closed, assigned to EngincanV

[2022-07-20 08:58] weiwxg opened #13349 "Mongo group by then select first in each group"
ABP v5.3

[code]

[code]

[2022-07-20 09:14] realLiangshiwei commented on #13349
**The method OrderByDescending is not supported in the expression tree: {document}.OrderByDescending(x => x.Version).**

This has nothing to do with ABP, you can check the MongoDB document: https://mongodb.github.io/mongo-csharp-driver/2.17/

[2022-07-20 09:14] #13349 closed, assigned to nobody

[2022-07-20 09:53] maliming commented on #13322
hi

I checked. The `IDistributedCache(memory,redis,sql)` is a `singleton`, so there is no problem.

[2022-07-20 11:54] hikalkan opened #13350 "CMS Kit: Set a page as the "home page""
We can be able to set a page (in the admin UI) as the "home page". Home page should be shown when developer hasn't created a home page in the application. I mean the developer can create a regular, development-time home page (like `/Pages/Index.cshtml`). In this case, the development-time home page is shown.

[2022-07-20 12:11] malikmasis opened #13351 "Testing adding a widget on the editor in Page/Blogpost"
![image](https://user-images.githubusercontent.com/13196534/179978702-110cfa2c-fc4c-426e-a908-0d9c914deb56.png)

[2022-07-20 13:23] puschie286 opened #13352 "ReplaceService conflict with event handling"
Publishing an event instantiate all related classes that have the correct IDistributedEventHandler on it.

If you replace an service with IDistributedEventHandler by ReplaceService = true, it will still instantiate both services.

We thought that if you only expose the services by interface it should fix it but these classes are instantiate by the class name, so you get an exception in this case.

[2022-07-20 13:27] gizemmutukurt opened #13353 "Error in console is received in all templates on login screens."
**App:** All Templates

![image](https://user-images.githubusercontent.com/99716457/179920122-7970c5d5-43f0-4e99-801f-bc9e8b6aa876.png)

[2022-07-20 13:28] gizemmutukurt opened #13354 "Lepton Logo not visible in Angular app and Angular no layer"
**App:** Angular, Nolayer Angular
**Problem Definition:**  Lepton Logo not visible in Angular app and Angular no layer #13354

![image](https://user-images.githubusercontent.com/99716457/179920655-64af2a79-7cfa-405f-8f65-6590c97387fd.png)

[2022-07-20 13:31] gizemmutukurt opened #13355 "In Angular and NoLayer Angular, Welcome_Title text should be fixed before Login"
**App:** Angular, Nolayer Angular
**Problem Definition:** In Angular and NoLayer Angular, Welcome_Title text should be fixed before Login

![image](https://user-images.githubusercontent.com/99716457/179920979-8c18d2ef-ccc7-4b54-a836-6f196322f45e.png)

[2022-07-20 18:08] sturlath commented on #13239
Can this be a host setting also? So when a tenant is created he does not have access to permissions and only roles?

Just today I was restricting new tenants from having access but just when seeding

![image](https://user-images.githubusercontent.com/2386572/180052352-3208cc4e-00f6-4bbb-8e31-92b03262e1fd.png)

[2022-07-21 01:09] maliming commented on #13239
Your case is about seeding, not permissions.

[2022-07-21 01:24] realLiangshiwei commented on #13352
This is designed by the `EventBus` system, you should use `_eventBus.Unsubscribe<ExampleService>` to unsubscribe an event handler.

[2022-07-21 05:36] #13079 closed, assigned to nobody

[2022-07-21 09:58] puschie286 commented on #13352
@realLiangshiwei
how do you unsubscribe events from service if you only know the service interface ?
( there is no information about unsubscribe in the documentation - [see search](https://docs.abp.io/search/en/abp/6.0/?keyword=Unsubscribe) )

the purpose of creating an service interface is to hide the implementation details and make it replaceable, right ?
if having an event on an service impleme

[2022-07-21 11:37] hikalkan commented on #12232
@maliming we can add Abp prefix to others. This will be a breaking change, but easy to fix for existing applications.

[2022-07-21 11:46] hikalkan commented on #12229
Actually, only `CreationTime` and `CreatorId` has no public setter. Because, these shouldn't be changed after entity creation (I suppose this is a very common case, you never need to manually set them later). However, ABP doesn't restrict you to have a public setter for these.

For modification and deletion, we haven't thought such a restriction. But you are right, audit interfaces are unnecessari

[2022-07-21 11:52] hikalkan commented on #11989
I am closing this issue since we've migrated to OpenIddict with 6.0. v6.0-RC.1 will be released in these days. Migration guide will come soon.

[2022-07-21 11:52] #11989 closed, assigned to hikalkan

[2022-07-21 12:31] #13351 closed, assigned to gizemmutukurt

[2022-07-21 13:03] tinonetic commented on #13347
I don't see where and how to apply it with regards to the DataSeedContributor

Would you mind explaining?

[2022-07-21 13:03] kishoresahas commented on #6048
The above solution is not working in v5.1

[2022-07-21 13:06] #13355 closed, assigned to muhammedaltug

[2022-07-21 13:06] maliming commented on #6048
@kishoresahas new issue, please.

[2022-07-21 13:12] realLiangshiwei commented on #13347
The [Connection-Strings](https://docs.abp.io/en/abp/latest/Connection-Strings) document explains how to custom connection strings for a DB context.

[2022-07-21 13:17] qaiser-comm-it opened #13360 "Having issues while running ehopApp/PublicWeb application, throwing Badgateway exception."
I have pulled the EshopApp application and trying to run by following the documentation posted here:

https://github.com/abpframework/eShopOnAbp

Here everything is running perfectly only PublicWeb is having issues, everytime I am running it, throws Badgateway exception.

Please look into this and provide the solution?

![Screenshot (43)](https://user-images.githubusercontent.com/99240665/18022288

[2022-07-21 13:28] kishoresahas commented on #6048
https://github.com/abpframework/abp/pull/7998

Above got it resolved

[2022-07-21 13:30] realLiangshiwei commented on #13360
What's the error log?

And, did you run the `WebPublicGateway` project?

[2022-07-21 13:34] qaiser-comm-it commented on #13360
Yes, WebpublicGateway is running at port 44373 and below is the log

2022-07-21 19:03:37.029 +05:30 [INF] Starting EShopOnAbp.PublicWeb.
2022-07-21 19:03:41.247 +05:30 [INF] Loaded ABP modules:
2022-07-21 19:03:41.248 +05:30 [INF] - EShopOnAbp.PublicWeb.EShopOnAbpPublicWebModule
2022-07-21 19:03:41.248 +05:30 [INF]   - Volo.Abp.Caching.StackExchangeRedis.AbpCachingStackExchangeRedisModule
2022-07-

[2022-07-21 13:37] qaiser-comm-it commented on #13360
All the other services are running through TYE, only this publicweb is giving bad gateway exception

[2022-07-21 13:59] realLiangshiwei commented on #13352
As I said, this is by design.

**An event can be subscribed to by multiple handlers.**

Consider the following scenario:

[code]

We have two event handlers `MyEventHandlerA` and `MyEventHandlerB` , if we use the `IMyEventHandler` interface instead of the real type, what happens, `MyEventHandlerB` will be executed twice(), because we can only get the last registered type from IOC.

This is why we

[2022-07-21 14:11] #13354 closed, assigned to muhammedaltug

[2022-07-21 14:30] puschie286 commented on #13352
i dont want to override an event handler, i want to replace a service ( anything that is registered to DI ) - the user cant know if the service implementation use an event handler or not ( so he cant know if he need to unsubscribe or not ) - he only has access to the interface not to the implementation ( so even if he know that he has to unsubscribe, he cant because he doesnt know the real type of

[2022-07-21 15:07] tinonetic commented on #13347
You posted the same link as above. I don't know if that's intentional.

Anyway, will resort to manually running a script to seed the other DB for now until I get better help

[2022-07-21 15:19] sturlath commented on #13304
So how do you get global exceptions in Blazor?  I´m trying to implement this [global-exception-handling ](https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/handle-errors?view=aspnetcore-5.0&pivots=webassembly#global-exception-handling ) from Microsoft and insert this [Raygun code there](https://raygun.com/documentation/language-guides/dotnet/crash-reporting/blazor/#handling-razor-co

[2022-07-21 15:31] puschie286 commented on #13352
i did serveral test and one solution would be:

1. get the "implementation type" from replaced service descriptor
2. remove "implementation type" from "Handlers" in AbpDistributedEventBusOptions and AbpLocalEventBusOptions

[2022-07-22 00:59] realLiangshiwei commented on #13347
Because you ask how to custom database context/connection string.

Here explains how to create  a DbContext and set its connection name:
https://docs.abp.io/en/abp/latest/Connection-Strings#set-the-connection-string-name

And here explains how to set a connection string for a DbContext:
https://docs.abp.io/en/abp/latest/Connection-Strings#configure-the-connection-strings

I noticed you mentioned a

[2022-07-22 08:40] bigsergoya commented on #846
Any updates?

[2022-07-22 08:53] #5901 closed, assigned to nobody

[2022-07-22 09:15] sturlath opened #13373 "Make obfuscated dll´s trim friendly"
I was trying to trim the Blazor project with ` <PublishTrimmed>true</PublishTrimmed>` but hit this issue with the linker on abp.io dll´s , [Blazor linking throws "Unhandled exception. System.NullReferenceException: Object reference not set to an instance of an object."](https://github.com/dotnet/linker/issues/2896)

Can you try to make it[ trim friendly](https://github.com/dotnet/linker/issues/289

[2022-07-22 09:40] realLiangshiwei commented on #13373
I can't reproduce the problem, could you provide steps to reproduce?

![image](https://user-images.githubusercontent.com/16813853/180411940-e51b53b0-2799-4e39-89fc-d0ca94c011bc.png)

[2022-07-22 09:44] yasinhallak opened #13374 "UnDelete Method"
* V5.0.0
* MVC
* EF Core

Hi there ...

Is there any way or method to Restore all deleted records as SoftDelete  from Database

[2022-07-22 09:51] realLiangshiwei commented on #13374
You can control the filters.

See: https://docs.abp.io/en/abp/latest/Data-Filtering#idatafilter-service-enable-disable-data-filters

[2022-07-22 09:51] #13374 closed, assigned to nobody

[2022-07-22 09:52] sturlath commented on #13373
@realLiangshiwei  I sent you an email with the code to test

[2022-07-22 10:06] totpero opened #13375 "Abp unblock error scenario"
Hi,
I have ui problem with [abp.ui.unblock function](https://github.com/abpframework/abp/blob/b6718cbd84d17d4b3d71fb0a30c1aa8530cdda47/npm/packs/core/src/abp.js#L368)

Before my ajax request I call `abp.ui.setBusy(); ` and in `done` and also in `always` I call `abp.ui.clearBusy();` and I get error:
`TypeError: Cannot read properties of null (reading 'removeChild')` at this line of code:
https://gi

[2022-07-22 10:09] realLiangshiwei commented on #13373
Hi,

The project you provided has many other package references, I think it might unelated to ABP, can you use CLI to create a new project to reproduce?

[2022-07-22 10:10] yasinhallak commented on #13374
thanks .... I know this link ..

but I want method to Implement the operation to return the deleted line ..Which to set property IsDeleled =false .....
Is there any method in abpframework ...

[2022-07-22 10:13] realLiangshiwei commented on #13374
[code]

[2022-07-22 11:34] sturlath commented on #13373
I just removed every package reference except for

- Microsoft
- Volo
- Blazorise

and still get this error.

[2022-07-22 12:17] gizemmutukurt commented on #13331
![image](https://user-images.githubusercontent.com/99716457/180429556-9729198b-b4b8-4642-8430-861a606def3f.png)

[2022-07-22 12:19] ahmednfwela opened #13377 "[v6] IMultiLingualObjectManager should get translation independent of IMultiLingualObject"
`IMultiLingualObjectManager` is defined as
[code]
but it should be able to operate with less information, namely just the Collection of translations, so my suggestion is to add:
[code]

[2022-07-22 12:52] sturlath commented on #13373
@realLiangshiwei this seems to be volo https://github.com/dotnet/linker/issues/2896#issuecomment-1192492522

[2022-07-22 13:19] realLiangshiwei commented on #13373
We will check it

[2022-07-22 13:25] puschie286 commented on #13352
@realLiangshiwei tried unsubscribe approach but first of all it is async ( so not useable in constructor ) and there is no method to unsubscribe all event from a specific type - so there is no way to unsubscribe the replaced type.

[2022-07-22 20:59] RezaPouya commented on #4751
Can anyone tell me how this permission system work?
there is only one PermissionGrant table and I can't see any document about it ... for example how in this table you can prohabit a permission for a user ? or does permission with permission providerKey of "C" can be applied to roles ?

i create multiple microservices but none of them can authorized permission ... the permission are not in claims

[2022-07-23 06:54] git102347501 opened #13388 "abp generate-proxy apiName in the generated TS service is always called 'Default'"
### Documentation

#Env
ABP Version: 5.3.0
User Interface: Angular
DataProvider: Ef Core

First of all, I worked in env JSON is configured with the module API node, as follows:

`
apis: {
    default: {
      url: 'https://api.test.com',
      rootNamespace: 'my.test',
    },
    person: {
      url: 'https://api.person.test.com',
      rootNamespace: 'my.person',
    }
}
`

Then, in the angular p

[2022-07-23 07:41] nebula2 opened #13389 "RabbitMq Background Job documentation is missing parameter delayedQueueName"
ABP 5.3.3

Wanted to implement background jobs through RabbitMQ.
Following along this here: https://docs.abp.io/en/abp/latest/Background-Jobs-RabbitMq#customization

![image](https://user-images.githubusercontent.com/5841525/180595681-46684f0b-4461-4320-bd6c-ddaba3f3ba2b.png)

Seems like delayedQueueName is a required parameter - which is missing in the documentation. And sadly I do not know what

[2022-07-23 16:50] 9200237 commented on #12190
An unhandled exception occurred while processing the request.
AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'!
Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsync(ViewContext viewContext, TagHelper tagHelper, TagHelperContext context, TagHelperOutput output, List<BundleTagHelperItem> bundleItems, string bundleN

[2022-07-23 17:08] 9200237 commented on #12190
本人实验时用的abp5.3.1

关于ABP新建项目初始运行提示错误：Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'!  的解决方案。
1、网上通常说的解决方案是 在项目根目录CMD运行  abp install-libs  命令安装最小依赖。这种方法可能在以前的版本管用，但是在我这里不管用。 
2.可能是你运行abp install-libs后，libs包已经存在，可以在xxx.web项目和xxx.httpapi.Host项目中找到。如果找不到，可以手动复制官网下载的ABP项目中的LIBS文件夹。
3. 找到 libs 文件夹后，将 libs 文件夹复制到 xxx.Web项目的 wwwroot 文件夹中，重新运行该项目。在5.3.1中，wwwroot 文件夹在 XX

[2022-07-24 02:24] realLiangshiwei commented on #13388
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identity/src/Volo.Abp.Identity.HttpApi/Volo/Abp/Identity/IdentityUserController.cs#L9

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityRemoteServiceConsts.cs#L5

[2022-07-24 02:24] #13388 closed, assigned to nobody

[2022-07-24 10:41] git102347501 commented on #13388
I used the above method. First, I made a feature identification in appservice, as follows:

`
[RemoteService(Name = "person")]
public class PersonAppService : BasicAppService, IPersonAppService
{
//..
}
`

Then start the project. I see that remoteservicename is still default
<img width="487" alt="WX20220724-183733@2x" src="https://user-images.githubusercontent.com/37917403/180643343-8e6965f4-d1b1-

[2022-07-24 11:00] nebula2 opened #13391 "RabbitMQ ability to set set PrefetchCount"
## Foreword
Originally I raised this on [StackOverflow](https://stackoverflow.com/questions/73065240/abp-how-to-configure-prefetch-count-when-using-rabbitmq-for-distributed-events) as a question.
After taking a look at the module source code and things like this issue #1963 I came to the conclusion that it's currently not possible to set the prefetch count.

## Issue description
I publish distribu

[2022-07-25 00:31] realLiangshiwei commented on #13389
I will check it out

[2022-07-25 00:33] realLiangshiwei commented on #13391
I will try to implement it.

[2022-07-25 00:59] maliming commented on #13239
We implemented this in the Identity Pro module, The open source remains the same.

[2022-07-25 00:59] #13239 closed, assigned to nobody

[2022-07-25 02:02] #13375 closed, assigned to maliming

[2022-07-25 05:15] qqzhw commented on #13391
also I want this function

[2022-07-25 08:02] EngincanV opened #13401 "Add CLI install instruction to index page of docs.abp.io"

[2022-07-25 08:58] realLiangshiwei commented on #13389
I updated the document: https://github.com/abpframework/abp/pull/13402/files#diff-dc507027617f33f5f61c5cec23e8af4601f8f90ab0558d9e23d2c4c542201fc3

[2022-07-25 08:58] #13389 closed, assigned to nobody

[2022-07-25 09:17] weiwxg opened #13404 "Can't receive DateTime parameter"
**I can't receive DateTime parameter while use yyyy-MM-dd HH:mm:ss format**

**ABP V5.3**

![y2GZxHd1pH](https://user-images.githubusercontent.com/24971860/180741917-75880577-e4e5-44ef-b12b-5a3d60f9ac9e.jpg)
![image](https://user-images.githubusercontent.com/24971860/180742622-17007997-6e94-4559-98fc-e59a48791d8d.png)

[2022-07-25 09:34] #13391 closed, assigned to realLiangshiwei

[2022-07-25 09:41] nebula2 commented on #13389
Thank you :)

[2022-07-25 09:41] nebula2 commented on #13391
That was fast :O Thank you!

[2022-07-25 12:42] ismcagdas opened #13408 "Use ABP Logo instead of Lepton Logo on templates"
- [x] Blazor @enisn
- [x] Angular @fatihskilic
- [x] MVC @EngincanV

At the moment, LeptonX logo is used, see

https://github.com/abpframework/abp/pull/13345#issuecomment-1190000638

[2022-07-25 14:58] berkansasmaz commented on #13404
You can specify the format you want to use in the `ConfigureService` method of your module file as follows.

[code]

_ref: https://docs.abp.io/en/abp/latest/JSON#configuration_

Or you can use `Newtonsoft` instead of `System.Text.Json` for the relevant input dto.
[code]

_ref: https://docs.abp.io/en/abp/4.0/Migration-Guides/Abp-4_0#moved-to-system-text-json_

[2022-07-25 15:12] berkansasmaz commented on #13323
We use Elastic APM on our websites, I can recommend it.

If you are already using the ELK stack, you can easily configure Elastic APM.

[2022-07-25 17:37] pepearreola opened #13413 "An internal error occurred during your request! returned instead of user friendly exception message"
When throwing a user friendly exception from a plain function in appservice, the error message returned is _An internal error occurred during your request!_ instead of the error message inside the user friendly exception.

The problem is that the framework is throwing a **DidNotCallCompleteMethodExceptionMessage** exception

* Framework version **Abp 7.2.1**.
* Database provider **EF Core**
* Exce

[2022-07-25 18:16] pepearreola commented on #13413
moving to aspnetboilerplate repo

[2022-07-25 18:16] #13413 closed, assigned to nobody

[2022-07-26 00:01] #13404 closed, assigned to nobody

[2022-07-26 03:07] maliming commented on #12232
https://github.com/abpframework/abp/pull/13400

[2022-07-26 03:07] #12232 closed, assigned to maliming

[2022-07-26 03:11] #12229 closed, assigned to maliming

[2022-07-26 06:39] #13360 closed, assigned to realLiangshiwei

[2022-07-26 07:32] salihozkara opened #13417 "CmsKit TagFeature Problems"
- [ ] When the tag length exceeds the max length, we must specify what the error is in the error message.
- [ ] When the number of tags exceeds the maximum number of tags, we must specify what the error is in the error message.
- [ ] If an empty tag goes, we must specify what the error is in the error message. for example "CSharp,,Ef"
- [ ] If the Tags go null via DTO, we can accept the tags as em

[2022-07-26 07:34] Hopcos opened #13418 "Recommand setting the AbpExceptionFilter entry method OnExceptionAsync as a virtual method"
Whether OnExceptionAsync can be changed as a virtual method? Because then I can just overriding it.

![9092e3b805e4a64f8b097f39e502df9](https://user-images.githubusercontent.com/8747775/180946347-0adc6398-2242-4c57-b10c-f61447981402.jpg)

[2022-07-26 07:36] maliming commented on #13418
No problem, We will add it in the next version.

[2022-07-26 08:17] muhammedaltug commented on #13353
resolved with https://github.com/volosoft/lepton/pull/548

[2022-07-26 08:17] #13353 closed, assigned to muhammedaltug, enisn

[2022-07-26 08:55] #13418 closed, assigned to maliming

[2022-07-26 12:43] sivaraman27 commented on #12575
Hi @hellorms

I'm using the 5.3 (stable) documentation to try and migrate from the Lepton UI to LeptonX but get the following exception:

D:\Source\Repos\Pentapack.MRS\Pentapack.MRS>abp add-package Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonX
[12:32:07 INF] ABP CLI (https://abp.io)
[12:32:08 INF] Version 5.3.1 (Stable)
[12:32:09 WRN] ABP CLI has a newer stable version 5.3.3, please update to get the l

[2022-07-26 13:25] mahmut-gundogdu opened #13426 "Angular dependencies has Conflicting peer dependency."
When the user runs "npm install", npm throw warnings.

 We need to upgrade some angular dependencies.

- [x] @swimlane/ngx-datatable

Optional
- [ ] ng-zorro
- [ ] bootstrap
- [ ] ng-bootstrap

<img width="1198" alt="image" src="https://user-images.githubusercontent.com/2217899/181016190-ba0de0c8-8f1b-4660-912e-3e695924ccc6.png">

if you want to fix this issue but don't know how to setup env, mayb

[2022-07-26 13:39] #11842 closed, assigned to melisplatin, halimekarayay

[2022-07-26 15:25] appsupport-gc commented on #57
I found it fairly simple to use the nuget package FS.Abp.MediatR.Domain and use normal MediatR Logic.

In SomeDomainModule.cs:
 public override void ConfigureServices(ServiceConfigurationContext context)
    {
        context.Services.AddAbpMediatR&lt;SomeDomainModule&gt;();
  }

 public class CreateSomethingCommand : IRequest&lt;Something&gt;
{
   .....
{

 public class CreateSomethingCommandHand

[2022-07-26 16:08] ebicoglu commented on #13331
Hi,

you can pass this issue by the following workaround

**OLD**:
[code]

---

**NEW**:
[code]

[2022-07-26 16:09] #13331 closed, assigned to ebicoglu, gizemmutukurt

[2022-07-26 16:51] tntwist opened #13427 "Consistent enum value localization resolving"
Abp-Version: 5.2.3 (could reproduce on lates version)
UI-Framework: Asp.Net MVC

Hi there,
I noticed that my enums were not localized when using the abp-select helper tag for an enum property.

After checking the docs and code of the select helper tag it seems that the tag helper does resolving of the localization with "Enum:{EnumName}.{EnumStringValue}" (eg. "Enum:Fruit.Apple") as key.
Doc:
https

[2022-07-27 02:10] maliming opened #13430 "The `IdentityServer` doesn't remove after the 6.0 project is created."
![image](https://user-images.githubusercontent.com/6908465/181145126-c2e11e11-ecf4-4e6b-85e3-57375c114d48.png)

[2022-07-27 02:17] git102347501 opened #13431 "Use the ABP tenant module to identify the tenant through the domain name and report an error: Tenant not found"
My Env:
Abp Version：5.3.1
Type：Angular
Database Provider：EF

First, I refer to the tenant modules **AbpMultiTenancyModule** and **AbpAspNetCoreMultiTenancyModule** in the main service of distributed applications, as follows:

[code]

Then, I turned on tenant domain name identification in **ConfigureServices**, as follows:

[code]

Later, I created a tenant named: **test** in the system and modifie

[2022-07-27 02:31] #13430 closed, assigned to realLiangshiwei

[2022-07-27 03:42] realLiangshiwei opened #13434 "Enhance startup templates for the OpenIddict"

[2022-07-27 06:32] berkansasmaz commented on #13377
Resolves with #13384

[2022-07-27 06:32] #13377 closed, assigned to nobody

[2022-07-27 09:07] realLiangshiwei opened #13437 "MVC UI: Wrong login page"
It's looks like use `application` instead of `account` layout

![image](https://user-images.githubusercontent.com/16813853/181208489-85ee3ac6-60da-4fcf-b42b-8ae4739d08a0.png)

[2022-07-27 10:57] ebicoglu opened #13438 "CLI - Don't accept --theme option before v6.0.0"
templates don't have integration to LeptonX before v6.0.0, so we should ignore the theme parameter and set "basic theme" as the default theme for the open-source projects + set "lepton" as the default theme for commercial projects.

When the following command runs, it must create the application with **basic theme**
`abp new Acme.BookStore -v 5.3.2 -t app`

When the following command runs, it must

[2022-07-27 14:40] #13431 closed, assigned to nobody

[2022-07-27 16:28] nev-21 opened #13441 "Angular CommonJS warning - version 5.3.3"
Hi, I have this warning in a new project, with startup template

```node_modules\@abp\ng.core\fesm2020\abp-ng.core.mjs depends on 'just-clone'. CommonJS or AMD dependencies can cause optimization bailouts.```

* **ABP Framework version** 5.3.3.
* Angular UI

[2022-07-27 18:48] gterdem opened #13442 "Angular Separate IdentityServer has IdentityServer project"
run `abp new MyApplication -t app --ui angular --separate-identity-server --version 6.0.0-rc.1`

contains **MyApplication.IdentityServer** folder with empty `package.json` file:

![image](https://user-images.githubusercontent.com/25867/181349214-e44b01f4-7fb8-4282-a577-4d52d51a159d.png)

[2022-07-27 19:32] berkansasmaz commented on #13238
https://docs.microsoft.com/en-us/dotnet/maui/supported-platforms

I don't think there is a problem with ABP, could you please give some more details about the problem you are having?

[2022-07-27 20:11] appsupport-gc commented on #4282
Would a Blazor AbpReadOnlyPageBase make sense?

[2022-07-28 00:33] maliming commented on #13442
https://github.com/abpframework/abp/pull/13432

[2022-07-28 00:33] #13442 closed, assigned to nobody

[2022-07-28 00:36] vnetonline opened #13443 "Use of CMS kit in Own module"
I want to use the cmskit commenting subsystem in a issue tracking module which I have developed but the documentation is not clear on how to use the commenting system ….. my module will be dependant on cmskit do I meet to include the nugget package of cmskit in my module ??

[2022-07-28 01:40] #12769 closed, assigned to nobody

[2022-07-28 08:39] malikmasis commented on #13313
It seems okay. @salihozkara approved as well.

[2022-07-28 09:37] maliming commented on #13427
https://github.com/abpframework/abp/pull/13451
https://github.com/abpframework/abp-samples/pull/192

[2022-07-28 09:37] #13427 closed, assigned to maliming

[2022-07-28 09:37] vnetonline opened #13453 "when using LetonXLite theme CmsKit breaks beucase it uses the content_toolbar"
![image](https://user-images.githubusercontent.com/15242923/181474027-979624f5-28fa-4df5-8abc-05a4e4c2ff85.png)

[2022-07-28 10:08] EngincanV commented on #13453
Hi, I guess your LeptonX Lite theme package version is in an earlier version than **1.0.0-RC.1**. Can you upgrade the package to **1.0.0-RC.1**?

[2022-07-28 10:21] vnetonline commented on #13453
1.0.0-rc.2 is not found and looking at the docs it says `toolbar` is not included in LeptonX Lite see below table on the commercial site.

![image](https://user-images.githubusercontent.com/15242923/181482903-6d17b4f6-32dc-4a1e-95da-1670f558f58f.png)

[2022-07-28 10:34] EngincanV commented on #13453
I'm sorry, I've mistyped the package version it should be [**1.0.0-rc.1**](https://www.nuget.org/packages/Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite/1.0.0-rc.1). `content_toolbar` section has been added to the layout in the **v1.0.0-rc.1**.

![image](https://user-images.githubusercontent.com/43685404/181485199-98f1dc54-962a-4342-a799-61971f1425a3.png)

[2022-07-28 10:51] elijahgsh1010 opened #13456 "Extending Organization Unit Entity"
* ABP version: 5.2.2.
* User interface: Angular
* database provider: ef core
* Steps needed to **reproduce** the problem.
    - extend organization module entity
    - add new org unit (works fine)
    - edit org unit
    - save (error, extra properties not passed to server)

![image](https://user-images.githubusercontent.com/87971779/181487113-95bf98aa-069d-46ce-b9b4-acdefba551db.png)

![image](h

[2022-07-28 11:18] fatihskilic commented on #12836
solved with https://github.com/volosoft/volo/pull/10676 pr.

[2022-07-28 11:18] #12836 closed, assigned to fatihskilic

[2022-07-28 11:18] fatihskilic commented on #12835
Solved with https://github.com/volosoft/volo/pull/10676

[2022-07-28 11:18] #12835 closed, assigned to nobody

[2022-07-28 12:14] vnetonline commented on #13443
In order to use the Comment Sub System I have referenced the `Volo.Cmskit.Common.Application` in my `Amazing.Software.IssueTracking.Application`

![image](https://user-images.githubusercontent.com/15242923/181501951-7c6bd698-a514-47e0-b6e3-f2b0f8d431d5.png)

and added the following to my `IssueTrackingApplicationModule`

![image](https://user-images.githubusercontent.com/15242923/181502224-6380347

[2022-07-28 12:58] #10453 closed, assigned to nobody

[2022-07-28 13:01] ismcagdas commented on #13426
@bariscanyilmaz can you work on this issue ? You can get help from @mahmut-gundogdu if needed.

[2022-07-28 13:26] #4661 closed

[2022-07-28 14:41] vnetonline commented on #13453
Tried that but it is dependant on 6.0.0.preview and doesn't play nice crashes the whole app

[2022-07-28 15:25] EngincanV commented on #13453
Yes, v1.0.0-RC.1 is dependent on the nightly preview version of the ABP Framework. We'll fix this dependency problem with v1.0 for LeptonX Lite Theme.

[2022-07-28 22:19] gterdem opened #13459 "Create step by step migration guide for OpenIddict"

[2022-07-28 22:39] gterdem opened #13461 "Remove unused usings from templates"
Unused usings are confusing when users try to update their applications by checking side-by-side tools like winmerge.

[2022-07-29 02:49] #12246 closed, assigned to maliming

[2022-07-29 03:04] #13434 closed, assigned to realLiangshiwei

[2022-07-29 04:58] #9908 closed, assigned to realLiangshiwei

[2022-07-29 06:48] #11428 closed, assigned to malikmasis

[2022-07-29 07:10] vnetonline opened #13467 "Why is the Reaction system dependant on the entitype configured for tags??"
Why is the Reaction system dependent on the EntityTypebeing configured for tags??

`<exception cref="EntityCantHaveReactionException">Thrown when EntityType is not configured as taggable.`

[code]

[2022-07-29 07:23] berkansasmaz commented on #13456
Hello, thanks for the report.

I was able to reproduce the problem.

[2022-07-29 09:38] BogdanJak opened #13471 "Background color and fill MainLayout in Blazor server with LeptonXLite"
ABP Framework version - 6 rc1
Blazor server - EfCore + SQL Server

Hi

I am asking for help in two topics:
1. Blazor Server + LeptonLiteX - how to set the background color to black on MainLayout?
2. Blazor Server + LeptonLiteX - how to set the display of pages to the full width of MainLayout - by default, only when the browser is enlarged at 150%, pages are displayed across the width of MainLayout

[2022-07-29 11:35] maxkol opened #13473 "No Key in Language texts for localize Filter Menu"
* v6.0-RC1
* MVC
* EF Core

![image](https://user-images.githubusercontent.com/14637554/181750551-48f6439c-b610-4389-a13e-c37f465ef22a.png)

[2022-07-29 15:22] eneskoroglu opened #13477 "Distributed Eventbus Infinite Loop"
* Your **ABP Framework version**.: 53.3
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: Angular
* Your database provider(EF Core/MongoDB): EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

We have an event handler (inbox) which contains business logic. When an error occur

[2022-07-29 16:08] greenlgy commented on #13321
I see, thank you

[2022-07-30 09:30] johnhbarrett commented on #13467
The question could be re-worded?

[2022-07-30 09:35] lisheng741 commented on #11453
I also encountered this problem.  Abp's algorithm fininshes in milliseconds and the timestamp generated in the case of high concurrency may be the same, resulting in the Guid generated at the same time not being sequential.

[code]

see [DateTime.Ticks Property Remarks](https://docs.microsoft.com/en-us/dotnet/api/system.datetime.ticks?view=net-6.0#remarks)

[2022-07-30 17:09] #12450 closed, assigned to mahmut-gundogdu

[2022-07-30 17:09] #12581 closed, assigned to nobody

[2022-07-30 17:09] #12541 closed, assigned to nobody

[2022-07-30 17:09] #12547 closed, assigned to nobody

[2022-07-30 17:09] #11718 closed, assigned to muhammedaltug

[2022-07-30 17:09] #12436 closed, assigned to nobody

[2022-07-30 18:06] nev-21 opened #13481 "can't run abp.io 6.0.0-rc.1 with Angular 14"
### GitHub Issues

can't run preview 6.0.0-rc.1 with angular

* Exception message and **stack trace** if available (check the logs).

[code]

* Steps needed to **reproduce** the problem.
- create a new startup template with angular
- update to angular 14
- run

[2022-07-30 20:37] nev-21 commented on #13481
In case some one need angular 14 right now with the preview, a workaround is to use basic theme:

1. abp new AppName -u angular --preview --theme basic
2. yarn add @abp/ng.theme.basic@~6.0.0-rc.1

[2022-07-30 21:41] #12426 closed, assigned to nobody

[2022-07-30 21:42] #12440 closed, assigned to nobody

[2022-07-30 21:43] #12178 closed, assigned to muhammedaltug

[2022-07-30 21:44] #12474 closed, assigned to nobody

[2022-07-30 21:45] #12473 closed, assigned to nobody

[2022-07-30 21:45] #12495 closed, assigned to nobody

[2022-07-30 21:46] #12283 closed, assigned to nobody

[2022-07-30 21:47] #12409 closed, assigned to nobody

[2022-07-30 21:47] #12519 closed, assigned to nobody

[2022-07-31 05:18] jee-a opened #13483 "Configuration property `sasl.username` only applies when `sasl.mechanism` is set to PLAIN or SCRAM-SHA-.. ABP Version 3.2"
I am using Kafka version 3.2 for ABP.io version net core 3.1.
When i configure kafka in app.setting so the system is error: "Configuration property `sasl.username` only applies when `sasl.mechanism` is set to PLAIN or SCRAM-SHA-.. ABP Version 3.2"

How to solve? @maliming

### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

Gi

[2022-07-31 19:25] jcruzram commented on #13015
Same issue in version 6.0.0-rc.1

ABP Framework version : 6.0.0-rc.1
UI : Blazor Server / LeptonXLite Theme (1.0.0-rc.1)

I tried it with the basic theme and it works fine. The error occurs only with the Lepton theme (LeptonXLite in my case) and syncfusion versions 19.x.x, 20.x.x

To reproduce the error:
dotnet tool update Volo.Abp.Cli -g --version 6.0.0-rc.1
abp new Acme.BookStore -u blazor-serve

[2022-08-01 00:19] realLiangshiwei commented on #13483
**Steps needed to reproduce the problem.**

[2022-08-01 02:49] maliming commented on #13477
hi

Steps needed to reproduce the problem.

[2022-08-01 04:33] LFeYls opened #13487 "about extend get permissionlist"
When getting the permission list, can you consider adding a bool parameter to get the permission list that only belongs to the specified provider.replace code
.Where(x => !x.Providers.Any() || x.Providers.Contains(providerName))
to
.WhereIf(mustInProvider,x => x.Providers.Contains(providerName))
.WhereIf(!mustInProvider, x => !x.Providers.Any() || x.Providers.Contains(providerName))
in PermissionA