[2022-02-28 07:16] gterdem commented on #11670
As in [EShopOnContainers ocelot implementation](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot#implementing-your-api-gateways-with-ocelot) sample, `UpstreamPathTemplate` is different than `DownstreamPathTemplate` to prevent the loop.

[code]

We can't do this since we are using abp proxy for servic

[2022-02-28 07:32] fokkog commented on #11715
Is the datatables search working for you in this sample project?

[2022-02-28 07:42] #11692 closed, assigned to yekalkan

[2022-02-28 10:17] EngincanV commented on #11715
Hi @fokkog, I'll try and write back asap.

[2022-02-28 11:04] hikalkan opened #11739 "Inform user when offline"
When internet connection goes down, we can;

* Write an AJAX interceptor and show a proper message to the user, instead of generic "Internal Server Error" message. Example: "The operation could not be performed. Your internet connection is not available at the moment."
* Show a blinking warning icon on the main toolbar and show a tooltip on mouse hover / click: "Your internet connection is not ava

[2022-02-28 11:48] EngincanV commented on #11715
![filter](https://user-images.githubusercontent.com/43685404/155978299-2cfdda09-dc8e-4cd0-b801-8623079b6a94.gif)

I've tried just before and it works as expected. Please ensure you've set `serverSide` option as **false** and `searching` option as **true** if you want to filter on the client-side.

If you want to filter on the server-side, you need to handle it yourself.

[2022-02-28 11:50] hikalkan opened #11741 "Optional PWA support on new solutions with Blazor WASM"
Add an option to `abp new` command: `--pwa` and create the solution as PWA enabled.

- [x] Blazor WASM ( https://github.com/abpframework/abp/pull/12179 )
- [x] ABP CLI changes ( https://github.com/abpframework/abp/pull/12179 )

[2022-02-28 11:56] hikalkan commented on #11635
@malikmasis I assigned this to you. @gterdem will guide you.

[2022-02-28 12:03] fokkog commented on #11715
Can you try the users/tenants search?

[2022-02-28 12:16] ebicoglu opened #11742 "Test - ABP Free Templates"
Test the following ABP templates

To update CLI tools to the latest version:

**Update CLI :**
[code]

---

- [x] App: Angular UI (MongoDB)

[code]

- [x] App: Blazor-Server (EF Core)

[code]

- [x] App: Blazor-WASM (PostgreSQL)

[code]

- [x] App: MVC  (EF Core)

[code]

- [x] Console

[code]

- [x] Module

[code]

Related docs:

- [Application template](https://docs.abp.io/en/abp/latest/Startup-

[2022-02-28 13:09] EngincanV commented on #11715
Thanks for reporting @fokkog, there is a problem indeed. I've created a separate issue (#11745 ) for that, thanks again.

[2022-02-28 13:34] EngincanV opened #11745 "Datatable Searching Problem"
Related with https://github.com/abpframework/abp/issues/11715

---

If we set `serverSide` as **true** but not set `searching` option, it seems **settings.oInit.searching** returns **undefined** in that case. Therefore, in the user and tenant pages, filtering is not working.

https://github.com/abpframework/abp/blob/4e26cb8d9011fb0c266d98a0d777ead5c9283a31/modules/identity/src/Volo.Abp.Identity.We

[2022-02-28 13:46] enisn commented on #11741
I'm not sure Angular caching. In Microsoft's blazor pwa template, microsoft generate `service-worker-assets.js` automatically, and that file contains all required assets to be cached.

We need to find out what we can cache?

[2022-02-28 15:17] improwise opened #11746 "Updated version of "How to Customize the SignIn Manager for ABP Applications"?"
Is there an updated version of this document/page, "How to Customize the SignIn Manager for ABP Applications"?

https://docs.abp.io/en/abp/2.8/How-To/Customize-SignIn-Manager

[2022-03-01 02:13] realLiangshiwei commented on #11715
Move to https://github.com/abpframework/abp/issues/11715

[2022-03-01 02:13] #11715 closed, assigned to nobody

[2022-03-01 05:52] EngincanV commented on #11746
Hi, We've moved the "how-to" guides to community.abp.io. You can see the related Community Post from [here](https://community.abp.io/posts/how-to-customize-the-signin-manager-3e858753).

[2022-03-01 05:52] #11746 closed, assigned to nobody

[2022-03-01 05:57] jee-a commented on #793
@maliming : ISettingManager  do not sync method but AbpIdentityOptionsFactory use sync method-> when i run jmeter to stress test -> the system is error. How to add sync method.

![image](https://user-images.githubusercontent.com/87168297/156113879-cb156c17-8d18-40b2-8118-a4a7a3835ed4.png)

[2022-03-01 06:02] #11745 closed, assigned to realLiangshiwei

[2022-03-01 06:10] maliming commented on #793
Please create a new issue.

[2022-03-01 06:58] alicihad commented on #11704
Hi,
But we don't want to continue to the transaction if any error occurs on db side. I'm sure Outbox pattern is used for securing events. But in case of any error during commit, should we still continue to the transaction?

And also in Eshop On Containers integration events fire after committing.

![image](https://user-images.githubusercontent.com/45819749/156119885-84e5ba66-1f1f-4bf0-a46a-acd5fa5

[2022-03-01 07:32] fokkog commented on #11715
Thanks, that should fix it.

Let me add that this was the main regression we ran into during the 4.x to 5.x upgrade. Overall the upgrade was pretty smooth and it's already deployed to production.

[2022-03-01 08:59] leonkosak opened #11750 "DevExtreme (DevExpress) - localization for Components and Reporting"
Hello,

Please, add code how to "connect" abp localization with DevExpress localization - so if user changes language in abp (dropdown), that corresponding language resource file for DevExpress is also taken.
Using Intl is preferred (for components): https://docs.devexpress.com/AspNetCore/400577/devextreme-based-controls/concepts/localization#intl

What do you think @gterdem and @cotur?

Component

[2022-03-01 11:32] #11695 closed, assigned to nobody

[2022-03-01 11:51] maliming commented on #11750
You can set the language of `DevExpress` according to the culture of the current page.

[2022-03-01 12:12] leonkosak commented on #11750
@maliming, wouldn't be better to solve (set language) system-wide and not on each .cshtml file separately?

[2022-03-01 12:47] maliming commented on #11750
Yes, it's better to set it in the layout page, it's just a solution.

[2022-03-01 12:54] leonkosak commented on #11750
Well, the problem is that I tried to add code in _ViewImports.cshtml and it works only in development mode. When I make a release and deploy, DX components stays in English when language is changed.

[2022-03-01 13:05] ahmetfarukulu opened #11751 "AbpDbContext filter expression optimization"
Hi,

When we set `DataFilter.Disable<ISoftDelete>()` [AbpDbContext](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/EntityFrameworkCore/AbpDbContext.cs) filter query create (@__ef_filter__p_0)1 = 1 or [a1].[IsDeleted] = CAST(0 AS bit) but we don't need this clause we already want to get all records. Can we change this condition like [Mongo data filt

[2022-03-01 13:13] Cyril-hcj opened #11754 "The Page of "https://docs.abp.io/zh-Hans/abp/latest/Tutorials/Part-2" is Not found"
![image](https://user-images.githubusercontent.com/31679398/156175221-981d6b5f-d8da-45ed-bd30-2252c466bf66.png)

[2022-03-01 13:24] EngincanV commented on #11754
Thanks for reporting, we'll fix the problem. In meantime, you can read the article from [here](https://docs.abp.io/zh-Hans/abp/5.0/Tutorials/Part-2?UI=MVC&DB=EF).

[2022-03-01 15:04] berkansasmaz commented on #11751
Thanks for the report @ahmetfarukulu 🎉

We will fix this issue as soon as possible.

[2022-03-01 15:48] maxrizwork commented on #11069
I had the same problem using abp ver5.1.3
I'm trying to use both modules: AbpBackgroundJobsHangfireModule and AbpBackgroundWorkersHangfireModule

If I configure Hangfire with SQL Server storage using:

`context.Services.AddHangfire(config =>
        {
            config.UseSqlServerStorage(configuration.GetConnectionString("Default"));
        });
`
it doesn't work.

If I use instead:
`
Hangfire.G

[2022-03-01 18:50] EngincanV commented on #11754
It's working right now, thanks again for reporting.

![image](https://user-images.githubusercontent.com/43685404/156230352-6bc814a0-de89-4a88-9994-06b5d607e7fe.png)

[2022-03-01 18:50] #11754 closed, assigned to EngincanV

[2022-03-01 20:16] begandroide commented on #11729
thanks for you response @maliming .

But how I can map multiple args for the blueprints? happens that `ngx-validate` for password rules validation has two properties:
[code]

where `description` is any case described in the issue screenshot and args is any rule that is not valid.

So I had modified blueprint: `invalidPassword: '::Password should include {{ description }}.',`. but there are many ca

[2022-03-02 00:40] snowchenlei commented on #11696
yes.
Thanks!

[2022-03-02 00:40] #11696 closed, assigned to nobody

[2022-03-02 00:57] maliming commented on #11750
Can you share your code?

[2022-03-02 01:07] maliming commented on #11729
Sorry, I'm not familiar with Angular.

@bnymncoskuner Do you have any idea?

[2022-03-02 01:08] #10801 closed, assigned to enisn

[2022-03-02 02:21] #11025 closed, assigned to nobody

[2022-03-02 06:11] berkansasmaz commented on #11025
Hi, we don't have any plans for that yet.

But you can find some useful links [here](https://github.com/EasyAbp/awesome-abp).

[2022-03-02 06:16] berkansasmaz commented on #11140
Unfortunately, we have no such plans at the moment.

However, you can use the tool mentioned[ in this article](https://community.abp.io/posts/code-faster-with-abpx-in-visual-studio-code-f0pzw9h4).

<hr>

Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-03-02 06:16] #11140 closed, assigned to nobody

[2022-03-02 06:34] berkansasmaz commented on #11751
After a little research, we found that `CreateFilterExpression` is already running once, so `IsSoftDeleteFilterEnabled` must be in the expression.
As a result, we think the current code is fine and doesn't need to be optimized.

<hr>

Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-03-02 06:34] #11751 closed, assigned to berkansasmaz

[2022-03-02 08:51] gizemmutukurt opened #11768 "App: Angular UI (MongoDB) - Permissions is working incorrectly."
**App:** Angular UI (MongoDB)

**Test Steps1:**

1. Log in with the administrator role.
2. Go to the Role tab.
3.  Turn on Permission mode for any role.
4.  It is saved by ticking "**Role management**" and  "**User management**" on the identity management page.
5.  Log in with the user with the role.
6. Go to the Role tab.
7. Turn on Permission mode for any role.

**Test Result:** The permissions

[2022-03-02 08:58] #11525 closed, assigned to nobody

[2022-03-02 09:00] enisn opened #11769 "CMS Kit - Blog Post Search"
A simple search implementation for blog posts.

[2022-03-02 09:14] gizemmutukurt commented on #11742
****App: Angular UI (MongoDB)** About:**

- ~~In case of errors in the username field, as in other mandatory fields, a warning label should be displayed.~~
![afbef28a-0518-4e6e-88e9-3bc974b64885](https://user-images.githubusercontent.com/99716457/156318705-6cc9bd47-1838-4d53-954e-34ef7dbcf025.gif)

- ~~Language conversions should be improved on all templates.~~

- Permissions is working incorrectl

[2022-03-02 10:22] enisn opened #11770 "Use emojis in CMS Kit Reactions"
Use emojis as reaction options instead of custom CSS icons.

I think using emojis is much easier to implement, much easier to configure, much more extendable, and much more familiar for end-users.

Some examples;

- GitHub uses emojis and it's successful:
![image](https://user-images.githubusercontent.com/23705418/156340007-962119cb-b96b-432b-a1f8-824ed50d4233.png)

- Discord uses emojis: _(it has

[2022-03-02 10:33] EngincanV opened #11771 "Docs: Hide Unnecessary Fields on Projects Endpoints"

[2022-03-02 10:41] ebicoglu commented on #11770
I'm on the emojis side as a GitHub solution.

[2022-03-02 10:56] gizemmutukurt opened #11772 "Returns meaningless value in permission setting on User management page in ABP Free Templates"
### App: Angular UI (MongoDB), Blazor-Server (EF Core), Blazor-WASM (PostgreSQL), Modules (Blazor-Server,Blazor-WASM,Angular)

**Problem Definition:** Returns meaningless value in permission setting on User management page in ABP Free Templates.

![image](https://user-images.githubusercontent.com/99716457/156348557-80140077-3fbf-4a89-925e-7ac0805b6fff.png)

[2022-03-02 11:25] hikalkan commented on #11770
I agree

[2022-03-02 11:38] sanghel-payoff commented on #11590
@maliming could you please comment here when the template has been updated and what version of abp suite generates the correct one?

[2022-03-02 12:46] enisn commented on #11770
Since we agree, I'm moving this issue to 5.3-preview

[2022-03-02 12:50] shuangbaojun opened #11774 "Why define ConnectionStringName as a constant?"
Why define ConnectionStringName as a constant? Sometimes you need to customize this name, as shown in the following figure:

![image](https://user-images.githubusercontent.com/64063254/156364807-640374bb-a7f7-4808-a8e9-1816e0dd9372.png)

[2022-03-02 12:57] gizemmutukurt opened #11775 "ABP Free Templates - Tenant user is unable to view the Settings tab."
**App:** ABP Free Templates

**Problem Definition:** "Allow tenants to change email settings." when the feature is not checked, the Tenant user does not display the Settings tab.
![0fb765f4-5320-447d-a268-971d8ac7d003](https://user-images.githubusercontent.com/99716457/156365652-bc885288-a89e-4d07-9661-f0831430330a.gif)

[2022-03-02 13:13] maliming commented on #11590
OK, No problem.

[2022-03-02 14:29] JadynWong commented on #11774
https://github.com/abpframework/abp/blob/c0a26e70c6dbbcc5ab074097f9eb255c658bcc77/modules/audit-logging/src/Volo.Abp.AuditLogging.EntityFrameworkCore/Volo/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingDbContext.cs#L7

`attribute` need constant value.

[2022-03-02 15:05] berkansasmaz commented on #11774
I think you can do what you want by following [this document](https://docs.abp.io/en/abp/latest/Connection-Strings#configuring-the-database-structures).

For instance:

[code]

[2022-03-02 15:05] #11774 closed, assigned to nobody

[2022-03-02 15:50] #11638 closed, assigned to malikmasis

[2022-03-02 16:14] gizemmutukurt opened #11779 "App: Blazor-Server (EF Core) - "Authorization failed!" error observed when clicking "Manage host properties" button."
**App:** Blazor-Server (EF Core), Blazor-WASM (PostgreSQL)

**Problem Definition:** For the user who is not granted the Manage Host properties permission, the Manage host properties button is displayed and when clicked, "Authorization failed!" error is displayed.

![f76959ac-b951-4627-af6b-55d090acc28c](https://user-images.githubusercontent.com/99716457/156400391-7525d104-4973-4515-b81f-be52ec622a

[2022-03-03 02:16] tangfengray opened #11780 "How dynamic api client work in net6 windows form application ?"
i created:
1)   a .net standrad project XX.Application

[code]
2)   a .net standrad project XX.Application.Contracts

[code]

[code]

3)  a .net 6 mvc test project

[code]

[code]
settings:
[code]

**in this project the dynamic api client work well**

3)  a .net 6 windows form  test  project

[code]

**in this project , the dynamic api client not work.**

error message :  System.NullReferenceExcep

[2022-03-03 02:27] maliming commented on #11780
Please confirm the `Autofac` works.

[2022-03-03 02:35] tangfengray commented on #11780
i add typeof(AbpAutofacModule) to DependsOn in AbpModule , but it still doesn't work properly.

[2022-03-03 03:06] rqx110 opened #11782 "Different `ServicePostfixes` defination between `CSharpServiceProxyGenerator.cs` and `JQueryProxyScriptGenerator.cs`"
In `JQueryProxyScriptGenerator`:
https://github.com/abpframework/abp/blob/2bd7dd9160a7e418797dfc0e2fecf982096d3c95/framework/src/Volo.Abp.Http/Volo/Abp/Http/ProxyScripting/Generators/JQuery/JQueryProxyScriptGenerator.cs#L16

In `CSharpServiceProxyGenerator`:
https://github.com/abpframework/abp/blob/2bd7dd9160a7e418797dfc0e2fecf982096d3c95/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxyin

[2022-03-03 03:13] tangfengray commented on #11780
autofac has worked. the abp service interface [iBookAppService ]  in winform project is not null, but it throw an exception when executing the method.

[2022-03-03 03:16] maliming commented on #11780
Please share the code that boot the `WindowsTestHttpApiClientModule`.

[2022-03-03 03:29] mostafayakout commented on #5543
we can do the following steps as a temporal solution :

1- add route component in the Blazor webAssembly client project to be the same as the one provided by default from ABP to use all features included [App.razor](https://github.com/abpframework/abp/blob/dev/modules/basic-theme/src/Volo.Abp.AspNetCore.Components.Web.BasicTheme/Themes/Basic/App.razor)
2- make small changes on the component to be

[2022-03-03 03:33] tangfengray commented on #11780
**The winform test project :**

WindowsTestModule:

[code]

Program

[code]

theApp

[code]

[code]

Form1

[code]

[2022-03-03 03:45] rqx110 commented on #11780
[code]

[2022-03-03 03:59] tangfengray commented on #11780
very thanks . it works .  \^o^/

[2022-03-03 04:01] #11780 closed, assigned to nobody

[2022-03-03 05:00] #11782 closed, assigned to realLiangshiwei

[2022-03-03 05:31] gizemmutukurt opened #11784 "App: MVC (EF Core) - "Search" field not working"
**App:** MVC (EF Core)

**Problem Definition:** Search field does not work on User management page.

### ScreenShot:
![9738ff2d-baab-41e7-b6c2-fa6172fc0f8a](https://user-images.githubusercontent.com/99716457/156502304-e0cc6722-3daf-4fd8-ba08-3384996699e7.gif)

[2022-03-03 05:38] realLiangshiwei commented on #11784
Fixed by https://github.com/abpframework/abp/pull/11747

[2022-03-03 05:38] #11784 closed, assigned to nobody

[2022-03-03 05:50] gizemmutukurt opened #11785 "App: MVC (EF Core) - Unable to view all role names"
**App:** MVC (EF Core) About:

**Test Steps:**

1. Admin user login.
2. Go to the role tab and grant only "Role management, Delete" and "User management" permissions for the role.
3. Log out and log in with the user of this role.
4. Open the Role tab.

**Test Result:** It should be seen that some of the role names are not coming up on the role page.

### ScreenShot:

![019195be-e09f-4e86-b0a6-872b

[2022-03-03 06:46] ahmadmasoum opened #11786 "Apb Suite Load Entity From Database Error ( cannot convert table to entity )"
*  ABP Framework version: **5.13**.
* database provider: **EF Core**
* Exception message and **stack trace**
[code]
* Steps needed to **reproduce** the problem.

I tried to import the database  with  this connection string
`Server=localhost;Database=GCU.CarRental;Trusted_Connection=True`
The test connection gives me connection successful

I tested on other databases, it's working correctly, but I

[2022-03-03 06:51] EngincanV commented on #11786
Hi @ahmadmasoum, commercial support is not available in the open-source repository. Please create a new question on the [support.abp.io](https://support.abp.io/QA/Questions) website.

[2022-03-03 06:51] #11786 closed, assigned to nobody

[2022-03-03 06:55] #11617 closed, assigned to mahmut-gundogdu, muhammedaltug

[2022-03-03 07:45] #11785 closed, assigned to maliming, ebicoglu

[2022-03-03 07:55] #11640 closed, assigned to maliming

[2022-03-03 08:02] hikalkan commented on #10838
I think this issue title is too generic. it should be more specific. I am closing this and adding a note for the backlog: https://github.com/abpframework/abp/projects/9#card-78526599

[2022-03-03 08:02] #10838 closed, assigned to nobody

[2022-03-03 09:04] gizemmutukurt opened #11789 "Optimistic concurrency error is thrown when changing my user information #11625"
**Version:**` 5.1.4`

**Templates:**
`abp new BlazoorServer.EfCore220301 -t app -u blazor-server --mobile none -csf `
`abp new BlazoorWasm.EfCore220301 -u blazor --separate-identity-server --database-management-system PostgreSQL -csf -t app`
`abp new Mvc.EfCoreNonTier220301 -t app -u mvc --mobile none --database-provider ef -csf `

**Module:** MVC

**Problem Definition:** If there is a change in p

[2022-03-03 10:33] magicjar opened #11790 "Query string friendly PagerModel"
ABP 5.1.3 (MVC)

For example i have an index page to list some books and it has books filtering (genre, author, release date, etc) system. When user filter books by genre, it will append genre query string so the url will become `example.com/books?genre=fantasy`. Then user navigate to page 2 and url become `example.com/books?genre=fantasy&currentPage=2`.

Right now i'm using `HttpContext.Request.G

[2022-03-03 12:16] #11779 closed, assigned to realLiangshiwei

[2022-03-03 13:00] #11677 closed, assigned to EngincanV

[2022-03-03 13:48] Stirda commented on #10028
Problem cited on 15 Sep 2021 above is still here :

- `"DisplayName:Name" : "Prénom"` : translation not appearing in `modules/identity/src/Volo.Abp.Identity.Blazor/Pages/Identity/UserManagement.razor`, probably because `Nom` as, again, two usages in french, and I suppose a translation override another from another resource file:
  - Besides "Prénom", "Prénom" is the translation of "First name", an

[2022-03-03 14:38] gizemmutukurt opened #11793 "The upper breakdown of the permissions whose bottom breakdown is selected is not automatically selected."
****App:**** MVC (EF Core)
****Module:**** MVC

**Problem Definition:**  When the bottom breakdown of permissions is selected, the top breakdown is not selected automatically.

### ScreenShot:

![ff5acc70-7e91-4a01-812f-0a80978179db](https://user-images.githubusercontent.com/99716457/156585698-70751f26-f6c4-420c-83c7-9417bc7fb3b6.gif)

[2022-03-03 15:10] #11771 closed, assigned to EngincanV

[2022-03-03 18:37] DonVliet commented on #11742
_**Emailing area could be wider, it looks like a button.**_

The width of the text will depend on the language. For example in Spanish it may be:

Envío de correo electrónico

_**No characters should be allowed in the phone number field.**_

The phone number field should be allowed to contain characters. For example it may contain the user's extension:

+1 (505) 434-2322 Ext. 12

[2022-03-03 20:59] koapeadu opened #11794 "Audited attribute on GET request does not work when auditing is not enabled for all GET requests"
When ` IsEnabledForGetRequests` in the audit options is `false` and there is an action method with the `[Audited]` attribute on it, we expect it to be logged to the audit log store.

However, it does not log the action to the audit log store. Turning on ` IsEnabledForGetRequests` is not a viable solution for us since we are only interested in logging specific GET requests.

I don't know which of t

[2022-03-03 23:06] NUlliiON commented on #1610
Any solution?

[2022-03-03 23:42] irvingHerrera commented on #11682
Hi maliming.

I hope you are well.
I have updated abp to version 5.1.4 where I can see your changes being applied.
But the above mentioned problem here persists

I was able to detect that in the AuditingInterceptor class on the [line](https://github.com/abpframework/abp/blob/984dbc2ce886350e7ec6e50ff00dc3d351865e5d/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptor.cs#L90) he ex

[2022-03-04 00:46] maliming commented on #11794
I agree with you, I will check out.

[2022-03-04 00:57] maliming commented on #10028
Please create a new issue.

[2022-03-04 01:06] realLiangshiwei commented on #10028
@Stirda
Hi,  Could you send a PR if you have time because we don't know French much.

[2022-03-04 01:29] wangliqiang1026 commented on #1610
Sorry, it's been too long, just add an authentication module to the gateway

[2022-03-04 01:29] wangliqiang1026 commented on #1610
Sorry, it's been too long, just add an authentication module to the gateway

[2022-03-04 02:20] maliming commented on #11794
hi

https://github.com/abpframework/abp/pull/11797

[2022-03-04 04:06] #11793 closed, assigned to ebicoglu, realLiangshiwei

[2022-03-04 04:58] gizemmutukurt opened #11801 "Setting tab is not displayed."
**Module:** MVC

**Problem Definition:** Setting tab is not displayed although permissions are defined.

### ScreenShot:

![a054529a-b528-4efb-9e22-3a46b3ebb06c](https://user-images.githubusercontent.com/99716457/156701990-71bfbbae-2983-4f3c-ab4a-6a5fc5f7aa91.gif)

[2022-03-04 05:28] gizemmutukurt opened #11802 "On the permission page, "An internal error occurred during your request!" error message is received."
**Module:** Blazor-Server
**Version:** `5.1.4`

**Problem Definition:** Getting an error while opening the permission page. Error message: An internal error occurred during your request!

### **ScreenShot:**

![f24d0cae-dfe9-4af2-b9c7-db658524d782](https://user-images.githubusercontent.com/99716457/156705033-4ee73cd2-7012-464e-a5b3-9306a5bfcbc1.gif)

[2022-03-04 05:58] maliming commented on #11682
hi

I will check it.

[2022-03-04 06:26] gizemmutukurt opened #11803 "Microservice"

[2022-03-04 06:29] #11803 closed, assigned to nobody

[2022-03-04 06:38] maliming commented on #11802
hi @gizemmutukurt

Can you share the error logs?

[2022-03-04 06:55] gterdem commented on #11424
Envoy uses dns adress resolving hence we need to pass valid dns for upstream instead of `localhost:someport`.

This will prevent tye development environment and force us to use docker development.

We can use YARP with isolated config file since we don't need any loadbalancing etc in development and use `envoy` on k8s staging and docker-compose.

[2022-03-04 07:23] hikalkan commented on #9687
Try to use `[StringLength]` instead of `[MaxLength]` for your DTO validation attribute.

[2022-03-04 08:44] #11690 closed, assigned to yekalkan

[2022-03-04 08:54] yekalkan opened #11805 "Cms-Kit: Global Resources documentation"
https://github.com/abpframework/abp/issues/11690

[2022-03-04 09:38] AngelBo opened #11806 "invalid"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2022-03-04 09:39] #11806 closed, assigned to nobody

[2022-03-04 10:05] maliming commented on #11682
See https://github.com/abpframework/abp/pull/11807

[code]

[2022-03-04 11:35] #11679 closed, assigned to muhammedaltug

[2022-03-04 11:46] szilardd commented on #3010
This worked for me https://github.com/abpframework/abp/issues/3077#issuecomment-597655930

Note that it is `context.Services.PreConfigure` instead of just `PreConfigure`

[2022-03-04 13:01] #11801 closed, assigned to ebicoglu, realLiangshiwei

[2022-03-04 13:02] #11802 closed, assigned to ebicoglu, realLiangshiwei

[2022-03-04 13:39] berkansasmaz opened #11809 "Unable to find obj variable when uglify `serializeFormToObject`"
https://github.com/abpframework/abp/blob/441d17567fad8b94665c8897361995400f861d3b/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js#L121

https://github.com/abpframework/abp/blob/441d17567fad8b94665c8897361995400f861d3b/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-share

[2022-03-04 20:32] nebula2 opened #11810 "Update to blazorise 1.0.0"
I know it's just came out today - but I just found out that blazorise released v1.0.0 which comes with a ton of stuff:

https://blazorise.com/news/release-notes/100

I just wanted to implement drag & drop for a project and was wondering why I it's not usable - until I found out that it was just released a few hours ago 🤣 - that's how I found out.

Thought I just raise an issue for upgrading.

[2022-03-05 01:25] realLiangshiwei commented on #11810
See https://github.com/abpframework/abp/pull/11649

[2022-03-05 01:25] #11810 closed, assigned to nobody

[2022-03-05 17:01] hikalkan commented on #11770
I am moving this to 6.0 since it has no priority.

[2022-03-06 08:35] codeio commented on #11083
thanks, but how to add the dynamic params to request header,

[2022-03-06 08:38] yinghongzhen commented on #11083
thanks, but how to add the dynamic params to request header?

[2022-03-06 11:16] ertugrulbakidal commented on #11083
Hello @codeio ,
You need to replace [DefaultProxyHttpClientFactory](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/Proxying/DefaultProxyHttpClientFactory.cs)

Moreover I've done in this way.

    [Dependency(ReplaceServices = true)]
    [ExposeServices(typeof(IProxyHttpClientFactory))]

    public class CustomProxyHttpClientFactory : IProxyHttp

[2022-03-06 23:22] garsiv1932 opened #11815 "Problem With migrations"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version: 5.1.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is

[2022-03-07 00:14] koapeadu commented on #11794
I'd like to leverage the `[Audited]` attribute.  I don't know if #11797 can handle that.

But can this check for example be changed from
https://github.com/abpframework/abp/blob/3266d15c1e517a5c5ae920ccfc4662312ed52901/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditingInterceptor.cs#L172-L176
to something like this?
[code]
And can the same be applied to the the following as well?
I think t

[2022-03-07 01:12] benmassaoud commented on #7221
Hi, why not suggest a template with Azure Aad B2C as primary Identity provider?

[2022-03-07 01:59] garsiv1932 commented on #11815
I downloaded the project from your site, changed the appsettings with the credentials of my database and started the project and the same error appear.....what the f is going on with this? I added the migration and started the project and i cant save information on the database.

Can you do something that works?????

Really i must use this for my work because your software is not  stable at all...

[2022-03-07 02:12] maliming commented on #11809
https://github.com/abpframework/abp/pull/11811

[2022-03-07 02:28] maliming commented on #11794
We can only get info about methods and parameters in interceptors.

[2022-03-07 05:15] #11794 closed, assigned to maliming

[2022-03-07 05:32] realLiangshiwei commented on #11775
This is by design: https://github.com/abpframework/abp/issues/958

[2022-03-07 05:37] #11789 closed, assigned to realLiangshiwei

[2022-03-07 06:30] GitOPa commented on #11602
Any news on this?

[2022-03-07 06:48] enisn opened #11818 "Migrating to Blazorise 1.0"
# Migrating to Blazorise 1.0
Developers should follow **Migration** section of this documentation: https://preview.blazorise.com/news/release-notes/100

_Originally posted by @enisn in https://github.com/abpframework/abp/issues/11649#issuecomment-1060246567_

[2022-03-07 06:49] enisn commented on #11818
This issue was created for making visible this braking change for the 5.2 release post.

(You can refer to the link in this issue @hikalkan )

[2022-03-07 06:49] #11818 closed, assigned to enisn

[2022-03-07 07:01] #11809 closed, assigned to maliming

[2022-03-07 07:56] #11775 closed, assigned to nobody

[2022-03-07 09:19] #11805 closed, assigned to yekalkan

[2022-03-07 10:43] enisn commented on #11690
We can consider using https://github.com/ajaxorg/ace as code editor here

[2022-03-07 11:35] enisn opened #11820 "Remove User Id from Permission Modal (Blazor)"
Part of https://github.com/abpframework/abp/issues/11772

[2022-03-07 11:35] enisn opened #11821 "Remove User Id from Permission Modal (Angular)"
Part of https://github.com/abpframework/abp/issues/11772

[2022-03-07 12:34] #11820 closed, assigned to enisn

[2022-03-07 12:39] enisn commented on #11790
Keeping state of table in query string like ABP Support website.

_(https://support.abp.io/QA/Questions?Sort=LastActivityDate-desc&CurrentPage=2)_

---

We've added it to backlog

[2022-03-07 12:58] #11821 closed, assigned to mahmut-gundogdu

[2022-03-07 13:20] tinonetic opened #11824 "Documentation not clear. Do I have to create separate projects to correctly register multiple Dynamic C# API Clients?"
* ABP Framework version: 4.4
* Database provider: EF Core

Hi,

I have read [the documentation on Dynamic C# API Client Proxies](https://docs.abp.io/en/abp/4.4/API/Dynamic-CSharp-API-Clients) on the ABP.

**What isn't clear is how `context.Services.AddHttpClientProxies` will look like  if you want to consume more than one service,** **Does it mean we create multiple HttpClient projects?**

It does

[2022-03-07 13:46] zengnanhua opened #11825 "GetAsyc(id,true) no detail ,, but include(c=>c.list) have detail"
![image](https://user-images.githubusercontent.com/22017107/157045971-7e62a280-3698-44bf-921f-7859afe0afd6.png)

[2022-03-07 13:49] #11768 closed, assigned to muhammedaltug

[2022-03-07 13:57] vijay2358 commented on #7221
It should be consider. We have commercial version that azure and implemented as custom. I tried use same azure  webui/api for identity provider, but it require auth setup in all modules like below

like auth url need to setup at httpapihost and angular/MVC level as well

[2022-03-07 14:12] EngincanV commented on #11825
You need to override the `WithDetailsAsync` method as follows:

[code]

Then when you set `includeDetails` parameter as **true** all your related repository methods will include this entity.

[2022-03-07 14:14] #11825 closed, assigned to nobody

[2022-03-07 15:14] TronActive opened #11826 "Azure Databricks integration with EF Core"
I would like to post a feature request for entity framework core integration with Azure Databricks. Not as a complete replacement of SQL or MongoDB. More to work alongside it for analytics and machine learning. It's performance is around 10X faster than doing analytics with SQL Server.

Azure Databricks is mostly for analytics and machine learning. It does integrate with SQL. It provides an end-to

[2022-03-07 15:27] ebicoglu opened #11827 "Fix broken links on docs.abp.io"
![image](https://user-images.githubusercontent.com/9526587/157064071-9b25b922-a6b0-464a-95fe-78c5b4ab2872.png)

404 Not found
https://docs.nativebase.io/Customize.html<a href>Outbound
Linked from: https://docs.abp.io/en/abp/latest/Startup-Templates/Application

Host not found
https://https//www.hangfire.io/<a href>Outbound
Linked from: https://docs.abp.io/en/abp/latest/Background-Workers-Hangfire

[2022-03-07 16:35] jaxe1234 opened #11828 "Error when setting JobPollPeriod"
ABP Version: 5.1.4
Database Provider: EF Core

An error occurs when I try to set the job poll period of in the AbpBackgroundJobWorkerOptions.

`Configure<AbpBackgroundJobWorkerOptions>(options =>
            {
                options.JobPollPeriod = TimeSpan.FromHours(5).Milliseconds;
            });`

The error is *Period should be set before starting the timer!*
I have tried doing the Configure

[2022-03-08 00:51] maliming commented on #11772
Actually, we are setting the value for the **user id**. But I think we can use the **user name(user id)** to display.

[2022-03-08 03:19] realLiangshiwei commented on #11828
`TotalMilliseconds` instead of `Milliseconds`

[2022-03-08 03:19] #11828 closed, assigned to nobody

[2022-03-08 05:17] enisn commented on #11824
Hi @tinonetic ,

1. What happens to "Default" in this case? Is it ignored?

2. How does it look like when I add a third/fourth or more services?

3. Does it mean for every client, I will have to create an HttpClient project with its own module, set up, etc?

[2022-03-08 05:18] enisn commented on #11815
I couldn't get it clearly. Can you please share the steps to reproduce the problem?

[2022-03-08 06:13] lianggengbin commented on #1469
`
[DependsOn(
    typeof(DemoHttpApiModule),
    **typeof(DemoApplicationModule),
    typeof(DemoEntityFrameworkCoreModule),**
    typeof(AbpAutofacModule),
    typeof(AbpIdentityWebModule),
    typeof(AbpSettingManagementWebModule),
    typeof(AbpAccountWebIdentityServerModule),
    typeof(AbpAspNetCoreMvcUiBasicThemeModule),
    typeof(AbpAspNetCoreAuthenticationJwtBearerModule),
    typeof(AbpT

[2022-03-08 07:13] hikalkan opened #11836 "Document the distributed lock"
The document should explain the following topics:

* What is distributed locking, why we may need it, in brief.
* ABP's distributed locking abstraction package and its usage.
* Explanation and usage of the current implementation (https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.DistributedLocking), how to use redis provider for this implementation, give link to its original docu

[2022-03-08 07:26] berkansasmaz opened #11837 "Some enhancements for all UI type"
Related: #11742

**PS, Please see [these notes](https://github.com/abpframework/abp/issues/11837#issuecomment-1081523347) before starting the issue.**

---
- [x] Angular (#11840)
- [x] MVC (#11839)
- [x] Blazor ( #11838)
---
1.  The user should be informed that the `Username` cannot contain spaces. Like special char warning in the `Password` input field.

![afbef28a-0518-4e6e-88e9-3bc974b64885](ht

[2022-03-08 07:31] berkansasmaz opened #11838 "Some enhancements for Blazor UI"
Related: #11742

The suggestions [here](https://github.com/abpframework/abp/issues/11837) should be made.

Also,

- [x] User page does not have "search" field.

![156501987-ab44544a-c653-4460-855b-6b42fcd4286f](https://user-images.githubusercontent.com/31216880/157187967-551d8004-c0c7-4908-bc10-52bf848d539c.png)

- [x] The same input fields must be qualified with the same label. This is important

[2022-03-08 07:36] berkansasmaz opened #11839 "Some enhancements for MVC UI"
Related: #11742

The suggestions [here](https://github.com/abpframework/abp/issues/11837) should be made.

Also,

- [x] The same input fields must be qualified with the same label. This is important for consistency. Related QA questions: https://support.abp.io/QA/Questions/2482

![ff9c26d2a466c607d7f43a01a35bb2a7](https://user-images.githubusercontent.com/31216880/157220300-ccaee9e2-4db7-4891-a58d

[2022-03-08 07:37] berkansasmaz opened #11840 "Some enhancements for Angular UI"
Related: #11742

The suggestions [here](https://github.com/abpframework/abp/issues/11837) should be made.

[2022-03-08 07:43] berkansasmaz commented on #11742
Thanks for the information @DonVliet.

---

I'm closing this issue as the actions to be taken have been moved to separate issues.

[2022-03-08 07:43] #11742 closed, assigned to berkansasmaz, gizemmutukurt

[2022-03-08 08:20] enisn commented on #11826
You can use any provider that implemented Entity Framework Core

See list below: https://docs.microsoft.com/en-us/ef/core/providers/?tabs=dotnet-core-cli

Even we don't have an official package, you can configure any Entity Framework Core provider for your DbContext.

---

But as I see there is no Entity Framework implementation for Databricks.

We develop a framework, database providers are not i

[2022-03-08 08:23] enisn commented on #11826
https://stackoverflow.com/questions/67426831/connect-ef-core-to-azure-databricks

You have to use Drivers, there is no EF support.

If you want to use it for our existing modules, you have to implement repositories. Existing modules already inject repositories.

[2022-03-08 08:34] enisn commented on #11824
As an addition:

[code]
You should always set **remoteServiceConfigurationName** in here, but in the appsettings.json, no need to create another section for **BookStore**, it'll use Default if you don't define in appsettings.json

[2022-03-08 08:39] rqx110 commented on #11838
please also consider enhance the blazor ui experience different than others(mvc, angular). e.g.
* The card header is so larger than others
* The table has black divider line

[2022-03-08 08:43] gterdem opened #11841 "eShopOnAbp: Add Docker-Compose"

[2022-03-08 09:30] enisn commented on #11815
Closing this issue, please open an issue with a clear and respectful language

[2022-03-08 09:30] #11815 closed, assigned to nobody

[2022-03-08 10:53] yekalkan opened #11842 "Blogging: `Continue reading` button appearance"
moved from https://github.com/abpframework/abp/issues/11699

@gizemmutukurt says:

Detail can be written instead of continiue reading and button appearance can be beautified.
![image](https://user-images.githubusercontent.com/99716457/155674296-60d5c8ff-66ce-4be8-b322-5e3454870f87.png)

[2022-03-08 11:34] ahmadmasoum opened #11844 "Web Public The SSL connection could not be established when published on IIS"
**ABP Framework version: 5.1.4**.
* Your **User Interface: MVC**
* Your database provider: EF Core
* Exception message and **stack trace**

[code]

* Steps needed to **reproduce** the problem.

I've published HttpApi.Host and IdentityServer on IIS and they are working correctly
[code]

But when I publish Web.Public I get the error above
I check all configurations in appsettings and they are correc

[2022-03-08 11:54] cld0815 opened #11845 "5.2.0-rc.1 bug when using postgresql"
* 5.2.0-rc.1
* blazor-server
* postgresql

**step:**
1. abp new test -u blazor-server -dbms postgresql  --no-random-port --preview
2. add `AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true);` to test.DbMigrator->Program->Main
3. run test.DbMigrator
4. add `AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true);` to test.Blazor->Program->Main
5. run test.Blazor and login

[2022-03-08 11:57] braim23 commented on #11827
1. 404 Not found
https://docs.nativebase.io/Customize.htmlOutbound
Linked from: https://docs.abp.io/en/abp/latest/Startup-Templates/Application
FIXED: https://docs.nativebase.io/3.1.x/customizing-components

2. Host not found
https://https//www.hangfire.io/Outbound
Linked from: https://docs.abp.io/en/abp/latest/Background-Workers-Hangfire
FIXED: https://www.hangfire.io/

3. 404 Not found
https://d

[2022-03-08 12:19] tinonetic commented on #11824
Thanks @enisn

You've answered one part by recommending the creation of separate HttpClient project.

My scenario is actually **for projects in different solutions,**.  Will it still work and dynamically generate a client? Or it only works where the projects are in the same solution?

[2022-03-08 12:20] garsiv1932 opened #11846 "Problem Saving and reading entity from extended user"
Documentation
Please check the official documentation before asking questions: https://docs.abp.io/

GitHub Issues
GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

Your **ABP Framework version: 5.1.
Your User Interface type (Angular/MVC/React... etc.) if the issue is related to a spe

[2022-03-08 12:29] islambek01 opened #11847 "Sub level icon is not shown in navigation"
### ABP Angular version - 5.1

Sub level icon is not shown:
![image](https://user-images.githubusercontent.com/32124707/157237658-d4a3ca3c-b433-46f8-9d66-7e78f783dffd.png)

router.provider.ts:

[code]

[2022-03-08 12:50] gizemmutukurt opened #11848 "App: Blazor-Server (EF Core) - "An internal error occurred during your request!" error message is received"
**App:** App: Blazor-Server (EF Core)
**Problem Definition:**  App: Blazor-Server (EF Core) - "An internal error occurred during your request!" error message is received.
**Error message:** An internal error occurred during your request!

### Screenshot:
![7c3eca82-1d34-4524-ab8b-6e45803b7ae2](https://user-images.githubusercontent.com/99716457/157241164-aaa42b43-8e46-4d05-933a-04c0c2b2b71a.gif)
![

[2022-03-08 13:09] czart8 commented on #11618
I have the same problem. This problem also occured in a 4.x versions.

[2022-03-08 13:23] braim23 commented on #11827
https://github.com/abpframework/abp/pull/11850 Fixed the first 4 and left Angular

[2022-03-08 13:30] enisn commented on #11845
I couldn't reproduce it.

Which PostgreSQL version are you using?

As I see your problem is not related to source code or entity framework. It's about your PostgreSQL instance and unhealthy connection to PostgreSQL instance

[2022-03-08 13:32] enisn commented on #11848
If it's possible to share logs about this problem please share, that will really help to understand the problem

[2022-03-08 13:51] gizemmutukurt commented on #11848
[code]

[2022-03-08 14:32] muhammedaltug opened #11854 "Update Auto Pr actions after rel-5.3 branch created"

[2022-03-08 16:57] sanghel-payoff opened #11855 "How to correctly configure RouteTenantResolveContributor"
ABP Commercial 5.1.2, UI Angular, EFCore Postgresql

**What configuration is required in order to correctly use the RouteTenantResolveContributor for all ApplicationService routes?**

#7624 was left unaswered

Following some hints on #8806, it seems that it might be possibile to configure a base route path for all actions in the _HttpApiHostModule_, something like:

[code]

Is this sufficient in o

[2022-03-08 21:54] phil-enfom opened #11856 "Could not find the bundle file '/libs/flag-icon-css/css/flag-icon.min.css'"
* ABP Framework version 5.2.0-rc.1
* MVC
* EF Core
* Exception message:
AbpException: Could not find the bundle file '/libs/flag-icon-css/css/flag-icon.min.css' for the bundle 'Lepton.Global'!
Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsync(ViewContext viewContext, TagHelper tagHelper, TagHelperContext context, TagHelperOutput output, List<BundleTagHelperIte

[2022-03-09 00:55] maliming commented on #11844
`ServerCertificateValidationCallback` in which project?

[2022-03-09 01:05] realLiangshiwei commented on #11856
See: https://support.abp.io/QA/Questions/2700/New-Project-520-rc1---ABP-Suite---Missing-Components

[2022-03-09 01:06] maliming commented on #11856
What's the version of your CLI? Please try to upgrade to the RC.

[2022-03-09 01:21] phil-enfom commented on #11856
CLI Version is 5.2.0-rc.1

[2022-03-09 01:22] phil-enfom commented on #11856
The referenced file is in the folder except it has the s on the the end of 'icon'
If you rename the file it works

[2022-03-09 01:32] maliming commented on #11848
Related to https://github.com/abpframework/abp/pull/11858

[2022-03-09 01:56] maliming commented on #11856
Solution:

Rename `src/Web/wwwroot/libs/flag-icon-css/css/flag-icons.min.css` to `src/Web/wwwroot/libs/flag-icon-css/css/flag-icon.min.css`

Add an empty `chart.css` file in `src/Web/wwwroot/libs/chart.js/`

[2022-03-09 02:13] #11848 closed, assigned to maliming

[2022-03-09 02:17] cld0815 commented on #11845
I wrote the steps wrong,
The correct is this:
1. abp new test -u blazor-server -dbms postgresql --no-random-port --preview
2. add AppContext.SetSwitch("Npgsql.EnableLegacyTimestampBehavior", true); to test.DbMigrator->Program->Main
3. **run `add-migration Init` in Package Manager Console with Default project test.EntityFrameworkCore**
4. run test.DbMigrator
5. add AppContext.SetSwitch("Npgsql.Enab

[2022-03-09 06:13] ahmadmasoum commented on #11844
In Web.Public, HttpApi.Host and IdentityServer.

HttpApi.Host and IdentityServer
[code]

Web.Public
[code]

[2022-03-09 06:25] maliming commented on #11844
Please try to configure the HttpClient's handler.

https://github.com/abpframework/abp/issues/5304

[2022-03-09 06:51] enisn commented on #11845
Ok, I got it. I'm checking it

[2022-03-09 06:56] enisn commented on #11845
Can you try to add it to DbContextFactory too?

You can refer this one:
https://github.com/abpframework/eShopOnAbp/pull/65/files#diff-f5d9020f915af0ed39be0ca005fab75d2f676a32f1029d82080e1780e3bbfa8dR25

[2022-03-09 07:08] #9687 closed, assigned to nobody

[2022-03-09 07:12] gterdem commented on #11844
I think you are trying to bypass SSL verification for identityserver. You can generate a self-signed pfx file and use it in identityserver for signing the tokens as in [this sample](https://github.com/abpframework/eShopOnAbp/blob/6af53146e816c75869688bd71a5315dda8b1b2d8/apps/auth-server/src/EShopOnAbp.AuthServer/EShopOnAbpAuthServerModule.cs#L63-L71).

[2022-03-09 07:23] cld0815 commented on #11845
this woks, many thanks

[2022-03-09 07:23] #11845 closed, assigned to nobody

[2022-03-09 07:48] ahmadmasoum commented on #11844
Adding
[code]

To
[code]

while keeping
[code]

Worked just fine
Thank you

[2022-03-09 07:48] #11844 closed, assigned to nobody

[2022-03-09 08:42] ugurozturk commented on #8069
fixed by clean/re create migration/ build fixed my problem
https://github.com/abpframework/abp/issues/7282

[2022-03-09 11:16] ebicoglu opened #11870 "ABP CLI doesn't populate appsettings.secrets.json for the "app-nolayers-pro" template"
The content of the appsettings.secrets.json is the following for `5.2.0-rc.1` the `app-nolayers-pro` template.
[code]

As a workaround, create a new app-pro template as below and copy the `appsettings.secrets.json` from `*.DbMigrator` project into the  `app-nolayers-pro` project.

[2022-03-09 11:17] ebicoglu commented on #11870
fixed with https://github.com/abpframework/abp/commit/356e696b151ed9d744614e0d177bb8328c00573b

[2022-03-09 11:17] #11870 closed, assigned to ebicoglu

[2022-03-09 13:42] rodrigomarcell commented on #11724
but  nothing like instant messaging then?

[2022-03-09 14:16] hikalkan opened #11879 "Document updates for ABP 5.2 release"
- [ ] Updates for "libs" folder removed
- [ ] ABP Suite many-to-many relations

See the blog post: https://github.com/abpframework/abp/blob/dev/docs/en/Blog-Posts/2022-03-08%20v5_2_Preview/POST.md

[2022-03-09 14:22] xiaomazz opened #11880 "The requested service 'Volo.Abp.AspNetCore.Serilog.AbpSerilogMiddleware' has not been registered."
![image](https://user-images.githubusercontent.com/52307384/157460233-e79e3d1f-ea58-4741-809c-5bb4d409db55.png)

[2022-03-09 14:26] hikalkan opened #11881 "Create a migration guide for breaking changes in v5.2"
To there: https://github.com/abpframework/abp/blob/rel-5.2/docs/en/Migration-Guides/Abp-5_2.md

- [x] Payment httpapi oriented design (https://github.com/volosoft/volo/issues/9296)
- [x] Blazorise 1.0
- [x] libs Folder Has been Removed from Source Control
- [ ] https://github.com/abpframework/abp/issues/11679
- [x] Ask for others?

You can check my post for "libs folder" information:
https://githu

[2022-03-09 14:41] #11880 closed, assigned to nobody

[2022-03-09 15:30] EngincanV commented on #3758
With v5.2 there is a built-in option to hide ABP-related endpoints on Swagger UI.

Call the `HideAbpEndpoints` method in your Swagger configuration as follows:

[code]

https://docs.abp.io/en/abp/5.2/API/Swagger-Integration#hide-abp-endpoints-on-swagger-ui

[2022-03-09 17:31] hikalkan commented on #7221
We are currently working on a solution. We will try to make it changeable as easy as possible. So, anyone can use, for example, Azure, Okta or Keyclock and completely drop ABP's IdentityServer and even the Identity module.

Let's see the current situation:

* ABP's Angular UI uses OpenIdConnect authentication (uses authorization code flow redirects user to the MVC backend app with IDS embedded) an

[2022-03-09 20:45] nallejacobsson commented on #7221
We recently built our own auth server using OpenIddict + ASP.NET Core Identity. At first it seemed like a huge amount of work compared to IDS, but in the end it was pretty straight forward and the result is flexible and powerful. With ABP you already have a lot of pieces in place. Yes, there is no guarantee OpenIddict will always be maintained and free, but hey - that's the nature of open source :

[2022-03-10 02:09] gerryge commented on #7221
How about this [pr](https://github.com/abpframework/abp/pull/9770) (feat: openiddict module #9770)?

[2022-03-10 02:54] maliming commented on #11590
@sanghel-payoff

https://github.com/abpframework/abp/pull/11871

[2022-03-10 03:44] afresh commented on #4049
I set `UseCurrentAccessToken` to true, but the `ICurrentUser` got null value. Why?

[2022-03-10 04:01] htve opened #11884 "Volo.Abp.EventBus.Rebus Error "<no destinations>" occurs"
The error occurred at Volo.Abp.EventBus.Rebus v5.1.3 and v5.1.4,  v5.1.2 no problem
`[DBG] Rebus.Pipeline.Send.SendOutgoingMessageStep (.NET ThreadPool Worker): Sending Volo.Abp.Domain.Entities.Events.Distributed.EntityCreatedEto[MyProject.Declaration.xxCreateEto] -> "<no destinations>"`

[2022-03-10 04:04] realLiangshiwei commented on #11884
Can you share steps to reproduce?

[2022-03-10 04:10] htve commented on #11884
This is my PreConfigureServices
[code]

[2022-03-10 04:43] realLiangshiwei commented on #11884
Please provide full steps, thanks.

[2022-03-10 06:25] #3758 closed

[2022-03-10 06:30] htve commented on #11884
1. download abpframework/abp-samples/tree/master/RebusEventBus
2. change App1 nuget package Volo.Abp.EventBus.Rebus to v5.1.2
3. change App1Module/PreConfigureServices to
`public override void PreConfigureServices(ServiceConfigurationContext context)
        {
            PreConfigure<AbpRebusEventBusOptions>(options =>
            {
                options.InputQueueName = "eventbus1";

[2022-03-10 07:15] enisn opened #11886 "Payment httpapi oriented design"

[2022-03-10 07:17] #11886 closed, assigned to nobody

[2022-03-10 07:42] ahmetfarukulu opened #11887 "Dto with Required Attribute slow respond"
- ABP Framework version 5.1.4
- User Interface None
- Database provider EF Core (MsSQL)

I use abp template solution created this command `abp new Sample --ui none -csf`

### Problem

- I have two sample model only difference required attribute, when i request 100 list required one is returning very slow
- Same code with aspnetcore empty project, both response fast
[code]
- Sample request (doesn't

[2022-03-10 07:49] hpstory opened #11888 "Is there a spelling mistake in eShopOnAbp"
In the [CatalogServiceMongoDbContext.cs](https://github.com/abpframework/eShopOnAbp/blob/main/services/catalog/src/EShopOnAbp.CatalogService.MongoDB/MongoDB/CatalogServiceMongoDbContext.cs)

Questions maybe it should be spelled as Products
`public IMongoCollection<Product> Questions => Collection<Product>();`

[2022-03-10 08:05] hikalkan commented on #11772
@maliming can you take the main responsibility of this work?

[2022-03-10 08:07] NecatiMeral opened #11889 "ABP CLI - `generate-proxy` doesn't handle multiple interfaces"
* Your **ABP Framework version**: 5.1.3
* ~Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI~
* ~Your database provider(EF Core/MongoDB)~
* ~Exception message and **stack trace** if available (check the logs).~
* Steps needed to **reproduce** the problem:
  * Create new API project and create a common Interface (`ISharedAppService`) on the applicatio

[2022-03-10 08:33] gizemmutukurt commented on #11772
The same problem exists in pro templates.

**App Pro:** Angular UI (MongoDB), Blazor-Server (EF Core), Blazor-WASM (PostgreSQL), Modules (Blazor-Server,Blazor-WASM,Angular)

![image](https://user-images.githubusercontent.com/99716457/157620704-4d3a81cc-061e-48b4-b774-7788ded095ae.png)

[2022-03-10 09:22] enisn commented on #11888
It should be `Products` instead of `Questions`

[2022-03-10 09:53] hikalkan commented on #7221
@gerryge I didn't remember this, I will check it, thanks 👍

[2022-03-10 10:41] ahmadmasoum opened #11894 "RemoteServices URLs are not being used"
**ABP Framework version: 4.1.3**.
 **User Interface: MVC**
** Your database provider: EF Core**
* Steps needed to **reproduce** the problem.

I have Tired MVC Application, I Published all the projects under one website
![image](https://user-images.githubusercontent.com/72628109/157618752-48c99824-77e1-49b3-9620-c279e4d09435.png)

the URLs

[code]

When I make a request to `identityserver` or `Http

[2022-03-10 10:46] #11881 closed, assigned to enisn

[2022-03-10 11:16] rashedjawda commented on #11698
Thank you, that's good news.
We already implement it in our solutions the same way implemented in aspnetboilerplate, _I hope the migration go smoth :)_

[2022-03-10 12:45] #11888 closed, assigned to malikmasis

[2022-03-10 13:39] lemchen commented on #6502
still have problem with npm 8.5.3 & node v16.14.0

[2022-03-10 14:12] sanghel-payoff commented on #11194
bump? am also interested in enabling SwaggerUI description from xmldoc comments

there seems to be no extension point to enable xmldocs as described in the Microsoft docs...

[code]

[2022-03-10 14:56] ahmetfarukulu commented on #11887
I've found problem reason is [AbpDataAnnotationAutoLocalizationMetadataDetailsProvider](https://github.com/abpframework/abp/blob/fe160bfb96bba5d5e36d059f76a7eb7857762e7b/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AbpDataAnnotationAutoLocalizationMetadataDetailsProvider.cs#L55) class but i don't have solution yet 😄

[2022-03-10 15:52] begandroide opened #11897 "Angular blueprints issues of ngx-validate"
Hi! Recently i noted that validation blueprints has some issues:

1. [https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/es.json#L23](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Validation/Volo/Abp/Validation/Localization/es.json#L23) The validation blueprint in localization file must use first parameter, not seco

[2022-03-10 16:13] sanghel-payoff commented on #11194
Never mind, I've found that SwaggerGen is already setup in the `...HttpApiHostModule.ConfigureSwagger` method..

Still, I've tried adding the xml doc files, as described below

[code]

Xml files are generated, found and included via `IncludeXmlComments`, but still, APIService Actions that do have comments (visible in the xml files also) DO NOT show up on the Swagger UI...

What am I missing?

@mal

[2022-03-10 16:17] lukebooroo opened #11898 "Updating existing IdentityUser triggers MaxUserCountValidator"
ABP Framework version: 5.1.1
User Interface: Angular
database provider: EF Core

When using the IdentityUserController and MaxUserCount has been set, the tenant is at the maximum number of users. Updating the details of an existing user is not possible.

If there a way to bypass this quickly?

Thanks in advance :)

[INF] Route matched with {area = "identity", controller = "User", action = "Update"

[2022-03-10 16:36] #11635 closed, assigned to gterdem, malikmasis

[2022-03-10 17:47] Alintya opened #11899 "5.2s HideAbpEndpoints() on non tiered solution does not work"
Adding `options.HideAbpEndpoints();` to `AddAbpSwaggerGenWithOAuth` when using a not-tiered startup template breaks swagger.

In case I'm using it completely wrong it should probably be documented.

* **ABP Framework version: 5.2.0-rc.1**
* database provider: EF Core

2022-03-10 18:43:46.147 +01:00 [DBG] Login Url: /Account/Login
2022-03-10 18:43:46.147 +01:00 [DBG] Login Return Url Parameter: Ret

[2022-03-10 21:10] MROALI opened #11900 "Is there any procedure for updating existing application to the latest abp framework version ?"
Hello,

I want to know if there exists any procedure for upgrading an existing application  (5..1.3 )to latest preview version (5.2) of  abp
framework.

Updating all packages in the solutions, etc...

Thankyou in advance

[2022-03-10 23:11] DonVliet commented on #11900
You can run the following command from a terminal window while you are in the root folder of your solution. This will  update all the ABP related NuGet and NPM packages in your solution to the latest preview version:

**abp  switch-to-preview**

Also, check out the upgrade documentation here

https://docs.abp.io/en/abp/5.2/Upgrading

Don

[2022-03-11 00:55] maliming commented on #11887
hi

I will check this.

[2022-03-11 01:00] maliming commented on #11898
hi @lukebooroo

Please get help on https://support.abp.io/

Thanks.

[2022-03-11 01:00] #11898 closed, assigned to nobody

[2022-03-11 01:30] muzoaydo commented on #5682
Same as here clearing the cache solved it but when i use ABP i encounter so many cache bugs. Do you have any suggestions to prevent these kinda bugs ?

[2022-03-11 01:35] maliming commented on #5682
Can you give us an example?

[2022-03-11 03:10] maliming commented on #11894
https://www.carsharingmvc.com/api/identity/users

JavaScript or Application Server call?

[2022-03-11 03:20] maliming commented on #11887
Can you try this?

[code]

[2022-03-11 03:29] maliming commented on #11194
Can you share a simple project?

[2022-03-11 06:15] gterdem opened #11904 "eShopOnAbp: Remove TenantCreatedEto handling in Administration and Identity services"
This is redundant and should be removed.

[2022-03-11 06:16] EngincanV commented on #11899
Hi @Alintya, if you don't have an application service or controller (endpoints) other than ABP endpoints that come from specific modules, it's normal to get a result like that. (Because there are not any other endpoints than ABP related endpoints, so it should be empty)

So if you create a new endpoint it will be shown on Swagger UI.

![image](https://user-images.githubusercontent.com/43685404/157

[2022-03-11 06:44] ahmetfarukulu commented on #11887
It seems works but this time doesn't localize property i guess main problem `IDisplayMetadataProvider` way of working
- If model state is true why it run DisplayName func
- If list of same model type why it run DisplayName func many times, run for each request by type work too

[2022-03-11 06:47] hikalkan opened #11905 "Article for multi-lingual entity"
Create an ABP Community article to show how we can design a multi-lingual entity, like we did in ASP.NET Boilerplate ([see](https://aspnetboilerplate.com/Pages/Documents/Multi-Lingual-Entities)).

[2022-03-11 06:52] islambek01 commented on #11847
@muhammedaltug could you give any estimation for solving this issue, please?

[2022-03-11 08:02] EngincanV opened #11906 "Community Article: "Using Mediatr with ABP Framework""

[2022-03-11 08:15] lukebooroo commented on #11898
Are you telling me that this is not a bug, and the intended behaviour?

[2022-03-11 08:26] maliming commented on #11898
hi

You are using the ABP commercial, we don't discuss it in this Github repo.

Please get help on https://support.abp.io/

[2022-03-11 09:28] lukebooroo commented on #11898
![image](https://user-images.githubusercontent.com/3911526/157839884-8b26d185-93c9-408a-849d-9b98aabd0465.png)

I'm getting this error on submit of a support request

[2022-03-11 09:35] maliming commented on #11898
What's your `username`?

[2022-03-11 09:41] lukebooroo commented on #11898
Username is: luke

[2022-03-11 09:49] snowchenlei opened #11907 "[Blob Storing Module] support MultipartUpload and ResumableDownload"
Will blob Storing Module support MultipartUpload and ResumableDownload in the future?
This is very useful for working with large files.

[2022-03-11 10:07] GitOPa commented on #159
@maliming the linked Microsoft documentation about context pooling performance enhancement does not contain the quoted text anymore. To me, this might mean that Microsoft has changed its mind on when to use context pooling. Should we revisit this regarding abp framework?

[2022-03-11 10:28] #11904 closed, assigned to malikmasis

[2022-03-11 10:41] gterdem opened #11908 "eShopOnAbp: Use file-scoped namespaces"

[2022-03-11 10:58] mahmut-gundogdu opened #11909 "Date pipes for angular"
ABP has Date utils functions*.  Maybe, It could convert to  angular pipes

 *https://github.com/abpframework/abp/blob/dev/npm/ng-packs/packages/core/src/lib/utils/date-utils.ts

[2022-03-11 11:28] #11908 closed, assigned to gterdem

[2022-03-11 11:34] ertugrulbakidal opened #11910 "How to duplicate a tenant"
Hi,
In ABP framework, Is there any functionality that duplicates one existing tenant with all its database tables?

[2022-03-11 13:28] omer-repo opened #11915 "Blazor WebAssembly UI for Single-layer Solution Template"
There is a new "Single-layer Solution Template" for simple and short-term applications with ABP 5.2 RC version. But it doesn't support for Blazor WebAssembly UI.

It will be very good to use this template for Blazor developers.

[2022-03-11 13:33] hikalkan opened #11916 "Introducing the ABP Community Discord Server"
We've created a discord server for the ABP Community.

You can use this link to join the server: https://discord.gg/abp

Our purpose is to provide an interactive environment to talk about ABP and .NET. You can ask your questions and discuss ideas here, but this is not a technical support platform. For deep technical issues, you should use GitHub issues or ABP Commercial support website if you are

[2022-03-11 13:33] berkansasmaz commented on #11915
Related: https://blog.abp.io/abp/ABP.IO-Platform-5-2-RC-Has-Been-Published

[2022-03-11 14:35] lukebooroo commented on #11898
![image](https://user-images.githubusercontent.com/3911526/157887768-507d854a-af81-4382-a1c9-47ac52cc39c2.png)

There's no field to select the organization.

[2022-03-11 14:47] millsaj commented on #11437
The [solution](https://support.abp.io/QA/Questions/2489/PGSQL-DateTime-mapping-issue-with-512-and-earlier-due-to-Npgsql-6#answer-31a76d4a-e44d-f0a4-3a96-3a01e94990c5) posted recently on the support ticket mentioned seems to work for me.

(adding the below to the WebModule, DbMigratorModule and TestBaseModule if postgres is used there as well)

[code]

[2022-03-11 16:01] Alintya commented on #11899
Oh wow, guess I just didn't understand that this is what hidden looks like 😓 and those failure messages appear to be always there.
Well, thanks for the quick response and sorry for the trouble I caused.
Feel free to close unless there is anything to add.

[2022-03-11 16:49] #11899 closed, assigned to nobody

[2022-03-11 17:47] lgadola opened #11918 "Feature Request: Provide dates as datatype Date instead of string in Typescript DTO"
Typescript interfaces should represent dates as datatype DateTime and the conversion should be done in generate-proxy or the mapping json->DTO.
This way, the DTO would be useful for feeding directly into ReactiveForms, Devextreme or other client-side controls.
In NSwag, when generating the  TypeScript interface, one can even choose one's preferred datetime handler, (p.e. moment.js).

On the client

[2022-03-11 20:35] #11900 closed, assigned to nobody

[2022-03-11 21:03] johan-developer commented on #11856
This found in Blazor Wasm but chart.js folder not exists.

[2022-03-11 22:34] irvingHerrera commented on #11682
Hi maliming.

i have checked the latest version of abp 5.2 RC1 I can notice that the changes mentioned here are already implemented.
But now I see that they have removed the AbpAuditHubFilter filter.

I've made the changes you mention to the signalr middleware and it overrides the AbpUowHubFilter filter so it doesn't do anything so entity history is back to work

Will anything change for the final

[2022-03-12 08:44] cnkerry opened #11922 "[Produces("application/xml")] The operation was canceled."
HI,

My LogisticsHttpApiHostModule：
[code]
My Controller:

[code]

when I add attribute([Produces("application/xml")]) to the controller, The returned XML is normal, But the data has not been modified, and more exceptions is added to the log:

* Your **ABP Framework version**.
* 5.1
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* no
* Your data

[2022-03-12 09:58] #11437 closed, assigned to nobody

[2022-03-12 13:31] zsanhong opened #11924 "why abp cli generate-proxy need url?"
when in module develpment, if I want to use cmd to generate a js proxy for my module, I use cmd like
` abp generate-proxy -t js -m mymodulename `
but I get the wrong msg:
`Value cannot be null. (Parameter 'Url')`
why I must use prarmeter Url? I think in module generate proxy,no need use Url Parameter.

[2022-03-13 00:39] maliming commented on #11922
Please share the result.

These errors seem nothing to do with`Produces`.

[2022-03-13 06:38] ahmadmasoum commented on #11894
JavaScript

[2022-03-13 09:51] maliming commented on #11887
Is the response time looks same?

[2022-03-13 09:53] maliming commented on #11682
Since Blazor's mechanism(https://github.com/dotnet/aspnetcore/issues/30115) `AbpUowHubFilter `may be have bugs, I rolled back the commit and am working on the latest solution.

[2022-03-13 09:58] maliming commented on #11898
Can you try logging out and re-logging in?

[2022-03-13 11:04] #11772 closed, assigned to muhammedaltug, maliming, enisn

[2022-03-13 15:25] #11836 closed, assigned to malikmasis

[2022-03-13 15:26] malikmasis commented on #11836
@hikalkan made the last changes and completed it.

[2022-03-13 19:07] #11153 closed, assigned to nobody

[2022-03-13 19:07] #11154 closed, assigned to nobody

[2022-03-13 19:07] #11122 closed, assigned to nobody

[2022-03-13 21:43] Enissay commented on #11916
Amazing idea, sadly I am getting this:
![zz](https://user-images.githubusercontent.com/794673/158080420-447cfbc6-38bb-4769-9228-37baa50363c8.png)

[2022-03-13 22:01] Enissay opened #11930 "Blazor-Server fails to start: Could not load type 'Blazorise.Color' from assembly 'Volo.Abp.BlazoriseUI' due to value type mismatch"
* Your **ABP Framework version**.
Version 5.1.4 (Stable)
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
Blazor-Server
* Your database provider(EF Core/MongoDB)
Ef Core
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.
1. create a template `abp new InfinityBoox --template ap

[2022-03-14 00:46] maliming commented on #11930
Unable reproduce.

You can run `abp clean` and re-try.

![image](https://user-images.githubusercontent.com/6908465/158087223-f6a4f269-0cd9-4f0e-b0ee-a17361f87040.png)

[2022-03-14 00:48] maliming commented on #11910
There is no built-in functionality for this. You can switch tenants and use the repository to query data and then duplicate it.

[2022-03-14 01:15] maliming commented on #11894
I tested it, it works.

![image](https://user-images.githubusercontent.com/6908465/158088882-8355d1ec-4651-4011-95e2-a8491802bf87.png)

![image](https://user-images.githubusercontent.com/6908465/158088873-733ba071-fe2f-4d48-a905-73922738abaa.png)

[2022-03-14 02:08] JadynWong commented on #11924
To generate a static proxy, it need to get the definition from the `/api/abp/api-definition` API.

https://docs.abp.io/en/abp/latest/CLI#generate-proxy

https://github.com/abpframework/abp/blob/3853e1464f7dadcbcf385aafee27540b4c3fd64c/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ServiceProxying/ServiceProxyGeneratorBase.cs#L30-L49

[2022-03-14 02:13] send2vinnie opened #11931 "Update to the feature documentation is needed"
By searching the keyword "permission" throughout the document and the problematic paragraphs come up.

The "permission" appears above should be corrected to "feature".

https://docs.abp.io/en/abp/latest/Features#changing-features-definitions-of-a-depended-module

[2022-03-14 02:17] maliming commented on #11924
Thanks @JadynWong

[2022-03-14 02:17] #11924 closed, assigned to nobody

[2022-03-14 02:22] #11931 closed, assigned to nobody

[2022-03-14 05:05] enisn opened #11934 "Use code-mirror for CMS-Kit Page script/style"
According to https://github.com/abpframework/abp/pull/11885

[2022-03-14 05:38] ahmetfarukulu commented on #11887
Response time fixed

![image](https://user-images.githubusercontent.com/35758317/158111046-85332946-95aa-4bd0-a80d-d8d496fe9db8.png)

[2022-03-14 05:38] #11887 closed, assigned to maliming

[2022-03-14 05:44] maliming commented on #159
hi @GitOPa

Thanks. I will check it again.

------

2023-10-27

The current design of abp is not compatible with `DbContextPool`

[2022-03-14 06:09] realLiangshiwei opened #11936 "Update jquery-form"
https://github.com/jquery-form/form/pull/586

[2022-03-14 06:23] clinically-au commented on #11930
Make sure you're not using Blazorise v1.0. It is not supported in 5.1.4 (need to wait for 5.2)

I'm pretty sure that's the error I got when I tried that.

[2022-03-14 06:50] mehmetuken opened #11939 "App No Layer Blazor Server"
Hi, app-nolayer AbpCrudPageBase not accept CrudAppService. app-nolayer we don't need create service interface.

[2022-03-14 07:32] #11936 closed, assigned to realLiangshiwei

[2022-03-14 07:35] maliming commented on #11939
Can you explain it in detail?

[2022-03-14 08:06] roc916 opened #11944 "abp.io get started page preview check label color not as expected"
https://abp.io/get-started
<img width="482" alt="img" src="https://user-images.githubusercontent.com/12685126/158130145-0e29721b-5e36-4209-9273-8e663211ff2d.png">

[2022-03-14 08:10] enisn commented on #11916
Hi @Enissay

Try this one: https://discord.gg/VSC7ZkjZpN

[2022-03-14 08:57] realLiangshiwei commented on #11944
Thanks for your report we will fix it.

[2022-03-14 09:03] #11944 closed, assigned to realLiangshiwei

[2022-03-14 10:58] hikalkan opened #11947 "Move the build folder inside `etc`"
To keep the root folder cleaner, we can move https://github.com/abpframework/eShopOnAbp/tree/main/build to the `etc` folder (may not be directly in `etc/build`, but a proper folder).

[2022-03-14 11:12] ertugrulbakidal commented on #11910
I will give a try, thanks @maliming

[2022-03-14 11:27] #11910 closed, assigned to nobody

[2022-03-14 12:39] bxjg1987 opened #11948 "Is the independent module carrying dbcontext transactional?"
abp vNext version：5.1.4

Use the CLI command: "abp net xxx - t module -- no-ui"  to create a module. By default, it requires two databases: XXX_ Module and XXX_ Main, is it transactional when the entity in the module and a table in the main database are updated at the same transaction? How is it guaranteed? Or do I have to use distributed events to implement transactions?

[2022-03-14 13:37] mahmut-gundogdu opened #11949 "File Systems depend to the Public web project; It may be a separate service"
File Systems depend on the Public web project; It may be a separate service or any solution.
The problem is: Catalog or Ordering service returns the file name. The file host in eShopOnAbp.Public root (under the wwwRoot/product-images).

If it stays like that, the Angular Backoffice app depends on Public Web Project.

[2022-03-14 13:54] mahmut-gundogdu opened #11950 "Environment interface that is in @abp/core could has custom properties."
The environment interface that is in @abp/core could have custom properties.

This is the Environment.ts
![image](https://user-images.githubusercontent.com/2217899/158184826-459c803e-5fc4-45cf-aa1b-572d3c56ab98.png)

For now, the developer could implement changes like that.
![image](https://user-images.githubusercontent.com/2217899/158186026-b65f75d3-3146-45b6-8c48-4346438d9bb3.png)

I think we ca

[2022-03-14 21:21] gterdem commented on #11948
Module runs **in-process**, it is not a distributed application. It just uses two different databases.

[2022-03-15 02:24] realLiangshiwei commented on #11884
It's simply – there is no event handler.

Try:
[code]

[2022-03-15 02:24] #11884 closed, assigned to nobody

[2022-03-15 02:42] htve commented on #11884
@realLiangshiwei
I ran the demo, but the correct result didn't come up because of Volo.Abp.EventBus.Rebus v5.1.3
Please take a closer look at my full steps, which change Volo.Abp.EventBus.Rebus to v5.1.3

[2022-03-15 05:48] md-yilmaz opened #11955 "[AbpEntityPropertyChanges] Tablosu"
Merhabalar,
veri üzerinde yaptıgım degişiklik [AbpEntityPropertyChanges] isimli tabloya yansıyor burda sıkıntı yok.
Ancak aynı veriye 1 den fazla farklı farklı update yapsam bile [AbpEntityPropertyChanges] bu tabloya sadece il yaptıgım update gözüküyor diger update ler yansımıyor
Bu konuda yardımınızı rica ederim.

[2022-03-15 05:51] md-yilmaz opened #11956 "Table of AbpEntityPropertyChanges"
Hello,
the change I made to the data is reflected in the table called [AbpEntityPropertyChanges], there is no problem here.
But even if I make more than 1 different different update to the same data [AbpEntityPropertyChanges], this table only looks like the update I made first, other updates are not reflected
I would like your help in this matter.

[2022-03-15 06:11] EngincanV commented on #11955
Duplicate of #11956

[2022-03-15 06:11] #11955 closed, assigned to nobody

[2022-03-15 07:02] #11699 closed, assigned to yekalkan

[2022-03-15 07:46] #11934 closed, assigned to enisn

[2022-03-15 07:50] rqx110 opened #11958 "[eShopOnAbp] Use `Logger` injected object instead of static `Log` method"
In all `xxxEventHandler` classes, I saw that it denpend on `Serilog` and use it's static method to log logs, e.g.

https://github.com/abpframework/eShopOnAbp/blob/2978b8870a89f89399e12145cd9187a88c9d7dd8/shared/EShopOnAbp.Shared.Hosting.Microservices/DbMigrations/EfCore/DatabaseEfCoreMigrationEventHandler.cs#L79

It works, but why not use the `Logger` object just like:

https://github.com/abpframe

[2022-03-15 08:15] MapleWithoutWords opened #11959 "As for 'onUnitOfWorkComplete' in the EventBus Module, I have a suggestion to make it globally configurable"
Use Abp Version : 5.1.4

When I unit tested the project, I found that the event bus would not be executed immediately, causing some of my tests to fail. I looked through the documentation and found that this was due to the inclusion of the property onUnitOfWorkComplete, which by default will publish the event after the UOW completes. But I wanted to get Jie 'Guo immediately when I did the unit tes

[2022-03-15 08:19] demirmusa opened #11960 "CmsKit - Filter by User"
List blogs filtered by author

[2022-03-15 08:25] demirmusa opened #11961 "CmsKit- Quick navigation"
We can implement quick navigation side bar to blog post page. It will be very useful for blogs with long blog posts.

![image](https://user-images.githubusercontent.com/48536631/158336441-0c45dd51-9b82-4637-af99-5a9af3792767.png)

[2022-03-15 08:26] yb12306 commented on #1168
vue 遥遥无期

[2022-03-15 08:30] demirmusa opened #11962 "CmsKit- Allow to remove cover photo of post"
There is no way ro remove cover photo
![image](https://user-images.githubusercontent.com/48536631/158337040-f4386939-5acd-433a-a2c8-55ba8852e4bf.png)

[2022-03-15 08:33] demirmusa opened #11963 "CmsKit- Save blog post without publishing"
Save without publishing feature will be added to blog posts. In this way, we can write a part of the text and save it and then continue from where we left off.

[2022-03-15 08:37] demirmusa opened #11964 "CmsKit- Send to admin approval to publish"
Instead of authorizing all users to publish blog posts, let's define only certain users with the authority to publish blog posts. When an unauthorized user writes a new post, there should be a button like "Send to admin approval to publish" and user press it to publish this blog post. These blog posts should be published after the approval of someone who has the authority to publish blog post.

[2022-03-15 08:38] demirmusa opened #11965 "CMS Kit Updates"
- [x] https://github.com/abpframework/abp/issues/10954
- [x] https://github.com/abpframework/abp/issues/11960
- [x] https://github.com/abpframework/abp/issues/11961
- [x] https://github.com/abpframework/abp/issues/11962
- [x] https://github.com/abpframework/abp/issues/11963
- [x] https://github.com/abpframework/abp/issues/11964

[2022-03-15 09:10] Kenjiang110 opened #11966 "Parameter includeDetails=false in MongoDB Repository doesn't work."
Is it true that parameter includeDetails is ignored in MongoDbRepository? Is there any sugguestion to archived the goal?

[2022-03-15 09:12] enisn opened #11967 "Refactor database migration & seeding on eShopOnAbp"
No more communication with events is required since we're using the distributed lock.

We should lock and migrate the database and apply database seeds while launching apps instead of event publishing.

[2022-03-15 09:20] enisn commented on #11934
---

![image](https://user-images.githubusercontent.com/23705418/158114935-feb165ad-1d1b-4563-a16c-0b02db6e23d9.png)
![image](https://user-images.githubusercontent.com/23705418/158114957-60084db3-850e-423f-adbb-7dd27a0539bd.png)

[2022-03-15 10:06] awahbahplana opened #11968 "5.2 Preview Errors in Template Of Application Template and Single Layer Template"
the error was in application template in AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Lepton.Global'!

and same error in single layer application
AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Lepton.Global'!
and errror when creating application with suite
and secret key not created

thanks

[2022-03-15 10:07] realLiangshiwei opened #11969 "Angular: Service Proxies does not support API versioning"
https://github.com/abpframework/abp/blob/dev/docs/en/API/API-Versioning.md

![image](https://user-images.githubusercontent.com/16813853/158359192-5c103119-90d4-4e48-bf42-7ff76618030f.png)

[2022-03-15 10:16] bxjg1987 commented on #11948
@gterdem Isn't a module a microservice that can be deployed independently?

[2022-03-15 10:53] mahmut-gundogdu opened #11970 "Prefix of component should be changed on EshopOnABP"
the prefix of components on the library is 'lib. I think it should be changed.
![image](https://user-images.githubusercontent.com/2217899/158362218-6ecc9d95-5a47-4c28-968b-70085c48a19a.png)

[2022-03-15 11:07] berkansasmaz commented on #11968
Can you try again after running the `abp install-libs` command where the project(`*.csproj` file) is located?

[2022-03-15 11:13] berkansasmaz commented on #11968
https://github.com/abpframework/abp/blob/dev/docs/en/Blog-Posts/2022-03-08%20v5_2_Preview/POST.md#libs-folder-has-been-removed-from-source-control

@yekalkan when I download template with version `5.2.0-rc.1` the `abp install-libs` command does not automatically execute, FYI.

[2022-03-15 11:14] Trojaner opened #11971 "Unable to change profile picture on abp.io"
![](https://i.imgur.com/ODXqEjW.gif)

Maybe related; this error shows up in console
![image](https://user-images.githubusercontent.com/1809172/158365219-8832fa61-983a-4d3f-8d1d-31e5f8a2a07e.png)

[2022-03-15 11:14] gterdem commented on #11948
Module and microservice are different concepts.
You can slice your application into modules; that will end up running on your **host application** because modules do not have runnable application.
Microservice is an **independently** hosted application itself with its own datastore (database).

You can develop a **monolith application** by dividing your business into modules and later on you can e

[2022-03-15 11:16] berkansasmaz commented on #11971
Thanks for the report @Trojaner  🎉

We will fix this issue as soon as possible.

[2022-03-15 11:55] malikmasis opened #11972 "Discussion regarding using enum and enumeration on eShopOnAbp"

[2022-03-15 12:01] GerardoGrecoPorini opened #11973 "Way to set specific properties for Azure Service Bus"
We're trying your framework especially the Distributed Event Bus Azure Integration. Through it we can only set the object that send to service bus. We are finding it difficult to manage some specific properties of Azure Service Bus like CorrelationId and SessionId. Is there a raccomanded way to use this properties?

Thank you

[2022-03-15 16:49] bxjg1987 commented on #11948
@gterdem Thank you very much for your patience

when use the CLI command: "abp net xxx - t module -- no-ui" to create a module. It will create a XXX.Host project, which can run, and the interfaces exposed by this module can be called.  Does the host project only facilitate the use of development modules in the development stage?

If the module in the application contains its own independent databa

[2022-03-15 23:29] Enissay commented on #11930
I have restarted the project 3 times and was still having the same issue... And that was it!!
It was using Balorize `1.0.1` by default, when I manually downgraded to the next old version `0.9.5.1`, it worked!

Thank you <3

Thank you @maliming for the time as well <3

[2022-03-15 23:39] johan-developer commented on #11971
Hello, I had this problem in Blazor Wasm, exists any workaround.
Thank you,

[2022-03-16 02:03] #11930 closed, assigned to nobody

[2022-03-16 02:25] 312977 opened #11976 "AbpHub cache bug"
abp version 5.0
Volo.Abp.AspNetCore.SignalR  version 5.1.4
use  AbpHub  signalR and rediscache

OnConnectedAsync  set  an  rediscache, but in OnDisconnectedAsync  get null
and the cache can be get   in api method, only in OnDisconnectedAsync get is null
cache alway exsit
code bylow
[code]

[code]
OnConnectedAsync()   var cache = await _carClientCache.GetAsync('aaa'); cache  is not null
OnDisconnec

[2022-03-16 02:27] realLiangshiwei commented on #11976
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2022-03-16 03:16] 312977 commented on #11976
i  changed the information

[2022-03-16 04:13] thanhtai9606 commented on #5885
I have found issue in the angular project
`  apis: {
    default: {
      url: 'https://localhost:4437,
      rootNamespace: 'Becamex.ArchiveCenter',
    },
    ArchiveCenter: {
      url: 'https://localhost:44377',
      rootNamespace: 'Becamex.ArchiveCenter',
    },
  },
` in environment.ts
in default apis have to reference in default in api, but not auth api. I have much a lot of time for this

[2022-03-16 05:13] md-yilmaz commented on #11956
Is there anyone who can help? friends

[2022-03-16 06:04] realLiangshiwei commented on #11976
There is no problem

![image](https://user-images.githubusercontent.com/16813853/158526744-5dca8317-f95a-4866-9710-b504dfe603a9.png)

[2022-03-16 06:32] 312977 commented on #11976
this problem  only in  winform  Microsoft.AspNetCore.SignalR.Client,
my version is  6.0.2   ,
im try change the  SignalR.Client version to fix this  problem

[2022-03-16 06:50] berkansasmaz commented on #11968
@awahbahplana can you write the operating system you are using?

[2022-03-16 06:55] 312977 commented on #11976
i am tryed  the other Microsoft.AspNetCore.SignalR.Client,  versions  ,  but the problem still in

[2022-03-16 06:56] 312977 commented on #11976
const string ServerUri = "https://localhost:44344/signalr/carcommunication";

            var hubConnection = new HubConnectionBuilder()
                 .WithUrl(ServerUri)
                 .WithAutomaticReconnect()

                 .Build();

hubConnection.StartAsync().ConfigureAwait(true);

[2022-03-16 07:24] yanxiaodi opened #11978 "Cannot implicitly convert type 'Microsoft.AspNetCore.Components.ElementReference' to 'Volo.Abp.BlazoriseUI.Components.DataGridEntityActionsColumn<T>"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. **5.1.4**
* Your **User Interface** type (Angular/MVC/React... etc.) if the i

[2022-03-16 07:43] berkansasmaz commented on #11971
The problem is in version `5.2.0-rc.1`, you can downgrade to `5.1.4` version if you want, or wait for the new version to come out for `5.2.0-rc.*`.

The easiest workaround would be to just downgrade the `@abp/uppy` package to `5.1.4`.

For example, downloading a template with version 5.1.4 and copying the `wwwroot/libs/uppy` folder, and replacing it with the wrong one will solve the problem.

<img

[2022-03-16 07:47] berkansasmaz commented on #11971
Since this issue is related to the app-pro template I'm closing this issue and creating an internal issue, FYI.

[2022-03-16 07:47] #11971 closed, assigned to nobody

[2022-03-16 07:51] EngincanV commented on #11971
For a quick-workaround, you can add a [resolutions section](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/#toc-how-to-use-it) to your package.json file and downgrade the `@abp/uppy` package to 5.1.4 as below:

[code]

And then run the `abp install-libs` comand on the directory.

[2022-03-16 08:06] berkansasmaz commented on #11971
Yes, this solution definitely makes more sense, thanks @EngincanV for the correction.

[2022-03-16 08:31] #11050 closed, assigned to nobody

[2022-03-16 08:31] #11212 closed, assigned to nobody

[2022-03-16 09:26] afresh commented on #11248
Sorry, I haven't had time to practice yet. Please extend it a little longer.

[2022-03-16 09:48] ahmadmasoum opened #11979 "Authorize With roles isn't working"
**ABP Framework version: 5.1.3**.
 **User Interface: MVC**
**Your database provider: EF Core**
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.

I Added a `Creator` Role and added     `[Authorize(Roles = "Creator")]`  on top of the service,
And it gives me a Forbidden error
The default admin role is not working as well,
The

[2022-03-16 10:13] abdumostafa commented on #921
I think a good support for Keycloak would be great, as many companies already have Keycloak working for their identity and access management needs.

[2022-03-16 10:25] 312977 commented on #11976
[[](url)](https://siyuan.dongxiweilai.com/signalr.rar)
this  is  my code ,you can download ;
start up   product.host  and then ,start winform  , click  connect button
in swagger   api  ,test  and test2, will get the right  cache vue  ,
but  in OnDisconnectedAsync  ,the cache  is null

[2022-03-16 10:36] maliming commented on #11979
Please check the logs of the API website.

[2022-03-16 10:39] cahitsecmen opened #11980 "Error with DbMigrator"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2022-03-16 11:12] ahmadmasoum commented on #11979
[code]

[2022-03-16 11:44] maliming commented on #11980
https://github.com/abpframework/abp/search?q=Invalid+object+name+%27AbpSettings%27.&type=issues

[2022-03-16 11:47] #11966 closed, assigned to nobody

[2022-03-16 14:01] steves-bits commented on #7315
I've been wanting to be able to allow one user to access multiple accounts without logging back in for a long time. something like this https://github.com/abpframework/abp/issues/2611

[2022-03-16 14:56] Trojaner commented on #2218
I believe this is a really important feature especially in distributed scenarios.
E.g. imagine you want to run code when a user's name changes, currently it would be very difficult as the related user update code is in ABP.

[2022-03-16 18:45] sanghel-payoff commented on #11855
bump ?

[2022-03-16 18:48] sanghel-payoff commented on #11253
@improwise what did you end up with?

I too would like to customize the route for some AppService actions, without having to hardcode the conventional base route...

[2022-03-16 22:43] gterdem commented on #11979
Hello,
Permission system doesn't work like that.

`[Authorize(Roles = "Creator")]` checks if the signed in user has the **claim** named _role_ with the **value** of _Creator_.
Try `[Authorize("Creator")]`.

Check [Authorization docs](https://docs.abp.io/en/abp/latest/Authorization) for more information.

[2022-03-16 22:46] gterdem opened #11982 "Audit-Logging event enhancements"
In distributed system cases where Audit-Logging needs to be written by using events instead of direct database connection, there is a huge overhaul about mapping AuditLogInfo to an Eto. We can simplify this process.

[2022-03-16 22:54] gterdem commented on #11949
We can implement file system in the next milestones. For now, we can move these demo product image files to related _CatalogService_ and expose through CatalogService api.

@malikmasis Can you handle that please?

[2022-03-16 23:12] gterdem commented on #11958
Probably because of not to bother with replacing [NullLogger instance](https://github.com/abpframework/eShopOnAbp/blob/2978b8870a89f89399e12145cd9187a88c9d7dd8/shared/EShopOnAbp.Shared.Hosting.Microservices/DbMigrations/MongoDb/DatabaseMongoDbMigrationEventHandler.cs#L53) :)

Didn't think much over it though as long as it [write logs async](https://github.com/abpframework/eShopOnAbp/blob/2978b8870

[2022-03-17 00:05] colinin commented on #11976
Multi-tenant filters are only used when querying a database, **CurrentTenant.Change(null)** should be used to ignore multi-tenant in the cache

[2022-03-17 00:12] gterdem commented on #11956
Can you please create a public repository with related reproduction steps/unit tests that we can check?

[2022-03-17 00:35] rqx110 commented on #11958
For design, we always say "depend on abstraction (interface), not on details" [DIP(Dependence Inversion Principle)], here eventhandle depend upon Serilog (details).
Of course it works, but as an official example we can do better. from example we want not just learn how to create a microservice application, but also want to learn your best practices and your best design

This is my opinion, if ther

[2022-03-17 00:49] rqx110 commented on #11980
If you run from Rider, you can try run the project in Terminal with `dotnet run` command

[2022-03-17 01:04] maliming commented on #11968
https://github.com/abpframework/abp/blob/5.2.0-rc.1/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Commands/ProjectCreationCommandBase.cs#L314

[2022-03-17 01:52] 312977 commented on #11976
i   fixed  this problem ,because  the token

ar token = new CancellationTokenSource().Token;
var a = await _distributedCache.GetAsync("test", token: token);

[2022-03-17 01:53] #11976 closed, assigned to nobody

[2022-03-17 02:03] cuno92 opened #11984 "5.2.0-rc.1 bug Can not run Blazor Server in preview version"
5.2.0-rc.1
blazor-server
postgresql

step:
run DbMigrator
run Blazor project then get AbpException : Could not find the bundle file '/libs/bootstrap/css/bootstrap.css' for the bundle 'Blazor.BasicTheme.Global'!

Stacktrace
`Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsync(ViewContext viewContext, TagHelper tagHelper, TagHelperContext context, TagHelperOutput

[2022-03-17 02:04] realLiangshiwei commented on #11978
Source code is here: https://github.com/abpframework/abp-samples/tree/master/BookStore-Blazor-EfCore you can check it,
I guess you are using the wrong namespace.

[2022-03-17 02:11] realLiangshiwei commented on #11984
Try:
`abp install-libs`

May I ask, what version is your ABP CLI?

[2022-03-17 02:22] cuno92 commented on #11984
Thanks this works, My ABP CLI version is **5.2.0-rc.1 (Prerelease)**, I think stable version automatically run this command but preview does not

[2022-03-17 02:34] realLiangshiwei commented on #11984
After my check, it works fine.

![image](https://user-images.githubusercontent.com/16813853/158725017-f61d533a-5f3a-4a89-bcf8-0e8ea57ff05a.png)

[2022-03-17 02:34] #11984 closed, assigned to nobody

[2022-03-17 03:07] #11978 closed, assigned to nobody

[2022-03-17 03:13] Trojaner commented on #11982
Solves the issue I was just facing [here](https://github.com/Trojaner/AbpZeroTrustArchitecture/blob/main/modules/remoting/src/Sample.Remoting/SampleAuditingStore.cs#L14).

While at it, can you make AuditLog and its property setters public in case we want to add custom audit logs like [here](https://github.com/Trojaner/AbpZeroTrustArchitecture/blob/main/services/Sample.Auditing/src/Sample.Auditing.

[2022-03-17 06:30] gterdem commented on #11982
Instead of adding property directly to AuditLog aggregate-root, I would suggest using `ExtraPropertyDictionary`. Do you have use cases where object-extension doesn't work for you?

I also made [AuditLogInfo collections with public setters](https://github.com/abpframework/abp/pull/11983/commits/b5a0c99f500c41fa926666f543249f705603e08a) so it will be available to be mapped fully with extra propertie

[2022-03-17 07:26] md-yilmaz commented on #11956
you can look at github to solve my problem.
[](https://github.com/Lustral11/Audit.git)

[2022-03-17 07:27] md-yilmaz commented on #11956
https://github.com/Lustral11/Audit.git

[2022-03-17 08:22] yanxiaodi commented on #11978
I think there is something wrong when adding the module to the current solution. Some references are missing in the module project.

[2022-03-17 08:52] berkansasmaz commented on #11968
The reason for the problem we are having is the version of the project we downloaded is `5.2.0-rc-1`, but the version of the ABP CLI is `5.1.4`, so the `abp install-libs` command does not automatically execute during the create a new solution.

**Solution:**
For `*.*.*-rc-*` versions, download the pre-release version of the ABP CLI

`dotnet tool update -g Volo.Abp.Cli --prerelease`

---

Closing t

[2022-03-17 08:52] #11968 closed, assigned to nobody

[2022-03-17 10:10] gterdem opened #11987 "eShopOnAbp: Midware re-route enhancement for microservices"
We have decided to keep ocelot as api-gatway for _development with tye_ environment.

In order to keep consistancy we need to make it working without using kubernetes library or service locator.

Since we are using proxies for service location we decided to manipulate the routing as:
application -> api/product -> gateway -> **ms**/api/product -> api/product (url rewrite)

[2022-03-17 10:12] gterdem commented on #11670
Possible solution without using service locator or kubernetes library: https://github.com/abpframework/abp/issues/11987

[2022-03-17 10:16] md-yilmaz commented on #11955
i've solved the problem, friends.

The module is in the Presentation Layer.the cs folder is named after me : SampleBlazorModule.cs is in this

the problem was solved by adding the following lines to the public override void ConfigureServices (ServiceConfigurationContext context) method.

 Configure<AbpAuditingOptions>(options =>
 {
 options.IsEnabled = true;
 options.EntityHistorySelectors.AddAllE

[2022-03-17 10:37] GerardoGrecoPorini opened #11988 "Publish and subscribe event with Distributed Event Bus Azure Integration."
We're trying your framework especially the Distributed Event Bus Azure Integration. I created two projects: the first one publish an event throught the `PublishAsync` Method; the second one subscribes to the event via the `IDistributedEventHandler<TEvent>` interface.

When an event is published from the first project, it is consumed by the second project, but also by the first project.
I'd like to

[2022-03-17 10:38] malikmasis commented on #11972
The last decision: Continue via enum structure

[2022-03-17 10:50] gterdem commented on #11841
There is a problem related with RabbitMq Queue not being created when microservice is started. This prevents the handling of the ApplyMigrationEto as well that ends up with not migrating database for microservices.

This should not be a problem after https://github.com/abpframework/eShopOnAbp/pull/90 merged and we can continue working on docker-compose.

[2022-03-17 11:19] hikalkan opened #11989 "Announcement of plan to replace the IdentityServer"
## Background

### What's the current situation

ABP uses **IdentityServer4** to add **OAuth server** features as built-in in the server-side. We use it for;

* Single sign-on, OpenIdConnect (authorization code and hybrid flow) logins in tiered, Angular, Blazor, and Microservice solutions.
* Client-credential authentication for machine-to-machine communication (including inter-microservice REST AP

[2022-03-17 11:21] hikalkan commented on #7221
Hi all,

I've created an announcement for this topic. You can continue to conversation there if you like: https://github.com/abpframework/abp/issues/11989

[2022-03-17 11:21] #7221 closed, assigned to hikalkan

[2022-03-17 11:39] CherryGoose opened #11990 "Tiered project Theme bug?"
Im trying to add new theme to my tiered solution. when i try to switch between them web prroject switches fine but identity stays as it was. What is the problem with? i have replicated the issue https://github.com/CherryGoose/ABPTEST. line to change the themes in appsettings web and themes are in theme project.

[2022-03-17 11:53] vijay2358 commented on #7221
Hi Abpframework/Abp,

Can you provide personal email address? I want contact you for business
info

On Thu, Mar 17, 2022 at 7:21 AM Halil İbrahim Kalkan <
***@***.***> wrote:

--

Best Regards,

*Vijaya Nallala*

*(630) 779-0982*

[2022-03-17 12:02] hikalkan commented on #7221
@vijay2358 please write to info@abp.io I can see emails coming here. Thanks.

[2022-03-17 16:50] CherryGoose commented on #11990
UPD, found out what the problem was. You should write confing in both identity and web for them to correctly aply theme

[2022-03-17 16:50] #11990 closed, assigned to nobody

[2022-03-17 18:02] gterdem commented on #11948
Exactly. _Host folder_ contains sample runnable application for you to run and test.

I had to check this explicitly and you are right. **Making a single transaction using multiple databases** is a different subject that is related with DBMS. Since ABP UnitOfWork is not coupled with db providers, it doesn't quarantee transaction between multiple and/or various db providers.

As a sample, consider

[2022-03-17 22:49] johan-developer opened #11993 "Article outdated"
### Documentation

This article now not found:

https://github.com/abpframework/abp/blob/dev/docs/en/Community-Articles/2020-08-31-Adding-User-Navigation-In-Suite/POST.md

[2022-03-18 03:09] thanhtai9606 opened #11995 "MinIO API request https not working"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **5.1*.
* Your **Angular** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Y

[2022-03-18 03:17] maliming commented on #11995
hi

This doesn't seem to be related to abp?

[2022-03-18 03:34] thanhtai9606 commented on #11995
No, I not think it. When I used it working

[code]
But default Volo.Minioxx. It not working
 [https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BlobStoring.Minio/Volo/Abp/BlobStoring/Minio/MinioBlobProvider.cs](url)
[code]

[2022-03-18 03:34] thanhtai9606 commented on #11995
How can I modify it??

[2022-03-18 04:56] maliming commented on #11995
You can try to override the `GetMinioClient` method.

https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BlobStoring.Minio/Volo/Abp/BlobStoring/Minio/MinioBlobProvider.cs#L95

[2022-03-18 06:23] thanhtai9606 commented on #11995
I already tried override minio and update new Minio latest. But I get this error
[code]
I think error is minio already installed in Volo.Abp.BlobStoring.Minio
in package
[code]
But still not working too!!

[2022-03-18 06:24] maliming opened #11999 "Investigate and analyze the OpenIdDict."
https://github.com/abpframework/abp/issues/11989

[2022-03-18 06:27] thanhtai9606 commented on #11995
[code]
this is override GetMinioClient with latest Minio in Domain project but get error above??

[2022-03-18 06:30] albutta commented on #11989
Any intention of using password less authentication

[2022-03-18 06:40] maliming commented on #11995
Can you set the breakpoint to confirm your `MyMinioBlobProvider` is working?

[2022-03-18 06:52] thanhtai9606 commented on #11995
Yes it working fine. I passed to return client. But still error!
I already tried it with sample Minio in 3.11.3 error too.
But when move to higher 4.0.0 it sample working
[https://i.imgur.com/r57OOxl.png](url)

[2022-03-18 06:57] maliming commented on #11995
ok, You can use the higher version in your project.
We will upgrade it later.

https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/framework/src/Volo.Abp.BlobStoring.Minio/Volo.Abp.BlobStoring.Minio.csproj#L18

[2022-03-18 07:23] thanhtai9606 commented on #11995
I think, I will create minio with no SSL to use this feature. Thank for your help!!

[2022-03-18 07:46] hikalkan commented on #11989
@albutta we haven't planned it as a reusable library. This article may help you: https://community.abp.io/posts/implementing-passwordless-authentication-with-asp.net-core-identity-c25l8koj

[2022-03-18 07:49] enisn opened #12007 "CMS Kit - Error while adding blogpost"
Uncaught TypeError: Class constructor Dl cannot be invoked without 'new'

![image](https://user-images.githubusercontent.com/23705418/158958763-9174465f-4086-41f3-bf91-4793b8b8d74d.png)

[2022-03-18 08:03] #11972 closed, assigned to gterdem, malikmasis

[2022-03-18 08:05] maliming commented on #12007
Duplicate of #11971

[2022-03-18 08:05] #12007 closed, assigned to enisn

[2022-03-18 10:14] gizemmutukurt opened #12014 "Unable to run the project after the Project is created with PostgreSQL"
**Version:** `5.2.0-rc.1`
**Problem Definition:**  The project was created by selecting the database PostgreSQL and the project was tried to be run and an error was given when DbMigrator was run.

![image](https://user-images.githubusercontent.com/99716457/158984509-164dfa83-b1a9-40e8-80fc-166efbda8179.png)

[2022-03-18 10:17] maliming commented on #12014
This should be working in rc2.

https://github.com/abpframework/abp/pull/11871

[2022-03-18 10:17] #12014 closed, assigned to nobody

[2022-03-18 12:41] leastprivilege commented on #11989
Probably a wise decision.

I would recommend, that this time you financially support the FOSS you are incorporating into your commercial product.

Otherwise you might be in the same situation again at some point.

[2022-03-18 13:38] ChrisMir commented on #11627
Bumped against the same issue with the quickstart tutorial. After restarting the tutorial and using yarn instead of npm, everything seems working fine.

[2022-03-18 13:56] GerardoGrecoPorini opened #12016 "API with inheritance in the model"
We're trying to create a new API with inheritance in the model. The standard OpenApi supports this scenario using a discriminator, it can possible to achieve this result with ABP framework?

[2022-03-18 17:21] hikalkan commented on #11989
Thanks @leastprivilege for your thoughts on that. We are thinking about it. We are ready to support open source projects. We've [done it for Blazorise](https://github.com/Megabit/Blazorise#supporting-blazorise) before.

[2022-03-18 20:08] bxjg1987 commented on #11948
So, if I want to develop a micro service, I should use the ABP application project template instead of the module project template, right? If so, each microservice has independent basic information, such as user role settings, etc, This does not seem to be a good way.

In addition, in an application, establishing an independent database for the module makes the transaction processing difficult bec

[2022-03-18 21:38] jhulbertpmn commented on #263
Very interested in this as well.
I did a little test replacing the default clock service in abp with nodatime implementations and had some success but there were parts which felt a little hacky. It seems like there may need to be some changes to the timing interfaces in abp to implement this fully

[2022-03-19 13:49] hikalkan opened #12018 "OpenIdDict Integration: New Volo.Abp.OpenId module"
This is a replacement for https://github.com/abpframework/abp/tree/dev/modules/identityserver that is implemented using the OpenIdDict library.

[2022-03-19 13:51] hikalkan opened #12019 "OpenIdDict Integration: New Volo.Abp.Account.Web.OpenId package"
The [Account module](https://docs.abp.io/en/abp/latest/Modules/Account) has an IDS integration package: https://github.com/abpframework/abp/tree/dev/modules/account/src/Volo.Abp.Account.Web.IdentityServer
We will also build an OpenIdDict integrated package.

[2022-03-19 13:53] hikalkan opened #12020 "OpenIdDict Integration: API access control and the IdentityModel packages"
ABP Framework has some packages ([Volo.Abp.IdentityModel](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.IdentityModel), [Volo.Abp.Http.Client.IdentityModel](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.Http.Client.IdentityModel), [Volo.Abp.Http.Client.IdentityModel.Web](https://github.com/abpframework/abp/tree/dev/framework/src/Volo.Abp.Http.Client.Iden

[2022-03-19 14:00] hikalkan opened #12021 "KeyCloak Integration for eShopOnAbp project"

[2022-03-19 14:01] hikalkan opened #12022 "Use OpenIdDict within the single-layer and module startup templates (instead of IDS)"
- [x] Single-layer https://github.com/abpframework/abp/pull/12624/commits/a86187393554d4b73617a2a698a5440e3b3bfa30
- [x] Module https://github.com/abpframework/abp/pull/12624/commits/a86187393554d4b73617a2a698a5440e3b3bfa30

[2022-03-20 03:05] lemchen commented on #10411
#9905 solved this problem , don't forget add web project url to HttpApi.Host CorsOrigins in appsettings.json

[2022-03-20 09:25] mhdbaz opened #12024 "IdentitySecurityLogDto Missing type map configuration or unsupported mapping. 5.2.0-rc1"
2022-03-20 12:20:19.754 +03:00 [ERR] Error mapping types.

Mapping types:
Object -> List`1
System.Object -> System.Collections.Generic.List`1[[Volo.Abp.Identity.IdentitySecurityLogDto, Volo.Abp.Identity.Pro.Application.Contracts, Version=5.2.0.0, Culture=neutral, PublicKeyToken=null]]
AutoMapper.AutoMapperMappingException: Error mapping types.

Mapping types:
Object -> List`1
System.Object -> Syst

[2022-03-20 10:49] clinically-au opened #12025 "Request: DistributedEventHander.PublishAsync - automatically add CurrentTenant.Id if Eto implements IMultiTenant"
Currently, if an ETO implements IMultiTenant, the tenant is automatically changed to the specified tenant when HandleAsync is called. This is very helpful.

At the moment, the TenantId needs to be set manually for the Eto.

Would you consider the distributed event bus automatically adding the CurrentTenant ID if the ETO implements IMultiTenant?

I suppose the other option would be for me to implem

[2022-03-20 18:05] dicksonkimeu commented on #11989
@leastprivilege thought you had some good news

[2022-03-20 20:05] dejancg opened #12028 "Custom interceptor not being executed for an app service method"
**ABP version**: 4.4

--

Even though there is no official documentation about this, I tried to add an interceptor to one of my app service methods. Although I can confirm the interceptor has been added to the list of interceptors via `IOnServiceRegistredContext.Interceptors` property, it is not being used.

(BTW: I want to try to get around the problem described here: https://github.com/aspnetboi

[2022-03-20 21:31] dejancg commented on #12028
Silly me. app services are not constructed via interfaces, but directly via implementations.
If I mark the method I want to intercept `virtual`, then it works fine.

[2022-03-20 21:31] #12028 closed, assigned to nobody

[2022-03-21 00:28] maliming commented on #12024
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-03-21 01:15] maliming commented on #12025
Seems reasonable.

[2022-03-21 01:20] maliming commented on #11999
Moved to internal tracking.

[2022-03-21 01:20] #11999 closed, assigned to nobody

[2022-03-21 07:00] hikalkan commented on #11959
Globally configuring the default value is a good idea. I will think about side effects on that.

[2022-03-21 07:30] #11995 closed, assigned to maliming

[2022-03-21 07:35] slarkerino opened #12030 "How to use application configuration object extensions"
I have noticed there is a objectExtensions field in the application-configuration API returns. I want to have some extraproperties such as tenant phone number or tenant address in the application-configuration API. How can I achieve that?
![image](https://user-images.githubusercontent.com/7014849/159220255-359aa73d-d775-4866-b86f-f2bfe0f12ee0.png)

[2022-03-21 07:51] s4lvo commented on #11989
https://github.com/abpframework/abp/issues/7221#issuecomment-1063178681

_> Migrate to Duende IDS, which is a paid library for who have more than $1M revenue. If we do that, we will try to make a deal with Duende software to include their license into ABP Commercial license price. But, for open source, their licensing is still a problem. What do you think about that?_

Could you try to find a solu

[2022-03-21 08:16] enisn commented on #12022
This issue will be able to be done after [#9448](https://github.com/volosoft/volo/issues/9448)

[2022-03-21 08:43] gerryge commented on #8620
Any updates?

[2022-03-21 11:00] hikalkan commented on #11989
@s4lvo we've made a video conference with Duende's founders, thanks to them for listening to us. We listened to each other and discussed the options. However, we couldn't make a deal since our licensing models and pricing are so different.

We will try to provide a guide for the migration, however these projects are not providing same set of features, remember that.

[2022-03-21 11:38] hikalkan commented on #921
Nowadays, we are working on Keycloak integration possibilities in parallel to the OpenIddict integration reseach.

[2022-03-21 11:51] tvddev commented on #9997
@maliming @hikalkan - Is there any progress on this?

[2022-03-21 12:43] maliming commented on #9997
hi

No progress at the moment, this is mostly Blazor WASM related.

[2022-03-21 14:04] berkansasmaz opened #12034 "Invalid"

[2022-03-21 14:05] #12034 closed, assigned to nobody

[2022-03-21 19:51] gterdem commented on #12030
See [Object Extensions docs](https://docs.abp.io/en/abp/latest/Object-Extensions).

[2022-03-21 19:57] gterdem commented on #11987
![image](https://user-images.githubusercontent.com/25867/159353646-4f7110fb-6329-460f-a4a1-f0ce54f55935.png)

Didn't resolve the problem, still in redirection loop.

[2022-03-21 23:06] CaglarMacha opened #12035 "How to Add Custom Claim to Jwt"
Hello,
First of all, I would like to state that I am inexperienced in the Abp framework. In addition that I am a freshman in the software world. Taking everything into account my problem may be easy, unnecessary, or top-hamper for you. Coming to the matter,  I would like to add a new claim to the payload of the jwt token. Can you help me with how to do it? Can you share documents or examples?

[2022-03-21 23:59] Trojaner commented on #12035
See https://github.com/abpframework/abp/issues/8073#issuecomment-799999030

[2022-03-22 03:38] #11239 closed, assigned to nobody

[2022-03-22 03:38] #11241 closed, assigned to nobody

[2022-03-22 03:38] zhongfang2018 opened #12036 "FeatureDefinitionProvider: Exception Message has a wrong word"
* Your **ABP Framework version**.  5.1.4
* Your **User Interface** type Blazor.Server
* Your database provider(EF Core)
* Exception message and **stack trace** if available (check the logs).
[code]
* Steps needed to **reproduce** the problem.
It es feature group conflit, not permission.

[2022-03-22 04:07] zhongfang2018 opened #12037 "Feature Setting UI will not display the description text while the ValueType is ToggleStringValueType"
* Your **ABP Framework version**. 5.1.4.
* Your **User Interface** type Blazor.Server
* Your database provider(EF Core)
* Exception message and **stack trace** if available (check the logs).
only display a checkbox with the text of L("IsEnabled"),
but L("Change.PointPay.Desc") is missing.
* Steps needed to **reproduce** the problem.
[code]

[2022-03-22 05:01] #12036 closed, assigned to realLiangshiwei

[2022-03-22 05:50] #12037 closed, assigned to maliming

[2022-03-22 06:31] enisn opened #12042 "Provide Global Features in application configuration"
Currently, Global Features can only be accessible in C#,

They should be accessed from javascript and angular

[2022-03-22 06:54] zhongfang2018 commented on #12037
Oh, no. I am a commercial user. I created application with ABP suite.
I need't to do something to setting ui.

[2022-03-22 06:55] zhongfang2018 commented on #12037
Oh, no. I am a commercial user. I created application with ABP suite.
I need't to do something to setting ui.

[2022-03-22 07:04] maliming commented on #12037
see https://github.com/abpframework/abp/pull/12040

[2022-03-22 08:30] CaglarMacha commented on #12035
Thank you so much. It's worked. My problem was solved thanks to your support.

[2022-03-22 08:30] #12035 closed, assigned to nobody

[2022-03-22 08:51] totpero opened #12044 "Set 'data-check-form-on-close' after modalClass init"
Hi,
I have this scenario:

1.  I use modal with script files like [this](https://docs.abp.io/en/abp/latest/UI/AspNetCore/Modals#modals-with-script-files)
2. In this modal I use `Select2 `input;
3. In this modal I do some logic and I append value to `Select2`:
[code]
4. But because the check  [data-check-form-on-close](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.M

[2022-03-22 09:17] enisn opened #12045 "Update Features Docs"
Add `[RequiresFeature]` attribute usage limitations in [Features documentation](https://docs.abp.io/en/abp/latest/Features#requiresfeature-attribute)

If a method is decorated with this attribute and it's called directly from code, feature check won't be executed.

---

_according to [this question](https://support.abp.io/QA/Questions/2774/RequireFeature-dit-not-work)_

[2022-03-22 11:07] #11427 closed, assigned to mahmut-gundogdu, malikmasis

[2022-03-22 11:17] #12042 closed, assigned to maliming

[2022-03-22 12:04] zhongfang2018 commented on #12036
the same error in [https://docs.abp.io/en/abp/latest/Features](url)

Changing Features Definitions of a Depended Module
A class deriving from the FeatureDefinitionProvider (just like the example above) can also get the existing permission definitions (defined by the depended [modules](https://docs.abp.io/en/abp/latest/Module-Development-Basics)) and change their definitions.

Example: Manipulate a

[2022-03-22 12:09] gterdem opened #12046 "eShopOnAbp: Angular admin app improvements"
https://github.com/abpframework/eShopOnAbp/pull/92 is merged since it was blocking some of the improvements.

Please create a new PR based on @muhammedaltug review at https://github.com/abpframework/eShopOnAbp/pull/92#pullrequestreview-917095362.

[2022-03-22 13:01] apt-dev commented on #11069
For me, I had to install a NuGet package by inserting this line to proj.sc file `<PackageReference Include="Hangfire.SqlServer" Version="1.7.28" />` then in my ConfigureServices method in my module.cs I will then resolve these two lines:
`var configuration = context.Services.GetConfiguration();
        Hangfire.GlobalConfiguration.Configuration.UseSqlServerStorage(configuration.GetConnectionString

[2022-03-22 13:30] awahbahplana opened #12047 "Error after Update To 5.1.4"
An exception was thrown while activating Volo.Abp.ObjectMapping.DefaultObjectMapper`1[[Volo.Abp.Identity.AbpIdentityDomainModule, Volo.Abp.Identity.Domain, Version=5.1.4.0, Culture=neutral, PublicKeyToken=null]] -> Volo.Abp.AutoMapper.AutoMapperAutoObjectMappingProvider`1[[Volo.Abp.Identity.AbpIdentityDomainModule, Volo.Abp.Identity.Domain, Version=5.1.4.0, Culture=neutral, PublicKeyToken=null]] -

[2022-03-22 13:48] AdemAygun opened #12049 "InnerException doesn't seem"
* Your **ABP Framework version**. 4.4.4
* Your **User Interface** Angular
* Your database provider(EF Core)
* Exception message and **stack trace** if available (check the logs).
[code]

[code]

Both AuditLog and failed hangfire jobs doesn't contain inner exceptions. I have to look at the log file to see the complete error.

[2022-03-22 19:01] johan-developer opened #12050 "Chat for blazor Wasm"
Is planned enable Chat module for Blazor Wasm.

Thank you,

[2022-03-22 22:02] gterdem opened #12051 "eShopOnAbp: Switch Ocelot to YAG"
Switch ocelot to YARP as a gateway in the development environment.

[2022-03-22 22:03] gterdem commented on #11987
We have decided to drop ocelot support and use YARP.

[2022-03-22 22:03] #11987 closed, assigned to gterdem

[2022-03-22 22:07] gterdem commented on #12047
In what version did you update your application to 5.1.4? Did you follow the [migration guide](https://docs.abp.io/en/abp/5.0/Migration-Guides/Abp-5_0) if you have updated from 4.x.x?

[2022-03-22 22:10] gterdem commented on #12049
Can you try adding:
[code]

[2022-03-22 22:14] gterdem opened #12052 "Update Community Article - How to Add the User Entity - Cancelled"
Edit: Cancelled

[2022-03-22 22:18] gterdem commented on #12052
I have misunderstood this issue. Closing it.

[2022-03-22 22:18] #12052 closed, assigned to nobody

[2022-03-22 22:20] gterdem commented on #11993
This article is no longer relevant and outdated. That is why it has been removed.

[2022-03-22 22:22] gterdem commented on #12016
Can you explain more? What inheritance is in the model? What exactly does OpenApi support? Do you mean **swagger**?

[2022-03-22 22:25] gterdem commented on #11988
The event handling point is `IDistributedEventHandler<TEvent>`. Does your first application implement `IDistributedEventHandler<TEvent>`? If not, it shouldn't be handling the published event.

If this behavior occurs, can you create a public repository that reproduces this behavior and share it with us so we can examine it?

[2022-03-23 00:28] ttpp123 commented on #11916
Hi

I tried to join ABP Community in discord. But I got "Unable to accept invite".  Can someone provide a valid link? Thanks

![image](https://user-images.githubusercontent.com/6539279/159598213-442268c0-5a96-4860-83e7-4a47c4a8e7f3.png)

[2022-03-23 00:31] maliming commented on #12036
See https://github.com/abpframework/abp/pull/11932

[2022-03-23 01:10] rqx110 opened #12053 "Pass the cancellationToken to EF Core/MongoDb using the GetCancellationToken helper method"
I saw some codes in the `Module` are not pass the cancellationToken to EF Core/MongoDb using the GetCancellationToken helper method, e.g.
https://github.com/abpframework/abp/blob/5a8b46839700c458f9b5c1b710f4c2e532c4c383/modules/identity/src/Volo.Abp.Identity.EntityFrameworkCore/Volo/Abp/Identity/EntityFrameworkCore/EfCoreOrganizationUnitRepository.cs#L140

but some code passed, e.g.
https://github

[2022-03-23 02:11] maliming commented on #12044
hi

Can you share a template project to reproduce this?

[2022-03-23 05:36] awahbahplana commented on #12047
it was V 5 there is no change I need to add.
Now I Update 5.1.3 to 5.1.4

[2022-03-23 05:38] #12053 closed, assigned to realLiangshiwei

[2022-03-23 06:08] enisn commented on #11916
![image](https://user-images.githubusercontent.com/23705418/159634626-2511e1f9-d9fc-42a1-8c36-b54a7cda7853.png)
Links shouldn't be expired, but I'm creating new one since you can't join

Try this one: https://discord.gg/VSC7ZkjZpN

[2022-03-23 07:16] md-yilmaz opened #12055 "it does not log // are there any friends who can help"
Hello Friends, my presentation layer (Web) is as follows 57 and 61. even though I added the logging code between the lines, it doesn't log. dec does not log.

I have the same problem in another project that is also installed on Github
link:  https://github.com/md-yilmaz/Audit/blob/320d937b6b0d86773f516f6154beb37f2ba4a3ab/src/Sample.Blazor/SampleBlazorModule.cs#L97-L101

I would like to ask you to

[2022-03-23 07:58] #11949 closed, assigned to malikmasis

[2022-03-23 09:16] maliming commented on #12055
Do you add the `UseAuditing` middleware?

https://docs.abp.io/en/abp/latest/Audit-Logging#useauditing

[2022-03-23 09:26] md-yilmaz commented on #12055
Hello
Master, it doesn't log#12055, thank you for your answer to the transaction.

I've already reviewed the link you sent many times, I've already done it according to it, but I'm probably missing somewhere, so it doesn't log in, even I put the github project link.

I would like you to help me solve this problem.
Syg.

[2022-03-23 09:38] awahbahplana commented on #12047
It Causes From seeding On First Migration

[2022-03-23 10:27] awahbahplana opened #12058 "in Create Function of Unit Test"
in Create Function of Unit Test
Code Appear like this

   var result = await _xxxRepository.FindAsync(c => c.%% assert - query - property %% == serviceResult.%% assert - query - property %%);

[2022-03-23 11:09] md-yilmaz opened #12059 "sort the column in the table"
Hi I have Code, Field and Status Fields in almost all of my tables. Therefore, instead of writing for each entity that I will create these 3 fields, I created a code as follows.

public class BaseEntity : FullAuditedAggregateRoot<Guid>
{
    [Column(Order = 1)]
    public string Kod { get; set; }
    [Column(Order = 2)]
    public string Ad { get; set; }
    [Column(Order = 3)]
    public bool Dur

[2022-03-23 12:06] totpero commented on #12044
Ok

[2022-03-23 12:54] garsiv1932 opened #12060 "Problem Saving and reading entity from extended user"
Documentation
Please check the official documentation before asking questions: https://docs.abp.io/

GitHub Issues
GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

Your **ABP Framework version: 5.1.
Your User Interface type (Angular/MVC/React... etc.) if the issue is related to a spe

[2022-03-23 14:31] DonVliet commented on #12059
Have you tried starting with Order=2

public class BaseEntity : FullAuditedAggregateRoot
{
[Column(Order = 2)]
public string Code { get; set; }
[Column(Order = 3)]
public string Named { get; set; }
[Column(Order = 4)]
public bool Situation { get; set; }
}

Alternatively you could edit the migration code created after you have used the add-migration command

Don

[2022-03-23 14:41] GerardoGrecoPorini commented on #12016
I try to explain with a semplification of our model:

[code]

[code]

[code]

[code]

We implement a PatientAppService who extend ABP CrudAppService.
In PatientAppService we create a new method with this signature: `public async Task<IEnumerable<ExamBaseDto>> AppendExamAsync(Guid id, IEnumerable<ExamBaseDto> newExams)`.
When the generated API was called (we call the API with a payload which contai

[2022-03-23 14:48] GerardoGrecoPorini commented on #11988
The application did not implement `IDistributedEventHandler<TEvent>`.

I created a repo with an example: https://github.com/GerardoGrecoPorini/ABP.DistributeEventBusTest.
In this example I have one topic (topic-1) with two subscribers (pub-1 and sub-1). The application have this configuration:

[code]

When send message from the application the message is delivered on Azure Service Bus in subscrip

[2022-03-23 14:49] berkansasmaz commented on #12059
This issue does not appear to be related to ABP.

You can still use @DonVliet's answer or the [fluent API](https://docs.microsoft.com/en-us/ef/core/modeling/entity-properties?tabs=fluent-api%2Cwithout-nrt#column-order).

[code]

**Note:** You can use [stackoverflow](https://stackoverflow.com/questions/tagged/abp) for such questions specific to your application.

[2022-03-23 14:49] #12059 closed, assigned to nobody

[2022-03-23 14:55] hikalkan opened #12061 "Create issue templates"
https://github.com/openiddict/openiddict-core/issues/new/choose

[2022-03-23 15:01] berkansasmaz commented on #12058
Could you please give some more details?

[code]

[2022-03-23 15:07] #11327 closed, assigned to nobody

[2022-03-23 18:10] md-yilmaz commented on #12059
Thank you.

[2022-03-23 18:42] gterdem opened #12062 "eShopOnAbp: Cart hover missing image issue"
![image](https://user-images.githubusercontent.com/25867/159772759-16f2218e-db57-445c-a111-c9904287e7fe.png)

[2022-03-23 19:04] md-yilmaz commented on #12055
are there any friends who can help

[2022-03-23 19:07] zhongfang2018 commented on #12037
If I use FreeTextStringValueType, I can see the description in blazor ui.
If I use ToggleStringValueType. I can not see the description in blazor ui.

Is it not a bug for ToggleStringValueType?

[2022-03-23 19:10] BarisGurbuz commented on #12055
I have the same problem with the blazor-server. Abp blazor-server couldn't log with UI but if you trigger API on swagger it is logging.

[2022-03-23 19:14] md-yilmaz commented on #12055
I've done it before. I started the project directly, not in the swagger, and saved it in the diary there. Now I'm writing the same code in the same place it doesn't.

[2022-03-23 19:19] #12051 closed, assigned to gterdem

[2022-03-23 19:27] gterdem opened #12063 "eShopOnAbp: Update Helm charts based with YARP configurations"

[2022-03-23 23:58] h4r7w3l1 opened #12065 "Abp Suite [5.2.0-rc.2] Define property: Enum missing"
* Your version: **5.2.0-rc.2**.
* Your User Interface **MVC**
* Your database provider: **EF Core**
* Exception message and **stack trace** if available (check the logs).

[code]
![Fix VS](https://tlgur.online/d/1fGBcdOI)

* Steps needed to **reproduce** the problem.

Model in suite with [**Enum** object](https://gist.github.com/h4r7w3l1/6de6694d6a0fad157953d06d79fd43e0)

Simple class ENUM of cour

[2022-03-24 00:29] maliming commented on #12037
It will fixed in the next version.

[2022-03-24 02:02] maliming commented on #12055
Maybe related to  https://github.com/abpframework/abp/issues/11682

[2022-03-24 07:35] #12062 closed, assigned to malikmasis

[2022-03-24 07:54] gterdem commented on #11956
duplicate, moved to https://github.com/abpframework/abp/issues/12055

[2022-03-24 07:54] #11956 closed, assigned to nobody

[2022-03-24 08:02] md-yilmaz commented on #12055
i tried my master, but it didn't happen

in the order of my actions
1-dotnet tool update -g Vol.Abp.Cli 2-abp update -n 5.2.0-rc.2

i am sending it in 2 classes at the presentation layer.

    public override void ConfigureServices(ServiceConfigurationContext context)
    {
        var hostingEnvironment = context.Services.GetHostingEnvironment();
        var configuration = context.Services.GetCo

[2022-03-24 08:07] md-yilmaz commented on #11956
https://github.com/Lustral11/Audit.git

[2022-03-24 09:04] AdemAygun commented on #12049
Unfortunately it didn't work.

[2022-03-24 10:22] tianxin8206 opened #12069 "How to commit transactions in a application service."
* Your **ABP Framework version**. 5.1.3
* Your database provider(EF Core/MongoDB) efcore

I need to commit transactions in application service. What should I do?

[2022-03-24 10:35] berkansasmaz commented on #12069
See https://docs.abp.io/en/abp/latest/Unit-Of-Work#savechangesasync

[code]

[2022-03-24 10:39] #11967 closed, assigned to enisn

[2022-03-24 11:04] tianxin8206 commented on #12069
Thank you.I tried it ,but UnitOfWorkManager.Current.SaveChangesAsync didn't solve my exception.
Detail message:
[code]
Exception location:[EfCoreTransactionApi.CommitAsync](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Uow/EntityFrameworkCore/EfCoreTransactionApi.cs#L41)

CancellationTokenProvider.Token value is false.

I used the feign client to

[2022-03-24 11:38] gterdem commented on #12055
@maliming I have made a few tests and this seems to be related to Blazor.Server only.

In my tests on Blazor.Server, audit logs are not saved to the database. When the page is refreshed, changes can be seen to happen to the database. And sometimes this doesn't occur as well.

Audit logging persistence (especially EntityChanges) on the database seems very inconsistent.

This does seem familiar with

[2022-03-24 12:10] ahmadmasoum opened #12070 "Error mapping types IdentitySecurityLog and IdentityUser"
**Your ABP Framework version: 5.1.4**.

**Your User Interface: MVC**

**Your database provider: EF Core**

* Exception message and **stack trace** if available (check the logs).

[code]

[code]
* Steps needed to **reproduce** the problem.

Every time I create a new project I get these errors

Error 1
When trying to register

Error 2
When opening SecurityLogs from account

To fix it I have to manua

[2022-03-24 12:40] berkansasmaz commented on #12069
Thanks for sharing the log, but it doesn't seem to be enough for me to understand the problem. Please provide a [minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) so I can better assist you.

[2022-03-24 14:03] gterdem commented on #12070
Is it a tiered application?

[code]

Is it a commercial template? If so, can you create an issue at https://support.abp.io/QA/Questions?

[2022-03-24 14:04] gterdem commented on #12024
duplicate issue. Follow at https://github.com/abpframework/abp/issues/12070

[2022-03-24 14:04] #12024 closed, assigned to nobody

[2022-03-24 14:41] ahmadmasoum commented on #12070
Yes

I already fixed it
But it's a problem that happens every time I make a new project,
and I'm giving feedback

[2022-03-24 16:35] pjkeukens opened #12072 "datatables-extensions.js - normalizeConfiguration - always adds default dom"
* Abp: 5.1
* UI: MVC
* EF Core
* Steps needed to **reproduce** the problem.
* 1. initialize DataTable using abp.libs.datatables.normalizeConfiguration
* 2. add dom configuration - this leads to duplicate dom

Example configuration:

dataTable = $('#InsurancesTable').DataTable(
        abp.libs.datatables.normalizeConfiguration({
...
           dom: '<"dataTable_filters"f>rt<"row dataTable_footer"<

[2022-03-24 18:57] BekAllaev commented on #11970
Hello. Can I take this issue?

[2022-03-25 00:47] maliming commented on #12070
hi

This is fixed in 5.2-RC2.

[code]

https://github.com/volosoft/volo/pull/9350

[2022-03-25 00:47] #12070 closed, assigned to nobody

[2022-03-25 01:08] maliming commented on #12055
Move to https://github.com/abpframework/abp/issues/11682

[2022-03-25 01:08] #12055 closed, assigned to nobody

[2022-03-25 09:35] pjkeukens commented on #12072
should probably be:

if(!configuration.dom){
configuration.dom = datatables.defaultConfigurations.dom;
}

[2022-03-25 10:35] enisn commented on #11958
Hi @rqx110
Of course, we don't approve this approach, but there were some different and more important things to do, that's why we just used it like that. Eventually, we'll update everything as it should be as a best practice.

If you want to see these changes as soon as possible, PR is always welcome 😉

I absolutely agree with you but there were some special cases that prevents us to use `Microso

[2022-03-25 11:23] gterdem opened #12080 "eShopOnAbp: Remove database migration event handlers"
Since we are using distributed lock for database migrations, we no longer need the base migration event handlers.

[2022-03-25 11:27] gterdem commented on #11958
In my opinion, practically, you can not always build an application with best practices especially when the future of that code piece (say it a module or a feature) is uncertain. So, you aim for the functional PoC and postpone the _long but correct way_. In an iterative way, continuously refactoring the code-base for scalability and maintenance.

I fully agree with @rqx110 about that as an officia

[2022-03-25 11:56] #12080 closed, assigned to malikmasis

[2022-03-25 12:58] #12072 closed, assigned to maliming

[2022-03-25 16:36] sturlath commented on #11856
I'm getting the reverse now with 5.2.rc2 (updating from 5.1.4)

If I remove the '**s**' from flag-icons.min.css this error goes away

[2022-03-25 18:14] Trojaner opened #12089 "Mails from abp.io go to spam"
![image](https://user-images.githubusercontent.com/1809172/160178283-0253fe05-b79e-41a3-b1e0-41f3b87c3273.png)
(Outlook)

[2022-03-25 22:58] OzgulEzgin commented on #12047
Hello, I have the same issue. When I try to access application service for a simple list I get this...
An exception was thrown while activating Volo.Abp.ObjectMapping.DefaultObjectMapper -> Volo.Abp.AutoMapper.AutoMapperAutoObjectMappingProvider -> λ:Volo.Abp.AutoMapper.IMapperAccessor -> λ:Volo.Abp.AutoMapper.MapperAccessor.
![ErrorOnVolo](https://user-images.githubusercontent.com/10051037/160212

[2022-03-26 01:24] rqx110 commented on #11958
since https://github.com/abpframework/abp/issues/12080 removes these handlers. I close this issue.

[2022-03-26 01:24] #11958 closed, assigned to nobody

[2022-03-26 03:27] realLiangshiwei commented on #11856
@sturlath Please try `dotnet clean`

[2022-03-26 03:43] tianxin8206 commented on #12069
I created a new project.I ported the code to the new project,but I found that the new project didn't implement [EfCoreTransactionApi.CommitAsync](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EntityFrameworkCore/Volo/Abp/Uow/EntityFrameworkCore/EfCoreTransactionApi.cs#L41).Under what circumstances will the CommitAsync method be executed?

[2022-03-26 03:55] maliming commented on #12089
@ismcagdas  Our previous emails to the developers were also marked as spam.

[2022-03-26 08:55] DonVliet opened #12090 "Community Post Request: Use Blazor in an existing ASP.NET MVC application"
Is it possible to start adding Blazor pages to my existing MVC app?

If so, are there any guidelines that someone could share?

Don

[2022-03-26 13:26] sturlath commented on #11856
@realLiangshiwei no that does not solve it. I deleted obj/bin and after updating (through Suite "all packages) it will not work without 's'...

I see that I´m also getting this error below . There isn´t any github.**min**.css created. (I deleted the lib folders and re-ran `abp install-libs` that created the folder)

[code]

Could this be somehow connected to my yarn.lock files being with a 5.1.3 v

[2022-03-26 14:07] sturlath opened #12091 "5.2.0-rc2 error: Autofac.Core.DependencyResolutionException Cannot resolve parameter 'Volo.CmsKit.Public.GlobalResources.IGlobalResourcePublicAppService"
After updating  from 5.1.4 to 5.2.0-rc2 and get this exception in the public MVC page.

[code]

This is the code where it happens...

[code]

* Your **ABP Framework version**. 5.2.0-rc2 **commercial**
* Your **User Interface** MVC
* Your database provider EF Core

[2022-03-26 14:22] PMExtra opened #12092 "Logger dependency injection in xUnit test project."
relate #3012

I want to make all loggers in my project works with xUnit.

That means I need to register `Serilog` to the `ServiceCollection`.

But there is a trouble about class `AbpIntegratedTest`. It will call the all initialization methods from constructor. And `ServiceProvider` will be built from constructor too.

As a well-known, the derived class constructor will be executed after the base c

[2022-03-26 14:28] PMExtra commented on #12092
![image](https://user-images.githubusercontent.com/11289158/160243944-b7481b2e-be3a-42df-b45d-5eb3f632ae48.png)
This is the final effect.

[2022-03-26 14:42] PMExtra commented on #12092
Notice that I think we don't need to use async wrapper of Serilog. Because the xUnit already had a buffer queue. (ref `Xunit.SDK.MessageBus` class)

[2022-03-26 15:05] berkansasmaz commented on #11846
Duplicate of #12060

[2022-03-26 15:05] #11846 closed, assigned to nobody

[2022-03-26 15:30] berkansasmaz commented on #12060
See https://github.com/abpframework/abp/issues/12014

---

Can you check to please [here](https://support.abp.io/QA/Questions/2733)?

[2022-03-26 21:15] #11598 closed, assigned to nobody

[2022-03-26 21:32] #11347 closed, assigned to nobody

[2022-03-26 23:18] righen commented on #11549
@enisn @hikalkan Can you assign the issue to me?

[2022-03-26 23:25] enisn commented on #11549
I've assigned to you @righen , make sure you've read the contribution guide before sending a pull request. Good luck 🤞

[2022-03-27 12:27] maliming commented on #12092
We can consider adding a new package, which depends on XUnit., and create a new base class to implement the above features.

[2022-03-27 15:43] VAllens commented on #11357
Add two lines of code to the `Main` method:
[code]
The problem is gone.

[2022-03-28 01:26] maliming commented on #11393
See https://github.com/abpframework/abp/pull/12026

[2022-03-28 01:26] #11393 closed, assigned to nobody

[2022-03-28 06:28] #11960 closed, assigned to demirmusa

[2022-03-28 06:29] volethanh opened #12095 "How to set timezone in Hangfire background worker"
Currently I don't see any document in docs.abp.io about setting Timezone in BackgroundWorker Hangfire. How can I do that in abp project ?

Thanks

[2022-03-28 06:31] berkansasmaz commented on #12069
https://docs.abp.io/en/abp/latest/Unit-Of-Work#conventions

[2022-03-28 06:36] maliming commented on #12095
hi

I think this is related to `Hangfire`, You can direct use its API.

[2022-03-28 06:56] volethanh commented on #12095
Hi @maliming ,

I think it is related to Abp because `Hangfire` set the Timezone when we call method `RecurringJob.AddOrUpdate`

<img width="796" alt="Screen Shot 2022-03-28 at 1 51 08 PM" src="https://user-images.githubusercontent.com/46510130/160342483-9f35a29a-a07d-4864-b109-aa983af342bf.png">

But when I looking for it in the sourcecode Abp framework, I only see this

<img width="1154" alt="Sc

[2022-03-28 06:58] maliming commented on #12095
ok, I see, I will add some options to handle this.

[2022-03-28 07:00] #11215 closed, assigned to enisn

[2022-03-28 07:00] totpero commented on #12044
Hi @maliming . I have created one demo project with this scenario: https://github.com/totpero/abp-test.
On the first page you have Test button.
Press the button and one modal will show.
After no modification in interface, if you press Cancel button you will see the [AreYouSureYouWantToCancelEditingWarningMessage](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI

[2022-03-28 07:05] #12045 closed, assigned to nobody

[2022-03-28 07:14] gterdem opened #12097 "eShopOnAbp: Admin app should use SSO"
Admin app is using `Resource Owner Password` flow as default. Update it to suggested `Authentication Code` flow to use SSO.

[2022-03-28 09:23] tianxin8206 commented on #12069
Thank you very much for your help.

[2022-03-28 09:23] #12069 closed, assigned to nobody

[2022-03-28 09:25] #12097 closed, assigned to gterdem

[2022-03-28 09:26] enisn opened #12098 "CMS Kit - Error while saving BlogPost when tags feature is disabled"
Uncaught TypeError: $tagsInput.val() is undefined
    submitEntityTags https://localhost:44349/Pages/CmsKit/BlogPosts/update.js?_v=637840542805000200:67
    success https://localhost:44349/Pages/CmsKit/BlogPosts/update.js?_v=637840542805000200:43

![image](https://user-images.githubusercontent.com/23705418/160368580-8783d81b-2db1-4b02-8327-1490463d8000.png)

[2022-03-28 11:30] #12091 closed, assigned to enisn

[2022-03-28 13:37] EngincanV commented on #11839
It's already done. (https://github.com/volosoft/volo/pull/8791)

![image](https://user-images.githubusercontent.com/43685404/160410056-89446552-73cc-4804-9497-875cc0f8bed8.png)

[2022-03-28 17:01] simix-alessandrokantousian opened #12112 "Configure MongoDB part in Docs/VoloDocs"
### Update Documentation

- Creating the configuration part and how to save MongoDB collection to Docs/VoloDocs.

[2022-03-28 17:38] firminoeducbank opened #12113 "Rabbitmq Disposed connect"
Hi, we have a application have many itens in queue, after many itens in queue and past one hour (+/-) this error ocurred

{
  "Depth": 0,
  "ClassName": "System.ObjectDisposedException",
  "Message": "Cannot access a disposed object.\nObject name: 'RabbitMQ.Client.Impl.AutorecoveringModel'.",
  "Source": "RabbitMQ.Client",
  "StackTraceString": "   at RabbitMQ.Client.Impl.AutorecoveringModel.Basic

[2022-03-29 00:25] maliming commented on #12113
hi

Can you share the full error stack?

[2022-03-29 04:16] thanhtai9606 opened #12116 "ExternalLdapLogin"
I already created external Ldap login working fine but
It just working with only first person. Second person get error here!

`AbpIdentityResultException: A user with this login already exists.`
this my set up code

[code]

[2022-03-29 04:52] realLiangshiwei commented on #12116
Can you provide a project to reproduce?

[2022-03-29 05:34] #11487 closed, assigned to nobody

[2022-03-29 05:46] zr53722 opened #12117 "Support efcore 6 compilation model startup"
https://docs.microsoft.com/zh-cn/ef/core/what-is-new/ef-core-6.0/whatsnew#compiled-models

The latest version does not support compiled models

Extraproperties will report an error

When the entity reaches 200, the first access becomes particularly slow

[2022-03-29 05:57] realLiangshiwei commented on #12117
https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-6.0/whatsnew#limitations

ABP uses global query filters, and it's only the first time slow, I don't think it's necessary.

[2022-03-29 06:05] zr53722 commented on #12117
我当时也认为没必要，但是当项目规模到达以后，每次CI/CD的第一次访问都将变得很慢，这在团队中造成了很不好的影响，特别是测试一直认为就是有问题的，微软也已经认识到了这个问题，在EFCORE6.0的版本，提出了解决方案，只是在ABP支持的不是特别好，我还是希望ABP 在后面的版本解决这个问题

[2022-03-29 06:10] enisn opened #12118 "Provide a proper way to update menu in Blazor without refreshing"
Blazor menu can't be updated until the page is refreshed.

We can provide an API to update it or just register MenuViewModel into the dependency container and it can be replaced and changes will be applied to ui easily.

---

_Originally posted here: https://support.abp.io/QA/Questions/2778/Blazor-Change-Menu-Display-Name-dynamically_

[2022-03-29 06:27] thanhtai9606 commented on #12116
It just a basic project this is my code in httpHostModule
` Configure<AbpIdentityOptions>(options =>
        {
            options.ExternalLoginProviders.Add<ExternalLoginLdapProvider>(ExternalLoginLdapProvider.Name);
        });
`

[2022-03-29 06:30] alexandis commented on #800
How to make **Redis** run (**ABP** 5.1)?
This is what I'm getting in `IdentityServer` module:

**ABP** documentation does not say anything about `Redis` configuration besides:
![image](https://user-images.githubusercontent.com/6149843/160547852-ad586fdc-aee6-4708-9254-710a18cf7b78.png)

[2022-03-29 06:50] enisn commented on #12050
We know the priority of this, but unfortunately, it won't be shipped in v5.3. It might be in later versions.

Chat is a commercial feature. So this issue isn't related to this repository, I'm closing it.

[2022-03-29 06:50] #12050 closed, assigned to nobody

[2022-03-29 06:55] realLiangshiwei commented on #12116
I can't reproduce the problem

[2022-03-29 07:07] #8425 closed, assigned to EngincanV

[2022-03-29 07:36] EngincanV commented on #11837
We've made a meeting and get the below notes:

* This constraint is coming from the Microsoft Identity library, so we've decided to leave it as it is.

* Don't show the **Delete** action for the current user on the **Users** page and for the static roles on the **Roles** page.

* We can make the tab name section wider, it's already done in MVC side, we can check for the other UI types.

* We can c

[2022-03-29 08:23] #12098 closed, assigned to enisn

[2022-03-29 08:34] thanhtai9606 commented on #12116
This is my code. I just added with first user ldap login, But second user not working, it show error
**AbpIdentityResultException: A user with this login already exists.**
`https://github.com/thanhtai9606/demo_ldap_abp.git`
help me! please

[2022-03-29 10:44] yekalkan commented on #12065
Fixed. Thank you for reporting.

[2022-03-29 10:44] #12065 closed, assigned to yekalkan

[2022-03-29 11:30] lgadola commented on #12047
Did you check exception details/inner exception? If it is a mapping error it will tell you which properties in which DTO's can't be mapped.

[2022-03-29 11:33] realLiangshiwei commented on #12116
Hi,

For testing I used the following code and is works fine.

[code]

I think there is nothing to do with ABP, you can debug the code to check what is happening.

[2022-03-29 12:23] thanhtai9606 commented on #12116
Please try with 3-4 accounts. It happens with second account over! 🙄

[2022-03-29 12:44] tunechr commented on #12047
Hi We also get this due to a dependency on ELSA which uses automapper 11.

[2022-03-29 13:26] enisn opened #12120 "Better path finding for tempkey.rsa"
Following code searches in the `C:\Windows\system32\tempkey.jwk` path in desktop apps like UWP and most probably MAUI Blazor.

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AbpIdentityServerBuilderExtensions.cs#L76

We should get executing dll directory or make it configurable.

--

[2022-03-29 13:35] kfrancis commented on #12120
Can work around using `Directory.SetCurrentDirectory(System.AppDomain.CurrentDomain.BaseDirectory);` but it seems like something that should be configurable or have a better default.

Something like what's done here for config: https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Core/Microsoft/Extensions/Configuration/ConfigurationHelper.cs#L14-

[2022-03-29 13:47] realLiangshiwei commented on #12116
The id of the user on the provider side, it **should be unique**

Replace `ProviderKey =  "123"` with `ProviderKey =  Guid.NewGuid().ToString()`

[2022-03-29 13:57] lgadola opened #12122 "extraProperties not saved as expected"
**abp** 5.1.4
EFCore/Angular

Trying to save extraProperties in an extensible Object. This test fails:
[code]

 Message: 
Shouldly.ShouldAssertException : evt.GetProperty<string>("AdditionalData")
    should be
"Test"
    but was
null

Domain Object EventType implements IHasExtraProperties
EventTypeDto is ExtensibleEntityDto
_eventTypeAppService is standard CrudAppService<...>

Am I doing anything

[2022-03-29 13:58] ArcherTrister commented on #9175
@trickyrat how did you solve it?

[2022-03-29 14:10] realLiangshiwei commented on #12122
Can you check this? https://docs.abp.io/en/abp/latest/Object-Extensions#automapper-integration

[2022-03-29 14:56] trickyrat commented on #9175
you need to add import AbpCachingStackExchangeRedisModule into your module

[2022-03-29 14:59] thanhtai9606 commented on #12116
Oh. Thank you so much 😍😍😍😍

[2022-03-29 15:10] #12116 closed, assigned to nobody

[2022-03-29 15:30] hikalkan opened #12123 "Test issue"
This is for testing the Discord webhook.

Join ABP Discord server: https://discord.gg/abp

[2022-03-29 15:30] hikalkan commented on #12123
a comment

[2022-03-29 15:30] #12123 closed, assigned to nobody

[2022-03-29 15:30] hikalkan commented on #12123
another comment

[2022-03-29 15:30] hikalkan commented on #12123
that's cool :)

[2022-03-29 20:11] PMExtra opened #12124 "Separate Volo.Abp.Json into 2 packages (Newtonsoft.Json and STJ)"
For now, Volo.Abp.Json depends on Newtonsoft.Json
It will transfer the dependency to each project whether Newtonsoft.Json is used or not.

I think we should separate the codes about Newtonsoft.Json from Volo.Abp.Json into a new package Volo.Abp.Json.Newtonsoft.

[2022-03-30 00:59] ArcherTrister commented on #9175
I have done this but it still doesn't work，like this
![1111](https://user-images.githubusercontent.com/35516482/160730135-8c03cd2e-f5b4-4ae3-8928-341f72999e31.png)

[2022-03-30 01:34] ArcherTrister opened #12125 "AbpCachingStackExchangeRedisModule not working"
- ABP Framework Version: 5.1.4
- User Interface:Angular
- Database Provider: EF Core

I followed [official doc](https://docs.abp.io/en/abp/latest/Redis-Cache)
I configured redis, in appsettings.json like
"Redis": { "IsEnabled": "true", "Configuration": "server ip,password=*******" }
and add nuget package Volo.Abp.Caching.StackExchangeRedis into my module.

![1111](https://user-images.githubusercon

[2022-03-30 01:46] realLiangshiwei commented on #12125
What Redis version are you using?

Please provide full steps to reproduce, thanks.

[2022-03-30 01:58] realLiangshiwei commented on #12125
Also, can you try using a simple project without ABP to test?

[2022-03-30 03:16] wangyue20075 commented on #12125
I also encountered this problem. Can you solve this problem ?

[2022-03-30 03:28] ArcherTrister commented on #12125
Yes, I've already done it and it works

simple project: [RedisCache](https://cdn-1255895673.cos.ap-chengdu.myqcloud.com/GithubDemo/RedisCache.rar)

abp project: [AbpRedisCache](https://cdn-1255895673.cos.ap-chengdu.myqcloud.com/GithubDemo/AbpRedisCache.rar)

[2022-03-30 03:31] ArcherTrister commented on #12125
@realLiangshiwei

Redis version:
![image](https://user-images.githubusercontent.com/35516482/160745850-b249ed92-def3-4c44-afe0-35af09e41e84.png)
![image](https://user-images.githubusercontent.com/35516482/160745883-017785af-dbc8-43a1-9a67-1c13d6f66571.png)

[2022-03-30 03:40] realLiangshiwei commented on #12125
Please use the latest version of Redis

[2022-03-30 04:24] #11495 closed, assigned to nobody

[2022-03-30 05:55] ArcherTrister commented on #12125
thanks you, when i use redis6, it's ok

[2022-03-30 05:55] #12125 closed, assigned to nobody

[2022-03-30 05:58] EngincanV opened #12127 "Community Article: "Concurrency Check in ABP""
Create an article to demonstrate the [Concurrency Check](https://docs.abp.io/en/abp/5.2/Concurrency-Check ) in ABP.

[2022-03-30 06:45] malikmasis opened #12128 "Adding widget polling for CMS Kit"
Planning to making as the following code

[code]

- [x] https://github.com/volosoft/volo/issues/10731

Rendering the polling widget when it is used as plain text in a **blog post** or **page** content.

[2022-03-30 06:51] #11962 closed, assigned to demirmusa

[2022-03-30 07:20] enisn opened #12129 "CMS Kit - Documentation for scroll index"
Documentation for https://github.com/abpframework/abp/pull/12121

[2022-03-30 07:32] enisn opened #12130 "Add `allowClear` option for AutoComplete Selects"
See clearable select from here
https://select2.org/placeholders#single-select-placeholders

If possible, it should be initialized with `allowClear` option if the type is nullable.

--
update: `data-allow-clear="true"` attribute does the thing

[2022-03-30 07:46] #11961 closed, assigned to demirmusa

[2022-03-30 08:36] GSSBilly commented on #11702
hi @maliming
i have made a reply on this issue
any good idea?

[2022-03-30 09:22] bmzhe opened #12132 "An error occurred while generating the client proxy for microservice/angular"
step:

1. abp suite
2. create new microservice solution
3. ./run-tye.ps1
4. ./apps/angular/ run abp generate-proxy -t ng

No changes have been made to the generated code。

error: **[Invalid Module] Backend module "productService" does not exist in API definition.**

env:
mac os/ abp commercial / abp cli: 5.2.0-RC.2/ abp suite: 5.2.0-RC.2

[2022-03-30 10:30] enisn opened #12134 "CMS Kit - Add DataSeeding for BlogFeatures"
When a new blog feature is added, it should be seeded to existing blogs

[2022-03-30 11:49] #11963 closed, assigned to demirmusa

[2022-03-30 14:27] hikalkan opened #12138 "Upgrade Blazorise packages for 1.0.2."
See https://twitter.com/Blazorise/status/1509168865019891717

[2022-03-30 14:47] #11950 closed, assigned to nobody

[2022-03-30 14:48] lgadola commented on #12122
I have a mapping like this:

`
        CreateMap<EventType, EventTypeDto>()
            .MapExtraProperties();
        CreateMap<EventTypeDto, EventType>()
             .ForMember(dest => dest.TenantId, opts => opts.Ignore())
             .ForMember(dest => dest.LastModificationTime, opts => opts.Ignore())
             .ForMember(dest => dest.LastModifierId, opts => opts.Ignore())
             .Fo

[2022-03-30 14:49] mahmut-gundogdu commented on #11970
Sure, I would be glad

[2022-03-30 16:29] lgadola opened #12139 "Multitenancy: When switching tenant in frontend, ICurrentTenant in backend is not currrent"
**abp** Version 5.1.4
Angular/efCore

In a multitenancy application, I switch the tenant client-side using TypeScript:
SessionStateService.setTenant()

Network requests to the application service then correctly send new tenant id in request header:
__tenant: 5a947ffc-e363-e204-aa0d-3a0294c68d1a

In application service, however ICurrentTenant shows old tenant (from requests beforehand), therefore n

[2022-03-30 21:03] JeffreyMcJeffFace opened #12140 "How do I set RabbitMQ max retry attempts to prevent an unhandled exception infinite loop?"
ABP 5.1.3
.NET Core

To Reproduce:
1. Configure ABP to use the distributed event BUS
2. In an event handler, throw an unhandled exception
3. Message will automatically return NACK to RabbitMQ and message will requeue
4. Handler consumes message and throws same exception endlessly.

Background:
- [#7657](https://github.com/abpframework/abp/issues/7657) discussed this exact situation.
- [#8829](http

[2022-03-31 00:35] maliming commented on #12139
hi

Is the current user logged in?

[2022-03-31 00:53] realLiangshiwei commented on #12122
I will check it

[2022-03-31 01:25] wangyue20075 commented on #12125
This is a problem with the Windows version redis . Linux is ok , thanks !

[2022-03-31 01:59] realLiangshiwei commented on #12122
Hi,

Because you missed the `Object Extension Manager` configure  https://docs.abp.io/en/abp/latest/Object-Extensions#object-extension-manager.

If you want to dynamically set extra properties, you can remove the `MapExtraProperties()`

![image](https://user-images.githubusercontent.com/16813853/160961057-155354fc-f841-4123-bd02-d7ab7817b9bc.png)

![image](https://user-images.githubusercontent.com

[2022-03-31 02:43] maliming commented on #12044
After dynamically creating select2, the check here fails, you can customize `$.fn.needConfirmationOnUnsavedClose`

https://github.com/abpframework/abp/blob/309865135a0187bd9a99f77ddea2b6e50bd615ff/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js#L184

[2022-03-31 02:57] realLiangshiwei commented on #12140
Hi,

You can use policy to bind a dead exchange & queue: https://www.rabbitmq.com/parameters.html

Then replace the RabbitMqMessageConsumer, the message will be forwarded to the dead letter queue.

[code]

[2022-03-31 03:01] #12095 closed, assigned to maliming

[2022-03-31 05:27] #12138 closed, assigned to realLiangshiwei

[2022-03-31 06:17] lgadola commented on #12139
Yes it is

[2022-03-31 06:40] maliming commented on #12139
https://docs.abp.io/en/abp/latest/Multi-Tenancy#default-tenant-resolvers

You can change the tenant manually.

https://docs.abp.io/en/abp/latest/Multi-Tenancy#change-the-current-tenant

[2022-03-31 06:48] enisn opened #12144 "Updating AutoMapper to v11"
Staying v10 can create some compatibility issues such as [this issue](https://support.abp.io/QA/Questions/2813/Automapper-version-11-compatibility)

[2022-03-31 06:49] Wiblox commented on #7979
I have the same bug. With add a new module.

[2022-03-31 07:14] yekalkan commented on #7979
@Wiblox Can you provide detailed steps to reproduce this issue?

[2022-03-31 07:41] lgadola commented on #12139
yes but I would expect CurrentUserTenantResolveContributor to set the tenant automatically to what is in the request header under __tenant so that tenant filter is applied correctly for out-of-the-box application services

[2022-03-31 07:42] maliming commented on #12139
This is by design, You can change it to your needs.

[2022-03-31 07:42] #12139 closed, assigned to nobody

[2022-03-31 07:46] hikalkan commented on #12139
CurrentUserTenantResolveContributor has always priority for security reasons. otherwise, any authenticated user can send a different tenantid to read/write other tenant's data even with authorized endpoints.

[2022-03-31 09:26] #11839 closed, assigned to realLiangshiwei, EngincanV

[2022-03-31 13:27] maliming commented on #12144
https://docs.automapper.org/en/latest/11.0-Upgrade-Guide.html

[2022-03-31 15:24] gterdem commented on #12132
Please use https://support.abp.io for commercial module and template questions.

Thank you.

[2022-03-31 15:24] #12132 closed, assigned to nobody

[2022-03-31 19:26] Wiblox opened #12149 "Bug add module with Abp Suite"
# Error when add module with Abp Suite

5.2
Blazor Wasm
EFcore

## First create a module with abp suite in a project.
![image](https://user-images.githubusercontent.com/33899359/161133512-3ff064b3-9119-47e4-aef3-906351b2b43a.png)

## Error when i generate =>
![image](https://user-images.githubusercontent.com/33899359/161133616-cc18594d-507e-41d7-b599-ab37fe7330dd.png)

[2022-04-01 04:43] slarkerino opened #12150 "EShopOnAbp Redis Cache Problem"
When I try to start administration service and identity service using visual studio. it throws redis Error.
I tried to clear the cookie but it still doesnt work.

[12:37:26 WRN] ERR Error running script (call to f_3915ee22fda531a1d5661f2523d0443fd35ff0a4): @user_script:2: @user_script: 2: Wrong number of args calling Redis command From Lua script
StackExchange.Redis.RedisServerException: ERR Error

[2022-04-01 04:50] slarkerino commented on #12150
Problem Solved. I guess it is because using redis server on local **windows** machine. And the version of redis is too low. When I changed to remote redis server on my linux machine it works fine

[2022-04-01 04:50] #12150 closed, assigned to nobody

[2022-04-01 05:24] rqx110 opened #12151 "make method `OnMessageReceived` in `UiMessageAlert` component virtual"
In order to replace blazor default message alert component with others(e.g. SweetAlert), I have to inherit the `UiMessageAlert` component and override the `OnMessageReceived`, but it is not virtual currently.

can we make bellow method virtual?
https://github.com/abpframework/abp/blob/af16644159e01c7cb2154ba40b0cb58e6f8d8674/framework/src/Volo.Abp.BlazoriseUI/Components/UiMessageAlert.razor.cs#L89

[2022-04-01 06:26] maliming commented on #12151
hi

You can open the PR. :)

[2022-04-01 06:34] #11964 closed, assigned to demirmusa

[2022-04-01 16:45] kfrancis opened #12152 "Bug: Minor spelling mistake"
https://github.com/abpframework/abp/blob/fd0ce7f556d873e16bd2959172d18f51dd59100c/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectModification/SolutionModuleAdder.cs#L103

Should be "retrieving"

![22-04-vkw2y-1648831424](https://user-images.githubusercontent.com/67574/161306815-ff61ecfd-2492-42b8-bf54-364600b026c9.png)

[2022-04-02 04:00] #12151 closed, assigned to nobody

[2022-04-02 18:36] mheidari988 opened #12154 "Document translation to Farsi/Persian"
I like to start contributing by translating documentation to Farsi, aka the Persian language, as per [Document Translation](https://github.com/abpframework/abp/blob/623a9dbba25995f5a04580a19fcaebde34e32bda/docs/en/Contribution/Index.md#document-translation) Todo list, Yet I like to sure if no one else working on that?

[2022-04-03 06:36] wutongchang opened #12155 "Unit Of Work"
UnitOfWork提交CompleteAsync后，若存在DistributedEvents存在。SaveChangesAsync会被执行两次

[2022-04-03 06:40] wutongchang commented on #12155
![image](https://user-images.githubusercontent.com/33889186/161415223-db098c0c-0557-48cd-a7fe-9d91e732d60d.png)

[2022-04-03 06:57] maliming commented on #12155
* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Your database provider(EF Core/MongoDB)
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

[2022-04-03 07:01] wutongchang commented on #12155
我的是abp 5.1 数据库sqlsugar,UI是vue3 #

[2022-04-03 07:08] wutongchang commented on #12155
![image](https://user-images.githubusercontent.com/33889186/161416013-aaf02b1b-c7c8-4489-91b9-0280846d1c49.png)

[2022-04-03 07:17] bodeg commented on #2775
I tried @crybigsea suggestion
Set two supported languages: English and Hebrew, the default language is Hebrew.

Once I did it - I got the correct default language, but when I switch to the other language I still getting the default language texts.

Switching languages without that code works fine.
any idea?

[2022-04-03 07:18] wutongchang commented on #12155
![image](https://user-images.githubusercontent.com/33889186/161416311-7cfe610b-dd05-4b70-bff6-e56db648876e.png)

[2022-04-03 13:47] maliming commented on #12144
These are big break changes, and many projects have to be changed to `Net Standard 2.1`.

[2022-04-03 16:36] #11420 closed, assigned to nobody

[2022-04-03 16:36] #11418 closed, assigned to yekalkan

[2022-04-03 16:36] #11416 closed, assigned to hikalkan

[2022-04-04 00:43] realLiangshiwei commented on #12154
Hi,

As I know, no one's working on that, welcome your contributions.

[2022-04-04 06:26] enisn commented on #12144
What do you think @hikalkan ?

[2022-04-04 08:06] hikalkan commented on #12144
@maliming I've assigned this to @realLiangshiwei

I think we can change only the necessary projects to .netstandard2.1 and leave others with .netstandard2.0. We can change application layers of modules to .net6, if they are .netstandard.

[2022-04-04 09:06] enisn commented on #11416
This is related to https://github.com/abpframework/abp/pull/11417

[2022-04-04 09:43] braim23 commented on #12152
https://github.com/abpframework/abp/pull/12156

[2022-04-04 09:44] #12152 closed, assigned to braim23

[2022-04-04 10:34] totpero commented on #12044
This is happen because  the function [$.fn.needConfirmationOnUnsavedClose](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/bootstrap/modal-manager.js#L77 ) is loaded before all modal components is loaded [here](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Them

[2022-04-04 14:13] puschie286 commented on #11703
We got the same error sometimes ( on request permissions ) when direct accessing some pages ( like: url.com/page )

[code]

code: `AuthorizationService.IsGrantedAsync( [...] )`

if this happen, you have to restart the server - all request to the permission system are thowing exception until server restart

please note this is caused by a single user, no concurrent access
@realLiangshiwei can you l

[2022-04-04 15:24] hikalkan opened #12163 "Document update for "Support for exporting generic interfaces""
See https://github.com/abpframework/abp/pull/12094

[2022-04-04 21:49] LorenzoTuri commented on #796
Sorry, was there a solution for this problem?

It's probably not something strictly related to abp, but is something that happens really lot's of times. For example also using "string" as order fails, and it's probably going to be the same with almost all reserved keywords.
Also, my case ("string") was something really easy to reproduce, and happens almost every time you create a POST route with s

[2022-04-05 06:09] #11838 closed, assigned to realLiangshiwei

[2022-04-05 08:05] realLiangshiwei opened #12174 "IdentityServer: AllowedAccessTokenSigningAlgorithms property mapping error"
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/ApiResources/ApiResource.cs#L21

https://docs.identityserver.io/en/latest/reference/api_resource.html

When customize the algorithm, a mapping error will occur:

![image](https://user-images.githubusercontent.com/16813853/161710656-9916

[2022-04-05 08:22] Trojaner opened #12175 "500 error on abp new"
[code]

Error happens when downloading from the website too
![image](https://user-images.githubusercontent.com/1809172/161717070-a54c6dd2-edcd-464e-98fe-d49d501987f7.png)

[2022-04-05 08:40] #12174 closed, assigned to realLiangshiwei

[2022-04-05 09:03] gihnih opened #12178 "URL Params "code" or "state" auto redirect"
ABP version = 5.1.4
User Interface = Angular
DB = EF Core

I have an angular application and trying to get code from other applications.
Redirect from other applications with two-parameter in URL. --> http://localhost:4200/getKey?state=1&code=<Guid>
Angular application redirect to original URL ---> http://localhost:4200/getKey

How do I want to get the value "state" and "code"?

Thanks

[2022-04-05 09:25] EngincanV commented on #12175
Thanks for reporting.
5.2.0 release is still in progress, in meantime, you can download a new startup template by specifying a version other than 5.2.0 (such as `--version 5.1.4`):

[code]

[2022-04-05 09:30] #12175 closed, assigned to nobody

[2022-04-05 10:07] EngincanV commented on #12175
5.2.0 release is finished. You can download an app template with version 5.2.0 now.

[2022-04-05 14:36] enisn opened #12180 "Optional PWA support on new solutions for Angular UI"
Part of https://github.com/abpframework/abp/issues/11741

[2022-04-05 15:24] enisn opened #12182 "Update CLI Documentation for PWA Support"
According to https://github.com/abpframework/abp/issues/11741

[2022-04-05 17:59] gdunit opened #12184 "Feature Request: Audit Log Info Separation per Unit Of Work"
I have a use case where I will update multiple root entities together in a batch.

Each entity needs to have its own separate audit trail records, which are retrieved by taking each AuditLogInfo where at least one entity change record matches the identity and type name of the item in question before displaying the records to the user.
This is necessary because there may be separate child entities

[2022-04-05 18:52] nev-21 opened #12185 "Bulk operations and optimistic concurrency"
### Discussion about the framework (Bulk & concurrency)
ABP Framework version 5.1.3.
EfCore Npgsql

### Bulk operations and optimistic concurrency

https://docs.abp.io/en/abp/latest/Repositories#bulk-operations

I have a few questions about that.

**1. Considering the following UpdateManyAsync method:**

https://github.com/abpframework/abp/blob/5.1.3/framework/src/Volo.Abp.EntityFrameworkCore/Volo

[2022-04-06 01:21] zr53722 commented on #12117
abp中对这个支持不太友好，主要是提现在扩展属性和时间类型上，不过扩展属性可以忽略搞定，但是时间类型需要不管时区才能进行下去，这对一些需要管理时区的应用不太友好，并且还需要一些特殊的处理才能达到优化的需求，总之条件限制比较多，有兴趣可以和我沟通

[2022-04-06 01:21] #12117 closed, assigned to nobody

[2022-04-06 06:25] xewn commented on #4223
[Asp.net core WebHooks](https://github.com/aspnet/AspLabs/tree/main/src/WebHooks)

[2022-04-06 08:19] Sinodon opened #12190 "Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'"
IdentityServer
An unhandled exception occurred while processing the request.
AbpException: Could not find the bundle file '/libs/abp/core/abp.css' for the bundle 'Basic.Global'!
Volo.Abp.AspNetCore.Mvc.UI.Bundling.TagHelpers.AbpTagHelperResourceService.ProcessAsync(ViewContext viewContext, TagHelper tagHelper, TagHelperContext context, TagHelperOutput output, List<BundleTagHelperItem> bundleItems,

[2022-04-06 08:31] RainingNight commented on #2882
Looks better.

[2022-04-06 08:37] #12144 closed, assigned to realLiangshiwei

[2022-04-06 08:40] maliming commented on #12190
Run `abp install-libs` in your project folder.

[2022-04-06 10:16] awahbahplana opened #12193 "Hello when I update from 5.2 preview to 5.2 release in angular"
ERROR Error: Uncaught (in promise): Error: Type NgxValidateCoreModule does not have 'ɵmod' property.

[2022-04-06 12:19] maliming commented on #12184
See https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Auditing/AbpAuditingMiddleware.cs#L46

[2022-04-06 13:41] #11741 closed, assigned to mahmut-gundogdu, enisn, EngincanV

[2022-04-06 14:48] Ameen-Alqattow opened #12196 "Ability to change status code for AppService"
Need to return 202 for some APIs that submit data for hangfire job

[2022-04-06 15:23] hikalkan commented on #12196
You can't return HTTP status code from appservice, since application layer is unaware of the HTTP/web layer.
I suggest you to create a regular ASP.NET Controller if you want to fine-tune HTTP behaviors.

[2022-04-06 15:23] #12196 closed, assigned to nobody

[2022-04-07 01:11] #12190 closed, assigned to nobody

[2022-04-07 03:03] xdqa01 opened #12199 "I can not use AbpCachingStackExchangeRedisModule with redis-server 3.0.504 for windows"
When i use any code to set a cache to redis ,there is an error 'StackExchange.Redis.RedisServerException: ERR Error running script (call to f_3915ee22fda531a1d5661f2523d0443fd35ff0a4): @user_script:2: @user_script: 2: Wrong number of args calling Redis command From Lua script'.
Abp version :5.2.0
dotnet:6.0
Redis:3.0.504
Configure:`
"Redis": {
    "IsEnabled": true,
    "Configuration": "127.0.0.1

[2022-04-07 03:06] xdqa01 commented on #12199
When i use StackExchange.Redis ,it has no error.
`
using var con= ConnectionMultiplexer.Connect("127.0.0.1:63791,password=*******,defaultDatabase=1");
var db=con.GetDatabase(1);
db.SetAdd("Hello", "world!");
Console.WriteLine("Hello, World!");
`

[2022-04-07 03:15] maliming commented on #12199
Duplicate of #12150

[2022-04-07 03:15] #12199 closed, assigned to nobody

[2022-04-07 07:03] maliming commented on #12185
No, You need to add such service like `MyCustomEfCoreBulkOperationProvider`

I think it will not be affected, because UpdateConcurrencyStamp method is still called. Am I right?

Can you use a unit test to reproduce this problem?

[2022-04-07 09:25] awahbahplana opened #12200 "Abp Suite"
ABP Suite Doesn't create application layer already created, when you change any property or no change.
V5.2
all up to date
cli  V5.2
abp suite  V5.2
application  V5.2

Regards

[2022-04-07 10:32] gterdem commented on #12200
Please create commercial issues at https://support.abp.io.

Thank you.

[2022-04-07 10:32] #12200 closed, assigned to yekalkan

[2022-04-07 11:06] awahbahplana commented on #12047
Hello this issue happen because i am using elsa workflow so this error happen with elsa V2.6.0

[2022-04-07 11:10] awahbahplana commented on #12047
Hello did you using elsa workflow in your application?

[2022-04-07 11:13] EngincanV commented on #12047
It seems with [v2.6.0](https://github.com/elsa-workflows/elsa-core/discussions/2858) Elsa updated the AutoMapper version to 11. This problem might be related to that.
Can you try to downgrade the version of Elsa?

[2022-04-07 11:18] awahbahplana opened #12201 "Abp Suite"
Abp Suite in V5.2
Generate Api of get list with navigation properties if entity has, but the generated proxy in angular generate service using EntityDto
`XXXXService.getList()` it should return EntityWithNavigationPropertiesDto. it sollved by Generate Proxy Manulally and update the front end component   html and ts.
Regards

[2022-04-07 11:28] EngincanV commented on #12201
For Commercial Support, please use the [support website](https://support.abp.io/QA/Questions).

[2022-04-07 11:28] #12201 closed, assigned to nobody

[2022-04-07 11:32] awahbahplana commented on #12201
I just highlight the bug for you!

if I post any bug there it is from my supporting tickets, and its general bug.

[2022-04-07 11:35] yekalkan commented on #12201
@awahbahplana We refund your ticket credit if it is a general bug.

[2022-04-07 12:20] michelveloso commented on #5343
@arashraf, @ghost, @abdullahsalem  sorry for the delay, this may be what you need:

https://www.youtube.com/watch?v=6By_lKDyTGg

[2022-04-07 14:47] hikalkan opened #12203 "Create/update user account after login with external authentication server"
Consider this scenario: Our client application (can be Angular, Blazor WASM or tiered MVC UI) uses OpenIdConnect flow to login to the application, but not uses our own backend. For example, it uses a Keycloak server. In this case, the user is redirected to Keycloak, enters username and password, and redirected back to the client application. Our backend has no knowledge on this process, and there

[2022-04-07 15:45] gdunit commented on #12184
Thank you very much @maliming  - for future reference if it is useful to anyone, it was only a case of:
- Injecting the AuditManager into the app service
- Creating a scope within the loop of each item is to be created:

[code]

[2022-04-07 15:45] #12184 closed, assigned to nobody

[2022-04-07 15:55] ilkertastan opened #12204 "Some pages we developed with .net core 5.0 do not open"
Abp framework 5.0
MVC
EF CORE

Hello, when we run the project through visual studio, all links and localization work smoothly, but when we run the project over the domain, some links give 404.  it also does not define the localization to the abp script.  Can you help with this issue?  what should i do?

[2022-04-07 17:57] OzgulEzgin commented on #12047
No, I did not. I just added the AutoMapper to my Program file and it solved my problem. You can see the line below.. I hope it helps.
![ABP](https://user-images.githubusercontent.com/10051037/162266867-7cb52368-df14-46c8-8e07-bff5a4134d53.PNG)

[2022-04-07 22:01] gterdem commented on #12204
Some of the Razor/MVC pages are working correctly on the development environment (kestrel) but not working when you have published? Do I understand correctly?

If that's the case, it may be related to nginx, ingress, load balancer, etc.

Please share your production environment and also **related application logs** when you make the request and received 404.

[2022-04-08 05:21] sh-orazow opened #12205 "IRemoteStreamContent is not compatible with the Dynamic C# HTTP Proxy systems."
As stated in the tile, there is an error using dynamic proxies with `IRemoteStreamContent`.
Exception message is:
[code]

* Your **ABP Framework version**. **5.0.1**
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI: **WPF**
* Your database provider(EF Core/MongoDB): **EfCore**
* Exception message and **stack trace** if available (check the logs).

[2022-04-08 05:30] maliming commented on #12205
* Steps needed to **reproduce** the problem.

[2022-04-08 06:47] Ultre00 opened #12206 "ScopedDependency issue after refactor to 5.1.4"
Current ABP version 5.1.4 (migrated from 3.3.2)
Database provider: EF Core

The issue I am facing is that I have a class similar to the ICurrentTenantAccessor that I use to set some variables in a middleware. I then later use these variable in the DbContext to apply some global filters (like the CurrentTenant does aswell). However since I upgraded to the latest 5.1.4 version the scoped dependency

[2022-04-08 06:56] maliming commented on #12206
hi

Do you get services from `HttpContext.RequestServices`?

[2022-04-08 07:11] Ultre00 commented on #12206
@maliming I was injecting them in the constructor. Thanks I think if I change it to the `HttpContext.RequestServices` and the reason the ICurrentTenantAccessor is working is probably because it is not a scoped instance but a singleton

[2022-04-08 07:25] maliming commented on #12206
You can try to get `ShouldBeScoped ` from `HttpContext.RequestServices`.

[2022-04-08 07:30] Ultre00 commented on #12206
For some reason it still isn't working as intended:

Middleware:
[code]
returns a different hashcode then the one in the DbContext

[2022-04-08 07:35] maliming commented on #12206
Can you share a simple project?

[2022-04-08 07:59] ilkertastan opened #12208 "The problem I had when upgrading from 5.0 to 6.0"
ABP Framework 6.0
MVC
EF Core

volo.abp.identity.identityRole cannot find the path to this script. how can i edit it.

[2022-04-08 08:54] Mikmak50 opened #12209 "Forms module not creating tables"
ABP version: 5.2.0 Commercial
User interface: MVC
Database: EF Core
Issue: Adding Forms module using ABP Suite does not create tables the database causing the following issue:

2022-04-07 18:41:55.149 +02:00 [DBG] Found in the cache: pn:R,pk:admin,n:Forms.Form
2022-04-07 18:41:55.263 +02:00 [ERR] Failed executing DbCommand (10ms) [Parameters=[@__ef_filter__p_0='?' (DbType = Boolean), @__ef_filter_

[2022-04-08 09:12] Ultre00 commented on #12206
@maliming

https://github.com/Ultre00/ScopedDependencyDemo

- Created a new ABP solution
- Added a new Demo.Shared module with the simple classes
- Added DemoAppService with Demo endpoint to trigger the DbContext constructor
- Added the Debug.WriteLines to check the hashcodes

[2022-04-08 10:13] JadynWong commented on #12206
You can use `IHybridServiceScopeFactory` to resolve your scoped services.

`AbpDbContext` is resolved by the ServiceProvider in UnitOfWork, which is a separate scope.

![image](https://user-images.githubusercontent.com/13699353/162417350-a1e4d320-6a45-46fb-b3ca-820630059de2.png)

[2022-04-08 11:40] enisn opened #12211 "CMS Kit - GlobalResources feature doesn't work with MongoDB"
![image](https://user-images.githubusercontent.com/23705418/162428526-a76e205b-af0d-49e2-b067-cf297bca9abf.png)

[code]

[2022-04-08 12:03] sh-orazow commented on #12205
@maliming here is a minimal api project reproducing the issue: https://github.com/sh-orazow/ABP-GetRemoteStream-Issue
Just run `HttpApiHost` and then `ConsoleTestApp`

[2022-04-08 12:28] maliming commented on #12208
hi

You can check this https://docs.abp.io/en/abp/latest/Migration-Guides/Abp-5_0

[2022-04-08 12:30] maliming commented on #12209
hi

Please create question on https://support.abp.io/QA/Questions/New

[2022-04-08 12:30] #12209 closed, assigned to nobody

[2022-04-08 12:32] #11492 closed, assigned to nobody

[2022-04-08 12:33] #11493 closed, assigned to nobody

[2022-04-08 12:34] #11529 closed, assigned to nobody

[2022-04-08 13:07] #12211 closed, assigned to nobody

[2022-04-08 13:16] maliming commented on #12205
hi

You can't use `IRemoteStreamContent ` in a DTO class. If the API returns a file. that means it can't contain any other info in response.

[code]

[2022-04-08 14:00] ilkertastan commented on #12204
@gterdem  Let me tell you this. All pages are working when debugging with visual studio. When I run it over the domain, some links work and some give 404. For example ; "/Definitions/Cities" this page works fine, while "/Definitions/Currencies" this page does not.

[2022-04-08 21:06] Ultre00 commented on #12206
That fixed the issue, thanks!

[2022-04-08 21:06] #12206 closed, assigned to nobody

[2022-04-09 00:08] jhulbertpmn opened #12215 "Replacing free Font Awesome with Pro"
* Your **ABP Framework version**. 5.2
* Your **User Interface** type Blazor Server
* Your database provider(EF Core/MongoDB) EFCore

I have a subscription to Font Awesome pro and would like to replace the library included in abp with the kit created in my FontAwesome account.  When the kit is created a url is generated (hosting on the FontAwesome CDN) similar to this:

<script src="https://kit.fon

[2022-04-09 04:55] nev-21 commented on #12185
Thanks @maliming

Since BulkOperationProvider doesn't have a default implementation, the UpdateRange put all entries state as Modified, so concurrency will work.
I will try to find free time to do the test.

[2022-04-09 05:12] #12185 closed, assigned to nobody

[2022-04-09 17:07] JadynWong commented on #12215
You can try to remove `FontAwesomeStyleContributor` by configuring `AbpBundlingOptions.StyleBundles`.

I create a demo.
https://github.com/JadynWong/abp-blazor-server-cdn-demo/commit/0a6324c5202fa9f0cf2917a491d494e9ad173c3a

[2022-04-09 17:40] sturlath commented on #11856
I solved the problem at my end. I didn´t notice that yarn wasn´t installed so `abp install-libs` did create the libs folders and it looked OK but when I did make sure it was installed and was globally included there was much more that happened when I ran the install-libs command.

So do `npm install --global yarn` then `npm config get prefix` and copy that value into the path environment variable

[2022-04-10 00:37] #11856 closed, assigned to nobody

[2022-04-10 10:08] sturlath opened #12216 "abp install-libs command only installs abp from package.json into the libs folder"
I am trying to add a package ([owl.carousel](https://github.com/OwlCarousel2/OwlCarousel2)) to my public web after updating to 5.2.

What I had previously done was to download the package and add it to the libs folder.

Going by [your recommendations](https://blog.abp.io/abp/ABP.IO-Platform-5-2-RC-Has-Been-Published) I exclude the libs folder in .gitignore and run `abp install-libs` that should (I

[2022-04-10 10:43] sturlath commented on #12216
OK I found the abp.resourcemapping.js file and [added the following](https://docs.abp.io/en/abp/5.2/UI/AspNetCore/Client-Side-Package-Management#resource-mapping-definition-file) to it and now the files (not minified files) are being added to it.

[code]

For my Azure DevOps pipeline I added these two steps after my build
![image](https://user-images.githubusercontent.com/2386572/162620053-4db56e5

[2022-04-10 11:27] #12216 closed, assigned to nobody

[2022-04-10 15:46] pjkeukens opened #12217 "OnGetExternalLoginCallbackAsync - never creates a user for external login"
* Version: 5.2.
* MVC
* EF Core
* OnGetExternalLoginCallbackAsync (modules/account/src/Volo.Abp.Account.Web/Pages/Account/Login.cshtml.cs)
* Never creates a new user

After signing in a user by using external login (in this case to AzureAD using openid connect) and the result is a succes and it's a new user the code never creates a new user. On success the code after the if(result.Succeeded) is ne

[2022-04-10 18:13] #11510 closed, assigned to nobody

[2022-04-10 20:15] #12127 closed, assigned to EngincanV

[2022-04-11 00:49] maliming commented on #12217
hi

If `Succeeded` means there is an existing user. Why needs to create again?

[2022-04-11 02:33] #12205 closed, assigned to nobody

[2022-04-11 06:44] pjkeukens commented on #12217
@maliming result.Succeeded is for the external authentication in the Azure AD but if it's a new user the user is not yet in AbpUsers table, because of the if the user is not created in AbpUsers which is done in the code below the if statement where it checks if the user already exists in AbpUsers and if not create the user.

[2022-04-11 07:49] muhammedaltug opened #12221 "Proxy generation convert .net datetype to string or bigint"
related issue https://support.abp.io/QA/Questions/2836/Question-about-generate-proxy

[2022-04-11 07:50] muhammedaltug opened #12222 "Create validators with proxy generation"
https://support.abp.io/QA/Questions/2836/Question-about-generate-proxy

[2022-04-11 13:59] JadynWong commented on #12217
`SignInResult.Succeeded` means that this user exists in AbpUsers.
When the user cannot be found from the `AbpUserLogins` table by `LoginProvider` and `ProviderKey`, it will return SignInResult.Failed.

`SignInManager.ExternalLoginSignInAsync`
https://github.com/dotnet/aspnetcore/blob/70d7f5f9e02c84084daec2f6666decd343e56b46/src/Identity/Core/src/SignInManager.cs?_pjax=%23js-repo-pjax-container%2C%

[2022-04-11 16:01] pjkeukens commented on #12217
@JadynWong I think you are right, I must have checked the wrong user database or something... Sorry, I will close this now.

[2022-04-11 16:01] #12217 closed, assigned to nobody

[2022-04-11 18:35] jhulbertpmn commented on #12215
Very cool - thank you!

[2022-04-11 18:35] #12215 closed, assigned to nobody

[2022-04-12 00:42] #11547 closed, assigned to gterdem

[2022-04-12 01:03] #12208 closed, assigned to nobody

[2022-04-12 02:30] applebananamilk opened #12228 "Hello, can the document support global retrieval?"
Sometimes to find documents according to the source code, you need to click one by one. I can't find a place for feedback on the official website, so I can only come here to ask questions.

[2022-04-12 02:46] maliming commented on #12228
![image](https://user-images.githubusercontent.com/6908465/162869179-87b12acf-1dd2-492c-b2b4-bf6d72b2effb.png)

[2022-04-12 02:52] applebananamilk commented on #12228
Thank you, I searched several times before but no results came back, I thought it was not working. .  😄

[2022-04-12 02:52] #12228 closed, assigned to nobody

[2022-04-12 06:44] totpero commented on #11334
Hi,

I have the same problem but my scenario is on POST not on GET.
If I use GET ajax in API Module the breakpoint hit my `Write` method.
But if I POST the model with the decimal property in, the ajax POST not hit my Write` or `Read` or  method and the result is not that I aspect.
This is happened with Romanian language selected.

[code]

[code]

I also try with `[JsonConverter(typeof(AbpDecimalCo

[2022-04-12 07:19] #12134 closed, assigned to enisn

[2022-04-12 07:42] Trojaner opened #12229 "Remove setters from deletion and modification audit interfaces"
For example; IHasCreationTime has no public setter but ISoftDelete and IHasDeletionTime have public setters.

I suggest to remove all setters and use ObjectHelper.TrySetProperty internally.

[2022-04-12 07:52] EngincanV opened #12230 "Improve ExtensionProperties Component"
Related with https://support.abp.io/QA/Questions/2886/Bug-with-Extended-Properties-being-controlled-in-the-UI-for-Dependent-Modules

---

We need to improve the [**ExtensionProperties**](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.BlazoriseUI/Components/ObjectExtending/ExtensionProperties.razor) component to be able to show extended properties on UI by user choices (such as

[2022-04-12 08:23] Trojaner opened #12232 "Inconsistent Abp Prefix on DbProperties classes"
For example:
Some modules have the Abp prefix:
* AbpTenantManagementDbProperties
* AbpAuditLoggingDbProperties

while others do not:
* BackgroundJobsDbProperties instead of AbpBackgroundJobsDbProperties
* FeatureManagementDbProperties instead of AbpFeatureManagementProperties

[2022-04-12 11:09] Trojaner opened #12234 "Make methods of AuditPropertySetter virtual"
Currently all methods in [AuditPropertySetter](https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditPropertySetter.cs) are non-virtual and need to be copy-pasted if you want to change logic there.

[2022-04-12 14:14] damien-r commented on #2022
Hello Everyone,

I think I found a potential source of the `Invalid object name 'AbpSettings'.`. I found it related to a background worker that was run, I don't know why. I am currently in version 5.1.4.

[2022-04-12 23:11] gizemmutukurt opened #12236 "Test - Cli: Allow to generate code with Suite"
Releated with https://github.com/abpframework/abp/pull/12231

[2022-04-13 01:35] #12234 closed, assigned to realLiangshiwei

[2022-04-13 02:12] maliming commented on #12025
hi

This conflicts with `GetEventDataTenantId` feature.

https://github.com/abpframework/abp/blob/9cbb244efe520997cda82ea0cdf97a5700889dcf/framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/EventBusBase.cs#L215

https://github.com/abpframework/abp/blob/9cbb244efe520997cda82ea0cdf97a5700889dcf/framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/EventBusBase.cs#L231

[2022-04-13 02:12] #12025 closed, assigned to nobody

[2022-04-13 07:36] subhranshu00 opened #12239 "Unable to store image into Azure Blob Storage"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2022-04-13 08:04] yekalkan commented on #12236
You can ask me how to test this.

[2022-04-13 08:14] marcoiwell opened #12241 "Account summary always shows 'lockout' status."
ABP Version: 5.1
Tiered solution: .Net Core, EFCore, Angular

# Problem description
The Users UI (Administration -> Identity Management -> Users) always shows a red cross icon on the 'Account Lockout' column. It doesn't seem to reflect the underlying data.

## Expected behaviour
When a user has a locked out account, the red cross icon should be visible.
When a user has an active (not locked out) a

[2022-04-13 10:37] fanslead commented on #6081
I have the same problem. How can fix it?

[2022-04-13 10:59] gizemmutukurt commented on #12236
Test is OK.

Json can be generated with Cli: Suite.
When the project is run, the entities are displayed and the CRUD operations work fine.
![image](https://user-images.githubusercontent.com/99716457/163165811-b72f2656-0860-4ab3-9d93-31b7ea999331.png)

[2022-04-13 10:59] #12236 closed, assigned to gizemmutukurt

[2022-04-13 13:01] antonio-campagnaro opened #12243 "EShopOnAbp.WebPublicGateway use same TCP ports of EShopOnAbp.CatalogService.HttpApi.Host"
In https://github.com/abpframework/eShopOnAbp WebPublicGateway and CatalogService are using the same ports configured in appsettings.Development.json

[2022-04-13 13:26] enisn commented on #12180
Check this out: https://docs.abp.io/en/abp/latest/UI/Angular/PWA-Configuration

[2022-04-13 13:39] gterdem commented on #12243
Thank you. We've fixed this issue.

[2022-04-13 13:39] #12243 closed, assigned to gterdem

[2022-04-13 13:41] #10524 closed, assigned to gterdem

[2022-04-13 14:55] enisn commented on #12180
Running following command in **angular** folder after project creation is the best solution for now.

[code]

[2022-04-14 01:02] maliming commented on #12239
Please share more info.

[2022-04-14 01:36] maliming opened #12246 "Remove `IHybridServiceScopeFactory`"
https://github.com/abpframework/abp/issues/5882#issuecomment-715345398

[2022-04-14 01:52] ArcherTrister opened #12247 "Add FindByPhoneNumberAsync"
Hello,
I'm using ABP Framework version 5.1.4
User Interface: Mvc.
I suggest to add Add FindByPhoneNumberAsync method

[2022-04-14 02:06] maliming commented on #12247
See https://github.com/dotnet/aspnetcore/issues/25368#issuecomment-683153614

[2022-04-14 02:06] #12247 closed, assigned to nobody

[2022-04-14 03:03] geffzhang opened #12248 "The database uses sqlite, and errors occur frequently： SqliteException: SQLite Error 5: 'database is locked'"
ABP Framework version: v5.2.0

UI type: Blazor

DB provider: EF Core

[code]

[2022-04-14 03:22] maliming commented on #12248
This is like a limitation of sqlite. It doesn't support transactions very well.

[2022-04-14 06:14] EngincanV opened #12249 "Allow Setting Extended Property as ReadOnly on the UI"
Related support question: https://support.abp.io/QA/Questions/2908/Setting-Extended-Property-as-ReadOnly-on-the-UI

---

We can allow users to make their extended property as readonly on both create and edit forms.

[code]

[2022-04-14 07:47] EngincanV opened #12250 "Add online/offline status indicator for PWA"
Add this indicator as a toolbar for Blazor UI. (if the user chooses the PWA support).

![](https://user-images.githubusercontent.com/43685404/155722606-1735c7f0-27b9-4386-8e4a-1695974a55fa.png)

[2022-04-14 09:03] damien-r opened #12255 "Background Worker in continuous mode is blocking the services"
# Context

Hello,

I want to use a background worker to write an UDP server specific to our application. However, I have faced 2 issues during the implementation. I will write here a minimal example of code to illustrate it.

# Preparation

Download a template from https://abp.io/get-started. Options: Application / Angular / Entity Framework Core / SQL Server None.
The actual version is 5.2.
Open

[2022-04-14 09:05] damien-r commented on #12255
This is not specific to UDP server. You can replace the loop with a `Sleep`

[code]

[2022-04-14 09:16] ghost opened #12256 "Please support 'Light Mode' for ABP CLI in terminal"
![ABP CLI](https://i.imgur.com/9qToiga.png)

[2022-04-14 09:22] maliming commented on #12256
How to do this? windows and mac?

[2022-04-14 09:24] gterdem opened #12257 "No layers template missing console logs for non development environments"
https://github.com/abpframework/abp/blob/187732612a61687ae32f8a16063c240d47243936/templates/app-nolayers/aspnet-core/MyCompanyName.MyProjectName.Blazor.Server.Mongo/Program.cs#L21-L26

Console logging should be done without environment differences to all templates.

[2022-04-14 09:37] ghost commented on #12256
I have a good idea: Cancel the ABP CLI customize terminal color

[2022-04-14 10:12] gterdem commented on #12229
Inconsistency between `IHasCreationTime` and `IHasDeletionTime` makes sense since they are audit properties and should be set without user interaction.

However, I believe; filters like `ISoftDelete` should have public setter. We shouldn't limit users about user interactive properties and let the set the object state as they please.

[2022-04-14 12:03] #12063 closed, assigned to gterdem

[2022-04-14 12:16] gterdem commented on #11982
This improvement is canceled. See https://github.com/abpframework/abp/pull/11983#issuecomment-1099123609.

[2022-04-14 12:16] #11982 closed, assigned to gterdem

[2022-04-14 12:44] AutoJerry opened #12260 "The Method UnitOfWorkExtensions.GetItemOrDefault has error logic."
[UnitOfWorkExtensions.cs](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Uow/Volo/Abp/Uow/UnitOfWorkExtensions.cs)

[code]

1, unitOfWork.Items.FirstOrDefault will return a KeyValuePair<string, object> type that is a struct type, but As&lt;TValue&gt; is a class type.
2, guess this method will return the value of the KeyValuePair‘s Value.

[2022-04-14 13:18] hikalkan opened #12262 "Add abpAjaxForm usage in forms & validation document for MVC UI"

[2022-04-14 13:19] #8414 closed, assigned to hikalkan

[2022-04-14 14:56] hikalkan opened #12265 "Document how to directly use Autofac APIs to register and resolve services"

[2022-04-14 15:07] ebicoglu opened #12266 "Concurrent Virtual User Load Testing for all the templates"
Make a performance test with Jmeter for Angular, Blazor WASM, Blazor Server and MVC.
The database should be the same for all the templates (eg: MS-SQL)
The test scenario should be run with 1 user, 100 concurrent users, and 500 concurrent users ( we can increase according to the results).
Show the output as line charts.
Show the total execution time for all UI types so that we can see the slowest a

[2022-04-14 17:03] alexandis commented on #8620
Issue: ABP app admin of app1 changes the permissions of role in app2 (app1 has nuget reference to app2 projects Application.Contracts and Domain.Shared thus having access to permission names for app2). I need to refresh permission cache in app2 so any user there would see the menu according to the permissions after relogin or page refresh. I implemented it via overriding `PermissionAppService` whe

[2022-04-15 00:42] maliming commented on #12255
You can try to use https://docs.abp.io/en/abp/latest/Background-Jobs

Or Quartz and Hangfire.

[2022-04-15 01:22] #12260 closed, assigned to maliming

[2022-04-15 02:02] ArcherTrister commented on #12247
@maliming  Sorry, maybe I didn't express clearly, it has nothing to do with identity, I hope to add FindByPhoneNumberAsync  method in IIdentityUserRepository

See [Repositories.md](https://github.com/abpframework/abp/blob/dev/docs/en/Best-Practices/Repositories.md) , There are a lot of not do

[2022-04-15 09:09] l2999019 opened #12271 "Abpdbcurrencyexception is used to handle concurrent operations, but the latest database value cannot be obtained"
The code is as follows:
` if (inner is AbpDbConcurrencyException)
{

                                var exx = inner.InnerException as DbUpdateConcurrencyException;
                                foreach (var entry in exx.Entries)
                                {
                                    entry.Context.ChangeTracker.QueryTrackingBehavior = Microsoft.EntityFrameworkCore.QueryTrackingBeh

[2022-04-15 09:16] maliming commented on #12271
You can try that without ABP, just use EF Core.

[2022-04-15 10:56] hikalkan commented on #11337
already done

[2022-04-15 11:26] hikalkan opened #12272 "Document the single layer application startup template"
* Create the document under the `Startup Template -> Application (single layer)` menu item.
* It will include the following topics (you can inspire from [this document](https://docs.abp.io/en/abp/latest/Startup-Templates/Application)):
  * Introduction: What is this template, what is the difference from the standard Application template
  * How to start with and how to run (including migrating the

[2022-04-15 11:28] hikalkan opened #12273 "Quick start tutorial with the single layer startup template"
Create [the same TODO application](https://docs.abp.io/en/abp/latest/Tutorials/Todo/Index) with the single layer startup template. We can talk before you start this.