[2022-09-23 22:28] matguthrie commented on #14099
Hi, I posted the question on a Microsoft Q&A forum. "Should every entity owned by the tenant in a sharded DB have a shard key"  (in a hybrid DB setup)

This is the response from a Microsoft Employee and "Community Expert".

Here's the [link ](https://learn.microsoft.com/en-us/answers/questions/1020007/should-every-entity-owned-by-the-tenant-in-a-shard.html)

Thoughts?

[2022-09-24 03:57] dlboutwe commented on #13623
I am also running into this issue in 5.3.4.

[2022-09-24 07:39] payoff commented on #10036
Making a feature available and doing a partial development, which predicts the wrong malfunction in most cases is more harmful than not having the feature.
The fact that using Event Inbox / Outbox with Tenats does not throw exceptions, but fails tacitly (I write in the tenant I read in the host)  waste days.
To be proactive I would say that ABP should follow one of these paths:

- Put ASAP in the

[2022-09-24 08:05] TuyenDinh1205 opened #14117 "Update LastmodifierId"
**ABP Framework version**: 5.3.1
**User Interface** type :Angular
* database provider: MongoDB
Hi all
I want to change LastmodifierId to another one. Currently, record update in my database is current login user id. How to change it?

[2022-09-24 12:58] EngincanV commented on #13623
@snowchenlei Can you ensure the `default.js` is marked as embedded resource?

[2022-09-25 00:15] #11735 closed, assigned to muhammedaltug

[2022-09-25 00:16] #12856 closed, assigned to nobody

[2022-09-25 00:17] #12833 closed, assigned to nobody

[2022-09-25 00:17] #12855 closed, assigned to nobody

[2022-09-25 00:18] #12858 closed, assigned to nobody

[2022-09-25 00:18] #12854 closed, assigned to nobody

[2022-09-25 00:18] #12897 closed, assigned to nobody

[2022-09-25 00:19] #12906 closed, assigned to mahmut-gundogdu

[2022-09-25 00:19] #12911 closed, assigned to gterdem

[2022-09-25 00:19] #12933 closed, assigned to nobody

[2022-09-25 00:20] #12867 closed, assigned to fatihskilic

[2022-09-25 01:58] git102347501 opened #14118 "The function has been authorized on the main module management page, but error 403 is reported when calling the sub module interface. The log shows that the function module is not enabled. How can I configure the function in the sub module?"
ABP Framework version：5.3.0
User Interface type: Angular
database provider: ef core
I have a set of distributed calling programs that deploy a main module and multiple submodule nodes that are provided with api services by the module host.

I want to use abp function management to authorize tenant functions, but I encountered the following problems.

First, I assigned the function permissions spec

[2022-09-25 03:54] COOlJJJ opened #14119 "api/identity/roles 404"
![image](https://user-images.githubusercontent.com/32292341/192127571-6922d8d7-07b9-425b-90bb-7dd75a5de585.png)

[2022-09-25 05:03] #14119 closed, assigned to nobody

[2022-09-25 07:25] maliming commented on #13979
Rename `PersonEfCoreRepository` class name to `EfCorePersonRepository`

[2022-09-25 07:25] #13979 closed, assigned to nobody

[2022-09-25 07:54] cephaspad commented on #13979
Thanks. It works!!!
________________________________
From: maliming ***@***.***>
Sent: Sunday, September 25, 2022 2:25:45 PM
To: abpframework/abp ***@***.***>
Cc: Cephas PAD ***@***.***>; Mention ***@***.***>
Subject: Re: [abpframework/abp] Cannot resolve CustomRepository (Issue #13979)

Rename PersonEfCoreRepository class name to EfCorePersonRepository

—
Reply to this email directly, view it on

[2022-09-25 08:03] amanadlakha1 commented on #13979
Can i know the reason why this works?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: maliming ***@***.***>
Sent: Sunday, September 25, 2022 12:55:45 PM
To: abpframework/abp ***@***.***>
Cc: Aman Adlakha ***@***.***>; Comment ***@***.***>
Subject: Re: [abpframework/abp] Cannot resolve CustomRepository (Issue #13979)

Rename PersonEfCoreRepository class name

[2022-09-25 08:25] maliming commented on #13979
hi

https://docs.abp.io/en/abp/latest/Dependency-Injection#exposed-services-by-convention

[2022-09-25 08:32] maliming commented on #14117
hi

You can override this method.
https://github.com/abpframework/abp/blob/8913e42327ed4148a3fba6ff79d63318eb8ef344/framework/src/Volo.Abp.Auditing/Volo/Abp/Auditing/AuditPropertySetter.cs#L106

[2022-09-25 08:32] cephaspad commented on #13979
I don't exactly know the reason. I just rename from `PersonEfCoreRepository`  to `EfCorePersonRepository `. I've read on @maliming  link but none of related was found.

[2022-09-25 09:06] maliming commented on #13979
The code will check if `class.Name.EndsWith(interfaceName.RemoveLeft('I'))`

<img src="https://user-images.githubusercontent.com/6908465/192136182-24d7681d-7cf0-4b40-8764-f8c8bd76ee28.png">

[2022-09-25 09:47] jortygu commented on #11100
@maliming commit:https://github.com/abpframework/abp/commit/eae8d6340fe2a63cc6ccb78cf3675044d02edd02 canceled? [latest ](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.EventBus/Volo/Abp/EventBus/Distributed/LocalDistributedEventBus.cs)code don't contain commit content.

[2022-09-25 15:51] leonkosak commented on #14107
The way that bundling & minification works in abp (bundling, minification and version is generated on the first request) is not good solution for clustered (multi-instance) environments, because each instance generates it's own version of tha same files (css, js).
Even if web browser (some client) has the latest versions of js in css, it will re-download because it is redirected to different insta

[2022-09-26 01:12] maliming commented on #11100
hi @jortygu

https://github.com/abpframework/abp/pull/12385#issue-1217427480

[2022-09-26 02:19] snowchenlei commented on #13623
how set?*.js file attribute set?
If yes, I tried, but it still doesn't work

[2022-09-26 02:37] realLiangshiwei commented on #14114
* Your **ABP Framework version**.
* Your **ABP CLI version**
* Steps needed to **reproduce** the problem.

[2022-09-26 04:29] abdullahshaqaliah commented on #14114
Your ABP Framework version:5.3.3
Your ABP CLI version:5.3.4

[2022-09-26 04:40] abdullahshaqaliah opened #14120 "Entity 'XXX' has a global query filter defined and is the required end of a relationship with the entity 'XXX'"
ABP Framework version：5.3.0
Hi
I get this warning
[code]

[2022-09-26 04:43] maliming commented on #14120
* Steps needed to **reproduce** the problem.

[2022-09-26 04:58] abdullahshaqaliah commented on #14120
[code]

2022-09-26 07:39:42.516 +03:00 [INF] Starting TenTime.CMSService.HttpApi.Host.
2022-09-26 07:39:45.821 +03:00 [INF] Loaded ABP modules:
2022-09-26 07:39:45.823 +03:00 [INF] - TenTime.CMSService.CMSServiceHttpApiHostModule
2022-09-26 07:39:45.823 +03:00 [INF]   - TenTime.Shared.Hosting.Settings.Microservices.TenTimeSharedHostingSettingsMicroservicesModule
2022-09-26 07:39:45.823 +03:00 [INF

[2022-09-26 05:26] abdullahshaqaliah commented on #14120
Hi
Maybe it will be related with this issue
https://github.com/abpframework/abp/issues/7482

[2022-09-26 05:40] maliming commented on #14120
Hi

I think this is related to EF Core instead of abp.

 See https://go.microsoft.com/fwlink/?linkid=2131316 for more information.

[2022-09-26 05:44] #14117 closed, assigned to nobody

[2022-09-26 05:47] maliming commented on #13512
Wait for bs 5.2.2
https://github.com/twbs/bootstrap/releases

[2022-09-26 05:50] EngincanV commented on #13623
You can mark your js file as embedded resource as follow (add the below code block to your *.csproj file):

[code]

[2022-09-26 05:51] maliming commented on #14061
hi

The `options` of `abp.ajax` is

[code]

[2022-09-26 05:58] realLiangshiwei commented on #14114
You can try to change your `IContentAppService` namespaces to `Volo.Abp.Application.Services`

[2022-09-26 06:03] abdullahshaqaliah commented on #14114
Its working but why????

[2022-09-26 06:17] realLiangshiwei commented on #14114
I will enhance ABP CLI

[2022-09-26 06:21] abdullahshaqaliah commented on #14114
Thank you @realLiangshiwei

[2022-09-26 06:31] #13481 closed, assigned to muhammedaltug

[2022-09-26 06:37] zaktecs commented on #14061
@maliming thanks for your response. I will give it a try.
kind Regards

[2022-09-26 06:46] snowchenlei commented on #13623
I tried, but it still doesn't work
[modal-widget.zip](https://github.com/abpframework/abp/files/9643619/modal-widget.zip)

[2022-09-26 06:54] enisn commented on #13999
awaiting blazor implementation

[2022-09-26 07:45] yekalkan commented on #14104
@leaortiz Thank you for reporting.

I've fixed this issue for `6.0.0` release. If you don't want to face this issue in `5.3.*` version, you can use `Abp CLI` to create projects instead of abp.io website.

[2022-09-26 08:06] rqx110 opened #14128 "[Branch 6.0] debug codes need delete"
below debug codes added from PR #14103, may forget delete:
https://github.com/abpframework/abp/blob/398588dda04e84f859d2a33b8c8cc8a636e75232/templates/app/aspnet-core/src/MyCompanyName.MyProjectName.Domain.Shared/MyProjectNameModuleExtensionConfigurator.cs#L40-L58

[2022-09-26 08:35] enisn commented on #14128
https://github.com/abpframework/abp/pull/14129

[2022-09-26 08:35] #14128 closed, assigned to enisn

[2022-09-26 08:47] maliming commented on #14105
It works for me.

[code]

[2022-09-26 08:47] #14105 closed, assigned to maliming

[2022-09-26 10:59] Nokecy opened #14132 "in abp 6.0 openiddict how to SetAccessTokenLifetime"

[2022-09-26 11:31] lee-vic opened #14133 "abp new -t module parameter is invalid"
### GitHub Issues

abp new Acme.IssueManagement -t module --database-management-system MySQL  --version 5.3.4 --connection-string "***"

Execute the command, the project is still the SqlServer in use.However, the database connection string is normal.

![image](https://user-images.githubusercontent.com/2107826/192265569-c5d7d63a-0418-45db-b819-f75e59a92893.png)

If you're creating a bug/problem rep

[2022-09-26 11:36] aelhadi commented on #14132
public override void PreConfigureServices(ServiceConfigurationContext context)
    {
        PreConfigure<OpenIddictBuilder>(builder =>
        {
            builder.AddServer(options =>
            {
                options.SetAccessTokenLifetime(new TimeSpan(0, 0, 30, 0));
            });
////
///

///

[2022-09-26 12:07] #14114 closed, assigned to realLiangshiwei

[2022-09-26 13:26] maliming commented on #14133
hi

What's the output of cli?

[2022-09-26 14:12] malikmasis opened #14138 "eshopOnAbp: Refactoring CmsKitService"
`CmsService` name is better than `CmskitService`

[2022-09-26 14:36] aelhadi commented on #14018
If your code is Ok. try to clean your bowser cache.
delete all history and cookies...

[2022-09-26 15:08] lee-vic commented on #14133
lee@lee-book:~/learn/abp$ abp new Acme.IssueManagement -t module --database-management-system MySQL --version 5.3.4 --connection-string "***"
[23:05:26 INF] ABP CLI (https://abp.io)
[23:05:26 INF] Version 5.3.4 (Stable)
[23:05:33 INF] Creating your project...
[23:05:33 INF] Project name: Acme.IssueManagement
[23:05:33 INF] Template: module
[23:05:33 INF] Version: 5.3.4
[23:05:33 INF] Connection st

[2022-09-26 15:43] dlboutwe commented on #13623
My use case was: I was creating a modal via the modalManager system from a separated CSHTML file, and my widget code was invoked on the modals' specific CSHTML file. According to this, you need to include the scripts for the modal on the page where you define and open the modal, so I had to find a way to surface the component JS to that page: https://docs.abp.io/en/abp/latest/UI/AspNetCore/Modals#

[2022-09-26 19:25] VivienMAN opened #14144 "No Feature Option in UI."
* Your **ABP Framework version**. => 6.0.0 RC4
* Your **User Interface** type (Angular/MVC/React... etc.) => Blazor Servezr
* Your database provider(EF Core/MongoDB) => EfCore
* Steps needed to **reproduce** the problem.

I followed the documentation to create a feature but I don't see it in the ui, nor in the tenants.
https://docs.abp.io/en/abp/latest/Features
But if I use the function `await _fe

[2022-09-26 22:47] realLiangshiwei commented on #14144
You need to set `ValueType`
https://docs.abp.io/en/abp/latest/Features#other-feature-properties

[2022-09-26 22:47] #14144 closed, assigned to nobody

[2022-09-27 00:36] maliming opened #14145 "OpenIddict with DomainTenantResolver"
https://github.com/abpframework/abp-samples/tree/master/DomainTenantResolver
https://support.abp.io/QA/Questions/3765

[2022-09-27 00:43] maliming commented on #14133
hi

The `DatabaseManagementSystemChangeStep` doesn't support the `module` template now.

[2022-09-27 00:59] ILAOHE opened #14146 "abp suite create module templage error"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.6.0.0-RC4
* Your **User Interface** type Blazor
* Your database provider   EF

[2022-09-27 01:00] maliming commented on #14146
hi

Please get help on https://support.abp.io/ thanks.

[2022-09-27 01:00] #14146 closed, assigned to nobody

[2022-09-27 02:02] lee-vic commented on #14133
I see, but the CLI documentation and the output of the CLI seem to support it. During my testing, I found that the CLI's parameter checks were not strict.

[2022-09-27 05:10] maliming commented on #14002
hi

I think you can do this on the `PostContribute` method. Executing the `PreContribute` method multiple times is not a good way.

[2022-09-27 05:19] maliming commented on #11682
No. https://github.com/abpframework/abp/issues/11682#issuecomment-1066064249

[2022-09-27 06:04] #13996 closed, assigned to maliming

[2022-09-27 06:22] maliming commented on #14066
move to https://support.abp.io/QA/Questions/3762/Tenant-EditCreate-Modal---how-to-override

[2022-09-27 06:22] #14066 closed, assigned to nobody

[2022-09-27 11:47] WhThree commented on #13255
Hi @maliming , I meet an issue that Fluent Validation was NOT automatically called when not explicitly write a controller

Not automatically validate in this case:
[code]
[code]

Only when I write a controller manually without the configuration above, and get a service by DI, then the auto-validation works:

[code]

Could you please tell me why, looks like InvocationValidator not work when method

[2022-09-27 12:01] IgorMahotkin opened #14156 "Сustom message"
I have a modal window. This window contains a form. I need to display an error to the user after server validation with a custom message not associated with a specific form field. If you use AbpValidationException, the user only sees a generic message.
[code]
The creation of AbpValidationException occurs on the side of the backend code of the page in the OnPostAsync method.

[code]

[2022-09-27 13:45] VivienMAN opened #14159 "Authorization failed UserLookup"
Your ABP Framework version. => 6.0.0 RC4
Your User Interface type (Angular/MVC/React... etc.) => Blazor Servezr
Your database provider(EF Core/MongoDB) => EfCore
Steps needed to reproduce the problem.

In my exemple.razor

[code]

Error when I call UserLookup.SearchAsync(input)

[15:29:01 INF] Authorization failed. These requirements were not met:
PermissionRequirement: AbpIdentity.UserLookup
[15:

[2022-09-27 14:20] #13995 closed, assigned to maliming

[2022-09-27 20:54] #14084 closed, assigned to nobody

[2022-09-27 21:13] gterdem commented on #14068
This seems a problem related to the token being invalidated and not refreshed causing user to be forced to sign out. Are there any browser console or back-end logs when this occurs?

[2022-09-27 21:17] gterdem commented on #14080
Audit logging doesn't work entity-wise but you can enable auditing for all the entities and extend the Audit logging module and customize the UI to provide entity history for each entity in a segmented way.

[2022-09-27 21:18] gterdem commented on #13993
What exactly is **ssr?**

[2022-09-27 21:21] stristan commented on #14068
I will try to reproduce again and provide logs. However, in case of forced logout - at attempt to to access secured page - the UI should route to login page automatically, which is not in my case. In my case I see the attached screenshot

[2022-09-28 02:45] maliming commented on #13964
This is not related to the basic theme but instead to pro moduels.

[2022-09-28 03:21] #14132 closed, assigned to nobody

[2022-09-28 05:06] #13964 closed, assigned to maliming

[2022-09-28 06:22] #14104 closed, assigned to yekalkan

[2022-09-28 06:47] l494422810 opened #14165 "PropertyNamingPolicy Property configuration of the ABP dynamic proxy"
**abp** Framework version 5.3.4.
Use volo.abp.http.client to develop abp dynamic C# api clients
On the server Module file matching JsonSerializerOptions. PropertyNamingPolicy is null, the client proxy fails.
An error message is displayed. Object Reference not set to an instance of an Object.
If annotate the PropertyNamingPolicy code  can access it correctly

The configuration code is as follows
**

[2022-09-28 08:30] VivienMAN opened #14167 "Audit-Logging enhancements"
The audit system does not allow to save the modifications of a collection on an Entities.

I think it could be an added value.

Or maybe it's a voluntary choice not to log the collections, but I don't understand this decision.

Modification of the collection of the object "Engin".
There is a record but propertyChanges is empty.

[code]

[2022-09-28 09:36] maliming commented on #14024
I can't refer to [DaprEndpointRouteBuilderExtensions](https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.AspNetCore/DaprEndpointRouteBuilderExtensions.cs) class, they use some **internal** classes.

I will open a PR in `dapr/dotnet-sdk`. If they accept it will be easy to implement.

[2022-09-28 11:19] stristan commented on #14068
Below is a part of Blazor server app log file which indicates the problem. The request from blazor is not reached server API part.

[blazor_bd21ddab-5]: [13:16:41 INF] Executed endpoint '/_blazor'
[blazor_bd21ddab-5]: [13:16:41 INF] Request finished HTTP/1.1 GET https://localhost:44314/_blazor?id=9Wl06-BR3LAIrB72jvQm0g - - - 101 - - 80358.5164ms
[blazor_bd21ddab-5]: [13:16:41 INF] Request starting

[2022-09-28 11:20] stristan commented on #14068
And again - trying to logoff and login again - same situation

[2022-09-28 11:30] WhThree opened #14168 "Fluent Validation NOT automatically called when using service and controller directly"
I meet an issue that Fluent Validation was NOT automatically called when not explicitly write a controller

Not automatically validate in this case:
[code]
[code]

Only when I write a controller manually without the configuration above, and get a service by DI, then the auto-validation works:

[code]

Does anyone know the reason, looks like InvocationValidator not work when method is called as an

[2022-09-28 12:01] ebicoglu commented on #13532
What do you mean by resetting Tenant password. A tenant doesn't have a password but a list of users.

[2022-09-28 12:02] hikalkan commented on #13532
Only resetting tenant admin's password could be possible, if we implement it. However, they can easily reset their own passwords using "forgot password" page.

[2022-09-28 12:16] alexandis opened #14170 "Error on dismissing Edition Edit dialog"
ABP 5.1.2
Angular
EF Core

On dismissing the dialog:
![image](https://user-images.githubusercontent.com/6149843/192776159-62cde528-198d-4476-851e-25ba749e7f4a.png)

I'm getting this:
![image](https://user-images.githubusercontent.com/6149843/192776249-e91b75b0-2f3b-40ae-9b04-7842b1e9b1f1.png)

[2022-09-28 12:25] julian-forster commented on #13532
I think it would be a great feature resetting the tenant's admin password.

[2022-09-28 12:35] sturlath commented on #13532
What I meant @ebicoglu was as a Host you should be able to select tenant admin users and reset their psswords.

[2022-09-28 13:43] hikalkan commented on #13532
I am closing this, we will track this internally and decide if we can implement this.

[2022-09-28 13:43] #13532 closed, assigned to mahmut-gundogdu

[2022-09-28 13:45] hikalkan commented on #13532
BTW, setting password is possible via [ABP Commercial Identity Pro module](https://commercial.abp.io/modules/Volo.Identity.Pro). But setting password of an admin user is a different thing, because the SaaS or Tenant Management module has no dependency to the Identity module.

[2022-09-28 14:25] leonkosak commented on #14107
We removed bundles and referenced minified library files directly and described issue disappeared.
@maliming, is somehow possible that bundles (with minification) are created during compilation?

[2022-09-28 14:58] animitta opened #14172 "The WebAPI Routing with optional query parameter is not supported by HideAbpEndpoints method."
## Environment

- ABP Framework version: 5.3.4

## Explains

The AbpSwashbuckleDocumentFilter  implementation has an error, because the key of OpenApiPaths is not contains `?` character.

[2022-09-28 18:42] ebicoglu opened #14173 "Add Content Security Policy (CSP) Header | penetration test"
**Penetration test reports** :

![image](https://user-images.githubusercontent.com/9526587/192863224-0dced8bd-8361-4823-8c9d-9ccbe27e667c.png)

**Solution:**

We should add the `Content-Security-Policy` response header to the following middleware
- https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore/Volo/Abp/AspNetCore/Security/AbpSecurityHeadersMiddleware.cs

For the Bl

[2022-09-28 18:58] ebicoglu opened #14174 "A Format String error occurs | penetration test"
Penetration test reports:

The following URL throws the exception:
https://localhost:44333/Abp/Languages/Switch?culture=ar&returnUrl=%2F&uiCulture=ZAP%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%25n%25s%0A

![image](https://user-images.githubusercontent.com/9526587/192865739-804a1fe9-d00e-49

[2022-09-28 19:26] ebicoglu opened #14175 "`x-frame-options` header is not added to the response | penetration test"
**Penetration test reports:**
The response does not include either Content-Security-Policy with 'frame-ancestors' directive or X-Frame-Options to protect against 'ClickJacking' attacks.

When I filter the header `x-frame-options` I don't see it in the response headers
![image](https://user-images.githubusercontent.com/9526587/192869579-3347b4b1-c0b9-40c9-8f2e-b38339a146b9.png)

But this should be

[2022-09-28 19:39] ebicoglu opened #14176 "Vulnerable jQuery library v3.3.1"
ABP Framework jQuery dependency is v3.6.0, and it's defined at https://github.com/abpframework/abp/blob/dev/npm/packs/jquery/package.json#L14

But the penetration tool reports that ABP uses jQuery v3.3.1.
This is correct, when you check the ABP Commercial Test App.
It can be seen that v3.3.1 is being used; see the following screenshots:
![image](https://user-images.githubusercontent.com/9526587/19

[2022-09-28 19:44] ebicoglu opened #14177 "Application Error Disclosure | penetration test"
The following pages contain an error/warning message that may disclose sensitive information like the file's location that produced the unhandled exception. This information can be used to launch further attacks against the web application.

- POST: https://localhost:44378/Account/ImpersonateTenant
- POST: https://localhost:44378/Account/ImpersonateUser
- POST: https://localhost:44378/Account/Mana

[2022-09-29 01:57] maliming commented on #14165
hi

* Steps needed to **reproduce** the problem.

[2022-09-29 02:17] maliming opened #14178 "Avoid using `eval` in javascript."
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared/wwwroot/libs/abp/aspnetcore-mvc-ui-theme-shared/jquery/jquery-extensions.js#L147

[2022-09-29 02:26] maliming commented on #14167
hi

* Steps needed to **reproduce** the problem.

[2022-09-29 02:29] maliming commented on #14168
hi

Can you try to add `virtual ` to method?

`public virtual Task TempCall([FromBody] TestDto1 data) {`

[2022-09-29 02:30] maliming commented on #14172
hi

* Steps needed to **reproduce** the problem.

[2022-09-29 04:21] animitta commented on #14172
#  Reproduce this steps
- Create a new web project.
- Create a FileController
[code]
- Add `options.HideAbpEndpoints()` to the ConfigureSwaggerServices method of HttpApiHostModule class.

This is demo code [reproduce](https://github.com/animitta/reproduce)

[2022-09-29 05:53] EngincanV commented on #14172
Thanks @animitta, I will check.

[2022-09-29 06:12] VivienMAN commented on #14167
Class Engin
[code]
When you add an object to the BulleEngins collection, it is not saved.

/api/audit-logging/audit-logs

[2022-09-29 06:25] maliming commented on #14175
The `x-frame-options` header is added on response headers.

![image](https://user-images.githubusercontent.com/6908465/192954777-681c3d97-bbcf-4a90-adc1-26bdd6a2f3e5.png)
![image](https://user-images.githubusercontent.com/6908465/192955064-b72670c3-33af-4c7b-952b-5998a7f5b8fa.png)

[2022-09-29 07:05] #14095 closed, assigned to nobody

[2022-09-29 07:10] maliming commented on #14177
Is the app running penetration tests in **production** mode?

[2022-09-29 07:28] maliming commented on #14173
This is a complex feature, I recommend developers set it up according to the situation.

[2022-09-29 07:28] FisherMS opened #14181 "abp windows service template has a bug? , It can not start it when installed as a window service ."
1. create abp windows service solution.
[code]
2. build it.
3. use bat install the service .
[code]
5. start it in mmc and it will be take a long time to start but return a error.

![0002](https://user-images.githubusercontent.com/12068896/192978078-8d8b231e-aaa3-44e0-a0b2-f9c9a20d0d5d.png)

[2022-09-29 07:48] maliming commented on #14181
What is the error?

[2022-09-29 08:16] FisherMS commented on #14181
![0002](https://user-images.githubusercontent.com/12068896/192978078-8d8b231e-aaa3-44e0-a0b2-f9c9a20d0d5d.png)

[2022-09-29 09:02] maliming commented on #14024
https://github.com/dapr/dotnet-sdk/pull/961

[2022-09-29 10:43] ebicoglu commented on #14173
why do you think it's complex? what kind of inappropriate behavior will happen?

[2022-09-29 10:49] gterdem opened #14184 "IdentityModel discovery endpoint missing policies"
**Problem:**
On Kubernetes deployment, server-to-server communication requests for the discovery endpoint should be internal requests without HTTPS. Since [IdentityModelAuthenticationService](https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.IdentityModel/Volo/Abp/IdentityModel/IdentityModelAuthenticationService.cs#L150-L153) only uses require

[2022-09-29 10:50] malikmasis commented on #14083
Wait for https://github.com/abpframework/abp/issues/14184

[2022-09-29 12:29] gterdem commented on #14083
Changes are merged https://github.com/abpframework/abp/pull/14185.

Waiting for package deployment for [AdministrationService HttpApi.Client dependency](https://github.com/abpframework/eShopOnAbp/blob/767af543b7009504b6748301f3a908acf9ab576c/services/administration/src/EShopOnAbp.AdministrationService.HttpApi.Host/EShopOnAbp.AdministrationService.HttpApi.Host.csproj#L17) and [CmsKitService HttpApi

[2022-09-29 13:26] ebicoglu commented on #14175
I can also see it, but the tool reported this as a missing header.
I think it's because of the Debug mode.
Closing the issue since it's a false-positive alert.

![image](https://user-images.githubusercontent.com/9526587/193043831-3cb17ecb-7233-4282-a9b0-cd2e29e3f190.png)

[2022-09-29 13:27] #14175 closed, assigned to maliming

[2022-09-29 13:33] ebicoglu commented on #14177
I tested again with the Release mode, and I can see the exception is thrown to the client

**This is the request:**
[code]

**This is the response:**
[code]

**See the screenshot:**
![image](https://user-images.githubusercontent.com/9526587/193045211-7b78a7dc-6cdf-4e4b-88d2-62e1e407ce12.png)

Running on Release mode
![image](https://user-images.githubusercontent.com/9526587/193045704-814b5fb9-a373

[2022-09-29 20:43] leaortiz opened #14190 "Null Reference Exception When LazyServiceProvider.LazyGetRequiredService<***>"
Hi guys,

I am getting a nulll reference exception on properties derived from DomainService (Clock, GuidGenerator, and so on) on my brand new module.
It was created using the following command:  abp add-module ProductManagement --new --add-to-solution-file

Steps to reproduce:
Create a new app using the get started page, then add a new module.
Write the following code:

![image](https://user-image

[2022-09-29 23:59] rqx110 commented on #14173
there is an repo https://github.com/andrewlock/NetEscapades.AspNetCore.SecurityHeaders may help

[2022-09-30 00:50] jortygu commented on #11100
@maliming is there any chance use outbox pattern in local event，i want to save data and event in same  transaction and then trigger event by background worker (with retry system)，i don't want to use real distributed event bus.

[2022-09-30 01:00] maliming opened #14191 "Can't create role, user and tenant."
Because the button can't be found from the `Wrapper`.

[.../Identity/Roles/index.js#L138](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Roles/index.js#L138)
[.../Identity/Users/index.js#L173](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/index.js#L173)
[.../TenantManagement/Tenan

[2022-09-30 01:21] maliming commented on #14177
It's not Debug or Release, Try to set `ASPNETCORE_ENVIRONMENT` to `Production`.

![image](https://user-images.githubusercontent.com/6908465/193169627-91dbac55-1d91-4c06-be5f-24f7e12632b0.png)

[2022-09-30 01:24] maliming commented on #14190
hi

The properties of `DomainService` will be set after the constructor method.

[2022-09-30 01:26] #14172 closed, assigned to EngincanV

[2022-09-30 02:01] #14191 closed, assigned to maliming

[2022-09-30 02:55] realLiangshiwei commented on #14190
Or you can use the constructor injection.

[2022-09-30 03:19] #14174 closed, assigned to maliming

[2022-09-30 05:19] maliming commented on #14173
CDN fonts and images may be used in the project. We cannot predict which URL resources will be used by customers, so we cannot set a default policy URL.

[code]

[2022-09-30 05:20] l494422810 commented on #14165
when i set the JsonOptions JsonSerializerOptions.PropertyNamingPolicy = null in mvc
the remote service request throw an exception Object reference not set to an instance of an object.

[2022-09-30 05:40] maliming commented on #14165
You can try to override this method.

https://github.com/abpframework/abp/blob/ed8045408b84d079265e66d235634d208e81ce3b/framework/src/Volo.Abp.Http.Client/Volo/Abp/Http/Client/DynamicProxying/ApiDescriptionFinder.cs#L121

[2022-09-30 08:07] #14176 closed, assigned to maliming

[2022-09-30 11:54] leaortiz commented on #14190
They came from lazyServiceProvider, on the screenshot was a quick test, they also fail on methods after constructor was called.

[2022-09-30 12:51] maliming commented on #14190
hi

Please share code to reproduce.

[2022-09-30 14:20] WhThree commented on #14168
Yes, it works, thanks a lot! @maliming

[2022-09-30 15:02] leaortiz commented on #14190
Repo: https://github.com/leaortiz/Mainumbi.Survival
Failing Code: https://github.com/leaortiz/Mainumbi.Survival/blob/master/modules/Mainumbi.Pool/src/Mainumbi.Pool.Domain/BookManager.cs

You can run the tests to find the failing code also

[2022-09-30 19:32] gdlcf88 commented on #11210
I found a good article about event/message ordering.

https://danielw.cn/messaging-reliability-and-order#what-kind-of-ordering-you-need

[2022-10-01 01:13] #14168 closed, assigned to nobody

[2022-10-01 10:14] #13025 closed, assigned to mahmut-gundogdu

[2022-10-01 10:14] #13004 closed, assigned to nobody

[2022-10-01 10:14] #13043 closed, assigned to nobody

[2022-10-01 10:15] #12997 closed, assigned to nobody

[2022-10-01 10:15] #13018 closed, assigned to nobody

[2022-10-01 10:15] #13062 closed, assigned to nobody

[2022-10-01 10:15] #13063 closed, assigned to nobody

[2022-10-01 10:15] #13084 closed, assigned to nobody

[2022-10-01 10:15] #13040 closed, assigned to nobody

[2022-10-01 10:15] #13113 closed, assigned to nobody

[2022-10-01 10:15] #13123 closed, assigned to nobody

[2022-10-01 10:15] #13125 closed, assigned to nobody

[2022-10-01 10:15] #12359 closed, assigned to nobody

[2022-10-01 10:15] #13187 closed, assigned to nobody

[2022-10-01 11:26] fileman commented on #12593
I'm waiting a reply from the team

[2022-10-01 15:26] gdlcf88 opened #14196 "Entity synchronizers and a new EntityVersion audit property"
These are my personal opinion. I am unsure if it is a good idea. More suggestions are welcome. 🌹

## Entity Synchronizers

Entity synchronizers are in high-frequency demand for distributed app and module development.

https://github.com/abpframework/abp/blob/48c52625f4c4df007f04d5ac6368b07411aa7521/modules/blogging/src/Volo.Blogging.Domain/Volo/Blogging/Users/BlogUserSynchronizer.cs#L9-L41

It sub

[2022-10-01 19:31] abdullahshaqaliah commented on #14114
Dear @realLiangshiwei
There another issue
[code]
When I generated the proxy it will be generate from IContentUpdateAppService interface not from ISeriesAppService interface
[code]

@realLiangshiwei  Do you have a magical solution to this problem now?

[2022-10-02 10:40] abdumostafa commented on #3859
Any updates regarding this issue ?

[2022-10-02 11:41] Shtong opened #14198 "The `switch-to-preview` command craches with UnauthorizedAccessException"
ABP version : 5.3.4

Steps to reproduce the problem:
- Install the ABP CLI using `dotnet tool install -g Volo.Abp.Cli`
- Switch the the preview version using `abp switch-to-preview`

Ouput of these two commands;

[code]

### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and

[2022-10-02 13:45] JadynWong commented on #14190
Hi @leaortiz,

For `PoolManager_Tests.Will_Add_New_Ticket` error. The correct usage is as follows. But your code has some other errors that need to be changed. `PoolDbContext` should add `DbSet<TEntity>` properties.

I think you can read [tutorial](https://docs.abp.io/en/abp/latest/Tutorials/Part-1?UI=MVC&DB=EF).

![image](https://user-images.githubusercontent.com/13699353/193456860-b5884e00-6444-

[2022-10-02 23:44] leaortiz commented on #14190
Wow thanks a lot for your time!

[2022-10-03 00:24] #14190 closed, assigned to nobody

[2022-10-03 04:38] maliming commented on #14198
Please execute this command in your project directory.

[2022-10-03 08:21] uyarbtrlp opened #14205 "Converting the text of row action to a callback to render the text dynamically"
Hello,

I've mentioned that issue on https://support.abp.io/QA/Questions/3787/How-to-set-the-text-of-one-of-the-action-button-according-to-property-of-object-returned
It would be nice to use like that for us.

Thanks.

[2022-10-03 08:40] #14184 closed, assigned to gterdem

[2022-10-03 09:38] maliming commented on #13512
https://github.com/twbs/bootstrap/releases/tag/v5.2.2

[2022-10-03 09:38] #13512 closed, assigned to maliming

[2022-10-03 11:47] ebicoglu opened #14206 "Write all auth response to the `access-token.bin` in ABP CLI"
Reason: When the token expires, Suite throws an exception!

1- Write the complete auth response JSON content to the `%UserProfile%\.abp\cli\access-token.bin` file. (No need because we can decode JWT and get expire date)
2- Check if the token expiration date is still valid for ABP Suite after opening it.
3- Check ABP CLI project creation if the token is still valid.

PS: this is a Preliminary issue

[2022-10-03 11:51] yekalkan commented on #14206
![image](https://user-images.githubusercontent.com/5793291/193570404-69568b5d-469b-4ef8-97c6-98de9aee3816.png)

[2022-10-03 12:13] ebicoglu commented on #14206
Decode JWT => https://jwt.io/

`exp` field is used for expiration date
`iat` field is used for issued date.

date fields are Unix epoch format and can be converted to date property https://www.epochconverter.com/
`var dateTime2 = DateTimeOffset.FromUnixTimeSeconds(unixTimeSeconds).LocalDateTime;`

[code]

![image](https://user-images.githubusercontent.com/9526587/193573871-654da10e-f54d-42c8-9b45-

[2022-10-03 12:27] StlobyAdmin opened #14210 "Blazor LeptonXLite logo link tag is linking to "~/" instead of "/""
The blazor wasm lpx-brand-logo picture link is broken "a href="~/" please fix to "a href="/"

* ABP Framework version 6.0.0RC4*.
* Blazor App*
* Steps needed to **reproduce** the problem - default wasm template of RC4 or 5, then click logo.*

[2022-10-03 14:10] #14178 closed, assigned to maliming

[2022-10-03 14:50] fileman opened #14213 "ObjectExtensionManager use nullable on insert"
* Your **ABP Framework version**: 6.0-rc5
* Your **User Interface**: Blazor Server
* Your database provider: EF Core
* Exception message and **stack trace** if available (check the logs).
* Steps needed to **reproduce** the problem.

My code:
[code]
Error in logs:
[code]

Obviously putting nullable the IsStaffMember column in DB works correctly

[2022-10-03 14:56] #13751 closed, assigned to berkansasmaz

[2022-10-03 17:27] ebicoglu opened #14214 "The cookie `XSRF-TOKEN` is not HttpOnly"
Set the following cookies as `HttpOnly`

- [x] `XSRF-TOKEN`
- [x] `AspNetCore.Culture`
- [x] `idsrv.session`  (Identity Server cookie)

![image](https://user-images.githubusercontent.com/9526587/193634619-7c8a61ae-f892-4068-933a-13d3296256b5.png)
![image](https://user-images.githubusercontent.com/9526587/193646779-ffbd0428-a65d-4600-9bf6-9bb28509bdeb.png)

![image](https://user-images.githubuserco

[2022-10-03 19:06] ebicoglu opened #14215 "Set cookie `SameSite` attribute to `strict`"
The `SameSite` attributes of the cookies should be set to  `strict` or `lax`.
But some of our cookies are set to `None `or there's no `SameSite `attribute.

The following cookies' `SameSite` attributes are set as `None` and ideally, it should be `strict` or `lax`.

![image](https://user-images.githubusercontent.com/9526587/193657905-06d318d7-3007-4042-ac29-053a0e27b47f.png)

![image](https://user-

[2022-10-03 19:56] ebicoglu opened #14216 "Remove `X-Powered-By` response header"
**Description:**  The web/application server leaks information via one or more "X-Powered-By" HTTP response headers. Access to such information may facilitate attackers identifying other frameworks/components your web application relies on and the vulnerabilities such components may be subject to.

The `X-Powered-By` header is provided by ASP.NET Core.
The following URLs return HTTP responses with

[2022-10-03 20:20] ebicoglu opened #14217 "X-Content-Type-Options Header Missing"
**Description:**  The Anti-MIME-Sniffing header `X-Content-Type-Options` was not set to `nosniff`. This allows older versions of Internet Explorer and Chrome to perform MIME-sniffing on the response body, potentially causing the response body to be interpreted and displayed as a content type other than the declared content type.

**Solution:**  Ensure that the application/web server sets the `Cont

[2022-10-04 02:52] maliming commented on #14216
I think the header add by IIS Express, You can try to use `dotnet run` command to check.

https://github.com/dotnet/aspnetcore/issues/27192#issuecomment-715909444

[2022-10-04 03:35] maliming commented on #14214
### `XSRF-TOKEN` `AspNetCore.Culture`

We need to use `XSRF-TOKEN` and `AspNetCore.Culture` in JavaScript(angular).

### `idsrv.session`

It's by Identity Server design.
https://github.com/IdentityServer/IdentityServer3/issues/3512

[2022-10-04 03:50] maliming commented on #14215
`idsrv.session` and `.AspNetCore.Identity.Application` is control/changed by Identity Server.

https://github.com/IdentityServer/IdentityServer4/blob/3ff3b46698f48f164ab1b54d124125d63439f9d0/src/AspNetIdentity/src/IdentityServerBuilderExtensions.cs#L51

`XSRF-TOKEN` is `none` https://github.com/abpframework/abp/commit/9aec4f3ce35216731db05a4b462a57d64b2adf8b

`.AspNetCore.Culture` is `Unspecified`

[2022-10-04 12:47] maliming opened #14226 "Localized enum key name problem in JSON."

[2022-10-04 13:28] applebananamilk opened #14228 "In GetListAsync, the totalCount is 0, and the result is returned directly"
[https://github.com/abpframework/abp/blob/71074d74381d71adfe054c7c8071af8f936c1000/framework/src/Volo.Abp.Ddd.Application/Volo/Abp/Application/Services/AbstractKeyReadOnlyAppService.cs#L61](url)

![image](https://user-images.githubusercontent.com/37533208/193826983-be87a671-1131-4836-a41d-4f5acbaf9696.png)

Can it be optimized here?

[2022-10-04 17:08] muhlisatac opened #14229 "5.3-patch-final is still open"
Hi

[5.3-patch-final milestone](https://github.com/abpframework/abp/milestone/78) still open. Is there any issue there which is not included in 6.0 final?

[2022-10-04 23:23] appsupport-gc opened #14230 "AutoMapper in Submodule does not support "extra" properties in Dto object"
I just created a brand new project with a sub module with one test Entity and EntityDto in order to demonstrate an issue with AutoMapper in SubModules.

If a sub module has an Entity with a Dto object that has additional (extra) properties it will strangely cause the line "app.UseIdentityServer()" to fail in the base MainAppBlazorModule.

This was created using template version 5.3.4.

The test re

[2022-10-05 00:07] appsupport-gc commented on #14230
I tried the same thing from scratch in 6.0.0.-rc5 and at least now the error message is a bit more descriptive!

"AutoMapperConfigurationException:
Unmapped members were found. Review the types and members below.
Add a custom mapping expression, ignore, add a custom resolver, or modify the source/destination type
For no matching constructor, add a no-arg ctor, add optional arguments, or map all of

[2022-10-05 01:16] #14226 closed, assigned to maliming

[2022-10-05 01:49] 15937823 commented on #14229
We are looking forward to the release of 6.0 final. Why do we always delay it?

[2022-10-05 09:32] ebicoglu commented on #14173
according to [this repo](https://github.com/andrewlock/NetEscapades.AspNetCore.SecurityHeaders), they are adding the following header

[code]

and this is from GitHub.com
![image](https://user-images.githubusercontent.com/9526587/194029705-2148d8fb-51aa-4924-9421-21b5864873b5.png)

[2022-10-05 09:42] ebicoglu commented on #14173
I'm not sure if we should add this header by default, but at least we should make it optional.
You can add this header to the middleware if the developer passes `UseContentSecurityPolicyHeader: true` to [this method ](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore/Microsoft/AspNetCore/Builder/AbpApplicationBuilderExtensions.cs#L110)

[2022-10-05 09:50] ebicoglu commented on #14177
OK. That's right!
When the application runs on `Production` mode, it doesn't expose an error message.
![image](https://user-images.githubusercontent.com/9526587/194032512-452b1b61-3790-4ac9-80a5-262242b18f9d.png)

Closing this issue since it's a `false-positive` alert.

[2022-10-05 09:50] #14177 closed, assigned to maliming

[2022-10-05 10:39] muhlisatac commented on #14229
I don't want it to be delayed. I just wanted to remind them.

[2022-10-05 11:52] ebicoglu commented on #14214
All the pages that are setting `XSRF-TOKEN` , `.AspNetCore.Culture` and `idsrv.session` in the HTTP response are reported as "No `HttpOnly` Flag" vulnerability. This is a positive alert. `idsrv.session` cookie is being used in IDS4 and after ABP 6.x the support for IDS will be dropped therefore this cookie will not be used anymore. Also, there is an issue related to the `idsrv.session` cookie cann

[2022-10-05 11:52] #14214 closed, assigned to maliming

[2022-10-05 13:09] appsupport-gc commented on #14230
I found the solution:

Add .Ignore to CreateMap() for each extra property:

or set validation to false:

[2022-10-05 13:09] #14230 closed, assigned to nobody

[2022-10-05 13:52] ebicoglu commented on #14216
This happens when the application runs on IIS or IIS Express.
For those who want to remove this header automatically from all the responses, add the following code to the `web.config` file.

[code]

![image](https://user-images.githubusercontent.com/9526587/194077224-f52f52fc-38fb-43be-b59e-15bd792b6799.png)

[2022-10-05 14:52] ebicoglu opened #14236 "Add web.config file to the application templates"
This issue is started from the following issue https://github.com/abpframework/abp/issues/14216 .

For some configuration, we add `web.config` file to our templates (_app, app-nolayers, maui, wpf_)

First configuration is to remove `x-powered-by` header.
You can add other information to run the project on IIS like this https://github.com/aspnetboilerplate/aspnetboilerplate/blob/dev/test/aspnet-cor

[2022-10-05 14:53] ebicoglu commented on #14216
We'll add `web.config` to have this configuration out of the box with the new project templates.
See https://github.com/abpframework/abp/issues/14236

[2022-10-05 14:53] #14216 closed, assigned to maliming

[2022-10-05 15:22] ebicoglu commented on #14215
Setting `SameSite` attribute to `strict` may occur problems when an ABP website integrates with other 3rd party websites like payment gateways. We can leave this change to the final developer.
You can see the amazon.com website `SameSite` cookie attribute policy:

![image](https://user-images.githubusercontent.com/9526587/194098270-cf1f7125-1b11-40e8-b216-0d180aaa7f73.png)

[2022-10-05 15:22] #14215 closed, assigned to maliming

[2022-10-05 15:49] cbogner85 commented on #13999
Hello,

I just updated to ABP 6.0 final (MVC) and added
` options =>
                        {
                           options.Configuration["AllowUserToEdit"] = false;
                        }`
to my ExtraProperties - however, they are still editable from the user's Account Manage Page. What am I doing wrong?

[2022-10-05 20:32] KaungZawHtet opened #14237 "Error in Single-layered Template (migration problem )"
I did these steps and found error

1. Get the template from the website with these options (Single-layered Application , MVC, EF Core, MySQL)
2.  run the command from **migrate-database.ps1** file at Proj Directory.
3.  Found this err :

<img width="983" alt="Screen Shot 2022-10-06 at 2 58 51 AM" src="https://user-images.githubusercontent.com/15225530/194157538-7b94940f-97d7-4f2f-926e-50fc6fd0426c

[2022-10-06 02:34] #14217 closed, assigned to maliming

[2022-10-06 02:38] realLiangshiwei commented on #14213
How about this?

[code]

[2022-10-06 02:44] realLiangshiwei commented on #14198
You can use this command to **switch your project** to latest preview version of the ABP framework.
https://docs.abp.io/en/abp/latest/CLI#switch-to-preview

[2022-10-06 02:44] #14198 closed, assigned to nobody

[2022-10-06 06:41] totpero opened #14241 "Set autocomplete off when create new user"
Hi,

When new user modal is opened and credentials is saved in browser, the username and password is populated with browser credentials.
In [CreateModal.cshtml](https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Web/Pages/Identity/Users/CreateModal.cshtml#L32) you need to set the password input with this attribute `autocomplete="new-password" `. I tried to set `aut

[2022-10-06 07:02] enisn commented on #13999
Which UI Type are you using?

[2022-10-06 07:09] fileman commented on #14213
- Your ABP Framework version: 6.0 final
- **no problem with abp 5.3**

I've tried your suggestion before open the issue, but UI render textbox instead of checkbox.
A partial solution is to use bool? only in MapEfCoreProperty, but I need to user bool, not bool?

[2022-10-06 07:42] enisn commented on #14210
Thanks for your feedback, this issue was solved and it'll be released in next LeptonX release

[2022-10-06 07:42] #14210 closed, assigned to enisn

[2022-10-06 07:51] cbogner85 commented on #13999
Hi @enisn

I'm using LeptonX Commercial 1.0.0-rc.7 for MVC

[2022-10-06 07:52] #14205 closed, assigned to maliming

[2022-10-06 09:34] #13740 closed, assigned to gterdem, enisn

[2022-10-06 10:01] ventosh opened #14244 "You should run `abp install-libs` after successfull installation in your project folder to restore client-packages before running your project."
You should run `abp install-libs` after successfull installation in your project folder to restore client-packages before running your project.

_Originally posted by @enisn in https://github.com/abpframework/abp/issues/12995#issuecomment-1154803025_

This worked for me.
Thanks!

[2022-10-06 10:01] malikmasis opened #14245 "CmsKit - Code blocks doesn't render properly on the preview mode"
releated https://support.abp.io/QA/Questions/3814/Help-tickets-do-not-display-content-within-angle-brackets-Angle-brackets-cause-other-problems-with-text-after-the-code-block

[2022-10-07 02:53] phil-enfom opened #14246 "Exception handling from within LocalEventBus Event"
* Your 6.0 RC4
* Your Angular
* (EF Core)

When throwing a UserFriendly Exception from within an EntityUpdatedEventData<T> event a Unhandled exception is logged to the console and the UserFriendlyException is not shown to the user.

When throwing a UserFriendlyException from an EntityCreatedEventData<T> event the exception is handled and shown to the user in the angular interface.

[2022-10-07 07:51] malikmasis opened #14247 "eShop: LeptonX theme change needs"
- [ ] ![image](https://user-images.githubusercontent.com/13196534/194500036-222b0b97-cc11-4bbe-99af-e34b1266bde9.png)
- [ ] ![image](https://user-images.githubusercontent.com/13196534/194500299-f48ac09e-fc23-47e8-aaec-97917a5180fe.png)
- [ ] ![image](https://user-images.githubusercontent.com/13196534/194500491-2041e315-5daf-44fa-8e9e-5901f8e2b44f.png)
- [ ] ![image](https://user-images.githubuserc

[2022-10-07 08:57] #14244 closed, assigned to nobody

[2022-10-07 10:28] gdlcf88 commented on #14246
![image](https://user-images.githubusercontent.com/30018771/194532648-dff8e0d8-70a9-4fd0-83c4-dc6ba5f250b1.png)
![image](https://user-images.githubusercontent.com/30018771/194532424-45282af4-83bf-448f-87fe-85cced9af60b.png)

It returned 403 with the message "Hello World" as expected.

[2022-10-07 10:50] sturlath opened #14252 "Missing required indicators"
This is just a minor thing but there is no * for required fields in the UI (when creating a user)  so you discover it only after pressing save

![image](https://user-images.githubusercontent.com/2386572/194535798-3ea02024-ccdc-469b-9b64-9c106c74683c.png)

and the phone number and email have have no validation and accept what ever value (is this intended?)
![image](https://user-images.githubusercon

[2022-10-07 11:03] sturlath opened #14253 "User can "change" his/hers password with the same password"
Should this be allowed? At least the user should be informed about it...

**Steps:**
User login using team user credentials
The user clicks on the username displayed on the screen
User clicks on my account button
The user clicks on the change password option.
Expected Result:
The new password should be different than the old password

**Actual Result:**
Users can change the password by entering th

[2022-10-07 11:23] sturlath opened #14254 "Two different logout pages"
Following the steps here below its random on what type of page we end up on after logging out.

**Steps:**
Log in with tenant user credentials
Click on tenant username displayed on homepage (MVC).
Select log out option

**Expected Result:**
Only one type of window should display when a team user logs out of the system.

**Actual Result:**
We can see there are two types of windows displays when a t

[2022-10-07 13:42] enisn opened #14259 "Identity Unit Tests Fail: SqliteConnection does not support nested transactions."
[xUnit.net 00:00:04.33]     Volo.Abp.Identity.EntityFrameworkCore.OrganizationUnitRepository_Tests.RemoveOrganizationUnitFromUser [FAIL]
  Failed Volo.Abp.Identity.EntityFrameworkCore.OrganizationUnitRepository_Tests.RemoveOrganizationUnitFromUser [3 s]
  Error Message:
   System.InvalidOperationException : SqliteConnection does not support nested transactions.
  Stack Trace:
     at Microsoft.Dat

[2022-10-07 14:03] aicreed opened #14260 "Openiddict Migration - CurrentUser.Name is null"
Framework: 6.0.0
UI: Blazor WASM.
Database: EF Core.

Reproduce: Attempt to migrate from Identity Server to Openiddict using official guide.

Issue: Calling CurrentUser.Name and CurrentUser.Surname inside the Blazor WASM project following the migration to Openiddict results in a null reference exception, despite data existing in the database. This issue was not present under Identity Server.

[2022-10-08 03:32] advapiIT commented on #13016
It doesn't seems to me on 5.3.4

[2022-10-08 06:32] xxvolvo opened #14267 "Entity Extensions Issue"
When I upgrade to 6.0.0，the ExtraProperties do not read or write from the specific fields，but from the ExtraProperties.
I have configure the ModuleExtensionConfigurator both in Domain.Shared and EntityFrameworkCore.
It works well in 6.0.0-rc

[2022-10-08 08:03] geextudio commented on #1168
I am big fan of Vue and ABP, but I suggest the team keep ABP independent from any front-end framework since UI startup template never meet everyone's UI design, and we seldom use the default UI template in real world.

A practical guide or examples to integrate ABP backend service to any frontend is a better idea.

[2022-10-08 08:12] phil-enfom commented on #14246
Ok done some more looking into the issue, have created a new project and added the following:
![image](https://user-images.githubusercontent.com/63820281/194697362-7f723af7-d7df-4bb2-9065-bf42cc376790.png)

The exception fires but the error is not returned to the page, Fiddler reports
![image](https://user-images.githubusercontent.com/63820281/194697400-2f21fd4c-666e-4c42-827c-77e0925f1aa3.png)

A

[2022-10-08 09:12] Znow commented on #5519
@Xeevis Good work! Did you manage to get further with this?

[2022-10-08 10:05] maliming commented on #14267
What is the version of rc?

[2022-10-08 10:07] maliming commented on #14260
hi

Can you try with the 6.0 template project?

[2022-10-08 10:35] xxvolvo commented on #14267
6.0.0-rc.4

[2022-10-08 10:56] aicreed commented on #14260
Hi,

I have just tried this, and can confirm it works as intended on the WASM 6.0 template. To attempt to remove any kind of mistakes I may have made, I also took a fresh branch off our code and redid the migration, however the issue still persists. The user guides I have used are as follows:

https://docs.abp.io/en/abp/latest/Migration-Guides/OpenIddict-Step-by-Step
and
https://docs.abp.io/en/abp

[2022-10-08 11:16] maliming commented on #14260
Please try to compare the startup(web) module code.

[2022-10-08 14:32] cicna commented on #13140
oh，only released v0.1

[2022-10-09 01:47] zsanhong opened #14269 "Bug In Abp6.0 when add-module Volo.Account --with-source-code"
when I use cmd ` abp add-module Volo.Account --with-source-code --add-to-solution-file`
I can't run the application,the logs show
`System.IO.FileNotFoundException: Could not load file or assembly 'Volo.Abp.Account.Web, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null'. 系统找不到指定的文件。
File name: 'Volo.Abp.Account.Web, Version=6.0.0.0, Culture=neutral, PublicKeyToken=null'`

finally, I resolve the

[2022-10-09 10:14] phongphongg opened #14271 "[Text templating Scriban] How can I pass a raw string instead of template name?"
- ABP Framework Version: 6.0
- Text templating Scriban

How can I pass a raw string instead of template name? If yes, how should I do it?

Example:
[code]

Thanks

[2022-10-09 10:26] maliming commented on #14271
You can use `Scriban` API instead of `ITemplateRenderer`.

[2022-10-09 10:50] maliming commented on #14236
https://discord.com/channels/687243951924838430/813771137933901825/1028605482111340605

[2022-10-09 15:16] ebicoglu opened #14272 "blog doesn't render preview text good"
I texted the below message. And as you see, medium.com preview is good, but our blog module renders HTML text.

https://discord.com/channels/687243951924838430/687243952365371447/1028686289471557744

![image](https://user-images.githubusercontent.com/9526587/194764705-41233564-47e7-4e28-9ed9-891215c94765.png)

[2022-10-09 19:36] advapiIT opened #14273 "After upgrade from 5.3.4 to 6 I got the following error while starting the application"
Upgrade from 5.3.4 to 6
 MVC
 PostgreSQL

 Hello after upgrade to 6 I got the following exception

_ComponentNotRegisteredException: The requested service 'Volo.Abp.AspNetCore.MultiTenancy.MultiTenancyMiddleware' has not been registered. To avoid this exception, either register a component to provide the service, check for service registration using IsRegistered(), or use the ResolveOptional() met

[2022-10-10 00:36] maliming commented on #14273
hi

Please try to create a new 6.0 project and compare the code(module).

[2022-10-10 01:07] maliming commented on #14228
What's your expectd?

[2022-10-10 01:16] maliming commented on #14267
Please share a GitHub repository to reproduce the problem, Thanks.

[2022-10-10 01:24] maliming commented on #14237
I tried it in Win and it works. @realLiangshiwei Can you test it in MAC?

[2022-10-10 03:44] xxvolvo commented on #14267
https://github.com/xxvolvo/TestExtraProperties
The demo use PostgreSQL.
I add a new field --"LineManagerId" and u can post "api/app/test/test" directly.
The result like this
![image](https://user-images.githubusercontent.com/16984534/194796351-fca04f93-1d6f-409c-a218-9d6a4df4459c.png)
but in 6.0.0.-rc4 it will be like this
![image](https://user-images.githubusercontent.com/16984534/194796462-2621c

[2022-10-10 05:25] maliming commented on #14167
hi

What's the code of `EnginBulleEngin` class and app service code?

[2022-10-10 06:01] aicreed commented on #14260
Hi,

I have compared the Blazor Module code to the test template project I made and it appears to be identical, including the ConfigureAuthentication method which adds the OpenIddict claims.

Thanks.

[2022-10-10 06:08] VivienMAN commented on #14167
hi @maliming

I add you to the repo.

[2022-10-10 06:49] realLiangshiwei commented on #14237
I can't reproduce the problem

[2022-10-10 07:45] #14236 closed, assigned to maliming

[2022-10-10 07:49] Xeevis commented on #5519
Hey, thanks @Znow. I have a prototype site I've made like a year ago that has many of the stuff working I just need to bring it over to latest versions and document it. If you have any particular issues you'd like to see solved as a priority, feel free to open separate issues in my [repo](https://github.com/Xeevis/Acme.BookStore.WasmPrerendered).

[2022-10-10 08:56] maliming commented on #14167
hi

Please try to use an opensource project and simple code to reroduce. Thanks

[2022-10-10 09:03] #14145 closed, assigned to maliming

[2022-10-10 09:12] realLiangshiwei commented on #14213
Hi

Try this:
[code]

[2022-10-10 09:19] realLiangshiwei commented on #14254
![image](https://user-images.githubusercontent.com/16813853/194834437-babf437f-0bf5-41e9-8de2-0d24d8e04554.png)

The image 1 is auth server logged out page, and it will redirect to your client, (image 2)

[2022-10-10 09:32] realLiangshiwei commented on #14252
We will improve it.

[2022-10-10 09:47] barnybadzoo opened #14278 "Update Docs: Creating new microservice"
abp framework 6.0.0
latest docs url: https://docs.abp.io/en/commercial/latest/startup-templates/microservice/add-microservice

Please update docs to replace IdentityServer Configuration with OpenIddict Configuration

[2022-10-10 10:36] #14259 closed, assigned to realLiangshiwei

[2022-10-10 10:38] fileman commented on #14213
I didn't explain very well, with "Obviously putting nullable to the IsStaffMember column in DB works fine" I meant using bool in Dto and bool? in the EfCore property is a workaround, but it is not the solution because I don't want null values.

What is changed from 5.3 to 6 to add this breaking?

[2022-10-10 11:48] iamsedatozturk commented on #14267
Can confirm, its this line causing to remove all Extending configuration to be removed.
https://github.com/abpframework/abp/blob/ccbdfa58212d64e0ca624058acede03002a4aeb6/framework/src/Volo.Abp.ObjectExtending/Volo/Abp/ObjectExtending/Modularity/ModuleExtensionConfigurationHelper.cs#L177

When I remove it, I can get my ExtraProperties successfully.
Before:
![1](https://user-images.githubusercontent

[2022-10-10 12:28] #13350 closed, assigned to malikmasis

[2022-10-10 12:43] realLiangshiwei commented on #14213
I create a new project and could not reproduce the problem.

![test](https://user-images.githubusercontent.com/16813853/194868913-6cb2543e-c5b3-47da-825e-e0b940d79664.gif)

I don't know what's blocking you, could you share a repository? thanks.

[2022-10-10 12:45] realLiangshiwei commented on #14237
We will fix it, you can add the `DbContextFactory` class to your project.

[2022-10-10 12:45] #14237 closed, assigned to maliming

[2022-10-10 13:01] cbogner85 commented on #13999
Hello  @enisn,

it's easy to reproduce:

- create new solution with 6.0.0 final
- UI Framework: MVC
- Theme: LeptonX

Add to MyProjectModuleExtensionConfigurator:

![image](https://user-images.githubusercontent.com/49239838/194871994-e2f5ba20-01af-44ef-905f-084758c13a2c.png)

Run project, create a user and login as this user, go to My Account > Personal info:

![image](https://user-images.githubus

[2022-10-10 13:13] fileman commented on #14213
Maybe I have found the problem, in my solution there is even the following code:
[code]
The property is added to ExtraProperties instead of in it's own column, even Add-Migration doesnt detect the new "IsStaffMember" column. [docs](https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#database-mapping)

I have to delete ConfigureIdentity ?

[2022-10-10 13:56] aicreed commented on #14260
I've done some more testing and I have discovered that instead of using CurrentUser, calling GetAsync on the IProfileAppService returns all properties including name and surname. This will suffice as a fix for now, but I am still unsure of the root cause of the issue with CurrentUser.Name.

I should also note all other properties (Surname, email, GUID, username) all appear to be present.

[2022-10-10 14:02] #14173 closed, assigned to maliming

[2022-10-10 16:41] sturlath commented on #14254
The thing is that the first page doesn´t redirect (at least not consistently) and the later one still shows the user logged in.

[2022-10-10 21:23] abdullahshaqaliah opened #14281 "The abp framework integrated with another microservice has a built-in identity server"
ABP Framework version is 6
User Interface mvc

Hi
I have microservice not based on abp framework but shared with the same identity server how i can send request from abp to the microservice with authitication header  and return the result to application based on abp framework.

[2022-10-11 01:37] #14241 closed, assigned to maliming

[2022-10-11 01:50] maliming commented on #14181
The console app will not exit.

[2022-10-11 01:50] #14181 closed, assigned to nobody

[2022-10-11 02:33] realLiangshiwei commented on #14254
I can't reproduce the problem.

BTW, if you don't want to see the auth server logged out page, you can customize the logged out page.

I don't think it has anything to do with open source, so I closed the issue. : )

[2022-10-11 02:33] #14254 closed, assigned to nobody

[2022-10-11 02:44] realLiangshiwei opened #14283 "CMS unit tests failed"
Related to: https://github.com/abpframework/abp/pull/13635

[2022-10-11 02:46] maliming commented on #14281
hi

abp uses claims-based authentication. So your IDS only needs to return standard claims to the abp client.

[2022-10-11 03:01] abdullahshaqaliah commented on #14281
Thank you for reply
There  any code how i can sent http request from abp framework built in to different microservice  or just i used normal httpclient with asp.net?

[2022-10-11 05:41] enisn commented on #13999
Hi @cbogner85 ,
It seems you're using commercial template.

I realized the issue and we've fixed it. It'll be released in patch version 6.0.1 as soon as possible.

[2022-10-11 05:41] #13999 closed, assigned to enisn

[2022-10-11 07:38] element-dlapointe commented on #13905
Is it possible to get an answer to the first question at least, what’s the support plan for Lepton theme (not leptonx) as if we decide to move forward with this one, we need to make sure there is a long term support plan around it.

Thank you
***@***.***

Dominic Lapointe​

Global IT Development Director

Element Materials Technology

No. 60, 1175 Avenue Lavigerie

Quebec City

,

Quebec

G1V 4P1

[2022-10-11 07:41] realLiangshiwei commented on #14252
It actually has,  see: https://github.com/abpframework/abp/blob/dev/modules/identity/src/Volo.Abp.Identity.Application.Contracts/Volo/Abp/Identity/IdentityUserCreateOrUpdateDtoBase.cs#L26

[2022-10-11 07:51] realLiangshiwei commented on #13905
Could you create a question on the support website?  thanks.

[2022-10-11 08:25] #14252 closed, assigned to realLiangshiwei

[2022-10-11 08:48] Sunzhuokai opened #14289 "OpenIddict Migration guide document error"
Does Mean `typeof(AbpAccountWebOpenIddictModule)`
https://github.com/abpframework/abp/blob/5f9fd4c413ad001cc36b4637eb0d9e1bfdae3bb1/docs/en/Migration-Guides/OpenIddict-Mvc.md?plain=1#L30

[2022-10-11 09:01] NecatiMeral commented on #336
Upvote 👍🏼

[2022-10-11 09:13] #14283 closed, assigned to enisn

[2022-10-11 10:25] enisn opened #14290 "Localization Tests are broken"
[code]

![image](https://user-images.githubusercontent.com/23705418/195035072-7609f97c-626d-40c5-9c44-1e3f6c84cb56.png)

_Originally posted by @enisn in https://github.com/abpframework/abp/issues/14284#issuecomment-1274278012_

[2022-10-11 11:03] element-dlapointe commented on #13905
will do, thanks

[2022-10-11 11:29] mahmut-gundogdu commented on #13456
The ABP Commercial edition is affected by the bug. It has been fixed. The final patches for 5.3 will have it.

[2022-10-11 11:29] #13456 closed, assigned to mahmut-gundogdu

[2022-10-11 11:47] enisn commented on #14290
This is a stale issue. In the latest commit, there is no problem.

[2022-10-11 11:47] #14290 closed, assigned to nobody

[2022-10-11 13:39] fireheadbr opened #14296 "Property Extension Mapping not getting value on Abp 6.0"
On the last version of ABP (6.0) property extension mapping not getting value from property (worked on 5.3 version)

[code]
 or getting from ExtraProperties... found the key but the value is always null

[2022-10-11 13:39] mahmut-gundogdu commented on #14170
We have fixed the issue newer version of ABP. I have tested ABP 5.3. It works well. Now we are not supporting the 5.2 or less version of the app. My advice is, "you should update your app".

[2022-10-11 13:39] #14170 closed, assigned to mahmut-gundogdu

[2022-10-11 14:59] mahmut-gundogdu commented on #13533
I have produce the issue. InternalStorage is simple state manager tool. we are using only simple tasks. I am looking "why?" but  flux way says. your reducer make change one time per action.
![image](https://user-images.githubusercontent.com/2217899/195125547-85441b11-ffc8-4ca0-b008-dc25c26d4d25.png)

I would do the task like that

![image](https://user-images.githubusercontent.com/2217899/19512687

[2022-10-11 16:13] mahmut-gundogdu commented on #13533
but the main reason is the order of subscriptions.  if you change like that, It works as expected.
![image](https://user-images.githubusercontent.com/2217899/195144582-5ee22f1b-b277-45f8-8044-9d75c78ab4ca.png)

[2022-10-11 16:13] #13533 closed, assigned to mahmut-gundogdu

[2022-10-11 16:32] EngincanV opened #14299 "Community: Testing in ABP Framework"
While writing unit tests, there are some common requirements such as mocking the [CurrentUser](https://docs.abp.io/en/abp/latest/CurrentUser) or changing the tenant id, etc. A community article can be written to show how to achieve this kind of requirements easily with the ABP Framework.

[2022-10-11 20:49] sturlath opened #14300 "Id´s in top menu not being created (hard to do Playwright tests)"
We are trying to add Playwright tests and need id´s on the top menu

This is my menu
![image](https://user-images.githubusercontent.com/2386572/195194720-fc40f508-7192-4b13-add5-0a1af8103af2.png)

Adding elementId doesn´t change anything.
![image](https://user-images.githubusercontent.com/2386572/195194769-a1331e22-88f8-48ea-9b91-a58d000a8779.png)

There is also no id´s on the login button or afte

[2022-10-11 21:01] hatami57 commented on #5888
You need to do these two steps:

1. Add `Volo.Abp.Http.Client.IdentityModel` nuget package to the remote service client project
2. Add `typeof(AbpHttpClientIdentityModelModule)` in the remote service client module dependencies

for more information, see this document about [configuring auto-discovery endpoint](https://docs.abp.io/en/commercial/latest/startup-templates/microservice/synchronous-inte

[2022-10-12 01:07] #14289 closed, assigned to maliming

[2022-10-12 01:37] realLiangshiwei commented on #14296
* Steps needed to **reproduce** the problem.

Thanks.

[2022-10-12 02:17] abdullahshaqaliah commented on #14281
@maliming ??

[2022-10-12 02:25] maliming commented on #14281
I'm not familiar with your microservices and don't have much advice.

[2022-10-12 02:39] 344089386 opened #14303 "An error occurred when an embedded resource was loaded after publication"
I tried the monaco-editor and it worked well in the development environment, but it started loading problems after release. Please help me take a look.

![image](https://user-images.githubusercontent.com/22017199/195236221-f7e860d3-d0af-48c4-9fa6-cc4bb56b79fe.png)

development environment: Abp 6.0   Razor  EFCore

The difference between publish1 and publish2: I copy monaco-editor and requirejs int

[2022-10-12 03:22] realLiangshiwei commented on #14300
We will enhance the Theme next version.

You can customize the menu page now.

[2022-10-12 03:28] abdullahshaqaliah commented on #14281
My microservice has one api just i want call the api from application based on abp feamework to return some result how i can by abp sent http call ,I know i can by httpclient do that just i ask if there libary in abp bulit in do the same httpclient to send request and get the response.

[2022-10-12 03:29] #14300 closed, assigned to realLiangshiwei

[2022-10-12 04:02] realLiangshiwei commented on #14303
Will it work if you try it without ABP?

[2022-10-12 04:14] leonkosak commented on #14107
@maliming did you find any particular reasons?

[2022-10-12 04:15] 344089386 commented on #14303
Normal use is OK, I suspect it is the embedded resource problem, this js library is a bit special, it is loaded through requirejs, I don't know if this is the reason?

[2022-10-12 05:08] maliming commented on #14107
hi

I will check this later. : )

[2022-10-12 06:04] #12844 closed, assigned to mahmut-gundogdu

[2022-10-12 06:47] realLiangshiwei commented on #14296
Will solved by https://github.com/abpframework/abp/pull/14306

[2022-10-12 06:47] #14296 closed, assigned to nobody

[2022-10-12 06:53] 344089386 commented on #14303
No error will be reported when running directly, but only after publishing

[2022-10-12 07:59] realLiangshiwei commented on #14213
Will solved by: https://github.com/abpframework/abp/pull/14306

[2022-10-12 07:59] #14213 closed, assigned to nobody

[2022-10-12 09:13] #14253 closed, assigned to realLiangshiwei

[2022-10-12 10:33] BogdanJak opened #14311 "Error on update database"
* Your **ABP Framework version** - 6.0.0.
* Your **User Interface** Blazor Server
* Your database provider - EF Core

By following your tutorial from the address https://docs.abp.io/en/abp/latest/Tutorials/Part-7?UI=BlazorServer&DB=EF
I have created a Customer class and want to update my database. Create a pierced migration seamlessly while following the command
`dotnet ef database update --contex

[2022-10-12 11:40] BogdanJak commented on #14311
Sorry - I find my mistake

[2022-10-12 11:40] #14311 closed, assigned to nobody

[2022-10-12 12:09] #12979 closed, assigned to nobody

[2022-10-12 12:51] aicreed opened #14312 "Fresh ABP 6.0 - Azure publish failures"
UI: Blazor WASM
Version: 6.0
Database: Entity Framework

Good afternoon,

I have created a fresh ABP 6.0 project and have attempted to deploy it according to the following guide:

https://abpioazuredevopsblazor.azurewebsites.net/

The HttpApi.Host however fails to start, and when I attempt to run it manually on the Azure server, I get the following error message:

[code]
Note that the project runs

[2022-10-12 14:05] advapiIT commented on #14273
@maliming seems that commenting

    if (MultiTenancyConsts.IsEnabled)
        {
            app.UseMultiTenancy();
        }

let the application go further... (I got an exception on Theme right now)

BTW haven't you got any feedback on this issue ? I'm the only one?

[2022-10-12 16:47] hikalkan commented on #5668
Resolved by https://github.com/abpframework/abp/pull/14055

[2022-10-12 16:47] #5668 closed, assigned to hikalkan

[2022-10-12 16:55] #13593 closed, assigned to beriniwlew

[2022-10-12 17:00] hikalkan commented on #13766
Done by https://github.com/abpframework/abp/pull/14015
Readable from https://github.com/abpframework/abp/blob/dev/docs/en/Dapr/Index.md

[2022-10-12 17:00] #13766 closed, assigned to hikalkan

[2022-10-12 17:01] #13950 closed, assigned to maliming

[2022-10-12 17:05] hikalkan commented on #14024
@maliming we may consider to implement this ourselves. You can inspire from the original code..

[2022-10-12 17:59] #13116 closed, assigned to EngincanV

[2022-10-12 18:23] NecatiMeral opened #14315 "EventBus - Error Handling"
I think a error handling feature for event bus handlers could improve the framework.

I think of a configurable exponential back-off for event handlers, so the host doesn't hammers the infrastructure on recurring errors.

I'm willing to contribute this change, but I think it should be discussed first.

[2022-10-12 19:39] sharmawaiaman commented on #14312
Hello this is already resolved.

https://support.abp.io/QA/Questions/3537/OpenIddict-WindowsCryptographicException-Access-is-denied

[2022-10-13 00:39] maliming commented on #14273
You are the only one.

[2022-10-13 00:41] #14312 closed, assigned to nobody

[2022-10-13 00:59] maliming commented on #14267
hi

https://github.com/abpframework/abp/pull/14306

[2022-10-13 02:45] realLiangshiwei commented on #14303
This is a known limitation of EmbeddedFileProvider and microsoft don't plan to address.

See: https://github.com/dotnet/aspnetcore/issues/24314

![image](https://user-images.githubusercontent.com/16813853/195486801-7d739b43-8d13-4333-959c-f6cb8852aa0b.png)

So, you need to use physical files

[2022-10-13 02:45] #14303 closed, assigned to nobody

[2022-10-13 03:20] maliming commented on #14024
The original code is too complicated, I think it's better to use it instead of copying some code from it.

https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.AspNetCore/DaprEndpointRouteBuilderExtensions.cs#L65-L163

[2022-10-13 06:12] hikalkan opened #14316 "Documentation update for SeedInSeparateUowAsync"
For the changes done with https://github.com/abpframework/abp/pull/13940 we should update the documentation (https://docs.abp.io/en/abp/latest/Data-Seeding).

@maliming create an Advanced section in the documentation, add a "Separate Unit Of Works" sub-section, and explain that usage please. Then send PR to @braim23 and me. He will check for English.

[2022-10-13 06:30] ebicoglu commented on #14272
write only informational text that people can write there HTML to be as preview in instant messaging tools

[2022-10-13 08:03] realLiangshiwei commented on #14315
We used to introduce error handling,  but after we introduce the inbox pattern, it's no longer necessary
https://github.com/abpframework/abp/issues/10034

Some discussion here: https://github.com/abpframework/abp/issues/11210,
 https://github.com/abpframework/abp/pull/11216#issuecomment-1006843999

We welcome your ideas

[2022-10-13 08:14] advapiIT commented on #14273
I've found what has not been updated
It was missing

``` typeof(AbpAspNetCoreMvcUiLeptonXLiteThemeModule),``` in the Depends on... before I had an internal version of ```Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite``` maybe it was it causing the issue

[2022-10-13 08:14] #14273 closed, assigned to nobody

[2022-10-13 14:15] aicreed opened #14320 "Azure Deployment issue - Authorization Service does not return any permissions on initial app load"
Database: Entity Framework
UI: Blazor WASM
Version: ABP 6.0

Hi,
This is an issue I have only been able to replicate in our deployed Azure environment, and not in my local development environment.

When I open our app in a new tab and fully reload it, none of my UI elements load and I get the following in the Chrome dev console:
![image](https://user-images.githubusercontent.com/47678215/195620463

[2022-10-13 14:48] kevinchalet commented on #14312
@maliming hey.

I suspect this is going to be a very common source of pain (I received a similar report [here](https://github.com/openiddict/openiddict-core/issues/976#issuecomment-1275006043) and another one by email). I updated the OpenIddict documentation to mention more clearly that these extensions are not expected to work on IIS/Azure App Services, but I guess this point should be covered in

[2022-10-13 15:58] improwise commented on #13550
This problem seems like it still remains.

[2022-10-14 00:53] applebananamilk commented on #14228
I think this will save one SQL execution, especially when there are filter conditions（百度翻译，不好意思）

[2022-10-14 00:56] maliming commented on #14312
Thanks @kevinchalet. I will mention that in abp document.

[2022-10-14 01:11] maliming commented on #14320
hi

Is WebSocket enabled on your Azure server?

[2022-10-14 04:07] #13550 closed, assigned to realLiangshiwei

[2022-10-14 06:16] #12802 closed, assigned to halimekarayay

[2022-10-14 06:20] thanhtai9606 opened #14325 "No UI Angular"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Abp Version **6.0.0**.
* ui **Angular**
* EF Core

After Create with cli in abp 6.0.0 angular not working, It

[2022-10-14 06:32] aicreed commented on #14320
Hi,

I checked and websockets were disabled on both my API and Blazor host. I enabled it however I am still seeing the same issue.

[2022-10-14 07:49] rqx110 opened #14326 "Suggestion of `LeptonX-lite` theme"
* Your **ABP Framework version**: 6.0.0
* Your **User Interface** type (Angular/MVC/React... etc.) : MVC

on `Account/Login` page:
1. The login form is too wide
2. Hide `login` button on `Account/Login` page?
![image](https://user-images.githubusercontent.com/1829209/195791115-70b7cab7-3b8d-4557-aebe-401733ab95e5.png)

others:
1. button on card title missing `btn-primary` style, by design?
![image

[2022-10-14 08:06] realLiangshiwei opened #14327 "Switch to the tenant before the Execute Background Job"
If a Job args implements the `IsMultiTenant` interface, we can switch to the tenant before the execute Background Job.

[code]

[2022-10-14 09:18] sturlath opened #14328 "UI updates needed for the reset password window"
Cancel is usually at the right not let.

![image](https://user-images.githubusercontent.com/2386572/195810643-2da78683-e639-406d-8450-a73313600c28.png)

and simplify the message. It should be simple and clear e.g., Confirm Password
![image](https://user-images.githubusercontent.com/2386572/195811300-5e368154-da0a-477f-b034-988d7ae5fa88.png)

and message should be changed to Passwords do not match

[2022-10-14 09:46] realLiangshiwei commented on #14326
What do you think? @armgnunlu

[2022-10-14 10:59] sturlath opened #14329 "Create new user translation"
This is confusing like it is.

Name should be changed to **First Name** and Surname to **Last Name**
![image](https://user-images.githubusercontent.com/2386572/195831126-c1442cb9-f062-4fbd-884d-7589674e7b6b.png)

[2022-10-14 11:27] KobusPost commented on #14325
Are you using the new Lepton X Lite theme?
Lost UI when I upgraded from the basic Theme to Lepton X theme

[2022-10-14 12:43] sturlath commented on #13114
@realLiangshiwei Im not sure this is fixed  in 6.0 https://github.com/abpframework/abp/issues/13771

When we try to load up a Blazor WASM its still taking long time (and MB’s) to dowload. Are  there any other steps to do?

An why isn’t this a default functionality in the file new project template? Who would ever want to serve 100 MB page?

[2022-10-14 14:28] braim23 commented on #14272
Closed by https://github.com/abpframework/abp/pull/14330

[2022-10-14 15:17] reminvestor opened #14331 "StackExchange.Redis.RedisConnectionException on new project"
I followed the official documentation on development environment setup. I didn't see anywhere where I need to install Redis Server.

Abp version 6
Blazor Server Side
EF Core

Exception:
MM.Portal.HttpApi.Host.dll!MM.Portal.PortalHttpApiHostModule.ConfigureDistributedLocking.AnonymousMethod__0(System.IServiceProvider sp) Line 173	C#

StackExchange.Redis.RedisConnectionException: 'It was not possibl

[2022-10-14 20:54] DonVliet commented on #14329
Hi @sturlath - in English we do use Name and Surname, but if you prefer not to use those words, abp lets you edit the language files (.json) in the following folder:

/src/[MyCompanyName.MyProjectName.Domain.Shared/[Localization]/[MyProjectName]

From the following file:

/abp/modules/identity/src/Volo.Abp.Identity.Domain.Shared/Volo/Abp/Identity/Localization/

    "Surname":"Surname",
    "Displa

[2022-10-15 00:56] AzizYosofi opened #14332 "@abp/ng-schematics proxy models generation bug when two dimensional array property"
ex:
prop{
name:'tests'
type:'[[Test]]'
}

generated
{
tests:Test][]
}

[2022-10-15 04:12] indexlang opened #14333 "InvalidOperationException: Cannot find compilation library location for package 'ConfigureAwait.Fody'"
run the module:blogging:Volo.BloggingTestApp
InvalidOperationException: Cannot find compilation library location for package 'ConfigureAwait.Fody'
![image](https://user-images.githubusercontent.com/6028356/195968176-1a981b17-906c-4d4d-93dc-53f78007ad62.png)

[2022-10-15 09:59] indexlang commented on #14333
I change a pc and it's ok ,but what's the problem?

[2022-10-15 10:24] maliming commented on #14333
Try to clear the project.

Run `abp clean` in your project folder.

[2022-10-15 12:03] yalvhe2009 commented on #14333
Did you change your Nuget config file? If you did, please recover it, than your problem may solve.

[2022-10-16 09:58] indexlang commented on #14333
I clean my nuget packages cache and recover, run abp clean,and can't solve the problem!!!

[2022-10-16 12:10] ebicoglu opened #14336 "ABP CLI doesn't doesn't remove the "not used" projects when adding the project with source-code."
You can try adding the Account.Pro module with the latest Suite / CLI to reproduce it.

[2022-10-16 12:12] ebicoglu opened #14337 "ABP CLI cannot configure module references"
Try adding LeptonX or Account.Pro to a commercial project with source-code.
The solution doesn't build after adding it.

[2022-10-16 14:36] EngincanV commented on #14299
https://community.abp.io/posts/testing-in-abp-framework-with-examples-3w29v6ce

[2022-10-16 14:36] #14299 closed, assigned to EngincanV

[2022-10-17 02:10] maliming commented on #14331
hi

Can you share full error logs?

[2022-10-17 02:13] maliming commented on #14320
Please check the response  of `Signalr's negotiation`.

[2022-10-17 03:31] fileman commented on #13497
Wait for a response from the team

[2022-10-17 05:37] #14271 closed, assigned to nobody

[2022-10-17 05:39] maliming opened #14343 "Call `AbpClaimsPrincipalFactory` in `AbpUserClaimsFactory`"
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identity/src/Volo.Abp.Identity.Domain/Volo/Abp/Identity/AbpUserClaimsPrincipalFactory.cs#L73

https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/modules/identityserver/src/Volo.Abp.IdentityServer.Domain/Volo/Abp/IdentityServer/AspNetIdentity/AbpUserClaimsFactory.cs#L87

[2022-10-17 06:15] #14272 closed, assigned to braim23

[2022-10-17 06:25] yekalkan commented on #14337
We disabled `add-to-solution` for LeptonX https://github.com/volosoft/volo/pull/12183

For Account.Pro, i'll continue from https://github.com/abpframework/abp/issues/14336

[2022-10-17 06:25] #14337 closed, assigned to yekalkan

[2022-10-17 07:29] aneasycat opened #14345 "OpenIddict：In application-configuration，The currentUser under the Token requested by the password mode is null"
ABP Framework version：6.0
IdentityServer：OpenIddict

Token Request Url：/connect/token/grant_type=password&client_id=app&username=admin&password=*

CurrentUser is null in the request （api/abp/application-configuration）

`"currentUser": {
        "isAuthenticated": false,
        "id": null,
        "tenantId": null,
        "impersonatorUserId": null,
        "impersonatorTenantId": null,
        "

[2022-10-17 07:59] aicreed commented on #14320
Hi,

How would I go about doing that? Thanks.

[2022-10-17 08:02] yekalkan commented on #14336
It's OK now. I update the configuration for the module.

[2022-10-17 08:02] #14336 closed, assigned to yekalkan

[2022-10-17 08:11] realLiangshiwei commented on #14345
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is related to a specific UI
* Steps needed to **reproduce** the problem.

[2022-10-17 08:23] #13336 closed, assigned to maliming

[2022-10-17 08:24] aneasycat commented on #14345
the issue not  is  related to a specific UI。

Steps:
1.Request url：/connect/token/grant_type=password&client_id=app&username=admin&password=*
2.Request url：/api/abp/application-configuration（Auth：Bearer eyJhbGciOiJSUzI1NiIsImtpZCI6IkY0NTI4NkJBMEZBOTlB...）

[2022-10-17 08:55] realLiangshiwei commented on #14345
I can't reproduce the problem.

![image](https://user-images.githubusercontent.com/16813853/196134442-2cdb466b-e385-4207-8adc-adc5b818ba33.png)

[2022-10-17 12:17] improwise commented on #13550
@realLiangshiwei Please note that this needs to be updated for the Commercial documentation as well which still seem to have v12 and v14.

[2022-10-17 13:34] aneasycat commented on #14345
The password mode still doesn't work.
（T_T）why？
![360截图20221017204402413](https://user-images.githubusercontent.com/48110648/196183993-8b7abc47-386b-4e2a-b66a-0114b34ac7c1.jpg)
![屏幕截图 2022-10-17 210506](https://user-images.githubusercontent.com/48110648/196184667-c405ae39-f6df-459e-9168-93af4e344039.png)

[2022-10-17 13:34] berkansasmaz commented on #14329
Closing the issue. Feel free to re-open or create a new issue if you have further questions.

[2022-10-17 13:34] #14329 closed, assigned to nobody

[2022-10-17 13:54] realLiangshiwei commented on #13550
@improwise
we will. thanks.

[2022-10-17 14:07] realLiangshiwei commented on #14345
What's the result if you login to the application(Angular UI), and see the network tab to check the `/api/abp/application-configuration` request?

[2022-10-17 15:39] Trkrkrl commented on #11101
Yes , that's worked. Thank You

[2022-10-17 20:20] RelevanceRo opened #14358 "Suggestion for templates to include common and most used external login flows like Azure B2C"
Version: **ABP Framework 6.0**
Interface: **Blazor / MVC / Angular**

Would be nice to have the possibility to chose at template creating interface or by cli, for applications, between most common external providers, like Azure B2C, Google, Facebook for the login. And to add the authentication logic in the code and a section in appsettings.json with the properties needed for the login with dummy v

[2022-10-18 00:11] realLiangshiwei commented on #14358
Hi,

It is included in [ABP commercial](https://commercial.abp.io/) : )

[2022-10-18 00:11] #14358 closed, assigned to nobody

[2022-10-18 00:43] #14327 closed, assigned to realLiangshiwei

[2022-10-18 00:46] aneasycat commented on #14345
Code mode request token
![微信截图_20221018084544](https://user-images.githubusercontent.com/48110648/196309461-870e1048-4308-4ed2-afd9-d30ab1e0b5bf.png)

[2022-10-18 01:39] #14345 closed, assigned to nobody

[2022-10-18 02:29] thanhtai9606 commented on #14325
default it use lepton-x

[2022-10-18 02:45] thanhtai9606 commented on #14325
How can I use a basic theme ?? Because I show loading icon only on screen

[2022-10-18 03:15] aneasycat commented on #14345
The password mode still doesn't work.
Do I need other parameters for the token request?

[2022-10-18 03:18] #14343 closed, assigned to maliming

[2022-10-18 04:01] viewtance opened #14359 "The leptonX theme, when the side menu closed the logo icon is not specified by branding provider"
* Your **ABP Framework version**. abp 6.0.0
* Your **User Interface** type (Angular/MVC/React... etc.) MVC

With the leptonX theme, when the side menu closed the logo icon not specified.

Current the logo in the side menu already specified by branding provider, the logo icon (displaying when the side menu closed) should also could be specified via branding provider.

[2022-10-18 06:57] htaki opened #14361 "@abp/ng.theme.lepton-x is not displaying the UI"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**. 6.0.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue

[2022-10-18 07:17] htaki commented on #14325
Hello, I have the same issue, and there is no errors messages in the console .

I tried using many browser including Edge and Chrome.

I saw that the develop branche of the framework is referencing a version 2.0.0 in preview, I tried to use it but it is not found on npm.

Any help is appreciated.

Thank's

[2022-10-18 07:24] kinglinggo opened #14362 "How to make this query execution untracked using ef core？"
How to execute a certain no-tracking query at the ApplicationService layer without referring to ef core's assemblies

[2022-10-18 08:15] maliming commented on #14320
What's your app url?

[2022-10-18 08:17] KobusPost commented on #14325
I managed to make it work, but now it won't load the ABP module's. Cannot access setting/permission/feature/account management. Also login/logout actions are bugged and authentication is not kept on reload.

I had a 5.x version which I updated to 6.0. No problems with MVC, but angular has been a pain.
Console does show no errors.

[2022-10-18 08:56] realLiangshiwei commented on #14345
Make sure that the `scope` parameter is right.
`scope: offline_access ...etc`

[2022-10-18 09:02] aneasycat commented on #14345
Thank you！

[2022-10-18 09:52] aicreed commented on #14320
Hi,
Do you have a private way of sharing that with you? I do not want to make our URL public yet as we have not yet released our app.

Thanks

[2022-10-18 10:03] alexandis opened #14363 "Modifying Angular pages layout - the pages need to have our UI theme (not ABP)"
5.1.2 / Angular

We are using ABP framework, but the requirements are to have own UI. So we have custom themes and whereas our own pages are OK, ABP pages are not. And we cannot neither affect the layout in a normal way (overriding specific CSS styles cause unpredictable layout issues), nor make changes into the ABP-centric pages code like that. Here some our basic styles affected ABP styles:

![i

[2022-10-18 10:33] mahmut-gundogdu opened #14364 "Depending on the Theme choice, add required styles to angular.json using a command or schematics."

[2022-10-18 13:10] enisn commented on #13684
We can add an option for that.

Until we do, you can remove it from application bundle in a BundleContributor
https://docs.abp.io/en/abp/latest/UI/Blazor/Global-Scripts-Styles#bundling-and-minification

[2022-10-18 13:37] BenWhite27 commented on #13684
@enisn I'm not sure that'd work.  Apologies if I'm wrong but my understanding of the code is that `_framework\blazor.webassembly.js` is added to the bundle if it is not found in the bundle definitions (as of 22nd Aug) https://github.com/abpframework/abp/blob/40fda190e37a417956282685fb3e6c4c4e21db06/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/Bundling/BundlingService.cs#L117

So even if there was

[2022-10-18 14:16] yangl1n opened #14367 "How can I use the same extra properties system defined in the previous section on separate field in datatable?"
I want to extend IdentityUser with an employeeId field, this field will be used to write querable. I followed this [method](https://docs.abp.io/en/abp/latest/Customizing-Application-Modules-Extending-Entities#entity-extensions-ef-core), it works that create new columns in my datatable, but how can I save value into it? I try to use setProperty, but in database, it is stored in extraproperty instea

[2022-10-18 14:48] ahmadmasoum commented on #14367
Try This
https://docs.abp.io/en/abp/latest/Module-Entity-Extensions#database-mapping

[2022-10-18 19:36] Cway14 opened #14369 "Cannot access setting in web project"
Setting returns null when accessed through the web project but returns with valid value when accessed in other projects.

**ABP Version**: 5.3.4
**Database provider**: EF Core

**Steps to reproduce:**
1. Create settings definition provider in Web project
![Screen Shot 2022-10-18 at 12 23 05 PM](https://user-images.githubusercontent.com/21322069/196524692-4261167b-4ec1-445c-8599-7c7c473ef43e.png)

[2022-10-18 21:37] #14229 closed, assigned to nobody

[2022-10-18 21:48] mesuttascic opened #14370 "deploy abp without ssl behind cloudflare"
I downloaded a clean project with mvc, postgresql. then immediately deployed it to IIS.
I am using cloudflare, I am not used to prepare ssl certificate on server for development projects
Everything is fine on web ui. But when I post credential to "/connect/token" path it return "This server only accepts HTTPS requests."

  "App": {
    "SelfUrl": "http://abp2.elveri.com"
  },
It is not https .

I

[2022-10-19 00:26] maliming commented on #14320
hi liming.ma#volosoft.com

[2022-10-19 01:18] maliming commented on #14369
hi

Please share a minimum project to reproduce. Thanks

[2022-10-19 01:20] maliming commented on #14370
hi

I guess the `DisableTransportSecurityRequirement` solve your problem, right?

[2022-10-19 01:48] jortygu opened #14372 "outbox pattern in local event"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* v6.0.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the is

[2022-10-19 05:52] ahmadmasoum commented on #14369
#12283
This might help you

[2022-10-19 07:29] mnhjftihllr6995 opened #14378 "How to intercept through attributes"
version : 6.0.0
intercept Work on all visual Method

[code]
Output
[code]
Therefore, throw an error when I want to inherit an external library with virtual methods

[code]
error
[code]

[2022-10-19 07:45] mnhjftihllr6995 commented on #14378
my test code
https://github.com/mnhjftihllr6995/interceptTest

[2022-10-19 08:18] amerina commented on #14378
Because you inhert from UserControl，“AfterControlRemoved” method in UserControl is internal,which is not allowed

[2022-10-19 08:37] mnhjftihllr6995 commented on #14378
Yes, but I only want to proxy  SayHelloAsync   Using attributes

[2022-10-19 08:51] drhikmetyz opened #14379 "ABP Framework v6.0 - OpenIdDict"
bp 6.0 ile çalışmalarımı yapıyorum. abp blazor server uygulaması yazdım. Kendi bilgisayarımda sorunsuz çalışıyor. Fakat hosting hizmeti aldığım server' yükleme yaptığımda hata veriyor.
çalışan abp 5.3 ile [www.mesyaz.com](http://www.mesyaz.com/)
abp 6.0 ile yazdığım uygulama [esen.mesyaz.com](http://esen.mesyaz.com/) hata veriyor. Hosting firması ile görüştüm.  sorunu çözemediler.
[esen.mesyaz.com

[2022-10-19 09:00] malikmasis opened #14380 "eShopOnAbp: Update to .NET 7"

[2022-10-19 09:16] maliming commented on #13613
`Volo.Abp.Identity.Web` depends on `Volo.Abp.Identity.Application.Contracts`

`MyProjectName.Web.Host` depends on both `Volo.Abp.Identity.Web` and `Volo.Abp.Identity.HttpApi.Client`

@hikalkan How do we handle this situation?

[2022-10-19 09:34] enisn commented on #14379
Can you find & share logs after a failed request? You can see logs in the terminal or if you can access it, it writes to `Logs/logs.txt` by default.
Without logs, we can't say anything clearly.

According to my experience after clicking your link, it seems your application can't be initialized. Please check your database connections are available or make sure a Redis instance is running if you're

[2022-10-19 12:07] maliming commented on #14320
hi

It seems your website works for me.

![image](https://user-images.githubusercontent.com/6908465/196686129-4b8086b7-cce9-4ae9-acb6-56580099711f.png)

![image](https://user-images.githubusercontent.com/6908465/196686004-e567b349-31e6-4ff3-84e7-f12717f9eea8.png)
![image](https://user-images.githubusercontent.com/6908465/196686069-06069960-f4b8-4ddd-9db5-410e3fe37a68.png)

[2022-10-19 12:49] salihozkara opened #14383 "Scriban Render Problem"
![image](https://user-images.githubusercontent.com/64414348/195097036-e951b51b-1379-4058-ab69-7edd76ba3777.png)

Related Logs :
https://kibana.abp.io/app/discover#/doc/748cdad0-d437-11eb-8f5f-21a75cbc40e1/filebeat-abpio-2022.10.11?id=PiDZxoMBDKZxd70_TI7r

[code]

[2022-10-19 13:07] lukagalovic opened #14384 "Error after migrating to LeptonX Lite theme Angular UI"
Documentation
Please check the official documentation before asking questions: https://docs.abp.io/

GitHub Issues
GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

Abp Version 6.0.0.
ui Angular
EF Core

After migrating to LeptonX Lite theme on Angular UI I am getting following error

[2022-10-19 13:10] lukagalovic commented on #14361
After migrating to LeptonX Lite theme on Angular UI I am getting following error and UI doesn't load.

" Refused to apply style from 'http://localhost:4200/bootstrap-dim.css' because its MIME type ('text/html') is not a supported stylesheet MIME type, and strict MIME checking is enabled. "

[2022-10-19 16:03] jortygu opened #14386 "how to extend abp.currentuser"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* v6.0.0
* Your **User Interface** type (Angular/MVC/React... etc.) if the is

[2022-10-19 23:53] gterdem opened #14387 "eShopOnAbp: ProductDetail page OrderService dependency"
https://github.com/abpframework/eShopOnAbp/blob/7df13428376b70f31432cfb0eb6677f5f9346532/apps/public-web/src/EShopOnAbp.PublicWeb/Pages/ProductDetail.cshtml.cs#L32

I see that the OrderingService dependency is for the rating feature, but this prevents viewing the product details when the OrderingService is unavailable. This creates coupling between services that we want to avoid.

This is another

[2022-10-20 01:05] maliming commented on #14386
hi

https://community.abp.io/posts/extending-the-application-configuration-endpoint-hj229c4r

[2022-10-20 01:16] git102347501 commented on #12470
In fact, for this kind of behavior, my usual approach is to allow open non session access, and then logically judge whether permissions and current session information conform to the business scenario in the App layer, which makes the verification logic of the App more and more complex...

[2022-10-20 01:49] jortygu commented on #14386
@maliming Thanks，this work for me.

[2022-10-20 01:49] #14386 closed, assigned to nobody

[2022-10-20 02:13] yangl1n commented on #14367
Thank you and I have try this. It indeed create an extra field in database table. But how can I store value in it. For example, I want to store employeeId when user first time login, the employeeId is returned from ExternalLogin Provider(Auzre AD). Using user.setProperty("employeeId", "0000000"), and CreateExternalAsync() will call the UserManager.UpdateAsync(user) to store as json in extra proper

[2022-10-20 02:19] yangl1n opened #14388 "How to map two domain object to one dto"
I want to combine two domain objects into one Dto, how can I do this? Since the Mapping is one to one.

[2022-10-20 02:31] maliming commented on #14388
You're right. Mapping is one to one.

https://github.com/AutoMapper/AutoMapper/issues/389

[2022-10-20 02:33] #13260 closed, assigned to nobody

[2022-10-20 02:33] #13441 closed, assigned to nobody

[2022-10-20 02:33] #13073 closed, assigned to nobody

[2022-10-20 02:33] #13453 closed, assigned to nobody

[2022-10-20 02:33] #13467 closed, assigned to nobody

[2022-10-20 02:33] #13471 closed, assigned to nobody

[2022-10-20 02:33] #13015 closed, assigned to nobody

[2022-10-20 02:33] #13238 closed, assigned to nobody

[2022-10-20 02:34] #13511 closed, assigned to gterdem

[2022-10-20 02:34] #13510 closed, assigned to gterdem

[2022-10-20 02:34] #13509 closed, assigned to gterdem

[2022-10-20 02:34] #13508 closed, assigned to gterdem

[2022-10-20 02:34] #13515 closed, assigned to nobody

[2022-10-20 02:34] #13274 closed, assigned to malikmasis, enisn

[2022-10-20 02:34] #12964 closed, assigned to nobody

[2022-10-20 02:34] #13196 closed, assigned to nobody

[2022-10-20 02:34] #13032 closed, assigned to nobody

[2022-10-20 02:34] #11550 closed, assigned to nobody

[2022-10-20 02:34] #11703 closed, assigned to nobody

[2022-10-20 02:34] #13020 closed, assigned to muhammedaltug

[2022-10-20 02:34] #13297 closed, assigned to nobody

[2022-10-20 02:34] #13280 closed, assigned to nobody

[2022-10-20 02:34] #11916 closed, assigned to nobody

[2022-10-20 02:34] #13325 closed, assigned to nobody

[2022-10-20 02:34] #13304 closed, assigned to nobody

[2022-10-20 07:41] ebicoglu opened #14390 "Decrease log level for `AbpValidateAntiforgeryToken` to `Warning`"
The [AbpAutoValidateAntiforgeryTokenAuthorizationFilter](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.AspNetCore.Mvc/Volo/Abp/AspNetCore/Mvc/AntiForgery/AbpValidateAntiforgeryTokenAuthorizationFilter.cs#L49) class throws exception and writes the below Error Log when the token doesn't match. While this is good when the developer forgets to add the token, it's also bad when th

[2022-10-20 07:51] aicreed commented on #14320
It's also working fine for me now, which is very strange. However it does not work in incognito mode.

I haven't changed anything, only left the app deployed for a few days.

[2022-10-20 08:36] salihozkara opened #14394 "Decrease log level for `Resource temporarily unavailable` to `Warning`"
[GetFileCommitsAsync](https://github.com/abpframework/abp/blob/8d87d539d7c701831a27d4667df9f11c66a38803/modules/docs/src/Volo.Docs.Domain/Volo/Docs/GitHub/Documents/GithubRepositoryManager.cs#L52) method in `GithubRepositoryManager` class brings commits with Octokit. If GitHub cannot reach the source temporarily, Octokit throws an exception. This is not an unhandled exception and can be ignored by

[2022-10-20 10:16] enisn opened #14397 "Blazorise ModalProvider"
Can you add the providers like <MessageProvider /> , <ModalProvider /> , <NotificationProvider /> , <PageProgressProvider />

https://blazorise.com/docs/services/modal-provider

We need it for use the full power of blazorise.

(The version 1.1.2 is avaible.)

_Originally posted by @VivienMAN in https://github.com/abpframework/abp/issues/14366#issuecomment-1285259307_

[2022-10-20 10:17] enisn commented on #14397
@realLiangshiwei can you check and if it's compatible can you add it?

[2022-10-20 10:47] mesuttascic commented on #14370
Yes,
"DisableTransportSecurityRequirement" solves the restriction "This server only accepts HTTPS requests." .

[2022-10-20 11:09] #14370 closed, assigned to nobody

[2022-10-20 12:04] realLiangshiwei commented on #14397
ok, I will check it.

[2022-10-20 13:10] malikmasis commented on #14245
It's not related to the ABP Framework, even so, you can prevent this using language name (js, csharp) by adding after **_```_**

[2022-10-20 13:10] #14245 closed, assigned to malikmasis

[2022-10-20 15:18] HoboCY opened #14404 "Could not load type 'Volo.Abp.Auditing.DisableAuditingAttribute'"
When i upgrade to version 5.3.4
Start host got an error:
Could not load type 'Volo.Abp.Auditing.DisableAuditingAttribute' from assembly 'Volo.Abp.Auditing, Version=5.3.4.0, Culture=neutral, PublicKeyToken=null'
My project use audit log without database，how to
resolve this error？

[2022-10-21 00:30] maliming commented on #14404
Try to clear your project and rebuild.

`abp clean`

[2022-10-21 01:22] HoboCY commented on #14404
Thank you. I succeeded after a few tries

[2022-10-21 01:22] #14404 closed, assigned to nobody

[2022-10-21 02:44] realLiangshiwei opened #14407 "Error in ComponentDisposer after upgrade Blazorise to 1.1"
https://blazorise.com/news/release-notes/112

[2022-10-21 02:57] gterdem opened #14408 "SwaggerAuth endpoints should be configurable"
https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Swashbuckle/Microsoft/Extensions/DependencyInjection/AbpSwaggerGenServiceCollectionExtensions.cs#L50-L52

Authorization and token endpoints may defer based on the openid-provider.
Example: **Keycloak** uses `/protocol/openid-connect/auth` instead of `/connect/authorize`

[2022-10-21 03:17] #14407 closed, assigned to realLiangshiwei

[2022-10-21 03:19] maliming opened #14412 "Use EF 7 compatible `Devart.Data.Oracle.EFCore` package."
**We have to wait for `Devart.Data.Oracle.EFCore` to support NET 7.**

https://www.nuget.org/packages/Devart.Data.Oracle.EFCore

[2022-10-21 03:20] maliming opened #14413 "Same localization key/value pairs in `ApplicationLocalizationConfigurationDto`."
https://support.abp.io/QA/Questions/3907/same-localization-keyvalue-pairs-in-ApplicationLocalizationConfigurationDto

[2022-10-21 06:29] #14408 closed, assigned to gterdem

[2022-10-21 07:29] blackWins opened #14415 "Dynamic forms List<T> feature requests"
### MVC Dynamic Forms

Dynamic forms can add processing `List<T>` properties

[code]
![image](https://user-images.githubusercontent.com/34080651/197137813-0cb0ab36-7f7b-4709-a5d7-f655d8dd153f.png)

[2022-10-21 08:20] cbogner85 commented on #14367
I think it's a bug. After upgrading to 6.0.0 my ExtraProperties that had always been dedicated table columns didn't work anymore. I had to move them to the the ExtraProperties column to make it work again.

[2022-10-21 08:24] maliming commented on #14367
hi

https://github.com/abpframework/abp/pull/14306

[2022-10-21 10:03] lukagalovic commented on #14384
This solved my problem:
https://github.com/abpframework/abp/blob/rel-6.0/docs/en/UI/Angular/Theme-Configurations.md

After updating angular.json file following instructions from above link, site loads.

[2022-10-21 10:48] sturlath opened #14417 "Localization of cookie Accept message"
I can find out how to localize this message "ThisWebsiteUsesCookieCookieConsentAgreePolicies". And should it also not be something like "_This website uses cookie consent policies_" in english?

![image](https://user-images.githubusercontent.com/2386572/197177589-d0b34953-2108-4cc5-a78e-cccd68a3e431.png)

* Your **ABP Framework version**. 6.0.0 (commercial)
* Your **User Interface** Blazor

[2022-10-21 11:02] sturlath commented on #13114
@realLiangshiwei any feedback on this? Did you manage to try this out yourself and get the download size down?

Are we really doomed to be stuck with **100 MB Blazor backends**? Is anybody using it out there?

 If I wasn´t so deep into my development I would move from abp.io's version of Blazor but I can´t so I can only ask you to figure this out for us poor souls that choose it to begin with!

So

[2022-10-21 11:07] EngincanV commented on #14417
Hi, I'll check this.

[2022-10-21 11:56] VivienMAN commented on #14397
For information there are four, in total
![image](https://user-images.githubusercontent.com/103559756/197190258-7f0f8f1d-d6ff-4d50-90c7-55d7b64667f9.png)

[2022-10-21 12:09] EngincanV commented on #14417
I could not reproduce it. (Blazor - 6.0.0)

![image](https://user-images.githubusercontent.com/43685404/197191472-5f0e2f46-0360-469d-9fda-750b72e63672.png)

---

Can you try with a new template or provide me with steps to reproduce the problem?

[2022-10-21 12:41] sturlath commented on #14417
I have not updated to LeptonX at this time since we will do that with the 7.0 version (too much custom stuff).

Could that be the issue? But I can´t see this text in the language texts. Shouldn´t it be in there?

[2022-10-21 12:43] EngincanV commented on #14417
No, Cookie Consent Feature is a part of the GDPR Module, so it's normal to not seeing it there.

Can you check if your project has a reference to the `Volo.Abp.Gdpr.Domain.Shared` package?

[2022-10-21 14:18] zoao opened #14418 "Suggestion for: The Request is aborted, but response has already started!"
On a server that is behind a proxy, it happens very often that the request is not completed (due to the proxy) and the ABP thinks that the connection was aborted.
However the client receives the full json response and the http code 200.
But the transaction is rollback on the server and nothing is recorded in the Database.

As you suggest in another ticket, we removed app.UseUnitOfWork() and it wor

[2022-10-21 15:51] sturlath commented on #14417
Ok that was it! I ran `abp add-module Volo.Gdpr` and got it. I had tried the Gdpr when it came out. I would have thought the update progress should re-install it. But I´m good. Thank you so much!

[2022-10-21 15:51] #14417 closed, assigned to EngincanV

[2022-10-21 15:58] sturlath commented on #14417
Maybe one thing more @EngincanV! Can you give me the localization strings for me to override in Icelandic?

Can´t you make all these strings open source, so we don´t have to ask all the time?

[2022-10-21 16:35] EngincanV commented on #14417
Here it is:

[code]

I'll share your suggestion with the team. In meantime, you can send a request to the `/api/abp/application-configuration` route to see all localization values by modules.

[2022-10-22 03:28] gterdem opened #14420 "eShopOnAbp: PublicWeb application error loop on CmsUserSync when CmskitService is offline"
![image](https://user-images.githubusercontent.com/25867/197317379-635227d7-1fb1-4cda-a78d-052259eea736.png)

When the user is updated outside of the application (as in [db migrator](https://github.com/abpframework/eShopOnAbp/blob/gterdem/keycloak_integration/shared/EShopOnAbp.Keycloak.DbMigrator/KeycloakDataSeeder.cs#L223-L244)), RabbitMq publishes `UserUpdatedEto` which couldn't be handled.
![im

[2022-10-22 08:45] JunqiaoDuan opened #14421 "Source code of Implementing Domain Drven Design"
I have read the book Implementing Domain Drven Design and I think it's useful for me to learn ABP and DDD. But I didn't find the source code about the examples in the book (Github Issus Examples). How can I find it?
I didn't find it in [Samples](https://docs.abp.io/en/abp/latest/Samples/Index)

Waiting for your replaying.

[2022-10-22 09:29] sturlath opened #14422 "Suggestion: Email verification when user changes his/hers email?"
User needs to an email address to be validated when they sign up but not if they change their email.

Does it make sense to have them validate the new one also? Or have the option of that step in settings?

[2022-10-22 09:38] ztegod opened #14423 "Volo.Abp.Emailing with SSL enable got an error"
I just do like official doc shows
![QQ截图20221022173025](https://user-images.githubusercontent.com/21193747/197332265-6d326a0a-37db-40bd-bc5f-ad2187d893fb.png)
![QQ截图20221022173047](https://user-images.githubusercontent.com/21193747/197332277-b82705d9-b5ca-4d73-97c6-0509620b2bc9.png)
![QQ截图20221022173109](https://user-images.githubusercontent.com/21193747/197332283-f30a4a6b-f266-41e8-b4dd-42fa8bba1

[2022-10-22 09:45] sturlath opened #14424 "The reset password link should be usable for single use (and not display "invalid token")"
**Steps:**

1. Launch the Web URL
2. Enter the Username
3. Click on forgot password
4. Enter the email id
5. Click on the link and change the password
6. Click on the link again and enter your new password

**Expected Result;**
a message that the URL is expired.

**Actual Result:**
The reset password link does not expire after we have reset the password, If I try to use it after resetting of passw

[2022-10-22 09:50] sturlath opened #14425 "The confirmation email address link should expire after single use"
Similar to https://github.com/abpframework/abp/issues/14424

**Expected Result:**

The confirmation email address link should expire once the user has verified the email address with a simple and clear message e.g., "_**The email address is already verified**_".

**Actual Result:**

The user is able to confirm the email address multiple times once he clicked on the confirmation link.

[2022-10-22 10:09] sturlath commented on #10192
@ebicoglu ? Just checking on this again.

[2022-10-23 07:10] #14384 closed, assigned to nobody

[2022-10-23 07:17] maliming commented on #14423
Test your config with https://github.com/abpframework/abp-samples/tree/master/EmailSendDemo

[2022-10-23 09:27] wangj90 commented on #5558
Is there any progress on this?

[2022-10-24 02:06] #14423 closed, assigned to nobody

[2022-10-24 07:27] #14094 closed, assigned to muhammedaltug

[2022-10-24 07:37] mahmut-gundogdu opened #14430 "Bump @ngx-validate/core to latest and test it"
@ngx-validate/core  have been released new version.  it should updated and tested.
- [x]  abp
- [x] Abp Commercial

[2022-10-24 10:56] sahvey opened #14432 "The navigation 'IdentityUser.Claims' cannot be loaded because the entity is not being tracked. Navigations can only be loaded for tracked entities."
**ABP Framework version. 6.0.0**

I cloned your sample bookstore project prepared with wpf.

I added the **_AbpIdentityAspNetCoreModule_** reference I marked below to the **_BookStoreWpfModule_** class of the project I cloned.

![Abp_1](https://user-images.githubusercontent.com/46441777/197509561-b789a8aa-4f58-49b6-86ec-4dac49845452.jpg)

I have injected **_AbpSignInManager_** in **_MainWindow_**.

[2022-10-24 11:42] improwise commented on #13710
Would be nice to get some feedback from the team here. I realize this is probably not something easy to accomplish but still it would be very useful and also improve the usefulness of ABP. Thanks.

[2022-10-24 12:05] #12021 closed, assigned to gterdem

[2022-10-24 13:04] maliming commented on #14432
HI

Can you try using the `SignInManager ` in a unit of work?

https://docs.abp.io/en/abp/latest/Unit-Of-Work

[2022-10-24 13:05] maliming commented on #14418
hi

We introduce new changes.

https://github.com/abpframework/abp/pull/14396

[2022-10-24 13:06] maliming commented on #14422
hi

You can customize the business logic yourself.

[2022-10-24 13:24] sahvey commented on #14432
@maliming
I did not fully understand your answer. Could you give a small example?

[2022-10-24 13:27] maliming commented on #14432
[code]

[2022-10-24 13:33] #14228 closed, assigned to maliming

[2022-10-24 13:37] sahvey commented on #14432
@maliming
I got httpcontext exception.
![Abp_4](https://user-images.githubusercontent.com/46441777/197538798-7816ec91-1900-4ccf-8489-e5dd22a69fe4.jpg)

[2022-10-24 13:46] maliming commented on #14432
hi

Full exception stack, Thanks

[2022-10-24 13:59] sahvey commented on #14432
@maliming
I am not getting any clear error.

 at Microsoft.EntityFrameworkCore.Internal.EntityFinder`1.<LoadAsync>d__11.MoveNext()
   at Volo.Abp.Domain.Repositories.EntityFrameworkCore.EfCoreRepository`2.<EnsureCollectionLoadedAsync>d__35`1.MoveNext()
   at Volo.Abp.Domain.Repositories.RepositoryExtensions.<EnsureCollectionLoadedAsync>d__0`3.MoveNext()
   at Volo.Abp.Identity.IdentityUserStore.<G

[2022-10-24 14:01] sahvey commented on #14432
@maliming
I am using your sample project. I made almost no changes. You should get a similar error if you use the same project. However, if you want, I can share the project with you.

[2022-10-24 14:06] sahvey commented on #14432
@maliming
It doesn't add any [ERR] records to the log.txt file either.

[2022-10-24 17:13] sahvey commented on #14432
@maliming
I am sharing the sample project with you below.

[abp-wpf.zip](https://github.com/abpframework/abp/files/9853798/abp-wpf.zip)

[2022-10-25 00:57] maliming commented on #14432
hi

The `SignInManager` is designed for the web application. I think you can't use it in wpf

[code]

[2022-10-25 05:47] maliming opened #14435 "Add Angular without `Identity Server Separated` sample to `DomainTenantResolver`."
https://github.com/abpframework/abp-samples/blob/master/DomainTenantResolver
https://support.abp.io/QA/Questions/3924

[2022-10-25 06:24] ebicoglu commented on #14383
Update Scriban library

[2022-10-25 06:26] ebicoglu commented on #14383
Fix the problematic documentation manually

[2022-10-25 06:54] EngincanV opened #14436 "Docs: Fix style of select tag"
![image](https://user-images.githubusercontent.com/43685404/197702931-cf155292-d19c-4305-8260-35b1ebef42e2.png)

[2022-10-25 07:26] fatihskilic opened #14437 "abp-commercial"

[2022-10-25 07:27] fatihskilic commented on #14430
https://github.com/abpframework/abp/issues/14430

[2022-10-25 08:02] fatihskilic commented on #14430
Checked. There is no error. Closed.

[2022-10-25 08:02] #14430 closed, assigned to fatihskilic

[2022-10-25 08:02] #14437 closed, assigned to nobody

[2022-10-25 08:19] zsanhong opened #14438 "why extra properties not show in profile page?"
I add some extra properties like this:
` ObjectExtensionManager.Instance.Modules()
                 .ConfigureIdentity(identity =>
                 {
                     identity.ConfigureUser(user =>
                     {
                         user.AddOrUpdateProperty<string>( //property type: string
                             "PersonIdentityNumber", //property name

[2022-10-25 08:54] thanhtai9606 commented on #14325
That error because lepton-x theme layout. You can remove it and install basic-theme layout, it's working now!!

[2022-10-25 10:56] #13497 closed, assigned to hikalkan, yekalkan, maliming

[2022-10-25 14:57] #14432 closed, assigned to nobody

[2022-10-25 16:24] indexlang opened #14440 "Multiple database connectstring problem with DbMigrator"
abp :V6.0
I want change the AbpSettingManagement module to an single db.
just create a new start project: abp new Acme.BookStore
change the DbMigrator project appsetting file：
change the ConnectionStrings to:
[code]
then run the DbMigrator project and get a error,cannot generate database App_setting,what's the reason?

[2022-10-25 18:39] berkansasmaz commented on #14440
Hello, I did it for an application running in version 4.2.2 for AuditLog module, you can do it very similarly.

v4.2.2 sample code: https://support.abp.io/QA/Questions/3212/Seperate-DB-for-Audit-tables#answer-f65e1169-f613-dccd-f83b-3a0460775c28

Although the code logic is very similar to version 6.0.0, if you have trouble, I recommend you to review the [this sample](https://github.com/abpframewor

[2022-10-25 20:58] ALVSoft commented on #13066
Work for me. Thanks

[2022-10-26 01:23] #14440 closed, assigned to nobody

[2022-10-26 01:43] rqx110 commented on #14438
see https://github.com/abpframework/abp/issues/13999

[2022-10-26 06:03] rwecho opened #14443 "IRemoteStreamContent returns with default value instead of null when 204 is returned in the API."
Hi

We defined an API for image files in the application services layer, like this:

[code]
Then consume the API in the client by proxy to the contract layer, like this:

[code]

It works if the image exists. But when the image is not found, the API return 204 HttpStatus. And the client can not deserialize API with the null value.

![image](https://user-images.githubusercontent.com/8048753/1979467

[2022-10-26 06:32] merijng opened #14444 "Volo.Abp.LeptonXTheme.Pro version 1.0.0, not 6.0.0"
* Your **ABP Framework version**: 6.0.0
* Suite version: 6.0.0

See image below.

I think its better to align this with all other nuget package versions (version 6.0.0 in this case)?

In addition, we had a hard time pressing the "Ok" button (see image) in the suite: it is often disabled, even after filling in all fields. Is this a related issue, maybe?

![image](https://user-images.githubuserconte

[2022-10-26 06:47] #14383 closed, assigned to salihozkara

[2022-10-26 07:21] EngincanV opened #14446 "CLI: Make related configurations for theme selection (Angular UI)"
After https://github.com/abpframework/abp/pull/14445 is merged, we need to update the [`ChangeThemeStep.cs`](https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Cli.Core/Volo/Abp/Cli/ProjectBuilding/Building/Steps/ChangeThemeStep.cs) to support changing related lines on **angular.json** file.

[2022-10-26 07:43] #14424 closed, assigned to maliming

[2022-10-26 07:43] #14425 closed, assigned to maliming

[2022-10-26 07:44] maliming commented on #14444
hi

Please discuss the suite on https://support.abp.io/QA/Questions/New

Thanks.

[2022-10-26 07:44] #14444 closed, assigned to nobody

[2022-10-26 08:00] #14387 closed, assigned to gterdem, malikmasis

[2022-10-26 08:17] #12124 closed, assigned to maliming

[2022-10-26 08:17] #6095 closed, assigned to maliming

[2022-10-26 08:17] #12338 closed, assigned to maliming

[2022-10-26 08:24] maliming opened #14447 "ABP 7.0 json migration guide"
https://github.com/abpframework/abp/pull/13357/

[2022-10-26 08:34] merijng commented on #14444
Dear @maliming,

What about the versioning? That's not a Suite issue. I was just wondering if the disabled "Ok" button was related to the versioning. That's why i used a screenshot, of the Suite.

[2022-10-26 08:53] maliming commented on #14443
You can consider throwing an exception if the file does not exist. `IRemoteStreamContent `represents a stream. It should not be null

[2022-10-26 08:59] BogdanJak opened #14449 "BoldReports"
ABP Framework version - 6.0
Blazor Server, MS SQL Server,

Anyone have an idea how to integrate BoldReport with Syncfusion with the ABP Blazor server application?

[2022-10-26 09:05] enisn commented on #14098
Closed by https://github.com/abpframework/abp/pull/14448
It'll be released in the next patch version (`6.0.1`)

[2022-10-26 09:05] #14098 closed, assigned to yekalkan, muhammedaltug, enisn

[2022-10-26 09:06] ebicoglu commented on #14444
we'll check the button disabled issue.
for the versioning, LeptonX is another project that has a different repo and we release LeptonX frequently (not like the other ABP packages). this gives us to release new versions very fast. if we align with other ABP packages, you'll have to wait 1.5 months to get a new LeptonX version.

[2022-10-26 09:50] fileman commented on #14449
I taked a look at this integration this summer, the main issue was to UI/css between syncfusion controls and bold reports

[2022-10-26 10:04] rwecho commented on #14443
thanks.

[2022-10-26 10:04] #14443 closed, assigned to nobody

[2022-10-26 11:01] #14436 closed, assigned to halimekarayay

[2022-10-26 13:46] chaouanabil commented on #7589
Hi everyone,
I'm trying to create a new solution using this  command
abp new Itcomp.Toyota.B2B.LocalServices -u angular --dbms mysql -v 5.3.2
but i have this exception

`'<' is an invalid start of a value. Path: $ | LineNumber: 1 | BytePositionInLine: 0.
[14:31:23 ERR] '<' is an invalid start of a value. Path: $ | LineNumber: 1 | BytePositionInLine: 0.
System.Text.Json.JsonException: '<' is an inv

[2022-10-26 14:35] rhuanbarros opened #14456 "CLI create new project blazor wasm basic theme template with wrong using referencing LeptonXLiteTheme"
Hi, I just created a new project with the command below and it didn't work.

`abp new ProjectTest --template app --ui blazor --pwa --database-provider ef --theme basic --connection-string "Server=DESKTOP\\SQLEXPRESS;Database=ProjectTestDB;Trusted_Connection=True" -csf -dbms SqlServer`

[11:11:08 INF] ABP CLI (https://abp.io)
[11:11:08 INF] Creating your project...
[11:11:08 INF] Project name: Mate

[2022-10-26 14:36] merijng commented on #14444
@ebicoglu Seems legit!

[2022-10-26 15:18] yasinhallak opened #14457 "[commercial] leptonX error datatable style"
V6.0.0

![image](https://user-images.githubusercontent.com/41200731/198066447-1902000c-7331-419a-92c9-39b297586098.png)

[2022-10-26 16:04] puschie286 opened #14458 "AbpDataMigrationEnvironmentExtensions missing in Volo.Abp.Data package"
Hi,
we tried to use [AbpDataMigrationEnvironmentExtensions ](
https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Data/Volo/Abp/Data/AbpDataMigrationEnvironmentExtensions.cs) but it looks like it is not in the Volo.Abp.Data nuget package.

It would be great to be able to use it for simple migration detection

( checked with v6.0.0 )

[2022-10-26 17:03] malikmasis opened #14459 "eShop: Generic error message - Administration\Identity Management\Users"
![403-error](https://user-images.githubusercontent.com/13196534/198089908-71df4b3b-b95c-4628-ae7d-a0782b028d74.gif)

[2022-10-26 17:29] nev-21 commented on #13441
This warning is still appearing in new projects (version 6.0.0)

[2022-10-27 00:35] maliming commented on #14456
hi

What is your cli version?

[code]

[2022-10-27 06:36] maliming commented on #14435
https://github.com/abpframework/abp-samples/pull/204

[2022-10-27 06:36] #14435 closed, assigned to maliming

[2022-10-27 06:40] ebicoglu commented on #14446
we'll implement this in 6.0.2

[2022-10-27 07:35] #14447 closed, assigned to maliming

[2022-10-27 09:00] enisn opened #14464 "docs module - scroll area is too short."
In this case, it seems there are no more items on the menu, but there are.
<img align="left" src="https://user-images.githubusercontent.com/23705418/198240601-26d419d5-1353-428c-a245-4dfbeb8ec80b.png" />

![image](https://user-images.githubusercontent.com/23705418/198240332-568b9c57-4bcc-47d7-9fde-e1cfa9172bc6.png)

The scroll area is finished at that line and seems like there is no more element i

[2022-10-27 12:47] rhuanbarros commented on #14456
Package Id                       Version      Commands
-------------------------------------------------------------------------
dotnet-aspnet-codegenerator      6.0.8        dotnet-aspnet-codegenerator
dotnet-ef                        6.0.8        dotnet-ef
volo.abp.cli                     6.0.0        abp

[2022-10-27 13:01] enisn opened #14470 "Put a button to the feature management dialog reset features"
Place a button to the feature management dialog reset tenant features (techically, delete the tenant's feature values in database)

Button's name: "Reset to defaults"

[2022-10-27 20:06] DreamTreem commented on #2176
@hikalkan
Is it possible to get updated value through `IOptionsMonitor<> CurrentValue` property or in the `OnChange` method after the value was stored in the `AbpSettings` db table but not to `appsettings.json`?
Currently, `IOptionsMonitor.OnChange `method is triggered by change in the file `appsettings.json`. Storing values via `_settingManager.SetGlobalAsync `has no effect.

[2022-10-28 00:35] rqx110 commented on #14464
Others can be improved in doc module:
1. hide or auto display the scroll bar in breadcrumb
![image](https://user-images.githubusercontent.com/1829209/198421660-ec6c8465-8315-457d-8e8b-1b2941e946b7.png)
2. the height between version select and language select are not equal
![image](https://user-images.githubusercontent.com/1829209/198421815-7d6c11ff-1228-474a-a44f-25d182188369.png)
3. the left padd

[2022-10-28 01:53] #14378 closed, assigned to nobody

[2022-10-28 03:57] nev-21 opened #14476 "Angular optimization bailout warnings"
* **ABP Framework 6.0.0**.
* Angular 14

[code]

* Steps needed to **reproduce** the problem.
1. create new app with angular ui.
2. run with npm start

[2022-10-28 06:20] #14456 closed, assigned to maliming

[2022-10-28 08:43] sturlath opened #14481 "Setting a language should flow from that service to the other ones (and not be the default one)."
**Scenario:**
If you have these services setup (different URLs/serices)

- PublicPage service
- Identity service
- Backend service

and you change the language for the public page and then hit the login button and are taken to the identity page you get the default language and not the language you just set.

Shouldn´t this language information flow from the service you are on over to the other one

[2022-10-28 13:37] hikalkan opened #14483 "Upgrade to OpenIddict 4.0"
* We will try to migrate to OpenIddict 4.0-preview4, in a separate branch, and see if it is properly working. If it is working as we expected, we will ship ABP 7.0-RC.1 with OpenIddict 4.0 preview, on November 15.
* Once the final release of OpenIddict 4.0 published, we will immediately upgrade and test it with ABP 7.0. So, ABP 7.0 final (that will probably be released on December 13) will use the

[2022-10-28 13:37] hikalkan commented on #13089
Moved to https://github.com/abpframework/abp/issues/14483

[2022-10-28 13:37] #13089 closed, assigned to nobody

[2022-10-29 03:46] Loongle opened #14484 "OpenIddict not support two factor"
abp framewrok version: 6.0.0

I used OpenIddct two-factor login, but endpoint `/connect/token·` did not return `userId` and `twoFactorToken`

Response content:
[code]

[2022-10-29 04:16] devsharper opened #14485 "[NotMapped] doesn't work on DateTime properties"
ABP version: 6.0.1

DateTime properties with [NotMapped] attribute will still appear in EF Core model.

For example,

[code]

MyTime property is involved in model entity type, MyHour is not.

But EF Core add-migration command works correctly, so there is no MyTime column in database,

Invalid column name 'MyTime' exception will be thrown when querying.

I guess this is the issue? In AbpDbContext.c

[2022-10-29 04:20] devsharper commented on #14485
#13043

[2022-10-29 07:14] gterdem commented on #14420
https://github.com/abpframework/eShopOnAbp/blob/4907ff795ab0c8eeca29f50934cbed1d2a66303c/apps/public-web/src/EShopOnAbp.PublicWeb/EShopOnAbpPublicWebModule.cs#L73

Causes this error whenever a user is updated.
I have no idea why this is here.. @malikmasis?

[2022-10-29 07:31] thanhdongha commented on #2022
same issue, Invalid object name 'AbpSettings'

[2022-10-29 10:27] IbrahimTimimi opened #14487 "AbpException: Could not find the bundle file '/libs/bootstrap/css/bootstrap.css' for the bundle 'Blazor.LeptonXLiteTheme.Global'!"
I followed these steps to create my ABP Blazor Server project:
1. Downloaded project from [Get Started](https://abp.io/get-started)
2. Run `dotnet restore` at project solution folder.
3. Updated connection string at both `DbMigrator` and `EntityFrameworkCore` projects.
4. Run the `DbMigrator` console project to create migration and seed data. (db was created with seeded tables)
5. Run `abp install

[2022-10-29 11:01] sahvey opened #14488 "An exception was thrown while activating Volo.Abp.BackgroundJobs.BackgroundJobStore......"
Hi, @maliming
In a project I'm developing, I need to read some configuration settings from a different xml file other than the appsettings.json file.
I am adding my xml file to the project as stated in this [link.](https://learn.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-6.0#xml-configuration-provider) As in the picture below...

![Abp_1](https://user-images.github

[2022-10-29 15:13] #14488 closed, assigned to nobody

[2022-10-30 09:45] jprodriguez-nbs commented on #8289
Version 6.0.1 integrates openiddict. Could you please provide an example or documentation on how to modify a Volo Abp solution using OpenIdDict to use Auto Login (Windows Login) with LDAP?

[2022-10-30 13:34] omer-repo opened #14489 "Dynamic Proxy URL Conflict"
* Your **ABP Framework version**. 5.2.2
* Your **User Interface** Blazor Wasm
* Your database provider(EF Core/MongoDB) EF Core

Hi,
ABP Dynamix Proxy feature generates URLs between backend and Blazor well. I realized there is a bug when I created a new method in application service with the name GetList**2**Async. (GetList2Async is a clone method from GetListAsync. I didn't want to override exist

[2022-10-30 22:23] RelevanceRo opened #14490 "How can I assign extended properties to a new instance of RegisterDto when registering a new user?"
* ABP **6.0**.
* Blazor **WASM**
* SQL Server

I added the following properties to the RegisterDto ( extended it ):
![image](https://user-images.githubusercontent.com/53852553/198904405-467749e1-3300-45ca-8bb0-f5e13129f450.png)

How can I assign the Gender property here:

![image](https://user-images.githubusercontent.com/53852553/198904432-cd29752d-84ae-4ed3-87ac-05bf0c8aebc7.png)

[2022-10-31 01:13] realLiangshiwei commented on #14487
What's the result when you run the `abp install-libs`

[2022-10-31 01:17] realLiangshiwei commented on #14490
See: https://docs.abp.io/en/abp/latest/Object-Extensions#setproperty

[2022-10-31 05:44] gterdem opened #14493 ".Net 7 breaks minimal module creation"
After https://learn.microsoft.com/en-us/dotnet/core/compatibility/aspnet-core/7.0/default-authentication-scheme breaking change, minimal module creations or core integrations like [Autofac integration](https://docs.abp.io/en/abp/latest/Autofac-Integration) requires explicit schema for authentication.
This may be configured in [Volo.Abp.AspNetCore](https://github.com/abpframework/abp/tree/dev/frame

[2022-10-31 06:23] #14364 closed, assigned to mahmut-gundogdu

[2022-10-31 06:43] abdullahshaqaliah opened #14494 "Error when run unit test"
ABP Framework version: Abp 6.0
database provider :EF Core
Hi
I get the following error  when run unit test for applictions

[code]

[2022-10-31 06:48] maliming commented on #14494
* Steps needed to **reproduce** the problem.

[2022-10-31 06:55] abdullahshaqaliah commented on #14494
Hi
Just i used this code for test
[code]
Also i already removed the application DbMigrator
I used the same code for eshope abp application for database migration at runtime
Also i split the settings and permission and logs on diffrent application like eshope application
The connection string I declared only in application TenTime.CMSService.HttpApi.Host
[code]

[2022-10-31 06:59] abdullahshaqaliah commented on #14494
I think the problem with error
`-------- System.ArgumentNullException : Value cannot be null. (Parameter 'connectionString')`
In which project should I know the contact when used unit test???

[2022-10-31 07:10] ebicoglu commented on #12820
cannot reproduce

[2022-10-31 07:10] #12820 closed, assigned to muhammedaltug

[2022-10-31 07:35] maliming commented on #14493
Cause by https://github.com/abpframework/abp/blob/e3e1779de6df5d26f01cdc8e99ac9cbcb3d24d3c/framework/src/Volo.Abp.Authorization/Volo/Abp/Authorization/AbpAuthorizationModule.cs#L31

[2022-10-31 07:36] sturlath commented on #14470
Would it also be possible to export them so they can be reset and then imported again? Just a thought?

[2022-10-31 07:53] hikalkan commented on #14493
What are the solution offers, their pros and cons?

[2022-10-31 07:55] IbrahimTimimi commented on #14487
I found out that I needed to install `yarn`

[code]

And then run again

[code]

[2022-10-31 07:58] maliming commented on #14493
I think we can call `context.Services.AddAuthorization()` before call ` context.Services.AddAuthorizationCore(); `

The problem can be solved by `AddAuthorization`

[2022-10-31 08:00] #14487 closed, assigned to nobody

[2022-10-31 08:40] rqx110 opened #14496 "[CLI FEATURE] Consider add `pnpm` as package manager"
https://pnpm.io/

[2022-10-31 09:20] maliming commented on #14489
I don't recommend that you use numbers as the method names.

`Task<PagedResultDto<CategoryDto>> GetListTwoAsync(PagedAndSortedResultRequestDto input);`

[2022-10-31 10:33] malikmasis opened #14497 "List actions seems disable in templates"
This is valid for each list
![image](https://user-images.githubusercontent.com/13196534/198988059-1efa89d5-954e-4a7e-9cbd-99815c418fed.png)

[2022-10-31 10:39] maliming commented on #14497
Resolve by https://github.com/abpframework/abp/pull/14047

We need to copy `abp.js` from dev to `wwwrrot\libs\...` manually.

[2022-10-31 10:39] #14497 closed, assigned to maliming

[2022-10-31 10:49] fietiger opened #14498 "The entity type 'ExtraPropertyDictionary' requires a primary key to be defined."
* **ABP Framework version** :  6.0.
*  **User Interface** :    MVC
* Database provider:EF Core /PostgreSQL 15.0
* Exception message and **stack trace**

[code]

* Steps needed to **reproduce** the problem.
I want to make a table to recored something atatched to a user.
In a module project.
In the Domain project of the module project define an entity such as following:
[code]
In EntityFrameworkCore

[2022-10-31 10:57] abdullahshaqaliah commented on #14494
Hi @maliming
I try to fix the errors by i get another errores for register db
[code]
My test EntityFrameworkCoreTestModule is
[code]

So how i can  register my dbcontext??

[2022-10-31 11:06] abdullahshaqaliah commented on #14494
My dbcontext code
[code]

[2022-10-31 12:28] indexlang opened #14499 "How modules to communicate with each other In a monolith App?"
For example ，An monolith App have a moduleA，In the moduleA I want get the AbpUser infos
I have see the blogging module use the distribute event, but I just need the user info in the moduleA's application service,donot need a isolate user entity.how can I do?
I have see the issue #1698,
![image](https://user-images.githubusercontent.com/6028356/199007727-c0132b1c-c9b6-40a8-b2c2-10d763c18e17.png)
wh

[2022-10-31 12:32] mahmut-gundogdu opened #14500 "abp generate-proxy -t ng does not work."
template and cli  version is 6.0.1.

related with https://support.abp.io/QA/Questions/3959/Project-not-found-error-when-running-generate-proxy-command

[2022-10-31 14:41] malikmasis commented on #14420
You're right, no need for it. https://github.com/abpframework/eShopOnAbp/pull/139

[2022-10-31 15:17] #14420 closed, assigned to malikmasis

[2022-11-01 01:04] maliming commented on #14498
Please share a project that uses SqlServer.

[2022-11-01 01:24] maliming opened #14503 "Update document for `Generate DTOs in the client-side for static c# proxy generation`."
https://github.com/abpframework/abp/pull/14429

[2022-11-01 02:53] fietiger commented on #14498
Thanks for reply.I have tried to add same entity to main app project . Every thing seems ok.
I will prepare a project that uses SqlServer.

[2022-11-01 05:53] fietiger commented on #14498
I found my way to  fix this while preparing a project that uses SqlServer.
1. Add `Volo.Abp.Identity.EntityFrameworkCore`  to `EntityFrameworkCore`  project of the module.
2. Call `builder.ConfigureIdentity();` first. The `OnModelCreating` in EntityFrameworkCore  project of the module like this.
[code]

[2022-11-01 05:53] #14498 closed, assigned to nobody

[2022-11-01 06:18] #13613 closed, assigned to maliming

[2022-11-01 06:39] EngincanV opened #14505 "CLI: Fix problems on theme selection for basic theme"
- [x] `ng.theme.basic` package version is incorrect. (**Checked it seems correct**) (https://github.com/volosoft/volo/issues/12408#issuecomment-1298524191)
- [x] remove page loader according to theme selection (https://github.com/volosoft/volo/issues/12405)
- [x] check for other problems...

[2022-11-01 08:47] KaungZawHtet opened #14506 "Theme Bug"
Abp Version : `6.0.1`
Creation Cmd `abp new TodoApp -t app-nolayers -dbms MySQL`

When I click this button, only main page change, not drawer
<img width="86" alt="Screenshot 2022-11-01 at 3 15 32 PM" src="https://user-images.githubusercontent.com/15225530/199194218-2e06b32c-8874-4604-8fd4-4949bc65d686.png">

https://user-images.githubusercontent.com/15225530/199194042-c350f4e7-cd92-48fc-b4b6-b3f07

[2022-11-01 08:49] KaungZawHtet commented on #14237
cli tool and website's generation button are the same ? Website's generation button give same err while cli not

[2022-11-01 09:09] EngincanV commented on #14506
Hi, after clicking the menu collapse button you should hover out from the menu section to make it collapse.

![header](https://user-images.githubusercontent.com/43685404/199199598-f1179bb7-82d4-4d87-917e-2ac9c8902c9a.gif)

[2022-11-01 09:16] KaungZawHtet commented on #14506
I see. If so, this is not a bug, this is feature 👍

[2022-11-01 09:29] #14506 closed, assigned to nobody

[2022-11-01 10:17] yekalkan commented on #14269
I think this is resolved now. I've added some missing configuration for account module.

[2022-11-01 10:17] #14269 closed, assigned to yekalkan, EngincanV

[2022-11-01 12:24] ahmadmasoum opened #14508 "Setting Management UI Not Working"
* Your **ABP Framework version : 5.3.4**.
* Your **User Interface: MVC**
* Your database provider: EF Core
* Exception message and **stack trace** if available (check the logs).

[code]
* Steps needed to **reproduce** the problem.
I was following [this document ](https://docs.abp.io/en/abp/latest/Modules/Setting-Management#mvc-ui) step by step and after completing it I run the project open setting

[2022-11-01 12:50] XuMengEnEli opened #14509 "Dynamic C# API Client Proxies Unable to get jwt in header"
![image](https://user-images.githubusercontent.com/37646958/199233148-87265bf4-54a7-413e-bd5e-014b453167cd.png)

Hello, I cannot get the content in the header in the called method when using **Volo.Abp.Http.Client  5.3.3**,How to automatically forward the jwt in the current request to the target service?

[2022-11-01 13:11] KaungZawHtet opened #14510 "Getting start's generation button"
[Getting start's generation button](https://abp.io/get-started) is still working with 6.0.0 (it gives some bugs) while cli become 6.0.1.
Can you show the version of abp in getting starts's generation button ? It's easier to track err for user if released cli version and button's underlying version can be different in some parts

[2022-11-01 14:43] mehmetbybz opened #14511 "Open"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2022-11-01 17:53] Cway14 commented on #14369
Thanks, it seems I get a NullSettingStore when injecting into the Web Project. I was able to work around this by injecting the ISettingProvider into an App Service, and using a method to get the value.

[2022-11-01 23:17] RelevanceRo commented on #14490
Hi.

I set the properties, but unfortunately they don't map to the Users table. Only one property gets mapped. For example: Name, Surname don't get mapped, although they are present in the ExtraProperties of RegisterDto.

![image](https://user-images.githubusercontent.com/53852553/199359602-d90ff83c-441c-46f7-9886-9540100f407c.png)

and in DB, table Users:

![image](https://user-images.githubuserc

[2022-11-02 00:10] #14369 closed, assigned to nobody

[2022-11-02 00:11] #14511 closed, assigned to nobody

[2022-11-02 07:13] helloxubo opened #14515 "Openiddict token expiration time is UTC."
Hello!
   Openiddict token expiration time is UTC.  How to change the time to the local time?
   Thinks!

[2022-11-02 07:15] maliming commented on #14515
hi

You can get help from openiddict.

https://github.com/openiddict/openiddict-core/issues/new/choose

[2022-11-02 07:15] #14515 closed, assigned to nobody

[2022-11-02 07:27] maliming commented on #14510
hi

We will `remove project download from get started page` soon.

[2022-11-02 07:27] #14510 closed, assigned to nobody

[2022-11-02 07:27] hikalkan opened #14516 "Add useful base properties and methods to the DapperRepository class"
You can do similar to the https://github.com/abpframework/abp/blob/dev/framework/src/Volo.Abp.Ddd.Domain/Volo/Abp/Domain/Repositories/BasicRepositoryBase.cs class

Add the following members:

* Properties: LazyServiceProvider, DataFilter, CurrentTenant, UnitOfWorkManager, CancellationTokenProvider
* Methods: GetCancellationToken

[2022-11-02 07:45] #14485 closed, assigned to maliming

[2022-11-02 08:49] hikalkan commented on #14493
I suppose `AddAuthorization()` already does what `AddAuthorizationCore()` does. If no side effect, we can do that.

[2022-11-02 09:28] muhammedaltug commented on #14470
Assigned myself for angular implementation

[2022-11-02 09:29] CrazyBaran opened #14517 "Make _container in BlobContainer protected and methods virtual."
https://github.com/abpframework/abp/blob/3427ba632fd8f3947ca65db40a0119674d05e5fc/framework/src/Volo.Abp.BlobStoring/Volo/Abp/BlobStoring/BlobContainer.cs#L13

Right now I made custom BlobProvider for Azure to had possibility to create SasToken rather to push all file throw application. From documentation we had information that if we like to Customize we should override AzureBlobProvider.
https:/

[2022-11-02 09:53] CrazyBaran commented on #14517
Oh I see that would be more problematic to Customize... blobContainerFactory.Create(); didnt use any ServiceProvider so it would be impossible to Replace internal _container...

[2022-11-02 10:07] CrazyBaran commented on #14517
Ok it could be potencially possible to inject CustomBlobContainer with customization of Factory and replace factory, but this private property is still issue.

[2022-11-02 10:34] enisn commented on #14470
Thanks @sturlath

We'll consider it later in future versions. Currently, they can't be removed from the UI. The first step is making them able to remove from database_(Or any other datastore)_. We'll use your feedback in the future to improve feature management.

[2022-11-02 10:48] hikalkan commented on #11244
Inner class name can be `QuoteFormProductListResponse_Product` in Typescript.

[2022-11-02 12:49] muhammedaltug opened #14519 "Angular proxy generation should work without defaultProject property in angular.json"

[2022-11-02 13:21] hikalkan commented on #12266
Will be tracked internally

[2022-11-02 13:22] #12266 closed, assigned to nobody

[2022-11-02 13:24] hikalkan commented on #13114
I removed this from 7.0-preview milestone. It doesn't mean we don't actively tracking it. However, this is not a concrete development that we will complete in a certain date range.

[2022-11-02 13:26] hikalkan commented on #13240
@yekalkan with 7.0, we'd changed `abp update` command to update all the sub-solutions in a folder. Right? If so, we can close this issue. Otherwise, please move this to 7.0-preview milestone since we don't have time for 7.0 version anymore.

[2022-11-02 13:28] hikalkan commented on #14014
What is the status of this issue @EngincanV @enisn

[2022-11-02 13:30] hikalkan commented on #14024
To able to use the standard Topic attribute is critical. Please copy that complex code for now, and follow it to discard ours in the next releases.

[2022-11-02 13:33] enisn commented on #14014
We decided to move it to 7.1 milestone

[2022-11-02 13:35] #14390 closed, assigned to salihozkara

[2022-11-02 13:42] #14493 closed, assigned to hikalkan, maliming

[2022-11-02 13:45] ebicoglu opened #14520 "Add clapping feature to the blog posts"
Add "Clapping :clap:" feature to the blog posts so that people show their support for a post.
Check out the Medium clapping feature https://help.medium.com/hc/en-us/articles/115011350967-Claps.

![image](https://user-images.githubusercontent.com/9526587/84248573-4e525100-ab12-11ea-9f2e-60bac8889792.png)

---

_this issue moved from [2460](https://github.com/volosoft/volo/issues/2460)_

[2022-11-02 14:53] TheUnknowName commented on #6598
the new document content: Application services (inherit ApplicationService class or its subclasses) are registered as transient.
So, wo dotn't use the IApplicationService go to auto register.
Why ApplicationService can do, because it implement the ITransitionDenpendency interface.

[2022-11-02 14:56] TheUnknowName commented on #6598
At begining of I'm reading the chinese docuemtn, the content is "应用程序服务（实现IApplicationService接口或继承ApplicationService类）注册为transient.",,,but the description is error.

[2022-11-02 19:31] CrazyBaran commented on #14517
I tested, it is quite straight forward to replace standard BlobContainer with customized one. So this is only one disadvantage of this class that it is hard to extend. If nobody had problem with that, I would open PR for it.

[2022-11-03 00:38] maliming commented on #14517
hi

Welcome to contribute the code.

[2022-11-03 07:02] helloxubo opened #14525 "OpenIddictDataSeedContributor won't hand ExtensionGrantType."
foreach (var grantType in grantTypes)
            {
                if (grantType == OpenIddictConstants.GrantTypes.AuthorizationCode)
                {
                    application.Permissions.Add(OpenIddictConstants.Permissions.GrantTypes.AuthorizationCode);
                    application.Permissions.Add(OpenIddictConstants.Permissions.ResponseTypes.Code);
                }

[2022-11-03 07:19] #14316 closed, assigned to maliming

[2022-11-03 07:37] maliming commented on #14525
You can do it yourself. `OpenIddictDataSeedContributor ` is just a general `DataSeed`.

[2022-11-03 07:40] #14516 closed, assigned to malikmasis

[2022-11-03 08:12] helloxubo commented on #14525
Ok.
 The Grants property in the  AbpOpenIddictExtensionGrantsOptions perhaps better define：
 public Dictionary<string, type> Grants { get; }
It easier to use Di.

[2022-11-03 08:37] hikalkan commented on #14413
I am canceling this because https://github.com/abpframework/abp/pull/14480#issuecomment-1301784505

[2022-11-03 08:37] #14413 closed, assigned to nobody

[2022-11-03 09:00] malikmasis commented on #14470
@muhammedaltug blazor and razor side was completed. FYI.

[2022-11-03 09:57] Aarnihauta opened #14529 "Active elements are not clickable"
Abp versions: 5.2.2, 6.0.1
UI: MVC

For some users, popoverjs adds this style to the body tag, which makes it impossible to click on active elements

![image](https://user-images.githubusercontent.com/62142248/199692328-e5f727e2-5d3c-44c7-b427-d7f3efa2ed1e.png)

[2022-11-03 10:17] maliming commented on #14529
* Steps needed to **reproduce** the problem.

[2022-11-03 10:51] #14505 closed, assigned to EngincanV

[2022-11-03 11:14] #14517 closed, assigned to nobody

[2022-11-03 12:12] mahmut-gundogdu opened #14530 "Refactor RestService"
Refactor RestService. Move some feautes to interceptor or another functions. it might be lightweight.

[2022-11-03 13:29] ageiter opened #14532 "Wrong translation of "Volo.Authorization:010001""
ABP Framework version: 6.0.0
ABP Suite version: 6.0.0
User Interface: Blazor-Server
Database provider: EF Core

There is a wrong German translation of Volo.Authorization:010001 error message.

Current (wrong) text: "Autorisation fehlgeschlagen! Die gegebene Politik hat nicht gewährt."
Correct text: "Autorisation fehlgeschlagen! Die entsprechende Richtlinie wurde nicht erfüllt."

The word "Politik"

[2022-11-03 13:34] berkansasmaz commented on #14532
Thanks for the report 🎉🎉

[2022-11-03 19:39] Coolioyang opened #14534 "Angular Lib FullAuditedEntityWithUserDto generic type parameters are in wrong order"
@abp/ng.core 6.01.

csharp Type:
https://github.com/abpframework/abp/blob/f6ad7c13d087a8eb8c63683feb3eb66d40c17fab/framework/src/Volo.Abp.Ddd.Application.Contracts/Volo/Abp/Application/Dtos/FullAuditedEntityWithUserDto.cs#L31

but In Angular lib

https://github.com/abpframework/abp/blob/f6ad7c13d087a8eb8c63683feb3eb66d40c17fab/npm/ng-packs/packages/core/src/lib/models/dtos.ts#L119-L122

Thiers par

[2022-11-04 01:54] #14503 closed, assigned to maliming

[2022-11-04 02:43] lajiv opened #14537 "how add OutboxSenderManager worker to BackgroudWorkers.Quartz"
when i use BackgroundWorkers.Quartz,  context.AddBackgroundWorkerAsync<OutboxSenderManager>() cannot add to jobs
[code]
Trigger  is null

[2022-11-04 04:17] duyan11110 commented on #5217
Hi @leonkosak,

I have the same problem when running background work in parallel for all tenants. Have you solved this issue? If yes, could you pls share the solution?

Thank you so much

[2022-11-04 05:11] weiwxg opened #14538 "How to replace built-in KafkaDistributedEventBus to publish and consume multiple topics?"
I can override `KafkaDistributedEventBus`  `PublishToEventBusAsync` method to publish message to different topic as bellow:
[code]

However, how can i implement the consumption of different topics?

[2022-11-04 05:57] maliming opened #14540 "[Angular] Service Proxy generation changes for integration services."
Continue with https://github.com/abpframework/abp/pull/14288

A new parameter `--service-type(application, integration, all)` passed to `@abp/ng.schematics proxy-add`.

There is a new property `isIntegrationService` added to the `generate-proxy.json`.

![image](https://user-images.githubusercontent.com/6908465/199903139-f74c6b45-b558-4d66-847b-56fa1cb2829c.png)

[2022-11-04 06:12] enisn commented on #13684
I'm closing this issue since removing is possible in v6.0 after PR #14375

[2022-11-04 06:12] #13684 closed, assigned to enisn

[2022-11-04 07:13] #14538 closed, assigned to nobody

[2022-11-04 07:25] realLiangshiwei commented on #14537
* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2022-11-04 07:30] hangyejiadao opened #14542 "I wanna custom my own granttype in openiddict, what should i do?"

[2022-11-04 07:32] maliming commented on #14542
https://docs.abp.io/en/abp/latest/Modules/OpenIddict

Please get more help from openiddict.

https://github.com/openiddict/openiddict-core/issues/new/choose

[2022-11-04 07:32] #14542 closed, assigned to nobody

[2022-11-04 07:37] hangyejiadao commented on #14542
https://docs.abp.io/en/abp/latest/Modules/OpenIddict
from here i cant find what can solve  my problem   ,abp encapsulated openiddict Seriously ,i have tried many methods but  these doesnt work

[2022-11-04 08:02] lajiv commented on #14537
ABP Framework version: 5.3.3
I use outbox for distributed event bus, when i publish event,AbpEventOutbox table can inserted one record,but it doesn't publish message to rabbitmq.
[code]
[code]
And I import Volo.Abp.BackgroundWorkers.Quartz

when I debugger ,i found QuartzBackgroundWorkerManager.cs
[code]
workerAdapter?.Trigger == null
So it can't add to job and message always stay in AbpEventOutbo

[2022-11-04 10:29] VivienMAN commented on #14167
Hi @maliming
I'm not saying there's a problem, but according to your documentation, it's not good.
You say one or more,
![image](https://user-images.githubusercontent.com/103559756/199949370-6a36ef11-6c7d-4f2d-bb18-83bc139933da.png)
However when there is a Collection to modify, there is no EntityPropertyChangeInfo .
![image](https://user-images.githubusercontent.com/103559756/199950133-039aea25-ad

[2022-11-04 10:33] #14484 closed, assigned to maliming

[2022-11-04 11:47] #13973 closed, assigned to maliming

[2022-11-04 13:10] #14483 closed, assigned to maliming

[2022-11-04 14:12] malikmasis commented on #14470
have you look at https://github.com/abpframework/abp/pull/14547, please?

[2022-11-04 14:48] NecatiMeral commented on #14532
I think this could be handled together with #13864.
I could offer myself as german speaking reviewer.

[2022-11-04 19:56] kevinchalet commented on #14312
@maliming @hikalkan hey 😃

FYI I received another report earlier today, so it's likely folks keep being impacted, despite the documentation being updated (and clear, at least IMHO). To make the user experience a bit better, could/should the logic in ABP vNext be tweaked?

Two potential options that could help:
  - Use `IHostEnvironment.EnvironmentName`/`IsDevelopment()` to only set `AddDevelopment

[2022-11-05 09:14] RelevanceRo commented on #7465
@Wiblox

Care to detail the steps taken to implement Radzen components into the ABP solution?

[2022-11-05 10:14] maliming commented on #14312
hi @kevinchalet

I will confirm that. 👍

[2022-11-05 16:05] Mahesh3677 opened #14550 "When I use reverse engineering for entities, When an update is taken BasicAggregateRoot will be missing. Forcing to update entities in all sql updates."
public partial class EntityClass : BasicAggregateRoot<Guid>
    {

}

[2022-11-05 22:38] nev-21 opened #14551 "Permission not granted if no child is selected (UI)"
### Documentation

https://docs.abp.io/en/abp/latest/Authorization#child-permissions

[code]

### GitHub Issues

* **ABP Framework 6.0.0**.
* Angular 14.2.8
* EF Core

### Steps to reproduce

1. Create a simple app with a permission with childs (You can also use the abp online demo).
2. Check only the parent permission.
3. See the number of granted permissions is not including the permission.
4. S

[2022-11-06 01:16] maliming commented on #14550
hi

* Your **ABP Framework version**.
* Steps needed to **reproduce** the problem.

[2022-11-06 06:24] leonkosak commented on #5217
@duyan11110 you can make console application, which periodically grab all tenantids and then with Task (TPL library) call REST API method with different tenant in parallel.

[2022-11-06 18:08] hitaspdotnet opened #14556 "Abp bundling TagHelper override "onload" event with custom task"
Trigger a func when css file loaded asynchronously.
https://github.com/abpframework/abp/blob/9d3d8f85b14396430445a919d8f95c661e200ee1/framework/src/Volo.Abp.AspNetCore.Mvc.UI.Bundling/Volo/Abp/AspNetCore/Mvc/UI/Bundling/TagHelpers/AbpTagHelperStyleService.cs#L51

[2022-11-06 19:33] Mahesh3677 commented on #14550
I am using version 6.0.
Added domain classes by reverse engineering using EF core power tools.
inherited entities with BasicAggregateRoot.
When I use  EF core power tools again for updating the entities , BasicAggregateRoot will be missing from entity class.

[2022-11-07 00:28] maliming commented on #14550
I think this is not abp problem.

[2022-11-07 02:58] vnetonline opened #14558 "CmsKit - Allow user to create Custom Post with Custom Fields and assign them to a Category which is hierarchical"
The current features which have been implemented in the CmksKit module are great.

However for it to be more useable the user should be able

- [ ] Create Custom Posts
- [ ] Custom Fields attached to those Posts
- [ ] Posts assigned multiple categories

The above is implemented in WordPress and adding this to the CmsKit will make it more useable

[2022-11-07 04:21] Nokecy opened #14559 "How to implement read-write separation"
### Documentation

Please check the official documentation before asking questions: https://docs.abp.io

### GitHub Issues

GitHub issues are for bug reports, feature requests and other discussions about the framework.

If you're creating a bug/problem report, please include followings:

* Your **ABP Framework version**.
* Your **User Interface** type (Angular/MVC/React... etc.) if the issue is re

[2022-11-07 06:32] #14532 closed, assigned to braim23

[2022-11-07 08:45] #12061 closed, assigned to berkansasmaz

[2022-11-07 10:41] #14024 closed, assigned to maliming

[2022-11-07 11:21] gizemmutukurt opened #14563 "Bug Report Test"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Bug Report Test Description

### Reproduction Steps

Reproduction Steps

1. Test1
2. Test2
3. Test3

### Expected behavior

Yes Test

### Actual behavior

No Test

### Regression?

Regression? Test

### Known Workarounds

Known Workarounds Test

### Version

1.0.0

### User Interface

MVC

### Dat

[2022-11-07 11:25] gizemmutukurt opened #14564 "Feature request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Feature request Test

### Describe the solution you'd like

Feature request Test

### Additional context

Feature request Test

[2022-11-07 11:37] gizemmutukurt opened #14566 "Article request Test"
### Is there an existing article or article request for this?

- [X] I have searched the existing resources

### Describe the article you'd like

Article request Test

[2022-11-07 11:50] gizemmutukurt opened #14567 "Performance issue Test"
### Description

 Performance issue Test desc

### Configuration

 Performance issue Test Configuration

### Regression?

Regression

### Data

### Analysis

[2022-11-07 12:45] sturlath opened #14569 "Adding EnableRetryOnFailure for SQL fails migration."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I´m getting this exception

But if I try to update the code with

`builder => builder.EnableRetryOnFailure()`

I get a migration error

[code]

And if I try to look that up there is an [old comment that says that abp.io doesn´t support it](https://github.com/abpframework/abp/issues/10183).

Is tha

[2022-11-07 12:47] sturlath commented on #14569
Should this maybe only be set in the `DbContextFactory` class? The [comment about it not being supported](https://github.com/abpframework/abp/issues/10183#issuecomment-1007100767) in abp.io is making me usure because the code seems to be working fine.

OK found an answer since I month ago about it [**not** being supported](https://support.abp.io/QA/Questions/3781/EnableRetryOnFailure#answer-8204fe

[2022-11-07 15:06] #13946 closed, assigned to mahmut-gundogdu

[2022-11-08 02:34] gterdem opened #14573 "CLI adds extra _ when project name starts with number"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

When generating a new project starts with a number, solution is created with adding a `_` to the project name.
This breaks docker image creation.

![image](https://user-images.githubusercontent.com/25867/200460346-39673bdd-7f1b-4cc7-87db-daa578750e94.png)

### Reproduction Steps

Try generating a

[2022-11-08 03:22] helloxubo opened #14575 "The localization resources "TheSpecifiedGrantTypeIsNotImplemented." spelling mistake."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The Volo.Abp.OpenIddict.Domain.Shared localization resources  "TheSpecifiedGrantTypeIsNotImplemented."  spelling mistake.

### Reproduction Steps

/

### Expected behavior

/

### Actual behavior

/

### Regression?

/

### Known Workarounds

/

### Version

6.0.1

### User Interface

Common (Defa

[2022-11-08 05:51] xyfy opened #14576 "Dynamic JavaScript API Client Proxies not Working in tiered startup template."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

 in startup template with tiered. Dynamic JavaScript API Client Proxies not Work Well in **_.Web Project_**

it can not suite for document in <https://docs.abp.io/en/abp/latest/Tutorials/Part-2?UI=MVC&DB=EF>

### Reproduction Steps

1. use `abp new Acme.BookStore --tiered` create solution
2. add a

[2022-11-08 05:57] ebicoglu opened #14577 "docs - Add the "Edit" button"
There was an edit before the update, but now it's gone.
Add the button again.
![image](https://user-images.githubusercontent.com/9526587/200486439-376f83ae-e20d-4ad1-b016-9ec4e218797e.png)

[2022-11-08 06:01] EngincanV commented on #14577
It's already done (with [this commit](https://github.com/abpframework/abp/commit/3a5fa78a967fa0810e3758b9cc4bdd1af290420b#diff-26c8b64a32e19b8f3eff2d33869f1658dc85b0f2a222ae62f9b19af9a2704455L252)), but i'll check it.

[2022-11-08 06:02] #14577 closed

[2022-11-08 07:55] maliming commented on #14569
hi

We are using `BeginTransaction` in the unit of work now.

https://learn.microsoft.com/en-us/ef/core/miscellaneous/connection-resiliency#execution-strategies-and-transactions

[2022-11-08 08:03] hippocampeocean opened #14578 "Blazor.LeptonXLiteTheme.Global"
![Capture d’écran 2022-11-08 090646](https://user-images.githubusercontent.com/113675430/200509362-8e3ae5e6-96f0-4f2e-ace5-6ec149af2bbf.png)
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

Hello, I have a problem when i generate an app with Blazor-server. The error is below.
AbpExce

[2022-11-08 08:13] hippocampeocean commented on #14578
I dowloaded the website to blazor-server.
I have add migration + update database to sql server.
I have this error.
Thank you for your help

[2022-11-08 08:17] realLiangshiwei commented on #14578
Run `abp install-libs` command

[2022-11-08 09:13] minhtaile2712 opened #14579 "Unnecessary subfolder was created when using abp CLI"
When I create a new solution using Abp CLI using the following options:
`abp new TPos.InventoryManagement -o inventory-management -u none --separate-auth-server`
It will always create a subfolder named `aspnet-core` under my specified output folder and put generated folders (`src`, `test`) and files under it instead of put them directly under my specified output folder.
I believe this redundant be

[2022-11-08 12:21] yekalkan commented on #14573
`1Test` is not a valid namespace. That is why we add `_` when normalizing the project name.

![image](https://user-images.githubusercontent.com/5793291/200561941-b78cbf84-cdea-452f-8a18-f3d710156620.png)

Should we reject it completely and ask for a valid project name? We can discuss.

[2022-11-08 13:08] realLiangshiwei commented on #14573
Adding `_` to project name,  this is also the default behavior of VisualStudio, I think this is no problem.

But we should make our docker file work, we can create a step to handle it if generating a new project starts with a number

[2022-11-08 14:18] ebicoglu opened #14582 "Blog post security enhancements (reCaptcha + delete post function)"
The blogging module allows posting spam entries.

1- Add our custom spam protector to the new blog post entry as an optional security feature. This should be OFF by default, but in we'll enable this on community.abp.io
2- Let us delete the post. Add a delete button on the top-right of the post and if the user has post-delete permission, he/she can delete the post.

[2022-11-08 14:19] maxrizwork commented on #8181
I'm having a similar problem with abp ver5.3.4
Everything OK on dev machine but when I publish the Release version on IIS I have this strange behaviour of login redirect again to login page.

Inside log no errors except few warnings, and this like yours:
2022-11-08 15:07:15.349 +01:00 [INF] Authorization failed. These requirements were not met:
DenyAnonymousAuthorizationRequirement: Requires an au

[2022-11-08 16:10] xyfy commented on #14490
You must to know ,  you current is only set value to `DTO`, You should map it to the **entity**.

<https://docs.abp.io/en/abp/latest/Object-Extensions#mapextrapropertiesto>

[2022-11-08 18:07] #14446 closed, assigned to EngincanV

[2022-11-08 23:22] xyfy commented on #14576
I don't think it has anything to do with the code, it should be the documentation, should we use a static proxy instead of a dynamic proxy?

In _**Web**_ Project, it does not configure this
[code]

[2022-11-09 02:35] #14569 closed, assigned to nobody

[2022-11-09 02:56] #14575 closed, assigned to maliming

[2022-11-09 04:11] xyfy commented on #14576
@maliming What do you think about this?  should we update document ,   or update tiered startup template?

[2022-11-09 04:13] rqx110 opened #14586 "Couldn't find any versions for "@abp/ng.theme.lepton-x" that matches "^1.0.0""
abp version 6.0.1
ui: angular

using command `abp new Acme.BookStore -csf -u angular` to create project:
![image](https://user-images.githubusercontent.com/1829209/200736334-b246894c-5d5f-4fb7-af04-7895a902c1d3.png)

I think it relate the tag of @abp/ng.theme.lepton-x package on `nmpjs.com`.  version `1.0.0` is tagged with `preview`
![image](https://user-images.githubusercontent.com/1829209/200736

[2022-11-09 04:46] xyfy commented on #14576
I don't think automatic API conversion should be added to the **.Web** project. This will increase the coupling, but how should `Dynamic JavaScript Proxies` be used in **.Web** project? have any suggestions?

[2022-11-09 04:47] enisn commented on #14586
It seems there is confusion on version tags. We'll work on it.

[2022-11-09 05:41] #14550 closed, assigned to nobody

[2022-11-09 08:12] sturlath commented on #14569
@maliming does that mean you are handling the retry or do I need to implement it (as in the code example)?

[2022-11-09 08:14] maliming commented on #14569
hi

You can try to implement it your self.

[2022-11-09 08:28] johntallon opened #14588 "Running ABP.IO on Cosmo DB, API for Mongo"
Hi there,

Can we please get an article or guide on moving to Cosmo DB please? The current article does not run and fails on the DbMigrator.

Regards
John

[2022-11-09 09:42] realLiangshiwei opened #14589 "Upgrade to Blazorise 1.1.3"
https://blazorise.com/news/release-notes/113

From Blazorise 1.1.3, Blazorise now fully supports the final .NET 7 version

[2022-11-09 09:46] #14331 closed, assigned to nobody

[2022-11-09 09:46] realLiangshiwei commented on #13114
Ahead-of-time (AOT) compilation: https://learn.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/webassembly?view=aspnetcore-7.0#ahead-of-time-aot-compilation

[2022-11-09 09:48] #13598 closed, assigned to nobody

[2022-11-09 09:52] LovelyWei commented on #14578
Same problem for me, tried to run `abp install-libs` but it didn't work

[2022-11-09 10:16] journey191 opened #14591 "Using CSRF Anti Forgery System in microservices scene"
[Please check the official documentation before asking questions: https://docs.abp.io](https://docs.abp.io/en/abp/latest/CSRF-Anti-Forgery)

* Your **ABP Framework version**:4.3.0.
* Your **User Interface** type:VUE

After proxy,my webapp and backend microservices run on same domain,therefore,each service will validate XSRF-TOKEN for requests from webapp.
**There are 3 questions confused me:**

-

[2022-11-09 10:27] #14589 closed, assigned to realLiangshiwei

[2022-11-09 10:28] zaktecs opened #14592 "Upgrade .net 7 Error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I hav just upgraded to .Net 7 and started getting the following error:

An unhandled exception occurred while processing the request.
MissingMethodException: Method not found: 'Void CoreTypeMappingParameters..ctor(System.Type, Microsoft.EntityFrameworkCore.Storage.ValueConversion.ValueConverter, M

[2022-11-09 10:32] maliming commented on #14592
hi

Can you share the detail steps?

[2022-11-09 12:17] xyfy commented on #14576
Closed.  The document is for no-tired startup template, without special description.

[2022-11-09 12:17] #14576 closed, assigned to nobody

[2022-11-09 12:52] muhammedaltug commented on #14500
related to https://github.com/abpframework/abp/issues/14519

[2022-11-09 15:09] zaktecs commented on #14592
@maliming Please find below the steps I took to upgrade my Abp Project to .Net 7

1.	Install .NET7 SDK

https://dotnet.microsoft.com/en-us/download/dotnet/7.0

2.	Update Your *.csproj Files

<TargetFramework>net7.0</TargetFramework>

3.	Microsoft Package Updates

4.	Entity Framework Core Updates

dotnet tool update dotnet-ef --global --prerelease

5.	EF Core - SQL Client Connection String Update

[2022-11-10 00:00] wub commented on #8750
This would be great, especially with the recent Orleans updates (simpler DX, faster, versions in lockstep with .NET https://devblogs.microsoft.com/dotnet/whats-new-in-orleans-7/)

[2022-11-10 00:33] wub commented on #14559
Hey @Nokecy it looks like you forgot to fill out your question - are you wondering how to implement CQRS in ABP?

[2022-11-10 00:42] maliming commented on #14592
hi

Are you using the `HealthChecks`?if so you can disable it. It does not support net 7 now.

[2022-11-10 03:15] chenyigg opened #14596 "The AppService reported an error using the user-defined route"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Description

When I created the AppService and inherited from **ReadOnlyAppService**, I wanted to change the route, So on AppService added features **[Microsoft. AspNetCore. Mvc.Route (" / API/XX/XX ")]**, but if you add the feature, inherited GetAsync method cannot automatically parse in Swagger, I need to ma

[2022-11-10 03:27] maliming commented on #14596
Actions require an explicit HttpMethod binding for Swagger/OpenAPI 3.0

[2022-11-10 03:36] chenyigg commented on #14596
GetAsync or CreateAsync will automatically recognize a Get or Post request by default.

[2022-11-10 03:37] chenyigg commented on #14596
But now that you've added the Route feature, you can't automatically recognize it

[2022-11-10 05:21] maliming commented on #14596
This is related to `Swashbuckle` instead of abp.

[2022-11-10 05:33] luy710 commented on #4439
how to custom existing module? GetIdentityUsersInput

[2022-11-10 06:48] tchivs commented on #14578
Need to switch to the directory of Blazor.Host to execute `abp install-libs`

If it doesn't work, you can download the source code of this project and find this directory: `abp-6.0.0\modules\setting-management\app\Volo.Abp.SettingManagement.DemoApp\wwwroot` Copy it to the wwwroot of your own Host

[2022-11-10 07:01] maliming commented on #14508
hi

Can you share the project?

[2022-11-10 07:09] maliming commented on #14481
You can change the `domain` of the ` CookieRequestCultureProvider.DefaultCookieName` to share the language across multiple domains.

[2022-11-10 07:09] #14481 closed, assigned to nobody

[2022-11-10 07:13] duyan11110 commented on #5217
@leonkosak
Thanks for your sharing, but I'm seeking a solution with Hangfire for more flexible configuration of job's schedule for each tenant.

[2022-11-10 08:31] leonkosak commented on #5217
@duyan11110 there is no difference.
Use cron expressions in a console application (using hangfire/Quartz) for each individual tenant and always calculate next execution time (in the future) based on "base startup time in the past".
In a console application trigger tenant query for tenants which have "next execution time" before the current time.
This infinite tenant query should be triggered perio

[2022-11-10 08:38] leonkosak commented on #5217
Also keep in mind that each instance of a console application, which triggers REST API call for background job execution should run strictly only on one "node" in a cluster environment (for instance k8s cluster). Otherwise, race-condition issues will appear and potential deadlocks in databases.

[2022-11-10 08:49] muhlisatac commented on #14592
Same problem here. Downloaded a new project from https://abp.io/get-started. Then followed this post https://community.abp.io/posts/upgrade-your-existing-projects-to-.net7-nmx6vm9m. When i try to execute DbMigrator it shows the same error. By the way i disabled multi-tenancy and i couldnt find how to disable HealthChecks if its enabled by default.

[2022-11-10 08:56] xyfy opened #14598 "Why we changed the enum localization keys, when the ajax return the enum as int,not string?"
as mentioned in the issue  #13264

we changed the enum localizatiion key in #13451

But I got some thing conflict in <https://docs.abp.io/en/abp/latest/Tutorials/Part-2?UI=MVC&DB=EF#localization>

the ajax  call `acme.bookStore.books.book.getList` return type as int ,not string

Why we change the localization keys to string?

If you're creating a bug/problem report, please include the followings:

[2022-11-10 09:07] muhlisatac commented on #14592
I think we should wait for the v7 release for abp. It might be the issue.

[2022-11-10 09:15] maliming commented on #14592
Yes, and we will release 7.0 rc soon.

[2022-11-10 13:33] MajidFarhan opened #14599 "Can Not Display data using syncfusion Grid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Her is my Js for grid:
[code]

and this is AppService file:

[code]

when I run it I get this error in console:
[code]

I made many modification based on documentaion but could not solved, BUT when I use datatable its work!

### Reproduction Steps

_No response_

### Expected behavior

_No respons

[2022-11-10 13:34] lukagalovic opened #14600 "Error while trying to localize AbpUiNavigationResource and AbpUiResource"
**Description**
I am trying to localize Menu and some other built-in things but when I try to add
`AbpUiNavigationResource` or `AbpUiResource`
 in

`Configure<AbpLocalizationOptions>(options => {
options.Resources
                .Get<AbpUiNavigationResource>()
                .AddVirtualJson("/Localization/AbpUi");
})`

I am gettings error

I installed Volo.Abp.Ui and Volo.,Abp.Ui.Navigation pack

[2022-11-10 14:07] lukagalovic commented on #14600
Problem solved!

I forgot to add `
DependsOn(
typeof(AbpUiModule),
typeof(AbpUiNavigationModule)
)
`

[2022-11-10 14:13] ebicoglu opened #14601 "CLI - Print a user friendly error when the license expires on new project creation"
When creating a new ABP Commercial project with an expired license it sends Forbidden error.
Customers usually don't understand that their license expired.
Show the following error message `Cannot create a new commercial project because your license is expired!`

**Input:**
[code]

**Output:**
[code]

[2022-11-10 14:45] ebicoglu commented on #14394
should be fixed on 2022-11-11.

[2022-11-10 22:19] kgrontis opened #14604 "An error occurred during the ABP remote HTTP request. (No connection could be made because the target machine actively refused it. (localhost:44357))"
### Description

Hello. I just started using the framework. After following the Getting Started  - Running the Solution step, i stumbled below error.
Attached you will find the logs.txt

![image](https://user-images.githubusercontent.com/7747808/201216775-5f4f511f-0224-491f-90c2-72137cd8d767.png)
[logs.txt](https://github.com/abpframework/abp/files/9984957/logs.txt)

### Reproduction Steps

- Crea

[2022-11-11 01:03] #14600 closed, assigned to nobody

[2022-11-11 01:15] maliming commented on #14604
hi

Is the `localhost:44357` project running?

[2022-11-11 01:19] maliming commented on #14599
hi
[code]

[2022-11-11 01:32] realLiangshiwei commented on #14537
I will check it

[2022-11-11 02:23] ram16g commented on #14464
![image](https://user-images.githubusercontent.com/11473136/201248671-042821ed-5a31-443c-b2d9-43c46e9eccb5.png)

[2022-11-11 05:19] maliming commented on #13276
I can't reproduce the problem in this case.

[2022-11-11 05:28] Kobus-Smit commented on #13509
Still an issue:

AuthServer__Authority=http://xxx-identity-server

ABP Commerical/CLI 6.0.1
Blazor WebAssembly
EF Core/Postgres

[2022-11-11 05:53] kgrontis commented on #14604
No it wasn't running, there was an issue on .HttpApi.Host i havent noticed. Thanks a lot!

[2022-11-11 05:53] #14604 closed, assigned to nobody

[2022-11-11 06:46] Kobus-Smit commented on #13510
Still the same issue with

ABP Commerical/CLI 6.0.1
Blazor WebAssembly
EF Core/Postgres

[2022-11-11 06:57] abdullahshaqaliah opened #14605 "InvalidOperationException: IDX20803: Unable to obtain configuration from: 'xxxx/.well-known/openid-configuration'. Microsoft.IdentityModel.Protocols.ConfigurationManager<T>.GetConfigurationAsync(CancellationToken cancel)"
Hi
we get this error after setup the application on docker with linux server
when communicate the web client with identity server after successfuly login
[code]

Can any one help us for this issue

[2022-11-11 07:11] #14394 closed, assigned to braim23

[2022-11-11 07:11] maliming commented on #14605
Is `10.129.10.138:44357` available on your docker container?

This seems like a docker issue instead of abp.

[2022-11-11 07:14] abdullahshaqaliah commented on #14605
Yes
 it is available

[2022-11-11 07:19] RayMMond opened #14606 "eShopOnAbp live demo is down"
![image](https://user-images.githubusercontent.com/9551761/201287444-8dcbcdb4-62f1-4410-87d7-ed5295adba84.png)

[2022-11-11 07:21] abdullahshaqaliah commented on #14605
@maliming Do you think the problem is the certificate? If so, how can it be solved??

[2022-11-11 07:27] maliming commented on #14605
You can check the log` for 'https://10.129.10.138:44357', I think it doesn't receive any requests. That is unable to request this site

[2022-11-11 07:31] abdullahshaqaliah commented on #14605
Yes, you are correct, there is no request any idea??

[2022-11-11 07:32] ebicoglu commented on #14606
thanks we are on it

[2022-11-11 07:39] braim23 opened #14607 "Typo in `"CrossCuttingConcernsExplanation3"` localization"
The word "spend" is spelled "send" here and is translated to the other languages as "send".

https://github.com/abpframework/abp/blob/95d470cad15535acc9c642735cdbc58b35bf26be/abp_io/AbpIoLocalization/AbpIoLocalization/Www/Localization/Resources/en.json#L59

[2022-11-11 07:45] maliming commented on #14605
Please share your configuration?

[2022-11-11 07:55] abdullahshaqaliah commented on #14605
The identity server application already setup on diffrent docker so how can commiuncation diffrent docker togother?

[2022-11-11 07:58] maliming commented on #14605
This belongs Devops scope I dont have much experience.

[2022-11-11 08:03] maliming commented on #14606
It's working now.

[2022-11-11 08:03] #14606 closed, assigned to nobody

[2022-11-11 09:43] github-amazingboy commented on #11978
我也遇到同样的问题，  https://github.com/github-amazingboy/ADMail/blob/main/src/ADMail.Blazor/Pages/ADMails/MailServer.razor

![image](https://user-images.githubusercontent.com/34153374/201312938-68e94069-027b-4a09-829d-f5b8d18204dc.png)

[2022-11-11 10:59] sturlath opened #14609 "ObjectDisposedException in health checks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I sometimes get the following error from my health checks

This here being the full error message

[code]

### Reproduction Steps

n/

### Expected behavior

No error

### Actual behavior

Error

### Regression?

Yes don´t remember seeing this before

### Known Workarounds

_No response_

### Vers

[2022-11-11 11:44] sturlath opened #14611 "404 error on Lepton.Global bundle (that then shows up)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I´m getting a 404 error on this bundle even though its clearly there `https://eventstreamingpublicwebdev.azurewebsites.net/__bundles/Lepton.Global.D5BC28C7C804D6CD94CEB89FA20EFA24.css?_v=638037469341657181`

The error
![image](https://user-images.githubusercontent.com/2386572/201329680-e69c9fd5-2e

[2022-11-11 11:54] #14537 closed, assigned to realLiangshiwei

[2022-11-11 13:53] sturlath commented on #14611
OK creating a lepton folder under images and placing logo-light.png file in it seems to have **solved both errors**. I´m not closing this since you probably want to do some update on your part.

`wwwroot\images\logo\lepton\logo-light.png` (note that I have never had this lepton folder there and never an error)

[2022-11-11 14:00] EngincanV commented on #14611
Hi @sturlath, thanks for reporting.

---

A quick note for who might face this problem: Existing Lepton theme users should move their logos from **wwwroot/images/logo/** to **wwwroot/images/logo/lepton/** folder.

[2022-11-11 14:47] MajidFarhan commented on #14599
Thanks maliming

Grid appearing Now But withot Records!
without any errors in console

[2022-11-11 14:54] sturlath opened #14617 "Unable to Authorize Swagger API pages : "The 'client_secret' parameter is not valid for this client application.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We updated from using IdentiyServer to Opendict and everything seems to be working just fine with the exception that I can´t Authorize in the Swagger API

![image](https://user-images.githubusercontent.com/2386572/201364959-842cd69f-b396-4af5-a717-433a3768d2cb.png)

Are there some steps missing in

[2022-11-11 15:02] sturlath commented on #14328
@EngincanV  just checking if these suggestions were addressed or just forgotten? This UI is a hot mess :-)

[2022-11-11 15:04] sturlath commented on #13373
@realLiangshiwei will this be in 7.0? Just making sure it's not forgotten about

[2022-11-11 15:33] sturlath opened #14618 "Blazor profile image pointing to localhost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

The image for logged in user is broken because its pointing to localhost
![image](https://user-images.githubusercontent.com/2386572/201370400-d40ee9dc-40ec-47f2-bc4d-e9142037f231.png)

![image](https://user-images.githubusercontent.com/2386572/201370469-e96f47e5-c791-455a-9717-6cf0b5f36c1b.png)

T

[2022-11-12 01:57] jimb6 opened #14619 "Entity Framework Core (Ef Core) to eXpress Persistent Object (XPO)"
### Is there an existing article or article request for this?

- [x] I have searched the existing resources

### Describe the article you'd like

Is there any possible way we could use Devexpress XPO ORM instead of EFCore in ABP? We were required to use the XPO in our project. I also found it beneficial since migration or db update is easier if we use XPO. Would like to ask an assistance, article

[2022-11-12 07:31] #13849 closed, assigned to nobody

[2022-11-12 07:33] #13860 closed, assigned to nobody

[2022-11-12 07:35] #13865 closed, assigned to enisn

[2022-11-12 07:36] #13747 closed, assigned to nobody

[2022-11-12 07:37] #13784 closed, assigned to nobody

[2022-11-12 07:37] #13712 closed, assigned to nobody

[2022-11-12 07:38] #13714 closed, assigned to nobody

[2022-11-12 07:38] #13752 closed, assigned to nobody

[2022-11-12 07:38] #13443 closed, assigned to enisn

[2022-11-12 07:39] #13534 closed, assigned to nobody

[2022-11-12 07:39] #12700 closed, assigned to nobody

[2022-11-12 07:39] #13630 closed, assigned to nobody

[2022-11-12 07:39] #13590 closed, assigned to muhammedaltug

[2022-11-12 07:40] #13595 closed, assigned to nobody

[2022-11-12 07:40] #13633 closed, assigned to nobody

[2022-11-12 07:40] #13629 closed, assigned to nobody

[2022-11-12 07:40] #13634 closed, assigned to nobody

[2022-11-12 07:41] #13647 closed, assigned to nobody

[2022-11-12 07:41] #12398 closed, assigned to muhammedaltug

[2022-11-12 07:41] #13628 closed, assigned to nobody

[2022-11-12 07:41] #13674 closed, assigned to nobody

[2022-11-12 07:41] #13551 closed, assigned to gterdem

[2022-11-12 07:41] #13683 closed, assigned to nobody

[2022-11-12 07:42] #13704 closed, assigned to nobody

[2022-11-12 07:42] #13685 closed, assigned to nobody

[2022-11-12 08:05] LovelyWei commented on #14578
`abp install-libs` still doesn't work. But after copying and pasting the wwwroot folder, it worked. Good solution

[2022-11-12 08:08] enghussein opened #14620 "integrate SQL Server Reporting Services (SSRS) with Abp.io"
### Is there an existing article or article request for this?

- [X] I have searched the existing resources

### Describe the article you'd like

one of the major requests for any enterprise app is Reporting,
so could you guide us on how to integrate SQL Server Reporting Services (SSRS) with ABP

[2022-11-12 08:18] totpero commented on #14620
One of the important part of the SSRS integration is the authentification and authorization.

[2022-11-12 08:31] sturlath commented on #14252
But only length, but no phone number I know of are letters and 92385@$$%$ is not a valid email....

[2022-11-12 09:47] maliming commented on #14617
**The 'client_secret' parameter is not valid for this client application.**

Please remove the secret for the swagger client.

[2022-11-12 09:47] #14617 closed, assigned to nobody

[2022-11-12 10:01] Keay5 commented on #6745
https://docs.abp.io/en/abp/latest/Emailing

Encrypt the SMTP Password
**Abp.Mailing.Smtp.Password must be an encrypted value**. If you use the ISettingManager to set the password, you don't have to worry. It internally encrypts the values on set and decrypts on get.

**If you use the appsettings.json to store the password, you should manually inject the ISettingEncryptionService and use its Encryp

[2022-11-12 10:28] maliming commented on #14599
Check your request parameters and backend code.

[2022-11-12 12:03] sturlath opened #14622 "Browser console error "abp is not defined" at ServiceProxyScript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

I get this error in the console quite often

Here is the full log stack

[code]

I guess some "wait until loaded" logic is needed.

### Reproduction Steps

Look at the console log for a MVC app and watch this happen fairly often when refreshing page

### Expected behavior

No errors logged to the

[2022-11-12 17:20] davidzwa commented on #1168
TL;DR stick to ABP as a default (profit 🥇), or face the fact that you might have to build some things again for staying ahead of the speed/size optimization curve (profit 🥇). You can then grind to optimize your app to be super fast and small.

I'm about to migrate away from Angular (for ABP) to Vue due to the immense increase in bundle size, slowdown of app development and simply the fact that my

[2022-11-13 02:28] realLiangshiwei commented on #14578
What is the output when you run `abp install-libs`

[2022-11-13 02:30] realLiangshiwei commented on #13373
Yes,  it will include in the 7.0 version.

[2022-11-13 02:30] #13373 closed, assigned to nobody

[2022-11-13 15:53] EugeniZaplatin opened #14628 "CLI -dbms option don't work with module template"
### Description
When use  -dbms with app template in CLI. it's work and i can change DB to Postgres, for example, but with modul template created Sql only.

[2022-11-13 16:56] sturlath commented on #13114
How about [this performance increase from Blazorise](https://github.com/Megabit/Blazorise/discussions/4291) that abp.io is missing, @hikalkan? Something we can push into 7.0?

[2022-11-13 17:33] sturlath commented on #14617
And how should I do that @maliming? There is no `ClientSecret` in the config for my Swagger anywhere and the migration docs don´t mention this at all

These are basically my configs and I can´t see anything in the db

[code]

[2022-11-13 20:24] sturlath commented on #14481
Could you elaborate a little more on this @maliming?

Any code example you could point me to? I really can´t be the only one wanting this language flow, can it?

[2022-11-14 00:54] maliming commented on #14628
Duplicate of #8134

[2022-11-14 00:54] #14628 closed, assigned to nobody

[2022-11-14 03:32] LovelyWei commented on #14578
I constructed the project following the official Getting Started tutorial but had the same problem, here are the logs.

---
PS C:\Users\LovelyWei\Desktop\test> abp new Test -u blazor-server --tiered -dbms PostgreSQL
[10:57:57 INF] ABP CLI (https://abp.io)
[10:57:57 INF] Creating your project...
[10:57:57 INF] Project name: Test
[10:57:57 INF] Tiered: yes
[10:57:57 INF] DBMS: PostgreSQL
[10:57:57 I

[2022-11-14 04:04] maliming commented on #14578
**YARN is not installed, which may cause package inconsistency, please use YARN instead of NPM. visit https://classic.yarnpkg.com/lang/en/docs/install/ and install YARN**

[2022-11-14 04:06] #14578 closed, assigned to nobody

[2022-11-14 05:17] maliming commented on #13952
- `IDistributedCache<IdentityModelTokenCacheItem>`
  Absolute expiration duration (as seconds) for the access token cache. Default: 1800 seconds (30 minutes)
- `IDistributedCache<IdentityModelDiscoveryDocumentCacheItem>`
   Absolute expiration duration (as seconds) for the DiscoveryDocument cache. Default: 1800 seconds (30 minutes)

- `IDistributedCache<TenantConfiguration>` Absolute expiration re

[2022-11-14 06:07] maliming opened #14629 "How to add a custom grant type in OpenIddict."

[2022-11-14 06:33] #14607 closed, assigned to braim23

[2022-11-14 07:34] EngincanV opened #14636 "Revise 7.0-Preview Migration Guide & Complete"
@maliming Can you revise the [7.0-Preview Migration Guide](https://github.com/abpframework/abp/blob/dev/docs/en/Migration-Guides/Abp-7_0.md) and mention the missing breaking-changes, please?

See `breaking-changes`:

* https://github.com/abpframework/abp/issues?q=is%3Aissue+milestone%3A7.0-preview+label%3A%22breaking+change%22+is%3Aclosed
* https://github.com/abpframework/abp/pulls?q=is%3Apr+miles

[2022-11-14 08:25] abdullahshaqaliah opened #14638 "Login As another user using abp framework with identity 4 server"
ABP Framework version 6

Hi
How i can impersonation/Login as  another using abp framework with identity 4 server

I wrote this code, but the token only changes at the application identity server
[code]

[2022-11-14 11:38] EugeniZaplatin commented on #8134
This issure not resolved in 4.3 preview

[2022-11-14 13:10] puschie286 opened #14645 "Default repository cannot be combined with custom repositories"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

when using custom & default repository in one query, you get a "multiple context instances" exception.

### Reproduction Steps

1. create two entities
2. create custom repository for entity A
3. register custom repository for entity A and register default repository for entity B
4. create query th

[2022-11-14 13:41] muhlisatac opened #14647 "abp/aspnetcore.mvc.ui.theme.leptonxlite version not found~2.0.0-preview20221014"
Im getting below warning when ı execute abp install-libs with newly created abp mvc project.
Couldn't find any versions for "@abp/aspnetcore.mvc.ui.theme.leptonxlite" that matches "~2.0.0-preview20221014".
My abp cli version is '7.0.0-rc.1'.

[2022-11-14 14:20] muhlisatac opened #14649 "Method not found: 'Volo.Abp.Localization.LocalizationResource"
I have migrated my abp project(MVC - Ef Core) from v6 to v7. Now Im getting the below exception when I start the application.
Method not found: 'Volo.Abp.Localization.LocalizationResource Volo.Abp.Localization.LocalizationResourceExtensions.AddVirtualJson(Volo.Abp.Localization.LocalizationResource, System.String)'.

Full exception detail is below;

Volo.Abp.AbpInitializationException: An error occ

[2022-11-14 16:10] cangunaydin opened #14652 "Is it possible to apply request reply pattern to administrion service on EshopOnAbp?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

While i am looking at EshopOnAbp microservice solution, i have seen that as a design administration service (permission management) needs to call identity service (because it needs the user list or id not sure) through http. Because of

[2022-11-14 21:15] jprodriguez-nbs opened #14654 "7.0.0-rc1 LocalizationResourceExtensions.AddVirtualJson System.MissingMethodException"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

Using 7.0.0-rc1, after updating all libraries from a .net 6 and volo abp 6.0.1 application to .net 7 and volo abp 7.0.0.-rc1, the following exception happens:

`Volo.Abp.AbpInitializationException: An error occurred during the initialize Volo.Abp.Modularity.OnApplicationInitializationModuleLifecyc

[2022-11-14 22:27] cangunaydin commented on #14652
Hello,
I think i have found the part that i am looking for.

[code]

here in GetRolesAsync, i think request reply pattern can be implemented. So it doesn't have to deal with authentication anymore or to depend on extra identityclient module.

[2022-11-15 01:20] maliming commented on #14654
Can you try to update it too?

[2022-11-15 01:23] maliming commented on #14649
Please try to update all `volo` and `lepton` packages to rc1.

You can create a new 7.0 project to check the latest code.

[2022-11-15 01:30] maliming commented on #14638
hi

This is more related to the Identity Server.

[2022-11-15 02:35] gterdem commented on #14652
We have lots of improvements about separating the coupling between services for microservices. You can check https://github.com/abpframework/abp/pull/13644 for permission related changes

[2022-11-15 05:25] #14636 closed, assigned to maliming

[2022-11-15 05:26] ManaiAbdessalem opened #14660 "Abp exception when Redis cache is enabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Description

We are using ABP framework version 5.3.4
We are enabling Redis cache.
We are using backgroundServices
Locally, there is no issues.
When deployed, there is also no issues in blazor, Api, identityserver.
When deploying we are using Azure Redis for cache.

We Enabled Azure Appinsights:
We noticed tha

[2022-11-15 06:40] maliming commented on #14660
Sometimes it may be that the HTTP request is canceled.

[2022-11-15 06:47] ManaiAbdessalem commented on #14660
what cancels it?
And why when redis is disabled, there is no errors?
The source of http request is AbpApplicationConfiguration/Get
Who is calling this endpoint every 3-5minutes?

[2022-11-15 07:13] muhlisatac commented on #14649
I already upgraded all the volo packages. Indeed i followed this https://docs.aspnetzero.com/en/common/latest/Version-Updating link to create my branches at first and I followed it while upgrading. Yesterday there was no other version for leptonx but now it has a new rc version. "@abp/aspnetcore.mvc.ui.theme.leptonxlite": "2.0.0-rc.1". I tried it too but still getting the same exception.

[2022-11-15 07:15] muhlisatac commented on #14654
[same issue here](https://github.com/abpframework/abp/issues/14649)

[2022-11-15 07:17] muhlisatac commented on #14647
Now i can be able to change it to "@abp/aspnetcore.mvc.ui.theme.leptonxlite": "2.0.0-rc.1".

[2022-11-15 07:19] maliming commented on #14649
hi

Have you created a new 7.0 template project?

[2022-11-15 07:21] muhlisatac commented on #14649
Yes. https://docs.aspnetzero.com/en/common/latest/Version-Updating this link also tell us to create new project.

[2022-11-15 07:28] maliming commented on #14649
The zero is using [aspnetboilerplate](https://github.com/aspnetboilerplate/aspnetboilerplate), not https://github.com/abpframework/abp

[2022-11-15 07:29] gizemmutukurt opened #14666 "All Templates - The date range packages don't seem to be download."
**App:** All Templates
**Version:** `7.0.0-rc.1`
**Problem:** The date range packages don't seem to be download

![image](https://user-images.githubusercontent.com/99716457/201855967-521c73ab-cdf6-46d0-8a6e-3a40d890cef4.png)

[2022-11-15 07:30] muhlisatac commented on #14649
I know it. I just used the pattern for future upgrades.

[2022-11-15 07:33] personball opened #14667 "AbpRedisCache maybe should set `CommandFlags.DemandMaster` on every mutation operation to redis master-slave cluster"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Is your feature request related to a problem? Please describe the problem.

From two years ago,  in my team projects with Volo.Abp v3.1.2, we customize  `AbpRedisCache` to set `CommandFlags.DemandMaster` for master-slave redis cluster, as the default Impl in abp or Microsoft.Extensions.Caching.StackExchangeRed